// 749:0
[com_0]
type=rectangle
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=popup_background
colour=0x000000
fill=yes
trans=100

// 749:1
[com_1]
type=graphic
width=10
height=10
layer=popup_background
graphic="aif_overlay_frame_gold_corner_1,1"
hflip=yes
colour=0xffffff
clickmask=no

// 749:2
[com_2]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
layer=popup_background
graphic="aif_overlay_frame_gold_corner_1,0"
tiling=yes
colour=0xffffff
clickmask=no

// 749:3
[com_3]
type=graphic
width=10
height=10
xmode=abs_right
layer=popup_background
graphic="aif_overlay_frame_gold_corner_1,1"
colour=0xffffff
clickmask=no

// 749:4
[com_4]
type=graphic
width=10
height=20
heightmode=minus
ymode=abs_centre
layer=popup_background
graphic="aif_overlay_frame_gold_corner_1,2"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 749:5
[golem_status]
type=rectangle
width=71
heightmode=minus
layer=golem_status_layer
colour=0x08c02e
fill=yes

// 749:6
[com_6]
type=graphic
width=111
height=22
layer=golem_layer
graphic=aif_6awe2_hud_golem
colour=0xffffff
clickmask=no

// 749:7
[universe]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
onload=6awe2_score_update
onvartransmit=script9501
onvartransmitlist=6awe2_lifetime_contribution_currency

// 749:8
[scorebar]
type=layer
width=500
height=104
xmode=abs_centre
layer=universe

// 749:9
[com_9]
type=graphic
y=21
width=462
height=75
xmode=abs_centre
layer=scorebar
graphic=aif_6awe2_hud_02
colour=0xffffff
clickmask=no

// 749:10
[background]
type=layer
y=17
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
layer=scorebar

// 749:11
[scorebar_fill]
type=layer
width=352
height=32
xmode=abs_centre
layer=background

// 749:12
[armadyl_dark]
type=layer
y=3
width=8199
height=16
widthmode=proportion
xmode=abs_right
layer=scorebar_fill

// 749:13
[armadyl_fill_dark]
type=graphic
y=5
width=16384
height=12
widthmode=proportion
xmode=abs_centre
layer=armadyl_dark
graphic="aif_6awe2_armadyl_energy_level,3"
tiling=yes
colour=0xffffff
clickmask=no

// 749:14
[armadyl_fill]
type=layer
y=3
width=8199
height=16
widthmode=proportion
xmode=abs_right
layer=scorebar_fill

// 749:15
[armadyl_fill_main]
type=graphic
y=5
width=16384
height=12
widthmode=proportion
xmode=abs_centre
layer=armadyl_fill
graphic="aif_6awe2_armadyl_energy_level,0"
tiling=yes
colour=0xffffff
clickmask=no

// 749:16
[armadyl_glow]
type=layer
y=3
width=8199
height=16
widthmode=proportion
xmode=abs_right
layer=scorebar_fill
hide=yes

// 749:17
[armadyl_fill_glow]
type=graphic
y=5
width=16384
height=12
widthmode=proportion
xmode=abs_centre
layer=armadyl_glow
graphic="aif_6awe2_armadyl_energy_level,1"
tiling=yes
trans=255
colour=0xffffff
clickmask=no

// 749:18
[armadyl_fill_glow_bright]
type=graphic
y=5
width=425
height=12
xmode=abs_centre
layer=armadyl_glow
graphic="aif_6awe2_armadyl_energy_level,2"
tiling=yes
trans=255
colour=0xffffff
clickmask=no

// 749:19
[bandos_dark]
type=layer
y=2
width=8199
height=16
widthmode=proportion
layer=scorebar_fill

// 749:20
[bandos_fill_dark]
type=graphic
y=6
width=16384
height=12
widthmode=proportion
xmode=abs_centre
layer=bandos_dark
graphic="aif_6awe2_bandos_energy_level,3"
tiling=yes
colour=0xffffff
clickmask=no

// 749:21
[bandos_fill]
type=layer
y=2
width=8199
height=16
widthmode=proportion
layer=scorebar_fill

// 749:22
[bandos_fill_main]
type=graphic
y=6
width=16384
height=12
widthmode=proportion
xmode=abs_centre
layer=bandos_fill
graphic="aif_6awe2_bandos_energy_level,0"
tiling=yes
colour=0xffffff
clickmask=no

// 749:23
[bandos_glow]
type=layer
y=2
width=8199
height=16
widthmode=proportion
layer=scorebar_fill
hide=yes

// 749:24
[bandos_fill_glow]
type=graphic
y=6
width=16384
height=12
widthmode=proportion
xmode=abs_centre
layer=bandos_glow
graphic="aif_6awe2_bandos_energy_level,1"
tiling=yes
trans=255
colour=0xffffff
clickmask=no

// 749:25
[bandos_fill_glow_bright]
type=graphic
y=6
width=16384
height=12
widthmode=proportion
xmode=abs_centre
layer=bandos_glow
graphic="aif_6awe2_bandos_energy_level,2"
tiling=yes
trans=255
colour=0xffffff
clickmask=no

// 749:26
[armadyl_pulse_b]
type=graphic
y=-2
width=32
height=32
xmode=abs_right
layer=scorebar_fill
hide=yes
graphic=aif_6awe2_armadyl_energy_highlight
hflip=yes
colour=0xffffff
clickmask=no

// 749:27
[bandos_pulse_b]
type=graphic
y=-2
width=32
height=32
layer=scorebar_fill
hide=yes
graphic=aif_6awe2_bandos_energy_highlight
colour=0xffffff
clickmask=no

// 749:28
[armadyl_pulse]
type=graphic
y=9
width=32
height=8
xmode=abs_right
layer=scorebar_fill
hide=yes
graphic=aif_6awe2_armadyl_energy_pulse
hflip=yes
colour=0xffffff
clickmask=no

// 749:29
[bandos_pulse]
type=graphic
y=9
width=32
height=8
layer=scorebar_fill
hide=yes
graphic=aif_6awe2_bandos_energy_pulse
colour=0xffffff
clickmask=no

// 749:30
[armadyl_chevrons]
type=layer
width=31
height=19
xmode=abs_right
layer=scorebar_fill
hide=yes

// 749:31
[armadyl_chevron_right]
type=graphic
width=31
height=11
ymode=abs_bottom
layer=armadyl_chevrons
graphic="aif_6th_age_divine_pulse,2"
hflip=yes
colour=0xffffff
clickmask=no

// 749:32
[armadyl_chevron_middle]
type=graphic
width=31
height=11
ymode=abs_bottom
layer=armadyl_chevrons
graphic="aif_6th_age_divine_pulse,1"
hflip=yes
colour=0xffffff
clickmask=no

// 749:33
[armadyl_chevron_left]
type=graphic
width=31
height=11
ymode=abs_bottom
layer=armadyl_chevrons
graphic="aif_6th_age_divine_pulse,0"
hflip=yes
colour=0xffffff
clickmask=no

// 749:34
[bandos_chevrons]
type=layer
width=31
height=19
layer=scorebar_fill
hide=yes

// 749:35
[bandos_chevron_left]
type=graphic
width=31
height=11
xmode=abs_right
ymode=abs_bottom
layer=bandos_chevrons
graphic="aif_6th_age_divine_pulse,2"
colour=0xffffff
clickmask=no

// 749:36
[bandos_chevron_middle]
type=graphic
width=31
height=11
xmode=abs_right
ymode=abs_bottom
layer=bandos_chevrons
graphic="aif_6th_age_divine_pulse,1"
colour=0xffffff
clickmask=no

// 749:37
[bandos_chevron_right]
type=graphic
width=31
height=11
xmode=abs_right
ymode=abs_bottom
layer=bandos_chevrons
graphic="aif_6th_age_divine_pulse,0"
colour=0xffffff
clickmask=no

// 749:38
[score_divider]
type=line
y=22
height=14
xmode=abs_centre
layer=scorebar
linewid=3
colour=0x525252

// 749:39
[player_score_layer]
type=layer
y=41
width=165
height=51
xmode=abs_centre
layer=universe
onvartransmit=6awe2_update_energy
onvartransmitlist=6awe2_var_2

// 749:40
[energy_tooltip_trigger]
type=layer
width=16391
height=8038
widthmode=proportion
heightmode=proportion
ymode=abs_bottom
layer=player_score_layer
onmouseleave=deltooltip(6awe2_hud:tooltips)
onmouserepeat=script9505(event_com, event_mousex, event_mousey)

// 749:41
[score_tooltip_trigger]
type=layer
width=16391
height=8038
widthmode=proportion
heightmode=proportion
layer=player_score_layer
onmouseleave=deltooltip(6awe2_hud:tooltips)
onmouserepeat=script9504(event_com, event_mousex, event_mousey)

// 749:42
[player_score]
type=text
x=31
y=7
width=100
height=20
layer=player_score_layer
textfont=museo_sans_11pt_regular
text=0123456789
textshadow=yes

// 749:43
[player_score_flash]
type=text
x=50
y=7
width=100
height=20
layer=player_score_layer
textfont=museo_sans_11pt_regular
text=0123456789
textalignh=2
textshadow=yes
colour=0x08ff00
trans=255

// 749:44
[player_energy]
type=rectangle
x=26
y=35
width=129
height=6
layer=player_score_layer
colour=0x08c02e
fill=yes

// 749:45
[warning_layer]
type=layer
y=35
width=456
height=35
xmode=abs_centre
layer=universe
hide=yes

// 749:46
[warning_frame_middle]
type=graphic
width=418
height=34
xmode=abs_centre
ymode=abs_centre
layer=warning_layer
graphic=aif_6awe2_hud_scrn_lrg_02
trans=255
colour=0xffffff
clickmask=no

// 749:47
[warning_text]
type=text
width=405
height=34
xmode=abs_centre
ymode=abs_centre
layer=warning_layer
textfont=museo_sans_11pt_regular_multiline
text=Warning/Information text goes in here.
textalignh=1
textalignv=1
textshadow=yes
colour=0xfbfbfa

// 749:48
[globalscore]
type=layer
width=460
height=21
xmode=abs_centre
layer=universe

// 749:49
[difference_score]
type=text
y=2
width=300
height=16
xmode=abs_centre
layer=globalscore
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes

// 749:50
[bandos_score]
type=text
y=2
width=72
height=10
layer=globalscore
textfont=museo_sans_11pt_regular
text=0
textshadow=yes
colour=0xd66e1f
onvartransmit=6awe2_score_update
onvartransmitlist=6awe2_bandos_score

// 749:51
[armadyl_score]
type=text
y=2
width=96
height=10
xmode=abs_right
layer=globalscore
textfont=museo_sans_11pt_regular
text=0
textalignh=2
textshadow=yes
colour=0xdcdbd6
onvartransmit=6awe2_score_update
onvartransmitlist=6awe2_armadyl_score

// 749:52
[bandos_icons]
type=layer
x=-143
y=42
width=116
height=24
xmode=abs_centre
layer=universe

// 749:53
[bandos_icon_4]
type=layer
x=94
y=4
width=18
height=18
layer=bandos_icons
hide=yes
onmouseleave=deltooltip(6awe2_hud:tooltips)
onmouserepeat=script9503(event_com, event_mousex, event_mousey)

// 749:54
[bandos_icon_3]
type=layer
x=70
y=4
width=18
height=18
layer=bandos_icons
hide=yes
onmouseleave=deltooltip(6awe2_hud:tooltips)
onmouserepeat=script9503(event_com, event_mousex, event_mousey)

// 749:55
[bandos_icon_2]
type=layer
x=45
y=4
width=18
height=18
layer=bandos_icons
hide=yes
onmouseleave=deltooltip(6awe2_hud:tooltips)
onmouserepeat=script9503(event_com, event_mousex, event_mousey)

// 749:56
[bandos_icon_1]
type=layer
x=20
y=4
width=18
height=18
layer=bandos_icons
hide=yes
onmouseleave=deltooltip(6awe2_hud:tooltips)
onmouserepeat=script9503(event_com, event_mousex, event_mousey)

// 749:57
[armadyl_icons]
type=layer
x=143
y=42
width=116
height=24
xmode=abs_centre
layer=universe

// 749:58
[armadyl_icon_4]
type=layer
x=94
y=4
width=18
height=18
xmode=abs_right
layer=armadyl_icons
hide=yes
onmouseleave=deltooltip(6awe2_hud:tooltips)
onmouserepeat=script9503(event_com, event_mousex, event_mousey)

// 749:59
[armadyl_icon_3]
type=layer
x=70
y=4
width=18
height=18
xmode=abs_right
layer=armadyl_icons
hide=yes
onmouseleave=deltooltip(6awe2_hud:tooltips)
onmouserepeat=script9503(event_com, event_mousex, event_mousey)

// 749:60
[armadyl_icon_2]
type=layer
x=45
y=4
width=18
height=18
xmode=abs_right
layer=armadyl_icons
hide=yes
onmouseleave=deltooltip(6awe2_hud:tooltips)
onmouserepeat=script9503(event_com, event_mousex, event_mousey)

// 749:61
[armadyl_icon_1]
type=layer
x=20
y=4
width=18
height=18
xmode=abs_right
layer=armadyl_icons
hide=yes
onmouseleave=deltooltip(6awe2_hud:tooltips)
onmouserepeat=script9503(event_com, event_mousex, event_mousey)

// 749:62
[golem_layer]
type=layer
x=-140
y=70
width=111
height=22
xmode=abs_centre
layer=universe
hide=yes
onmouseleave=deltooltip(6awe2_hud:tooltips)

// 749:63
[popup_layer]
type=layer
y=96
width=114
height=26
xmode=abs_centre
layer=universe
onload=script9493(event_com)
onvarctransmit=script9495(event_com)
onvarctransmitlist=6awe2_pvp_warning_state

// 749:64
[popup_background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=popup_layer

// 749:65
[com_65]
type=graphic
width=10
height=20
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=popup_background
graphic="aif_overlay_frame_gold_corner_1,2"
tiling=yes
colour=0xffffff
clickmask=no

// 749:66
[com_66]
type=graphic
width=10
height=10
ymode=abs_bottom
layer=popup_background
graphic="aif_overlay_frame_gold_corner_1,1"
vflip=yes
hflip=yes
colour=0xffffff

// 749:67
[com_67]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=popup_background
graphic="aif_overlay_frame_gold_corner_1,0"
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 749:68
[com_68]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_bottom
layer=popup_background
graphic="aif_overlay_frame_gold_corner_1,1"
vflip=yes
colour=0xffffff
clickmask=no

// 749:69
[popup_content]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=popup_layer

// 749:70
[popup_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=popup_content
textfont=museo_sans_13pt_bold
text=PvP enabled
textlineheight=20
textalignh=1
textalignv=1
textshadow=yes
colour=0xffff00

// 749:71
[golem_status_layer]
type=layer
x=27
y=8
width=71
height=6
layer=golem_layer

// 749:72
[tooltips]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
hide=yes

