// 723:0
[base]
type=layer
widthmode=minus
heightmode=minus

// 723:1
[bespoke_window]
type=layer
width=170
height=116
layer=base
onload=script8420(6awe3_game_hud:bespoke_window_background, 6awe3_game_hud:bespoke_window_border, 6awe3_game_hud:bespoke_window_content, null, "", 21259, string_1005)

// 723:2
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 723:3
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 723:4
[time_remaining_text]
type=text
y=1
width=12
height=20
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content
textfont=museo_sans_13pt_bold
text=Time left : 20m
textalignh=1
textalignv=1
textshadow=yes
colour=0xfbf5e6

// 723:5
[round_number_text]
type=text
y=38
width=12
height=20
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content
textfont=museo_sans_11pt_regular_multiline
text=Round number:
textalignh=1
textalignv=1
textshadow=yes
colour=0xfbf5e6

// 723:6
[player_count_text]
type=text
y=53
width=12
height=20
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content
textfont=museo_sans_11pt_regular_multiline
text=Total players:
textalignh=1
textalignv=1
textshadow=yes
colour=0xfbf5e6

// 723:7
[eliminated_count_text]
type=text
y=68
width=12
height=20
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content
textfont=museo_sans_11pt_regular_multiline
text=Eliminated players:
textalignh=1
textalignv=1
textshadow=yes
colour=0xfbf5e6

// 723:8
[score_text]
type=text
y=83
width=12
height=20
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content
textfont=museo_sans_11pt_regular_multiline
text=Score:
textalignh=1
textalignv=1
textshadow=yes
colour=0xfbf5e6

// 723:9
[direction_text]
type=text
y=17
width=12
height=20
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content
textfont=museo_sans_11pt_regular_multiline
text=Safe zone: North
textalignh=1
textalignv=1
textshadow=yes
colour=0xfbf5e6

// 723:10
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 723:11
[countdown_layer]
type=layer
y=100
height=100
widthmode=minus
heightmode=minus
layer=base

// 723:12
[text_layer]
type=layer
x=170
width=170
height=100
widthmode=minus
layer=base
hide=yes
onload=script8420(6awe3_game_hud:notification_text_window_background, 6awe3_game_hud:notification_text_window_border, 6awe3_game_hud:notification_text_window_content, null, "", 21259, string_1005)

// 723:13
[notification_text_window_background]
type=layer
x=10
y=10
width=20
height=20
widthmode=minus
heightmode=minus
layer=text_layer

// 723:14
[notification_text_window_content]
type=layer
x=10
y=10
width=20
height=20
widthmode=minus
heightmode=minus
layer=text_layer

// 723:15
[notification_text]
type=text
x=5
y=5
width=10
height=10
widthmode=minus
heightmode=minus
layer=notification_text_window_content
textfont=museo_sans_15pt_bold
textlineheight=17
textalignh=1
textalignv=1
textshadow=yes

// 723:16
[notification_text_window_border]
type=layer
x=10
y=10
width=20
height=20
widthmode=minus
heightmode=minus
layer=text_layer

