// 677:0
[myscore_pvm_background]
type=layer
y=24
height=24
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=myscore_pvm_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 677:1
[myscore_pvm_title]
type=text
y=-28
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=myscore_pvm_layer
textfont=cinzel_13pt_bold
text=PLAYER V MONKEY
textalignh=1
textshadow=yes
colour=0xcce0ff

// 677:2
[myscore_pvm_caption]
type=text
y=2
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=myscore_pvm_layer
textfont=cinzel_12pt_bold
text=Monkeys Punched
textalignh=1
textshadow=yes
colour=0xffe028

// 677:3
[myscore_kills_monkey_weak]
type=text
y=27
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=myscore_pvm_layer
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textshadow=yes

// 677:4
[myscore_extra_background]
type=layer
y=25
height=25
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=myscore_gathering_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 677:5
[myscore_gathering_title]
type=text
y=-27
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=myscore_gathering_layer
textfont=cinzel_13pt_bold
text=Gathering
textalignh=1
textshadow=yes
colour=0xcce0ff

// 677:6
[myscore_gather_caption]
type=text
y=3
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=myscore_gathering_layer
textfont=cinzel_12pt_bold
text=Trophies
textalignh=1
textshadow=yes
colour=0xffe028

// 677:7
[myscore_gathering_points]
type=text
y=28
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=myscore_gathering_layer
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textshadow=yes

// 677:8
[myscore_games_background]
type=layer
y=25
height=25
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=myscore_games_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 677:9
[myscore_games_title]
type=text
y=-60
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=myscore_games_layer
textfont=cinzel_13pt_bold
text=Games
textalignh=1
textshadow=yes
colour=0xcce0ff

// 677:10
[myscore_games_waves_caption]
type=text
y=-25
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=myscore_games_layer
textfont=cinzel_12pt_bold
text=Waves Survived
textalignh=1
textshadow=yes
colour=0xffe028

// 677:11
[myscore_games_complete_caption]
type=text
y=30
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=myscore_games_layer
textfont=cinzel_12pt_bold
text=Games Survived
textalignh=1
textshadow=yes
colour=0xffe028

// 677:12
[myscore_wave_points]
type=text
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=myscore_games_layer
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textshadow=yes

// 677:13
[myscore_game_points]
type=text
y=55
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=myscore_games_layer
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textshadow=yes

// 677:14
[myscore_pvp_background]
type=layer
y=25
height=25
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=myscore_pvp_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 677:15
[myscore_pvp_title]
type=text
height=30
widthmode=minus
xmode=abs_centre
layer=myscore_pvp_layer
textfont=cinzel_13pt_bold
text=PLAYER V PLAYER
textalignh=1
textshadow=yes
colour=0xcce0ff

// 677:16
[myscore_pvp_kills_caption]
type=text
y=35
height=20
widthmode=minus
xmode=abs_centre
layer=myscore_pvp_layer
textfont=cinzel_12pt_bold
text=Kills
textalignh=1
textshadow=yes
colour=0xffe028

// 677:17
[myscore_pvp_deaths_caption]
type=text
y=95
height=20
widthmode=minus
xmode=abs_centre
layer=myscore_pvp_layer
textfont=cinzel_12pt_bold
text=Deaths
textalignh=1
textshadow=yes
colour=0xffe028

// 677:18
[myscore_pvp_ratio_caption]
type=text
y=155
height=20
widthmode=minus
xmode=abs_centre
layer=myscore_pvp_layer
hide=yes
textfont=cinzel_12pt_bold
text=Ratio
textalignh=1
textshadow=yes
colour=0xffe028

// 677:19
[myscore_deaths_player]
type=text
y=120
height=20
widthmode=minus
xmode=abs_centre
layer=myscore_pvp_layer
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textshadow=yes

// 677:20
[myscore_kills_player]
type=text
y=60
height=20
widthmode=minus
xmode=abs_centre
layer=myscore_pvp_layer
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textshadow=yes

// 677:21
[myscore_ratio_player]
type=text
y=180
height=20
widthmode=minus
xmode=abs_centre
layer=myscore_pvp_layer
hide=yes
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textshadow=yes

// 677:22
[panel_background]
type=layer
width=14
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 677:23
[root_layer]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(6awe3_score_board:background_layer, 6awe3_score_board:frame_layer, 6awe3_score_board:content_layer, 6awe3_score_board:close_button_layer, "Statistics", 21218, string_1007)

// 677:24
[background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=root_layer

// 677:25
[content_layer]
type=layer
y=25
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root_layer

// 677:26
[panel_content]
type=layer
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 677:27
[my_score_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=panel_content
onload=script5829
onvartransmit=script5829
onvartransmitlist=6awe3_stat_tracking,6awe3_stat_tracking2,6awe3_stat_tracking3,6awe3_stat_tracking4

// 677:28
[myscore_gathering_layer]
type=layer
x=-110
y=81
width=160
height=85
xmode=abs_centre
ymode=abs_centre
layer=my_score_layer

// 677:29
[myscore_pvm_layer]
type=layer
x=110
y=-82
width=160
height=87
xmode=abs_centre
ymode=abs_centre
layer=my_score_layer

// 677:30
[myscore_games_layer]
type=layer
x=-110
y=-50
width=160
height=150
xmode=abs_centre
ymode=abs_centre
layer=my_score_layer

// 677:31
[myscore_pvp_layer]
type=layer
x=110
y=47
width=160
height=153
xmode=abs_centre
ymode=abs_centre
layer=my_score_layer

// 677:32
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=root_layer

// 677:33
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=root_layer
transmitop1=yes
op1=Close
onop=closebutton_click

