// 405:0
[universe]
type=layer
width=641
height=424
xmode=abs_centre
ymode=abs_centre
onload=script8420(ab_tutorial_upsell:background, ab_tutorial_upsell:border, ab_tutorial_upsell:content, null, "", 35081, null)

// 405:1
[close_button_container_layer]
type=layer
x=316
y=-211
width=29
height=29
xmode=abs_centre
ymode=abs_centre
transmitop1=yes
op1=Close
onop=closebutton_click

// 405:2
[background]
type=layer
x=4
y=4
width=4
height=4
widthmode=minus
heightmode=minus
layer=universe

// 405:3
[content]
type=layer
x=4
y=4
width=4
height=4
widthmode=minus
heightmode=minus
layer=universe

// 405:4
[border]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 405:5
[com_5]
type=graphic
width=29
height=29
layer=close_button_container_layer
graphic=rs3_child_close_button_backing
colour=0xffffff
clickmask=no

// 405:6
[close_button_layer]
type=graphic
x=5
y=5
width=19
height=19
layer=close_button_container_layer
graphic=rs3_child_close_button
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, ab_upsell_close_button)

// 405:7
[background_image]
type=graphic
width=633
height=416
layer=content
graphic=conversion_popup
tiling=yes
colour=0xffffff
clickmask=no

// 405:8
[bulletpoints]
type=layer
x=38
y=98
height=320
widthmode=minus
layer=content

// 405:9
[bulletpoint]
type=layer
width=400
height=32
layer=bulletpoints

// 405:10
[bulletpoint_4]
type=layer
y=31
width=592
height=32
layer=bulletpoints

// 405:11
[bulletpoint_1]
type=layer
y=63
width=400
height=32
layer=bulletpoints

// 405:12
[bulletpoint_7]
type=layer
y=95
width=400
height=32
layer=bulletpoints

// 405:13
[bulletpoint_10]
type=layer
y=127
width=380
height=32
layer=bulletpoints

// 405:14
[bulletpoint_13]
type=layer
y=158
width=592
height=32
layer=bulletpoints

// 405:15
[bulletpoint_text]
type=text
x=24
width=24
widthmode=minus
heightmode=minus
layer=bulletpoint
textfont=museo_sans_13pt_regular
text=10 Extra Skills
textalignv=1
textshadow=yes

// 405:16
[header]
type=layer
y=-3
height=78
widthmode=minus
layer=content

// 405:17
[header_text]
type=text
y=17
widthmode=minus
heightmode=minus
layer=header
textfont=cinzel_25pt_bold_multiline
text=SO MUCH MORE
textalignh=1
textalignv=1
textshadow=yes
colour=0xfff8c1

// 405:18
[header_1]
type=text
y=-4
widthmode=minus
heightmode=minus
layer=header
textfont=cinzel_15pt_bold
text=MEMBERS GET
textalignh=1
textalignv=1
textshadow=yes
colour=0xfff8c1

// 405:19
[buttons]
type=layer
widthmode=minus
heightmode=minus
layer=content

// 405:20
[positive_click]
type=layer
y=42
width=192
height=60
xmode=abs_centre
ymode=abs_bottom
layer=buttons
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_button_large, "BUY NOW")
onop=script4060

// 405:21
[bulletpoint_3]
type=text
x=24
width=24
widthmode=minus
heightmode=minus
layer=bulletpoint_1
textfont=museo_sans_13pt_regular
text=180+ Additional Quests
textalignv=1
textshadow=yes

// 405:22
[bulletpoint_6]
type=text
x=24
widthmode=minus
heightmode=minus
layer=bulletpoint_4
textfont=museo_sans_13pt_regular
text=3 x Larger World Map
textalignv=1
textshadow=yes

// 405:23
[bulletpoint_9]
type=text
x=24
width=24
widthmode=minus
heightmode=minus
layer=bulletpoint_7
textfont=museo_sans_13pt_regular
text=God-killing Weapons and Armours
textalignv=1
textshadow=yes

// 405:24
[bulletpoint_12]
type=text
x=24
width=24
widthmode=minus
heightmode=minus
layer=bulletpoint_10
textfont=museo_sans_13pt_regular
text=Customisable House and Port
textalignv=1
textshadow=yes

// 405:25
[bulletpoint_15]
type=text
x=24
widthmode=minus
heightmode=minus
layer=bulletpoint_13
textfont=museo_sans_13pt_regular
text=An extra daily Treasure Hunter key
textalignv=1
textshadow=yes

