// 1852:0
[com_0]
type=graphic
width=28
height=28
layer=combat_info_wrapper
graphic="achievement_icon_combat_28px,0"
colour=0xffffff
clickmask=no

// 1852:1
[com_1]
type=text
width=30
height=15
widthmode=minus
xmode=abs_right
layer=combat_info_wrapper
textfont=museo_sans_11pt_regular_multiline
text=Combat
textalignh=2
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1852:2
[combat_xy]
type=text
y=15
width=30
height=15
widthmode=minus
xmode=abs_right
layer=combat_info_wrapper
textfont=museo_sans_11pt_regular_multiline
text=0000/0000
textalignh=2
textalignv=1
textshadow=yes

// 1852:3
[combat_progress_bar_wrapper]
type=layer
height=10
widthmode=minus
ymode=abs_bottom
layer=combat_info_wrapper

// 1852:4
[com_4]
type=graphic
width=28
height=28
layer=exploration_info_wrapper
graphic="achievement_icon_exploration_28px,0"
colour=0xffffff
clickmask=no

// 1852:5
[com_5]
type=text
width=30
height=15
widthmode=minus
xmode=abs_right
layer=exploration_info_wrapper
textfont=museo_sans_11pt_regular_multiline
text=Exploration
textalignh=2
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1852:6
[expo_xy]
type=text
y=15
width=30
height=15
widthmode=minus
xmode=abs_right
layer=exploration_info_wrapper
textfont=museo_sans_11pt_regular_multiline
text=0000/0000
textalignh=2
textalignv=1
textshadow=yes

// 1852:7
[exploration_progress_bar_wrapper]
type=layer
height=10
widthmode=minus
ymode=abs_bottom
layer=exploration_info_wrapper

// 1852:8
[com_8]
type=graphic
width=28
height=28
layer=skill_info_wrapper
graphic="achievement_icon_skilling_28px,0"
colour=0xffffff
clickmask=no

// 1852:9
[com_9]
type=text
width=30
height=15
widthmode=minus
xmode=abs_right
layer=skill_info_wrapper
textfont=museo_sans_11pt_regular_multiline
text=Skills
textalignh=2
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1852:10
[skill_xy]
type=text
y=15
width=30
height=15
widthmode=minus
xmode=abs_right
layer=skill_info_wrapper
textfont=museo_sans_11pt_regular_multiline
text=0000/0000
textalignh=2
textalignv=1
textshadow=yes

// 1852:11
[skills_percent_bar_wrapper]
type=layer
height=10
widthmode=minus
ymode=abs_bottom
layer=skill_info_wrapper

// 1852:12
[root]
type=layer
width=686
heightmode=minus

// 1852:13
[left_layer]
type=layer
x=5
y=5
width=336
height=10
heightmode=minus
layer=root

// 1852:14
[com_14]
type=text
x=10
width=20
height=16
widthmode=minus
layer=almost_wrapper
textfont=museo_sans_11pt_regular_multiline
text=You've almost finished...
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, -1, 2)

// 1852:15
[almost_layer_1]
type=layer
x=10
y=16
width=10
height=40
widthmode=minus
layer=almost_wrapper
transmitop1=yes
op1=Go To

// 1852:16
[almost_layer_2]
type=layer
x=10
y=56
width=10
height=40
widthmode=minus
layer=almost_wrapper
transmitop1=yes
op1=Go To

// 1852:17
[com_17]
type=graphic
width=22
heightmode=minus
ymode=abs_centre
layer=overall_progress_wrapper
graphic="rs3_progress_bar_backing_22px,0"
colour=0xffffff
clickmask=no

// 1852:18
[com_18]
type=graphic
width=44
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=overall_progress_wrapper
graphic="rs3_progress_bar_backing_22px,1"
colour=0xffffff
clickmask=no

// 1852:19
[com_19]
type=graphic
width=22
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=overall_progress_wrapper
graphic="rs3_progress_bar_backing_22px,2"
colour=0xffffff
clickmask=no

// 1852:20
[overall_progress_layer]
type=layer
x=4
width=8
height=6
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=overall_progress_wrapper

// 1852:21
[com_21]
type=text
x=10
y=5
width=20
height=17
widthmode=minus
layer=left
textfont=museo_sans_15pt_bold
text=Overview
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, -1, 0)

// 1852:22
[completed_wrapper]
type=layer
x=10
y=914
width=20
height=40
widthmode=minus
ymode=proportion_top
layer=left
onload=script15327(achievements_summary:overall_progress_layer, achievements_summary:overall_progress_bitmask_layer, achievements_summary:no_cheev_completed)

// 1852:23
[com_23]
type=text
width=70
height=16
widthmode=minus
layer=completed_wrapper
textfont=museo_sans_11pt_regular_multiline
text=Achievements Completed
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1852:24
[no_cheev_completed]
type=text
width=70
height=16
xmode=abs_right
layer=completed_wrapper
textfont=museo_sans_11pt_regular_multiline
text=0000/0000
textalignh=2
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1852:25
[overall_progress_wrapper]
type=layer
x=10
y=19
width=20
height=15
widthmode=minus
layer=completed_wrapper

// 1852:26
[recent_complete_wrapper]
type=layer
x=10
y=2494
width=20
height=82
widthmode=minus
ymode=proportion_top
layer=left

// 1852:27
[com_27]
type=text
height=16
widthmode=minus
layer=recent_complete_wrapper
textfont=museo_sans_11pt_regular_multiline
text=Recently Completed
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, -1, 2)

// 1852:28
[recent_layer_1]
type=layer
x=14
y=24
width=50
height=50
layer=recent_complete_wrapper
transmitop1=yes
op1=Goto
onload=script13317(event_com)
onvartransmit=script13317(event_com)
onvartransmitlist=cheevo_recent_complete_1

// 1852:29
[recent_layer_2]
type=layer
x=93
y=24
width=50
height=50
layer=recent_complete_wrapper
transmitop1=yes
op1=Goto
onload=script13317(event_com)
onvartransmit=script13317(event_com)
onvartransmitlist=cheevo_recent_complete_2

// 1852:30
[recent_layer_3]
type=layer
x=172
y=24
width=50
height=50
layer=recent_complete_wrapper
transmitop1=yes
op1=Goto
onload=script13317(event_com)
onvartransmit=script13317(event_com)
onvartransmitlist=cheevo_recent_complete_3

// 1852:31
[recent_layer_4]
type=layer
x=251
y=24
width=50
height=50
layer=recent_complete_wrapper
transmitop1=yes
op1=Goto
onload=script13317(event_com)
onvartransmit=script13317(event_com)
onvartransmitlist=cheevo_recent_complete_4

// 1852:32
[com_32]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=recent_layer_1
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 1852:33
[com_33]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=recent_layer_2
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 1852:34
[com_34]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=recent_layer_3
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 1852:35
[almost_wrapper]
type=layer
y=5946
width=10
height=96
widthmode=minus
ymode=proportion_top
layer=left
onload=script15328
onvartransmit=script15329
onvartransmitlist=cheevo_almost_complete_1,cheevo_almost_complete_2

// 1852:36
[cheevo_almost_2_icon]
type=graphic
x=5
y=5
width=30
height=30
layer=almost_layer_2
colour=0xffffff
clickmask=no

// 1852:37
[cheevo_almost_2_name]
type=text
x=40
y=5
width=75
height=14
widthmode=minus
layer=almost_layer_2
textfont=museo_sans_11pt_regular
textshadow=yes
maxlines=1
onload=script10496(event_com, -1, 0)

// 1852:38
[cheevo_almost_2_percent]
type=text
x=5
y=5
width=30
height=14
xmode=abs_right
layer=almost_layer_2
textfont=museo_sans_11pt_regular
text=0%
textalignh=2
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1852:39
[cheevo_almost_1_icon]
type=graphic
x=5
y=5
width=30
height=30
layer=almost_layer_1
colour=0xffffff
clickmask=no

// 1852:40
[cheevo_almost_1_name]
type=text
x=40
y=5
width=75
height=14
widthmode=minus
layer=almost_layer_1
textfont=museo_sans_11pt_regular
textshadow=yes
maxlines=1
onload=script10496(event_com, -1, 0)

// 1852:41
[cheevo_almost_1_percent]
type=text
x=5
y=5
width=30
height=14
xmode=abs_right
layer=almost_layer_1
textfont=museo_sans_11pt_regular
text=0%
textalignh=2
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1852:42
[almost_1_wrapper]
type=layer
x=40
y=20
width=45
height=15
widthmode=minus
layer=almost_layer_1

// 1852:43
[com_43]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=recent_layer_4
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 1852:44
[side_panel_bg]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_layer
hide=yes
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1852:45
[left]
type=layer
widthmode=minus
heightmode=minus
layer=left_layer

// 1852:46
[categories_wrapper]
type=layer
x=5
y=9979
width=326
height=250
heightmode=minus
ymode=proportion_top
layer=left

// 1852:47
[com_47]
type=text
height=16
widthmode=minus
layer=categories_wrapper
textfont=museo_sans_11pt_regular
text=Categories
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1852:48
[skill_wrapper]
type=layer
x=2
y=28
width=106
height=46
layer=categories_wrapper
onload=script13582(event_com)

// 1852:49
[com_49]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill_wrapper
colour=0xffffff
fill=yes
onload=script10496(event_com, -1, 9)

// 1852:50
[skill_info_wrapper]
type=layer
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill_wrapper
onload=script15331(skills, achievements_summary:skill_xy, achievements_summary:skills_progress_layer, achievements_summary:skills_progress_bitmask_layer)

// 1852:51
[exploration_wrapper]
type=layer
y=28
width=106
height=46
xmode=abs_centre
layer=categories_wrapper
onload=script13582(event_com)

// 1852:52
[com_52]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exploration_wrapper
colour=0xffffff
fill=yes
onload=script10496(event_com, -1, 9)

// 1852:53
[exploration_info_wrapper]
type=layer
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exploration_wrapper
onload=script15331(exploration, achievements_summary:expo_xy, achievements_summary:exploration_progress_layer, achievements_summary:exploration_progress_bitmask_layer)

// 1852:54
[atset_wrapper]
type=layer
x=2
y=28
width=106
height=46
xmode=abs_right
layer=categories_wrapper
onload=script13582(event_com)

// 1852:55
[combat_wrapper]
type=layer
x=2
y=88
width=106
height=46
layer=categories_wrapper
onload=script13582(event_com)

// 1852:56
[lore_wrapper]
type=layer
y=88
width=106
height=46
xmode=abs_centre
layer=categories_wrapper
onload=script13582(event_com)

// 1852:57
[activities_wrapper]
type=layer
x=2
y=88
width=106
height=46
xmode=abs_right
layer=categories_wrapper
onload=script13582(event_com)

// 1852:58
[com_58]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combat_wrapper
colour=0xffffff
fill=yes
onload=script10496(event_com, -1, 9)

// 1852:59
[combat_info_wrapper]
type=layer
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combat_wrapper
onload=script15331(combat, achievements_summary:combat_xy, achievements_summary:combat_progress_layer, achievements_summary:combat_progress_bitmask_layer)

// 1852:60
[com_60]
type=graphic
width=22
heightmode=minus
ymode=abs_centre
layer=almost_1_wrapper
graphic="rs3_progress_bar_backing_22px,0"
colour=0xffffff
clickmask=no

// 1852:61
[almost_2_wrapper]
type=layer
x=40
y=20
width=45
height=15
widthmode=minus
layer=almost_layer_2

// 1852:62
[com_62]
type=graphic
width=22
heightmode=minus
ymode=abs_centre
layer=almost_2_wrapper
graphic="rs3_progress_bar_backing_22px,0"
colour=0xffffff
clickmask=no

// 1852:63
[overall_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
layer=overall_progress_layer

// 1852:64
[com_64]
type=graphic
width=12
height=12
layer=overall_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,0"
colour=0xffffff
clickmask=no

// 1852:65
[com_65]
type=graphic
x=12
width=24
height=12
widthmode=minus
layer=overall_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,1"
colour=0xffffff
clickmask=no

// 1852:66
[com_66]
type=graphic
width=12
height=12
xmode=abs_right
layer=overall_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,2"
colour=0xffffff
clickmask=no

// 1852:67
[almost_1_progress_bitmask_layer]
type=layer
width=100
heightmode=minus
layer=almost_1_progress_layer

// 1852:68
[com_68]
type=graphic
width=12
height=12
layer=almost_1_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,0"
colour=0xffffff
clickmask=no

// 1852:69
[almost_2_progress_bitmask_layer]
type=layer
width=50
heightmode=minus
layer=almost_2_progress_layer

// 1852:70
[com_70]
type=graphic
width=12
height=12
layer=almost_2_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,0"
colour=0xffffff
clickmask=no

// 1852:71
[com_71]
type=graphic
width=44
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=almost_1_wrapper
graphic="rs3_progress_bar_backing_22px,1"
colour=0xffffff
clickmask=no

// 1852:72
[com_72]
type=graphic
width=22
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=almost_1_wrapper
graphic="rs3_progress_bar_backing_22px,2"
colour=0xffffff
clickmask=no

// 1852:73
[almost_1_progress_layer]
type=layer
x=4
width=8
height=6
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=almost_1_wrapper

// 1852:74
[com_74]
type=graphic
x=12
width=24
height=12
widthmode=minus
layer=almost_1_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,1"
colour=0xffffff
clickmask=no

// 1852:75
[com_75]
type=graphic
width=12
height=12
xmode=abs_right
layer=almost_1_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,2"
colour=0xffffff
clickmask=no

// 1852:76
[com_76]
type=graphic
width=24
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=almost_2_wrapper
graphic="rs3_progress_bar_backing_22px,1"
colour=0xffffff
clickmask=no

// 1852:77
[com_77]
type=graphic
width=22
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=almost_2_wrapper
graphic="rs3_progress_bar_backing_22px,2"
colour=0xffffff
clickmask=no

// 1852:78
[almost_2_progress_layer]
type=layer
x=4
width=8
height=6
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=almost_2_wrapper

// 1852:79
[com_79]
type=graphic
x=12
width=24
height=12
widthmode=minus
layer=almost_2_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,1"
colour=0xffffff
clickmask=no

// 1852:80
[com_80]
type=graphic
width=12
height=12
xmode=abs_right
layer=almost_2_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,2"
colour=0xffffff
clickmask=no

// 1852:81
[com_81]
type=graphic
width=22
heightmode=minus
ymode=abs_centre
layer=skills_percent_bar_wrapper
graphic="rs3_progress_bar_backing_22px,0"
colour=0xffffff
clickmask=no

// 1852:82
[com_82]
type=graphic
width=44
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skills_percent_bar_wrapper
graphic="rs3_progress_bar_backing_22px,1"
colour=0xffffff
clickmask=no

// 1852:83
[com_83]
type=graphic
width=22
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=skills_percent_bar_wrapper
graphic="rs3_progress_bar_backing_22px,2"
colour=0xffffff
clickmask=no

// 1852:84
[skills_progress_layer]
type=layer
x=4
y=2
width=8
height=4
widthmode=minus
heightmode=minus
layer=skills_percent_bar_wrapper

// 1852:85
[skills_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
layer=skills_progress_layer

// 1852:86
[com_86]
type=graphic
width=12
height=12
layer=skills_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,0"
colour=0xffffff
clickmask=no

// 1852:87
[com_87]
type=graphic
x=12
width=24
height=12
widthmode=minus
layer=skills_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,1"
colour=0xffffff
clickmask=no

// 1852:88
[com_88]
type=graphic
width=12
height=12
xmode=abs_right
layer=skills_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,2"
colour=0xffffff
clickmask=no

// 1852:89
[com_89]
type=graphic
width=22
heightmode=minus
ymode=abs_centre
layer=exploration_progress_bar_wrapper
graphic="rs3_progress_bar_backing_22px,0"
colour=0xffffff
clickmask=no

// 1852:90
[com_90]
type=graphic
width=44
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exploration_progress_bar_wrapper
graphic="rs3_progress_bar_backing_22px,1"
colour=0xffffff
clickmask=no

// 1852:91
[com_91]
type=graphic
width=22
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=exploration_progress_bar_wrapper
graphic="rs3_progress_bar_backing_22px,2"
colour=0xffffff
clickmask=no

// 1852:92
[exploration_progress_layer]
type=layer
x=4
y=2
width=8
height=4
widthmode=minus
heightmode=minus
layer=exploration_progress_bar_wrapper

// 1852:93
[exploration_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
layer=exploration_progress_layer

// 1852:94
[com_94]
type=graphic
width=12
height=12
layer=exploration_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,0"
colour=0xffffff
clickmask=no

// 1852:95
[com_95]
type=graphic
x=12
width=24
height=12
widthmode=minus
layer=exploration_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,1"
colour=0xffffff
clickmask=no

// 1852:96
[com_96]
type=graphic
width=12
height=12
xmode=abs_right
layer=exploration_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,2"
colour=0xffffff
clickmask=no

// 1852:97
[com_97]
type=graphic
width=22
heightmode=minus
ymode=abs_centre
layer=combat_progress_bar_wrapper
graphic="rs3_progress_bar_backing_22px,0"
colour=0xffffff
clickmask=no

// 1852:98
[com_98]
type=graphic
width=44
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combat_progress_bar_wrapper
graphic="rs3_progress_bar_backing_22px,1"
colour=0xffffff
clickmask=no

// 1852:99
[com_99]
type=graphic
width=22
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=combat_progress_bar_wrapper
graphic="rs3_progress_bar_backing_22px,2"
colour=0xffffff
clickmask=no

// 1852:100
[combat_progress_layer]
type=layer
x=4
y=2
width=8
height=4
widthmode=minus
heightmode=minus
layer=combat_progress_bar_wrapper

// 1852:101
[combat_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
layer=combat_progress_layer

// 1852:102
[com_102]
type=graphic
width=12
height=12
layer=combat_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,0"
colour=0xffffff
clickmask=no

// 1852:103
[com_103]
type=graphic
x=12
width=24
height=12
widthmode=minus
layer=combat_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,1"
colour=0xffffff
clickmask=no

// 1852:104
[com_104]
type=graphic
width=12
height=12
xmode=abs_right
layer=combat_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,2"
colour=0xffffff
clickmask=no

// 1852:105
[com_105]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=activities_wrapper
colour=0xffffff
fill=yes
onload=script10496(event_com, -1, 9)

// 1852:106
[activities_info_wrapper]
type=layer
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=activities_wrapper
onload=script15331(activities, achievements_summary:activities_xy, achievements_summary:activities_progress_layer, achievements_summary:activities_progress_bitmask_layer)

// 1852:107
[com_107]
type=graphic
width=28
height=28
layer=activities_info_wrapper
graphic="achievement_icon_misc_28px,0"
colour=0xffffff
clickmask=no

// 1852:108
[com_108]
type=text
width=30
height=15
widthmode=minus
xmode=abs_right
layer=activities_info_wrapper
textfont=museo_sans_11pt_regular_multiline
text=Activities
textalignh=2
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1852:109
[activities_xy]
type=text
y=15
width=30
height=15
widthmode=minus
xmode=abs_right
layer=activities_info_wrapper
textfont=museo_sans_11pt_regular_multiline
text=0000/0000
textalignh=2
textalignv=1
textshadow=yes

// 1852:110
[activities_percent_bar_wrapper]
type=layer
height=10
widthmode=minus
ymode=abs_bottom
layer=activities_info_wrapper

// 1852:111
[com_111]
type=graphic
width=22
heightmode=minus
ymode=abs_centre
layer=activities_percent_bar_wrapper
graphic="rs3_progress_bar_backing_22px,0"
colour=0xffffff
clickmask=no

// 1852:112
[com_112]
type=graphic
width=44
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=activities_percent_bar_wrapper
graphic="rs3_progress_bar_backing_22px,1"
colour=0xffffff
clickmask=no

// 1852:113
[com_113]
type=graphic
width=22
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=activities_percent_bar_wrapper
graphic="rs3_progress_bar_backing_22px,2"
colour=0xffffff
clickmask=no

// 1852:114
[activities_progress_layer]
type=layer
x=4
y=2
width=8
height=4
widthmode=minus
heightmode=minus
layer=activities_percent_bar_wrapper

// 1852:115
[activities_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
layer=activities_progress_layer

// 1852:116
[com_116]
type=graphic
width=12
height=12
layer=activities_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,0"
colour=0xffffff
clickmask=no

// 1852:117
[com_117]
type=graphic
x=12
width=24
height=12
widthmode=minus
layer=activities_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,1"
colour=0xffffff
clickmask=no

// 1852:118
[com_118]
type=graphic
width=12
height=12
xmode=abs_right
layer=activities_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,2"
colour=0xffffff
clickmask=no

// 1852:119
[com_119]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=lore_wrapper
colour=0xffffff
fill=yes
onload=script10496(event_com, -1, 9)

// 1852:120
[lore_info_wrapper]
type=layer
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=lore_wrapper
onload=script15331(lore, achievements_summary:lore_xy, achievements_summary:lore_progress_layer, achievements_summary:lore_progress_bitmask_layer)

// 1852:121
[com_121]
type=graphic
width=28
height=28
layer=lore_info_wrapper
graphic=achievement_icon_rose_quest
colour=0xffffff
clickmask=no

// 1852:122
[com_122]
type=text
width=30
height=15
widthmode=minus
xmode=abs_right
layer=lore_info_wrapper
textfont=museo_sans_11pt_regular_multiline
text=Lore
textalignh=2
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1852:123
[lore_xy]
type=text
y=15
width=30
height=15
widthmode=minus
xmode=abs_right
layer=lore_info_wrapper
textfont=museo_sans_11pt_regular_multiline
text=0000/0000
textalignh=2
textalignv=1
textshadow=yes

// 1852:124
[lore_percent_bar_wrapper]
type=layer
height=10
widthmode=minus
ymode=abs_bottom
layer=lore_info_wrapper

// 1852:125
[com_125]
type=graphic
width=22
heightmode=minus
ymode=abs_centre
layer=lore_percent_bar_wrapper
graphic="rs3_progress_bar_backing_22px,0"
colour=0xffffff
clickmask=no

// 1852:126
[com_126]
type=graphic
width=44
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=lore_percent_bar_wrapper
graphic="rs3_progress_bar_backing_22px,1"
colour=0xffffff
clickmask=no

// 1852:127
[com_127]
type=graphic
width=22
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=lore_percent_bar_wrapper
graphic="rs3_progress_bar_backing_22px,2"
colour=0xffffff
clickmask=no

// 1852:128
[lore_progress_layer]
type=layer
x=4
y=2
width=8
height=4
widthmode=minus
heightmode=minus
layer=lore_percent_bar_wrapper

// 1852:129
[lore_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
layer=lore_progress_layer

// 1852:130
[com_130]
type=graphic
width=12
height=12
layer=lore_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,0"
colour=0xffffff
clickmask=no

// 1852:131
[com_131]
type=graphic
x=12
width=24
height=12
widthmode=minus
layer=lore_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,1"
colour=0xffffff
clickmask=no

// 1852:132
[com_132]
type=graphic
width=12
height=12
xmode=abs_right
layer=lore_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,2"
colour=0xffffff
clickmask=no

// 1852:133
[com_133]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=atset_wrapper
colour=0xffffff
fill=yes
onload=script10496(event_com, -1, 9)

// 1852:134
[atset_info_wrapper]
type=layer
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=atset_wrapper
onload=script15331(atset, achievements_summary:atset_xy, achievements_summary:atset_progress_layer, achievements_summary:atset_progress_bitmask_layer)

// 1852:135
[com_135]
type=graphic
width=28
height=28
layer=atset_info_wrapper
graphic=achievement_icon_rose_area_task
colour=0xffffff
clickmask=no

// 1852:136
[com_136]
type=text
width=30
height=15
widthmode=minus
xmode=abs_right
layer=atset_info_wrapper
textfont=museo_sans_11pt_regular_multiline
text=Area Tasks
textalignh=2
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1852:137
[atset_xy]
type=text
y=15
width=30
height=15
widthmode=minus
xmode=abs_right
layer=atset_info_wrapper
textfont=museo_sans_11pt_regular_multiline
text=0000/0000
textalignh=2
textalignv=1
textshadow=yes

// 1852:138
[atset_percent_bar_wrapper]
type=layer
height=10
widthmode=minus
ymode=abs_bottom
layer=atset_info_wrapper

// 1852:139
[com_139]
type=graphic
width=22
heightmode=minus
ymode=abs_centre
layer=atset_percent_bar_wrapper
graphic="rs3_progress_bar_backing_22px,0"
colour=0xffffff
clickmask=no

// 1852:140
[com_140]
type=graphic
width=44
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=atset_percent_bar_wrapper
graphic="rs3_progress_bar_backing_22px,1"
colour=0xffffff
clickmask=no

// 1852:141
[com_141]
type=graphic
width=22
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=atset_percent_bar_wrapper
graphic="rs3_progress_bar_backing_22px,2"
colour=0xffffff
clickmask=no

// 1852:142
[atset_progress_layer]
type=layer
x=4
y=2
width=8
height=4
widthmode=minus
heightmode=minus
layer=atset_percent_bar_wrapper

// 1852:143
[atset_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
layer=atset_progress_layer

// 1852:144
[com_144]
type=graphic
width=12
height=12
layer=atset_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,0"
colour=0xffffff
clickmask=no

// 1852:145
[com_145]
type=graphic
x=12
width=24
height=12
widthmode=minus
layer=atset_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,1"
colour=0xffffff
clickmask=no

// 1852:146
[com_146]
type=graphic
width=12
height=12
xmode=abs_right
layer=atset_progress_bitmask_layer
graphic="rs3_progress_bar_green_12px,2"
colour=0xffffff
clickmask=no

