// 1078:0
[repair_button_graphic_disabled]
type=graphic
x=8
y=8
width=50
height=50
layer=repair_button_active_layer
hide=yes
graphic="quest_icons_large3,2"
trans=200
colour=0xffffff
clickmask=no

// 1078:1
[repair_button_graphic]
type=graphic
x=8
y=8
width=50
height=50
layer=repair_button_active_layer
graphic="quest_icons_large3,2"
colour=0xffffff
clickmask=no

// 1078:2
[fire_button_graphic]
type=graphic
x=8
y=8
width=50
height=50
layer=fire_button_active_layer
graphic="quest_icons_large3,3"
colour=0xffffff
clickmask=no

// 1078:3
[frame_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=main_layer

// 1078:4
[com_4]
type=text
height=31
widthmode=minus
layer=frame_layer
textfont=cinzel_15pt_bold
text=Zomboat Control
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1078:5
[main_layer]
type=layer
widthmode=minus
heightmode=minus

// 1078:6
[com_6]
type=graphic
width=12
height=18
ymode=abs_centre
layer=health_bar_wrapper
graphic="aif_progress_bar_frame_3,0"
colour=0xffffff
clickmask=no

// 1078:7
[com_7]
type=graphic
width=12
height=18
xmode=abs_right
ymode=abs_centre
layer=health_bar_wrapper
graphic="aif_progress_bar_frame_3,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1078:8
[com_8]
type=graphic
width=12
height=18
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=health_bar_wrapper
graphic="aif_progress_bar_frame_3,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1078:9
[health_bar_bounds]
type=layer
x=6
width=12
height=19
widthmode=minus
ymode=abs_centre
layer=health_bar_wrapper

// 1078:10
[health_bar]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=health_bar_bounds
onvartransmit=script4241
onvartransmitlist=acs_tempint_1

// 1078:11
[com_11]
type=graphic
width=6
height=8
ymode=abs_centre
layer=health_bar
graphic="aif_progress_bar_fill_3,0"
colour=0xffffff
clickmask=no

// 1078:12
[com_12]
type=graphic
width=6
height=8
xmode=abs_right
ymode=abs_centre
layer=health_bar
graphic="aif_progress_bar_fill_3,2"
colour=0xffffff
clickmask=no

// 1078:13
[com_13]
type=graphic
width=6
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=health_bar
graphic="aif_progress_bar_fill_3,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1078:14
[cooldown_layer]
type=layer
width=52
height=52
layer=cooldown_script_layer

// 1078:15
[cooldown_layer_l]
type=layer
width=8199
height=16391
widthmode=proportion
heightmode=proportion
layer=cooldown_layer

// 1078:16
[cooldown_l]
type=graphic
x=-25
y=-25
width=104
height=104
layer=cooldown_layer_l
graphic=aif_timer_mask
2dangle=65353
trans=64
colour=0x0f0f0f
clickmask=no

// 1078:17
[cooldown_layer_r]
type=layer
width=8199
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=cooldown_layer

// 1078:18
[cooldown_r]
type=graphic
x=-53
y=-25
width=104
height=104
layer=cooldown_layer_r
graphic=aif_timer_mask
2dangle=65353
trans=64
hflip=yes
colour=0x0f0f0f
clickmask=no

// 1078:19
[com_19]
type=text
y=40
height=20
widthmode=minus
xmode=abs_centre
layer=frame_layer
textfont=museo_sans_11pt_regular
text=FIRE!
textalignh=1
textshadow=yes
colour=0x7592a0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1078:20
[fire_button_layer]
type=layer
y=57
width=66
height=66
xmode=abs_centre
layer=frame_layer

// 1078:21
[repair_button_layer]
type=layer
y=158
width=66
height=66
xmode=abs_centre
layer=frame_layer

// 1078:22
[com_22]
type=text
y=140
height=20
widthmode=minus
layer=frame_layer
textfont=museo_sans_11pt_regular
text=Repair
textalignh=1
textshadow=yes
colour=0x7592a0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1078:23
[health_bar_wrapper]
type=layer
y=225
width=75
height=29
xmode=abs_centre
layer=frame_layer

// 1078:24
[repair_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=repair_button_layer
onload=script1666(event_com, null)

// 1078:25
[repair_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=repair_button_layer
onload=script2317(event_com, null)

// 1078:26
[repair_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=repair_button_layer
onload=script2318(event_com, null)

// 1078:27
[repair_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=repair_button_layer
hide=yes
onload=script2678(event_com, null)

// 1078:28
[repair_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=repair_button_layer
onload=script4213(event_com)

// 1078:29
[repair_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=repair_button_layer
hide=yes
onload=script5831(event_com, null)

// 1078:30
[repair_button]
type=layer
widthmode=minus
heightmode=minus
layer=repair_button_layer
transmitop1=yes
op1=Repair-ship

// 1078:31
[fire_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=fire_button_layer
onload=script1666(event_com, null)

// 1078:32
[fire_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=fire_button_layer
onload=script2317(event_com, null)

// 1078:33
[fire_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=fire_button_layer
onload=script2318(event_com, null)

// 1078:34
[fire_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=fire_button_layer
hide=yes
onload=script2678(event_com, null)

// 1078:35
[fire_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=fire_button_layer
onload=script4213(event_com)

// 1078:36
[fire_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=fire_button_layer
hide=yes
onload=script5831(event_com, null)

// 1078:37
[cooldown_script_layer]
type=layer
x=7
y=7
width=52
height=52
layer=fire_button_layer
onvartransmit=script4237
ontimer=script4238(70647845, acs_battleships_side:cooldown_l, acs_battleships_side:cooldown_r)
onvartransmitlist=acs_tempint_1

// 1078:38
[fire_button]
type=layer
widthmode=minus
heightmode=minus
layer=fire_button_layer
targetmask=obj,coord
opbase=Cannon
targetverb=Fire
onload=script4236(event_com)

