// 481:0
[bounds]
type=layer
y=19
width=353
height=132

// 481:1
[gold_frame_layer]
type=layer
y=2
width=351
height=130
xmode=abs_centre
ymode=abs_bottom
layer=bounds

// 481:2
[com_2]
type=text
x=7
y=12
width=14
height=16
widthmode=minus
layer=bounds
textfont=p11_full
text=Zombie Stress Level
textalignh=1
textalignv=1
textshadow=yes

// 481:3
[progress_bar_wrapper]
type=layer
x=7
y=30
width=14
height=29
widthmode=minus
layer=bounds
onvartransmit=script4235
onvarctransmit=script4235
onvartransmitlist=acs_temp_1
onvarctransmitlist=acs_progress_bar_fill_value

// 481:4
[wetwilly_layer]
type=layer
x=7
y=61
width=66
height=66
layer=bounds
onmouserepeat=script8799("Wet willy: Lick your finger and poke it in the zombie's ear. Greatly increases zombie's stress level. Long cooldown.", event_com, event_comsubid)

// 481:5
[nosepinch_layer]
type=layer
x=75
y=61
width=66
height=66
layer=bounds
onmouserepeat=script8799("Nose pinch: Pinch the zombie's nose hard. Slightly increases zombie's stress level and makes his nose sore, doubling the effect of a pig nose attack if used a short time after.", event_com, event_comsubid)

// 481:6
[pignose_layer]
type=layer
x=143
y=61
width=66
height=66
layer=bounds
onmouserepeat=script8799("Pig nose: Stick your fingers in the zombie's nose and pull up. Moderately increases stress level. Effect doubled if used immediately after a nose pinch.", event_com, event_comsubid)

// 481:7
[shake_layer]
type=layer
x=211
y=61
width=66
height=66
layer=bounds
onmouserepeat=script8799("Shake: Shake the zombie. Slightly increases the zombie's stress level and prevents it from reducing for a short time.", event_com, event_comsubid)

// 481:8
[intimidate_layer]
type=layer
x=280
y=61
width=66
height=66
layer=bounds
onmouserepeat=script8799("Insult: Insult the zombie. Slightly increases the zombie's stress level. Short cooldown.", event_com, event_comsubid)

// 481:9
[com_9]
type=graphic
width=12
height=30
ymode=abs_centre
layer=progress_bar_wrapper
graphic="aif_progress_bar_frame_2,0"
colour=0xffffff
clickmask=no

// 481:10
[com_10]
type=graphic
width=12
height=30
xmode=abs_right
ymode=abs_centre
layer=progress_bar_wrapper
graphic="aif_progress_bar_frame_2,0"
hflip=yes
colour=0xffffff
clickmask=no

// 481:11
[com_11]
type=graphic
width=12
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_wrapper
graphic="aif_progress_bar_frame_2,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 481:12
[progress_bar_bounds]
type=layer
x=6
width=12
height=19
widthmode=minus
ymode=abs_centre
layer=progress_bar_wrapper

// 481:13
[progress_bar]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=progress_bar_bounds
onvartransmit=script4241
onvartransmitlist=acs_tempint_1

// 481:14
[com_14]
type=graphic
width=6
height=19
ymode=abs_centre
layer=progress_bar
graphic="aif_progress_bar_red_fill_2,0"
colour=0xffffff
clickmask=no

// 481:15
[com_15]
type=graphic
width=6
height=19
xmode=abs_right
ymode=abs_centre
layer=progress_bar
graphic="aif_progress_bar_red_fill_2,2"
colour=0xffffff
clickmask=no

// 481:16
[com_16]
type=graphic
width=6
height=19
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=progress_bar
graphic="aif_progress_bar_red_fill_2,1"
tiling=yes
colour=0xffffff
clickmask=no

// 481:17
[wetwilly_resize_on_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=wetwilly_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_on)

// 481:18
[wetwilly_resize_over_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=wetwilly_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_over)

// 481:19
[wetwilly_resize_hit_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=wetwilly_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_hit)

// 481:20
[wetwilly_resize_selected_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=wetwilly_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_selected)

// 481:21
[wetwilly_resize_disabled_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=wetwilly_layer
hide=yes
noclickthrough=yes
onload=script4205(event_com, aif_bronze_icon_resize_button_disabled)

// 481:22
[com_22]
type=graphic
x=8
y=8
width=50
height=50
layer=wetwilly_layer
graphic="qlockwork_icons,1"
colour=0xffffff
clickmask=no

// 481:23
[com_23]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=wetwilly_resize_disabled_layer
colour=0x000000
fill=yes
trans=150

// 481:24
[wetilly_cooldown_script_layer]
type=layer
x=7
y=7
width=14
height=14
widthmode=minus
heightmode=minus
layer=wetwilly_layer

// 481:25
[cooldown_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=wetilly_cooldown_script_layer

// 481:26
[cooldown_layer_l]
type=layer
width=8199
height=16391
widthmode=proportion
heightmode=proportion
layer=cooldown_layer

// 481:27
[wetwilly_cooldown_l]
type=graphic
x=-25
y=-25
width=104
height=104
layer=cooldown_layer_l
hide=yes
graphic=aif_timer_mask
2dangle=32768
trans=64
colour=0x0f0f0f
clickmask=no

// 481:28
[cooldown_layer_r]
type=layer
width=8199
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=cooldown_layer

// 481:29
[wetwilly_cooldown_r]
type=graphic
x=-53
y=-25
width=104
height=104
layer=cooldown_layer_r
hide=yes
graphic=aif_timer_mask
2dangle=32768
trans=64
hflip=yes
colour=0x0f0f0f
clickmask=no

// 481:30
[wetwilly]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=wetwilly_layer
transmitop1=yes
op1=Attack!
onop=script4233(event_com, acs_bar_overlay:wetwilly_cooldown_l, acs_bar_overlay:wetwilly_cooldown_r, 600)

// 481:31
[nosepinch_resize_on_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=nosepinch_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_on)

// 481:32
[nosepinch_resize_over_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=nosepinch_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_over)

// 481:33
[nosepinch_resize_hit_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=nosepinch_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_hit)

// 481:34
[nosepinch_resize_selected_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=nosepinch_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_selected)

// 481:35
[nosepinch_resize_disabled_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=nosepinch_layer
hide=yes
noclickthrough=yes
onload=script4205(event_com, aif_bronze_icon_resize_button_disabled)

// 481:36
[com_36]
type=graphic
x=8
y=8
width=50
height=50
layer=nosepinch_layer
graphic="qlockwork_icons,0"
colour=0xffffff
clickmask=no

// 481:37
[com_37]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=nosepinch_resize_disabled_layer
colour=0x000000
fill=yes
trans=150

// 481:38
[nosepinch_cooldown_script_layer]
type=layer
x=7
y=7
width=14
height=14
widthmode=minus
heightmode=minus
layer=nosepinch_layer

// 481:39
[cooldown_layer_1]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=nosepinch_cooldown_script_layer

// 481:40
[cooldown_layer_l_1]
type=layer
width=8199
height=16391
widthmode=proportion
heightmode=proportion
layer=cooldown_layer_1

// 481:41
[nosepinch_cooldown_l]
type=graphic
x=-25
y=-25
width=104
height=104
layer=cooldown_layer_l_1
hide=yes
graphic=aif_timer_mask
2dangle=32768
trans=64
colour=0x0f0f0f
clickmask=no

// 481:42
[cooldown_layer_r_1]
type=layer
width=8199
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=cooldown_layer_1

// 481:43
[nosepinch_cooldown_r]
type=graphic
x=-53
y=-25
width=104
height=104
layer=cooldown_layer_r_1
hide=yes
graphic=aif_timer_mask
2dangle=32768
trans=64
hflip=yes
colour=0x0f0f0f
clickmask=no

// 481:44
[nosepinch]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=nosepinch_layer
transmitop1=yes
op1=Attack!
onop=script4233(event_com, acs_bar_overlay:nosepinch_cooldown_l, acs_bar_overlay:nosepinch_cooldown_r, 1350)

// 481:45
[pignose_resize_on_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=pignose_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_on)

// 481:46
[pignose_resize_over_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=pignose_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_over)

// 481:47
[pignose_resize_hit_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=pignose_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_hit)

// 481:48
[pignose_resize_selected_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=pignose_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_selected)

// 481:49
[pignose_resize_disabled_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=pignose_layer
hide=yes
noclickthrough=yes
onload=script4205(event_com, aif_bronze_icon_resize_button_disabled)

// 481:50
[com_50]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=pignose_resize_disabled_layer
colour=0x000000
fill=yes
trans=150

// 481:51
[com_51]
type=graphic
x=8
y=8
width=50
height=50
layer=pignose_layer
graphic="qlockwork_icons,2"
colour=0xffffff
clickmask=no

// 481:52
[pignose_cooldown_script_layer]
type=layer
x=7
y=7
width=14
height=14
widthmode=minus
heightmode=minus
layer=pignose_layer

// 481:53
[cooldown_layer_2]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=pignose_cooldown_script_layer

// 481:54
[cooldown_layer_l_2]
type=layer
width=8199
height=16391
widthmode=proportion
heightmode=proportion
layer=cooldown_layer_2

// 481:55
[pignose_cooldown_l]
type=graphic
x=-25
y=-25
width=104
height=104
layer=cooldown_layer_l_2
hide=yes
graphic=aif_timer_mask
2dangle=32768
trans=64
colour=0x0f0f0f
clickmask=no

// 481:56
[cooldown_layer_r_2]
type=layer
width=8199
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=cooldown_layer_2

// 481:57
[pignose_cooldown_r]
type=graphic
x=-53
y=-25
width=104
height=104
layer=cooldown_layer_r_2
hide=yes
graphic=aif_timer_mask
2dangle=32768
trans=64
hflip=yes
colour=0x0f0f0f
clickmask=no

// 481:58
[pignose]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=pignose_layer
transmitop1=yes
op1=Attack!
onop=script4233(event_com, acs_bar_overlay:pignose_cooldown_l, acs_bar_overlay:pignose_cooldown_r, 450)

// 481:59
[shake_resize_on_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=shake_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_on)

// 481:60
[shake_resize_over_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=shake_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_over)

// 481:61
[shake_resize_hit_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=shake_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_hit)

// 481:62
[shake_resize_selected_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=shake_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_selected)

// 481:63
[shake_resize_disabled_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=shake_layer
hide=yes
noclickthrough=yes
onload=script4205(event_com, aif_bronze_icon_resize_button_disabled)

// 481:64
[com_64]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=shake_resize_disabled_layer
colour=0x000000
fill=yes
trans=150

// 481:65
[com_65]
type=graphic
x=8
y=8
width=50
height=50
layer=shake_layer
graphic="qlockwork_icons,4"
colour=0xffffff
clickmask=no

// 481:66
[shake_cooldown_script_layer]
type=layer
x=7
y=7
width=14
height=14
widthmode=minus
heightmode=minus
layer=shake_layer

// 481:67
[cooldown_layer_3]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=shake_cooldown_script_layer

// 481:68
[cooldown_layer_l_3]
type=layer
width=8199
height=16391
widthmode=proportion
heightmode=proportion
layer=cooldown_layer_3

// 481:69
[shake_cooldown_l]
type=graphic
x=-25
y=-25
width=104
height=104
layer=cooldown_layer_l_3
hide=yes
graphic=aif_timer_mask
2dangle=32768
trans=64
colour=0x0f0f0f
clickmask=no

// 481:70
[cooldown_layer_r_3]
type=layer
width=8199
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=cooldown_layer_3

// 481:71
[shake_cooldown_r]
type=graphic
x=-53
y=-25
width=104
height=104
layer=cooldown_layer_r_3
hide=yes
graphic=aif_timer_mask
2dangle=32768
trans=64
hflip=yes
colour=0x0f0f0f
clickmask=no

// 481:72
[shake]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=shake_layer
transmitop1=yes
op1=Attack!
onop=script4233(event_com, acs_bar_overlay:shake_cooldown_l, acs_bar_overlay:shake_cooldown_r, 600)

// 481:73
[intimidate_resize_on_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=intimidate_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_on)

// 481:74
[intimidate_resize_over_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=intimidate_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_over)

// 481:75
[intimidate_resize_hit_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=intimidate_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_hit)

// 481:76
[intimidate_resize_selected_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=intimidate_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_selected)

// 481:77
[intimidate_resize_disabled_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=intimidate_layer
hide=yes
noclickthrough=yes
onload=script4205(event_com, aif_bronze_icon_resize_button_disabled)

// 481:78
[com_78]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=intimidate_resize_disabled_layer
colour=0x000000
fill=yes
trans=150

// 481:79
[com_79]
type=graphic
x=8
y=8
width=50
height=50
layer=intimidate_layer
graphic="qlockwork_icons,3"
colour=0xffffff
clickmask=no

// 481:80
[intimidate_cooldown_script_layer]
type=layer
x=7
y=7
width=52
height=52
layer=intimidate_layer

// 481:81
[cooldown_layer_4]
type=layer
width=52
height=52
layer=intimidate_cooldown_script_layer

// 481:82
[cooldown_layer_l_4]
type=layer
width=26
height=52
layer=cooldown_layer_4

// 481:83
[intimidate_cooldown_l]
type=graphic
x=-25
y=-25
width=104
height=104
layer=cooldown_layer_l_4
hide=yes
graphic=aif_timer_mask
2dangle=32768
trans=64
colour=0x0f0f0f
clickmask=no

// 481:84
[cooldown_layer_r_4]
type=layer
width=26
height=52
xmode=abs_right
layer=cooldown_layer_4

// 481:85
[intimidate_cooldown_r]
type=graphic
x=-53
y=-26
width=104
height=104
layer=cooldown_layer_r_4
hide=yes
graphic=aif_timer_mask
2dangle=32768
trans=64
hflip=yes
colour=0x0f0f0f
clickmask=no

// 481:86
[intimidate]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=intimidate_layer
transmitop1=yes
op1=Attack!
onop=script4233(event_com, acs_bar_overlay:intimidate_cooldown_l, acs_bar_overlay:intimidate_cooldown_r, 150)

// 481:87
[com_87]
type=graphic
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_frame_layer
graphic=window_texture_2
tiling=yes
trans=43
colour=0xffffff
clickmask=no

// 481:88
[com_88]
type=graphic
width=10
height=10
layer=gold_frame_layer
graphic="aif_overlay_frame_gold_corner_1,1"
hflip=yes
colour=0xffffff
clickmask=no

// 481:89
[com_89]
type=graphic
width=10
height=10
xmode=abs_right
layer=gold_frame_layer
graphic="aif_overlay_frame_gold_corner_1,1"
colour=0xffffff
clickmask=no

// 481:90
[com_90]
type=graphic
width=10
height=10
ymode=abs_bottom
layer=gold_frame_layer
graphic="aif_overlay_frame_gold_corner_1,1"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 481:91
[com_91]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_bottom
layer=gold_frame_layer
graphic="aif_overlay_frame_gold_corner_1,1"
vflip=yes
colour=0xffffff
clickmask=no

// 481:92
[com_92]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=gold_frame_layer
graphic="aif_overlay_frame_gold_corner_1,0"
tiling=yes
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 481:93
[com_93]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
layer=gold_frame_layer
graphic="aif_overlay_frame_gold_corner_1,0"
colour=0xffffff
clickmask=no

// 481:94
[com_94]
type=graphic
width=10
height=20
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=gold_frame_layer
graphic="aif_overlay_frame_gold_corner_1,2"
colour=0xffffff
clickmask=no

// 481:95
[com_95]
type=graphic
width=10
height=20
heightmode=minus
ymode=abs_centre
layer=gold_frame_layer
graphic="aif_overlay_frame_gold_corner_1,2"
hflip=yes
colour=0xffffff
clickmask=no

