// 1076:0
[main]
type=layer
width=217
height=217
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes

// 1076:1
[bg_right]
type=graphic
x=37
width=74
height=149
xmode=abs_centre
ymode=abs_centre
layer=main
graphic=aif_round_bg
hflip=yes
colour=0xffffff
clickmask=no

// 1076:2
[bg_left]
type=graphic
x=-37
width=74
height=149
xmode=abs_centre
ymode=abs_centre
layer=main
graphic=aif_round_bg
colour=0xffffff
clickmask=no

// 1076:3
[controls]
type=layer
widthmode=minus
heightmode=minus
layer=main

// 1076:4
[north]
type=graphic
y=-75
width=28
height=28
xmode=abs_centre
ymode=abs_centre
layer=controls
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Steer
onload=script12951(event_com, 0)

// 1076:5
[northeast]
type=graphic
x=60
y=-60
width=28
height=28
xmode=abs_centre
ymode=abs_centre
layer=controls
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Steer
onload=script12951(event_com, 4)

// 1076:6
[east]
type=graphic
x=75
width=28
height=28
xmode=abs_centre
ymode=abs_centre
layer=controls
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Steer
onload=script12951(event_com, 1)

// 1076:7
[southeast]
type=graphic
x=60
y=60
width=28
height=28
xmode=abs_centre
ymode=abs_centre
layer=controls
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Steer
onload=script12951(event_com, 5)

// 1076:8
[south]
type=graphic
y=75
width=28
height=28
xmode=abs_centre
ymode=abs_centre
layer=controls
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Steer
onload=script12951(event_com, 2)

// 1076:9
[southwest]
type=graphic
x=-60
y=60
width=28
height=28
xmode=abs_centre
ymode=abs_centre
layer=controls
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Steer
onload=script12951(event_com, 6)

// 1076:10
[west]
type=graphic
x=-75
width=28
height=28
xmode=abs_centre
ymode=abs_centre
layer=controls
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Steer
onload=script12951(event_com, 3)

// 1076:11
[northwest]
type=graphic
x=-60
y=-60
width=28
height=28
xmode=abs_centre
ymode=abs_centre
layer=controls
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Steer
onload=script12951(event_com, 7)

// 1076:12
[bomb_layer]
type=layer
width=66
height=66
xmode=abs_centre
ymode=abs_centre
layer=controls
noclickthrough=yes
transmitop1=yes
op1=Bombs-away
onop=script4233(event_com, acs_seagull_controls:cooldown_l, acs_seagull_controls:cooldown_r, 120)

// 1076:13
[bomb]
type=graphic
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=bomb_layer
graphic="quest_icons_large3,1"
colour=0xffffff
clickmask=no

// 1076:14
[cooldown_layer]
type=layer
width=52
height=52
xmode=abs_centre
ymode=abs_centre
layer=bomb_layer

// 1076:15
[cooldown_layer_l]
type=layer
width=8199
height=16391
widthmode=proportion
heightmode=proportion
layer=cooldown_layer

// 1076:16
[cooldown_l]
type=graphic
x=-25
y=-25
width=104
height=104
layer=cooldown_layer_l
hide=yes
graphic=aif_timer_mask
2dangle=32768
trans=64
colour=0x0f0f0f
clickmask=no

// 1076:17
[cooldown_layer_r]
type=layer
width=8199
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=cooldown_layer

// 1076:18
[cooldown_r]
type=graphic
x=-53
y=-25
width=104
height=104
layer=cooldown_layer_r
hide=yes
graphic=aif_timer_mask
2dangle=32768
trans=64
hflip=yes
colour=0x0f0f0f
clickmask=no

// 1076:19
[compass]
type=graphic
y=10
width=44
height=52
xmode=abs_centre
graphic=syringe_compass_icon
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Face North
onop=script11075(event_op)

// 1076:20
[quit_button]
type=layer
y=130
width=150
height=27
xmode=abs_centre
ymode=abs_centre
transmitop1=yes
op1=ABORT!
onload=script13968(event_com, null, rs3tli_neutral_button, "ABORT!")

