// 1171:0
[marker1]
type=graphic
x=11943
y=20
width=15
height=15
xmode=proportion_left
layer=progress_markers
graphic=aif_olympic_powerbar_arrow_fm
2dangle=16384
colour=0xffffff
clickmask=no

// 1171:1
[marker2]
type=graphic
x=11943
y=20
width=15
height=15
xmode=proportion_left
layer=progress_markers
graphic=aif_olympic_powerbar_arrow_fm
2dangle=16384
colour=0xffffff
clickmask=no

// 1171:2
[marker3]
type=graphic
x=11943
y=20
width=15
height=15
xmode=proportion_left
layer=progress_markers
graphic=aif_olympic_powerbar_arrow_fm
2dangle=16384
colour=0xffffff
clickmask=no

// 1171:3
[marker4]
type=graphic
x=11943
y=20
width=15
height=15
xmode=proportion_left
layer=progress_markers
graphic=aif_olympic_powerbar_arrow_fm
2dangle=16384
colour=0xffffff
clickmask=no

// 1171:4
[marker5]
type=graphic
x=11943
y=20
width=15
height=15
xmode=proportion_left
layer=progress_markers
graphic=aif_olympic_powerbar_arrow_fm
2dangle=16384
colour=0xffffff
clickmask=no

// 1171:5
[progress_bar_fill]
type=graphic
width=375
height=16
heightmode=minus
ymode=abs_centre
layer=progress_bar
graphic=rs3_tuska_progress_fill_white
colour=0x1ee100
clickmask=no

// 1171:6
[activity_backing_tile]
type=graphic
width=70
height=33
widthmode=minus
xmode=abs_centre
layer=activity_backing
graphic="gwd2_solo_boss_name_bar,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1171:7
[activity_backing_left]
type=graphic
width=35
height=33
layer=activity_backing
graphic="gwd2_solo_boss_name_bar,0"
colour=0xffffff
clickmask=no

// 1171:8
[activity_backing_right]
type=graphic
width=35
height=33
xmode=abs_right
layer=activity_backing
graphic="gwd2_solo_boss_name_bar,2"
colour=0xffffff
clickmask=no

// 1171:9
[prog_bg_left]
type=graphic
width=44
height=33
layer=progress_bar_backing
graphic="gwd2_solo_boss_hitpoints_back,0"
colour=0xffffff
clickmask=no

// 1171:10
[lightning]
type=layer
widthmode=minus
heightmode=minus
layer=container

// 1171:11
[progress_bar_backing]
type=layer
y=5
width=394
height=33
xmode=abs_centre
layer=container

// 1171:12
[progress_bar_red]
type=layer
x=81
y=13
width=350
height=17
layer=container

// 1171:13
[progress_bar_underlay]
type=layer
x=81
y=5
width=350
height=33
layer=container

// 1171:14
[progress_bar_fill_underlay]
type=graphic
width=375
height=16
heightmode=minus
ymode=abs_centre
layer=progress_bar_underlay
hide=yes
graphic=rs3_tuska_progress_fill_white
colour=0x282625
clickmask=no

// 1171:15
[progress_bar]
type=layer
x=81
y=5
width=350
height=33
layer=container

// 1171:16
[progress_markers]
type=layer
x=81
y=8
width=350
height=33
layer=container
hide=yes

// 1171:17
[tooltip_progress_amount]
type=text
y=12
width=394
height=17
xmode=abs_centre
layer=container
textfont=cinzel_18pt_bold
text=999
textalignh=1
textalignv=1
textshadow=yes
colour=0xf0dcb4
ontimer=script17547(activity_progress_bar:container)

// 1171:18
[activity_name]
type=layer
y=5
width=150
height=33
xmode=abs_centre
layer=container

// 1171:19
[activity_backing]
type=layer
widthmode=minus
heightmode=minus
layer=activity_name

// 1171:20
[beam_right]
type=model
x=68
y=16
width=198
height=14
xmode=abs_right
layer=lightning
model=6awe2_armadyl_tower_1f_beam
modelorigin_x=3
modelorigin_y=-1
modelangle_x=0
modelangle_y=381
modelangle_z=512
modelzoom=2000

// 1171:21
[beam_left]
type=model
x=67
y=16
width=190
height=15
layer=lightning
model=6awe2_armadyl_tower_1f_beam
modelorigin_x=-3
modelorigin_y=0
modelangle_x=0
modelangle_y=1661
modelangle_z=1536
modelzoom=2000

// 1171:22
[lightning_left]
type=model
x=-283
y=-66
width=420
height=170
layer=lightning
model=tpr_lightning_spotanim
modelorigin_x=150
modelorigin_y=4
modelangle_x=0
modelangle_y=0
modelangle_z=512
modelzoom=3500
modelanim=nomel_healthbar_lightning_spotanim

// 1171:23
[lightning_right]
type=model
x=-283
y=-55
width=420
height=170
xmode=abs_right
layer=lightning
model=tpr_lightning_spotanim
modelorigin_x=-151
modelorigin_y=-5
modelangle_x=0
modelangle_y=0
modelangle_z=1536
modelzoom=3500
modelanim=tpr_lightning_spotanim

// 1171:24
[prog_bg_mid]
type=graphic
width=88
height=33
widthmode=minus
xmode=abs_centre
layer=progress_bar_backing
graphic="gwd2_solo_boss_hitpoints_back,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1171:25
[prog_bg_right]
type=graphic
width=44
height=33
xmode=abs_right
layer=progress_bar_backing
graphic="gwd2_solo_boss_hitpoints_back,2"
colour=0xffffff
clickmask=no

// 1171:26
[progress_diamond_right]
type=graphic
x=8
width=11
height=5
xmode=abs_right
ymode=abs_centre
layer=progress_bar_backing
graphic=gwd2_solo_boss_hitpoints_emerald_white
colour=0x42b600
clickmask=no

// 1171:27
[progress_diamond_left]
type=graphic
x=8
width=11
height=5
ymode=abs_centre
layer=progress_bar_backing
graphic=gwd2_solo_boss_hitpoints_emerald_white
colour=0x00ff00
clickmask=no

// 1171:28
[container]
type=layer
width=512
height=139
xmode=abs_centre
onload=script17543(event_com)

// 1171:29
[suboverlay_layer]
type=layer
y=40
width=118
height=99
widthmode=minus
xmode=abs_centre
layer=container

// 1171:30
[progress_bar_end]
type=graphic
x=-5
width=14
height=32
xmode=abs_right
layer=progress_bar
graphic=aif_progbar_divider
colour=0xffffff
clickmask=no

// 1171:31
[activity_name_text]
type=text
y=4
width=28
height=9
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=activity_name
textfont=cinzel_12pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xf0dcb4

// 1171:32
[progress_bar_fill_red]
type=graphic
width=375
height=17
xmode=abs_centre
layer=progress_bar_red
graphic=rs3_tuska_progress_fill_red
tiling=yes
colour=0x5a3232
clickmask=no

// 1171:33
[red_wave_effect]
type=graphic
width=350
height=17
xmode=abs_centre
layer=progress_bar_red
graphic=aif_progbar_wave
tiling=yes
colour=0xff8181
clickmask=no

