// 1447:0
[layer_1]
type=layer
width=506
height=403

// 1447:1
[com_1]
type=graphic
width=253
height=403
layer=layer_1
graphic="rs3_activity_stream_feature,0"
colour=0xffffff
clickmask=no

// 1447:2
[com_2]
type=graphic
x=253
width=253
height=403
layer=layer_1
graphic="rs3_activity_stream_feature,1"
colour=0xffffff
clickmask=no

// 1447:3
[com_3]
type=text
height=100
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=layer_1
textfont=cinzel_25pt_bold_multiline
text=FEATURE COMING SOON
textalignh=1
textalignv=1
textshadow=yes

