// 263:0
[root]
type=layer
widthmode=minus
heightmode=minus

// 263:1
[button_wrapper]
type=layer
x=10
width=90
height=36
xmode=abs_right
layer=root
noclickthrough=yes

// 263:2
[delete]
type=graphic
width=28
height=28
xmode=abs_right
ymode=abs_centre
layer=button_wrapper
graphic=hud_combat_btn_bin
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Delete
onmouseover=script9402(event_com)
onmouseleave=script9403(event_com)

// 263:3
[sort_asc]
type=graphic
width=28
height=28
xmode=abs_centre
ymode=abs_centre
layer=button_wrapper
graphic="rs3_icon_sort,5"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Ascend
onmouseover=script9404(rs3tli_sort_ascending_icons, event_com)
onmouseleave=script9405(rs3tli_sort_ascending_icons, event_com)

// 263:4
[sort_desc]
type=graphic
width=28
height=28
ymode=abs_centre
layer=button_wrapper
graphic="rs3_icon_sort,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Descend
onmouseover=script9404(rs3tli_sort_descending_icons, event_com)
onmouseleave=script9405(rs3tli_sort_descending_icons, event_com)

