// 10:0
[com_0]
type=rectangle
height=28
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=layer_1
colour=0x000000
fill=yes
trans=160

// 10:1
[com_1]
type=text
x=-40
y=1
width=120
height=18
xmode=abs_centre
ymode=abs_centre
layer=layer_1
textfont=b12_full
text=Windspeed:
textalignh=2
textshadow=yes
colour=0xbf751d

// 10:2
[ahoy_windspeed_indicator]
type=text
x=60
y=1
width=80
height=18
xmode=abs_centre
ymode=abs_centre
layer=layer_1
textfont=p12_full
text=high
textshadow=yes
colour=0xe1981f

// 10:3
[layer_1]
type=layer
width=200
height=28
xmode=abs_centre

