// 1368:0
[content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 1368:1
[right_top]
type=model
x=-10
y=150
width=82
height=88
xmode=abs_right
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=216

// 1368:2
[right_top_2]
type=model
x=18
y=200
width=82
height=88
xmode=abs_right
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=150

// 1368:3
[right_top_3]
type=model
x=-27
y=58
width=82
height=88
xmode=abs_right
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=120

// 1368:4
[right_top_4]
type=model
x=43
y=150
width=82
height=88
xmode=abs_right
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=70

// 1368:5
[right_middle]
type=model
x=30
width=82
height=88
xmode=abs_right
ymode=abs_centre
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=300

// 1368:6
[right_middle_1]
type=model
x=55
y=-41
width=82
height=88
xmode=abs_right
ymode=abs_centre
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=250

// 1368:7
[right_middle_2]
type=model
x=-23
y=-42
width=82
height=88
xmode=abs_right
ymode=abs_centre
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=300

// 1368:8
[right_middle_3]
type=model
x=59
y=71
width=82
height=88
xmode=abs_right
ymode=abs_centre
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=300

// 1368:9
[right_bottom]
type=model
width=82
height=88
xmode=abs_right
ymode=abs_bottom
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=300

// 1368:10
[left_top]
type=model
x=-14
y=120
width=82
height=88
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=216

// 1368:11
[left_middle]
type=model
x=45
width=82
height=88
ymode=abs_centre
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400

// 1368:12
[left_middle_1]
type=model
x=-30
y=67
width=82
height=88
ymode=abs_centre
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400

// 1368:13
[left_middle_2]
type=model
x=45
y=71
width=82
height=88
ymode=abs_centre
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400

// 1368:14
[left_bottom]
type=model
width=82
height=88
ymode=abs_bottom
layer=content_layer
model=ui_glyphs_gold_01_spotanim
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=216

