// 1332:0
[main_layer]
type=layer
width=152
height=192
xmode=abs_centre
ymode=abs_centre
scrollwidth=174
scrollheight=552
onload=script19900

// 1332:1
[pose1_button_layer]
type=layer
width=75
height=95
layer=main_layer

// 1332:2
[pose1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7699(event_com)

// 1332:3
[pose1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7728(event_com)

// 1332:4
[pose1_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7729(event_com)

// 1332:5
[pose1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
hide=yes
onload=script8225(event_com)

// 1332:6
[pose1_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose1_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1332:7
[pose1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
hide=yes
onload=script8228(event_com)

// 1332:8
[pose1_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer

// 1332:9
[com_9]
type=model
width=42
height=74
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_text_layer
model=mtxbeach_bodybuilder_male01
modelorigin_x=-2
modelorigin_y=36
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000
modelanim=april_fools25_rocking_horse_idle

// 1332:10
[pose2_button_layer]
type=layer
x=77
width=75
height=95
layer=main_layer

// 1332:11
[pose2_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7699(event_com)

// 1332:12
[pose2_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7728(event_com)

// 1332:13
[pose2_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7729(event_com)

// 1332:14
[pose2_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
hide=yes
onload=script8225(event_com)

// 1332:15
[pose2_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose2_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1332:16
[pose2_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
hide=yes
onload=script8228(event_com)

// 1332:17
[pose2_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer

// 1332:18
[com_18]
type=model
width=43
height=75
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_text_layer
model=mtxbeach_bodybuilder_male01
modelorigin_x=-1
modelorigin_y=36
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000
modelanim=april_fools25_rocking_horse_trot

// 1332:19
[pose3_button_layer]
type=layer
y=97
width=75
height=95
layer=main_layer

// 1332:20
[pose3_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7699(event_com)

// 1332:21
[pose3_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7728(event_com)

// 1332:22
[pose3_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7729(event_com)

// 1332:23
[pose3_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
hide=yes
onload=script8225(event_com)

// 1332:24
[pose3_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose3_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1332:25
[pose3_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
hide=yes
onload=script8228(event_com)

// 1332:26
[pose3_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer

// 1332:27
[com_27]
type=model
width=48
height=79
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_text_layer
model=mtxbeach_bodybuilder_male01
modelorigin_x=3
modelorigin_y=38
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000
modelanim=april_fools25_rocking_horse_gallop

// 1332:28
[pose4_button_layer]
type=layer
x=77
y=97
width=75
height=95
layer=main_layer

// 1332:29
[pose4_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7699(event_com)

// 1332:30
[pose4_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7728(event_com)

// 1332:31
[pose4_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7729(event_com)

// 1332:32
[pose4_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
hide=yes
onload=script8225(event_com)

// 1332:33
[pose4_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose4_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1332:34
[pose4_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
hide=yes
onload=script8228(event_com)

// 1332:35
[pose4_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer

// 1332:36
[com_36]
type=model
width=42
height=76
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_text_layer
model=mtxbeach_bodybuilder_male01
modelorigin_x=8
modelorigin_y=35
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000
modelanim=april_fools25_rocking_horse_turn

// 1332:37
[com_37]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=1. Rock
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1332:38
[com_38]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=2. Trot
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1332:39
[com_39]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=3. Gallop
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1332:40
[com_40]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=4. Turn
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

