// 664:0
[bespoke_window]
type=layer
width=632
height=352
xmode=abs_centre
ymode=abs_centre
onload=script8420(arch_qualification:bespoke_window_background, arch_qualification:bespoke_window_border, arch_qualification:bespoke_window_content, arch_qualification:bespoke_window_close_button, "", 21259, null)

// 664:1
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 664:2
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 664:3
[background_graphic]
type=graphic
width=624
height=344
layer=bespoke_window_content
graphic=arch_ui_certificate_background
colour=0xffffff
clickmask=no

// 664:4
[title]
type=text
y=7
width=120
height=32
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content
textfont=cinzel_18pt_bold
text=Certificate of Qualification
textalignh=1
textalignv=1
colour=0x000000

// 664:5
[reward_layer]
type=layer
y=88
width=430
height=90
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content

// 664:6
[reward_scrolling_layer]
type=layer
width=16
widthmode=minus
heightmode=minus
layer=reward_layer

// 664:7
[reward_scrollbar_layer]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=reward_layer

// 664:8
[reward_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reward_scrolling_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
colour=0x000000

// 664:9
[qualification_header]
type=text
y=149
width=400
height=20
xmode=abs_centre
layer=bespoke_window_content
textfont=museo_sans_11pt_regular_multiline
text=This is to certify that <name> has achieved the rank of
textalignh=1
textalignv=1
colour=0x000000

// 664:10
[name]
type=text
y=170
width=400
height=20
xmode=abs_centre
layer=bespoke_window_content
textfont=cinzel_15pt_bold
text=-
textalignh=1
textalignv=1
colour=0x000000

// 664:11
[qualification_footer]
type=text
y=193
width=400
height=20
xmode=abs_centre
layer=bespoke_window_content
textfont=museo_sans_11pt_regular_multiline
text=You now have access to the following:
textalignh=1
textalignv=1
colour=0x000000

// 664:12
[skill_graphic]
type=graphic
y=74
width=52
height=52
xmode=abs_centre
layer=bespoke_window_content
graphic="skill_icon_archaeology_52px,0"
colour=0xffffff
clickmask=no

// 664:13
[stamp_graphic]
type=graphic
y=156
width=96
height=96
layer=bespoke_window_content
graphic=arch_ui_certificate_guild
colour=0xffffff
clickmask=no

// 664:14
[seal_graphic]
type=graphic
y=142
width=110
height=170
xmode=abs_right
layer=bespoke_window_content
graphic="arch_ui_certificate_wax_seal,0"
colour=0xffffff
clickmask=no

// 664:15
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 664:16
[bespoke_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=bespoke_window
transmitop1=yes
op1=Close
onop=closebutton_click

