// 694:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(arch_restoration_inspect:mainmodal_window_background, arch_restoration_inspect:mainmodal_window_border, arch_restoration_inspect:mainmodal_window_content, arch_restoration_inspect:mainmodal_window_close_button, "Artefact Information", 21218, string_1040)

// 694:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 694:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onvartransmit=script14914
oninvtransmit=script14915
onvartransmitlist=arch_restoration_inspect_item
oninvtransmitlist=inv,arch_material_storage

// 694:3
[header_layer]
type=layer
y=4
width=8
height=42
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 694:4
[header_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=header_layer
onload=script10896(event_com, null, rs3tli_content_panel)

// 694:5
[contents_layer]
type=layer
y=50
width=8
height=54
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 694:6
[popup_window]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 694:7
[popup_window_background]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=popup_window
colour=0x000000
fill=yes
trans=140

// 694:8
[popup_window_content]
type=layer
width=388
height=52
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=popup_window

// 694:9
[popup_contents_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=popup_window_content

// 694:10
[popup_contents_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=popup_contents_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 694:11
[popup_title]
type=text
y=4
width=8
height=30
widthmode=minus
xmode=abs_centre
layer=popup_contents_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 694:12
[collection_popup_layer]
type=layer
y=34
width=8
height=76
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=popup_contents_layer

// 694:13
[popup_close_button_layer]
type=layer
y=8
width=140
height=27
xmode=abs_centre
ymode=abs_bottom
layer=popup_contents_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Close")
onop=script14922

// 694:14
[collection_popup_header_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=collection_popup_layer

// 694:15
[collection_popup_header_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=collection_popup_header_layer

// 694:16
[collection_popup_header_build_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=collection_popup_header_layer

// 694:17
[collection_popup_contents_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=collection_popup_layer

// 694:18
[collection_popup_footer_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=collection_popup_layer

// 694:19
[contents_left_layer]
type=layer
width=246
widthmode=minus
heightmode=minus
layer=contents_layer

// 694:20
[contents_left_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=contents_left_layer
onload=script10896(event_com, null, rs3tli_content_panel)

// 694:21
[restoration_info_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contents_left_layer

// 694:22
[restoration_info_label]
type=text
x=4
width=4
height=26
widthmode=minus
layer=restoration_info_layer
textfont=museo_sans_13pt_regular
text=Restoration Information
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 694:23
[restoration_info_scrolling_layer]
type=layer
x=4
y=26
width=24
height=26
widthmode=minus
heightmode=minus
layer=restoration_info_layer

// 694:24
[restoration_info_value_layer]
type=layer
height=60
widthmode=minus
layer=restoration_info_scrolling_layer

// 694:25
[restoration_info_requirements_layer]
type=layer
y=60
height=60
widthmode=minus
layer=restoration_info_scrolling_layer

// 694:26
[restoration_info_materials_layer]
type=layer
y=120
height=60
widthmode=minus
layer=restoration_info_scrolling_layer

// 694:27
[restoration_info_value_label]
type=text
height=20
widthmode=minus
layer=restoration_info_value_layer
textfont=museo_sans_13pt_regular
text=Value
textalignv=1
textshadow=yes

// 694:28
[restoration_info_value_build_layer]
type=layer
height=20
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=restoration_info_value_layer

// 694:29
[restoration_info_requirements_label]
type=text
height=20
widthmode=minus
layer=restoration_info_requirements_layer
textfont=museo_sans_13pt_regular
text=Requirements
textalignv=1
textshadow=yes

// 694:30
[restoration_info_materials_label]
type=text
height=20
widthmode=minus
layer=restoration_info_materials_layer
textfont=museo_sans_13pt_regular
text=Materials
textalignv=1
textshadow=yes

// 694:31
[restoration_info_materials_build_layer]
type=layer
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=restoration_info_materials_layer

// 694:32
[com_32]
type=rectangle
y=7
width=12
height=12
widthmode=minus
xmode=abs_centre
layer=restoration_info_value_build_layer
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 694:33
[contents_right_layer]
type=layer
width=246
widthmode=minus
heightmode=minus
xmode=abs_right
layer=contents_layer

// 694:34
[restoration_info_scrollbar_layer]
type=layer
y=26
width=16
height=26
heightmode=minus
xmode=abs_right
layer=restoration_info_layer

// 694:35
[contents_right_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=contents_right_layer
onload=script10896(event_com, null, rs3tli_content_panel)

// 694:36
[collection_info_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contents_right_layer

// 694:37
[collection_info_label]
type=text
x=4
width=4
height=26
widthmode=minus
layer=collection_info_layer
textfont=museo_sans_13pt_regular
text=Collections
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 694:38
[collection_info_scrolling_layer]
type=layer
x=4
y=26
width=24
height=26
widthmode=minus
heightmode=minus
layer=collection_info_layer

// 694:39
[collection_info_scrollbar_layer]
type=layer
y=26
width=16
height=26
heightmode=minus
xmode=abs_right
layer=collection_info_layer

// 694:40
[collection_info_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=collection_info_scrolling_layer

// 694:41
[collection_info_control_layer]
type=layer
widthmode=minus
heightmode=minus
layer=collection_info_scrolling_layer

// 694:42
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 694:43
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close

// 694:44
[item_icon_layer]
type=layer
x=7
width=40
height=36
ymode=abs_centre
layer=header_layer

// 694:45
[item_icon_slot_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item_icon_layer
onload=script10896(event_com, null, rs3tli_icon_slot)

// 694:46
[item_icon_graphic]
type=graphic
x=2
y=2
width=36
height=32
layer=item_icon_layer
colour=0xffffff
clickmask=no

// 694:47
[item_name_text]
type=text
x=54
width=58
height=6
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=header_layer
textfont=cinzel_13pt_bold
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 694:48
[restoration_info_requirements_build_layer]
type=layer
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=restoration_info_requirements_layer

// 694:49
[collection_popup_contents_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=collection_popup_contents_layer

// 694:50
[collection_popup_contents_build_layer]
type=layer
width=20
height=6
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=collection_popup_contents_layer

// 694:51
[collection_popup_contents_scrollbar_layer]
type=layer
x=3
width=16
height=6
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=collection_popup_contents_layer

// 694:52
[collection_popup_footer_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=collection_popup_footer_layer

// 694:53
[collection_popup_footer_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=collection_popup_footer_layer

