// 71:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(arch_orthen_site_map:mainmodal_window_background, arch_orthen_site_map:mainmodal_window_border, arch_orthen_site_map:mainmodal_window_content, arch_orthen_site_map:mainmodal_window_close_button, "Anachronia Excavation Sites", 21218, string_1007)

// 71:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 71:2
[mainmodal_window_content]
type=layer
y=32
width=496
height=294
xmode=abs_centre
layer=mainmodal_window

// 71:3
[map_graphic]
type=graphic
width=496
height=294
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
graphic=arch_orthen_site_map_background
colour=0xffffff
clickmask=no

// 71:4
[current_location_background]
type=rectangle
width=80
heightmode=minus
layer=current_location_layer
colour=0x474747
fill=yes
trans=74

// 71:5
[current_location_frame]
type=rectangle
width=80
heightmode=minus
layer=current_location_layer
colour=0xfffefe

// 71:6
[current_location_text]
type=text
width=80
heightmode=minus
layer=current_location_layer
textfont=museo_sans_11pt_regular
text=You are here
textalignh=1
textalignv=1
colour=0xfffefe

// 71:7
[current_location_arrow]
type=graphic
x=79
width=12
height=12
ymode=abs_centre
layer=current_location_layer
graphic="aif_examine_frame_arrow_1,1"
colour=0xffffff
clickmask=no

// 71:8
[icon_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=icon_layer

// 71:9
[icon_control_layer]
type=layer
widthmode=minus
heightmode=minus
layer=icon_layer

// 71:10
[current_location_layer]
type=layer
x=237
y=94
width=90
height=20
layer=mainmodal_window_content

// 71:11
[location_layer_6]
type=layer
x=1
y=-24
width=95
height=17
layer=mainmodal_window_content

// 71:12
[location_layer_5]
type=layer
x=1
y=-24
width=95
height=17
layer=mainmodal_window_content

// 71:13
[location_layer_4]
type=layer
x=1
y=-24
width=95
height=17
layer=mainmodal_window_content

// 71:14
[location_layer_3]
type=layer
x=1
y=-24
width=95
height=17
layer=mainmodal_window_content

// 71:15
[location_layer_2]
type=layer
x=1
y=-24
width=95
height=17
layer=mainmodal_window_content

// 71:16
[location_layer_1]
type=layer
x=1
y=-24
width=95
height=17
layer=mainmodal_window_content

// 71:17
[icon_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 71:18
[popup_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 71:19
[popup_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=popup_window
colour=0x000000
fill=yes
trans=125

// 71:20
[modal_dialog_window]
type=layer
width=320
height=190
xmode=abs_centre
ymode=abs_centre
layer=popup_window
onload=script8420(arch_orthen_site_map:modal_dialog_window_background, arch_orthen_site_map:modal_dialog_window_border, arch_orthen_site_map:modal_dialog_window_content, arch_orthen_site_map:modal_dialog_window_close_button, "Site Information", 21217, null)

// 71:21
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 71:22
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 71:23
[site_info_layer]
type=layer
y=5
width=10
height=52
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 71:24
[site_info_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=site_info_layer
onload=script10896(event_com, null, rs3tli_content_panel)

// 71:25
[site_info_text]
type=text
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=site_info_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1

// 71:26
[teleport_button_layer]
type=layer
y=10
width=100
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content
onload=script13968(arch_orthen_site_map:teleport_button_build_layer, arch_orthen_site_map:teleport_button_control_layer, rs3tli_positive_button, "Fast travel")

// 71:27
[teleport_button_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=teleport_button_layer

// 71:28
[teleport_button_control_layer]
type=layer
widthmode=minus
heightmode=minus
layer=teleport_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 71:29
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 71:30
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=script11934

// 71:31
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 71:32
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 71:33
[location_background_1]
type=rectangle
widthmode=minus
heightmode=minus
layer=location_layer_1
colour=0x0a0a0a
fill=yes
trans=60

// 71:34
[location_frame_1]
type=rectangle
widthmode=minus
heightmode=minus
layer=location_layer_1
colour=0xfffefe

// 71:35
[location_text_1]
type=text
x=3
widthmode=minus
heightmode=minus
xmode=abs_right
layer=location_layer_1
textfont=museo_sans_11pt_regular
textalignh=2
textalignv=1
colour=0xfffefe

// 71:36
[location_background_2]
type=rectangle
widthmode=minus
heightmode=minus
layer=location_layer_2
colour=0x0a0a0a
fill=yes
trans=60

// 71:37
[location_frame_2]
type=rectangle
widthmode=minus
heightmode=minus
layer=location_layer_2
colour=0xfffefe

// 71:38
[location_text_2]
type=text
x=3
widthmode=minus
heightmode=minus
xmode=abs_right
layer=location_layer_2
textfont=museo_sans_11pt_regular
textalignh=2
textalignv=1
colour=0xfffefe

// 71:39
[location_background_3]
type=rectangle
widthmode=minus
heightmode=minus
layer=location_layer_3
colour=0x0a0a0a
fill=yes
trans=60

// 71:40
[location_frame_3]
type=rectangle
widthmode=minus
heightmode=minus
layer=location_layer_3
colour=0xfffefe

// 71:41
[location_text_3]
type=text
x=3
widthmode=minus
heightmode=minus
xmode=abs_right
layer=location_layer_3
textfont=museo_sans_11pt_regular
textalignh=2
textalignv=1
colour=0xfffefe

// 71:42
[location_background_4]
type=rectangle
widthmode=minus
heightmode=minus
layer=location_layer_4
colour=0x0a0a0a
fill=yes
trans=60

// 71:43
[location_frame_4]
type=rectangle
widthmode=minus
heightmode=minus
layer=location_layer_4
colour=0xfffefe

// 71:44
[location_text_4]
type=text
x=3
widthmode=minus
heightmode=minus
xmode=abs_right
layer=location_layer_4
textfont=museo_sans_11pt_regular
textalignh=2
textalignv=1
colour=0xfffefe

// 71:45
[location_background_5]
type=rectangle
widthmode=minus
heightmode=minus
layer=location_layer_5
colour=0x0a0a0a
fill=yes
trans=60

// 71:46
[location_frame_5]
type=rectangle
widthmode=minus
heightmode=minus
layer=location_layer_5
colour=0xfffefe

// 71:47
[location_text_5]
type=text
x=3
widthmode=minus
heightmode=minus
xmode=abs_right
layer=location_layer_5
textfont=museo_sans_11pt_regular
textalignh=2
textalignv=1
colour=0xfffefe

// 71:48
[location_background_6]
type=rectangle
widthmode=minus
heightmode=minus
layer=location_layer_6
colour=0x0a0a0a
fill=yes
trans=60

// 71:49
[location_frame_6]
type=rectangle
widthmode=minus
heightmode=minus
layer=location_layer_6
colour=0xfffefe

// 71:50
[location_text_6]
type=text
x=3
widthmode=minus
heightmode=minus
xmode=abs_right
layer=location_layer_6
textfont=museo_sans_11pt_regular
textalignh=2
textalignv=1
colour=0xfffefe

