// 660:0
[mainmodal_window]
type=layer
width=472
height=12
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(arch_material_storage:mainmodal_window_background, arch_material_storage:mainmodal_window_border, arch_material_storage:mainmodal_window_content, arch_material_storage:mainmodal_window_close_button, "Material Storage", 21218, string_1007)

// 660:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 660:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=arch_material_storage_onload

// 660:3
[storage_window]
type=layer
x=5
y=5
width=254
height=10
heightmode=minus
layer=mainmodal_window_content
onload=script8420(arch_material_storage:storage_window_background, arch_material_storage:storage_window_border, arch_material_storage:storage_window_content, null, "", 21259, null)

// 660:4
[storage_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=storage_window

// 660:5
[storage_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=storage_window

// 660:6
[storage_layer]
type=layer
y=5
width=10
height=182
widthmode=minus
xmode=abs_centre
layer=storage_window_content

// 660:7
[button_layer]
type=layer
x=5
y=5
width=10
height=197
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=storage_window_content

// 660:8
[withdraw_button_layer]
type=layer
y=4
width=150
height=27
xmode=abs_centre
layer=button_layer
onload=script13968(arch_material_storage:withdraw_button_build_layer, arch_material_storage:withdraw_button_control_layer, rs3tli_positive_button, "Withdraw All")

// 660:9
[deposit_button_layer]
type=layer
y=4
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=button_layer
onload=script13968(arch_material_storage:deposit_button_build_layer, arch_material_storage:deposit_button_control_layer, rs3tli_neutral_button, "Deposit All")

// 660:10
[storage_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=storage_window

// 660:11
[inventory_window]
type=layer
x=5
y=5
width=188
height=10
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content
onload=script8420(arch_material_storage:inventory_window_background, arch_material_storage:inventory_window_border, arch_material_storage:inventory_window_content, null, "", 21259, null)

// 660:12
[inventory_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=inventory_window

// 660:13
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 660:14
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 660:15
[inventory_control_layer]
type=layer
layer=inventory_layer
hide=yes
transmitop1=yes
op1=Research

// 660:16
[inventory_scrollbar_layer]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=inventory_layer
hide=yes

// 660:17
[inventory_scrolling_layer]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_layer

// 660:18
[inventory_slot_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_scrolling_layer

// 660:19
[inventory_obj_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_scrolling_layer

// 660:20
[inventory_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=inventory_window

// 660:21
[inventory_layer]
type=layer
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inventory_window_content

// 660:22
[inventory_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_window

// 660:23
[storage_scrolling_layer]
type=layer
widthmode=minus
heightmode=minus
layer=storage_layer

// 660:24
[storage_scrollbar_layer]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=storage_layer
hide=yes

// 660:25
[storage_slot_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=storage_scrolling_layer

// 660:26
[storage_obj_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=storage_scrolling_layer

// 660:27
[withdraw_button_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=withdraw_button_layer

// 660:28
[withdraw_button_control_layer]
type=layer
widthmode=minus
heightmode=minus
layer=withdraw_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 660:29
[deposit_button_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_button_layer

// 660:30
[deposit_button_control_layer]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

