// 665:0
[bespoke_window]
type=layer
width=640
height=424
xmode=abs_centre
ymode=abs_centre
onload=script8420(arch_upsell:bespoke_window_background, arch_upsell:bespoke_window_border, arch_upsell:bespoke_window_content, null, "", 21259, null)

// 665:1
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 665:2
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 665:3
[background_graphic]
type=graphic
width=633
height=416
layer=bespoke_window_content
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Subscribe

// 665:4
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 665:5
[bespoke_window_close]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 665:6
[close_button_graphic]
type=graphic
width=24
height=24
xmode=abs_right
layer=bespoke_window_close
graphic="rs3_btn_close_24px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_24px_close_button)
onop=closebutton_click

