// 755:0
[root]
type=layer
widthmode=minus
heightmode=minus
onload=script864
onvartransmit=script4220
onvartransmitlist=cheevo_misc_varp

// 755:1
[recommended_task_layer]
type=layer
x=5
y=40
width=15
height=85
widthmode=minus
layer=root

// 755:2
[recommended_task_bg_layer]
type=layer
widthmode=minus
heightmode=minus
layer=recommended_task_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 755:3
[recommended_task_graphic]
type=graphic
x=5
y=5
width=32
height=32
layer=recommended_task_layer
noclickthrough=yes
colour=0xffffff
clickmask=no

// 755:4
[recommended_task_name]
type=text
x=60
y=4
width=181
height=32
layer=recommended_task_layer
noclickthrough=yes
textfont=cinzel_13pt_bold
text=Recommended Task
textshadow=yes
onload=script10496(event_com, -1, 2)

// 755:5
[recommended_task_desc]
type=text
x=45
y=23
width=50
height=28
widthmode=minus
heightmode=minus
layer=recommended_task_layer
noclickthrough=yes
textfont=notosans_12
textlineheight=18
textshadow=yes
onload=script10496(event_com, -1, 3)

// 755:6
[recommended_task_pin_layer]
type=layer
x=45
y=6
width=14
height=14
layer=recommended_task_layer

// 755:7
[progress_layer]
type=layer
x=5
y=5
width=240
height=135
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=root

// 755:8
[progress_bg_layer]
type=layer
widthmode=minus
heightmode=minus
layer=progress_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 755:9
[easy_progress_layer]
type=layer
x=5
width=10
height=55
widthmode=minus
layer=progress_layer

// 755:10
[easy_progress_icon]
type=graphic
x=5
y=2
width=32
height=32
ymode=abs_centre
layer=easy_progress_layer
noclickthrough=yes
colour=0xffffff
clickmask=no

// 755:11
[easy_progress_title_text]
type=text
x=42
y=6
width=200
height=32
layer=easy_progress_layer
noclickthrough=yes
textfont=notosans_12
text=Easy
onload=script10496(event_com, -1, 3)

// 755:12
[easy_progress_bar]
type=layer
x=42
y=7
width=95
height=26
widthmode=minus
ymode=abs_bottom
layer=easy_progress_layer
transmitop1=yes
op1=Go To

// 755:13
[com_13]
type=graphic
width=22
heightmode=minus
ymode=abs_centre
layer=easy_progress_bar
graphic="rs3_progress_bar_backing_22px,0"
colour=0x836e6d
clickmask=no

// 755:14
[com_14]
type=graphic
width=44
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=easy_progress_bar
graphic="rs3_progress_bar_backing_22px,1"
colour=0x836e6d
clickmask=no

// 755:15
[com_15]
type=graphic
width=22
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=easy_progress_bar
graphic="rs3_progress_bar_backing_22px,2"
colour=0x836e6d
clickmask=no

// 755:16
[easy_progress_tooltip_layer]
type=layer
widthmode=minus
heightmode=minus
layer=easy_progress_bar

// 755:17
[easy_progress_bar_layer]
type=layer
x=2
y=3
width=4
height=6
widthmode=minus
heightmode=minus
layer=easy_progress_bar

// 755:18
[easy_progress_bar_value_layer]
type=layer
widthmode=minus
heightmode=minus
layer=easy_progress_bar_layer

// 755:19
[com_19]
type=graphic
width=12
heightmode=minus
layer=easy_progress_bar_value_layer
graphic="rs3_progress_bar_green_12px,0"
colour=0xffffff
clickmask=no

// 755:20
[com_20]
type=graphic
x=12
width=24
widthmode=minus
heightmode=minus
layer=easy_progress_bar_value_layer
graphic="rs3_progress_bar_green_12px,1"
colour=0xffffff
clickmask=no

// 755:21
[com_21]
type=graphic
width=12
heightmode=minus
xmode=abs_right
layer=easy_progress_bar_value_layer
graphic="rs3_progress_bar_green_12px,2"
colour=0xffffff
clickmask=no

// 755:22
[easy_progress_bar_text_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=easy_progress_bar

// 755:23
[easy_progress_bar_text]
type=text
y=1
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=easy_progress_bar_text_layer
textfont=museo_sans_13pt_regular
text=0 / 0
textalignh=1
textalignv=1
colour=0xd5d9d3

// 755:24
[com_24]
type=graphic
x=5
y=1
width=40
height=40
xmode=abs_right
ymode=abs_bottom
layer=easy_progress_layer
noclickthrough=yes
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 755:25
[easy_reward]
type=graphic
x=5
y=4
width=36
height=32
xmode=abs_right
ymode=abs_bottom
layer=easy_progress_layer
noclickthrough=yes
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Reward Details

// 755:26
[medium_progress_layer]
type=layer
x=5
y=4263
width=10
height=55
widthmode=minus
ymode=proportion_top
layer=progress_layer

// 755:27
[medium_progress_icon]
type=graphic
x=5
y=2
width=32
height=32
ymode=abs_centre
layer=medium_progress_layer
noclickthrough=yes
colour=0xffffff
clickmask=no

// 755:28
[medium_progress_title_text]
type=text
x=42
y=6
width=200
height=32
layer=medium_progress_layer
noclickthrough=yes
textfont=notosans_12
text=Medium
onload=script10496(event_com, -1, 3)

// 755:29
[medium_progress_bar]
type=layer
x=42
y=7
width=95
height=26
widthmode=minus
ymode=abs_bottom
layer=medium_progress_layer
transmitop1=yes
op1=Go To

// 755:30
[com_30]
type=graphic
width=22
heightmode=minus
ymode=abs_centre
layer=medium_progress_bar
graphic="rs3_progress_bar_backing_22px,0"
colour=0x836e6d
clickmask=no

// 755:31
[com_31]
type=graphic
width=44
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=medium_progress_bar
graphic="rs3_progress_bar_backing_22px,1"
colour=0x836e6d
clickmask=no

// 755:32
[com_32]
type=graphic
width=22
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=medium_progress_bar
graphic="rs3_progress_bar_backing_22px,2"
colour=0x836e6d
clickmask=no

// 755:33
[medium_progress_tooltip_layer]
type=layer
widthmode=minus
heightmode=minus
layer=medium_progress_bar

// 755:34
[medium_progress_bar_layer]
type=layer
x=2
y=3
width=4
height=6
widthmode=minus
heightmode=minus
layer=medium_progress_bar

// 755:35
[medium_progress_bar_value_layer]
type=layer
widthmode=minus
heightmode=minus
layer=medium_progress_bar_layer

// 755:36
[com_36]
type=graphic
width=12
heightmode=minus
layer=medium_progress_bar_value_layer
graphic="rs3_progress_bar_green_12px,0"
colour=0xffffff
clickmask=no

// 755:37
[com_37]
type=graphic
x=12
width=24
widthmode=minus
heightmode=minus
layer=medium_progress_bar_value_layer
graphic="rs3_progress_bar_green_12px,1"
colour=0xffffff
clickmask=no

// 755:38
[com_38]
type=graphic
width=12
heightmode=minus
xmode=abs_right
layer=medium_progress_bar_value_layer
graphic="rs3_progress_bar_green_12px,2"
colour=0xffffff
clickmask=no

// 755:39
[medium_progress_bar_text_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=medium_progress_bar

// 755:40
[medium_progress_bar_text]
type=text
y=1
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=medium_progress_bar_text_layer
textfont=museo_sans_13pt_regular
text=0 / 0
textalignh=1
textalignv=1
colour=0xd5d9d3

// 755:41
[com_41]
type=graphic
x=5
y=1
width=40
height=40
xmode=abs_right
ymode=abs_bottom
layer=medium_progress_layer
noclickthrough=yes
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 755:42
[medium_reward]
type=graphic
x=5
y=4
width=36
height=32
xmode=abs_right
ymode=abs_bottom
layer=medium_progress_layer
noclickthrough=yes
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Reward Details

// 755:43
[hard_progress_layer]
type=layer
x=5
y=8526
width=10
height=55
widthmode=minus
ymode=proportion_top
layer=progress_layer

// 755:44
[hard_progress_icon]
type=graphic
x=5
y=2
width=32
height=32
ymode=abs_centre
layer=hard_progress_layer
noclickthrough=yes
colour=0xffffff
clickmask=no

// 755:45
[hard_progress_title_text]
type=text
x=42
y=6
width=200
height=32
layer=hard_progress_layer
noclickthrough=yes
textfont=notosans_12
text=Hard
onload=script10496(event_com, -1, 3)

// 755:46
[hard_progress_bar]
type=layer
x=42
y=7
width=95
height=26
widthmode=minus
ymode=abs_bottom
layer=hard_progress_layer
transmitop1=yes
op1=Go To

// 755:47
[com_47]
type=graphic
width=22
heightmode=minus
ymode=abs_centre
layer=hard_progress_bar
graphic="rs3_progress_bar_backing_22px,0"
colour=0x836e6d
clickmask=no

// 755:48
[com_48]
type=graphic
width=44
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hard_progress_bar
graphic="rs3_progress_bar_backing_22px,1"
colour=0x836e6d
clickmask=no

// 755:49
[com_49]
type=graphic
width=22
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=hard_progress_bar
graphic="rs3_progress_bar_backing_22px,2"
colour=0x836e6d
clickmask=no

// 755:50
[hard_progress_tooltip_layer]
type=layer
widthmode=minus
heightmode=minus
layer=hard_progress_bar

// 755:51
[hard_progress_bar_layer]
type=layer
x=2
y=3
width=4
height=6
widthmode=minus
heightmode=minus
layer=hard_progress_bar

// 755:52
[hard_progress_bar_value_layer]
type=layer
widthmode=minus
heightmode=minus
layer=hard_progress_bar_layer

// 755:53
[com_53]
type=graphic
width=12
heightmode=minus
layer=hard_progress_bar_value_layer
graphic="rs3_progress_bar_green_12px,0"
colour=0xffffff
clickmask=no

// 755:54
[com_54]
type=graphic
x=12
width=24
widthmode=minus
heightmode=minus
layer=hard_progress_bar_value_layer
graphic="rs3_progress_bar_green_12px,1"
colour=0xffffff
clickmask=no

// 755:55
[com_55]
type=graphic
width=12
heightmode=minus
xmode=abs_right
layer=hard_progress_bar_value_layer
graphic="rs3_progress_bar_green_12px,2"
colour=0xffffff
clickmask=no

// 755:56
[hard_progress_bar_text_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=hard_progress_bar

// 755:57
[hard_progress_bar_text]
type=text
y=1
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=hard_progress_bar_text_layer
textfont=museo_sans_13pt_regular
text=0 / 0
textalignh=1
textalignv=1
colour=0xd5d9d3

// 755:58
[com_58]
type=graphic
x=5
y=1
width=40
height=40
xmode=abs_right
ymode=abs_bottom
layer=hard_progress_layer
noclickthrough=yes
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 755:59
[hard_reward]
type=graphic
x=5
y=4
width=36
height=32
xmode=abs_right
ymode=abs_bottom
layer=hard_progress_layer
noclickthrough=yes
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Reward Details

// 755:60
[elite_progress_layer]
type=layer
x=5
y=12789
width=10
height=55
widthmode=minus
ymode=proportion_top
layer=progress_layer

// 755:61
[elite_progress_icon]
type=graphic
x=5
y=2
width=32
height=32
ymode=abs_centre
layer=elite_progress_layer
noclickthrough=yes
colour=0xffffff
clickmask=no

// 755:62
[elite_progress_title_text]
type=text
x=42
y=6
width=200
height=32
layer=elite_progress_layer
noclickthrough=yes
textfont=notosans_12
text=Elite
onload=script10496(event_com, -1, 3)

// 755:63
[elite_progress_bar]
type=layer
x=42
y=7
width=95
height=26
widthmode=minus
ymode=abs_bottom
layer=elite_progress_layer
transmitop1=yes
op1=Go To

// 755:64
[com_64]
type=graphic
width=22
heightmode=minus
ymode=abs_centre
layer=elite_progress_bar
graphic="rs3_progress_bar_backing_22px,0"
colour=0x836e6d
clickmask=no

// 755:65
[com_65]
type=graphic
width=44
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=elite_progress_bar
graphic="rs3_progress_bar_backing_22px,1"
colour=0x836e6d
clickmask=no

// 755:66
[com_66]
type=graphic
width=22
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=elite_progress_bar
graphic="rs3_progress_bar_backing_22px,2"
colour=0x836e6d
clickmask=no

// 755:67
[elite_progress_tooltip_layer]
type=layer
widthmode=minus
heightmode=minus
layer=elite_progress_bar

// 755:68
[elite_progress_bar_layer]
type=layer
x=2
y=3
width=4
height=6
widthmode=minus
heightmode=minus
layer=elite_progress_bar

// 755:69
[elite_progress_bar_value_layer]
type=layer
widthmode=minus
heightmode=minus
layer=elite_progress_bar_layer

// 755:70
[com_70]
type=graphic
width=12
heightmode=minus
layer=elite_progress_bar_value_layer
graphic="rs3_progress_bar_green_12px,0"
colour=0xffffff
clickmask=no

// 755:71
[com_71]
type=graphic
x=12
width=24
widthmode=minus
heightmode=minus
layer=elite_progress_bar_value_layer
graphic="rs3_progress_bar_green_12px,1"
colour=0xffffff
clickmask=no

// 755:72
[com_72]
type=graphic
width=12
heightmode=minus
xmode=abs_right
layer=elite_progress_bar_value_layer
graphic="rs3_progress_bar_green_12px,2"
colour=0xffffff
clickmask=no

// 755:73
[elite_progress_bar_text_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=elite_progress_bar

// 755:74
[elite_progress_bar_text]
type=text
y=1
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=elite_progress_bar_text_layer
textfont=museo_sans_13pt_regular
text=0 / 0
textalignh=1
textalignv=1
colour=0xd5d9d3

// 755:75
[com_75]
type=graphic
x=5
y=1
width=40
height=40
xmode=abs_right
ymode=abs_bottom
layer=elite_progress_layer
noclickthrough=yes
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 755:76
[elite_reward]
type=graphic
x=5
y=4
width=36
height=32
xmode=abs_right
ymode=abs_bottom
layer=elite_progress_layer
noclickthrough=yes
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Reward Details

// 755:77
[reward_layer]
type=layer
x=10
y=5
width=220
height=135
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=root

// 755:78
[reward_bg_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reward_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 755:79
[reward_title]
type=text
y=5
width=10
height=40
widthmode=minus
xmode=abs_centre
layer=reward_layer
noclickthrough=yes
textfont=notosans_14
text=Reward:
textalignh=1
textalignv=1
onload=script10496(event_com, -1, 2)

// 755:80
[com_80]
type=graphic
y=55
width=62
height=58
xmode=abs_centre
layer=reward_layer
noclickthrough=yes
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 755:81
[reward_graphic]
type=graphic
x=2
y=60
width=54
height=48
xmode=abs_centre
layer=reward_layer
noclickthrough=yes
colour=0xffffff
clickmask=no

// 755:82
[reward_name]
type=text
y=110
width=10
height=32
widthmode=minus
xmode=abs_centre
layer=reward_layer
noclickthrough=yes
textfont=notosans_13
text=Explorer's Ring 1
textalignh=1
textalignv=1
onload=script10496(event_com, -1, 2)

// 755:83
[reward_desc]
type=text
y=5
width=20
height=117
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=reward_layer
noclickthrough=yes
textfont=notosans_11
textalignh=1
onload=script10496(event_com, -1, 3)

// 755:84
[reward_info_button]
type=button
y=10
width=170
height=27
xmode=abs_centre
ymode=abs_bottom
layer=reward_layer
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Reward Details
stylesheet=button_action_neutral
transmitop1=yes
op1=Reward Details
onload=stylesheet_set(event_com)

// 755:85
[dropdown_layer]
type=layer
x=5
y=5
width=150
height=30
layer=root

// 755:86
[area_dropdown_intern_notes]
type=layer
x=141
width=20
height=20
layer=root
onload=script5809(event_com, intern_notes_achievements_area_dropdown)

// 755:87
[popup_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=root
hide=yes
noclickthrough=yes

// 755:88
[popup_window_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=popup_window
colour=0x000000
fill=yes
trans=100
onclick=script17835

// 755:89
[more_information_window]
type=layer
width=250
height=309
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=popup_window
onload=script8420(area_task_sub:more_information_window_background, area_task_sub:more_information_window_border, area_task_sub:more_information_window_content, area_task_sub:more_information_window_close_button, "Reward Details", 21218, null)

// 755:90
[more_information_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=more_information_window

// 755:91
[more_information_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=more_information_window

// 755:92
[more_information_background_rect]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=more_information_window_content
colour=0x000000
fill=yes
trans=96

// 755:93
[more_information_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=more_information_window_content

// 755:94
[more_information_content_layer]
type=layer
y=6
width=12
height=208
widthmode=minus
xmode=abs_centre
layer=more_information_layer

// 755:95
[more_information_name]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=more_information_content_layer
noclickthrough=yes
textfont=notosans_13
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 2)

// 755:96
[more_information_icon_layer]
type=layer
y=24
width=42
height=42
xmode=abs_centre
layer=more_information_content_layer

// 755:97
[more_information_icon_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=more_information_icon_layer
onload=script10896(event_com, null, rs3tli_icon_slot)

// 755:98
[more_information_icon_graphic]
type=graphic
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=more_information_icon_layer
colour=0xffffff
clickmask=no

// 755:99
[com_99]
type=line
y=72
widthmode=minus
xmode=abs_centre
layer=more_information_content_layer
colour=0x2e2e35

// 755:100
[more_information_summary_layer]
type=layer
y=78
width=10
height=127
widthmode=minus
xmode=abs_centre
layer=more_information_content_layer
noclickthrough=yes

// 755:101
[more_information_summary]
type=text
y=5
width=20
widthmode=minus
heightmode=minus
layer=more_information_summary_layer
textfont=notosans_12
textlineheight=15
onload=script10496(event_com, event_comsubid, 3)

// 755:102
[more_information_scrollbar_layer]
type=layer
y=78
width=16
height=127
xmode=abs_right
layer=more_information_content_layer

// 755:103
[more_information_footer_layer]
type=layer
width=12
height=44
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=more_information_layer

// 755:104
[more_information_close_button]
type=button
width=170
height=27
xmode=abs_centre
ymode=abs_centre
layer=more_information_footer_layer
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Close
stylesheet=button_action_neutral
transmitop1=yes
op1=Close
onload=stylesheet_set(event_com)
onop=script17835

// 755:105
[com_105]
type=line
widthmode=minus
xmode=abs_centre
layer=more_information_footer_layer
colour=0x2e2e35

// 755:106
[more_information_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=more_information_window

// 755:107
[more_information_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=more_information_window
transmitop1=yes
op1=Close
onop=script17835

