// 1073:0
[com_0]
type=text
x=5
y=9
width=113
height=18
layer=content_1
textfont=p11_full
text=Current Instructions
textalignh=1
textalignv=1
textshadow=yes
colour=0xfff306

// 1073:1
[burialobject]
type=text
x=5
y=26
width=113
height=18
layer=content_1
textfont=p11_full
text=Helmets
textalignh=1
textalignv=1
textshadow=yes

// 1073:2
[com_2]
type=text
x=5
y=9
width=113
height=18
layer=content
textfont=p11_full
text=Current respect
textalignh=1
textalignv=1
textshadow=yes
colour=0xfff306

// 1073:3
[respect]
type=text
x=5
y=26
width=113
height=18
layer=content
textfont=p11_full
text=100%
textalignh=1
textalignv=1
textshadow=yes

// 1073:4
[background_1]
type=layer
widthmode=minus
heightmode=minus
layer=burial_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1073:5
[content_1]
type=layer
widthmode=minus
heightmode=minus
layer=burial_layer

// 1073:6
[background]
type=layer
widthmode=minus
heightmode=minus
layer=respect_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1073:7
[content]
type=layer
widthmode=minus
heightmode=minus
layer=respect_layer

// 1073:8
[respect_layer]
type=layer
y=7
width=122
height=52

// 1073:9
[burial_layer]
type=layer
y=62
width=122
height=52
hide=yes

