// 1572:0
[info_holder_active_1]
type=layer
width=200
height=82
ymode=abs_bottom
layer=info_holder_charges
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1572:1
[elfcity_tele_charges]
type=text
x=2
y=6
width=4
height=71
widthmode=minus
layer=info_holder_charges
textfont=museo_sans_13pt_regular
text=You can teleport to locations within the Elven Lands a total of 5 times per day.
textalignh=1
textalignv=1
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 1572:2
[info_holder_active]
type=layer
width=200
height=92
layer=info_holder_destination
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1572:3
[elfcity_tele_name]
type=text
x=3
y=6
width=6
height=13
widthmode=minus
layer=info_holder_destination
textfont=museo_sans_13pt_regular
text=Teleport Destination
textalignh=1
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 1572:4
[elfcity_tele_destination]
type=text
x=5
y=22
width=10
height=66
widthmode=minus
layer=info_holder_destination
textfont=museo_sans_11pt_regular
text=Hover over a teleport icon to learn where it leads.
textalignh=1
textalignv=1
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1572:5
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(atelf_teleports:mainmodal_window_background, atelf_teleports:mainmodal_window_border, atelf_teleports:mainmodal_window_content, atelf_teleports:mainmodal_window_close_button, "Elven Lands Teleports", 21218, string_1007)

// 1572:6
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1572:7
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1572:8
[map_background]
type=graphic
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
graphic=elfcity_teleport_map
colour=0xffffff
clickmask=no
onload=script10863
onvartransmit=script10862
onvartransmitlist=atelf_main4

// 1572:9
[info_holder_destination]
type=layer
x=8
y=8
width=200
height=92
layer=mainmodal_window_content

// 1572:10
[info_holder_locked]
type=layer
x=8
y=103
width=200
height=98
layer=mainmodal_window_content
hide=yes

// 1572:11
[info_holder_charges]
type=layer
x=8
y=8
width=200
height=82
ymode=abs_bottom
layer=mainmodal_window_content

// 1572:12
[elfcity_tele_lletya]
type=graphic
x=334
y=191
width=32
height=32
layer=mainmodal_window_content
graphic="elfcity_icon_teleport_0,0"
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Lletya
op1=Teleport to
onmouseover=elfcity_tele_hover(event_com, 1)
onmouseleave=elfcity_tele_hover(event_com, 0)

// 1572:13
[elfcity_tele_eluned]
type=graphic
x=281
y=171
width=32
height=32
layer=mainmodal_window_content
graphic="elfcity_icon_teleport_1,0"
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Eluned/Islwyn
op1=Teleport to
onmouseover=elfcity_tele_hover(event_com, 1)
onmouseleave=elfcity_tele_hover(event_com, 0)

// 1572:14
[elfcity_tele_mushroom]
type=graphic
x=269
y=205
width=32
height=32
layer=mainmodal_window_content
graphic="elfcity_icon_teleport_6,0"
colour=0xceb36c
clickmask=no
transmitop1=yes
opbase=Mushroom Patch
op1=Teleport to
onmouseover=elfcity_tele_hover(event_com, 1)
onmouseleave=elfcity_tele_hover(event_com, 0)

// 1572:15
[elfcity_tele_tyras]
type=graphic
x=229
y=198
width=32
height=32
layer=mainmodal_window_content
graphic="elfcity_icon_teleport_2,0"
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Tyras Camp
op1=Teleport to
onmouseover=elfcity_tele_hover(event_com, 1)
onmouseleave=elfcity_tele_hover(event_com, 0)

// 1572:16
[elfcity_tele_poison]
type=graphic
x=328
y=237
width=32
height=32
layer=mainmodal_window_content
graphic="elfcity_icon_teleport_3,0"
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Poison Waste
op1=Teleport to
onmouseover=elfcity_tele_hover(event_com, 1)
onmouseleave=elfcity_tele_hover(event_com, 0)

// 1572:17
[elfcity_tele_death]
type=graphic
x=411
y=110
width=32
height=32
layer=mainmodal_window_content
graphic="elfcity_icon_teleport_4,0"
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Death Altar
op1=Teleport to
onmouseover=elfcity_tele_hover(event_com, 1)
onmouseleave=elfcity_tele_hover(event_com, 0)

// 1572:18
[elfcity_tele_elfcamp]
type=graphic
x=253
y=128
width=32
height=32
layer=mainmodal_window_content
graphic="elfcity_icon_teleport_5,0"
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Elf Camp
op1=Teleport to
onmouseover=elfcity_tele_hover(event_com, 1)
onmouseleave=elfcity_tele_hover(event_com, 0)

// 1572:19
[elfcity_tele_resource]
type=graphic
x=306
y=24
width=32
height=32
layer=mainmodal_window_content
graphic="elfcity_icon_teleport_6,0"
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Harmony Pillars
op1=Teleport to
onmouseover=elfcity_tele_hover(event_com, 1)
onmouseleave=elfcity_tele_hover(event_com, 0)

// 1572:20
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1572:21
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1572:22
[info_holder_active_2]
type=layer
width=200
height=98
layer=info_holder_locked
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1572:23
[elfcity_tele_locked]
type=text
x=3
y=3
width=6
height=30
widthmode=minus
layer=info_holder_locked
textfont=museo_sans_11pt_regular
text=This teleport destination is currently locked.
textalignh=1
colour=0xff0000
onload=script10496(event_com, event_comsubid, 6)

// 1572:24
[elfcity_tele_unlockhint]
type=text
x=5
y=33
width=10
height=63
widthmode=minus
layer=info_holder_locked
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

