// 184:0
[mainmodal_window]
type=layer
width=436
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onvartransmit=script20702
onvartransmitlist=big_game_hunter_bait_box_active_inv,big_game_hunter_bait_box_active_list

// 184:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 184:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script20702
onvartransmit=script7151
onvartransmitlist=dino_herb_bag_1,dino_herb_bag_2,dino_herb_bag_3,dino_herb_bag_4,dino_herb_bag_5

// 184:3
[box_content]
type=layer
x=5
y=5
width=223
height=10
heightmode=minus
layer=mainmodal_window_content
onload=script8420(bait_box:box_content_background, bait_box:box_content_border, bait_box:box_content_content, null, "", 21259, null)

// 184:4
[box_content_background]
type=layer
widthmode=minus
heightmode=minus
layer=box_content

// 184:5
[box_content_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=box_content

// 184:6
[box_content_border]
type=layer
widthmode=minus
heightmode=minus
layer=box_content

// 184:7
[box_content_holder]
type=layer
x=5
y=5
width=10
height=165
widthmode=minus
layer=box_content_content

// 184:8
[box_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=box_content_holder

// 184:9
[food_layer]
type=layer
widthmode=minus
heightmode=minus
layer=box_content_holder

// 184:10
[button_holder]
type=layer
height=181
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=box_content_content

// 184:11
[withdraw_button]
type=layer
y=10
width=150
height=27
xmode=abs_centre
layer=button_holder
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Withdraw all")

// 184:12
[deposit_button]
type=layer
y=45
width=150
height=27
xmode=abs_centre
layer=button_holder
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Deposit all")

// 184:13
[inv_content_player_inv]
type=layer
x=5
y=5
width=182
height=10
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content
onload=script8420(bait_box:inv_content_player_inv_background, bait_box:inv_content_player_inv_border, bait_box:inv_content_player_inv_content, null, "", 21259, null)

// 184:14
[inv_content_player_inv_background]
type=layer
widthmode=minus
heightmode=minus
layer=inv_content_player_inv

// 184:15
[inv_content_player_inv_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=inv_content_player_inv

// 184:16
[inv_content_player_inv_border]
type=layer
widthmode=minus
heightmode=minus
layer=inv_content_player_inv

// 184:17
[inv_contents_layer]
type=layer
x=5
y=5
width=10
height=260
widthmode=minus
layer=inv_content_player_inv_content

// 184:18
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 184:19
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

