// 11:0
[deposit_inv_layer]
type=layer
x=135
width=35
height=30
xmode=abs_right
ymode=abs_centre
layer=bottom_buttons
onload=script10896(bank_deposit_box:deposit_inv_build, bank_deposit_box:deposit_inv, rs3tli_3x3_button)

// 11:1
[deposit_worn_layer]
type=layer
x=90
width=35
height=30
xmode=abs_right
ymode=abs_centre
layer=bottom_buttons
onload=script10896(bank_deposit_box:deposit_worn_build, bank_deposit_box:deposit_worn, rs3tli_3x3_button)

// 11:2
[deposit_bob_layer]
type=layer
x=45
width=35
height=30
xmode=abs_right
ymode=abs_centre
layer=bottom_buttons
onload=script10896(bank_deposit_box:deposit_bob_build, bank_deposit_box:deposit_bob, rs3tli_3x3_button)

// 11:3
[deposit_pouch_layer]
type=layer
width=35
height=30
xmode=abs_right
ymode=abs_centre
layer=bottom_buttons
onload=script10896(bank_deposit_box:deposit_pouch_build, bank_deposit_box:deposit_pouch, rs3tli_3x3_button)

// 11:4
[deposit_inv_build]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_inv_layer

// 11:5
[deposit_inv]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_inv_layer
transmitop1=yes
op1=Deposit Carried Items
onmouserepeat=script10009("Empty your backpack into your bank", event_com, event_comsubid)

// 11:6
[bank_inv_icon]
type=graphic
y=4
width=29
height=21
xmode=abs_centre
ymode=abs_bottom
layer=deposit_inv_layer
graphic="bank_bob_button,1"
colour=0xffffff
clickmask=no

// 11:7
[deposit_worn_build]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_worn_layer

// 11:8
[deposit_worn]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_worn_layer
transmitop1=yes
op1=Deposit Worn Items
onmouserepeat=script10009("Empty the items you are wearing into your bank", event_com, event_comsubid)

// 11:9
[bank_worn_icon]
type=graphic
y=4
width=29
height=21
xmode=abs_centre
ymode=abs_bottom
layer=deposit_worn_layer
graphic="bank_bob_button,2"
colour=0xffffff
clickmask=no

// 11:10
[deposit_bob_build]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_bob_layer

// 11:11
[deposit_bob]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_bob_layer
transmitop1=yes
op1=Deposit Familiar's Items
onmouserepeat=script10009("Empty your beast of burden's inventory into your bank", event_com, event_comsubid)

// 11:12
[bank_bob_icon]
type=graphic
y=4
width=29
height=21
xmode=abs_centre
ymode=abs_bottom
layer=deposit_bob_layer
graphic="bank_bob_button,3"
colour=0xffffff
clickmask=no

// 11:13
[deposit_pouch_build]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_pouch_layer

// 11:14
[deposit_pouch]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_pouch_layer
transmitop1=yes
op1=Deposit Money Pouch
onmouserepeat=script10009("Empty your money pouch into your bank", event_com, event_comsubid)

// 11:15
[bank_pouch_icon]
type=graphic
y=4
width=29
height=21
xmode=abs_centre
ymode=abs_bottom
layer=deposit_pouch_layer
graphic="bank_bob_button,4"
colour=0xffffff
clickmask=no

// 11:16
[mainmodal_window]
type=layer
width=400
height=284
xmode=abs_centre
ymode=abs_centre
onload=script8420(bank_deposit_box:mainmodal_window_background, bank_deposit_box:mainmodal_window_border, bank_deposit_box:mainmodal_window_content, bank_deposit_box:mainmodal_window_close_button, "Bank of Gielinor - Deposit Box", 21218, string_1007)

// 11:17
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 11:18
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script3933

// 11:19
[icons]
type=layer
y=7
width=325
height=183
xmode=abs_centre
layer=mainmodal_window_content

// 11:20
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 11:21
[line]
type=layer
y=42
height=2
widthmode=minus
ymode=abs_bottom
layer=mainmodal_window_content
onload=script349(event_com)

// 11:22
[bottom_buttons]
type=layer
width=20
height=42
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 11:23
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 11:24
[build_layer]
type=layer
x=228
y=152
width=77
height=20
layer=mainmodal_window_content

