// 14:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(bankpin_settings:mainmodal_window_background, bankpin_settings:mainmodal_window_border, bankpin_settings:mainmodal_window_content, bankpin_settings:mainmodal_window_close_button, "Bank PIN Settings", 21218, string_1007)

// 14:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 14:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 14:3
[settings]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
hide=yes

// 14:4
[statusbox]
type=layer
x=5
y=5
width=300
height=108
layer=settings

// 14:5
[statusbox_background]
type=layer
widthmode=minus
heightmode=minus
layer=statusbox

// 14:6
[com_6]
type=text
y=6
width=12
height=20
widthmode=minus
xmode=abs_centre
layer=statusbox
textfont=museo_sans_11pt_regular
text=Your Bank PIN status:
textalignh=1
textalignv=1
textshadow=yes

// 14:7
[statusoutput]
type=text
y=26
width=12
height=26
widthmode=minus
xmode=abs_centre
layer=statusbox
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 14:8
[com_8]
type=text
y=54
width=12
height=20
widthmode=minus
xmode=abs_centre
layer=statusbox
textfont=museo_sans_11pt_regular
text=Recovery delay:
textalignh=1
textalignv=1
textshadow=yes

// 14:9
[delayoutput]
type=text
y=76
width=12
height=26
widthmode=minus
xmode=abs_centre
layer=statusbox
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 14:10
[buttonbox]
type=layer
y=156
width=300
height=156
heightmode=minus
layer=settings

// 14:11
[button1]
type=layer
width=14
height=26
widthmode=minus
xmode=abs_centre
layer=buttonbox
pausebutton=yes
pausetext=Select

// 14:12
[button2]
type=layer
y=30
width=14
height=26
widthmode=minus
xmode=abs_centre
layer=buttonbox
pausebutton=yes
pausetext=Select

// 14:13
[button3]
type=layer
y=60
width=14
height=26
widthmode=minus
xmode=abs_centre
layer=buttonbox
pausebutton=yes
pausetext=Select

// 14:14
[button4]
type=layer
y=90
width=14
height=26
widthmode=minus
xmode=abs_centre
layer=buttonbox
pausebutton=yes
pausetext=Select

// 14:15
[messagebox]
type=layer
y=5
width=180
height=10
heightmode=minus
xmode=abs_right
layer=settings

// 14:16
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
layer=messagebox
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 14:17
[com_17]
type=text
y=6
width=12
height=20
widthmode=minus
xmode=abs_centre
layer=messagebox
textfont=museo_sans_15pt_regular
text=Messages
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 14:18
[message]
type=layer
x=7
y=7
width=14
height=40
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=messagebox

// 14:19
[scrollbar]
type=layer
x=7
y=7
width=16
height=40
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=messagebox
hide=yes

// 14:20
[bank_return]
type=layer
y=5
width=180
height=27
xmode=abs_right
ymode=abs_bottom
layer=settings
hide=yes
pausebutton=yes
pausetext=Select
onload=script13976(event_com, null, rs3tli_neutral_button, "Return to Bank")

// 14:21
[com_21]
type=text
x=5
y=118
width=300
height=40
layer=settings
textfont=museo_sans_13pt_bold
text=Use the buttons below to change your PIN settings
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f
onload=script10496(event_com, event_comsubid, 3)

// 14:22
[warnings]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes

// 14:23
[warning_text]
type=text
y=35
height=35
widthmode=minus
xmode=abs_centre
layer=warnings
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f
opbase= 

// 14:24
[warning_yes]
type=layer
x=-100
width=150
height=75
xmode=abs_centre
ymode=abs_centre
layer=warnings

// 14:25
[3x3_context_button_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=warning_yes

// 14:26
[3x3_context_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_3
onload=script7764(event_com, aif_3x3_contextual_button_on, 8, 8)

// 14:27
[3x3_context_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_3
onload=script7764(event_com, aif_3x3_contextual_button_over, 8, 8)

// 14:28
[3x3_context_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_3
onload=script7764(event_com, aif_3x3_contextual_button_hit, 8, 8)

// 14:29
[3x3_context_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_3
onload=script7764(event_com, aif_3x3_contextual_button_selected, 8, 8)

// 14:30
[warning_yes_active]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_3
pausebutton=yes
onload=script4213(event_com)
onop=bankpin_cancel

// 14:31
[3x3_context_button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_3
hide=yes
noclickthrough=yes
onload=script7764(event_com, aif_3x3_contextual_button_disabled, 8, 8)

// 14:32
[com_32]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=3x3_context_button_disabled_layer_3
colour=0x000000
fill=yes
trans=100

// 14:33
[3x3_context_button_text_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_3

// 14:34
[warning_yes_text]
type=text
width=146
height=75
xmode=abs_centre
ymode=abs_centre
layer=3x3_context_button_text_layer_3
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xe1e1e1

// 14:35
[warning_no]
type=layer
x=100
width=150
height=75
xmode=abs_centre
ymode=abs_centre
layer=warnings

// 14:36
[3x3_context_button_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=warning_no

// 14:37
[3x3_context_button_on_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_4
onload=script7764(event_com, aif_3x3_contextual_button_on, 8, 8)

// 14:38
[3x3_context_button_over_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_4
onload=script7764(event_com, aif_3x3_contextual_button_over, 8, 8)

// 14:39
[3x3_context_button_hit_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_4
onload=script7764(event_com, aif_3x3_contextual_button_hit, 8, 8)

// 14:40
[3x3_context_button_selected_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_4
onload=script7764(event_com, aif_3x3_contextual_button_selected, 8, 8)

// 14:41
[warning_no_active]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_4
pausebutton=yes
onload=script4213(event_com)
onop=bankpin_cancel

// 14:42
[3x3_context_button_disabled_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_4
hide=yes
noclickthrough=yes
onload=script7764(event_com, aif_3x3_contextual_button_disabled, 8, 8)

// 14:43
[com_43]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=3x3_context_button_disabled_layer_4
colour=0x000000
fill=yes
trans=100

// 14:44
[3x3_context_button_text_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_context_button_layer_4

// 14:45
[warning_no_text]
type=text
width=8
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=3x3_context_button_text_layer_4
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
colour=0xe1e1e1

// 14:46
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 14:47
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 14:48
[universe]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=bankpin_settings_setup
onvarctransmit=bankpin_settings_setup
onvarcstrtransmit=bankpin_settings_setup
onvarctransmitlist=playerdesign2_client_skincol
onvarcstrtransmitlist=varclientstring_2352

