// 1691:0
[mainmodal_window]
type=layer
width=512
height=334
ymode=abs_centre
onload=script8420(bankinfo:mainmodal_window_background, bankinfo:mainmodal_window_border, bankinfo:mainmodal_window_content, bankinfo:mainmodal_window_close_button, "Player Wealth Info", 21218, string_1007)

// 1691:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1691:2
[graphic_bg]
type=graphic
widthmode=minus
heightmode=minus
layer=mainmodal_window_background
graphic=rs3_hud_window_content_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1691:3
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1691:4
[title_layer_1]
type=layer
height=30
widthmode=minus
layer=mainmodal_window_content

// 1691:5
[title_layer_2]
type=layer
y=70
height=30
widthmode=minus
layer=mainmodal_window_content

// 1691:6
[worth]
type=text
x=75
y=35
width=174
height=30
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=Total Value:
textalignh=1
textalignv=1
textshadow=yes

// 1691:7
[total]
type=text
x=75
y=35
width=174
height=30
xmode=abs_right
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1691:8
[item]
type=text
x=10
y=105
width=270
height=30
layer=mainmodal_window_content
textfont=cinzel_18pt_bold
text=Item
textalignh=1
textalignv=1
textshadow=yes

// 1691:9
[number]
type=text
x=110
y=105
width=100
height=30
xmode=abs_right
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=#
textalignh=1
textalignv=1
textshadow=yes

// 1691:10
[value]
type=text
x=10
y=105
width=100
height=30
xmode=abs_right
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=Value
textalignh=1
textalignv=1
textshadow=yes

// 1691:11
[obj1]
type=text
x=10
y=135
width=270
height=30
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=N/A
textalignh=1
textalignv=1
textshadow=yes

// 1691:12
[obj2]
type=text
x=10
y=165
width=270
height=30
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=N/A
textalignh=1
textalignv=1
textshadow=yes

// 1691:13
[obj3]
type=text
x=10
y=195
width=270
height=30
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=N/A
textalignh=1
textalignv=1
textshadow=yes

// 1691:14
[obj4]
type=text
x=10
y=225
width=270
height=30
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=N/A
textalignh=1
textalignv=1
textshadow=yes

// 1691:15
[obj5]
type=text
x=10
y=255
width=270
height=30
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=N/A
textalignh=1
textalignv=1
textshadow=yes

// 1691:16
[1]
type=text
x=110
y=135
width=100
height=30
xmode=abs_right
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1691:17
[2]
type=text
x=110
y=165
width=100
height=30
xmode=abs_right
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1691:18
[3]
type=text
x=110
y=195
width=100
height=30
xmode=abs_right
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1691:19
[4]
type=text
x=110
y=225
width=100
height=30
xmode=abs_right
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1691:20
[5]
type=text
x=110
y=255
width=100
height=30
xmode=abs_right
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1691:21
[amount1]
type=text
x=10
y=135
width=100
height=30
xmode=abs_right
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1691:22
[amount2]
type=text
x=10
y=165
width=100
height=30
xmode=abs_right
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1691:23
[amount3]
type=text
x=10
y=195
width=100
height=30
xmode=abs_right
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1691:24
[amount4]
type=text
x=10
y=225
width=100
height=30
xmode=abs_right
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1691:25
[amount5]
type=text
x=10
y=255
width=100
height=30
xmode=abs_right
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1691:26
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1691:27
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1691:28
[title_1]
type=text
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=title_layer_1
textfont=cinzel_25pt_bold_multiline
text=Wealth Information
textalignh=1
textalignv=1
textshadow=yes

// 1691:29
[title_2]
type=text
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=title_layer_2
textfont=cinzel_25pt_bold_multiline
text=Most Valuable items
textalignh=1
textalignv=1
textshadow=yes

