// 493:0
[select_role_text]
type=text
x=8
y=8
width=196
height=30
layer=role_select_layer
textfont=b12_full
text=Please Select a Role
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 493:1
[attack_layer]
type=layer
x=18
y=46
width=80
height=80
layer=role_select_layer

// 493:2
[defend_layer]
type=layer
x=114
y=46
width=80
height=80
layer=role_select_layer

// 493:3
[collect_layer]
type=layer
x=18
y=134
width=80
height=80
layer=role_select_layer

// 493:4
[healer_layer]
type=layer
x=114
y=134
width=80
height=80
layer=role_select_layer

// 493:5
[barbassault_scroll_pl2_lay2]
type=layer
y=218
width=4
height=32
widthmode=minus
xmode=abs_centre
layer=role_select_layer
hide=yes

// 493:6
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 493:7
[com_7]
type=graphic
x=-8
y=-32
width=16919
height=18620
widthmode=proportion
heightmode=proportion
layer=mainmodal_window_content
graphic=rs3_hud_window_content_tile
colour=0xffffff
clickmask=no

// 493:8
[hard_mode]
type=layer
x=20
y=8
width=166
height=20
layer=mainmodal_window_content

// 493:9
[team_overview]
type=layer
x=12
y=32
width=236
height=190
layer=mainmodal_window_content

// 493:10
[role_select_layer]
type=layer
x=262
width=212
height=258
layer=mainmodal_window_content

// 493:11
[status_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_scroll_pl2_lay2
textfont=p12_full
text=Waiting for leader to accept...
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 493:12
[com_12]
type=text
x=37
y=200
width=44
height=15
layer=old
hide=yes
textfont=p12_full
text=Role
textshadow=yes
colour=0xff981f

// 493:13
[com_13]
type=text
x=37
y=101
width=50
height=15
layer=old
hide=yes
textfont=p12_full
text=Name
textshadow=yes
colour=0xff981f

// 493:14
[barbassault_scroll_pl2_rolename]
type=text
x=270
y=41
width=195
height=14
layer=old
hide=yes
textfont=b12_full
text=None
textalignh=1
textshadow=yes
colour=0xff981f

// 493:15
[title_text]
type=text
x=43
y=-4
width=225
height=17
layer=old
hide=yes
textfont=b12_full
text=Player 2 Interface Screen
textshadow=yes
colour=0xff981f

// 493:16
[com_16]
type=text
x=37
y=142
width=50
height=15
layer=old
hide=yes
textfont=p12_full
text=Name
textshadow=yes
colour=0xff981f

// 493:17
[com_17]
type=text
x=37
y=119
width=44
height=15
layer=old
hide=yes
textfont=p12_full
text=Role
textshadow=yes
colour=0xff981f

// 493:18
[leader_text]
type=text
x=36
y=27
width=101
height=15
layer=old
hide=yes
textfont=p12_full
text=--- Leader ---
textshadow=yes
colour=0xff981f

// 493:19
[com_19]
type=text
x=36
y=242
width=44
height=15
layer=old
hide=yes
textfont=p12_full
text=Role
textshadow=yes
colour=0xff981f

// 493:20
[com_20]
type=text
x=37
y=182
width=50
height=15
layer=old
hide=yes
textfont=p12_full
text=Name
textshadow=yes
colour=0xff981f

// 493:21
[follower_text]
type=text
x=37
y=85
width=101
height=15
layer=old
hide=yes
textfont=p12_full
text=--- Followers ---
textshadow=yes
colour=0xff981f

// 493:22
[com_22]
type=text
x=37
y=160
width=44
height=15
layer=old
hide=yes
textfont=p12_full
text=Role
textshadow=yes
colour=0xff981f

// 493:23
[com_23]
type=text
x=36
y=224
width=50
height=15
layer=old
hide=yes
textfont=p12_full
text=Name
textshadow=yes
colour=0xff981f

// 493:24
[barbassault_scroll_pl2_tr1]
type=text
x=85
y=61
width=108
height=15
layer=old
hide=yes
textfont=p12_full
text=none set
textshadow=yes
colour=0xff981f

// 493:25
[barbassault_scroll_pl2_tr2]
type=text
x=86
y=119
width=108
height=15
layer=old
hide=yes
textfont=p12_full
text=none set
textshadow=yes
colour=0xff981f

// 493:26
[barbassault_scroll_pl2_tr3]
type=text
x=86
y=160
width=108
height=15
layer=old
hide=yes
textfont=p12_full
text=none set
textshadow=yes
colour=0xff981f

// 493:27
[barbassault_scroll_pl2_tr4]
type=text
x=86
y=200
width=108
height=15
layer=old
hide=yes
textfont=p12_full
text=none set
textshadow=yes
colour=0xff981f

// 493:28
[barbassault_scroll_pl2_tr5]
type=text
x=85
y=242
width=108
height=15
layer=old
hide=yes
textfont=p12_full
text=none set
textshadow=yes
colour=0xff981f

// 493:29
[preset_bg_1]
type=rectangle
x=8
y=60
width=220
height=24
layer=team_overview
colour=0x071820
fill=yes

// 493:30
[preset_bg_2]
type=rectangle
x=8
y=84
width=220
height=24
layer=team_overview
colour=0x1c2c34
fill=yes

// 493:31
[preset_bg_3]
type=rectangle
x=8
y=108
width=220
height=24
layer=team_overview
colour=0x071820
fill=yes

// 493:32
[preset_bg_4]
type=rectangle
x=8
y=132
width=220
height=24
layer=team_overview
colour=0x1c2c34
fill=yes

// 493:33
[preset_bg_5]
type=rectangle
x=8
y=156
width=220
height=24
layer=team_overview
colour=0x071820
fill=yes

// 493:34
[com_34]
type=graphic
x=8
y=64
width=16
height=16
layer=team_overview
graphic=email_validation_bullet_stars
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Leader", event_com, event_comsubid)

// 493:35
[com_35]
type=line
x=8
y=58
width=220
layer=team_overview
colour=0x000000

// 493:36
[com_36]
type=line
x=8
y=59
width=220
layer=team_overview
colour=0xaed0e0

// 493:37
[com_37]
type=line
x=8
y=181
width=220
layer=team_overview
colour=0x000000

// 493:38
[com_38]
type=line
x=8
y=182
width=220
layer=team_overview
colour=0xaed0e0

// 493:39
[com_39]
type=line
x=8
y=60
height=122
layer=team_overview
colour=0xaed0e0

// 493:40
[com_40]
type=line
x=138
y=60
height=122
layer=team_overview
colour=0xaed0e0

// 493:41
[com_41]
type=line
x=188
y=60
height=122
layer=team_overview
colour=0xaed0e0

// 493:42
[com_42]
type=line
x=228
y=60
height=122
layer=team_overview
colour=0xaed0e0

// 493:43
[barbassault_scroll_pl2_tn1]
type=text
x=24
y=64
width=110
height=16
layer=team_overview
textfont=p12_full
text=none set
textshadow=yes
colour=0xff981f
onvarcstrtransmit=barbassault_name_transmit(event_com)
onvarcstrtransmitlist=varclientstring_2435

// 493:44
[barbassault_scroll_pl2_tn2]
type=text
x=24
y=88
width=110
height=16
layer=team_overview
textfont=p12_full
text=none set
textshadow=yes
colour=0xff981f
onvarcstrtransmit=barbassault_name_transmit(event_com)
onvarcstrtransmitlist=varclientstring_2436

// 493:45
[barbassault_scroll_pl2_tn3]
type=text
x=24
y=112
width=110
height=16
layer=team_overview
textfont=p12_full
text=none set
textshadow=yes
colour=0xff981f
onvarcstrtransmit=barbassault_name_transmit(event_com)
onvarcstrtransmitlist=varclientstring_2437

// 493:46
[barbassault_scroll_pl2_tn4]
type=text
x=24
y=136
width=110
height=16
layer=team_overview
textfont=p12_full
text=none set
textshadow=yes
colour=0xff981f
onvarcstrtransmit=barbassault_name_transmit(event_com)
onvarcstrtransmitlist=varclientstring_2438

// 493:47
[barbassault_scroll_pl2_tn5]
type=text
x=24
y=160
width=110
height=16
layer=team_overview
textfont=p12_full
text=none set
textshadow=yes
colour=0xff981f
onvarcstrtransmit=barbassault_name_transmit(event_com)
onvarcstrtransmitlist=varclientstring_2439

// 493:48
[barbassault_leader_icon]
type=model
x=156
y=64
width=16
height=17
layer=team_overview
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=3700

// 493:49
[barbassault_player1_icon]
type=model
x=156
y=88
width=16
height=17
layer=team_overview
model=null
modelorigin_x=0
modelorigin_y=-1
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=3700

// 493:50
[barbassault_player2_icon]
type=model
x=156
y=112
width=16
height=17
layer=team_overview
model=null
modelorigin_x=0
modelorigin_y=-1
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=3700

// 493:51
[barbassault_player3_icon]
type=model
x=156
y=136
width=16
height=17
layer=team_overview
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=3700

// 493:52
[barbassault_player4_icon]
type=model
x=156
y=160
width=16
height=17
layer=team_overview
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=3700

// 493:53
[barbassault_scroll_pl2_wave1]
type=text
x=206
y=64
width=8
height=16
layer=team_overview
textfont=p12_full
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 493:54
[barbassault_scroll_pl2_wave2]
type=text
x=206
y=88
width=8
height=16
layer=team_overview
textfont=p12_full
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 493:55
[barbassault_scroll_pl2_wave3]
type=text
x=206
y=112
width=8
height=16
layer=team_overview
textfont=p12_full
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 493:56
[barbassault_scroll_pl2_wave4]
type=text
x=206
y=136
width=8
height=16
layer=team_overview
textfont=p12_full
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 493:57
[barbassault_scroll_pl2_wave5]
type=text
x=206
y=160
width=8
height=16
layer=team_overview
textfont=p12_full
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 493:58
[name_text]
type=text
x=8
y=40
width=130
height=16
layer=team_overview
textfont=p12_full
text=Name
textalignv=1
textshadow=yes
colour=0xff981f

// 493:59
[role_text]
type=text
x=138
y=40
width=51
height=16
layer=team_overview
textfont=p12_full
text=Role
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 493:60
[role_level_text]
type=text
x=189
y=40
width=40
height=16
layer=team_overview
textfont=p12_full
text=Level
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 493:61
[overview_text]
type=text
x=8
y=8
width=220
height=20
layer=team_overview
textfont=b12_full
text=Team Overview
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 493:62
[barbassault_scroll_pl2_heal]
type=model
y=2
width=51
height=51
xmode=abs_centre
layer=healer_layer
model=barbassault_healer_icon_grey
modelorigin_x=0
modelorigin_y=0
modelangle_x=585
modelangle_y=0
modelangle_z=0
modelzoom=1074
transmitop1=yes
op1=Healer

// 493:63
[barbassault_scroll_pl2_healt]
type=text
y=60
width=75
height=16
xmode=abs_centre
layer=healer_layer
textfont=p12_full
text=Healer
textalignh=1
textshadow=yes
colour=0xff981f
transmitop1=yes
op1=Healer
onmouseover=text_colour_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_healt, 16777215)
onmouseleave=text_colour_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_healt, 16750623)

// 493:64
[heal_highlight_layer]
type=layer
width=55
height=55
xmode=abs_centre
layer=healer_layer
hide=yes

// 493:65
[barbassault_scroll_pl2_col]
type=model
y=2
width=41
height=54
xmode=abs_centre
layer=collect_layer
model=barbassault_collector_icon_grey
modelorigin_x=0
modelorigin_y=0
modelangle_x=585
modelangle_y=0
modelangle_z=0
modelzoom=1074
transmitop1=yes
op1=Collector

// 493:66
[barbassault_scroll_pl2_colt]
type=text
y=60
width=75
height=16
xmode=abs_centre
layer=collect_layer
textfont=p12_full
text=Collector
textalignh=1
textshadow=yes
colour=0xff981f
transmitop1=yes
op1=Collector
onmouseover=text_colour_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_colt, 16777215)
onmouseleave=text_colour_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_colt, 16750623)

// 493:67
[col_highlight_layer]
type=layer
width=45
height=58
xmode=abs_centre
layer=collect_layer
hide=yes

// 493:68
[barbassault_scroll_pl2_def]
type=model
y=2
width=47
height=56
xmode=abs_centre
layer=defend_layer
model=barbassault_defender_icon_grey
modelorigin_x=0
modelorigin_y=0
modelangle_x=585
modelangle_y=0
modelangle_z=0
modelzoom=1074
transmitop1=yes
op1=Defender

// 493:69
[barbassault_scroll_pl2_deft]
type=text
y=60
width=75
height=16
xmode=abs_centre
layer=defend_layer
textfont=p12_full
text=Defender
textalignh=1
textshadow=yes
colour=0xff981f
transmitop1=yes
op1=Defender
onmouseover=text_colour_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_deft, 16777215)
onmouseleave=text_colour_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_deft, 16750623)

// 493:70
[def_highlight_layer]
type=layer
width=51
height=60
xmode=abs_centre
layer=defend_layer
hide=yes

// 493:71
[barbassault_scroll_pl2_att]
type=model
y=2
width=55
height=55
xmode=abs_centre
layer=attack_layer
model=barbassault_attacker_icon_grey
modelorigin_x=0
modelorigin_y=0
modelangle_x=585
modelangle_y=0
modelangle_z=0
modelzoom=1074
transmitop1=yes
op1=Attacker

// 493:72
[barbassault_scroll_pl2_attt]
type=text
y=60
width=75
height=16
xmode=abs_centre
layer=attack_layer
textfont=p12_full
text=Attacker
textalignh=1
textshadow=yes
colour=0xff981f
transmitop1=yes
op1=Attacker
onmouseover=text_colour_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_attt, 16777215)
onmouseleave=text_colour_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_attt, 16750623)

// 493:73
[att_highlight_layer]
type=layer
width=59
height=59
xmode=abs_centre
layer=attack_layer
hide=yes

// 493:74
[mainmodal_window]
type=layer
width=512
height=334
ymode=abs_centre
onload=script8420(barbassault_scroll_pl2_b:mainmodal_window_background, barbassault_scroll_pl2_b:mainmodal_window_border, barbassault_scroll_pl2_b:mainmodal_window_content, barbassault_scroll_pl2_b:mainmodal_window_close_button, "Select your Role", 21218, string_1007)

// 493:75
[positive_button_layer]
type=layer
x=180
y=12
width=150
height=27
ymode=abs_bottom
layer=mainmodal_window_content

// 493:76
[negative_button_layer]
type=layer
x=8
y=12
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content

// 493:77
[old]
type=layer
width=512
height=334
layer=mainmodal_window_content
hide=yes

// 493:78
[tooltip]
type=layer
x=140
y=228
width=50
height=7
layer=mainmodal_window_content

// 493:79
[barbassault_scroll_pl2_heal_over]
type=model
width=55
height=54
layer=heal_highlight_layer
model=barbassault_healer_icon_highlight
modelorigin_x=0
modelorigin_y=0
modelangle_x=585
modelangle_y=0
modelangle_z=0
modelzoom=1074
onmouseover=model_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_heal_over, barbassault_healer_icon_highlight)
onmouseleave=model_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_heal_over, null)

// 493:80
[barbassault_scroll_pl2_col_over]
type=model
width=45
height=57
layer=col_highlight_layer
model=barbassault_collector_icon_highlight
modelorigin_x=0
modelorigin_y=1
modelangle_x=585
modelangle_y=0
modelangle_z=0
modelzoom=1074
onmouseover=model_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_col_over, barbassault_collector_icon_highlight)
onmouseleave=model_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_col_over, null)

// 493:81
[barbassault_scroll_pl2_att_over]
type=model
width=59
height=59
layer=att_highlight_layer
model=barbassault_attacker_icon_highlight
modelorigin_x=0
modelorigin_y=0
modelangle_x=585
modelangle_y=0
modelangle_z=0
modelzoom=1074
onmouseover=model_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_att_over, barbassault_attacker_icon_highlight)
onmouseleave=model_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_att_over, null)

// 493:82
[barbassault_scroll_pl2_def_over]
type=model
width=49
height=60
xmode=abs_centre
layer=def_highlight_layer
model=barbassault_defender_icon_highlight
modelorigin_x=0
modelorigin_y=0
modelangle_x=585
modelangle_y=0
modelangle_z=0
modelzoom=1074
onmouseover=model_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_def_over, barbassault_defender_icon_highlight)
onmouseleave=model_swapper(barbassault_scroll_pl2_b:barbassault_scroll_pl2_def_over, null)

// 493:83
[hard_mode_text]
type=text
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=hard_mode
textfont=b12_full
text=Hard Mode Active
textalignv=1
textshadow=yes
colour=0xff841f

// 493:84
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 493:85
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 493:86
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 493:87
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7041(event_com)

// 493:88
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7042(event_com)

// 493:89
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7044(event_com)

// 493:90
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7047(event_com)

// 493:91
[positive_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 493:92
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7060(event_com)

// 493:93
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer

// 493:94
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Accept
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 493:95
[negative_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7275(event_com)

// 493:96
[negative_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7276(event_com)

// 493:97
[negative_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7277(event_com)

// 493:98
[negative_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
hide=yes
onload=script7445(event_com)

// 493:99
[negative_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=negative_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 493:100
[negative_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
hide=yes
onload=script7572(event_com)

// 493:101
[negative_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer

// 493:102
[negative_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_text_layer
textfont=cinzel_13pt_bold
text=Decline
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

