// 496:0
[barbassault_tut_01]
type=text
width=165
height=16
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_1_button_text_layer
textfont=museo_sans_11pt_regular
text=Introduction
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 496:1
[barbassault_text1]
type=text
y=6
width=16
height=18
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=Tutorial Progress
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 496:2
[barbassault_tutorial_1_button]
type=layer
y=30
width=170
height=24
xmode=abs_centre
layer=mainmodal_window_content

// 496:3
[barbassault_tutorial_1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_1_button
onload=script7699(event_com)

// 496:4
[barbassault_tutorial_2_button]
type=layer
y=56
width=170
height=24
xmode=abs_centre
layer=mainmodal_window_content

// 496:5
[barbassault_tutorial_2_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_2_button
onload=script7699(event_com)

// 496:6
[barbassault_tutorial_3_button]
type=layer
y=82
width=170
height=24
xmode=abs_centre
layer=mainmodal_window_content

// 496:7
[barbassault_tutorial_3_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_3_button
onload=script7699(event_com)

// 496:8
[barbassault_tutorial_4_button]
type=layer
y=108
width=170
height=24
xmode=abs_centre
layer=mainmodal_window_content

// 496:9
[barbassault_tutorial_4_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_4_button
onload=script7699(event_com)

// 496:10
[barbassault_tutorial_5_button]
type=layer
y=134
width=170
height=24
xmode=abs_centre
layer=mainmodal_window_content

// 496:11
[barbassault_tutorial_5_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_5_button
onload=script7699(event_com)

// 496:12
[barbassault_tutorial_6_button]
type=layer
y=160
width=170
height=24
xmode=abs_centre
layer=mainmodal_window_content

// 496:13
[barbassault_tutorial_6_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_6_button
onload=script7699(event_com)

// 496:14
[barbassault_tutorial_7_button]
type=layer
y=186
width=170
height=24
xmode=abs_centre
layer=mainmodal_window_content

// 496:15
[barbassault_tutorial_7_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_7_button
onload=script7699(event_com)

// 496:16
[barbassault_tutorial_8_button]
type=layer
y=212
width=170
height=24
xmode=abs_centre
layer=mainmodal_window_content

// 496:17
[barbassault_tutorial_8_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_8_button
onload=script7699(event_com)

// 496:18
[barbassault_tutorial_9_button]
type=layer
y=238
width=170
height=24
xmode=abs_centre
layer=mainmodal_window_content

// 496:19
[barbassault_tutorial_9_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_9_button
onload=script7699(event_com)

// 496:20
[barbassault_tutorial_10_button]
type=layer
y=264
width=170
height=24
xmode=abs_centre
layer=mainmodal_window_content

// 496:21
[barbassault_tutorial_10_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_10_button
onload=script7699(event_com)

// 496:22
[mainmodal_window]
type=layer
width=200
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(barbassault_tutorial:mainmodal_window_background, barbassault_tutorial:mainmodal_window_border, barbassault_tutorial:mainmodal_window_content, barbassault_tutorial:mainmodal_window_close_button, "Barbarian Assault", 21218, string_1007)

// 496:23
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 496:24
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=barbassault_tutorial_colours
onvartransmit=barbassault_tutorial_colours
onvartransmitlist=barbarianassault6

// 496:25
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 496:26
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 496:27
[barbassault_tutorial_1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_1_button
onload=script7728(event_com)

// 496:28
[barbassault_tutorial_1_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_1_button
onload=script7729(event_com)

// 496:29
[barbassault_tutorial_1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_1_button
hide=yes
onload=script8225(event_com)

// 496:30
[barbassault_tutorial_1_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_1_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 496:31
[barbassault_tutorial_1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_1_button
hide=yes
onload=script8228(event_com)

// 496:32
[barbassault_tutorial_1_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_1_button

// 496:33
[barbassault_tutorial_2_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_2_button
onload=script7728(event_com)

// 496:34
[barbassault_tutorial_2_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_2_button
onload=script7729(event_com)

// 496:35
[barbassault_tutorial_2_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_2_button
hide=yes
onload=script8225(event_com)

// 496:36
[barbassault_tutorial_2_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_2_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 496:37
[barbassault_tutorial_2_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_2_button
hide=yes
onload=script8228(event_com)

// 496:38
[barbassault_tutorial_2_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_2_button

// 496:39
[barbassault_tut_02]
type=text
width=165
height=16
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_2_button_text_layer
textfont=museo_sans_11pt_regular
text=Getting Started
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 496:40
[barbassault_tutorial_3_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_3_button
onload=script7728(event_com)

// 496:41
[barbassault_tutorial_3_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_3_button
onload=script7729(event_com)

// 496:42
[barbassault_tutorial_3_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_3_button
hide=yes
onload=script8225(event_com)

// 496:43
[barbassault_tutorial_3_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_3_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 496:44
[barbassault_tutorial_3_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_3_button
hide=yes
onload=script8228(event_com)

// 496:45
[barbassault_tutorial_3_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_3_button

// 496:46
[barbassault_tut_03]
type=text
width=165
height=16
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_3_button_text_layer
textfont=museo_sans_11pt_regular
text=Playing the Game
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 496:47
[barbassault_tutorial_4_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_4_button
onload=script7728(event_com)

// 496:48
[barbassault_tutorial_4_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_4_button
onload=script7729(event_com)

// 496:49
[barbassault_tutorial_4_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_4_button
hide=yes
onload=script8225(event_com)

// 496:50
[barbassault_tutorial_4_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_4_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 496:51
[barbassault_tutorial_4_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_4_button
hide=yes
onload=script8228(event_com)

// 496:52
[barbassault_tutorial_4_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_4_button

// 496:53
[barbassault_tut_04]
type=text
width=165
height=16
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_4_button_text_layer
textfont=museo_sans_11pt_regular
text=The Attacker Role
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 496:54
[barbassault_tutorial_5_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_5_button
onload=script7728(event_com)

// 496:55
[barbassault_tutorial_5_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_5_button
onload=script7729(event_com)

// 496:56
[barbassault_tutorial_5_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_5_button
hide=yes
onload=script8225(event_com)

// 496:57
[barbassault_tutorial_5_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_5_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 496:58
[barbassault_tutorial_5_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_5_button
hide=yes
onload=script8228(event_com)

// 496:59
[barbassault_tutorial_5_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_5_button

// 496:60
[barbassault_tut_05]
type=text
width=165
height=16
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_5_button_text_layer
textfont=museo_sans_11pt_regular
text=The Defender Role
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 496:61
[barbassault_tutorial_6_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_6_button
onload=script7728(event_com)

// 496:62
[barbassault_tutorial_6_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_6_button
onload=script7729(event_com)

// 496:63
[barbassault_tutorial_6_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_6_button
hide=yes
onload=script8225(event_com)

// 496:64
[barbassault_tutorial_6_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_6_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 496:65
[barbassault_tutorial_6_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_6_button
hide=yes
onload=script8228(event_com)

// 496:66
[barbassault_tutorial_6_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_6_button

// 496:67
[barbassault_tut_06]
type=text
width=165
height=16
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_6_button_text_layer
textfont=museo_sans_11pt_regular
text=The Collector Role
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 496:68
[barbassault_tutorial_7_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_7_button
onload=script7728(event_com)

// 496:69
[barbassault_tutorial_7_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_7_button
onload=script7729(event_com)

// 496:70
[barbassault_tutorial_7_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_7_button
hide=yes
onload=script8225(event_com)

// 496:71
[barbassault_tutorial_7_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_7_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 496:72
[barbassault_tutorial_7_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_7_button
hide=yes
onload=script8228(event_com)

// 496:73
[barbassault_tutorial_7_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_7_button

// 496:74
[barbassault_tut_07]
type=text
width=165
height=16
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_7_button_text_layer
textfont=museo_sans_11pt_regular
text=The Healer Role
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 496:75
[barbassault_tutorial_8_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_8_button
onload=script7728(event_com)

// 496:76
[barbassault_tutorial_8_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_8_button
onload=script7729(event_com)

// 496:77
[barbassault_tutorial_8_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_8_button
hide=yes
onload=script8225(event_com)

// 496:78
[barbassault_tutorial_8_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_8_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 496:79
[barbassault_tutorial_8_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_8_button
hide=yes
onload=script8228(event_com)

// 496:80
[barbassault_tutorial_8_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_8_button

// 496:81
[barbassault_tut_08]
type=text
width=165
height=16
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_8_button_text_layer
textfont=museo_sans_11pt_regular
text=Extra Information
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 496:82
[barbassault_tutorial_9_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_9_button
onload=script7728(event_com)

// 496:83
[barbassault_tutorial_9_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_9_button
onload=script7729(event_com)

// 496:84
[barbassault_tutorial_9_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_9_button
hide=yes
onload=script8225(event_com)

// 496:85
[barbassault_tutorial_9_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_9_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 496:86
[barbassault_tutorial_9_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_9_button
hide=yes
onload=script8228(event_com)

// 496:87
[barbassault_tutorial_9_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_9_button

// 496:88
[barbassault_tut_09]
type=text
width=165
height=16
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_9_button_text_layer
textfont=museo_sans_11pt_regular
text=The Final Battle
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 496:89
[barbassault_tutorial_10_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_10_button
onload=script7728(event_com)

// 496:90
[barbassault_tutorial_10_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_10_button
onload=script7729(event_com)

// 496:91
[barbassault_tutorial_10_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_10_button
hide=yes
onload=script8225(event_com)

// 496:92
[barbassault_tutorial_10_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_10_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 496:93
[barbassault_tutorial_10_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_10_button
hide=yes
onload=script8228(event_com)

// 496:94
[barbassault_tutorial_10_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=barbassault_tutorial_10_button

// 496:95
[barbassault_tut_10]
type=text
width=165
height=16
xmode=abs_centre
ymode=abs_centre
layer=barbassault_tutorial_10_button_text_layer
textfont=museo_sans_11pt_regular
text=Rewards
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

