// 497:0
[ba_wave_breakdown_normal]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 497:1
[wave_complete_normal_layer]
type=layer
widthmode=minus
heightmode=minus
layer=ba_wave_breakdown_normal

// 497:2
[com_2]
type=rectangle
y=47
height=1
widthmode=minus
xmode=abs_centre
layer=ba_wave_breakdown_normal
colour=0x000000
fill=yes
trans=68

// 497:3
[com_3]
type=rectangle
x=75
y=-7
width=1
height=109
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=ba_wave_breakdown_normal
colour=0x000000
fill=yes
trans=68

// 497:4
[com_4]
type=rectangle
x=135
y=-7
width=1
height=109
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=ba_wave_breakdown_normal
colour=0x000000
fill=yes
trans=68

// 497:5
[com_5]
type=rectangle
x=175
y=-23
width=1
height=138
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=ba_wave_breakdown_normal
colour=0x000000
fill=yes
trans=68

// 497:6
[com_6]
type=rectangle
y=204
height=1
widthmode=minus
xmode=abs_centre
layer=ba_wave_breakdown_normal
colour=0x000000
fill=yes
trans=68

// 497:7
[com_7]
type=rectangle
y=233
height=1
widthmode=minus
xmode=abs_centre
layer=ba_wave_breakdown_normal
colour=0x000000
fill=yes
trans=68

// 497:8
[com_8]
type=rectangle
y=30
height=1
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=ba_wave_breakdown_normal
colour=0x000000
fill=yes
trans=68

// 497:9
[com_9]
type=rectangle
y=46
height=1
widthmode=minus
xmode=abs_centre
layer=ba_wave_breakdown_normal
colour=0xaed0e0
fill=yes
trans=25

// 497:10
[com_10]
type=rectangle
x=76
y=-7
width=1
height=109
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=ba_wave_breakdown_normal
colour=0xaed0e0
fill=yes
trans=25

// 497:11
[com_11]
type=rectangle
x=136
y=-7
width=1
height=109
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=ba_wave_breakdown_normal
colour=0xaed0e0
fill=yes
trans=25

// 497:12
[com_12]
type=rectangle
x=176
y=-23
width=1
height=138
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=ba_wave_breakdown_normal
colour=0xaed0e0
fill=yes
trans=25

// 497:13
[com_13]
type=rectangle
y=205
height=1
widthmode=minus
xmode=abs_centre
layer=ba_wave_breakdown_normal
colour=0xaed0e0
fill=yes
trans=25

// 497:14
[com_14]
type=rectangle
y=234
height=1
widthmode=minus
xmode=abs_centre
layer=ba_wave_breakdown_normal
colour=0xaed0e0
fill=yes
trans=25

// 497:15
[com_15]
type=rectangle
y=29
height=1
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=ba_wave_breakdown_normal
colour=0xaed0e0
fill=yes
trans=25

// 497:16
[barbassault_compl_role]
type=model
x=10
y=10
width=29
height=30
layer=ba_wave_breakdown_normal
model=barbassault_attacker_icon
modelorigin_x=0
modelorigin_y=-1
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000

// 497:17
[ba_wave_breakdown_queen]
type=layer
x=14
y=-9
width=420
height=260
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
hide=yes

// 497:18
[ba_wave_breakdown_king]
type=layer
x=14
y=-9
width=420
height=260
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
hide=yes

// 497:19
[ba_wave_breakdown_xp]
type=layer
x=-8
y=-32
width=512
height=334
layer=mainmodal_window_content
hide=yes

// 497:20
[com_20]
type=text
x=10
y=56
width=300
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=Runners that got past
textshadow=yes
colour=0x7592a0

// 497:21
[com_21]
type=text
x=10
y=72
width=300
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=Rangers killed
textshadow=yes
colour=0x7592a0

// 497:22
[com_22]
type=text
x=10
y=88
width=300
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=Fighters killed
textshadow=yes
colour=0x7592a0

// 497:23
[com_23]
type=text
x=10
y=104
width=300
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=Healers killed
textshadow=yes
colour=0x7592a0

// 497:24
[com_24]
type=text
x=10
y=120
width=300
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=Runners killed
textshadow=yes
colour=0x7592a0

// 497:25
[com_25]
type=text
x=10
y=136
width=300
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=Player life points replenished
textshadow=yes
colour=0x7592a0

// 497:26
[com_26]
type=text
x=10
y=152
width=300
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=Wrong poison packs used
textshadow=yes
colour=0x7592a0

// 497:27
[com_27]
type=text
x=10
y=168
width=300
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=Eggs collected (min. exploded)
textshadow=yes
colour=0x7592a0

// 497:28
[com_28]
type=text
x=10
y=184
width=300
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=Failed attacker attacks
textshadow=yes
colour=0x7592a0

// 497:29
[barbassault_compl_n1]
type=text
x=336
y=57
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:30
[barbassault_compl_n2]
type=text
x=336
y=73
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:31
[barbassault_compl_n3]
type=text
x=336
y=89
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:32
[barbassault_compl_n4]
type=text
x=336
y=105
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:33
[barbassault_compl_n5]
type=text
x=336
y=121
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:34
[barbassault_compl_n6]
type=text
x=336
y=137
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:35
[barbassault_compl_n7]
type=text
x=336
y=153
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:36
[barbassault_compl_n9]
type=text
x=336
y=169
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:37
[barbassault_compl_n10]
type=text
x=336
y=185
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:38
[com_38]
type=text
x=10
y=211
width=50
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=Total
textshadow=yes
colour=0x7592a0

// 497:39
[barbassault_compl_p1]
type=text
x=384
y=57
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:40
[barbassault_compl_p2]
type=text
x=384
y=73
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:41
[barbassault_compl_p3]
type=text
x=384
y=89
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:42
[barbassault_compl_p4]
type=text
x=384
y=105
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:43
[barbassault_compl_p5]
type=text
x=384
y=121
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:44
[barbassault_compl_p6]
type=text
x=384
y=137
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:45
[barbassault_compl_p7]
type=text
x=384
y=153
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:46
[barbassault_compl_p9]
type=text
x=384
y=169
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:47
[barbassault_compl_p10]
type=text
x=384
y=185
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:48
[barbassault_compl_ptot]
type=text
x=385
y=212
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textshadow=yes
colour=0x7592a0

// 497:49
[com_49]
type=text
x=336
y=20
width=13
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=#
textshadow=yes
colour=0x7592a0

// 497:50
[com_50]
type=text
x=353
width=75
height=44
layer=ba_wave_breakdown_normal
textfont=notosans_11
text=Team Honour Points
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:51
[barbassault_compl_indp1]
type=text
x=448
y=57
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:52
[barbassault_compl_indp4]
type=text
x=448
y=105
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:53
[barbassault_compl_indp5]
type=text
x=448
y=121
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:54
[barbassault_compl_indp3]
type=text
x=448
y=89
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:55
[barbassault_compl_indp2]
type=text
x=448
y=73
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:56
[barbassault_compl_indp6]
type=text
x=448
y=137
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:57
[barbassault_compl_indp9]
type=text
x=448
y=169
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:58
[barbassault_compl_indp7]
type=text
x=448
y=153
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:59
[barbassault_compl_indp10]
type=text
x=448
y=185
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:60
[barbassault_compl_indptot]
type=text
x=449
y=212
width=8
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textshadow=yes
colour=0x7592a0

// 497:61
[com_61]
type=text
x=10
y=241
width=300
height=18
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=Honour points reward :
textshadow=yes
colour=0x7592a0

// 497:62
[barbassault_compl_gtot]
type=text
x=325
y=239
width=26
height=18
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:63
[com_63]
type=text
x=368
y=57
width=6
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=-
textshadow=yes
colour=0x7592a0

// 497:64
[com_64]
type=text
x=368
y=153
width=6
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=-
textshadow=yes
colour=0x7592a0

// 497:65
[com_65]
type=text
x=368
y=185
width=6
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=-
textshadow=yes
colour=0x7592a0

// 497:66
[barbassault_compl_min_10]
type=text
x=432
y=185
width=6
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=-
textshadow=yes
colour=0x7592a0

// 497:67
[barbassault_compl_min_7]
type=text
x=432
y=153
width=6
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=-
textshadow=yes
colour=0x7592a0

// 497:68
[barbassault_compl_min_1]
type=text
x=432
y=57
width=6
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=-
textshadow=yes
colour=0x7592a0

// 497:69
[com_69]
type=text
x=10
y=266
width=300
height=25
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=Total honour points in role:
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:70
[barbassault_compl_gtotrole]
type=text
x=325
y=272
width=26
height=14
layer=ba_wave_breakdown_normal
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:71
[com_71]
type=text
x=420
width=74
height=44
layer=ba_wave_breakdown_normal
textfont=notosans_11
text=Individual Honour Points
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:72
[barbassault_level_up_layer_dull]
type=layer
x=361
y=2
width=75
height=25
ymode=abs_bottom
layer=ba_wave_breakdown_normal
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 497:73
[com_73]
type=graphic
width=8
height=8
layer=barbassault_level_up_layer_dull
graphic="rs3_btn_contextual,18"
colour=0xffffff
clickmask=no

// 497:74
[com_74]
type=graphic
width=16
height=8
widthmode=minus
xmode=abs_centre
layer=barbassault_level_up_layer_dull
graphic="rs3_btn_contextual,19"
colour=0xffffff
clickmask=no

// 497:75
[com_75]
type=graphic
width=8
height=8
xmode=abs_right
layer=barbassault_level_up_layer_dull
graphic="rs3_btn_contextual,20"
colour=0xffffff
clickmask=no

// 497:76
[com_76]
type=graphic
width=8
height=16
heightmode=minus
ymode=abs_centre
layer=barbassault_level_up_layer_dull
graphic="rs3_btn_contextual,21"
colour=0xffffff
clickmask=no

// 497:77
[com_77]
type=graphic
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_level_up_layer_dull
graphic="rs3_btn_contextual,22"
colour=0xffffff
clickmask=no

// 497:78
[com_78]
type=graphic
width=8
height=16
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=barbassault_level_up_layer_dull
graphic="rs3_btn_contextual,23"
colour=0xffffff
clickmask=no

// 497:79
[com_79]
type=graphic
width=8
height=8
ymode=abs_bottom
layer=barbassault_level_up_layer_dull
graphic="rs3_btn_contextual,24"
colour=0xffffff
clickmask=no

// 497:80
[com_80]
type=graphic
width=16
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=barbassault_level_up_layer_dull
graphic="rs3_btn_contextual,25"
colour=0xffffff
clickmask=no

// 497:81
[com_81]
type=graphic
width=8
height=8
xmode=abs_right
ymode=abs_bottom
layer=barbassault_level_up_layer_dull
graphic="rs3_btn_contextual,26"
colour=0xffffff
clickmask=no

// 497:82
[barbassault_level_up_layer]
type=layer
x=361
y=2
width=75
height=25
ymode=abs_bottom
layer=ba_wave_breakdown_normal
hide=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script10258(barbassault_wavecomplete:f1, barbassault_wavecomplete:f2, barbassault_wavecomplete:f3, barbassault_wavecomplete:f4, barbassault_wavecomplete:f5, barbassault_wavecomplete:f6, barbassault_wavecomplete:f7, barbassault_wavecomplete:f8, barbassault_wavecomplete:f9)
onmouseleave=script10260(barbassault_wavecomplete:f1, barbassault_wavecomplete:f2, barbassault_wavecomplete:f3, barbassault_wavecomplete:f4, barbassault_wavecomplete:f5, barbassault_wavecomplete:f6, barbassault_wavecomplete:f7, barbassault_wavecomplete:f8, barbassault_wavecomplete:f9)

// 497:83
[com_83]
type=graphic
width=8
height=8
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,0"
colour=0xffffff
clickmask=no

// 497:84
[com_84]
type=text
x=108
y=1
width=200
height=28
layer=ba_wave_breakdown_queen
textfont=museo_sans_11pt_regular
text=The Queen is dead!
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:85
[com_85]
type=text
x=108
y=49
width=201
height=19
layer=ba_wave_breakdown_queen
textfont=museo_sans_11pt_regular
text=Reward:
textalignh=1
textshadow=yes
colour=0x7592a0

// 497:86
[barbassault_compl_queenrewards]
type=text
x=108
y=65
width=202
height=145
layer=ba_wave_breakdown_queen
textfont=museo_sans_11pt_regular
text=--Points output--
textalignh=1
textshadow=yes
colour=0x7592a0

// 497:87
[barbassault_title]
type=text
x=7
y=67
width=354
height=43
xmode=abs_centre
layer=ba_wave_breakdown_xp
textfont=museo_sans_11pt_regular
text=You have opted to gain your reward as experience.  This will be added to your character as bonus xp.
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:88
[barbassault_xp_explain]
type=text
x=7
y=154
width=371
height=70
xmode=abs_centre
layer=ba_wave_breakdown_xp
textfont=museo_sans_11pt_regular
text=Select a skill to recieve your bonus XP in from the totem in the waiting rooms.  If you do not select a skill you will recieve the xp in a random skill.  You will use this XP as you train the skill, gaining double XP until it is used up.
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:89
[barbassault_level_up_txt_dull]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=barbassault_level_up_layer_dull
textfont=b12_full
text=Level up
textalignh=1
textalignv=1
textshadow=yes
colour=0x000000

// 497:90
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(barbassault_wavecomplete:mainmodal_window_background, barbassault_wavecomplete:mainmodal_window_border, barbassault_wavecomplete:mainmodal_window_content, barbassault_wavecomplete:mainmodal_window_close_button, "Wave Complete!", 21218, string_1007)

// 497:91
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 497:92
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 497:93
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 497:94
[mainmodal_window_close_button]
type=layer
x=1
y=5
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 497:95
[com_95]
type=graphic
width=16
height=8
widthmode=minus
xmode=abs_centre
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,1"
colour=0xffffff
clickmask=no

// 497:96
[com_96]
type=graphic
width=8
height=8
xmode=abs_right
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,2"
colour=0xffffff
clickmask=no

// 497:97
[com_97]
type=graphic
width=8
height=16
heightmode=minus
ymode=abs_centre
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,3"
colour=0xffffff
clickmask=no

// 497:98
[com_98]
type=graphic
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,4"
colour=0xffffff
clickmask=no

// 497:99
[com_99]
type=graphic
width=8
height=16
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,5"
colour=0xffffff
clickmask=no

// 497:100
[com_100]
type=graphic
width=8
height=8
ymode=abs_bottom
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,6"
colour=0xffffff
clickmask=no

// 497:101
[com_101]
type=graphic
width=16
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,7"
colour=0xffffff
clickmask=no

// 497:102
[com_102]
type=graphic
width=8
height=8
xmode=abs_right
ymode=abs_bottom
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,8"
colour=0xffffff
clickmask=no

// 497:103
[f1]
type=graphic
width=8
height=8
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,9"
trans=255
colour=0xffffff
clickmask=no

// 497:104
[f2]
type=graphic
width=16
height=8
widthmode=minus
xmode=abs_centre
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,10"
trans=255
colour=0xffffff
clickmask=no

// 497:105
[f3]
type=graphic
width=8
height=8
xmode=abs_right
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,11"
trans=255
colour=0xffffff
clickmask=no

// 497:106
[f4]
type=graphic
width=8
height=16
heightmode=minus
ymode=abs_centre
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,12"
trans=255
colour=0xffffff
clickmask=no

// 497:107
[f5]
type=graphic
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,13"
trans=255
colour=0xffffff
clickmask=no

// 497:108
[f6]
type=graphic
width=8
height=16
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,14"
trans=255
colour=0xffffff
clickmask=no

// 497:109
[f7]
type=graphic
width=8
height=8
ymode=abs_bottom
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,15"
trans=255
colour=0xffffff
clickmask=no

// 497:110
[f8]
type=graphic
width=16
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,16"
trans=255
colour=0xffffff
clickmask=no

// 497:111
[f9]
type=graphic
width=8
height=8
xmode=abs_right
ymode=abs_bottom
layer=barbassault_level_up_layer
graphic="rs3_btn_contextual,17"
trans=255
colour=0xffffff
clickmask=no

// 497:112
[barbassault_level_up_txt]
type=text
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=barbassault_level_up_layer
textfont=b12_full
text=Level up
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:113
[com_113]
type=text
x=108
y=1
width=200
height=28
layer=ba_wave_breakdown_king
textfont=museo_sans_11pt_regular
text=The King is dead!
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 497:114
[com_114]
type=text
x=108
y=49
width=201
height=19
layer=ba_wave_breakdown_king
textfont=museo_sans_11pt_regular
text=Reward:
textalignh=1
textshadow=yes
colour=0x7592a0

// 497:115
[barbassault_compl_kingrewards]
type=text
x=108
y=65
width=202
height=145
layer=ba_wave_breakdown_king
textfont=museo_sans_11pt_regular
text=--Points output--
textalignh=1
textshadow=yes
colour=0x7592a0

