// 312:0
[background]
type=graphic
x=4
y=5
width=16132
height=15974
widthmode=proportion
heightmode=proportion
layer=main_layer
graphic=window_texture_1
tiling=yes
colour=0xffffff
clickmask=no

// 312:1
[border_top]
type=graphic
width=13907
height=7
widthmode=proportion
xmode=abs_centre
layer=main_layer
graphic=aif_window_stone_bot_brdr_left
tiling=yes
vflip=yes
colour=0xec74ff
clickmask=no

// 312:2
[border_bottom]
type=graphic
width=13107
height=7
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=main_layer
graphic=aif_window_stone_bot_brdr_left
tiling=yes
colour=0xec74ff
clickmask=no

// 312:3
[border_right]
type=graphic
width=8
height=13926
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=main_layer
graphic=aif_window_stone_side_brdr_large
tiling=yes
hflip=yes
colour=0xec74ff
clickmask=no

// 312:4
[border_left]
type=graphic
width=8
height=13926
heightmode=proportion
ymode=abs_centre
layer=main_layer
graphic=aif_window_stone_side_brdr_large
tiling=yes
colour=0xec74ff
clickmask=no

// 312:5
[main_layer]
type=layer
y=10
width=250
height=70
xmode=abs_centre
onload=script9190

// 312:6
[corner_br]
type=graphic
width=64
height=53
xmode=abs_right
ymode=abs_bottom
layer=main_layer
graphic=aif_window_stone_bot_corn
hflip=yes
colour=0xec74ff
clickmask=no

// 312:7
[corner_bl]
type=graphic
width=64
height=53
ymode=abs_bottom
layer=main_layer
graphic=aif_window_stone_bot_corn
colour=0xec74ff
clickmask=no

// 312:8
[corner_tr]
type=graphic
width=64
height=53
xmode=abs_right
layer=main_layer
graphic=aif_window_stone_bot_corn
vflip=yes
hflip=yes
colour=0xec74ff
clickmask=no

// 312:9
[corner_tl]
type=graphic
width=64
height=53
layer=main_layer
graphic=aif_window_stone_bot_corn
vflip=yes
colour=0xec74ff
clickmask=no

// 312:10
[time_remaining]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_layer
textfont=museo_sans_21pt_bold
text=Total collapse in: 30
textalignh=1
textalignv=1
colour=0xebe0bc

