// 1723:0
[bespoke_window]
type=layer
y=10
width=150
height=75
xmode=abs_centre
onload=script8420(bh_overlay:bespoke_window_background, bh_overlay:bespoke_window_border, bh_overlay:bespoke_window_content, null, "Cave Goblins", 21259, null)

// 1723:1
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1723:2
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1723:3
[icon]
type=graphic
x=10
width=50
height=50
ymode=abs_centre
layer=bespoke_window_content
graphic=clan_icon_shield
colour=0xffffff
clickmask=no

// 1723:4
[counter]
type=text
x=10
width=50
height=50
xmode=abs_right
ymode=abs_centre
layer=bespoke_window_content
textfont=museo_sans_15pt_bold
text=10/10
textalignh=1
textalignv=1
textshadow=yes

// 1723:5
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

