// 1338:0
[com_0]
type=text
y=5
height=20
widthmode=minus
xmode=abs_centre
layer=contents
textfont=museo_sans_11pt_regular
text=Your final score was:
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xe5b051
onload=script10496(event_com, event_comsubid, 3)

// 1338:1
[finalscore]
type=text
y=25
height=25
widthmode=minus
xmode=abs_centre
layer=contents
textfont=museo_sans_11pt_regular
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes

// 1338:2
[com_2]
type=text
y=50
height=30
widthmode=minus
xmode=abs_centre
layer=contents
textfont=museo_sans_11pt_regular
text=You gain:<br>(Competence Points)
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xe5b051
onload=script10496(event_com, event_comsubid, 3)

// 1338:3
[awardedpoints]
type=text
y=80
height=25
widthmode=minus
xmode=abs_centre
layer=contents
textfont=museo_sans_11pt_regular
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes

// 1338:4
[com_4]
type=text
y=105
height=20
widthmode=minus
xmode=abs_centre
layer=contents
textfont=museo_sans_11pt_regular
text=Total Competence Points:
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xe5b051
onload=script10496(event_com, event_comsubid, 3)

// 1338:5
[totalpoints]
type=text
y=125
height=25
widthmode=minus
xmode=abs_centre
layer=contents
textfont=museo_sans_11pt_regular
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes

// 1338:6
[modal_dialog_window]
type=layer
width=200
height=235
xmode=abs_centre
ymode=abs_centre
onload=script8420(bigchinchompa_gameover:modal_dialog_window_background, bigchinchompa_gameover:modal_dialog_window_border, bigchinchompa_gameover:modal_dialog_window_content, bigchinchompa_gameover:modal_dialog_window_close_button, "Game Over", 21217, string_1007)

// 1338:7
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1338:8
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1338:9
[contents]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=modal_dialog_window_content

// 1338:10
[3x1_positive_single]
type=layer
y=5
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=contents
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Continue")
onop=closebutton_click

// 1338:11
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 1338:12
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

