// 1254:0
[feedback_text]
type=text
y=5
width=300
height=40
xmode=abs_centre
layer=logout_failed_feedback_content
textfont=museo_sans_11pt_regular_multiline
text=You can't log out at the moment.
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1254:1
[feedback_text2]
type=text
y=50
width=300
height=47
xmode=abs_centre
layer=logout_failed_feedback_content
textfont=museo_sans_11pt_regular_multiline
text=Please leave the area and try again.
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1254:2
[mainmodal_window]
type=layer
width=326
height=190
xmode=abs_centre
ymode=abs_centre
onload=script8420(billing_logout_failed:mainmodal_window_background, billing_logout_failed:mainmodal_window_border, billing_logout_failed:mainmodal_window_content, billing_logout_failed:mainmodal_window_close_button, "Logout Alert", 21218, string_1007)

// 1254:3
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1254:4
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1254:5
[logout_failed_feedback_content]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1254:6
[cancel]
type=layer
x=10
y=5
width=120
height=27
ymode=abs_bottom
layer=logout_failed_feedback_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Cancel")

// 1254:7
[proceed]
type=layer
x=10
y=5
width=120
height=27
xmode=abs_right
ymode=abs_bottom
layer=logout_failed_feedback_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Proceed")

// 1254:8
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1254:9
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
hide=yes
transmitop1=yes
op1=Close
onop=closebutton_click

