// 32:0
[events]
type=layer
widthmode=minus
heightmode=minus
layer=game_data
onload=boardgames_status(boardgames_draughts:status1, boardgames_draughts:status2, boardgames_draughts:status3)
onvarcstrtransmit=boardgames_status(boardgames_draughts:status1, boardgames_draughts:status2, boardgames_draughts:status3)
onvarcstrtransmitlist=varclientstring_2402,varclientstring_2403,varclientstring_2404

// 32:1
[game_piece_player1]
type=model
x=11
y=9
width=21
height=21
layer=game_data
model=inv_firerune
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=1024
modelangle_z=0
modelzoom=1024
transmitop10=yes
op10=  
onvarctransmit=script2427(event_com)
onvarcstrtransmit=boardgames_turn_name(boardgames_draughts:name_turn)
onvarctransmitlist=boardgames_pl_piece
onvarcstrtransmitlist=varclientstring_2407

// 32:2
[game_data]
type=layer
x=10
y=10
width=190
height=20
heightmode=minus
layer=mainmodal_window_content
transmitop10=yes
op10=  
onload=boardgames_names(boardgames_draughts:name_player1, boardgames_draughts:name_player2)
onvarcstrtransmit=boardgames_names(boardgames_draughts:name_player1, boardgames_draughts:name_player2)
onvarcstrtransmitlist=varclientstring_2400

// 32:3
[draughts_board]
type=layer
x=-6
y=-18
width=512
height=334
layer=mainmodal_window_content

// 32:4
[draughts_inv]
type=layer
x=213
y=23
width=258
height=258
layer=mainmodal_window_content
onvarctransmit=draughts_inv_init(event_com, boardgames_boardinv, 8, 8)
onvarctransmitlist=boardgames_transmit

// 32:5
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(boardgames_draughts:mainmodal_window_background, boardgames_draughts:mainmodal_window_border, boardgames_draughts:mainmodal_window_content, boardgames_draughts:mainmodal_window_close_button, "Draughts", 21218, string_1007)

// 32:6
[name_player1]
type=text
x=34
y=6
width=140
height=25
layer=game_data
textfont=museo_sans_11pt_regular
text=Insert a very long name here!
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 32:7
[game_piece_player2]
type=model
x=11
y=39
width=21
height=21
layer=game_data
model=inv_waterrune
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=1024
modelangle_z=0
modelzoom=1024
transmitop10=yes
op10=  
onvarctransmit=script2428(event_com)
onvarctransmitlist=boardgames_opp_piece

// 32:8
[name_player2]
type=text
x=34
y=37
width=140
height=25
layer=game_data
textfont=museo_sans_11pt_regular
text=Insert a very long name here!
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 32:9
[turn]
type=text
x=10
y=80
width=44
height=16
layer=game_data
textfont=museo_sans_11pt_regular_multiline
text=Turn:
textalignh=2
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 32:10
[name_turn]
type=text
x=10
y=80
width=111
height=16
xmode=abs_right
layer=game_data
textfont=museo_sans_13pt_bold
text=Name
textshadow=yes
transmitop10=yes
op10=  

// 32:11
[status3]
type=text
y=117
width=20
height=14
widthmode=minus
xmode=abs_centre
layer=game_data
textfont=cinzel_12pt_bold
text=status 3
textalignh=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=    
onload=script10496(event_com, event_comsubid, 1)

// 32:12
[status1]
type=text
y=133
width=20
height=11
widthmode=minus
xmode=abs_centre
layer=game_data
textfont=museo_sans_11pt_regular
text=status 1
textalignh=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=    
onload=script10496(event_com, event_comsubid, 2)

// 32:13
[status2]
type=text
y=148
width=20
height=11
widthmode=minus
xmode=abs_centre
layer=game_data
textfont=museo_sans_11pt_regular
text=status 2
textalignh=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=    
onload=script10496(event_com, event_comsubid, 2)

// 32:14
[sandtimer]
type=model
x=10
y=10
width=33
height=91
xmode=abs_right
ymode=abs_bottom
layer=game_data
model=if_sand_timer
modelorigin_x=0
modelorigin_y=45
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=2048
transmitop10=yes
op10=   
onvarctransmit=boardgames_sandtimer(event_com)
onvarctransmitlist=boardgames_sandtimer

// 32:15
[draw_button]
type=layer
x=10
y=50
width=130
height=27
ymode=abs_bottom
layer=game_data
onload=script13968(boardgames_draughts:draw_build, boardgames_draughts:draw_click, rs3tli_neutral_button, "Offer Draw")

// 32:16
[resign_button]
type=layer
x=10
y=10
width=130
height=27
ymode=abs_bottom
layer=game_data
onload=script13968(boardgames_draughts:resign_build, boardgames_draughts:resign_click, rs3tli_negative_button, "Resign")

// 32:17
[board]
type=model
x=211
y=33
width=275
height=275
layer=draughts_board
model=if_chessboard2
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=400

// 32:18
[board_back]
type=rectangle
x=219
y=41
width=258
height=258
layer=draughts_board
colour=0x000000

// 32:19
[boardgames_draughts_runeflash]
type=model
x=236
y=58
width=1
height=1
layer=draughts_board
model=if_runeflash
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=768
modelanim=runeflash_off
transmitop10=yes
op10= 

// 32:20
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 32:21
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 32:22
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 32:23
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 32:24
[draw_build]
type=layer
widthmode=minus
heightmode=minus
layer=draw_button

// 32:25
[draw_click]
type=layer
widthmode=minus
heightmode=minus
layer=draw_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 32:26
[resign_build]
type=layer
widthmode=minus
heightmode=minus
layer=resign_button

// 32:27
[resign_click]
type=layer
widthmode=minus
heightmode=minus
layer=resign_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=closebutton_click

