// 769:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(boardgames_view:mainmodal_window_background, boardgames_view:mainmodal_window_border, boardgames_view:mainmodal_window_content, boardgames_view:mainmodal_window_close_button, "Spectator View", 21218, string_1007)

// 769:1
[boardgames_draughts_runeflash]
type=model
x=236
y=58
width=1
height=1
layer=draughts_board
model=if_runeflash
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=768
modelanim=runeflash_off
transmitop10=yes
op10= 

// 769:2
[board]
type=model
x=211
y=33
width=275
height=275
layer=draughts_board
model=if_chessboard2
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=400
transmitop10=yes
op10= 

// 769:3
[board_back]
type=rectangle
x=219
y=41
width=258
height=258
layer=draughts_board
colour=0x000000
transmitop10=yes
op10= 

// 769:4
[boardgames_runeversi_square0]
type=rectangle
x=221
y=40
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:5
[boardgames_runeversi_square1]
type=rectangle
x=253
y=40
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:6
[boardgames_runeversi_square2]
type=rectangle
x=285
y=40
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:7
[boardgames_runeversi_square3]
type=rectangle
x=317
y=40
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:8
[boardgames_runeversi_square4]
type=rectangle
x=349
y=40
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:9
[boardgames_runeversi_square5]
type=rectangle
x=381
y=40
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:10
[boardgames_runeversi_square6]
type=rectangle
x=413
y=40
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:11
[boardgames_runeversi_square7]
type=rectangle
x=445
y=40
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:12
[boardgames_runeversi_square8]
type=rectangle
x=221
y=72
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:13
[boardgames_runeversi_square9]
type=rectangle
x=253
y=72
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:14
[boardgames_runeversi_square10]
type=rectangle
x=285
y=72
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:15
[boardgames_runeversi_square11]
type=rectangle
x=317
y=72
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:16
[boardgames_runeversi_square12]
type=rectangle
x=349
y=72
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:17
[boardgames_runeversi_square13]
type=rectangle
x=381
y=72
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:18
[boardgames_runeversi_square14]
type=rectangle
x=413
y=72
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:19
[boardgames_runeversi_square15]
type=rectangle
x=445
y=72
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:20
[boardgames_runeversi_square16]
type=rectangle
x=221
y=104
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:21
[boardgames_runeversi_square17]
type=rectangle
x=253
y=104
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:22
[boardgames_runeversi_square18]
type=rectangle
x=285
y=104
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:23
[boardgames_runeversi_square19]
type=rectangle
x=317
y=104
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:24
[boardgames_runeversi_square20]
type=rectangle
x=349
y=104
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:25
[boardgames_runeversi_square21]
type=rectangle
x=381
y=104
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:26
[boardgames_runeversi_square22]
type=rectangle
x=413
y=104
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:27
[boardgames_runeversi_square23]
type=rectangle
x=445
y=104
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:28
[boardgames_runeversi_square24]
type=rectangle
x=221
y=136
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:29
[boardgames_runeversi_square25]
type=rectangle
x=253
y=136
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:30
[boardgames_runeversi_square26]
type=rectangle
x=285
y=136
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:31
[boardgames_runeversi_square27]
type=rectangle
x=317
y=136
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:32
[boardgames_runeversi_square28]
type=rectangle
x=349
y=136
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:33
[boardgames_runeversi_square29]
type=rectangle
x=381
y=136
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:34
[boardgames_runeversi_square30]
type=rectangle
x=413
y=136
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:35
[boardgames_runeversi_square31]
type=rectangle
x=445
y=136
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:36
[boardgames_runeversi_square32]
type=rectangle
x=221
y=168
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:37
[boardgames_runeversi_square33]
type=rectangle
x=253
y=168
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:38
[boardgames_runeversi_square34]
type=rectangle
x=285
y=168
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:39
[boardgames_runeversi_square35]
type=rectangle
x=317
y=168
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:40
[boardgames_runeversi_square36]
type=rectangle
x=349
y=168
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:41
[boardgames_runeversi_square37]
type=rectangle
x=381
y=168
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:42
[boardgames_runeversi_square38]
type=rectangle
x=413
y=168
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:43
[boardgames_runeversi_square39]
type=rectangle
x=445
y=168
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:44
[boardgames_runeversi_square40]
type=rectangle
x=221
y=200
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:45
[boardgames_runeversi_square41]
type=rectangle
x=253
y=200
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:46
[boardgames_runeversi_square42]
type=rectangle
x=285
y=200
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:47
[boardgames_runeversi_square43]
type=rectangle
x=317
y=200
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:48
[boardgames_runeversi_square44]
type=rectangle
x=349
y=200
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:49
[boardgames_runeversi_square45]
type=rectangle
x=381
y=200
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:50
[boardgames_runeversi_square46]
type=rectangle
x=413
y=200
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:51
[boardgames_runeversi_square47]
type=rectangle
x=445
y=200
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:52
[boardgames_runeversi_square48]
type=rectangle
x=221
y=232
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:53
[boardgames_runeversi_square49]
type=rectangle
x=253
y=232
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:54
[boardgames_runeversi_square50]
type=rectangle
x=285
y=232
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:55
[boardgames_runeversi_square51]
type=rectangle
x=317
y=232
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:56
[boardgames_runeversi_square52]
type=rectangle
x=349
y=232
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:57
[boardgames_runeversi_square53]
type=rectangle
x=381
y=232
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:58
[boardgames_runeversi_square54]
type=rectangle
x=413
y=232
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:59
[boardgames_runeversi_square55]
type=rectangle
x=445
y=232
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:60
[boardgames_runeversi_square56]
type=rectangle
x=221
y=264
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:61
[boardgames_runeversi_square57]
type=rectangle
x=253
y=264
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:62
[boardgames_runeversi_square58]
type=rectangle
x=285
y=264
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:63
[boardgames_runeversi_square59]
type=rectangle
x=317
y=264
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:64
[boardgames_runeversi_square60]
type=rectangle
x=349
y=264
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:65
[boardgames_runeversi_square61]
type=rectangle
x=381
y=264
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:66
[boardgames_runeversi_square62]
type=rectangle
x=413
y=264
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:67
[boardgames_runeversi_square63]
type=rectangle
x=445
y=264
width=32
height=32
layer=runeversi_board
colour=0xffffff
transmitop10=yes
op10= 

// 769:68
[com_68]
type=model
x=444
y=264
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:69
[com_69]
type=model
x=444
y=200
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:70
[com_70]
type=model
x=381
y=200
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:71
[com_71]
type=model
x=253
y=264
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:72
[com_72]
type=model
x=413
y=168
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:73
[com_73]
type=model
x=381
y=72
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:74
[com_74]
type=model
x=252
y=137
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:75
[com_75]
type=model
x=380
y=137
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:76
[com_76]
type=model
x=317
y=136
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:77
[com_77]
type=model
x=317
y=201
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:78
[com_78]
type=model
x=284
y=168
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:79
[com_79]
type=model
x=413
y=232
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:80
[com_80]
type=model
x=445
y=73
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:81
[com_81]
type=model
x=222
y=104
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:82
[com_82]
type=model
x=285
y=104
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:83
[com_83]
type=model
x=317
y=264
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:84
[com_84]
type=model
x=221
y=232
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:85
[com_85]
type=model
x=222
y=168
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:86
[com_86]
type=model
x=349
y=105
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:87
[com_87]
type=model
x=381
y=264
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:88
[com_88]
type=model
x=412
y=105
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:89
[com_89]
type=model
x=317
y=72
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:90
[com_90]
type=model
x=349
y=168
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:91
[com_91]
type=model
x=284
y=232
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:92
[com_92]
type=model
x=252
y=201
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:93
[com_93]
type=model
x=444
y=137
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:94
[com_94]
type=model
x=348
y=232
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:95
[com_95]
type=model
x=253
y=72
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:96
[com_96]
type=model
x=349
y=40
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:97
[com_97]
type=model
x=413
y=40
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:98
[com_98]
type=model
x=285
y=40
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:99
[com_99]
type=model
x=221
y=40
width=33
height=33
layer=runeversi_board
model=game_boardgames_if_square
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2000
transmitop10=yes
op10= 

// 769:100
[game_board]
type=model
x=201
y=46
width=299
height=252
layer=runelink_board
model=if_connectfour
modelorigin_x=2
modelorigin_y=97
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=134
transmitop10=yes
op10= 

// 769:101
[boardgames_runelink_column0]
type=graphic
x=229
y=57
width=32
height=207
layer=runelink_board
clickmask=no
transmitop10=yes
op10= 

// 769:102
[boardgames_runelink_column3]
type=graphic
x=334
y=57
width=32
height=207
layer=runelink_board
clickmask=no
transmitop10=yes
op10= 

// 769:103
[boardgames_runelink_column4]
type=graphic
x=369
y=57
width=32
height=207
layer=runelink_board
clickmask=no
transmitop10=yes
op10= 

// 769:104
[boardgames_runelink_column5]
type=graphic
x=404
y=57
width=32
height=207
layer=runelink_board
clickmask=no
transmitop10=yes
op10= 

// 769:105
[boardgames_runelink_column2]
type=graphic
x=299
y=57
width=32
height=207
layer=runelink_board
clickmask=no
transmitop10=yes
op10= 

// 769:106
[boardgames_runelink_column1]
type=graphic
x=264
y=57
width=32
height=207
layer=runelink_board
clickmask=no
transmitop10=yes
op10= 

// 769:107
[boardgames_runelink_column6]
type=graphic
x=439
y=57
width=32
height=207
layer=runelink_board
clickmask=no
transmitop10=yes
op10= 

// 769:108
[boardgames_runelink_runeflash]
type=model
x=245
y=73
width=1
height=1
layer=runelink_board
model=if_runeflash
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=768
modelanim=runeflash_off
transmitop10=yes
op10= 

// 769:109
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 769:110
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 769:111
[game_data]
type=layer
x=10
y=10
width=190
height=20
heightmode=minus
layer=mainmodal_window_content
onload=boardgames_names(boardgames_view:name_player1, boardgames_view:name_player2)
onvarcstrtransmit=boardgames_names(boardgames_view:name_player1, boardgames_view:name_player2)
onvarcstrtransmitlist=varclientstring_2400

// 769:112
[runelink_board]
type=layer
x=-7
y=-26
width=512
height=334
layer=mainmodal_window_content
hide=yes
transmitop10=yes
op10= 

// 769:113
[runelink_inv]
type=layer
x=222
y=31
width=242
height=207
layer=mainmodal_window_content
hide=yes
transmitop10=yes
op10= 

// 769:114
[draughts_board]
type=layer
x=-7
y=-26
width=512
height=334
layer=mainmodal_window_content
hide=yes
transmitop10=yes
op10= 

// 769:115
[draughts_inv]
type=layer
x=212
y=15
width=258
height=258
layer=mainmodal_window_content
hide=yes
transmitop10=yes
op10= 

// 769:116
[runeversi_board]
type=layer
x=-7
y=-26
width=512
height=334
layer=mainmodal_window_content
hide=yes
transmitop10=yes
op10= 

// 769:117
[runeversi_inv]
type=layer
x=214
y=14
width=256
height=256
layer=mainmodal_window_content
hide=yes
transmitop10=yes
op10= 

// 769:118
[events2]
type=layer
widthmode=minus
heightmode=minus
layer=game_data
onvarcstrtransmit=script1584(boardgames_view:status4)
onvarcstrtransmitlist=varclientstring_2405

// 769:119
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 769:120
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 769:121
[events]
type=layer
widthmode=minus
heightmode=minus
layer=game_data
onload=boardgames_status(boardgames_view:status1, boardgames_view:status2, boardgames_view:status3)
onvarcstrtransmit=boardgames_status(boardgames_view:status1, boardgames_view:status2, boardgames_view:status3)
onvarcstrtransmitlist=varclientstring_2402,varclientstring_2403,varclientstring_2404

// 769:122
[game_piece_player1]
type=model
x=11
y=8
width=21
height=21
layer=game_data
model=inv_firerune
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=1024
modelangle_z=0
modelzoom=1024
onvarctransmit=script2427(event_com)
onvarcstrtransmit=boardgames_turn_name(boardgames_view:name_turn)
onvarctransmitlist=boardgames_pl_piece
onvarcstrtransmitlist=varclientstring_2407

// 769:123
[name_player1]
type=text
x=34
y=6
width=140
height=25
layer=game_data
textfont=museo_sans_11pt_regular
text=Insert a very long name here!
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 769:124
[game_piece_player2]
type=model
x=11
y=38
width=21
height=21
layer=game_data
model=inv_waterrune
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=1024
modelangle_z=0
modelzoom=1024
onvarctransmit=script2428(event_com)
onvarctransmitlist=boardgames_opp_piece

// 769:125
[name_player2]
type=text
x=34
y=37
width=140
height=25
layer=game_data
textfont=museo_sans_11pt_regular
text=Insert a very long name here!
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 769:126
[turn]
type=text
x=10
y=80
width=44
height=16
layer=game_data
hide=yes
textfont=museo_sans_11pt_regular_multiline
text=Turn:
textalignh=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 769:127
[name_turn]
type=text
x=10
y=80
width=111
height=16
xmode=abs_right
layer=game_data
hide=yes
textfont=museo_sans_13pt_bold
text=Name
textshadow=yes

// 769:128
[status4]
type=text
y=117
width=20
height=14
widthmode=minus
xmode=abs_centre
layer=game_data
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes

// 769:129
[status3]
type=text
y=132
width=20
height=14
widthmode=minus
xmode=abs_centre
layer=game_data
textfont=cinzel_12pt_bold
text=status 3
textalignh=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 769:130
[status1]
type=text
y=148
width=20
height=11
widthmode=minus
xmode=abs_centre
layer=game_data
textfont=museo_sans_11pt_regular
text=status 1
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 769:131
[status2]
type=text
y=163
width=20
height=11
widthmode=minus
xmode=abs_centre
layer=game_data
textfont=museo_sans_11pt_regular
text=status 2
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

