// 1510:0
[blackout_layer]
type=layer
widthmode=minus
heightmode=minus
noclickthrough=yes
transmitop1=yes
op1=Close

// 1510:1
[com_1]
type=rectangle
widthmode=minus
heightmode=minus
layer=blackout_layer
colour=0x000000
fill=yes
trans=128

// 1510:2
[modal_dialog_window]
type=layer
width=350
height=175
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes

// 1510:3
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 1510:4
[modal_dialog_window_content]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window
onload=script16225(bonds_insufficient_funds:modal_dialog_window_border, bonds_insufficient_funds:modal_dialog_window_close_button, bonds_insufficient_funds:modal_dialog_window_content, "Not enough bonds")

// 1510:5
[cancel_button_active_layer]
type=layer
x=10
y=10
width=150
height=27
ymode=abs_bottom
layer=modal_dialog_window_content
transmitop1=yes
op1=Cancel
onload=script13968(event_com, null, rs3tli_neutral_button, "Cancel")

// 1510:6
[buy_bonds_button_active_layer]
type=layer
x=10
y=10
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=modal_dialog_window_content
transmitop1=yes
op1=Buy Bonds
onload=script13968(event_com, null, rs3tli_positive_button, "Buy Bonds")

// 1510:7
[com_7]
type=text
y=5
width=10
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular_multiline
text=Sorry, you don't have enough bonds to buy that package.<br><br>You can purchase more bonds from the Grand Exchange, or click the 'Buy Bonds' button below to purchase some directly from our store.
textshadow=yes

// 1510:8
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close

