// 1501:0
[parent]
type=layer
width=500
height=330
xmode=abs_centre
onload=script9845

// 1501:1
[background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=parent
noclickthrough=yes

// 1501:2
[border]
type=layer
x=1
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=parent

// 1501:3
[content]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=parent
onload=script8420(bonds_namechange_redeem:background, bonds_namechange_redeem:border, bonds_namechange_redeem:content, bonds_namechange_redeem:close, "Change Display Name", 21218, string_1007)
onvartransmit=script9845
onvartransmitlist=mtx_namechange_temp

// 1501:4
[namechange_info]
type=text
y=10
width=20
height=20
widthmode=minus
xmode=abs_centre
layer=content
textfont=museo_sans_13pt_regular
textshadow=yes

// 1501:5
[cooldown_layer]
type=layer
y=40
width=250
height=25
xmode=abs_centre
layer=content

// 1501:6
[cooldown_bg]
type=layer
width=250
height=25
xmode=abs_centre
layer=cooldown_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1501:7
[cooldown_text]
type=text
width=251
height=25
xmode=abs_centre
layer=cooldown_layer
textfont=museo_sans_13pt_bold
text=x days
textalignh=1
textalignv=1
textshadow=yes

// 1501:8
[namechange_info_secondary]
type=text
y=85
width=20
height=40
widthmode=minus
xmode=abs_centre
layer=content
textfont=museo_sans_13pt_regular
textshadow=yes

// 1501:9
[info_layer]
type=layer
y=130
width=10
height=95
widthmode=minus
xmode=abs_centre
layer=content

// 1501:10
[buttons_layer]
type=layer
y=10
width=20
height=105
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=content

// 1501:11
[cancel_button_active_layer]
type=layer
x=5
y=10
width=175
height=27
ymode=abs_bottom
layer=buttons_layer
transmitop1=yes
op1=Cancel
onload=script13968(event_com, null, rs3tli_neutral_button, "Cancel")

// 1501:12
[namechange_warning]
type=text
x=5
y=35
width=10
height=16
widthmode=minus
layer=buttons_layer
textfont=museo_sans_13pt_bold
textalignh=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 3)

// 1501:13
[confirm_button_active_layer]
type=layer
x=5
y=10
width=175
height=27
xmode=abs_right
ymode=abs_bottom
layer=buttons_layer
transmitop1=yes
op1=Continue
onload=script13968(event_com, null, rs3tli_positive_button, "Continue")

// 1501:14
[close]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=parent
transmitop1=yes
op1=Close

// 1501:15
[arrow_icon]
type=graphic
y=23
width=128
height=32
xmode=abs_centre
layer=info_layer
graphic=rs3_ui_convert
colour=0xffffff
clickmask=no

// 1501:16
[tradeable_bond_layer]
type=layer
width=170
height=110
layer=info_layer

// 1501:17
[bond_cost_title_text]
type=text
y=50
height=15
widthmode=minus
xmode=abs_centre
layer=tradeable_bond_layer
textfont=museo_sans_13pt_bold
text=Cost
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1501:18
[bond_cost_text]
type=text
y=65
height=45
widthmode=minus
xmode=abs_centre
layer=tradeable_bond_layer
textfont=museo_sans_13pt_bold
text=1 Tradeable Bond
textalignh=1
textshadow=yes

// 1501:19
[tradeable_bond_icon]
type=graphic
width=50
height=50
xmode=abs_centre
layer=tradeable_bond_layer
graphic=icon_currency_bond
colour=0xffffff
clickmask=no

// 1501:20
[untradeable_bond_layer]
type=layer
width=170
height=110
layer=info_layer

// 1501:21
[buy_layer_1]
type=layer
width=170
height=110
xmode=abs_right
layer=info_layer

// 1501:22
[package_graphic]
type=graphic
width=50
height=50
xmode=abs_centre
layer=buy_layer_1
graphic="rs3_bonds_icons_medium,13"
colour=0xffffff
clickmask=no

// 1501:23
[bonds_title]
type=text
y=50
height=40
widthmode=minus
xmode=abs_centre
layer=buy_layer_1
textfont=museo_sans_13pt_bold
text=Change display name
textlineheight=16
textalignh=1
textshadow=yes
colour=0xaed0e0

// 1501:24
[bonds_short_info]
type=text
y=65
height=45
widthmode=minus
xmode=abs_centre
layer=buy_layer_1
hide=yes
textfont=museo_sans_13pt_bold
text=14 Days
textlineheight=16
textalignh=1
textshadow=yes

// 1501:25
[package_contents]
type=text
y=82
width=20
height=96
widthmode=minus
xmode=abs_centre
layer=info_layer
hide=yes
textfont=museo_sans_11pt_regular
textlineheight=16
textalignh=1
textalignv=1
textshadow=yes
colour=0xafd0e0
transmitop1=yes
op1=View T&Cs
onmouseover=script4406(event_com, 1, cursor_read)
onmouseleave=script4213(event_com)

// 1501:26
[bond_cost_title_text_1]
type=text
y=50
height=15
widthmode=minus
xmode=abs_centre
layer=untradeable_bond_layer
textfont=museo_sans_13pt_bold
text=Cost
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1501:27
[bond_cost_text_1]
type=text
y=65
height=45
widthmode=minus
xmode=abs_centre
layer=untradeable_bond_layer
textfont=museo_sans_13pt_bold
text=1 Untradeable Bond
textalignh=1
textshadow=yes

// 1501:28
[tradeable_bond_icon_1]
type=graphic
width=50
height=50
xmode=abs_centre
layer=untradeable_bond_layer
graphic=icon_currency_bond
colour=0xffffff
clickmask=no

