// 852:0
[blackout_layer]
type=layer
widthmode=minus
heightmode=minus
noclickthrough=yes

// 852:1
[mainmodal_window]
type=layer
width=500
height=300
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script8420(bonds_redeem_generic_embedded:mainmodal_window_background, bonds_redeem_generic_embedded:mainmodal_window_border, bonds_redeem_generic_embedded:mainmodal_window_content, bonds_redeem_generic_embedded:mainmodal_window_close_button, "Redeem Bonds", 21218, string_1007)

// 852:2
[mainmodal_window_background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window
noclickthrough=yes

// 852:3
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 852:4
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 852:5
[bonds_sub_title]
type=text
x=5
y=5
width=10
height=20
widthmode=minus
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=Purchase 14 days of membership, for 1 Bond.
textshadow=yes
colour=0xaed0e0

// 852:6
[bonds_long_info]
type=text
x=5
y=25
width=10
height=84
widthmode=minus
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
text=Join our members community and you'll gain access to a whole host of exclusive perks and amazing members-only content. Over 184 extra incredible quests, 11 formidable skills, 38 awesome minigames and so much more!
textlineheight=14
textshadow=yes

// 852:7
[confirm_button_active_layer]
type=layer
x=20
y=5
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content
transmitop1=yes
op1=Confirm
onload=script13968(event_com, null, rs3tli_positive_button, "Confirm")

// 852:8
[cancel_button_active_layer]
type=layer
x=20
y=5
width=150
height=27
ymode=abs_bottom
layer=mainmodal_window_content
transmitop1=yes
op1=Cancel
onload=script13968(event_com, null, rs3tli_neutral_button, "Cancel")

// 852:9
[warning_text]
type=text
y=40
width=10
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
text=Redeeming this Bond will consume it.
textalignh=1
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 0)

// 852:10
[additional_info_text]
type=text
y=135
width=10
height=32
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
hide=yes
textfont=museo_sans_13pt_regular
textlineheight=16
textalignh=1
textshadow=yes
colour=0xff0404
onload=script10496(event_com, event_comsubid, 6)

// 852:11
[info_layer]
type=layer
y=55
width=10
height=95
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 852:12
[arrow_icon]
type=graphic
y=23
width=128
height=32
xmode=abs_centre
layer=info_layer
graphic=rs3_ui_convert
colour=0xffffff
clickmask=no

// 852:13
[tradeable_bond_layer]
type=layer
width=170
height=110
layer=info_layer

// 852:14
[bond_cost_title_text]
type=text
y=50
height=15
widthmode=minus
xmode=abs_centre
layer=tradeable_bond_layer
textfont=museo_sans_13pt_bold
text=Cost
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 852:15
[bond_cost_text]
type=text
y=65
height=45
widthmode=minus
xmode=abs_centre
layer=tradeable_bond_layer
textfont=museo_sans_13pt_bold
text=1 Bond
textalignh=1
textshadow=yes

// 852:16
[tradeable_bond_icon]
type=graphic
width=50
height=50
xmode=abs_centre
layer=tradeable_bond_layer
graphic=icon_currency_bond
colour=0xffffff
clickmask=no

// 852:17
[buy_layer]
type=layer
width=170
height=110
xmode=abs_right
layer=info_layer

// 852:18
[package_graphic]
type=graphic
width=50
height=50
xmode=abs_centre
layer=buy_layer
graphic="rs3_bonds_icons_medium,0"
colour=0xffffff
clickmask=no

// 852:19
[bonds_title]
type=text
y=50
height=15
widthmode=minus
xmode=abs_centre
layer=buy_layer
textfont=museo_sans_13pt_bold
text=Membership
textlineheight=16
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0

// 852:20
[bonds_short_info]
type=text
y=65
height=45
widthmode=minus
xmode=abs_centre
layer=buy_layer
textfont=museo_sans_13pt_bold
text=14 Days
textlineheight=16
textalignh=1
textshadow=yes

// 852:21
[package_contents]
type=text
y=82
width=20
height=96
widthmode=minus
xmode=abs_centre
layer=info_layer
hide=yes
textfont=museo_sans_11pt_regular
textlineheight=16
textalignh=1
textalignv=1
textshadow=yes
colour=0xafd0e0
transmitop1=yes
op1=View T&Cs
onmouseover=script4406(event_com, 1, cursor_read)
onmouseleave=script4213(event_com)

// 852:22
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close

// 852:23
[com_23]
type=rectangle
widthmode=minus
heightmode=minus
layer=blackout_layer
colour=0x000000
fill=yes
trans=128

