// 392:0
[mainmodal_window]
type=layer
width=40
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(bonds_tracking_messaging:mainmodal_window_background, bonds_tracking_messaging:mainmodal_window_border, bonds_tracking_messaging:mainmodal_window_content, bonds_tracking_messaging:mainmodal_window_close_button, "Important Message", 21218, string_1040)

// 392:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 392:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 392:3
[support_button]
type=layer
x=10
y=11
width=200
height=25
ymode=abs_bottom
layer=mainmodal_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Visit Support Centre")
onop=script1454(1009)

// 392:4
[ok_button]
type=layer
x=10
y=10
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Close")

// 392:5
[message]
type=text
y=10
width=20
height=55
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular_multiline
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 392:6
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 392:7
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

