// 1487:0
[confirm_text]
type=text
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=input_confirm_instructions
textfont=museo_sans_11pt_regular
text=Press Enter to confirm
textalignh=1
textalignv=1
textshadow=yes

// 1487:1
[com_1]
type=graphic
x=5
y=4
width=16
height=14
xmode=abs_right
layer=input_confirm_instructions
graphic="aif_next_prev_btn,0"
hflip=yes
colour=0xffffff
clickmask=no
onclick=script10518(bonds_namechange_change:text_input_listen, bonds_namechange_change:text_input_caret, bonds_namechange_change:text_input_display, bonds_namechange_change:text_input_clickout)

// 1487:2
[text_input_clickout]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=name_input
hide=yes
noclickthrough=yes

// 1487:3
[text_input_box]
type=layer
y=85
width=180
height=40
widthmode=minus
xmode=abs_centre
layer=name_input

// 1487:4
[input_confirm_instructions]
type=layer
y=95
width=180
height=45
widthmode=minus
xmode=abs_centre
layer=name_input
hide=yes

// 1487:5
[text_input_border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_box
onload=rs3_background_panel(event_com, rs3_text_entry_box_active)
onmouseover=rs3_background_panel(event_com, rs3_text_entry_box_over)
onmouseleave=rs3_background_panel(event_com, rs3_text_entry_box_active)

// 1487:6
[text_input_listener]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_box
noclickthrough=yes
onvarctransmit=script7202(event_com, bonds_namechange_change:text_input_listen, bonds_namechange_change:text_input_caret, bonds_namechange_change:text_input_display, bonds_namechange_change:text_input_clickout)
onvarctransmitlist=p_dialog_listener,p_dialog_mode

// 1487:7
[text_input_listen]
type=text
width=16391
height=23
widthmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xfffefe

// 1487:8
[text_input_caret]
type=rectangle
width=2
height=14
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
colour=0xe2dede
fill=yes

// 1487:9
[text_input_display]
type=text
width=16391
height=23
widthmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
textfont=museo_sans_11pt_regular
text=Enter display name here.
textalignh=1
textalignv=1
textshadow=yes
transmitop1=yes
op1=Enter name
onmouseover=rs3_background_panel(bonds_namechange_change:text_input_border, rs3_text_entry_box_over)
onmouseleave=rs3_background_panel(bonds_namechange_change:text_input_border, rs3_text_entry_box_active)
onclick=script7203(bonds_namechange_change:text_input_stop_click, bonds_namechange_change:text_input_clickout)

// 1487:10
[text_input_stop_click]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
noclickthrough=yes

// 1487:11
[suggestion3_button_layer]
type=layer
x=160
y=10
width=150
height=24
xmode=abs_centre
layer=suggestions_layer
hide=yes

// 1487:12
[suggestion2_button_layer]
type=layer
y=10
width=150
height=24
xmode=abs_centre
layer=suggestions_layer
hide=yes

// 1487:13
[suggestion1_button_layer]
type=layer
x=-160
y=10
width=150
height=24
xmode=abs_centre
layer=suggestions_layer
hide=yes

// 1487:14
[cancel_button_active_layer]
type=layer
width=175
height=27
xmode=abs_centre
ymode=abs_centre
layer=buttons_layer
transmitop1=yes
op1=Cancel
onload=script13968(event_com, null, rs3tli_neutral_button, "Cancel")

// 1487:15
[suggestion1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion1_button_layer
onload=script7699(event_com)

// 1487:16
[suggestion1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion1_button_layer
onload=script7728(event_com)

// 1487:17
[suggestion1_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion1_button_layer
onload=script7729(event_com)

// 1487:18
[suggestion1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion1_button_layer
hide=yes
onload=script8225(event_com)

// 1487:19
[suggestion1_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=suggestion1_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1487:20
[suggestion1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion1_button_layer
hide=yes
onload=script8228(event_com)

// 1487:21
[suggestion1_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion1_button_layer

// 1487:22
[suggestion1_button_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion1_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Suggestion 1
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1487:23
[suggestion2_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion2_button_layer
onload=script7699(event_com)

// 1487:24
[suggestion2_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion2_button_layer
onload=script7728(event_com)

// 1487:25
[suggestion2_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion2_button_layer
onload=script7729(event_com)

// 1487:26
[suggestion2_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion2_button_layer
hide=yes
onload=script8225(event_com)

// 1487:27
[suggestion2_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=suggestion2_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1487:28
[suggestion2_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion2_button_layer
hide=yes
onload=script8228(event_com)

// 1487:29
[suggestion2_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion2_button_layer

// 1487:30
[suggestion2_button_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion2_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Suggestion 2
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1487:31
[suggestion3_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion3_button_layer
onload=script7699(event_com)

// 1487:32
[suggestion3_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion3_button_layer
onload=script7728(event_com)

// 1487:33
[suggestion3_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion3_button_layer
onload=script7729(event_com)

// 1487:34
[suggestion3_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion3_button_layer
hide=yes
onload=script8225(event_com)

// 1487:35
[suggestion3_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=suggestion3_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1487:36
[suggestion3_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion3_button_layer
hide=yes
onload=script8228(event_com)

// 1487:37
[suggestion3_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion3_button_layer

// 1487:38
[suggestion3_button_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=suggestion3_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Suggestion 3
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1487:39
[com_39]
type=rectangle
widthmode=minus
heightmode=minus
layer=namechange_confirm_layer
colour=0x000000
fill=yes
trans=150

// 1487:40
[namechange_confirm_dialog_window]
type=layer
width=300
height=110
xmode=abs_centre
ymode=abs_centre
layer=namechange_confirm_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1487:41
[namechange_confirm_dialog_window_content]
type=layer
width=300
height=110
xmode=abs_centre
ymode=abs_centre
layer=namechange_confirm_layer

// 1487:42
[namechange_confirm_cancel_button_active_layer]
type=layer
x=5
y=5
width=135
height=27
ymode=abs_bottom
layer=namechange_confirm_dialog_window_content
transmitop1=yes
op1=Cancel
onload=script13968(event_com, null, rs3tli_mobile_3x1_neutral_button, "Cancel")
onop=script9852

// 1487:43
[namechange_confirm_button_active_layer]
type=layer
x=5
y=5
width=135
height=27
xmode=abs_right
ymode=abs_bottom
layer=namechange_confirm_dialog_window_content
transmitop1=yes
op1=Confirm
onload=script13968(event_com, null, rs3tli_mobile_3x1_positive_button, "Confirm")

// 1487:44
[namechange_confirm_dialog_text]
type=text
y=5
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=namechange_confirm_dialog_window_content
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textshadow=yes

// 1487:45
[namechange_confirm_dialog_text_name]
type=text
y=35
width=10
height=25
widthmode=minus
xmode=abs_centre
layer=namechange_confirm_dialog_window_content
textfont=museo_sans_15pt_bold
textalignh=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1487:46
[parent]
type=layer
height=250
widthmode=minus
ymode=abs_centre
noclickthrough=yes
onload=script9844

// 1487:47
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=parent

// 1487:48
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=parent

// 1487:49
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=parent
onload=script8420(bonds_namechange_change:mainmodal_window_background, bonds_namechange_change:mainmodal_window_border, bonds_namechange_change:mainmodal_window_content, bonds_namechange_change:mainmodal_window_close_button, "Change Display Name", 21218, string_1007)

// 1487:50
[error_type]
type=text
x=10
y=10
width=20
height=16
widthmode=minus
layer=mainmodal_window_content
hide=yes
textfont=museo_sans_13pt_bold
text=Error type here
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 1487:51
[info_text]
type=text
x=10
y=31
width=20
height=60
widthmode=minus
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
text=Please enter the new name you want to use for your hero below.
textalignh=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1487:52
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=parent
transmitop1=yes
op1=Close

// 1487:53
[name_input]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=mainmodal_window_content

// 1487:54
[suggestions_layer]
type=layer
x=10
y=40
width=20
height=50
widthmode=minus
ymode=abs_bottom
layer=mainmodal_window_content
hide=yes

// 1487:55
[buttons_layer]
type=layer
width=20
height=47
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 1487:56
[namechange_confirm_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

