// 230:0
[buy_info_count]
type=text
height=15
widthmode=minus
ymode=abs_bottom
layer=buy_info_layer
textfont=museo_sans_11pt_regular
text=000000000000
textlineheight=10
textalignh=1
textalignv=1
textshadow=yes

// 230:1
[buy_info_text]
type=text
height=20
widthmode=minus
layer=buy_info_layer
textfont=museo_sans_11pt_regular
text=Cost to convert each bond:
textlineheight=10
textalignh=1
textalignv=1
textshadow=yes
colour=0x728997
onload=script10496(event_com, event_comsubid, 3)

// 230:2
[coins_info_text]
type=text
height=10
widthmode=minus
heightmode=minus
layer=coins_info_text_layer
textfont=museo_sans_11pt_regular
text=Coins available:
textlineheight=10
textalignh=1
textalignv=1
textshadow=yes
colour=0x728997
onload=script10496(event_com, event_comsubid, 3)

// 230:3
[coins_info_count]
type=text
height=10
widthmode=minus
ymode=abs_bottom
layer=coins_info_text_layer
textfont=museo_sans_11pt_regular
text=000000000000
textlineheight=10
textalignh=1
textalignv=1
textshadow=yes

// 230:4
[bonds_info_text]
type=text
height=10
widthmode=minus
heightmode=minus
layer=bonds_info_text_layer
textfont=museo_sans_11pt_regular
text=Untradeable bonds available:
textlineheight=10
textalignh=1
textalignv=1
textshadow=yes
colour=0x728997
onload=script10496(event_com, event_comsubid, 3)

// 230:5
[bonds_info_count]
type=text
height=10
widthmode=minus
ymode=abs_bottom
layer=bonds_info_text_layer
textfont=museo_sans_11pt_regular
text=28
textlineheight=10
textalignh=1
textalignv=1
textshadow=yes

// 230:6
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=info_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 230:7
[bonds_info]
type=layer
x=65
y=5
width=160
height=50
layer=info_layer

// 230:8
[coins_info]
type=layer
x=65
y=5
width=160
height=50
xmode=abs_right
layer=info_layer

// 230:9
[buy_info_layer]
type=layer
x=45
width=110
height=36
ymode=abs_centre
layer=buy_info

// 230:10
[buy_info_container]
type=layer
x=5
width=36
height=36
ymode=abs_centre
layer=buy_info

// 230:11
[content_panel_blue_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=selection_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 230:12
[com_12]
type=text
x=10
y=5
width=300
height=35
layer=selection_layer
textfont=museo_sans_11pt_regular
text=How many untradeable bonds would you like to make tradeable?
textlineheight=15
textshadow=yes
colour=0x728997
onload=script10496(event_com, event_comsubid, 3)

// 230:13
[com_13]
type=text
x=10
y=55
width=280
height=63
heightmode=minus
layer=selection_layer
textfont=museo_sans_11pt_regular
text=You can only convert bonds from your backpack or your bonds pouch.
textlineheight=10
textalignv=1
textshadow=yes
colour=0x728997
onload=script10496(event_com, event_comsubid, 3)

// 230:14
[buy_info]
type=layer
x=10
y=5
width=160
height=50
xmode=abs_right
ymode=abs_bottom
layer=selection_layer

// 230:15
[com_15]
type=text
y=7
width=272
height=30
layer=total_cost_layer
textfont=museo_sans_11pt_regular
text=Total cost of conversion:
textalignh=1
textalignv=1
textshadow=yes
colour=0x728997
onload=script10496(event_com, event_comsubid, 3)

// 230:16
[total_cost_text]
type=text
y=1
width=135
height=15
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=total_cost
textfont=museo_sans_13pt_regular
text=00000000000000
textalignh=1
textalignv=1
textshadow=yes

// 230:17
[com_17]
type=text
height=25
widthmode=minus
xmode=abs_centre
layer=repackage_info
textfont=cinzel_15pt_bold
text=Convert bonds
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 230:18
[info_layer]
type=layer
y=5
width=40
height=60
widthmode=minus
xmode=abs_centre
layer=content

// 230:19
[coins_info_text_layer]
type=layer
x=45
width=110
height=24
ymode=abs_centre
layer=coins_info

// 230:20
[coins_info_container]
type=layer
x=5
width=36
height=36
ymode=abs_centre
layer=coins_info

// 230:21
[repackage_info]
type=layer
y=65
width=40
height=220
widthmode=minus
xmode=abs_centre
layer=content

// 230:22
[selection_layer]
type=layer
y=25
height=100
widthmode=minus
xmode=abs_centre
layer=repackage_info

// 230:23
[selection_spinner]
type=layer
x=20
y=5
width=120
height=34
xmode=abs_right
layer=selection_layer

// 230:24
[increase_bonds_button]
type=graphic
width=23
height=23
ymode=abs_centre
layer=selection_spinner
graphic=rs3_btn_increase_active
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Increase
onload=script13914(event_com, rs3tli_increase_button_23px_on)

// 230:25
[decrease_bonds_button]
type=graphic
width=23
height=23
xmode=abs_right
ymode=abs_centre
layer=selection_spinner
graphic=rs3_btn_decrease_active
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Decrease
onload=script13914(event_com, rs3tli_decrease_button_23px_on)

// 230:26
[selection_count]
type=text
y=1
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=selection_spinner
textfont=museo_sans_13pt_regular
text=00000
textalignh=1
textalignv=1
textshadow=yes

// 230:27
[confirmation_layer]
type=layer
y=5
height=80
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=repackage_info

// 230:28
[content_panel_blue_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=confirmation_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 230:29
[total_cost_layer]
type=layer
width=20
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirmation_layer

// 230:30
[total_cost]
type=layer
width=180
height=45
xmode=abs_right
layer=total_cost_layer

// 230:31
[com_31]
type=graphic
width=40
height=40
ymode=abs_centre
layer=total_cost
graphic="rs3_bonds_icons_medium,3"
colour=0xffffff
clickmask=no

// 230:32
[confirm_button]
type=layer
x=50
y=5
width=140
height=27
xmode=abs_right
ymode=abs_bottom
layer=confirmation_layer

// 230:33
[cancel_button]
type=layer
x=50
y=5
width=140
height=27
ymode=abs_bottom
layer=confirmation_layer

// 230:34
[bonds_info_text_layer]
type=layer
x=45
width=110
height=36
ymode=abs_centre
layer=bonds_info

// 230:35
[untrade_bond_container]
type=layer
x=5
y=1
width=36
height=36
ymode=abs_centre
layer=bonds_info

// 230:36
[cancel_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button
onload=script7753(event_com, aif_3x1_neutral_tab_on, 27)

// 230:37
[cancel_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=cancel_button
onload=script7753(event_com, aif_3x1_neutral_tab_over, 27)

// 230:38
[cancel_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=cancel_button

// 230:39
[cancel_button_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_text_layer
textfont=cinzel_13pt_bold
text=Cancel
textalignh=1
textalignv=1
colour=0x000000

// 230:40
[cancel_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
layer=cancel_button
onload=script7753(event_com, aif_3x1_neutral_tab_selected, 27)

// 230:41
[cancel_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=cancel_button
onload=script7753(event_com, aif_3x1_neutral_tab_disabled, 27)

// 230:42
[cancel_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=cancel_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 230:43
[confirm_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button
onload=script7753(event_com, aif_3x1_positive_tab_on, 27)

// 230:44
[confirm_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=confirm_button
onload=script7753(event_com, aif_3x1_positive_tab_over, 27)

// 230:45
[confirm_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_button

// 230:46
[confirm_button_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_text_layer
textfont=cinzel_13pt_bold
text=Confirm
textalignh=1
textalignv=1
colour=0x010101

// 230:47
[confirm_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_button
onload=script7753(event_com, aif_3x1_positive_tab_selected, 27)

// 230:48
[confirm_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 230:49
[confirm_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=confirm_button
onload=script7753(event_com, aif_3x1_positive_tab_disabled, 27)

// 230:50
[com_50]
type=graphic
width=10
height=10
layer=buy_info_container
graphic="rs3_icon_slot,0"
colour=0xffffff
clickmask=no

// 230:51
[com_51]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
layer=buy_info_container
graphic="rs3_icon_slot,1"
tiling=yes
colour=0xffffff
clickmask=no

// 230:52
[com_52]
type=graphic
width=10
height=10
xmode=abs_right
layer=buy_info_container
graphic="rs3_icon_slot,2"
colour=0xffffff
clickmask=no

// 230:53
[com_53]
type=graphic
width=10
height=20
heightmode=minus
ymode=abs_centre
layer=buy_info_container
graphic="rs3_icon_slot,3"
tiling=yes
colour=0xffffff
clickmask=no

// 230:54
[com_54]
type=graphic
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_info_container
graphic="rs3_icon_slot,4"
tiling=yes
colour=0xffffff
clickmask=no

// 230:55
[com_55]
type=graphic
width=10
height=20
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=buy_info_container
graphic="rs3_icon_slot,5"
tiling=yes
colour=0xffffff
clickmask=no

// 230:56
[com_56]
type=graphic
width=10
height=10
ymode=abs_bottom
layer=buy_info_container
graphic="rs3_icon_slot,6"
colour=0xffffff
clickmask=no

// 230:57
[com_57]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=buy_info_container
graphic="rs3_icon_slot,7"
tiling=yes
colour=0xffffff
clickmask=no

// 230:58
[com_58]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_bottom
layer=buy_info_container
graphic="rs3_icon_slot,8"
colour=0xffffff
clickmask=no

// 230:59
[com_59]
type=model
x=1
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=buy_info_container
model=bonds_icon_untradeable
modelorigin_x=-1
modelorigin_y=0
modelangle_x=458
modelangle_y=549
modelangle_z=0
modelzoom=1936

// 230:60
[com_60]
type=graphic
width=10
height=10
layer=coins_info_container
graphic="rs3_icon_slot,0"
colour=0xffffff
clickmask=no

// 230:61
[com_61]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
layer=coins_info_container
graphic="rs3_icon_slot,1"
tiling=yes
colour=0xffffff
clickmask=no

// 230:62
[com_62]
type=graphic
width=10
height=10
xmode=abs_right
layer=coins_info_container
graphic="rs3_icon_slot,2"
colour=0xffffff
clickmask=no

// 230:63
[com_63]
type=graphic
width=10
height=20
heightmode=minus
ymode=abs_centre
layer=coins_info_container
graphic="rs3_icon_slot,3"
tiling=yes
colour=0xffffff
clickmask=no

// 230:64
[com_64]
type=graphic
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=coins_info_container
graphic="rs3_icon_slot,4"
tiling=yes
colour=0xffffff
clickmask=no

// 230:65
[com_65]
type=graphic
width=10
height=20
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=coins_info_container
graphic="rs3_icon_slot,5"
tiling=yes
colour=0xffffff
clickmask=no

// 230:66
[com_66]
type=graphic
width=10
height=10
ymode=abs_bottom
layer=coins_info_container
graphic="rs3_icon_slot,6"
colour=0xffffff
clickmask=no

// 230:67
[com_67]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=coins_info_container
graphic="rs3_icon_slot,7"
tiling=yes
colour=0xffffff
clickmask=no

// 230:68
[com_68]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_bottom
layer=coins_info_container
graphic="rs3_icon_slot,8"
colour=0xffffff
clickmask=no

// 230:69
[com_69]
type=model
width=29
height=29
xmode=abs_centre
ymode=abs_centre
layer=coins_info_container
model=inv_goldpeices_10000
modelorigin_x=6
modelorigin_y=11
modelangle_x=168
modelangle_y=80
modelangle_z=0
modelzoom=1000

// 230:70
[com_70]
type=graphic
width=10
height=10
layer=untrade_bond_container
graphic="rs3_icon_slot,0"
colour=0xffffff
clickmask=no

// 230:71
[com_71]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
layer=untrade_bond_container
graphic="rs3_icon_slot,1"
tiling=yes
colour=0xffffff
clickmask=no

// 230:72
[com_72]
type=graphic
width=10
height=10
xmode=abs_right
layer=untrade_bond_container
graphic="rs3_icon_slot,2"
colour=0xffffff
clickmask=no

// 230:73
[com_73]
type=graphic
width=10
height=20
heightmode=minus
ymode=abs_centre
layer=untrade_bond_container
graphic="rs3_icon_slot,3"
tiling=yes
colour=0xffffff
clickmask=no

// 230:74
[com_74]
type=graphic
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=untrade_bond_container
graphic="rs3_icon_slot,4"
tiling=yes
colour=0xffffff
clickmask=no

// 230:75
[com_75]
type=graphic
width=10
height=20
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=untrade_bond_container
graphic="rs3_icon_slot,5"
tiling=yes
colour=0xffffff
clickmask=no

// 230:76
[com_76]
type=graphic
width=10
height=10
ymode=abs_bottom
layer=untrade_bond_container
graphic="rs3_icon_slot,6"
colour=0xffffff
clickmask=no

// 230:77
[com_77]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=untrade_bond_container
graphic="rs3_icon_slot,7"
tiling=yes
colour=0xffffff
clickmask=no

// 230:78
[com_78]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_bottom
layer=untrade_bond_container
graphic="rs3_icon_slot,8"
colour=0xffffff
clickmask=no

// 230:79
[com_79]
type=model
x=1
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=untrade_bond_container
model=bonds_icon_tradeable
modelorigin_x=-1
modelorigin_y=0
modelangle_x=458
modelangle_y=549
modelangle_z=0
modelzoom=1936

// 230:80
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(bonds_repackage:mainmodal_window_background, bonds_repackage:mainmodal_window_border, bonds_repackage:mainmodal_window_content, bonds_repackage:mainmodal_window_close_button, "Manage Bonds", 21218, string_1007)

// 230:81
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 230:82
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 230:83
[content]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
onload=script5556
onvartransmit=script5556
onvartransmitlist=bond_repackage_count,bond_repackage_cost

// 230:84
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 230:85
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

