// 1592:0
[com_0]
type=graphic
y=4
width=40
height=25
widthmode=minus
xmode=abs_centre
layer=progress_bar_container
graphic=aif_domtower_healthbar_back
colour=0xffffff
clickmask=no

// 1592:1
[layer_bar_red]
type=layer
x=17
y=9
width=300
height=13
layer=progress_bar_container
onvarctransmit=script6241
onvarctransmitlist=qbd2_phase_damage

// 1592:2
[com_2]
type=line
x=47
y=5
height=32
layer=progress_bar_container
colour=0x804b38

// 1592:3
[com_3]
type=line
x=166
y=5
height=32
layer=progress_bar_container
colour=0x804b38

// 1592:4
[com_4]
type=line
x=315
y=5
height=32
layer=progress_bar_container
colour=0x804b38

// 1592:5
[progress_bar]
type=layer
x=17
y=8
height=13
layer=progress_bar_container
onvarctransmit=script6241
onvarctransmitlist=qbd2_phase_damage

// 1592:6
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=universe
onload=script8420(boss_practice:mainmodal_window_background, boss_practice:mainmodal_window_border, boss_practice:mainmodal_window_content, boss_practice:mainmodal_window_close_button, "Boss assistance", 21218, string_1007)

// 1592:7
[progress_bar_container]
type=layer
y=90
width=80
height=60
widthmode=minus
xmode=abs_centre
layer=universe

// 1592:8
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1592:9
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1592:10
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1592:11
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1592:12
[universe]
type=layer
width=100
height=100
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script11062

// 1592:13
[points_text]
type=text
y=50
width=130
height=32
widthmode=minus
xmode=abs_centre
layer=universe
textfont=museo_sans_17pt_bold
text=Training points: 1000
textalignh=1
textalignv=1
textshadow=yes
colour=0xf0dcb4

// 1592:14
[desc_layer]
type=layer
y=155
width=60
height=180
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=universe

// 1592:15
[info_holder_active_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=desc_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1592:16
[reward_desc]
type=text
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=desc_layer
textfont=museo_sans_13pt_regular
text=Hover over a reward milestone to find out more.
textalignh=1
textalignv=1
textshadow=yes
colour=0xd2c8b4

// 1592:17
[com_17]
type=graphic
width=45
height=31
layer=progress_bar_container
graphic=aif_domtower_healthbar_end
colour=0xffffff
clickmask=no

// 1592:18
[com_18]
type=graphic
width=45
height=31
xmode=abs_right
layer=progress_bar_container
graphic=aif_domtower_healthbar_end
hflip=yes
colour=0xffffff
clickmask=no

// 1592:19
[reward_mouseover_glow_1]
type=graphic
x=35
width=27
height=26
ymode=abs_bottom
layer=progress_bar_container
hide=yes
graphic=combatv2_prayerglow_small
colour=0xffffff
clickmask=no

// 1592:20
[reward_mouseover_glow_2]
type=graphic
x=155
width=27
height=26
ymode=abs_bottom
layer=progress_bar_container
hide=yes
graphic=combatv2_prayerglow_small
colour=0xffffff
clickmask=no

// 1592:21
[reward_mouseover_glow_4]
type=graphic
x=302
width=27
height=26
ymode=abs_bottom
layer=progress_bar_container
hide=yes
graphic=combatv2_prayerglow_small
colour=0xffffff
clickmask=no

// 1592:22
[reward_1]
type=graphic
x=35
width=25
height=29
ymode=abs_bottom
layer=progress_bar_container
graphic="qbd_artifact_1,1"
colour=0xffffff
clickmask=no
onmouseover=script11064(event_com, 0, "50 points: Mortar board customisation unlock.")
onmouseleave=script11064(event_com, 1, "Hover over a reward milestone to find out more")

// 1592:23
[reward_2]
type=graphic
x=155
width=25
height=29
ymode=abs_bottom
layer=progress_bar_container
graphic="qbd_artifact_1,1"
colour=0xffffff
clickmask=no
onmouseover=script11064(event_com, 0, "250 points: 'The Master' title unlock.")
onmouseleave=script11064(event_com, 1, "Hover over a reward milestone to find out more")

// 1592:24
[reward_4]
type=graphic
x=303
width=25
height=29
ymode=abs_bottom
layer=progress_bar_container
graphic="qbd_artifact_1,1"
colour=0xffffff
clickmask=no
onmouseover=script11064(event_com, 0, "500 points: Boss training pet unlock.")
onmouseleave=script11064(event_com, 1, "Hover over a reward milestone to find out more")

// 1592:25
[green_left]
type=graphic
width=10
heightmode=minus
layer=progress_bar
graphic="qbd_nrgbar_1,2"
hflip=yes
colour=0xffffff
clickmask=no

// 1592:26
[green_middle]
type=graphic
width=20
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=progress_bar
graphic="qbd_nrgbar_1,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1592:27
[green_right]
type=graphic
width=10
heightmode=minus
xmode=abs_right
layer=progress_bar
graphic="qbd_nrgbar_1,2"
colour=0xffffff
clickmask=no

// 1592:28
[red_left]
type=graphic
width=10
height=13
layer=layer_bar_red
graphic="qbd_nrgbar_1,3"
colour=0xffffff
clickmask=no

// 1592:29
[red_middle]
type=graphic
width=20
height=13
widthmode=minus
xmode=abs_centre
layer=layer_bar_red
graphic="qbd_nrgbar_1,4"
tiling=yes
colour=0xffffff
clickmask=no

// 1592:30
[red_right]
type=graphic
width=10
height=13
xmode=abs_right
layer=layer_bar_red
graphic="qbd_nrgbar_1,5"
colour=0xffffff
clickmask=no

