// 1591:0
[npc_background]
type=graphic
y=-5
width=20
height=150
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=panel_boss_click
colour=0xffffff
clickmask=no

// 1591:1
[panel_boss_click]
type=layer
y=-5
width=20
height=150
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=panel_boss
transmitop1=yes
op1=Info
opcursor0=cursor_info

// 1591:2
[boss_model]
type=model
y=-5
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=panel_boss
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800
onvartransmit=boss_instance_onload(null)
onvartransmitlist=boss_instance_struct

// 1591:3
[hardmode_text]
type=text
x=10
width=100
height=20
ymode=abs_centre
layer=hardmode_layer
textfont=museo_sans_13pt_regular
text=Hardmode:
textalignv=1
textshadow=yes
colour=0xffdcb4

// 1591:4
[hardmode_checkbox_layer]
type=layer
x=10
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=hardmode_layer
transmitop1=yes
op1=Toggle

// 1591:5
[info_holder_active_item]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=item_req
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1591:6
[item_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=item_req
colour=0xffffff
clickmask=no

// 1591:7
[info_holder_active_coins]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=coin_req
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1591:8
[coins_graphic]
type=graphic
width=34
height=35
xmode=abs_centre
ymode=abs_centre
layer=coin_req
colour=0xffffff
clickmask=no

// 1591:9
[coin_text]
type=text
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=coin_req
textfont=verdana_11pt_bold
textalignh=1
textalignv=2
textshadow=yes

// 1591:10
[item_text]
type=text
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=item_req
textfont=verdana_11pt_bold
textalignh=1
textalignv=2
textshadow=yes

// 1591:11
[info_holder_active]
type=layer
x=5
y=5
width=180
height=220
xmode=abs_right
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1591:12
[bossname_text]
type=text
y=5
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=panel_boss
textfont=museo_sans_15pt_bold
text=BOSSNAME
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes

// 1591:13
[hardmode_layer]
type=layer
y=1
width=24
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=panel_boss

// 1591:14
[practicemode_layer]
type=layer
y=21
width=24
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=panel_boss
onvartransmit=script11059
onvartransmitlist=boss_instance_setup_temp

// 1591:15
[mainmodal_window]
type=layer
width=22
height=24
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(boss_instance:mainmodal_window_background, boss_instance:mainmodal_window_border, boss_instance:mainmodal_window_content, boss_instance:mainmodal_window_close_button, "Instance system", 21218, string_1007)

// 1591:16
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1591:17
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1591:18
[info_holder_inactive]
type=layer
x=5
y=5
width=280
height=40
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1591:19
[title_fees]
type=text
x=5
width=160
height=20
ymode=abs_centre
layer=panel_requirements
textfont=museo_sans_13pt_regular
text=Entrance requirements:
textalignv=1
textshadow=yes
colour=0xffdcb4

// 1591:20
[coin_req]
type=layer
x=65
width=35
height=35
xmode=abs_right
ymode=abs_centre
layer=panel_requirements
hide=yes

// 1591:21
[item_req]
type=layer
x=20
width=35
height=35
xmode=abs_right
ymode=abs_centre
layer=panel_requirements
hide=yes

// 1591:22
[info_holder_active_1]
type=layer
x=5
y=50
width=280
height=40
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1591:23
[title_playercount]
type=text
x=5
width=110
height=20
ymode=abs_centre
layer=panel_playercount
textfont=museo_sans_13pt_regular
text=Max players:
textalignv=1
textshadow=yes
colour=0xffdcb4

// 1591:24
[playercount_sub_button]
type=graphic
x=132
width=23
height=23
xmode=abs_right
ymode=abs_centre
layer=panel_playercount
graphic=rs3_btn_decrease_active
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Decrease
onload=script13914(event_com, rs3tli_decrease_button_23px_on)

// 1591:25
[playercount_add_button]
type=graphic
x=5
width=23
height=23
xmode=abs_right
ymode=abs_centre
layer=panel_playercount
graphic=rs3_btn_increase_active
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Increase
onload=script13914(event_com, rs3tli_increase_button_23px_on)

// 1591:26
[info_holder_inactive_1]
type=layer
x=5
y=95
width=280
height=40
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1591:27
[title_combatlevel]
type=text
x=5
width=110
height=20
ymode=abs_centre
layer=panel_combatlevel
textfont=museo_sans_13pt_regular
text=Min combat:
textalignv=1
textshadow=yes
colour=0xffdcb4

// 1591:28
[combatlevel_sub_button]
type=graphic
x=132
width=23
height=23
xmode=abs_right
ymode=abs_centre
layer=panel_combatlevel
graphic=rs3_btn_decrease_active
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Decrease
onload=script13914(event_com, rs3tli_decrease_button_23px_on)

// 1591:29
[combatlevel_add_button]
type=graphic
x=5
width=23
height=23
xmode=abs_right
ymode=abs_centre
layer=panel_combatlevel
graphic=rs3_btn_increase_active
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Increase
onload=script13914(event_com, rs3tli_increase_button_23px_on)

// 1591:30
[info_holder_active_2]
type=layer
x=5
y=140
width=280
height=40
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1591:31
[title_spawnspeed]
type=text
x=5
width=110
height=20
ymode=abs_centre
layer=panel_spawnspeed
textfont=museo_sans_13pt_regular
text=Spawn speed:
textalignv=1
textshadow=yes
colour=0xffdcb4

// 1591:32
[spawnspeed_sub_button]
type=graphic
x=132
width=23
height=23
xmode=abs_right
ymode=abs_centre
layer=panel_spawnspeed
graphic=rs3_btn_decrease_active
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Decrease
onload=script13914(event_com, rs3tli_decrease_button_23px_on)

// 1591:33
[spawnspeed_add_button]
type=graphic
x=5
width=23
height=23
xmode=abs_right
ymode=abs_centre
layer=panel_spawnspeed
graphic=rs3_btn_increase_active
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Increase
onload=script13914(event_com, rs3tli_increase_button_23px_on)

// 1591:34
[info_holder_inactive_2]
type=layer
x=5
y=185
width=280
height=40
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1591:35
[title_protection]
type=text
x=5
width=110
height=20
ymode=abs_centre
layer=panel_protection
textfont=museo_sans_13pt_regular
text=Protection:
textalignv=1
textshadow=yes
colour=0xffdcb4

// 1591:36
[protection_sub_button]
type=graphic
x=132
width=23
height=23
xmode=abs_right
ymode=abs_centre
layer=panel_protection
graphic=rs3_btn_decrease_active
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Decrease
onload=script13914(event_com, rs3tli_decrease_button_23px_on)

// 1591:37
[protection_add_button]
type=graphic
x=5
width=23
height=23
xmode=abs_right
ymode=abs_centre
layer=panel_protection
graphic=rs3_btn_increase_active
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Increase
onload=script13914(event_com, rs3tli_increase_button_23px_on)

// 1591:38
[positive_button_layer]
type=layer
x=-150
y=10
width=120
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 1591:39
[neutral_button_layer]
type=layer
y=10
width=120
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 1591:40
[neutral_button_layer_1]
type=layer
x=150
y=10
width=120
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 1591:41
[panel_boss]
type=layer
x=5
y=5
width=180
height=220
xmode=abs_right
layer=mainmodal_window_content
onvartransmit=script11054
onvartransmitlist=boss_instance_struct

// 1591:42
[extras_layer]
type=layer
x=20
y=40
width=40
height=40
ymode=abs_bottom
layer=panel_boss
noclickthrough=yes

// 1591:43
[seasonal_graphic]
type=graphic
width=40
height=40
layer=extras_layer
hide=yes
graphic=rs3_highscores_sidetab_seasonal_icon
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Details

// 1591:44
[panel_requirements]
type=layer
x=5
y=5
width=280
height=40
layer=mainmodal_window_content

// 1591:45
[panel_playercount]
type=layer
x=5
y=50
width=280
height=40
layer=mainmodal_window_content

// 1591:46
[playercount]
type=layer
x=30
width=100
height=23
xmode=abs_right
ymode=abs_centre
layer=panel_playercount

// 1591:47
[playercount_disabled]
type=layer
widthmode=minus
heightmode=minus
layer=panel_playercount
hide=yes
noclickthrough=yes

// 1591:48
[com_48]
type=rectangle
widthmode=minus
heightmode=minus
layer=playercount_disabled
colour=0x320000
fill=yes
trans=125

// 1591:49
[panel_combatlevel]
type=layer
x=5
y=95
width=280
height=40
layer=mainmodal_window_content

// 1591:50
[panel_spawnspeed]
type=layer
x=5
y=140
width=280
height=40
layer=mainmodal_window_content

// 1591:51
[panel_protection]
type=layer
x=5
y=185
width=280
height=40
layer=mainmodal_window_content

// 1591:52
[protection]
type=layer
x=30
width=100
height=23
xmode=abs_right
ymode=abs_centre
layer=panel_protection

// 1591:53
[protection_disabled]
type=layer
widthmode=minus
heightmode=minus
layer=panel_protection
hide=yes
noclickthrough=yes

// 1591:54
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1591:55
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1591:56
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7041(event_com)

// 1591:57
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7042(event_com)

// 1591:58
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7044(event_com)

// 1591:59
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7047(event_com)

// 1591:60
[start_instance]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer
transmitop1=yes
op1=Start
onload=script4213(event_com)

// 1591:61
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7060(event_com)

// 1591:62
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer

// 1591:63
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Start
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1591:64
[checkbox_selected_layer]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=hardmode_checkbox_layer
onload=script7755(event_com)

// 1591:65
[checkbox_selected_disabled_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=hardmode_checkbox_layer
onload=script7757(event_com)

// 1591:66
[checkbox_deselected_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=hardmode_checkbox_layer
onload=script7756(event_com)

// 1591:67
[checkbox_deselected_disabled_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=hardmode_checkbox_layer
onload=script7758(event_com)

// 1591:68
[resizable_3x3_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=playercount
onload=script7699(event_com)

// 1591:69
[resizable_3x3_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=playercount
onload=script7728(event_com)

// 1591:70
[resizable_3x3_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=playercount
onload=script7729(event_com)

// 1591:71
[resizable_3x3_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=playercount
hide=yes
onload=script8225(event_com)

// 1591:72
[playercount_button]
type=layer
widthmode=minus
heightmode=minus
layer=playercount
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1591:73
[resizable_3x3_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=playercount
hide=yes
onload=script8228(event_com)

// 1591:74
[resizable_3x3_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=playercount
onvartransmit=script11055
onvartransmitlist=boss_instance_setup_temp

// 1591:75
[playercount_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=XXX
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1591:76
[combatlevel]
type=layer
x=30
width=100
height=23
xmode=abs_right
ymode=abs_centre
layer=panel_combatlevel

// 1591:77
[resizable_3x3_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combatlevel
onload=script7699(event_com)

// 1591:78
[resizable_3x3_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combatlevel
onload=script7728(event_com)

// 1591:79
[resizable_3x3_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combatlevel
onload=script7729(event_com)

// 1591:80
[resizable_3x3_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combatlevel
hide=yes
onload=script8225(event_com)

// 1591:81
[combatlevel_button]
type=layer
widthmode=minus
heightmode=minus
layer=combatlevel
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1591:82
[resizable_3x3_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combatlevel
hide=yes
onload=script8228(event_com)

// 1591:83
[resizable_3x3_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combatlevel
onvartransmit=script11056
onvartransmitlist=boss_instance_setup_temp

// 1591:84
[combatlevel_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_1
textfont=museo_sans_11pt_regular_multiline
text=XXX
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1591:85
[spawnspeed]
type=layer
x=30
width=100
height=23
xmode=abs_right
ymode=abs_centre
layer=panel_spawnspeed

// 1591:86
[spawnspeed_disabled]
type=layer
widthmode=minus
heightmode=minus
layer=panel_spawnspeed
hide=yes
noclickthrough=yes

// 1591:87
[com_87]
type=rectangle
widthmode=minus
heightmode=minus
layer=spawnspeed_disabled
colour=0x320000
fill=yes
trans=125

// 1591:88
[resizable_3x3_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=spawnspeed
onload=script7699(event_com)

// 1591:89
[resizable_3x3_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=spawnspeed
onload=script7728(event_com)

// 1591:90
[resizable_3x3_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=spawnspeed
onload=script7729(event_com)

// 1591:91
[resizable_3x3_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=spawnspeed
hide=yes
onload=script8225(event_com)

// 1591:92
[spawnspeed_button]
type=layer
widthmode=minus
heightmode=minus
layer=spawnspeed
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1591:93
[resizable_3x3_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=spawnspeed
hide=yes
onload=script8228(event_com)

// 1591:94
[resizable_3x3_button_text_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=spawnspeed
onvartransmit=script11057
onvartransmitlist=boss_instance_setup_temp

// 1591:95
[spawnspeed_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_2
textfont=museo_sans_11pt_regular_multiline
text=XXX
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1591:96
[resizable_3x3_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=protection
onload=script7699(event_com)

// 1591:97
[resizable_3x3_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=protection
onload=script7728(event_com)

// 1591:98
[resizable_3x3_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=protection
onload=script7729(event_com)

// 1591:99
[resizable_3x3_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=protection
hide=yes
onload=script8225(event_com)

// 1591:100
[protection_button]
type=layer
widthmode=minus
heightmode=minus
layer=protection
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1591:101
[resizable_3x3_button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=protection
hide=yes
onload=script8228(event_com)

// 1591:102
[resizable_3x3_button_text_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=protection
onvartransmit=script11058
onvartransmitlist=boss_instance_setup2_temp

// 1591:103
[protection_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_3
textfont=museo_sans_11pt_regular_multiline
text=XXX
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1591:104
[neutral_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
onload=script7062(event_com)

// 1591:105
[neutral_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
onload=script7063(event_com)

// 1591:106
[neutral_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
onload=script7065(event_com)

// 1591:107
[neutral_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
hide=yes
onload=script7068(event_com)

// 1591:108
[join_instance]
type=layer
widthmode=minus
heightmode=minus
layer=neutral_button_layer
transmitop1=yes
op1=Join
onload=script4213(event_com)

// 1591:109
[neutral_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
hide=yes
onload=script7074(event_com)

// 1591:110
[neutral_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer

// 1591:111
[neutral_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer
textfont=cinzel_13pt_bold
text=Join
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1591:112
[practicemode]
type=text
x=10
width=100
height=20
ymode=abs_centre
layer=practicemode_layer
textfont=museo_sans_13pt_regular
text=Practice mode:
textalignv=1
textshadow=yes
colour=0xffdcb4

// 1591:113
[practicemode_checkbox_layer]
type=layer
x=10
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=practicemode_layer
transmitop1=yes
op1=Toggle

// 1591:114
[practicemode_checkbox_selected_layer]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=practicemode_checkbox_layer
onload=script7755(event_com)

// 1591:115
[practicemode_checkbox_selected_disabled_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=practicemode_checkbox_layer
onload=script7757(event_com)

// 1591:116
[practicemode_checkbox_deselected_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=practicemode_checkbox_layer
onload=script7756(event_com)

// 1591:117
[practicemode_checkbox_deselected_disabled_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=practicemode_checkbox_layer
onload=script7758(event_com)

// 1591:118
[neutral_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer_1
onload=script7062(event_com)

// 1591:119
[neutral_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer_1
onload=script7063(event_com)

// 1591:120
[neutral_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer_1
onload=script7065(event_com)

// 1591:121
[neutral_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer_1
hide=yes
onload=script7068(event_com)

// 1591:122
[rejoin_instance]
type=layer
widthmode=minus
heightmode=minus
layer=neutral_button_layer_1
transmitop1=yes
op1=Rejoin
onload=script4213(event_com)

// 1591:123
[rejoin_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer_1
hide=yes
onload=script7074(event_com)

// 1591:124
[neutral_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer_1

// 1591:125
[neutral_button_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer_1
textfont=cinzel_13pt_bold
text=Rejoin
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1591:126
[com_126]
type=rectangle
widthmode=minus
heightmode=minus
layer=protection_disabled
colour=0x320000
fill=yes
trans=125

