// 1347:0
[botoff_second_warning_background_0]
type=graphic
x=-284
y=-170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,0"
colour=0xffffff
clickmask=no

// 1347:1
[botoff_second_warning_background_1]
type=graphic
x=-142
y=-170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,1"
colour=0xffffff
clickmask=no

// 1347:2
[botoff_second_warning_background_2]
type=graphic
y=-170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,2"
colour=0xffffff
clickmask=no

// 1347:3
[botoff_second_warning_background_3]
type=graphic
x=142
y=-170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,3"
colour=0xffffff
clickmask=no

// 1347:4
[botoff_second_warning_background_4]
type=graphic
x=284
y=-170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,4"
colour=0xffffff
clickmask=no

// 1347:5
[botoff_second_warning_background_5]
type=graphic
x=-284
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,5"
colour=0xffffff
clickmask=no

// 1347:6
[botoff_second_warning_background_6]
type=graphic
x=-142
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,6"
colour=0xffffff
clickmask=no

// 1347:7
[botoff_second_warning_background_7]
type=graphic
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,7"
colour=0xffffff
clickmask=no

// 1347:8
[botoff_second_warning_background_8]
type=graphic
x=142
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,8"
colour=0xffffff
clickmask=no

// 1347:9
[botoff_second_warning_background_9]
type=graphic
x=284
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,9"
colour=0xffffff
clickmask=no

// 1347:10
[botoff_second_warning_background_10]
type=graphic
x=-284
y=170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,10"
colour=0xffffff
clickmask=no

// 1347:11
[botoff_second_warning_background_11]
type=graphic
x=-142
y=170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,11"
colour=0xffffff
clickmask=no

// 1347:12
[botoff_second_warning_background_12]
type=graphic
y=170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,12"
colour=0xffffff
clickmask=no

// 1347:13
[botoff_second_warning_background_13]
type=graphic
x=142
y=170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,13"
colour=0xffffff
clickmask=no

// 1347:14
[botoff_second_warning_background_14]
type=graphic
x=284
y=170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=botoff_warning_background_stage_2
graphic="bot_off_stage_2_background,14"
colour=0xffffff
clickmask=no

// 1347:15
[botoff_second_warning_window]
type=layer
width=722
height=518
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script8420(botoff_second_warning_interface:botoff_second_warning_window_background, botoff_second_warning_interface:botoff_second_warning_window_border, botoff_second_warning_interface:botoff_second_warning_window_content, null, "", 30498, string_1005)

// 1347:16
[botoff_second_warning_window_background]
type=layer
x=6
y=4
width=12
height=8
widthmode=minus
heightmode=minus
layer=botoff_second_warning_window

// 1347:17
[botoff_second_warning_window_content]
type=layer
width=12
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=botoff_second_warning_window

// 1347:18
[botoff_warning_text_stage_2_body]
type=text
x=257
y=62
width=410
height=400
layer=botoff_warning_text_stage_2
textfont=museo_sans_11pt_regular
textlineheight=14
textshadow=yes
onload=script350(event_com)

// 1347:19
[botoff_warning_text_stage_2_title]
type=text
x=257
y=38
width=410
height=23
layer=botoff_warning_text_stage_2
textfont=museo_sans_19pt_bold
text=Warning!
textalignh=1
textshadow=yes

// 1347:20
[botoff_warning_background_stage_2]
type=layer
widthmode=minus
heightmode=minus
layer=botoff_second_warning_window_content

// 1347:21
[botoff_warning_text_stage_2]
type=layer
width=710
height=510
xmode=abs_centre
ymode=abs_centre
layer=botoff_second_warning_window_content

// 1347:22
[botoff_second_warning_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=botoff_second_warning_window

// 1347:23
[close_layer]
type=layer
x=8
y=8
width=142
height=27
xmode=abs_right
ymode=abs_bottom
layer=botoff_second_warning_window_content
onmouseover=script6884(botoff_second_warning_interface:btn_graphic_neutral_over_0, botoff_second_warning_interface:btn_graphic_neutral_over_1, botoff_second_warning_interface:btn_graphic_neutral_over_2)
onmouseleave=script6886(botoff_second_warning_interface:btn_graphic_neutral_over_0, botoff_second_warning_interface:btn_graphic_neutral_over_1, botoff_second_warning_interface:btn_graphic_neutral_over_2)

// 1347:24
[rules_layer]
type=layer
x=158
y=8
width=142
height=27
xmode=abs_right
ymode=abs_bottom
layer=botoff_second_warning_window_content
onmouseover=script6884(botoff_second_warning_interface:btn_graphic_main_3, botoff_second_warning_interface:btn_graphic_main_4, botoff_second_warning_interface:btn_graphic_main_5)
onmouseleave=script6886(botoff_second_warning_interface:btn_graphic_main_3, botoff_second_warning_interface:btn_graphic_main_4, botoff_second_warning_interface:btn_graphic_main_5)

// 1347:25
[close_disabled]
type=layer
x=8
y=8
width=142
height=27
xmode=abs_right
ymode=abs_bottom
layer=botoff_second_warning_window_content
hide=yes

// 1347:26
[gold_window_title_layer]
type=layer
height=23
widthmode=minus
xmode=abs_centre
layer=botoff_second_warning_window_content

// 1347:27
[gold_window_title_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_title_layer
textfont=museo_sans_15pt_bold
text=Cheating Detected - Final Warning
textalignh=1
textalignv=1
colour=0xffcb05

// 1347:28
[gold_window_title_layer_red]
type=layer
height=23
widthmode=minus
xmode=abs_centre
layer=botoff_second_warning_window_content
ontimer=script4006(botoff_second_warning_interface:gold_window_title_text_red)

// 1347:29
[gold_window_title_text_red]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_title_layer_red
textfont=museo_sans_15pt_bold
text=Cheating Detected - Final Warning
textalignh=1
textalignv=1
colour=0xff0000

// 1347:30
[btn_graphic_neutral_disabled_0]
type=graphic
width=25
height=27
layer=close_disabled
graphic="rs3_btn_main_neutral,12"
colour=0xffffff
clickmask=no

// 1347:31
[btn_graphic_neutral_disabled_1]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
layer=close_disabled
graphic="rs3_btn_main_neutral,13"
colour=0xffffff
clickmask=no

// 1347:32
[btn_graphic_neutral_disabled_2]
type=graphic
width=25
height=27
xmode=abs_right
layer=close_disabled
graphic="rs3_btn_main_neutral,14"
colour=0xffffff
clickmask=no

// 1347:33
[close_button_2]
type=layer
widthmode=minus
heightmode=minus
layer=close_disabled

// 1347:34
[com_34]
type=text
widthmode=minus
heightmode=minus
layer=close_button_2
textfont=cinzel_13pt_bold
text=Close
textalignh=1
textalignv=1
colour=0x000000

// 1347:35
[btn_graphic_main_0]
type=graphic
width=25
height=27
layer=rules_layer
graphic="rs3_btn_main_positive,0"
colour=0xffffff
clickmask=no

// 1347:36
[btn_graphic_main_1]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
layer=rules_layer
graphic="rs3_btn_main_positive,1"
colour=0xffffff
clickmask=no

// 1347:37
[btn_graphic_main_2]
type=graphic
width=25
height=27
xmode=abs_right
layer=rules_layer
graphic="rs3_btn_main_positive,2"
colour=0xffffff
clickmask=no

// 1347:38
[btn_graphic_main_3]
type=graphic
width=25
height=27
layer=rules_layer
graphic="rs3_btn_main_positive,3"
trans=255
colour=0xffffff
clickmask=no

// 1347:39
[btn_graphic_main_4]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
layer=rules_layer
graphic="rs3_btn_main_positive,4"
tiling=yes
trans=255
colour=0xffffff
clickmask=no

// 1347:40
[btn_graphic_main_5]
type=graphic
width=25
height=27
xmode=abs_right
layer=rules_layer
graphic="rs3_btn_main_positive,5"
trans=255
colour=0xffffff
clickmask=no

// 1347:41
[rules_button]
type=layer
widthmode=minus
heightmode=minus
layer=rules_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1347:42
[com_42]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=rules_button
textfont=cinzel_13pt_bold
text=Read FAQ
textalignh=1
textalignv=1
colour=0x000000

// 1347:43
[btn_graphic_neutral_normal_0]
type=graphic
width=25
height=27
layer=close_layer
graphic="rs3_btn_main_neutral,0"
colour=0xffffff
clickmask=no

// 1347:44
[btn_graphic_neutral_normal_1]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
layer=close_layer
graphic="rs3_btn_main_neutral,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1347:45
[btn_graphic_neutral_normal_2]
type=graphic
width=25
height=27
xmode=abs_right
layer=close_layer
graphic="rs3_btn_main_neutral,2"
colour=0xffffff
clickmask=no

// 1347:46
[btn_graphic_neutral_over_0]
type=graphic
width=25
height=27
layer=close_layer
graphic="rs3_btn_main_neutral,3"
trans=255
colour=0xffffff
clickmask=no

// 1347:47
[btn_graphic_neutral_over_1]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
layer=close_layer
graphic="rs3_btn_main_neutral,4"
tiling=yes
trans=255
colour=0xffffff
clickmask=no

// 1347:48
[btn_graphic_neutral_over_2]
type=graphic
width=25
height=27
xmode=abs_right
layer=close_layer
graphic="rs3_btn_main_neutral,5"
trans=255
colour=0xffffff
clickmask=no

// 1347:49
[close_button]
type=layer
widthmode=minus
heightmode=minus
layer=close_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1347:50
[close_text_layer]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=close_button
textfont=cinzel_13pt_bold
text=Close
textalignh=1
textalignv=1
colour=0x000000

