// 514:0
[content_layer]
type=layer
x=7
y=7
width=512
height=334
xmode=proportion_centre
ymode=proportion_centre

// 514:1
[com_1]
type=model
x=-18
y=-9
width=543
height=347
layer=content_layer
model=quest_rum_deal_if_wool_back
modelorigin_x=0
modelorigin_y=35
modelangle_x=501
modelangle_y=0
modelangle_z=0
modelzoom=256

// 514:2
[com_2]
type=model
x=71
y=-30
width=313
height=353
layer=content_layer
model=brain_cat_with_ball
modelorigin_x=13
modelorigin_y=172
modelangle_x=36
modelangle_y=1720
modelangle_z=0
modelzoom=360
modelanim=brain_cat_and_ball_anim

