// 284:0
[universe_layer]
type=layer
widthmode=minus
heightmode=minus

// 284:1
[listeners]
type=layer
width=1
height=1
layer=universe_layer

// 284:2
[buff_size_listener]
type=layer
width=1
height=1
layer=listeners
onvartransmit=script2922
onvartransmitlist=option_toggle3

// 284:3
[buff_visibility_settings_listener]
type=layer
width=1
height=1
layer=listeners
onvartransmit=script11420
onvartransmitlist=option_toggle1,option_toggle1,option_toggle1,option_toggle1,option_toggle1,option_toggle1,option_toggle1,option_toggle1,option_toggle1,option_toggle1,option_toggle1,option_toggle2,option_toggle3

// 284:4
[necromancy_listener]
type=layer
width=1
height=1
layer=listeners
onstattransmit=script17681
onstattransmitlist=necromancy

// 284:5
[magic_listener]
type=layer
width=1
height=1
layer=listeners
onstattransmit=script11415
onstattransmitlist=magic

// 284:6
[ranged_listener]
type=layer
width=1
height=1
layer=listeners
onstattransmit=script11414
onstattransmitlist=ranged

// 284:7
[defence_listener]
type=layer
width=1
height=1
layer=listeners
onstattransmit=script11386
onstattransmitlist=defence

// 284:8
[attack_listener]
type=layer
width=1
height=1
layer=listeners
onstattransmit=script11326
onstattransmitlist=attack

// 284:9
[summoning_listener]
type=layer
width=1
height=1
layer=listeners
onvartransmit=script11419
onvartransmitlist=follower_obj,lore_timer_var,lore_timer_var

// 284:10
[poison_listener]
type=layer
width=1
height=1
layer=listeners
onvartransmit=script11418
onvartransmitlist=combatv2_poisoned,gwd2_temp_unprotected

// 284:11
[strength_listener]
type=layer
width=1
height=1
layer=listeners
onstattransmit=script11337
onstattransmitlist=strength

// 284:12
[prayer_listener]
type=layer
width=1
height=1
layer=listeners
onvartransmit=script11417
onstattransmit=script11417
onvartransmitlist=prayer_points_var
onstattransmitlist=prayer

// 284:13
[lifepoints_listener]
type=layer
width=1
height=1
layer=listeners
onvartransmit=script11416
onstattransmit=script11416
onvartransmitlist=area_ardougne_login,bonfire_temp,prayer_base,dmbh_reward_thremal_health_boost
onstattransmitlist=hitpoints

// 284:14
[woodcutting_listener]
type=layer
width=1
height=1
layer=listeners
onstattransmit=script3881
onstattransmitlist=woodcutting

// 284:15
[mining_layer]
type=layer
width=1
height=1
layer=listeners
onstattransmit=script3903
onstattransmitlist=mining

// 284:16
[fishing_layer]
type=layer
width=1
height=1
layer=listeners
onstattransmit=script3906
onstattransmitlist=fishing

// 284:17
[hunter_layer]
type=layer
width=1
height=1
layer=listeners
onstattransmit=script3908
onstattransmitlist=hunter

// 284:18
[buff_render_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe_layer
onload=script11421(null, buff_bar:buff_1, event_com)

// 284:19
[buff_1]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_render_layer, buff_bar:buff_1, buff_bar:buff_2)

// 284:20
[buff_2]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_1, buff_bar:buff_2, buff_bar:buff_3)

// 284:21
[buff_3]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_2, buff_bar:buff_3, buff_bar:buff_4)

// 284:22
[buff_4]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_3, buff_bar:buff_4, buff_bar:buff_5)

// 284:23
[buff_5]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_4, buff_bar:buff_5, buff_bar:buff_6)

// 284:24
[buff_6]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_5, buff_bar:buff_6, buff_bar:buff_7)

// 284:25
[buff_7]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_6, buff_bar:buff_7, buff_bar:buff_8)

// 284:26
[buff_8]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_7, buff_bar:buff_8, buff_bar:buff_9)

// 284:27
[buff_9]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_8, buff_bar:buff_9, buff_bar:buff_10)

// 284:28
[buff_10]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_9, buff_bar:buff_10, buff_bar:buff_11)

// 284:29
[buff_11]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_10, buff_bar:buff_11, buff_bar:buff_12)

// 284:30
[buff_12]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_11, buff_bar:buff_12, buff_bar:buff_13)

// 284:31
[buff_13]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_12, buff_bar:buff_13, buff_bar:buff_14)

// 284:32
[buff_14]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_13, buff_bar:buff_14, buff_bar:buff_15)

// 284:33
[buff_15]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_14, buff_bar:buff_15, buff_bar:buff_16)

// 284:34
[buff_16]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_15, buff_bar:buff_16, buff_bar:buff_17)

// 284:35
[buff_17]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_16, buff_bar:buff_17, buff_bar:buff_18)

// 284:36
[buff_18]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_17, buff_bar:buff_18, buff_bar:buff_19)

// 284:37
[buff_19]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_18, buff_bar:buff_19, buff_bar:buff_20)

// 284:38
[buff_20]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_19, buff_bar:buff_20, buff_bar:buff_21)

// 284:39
[buff_21]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_20, buff_bar:buff_21, buff_bar:buff_22)

// 284:40
[buff_22]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_21, buff_bar:buff_22, buff_bar:buff_23)

// 284:41
[buff_23]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_22, buff_bar:buff_23, buff_bar:buff_24)

// 284:42
[buff_24]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_23, buff_bar:buff_24, buff_bar:buff_25)

// 284:43
[buff_25]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_24, buff_bar:buff_25, buff_bar:buff_26)

// 284:44
[buff_26]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_25, buff_bar:buff_26, buff_bar:buff_27)

// 284:45
[buff_27]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_26, buff_bar:buff_27, buff_bar:buff_28)

// 284:46
[buff_28]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_27, buff_bar:buff_28, buff_bar:buff_29)

// 284:47
[buff_29]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_28, buff_bar:buff_29, buff_bar:buff_30)

// 284:48
[buff_30]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_29, buff_bar:buff_30, buff_bar:buff_31)

// 284:49
[buff_31]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_30, buff_bar:buff_31, buff_bar:buff_32)

// 284:50
[buff_32]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_31, buff_bar:buff_32, buff_bar:buff_33)

// 284:51
[buff_33]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_32, buff_bar:buff_33, buff_bar:buff_34)

// 284:52
[buff_34]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_33, buff_bar:buff_34, buff_bar:buff_35)

// 284:53
[buff_35]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_34, buff_bar:buff_35, buff_bar:buff_36)

// 284:54
[buff_36]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_35, buff_bar:buff_36, buff_bar:buff_37)

// 284:55
[buff_37]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_36, buff_bar:buff_37, buff_bar:buff_38)

// 284:56
[buff_38]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_37, buff_bar:buff_38, buff_bar:buff_39)

// 284:57
[buff_39]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_38, buff_bar:buff_39, buff_bar:buff_40)

// 284:58
[buff_40]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_39, buff_bar:buff_40, buff_bar:buff_41)

// 284:59
[buff_41]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_40, buff_bar:buff_41, buff_bar:buff_42)

// 284:60
[buff_42]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_41, buff_bar:buff_42, buff_bar:buff_43)

// 284:61
[buff_43]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_42, buff_bar:buff_43, buff_bar:buff_44)

// 284:62
[buff_44]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_43, buff_bar:buff_44, buff_bar:buff_45)

// 284:63
[buff_45]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_44, buff_bar:buff_45, buff_bar:buff_46)

// 284:64
[buff_46]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_45, buff_bar:buff_46, buff_bar:buff_47)

// 284:65
[buff_47]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_46, buff_bar:buff_47, buff_bar:buff_48)

// 284:66
[buff_48]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_47, buff_bar:buff_48, buff_bar:buff_49)

// 284:67
[buff_49]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_48, buff_bar:buff_49, buff_bar:buff_50)

// 284:68
[buff_50]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(buff_bar:buff_49, buff_bar:buff_50, null)

