// 1813:0
[modal_dialog_window]
type=layer
height=160
widthmode=minus
onload=script8420(buy_bond_ge:modal_dialog_window_background, buy_bond_ge:modal_dialog_window_border, buy_bond_ge:modal_dialog_window_content, buy_bond_ge:modal_dialog_window_close_button, "Would you like to buy a Bond?", 21217, string_1007)

// 1813:1
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1813:2
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1813:3
[negative_button_layer]
type=layer
x=85
y=10
width=150
height=27
ymode=abs_bottom
layer=modal_dialog_window_content

// 1813:4
[positive_button_layer]
type=layer
x=85
y=10
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=modal_dialog_window_content

// 1813:5
[main_text]
type=text
width=438
height=36
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular_multiline
text=Would you like to buy a bond from the grand exchange for +5% base price?
textshadow=yes

// 1813:6
[error_text]
type=text
y=37
width=438
height=36
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular_multiline
text=If the bond buys immediately we'll try to place it directly into your backpack.
textshadow=yes

// 1813:7
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 1813:8
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1813:9
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7041(event_com)

// 1813:10
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7042(event_com)

// 1813:11
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7044(event_com)

// 1813:12
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7047(event_com)

// 1813:13
[buy_bond_positive_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1813:14
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7060(event_com)

// 1813:15
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer

// 1813:16
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Yes, please.
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1813:17
[negative_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7275(event_com)

// 1813:18
[negative_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7276(event_com)

// 1813:19
[negative_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7277(event_com)

// 1813:20
[negative_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
hide=yes
onload=script7445(event_com)

// 1813:21
[no_thanks_negative_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=negative_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1813:22
[negative_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
hide=yes
onload=script7572(event_com)

// 1813:23
[negative_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer

// 1813:24
[negative_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_text_layer
textfont=cinzel_13pt_bold
text=No, thanks.
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

