// 1731:0
[bxp_countdown_layer]
type=layer
width=160
height=30
xmode=abs_centre
onmouseleave=deltooltip(event_com)
onvartransmit=script13035
onmouserepeat=script8799("Click on the XP+ icon to hide this interface.", event_com, -1)
onvarctransmit=script13035
onvartransmitlist=bxp_tailoff_xp_gained
onvarctransmitlist=gameblast18_boost_end_client

// 1731:1
[background]
type=graphic
width=147
height=29
xmode=abs_centre
layer=bxp_countdown_layer
graphic=rs3_bxp_overlay_background_en
colour=0xffffff
clickmask=no

// 1731:2
[bxp_number_x00]
type=graphic
x=-60
y=1
width=24
height=27
xmode=abs_centre
layer=bxp_countdown_layer
graphic="rs3_bxp_overlay_numbers,2"
colour=0xffffff
clickmask=no

// 1731:3
[bxp_number_0x0]
type=graphic
x=-28
y=1
width=24
height=27
xmode=abs_centre
layer=bxp_countdown_layer
graphic="rs3_bxp_overlay_numbers,0"
colour=0xffffff
clickmask=no

// 1731:4
[bxp_number_00x]
type=graphic
x=-4
y=1
width=24
height=27
xmode=abs_centre
layer=bxp_countdown_layer
graphic="rs3_bxp_overlay_numbers,0"
colour=0xffffff
clickmask=no

