// 1305:0
[mainmodal_window]
type=layer
width=200
height=200
xmode=abs_centre
ymode=abs_centre
onload=script8420(carni_storage:mainmodal_window_background, carni_storage:mainmodal_window_border, carni_storage:mainmodal_window_content, carni_storage:mainmodal_window_close_button, "Storage", 21218, string_1007)

// 1305:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1305:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1305:3
[content]
type=layer
width=136
height=132
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
onload=carni_storage_init(event_com)

// 1305:4
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1305:5
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

