// 1403:0
[com_0]
type=text
x=5
y=5
width=10
height=48
widthmode=minus
heightmode=minus
layer=gold_window_content_layer
textfont=museo_sans_11pt_regular_multiline
text=Castle Wars now rewards players using a dual ticket system:<br>Win: 2 Gold Tickets and 1 Silver Ticket<br>Draw: 1 Gold Ticket and 1 Silver Ticket<br>Lose: 1 Silver Ticket<br>Items in the Castle Wars shop have been changed to reflect these changes.
textalignh=1
textalignv=3
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1403:1
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(castlewars_currency_popup:mainmodal_window_background, castlewars_currency_popup:mainmodal_window_border, castlewars_currency_popup:mainmodal_window_content, castlewars_currency_popup:mainmodal_window_close_button, "Dual Currency System", 21218, string_1007)

// 1403:2
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1403:3
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1403:4
[gold_window_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1403:5
[tli_standard_button_active_layer]
type=layer
x=10
y=5
width=200
height=27
xmode=abs_right
ymode=abs_bottom
layer=gold_window_content_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Continue")

// 1403:6
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1403:7
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

