// 58:0
[health]
type=text
x=38
y=13
width=90
height=15
layer=gold_frame_2_content_layer
textfont=p11_full
text=Health %1%
colour=0x00ff00

// 58:1
[door]
type=text
x=38
y=46
width=90
height=15
layer=gold_frame_2_content_layer
textfont=p11_full
text=Locked
colour=0x00ff00

// 58:2
[tunnel1]
type=text
x=38
y=74
width=90
height=15
layer=gold_frame_2_content_layer
textfont=p11_full
text=Collapsed
colour=0x00ff00

// 58:3
[tunnel2]
type=text
x=38
y=100
width=90
height=15
layer=gold_frame_2_content_layer
textfont=p11_full
text=Collapsed
colour=0x00ff00

// 58:4
[catapult]
type=text
x=38
y=125
width=90
height=15
layer=gold_frame_2_content_layer
textfont=p11_full
text=Operational
colour=0x00ff00

// 58:5
[main_door_pic]
type=graphic
x=6
y=5
width=25
height=25
layer=gold_frame_2_content_layer
graphic="aif_castle_wars_icons_1,4"
clickmask=no

// 58:6
[side_door_pic]
type=graphic
x=6
y=36
width=25
height=25
layer=gold_frame_2_content_layer
graphic="aif_castle_wars_icons_1,2"
clickmask=no

// 58:7
[tunnel1_pic]
type=graphic
x=6
y=64
width=25
height=25
layer=gold_frame_2_content_layer
graphic="aif_castle_wars_icons_1,0"
clickmask=no

// 58:8
[tunnel2_pic]
type=graphic
x=6
y=90
width=25
height=25
layer=gold_frame_2_content_layer
graphic="aif_castle_wars_icons_1,0"
clickmask=no

// 58:9
[catapult_pic]
type=graphic
x=6
y=117
width=25
height=25
layer=gold_frame_2_content_layer
graphic="aif_castle_wars_icons_1,1"
clickmask=no

// 58:10
[com_10]
type=graphic
width=176
height=55
layer=sara_side
graphic="aif_castle_wars_hud,0"
colour=0xffffff
clickmask=no

// 58:11
[saradomin_score]
type=text
y=8
width=80
height=11
xmode=abs_centre
layer=sara_side
textfont=p11_full
text=%1
textalignh=1
textshadow=yes

// 58:12
[saradomin_flag]
type=text
x=13
y=5
width=90
height=11
xmode=abs_centre
ymode=abs_centre
layer=sara_side
textfont=p11_full
text=Safe
textalignh=1
textalignv=1
colour=0x55c855

// 58:13
[taken_by_zam_player]
type=text
x=13
y=5
width=90
height=11
xmode=abs_centre
ymode=abs_bottom
layer=sara_side
textfont=p11_full
text=By PlayerName
textalignh=1
textalignv=1
textshadow=yes

// 58:14
[com_14]
type=graphic
width=176
height=55
xmode=abs_centre
layer=zama_side
graphic="aif_castle_wars_hud,1"
colour=0xffffff
clickmask=no

// 58:15
[zamorak_score]
type=text
y=8
width=80
height=11
xmode=abs_centre
layer=zama_side
textfont=p11_full
text=%1
textalignh=1
textshadow=yes

// 58:16
[zamorak_flag]
type=text
x=-13
y=5
width=90
height=11
xmode=abs_centre
ymode=abs_centre
layer=zama_side
textfont=p11_full
text=Safe
textalignh=1
textalignv=1
colour=0x55c855

// 58:17
[taken_by_sara_player]
type=text
x=-13
y=5
width=90
height=11
xmode=abs_centre
ymode=abs_bottom
layer=zama_side
textfont=p11_full
text=By PlayerName
textalignh=1
textalignv=1
textshadow=yes

// 58:18
[sara_side]
type=layer
x=-88
y=15
width=176
height=55
xmode=abs_centre
layer=castlewars_game_hud

// 58:19
[zama_side]
type=layer
x=88
y=15
width=176
height=55
xmode=abs_centre
layer=castlewars_game_hud

// 58:20
[time_remaining]
type=text
y=23
width=68
height=11
xmode=abs_centre
layer=castlewars_game_hud
textfont=p11_full
text=%1 min
textalignh=1

// 58:21
[castlewars_ticket_info]
type=text
y=70
width=350
height=40
xmode=abs_centre
layer=castlewars_game_hud
textfont=p11_full
textalignh=1
textalignv=1
textshadow=yes
onvartransmit=script2718(event_com)
onvartransmitlist=castlewars_player_ticket_info

// 58:22
[castlewars_game_hud]
type=layer
widthmode=minus
heightmode=minus
onload=script1367
onvartransmit=script1367
onvarcstrtransmit=script1367
onvartransmitlist=castlewars_saradomin,castlewars_zamorak,castlewars_timer
onvarcstrtransmitlist=varclientstring_2731

// 58:23
[castlewars_saradomin_eject]
type=text
x=7
y=5844
width=4
height=4
xmode=proportion_centre
ymode=proportion_top
textfont=p12_full
textalignh=1
textshadow=yes
colour=0xffff00

// 58:24
[castlewars_icon_sar]
type=layer
x=5
y=82
width=137
height=148
ymode=abs_bottom

// 58:25
[gold_frame_2_layer]
type=layer
widthmode=minus
heightmode=minus
layer=castlewars_icon_sar

// 58:26
[gold_frame_2_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=gold_frame_2_layer
onload=script4706(event_com)

// 58:27
[gold_frame_2_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=gold_frame_2_layer

