// 682:0
[catcon_power]
type=text
height=15
widthmode=minus
xmode=abs_centre
layer=counterweight
textfont=museo_sans_13pt_bold
text=Counterweight
textalignh=1
textalignv=2
colour=0xffcd05
onload=script10496(event_com, event_comsubid, 1)

// 682:1
[power_bar]
type=layer
y=7
width=70
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=counterweight
onvartransmit=script14312
onvartransmitlist=catcon_1

// 682:2
[32px_arrow_down]
type=graphic
y=15
width=32
height=32
xmode=abs_right
layer=counterweight
graphic="rs3_icon_direction_down_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_icon_arrow_down)
onop=script14313
onmouserepeat=script8799("Decrease counterweight.", event_com, event_comsubid)

// 682:3
[32px_arrow_up]
type=graphic
y=15
width=32
height=32
layer=counterweight
graphic="rs3_icon_direction_up_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_icon_arrow_up)
onop=script14314
onmouserepeat=script8799("Increase counterweight.", event_com, event_comsubid)

// 682:4
[counterweight]
type=layer
y=-80
width=20
height=50
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=base

// 682:5
[direction]
type=layer
y=20
width=20
height=50
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=base

// 682:6
[catcon_power_2]
type=text
height=15
widthmode=minus
xmode=abs_centre
layer=direction
textfont=museo_sans_13pt_bold
text=Direction
textalignh=1
textalignv=2
colour=0xffcd05
onload=script10496(event_com, event_comsubid, 1)

// 682:7
[3x1_positive]
type=layer
y=7
width=70
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=direction
onload=script13968(catcon_calibration_puzzle_control:positive_build, catcon_calibration_puzzle_control:positive_click, rs3tli_positive_button, "Fire")

// 682:8
[32px_arrow_right]
type=graphic
y=15
width=32
height=32
xmode=abs_right
layer=direction
graphic="rs3_icon_direction_right_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_icon_arrow_right)
onmouserepeat=script8799("Aim the catapult right.", event_com, event_comsubid)

// 682:9
[32px_arrow_left]
type=graphic
y=15
width=32
height=32
layer=direction
graphic="rs3_icon_direction_left_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_icon_arrow_left)
onmouserepeat=script8799("Aim the catapult left.", event_com, event_comsubid)

// 682:10
[back]
type=rectangle
widthmode=minus
heightmode=minus
layer=power_bar
colour=0x000000
fill=yes

// 682:11
[power]
type=rectangle
x=1
y=1
width=100
height=2
heightmode=minus
layer=power_bar
colour=0x45cf4f
fill=yes

// 682:12
[com_12]
type=rectangle
widthmode=minus
heightmode=minus
layer=power_bar
colour=0xffffff

// 682:13
[base]
type=layer
widthmode=minus
heightmode=minus

// 682:14
[3x1_negative]
type=layer
y=20
width=20
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=base
onload=script13968(catcon_calibration_puzzle_control:negative_build, catcon_calibration_puzzle_control:negative_click, rs3tli_negative_button, "Exit")

// 682:15
[positive_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_positive

// 682:16
[positive_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script860
onmouserepeat=script8799("Fire the catapult.", event_com, event_comsubid)

// 682:17
[negative_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_negative

// 682:18
[negative_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_negative
transmitop1=yes
op1=Select
opcursor0=cursor_use

