// 1634:0
[bespoke_window]
type=layer
width=316
height=329
ymode=abs_centre
onload=script8420(challenge_crystals:bespoke_window_background, challenge_crystals:bespoke_window_border, challenge_crystals:bespoke_window_content, challenge_crystals:close_button_layer, "Challenge Gem Hiscores", 21259, string_1030)

// 1634:1
[bespoke_window_background]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1634:2
[bespoke_window_content]
type=layer
width=2
height=2
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1634:3
[updatehook]
type=layer
width=1
height=1
layer=bespoke_window_content

// 1634:4
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1634:5
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window
transmitop1=yes
op1=Close

// 1634:6
[content]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window_content

// 1634:7
[com_7]
type=text
x=7
width=65
height=24
layer=content
textfont=cinzel_18pt_bold
text=Rank
textalignv=1
textshadow=yes
colour=0xffcb05

// 1634:8
[com_8]
type=text
x=30
width=117
height=24
widthmode=minus
layer=content
textfont=cinzel_18pt_bold
text=Name
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1634:9
[com_9]
type=text
x=212
width=81
height=24
layer=content
textfont=cinzel_18pt_bold
text=Score
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1634:10
[com_10]
type=rectangle
x=2
y=24
width=2
height=22
widthmode=minus
layer=content
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1634:11
[com_11]
type=rectangle
x=2
y=48
width=2
height=22
widthmode=minus
layer=content
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1634:12
[com_12]
type=rectangle
x=2
y=72
width=2
height=22
widthmode=minus
layer=content
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1634:13
[com_13]
type=rectangle
x=2
y=96
width=2
height=22
widthmode=minus
layer=content
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1634:14
[com_14]
type=rectangle
x=2
y=120
width=2
height=22
widthmode=minus
layer=content
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1634:15
[com_15]
type=rectangle
x=2
y=144
width=2
height=22
widthmode=minus
layer=content
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1634:16
[com_16]
type=rectangle
x=2
y=168
width=2
height=22
widthmode=minus
layer=content
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1634:17
[com_17]
type=rectangle
x=2
y=192
width=2
height=22
widthmode=minus
layer=content
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1634:18
[com_18]
type=rectangle
x=2
y=216
width=2
height=22
widthmode=minus
layer=content
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1634:19
[com_19]
type=rectangle
x=2
y=240
width=2
height=22
widthmode=minus
layer=content
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1634:20
[time_left]
type=text
x=5
y=1
width=165
height=32
widthmode=minus
ymode=abs_bottom
layer=content
textfont=museo_sans_13pt_regular
text=Time left: 0:00
textalignv=1
textshadow=yes

// 1634:21
[prize_pool]
type=text
x=5
y=1
width=139
height=32
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=content
textfont=museo_sans_13pt_regular
text=Prize Pool: 0
textalignh=2
textalignv=1
textshadow=yes

// 1634:22
[data_layer]
type=layer
y=23
width=18
height=61
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=bespoke_window_content

// 1634:23
[rank_column]
type=layer
width=25
heightmode=minus
layer=data_layer

// 1634:24
[score_column]
type=layer
width=84
heightmode=minus
xmode=abs_right
layer=data_layer

// 1634:25
[name_column]
type=layer
x=24
width=107
widthmode=minus
heightmode=minus
layer=data_layer

// 1634:26
[win_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window_content
hide=yes

// 1634:27
[com_27]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=win_layer
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1634:28
[com_28]
type=graphic
y=132
width=40
height=40
xmode=abs_centre
layer=win_layer
graphic=sgs_icon_comp_gems_trophy
colour=0xffffff
clickmask=no

// 1634:29
[win_title]
type=text
y=34
height=32
widthmode=minus
xmode=abs_centre
layer=win_layer
textfont=cinzel_25pt_bold_multiline
text=Congratulations
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1634:30
[win_message]
type=text
y=71
height=57
widthmode=minus
xmode=abs_centre
layer=win_layer
textfont=cinzel_18pt_bold
text=You won the<br>challenge gem competition!
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1634:31
[prize_total]
type=text
y=60
height=60
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=win_layer
textfont=cinzel_18pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1634:32
[total_wins]
type=text
y=40
height=14
widthmode=minus
ymode=abs_bottom
layer=win_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes

// 1634:33
[claim_prize_layer]
type=layer
y=10
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=win_layer

// 1634:34
[claim_prize_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_prize_layer
onload=script7041(event_com)

// 1634:35
[claim_prize_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_prize_layer
onload=script7042(event_com)

// 1634:36
[claim_prize_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_prize_layer
onload=script7044(event_com)

// 1634:37
[claim_prize_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_prize_layer
hide=yes
onload=script7047(event_com)

// 1634:38
[claim_prize_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=claim_prize_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1634:39
[claim_prize_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_prize_layer
hide=yes
onload=script7060(event_com)

// 1634:40
[claim_prize_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_prize_layer

// 1634:41
[claim_prize_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_prize_text_layer
textfont=cinzel_13pt_bold
text=Claim Reward
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

