// 63:0
[gold_window_no_title_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion

// 63:1
[gold_window_not_title_background_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_no_title_layer
onload=script4758(event_com)

// 63:2
[gold_window_no_title_content_layer]
type=layer
x=12
y=10
width=23
height=20
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=gold_window_no_title_layer

// 63:3
[scroll_image]
type=layer
width=17161
height=17434
widthmode=proportion
heightmode=proportion
layer=gold_window_no_title_content_layer

// 63:4
[champions_congratulations]
type=text
x=162
y=79
width=176
height=17
layer=gold_window_no_title_content_layer
textfont=cinzel_18pt_bold
text=Congratulations!
textalignh=1
colour=0x46320a

// 63:5
[champions_scroll_text]
type=text
x=89
y=107
width=321
height=34
layer=gold_window_no_title_content_layer
textfont=museo_sans_13pt_regular
text=Well done, you defeated the Champion!<br>Come back next week to school them again!
textalignh=1
colour=0x46320a

// 63:6
[champions_rose]
type=model
x=366
y=220
width=86
height=62
layer=gold_window_no_title_content_layer
model=if_champion_seal
modelorigin_x=1
modelorigin_y=-6
modelangle_x=500
modelangle_y=138
modelangle_z=0
modelzoom=273

// 63:7
[champions_awarded]
type=text
x=155
y=158
width=180
height=14
layer=gold_window_no_title_content_layer
textfont=museo_sans_13pt_regular
text=You are awarded:
textalignh=1
colour=0x46320a

// 63:8
[champions_slayer_text]
type=text
x=160
y=177
width=170
height=14
layer=gold_window_no_title_content_layer
textfont=museo_sans_13pt_regular
text=%1 Slayer Xp
textalignh=1
colour=0x46320a

// 63:9
[champions_hp_text]
type=text
x=162
y=195
width=170
height=14
layer=gold_window_no_title_content_layer
textfont=museo_sans_13pt_regular
text=%1 Hitpoint Xp
textalignh=1
colour=0x46320a

// 63:10
[scroll_left_border]
type=graphic
x=-14
y=-10
width=67
height=16587
heightmode=proportion
layer=scroll_image
graphic=aif_scroll_left_border
colour=0xffffff
clickmask=no

// 63:11
[scroll_top_border]
type=graphic
x=52
y=-12
width=386
height=58
layer=scroll_image
graphic=aif_scroll_top_border
colour=0xffffff
clickmask=no

// 63:12
[scroll_right_border]
type=graphic
x=433
y=-9
width=70
height=16538
heightmode=proportion
layer=scroll_image
graphic=aif_scroll_right_border
colour=0xffffff
clickmask=no

// 63:13
[scroll_bottom_border]
type=graphic
x=51
y=273
width=385
height=58
layer=scroll_image
graphic=aif_scroll_bottom_border
colour=0xffffff
clickmask=no

// 63:14
[scroll_background_1]
type=graphic
x=44
y=37
width=130
height=246
layer=scroll_image
graphic=aif_scroll_window_texture_1
colour=0xffffff
clickmask=no

// 63:15
[scroll_background_2]
type=graphic
x=299
y=39
width=141
height=247
layer=scroll_image
graphic=aif_scroll_window_texture_1
colour=0xffffff
clickmask=no

// 63:16
[scroll_background_3]
type=graphic
x=173
y=37
width=128
height=247
layer=scroll_image
graphic=aif_scroll_window_texture_1
colour=0xffffff
clickmask=no

// 63:17
[gold_window_no_title_frame_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_no_title_layer
onload=script4759(event_com)

// 63:18
[gold_window_no_title_close_button_layer]
type=layer
x=9
y=9
width=16
height=15
xmode=abs_right
layer=gold_window_no_title_layer
onload=script4256(event_com)

// 63:19
[gold_window_no_title_close_button_on_graphic]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_no_title_close_button_layer
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onload=script4257(event_com)

// 63:20
[gold_window_no_title_close_button_over_graphic]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_no_title_close_button_layer
colour=0xffffff
clickmask=no
onload=script4258(event_com)

