// 1091:0
[com_0]
type=text
y=15
width=20
height=32
widthmode=minus
xmode=abs_centre
layer=new_items_layer
textfont=museo_sans_11pt_regular_multiline
text=I am the new Pet
textalignh=1
textalignv=1
textshadow=yes

// 1091:1
[com_1]
type=text
x=10
y=10
width=115
height=32
layer=old_items_layer
textfont=museo_sans_11pt_regular_multiline
text=Defender of the Mind outfit
textalignh=1
textalignv=1
textshadow=yes

// 1091:2
[event_info_layer]
type=layer
height=8192
widthmode=minus
heightmode=proportion
layer=content_layer

// 1091:3
[old_defender_outfit_buy]
type=layer
x=10
y=66
width=115
height=27
layer=old_items_layer
onload=script13968(charity_may18:old_defender_outfit_buy_build, charity_may18:old_defender_outfit_buy_click, rs3tli_positive_button, "Buy")
onvartransmit=script4070
onvartransmitlist=mtxmgt_unlock_bitset_8

// 1091:4
[com_4]
type=text
x=10
y=10
width=115
height=32
xmode=abs_right
layer=old_items_layer
textfont=museo_sans_11pt_regular_multiline
text=Warden of the Mind outfit
textalignh=1
textalignv=1
textshadow=yes

// 1091:5
[old_warden_outfit_buy]
type=layer
x=10
y=66
width=115
height=27
xmode=abs_right
layer=old_items_layer
onload=script13968(charity_may18:old_warden_outfit_buy_build, charity_may18:old_warden_outfit_buy_click, rs3tli_positive_button, "Buy")
onvartransmit=script4071
onvartransmitlist=event8_main,event8_main,event8_main,event8_main,event8_main,event8_main

// 1091:6
[com_6]
type=text
x=10
y=100
width=115
height=32
layer=old_items_layer
textfont=museo_sans_11pt_regular_multiline
text=Defender of the Mind cape
textalignh=1
textalignv=1
textshadow=yes

// 1091:7
[old_defender_cape_buy]
type=layer
x=10
y=145
width=115
height=27
layer=old_items_layer
onload=script13968(charity_may18:old_defender_cape_buy_build, charity_may18:old_defender_cape_buy_click, rs3tli_positive_button, "Buy")
onvartransmit=script4072
onvartransmitlist=mtxmgt_unlock_bitset_8

// 1091:8
[com_8]
type=text
x=10
y=100
width=115
height=32
xmode=abs_right
layer=old_items_layer
textfont=museo_sans_11pt_regular_multiline
text=Warden of the Mind cape
textalignh=1
textalignv=1
textshadow=yes

// 1091:9
[old_warden_cape_buy]
type=layer
x=10
y=145
width=115
height=27
xmode=abs_right
layer=old_items_layer
onload=script13968(charity_may18:old_warden_cape_buy_build, charity_may18:old_warden_cape_buy_click, rs3tli_positive_button, "Buy")
onvartransmit=script4154
onvartransmitlist=mtxmgt_unlock_bitset_9

// 1091:10
[com_10]
type=text
y=180
width=20
height=32
widthmode=minus
xmode=abs_centre
layer=old_items_layer
textfont=museo_sans_11pt_regular_multiline
text=Angelic Anari pet
textalignh=1
textalignv=1
textshadow=yes

// 1091:11
[old_pet_buy]
type=layer
y=10
width=115
height=27
xmode=abs_centre
ymode=abs_bottom
layer=old_items_layer
onload=script13968(charity_may18:old_pet_buy_build, charity_may18:old_pet_buy_click, rs3tli_positive_button, "Buy")
onvartransmit=script4155
onvartransmitlist=event5_main

// 1091:12
[new_pet_1_buy]
type=layer
y=88
width=115
height=27
xmode=abs_centre
layer=new_items_layer
onload=script13968(charity_may18:new_pet_1_buy_build, charity_may18:new_pet_1_buy_click, rs3tli_positive_button, "Buy")
onvartransmit=script4028
onvartransmitlist=mtxmgt_unlock_bitset_13

// 1091:13
[com_13]
type=text
y=130
width=20
height=32
widthmode=minus
xmode=abs_centre
layer=new_items_layer
textfont=museo_sans_11pt_regular_multiline
text=I am the second new pet
textalignh=1
textalignv=1
textshadow=yes

// 1091:14
[new_pet_2_buy]
type=layer
y=218
width=115
height=27
xmode=abs_centre
layer=new_items_layer
onload=script13968(charity_may18:new_pet_2_buy_build, charity_may18:new_pet_2_buy_click, rs3tli_positive_button, "Buy")
onvartransmit=script4069
onvartransmitlist=mtxmgt_unlock_bitset_13

// 1091:15
[new_items_layer]
type=layer
width=8199
height=8199
widthmode=proportion
heightmode=proportion
ymode=abs_bottom
layer=content_layer

// 1091:16
[old_items_layer]
type=layer
width=8192
height=8192
widthmode=proportion
heightmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=content_layer

// 1091:17
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=charity_may18

// 1091:18
[border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=charity_may18

// 1091:19
[content_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=charity_may18

// 1091:20
[charity_may18]
type=layer
width=540
height=564
xmode=abs_centre
ymode=abs_centre
onload=script8420(charity_may18:background_layer, charity_may18:border_layer, charity_may18:content_layer, charity_may18:closebutton_layer, "Mental Health Awareness Week", 21218, null)

// 1091:21
[closebutton_layer]
type=layer
widthmode=minus
heightmode=minus
layer=charity_may18
transmitop1=yes
op1=Close

// 1091:22
[old_pet_buy_build]
type=layer
widthmode=minus
heightmode=minus
layer=old_pet_buy

// 1091:23
[old_pet_buy_click]
type=layer
widthmode=minus
heightmode=minus
layer=old_pet_buy
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1091:24
[new_pet_1_buy_build]
type=layer
widthmode=minus
heightmode=minus
layer=new_pet_1_buy

// 1091:25
[new_pet_1_buy_click]
type=layer
widthmode=minus
heightmode=minus
layer=new_pet_1_buy
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1091:26
[old_defender_outfit_buy_build]
type=layer
widthmode=minus
heightmode=minus
layer=old_defender_outfit_buy

// 1091:27
[old_defender_outfit_buy_click]
type=layer
widthmode=minus
heightmode=minus
layer=old_defender_outfit_buy
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1091:28
[old_warden_outfit_buy_build]
type=layer
widthmode=minus
heightmode=minus
layer=old_warden_outfit_buy

// 1091:29
[old_warden_outfit_buy_click]
type=layer
widthmode=minus
heightmode=minus
layer=old_warden_outfit_buy
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1091:30
[old_defender_cape_buy_build]
type=layer
widthmode=minus
heightmode=minus
layer=old_defender_cape_buy

// 1091:31
[old_defender_cape_buy_click]
type=layer
widthmode=minus
heightmode=minus
layer=old_defender_cape_buy
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1091:32
[old_warden_cape_buy_build]
type=layer
widthmode=minus
heightmode=minus
layer=old_warden_cape_buy

// 1091:33
[old_warden_cape_buy_click]
type=layer
widthmode=minus
heightmode=minus
layer=old_warden_cape_buy
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1091:34
[new_pet_2_buy_build]
type=layer
widthmode=minus
heightmode=minus
layer=new_pet_2_buy

// 1091:35
[new_pet_2_buy_click]
type=layer
widthmode=minus
heightmode=minus
layer=new_pet_2_buy
transmitop1=yes
op1=Select
opcursor0=cursor_use

