// 1470:0
[rebuild_timer]
type=layer
widthmode=minus
heightmode=minus

// 1470:1
[quickchat]
type=layer
widthmode=minus
heightmode=minus
hide=yes
noclickthrough=yes

// 1470:2
[quickchat_path]
type=layer
x=38
y=2
width=38
height=14
widthmode=minus
layer=quickchat

// 1470:3
[quickchat_path_highlight]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_path

// 1470:4
[quickchat_title]
type=text
x=38
y=2
width=38
height=14
widthmode=minus
layer=quickchat
hide=yes
textfont=p11_full
textshadow=yes
colour=0xffff00

// 1470:5
[quickchat_closebutton]
type=graphic
y=1
width=16
height=16
layer=quickchat
graphic="rs3_btn_custom_modal,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close Quick Chat
onmouseover=graphic_swapper(event_com, "rs3_btn_custom_modal,1")
onmouseleave=graphic_swapper(event_com, "rs3_btn_custom_modal,0")
onop=quickchat_close(22)

// 1470:6
[quickchat_helpbutton]
type=graphic
x=21
y=1
width=16
height=16
layer=quickchat
graphic="rs3_btn_custom_modal,3"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Quick Chat Help
onmouseover=graphic_swapper(event_com, "rs3_btn_custom_modal,4")
onmouseleave=graphic_swapper(event_com, "rs3_btn_custom_modal,3")

// 1470:7
[quickchat_separator_h]
type=rectangle
y=16
height=2
widthmode=minus
layer=quickchat
colour=0x847963

// 1470:8
[quickchat_countdialog]
type=layer
x=2
y=18
width=4
height=18
widthmode=minus
heightmode=minus
layer=quickchat
hide=yes

// 1470:9
[quickchat_countdialog_input]
type=text
y=30
height=14
widthmode=minus
layer=quickchat_countdialog
textfont=p12_full
text=0
textalignh=1
textalignv=1
colour=0x000000

// 1470:10
[quickchat_listdialog]
type=layer
x=2
y=18
width=4
height=18
widthmode=minus
heightmode=minus
layer=quickchat
hide=yes

// 1470:11
[quickchat_listdialog_text]
type=text
height=14
widthmode=minus
layer=quickchat_listdialog
textfont=p12_full
text=Please select an option from the list below:
textalignh=1
textalignv=1
colour=0x000000

// 1470:12
[quickchat_listdialog_scroll]
type=layer
y=14
width=16
height=14
heightmode=minus
xmode=abs_right
layer=quickchat_listdialog
onload=scrollbar_vertical(event_com, chatdefault5:quickchat_listdialog_options)

// 1470:13
[quickchat_listdialog_options]
type=layer
y=14
width=16
height=14
widthmode=minus
heightmode=minus
layer=quickchat_listdialog

// 1470:14
[quickchat_objdialog]
type=layer
x=2
y=18
width=4
height=18
widthmode=minus
heightmode=minus
layer=quickchat
hide=yes

// 1470:15
[quickchat_objdialog_input]
type=text
height=14
widthmode=minus
layer=quickchat_objdialog
textfont=p12_full
text=Please enter a search term and select an object from the list:
textalignh=1
textalignv=1
colour=0x000000

// 1470:16
[quickchat_objdialog_scroll]
type=layer
y=14
width=16
height=14
heightmode=minus
xmode=abs_right
layer=quickchat_objdialog
onload=scrollbar_vertical(event_com, chatdefault5:quickchat_objdialog_search)

// 1470:17
[quickchat_objdialog_search]
type=layer
y=14
width=16
height=14
widthmode=minus
heightmode=minus
layer=quickchat_objdialog

// 1470:18
[quickchat_menu]
type=layer
x=2
y=18
width=4
height=18
widthmode=minus
heightmode=minus
layer=quickchat

// 1470:19
[quickchat_menu_0]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu

// 1470:20
[quickchat_menu_highlight_0]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu_0

// 1470:21
[quickchat_menu_1]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu

// 1470:22
[quickchat_menu_highlight_1]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu_1

// 1470:23
[quickchat_menu_separator_1]
type=rectangle
width=2
heightmode=minus
layer=quickchat_menu_1
colour=0x847963
fill=yes

// 1470:24
[quickchat_menu_2]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu

// 1470:25
[quickchat_menu_highlight_2]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu_2

// 1470:26
[quickchat_menu_separator_2]
type=rectangle
width=2
heightmode=minus
layer=quickchat_menu_2
colour=0x847963
fill=yes

// 1470:27
[quickchat_menu_3]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu

// 1470:28
[quickchat_menu_highlight_3]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu_3

// 1470:29
[quickchat_menu_separator_3]
type=rectangle
width=2
heightmode=minus
layer=quickchat_menu_3
colour=0x847963
fill=yes

// 1470:30
[quickchat_menu_4]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu

// 1470:31
[quickchat_menu_highlight_4]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu_4

// 1470:32
[quickchat_menu_separator_4]
type=rectangle
width=2
heightmode=minus
layer=quickchat_menu_4
colour=0x847963
fill=yes

// 1470:33
[quickchat_menu_5]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu

// 1470:34
[quickchat_menu_highlight_5]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu_5

// 1470:35
[quickchat_menu_separator_5]
type=rectangle
width=2
heightmode=minus
layer=quickchat_menu_5
colour=0x847963
fill=yes

// 1470:36
[quickchat_menu_6]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu

// 1470:37
[quickchat_menu_highlight_6]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu_6

// 1470:38
[quickchat_menu_separator_6]
type=rectangle
width=2
heightmode=minus
layer=quickchat_menu_6
colour=0x847963
fill=yes

// 1470:39
[quickchat_menu_7]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu

// 1470:40
[quickchat_menu_highlight_7]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu_7

// 1470:41
[quickchat_menu_separator_7]
type=rectangle
width=2
heightmode=minus
layer=quickchat_menu_7
colour=0x847963
fill=yes

// 1470:42
[quickchat_menu_8]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu

// 1470:43
[quickchat_menu_highlight_8]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu_8

// 1470:44
[quickchat_menu_separator_8]
type=rectangle
width=2
heightmode=minus
layer=quickchat_menu_8
colour=0x847963
fill=yes

// 1470:45
[quickchat_menu_9]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu

// 1470:46
[quickchat_menu_highlight_9]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu_9

// 1470:47
[quickchat_menu_separator_9]
type=rectangle
width=2
heightmode=minus
layer=quickchat_menu_9
colour=0x847963
fill=yes

// 1470:48
[quickchat_menu_10]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu

// 1470:49
[quickchat_menu_highlight_10]
type=layer
widthmode=minus
heightmode=minus
layer=quickchat_menu_10

// 1470:50
[quickchat_menu_separator_10]
type=rectangle
width=2
heightmode=minus
layer=quickchat_menu_10
colour=0x847963
fill=yes

// 1470:51
[quickchat_highlight_rect]
type=rectangle
widthmode=minus
heightmode=minus
layer=quickchat
colour=0xffffff

// 1470:52
[chat]
type=layer
widthmode=minus
heightmode=minus

// 1470:53
[top_layer]
type=layer
height=20
widthmode=minus
layer=chat

// 1470:54
[dropdown_layer]
type=layer
width=32
heightmode=minus
xmode=abs_right
layer=top_layer

// 1470:55
[filters_layer]
type=layer
width=180
heightmode=minus
layer=top_layer

// 1470:56
[divider_top]
type=graphic
y=20
height=4
widthmode=minus
xmode=abs_centre
layer=chat
graphic=rs3_child_frame_bottom_tile
alpha=yes
colour=0xffffff
clickmask=no
onload=script9900(event_com)

// 1470:57
[player_input_wrapper]
type=layer
height=27
widthmode=minus
ymode=abs_bottom
layer=chat

// 1470:58
[chat_render_layer]
type=layer
y=26
height=50
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=chat

// 1470:59
[dob_layer]
type=layer
height=127
widthmode=minus
layer=chat
hide=yes

// 1470:60
[dob_meslayer]
type=layer
widthmode=minus
heightmode=minus
layer=chat
hide=yes
noclickthrough=yes

// 1470:61
[tooltip]
type=layer
widthmode=minus
heightmode=minus
layer=chat

// 1470:62
[blocklayer]
type=layer
widthmode=minus
heightmode=minus
layer=dob_layer
noclickthrough=yes

// 1470:63
[com_63]
type=rectangle
x=2
height=71
widthmode=minus
layer=dob_layer
colour=0x1f0c00
fill=yes

// 1470:64
[com_64]
type=graphic
height=71
widthmode=minus
layer=dob_layer
graphic=login_background_alpha
colour=0xffffff
clickmask=no

// 1470:65
[com_65]
type=text
x=7
y=5
width=8
height=22
widthmode=minus
layer=dob_layer
textfont=b12_full
text=Enter your date of birth to enable chat
textalignh=1
textalignv=1
textshadow=yes
colour=0xf9da97

// 1470:66
[borders_4]
type=layer
height=71
widthmode=minus
layer=dob_layer

// 1470:67
[com_67]
type=graphic
width=16
height=16
layer=borders_4
graphic="login_lobby_border,0"
colour=0xffffff
clickmask=no

// 1470:68
[com_68]
type=graphic
width=16
height=16
xmode=abs_right
layer=borders_4
graphic="login_lobby_border,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:69
[com_69]
type=graphic
width=16
height=16
ymode=abs_bottom
layer=borders_4
graphic="login_lobby_border,3"
vflip=yes
colour=0xffffff
clickmask=no

// 1470:70
[com_70]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=borders_4
graphic="login_lobby_border,3"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1470:71
[com_71]
type=graphic
x=8
width=16
height=16
widthmode=minus
layer=borders_4
graphic="login_lobby_border,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1470:72
[com_72]
type=graphic
x=8
width=16
height=16
widthmode=minus
ymode=abs_bottom
layer=borders_4
graphic="login_lobby_border,4"
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 1470:73
[com_73]
type=graphic
y=8
width=16
height=16
heightmode=minus
layer=borders_4
graphic="login_lobby_border,5"
colour=0xffffff
clickmask=no

// 1470:74
[com_74]
type=graphic
y=8
width=16
height=16
heightmode=minus
xmode=abs_right
layer=borders_4
graphic="login_lobby_border,5"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:75
[rightbutton]
type=graphic
width=18
height=31
xmode=abs_right
layer=dobsubmitbutton
graphic="login_lobby_button,0"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1470:76
[middlebutton]
type=graphic
x=6
width=18
height=31
widthmode=minus
layer=dobsubmitbutton
graphic="login_lobby_button,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1470:77
[leftbutton]
type=graphic
width=18
height=31
layer=dobsubmitbutton
graphic="login_lobby_button,0"
tiling=yes
colour=0xffffff
clickmask=no

// 1470:78
[com_78]
type=text
y=3
width=19
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=dobsubmitbutton
textfont=welcome_font_small
text=Submit
textalignh=1
textalignv=1
colour=0x000000

// 1470:79
[controls]
type=layer
y=32
width=479
height=101
xmode=abs_centre
layer=dob_layer

// 1470:80
[dayddback]
type=rectangle
x=5
y=5
width=70
height=13
heightmode=minus
layer=controls
hide=yes
colour=0x000000
fill=yes

// 1470:81
[monthddback]
type=rectangle
x=85
y=5
width=180
height=13
heightmode=minus
layer=controls
hide=yes
colour=0x000000
fill=yes

// 1470:82
[yearddback]
type=rectangle
x=275
y=5
width=100
height=13
heightmode=minus
layer=controls
hide=yes
colour=0x000000
fill=yes

// 1470:83
[day]
type=layer
width=80
height=32
layer=controls
onmouseover=graphic_swapper(chatdefault5:dayarrow, "drop_down_arrow_scroll,0")
onmouseleave=graphic_swapper(chatdefault5:dayarrow, "drop_down_arrow_scroll,2")
onclick=script2313(22)

// 1470:84
[daytext]
type=text
x=4
width=46
height=32
layer=day
textfont=b12_full
text=Day
textalignh=1
textalignv=1
textshadow=yes

// 1470:85
[borders_1]
type=layer
widthmode=minus
heightmode=minus
layer=day

// 1470:86
[com_86]
type=graphic
width=16
height=16
layer=borders_1
graphic="login_lobby_border,0"
colour=0xffffff
clickmask=no

// 1470:87
[com_87]
type=graphic
width=16
height=16
xmode=abs_right
layer=borders_1
graphic="login_lobby_border,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:88
[com_88]
type=graphic
width=16
height=16
ymode=abs_bottom
layer=borders_1
graphic="login_lobby_border,3"
vflip=yes
colour=0xffffff
clickmask=no

// 1470:89
[com_89]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=borders_1
graphic="login_lobby_border,3"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1470:90
[com_90]
type=graphic
x=8
width=16
height=16
widthmode=minus
layer=borders_1
graphic="login_lobby_border,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1470:91
[com_91]
type=graphic
x=8
width=16
height=16
widthmode=minus
ymode=abs_bottom
layer=borders_1
graphic="login_lobby_border,4"
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 1470:92
[com_92]
type=graphic
y=8
width=16
height=16
heightmode=minus
layer=borders_1
graphic="login_lobby_border,5"
colour=0xffffff
clickmask=no

// 1470:93
[com_93]
type=graphic
y=8
width=16
height=16
heightmode=minus
xmode=abs_right
layer=borders_1
graphic="login_lobby_border,5"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:94
[dayddbutton]
type=layer
x=4
y=4
width=24
height=9
heightmode=minus
xmode=abs_right
layer=day

// 1470:95
[com_95]
type=graphic
width=5
heightmode=minus
layer=dayddbutton
graphic="demomode_upgrade,0"
colour=0xffffff
clickmask=no

// 1470:96
[com_96]
type=graphic
x=2
width=4
widthmode=minus
heightmode=minus
layer=dayddbutton
graphic="demomode_upgrade,1"
colour=0xffffff
clickmask=no

// 1470:97
[com_97]
type=graphic
width=5
heightmode=minus
xmode=abs_right
layer=dayddbutton
graphic="demomode_upgrade,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:98
[dayarrow]
type=graphic
x=4
y=4
width=16
height=16
layer=dayddbutton
graphic="drop_down_arrow_scroll,2"
colour=0xffffff
clickmask=no

// 1470:99
[month]
type=layer
x=80
width=190
height=32
layer=controls
onmouseover=graphic_swapper(chatdefault5:montharrow, "drop_down_arrow_scroll,0")
onmouseleave=graphic_swapper(chatdefault5:montharrow, "drop_down_arrow_scroll,2")
onclick=script2314(22)

// 1470:100
[monthtext]
type=text
width=161
height=32
layer=month
textfont=b12_full
text=Month
textalignh=1
textalignv=1
textshadow=yes

// 1470:101
[borders_3]
type=layer
widthmode=minus
heightmode=minus
layer=month

// 1470:102
[com_102]
type=graphic
width=16
height=16
layer=borders_3
graphic="login_lobby_border,0"
colour=0xffffff
clickmask=no

// 1470:103
[com_103]
type=graphic
width=16
height=16
xmode=abs_right
layer=borders_3
graphic="login_lobby_border,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:104
[com_104]
type=graphic
width=16
height=16
ymode=abs_bottom
layer=borders_3
graphic="login_lobby_border,3"
vflip=yes
colour=0xffffff
clickmask=no

// 1470:105
[com_105]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=borders_3
graphic="login_lobby_border,3"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1470:106
[com_106]
type=graphic
x=8
width=16
height=16
widthmode=minus
layer=borders_3
graphic="login_lobby_border,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1470:107
[com_107]
type=graphic
x=8
width=16
height=16
widthmode=minus
ymode=abs_bottom
layer=borders_3
graphic="login_lobby_border,4"
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 1470:108
[com_108]
type=graphic
y=8
width=16
height=16
heightmode=minus
layer=borders_3
graphic="login_lobby_border,5"
colour=0xffffff
clickmask=no

// 1470:109
[com_109]
type=graphic
y=8
width=16
height=16
heightmode=minus
xmode=abs_right
layer=borders_3
graphic="login_lobby_border,5"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:110
[monthddbutton]
type=layer
x=4
y=4
width=24
height=9
heightmode=minus
xmode=abs_right
layer=month
onop=script2314(22)

// 1470:111
[com_111]
type=graphic
width=5
heightmode=minus
layer=monthddbutton
graphic="demomode_upgrade,0"
colour=0xffffff
clickmask=no

// 1470:112
[com_112]
type=graphic
x=2
width=4
widthmode=minus
heightmode=minus
layer=monthddbutton
graphic="demomode_upgrade,1"
colour=0xffffff
clickmask=no

// 1470:113
[com_113]
type=graphic
width=5
heightmode=minus
xmode=abs_right
layer=monthddbutton
graphic="demomode_upgrade,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:114
[montharrow]
type=graphic
x=4
y=4
width=16
height=16
layer=monthddbutton
graphic="drop_down_arrow_scroll,2"
colour=0xffffff
clickmask=no

// 1470:115
[year]
type=layer
x=270
width=109
height=32
layer=controls
transmitop1=yes
op1=Enter Year
onmouseover=graphic_swapper(chatdefault5:yeararrow, "drop_down_arrow_scroll,0")
onmouseleave=graphic_swapper(chatdefault5:yeararrow, "drop_down_arrow_scroll,2")
onclick=script2315(22)

// 1470:116
[yeartext]
type=text
x=4
width=75
height=32
layer=year
textfont=b12_full
text=Year
textalignh=1
textalignv=1
textshadow=yes

// 1470:117
[borders_2]
type=layer
widthmode=minus
heightmode=minus
layer=year

// 1470:118
[com_118]
type=graphic
width=16
height=16
layer=borders_2
graphic="login_lobby_border,0"
colour=0xffffff
clickmask=no

// 1470:119
[com_119]
type=graphic
width=16
height=16
xmode=abs_right
layer=borders_2
graphic="login_lobby_border,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:120
[com_120]
type=graphic
width=16
height=16
ymode=abs_bottom
layer=borders_2
graphic="login_lobby_border,3"
vflip=yes
colour=0xffffff
clickmask=no

// 1470:121
[com_121]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=borders_2
graphic="login_lobby_border,3"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1470:122
[com_122]
type=graphic
x=8
width=16
height=16
widthmode=minus
layer=borders_2
graphic="login_lobby_border,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1470:123
[com_123]
type=graphic
x=8
width=16
height=16
widthmode=minus
ymode=abs_bottom
layer=borders_2
graphic="login_lobby_border,4"
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 1470:124
[com_124]
type=graphic
y=8
width=16
height=16
heightmode=minus
layer=borders_2
graphic="login_lobby_border,5"
colour=0xffffff
clickmask=no

// 1470:125
[com_125]
type=graphic
y=8
width=16
height=16
heightmode=minus
xmode=abs_right
layer=borders_2
graphic="login_lobby_border,5"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:126
[yearddbutton]
type=layer
x=4
y=4
width=24
height=9
heightmode=minus
xmode=abs_right
layer=year

// 1470:127
[com_127]
type=graphic
width=5
heightmode=minus
layer=yearddbutton
graphic="demomode_upgrade,0"
colour=0xffffff
clickmask=no

// 1470:128
[com_128]
type=graphic
x=2
width=4
widthmode=minus
heightmode=minus
layer=yearddbutton
graphic="demomode_upgrade,1"
colour=0xffffff
clickmask=no

// 1470:129
[com_129]
type=graphic
width=5
heightmode=minus
xmode=abs_right
layer=yearddbutton
graphic="demomode_upgrade,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:130
[yeararrow]
type=graphic
x=4
y=4
width=16
height=16
layer=yearddbutton
graphic="drop_down_arrow_scroll,2"
colour=0xffffff
clickmask=no

// 1470:131
[dayddlistborder]
type=layer
y=31
width=80
height=35
heightmode=minus
layer=controls
hide=yes

// 1470:132
[com_132]
type=graphic
width=16
height=16
layer=dayddlistborder
graphic="login_lobby_border,0"
colour=0xffffff
clickmask=no

// 1470:133
[com_133]
type=graphic
width=16
height=16
xmode=abs_right
layer=dayddlistborder
graphic="login_lobby_border,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:134
[com_134]
type=graphic
width=16
height=16
ymode=abs_bottom
layer=dayddlistborder
graphic="login_lobby_border,3"
vflip=yes
colour=0xffffff
clickmask=no

// 1470:135
[com_135]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=dayddlistborder
graphic="login_lobby_border,3"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1470:136
[com_136]
type=graphic
x=8
width=16
height=16
widthmode=minus
layer=dayddlistborder
graphic="login_lobby_border,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1470:137
[com_137]
type=graphic
x=8
width=16
height=16
widthmode=minus
ymode=abs_bottom
layer=dayddlistborder
graphic="login_lobby_border,4"
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 1470:138
[com_138]
type=graphic
y=8
width=16
height=16
heightmode=minus
layer=dayddlistborder
graphic="login_lobby_border,5"
colour=0xffffff
clickmask=no

// 1470:139
[com_139]
type=graphic
y=8
width=16
height=16
heightmode=minus
xmode=abs_right
layer=dayddlistborder
graphic="login_lobby_border,5"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:140
[dayddlist]
type=layer
x=4
y=36
width=47
height=59
layer=controls
hide=yes
noclickthrough=yes

// 1470:141
[dayddscroll]
type=layer
x=56
y=36
width=16
height=55
layer=controls
hide=yes
noclickthrough=yes

// 1470:142
[com_142]
type=rectangle
widthmode=minus
heightmode=minus
layer=dayddscroll
colour=0xffff00

// 1470:143
[monthddlistborder]
type=layer
x=80
y=31
width=190
height=35
heightmode=minus
layer=controls
hide=yes

// 1470:144
[com_144]
type=graphic
width=16
height=16
layer=monthddlistborder
graphic="login_lobby_border,0"
colour=0xffffff
clickmask=no

// 1470:145
[com_145]
type=graphic
width=16
height=16
xmode=abs_right
layer=monthddlistborder
graphic="login_lobby_border,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:146
[com_146]
type=graphic
width=16
height=16
ymode=abs_bottom
layer=monthddlistborder
graphic="login_lobby_border,3"
vflip=yes
colour=0xffffff
clickmask=no

// 1470:147
[com_147]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=monthddlistborder
graphic="login_lobby_border,3"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1470:148
[com_148]
type=graphic
x=8
width=16
height=16
widthmode=minus
layer=monthddlistborder
graphic="login_lobby_border,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1470:149
[com_149]
type=graphic
x=8
width=16
height=16
widthmode=minus
ymode=abs_bottom
layer=monthddlistborder
graphic="login_lobby_border,4"
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 1470:150
[com_150]
type=graphic
y=8
width=16
height=16
heightmode=minus
layer=monthddlistborder
graphic="login_lobby_border,5"
colour=0xffffff
clickmask=no

// 1470:151
[com_151]
type=graphic
y=8
width=16
height=16
heightmode=minus
xmode=abs_right
layer=monthddlistborder
graphic="login_lobby_border,5"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:152
[monthddlist]
type=layer
x=84
y=36
width=158
height=59
layer=controls
hide=yes
noclickthrough=yes

// 1470:153
[monthddscroll]
type=layer
x=246
y=36
width=16
height=55
layer=controls
hide=yes
noclickthrough=yes

// 1470:154
[com_154]
type=rectangle
widthmode=minus
heightmode=minus
layer=monthddscroll
colour=0xffff00

// 1470:155
[yearddlistborder]
type=layer
x=270
y=31
width=109
height=35
heightmode=minus
layer=controls
hide=yes

// 1470:156
[com_156]
type=graphic
width=16
height=16
layer=yearddlistborder
graphic="login_lobby_border,0"
colour=0xffffff
clickmask=no

// 1470:157
[com_157]
type=graphic
width=16
height=16
xmode=abs_right
layer=yearddlistborder
graphic="login_lobby_border,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:158
[com_158]
type=graphic
width=16
height=16
ymode=abs_bottom
layer=yearddlistborder
graphic="login_lobby_border,3"
vflip=yes
colour=0xffffff
clickmask=no

// 1470:159
[com_159]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=yearddlistborder
graphic="login_lobby_border,3"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1470:160
[com_160]
type=graphic
x=8
width=16
height=16
widthmode=minus
layer=yearddlistborder
graphic="login_lobby_border,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1470:161
[com_161]
type=graphic
x=8
width=16
height=16
widthmode=minus
ymode=abs_bottom
layer=yearddlistborder
graphic="login_lobby_border,4"
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 1470:162
[com_162]
type=graphic
y=8
width=16
height=16
heightmode=minus
layer=yearddlistborder
graphic="login_lobby_border,5"
colour=0xffffff
clickmask=no

// 1470:163
[com_163]
type=graphic
y=8
width=16
height=16
heightmode=minus
xmode=abs_right
layer=yearddlistborder
graphic="login_lobby_border,5"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:164
[yearddlist]
type=layer
x=274
y=36
width=76
height=59
layer=controls
hide=yes
noclickthrough=yes

// 1470:165
[yearddscroll]
type=layer
x=355
y=36
width=16
height=55
layer=controls
hide=yes
noclickthrough=yes

// 1470:166
[dobsubmitbutton]
type=layer
width=94
height=32
xmode=abs_right
layer=controls
transmitop1=yes
op1=Submit
onmouseover=script2310(chatdefault5:leftbutton, chatdefault5:rightbutton, chatdefault5:middlebutton)
onmouseleave=script2311(chatdefault5:leftbutton, chatdefault5:rightbutton, chatdefault5:middlebutton)

// 1470:167
[com_167]
type=rectangle
widthmode=minus
heightmode=minus
layer=yearddscroll
colour=0xffff00

// 1470:168
[com_168]
type=rectangle
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=dob_meslayer
colour=0xffcccc
fill=yes

// 1470:169
[dobmes_text]
type=text
x=9
y=10
width=482
height=84
layer=dob_meslayer
textfont=q8_full
text=As you are under thirteen years of age, you are restricted to Quick Chat only. If you later wish to enable full, unrestricted chat we will require a parent's or guardian's consent. The fastest way to prove parental consent is by upgrading to a full members' account with a credit card.
textalignh=1
colour=0x000000

// 1470:170
[borders_5]
type=layer
widthmode=minus
heightmode=minus
layer=dob_meslayer

// 1470:171
[com_171]
type=graphic
width=16
height=16
layer=borders_5
graphic="login_lobby_border,0"
colour=0xffffff
clickmask=no

// 1470:172
[com_172]
type=graphic
width=16
height=16
xmode=abs_right
layer=borders_5
graphic="login_lobby_border,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:173
[com_173]
type=graphic
width=16
height=16
ymode=abs_bottom
layer=borders_5
graphic="login_lobby_border,3"
vflip=yes
colour=0xffffff
clickmask=no

// 1470:174
[com_174]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=borders_5
graphic="login_lobby_border,3"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1470:175
[com_175]
type=graphic
x=8
width=16
height=16
widthmode=minus
layer=borders_5
graphic="login_lobby_border,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1470:176
[com_176]
type=graphic
x=8
width=16
height=16
widthmode=minus
ymode=abs_bottom
layer=borders_5
graphic="login_lobby_border,4"
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 1470:177
[com_177]
type=graphic
y=8
width=16
height=16
heightmode=minus
layer=borders_5
graphic="login_lobby_border,5"
colour=0xffffff
clickmask=no

// 1470:178
[com_178]
type=graphic
y=8
width=16
height=16
heightmode=minus
xmode=abs_right
layer=borders_5
graphic="login_lobby_border,5"
hflip=yes
colour=0xffffff
clickmask=no

// 1470:179
[dobmes_close]
type=text
x=46
y=9
width=418
height=27
ymode=abs_bottom
layer=dob_meslayer
textfont=q8_full
text=Click here to continue...
textalignh=1
colour=0xffff00
transmitop1=yes
op1=Close
onmouseover=text_colour_swapper(event_com, 255)
onmouseleave=text_colour_swapper(event_com, 16776960)

// 1470:180
[filters_build]
type=layer
widthmode=minus
heightmode=minus
layer=filters_layer

// 1470:181
[filters_click]
type=layer
widthmode=minus
heightmode=minus
layer=filters_layer

// 1470:182
[actions_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=top_layer

// 1470:183
[actions_build]
type=layer
widthmode=minus
heightmode=minus
layer=actions_layer

// 1470:184
[actions_click]
type=layer
widthmode=minus
heightmode=minus
layer=actions_layer

// 1470:185
[dropdown_build]
type=layer
widthmode=minus
heightmode=minus
layer=dropdown_layer

// 1470:186
[dropdown_click]
type=layer
widthmode=minus
heightmode=minus
layer=dropdown_layer

// 1470:187
[divider_graphic]
type=graphic
height=4
widthmode=minus
layer=player_input_wrapper
graphic=rs3_child_frame_bottom_tile
alpha=yes
colour=0xffffff
clickmask=no
onload=script9900(event_com)

// 1470:188
[player_name]
type=text
x=3
width=47
height=2
heightmode=minus
ymode=abs_centre
layer=player_input_wrapper
textfont=p12_full
textalignv=1
colour=0x000000
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop6=yes
transmitop7=yes
transmitop8=yes
transmitop9=yes
transmitop10=yes
op1=Public Chat
op2=Public Quick Chat
op3=Friends Chat
op4=Friends Chat Quick Chat
op5=Clan Chat
op6=Clan Quick Chat
op7=Guest Clan Chat
op8=Guest Clan Quick Chat
op9=Group Chat
op10=Group Quick Chat
onmouseleave=script8805
onop=quickchat_open_onop(event_op, 22)
onmouserepeat=script8799("Allows you to change where you are<br>chatting through right-click options.", event_com, event_comsubid)

// 1470:189
[highlight_rect]
type=rectangle
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=player_input_wrapper
hide=yes
colour=0xffffff

// 1470:190
[inputarea]
type=layer
x=50
width=50
height=4
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=player_input_wrapper
noclickthrough=yes

// 1470:191
[input]
type=text
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=inputarea
textfont=p12_full
textalignv=1
colour=0x000000
transmitop1=yes
op1=Enter message
onload=chatdefault_init(22)
onop=script8513(22)

// 1470:192
[caret]
type=line
y=2
height=4
heightmode=minus
ymode=abs_bottom
layer=inputarea
hide=yes
colour=0x000000

// 1470:193
[scrollarea]
type=layer
width=16
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=chat_render_layer
scrollheight=999

// 1470:194
[scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=chat_render_layer
noclickthrough=yes
onload=rs3_scrollbar_vertical(event_com, chatdefault5:scrollarea)
onvartransmit=rs3_scrollbar_vertical(event_com, chatdefault5:scrollarea)
onvartransmitlist=toplevel_v2_general_varp,toplevel_v2_skins_varp

