// 327:0
[chat_v3]
type=layer
widthmode=minus
heightmode=minus
onload=script569
onvarctransmit=script569
onvarctransmitlist=mobile_zoom

// 327:1
[close_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=chat_v3
transmitop1=yes
opkey1=0,13,0
op1=Close
onop=closebutton_click

// 327:2
[fade_to_black]
type=graphic
widthmode=minus
heightmode=minus
layer=chat_v3
graphic=gradient_vignette_heavy_white_16_9
trans=255
colour=0xffffff
clickmask=no
onload=script1427(event_com)

// 327:3
[background_frame_layer]
type=layer
height=6553
widthmode=minus
heightmode=proportion
ymode=abs_bottom
layer=chat_v3
noclickthrough=yes

// 327:4
[chat_background_layer]
type=layer
height=30
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=background_frame_layer
onload=script8896(event_com)

// 327:5
[progress_arrow]
type=graphic
x=2457
width=64
height=64
xmode=proportion_right
ymode=abs_centre
layer=background_frame_layer
graphic=button_arrow_dialogue_next
colour=0xffffff
clickmask=no

// 327:6
[click_continue]
type=layer
widthmode=minus
heightmode=minus
layer=background_frame_layer
pausebutton=yes
pausetext=Continue
onload=script5584(null, event_com)

// 327:7
[chat_text_frame_layer_1]
type=layer
height=6553
widthmode=minus
heightmode=proportion
ymode=abs_bottom
layer=chat_v3

// 327:8
[chat_right_name_layer_1]
type=layer
x=100
width=450
height=30
xmode=abs_right
layer=chat_text_frame_layer_1

// 327:9
[right_name_box]
type=graphic
x=105
width=200
heightmode=minus
xmode=abs_right
layer=chat_right_name_layer_1
graphic=gradient_square_white_light_rot
hflip=yes
colour=0x223e60
clickmask=no

// 327:10
[right_name_box_1]
type=graphic
width=105
heightmode=minus
xmode=abs_right
layer=chat_right_name_layer_1
graphic=gradient_square_white_light_rot
colour=0x223e60
clickmask=no

// 327:11
[chat_left_name_layer_1]
type=layer
x=100
width=450
height=30
layer=chat_text_frame_layer_1

// 327:12
[left_name_box]
type=graphic
x=105
width=200
heightmode=minus
layer=chat_left_name_layer_1
graphic=gradient_square_white_light_rot
colour=0x223e60
clickmask=no

// 327:13
[left_name_box_1]
type=graphic
width=105
heightmode=minus
layer=chat_left_name_layer_1
graphic=gradient_square_white_light_rot
hflip=yes
colour=0x223e60
clickmask=no

// 327:14
[lefthand_side]
type=layer
width=300
heightmode=minus
layer=chat_v3

// 327:15
[chathead_l]
type=model
x=90
y=1639
width=50
height=50
ymode=proportion_bottom
layer=lefthand_side
model=null
modelorthog=yes
modelorigin_x=0
modelorigin_y=0
modelangle_x=40
modelangle_y=1882
modelangle_z=0
modelzoom=1000
onvartransmit=script2619(event_com)
onvartransmitlist=mtx_modular_pet_chat_data

// 327:16
[first_object]
type=model
x=90
y=1638
width=50
height=50
ymode=proportion_bottom
layer=lefthand_side
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=40
modelangle_y=1882
modelangle_z=0
modelzoom=2150

// 327:17
[second_object]
type=model
x=105
y=1479
width=50
height=50
ymode=proportion_bottom
layer=lefthand_side
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=40
modelangle_y=1882
modelangle_z=0
modelzoom=2150

// 327:18
[graphic_l]
type=graphic
x=100
y=1639
width=32
height=32
ymode=proportion_bottom
layer=lefthand_side
colour=0xffffff
clickmask=no

// 327:19
[righthand_side]
type=layer
width=300
heightmode=minus
xmode=abs_right
layer=chat_v3

// 327:20
[chathead_r]
type=model
x=90
y=1639
width=50
height=50
xmode=abs_right
ymode=proportion_bottom
layer=righthand_side
model=null
modelorthog=yes
modelorigin_x=0
modelorigin_y=0
modelangle_x=40
modelangle_y=171
modelangle_z=0
modelzoom=1000

// 327:21
[core_text_frame_layer]
type=layer
height=6553
widthmode=minus
heightmode=proportion
ymode=abs_bottom
layer=chat_v3
onload=script2145

// 327:22
[chat_text_layer]
type=layer
width=9830
height=30
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=core_text_frame_layer

// 327:23
[chat_text]
type=text
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chat_text_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
onload=script7836(event_com)
onvartransmit=script7836(event_com)
onvartransmitlist=chat_v3_update_interface

// 327:24
[chat_text_frame_layer]
type=layer
height=6551
widthmode=minus
heightmode=proportion
ymode=abs_bottom
layer=chat_v3

// 327:25
[chat_right_name_layer]
type=layer
x=100
width=500
height=30
xmode=abs_right
layer=chat_text_frame_layer

// 327:26
[chat_right_name_text]
type=text
x=105
height=20
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=chat_right_name_layer
textfont=cinzel_18pt_bold
textalignh=2
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 327:27
[chat_left_name_layer]
type=layer
x=100
width=500
height=30
layer=chat_text_frame_layer

// 327:28
[chat_left_name_text]
type=text
x=105
height=20
widthmode=minus
ymode=abs_centre
layer=chat_left_name_layer
textfont=cinzel_18pt_bold
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

