// 1187:0
[background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 1187:1
[border]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(chat_v2_pair:background, chat_v2_pair:border, null, null, "", 23001, string_1006)

// 1187:2
[layer_1]
type=layer
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 1187:3
[title_layer]
type=layer
width=230
height=30
widthmode=minus
xmode=abs_centre
layer=layer_1

// 1187:4
[title_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=title_layer
textfont=cinzel_12pt_bold
text=Name
textlineheight=10
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script2732(event_com, -1, 0)

// 1187:5
[chathead_holder]
type=layer
y=-5
width=134
height=134
ymode=abs_bottom
layer=layer_1
onload=script10007(event_com, chat_v2_pair:ring_background, chat_v2_pair:ring_foreground, chat_v2_pair:chat_mask_left, chatv2_chathead_holder_left)

// 1187:6
[ring_background]
type=graphic
width=67
height=134
ymode=abs_bottom
layer=chathead_holder
graphic=rs3_ui_dialogue_chathead_background
colour=0xffffff
clickmask=no

// 1187:7
[ring_foreground]
type=graphic
x=67
width=67
height=134
ymode=abs_bottom
layer=chathead_holder
graphic=rs3_ui_dialogue_chathead_foreground
colour=0xffffff
clickmask=no

// 1187:8
[chathead_left]
type=model
x=50
y=45
width=32
height=32
ymode=abs_bottom
layer=chathead_holder
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=40
modelangle_y=1882
modelangle_z=0
modelzoom=2150
onvartransmit=script2619(event_com)
onvartransmitlist=mtx_modular_pet_chat_data

// 1187:9
[chat_mask_left]
type=graphic
x=-6
width=138
height=109
ymode=abs_bottom
layer=chathead_holder
graphic=rs3_ui_dialogue_chathead_foreground_overlay
colour=0xffffff
clickmask=no

// 1187:10
[chathead_holder_1]
type=layer
y=-5
width=134
height=134
xmode=abs_right
ymode=abs_bottom
layer=layer_1
onload=script10007(event_com, chat_v2_pair:ring_background_2, chat_v2_pair:ring_foreground_1, chat_v2_pair:chat_mask_right, chatv2_chathead_holder_right)

// 1187:11
[ring_background_2]
type=graphic
width=67
height=134
xmode=abs_right
ymode=abs_bottom
layer=chathead_holder_1
graphic=rs3_ui_dialogue_chathead_background
hflip=yes
colour=0xffffff
clickmask=no

// 1187:12
[ring_foreground_1]
type=graphic
width=67
height=134
ymode=abs_bottom
layer=chathead_holder_1
graphic=rs3_ui_dialogue_chathead_foreground
hflip=yes
colour=0xffffff
clickmask=no

// 1187:13
[chathead_right]
type=model
x=50
y=45
width=32
height=32
xmode=abs_right
ymode=abs_bottom
layer=chathead_holder_1
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=40
modelangle_y=166
modelangle_z=0
modelzoom=2150
onvartransmit=script2619(event_com)
onvartransmitlist=mtx_modular_pet_chat_data

// 1187:14
[chat_mask_right]
type=graphic
x=1
width=138
height=109
ymode=abs_bottom
layer=chathead_holder_1
graphic=rs3_ui_dialogue_chathead_foreground_overlay
hflip=yes
colour=0xffffff
clickmask=no

// 1187:15
[chat_text]
type=text
y=20
width=256
height=60
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=layer_1
textfont=museo_sans_11pt_regular
textlineheight=15
textalignh=1
textalignv=1
colour=0x000000

// 1187:16
[click_continue_button]
type=layer
width=80
height=20
xmode=abs_centre
ymode=abs_bottom
layer=layer_1

// 1187:17
[click_continue_button_on]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 1)

// 1187:18
[click_continue_button_over]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 2)

// 1187:19
[click_continue_button_hit]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 3)

// 1187:20
[click_continue]
type=layer
widthmode=minus
heightmode=minus
layer=layer_1
pausebutton=yes
pausetext=Continue
onload=script5584(chat_v2_pair:click_continue_button, event_com)

