// 1854:0
[activity_tracker_root]
type=layer
widthmode=minus
heightmode=minus

// 1854:1
[activity_tracker_background]
type=layer
widthmode=minus
heightmode=minus
layer=activity_tracker_root

// 1854:2
[activity_tracker_content]
type=layer
widthmode=minus
heightmode=minus
layer=activity_tracker_root
onvartransmit=script9057(0)
onstattransmit=script9057(0)
onvartransmitlist=activity_tracker_rebuild_child,cheevo_temp_varp

// 1854:3
[scrollable_layer]
type=layer
y=5
height=5
widthmode=minus
heightmode=minus
layer=activity_tracker_content

// 1854:4
[progress_bar_listener]
type=layer
width=512
height=329
layer=scrollable_layer

// 1854:5
[mobile_highlights]
type=layer
widthmode=minus
heightmode=minus
layer=scrollable_layer

// 1854:6
[find_more_click]
type=layer
widthmode=minus
heightmode=minus
layer=scrollable_layer

// 1854:7
[click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=scrollable_layer

// 1854:8
[build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=scrollable_layer

// 1854:9
[scrollbar_layer]
type=layer
y=5
width=16
height=5
heightmode=minus
xmode=abs_right
layer=activity_tracker_content

// 1854:10
[activity_tracker_frame]
type=layer
widthmode=minus
heightmode=minus
layer=activity_tracker_root

