// 1188:0
[options]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content
onload=script5592

// 1188:1
[background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=window

// 1188:2
[content]
type=layer
y=32
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=window

// 1188:3
[border]
type=layer
widthmode=minus
heightmode=minus
layer=window

// 1188:4
[close]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1188:5
[window]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(choice_v2:background, choice_v2:border, choice_v2:content, choice_v2:close, "", 23001, string_1006)

// 1188:6
[option_text_1]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=option_1_text
textfont=museo_sans_11pt_regular
textlineheight=15
textalignh=1
textalignv=1
colour=0xc8c8c8
onload=script11644(event_com, chatv2_option_button)

// 1188:7
[text_1]
type=text
x=10
width=25
heightmode=minus
ymode=abs_centre
layer=option_1_text
textfont=museo_sans_11pt_regular
text=1.
textalignh=1
textalignv=1
textshadow=yes
colour=0xc8c8c8
onload=script11644(event_com, chatv2_option_button)

// 1188:8
[option_1]
type=layer
y=2
width=100
height=18
xmode=abs_centre
layer=options
pausebutton=yes

// 1188:9
[option_1_on]
type=layer
widthmode=minus
heightmode=minus
layer=option_1
onload=script11641(event_com, chatv2_option_button, 1)

// 1188:10
[option_1_over]
type=layer
widthmode=minus
heightmode=minus
layer=option_1
onload=script11641(event_com, chatv2_option_button, 2)

// 1188:11
[option_1_hit]
type=layer
widthmode=minus
heightmode=minus
layer=option_1
onload=script11641(event_com, chatv2_option_button, 3)

// 1188:12
[option_1_text]
type=layer
widthmode=minus
heightmode=minus
layer=option_1

// 1188:13
[option_2]
type=layer
y=21
width=100
height=18
xmode=abs_centre
layer=options
pausebutton=yes

// 1188:14
[option_2_on]
type=layer
widthmode=minus
heightmode=minus
layer=option_2
onload=script11641(event_com, chatv2_option_button, 1)

// 1188:15
[option_2_over]
type=layer
widthmode=minus
heightmode=minus
layer=option_2
onload=script11641(event_com, chatv2_option_button, 2)

// 1188:16
[option_2_hit]
type=layer
widthmode=minus
heightmode=minus
layer=option_2
onload=script11641(event_com, chatv2_option_button, 3)

// 1188:17
[option_2_text]
type=layer
widthmode=minus
heightmode=minus
layer=option_2

// 1188:18
[option_3]
type=layer
y=40
width=100
height=18
xmode=abs_centre
layer=options
pausebutton=yes

// 1188:19
[option_3_on]
type=layer
widthmode=minus
heightmode=minus
layer=option_3
onload=script11641(event_com, chatv2_option_button, 1)

// 1188:20
[option_3_over]
type=layer
widthmode=minus
heightmode=minus
layer=option_3
onload=script11641(event_com, chatv2_option_button, 2)

// 1188:21
[option_3_hit]
type=layer
widthmode=minus
heightmode=minus
layer=option_3
onload=script11641(event_com, chatv2_option_button, 3)

// 1188:22
[option_3_text]
type=layer
widthmode=minus
heightmode=minus
layer=option_3

// 1188:23
[option_4]
type=layer
y=59
width=100
height=18
xmode=abs_centre
layer=options
pausebutton=yes

// 1188:24
[option_4_on]
type=layer
widthmode=minus
heightmode=minus
layer=option_4
onload=script11641(event_com, chatv2_option_button, 1)

// 1188:25
[option_4_over]
type=layer
widthmode=minus
heightmode=minus
layer=option_4
onload=script11641(event_com, chatv2_option_button, 2)

// 1188:26
[option_4_hit]
type=layer
widthmode=minus
heightmode=minus
layer=option_4
onload=script11641(event_com, chatv2_option_button, 3)

// 1188:27
[option_4_text]
type=layer
widthmode=minus
heightmode=minus
layer=option_4

// 1188:28
[option_5]
type=layer
y=78
width=100
height=18
xmode=abs_centre
layer=options
pausebutton=yes

// 1188:29
[option_5_on]
type=layer
widthmode=minus
heightmode=minus
layer=option_5
onload=script11641(event_com, chatv2_option_button, 1)

// 1188:30
[option_5_over]
type=layer
widthmode=minus
heightmode=minus
layer=option_5
onload=script11641(event_com, chatv2_option_button, 2)

// 1188:31
[option_5_hit]
type=layer
widthmode=minus
heightmode=minus
layer=option_5
onload=script11641(event_com, chatv2_option_button, 3)

// 1188:32
[option_5_text]
type=layer
widthmode=minus
heightmode=minus
layer=option_5

// 1188:33
[option_text_2]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=option_2_text
textfont=museo_sans_11pt_regular
textlineheight=15
textalignh=1
textalignv=1
colour=0xc8c8c8
onload=script11644(event_com, chatv2_option_button)

// 1188:34
[text_2]
type=text
x=10
width=25
heightmode=minus
ymode=abs_centre
layer=option_2_text
textfont=museo_sans_11pt_regular
text=2.
textalignh=1
textalignv=1
textshadow=yes
colour=0xc8c8c8
onload=script11644(event_com, chatv2_option_button)

// 1188:35
[option_text_3]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=option_3_text
textfont=museo_sans_11pt_regular
textlineheight=15
textalignh=1
textalignv=1
colour=0xc8c8c8
onload=script11644(event_com, chatv2_option_button)

// 1188:36
[text_3]
type=text
x=10
width=25
heightmode=minus
ymode=abs_centre
layer=option_3_text
textfont=museo_sans_11pt_regular
text=3.
textalignh=1
textalignv=1
textshadow=yes
colour=0xc8c8c8
onload=script11644(event_com, chatv2_option_button)

// 1188:37
[option_text_4]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=option_4_text
textfont=museo_sans_11pt_regular
textlineheight=15
textalignh=1
textalignv=1
colour=0xc8c8c8
onload=script11644(event_com, chatv2_option_button)

// 1188:38
[text_4]
type=text
x=10
width=25
heightmode=minus
ymode=abs_centre
layer=option_4_text
textfont=museo_sans_11pt_regular
text=4.
textalignh=1
textalignv=1
textshadow=yes
colour=0xc8c8c8
onload=script11644(event_com, chatv2_option_button)

// 1188:39
[option_text_5]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=option_5_text
textfont=museo_sans_11pt_regular
textlineheight=15
textalignh=1
textalignv=1
colour=0xc8c8c8
onload=script11644(event_com, chatv2_option_button)

// 1188:40
[text_5]
type=text
x=10
width=25
heightmode=minus
ymode=abs_centre
layer=option_5_text
textfont=museo_sans_11pt_regular
text=5.
textalignh=1
textalignv=1
textshadow=yes
colour=0xc8c8c8
onload=script11644(event_com, chatv2_option_button)

