// 308:0
[statue_1]
type=layer
y=5
width=75
height=135
layer=selection_panel

// 308:1
[back_1]
type=layer
widthmode=minus
heightmode=minus
layer=statue_1
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 308:2
[statue_2]
type=layer
x=80
y=5
width=75
height=135
layer=selection_panel

// 308:3
[back_2]
type=layer
widthmode=minus
heightmode=minus
layer=statue_2
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 308:4
[statue_3]
type=layer
x=160
y=5
width=75
height=135
layer=selection_panel

// 308:5
[back_3]
type=layer
widthmode=minus
heightmode=minus
layer=statue_3
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 308:6
[statue_4]
type=layer
y=5
width=75
height=135
ymode=abs_bottom
layer=selection_panel

// 308:7
[back_4]
type=layer
widthmode=minus
heightmode=minus
layer=statue_4
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 308:8
[statue_5]
type=layer
x=80
y=5
width=75
height=135
ymode=abs_bottom
layer=selection_panel

// 308:9
[back_5]
type=layer
widthmode=minus
heightmode=minus
layer=statue_5
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 308:10
[statue_6]
type=layer
x=160
y=5
width=75
height=135
ymode=abs_bottom
layer=selection_panel

// 308:11
[back_6]
type=layer
widthmode=minus
heightmode=minus
layer=statue_6
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 308:12
[statue_7]
type=layer
width=75
height=160
xmode=abs_right
ymode=abs_centre
layer=selection_panel

// 308:13
[back_7]
type=layer
widthmode=minus
heightmode=minus
layer=statue_7
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 308:14
[statue_checkbox_1]
type=graphic
y=5
width=18
height=18
xmode=abs_centre
ymode=abs_bottom
layer=statue_1
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(0)

// 308:15
[statue_model_1]
type=model
width=59
height=95
xmode=abs_centre
ymode=abs_centre
layer=statue_1
model=chosen_reward_statue_action_melee_male_plinth_if
modelorigin_x=-3
modelorigin_y=47
modelangle_x=60
modelangle_y=132
modelangle_z=0
modelzoom=1568
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(0)

// 308:16
[model_preview]
type=model
x=5
y=90
width=78
height=127
xmode=abs_centre
ymode=abs_bottom
layer=confirmation_panel
model=chosen_reward_statue_action_melee_male_plinth_if
modelorigin_x=-4
modelorigin_y=63
modelangle_x=105
modelangle_y=162
modelangle_z=0
modelzoom=1210
transmitop10=yes
op10= 

// 308:17
[confirm]
type=layer
y=35
width=20
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=confirmation_panel
onload=script13968(chosen_reward_statue_interface:confirm_build, chosen_reward_statue_interface:confirm_click, rs3tli_positive_button, "Confirm")

// 308:18
[cancel]
type=layer
y=5
width=20
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=confirmation_panel
onload=script13968(chosen_reward_statue_interface:cancel_build, chosen_reward_statue_interface:cancel_click, rs3tli_negative_button, "Cancel")

// 308:19
[selection_panel]
type=layer
x=5
y=5
width=315
height=10
heightmode=minus
layer=mainmodal_window_content

// 308:20
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(chosen_reward_statue_interface:mainmodal_window_background, chosen_reward_statue_interface:mainmodal_window_border, chosen_reward_statue_interface:mainmodal_window_content, chosen_reward_statue_interface:mainmodal_window_close_button, "Statue selection", 21218, string_1007)

// 308:21
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 308:22
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script1223
onvartransmit=script1225
onvartransmitlist=chosen_temp

// 308:23
[confirmation_panel]
type=layer
x=5
width=330
height=10
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=mainmodal_window_content

// 308:24
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 308:25
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 308:26
[statue_checkbox_2]
type=graphic
y=5
width=18
height=18
xmode=abs_centre
ymode=abs_bottom
layer=statue_2
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(1)

// 308:27
[statue_model_2]
type=model
width=62
height=102
xmode=abs_centre
ymode=abs_centre
layer=statue_2
model=chosen_reward_statue_action_mage_male_plinth_if
modelorigin_x=-2
modelorigin_y=50
modelangle_x=60
modelangle_y=132
modelangle_z=0
modelzoom=1568
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(1)

// 308:28
[statue_checkbox_3]
type=graphic
y=5
width=18
height=18
xmode=abs_centre
ymode=abs_bottom
layer=statue_3
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(2)

// 308:29
[statue_model_3]
type=model
width=60
height=93
xmode=abs_centre
ymode=abs_centre
layer=statue_3
model=chosen_reward_statue_action_ranger_male_plinth_if
modelorigin_x=2
modelorigin_y=46
modelangle_x=60
modelangle_y=132
modelangle_z=0
modelzoom=1568
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(2)

// 308:30
[statue_checkbox_4]
type=graphic
y=5
width=18
height=18
xmode=abs_centre
ymode=abs_bottom
layer=statue_4
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(3)

// 308:31
[statue_model_4]
type=model
width=52
height=91
xmode=abs_centre
ymode=abs_centre
layer=statue_4
model=chosen_male_triumphant_plinth_if
modelorigin_x=-4
modelorigin_y=45
modelangle_x=60
modelangle_y=132
modelangle_z=0
modelzoom=1568
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(3)

// 308:32
[statue_checkbox_5]
type=graphic
y=5
width=18
height=18
xmode=abs_centre
ymode=abs_bottom
layer=statue_5
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(4)

// 308:33
[statue_model_5]
type=model
width=40
height=92
xmode=abs_centre
ymode=abs_centre
layer=statue_5
model=chosen_male_ushering_zanik_plinth_if
modelorigin_x=-1
modelorigin_y=45
modelangle_x=60
modelangle_y=132
modelangle_z=0
modelzoom=1568
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(4)

// 308:34
[statue_checkbox_6]
type=graphic
y=5
width=18
height=18
xmode=abs_centre
ymode=abs_bottom
layer=statue_6
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(5)

// 308:35
[statue_model_6]
type=model
x=-1
y=2
width=57
height=92
xmode=abs_centre
ymode=abs_centre
layer=statue_6
model=chosen_male_feeding_zanik_plinth_if
modelorigin_x=-2
modelorigin_y=45
modelangle_x=60
modelangle_y=132
modelangle_z=0
modelzoom=1568
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(5)

// 308:36
[statue_checkbox_7]
type=graphic
y=5
width=18
height=18
xmode=abs_centre
ymode=abs_bottom
layer=statue_7
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(6)

// 308:37
[statue_model_7]
type=model
width=69
height=142
xmode=abs_centre
ymode=abs_centre
layer=statue_7
model=chosen_reward_statue_male_star_wars_plinth_if
modelorigin_x=4
modelorigin_y=70
modelangle_x=60
modelangle_y=132
modelangle_z=0
modelzoom=1568
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1224(6)

// 308:38
[confirm_build]
type=layer
widthmode=minus
heightmode=minus
layer=confirm

// 308:39
[confirm_click]
type=layer
widthmode=minus
heightmode=minus
layer=confirm
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 308:40
[cancel_build]
type=layer
widthmode=minus
heightmode=minus
layer=cancel

// 308:41
[cancel_click]
type=layer
widthmode=minus
heightmode=minus
layer=cancel
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=closebutton_click
onclick=closebutton_click

