// 191:0
[parent]
type=layer
width=686
height=404
onload=script20413

// 191:1
[event_overview_layer]
type=layer
widthmode=minus
heightmode=minus
layer=parent

// 191:2
[event_overview_background]
type=graphic
width=685
height=403
xmode=abs_centre
layer=event_overview_layer
graphic=christmas_hub_event_info_night_sky_overview
colour=0xffffff
clickmask=no

// 191:3
[event_overview_parchment_info_layer]
type=layer
x=8
y=8
width=300
height=377
ymode=abs_bottom
layer=event_overview_layer

// 191:4
[event_overview_background_parchment]
type=graphic
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=event_overview_parchment_info_layer
graphic=christmas_hub_event_info_parchment
alpha=yes
colour=0xffffff
clickmask=no

// 191:5
[event_overview_background_holly]
type=graphic
x=111
y=9
width=100
height=40
layer=event_overview_layer
graphic=christmas_hub_event_info_holly
2dangle=64804
colour=0xffffff
clickmask=no

// 191:6
[event_overview_info_layer]
type=layer
x=16
y=52
width=320
height=105
xmode=abs_right
ymode=abs_bottom
layer=event_overview_layer

// 191:7
[event_overview_teleport_button]
type=layer
x=86
y=8
width=180
height=27
xmode=abs_right
ymode=abs_bottom
layer=event_overview_layer
onload=script13968(christmas_hub:event_overview_teleport_button_build, christmas_hub:event_overview_teleport_button_click, rs3tli_positive_button, "Teleport")

// 191:8
[event_overview_info_title]
type=text
height=18
widthmode=minus
xmode=abs_centre
layer=event_overview_info_layer
textfont=museo_sans_13pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xfff8c1

// 191:9
[winter_weeks_layer]
type=layer
x=5
width=5
widthmode=minus
heightmode=minus
layer=parent
hide=yes

// 191:10
[winter_weeks_background]
type=graphic
y=2
width=685
height=403
layer=winter_weeks_layer
noclickthrough=yes
graphic=christmas_hub_event_info_night_sky_winter_weeks
colour=0xffffff
clickmask=no

// 191:11
[event_overview_info_text]
type=text
y=20
height=18
widthmode=minus
heightmode=minus
layer=event_overview_info_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 191:12
[event_overview_parchment_title_1]
type=text
x=16
y=36
width=32
height=20
widthmode=minus
layer=event_overview_parchment_info_layer
textfont=museo_sans_13pt_bold
textalignh=1
textalignv=1
colour=0x000000

// 191:13
[event_overview_parchment_text_1]
type=text
x=16
y=56
width=32
height=64
widthmode=minus
layer=event_overview_parchment_info_layer
textfont=museo_sans_11pt_regular
textalignv=1
colour=0x000000

// 191:14
[event_overview_parchment_title_2]
type=text
x=16
y=120
width=32
height=20
widthmode=minus
layer=event_overview_parchment_info_layer
textfont=museo_sans_13pt_bold
textalignh=1
textalignv=1
colour=0x000000

// 191:15
[event_overview_parchment_text_2]
type=text
x=16
y=140
width=32
height=48
widthmode=minus
layer=event_overview_parchment_info_layer
textfont=museo_sans_11pt_regular
textalignv=1
colour=0x000000

// 191:16
[event_overview_parchment_title_3]
type=text
x=16
y=188
width=32
height=20
widthmode=minus
layer=event_overview_parchment_info_layer
textfont=museo_sans_13pt_bold
textalignh=1
textalignv=1
colour=0x000000

// 191:17
[event_overview_parchment_text_3]
type=text
x=16
y=208
width=32
height=61
widthmode=minus
layer=event_overview_parchment_info_layer
textfont=museo_sans_11pt_regular
textalignv=1
colour=0x000000

// 191:18
[event_overview_parchment_title_4]
type=text
x=16
y=269
width=32
height=20
widthmode=minus
layer=event_overview_parchment_info_layer
textfont=museo_sans_13pt_bold
textalignh=1
textalignv=1
colour=0x000000

// 191:19
[event_overview_parchment_reward_1]
type=model
x=40
y=298
width=36
height=32
layer=event_overview_parchment_info_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 191:20
[event_overview_parchment_reward_2]
type=model
x=86
y=298
width=36
height=32
layer=event_overview_parchment_info_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 191:21
[event_overview_parchment_reward_3]
type=model
x=132
y=298
width=36
height=32
layer=event_overview_parchment_info_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 191:22
[event_overview_parchment_reward_4]
type=model
x=86
y=298
width=36
height=32
xmode=abs_right
layer=event_overview_parchment_info_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 191:23
[event_overview_parchment_reward_5]
type=model
x=40
y=298
width=36
height=32
xmode=abs_right
layer=event_overview_parchment_info_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 191:24
[event_overview_teleport_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=event_overview_teleport_button

// 191:25
[event_overview_teleport_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=event_overview_teleport_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 191:26
[winter_weeks_title]
type=text
x=12
y=8
width=20
height=30
widthmode=minus
layer=winter_weeks_layer
textfont=cinzel_25pt_bold_multiline
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 191:27
[winter_weeks_description]
type=text
x=12
y=42
width=20
height=36
widthmode=minus
layer=winter_weeks_layer
textfont=museo_sans_13pt_bold
textshadow=yes

// 191:28
[winter_weeks_button_layer]
type=layer
x=8
y=8
width=207
height=94
heightmode=minus
ymode=abs_bottom
layer=winter_weeks_layer

// 191:29
[winter_weeks_button_background]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=winter_weeks_button_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 191:30
[winter_weeks_button_1_layer]
type=layer
y=8
width=16
height=40
widthmode=minus
xmode=abs_centre
layer=winter_weeks_button_layer

// 191:31
[winter_weeks_button_1_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_1_layer
onload=script1666(event_com, event_date_01)

// 191:32
[winter_weeks_button_1_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_1_layer
onload=script2317(event_com, event_date_01)

// 191:33
[winter_weeks_button_1_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_1_layer
onload=script2318(event_com, event_date_01)

// 191:34
[winter_weeks_button_1_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_1_layer
hide=yes
onload=script2678(event_com, event_date_01)

// 191:35
[winter_weeks_button_1_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=winter_weeks_button_1_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 191:36
[winter_weeks_button_1_title]
type=text
x=23
width=46
height=8192
widthmode=minus
heightmode=proportion
xmode=abs_centre
layer=winter_weeks_button_1_content_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 191:37
[winter_weeks_button_1_date]
type=text
x=23
width=46
height=8199
widthmode=minus
heightmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=winter_weeks_button_1_content_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 20)

// 191:38
[winter_weeks_button_1_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_1_layer
hide=yes
onload=script5831(event_com, event_date_01)

// 191:39
[winter_weeks_button_2_layer]
type=layer
y=56
width=16
height=40
widthmode=minus
xmode=abs_centre
layer=winter_weeks_button_layer

// 191:40
[winter_weeks_button_2_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_2_layer
onload=script1666(event_com, event_date_08)

// 191:41
[winter_weeks_button_2_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_2_layer
onload=script2317(event_com, event_date_08)

// 191:42
[winter_weeks_button_2_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_2_layer
onload=script2318(event_com, event_date_08)

// 191:43
[winter_weeks_button_2_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_2_layer
hide=yes
onload=script2678(event_com, event_date_08)

// 191:44
[winter_weeks_button_2_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=winter_weeks_button_2_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 191:45
[winter_weeks_button_2_title]
type=text
x=23
width=46
height=8192
widthmode=minus
heightmode=proportion
xmode=abs_centre
layer=winter_weeks_button_2_content_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, -1, 0)

// 191:46
[winter_weeks_button_2_date]
type=text
x=23
width=46
height=8199
widthmode=minus
heightmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=winter_weeks_button_2_content_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, -1, 20)

// 191:47
[winter_weeks_button_2_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_2_layer
hide=yes
onload=script5831(event_com, event_date_08)

// 191:48
[winter_weeks_button_3_layer]
type=layer
y=104
width=16
height=40
widthmode=minus
xmode=abs_centre
layer=winter_weeks_button_layer

// 191:49
[winter_weeks_button_3_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_3_layer
onload=script1666(event_com, event_date_15)

// 191:50
[winter_weeks_button_3_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_3_layer
onload=script2317(event_com, event_date_15)

// 191:51
[winter_weeks_button_3_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_3_layer
onload=script2318(event_com, event_date_15)

// 191:52
[winter_weeks_button_3_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_3_layer
hide=yes
onload=script2678(event_com, event_date_15)

// 191:53
[winter_weeks_button_3_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=winter_weeks_button_3_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 191:54
[winter_weeks_button_3_title]
type=text
x=23
width=46
height=8192
widthmode=minus
heightmode=proportion
xmode=abs_centre
layer=winter_weeks_button_3_content_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, -1, 0)

// 191:55
[winter_weeks_button_3_date]
type=text
x=23
width=46
height=8199
widthmode=minus
heightmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=winter_weeks_button_3_content_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, -1, 20)

// 191:56
[winter_weeks_button_3_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_3_layer
hide=yes
onload=script5831(event_com, event_date_15)

// 191:57
[winter_weeks_button_4_layer]
type=layer
y=152
width=16
height=40
widthmode=minus
xmode=abs_centre
layer=winter_weeks_button_layer

// 191:58
[winter_weeks_button_4_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_4_layer
onload=script1666(event_com, event_date_22)

// 191:59
[winter_weeks_button_4_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_4_layer
onload=script2317(event_com, event_date_22)

// 191:60
[winter_weeks_button_4_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_4_layer
onload=script2318(event_com, event_date_22)

// 191:61
[winter_weeks_button_4_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_4_layer
hide=yes
onload=script2678(event_com, event_date_22)

// 191:62
[winter_weeks_button_4_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=winter_weeks_button_4_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 191:63
[winter_weeks_button_4_title]
type=text
x=23
width=46
height=8192
widthmode=minus
heightmode=proportion
xmode=abs_centre
layer=winter_weeks_button_4_content_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, -1, 0)

// 191:64
[winter_weeks_button_4_date]
type=text
x=23
width=46
height=8199
widthmode=minus
heightmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=winter_weeks_button_4_content_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, -1, 20)

// 191:65
[winter_weeks_button_4_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_4_layer
hide=yes
onload=script5831(event_com, event_date_22)

// 191:66
[winter_weeks_button_5_layer]
type=layer
y=200
width=16
height=40
widthmode=minus
xmode=abs_centre
layer=winter_weeks_button_layer

// 191:67
[winter_weeks_button_5_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_5_layer
onload=script1666(event_com, event_date_29)

// 191:68
[winter_weeks_button_5_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_5_layer
onload=script2317(event_com, event_date_29)

// 191:69
[winter_weeks_button_5_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_5_layer
onload=script2318(event_com, event_date_29)

// 191:70
[winter_weeks_button_5_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_5_layer
hide=yes
onload=script2678(event_com, event_date_29)

// 191:71
[winter_weeks_button_5_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=winter_weeks_button_5_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 191:72
[winter_weeks_button_5_title]
type=text
x=23
width=46
height=8192
widthmode=minus
heightmode=proportion
xmode=abs_centre
layer=winter_weeks_button_5_content_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, -1, 0)

// 191:73
[winter_weeks_button_5_date]
type=text
x=23
width=46
height=8199
widthmode=minus
heightmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=winter_weeks_button_5_content_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, -1, 20)

// 191:74
[winter_weeks_button_5_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=winter_weeks_button_5_layer
hide=yes
onload=script5831(event_com, event_date_29)

// 191:75
[winter_weeks_info_layer]
type=layer
x=8
y=8
width=450
height=310
xmode=abs_right
ymode=abs_bottom
layer=winter_weeks_layer
onvartransmit=script20416
onvartransmitlist=christmas_hub_temp_unprotected_1

// 191:76
[winter_weeks_info_background]
type=graphic
widthmode=minus
heightmode=minus
layer=winter_weeks_info_layer
noclickthrough=yes
graphic=christmas_hub_event_weekly_parchment
colour=0xffffff
clickmask=no

// 191:77
[winter_weeks_info_title]
type=text
x=19
y=36
width=38
height=18
widthmode=minus
layer=winter_weeks_info_layer
noclickthrough=yes
textfont=museo_sans_15pt_bold
textalignh=1
colour=0x000000

// 191:78
[winter_weeks_info_date]
type=text
x=19
y=59
width=38
height=16
widthmode=minus
layer=winter_weeks_info_layer
noclickthrough=yes
textfont=museo_sans_13pt_bold
textalignh=1
colour=0x000000

// 191:79
[winter_weeks_info_time]
type=text
x=19
y=77
width=38
height=16
widthmode=minus
layer=winter_weeks_info_layer
noclickthrough=yes
textfont=museo_sans_13pt_bold
textalignh=1
colour=0x000000

// 191:80
[winter_weeks_info_text_layer]
type=layer
x=19
y=99
width=38
height=134
widthmode=minus
heightmode=minus
layer=winter_weeks_info_layer

