// 1411:0
[variables]
type=layer
widthmode=minus
heightmode=minus
layer=all

// 1411:1
[boxes]
type=layer
widthmode=minus
heightmode=minus
layer=all

// 1411:2
[gold_window_layer]
type=layer
x=10
y=17
width=495
height=303

// 1411:3
[gold_window_background_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_layer
onload=script4260(event_com)

// 1411:4
[gold_window_content_layer]
type=layer
x=12
y=33
width=23
height=43
widthmode=minus
heightmode=minus
layer=gold_window_layer

// 1411:5
[text_display_box]
type=layer
width=50
height=15
layer=aif_text_input
hide=yes

// 1411:6
[all]
type=layer
width=16
height=30
widthmode=minus
heightmode=minus
layer=gold_window_content_layer

// 1411:7
[titles]
type=layer
widthmode=minus
heightmode=minus
layer=all

// 1411:8
[aif_text_input]
type=layer
widthmode=minus
heightmode=minus
layer=all

// 1411:9
[scrollbar]
type=layer
width=16
height=30
heightmode=minus
xmode=abs_right
layer=gold_window_content_layer

// 1411:10
[kick_button_layer]
type=layer
x=3
y=3
width=126
height=24
ymode=abs_bottom
layer=gold_window_content_layer

// 1411:11
[loaddata_button_layer]
type=layer
x=8
y=4
width=126
height=24
xmode=abs_right
ymode=abs_bottom
layer=gold_window_content_layer

// 1411:12
[check_citadel_layer]
type=layer
y=4
width=157
height=24
xmode=abs_centre
ymode=abs_bottom
layer=gold_window_content_layer

// 1411:13
[confirm_layer]
type=layer
widthmode=minus
heightmode=minus
layer=gold_window_content_layer
hide=yes

// 1411:14
[gold_window_frame_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_layer
onload=script4261(event_com)

// 1411:15
[gold_window_title_layer]
type=layer
y=4
width=8
height=23
widthmode=minus
xmode=abs_centre
layer=gold_window_layer

// 1411:16
[gold_window_title_text]
type=text
width=16391
height=4
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_title_layer
textfont=palatino_linotype_18pt_regular
text=Clan Profile Editor
textalignh=1
textalignv=1
colour=0xebe0bc
onload=script4262(event_com)

// 1411:17
[gold_window_close_button_layer]
type=layer
x=9
y=9
width=16
height=15
xmode=abs_right
layer=gold_window_layer
onload=script4256(event_com)

// 1411:18
[gold_window_close_button_on_graphic]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_close_button_layer
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onload=script4257(event_com)

// 1411:19
[gold_window_close_button_over_graphic]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_close_button_layer
colour=0xffffff
clickmask=no
onload=script4258(event_com)

// 1411:20
[aif_gold_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
layer=kick_button_layer
onload=script4201(event_com, aif_gold_button_on)

// 1411:21
[aif_gold_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
layer=kick_button_layer
onload=script4201(event_com, aif_gold_button_over)

// 1411:22
[aif_gold_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
layer=kick_button_layer
onload=script4201(event_com, aif_gold_button_hit)

// 1411:23
[aif_gold_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
layer=kick_button_layer
onload=script4201(event_com, aif_gold_button_selected)

// 1411:24
[kickbutton]
type=layer
widthmode=minus
heightmode=minus
layer=kick_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1411:25
[aif_gold_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
layer=kick_button_layer
hide=yes
noclickthrough=yes
onload=script4201(event_com, aif_gold_button_disabled)

// 1411:26
[aif_gold_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=kick_button_layer

// 1411:27
[aif_gold_button_text]
type=text
width=8
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=aif_gold_button_text_layer
textfont=verdana_13pt_regular
text=Kick & Lock
textalignh=1
textalignv=1
colour=0xe1e1e1
onload=script4151(event_com)

// 1411:28
[aif_gold_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=loaddata_button_layer
onload=script4201(event_com, aif_gold_button_on)

// 1411:29
[aif_gold_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=loaddata_button_layer
onload=script4201(event_com, aif_gold_button_over)

// 1411:30
[aif_gold_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=loaddata_button_layer
onload=script4201(event_com, aif_gold_button_hit)

// 1411:31
[aif_gold_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=loaddata_button_layer
onload=script4201(event_com, aif_gold_button_selected)

// 1411:32
[tierbutton]
type=layer
widthmode=minus
heightmode=minus
layer=loaddata_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1411:33
[aif_gold_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=loaddata_button_layer
hide=yes
noclickthrough=yes
onload=script4201(event_com, aif_gold_button_disabled)

// 1411:34
[aif_gold_button_text_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=loaddata_button_layer

// 1411:35
[aif_gold_button_text_3]
type=text
width=8
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=aif_gold_button_text_layer_3
textfont=verdana_13pt_regular
text=Load Tier Data
textalignh=1
textalignv=1
colour=0xe1e1e1
onload=script4151(event_com)

// 1411:36
[com_36]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_layer
colour=0x000000
fill=yes
trans=66

// 1411:37
[com_37]
type=text
x=58
y=58
width=365
height=32
layer=confirm_layer
textfont=verdana_15pt_regular
text=Are you sure?
textalignh=1
textalignv=1
textshadow=yes

// 1411:38
[no_layer]
type=layer
x=261
y=99
width=126
height=24
ymode=abs_bottom
layer=confirm_layer

// 1411:39
[aif_gold_button_on_layer_5]
type=layer
widthmode=minus
heightmode=minus
layer=no_layer
onload=script4201(event_com, aif_gold_button_on)

// 1411:40
[aif_gold_button_over_layer_5]
type=layer
widthmode=minus
heightmode=minus
layer=no_layer
onload=script4201(event_com, aif_gold_button_over)

// 1411:41
[aif_gold_button_hit_layer_5]
type=layer
widthmode=minus
heightmode=minus
layer=no_layer
onload=script4201(event_com, aif_gold_button_hit)

// 1411:42
[aif_gold_button_selected_layer_5]
type=layer
widthmode=minus
heightmode=minus
layer=no_layer
onload=script4201(event_com, aif_gold_button_selected)

// 1411:43
[no_button]
type=layer
widthmode=minus
heightmode=minus
layer=no_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1411:44
[aif_gold_button_disabled_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=no_layer
hide=yes
noclickthrough=yes
onload=script4201(event_com, aif_gold_button_disabled)

// 1411:45
[aif_gold_button_text_layer_5]
type=layer
widthmode=minus
heightmode=minus
layer=no_layer

// 1411:46
[aif_gold_button_text_5]
type=text
width=8
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=aif_gold_button_text_layer_5
textfont=verdana_13pt_regular
text=No
textalignh=1
textalignv=1
colour=0xe1e1e1
onload=script4151(event_com)

// 1411:47
[yes_layer]
type=layer
x=94
y=99
width=126
height=24
ymode=abs_bottom
layer=confirm_layer

// 1411:48
[aif_gold_button_on_layer_6]
type=layer
widthmode=minus
heightmode=minus
layer=yes_layer
onload=script4201(event_com, aif_gold_button_on)

// 1411:49
[aif_gold_button_over_layer_6]
type=layer
widthmode=minus
heightmode=minus
layer=yes_layer
onload=script4201(event_com, aif_gold_button_over)

// 1411:50
[aif_gold_button_hit_layer_6]
type=layer
widthmode=minus
heightmode=minus
layer=yes_layer
onload=script4201(event_com, aif_gold_button_hit)

// 1411:51
[aif_gold_button_selected_layer_6]
type=layer
widthmode=minus
heightmode=minus
layer=yes_layer
onload=script4201(event_com, aif_gold_button_selected)

// 1411:52
[yes_button]
type=layer
widthmode=minus
heightmode=minus
layer=yes_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1411:53
[aif_gold_button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=yes_layer
hide=yes
noclickthrough=yes
onload=script4201(event_com, aif_gold_button_disabled)

// 1411:54
[aif_gold_button_text_layer_6]
type=layer
widthmode=minus
heightmode=minus
layer=yes_layer

// 1411:55
[aif_gold_button_text_6]
type=text
width=8
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=aif_gold_button_text_layer_6
textfont=verdana_13pt_regular
text=Yes
textalignh=1
textalignv=1
colour=0xe1e1e1
onload=script4151(event_com)

// 1411:56
[text_input_clickout]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=aif_text_input
hide=yes
noclickthrough=yes

// 1411:57
[text_input_box]
type=layer
width=50
height=15
layer=aif_text_input
hide=yes

// 1411:58
[text_input_border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_box
onload=script4003(event_com)

// 1411:59
[text_input_listener]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_box
noclickthrough=yes

// 1411:60
[text_input_listen]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
textfont=verdana_13pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xfffefe

// 1411:61
[text_input_caret]
type=rectangle
width=2
height=14
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
colour=0xe2dede
fill=yes

// 1411:62
[text_input_stop_click]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
noclickthrough=yes

// 1411:63
[aif_gold_button_on_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=check_citadel_layer
onload=script4201(event_com, aif_gold_button_on)

// 1411:64
[aif_gold_button_over_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=check_citadel_layer
onload=script4201(event_com, aif_gold_button_over)

// 1411:65
[aif_gold_button_hit_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=check_citadel_layer
onload=script4201(event_com, aif_gold_button_hit)

// 1411:66
[aif_gold_button_selected_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=check_citadel_layer
onload=script4201(event_com, aif_gold_button_selected)

// 1411:67
[check_citadel]
type=layer
widthmode=minus
heightmode=minus
layer=check_citadel_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1411:68
[aif_gold_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
layer=check_citadel_layer
hide=yes
noclickthrough=yes
onload=script4201(event_com, aif_gold_button_disabled)

// 1411:69
[aif_gold_button_text_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=check_citadel_layer

// 1411:70
[aif_gold_button_text_4]
type=text
width=8
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=aif_gold_button_text_layer_4
textfont=verdana_13pt_regular
text=Check Citadel Empty
textalignh=1
textalignv=1
colour=0xe1e1e1
onload=script4151(event_com)

