// 793:0
[text_layer]
type=layer
y=5
width=10
height=83
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
onload=clanwars_ffa_warning_setup(clanwars_ffa_warning:title, clanwars_ffa_warning:text, clanwars_ffa_warning:left_symbol, clanwars_ffa_warning:right_symbol, clanwars_ffa_warning:nomorewarnings, clanwars_ffa_warning:toggleicon)
onvartransmit=clanwars_ffa_warning_setup(clanwars_ffa_warning:title, clanwars_ffa_warning:text, clanwars_ffa_warning:left_symbol, clanwars_ffa_warning:right_symbol, clanwars_ffa_warning:nomorewarnings, clanwars_ffa_warning:toggleicon)
onvartransmitlist=clanwars

// 793:1
[3x1_negative]
type=layer
x=10
y=33
width=150
height=27
ymode=abs_bottom
layer=mainmodal_window_content
onload=script13968(clanwars_ffa_warning:negative_build, clanwars_ffa_warning:negative_click, rs3tli_negative_button, "Cancel")

// 793:2
[left_symbol]
type=graphic
y=8
width=19
height=19
layer=text_layer
graphic="warning_icons,0"
colour=0xffffff
clickmask=no

// 793:3
[right_symbol]
type=graphic
y=8
width=19
height=19
xmode=abs_right
layer=text_layer
graphic="warning_icons,0"
colour=0xffffff
clickmask=no

// 793:4
[title]
type=text
y=7
width=45
height=21
widthmode=minus
xmode=abs_centre
layer=text_layer
textfont=museo_sans_13pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000
onload=script10496(event_com, event_comsubid, 6)

// 793:5
[mainmodal_window]
type=layer
width=100
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(clanwars_ffa_warning:mainmodal_window_background, clanwars_ffa_warning:mainmodal_window_border, clanwars_ffa_warning:mainmodal_window_content, clanwars_ffa_warning:mainmodal_window_close_button, "Warning", 21218, string_1007)

// 793:6
[toggleicon]
type=graphic
x=3
width=18
height=18
ymode=abs_centre
layer=nomorewarnings
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 793:7
[com_7]
type=text
x=3
width=26
height=6
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=nomorewarnings
textfont=museo_sans_11pt_regular
text=Don't show this again
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 793:8
[text]
type=text
y=25
width=4
height=25
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=text_layer
textfont=p12_full
textalignh=1
textalignv=1
textshadow=yes
colour=0xff7d1f

// 793:9
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 793:10
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 793:11
[3x1_positive]
type=layer
x=10
y=33
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content
onload=script13968(clanwars_ffa_warning:positive_build, clanwars_ffa_warning:positive_click, rs3tli_positive_button, "Go in")

// 793:12
[nomorewarnings]
type=layer
y=10
width=200
height=18
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
transmitop1=yes
op1=Toggle warning

// 793:13
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 793:14
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 793:15
[negative_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_negative

// 793:16
[negative_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_negative
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 793:17
[positive_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_positive

// 793:18
[positive_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use

