// 1087:0
[winner_name]
type=text
x=-8
y=2
width=16919
height=24
widthmode=proportion
layer=mainmodal_window_content
textfont=museo_sans_15pt_bold
text=winner_name
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1087:1
[results_layer]
type=layer
y=34
width=400
height=90
xmode=abs_centre
layer=mainmodal_window_content

// 1087:2
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=results_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1087:3
[personal_layer]
type=layer
y=140
width=400
height=70
xmode=abs_centre
layer=mainmodal_window_content

// 1087:4
[info_holder_active_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=personal_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1087:5
[kills_label]
type=text
x=200
y=10
width=80
height=20
layer=results_layer
textfont=museo_sans_13pt_bold
text=Kills
textalignv=1
colour=0x7592a0

// 1087:6
[score_label]
type=text
x=290
y=10
width=60
height=20
layer=results_layer
textfont=museo_sans_13pt_bold
text=Points
textalignv=1
colour=0x7592a0

// 1087:7
[clan_a_name]
type=text
x=10
y=30
width=160
height=24
layer=results_layer
textfont=museo_sans_13pt_bold
text=clan_a_name
textalignh=2
textalignv=1
colour=0x7592a0

// 1087:8
[clan_b_name]
type=text
x=10
y=54
width=160
height=24
layer=results_layer
textfont=museo_sans_13pt_bold
text=clan_b_name
textalignh=2
textalignv=1
colour=0x7592a0

// 1087:9
[clan_a_kills]
type=text
x=200
y=30
width=60
height=24
layer=results_layer
textfont=museo_sans_13pt_regular
text=100
textalignv=1
colour=0x7592a0

// 1087:10
[clan_b_kills]
type=text
x=200
y=54
width=60
height=24
layer=results_layer
textfont=museo_sans_13pt_regular
text=100
textalignv=1
colour=0x7592a0

// 1087:11
[clan_a_score]
type=text
x=290
y=30
width=85
height=24
layer=results_layer
textfont=museo_sans_13pt_regular
text=100
textalignv=1
colour=0x7592a0

// 1087:12
[clan_b_score]
type=text
x=290
y=54
width=85
height=24
layer=results_layer
textfont=museo_sans_13pt_regular
text=100
textalignv=1
colour=0x7592a0

// 1087:13
[personal_kills_label]
type=text
x=10
y=10
width=220
height=24
layer=personal_layer
textfont=museo_sans_13pt_bold
text=Your kills:
textalignh=2
textalignv=1
colour=0x7592a0

// 1087:14
[personal_deaths_label]
type=text
x=10
y=35
width=220
height=24
layer=personal_layer
textfont=museo_sans_13pt_bold
text=Your deaths:
textalignh=2
textalignv=1
colour=0x7592a0

// 1087:15
[personal_kills_match]
type=text
x=240
y=10
width=60
height=24
layer=personal_layer
textfont=museo_sans_13pt_regular
text=100
textalignv=1
colour=0x7592a0

// 1087:16
[personal_deaths_match]
type=text
x=240
y=35
width=60
height=24
layer=personal_layer
textfont=museo_sans_13pt_regular
text=100
textalignv=1
colour=0x7592a0

// 1087:17
[mainmodal_window]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
onload=script8420(clan_rcw_end:mainmodal_window_background, clan_rcw_end:mainmodal_window_border, clan_rcw_end:mainmodal_window_content, clan_rcw_end:mainmodal_window_close_button, "Rated Clan Wars Results", 21218, string_1007)

// 1087:18
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1087:19
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1087:20
[exit_button_layer]
type=layer
y=24
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 1087:21
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1087:22
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1087:23
[exit_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_layer
onload=script7041(event_com)

// 1087:24
[exit_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_layer
onload=script7042(event_com)

// 1087:25
[exit_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_layer
onload=script7044(event_com)

// 1087:26
[exit_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_layer
hide=yes
onload=script7047(event_com)

// 1087:27
[exit_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=exit_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1087:28
[exit_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_layer
hide=yes
onload=script7060(event_com)

// 1087:29
[exit_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_layer

// 1087:30
[exit_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_text_layer
textfont=cinzel_13pt_bold
text=Exit
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

