// 1086:0
[clan_1_info_a_layer]
type=layer
x=27
y=33
width=210
height=70
layer=mainmodal_window_content

// 1086:1
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_1_info_a_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1086:2
[clan_2_info_a_layer]
type=layer
x=27
y=33
width=210
height=70
xmode=abs_right
layer=mainmodal_window_content

// 1086:3
[info_holder_active_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_2_info_a_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1086:4
[clan_1_info_b_layer]
type=layer
x=27
y=115
width=210
height=120
layer=mainmodal_window_content

// 1086:5
[info_holder_active_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_1_info_b_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1086:6
[clan_2_info_b_layer]
type=layer
x=27
y=115
width=210
height=120
xmode=abs_right
layer=mainmodal_window_content

// 1086:7
[info_holder_active_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_2_info_b_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1086:8
[clan_1_name]
type=text
x=-8
y=2
width=235
height=24
layer=mainmodal_window_content
textfont=museo_sans_15pt_bold
text=clan_1_name
textalignh=2
textalignv=1
colour=0xffcb05

// 1086:9
[vs]
type=text
x=-8
y=2
width=16919
height=24
widthmode=proportion
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
text=vs
textalignh=1
textalignv=1
colour=0xffcb05

// 1086:10
[clan_2_name]
type=text
x=-8
y=2
width=235
height=24
xmode=abs_right
layer=mainmodal_window_content
textfont=museo_sans_15pt_bold
text=clan_2_name
textalignv=1
colour=0xffcb05

// 1086:11
[clan_1_clanmates_label]
type=text
y=10
width=145
height=24
layer=clan_1_info_a_layer
textfont=museo_sans_13pt_bold
text=Clanmates:
textalignh=2
textalignv=1
colour=0x7592a0

// 1086:12
[clan_2_clanmates_label]
type=text
y=10
width=145
height=24
layer=clan_2_info_a_layer
textfont=museo_sans_13pt_bold
text=Clanmates:
textalignh=2
textalignv=1
colour=0x7592a0

// 1086:13
[clan_2_clanmates]
type=text
y=10
width=60
height=24
xmode=abs_right
layer=clan_2_info_a_layer
textfont=museo_sans_13pt_regular
text=100
textalignv=1
colour=0x7592a0

// 1086:14
[clan_2_level_label]
type=text
y=10
width=145
height=24
ymode=abs_bottom
layer=clan_2_info_a_layer
textfont=museo_sans_13pt_bold
text=Average combat:
textalignh=2
textalignv=1
colour=0x7592a0

// 1086:15
[clan_2_level]
type=text
y=10
width=60
height=24
xmode=abs_right
ymode=abs_bottom
layer=clan_2_info_a_layer
textfont=museo_sans_13pt_regular
text=100
textalignv=1
colour=0x7592a0

// 1086:16
[clan_1_status]
type=text
x=10
y=10
width=190
height=100
layer=clan_1_info_b_layer
textfont=museo_sans_13pt_regular
text=status
textlineheight=20
textalignh=1
textalignv=1
colour=0x7592a0

// 1086:17
[clan_2_status]
type=text
x=10
y=10
width=190
height=100
layer=clan_2_info_b_layer
textfont=museo_sans_13pt_regular
text=status
textlineheight=20
textalignh=1
textalignv=1
colour=0x7592a0

// 1086:18
[clan_1_clanmates]
type=text
y=10
width=60
height=24
xmode=abs_right
layer=clan_1_info_a_layer
textfont=museo_sans_13pt_regular
text=100
textalignv=1
colour=0x7592a0

// 1086:19
[clan_1_level_label]
type=text
y=10
width=145
height=24
ymode=abs_bottom
layer=clan_1_info_a_layer
textfont=museo_sans_13pt_bold
text=Average combat:
textalignh=2
textalignv=1
colour=0x7592a0

// 1086:20
[clan_1_level]
type=text
y=10
width=60
height=24
xmode=abs_right
ymode=abs_bottom
layer=clan_1_info_a_layer
textfont=museo_sans_13pt_regular
text=100
textalignv=1
colour=0x7592a0

// 1086:21
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(clan_rcw_start:mainmodal_window_background, clan_rcw_start:mainmodal_window_border, clan_rcw_start:mainmodal_window_content, clan_rcw_start:mainmodal_window_close_button, "Rated Clan Wars Challenge", 21218, string_1007)

// 1086:22
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1086:23
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1086:24
[clan_cup_layer]
type=layer
y=33
width=336
height=25
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
hide=yes

// 1086:25
[clan_cup_text]
type=text
x=30
width=30
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=clan_cup_layer
textfont=museo_sans_11pt_regular
text=Check box to declare official Clan Cup battle
textalignh=2
textalignv=1
colour=0x7592a0

// 1086:26
[clan_cup_checkbox_layer]
type=layer
x=7
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=clan_cup_layer
transmitop1=yes
op1=Toggle
onvartransmit=script10168(71172144, 71172145)
onop=script10169(71172144, 71172145)
onvartransmitlist=clan_cup_main

// 1086:27
[cancel_button_layer]
type=layer
x=52
y=250
width=150
height=27
xmode=abs_right
layer=mainmodal_window_content

// 1086:28
[accept_button_layer]
type=layer
x=52
y=250
width=150
height=27
layer=mainmodal_window_content

// 1086:29
[confirm_clan_cup]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
hide=yes
noclickthrough=yes
onload=script8420(clan_rcw_start:modal_dialog_window_background, clan_rcw_start:modal_dialog_window_border, clan_rcw_start:modal_dialog_window_content, clan_rcw_start:modal_dialog_window_close_button, "", 21217, string_1007)

// 1086:30
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1086:31
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1086:32
[accept_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button_layer
onload=script7041(event_com)

// 1086:33
[accept_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button_layer
onload=script7042(event_com)

// 1086:34
[accept_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button_layer
onload=script7044(event_com)

// 1086:35
[accept_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button_layer
hide=yes
onload=script7047(event_com)

// 1086:36
[accept_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=accept_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1086:37
[accept_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button_layer
hide=yes
onload=script7060(event_com)

// 1086:38
[accept_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button_layer

// 1086:39
[accept_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button_text_layer
textfont=cinzel_13pt_bold
text=Accept
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1086:40
[cancel_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
onload=script7062(event_com)

// 1086:41
[cancel_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
onload=script7063(event_com)

// 1086:42
[cancel_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
onload=script7065(event_com)

// 1086:43
[cancel_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
hide=yes
onload=script7068(event_com)

// 1086:44
[cancel_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=cancel_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1086:45
[cancel_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
hide=yes
onload=script7074(event_com)

// 1086:46
[cancel_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer

// 1086:47
[cancel_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_text_layer
textfont=cinzel_13pt_bold
text=Cancel
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1086:48
[clan_cup_checkbox_selected]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=clan_cup_checkbox_layer
onload=script7755(event_com)

// 1086:49
[clan_cup_checkbox_deselected]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=clan_cup_checkbox_layer
onload=script7756(event_com)

// 1086:50
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirm_clan_cup

// 1086:51
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirm_clan_cup

// 1086:52
[com_52]
type=text
x=10
y=10
width=20
height=20
widthmode=minus
layer=modal_dialog_window_content
textfont=museo_sans_13pt_bold
text=Clan Cup Match - Rules
colour=0xffcb05

// 1086:53
[com_53]
type=text
x=10
y=40
width=20
height=80
widthmode=minus
heightmode=minus
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular_multiline
text=You have selected a Clan Cup match. If your opponent agrees to this match, the following rules will apply:<br><br> - On death, a team mate will leave the game and not be permitted to return.<br> - Last team standing wins.<br> - Clan rankings will not be recorded for the website hiscores.
colour=0x7592a0

// 1086:54
[negative_button_layer]
type=layer
x=121
y=29
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content

// 1086:55
[positive_button_layer]
type=layer
x=-121
y=29
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content

// 1086:56
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_clan_cup

// 1086:57
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=confirm_clan_cup
transmitop1=yes
op1=Close
onop=closebutton_click

// 1086:58
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7041(event_com)

// 1086:59
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7042(event_com)

// 1086:60
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7044(event_com)

// 1086:61
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7047(event_com)

// 1086:62
[accept_clan_cup]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script10174

// 1086:63
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7060(event_com)

// 1086:64
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer

// 1086:65
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Accept
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1086:66
[negative_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7275(event_com)

// 1086:67
[negative_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7276(event_com)

// 1086:68
[negative_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7277(event_com)

// 1086:69
[negative_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
hide=yes
onload=script7445(event_com)

// 1086:70
[cancel_clan_cup]
type=layer
widthmode=minus
heightmode=minus
layer=negative_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script10173

// 1086:71
[negative_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
hide=yes
onload=script7572(event_com)

// 1086:72
[negative_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer

// 1086:73
[negative_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_text_layer
textfont=cinzel_13pt_bold
text=Cancel
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

