// 1097:0
[com_0]
type=rectangle
widthmode=minus
heightmode=minus
layer=list_section
colour=0x1c2c34
onload=script8194(event_com, rs3_rect_light)

// 1097:1
[keyword_1]
type=layer
x=5
y=5
width=230
height=16
layer=list_section

// 1097:2
[keyword_2]
type=layer
x=5
y=44
width=230
height=16
layer=list_section

// 1097:3
[keyword_3]
type=layer
x=5
y=83
width=230
height=16
layer=list_section

// 1097:4
[keyword_4]
type=layer
x=5
y=122
width=230
height=16
layer=list_section

// 1097:5
[keyword_5]
type=layer
x=5
y=161
width=230
height=16
layer=list_section

// 1097:6
[keyword_6]
type=layer
x=5
y=5
width=230
height=16
xmode=abs_right
layer=list_section

// 1097:7
[keyword_7]
type=layer
x=5
y=44
width=230
height=16
xmode=abs_right
layer=list_section

// 1097:8
[keyword_8]
type=layer
x=5
y=83
width=230
height=16
xmode=abs_right
layer=list_section

// 1097:9
[keyword_9]
type=layer
x=5
y=122
width=230
height=16
xmode=abs_right
layer=list_section

// 1097:10
[keyword_10]
type=layer
x=5
y=161
width=230
height=16
xmode=abs_right
layer=list_section

// 1097:11
[dropdown_section]
type=layer
x=10
y=10
width=20
height=40
widthmode=minus
layer=mainmodal_window_content
onvartransmit=script4347
onvartransmitlist=clan_keyword_temp_cat_varp

// 1097:12
[list_section]
type=layer
x=10
y=60
width=20
height=110
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onvartransmit=clan_keywords_update
onvartransmitlist=clan_keyword_main1_varp,clan_keyword_main1_varp,clan_keyword_main2_varp,clan_keyword_main2_varp,clan_keyword_main3_varp,clan_keyword_main3_varp,clan_keyword_main4_varp,clan_keyword_main4_varp,clan_keyword_main5_varp,clan_keyword_main5_varp,clan_keyword_main1_varp,clan_keyword_main1_varp,clan_keyword_main2_varp,clan_keyword_main2_varp,clan_keyword_main3_varp,clan_keyword_main3_varp,clan_keyword_main4_varp,clan_keyword_main4_varp,clan_keyword_main5_varp,clan_keyword_main5_varp

// 1097:13
[com_13]
type=text
x=16
width=20
heightmode=minus
layer=keyword_1
textfont=museo_sans_13pt_regular
text=1.
textalignh=1
textalignv=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1097:14
[keyword1]
type=text
x=41
width=41
widthmode=minus
heightmode=minus
layer=keyword_1
textfont=museo_sans_11pt_regular
text=No keyword selected.
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1097:15
[remove_keyword1]
type=graphic
width=16
height=16
ymode=abs_centre
layer=keyword_1
graphic=hud_combat_btn_bin
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Remove
onmouseover=graphic_swapper(event_com, hud_combat_btn_bin_over)
onmouseleave=graphic_swapper(event_com, hud_combat_btn_bin)

// 1097:16
[save_button]
type=layer
x=10
y=10
width=200
height=27
ymode=abs_bottom
layer=mainmodal_window_content
onload=script13968(clan_keywords:save_build, clan_keywords:save_click, rs3tli_positive_button, "Save & Quit")

// 1097:17
[cancel_button]
type=layer
x=10
y=10
width=200
height=27
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content
onload=script13968(clan_keywords:cancel_build, clan_keywords:cancel_click, rs3tli_negative_button, "Cancel")

// 1097:18
[com_18]
type=rectangle
widthmode=minus
heightmode=minus
layer=dropdown_section
colour=0x1c2c34
onload=script8194(event_com, rs3_rect_light)

// 1097:19
[category_dropdown]
type=layer
x=5
width=190
height=24
ymode=abs_centre
layer=dropdown_section

// 1097:20
[keyword_dropdown]
type=layer
x=210
width=190
height=24
ymode=abs_centre
layer=dropdown_section

// 1097:21
[3x3_button_text]
type=layer
x=5
width=60
height=24
xmode=abs_right
ymode=abs_centre
layer=dropdown_section
onload=script6233(clan_keywords:button_build_text, clan_keywords:add_button, rs3tli_3x3_button, "Add")

// 1097:22
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(clan_keywords:mainmodal_window_background, clan_keywords:mainmodal_window_border, clan_keywords:mainmodal_window_content, clan_keywords:mainmodal_window_close_button, "Clan Keywords", 21218, string_1007)

// 1097:23
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1097:24
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1097:25
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1097:26
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1097:27
[button_build_text]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_text

// 1097:28
[add_button]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_text
transmitop1=yes
op1=Add

// 1097:29
[cat_build]
type=layer
widthmode=minus
heightmode=minus
layer=category_dropdown

// 1097:30
[cat_click]
type=layer
widthmode=minus
heightmode=minus
layer=category_dropdown
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1097:31
[key_build]
type=layer
widthmode=minus
heightmode=minus
layer=keyword_dropdown

// 1097:32
[key_click]
type=layer
widthmode=minus
heightmode=minus
layer=keyword_dropdown
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1097:33
[save_build]
type=layer
widthmode=minus
heightmode=minus
layer=save_button

// 1097:34
[save_click]
type=layer
widthmode=minus
heightmode=minus
layer=save_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1097:35
[cancel_build]
type=layer
widthmode=minus
heightmode=minus
layer=cancel_button

// 1097:36
[cancel_click]
type=layer
widthmode=minus
heightmode=minus
layer=cancel_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=closebutton_click

// 1097:37
[com_37]
type=text
x=16
width=20
heightmode=minus
layer=keyword_2
textfont=museo_sans_13pt_regular
text=2.
textalignh=1
textalignv=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1097:38
[keyword2]
type=text
x=41
width=41
widthmode=minus
heightmode=minus
layer=keyword_2
textfont=museo_sans_11pt_regular
text=No keyword selected.
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1097:39
[remove_keyword2]
type=graphic
width=16
height=16
ymode=abs_centre
layer=keyword_2
graphic=hud_combat_btn_bin
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Remove
onmouseover=graphic_swapper(event_com, hud_combat_btn_bin_over)
onmouseleave=graphic_swapper(event_com, hud_combat_btn_bin)

// 1097:40
[com_40]
type=text
x=16
width=20
heightmode=minus
layer=keyword_3
textfont=museo_sans_13pt_regular
text=3.
textalignh=1
textalignv=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1097:41
[keyword3]
type=text
x=41
width=41
widthmode=minus
heightmode=minus
layer=keyword_3
textfont=museo_sans_11pt_regular
text=No keyword selected.
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1097:42
[remove_keyword3]
type=graphic
width=16
height=16
ymode=abs_centre
layer=keyword_3
graphic=hud_combat_btn_bin
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Remove
onmouseover=graphic_swapper(event_com, hud_combat_btn_bin_over)
onmouseleave=graphic_swapper(event_com, hud_combat_btn_bin)

// 1097:43
[com_43]
type=text
x=16
width=20
heightmode=minus
layer=keyword_4
textfont=museo_sans_13pt_regular
text=4.
textalignh=1
textalignv=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1097:44
[keyword4]
type=text
x=41
width=41
widthmode=minus
heightmode=minus
layer=keyword_4
textfont=museo_sans_11pt_regular
text=No keyword selected.
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1097:45
[remove_keyword4]
type=graphic
width=16
height=16
ymode=abs_centre
layer=keyword_4
graphic=hud_combat_btn_bin
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Remove
onmouseover=graphic_swapper(event_com, hud_combat_btn_bin_over)
onmouseleave=graphic_swapper(event_com, hud_combat_btn_bin)

// 1097:46
[com_46]
type=text
x=16
width=20
heightmode=minus
layer=keyword_5
textfont=museo_sans_13pt_regular
text=5.
textalignh=1
textalignv=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1097:47
[keyword5]
type=text
x=41
width=41
widthmode=minus
heightmode=minus
layer=keyword_5
textfont=museo_sans_11pt_regular
text=No keyword selected.
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1097:48
[remove_keyword5]
type=graphic
width=16
height=16
ymode=abs_centre
layer=keyword_5
graphic=hud_combat_btn_bin
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Remove
onmouseover=graphic_swapper(event_com, hud_combat_btn_bin_over)
onmouseleave=graphic_swapper(event_com, hud_combat_btn_bin)

// 1097:49
[com_49]
type=text
x=16
width=20
heightmode=minus
layer=keyword_6
textfont=museo_sans_13pt_regular
text=6.
textalignh=1
textalignv=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1097:50
[keyword6]
type=text
x=41
width=41
widthmode=minus
heightmode=minus
layer=keyword_6
textfont=museo_sans_11pt_regular
text=No keyword selected.
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1097:51
[remove_keyword6]
type=graphic
width=16
height=16
ymode=abs_centre
layer=keyword_6
graphic=hud_combat_btn_bin
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Remove
onmouseover=graphic_swapper(event_com, hud_combat_btn_bin_over)
onmouseleave=graphic_swapper(event_com, hud_combat_btn_bin)

// 1097:52
[com_52]
type=text
x=16
width=20
heightmode=minus
layer=keyword_7
textfont=museo_sans_13pt_regular
text=7.
textalignh=1
textalignv=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1097:53
[keyword7]
type=text
x=41
width=41
widthmode=minus
heightmode=minus
layer=keyword_7
textfont=museo_sans_11pt_regular
text=No keyword selected.
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1097:54
[remove_keyword7]
type=graphic
width=16
height=16
ymode=abs_centre
layer=keyword_7
graphic=hud_combat_btn_bin
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Remove
onmouseover=graphic_swapper(event_com, hud_combat_btn_bin_over)
onmouseleave=graphic_swapper(event_com, hud_combat_btn_bin)

// 1097:55
[com_55]
type=text
x=16
width=20
heightmode=minus
layer=keyword_8
textfont=museo_sans_13pt_regular
text=8.
textalignh=1
textalignv=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1097:56
[keyword8]
type=text
x=41
width=41
widthmode=minus
heightmode=minus
layer=keyword_8
textfont=museo_sans_11pt_regular
text=No keyword selected.
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1097:57
[remove_keyword8]
type=graphic
width=16
height=16
ymode=abs_centre
layer=keyword_8
graphic=hud_combat_btn_bin
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Remove
onmouseover=graphic_swapper(event_com, hud_combat_btn_bin_over)
onmouseleave=graphic_swapper(event_com, hud_combat_btn_bin)

// 1097:58
[com_58]
type=text
x=16
width=20
heightmode=minus
layer=keyword_9
textfont=museo_sans_13pt_regular
text=9.
textalignh=1
textalignv=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1097:59
[keyword9]
type=text
x=41
width=41
widthmode=minus
heightmode=minus
layer=keyword_9
textfont=museo_sans_11pt_regular
text=No keyword selected.
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1097:60
[remove_keyword9]
type=graphic
width=16
height=16
ymode=abs_centre
layer=keyword_9
graphic=hud_combat_btn_bin
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Remove
onmouseover=graphic_swapper(event_com, hud_combat_btn_bin_over)
onmouseleave=graphic_swapper(event_com, hud_combat_btn_bin)

// 1097:61
[com_61]
type=text
x=16
width=20
heightmode=minus
layer=keyword_10
textfont=museo_sans_13pt_regular
text=10.
textalignh=1
textalignv=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1097:62
[keyword10]
type=text
x=41
width=41
widthmode=minus
heightmode=minus
layer=keyword_10
textfont=museo_sans_11pt_regular
text=No keyword selected.
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1097:63
[remove_keyword10]
type=graphic
width=16
height=16
ymode=abs_centre
layer=keyword_10
graphic=hud_combat_btn_bin
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Remove
onmouseover=graphic_swapper(event_com, hud_combat_btn_bin_over)
onmouseleave=graphic_swapper(event_com, hud_combat_btn_bin)

