// 1093:0
[clan_invite_text]
type=text
height=60
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular
text=You have been invited to start a clan.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
maxlines=4
onload=script10496(event_com, event_comsubid, 3)

// 1093:1
[buttons_layer]
type=layer
height=34
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content

// 1093:2
[decline_btn_layer]
type=layer
x=2
width=150
height=27
ymode=abs_centre
layer=buttons_layer

// 1093:3
[accept_btn_layer]
type=layer
x=2
width=150
height=27
xmode=abs_right
ymode=abs_centre
layer=buttons_layer

// 1093:4
[modal_dialog_window]
type=layer
width=336
height=140
xmode=abs_centre
ymode=abs_centre
onload=script8420(clan_start_invite:modal_dialog_window_background, clan_start_invite:modal_dialog_window_border, clan_start_invite:modal_dialog_window_content, clan_start_invite:modal_dialog_window_close_button, "Invitation to Start a Clan", 21217, string_1007)

// 1093:5
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1093:6
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1093:7
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 1093:8
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1093:9
[accept_btn_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_layer
onload=script7041(event_com)

// 1093:10
[accept_btn_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_layer
onload=script7042(event_com)

// 1093:11
[accept_btn_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_layer
onload=script7044(event_com)

// 1093:12
[accept_btn_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_layer
hide=yes
onload=script7047(event_com)

// 1093:13
[accept_btn_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=accept_btn_layer
pausebutton=yes
pausetext=Select
onload=script4213(event_com)

// 1093:14
[accept_btn_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_layer
hide=yes
onload=script7060(event_com)

// 1093:15
[accept_btn_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_layer

// 1093:16
[accept_btn_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_text_layer
textfont=cinzel_13pt_bold
text=Accept
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1093:17
[decline_btn_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_layer
onload=script7275(event_com)

// 1093:18
[decline_btn_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_layer
onload=script7276(event_com)

// 1093:19
[decline_btn_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_layer
onload=script7277(event_com)

// 1093:20
[decline_btn_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_layer
hide=yes
onload=script7445(event_com)

// 1093:21
[decline_btn_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=decline_btn_layer
pausebutton=yes
pausetext=Select
onload=script4213(event_com)

// 1093:22
[decline_btn_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_layer
hide=yes
onload=script7572(event_com)

// 1093:23
[decline_btn_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_layer

// 1093:24
[decline_btn_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_text_layer
textfont=cinzel_13pt_bold
text=Decline
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

