// 1095:0
[clan_homepage_link]
type=text
height=20
widthmode=minus
layer=link_info
textfont=museo_sans_11pt_regular
text=Clan Home Page
textalignv=1
textshadow=yes
colour=0xeae1c2

// 1095:1
[clan_forum_link]
type=text
y=20
height=20
widthmode=minus
layer=link_info
textfont=museo_sans_11pt_regular
text=Clan Forum
textalignv=1
textshadow=yes
colour=0xeae1c2

// 1095:2
[clan_invite_text]
type=text
height=25
widthmode=minus
xmode=abs_centre
layer=clan_info
textfont=museo_sans_11pt_regular
text=You have been invited to join a clan.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 1095:3
[customisation_layer]
type=layer
y=26
width=124
height=53
xmode=abs_centre
layer=clan_info

// 1095:4
[clan_name]
type=text
y=79
width=5
height=17
widthmode=minus
xmode=abs_centre
layer=clan_info
textfont=museo_sans_13pt_regular
text=Clan name
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1095:5
[clan_motto]
type=text
y=95
width=5
height=25
widthmode=minus
xmode=abs_centre
layer=clan_info
textfont=museo_sans_11pt_regular
text=Clan motto
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 1095:6
[basic_info]
type=layer
x=10
y=120
width=125
height=40
layer=clan_info

// 1095:7
[link_info]
type=layer
x=10
y=120
width=150
height=40
xmode=abs_right
layer=clan_info

// 1095:8
[clan_size]
type=text
height=20
widthmode=minus
layer=basic_info
textfont=museo_sans_11pt_regular
text=Size: 500
textalignv=1
textshadow=yes
colour=0x7592a0

// 1095:9
[clan_home_world]
type=text
y=20
height=20
widthmode=minus
layer=basic_info
textfont=museo_sans_11pt_regular
text=Home World: 145
textalignv=1
textshadow=yes
colour=0x7592a0

// 1095:10
[buttons_layer]
type=layer
y=3
width=20
height=31
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=clan_info

// 1095:11
[decline_btn_layer]
type=layer
width=150
height=27
ymode=abs_centre
layer=buttons_layer

// 1095:12
[accept_btn_layer]
type=layer
width=150
height=27
xmode=abs_right
ymode=abs_centre
layer=buttons_layer

// 1095:13
[clan_info]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window_content

// 1095:14
[clan_data_waiting]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=modal_dialog_window_content
hide=yes
noclickthrough=yes

// 1095:15
[logo1]
type=layer
width=52
height=52
layer=customisation_layer

// 1095:16
[logo2]
type=layer
x=52
width=52
height=52
layer=customisation_layer

// 1095:17
[colour]
type=layer
x=2
width=12
height=52
xmode=abs_right
layer=customisation_layer

// 1095:18
[logo1_gfx]
type=graphic
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=logo1
colour=0xffffff
clickmask=no

// 1095:19
[logo2_gfx]
type=graphic
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=logo2
colour=0xffffff
clickmask=no

// 1095:20
[com_20]
type=graphic
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=colour
graphic=window_texture_1
colour=0xffffff
clickmask=no

// 1095:21
[colour1]
type=rectangle
width=16391
height=8199
widthmode=proportion
heightmode=proportion
layer=colour
colour=0x3811e8
fill=yes

// 1095:22
[colour2]
type=rectangle
width=16391
height=8199
widthmode=proportion
heightmode=proportion
ymode=abs_bottom
layer=colour
colour=0xe90f0f
fill=yes

// 1095:23
[com_23]
type=graphic
width=10
height=10
layer=colour
graphic="aif_overlay_frame_gold_corner_2,1"
hflip=yes
colour=0xffffff
clickmask=no

// 1095:24
[com_24]
type=graphic
width=10
height=10
xmode=abs_right
layer=colour
graphic="aif_overlay_frame_gold_corner_2,1"
colour=0xffffff
clickmask=no

// 1095:25
[com_25]
type=graphic
width=10
height=10
ymode=abs_bottom
layer=colour
graphic="aif_overlay_frame_gold_corner_2,1"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1095:26
[com_26]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_bottom
layer=colour
graphic="aif_overlay_frame_gold_corner_2,1"
vflip=yes
colour=0xffffff
clickmask=no

// 1095:27
[com_27]
type=graphic
width=12
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=colour
graphic="aif_overlay_frame_gold_corner_2,0"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1095:28
[com_28]
type=graphic
width=12
height=10
widthmode=minus
xmode=abs_centre
layer=colour
graphic="aif_overlay_frame_gold_corner_2,0"
colour=0xffffff
clickmask=no

// 1095:29
[com_29]
type=graphic
width=10
height=20
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=colour
graphic="aif_overlay_frame_gold_corner_2,2"
tiling=yes
colour=0xffffff
clickmask=no

// 1095:30
[com_30]
type=graphic
width=10
height=20
heightmode=minus
ymode=abs_centre
layer=colour
graphic="aif_overlay_frame_gold_corner_2,2"
hflip=yes
colour=0xffffff
clickmask=no

// 1095:31
[com_31]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_data_waiting
colour=0x2a2525
fill=yes
trans=42

// 1095:32
[clan_data_waiting_button]
type=layer
y=135
width=126
height=24
xmode=abs_centre
layer=clan_data_waiting

// 1095:33
[aif_bronze_button_on_layer_8]
type=layer
widthmode=minus
heightmode=minus
layer=clan_data_waiting_button
onload=script4201(event_com, aif_bronze_button_on)

// 1095:34
[aif_bronze_button_over_layer_8]
type=layer
widthmode=minus
heightmode=minus
layer=clan_data_waiting_button
onload=script4201(event_com, aif_bronze_button_over)

// 1095:35
[aif_bronze_button_hit_layer_8]
type=layer
widthmode=minus
heightmode=minus
layer=clan_data_waiting_button
onload=script4201(event_com, aif_bronze_button_hit)

// 1095:36
[clan_waiting_cancel]
type=layer
widthmode=minus
heightmode=minus
layer=clan_data_waiting_button
transmitop1=yes
op1=Cancel
onload=script4213(event_com)
onop=closebutton_click

// 1095:37
[aif_bronze_button_text_layer_8]
type=layer
widthmode=minus
heightmode=minus
layer=clan_data_waiting_button

// 1095:38
[aif_bronze_button_text_8]
type=text
width=8
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=aif_bronze_button_text_layer_8
textfont=verdana_13pt_regular
text=Cancel
textalignh=1
textalignv=1
colour=0xe1e1e1
onload=script4259(event_com)

// 1095:39
[com_39]
type=text
y=29
width=260
height=80
xmode=abs_centre
layer=clan_data_waiting
textfont=p12_full
text=Loading clan data...
textalignh=1
textalignv=1
textshadow=yes

// 1095:40
[modal_dialog_window]
type=layer
width=350
height=245
xmode=abs_centre
ymode=abs_centre
onload=script8420(clan_join_invite:modal_dialog_window_background, clan_join_invite:modal_dialog_window_border, clan_join_invite:modal_dialog_window_content, clan_join_invite:modal_dialog_window_close_button, "Invitation to Join a Clan", 21217, string_1007)

// 1095:41
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1095:42
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window
onload=clan_join_invite_onload

// 1095:43
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 1095:44
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1095:45
[accept_btn_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_layer
onload=script7041(event_com)

// 1095:46
[accept_btn_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_layer
onload=script7042(event_com)

// 1095:47
[accept_btn_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_layer
onload=script7044(event_com)

// 1095:48
[accept_btn_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_layer
hide=yes
onload=script7047(event_com)

// 1095:49
[accept_btn_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=accept_btn_layer
pausebutton=yes
pausetext=Select
onload=script4213(event_com)

// 1095:50
[accept_btn_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_layer
hide=yes
onload=script7060(event_com)

// 1095:51
[accept_btn_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_layer

// 1095:52
[accept_btn_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_btn_text_layer
textfont=cinzel_13pt_bold
text=Accept
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1095:53
[decline_btn_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_layer
onload=script7275(event_com)

// 1095:54
[decline_btn_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_layer
onload=script7276(event_com)

// 1095:55
[decline_btn_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_layer
onload=script7277(event_com)

// 1095:56
[decline_btn_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_layer
hide=yes
onload=script7445(event_com)

// 1095:57
[decline_btn_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=decline_btn_layer
pausebutton=yes
pausetext=Select
onload=script4213(event_com)

// 1095:58
[decline_btn_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_layer
hide=yes
onload=script7572(event_com)

// 1095:59
[decline_btn_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_layer

// 1095:60
[decline_btn_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_btn_text_layer
textfont=cinzel_13pt_bold
text=Decline
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

