// 1102:0
[rank_text]
type=text
y=110
width=168
height=23
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular
text=Minimum voting rank:
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1102:1
[rank_layer]
type=layer
y=90
width=200
height=24
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content
onload=static_dropdown_create(clan_voting_setup:rank_build, clan_voting_setup:rank_click, clan_voting_rank_options, "Select a rank", string_0)

// 1102:2
[vote_text]
type=text
y=65
width=168
height=23
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular
text=Set vote duration:
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1102:3
[time_layer]
type=layer
y=45
width=200
height=24
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content
onload=static_dropdown_create(clan_voting_setup:time_build, clan_voting_setup:time_click, clan_voting_time, "Select a duration", string_0)

// 1102:4
[neutral_button_layer]
type=layer
y=8
width=70
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content

// 1102:5
[modal_dialog_window]
type=layer
y=-13
width=249
height=186
xmode=abs_centre
ymode=abs_centre
onload=script8420(clan_voting_setup:modal_dialog_window_background, clan_voting_setup:modal_dialog_window_border, clan_voting_setup:modal_dialog_window_content, clan_voting_setup:modal_dialog_window_close_button, "Clan Vote", 21217, string_1007)

// 1102:6
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1102:7
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1102:8
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 1102:9
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1102:10
[neutral_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
onload=script7062(event_com)

// 1102:11
[neutral_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
onload=script7063(event_com)

// 1102:12
[neutral_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
onload=script7065(event_com)

// 1102:13
[start_layer]
type=layer
widthmode=minus
heightmode=minus
layer=neutral_button_layer
transmitop1=yes
op1=Start Vote
onload=script4213(event_com)

// 1102:14
[neutral_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer

// 1102:15
[neutral_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer
textfont=cinzel_13pt_bold
text=Start Vote
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1102:16
[time_build]
type=layer
widthmode=minus
heightmode=minus
layer=time_layer

// 1102:17
[time_click]
type=layer
widthmode=minus
heightmode=minus
layer=time_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1102:18
[rank_build]
type=layer
widthmode=minus
heightmode=minus
layer=rank_layer

// 1102:19
[rank_click]
type=layer
widthmode=minus
heightmode=minus
layer=rank_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

