// 649:0
[com_0]
type=model
height=60
widthmode=minus
xmode=abs_centre
layer=se
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=10
modelobjwidth=80
transmitop10=yes
op10= 
onload=clanwars_orb(event_com)
onvarctransmit=clanwars_orb(event_com)
onvarctransmitlist=clanwars_orb_graphic

// 649:1
[se_text]
type=text
height=20
widthmode=minus
ymode=abs_bottom
layer=se
textfont=p12_full
text=South-east
textalignh=1
textalignv=1
textshadow=yes
colour=0xb17a37

// 649:2
[se_button]
type=rectangle
width=25
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=se
colour=0x000000
fill=yes
trans=255
transmitop1=yes
opbase=<col=ff9040>South-east
op1=View
onmouseover=text_colour_swapper(clanwars_viewing_orb:se_text, 16777215)
onmouseleave=text_colour_swapper(clanwars_viewing_orb:se_text, 16750623)

// 649:3
[com_3]
type=graphic
x=41
width=36
height=36
layer=stop_button
graphic="miscgraphics,7"
colour=0x000000
clickmask=no

// 649:4
[com_4]
type=graphic
x=26
width=36
height=36
layer=stop_button
graphic="miscgraphics,7"
colour=0x000000
clickmask=no

// 649:5
[com_5]
type=graphic
width=36
height=36
layer=stop_button
graphic="miscgraphics,7"
colour=0x000000
clickmask=no

// 649:6
[com_6]
type=graphic
x=58
width=36
height=36
layer=stop_button
graphic="miscgraphics,8"
colour=0x000000
clickmask=no

// 649:7
[com_7]
type=graphic
x=80
width=36
height=36
layer=stop_button
graphic="miscgraphics,8"
colour=0x000000
clickmask=no

// 649:8
[clanwars_orb_off]
type=text
width=116
height=36
layer=stop_button
textfont=b12_full
text=Stop viewing
textalignh=1
textalignv=1
textshadow=yes
transmitop1=yes
op1=Exit
opcursor0=cursor_enter
targetverb=Exit
onmouseover=text_colour_swapper(event_com, 16776960)
onmouseleave=text_colour_swapper(event_com, 16777215)

// 649:9
[stop_button]
type=layer
width=116
height=36
xmode=abs_centre
ymode=abs_bottom
layer=universe

// 649:10
[nw]
type=layer
y=15
width=80
height=80
layer=universe

// 649:11
[n]
type=layer
width=80
height=80
xmode=abs_centre
layer=universe

// 649:12
[s]
type=layer
y=40
width=80
height=80
xmode=abs_centre
ymode=abs_bottom
layer=universe

// 649:13
[ne]
type=layer
y=15
width=80
height=80
xmode=abs_right
layer=universe

// 649:14
[sw]
type=layer
y=55
width=80
height=80
ymode=abs_bottom
layer=universe

// 649:15
[e]
type=layer
y=-20
width=80
height=80
xmode=abs_right
ymode=abs_centre
layer=universe

// 649:16
[w]
type=layer
y=-20
width=80
height=80
ymode=abs_centre
layer=universe

// 649:17
[se]
type=layer
y=55
width=80
height=80
xmode=abs_right
ymode=abs_bottom
layer=universe

// 649:18
[centre]
type=layer
y=-20
width=80
height=80
xmode=abs_centre
ymode=abs_centre
layer=universe

// 649:19
[universe]
type=layer
widthmode=minus
heightmode=minus

// 649:20
[com_20]
type=model
height=60
widthmode=minus
xmode=abs_centre
layer=centre
model=null
modelobjwidth=80
transmitop10=yes
op10=  
onload=clanwars_orb(event_com)
onvarctransmit=clanwars_orb(event_com)
onvarctransmitlist=clanwars_orb_graphic

// 649:21
[com_21]
type=model
height=60
widthmode=minus
xmode=abs_centre
layer=ne
model=null
modelobjwidth=80
transmitop10=yes
op10= 
onload=clanwars_orb(event_com)
onvarctransmit=clanwars_orb(event_com)
onvarctransmitlist=clanwars_orb_graphic

// 649:22
[com_22]
type=model
height=60
widthmode=minus
xmode=abs_centre
layer=sw
model=null
modelobjwidth=80
transmitop10=yes
op10= 
onload=clanwars_orb(event_com)
onvarctransmit=clanwars_orb(event_com)
onvarctransmitlist=clanwars_orb_graphic

// 649:23
[com_23]
type=model
height=60
widthmode=minus
xmode=abs_centre
layer=nw
model=null
modelobjwidth=80
onload=clanwars_orb(event_com)
onvarctransmit=clanwars_orb(event_com)
onvarctransmitlist=clanwars_orb_graphic

// 649:24
[nw_text]
type=text
width=80
height=20
ymode=abs_bottom
layer=nw
textfont=p12_full
text=North-west
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 649:25
[nw_button]
type=rectangle
width=25
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=nw
colour=0x000000
fill=yes
trans=255
transmitop1=yes
opbase=<col=ff9040>North-west
op1=View
onmouseover=text_colour_swapper(clanwars_viewing_orb:nw_text, 16777215)
onmouseleave=text_colour_swapper(clanwars_viewing_orb:nw_text, 16750623)

// 649:26
[ne_text]
type=text
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=ne
textfont=p12_full
text=North-east
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 649:27
[ne_button]
type=rectangle
width=25
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=ne
colour=0x000000
fill=yes
trans=255
transmitop1=yes
opbase=<col=ff9040>North-east
op1=View
onmouseover=text_colour_swapper(clanwars_viewing_orb:ne_text, 16777215)
onmouseleave=text_colour_swapper(clanwars_viewing_orb:ne_text, 16750623)

// 649:28
[sw_text]
type=text
height=20
widthmode=minus
ymode=abs_bottom
layer=sw
textfont=p12_full
text=South-west
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 649:29
[sw_button]
type=rectangle
width=25
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sw
colour=0x000000
fill=yes
trans=255
transmitop1=yes
opbase=<col=ff9040>South-west
op1=View
onmouseover=text_colour_swapper(clanwars_viewing_orb:sw_text, 16777215)
onmouseleave=text_colour_swapper(clanwars_viewing_orb:sw_text, 16750623)

// 649:30
[centre_text]
type=text
height=20
widthmode=minus
ymode=abs_bottom
layer=centre
textfont=p12_full
text=Centre
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 649:31
[centre_button]
type=rectangle
width=25
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=centre
colour=0x000000
fill=yes
trans=255
transmitop1=yes
opbase=<col=ff9040>Centre
op1=View
onmouseover=text_colour_swapper(clanwars_viewing_orb:centre_text, 16777215)
onmouseleave=text_colour_swapper(clanwars_viewing_orb:centre_text, 16750623)

// 649:32
[com_32]
type=model
height=60
widthmode=minus
xmode=abs_centre
layer=n
model=null
modelobjwidth=80
onload=clanwars_orb(event_com)
onvarctransmit=clanwars_orb(event_com)
onvarctransmitlist=clanwars_orb_graphic

// 649:33
[n_text]
type=text
width=80
height=20
ymode=abs_bottom
layer=n
textfont=p12_full
text=North
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 649:34
[n_button]
type=rectangle
width=25
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=n
colour=0x000000
fill=yes
trans=255
transmitop1=yes
opbase=<col=ff9040>North-west
op1=View
onmouseover=text_colour_swapper(clanwars_viewing_orb:n_text, 16777215)
onmouseleave=text_colour_swapper(clanwars_viewing_orb:n_text, 16750623)

// 649:35
[com_35]
type=model
height=60
widthmode=minus
xmode=abs_centre
layer=s
model=null
modelobjwidth=80
onload=clanwars_orb(event_com)
onvarctransmit=clanwars_orb(event_com)
onvarctransmitlist=clanwars_orb_graphic

// 649:36
[s_text]
type=text
width=80
height=20
ymode=abs_bottom
layer=s
textfont=p12_full
text=South
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 649:37
[s_button]
type=rectangle
width=25
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=s
colour=0x000000
fill=yes
trans=255
transmitop1=yes
opbase=<col=ff9040>North-west
op1=View
onmouseover=text_colour_swapper(clanwars_viewing_orb:s_text, 16777215)
onmouseleave=text_colour_swapper(clanwars_viewing_orb:s_text, 16750623)

// 649:38
[com_38]
type=model
height=60
widthmode=minus
xmode=abs_centre
layer=e
model=null
modelobjwidth=80
onload=clanwars_orb(event_com)
onvarctransmit=clanwars_orb(event_com)
onvarctransmitlist=clanwars_orb_graphic

// 649:39
[e_text]
type=text
height=20
widthmode=minus
ymode=abs_bottom
layer=e
textfont=p12_full
text=East
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 649:40
[e_button]
type=rectangle
width=25
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=e
colour=0x000000
fill=yes
trans=255
transmitop1=yes
opbase=<col=ff9040>South-east
op1=View
onmouseover=text_colour_swapper(clanwars_viewing_orb:e_text, 16777215)
onmouseleave=text_colour_swapper(clanwars_viewing_orb:e_text, 16750623)

// 649:41
[com_41]
type=model
height=60
widthmode=minus
xmode=abs_centre
layer=w
model=null
modelobjwidth=80
onload=clanwars_orb(event_com)
onvarctransmit=clanwars_orb(event_com)
onvarctransmitlist=clanwars_orb_graphic

// 649:42
[w_text]
type=text
height=20
widthmode=minus
ymode=abs_bottom
layer=w
textfont=p12_full
text=West
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f

// 649:43
[w_button]
type=rectangle
width=25
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=w
colour=0x000000
fill=yes
trans=255
transmitop1=yes
opbase=<col=ff9040>South-east
op1=View
onmouseover=text_colour_swapper(clanwars_viewing_orb:w_text, 16777215)
onmouseleave=text_colour_swapper(clanwars_viewing_orb:w_text, 16750623)

// 649:44
[com_44]
type=text
x=34
y=34
width=32
height=32
textshadow=yes

