// 233:0
[1x1_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_ban_button_layer
onload=script9992(event_com)

// 233:1
[1x1_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_ban_button_layer
onload=script9993(event_com)

// 233:2
[1x1_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_ban_button_layer
onload=script9994(event_com)

// 233:3
[1x1_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_ban_button_layer
hide=yes
onload=script9996(event_com)

// 233:4
[remove_ban_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=remove_ban_button_layer
transmitop1=yes
op1=Remove ban
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Remove a player from the clan ban list.", event_com, event_comsubid)

// 233:5
[1x1_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_ban_button_layer
hide=yes
onload=script9998(event_com)

// 233:6
[1x1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_ban_button_layer
onload=script9992(event_com)

// 233:7
[1x1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_ban_button_layer
onload=script9993(event_com)

// 233:8
[1x1_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_ban_button_layer
onload=script9994(event_com)

// 233:9
[1x1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_ban_button_layer
hide=yes
onload=script9996(event_com)

// 233:10
[add_ban_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=add_ban_button_layer
transmitop1=yes
transmitop2=yes
op1=Add ban
op2=Allow/disallow recruit+ to view list
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Ban a player from the clan, so they<br>cannot enter the chat until removed<br>from this list.", event_com, event_comsubid)

// 233:11
[1x1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_ban_button_layer
hide=yes
onload=script9998(event_com)

// 233:12
[add_ban_button_layer]
type=layer
x=4
y=4
width=24
height=24
layer=content_layer

// 233:13
[remove_ban_button_layer]
type=layer
x=28
y=4
width=24
height=24
layer=content_layer

// 233:14
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script8420(clan_chat_ban_buttons_dropdown:background_layer, clan_chat_ban_buttons_dropdown:border_layer, clan_chat_ban_buttons_dropdown:content_layer, null, "", 21259, null)

// 233:15
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=frame_layer

// 233:16
[content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=frame_layer

// 233:17
[border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=frame_layer

// 233:18
[add_ban_button_graphic]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=add_ban_button_active_layer
graphic="aif_clanchat_icons,6"
colour=0xffffff
clickmask=no

// 233:19
[remove_ban_button_layer_graphic]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=remove_ban_button_active_layer
graphic="aif_clanchat_icons,5"
colour=0xffffff
clickmask=no

