// 1100:0
[text_layer]
type=layer
width=20
height=21
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content

// 1100:1
[instructions]
type=text
y=30
width=400
height=20
xmode=abs_centre
layer=content
textfont=p11_full
text=Type or paste in your clan forum's thread ID:
textalignh=1
textalignv=1
colour=0x1f1d19

// 1100:2
[cancel_button_layer]
type=layer
x=154
y=12
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=content

// 1100:3
[left_gfx]
type=graphic
width=6
height=21
layer=text_layer
graphic="aif_text_input_3,0"
colour=0xffffff
clickmask=no

// 1100:4
[window_1_no_title_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(clan_qfc_input:background, clan_qfc_input:border, null, null, "", 23001, string_1006)

// 1100:5
[background]
type=layer
widthmode=minus
heightmode=minus
layer=window_1_no_title_layer

// 1100:6
[border]
type=layer
widthmode=minus
heightmode=minus
layer=window_1_no_title_layer
onload=script8420(clan_qfc_input:background, clan_qfc_input:border, null, null, "Forum Thread ID", 23001, string_1006)

// 1100:7
[content]
type=layer
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=window_1_no_title_layer

// 1100:8
[paste_button_layer]
type=layer
y=12
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=content

// 1100:9
[accept_button_layer]
type=layer
x=-154
y=12
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=content

// 1100:10
[middle_gfx]
type=graphic
width=12
height=21
widthmode=minus
xmode=abs_centre
layer=text_layer
graphic="aif_text_input_3,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1100:11
[right_gfx]
type=graphic
width=6
height=21
xmode=abs_right
layer=text_layer
graphic="aif_text_input_3,2"
colour=0xffffff
clickmask=no

// 1100:12
[text_box]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_layer
textfont=verdana_11pt_regular_multiline
textalignh=1
textalignv=1
colour=0x1f1d19
onload=clan_qfc_text_init(event_com, clan_qfc_input:caret)
onclick=clan_qfc_text_click(event_com, clan_qfc_input:caret, event_mousex)

// 1100:13
[caret]
type=line
x=2
height=12
xmode=abs_centre
ymode=abs_centre
layer=text_layer
hide=yes
colour=0xffffff

// 1100:14
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button_layer
onload=script7041(event_com)

// 1100:15
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button_layer
onload=script7042(event_com)

// 1100:16
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button_layer
onload=script7044(event_com)

// 1100:17
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button_layer
hide=yes
onload=script7047(event_com)

// 1100:18
[ok_button]
type=layer
widthmode=minus
heightmode=minus
layer=accept_button_layer
onload=script4213(event_com)
onclick=clan_qfc_return(1)

// 1100:19
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button_layer
hide=yes
onload=script7060(event_com)

// 1100:20
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button_layer

// 1100:21
[aif_bronze_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Accept
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1100:22
[neutral_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=paste_button_layer
onload=script7062(event_com)

// 1100:23
[neutral_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=paste_button_layer
onload=script7063(event_com)

// 1100:24
[neutral_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=paste_button_layer
onload=script7065(event_com)

// 1100:25
[neutral_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=paste_button_layer
hide=yes
onload=script7068(event_com)

// 1100:26
[paste_button_1]
type=layer
widthmode=minus
heightmode=minus
layer=paste_button_layer
onload=script4213(event_com)
onclick=script4366

// 1100:27
[neutral_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=paste_button_layer
hide=yes
onload=script7074(event_com)

// 1100:28
[neutral_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=paste_button_layer

// 1100:29
[aif_bronze_button_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer
textfont=cinzel_13pt_bold
text=Paste
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1100:30
[neutral_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
onload=script7062(event_com)

// 1100:31
[neutral_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
onload=script7063(event_com)

// 1100:32
[neutral_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
hide=yes
onload=script7065(event_com)

// 1100:33
[neutral_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
hide=yes
onload=script7068(event_com)

// 1100:34
[cancel_button]
type=layer
widthmode=minus
heightmode=minus
layer=cancel_button_layer
onload=script4213(event_com)
onclick=clan_qfc_return(0)

// 1100:35
[neutral_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
hide=yes
onload=script7074(event_com)

// 1100:36
[neutral_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer

// 1100:37
[aif_bronze_button_text_2]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer_1
textfont=cinzel_13pt_bold
text=Cancel
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

