// 234:0
[1x1_button_on_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=leave_clan_button_layer
onload=script9992(event_com)

// 234:1
[1x1_button_over_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=leave_clan_button_layer
onload=script9993(event_com)

// 234:2
[1x1_button_hit_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=leave_clan_button_layer
onload=script9994(event_com)

// 234:3
[1x1_button_selected_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=leave_clan_button_layer
hide=yes
onload=script9996(event_com)

// 234:4
[leave_clan_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=leave_clan_button_layer
transmitop1=yes
op1=Leave Clan
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Leave your clan completely<br>You will need to be<br>re-invited to join again.", event_com, event_comsubid)

// 234:5
[1x1_button_disabled_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=leave_clan_button_layer
hide=yes
onload=script9998(event_com)

// 234:6
[1x1_button_on_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=invite_button_layer
onload=script9992(event_com)

// 234:7
[1x1_button_over_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=invite_button_layer
onload=script9993(event_com)

// 234:8
[1x1_button_hit_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=invite_button_layer
onload=script9994(event_com)

// 234:9
[clan_invite_button_selected]
type=layer
widthmode=minus
heightmode=minus
layer=invite_button_layer
hide=yes
onload=script9996(event_com)

// 234:10
[clan_invite_target]
type=layer
widthmode=minus
heightmode=minus
layer=invite_button_layer
targetmask=player
targetverb=Invite Player To Clan
targetcursor2=cursor_tick
targetcursor3=cursor_cross

// 234:11
[clan_invite_button]
type=layer
widthmode=minus
heightmode=minus
layer=invite_button_layer
transmitop1=yes
targetmask=player
op1=Invite
onload=script4213(event_com)
onmouserepeat=script8799("Invite<br>Recruiters can invite players on the same world to join their clan.", event_com, event_comsubid)

// 234:12
[1x1_button_disabled_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=invite_button_layer
hide=yes
onload=script9998(event_com)

// 234:13
[1x1_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_settings_button_layer
onload=script9992(event_com)

// 234:14
[1x1_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_settings_button_layer
onload=script9993(event_com)

// 234:15
[1x1_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_settings_button_layer
onload=script9994(event_com)

// 234:16
[1x1_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_settings_button_layer
hide=yes
onload=script9996(event_com)

// 234:17
[clan_settings_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=clan_settings_button_layer
transmitop1=yes
op1=Clan Settings
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Clan settings", event_com, event_comsubid)

// 234:18
[1x1_button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_settings_button_layer
hide=yes
onload=script9998(event_com)

// 234:19
[1x1_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_noticeboard_button_layer
onload=script9992(event_com)

// 234:20
[1x1_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_noticeboard_button_layer
onload=script9993(event_com)

// 234:21
[1x1_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_noticeboard_button_layer
onload=script9994(event_com)

// 234:22
[1x1_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_noticeboard_button_layer
hide=yes
onload=script9996(event_com)

// 234:23
[clan_noticeboard_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=clan_noticeboard_button_layer
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Clan Noticeboard
op2=Edit Clan Noticeboard
op3=Clan Noticeboard Broadcast
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Clan noticeboard functions.", event_com, event_comsubid)

// 234:24
[1x1_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_noticeboard_button_layer
hide=yes
onload=script9998(event_com)

// 234:25
[1x1_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_info_button_layer
onload=script9992(event_com)

// 234:26
[1x1_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_info_button_layer
onload=script9993(event_com)

// 234:27
[1x1_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_info_button_layer
onload=script9994(event_com)

// 234:28
[1x1_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_info_button_layer
hide=yes
onload=script9996(event_com)

// 234:29
[clan_info_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=clan_info_button_layer
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
op1=Clan Details
op2=Show Clan Log
op3=Broadcast Clan Log to Clan
op4=Set Clan Login Message
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Clan details", event_com, event_comsubid)

// 234:30
[1x1_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_info_button_layer
hide=yes
onload=script9998(event_com)

// 234:31
[1x1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_join_affinedchat_button_layer
onload=script9992(event_com)

// 234:32
[1x1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_join_affinedchat_button_layer
onload=script9993(event_com)

// 234:33
[1x1_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_join_affinedchat_button_layer
onload=script9994(event_com)

// 234:34
[1x1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_join_affinedchat_button_layer
hide=yes
onload=script9996(event_com)

// 234:35
[clan_join_affinedchat_button]
type=layer
width=24
height=24
layer=clan_join_affinedchat_button_layer
transmitop1=yes
op1=Join Clan Channel
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Join your clan chat channel", event_com, event_comsubid)

// 234:36
[1x1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_join_affinedchat_button_layer
hide=yes
onload=script9998(event_com)

// 234:37
[clan_join_affinedchat_button_layer]
type=layer
x=5
y=4
width=24
height=24
layer=content_layer

// 234:38
[clan_info_button_layer]
type=layer
x=29
y=4
width=24
height=24
layer=content_layer

// 234:39
[clan_noticeboard_button_layer]
type=layer
x=53
y=4
width=24
height=24
layer=content_layer

// 234:40
[clan_settings_button_layer]
type=layer
x=77
y=4
width=24
height=24
layer=content_layer

// 234:41
[invite_button_layer]
type=layer
x=101
y=4
width=24
height=24
layer=content_layer

// 234:42
[leave_clan_button_layer]
type=layer
x=125
y=4
width=24
height=24
layer=content_layer

// 234:43
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script8420(clan_chat_buttons_dropdown:background_layer, clan_chat_buttons_dropdown:border_layer, clan_chat_buttons_dropdown:content_layer, null, "", 21259, null)

// 234:44
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=frame_layer

// 234:45
[content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=frame_layer
onload=script6210(event_com)

// 234:46
[border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=frame_layer

// 234:47
[clan_join_affinedchat_button_gfx]
type=graphic
x=-1
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=clan_join_affinedchat_button
graphic="aif_clanchat_icons,12"
colour=0xffffff
clickmask=no

// 234:48
[clan_info_button_graphic_1]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=clan_info_button_active_layer
graphic="aif_clanchat_icons,0"
colour=0xffffff
clickmask=no

// 234:49
[clan_settings_button_graphic]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=clan_settings_button_active_layer
graphic="aif_clanchat_icons,1"
colour=0xffffff
clickmask=no

// 234:50
[clan_invite_button_gfx]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=clan_invite_button
graphic="aif_clanchat_icons,2"
colour=0xffffff
clickmask=no

// 234:51
[leave_clan_button_graphic]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=leave_clan_button_active_layer
graphic="aif_clanchat_icons,11"
colour=0xffffff
clickmask=no

// 234:52
[clan_noticeboard_button_graphic]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=clan_noticeboard_button_active_layer
graphic="aif_clanchat_icons,9"
colour=0xffffff
clickmask=no

