// 205:0
[current_tab_layer]
type=layer
width=119
height=24
ymode=abs_bottom
layer=tabs

// 205:1
[combat_tab_layer]
type=layer
x=120
width=119
height=24
ymode=abs_bottom
layer=tabs

// 205:2
[skilling_tab_layer]
type=layer
x=240
width=119
height=24
ymode=abs_bottom
layer=tabs

// 205:3
[combined_tab_layer]
type=layer
x=360
width=119
height=24
ymode=abs_bottom
layer=tabs

// 205:4
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(clancup:mainmodal_window_background, clancup:mainmodal_window_border, clancup:mainmodal_window_content, clancup:mainmodal_window_close_button, "Clan Cup", 21218, string_1007)

// 205:5
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 205:6
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 205:7
[background_layer]
type=layer
x=5
y=23
width=10
height=29
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 205:8
[tabs]
type=layer
x=5
width=10
height=24
widthmode=minus
layer=mainmodal_window_content

// 205:9
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 205:10
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 205:11
[modal_tab_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combined_tab_layer
onload=script8103(event_com)

// 205:12
[modal_tab_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combined_tab_layer
onload=script9645(event_com)

// 205:13
[modal_tab_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combined_tab_layer
onload=script9646(event_com)

// 205:14
[combined_tab_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combined_tab_layer
hide=yes
onload=script9647(event_com)

// 205:15
[combined_tab]
type=layer
widthmode=minus
heightmode=minus
layer=combined_tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9654(clancup:combined_tab_selected, clancup:combined_text)

// 205:16
[combined_tab_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combined_tab_layer
hide=yes
onload=script9650(event_com)

// 205:17
[combined_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combined_tab_layer

// 205:18
[modal_tab_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combined_tab_text_layer
textfont=cinzel_13pt_bold
text=Combined
textalignh=1
textalignv=1
colour=0x000000
onload=script9653(event_com)

// 205:19
[modal_tab_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skilling_tab_layer
onload=script8103(event_com)

// 205:20
[modal_tab_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skilling_tab_layer
onload=script9645(event_com)

// 205:21
[modal_tab_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skilling_tab_layer
onload=script9646(event_com)

// 205:22
[skilling_tab_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skilling_tab_layer
hide=yes
onload=script9647(event_com)

// 205:23
[skilling_tab]
type=layer
widthmode=minus
heightmode=minus
layer=skilling_tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9654(clancup:skilling_tab_selected, clancup:skilling_text)

// 205:24
[skilling_tab_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skilling_tab_layer
hide=yes
onload=script9650(event_com)

// 205:25
[skilling_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skilling_tab_layer

// 205:26
[modal_tab_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skilling_tab_text_layer
textfont=cinzel_13pt_bold
text=Skilling
textalignh=1
textalignv=1
colour=0x000000
onload=script9653(event_com)

// 205:27
[modal_tab_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combat_tab_layer
onload=script8103(event_com)

// 205:28
[modal_tab_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combat_tab_layer
onload=script9645(event_com)

// 205:29
[modal_tab_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combat_tab_layer
onload=script9646(event_com)

// 205:30
[combat_tab_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combat_tab_layer
hide=yes
onload=script9647(event_com)

// 205:31
[combat_tab]
type=layer
widthmode=minus
heightmode=minus
layer=combat_tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9654(clancup:combat_tab_selected, clancup:combat_text)

// 205:32
[combat_tab_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combat_tab_layer
hide=yes
onload=script9650(event_com)

// 205:33
[combat_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combat_tab_layer

// 205:34
[modal_tab_text_2]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combat_tab_text_layer
textfont=cinzel_13pt_bold
text=Combat
textalignh=1
textalignv=1
colour=0x000000
onload=script9653(event_com)

// 205:35
[modal_tab_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=current_tab_layer
onload=script8103(event_com)

// 205:36
[modal_tab_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=current_tab_layer
onload=script9645(event_com)

// 205:37
[modal_tab_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=current_tab_layer
onload=script9646(event_com)

// 205:38
[current_tab_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=current_tab_layer
hide=yes
onload=script9648(event_com)

// 205:39
[current_tab]
type=layer
widthmode=minus
heightmode=minus
layer=current_tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9654(clancup:current_tab_selected, clancup:current_text)

// 205:40
[current_tab_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=current_tab_layer
hide=yes
onload=script9650(event_com)

// 205:41
[current_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=current_tab_layer

// 205:42
[modal_tab_text_3]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=current_tab_text_layer
textfont=cinzel_13pt_bold
text=Current
textalignh=1
textalignv=1
colour=0x000000
onload=script9653(event_com)

// 205:43
[text_layers]
type=layer
x=10
y=24
width=20
height=33
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 205:44
[combat_text]
type=layer
widthmode=minus
heightmode=minus
layer=text_layers
hide=yes

// 205:45
[skilling_text]
type=layer
widthmode=minus
heightmode=minus
layer=text_layers
hide=yes

// 205:46
[combined_text]
type=layer
widthmode=minus
heightmode=minus
layer=text_layers
hide=yes

// 205:47
[current_text]
type=layer
widthmode=minus
heightmode=minus
layer=text_layers

// 205:48
[combat_winner_text]
type=text
y=30
height=35
widthmode=minus
heightmode=minus
layer=combat_text
textfont=cinzel_18pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 205:49
[combat_title_text]
type=text
height=30
widthmode=minus
layer=combat_text
textfont=museo_sans_19pt_bold
textalignv=1
textshadow=yes
colour=0xffcb05

// 205:50
[skilling_winner_text]
type=text
y=30
height=35
widthmode=minus
heightmode=minus
layer=skilling_text
textfont=cinzel_18pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 205:51
[combined_winner_text]
type=text
y=30
height=35
widthmode=minus
heightmode=minus
layer=combined_text
textfont=cinzel_18pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 205:52
[current_winner_text]
type=text
y=30
height=35
widthmode=minus
heightmode=minus
layer=current_text
textfont=cinzel_18pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 205:53
[skilling_title_text]
type=text
height=30
widthmode=minus
layer=skilling_text
textfont=museo_sans_19pt_bold
textalignv=1
textshadow=yes
colour=0xffcb05

// 205:54
[combined_title_text]
type=text
height=30
widthmode=minus
layer=combined_text
textfont=museo_sans_19pt_bold
textalignv=1
textshadow=yes
colour=0xffcb05

// 205:55
[current_title_text]
type=text
height=30
widthmode=minus
layer=current_text
textfont=museo_sans_19pt_bold
textalignv=1
textshadow=yes
colour=0xffcb05

