// 1935:0
[mainmodal_window]
type=layer
width=290
height=395
xmode=abs_centre
ymode=abs_centre
onload=script8420(clue_stats:mainmodal_window_background, clue_stats:mainmodal_window_border, clue_stats:mainmodal_window_content, clue_stats:mainmodal_window_close_button, "Treasure Trail Stats", 21218, null)

// 1935:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1935:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script14028

// 1935:3
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1935:4
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

