// 1106:0
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=colour_swatch
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1106:1
[sample]
type=rectangle
y=10
width=40
height=40
xmode=abs_centre
layer=colour_swatch
colour=0xffffff
fill=yes

// 1106:2
[sl_chooser]
type=layer
contenttype=1409
x=-19
y=21
width=128
height=128
xmode=abs_centre
layer=content_layer
onclick=script5162(event_com, 72482820, colour_picker:sample, event_mousex, event_mousey)
onhold=script5163(event_com, 72482820, colour_picker:sample, event_mousex, event_mousey)

// 1106:3
[sl_cross_layer]
type=layer
x=-19
y=16
width=138
height=138
xmode=abs_centre
layer=content_layer

// 1106:4
[h_chooser]
type=layer
contenttype=1408
x=77
y=21
width=24
height=128
xmode=abs_centre
layer=content_layer
onclick=script5159(colour_picker:sl_chooser, event_com, colour_picker:sample, event_mousex, event_mousey)
onhold=script5160(colour_picker:sl_chooser, event_com, colour_picker:sample, event_mousex, event_mousey)

// 1106:5
[h_line_layer]
type=layer
x=77
y=20
width=32
height=130
xmode=abs_centre
layer=content_layer

// 1106:6
[colour_swatch]
type=layer
y=168
width=60
height=60
xmode=abs_centre
layer=content_layer

// 1106:7
[h_line]
type=line
width=32
layer=h_line_layer
colour=0xffffff

// 1106:8
[cross]
type=graphic
width=11
height=11
layer=sl_cross_layer
graphic=plus_icon_1
colour=0xffffff
clickmask=no

// 1106:9
[mainmodal_window]
type=layer
width=262
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(colour_picker:mainmodal_window_background, colour_picker:mainmodal_window_border, colour_picker:mainmodal_window_content, colour_picker:mainmodal_window_close_button, "Colour Picker", 21218, string_1007)

// 1106:10
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1106:11
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1106:12
[content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
onvartransmit=script5158(colour_picker:sl_chooser, colour_picker:h_chooser, colour_picker:sample)
onvartransmitlist=colour_picker_colour

// 1106:13
[3x1_positive_single]
type=layer
y=20
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=content_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Accept")
onclick=script5165

// 1106:14
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1106:15
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onclick=script5166

