// 1616:0
[fullscreen_adrenaline_bar_graphic]
type=graphic
width=425
height=12
xmode=abs_right
layer=fullscreen_adrenaline_bar
graphic="combatv2_energy_level,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1616:1
[fullscreen_border_layer]
type=layer
width=519
height=76
xmode=abs_centre
noclickthrough=yes

// 1616:2
[com_2]
type=text
x=-282
y=10
width=100
height=32
xmode=abs_centre
textfont=cinzel_13pt_bold
text=100%
textalignh=2
textshadow=yes
colour=0xca851b
onvartransmit=script11344(event_com)
onvartransmitlist=sa_energy

// 1616:3
[fullscreen_buttons_bg_top]
type=graphic
y=5
width=465
height=16
xmode=abs_centre
layer=fullscreen_border_layer
graphic=combatv2_bar_bg_top
colour=0xffffff
clickmask=no

// 1616:4
[fullscreen_buttons_bg_bottom]
type=graphic
y=21
width=465
height=16
xmode=abs_centre
layer=fullscreen_border_layer
graphic=combatv2_bar_bg_top
vflip=yes
colour=0xffffff
clickmask=no

// 1616:5
[fullscreen_adrenaline_bar_red]
type=graphic
x=48
y=15
width=1
height=12
layer=fullscreen_border_layer
graphic="combatv2_energy_level,3"
tiling=yes
colour=0xffffff
clickmask=no
onvartransmit=script6051(event_com)
onvartransmitlist=sa_energy

// 1616:6
[fullscreen_energy_pulse]
type=graphic
x=160
y=17
width=32
height=8
layer=fullscreen_border_layer
hide=yes
graphic=combatv2_energy_pulse
colour=0xffffff
clickmask=no

// 1616:7
[flash_ah_aaah]
type=graphic
x=167
y=6
width=32
height=32
layer=fullscreen_border_layer
hide=yes
graphic=combatv2_energy_highlight
colour=0xffffff
clickmask=no

// 1616:8
[fullscreen_adrenaline_bar]
type=layer
x=48
y=15
width=1
height=12
layer=fullscreen_border_layer
onvartransmit=script6047(combatv2_adrenaline:fullscreen_adrenaline_bar, combatv2_adrenaline:fullscreen_overadrenaline_bar)
onvartransmitlist=sa_energy

// 1616:9
[fullscreen_overadrenaline_bar]
type=layer
x=48
y=15
width=1
height=12
layer=fullscreen_border_layer

// 1616:10
[fullscreen_adrenaline_bg]
type=graphic
y=7
width=445
height=24
xmode=abs_centre
layer=fullscreen_border_layer
graphic=combatv2_bar_2
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
op1=Toggle Special Attack
op2=Toggle Auto Retaliate
onload=script4406(event_com, 1, cursor_use)

// 1616:11
[fullscreen_threshold_highlight]
type=graphic
x=249
y=7
width=21
height=24
layer=fullscreen_border_layer
hide=yes
graphic=combatv2_bar_mid_highlight
colour=0xffffff
clickmask=no

// 1616:12
[fullscreen_ultimate_highlight_right]
type=graphic
x=445
y=7
width=37
height=24
layer=fullscreen_border_layer
hide=yes
graphic=combatv2_bar_end_highlight
colour=0xffffff
clickmask=no

// 1616:13
[fullscreen_ultimate_highlight_left]
type=graphic
x=37
y=7
width=37
height=24
layer=fullscreen_border_layer
hide=yes
graphic=combatv2_bar_end_highlight
hflip=yes
colour=0xffffff
clickmask=no

// 1616:14
[actionbar_listeners]
type=layer
width=1
height=1

// 1616:15
[direct_targetting_listener]
type=layer
widthmode=minus
heightmode=minus
layer=actionbar_listeners
transmitop1=yes
targetmask=npc,player
op1=Target
opcursor0=cursor_attack
targetverb=Target
targetcursor2=cursor_attack
targetcursor3=cursor_cross

// 1616:16
[tab_targetting_listener]
type=layer
widthmode=minus
heightmode=minus
layer=actionbar_listeners
transmitop1=yes
transmitop2=yes
op1=Next-Target
op2=Prev-Target

// 1616:17
[fullscreen_overadrenaline_bar_graphic]
type=graphic
width=425
height=12
xmode=abs_right
layer=fullscreen_overadrenaline_bar
graphic="combatv2_energy_level,4"
tiling=yes
colour=0xffffff
clickmask=no

