// 1402:0
[modal_dialog_window]
type=layer
width=350
height=205
xmode=abs_centre
ymode=abs_centre
onload=script8420(combatv2_teleother:modal_dialog_window_background, combatv2_teleother:modal_dialog_window_border, combatv2_teleother:modal_dialog_window_content, combatv2_teleother:modal_dialog_window_close_button, "Teleport Offer", 21217, string_1007)

// 1402:1
[accept_button]
type=layer
width=140
height=27
ymode=abs_centre
layer=buttons_container
onload=script9798(combatv2_teleother:positive_build, combatv2_teleother:positive_click, rs3tli_positive_button, "Accept", "Accept")

// 1402:2
[decline_button]
type=layer
width=140
height=27
xmode=abs_right
ymode=abs_centre
layer=buttons_container
onload=script9798(combatv2_teleother:neutral_build_pause, combatv2_teleother:neutral_click_pause, rs3tli_neutral_button, "Decline", "Decline")
onop=closebutton_click

// 1402:3
[warning]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buttons_container
noclickthrough=yes

// 1402:4
[warning_background]
type=layer
widthmode=minus
heightmode=minus
layer=warning
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 1402:5
[warning_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=warning
textfont=museo_sans_13pt_regular
text=Please think carefully!
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 1402:6
[positive_build]
type=layer
widthmode=minus
heightmode=minus
layer=accept_button

// 1402:7
[positive_click]
type=layer
widthmode=minus
heightmode=minus
layer=accept_button
pausebutton=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use
pausetext=Accept

// 1402:8
[neutral_build_pause]
type=layer
widthmode=minus
heightmode=minus
layer=decline_button

// 1402:9
[neutral_click_pause]
type=layer
widthmode=minus
heightmode=minus
layer=decline_button
pausebutton=yes
pausetext=Decline

// 1402:10
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1402:11
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window
onload=script7618

// 1402:12
[caster]
type=text
width=8
height=15
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_13pt_regular
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes

// 1402:13
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 1402:14
[com_14]
type=text
y=20
width=8
height=12
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular
text=...wants to teleport you to...
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1402:15
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1402:16
[destination]
type=text
y=36
width=8
height=26
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_13pt_regular
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes

// 1402:17
[buttons_container]
type=layer
y=70
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 1402:18
[teleother_wrapper]
type=layer
y=5
width=10
height=43
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content

// 1402:19
[teleother_label]
type=text
x=5
width=5
height=20
widthmode=minus
layer=teleother_wrapper
textfont=museo_sans_11pt_regular
text=Tele-other invitations:
textalignv=1
textshadow=yes
colour=0x8e9ba2

// 1402:20
[teleother_radio_wrapper]
type=layer
height=24
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=teleother_wrapper
onload=script889
onvartransmit=script889
onvartransmitlist=option_aid

// 1402:21
[teleother_on]
type=layer
x=3
y=3
width=18
height=18
layer=teleother_radio_wrapper
pausebutton=yes
pausetext=Toggle
onop=script888(0)

// 1402:22
[teleother_on_deselected]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=teleother_on
onload=script7760(event_com)

// 1402:23
[teleother_on_selected]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=teleother_on
onload=script7759(event_com)

// 1402:24
[teleother_on_label]
type=text
x=24
width=50
heightmode=minus
layer=teleother_radio_wrapper
textfont=museo_sans_11pt_regular
text=On
textalignv=1
textshadow=yes
colour=0x8e9ba2

// 1402:25
[teleother_friend]
type=layer
x=100
y=3
width=18
height=18
layer=teleother_radio_wrapper
pausebutton=yes
pausetext=Toggle
onop=script888(1)

// 1402:26
[teleother_friend_deselected]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=teleother_friend
onload=script7760(event_com)

// 1402:27
[teleother_friend_selected]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=teleother_friend
onload=script7759(event_com)

// 1402:28
[teleother_friend_label]
type=text
x=123
width=200
widthmode=minus
heightmode=minus
layer=teleother_radio_wrapper
textfont=museo_sans_11pt_regular
text=Friend & Clan
textalignv=1
textshadow=yes
colour=0x8e9ba2

// 1402:29
[teleother_off]
type=layer
x=55
y=2
width=18
height=18
xmode=abs_right
layer=teleother_radio_wrapper
pausebutton=yes
pausetext=Toggle
onop=script888(2)

// 1402:30
[teleother_off_deselected]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=teleother_off
onload=script7760(event_com)

// 1402:31
[teleother_off_selected]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=teleother_off
onload=script7759(event_com)

// 1402:32
[teleother_off_label]
type=text
width=50
heightmode=minus
xmode=abs_right
layer=teleother_radio_wrapper
textfont=museo_sans_11pt_regular
text=Off
textalignv=1
textshadow=yes
colour=0x8e9ba2

