// 638:0
[background_rect]
type=rectangle
width=250
heightmode=minus
layer=info_layer
colour=0x0b141b
fill=yes

// 638:1
[name_text]
type=text
x=40
y=5
width=180
height=30
layer=info_layer
textfont=museo_sans_11pt_regular
textlineheight=14
textalignv=1
textshadow=yes
colour=0xb37a2f

// 638:2
[desc_text]
type=text
x=5
y=45
width=10
height=50
widthmode=minus
layer=info_layer
textfont=museo_sans_11pt_regular
textlineheight=14
textalignv=1
textshadow=yes
colour=0xb37a2f

// 638:3
[time_text]
type=text
x=1
y=25
width=23
height=15
xmode=abs_right
layer=info_layer
textfont=museo_sans_11pt_regular
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes

// 638:4
[req_text]
type=text
y=45
width=250
height=15
ymode=abs_bottom
layer=info_layer
hide=yes
textfont=museo_sans_11pt_regular
text=<u=B37A2F>Requirements<br>
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xb37a2f

// 638:5
[icon]
type=graphic
x=5
y=5
width=30
height=30
layer=info_layer
colour=0xffffff
clickmask=no

// 638:6
[clock]
type=graphic
x=2
y=5
width=23
height=23
xmode=abs_right
layer=info_layer
hide=yes
graphic=combatv2_ability_timeout
colour=0xffffff
clickmask=no

// 638:7
[silver_border]
type=rectangle
width=250
heightmode=minus
ymode=abs_centre
layer=info_layer
colour=0x959595

// 638:8
[req_layer_1]
type=layer
x=4
y=3
width=50
height=50
ymode=abs_bottom
layer=info_layer
hide=yes

// 638:9
[req_layer_2]
type=layer
x=52
y=3
width=50
height=50
ymode=abs_bottom
layer=info_layer
hide=yes

// 638:10
[req_layer_3]
type=layer
y=3
width=50
height=50
xmode=abs_centre
ymode=abs_bottom
layer=info_layer
hide=yes

// 638:11
[req_layer_4]
type=layer
x=52
y=3
width=50
height=50
xmode=abs_right
ymode=abs_bottom
layer=info_layer
hide=yes

// 638:12
[req_layer_5]
type=layer
x=4
y=3
width=50
height=50
xmode=abs_right
ymode=abs_bottom
layer=info_layer
hide=yes

// 638:13
[triangle_silver]
type=rectangle
width=1
height=1
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x959595

// 638:14
[triangle_silver_1]
type=rectangle
x=1
width=1
height=3
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x959595

// 638:15
[triangle_silver_2]
type=rectangle
x=2
width=1
height=5
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x959595

// 638:16
[triangle_silver_3]
type=rectangle
x=3
width=1
height=7
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x959595

// 638:17
[triangle_silver_4]
type=rectangle
x=4
width=1
height=9
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x959595

// 638:18
[triangle_silver_5]
type=rectangle
x=5
width=1
height=11
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x959595

// 638:19
[triangle_silver_6]
type=rectangle
x=6
width=1
height=13
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x959595

// 638:20
[triangle_silver_7]
type=rectangle
x=7
width=1
height=15
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x959595

// 638:21
[triangle_silver_8]
type=rectangle
x=8
width=1
height=17
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x959595

// 638:22
[triangle_silver_9]
type=rectangle
x=9
width=1
height=19
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x959595

// 638:23
[triangle_silver_10]
type=rectangle
x=10
width=1
height=21
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x959595

// 638:24
[triangle_silver_11]
type=rectangle
x=1
width=1
height=1
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x0b141b

// 638:25
[triangle_silver_12]
type=rectangle
x=2
width=1
height=3
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x0b141b

// 638:26
[triangle_silver_13]
type=rectangle
x=3
width=1
height=5
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x0b141b

// 638:27
[triangle_silver_14]
type=rectangle
x=4
width=1
height=7
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x0b141b

// 638:28
[triangle_silver_15]
type=rectangle
x=5
width=1
height=9
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x0b141b

// 638:29
[triangle_silver_16]
type=rectangle
x=6
width=1
height=11
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x0b141b

// 638:30
[triangle_silver_17]
type=rectangle
x=7
width=1
height=13
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x0b141b

// 638:31
[triangle_silver_18]
type=rectangle
x=8
width=1
height=15
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x0b141b

// 638:32
[triangle_silver_19]
type=rectangle
x=9
width=1
height=17
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x0b141b

// 638:33
[triangle_silver_20]
type=rectangle
x=10
width=1
height=19
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x0b141b

// 638:34
[triangle_silver_21]
type=rectangle
x=11
width=1
height=21
xmode=abs_right
ymode=abs_centre
layer=arrow_layer
colour=0x0b141b

// 638:35
[on_actionbar_layer]
type=layer
y=161
width=250
height=25
ymode=abs_bottom
layer=universe_layer
hide=yes

// 638:36
[tooltip_layer]
type=layer
width=261
height=160
ymode=abs_bottom
layer=universe_layer
hide=yes

// 638:37
[info_layer]
type=layer
width=250
heightmode=minus
layer=tooltip_layer

// 638:38
[universe_layer]
type=layer
widthmode=minus
heightmode=minus

// 638:39
[background_1]
type=rectangle
widthmode=minus
heightmode=minus
layer=on_actionbar_layer
colour=0x0b141b
fill=yes

// 638:40
[actionbar_text]
type=text
width=5
height=5
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=on_actionbar_layer
textfont=museo_sans_11pt_regular
text=This ability is on your action-bar.
textalignh=1
textalignv=1
textshadow=yes
colour=0xb37a2f

// 638:41
[silver_border_1]
type=rectangle
widthmode=minus
heightmode=minus
layer=on_actionbar_layer
colour=0x959595

// 638:42
[req_box_1]
type=rectangle
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=req_layer_1
colour=0x959595

// 638:43
[req_gradient_1]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=req_layer_1
graphic=rand_framea_centre_gradient_alpha
alpha=yes
trans=50
colour=0xffffff
clickmask=no

// 638:44
[req_icon_1]
type=graphic
width=25
height=25
xmode=abs_centre
ymode=abs_centre
layer=req_layer_1
colour=0xffffff
clickmask=no

// 638:45
[req_text_1]
type=text
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=req_layer_1
textfont=museo_sans_11pt_regular
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xb37a2f

// 638:46
[arrow_layer]
type=layer
width=15
height=25
xmode=abs_right
ymode=abs_centre
layer=tooltip_layer

// 638:47
[req_box_2]
type=rectangle
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=req_layer_2
colour=0x959595

// 638:48
[req_gradient_2]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=req_layer_2
graphic=rand_framea_centre_gradient_alpha
alpha=yes
trans=50
colour=0xffffff
clickmask=no

// 638:49
[req_icon_2]
type=graphic
width=25
height=25
xmode=abs_centre
ymode=abs_centre
layer=req_layer_2
colour=0xffffff
clickmask=no

// 638:50
[req_text_2]
type=text
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=req_layer_2
textfont=museo_sans_11pt_regular
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xb37a2f

// 638:51
[req_box_3]
type=rectangle
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=req_layer_3
colour=0x959595

// 638:52
[req_gradient_3]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=req_layer_3
graphic=rand_framea_centre_gradient_alpha
alpha=yes
trans=50
colour=0xffffff
clickmask=no

// 638:53
[req_icon_3]
type=graphic
width=25
height=25
xmode=abs_centre
ymode=abs_centre
layer=req_layer_3
colour=0xffffff
clickmask=no

// 638:54
[req_text_3]
type=text
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=req_layer_3
textfont=museo_sans_11pt_regular
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xb37a2f

// 638:55
[req_box_4]
type=rectangle
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=req_layer_4
colour=0x959595

// 638:56
[req_gradient_4]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=req_layer_4
graphic=rand_framea_centre_gradient_alpha
alpha=yes
trans=50
colour=0xffffff
clickmask=no

// 638:57
[req_icon_4]
type=graphic
width=25
height=25
xmode=abs_centre
ymode=abs_centre
layer=req_layer_4
colour=0xffffff
clickmask=no

// 638:58
[req_text_4]
type=text
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=req_layer_4
textfont=museo_sans_11pt_regular
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xb37a2f

// 638:59
[req_box_5]
type=rectangle
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=req_layer_5
colour=0x959595

// 638:60
[req_gradient_5]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=req_layer_5
graphic=rand_framea_centre_gradient_alpha
alpha=yes
trans=50
colour=0xffffff
clickmask=no

// 638:61
[req_icon_5]
type=graphic
width=25
height=25
xmode=abs_centre
ymode=abs_centre
layer=req_layer_5
colour=0xffffff
clickmask=no

// 638:62
[req_text_5]
type=text
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=req_layer_5
textfont=museo_sans_11pt_regular
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xb37a2f

