// 635:0
[mainmodal_window]
type=layer
width=301
height=228
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script8420(combatv2_ability_necromancy_conjure_undead_army_customisation:mainmodal_window_background, combatv2_ability_necromancy_conjure_undead_army_customisation:mainmodal_window_border, combatv2_ability_necromancy_conjure_undead_army_customisation:mainmodal_window_content, combatv2_ability_necromancy_conjure_undead_army_customisation:mainmodal_window_close_button, "Undead Army", 21218, string_1007)

// 635:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 635:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script18296
onvartransmit=script18297
onvartransmitlist=combatv2_ability_necromancy_conjure_undead_army_ability_1_id,combatv2_ability_necromancy_conjure_undead_army_ability_2_id,combatv2_ability_necromancy_conjure_undead_army_ability_3_id,combatv2_ability_necromancy_conjure_undead_army_ability_4_id

// 635:3
[ability_bar_window]
type=layer
y=134
width=158
height=44
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onload=script8420(combatv2_ability_necromancy_conjure_undead_army_customisation:ability_bar_window_background, combatv2_ability_necromancy_conjure_undead_army_customisation:ability_bar_window_border, combatv2_ability_necromancy_conjure_undead_army_customisation:ability_bar_window_content, null, "", 35743, null)

// 635:4
[ability_list_window]
type=layer
y=10
width=20
height=114
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 635:5
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 635:6
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 635:7
[ability_list_window_background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_list_window
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 635:8
[ability_list_window_content]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_list_window

// 635:9
[com_9]
type=text
y=4
width=8
height=16
widthmode=minus
xmode=abs_centre
layer=ability_list_window_content
textfont=museo_sans_11pt_regular
text=Select abilities:
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 635:10
[com_10]
type=line
y=20
width=8
widthmode=minus
xmode=abs_centre
layer=ability_list_window_content
colour=0x41555f
onload=script8194(event_com, rs3_separator)

// 635:11
[ability_list_content_layer]
type=layer
y=4
width=8
height=28
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=ability_list_window_content

// 635:12
[ability_list_scroll_layer]
type=layer
width=19
widthmode=minus
heightmode=minus
layer=ability_list_content_layer

// 635:13
[ability_list_grid]
type=grid
widthmode=minus
heightmode=minus
layer=ability_list_scroll_layer
childspacing=2
layoutparams_x=36
layoutparams_y=36
layoutparams_mode=yes

// 635:14
[ability_list_scrollbar_layer]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=ability_list_content_layer

// 635:15
[ability_bar_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=ability_bar_window

// 635:16
[ability_bar_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=ability_bar_window

// 635:17
[panel_1]
type=panel
width=150
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_bar_window_content
noclickthrough=yes
isvertical=no
childspacing=2

// 635:18
[ability_1_layer]
type=layer
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=panel_1

// 635:19
[ability_1_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_1_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 635:20
[ability_1_button]
type=button
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_1_layer
noclickthrough=yes
stylesheet=button_default
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=stylesheet_set(event_com)

// 635:21
[ability_2_layer]
type=layer
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=panel_1

// 635:22
[ability_2_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_2_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 635:23
[ability_2_button]
type=button
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_2_layer
noclickthrough=yes
stylesheet=button_default
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=stylesheet_set(event_com)

// 635:24
[ability_3_layer]
type=layer
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=panel_1

// 635:25
[ability_3_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_3_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 635:26
[ability_3_button]
type=button
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_3_layer
noclickthrough=yes
stylesheet=button_default
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=stylesheet_set(event_com)

// 635:27
[ability_4_layer]
type=layer
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=panel_1

// 635:28
[ability_4_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_4_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 635:29
[ability_4_button]
type=button
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_4_layer
noclickthrough=yes
stylesheet=button_default
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=stylesheet_set(event_com)

// 635:30
[ability_bar_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=ability_bar_window

// 635:31
[ability_1_graphic]
type=graphic
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_1_layer
colour=0xffffff
clickmask=no
candrop=yes
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 635:32
[ability_2_graphic]
type=graphic
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_2_layer
colour=0xffffff
clickmask=no
candrop=yes
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 635:33
[ability_3_graphic]
type=graphic
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ability_3_layer
colour=0xffffff
clickmask=no
candrop=yes
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 635:34
[ability_4_graphic]
type=graphic
width=30
height=30
xmode=abs_centre
ymode=abs_centre
layer=ability_4_layer
colour=0xffffff
clickmask=no
candrop=yes
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

