// 1659:0
[button]
type=layer
widthmode=minus
heightmode=minus
layer=scroll_layer

// 1659:1
[scrollbar_layer]
type=layer
width=15
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 1659:2
[mainmodal_window]
type=layer
width=223
heightmode=minus
xmode=abs_centre
onload=script8420(comscenario_faction_objectives:mainmodal_window_background, comscenario_faction_objectives:mainmodal_window_border, comscenario_faction_objectives:mainmodal_window_content, comscenario_faction_objectives:mainmodal_window_close_button, "Choose Objective", 21218, string_1007)

// 1659:3
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1659:4
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script11738

// 1659:5
[scroll_layer]
type=layer
width=15
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1659:6
[button_click]
type=layer
widthmode=minus
heightmode=minus
layer=scroll_layer

// 1659:7
[description]
type=layer
widthmode=minus
heightmode=minus
layer=scroll_layer

// 1659:8
[title]
type=layer
widthmode=minus
heightmode=minus
layer=scroll_layer

// 1659:9
[icon]
type=layer
widthmode=minus
heightmode=minus
layer=scroll_layer

// 1659:10
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1659:11
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

