// 1608:0
[text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
textfont=cinzel_25pt_bold_multiline
text=Brassica Prime Wins!
textalignh=1
textalignv=1
trans=255
ontimer=script6497(event_com)

