// 1027:0
[borders_layer]
type=layer
width=20
height=100
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
onvarctransmit=script424
onvarctransmitlist=conq_logout_counter

// 1027:1
[mainmodal_window]
type=layer
width=200
height=150
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(conq_logged_out_warning:mainmodal_window_background, conq_logged_out_warning:mainmodal_window_border, conq_logged_out_warning:mainmodal_window_content, conq_logged_out_warning:mainmodal_window_close_button, "Opponent Logged Out", 21218, string_1007)

// 1027:2
[warning_icon]
type=graphic
width=25
height=25
xmode=abs_centre
layer=borders_layer
graphic=conq_exclamation_icon
colour=0x000000
clickmask=no

// 1027:3
[description_text]
type=text
y=25
height=25
widthmode=minus
heightmode=minus
layer=borders_layer
textfont=museo_sans_11pt_regular
text=Your opponent has been logged out for 1 minute.<br><br>You may wait for them to return, or take the victory and be declared the winner.
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1027:4
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1027:5
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1027:6
[accept_button]
type=layer
y=10
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onload=script13968(conq_logged_out_warning:accept_build, conq_logged_out_warning:accept_click, rs3tli_positive_button, "Accept")

// 1027:7
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1027:8
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1027:9
[accept_build]
type=layer
widthmode=minus
heightmode=minus
layer=accept_button

// 1027:10
[accept_click]
type=layer
widthmode=minus
heightmode=minus
layer=accept_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

