// 1015:0
[left_1]
type=layer
x=5
width=130
heightmode=minus
layer=replacement_abilities_layer

// 1015:1
[right_1]
type=layer
x=5
width=130
heightmode=minus
xmode=abs_right
layer=replacement_abilities_layer

// 1015:2
[bg_ability_1]
type=layer
widthmode=minus
heightmode=minus
layer=command_ability_1_layer

// 1015:3
[command_ability_1_icon]
type=graphic
x=15
width=25
height=25
ymode=abs_centre
layer=command_ability_1_layer
graphic="conq_command_icon,0"
colour=0x000000
clickmask=no

// 1015:4
[command_ability_1_name]
type=text
x=50
width=120
height=35
ymode=abs_centre
layer=command_ability_1_layer
textfont=cinzel_13pt_bold
text=Command 1
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:5
[command_ability_1_layer]
type=layer
height=50
widthmode=minus
layer=buttons
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14269(1)

// 1015:6
[command_ability_2_layer]
type=layer
y=55
height=50
widthmode=minus
layer=buttons
transmitop1=yes
transmitop10=yes
op1=Select
op10= 
opcursor0=cursor_use
onop=script14269(2)

// 1015:7
[command_ability_3_layer]
type=layer
y=110
height=50
widthmode=minus
layer=buttons
transmitop1=yes
transmitop10=yes
op1=Select
op10= 
opcursor0=cursor_use
onop=script14269(3)

// 1015:8
[command_ability_4_layer]
type=layer
y=165
height=50
widthmode=minus
layer=buttons
transmitop1=yes
transmitop10=yes
op1=Select
op10= 
opcursor0=cursor_use
onop=script14269(4)

// 1015:9
[bg_ability_3]
type=layer
widthmode=minus
heightmode=minus
layer=command_ability_3_layer

// 1015:10
[command_ability_3_icon]
type=graphic
x=15
width=25
height=25
ymode=abs_centre
layer=command_ability_3_layer
graphic="conq_command_icon,0"
colour=0x000000
clickmask=no
transmitop10=yes
op10= 

// 1015:11
[command_ability_3_name]
type=text
x=50
width=120
height=35
ymode=abs_centre
layer=command_ability_3_layer
textfont=cinzel_13pt_bold
text=Command 3
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 1015:12
[bg_ability_2]
type=layer
widthmode=minus
heightmode=minus
layer=command_ability_2_layer

// 1015:13
[command_ability_2_icon]
type=graphic
x=15
width=25
height=25
ymode=abs_centre
layer=command_ability_2_layer
graphic="conq_command_icon,0"
colour=0x000000
clickmask=no
transmitop10=yes
op10= 

// 1015:14
[command_ability_2_name]
type=text
x=50
width=120
height=35
ymode=abs_centre
layer=command_ability_2_layer
textfont=cinzel_13pt_bold
text=Command 2
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 1015:15
[knight_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=knight
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:16
[no_unit_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=no_unit
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:17
[no_unit_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=no_unit
textfont=cinzel_13pt_bold
text=No Troop
textalignh=1
textalignv=1
textshadow=yes

// 1015:18
[champion_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=champion
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:19
[champion_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=champion
textfont=cinzel_13pt_bold
text=Champion
textalignh=1
textalignv=1
textshadow=yes

// 1015:20
[knight_text]
type=text
y=7
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=proportion_top
layer=knight
textfont=cinzel_13pt_bold
text=Knight
textalignh=1
textalignv=1
textshadow=yes

// 1015:21
[mage_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=mage
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:22
[mage_text]
type=text
y=7
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=proportion_top
layer=mage
textfont=cinzel_13pt_bold
text=Mage
textalignh=1
textalignv=1
textshadow=yes

// 1015:23
[archer_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=archer
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:24
[archer_text]
type=text
y=7
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=proportion_top
layer=archer
textfont=cinzel_13pt_bold
text=Archer
textalignh=1
textalignv=1
textshadow=yes

// 1015:25
[halbadier_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=halbadier
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:26
[halbadier_text]
type=text
y=7
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=proportion_top
layer=halbadier
textfont=cinzel_13pt_bold
text=Halberdier
textalignh=1
textalignv=1
textshadow=yes

// 1015:27
[footman_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=footman
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:28
[footman_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=footman
textfont=cinzel_13pt_bold
text=Foot Soldier
textalignh=1
textalignv=1
textshadow=yes

// 1015:29
[scout_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=scout
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:30
[scout]
type=layer
width=130
height=18
layer=left
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script484(event_com)
onmouseleave=script485(event_com)
onop=script14262(1)

// 1015:31
[replace_title_text]
type=text
y=5
width=16384
height=16
widthmode=proportion
layer=purchase_replace_details_layer
textfont=museo_sans_11pt_regular
text=Select a troop to place in this slot:
textalignh=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:32
[left]
type=layer
x=5
y=20
width=130
height=25
heightmode=minus
layer=purchase_replace_details_layer

// 1015:33
[right]
type=layer
x=5
y=2737
width=130
height=25
heightmode=minus
xmode=abs_right
ymode=proportion_top
layer=purchase_replace_details_layer

// 1015:34
[footman]
type=layer
y=26
width=130
height=18
layer=left
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script484(event_com)
onmouseleave=script485(event_com)
onop=script14262(2)

// 1015:35
[halbadier]
type=layer
y=52
width=130
height=18
layer=left
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script484(event_com)
onmouseleave=script485(event_com)
onop=script14262(3)

// 1015:36
[archer]
type=layer
width=130
height=18
ymode=abs_bottom
layer=left
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script484(event_com)
onmouseleave=script485(event_com)
onop=script14262(4)

// 1015:37
[scout_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=scout
textfont=cinzel_13pt_bold
text=Scout
textalignh=1
textalignv=1
textshadow=yes

// 1015:38
[no_unit_selected_text]
type=text
width=16391
height=8192
widthmode=proportion
heightmode=proportion
layer=no_unit_selected_layer
textfont=cinzel_13pt_bold
text=No Troop Selected
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:39
[reset_units_button]
type=graphic
width=16
height=16
ymode=abs_centre
layer=points_left_layer
graphic="rs3_icon_lobby_refresh,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Reset Troops
onload=script13914(event_com, rs3tli_lobby_refresh_icons)
onmouserepeat=script8799("Reset all selected troops and regain squad resources.", event_com, event_comsubid)

// 1015:40
[reset_abilities_button]
type=graphic
width=16
height=16
ymode=abs_centre
layer=points_left_layer
hide=yes
graphic="rs3_icon_lobby_refresh,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Reset Commands
onload=script13914(event_com, rs3tli_lobby_refresh_icons)
onmouserepeat=script8799("Reset all selected commands and regain squad resources.", event_com, event_comsubid)

// 1015:41
[unit_01]
type=layer
width=90
height=43
layer=unit_buttons_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14260(1)

// 1015:42
[unit_02]
type=layer
width=90
height=43
xmode=abs_right
layer=unit_buttons_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14260(2)

// 1015:43
[unit_03]
type=layer
y=50
width=90
height=43
layer=unit_buttons_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14260(3)

// 1015:44
[unit_04]
type=layer
y=50
width=90
height=43
xmode=abs_right
layer=unit_buttons_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14260(4)

// 1015:45
[unit_05]
type=layer
y=100
width=90
height=43
layer=unit_buttons_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14260(5)

// 1015:46
[unit_06]
type=layer
y=100
width=90
height=43
xmode=abs_right
layer=unit_buttons_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14260(6)

// 1015:47
[unit_07]
type=layer
y=150
width=90
height=43
layer=unit_buttons_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14260(7)

// 1015:48
[unit_08]
type=layer
y=150
width=90
height=43
xmode=abs_right
layer=unit_buttons_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14260(8)

// 1015:49
[unit_09]
type=layer
y=200
width=90
height=43
layer=unit_buttons_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14260(9)

// 1015:50
[unit_10]
type=layer
y=200
width=90
height=43
xmode=abs_right
layer=unit_buttons_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14260(10)

// 1015:51
[troop_contents]
type=layer
widthmode=minus
heightmode=minus
layer=bounding

// 1015:52
[command_contents]
type=layer
widthmode=minus
heightmode=minus
layer=bounding
hide=yes
transmitop10=yes
op10= 
onload=script14268
onvartransmit=script14268
onvartransmitlist=conq_base_temp

// 1015:53
[buttons]
type=layer
width=180
heightmode=minus
layer=command_contents
onvartransmit=script490
onvartransmitlist=conq_base_4,conq_base_4,conq_base_4,conq_base_4

// 1015:54
[main_display]
type=layer
width=20
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 1015:55
[points_left_layer]
type=layer
x=5
y=5
width=170
height=20
xmode=abs_right
layer=mainmodal_window_content
onvartransmit=script479
onvartransmitlist=conq_base_temp

// 1015:56
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(conq_buy_army:mainmodal_window_background, conq_buy_army:mainmodal_window_border, conq_buy_army:mainmodal_window_content, conq_buy_army:mainmodal_window_close_button, "Squad Selection", 21218, string_1007)

// 1015:57
[unit_type_text]
type=text
y=7
height=16
widthmode=minus
layer=purchase_current_details_layer
textfont=cinzel_13pt_bold
text=Mage
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:58
[unit_type_underline]
type=rectangle
x=37
y=22
width=206
height=1
layer=purchase_current_details_layer
colour=0xffcb05

// 1015:59
[current_unit_image]
type=graphic
x=20
y=42
width=50
height=50
layer=purchase_current_details_layer
graphic="conq_unit_icons,3"
colour=0x000000
clickmask=no

// 1015:60
[points_left_text]
type=text
x=20
width=117
heightmode=minus
layer=points_left_layer
textfont=museo_sans_11pt_regular
text=Squad Resources:
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:61
[points_left_number]
type=text
width=40
heightmode=minus
xmode=abs_right
layer=points_left_layer
textfont=museo_sans_13pt_bold
text=1000
textalignh=2
textalignv=1
textshadow=yes

// 1015:62
[bg_ability_4]
type=layer
widthmode=minus
heightmode=minus
layer=command_ability_4_layer

// 1015:63
[command_ability_4_icon]
type=graphic
x=15
width=25
height=25
ymode=abs_centre
layer=command_ability_4_layer
graphic="conq_command_icon,0"
colour=0x000000
clickmask=no
transmitop10=yes
op10= 

// 1015:64
[command_ability_4_name]
type=text
x=50
width=120
height=35
ymode=abs_centre
layer=command_ability_4_layer
textfont=cinzel_13pt_bold
text=Command 4
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 1015:65
[command_details_layer]
type=layer
width=185
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=command_contents
transmitop10=yes
op10= 

// 1015:66
[no_ability_selected_layer]
type=layer
widthmode=minus
heightmode=minus
layer=command_details_layer

// 1015:67
[no_ability_selected_text]
type=text
height=86
widthmode=minus
layer=no_ability_selected_layer
textfont=cinzel_13pt_bold
text=No Command Selected
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:68
[no_ability_selected_desc_text]
type=text
height=150
widthmode=minus
ymode=abs_bottom
layer=no_ability_selected_layer
textfont=cinzel_13pt_bold
text=Select A Command Slot To See What Commands Are Available
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 1015:69
[active_ability_layer]
type=layer
height=251
widthmode=minus
layer=command_details_layer
hide=yes

// 1015:70
[command_details_icon]
type=graphic
x=21
y=31
width=25
height=25
layer=active_ability_layer
graphic="conq_command_icon,0"
colour=0x000000
clickmask=no

// 1015:71
[no_ability_text]
type=text
width=281
height=86
layer=active_ability_layer
hide=yes
textfont=cinzel_13pt_bold
text=No Command
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:72
[command_details_name]
type=text
y=2
height=20
widthmode=minus
xmode=abs_centre
layer=active_ability_layer
textfont=cinzel_13pt_bold
text=Battle Cry
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:73
[command_details_desc]
type=text
x=20
y=22
width=195
height=47
xmode=abs_right
layer=active_ability_layer
textfont=museo_sans_11pt_regular
text=A target troop you control gains +200 damage and +200 health until the start of your next turn
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1015:74
[command_details_cooldown]
type=text
x=6
y=69
width=111
height=16
layer=active_ability_layer
textfont=museo_sans_11pt_regular
text=Cooldown: 2 turns
textalignv=1
textshadow=yes
colour=0xffcb1f
onload=script10496(event_com, event_comsubid, 1)

// 1015:75
[command_details_cost]
type=text
x=6
y=69
width=111
height=16
xmode=abs_right
layer=active_ability_layer
textfont=museo_sans_11pt_regular
text=Cost: 200
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb1f
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 1015:76
[replacement_abilities_layer]
type=layer
height=150
widthmode=minus
ymode=abs_bottom
layer=command_details_layer
hide=yes

// 1015:77
[unit_buttons_layer]
type=layer
width=184
heightmode=minus
layer=troop_contents
onvartransmit=script14261
onvartransmitlist=conq_base_1,conq_base_1,conq_base_2,conq_base_2,conq_base_3,conq_base_3,conq_base_3,conq_base_3,conq_base_3,conq_base_4,conq_base_temp

// 1015:78
[purchase_current_details_layer]
type=layer
width=185
height=120
widthmode=minus
xmode=abs_right
layer=troop_contents
hide=yes

// 1015:79
[purchase_replace_details_layer]
type=layer
width=281
height=120
xmode=abs_right
ymode=abs_bottom
layer=troop_contents
hide=yes

// 1015:80
[no_unit_selected_layer]
type=layer
width=185
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=troop_contents

// 1015:81
[select_a_unit_text]
type=text
width=275
height=8163
heightmode=proportion
ymode=abs_bottom
layer=no_unit_selected_layer
textfont=cinzel_13pt_bold
text=Select A Slot To See What Troops Are Available
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:82
[purchase_current_text_layer]
type=layer
x=88
width=200
height=116
layer=purchase_current_details_layer

// 1015:83
[unit_movement_text]
type=text
y=27
width=19
height=20
widthmode=minus
layer=purchase_current_text_layer
textfont=museo_sans_11pt_regular
text=Movement: 4
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:84
[unit_damage_text]
type=text
y=42
width=19
height=20
widthmode=minus
layer=purchase_current_text_layer
textfont=museo_sans_11pt_regular
text=Damage: 200
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:85
[unit_health_text]
type=text
y=57
width=19
height=20
widthmode=minus
layer=purchase_current_text_layer
textfont=museo_sans_11pt_regular
text=Health: 200
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:86
[unit_range_text]
type=text
y=72
width=19
height=20
widthmode=minus
layer=purchase_current_text_layer
textfont=museo_sans_11pt_regular
text=Range: 1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:87
[unit_cost_text]
type=text
y=87
width=19
height=20
widthmode=minus
layer=purchase_current_text_layer
textfont=museo_sans_11pt_regular
text=Cost: 200
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1015:88
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1015:89
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1015:90
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1015:91
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1015:92
[content]
type=layer
y=23
height=23
widthmode=minus
heightmode=minus
layer=main_display

// 1015:93
[background]
type=layer
widthmode=minus
heightmode=minus
layer=content
onload=script10896(event_com, null, rs3tli_content_panel)

// 1015:94
[bounding]
type=layer
x=5
y=5
width=10
height=10
widthmode=minus
heightmode=minus
layer=content

// 1015:95
[tabs]
type=layer
height=27
widthmode=minus
layer=main_display

// 1015:96
[troop_tab]
type=layer
width=150
height=27
layer=tabs
onload=script9797(conq_buy_army:troop_build, conq_buy_army:troop_click, rs3tli_modal_tab, "Select Troops", string_1)

// 1015:97
[troop_build]
type=layer
widthmode=minus
heightmode=minus
layer=troop_tab

// 1015:98
[troop_click]
type=layer
widthmode=minus
heightmode=minus
layer=troop_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14259(1)

// 1015:99
[commands_tab]
type=layer
x=150
width=150
height=27
layer=tabs
onload=script9797(conq_buy_army:commands_build, conq_buy_army:commands_click, rs3tli_modal_tab, "Select Commands", string_0)

// 1015:100
[commands_build]
type=layer
widthmode=minus
heightmode=minus
layer=commands_tab

// 1015:101
[commands_click]
type=layer
widthmode=minus
heightmode=minus
layer=commands_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14259(2)

// 1015:102
[mage]
type=layer
y=7
width=130
height=18
ymode=proportion_top
layer=right
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script484(event_com)
onmouseleave=script485(event_com)
onop=script14262(5)

// 1015:103
[knight]
type=layer
y=26
width=130
height=18
layer=right
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script484(event_com)
onmouseleave=script485(event_com)
onop=script14262(6)

// 1015:104
[champion]
type=layer
y=52
width=130
height=18
layer=right
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script484(event_com)
onmouseleave=script485(event_com)
onop=script14262(7)

// 1015:105
[no_unit]
type=layer
width=130
height=18
ymode=abs_bottom
layer=right
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script484(event_com)
onmouseleave=script485(event_com)
onop=script14262(0)

// 1015:106
[battlecry]
type=layer
width=130
height=30
layer=left_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script493(event_com, 1)
onmouseleave=script493(event_com, 0)

// 1015:107
[battlecry_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=battlecry
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:108
[battlecry_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=battlecry
textfont=cinzel_13pt_bold
text=Battle Cry
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1015:109
[stoicism]
type=layer
y=30
width=130
height=30
layer=left_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script493(event_com, 1)
onmouseleave=script493(event_com, 0)

// 1015:110
[stoicism_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=stoicism
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:111
[stoicism_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=stoicism
textfont=cinzel_13pt_bold
text=Stoicism
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1015:112
[regenerate]
type=layer
y=60
width=130
height=30
layer=left_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script493(event_com, 1)
onmouseleave=script493(event_com, 0)

// 1015:113
[bombard]
type=layer
y=90
width=130
height=30
layer=left_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script493(event_com, 1)
onmouseleave=script493(event_com, 0)

// 1015:114
[windsoffate]
type=layer
y=120
width=130
height=30
layer=left_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script493(event_com, 1)
onmouseleave=script493(event_com, 0)

// 1015:115
[regenerate_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=regenerate
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:116
[regenerate_text]
type=text
y=7
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=proportion_top
layer=regenerate
textfont=cinzel_13pt_bold
text=Regenerate
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1015:117
[bombard_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=bombard
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:118
[bombard_text]
type=text
y=7
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=proportion_top
layer=bombard
textfont=cinzel_13pt_bold
text=Bombard
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1015:119
[bloodlust]
type=layer
y=7
width=130
height=30
ymode=proportion_top
layer=right_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script493(event_com, 1)
onmouseleave=script493(event_com, 0)

// 1015:120
[bloodlust_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=bloodlust
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:121
[bloodlust_text]
type=text
y=7
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=proportion_top
layer=bloodlust
textfont=cinzel_13pt_bold
text=Charge
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1015:122
[chastise]
type=layer
y=30
width=130
height=30
layer=right_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script493(event_com, 1)
onmouseleave=script493(event_com, 0)

// 1015:123
[chastise_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=chastise
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:124
[chastise_text]
type=text
y=7
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=proportion_top
layer=chastise
textfont=cinzel_13pt_bold
text=Chastise
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1015:125
[vigilance]
type=layer
y=60
width=130
height=30
layer=right_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script493(event_com, 1)
onmouseleave=script493(event_com, 0)

// 1015:126
[shieldwall]
type=layer
y=90
width=130
height=30
layer=right_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script493(event_com, 1)
onmouseleave=script493(event_com, 0)

// 1015:127
[none]
type=layer
y=120
width=130
height=30
layer=right_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script493(event_com, 1)
onmouseleave=script493(event_com, 0)

// 1015:128
[vigilance_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=vigilance
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:129
[vigilance_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=vigilance
textfont=cinzel_13pt_bold
text=Vigilance
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1015:130
[shieldwall_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=shieldwall
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:131
[shieldwall_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=shieldwall
textfont=cinzel_13pt_bold
text=Shield Wall
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1015:132
[windsoffate_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=windsoffate
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:133
[windsoffate_text]
type=text
y=7
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=proportion_top
layer=windsoffate
textfont=cinzel_13pt_bold
text=Winds of Fate
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1015:134
[none_tick]
type=graphic
width=18
height=18
ymode=abs_centre
layer=none
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1015:135
[none_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=none
textfont=cinzel_13pt_bold
text=No Command
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

