// 1024:0
[main_title_text]
type=text
y=5
height=20
widthmode=minus
layer=content_layer
textfont=cinzel_15pt_bold
text=Commands
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 0)

// 1024:1
[command_points_text]
type=text
y=210
height=22
widthmode=minus
layer=content_layer
textfont=museo_sans_11pt_regular
text=Command Points: 1000
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1024:2
[command_points_listener]
type=layer
width=217
height=364
layer=content_layer
onvartransmit=script428
onvartransmitlist=conq_base_temp

// 1024:3
[abilities_layer]
type=layer
y=30
height=182
widthmode=minus
layer=content_layer
onvartransmit=script429
onvarctransmit=script429
onvartransmitlist=conq_base_temp
onvarctransmitlist=conq_cooldown_battle_cry,conq_cooldown_stoicism,conq_cooldown_regenerate,conq_cooldown_bloodlust,conq_cooldown_winds_of_change

// 1024:4
[no_abilities_layer]
type=layer
y=30
height=184
widthmode=minus
layer=content_layer
hide=yes

// 1024:5
[content_layer]
type=layer
widthmode=minus
heightmode=minus
onload=script427

// 1024:6
[no_abilities_grey_rectangle]
type=rectangle
widthmode=minus
heightmode=minus
layer=no_abilities_layer
colour=0x000000
fill=yes
trans=150
transmitop10=yes
op10= 

// 1024:7
[no_abilities_text]
type=text
x=5
width=10
height=60
widthmode=minus
ymode=abs_centre
layer=no_abilities_layer
textfont=museo_sans_11pt_regular
text=You have not included any Commands in your army selection.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1024:8
[ability_layer_1]
type=layer
width=30
height=39
widthmode=minus
xmode=abs_centre
layer=abilities_layer
targetverb=Cast
onmouseover=script430(event_com, 1)
onmouseleave=script430(event_com, 0)
ontargetleave=script431(event_com, 0)
ontargetenter=script431(event_com, 1)

// 1024:9
[bg_1]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=ability_layer_1
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1024:10
[ability_layer_2]
type=layer
y=45
width=30
height=39
widthmode=minus
xmode=abs_centre
layer=abilities_layer
transmitop10=yes
op10= 
targetverb=Cast
onmouseover=script430(event_com, 1)
onmouseleave=script430(event_com, 0)
ontargetleave=script431(event_com, 0)
ontargetenter=script431(event_com, 1)

// 1024:11
[bg_2]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=ability_layer_2
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1024:12
[ability_layer_3]
type=layer
y=90
width=30
height=39
widthmode=minus
xmode=abs_centre
layer=abilities_layer
transmitop10=yes
op10= 
targetverb=Cast
onmouseover=script430(event_com, 1)
onmouseleave=script430(event_com, 0)
ontargetleave=script431(event_com, 0)
ontargetenter=script431(event_com, 1)

// 1024:13
[bg_3]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=ability_layer_3
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1024:14
[ability_layer_4]
type=layer
y=135
width=30
height=39
widthmode=minus
xmode=abs_centre
layer=abilities_layer
transmitop10=yes
op10= 
targetverb=Cast
onmouseover=script430(event_com, 1)
onmouseleave=script430(event_com, 0)
ontargetleave=script431(event_com, 0)
ontargetenter=script431(event_com, 1)

// 1024:15
[bg_4]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=ability_layer_4
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1024:16
[opponents_turn_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=abilities_layer
hide=yes

// 1024:17
[gery_rectangle]
type=rectangle
widthmode=minus
heightmode=minus
layer=opponents_turn_layer
colour=0x000000
fill=yes
trans=150

// 1024:18
[name_4]
type=text
width=110
heightmode=minus
xmode=abs_centre
layer=ability_layer_4
textfont=museo_sans_13pt_regular
text=Command 4
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)

// 1024:19
[cost_4]
type=text
x=5
width=35
heightmode=minus
xmode=abs_right
layer=ability_layer_4
textfont=museo_sans_11pt_regular
text=200
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10= 
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1024:20
[icon_4]
type=graphic
x=7
y=3647
width=25
height=25
ymode=proportion_top
layer=ability_layer_4
graphic="conq_command_icon,0"
colour=0x000000
clickmask=no
transmitop10=yes
op10= 

// 1024:21
[cooldown_4]
type=text
x=7
y=3647
width=26
height=26
ymode=proportion_top
layer=ability_layer_4
textfont=cinzel_18pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0x7d7d7d
transmitop10=yes
op10=  

// 1024:22
[shading_rect_4]
type=rectangle
x=2
y=2
width=9
height=41
widthmode=minus
layer=ability_layer_4
hide=yes
colour=0x000000
fill=yes
trans=150
transmitop10=yes
op10= 

// 1024:23
[highlight_outer_rect_4]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=ability_layer_4
hide=yes
colour=0xffffff
transmitop10=yes
op10= 

// 1024:24
[highlight_inner_rect_4]
type=rectangle
x=1
y=1
width=2
height=2
widthmode=minus
heightmode=minus
layer=ability_layer_4
hide=yes
colour=0x969696
transmitop10=yes
op10=  

// 1024:25
[name_3]
type=text
width=110
heightmode=minus
xmode=abs_centre
layer=ability_layer_3
textfont=museo_sans_13pt_regular
text=Command 3
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)

// 1024:26
[cost_3]
type=text
x=5
width=35
heightmode=minus
xmode=abs_right
layer=ability_layer_3
textfont=museo_sans_11pt_regular
text=200
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10= 
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1024:27
[icon_3]
type=graphic
x=7
y=3647
width=25
height=25
ymode=proportion_top
layer=ability_layer_3
graphic="conq_command_icon,0"
colour=0x000000
clickmask=no
transmitop10=yes
op10= 

// 1024:28
[cooldown_3]
type=text
x=7
y=3647
width=26
height=26
ymode=proportion_top
layer=ability_layer_3
textfont=cinzel_18pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0x7d7d7d
transmitop10=yes
op10=  

// 1024:29
[shading_rect_3]
type=rectangle
x=2
y=2
width=9
height=4
widthmode=minus
heightmode=minus
layer=ability_layer_3
hide=yes
colour=0x000000
fill=yes
trans=150
transmitop10=yes
op10= 

// 1024:30
[highlight_outer_rect_3]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=ability_layer_3
hide=yes
colour=0xffffff
transmitop10=yes
op10= 

// 1024:31
[highlight_inner_rect_3]
type=rectangle
x=1
y=1
width=2
height=2
widthmode=minus
heightmode=minus
layer=ability_layer_3
hide=yes
colour=0x969696
transmitop10=yes
op10=  

// 1024:32
[name_2]
type=text
width=110
heightmode=minus
xmode=abs_centre
layer=ability_layer_2
textfont=museo_sans_13pt_regular
text=Command 2
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)

// 1024:33
[cost_2]
type=text
x=5
width=35
heightmode=minus
xmode=abs_right
layer=ability_layer_2
textfont=p11_full
text=200
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10= 
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1024:34
[icon_2]
type=graphic
x=7
y=3647
width=25
height=25
ymode=proportion_top
layer=ability_layer_2
graphic="conq_command_icon,0"
colour=0x000000
clickmask=no
transmitop10=yes
op10= 

// 1024:35
[cooldown_2]
type=text
x=7
y=3283
width=26
height=26
ymode=proportion_top
layer=ability_layer_2
textfont=cinzel_18pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0x7d7d7d
transmitop10=yes
op10=  

// 1024:36
[shading_rect_2]
type=rectangle
x=2
y=2
width=9
height=4
widthmode=minus
heightmode=minus
layer=ability_layer_2
hide=yes
colour=0x000000
fill=yes
trans=150
transmitop10=yes
op10= 

// 1024:37
[highlight_outer_rect_2]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=ability_layer_2
hide=yes
colour=0xffffff
transmitop10=yes
op10= 

// 1024:38
[highlight_inner_rect_2]
type=rectangle
x=1
y=1
width=2
height=2
widthmode=minus
heightmode=minus
layer=ability_layer_2
hide=yes
colour=0x969696
transmitop10=yes
op10=  

// 1024:39
[name_1]
type=text
width=110
heightmode=minus
xmode=abs_centre
layer=ability_layer_1
textfont=museo_sans_13pt_regular
text=Command 1
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1024:40
[cost_1]
type=text
x=5
width=35
heightmode=minus
xmode=abs_right
layer=ability_layer_1
textfont=museo_sans_11pt_regular
text=200
textalignh=1
textalignv=1
textshadow=yes
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1024:41
[icon_1]
type=graphic
x=7
y=3647
width=25
height=25
ymode=proportion_top
layer=ability_layer_1
graphic="conq_command_icon,0"
colour=0x000000
clickmask=no

// 1024:42
[cooldown_1]
type=text
x=7
y=3283
width=26
height=26
ymode=proportion_top
layer=ability_layer_1
textfont=cinzel_18pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0x7d7d7d
transmitop10=yes
op10= 

// 1024:43
[shading_rect_1]
type=rectangle
x=2
y=2
width=9
height=4
widthmode=minus
heightmode=minus
layer=ability_layer_1
hide=yes
colour=0x000000
fill=yes
trans=150

// 1024:44
[highlight_outer_rect_1]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=ability_layer_1
hide=yes
colour=0xffffff

// 1024:45
[highlight_inner_rect_1]
type=rectangle
x=1
y=1
width=2
height=2
widthmode=minus
heightmode=minus
layer=ability_layer_1
hide=yes
colour=0x969696
transmitop10=yes
op10= 

