// 1019:0
[main_title_text]
type=text
y=5
height=20
widthmode=minus
xmode=abs_centre
layer=content_layer
textfont=cinzel_15pt_bold
text=Diplomacy
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 0)

// 1019:1
[offer_truce_button_layer]
type=layer
y=30
width=150
height=27
xmode=abs_centre
layer=content_layer

// 1019:2
[truce_instructions]
type=text
y=60
width=6
height=60
widthmode=minus
xmode=abs_centre
layer=content_layer
textfont=museo_sans_11pt_regular
text=If you offer a truce and your opponent accepts, the Conquest will end in a draw.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1019:3
[ignore_truce_layer]
type=layer
y=124
height=32
widthmode=minus
xmode=abs_centre
layer=content_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script5771

// 1019:4
[ignore_truce_check]
type=graphic
x=10
width=18
height=18
ymode=abs_centre
layer=ignore_truce_layer
graphic="rs3_btn_checkbox,0"
colour=0x000000
clickmask=no

// 1019:5
[negative_button_layer]
type=layer
y=160
width=150
height=27
xmode=abs_centre
layer=content_layer

// 1019:6
[content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=base

// 1019:7
[resign_instructions]
type=text
y=195
width=6
height=60
widthmode=minus
xmode=abs_centre
layer=base
textfont=museo_sans_11pt_regular
text=If you resign, the Conquest will end immediately.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1019:8
[com_8]
type=graphic
width=8
height=8
layer=background_panel
graphic="rs3_content_container,9"
tiling=yes
colour=0xffffff
clickmask=no

// 1019:9
[com_9]
type=graphic
width=16
height=8
widthmode=minus
xmode=abs_centre
layer=background_panel
graphic="rs3_content_container,10"
tiling=yes
colour=0xffffff
clickmask=no

// 1019:10
[com_10]
type=graphic
width=8
height=8
xmode=abs_right
layer=background_panel
graphic="rs3_content_container,11"
tiling=yes
colour=0xffffff
clickmask=no

// 1019:11
[com_11]
type=graphic
width=8
height=16
heightmode=minus
ymode=abs_centre
layer=background_panel
graphic="rs3_content_container,12"
tiling=yes
colour=0xffffff
clickmask=no

// 1019:12
[com_12]
type=graphic
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=background_panel
graphic="rs3_content_container,13"
tiling=yes
colour=0xffffff
clickmask=no

// 1019:13
[com_13]
type=graphic
width=8
height=16
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=background_panel
graphic="rs3_content_container,14"
tiling=yes
colour=0xffffff
clickmask=no

// 1019:14
[com_14]
type=graphic
width=8
height=8
ymode=abs_bottom
layer=background_panel
graphic="rs3_content_container,15"
tiling=yes
colour=0xffffff
clickmask=no

// 1019:15
[com_15]
type=graphic
width=16
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=background_panel
graphic="rs3_content_container,16"
tiling=yes
colour=0xffffff
clickmask=no

// 1019:16
[com_16]
type=graphic
width=8
height=8
xmode=abs_right
ymode=abs_bottom
layer=background_panel
graphic="rs3_content_container,17"
tiling=yes
colour=0xffffff
clickmask=no

// 1019:17
[confirm_resign_text]
type=text
y=5
width=6
height=60
widthmode=minus
xmode=abs_centre
layer=background_panel
textfont=museo_sans_11pt_regular
text=Are you sure you wish to resign from the Conquest?
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1019:18
[com_18]
type=rectangle
widthmode=minus
heightmode=minus
layer=confirm_resign_layer
colour=0x000000
fill=yes
trans=50

// 1019:19
[positive_button_layer]
type=layer
y=50
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=background_panel

// 1019:20
[negative_button_layer_1]
type=layer
y=20
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=background_panel

// 1019:21
[confirm_resign_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=base
hide=yes

// 1019:22
[background_panel]
type=layer
x=5
y=5
width=10
height=150
widthmode=minus
ymode=abs_bottom
layer=confirm_resign_layer

// 1019:23
[base]
type=layer
widthmode=minus
heightmode=minus

// 1019:24
[ignore_truce_text]
type=text
x=30
y=1
width=30
widthmode=minus
heightmode=minus
layer=ignore_truce_layer
textfont=museo_sans_11pt_regular
text=Ignore opponent's truce offers
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1019:25
[neutral_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=offer_truce_button_layer
onload=script7062(event_com)

// 1019:26
[neutral_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=offer_truce_button_layer
onload=script7063(event_com)

// 1019:27
[neutral_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=offer_truce_button_layer
onload=script7065(event_com)

// 1019:28
[neutral_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=offer_truce_button_layer
hide=yes
onload=script7068(event_com)

// 1019:29
[offer_truce_button]
type=layer
widthmode=minus
heightmode=minus
layer=offer_truce_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1019:30
[neutral_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=offer_truce_button_layer
hide=yes
onload=script7074(event_com)

// 1019:31
[neutral_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=offer_truce_button_layer

// 1019:32
[offer_truce_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer
textfont=cinzel_13pt_bold
text=Offer Truce
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1019:33
[negative_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7275(event_com)

// 1019:34
[negative_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7276(event_com)

// 1019:35
[negative_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7277(event_com)

// 1019:36
[negative_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
hide=yes
onload=script7445(event_com)

// 1019:37
[resign_button]
type=layer
widthmode=minus
heightmode=minus
layer=negative_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1019:38
[negative_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
hide=yes
onload=script7572(event_com)

// 1019:39
[negative_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer

// 1019:40
[resign_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_text_layer
textfont=cinzel_13pt_bold
text=Resign
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 1019:41
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7041(event_com)

// 1019:42
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7042(event_com)

// 1019:43
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7044(event_com)

// 1019:44
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7047(event_com)

// 1019:45
[confirm_resign]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1019:46
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7060(event_com)

// 1019:47
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer

// 1019:48
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Yes
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1019:49
[negative_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_1
onload=script7275(event_com)

// 1019:50
[negative_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_1
onload=script7276(event_com)

// 1019:51
[negative_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_1
onload=script7277(event_com)

// 1019:52
[negative_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_1
hide=yes
onload=script7445(event_com)

// 1019:53
[deny_resign]
type=layer
widthmode=minus
heightmode=minus
layer=negative_button_layer_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1019:54
[negative_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_1
hide=yes
onload=script7572(event_com)

// 1019:55
[negative_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_1

// 1019:56
[negative_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_text_layer_1
textfont=cinzel_13pt_bold
text=No
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

