// 1021:0
[round_time_background_layer]
type=layer
y=10
width=20
height=40
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
transmitop10=yes
op10=  
onload=script439(conq_friendly_confirm:round_time_amount)

// 1021:1
[mainmodal_window]
type=layer
width=170
height=150
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(conq_friendly_confirm:mainmodal_window_background, conq_friendly_confirm:mainmodal_window_border, conq_friendly_confirm:mainmodal_window_content, conq_friendly_confirm:mainmodal_window_close_button, "Confirm Options", 21218, string_1007)

// 1021:2
[round_time_title]
type=text
y=3
width=16391
height=15
widthmode=proportion
layer=round_time_background_layer
textfont=cinzel_13pt_bold
text=Maximum Turn Time
textlineheight=15
textalignh=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1021:3
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1021:4
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1021:5
[accept_button]
type=layer
x=10
y=10
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content
onload=script13968(conq_friendly_confirm:accept_build, conq_friendly_confirm:accept_click, rs3tli_positive_button, "Accept")

// 1021:6
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1021:7
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1021:8
[round_time_amount]
type=text
y=4
width=43
height=15
xmode=abs_centre
ymode=abs_bottom
layer=round_time_background_layer
textfont=museo_sans_15pt_bold
text=0:30
textlineheight=15
textalignh=1
textshadow=yes
transmitop1=yes
op1=1:30

// 1021:9
[accept_build]
type=layer
widthmode=minus
heightmode=minus
layer=accept_button

// 1021:10
[accept_click]
type=layer
widthmode=minus
heightmode=minus
layer=accept_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1021:11
[decline_button]
type=layer
x=10
y=10
width=150
height=27
ymode=abs_bottom
layer=mainmodal_window_content
onload=script13968(conq_friendly_confirm:decline_build, conq_friendly_confirm:decline_click, rs3tli_negative_button, "Decline")

// 1021:12
[stake_status]
type=text
y=5
width=20
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular
text=Waiting for other player...
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1021:13
[decline_build]
type=layer
widthmode=minus
heightmode=minus
layer=decline_button

// 1021:14
[decline_click]
type=layer
widthmode=minus
heightmode=minus
layer=decline_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=closebutton_click

