// 1020:0
[title]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=title_layer
textfont=cinzel_12pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78
onload=script2732(event_com, -1, 0)

// 1020:1
[title_layer]
type=layer
width=34
height=30
widthmode=minus
xmode=abs_centre
layer=content

// 1020:2
[textbox]
type=text
y=33
width=56
height=55
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content
textfont=museo_sans_11pt_regular
textlineheight=15
textalignh=1
textalignv=1
colour=0x000000

// 1020:3
[background]
type=layer
widthmode=minus
heightmode=minus

// 1020:4
[border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(conq_tutorial_instructions:background, conq_tutorial_instructions:border, null, null, "", 23001, string_1006)

// 1020:5
[content]
type=layer
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes

// 1020:6
[click_continue_button]
type=layer
width=80
height=20
xmode=abs_centre
ymode=abs_bottom
layer=content

// 1020:7
[continue_button]
type=layer
widthmode=minus
heightmode=minus
layer=content
transmitop1=yes
opkey1=0,83,0
op1=Continue
onload=script5584(conq_tutorial_instructions:click_continue_button, event_com)

// 1020:8
[click_continue_button_on]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 1)

// 1020:9
[click_continue_button_over]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 2)

// 1020:10
[click_continue_button_hit]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 3)

