// 1018:0
[background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 1018:1
[border]
type=layer
widthmode=minus
heightmode=minus
onload=script11726(conq_tutorial_chatbox:background, conq_tutorial_chatbox:border, null, null, "", 23001, string_1006)

// 1018:2
[layer_1]
type=layer
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes

// 1018:3
[title_layer]
type=layer
width=230
height=30
widthmode=minus
xmode=abs_centre
layer=layer_1

// 1018:4
[title_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=title_layer
textfont=cinzel_12pt_bold
text=Name
textlineheight=10
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script2732(event_com, -1, 0)

// 1018:5
[chathead_holder]
type=layer
y=-5
width=134
height=134
ymode=abs_bottom
layer=layer_1
onload=script10007(event_com, conq_tutorial_chatbox:ring_background, conq_tutorial_chatbox:ring_foreground, conq_tutorial_chatbox:chat_mask_left, chatv2_chathead_holder_left)

// 1018:6
[ring_background]
type=graphic
width=134
height=134
ymode=abs_bottom
layer=chathead_holder
graphic=rs3_ui_dialogue_chathead_background
colour=0xffffff
clickmask=no

// 1018:7
[ring_foreground]
type=graphic
width=134
height=134
ymode=abs_bottom
layer=chathead_holder
graphic=rs3_ui_dialogue_chathead_foreground
colour=0xffffff
clickmask=no

// 1018:8
[chathead_1]
type=model
x=55
y=45
width=32
height=32
ymode=abs_bottom
layer=chathead_holder
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=40
modelangle_y=1882
modelangle_z=0
modelzoom=2150

// 1018:9
[chat_mask_left]
type=graphic
x=-6
width=138
height=109
ymode=abs_bottom
layer=chathead_holder
graphic=rs3_ui_dialogue_chathead_foreground_overlay
colour=0xffffff
clickmask=no

// 1018:10
[chat_text]
type=text
x=58
y=20
width=156
height=60
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=layer_1
textfont=museo_sans_11pt_regular
textlineheight=15
textalignh=1
textalignv=1
colour=0x000000

// 1018:11
[click_continue_button]
type=layer
width=80
height=20
xmode=abs_centre
ymode=abs_bottom
layer=layer_1

// 1018:12
[continue_button]
type=layer
widthmode=minus
heightmode=minus
layer=layer_1
transmitop1=yes
opkey1=0,83,0
op1=Continue
onload=script5584(conq_tutorial_chatbox:click_continue_button, event_com)

// 1018:13
[click_continue_button_on]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 1)

// 1018:14
[click_continue_button_over]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 2)

// 1018:15
[click_continue_button_hit]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 3)

