// 1143:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(construction_house_furniture_portal_nexus:mainmodal_window_background, construction_house_furniture_portal_nexus:mainmodal_window_border, construction_house_furniture_portal_nexus:mainmodal_window_content, construction_house_furniture_portal_nexus:mainmodal_window_close_button, "Portal Nexus", 21218, string_1007)

// 1143:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1143:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script16283
onvartransmit=script16285
onvartransmitlist=construction_house_furniture_portal_nexus_modified

// 1143:3
[active_layer]
type=layer
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
noclickthrough=yes

// 1143:4
[active_contents]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=active_layer
noclickthrough=yes

// 1143:5
[active_scrolling]
type=panel
width=16
widthmode=minus
heightmode=minus
layer=active_contents
noclickthrough=yes
isvertical=yes
childspacing=0

// 1143:6
[active_scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=active_contents
noclickthrough=yes

// 1143:7
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1143:8
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

