// 1530:0
[bespoke_window]
type=layer
width=300
height=160
onload=script8420(construction_neighbourhood_invite:bespoke_window_background, construction_neighbourhood_invite:bespoke_window_border, construction_neighbourhood_invite:bespoke_window_content, null, "", 21259, string_1007)

// 1530:1
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1530:2
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1530:3
[confirm_button]
type=button
y=40
width=180
height=30
xmode=abs_centre
ymode=abs_bottom
layer=bespoke_window_content
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Accept
stylesheet=button_action_positive
transmitop1=yes
op1=Accept
onload=stylesheet_set(event_com)

// 1530:4
[invite_text]
type=text
y=5
height=65
widthmode=minus
layer=bespoke_window_content
textfont=museo_sans_13pt_regular
text=WWWWWWWWWWWW has invited you to join the neighbourhood:
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
maxlines=3
onload=script20838(event_com)
onvartransmit=script20838(event_com)
onvarctransmit=script20838(event_com)
onvartransmitlist=construction_neighbourhood_invite_type
onvarctransmitlist=construction_neighbourhood_cache_clan_name_client,construction_neighbourhood_inviter_name_client

// 1530:5
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1530:6
[cancel_button]
type=button
y=5
width=180
height=30
xmode=abs_centre
ymode=abs_bottom
layer=bespoke_window_content
noclickthrough=yes
sprite.graphic=button_action_negative
text.text=Decline
stylesheet=button_action_negative
transmitop1=yes
op1=Decline
onload=stylesheet_set(event_com)

