// 1511:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(construction_neighbourhood_list:mainmodal_window_background, construction_neighbourhood_list:mainmodal_window_border, construction_neighbourhood_list:mainmodal_window_content, construction_neighbourhood_list:mainmodal_window_close_button, "Homestead list", 21218, string_1007)

// 1511:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1511:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script20836

// 1511:3
[active_layer]
type=layer
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
noclickthrough=yes

// 1511:4
[active_contents]
type=layer
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=active_layer
noclickthrough=yes

// 1511:5
[search_button]
type=button
width=250
height=27
xmode=abs_centre
ymode=abs_bottom
layer=active_layer
noclickthrough=yes
sprite.graphic=button_action_neutral
text.textfont=notosans_12
text.text=Search for homestead
stylesheet=button_action_neutral
transmitop1=yes
op1=Search
opcursor0=cursor_search
onload=stylesheet_set(event_com)

// 1511:6
[active_scrolling]
type=panel
width=16
widthmode=minus
heightmode=minus
layer=active_contents
noclickthrough=yes
isvertical=yes
childspacing=0

// 1511:7
[active_scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=active_contents
noclickthrough=yes

// 1511:8
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1511:9
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

