// 571:0
[com_0]
type=model
x=121
y=6
width=65
height=116
layer=options_picture
model=crcs_magic_attack_steal_breastplate
modelorigin_x=0
modelorigin_y=51
modelangle_x=57
modelangle_y=186
modelangle_z=0
modelzoom=969

// 571:1
[com_1]
type=model
x=115
y=46
width=66
height=53
layer=audience_picture
model=game_crcs_desert_dwellers_bench_left_01
modelorigin_x=2
modelorigin_y=24
modelangle_x=57
modelangle_y=1951
modelangle_z=0
modelzoom=2169

// 571:2
[com_2]
type=model
x=163
y=45
width=67
height=50
layer=audience_picture
model=game_crcs_desert_dwellers_bench_right_01
modelorigin_x=7
modelorigin_y=24
modelangle_x=57
modelangle_y=1951
modelangle_z=0
modelzoom=2169

// 571:3
[back_mid]
type=graphic
width=13107
height=4915
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=back_button
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 571:4
[back_midleft]
type=graphic
width=18
height=4915
heightmode=proportion
ymode=abs_centre
layer=back_button
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 571:5
[back_midright]
type=graphic
width=18
height=4915
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=back_button
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 571:6
[back_topleft]
type=graphic
width=18
height=16
layer=back_button
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 571:7
[back_topmid]
type=graphic
width=13107
height=16
widthmode=proportion
xmode=abs_centre
layer=back_button
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 571:8
[back_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=back_button
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 571:9
[back_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=back_button
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 571:10
[back_botmid]
type=graphic
width=13107
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=back_button
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 571:11
[back_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=back_button
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 571:12
[com_12]
type=text
width=14745
height=14745
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=back_button
textfont=cinzel_15pt_bold
text=Back
textalignh=1
textalignv=1
textshadow=yes

// 571:13
[front]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=mainmodal_window_content

// 571:14
[info]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=mainmodal_window_content
hide=yes

// 571:15
[title]
type=text
y=8
width=16384
height=32
widthmode=proportion
xmode=abs_centre
layer=info
textfont=cinzel_18pt_bold_multiline
text=Title
textalignh=1
textalignv=1
textshadow=yes

// 571:16
[info_text]
type=text
y=50
width=14745
height=9830
widthmode=proportion
heightmode=proportion
xmode=abs_centre
layer=info
textfont=museo_sans_11pt_regular_multiline
text=Text
textshadow=yes

// 571:17
[audience_picture]
type=layer
x=186
y=125
width=239
height=110
layer=info
hide=yes

// 571:18
[options_picture]
type=layer
x=237
y=112
width=201
height=134
layer=info

// 571:19
[emotes_picture]
type=layer
x=292
y=124
width=140
height=108
layer=info
hide=yes

// 571:20
[costume_picture]
type=layer
x=292
y=124
width=140
height=108
layer=info
hide=yes

// 571:21
[com_21]
type=graphic
x=5
y=60
width=48
height=48
layer=emotes_picture
graphic="emotes,2"
colour=0xffffff
clickmask=no

// 571:22
[com_22]
type=graphic
x=41
y=60
width=48
height=48
layer=emotes_picture
graphic="emotes,5"
colour=0xffffff
clickmask=no

// 571:23
[com_23]
type=graphic
x=79
y=60
width=48
height=48
layer=emotes_picture
graphic="emotes,10"
colour=0xffffff
clickmask=no

// 571:24
[com_24]
type=graphic
x=63
y=70
width=48
height=48
layer=options_picture
graphic="emotes_circus,0"
colour=0xffffff
clickmask=no

// 571:25
[com_25]
type=graphic
x=15
y=69
width=48
height=48
layer=options_picture
graphic="emotes_circus,5"
colour=0xffffff
clickmask=no

// 571:26
[com_26]
type=model
x=10
y=30
width=52
height=121
layer=costume_picture
model=fmc_reward_kit_male_torso
modelorigin_x=0
modelorigin_y=60
modelangle_x=57
modelangle_y=1951
modelangle_z=0
modelzoom=800

// 571:27
[com_27]
type=model
x=80
y=28
width=40
height=75
layer=costume_picture
model=fmc_reward_kit_female_legs
modelorigin_x=-13
modelorigin_y=37
modelangle_x=45
modelangle_y=183
modelangle_z=1934
modelzoom=800

// 571:28
[back_button]
type=layer
x=5
y=200
width=96
height=44
layer=info
transmitop1=yes
op1=Back
onmouseover=script3703(event_com, 0)
onmouseleave=script3703(event_com, 2)
onclick=script3703(event_com, 1)
onrelease=script3703(event_com, 0)

// 571:29
[com_29]
type=text
y=9
width=405
height=31
xmode=abs_centre
layer=front
textfont=cinzel_18pt_bold_multiline
text=How will...
textshadow=yes

// 571:30
[com_30]
type=text
y=203
width=405
height=31
xmode=abs_centre
layer=front
textfont=cinzel_18pt_bold_multiline
text=... affect my score?
textalignh=2
textshadow=yes

// 571:31
[costumes]
type=layer
x=-150
y=55
width=3752
height=8199
widthmode=proportion
heightmode=proportion
xmode=abs_centre
layer=front
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script3703(event_com, 0)
onmouseleave=script3703(event_com, 2)
onclick=script3703(event_com, 1)
onrelease=script3703(event_com, 0)

// 571:32
[audience]
type=layer
x=-50
y=55
width=3752
height=8199
widthmode=proportion
heightmode=proportion
xmode=abs_centre
layer=front
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script3703(event_com, 0)
onmouseleave=script3703(event_com, 2)
onclick=script3703(event_com, 1)
onrelease=script3703(event_com, 0)

// 571:33
[options]
type=layer
x=50
y=55
width=3752
height=8199
widthmode=proportion
heightmode=proportion
xmode=abs_centre
layer=front
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script3703(event_com, 0)
onmouseleave=script3703(event_com, 2)
onclick=script3703(event_com, 1)
onrelease=script3703(event_com, 0)

// 571:34
[emotes]
type=layer
x=150
y=55
width=3752
height=8199
widthmode=proportion
heightmode=proportion
xmode=abs_centre
layer=front
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script3703(event_com, 0)
onmouseleave=script3703(event_com, 2)
onclick=script3703(event_com, 1)
onrelease=script3703(event_com, 0)

// 571:35
[costumes_mid]
type=graphic
width=12961
height=13033
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=costumes
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 571:36
[costumes_midleft]
type=graphic
width=18
height=12779
heightmode=proportion
ymode=abs_centre
layer=costumes
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 571:37
[costumes_midright]
type=graphic
width=18
height=13033
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=costumes
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 571:38
[costumes_topleft]
type=graphic
width=18
height=16
layer=costumes
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 571:39
[costumes_topmid]
type=graphic
width=13107
height=16
widthmode=proportion
xmode=abs_centre
layer=costumes
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 571:40
[costumes_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=costumes
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 571:41
[costumes_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=costumes
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 571:42
[costumes_botmid]
type=graphic
width=13107
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=costumes
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 571:43
[costumes_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=costumes
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 571:44
[com_44]
type=model
x=2
y=32
width=34
height=79
xmode=abs_centre
layer=costumes
model=fmc_reward_kit_male_torso
modelorigin_x=0
modelorigin_y=39
modelangle_x=108
modelangle_y=1939
modelangle_z=0
modelzoom=1198

// 571:45
[com_45]
type=text
y=12
width=16391
height=4096
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=costumes
textfont=cinzel_12pt_bold
text=Costumes
textalignh=1
textalignv=1
textshadow=yes

// 571:46
[audience_mid]
type=graphic
width=12961
height=13033
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=audience
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 571:47
[options_mid]
type=graphic
width=12961
height=13033
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=options
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 571:48
[emotes_mid]
type=graphic
width=12961
height=13033
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=emotes
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 571:49
[mainmodal_window]
type=layer
width=449
height=284
xmode=abs_centre
ymode=abs_centre
onload=script8420(crcs_info_modal:mainmodal_window_background, crcs_info_modal:mainmodal_window_border, crcs_info_modal:mainmodal_window_content, crcs_info_modal:mainmodal_window_close_button, "Balthazar's Big Bonanza Scoring", 21218, string_1007)

// 571:50
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 571:51
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 571:52
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 571:53
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 571:54
[audience_midleft]
type=graphic
width=18
height=12765
heightmode=proportion
ymode=abs_centre
layer=audience
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 571:55
[audience_midright]
type=graphic
width=18
height=13033
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=audience
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 571:56
[audience_topleft]
type=graphic
width=18
height=16
layer=audience
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 571:57
[audience_topmid]
type=graphic
width=12961
height=16
widthmode=proportion
xmode=abs_centre
layer=audience
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 571:58
[audience_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=audience
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 571:59
[audience_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=audience
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 571:60
[audience_botmid]
type=graphic
width=12961
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=audience
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 571:61
[audience_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=audience
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 571:62
[com_62]
type=model
x=1
y=37
width=54
height=37
xmode=abs_centre
layer=audience
model=game_crcs_druid_crowd_bench_left_01
modelorigin_x=2
modelorigin_y=17
modelangle_x=2035
modelangle_y=1948
modelangle_z=0
modelzoom=2671

// 571:63
[com_63]
type=model
x=-1
y=30
width=35
height=52
xmode=abs_centre
layer=audience
model=game_crcs_desert_dwellers_crowd_left_01
modelorigin_x=7
modelorigin_y=25
modelangle_x=2035
modelangle_y=1948
modelangle_z=0
modelzoom=2275

// 571:64
[com_64]
type=text
y=12
width=16391
height=4035
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=audience
textfont=cinzel_12pt_bold
text=The<br>audience
textlineheight=12
textalignh=1
textalignv=1
textshadow=yes

// 571:65
[options_midleft]
type=graphic
width=18
height=12765
heightmode=proportion
ymode=abs_centre
layer=options
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 571:66
[options_midright]
type=graphic
width=18
height=13033
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=options
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 571:67
[options_topleft]
type=graphic
width=18
height=16
layer=options
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 571:68
[options_topmid]
type=graphic
width=12961
height=16
widthmode=proportion
xmode=abs_centre
layer=options
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 571:69
[options_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=options
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 571:70
[options_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=options
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 571:71
[options_botmid]
type=graphic
width=12961
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=options
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 571:72
[options_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=options
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 571:73
[com_73]
type=graphic
y=27
width=48
height=48
xmode=abs_centre
layer=options
graphic="emotes_circus,5"
colour=0xffffff
clickmask=no

// 571:74
[com_74]
type=text
y=12
width=16391
height=4035
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=options
textfont=cinzel_12pt_bold
text=Actions
textlineheight=12
textalignh=1
textalignv=1
textshadow=yes

// 571:75
[emotes_midleft]
type=graphic
width=18
height=12765
heightmode=proportion
ymode=abs_centre
layer=emotes
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 571:76
[emotes_midright]
type=graphic
width=18
height=13033
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=emotes
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 571:77
[emotes_topleft]
type=graphic
width=18
height=16
layer=emotes
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 571:78
[emotes_topmid]
type=graphic
width=12961
height=16
widthmode=proportion
xmode=abs_centre
layer=emotes
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 571:79
[emotes_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=emotes
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 571:80
[emotes_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=emotes
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 571:81
[emotes_botmid]
type=graphic
width=12961
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=emotes
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 571:82
[emotes_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=emotes
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 571:83
[com_83]
type=graphic
x=-1
y=32
width=41
height=41
xmode=abs_centre
layer=emotes
graphic=child_header_icon_emotes
colour=0xffffff
clickmask=no

// 571:84
[com_84]
type=text
y=12
width=16391
height=4035
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=emotes
textfont=cinzel_12pt_bold
text=Emotes
textlineheight=12
textalignh=1
textalignv=1
textshadow=yes

// 571:85
[com_85]
type=model
x=105
y=21
width=66
height=102
layer=audience_picture
model=game_crcs_desert_dwellers_crowd_left_01
modelorigin_x=13
modelorigin_y=50
modelangle_x=57
modelangle_y=1951
modelangle_z=0
modelzoom=1237

// 571:86
[com_86]
type=model
x=177
y=26
width=36
height=80
layer=audience_picture
model=game_crcs_desert_dwellers_crowd_right_01
modelorigin_x=6
modelorigin_y=39
modelangle_x=45
modelangle_y=1921
modelangle_z=0
modelzoom=1661

