// 785:0
[main_inv]
type=layer
x=-10
width=391
height=210
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
transmitop10=yes
op10= 

// 785:1
[scrollbar]
type=layer
x=10
width=16
height=210
xmode=abs_right
ymode=abs_centre
layer=mainmodal_window_content
onload=scrollbar_vertical_graphics(event_com, crcs_rewards:main_inv, "scrollbar_dragger_v2,3", "scrollbar_dragger_v2,0", "scrollbar_dragger_v2,1", "scrollbar_dragger_v2,2", "scrollbar_v2,0", "scrollbar_v2,1")

// 785:2
[mainmodal_window]
type=layer
width=62
height=72
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(crcs_rewards:mainmodal_window_background, crcs_rewards:mainmodal_window_border, crcs_rewards:mainmodal_window_content, crcs_rewards:mainmodal_window_close_button, "Circus Rewards", 21218, string_1007)

// 785:3
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 785:4
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 785:5
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 785:6
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

