// 1787:0
[rank1_name]
type=text
x=43
y=5
width=100
height=20
layer=top_5_content_layer
textfont=museo_sans_11pt_regular_multiline
text=WWWWWWWWWWWW
textalignv=1
textshadow=yes

// 1787:1
[rank1_kills]
type=text
x=5
y=5
width=20
height=20
xmode=abs_right
layer=top_5_content_layer
textfont=museo_sans_11pt_regular_multiline
text=50
textalignv=1
textshadow=yes

// 1787:2
[rank2_name]
type=text
x=43
y=20
width=100
height=20
layer=top_5_content_layer
textfont=museo_sans_11pt_regular_multiline
text=WWWWWWWWWWWW
textalignv=1
textshadow=yes

// 1787:3
[rank2_kills]
type=text
x=5
y=20
width=20
height=20
xmode=abs_right
layer=top_5_content_layer
textfont=museo_sans_11pt_regular_multiline
text=50
textalignv=1
textshadow=yes

// 1787:4
[rank3_name]
type=text
x=43
y=35
width=100
height=20
layer=top_5_content_layer
textfont=museo_sans_11pt_regular_multiline
text=WWWWWWWWWWWW
textalignv=1
textshadow=yes

// 1787:5
[rank3_kills]
type=text
x=5
y=35
width=20
height=20
xmode=abs_right
layer=top_5_content_layer
textfont=museo_sans_11pt_regular_multiline
text=50
textalignv=1
textshadow=yes

// 1787:6
[rank4_name]
type=text
x=43
y=50
width=100
height=20
layer=top_5_content_layer
textfont=museo_sans_11pt_regular_multiline
text=WWWWWWWWWWWW
textalignv=1
textshadow=yes

// 1787:7
[rank4_kills]
type=text
x=5
y=50
width=20
height=20
xmode=abs_right
layer=top_5_content_layer
textfont=museo_sans_11pt_regular_multiline
text=50
textalignv=1
textshadow=yes

// 1787:8
[rank5_name]
type=text
x=43
y=65
width=100
height=20
layer=top_5_content_layer
textfont=museo_sans_11pt_regular_multiline
text=WWWWWWWWWWWW
textalignv=1
textshadow=yes

// 1787:9
[rank5_kills]
type=text
x=5
y=65
width=20
height=20
xmode=abs_right
layer=top_5_content_layer
textfont=museo_sans_11pt_regular_multiline
text=50
textalignv=1
textshadow=yes

// 1787:10
[top_5_bg_layer]
type=layer
widthmode=minus
heightmode=minus
layer=top_5_layer

// 1787:11
[top_5_border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=top_5_layer

// 1787:12
[kill_ring]
type=graphic
x=23
y=9
width=72
height=72
layer=kill_ring_layer
graphic=death_match_overlay_kill_ring
colour=0xffffff
clickmask=no

// 1787:13
[player_kills]
type=text
x=43
y=22
width=32
height=32
layer=kill_ring_layer
textfont=cinzel_25pt_bold_multiline
text=50
textalignh=1
textalignv=1
textshadow=yes

// 1787:14
[kills]
type=text
x=48
y=51
width=26
height=19
layer=kill_ring_layer
textfont=museo_sans_11pt_regular
text=Kills
textshadow=yes

// 1787:15
[com_15]
type=rectangle
widthmode=minus
heightmode=minus
layer=pickup_timer
colour=0x071820
fill=yes
trans=125
onload=script12769(event_com)

// 1787:16
[com_16]
type=rectangle
widthmode=minus
heightmode=minus
layer=armour_layer
colour=0x071820
fill=yes
trans=128
onload=script12769(event_com)
onvartransmit=script12769(event_com)
onvartransmitlist=toplevel_v2_transparency

// 1787:17
[pickup_icon]
type=graphic
x=10
width=32
height=32
ymode=abs_centre
layer=pickup_timer
graphic="death_match_icon_buff,1"
colour=0xffffff
clickmask=no

// 1787:18
[pickup_timer_value]
type=text
x=49
width=51
height=50
ymode=abs_centre
layer=pickup_timer
textfont=cinzel_25pt_bold_multiline
text=0:00
textalignh=1
textalignv=1
textshadow=yes

// 1787:19
[armour_amount]
type=text
x=49
width=51
height=50
ymode=abs_centre
layer=armour_layer
textfont=cinzel_25pt_bold_multiline
text=200
textalignh=1
textalignv=1
textshadow=yes

// 1787:20
[global_layer]
type=layer
widthmode=minus
heightmode=minus
onload=script12752

// 1787:21
[intro_layer]
type=layer
widthmode=minus
heightmode=minus
hide=yes

// 1787:22
[countdown]
type=layer
widthmode=minus
heightmode=minus
layer=intro_layer

// 1787:23
[intro_text]
type=text
width=400
height=300
xmode=abs_centre
ymode=abs_centre
layer=intro_layer
textfont=cinzel_25pt_bold_multiline
text=GET READY FOR DEATHMATCH!
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1787:24
[game_timer]
type=layer
x=5
y=5
width=103
height=30
layer=global_layer
hide=yes

// 1787:25
[com_25]
type=rectangle
widthmode=minus
heightmode=minus
layer=game_timer
colour=0x071820
fill=yes
trans=128
onload=script12769(event_com)

// 1787:26
[game_timer_icon]
type=graphic
x=10
width=24
height=24
ymode=abs_centre
layer=game_timer
graphic=death_match_icon_timer
colour=0xffffff
clickmask=no

// 1787:27
[game_time_text]
type=text
x=34
width=34
widthmode=minus
heightmode=minus
layer=game_timer
textfont=cinzel_25pt_bold_multiline
text=00:00
textalignv=1
textshadow=yes

// 1787:28
[pickup_layer]
type=layer
y=5
width=125
height=110
ymode=abs_bottom
layer=global_layer

// 1787:29
[pickup_timer]
type=layer
x=5
y=5
width=109
height=47
layer=pickup_layer
hide=yes

// 1787:30
[armour_layer]
type=layer
x=5
y=5
width=109
height=47
ymode=abs_bottom
layer=pickup_layer
onvartransmit=script12761
onvartransmitlist=cruc_dm_temp

// 1787:31
[com_31]
type=graphic
x=10
width=32
height=32
ymode=abs_centre
layer=armour_layer
graphic="death_match_icon_buff,0"
colour=0xffffff
clickmask=no

// 1787:32
[maximised_layer]
type=layer
width=338
height=180
xmode=abs_right
layer=global_layer

// 1787:33
[history_layer]
type=layer
y=107
height=80
widthmode=minus
xmode=abs_right
layer=maximised_layer

// 1787:34
[top_5_layer]
type=layer
x=10
y=10
width=137
height=93
widthmode=minus
xmode=abs_right
layer=maximised_layer
onload=script11033(cruc_dm_overlay:top_5_bg_layer, cruc_dm_overlay:top_5_border_layer, cruc_dm_overlay:top_5_content_layer, null, "", 30498, struct_1005, string_33700)

// 1787:35
[kill_ring_layer]
type=layer
x=68
y=8
width=512
height=334
layer=maximised_layer

// 1787:36
[top_5_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=top_5_layer

// 1787:37
[history1_icon]
type=graphic
x=10
width=15
height=15
layer=history_layer
graphic="aif_attrib_attack_icons_1,0"
colour=0xffffff
clickmask=no

// 1787:38
[history1_text]
type=text
x=30
width=30
height=15
widthmode=minus
layer=history_layer
textfont=museo_sans_11pt_regular_multiline
text=WWWWWWWWWWWW destroyed WWWWWWWWWWWW
textalignv=1
textshadow=yes

// 1787:39
[history2_icon]
type=graphic
x=10
y=20
width=15
height=15
layer=history_layer
graphic="aif_attrib_attack_icons_1,0"
colour=0xffffff
clickmask=no

// 1787:40
[history2_text]
type=text
x=30
y=20
width=30
height=15
widthmode=minus
layer=history_layer
textfont=museo_sans_11pt_regular_multiline
text=WWWWWWWWWWWW destroyed WWWWWWWWWWWW
textalignv=1
textshadow=yes

// 1787:41
[history3_icon]
type=graphic
x=10
y=40
width=15
height=15
layer=history_layer
graphic="aif_attrib_attack_icons_1,0"
colour=0xffffff
clickmask=no

// 1787:42
[history3_text]
type=text
x=30
y=40
width=30
height=15
widthmode=minus
layer=history_layer
textfont=museo_sans_11pt_regular_multiline
text=WWWWWWWWWWWW destroyed WWWWWWWWWWWW
textalignv=1
textshadow=yes

