// 1372:0
[main_layer]
type=layer
width=640
height=72
noclickthrough=yes

// 1372:1
[tint_rect]
type=rectangle
width=640
height=72
layer=main_layer
hide=yes
colour=0x000000
fill=yes
trans=128

// 1372:2
[text_dropshadow]
type=text
width=628
height=64
xmode=abs_centre
ymode=abs_centre
layer=main_layer
textfont=p12_full
textshadow=yes
colour=0x000000

// 1372:3
[text]
type=text
width=628
height=64
xmode=abs_centre
ymode=abs_centre
layer=main_layer
textfont=p12_full
textshadow=yes
colour=0xfffffe

// 1372:4
[frame_rect]
type=rectangle
width=640
height=72
layer=main_layer
hide=yes
colour=0x000000

