// 1197:0
[background_rect]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=universe
colour=0x000000
fill=yes

// 1197:1
[cutscene_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1197:2
[skip_button_layer]
type=layer
x=10
y=10
width=142
height=42
layer=universe
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1197:3
[skip_button_icon]
type=graphic
width=42
height=42
layer=skip_button_layer
graphic=aif_esc_btn_1
colour=0xffffff
clickmask=no

// 1197:4
[skip_button_text]
type=text
width=48
widthmode=minus
heightmode=minus
xmode=abs_right
layer=skip_button_layer
textfont=notosans_13
text=Skip Cutscene
textlineheight=14
textalignv=1
textshadow=yes

// 1197:5
[universe]
type=layer
widthmode=minus
heightmode=minus
noclickthrough=yes

