// 1292:0
[cws_test_warning]
type=text
y=7
width=10
height=87
widthmode=minus
xmode=abs_centre
layer=gold_window_content_layer
textfont=museo_sans_13pt_regular
text=You are about to enter a dangerous area where others can attack you.<br><br>If you die you will lose all the items you are carrying.
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xff7d1f
onload=script10496(event_com, event_comsubid, 3)

// 1292:1
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(cws_warning_35:mainmodal_window_background, cws_warning_35:mainmodal_window_border, cws_warning_35:mainmodal_window_content, cws_warning_35:mainmodal_window_close_button, "Warning", 21218, string_1007)

// 1292:2
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1292:3
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1292:4
[proceed_button]
type=layer
width=150
height=27
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Enter")

// 1292:5
[remain_button]
type=layer
y=50
width=150
height=27
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Remain")

// 1292:6
[gold_window_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1292:7
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1292:8
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

