// 1262:0
[cws_warning_layer]
type=layer
width=270
height=20
ymode=abs_bottom
layer=mainmodal_window_content

// 1262:1
[warning_text]
type=text
width=10
height=78
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular_multiline
text=This area is very dangerous and death is more than a possibility! Are you sure you want to enter?
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 1262:2
[yes_text]
type=text
y=55
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular
text=Proceed regardless
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000
transmitop1=yes
op1=Yes
onmouseover=cws_mouseover(event_com, ^white)
onmouseleave=cws_mouseover(event_com, ^red)

// 1262:3
[no_text]
type=text
y=30
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular
text=Stay out
textalignh=1
textalignv=1
textshadow=yes
colour=0x00ff02
transmitop1=yes
op1=No
onmouseover=cws_mouseover(event_com, ^white)
onmouseleave=cws_mouseover(event_com, 0x00ff02)

// 1262:4
[warn3]
type=text
width=245
height=16391
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=cws_warning_layer
textfont=museo_sans_11pt_regular
text=Don't ask me this again
textalignv=1
textshadow=yes

// 1262:5
[cws_toggle_button]
type=layer
x=2
width=16
height=16
ymode=abs_centre
layer=cws_warning_layer
transmitop1=yes
op1=Toggle
onvartransmit=script5887(cws_warning_main:checkbox_selected_layer, cws_warning_main:checkbox_deselected_layer)
onop=script5885(cws_warning_main:checkbox_selected_layer, cws_warning_main:checkbox_deselected_layer)
onvartransmitlist=cws_var,cws_var_2,cws_var_3,cws_var_4

// 1262:6
[checkbox_selected_layer]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=cws_toggle_button
onload=script7755(event_com)

// 1262:7
[checkbox_deselected_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=cws_toggle_button
onload=script7756(event_com)

// 1262:8
[mainmodal_window]
type=layer
width=350
height=232
xmode=abs_centre
ymode=abs_centre
onload=script8420(cws_warning_main:mainmodal_window_background, cws_warning_main:mainmodal_window_border, cws_warning_main:mainmodal_window_content, cws_warning_main:mainmodal_window_close_button, "Warning", 21218, string_1007)

// 1262:9
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1262:10
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1262:11
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1262:12
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

