// 710:0
[daily_rewards_main]
type=layer
width=512
height=334
noclickthrough=yes
onload=script9806
onvartransmit=script9806
onvartransmitlist=daily_rewards_last_claim_date,daily_rewards_perm1,daily_rewards_system_cached,daily_rewards_perm1,daily_rewards_perm1,daily_rewards_perm1,daily_rewards_perm1,daily_rewards_perm1,daily_rewards_perm1,daily_rewards_perm1,daily_rewards_perm1,daily_rewards_perm1,daily_rewards_perm1,daily_rewards_perm1,daily_rewards_perm1

// 710:1
[daily_rewards_background_layer]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=daily_rewards_main

// 710:2
[daily_rewards_background]
type=graphic
widthmode=minus
heightmode=minus
layer=daily_rewards_background_layer
graphic=background_daily
colour=0xffffff
clickmask=no

// 710:3
[daily_rewards_title_layer]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=daily_rewards_main

// 710:4
[daily_rewards_title]
type=text
y=8
width=250
height=32
xmode=abs_centre
layer=daily_rewards_title_layer
textfont=cinzel_25pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xf6d06c

// 710:5
[content_layer]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=daily_rewards_main

// 710:6
[daily_rewards_desc]
type=text
y=40
width=350
height=32
xmode=abs_centre
layer=daily_rewards_title_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 710:7
[claim_button]
type=layer
y=15
width=170
height=51
xmode=abs_centre
ymode=abs_bottom
layer=content_layer
transmitop1=yes
op1=Claim
onload=script13968(event_com, null, rs3tli_button_small, "Claim Now")

// 710:8
[frame]
type=layer
widthmode=minus
heightmode=minus
layer=daily_rewards_main

// 710:9
[com_9]
type=graphic
y=40
width=6
height=46
heightmode=minus
layer=frame
graphic=rs3_main_modal_side_tile
colour=0xffffff
clickmask=no

// 710:10
[com_10]
type=graphic
y=40
width=6
height=46
heightmode=minus
xmode=abs_right
layer=frame
graphic=rs3_main_modal_side_tile
hflip=yes
colour=0xffffff
clickmask=no

// 710:11
[com_11]
type=graphic
width=6
height=40
layer=frame
graphic=rs3_main_modal_top_corner
tiling=yes
colour=0xffffff
clickmask=no

// 710:12
[com_12]
type=graphic
width=12
height=6
widthmode=minus
xmode=abs_centre
layer=frame
graphic=rs3_main_modal_top_tile
colour=0xffffff
clickmask=no

// 710:13
[com_13]
type=graphic
width=6
height=40
xmode=abs_right
layer=frame
graphic=rs3_main_modal_top_corner
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 710:14
[com_14]
type=graphic
width=6
height=6
ymode=abs_bottom
layer=frame
graphic=rs3_main_modal_bottom_corner
tiling=yes
colour=0xffffff
clickmask=no

// 710:15
[com_15]
type=graphic
width=12
height=6
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=frame
graphic=rs3_main_modal_bottom_tile
tiling=yes
colour=0xffffff
clickmask=no

// 710:16
[com_16]
type=graphic
width=6
height=6
xmode=abs_right
ymode=abs_bottom
layer=frame
graphic=rs3_main_modal_bottom_corner
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 710:17
[daily_rewards_close_button]
type=graphic
x=8
y=8
width=24
height=24
xmode=abs_right
layer=daily_rewards_main
noclickthrough=yes
graphic="rs3_btn_close_24px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onload=script13914(event_com, rs3tli_24px_close_button)
onop=closebutton_click

