// 291:0
[universe_layer]
type=layer
widthmode=minus
heightmode=minus

// 291:1
[buff_render_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe_layer
onload=script11421(null, debuff_bar:buff_1, event_com)

// 291:2
[buff_1]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_render_layer, debuff_bar:buff_1, debuff_bar:buff_2)

// 291:3
[buff_2]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_1, debuff_bar:buff_2, debuff_bar:buff_3)

// 291:4
[buff_3]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_2, debuff_bar:buff_3, debuff_bar:buff_4)

// 291:5
[buff_4]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_3, debuff_bar:buff_4, debuff_bar:buff_5)

// 291:6
[buff_5]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_4, debuff_bar:buff_5, debuff_bar:buff_6)

// 291:7
[buff_6]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_5, debuff_bar:buff_6, debuff_bar:buff_7)

// 291:8
[buff_7]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_6, debuff_bar:buff_7, debuff_bar:buff_8)

// 291:9
[buff_8]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_7, debuff_bar:buff_8, debuff_bar:buff_9)

// 291:10
[buff_9]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_8, debuff_bar:buff_9, debuff_bar:buff_10)

// 291:11
[buff_10]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_9, debuff_bar:buff_10, debuff_bar:buff_11)

// 291:12
[buff_11]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_10, debuff_bar:buff_11, debuff_bar:buff_12)

// 291:13
[buff_12]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_11, debuff_bar:buff_12, debuff_bar:buff_13)

// 291:14
[buff_13]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_12, debuff_bar:buff_13, debuff_bar:buff_14)

// 291:15
[buff_14]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_13, debuff_bar:buff_14, debuff_bar:buff_15)

// 291:16
[buff_15]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_14, debuff_bar:buff_15, debuff_bar:buff_16)

// 291:17
[buff_16]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_15, debuff_bar:buff_16, debuff_bar:buff_17)

// 291:18
[buff_17]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_16, debuff_bar:buff_17, debuff_bar:buff_18)

// 291:19
[buff_18]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_17, debuff_bar:buff_18, debuff_bar:buff_19)

// 291:20
[buff_19]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_18, debuff_bar:buff_19, debuff_bar:buff_20)

// 291:21
[buff_20]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_19, debuff_bar:buff_20, debuff_bar:buff_21)

// 291:22
[buff_21]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_20, debuff_bar:buff_21, debuff_bar:buff_22)

// 291:23
[buff_22]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_21, debuff_bar:buff_22, debuff_bar:buff_23)

// 291:24
[buff_23]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_22, debuff_bar:buff_23, debuff_bar:buff_24)

// 291:25
[buff_24]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_23, debuff_bar:buff_24, debuff_bar:buff_25)

// 291:26
[buff_25]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_24, debuff_bar:buff_25, debuff_bar:buff_26)

// 291:27
[buff_26]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_25, debuff_bar:buff_26, debuff_bar:buff_27)

// 291:28
[buff_27]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_26, debuff_bar:buff_27, debuff_bar:buff_28)

// 291:29
[buff_28]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_27, debuff_bar:buff_28, debuff_bar:buff_29)

// 291:30
[buff_29]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_28, debuff_bar:buff_29, debuff_bar:buff_30)

// 291:31
[buff_30]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_29, debuff_bar:buff_30, debuff_bar:buff_31)

// 291:32
[buff_31]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_30, debuff_bar:buff_31, debuff_bar:buff_32)

// 291:33
[buff_32]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_31, debuff_bar:buff_32, debuff_bar:buff_33)

// 291:34
[buff_33]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_32, debuff_bar:buff_33, debuff_bar:buff_34)

// 291:35
[buff_34]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_33, debuff_bar:buff_34, debuff_bar:buff_35)

// 291:36
[buff_35]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_34, debuff_bar:buff_35, debuff_bar:buff_36)

// 291:37
[buff_36]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_35, debuff_bar:buff_36, debuff_bar:buff_37)

// 291:38
[buff_37]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_36, debuff_bar:buff_37, debuff_bar:buff_38)

// 291:39
[buff_38]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_37, debuff_bar:buff_38, debuff_bar:buff_39)

// 291:40
[buff_39]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_38, debuff_bar:buff_39, debuff_bar:buff_40)

// 291:41
[buff_40]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_39, debuff_bar:buff_40, debuff_bar:buff_41)

// 291:42
[buff_41]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_40, debuff_bar:buff_41, debuff_bar:buff_42)

// 291:43
[buff_42]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_41, debuff_bar:buff_42, debuff_bar:buff_43)

// 291:44
[buff_43]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_42, debuff_bar:buff_43, debuff_bar:buff_44)

// 291:45
[buff_44]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_43, debuff_bar:buff_44, debuff_bar:buff_45)

// 291:46
[buff_45]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_44, debuff_bar:buff_45, debuff_bar:buff_46)

// 291:47
[buff_46]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_45, debuff_bar:buff_46, debuff_bar:buff_47)

// 291:48
[buff_47]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_46, debuff_bar:buff_47, debuff_bar:buff_48)

// 291:49
[buff_48]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_47, debuff_bar:buff_48, debuff_bar:buff_49)

// 291:50
[buff_49]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_48, debuff_bar:buff_49, debuff_bar:buff_50)

// 291:51
[buff_50]
type=layer
width=29
height=29
layer=buff_render_layer
onload=script11422(debuff_bar:buff_49, debuff_bar:buff_50, null)

