// 1938:0
[title_text]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content
textfont=cinzel_13pt_bold
text=Fishing Frenzy
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 1938:1
[streak_label]
type=text
x=5
y=22
width=10
height=16
widthmode=minus
layer=bespoke_window_content
textfont=museo_sans_11pt_regular
text=Streak:
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1938:2
[streak_text]
type=text
x=5
y=22
width=10
height=16
widthmode=minus
layer=bespoke_window_content
textfont=museo_sans_11pt_regular
text=1,337
textalignh=2
textshadow=yes
onload=script10496(event_com, event_comsubid, 4)

// 1938:3
[bonus_label]
type=text
x=5
y=38
width=10
height=16
widthmode=minus
layer=bespoke_window_content
textfont=museo_sans_11pt_regular
text=Bonus:
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1938:4
[bonus_text]
type=text
x=5
y=38
width=10
height=16
widthmode=minus
layer=bespoke_window_content
textfont=museo_sans_11pt_regular
text=20%
textalignh=2
textshadow=yes
onload=script10496(event_com, event_comsubid, 4)

// 1938:5
[bespoke_window]
type=layer
width=150
height=65
onload=script8420(deep_sea_generic_fish_overlay:bespoke_window_background, deep_sea_generic_fish_overlay:bespoke_window_border, deep_sea_generic_fish_overlay:bespoke_window_content, null, "", 21259, null)

// 1938:6
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1938:7
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window
onload=script14049

// 1938:8
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

