// 1387:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(diango_items:mainmodal_window_background, diango_items:mainmodal_window_border, diango_items:mainmodal_window_content, diango_items:mainmodal_window_close_button, "Diango's Item Retrieval", 21218, string_1017)

// 1387:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1387:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=diango_items_init
onvartransmit=diango_items_init
onvartransmitlist=diango_interface_mode

// 1387:3
[holiday_area]
type=layer
x=4
width=8
height=38
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1387:4
[text_input_box]
type=layer
x=4
y=4
width=8
height=30
widthmode=minus
ymode=abs_bottom
layer=mainmodal_window_content

// 1387:5
[text_input_border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_box
onload=script13964(event_com, null, rs3tli_text_entry_box_30px)

// 1387:6
[text_input_listener]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_box
noclickthrough=yes

// 1387:7
[text_input_listen]
type=text
x=28
width=28
height=21
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=text_input_listener
hide=yes
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xfffefe

// 1387:8
[text_input_caret]
type=rectangle
width=2
height=14
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
colour=0xe2dede
fill=yes

// 1387:9
[text_input_display]
type=text
height=21
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
textfont=museo_sans_11pt_regular
text=Search...
textalignh=1
textalignv=1
textshadow=yes
transmitop1=yes
op1=Search
opcursor0=cursor_search
onop=diango_search
onmouserepeat=script10009("Search your items stored with Diango", event_com, event_comsubid)
onclick=script7203(diango_items:text_input_stop_click, diango_items:cancel_search)

// 1387:10
[text_input_stop_click]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
noclickthrough=yes

// 1387:11
[search_icon]
type=graphic
x=4
width=18
height=18
ymode=abs_centre
layer=text_input_box
graphic="trh_icon_search_query,0"
colour=0xffffff
clickmask=no

// 1387:12
[cancel_search]
type=layer
x=4
width=16
height=15
xmode=abs_right
ymode=abs_centre
layer=text_input_box
hide=yes

// 1387:13
[com_13]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=cancel_search
graphic=rs3_contextual_input_error
trans=50
colour=0xffffff
clickmask=no

// 1387:14
[com_14]
type=text
width=10
height=22
widthmode=minus
xmode=abs_centre
layer=holiday_area
hide=yes
textfont=museo_sans_13pt_regular
text=Holiday items
textalignv=1
textshadow=yes
colour=0xffcb05

// 1387:15
[tabs_layer]
type=layer
x=-2
y=-1
height=48
widthmode=minus
layer=holiday_area
onload=diango_bank_button
onvartransmit=diango_bank_button
onvartransmitlist=bank_temp

// 1387:16
[diango_tab_1]
type=layer
y=-5
width=48
height=48
layer=tabs_layer

// 1387:17
[tab_1]
type=graphic
widthmode=minus
heightmode=minus
layer=diango_tab_1
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script11150(0)
onmouserepeat=script8799("All items", event_com, event_comsubid)

// 1387:18
[tab_icon_1]
type=graphic
x=6
y=13
width=36
height=32
layer=diango_tab_1
graphic="bank_misc_graphics,0"
colour=0xffffff
clickmask=no

// 1387:19
[diango_tab_2]
type=layer
x=48
y=-5
width=48
height=48
layer=tabs_layer

// 1387:20
[tab_2]
type=graphic
widthmode=minus
heightmode=minus
layer=diango_tab_2
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script11150(1)
onmouserepeat=script8799("Holiday items", event_com, event_comsubid)

// 1387:21
[tab_icon_2]
type=graphic
x=8
y=13
width=30
height=30
layer=diango_tab_2
graphic="trh_icon_management_tab_holiday_items,0"
colour=0xffffff
clickmask=no

// 1387:22
[diango_tab_3]
type=layer
x=96
y=-5
width=48
height=48
layer=tabs_layer

// 1387:23
[tab_3]
type=graphic
widthmode=minus
heightmode=minus
layer=diango_tab_3
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script11150(2)
onmouserepeat=script8799("Weapons", event_com, event_comsubid)

// 1387:24
[tab_icon_3]
type=graphic
x=8
y=13
width=30
height=30
layer=diango_tab_3
graphic="trh_icon_management_tab_combat,0"
colour=0xffffff
clickmask=no

// 1387:25
[diango_tab_4]
type=layer
x=144
y=-5
width=48
height=48
layer=tabs_layer

// 1387:26
[tab_4]
type=graphic
widthmode=minus
heightmode=minus
layer=diango_tab_4
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script11150(3)
onmouserepeat=script8799("Armour", event_com, event_comsubid)

// 1387:27
[tab_icon_4]
type=graphic
x=8
y=13
width=30
height=30
layer=diango_tab_4
graphic="trh_icon_management_tab_armour,0"
colour=0xffffff
clickmask=no

// 1387:28
[diango_tab_5]
type=layer
x=192
y=-5
width=48
height=48
layer=tabs_layer

// 1387:29
[tab_5]
type=graphic
widthmode=minus
heightmode=minus
layer=diango_tab_5
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script11150(4)
onmouserepeat=script8799("Skill Sets", event_com, event_comsubid)

// 1387:30
[tab_icon_5]
type=graphic
x=8
y=13
width=30
height=30
layer=diango_tab_5
graphic="trh_icon_management_tab_skills,0"
colour=0xffffff
clickmask=no

// 1387:31
[diango_tab_6]
type=layer
x=240
y=-5
width=48
height=48
layer=tabs_layer

// 1387:32
[tab_6]
type=graphic
widthmode=minus
heightmode=minus
layer=diango_tab_6
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script11150(5)
onmouserepeat=script8799("Cosmetics", event_com, event_comsubid)

// 1387:33
[tab_icon_6]
type=graphic
x=8
y=13
width=30
height=30
layer=diango_tab_6
graphic="trh_icon_management_tab_cosmetic,0"
colour=0xffffff
clickmask=no

// 1387:34
[bank_button_layer]
type=layer
y=-2
width=165
height=27
xmode=abs_right
ymode=abs_centre
layer=tabs_layer

// 1387:35
[bank_button]
type=layer
widthmode=minus
heightmode=minus
layer=bank_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Return to Bank")

// 1387:36
[holiday_container]
type=layer
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=holiday_area

// 1387:37
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=holiday_container
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1387:38
[holiday_items]
type=layer
x=4
width=24
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=holiday_container

// 1387:39
[holiday_scrollbar]
type=layer
x=4
y=4
width=16
height=8
heightmode=minus
xmode=abs_right
layer=holiday_container

// 1387:40
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1387:41
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1387:42
[com_42]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=cancel_search
graphic=rs3_contextual_input_error
trans=255
colour=0xffffff
clickmask=no
onmouseover=script4209(event_com, 0)
onmouseleave=script4209(event_com, 1)

