// 185:0
[mainmodal_window]
type=layer
width=436
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(dino_herb_bag:mainmodal_window_background, dino_herb_bag:mainmodal_window_border, dino_herb_bag:mainmodal_window_content, dino_herb_bag:mainmodal_window_close_button, "Herb bag", 21218, string_1007)

// 185:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 185:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script7151
onvartransmit=script7151
onvartransmitlist=dino_herb_bag_1,dino_herb_bag_2,dino_herb_bag_3,dino_herb_bag_4,dino_herb_bag_5

// 185:3
[bag_content]
type=layer
x=5
y=5
width=223
height=10
heightmode=minus
layer=mainmodal_window_content

// 185:4
[withdraw_button]
type=layer
y=10
width=150
height=27
xmode=abs_centre
layer=button_holder
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Withdraw all")

// 185:5
[deposit_button]
type=layer
y=45
width=150
height=27
xmode=abs_centre
layer=button_holder
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Deposit all")

// 185:6
[inv_content_player_inv]
type=layer
x=5
y=5
width=182
height=10
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 185:7
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 185:8
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 185:9
[inv_content_player_inv_background]
type=layer
widthmode=minus
heightmode=minus
layer=inv_content_player_inv
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 185:10
[inv_content_player_inv_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=inv_content_player_inv

// 185:11
[inv_contents_layer]
type=layer
x=5
y=5
width=10
height=260
widthmode=minus
layer=inv_content_player_inv_content

// 185:12
[inv_content_player_inv_border]
type=layer
widthmode=minus
heightmode=minus
layer=inv_content_player_inv

// 185:13
[bag_content_background]
type=layer
widthmode=minus
heightmode=minus
layer=bag_content
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 185:14
[bag_content_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bag_content

// 185:15
[bag_content_holder]
type=layer
x=5
y=5
width=10
height=165
widthmode=minus
layer=bag_content_content

// 185:16
[button_holder]
type=layer
height=181
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=bag_content_content

// 185:17
[bag_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bag_content_holder

// 185:18
[herb_layer]
type=layer
width=250
height=165
layer=bag_content_holder

