// 176:0
[mainmodal_window]
type=layer
width=800
height=570
onload=script8420(dino_base_camp:mainmodal_window_background, dino_base_camp:mainmodal_window_border, dino_base_camp:mainmodal_window_content, dino_base_camp:mainmodal_window_close_button, "Base Camp Management", 21218, null)

// 176:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 176:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script6689

// 176:3
[resource_bg_panel]
type=layer
width=784
height=40
layer=resource_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 176:4
[resource_bg_layer]
type=layer
width=784
height=40
layer=resource_layer

// 176:5
[resource_content_layer]
type=layer
width=784
height=40
layer=resource_layer

// 176:6
[worker_dropdown_layer]
type=layer
x=10
width=75
height=19
ymode=abs_centre
layer=resource_layer

// 176:7
[worker_dropdown_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=worker_dropdown_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_button)
onop=script6860
onmouserepeat=script6861

// 176:8
[worker_dropdown_button]
type=graphic
width=15
height=15
xmode=abs_centre
ymode=abs_centre
layer=worker_dropdown_layer
graphic="rs3_icon_sort,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_sort_descending_icons)

// 176:9
[building_layer]
type=layer
width=5398
height=40
widthmode=proportion
heightmode=minus
ymode=abs_bottom
layer=mainmodal_window_content

// 176:10
[building_container_layer]
type=layer
widthmode=minus
heightmode=minus
layer=building_layer

// 176:11
[building_bg_layer]
type=layer
widthmode=minus
heightmode=minus
layer=building_container_layer

// 176:12
[building_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=building_container_layer

// 176:13
[building_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=building_container_layer

// 176:14
[building_scrollbar_layer]
type=layer
width=16
height=4
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=building_layer

// 176:15
[perk_layer]
type=layer
x=5398
width=5398
height=40
widthmode=proportion
heightmode=minus
xmode=proportion_left
ymode=abs_bottom
layer=mainmodal_window_content

// 176:16
[perk_1]
type=layer
y=7
width=30
height=126
widthmode=minus
xmode=abs_centre
layer=perk_layer

// 176:17
[perk_2]
type=layer
y=137
width=30
height=126
widthmode=minus
xmode=abs_centre
layer=perk_layer

// 176:18
[perk_3]
type=layer
y=267
width=30
height=126
widthmode=minus
xmode=abs_centre
layer=perk_layer

// 176:19
[perk_1_bg]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=perk_1
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 176:20
[com_20]
type=text
x=5
y=5
width=128
height=23
layer=perk_1
textfont=museo_sans_15pt_bold
text=Tier 1
textshadow=yes
onload=script14111(event_com, -1, 3)

// 176:21
[perk_1_text]
type=text
x=5
y=34
width=10
height=76
widthmode=minus
layer=perk_1
textfont=museo_sans_11pt_regular_multiline
textlineheight=16
textshadow=yes
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 176:22
[building_info_layer]
type=layer
x=10811
width=5398
height=40
widthmode=proportion
heightmode=minus
xmode=proportion_left
ymode=abs_bottom
layer=mainmodal_window_content

// 176:23
[building_resource_1]
type=graphic
x=-68
y=263
width=32
height=32
xmode=abs_centre
layer=cost_layer
graphic="aif_clan_avatar_element_icons,0"
colour=0xffffff
clickmask=no

// 176:24
[content_panel_blue_4]
type=layer
width=10
height=15
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=building_info_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 176:25
[building_image]
type=graphic
y=15
width=200
height=200
xmode=abs_centre
layer=building_info_layer
colour=0xffffff
clickmask=no

// 176:26
[cost_text_layer]
type=text
x=22
y=220
width=87
height=24
layer=building_info_layer
textfont=museo_sans_13pt_regular
text=Cost:
textalignv=1
textshadow=yes
onload=script14111(event_com, -1, 3)

// 176:27
[building_build_button]
type=layer
y=39
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=building_info_layer
onload=script13968(dino_base_camp:building_positive_build, dino_base_camp:building_positive_click, rs3tli_positive_button, "Build")

// 176:28
[cost_layer]
type=layer
y=24
width=20
height=486
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=building_info_layer

// 176:29
[prevent_clickthrough_layer]
type=layer
height=40
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=mainmodal_window_content
hide=yes
noclickthrough=yes
onclick=script6860

// 176:30
[worker_layer]
type=layer
y=40
height=145
widthmode=minus
layer=mainmodal_window_content
hide=yes
onvartransmit=script6800
onvartransmitlist=dino_base_camp_worker_varp_1,dino_base_camp_worker_varp_2

// 176:31
[worker_bg_panel]
type=layer
widthmode=minus
heightmode=minus
layer=worker_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 176:32
[resource_layer]
type=layer
height=40
widthmode=minus
layer=mainmodal_window_content

// 176:33
[total_workers]
type=layer
width=110
heightmode=minus
layer=worker_layer

// 176:34
[worker_bg_layer]
type=layer
widthmode=minus
heightmode=minus
layer=worker_layer
noclickthrough=yes

// 176:35
[worker_resource_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=worker_layer

// 176:36
[worker_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=worker_layer

// 176:37
[worker_assignment_layer]
type=layer
widthmode=minus
heightmode=minus
layer=worker_layer

// 176:38
[max_resources_text]
type=text
height=21
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=worker_layer
textfont=museo_sans_11pt_regular
text=Max resources: 5,000
textlineheight=16
textalignh=1
textshadow=yes
onload=script14111(event_com, -1, 3)

// 176:39
[reset_workers]
type=layer
x=39
y=95
width=32
height=32
layer=worker_layer

// 176:40
[total_worker_icon]
type=graphic
y=34
width=54
height=54
xmode=abs_centre
layer=total_workers
graphic=icon_workers
colour=0xffffff
clickmask=no

// 176:41
[reset_workers_click]
type=layer
widthmode=minus
heightmode=minus
layer=reset_workers
transmitop1=yes
op1=Reset workers
onload=script10896(event_com, null, rs3tli_3x3_button)

// 176:42
[reset_workers_icon]
type=graphic
width=28
height=28
xmode=abs_centre
ymode=abs_centre
layer=reset_workers
graphic="rs3_icon_lobby_refresh,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_lobby_refresh_icons)

// 176:43
[com_43]
type=text
y=10
height=24
widthmode=minus
xmode=abs_centre
layer=total_workers
textfont=museo_sans_13pt_regular
text=Total workers
textalignh=1
textalignv=1
onload=script14111(event_com, -1, 3)

// 176:44
[total_workers_text]
type=text
y=67
height=24
widthmode=minus
xmode=abs_centre
layer=total_workers
textfont=museo_sans_15pt_bold
text=60/60
textalignh=1
textalignv=1
onmouserepeat=script8799("The current and total number of workers that can be assigned to gather resources", event_com, -1)

// 176:45
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 176:46
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 176:47
[perk_2_bg]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=perk_2
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 176:48
[com_48]
type=text
x=5
y=5
width=128
height=23
layer=perk_2
textfont=museo_sans_15pt_bold
text=Tier 2
textshadow=yes
onload=script14111(event_com, -1, 3)

// 176:49
[perk_2_text]
type=text
x=5
y=34
width=10
height=76
widthmode=minus
layer=perk_2
textfont=museo_sans_11pt_regular_multiline
textlineheight=16
textshadow=yes
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 176:50
[perk_3_bg]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=perk_3
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 176:51
[com_51]
type=text
x=5
y=5
width=128
height=23
layer=perk_3
textfont=museo_sans_15pt_bold
text=Tier 3
textshadow=yes
onload=script14111(event_com, -1, 3)

// 176:52
[perk_3_text]
type=text
x=5
y=34
width=10
height=76
widthmode=minus
layer=perk_3
textfont=museo_sans_11pt_regular_multiline
textlineheight=16
textshadow=yes
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 176:53
[building_resource_2]
type=graphic
y=263
width=32
height=32
xmode=abs_centre
layer=cost_layer
graphic=clan_icon_skill_woodcutting
colour=0xffffff
clickmask=no

// 176:54
[building_resource_3]
type=graphic
x=68
y=263
width=32
height=32
xmode=abs_centre
layer=cost_layer
graphic="aif_clan_avatar_element_icons,1"
colour=0xffffff
clickmask=no

// 176:55
[building_resource_text_1]
type=text
x=26
y=294
width=50
height=25
layer=cost_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
onload=script14111(event_com, -1, 3)

// 176:56
[building_resource_text_2]
type=text
y=294
width=50
height=25
xmode=abs_centre
layer=cost_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
onload=script14111(event_com, -1, 3)

// 176:57
[building_resource_text_3]
type=text
x=69
y=294
width=50
height=25
xmode=abs_centre
layer=cost_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
onload=script14111(event_com, -1, 3)

// 176:58
[building_prerequisites]
type=text
y=325
height=109
widthmode=minus
xmode=abs_centre
layer=cost_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 176:59
[building_positive_build]
type=layer
widthmode=minus
heightmode=minus
layer=building_build_button

// 176:60
[building_positive_click]
type=layer
widthmode=minus
heightmode=minus
layer=building_build_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

