// 92:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(div_map:mainmodal_window_background, div_map:mainmodal_window_border, div_map:mainmodal_window_content, div_map:mainmodal_window_close_button, "Wisp Colonies", 21218, string_1007)

// 92:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 92:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 92:3
[map]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=mainmodal_window_content

// 92:4
[map_1]
type=graphic
width=496
height=294
xmode=abs_centre
ymode=abs_centre
layer=map
graphic=rs3_gielinor_map
colour=0xffffff
clickmask=no

// 92:5
[you_are_here_layer]
type=layer
y=-31
width=512
height=334
layer=mainmodal_window_content

// 92:6
[you_are_here]
type=graphic
x=295
y=172
width=22
height=22
layer=you_are_here_layer
graphic="aif_crucible_arena_map_location_icons,1"
colour=0xffffff
clickmask=no

// 92:7
[com_7]
type=rectangle
x=214
y=171
width=77
height=23
layer=you_are_here_layer
colour=0x474747
fill=yes
trans=74

// 92:8
[com_8]
type=rectangle
x=214
y=171
width=77
height=23
layer=you_are_here_layer
colour=0xfffefe

// 92:9
[com_9]
type=text
x=215
y=170
width=77
height=23
layer=you_are_here_layer
textfont=verdana_11pt_regular_multiline
text=You are here
textalignh=1
textalignv=1
colour=0xfffefe

// 92:10
[com_10]
type=graphic
x=290
y=176
width=12
height=12
layer=you_are_here_layer
graphic="aif_examine_frame_arrow_1,1"
colour=0xffffff
clickmask=no

// 92:11
[icons]
type=layer
x=1
y=-45
width=512
height=334
layer=mainmodal_window_content

// 92:12
[colony1]
type=graphic
x=292
y=201
width=25
height=25
layer=icons
graphic="aif_skill1_map_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=More-info
onmouseover=div_map_mouseover(event_com)
onmouseleave=div_map_mouseleave(event_com)
onop=script2724(event_com)
onmouserepeat=div_map_tooltip(event_com, event_mousex, event_mousey)

// 92:13
[colony2]
type=graphic
x=247
y=136
width=25
height=25
layer=icons
graphic="aif_skill1_map_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=More-info
onmouseover=div_map_mouseover(event_com)
onmouseleave=div_map_mouseleave(event_com)
onop=script2724(event_com)
onmouserepeat=div_map_tooltip(event_com, event_mousex, event_mousey)

// 92:14
[colony3]
type=graphic
x=334
y=131
width=25
height=25
layer=icons
graphic="aif_skill1_map_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=More-info
onmouseover=div_map_mouseover(event_com)
onmouseleave=div_map_mouseleave(event_com)
onop=script2724(event_com)
onmouserepeat=div_map_tooltip(event_com, event_mousex, event_mousey)

// 92:15
[colony4]
type=graphic
x=176
y=132
width=25
height=25
layer=icons
graphic="aif_skill1_map_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=More-info
onmouseover=div_map_mouseover(event_com)
onmouseleave=div_map_mouseleave(event_com)
onop=script2724(event_com)
onmouserepeat=div_map_tooltip(event_com, event_mousex, event_mousey)

// 92:16
[colony5]
type=graphic
x=196
y=91
width=25
height=25
layer=icons
graphic="aif_skill1_map_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=More-info
onmouseover=div_map_mouseover(event_com)
onmouseleave=div_map_mouseleave(event_com)
onop=script2724(event_com)
onmouserepeat=div_map_tooltip(event_com, event_mousex, event_mousey)

// 92:17
[colony6]
type=graphic
x=210
y=233
width=25
height=25
layer=icons
graphic="aif_skill1_map_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=More-info
onmouseover=div_map_mouseover(event_com)
onmouseleave=div_map_mouseleave(event_com)
onop=script2724(event_com)
onmouserepeat=div_map_tooltip(event_com, event_mousex, event_mousey)

// 92:18
[colony7]
type=graphic
x=99
y=276
width=25
height=25
layer=icons
graphic="aif_skill1_map_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=More-info
onmouseover=div_map_mouseover(event_com)
onmouseleave=div_map_mouseleave(event_com)
onop=script2724(event_com)
onmouserepeat=div_map_tooltip(event_com, event_mousex, event_mousey)

// 92:19
[colony8]
type=graphic
x=369
y=114
width=25
height=25
layer=icons
graphic="aif_skill1_map_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=More-info
onmouseover=div_map_mouseover(event_com)
onmouseleave=div_map_mouseleave(event_com)
onop=script2724(event_com)
onmouserepeat=div_map_tooltip(event_com, event_mousex, event_mousey)

// 92:20
[colony9]
type=graphic
x=342
y=168
width=25
height=25
layer=icons
graphic="aif_skill1_map_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=More-info
onmouseover=div_map_mouseover(event_com)
onmouseleave=div_map_mouseleave(event_com)
onop=script2724(event_com)
onmouserepeat=div_map_tooltip(event_com, event_mousex, event_mousey)

// 92:21
[colony10]
type=graphic
x=453
y=107
width=25
height=25
layer=icons
graphic="aif_skill1_map_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=More-info
onmouseover=div_map_mouseover(event_com)
onmouseleave=div_map_mouseleave(event_com)
onop=script2724(event_com)
onmouserepeat=div_map_tooltip(event_com, event_mousex, event_mousey)

// 92:22
[colony11]
type=graphic
x=329
y=305
width=25
height=25
layer=icons
graphic="aif_skill1_map_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=More-info
onmouseover=div_map_mouseover(event_com)
onmouseleave=div_map_mouseleave(event_com)
onop=script2724(event_com)
onmouserepeat=div_map_tooltip(event_com, event_mousex, event_mousey)

// 92:23
[colony12]
type=graphic
x=59
y=225
width=25
height=25
layer=icons
graphic="aif_skill1_map_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=More-info
onmouseover=div_map_mouseover(event_com)
onmouseleave=div_map_mouseleave(event_com)
onop=script2724(event_com)
onmouserepeat=div_map_tooltip(event_com, event_mousex, event_mousey)

// 92:24
[block_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 92:25
[com_25]
type=rectangle
widthmode=minus
heightmode=minus
layer=block_layer
colour=0x000000
fill=yes
trans=125

// 92:26
[moreinfo_base]
type=layer
width=300
height=160
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
hide=yes

// 92:27
[modal_dialog_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=moreinfo_base
onload=script8420(div_map:modal_dialog_window_background, div_map:modal_dialog_window_border, div_map:modal_dialog_window_content, div_map:modal_dialog_window_close_button, "Information", 21217, string_1007)

// 92:28
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 92:29
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 92:30
[moreinfo_title]
type=text
height=34
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content
textfont=cinzel_13pt_bold
text=Flickering wisps (Tier 2)
textalignh=1
textalignv=1

// 92:31
[moreinfo_desc]
type=text
y=30
width=10
height=69
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular_multiline
text=Requires Divination level 10<br>This site is located to the North of Falador, near the Guthix memorial site.
textalignh=1
textalignv=1

// 92:32
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 92:33
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=script2797

// 92:34
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 92:35
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 92:36
[tooltip_bound]
type=layer
width=16423
height=16384
widthmode=proportion
heightmode=proportion

