// 706:0
[base]
type=layer
width=1
height=1

// 706:1
[timer_cres]
type=layer
width=1
height=1
layer=base

// 706:2
[timer_robots2]
type=layer
width=1
height=1
layer=base

// 706:3
[timer_robots1]
type=layer
width=1
height=1
layer=base

// 706:4
[timer_memories_2]
type=layer
width=1
height=1
layer=base

// 706:5
[timer_memories_1]
type=layer
width=1
height=1
layer=base

