// 1169:0
[map_graphic]
type=graphic
width=157
height=157
xmode=abs_centre
ymode=abs_centre
layer=map
graphic=aif_domtower_arena_topdown
colour=0xffffff
clickmask=no

// 1169:1
[eye_icon_3]
type=graphic
width=45
height=30
xmode=abs_centre
ymode=abs_centre
layer=eye3
graphic="aif_button_eye_view,0"
colour=0xffffff
clickmask=no

// 1169:2
[eye_icon_2]
type=graphic
width=45
height=30
xmode=abs_centre
ymode=abs_centre
layer=eye2
graphic="aif_button_eye_view,0"
colour=0xffffff
clickmask=no

// 1169:3
[background]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre

// 1169:4
[instruction]
type=text
y=187
width=159
height=30
xmode=abs_centre
textfont=museo_sans_11pt_regular
text=Click an eye to select your viewpoint.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
transmitop1=yes
op1=View
targetverb=View

// 1169:5
[map]
type=layer
y=38
width=141
height=147
xmode=abs_centre

// 1169:6
[eye1]
type=layer
x=53
y=4
width=35
height=23
xmode=abs_right
layer=map
transmitop1=yes
op1=View
onmouseover=graphic_swapper(dom_spectate_side:eye_icon_1, "aif_button_eye_view,1")
onmouseleave=graphic_swapper(dom_spectate_side:eye_icon_1, "aif_button_eye_view,0")

// 1169:7
[eye_icon_1]
type=graphic
width=45
height=30
xmode=abs_centre
ymode=abs_centre
layer=eye1
graphic="aif_button_eye_view,0"
colour=0xffffff
clickmask=no

// 1169:8
[eye2]
type=layer
x=101
y=35
width=35
height=23
layer=map
transmitop1=yes
op1=View
onmouseover=graphic_swapper(dom_spectate_side:eye_icon_2, "aif_button_eye_view,1")
onmouseleave=graphic_swapper(dom_spectate_side:eye_icon_2, "aif_button_eye_view,0")

// 1169:9
[eye3]
type=layer
x=45
y=91
width=35
height=22
xmode=abs_centre
layer=map
transmitop1=yes
op1=View
onmouseover=graphic_swapper(dom_spectate_side:eye_icon_3, "aif_button_eye_view,1")
onmouseleave=graphic_swapper(dom_spectate_side:eye_icon_3, "aif_button_eye_view,0")

// 1169:10
[eye4]
type=layer
x=1
y=119
width=35
height=22
xmode=abs_centre
layer=map
transmitop1=yes
op1=View
onmouseover=graphic_swapper(dom_spectate_side:eye_icon_4, "aif_button_eye_view,1")
onmouseleave=graphic_swapper(dom_spectate_side:eye_icon_4, "aif_button_eye_view,0")

// 1169:11
[eye5]
type=layer
x=-45
y=91
width=35
height=22
xmode=abs_centre
layer=map
transmitop1=yes
op1=View
onmouseover=graphic_swapper(dom_spectate_side:eye_icon_5, "aif_button_eye_view,1")
onmouseleave=graphic_swapper(dom_spectate_side:eye_icon_5, "aif_button_eye_view,0")

// 1169:12
[eye6]
type=layer
x=-46
y=34
width=35
height=22
xmode=abs_centre
layer=map
transmitop1=yes
op1=View
onmouseover=graphic_swapper(dom_spectate_side:eye_icon_6, "aif_button_eye_view,1")
onmouseleave=graphic_swapper(dom_spectate_side:eye_icon_6, "aif_button_eye_view,0")

// 1169:13
[eye7]
type=layer
x=1
y=62
width=35
height=22
xmode=abs_centre
layer=map
transmitop1=yes
op1=View
onmouseover=graphic_swapper(dom_spectate_side:eye_icon_7, "aif_button_eye_view,1")
onmouseleave=graphic_swapper(dom_spectate_side:eye_icon_7, "aif_button_eye_view,0")

// 1169:14
[background_graphic]
type=graphic
x=9
y=9
width=172
height=244
layer=background
graphic=aif_window_texture_5
tiling=yes
colour=0xffffff
clickmask=no

// 1169:15
[bottom_corner_left]
type=graphic
width=96
height=22
ymode=abs_bottom
layer=background
graphic=aif_window3_bottomcorner
colour=0xffffff
clickmask=no

// 1169:16
[bottom_corner_right]
type=graphic
width=96
height=22
xmode=abs_right
ymode=abs_bottom
layer=background
graphic=aif_window3_bottomcorner
hflip=yes
colour=0xffffff
clickmask=no

// 1169:17
[side_bottom_left]
type=graphic
y=21
width=22
height=78
ymode=abs_bottom
layer=background
graphic=aif_window3_sidebottom
colour=0xffffff
clickmask=no

// 1169:18
[side_middle_left]
type=graphic
x=1
width=21
height=142
ymode=abs_centre
layer=background
graphic=aif_window3_sidemiddle
tiling=yes
colour=0xffffff
clickmask=no

// 1169:19
[side_top_left]
type=graphic
x=1
y=41
width=21
height=56
layer=background
graphic=aif_window3_sidetop
colour=0xffffff
clickmask=no

// 1169:20
[top_corner_left]
type=graphic
width=96
height=44
layer=background
graphic=aif_window3_topleft
colour=0xffffff
clickmask=no

// 1169:21
[side_bottom_right]
type=graphic
y=21
width=22
height=78
xmode=abs_right
ymode=abs_bottom
layer=background
graphic=aif_window3_sidebottom
hflip=yes
colour=0xffffff
clickmask=no

// 1169:22
[side_middle_right]
type=graphic
x=1
width=21
height=132
xmode=abs_right
ymode=abs_centre
layer=background
graphic=aif_window3_sidemiddle
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1169:23
[side_top_right]
type=graphic
x=1
y=41
width=21
height=56
xmode=abs_right
layer=background
graphic=aif_window3_sidetop
hflip=yes
colour=0xffffff
clickmask=no

// 1169:24
[top_corner_right]
type=graphic
width=96
height=44
xmode=abs_right
layer=background
graphic=aif_window3_topleft
hflip=yes
colour=0xffffff
clickmask=no

// 1169:25
[top_titlebar_left]
type=graphic
x=37
y=7
width=42
height=35
layer=background
graphic="aif_window3_titlebar,0"
tiling=yes
colour=0xffffff
clickmask=no

// 1169:26
[top_titlebar_right]
type=graphic
x=37
y=7
width=42
height=35
xmode=abs_right
layer=background
graphic="aif_window3_titlebar,0"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1169:27
[top_titlebar_mid]
type=graphic
y=7
width=40
height=35
xmode=abs_centre
layer=background
graphic="aif_window3_titlebar,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1169:28
[window_title]
type=text
y=12
width=483
height=21
xmode=abs_centre
layer=background
textfont=cinzel_13pt_bold
text=Spectator
textalignh=1
textalignv=1
colour=0xffcb05

// 1169:29
[close_button_lay]
type=layer
x=159
y=12
width=19
height=19
layer=background
transmitop1=yes
op1=Close
onmouseover=script5399(dom_spectate_side:close_button_graphic)
onmouseleave=image_track(dom_spectate_side:close_button_graphic)

// 1169:30
[close_button_graphic]
type=graphic
width=19
height=19
layer=close_button_lay
graphic="aif_close_1,0"
colour=0xffffff
clickmask=no

// 1169:31
[stop]
type=layer
x=-1
y=16
width=147
height=26
xmode=abs_centre
ymode=abs_bottom
transmitop1=yes
op1=Quit
onmouseover=script5411(dom_spectate_side:button_left, dom_spectate_side:button_mid, dom_spectate_side:button_right)
onmouseleave=script5415(dom_spectate_side:button_left, dom_spectate_side:button_mid, dom_spectate_side:button_right)

// 1169:32
[button_left]
type=graphic
width=15
height=26
ymode=abs_centre
layer=stop
graphic="aif_button_standard_text_red,0"
colour=0xffffff
clickmask=no

// 1169:33
[button_right]
type=graphic
width=15
height=26
xmode=abs_right
ymode=abs_centre
layer=stop
graphic="aif_button_standard_text_red,2"
colour=0xffffff
clickmask=no

// 1169:34
[button_mid]
type=graphic
width=119
height=26
xmode=abs_centre
ymode=abs_centre
layer=stop
graphic="aif_button_standard_text_red,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1169:35
[com_35]
type=text
y=-2
width=68
height=20
xmode=abs_centre
ymode=abs_centre
layer=stop
textfont=museo_sans_11pt_regular
text=Quit View
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1169:36
[eye_icon_4]
type=graphic
width=45
height=30
xmode=abs_centre
ymode=abs_centre
layer=eye4
graphic="aif_button_eye_view,0"
colour=0xffffff
clickmask=no

// 1169:37
[eye_icon_5]
type=graphic
width=45
height=30
xmode=abs_centre
ymode=abs_centre
layer=eye5
graphic="aif_button_eye_view,0"
colour=0xffffff
clickmask=no

// 1169:38
[eye_icon_6]
type=graphic
width=45
height=30
xmode=abs_centre
ymode=abs_centre
layer=eye6
graphic="aif_button_eye_view,0"
colour=0xffffff
clickmask=no

// 1169:39
[eye_icon_7]
type=graphic
width=45
height=30
xmode=abs_centre
ymode=abs_centre
layer=eye7
graphic="aif_button_eye_view,0"
colour=0xffffff
clickmask=no

