// 1172:0
[com_0]
type=graphic
width=436
height=96
xmode=abs_centre
ymode=abs_centre
layer=win_lose_layer
graphic=aif_domtower_combat_splat_01
trans=50
hflip=yes
colour=0xffffff
clickmask=no

// 1172:1
[com_1]
type=graphic
x=2
width=351
height=65
xmode=abs_right
ymode=abs_centre
layer=player_name_layer
graphic=aif_domtower_combat_splat_02
colour=0xffffff
clickmask=no

// 1172:2
[boss_name_layer]
type=layer
x=3
y=14
width=490
height=190

// 1172:3
[com_3]
type=graphic
x=5
y=-8
width=351
height=65
ymode=abs_centre
layer=boss_name_layer
graphic=aif_domtower_combat_splat_02
hflip=yes
colour=0xffffff
clickmask=no

// 1172:4
[player_name]
type=text
x=39
y=72
width=132
height=45
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=player_name_layer
textfont=museo_sans_13pt_bold
text=abcdefghijklmnopqrstuvwxyz
textalignh=2
textalignv=1
textshadow=yes

// 1172:5
[player_name_layer]
type=layer
x=-23
y=55
width=490
height=190

// 1172:6
[boss_name]
type=text
x=43
y=79
width=82
height=45
widthmode=minus
ymode=abs_bottom
layer=boss_name_layer
textfont=museo_sans_13pt_bold
text=abcdefghijklmnopqrstuvwxyz
textalignv=1
textshadow=yes

// 1172:7
[win_lose_layer]
type=layer
y=13
width=498
height=209
xmode=abs_centre
ymode=abs_bottom

// 1172:8
[win_lose]
type=text
x=-9
y=76
width=82
height=25
widthmode=minus
xmode=abs_centre
layer=win_lose_layer
textfont=museo_sans_13pt_bold
text=abcdefghijklmnopqrstuvwxyz
textalignh=1
textalignv=1
textshadow=yes

// 1172:9
[spline_handle]
type=layer
width=512
height=334

// 1172:10
[points_result]
type=text
x=-9
y=102
width=143
height=25
widthmode=minus
xmode=abs_centre
layer=win_lose_layer
textfont=museo_sans_13pt_bold
text=abcdefghijklmnopqrstuvwxyz
textalignh=1
textalignv=1
textshadow=yes

