// 1157:0
[layer_1]
type=layer
y=3
width=425
height=32
xmode=abs_centre
layer=match_list_lay
transmitop1=yes
op1=View
onmouseover=script5397(dom_spectate_list:highlight_layer_1)
onmouseleave=script5398(dom_spectate_list:highlight_layer_1)

// 1157:1
[layer_2]
type=layer
y=35
width=425
height=32
xmode=abs_centre
layer=match_list_lay
transmitop1=yes
op1=View
onmouseover=script5397(dom_spectate_list:highlight_layer_2)
onmouseleave=script5398(dom_spectate_list:highlight_layer_2)

// 1157:2
[layer_3]
type=layer
y=67
width=425
height=32
xmode=abs_centre
layer=match_list_lay
transmitop1=yes
op1=View
onmouseover=script5397(dom_spectate_list:highlight_layer_3)
onmouseleave=script5398(dom_spectate_list:highlight_layer_3)

// 1157:3
[layer_4]
type=layer
y=99
width=425
height=32
xmode=abs_centre
layer=match_list_lay
transmitop1=yes
op1=View
onmouseover=script5397(dom_spectate_list:highlight_layer_4)
onmouseleave=script5398(dom_spectate_list:highlight_layer_4)

// 1157:4
[layer_5]
type=layer
y=131
width=425
height=32
xmode=abs_centre
layer=match_list_lay
transmitop1=yes
op1=View
onmouseover=script5397(dom_spectate_list:highlight_layer_5)
onmouseleave=script5398(dom_spectate_list:highlight_layer_5)

// 1157:5
[layer_6]
type=layer
y=163
width=425
height=32
xmode=abs_centre
layer=match_list_lay
transmitop1=yes
op1=View
onmouseover=script5397(dom_spectate_list:highlight_layer_6)
onmouseleave=script5398(dom_spectate_list:highlight_layer_6)

// 1157:6
[layer_7]
type=layer
y=195
width=425
height=32
xmode=abs_centre
layer=match_list_lay
transmitop1=yes
op1=View
onmouseover=script5397(dom_spectate_list:highlight_layer_7)
onmouseleave=script5398(dom_spectate_list:highlight_layer_7)

// 1157:7
[layer_8]
type=layer
y=227
width=425
height=32
xmode=abs_centre
layer=match_list_lay
transmitop1=yes
op1=View
onmouseover=script5397(dom_spectate_list:highlight_layer_8)
onmouseleave=script5398(dom_spectate_list:highlight_layer_8)

// 1157:8
[layer_9]
type=layer
y=259
width=425
height=32
xmode=abs_centre
layer=match_list_lay
transmitop1=yes
op1=View
onmouseover=script5397(dom_spectate_list:highlight_layer_9)
onmouseleave=script5398(dom_spectate_list:highlight_layer_9)

// 1157:9
[layer_10]
type=layer
y=291
width=425
height=32
xmode=abs_centre
layer=match_list_lay
transmitop1=yes
op1=View
onmouseover=script5397(dom_spectate_list:highlight_layer_10)
onmouseleave=script5398(dom_spectate_list:highlight_layer_10)

// 1157:10
[close_button_graphic]
type=graphic
width=19
height=19
layer=close_button_lay
graphic="aif_close_1,0"
colour=0xffffff
clickmask=no

// 1157:11
[highlight_layer_10]
type=layer
width=425
height=32
xmode=abs_centre
layer=layer_10
hide=yes

// 1157:12
[com_12]
type=graphic
width=10
height=32
ymode=abs_centre
layer=highlight_layer_10
graphic="aif_textlist_highlight,0"
colour=0xffffff
clickmask=no

// 1157:13
[highlight_layer_9]
type=layer
width=425
height=32
xmode=abs_centre
layer=layer_9
hide=yes

// 1157:14
[com_14]
type=graphic
width=10
height=32
ymode=abs_centre
layer=highlight_layer_9
graphic="aif_textlist_highlight,0"
colour=0xffffff
clickmask=no

// 1157:15
[highlight_layer_8]
type=layer
width=425
height=32
xmode=abs_centre
layer=layer_8
hide=yes

// 1157:16
[com_16]
type=graphic
width=10
height=32
ymode=abs_centre
layer=highlight_layer_8
graphic="aif_textlist_highlight,0"
colour=0xffffff
clickmask=no

// 1157:17
[highlight_layer_7]
type=layer
width=425
height=32
xmode=abs_centre
layer=layer_7
hide=yes

// 1157:18
[com_18]
type=graphic
width=10
height=32
ymode=abs_centre
layer=highlight_layer_7
graphic="aif_textlist_highlight,0"
colour=0xffffff
clickmask=no

// 1157:19
[highlight_layer_6]
type=layer
width=425
height=32
xmode=abs_centre
layer=layer_6
hide=yes

// 1157:20
[com_20]
type=graphic
width=10
height=32
ymode=abs_centre
layer=highlight_layer_6
graphic="aif_textlist_highlight,0"
colour=0xffffff
clickmask=no

// 1157:21
[highlight_layer_5]
type=layer
width=425
height=32
xmode=abs_centre
layer=layer_5
hide=yes

// 1157:22
[com_22]
type=graphic
width=10
height=32
ymode=abs_centre
layer=highlight_layer_5
graphic="aif_textlist_highlight,0"
colour=0xffffff
clickmask=no

// 1157:23
[highlight_layer_4]
type=layer
width=425
height=32
xmode=abs_centre
layer=layer_4
hide=yes

// 1157:24
[com_24]
type=graphic
width=10
height=32
ymode=abs_centre
layer=highlight_layer_4
graphic="aif_textlist_highlight,0"
colour=0xffffff
clickmask=no

// 1157:25
[highlight_layer_3]
type=layer
width=425
height=32
xmode=abs_centre
layer=layer_3
hide=yes

// 1157:26
[com_26]
type=graphic
width=10
height=32
ymode=abs_centre
layer=highlight_layer_3
graphic="aif_textlist_highlight,0"
colour=0xffffff
clickmask=no

// 1157:27
[highlight_layer_2]
type=layer
width=425
height=32
xmode=abs_centre
layer=layer_2
hide=yes

// 1157:28
[com_28]
type=graphic
width=10
height=32
ymode=abs_centre
layer=highlight_layer_2
graphic="aif_textlist_highlight,0"
colour=0xffffff
clickmask=no

// 1157:29
[highlight_layer_1]
type=layer
width=425
height=32
xmode=abs_centre
layer=layer_1
hide=yes

// 1157:30
[com_30]
type=graphic
width=10
height=32
ymode=abs_centre
layer=highlight_layer_1
graphic="aif_textlist_highlight,0"
colour=0xffffff
clickmask=no

// 1157:31
[com_31]
type=graphic
width=10
height=32
xmode=abs_right
ymode=abs_centre
layer=highlight_layer_1
graphic="aif_textlist_highlight,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:32
[com_32]
type=graphic
width=417
height=32
xmode=abs_centre
ymode=abs_centre
layer=highlight_layer_1
graphic="aif_textlist_highlight,1"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:33
[name_title]
type=text
x=25
width=68
height=14
ymode=abs_centre
layer=titles_layer
textfont=museo_sans_13pt_bold
text=Player Name
textshadow=yes
colour=0xffcb05

// 1157:34
[match_details_title]
type=text
x=184
y=-1
width=68
height=14
ymode=abs_centre
layer=titles_layer
textfont=museo_sans_13pt_bold
text=Match
textshadow=yes
colour=0xffcb05

// 1157:35
[background_graphic]
type=graphic
x=9
y=9
width=485
height=309
layer=background
graphic=aif_window_texture_5
tiling=yes
colour=0xffffff
clickmask=no

// 1157:36
[inner_frame_topleft]
type=graphic
width=10
height=10
layer=innerframe_layer
graphic="aif_overlay_frame_darkorangeset,0"
colour=0xffffff
clickmask=no

// 1157:37
[innerframe_topright]
type=graphic
width=10
height=10
xmode=abs_right
layer=innerframe_layer
graphic="aif_overlay_frame_darkorangeset,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:38
[innerframe_bottomleft]
type=graphic
width=10
height=10
ymode=abs_bottom
layer=innerframe_layer
graphic="aif_overlay_frame_darkorangeset,0"
vflip=yes
colour=0xffffff
clickmask=no

// 1157:39
[innerframe_bottomright]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_bottom
layer=innerframe_layer
graphic="aif_overlay_frame_darkorangeset,0"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1157:40
[innerframe_top]
type=graphic
width=443
height=10
xmode=abs_centre
layer=innerframe_layer
graphic="aif_overlay_frame_darkorangeset,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1157:41
[background]
type=layer
width=502
height=335
xmode=abs_centre

// 1157:42
[bottom_corner_left]
type=graphic
y=9
width=96
height=22
ymode=abs_bottom
layer=background
graphic=aif_window3_bottomcorner
colour=0xffffff
clickmask=no

// 1157:43
[spectate_list_layer]
type=layer
x=-2
y=51
width=455
height=224
xmode=abs_centre

// 1157:44
[titles_layer]
type=layer
x=7
y=1
width=440
height=14
layer=spectate_list_layer

// 1157:45
[match_list_lay]
type=layer
x=3
y=17
width=430
height=201
layer=spectate_list_layer
scrollheight=325

// 1157:46
[number_1]
type=text
x=5
width=16
height=32
ymode=abs_centre
layer=layer_1
textfont=museo_sans_11pt_regular
text=1.
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:47
[name_1]
type=text
x=25
width=94
height=32
ymode=abs_centre
layer=layer_1
textfont=museo_sans_11pt_regular
text=Not available
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:48
[matchtype_1]
type=text
x=4
width=238
height=32
xmode=abs_right
ymode=abs_centre
layer=layer_1
textfont=museo_sans_11pt_regular
text=--------------
textalignv=1
textshadow=yes

// 1157:49
[number_2]
type=text
x=5
width=16
height=32
ymode=abs_centre
layer=layer_2
textfont=museo_sans_11pt_regular
text=2.
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:50
[name_2]
type=text
x=25
width=94
height=32
ymode=abs_centre
layer=layer_2
textfont=museo_sans_11pt_regular
text=Not available
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:51
[matchtype_2]
type=text
x=4
width=238
height=32
xmode=abs_right
ymode=abs_centre
layer=layer_2
textfont=museo_sans_11pt_regular
text=--------------
textalignv=1
textshadow=yes

// 1157:52
[number_3]
type=text
x=5
width=16
height=32
ymode=abs_centre
layer=layer_3
textfont=museo_sans_11pt_regular
text=3.
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:53
[name_3]
type=text
x=25
width=94
height=32
ymode=abs_centre
layer=layer_3
textfont=museo_sans_11pt_regular
text=Not available
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:54
[matchtype_3]
type=text
x=4
width=238
height=32
xmode=abs_right
ymode=abs_centre
layer=layer_3
textfont=museo_sans_11pt_regular
text=--------------
textalignv=1
textshadow=yes

// 1157:55
[number_4]
type=text
x=5
width=16
height=32
ymode=abs_centre
layer=layer_4
textfont=museo_sans_11pt_regular
text=4.
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:56
[name_4]
type=text
x=25
width=94
height=32
ymode=abs_centre
layer=layer_4
textfont=museo_sans_11pt_regular
text=Not available
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:57
[matchtype_4]
type=text
x=4
width=238
height=32
xmode=abs_right
ymode=abs_centre
layer=layer_4
textfont=museo_sans_11pt_regular
text=--------------
textalignv=1
textshadow=yes

// 1157:58
[number_5]
type=text
x=5
width=16
height=32
ymode=abs_centre
layer=layer_5
textfont=museo_sans_11pt_regular
text=5.
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:59
[name_5]
type=text
x=25
width=94
height=32
ymode=abs_centre
layer=layer_5
textfont=museo_sans_11pt_regular
text=Not available
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:60
[matchtype_5]
type=text
x=4
width=238
height=32
xmode=abs_right
ymode=abs_centre
layer=layer_5
textfont=museo_sans_11pt_regular
text=--------------
textalignv=1
textshadow=yes

// 1157:61
[number_6]
type=text
x=5
width=16
height=32
ymode=abs_centre
layer=layer_6
textfont=museo_sans_11pt_regular
text=6.
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:62
[name_6]
type=text
x=25
width=94
height=32
ymode=abs_centre
layer=layer_6
textfont=museo_sans_11pt_regular
text=Not available
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:63
[matchtype_6]
type=text
x=4
width=238
height=32
xmode=abs_right
ymode=abs_centre
layer=layer_6
textfont=museo_sans_11pt_regular
text=--------------
textalignv=1
textshadow=yes

// 1157:64
[number_7]
type=text
x=5
width=16
height=32
ymode=abs_centre
layer=layer_7
textfont=museo_sans_11pt_regular
text=7.
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:65
[name_7]
type=text
x=25
width=94
height=32
ymode=abs_centre
layer=layer_7
textfont=museo_sans_11pt_regular
text=Not available
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:66
[matchtype_7]
type=text
x=4
width=238
height=32
xmode=abs_right
ymode=abs_centre
layer=layer_7
textfont=museo_sans_11pt_regular
text=--------------
textalignv=1
textshadow=yes

// 1157:67
[number_8]
type=text
x=5
width=16
height=32
ymode=abs_centre
layer=layer_8
textfont=museo_sans_11pt_regular
text=8.
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:68
[name_8]
type=text
x=25
width=94
height=32
ymode=abs_centre
layer=layer_8
textfont=museo_sans_11pt_regular
text=Not available
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:69
[matchtype_8]
type=text
x=4
width=238
height=32
xmode=abs_right
ymode=abs_centre
layer=layer_8
textfont=museo_sans_11pt_regular
text=--------------
textalignv=1
textshadow=yes

// 1157:70
[number_9]
type=text
x=5
width=16
height=32
ymode=abs_centre
layer=layer_9
textfont=museo_sans_11pt_regular
text=9.
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:71
[name_9]
type=text
x=25
width=94
height=32
ymode=abs_centre
layer=layer_9
textfont=museo_sans_11pt_regular
text=Not available
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:72
[matchtype_9]
type=text
x=4
width=238
height=32
xmode=abs_right
ymode=abs_centre
layer=layer_9
textfont=museo_sans_11pt_regular
text=--------------
textalignv=1
textshadow=yes

// 1157:73
[scroll_layer]
type=layer
x=434
y=17
width=17
height=201
layer=spectate_list_layer
onload=scrollbar_vertical_graphics(event_com, dom_spectate_list:match_list_lay, "aif_scrollbar_dragger_5,3", "aif_scrollbar_dragger_5,0", "aif_scrollbar_dragger_5,1", "aif_scrollbar_dragger_5,2", "aif_scrollbar_arrow_5,1", "aif_scrollbar_arrow_5,0")

// 1157:74
[number_10]
type=text
x=5
width=16
height=32
ymode=abs_centre
layer=layer_10
textfont=museo_sans_11pt_regular
text=10.
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:75
[name_10]
type=text
x=25
width=94
height=32
ymode=abs_centre
layer=layer_10
textfont=museo_sans_11pt_regular
text=Not available
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1157:76
[matchtype_10]
type=text
x=4
width=238
height=32
xmode=abs_right
ymode=abs_centre
layer=layer_10
textfont=museo_sans_11pt_regular
text=--------------
textalignv=1
textshadow=yes

// 1157:77
[bottom_corner_right]
type=graphic
y=9
width=96
height=22
xmode=abs_right
ymode=abs_bottom
layer=background
graphic=aif_window3_bottomcorner
hflip=yes
colour=0xffffff
clickmask=no

// 1157:78
[bottom]
type=graphic
y=10
width=317
height=21
xmode=abs_centre
ymode=abs_bottom
layer=background
graphic=aif_window3_bottommiddletile
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1157:79
[bottom_mid_detail]
type=graphic
width=55
height=32
xmode=abs_centre
ymode=abs_bottom
layer=background
graphic=aif_window3_bottommiddledetail
hflip=yes
colour=0xffffff
clickmask=no

// 1157:80
[side_bottom_left]
type=graphic
y=30
width=22
height=78
ymode=abs_bottom
layer=background
graphic=aif_window3_sidebottom
colour=0xffffff
clickmask=no

// 1157:81
[side_middle_left]
type=graphic
x=1
width=21
height=185
ymode=abs_centre
layer=background
graphic=aif_window3_sidemiddle
tiling=yes
colour=0xffffff
clickmask=no

// 1157:82
[side_top_left]
type=graphic
x=1
y=41
width=21
height=56
layer=background
graphic=aif_window3_sidetop
colour=0xffffff
clickmask=no

// 1157:83
[top_corner_left]
type=graphic
width=96
height=44
layer=background
graphic=aif_window3_topleft
colour=0xffffff
clickmask=no

// 1157:84
[side_bottom_right]
type=graphic
y=30
width=22
height=78
xmode=abs_right
ymode=abs_bottom
layer=background
graphic=aif_window3_sidebottom
hflip=yes
colour=0xffffff
clickmask=no

// 1157:85
[side_middle_right]
type=graphic
x=1
width=21
height=185
xmode=abs_right
ymode=abs_centre
layer=background
graphic=aif_window3_sidemiddle
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1157:86
[side_top_right]
type=graphic
x=1
y=41
width=21
height=56
xmode=abs_right
layer=background
graphic=aif_window3_sidetop
hflip=yes
colour=0xffffff
clickmask=no

// 1157:87
[top_corner_right]
type=graphic
width=96
height=44
xmode=abs_right
layer=background
graphic=aif_window3_topleft
hflip=yes
colour=0xffffff
clickmask=no

// 1157:88
[top_middle_bar]
type=graphic
x=95
y=1
width=312
height=43
layer=background
graphic=aif_window3_topmiddletile
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1157:89
[top_titlebar_left]
type=graphic
x=90
y=7
width=42
height=35
layer=background
graphic="aif_window3_titlebar,0"
tiling=yes
colour=0xffffff
clickmask=no

// 1157:90
[top_titlebar_right]
type=graphic
x=90
y=7
width=42
height=35
xmode=abs_right
layer=background
graphic="aif_window3_titlebar,0"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1157:91
[top_titlebar_mid]
type=graphic
y=7
width=240
height=35
xmode=abs_centre
layer=background
graphic="aif_window3_titlebar,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1157:92
[window_title]
type=text
y=8
width=483
height=304
heightmode=minus
xmode=abs_centre
layer=background
textfont=cinzel_13pt_bold
text=Top 10 Matches to Spectate
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1157:93
[close_button_lay]
type=layer
x=468
y=12
width=19
height=19
layer=background
transmitop1=yes
op1=Close
onmouseover=script5399(dom_spectate_list:close_button_graphic)
onmouseleave=image_track(dom_spectate_list:close_button_graphic)
onop=closebutton_click

// 1157:94
[innerframe_layer]
type=layer
y=37
width=457
height=238
xmode=abs_centre

// 1157:95
[desc]
type=text
y=276
width=426
height=28
xmode=abs_centre
textfont=museo_sans_11pt_regular
text=Select a match to be a spectator.<br>You can also watch a friend by using your dominion medallion on them!
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0x636363

// 1157:96
[innerframe_bottom]
type=graphic
width=443
height=10
xmode=abs_centre
ymode=abs_bottom
layer=innerframe_layer
graphic="aif_overlay_frame_darkorangeset,1"
tiling=yes
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1157:97
[innerframe_left]
type=graphic
width=10
height=222
ymode=abs_centre
layer=innerframe_layer
graphic="aif_overlay_frame_darkorangeset,2"
tiling=yes
colour=0xffffff
clickmask=no

// 1157:98
[innerframe_right]
type=graphic
width=10
height=222
xmode=abs_right
ymode=abs_centre
layer=innerframe_layer
graphic="aif_overlay_frame_darkorangeset,2"
tiling=yes
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1157:99
[com_99]
type=graphic
width=10
height=32
xmode=abs_right
ymode=abs_centre
layer=highlight_layer_10
graphic="aif_textlist_highlight,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:100
[com_100]
type=graphic
width=417
height=32
xmode=abs_centre
ymode=abs_centre
layer=highlight_layer_10
graphic="aif_textlist_highlight,1"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:101
[com_101]
type=graphic
width=10
height=32
xmode=abs_right
ymode=abs_centre
layer=highlight_layer_9
graphic="aif_textlist_highlight,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:102
[com_102]
type=graphic
width=417
height=32
xmode=abs_centre
ymode=abs_centre
layer=highlight_layer_9
graphic="aif_textlist_highlight,1"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:103
[com_103]
type=graphic
width=10
height=32
xmode=abs_right
ymode=abs_centre
layer=highlight_layer_8
graphic="aif_textlist_highlight,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:104
[com_104]
type=graphic
width=417
height=32
xmode=abs_centre
ymode=abs_centre
layer=highlight_layer_8
graphic="aif_textlist_highlight,1"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:105
[com_105]
type=graphic
width=10
height=32
xmode=abs_right
ymode=abs_centre
layer=highlight_layer_7
graphic="aif_textlist_highlight,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:106
[com_106]
type=graphic
width=417
height=32
xmode=abs_centre
ymode=abs_centre
layer=highlight_layer_7
graphic="aif_textlist_highlight,1"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:107
[com_107]
type=graphic
width=10
height=32
xmode=abs_right
ymode=abs_centre
layer=highlight_layer_6
graphic="aif_textlist_highlight,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:108
[com_108]
type=graphic
width=417
height=32
xmode=abs_centre
ymode=abs_centre
layer=highlight_layer_6
graphic="aif_textlist_highlight,1"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:109
[com_109]
type=graphic
width=10
height=32
xmode=abs_right
ymode=abs_centre
layer=highlight_layer_5
graphic="aif_textlist_highlight,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:110
[com_110]
type=graphic
width=417
height=32
xmode=abs_centre
ymode=abs_centre
layer=highlight_layer_5
graphic="aif_textlist_highlight,1"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:111
[com_111]
type=graphic
width=10
height=32
xmode=abs_right
ymode=abs_centre
layer=highlight_layer_4
graphic="aif_textlist_highlight,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:112
[com_112]
type=graphic
width=417
height=32
xmode=abs_centre
ymode=abs_centre
layer=highlight_layer_4
graphic="aif_textlist_highlight,1"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:113
[com_113]
type=graphic
width=10
height=32
xmode=abs_right
ymode=abs_centre
layer=highlight_layer_3
graphic="aif_textlist_highlight,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:114
[com_114]
type=graphic
width=417
height=32
xmode=abs_centre
ymode=abs_centre
layer=highlight_layer_3
graphic="aif_textlist_highlight,1"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:115
[com_115]
type=graphic
width=10
height=32
xmode=abs_right
ymode=abs_centre
layer=highlight_layer_2
graphic="aif_textlist_highlight,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1157:116
[com_116]
type=graphic
width=417
height=32
xmode=abs_centre
ymode=abs_centre
layer=highlight_layer_2
graphic="aif_textlist_highlight,1"
hflip=yes
colour=0xffffff
clickmask=no

