// 248:0
[players_donation]
type=layer
x=5
width=160
height=75
ymode=abs_centre
layer=players_contribution
onmouserepeat=script9110(event_com)

// 248:1
[bonds_donated]
type=layer
width=160
height=75
xmode=abs_centre
ymode=abs_centre
layer=players_contribution
onmouserepeat=script9111(event_com)

// 248:2
[bond_bg]
type=layer
widthmode=minus
heightmode=minus
layer=bonds_donated
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 248:3
[world_donation]
type=layer
x=5
width=160
height=75
xmode=abs_right
ymode=abs_centre
layer=players_contribution
onmouserepeat=script9112(event_com)

// 248:4
[item_to_donate]
type=graphic
width=34
height=34
xmode=abs_centre
ymode=abs_centre
layer=item_info_layer
graphic=coins
colour=0xffffff
clickmask=no

// 248:5
[item_name]
type=text
width=111
height=20
xmode=abs_centre
layer=item_info_layer
textfont=museo_sans_11pt_regular
text=Coins
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 248:6
[item_amount]
type=text
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=item_info_layer
textfont=museo_sans_11pt_regular
text=000,000,000,000 Coins
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 248:7
[info_bg]
type=layer
widthmode=minus
heightmode=minus
layer=information_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 248:8
[item_info_layer]
type=layer
width=185
heightmode=minus
layer=information_layer

// 248:9
[com_9]
type=text
height=25
widthmode=minus
xmode=abs_centre
layer=what_will_the_player_give
textfont=museo_sans_13pt_regular
text=Make a Donation
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 248:10
[bounding_box]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(donation:background_layer, donation:frame_layer, donation:content_layer, donation:close_button_layer, "Well of Goodwill", 21218, string_1007)

// 248:11
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bounding_box

// 248:12
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bounding_box

// 248:13
[content_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=bounding_box
onload=interface_onload

// 248:14
[players_contribution]
type=layer
height=91
widthmode=minus
layer=content_layer

// 248:15
[player_bg]
type=layer
widthmode=minus
heightmode=minus
layer=players_donation
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 248:16
[com_16]
type=text
height=20
widthmode=minus
layer=players_donation
textfont=museo_sans_11pt_regular
text=Your Donations
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 248:17
[com_17]
type=graphic
y=-1
width=34
height=34
xmode=abs_centre
ymode=abs_centre
layer=players_donation
graphic="aif_money_xp_icons,1"
colour=0xffffff
clickmask=no

// 248:18
[player_donation_so_far]
type=text
y=2
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=players_donation
textfont=museo_sans_11pt_regular
text=000,000,000,000 coins<br>000,000,000,000 coins
textlineheight=12
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 248:19
[world_bg]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=world_donation
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 248:20
[com_20]
type=text
height=20
widthmode=minus
layer=world_donation
textfont=museo_sans_11pt_regular
text=Worldwide Total
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 248:21
[world_donation_so_far]
type=text
y=22
height=25
widthmode=minus
xmode=abs_centre
layer=world_donation
textfont=museo_sans_11pt_regular
text=000,000,000,000 coins
textlineheight=12
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 248:22
[world_bond_donation_so_far]
type=text
y=2
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=world_donation
textfont=museo_sans_11pt_regular
text=000,000,000,000 bonds
textlineheight=12
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 248:23
[what_will_the_player_give]
type=layer
y=91
height=91
widthmode=minus
heightmode=minus
layer=content_layer

// 248:24
[information_layer]
type=layer
x=26
y=24
width=443
height=70
layer=what_will_the_player_give

// 248:25
[select_inv_button_layer]
type=layer
x=20
width=200
height=27
xmode=abs_right
ymode=abs_centre
layer=information_layer

// 248:26
[inventory_pop_up_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer
hide=yes
noclickthrough=yes

// 248:27
[com_27]
type=rectangle
widthmode=minus
heightmode=minus
layer=inventory_pop_up_layer
colour=0x010304
fill=yes
trans=37

// 248:28
[com_28]
type=text
y=15
width=290
height=49
widthmode=minus
xmode=abs_centre
layer=inventory_pop_up_layer
textfont=museo_sans_11pt_regular
text=Select an inventory item, coins or bonds
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 248:29
[build_bonds_layer]
type=layer
x=103
y=22
width=32
height=32
xmode=abs_right
layer=inventory_pop_up_layer
transmitop1=yes
op1=Select Bonds
onmouseleave=script5495(null)
onmouserepeat=script5495(rs_bond)

// 248:30
[build_coin_layer]
type=layer
x=103
y=22
width=32
height=32
layer=inventory_pop_up_layer
transmitop1=yes
op1=Select Coins
onmouseleave=script5495(null)
onmouserepeat=script5495(coins)

// 248:31
[com_31]
type=graphic
widthmode=minus
heightmode=minus
layer=build_coin_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no

// 248:32
[inv_layer]
type=layer
y=-4
width=264
height=150
xmode=abs_centre
ymode=abs_centre
layer=inventory_pop_up_layer

// 248:33
[reason_you_can_not_donate]
type=text
y=43
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=inventory_pop_up_layer
hide=yes
textfont=museo_sans_11pt_regular
text=Sorry, you can't donate this item. Please choose another.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 248:34
[inv_bg]
type=layer
widthmode=minus
heightmode=minus
layer=inv_layer

// 248:35
[bg]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_bg
graphic=aif_window_texture_5
tiling=yes
colour=0xffffff
clickmask=no

// 248:36
[top_left]
type=graphic
width=12
height=11
layer=inv_bg
graphic="aif_overlay_frame_gold_corner_1_shadow,0"
hflip=yes
colour=0xffffff
clickmask=no

// 248:37
[top]
type=graphic
width=22
height=11
widthmode=minus
xmode=abs_centre
layer=inv_bg
graphic="aif_overlay_frame_gold_corner_1_shadow,2"
colour=0xffffff
clickmask=no

// 248:38
[top_right]
type=graphic
width=12
height=11
xmode=abs_right
layer=inv_bg
graphic="aif_overlay_frame_gold_corner_1_shadow,0"
colour=0xffffff
clickmask=no

// 248:39
[left]
type=graphic
y=11
width=12
height=22
heightmode=minus
layer=inv_bg
graphic="aif_overlay_frame_gold_corner_1_shadow,1"
hflip=yes
colour=0xffffff
clickmask=no

// 248:40
[right]
type=graphic
y=11
width=12
height=22
heightmode=minus
xmode=abs_right
layer=inv_bg
graphic="aif_overlay_frame_gold_corner_1_shadow,1"
colour=0xffffff
clickmask=no

// 248:41
[bot_left]
type=graphic
width=12
height=11
ymode=abs_bottom
layer=inv_bg
graphic="aif_overlay_frame_gold_corner_1_shadow,0"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 248:42
[bot_right]
type=graphic
width=12
height=11
xmode=abs_right
ymode=abs_bottom
layer=inv_bg
graphic="aif_overlay_frame_gold_corner_1_shadow,0"
vflip=yes
colour=0xffffff
clickmask=no

// 248:43
[bot]
type=graphic
width=22
height=11
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=inv_bg
graphic="aif_overlay_frame_gold_corner_1_shadow,2"
vflip=yes
colour=0xffffff
clickmask=no

// 248:44
[build_inv_layer]
type=layer
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_layer

// 248:45
[highlight]
type=rectangle
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=inv_layer
hide=yes
colour=0xe36f0f

// 248:46
[coin_icon]
type=graphic
width=34
height=34
xmode=abs_centre
ymode=abs_centre
layer=build_coin_layer
graphic="aif_money_xp_icons,1"
colour=0xffffff
clickmask=no

// 248:47
[build_coin_highlight]
type=rectangle
widthmode=minus
heightmode=minus
layer=build_coin_layer
hide=yes
colour=0xe36f0f

// 248:48
[inv_buttons]
type=layer
y=5
width=344
height=30
xmode=abs_centre
ymode=abs_bottom
layer=inventory_pop_up_layer

// 248:49
[inv_confirm_button_layer]
type=layer
x=100
width=100
height=27
xmode=abs_centre
ymode=abs_centre
layer=inv_buttons

// 248:50
[inv_cancel_button_layer]
type=layer
x=-100
width=100
height=27
xmode=abs_centre
ymode=abs_centre
layer=inv_buttons

// 248:51
[slider_and_amount_info]
type=layer
y=95
height=135
widthmode=minus
heightmode=minus
layer=what_will_the_player_give

// 248:52
[total_donation_layer]
type=layer
y=17
width=306
height=25
xmode=abs_centre
ymode=abs_centre
layer=slider_and_amount_info

// 248:53
[com_53]
type=graphic
width=8
height=24
ymode=abs_centre
layer=total_donation_layer
graphic="rs3_contextual_input_box,3"
colour=0xffffff
clickmask=no

// 248:54
[com_54]
type=graphic
width=16
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=total_donation_layer
graphic="rs3_contextual_input_box,4"
colour=0xffffff
clickmask=no

// 248:55
[com_55]
type=graphic
width=8
height=24
xmode=abs_right
ymode=abs_centre
layer=total_donation_layer
graphic="rs3_contextual_input_box,5"
colour=0xffffff
clickmask=no

// 248:56
[total_donation_of_item]
type=text
width=306
height=25
xmode=abs_centre
ymode=abs_centre
layer=total_donation_layer
textfont=museo_sans_13pt_regular
text=Total Donation Value: 0,000,000,000
textalignh=1
textalignv=1
textshadow=yes
colour=0xe1cb05

// 248:57
[buttons]
type=layer
y=5
width=344
height=30
xmode=abs_centre
ymode=abs_bottom
layer=what_will_the_player_give

// 248:58
[donation_cancel_button_layer]
type=layer
x=-100
width=100
height=27
xmode=abs_centre
ymode=abs_centre
layer=buttons

// 248:59
[donation_confirm_button_layer]
type=layer
x=100
width=100
height=27
xmode=abs_centre
ymode=abs_centre
layer=buttons

// 248:60
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bounding_box
transmitop1=yes
op1=Close
onop=closebutton_click

// 248:61
[text_input_clickout]
type=layer
widthmode=minus
heightmode=minus
layer=bounding_box
hide=yes

// 248:62
[com_62]
type=text
height=20
widthmode=minus
layer=bonds_donated
textfont=museo_sans_11pt_regular
text=Your Bond Donations
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 248:63
[bond_graphic]
type=graphic
y=-1
width=34
height=34
xmode=abs_centre
ymode=abs_centre
layer=bonds_donated
graphic="aif_money_xp_icons,1"
colour=0xffffff
clickmask=no

// 248:64
[player_bond_donation_so_far]
type=text
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonds_donated
textfont=museo_sans_11pt_regular
text=000,000,000,000 Bonds
textlineheight=12
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 248:65
[donation_confirm_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_confirm_button_layer
onload=script7041(event_com)

// 248:66
[donation_confirm_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_confirm_button_layer
onload=script7042(event_com)

// 248:67
[donation_confirm_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_confirm_button_layer
onload=script7044(event_com)

// 248:68
[donation_confirm_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_confirm_button_layer
hide=yes
onload=script7047(event_com)

// 248:69
[donation_confirm_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=donation_confirm_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 248:70
[donation_confirm_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_confirm_button_layer
hide=yes
onload=script7060(event_com)

// 248:71
[donation_confirm_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_confirm_button_layer

// 248:72
[donation_confirm_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_confirm_button_text_layer
textfont=cinzel_13pt_bold
text=Confirm
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 248:73
[donation_cancel_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_cancel_button_layer
onload=script7062(event_com)

// 248:74
[donation_cancel_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_cancel_button_layer
onload=script7063(event_com)

// 248:75
[donation_cancel_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_cancel_button_layer
onload=script7065(event_com)

// 248:76
[donation_cancel_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_cancel_button_layer
hide=yes
onload=script7068(event_com)

// 248:77
[donation_cancel_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=donation_cancel_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 248:78
[donation_cancel_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_cancel_button_layer
hide=yes
onload=script7074(event_com)

// 248:79
[donation_cancel_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_cancel_button_layer

// 248:80
[donation_cancel_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=donation_cancel_button_text_layer
textfont=cinzel_13pt_bold
text=Cancel
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 248:81
[select_inv_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_inv_button_layer
onload=script7062(event_com)

// 248:82
[select_inv_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_inv_button_layer
onload=script7063(event_com)

// 248:83
[select_inv_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_inv_button_layer
onload=script7065(event_com)

// 248:84
[select_inv_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_inv_button_layer
hide=yes
onload=script7068(event_com)

// 248:85
[select_inv_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=select_inv_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 248:86
[select_inv_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_inv_button_layer
hide=yes
onload=script7074(event_com)

// 248:87
[select_inv_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_inv_button_layer

// 248:88
[select_inv_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_inv_button_text_layer
textfont=cinzel_13pt_bold
text=Select Inventory Item
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 248:89
[inv_cancel_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_cancel_button_layer
onload=script7062(event_com)

// 248:90
[inv_cancel_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_cancel_button_layer
onload=script7063(event_com)

// 248:91
[inv_cancel_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_cancel_button_layer
onload=script7065(event_com)

// 248:92
[inv_cancel_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_cancel_button_layer
hide=yes
onload=script7068(event_com)

// 248:93
[inv_cancel_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=inv_cancel_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 248:94
[inv_cancel_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_cancel_button_layer
hide=yes
onload=script7074(event_com)

// 248:95
[inv_cancel_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_cancel_button_layer

// 248:96
[inv_cancel_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_cancel_button_text_layer
textfont=cinzel_13pt_bold
text=Cancel
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 248:97
[inv_confirm_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_confirm_button_layer
onload=script7041(event_com)

// 248:98
[inv_confirm_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_confirm_button_layer
onload=script7042(event_com)

// 248:99
[inv_confirm_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_confirm_button_layer
onload=script7044(event_com)

// 248:100
[inv_confirm_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_confirm_button_layer
hide=yes
onload=script7047(event_com)

// 248:101
[inv_confirm_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=inv_confirm_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 248:102
[inv_confirm_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_confirm_button_layer
hide=yes
onload=script7060(event_com)

// 248:103
[inv_confirm_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_confirm_button_layer

// 248:104
[inv_confirm_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inv_confirm_button_text_layer
textfont=cinzel_13pt_bold
text=Select
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 248:105
[com_105]
type=graphic
width=32
height=32
layer=build_bonds_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no

// 248:106
[bonds_icon]
type=graphic
width=22
height=22
xmode=abs_centre
ymode=abs_centre
layer=build_bonds_layer
graphic="rs3_icon_bonds_pouch,0"
colour=0xffffff
clickmask=no

// 248:107
[build_bond_highlight]
type=rectangle
widthmode=minus
heightmode=minus
layer=build_bonds_layer
hide=yes
colour=0xe36f0f

