// 544:0
[dragon:slayer_map1]
type=model
x=38
y=8
width=420
height=316
layer=content_layer
model=dragon_slayer_qip_map
modelorigin_x=-11
modelorigin_y=-10
modelangle_x=469
modelangle_y=0
modelangle_z=0
modelzoom=708

// 544:1
[dragon_slayer_map2]
type=model
x=73
y=30
width=284
height=220
layer=content_layer
model=dragon_slayer_qip_map2
modelorigin_x=22
modelorigin_y=16
modelangle_x=469
modelangle_y=0
modelangle_z=0
modelzoom=708

// 544:2
[dragon_slayer_qip_map3]
type=model
x=55
y=36
width=383
height=274
layer=content_layer
model=dragon_slayer_qip_map3
modelorigin_x=-10
modelorigin_y=-17
modelangle_x=469
modelangle_y=0
modelangle_z=0
modelzoom=708

// 544:3
[boat]
type=model
x=206
y=153
width=144
height=155
layer=content_layer
model=dragon_slayer_qip_map4
modelorigin_x=-41
modelorigin_y=-74
modelangle_x=469
modelangle_y=0
modelangle_z=0
modelzoom=708
modelanim=dragon_slayer_qip_cr_journey

// 544:4
[content_layer]
type=layer
width=512
height=334
xmode=proportion_centre
ymode=proportion_centre

