// 260:0
[back_bank]
type=layer
width=250
height=271
layer=bank_contents
onload=script10896(event_com, null, rs3tli_content_panel)

// 260:1
[bank_layer]
type=layer
width=5
height=5
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_contents
oninvtransmit=dream_bank_init
oninvtransmitlist=dream_bank_inventory

// 260:2
[bank_contents]
type=layer
x=20
y=7
width=250
height=271
layer=modal_dialog_window_content

// 260:3
[back]
type=layer
widthmode=minus
heightmode=minus
layer=chest_contents
onload=script10896(event_com, null, rs3tli_content_panel)

// 260:4
[inv_bg]
type=graphic
y=10
width=61
height=62
xmode=abs_centre
layer=chest_contents
graphic=dream_inv_brdr
colour=0xffffff
clickmask=no

// 260:5
[equipped_bg_1]
type=graphic
x=20
y=133
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=chest_contents
graphic="miscgraphics,0"
colour=0xffffff
clickmask=no

// 260:6
[equipped_bg_2]
type=graphic
x=20
y=92
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=chest_contents
graphic="miscgraphics,0"
colour=0xffffff
clickmask=no

// 260:7
[equipped_bg_3]
type=graphic
x=20
y=51
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=chest_contents
graphic="miscgraphics,0"
colour=0xffffff
clickmask=no

// 260:8
[equipped_bg_4]
type=graphic
x=20
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=chest_contents
graphic="miscgraphics,0"
colour=0xffffff
clickmask=no

// 260:9
[equipped_bg_5]
type=graphic
x=-30
y=92
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=chest_contents
graphic="miscgraphics,0"
colour=0xffffff
clickmask=no

// 260:10
[inv_icon_helm]
type=graphic
x=20
y=135
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=chest_contents
graphic="rs3_icon_worn_equipment,0"
colour=0xffffff
clickmask=no

// 260:11
[inv_icon_chest]
type=graphic
x=20
y=94
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=chest_contents
graphic="rs3_icon_worn_equipment,5"
colour=0xffffff
clickmask=no

// 260:12
[inv_icon_leggings]
type=graphic
x=20
y=53
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=chest_contents
graphic="rs3_icon_worn_equipment,7"
colour=0xffffff
clickmask=no

// 260:13
[inv_icon_boots]
type=graphic
x=20
y=12
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=chest_contents
graphic="rs3_icon_worn_equipment,9"
colour=0xffffff
clickmask=no

// 260:14
[inv_icon_weapon]
type=graphic
x=-30
y=94
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=chest_contents
graphic="rs3_icon_worn_equipment,3"
colour=0xffffff
clickmask=no

// 260:15
[chest_layer]
type=layer
x=-4
y=10
width=86
height=158
xmode=abs_centre
ymode=abs_bottom
layer=chest_contents

// 260:16
[chest_contents]
type=layer
x=20
y=7
width=150
height=271
xmode=abs_right
layer=modal_dialog_window_content

// 260:17
[modal_dialog_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(dream_armour:modal_dialog_window_background, dream_armour:modal_dialog_window_border, dream_armour:modal_dialog_window_content, dream_armour:modal_dialog_window_close_button, "Cyrisus's Bank", 21217, string_1007)

// 260:18
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 260:19
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window
oninvtransmit=dream_chest_init
oninvtransmitlist=dream_crate_inventory

// 260:20
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 260:21
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

