// 1269:0
[mainmodal_window]
type=layer
width=110
height=110
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(drop_casket:mainmodal_window_background, drop_casket:mainmodal_window_border, drop_casket:mainmodal_window_content, drop_casket:mainmodal_window_close_button, "Rewards", 21218, string_1007)

// 1269:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1269:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1269:3
[content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 1269:4
[background]
type=layer
y=10
width=16
height=54
widthmode=minus
xmode=abs_centre
layer=content_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1269:5
[reward_box]
type=layer
y=10
width=16
height=54
widthmode=minus
xmode=abs_centre
layer=content_layer
oninvtransmit=script18320
oninvtransmitlist=drop_casket_rewardinv

// 1269:6
[current_value]
type=text
y=-12
width=20
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content_layer
textfont=cinzel_13pt_bold
text=Current Reward Value: XXXXXXXXXX coins!
textalignh=1
textalignv=1
textshadow=yes

// 1269:7
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1269:8
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

