// 1367:0
[player_content_layer]
type=layer
y=35
height=30
widthmode=minus
heightmode=minus
layer=player_worn_centre
onload=script8468(event_com)

// 1367:1
[opponent_content_layer]
type=layer
y=35
height=30
widthmode=minus
heightmode=minus
layer=opponent_worn_centre
onload=script10768(event_com)

// 1367:2
[hooks]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script6910(event_com, duel3_options:staking_container)

// 1367:3
[opponent_inv]
type=layer
x=2
height=30
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=opponent_inv_centre

// 1367:4
[player_inv]
type=layer
x=2
height=30
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=player_inv_centre

// 1367:5
[player_frame_inv]
type=layer
x=22
y=30
width=187
height=35
heightmode=minus
xmode=abs_right
layer=inv
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1367:6
[opponent_frame_inv]
type=layer
x=22
y=30
width=187
height=35
heightmode=minus
layer=inv
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1367:7
[player_inv_centre]
type=layer
x=20
y=5
width=187
height=10
heightmode=minus
xmode=abs_right
layer=inv

// 1367:8
[opponent_inv_centre]
type=layer
x=20
y=5
width=187
height=10
heightmode=minus
layer=inv

// 1367:9
[opponent_text_inv]
type=text
width=248
height=34
widthmode=minus
layer=inv
textfont=cinzel_15pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1367:10
[player_text_inv]
type=text
width=248
height=34
widthmode=minus
xmode=abs_right
layer=inv
textfont=cinzel_15pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1367:11
[com_11]
type=text
width=100
height=34
xmode=abs_centre
layer=inv
textfont=cinzel_15pt_bold
text=vs.
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1367:12
[inv_showworn]
type=graphic
y=36
width=32
height=32
xmode=abs_centre
layer=inv
graphic=rs3_menu_icon_worn_equipment_normal
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script8799("Compare content of worn inventories.", event_com, -1)
onclick=script12846

// 1367:13
[settings_inv]
type=layer
y=75
width=32
height=32
xmode=abs_centre
layer=inv
onload=duel3_settings_button_init(event_com, "Return to duel settings.")

// 1367:14
[player_frame_worn]
type=layer
x=22
y=30
width=187
height=80
heightmode=minus
xmode=abs_right
layer=worn
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1367:15
[opponent_frame_worn]
type=layer
x=18
y=30
width=187
height=80
heightmode=minus
layer=worn
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1367:16
[player_worn_centre]
type=layer
x=20
y=10
width=187
height=50
heightmode=minus
xmode=abs_right
layer=worn

// 1367:17
[opponent_worn_centre]
type=layer
x=20
y=10
width=187
height=50
heightmode=minus
layer=worn

// 1367:18
[opponent_text_worn]
type=text
width=248
height=34
widthmode=minus
layer=worn
textfont=cinzel_15pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1367:19
[player_text_worn]
type=text
width=248
height=34
widthmode=minus
xmode=abs_right
layer=worn
textfont=cinzel_15pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1367:20
[com_20]
type=text
width=100
height=34
xmode=abs_centre
layer=worn
textfont=cinzel_15pt_bold
text=vs.
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1367:21
[worn_showinv]
type=graphic
y=36
width=32
height=32
xmode=abs_centre
layer=worn
graphic=rs3_menu_icon_backpack_normal
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script8799("Compare content of backpacks.", event_com, -1)
onclick=script12844

// 1367:22
[settings_worn]
type=layer
y=75
width=32
height=32
xmode=abs_centre
layer=worn
onload=duel3_settings_button_init(event_com, "Return to duel settings.")

// 1367:23
[inv]
type=layer
widthmode=minus
heightmode=minus
layer=content_invs
hide=yes

// 1367:24
[worn]
type=layer
widthmode=minus
heightmode=minus
layer=content_invs
hide=yes

// 1367:25
[content]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=global_resize

// 1367:26
[content_invs]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=global_resize

// 1367:27
[staking_container]
type=layer
width=150
heightmode=minus
ymode=abs_centre
layer=content

// 1367:28
[my_stake_container]
type=layer
height=144
widthmode=minus
layer=staking_container

// 1367:29
[background]
type=layer
width=150
height=144
layer=my_stake_container
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1367:30
[com_30]
type=text
y=5
width=12
height=15
widthmode=minus
xmode=abs_centre
layer=my_stake_container
textfont=museo_sans_11pt_regular_multiline
text=Your stake:
textalignv=1
textshadow=yes
colour=0xf4b13c
onload=script10496(event_com, event_comsubid, 0)

// 1367:31
[my_stake]
type=layer
width=18
height=104
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=my_stake_container

// 1367:32
[money_pouch]
type=layer
width=28
height=30
xmode=abs_right
layer=my_stake_container
noclickthrough=yes
transmitop1=yes
op1=Add money from pouch
onmouseleave=script8805
onmouserepeat=script8799("Add coins from your money pouch to your stake.", event_com, -1)

// 1367:33
[com_33]
type=graphic
width=34
height=34
xmode=abs_centre
ymode=abs_centre
layer=money_pouch
graphic=money_pouch_icon
colour=0xffffff
clickmask=no
onmouseover=settrans(event_com, 100)
onmouseleave=settrans(event_com, 0)

// 1367:34
[my_stake_value]
type=text
y=5
width=12
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=my_stake_container
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xf4b13c
onload=script10496(event_com, event_comsubid, 0)
onmouseleave=script8805
oninvtransmit=script6936
onmouserepeat=script8799("This is the value of your stake.", event_com, -1)
onvarctransmit=script6936
oninvtransmitlist=dueloffer
onvarctransmitlist=worldswitcher_2ndfavfailed,vkq2_chem_slot

// 1367:35
[their_stake_container]
type=layer
height=144
widthmode=minus
ymode=abs_bottom
layer=staking_container

// 1367:36
[background_1]
type=layer
width=150
height=144
layer=their_stake_container
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1367:37
[com_37]
type=text
y=5
width=12
height=15
widthmode=minus
xmode=abs_centre
layer=their_stake_container
textfont=museo_sans_11pt_regular_multiline
text=Their stake:
textalignv=1
textshadow=yes
colour=0xf4b13c
onload=script10496(event_com, event_comsubid, 0)

// 1367:38
[their_stake]
type=layer
width=18
height=104
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=their_stake_container

// 1367:39
[their_stake_flash]
type=layer
width=18
height=104
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=their_stake_container

// 1367:40
[their_stake_value]
type=text
y=5
width=12
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=their_stake_container
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xf4b13c
onload=script10496(event_com, event_comsubid, 0)
onmouseleave=script8805
onmouserepeat=script8799("This is the value of your opponent's stake", event_com, -1)

// 1367:41
[static_container]
type=layer
width=336
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=content

// 1367:42
[background_2]
type=layer
width=195
height=74
widthmode=minus
heightmode=minus
layer=static_container
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1367:43
[wornitems_container]
type=layer
width=195
height=74
widthmode=minus
heightmode=minus
layer=static_container

// 1367:44
[slot0]
type=layer
y=-80
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=wornitems_container
transmitop1=yes
op1=Toggle slot
onload=script6923(event_com, 0, "If selected, neither player can wear items on their heads.")

// 1367:45
[slot1]
type=layer
x=-40
y=-40
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=wornitems_container
transmitop1=yes
op1=Toggle slot
onload=script6923(event_com, 1, "If selected, neither player can wear items on their backs, such as capes.")

// 1367:46
[slot2]
type=layer
y=-40
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=wornitems_container
transmitop1=yes
op1=Toggle slot
onload=script6923(event_com, 2, "If selected, neither player can wear items around their necks, such as amulets.")

// 1367:47
[slot3]
type=layer
x=-45
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=wornitems_container
transmitop1=yes
op1=Toggle slot
onload=script6923(event_com, 3, "If selected, neither player can wield weapons in their right hands.")

// 1367:48
[slot4]
type=layer
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=wornitems_container
transmitop1=yes
op1=Toggle slot
onload=script6923(event_com, 4, "If selected, neither player can wear items on their torsos.")

// 1367:49
[slot5]
type=layer
x=45
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=wornitems_container
transmitop1=yes
op1=Toggle slot
onload=script6923(event_com, 5, "If selected, neither player can wield items in their left hands, such as shields, or 2-handed weapons such as bows.")

// 1367:50
[slot7]
type=layer
y=40
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=wornitems_container
transmitop1=yes
op1=Toggle slot
onload=script6923(event_com, 7, "If selected, neither player can wear items on their legs.")

// 1367:51
[slot9]
type=layer
x=-45
y=80
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=wornitems_container
transmitop1=yes
op1=Toggle slot
onload=script6923(event_com, 9, "If selected, neither player can wear items on their hands.")

// 1367:52
[slot10]
type=layer
y=80
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=wornitems_container
transmitop1=yes
op1=Toggle slot
onload=script6923(event_com, 10, "If selected, neither player can wear items on their feet.")

// 1367:53
[slot12]
type=layer
x=45
y=80
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=wornitems_container
transmitop1=yes
op1=Toggle slot
onload=script6923(event_com, 12, "If selected, neither player can wear rings.")

// 1367:54
[slot13]
type=layer
x=40
y=-40
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=wornitems_container
transmitop1=yes
op1=Toggle slot
onload=script6923(event_com, 13, "If selected, neither player can keep items in their quivers.")

// 1367:55
[slot14]
type=layer
x=40
y=-80
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=wornitems_container
transmitop1=yes
op1=Toggle slot
onload=script6923(event_com, 17, "If selected, neither player can keep items in their pocket.")

// 1367:56
[options_container]
type=layer
width=190
height=74
heightmode=minus
xmode=abs_right
layer=static_container

// 1367:57
[no_ranged]
type=layer
height=14
widthmode=minus
xmode=abs_centre
layer=options_container
transmitop1=yes
op1=Toggle
onload=script6919(event_com, 4, "No Ranged", "Neither player is allowed to use ranged attacks.", string_0)

// 1367:58
[no_melee]
type=layer
y=14
height=14
widthmode=minus
xmode=abs_centre
layer=options_container
transmitop1=yes
op1=Toggle
onload=script6919(event_com, 5, "No Melee", "Neither player is allowed to use melee attacks.", string_0)

// 1367:59
[no_magic]
type=layer
y=28
height=14
widthmode=minus
xmode=abs_centre
layer=options_container
transmitop1=yes
op1=Toggle
onload=script6919(event_com, 6, "No Magic", "Neither player is allowed to use magic attacks.", string_0)

// 1367:60
[funweapons]
type=layer
y=42
height=14
widthmode=minus
xmode=abs_centre
layer=options_container
transmitop1=yes
op1=Toggle
onload=script6919(event_com, 12, "Fun Weapons", "Both players will use a 'fun weapon', such as a rubber chicken.", string_0)

// 1367:61
[no_forfeit]
type=layer
y=56
height=14
widthmode=minus
xmode=abs_centre
layer=options_container
transmitop1=yes
op1=Toggle
onload=script6919(event_com, 0, "No Forfeit", "Neither player is allowed to forfeit the duel.", string_0)

// 1367:62
[no_drinks]
type=layer
y=70
height=14
widthmode=minus
xmode=abs_centre
layer=options_container
transmitop1=yes
op1=Toggle
onload=script6919(event_com, 7, "No Drinks", "Neither player will be allowed to use drinks, such as Strength potions.", string_0)

// 1367:63
[no_food]
type=layer
y=84
height=14
widthmode=minus
xmode=abs_centre
layer=options_container
transmitop1=yes
op1=Toggle
onload=script6919(event_com, 8, "No Food/Health Portents", "Neither player will be allowed to use food or health portents.", string_0)

// 1367:64
[no_prayer]
type=layer
y=98
height=14
widthmode=minus
xmode=abs_centre
layer=options_container
transmitop1=yes
op1=Toggle
onload=script6919(event_com, 9, "No Prayer", "Neither player will be allowed to use prayers.", string_0)

// 1367:65
[no_movement]
type=layer
y=112
height=14
widthmode=minus
xmode=abs_centre
layer=options_container
transmitop1=yes
op1=Toggle
onload=script6919(event_com, 1, "No Movement", "Players stand next to each other and aren't allowed to move or use holding spells.", string_0)

// 1367:66
[obstacles]
type=layer
y=126
height=14
widthmode=minus
xmode=abs_centre
layer=options_container
transmitop1=yes
op1=Toggle
onload=script6919(event_com, 10, "Obstacles", "The duel will be in an arena with obstacles.", string_0)

// 1367:67
[enable_summoning]
type=layer
y=140
height=14
widthmode=minus
xmode=abs_centre
layer=options_container
transmitop1=yes
op1=Toggle
onload=script6919(event_com, 28, "Enable Summoning", "Players can summon familiars during the duel.", string_0)

// 1367:68
[no_special_attacks]
type=layer
y=154
height=14
widthmode=minus
xmode=abs_centre
layer=options_container
transmitop1=yes
op1=Toggle
onload=script6919(event_com, 13, "No Abilities", "Neither player will be allowed to use abilities.", string_1)

// 1367:69
[previous]
type=layer
y=26
width=5
height=23
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=options_container
transmitop1=yes
op1=Use previous settings
onload=script6233(event_com, null, rs3tli_3x3_button, "Use previous")
onmouseleave=script8805
onmouserepeat=script8799("Use the settings from your last duel.", event_com, -1)

// 1367:70
[favourite]
type=layer
width=5
height=23
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=options_container
transmitop1=yes
op1=Use favourite settings
onload=script6233(event_com, null, rs3tli_3x3_button, "Use favourite")
onmouseleave=script8805
onmouserepeat=script8799("Use your favourite saved settings.", event_com, -1)

// 1367:71
[bottom_container]
type=layer
y=4
height=70
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=static_container
onload=script6933(event_com)

// 1367:72
[output]
type=text
width=69
height=24
widthmode=minus
heightmode=minus
layer=bottom_container
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes

// 1367:73
[stake_showinv]
type=graphic
x=36
y=6
width=32
height=32
xmode=abs_right
layer=bottom_container
graphic=rs3_menu_icon_backpack_normal
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script8799("Compare content of backpacks.", event_com, -1)
onclick=script12844

// 1367:74
[stake_showworn]
type=graphic
x=2
y=6
width=32
height=32
xmode=abs_right
layer=bottom_container
graphic=rs3_menu_icon_worn_equipment_normal
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script8799("Compare content of worn inventories.", event_com, -1)
onclick=script12846

// 1367:75
[accept]
type=layer
x=10
y=3
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=bottom_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Accept")

// 1367:76
[accept_disabled]
type=layer
x=10
y=3
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=bottom_container
hide=yes
noclickthrough=yes
transmitop1=yes
op1=DISABLED

// 1367:77
[save]
type=layer
x=10
y=3
width=150
height=27
ymode=abs_bottom
layer=bottom_container
transmitop1=yes
op1=Save settings as favourite
onload=script13968(event_com, null, rs3tli_neutral_button, "Save")
onmouseleave=script8805
onmouserepeat=script8799("Save these settings as your favourite.", event_com, -1)

// 1367:78
[opponent_ragdoll_layer]
type=layer
widthmode=minus
heightmode=minus
layer=opponent_content_layer

// 1367:79
[opponent_ragdoll_drag_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=opponent_ragdoll_layer
onload=script10769(event_com, duel3_options:opponent_ragdoll_model)
onvartransmit=script10769(event_com, duel3_options:opponent_ragdoll_model)
onvartransmitlist=player_inspect_baseanimset

// 1367:80
[opponent_ragdoll_model]
type=model
width=166
height=291
xmode=abs_centre
ymode=abs_centre
layer=opponent_ragdoll_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1367:81
[opponent_scrollbar_layer]
type=layer
widthmode=minus
heightmode=minus
layer=opponent_content_layer

// 1367:82
[opponent_scrolling_layer]
type=layer
widthmode=minus
heightmode=minus
layer=opponent_content_layer
candrop=yes
onmouseover=inventory_slot_highlight(94, duel3_options:opponent_item_layer, -1, duel3_options:opponent_highlight_layer, 1)
onmouseleave=inventory_slot_highlight(94, duel3_options:opponent_item_layer, -1, duel3_options:opponent_highlight_layer, 0)

// 1367:83
[opponent_tree_layer]
type=layer
widthmode=minus
heightmode=minus
layer=opponent_scrolling_layer

// 1367:84
[opponent_slot_layer]
type=layer
widthmode=minus
heightmode=minus
layer=opponent_scrolling_layer

// 1367:85
[opponent_notification_layer]
type=layer
widthmode=minus
heightmode=minus
layer=opponent_scrolling_layer

// 1367:86
[opponent_item_layer]
type=layer
widthmode=minus
heightmode=minus
layer=opponent_scrolling_layer
candrop=yes

// 1367:87
[opponent_highlight_layer]
type=layer
widthmode=minus
heightmode=minus
layer=opponent_scrolling_layer

// 1367:88
[player_ragdoll_layer]
type=layer
widthmode=minus
heightmode=minus
layer=player_content_layer

// 1367:89
[player_ragdoll_drag_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=player_ragdoll_layer
onload=script10769(event_com, duel3_options:player_ragdoll_model)
onvartransmit=script10769(event_com, duel3_options:player_ragdoll_model)
onvartransmitlist=player_inspect_baseanimset

// 1367:90
[player_ragdoll_model]
type=model
width=166
height=291
xmode=abs_centre
ymode=abs_centre
layer=player_ragdoll_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1367:91
[player_scrollbar_layer]
type=layer
widthmode=minus
heightmode=minus
layer=player_content_layer

// 1367:92
[player_scrolling_layer]
type=layer
widthmode=minus
heightmode=minus
layer=player_content_layer
candrop=yes
onmouseover=inventory_slot_highlight(94, duel3_options:player_item_layer, -1, duel3_options:player_highlight_layer, 1)
onmouseleave=inventory_slot_highlight(94, duel3_options:player_item_layer, -1, duel3_options:player_highlight_layer, 0)

// 1367:93
[player_tree_layer]
type=layer
widthmode=minus
heightmode=minus
layer=player_scrolling_layer

// 1367:94
[player_slot_layer]
type=layer
widthmode=minus
heightmode=minus
layer=player_scrolling_layer

// 1367:95
[player_notification_layer]
type=layer
widthmode=minus
heightmode=minus
layer=player_scrolling_layer

// 1367:96
[player_item_layer]
type=layer
widthmode=minus
heightmode=minus
layer=player_scrolling_layer
candrop=yes

// 1367:97
[player_highlight_layer]
type=layer
widthmode=minus
heightmode=minus
layer=player_scrolling_layer

// 1367:98
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(duel3_options:mainmodal_window_background, duel3_options:mainmodal_window_border, duel3_options:mainmodal_window_content, duel3_options:mainmodal_window_close_button, "", 21218, string_1007)

// 1367:99
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1367:100
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1367:101
[global_resize]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 1367:102
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1367:103
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

