// 856:0
[mainmodal_window]
type=layer
width=50
height=34
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(dungeon_drop_chest:mainmodal_window_background, dungeon_drop_chest:mainmodal_window_border, dungeon_drop_chest:mainmodal_window_content, dungeon_drop_chest:mainmodal_window_close_button, "Dungeon Chest", 21218, string_1007)

// 856:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 856:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 856:3
[info_holder_active]
type=layer
x=5
y=5
width=10
height=180
widthmode=minus
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 856:4
[abandon_all_button_layer]
type=layer
x=145
y=10
width=140
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 856:5
[abandon_all_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_layer
onload=script7275(event_com)

// 856:6
[abandon_all_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_layer
onload=script7276(event_com)

// 856:7
[abandon_all_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_layer
onload=script7277(event_com)

// 856:8
[abandon_all_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_layer
hide=yes
onload=script7445(event_com)

// 856:9
[abandon_all_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=abandon_all_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 856:10
[abandon_all_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_layer
hide=yes
onload=script7572(event_com)

// 856:11
[abandon_all_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_layer

// 856:12
[abandon_all_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_text_layer
textfont=cinzel_13pt_bold
text=Abandon All
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 856:13
[take_all_button_layer]
type=layer
y=10
width=140
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 856:14
[take_all_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_layer
onload=script7041(event_com)

// 856:15
[take_all_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_layer
onload=script7042(event_com)

// 856:16
[take_all_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_layer
onload=script7044(event_com)

// 856:17
[take_all_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_layer
hide=yes
onload=script7047(event_com)

// 856:18
[take_all_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=take_all_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 856:19
[take_all_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_layer
hide=yes
onload=script7060(event_com)

// 856:20
[take_all_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_layer

// 856:21
[take_all_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_text_layer
textfont=cinzel_13pt_bold
text=Take All
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 856:22
[bank_all_button_layer]
type=layer
x=-145
y=10
width=140
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 856:23
[bank_all_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_layer
onload=script7041(event_com)

// 856:24
[bank_all_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_layer
onload=script7042(event_com)

// 856:25
[bank_all_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_layer
onload=script7044(event_com)

// 856:26
[bank_all_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_layer
hide=yes
onload=script7047(event_com)

// 856:27
[bank_all_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bank_all_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 856:28
[bank_all_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_layer
hide=yes
onload=script7060(event_com)

// 856:29
[bank_all_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_layer

// 856:30
[take_all_button_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_text_layer
textfont=cinzel_13pt_bold
text=Bank All
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 856:31
[total_value]
type=text
y=41
width=384
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
textfont=cinzel_13pt_bold
text=Current Reward Value: 0
textalignh=1
textalignv=1
textshadow=yes

// 856:32
[inventory_layer]
type=layer
y=10
width=20
height=170
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 856:33
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 856:34
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

