// 112:0
[content_layer]
type=layer
width=512
height=334
xmode=proportion_centre
ymode=proportion_centre

// 112:1
[dwarf_rock_rectangle]
type=rectangle
width=512
height=334
layer=content_layer
colour=0x000000
fill=yes

// 112:2
[dwarf_rock_backing]
type=model
x=19
y=58
width=470
height=308
layer=content_layer
model=chat_main_man_headextra_cannon_barrel_back
modelorigin_x=5
modelorigin_y=-26
modelangle_x=117
modelangle_y=3
modelangle_z=0
modelzoom=400

// 112:3
[dwarf_rock_head]
type=model
x=191
y=61
width=128
height=199
layer=content_layer
model=chat_male_head_bald
modelorigin_x=-2
modelorigin_y=11
modelangle_x=90
modelangle_y=10
modelangle_z=0
modelzoom=912

// 112:4
[dwarf_rock_front]
type=model
x=-1
y=58
width=521
height=403
layer=content_layer
model=chat_main_man_headextra_cannon_barrel_front
modelorigin_x=0
modelorigin_y=-73
modelangle_x=117
modelangle_y=3
modelangle_z=0
modelzoom=400

// 112:5
[dwarf_rock_zoom_playerlayer]
type=layer
x=73
y=265
width=379
height=66
layer=content_layer

// 112:6
[dwarf_rock_fade_layer]
type=layer
width=512
height=334
layer=content_layer
hide=yes

// 112:7
[dwarf_rock_zoom_playertxt]
type=text
x=10
y=8
width=350
height=17
layer=dwarf_rock_zoom_playerlayer
textfont=museo_sans_11pt_regular
text=Line1
textalignh=1
colour=0xffff99
onload=script10496(event_com, event_comsubid, 1)

// 112:8
[dwarf_rock_fade_model]
type=model
x=-39
y=-115
width=591
height=579
layer=dwarf_rock_fade_layer
model=if_dwarf_rock_blank
modelorigin_x=0
modelorigin_y=-7
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=114

// 112:9
[com_9]
type=text
x=53
y=41
width=281
height=22
layer=dwarf_rock_zoom_playerlayer
textfont=museo_sans_13pt_bold
text=Click to continue
textalignh=1
textalignv=1
textshadow=yes
colour=0xffff99
pausebutton=yes
onload=script10496(event_com, event_comsubid, 1)

