// 113:0
[content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content

// 113:1
[bespoke_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(dwarf_rock_schematics:bespoke_window_background, dwarf_rock_schematics:bespoke_window_border, dwarf_rock_schematics:bespoke_window_content, dwarf_rock_schematics:bespoke_window_close, "", 21259, string_1007)

// 113:2
[dwarf_rock_paper1]
type=layer
width=512
height=334
layer=content_layer

// 113:3
[dwarf_rock_schematic1]
type=layer
width=512
height=334
layer=content_layer

// 113:4
[dwarf_rock_schematic2]
type=layer
width=512
height=334
layer=content_layer

// 113:5
[dwarf_rock_schematic3]
type=layer
width=512
height=334
layer=content_layer

// 113:6
[dwarf_rock_buttons]
type=layer
x=445
y=13
width=66
height=28
layer=content_layer

// 113:7
[dwarf_rock_border1]
type=layer
width=512
height=334
layer=content_layer

// 113:8
[dwarf_rock_border2]
type=layer
width=512
height=334
layer=content_layer

// 113:9
[dwarf_rock_border3]
type=layer
width=512
height=334
layer=content_layer

// 113:10
[dwarf_rock_congrat_layer]
type=layer
y=46
width=512
height=27
layer=content_layer
hide=yes

// 113:11
[dwarf_rock_paper]
type=model
x=166
y=16
width=223
height=308
layer=dwarf_rock_paper1
model=if_dwarf_rock_paper1
modelorigin_x=-19
modelorigin_y=18
modelangle_x=520
modelangle_y=6
modelangle_z=0
modelzoom=345

// 113:12
[dwarf_rock_schematic_1]
type=model
x=90
y=20
width=360
height=299
layer=dwarf_rock_schematic1
model=if_dwarf_rock_schematics_schematic1
modelorigin_x=-15
modelorigin_y=18
modelangle_x=520
modelangle_y=6
modelangle_z=0
modelzoom=345

// 113:13
[dwarf_rock_schematic_2]
type=model
x=85
y=22
width=362
height=303
layer=dwarf_rock_schematic2
model=if_dwarf_rock_schematics_schematic2
modelorigin_x=-14
modelorigin_y=16
modelangle_x=521
modelangle_y=2043
modelangle_z=0
modelzoom=339

// 113:14
[dwarf_rock_schematic_3]
type=model
x=97
y=23
width=339
height=292
layer=dwarf_rock_schematic3
model=if_dwarf_rock_schematics_schematic3
modelorigin_x=-11
modelorigin_y=21
modelangle_x=574
modelangle_y=2039
modelangle_z=0
modelzoom=332

// 113:15
[dwarf_rock_border_1]
type=model
x=72
y=8
width=390
height=323
layer=dwarf_rock_border1
model=if_dwarf_rock_schematics_schematic1_border
modelorigin_x=-12
modelorigin_y=18
modelangle_x=520
modelangle_y=6
modelangle_z=0
modelzoom=345

// 113:16
[dwarf_rock_border_2]
type=model
x=67
y=5
width=394
height=334
layer=dwarf_rock_border2
model=if_dwarf_rock_schematics_schematic2_border
modelorigin_x=-12
modelorigin_y=17
modelangle_x=521
modelangle_y=2043
modelangle_z=0
modelzoom=339

// 113:17
[dwarf_rock_border_3]
type=model
x=83
y=9
width=377
height=317
layer=dwarf_rock_border3
model=if_dwarf_rock_schematics_schematic3_border
modelorigin_x=-16
modelorigin_y=23
modelangle_x=574
modelangle_y=2039
modelangle_z=0
modelzoom=332

// 113:18
[dwarf_rock_congrat_text]
type=text
width=512
height=27
layer=dwarf_rock_congrat_layer
textfont=b12_full
text=That's it, it all makes sense now! If you were a dwarf, that is...
textalignh=1
textalignv=1
textshadow=yes
colour=0xc9c980

// 113:19
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 113:20
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 113:21
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 113:22
[bespoke_window_close]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window
transmitop1=yes
op1=Close
onop=closebutton_click

