// 114:0
[show_1]
type=graphic
x=10
width=18
height=18
layer=schematic_1
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 114:1
[select_1]
type=graphic
x=50
width=18
height=18
layer=schematic_1
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 114:2
[com_2]
type=text
x=10
width=80
height=18
widthmode=minus
xmode=abs_right
layer=schematic_1
textfont=museo_sans_11pt_regular
text=Schematic 1
textalignh=2
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 114:3
[back]
type=layer
widthmode=minus
heightmode=minus
layer=checkboxes
onload=script10896(event_com, null, rs3tli_content_panel)

// 114:4
[com_4]
type=text
y=5
width=10
height=14
widthmode=minus
xmode=abs_centre
layer=checkboxes
textfont=museo_sans_11pt_regular
text=Show/Select
textalignv=1
textshadow=yes
colour=0xaa8822
onload=script10496(event_com, event_comsubid, 1)

// 114:5
[schematic_1]
type=layer
y=25
width=10
height=18
widthmode=minus
xmode=abs_centre
layer=checkboxes

// 114:6
[schematic_2]
type=layer
y=50
width=10
height=18
widthmode=minus
xmode=abs_centre
layer=checkboxes

// 114:7
[schematic_3]
type=layer
y=75
width=10
height=18
widthmode=minus
xmode=abs_centre
layer=checkboxes

// 114:8
[dr_move_up]
type=graphic
width=32
height=32
xmode=abs_centre
layer=controls
graphic="rs3_icon_direction_up_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_icon_arrow_up)
onmouserepeat=script8799("Move schematic up.", event_com, event_comsubid)

// 114:9
[dr_move_left]
type=graphic
x=-32
y=32
width=32
height=32
xmode=abs_centre
layer=controls
graphic="rs3_icon_direction_left_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_icon_arrow_left)
onmouserepeat=script8799("Move schematic left.", event_com, event_comsubid)

// 114:10
[dr_rotate_button]
type=graphic
y=32
width=32
height=32
xmode=abs_centre
layer=controls
graphic="rs3_icon_rotate_right,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_icon_rotate_right)
onmouserepeat=script8799("Rotate schematic right.", event_com, event_comsubid)

// 114:11
[dr_move_right]
type=graphic
x=32
y=32
width=32
height=32
xmode=abs_centre
layer=controls
graphic="rs3_icon_direction_right_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_icon_arrow_right)
onmouserepeat=script8799("Move schematic right.", event_com, event_comsubid)

// 114:12
[dr_move_down]
type=graphic
y=64
width=32
height=32
xmode=abs_centre
layer=controls
graphic="rs3_icon_direction_down_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_icon_arrow_down)
onmouserepeat=script8799("Move schematic down.", event_com, event_comsubid)

// 114:13
[controls]
type=layer
y=30
width=96
height=96
xmode=abs_centre
layer=base

// 114:14
[base]
type=layer
widthmode=minus
heightmode=minus

// 114:15
[checkboxes]
type=layer
y=150
width=20
height=100
widthmode=minus
xmode=abs_centre
layer=base
onvartransmit=script14320
onvartransmitlist=dwarfrock_main,if1,if2,if3,if4,if5,if6

// 114:16
[show_2]
type=graphic
x=10
width=18
height=18
layer=schematic_2
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 114:17
[select_2]
type=graphic
x=50
width=18
height=18
layer=schematic_2
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 114:18
[com_18]
type=text
x=10
width=80
height=18
widthmode=minus
xmode=abs_right
layer=schematic_2
textfont=museo_sans_11pt_regular
text=Schematic 2
textalignh=2
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 114:19
[show_3]
type=graphic
x=10
width=18
height=18
layer=schematic_3
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 114:20
[select_3]
type=graphic
x=50
width=18
height=18
layer=schematic_3
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 114:21
[com_21]
type=text
x=10
width=80
height=18
widthmode=minus
xmode=abs_right
layer=schematic_3
textfont=museo_sans_11pt_regular
text=Schematic 3
textalignh=2
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

