// 136:0
[universe]
type=layer
width=512
height=380
xmode=abs_centre
ymode=abs_centre
onload=script8420(dxp_bundles_daily_bundle:mainmodal_window_background, dxp_bundles_daily_bundle:mainmodal_window_border, dxp_bundles_daily_bundle:mainmodal_window_content, dxp_bundles_daily_bundle:mainmodal_window_close_button, "DXP Daily Bundle", 21218, string_1007)

// 136:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=universe

// 136:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=universe
onload=script18957
onvartransmit=script18957
onvartransmitlist=trh_promos_var21,trh_promos_var28

// 136:3
[background]
type=graphic
width=800
height=600
xmode=abs_centre
layer=mainmodal_window_content
noclickthrough=yes
graphic=tle_mhad_oct22_bg
colour=0xffffff
clickmask=no

// 136:4
[title_text_bg]
type=graphic
y=10
width=344
height=60
xmode=abs_centre
layer=mainmodal_window_content
noclickthrough=yes
graphic=trh190_text_shadow
colour=0xffffff
clickmask=no

// 136:5
[title_text]
type=text
y=20
width=200
height=24
xmode=abs_centre
layer=mainmodal_window_content
noclickthrough=yes
textfont=cinzel_25pt_bold_multiline
text=Double XP Daily Bundle
textalignh=1
textalignv=1

// 136:6
[bullet_list_graphics]
type=layer
x=107
y=65
width=10
height=161
layer=mainmodal_window_content

// 136:7
[com_7]
type=graphic
y=4
width=10
height=10
layer=bullet_list_graphics
noclickthrough=yes
graphic=rs_fsw_ui_signup_bullet_primary
colour=0xffffff
clickmask=no

// 136:8
[com_8]
type=graphic
y=22
width=10
height=10
layer=bullet_list_graphics
noclickthrough=yes
graphic=rs_fsw_ui_signup_bullet_primary
colour=0xffffff
clickmask=no

// 136:9
[com_9]
type=graphic
y=40
width=10
height=10
layer=bullet_list_graphics
noclickthrough=yes
graphic=rs_fsw_ui_signup_bullet_primary
colour=0xffffff
clickmask=no

// 136:10
[com_10]
type=graphic
y=58
width=10
height=10
layer=bullet_list_graphics
noclickthrough=yes
graphic=rs_fsw_ui_signup_bullet_primary
colour=0xffffff
clickmask=no

// 136:11
[com_11]
type=graphic
y=76
width=10
height=10
layer=bullet_list_graphics
noclickthrough=yes
graphic=rs_fsw_ui_signup_bullet_primary
colour=0xffffff
clickmask=no

// 136:12
[com_12]
type=graphic
y=94
width=10
height=10
layer=bullet_list_graphics
noclickthrough=yes
graphic=rs_fsw_ui_signup_bullet_primary
colour=0xffffff
clickmask=no

// 136:13
[com_13]
type=graphic
y=112
width=10
height=10
layer=bullet_list_graphics
noclickthrough=yes
graphic=rs_fsw_ui_signup_bullet_primary
colour=0xffffff
clickmask=no

// 136:14
[com_14]
type=graphic
y=130
width=10
height=10
layer=bullet_list_graphics
noclickthrough=yes
graphic=rs_fsw_ui_signup_bullet_primary
colour=0xffffff
clickmask=no

// 136:15
[com_15]
type=graphic
y=148
width=10
height=10
layer=bullet_list_graphics
hide=yes
noclickthrough=yes
graphic=rs_fsw_ui_signup_bullet_primary
colour=0xffffff
clickmask=no

// 136:16
[reward_text]
type=text
x=25
y=65
width=300
height=161
xmode=abs_centre
layer=mainmodal_window_content
noclickthrough=yes
textfont=notosans_14
text=2x Earned key<br>1x Large prismatic star<br>1x Medium protean pack<br>1x Medium skill dummy crate<br>10x Advanced pulse core<br>10x Cinder core<br>50x Tight spring<br>50x Silverhawk down<br>1000x Double XP Tokens

// 136:17
[claim_status_text_bg]
type=graphic
y=39
width=344
height=60
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
noclickthrough=yes
graphic=trh190_text_shadow
colour=0xffffff
clickmask=no

// 136:18
[claim_status_text]
type=text
y=69
width=300
height=15
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
noclickthrough=yes
textfont=notosans_12
text=You have already claimed todays rewards.
textalignh=1
textalignv=1

// 136:19
[claim_button]
type=button
y=20
width=200
height=37
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
noclickthrough=yes
text.text=Claim
stylesheet=button_action_primary_37px
transmitop1=yes
op1=Claim
onload=stylesheet_set(event_com)

// 136:20
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 136:21
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=universe
transmitop1=yes
op1=Close
onop=closebutton_click

