// 1601:0
[com_0]
type=rectangle
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=easter15_rewards_pet
colour=0xffffff
trans=230

// 1601:1
[com_1]
type=rectangle
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=easter15_rewards_fork
colour=0xffffff
trans=230

// 1601:2
[com_2]
type=rectangle
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=easter15_rewards_slippers
colour=0xffffff
trans=230

// 1601:3
[com_3]
type=rectangle
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=easter15_rewards_cooking
colour=0xffffff
trans=230

// 1601:4
[com_4]
type=rectangle
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=easter15_rewards_emote
colour=0xffffff
trans=230

// 1601:5
[com_5]
type=graphic
x=19
width=48
height=48
ymode=abs_centre
layer=easter15_rewards_emote
graphic="emote_icon_easter_2015_juggling_eggs,0"
colour=0xffffff
clickmask=no

// 1601:6
[easter15_rewards_cooking_model]
type=model
x=16
width=69
height=54
ymode=abs_centre
layer=easter15_rewards_cooking
model=easter15_frying_pan
modelorigin_x=-2
modelorigin_y=23
modelangle_x=284
modelangle_y=1820
modelangle_z=0
modelzoom=600

// 1601:7
[easter15_rewards_slippers_model]
type=model
x=16
width=71
height=53
ymode=abs_centre
layer=easter15_rewards_slippers
model=easter_2015_jadinko_slippers
modelorigin_x=-12
modelorigin_y=-1
modelangle_x=170
modelangle_y=1877
modelangle_z=0
modelzoom=500

// 1601:8
[easter15_rewards_fork_model]
type=model
x=13
width=62
height=69
ymode=abs_centre
layer=easter15_rewards_fork
model=easter_2015_fork_and_egg
modelorigin_x=-31
modelorigin_y=-26
modelangle_x=1564
modelangle_y=1820
modelangle_z=1422
modelzoom=1200

// 1601:9
[easter15_rewards_pet_model]
type=model
x=16
width=67
height=69
ymode=abs_centre
layer=easter15_rewards_pet
model=easter_2015_jadinko_baby1
modelorigin_x=11
modelorigin_y=29
modelangle_x=0
modelangle_y=1820
modelangle_z=0
modelzoom=800

// 1601:10
[easter15_rewards_text]
type=text
y=3
width=28
height=56
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
text=Congratulations! You've completed the Easter 2015 event and earned the following rewards (click them to open the relevant interface):
textlineheight=17
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 1601:11
[easter15_rewards]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(easter15_rewards:mainmodal_window_background, easter15_rewards:mainmodal_window_border, easter15_rewards:mainmodal_window_content, easter15_rewards:mainmodal_window_close_button, "Easter Event Complete!", 21218, string_1007)

// 1601:12
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=easter15_rewards

// 1601:13
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=easter15_rewards

// 1601:14
[easter15_rewards_box]
type=layer
height=60
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=mainmodal_window_content

// 1601:15
[easter15_rewards_emote]
type=layer
x=8192
width=8199
height=5398
widthmode=proportion
heightmode=proportion
xmode=proportion_left
layer=easter15_rewards_box
transmitop1=yes
op1=Go to
onmouserepeat=script3876("Go to", event_com, -1)

// 1601:16
[easter15_rewards_emote_text]
type=text
x=4
width=86
height=68
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=easter15_rewards_emote
textfont=museo_sans_11pt_regular
text=An egg juggling emote! Found in the 'Emotes' tab of the chat window.
textalignh=1
textalignv=1
textshadow=yes

// 1601:17
[easter15_rewards_cooking]
type=layer
width=8192
height=5406
widthmode=proportion
heightmode=proportion
ymode=abs_bottom
layer=easter15_rewards_box
transmitop1=yes
op1=Go to
onmouserepeat=script3876("Go to", event_com, -1)

// 1601:18
[easter15_rewards_cooking_text]
type=text
x=4
width=86
height=68
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=easter15_rewards_cooking
textfont=museo_sans_11pt_regular
text=An Easter egg cooking override! Found in the 'Skill Animations' list.
textalignh=1
textalignv=1
textshadow=yes

// 1601:19
[easter15_rewards_slippers]
type=layer
width=8199
height=5398
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=easter15_rewards_box
transmitop1=yes
op1=Go to
onmouserepeat=script3876("Go to", event_com, -1)

// 1601:20
[easter15_rewards_slippers_text]
type=text
x=4
width=86
height=68
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=easter15_rewards_slippers
textfont=museo_sans_11pt_regular
text=Jadinko slippers cosmetic override! Found in the 'Feet' section of the wardrobe.
textalignh=1
textalignv=1
textshadow=yes

// 1601:21
[easter15_rewards_fork]
type=layer
x=8199
width=8199
height=5398
widthmode=proportion
heightmode=proportion
xmode=proportion_left
ymode=abs_centre
layer=easter15_rewards_box
transmitop1=yes
op1=Go to
onmouserepeat=script3876("Go to", event_com, -1)

// 1601:22
[easter15_rewards_pet]
type=layer
width=8199
height=5398
widthmode=proportion
heightmode=proportion
layer=easter15_rewards_box
transmitop1=yes
op1=Go to
onmouserepeat=script3876("Go to", event_com, -1)

// 1601:23
[easter15_rewards_misc]
type=layer
x=8199
width=8199
height=5398
widthmode=proportion
heightmode=proportion
xmode=proportion_left
ymode=abs_bottom
layer=easter15_rewards_box

// 1601:24
[com_24]
type=rectangle
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=easter15_rewards_misc
colour=0xffffff
trans=230

// 1601:25
[easter15_rewards_misc_text]
type=text
width=32
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=easter15_rewards_misc
textfont=museo_sans_11pt_regular
text=You can also hatch more eggs for additional XP rewards or continue to train in the caves for the remainder of the event.
textalignh=1
textalignv=1
textshadow=yes

// 1601:26
[easter15_rewards_fork_text]
type=text
x=4
width=86
height=68
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=easter15_rewards_fork
textfont=museo_sans_11pt_regular
text=A giant egg-on-a-fork weapon override! Found in the 'Main Hand' section of the wardrobe.
textalignh=1
textalignv=1
textshadow=yes

// 1601:27
[easter15_rewards_pet_text]
type=text
x=4
width=86
height=68
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=easter15_rewards_pet
textfont=museo_sans_11pt_regular
text=Your own Jadinko pet! Found in the 'Follower Pets' list.
textalignh=1
textalignv=1
textshadow=yes

// 1601:28
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=easter15_rewards

// 1601:29
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=easter15_rewards
transmitop1=yes
op1=Close
onop=closebutton_click

