// 1744:0
[puzzleback_3]
type=model
x=-6
y=6
width=296
height=297
layer=puzzle_background
model=if_slidingpuzzle_trail_puzzlebox_back
modelorigin_x=3
modelorigin_y=24
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=293

// 1744:1
[puzzletop_3]
type=model
x=-10
y=-10
width=311
height=311
layer=puzzle_background
model=if_slidingpuzzle_trail_puzzlebox_top
modelorigin_x=3
modelorigin_y=24
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=299

// 1744:2
[universe]
type=layer
width=354
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(easter_pipedream:mainmodal_window_background, easter_pipedream:mainmodal_window_border, easter_pipedream:mainmodal_window_content, easter_pipedream:mainmodal_window_close_button, "Afflicted memory", 21218, string_1007)

// 1744:3
[mainmodal_window_background]
type=layer
x=8
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_right
layer=universe

// 1744:4
[mainmodal_window_content]
type=layer
x=8
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_right
layer=universe

// 1744:5
[puzzle_complete_graphic]
type=graphic
x=54
y=33
width=292
height=292
layer=universe
graphic=hw17_puzzle_box_bad
trans=255
colour=0xffffff
clickmask=no

// 1744:6
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=universe

// 1744:7
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=universe
transmitop1=yes
op1=Close
onop=closebutton_click

// 1744:8
[puzzle_background]
type=layer
x=1
y=1
width=291
height=292
xmode=abs_right
layer=mainmodal_window_content

// 1744:9
[puzzle_hint_scroll]
type=model
x=1
y=1
width=27
height=28
xmode=abs_centre
layer=puzzle_complete_layer2
model=fremsaga_thok_note
modelorigin_x=-1
modelorigin_y=0
modelangle_x=415
modelangle_y=672
modelangle_z=0
modelzoom=1600

// 1744:10
[puzzle_hint_text]
type=text
width=41
height=17
xmode=abs_centre
ymode=abs_bottom
layer=puzzle_complete_layer2
textfont=p11_full
text=Hint
textalignh=1
textalignv=2
textshadow=yes
colour=0xfad782

// 1744:11
[puzzle_layer]
type=layer
x=9
y=9
width=275
height=275
xmode=abs_right
layer=mainmodal_window_content
oninvtransmit=trail_puzzle_generation(event_com, easter_puzzleinv, 0)
ontimer=script7085(event_com, easter_puzzleinv, 0)
oninvtransmitlist=easter_puzzleinv

// 1744:12
[puzzle_complete_layer1]
type=layer
x=9
y=9
width=275
height=275
xmode=abs_right
layer=mainmodal_window_content
hide=yes
oninvtransmit=trail_puzzle_generation(event_com, easter_puzzleinv_hint, 1)
ontimer=script7085(event_com, easter_puzzleinv_hint, 1)
oninvtransmitlist=easter_puzzleinv_hint

// 1744:13
[puzzle_complete_layer2]
type=layer
x=2
y=2
width=42
height=44
layer=mainmodal_window_content
onmouseover=script3629(easter_pipedream:puzzle_complete_layer1, easter_pipedream:puzzle_hint_text, ^white)
onmouseleave=script3630(easter_pipedream:puzzle_complete_layer1, easter_pipedream:puzzle_hint_text, 0xfad782)

// 1744:14
[puzzleback_1]
type=model
x=-14
y=-2
width=296
height=297
layer=puzzle_complete_layer1
model=if_slidingpuzzle_trail_puzzlebox_back
modelorigin_x=3
modelorigin_y=24
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=293

// 1744:15
[puzzletop_1]
type=model
x=-18
y=-18
width=311
height=311
layer=puzzle_complete_layer1
model=if_slidingpuzzle_trail_puzzlebox_top
modelorigin_x=3
modelorigin_y=24
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=299

// 1744:16
[up_layer]
type=layer
width=10
height=10
layer=mainmodal_window_content
transmitop1=yes
op1=Up

// 1744:17
[down_layer]
type=layer
width=10
height=10
layer=mainmodal_window_content
transmitop1=yes
op1=Down

// 1744:18
[left_layer]
type=layer
width=10
height=10
layer=mainmodal_window_content
transmitop1=yes
op1=Left

// 1744:19
[right_layer]
type=layer
width=10
height=10
layer=mainmodal_window_content
transmitop1=yes
op1=Right

