// 1599:0
[root]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(easter15_egg_select:background, easter15_egg_select:border, null, null, "Select Egg", 23001, string_1006)

// 1599:1
[background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root

// 1599:2
[content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root

// 1599:3
[egg_panel]
type=layer
y=50
height=60
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content

// 1599:4
[message]
type=text
x=10
width=20
height=50
widthmode=minus
layer=content
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
colour=0x000000

// 1599:5
[border]
type=layer
widthmode=minus
heightmode=minus
layer=root

