// 1600:0
[egg_hatching_platform]
type=graphic
y=152
width=222
height=120
xmode=abs_centre
layer=content_layer
graphic=easter2015_hatching_platform
colour=0xffffff
clickmask=no

// 1600:1
[help_button_layer]
type=layer
x=4
y=4
width=32
height=32
layer=game_components

// 1600:2
[egg_graphic]
type=graphic
y=39
width=256
height=256
xmode=abs_centre
layer=content_layer
graphic=easter2015_egg_base
colour=0x80ffe6
clickmask=no

// 1600:3
[egg_spots_graphic_1]
type=graphic
y=39
width=256
height=256
xmode=abs_centre
layer=content_layer
graphic=easter2015_egg_base_spots_1
colour=0x00ff00
clickmask=no

// 1600:4
[egg_spots_graphic_2]
type=graphic
y=39
width=256
height=256
xmode=abs_centre
layer=content_layer
graphic=easter2015_egg_base_spots_2
colour=0xffff00
clickmask=no

// 1600:5
[egg_graphic_bottom]
type=graphic
y=39
width=256
height=256
xmode=abs_centre
layer=content_layer
graphic=easter2015_egg_base_bottom
colour=0xff0000
clickmask=no

// 1600:6
[egg_graphic_roots]
type=graphic
y=39
width=256
height=256
xmode=abs_centre
layer=content_layer
graphic=easter2015_egg_base_roots
colour=0xffffff
clickmask=no

// 1600:7
[game_components]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer

// 1600:8
[progress_layer]
type=layer
y=32
width=200
height=29
xmode=abs_centre
layer=game_components

// 1600:9
[progress_label]
type=text
y=13
width=357
height=21
xmode=abs_centre
layer=game_components
textfont=museo_sans_11pt_regular
text=Progress
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1600:10
[rotate_left_button_layer]
type=layer
x=-20
y=240
width=32
height=32
xmode=abs_centre
layer=game_components

// 1600:11
[rotate_right_button_layer]
type=layer
x=20
y=240
width=32
height=32
xmode=abs_centre
layer=game_components

// 1600:12
[status_text]
type=text
y=195
width=357
height=21
xmode=abs_centre
layer=game_components
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 1600:13
[action_text]
type=text
y=217
width=357
height=21
xmode=abs_centre
layer=game_components
hide=yes
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
onvarcstrtransmit=script11135
onvarcstrtransmitlist=varclientstring_4740

// 1600:14
[root_layer]
type=layer
width=500
height=320
xmode=abs_centre
ymode=abs_centre
onload=script8420(easter15_hatching:background_layer, easter15_hatching:frame_layer, easter15_hatching:content_layer, easter15_hatching:close_button_layer, "Hatching", 21218, string_1007)

// 1600:15
[background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=root_layer

// 1600:16
[content_layer]
type=layer
y=8
width=16
height=38
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=root_layer
onload=script11124

// 1600:17
[distraction_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer

// 1600:18
[help_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 1600:19
[complete_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer
hide=yes

// 1600:20
[complete_panel]
type=layer
y=34
width=398
height=199
xmode=abs_centre
layer=complete_layer

// 1600:21
[info_background_3]
type=layer
widthmode=minus
heightmode=minus
layer=complete_panel
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1600:22
[com_22]
type=text
y=6
height=21
widthmode=minus
xmode=abs_centre
layer=complete_panel
textfont=museo_sans_15pt_bold
text=Hatching complete!
textalignh=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1600:23
[complete_jadinko_model]
type=model
x=80
y=44
width=143
height=91
xmode=abs_centre
layer=complete_panel
model=easter_2015_jadinko_baby5
modelorthog=yes
modelorigin_x=-27
modelorigin_y=29
modelangle_x=51
modelangle_y=557
modelangle_z=1934
modelzoom=600

// 1600:24
[complete_egg_model]
type=model
x=73
y=46
width=85
height=185
xmode=abs_centre
layer=complete_panel
model=easter15_jadinko_hatch_egg
modelorthog=yes
modelorigin_x=2
modelorigin_y=-6
modelangle_x=142
modelangle_y=1024
modelangle_z=0
modelzoom=387

// 1600:25
[score_text]
type=text
x=-2
y=142
width=221
height=26
xmode=abs_centre
layer=complete_panel
textfont=museo_sans_11pt_regular_multiline
text=You took 15s
textalignh=1
textshadow=yes

// 1600:26
[continue_layer]
type=layer
y=162
width=180
height=27
xmode=abs_centre
layer=complete_panel

// 1600:27
[help_progress_info]
type=layer
x=4
y=172
width=172
height=52
xmode=abs_right
layer=help_layer

// 1600:28
[help_distractions_info]
type=layer
x=4
y=68
width=172
height=156
layer=help_layer

// 1600:29
[buttons:info]
type=layer
x=4
y=68
width=172
height=96
xmode=abs_right
layer=help_layer

// 1600:30
[help_buttons_info_background]
type=layer
widthmode=minus
heightmode=minus
layer=buttons:info
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1600:31
[com_31]
type=text
width=12
height=12
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buttons:info
textfont=museo_sans_11pt_regular
text=Try to keep the egg upright! Click on the arrows to nudge it left or right.<br><br>Progress is fastest when it is upright.
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1600:32
[start_game_layer]
type=layer
y=8
width=180
height=27
xmode=abs_centre
ymode=abs_bottom
layer=help_layer

// 1600:33
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=root_layer

// 1600:34
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=root_layer
transmitop1=yes
op1=Close
onop=closebutton_click

// 1600:35
[progress_bar_backing_0]
type=graphic
width=8
height=8
layer=progress_layer
graphic="rs3_progress_bar_backing_resizable,0"
colour=0xffffff
clickmask=no

// 1600:36
[progress_bar_backing_1]
type=graphic
width=16
height=8
widthmode=minus
xmode=abs_centre
layer=progress_layer
graphic="rs3_progress_bar_backing_resizable,1"
colour=0xffffff
clickmask=no

// 1600:37
[progress_bar_backing_2]
type=graphic
width=8
height=8
xmode=abs_right
layer=progress_layer
graphic="rs3_progress_bar_backing_resizable,2"
colour=0xffffff
clickmask=no

// 1600:38
[progress_bar_backing_3]
type=graphic
width=8
height=16
heightmode=minus
ymode=abs_centre
layer=progress_layer
graphic="rs3_progress_bar_backing_resizable,3"
colour=0xffffff
clickmask=no

// 1600:39
[progress_bar_backing_4]
type=graphic
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=progress_layer
graphic="rs3_progress_bar_backing_resizable,4"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1600:40
[progress_bar_backing_5]
type=graphic
width=8
height=16
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=progress_layer
graphic="rs3_progress_bar_backing_resizable,5"
tiling=yes
colour=0xffffff
clickmask=no

// 1600:41
[progress_bar_backing_6]
type=graphic
width=8
height=8
ymode=abs_bottom
layer=progress_layer
graphic="rs3_progress_bar_backing_resizable,6"
tiling=yes
colour=0xffffff
clickmask=no

// 1600:42
[progress_bar_backing_7]
type=graphic
width=16
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=progress_layer
graphic="rs3_progress_bar_backing_resizable,7"
tiling=yes
colour=0xffffff
clickmask=no

// 1600:43
[progress_bar_backing_8]
type=graphic
width=8
height=8
xmode=abs_right
ymode=abs_bottom
layer=progress_layer
graphic="rs3_progress_bar_backing_resizable,8"
tiling=yes
colour=0xffffff
clickmask=no

// 1600:44
[progress_value_layer]
type=layer
width=163
height=16391
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=green_large_progress_value_bounds_layer

// 1600:45
[progress_bar_yellow_left]
type=graphic
width=6
height=19
ymode=abs_centre
layer=progress_value_layer
graphic="rs3_progress_bar_yellow_19px,0"
colour=0xffffff
clickmask=no

// 1600:46
[progress_bar_yellow_middle]
type=graphic
width=12
height=19
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=progress_value_layer
graphic="rs3_progress_bar_yellow_19px,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1600:47
[progress_bar_yellow_right]
type=graphic
width=6
height=19
xmode=abs_right
ymode=abs_centre
layer=progress_value_layer
graphic="rs3_progress_bar_yellow_19px,2"
colour=0xffffff
clickmask=no

// 1600:48
[green_large_progress_text_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=progress_layer

// 1600:49
[progress_text]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_text_layer
textfont=museo_sans_11pt_regular
text=0%
textalignh=1
textalignv=1
textshadow=yes
onload=script4210(event_com, museo_sans_11pt_regular, ^white, 0)

// 1600:50
[green_large_progress_value_bounds_layer]
type=layer
x=6
width=12
height=19
widthmode=minus
ymode=abs_centre
layer=green_large_progress_text_layer

// 1600:51
[help_distractions_info_background]
type=layer
widthmode=minus
heightmode=minus
layer=help_distractions_info
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1600:52
[com_52]
type=text
y=6
width=12
height=12
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=help_distractions_info
textfont=museo_sans_11pt_regular
text=Click on any distractions that appear to remove them, or they will slow your progress
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1600:53
[com_53]
type=graphic
x=-40
y=62
width=32
height=32
xmode=abs_centre
layer=help_distractions_info
graphic=easter2015_distraction_nut
colour=0xffffff
clickmask=no

// 1600:54
[com_54]
type=graphic
x=-40
y=102
width=32
height=32
xmode=abs_centre
layer=help_distractions_info
graphic=easter2015_icon_zaros_symbol
colour=0xffffff
clickmask=no

// 1600:55
[com_55]
type=graphic
y=102
width=32
height=32
xmode=abs_centre
layer=help_distractions_info
graphic=easter2015_icon_bread
colour=0xffffff
clickmask=no

// 1600:56
[com_56]
type=graphic
y=62
width=32
height=32
xmode=abs_centre
layer=help_distractions_info
graphic=easter2015_icon_fireball
colour=0xffffff
clickmask=no

// 1600:57
[com_57]
type=graphic
x=40
y=62
width=32
height=32
xmode=abs_centre
layer=help_distractions_info
graphic=easter2015_icon_4_pointed_star
colour=0xffffff
clickmask=no

// 1600:58
[com_58]
type=graphic
x=40
y=102
width=32
height=32
xmode=abs_centre
layer=help_distractions_info
graphic=easter2015_icon_cabbage
colour=0xffffff
clickmask=no

// 1600:59
[help_progress_info_background]
type=layer
widthmode=minus
heightmode=minus
layer=help_progress_info
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1600:60
[com_60]
type=text
width=12
height=12
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=help_progress_info
textfont=museo_sans_11pt_regular
text=The egg will be ready to hatch when the progress bar fills to the end.
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1600:61
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_game_layer
onload=script7041(event_com)

// 1600:62
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_game_layer
onload=script7042(event_com)

// 1600:63
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_game_layer
onload=script7044(event_com)

// 1600:64
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_game_layer
hide=yes
onload=script7047(event_com)

// 1600:65
[start_game_button]
type=layer
widthmode=minus
heightmode=minus
layer=start_game_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1600:66
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_game_layer
hide=yes
onload=script7060(event_com)

// 1600:67
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_game_layer

// 1600:68
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Start Game
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1600:69
[positive_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=continue_layer
onload=script7041(event_com)

// 1600:70
[positive_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=continue_layer
onload=script7042(event_com)

// 1600:71
[positive_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=continue_layer
onload=script7044(event_com)

// 1600:72
[positive_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=continue_layer
hide=yes
onload=script7047(event_com)

// 1600:73
[continue_button]
type=layer
widthmode=minus
heightmode=minus
layer=continue_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=closebutton_click

// 1600:74
[positive_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=continue_layer
hide=yes
onload=script7060(event_com)

// 1600:75
[positive_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=continue_layer

// 1600:76
[positive_button_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_1
textfont=cinzel_13pt_bold
text=Continue
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1600:77
[help_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=help_button_layer
onload=script9346(event_com, rs3tli_icon_info)

// 1600:78
[help_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=help_button_layer
onload=script9347(event_com, rs3tli_icon_info)

// 1600:79
[help_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=help_button_layer
onload=script9348(event_com, rs3tli_icon_info)

// 1600:80
[help_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=help_button_layer
hide=yes
onload=script9351(event_com, rs3tli_icon_info)

// 1600:81
[help_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=help_button_layer
transmitop1=yes
op1=Help
onload=script4213(event_com)
onop=script11148(easter15_hatching:help_layer)

// 1600:82
[help_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=help_button_layer
hide=yes
onload=script9354(event_com, rs3tli_icon_info)

// 1600:83
[rotate_right_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rotate_right_button_layer
onload=script9346(event_com, rs3tli_icon_rotate_right)

// 1600:84
[rotate_right_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rotate_right_button_layer
onload=script9347(event_com, rs3tli_icon_rotate_right)

// 1600:85
[rotate_right_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rotate_right_button_layer
onload=script9348(event_com, rs3tli_icon_rotate_right)

// 1600:86
[rotate_right_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rotate_right_button_layer
hide=yes
onload=script9351(event_com, rs3tli_icon_rotate_right)

// 1600:87
[rotate_right_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=rotate_right_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1600:88
[rotate_right_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rotate_right_button_layer
hide=yes
onload=script9354(event_com, rs3tli_icon_rotate_right)

// 1600:89
[rotate_left_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rotate_left_button_layer
onload=script9346(event_com, rs3tli_icon_rotate_left)

// 1600:90
[rotate_left_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rotate_left_button_layer
onload=script9347(event_com, rs3tli_icon_rotate_left)

// 1600:91
[rotate_left_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rotate_left_button_layer
onload=script9348(event_com, rs3tli_icon_rotate_left)

// 1600:92
[rotate_left_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rotate_left_button_layer
hide=yes
onload=script9351(event_com, rs3tli_icon_rotate_left)

// 1600:93
[rotate_left_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=rotate_left_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1600:94
[rotate_left_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rotate_left_button_layer
hide=yes
onload=script9354(event_com, rs3tli_icon_rotate_left)

