// 716:0
[chathead]
type=model
y=10
width=69
height=125
xmode=abs_centre
layer=lore_familairs
model=easter08_chocatrice_chat
modelorigin_x=5
modelorigin_y=14
modelangle_x=2033
modelangle_y=1833
modelangle_z=0
modelzoom=2296
modelanim=lore_cockatrice_chat_idle

// 716:1
[target_clickarea]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=target_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
targetverb=Target
onload=script13914(event_com, rs3tli_32px_icon_button)
ontargetleave=script907
ontargetenter=script906

// 716:2
[target_icon]
type=graphic
width=28
height=28
xmode=abs_centre
ymode=abs_centre
layer=target_layer
graphic=easter_08_target
colour=0xffffff
clickmask=no

// 716:3
[target_layer]
type=layer
x=5
y=18
width=32
height=32
layer=lore_familairs

// 716:4
[call_clickarea]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=call_button
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 716:5
[call_button]
type=layer
y=10
width=38
height=38
xmode=abs_centre
ymode=abs_bottom
layer=lore_bounding_box
onmouserepeat=script8799("Calls the chocatrice to you if you get separated.", event_com, event_comsubid)

// 716:6
[call_icon]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=call_button
graphic="easter_08_taunt,1"
colour=0xffffff
clickmask=no

// 716:7
[lore_familairs]
type=layer
height=50
widthmode=minus
heightmode=minus
layer=lore_bounding_box

// 716:8
[lore_bounding_box]
type=layer
widthmode=minus
heightmode=minus
onload=script905

// 716:9
[lore_name]
type=text
y=86
width=20
height=22
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=lore_bounding_box
textfont=museo_sans_11pt_regular
text=Chocatrice
textalignh=1
textalignv=1
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 716:10
[action_text]
type=text
y=62
width=20
height=22
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=lore_bounding_box
textfont=museo_sans_11pt_regular
text=Waiting
textalignh=1
textalignv=1

