// 931:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(easter10_resourcegame:mainmodal_window_background, easter10_resourcegame:mainmodal_window_border, easter10_resourcegame:mainmodal_window_content, easter10_resourcegame:mainmodal_window_close_button, "Management Planning", 21218, string_1007)

// 931:1
[title_workers_1]
type=text
x=329
y=5
width=55
height=31
layer=baselayer
textfont=museo_sans_11pt_regular
text=Workers
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 931:2
[title_current_stock_2]
type=text
x=385
y=6
width=55
height=30
layer=baselayer
textfont=museo_sans_11pt_regular
text=Current<br>stock
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 931:3
[title_workers_2]
type=text
x=106
y=6
width=55
height=31
layer=baselayer
textfont=museo_sans_11pt_regular
text=Workers
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 931:4
[title_current_stock_3]
type=text
x=162
y=7
width=55
height=30
layer=baselayer
textfont=museo_sans_11pt_regular
text=Current<br>stock
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 931:5
[title_repair]
type=text
x=440
y=5
width=51
height=33
layer=baselayer
textfont=museo_sans_11pt_regular
text=Repair
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 931:6
[title_1]
type=text
x=34
y=79
width=55
height=31
layer=baselayer
textfont=museo_sans_11pt_regular
text=Nuts
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 931:7
[title_2]
type=text
x=29
y=145
width=70
height=31
layer=baselayer
textfont=museo_sans_11pt_regular
text=Chocolate
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 1)

// 931:8
[title_3]
type=text
x=36
y=214
width=55
height=31
layer=baselayer
textfont=museo_sans_11pt_regular
text=Fruit
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 1)

// 931:9
[title_4]
type=text
x=234
y=78
width=94
height=27
layer=baselayer
textfont=museo_sans_11pt_regular
text=Fruit cake
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 1)

// 931:10
[title_5]
type=text
x=235
y=215
width=85
height=22
layer=baselayer
textfont=museo_sans_11pt_regular
text=Nutty eggs
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 1)

// 931:11
[title_6]
type=text
x=221
y=145
width=106
height=29
layer=baselayer
textfont=museo_sans_11pt_regular
text=Tangy egg bread
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 1)

// 931:12
[choc_model]
type=model
x=48
y=107
width=33
height=41
layer=baselayer
model=easter09_barrel_chocolate
modelorigin_x=0
modelorigin_y=11
modelangle_x=275
modelangle_y=76
modelangle_z=0
modelzoom=1952
transmitop10=yes
op10= 
onmouserepeat=script8799("Each worker gathers one Choc", event_com, event_comsubid)

// 931:13
[nut_model]
type=model
x=44
y=41
width=44
height=38
layer=baselayer
model=easter09_nut_machine_nuts
modelorigin_x=1
modelorigin_y=5
modelangle_x=423
modelangle_y=1996
modelangle_z=0
modelzoom=800
transmitop10=yes
op10= 
onmouserepeat=script8799("Each worker gathers one Nut", event_com, event_comsubid)

// 931:14
[fruit_model]
type=model
x=34
y=177
width=59
height=66
layer=baselayer
model=pog_apples
modelorigin_x=1
modelorigin_y=32
modelangle_x=222
modelangle_y=2043
modelangle_z=0
modelzoom=1056
transmitop10=yes
op10= 
onmouserepeat=script8799("Each worker gathers one Fruit", event_com, event_comsubid)

// 931:15
[fc_model]
type=model
x=252
y=36
width=44
height=46
layer=baselayer
model=easter10_incubator_main_int
modelorigin_x=0
modelorigin_y=14
modelangle_x=212
modelangle_y=92
modelangle_z=0
modelzoom=1700
transmitop10=yes
op10= 
onmouserepeat=script8799("Needs 1 Choc, 1 Fruit", event_com, event_comsubid)

// 931:16
[tegg_model]
type=model
x=253
y=106
width=26
height=51
layer=baselayer
model=easter10_egg_painting_machine_int
modelorigin_x=3
modelorigin_y=10
modelangle_x=264
modelangle_y=90
modelangle_z=0
modelzoom=1500
transmitop10=yes
op10= 
onmouserepeat=script8799("Needs 1 Fruit, 1 Nut", event_com, event_comsubid)

// 931:17
[negg_model]
type=model
x=251
y=175
width=49
height=43
layer=baselayer
model=easter10_nut_machine_middle_int
modelorigin_x=0
modelorigin_y=9
modelangle_x=290
modelangle_y=148
modelangle_z=0
modelzoom=1400
transmitop10=yes
op10= 
onmouserepeat=script8799("Needs 1 Choc, 1 Nut", event_com, event_comsubid)

// 931:18
[nuts_spinlayer]
type=layer
x=112
y=40
width=40
height=60
layer=baselayer
transmitop10=yes
op10= 

// 931:19
[choc_spinlayer]
type=layer
x=112
y=109
width=40
height=60
layer=baselayer
transmitop10=yes
op10= 

// 931:20
[fruit_spinlayer]
type=layer
x=112
y=176
width=40
height=60
layer=baselayer
transmitop10=yes
op10= 

// 931:21
[fc_spinlayer]
type=layer
x=335
y=39
width=40
height=60
layer=baselayer
transmitop10=yes
op10= 

// 931:22
[tegg_spinlayer]
type=layer
x=336
y=108
width=40
height=60
layer=baselayer
transmitop10=yes
op10= 

// 931:23
[negg_spinlayer]
type=layer
x=336
y=177
width=40
height=60
layer=baselayer
transmitop10=yes
op10= 

// 931:24
[nut_stock_text]
type=text
x=-68
y=63
width=40
height=17
xmode=abs_centre
layer=baselayer
textfont=museo_sans_11pt_regular
text=0/15
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10= 

// 931:25
[choc_stock_text]
type=text
x=-68
y=131
width=40
height=17
xmode=abs_centre
layer=baselayer
textfont=museo_sans_11pt_regular
text=0/15
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=  

// 931:26
[fruit_stock_text]
type=text
x=-68
y=200
width=40
height=17
xmode=abs_centre
layer=baselayer
textfont=museo_sans_11pt_regular
text=0/15
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=  

// 931:27
[tegg_stock_text]
type=text
x=155
y=132
width=40
height=17
xmode=abs_centre
layer=baselayer
textfont=museo_sans_11pt_regular
text=0/7
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=  

// 931:28
[negg_stock_text]
type=text
x=155
y=205
width=40
height=17
xmode=abs_centre
layer=baselayer
textfont=museo_sans_11pt_regular
text=0/7
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=  

// 931:29
[fc_stock_text]
type=text
x=155
y=60
width=40
height=17
xmode=abs_centre
layer=baselayer
textfont=museo_sans_11pt_regular
text=0/7
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=  

// 931:30
[fc_repair_tick]
type=graphic
x=455
y=61
width=18
height=18
layer=baselayer
graphic="rs3_btn_checkbox,0"
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Toggle
op10=  
onop=script2237

// 931:31
[tegg_repair_tick]
type=graphic
x=455
y=126
width=18
height=18
layer=baselayer
graphic="rs3_btn_checkbox,0"
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Toggle
op10=   
onop=script2238

// 931:32
[negg_repair_tick]
type=graphic
x=455
y=199
width=18
height=18
layer=baselayer
graphic="rs3_btn_checkbox,0"
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Toggle
op10=   
onop=script2239

// 931:33
[turn_text]
type=text
x=5
y=5
width=139
height=17
layer=baselayer
textfont=museo_sans_11pt_regular
text=Turn 1/15
textalignv=1
textshadow=yes

// 931:34
[add_worker_button]
type=layer
x=110
y=5
width=100
height=27
ymode=abs_bottom
layer=bottombuttons
transmitop1=yes
op1=Add Worker
onload=script13968(event_com, null, rs3tli_positive_button, "Recruit")
onop=script2236

// 931:35
[totalworkers_text]
type=text
x=5
y=5
width=106
height=25
ymode=abs_bottom
layer=bottombuttons
textfont=museo_sans_11pt_regular
text=Total workers: 5
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 931:36
[end_turn_button]
type=layer
x=5
y=5
width=100
height=26
xmode=abs_right
ymode=abs_bottom
layer=bottombuttons
transmitop1=yes
transmitop10=yes
op1=End Turn
op10= 
onload=script13968(event_com, null, rs3tli_positive_button, "End turn")

// 931:37
[countholder_5]
type=layer
x=4
y=15
width=33
height=33
layer=fc_spinlayer
transmitop10=yes
op10= 

// 931:38
[fc_up_arrow]
type=graphic
width=16
height=16
xmode=abs_centre
layer=fc_spinlayer
graphic=rs3_btn_increase_active_small
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Add
op10=  
onload=script13914(event_com, rs3tli_increase_button_small)
onop=script2230

// 931:39
[fc_down_arrow]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_bottom
layer=fc_spinlayer
graphic=rs3_btn_decrease_active_small
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Remove
op10=  
onload=script13914(event_com, rs3tli_decrease_button_small)
onop=script2231

// 931:40
[fc_workers_text]
type=text
width=33
height=33
layer=countholder_5
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=  

// 931:41
[countholder_4]
type=layer
x=4
y=15
width=33
height=33
layer=negg_spinlayer
transmitop10=yes
op10= 

// 931:42
[negg_up_arrow]
type=graphic
width=16
height=16
xmode=abs_centre
layer=negg_spinlayer
graphic=rs3_btn_increase_active_small
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Add
op10=  
onload=script13914(event_com, rs3tli_increase_button_small)
onop=script2234

// 931:43
[negg_down_arrow]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_bottom
layer=negg_spinlayer
graphic=rs3_btn_decrease_active_small
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Remove
op10=  
onload=script13914(event_com, rs3tli_decrease_button_small)
onop=script2235

// 931:44
[negg_workers_text]
type=text
width=33
height=33
layer=countholder_4
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=  

// 931:45
[countholder_3]
type=layer
x=4
y=15
width=33
height=33
layer=tegg_spinlayer
transmitop10=yes
op10= 

// 931:46
[tegg_up_arrow]
type=graphic
width=16
height=16
xmode=abs_centre
layer=tegg_spinlayer
graphic=rs3_btn_increase_active_small
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Add
op10=  
onload=script13914(event_com, rs3tli_increase_button_small)
onop=script2232

// 931:47
[tegg_down_arrow]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_bottom
layer=tegg_spinlayer
graphic=rs3_btn_decrease_active_small
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Remove
op10=  
onload=script13914(event_com, rs3tli_decrease_button_small)
onop=script2233

// 931:48
[tegg_workers_text]
type=text
width=33
height=33
layer=countholder_3
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=  

// 931:49
[countholder_2]
type=layer
x=4
y=15
width=33
height=33
layer=fruit_spinlayer
transmitop10=yes
op10= 

// 931:50
[fruit_up_arrow]
type=graphic
width=16
height=16
xmode=abs_centre
layer=fruit_spinlayer
graphic=rs3_btn_increase_active_small
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Add
op10=  
onload=script13914(event_com, rs3tli_increase_button_small)
onop=script2228

// 931:51
[fruit_down_arrow]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_bottom
layer=fruit_spinlayer
graphic=rs3_btn_decrease_active_small
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Remove
op10=  
onload=script13914(event_com, rs3tli_decrease_button_small)
onop=script2229

// 931:52
[fruit_workers_text]
type=text
width=33
height=33
layer=countholder_2
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=  

// 931:53
[countholder_1]
type=layer
x=4
y=15
width=33
height=33
layer=choc_spinlayer
transmitop10=yes
op10= 

// 931:54
[choc_up_arrow]
type=graphic
width=16
height=16
xmode=abs_centre
layer=choc_spinlayer
graphic=rs3_btn_increase_active_small
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Add
op10=  
onload=script13914(event_com, rs3tli_increase_button_small)
onop=script2226

// 931:55
[choc_down_arrow]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_bottom
layer=choc_spinlayer
graphic=rs3_btn_decrease_active_small
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Remove
op10=  
onload=script13914(event_com, rs3tli_decrease_button_small)
onop=script2227

// 931:56
[choc_workers_text]
type=text
width=33
height=33
layer=countholder_1
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=  

// 931:57
[countholder]
type=layer
x=4
y=15
width=33
height=33
layer=nuts_spinlayer
transmitop10=yes
op10= 

// 931:58
[nuts_up_arrow]
type=graphic
width=16
height=16
xmode=abs_centre
layer=nuts_spinlayer
graphic=rs3_btn_increase_active_small
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Add
op10=  
onload=script13914(event_com, rs3tli_increase_button_small)
onop=script2224

// 931:59
[nuts_down_arrow]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_bottom
layer=nuts_spinlayer
graphic=rs3_btn_decrease_active_small
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Remove
op10=  
onload=script13914(event_com, rs3tli_decrease_button_small)
onop=script2225

// 931:60
[nuts_workers_text]
type=text
width=33
height=33
layer=countholder
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=  

// 931:61
[error_text]
type=text
x=110
y=5
width=167
height=24
xmode=abs_right
ymode=abs_bottom
layer=bottombuttons
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 

// 931:62
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 931:63
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 931:64
[listener]
type=layer
width=496
height=294
layer=mainmodal_window_content
onload=script2218
onvartransmit=script2219
onvartransmitlist=easter10_resourcegame_startflag,easter10_resourcegame_turncount,easter10_resourcegame_nutworkers,easter10_resourcegame_chocworkers,easter10_resourcegame_fruitworkers,easter10_resourcegame_fcworkers,easter10_resourcegame_neggworkers,easter10_resourcegame_teggworkers,easter10_resourcegame_totalworkers,easter10_resourcegame_fcrepair,easter10_resourcegame_neggrepair,easter10_resourcegame_teggrepair,easter10_resourcegame_errortextflag,easter10_resourcegame_totalchoc,easter10_resourcegame_totalnuts,easter10_resourcegame_totalfruit,easter10_resourcegame_totalfc,easter10_resourcegame_totaltegg,easter10_resourcegame_totalnegg,easter10_resourcegame_chocgenerated,easter10_resourcegame_nutsgenerated,easter10_resourcegame_fruitgenerated,easter10_resourcegame_fcgenerated,easter10_resourcegame_negggenerated,easter10_resourcegame_tegggenerated,easter10_resourcegame_randomeventflag,easter10_var1,easter10_var1,easter10_var1,easter10_var1,easter10_var2

// 931:65
[baselayer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 931:66
[bottombuttons]
type=layer
y=5
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=mainmodal_window_content

// 931:67
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 931:68
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

