// 926:0
[colours]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window_content

// 926:1
[modal_dialog_window]
type=layer
width=180
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(easter10_colourwheel:modal_dialog_window_background, easter10_colourwheel:modal_dialog_window_border, easter10_colourwheel:modal_dialog_window_content, easter10_colourwheel:modal_dialog_window_close_button, "Colour Wheel", 21217, string_1007)

// 926:2
[orange]
type=graphic
x=4
y=7
width=90
height=90
xmode=abs_centre
layer=colours
graphic="easter_colours,0"
clickmask=no

// 926:3
[vermillion]
type=graphic
x=55
y=18
width=90
height=90
xmode=abs_centre
layer=colours
graphic="easter_colours,1"
clickmask=no

// 926:4
[red]
type=graphic
x=96
y=98
width=90
height=90
xmode=abs_centre
layer=colours
graphic="easter_colours,3"
clickmask=no

// 926:5
[red_2]
type=graphic
x=80
y=147
width=90
height=90
xmode=abs_centre
layer=colours
graphic="easter_colours,4"
clickmask=no

// 926:6
[purple]
type=graphic
x=51
y=176
width=90
height=90
xmode=abs_centre
layer=colours
graphic="easter_colours,5"
clickmask=no

// 926:7
[indigo]
type=graphic
x=1
y=186
width=90
height=90
xmode=abs_centre
layer=colours
graphic="easter_colours,6"
clickmask=no

// 926:8
[blue]
type=graphic
x=-48
y=177
width=90
height=90
xmode=abs_centre
layer=colours
graphic="easter_colours,7"
clickmask=no

// 926:9
[aquamarine]
type=graphic
x=-76
y=147
width=90
height=90
xmode=abs_centre
layer=colours
graphic="easter_colours,8"
clickmask=no

// 926:10
[green]
type=graphic
x=-86
y=96
width=90
height=90
xmode=abs_centre
layer=colours
graphic="easter_colours,9"
clickmask=no

// 926:11
[green_1]
type=graphic
x=-76
y=45
width=90
height=90
xmode=abs_centre
layer=colours
graphic="easter_colours,10"
clickmask=no

// 926:12
[yellow]
type=graphic
x=-48
y=16
width=90
height=90
xmode=abs_centre
layer=colours
graphic="easter_colours,11"
clickmask=no

// 926:13
[red_1]
type=graphic
x=82
y=47
width=90
height=90
xmode=abs_centre
layer=colours
graphic="easter_colours,2"
clickmask=no

// 926:14
[com_14]
type=text
x=89
y=137
width=24
height=12
xmode=abs_centre
layer=colours
textfont=museo_sans_11pt_regular
text=Red 
textalignh=1
textshadow=yes

// 926:15
[com_15]
type=text
x=81
y=179
width=50
height=13
xmode=abs_centre
layer=colours
textfont=museo_sans_11pt_regular
text=Magenta
textalignh=1
textshadow=yes
transmitop10=yes
op10= 

// 926:16
[com_16]
type=text
x=50
y=215
width=48
height=15
xmode=abs_centre
layer=colours
textfont=museo_sans_11pt_regular
text=Purple
textalignh=1
textshadow=yes
transmitop10=yes
op10= 

// 926:17
[com_17]
type=text
y=241
width=44
height=13
xmode=abs_centre
layer=colours
textfont=museo_sans_11pt_regular
text=Indigo
textalignh=1
textshadow=yes
transmitop10=yes
op10=  

// 926:18
[com_18]
type=text
x=-46
y=215
width=52
height=11
xmode=abs_centre
layer=colours
textfont=museo_sans_11pt_regular
text=Blue
textalignh=1
textshadow=yes
transmitop10=yes
op10=  

// 926:19
[com_19]
type=text
x=-77
y=178
width=74
height=16
xmode=abs_centre
layer=colours
textfont=museo_sans_11pt_regular
text=Aquamarine
textalignh=1
textshadow=yes
transmitop10=yes
op10=  

// 926:20
[com_20]
type=text
x=-90
y=138
width=60
height=14
xmode=abs_centre
layer=colours
textfont=museo_sans_11pt_regular
text=Green
textalignh=1
textshadow=yes
transmitop10=yes
op10=  

// 926:21
[com_21]
type=text
x=-80
y=94
width=79
height=14
xmode=abs_centre
layer=colours
textfont=museo_sans_11pt_regular
text=Chartreuse
textalignh=1
textshadow=yes
transmitop10=yes
op10=  

// 926:22
[com_22]
type=text
x=-44
y=54
width=55
height=12
xmode=abs_centre
layer=colours
textfont=museo_sans_11pt_regular
text=Yellow
textalignh=1
textshadow=yes
transmitop10=yes
op10=  

// 926:23
[com_23]
type=text
x=5
y=35
width=60
height=14
xmode=abs_centre
layer=colours
textfont=museo_sans_11pt_regular
text=Amber
textalignh=1
textshadow=yes
transmitop10=yes
op10=  

// 926:24
[com_24]
type=text
x=53
y=54
width=56
height=16
xmode=abs_centre
layer=colours
textfont=museo_sans_11pt_regular
text=Orange
textalignh=1
textshadow=yes
transmitop10=yes
op10=  

// 926:25
[com_25]
type=text
x=82
y=93
width=53
height=13
xmode=abs_centre
layer=colours
textfont=museo_sans_11pt_regular
text=Vermillion
textalignh=1
textshadow=yes
transmitop10=yes
op10=   

// 926:26
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 926:27
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 926:28
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 926:29
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

