// 459:0
[build]
type=layer
widthmode=minus
heightmode=minus
layer=button_layer

// 459:1
[model_layer]
type=layer
x=5
y=5
width=325
height=10
heightmode=minus
layer=mainmodal_window_content
onload=script2969
onvartransmit=script2969
onvartransmitlist=ecosystem_var_1

// 459:2
[button_layer]
type=layer
x=5
y=5
width=340
height=10
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 459:3
[click]
type=layer
widthmode=minus
heightmode=minus
layer=button_layer

// 459:4
[confirm_button]
type=layer
width=10
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Confirm")

// 459:5
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(ecosystem_environmental_feature:mainmodal_window_background, ecosystem_environmental_feature:mainmodal_window_border, ecosystem_environmental_feature:mainmodal_window_content, ecosystem_environmental_feature:mainmodal_window_close_button, "Construct Environmental Feature", 21218, string_1007)

// 459:6
[feature_model]
type=model
width=296
height=203
xmode=abs_centre
ymode=abs_bottom
layer=model_layer
model=eco_construction_thermalvent
modelorigin_x=1
modelorigin_y=-10
modelangle_x=199
modelangle_y=2042
modelangle_z=0
modelzoom=500
ontimer=ecosystem_rotate_model(event_com)

// 459:7
[feature_name]
type=text
height=15
widthmode=minus
layer=model_layer
textfont=cinzel_15pt_bold
text=Nothing
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 459:8
[build_requirements]
type=text
y=15
height=28
widthmode=minus
layer=model_layer
textfont=museo_sans_13pt_bold
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 459:9
[description_text]
type=text
y=43
height=48
widthmode=minus
layer=model_layer
textfont=museo_sans_11pt_regular
text=Something something darkside, something something complete.
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 459:10
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 459:11
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 459:12
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 459:13
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

