// 72:0
[build]
type=layer
widthmode=minus
heightmode=minus
layer=buttons

// 72:1
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(ecosystem_creatures:mainmodal_window_background, ecosystem_creatures:mainmodal_window_border, ecosystem_creatures:mainmodal_window_content, ecosystem_creatures:mainmodal_window_close_button, "Known Jadinko Requirements", 21218, string_1007)

// 72:2
[creature_model]
type=model
x=10
y=10
width=249
height=145
xmode=abs_right
ymode=abs_bottom
layer=requirement_layer
model=eco_vine_creature_green
modelorigin_x=-12
modelorigin_y=72
modelangle_x=0
modelangle_y=420
modelangle_z=0
modelzoom=461
modelanim=eco_vine_creatures_ready

// 72:3
[name]
type=text
x=18
y=6
width=452
height=31
layer=requirement_layer
textfont=cinzel_13pt_bold
text=Basic Jadinko
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 72:4
[description]
type=text
x=18
y=31
width=453
height=117
layer=requirement_layer
textfont=museo_sans_11pt_regular
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 72:5
[requirements]
type=text
x=18
y=152
width=261
height=111
layer=requirement_layer
textfont=museo_sans_11pt_regular
text=This creature is attracted by: <br>   Any flower type.
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 72:6
[back_button]
type=layer
x=10
y=10
width=150
height=27
ymode=abs_bottom
layer=requirement_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Back")
onop=script2989

// 72:7
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 72:8
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 72:9
[buttons]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onload=ecosystem_requirements_load

// 72:10
[requirement_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes

// 72:11
[click]
type=layer
widthmode=minus
heightmode=minus
layer=buttons

// 72:12
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 72:13
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

