// 763:0
[inv_title]
type=text
x=5
width=10
height=30
widthmode=minus
layer=mainmodal_window_content_side
textfont=cinzel_18pt_bold
text=Inventory
textalignv=1
textshadow=yes
colour=0x7592a0

// 763:1
[mainmodal_window_content_main]
type=layer
x=-125
y=7
width=292
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 763:2
[mainmodal_window_content_side]
type=layer
x=125
y=7
width=292
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 763:3
[storage_title]
type=text
x=5
width=10
height=30
widthmode=minus
layer=mainmodal_window_content_main
textfont=cinzel_18pt_bold
text=Storage
textalignv=1
textshadow=yes
colour=0x7592a0

// 763:4
[com_4]
type=text
width=10
height=20
widthmode=minus
xmode=abs_centre
layer=supplies_container
textfont=museo_sans_13pt_regular
text=Ingredients
textalignv=1
textshadow=yes
colour=0xffcb05

// 763:5
[com_5]
type=text
width=10
height=20
widthmode=minus
xmode=abs_centre
layer=potions_container
textfont=museo_sans_13pt_regular
text=Potions
textalignv=1
textshadow=yes
colour=0xffcb05

// 763:6
[com_6]
type=text
width=10
height=20
widthmode=minus
xmode=abs_centre
layer=ingredients_container_side
textfont=museo_sans_13pt_regular
text=Ingredients
textalignv=1
textshadow=yes
colour=0xffcb05

// 763:7
[com_7]
type=text
width=10
height=20
widthmode=minus
xmode=abs_centre
layer=potions_container_side
textfont=museo_sans_13pt_regular
text=Potions
textalignv=1
textshadow=yes
colour=0xffcb05

// 763:8
[potions_container_side]
type=layer
y=137
width=10
height=122
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content_side

// 763:9
[potions_box_side]
type=layer
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=potions_container_side
candrop=yes

// 763:10
[border_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=potions_box_side
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 763:11
[ingredients_container_side]
type=layer
y=7
width=10
height=122
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content_side

// 763:12
[ingredients_box_side]
type=layer
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=ingredients_container_side
candrop=yes

// 763:13
[border_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ingredients_box_side
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 763:14
[potions_container]
type=layer
y=137
width=10
height=122
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content_main

// 763:15
[potions_box]
type=layer
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=potions_container
candrop=yes

// 763:16
[border_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=potions_box
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 763:17
[supplies_container]
type=layer
y=7
width=10
height=122
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content_main

// 763:18
[ingredients_box]
type=layer
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=supplies_container
candrop=yes

// 763:19
[border_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ingredients_box
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 763:20
[hunter_background_side]
type=graphic
x=-55
y=10
width=36
height=36
xmode=abs_centre
layer=potions_box_side
colour=0xffffff
clickmask=no

// 763:21
[hunter_side]
type=graphic
x=-53
y=12
width=36
height=32
xmode=abs_centre
layer=potions_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, ecosystem_storage:hunter_background_side, 3doseadvanced_hunter_potion, 1)
ondragcomplete=script9557(event_com, ecosystem_storage:hunter_background_side, ecosystem_storage:hunter, ecosystem_storage:hunter_background, 50003983, event_com2)

// 763:22
[farming_background_side]
type=graphic
y=10
width=36
height=36
xmode=abs_centre
layer=potions_box_side
colour=0xffffff
clickmask=no

// 763:23
[farming_side]
type=graphic
x=2
y=12
width=36
height=32
xmode=abs_centre
layer=potions_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, ecosystem_storage:farming_background_side, 3dosefarming_potion, 1)
ondragcomplete=script9557(event_com, ecosystem_storage:farming_background_side, ecosystem_storage:farming, ecosystem_storage:farming_background, 50003983, event_com2)

// 763:24
[scentless_background_side]
type=graphic
x=55
y=10
width=36
height=36
xmode=abs_centre
layer=potions_box_side
colour=0xffffff
clickmask=no

// 763:25
[scentless_side]
type=graphic
x=57
y=12
width=36
height=32
xmode=abs_centre
layer=potions_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, ecosystem_storage:scentless_background_side, 3dosescentless_potion, 1)
ondragcomplete=script9557(event_com, ecosystem_storage:scentless_background_side, ecosystem_storage:scentless, ecosystem_storage:scentless_background, 50003983, event_com2)

// 763:26
[saradomin_background_side]
type=graphic
x=-55
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=potions_box_side
colour=0xffffff
clickmask=no

// 763:27
[saradomin_side]
type=graphic
x=-53
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=potions_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, ecosystem_storage:saradomin_background_side, 3dosesaradomin_potion, 1)
ondragcomplete=script9557(event_com, ecosystem_storage:saradomin_background_side, ecosystem_storage:saradomin, ecosystem_storage:saradomin_background, 50003983, event_com2)

// 763:28
[zamorak_background_side]
type=graphic
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=potions_box_side
colour=0xffffff
clickmask=no

// 763:29
[zamorak_side]
type=graphic
x=2
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=potions_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, ecosystem_storage:zamorak_background_side, 3dosezamorak_potion, 1)
ondragcomplete=script9557(event_com, ecosystem_storage:zamorak_background_side, ecosystem_storage:zamorak, ecosystem_storage:zamorak_background, 50003983, event_com2)

// 763:30
[guthix_background_side]
type=graphic
x=55
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=potions_box_side
colour=0xffffff
clickmask=no

// 763:31
[guthix_side]
type=graphic
x=57
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=potions_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, ecosystem_storage:guthix_background_side, 3doseguthix_potion, 1)
ondragcomplete=script9557(event_com, ecosystem_storage:guthix_background_side, ecosystem_storage:guthix, ecosystem_storage:guthix_background, 50003983, event_com2)

// 763:32
[corruptvine_background_side]
type=graphic
x=-55
y=10
width=36
height=36
xmode=abs_centre
layer=ingredients_box_side
colour=0xffffff
clickmask=no

// 763:33
[corruptvine_side]
type=graphic
x=-53
y=12
width=36
height=32
xmode=abs_centre
layer=ingredients_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, ecosystem_storage:corruptvine_background_side, ecosystem_corrupt_vine, 1)
ondragcomplete=script9557(event_com, ecosystem_storage:corruptvine_background_side, ecosystem_storage:corruptvine, ecosystem_storage:corruptvine_background, 50003986, event_com2)

// 763:34
[marblevine_background_side]
type=graphic
y=10
width=36
height=36
xmode=abs_centre
layer=ingredients_box_side
colour=0xffffff
clickmask=no

// 763:35
[marblevine_side]
type=graphic
x=2
y=12
width=36
height=32
xmode=abs_centre
layer=ingredients_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, ecosystem_storage:marblevine_background_side, ecosystem_marble_vine, 1)
ondragcomplete=script9557(event_com, ecosystem_storage:marblevine_background_side, ecosystem_storage:marblevine, ecosystem_storage:marblevine_background, 50003986, event_com2)

// 763:36
[shadowvine_background_side]
type=graphic
x=55
y=10
width=36
height=36
xmode=abs_centre
layer=ingredients_box_side
colour=0xffffff
clickmask=no

// 763:37
[shadowvine_side]
type=graphic
x=57
y=12
width=36
height=32
xmode=abs_centre
layer=ingredients_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, ecosystem_storage:shadowvine_background_side, ecosystem_shadow_vine, 1)
ondragcomplete=script9557(event_com, ecosystem_storage:shadowvine_background_side, ecosystem_storage:shadowvine, ecosystem_storage:shadowvine_background, 50003986, event_com2)

// 763:38
[saradominvine_background_side]
type=graphic
x=-55
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=ingredients_box_side
colour=0xffffff
clickmask=no

// 763:39
[saradominvine_side]
type=graphic
x=-53
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=ingredients_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, ecosystem_storage:saradominvine_background_side, ecosystem_saradomin_vine, 1)
ondragcomplete=script9557(event_com, ecosystem_storage:saradominvine_background_side, ecosystem_storage:saradominvine, ecosystem_storage:saradominvine_background, 50003986, event_com2)

// 763:40
[zamorakvine_background_side]
type=graphic
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=ingredients_box_side
colour=0xffffff
clickmask=no

// 763:41
[zamorakvine_side]
type=graphic
x=2
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=ingredients_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, ecosystem_storage:zamorakvine_background_side, ecosystem_zamorak_vine, 1)
ondragcomplete=script9557(event_com, ecosystem_storage:zamorakvine_background_side, ecosystem_storage:zamorakvine, ecosystem_storage:zamorakvine_background, 50003986, event_com2)

// 763:42
[guthixvine_background_side]
type=graphic
x=55
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=ingredients_box_side
colour=0xffffff
clickmask=no

// 763:43
[guthixvine_side]
type=graphic
x=57
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=ingredients_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, ecosystem_storage:guthixvine_background_side, ecosystem_guthix_vine, 1)
ondragcomplete=script9557(event_com, ecosystem_storage:guthixvine_background_side, ecosystem_storage:guthixvine, ecosystem_storage:guthixvine_background, 50003986, event_com2)

// 763:44
[hunter_background]
type=graphic
x=-55
y=10
width=36
height=36
xmode=abs_centre
layer=potions_box
colour=0xffffff
clickmask=no

// 763:45
[hunter]
type=graphic
x=-53
y=12
width=36
height=32
xmode=abs_centre
layer=potions_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op5=Noted-X
op10=Examine
onload=farming_tools_main(event_com, ecosystem_storage:hunter_background, 3doseadvanced_hunter_potion, 1)
ondragcomplete=script9556(event_com, ecosystem_storage:hunter_background, ecosystem_storage:hunter_side, ecosystem_storage:hunter_background_side, 50003977, event_com2)

// 763:46
[farming_background]
type=graphic
y=10
width=36
height=36
xmode=abs_centre
layer=potions_box
colour=0xffffff
clickmask=no

// 763:47
[farming]
type=graphic
x=2
y=12
width=36
height=32
xmode=abs_centre
layer=potions_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op5=Noted-X
op10=Examine
onload=farming_tools_main(event_com, ecosystem_storage:farming_background, 3dosefarming_potion, 1)
ondragcomplete=script9556(event_com, ecosystem_storage:farming_background, ecosystem_storage:farming_side, ecosystem_storage:farming_background_side, 50003977, event_com2)

// 763:48
[scentless_background]
type=graphic
x=55
y=10
width=36
height=36
xmode=abs_centre
layer=potions_box
colour=0xffffff
clickmask=no

// 763:49
[scentless]
type=graphic
x=57
y=12
width=36
height=32
xmode=abs_centre
layer=potions_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op5=Noted-X
op10=Examine
onload=farming_tools_main(event_com, ecosystem_storage:scentless_background, 3dosescentless_potion, 1)
ondragcomplete=script9556(event_com, ecosystem_storage:scentless_background, ecosystem_storage:scentless_side, ecosystem_storage:scentless_background_side, 50003977, event_com2)

// 763:50
[saradomin_background]
type=graphic
x=-55
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=potions_box
colour=0xffffff
clickmask=no

// 763:51
[saradomin]
type=graphic
x=-53
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=potions_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op5=Noted-X
op10=Examine
onload=farming_tools_main(event_com, ecosystem_storage:saradomin_background, 3dosesaradomin_potion, 1)
ondragcomplete=script9556(event_com, ecosystem_storage:saradomin_background, ecosystem_storage:saradomin_side, ecosystem_storage:saradomin_background_side, 50003977, event_com2)

// 763:52
[zamorak_background]
type=graphic
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=potions_box
colour=0xffffff
clickmask=no

// 763:53
[zamorak]
type=graphic
x=2
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=potions_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op5=Noted-X
op10=Examine
onload=farming_tools_main(event_com, ecosystem_storage:zamorak_background, 3dosezamorak_potion, 1)
ondragcomplete=script9556(event_com, ecosystem_storage:zamorak_background, ecosystem_storage:zamorak_side, ecosystem_storage:zamorak_background_side, 50003977, event_com2)

// 763:54
[guthix_background]
type=graphic
x=55
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=potions_box
colour=0xffffff
clickmask=no

// 763:55
[guthix]
type=graphic
x=57
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=potions_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op5=Noted-X
op10=Examine
onload=farming_tools_main(event_com, ecosystem_storage:guthix_background, 3doseguthix_potion, 1)
ondragcomplete=script9556(event_com, ecosystem_storage:guthix_background, ecosystem_storage:guthix_side, ecosystem_storage:guthix_background_side, 50003977, event_com2)

// 763:56
[corruptvine_background]
type=graphic
x=-55
y=10
width=36
height=36
xmode=abs_centre
layer=ingredients_box
colour=0xffffff
clickmask=no

// 763:57
[corruptvine]
type=graphic
x=-53
y=12
width=36
height=32
xmode=abs_centre
layer=ingredients_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op10=Examine
onload=farming_tools_main(event_com, ecosystem_storage:corruptvine_background, ecosystem_corrupt_vine, 1)
ondragcomplete=script9556(event_com, ecosystem_storage:corruptvine_background, ecosystem_storage:corruptvine_side, ecosystem_storage:corruptvine_background_side, 50003980, event_com2)

// 763:58
[marblevine_background]
type=graphic
y=10
width=36
height=36
xmode=abs_centre
layer=ingredients_box
colour=0xffffff
clickmask=no

// 763:59
[marblevine]
type=graphic
x=2
y=12
width=36
height=32
xmode=abs_centre
layer=ingredients_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op10=Examine
onload=farming_tools_main(event_com, ecosystem_storage:marblevine_background, ecosystem_marble_vine, 1)
ondragcomplete=script9556(event_com, ecosystem_storage:marblevine_background, ecosystem_storage:marblevine_side, ecosystem_storage:marblevine_background_side, 50003980, event_com2)

// 763:60
[shadowvine_background]
type=graphic
x=55
y=10
width=36
height=36
xmode=abs_centre
layer=ingredients_box
colour=0xffffff
clickmask=no

// 763:61
[shadowvine]
type=graphic
x=57
y=12
width=36
height=32
xmode=abs_centre
layer=ingredients_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op10=Examine
onload=farming_tools_main(event_com, ecosystem_storage:shadowvine_background, ecosystem_shadow_vine, 1)
ondragcomplete=script9556(event_com, ecosystem_storage:shadowvine_background, ecosystem_storage:shadowvine_side, ecosystem_storage:shadowvine_background_side, 50003980, event_com2)

// 763:62
[saradominvine_background]
type=graphic
x=-55
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=ingredients_box
colour=0xffffff
clickmask=no

// 763:63
[saradominvine]
type=graphic
x=-53
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=ingredients_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op10=Examine
onload=farming_tools_main(event_com, ecosystem_storage:saradominvine_background, ecosystem_saradomin_vine, 1)
ondragcomplete=script9556(event_com, ecosystem_storage:saradominvine_background, ecosystem_storage:saradominvine_side, ecosystem_storage:saradominvine_background_side, 50003980, event_com2)

// 763:64
[zamorakvine_background]
type=graphic
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=ingredients_box
colour=0xffffff
clickmask=no

// 763:65
[zamorakvine]
type=graphic
x=2
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=ingredients_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op10=Examine
onload=farming_tools_main(event_com, ecosystem_storage:zamorakvine_background, ecosystem_zamorak_vine, 1)
ondragcomplete=script9556(event_com, ecosystem_storage:zamorakvine_background, ecosystem_storage:zamorakvine_side, ecosystem_storage:zamorakvine_background_side, 50003980, event_com2)

// 763:66
[guthixvine_background]
type=graphic
x=55
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=ingredients_box
colour=0xffffff
clickmask=no

// 763:67
[guthixvine]
type=graphic
x=57
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=ingredients_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op10=Examine
onload=farming_tools_main(event_com, ecosystem_storage:guthixvine_background, ecosystem_guthix_vine, 1)
ondragcomplete=script9556(event_com, ecosystem_storage:guthixvine_background, ecosystem_storage:guthixvine_side, ecosystem_storage:guthixvine_background_side, 50003980, event_com2)

// 763:68
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(ecosystem_storage:mainmodal_window_background, ecosystem_storage:mainmodal_window_border, ecosystem_storage:mainmodal_window_content, ecosystem_storage:mainmodal_window_close_button, "Potion Store", 21218, string_1007)

// 763:69
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 763:70
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 763:71
[com_71]
type=line
height=280
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
colour=0x7592a0

// 763:72
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 763:73
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

