// 871:0
[mainmodal_window]
type=layer
width=472
height=12
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(egwd_bik_seed_storage:mainmodal_window_background, egwd_bik_seed_storage:mainmodal_window_border, egwd_bik_seed_storage:mainmodal_window_content, egwd_bik_seed_storage:mainmodal_window_close_button, "Seed Storage", 21218, string_1007)

// 871:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 871:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script1967

// 871:3
[storage_window]
type=layer
x=5
y=5
width=254
height=10
heightmode=minus
layer=mainmodal_window_content
onload=script8420(egwd_bik_seed_storage:storage_window_background, egwd_bik_seed_storage:storage_window_border, egwd_bik_seed_storage:storage_window_content, null, "", 21259, null)

// 871:4
[storage_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=storage_window

// 871:5
[storage_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=storage_window

// 871:6
[storage_layer]
type=layer
y=5
width=10
height=182
widthmode=minus
xmode=abs_centre
layer=storage_window_content

// 871:7
[button_layer]
type=layer
x=5
y=5
width=10
height=197
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=storage_window_content

// 871:8
[withdraw_button_layer]
type=layer
y=4
width=150
height=27
xmode=abs_centre
layer=button_layer
onload=script13968(egwd_bik_seed_storage:withdraw_button_build_layer, egwd_bik_seed_storage:withdraw_button_control_layer, rs3tli_positive_button, "Withdraw All")

// 871:9
[deposit_button_layer]
type=layer
y=4
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=button_layer
onload=script13968(egwd_bik_seed_storage:deposit_button_build_layer, egwd_bik_seed_storage:deposit_button_control_layer, rs3tli_neutral_button, "Deposit All")

// 871:10
[storage_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=storage_window

// 871:11
[inventory_window]
type=layer
x=5
y=5
width=188
height=10
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content
onload=script8420(egwd_bik_seed_storage:inventory_window_background, egwd_bik_seed_storage:inventory_window_border, egwd_bik_seed_storage:inventory_window_content, null, "", 21259, null)

// 871:12
[inventory_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=inventory_window

// 871:13
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 871:14
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 871:15
[inventory_control_layer]
type=layer
layer=inventory_layer
hide=yes
transmitop1=yes
op1=Research

// 871:16
[inventory_scrollbar_layer]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=inventory_layer
hide=yes

// 871:17
[inventory_scrolling_layer]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_layer

// 871:18
[inventory_slot_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_scrolling_layer

// 871:19
[inventory_obj_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_scrolling_layer

// 871:20
[inventory_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=inventory_window
onload=script3670

// 871:21
[inventory_layer]
type=layer
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inventory_window_content

// 871:22
[inventory_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_window

// 871:23
[storage_scrolling_layer]
type=layer
widthmode=minus
heightmode=minus
layer=storage_layer

// 871:24
[storage_scrollbar_layer]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=storage_layer
hide=yes

// 871:25
[storage_slot_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=storage_scrolling_layer

// 871:26
[storage_obj_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=storage_scrolling_layer

// 871:27
[withdraw_button_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=withdraw_button_layer

// 871:28
[withdraw_button_control_layer]
type=layer
widthmode=minus
heightmode=minus
layer=withdraw_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 871:29
[deposit_button_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_button_layer

// 871:30
[deposit_button_control_layer]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

