// 466:0
[mainmodal_window]
type=layer
width=304
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(elem2_maintenance_scroll:mainmodal_window_background, elem2_maintenance_scroll:mainmodal_window_border, elem2_maintenance_scroll:mainmodal_window_content, elem2_maintenance_scroll:mainmodal_window_close_button, "Diagram", 21218, string_1007)

// 466:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 466:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 466:3
[com_3]
type=graphic
width=496
height=293
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
graphic=rs3_parchment_scroll_background
colour=0xffffff
clickmask=no

// 466:4
[com_4]
type=model
width=79
height=217
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
model=quest_elem2_diagram
modelorigin_x=0
modelorigin_y=-19
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=650

// 466:5
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 466:6
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

