// 1553:0
[storage_title]
type=text
x=5
width=10
height=30
widthmode=minus
layer=mainmodal_window_content_storage
textfont=cinzel_18pt_bold_multiline
text=Storage
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 0)

// 1553:1
[inv_title]
type=text
x=5
width=10
height=30
widthmode=minus
layer=mainmodal_window_content_side
textfont=cinzel_18pt_bold_multiline
text=Inventory
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 0)

// 1553:2
[mainmodal_window_content_storage]
type=layer
x=-125
y=5
width=292
height=156
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 1553:3
[mainmodal_window_content_side]
type=layer
x=125
y=5
width=292
height=156
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 1553:4
[seeds_container_side]
type=layer
y=29
width=10
height=122
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content_side

// 1553:5
[seeds_container]
type=layer
y=29
width=10
height=122
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content_storage

// 1553:6
[com_6]
type=text
width=10
height=20
widthmode=minus
xmode=abs_centre
layer=seeds_container
textfont=museo_sans_13pt_regular
text=Crystal Seeds
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 3)

// 1553:7
[seeds_box]
type=layer
height=102
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=seeds_container
candrop=yes

// 1553:8
[border_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=seeds_box
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1553:9
[seed_weapon_background]
type=graphic
x=-55
y=10
width=36
height=36
xmode=abs_centre
layer=seeds_box
colour=0xffffff
clickmask=no

// 1553:10
[seed_weapon]
type=graphic
x=-53
y=12
width=36
height=32
xmode=abs_centre
layer=seeds_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op5=Noted-X
op10=Examine
onload=farming_tools_main(event_com, elfcity_ithell_storage:seed_weapon_background, elfcity_crystal_seed_weapon, 1)
ondragcomplete=script9556(event_com, elfcity_ithell_storage:seed_weapon_background, elfcity_ithell_storage:seed_weapon_side, elfcity_ithell_storage:seed_weapon_background_side, 101777430, event_com2)

// 1553:11
[seed_armour_background]
type=graphic
y=10
width=36
height=36
xmode=abs_centre
layer=seeds_box
colour=0xffffff
clickmask=no

// 1553:12
[seed_armour]
type=graphic
x=2
y=12
width=36
height=32
xmode=abs_centre
layer=seeds_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op5=Noted-X
op10=Examine
onload=farming_tools_main(event_com, elfcity_ithell_storage:seed_armour_background, elfcity_crystal_seed_armour, 1)
ondragcomplete=script9556(event_com, elfcity_ithell_storage:seed_armour_background, elfcity_ithell_storage:seed_armour_side, elfcity_ithell_storage:seed_armour_background_side, 101777430, event_com2)

// 1553:13
[seed_tool_background]
type=graphic
x=55
y=10
width=36
height=36
xmode=abs_centre
layer=seeds_box
colour=0xffffff
clickmask=no

// 1553:14
[seed_tool]
type=graphic
x=57
y=12
width=36
height=32
xmode=abs_centre
layer=seeds_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op5=Noted-X
op10=Examine
onload=farming_tools_main(event_com, elfcity_ithell_storage:seed_tool_background, elfcity_crystal_seed_tool, 1)
ondragcomplete=script9556(event_com, elfcity_ithell_storage:seed_tool_background, elfcity_ithell_storage:seed_tool_side, elfcity_ithell_storage:seed_tool_background_side, 101777430, event_com2)

// 1553:15
[seed_weapon_attuned_background]
type=graphic
x=-55
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=seeds_box
colour=0xffffff
clickmask=no

// 1553:16
[seed_weapon_attuned]
type=graphic
x=-53
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=seeds_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op10=Examine
onload=farming_tools_main(event_com, elfcity_ithell_storage:seed_weapon_attuned_background, elfcity_crystal_seed_weapon_attuned, 1)
ondragcomplete=script9556(event_com, elfcity_ithell_storage:seed_weapon_attuned_background, elfcity_ithell_storage:seed_weapon_attuned_side, elfcity_ithell_storage:seed_weapon_attuned_background_side, 101777430, event_com2)

// 1553:17
[seed_armour_attuned_background]
type=graphic
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=seeds_box
colour=0xffffff
clickmask=no

// 1553:18
[seed_armour_attuned]
type=graphic
x=2
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=seeds_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op10=Examine
onload=farming_tools_main(event_com, elfcity_ithell_storage:seed_armour_attuned_background, elfcity_crystal_seed_armour_attuned, 1)
ondragcomplete=script9556(event_com, elfcity_ithell_storage:seed_armour_attuned_background, elfcity_ithell_storage:seed_armour_attuned_side, elfcity_ithell_storage:seed_armour_attuned_background_side, 101777430, event_com2)

// 1553:19
[seed_teleport_background]
type=graphic
x=55
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=seeds_box
colour=0xffffff
clickmask=no

// 1553:20
[seed_teleport]
type=graphic
x=57
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=seeds_box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op5=Noted-X
op10=Examine
onload=farming_tools_main(event_com, elfcity_ithell_storage:seed_teleport_background, elf_crystal_tiny, 1)
ondragcomplete=script9556(event_com, elfcity_ithell_storage:seed_teleport_background, elfcity_ithell_storage:seed_teleport_side, elfcity_ithell_storage:seed_teleport_background_side, 101777430, event_com2)

// 1553:21
[com_21]
type=text
width=10
height=20
widthmode=minus
xmode=abs_centre
layer=seeds_container_side
textfont=museo_sans_13pt_regular
text=Crystal Seeds
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 3)

// 1553:22
[seeds_box_side]
type=layer
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=seeds_container_side
candrop=yes

// 1553:23
[border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=seeds_box_side
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1553:24
[seed_weapon_background_side]
type=graphic
x=-55
y=10
width=36
height=36
xmode=abs_centre
layer=seeds_box_side
colour=0xffffff
clickmask=no

// 1553:25
[seed_weapon_side]
type=graphic
x=-53
y=12
width=36
height=32
xmode=abs_centre
layer=seeds_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, elfcity_ithell_storage:seed_weapon_background_side, elfcity_crystal_seed_weapon, 1)
ondragcomplete=script9557(event_com, elfcity_ithell_storage:seed_weapon_background_side, elfcity_ithell_storage:seed_weapon, elfcity_ithell_storage:seed_weapon_background, 101777415, event_com2)

// 1553:26
[seed_armour_background_side]
type=graphic
y=10
width=36
height=36
xmode=abs_centre
layer=seeds_box_side
colour=0xffffff
clickmask=no

// 1553:27
[seed_armour_side]
type=graphic
x=2
y=12
width=36
height=32
xmode=abs_centre
layer=seeds_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, elfcity_ithell_storage:seed_armour_background_side, elfcity_crystal_seed_armour, 1)
ondragcomplete=script9557(event_com, elfcity_ithell_storage:seed_armour_background_side, elfcity_ithell_storage:seed_armour, elfcity_ithell_storage:seed_armour_background, 101777415, event_com2)

// 1553:28
[seed_tool_background_side]
type=graphic
x=55
y=10
width=36
height=36
xmode=abs_centre
layer=seeds_box_side
colour=0xffffff
clickmask=no

// 1553:29
[seed_tool_side]
type=graphic
x=57
y=12
width=36
height=32
xmode=abs_centre
layer=seeds_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, elfcity_ithell_storage:seed_tool_background_side, elfcity_crystal_seed_tool, 1)
ondragcomplete=script9557(event_com, elfcity_ithell_storage:seed_tool_background_side, elfcity_ithell_storage:seed_tool, elfcity_ithell_storage:seed_tool_background, 101777415, event_com2)

// 1553:30
[seed_weapon_attuned_background_side]
type=graphic
x=-55
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=seeds_box_side
colour=0xffffff
clickmask=no

// 1553:31
[seed_weapon_attuned_side]
type=graphic
x=-53
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=seeds_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, elfcity_ithell_storage:seed_weapon_attuned_background_side, elfcity_crystal_seed_weapon_attuned, 1)
ondragcomplete=script9557(event_com, elfcity_ithell_storage:seed_weapon_attuned_background_side, elfcity_ithell_storage:seed_weapon_attuned, elfcity_ithell_storage:seed_weapon_attuned_background, 101777415, event_com2)

// 1553:32
[seed_armour_attuned_background_side]
type=graphic
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=seeds_box_side
colour=0xffffff
clickmask=no

// 1553:33
[seed_armour_attuned_side]
type=graphic
x=2
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=seeds_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, elfcity_ithell_storage:seed_armour_attuned_background_side, elfcity_crystal_seed_armour_attuned, 1)
ondragcomplete=script9557(event_com, elfcity_ithell_storage:seed_armour_attuned_background_side, elfcity_ithell_storage:seed_armour_attuned, elfcity_ithell_storage:seed_armour_attuned_background, 101777415, event_com2)

// 1553:34
[seed_teleport_background_side]
type=graphic
x=55
y=10
width=36
height=36
xmode=abs_centre
ymode=abs_bottom
layer=seeds_box_side
colour=0xffffff
clickmask=no

// 1553:35
[seed_teleport_side]
type=graphic
x=57
y=12
width=36
height=32
xmode=abs_centre
ymode=abs_bottom
layer=seeds_box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, elfcity_ithell_storage:seed_teleport_background_side, elf_crystal_tiny, 1)
ondragcomplete=script9557(event_com, elfcity_ithell_storage:seed_teleport_background_side, elfcity_ithell_storage:seed_teleport, elfcity_ithell_storage:seed_teleport_background, 101777415, event_com2)

// 1553:36
[mainmodal_window]
type=layer
height=216
widthmode=minus
onload=script8420(elfcity_ithell_storage:mainmodal_window_background, elfcity_ithell_storage:mainmodal_window_border, elfcity_ithell_storage:mainmodal_window_content, elfcity_ithell_storage:mainmodal_window_close_button, "Crystal Seed Storage", 21218, string_1007)

// 1553:37
[mainmodal_window_background]
type=layer
y=32
width=16
height=184
widthmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1553:38
[mainmodal_window_content]
type=layer
y=32
width=16
height=184
widthmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1553:39
[mainmodal_window_border]
type=layer
height=216
widthmode=minus
layer=mainmodal_window

// 1553:40
[mainmodal_window_close_button]
type=layer
height=216
widthmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

