// 1554:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(elfcity_meilyr_maw_swap:mainmodal_window_background, elfcity_meilyr_maw_swap:mainmodal_window_border, elfcity_meilyr_maw_swap:mainmodal_window_content, elfcity_meilyr_maw_swap:mainmodal_window_close_button, "Enhancers Exchange", 21218, string_1007)

// 1554:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1554:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script7613
onvartransmit=script7614
oninvtransmit=script7614
onvartransmitlist=elfcity_maw_selected

// 1554:3
[info_holder]
type=layer
x=5
y=5
width=235
height=10
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1554:4
[info_build_area]
type=layer
x=10
y=10
width=225
height=20
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 1554:5
[buy_button_layer]
type=layer
y=5
width=50
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=info_build_area

// 1554:6
[buy_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_layer
onload=script7041(event_com)

// 1554:7
[buy_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_layer
onload=script7042(event_com)

// 1554:8
[buy_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_layer
onload=script7044(event_com)

// 1554:9
[buy_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_layer
hide=yes
onload=script7047(event_com)

// 1554:10
[buy_button]
type=layer
widthmode=minus
heightmode=minus
layer=buy_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1554:11
[buy_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_layer
hide=yes
onload=script7060(event_com)

// 1554:12
[buy_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_layer

// 1554:13
[buy_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_text_layer
textfont=cinzel_13pt_bold
text=Exchange
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1554:14
[use_bonus]
type=layer
y=25
height=80
widthmode=minus
heightmode=minus
layer=info_build_area

// 1554:15
[unlock_text]
type=text
y=34
height=22
widthmode=minus
ymode=abs_bottom
layer=info_build_area
textfont=museo_sans_13pt_bold
text=Charges: 2
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 4)

// 1554:16
[name_text]
type=text
height=26
widthmode=minus
layer=info_build_area
textfont=museo_sans_13pt_regular
text=Enhancer Details
textlineheight=13
textalignh=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1554:17
[recipe_holder]
type=layer
x=5
y=5
width=245
height=10
heightmode=minus
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1554:18
[content_area]
type=layer
x=10
y=10
width=235
height=20
heightmode=minus
layer=mainmodal_window_content

// 1554:19
[recipe_text]
type=text
width=20
height=26
widthmode=minus
layer=content_area
textfont=museo_sans_13pt_regular
text=Enhancers
textalignh=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1554:20
[build_area]
type=layer
y=26
width=20
height=26
widthmode=minus
heightmode=minus
layer=content_area

// 1554:21
[click_area]
type=layer
y=26
width=20
height=26
widthmode=minus
heightmode=minus
layer=content_area

// 1554:22
[highlight_area]
type=layer
y=26
width=20
height=26
widthmode=minus
heightmode=minus
layer=content_area

// 1554:23
[scrollbar_layer]
type=layer
y=26
width=16
height=26
heightmode=minus
xmode=abs_right
layer=content_area

// 1554:24
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1554:25
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

