// 175:0
[mainmodal_window]
type=layer
width=400
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(elfcity_increaser:mainmodal_window_background, elfcity_increaser:mainmodal_window_border, elfcity_increaser:mainmodal_window_content, elfcity_increaser:mainmodal_window_close_button, "Maw Enhancers", 21218, string_1007)

// 175:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 175:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 175:3
[list_loading]
type=text
x=3
width=24
height=32
widthmode=minus
ymode=abs_centre
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular_multiline
text=Loading...
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 2)

// 175:4
[list_main]
type=layer
x=3
y=3
width=24
height=6
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onvartransmit=script6563(elfcity_increaser:list_build, elfcity_increaser:list_click, elfcity_increaser:list_scroll)
onvartransmitlist=elfcity_temp_2

// 175:5
[list_build]
type=layer
widthmode=minus
heightmode=minus
layer=list_main

// 175:6
[list_click]
type=layer
widthmode=minus
heightmode=minus
layer=list_main

// 175:7
[list_scroll]
type=layer
x=3
y=3
width=16
height=6
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 175:8
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 175:9
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

