// 1243:0
[reward_1_layer]
type=layer
height=40
widthmode=minus
xmode=abs_centre
layer=reward_contents_build_layer

// 1243:1
[reward_1_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reward_1_layer

// 1243:2
[reward_1_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reward_1_layer
transmitop1=yes
op1=View-memory

// 1243:3
[reward_1_graphic]
type=graphic
x=10
width=36
height=32
ymode=abs_centre
layer=reward_1_layer
colour=0xffffff
clickmask=no

// 1243:4
[reward_1_text]
type=text
x=10
width=66
height=8
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=reward_1_layer
textfont=museo_sans_11pt_regular
text=WARNING: Memory data needs recovering.
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 19)

// 1243:5
[reward_2_layer]
type=layer
y=43
height=40
widthmode=minus
xmode=abs_centre
layer=reward_contents_build_layer

// 1243:6
[reward_2_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reward_2_layer

// 1243:7
[reward_2_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reward_2_layer
transmitop1=yes
op1=View-memory

// 1243:8
[reward_2_graphic]
type=graphic
x=10
width=36
height=32
ymode=abs_centre
layer=reward_2_layer
colour=0xffffff
clickmask=no

// 1243:9
[reward_2_text]
type=text
x=10
width=66
height=8
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=reward_2_layer
textfont=museo_sans_11pt_regular
text=WARNING: Memory data needs recovering.
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 19)

// 1243:10
[reward_3_layer]
type=layer
y=86
height=40
widthmode=minus
xmode=abs_centre
layer=reward_contents_build_layer

// 1243:11
[reward_3_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reward_3_layer

// 1243:12
[reward_3_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reward_3_layer
transmitop1=yes
op1=View-memory

// 1243:13
[reward_3_graphic]
type=graphic
x=10
width=36
height=32
ymode=abs_centre
layer=reward_3_layer
colour=0xffffff
clickmask=no

// 1243:14
[reward_3_text]
type=text
x=10
width=66
height=8
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=reward_3_layer
textfont=museo_sans_11pt_regular
text=WARNING: Memory data needs recovering.
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 19)

// 1243:15
[reward_4_layer]
type=layer
y=129
height=40
widthmode=minus
xmode=abs_centre
layer=reward_contents_build_layer

// 1243:16
[reward_4_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reward_4_layer

// 1243:17
[reward_4_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reward_4_layer
transmitop1=yes
op1=View-memory

// 1243:18
[reward_4_graphic]
type=graphic
x=10
width=36
height=32
ymode=abs_centre
layer=reward_4_layer
colour=0xffffff
clickmask=no

// 1243:19
[reward_4_text]
type=text
x=10
width=66
height=8
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=reward_4_layer
textfont=museo_sans_11pt_regular
text=WARNING: Memory data needs recovering.
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 19)

// 1243:20
[reward_5_layer]
type=layer
y=172
height=40
widthmode=minus
xmode=abs_centre
layer=reward_contents_build_layer

// 1243:21
[reward_5_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reward_5_layer

// 1243:22
[reward_5_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reward_5_layer
transmitop1=yes
op1=View-memory

// 1243:23
[reward_5_graphic]
type=graphic
x=10
width=36
height=32
ymode=abs_centre
layer=reward_5_layer
colour=0xffffff
clickmask=no

// 1243:24
[reward_5_text]
type=text
x=10
width=66
height=8
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=reward_5_layer
textfont=museo_sans_11pt_regular
text=WARNING: Memory data needs recovering.
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 19)

// 1243:25
[mainmodal_window]
type=layer
width=400
height=307
xmode=abs_centre
ymode=abs_centre
onload=script8420(enriched_chamber:mainmodal_window_background, enriched_chamber:mainmodal_window_border, enriched_chamber:mainmodal_window_content, enriched_chamber:mainmodal_window_close_button, "The Archivist", 21218, string_1007)

// 1243:26
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1243:27
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=divchamber_status_onload

// 1243:28
[reward_header]
type=layer
y=5
width=10
height=40
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 1243:29
[reward_contents]
type=layer
y=50
width=10
height=212
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 1243:30
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1243:31
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1243:32
[reward_header_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reward_header
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1243:33
[reward_information]
type=text
x=3
y=3
width=6
height=6
widthmode=minus
heightmode=minus
layer=reward_header
textfont=museo_sans_11pt_regular
text=Recovering Guthix's core memories with memory-storage bots unlocks bonus effects related to Divination.
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1243:34
[reward_contents_build_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reward_contents

