// 1433:0
[root]
type=layer
width=470
height=234
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script8420(escape_menu:background_layer, escape_menu:border_layer, escape_menu:content_layer, escape_menu:close_button_layer, "Options Menu", 21255, null)

// 1433:1
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=root

// 1433:2
[content_layer]
type=layer
y=40
width=10
height=43
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root
onload=script9922(0)
onvartransmit=script9922(1)
onvartransmitlist=tut5_perm,toplevel_v2_general_varp,combatv2_temp_varp1

// 1433:3
[parents_layer]
type=layer
x=4
width=245
height=63
widthmode=minus
layer=content_layer

// 1433:4
[parent_buttons_title]
type=text
height=18
widthmode=minus
layer=parents_layer
textfont=museo_sans_11pt_regular
text=Management Windows
textalignv=1
colour=0xe1e1e1
onload=script10496(event_com, event_comsubid, 0)

// 1433:5
[parents_scrolling]
type=layer
y=18
widthmode=minus
heightmode=minus
layer=parents_layer
onload=script13835(escape_menu:parents_build, escape_menu:parents_click)
onvartransmit=script13835(escape_menu:parents_build, escape_menu:parents_click)
onvartransmitlist=toplevel_v2_general_varp

// 1433:6
[parents_build]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=parents_scrolling

// 1433:7
[parents_click]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=parents_scrolling

// 1433:8
[parents_intern_notes]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=parents_scrolling

// 1433:9
[tutorial_skip_layer]
type=layer
x=4
y=-77
width=245
height=34
widthmode=minus
ymode=abs_centre
layer=content_layer
hide=yes

// 1433:10
[skip_tutorial]
type=layer
y=4
height=24
widthmode=minus
xmode=abs_centre
layer=tutorial_skip_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Skip Tutorial")

// 1433:11
[divider_settings_2]
type=layer
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=tutorial_skip_layer

// 1433:12
[divider_line_highlight_5]
type=line
y=-1
width=4
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=divider_settings_2
colour=0x41555f
onload=script10496(event_com, -1, 7)

// 1433:13
[divider_line_shadow_5]
type=line
width=4
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=divider_settings_2
colour=0x000000
onload=script10496(event_com, -1, 8)

// 1433:14
[settings_buttons_layer]
type=layer
x=4
y=60
width=245
height=34
widthmode=minus
layer=content_layer

// 1433:15
[game_settings]
type=layer
height=24
widthmode=minus
xmode=abs_centre
layer=settings_buttons_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Settings")
onop=script8181(event_com, event_op)

// 1433:16
[divider_settings]
type=layer
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=settings_buttons_layer

// 1433:17
[divider_line_highlight]
type=line
y=-1
width=4
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=divider_settings
colour=0x41555f
onload=script10496(event_com, -1, 7)

// 1433:18
[divider_line_shadow]
type=line
width=4
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=divider_settings
colour=0x000000
onload=script10496(event_com, -1, 8)

// 1433:19
[layouts_layer]
type=layer
x=4
y=100
width=245
height=68
widthmode=minus
layer=content_layer
onvartransmit=script14048
onvartransmitlist=toplevel_v2_general_varp

// 1433:20
[edit_mode_button]
type=layer
height=24
widthmode=minus
xmode=abs_centre
layer=layouts_layer

// 1433:21
[edit_mode_build]
type=layer
widthmode=minus
heightmode=minus
layer=edit_mode_button

// 1433:22
[edit_mode]
type=layer
width=223
height=20
layer=edit_mode_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1433:23
[quick_switch_text]
type=text
y=25
height=16
widthmode=minus
layer=layouts_layer
textfont=museo_sans_11pt_regular
text= Load Layout
textalignv=1
colour=0xe1e1e1
onload=script10496(event_com, event_comsubid, 0)

// 1433:24
[static_dropdown_load]
type=layer
y=41
height=24
widthmode=minus
xmode=abs_centre
layer=layouts_layer
onload=script12540(escape_menu:dropdown_build_load, escape_menu:dropdown_click_load)

// 1433:25
[dropdown_build_load]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown_load

// 1433:26
[dropdown_click_load]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown_load
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1433:27
[legacy_blocker]
type=layer
x=7
y=7
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=proportion_centre
ymode=proportion_top
layer=layouts_layer

// 1433:28
[legacy_blocker_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=legacy_blocker

// 1433:29
[legacy_blocker_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=legacy_blocker
onload=script9936(event_com, escape_menu:legacy_blocker_background)

// 1433:30
[legacy_blocker_border]
type=layer
widthmode=minus
heightmode=minus
layer=legacy_blocker
onload=script8420(escape_menu:legacy_blocker_background, escape_menu:legacy_blocker_border, escape_menu:legacy_blocker_content, null, "", 21259, null)

// 1433:31
[mobile_layer]
type=layer
x=4
y=96
width=245
height=57
widthmode=minus
layer=content_layer
hide=yes

// 1433:32
[com_32]
type=line
width=32
height=32
layer=mobile_layer
noclickthrough=yes
colour=0xffffff

// 1433:33
[ribbon_setup_button]
type=layer
x=7
y=7
width=15944
height=5755
widthmode=proportion
heightmode=proportion
xmode=proportion_centre
ymode=proportion_top
layer=mobile_layer
onload=script6233(event_com, null, rs3tli_3x3_button, "Ribbon Setup")

// 1433:34
[ribbon_setup_build]
type=layer
widthmode=minus
heightmode=minus
layer=ribbon_setup_button

// 1433:35
[ribbon_setup]
type=layer
widthmode=minus
heightmode=minus
layer=ribbon_setup_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script8181(event_com, event_op)

// 1433:36
[open_controls]
type=layer
x=7
y=7767
width=15890
height=5755
widthmode=proportion
heightmode=proportion
xmode=proportion_centre
ymode=proportion_top
layer=mobile_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "View Controls")
onop=script8181(event_com, event_op)

// 1433:37
[divider_mobile]
type=layer
x=7
y=13804
width=16391
height=2881
widthmode=proportion
heightmode=proportion
xmode=proportion_centre
ymode=proportion_top
layer=mobile_layer

// 1433:38
[com_38]
type=line
width=4
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=divider_mobile
colour=0x41555f

// 1433:39
[com_39]
type=line
y=-1
width=4
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=divider_mobile
colour=0x000000

// 1433:40
[report_issue_layer]
type=layer
x=4
width=245
height=24
widthmode=minus
ymode=abs_bottom
layer=content_layer

// 1433:41
[report_issue_button]
type=layer
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=report_issue_layer

// 1433:42
[report_issue_build]
type=layer
widthmode=minus
heightmode=minus
layer=report_issue_button

// 1433:43
[report_issue]
type=layer
widthmode=minus
heightmode=minus
layer=report_issue_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script8181(event_com, event_op)

// 1433:44
[divider_settings_vertical]
type=layer
width=2
height=4
heightmode=minus
xmode=abs_centre
layer=content_layer

// 1433:45
[divider_line_highlight_4]
type=line
height=4
heightmode=minus
ymode=abs_centre
layer=divider_settings_vertical
colour=0x41555f
onload=script10496(event_com, -1, 7)

// 1433:46
[divider_line_shadow_4]
type=line
height=4
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=divider_settings_vertical
colour=0x000000
onload=script10496(event_com, -1, 8)

// 1433:47
[csat_layer]
type=layer
width=245
height=109
widthmode=minus
xmode=abs_right
layer=content_layer
onload=script14042
onvartransmit=script14042
onvartransmitlist=csat_temp,csat

// 1433:48
[csat_text]
type=text
y=5
width=218
height=32
xmode=abs_centre
layer=csat_layer
textfont=museo_sans_11pt_regular
text=Did you enjoy playing RuneScape today?
textalignh=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1433:49
[csat_stars]
type=layer
y=13
width=220
height=35
heightmode=minus
ymode=abs_centre
layer=csat_layer
hide=yes

// 1433:50
[csat_star_5]
type=graphic
x=80
width=33
height=33
xmode=abs_centre
ymode=abs_centre
layer=csat_stars
graphic="menaphos_icon_faction_favorite_33px,5"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script14045(5)
onmouseleave=script14046
onclick=script14041(5)

// 1433:51
[csat_star_4]
type=graphic
x=40
width=33
height=33
xmode=abs_centre
ymode=abs_centre
layer=csat_stars
graphic="menaphos_icon_faction_favorite_33px,5"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script14045(4)
onmouseleave=script14046
onclick=script14041(4)

// 1433:52
[csat_star_3]
type=graphic
width=33
height=33
xmode=abs_centre
ymode=abs_centre
layer=csat_stars
graphic="menaphos_icon_faction_favorite_33px,5"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script14045(3)
onmouseleave=script14046
onclick=script14041(3)

// 1433:53
[csat_star_2]
type=graphic
x=-40
width=33
height=33
xmode=abs_centre
ymode=abs_centre
layer=csat_stars
graphic="menaphos_icon_faction_favorite_33px,5"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script14045(2)
onmouseleave=script14046
onclick=script14041(2)

// 1433:54
[csat_star_1]
type=graphic
x=-80
width=33
height=33
xmode=abs_centre
ymode=abs_centre
layer=csat_stars
graphic="menaphos_icon_faction_favorite_33px,5"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script14045(1)
onmouseleave=script14046
onclick=script14041(1)

// 1433:55
[csat_thumbs]
type=layer
y=13
width=16391
height=11316
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=csat_layer

// 1433:56
[csat_positive]
type=graphic
x=-1854
y=-1043
width=2985
height=8409
widthmode=proportion
heightmode=proportion
xmode=proportion_centre
ymode=proportion_centre
layer=csat_thumbs
graphic="csat_rating_postive,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onclick=script14040(1)

// 1433:57
[csat_negative]
type=graphic
x=1868
y=1057
width=2985
height=8409
widthmode=proportion
heightmode=proportion
xmode=proportion_centre
ymode=proportion_centre
layer=csat_thumbs
graphic="csat_rating_negative,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onclick=script14040(0)

// 1433:58
[divider_csat]
type=layer
y=4
width=16391
height=1456
widthmode=proportion
heightmode=proportion
ymode=abs_bottom
layer=csat_layer

// 1433:59
[divider_line_highlight_1]
type=line
width=4
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=divider_csat
colour=0x41555f
onload=script10496(event_com, -1, 7)

// 1433:60
[divider_line_shadow_1]
type=line
y=-1
width=4
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=divider_csat
colour=0x000000
onload=script10496(event_com, -1, 8)

// 1433:61
[logout_layer]
type=layer
y=4
width=245
height=80
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=content_layer

// 1433:62
[logout_popup]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer
hide=yes
noclickthrough=yes

// 1433:63
[fake_op]
type=layer
layer=content_layer
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Select
op2=Select
op3=Select
opcursor1=cursor_use
opcursor0=cursor_use

// 1433:64
[world_hop_button]
type=layer
height=24
widthmode=minus
xmode=abs_centre
layer=logout_layer

// 1433:65
[world_hop_build]
type=layer
widthmode=minus
heightmode=minus
layer=world_hop_button

// 1433:66
[world_hop]
type=layer
widthmode=minus
heightmode=minus
layer=world_hop_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script8181(event_com, event_op)

// 1433:67
[logout_lobby_button]
type=layer
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=logout_layer

// 1433:68
[logout_lobby_build]
type=layer
widthmode=minus
heightmode=minus
layer=logout_lobby_button

// 1433:69
[logout_lobby]
type=layer
widthmode=minus
heightmode=minus
layer=logout_lobby_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script8181(event_com, event_op)

// 1433:70
[logout_full_button]
type=layer
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=logout_layer

// 1433:71
[logout_full_build]
type=layer
widthmode=minus
heightmode=minus
layer=logout_full_button

// 1433:72
[logout_full]
type=layer
widthmode=minus
heightmode=minus
layer=logout_full_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script8181(event_com, event_op)

// 1433:73
[3pc]
type=layer
y=-29
width=181
height=28
xmode=abs_centre
ymode=abs_bottom
layer=logout_layer
hide=yes
transmitop1=yes
op1=Toggle

// 1433:74
[3pc_checkbox_layer]
type=layer
x=5
y=6
width=16
height=16
layer=3pc

// 1433:75
[3pc_checkbox_selected_layer]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=3pc_checkbox_layer
hide=yes
onload=script4519(event_com)

// 1433:76
[3pc_checkbox_deselected_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=3pc_checkbox_layer
onload=script4520(event_com)

// 1433:77
[3pc_text]
type=text
x=25
width=25
widthmode=minus
heightmode=minus
layer=3pc
textfont=p11_full
textalignh=1
textalignv=1
textshadow=yes

// 1433:78
[border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=root

// 1433:79
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
layer=root
transmitop1=yes
op1=Close
onop=script8178

// 1433:80
[com_80]
type=rectangle
widthmode=minus
heightmode=minus
layer=logout_popup
colour=0x000000
fill=yes
trans=150

// 1433:81
[escape_logout_popup]
type=layer
width=385
height=112
xmode=abs_centre
ymode=abs_centre
layer=logout_popup

// 1433:82
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
layer=escape_logout_popup
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1433:83
[com_83]
type=text
height=32
widthmode=minus
layer=escape_logout_popup
textfont=cinzel_15pt_bold
text=Are you sure you want to logout?
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1433:84
[esc_logout_yes]
type=layer
x=10
y=40
width=150
height=27
layer=escape_logout_popup
onload=script13968(escape_menu:esc_logout_yes_build, escape_menu:esc_logout_yes_click, rs3tli_positive_button, "Logout")

// 1433:85
[esc_logout_yes_build]
type=layer
widthmode=minus
heightmode=minus
layer=esc_logout_yes

// 1433:86
[esc_logout_yes_click]
type=layer
widthmode=minus
heightmode=minus
layer=esc_logout_yes
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1433:87
[esc_logout_no]
type=layer
x=10
y=40
width=150
height=27
xmode=abs_right
layer=escape_logout_popup
onload=script13968(escape_menu:esc_logout_no_build, escape_menu:esc_logout_no_click, rs3tli_neutral_button, "Cancel")
onclick=script4166

// 1433:88
[esc_logout_no_build]
type=layer
widthmode=minus
heightmode=minus
layer=esc_logout_no

// 1433:89
[esc_logout_no_click]
type=layer
widthmode=minus
heightmode=minus
layer=esc_logout_no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script4166

// 1433:90
[checkbox_container]
type=layer
y=10
width=20
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=escape_logout_popup

// 1433:91
[checkbox_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=checkbox_container

// 1433:92
[checkbox_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=checkbox_container
transmitop1=yes
op1=Toggle

