// 1809:0
[overview_layer]
type=layer
width=686
height=404
onload=event_overview_init

// 1809:1
[event_tab_2]
type=layer
x=19
y=23
width=644
height=357

// 1809:2
[event_tab_3]
type=layer
width=686
height=404

// 1809:3
[event_tab_4]
type=layer
width=686
height=404

// 1809:4
[event_tab_5]
type=layer
width=686
height=404

// 1809:5
[event_info]
type=layer
height=50
widthmode=minus
layer=overview_layer

// 1809:6
[event_tab_2_button]
type=layer
y=54
width=338
height=170
layer=overview_layer
transmitop1=yes
op1=Open
opcursor0=cursor_open
onmouseleave=script12931(event_com)
onop=script12694
onmouserepeat=script12930(event_com)

// 1809:7
[event_tab_3_button]
type=layer
x=5
y=180
width=338
height=170
xmode=abs_right
ymode=abs_bottom
layer=overview_layer
transmitop1=yes
op1=Open
opcursor0=cursor_open
onmouseleave=script12931(event_com)
onop=script12694
onmouserepeat=script12930(event_com)

// 1809:8
[event_tab_3_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=event_tab_3_button
colour=0xffffff
clickmask=no

// 1809:9
[event_tab_3_title]
type=text
height=21
widthmode=minus
layer=event_tab_3_button
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1809:10
[event_tab_3_desc]
type=text
height=21
widthmode=minus
ymode=abs_bottom
layer=event_tab_3_button
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 1809:11
[event_tab_3_highlight]
type=graphic
widthmode=minus
heightmode=minus
layer=event_tab_3_button
hide=yes
graphic=rs3_btn_whats_new_highlight
colour=0xffffff
clickmask=no

// 1809:12
[event_tab_4_button]
type=layer
y=5
width=338
height=170
ymode=abs_bottom
layer=overview_layer
transmitop1=yes
op1=Open
opcursor0=cursor_open
onmouseleave=script12931(event_com)
onop=script12694
onmouserepeat=script12930(event_com)

// 1809:13
[event_tab_4_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=event_tab_4_button
colour=0xffffff
clickmask=no

// 1809:14
[event_tab_4_title]
type=text
height=21
widthmode=minus
layer=event_tab_4_button
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1809:15
[event_tab_2_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=event_tab_2_button
colour=0xffffff
clickmask=no

// 1809:16
[event_tab_2_title]
type=text
height=21
widthmode=minus
layer=event_tab_2_button
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1809:17
[event_tab_5_button]
type=layer
x=5
y=5
width=338
height=170
xmode=abs_right
ymode=abs_bottom
layer=overview_layer
transmitop1=yes
op1=Open
opcursor0=cursor_open
onmouseleave=script12931(event_com)
onop=script12694
onmouserepeat=script12930(event_com)

// 1809:18
[event_tab_5_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=event_tab_5_button
colour=0xffffff
clickmask=no

// 1809:19
[event_tab_5_title]
type=text
height=21
widthmode=minus
layer=event_tab_5_button
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1809:20
[event_title]
type=text
width=5
height=19
widthmode=minus
layer=event_info
textfont=cinzel_18pt_bold
textshadow=yes
colour=0xffcb05

// 1809:21
[event_desc]
type=text
y=24
width=5
height=25
widthmode=minus
layer=event_info
textfont=museo_sans_11pt_regular
textshadow=yes
colour=0x7592a0

// 1809:22
[event_tab_4_desc]
type=text
height=21
widthmode=minus
ymode=abs_bottom
layer=event_tab_4_button
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 1809:23
[event_tab_4_highlight]
type=graphic
widthmode=minus
heightmode=minus
layer=event_tab_4_button
hide=yes
graphic=rs3_btn_whats_new_highlight
colour=0xffffff
clickmask=no

// 1809:24
[event_tab_2_desc]
type=text
height=21
widthmode=minus
ymode=abs_bottom
layer=event_tab_2_button
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 1809:25
[event_tab_2_highlight]
type=graphic
widthmode=minus
heightmode=minus
layer=event_tab_2_button
hide=yes
graphic=rs3_btn_whats_new_highlight
colour=0xffffff
clickmask=no

// 1809:26
[event_tab_5_desc]
type=text
height=21
widthmode=minus
ymode=abs_bottom
layer=event_tab_5_button
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 1809:27
[event_tab_5_highlight]
type=graphic
widthmode=minus
heightmode=minus
layer=event_tab_5_button
hide=yes
graphic=rs3_btn_whats_new_highlight
colour=0xffffff
clickmask=no

