// 1666:0
[money_pouch_contents]
type=layer
x=27
width=27
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=content
oninvtransmit=script11047
oninvtransmitlist=money_pouch

// 1666:1
[money_pouch_anim_layer]
type=layer
x=27
width=27
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=content
oninvtransmit=script11047
oninvtransmitlist=money_pouch

// 1666:2
[money_pouch_output]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=money_pouch_contents
textfont=museo_sans_11pt_regular
text=Loading...
textalignv=1
textshadow=yes

// 1666:3
[com_3]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=icon
graphic=money_pouch_icon
hflip=yes
colour=0xffffff
clickmask=no

// 1666:4
[background]
type=layer
widthmode=minus
heightmode=minus
layer=container
onload=script8420(event_com, exchange_moneypouch:frame, exchange_moneypouch:content, null, "", 21259, null)

// 1666:5
[icon]
type=layer
x=6
width=24
height=24
ymode=abs_centre
layer=container

// 1666:6
[content]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=container
transmitop3=yes
transmitop4=yes
op3=Examine money pouch
op4=Withdraw money

// 1666:7
[frame]
type=layer
widthmode=minus
heightmode=minus
layer=container

// 1666:8
[container]
type=layer
widthmode=minus
heightmode=minus

// 1666:9
[money_pouch_anim_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=money_pouch_anim_layer
textfont=museo_sans_11pt_regular
textalignh=2
textalignv=1
textshadow=yes

