// 1721:0
[setsside_window]
type=layer
widthmode=minus
heightmode=minus
onload=script12238

// 1721:1
[setsside_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=setsside_window

// 1721:2
[setsside_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=setsside_window

// 1721:3
[root]
type=layer
widthmode=minus
heightmode=minus
layer=setsside_window_content

// 1721:4
[oplayer]
type=layer
layer=root
hide=yes
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop10=yes
op1=Components
op2=Exchange
op3=Exchange-x
op10=Examine
opcursor1=cursor_exchange

// 1721:5
[scroll_layer]
type=layer
widthmode=minus
heightmode=minus
layer=root

// 1721:6
[slotlayer]
type=layer
widthmode=minus
heightmode=minus
layer=scroll_layer

// 1721:7
[inventory_layer]
type=layer
widthmode=minus
heightmode=minus
layer=scroll_layer

// 1721:8
[scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=root
hide=yes

// 1721:9
[setsside_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=setsside_window

