// 885:0
[content]
type=layer
x=5
y=5
width=470
height=10
heightmode=minus
layer=mainmodal_window_content
onload=script1167
onvarctransmit=script1167
onvarctransmitlist=exchange_expert_type

// 885:1
[scrollbar]
type=layer
x=5
y=5
width=16
height=10
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 885:2
[border0]
type=layer
x=13
y=12
width=84
height=72
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:3
[border1]
type=layer
x=86
y=54
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:4
[border2]
type=layer
x=86
y=54
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:5
[border3]
type=layer
x=110
y=78
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:6
[border4]
type=layer
x=86
y=54
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:7
[border5]
type=layer
x=110
y=78
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:8
[border6]
type=layer
x=110
y=78
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:9
[border7]
type=layer
x=134
y=102
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:10
[border8]
type=layer
x=86
y=54
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:11
[border9]
type=layer
x=110
y=78
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:12
[border10]
type=layer
x=110
y=78
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:13
[border11]
type=layer
x=134
y=102
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:14
[border12]
type=layer
x=110
y=78
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:15
[border13]
type=layer
x=134
y=102
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:16
[border14]
type=layer
x=134
y=102
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:17
[border15]
type=layer
x=158
y=126
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:18
[border16]
type=layer
x=134
y=102
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:19
[border17]
type=layer
x=158
y=126
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:20
[border18]
type=layer
x=134
y=102
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:21
[border19]
type=layer
x=158
y=126
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:22
[border20]
type=layer
x=158
y=126
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:23
[border21]
type=layer
x=134
y=102
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:24
[border22]
type=layer
x=158
y=126
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:25
[border23]
type=layer
x=134
y=102
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:26
[border24]
type=layer
x=158
y=126
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:27
[border25]
type=layer
x=158
y=126
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:28
[border26]
type=layer
x=182
y=150
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:29
[border27]
type=layer
x=158
y=126
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:30
[border28]
type=layer
x=182
y=150
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:31
[border29]
type=layer
x=158
y=126
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:32
[border30]
type=layer
x=182
y=150
width=53
height=44
layer=content
transmitop10=yes
op10= 
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 885:33
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(exchange_interface_experts:mainmodal_window_background, exchange_interface_experts:mainmodal_window_border, exchange_interface_experts:mainmodal_window_content, exchange_interface_experts:mainmodal_window_close_button, "", 21218, string_1007)

// 885:34
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 885:35
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 885:36
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 885:37
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

