// 442:0
[contents]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content

// 442:1
[bespoke_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(eyeglo_change_machine_v4:bespoke_window_background, eyeglo_change_machine_v4:bespoke_window_border, eyeglo_change_machine_v4:bespoke_window_content, eyeglo_change_machine_v4:bespoke_window_close, "", 21259, string_1007)

// 442:2
[eyeglo_change_machine]
type=model
x=126
y=18
width=385
height=317
layer=contents
model=eyeglo_changemachine_interfacev2
modelorigin_x=-33
modelorigin_y=42
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750

// 442:3
[eyeglo_exchange_window]
type=model
x=333
y=59
width=144
height=144
layer=contents
model=eyeglo_changemachine_interfacev2_window
modelorigin_x=-1
modelorigin_y=-1
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750

// 442:4
[eyeglo_exchange_coinslot]
type=model
x=169
y=60
width=33
height=67
layer=contents
model=eyeglo_changemachine_interfacev2_coinslot
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Insert coin

// 442:5
[eyeglo_exchange_cancel]
type=model
x=163
y=160
width=61
height=51
layer=contents
model=eyeglo_changemachine_interfacev2_cancel_button
modelorigin_x=0
modelorigin_y=-4
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750

// 442:6
[eyeglo_exchange_takecoins]
type=model
x=172
y=250
width=56
height=45
layer=contents
model=eyeglo_changemachine_interfacev2_coinexit
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750

// 442:7
[eyeglo_take_button]
type=model
x=149
y=165
width=98
height=106
layer=contents
model=eyeglo_changemachine_interfacev2_correct_button
modelorigin_x=-5
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750

// 442:8
[eyeglo_exchange_hand]
type=model
x=-37
y=113
width=224
height=153
layer=contents
model=eyeglo_changemachine_interfacev2_hand
modelorigin_x=15
modelorigin_y=2
modelangle_x=119
modelangle_y=290
modelangle_z=73
modelzoom=385

// 442:9
[eyeglo_exchange_current_coin]
type=model
x=58
y=147
width=40
height=40
layer=contents
model=null
modelorigin_x=2
modelorigin_y=2
modelangle_x=381
modelangle_y=0
modelangle_z=62
modelzoom=300
onvartransmit=script2101(event_com)
onvartransmitlist=eyeglo_coin_selected

// 442:10
[eyeglo_exchange_button]
type=model
x=279
y=120
width=55
height=23
layer=contents
model=eyeglo_changemachine_interfacev2_switchbutton
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Exchange
opcursor0=cursor_exchange

// 442:11
[eyeglo_exchange_cancel_clicker]
type=rectangle
x=177
y=166
width=32
height=32
layer=contents
colour=0xffff00
trans=255
transmitop1=yes
op1=Cancel exchange

// 442:12
[eyeglo_take_button_clicker]
type=rectangle
x=177
y=202
width=32
height=32
layer=contents
colour=0xffff00
trans=255
transmitop1=yes
op1=Accept exchange

// 442:13
[eyeglo_change_machine_border]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=contents
colour=0x000000

// 442:14
[in]
type=layer
x=229
y=77
width=36
height=159
layer=contents
onload=script1322(eyeglo_change_machine_v4:in_0, eyeglo_change_machine_v4:in_1, eyeglo_change_machine_v4:in_2)
oninvtransmit=script1322(eyeglo_change_machine_v4:in_0, eyeglo_change_machine_v4:in_1, eyeglo_change_machine_v4:in_2)
oninvtransmitlist=eyeglo_inv_in

// 442:15
[in_0]
type=graphic
y=1
width=36
height=32
layer=in
outline=1
graphicshadow=6579300
colour=0xffffff
clickmask=no
transmitop10=yes
op10=Examine

// 442:16
[in_1]
type=graphic
y=63
width=36
height=32
layer=in
outline=1
graphicshadow=6579300
colour=0xffffff
clickmask=no
transmitop10=yes
op10=Examine

// 442:17
[in_2]
type=graphic
y=125
width=36
height=32
layer=in
outline=1
graphicshadow=6579300
colour=0xffffff
clickmask=no
transmitop10=yes
op10=Examine

// 442:18
[out]
type=layer
x=358
y=81
width=99
height=99
layer=contents
onload=script1323(eyeglo_change_machine_v4:out_0, eyeglo_change_machine_v4:out_1, eyeglo_change_machine_v4:out_2, eyeglo_change_machine_v4:out_3)
oninvtransmit=script1323(eyeglo_change_machine_v4:out_0, eyeglo_change_machine_v4:out_1, eyeglo_change_machine_v4:out_2, eyeglo_change_machine_v4:out_3)
oninvtransmitlist=eyeglo_inv_out

// 442:19
[out_0]
type=graphic
y=1
width=36
height=32
layer=out
outline=1
graphicshadow=6579300
colour=0xffffff
clickmask=no
transmitop10=yes
op10=Examine

// 442:20
[out_1]
type=graphic
x=63
y=1
width=36
height=32
layer=out
outline=1
graphicshadow=6579300
colour=0xffffff
clickmask=no
transmitop10=yes
op10=Examine

// 442:21
[out_2]
type=graphic
y=65
width=36
height=32
layer=out
outline=1
graphicshadow=6579300
colour=0xffffff
clickmask=no
transmitop10=yes
op10=Examine

// 442:22
[out_3]
type=graphic
x=63
y=65
width=36
height=32
layer=out
outline=1
graphicshadow=6579300
colour=0xffffff
clickmask=no
transmitop10=yes
op10=Examine

// 442:23
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 442:24
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 442:25
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 442:26
[bespoke_window_close]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window
transmitop1=yes
op1=Close
onop=closebutton_click

