// 423:0
[mainmodal_window]
type=layer
y=3
width=410
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(fairy2_certificate_broken:mainmodal_window_background, fairy2_certificate_broken:mainmodal_window_border, fairy2_certificate_broken:mainmodal_window_content, fairy2_certificate_broken:mainmodal_window_close_button, "Certificate", 21218, string_1007)

// 423:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 423:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 423:3
[com_3]
type=model
width=394
height=324
layer=mainmodal_window_content
model=fairy2_certificate_broken
modelorigin_x=16
modelorigin_y=5
modelangle_x=0
modelangle_y=2047
modelangle_z=0
modelzoom=179

// 423:4
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 423:5
[com_5]
type=text
x=80
y=98
width=276
height=17
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=Certificate of Advanced Healing
textalignh=1
textshadow=yes

// 423:6
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 423:7
[com_7]
type=text
x=80
y=115
width=276
height=17
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=From PoxStead College.
textalignh=1
textshadow=yes

// 423:8
[com_8]
type=text
x=180
y=192
width=193
height=41
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular_multiline
text=Signed Dr Foster-MMD, PRD <br> Head of<br>Magical Healing.
textlineheight=14
textalignh=1
textshadow=yes

