// 632:0
[farming_requests_parent]
type=layer
width=800
height=450
onload=script8420(farming_requests:farming_requests_background, farming_requests:farming_requests_border, farming_requests:farming_requests_content, farming_requests:farming_requests_close_button, "Farming Guild Requests", 21218, null)

// 632:1
[farming_requests_background]
type=layer
x=10
y=9
width=20
height=19
widthmode=minus
heightmode=minus
layer=farming_requests_parent

// 632:2
[farming_requests_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=farming_requests_parent

// 632:3
[farming_request_bg]
type=layer
x=5
y=5
width=10
height=10
widthmode=minus
heightmode=minus
layer=farming_requests_content
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 632:4
[easy_request_layer]
type=layer
y=10
height=116
widthmode=minus
layer=farming_requests_content

// 632:5
[com_5]
type=line
y=139
width=20
widthmode=minus
xmode=abs_centre
layer=farming_requests_content
colour=0xffffff
onload=script8194(event_com, rs3_separator)

// 632:6
[med_request_layer]
type=layer
y=148
height=116
widthmode=minus
layer=farming_requests_content

// 632:7
[com_7]
type=line
y=272
width=20
widthmode=minus
xmode=abs_centre
layer=farming_requests_content
colour=0xffffff
onload=script8194(event_com, rs3_separator)

// 632:8
[hard_request_layer]
type=layer
y=281
height=116
widthmode=minus
layer=farming_requests_content

// 632:9
[easy_title]
type=text
x=13
width=169
height=24
layer=easy_request_layer
textfont=museo_sans_13pt_bold
text=Easy Requests
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 632:10
[easy_complete_status]
type=text
x=286
width=487
height=24
layer=easy_request_layer
textfont=museo_sans_13pt_bold
text=Requested items, still to be gathered
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:11
[easy_npc_chathead_layer]
type=layer
x=10
y=27
width=64
height=64
layer=easy_request_layer

// 632:12
[easy_request_state]
type=graphic
x=26
width=32
height=32
ymode=abs_bottom
layer=easy_request_layer
graphic="farming_icon_guild_request_complete,0"
colour=0xffffff
clickmask=no

// 632:13
[easy_request_refresh_icon]
type=graphic
x=81
y=44
width=36
height=32
layer=easy_request_layer
graphic=farming_icon_guild_request_refresh
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Time remaining to complete the request.", event_com, -1)
onclick=script7774("Time remaining to complete the request.", event_com, -1, 0)

// 632:14
[easy_request_npc_name]
type=text
x=81
y=25
width=160
height=16
layer=easy_request_layer
textfont=museo_sans_11pt_regular
text=NPC Name
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:15
[easy_reward_text_header]
type=text
x=124
y=71
width=160
height=16
layer=easy_request_layer
textfont=museo_sans_11pt_regular
text=Reward:
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:16
[easy_refresh_time]
type=text
x=124
y=49
width=160
height=24
layer=easy_request_layer
textfont=museo_sans_11pt_regular
text=13hrs : 25mins
textalignv=1
textshadow=yes

// 632:17
[easy_reward_icon_bg]
type=graphic
x=79
y=80
width=40
height=36
layer=easy_request_layer
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 632:18
[easy_reward_icon]
type=graphic
x=81
y=82
width=36
height=32
layer=easy_request_layer
graphic="aif_pop_exp_cargo_icons_34x34,3"
colour=0xffffff
clickmask=no

// 632:19
[easy_reward_text]
type=text
x=124
y=83
width=160
height=32
layer=easy_request_layer
textfont=museo_sans_11pt_regular_multiline
text=Potato Potato Seed x 50
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 632:20
[easy_requested_text]
type=text
x=286
y=25
width=141
height=16
layer=easy_request_layer
textfont=museo_sans_11pt_regular
text=Requested:
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:21
[easy_seed_icon_bg]
type=graphic
x=286
y=40
width=40
height=36
layer=easy_request_layer
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 632:22
[easy_seeds_icon]
type=graphic
x=288
y=42
width=36
height=32
layer=easy_request_layer
graphic="aif_pop_exp_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 632:23
[easy_seed_desc]
type=text
x=328
y=42
width=155
height=32
layer=easy_request_layer
textfont=museo_sans_11pt_regular
text=Potato Potato Seed x 50
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 632:24
[easy_produce_icon_bg]
type=graphic
x=286
y=80
width=40
height=36
layer=easy_request_layer
hide=yes
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 632:25
[easy_produce_icon]
type=graphic
x=288
y=82
width=36
height=32
layer=easy_request_layer
hide=yes
graphic="aif_pop_exp_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 632:26
[easy_produce_desc]
type=text
x=328
y=82
width=155
height=32
layer=easy_request_layer
hide=yes
textfont=museo_sans_11pt_regular
text=Potato Potato Potato x 50
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 632:27
[farming_requests_border]
type=layer
widthmode=minus
heightmode=minus
layer=farming_requests_parent

// 632:28
[farming_requests_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=farming_requests_parent
transmitop1=yes
op1=Close
onop=closebutton_click

// 632:29
[easy_npc_chathead]
type=model
widthmode=minus
heightmode=minus
layer=easy_npc_chathead_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3200
modelobjwidth=64
modelobjheight=64

// 632:30
[easy_requested_animal_text]
type=text
x=479
y=25
width=251
height=16
layer=easy_request_layer
textfont=museo_sans_11pt_regular
text=One of the following animals:
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:31
[easy_animal_icon_bg]
type=graphic
x=479
y=40
width=40
height=36
layer=easy_request_layer
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 632:32
[easy_animal_icon]
type=graphic
x=481
y=42
width=36
height=32
layer=easy_request_layer
graphic="aif_pop_exp_cargo_icons_34x34,2"
colour=0xffffff
clickmask=no

// 632:33
[easy_animal_trait_icon]
type=graphic
x=481
y=82
width=36
height=32
layer=easy_request_layer
hide=yes
graphic=farming_icon_guild_request_trait
colour=0xffffff
clickmask=no

// 632:34
[easy_animal_text]
type=text
x=521
y=42
width=253
height=32
layer=easy_request_layer
textfont=museo_sans_11pt_regular_multiline
text=A green chinchompa
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 632:35
[med_title]
type=text
x=13
width=169
height=24
layer=med_request_layer
textfont=museo_sans_13pt_bold
text=Medium Requests
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 632:36
[med_complete_status]
type=text
x=286
width=487
height=24
layer=med_request_layer
textfont=museo_sans_13pt_bold
text=Requested items, still to be gathered
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:37
[med_npc_chathead_layer]
type=layer
x=10
y=27
width=64
height=64
layer=med_request_layer

// 632:38
[med_npc_chathead]
type=model
widthmode=minus
heightmode=minus
layer=med_npc_chathead_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3200
modelobjwidth=64
modelobjheight=64

// 632:39
[med_request_state]
type=graphic
x=26
width=32
height=32
ymode=abs_bottom
layer=med_request_layer
graphic="farming_icon_guild_request_complete,0"
colour=0xffffff
clickmask=no

// 632:40
[med_request_refresh_icon]
type=graphic
x=81
y=44
width=36
height=32
layer=med_request_layer
graphic=farming_icon_guild_request_refresh
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Time remaining to complete the request.", event_com, -1)
onclick=script7774("Time remaining to complete the request.", event_com, -1, 0)

// 632:41
[med_request_npc_name]
type=text
x=81
y=25
width=160
height=16
layer=med_request_layer
textfont=museo_sans_11pt_regular
text=NPC Name
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:42
[med_refresh_time]
type=text
x=124
y=49
width=160
height=24
layer=med_request_layer
textfont=museo_sans_11pt_regular
text=13hrs : 25mins
textalignv=1
textshadow=yes

// 632:43
[med_reward_icon_bg]
type=graphic
x=79
y=80
width=40
height=36
layer=med_request_layer
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 632:44
[med_reward_icon]
type=graphic
x=81
y=82
width=36
height=32
layer=med_request_layer
graphic="aif_pop_exp_cargo_icons_34x34,3"
colour=0xffffff
clickmask=no

// 632:45
[med_reward_text_header]
type=text
x=124
y=71
width=160
height=16
layer=med_request_layer
textfont=museo_sans_11pt_regular
text=Reward:
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:46
[med_reward_text]
type=text
x=124
y=83
width=160
height=32
layer=med_request_layer
textfont=museo_sans_11pt_regular_multiline
text=Potato Potato Seed x 50
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 632:47
[med_requested_text]
type=text
x=286
y=25
width=141
height=16
layer=med_request_layer
textfont=museo_sans_11pt_regular
text=Requested:
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:48
[med_seed_icon_bg]
type=graphic
x=286
y=40
width=40
height=36
layer=med_request_layer
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 632:49
[med_seeds_icon]
type=graphic
x=288
y=42
width=36
height=32
layer=med_request_layer
graphic="aif_pop_exp_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 632:50
[med_seed_desc]
type=text
x=328
y=42
width=155
height=32
layer=med_request_layer
textfont=museo_sans_11pt_regular
text=Potato Potato Seed x 50
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 632:51
[med_produce_icon_bg]
type=graphic
x=286
y=80
width=40
height=36
layer=med_request_layer
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 632:52
[med_produce_icon]
type=graphic
x=288
y=82
width=36
height=32
layer=med_request_layer
graphic="aif_pop_exp_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 632:53
[med_produce_desc]
type=text
x=328
y=82
width=155
height=32
layer=med_request_layer
textfont=museo_sans_11pt_regular
text=Potato Potato Potato x 50
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 632:54
[med_requested_animal_text]
type=text
x=479
y=25
width=251
height=16
layer=med_request_layer
textfont=museo_sans_11pt_regular
text=One of the following animals:
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:55
[med_animal_icon_bg]
type=graphic
x=479
y=40
width=40
height=36
layer=med_request_layer
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 632:56
[med_animal_icon]
type=graphic
x=481
y=42
width=36
height=32
layer=med_request_layer
graphic="aif_pop_exp_cargo_icons_34x34,2"
colour=0xffffff
clickmask=no

// 632:57
[med_animal_trait_icon]
type=graphic
x=481
y=82
width=36
height=32
layer=med_request_layer
hide=yes
graphic=farming_icon_guild_request_trait
colour=0xffffff
clickmask=no

// 632:58
[med_animal_text]
type=text
x=521
y=42
width=253
height=32
layer=med_request_layer
textfont=museo_sans_11pt_regular_multiline
text=A green chinchompa
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 632:59
[hard_title]
type=text
x=13
width=169
height=24
layer=hard_request_layer
textfont=museo_sans_13pt_bold
text=Hard Requests
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 632:60
[hard_complete_status]
type=text
x=286
width=487
height=24
layer=hard_request_layer
textfont=museo_sans_13pt_bold
text=Requested items, still to be gathered
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:61
[hard_npc_chathead_layer]
type=layer
x=10
y=27
width=64
height=64
layer=hard_request_layer

// 632:62
[hard_npc_chathead]
type=model
widthmode=minus
heightmode=minus
layer=hard_npc_chathead_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3200
modelobjwidth=64
modelobjheight=64

// 632:63
[hard_request_state]
type=graphic
x=26
width=32
height=32
ymode=abs_bottom
layer=hard_request_layer
graphic="farming_icon_guild_request_complete,0"
colour=0xffffff
clickmask=no

// 632:64
[hard_request_refresh_icon]
type=graphic
x=81
y=44
width=36
height=32
layer=hard_request_layer
graphic=farming_icon_guild_request_refresh
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Time remaining to complete the request.", event_com, -1)
onclick=script7774("Time remaining to complete the request.", event_com, -1, 0)

// 632:65
[hard_request_npc_name]
type=text
x=81
y=25
width=160
height=16
layer=hard_request_layer
textfont=museo_sans_11pt_regular
text=NPC Name
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:66
[hard_refresh_time]
type=text
x=124
y=49
width=160
height=24
layer=hard_request_layer
textfont=museo_sans_11pt_regular
text=13hrs : 25mins
textalignv=1
textshadow=yes

// 632:67
[hard_reward_icon_bg]
type=graphic
x=79
y=80
width=40
height=36
layer=hard_request_layer
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 632:68
[hard_reward_icon]
type=graphic
x=81
y=82
width=36
height=32
layer=hard_request_layer
graphic="aif_pop_exp_cargo_icons_34x34,3"
colour=0xffffff
clickmask=no

// 632:69
[hard_reward_text_header]
type=text
x=124
y=71
width=160
height=16
layer=hard_request_layer
textfont=museo_sans_11pt_regular
text=Reward:
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:70
[hard_reward_text]
type=text
x=124
y=83
width=160
height=32
layer=hard_request_layer
textfont=museo_sans_11pt_regular_multiline
text=Potato Potato Seed x 50
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 632:71
[hard_requested_text]
type=text
x=286
y=25
width=141
height=16
layer=hard_request_layer
textfont=museo_sans_11pt_regular
text=Requested:
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:72
[hard_seed_icon_bg]
type=graphic
x=286
y=40
width=40
height=36
layer=hard_request_layer
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 632:73
[hard_seeds_icon]
type=graphic
x=288
y=42
width=36
height=32
layer=hard_request_layer
graphic="aif_pop_exp_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 632:74
[hard_seed_desc]
type=text
x=328
y=42
width=155
height=32
layer=hard_request_layer
textfont=museo_sans_11pt_regular
text=Potato Potato Seed x 50
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 632:75
[hard_produce_icon_bg]
type=graphic
x=286
y=80
width=40
height=36
layer=hard_request_layer
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 632:76
[hard_produce_icon]
type=graphic
x=288
y=82
width=36
height=32
layer=hard_request_layer
graphic="aif_pop_exp_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 632:77
[hard_produce_desc]
type=text
x=328
y=82
width=155
height=32
layer=hard_request_layer
textfont=museo_sans_11pt_regular
text=Potato Potato Potato x 50
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 632:78
[hard_requested_animal_text]
type=text
x=479
y=25
width=251
height=16
layer=hard_request_layer
textfont=museo_sans_11pt_regular
text=One of the following animals:
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 2)

// 632:79
[hard_animal_icon_bg]
type=graphic
x=479
y=40
width=40
height=36
layer=hard_request_layer
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 632:80
[hard_animal_icon]
type=graphic
x=481
y=42
width=36
height=32
layer=hard_request_layer
graphic="aif_pop_exp_cargo_icons_34x34,2"
colour=0xffffff
clickmask=no

// 632:81
[hard_animal_text]
type=text
x=521
y=41
width=253
height=32
layer=hard_request_layer
textfont=museo_sans_11pt_regular_multiline
text=A green chinchompa
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

