// 924:0
[schedule_button_layer]
type=layer
x=10
y=10
width=200
height=27
xmode=abs_right
ymode=abs_bottom
layer=frame_window_content_layer

// 924:1
[frame_window_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 924:2
[history_button_layer]
type=layer
x=10
y=10
width=200
height=27
ymode=abs_bottom
layer=frame_window_content_layer

// 924:3
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer
onload=script8420(fishcomp_reward_tackle_box:mainmodal_window_background, fishcomp_reward_tackle_box:mainmodal_window_border, fishcomp_reward_tackle_box:mainmodal_window_content, fishcomp_reward_tackle_box:mainmodal_window_close_button, "Tackle Box", 21218, string_1007)

// 924:4
[bkg_layer]
type=layer
y=7
width=400
height=140
xmode=abs_centre
layer=frame_window_content_layer
transmitop10=yes
op10=  

// 924:5
[tools_title_text]
type=text
y=3
width=220
height=20
layer=bkg_layer
textfont=museo_sans_13pt_bold
text=Tools
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=    

// 924:6
[tool_slot_1_bkg]
type=graphic
y=25
width=40
height=40
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
clickmask=no
transmitop10=yes
opbase=weaponslot
op10= 

// 924:7
[tool_1_blackout]
type=graphic
y=25
width=40
height=40
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:8
[tool_slot_2_bkg]
type=graphic
x=45
y=25
width=40
height=40
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
clickmask=no
transmitop10=yes
opbase=weaponslot
op10=  

// 924:9
[tool_2_blackout]
type=graphic
x=45
y=25
width=40
height=40
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:10
[tool_slot_3_bkg]
type=graphic
x=90
y=25
width=40
height=40
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
clickmask=no
transmitop10=yes
opbase=weaponslot
op10=  

// 924:11
[tool_3_blackout]
type=graphic
x=90
y=25
width=40
height=40
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:12
[tool_slot_4_bkg]
type=graphic
x=135
y=25
width=40
height=40
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
clickmask=no
transmitop10=yes
opbase=weaponslot
op10=  

// 924:13
[tool_4_blackout]
type=graphic
x=135
y=25
width=40
height=40
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:14
[tool_slot_5_bkg]
type=graphic
x=180
y=25
width=40
height=40
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
clickmask=no
transmitop10=yes
opbase=weaponslot
op10=  

// 924:15
[tool_5_blackout]
type=graphic
x=180
y=25
width=40
height=40
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:16
[bait_title_text]
type=text
y=3
width=130
height=20
xmode=abs_right
layer=bkg_layer
textfont=museo_sans_13pt_bold
text=Bait
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=     

// 924:17
[bait_slot_1_bkg]
type=graphic
x=90
y=25
width=40
height=40
xmode=abs_right
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
clickmask=no
transmitop10=yes
opbase=weaponslot
op10=  

// 924:18
[bait_1_blackout]
type=graphic
x=90
y=25
width=40
height=40
xmode=abs_right
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:19
[bait_slot_2_bkg]
type=graphic
x=45
y=25
width=40
height=40
xmode=abs_right
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
clickmask=no
transmitop10=yes
opbase=weaponslot
op10=   

// 924:20
[bait_2_blackout]
type=graphic
x=45
y=25
width=40
height=40
xmode=abs_right
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:21
[bait_slot_3_bkg]
type=graphic
y=25
width=40
height=40
xmode=abs_right
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
clickmask=no
transmitop10=yes
opbase=weaponslot
op10=   

// 924:22
[bait_3_blackout]
type=graphic
y=25
width=40
height=40
xmode=abs_right
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:23
[gloves_title_text]
type=text
y=43
width=85
height=20
ymode=abs_bottom
layer=bkg_layer
textfont=museo_sans_13pt_bold
text=Gloves
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=      

// 924:24
[gloves_slot_1_bkg]
type=graphic
width=40
height=40
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
clickmask=no
transmitop10=yes
opbase=weaponslot
op10=  

// 924:25
[gloves_1_blackout]
type=graphic
width=40
height=40
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:26
[gloves_slot_2_bkg]
type=graphic
x=45
width=40
height=40
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
clickmask=no
transmitop10=yes
opbase=weaponslot
op10=   

// 924:27
[gloves_2_blackout]
type=graphic
x=45
width=40
height=40
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:28
[fish_title_text]
type=text
x=106
y=43
width=99
height=20
ymode=abs_bottom
layer=bkg_layer
textfont=museo_sans_13pt_bold
text=Fish
textalignh=1
textalignv=1
textshadow=yes

// 924:29
[fish_slot_1_bkg]
type=graphic
x=135
width=40
height=40
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
colour=0xffffff
clickmask=no
opbase=weaponslot

// 924:30
[fish_1_blackout]
type=graphic
x=135
width=40
height=40
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:31
[outfit_title_text]
type=text
y=43
width=175
height=20
xmode=abs_right
ymode=abs_bottom
layer=bkg_layer
textfont=museo_sans_13pt_bold
text=Outfit
textalignh=1
textalignv=1
textshadow=yes

// 924:32
[outfit_slot_hat_bkg]
type=graphic
x=135
width=40
height=40
xmode=abs_right
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
colour=0xffffff
clickmask=no
opbase=weaponslot

// 924:33
[outfit_hat_blackout]
type=graphic
x=135
width=40
height=40
xmode=abs_right
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:34
[outfit_slot_body_bkg]
type=graphic
x=90
width=40
height=40
xmode=abs_right
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
colour=0xffffff
clickmask=no
opbase=weaponslot

// 924:35
[outfit_body_blackout]
type=graphic
x=90
width=40
height=40
xmode=abs_right
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:36
[outfit_slot_legs_bkg]
type=graphic
x=45
width=40
height=40
xmode=abs_right
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
colour=0xffffff
clickmask=no
opbase=weaponslot

// 924:37
[outfit_legs_blackout]
type=graphic
x=45
width=40
height=40
xmode=abs_right
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:38
[outfit_slot_boots_bkg]
type=graphic
width=40
height=40
xmode=abs_right
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,0"
colour=0xffffff
clickmask=no
opbase=weaponslot

// 924:39
[outfit_boots_blackout]
type=graphic
width=40
height=40
xmode=abs_right
ymode=abs_bottom
layer=bkg_layer
graphic="aif_worn_bnt_2,2"
colour=0xffffff
clickmask=no

// 924:40
[main_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion

// 924:41
[render_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=bkg_layer
transmitop10=yes
op10= 

// 924:42
[telebank_text]
type=text
y=71
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=frame_window_content_layer
textfont=museo_sans_15pt_regular
text=You have teleported <>/<> raw fish to your bank today
textalignh=1
textalignv=1
textshadow=yes

// 924:43
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 924:44
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 924:45
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 924:46
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 924:47
[history_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=history_button_layer
onload=script7062(event_com)

// 924:48
[history_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=history_button_layer
onload=script7063(event_com)

// 924:49
[history_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=history_button_layer
onload=script7065(event_com)

// 924:50
[history_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=history_button_layer
hide=yes
onload=script7068(event_com)

// 924:51
[history_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=history_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 924:52
[history_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=history_button_layer
hide=yes
onload=script7074(event_com)

// 924:53
[history_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=history_button_layer

// 924:54
[history_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=history_button_text_layer
textfont=cinzel_13pt_bold
text=Show History
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 924:55
[schedule_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=schedule_button_layer
onload=script7062(event_com)

// 924:56
[schedule_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=schedule_button_layer
onload=script7063(event_com)

// 924:57
[schedule_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=schedule_button_layer
onload=script7065(event_com)

// 924:58
[schedule_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=schedule_button_layer
hide=yes
onload=script7068(event_com)

// 924:59
[schedule_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=schedule_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 924:60
[schedule_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=schedule_button_layer
hide=yes
onload=script7074(event_com)

// 924:61
[schedule_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=schedule_button_layer

// 924:62
[schedule_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=schedule_button_text_layer
textfont=cinzel_13pt_bold
text=Check Schedule
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

