// 921:0
[personal_best_title_txt]
type=text
x=130
y=5
width=7274
height=24
widthmode=proportion
xmode=abs_centre
layer=gold_window_content_layer
textfont=museo_sans_15pt_regular
text=Personal Bests
textalignh=1
textalignv=1
textshadow=yes
colour=0xf4b241
onload=script10496(event_com, event_comsubid, 0)

// 921:1
[this_competition_title_txt]
type=text
x=-126
y=5
width=7274
height=24
widthmode=proportion
xmode=abs_centre
layer=gold_window_content_layer
textfont=museo_sans_15pt_regular
text=Career Totals
textalignh=1
textalignv=1
textshadow=yes
colour=0xf4b241
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 0)

// 921:2
[gold_window_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 921:3
[competitions_info_display_blue_divided_layer]
type=layer
x=1
y=24
width=16384
height=28
widthmode=proportion
layer=this_competition_layer

// 921:4
[awards_info_display_blue_divided_layer]
type=layer
x=1
y=57
width=16391
height=28
widthmode=proportion
layer=this_competition_layer

// 921:5
[medals_info_display_blue_divided_layer]
type=layer
x=1
y=90
width=16391
height=28
widthmode=proportion
layer=this_competition_layer

// 921:6
[com_6]
type=rectangle
width=4
height=30
widthmode=minus
layer=competitions_info_display_blue_divided_layer
colour=0x15222a
fill=yes
onload=script10496(event_com, event_comsubid, 9)

// 921:7
[rating_info_display_blue_divided_layer]
type=layer
x=1
y=123
width=16384
height=28
widthmode=proportion
layer=this_competition_layer

// 921:8
[com_8]
type=rectangle
width=4
height=30
widthmode=minus
layer=rating_info_display_blue_divided_layer
colour=0x15222a
fill=yes
onload=script10496(event_com, event_comsubid, 9)

// 921:9
[com_9]
type=rectangle
width=4
height=30
widthmode=minus
layer=medals_info_display_blue_divided_layer
colour=0x15222a
fill=yes
onload=script10496(event_com, event_comsubid, 9)

// 921:10
[this_competition_layer]
type=layer
x=10
y=10
width=220
height=152
layer=gold_window_content_layer

// 921:11
[personal_best_layer]
type=layer
x=10
y=10
width=220
height=152
xmode=abs_right
layer=gold_window_content_layer

// 921:12
[tickets]
type=text
x=10
y=10
width=210
height=20
ymode=abs_bottom
layer=gold_window_content_layer
textfont=museo_sans_13pt_regular
text=Tickets: 15
textalignv=1
textshadow=yes
colour=0xf4b241

// 921:13
[claim]
type=text
x=10
y=10
width=210
height=20
xmode=abs_right
ymode=abs_bottom
layer=gold_window_content_layer
hide=yes
textfont=museo_sans_13pt_regular
text=Claim: 2 tickets every 2 days
textalignh=2
textalignv=1
textshadow=yes
colour=0xf4b241

// 921:14
[tooltip_bounds]
type=layer
x=5
y=13
width=99
height=52
layer=gold_window_content_layer

// 921:15
[com_15]
type=rectangle
width=4
height=30
widthmode=minus
layer=awards_info_display_blue_divided_layer
colour=0x15222a
fill=yes
onload=script10496(event_com, event_comsubid, 9)

// 921:16
[career_competitions_title_txt]
type=text
x=3
width=137
heightmode=minus
layer=competitions_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=Competitions
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1
transmitop10=yes
op10= 

// 921:17
[career_competitions_txt]
type=text
width=81
heightmode=minus
xmode=abs_right
layer=competitions_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1
transmitop10=yes
op10= 

// 921:18
[career_average_rating_title_txt]
type=text
x=3
width=137
heightmode=minus
layer=rating_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=Average rating
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1
transmitop10=yes
op10= 

// 921:19
[career_average_rating_txt]
type=text
width=81
heightmode=minus
xmode=abs_right
layer=rating_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1
transmitop10=yes
op10= 

// 921:20
[career_total_medals_title_txt]
type=text
x=3
width=137
heightmode=minus
layer=medals_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=Medals
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1
transmitop10=yes
op10=  

// 921:21
[career_medals_txt]
type=text
width=81
heightmode=minus
xmode=abs_right
layer=medals_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1
transmitop10=yes
op10=  

// 921:22
[career_total_awards_title_txt]
type=text
x=3
width=137
heightmode=minus
layer=awards_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=Best results
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1
transmitop10=yes
op10=   

// 921:23
[career_awards_txt]
type=text
width=81
heightmode=minus
xmode=abs_right
layer=awards_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1
transmitop10=yes
op10=  

// 921:24
[total_fish_info_display_blue_divided_layer]
type=layer
x=1
y=24
width=16384
height=28
widthmode=proportion
layer=personal_best_layer

// 921:25
[com_25]
type=rectangle
width=4
height=30
widthmode=minus
layer=total_fish_info_display_blue_divided_layer
colour=0x15222a
fill=yes
onload=script10496(event_com, event_comsubid, 9)

// 921:26
[pb_total_fish_title_txt]
type=text
x=3
width=137
heightmode=minus
layer=total_fish_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=Total fish
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1

// 921:27
[pb_total_fish_txt]
type=text
width=81
heightmode=minus
xmode=abs_right
layer=total_fish_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1

// 921:28
[total_assists_info_display_blue_divided_layer]
type=layer
x=1
y=57
width=16384
height=28
widthmode=proportion
layer=personal_best_layer

// 921:29
[total_weight_info_display_blue_divided_layer]
type=layer
x=1
y=90
width=16391
height=28
widthmode=proportion
layer=personal_best_layer

// 921:30
[com_30]
type=rectangle
width=4
height=30
widthmode=minus
layer=total_assists_info_display_blue_divided_layer
colour=0x15222a
fill=yes
onload=script10496(event_com, event_comsubid, 9)

// 921:31
[pb_total_assists_title_txt]
type=text
x=3
width=137
heightmode=minus
layer=total_assists_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=Total assists
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1

// 921:32
[pb_total_assists_txt]
type=text
width=81
heightmode=minus
xmode=abs_right
layer=total_assists_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1

// 921:33
[heaviest_fish_info_display_blue_divided_layer]
type=layer
x=1
y=123
width=16384
height=28
widthmode=proportion
layer=personal_best_layer

// 921:34
[com_34]
type=rectangle
width=4
height=30
widthmode=minus
layer=heaviest_fish_info_display_blue_divided_layer
colour=0x15222a
fill=yes
onload=script10496(event_com, event_comsubid, 9)

// 921:35
[pb_heaviest_fish_title_txt]
type=text
x=3
width=137
heightmode=minus
layer=heaviest_fish_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=Heaviest fish
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1

// 921:36
[pb_heaviest_fish_txt]
type=text
width=81
heightmode=minus
xmode=abs_right
layer=heaviest_fish_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1

// 921:37
[com_37]
type=rectangle
width=4
height=30
widthmode=minus
layer=total_weight_info_display_blue_divided_layer
colour=0x15222a
fill=yes
onload=script10496(event_com, event_comsubid, 9)

// 921:38
[pb_total_weight_title_txt]
type=text
x=3
width=137
heightmode=minus
layer=total_weight_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=Total weight
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1

// 921:39
[pb_total_weight_txt]
type=text
width=81
heightmode=minus
xmode=abs_right
layer=total_weight_info_display_blue_divided_layer
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xeed8b1

// 921:40
[tooltip_layer]
type=layer
width=512
height=334
layer=tooltip_bounds

// 921:41
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(fishcomp_score_history:mainmodal_window_background, fishcomp_score_history:mainmodal_window_border, fishcomp_score_history:mainmodal_window_content, fishcomp_score_history:mainmodal_window_close_button, "Fish Flingers Score History", 21218, string_1007)

// 921:42
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 921:43
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 921:44
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 921:45
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

