// 923:0
[hook_model_standard_layer]
type=layer
x=-40
y=6
width=38
height=45
xmode=abs_centre
layer=hook_model_layer

// 923:1
[hook_standard_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hook_model_standard_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:2
[hook_model_slim_layer]
type=layer
y=6
width=38
height=45
xmode=abs_centre
layer=hook_model_layer

// 923:3
[hook_slim_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hook_model_slim_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:4
[hook_model_large_layer]
type=layer
x=40
y=6
width=38
height=45
xmode=abs_centre
layer=hook_model_layer

// 923:5
[hook_large_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hook_model_large_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:6
[hook_model_double_layer]
type=layer
x=-40
y=57
width=38
height=45
xmode=abs_centre
layer=hook_model_layer

// 923:7
[hook_double_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hook_model_double_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:8
[hook_model_bone_layer]
type=layer
y=57
width=38
height=45
xmode=abs_centre
layer=hook_model_layer

// 923:9
[hook_bone_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hook_model_bone_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:10
[hook_model_wood_layer]
type=layer
x=40
y=57
width=38
height=45
xmode=abs_centre
layer=hook_model_layer

// 923:11
[hook_wood_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hook_model_wood_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:12
[bait_model_worm_layer]
type=layer
x=-63
y=8
width=32
height=32
xmode=abs_centre
layer=bait_model_layer

// 923:13
[bait_worm_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bait_model_worm_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:14
[bait_model_maggot_layer]
type=layer
x=-23
y=8
width=32
height=32
xmode=abs_centre
layer=bait_model_layer

// 923:15
[bait_maggot_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bait_model_maggot_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:16
[bait_model_locust_layer]
type=layer
x=17
y=8
width=32
height=32
xmode=abs_centre
layer=bait_model_layer

// 923:17
[bait_locust_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bait_model_locust_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:18
[bait_model_cricket_layer]
type=layer
x=55
y=8
width=32
height=32
xmode=abs_centre
layer=bait_model_layer

// 923:19
[bait_cricket_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bait_model_cricket_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:20
[bait_model_cray_layer]
type=layer
x=-64
y=46
width=32
height=32
xmode=abs_centre
layer=bait_model_layer

// 923:21
[bait_cray_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bait_model_cray_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:22
[bait_model_shrimp_layer]
type=layer
x=-24
y=46
width=32
height=32
xmode=abs_centre
layer=bait_model_layer

// 923:23
[bait_shrimp_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bait_model_shrimp_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:24
[bait_model_green_moth_layer]
type=layer
x=16
y=46
width=32
height=32
xmode=abs_centre
layer=bait_model_layer

// 923:25
[bait_green_moth_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bait_model_green_moth_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:26
[bait_model_grey_moth_layer]
type=layer
x=56
y=46
width=32
height=32
xmode=abs_centre
layer=bait_model_layer

// 923:27
[bait_moth_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bait_model_grey_moth_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:28
[weight_large]
type=model
width=25
height=24
xmode=abs_centre
ymode=abs_centre
layer=weights_model_large_layer
model=fishcomp_weight_large
modelorigin_x=0
modelorigin_y=11
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1300

// 923:29
[weight_medium]
type=model
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=weights_model_medium_layer
model=fishcomp_weight_mid
modelorigin_x=0
modelorigin_y=9
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1300
transmitop10=yes
op10= 

// 923:30
[weight_small]
type=model
width=11
height=12
xmode=abs_centre
ymode=abs_centre
layer=weights_model_small_layer
model=fishcomp_weight_small
modelorigin_x=0
modelorigin_y=5
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1300
transmitop10=yes
op10= 

// 923:31
[bait_model_8]
type=graphic
x=2
y=2
width=4
height=4
widthmode=minus
heightmode=minus
layer=bait_model_grey_moth_layer
outline=1
clickmask=no
transmitop10=yes
op10= 

// 923:32
[bait_model_7]
type=graphic
x=2
y=2
width=4
height=4
widthmode=minus
heightmode=minus
layer=bait_model_green_moth_layer
outline=1
clickmask=no
transmitop10=yes
op10= 

// 923:33
[bait_model_6]
type=graphic
x=2
y=2
width=4
height=4
widthmode=minus
heightmode=minus
layer=bait_model_shrimp_layer
outline=1
clickmask=no
transmitop10=yes
op10= 

// 923:34
[bait_model_5]
type=graphic
x=2
y=2
width=4
height=4
widthmode=minus
heightmode=minus
layer=bait_model_cray_layer
outline=1
clickmask=no
transmitop10=yes
op10= 

// 923:35
[bait_model_4]
type=graphic
x=2
y=2
width=4
height=4
widthmode=minus
heightmode=minus
layer=bait_model_cricket_layer
outline=1
clickmask=no
transmitop10=yes
op10= 

// 923:36
[bait_model_3]
type=graphic
x=2
y=2
width=4
height=4
widthmode=minus
heightmode=minus
layer=bait_model_locust_layer
outline=1
clickmask=no
transmitop10=yes
op10= 

// 923:37
[bait_model_2]
type=graphic
x=2
y=2
width=4
height=4
widthmode=minus
heightmode=minus
layer=bait_model_maggot_layer
outline=1
clickmask=no
transmitop10=yes
op10= 

// 923:38
[bait_model_1]
type=graphic
x=2
y=2
width=4
height=4
widthmode=minus
heightmode=minus
layer=bait_model_worm_layer
outline=1
clickmask=no

// 923:39
[weight_small_layer]
type=layer
y=4
width=30
height=30
xmode=abs_centre
layer=weights_model_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:40
[weight_med_layer]
type=layer
y=40
width=30
height=30
xmode=abs_centre
layer=weights_model_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:41
[weight_large_layer]
type=layer
y=79
width=30
height=30
xmode=abs_centre
layer=weights_model_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 923:42
[weights_model_small_layer]
type=layer
y=4
width=30
height=30
xmode=abs_centre
layer=weights_model_layer

// 923:43
[selected_weights_small_txt]
type=text
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=weights_model_small_layer
textfont=museo_sans_13pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 923:44
[weights_model_medium_layer]
type=layer
y=40
width=30
height=30
xmode=abs_centre
layer=weights_model_layer

// 923:45
[selected_weights_medium_txt]
type=text
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=weights_model_medium_layer
textfont=museo_sans_13pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 923:46
[weights_model_large_layer]
type=layer
y=79
width=30
height=30
xmode=abs_centre
layer=weights_model_layer

// 923:47
[selected_weights_large_txt]
type=text
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=weights_model_large_layer
textfont=museo_sans_13pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 923:48
[weights_heading_txt]
type=text
width=16391
height=15
widthmode=proportion
layer=weights_layer
textfont=museo_sans_11pt_regular
text=Weights:
textalignh=1
textshadow=yes
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 0)

// 923:49
[weights_model_layer]
type=layer
y=15
height=15
widthmode=minus
heightmode=minus
layer=weights_layer

// 923:50
[hook_model_wood1]
type=model
x=1
y=2
width=26
height=34
xmode=abs_centre
ymode=abs_centre
layer=hook_model_wood_layer
model=fishcomp_hook_wooden
modelorigin_x=-12
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100
transmitop10=yes
op10= 

// 923:51
[hook_model_wood2]
type=model
x=2
y=3
width=26
height=34
xmode=abs_centre
ymode=abs_centre
layer=hook_model_wood_layer
model=fishcomp_hook_wooden
modelorigin_x=-12
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100
transmitop10=yes
op10=  

// 923:52
[hook_model_wood3]
type=model
x=1
y=3
width=26
height=34
xmode=abs_centre
ymode=abs_centre
layer=hook_model_wood_layer
model=fishcomp_hook_wooden
modelorigin_x=-12
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100

// 923:53
[hook_model_bone1]
type=model
y=1
width=26
height=34
xmode=abs_centre
ymode=abs_centre
layer=hook_model_bone_layer
model=fishcomp_hook_ogre_bone
modelorigin_x=-12
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100
transmitop10=yes
op10= 

// 923:54
[hook_model_bone2]
type=model
x=1
y=2
width=26
height=34
xmode=abs_centre
ymode=abs_centre
layer=hook_model_bone_layer
model=fishcomp_hook_ogre_bone
modelorigin_x=-12
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100
transmitop10=yes
op10=  

// 923:55
[hook_model_bone3]
type=model
y=2
width=26
height=34
xmode=abs_centre
ymode=abs_centre
layer=hook_model_bone_layer
model=fishcomp_hook_ogre_bone
modelorigin_x=-12
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100

// 923:56
[hook_model_double1]
type=model
x=-2
y=2
width=29
height=36
xmode=abs_centre
ymode=abs_centre
layer=hook_model_double_layer
model=fishcomp_hook_double
modelorigin_x=-10
modelorigin_y=15
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100
transmitop10=yes
op10= 

// 923:57
[hook_model_double2]
type=model
x=-1
y=3
width=29
height=36
xmode=abs_centre
ymode=abs_centre
layer=hook_model_double_layer
model=fishcomp_hook_double
modelorigin_x=-10
modelorigin_y=15
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100
transmitop10=yes
op10=  

// 923:58
[hook_model_double3]
type=model
x=-2
y=3
width=29
height=36
xmode=abs_centre
ymode=abs_centre
layer=hook_model_double_layer
model=fishcomp_hook_double
modelorigin_x=-10
modelorigin_y=15
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100

// 923:59
[hook_model_large1]
type=model
x=2
y=2
width=29
height=35
xmode=abs_centre
ymode=abs_centre
layer=hook_model_large_layer
model=fishcomp_hook_large
modelorigin_x=-11
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100
transmitop10=yes
op10= 

// 923:60
[hook_model_large2]
type=model
x=3
y=3
width=29
height=35
xmode=abs_centre
ymode=abs_centre
layer=hook_model_large_layer
model=fishcomp_hook_large
modelorigin_x=-11
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100
transmitop10=yes
op10=  

// 923:61
[hook_model_standard1]
type=model
x=-1
y=1
width=26
height=33
xmode=abs_centre
ymode=abs_centre
layer=hook_model_standard_layer
model=fishcomp_hook_standard
modelorigin_x=-13
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100
transmitop10=yes
op10= 

// 923:62
[hook_model_standard2]
type=model
y=2
width=26
height=33
xmode=abs_centre
ymode=abs_centre
layer=hook_model_standard_layer
model=fishcomp_hook_standard
modelorigin_x=-13
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100
transmitop10=yes
op10=  

// 923:63
[hook_model_standard3]
type=model
x=-1
y=2
width=26
height=33
xmode=abs_centre
ymode=abs_centre
layer=hook_model_standard_layer
model=fishcomp_hook_standard
modelorigin_x=-13
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100

// 923:64
[hook_model_slim1]
type=model
y=1
width=26
height=34
xmode=abs_centre
ymode=abs_centre
layer=hook_model_slim_layer
model=fishcomp_hook_slim
modelorigin_x=-12
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100
transmitop10=yes
op10= 

// 923:65
[hook_model_slim2]
type=model
x=-1
y=1
width=26
height=34
xmode=abs_centre
ymode=abs_centre
layer=hook_model_slim_layer
model=fishcomp_hook_slim
modelorigin_x=-12
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100
transmitop10=yes
op10= 

// 923:66
[hook_model_slim3]
type=model
y=2
width=26
height=34
xmode=abs_centre
ymode=abs_centre
layer=hook_model_slim_layer
model=fishcomp_hook_slim
modelorigin_x=-12
modelorigin_y=16
modelangle_x=250
modelangle_y=1831
modelangle_z=1820
modelzoom=2100

// 923:67
[hook_heading_txt]
type=text
height=15
widthmode=minus
layer=hook_layer
textfont=museo_sans_11pt_regular
text=Hook: Standard
textalignh=1
textshadow=yes
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 0)

// 923:68
[hook_model_layer]
type=layer
y=15
height=15
widthmode=minus
heightmode=minus
layer=hook_layer

// 923:69
[bait_layer]
type=layer
height=102
widthmode=minus
layer=content_layer

// 923:70
[hook_layer]
type=layer
y=105
width=80
height=130
widthmode=minus
layer=content_layer

// 923:71
[weights_layer]
type=layer
y=105
width=77
height=130
xmode=abs_right
layer=content_layer

// 923:72
[cast_button_layer]
type=layer
x=5
y=5
width=90
height=24
ymode=abs_bottom
layer=content_layer

// 923:73
[cast_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=cast_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Cast")
onmouserepeat=script8799("Fish with the bait, hook and weights you have selected.", event_com, event_comsubid)

// 923:74
[clear_line_button_layer]
type=layer
x=5
y=5
width=90
height=24
xmode=abs_right
ymode=abs_bottom
layer=content_layer

// 923:75
[clear_line_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=clear_line_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Clear line")
onmouserepeat=script8799("Clear all selected tackle from your line and stop fishing.", event_com, event_comsubid)

// 923:76
[bait_heading_txt]
type=text
y=5
height=15
widthmode=minus
layer=bait_layer
textfont=museo_sans_11pt_regular
text=Bait: Green Moth
textalignh=1
textshadow=yes
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 0)

// 923:77
[bait_model_layer]
type=layer
y=20
height=15
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=bait_layer

// 923:78
[main_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
onload=fishcomp_side_load

// 923:79
[content_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=main_layer

