// 1767:0
[whip_button_layer]
type=layer
y=10
width=5
height=72
widthmode=minus
xmode=abs_centre
layer=universe_layer

// 1767:1
[barrage_button_layer]
type=layer
y=87
width=5
height=72
widthmode=minus
xmode=abs_centre
layer=universe_layer

// 1767:2
[universe_layer]
type=layer
width=217
height=364

// 1767:3
[dds_button_layer]
type=layer
y=164
width=5
height=72
widthmode=minus
xmode=abs_centre
layer=universe_layer

// 1767:4
[3x3_icon_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=whip_button_layer
onload=script1666(event_com, null)

// 1767:5
[3x3_icon_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=whip_button_layer
onload=script2317(event_com, null)

// 1767:6
[3x3_icon_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=whip_button_layer
onload=script2318(event_com, null)

// 1767:7
[whip_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=whip_button_layer
hide=yes
onload=script2678(event_com, null)

// 1767:8
[fm2_use_whip]
type=layer
widthmode=minus
heightmode=minus
layer=whip_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1767:9
[3x3_icon_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=whip_button_layer
hide=yes
onload=script5831(event_com, null)

// 1767:10
[3x3_icon_button_content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=whip_button_layer

// 1767:11
[com_11]
type=model
x=12
y=15
width=50
height=47
layer=3x3_icon_button_content_layer
model=skill_slayer_inv_abyssal_whip_2
modelorigin_x=-4
modelorigin_y=-1
modelangle_x=279
modelangle_y=0
modelangle_z=0
modelzoom=500

// 1767:12
[3x3_icon_button_text]
type=text
x=2
width=55
height=4
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=3x3_icon_button_content_layer
textfont=museo_sans_11pt_regular_multiline
text=Abyssal Whip
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1767:13
[3x3_icon_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barrage_button_layer
onload=script1666(event_com, null)

// 1767:14
[3x3_icon_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barrage_button_layer
onload=script2317(event_com, null)

// 1767:15
[3x3_icon_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barrage_button_layer
onload=script2318(event_com, null)

// 1767:16
[ice_barrage_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barrage_button_layer
hide=yes
onload=script2678(event_com, null)

// 1767:17
[fm2_use_barrage]
type=layer
widthmode=minus
heightmode=minus
layer=barrage_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1767:18
[fm2_ice_barrage_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barrage_button_layer
hide=yes
onload=script5831(event_com, null)

// 1767:19
[3x3_icon_button_content_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=barrage_button_layer

// 1767:20
[fm2_barrage_uses_left]
type=text
x=2
width=55
height=36
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=3x3_icon_button_content_layer_1
textfont=museo_sans_11pt_regular_multiline
text=Uses Left: 0
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onvartransmit=script12554(event_com)
onvartransmitlist=fm2_temp

// 1767:21
[com_21]
type=model
x=12
y=-67
width=45
height=141
layer=3x3_icon_button_content_layer_1
model=spells_ice_mag_barrage_travel_impact
modelorigin_x=0
modelorigin_y=64
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=2000

// 1767:22
[3x3_icon_button_text_1]
type=text
x=2
width=55
height=36
widthmode=minus
xmode=abs_right
layer=3x3_icon_button_content_layer_1
textfont=museo_sans_11pt_regular_multiline
text=Ice Barrage
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1767:23
[3x3_icon_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=dds_button_layer
onload=script1666(event_com, null)

// 1767:24
[3x3_icon_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=dds_button_layer
onload=script2317(event_com, null)

// 1767:25
[3x3_icon_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=dds_button_layer
onload=script2318(event_com, null)

// 1767:26
[dds_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=dds_button_layer
hide=yes
onload=script2678(event_com, null)

// 1767:27
[fm2_use_dds]
type=layer
widthmode=minus
heightmode=minus
layer=dds_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1767:28
[3x3_icon_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=dds_button_layer
hide=yes
onload=script5831(event_com, null)

// 1767:29
[3x3_icon_button_content_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=dds_button_layer

// 1767:30
[fm2_dds_uses_left]
type=text
x=2
width=55
height=36
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=3x3_icon_button_content_layer_2
textfont=museo_sans_11pt_regular_multiline
text=Special Attack Left : 100%
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onvartransmit=script12555(event_com)
onvartransmitlist=sa_energy

// 1767:31
[com_31]
type=model
x=19
y=-1
width=24
height=51
ymode=abs_centre
layer=3x3_icon_button_content_layer_2
model=inv_dragon_dagger
modelorigin_x=1
modelorigin_y=8
modelangle_x=472
modelangle_y=1276
modelangle_z=0
modelzoom=400

// 1767:32
[3x3_icon_button_text_2]
type=text
x=2
width=55
height=36
widthmode=minus
xmode=abs_right
layer=3x3_icon_button_content_layer_2
textfont=museo_sans_11pt_regular_multiline
text=Dragon Dagger
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

