// 1205:0
[left_arrow]
type=graphic
width=39
height=39
ymode=abs_centre
layer=button_layer
graphic="v2_book_arrows,3"
colour=0xffffff
clickmask=no
pausebutton=yes
pausetext=Previous page
onmouseover=script5595(fmc_symbol:pagenum_left)
onmouseleave=script5596(fmc_symbol:pagenum_left)
onclick=script5597(fmc_symbol:pagenum_left)
onrelease=script5596(fmc_symbol:pagenum_left)

// 1205:1
[right_arrow]
type=graphic
width=39
height=39
xmode=abs_right
ymode=abs_centre
layer=button_layer
graphic="v2_book_arrows,4"
colour=0xffffff
clickmask=no
pausebutton=yes
pausetext=Next page
onmouseover=script5595(fmc_symbol:pagenum_right)
onmouseleave=script5596(fmc_symbol:pagenum_right)
onclick=script5597(fmc_symbol:pagenum_right)
onrelease=script5596(fmc_symbol:pagenum_right)

// 1205:2
[pagenum_left]
type=text
x=45
width=90
height=20
ymode=abs_centre
layer=button_layer
textfont=q8_full
text=Previous
colour=0x46320a

// 1205:3
[pagenum_right]
type=text
x=45
width=90
height=20
xmode=abs_right
ymode=abs_centre
layer=button_layer
textfont=q8_full
text=Next
textalignh=2
colour=0x46320a

// 1205:4
[symbol]
type=graphic
width=165
height=210
xmode=abs_centre
ymode=abs_centre
layer=symbol_layer
graphic="aif_firemakers_curse_symbols_alpha,0"
colour=0xffffff
clickmask=no

// 1205:5
[scroll_fill]
type=graphic
width=64
height=64
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,4"
tiling=yes
colour=0xffffff
clickmask=no

// 1205:6
[scroll_n]
type=graphic
width=64
height=32
widthmode=minus
xmode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1205:7
[scroll_s]
type=graphic
width=64
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_read,7"
tiling=yes
colour=0xffffff
clickmask=no

// 1205:8
[scroll_1_nw]
type=graphic
width=32
height=32
layer=background_wrapper
graphic="rand_journal_read,0"
colour=0xffffff
clickmask=no

// 1205:9
[scroll_1_ne]
type=graphic
x=-16
width=32
height=32
xmode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,2"
colour=0xffffff
clickmask=no

// 1205:10
[scroll_1_sw]
type=graphic
width=32
height=32
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_read,6"
colour=0xffffff
clickmask=no

// 1205:11
[scroll_1_se]
type=graphic
x=-16
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_read,8"
colour=0xffffff
clickmask=no

// 1205:12
[scroll_1_w]
type=graphic
width=32
height=64
heightmode=minus
ymode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,3"
tiling=yes
colour=0xffffff
clickmask=no

// 1205:13
[scroll_1_e]
type=graphic
x=-16
width=32
height=64
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,5"
tiling=yes
colour=0xffffff
clickmask=no

// 1205:14
[scroll_2_se]
type=graphic
width=32
height=32
xmode=abs_right
layer=background_wrapper
graphic="rand_journal_read,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1205:15
[scroll_2_nw]
type=graphic
x=16
width=32
height=32
xmode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,2"
hflip=yes
colour=0xffffff
clickmask=no

// 1205:16
[scroll_2_ne]
type=graphic
width=32
height=32
xmode=abs_right
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_read,6"
hflip=yes
colour=0xffffff
clickmask=no

// 1205:17
[scroll_2_sw]
type=graphic
x=16
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_read,8"
hflip=yes
colour=0xffffff
clickmask=no

// 1205:18
[scroll_2_e]
type=graphic
width=32
height=64
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,3"
tiling=yes
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1205:19
[scroll_2_w]
type=graphic
x=16
width=32
height=64
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,5"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1205:20
[scroll_decal_1]
type=graphic
x=-17
y=7
width=20
height=70
xmode=abs_centre
layer=background_wrapper
graphic=rand_journal_decal_01
colour=0xffffff
clickmask=no

// 1205:21
[scroll_decal_2]
type=graphic
x=174
y=5
width=21
height=20
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_decals_02,0"
colour=0xffffff
clickmask=no

// 1205:22
[scroll_decal_3]
type=graphic
x=427
y=6
width=21
height=20
layer=background_wrapper
graphic="rand_journal_decals_02,1"
2dangle=49152
colour=0xffffff
clickmask=no

// 1205:23
[scroll_decal_4]
type=graphic
x=345
width=21
height=20
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_decals_02,2"
2dangle=49152
colour=0xffffff
clickmask=no

// 1205:24
[scroll_decal_5]
type=graphic
x=316
y=3
width=21
height=20
layer=background_wrapper
graphic="rand_journal_decals_02,3"
vflip=yes
colour=0xffffff
clickmask=no

// 1205:25
[scroll_2_alpha]
type=graphic
x=250
width=240
height=10
heightmode=minus
ymode=abs_centre
layer=background_wrapper
graphic=rand_journal_read_gradient_alpha
alpha=yes
colour=0xffffff
clickmask=no

// 1205:26
[scroll_1_alpha]
type=graphic
x=250
width=240
height=10
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=background_wrapper
graphic=rand_journal_read_gradient_alpha
alpha=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1205:27
[fmc_symbol]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(fmc_symbol:fmc_symbol_background, fmc_symbol:fmc_symbol_border, fmc_symbol:fmc_symbol_content, fmc_symbol:fmc_symbol_close_button, "Firemaking Guide", 21217, string_1007)

// 1205:28
[fmc_symbol_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=fmc_symbol

// 1205:29
[fmc_symbol_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=fmc_symbol

// 1205:30
[background_wrapper]
type=layer
width=496
height=286
layer=fmc_symbol_content

// 1205:31
[symbol_layer]
type=layer
x=250
y=5
width=241
height=275
layer=fmc_symbol_content

// 1205:32
[button_layer]
type=layer
y=5
width=55
height=40
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=fmc_symbol_content

// 1205:33
[fmc_symbol_border]
type=layer
widthmode=minus
heightmode=minus
layer=fmc_symbol

// 1205:34
[fmc_symbol_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=fmc_symbol
transmitop1=yes
op1=Close
onop=closebutton_click

