// 1203:0
[background]
type=layer
widthmode=minus
heightmode=minus
layer=fmc_journal_content_content

// 1203:1
[journal1]
type=layer
x=308
y=81
width=131
height=24
layer=fmc_journal_content_content
pausebutton=yes
pausetext=First journal
onmouseover=script5595(fmc_journal_contents:journal1_text)
onmouseleave=script5596(fmc_journal_contents:journal1_text)
onclick=script5597(fmc_journal_contents:journal1_text)
onrelease=script5596(fmc_journal_contents:journal1_text)

// 1203:2
[journal5]
type=layer
x=307
y=200
width=131
height=24
layer=fmc_journal_content_content
pausebutton=yes
pausetext=Fifth journal
onmouseover=script5595(fmc_journal_contents:journal5_text)
onmouseleave=script5596(fmc_journal_contents:journal5_text)
onclick=script5597(fmc_journal_contents:journal5_text)
onrelease=script5596(fmc_journal_contents:journal5_text)

// 1203:3
[journal3]
type=layer
x=308
y=142
width=131
height=24
layer=fmc_journal_content_content
pausebutton=yes
pausetext=Third journal
onmouseover=script5595(fmc_journal_contents:journal3_text)
onmouseleave=script5596(fmc_journal_contents:journal3_text)
onclick=script5597(fmc_journal_contents:journal3_text)
onrelease=script5596(fmc_journal_contents:journal3_text)

// 1203:4
[journal2]
type=layer
x=308
y=112
width=131
height=24
layer=fmc_journal_content_content
pausebutton=yes
pausetext=Second journal
onmouseover=script5595(fmc_journal_contents:journal2_text)
onmouseleave=script5596(fmc_journal_contents:journal2_text)
onclick=script5597(fmc_journal_contents:journal2_text)
onrelease=script5596(fmc_journal_contents:journal2_text)

// 1203:5
[journal4]
type=layer
x=309
y=170
width=131
height=24
layer=fmc_journal_content_content
pausebutton=yes
pausetext=Fourth journal
onmouseover=script5595(fmc_journal_contents:journal4_text)
onmouseleave=script5596(fmc_journal_contents:journal4_text)
onclick=script5597(fmc_journal_contents:journal4_text)
onrelease=script5596(fmc_journal_contents:journal4_text)

// 1203:6
[left_arrow]
type=graphic
x=44
y=15
width=39
height=39
ymode=abs_bottom
layer=fmc_journal_content_content
graphic="v2_book_arrows,3"
colour=0xffffff
clickmask=no
pausebutton=yes
pausetext=Previous page
onmouseover=script5595(fmc_journal_contents:pagenum_left)
onmouseleave=script5596(fmc_journal_contents:pagenum_left)
onclick=script5597(fmc_journal_contents:pagenum_left)
onrelease=script5596(fmc_journal_contents:pagenum_left)

// 1203:7
[pagenum_left]
type=text
x=93
y=24
width=90
height=20
ymode=abs_bottom
layer=fmc_journal_content_content
textfont=q8_full
text=Back
colour=0x46320a

// 1203:8
[journal3_text]
type=text
x=-42
y=-5
width=214
height=31
layer=journal3
textfont=palatino_linotype_14pt_regular
text=Third journal
textalignh=1
textalignv=1
colour=0x3d1206

// 1203:9
[journal2_text]
type=text
x=-42
y=-5
width=214
height=31
layer=journal2
textfont=palatino_linotype_14pt_regular
text=Second journal
textalignh=1
textalignv=1
colour=0x3d1206

// 1203:10
[journal1_text]
type=text
x=-41
y=-4
width=214
height=31
layer=journal1
textfont=palatino_linotype_14pt_regular
text=First journal
textalignh=1
textalignv=1
colour=0x3d1206

// 1203:11
[com_11]
type=model
x=46
y=138
width=107
height=46
layer=logo
model=crc_fmc_logo_part2_0
modelorigin_x=2
modelorigin_y=-3
modelangle_x=462
modelangle_y=1706
modelangle_z=0
modelzoom=800

// 1203:12
[com_12]
type=model
x=99
y=42
width=62
height=101
layer=logo
model=crc_fmc_logo_part1_0
modelorigin_x=10
modelorigin_y=-3
modelangle_x=460
modelangle_y=1706
modelangle_z=0
modelzoom=800

// 1203:13
[com_13]
type=model
x=9
y=67
width=51
height=107
layer=logo
model=crc_fmc_logo_part3_0
modelorigin_x=-4
modelorigin_y=-1
modelangle_x=460
modelangle_y=1706
modelangle_z=0
modelzoom=800

// 1203:14
[com_14]
type=model
x=18
y=29
width=104
height=58
layer=logo
model=crc_fmc_logo_part4_0
modelorigin_x=0
modelorigin_y=-8
modelangle_x=460
modelangle_y=1706
modelangle_z=0
modelzoom=800

// 1203:15
[scroll_fill]
type=graphic
width=64
height=64
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=background
graphic="rand_journal_read,4"
tiling=yes
colour=0xffffff
clickmask=no

// 1203:16
[scroll_n]
type=graphic
width=64
height=32
widthmode=minus
xmode=abs_centre
layer=background
graphic="rand_journal_read,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1203:17
[scroll_s]
type=graphic
width=64
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=background
graphic="rand_journal_read,7"
tiling=yes
colour=0xffffff
clickmask=no

// 1203:18
[scroll_1_nw]
type=graphic
width=32
height=32
layer=background
graphic="rand_journal_read,0"
colour=0xffffff
clickmask=no

// 1203:19
[scroll_1_ne]
type=graphic
x=-16
width=32
height=32
xmode=abs_centre
layer=background
graphic="rand_journal_read,2"
colour=0xffffff
clickmask=no

// 1203:20
[scroll_1_sw]
type=graphic
width=32
height=32
ymode=abs_bottom
layer=background
graphic="rand_journal_read,6"
colour=0xffffff
clickmask=no

// 1203:21
[scroll_1_se]
type=graphic
x=-16
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=background
graphic="rand_journal_read,8"
colour=0xffffff
clickmask=no

// 1203:22
[scroll_1_w]
type=graphic
width=32
height=64
heightmode=minus
ymode=abs_centre
layer=background
graphic="rand_journal_read,3"
tiling=yes
colour=0xffffff
clickmask=no

// 1203:23
[scroll_1_e]
type=graphic
x=-16
width=32
height=64
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=background
graphic="rand_journal_read,5"
tiling=yes
colour=0xffffff
clickmask=no

// 1203:24
[scroll_2_se]
type=graphic
width=32
height=32
xmode=abs_right
layer=background
graphic="rand_journal_read,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1203:25
[scroll_2_nw]
type=graphic
x=16
width=32
height=32
xmode=abs_centre
layer=background
graphic="rand_journal_read,2"
hflip=yes
colour=0xffffff
clickmask=no

// 1203:26
[scroll_2_ne]
type=graphic
width=32
height=32
xmode=abs_right
ymode=abs_bottom
layer=background
graphic="rand_journal_read,6"
hflip=yes
colour=0xffffff
clickmask=no

// 1203:27
[scroll_2_sw]
type=graphic
x=16
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=background
graphic="rand_journal_read,8"
hflip=yes
colour=0xffffff
clickmask=no

// 1203:28
[scroll_2_e]
type=graphic
width=32
height=64
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=background
graphic="rand_journal_read,3"
tiling=yes
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1203:29
[scroll_2_w]
type=graphic
x=16
width=32
height=64
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=background
graphic="rand_journal_read,5"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1203:30
[scroll_decal_1]
type=graphic
x=-17
y=7
width=20
height=70
xmode=abs_centre
layer=background
graphic=rand_journal_decal_01
colour=0xffffff
clickmask=no

// 1203:31
[scroll_decal_2]
type=graphic
x=174
y=5
width=21
height=20
ymode=abs_bottom
layer=background
graphic="rand_journal_decals_02,0"
colour=0xffffff
clickmask=no

// 1203:32
[scroll_decal_3]
type=graphic
x=427
y=6
width=21
height=20
layer=background
graphic="rand_journal_decals_02,1"
2dangle=49152
colour=0xffffff
clickmask=no

// 1203:33
[scroll_decal_4]
type=graphic
x=345
width=21
height=20
ymode=abs_bottom
layer=background
graphic="rand_journal_decals_02,2"
2dangle=49152
colour=0xffffff
clickmask=no

// 1203:34
[scroll_decal_5]
type=graphic
x=316
y=3
width=21
height=20
layer=background
graphic="rand_journal_decals_02,3"
vflip=yes
colour=0xffffff
clickmask=no

// 1203:35
[logo]
type=layer
x=56
y=-10
width=174
height=202
ymode=abs_centre
layer=background

// 1203:36
[scroll_2_alpha]
type=graphic
x=115
width=127
height=8
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=background
graphic=rand_journal_read_gradient_alpha
alpha=yes
colour=0xffffff
clickmask=no

// 1203:37
[scroll_1_alpha]
type=graphic
x=68
width=186
height=8
heightmode=minus
ymode=abs_centre
layer=background
graphic=rand_journal_read_gradient_alpha
alpha=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1203:38
[journal4_text]
type=text
x=-42
y=-5
width=214
height=31
layer=journal4
textfont=palatino_linotype_14pt_regular
text=Fourth journal
textalignh=1
textalignv=1
colour=0x3d1206

// 1203:39
[journal5_text]
type=text
x=-42
y=-5
width=214
height=31
layer=journal5
textfont=palatino_linotype_14pt_regular
text=Fifth journal
textalignh=1
textalignv=1
colour=0x3d1206

// 1203:40
[fmc_journal_content]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script4683(event_com, fmc_journal_contents:fmc_journal_content_background, fmc_journal_contents:fmc_journal_content_border, fmc_journal_contents:fmc_journal_content_content, fmc_journal_contents:fmc_journal_content_close_button)

// 1203:41
[fmc_journal_content_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=fmc_journal_content

// 1203:42
[fmc_journal_content_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=fmc_journal_content

// 1203:43
[fmc_journal_content_border]
type=layer
widthmode=minus
heightmode=minus
layer=fmc_journal_content

// 1203:44
[fmc_journal_content_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=fmc_journal_content
transmitop1=yes
op1=Close
onop=closebutton_click

