// 1208:0
[left_arrow]
type=graphic
width=39
height=39
ymode=abs_centre
layer=previous_wrapper
graphic="v2_book_arrows,3"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Previous page
onmouseover=script5595(fmc_symbol_contents:pagenum_left)
onmouseleave=script5596(fmc_symbol_contents:pagenum_left)
onclick=script5597(fmc_symbol_contents:pagenum_left)
onrelease=script5596(fmc_symbol_contents:pagenum_left)

// 1208:1
[pagenum_left]
type=text
x=42
width=90
height=20
ymode=abs_centre
layer=previous_wrapper
textfont=q8_full
text=Back
colour=0x46320a

// 1208:2
[scroll_fill]
type=graphic
width=64
height=64
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,4"
tiling=yes
colour=0xffffff
clickmask=no

// 1208:3
[scroll_n]
type=graphic
width=64
height=32
widthmode=minus
xmode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1208:4
[scroll_s]
type=graphic
width=64
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_read,7"
tiling=yes
colour=0xffffff
clickmask=no

// 1208:5
[scroll_1_nw]
type=graphic
width=32
height=32
layer=background_wrapper
graphic="rand_journal_read,0"
colour=0xffffff
clickmask=no

// 1208:6
[scroll_1_ne]
type=graphic
x=-16
width=32
height=32
xmode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,2"
colour=0xffffff
clickmask=no

// 1208:7
[scroll_1_sw]
type=graphic
width=32
height=32
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_read,6"
colour=0xffffff
clickmask=no

// 1208:8
[scroll_1_se]
type=graphic
x=-16
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_read,8"
colour=0xffffff
clickmask=no

// 1208:9
[scroll_1_w]
type=graphic
width=32
height=64
heightmode=minus
ymode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,3"
tiling=yes
colour=0xffffff
clickmask=no

// 1208:10
[scroll_1_e]
type=graphic
x=-16
width=32
height=64
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,5"
tiling=yes
colour=0xffffff
clickmask=no

// 1208:11
[scroll_2_se]
type=graphic
width=32
height=32
xmode=abs_right
layer=background_wrapper
graphic="rand_journal_read,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1208:12
[scroll_2_nw]
type=graphic
x=16
width=32
height=32
xmode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,2"
hflip=yes
colour=0xffffff
clickmask=no

// 1208:13
[scroll_2_ne]
type=graphic
width=32
height=32
xmode=abs_right
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_read,6"
hflip=yes
colour=0xffffff
clickmask=no

// 1208:14
[scroll_2_sw]
type=graphic
x=16
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_read,8"
hflip=yes
colour=0xffffff
clickmask=no

// 1208:15
[scroll_2_e]
type=graphic
width=32
height=64
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,3"
tiling=yes
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1208:16
[scroll_2_w]
type=graphic
x=16
width=32
height=64
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=background_wrapper
graphic="rand_journal_read,5"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1208:17
[scroll_decal_3]
type=graphic
x=427
y=6
width=21
height=20
layer=background_wrapper
graphic="rand_journal_decals_02,1"
2dangle=49152
colour=0xffffff
clickmask=no

// 1208:18
[scroll_decal_1]
type=graphic
x=-17
y=7
width=20
height=70
xmode=abs_centre
layer=background_wrapper
graphic=rand_journal_decal_01
colour=0xffffff
clickmask=no

// 1208:19
[scroll_decal_4]
type=graphic
x=345
width=21
height=20
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_decals_02,2"
2dangle=49152
colour=0xffffff
clickmask=no

// 1208:20
[scroll_decal_5]
type=graphic
x=316
y=3
width=21
height=20
layer=background_wrapper
graphic="rand_journal_decals_02,3"
vflip=yes
colour=0xffffff
clickmask=no

// 1208:21
[scroll_decal_2]
type=graphic
x=174
y=4
width=21
height=20
ymode=abs_bottom
layer=background_wrapper
graphic="rand_journal_decals_02,0"
colour=0xffffff
clickmask=no

// 1208:22
[scroll_1_alpha]
type=graphic
x=250
width=240
height=10
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=background_wrapper
graphic=rand_journal_read_gradient_alpha
alpha=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1208:23
[scroll_2_alpha]
type=graphic
x=250
width=240
height=10
heightmode=minus
ymode=abs_centre
layer=background_wrapper
graphic=rand_journal_read_gradient_alpha
alpha=yes
colour=0xffffff
clickmask=no

// 1208:24
[flame_text]
type=text
x=-42
y=-5
width=214
height=31
layer=flame
textfont=palatino_linotype_14pt_regular
text=Flame
textalignh=1
textalignv=1
colour=0x3d1206

// 1208:25
[boulder_text]
type=text
x=-42
y=-5
width=214
height=31
layer=boulder
textfont=palatino_linotype_14pt_regular
text=Boulder
textalignh=1
textalignv=1
colour=0x3d1206

// 1208:26
[arrow_text]
type=text
x=-41
y=-4
width=214
height=31
layer=arrow
textfont=palatino_linotype_14pt_regular
text=Arrow
textalignh=1
textalignv=1
colour=0x3d1206

// 1208:27
[grid_text]
type=text
x=-42
y=-5
width=214
height=31
layer=grid
textfont=palatino_linotype_14pt_regular
text=Grid
textalignh=1
textalignv=1
colour=0x3d1206

// 1208:28
[torch_text]
type=text
x=-42
y=-5
width=214
height=31
layer=torch
textfont=palatino_linotype_14pt_regular
text=Torch
textalignh=1
textalignv=1
colour=0x3d1206

// 1208:29
[com_29]
type=model
x=47
y=140
width=107
height=46
layer=logo
model=crc_fmc_logo_part2_0
modelorigin_x=2
modelorigin_y=-3
modelangle_x=462
modelangle_y=1706
modelangle_z=0
modelzoom=800

// 1208:30
[com_30]
type=model
x=99
y=43
width=62
height=101
layer=logo
model=crc_fmc_logo_part1_0
modelorigin_x=10
modelorigin_y=-3
modelangle_x=460
modelangle_y=1706
modelangle_z=0
modelzoom=800

// 1208:31
[com_31]
type=model
x=9
y=67
width=51
height=107
layer=logo
model=crc_fmc_logo_part3_0
modelorigin_x=-4
modelorigin_y=-1
modelangle_x=460
modelangle_y=1706
modelangle_z=0
modelzoom=800

// 1208:32
[com_32]
type=model
x=18
y=29
width=104
height=58
layer=logo
model=crc_fmc_logo_part4_0
modelorigin_x=0
modelorigin_y=-8
modelangle_x=460
modelangle_y=1706
modelangle_z=0
modelzoom=800

// 1208:33
[fmc_symbol_contents]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(fmc_symbol_contents:fmc_symbol_contents_background, fmc_symbol_contents:fmc_symbol_contents_border, fmc_symbol_contents:fmc_symbol_contents_content, fmc_symbol_contents:fmc_symbol_contents_close_button, "Firemaker's Guide", 21217, string_1007)

// 1208:34
[fmc_symbol_contents_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=fmc_symbol_contents

// 1208:35
[fmc_symbol_contents_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=fmc_symbol_contents

// 1208:36
[background_wrapper]
type=layer
width=496
height=286
layer=fmc_symbol_contents_content

// 1208:37
[logo]
type=layer
x=53
width=174
height=202
ymode=abs_centre
layer=fmc_symbol_contents_content

// 1208:38
[arrow]
type=layer
x=308
y=70
width=131
height=24
layer=fmc_symbol_contents_content
transmitop1=yes
op1=View symbol
onmouseover=script5595(fmc_symbol_contents:arrow_text)
onmouseleave=script5596(fmc_symbol_contents:arrow_text)
onclick=script5597(fmc_symbol_contents:arrow_text)
onrelease=script5596(fmc_symbol_contents:arrow_text)

// 1208:39
[boulder]
type=layer
x=308
y=101
width=131
height=24
layer=fmc_symbol_contents_content
transmitop1=yes
op1=View symbol
onmouseover=script5595(fmc_symbol_contents:boulder_text)
onmouseleave=script5596(fmc_symbol_contents:boulder_text)
onclick=script5597(fmc_symbol_contents:boulder_text)
onrelease=script5596(fmc_symbol_contents:boulder_text)

// 1208:40
[flame]
type=layer
x=308
y=131
width=131
height=24
layer=fmc_symbol_contents_content
transmitop1=yes
op1=View symbol
onmouseover=script5595(fmc_symbol_contents:flame_text)
onmouseleave=script5596(fmc_symbol_contents:flame_text)
onclick=script5597(fmc_symbol_contents:flame_text)
onrelease=script5596(fmc_symbol_contents:flame_text)

// 1208:41
[grid]
type=layer
x=309
y=159
width=131
height=24
layer=fmc_symbol_contents_content
transmitop1=yes
op1=View symbol
onmouseover=script5595(fmc_symbol_contents:grid_text)
onmouseleave=script5596(fmc_symbol_contents:grid_text)
onclick=script5597(fmc_symbol_contents:grid_text)
onrelease=script5596(fmc_symbol_contents:grid_text)

// 1208:42
[torch]
type=layer
x=307
y=189
width=131
height=24
layer=fmc_symbol_contents_content
transmitop1=yes
op1=View symbol
onmouseover=script5595(fmc_symbol_contents:torch_text)
onmouseleave=script5596(fmc_symbol_contents:torch_text)
onclick=script5597(fmc_symbol_contents:torch_text)
onrelease=script5596(fmc_symbol_contents:torch_text)

// 1208:43
[previous_wrapper]
type=layer
x=30
width=160
height=40
ymode=abs_bottom
layer=fmc_symbol_contents_content

// 1208:44
[fmc_symbol_contents_border]
type=layer
widthmode=minus
heightmode=minus
layer=fmc_symbol_contents

// 1208:45
[fmc_symbol_contents_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=fmc_symbol_contents
transmitop1=yes
op1=Close
onop=closebutton_click

