// 840:0
[blocker]
type=layer
widthmode=minus
heightmode=minus
noclickthrough=yes

// 840:1
[com_1]
type=rectangle
widthmode=minus
heightmode=minus
layer=blocker
colour=0x000000
fill=yes
trans=128

// 840:2
[base]
type=layer
width=870
height=450
xmode=abs_centre
ymode=abs_centre
onload=script15753

// 840:3
[keyframe_art]
type=graphic
x=290
width=517
height=440
widthmode=aspect
xmode=abs_centre
ymode=abs_centre
aspectwidth=569
aspectheight=484
graphic=free_trial_popup_nomad
colour=0xffffff
clickmask=no

// 840:4
[popups]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 840:5
[close_confirm_popup]
type=layer
widthmode=minus
heightmode=minus
layer=popups
hide=yes
noclickthrough=yes

// 840:6
[one_time_purchase]
type=layer
width=960
height=540
layer=popups

// 840:7
[policy_popup]
type=layer
widthmode=minus
heightmode=minus
layer=popups
hide=yes
noclickthrough=yes

// 840:8
[com_8]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=policy_popup
colour=0x000000
fill=yes
trans=128

// 840:9
[policy_layer]
type=layer
width=620
height=406
xmode=abs_centre
ymode=abs_centre
layer=policy_popup

// 840:10
[tncs_popup_background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=policy_layer

// 840:11
[mainmodal_preview]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=base

// 840:12
[bg]
type=layer
x=16
y=32
width=32
height=40
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_preview

// 840:13
[com_13]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bg
graphic=rs3_modal_window_content_tile
tiling=yes
colour=0xffffff
clickmask=no

// 840:14
[content]
type=layer
y=56
width=20
height=64
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_preview

// 840:15
[benefits_layer]
type=layer
x=10
y=3
width=700
height=205
layer=content

// 840:16
[start_trial_layer]
type=layer
x=10
y=5
width=700
height=165
ymode=abs_bottom
layer=content

// 840:17
[start_trial_background]
type=layer
widthmode=minus
heightmode=minus
layer=start_trial_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 840:18
[start_trial_title]
type=text
y=2
width=570
height=32
layer=start_trial_layer
textfont=cinzel_25pt_bold_multiline
text=Start with a 7 day free trial
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 840:19
[start_trial_second_title]
type=text
y=37
width=570
height=20
layer=start_trial_layer
textfont=museo_sans_15pt_bold
text=Then 6.99/month GBP recurring billing. Cancel at any time.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 840:20
[start_trial_button_layer]
type=layer
x=85
y=65
width=400
height=65
layer=start_trial_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 840:21
[button]
type=layer
widthmode=minus
heightmode=minus
layer=start_trial_button_layer
onmouseover=graphic_swapper3(free_trial_prompt:cta_left, lobby_button_mouseover_left, free_trial_prompt:cta_mid, lobby_button_mouseover_mid, free_trial_prompt:cta_right, lobby_button_mouseover_right)
onmouseleave=graphic_swapper3(free_trial_prompt:cta_left, lobby_button_default_left, free_trial_prompt:cta_mid, lobby_button_default_mid, free_trial_prompt:cta_right, lobby_button_default_right)

// 840:22
[button_click]
type=layer
height=13
widthmode=minus
heightmode=minus
layer=button
onclick=script1312

// 840:23
[cta_left]
type=graphic
width=136
heightmode=minus
layer=button
graphic=lobby_button_default_left
colour=0xffffff
clickmask=no

// 840:24
[cta_mid]
type=graphic
width=272
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button
graphic=lobby_button_default_mid
colour=0xffffff
clickmask=no

// 840:25
[cta_right]
type=graphic
width=136
heightmode=minus
xmode=abs_right
layer=button
graphic=lobby_button_default_right
colour=0xffffff
clickmask=no

// 840:26
[button_text]
type=text
x=35
y=12
width=70
height=29
widthmode=minus
layer=button
textfont=cinzel_18pt_bold_multiline
text=Subscribe for £6.99/month
textalignh=1
textalignv=1
colour=0x000000

// 840:27
[start_trial_tncs_text]
type=text
y=4
width=570
height=40
ymode=abs_bottom
layer=start_trial_layer
textfont=museo_sans_13pt_regular
text=By continuing you are agreeing to<br>our <col=FFCB05><u=FFCB05>terms & conditions</u></col>.
textalignh=1
textalignv=2
textshadow=yes
colour=0x7592a0
onclick=script15754

// 840:28
[error_layer]
type=layer
widthmode=minus
heightmode=minus
layer=start_trial_button_layer
hide=yes
noclickthrough=yes

// 840:29
[com_29]
type=text
width=20
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=error_layer
textfont=cinzel_18pt_bold_multiline
text=Free Trial is currently unavailable.
textalignh=1
textalignv=1
textshadow=yes
colour=0xba2d14

// 840:30
[benefits_background]
type=layer
widthmode=minus
heightmode=minus
layer=benefits_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 840:31
[benefits_content_layer]
type=layer
x=65
y=6
width=505
height=6
heightmode=minus
layer=benefits_layer

// 840:32
[benefits_title]
type=text
height=32
widthmode=minus
layer=benefits_content_layer
textfont=cinzel_25pt_bold_multiline
text=Membership Benefits
textalignv=1
textshadow=yes
colour=0xaed0e0

// 840:33
[bullet_points_layer]
type=layer
y=38
height=38
widthmode=minus
heightmode=minus
layer=benefits_content_layer

// 840:34
[point_1]
type=layer
height=18
widthmode=minus
layer=bullet_points_layer

// 840:35
[point_2]
type=layer
y=26
height=18
widthmode=minus
layer=bullet_points_layer

// 840:36
[point_3]
type=layer
y=52
height=18
widthmode=minus
layer=bullet_points_layer

// 840:37
[point_4]
type=layer
y=78
height=18
widthmode=minus
layer=bullet_points_layer

// 840:38
[point_5]
type=layer
y=104
height=18
widthmode=minus
layer=bullet_points_layer

// 840:39
[point_6]
type=layer
y=130
height=18
widthmode=minus
layer=bullet_points_layer

// 840:40
[com_40]
type=graphic
width=10
height=6
heightmode=aspect
ymode=abs_centre
aspectwidth=14
aspectheight=15
layer=point_1
graphic=aif_members_bullet_point
colour=0xffffff
clickmask=no

// 840:41
[com_41]
type=text
x=28
height=18
widthmode=minus
layer=point_1
textfont=museo_sans_15pt_bold
text=Over 180 more quests
textshadow=yes
colour=0x7592a0

// 840:42
[frame]
type=layer
x=12
width=12
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_preview

// 840:43
[close]
type=layer
width=63
height=63
xmode=abs_right
layer=mainmodal_preview

// 840:44
[fake_close]
type=layer
width=1
height=1
xmode=abs_right
layer=close
transmitop1=yes
op1=Close

// 840:45
[real_close]
type=layer
widthmode=minus
heightmode=minus
layer=close
noclickthrough=yes
transmitop1=yes
op1=Close

// 840:46
[com_46]
type=graphic
width=63
height=63
layer=close
graphic=lobby_button_menu_container
colour=0xffffff
clickmask=no

// 840:47
[com_47]
type=graphic
x=1
y=-2
width=38
height=38
xmode=abs_centre
ymode=abs_centre
layer=close
graphic=parent_close_button_normal
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, parent_close_button_over)
onmouseleave=graphic_swapper(event_com, parent_close_button_normal)
onclick=graphic_swapper(event_com, parent_close_button_normal)

// 840:48
[header]
type=layer
height=60
widthmode=minus
xmode=abs_centre
layer=frame

// 840:49
[header_left]
type=graphic
width=66
widthmode=aspect
heightmode=minus
aspectwidth=66
aspectheight=71
layer=header
graphic=character_title_left_edge
colour=0xffffff
clickmask=no

// 840:50
[com_50]
type=graphic
x=544
width=96
height=37
layer=header
graphic=lobby_header_details_right_edge
hflip=yes
colour=0xffffff
clickmask=no

// 840:51
[header_middle]
type=graphic
x=55
width=385
height=60
widthmode=minus
layer=header
graphic=character_title
tiling=yes
colour=0xffffff
clickmask=no

// 840:52
[header_right]
type=graphic
x=528
width=94
widthmode=aspect
heightmode=minus
aspectwidth=94
aspectheight=71
layer=header
graphic=character_title_right_edge
colour=0xffffff
clickmask=no

// 840:53
[com_53]
type=graphic
x=24
y=-4
width=96
height=37
xmode=abs_right
layer=header
graphic=lobby_header_details_right_edge
colour=0xffffff
clickmask=no

// 840:54
[com_54]
type=graphic
x=578
y=25
width=241
height=18
layer=header
graphic=character_title_line
tiling=yes
colour=0xffffff
clickmask=no

// 840:55
[header_icon]
type=graphic
x=10
y=2
width=66
height=66
ymode=abs_centre
layer=header
graphic=rs3_icon_members_102px
colour=0xffffff
clickmask=no

// 840:56
[com_56]
type=text
x=94
width=140
height=40
widthmode=minus
ymode=abs_centre
layer=header
textfont=cinzel_25pt_bold_multiline
text=Become a member today
textalignv=1
textshadow=yes
colour=0xffcb05

// 840:57
[borders]
type=layer
y=48
width=12
height=48
widthmode=minus
heightmode=minus
xmode=abs_right
layer=frame

// 840:58
[com_58]
type=graphic
width=8
height=16
heightmode=minus
layer=borders
graphic=rs3_modal_window_1_side_tile
colour=0xffffff
clickmask=no

// 840:59
[com_59]
type=graphic
width=16
height=16
ymode=abs_bottom
layer=borders
graphic=rs3_modal_window_1_bottom_corner
tiling=yes
colour=0xffffff
clickmask=no

// 840:60
[com_60]
type=graphic
x=16
width=32
height=8
widthmode=minus
ymode=abs_bottom
layer=borders
graphic=rs3_modal_window_1_bottom_tile
tiling=yes
colour=0xffffff
clickmask=no

// 840:61
[com_61]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=borders
graphic=rs3_modal_window_1_bottom_corner
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 840:62
[com_62]
type=graphic
width=8
height=16
heightmode=minus
xmode=abs_right
layer=borders
graphic=rs3_modal_window_1_side_tile
hflip=yes
colour=0xffffff
clickmask=no

// 840:63
[com_63]
type=graphic
width=10
height=6
heightmode=aspect
ymode=abs_centre
aspectwidth=14
aspectheight=15
layer=point_2
graphic=aif_members_bullet_point
colour=0xffffff
clickmask=no

// 840:64
[com_64]
type=text
x=28
height=18
widthmode=minus
layer=point_2
textfont=museo_sans_15pt_bold
text=Master 11 extra skills
textshadow=yes
colour=0x7592a0

// 840:65
[com_65]
type=graphic
width=10
height=6
heightmode=aspect
ymode=abs_centre
aspectwidth=14
aspectheight=15
layer=point_3
graphic=aif_members_bullet_point
colour=0xffffff
clickmask=no

// 840:66
[com_66]
type=text
x=28
height=18
widthmode=minus
layer=point_3
textfont=museo_sans_15pt_bold
text=Exclusive member only skill training
textshadow=yes
colour=0x7592a0

// 840:67
[com_67]
type=graphic
width=10
height=6
heightmode=aspect
ymode=abs_centre
aspectwidth=14
aspectheight=15
layer=point_4
graphic=aif_members_bullet_point
colour=0xffffff
clickmask=no

// 840:68
[com_68]
type=text
x=28
height=18
widthmode=minus
layer=point_4
textfont=museo_sans_15pt_bold
text=Access to powerful member only items
textshadow=yes
colour=0x7592a0

// 840:69
[com_69]
type=graphic
width=10
height=6
heightmode=aspect
ymode=abs_centre
aspectwidth=14
aspectheight=15
layer=point_5
graphic=aif_members_bullet_point
colour=0xffffff
clickmask=no

// 840:70
[com_70]
type=text
x=28
height=18
widthmode=minus
layer=point_5
textfont=museo_sans_15pt_bold
text=A world 3x larger to explore
textshadow=yes
colour=0x7592a0

// 840:71
[com_71]
type=graphic
width=10
height=6
heightmode=aspect
ymode=abs_centre
aspectwidth=14
aspectheight=15
layer=point_6
graphic=aif_members_bullet_point
colour=0xffffff
clickmask=no

// 840:72
[com_72]
type=text
x=28
height=18
widthmode=minus
layer=point_6
textfont=museo_sans_15pt_bold
text=Exclusive loyalty program
textshadow=yes
colour=0x7592a0

// 840:73
[com_73]
type=graphic
width=167
height=62
layer=tncs_popup_background
graphic=panel_background_top_left_corner
colour=0xffffff
clickmask=no

// 840:74
[com_74]
type=graphic
x=30
width=81
height=62
xmode=abs_right
layer=tncs_popup_background
graphic=panel_background_top_right_corner
colour=0xffffff
clickmask=no

// 840:75
[com_75]
type=graphic
x=14
y=34
width=30
height=38
widthmode=minus
heightmode=minus
xmode=abs_right
layer=tncs_popup_background
graphic=rs3_modal_window_content_tile
tiling=yes
colour=0xffffff
clickmask=no

// 840:76
[terms_title_background]
type=graphic
x=20
y=24
width=296
height=71
layer=tncs_popup_background
graphic=lobby_title_mid
tiling=yes
colour=0xffffff
clickmask=no

// 840:77
[terms_title_background_r]
type=graphic
x=314
y=24
width=48
height=71
layer=tncs_popup_background
graphic=lobby_title_right_edge
colour=0xffffff
clickmask=no

// 840:78
[terms_title_text]
type=text
x=36
y=44
width=250
height=30
layer=tncs_popup_background
textfont=cinzel_25pt_bold_multiline
text=Free Trial Terms
textalignv=1
textshadow=yes
colour=0xffcb05

// 840:79
[tncs_popup_content]
type=layer
y=85
width=36
height=94
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=policy_layer

// 840:80
[text_layer]
type=layer
y=22
width=548
height=150
heightmode=minus
xmode=abs_centre
layer=tncs_popup_content

// 840:81
[tncs_terms_text]
type=text
width=70
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=text_layer
textfont=museo_sans_13pt_regular
text=By selecting 'Try 7 days free', you authorise us to charge per month, plus taxes, after the introductory offer has ended. Your subscription will renew automatically after the end of the introductory offer (any unused portion of the free trial will be forfeited if you purchase a subscription before the end of the introductory offer). Cancel renewal any time by pressing on the 'How to cancel' button.
textshadow=yes
colour=0xaed0e0

// 840:82
[terms_build]
type=layer
widthmode=minus
heightmode=minus
layer=terms

// 840:83
[terms_click]
type=layer
widthmode=minus
heightmode=minus
layer=terms
onclick=script15228(3)

// 840:84
[buttons_layer]
type=layer
height=125
widthmode=minus
ymode=abs_bottom
layer=tncs_popup_content

// 840:85
[terms]
type=layer
x=56
width=208
height=43
layer=buttons_layer
onload=script6233(free_trial_prompt:terms_build, free_trial_prompt:terms_click, rs3tli_3x3_button, "Terms of Use")

// 840:86
[privacy_build]
type=layer
widthmode=minus
heightmode=minus
layer=privacy

// 840:87
[privacy]
type=layer
x=56
y=20
width=208
height=43
ymode=abs_bottom
layer=buttons_layer
onload=script6233(free_trial_prompt:privacy_build, free_trial_prompt:privacy_click, rs3tli_3x3_button, "Privacy Policy")

// 840:88
[cancel]
type=layer
x=56
width=208
height=43
xmode=abs_right
layer=buttons_layer
onload=script6233(free_trial_prompt:cancel_build, free_trial_prompt:cancel_click, rs3tli_3x3_button, "How to Cancel")

// 840:89
[sub_policy]
type=layer
x=56
y=20
width=208
height=43
xmode=abs_right
ymode=abs_bottom
layer=buttons_layer
onload=script6233(free_trial_prompt:sub_policy_build, free_trial_prompt:sub_policy_click, rs3tli_3x3_button, "Subscription Policy")

// 840:90
[privacy_click]
type=layer
widthmode=minus
heightmode=minus
layer=privacy
onclick=script15228(5)

// 840:91
[tncs_popup_border]
type=layer
x=10
width=12
widthmode=minus
heightmode=minus
xmode=abs_right
layer=policy_layer

// 840:92
[top]
type=graphic
y=3
width=42
height=32
widthmode=minus
xmode=abs_centre
layer=tncs_popup_border
graphic=rs3_modal_window_1_top_tile
tiling=yes
colour=0xffffff
clickmask=no

// 840:93
[bottom]
type=graphic
width=32
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=tncs_popup_border
graphic=rs3_modal_window_1_bottom_tile
tiling=yes
colour=0xffffff
clickmask=no

// 840:94
[left_border]
type=graphic
x=10
y=44
width=8
height=58
heightmode=minus
layer=tncs_popup_border
graphic=rs3_modal_window_1_side_tile
tiling=yes
colour=0xffffff
clickmask=no

// 840:95
[right_border]
type=graphic
y=44
width=8
height=48
heightmode=minus
xmode=abs_right
layer=tncs_popup_border
graphic=rs3_modal_window_1_side_tile
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 840:96
[left_top_flurish]
type=graphic
x=10
y=28
width=16
height=16
layer=tncs_popup_border
graphic=rs3_modal_window_1_bottom_corner
vflip=yes
colour=0xffffff
clickmask=no

// 840:97
[right_top_flurish]
type=graphic
y=28
width=16
height=16
xmode=abs_right
layer=tncs_popup_border
graphic=rs3_modal_window_1_bottom_corner
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 840:98
[left_bottom_flurish]
type=graphic
x=10
width=16
height=16
ymode=abs_bottom
layer=tncs_popup_border
graphic=rs3_modal_window_1_bottom_corner
colour=0xffffff
clickmask=no

// 840:99
[right_bottom_flurish]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=tncs_popup_border
graphic=rs3_modal_window_1_bottom_corner
hflip=yes
colour=0xffffff
clickmask=no

// 840:100
[tncs_popup_close]
type=layer
width=63
height=63
xmode=abs_right
layer=policy_layer
onclick=script3168

// 840:101
[com_101]
type=graphic
width=63
height=63
layer=tncs_popup_close
graphic=lobby_button_menu_container
colour=0xffffff
clickmask=no

// 840:102
[com_102]
type=graphic
x=1
y=-2
width=25
height=19
widthmode=minus
heightmode=aspect
xmode=abs_centre
ymode=abs_centre
aspectwidth=19
aspectheight=19
layer=tncs_popup_close
graphic="aif_close_1,0"
colour=0xffffff
clickmask=no

// 840:103
[cancel_build]
type=layer
widthmode=minus
heightmode=minus
layer=cancel

// 840:104
[cancel_click]
type=layer
widthmode=minus
heightmode=minus
layer=cancel
onclick=script1454(1016)

// 840:105
[sub_policy_build]
type=layer
widthmode=minus
heightmode=minus
layer=sub_policy

// 840:106
[sub_policy_click]
type=layer
widthmode=minus
heightmode=minus
layer=sub_policy
onclick=script1454(1017)

// 840:107
[com_107]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_confirm_popup
colour=0x000000
fill=yes
trans=128

// 840:108
[close_confirm_layer]
type=layer
width=510
height=300
xmode=abs_centre
ymode=abs_centre
layer=close_confirm_popup

// 840:109
[bg_1]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=close_confirm_layer
noclickthrough=yes

// 840:110
[close_confirm_content]
type=layer
y=85
width=36
height=94
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=close_confirm_layer

// 840:111
[close_confirm_text]
type=text
y=20
width=70
height=100
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=close_confirm_content
textfont=museo_sans_13pt_regular
text=The free trial can be viewed again in the Marketplace, which can be accessed from the home screen.
textshadow=yes
colour=0xaed0e0

// 840:112
[close_confirm_back_button]
type=layer
x=-110
y=25
width=200
height=43
xmode=abs_centre
ymode=abs_bottom
layer=close_confirm_content
onload=script6233(free_trial_prompt:close_confirm_back_button_build, free_trial_prompt:close_confirm_back_button_click, rs3tli_mobile_3x3_red_button, "Back")

// 840:113
[close_confirm_continue_button]
type=layer
x=110
y=25
width=200
height=43
xmode=abs_centre
ymode=abs_bottom
layer=close_confirm_content
onload=script6233(free_trial_prompt:close_confirm_continue_button_build, free_trial_prompt:close_confirm_continue_button_click, rs3tli_3x3_icon_button, "Continue")

// 840:114
[close_confirm_continue_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=close_confirm_continue_button

// 840:115
[close_confirm_continue_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=close_confirm_continue_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 840:116
[close_confirm_back_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=close_confirm_back_button

// 840:117
[close_confirm_back_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=close_confirm_back_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 840:118
[com_118]
type=graphic
x=10
width=10
widthmode=minus
heightmode=minus
layer=bg_1
graphic=rs3_modal_window_content_tile
tiling=yes
colour=0xffffff
clickmask=no

// 840:119
[frame_1]
type=layer
widthmode=minus
heightmode=minus
layer=close_confirm_layer

// 840:120
[flourishes]
type=layer
height=62
widthmode=minus
layer=frame_1

// 840:121
[topleft]
type=graphic
width=167
height=62
layer=flourishes
graphic=panel_background_top_left_corner
colour=0xffffff
clickmask=no

// 840:122
[topriight]
type=graphic
width=81
height=62
xmode=abs_right
layer=flourishes
graphic=panel_background_top_right_corner
colour=0xffffff
clickmask=no

// 840:123
[panel_lines]
type=layer
x=10
width=10
widthmode=minus
heightmode=minus
layer=frame_1

// 840:124
[left]
type=graphic
y=32
width=8
height=48
heightmode=minus
layer=panel_lines
graphic=rs3_modal_window_1_side_tile
colour=0xffffff
clickmask=no

// 840:125
[right]
type=graphic
y=32
width=8
height=48
heightmode=minus
xmode=abs_right
layer=panel_lines
graphic=rs3_modal_window_1_side_tile
hflip=yes
colour=0xffffff
clickmask=no

// 840:126
[botleft]
type=graphic
width=16
height=16
ymode=abs_bottom
layer=panel_lines
graphic=rs3_modal_window_1_bottom_corner
tiling=yes
colour=0xffffff
clickmask=no

// 840:127
[bot]
type=graphic
width=32
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=panel_lines
graphic=rs3_modal_window_1_bottom_tile
tiling=yes
colour=0xffffff
clickmask=no

// 840:128
[botright]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=panel_lines
graphic=rs3_modal_window_1_bottom_corner
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 840:129
[title_bar]
type=layer
y=23
width=16
height=71
widthmode=minus
xmode=abs_centre
layer=panel_lines

// 840:130
[bar]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=title_bar
graphic=genericpopup_title
tiling=yes
colour=0xffffff
clickmask=no

// 840:131
[title]
type=text
x=10
width=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=title_bar
textfont=cinzel_25pt_bold_multiline
text=Continue Journey?
textalignv=1
textshadow=yes
colour=0xffcb05

