// 102:0
[unabridged_book]
type=model
width=40
height=39
layer=book_unabridged_wrapper
model=rand_bilrach_book
modelorigin_x=10
modelorigin_y=-3
modelangle_x=341
modelangle_y=1683
modelangle_z=0
modelzoom=800

// 102:1
[unabridged_text]
type=text
x=40
width=78
height=37
layer=book_unabridged_wrapper
textfont=p11_full
text=Unabridged
textalignh=1
textalignv=1
textshadow=yes
colour=0xe9d4b4

// 102:2
[abridged_book]
type=model
width=40
height=38
layer=book_abridged_wrapper
model=rand_unholy_cursebearer_book
modelorigin_x=-4
modelorigin_y=-5
modelangle_x=341
modelangle_y=1820
modelangle_z=0
modelzoom=800

// 102:3
[abridged_text]
type=text
x=40
width=79
height=38
layer=book_abridged_wrapper
textfont=p11_full
text=Abridged
textalignh=1
textalignv=1
textshadow=yes
colour=0xe9d4b4

// 102:4
[current_frame]
type=layer
x=-103
width=170
height=33
xmode=abs_centre
layer=bar_layer

// 102:5
[character_bg]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=character_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 102:6
[character_layer]
type=layer
x=-75
width=260
height=174
xmode=abs_centre
layer=fremsaga_reward_content

// 102:7
[book_layer]
type=layer
x=131
width=150
height=174
xmode=abs_centre
layer=fremsaga_reward_content

// 102:8
[objective_layer]
type=layer
y=174
width=411
height=126
xmode=abs_centre
layer=fremsaga_reward_content

// 102:9
[book_bg]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=book_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 102:10
[reward_text_layer]
type=layer
height=52
widthmode=minus
xmode=abs_centre
layer=book_layer

// 102:11
[com_11]
type=graphic
x=2
y=3
width=11
height=27
layer=current_frame
graphic="aif_info_display_blue_1,0"
colour=0xffffff
clickmask=no

// 102:12
[com_12]
type=graphic
x=12
y=3
width=146
height=27
layer=current_frame
graphic="aif_info_display_blue_1,1"
colour=0xffffff
clickmask=no

// 102:13
[com_13]
type=graphic
x=157
y=3
width=11
height=27
layer=current_frame
graphic="aif_info_display_blue_1,3"
colour=0xffffff
clickmask=no

// 102:14
[bubble_topleft]
type=graphic
x=150
y=59
width=7
height=7
layer=message_bubble
graphic=avatar_msg_bubble_corner
colour=0xffffff
clickmask=no

// 102:15
[bubble_bottom_left]
type=graphic
x=150
y=162
width=7
height=7
layer=message_bubble
graphic=avatar_msg_bubble_corner
vflip=yes
colour=0xffffff
clickmask=no

// 102:16
[bubble_bottom_right]
type=graphic
x=280
y=162
width=7
height=7
layer=message_bubble
graphic=avatar_msg_bubble_corner
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 102:17
[bubble_top_right]
type=graphic
x=280
y=59
width=7
height=7
layer=message_bubble
graphic=avatar_msg_bubble_corner
hflip=yes
colour=0xffffff
clickmask=no

// 102:18
[bubble_top]
type=graphic
x=157
y=59
width=123
height=7
layer=message_bubble
graphic=avatar_msg_bubble_top
colour=0xffffff
clickmask=no

// 102:19
[bubble_bottom]
type=graphic
x=157
y=163
width=123
height=6
layer=message_bubble
graphic=avatar_msg_bubble_bottom
colour=0xffffff
clickmask=no

// 102:20
[bubble_left]
type=graphic
x=150
y=66
width=7
height=96
layer=message_bubble
graphic=avatar_msg_bubble_side
colour=0xffffff
clickmask=no

// 102:21
[bubble_arrow]
type=graphic
x=131
y=123
width=30
height=11
layer=message_bubble
graphic=avatar_msg_bubble_arrow
2dangle=16384
colour=0xffffff
clickmask=no

// 102:22
[bubble_1]
type=rectangle
x=151
y=117
width=6
height=21
layer=message_bubble
colour=0xcebfae
fill=yes

// 102:23
[bubble_right]
type=graphic
x=280
y=66
width=7
height=96
layer=message_bubble
graphic=avatar_msg_bubble_side
hflip=yes
colour=0xffffff
clickmask=no

// 102:24
[green_large_progress_layer]
type=layer
x=82
width=200
height=31
xmode=abs_centre
layer=bar_layer

// 102:25
[current_frame_1]
type=layer
x=-103
y=35
width=170
height=33
xmode=abs_centre
layer=bar_layer

// 102:26
[bestscore_bar_layer]
type=layer
x=82
y=35
width=200
height=31
xmode=abs_centre
layer=bar_layer

// 102:27
[com_27]
type=text
width=169
height=32
layer=current_frame
textfont=p12_full
text=Current Score
textalignh=1
textalignv=1
textshadow=yes
colour=0xe9d4b4

// 102:28
[bubble_fill]
type=rectangle
x=117
y=31
width=123
height=100
layer=character_layer
colour=0xcebfae
fill=yes

// 102:29
[message_bubble]
type=layer
x=-40
y=-32
width=512
height=334
layer=character_layer

// 102:30
[face_text]
type=text
x=114
y=33
width=130
height=99
layer=character_layer
textfont=p12_full
textalignh=1
textalignv=1
colour=0x000000

// 102:31
[face]
type=model
x=16
y=3
width=86
height=140
ymode=abs_centre
layer=character_layer
model=null
modelorigin_x=11
modelorigin_y=-8
modelangle_x=73
modelangle_y=1934
modelangle_z=0
modelzoom=1861
modelanim=human_update_chathead_happy_normal_len1

// 102:32
[obj_framelayer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=objective_layer

// 102:33
[objective_bg]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=obj_framelayer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 102:34
[obj_3_layer]
type=layer
x=7
y=20
width=399
height=15
layer=objective_layer

// 102:35
[obj_4_layer]
type=layer
x=7
y=20
width=399
height=15
layer=objective_layer
hide=yes

// 102:36
[bar_layer]
type=layer
y=37
width=376
height=70
xmode=abs_centre
layer=objective_layer

// 102:37
[obj_text]
type=text
height=18
widthmode=minus
xmode=abs_centre
layer=obj_framelayer
textfont=p11_full
text=Secondary objectives completed
textalignh=1
textalignv=1
textshadow=yes
colour=0xe9d4b4

// 102:38
[obj_3_1]
type=graphic
x=180
width=12
height=12
layer=obj_3_layer
graphic="aif_checkbox_small,1"
colour=0xffffff
clickmask=no

// 102:39
[books_layer]
type=layer
y=65
width=120
height=80
xmode=abs_centre
layer=book_layer

// 102:40
[book_abridged_wrapper]
type=layer
width=120
height=38
layer=books_layer
hide=yes

// 102:41
[book_unabridged_wrapper]
type=layer
y=40
width=120
height=40
layer=books_layer
hide=yes

// 102:42
[reward_title]
type=text
height=25
widthmode=minus
xmode=abs_centre
layer=reward_text_layer
textfont=verdana_15pt_regular
text=Rewards
textalignh=1
textalignv=1
textshadow=yes
colour=0xcca054

// 102:43
[reward_notify]
type=text
y=25
height=27
widthmode=minus
xmode=abs_centre
layer=reward_text_layer
hide=yes
textfont=p11_full
text=You receive a new book.
textalignh=1
textalignv=1
textshadow=yes
colour=0xe9d4b4

// 102:44
[com_44]
type=graphic
width=12
height=30
ymode=abs_centre
layer=green_large_progress_layer
graphic="aif_progress_bar_frame_2,0"
colour=0xffffff
clickmask=no

// 102:45
[com_45]
type=graphic
width=12
height=30
xmode=abs_right
ymode=abs_centre
layer=green_large_progress_layer
graphic="aif_progress_bar_frame_2,0"
hflip=yes
colour=0xffffff
clickmask=no

// 102:46
[com_46]
type=graphic
width=12
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_layer
graphic="aif_progress_bar_frame_2,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 102:47
[green_large_progress_value_bounds_layer]
type=layer
x=6
width=12
height=19
widthmode=minus
ymode=abs_centre
layer=green_large_progress_layer

// 102:48
[completed_bar]
type=layer
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=green_large_progress_value_bounds_layer

// 102:49
[com_49]
type=graphic
width=6
height=19
ymode=abs_centre
layer=completed_bar
graphic="aif_progress_bar_green_fill_2,0"
colour=0xffffff
clickmask=no

// 102:50
[com_50]
type=graphic
width=6
height=19
xmode=abs_right
ymode=abs_centre
layer=completed_bar
graphic="aif_progress_bar_green_fill_2,2"
colour=0xffffff
clickmask=no

// 102:51
[com_51]
type=graphic
width=12
height=19
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=completed_bar
graphic="aif_progress_bar_green_fill_2,1"
tiling=yes
colour=0xffffff
clickmask=no

// 102:52
[green_large_progress_text_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_layer

// 102:53
[completed_text_bar]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_text_layer
textfont=verdana_11pt_regular
text=0%
textalignh=1
textalignv=1
colour=0xd5d9d3
onload=script4210(event_com, museo_sans_11pt_regular, ^white, 0)

// 102:54
[com_54]
type=graphic
width=12
height=30
ymode=abs_centre
layer=bestscore_bar_layer
graphic="aif_progress_bar_frame_2,0"
colour=0xffffff
clickmask=no

// 102:55
[com_55]
type=graphic
width=12
height=30
xmode=abs_right
ymode=abs_centre
layer=bestscore_bar_layer
graphic="aif_progress_bar_frame_2,0"
hflip=yes
colour=0xffffff
clickmask=no

// 102:56
[com_56]
type=graphic
width=12
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bestscore_bar_layer
graphic="aif_progress_bar_frame_2,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 102:57
[green_large_progress_value_bounds_layer_1]
type=layer
x=6
width=12
height=19
widthmode=minus
ymode=abs_centre
layer=bestscore_bar_layer

// 102:58
[bestscore_bar]
type=layer
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=green_large_progress_value_bounds_layer_1

// 102:59
[com_59]
type=graphic
width=6
height=19
ymode=abs_centre
layer=bestscore_bar
graphic="aif_progress_bar_green_fill_2,0"
colour=0xffffff
clickmask=no

// 102:60
[com_60]
type=graphic
width=6
height=19
xmode=abs_right
ymode=abs_centre
layer=bestscore_bar
graphic="aif_progress_bar_green_fill_2,2"
colour=0xffffff
clickmask=no

// 102:61
[com_61]
type=graphic
width=12
height=19
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bestscore_bar
graphic="aif_progress_bar_green_fill_2,1"
tiling=yes
colour=0xffffff
clickmask=no

// 102:62
[green_large_progress_text_layer_1]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=bestscore_bar_layer

// 102:63
[bestscore_bar_text]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_text_layer_1
textfont=verdana_11pt_regular
text=0%
textalignh=1
textalignv=1
colour=0xd5d9d3
onload=script4210(event_com, museo_sans_11pt_regular, ^white, 0)

// 102:64
[com_64]
type=graphic
x=2
y=3
width=11
height=27
layer=current_frame_1
graphic="aif_info_display_blue_1,0"
colour=0xffffff
clickmask=no

// 102:65
[com_65]
type=graphic
x=12
y=3
width=146
height=27
layer=current_frame_1
graphic="aif_info_display_blue_1,1"
colour=0xffffff
clickmask=no

// 102:66
[com_66]
type=graphic
x=157
y=3
width=11
height=27
layer=current_frame_1
graphic="aif_info_display_blue_1,3"
colour=0xffffff
clickmask=no

// 102:67
[com_67]
type=text
width=169
height=32
layer=current_frame_1
textfont=p12_full
text=Previous Best Score
textalignh=1
textalignv=1
textshadow=yes
colour=0xe9d4b4

// 102:68
[obj_3_2]
type=graphic
x=193
width=12
height=12
layer=obj_3_layer
graphic="aif_checkbox_small,5"
colour=0xffffff
clickmask=no

// 102:69
[obj_3_3]
type=graphic
x=206
width=12
height=12
layer=obj_3_layer
graphic="aif_checkbox_small,5"
colour=0xffffff
clickmask=no

// 102:70
[obj_4_1]
type=graphic
x=174
width=12
height=12
layer=obj_4_layer
graphic="aif_checkbox_small,5"
colour=0xffffff
clickmask=no

// 102:71
[obj_4_2]
type=graphic
x=187
width=12
height=12
layer=obj_4_layer
graphic="aif_checkbox_small,5"
colour=0xffffff
clickmask=no

// 102:72
[obj_4_3]
type=graphic
x=200
width=12
height=12
layer=obj_4_layer
graphic="aif_checkbox_small,5"
colour=0xffffff
clickmask=no

// 102:73
[obj_4_4]
type=graphic
x=213
width=12
height=12
layer=obj_4_layer
graphic="aif_checkbox_small,5"
colour=0xffffff
clickmask=no

// 102:74
[fremsaga_reward]
type=layer
width=88
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(fremsaga_reward:fremsaga_reward_background, fremsaga_reward:fremsaga_reward_border, fremsaga_reward:fremsaga_reward_content, fremsaga_reward:fremsaga_reward_close_button, "", 21217, string_1007)

// 102:75
[fremsaga_reward_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=fremsaga_reward

// 102:76
[fremsaga_reward_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=fremsaga_reward
onload=fremsaga_reward_setup

// 102:77
[fremsaga_reward_border]
type=layer
widthmode=minus
heightmode=minus
layer=fremsaga_reward

// 102:78
[fremsaga_reward_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=fremsaga_reward
transmitop1=yes
op1=Close
onop=closebutton_click

