// 22:0
[arianehead]
type=model
x=-4
y=12
width=65
height=66
layer=arianehead_boundary
model=fremsaga_signature_ariane_chat
modelorigin_x=13
modelorigin_y=1
modelangle_x=0
modelangle_y=1848
modelangle_z=0
modelzoom=3200
modelanim=human_update_chathead_neutral_idle
transmitop1=yes
op1=Switch

// 22:1
[ewain_button_layer]
type=layer
x=1
y=-16
width=67
height=83
ymode=abs_centre
layer=ewain

// 22:2
[ewainhead]
type=model
x=10
y=3
width=44
height=71
layer=ewain
model=fremsaga_signature_ewain_chat
modelorigin_x=4
modelorigin_y=4
modelangle_x=0
modelangle_y=1848
modelangle_z=0
modelzoom=2953
modelanim=human_update_chathead_neutral_idle
transmitop1=yes
op1=Switch

// 22:3
[ewain_prog_text_left]
type=graphic
x=1
y=67
width=5
height=13
layer=ewain
graphic="aif_progress_bar_txt_window,0"
colour=0xffffff
clickmask=no

// 22:4
[ewain_prog_text_right]
type=graphic
x=25
y=67
width=7
height=13
layer=ewain
graphic="aif_progress_bar_txt_window,0"
hflip=yes
colour=0xffffff
clickmask=no

// 22:5
[ewain_prog_text_mid]
type=graphic
x=6
y=67
width=20
height=13
layer=ewain
graphic="aif_progress_bar_txt_window,1"
colour=0xffffff
clickmask=no

// 22:6
[ewainhealth]
type=text
x=1
y=64
width=32
height=19
layer=ewain
textfont=verdana_11pt_regular
text=3200
textalignh=1
textalignv=1
textshadow=yes
colour=0xe9e2b4
onload=script4658(event_com)
onvartransmit=script4658(event_com)
onvartransmitlist=fremsaga_hp_1

// 22:7
[ewainname]
type=text
x=19
y=69
width=32
height=32
xmode=abs_right
layer=ewain
textfont=p11_full
text=Owen
textshadow=yes
colour=0xe9e2b4

// 22:8
[green_large_progress_layer]
type=layer
y=29
width=65
height=31
ymode=abs_centre
layer=ewain

// 22:9
[control_layer]
type=layer
x=-6
width=765
height=503

// 22:10
[border_layer]
type=layer
x=1
y=3
width=115
height=381
layer=control_layer

// 22:11
[com_11]
type=graphic
x=10
y=6
width=71
height=312
layer=border_layer
graphic=window_texture_2
colour=0xffffff
clickmask=no

// 22:12
[com_12]
type=graphic
x=19
width=58
height=11
layer=border_layer
graphic="aif_overlay_frame_gold_corner_1_shadow,2"
colour=0xffffff
clickmask=no

// 22:13
[com_13]
type=graphic
x=19
y=313
width=58
height=11
layer=border_layer
graphic="aif_overlay_frame_gold_corner_1_shadow,2"
vflip=yes
colour=0xffffff
clickmask=no

// 22:14
[com_14]
type=graphic
x=77
width=12
height=11
layer=border_layer
graphic="aif_overlay_frame_gold_corner_1_shadow,0"
colour=0xffffff
clickmask=no

// 22:15
[com_15]
type=graphic
x=7
y=11
width=12
height=302
layer=border_layer
graphic="aif_overlay_frame_gold_corner_1_shadow,1"
hflip=yes
colour=0xffffff
clickmask=no

// 22:16
[com_16]
type=graphic
x=77
y=11
width=12
height=304
layer=border_layer
graphic="aif_overlay_frame_gold_corner_1_shadow,1"
colour=0xffffff
clickmask=no

// 22:17
[com_17]
type=graphic
x=77
y=313
width=12
height=11
layer=border_layer
graphic="aif_overlay_frame_gold_corner_1_shadow,0"
vflip=yes
colour=0xffffff
clickmask=no

// 22:18
[com_18]
type=graphic
x=7
y=313
width=12
height=11
layer=border_layer
graphic="aif_overlay_frame_gold_corner_1_shadow,0"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 22:19
[com_19]
type=graphic
x=7
width=12
height=11
layer=border_layer
graphic="aif_overlay_frame_gold_corner_1_shadow,0"
hflip=yes
colour=0xffffff
clickmask=no

// 22:20
[ewain]
type=layer
x=15
y=8
width=86
height=122
layer=border_layer

// 22:21
[ozan]
type=layer
x=15
y=94
width=86
height=122
layer=border_layer

// 22:22
[ariane]
type=layer
x=15
y=197
width=87
height=122
layer=border_layer

// 22:23
[aif_bronze_button_dropshadow_right_graphic_2]
type=graphic
y=4
width=4
height=4
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=ewain_button_layer
graphic=button_dropshadow_left
tiling=yes
alpha=yes
colour=0xffffff
clickmask=no

// 22:24
[aif_bronze_button_dropshadow_bottom_graphic_2]
type=graphic
x=4
width=4
height=4
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=ewain_button_layer
graphic=button_dropshadow_bottom
tiling=yes
alpha=yes
colour=0xffffff
clickmask=no

// 22:25
[aif_bronze_button_dropshadow_bottom_right_graphic_2]
type=graphic
width=4
height=4
xmode=abs_right
ymode=abs_bottom
layer=ewain_button_layer
graphic=button_dropshadow_corner
alpha=yes
colour=0xffffff
clickmask=no

// 22:26
[icon_button_resize_on_layer]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ewain_button_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_on)

// 22:27
[icon_button_resize_over_layer]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ewain_button_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_over)

// 22:28
[icon_button_resize_hit_layer]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ewain_button_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_hit)

// 22:29
[ewain_button]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ewain_button_layer
onload=script4213(event_com)
onmouseover=script4637(1)

// 22:30
[ewain_select]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ewain_button_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_selected)

// 22:31
[icon_button_resize_content_layer]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ewain_button_layer

// 22:32
[graphic_container_4]
type=graphic
x=7
y=7
width=14
height=14
widthmode=minus
heightmode=minus
layer=icon_button_resize_content_layer
colour=0xffffff
clickmask=no

// 22:33
[model_container_4]
type=model
x=7
y=7
width=14
height=14
widthmode=minus
heightmode=minus
layer=icon_button_resize_content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1600
modelobjwidth=49
modelobjheight=65

// 22:34
[ewain_select_old]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ewain_button_layer
hide=yes
noclickthrough=yes
onload=script4205(event_com, aif_bronze_icon_resize_button_disabled)

// 22:35
[com_35]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=ewain_select_old
colour=0xffffff
fill=yes
trans=150

// 22:36
[com_36]
type=graphic
width=12
height=18
ymode=abs_centre
layer=green_large_progress_layer
graphic="aif_progress_bar_frame_3,0"
colour=0xffffff
clickmask=no

// 22:37
[com_37]
type=graphic
width=12
height=18
xmode=abs_right
ymode=abs_centre
layer=green_large_progress_layer
graphic="aif_progress_bar_frame_3,0"
hflip=yes
colour=0xffffff
clickmask=no

// 22:38
[com_38]
type=graphic
width=12
height=18
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_layer
graphic="aif_progress_bar_frame_3,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 22:39
[green_large_progress_value_bounds_layer]
type=layer
x=6
width=12
height=19
widthmode=minus
ymode=abs_centre
layer=green_large_progress_layer

// 22:40
[ewain_large_progress_value_layer]
type=layer
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=green_large_progress_value_bounds_layer
onload=script4658(event_com)
onvartransmit=script4658(event_com)
onvartransmitlist=fremsaga_hp_1

// 22:41
[com_41]
type=graphic
width=4
height=8
ymode=abs_centre
layer=ewain_large_progress_value_layer
graphic="aif_progress_bar_fill_1,0"
colour=0xffffff
clickmask=no

// 22:42
[com_42]
type=graphic
width=4
height=8
xmode=abs_right
ymode=abs_centre
layer=ewain_large_progress_value_layer
graphic="aif_progress_bar_fill_1,2"
colour=0xffffff
clickmask=no

// 22:43
[com_43]
type=graphic
width=4
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ewain_large_progress_value_layer
graphic="aif_progress_bar_fill_1,1"
tiling=yes
colour=0xffffff
clickmask=no

// 22:44
[ewain_large_progress_text_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_layer
hide=yes

// 22:45
[green_large_progress_text]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=ewain_large_progress_text_layer
hide=yes
textfont=verdana_11pt_regular
text=0%
textalignh=1
textalignv=1
colour=0xd5d9d3
onload=script4210(event_com, museo_sans_11pt_regular, ^white, 0)

// 22:46
[ozan_button_layer]
type=layer
x=1
y=-2
width=67
height=83
ymode=abs_centre
layer=ozan

// 22:47
[aif_bronze_button_dropshadow_right_graphic_5]
type=graphic
y=4
width=4
height=4
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=ozan_button_layer
graphic=button_dropshadow_left
tiling=yes
alpha=yes
colour=0xffffff
clickmask=no

// 22:48
[aif_bronze_button_dropshadow_bottom_graphic_5]
type=graphic
x=4
width=4
height=4
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=ozan_button_layer
graphic=button_dropshadow_bottom
tiling=yes
alpha=yes
colour=0xffffff
clickmask=no

// 22:49
[aif_bronze_button_dropshadow_bottom_right_graphic_5]
type=graphic
width=4
height=4
xmode=abs_right
ymode=abs_bottom
layer=ozan_button_layer
graphic=button_dropshadow_corner
alpha=yes
colour=0xffffff
clickmask=no

// 22:50
[icon_button_resize_on_layer_3]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ozan_button_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_on)

// 22:51
[icon_button_resize_over_layer_3]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ozan_button_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_over)

// 22:52
[icon_button_resize_hit_layer_3]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ozan_button_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_hit)

// 22:53
[ozan_button]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ozan_button_layer
onload=script4213(event_com)
onmouseover=script4637(1)

// 22:54
[ozan_select]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ozan_button_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_selected)

// 22:55
[icon_button_resize_content_layer_3]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ozan_button_layer

// 22:56
[graphic_container_7]
type=graphic
x=7
y=7
width=14
height=14
widthmode=minus
heightmode=minus
layer=icon_button_resize_content_layer_3
colour=0xffffff
clickmask=no

// 22:57
[model_container_7]
type=model
x=7
y=7
width=14
height=14
widthmode=minus
heightmode=minus
layer=icon_button_resize_content_layer_3
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1600
modelobjwidth=49
modelobjheight=65

// 22:58
[ozan_select_old]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ozan_button_layer
hide=yes
noclickthrough=yes
onload=script4205(event_com, aif_bronze_icon_resize_button_disabled)

// 22:59
[com_59]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=ozan_select_old
colour=0xffffff
fill=yes
trans=150

// 22:60
[com_60]
type=graphic
width=12
height=18
ymode=abs_centre
layer=ozan_large_progress_layer
graphic="aif_progress_bar_frame_3,0"
colour=0xffffff
clickmask=no

// 22:61
[com_61]
type=graphic
width=12
height=18
xmode=abs_right
ymode=abs_centre
layer=ozan_large_progress_layer
graphic="aif_progress_bar_frame_3,0"
hflip=yes
colour=0xffffff
clickmask=no

// 22:62
[com_62]
type=graphic
width=12
height=18
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ozan_large_progress_layer
graphic="aif_progress_bar_frame_3,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 22:63
[ozan_large_progress_value_bounds_layer]
type=layer
x=6
width=12
height=19
widthmode=minus
ymode=abs_centre
layer=ozan_large_progress_layer

// 22:64
[ozan_large_progress_value_layer]
type=layer
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=ozan_large_progress_value_bounds_layer
onload=script4659(event_com)
onvartransmit=script4659(event_com)
onvartransmitlist=fremsaga_hp_2

// 22:65
[com_65]
type=graphic
width=4
height=8
ymode=abs_centre
layer=ozan_large_progress_value_layer
graphic="aif_progress_bar_fill_1,0"
colour=0xffffff
clickmask=no

// 22:66
[com_66]
type=graphic
width=4
height=8
xmode=abs_right
ymode=abs_centre
layer=ozan_large_progress_value_layer
graphic="aif_progress_bar_fill_1,2"
colour=0xffffff
clickmask=no

// 22:67
[com_67]
type=graphic
width=4
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ozan_large_progress_value_layer
graphic="aif_progress_bar_fill_1,1"
tiling=yes
colour=0xffffff
clickmask=no

// 22:68
[ozan_large_progress_text_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=ozan_large_progress_layer
hide=yes

// 22:69
[ozan_large_progress_text]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=ozan_large_progress_text_layer
hide=yes
textfont=verdana_11pt_regular
text=0%
textalignh=1
textalignv=1
colour=0xd5d9d3
onload=script4210(event_com, museo_sans_11pt_regular, ^white, 0)

// 22:70
[ozanhead]
type=model
x=7
y=25
width=51
height=68
layer=ozan
model=fremsaga_signature_ozan_chat
modelorigin_x=4
modelorigin_y=2
modelangle_x=0
modelangle_y=1848
modelangle_z=0
modelzoom=2953
modelanim=human_update_chathead_neutral_idle
transmitop1=yes
op1=Switch

// 22:71
[ewain_prog_text_left_1]
type=graphic
x=1
y=83
width=5
height=13
layer=ozan
graphic="aif_progress_bar_txt_window,0"
colour=0xffffff
clickmask=no

// 22:72
[ewain_prog_text_right_1]
type=graphic
x=25
y=83
width=7
height=13
layer=ozan
graphic="aif_progress_bar_txt_window,0"
hflip=yes
colour=0xffffff
clickmask=no

// 22:73
[ewain_prog_text_mid_1]
type=graphic
x=6
y=83
width=20
height=13
layer=ozan
graphic="aif_progress_bar_txt_window,1"
colour=0xffffff
clickmask=no

// 22:74
[ozanhealth]
type=text
x=3
y=80
width=29
height=19
layer=ozan
textfont=verdana_11pt_regular
text=3200
textalignh=1
textalignv=1
textshadow=yes
colour=0xe9e2b4
onload=script4659(event_com)
onvartransmit=script4659(event_com)
onvartransmitlist=fremsaga_hp_2

// 22:75
[ozanname]
type=text
x=19
y=85
width=32
height=32
xmode=abs_right
layer=ozan
textfont=p11_full
text=Ozan
textshadow=yes
colour=0xe9e2b4

// 22:76
[ozan_large_progress_layer]
type=layer
y=44
width=65
height=30
ymode=abs_centre
layer=ozan

// 22:77
[ariane_button_layer]
type=layer
x=1
y=-2
width=67
height=83
ymode=abs_centre
layer=ariane

// 22:78
[arianehead_boundary]
type=layer
x=-2
y=17
width=78
height=110
layer=ariane

// 22:79
[aif_bronze_button_dropshadow_right_graphic_6]
type=graphic
y=4
width=4
height=4
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=ariane_button_layer
graphic=button_dropshadow_left
tiling=yes
alpha=yes
colour=0xffffff
clickmask=no

// 22:80
[aif_bronze_button_dropshadow_bottom_graphic_6]
type=graphic
x=4
width=4
height=4
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=ariane_button_layer
graphic=button_dropshadow_bottom
tiling=yes
alpha=yes
colour=0xffffff
clickmask=no

// 22:81
[aif_bronze_button_dropshadow_bottom_right_graphic_6]
type=graphic
width=4
height=4
xmode=abs_right
ymode=abs_bottom
layer=ariane_button_layer
graphic=button_dropshadow_corner
alpha=yes
colour=0xffffff
clickmask=no

// 22:82
[icon_button_resize_on_layer_4]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ariane_button_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_on)

// 22:83
[icon_button_resize_over_layer_4]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ariane_button_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_over)

// 22:84
[icon_button_resize_hit_layer_4]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ariane_button_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_hit)

// 22:85
[ariane_button]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ariane_button_layer
onload=script4213(event_com)

// 22:86
[ariane_select]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ariane_button_layer
onload=script4205(event_com, aif_bronze_icon_resize_button_selected)

// 22:87
[icon_button_resize_content_layer_4]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ariane_button_layer

// 22:88
[graphic_container_8]
type=graphic
x=7
y=7
width=14
height=14
widthmode=minus
heightmode=minus
layer=icon_button_resize_content_layer_4
colour=0xffffff
clickmask=no

// 22:89
[model_container_8]
type=model
x=7
y=7
width=14
height=14
widthmode=minus
heightmode=minus
layer=icon_button_resize_content_layer_4
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1600
modelobjwidth=49
modelobjheight=65

// 22:90
[ariane_select_old]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
layer=ariane_button_layer
hide=yes
noclickthrough=yes
onload=script4205(event_com, aif_bronze_icon_resize_button_disabled)

// 22:91
[com_91]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=ariane_select_old
colour=0xffffff
fill=yes
trans=150

// 22:92
[com_92]
type=graphic
width=12
height=18
ymode=abs_centre
layer=ariane_large_progress_layer
graphic="aif_progress_bar_frame_3,0"
colour=0xffffff
clickmask=no

// 22:93
[com_93]
type=graphic
width=12
height=18
xmode=abs_right
ymode=abs_centre
layer=ariane_large_progress_layer
graphic="aif_progress_bar_frame_3,0"
hflip=yes
colour=0xffffff
clickmask=no

// 22:94
[com_94]
type=graphic
width=12
height=18
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ariane_large_progress_layer
graphic="aif_progress_bar_frame_3,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 22:95
[ariane_large_progress_value_bounds_layer]
type=layer
x=6
width=12
height=19
widthmode=minus
ymode=abs_centre
layer=ariane_large_progress_layer

// 22:96
[ariane_large_progress_value_layer]
type=layer
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=ariane_large_progress_value_bounds_layer
onload=script4660(event_com)
onvartransmit=script4660(event_com)
onvartransmitlist=fremsaga_hp_3

// 22:97
[com_97]
type=graphic
width=4
height=8
ymode=abs_centre
layer=ariane_large_progress_value_layer
graphic="aif_progress_bar_fill_1,0"
colour=0xffffff
clickmask=no

// 22:98
[com_98]
type=graphic
width=4
height=8
xmode=abs_right
ymode=abs_centre
layer=ariane_large_progress_value_layer
graphic="aif_progress_bar_fill_1,2"
colour=0xffffff
clickmask=no

// 22:99
[com_99]
type=graphic
width=4
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ariane_large_progress_value_layer
graphic="aif_progress_bar_fill_1,1"
tiling=yes
colour=0xffffff
clickmask=no

// 22:100
[ewain_large_progress_text_layer_2]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=ariane_large_progress_layer
hide=yes

// 22:101
[ariane_large_progress_text]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=ewain_large_progress_text_layer_2
hide=yes
textfont=verdana_11pt_regular
text=0%
textalignh=1
textalignv=1
colour=0xd5d9d3
onload=script4210(event_com, museo_sans_11pt_regular, ^white, 0)

// 22:102
[ewain_prog_text_left_2]
type=graphic
x=1
y=83
width=5
height=13
layer=ariane
graphic="aif_progress_bar_txt_window,0"
colour=0xffffff
clickmask=no

// 22:103
[ewain_prog_text_right_2]
type=graphic
x=25
y=83
width=7
height=13
layer=ariane
graphic="aif_progress_bar_txt_window,0"
hflip=yes
colour=0xffffff
clickmask=no

// 22:104
[ewain_prog_text_mid_2]
type=graphic
x=6
y=83
width=20
height=13
layer=ariane
graphic="aif_progress_bar_txt_window,1"
colour=0xffffff
clickmask=no

// 22:105
[arianehealth]
type=text
x=3
y=80
width=29
height=19
layer=ariane
textfont=verdana_11pt_regular
text=3200
textalignh=1
textalignv=1
textshadow=yes
colour=0xe9e2b4
onload=script4660(event_com)
onvartransmit=script4660(event_com)
onvartransmitlist=fremsaga_hp_3

// 22:106
[arianename]
type=text
x=34
y=85
width=34
height=32
layer=ariane
textfont=p11_full
text=Ariane
textshadow=yes
colour=0xe9e2b4

// 22:107
[ariane_large_progress_layer]
type=layer
y=44
width=65
height=30
ymode=abs_centre
layer=ariane

