// 1108:0
[static_dropdown]
type=layer
x=5
width=157
height=24
ymode=abs_centre
layer=filter_layer

// 1108:1
[options_layer]
type=layer
x=5
y=5
width=162
height=36
heightmode=minus
layer=mainmodal_window_content

// 1108:2
[chat_frame]
type=layer
x=170
y=5
width=198
height=38
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onload=friendschatsetup_onload(event_com)
onvartransmit=script11954
onvartransmitlist=rand_temp_int_26

// 1108:3
[scrollbar]
type=layer
x=8
y=30
width=16
height=65
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 1108:4
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(friendschatsetup:mainmodal_window_background, friendschatsetup:mainmodal_window_border, friendschatsetup:mainmodal_window_content, friendschatsetup:mainmodal_window_close_button, "Friends Chat Setup", 21218, string_1007)

// 1108:5
[icon]
type=layer
width=14
heightmode=minus
layer=chat_scroller

// 1108:6
[name]
type=layer
x=14
width=156
widthmode=minus
heightmode=minus
layer=chat_scroller

// 1108:7
[rank]
type=layer
x=156
width=156
widthmode=minus
heightmode=minus
layer=chat_scroller

// 1108:8
[opt_prefix_head]
type=text
width=125
height=10
xmode=abs_centre
layer=options_layer
textfont=cinzel_12pt_bold
text=Chat name:
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb1f

// 1108:9
[opt_prefix]
type=text
width=151
height=30
xmode=abs_centre
layer=options_layer
textfont=tutorial_font
text=Chat disabled
textalignh=1
textalignv=2
textshadow=yes
transmitop1=yes
transmitop2=yes
op1=Set prefix
op2=Disable

// 1108:10
[enter_title_txt]
type=text
y=40
width=125
height=10
xmode=abs_centre
layer=options_layer
textfont=cinzel_12pt_bold
text=Who can enter?
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1108:11
[opt_enter]
type=text
y=40
width=150
height=30
xmode=abs_centre
layer=options_layer
textfont=tutorial_font
text=Any friends
textalignh=1
textalignv=2
textshadow=yes
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop6=yes
transmitop7=yes
transmitop8=yes
transmitop9=yes
op1=Anyone
op2=Any friends
op3=Recruit+
op4=Corporal+
op5=Sergeant+
op6=Lieutenant+
op7=Captain+
op8=General+
op9=Only me

// 1108:12
[talk_title_text]
type=text
y=80
width=125
height=10
xmode=abs_centre
layer=options_layer
textfont=cinzel_12pt_bold
text=Who can talk?
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1108:13
[opt_talk]
type=text
x=6
y=80
width=150
height=30
layer=options_layer
textfont=tutorial_font
text=Anyone
textalignh=1
textalignv=2
textshadow=yes
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop6=yes
transmitop7=yes
transmitop8=yes
transmitop9=yes
op1=Anyone
op2=Any friends
op3=Recruit+
op4=Corporal+
op5=Sergeant+
op6=Lieutenant+
op7=Captain+
op8=General+
op9=Only me

// 1108:14
[kick_title_text]
type=text
y=120
width=125
height=10
xmode=abs_centre
layer=options_layer
textfont=cinzel_12pt_bold
text=Who can kick ?
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1108:15
[opt_kick]
type=text
x=6
y=120
width=150
height=30
layer=options_layer
textfont=tutorial_font
text=Only me
textalignh=1
textalignv=2
textshadow=yes
transmitop4=yes
transmitop5=yes
transmitop6=yes
transmitop7=yes
transmitop8=yes
transmitop9=yes
op4=Corporal+
op5=Sergeant+
op6=Lieutenant+
op7=Captain+
op8=General+
op9=Only me

// 1108:16
[loot_title_text]
type=text
y=160
width=125
height=10
xmode=abs_centre
layer=options_layer
textfont=cinzel_12pt_bold
text=Who can share loot?
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1108:17
[opt_loot]
type=text
x=5
y=160
width=151
height=30
layer=options_layer
textfont=tutorial_font
text=No one
textalignh=1
textalignv=2
textshadow=yes
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop6=yes
transmitop7=yes
transmitop8=yes
transmitop9=yes
op1=No-one
op2=Anyone
op3=Any friends
op4=Recruit+
op5=Corporal+
op6=Sergeant+
op7=Lieutenant+
op8=Captain+
op9=General+

// 1108:18
[coinshare_text]
type=text
x=32
y=200
width=107
height=10
layer=options_layer
textfont=cinzel_12pt_bold
text=CoinShare
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1108:19
[icon_coinshare]
type=graphic
x=9
y=194
width=24
height=24
layer=options_layer
graphic="rs3_icon_lobby_loot_share,3"
clickmask=no

// 1108:20
[opt_coinshare]
type=graphic
x=140
y=197
width=15
height=15
layer=options_layer
graphic="radio_buttons,0"
clickmask=no
transmitop1=yes
op1=Toggle CoinShare
onvartransmit=script4153
onvartransmitlist=loot_var

// 1108:21
[instruction_text]
type=text
x=1
y=220
width=162
height=31
layer=options_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script15720(event_com, event_comsubid, 9)
onvartransmit=script15720(event_com, event_comsubid, 9)
onvartransmitlist=toplevel_v2_general_varp

// 1108:22
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=chat_frame
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1108:23
[title_name]
type=text
x=20
width=161
height=20
widthmode=minus
layer=chat_frame
textfont=cinzel_13pt_bold
text=Name
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1108:24
[title_rank]
type=text
x=161
width=161
height=20
widthmode=minus
layer=chat_frame
textfont=cinzel_13pt_bold
text=Rank
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1108:25
[com_25]
type=line
x=1
y=20
width=2
widthmode=minus
layer=chat_frame
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1108:26
[com_26]
type=line
y=1
height=2
heightmode=minus
xmode=abs_centre
layer=chat_frame
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1108:27
[chat_scroller]
type=layer
x=5
y=25
width=5
height=30
widthmode=minus
heightmode=minus
layer=chat_frame

// 1108:28
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1108:29
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1108:30
[filter_layer]
type=layer
y=2
height=28
widthmode=minus
ymode=abs_bottom
layer=mainmodal_window_content

// 1108:31
[aif_text_input]
type=layer
x=162
y=-5
width=170
height=50
widthmode=minus
ymode=abs_bottom
layer=filter_layer

// 1108:32
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1108:33
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1108:34
[dropdown_build]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown

// 1108:35
[dropdown_click]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1108:36
[text_input_box]
type=layer
x=8
width=11
height=40
widthmode=minus
ymode=abs_bottom
layer=aif_text_input

// 1108:37
[text_input_border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_box
onload=rs3_background_panel(event_com, rs3_text_entry_box_active)

// 1108:38
[text_input_listener]
type=layer
width=16391
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_box
noclickthrough=yes

// 1108:39
[text_input_listen]
type=text
x=28
width=28
height=21
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=text_input_listener
hide=yes
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xfffefe

// 1108:40
[text_input_caret]
type=rectangle
width=2
height=14
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
colour=0xe2dede
fill=yes

// 1108:41
[text_input_display]
type=text
height=21
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
textfont=museo_sans_11pt_regular
text=Interact here to search
textalignh=1
textalignv=1
textshadow=yes
transmitop1=yes
op1=Enter search term
onmouseover=rs3_background_panel(friendschatsetup:text_input_border, rs3_text_entry_box_over)
onmouseleave=rs3_background_panel(friendschatsetup:text_input_border, rs3_text_entry_box_active)
onop=friendschatsetup_search
onclick=script7203(friendschatsetup:text_input_stop_click, friendschatsetup:text_input_clickout)

// 1108:42
[text_input_stop_click]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
noclickthrough=yes

// 1108:43
[cancel_search]
type=layer
x=5
y=1
width=16
height=15
xmode=abs_right
ymode=abs_centre
layer=text_input_box

// 1108:44
[text_input_clickout]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_search
hide=yes
noclickthrough=yes

// 1108:45
[com_45]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_search
graphic="aif_bronze_close_button_1,0"
colour=0xffffff
clickmask=no

// 1108:46
[com_46]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_search
graphic="aif_bronze_close_button_1,1"
trans=255
colour=0xffffff
clickmask=no
onmouseover=script4209(event_com, 0)
onmouseleave=script4209(event_com, 1)

