// 1109:0
[joinleave_button_layer]
type=layer
x=5
y=3
width=24
height=24
ymode=abs_bottom
layer=button_layer

// 1109:1
[chatsettings_button_layer]
type=layer
x=32
y=3
width=24
height=24
ymode=abs_bottom
layer=button_layer

// 1109:2
[info_txt]
type=text
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=info_layer
textfont=museo_sans_11pt_regular
text=To join a channel, use the button in the bottom-left, then enter the name of the player whose channel you wish to chat in.<br><br>Once in a Friends Chat channel, you can talk by starting your chat with an /.
textalignh=1
textalignv=1
textshadow=yes

// 1109:3
[1x1_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chatsettings_button_layer
onload=script9992(event_com)

// 1109:4
[1x1_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chatsettings_button_layer
onload=script9993(event_com)

// 1109:5
[1x1_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chatsettings_button_layer
onload=script9994(event_com)

// 1109:6
[1x1_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chatsettings_button_layer
hide=yes
onload=script9996(event_com)

// 1109:7
[chatsettings_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=chatsettings_button_layer
transmitop1=yes
op1=Open Settings
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Friends Chat settings<br>Here you can adjust the settings<br>for your own Friends Chat channel.", event_com, event_comsubid)

// 1109:8
[1x1_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chatsettings_button_layer
hide=yes
onload=script9998(event_com)

// 1109:9
[1x1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=joinleave_button_layer
onload=script9992(event_com)

// 1109:10
[1x1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=joinleave_button_layer
onload=script9993(event_com)

// 1109:11
[1x1_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=joinleave_button_layer
onload=script9994(event_com)

// 1109:12
[1x1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=joinleave_button_layer
hide=yes
onload=script9996(event_com)

// 1109:13
[joinleave_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=joinleave_button_layer
transmitop1=yes
op1=Join Chat
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Join / leave a Friends Chat channel", event_com, event_comsubid)

// 1109:14
[1x1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=joinleave_button_layer
hide=yes
onload=script9998(event_com)

// 1109:15
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer
onload=script8410(15)

// 1109:16
[content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 1109:17
[layer_1]
type=layer
width=512
height=334
layer=content_layer

// 1109:18
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 1109:19
[channeldetails]
type=text
height=30
widthmode=minus
xmode=abs_centre
layer=content_layer
textfont=museo_sans_11pt_regular
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xff9b00

// 1109:20
[com_20]
type=rectangle
y=30
height=60
widthmode=minus
heightmode=minus
layer=content_layer
colour=0x000000
fill=yes
trans=150

// 1109:21
[scrolling_layer]
type=layer
y=30
width=16
height=60
widthmode=minus
heightmode=minus
layer=content_layer

// 1109:22
[clanlistscrollbar]
type=layer
y=30
width=16
height=60
heightmode=minus
xmode=abs_right
layer=content_layer

// 1109:23
[clanlist_drag]
type=layer
x=31
y=30
width=72
height=60
widthmode=minus
heightmode=minus
layer=content_layer

// 1109:24
[info_layer]
type=layer
y=30
height=60
widthmode=minus
heightmode=minus
layer=content_layer
noclickthrough=yes

// 1109:25
[friendschat_show_context_menu_button_layer]
type=layer
x=5
y=3
width=24
height=24
ymode=abs_bottom
layer=content_layer
hide=yes

// 1109:26
[button_layer]
type=layer
height=30
widthmode=minus
ymode=abs_bottom
layer=content_layer
noclickthrough=yes

// 1109:27
[favourite_chat_button_layer]
type=layer
x=59
y=3
width=24
height=24
ymode=abs_bottom
layer=button_layer

// 1109:28
[top_icons_layer]
type=layer
x=5
y=3
width=51
height=24
xmode=abs_right
ymode=abs_bottom
layer=content_layer

// 1109:29
[friendcount_text]
type=text
x=87
y=3
width=147
height=24
widthmode=minus
ymode=abs_bottom
layer=content_layer
textfont=museo_sans_11pt_regular
textalignv=1
textshadow=yes
maxlines=2

// 1109:30
[bottom_line]
type=layer
y=30
height=2
widthmode=minus
ymode=abs_bottom
layer=content_layer
onload=script349(event_com)

// 1109:31
[top_line]
type=layer
y=30
height=2
widthmode=minus
layer=content_layer
onload=script349(event_com)

// 1109:32
[main_layer]
type=layer
widthmode=minus
heightmode=minus

// 1109:33
[clanlist]
type=layer
x=6
width=6
widthmode=minus
heightmode=minus
layer=scrolling_layer
onload=friends_chat_onload(event_com, 72679446, 1109)

// 1109:34
[rank_layer]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_layer

// 1109:35
[world_icon_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=scrolling_layer

// 1109:36
[world_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=scrolling_layer

// 1109:37
[world_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=scrolling_layer

// 1109:38
[drag_layer]
type=layer
x=40
width=4
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=clanlist_drag
hide=yes
transmitop10=yes
dragdepth=1
op10=  
dragrenderbehaviour=1
ondragcomplete=friends_chat_drag(event_mousex, 1109)

// 1109:39
[sep]
type=graphic
width=2
heightmode=minus
xmode=abs_centre
layer=drag_layer
graphic=friends_line
tiling=yes
trans=179
clickmask=no
transmitop10=yes
op10=  

// 1109:40
[joinleave_button_graphic]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=joinleave_button_active_layer
graphic="aif_clanchat_icons,13"
colour=0xffffff
clickmask=no

// 1109:41
[chatsettings_button_graphic]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=chatsettings_button_active_layer
graphic="aif_clanchat_icons,1"
colour=0xffffff
clickmask=no

// 1109:42
[loot_button]
type=graphic
width=24
height=24
xmode=abs_right
ymode=abs_centre
layer=top_icons_layer
graphic="rs3_icon_lobby_loot_share,1"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Toggle-LootShare
onmouseleave=script8805
onvartransmit=script1597(event_com)
ontimer=loot_ontimer(event_com)
onop=loot_toggle_client(event_op, event_com)
onmouserepeat=script8799("Toggle LootShare", event_com, event_comsubid)
onvartransmitlist=loot_var

// 1109:43
[kick_button_layer]
type=layer
width=24
height=24
ymode=abs_centre
layer=top_icons_layer

// 1109:44
[1x1_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=kick_button_layer
onload=script9992(event_com)

// 1109:45
[1x1_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=kick_button_layer
onload=script9993(event_com)

// 1109:46
[1x1_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=kick_button_layer
onload=script9994(event_com)

// 1109:47
[1x1_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=kick_button_layer
hide=yes
onload=script9996(event_com)

// 1109:48
[kick_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=kick_button_layer
transmitop1=yes
op1=Kick/ban
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Temporarily kick & ban a player.", event_com, event_comsubid)

// 1109:49
[kick_button_graphic]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=kick_button_active_layer
graphic="aif_clanchat_icons,10"
colour=0xffffff
clickmask=no

// 1109:50
[1x1_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=kick_button_layer
hide=yes
onload=script9998(event_com)

// 1109:51
[1x1_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=friendschat_show_context_menu_button_layer
onload=script9992(event_com)

// 1109:52
[1x1_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=friendschat_show_context_menu_button_layer
onload=script9993(event_com)

// 1109:53
[1x1_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=friendschat_show_context_menu_button_layer
onload=script9994(event_com)

// 1109:54
[1x1_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=friendschat_show_context_menu_button_layer
hide=yes
onload=script9996(event_com)

// 1109:55
[friendschat_show_context_menu_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=friendschat_show_context_menu_button_layer
transmitop1=yes
op1=Expand friend actions
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Expand friend chat actions", event_com, event_comsubid)

// 1109:56
[friends_show_context_menu_button_gfx]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=friendschat_show_context_menu_button_active_layer
graphic=rs3_chat_filter_dropdown
colour=0xffffff
clickmask=no

// 1109:57
[1x1_button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=friendschat_show_context_menu_button_layer
hide=yes
onload=script9998(event_com)

// 1109:58
[1x1_button_on_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=favourite_chat_button_layer
onload=script9992(event_com)

// 1109:59
[1x1_button_over_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=favourite_chat_button_layer
onload=script9993(event_com)

// 1109:60
[1x1_button_hit_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=favourite_chat_button_layer
onload=script9994(event_com)

// 1109:61
[1x1_button_selected_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=favourite_chat_button_layer
hide=yes
onload=script9996(event_com)

// 1109:62
[favourite_chat_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=favourite_chat_button_layer
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Opens or sets up your favourite chats.", event_com, event_comsubid)

// 1109:63
[favourite_chat_button_graphic]
type=graphic
width=14
height=14
xmode=abs_centre
ymode=abs_centre
layer=favourite_chat_button_active_layer
graphic="achievement_icon_favourites_14px,4"
colour=0xffffff
clickmask=no

// 1109:64
[1x1_button_disabled_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=favourite_chat_button_layer
hide=yes
onload=script9998(event_com)

