// 451:0
[background]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=modal_dialog_window_content
graphic=rs3_child_content_tile
tiling=yes
colour=0xffffff
clickmask=no
onload=script11654(friends_edit_note:background, -1)

// 451:1
[input]
type=layer
y=-6
width=224
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=modal_dialog_window_content
ontimer=script1400(0, friends_edit_note:input_caret)

// 451:2
[desc]
type=text
y=-28
width=224
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular
text=Note (30 characters max)
textshadow=yes
colour=0x7592a0
onload=script2732(friends_edit_note:desc, -1, 3)

// 451:3
[text_input_border]
type=layer
height=40
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=input
onload=rs3_background_panel(event_com, rs3_text_entry_box_active)
onmouseover=rs3_background_panel(event_com, rs3_text_entry_box_over)
onmouseleave=rs3_background_panel(event_com, rs3_text_entry_box_active)

// 451:4
[input_text_layer]
type=layer
width=2
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=input

// 451:5
[input_caret]
type=rectangle
x=4
y=5
width=1
height=16
layer=input_text_layer
colour=0xffffff
fill=yes

// 451:6
[input_text]
type=text
x=4
width=4000
height=25
layer=input_text_layer
textfont=museo_sans_11pt_regular
textalignv=1
textshadow=yes

// 451:7
[modal_dialog_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 451:8
[modal_dialog_window_background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 451:9
[modal_dialog_window_content]
type=layer
y=38
width=12
height=44
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 451:10
[delete_button]
type=layer
x=-120
y=3
width=100
height=27
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content

// 451:11
[cancel_button]
type=layer
y=2
width=100
height=27
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content

// 451:12
[accept_button]
type=layer
x=120
y=2
width=100
height=27
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content

// 451:13
[com_13]
type=graphic
x=53
y=-10
width=38
height=30
ymode=abs_centre
layer=modal_dialog_window_content
graphic="aif_friends_list_icons_30,1"
colour=0xffffff
clickmask=no

// 451:14
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window
onload=script8420(friends_edit_note:modal_dialog_window_background, friends_edit_note:modal_dialog_window_border, friends_edit_note:modal_dialog_window_content, friends_edit_note:modal_dialog_window_close_button, "Edit Note", 23001, string_1006)

// 451:15
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=script9210

// 451:16
[positive_3x1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_button
onload=script7753(event_com, aif_3x1_positive_tab_on, 27)

// 451:17
[positive_3x1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accept_button
onload=script7753(event_com, aif_3x1_positive_tab_over, 27)

// 451:18
[positive_3x1_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=accept_button

// 451:19
[positive_3x1_button_text_1]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_3x1_button_text_layer
textfont=cinzel_13pt_bold
text=OK
textalignh=1
textalignv=1

// 451:20
[positive_3x1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
layer=accept_button
onload=script7753(event_com, aif_3x1_positive_tab_selected, 27)

// 451:21
[positive_3x1_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=accept_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9207

// 451:22
[positive_3x1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accept_button
onload=script7753(event_com, aif_3x1_positive_tab_disabled, 27)

// 451:23
[neutral_3x1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button
onload=script7753(event_com, aif_3x1_neutral_tab_on, 27)

// 451:24
[neutral_3x1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=cancel_button
onload=script7753(event_com, aif_3x1_neutral_tab_over, 27)

// 451:25
[neutral_3x1_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=cancel_button

// 451:26
[neutral_3x1_button_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_3x1_button_text_layer
textfont=cinzel_13pt_bold
text=Cancel
textalignh=1
textalignv=1

// 451:27
[neutral_3x1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
layer=cancel_button
onload=script7753(event_com, aif_3x1_neutral_tab_selected, 27)

// 451:28
[neutral_3x1_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=cancel_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onclick=script9210

// 451:29
[neutral_3x1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=cancel_button
onload=script7753(event_com, aif_3x1_neutral_tab_disabled, 27)

// 451:30
[neutral_3x1_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=delete_button
onload=script7753(event_com, aif_3x1_neutral_tab_on, 27)

// 451:31
[neutral_3x1_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=delete_button
onload=script7753(event_com, aif_3x1_neutral_tab_over, 27)

// 451:32
[neutral_3x1_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=delete_button

// 451:33
[neutral_3x1_button_text_1]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_3x1_button_text_layer_1
textfont=cinzel_13pt_bold
text=Clear
textalignh=1
textalignv=1

// 451:34
[neutral_3x1_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=delete_button
onload=script7753(event_com, aif_3x1_neutral_tab_selected, 27)

// 451:35
[neutral_3x1_button_active_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=delete_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onclick=script9209

// 451:36
[neutral_3x1_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=delete_button
onload=script7753(event_com, aif_3x1_neutral_tab_disabled, 27)

