// 1055:0
[mainmodal_window]
type=layer
width=650
height=400
xmode=abs_centre
ymode=abs_centre
onload=script8420(gamemode_seasonal_transition:mainmodal_window_background, gamemode_seasonal_transition:mainmodal_window_border, gamemode_seasonal_transition:mainmodal_window_content, null, "Fresh Start World Event Transition", 1728, string_1047)

// 1055:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1055:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1055:3
[content_panel_blue]
type=layer
y=8
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1055:4
[inner_border]
type=layer
width=36
height=36
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 1055:5
[confirm_modal]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes

// 1055:6
[title_text]
type=text
height=30
widthmode=minus
layer=inner_border
noclickthrough=yes
textfont=notosans_bold_18
text=The Fresh Start World Event will end in:
textalignh=1
textalignv=1
colour=0xfff7d6
onload=gamemode_seasonal_transition_title_setup(event_com, gamemode_seasonal_transition:time_title, gamemode_seasonal_transition:time_remaining)

// 1055:7
[time]
type=layer
y=32
height=40
widthmode=minus
layer=inner_border

// 1055:8
[transition_text]
type=text
y=75
width=20
height=35
widthmode=minus
xmode=abs_centre
layer=inner_border
noclickthrough=yes
textfont=notosans_14
text=Do you wish to transition back to the Standard Game now?<br><col=EB2F2F>This can not be reversed.
textalignh=1
textalignv=1
colour=0xddf2ff

// 1055:9
[blacklist_text]
type=text
y=115
width=20
height=20
widthmode=minus
xmode=abs_centre
layer=inner_border
noclickthrough=yes
textfont=notosans_14
text=Unfortunately, you will lose these items when you leave this mode.
textalignh=1
textalignv=1
colour=0xddf2ff

// 1055:10
[blacklist]
type=layer
y=140
width=20
height=190
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=inner_border
onload=script16889(event_com, gamemode_seasonal_transition:blacklist_scrolling, gamemode_seasonal_transition:blacklist_scrollbar, gamemode_seasonal_transition:blacklist_text, gamemode_seasonal_transition:mainmodal_window)

// 1055:11
[btn_panel]
type=panel
width=20
height=40
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=inner_border
noclickthrough=yes
isvertical=no
childspacing=0
onload=script16886(event_com, gamemode_seasonal_transition:confirm_modal)

// 1055:12
[time_title]
type=text
width=20
height=15
widthmode=minus
xmode=abs_centre
layer=time
noclickthrough=yes
textfont=notosans_11
text=Days : Hours : Minutes
textalignh=1
textalignv=1
colour=0x678390

// 1055:13
[time_remaining]
type=text
x=-8
width=20
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=time
noclickthrough=yes
textfont=notosans_bold_25
text=01:22:13
textalignh=1
textalignv=1

// 1055:14
[com_14]
type=rectangle
widthmode=minus
heightmode=minus
layer=blacklist
hide=yes
colour=0x000000

// 1055:15
[com_15]
type=rectangle
widthmode=minus
heightmode=minus
layer=blacklist
hide=yes
colour=0x000000
fill=yes
trans=150

// 1055:16
[blacklist_scrolling]
type=layer
x=4
width=24
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=blacklist

// 1055:17
[blacklist_scrollbar]
type=layer
x=4
width=16
height=8
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=blacklist

// 1055:18
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1055:19
[blackout]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirm_modal
noclickthrough=yes

// 1055:20
[gradient_l]
type=graphic
width=317
widthmode=minus
heightmode=minus
xmode=abs_right
layer=blackout
noclickthrough=yes
graphic=gradient_square_white_heavy_rot
colour=0x00000a
clickmask=no

// 1055:21
[gradient_r]
type=graphic
width=317
widthmode=minus
heightmode=minus
layer=blackout
noclickthrough=yes
graphic=gradient_square_white_heavy_rot
hflip=yes
colour=0x00000a
clickmask=no

// 1055:22
[panel]
type=layer
width=600
height=260
xmode=abs_centre
ymode=abs_centre
layer=confirm_modal

// 1055:23
[confirm_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=panel
onload=script8420(gamemode_seasonal_transition:confirm_bg, gamemode_seasonal_transition:confirm_border, gamemode_seasonal_transition:confirm_content, null, "", 28782, null)

// 1055:24
[confirm_bg]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=confirm_window

// 1055:25
[confirm_content]
type=layer
y=42
width=64
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirm_window

// 1055:26
[border_offset]
type=layer
width=20
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirm_content

// 1055:27
[confirm_title]
type=text
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=border_offset
textfont=notosans_bold_22
text=Please Confirm
textalignh=1
textalignv=1
textshadow=yes
colour=0xfff7d6

// 1055:28
[confirm_game_name]
type=text
y=35
width=20
height=40
widthmode=minus
xmode=abs_centre
layer=border_offset
textfont=notosans_bold_15
text=Are you sure you want to leave the Fresh Start Worlds event?
textalignh=1
textalignv=1
textshadow=yes

// 1055:29
[confirm_body]
type=text
y=80
width=20
height=70
widthmode=minus
xmode=abs_centre
layer=border_offset
textfont=notosans_13
text=Please confirm that you wish to leave the event.<br><br>You will lose all items listed on the previous screen when you transition.
textalignh=1
textshadow=yes
colour=0xaed0e0

// 1055:30
[btn_confirm_no]
type=button
x=20
width=210
height=40
ymode=abs_bottom
layer=border_offset
noclickthrough=yes
sprite.graphic=button_action_neutral
text.fontmono=no
text.text=Cancel
text.textshadow=no
stylesheet=button_action_neutral
transmitop1=yes
op1=Cancel
onload=stylesheet_set(event_com)
onbuttonpressed=gamemode_seasonal_transition_confirm_close(gamemode_seasonal_transition:confirm_modal)

// 1055:31
[btn_confirm_yes]
type=button
x=20
width=210
height=40
xmode=abs_right
ymode=abs_bottom
layer=border_offset
noclickthrough=yes
sprite.graphic=button_action_positive
text.fontmono=no
text.text=Leave Fresh Start Worlds
text.textshadow=no
stylesheet=button_action_positive
transmitop1=yes
op1=Leave Fresh Start Worlds
onload=stylesheet_set(event_com)

// 1055:32
[confirm_border]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_window

// 1055:33
[confirm_info_icon]
type=graphic
width=41
height=41
xmode=abs_centre
layer=confirm_window
noclickthrough=yes
graphic=rs3_info_display_symbol_2
colour=0xffffff
clickmask=no

