// 1066:0
[base]
type=layer
widthmode=minus
heightmode=minus
noclickthrough=yes
onload=script16891
onvartransmit=script16891
onvartransmitlist=gamemode_seasonal_fss_registration_temp

// 1066:1
[listeners_and_timers]
type=layer
width=1
height=1
layer=base

// 1066:2
[bg_loader]
type=layer
width=1
height=1
layer=listeners_and_timers
onload=script16890(gamemode_seasonal_fss_registration:base, gamemode_seasonal_fss_registration:background_layer)

// 1066:3
[background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=base

// 1066:4
[titled_window]
type=layer
width=960
height=540
xmode=abs_centre
ymode=abs_centre
layer=base
noclickthrough=yes

// 1066:5
[fresh_start]
type=layer
width=7950
height=60
widthmode=proportion
heightmode=minus
layer=mode_choice
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script16893(event_com)

// 1066:6
[default]
type=layer
width=7950
height=60
widthmode=proportion
heightmode=minus
xmode=abs_right
layer=mode_choice
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script16893(event_com)

// 1066:7
[confirm_mode]
type=button
width=250
height=37
xmode=abs_centre
ymode=abs_bottom
layer=mode_choice
noclickthrough=yes
sprite.graphic=button_action_primary_37px
text.text=Confirm Mode
stylesheet=button_action_primary_37px
transmitop1=yes
op1=Confirm
onload=stylesheet_set(event_com)

// 1066:8
[blackout]
type=layer
width=924
heightmode=minus
xmode=abs_centre
layer=mode_choice_confirm
noclickthrough=yes

// 1066:9
[bg_paywall]
type=graphic
width=878
height=72
widthmode=aspect
heightmode=minus
xmode=abs_centre
aspectwidth=820
aspectheight=336
layer=paywall
noclickthrough=yes
graphic=rs_fsw_ui_signup_keyart
colour=0xffffff
clickmask=no

// 1066:10
[title_paywall]
type=text
y=5
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=paywall
textfont=cinzel_18pt_bold
text=Fresh Start Worlds is a special Members' Event
textalignh=1
textalignv=1
textshadow=yes
colour=0xfff7d6

// 1066:11
[subtitle_paywall]
type=text
y=40
width=180
height=20
widthmode=minus
xmode=abs_centre
layer=paywall
textfont=notosans_bold_15
text=Become a Member now to join the Fresh Start Worlds event.
textalignh=1
textalignv=1
textshadow=yes
colour=0xd2d2d2

// 1066:12
[paywall_upsell]
type=layer
y=70
width=370
height=180
heightmode=minus
xmode=abs_centre
layer=paywall

// 1066:13
[text_paywall]
type=text
y=80
width=40
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=paywall
textfont=notosans_15
textalignh=1
textshadow=yes
colour=0xffcb05

// 1066:14
[paywall_icon_member]
type=graphic
x=40
y=60
width=220
height=256
heightmode=aspect
layer=paywall
noclickthrough=yes
graphic=rs_fsw_ui_membership
colour=0xffffff
clickmask=no

// 1066:15
[buttons]
type=layer
y=20
width=20
height=40
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=paywall

// 1066:16
[paywall_cancel]
type=button
width=220
height=40
ymode=abs_bottom
layer=buttons
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Back to Mode Select
stylesheet=button_action_neutral
transmitop1=yes
op1=Go Back
onload=stylesheet_set(event_com)

// 1066:17
[paywall_buy]
type=button
width=250
height=40
xmode=abs_centre
ymode=abs_bottom
layer=buttons
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Become a Member
stylesheet=button_action_positive
transmitop1=yes
op1=Purchase Membership
onload=stylesheet_set(event_com)

// 1066:18
[paywall_code]
type=button
width=220
height=40
xmode=abs_right
ymode=abs_bottom
layer=buttons
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Redeem Passcode
stylesheet=button_action_neutral
transmitop1=yes
op1=Redeem Code
onload=stylesheet_set(event_com)

// 1066:19
[bg_thanks]
type=graphic
width=878
height=72
widthmode=aspect
heightmode=minus
xmode=abs_centre
aspectwidth=820
aspectheight=336
layer=thanks
noclickthrough=yes
graphic=rs_fsw_ui_signup_keyart
colour=0xffffff
clickmask=no

// 1066:20
[title_thanks]
type=text
y=5
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=thanks
textfont=cinzel_18pt_bold
text=Thank you for becoming a member!
textalignh=1
textalignv=1
textshadow=yes
colour=0xfff7d6

// 1066:21
[bg_image_fresh]
type=graphic
width=820
widthmode=aspect
heightmode=minus
ymode=abs_centre
aspectwidth=820
aspectheight=336
layer=fresh_start
graphic=rs_fsw_ui_signup_keyart
colour=0xffffff
clickmask=no

// 1066:22
[highlight_fresh_1]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=fresh_start
colour=0xffcb05

// 1066:23
[highlight_fresh_2]
type=rectangle
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=fresh_start
colour=0xffcb05

// 1066:24
[title_fresh]
type=text
y=10
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=fresh_start
textfont=cinzel_18pt_bold
text=Fresh Start Worlds Event
textalignh=1
textalignv=1
textshadow=yes
colour=0xfff7d6
onload=script6523(event_com, fonts_cinzel_bold, 22, 11)

// 1066:25
[text_fresh]
type=text
x=10
y=45
width=20
height=50
widthmode=minus
layer=fresh_start
textfont=notosans_bold_15
text=Recommended for returning and current players
textalignh=1
textalignv=1
textshadow=yes
colour=0xd2d2d2

// 1066:26
[list_fresh]
type=layer
y=100
width=20
height=110
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=fresh_start

// 1066:27
[bg_image_default]
type=graphic
width=907
widthmode=aspect
heightmode=minus
xmode=abs_right
ymode=abs_centre
aspectwidth=820
aspectheight=336
layer=default
graphic=rs_fsw_ui_signup_keyart
colour=0xffffff
clickmask=no

// 1066:28
[highlight_standard_1]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default
colour=0xaed0e0

// 1066:29
[highlight_standard_2]
type=rectangle
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default
colour=0x7592a0

// 1066:30
[title_default]
type=text
y=10
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=default
textfont=cinzel_18pt_bold
text=Standard Game
textalignh=1
textalignv=1
textshadow=yes
colour=0xfff7d6
onload=script6523(event_com, fonts_cinzel_bold, 22, 11)

// 1066:31
[text_default]
type=text
x=10
y=45
width=20
height=50
widthmode=minus
layer=default
textfont=notosans_bold_15
text=Play RuneScape as originally designed
textalignh=1
textalignv=1
textshadow=yes
colour=0xd2d2d2

// 1066:32
[list_default]
type=layer
y=100
width=20
height=110
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=default

// 1066:33
[text_thanks]
type=text
y=80
width=400
height=250
xmode=abs_centre
layer=thanks
textfont=notosans_15
text=Press continue to join the Fresh Start Worlds event.<br><br><br><br>Welcome to your new adventure!
textalignh=1
textshadow=yes
colour=0xaed0e0

// 1066:34
[thanks_continue]
type=button
y=20
width=250
height=37
xmode=abs_centre
ymode=abs_bottom
layer=thanks
noclickthrough=yes
sprite.graphic=button_action_primary_37px
text.text=Continue
stylesheet=button_action_primary_37px
transmitop1=yes
op1=Continue
onload=stylesheet_set(event_com)

// 1066:35
[titled_window_background]
type=layer
widthmode=minus
heightmode=minus
layer=titled_window

// 1066:36
[topleft_1]
type=graphic
width=167
height=62
layer=titled_window_background
graphic=panel_background_top_left_corner
colour=0xffffff
clickmask=no

// 1066:37
[topriight_1]
type=graphic
width=81
height=62
xmode=abs_right
layer=titled_window_background
graphic=panel_background_top_right_corner
colour=0xffffff
clickmask=no

// 1066:38
[bg_1]
type=graphic
x=14
y=34
width=20
height=38
widthmode=minus
heightmode=minus
layer=titled_window_background
graphic=rs3_modal_window_content_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1066:39
[top_1]
type=graphic
y=3
width=42
height=32
widthmode=minus
xmode=abs_centre
layer=titled_window_background
graphic=rs3_modal_window_1_top_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1066:40
[bottom_1]
type=graphic
width=32
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=titled_window_background
graphic=rs3_modal_window_1_bottom_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1066:41
[left_border_1]
type=graphic
x=10
y=44
width=8
height=58
heightmode=minus
layer=titled_window_background
graphic=rs3_modal_window_1_side_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1066:42
[right_border_1]
type=graphic
y=44
width=8
height=48
heightmode=minus
xmode=abs_right
layer=titled_window_background
graphic=rs3_modal_window_1_side_tile
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1066:43
[left_top_flurish_1]
type=graphic
x=10
y=28
width=16
height=16
layer=titled_window_background
graphic=rs3_modal_window_1_bottom_corner
vflip=yes
colour=0xffffff
clickmask=no

// 1066:44
[right_top_flurish_1]
type=graphic
y=28
width=16
height=16
xmode=abs_right
layer=titled_window_background
graphic=rs3_modal_window_1_bottom_corner
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1066:45
[left_bottom_flurish_1]
type=graphic
x=10
width=16
height=16
ymode=abs_bottom
layer=titled_window_background
graphic=rs3_modal_window_1_bottom_corner
colour=0xffffff
clickmask=no

// 1066:46
[right_bottom_flurish_1]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=titled_window_background
graphic=rs3_modal_window_1_bottom_corner
hflip=yes
colour=0xffffff
clickmask=no

// 1066:47
[titled_window_content]
type=layer
x=18
y=94
width=36
height=108
widthmode=minus
heightmode=minus
layer=titled_window

// 1066:48
[mode_choice]
type=layer
x=6
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=titled_window_content
hide=yes

// 1066:49
[titled_window_border]
type=layer
x=18
y=23
width=36
height=71
widthmode=minus
layer=titled_window

// 1066:50
[mode_choice_confirm]
type=layer
widthmode=minus
heightmode=minus
layer=titled_window_content
hide=yes

// 1066:51
[panel]
type=layer
width=450
height=400
xmode=abs_centre
ymode=abs_centre
layer=mode_choice_confirm

// 1066:52
[confirm_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=panel
onload=script8420(gamemode_seasonal_fss_registration:confirm_bg, gamemode_seasonal_fss_registration:confirm_border, gamemode_seasonal_fss_registration:confirm_content, null, "", 28782, null)

// 1066:53
[confirm_title]
type=text
y=20
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=border_offset
textfont=cinzel_18pt_bold
text=Do you wish to continue?
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1066:54
[confirm_subtitle]
type=text
y=70
width=20
height=20
widthmode=minus
xmode=abs_centre
layer=border_offset
textfont=notosans_15
text=You have selected to play...
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1066:55
[confirm_game_name]
type=text
y=95
width=20
height=20
widthmode=minus
xmode=abs_centre
layer=border_offset
textfont=notosans_bold_15
text=The Fresh Start Worlds Event
textalignh=1
textalignv=1
textshadow=yes

// 1066:56
[confirm_body]
type=text
y=120
width=40
height=120
widthmode=minus
xmode=abs_centre
layer=border_offset
textfont=notosans_15
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1066:57
[confirm_reconfirm]
type=button
x=20
y=20
width=150
height=40
xmode=abs_right
ymode=abs_bottom
layer=border_offset
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Continue
stylesheet=button_action_positive
transmitop1=yes
op1=Continue
onload=stylesheet_set(event_com)

// 1066:58
[paywall]
type=layer
width=20
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=titled_window_content
hide=yes

// 1066:59
[com_59]
type=graphic
width=248
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=titled_window_border
graphic=lobby_title_mid
tiling=yes
colour=0xffffff
clickmask=no

// 1066:60
[thanks]
type=layer
width=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titled_window_content
hide=yes

// 1066:61
[com_61]
type=graphic
x=200
width=48
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=titled_window_border
graphic=lobby_title_right_edge
colour=0xffffff
clickmask=no

// 1066:62
[title]
type=text
x=14
y=18
width=14
height=32
widthmode=minus
layer=titled_window_border
textfont=cinzel_25pt_bold_multiline
text=Which would you like to play?
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script6523(event_com, fonts_cinzel_bold, 28, 11)

// 1066:63
[gradient_l]
type=graphic
width=462
heightmode=minus
xmode=abs_right
layer=blackout
noclickthrough=yes
graphic=gradient_square_white_heavy_rot
colour=0x00000a
clickmask=no

// 1066:64
[gradient_r]
type=graphic
width=462
heightmode=minus
layer=blackout
noclickthrough=yes
graphic=gradient_square_white_heavy_rot
hflip=yes
colour=0x00000a
clickmask=no

// 1066:65
[confirm_cancel]
type=button
x=20
y=20
width=150
height=40
ymode=abs_bottom
layer=border_offset
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Cancel
stylesheet=button_action_neutral
transmitop1=yes
op1=Cancel
onload=stylesheet_set(event_com)

// 1066:66
[confirm_bg]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=confirm_window

// 1066:67
[confirm_content]
type=layer
y=72
width=64
height=80
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirm_window

// 1066:68
[border_offset]
type=layer
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirm_content

// 1066:69
[confirm_border]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_window

// 1066:70
[confirm_info_icon]
type=graphic
width=41
height=41
xmode=abs_centre
layer=confirm_window
noclickthrough=yes
graphic=rs3_info_display_symbol_2
colour=0xffffff
clickmask=no

