// 1048:0
[universe]
type=layer
width=686
height=404

// 1048:1
[overview_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1048:2
[overview_title]
type=text
y=5
width=30
height=30
widthmode=minus
xmode=abs_centre
layer=overview_layer
textfont=cinzel_25pt_bold_multiline
text=Overview
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1048:3
[overview_text_bg]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=overview_main_text_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1048:4
[overview_main_text_layer]
type=layer
y=40
width=30
height=225
widthmode=minus
xmode=abs_centre
layer=overview_layer

// 1048:5
[overview_additional_info_layer]
type=layer
y=10
width=656
height=290
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=overview_layer

// 1048:6
[week_layer]
type=layer
width=205
heightmode=minus
layer=overview_additional_info_layer

// 1048:7
[week_bg]
type=layer
widthmode=minus
heightmode=minus
layer=week_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1048:8
[current_week_label]
type=text
x=5
y=5
width=151
height=25
layer=week_layer
noclickthrough=yes
textfont=museo_sans_19pt_bold
text=Current Week:
textalignv=1
onload=script10496(event_com, event_comsubid, 2)

// 1048:9
[current_week_value]
type=text
x=5
y=5
width=32
height=25
xmode=abs_right
layer=week_layer
noclickthrough=yes
textfont=museo_sans_19pt_bold
text=X
textalignh=1
textalignv=1
onload=gamemode_seasonal_auras_generation_max(event_com)
ontimer=gamemode_seasonal_auras_generation_max(event_com)

// 1048:10
[total_week_label]
type=text
x=5
y=35
width=151
height=25
layer=week_layer
noclickthrough=yes
textfont=museo_sans_19pt_bold
text=No# of Weeks:
textalignv=1
onload=script10496(event_com, event_comsubid, 2)

// 1048:11
[competitive_timer_layer]
type=layer
width=205
heightmode=minus
xmode=abs_centre
layer=overview_additional_info_layer

// 1048:12
[competitive_timer_bg]
type=layer
widthmode=minus
heightmode=minus
layer=competitive_timer_layer
onload=script16862(event_com, rs3_content_container_active, rs3_content_container_inactive, 7572)

// 1048:13
[competitive_timer_label]
type=text
x=5
y=5
width=10
height=55
widthmode=minus
layer=competitive_timer_layer
noclickthrough=yes
textfont=museo_sans_19pt_bold
text=Time Left in Competitive:
textalignv=1
onload=script10496(event_com, event_comsubid, 2)

// 1048:14
[competitive_timer_value]
type=text
x=5
y=5
width=33
height=49
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=competitive_timer_layer
noclickthrough=yes
textfont=museo_sans_19pt_bold
text=X weeks, Y days<br>DD:HH:MM
textalignh=2
textalignv=2
stylesheet=background_default
onload=script16863(event_com, 7572, gamemode_seasonal_event_screen:competitive_timer_bg)
ontimer=script16863(event_com, 7572, gamemode_seasonal_event_screen:competitive_timer_bg)

// 1048:15
[com_15]
type=graphic
x=5
y=5
width=23
height=23
ymode=abs_bottom
layer=competitive_timer_layer
noclickthrough=yes
graphic=rs3_icon_timer_23px
colour=0xffffff
clickmask=no

// 1048:16
[gamemode_timer_layer]
type=layer
width=205
heightmode=minus
xmode=abs_right
layer=overview_additional_info_layer

// 1048:17
[gamemode_timer_bg]
type=layer
widthmode=minus
heightmode=minus
layer=gamemode_timer_layer
onload=script16862(event_com, rs3_content_container_active, rs3_content_container_inactive, 7621)

// 1048:18
[gamemode_timer_label]
type=text
x=5
y=5
width=10
height=55
widthmode=minus
layer=gamemode_timer_layer
noclickthrough=yes
textfont=museo_sans_19pt_bold
text=Time Left Until the Event End:
textalignv=1
onload=script10496(event_com, event_comsubid, 2)

// 1048:19
[overview_text]
type=text
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=overview_main_text_layer
textfont=museo_sans_13pt_regular
text=Welcome to Fresh Start Worlds! Experience the game again from a fresh start with a fresh economy, new hiscore and world first races – all with new gameplay twists and unique rewards to chase. Talk to Gale Freshman south of the Burthorpe lodestone to find out more.<br><br>Choose your goals and race to the finish line in this limited time gamemode to gain access to the new rare halo by completing milestones and swapped colour skillcapes by maxing those skills.<br><br>Time is of the essence, the hiscores race will only last until noon gametime on <col=0xFFCB05>21st November</col>, and the gamemode will close permanently at noon gametime on <col=0xFFCB05>9th January</col>.
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1048:20
[timeline_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe
hide=yes

// 1048:21
[timeline_header]
type=layer
y=5
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=timeline_layer

// 1048:22
[timeline_current_parent]
type=layer
x=10
y=10
width=328
height=55
heightmode=minus
ymode=abs_bottom
layer=timeline_layer

// 1048:23
[timeline_current_bg]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=timeline_current_parent
stylesheet=background_default
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1048:24
[timeline_current_graphic]
type=graphic
x=10
y=10
width=32
height=32
layer=timeline_current_parent
noclickthrough=yes
graphic=rs_fsw_icon_event_weekly_active
colour=0xffffff
clickmask=no

// 1048:25
[timeline_current_title]
type=text
x=55
y=10
width=65
height=32
widthmode=minus
layer=timeline_current_parent
noclickthrough=yes
textfont=museo_sans_21pt_bold
text=Current Effects
textalignv=1
onload=script10496(event_com, event_comsubid, 1)

// 1048:26
[timeline_current_active_label]
type=text
x=10
y=60
width=20
height=20
widthmode=minus
layer=timeline_current_parent
noclickthrough=yes
textfont=museo_sans_15pt_bold
text=Now Active!
textalignv=1
onload=script10496(event_com, event_comsubid, 1)

// 1048:27
[timeline_next_parent]
type=layer
x=10
y=10
width=328
height=55
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=timeline_layer

// 1048:28
[timeline_current_ends_label]
type=text
x=10
y=85
width=100
height=20
layer=timeline_current_parent
noclickthrough=yes
textfont=museo_sans_15pt_bold
text=Ends:
textalignv=1

// 1048:29
[timeline_current_ends_value]
type=text
x=10
y=85
width=200
height=20
xmode=abs_right
layer=timeline_current_parent
noclickthrough=yes
textfont=museo_sans_15pt_regular
text=LONG DATE
textalignh=2
textalignv=1
onload=script16877(event_com, 1, 0)

// 1048:30
[timeline_current_effects_body]
type=layer
x=10
y=10
width=36
height=120
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=timeline_current_parent
onload=script16876(1, gamemode_seasonal_event_screen:timeline_current_effects_body, gamemode_seasonal_event_screen:timeline_current_effects_scrollbar)
onvartransmit=script16876(1, gamemode_seasonal_event_screen:timeline_current_effects_body, gamemode_seasonal_event_screen:timeline_current_effects_scrollbar)
onvartransmitlist=givexp_boost_8,givexp_boost_9

// 1048:31
[timeline_current_effects_scrollbar]
type=layer
x=10
y=10
width=16
height=120
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=timeline_current_parent

// 1048:32
[timeline_current_separator_1]
type=layer
y=108
width=20
height=2
widthmode=minus
xmode=abs_centre
layer=timeline_current_parent
onload=script11740(event_com)

// 1048:33
[timeline_current_separator_2]
type=layer
y=8
width=20
height=2
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=timeline_current_parent
onload=script11740(event_com)

// 1048:34
[timeline_next_bg]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=timeline_next_parent
stylesheet=background_default
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1048:35
[timeline_next_graphic]
type=graphic
x=10
y=10
width=32
height=32
layer=timeline_next_parent
noclickthrough=yes
graphic=rs_fsw_icon_event_weekly_next
colour=0xffffff
clickmask=no

// 1048:36
[timeline_next_title]
type=text
x=55
y=10
width=65
height=32
widthmode=minus
layer=timeline_next_parent
noclickthrough=yes
textfont=museo_sans_21pt_bold
text=Upcoming Effects
textalignv=1
onload=script10496(event_com, event_comsubid, 1)

// 1048:37
[timeline_next_starts_label]
type=text
x=10
y=60
width=100
height=20
layer=timeline_next_parent
noclickthrough=yes
textfont=museo_sans_15pt_bold
text=Starts:
textalignv=1

// 1048:38
[halo_hunt_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe
hide=yes

// 1048:39
[timeline_next_starts_value]
type=text
x=10
y=60
width=200
height=20
xmode=abs_right
layer=timeline_next_parent
noclickthrough=yes
textfont=museo_sans_15pt_regular
text=LONG DATE
textalignh=2
textalignv=1
onload=script16877(event_com, 0, 1)

// 1048:40
[halo_hunt_left_layer]
type=layer
x=10
y=5
width=230
height=15
widthmode=minus
heightmode=minus
layer=halo_hunt_layer

// 1048:41
[timeline_next_ends_label]
type=text
x=10
y=85
width=100
height=20
layer=timeline_next_parent
noclickthrough=yes
textfont=museo_sans_15pt_bold
text=Ends:
textalignv=1

// 1048:42
[halo_hunt_left_text_1]
type=layer
height=80
widthmode=minus
xmode=abs_centre
layer=halo_hunt_left_layer

// 1048:43
[timeline_next_ends_value]
type=text
x=10
y=85
width=200
height=20
xmode=abs_right
layer=timeline_next_parent
noclickthrough=yes
textfont=museo_sans_15pt_regular
text=LONG DATE
textalignh=2
textalignv=1
onload=script16877(event_com, 0, 0)

// 1048:44
[halo_hunt_left_separator_1]
type=layer
y=85
width=20
height=2
widthmode=minus
xmode=abs_centre
layer=halo_hunt_left_layer
onload=script11740(event_com)

// 1048:45
[halo_hunt_left_text_2]
type=layer
y=92
height=80
widthmode=minus
xmode=abs_centre
layer=halo_hunt_left_layer
onload=script16870(1, gamemode_seasonal_event_screen:halo_hunt_total_level_value, gamemode_seasonal_event_screen:halo_hunt_total_level_earned_value, gamemode_seasonal_event_screen:halo_hunt_total_level_progress_mask_layer, gamemode_seasonal_event_screen:halo_hunt_total_level_progress_bar_text)
onstattransmit=script16870(1, gamemode_seasonal_event_screen:halo_hunt_total_level_value, gamemode_seasonal_event_screen:halo_hunt_total_level_earned_value, gamemode_seasonal_event_screen:halo_hunt_total_level_progress_mask_layer, gamemode_seasonal_event_screen:halo_hunt_total_level_progress_bar_text)
onstattransmitlist=attack,strength,defence,hitpoints,ranged,magic,agility,herblore,thieving,crafting,fletching,mining,smithing,fishing,cooking,firemaking,woodcutting,runecraft,slayer,farming,construction,prayer,hunter,summoning,dungeoneering,divination,invention,archaeology

// 1048:46
[halo_hunt_total_level_label]
type=text
width=125
height=20
layer=halo_hunt_left_text_2
noclickthrough=yes
textfont=notosans_bold_16
text=Total Level
textalignv=1
onload=script10496(event_com, event_comsubid, 1)

// 1048:47
[halo_hunt_total_level_value]
type=text
x=125
width=70
height=20
layer=halo_hunt_left_text_2
noclickthrough=yes
textfont=notosans_bold_16
text=XX,XXX
textalignh=2
textalignv=1

// 1048:48
[halo_hunt_total_level_earned_label]
type=text
x=80
width=150
height=20
xmode=abs_right
layer=halo_hunt_left_text_2
noclickthrough=yes
textfont=notosans_bold_16
text=Tokens Earned:
textalignv=1
onload=script10496(event_com, event_comsubid, 2)

// 1048:49
[halo_hunt_total_level_earned_graphic]
type=graphic
x=62
y=2
width=16
height=16
xmode=abs_right
layer=halo_hunt_left_text_2
noclickthrough=yes
graphic=rs_fsw_icon_event_rewards_token
colour=0xffffff
clickmask=no

// 1048:50
[halo_hunt_total_level_earned_value]
type=text
width=60
height=20
xmode=abs_right
layer=halo_hunt_left_text_2
noclickthrough=yes
textfont=notosans_bold_16
text=XX/YY
textalignh=2
textalignv=1

// 1048:51
[halo_hunt_total_level_desc]
type=text
y=30
height=20
widthmode=minus
xmode=abs_centre
layer=halo_hunt_left_text_2
noclickthrough=yes
textfont=notosans_14
text=Description which I will make dynamically to use contsants.
textalignv=1
onload=script16874(event_com, 1)

// 1048:52
[halo_hunt_total_level_progress_bar_label]
type=text
y=2
width=226
height=20
ymode=abs_bottom
layer=halo_hunt_left_text_2
noclickthrough=yes
textfont=notosans_bold_16
text=Next Reward
textalignv=1
onload=script10496(event_com, event_comsubid, 2)

// 1048:53
[halo_hunt_total_level_progress_bar_layer]
type=layer
width=230
height=24
xmode=abs_right
ymode=abs_bottom
layer=halo_hunt_left_text_2

// 1048:54
[halo_hunt_left_separator_2]
type=layer
y=186
width=20
height=2
widthmode=minus
xmode=abs_centre
layer=halo_hunt_left_layer
onload=script11740(event_com)

// 1048:55
[halo_hunt_left_text_3]
type=layer
y=198
height=80
widthmode=minus
xmode=abs_centre
layer=halo_hunt_left_layer
onload=script16870(2, gamemode_seasonal_event_screen:halo_hunt_qp_value, gamemode_seasonal_event_screen:halo_hunt_qp_earned_value, gamemode_seasonal_event_screen:halo_hunt_qp_progress_mask_layer, gamemode_seasonal_event_screen:halo_hunt_qp_progress_bar_text)
onvartransmit=script16870(2, gamemode_seasonal_event_screen:halo_hunt_qp_value, gamemode_seasonal_event_screen:halo_hunt_qp_earned_value, gamemode_seasonal_event_screen:halo_hunt_qp_progress_mask_layer, gamemode_seasonal_event_screen:halo_hunt_qp_progress_bar_text)
onvartransmitlist=qp

// 1048:56
[halo_hunt_qp_label]
type=text
width=125
height=20
layer=halo_hunt_left_text_3
noclickthrough=yes
textfont=notosans_bold_16
text=Quest Points
textalignv=1
onload=script10496(event_com, event_comsubid, 1)

// 1048:57
[halo_hunt_left_separator_3]
type=layer
y=290
width=20
height=2
widthmode=minus
xmode=abs_centre
layer=halo_hunt_left_layer
onload=script11740(event_com)

// 1048:58
[halo_hunt_left_text_4]
type=layer
y=304
height=80
widthmode=minus
xmode=abs_centre
layer=halo_hunt_left_layer
onload=script16870(3, gamemode_seasonal_event_screen:halo_hunt_runescore_value, gamemode_seasonal_event_screen:halo_hunt_runescore_earned_value, gamemode_seasonal_event_screen:halo_hunt_runescore_progress_mask_layer, gamemode_seasonal_event_screen:halo_hunt_runescore_progress_bar_text)
onvartransmit=script16870(3, gamemode_seasonal_event_screen:halo_hunt_runescore_value, gamemode_seasonal_event_screen:halo_hunt_runescore_earned_value, gamemode_seasonal_event_screen:halo_hunt_runescore_progress_mask_layer, gamemode_seasonal_event_screen:halo_hunt_runescore_progress_bar_text)
onvartransmitlist=cheevo_runescore

// 1048:59
[halo_hunt_runescore_label]
type=text
width=125
height=20
layer=halo_hunt_left_text_4
noclickthrough=yes
textfont=notosans_bold_16
text=Runescore
textalignv=1
onload=script10496(event_com, event_comsubid, 1)

// 1048:60
[halo_hunt_text]
type=text
height=30
widthmode=minus
layer=halo_hunt_left_text_1
textfont=cinzel_25pt_bold_multiline
text=Halo Hunt
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1048:61
[halo_hunt_main_desc]
type=text
y=40
height=40
widthmode=minus
layer=halo_hunt_left_text_1
noclickthrough=yes
textfont=notosans_14
text=Collect 8 Season Tokens to unlock the Seasonal Halo cosmetic reward.
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 1048:62
[halo_hunt_right_layer]
type=layer
x=10
width=200
height=20
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=halo_hunt_layer

// 1048:63
[halo_hunt_right_bg]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=halo_hunt_right_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1048:64
[halo_reward_graphic]
type=graphic
y=10
width=20
height=180
widthmode=minus
heightmode=aspect
xmode=abs_centre
layer=halo_hunt_right_layer
noclickthrough=yes
graphic=rs_fsw_ui_event_reward_halo_2
alpha=yes
colour=0xffffff
clickmask=no

// 1048:65
[halo_hunt_halo_name]
type=text
y=200
width=20
height=50
widthmode=minus
xmode=abs_centre
layer=halo_hunt_right_layer
noclickthrough=yes
textfont=notosans_bold_16
text=Halo of Returning
textalignh=1

// 1048:66
[halo_hunt_tokens_collected_label]
type=text
y=250
width=20
height=20
widthmode=minus
xmode=abs_centre
layer=halo_hunt_right_layer
noclickthrough=yes
textfont=notosans_bold_14
text=Tokens Collected
textalignh=1
textalignv=1

// 1048:67
[total_week_value]
type=text
x=5
y=35
width=32
height=25
xmode=abs_right
layer=week_layer
noclickthrough=yes
textfont=museo_sans_19pt_bold
text=XX
textalignh=1
textalignv=1
onload=script16865(event_com)

// 1048:68
[halo_hunt_tokens_collected]
type=layer
y=10
width=20
height=100
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=halo_hunt_right_layer
onload=script16875(event_com)
onvartransmit=script16875(event_com)
onstattransmit=script16875(event_com)
onvartransmitlist=cheevo_runescore,qp
onstattransmitlist=attack,strength,defence,hitpoints,ranged,magic,agility,herblore,thieving,crafting,fletching,mining,smithing,fishing,cooking,firemaking,woodcutting,runecraft,slayer,farming,construction,prayer,hunter,summoning,dungeoneering,divination,invention,archaeology

// 1048:69
[current_week_start_label]
type=text
x=5
y=35
width=100
height=16
ymode=abs_bottom
layer=week_layer
noclickthrough=yes
textfont=museo_sans_15pt_bold
text=Starts
textalignv=1
colour=0xc1b9b9
stylesheet=background_default
onload=script10496(event_com, event_comsubid, 2)

// 1048:70
[current_week_end_label]
type=text
x=5
y=35
width=75
height=16
xmode=abs_right
ymode=abs_bottom
layer=week_layer
noclickthrough=yes
textfont=museo_sans_15pt_bold
text=Ends
textalignh=2
textalignv=1
colour=0xc1b9b9
onload=script10496(event_com, event_comsubid, 2)

// 1048:71
[current_week_start_value]
type=text
x=5
y=5
width=8028
height=25
widthmode=proportion
ymode=abs_bottom
layer=week_layer
noclickthrough=yes
textfont=museo_sans_19pt_bold
text=XX/YY
textalignv=1
onload=gamemode_seasonal_auras_generation_max_start(event_com)
ontimer=gamemode_seasonal_auras_generation_max_start(event_com)

// 1048:72
[current_week_end_value]
type=text
x=5
y=5
width=8028
height=25
widthmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=week_layer
noclickthrough=yes
textfont=museo_sans_19pt_bold
text=XX/YY
textalignh=2
textalignv=1
stylesheet=background_default
onload=gamemode_seasonal_auras_generation_max_end(event_com)
ontimer=gamemode_seasonal_auras_generation_max_end(event_com)

// 1048:73
[gamemode_timer_value]
type=text
x=5
y=5
width=33
height=49
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=gamemode_timer_layer
noclickthrough=yes
textfont=museo_sans_19pt_bold
text=X weeks, Y days<br>DD:HH:MM
textalignh=2
textalignv=2
stylesheet=background_default
onload=script16863(event_com, 7621, gamemode_seasonal_event_screen:gamemode_timer_bg)
ontimer=script16863(event_com, 7621, gamemode_seasonal_event_screen:gamemode_timer_bg)

// 1048:74
[com_74]
type=graphic
x=5
y=5
width=23
height=23
ymode=abs_bottom
layer=gamemode_timer_layer
noclickthrough=yes
graphic=rs3_icon_timer_23px
colour=0xffffff
clickmask=no

// 1048:75
[halo_hunt_qp_value]
type=text
x=125
width=70
height=20
layer=halo_hunt_left_text_3
noclickthrough=yes
textfont=notosans_bold_16
text=XX,XXX
textalignh=2
textalignv=1

// 1048:76
[halo_hunt_qp_earned_label]
type=text
x=80
width=150
height=20
xmode=abs_right
layer=halo_hunt_left_text_3
noclickthrough=yes
textfont=notosans_bold_16
text=Tokens Earned:
textalignv=1
onload=script10496(event_com, event_comsubid, 2)

// 1048:77
[halo_hunt_qp_earned_graphic]
type=graphic
x=62
y=2
width=16
height=16
xmode=abs_right
layer=halo_hunt_left_text_3
noclickthrough=yes
graphic=rs_fsw_icon_event_rewards_token
colour=0xffffff
clickmask=no

// 1048:78
[halo_hunt_qp_earned_value]
type=text
width=60
height=20
xmode=abs_right
layer=halo_hunt_left_text_3
noclickthrough=yes
textfont=notosans_bold_16
text=XX/YY
textalignh=2
textalignv=1

// 1048:79
[halo_hunt_qp_desc]
type=text
y=30
height=20
widthmode=minus
xmode=abs_centre
layer=halo_hunt_left_text_3
noclickthrough=yes
textfont=notosans_14
text=Description which I will make dynamically to use contsants.
textalignv=1
onload=script16874(event_com, 2)

// 1048:80
[halo_hunt_qp_progress_bar_label]
type=text
y=2
width=226
height=20
ymode=abs_bottom
layer=halo_hunt_left_text_3
noclickthrough=yes
textfont=notosans_bold_16
text=Next Reward
textalignv=1
onload=script10496(event_com, event_comsubid, 2)

// 1048:81
[halo_hunt_qp_progress_bar_layer]
type=layer
width=230
height=24
xmode=abs_right
ymode=abs_bottom
layer=halo_hunt_left_text_3

// 1048:82
[halo_hunt_runescore_value]
type=text
x=125
width=70
height=20
layer=halo_hunt_left_text_4
noclickthrough=yes
textfont=notosans_bold_16
text=XX,XXX
textalignh=2
textalignv=1

// 1048:83
[halo_hunt_runescore_earned_label]
type=text
x=80
width=150
height=20
xmode=abs_right
layer=halo_hunt_left_text_4
noclickthrough=yes
textfont=notosans_bold_16
text=Tokens Earned:
textalignv=1
onload=script10496(event_com, event_comsubid, 2)

// 1048:84
[halo_hunt_runescore_earned_graphic]
type=graphic
x=62
y=2
width=16
height=16
xmode=abs_right
layer=halo_hunt_left_text_4
noclickthrough=yes
graphic=rs_fsw_icon_event_rewards_token
colour=0xffffff
clickmask=no

// 1048:85
[halo_hunt_runescore_earned_value]
type=text
width=60
height=20
xmode=abs_right
layer=halo_hunt_left_text_4
noclickthrough=yes
textfont=notosans_bold_16
text=XX/YY
textalignh=2
textalignv=1

// 1048:86
[halo_hunt_runescore_desc]
type=text
y=30
height=20
widthmode=minus
xmode=abs_centre
layer=halo_hunt_left_text_4
noclickthrough=yes
textfont=notosans_14
text=Description which I will make dynamically to use contsants.
textalignv=1
onload=script16874(event_com, 3)

// 1048:87
[halo_hunt_runescore_progress_bar_label]
type=text
y=2
width=226
height=20
ymode=abs_bottom
layer=halo_hunt_left_text_4
noclickthrough=yes
textfont=notosans_bold_16
text=Next Reward
textalignv=1
onload=script10496(event_com, event_comsubid, 2)

// 1048:88
[halo_hunt_runescore_progress_bar_layer]
type=layer
width=230
height=24
xmode=abs_right
ymode=abs_bottom
layer=halo_hunt_left_text_4

// 1048:89
[timeline_header_title]
type=text
height=30
widthmode=minus
layer=timeline_header
textfont=cinzel_25pt_bold_multiline
text=Timeline Effects
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1048:90
[timeline_next_effects_body]
type=layer
x=10
y=10
width=36
height=120
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=timeline_next_parent
onload=script16876(0, gamemode_seasonal_event_screen:timeline_next_effects_body, gamemode_seasonal_event_screen:timeline_next_effects_scrollbar)
onvartransmit=script16876(0, gamemode_seasonal_event_screen:timeline_next_effects_body, gamemode_seasonal_event_screen:timeline_next_effects_scrollbar)
onvartransmitlist=gamemode_seasonal_player_temp_1,gamemode_seasonal_player_temp_1

// 1048:91
[timeline_next_effects_scrollbar]
type=layer
x=10
y=10
width=16
height=120
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=timeline_next_parent

// 1048:92
[timeline_next_separator_1]
type=layer
y=108
width=20
height=2
widthmode=minus
xmode=abs_centre
layer=timeline_next_parent
onload=script11740(event_com)

// 1048:93
[timeline_next_separator_2]
type=layer
y=8
width=20
height=2
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=timeline_next_parent
onload=script11740(event_com)

// 1048:94
[halo_hunt_runescore_progress_border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=halo_hunt_runescore_progress_bar_layer

// 1048:95
[frame_left]
type=graphic
width=12
height=24
ymode=abs_centre
layer=halo_hunt_runescore_progress_border_layer
graphic="rs3_progress_bar_backing_24px,0"
colour=0xffffff
clickmask=no

// 1048:96
[frame_mid]
type=graphic
width=24
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=halo_hunt_runescore_progress_border_layer
graphic="rs3_progress_bar_backing_24px,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1048:97
[frame_right]
type=graphic
width=12
height=24
xmode=abs_right
ymode=abs_centre
layer=halo_hunt_runescore_progress_border_layer
graphic="rs3_progress_bar_backing_24px,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1048:98
[halo_hunt_runescore_progress_layer]
type=layer
x=4
width=8
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=halo_hunt_runescore_progress_bar_layer

// 1048:99
[halo_hunt_runescore_progress_mask_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=halo_hunt_runescore_progress_layer

// 1048:100
[progress_1]
type=graphic
width=12
height=16
layer=halo_hunt_runescore_progress_mask_layer
graphic="rs3_progress_bar_purple_16px,0"
colour=0xffffff
clickmask=no

// 1048:101
[progress_2]
type=graphic
width=24
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=halo_hunt_runescore_progress_mask_layer
graphic="rs3_progress_bar_purple_16px,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1048:102
[progress_3]
type=graphic
width=12
height=16
xmode=abs_right
ymode=abs_centre
layer=halo_hunt_runescore_progress_mask_layer
graphic="rs3_progress_bar_purple_16px,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1048:103
[halo_hunt_runescore_progress_bar_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=halo_hunt_runescore_progress_bar_layer
textfont=notosans_14
textalignh=1
textalignv=1
textshadow=yes

// 1048:104
[halo_hunt_qp_progress_border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=halo_hunt_qp_progress_bar_layer

// 1048:105
[frame_1]
type=graphic
width=12
height=24
layer=halo_hunt_qp_progress_border_layer
graphic="rs3_progress_bar_backing_24px,0"
colour=0xffffff
clickmask=no

// 1048:106
[frame_2]
type=graphic
width=24
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=halo_hunt_qp_progress_border_layer
graphic="rs3_progress_bar_backing_24px,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1048:107
[frame_3]
type=graphic
width=12
height=24
xmode=abs_right
ymode=abs_bottom
layer=halo_hunt_qp_progress_border_layer
graphic="rs3_progress_bar_backing_24px,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1048:108
[halo_hunt_qp_progress_layer]
type=layer
x=4
width=8
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=halo_hunt_qp_progress_bar_layer

// 1048:109
[halo_hunt_qp_progress_mask_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=halo_hunt_qp_progress_layer

// 1048:110
[progress_4]
type=graphic
width=12
height=16
layer=halo_hunt_qp_progress_mask_layer
graphic="rs3_progress_bar_purple_16px,0"
colour=0xffffff
clickmask=no

// 1048:111
[progress_5]
type=graphic
width=24
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=halo_hunt_qp_progress_mask_layer
graphic="rs3_progress_bar_purple_16px,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1048:112
[progress_6]
type=graphic
width=12
height=16
xmode=abs_right
ymode=abs_centre
layer=halo_hunt_qp_progress_mask_layer
graphic="rs3_progress_bar_purple_16px,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1048:113
[halo_hunt_qp_progress_bar_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=halo_hunt_qp_progress_bar_layer
textfont=notosans_14
textalignh=1
textalignv=1
textshadow=yes

// 1048:114
[halo_hunt_total_level_progress_border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=halo_hunt_total_level_progress_bar_layer

// 1048:115
[frame_leftbot_2]
type=graphic
width=12
height=24
ymode=abs_bottom
layer=halo_hunt_total_level_progress_border_layer
graphic="rs3_progress_bar_backing_24px,0"
colour=0xffffff
clickmask=no

// 1048:116
[frame_6]
type=graphic
width=24
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=halo_hunt_total_level_progress_border_layer
graphic="rs3_progress_bar_backing_24px,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1048:117
[frame_right_2]
type=graphic
width=12
height=24
xmode=abs_right
ymode=abs_centre
layer=halo_hunt_total_level_progress_border_layer
graphic="rs3_progress_bar_backing_24px,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1048:118
[halo_hunt_total_level_progress_layer]
type=layer
x=4
width=8
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=halo_hunt_total_level_progress_bar_layer

// 1048:119
[halo_hunt_total_level_progress_mask_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=halo_hunt_total_level_progress_layer

// 1048:120
[progress_7]
type=graphic
width=12
height=16
layer=halo_hunt_total_level_progress_mask_layer
graphic="rs3_progress_bar_purple_16px,0"
colour=0xffffff
clickmask=no

// 1048:121
[progress_8]
type=graphic
width=24
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=halo_hunt_total_level_progress_mask_layer
graphic="rs3_progress_bar_purple_16px,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1048:122
[progress_9]
type=graphic
width=12
height=16
xmode=abs_right
ymode=abs_centre
layer=halo_hunt_total_level_progress_mask_layer
graphic="rs3_progress_bar_purple_16px,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1048:123
[halo_hunt_total_level_progress_bar_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=halo_hunt_total_level_progress_bar_layer
textfont=notosans_14
textalignh=1
textalignv=1
textshadow=yes
stylesheet=background_default

