// 132:0
[com_0]
type=model
width=462
height=234
xmode=abs_centre
ymode=abs_centre
model=quest_journal_scroll_rework
modelorigin_x=0
modelorigin_y=-6
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=630

// 132:1
[com_1]
type=model
y=-125
width=507
height=33
xmode=abs_centre
ymode=abs_centre
model=quest_journal_scroll_rework_roller
modelorigin_x=0
modelorigin_y=1
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=630

// 132:2
[com_2]
type=model
y=125
width=506
height=32
xmode=abs_centre
ymode=abs_centre
model=quest_journal_scroll_rework_roller
modelorigin_x=0
modelorigin_y=-1
modelangle_x=0
modelangle_y=0
modelangle_z=1024
modelzoom=630

// 132:3
[garden_list_1]
type=text
y=63
width=50
height=15
widthmode=minus
xmode=abs_centre
textfont=notosans_12
textalignh=1
colour=0x000000

// 132:4
[garden_list_2]
type=text
y=83
width=50
height=15
widthmode=minus
xmode=abs_centre
textfont=notosans_12
textalignh=1
colour=0x000000

// 132:5
[garden_list_3]
type=text
y=103
width=50
height=15
widthmode=minus
xmode=abs_centre
textfont=notosans_12
textalignh=1
colour=0x000000

// 132:6
[garden_list_4]
type=text
y=123
width=50
height=15
widthmode=minus
xmode=abs_centre
textfont=notosans_12
textalignh=1
colour=0x000000

// 132:7
[garden_list_5]
type=text
y=143
width=50
height=15
widthmode=minus
xmode=abs_centre
textfont=notosans_12
textalignh=1
colour=0x000000

// 132:8
[garden_list_6]
type=text
y=163
width=50
height=15
widthmode=minus
xmode=abs_centre
textfont=notosans_12
textalignh=1
colour=0x000000

// 132:9
[garden_list_7]
type=text
y=183
width=50
height=15
widthmode=minus
xmode=abs_centre
textfont=notosans_12
textalignh=1
colour=0x000000

// 132:10
[garden_list_8]
type=text
y=203
width=50
height=15
widthmode=minus
xmode=abs_centre
textfont=notosans_12
textalignh=1
colour=0x000000

// 132:11
[garden_list_9]
type=text
y=223
width=50
height=15
widthmode=minus
xmode=abs_centre
textfont=notosans_12
textalignh=1
colour=0x000000

// 132:12
[garden_list_10]
type=text
y=243
width=50
height=15
widthmode=minus
xmode=abs_centre
textfont=notosans_12
textalignh=1
colour=0x000000

// 132:13
[garden_list_11]
type=text
y=263
width=50
height=15
widthmode=minus
xmode=abs_centre
textfont=notosans_12
textalignh=1
colour=0x000000

// 132:14
[garden_list_arrows_1]
type=layer
y=63
width=50
height=15
widthmode=minus
xmode=abs_centre

// 132:15
[com_15]
type=text
x=5
width=18
heightmode=minus
ymode=abs_centre
layer=garden_list_arrows_1
textfont=p12_full
text=>>>
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:16
[com_16]
type=text
x=5
width=18
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=garden_list_arrows_1
textfont=p12_full
text=<<<
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:17
[garden_list_arrows_2]
type=layer
y=83
width=50
height=15
widthmode=minus
xmode=abs_centre

// 132:18
[com_18]
type=text
x=5
width=18
heightmode=minus
ymode=abs_centre
layer=garden_list_arrows_2
textfont=p12_full
text=>>>
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:19
[com_19]
type=text
x=5
width=18
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=garden_list_arrows_2
textfont=p12_full
text=<<<
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:20
[garden_list_arrows_3]
type=layer
y=103
width=50
height=15
widthmode=minus
xmode=abs_centre

// 132:21
[com_21]
type=text
x=5
width=18
heightmode=minus
ymode=abs_centre
layer=garden_list_arrows_3
textfont=p12_full
text=>>>
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:22
[com_22]
type=text
x=5
width=18
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=garden_list_arrows_3
textfont=p12_full
text=<<<
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:23
[garden_list_arrows_4]
type=layer
y=123
width=50
height=15
widthmode=minus
xmode=abs_centre

// 132:24
[com_24]
type=text
x=5
width=18
heightmode=minus
ymode=abs_centre
layer=garden_list_arrows_4
textfont=p12_full
text=>>>
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:25
[com_25]
type=text
x=5
width=18
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=garden_list_arrows_4
textfont=p12_full
text=<<<
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:26
[garden_list_arrows_5]
type=layer
y=143
width=50
height=15
widthmode=minus
xmode=abs_centre

// 132:27
[com_27]
type=text
x=5
width=18
heightmode=minus
ymode=abs_centre
layer=garden_list_arrows_5
textfont=p12_full
text=>>>
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:28
[com_28]
type=text
x=5
width=18
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=garden_list_arrows_5
textfont=p12_full
text=<<<
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:29
[garden_list_arrows_6]
type=layer
y=163
width=50
height=15
widthmode=minus
xmode=abs_centre

// 132:30
[com_30]
type=text
x=5
width=18
heightmode=minus
ymode=abs_centre
layer=garden_list_arrows_6
textfont=p12_full
text=>>>
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:31
[com_31]
type=text
x=5
width=18
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=garden_list_arrows_6
textfont=p12_full
text=<<<
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:32
[garden_list_arrows_7]
type=layer
y=183
width=50
height=15
widthmode=minus
xmode=abs_centre

// 132:33
[com_33]
type=text
x=5
width=18
heightmode=minus
ymode=abs_centre
layer=garden_list_arrows_7
textfont=p12_full
text=>>>
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:34
[com_34]
type=text
x=5
width=18
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=garden_list_arrows_7
textfont=p12_full
text=<<<
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:35
[garden_list_arrows_8]
type=layer
y=203
width=50
height=15
widthmode=minus
xmode=abs_centre

// 132:36
[com_36]
type=text
x=5
width=18
heightmode=minus
ymode=abs_centre
layer=garden_list_arrows_8
textfont=p12_full
text=>>>
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:37
[com_37]
type=text
x=5
width=18
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=garden_list_arrows_8
textfont=p12_full
text=<<<
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:38
[garden_list_arrows_9]
type=layer
y=223
width=50
height=15
widthmode=minus
xmode=abs_centre

// 132:39
[com_39]
type=text
x=5
width=18
heightmode=minus
ymode=abs_centre
layer=garden_list_arrows_9
textfont=p12_full
text=>>>
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:40
[com_40]
type=text
x=5
width=18
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=garden_list_arrows_9
textfont=p12_full
text=<<<
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:41
[garden_list_arrows_10]
type=layer
y=243
width=50
height=15
widthmode=minus
xmode=abs_centre

// 132:42
[com_42]
type=text
x=5
width=18
heightmode=minus
ymode=abs_centre
layer=garden_list_arrows_10
textfont=p12_full
text=>>>
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:43
[com_43]
type=text
x=5
width=18
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=garden_list_arrows_10
textfont=p12_full
text=<<<
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:44
[garden_list_arrows_11]
type=layer
y=263
width=50
height=15
widthmode=minus
xmode=abs_centre

// 132:45
[com_45]
type=text
x=5
width=18
heightmode=minus
ymode=abs_centre
layer=garden_list_arrows_11
textfont=p12_full
text=>>>
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:46
[com_46]
type=text
x=5
width=18
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=garden_list_arrows_11
textfont=p12_full
text=<<<
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 132:47
[com_47]
type=text
y=27
height=25
widthmode=minus
xmode=abs_centre
textfont=notosans_13
text=Items for King Roald's garden:
textalignh=1
textalignv=1
colour=0x000000

// 132:48
[com_48]
type=graphic
x=21
y=28
width=26
height=23
xmode=abs_right
graphic="close_buttons,2"
clickmask=no
transmitop1=yes
op1=Close
onmouseover=graphic_swapper(event_com, "close_buttons,3")
onmouseleave=graphic_swapper(event_com, "close_buttons,2")
onop=closebutton_click

