// 601:0
[com_0]
type=rectangle
width=130
height=120
layer=main_layer
colour=0x0f0101
fill=yes
trans=50

// 601:1
[com_1]
type=graphic
x=10
width=90
height=10
layer=main_layer
graphic="aif_overlay_frame_gold_corner_4,0"
colour=0xffffff
clickmask=no

// 601:2
[com_2]
type=graphic
x=10
width=90
height=10
ymode=abs_bottom
layer=main_layer
graphic="aif_overlay_frame_gold_corner_4,0"
vflip=yes
colour=0xffffff
clickmask=no

// 601:3
[com_3]
type=graphic
width=10
height=10
ymode=abs_bottom
layer=main_layer
graphic="aif_overlay_frame_gold_corner_4,1"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 601:4
[com_4]
type=graphic
width=10
height=10
layer=main_layer
graphic="aif_overlay_frame_gold_corner_4,1"
hflip=yes
colour=0xffffff
clickmask=no

// 601:5
[com_5]
type=graphic
width=10
height=10
xmode=abs_right
layer=main_layer
graphic="aif_overlay_frame_gold_corner_4,1"
colour=0xffffff
clickmask=no

// 601:6
[com_6]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_bottom
layer=main_layer
graphic="aif_overlay_frame_gold_corner_4,1"
vflip=yes
colour=0xffffff
clickmask=no

// 601:7
[com_7]
type=graphic
y=10
width=10
height=20
heightmode=minus
xmode=abs_right
layer=main_layer
graphic="aif_overlay_frame_gold_corner_4,2"
colour=0xffffff
clickmask=no

// 601:8
[com_8]
type=graphic
y=10
width=10
height=20
heightmode=minus
layer=main_layer
graphic="aif_overlay_frame_gold_corner_4,2"
hflip=yes
colour=0xffffff
clickmask=no

// 601:9
[killcounts]
type=layer
x=10
y=8
width=90
height=95
layer=main_layer
onload=godwars_overlay_init(event_com, 39387148, godwars_overlay:armadyl, godwars_overlay:bandos, godwars_overlay:saradomin, godwars_overlay:zamorak, godwars_overlay:armadyl_total, godwars_overlay:bandos_total, godwars_overlay:saradomin_total, godwars_overlay:zamorak_total, godwars_overlay:zaros, godwars_overlay:zaros_total)

// 601:10
[boss_instance_timeleft]
type=graphic
y=3
width=23
height=23
xmode=abs_right
layer=main_layer
hide=yes
graphic=combatv2_ability_timeout
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Buy-time

// 601:11
[main_layer]
type=layer
x=10
y=25
width=110
height=105

// 601:12
[title]
type=text
height=15
widthmode=minus
layer=killcounts
textfont=palatino_linotype_14pt_regular
text=Killcount
textalignh=1
textalignv=1
textshadow=yes
colour=0xfaf4ed

// 601:13
[armadyl]
type=text
y=18
height=15
widthmode=minus
layer=killcounts
textfont=p11_full
text=Armadyl:
textalignv=1
textshadow=yes
colour=0xfefcfa

// 601:14
[bandos]
type=text
y=33
height=15
widthmode=minus
layer=killcounts
textfont=p11_full
text=Bandos:
textalignv=1
textshadow=yes
colour=0xfefcfa

// 601:15
[saradomin]
type=text
y=48
height=15
widthmode=minus
layer=killcounts
textfont=p11_full
text=Saradomin:
textalignv=1
textshadow=yes
colour=0xfefcfa

// 601:16
[zamorak]
type=text
y=63
height=15
widthmode=minus
layer=killcounts
textfont=p11_full
text=Zamorak:
textalignv=1
textshadow=yes
colour=0xfefcfa

// 601:17
[zaros]
type=text
y=78
height=15
widthmode=minus
layer=killcounts
hide=yes
textfont=p11_full
text=Zaros:
textalignv=1
textshadow=yes
colour=0xfefcfa

// 601:18
[armadyl_total]
type=text
y=18
height=15
widthmode=minus
xmode=abs_right
layer=killcounts
textfont=p11_full
textalignh=2
textalignv=1
textshadow=yes
colour=0xfefcfa

// 601:19
[bandos_total]
type=text
y=33
height=15
widthmode=minus
xmode=abs_right
layer=killcounts
textfont=p11_full
textalignh=2
textalignv=1
textshadow=yes
colour=0xfefcfa

// 601:20
[saradomin_total]
type=text
y=48
height=15
widthmode=minus
xmode=abs_right
layer=killcounts
textfont=p11_full
textalignh=2
textalignv=1
textshadow=yes
colour=0xfefcfa

// 601:21
[zamorak_total]
type=text
y=63
height=15
widthmode=minus
xmode=abs_right
layer=killcounts
textfont=p11_full
textalignh=2
textalignv=1
textshadow=yes
colour=0xfefcfa

// 601:22
[zaros_total]
type=text
y=78
height=15
widthmode=minus
xmode=abs_right
layer=killcounts
hide=yes
textfont=p11_full
textalignh=2
textalignv=1
textshadow=yes
colour=0xfefcfa

