// 1768:0
[bespoke_window]
type=layer
y=50
width=164
height=51
xmode=abs_centre
layer=pose_layer
onload=script8420(gower_skill_progress:bespoke_window_background, gower_skill_progress:bespoke_window_border, gower_skill_progress:bespoke_window_content, null, "", 21259, null)

// 1768:1
[content]
type=layer
y=50
width=152
height=43
xmode=abs_centre
layer=pose_layer

// 1768:2
[progress_bar_container]
type=layer
y=10
width=500
height=36
xmode=abs_centre
layer=universe

// 1768:3
[universe]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
onload=script12557

// 1768:4
[pose_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1768:5
[com_5]
type=graphic
y=4
width=40
height=25
widthmode=minus
xmode=abs_centre
layer=progress_bar_container
graphic=aif_domtower_healthbar_back
colour=0xffffff
clickmask=no

// 1768:6
[progress_bar]
type=layer
x=17
y=8
width=1
height=13
layer=progress_bar_container
onvarctransmit=script6241
onvarctransmitlist=qbd2_phase_damage

// 1768:7
[green_left]
type=graphic
width=10
heightmode=minus
layer=progress_bar
graphic="qbd_nrgbar_1,2"
hflip=yes
colour=0xffffff
clickmask=no

// 1768:8
[green_middle]
type=graphic
width=20
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=progress_bar
graphic="qbd_nrgbar_1,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1768:9
[green_right]
type=graphic
width=10
heightmode=minus
xmode=abs_right
layer=progress_bar
graphic="qbd_nrgbar_1,2"
colour=0xffffff
clickmask=no

// 1768:10
[com_10]
type=graphic
width=45
height=31
layer=progress_bar_container
graphic=aif_domtower_healthbar_end
colour=0xffffff
clickmask=no

// 1768:11
[com_11]
type=graphic
width=45
height=31
xmode=abs_right
layer=progress_bar_container
graphic=aif_domtower_healthbar_end
hflip=yes
colour=0xffffff
clickmask=no

// 1768:12
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1768:13
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1768:14
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1768:15
[com_15]
type=text
x=34
y=3
width=16391
height=17
widthmode=proportion
xmode=abs_centre
layer=content
textfont=museo_sans_11pt_regular
text=Correct pose:
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1768:16
[correct_pose]
type=text
x=34
y=16
width=16391
height=20
widthmode=proportion
xmode=abs_centre
layer=content
textfont=museo_sans_13pt_bold
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)
onmouseleave=script8805
onmouserepeat=script8799("Use this pose and your unicorn is Best Unicorn.", event_com, event_comsubid)

// 1768:17
[riding_icon]
type=graphic
x=3
y=7
width=30
height=25
layer=content
graphic="gower_quest_skill_icon_riding,0"
colour=0xffffff
clickmask=no

