// 110:0
[main_layer]
type=layer
width=152
height=192
xmode=abs_centre
ymode=abs_centre
scrollwidth=174
scrollheight=552
onload=script12560
onvartransmit=script5949
onvartransmitlist=elfcity_perm8

// 110:1
[pose1_button_layer]
type=layer
x=-50
y=-60
width=90
height=115
xmode=abs_centre
ymode=abs_centre

// 110:2
[pose2_button_layer]
type=layer
x=50
y=-60
width=90
height=115
xmode=abs_centre
ymode=abs_centre

// 110:3
[pose3_button_layer]
type=layer
x=-50
y=60
width=90
height=115
xmode=abs_centre
ymode=abs_centre

// 110:4
[pose4_button_layer]
type=layer
x=50
y=60
width=90
height=115
xmode=abs_centre
ymode=abs_centre

// 110:5
[pose1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7699(event_com)

// 110:6
[pose1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7728(event_com)

// 110:7
[pose1_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7729(event_com)

// 110:8
[pose1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
hide=yes
onload=script8225(event_com)

// 110:9
[pose1_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose1_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 110:10
[pose1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
hide=yes
onload=script8228(event_com)

// 110:11
[pose1_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer

// 110:12
[com_12]
type=model
x=2
y=-4
width=42
height=74
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_text_layer
model=mtxbeach_bodybuilder_male01
modelorigin_x=-2
modelorigin_y=36
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000
modelanim=gower_player_rocking_horse_idle

// 110:13
[com_13]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=1. Rock
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 110:14
[pose2_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7699(event_com)

// 110:15
[pose2_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7728(event_com)

// 110:16
[pose2_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7729(event_com)

// 110:17
[pose2_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
hide=yes
onload=script8225(event_com)

// 110:18
[pose2_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose2_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 110:19
[pose2_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
hide=yes
onload=script8228(event_com)

// 110:20
[pose2_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer

// 110:21
[com_21]
type=model
x=1
y=-5
width=43
height=75
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_text_layer
model=mtxbeach_bodybuilder_male01
modelorigin_x=-1
modelorigin_y=37
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000
modelanim=gower_player_rocking_horse_trot

// 110:22
[com_22]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=2. Trot
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 110:23
[pose3_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7699(event_com)

// 110:24
[pose3_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7728(event_com)

// 110:25
[pose3_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7729(event_com)

// 110:26
[pose3_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
hide=yes
onload=script8225(event_com)

// 110:27
[pose3_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose3_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 110:28
[pose3_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
hide=yes
onload=script8228(event_com)

// 110:29
[pose3_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer

// 110:30
[com_30]
type=model
x=-3
y=-7
width=48
height=79
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_text_layer
model=mtxbeach_bodybuilder_male01
modelorigin_x=3
modelorigin_y=39
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000
modelanim=gower_player_rocking_horse_gallop

// 110:31
[com_31]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=3. Gallop
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 110:32
[pose4_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7699(event_com)

// 110:33
[pose4_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7728(event_com)

// 110:34
[pose4_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7729(event_com)

// 110:35
[pose4_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
hide=yes
onload=script8225(event_com)

// 110:36
[pose4_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose4_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 110:37
[pose4_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
hide=yes
onload=script8228(event_com)

// 110:38
[pose4_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer

// 110:39
[com_39]
type=model
x=-8
y=-2
width=42
height=76
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_text_layer
model=mtxbeach_bodybuilder_male01
modelorigin_x=8
modelorigin_y=35
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000
modelanim=gower_player_rocking_horse_turn

// 110:40
[com_40]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=4. Turn
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

