// 742:0
[options]
type=layer
widthmode=minus
heightmode=minus
layer=universe
transmitop10=yes
op10= 

// 742:1
[universe]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=graphics_options_init

// 742:2
[confirm]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 742:3
[dropdown]
type=layer
width=100
height=50
hide=yes
noclickthrough=yes
transmitop10=yes
op10=  

// 742:4
[dropdown_bg]
type=layer
x=2
width=4
widthmode=minus
heightmode=minus
layer=dropdown

// 742:5
[dropdown_list]
type=layer
x=1
width=18
height=1
widthmode=minus
heightmode=minus
layer=dropdown
transmitop10=yes
op10=  

// 742:6
[dropdown_scrollbar]
type=layer
x=1
width=16
height=1
heightmode=minus
xmode=abs_right
layer=dropdown
transmitop10=yes
op10=  

