// 141:0
[com_0]
type=rectangle
widthmode=minus
heightmode=minus
colour=0x000000
fill=yes

// 141:1
[foregroundgrave]
type=model
x=-19
y=-12
width=29383
height=50777
widthmode=proportion
heightmode=proportion
layer=content_layer
model=macroevents_grave_digger_coffin_if
modelorigin_x=-216
modelorigin_y=-258
modelangle_x=190
modelangle_y=373
modelangle_z=0
modelzoom=309
modelobjwidth=918
modelobjheight=1035

// 141:2
[com_2]
type=rectangle
x=136
y=43
width=252
height=247
layer=content_layer
colour=0x666600
fill=yes
trans=205

// 141:3
[gd_1]
type=model
x=146
y=50
width=70
height=69
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
onload=gravedigger_spin(event_com)

// 141:4
[gd_2]
type=model
x=227
y=50
width=70
height=69
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
onload=gravedigger_spin(event_com)

// 141:5
[gd_3]
type=model
x=308
y=50
width=70
height=69
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
onload=gravedigger_spin(event_com)

// 141:6
[gd_4]
type=model
x=146
y=133
width=70
height=69
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
onload=gravedigger_spin(event_com)

// 141:7
[gd_5]
type=model
x=227
y=132
width=70
height=69
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
onload=gravedigger_spin(event_com)

// 141:8
[gd_6]
type=model
x=308
y=132
width=70
height=69
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
onload=gravedigger_spin(event_com)

// 141:9
[gd_7]
type=model
x=146
y=212
width=70
height=69
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
onload=gravedigger_spin(event_com)

// 141:10
[gd_8]
type=model
x=227
y=213
width=70
height=69
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
onload=gravedigger_spin(event_com)

// 141:11
[gd_9]
type=model
x=308
y=213
width=70
height=69
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
onload=gravedigger_spin(event_com)

// 141:12
[macro_close]
type=graphic
x=12
y=12
width=26
height=23
xmode=abs_right
layer=content_layer
graphic="close_buttons,6"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onmouseover=graphic_swapper(gravedigger_macro2:macro_close, "close_buttons,7")
onmouseleave=graphic_swapper(gravedigger_macro2:macro_close, "close_buttons,6")
onop=closebutton_click

// 141:13
[content_layer]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre

