// 652:0
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
layer=grave_section
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 652:1
[menu_layer]
type=layer
x=5
y=5
width=176
height=10
heightmode=minus
layer=grave_section
onload=gravestone_shop_setup(event_com, gravestone_shop:scrollbar, gravestone_shop:active_button_active_layer, gravestone_shop:visible_button_active_layer, gravestone_shop:active_title_text, gravestone_shop:visible_title_text, gravestone_shop:info_title, gravestone_shop:info_text)
onvartransmit=gravestone_shop_setup(event_com, gravestone_shop:scrollbar, gravestone_shop:active_button_active_layer, gravestone_shop:visible_button_active_layer, gravestone_shop:active_title_text, gravestone_shop:visible_title_text, gravestone_shop:info_title, gravestone_shop:info_text)
onvartransmitlist=gravestone

// 652:2
[scrollbar]
type=layer
x=5
y=5
width=16
height=10
heightmode=minus
xmode=abs_right
layer=grave_section

// 652:3
[active_title_text]
type=text
height=13
widthmode=minus
layer=confirm_section
textfont=museo_sans_13pt_regular
text=50,000 coins
textalignh=1
textalignv=1
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 652:4
[active_button_layer]
type=layer
y=18
width=150
height=27
xmode=abs_centre
layer=confirm_section

// 652:5
[visible_title_text]
type=text
y=50
height=13
widthmode=minus
layer=confirm_section
textfont=museo_sans_13pt_regular
text=50,000 coins
textalignh=1
textalignv=1
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 652:6
[info_section]
type=layer
x=20
y=20
width=200
height=144
layer=mainmodal_window_content

// 652:7
[confirm_section]
type=layer
x=20
y=20
width=200
height=194
heightmode=minus
ymode=abs_bottom
layer=mainmodal_window_content

// 652:8
[grave_section]
type=layer
x=243
y=20
width=210
height=40
heightmode=minus
layer=mainmodal_window_content

// 652:9
[visible_button_layer]
type=layer
y=5
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_section

// 652:10
[info_title]
type=text
height=30
widthmode=minus
layer=info_section
textfont=museo_sans_13pt_regular
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 652:11
[info_text]
type=text
y=30
height=30
widthmode=minus
heightmode=minus
layer=info_section
textfont=museo_sans_11pt_regular
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 652:12
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(gravestone_shop:mainmodal_window_background, gravestone_shop:mainmodal_window_border, gravestone_shop:mainmodal_window_content, gravestone_shop:mainmodal_window_close_button, "Gravestones", 21218, string_1007)

// 652:13
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 652:14
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 652:15
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 652:16
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 652:17
[active_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=active_button_layer
onload=script7041(event_com)

// 652:18
[active_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=active_button_layer
onload=script7042(event_com)

// 652:19
[active_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=active_button_layer
onload=script7044(event_com)

// 652:20
[active_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=active_button_layer
hide=yes
onload=script7047(event_com)

// 652:21
[active_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=active_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 652:22
[active_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=active_button_layer
hide=yes
onload=script7060(event_com)

// 652:23
[active_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=active_button_layer

// 652:24
[active_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=active_button_text_layer
textfont=cinzel_13pt_bold
text=Set Active
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 652:25
[visible_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=visible_button_layer
onload=script7041(event_com)

// 652:26
[visible_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=visible_button_layer
onload=script7042(event_com)

// 652:27
[visible_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=visible_button_layer
onload=script7044(event_com)

// 652:28
[visible_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=visible_button_layer
hide=yes
onload=script7047(event_com)

// 652:29
[visible_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=visible_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 652:30
[visible_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=visible_button_layer
hide=yes
onload=script7060(event_com)

// 652:31
[visible_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=visible_button_layer

// 652:32
[visible_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=visible_button_text_layer
textfont=cinzel_13pt_bold
text=Set visible
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

