// 1483:0
[gravestone_layer]
type=layer
width=85
height=33
onvartransmit=gravestone_timer_ontransmit
onvartransmitlist=gravestone_timer_slots

// 1483:1
[bespoke_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=gravestone_layer
onload=script8420(gravestone_timer:bespoke_window_background, gravestone_timer:bespoke_window_border, gravestone_timer:bespoke_window_content, null, "", 21259, string_1010)

// 1483:2
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1483:3
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1483:4
[grave_go_to]
type=layer
width=120
height=25
layer=bespoke_window_content
transmitop1=yes
op1=Go to grave

// 1483:5
[warning_icon]
type=graphic
width=19
height=6
widthmode=aspect
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content
noclickthrough=yes
graphic=icon_notification
colour=0xffffff
clickmask=no

// 1483:6
[gravestone_text]
type=text
x=4
width=48
heightmode=minus
xmode=abs_right
layer=bespoke_window_content
textfont=notosans_14
textalignh=2
textalignv=1
textshadow=yes

// 1483:7
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1483:8
[toplevel_move_hook]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window
onload=script3421(event_com, -1, 1010)

// 1483:9
[mode_icon]
type=graphic
width=128
widthmode=aspect
heightmode=minus
layer=bespoke_window
noclickthrough=yes
graphic=death_grave_icon
colour=0xffffff
clickmask=no

// 1483:10
[warning_highlight]
type=rectangle
widthmode=minus
heightmode=minus
layer=bespoke_window
colour=0xff0000

