// 636:0
[build_area]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_layer

// 636:1
[static_button]
type=layer
x=10
width=20
height=20
widthmode=minus
layer=modal_dialog_window_content
onload=script6233(gravestone_loot:static_button_build, gravestone_loot:static_button_click, rs3tli_3x3_button, "Reclaim all items")

// 636:2
[container]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
onload=grave_generate
oninvtransmit=grave_generate
oninvtransmitlist=grave_gravestone_contents

// 636:3
[modal_dialog_window]
type=layer
width=205
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=container
onload=script8420(gravestone_loot:modal_dialog_window_background, gravestone_loot:modal_dialog_window_border, gravestone_loot:modal_dialog_window_content, gravestone_loot:modal_dialog_window_close_button, "Gravestone", 21217, string_1013)

// 636:4
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 636:5
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 636:6
[info_holder_active]
type=layer
x=4
y=24
width=8
height=28
widthmode=minus
heightmode=minus
layer=modal_dialog_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 636:7
[scrolling_layer]
type=layer
x=4
y=26
width=28
height=30
widthmode=minus
heightmode=minus
layer=modal_dialog_window_content

// 636:8
[click_area]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_layer

// 636:9
[scrollbar]
type=layer
x=4
y=26
width=20
height=30
heightmode=minus
xmode=abs_right
layer=modal_dialog_window_content

// 636:10
[confirm_panel]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window_content

// 636:11
[static_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=static_button

// 636:12
[static_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=static_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 636:13
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 636:14
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close

// 636:15
[confirm_blocker]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_panel
noclickthrough=yes

// 636:16
[com_16]
type=rectangle
widthmode=minus
heightmode=minus
layer=confirm_blocker
colour=0x000000
fill=yes
trans=50

// 636:17
[confirm_holder]
type=layer
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_panel

// 636:18
[confirm_background]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_holder
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 636:19
[static_checkbox]
type=layer
x=10
y=2
width=20
height=18
widthmode=minus
ymode=abs_bottom
layer=confirm_holder
onload=script11554(gravestone_loot:checkbox_build, gravestone_loot:checkbox_click)

// 636:20
[yes_button]
type=layer
x=10
y=49
width=20
height=27
widthmode=minus
ymode=abs_bottom
layer=confirm_holder

// 636:21
[positive_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button
onload=script7041(event_com)

// 636:22
[positive_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button
onload=script7042(event_com)

// 636:23
[positive_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button
onload=script7044(event_com)

// 636:24
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button
hide=yes
onload=script7047(event_com)

// 636:25
[yes]
type=layer
widthmode=minus
heightmode=minus
layer=yes_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 636:26
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button
hide=yes
onload=script7060(event_com)

// 636:27
[positive_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button

// 636:28
[positive_button_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_1
textfont=cinzel_13pt_bold
text=Yes
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 636:29
[no_button]
type=layer
x=10
y=21
width=20
height=27
widthmode=minus
ymode=abs_bottom
layer=confirm_holder

// 636:30
[neutral_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button
onload=script7062(event_com)

// 636:31
[neutral_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button
onload=script7063(event_com)

// 636:32
[neutral_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button
onload=script7065(event_com)

// 636:33
[neutral_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button
hide=yes
onload=script7068(event_com)

// 636:34
[no]
type=layer
widthmode=minus
heightmode=minus
layer=no_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 636:35
[neutral_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button
hide=yes
onload=script7074(event_com)

// 636:36
[neutral_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button

// 636:37
[neutral_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer
textfont=cinzel_13pt_bold
text=No
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 636:38
[text_container]
type=layer
x=5
y=5
width=10
height=85
widthmode=minus
heightmode=minus
layer=confirm_holder

// 636:39
[confirm_text]
type=text
widthmode=minus
heightmode=minus
layer=text_container
textfont=museo_sans_11pt_regular_multiline
text=Any items which do not fit into your inventory or worn equipment will either be dropped on the floor or sent to your bank.<br><br>If you don't reclaim them they will be available from Death.<br><br>Are you sure you want to reclaim them now?
textlineheight=11
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 636:40
[checkbox_build]
type=layer
widthmode=minus
heightmode=minus
layer=static_checkbox

// 636:41
[checkbox_click]
type=layer
widthmode=minus
heightmode=minus
layer=static_checkbox
transmitop1=yes
op1=Select
opcursor0=cursor_use

