// 266:0
[graphics_layer]
type=layer
width=512
height=334
layer=content_layer

// 266:1
[gravestone_centre]
type=graphic
x=175
y=46
width=352
height=87
widthmode=minus
heightmode=minus
layer=graphics_layer
colour=0xffffff
clickmask=no

// 266:2
[gravestone_right]
type=graphic
x=335
y=46
width=160
height=247
layer=graphics_layer
colour=0xffffff
clickmask=no

// 266:3
[gravestone_left]
type=graphic
x=15
y=46
width=352
height=87
widthmode=minus
heightmode=minus
layer=graphics_layer
colour=0xffffff
clickmask=no

// 266:4
[com_4]
type=graphic
x=26
y=58
width=19
height=19
xmode=abs_right
layer=graphics_layer
graphic="aif_close_1,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onmouseover=graphic_swapper(event_com, "aif_close_1,1")
onmouseleave=graphic_swapper(event_com, "aif_close_1,0")
onop=closebutton_click

// 266:5
[text]
type=text
x=58
y=95
width=394
height=147
layer=graphics_layer
textfont=p11_full
text=---
textshadow=yes
colour=0x000000
onload=gravestone_plaque_setup(gravestone_plaque:text, gravestone_plaque:gravestone_left, gravestone_plaque:gravestone_centre, gravestone_plaque:gravestone_right)
onvartransmit=gravestone_plaque_setup(gravestone_plaque:text, gravestone_plaque:gravestone_left, gravestone_plaque:gravestone_centre, gravestone_plaque:gravestone_right)
onvartransmitlist=gravestone

// 266:6
[content_layer]
type=layer
width=512
height=334
xmode=proportion_centre
ymode=proportion_centre

