// 47:0
[inventory_layer]
type=layer
y=52
height=52
widthmode=minus
heightmode=minus
scrollheight=252
onload=script6111(lore_bob, group_inspect_bob:list_layer, group_inspect_bob:slot_layer, group_inspect_bob:item_layer, group_inspect_bob:scrollbar)
onvartransmit=script6110(lore_bob, group_inspect_bob:list_layer, group_inspect_bob:slot_layer, group_inspect_bob:item_layer, group_inspect_bob:scrollbar)
oninvtransmit=script6110(lore_bob, group_inspect_bob:list_layer, group_inspect_bob:slot_layer, group_inspect_bob:item_layer, group_inspect_bob:scrollbar)
onvartransmitlist=group_inspect_target_bob_store_size
oninvtransmitlist=lore_bob

// 47:1
[list_layer]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_layer

// 47:2
[slot_layer]
type=layer
widthmode=minus
heightmode=minus
layer=list_layer

// 47:3
[item_layer]
type=layer
widthmode=minus
heightmode=minus
layer=list_layer

// 47:4
[scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=inventory_layer

// 47:5
[stat_name]
type=text
y=2
width=163
height=18
xmode=abs_centre
textfont=museo_sans_13pt_bold
text=Player ~ Name
textalignh=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 47:6
[tooltip_bounding_layer]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion

// 47:7
[tooltip]
type=layer
width=64
height=18
layer=tooltip_bounding_layer

// 47:8
[tabs_layer]
type=layer
y=24
height=28
widthmode=minus

// 47:9
[inv_button]
type=layer
width=36
height=28
layer=tabs_layer
transmitop1=yes
op1=View-Inventory

// 47:10
[inv_button_bg]
type=graphic
width=32
height=32
layer=inv_button
graphic="rs3_btn_menu_3,0"
colour=0xffffff
clickmask=no

// 47:11
[inv_graphic]
type=graphic
width=24
height=24
xmode=abs_centre
ymode=abs_centre
layer=inv_button
graphic=child_tab_icon_inventory
colour=0xffffff
clickmask=no

// 47:12
[worn_button]
type=layer
x=37
width=36
height=28
layer=tabs_layer
transmitop1=yes
op1=View-Worn

// 47:13
[worn_button_bg]
type=graphic
width=32
height=32
layer=worn_button
graphic="rs3_btn_menu_3,0"
colour=0xffffff
clickmask=no

// 47:14
[worn_graphic]
type=graphic
width=24
height=24
xmode=abs_centre
ymode=abs_centre
layer=worn_button
graphic=child_tab_icon_worn
colour=0xffffff
clickmask=no

// 47:15
[bob_button]
type=layer
x=74
width=36
height=28
layer=tabs_layer
transmitop1=yes
op1=View-Bob

// 47:16
[bob_button_bg]
type=graphic
width=32
height=32
layer=bob_button
graphic="rs3_btn_menu_0,1"
colour=0xffffff
clickmask=no

// 47:17
[bob_graphic]
type=graphic
width=24
height=24
xmode=abs_centre
ymode=abs_centre
layer=bob_button
graphic=child_tab_summon_familiar
colour=0xffffff
clickmask=no

// 47:18
[stats_button]
type=layer
x=111
width=36
height=28
layer=tabs_layer
transmitop1=yes
op1=View-Stats

// 47:19
[stats_button_bg]
type=graphic
width=32
height=32
layer=stats_button
graphic="rs3_btn_menu_3,0"
colour=0xffffff
clickmask=no

// 47:20
[stats_graphic]
type=graphic
width=24
height=24
xmode=abs_centre
ymode=abs_centre
layer=stats_button
graphic=rs3_icon_tab_skills
colour=0xffffff
clickmask=no

// 47:21
[close_button]
type=layer
x=148
width=36
height=28
layer=tabs_layer
hide=yes
transmitop1=yes
op1=Close

// 47:22
[line]
type=layer
height=2
widthmode=minus
ymode=abs_bottom
layer=tabs_layer
onload=script349(event_com)

// 47:23
[close_button_bg]
type=graphic
width=32
height=32
layer=close_button
graphic="rs3_btn_menu_3,0"
colour=0xffffff
clickmask=no

// 47:24
[close_graphic]
type=graphic
x=-2
width=24
height=24
xmode=abs_centre
ymode=abs_centre
layer=close_button
graphic="rs3_btn_close_24px,1"
colour=0xffffff
clickmask=no

