// 1522:0
[main]
type=layer
widthmode=minus
heightmode=minus
onload=script3421(event_com, event_comsubid, 1023)

// 1522:1
[invite_wrapper]
type=layer
width=54
height=54
xmode=abs_centre
ymode=abs_centre
layer=main

// 1522:2
[button]
type=layer
widthmode=minus
heightmode=minus
layer=invite_wrapper
onload=stylesheet_static_button(event_com, "", string_14908)

// 1522:3
[open_button]
type=graphic
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=invite_wrapper
graphic="rs3_icon_grouping_system_invite_50px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Open Invite
ontimer=script10383(event_com, 0)
onmouserepeat=script10384(event_com, event_comsubid)

