// 1302:0
[listeners_and_timers]
type=layer
width=1
height=1

// 1302:1
[listener_clan_overview]
type=layer
width=1
height=1
layer=listeners_and_timers

// 1302:2
[base]
type=layer
width=742
heightmode=minus

// 1302:3
[tab_title]
type=text
width=56
height=25
widthmode=minus
xmode=abs_right
layer=base
textfont=cinzel_25pt_bold_multiline
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 1302:4
[tab_background]
type=layer
x=52
y=30
width=56
height=30
widthmode=minus
heightmode=minus
layer=base

// 1302:5
[tab_side]
type=layer
y=34
width=56
height=34
heightmode=minus
layer=base

// 1302:6
[tab_contents_wrapper]
type=layer
x=8
y=40
width=70
height=50
widthmode=minus
heightmode=minus
xmode=abs_right
layer=base
onload=script19419
onvartransmit=script19420
onvartransmitlist=group_ironman_interface,toplevel_v2_skins_varp

// 1302:7
[top]
type=graphic
width=8
height=4
widthmode=minus
xmode=abs_centre
layer=tab_background
graphic=rs3_parent_side_tab_top_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1302:8
[middle]
type=graphic
y=4
width=4
height=8
widthmode=minus
heightmode=minus
layer=tab_background
graphic=rs3_parent_side_tab_content_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1302:9
[left]
type=graphic
width=4
height=8
heightmode=minus
ymode=abs_centre
layer=tab_background
graphic=rs3_parent_side_tab_side_tile
colour=0xffffff
clickmask=no

// 1302:10
[topleft_corner]
type=graphic
width=4
height=4
layer=tab_background
graphic=rs3_parent_side_tab_top_corner
colour=0xffffff
clickmask=no

// 1302:11
[topright_corner]
type=graphic
width=4
height=4
xmode=abs_right
layer=tab_background
graphic=rs3_parent_side_tab_top_corner
hflip=yes
colour=0xffffff
clickmask=no

// 1302:12
[right]
type=graphic
y=4
width=4
height=8
heightmode=minus
xmode=abs_right
layer=tab_background
graphic=rs3_parent_side_tab_side_tile
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1302:13
[bottom]
type=graphic
x=4
width=8
height=4
widthmode=minus
ymode=abs_bottom
layer=tab_background
graphic=rs3_parent_side_tab_bottom_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1302:14
[bottomright_corner]
type=graphic
width=4
height=4
xmode=abs_right
ymode=abs_bottom
layer=tab_background
graphic=rs3_parent_side_tab_bottom_corner
hflip=yes
colour=0xffffff
clickmask=no

// 1302:15
[bottomleft_corner]
type=graphic
width=4
height=4
ymode=abs_bottom
layer=tab_background
graphic=rs3_parent_side_tab_bottom_corner
colour=0xffffff
clickmask=no

// 1302:16
[tab_contents_1]
type=layer
widthmode=minus
heightmode=minus
layer=tab_contents_wrapper
hide=yes

// 1302:17
[bg_4]
type=button
widthmode=minus
heightmode=minus
layer=rules_left
noclickthrough=yes
stylesheet=background_default
onload=stylesheet_set(event_com)

// 1302:18
[rules_contents_wrapper_left]
type=layer
y=5
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=rules_left

// 1302:19
[achievement_details_lower]
type=layer
height=68
widthmode=minus
ymode=abs_bottom
layer=rules_left

// 1302:20
[rules_title_left]
type=text
height=15
widthmode=minus
layer=rules_contents_wrapper_left
textfont=notosans_13
text=Next Group Reward
textshadow=yes
colour=0xffcb05
onload=stylesheet_set_text(event_com, text_title_body)

// 1302:21
[rules_scrolling_left]
type=layer
y=15
height=15
widthmode=minus
heightmode=minus
layer=rules_contents_wrapper_left

// 1302:22
[rules_model_3]
type=model
width=250
height=250
xmode=abs_centre
ymode=abs_centre
layer=rules_scrolling_left
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1302:23
[rules_model_2]
type=model
width=250
height=250
xmode=abs_centre
ymode=abs_centre
layer=rules_scrolling_left
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1302:24
[rules_model_1]
type=model
width=250
height=250
xmode=abs_centre
ymode=abs_centre
layer=rules_scrolling_left
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1302:25
[rules_graphic_3]
type=graphic
width=128
height=128
xmode=abs_centre
ymode=abs_centre
layer=rules_scrolling_left
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1302:26
[rules_graphic_2]
type=graphic
width=128
height=128
xmode=abs_centre
ymode=abs_centre
layer=rules_scrolling_left
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1302:27
[rules_graphic_1]
type=graphic
width=128
height=128
xmode=abs_centre
ymode=abs_centre
layer=rules_scrolling_left
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1302:28
[rules_reward_name_wrapper]
type=layer
height=30
widthmode=minus
ymode=abs_bottom
layer=rules_scrolling_left

// 1302:29
[com_29]
type=rectangle
widthmode=minus
heightmode=minus
layer=rules_reward_name_wrapper
colour=0x000000
fill=yes
trans=128

// 1302:30
[rules_reward_name]
type=text
widthmode=minus
heightmode=minus
layer=rules_reward_name_wrapper
noclickthrough=yes
textfont=notosans_semibold_13
textalignh=1
textalignv=1

// 1302:31
[rules_right]
type=layer
width=7
widthmode=minus
heightmode=minus
layer=tab_contents_1

// 1302:32
[bg_2]
type=button
widthmode=minus
heightmode=minus
layer=rules_right
noclickthrough=yes
stylesheet=background_default
onload=stylesheet_set(event_com)

// 1302:33
[tab_contents_2]
type=layer
widthmode=minus
heightmode=minus
layer=tab_contents_wrapper
hide=yes

// 1302:34
[overview_left]
type=layer
width=10649
widthmode=proportion
heightmode=minus
layer=tab_contents_2

// 1302:35
[tab_contents_3]
type=layer
widthmode=minus
heightmode=minus
layer=tab_contents_wrapper

// 1302:36
[achievement_left]
type=layer
width=9994
widthmode=proportion
heightmode=minus
layer=tab_contents_3

// 1302:37
[achievement_right]
type=layer
width=416
widthmode=minus
heightmode=minus
xmode=abs_right
layer=tab_contents_3

// 1302:38
[tab_1]
type=layer
height=72
widthmode=minus
layer=tab_side
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1302:39
[tab_bg_1]
type=graphic
width=56
height=72
layer=tab_1
graphic=rs3_parent_side_tab_current
colour=0xffffff
clickmask=no

// 1302:40
[tab_icon_1]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=tab_1
colour=0xffffff
clickmask=no

// 1302:41
[tab_2]
type=layer
y=72
height=72
widthmode=minus
layer=tab_side
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1302:42
[tab_bg_2]
type=graphic
width=56
height=72
layer=tab_2
graphic=rs3_parent_side_tab_unselected
colour=0xffffff
clickmask=no

// 1302:43
[tab_icon_2]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=tab_2
colour=0xffffff
clickmask=no

// 1302:44
[tab_3]
type=layer
y=144
height=72
widthmode=minus
layer=tab_side
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1302:45
[tab_bg_3]
type=graphic
width=56
height=72
layer=tab_3
graphic=rs3_parent_side_tab_unselected
colour=0xffffff
clickmask=no

// 1302:46
[tab_icon_3]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=tab_3
colour=0xffffff
clickmask=no

// 1302:47
[separator_lines_rules_right]
type=layer
width=10
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rules_right

// 1302:48
[separator_top_rules_1]
type=layer
height=1
widthmode=minus
ymode=abs_bottom
layer=separator_lines_rules_right
onload=script349(event_com)

// 1302:49
[separator_bot_rules_1]
type=layer
height=1
widthmode=minus
layer=separator_lines_rules_right
onload=script349(event_com)

// 1302:50
[rules_contents_wrapper_right]
type=layer
width=10
height=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rules_right

// 1302:51
[rules_scrolling_right]
type=layer
width=16
widthmode=minus
heightmode=minus
layer=rules_contents_wrapper_right

// 1302:52
[rules_scrollbar_right]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=rules_contents_wrapper_right

// 1302:53
[overview_contents_wrapper_left]
type=layer
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=overview_left

// 1302:54
[overview_details_upper]
type=layer
height=100
widthmode=minus
layer=overview_contents_wrapper_left

// 1302:55
[bg_5]
type=button
widthmode=minus
heightmode=minus
layer=overview_details_upper
noclickthrough=yes
stylesheet=background_default
onload=stylesheet_set(event_com)

// 1302:56
[titles]
type=panel
width=80
height=4
heightmode=minus
ymode=abs_centre
layer=overview_details_upper
noclickthrough=yes
isvertical=yes
childspacing=4

// 1302:57
[entries]
type=panel
x=85
width=226
height=4
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=overview_details_upper
noclickthrough=yes
isvertical=yes
childspacing=4

// 1302:58
[buttons]
type=panel
x=4
width=133
height=8
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=overview_details_upper
noclickthrough=yes
isvertical=yes
childspacing=4

// 1302:59
[button_rename]
type=button
widthmode=minus
heightmode=minus
layer=buttons
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Rename
stylesheet=button_action_neutral
transmitop1=yes
op1=Rename
onload=stylesheet_set(event_com)

// 1302:60
[button_downgrade]
type=button
widthmode=minus
heightmode=minus
layer=buttons
noclickthrough=yes
sprite.graphic=button_action_negative
text.text=Rename
stylesheet=button_action_negative
transmitop1=yes
op1=Downgrade
onload=stylesheet_set(event_com)

// 1302:61
[button_resign]
type=button
widthmode=minus
heightmode=minus
layer=buttons
noclickthrough=yes
sprite.graphic=button_action_negative
text.text=Resign
stylesheet=button_action_negative
transmitop1=yes
op1=Leave
opcursor0=cursor_enter
onload=stylesheet_set(event_com)

// 1302:62
[label_group_name]
type=text
height=15
widthmode=minus
layer=titles
noclickthrough=yes
textfont=notosans_semibold_13
text=Name:
textalignh=2
textalignv=1
onload=stylesheet_set_text(event_com, text_table_paired_column_heading)

// 1302:63
[label_group_leader]
type=text
height=15
widthmode=minus
layer=titles
noclickthrough=yes
textfont=notosans_semibold_13
text=Leader:
textalignh=2
textalignv=1
onload=stylesheet_set_text(event_com, text_table_paired_column_heading)

// 1302:64
[label_group_type]
type=text
height=15
widthmode=minus
layer=titles
noclickthrough=yes
textfont=notosans_semibold_13
text=Type:
textalignh=2
textalignv=1
onload=stylesheet_set_text(event_com, text_table_paired_column_heading)

// 1302:65
[label_group_size]
type=text
height=15
widthmode=minus
layer=titles
noclickthrough=yes
textfont=notosans_semibold_13
text=Size:
textalignh=2
textalignv=1
onload=stylesheet_set_text(event_com, text_table_paired_column_heading)

// 1302:66
[label_group_creation]
type=text
height=15
widthmode=minus
layer=titles
noclickthrough=yes
textfont=notosans_semibold_13
text=Creation:
textalignh=2
textalignv=1
onload=stylesheet_set_text(event_com, text_table_paired_column_heading)

// 1302:67
[overview_details_lower]
type=layer
height=110
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=overview_contents_wrapper_left

// 1302:68
[overview_details_panel]
type=panel
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=overview_details_lower
noclickthrough=yes
isvertical=yes
childspacing=4

// 1302:69
[overview_details_header]
type=layer
height=20
widthmode=minus
layer=overview_details_panel

// 1302:70
[overview_right]
type=layer
x=5
width=443
widthmode=minus
heightmode=minus
xmode=abs_right
layer=tab_contents_2

// 1302:71
[rules_left]
type=layer
height=73
widthmode=minus
heightmode=minus
xmode=abs_right
layer=overview_right

// 1302:72
[achievement_buttons]
type=panel
height=68
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=overview_right
noclickthrough=yes
isvertical=yes
childspacing=8

// 1302:73
[entry_group_name]
type=text
height=15
widthmode=minus
layer=entries
noclickthrough=yes
textfont=notosans_13
textalignv=1
colour=0xaed0e0
onload=stylesheet_set_text(event_com, text_table_paired_column_contents)

// 1302:74
[entry_group_leader]
type=text
height=15
widthmode=minus
layer=entries
noclickthrough=yes
textfont=notosans_13
textalignv=1
colour=0xaed0e0
onload=stylesheet_set_text(event_com, text_table_paired_column_contents)

// 1302:75
[entry_group_type]
type=text
height=15
widthmode=minus
layer=entries
noclickthrough=yes
textfont=notosans_13
textalignv=1
colour=0xaed0e0
onload=stylesheet_set_text(event_com, text_table_paired_column_contents)

// 1302:76
[entry_group_size]
type=text
height=15
widthmode=minus
layer=entries
noclickthrough=yes
textfont=notosans_13
textalignv=1
colour=0xaed0e0
onload=stylesheet_set_text(event_com, text_table_paired_column_contents)

// 1302:77
[entry_group_creation]
type=text
height=15
widthmode=minus
layer=entries
noclickthrough=yes
textfont=notosans_13
textalignv=1
colour=0xaed0e0
onload=stylesheet_set_text(event_com, text_table_paired_column_contents)

// 1302:78
[title_members]
type=text
x=4
width=210
heightmode=minus
layer=overview_details_header
noclickthrough=yes
textfont=notosans_semibold_13
text=Group Members:
textalignv=1
onload=stylesheet_set_text(event_com, text_label_standard)

// 1302:79
[title_active]
type=text
x=4
width=218
widthmode=minus
heightmode=minus
xmode=abs_right
layer=overview_details_header
noclickthrough=yes
textfont=notosans_semibold_13
text=Last Active:
textalignv=1
onload=stylesheet_set_text(event_com, text_label_standard)

// 1302:80
[achievement_contents_wrapper_right]
type=layer
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=achievement_right

// 1302:81
[achievement_details_upper]
type=layer
height=35
widthmode=minus
heightmode=minus
layer=achievement_contents_wrapper_right

// 1302:82
[button_reward_claim]
type=button
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=achievement_contents_wrapper_right
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Claim Reward
stylesheet=button_action_positive
transmitop1=yes
op1=Claim
onload=stylesheet_set(event_com)

// 1302:83
[bg_6]
type=button
widthmode=minus
heightmode=minus
layer=achievement_details_upper
noclickthrough=yes
stylesheet=background_default
onload=stylesheet_set(event_com)

// 1302:84
[reward_wrapper]
type=layer
x=7
width=12
height=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=achievement_details_upper

// 1302:85
[reward_title]
type=text
height=15
widthmode=minus
xmode=abs_centre
layer=reward_wrapper
textfont=notosans_bold_13
text=Rewards
textshadow=yes
colour=0xffcb05
onload=stylesheet_set_text(event_com, text_title_body)

// 1302:86
[reward_selected_area]
type=layer
width=40
widthmode=minus
heightmode=minus
layer=reward_wrapper

// 1302:87
[display_layer]
type=layer
width=196
height=204
xmode=abs_centre
ymode=abs_centre
layer=reward_selected_area

// 1302:88
[reward_model_3]
type=model
width=250
height=250
xmode=abs_centre
ymode=abs_centre
layer=display_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1302:89
[reward_model_2]
type=model
width=250
height=250
xmode=abs_centre
ymode=abs_centre
layer=display_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1302:90
[reward_model_1]
type=model
width=250
height=250
xmode=abs_centre
ymode=abs_centre
layer=display_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1302:91
[reward_graphic_3]
type=graphic
width=128
height=128
xmode=abs_centre
ymode=abs_centre
layer=display_layer
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1302:92
[reward_graphic_2]
type=graphic
width=128
height=128
xmode=abs_centre
ymode=abs_centre
layer=display_layer
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1302:93
[reward_graphic_1]
type=graphic
width=128
height=128
xmode=abs_centre
ymode=abs_centre
layer=display_layer
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1302:94
[reward_selection_area]
type=panel
width=40
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=reward_wrapper
noclickthrough=yes
isvertical=yes
childspacing=4

// 1302:95
[reward_subtitle]
type=text
y=15
height=48
widthmode=minus
xmode=abs_centre
layer=reward_selected_area
textfont=notosans_12
text=Complete all Tier X tasks to unlock these rewards:
textshadow=yes
colour=0xaed0e0
onload=stylesheet_set_text(event_com, text_subtitle_body)

// 1302:96
[reward_desc]
type=text
height=48
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=reward_selected_area
textfont=notosans_12
text=Group Ironman Storage Upgrade (20 slots)
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=stylesheet_set_text(event_com, text_subtitle_body)

// 1302:97
[button_hiscore_ironman]
type=button
height=30
widthmode=minus
layer=achievement_buttons
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Ironman HiScores
stylesheet=button_action_neutral
transmitop1=yes
op1=Go to
onload=stylesheet_set(event_com)

// 1302:98
[button_hiscore_group]
type=button
height=30
widthmode=minus
layer=achievement_buttons
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Group Ironman HiScores
stylesheet=button_action_neutral
transmitop1=yes
op1=Go to
onload=stylesheet_set(event_com)

// 1302:99
[bg_7]
type=button
widthmode=minus
heightmode=minus
layer=achievement_left
noclickthrough=yes
stylesheet=background_default
onload=stylesheet_set(event_com)

// 1302:100
[title_achievement]
type=text
y=5
width=10
height=15
widthmode=minus
xmode=abs_centre
layer=achievement_left
textfont=notosans_bold_13
text=Achievements
textshadow=yes
colour=0xffcb05
onload=stylesheet_set_text(event_com, text_title_body)

// 1302:101
[separator_lines_achievement]
type=layer
y=25
width=10
height=35
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=achievement_left

// 1302:102
[separator_top_achievement]
type=layer
height=1
widthmode=minus
ymode=abs_bottom
layer=separator_lines_achievement
onload=script349(event_com)

// 1302:103
[separator_bot_achievement]
type=layer
height=1
widthmode=minus
layer=separator_lines_achievement
onload=script349(event_com)

// 1302:104
[activity_contents_wrapper_achievement]
type=layer
y=27
width=10
height=39
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=achievement_left

// 1302:105
[achievement_scrolling]
type=layer
width=16
widthmode=minus
heightmode=minus
layer=activity_contents_wrapper_achievement

// 1302:106
[achievement_scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=activity_contents_wrapper_achievement

