// 1298:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(group_ironman_achievements:mainmodal_window_background, group_ironman_achievements:mainmodal_window_border, group_ironman_achievements:mainmodal_window_content, group_ironman_achievements:mainmodal_window_close_button, "Group Ironman Achievements", 21218, string_1007)

// 1298:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1298:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1298:3
[background_layer]
type=layer
x=5
y=23
width=10
height=29
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1298:4
[tabs]
type=layer
x=5
width=10
height=24
widthmode=minus
layer=mainmodal_window_content

// 1298:5
[tab_1_parent]
type=layer
width=4096
height=24
widthmode=proportion
ymode=abs_bottom
layer=tabs

// 1298:6
[tab_2_parent]
type=layer
x=4096
width=4096
height=24
widthmode=proportion
xmode=proportion_left
ymode=abs_bottom
layer=tabs

// 1298:7
[tab_1_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_1_parent
onload=script8103(event_com)

// 1298:8
[tab_1_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_1_parent
onload=script9645(event_com)

// 1298:9
[tab_1_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_1_parent
onload=script9646(event_com)

// 1298:10
[tab_1_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_1_parent
hide=yes
onload=script9648(event_com)

// 1298:11
[tab_1]
type=layer
widthmode=minus
heightmode=minus
layer=tab_1_parent
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onclick=script19397(1)

// 1298:12
[tab_1_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_1_parent

// 1298:13
[tab_1_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_1_text_layer
textfont=cinzel_13pt_bold
text=Size 2
textalignh=1
textalignv=1
colour=0x000000
onload=script9653(event_com)

// 1298:14
[tab_3_parent]
type=layer
x=4096
width=4096
height=24
widthmode=proportion
xmode=proportion_right
ymode=abs_bottom
layer=tabs

// 1298:15
[tab_4_parent]
type=layer
width=4096
height=24
widthmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=tabs

// 1298:16
[tab_3_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_3_parent
onload=script8103(event_com)

// 1298:17
[tab_3_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_3_parent
onload=script9645(event_com)

// 1298:18
[tab_3_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_3_parent
onload=script9646(event_com)

// 1298:19
[tab_3_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_3_parent
hide=yes
onload=script9647(event_com)

// 1298:20
[tab_3]
type=layer
widthmode=minus
heightmode=minus
layer=tab_3_parent
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onclick=script19397(3)

// 1298:21
[tab_3_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_3_parent

// 1298:22
[tab_3_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_3_text_layer
textfont=cinzel_13pt_bold
text=Size 4
textalignh=1
textalignv=1
colour=0x000000
onload=script9653(event_com)

// 1298:23
[info_layer]
type=layer
x=10
y=24
width=20
height=33
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1298:24
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1298:25
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1298:26
[tab_2_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_2_parent
onload=script8103(event_com)

// 1298:27
[tab_2_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_2_parent
onload=script9645(event_com)

// 1298:28
[tab_2_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_2_parent
onload=script9646(event_com)

// 1298:29
[tab_2_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_2_parent
hide=yes
onload=script9647(event_com)

// 1298:30
[tab_2]
type=layer
widthmode=minus
heightmode=minus
layer=tab_2_parent
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onclick=script19397(2)

// 1298:31
[tab_2_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_2_parent

// 1298:32
[tab_2_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_2_text_layer
textfont=cinzel_13pt_bold
text=Size 3
textalignh=1
textalignv=1
colour=0x000000
onload=script9653(event_com)

// 1298:33
[container_layer]
type=layer
width=16
widthmode=minus
heightmode=minus
layer=info_layer
onload=script19395

// 1298:34
[scroll_layer]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=info_layer

// 1298:35
[tab_4_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_4_parent
onload=script8103(event_com)

// 1298:36
[tab_4_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_4_parent
onload=script9645(event_com)

// 1298:37
[tab_4_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_4_parent
onload=script9646(event_com)

// 1298:38
[tab_4_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_4_parent
hide=yes
onload=script9647(event_com)

// 1298:39
[tab_4]
type=layer
widthmode=minus
heightmode=minus
layer=tab_4_parent
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onclick=script19397(4)

// 1298:40
[tab_4_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_4_parent

// 1298:41
[tab_4_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_4_text_layer
textfont=cinzel_13pt_bold
text=Size 5
textalignh=1
textalignv=1
colour=0x000000
onload=script9653(event_com)

