// 1524:0
[base]
type=layer
widthmode=minus
heightmode=minus
onload=script10347
onvartransmit=script10359
onvartransmitlist=group_id_selected,group_perm1,toplevel_v2_skins_varp

// 1524:1
[content_layer]
type=layer
width=505
heightmode=minus
layer=base

// 1524:2
[initial_panel]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer

// 1524:3
[line]
type=layer
y=33
height=2
widthmode=minus
ymode=abs_bottom
layer=initial_panel
onload=script349(event_com)

// 1524:4
[title_panel]
type=layer
x=5
y=5
width=10
height=30
widthmode=minus
layer=initial_panel

// 1524:5
[title_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=title_panel
textfont=cinzel_18pt_bold
text=Grouping System
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 1524:6
[info_panel]
type=layer
x=5
y=37
width=10
height=32
widthmode=minus
layer=initial_panel

// 1524:7
[general_information_text]
type=text
widthmode=minus
heightmode=minus
layer=info_panel
textfont=museo_sans_11pt_regular
text=Highlight a category for what type of activity you want to do with a group of others. Then press the 'Join Selected' button to find a group.
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1524:8
[selection_panel]
type=layer
x=5
y=75
width=10
height=115
widthmode=minus
heightmode=minus
layer=initial_panel

// 1524:9
[scrolling_area]
type=layer
width=20
widthmode=minus
heightmode=minus
layer=selection_panel

// 1524:10
[sys_build]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_area

// 1524:11
[sys_click]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_area

// 1524:12
[cat_build]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_area

// 1524:13
[cat_click]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_area

// 1524:14
[scrollbar_layer]
type=layer
width=20
heightmode=minus
xmode=abs_right
layer=selection_panel

// 1524:15
[button_panel]
type=layer
x=5
y=1
width=10
height=30
widthmode=minus
ymode=abs_bottom
layer=initial_panel

// 1524:16
[select_button_layer]
type=layer
x=5
width=170
height=27
xmode=abs_right
ymode=abs_centre
layer=button_panel

// 1524:17
[select_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_layer
onload=script7041(event_com)

// 1524:18
[select_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_layer
onload=script7042(event_com)

// 1524:19
[select_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_layer
onload=script7044(event_com)

// 1524:20
[select_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_layer
hide=yes
onload=script7047(event_com)

// 1524:21
[select_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=select_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1524:22
[select_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_layer
hide=yes
onload=script7060(event_com)

// 1524:23
[select_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_layer

// 1524:24
[select_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_text_layer
textfont=cinzel_13pt_bold
text=View Selected
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1524:25
[static_dropdown]
type=layer
x=10
width=250
height=24
ymode=abs_centre
layer=button_panel
onload=script11732(group_parent:dropdown_build, group_parent:dropdown_click)
onvartransmit=script11732(group_parent:dropdown_build, group_parent:dropdown_click)
onvartransmitlist=group_perm1

// 1524:26
[dropdown_build]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown

// 1524:27
[dropdown_click]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1524:28
[new_leader_panel]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content_layer
hide=yes

// 1524:29
[title_1]
type=text
height=25
widthmode=minus
layer=new_leader_panel
textfont=museo_sans_13pt_regular
text=You are the group leader
textalignh=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1524:30
[general_information_text_1]
type=text
y=30
height=90
widthmode=minus
layer=new_leader_panel
textfont=notosans_12
text=There are no other groups currently available for matchmaking, so a new group has been created. Please be patient, other players will join your group automatically.<br>After joining, each player will select 'ready' allowing you to complete the group setup and start playing.<br>You may also relist your group without disbanding it in order to change content.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1524:31
[title_2]
type=text
y=130
height=25
widthmode=minus
layer=new_leader_panel
textfont=museo_sans_13pt_regular
text=Use 'Group Members' window to manage your group
textalignh=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1524:32
[info_2]
type=layer
y=155
height=200
widthmode=minus
heightmode=minus
layer=new_leader_panel

// 1524:33
[content_icon_1]
type=layer
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=info_2

// 1524:34
[info_holder_active_6]
type=layer
x=1
y=1
width=2
height=2
widthmode=minus
heightmode=minus
layer=content_icon_1
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1524:35
[graphic_1]
type=graphic
x=5
width=20
height=20
ymode=abs_centre
layer=content_icon_1
graphic="rs3_icon_grouping_system,0"
colour=0xffffff
clickmask=no
ontimer=script11731(event_com, 0)

// 1524:36
[general_information_text_2]
type=text
x=30
y=1
width=35
height=2
widthmode=minus
heightmode=minus
layer=content_icon_1
textfont=museo_sans_11pt_regular
text=Enter the name of a player to invite to your group.
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1524:37
[content_icon_2]
type=layer
y=35
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=info_2

// 1524:38
[info_holder_active_7]
type=layer
x=1
y=1
width=2
height=2
widthmode=minus
heightmode=minus
layer=content_icon_2
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1524:39
[graphic_2]
type=graphic
x=5
width=20
height=20
ymode=abs_centre
layer=content_icon_2
graphic="rs3_icon_grouping_system,1"
colour=0xffffff
clickmask=no
ontimer=script11731(event_com, 0)

// 1524:40
[general_information_text_3]
type=text
x=30
y=1
width=35
height=2
widthmode=minus
heightmode=minus
layer=content_icon_2
textfont=museo_sans_11pt_regular
text=Toggle your status between 'ready' and 'not ready'.
textlineheight=11
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1524:41
[content_icon_3]
type=layer
y=70
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=info_2

// 1524:42
[info_holder_active_8]
type=layer
x=1
y=1
width=2
height=2
widthmode=minus
heightmode=minus
layer=content_icon_3
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1524:43
[graphic_3]
type=graphic
x=5
width=20
height=20
ymode=abs_centre
layer=content_icon_3
graphic="rs3_icon_grouping_system,4"
colour=0xffffff
clickmask=no
ontimer=script11731(event_com, 0)

// 1524:44
[general_information_text_4]
type=text
x=30
y=1
width=35
height=2
widthmode=minus
heightmode=minus
layer=content_icon_3
textfont=museo_sans_11pt_regular
text=When the 'ready' button displays this icon your group is in progress. Players will no longer be matched to your group.
textlineheight=11
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1524:45
[content_icon_5]
type=layer
y=105
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=info_2

// 1524:46
[info_holder_active_9]
type=layer
x=1
y=1
width=2
height=2
widthmode=minus
heightmode=minus
layer=content_icon_5
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1524:47
[graphic_5]
type=graphic
x=5
width=20
height=20
ymode=abs_centre
layer=content_icon_5
graphic="rs3_icon_grouping_system,5"
colour=0xffffff
clickmask=no
ontimer=script11731(event_com, 0)

// 1524:48
[general_information_text_5]
type=text
x=30
y=1
width=35
height=2
widthmode=minus
heightmode=minus
layer=content_icon_5
textfont=museo_sans_11pt_regular
text=Mark your group as 'complete' when all players are ready. You will be offered the choice to teleport all players to the start location.
textlineheight=11
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1524:49
[content_icon_6]
type=layer
y=140
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=info_2

// 1524:50
[info_holder_active_10]
type=layer
x=1
y=1
width=2
height=2
widthmode=minus
heightmode=minus
layer=content_icon_6
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1524:51
[graphic_6]
type=graphic
x=5
width=17
height=17
ymode=abs_centre
layer=content_icon_6
graphic="rs3_icon_lobby_loot_share,0"
colour=0xffffff
clickmask=no
ontimer=script11731(event_com, 0)

// 1524:52
[general_information_text_6]
type=text
x=30
y=1
width=35
height=2
widthmode=minus
heightmode=minus
layer=content_icon_6
textfont=museo_sans_11pt_regular
text=Enable or disable lootshare for your group.
textlineheight=11
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1524:53
[content_icon_8]
type=layer
y=175
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=info_2

// 1524:54
[info_holder_active_11]
type=layer
x=1
y=1
width=2
height=2
widthmode=minus
heightmode=minus
layer=content_icon_8
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1524:55
[graphic_8]
type=graphic
x=5
width=20
height=20
ymode=abs_centre
layer=content_icon_8
graphic="rs3_icon_grouping_system,12"
colour=0xffffff
clickmask=no
ontimer=script11731(event_com, 0)

// 1524:56
[general_information_text_8]
type=text
x=30
y=1
width=35
height=2
widthmode=minus
heightmode=minus
layer=content_icon_8
textfont=museo_sans_11pt_regular
text=Remove your group from matchmaking, or add your group to matchmaking.
textlineheight=11
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1524:57
[content_icon_7]
type=layer
y=210
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=info_2

// 1524:58
[info_holder_active_12]
type=layer
x=1
y=1
width=2
height=2
widthmode=minus
heightmode=minus
layer=content_icon_7
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1524:59
[graphic_7]
type=graphic
x=5
width=20
height=20
ymode=abs_centre
layer=content_icon_7
graphic="rs3_icon_grouping_system,10"
colour=0xffffff
clickmask=no
ontimer=script11731(event_com, 0)

// 1524:60
[general_information_text_7]
type=text
x=30
y=1
width=35
height=2
widthmode=minus
heightmode=minus
layer=content_icon_7
textfont=museo_sans_11pt_regular
text=Leave your group.
textlineheight=11
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1524:61
[button_panel_1]
type=layer
width=10
height=30
widthmode=minus
ymode=abs_bottom
layer=new_leader_panel

// 1524:62
[select_button_layer_1]
type=layer
x=5
width=130
height=27
xmode=abs_right
ymode=abs_centre
layer=button_panel_1

// 1524:63
[select_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_layer_1
onload=script7041(event_com)

// 1524:64
[select_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_layer_1
onload=script7042(event_com)

// 1524:65
[select_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_layer_1
onload=script7044(event_com)

// 1524:66
[select_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_layer_1
hide=yes
onload=script7047(event_com)

// 1524:67
[continue_button]
type=layer
widthmode=minus
heightmode=minus
layer=select_button_layer_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1524:68
[select_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_layer_1
hide=yes
onload=script7060(event_com)

// 1524:69
[select_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_layer_1

// 1524:70
[select_button_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=select_button_text_layer_1
textfont=cinzel_13pt_bold
text=Close
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1524:71
[static_checkbox_withlabel]
type=layer
x=140
width=200
height=20
xmode=abs_right
ymode=abs_centre
layer=button_panel_1
onload=script11730(group_parent:checkbox_build_withlabel, group_parent:checkbox_click_withlabel)
onvartransmit=script11730(group_parent:checkbox_build_withlabel, group_parent:checkbox_click_withlabel)
onvartransmitlist=group_perm2

// 1524:72
[checkbox_build_withlabel]
type=layer
widthmode=minus
heightmode=minus
layer=static_checkbox_withlabel

// 1524:73
[checkbox_click_withlabel]
type=layer
widthmode=minus
heightmode=minus
layer=static_checkbox_withlabel
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1524:74
[confirm_panel]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer
hide=yes

// 1524:75
[title_panel_confirm]
type=layer
x=5
y=5
width=10
height=90
widthmode=minus
layer=confirm_panel

// 1524:76
[info_holder_active_2]
type=layer
widthmode=minus
heightmode=minus
layer=title_panel_confirm
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1524:77
[size_text_holder]
type=layer
height=20
widthmode=minus
ymode=abs_bottom
layer=title_panel_confirm

// 1524:78
[group_size_label]
type=text
x=5
width=100
height=16
layer=size_text_holder
textfont=museo_sans_13pt_regular
text=Group Size:
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1524:79
[size_text]
type=text
x=105
width=120
height=15
layer=size_text_holder
textfont=museo_sans_13pt_regular
text=5 - 15 Players
textshadow=yes
maxlines=1

// 1524:80
[recommended_label]
type=text
x=240
width=120
height=16
layer=size_text_holder
textfont=museo_sans_13pt_regular
text=Recommended:
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1524:81
[recommended_text]
type=text
x=360
width=120
height=16
layer=size_text_holder
textfont=museo_sans_13pt_regular
text=10 Players
textshadow=yes
maxlines=1

// 1524:82
[info_title]
type=text
height=20
widthmode=minus
layer=title_panel_confirm
textfont=cinzel_15pt_bold
text=Group Name
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
maxlines=2
onload=script10496(event_com, event_comsubid, 0)

// 1524:83
[description_text]
type=text
x=5
y=20
width=10
height=45
widthmode=minus
layer=title_panel_confirm
textfont=museo_sans_11pt_regular
textshadow=yes
colour=0x7592a0
maxlines=3
onload=script10496(event_com, event_comsubid, 3)

// 1524:84
[req_holder]
type=layer
x=5
y=100
width=10
height=90
widthmode=minus
layer=confirm_panel

// 1524:85
[info_holder_active_3]
type=layer
y=16
height=16
widthmode=minus
heightmode=minus
layer=req_holder
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1524:86
[secondary_title_text]
type=text
width=150
height=16
layer=req_holder
textfont=museo_sans_11pt_regular
text=Requirements
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1524:87
[req_build_area]
type=layer
x=5
y=4
width=25
height=24
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=req_holder

// 1524:88
[req_scrollbar]
type=layer
y=4
width=20
height=24
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=req_holder

// 1524:89
[reward_holder]
type=layer
x=5
y=195
width=10
height=90
widthmode=minus
layer=confirm_panel

// 1524:90
[info_holder_active_4]
type=layer
y=15
height=15
widthmode=minus
heightmode=minus
layer=reward_holder
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1524:91
[secondary_title_text_1]
type=text
width=150
height=16
layer=reward_holder
textfont=museo_sans_11pt_regular
text=Rewards
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1524:92
[reward_build_area]
type=layer
x=5
y=4
width=25
height=24
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=reward_holder

// 1524:93
[reward_scrollbar]
type=layer
y=4
width=20
height=24
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=reward_holder

// 1524:94
[settings_holder]
type=layer
x=5
y=290
width=10
height=90
widthmode=minus
layer=confirm_panel
onvartransmit=script10365
onvartransmitlist=group_team_player,group_choice1_player,group_choice2_player,group_choice3_player,group_choice4_player,group_choice5_player,group_choice6_player,group_choice7_player,group_choice8_player,group_choice9_player,group_choice10_player,group_choice11_player,group_choice12_player

// 1524:95
[info_holder_active_5]
type=layer
y=16
height=16
widthmode=minus
heightmode=minus
layer=settings_holder
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1524:96
[secondary_title_text_2]
type=text
width=150
height=16
layer=settings_holder
textfont=museo_sans_11pt_regular
text=Settings
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1524:97
[settings_content_area]
type=layer
x=5
y=4
width=25
height=24
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=settings_holder

// 1524:98
[settings_build_area]
type=layer
widthmode=minus
heightmode=minus
layer=settings_content_area

// 1524:99
[settings_click_area]
type=layer
widthmode=minus
heightmode=minus
layer=settings_content_area

// 1524:100
[combat_setting_area]
type=layer
y=200
height=45
widthmode=minus
layer=settings_content_area
hide=yes
onvartransmit=script10378
onvartransmitlist=group_combat_player

// 1524:101
[combat_slider_wrapper]
type=layer
width=200
height=22
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combat_setting_area

// 1524:102
[combat_slider_build]
type=layer
width=16384
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=combat_slider_wrapper

// 1524:103
[combat_slider_click]
type=layer
width=16384
height=20
widthmode=proportion
ymode=abs_centre
layer=combat_slider_wrapper

// 1524:104
[settings_scrollbar]
type=layer
y=4
width=20
height=24
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=settings_holder

// 1524:105
[button_holder]
type=layer
x=5
y=5
width=10
height=30
widthmode=minus
ymode=abs_bottom
layer=confirm_panel

// 1524:106
[matches_holder]
type=layer
x=120
width=190
height=17
ymode=abs_centre
layer=button_holder

// 1524:107
[matches_dark_rect]
type=layer
widthmode=minus
heightmode=minus
layer=matches_holder
onload=script10470(event_com)

// 1524:108
[matches_text_holder]
type=layer
widthmode=minus
heightmode=minus
layer=matches_holder
onvartransmit=script10371(group_parent:matches_text)
onvartransmitlist=group_id_selected_matches

// 1524:109
[matches_text]
type=text
widthmode=minus
heightmode=minus
layer=matches_text_holder
textfont=museo_sans_13pt_regular
text=0 matches found
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1524:110
[positive_button_layer]
type=layer
x=5
width=170
height=27
xmode=abs_right
layer=button_holder

// 1524:111
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7041(event_com)

// 1524:112
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7042(event_com)

// 1524:113
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7044(event_com)

// 1524:114
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7047(event_com)

// 1524:115
[join_queue_button]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1524:116
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7060(event_com)

// 1524:117
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer

// 1524:118
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Join queue
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1524:119
[back_button_layer]
type=layer
x=5
width=110
height=27
ymode=abs_centre
layer=button_holder

// 1524:120
[back_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=back_button_layer
onload=script7275(event_com)

// 1524:121
[back_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=back_button_layer
onload=script7276(event_com)

// 1524:122
[back_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=back_button_layer
onload=script7277(event_com)

// 1524:123
[back_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=back_button_layer
hide=yes
onload=script7445(event_com)

// 1524:124
[back_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=back_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1524:125
[back_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=back_button_layer
hide=yes
onload=script7572(event_com)

// 1524:126
[back_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=back_button_layer

// 1524:127
[back_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=back_button_text_layer
textfont=cinzel_13pt_bold
text=Back
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 1524:128
[text_input_clickout]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content_layer
hide=yes
noclickthrough=yes

// 1524:129
[blackout_listener]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer
onvartransmit=group_searching(group_parent:blackout_panel)
onvartransmitlist=group_temp1

// 1524:130
[blackout_panel]
type=layer
widthmode=minus
heightmode=minus
layer=blackout_listener
hide=yes
noclickthrough=yes

// 1524:131
[com_131]
type=rectangle
widthmode=minus
heightmode=minus
layer=blackout_panel
colour=0x000000
fill=yes
trans=100

// 1524:132
[spinner]
type=layer
widthmode=minus
heightmode=minus
layer=blackout_panel
onload=spinner_create(event_com, 1, -1)

// 1524:133
[com_133]
type=text
height=100
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=blackout_panel
textfont=museo_sans_13pt_bold
text=Searching for matches...
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

