// 1523:0
[background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=window_1_no_title_layer

// 1523:1
[border]
type=layer
widthmode=minus
heightmode=minus
layer=window_1_no_title_layer
onload=script8420(group_name_input:background, group_name_input:border, null, group_name_input:close_layer, "", 23001, string_1006)

// 1523:2
[title_layer]
type=layer
width=16
height=30
widthmode=minus
xmode=abs_centre
layer=content_layer

// 1523:3
[positive_button_layer]
type=layer
y=13
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=content_layer

// 1523:4
[text_input_layer]
type=layer
width=20
height=21
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 1523:5
[char_left]
type=text
y=30
width=228
height=20
xmode=abs_centre
layer=content_layer
textfont=museo_sans_11pt_regular
text=0/12
textalignh=1
textalignv=1
colour=0x1f1d19

// 1523:6
[window_1_no_title_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 1523:7
[content_layer]
type=layer
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=window_1_no_title_layer

// 1523:8
[close_layer]
type=layer
width=522
height=146
layer=window_1_no_title_layer
onclick=group_create_abort

// 1523:9
[com_9]
type=graphic
width=6
height=21
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_layer
graphic="aif_text_input_3,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1523:10
[com_10]
type=graphic
width=6
height=21
ymode=abs_centre
layer=text_input_layer
graphic="aif_text_input_3,0"
tiling=yes
colour=0xffffff
clickmask=no

// 1523:11
[com_11]
type=graphic
width=6
height=21
xmode=abs_right
ymode=abs_centre
layer=text_input_layer
graphic="aif_text_input_3,2"
tiling=yes
colour=0xffffff
clickmask=no

// 1523:12
[text_input]
type=text
y=-1
width=12
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_layer
textfont=verdana_11pt_regular_multiline
textalignh=1
textalignv=1
colour=0x1f1d19
onload=group_create_text_init(event_com, 99811333, group_name_input:caret)

// 1523:13
[caret]
type=line
y=5
height=10
xmode=abs_centre
layer=text_input_layer
hide=yes
colour=0xffffff

// 1523:14
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7041(event_com)

// 1523:15
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7042(event_com)

// 1523:16
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7044(event_com)

// 1523:17
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7047(event_com)

// 1523:18
[ok_button]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onclick=group_create_return

// 1523:19
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7060(event_com)

// 1523:20
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer

// 1523:21
[aif_bronze_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Invite
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1523:22
[title_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=title_layer
textfont=cinzel_12pt_bold
text=Enter name of player to invite
textlineheight=10
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script2732(event_com, -1, 0)

