// 1519:0
[button_area]
type=layer
y=33
height=30
widthmode=minus
ymode=abs_bottom
layer=content
hide=yes

// 1519:1
[click_area]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_area

// 1519:2
[ignore_area]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_area

// 1519:3
[build_area]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_area

// 1519:4
[close_button]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_area
transmitop1=yes
op1=Close
onload=script5897(event_com, toplevel_v2_default_main_modal_skin_data)

// 1519:5
[scrolling_area]
type=layer
width=20
height=33
widthmode=minus
heightmode=minus
layer=content

// 1519:6
[ready_button_layer]
type=layer
width=20
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_area

// 1519:7
[scrollbar]
type=layer
width=20
height=33
heightmode=minus
xmode=abs_right
layer=content

// 1519:8
[bottom_line]
type=layer
y=30
height=2
widthmode=minus
ymode=abs_bottom
layer=content
onload=script349(event_com)

// 1519:9
[content]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=base

// 1519:10
[fixed_area]
type=layer
height=30
widthmode=minus
ymode=abs_bottom
layer=content

// 1519:11
[base]
type=layer
widthmode=minus
heightmode=minus
onload=script10312(event_com)

// 1519:12
[context_menu_button]
type=layer
x=5
y=3
width=24
height=24
ymode=abs_bottom
layer=fixed_area

// 1519:13
[context_menu_button_on]
type=graphic
width=24
height=24
xmode=abs_centre
ymode=abs_centre
layer=context_menu_button
graphic="rs3_btn_icon_24px,0"
colour=0xffffff
clickmask=no

// 1519:14
[context_menu_button_over]
type=graphic
width=24
height=24
xmode=abs_centre
ymode=abs_centre
layer=context_menu_button
graphic="rs3_btn_icon_24px,1"
trans=255
colour=0xffffff
clickmask=no
onmouseover=if_settrans(0, event_com)
onmouseleave=if_settrans(255, event_com)

// 1519:15
[context_menu_button_hit]
type=graphic
width=24
height=24
xmode=abs_centre
ymode=abs_centre
layer=context_menu_button
graphic="rs3_btn_icon_24px,2"
trans=255
colour=0xffffff
clickmask=no
onclick=if_settrans(0, event_com)
onrelease=if_settrans(255, event_com)

// 1519:16
[context_menu_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=context_menu_button
transmitop1=yes
op1=Expand group actions
onload=script4213(event_com)
onop=script10326(event_com)
onmouserepeat=script8799("Expand group actions", event_com, event_comsubid)

// 1519:17
[show_context_menu_button]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=context_menu_button_active
graphic=rs3_chat_filter_dropdown
colour=0xffffff
clickmask=no

// 1519:18
[group_button_layer]
type=layer
widthmode=minus
heightmode=minus
layer=fixed_area
hide=yes
noclickthrough=yes

// 1519:19
[invite_by_name_layer]
type=layer
y=3
width=24
height=24
ymode=abs_bottom
layer=group_button_layer

// 1519:20
[set_status_button_layer]
type=layer
x=27
y=3
width=24
height=24
ymode=abs_bottom
layer=group_button_layer

// 1519:21
[invitation_setting_button_layer]
type=layer
x=54
y=3
width=24
height=24
ymode=abs_bottom
layer=group_button_layer

// 1519:22
[start_game_layer]
type=layer
x=81
y=3
width=24
height=24
ymode=abs_bottom
layer=group_button_layer

// 1519:23
[leave_group_layer]
type=layer
x=108
y=3
width=24
height=24
ymode=abs_bottom
layer=group_button_layer

// 1519:24
[create_group_layer]
type=layer
x=135
y=3
width=24
height=24
ymode=abs_bottom
layer=group_button_layer

// 1519:25
[want_members_layer]
type=layer
x=162
y=3
width=24
height=24
ymode=abs_bottom
layer=group_button_layer

// 1519:26
[find_content_layer]
type=layer
x=189
y=3
width=24
height=24
ymode=abs_bottom
layer=group_button_layer

// 1519:27
[lootshare_layer]
type=layer
x=216
y=3
width=24
height=24
ymode=abs_bottom
layer=group_button_layer

// 1519:28
[invitation_setting_button]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=invitation_setting_button_active_layer
graphic="rs3_icon_grouping_system,6"
colour=0xffffff
clickmask=no

// 1519:29
[group_size]
type=text
x=40
y=3
width=48
height=24
xmode=abs_right
ymode=abs_bottom
layer=fixed_area
textfont=museo_sans_11pt_regular
textlineheight=15
textalignv=1
textshadow=yes
colour=0xdce6c8

// 1519:30
[group_button]
type=graphic
x=22
y=6
width=17
height=17
xmode=abs_right
ymode=abs_bottom
layer=fixed_area
graphic="aif_chat_navigation_btn,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Show group
onmouseleave=script8805
onop=script10318(group_child:base, 0)
onmouserepeat=script8799("Group member list", event_com, event_comsubid)

// 1519:31
[group_button_selected]
type=graphic
x=22
y=6
width=17
height=17
xmode=abs_right
ymode=abs_bottom
layer=fixed_area
graphic="aif_chat_navigation_btn,6"
colour=0xffffff
clickmask=no

// 1519:32
[ignore_button]
type=graphic
x=2
y=6
width=17
height=17
xmode=abs_right
ymode=abs_bottom
layer=fixed_area
graphic="aif_chat_navigation_btn,2"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Show banned list
onmouseleave=script8805
onop=script10318(group_child:base, 1)
onmouserepeat=script8799("Group banned list", event_com, event_comsubid)

// 1519:33
[ignore_button_selected]
type=graphic
x=2
y=6
width=17
height=17
xmode=abs_right
ymode=abs_bottom
layer=fixed_area
hide=yes
graphic="aif_chat_navigation_btn,8"
colour=0xffffff
clickmask=no

// 1519:34
[start_game_button]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=start_game_button_active
graphic="rs3_icon_grouping_system,5"
colour=0xffffff
clickmask=no

// 1519:35
[leave_group_button]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=leave_group_button_active
graphic="rs3_icon_grouping_system,10"
colour=0xffffff
clickmask=no

// 1519:36
[create_group_button]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=create_group_button_active
graphic="rs3_icon_grouping_system,13"
colour=0xffffff
clickmask=no

// 1519:37
[want_members_button]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=want_members_button_active
graphic="rs3_icon_grouping_system,11"
colour=0xffffff
clickmask=no

// 1519:38
[ready_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ready_button_layer
onload=script7041(event_com)

// 1519:39
[ready_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ready_button_layer
onload=script7042(event_com)

// 1519:40
[ready_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ready_button_layer
onload=script7044(event_com)

// 1519:41
[ready_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ready_button_layer
hide=yes
onload=script7047(event_com)

// 1519:42
[ready_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=ready_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1519:43
[ready_button_main]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ready_button_layer

// 1519:44
[ready_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ready_button_main
textfont=cinzel_13pt_bold
text=Ready
textalignh=1
textalignv=1
colour=0x000000
maxlines=1
onload=script7061(event_com)

// 1519:45
[find_content_button]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=find_content_button_active
graphic=black_placeholder
colour=0xffffff
clickmask=no

// 1519:46
[1x1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=invite_by_name_layer
onload=script9992(event_com)

// 1519:47
[1x1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=invite_by_name_layer
onload=script9993(event_com)

// 1519:48
[1x1_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=invite_by_name_layer
onload=script9994(event_com)

// 1519:49
[1x1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=invite_by_name_layer
hide=yes
onload=script9996(event_com)

// 1519:50
[invite_by_name_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=invite_by_name_layer
transmitop1=yes
op1=Invite player
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Invite a player to your group.", event_com, event_comsubid)

// 1519:51
[invite_by_name_button]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=invite_by_name_button_active
graphic="rs3_icon_grouping_system,0"
colour=0xffffff
clickmask=no

// 1519:52
[1x1_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=set_status_button_layer
onload=script9992(event_com)

// 1519:53
[1x1_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=set_status_button_layer
onload=script9993(event_com)

// 1519:54
[1x1_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=set_status_button_layer
onload=script9994(event_com)

// 1519:55
[1x1_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=set_status_button_layer
hide=yes
onload=script9996(event_com)

// 1519:56
[set_status_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=set_status_button_layer
transmitop1=yes
op1=Invite player
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Invite a player to your group.", event_com, event_comsubid)

// 1519:57
[set_status_button]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=set_status_button_active
graphic="rs3_icon_grouping_system,1"
colour=0xffffff
clickmask=no

// 1519:58
[1x1_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=invitation_setting_button_layer
onload=script9992(event_com)

// 1519:59
[1x1_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=invitation_setting_button_layer
onload=script9993(event_com)

// 1519:60
[1x1_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=invitation_setting_button_layer
onload=script9994(event_com)

// 1519:61
[1x1_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=invitation_setting_button_layer
hide=yes
onload=script9996(event_com)

// 1519:62
[invitation_setting_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=invitation_setting_button_layer
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
op1=Toggle settings
op2=All Players
op3=Friends Only
op4=Friends and Clan
op5=Off
onload=script4213(event_com)
onvartransmit=script10330
onop=script10331(99549212, event_op)
onvartransmitlist=group_perm1

// 1519:63
[1x1_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_game_layer
onload=script9992(event_com)

// 1519:64
[1x1_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_game_layer
onload=script9993(event_com)

// 1519:65
[1x1_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_game_layer
onload=script9994(event_com)

// 1519:66
[1x1_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_game_layer
hide=yes
onload=script9996(event_com)

// 1519:67
[start_game_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=start_game_layer
transmitop1=yes
op1=Start Game
onload=script4213(event_com)
onmouserepeat=script8799("Complete your group setup.<br><br>Mark the group as complete, with the choice to teleport all group members to the game start location.", event_com, event_comsubid)

// 1519:68
[1x1_button_on_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=leave_group_layer
onload=script9992(event_com)

// 1519:69
[1x1_button_over_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=leave_group_layer
onload=script9993(event_com)

// 1519:70
[1x1_button_hit_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=leave_group_layer
onload=script9994(event_com)

// 1519:71
[1x1_button_selected_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=leave_group_layer
hide=yes
onload=script9996(event_com)

// 1519:72
[leave_group_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=leave_group_layer
transmitop1=yes
op1=Leave Group
onload=script4213(event_com)
onmouserepeat=script8799("Leave your group", event_com, event_comsubid)

// 1519:73
[1x1_button_on_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=create_group_layer
onload=script9992(event_com)

// 1519:74
[1x1_button_over_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=create_group_layer
onload=script9993(event_com)

// 1519:75
[1x1_button_hit_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=create_group_layer
onload=script9994(event_com)

// 1519:76
[1x1_button_selected_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=create_group_layer
hide=yes
onload=script9996(event_com)

// 1519:77
[create_group_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=create_group_layer
transmitop1=yes
op1=Create Group
onload=script4213(event_com)
onmouserepeat=script8799("Create a new group.", event_com, event_comsubid)

// 1519:78
[1x1_button_on_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=want_members_layer
onload=script9992(event_com)

// 1519:79
[1x1_button_over_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=want_members_layer
onload=script9993(event_com)

// 1519:80
[1x1_button_hit_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=want_members_layer
onload=script9994(event_com)

// 1519:81
[1x1_button_selected_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=want_members_layer
hide=yes
onload=script9996(event_com)

// 1519:82
[want_members_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=want_members_layer
transmitop1=yes
op1=Toggle matchmaking
onload=script4213(event_com)
onop=script10337
onmouserepeat=script8799("Toggle members", event_com, event_comsubid)

// 1519:83
[1x1_button_on_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=find_content_layer
onload=script9992(event_com)

// 1519:84
[1x1_button_over_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=find_content_layer
onload=script9993(event_com)

// 1519:85
[1x1_button_hit_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=find_content_layer
onload=script9994(event_com)

// 1519:86
[1x1_button_selected_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=find_content_layer
hide=yes
onload=script9996(event_com)

// 1519:87
[find_content_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=find_content_layer
transmitop1=yes
op1=Find Content
onload=script4213(event_com)
onmouserepeat=script8799("Find a group for any kind of content.", event_com, event_comsubid)

// 1519:88
[1x1_button_on_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=lootshare_layer
onload=script9992(event_com)

// 1519:89
[1x1_button_over_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=lootshare_layer
onload=script9993(event_com)

// 1519:90
[1x1_button_hit_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=lootshare_layer
onload=script9994(event_com)

// 1519:91
[1x1_button_selected_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=lootshare_layer
hide=yes
onload=script9996(event_com)

// 1519:92
[lootshare_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=lootshare_layer
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
op1=Toggle Lootshare
op2=On Lootshare
op3=On Coinshare
op4=Off
onload=script4213(event_com)
onop=script5884(event_op)
onmouserepeat=script8799("Change lootshare settings.", event_com, event_comsubid)

// 1519:93
[lootshare_button]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=lootshare_button_active
graphic="rs3_icon_loot_share,0"
colour=0xffffff
clickmask=no

