// 1313:0
[listeners_and_timers]
type=layer
width=1
height=1

// 1313:1
[time_countdown]
type=layer
width=1
height=1
layer=listeners_and_timers
onload=script19500(event_com)
onvartransmit=script19500(event_com)
onvartransmitlist=group_ironman_storage_timeout

// 1313:2
[all]
type=layer
width=714
height=555
noclickthrough=yes
candrop=yes
opbase=  
onload=script8420(group_ironman_storage:background_layer, group_ironman_storage:border_layer, null, group_ironman_storage:close_button_layer, "Group Ironman Storage", 28241, string_1017)

// 1313:3
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=all

// 1313:4
[content]
type=layer
y=44
width=24
height=56
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=all

// 1313:5
[right_panel]
type=layer
width=213
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=content

// 1313:6
[inventory_panel]
type=layer
height=304
widthmode=minus
xmode=abs_right
layer=right_panel

// 1313:7
[inventory_panel_bg]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=inventory_panel
onload=script10896(event_com, null, rs3tli_content_panel_trans_40)

// 1313:8
[inventory_panel_contents]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inventory_panel

// 1313:9
[side_content]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=inventory_panel_contents

// 1313:10
[inventory_container]
type=layer
height=291
widthmode=minus
xmode=abs_centre
layer=side_content
candrop=yes

// 1313:11
[inventory_inv_contents]
type=layer
height=30
widthmode=minus
heightmode=minus
layer=inventory_container

// 1313:12
[inventory_scrolling]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_inv_contents

// 1313:13
[inventory_slots]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_scrolling

// 1313:14
[inventory_click]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_scrolling

// 1313:15
[inventory_scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=inventory_inv_contents
hide=yes

// 1313:16
[main_options]
type=layer
height=30
widthmode=minus
ymode=abs_bottom
layer=inventory_panel_contents

// 1313:17
[deposit_inv_button_layer]
type=layer
width=30
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=main_options

// 1313:18
[deposit_inv_button]
type=graphic
widthmode=minus
heightmode=minus
layer=deposit_inv_button_layer
graphic=button_30px_on
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Deposit carried items
onload=script13914(event_com, rs3tli_30px_button)
onop=script19477
onmouserepeat=script10009("Empty your backpack into your bank", event_com, event_comsubid)

// 1313:19
[deposit_inv_icon]
type=graphic
x=1
width=29
height=21
ymode=abs_centre
layer=deposit_inv_button_layer
graphic="bank_bob_button,1"
colour=0xffffff
clickmask=no

// 1313:20
[button_panel]
type=layer
height=114
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=right_panel

// 1313:21
[save_changes_panel]
type=layer
y=120
height=70
widthmode=minus
ymode=abs_bottom
layer=right_panel
onload=script19502
onvartransmit=script19502
onvartransmitlist=group_ironman_storage_temp

// 1313:22
[save_changes_panel_bg]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=save_changes_panel
noclickthrough=yes
onload=script10896(event_com, null, rs3tli_content_panel_trans_40)

// 1313:23
[save_changes_timer]
type=layer
y=4
width=30
height=32
widthmode=minus
xmode=abs_centre
layer=save_changes_panel

// 1313:24
[save_changes_label]
type=text
widthmode=minus
heightmode=minus
layer=save_changes_timer
noclickthrough=yes
textfont=notosans_semibold_13
text=Time remaining:  5:00
textalignh=1
textalignv=1
onload=script20490(event_com, text_body_emphasis, 0, 0)

// 1313:25
[save_changes]
type=layer
y=4
width=28
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=save_changes_panel
transmitop1=yes
op1=Save Changes

// 1313:26
[button_panel_inner]
type=layer
widthmode=minus
heightmode=minus
layer=button_panel

// 1313:27
[button_panel_bg]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=button_panel_inner
noclickthrough=yes
onload=script10896(event_com, null, rs3tli_content_panel_trans_40)

// 1313:28
[button_panel_contents]
type=layer
y=4
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_panel_inner

// 1313:29
[default_options_container]
type=layer
height=64
widthmode=minus
layer=button_panel_contents
onload=script19532

// 1313:30
[default_op_numbers]
type=layer
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=default_options_container

// 1313:31
[default_op_1]
type=layer
width=30
height=30
ymode=abs_centre
layer=default_op_numbers
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script19533(event_com)
onmouserepeat=script10009("Change the default number of items to move to 1.", event_com, event_comsubid)

// 1313:32
[default_op_icon_1]
type=graphic
widthmode=minus
heightmode=minus
layer=default_op_1
graphic=button_30px_on
colour=0xffffff
clickmask=no

// 1313:33
[com_33]
type=text
x=1
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_op_1
textfont=museo_sans_11pt_regular
text=1
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 19)

// 1313:34
[default_op_5]
type=layer
x=4073
width=30
height=30
xmode=proportion_left
ymode=abs_centre
layer=default_op_numbers
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script19533(event_com)
onmouserepeat=script10009("Change the default number of items to move to 5.", event_com, event_comsubid)

// 1313:35
[default_op_icon_5]
type=graphic
widthmode=minus
heightmode=minus
layer=default_op_5
graphic=button_30px_on
colour=0xffffff
clickmask=no

// 1313:36
[com_36]
type=text
x=1
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_op_5
textfont=museo_sans_11pt_regular
text=5
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 19)

// 1313:37
[default_op_10]
type=layer
x=8058
width=30
height=30
xmode=proportion_left
ymode=abs_centre
layer=default_op_numbers
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script19533(event_com)
onmouserepeat=script10009("Change the default number of items to move to 10.", event_com, event_comsubid)

// 1313:38
[default_op_icon_10]
type=graphic
widthmode=minus
heightmode=minus
layer=default_op_10
graphic=button_30px_on
colour=0xffffff
clickmask=no

// 1313:39
[com_39]
type=text
x=1
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_op_10
textfont=museo_sans_11pt_regular
text=10
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 19)

// 1313:40
[default_op_all]
type=layer
width=50
height=30
xmode=abs_right
ymode=abs_centre
layer=default_op_numbers

// 1313:41
[default_op_all_button]
type=layer
widthmode=minus
heightmode=minus
layer=default_op_all
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script19533(event_com)
onmouserepeat=script10009("Change the default number of items to move to all.", event_com, event_comsubid)

// 1313:42
[com_42]
type=text
x=1
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_op_all
textfont=museo_sans_11pt_regular
text=All
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 19)

// 1313:43
[default_op_x_container]
type=layer
width=20
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=default_options_container

// 1313:44
[default_op_x]
type=layer
width=30
height=30
ymode=abs_centre
layer=default_op_x_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script19533(event_com)
onmouserepeat=script10009("Change the default number of items to move to a custom number.", event_com, event_comsubid)

// 1313:45
[default_op_icon_x]
type=graphic
widthmode=minus
heightmode=minus
layer=default_op_x
graphic=button_30px_on
colour=0xffffff
clickmask=no

// 1313:46
[com_46]
type=text
x=1
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_op_x
textfont=museo_sans_11pt_regular
text=X
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 19)

// 1313:47
[default_custom_x_input]
type=layer
x=31
width=31
height=24
widthmode=minus
ymode=abs_centre
layer=default_op_x_container
onvartransmit=script19531
onvartransmitlist=bank_move_x

// 1313:48
[custom_x_input_border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_custom_x_input
onload=script13964(event_com, null, rs3tli_text_entry_box)

// 1313:49
[custom_x_input_listener]
type=layer
width=16391
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_custom_x_input
onvarctransmit=script7202(event_com, group_ironman_storage:custom_x_input_listen, group_ironman_storage:custom_x_input_caret, group_ironman_storage:custom_x_input_display, group_ironman_storage:custom_x_input_clickout)
onvarctransmitlist=p_dialog_listener,p_dialog_mode

// 1313:50
[custom_x_input_listen]
type=text
height=21
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=custom_x_input_listener
hide=yes
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xfffefe

// 1313:51
[custom_x_input_caret]
type=rectangle
width=2
height=14
xmode=abs_centre
ymode=abs_centre
layer=custom_x_input_listener
hide=yes
colour=0xe2dede
fill=yes

// 1313:52
[custom_x_input_display]
type=text
height=21
widthmode=minus
ymode=abs_centre
layer=custom_x_input_listener
textfont=museo_sans_11pt_regular
text=2,147,483,647
textalignh=1
textalignv=1
colour=0xaed0e0
transmitop1=yes
op1=Change
onload=script10496(event_com, event_comsubid, 19)
onop=script19533(event_com)
onmouserepeat=script10009("Enter the value to be withdrawn when 'X' is selected.", event_com, event_comsubid)
onclick=script7203(group_ironman_storage:custom_x_input_stop_click, group_ironman_storage:custom_x_input_clickout)

// 1313:53
[custom_x_input_stop_click]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=custom_x_input_listener
hide=yes
noclickthrough=yes
transmitop1=yes
op1=Cancel Input
onop=script7205(group_ironman_storage:custom_x_input_listener, group_ironman_storage:custom_x_input_listen, group_ironman_storage:custom_x_input_caret, group_ironman_storage:custom_x_input_display, group_ironman_storage:custom_x_input_clickout)

// 1313:54
[separator_2]
type=layer
y=71
height=2
widthmode=minus
layer=button_panel_contents
onload=script349(event_com)

// 1313:55
[fixed_options]
type=layer
x=10
width=20
height=30
widthmode=minus
ymode=abs_bottom
layer=button_panel_contents

// 1313:56
[placeholder_layer]
type=layer
width=30
height=30
layer=fixed_options

// 1313:57
[placeholder_button]
type=graphic
widthmode=minus
heightmode=minus
layer=placeholder_layer
graphic=button_30px_on
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
op1=Toggle Placeholder
op2=Delete All Placeholders
onload=bank_placeholder_button(event_com, group_ironman_storage:placeholder_item, group_ironman_storage:placeholder_icon)
onvartransmit=bank_placeholder_button(event_com, group_ironman_storage:placeholder_item, group_ironman_storage:placeholder_icon)
onop=bank_placeholder_onop(event_com, group_ironman_storage:placeholder_item, group_ironman_storage:placeholder_icon, event_op)
onmouserepeat=script10009("When withdrawing all items from a bank leave a count of 0 behind to retain the position in the bank.", event_com, event_comsubid)
onvartransmitlist=bank_extra

// 1313:58
[placeholder_item]
type=graphic
x=3
width=30
height=26
xmode=abs_centre
ymode=abs_centre
layer=placeholder_layer
colour=0xffffff
clickmask=no

// 1313:59
[placeholder_icon]
type=graphic
width=15
height=15
xmode=abs_centre
ymode=abs_centre
layer=placeholder_layer
graphic="aif_tick_cross_icon,1"
colour=0xffffff
clickmask=no

// 1313:60
[cert_button_layer]
type=layer
x=35
width=30
height=30
ymode=abs_bottom
layer=fixed_options

// 1313:61
[cert_button]
type=graphic
widthmode=minus
heightmode=minus
layer=cert_button_layer
graphic=button_30px_on
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Toggle item/note withdrawl
onload=bank_cert_button(event_com, group_ironman_storage:cert_icon)
onvartransmit=bank_cert_button(event_com, group_ironman_storage:cert_icon)
onop=bank_cert_click(event_com, group_ironman_storage:cert_icon)
onmouserepeat=script10009("Toggle between item and note withdrawal modes", event_com, event_comsubid)
onvartransmitlist=bankcert

// 1313:62
[cert_icon]
type=graphic
x=-1
y=-1
width=35
height=35
xmode=abs_centre
ymode=abs_centre
layer=cert_button_layer
graphic="bank_buttons_new1,4"
colour=0xffffff
clickmask=no

// 1313:63
[separator_3]
type=layer
x=6641
width=2
heightmode=minus
xmode=proportion_left
ymode=abs_bottom
layer=fixed_options
onload=script11742(event_com)

// 1313:64
[return_to_bank]
type=layer
width=100
height=30
xmode=abs_right
layer=fixed_options
transmitop1=yes
op1=Return to Bank
onload=script6233(event_com, null, rs3tli_30px_button_3x3, "Return to Bank")

// 1313:65
[main_panel]
type=layer
width=217
widthmode=minus
heightmode=minus
layer=content

// 1313:66
[clan_display_panel]
type=layer
height=35
widthmode=minus
heightmode=minus
layer=main_panel

// 1313:67
[clan_rebuild_delay]
type=layer
widthmode=minus
heightmode=minus
layer=clan_display_panel

// 1313:68
[clan_items_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=clan_display_panel

// 1313:69
[clan_items_bg]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=clan_items_layer
onload=script10896(event_com, null, rs3tli_content_panel_trans_40)

// 1313:70
[scrollbar]
type=layer
x=4
y=4
width=16
height=8
heightmode=minus
xmode=abs_right
layer=clan_items_layer

// 1313:71
[message_nosearch]
type=text
y=50
width=200
height=18
xmode=abs_centre
layer=clan_items_layer
hide=yes
textfont=museo_sans_13pt_bold
text=No search term entered!
textalignh=1
textshadow=yes
colour=0x999999

// 1313:72
[message_nofilter]
type=text
y=50
width=20
height=18
widthmode=minus
xmode=abs_centre
layer=clan_items_layer
hide=yes
textfont=museo_sans_13pt_bold
text=No items found for your current filter!
textalignh=1
textshadow=yes
colour=0x999999

// 1313:73
[message_nomatches]
type=text
y=50
width=200
height=18
xmode=abs_centre
layer=clan_items_layer
hide=yes
textfont=museo_sans_13pt_bold
text=No matches found!
textalignh=1
textshadow=yes
colour=0x999999

// 1313:74
[clan_items_container]
type=layer
x=4
width=24
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=clan_items_layer

// 1313:75
[clan_inv]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clan_items_container
scrollwidth=336
scrollheight=1905
onload=script19528
onvartransmit=script19491
oninvtransmit=script19491
onvartransmitlist=group_ironman_storage_used_slots,group_ironman_storage_temp
oninvtransmitlist=group_ironman_storage_clan_temp

// 1313:76
[separators]
type=layer
widthmode=minus
heightmode=minus
layer=clan_items_container

// 1313:77
[dividers]
type=layer
widthmode=minus
heightmode=minus
layer=clan_items_container

// 1313:78
[spacer_endrow]
type=layer
widthmode=minus
heightmode=minus
layer=clan_items_container

// 1313:79
[spacer_below]
type=layer
widthmode=minus
heightmode=minus
layer=clan_items_container

// 1313:80
[ondrag_placeholder_highlight]
type=layer
width=36
height=32
layer=clan_items_container
hide=yes

// 1313:81
[com_81]
type=rectangle
widthmode=minus
heightmode=minus
layer=ondrag_placeholder_highlight
colour=0x04ff15

// 1313:82
[ondrag_highlight]
type=layer
x=109
y=58
width=12
height=36
layer=clan_items_container
hide=yes

// 1313:83
[com_83]
type=rectangle
widthmode=minus
heightmode=minus
layer=ondrag_highlight
colour=0xffcb05

// 1313:84
[ondrag_insert_right_highlight]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ondrag_highlight
hide=yes

// 1313:85
[com_85]
type=graphic
y=2
width=12
height=12
xmode=abs_centre
layer=ondrag_insert_right_highlight
graphic="rs3_character_interface_arrow_scroll,0"
2dangle=49152
colour=0xffffff
clickmask=no

// 1313:86
[com_86]
type=graphic
y=2
width=12
height=12
xmode=abs_centre
ymode=abs_bottom
layer=ondrag_insert_right_highlight
graphic="rs3_character_interface_arrow_scroll,0"
2dangle=49152
colour=0xffffff
clickmask=no

// 1313:87
[ondrag_insert_left_highlight]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ondrag_highlight
hide=yes

// 1313:88
[com_88]
type=graphic
y=2
width=12
height=12
xmode=abs_centre
layer=ondrag_insert_left_highlight
graphic="rs3_character_interface_arrow_scroll,0"
2dangle=16384
colour=0xffffff
clickmask=no

// 1313:89
[com_89]
type=graphic
y=2
width=12
height=12
xmode=abs_centre
ymode=abs_bottom
layer=ondrag_insert_left_highlight
graphic="rs3_character_interface_arrow_scroll,0"
2dangle=16384
colour=0xffffff
clickmask=no

// 1313:90
[clan_inv_insert]
type=layer
widthmode=minus
heightmode=minus
layer=clan_items_container

// 1313:91
[bottom_panel]
type=layer
width=473
height=30
xmode=abs_centre
ymode=abs_bottom
layer=main_panel

// 1313:92
[bottom_panel_contents]
type=layer
widthmode=minus
heightmode=minus
layer=bottom_panel

// 1313:93
[search_button]
type=layer
width=170
height=24
ymode=abs_centre
layer=bottom_panel_contents

// 1313:94
[text_input_border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=search_button
onload=script13964(event_com, null, rs3tli_text_entry_box)

// 1313:95
[search_icon]
type=graphic
x=4
width=18
height=18
ymode=abs_centre
layer=search_button
graphic="trh_icon_search_query,0"
colour=0xffffff
clickmask=no

// 1313:96
[text_input_listener]
type=layer
width=16391
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=search_button

// 1313:97
[text_input_listen]
type=text
height=21
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=text_input_listener
hide=yes
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xfffefe

// 1313:98
[text_input_caret]
type=rectangle
width=2
height=14
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
colour=0xe2dede
fill=yes

// 1313:99
[text_input_display]
type=text
height=21
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=text_input_listener
textfont=museo_sans_11pt_regular
text=Search...
textalignh=1
textalignv=1
colour=0xaed0e0
transmitop1=yes
op1=Search
opcursor0=cursor_search
onload=script10496(event_com, event_comsubid, 19)
onop=script19553
onmouserepeat=script10009("Search your group storage", event_com, event_comsubid)
onclick=script7203(group_ironman_storage:text_input_stop_click, group_ironman_storage:text_input_clickout)

// 1313:100
[text_input_stop_click]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
noclickthrough=yes
transmitop1=yes
op1=Cancel Search
onop=script19554

// 1313:101
[text_input_clickout]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
noclickthrough=yes
transmitop1=yes
op1=Cancel Search
onop=script19554

// 1313:102
[filter_layer]
type=layer
width=170
height=24
xmode=abs_right
ymode=abs_centre
layer=bottom_panel_contents
onvartransmit=script19564
onvartransmitlist=bank_3

// 1313:103
[filter_bg]
type=layer
widthmode=minus
heightmode=minus
layer=filter_layer
onload=script10896(event_com, null, rs3tli_content_panel_trans_40)

// 1313:104
[filter_build]
type=layer
widthmode=minus
heightmode=minus
layer=filter_layer

// 1313:105
[filter_click]
type=layer
widthmode=minus
heightmode=minus
layer=filter_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1313:106
[space_layer]
type=layer
width=120
height=30
xmode=abs_centre
ymode=abs_centre
layer=bottom_panel_contents
onvartransmit=script19545
oninvtransmit=script19545
onvartransmitlist=bank_members_size,bank_free_size
oninvtransmitlist=group_ironman_storage_clan_temp

// 1313:107
[space_contents]
type=layer
height=30
widthmode=minus
ymode=abs_centre
layer=space_layer

// 1313:108
[space_bg]
type=layer
widthmode=minus
heightmode=minus
layer=space_contents
onload=script10896(event_com, null, rs3tli_content_panel_trans_40)

// 1313:109
[separator_1]
type=layer
width=20
height=2
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=space_contents
onload=script349(event_com)

// 1313:110
[space_current]
type=text
height=15
widthmode=minus
layer=space_contents
textfont=museo_sans_11pt_regular
text=-
textalignh=1
textalignv=1
onload=script2732(event_com, event_comsubid, 21)

// 1313:111
[space_total]
type=text
height=15
widthmode=minus
ymode=abs_bottom
layer=space_contents
textfont=museo_sans_11pt_regular
text=-
textalignh=1
textalignv=1
onload=script2732(event_com, event_comsubid, 21)
onmouseleave=script8805

// 1313:112
[filter_results]
type=layer
widthmode=minus
heightmode=minus
layer=space_layer
hide=yes
noclickthrough=yes

// 1313:113
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
layer=filter_results
onload=script10896(event_com, null, rs3tli_content_panel_trans_40)

// 1313:114
[filter_found_text]
type=text
widthmode=minus
heightmode=minus
layer=filter_results
textfont=museo_sans_11pt_regular
text=Items found: 0
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1313:115
[bottom_panel_cancel]
type=layer
width=170
height=30
layer=bottom_panel_contents
hide=yes
noclickthrough=yes

// 1313:116
[bottom_panel_cancel_bg]
type=layer
widthmode=minus
heightmode=minus
layer=bottom_panel_cancel
noclickthrough=yes
onload=script10896(event_com, null, rs3tli_content_panel_trans_0)

// 1313:117
[bottom_panel_cancel_button]
type=layer
widthmode=minus
heightmode=minus
layer=bottom_panel_cancel
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1313:118
[border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=all

// 1313:119
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
layer=all
transmitop1=yes
op1=Close

// 1313:120
[help_button_layer]
type=layer
x=50
y=15
width=16
height=16
xmode=abs_right
layer=all
noclickthrough=yes

// 1313:121
[help_button]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_right
layer=help_button_layer
graphic="rs3_btn_custom_modal,3"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Help
onmouseover=graphic_swapper(event_com, "rs3_btn_custom_modal,4")
onmouseleave=graphic_swapper(event_com, "rs3_btn_custom_modal,3")

// 1313:122
[confirm_drop_item_layer]
type=layer
widthmode=minus
heightmode=minus
hide=yes
noclickthrough=yes

// 1313:123
[confirm_back_rect]
type=rectangle
widthmode=minus
heightmode=minus
layer=confirm_drop_item_layer
colour=0x000000
fill=yes
trans=85

// 1313:124
[confirm_panel_container]
type=layer
width=308
height=132
xmode=abs_centre
ymode=abs_centre
layer=confirm_drop_item_layer
noclickthrough=yes

// 1313:125
[confirm_panel_bg]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_panel_container
onload=script10896(event_com, null, rs3tli_content_panel_trans_40)

// 1313:126
[confirm_panel_title]
type=text
x=8
y=8
width=16
height=32
widthmode=minus
layer=confirm_panel_container
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 1313:127
[confirm_panel_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirm_panel_container

// 1313:128
[confirm_drop_info]
type=layer
height=42
widthmode=minus
heightmode=minus
layer=confirm_panel_content

// 1313:129
[confirm_drop_text]
type=text
x=45
width=45
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=confirm_drop_info
textfont=museo_sans_11pt_regular_multiline
text=The item you are about to drop has a high value.
textalignh=1
textalignv=1
textshadow=yes

// 1313:130
[confirm_drop_bg]
type=graphic
width=40
height=36
ymode=abs_centre
layer=confirm_drop_info
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 1313:131
[confirm_drop_graphic]
type=graphic
x=2
width=36
height=32
ymode=abs_centre
layer=confirm_drop_info
colour=0xffffff
clickmask=no

// 1313:132
[confirm_drop_button]
type=layer
x=75
width=90
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_panel_content
pausebutton=yes
pausetext=Drop
onload=script13976(event_com, null, rs3tli_positive_button, "Drop")
onclick=bank_close_drop_confirm

// 1313:133
[cancel_drop_button]
type=layer
x=-75
width=90
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_panel_content
pausebutton=yes
pausetext=Cancel
onload=script13976(event_com, null, rs3tli_negative_button, "Cancel")
onclick=bank_close_drop_confirm

// 1313:134
[confirm_withdraw_item_layer]
type=layer
widthmode=minus
heightmode=minus
hide=yes
noclickthrough=yes

// 1313:135
[custom_x_input_clickout]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
hide=yes
noclickthrough=yes
transmitop1=yes
op1=Cancel Input
onop=script7205(group_ironman_storage:custom_x_input_listener, group_ironman_storage:custom_x_input_listen, group_ironman_storage:custom_x_input_caret, group_ironman_storage:custom_x_input_display, group_ironman_storage:custom_x_input_clickout)

// 1313:136
[confirm_withdraw_back_rect]
type=rectangle
widthmode=minus
heightmode=minus
layer=confirm_withdraw_item_layer
colour=0x000000
fill=yes
trans=85

// 1313:137
[confirm_withdraw_panel_container]
type=layer
width=308
height=250
xmode=abs_centre
ymode=abs_centre
layer=confirm_withdraw_item_layer
noclickthrough=yes

// 1313:138
[confirm_withdraw_panel_bg]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_withdraw_panel_container
onload=script10896(event_com, null, rs3tli_content_panel_trans_40)

// 1313:139
[confirm_withdraw_panel_title]
type=text
x=8
y=8
width=16
height=32
widthmode=minus
layer=confirm_withdraw_panel_container
textfont=museo_sans_13pt_regular
text=Withdraw Item
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 1313:140
[confirm_withdraw_panel_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirm_withdraw_panel_container

// 1313:141
[confirm_withdraw_info]
type=layer
height=42
widthmode=minus
heightmode=minus
layer=confirm_withdraw_panel_content

// 1313:142
[confirm_withdraw_text]
type=text
width=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_withdraw_info
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes

// 1313:143
[confirm_withdraw_button]
type=layer
x=75
width=110
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_withdraw_panel_content
pausebutton=yes
pausetext=Drop
onload=script13976(event_com, null, rs3tli_positive_button, "Drop")
onclick=bank_close_withdraw_confirm

// 1313:144
[cancel_withdraw_button]
type=layer
x=-75
width=110
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_withdraw_panel_content
pausebutton=yes
pausetext=Cancel
onload=script13976(event_com, null, rs3tli_negative_button, "Cancel")
onclick=bank_close_withdraw_confirm

// 1313:145
[save_in_progress]
type=layer
widthmode=minus
heightmode=minus
hide=yes

// 1313:146
[com_146]
type=rectangle
widthmode=minus
heightmode=minus
layer=save_in_progress
colour=0x000000
fill=yes
trans=75

// 1313:147
[save_spinner]
type=layer
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=save_in_progress
onload=spinner_create(event_com, 3, -1)

// 1313:148
[com_148]
type=text
y=44
width=300
height=20
xmode=abs_centre
ymode=abs_centre
layer=save_in_progress
noclickthrough=yes
textfont=notosans_semibold_13
text=Saving in progress...
textalignh=1
onload=script20490(event_com, text_body_emphasis, 0, 0)

