// 1746:0
[main]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(gwd2_overlay:gwd2_content_bg, gwd2_overlay:gwd2_overlay_window_border, gwd2_overlay:content_layer, null, "", 30498, string_1005)
onvartransmit=script12516
onvarctransmit=gwd2_update_window
onvartransmitlist=gwd2_varp7,gwd2_varp7
onvarctransmitlist=gwd2_slim_kc_interface

// 1746:1
[gwd2_overlay_window_slim]
type=layer
x=4
y=4
width=122
height=114
layer=main
onload=script11033(gwd2_overlay:gwd2_content_bg_slim, gwd2_overlay:gwd2_overlay_window_border_slim, gwd2_overlay:content_layer_slim, null, "", 30498, struct_1005, string_33700)

// 1746:2
[gwd2_content_bg_slim]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gwd2_overlay_window_slim

// 1746:3
[gwd2_overlay_window_border_slim]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gwd2_overlay_window_slim

// 1746:4
[content_layer_slim]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gwd2_overlay_window_slim
onvartransmit=script12378
onvartransmitlist=gwd2_varp1,gwd2_varp2

// 1746:5
[title_text_1]
type=text
y=1
width=4
height=19
widthmode=minus
xmode=abs_centre
layer=content_layer_slim
textfont=cinzel_13pt_bold
text=Killcount
textalignh=1
textshadow=yes
colour=0xffcc00
onload=script10496(event_com, -1, 0)

// 1746:6
[seren_layer_1]
type=layer
x=2
y=20
width=55
height=20
layer=content_layer_slim
onmouseleave=script8805
onmouserepeat=script12515(1, event_com)

// 1746:7
[background_slot_4]
type=layer
widthmode=minus
heightmode=minus
layer=seren_layer_1
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1746:8
[seren_bg_1]
type=rectangle
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=seren_layer_1
hide=yes
colour=0xff0000
fill=yes
trans=200

// 1746:9
[com_9]
type=line
x=1
y=2
height=30
xmode=abs_right
ymode=abs_bottom
layer=seren_layer_1
hide=yes
colour=0x999999

// 1746:10
[seren_value_1]
type=text
width=40
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=seren_layer_1
textfont=museo_sans_13pt_bold
text=000
textalignh=1
textalignv=1
textshadow=yes

// 1746:11
[seren_1]
type=graphic
x=4
width=15
height=15
ymode=abs_centre
layer=seren_layer_1
graphic="gwd2_icon_god_symbol_25px,0"
colour=0xffffff
clickmask=no

// 1746:12
[sliske_layer_1]
type=layer
x=2
y=20
width=55
height=20
xmode=abs_right
layer=content_layer_slim
onmouseleave=script8805
onmouserepeat=script12515(2, event_com)

// 1746:13
[background_slot_5]
type=layer
widthmode=minus
heightmode=minus
layer=sliske_layer_1
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1746:14
[sliske_bg_1]
type=rectangle
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sliske_layer_1
hide=yes
colour=0xff0000
fill=yes
trans=200

// 1746:15
[com_15]
type=line
x=1
y=2
height=30
xmode=abs_right
ymode=abs_bottom
layer=sliske_layer_1
hide=yes
colour=0x999999

// 1746:16
[sliske_1]
type=graphic
x=4
width=15
height=15
ymode=abs_centre
layer=sliske_layer_1
graphic="gwd2_icon_god_symbol_25px,1"
colour=0xffffff
clickmask=no

// 1746:17
[sliske_value_1]
type=text
width=40
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=sliske_layer_1
textfont=museo_sans_13pt_bold
text=000
textalignh=1
textalignv=1
textshadow=yes

// 1746:18
[zamorak_layer_1]
type=layer
x=2
y=40
width=55
height=20
layer=content_layer_slim
onmouseleave=script8805
onmouserepeat=script12515(3, event_com)

// 1746:19
[background_slot_6]
type=layer
widthmode=minus
heightmode=minus
layer=zamorak_layer_1
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1746:20
[zamorak_bg_1]
type=rectangle
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=zamorak_layer_1
hide=yes
colour=0xff0000
fill=yes
trans=200

// 1746:21
[com_21]
type=line
x=1
y=2
height=30
xmode=abs_right
ymode=abs_bottom
layer=zamorak_layer_1
hide=yes
colour=0x999999

// 1746:22
[zamorak_1]
type=graphic
x=4
width=15
height=15
ymode=abs_centre
layer=zamorak_layer_1
graphic="gwd2_icon_god_symbol_25px,2"
colour=0xffffff
clickmask=no

// 1746:23
[zamorak_value_1]
type=text
width=40
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=zamorak_layer_1
textfont=museo_sans_13pt_bold
text=000
textalignh=1
textalignv=1
textshadow=yes

// 1746:24
[zaros_layer_1]
type=layer
x=2
y=40
width=55
height=20
xmode=abs_right
layer=content_layer_slim
onmouseleave=script8805
onmouserepeat=script12515(4, event_com)

// 1746:25
[background_slot_7]
type=layer
widthmode=minus
heightmode=minus
layer=zaros_layer_1
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1746:26
[zaros_bg_1]
type=rectangle
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=zaros_layer_1
hide=yes
colour=0xff0000
fill=yes
trans=200

// 1746:27
[com_27]
type=line
x=1
y=2
height=30
xmode=abs_right
ymode=abs_bottom
layer=zaros_layer_1
hide=yes
colour=0x999999

// 1746:28
[zaros_1]
type=graphic
x=4
width=15
height=15
ymode=abs_centre
layer=zaros_layer_1
graphic="gwd2_icon_god_symbol_25px,3"
colour=0xffffff
clickmask=no

// 1746:29
[zaros_value_1]
type=text
width=40
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=zaros_layer_1
textfont=museo_sans_13pt_bold
text=000
textalignh=1
textalignv=1
textshadow=yes

// 1746:30
[task_layer_1]
type=layer
x=2
y=60
width=110
height=18
layer=content_layer_slim
onmouseleave=script8805
onvartransmit=script12379
onmouserepeat=gwd2_task_tooltip(event_com)
onvartransmitlist=gwd2_varp6

// 1746:31
[task_text_1]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=task_layer_1
textfont=museo_sans_11pt_regular
text=Bounty: Complete
textalignh=1
textalignv=1
textshadow=yes

// 1746:32
[buff_timer_layer_1]
type=layer
y=1
width=2
height=6
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=content_layer_slim
hide=yes

// 1746:33
[buff_timer_progress_1]
type=rectangle
width=116
heightmode=minus
ymode=abs_centre
layer=buff_timer_layer_1
colour=0x009933
fill=yes

// 1746:34
[buff_num_layer_1]
type=layer
x=2
y=77
width=4
height=18
widthmode=minus
layer=content_layer_slim

// 1746:35
[buff_text_1]
type=text
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=buff_num_layer_1
textfont=museo_sans_11pt_regular
text=Multiplier: 100%
textalignh=1
textalignv=1
textshadow=yes

// 1746:36
[topup_instance_1]
type=graphic
y=2
width=15
height=15
layer=content_layer_slim
graphic="aif_bank_loadout_timer,0"
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
op1=Extend time
op2=Time remaining

// 1746:37
[expand]
type=graphic
y=2
width=15
height=15
xmode=abs_right
layer=content_layer_slim
graphic="rs3_btn_minimise,3"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Expand
onmouseover=script1093(event_com, "rs3_btn_minimise,4")
onmouseleave=script1093(event_com, "rs3_btn_minimise,3")

// 1746:38
[gwd2_overlay_window]
type=layer
width=320
height=115
layer=main
onload=script11033(gwd2_overlay:gwd2_content_bg, gwd2_overlay:gwd2_overlay_window_border, gwd2_overlay:content_layer, null, "", 30498, struct_1005, string_33700)

// 1746:39
[gwd2_content_bg]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gwd2_overlay_window

// 1746:40
[gwd2_overlay_window_border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gwd2_overlay_window

// 1746:41
[content_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gwd2_overlay_window
onvartransmit=script12378
onvartransmitlist=gwd2_varp1,gwd2_varp2

// 1746:42
[title_text]
type=text
y=1
width=8
height=19
widthmode=minus
xmode=abs_centre
layer=content_layer
textfont=cinzel_13pt_bold
text=Killcount
textalignh=1
textshadow=yes
colour=0xffcc00
onload=script10496(event_com, -1, 0)

// 1746:43
[seren_layer]
type=layer
x=4
y=26
width=72
height=33
layer=content_layer
onmouseleave=script8805
onmouserepeat=script12515(1, event_com)

// 1746:44
[background_slot_00]
type=layer
widthmode=minus
heightmode=minus
layer=seren_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1746:45
[seren_bg]
type=rectangle
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=seren_layer
hide=yes
colour=0xff0000
fill=yes
trans=200

// 1746:46
[seren_icon]
type=graphic
x=4
width=25
height=25
ymode=abs_centre
layer=seren_layer
graphic="gwd2_icon_god_symbol_25px,0"
colour=0xffffff
clickmask=no

// 1746:47
[seren_value]
type=text
width=40
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=seren_layer
textfont=museo_sans_13pt_bold
text=000
textalignh=1
textalignv=1
textshadow=yes

// 1746:48
[com_48]
type=line
x=1
y=2
height=30
xmode=abs_right
ymode=abs_bottom
layer=seren_layer
hide=yes
colour=0x999999

// 1746:49
[sliske_layer]
type=layer
x=80
y=26
width=72
height=33
layer=content_layer
onmouseleave=script8805
onmouserepeat=script12515(2, event_com)

// 1746:50
[background_slot_1]
type=layer
widthmode=minus
heightmode=minus
layer=sliske_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1746:51
[sliske_bg]
type=rectangle
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sliske_layer
hide=yes
colour=0xff0000
fill=yes
trans=200

// 1746:52
[com_52]
type=line
x=1
y=2
height=30
xmode=abs_right
ymode=abs_bottom
layer=sliske_layer
hide=yes
colour=0x999999

// 1746:53
[sliske_icon]
type=graphic
x=4
width=25
height=25
ymode=abs_centre
layer=sliske_layer
graphic="gwd2_icon_god_symbol_25px,1"
colour=0xffffff
clickmask=no

// 1746:54
[sliske_value]
type=text
width=40
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=sliske_layer
textfont=museo_sans_13pt_bold
text=000
textalignh=1
textalignv=1
textshadow=yes

// 1746:55
[zamorak_layer]
type=layer
x=80
y=26
width=72
height=33
xmode=abs_right
layer=content_layer
onmouseleave=script8805
onmouserepeat=script12515(3, event_com)

// 1746:56
[background_slot_2]
type=layer
widthmode=minus
heightmode=minus
layer=zamorak_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1746:57
[zamorak_bg]
type=rectangle
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=zamorak_layer
hide=yes
colour=0xff0000
fill=yes
trans=200

// 1746:58
[com_58]
type=line
x=1
y=2
height=30
xmode=abs_right
ymode=abs_bottom
layer=zamorak_layer
hide=yes
colour=0x999999

// 1746:59
[zamorak_icon]
type=graphic
x=4
width=25
height=25
ymode=abs_centre
layer=zamorak_layer
graphic="gwd2_icon_god_symbol_25px,2"
colour=0xffffff
clickmask=no

// 1746:60
[zamorak_value]
type=text
width=40
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=zamorak_layer
textfont=museo_sans_13pt_bold
text=000
textalignh=1
textalignv=1
textshadow=yes

// 1746:61
[zaros_layer]
type=layer
x=4
y=26
width=72
height=33
xmode=abs_right
layer=content_layer
onmouseleave=script8805
onmouserepeat=script12515(4, event_com)

// 1746:62
[background_slot_3]
type=layer
widthmode=minus
heightmode=minus
layer=zaros_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1746:63
[zaros_bg]
type=rectangle
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=zaros_layer
hide=yes
colour=0xff0000
fill=yes
trans=200

// 1746:64
[com_64]
type=line
x=1
y=2
height=30
xmode=abs_right
ymode=abs_bottom
layer=zaros_layer
hide=yes
colour=0x999999

// 1746:65
[zaros_icon]
type=graphic
x=4
width=25
height=25
ymode=abs_centre
layer=zaros_layer
graphic="gwd2_icon_god_symbol_25px,3"
colour=0xffffff
clickmask=no

// 1746:66
[zaros_value]
type=text
width=40
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=zaros_layer
textfont=museo_sans_13pt_bold
text=000
textalignh=1
textalignv=1
textshadow=yes

// 1746:67
[task_layer]
type=layer
x=8
y=13
width=120
height=25
xmode=abs_right
ymode=abs_bottom
layer=content_layer
onmouseleave=script8805
onvartransmit=script12379
onmouserepeat=gwd2_task_tooltip(event_com)
onvartransmitlist=gwd2_varp6

// 1746:68
[task_text]
type=text
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=task_layer
textfont=museo_sans_11pt_regular
text=Bounty progress: 1/100
textalignh=1
textalignv=1
textshadow=yes

// 1746:69
[buff_timer_layer]
type=layer
y=1
width=2
height=6
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=content_layer
hide=yes

// 1746:70
[buff_timer_progress]
type=rectangle
width=116
heightmode=minus
ymode=abs_centre
layer=buff_timer_layer
colour=0x009933
fill=yes

// 1746:71
[buff_num_layer]
type=layer
x=86
y=8
width=80
height=36
ymode=abs_bottom
layer=content_layer

// 1746:72
[buff_num1]
type=graphic
x=-6404
y=3
width=20
height=30
xmode=proportion_centre
layer=buff_num_layer
graphic="aif_level_up_text_numbers,1"
colour=0x000000
clickmask=no

// 1746:73
[buff_num2]
type=graphic
x=-2842
y=3
width=20
height=30
xmode=proportion_centre
layer=buff_num_layer
graphic="aif_level_up_text_numbers,0"
colour=0x000000
clickmask=no

// 1746:74
[buff_num3]
type=graphic
x=719
y=3
width=20
height=30
xmode=proportion_centre
layer=buff_num_layer
graphic="aif_level_up_text_numbers,0"
colour=0xffffff
clickmask=no

// 1746:75
[buff_percent]
type=graphic
x=4993
y=3
width=20
height=30
xmode=proportion_centre
layer=buff_num_layer
graphic="aif_level_up_text_glyph,0"
colour=0xffffff
clickmask=no

// 1746:76
[buff_text]
type=text
x=4
y=13
width=80
height=25
ymode=abs_bottom
layer=content_layer
textfont=museo_sans_11pt_regular
text=Multiplier:
textalignh=1
textalignv=1
textshadow=yes

// 1746:77
[topup_instance]
type=graphic
y=2
width=15
height=15
layer=content_layer
graphic="aif_bank_loadout_timer,0"
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
op1=Extend time
op2=Time remaining

// 1746:78
[minimise]
type=graphic
y=2
width=15
height=15
xmode=abs_right
layer=content_layer
graphic="rs3_btn_minimise,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Minimise
onmouseover=script1093(event_com, "rs3_btn_minimise,1")
onmouseleave=script1093(event_com, "rs3_btn_minimise,0")

// 1746:79
[gwd2_healthbar]
type=layer
width=512
height=85
xmode=abs_centre
layer=main

