// 880:0
[main_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre

// 880:1
[title]
type=text
height=50
widthmode=minus
xmode=abs_centre
layer=main_layer
textfont=cinzel_15pt_bold
text=Arteria
textalignh=1
textalignv=1
textshadow=yes
colour=0xfff8c1

// 880:2
[description]
type=text
x=1
y=40
width=14
height=32
widthmode=minus
xmode=abs_centre
layer=main_layer
textfont=museo_sans_11pt_regular_multiline
text=The Bloodletting Blade
textalignh=1
textshadow=yes

// 880:3
[halloween2021_minigame_attack_1]
type=layer
x=-1
y=-2949
width=150
height=50
xmode=abs_centre
ymode=proportion_centre
layer=main_layer

// 880:4
[halloween2021_minigame_attack_1_build]
type=layer
widthmode=minus
heightmode=minus
layer=halloween2021_minigame_attack_1

// 880:5
[halloween2021_minigame_attack_1_click]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=halloween2021_minigame_attack_1
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 880:6
[halloween2021_attack_1_cooldown]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=halloween2021_minigame_attack_1
hide=yes

// 880:7
[halloween2021_minigame_attack_2]
type=layer
x=-1
width=150
height=50
xmode=abs_centre
ymode=proportion_centre
layer=main_layer

// 880:8
[halloween2021_minigame_attack_2_build]
type=layer
widthmode=minus
heightmode=minus
layer=halloween2021_minigame_attack_2

// 880:9
[halloween2021_minigame_attack_2_click]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=halloween2021_minigame_attack_2
targetmask=npc,coord
cantarget=yes
targetverb=Leap
targetcursor2=cursor_attack
targetcursor3=cursor_attack

// 880:10
[halloween2021_attack_2_cooldown]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=halloween2021_minigame_attack_2
hide=yes

// 880:11
[halloween2021_minigame_attack_3]
type=layer
x=-1
y=2949
width=150
height=50
xmode=abs_centre
ymode=proportion_centre
layer=main_layer

// 880:12
[halloween2021_minigame_attack_3_build]
type=layer
widthmode=minus
heightmode=minus
layer=halloween2021_minigame_attack_3

// 880:13
[halloween2021_minigame_attack_3_click]
type=layer
width=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=halloween2021_minigame_attack_3
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 880:14
[halloween2021_attack_3_cooldown]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=halloween2021_minigame_attack_3
hide=yes

// 880:15
[halloween2021_minigame_attack_4]
type=layer
x=-1
y=5898
width=150
height=50
xmode=abs_centre
ymode=proportion_centre
layer=main_layer

// 880:16
[halloween2021_minigame_attack_4_build]
type=layer
widthmode=minus
heightmode=minus
layer=halloween2021_minigame_attack_4

// 880:17
[halloween2021_minigame_attack_4_click]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=halloween2021_minigame_attack_4
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 880:18
[halloween2021_attack_4_cooldown]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=halloween2021_minigame_attack_4
hide=yes

// 880:19
[halloween2021_attack_1_cooldown_text]
type=text
y=1
widthmode=minus
heightmode=minus
layer=halloween2021_attack_1_cooldown
textfont=museo_sans_21pt_bold
text=299
textalignh=1
textalignv=1
textshadow=yes

// 880:20
[halloween2021_attack_2_cooldown_text]
type=text
y=1
widthmode=minus
heightmode=minus
layer=halloween2021_attack_2_cooldown
textfont=museo_sans_21pt_bold
text=299
textalignh=1
textalignv=1
textshadow=yes

// 880:21
[halloween2021_attack_3_cooldown_text]
type=text
y=1
widthmode=minus
heightmode=minus
layer=halloween2021_attack_3_cooldown
textfont=museo_sans_21pt_bold
text=299
textalignh=1
textalignv=1
textshadow=yes

// 880:22
[halloween2021_attack_4_cooldown_text]
type=text
y=1
widthmode=minus
heightmode=minus
layer=halloween2021_attack_4_cooldown
textfont=museo_sans_21pt_bold
text=299
textalignh=1
textalignv=1
textshadow=yes

