// 1481:0
[title_text]
type=text
y=8
width=16
height=42
widthmode=minus
xmode=abs_centre
layer=information_layer
noclickthrough=yes
textfont=cinzel_13pt_bold
text=Dolly's Pumpkin Order
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 0)

// 1481:1
[break_line]
type=line
y=58
widthmode=minus
xmode=abs_centre
layer=information_layer
colour=0xffffff
onload=script10496(event_com, event_comsubid, 7)

// 1481:2
[content_layer]
type=layer
y=58
height=60
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=information_layer

// 1481:3
[background]
type=rectangle
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=content_layer
colour=0x000000
fill=yes
trans=127
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 1481:4
[pumpkin_1_layer]
type=layer
y=5
height=72
widthmode=minus
xmode=abs_centre
layer=content_layer
noclickthrough=yes

// 1481:5
[pumpkin_1_model]
type=model
x=-33
y=-226
width=293
height=470
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_1_layer
noclickthrough=yes
model=vegetation_fruit_pumpkin_patch_growing
modelorigin_x=0
modelorigin_y=234
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1400

// 1481:6
[pumpkin_1_text]
type=text
y=25
width=217
height=300
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_1_layer
noclickthrough=yes
textfont=museo_sans_13pt_regular
text=Black kat pumpkin
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 1481:7
[com_7]
type=text
x=7
width=217
height=300
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_1_layer
noclickthrough=yes
textfont=museo_sans_13pt_regular
text=x
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 1481:8
[pumpkin_1_amount]
type=text
x=40
width=217
height=300
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_1_layer
noclickthrough=yes
textfont=museo_sans_13pt_regular
text=4
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 1481:9
[pumpkin_2_layer]
type=layer
y=80
height=72
widthmode=minus
xmode=abs_right
layer=content_layer
noclickthrough=yes

// 1481:10
[pumpkin_2_model]
type=model
x=-30
y=-121
width=90
height=266
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_2_layer
noclickthrough=yes
model=vegetation_fruit_pumpkin_patch_growing_v2
modelorigin_x=-1
modelorigin_y=132
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1300

// 1481:11
[pumpkin_2_text]
type=text
y=25
width=217
height=299
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_2_layer
noclickthrough=yes
textfont=museo_sans_13pt_regular
text=Crookneck squash
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 1481:12
[com_12]
type=text
x=7
width=217
height=300
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_2_layer
noclickthrough=yes
textfont=museo_sans_13pt_regular
text=x
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 1481:13
[pumpkin_2_amount]
type=text
x=40
width=217
height=300
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_2_layer
noclickthrough=yes
textfont=museo_sans_13pt_regular
text=4
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 1481:14
[pumpkin_3_layer]
type=layer
y=155
height=72
widthmode=minus
xmode=abs_centre
layer=content_layer
noclickthrough=yes

// 1481:15
[pumpkin_3_model]
type=model
x=-33
y=-193
width=135
height=397
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_3_layer
noclickthrough=yes
model=vegetation_fruit_pumpkin_patch_growing_v3
modelorigin_x=0
modelorigin_y=197
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=900

// 1481:16
[pumpkin_3_text]
type=text
y=25
width=220
height=300
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_3_layer
noclickthrough=yes
textfont=museo_sans_13pt_regular
text=Grim fairytale pumpkin
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 1481:17
[com_17]
type=text
x=7
width=217
height=300
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_3_layer
noclickthrough=yes
textfont=museo_sans_13pt_regular
text=x
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 1481:18
[pumpkin_3_amount]
type=text
x=40
width=217
height=300
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_3_layer
noclickthrough=yes
textfont=museo_sans_13pt_regular
text=4
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 1481:19
[pumpkin_4_layer]
type=layer
y=230
height=72
widthmode=minus
xmode=abs_centre
layer=content_layer
noclickthrough=yes

// 1481:20
[pumpkin_4_model]
type=model
x=-36
y=-134
width=97
height=290
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_4_layer
noclickthrough=yes
model=vegetation_fruit_pumpkin_patch_growing_v4
modelorigin_x=0
modelorigin_y=144
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1200

// 1481:21
[pumpkin_4_text]
type=text
y=25
width=217
height=300
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_4_layer
noclickthrough=yes
textfont=museo_sans_13pt_regular
text=Talon stripe pumpkin
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 1481:22
[com_22]
type=text
x=7
width=217
height=300
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_4_layer
noclickthrough=yes
textfont=museo_sans_13pt_regular
text=x
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 1481:23
[pumpkin_4_amount]
type=text
x=40
width=217
height=300
xmode=abs_centre
ymode=abs_centre
layer=pumpkin_4_layer
noclickthrough=yes
textfont=museo_sans_13pt_regular
text=4
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 1481:24
[information_window_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
onload=script20360
onvartransmit=script20361
onvartransmitlist=halloween_hub_perm_5,halloween_hub_perm_5,halloween_hub_perm_5,halloween_hub_perm_5

// 1481:25
[information_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=information_window_layer
stylesheet=background_default

