// 1289:0
[universe]
type=layer
width=686
height=404
onload=script19237

// 1289:1
[info_rewards_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1289:2
[progress_overview_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe
hide=yes

// 1289:3
[info_rewards_title]
type=text
x=15
y=5
width=220
height=30
widthmode=minus
layer=info_rewards_layer
textfont=cinzel_25pt_bold_multiline
text=Harvest Hollow
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1289:4
[info_rewards_days_remaining]
type=text
x=15
y=5
width=524
height=30
widthmode=minus
xmode=abs_right
layer=info_rewards_layer
textfont=notosans_12
textalignv=1
textshadow=yes
maxlines=2

// 1289:5
[info_rewards_event_time_graphic]
type=graphic
x=178
y=12
width=12
height=16
xmode=abs_right
layer=info_rewards_layer
noclickthrough=yes
graphic=easter24_egg_hunt_timer
colour=0xffffff
clickmask=no

// 1289:6
[event_info_layer]
type=layer
x=15
y=45
width=402
height=351
layer=info_rewards_layer

// 1289:7
[rewards_layer]
type=layer
x=15
y=45
width=248
height=351
xmode=abs_right
layer=info_rewards_layer

// 1289:8
[rewards_background]
type=button
widthmode=minus
heightmode=minus
layer=rewards_layer
noclickthrough=yes
stylesheet=background_thin
onload=stylesheet_set(event_com)

// 1289:9
[rewards_header_text]
type=text
x=8
y=8
width=16
height=20
widthmode=minus
layer=rewards_layer
noclickthrough=yes
textfont=notosans_bold_14
text=Rewards
textalignv=1
onload=script10496(event_com, event_comsubid, 0)

// 1289:10
[rewards_subheader_text]
type=text
x=8
y=30
width=16
height=20
widthmode=minus
layer=rewards_layer
noclickthrough=yes
textfont=notosans_bold_12
textalignv=1

// 1289:11
[rewards_image]
type=graphic
x=7
y=60
width=234
height=211
layer=rewards_layer
noclickthrough=yes
graphic=halloween24_event_interface_reward_image_outfit_frank
colour=0xffffff
clickmask=no

// 1289:12
[rewards_model_background]
type=rectangle
x=7
y=60
width=234
height=211
layer=rewards_layer
noclickthrough=yes
colour=0x4f465d
fill=yes

// 1289:13
[rewards_model]
type=model
x=76
y=65
width=96
height=197
layer=rewards_layer
noclickthrough=yes
model=human_child_wickerboy
modelorigin_x=3
modelorigin_y=95
modelangle_x=63
modelangle_y=1979
modelangle_z=0
modelzoom=300

// 1289:14
[rewards_model_2]
type=model
x=152
y=168
width=54
height=81
layer=rewards_layer
noclickthrough=yes
model=human_accessory_sparkler
modelorigin_x=-42
modelorigin_y=39
modelangle_x=273
modelangle_y=1294
modelangle_z=0
modelzoom=500

// 1289:15
[rewards_model_1]
type=model
x=26
y=80
width=101
height=177
layer=rewards_layer
noclickthrough=yes
model=human_worker_farmer_scythe_basic_inv
modelorigin_x=-6
modelorigin_y=2
modelangle_x=585
modelangle_y=706
modelangle_z=0
modelzoom=600

// 1289:16
[rewards_text_background]
type=rectangle
x=7
y=80
width=14
height=50
widthmode=minus
ymode=abs_bottom
layer=rewards_layer
colour=0x000000
fill=yes
trans=100

// 1289:17
[rewards_text]
type=text
x=11
y=84
width=22
height=42
widthmode=minus
ymode=abs_bottom
layer=rewards_layer
noclickthrough=yes
textfont=notosans_11

// 1289:18
[com_18]
type=line
x=6
y=73
width=12
widthmode=minus
ymode=abs_bottom
layer=rewards_layer
colour=0x707070

// 1289:19
[rewards_button_1]
type=button
x=7
y=6
width=51
height=51
ymode=abs_bottom
layer=rewards_layer
noclickthrough=yes
cantoggle=yes
sprite.graphic=button_icon_neutral
text.textshadow=no
stylesheet=button_icon_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=stylesheet_set(event_com)
onmouserepeat=script14459("Preview this reward.", event_com, event_comsubid)
onbuttonpressed=script19246

// 1289:20
[rewards_button_graphic_1]
type=graphic
x=7
y=6
width=51
height=51
ymode=abs_bottom
layer=rewards_layer
noclickthrough=yes
graphic=halloween24_event_interface_icon_reward_button
colour=0xffffff
clickmask=no

// 1289:21
[rewards_button_2]
type=button
x=68
y=6
width=51
height=51
ymode=abs_bottom
layer=rewards_layer
noclickthrough=yes
cantoggle=yes
sprite.graphic=button_icon_neutral
text.textshadow=no
stylesheet=button_icon_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=stylesheet_set(event_com)
onmouserepeat=script14459("Preview this reward.", event_com, event_comsubid)
onbuttonpressed=script19248

// 1289:22
[rewards_button_graphic_2]
type=graphic
x=68
y=6
width=51
height=51
ymode=abs_bottom
layer=rewards_layer
noclickthrough=yes
graphic=halloween24_event_interface_icon_reward_button
colour=0xffffff
clickmask=no

// 1289:23
[rewards_button_3]
type=button
x=68
y=6
width=51
height=51
xmode=abs_right
ymode=abs_bottom
layer=rewards_layer
noclickthrough=yes
cantoggle=yes
sprite.graphic=button_icon_neutral
text.textshadow=no
stylesheet=button_icon_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=stylesheet_set(event_com)
onmouserepeat=script14459("Preview this reward.", event_com, event_comsubid)
onbuttonpressed=script19249

// 1289:24
[rewards_button_graphic_3]
type=graphic
x=68
y=6
width=51
height=51
xmode=abs_right
ymode=abs_bottom
layer=rewards_layer
noclickthrough=yes
graphic=halloween24_event_interface_icon_reward_button
colour=0xffffff
clickmask=no

// 1289:25
[rewards_button_4]
type=button
x=7
y=6
width=51
height=51
xmode=abs_right
ymode=abs_bottom
layer=rewards_layer
noclickthrough=yes
cantoggle=yes
sprite.graphic=button_icon_neutral
text.textshadow=no
stylesheet=button_icon_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=stylesheet_set(event_com)
onmouserepeat=script14459("Preview this reward.", event_com, event_comsubid)
onbuttonpressed=script19250

// 1289:26
[rewards_button_graphic_4]
type=graphic
x=7
y=6
width=51
height=51
xmode=abs_right
ymode=abs_bottom
layer=rewards_layer
noclickthrough=yes
graphic=halloween24_event_interface_icon_reward_button
colour=0xffffff
clickmask=no

// 1289:27
[event_info_background]
type=button
widthmode=minus
heightmode=minus
layer=event_info_layer
noclickthrough=yes
stylesheet=background_thin
onload=stylesheet_set(event_com)

// 1289:28
[event_info_header_text]
type=text
x=8
y=8
width=16
height=20
widthmode=minus
layer=event_info_layer
noclickthrough=yes
textfont=notosans_bold_14
text=Overview
textalignv=1
onload=script10496(event_com, event_comsubid, 0)

// 1289:29
[com_29]
type=line
x=8
y=34
width=16
widthmode=minus
layer=event_info_layer
colour=0x707070

// 1289:30
[event_info_text]
type=text
x=8
y=40
width=16
height=270
widthmode=minus
layer=event_info_layer
noclickthrough=yes
textfont=notosans_12

// 1289:31
[com_31]
type=line
x=8
y=39
width=16
widthmode=minus
ymode=abs_bottom
layer=event_info_layer
colour=0x707070

// 1289:32
[teleport_button]
type=button
y=6
width=180
height=27
xmode=abs_centre
ymode=abs_bottom
layer=event_info_layer
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Teleport to Event
text.textshadow=no
stylesheet=button_action_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=stylesheet_set(event_com)

// 1289:33
[progress_overview_background_clan_leader]
type=graphic
width=404
height=404
xmode=abs_centre
ymode=abs_centre
layer=progress_overview_layer
noclickthrough=yes
graphic=halloween24_event_interface_background_frank
colour=0xffffff
clickmask=no

// 1289:34
[progress_overview_title]
type=text
x=15
y=5
width=220
height=30
widthmode=minus
layer=progress_overview_layer
textfont=cinzel_25pt_bold_multiline
text=Harvest Hollow
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1289:35
[progress_overview_days_remaining]
type=text
x=15
y=5
width=524
height=30
widthmode=minus
xmode=abs_right
layer=progress_overview_layer
textfont=notosans_12
textalignv=1
textshadow=yes
maxlines=2

// 1289:36
[progress_overview_event_time_graphic]
type=graphic
x=178
y=12
width=12
height=16
xmode=abs_right
layer=progress_overview_layer
noclickthrough=yes
graphic=easter24_egg_hunt_timer
colour=0xffffff
clickmask=no

// 1289:37
[personal_summary_layer]
type=layer
x=15
y=45
width=240
height=245
layer=progress_overview_layer

// 1289:38
[personal_summary_background]
type=button
widthmode=minus
heightmode=minus
layer=personal_summary_layer
noclickthrough=yes
stylesheet=background_thin
onload=stylesheet_set(event_com)

// 1289:39
[personal_summary_faction_layer]
type=layer
x=8
y=8
width=16
height=111
widthmode=minus
layer=personal_summary_layer
onvartransmit=script19238
onvartransmitlist=halloween24_perm_1,halloween_hub_perm_4,halloween_hub_perm_5,halloween_hub_perm_5,halloween_hub_perm_7

// 1289:40
[personal_summary_maze_layer]
type=layer
x=8
y=8
width=16
height=111
widthmode=minus
ymode=abs_bottom
layer=personal_summary_layer
onvartransmit=script19240
onvartransmitlist=halloween_hub_gauntlet_kill_count,halloween_hub_perm_3,halloween_hub_perm_3

// 1289:41
[personal_summary_faction_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=personal_summary_faction_layer
colour=0x000000
fill=yes
onload=stylesheet_set_rect(event_com, rect_dark)

// 1289:42
[personal_summary_faction_header_text]
type=text
x=8
y=8
width=16
height=20
widthmode=minus
layer=personal_summary_faction_layer
noclickthrough=yes
textfont=notosans_bold_14
text=Clan Team
textalignv=1
onload=script10496(event_com, event_comsubid, 0)

// 1289:43
[personal_summary_faction_text]
type=text
x=8
y=32
width=16
height=37
widthmode=minus
heightmode=minus
layer=personal_summary_faction_layer
noclickthrough=yes
textfont=notosans_13

// 1289:44
[reward_shop_layer]
type=layer
x=15
y=8
width=240
height=90
ymode=abs_bottom
layer=progress_overview_layer
onvartransmit=script19242
onvartransmitlist=halloween_hub_perm_1

// 1289:45
[reward_shop_background]
type=button
widthmode=minus
heightmode=minus
layer=reward_shop_layer
noclickthrough=yes
stylesheet=background_thin
onload=stylesheet_set(event_com)

// 1289:46
[reward_shop_header_text]
type=text
x=8
y=8
width=16
height=20
widthmode=minus
layer=reward_shop_layer
noclickthrough=yes
textfont=notosans_bold_14
text=Reynold's Harvest Boon
textalignv=1
onload=script10496(event_com, event_comsubid, 0)

// 1289:47
[reward_shop_currency_text]
type=text
x=8
y=32
width=16
height=20
widthmode=minus
layer=reward_shop_layer
noclickthrough=yes
textfont=notosans_13
textalignv=1

// 1289:48
[shop_button]
type=button
y=6
width=180
height=27
xmode=abs_centre
ymode=abs_bottom
layer=reward_shop_layer
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Reward Shop
text.textshadow=no
stylesheet=button_action_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=stylesheet_set(event_com)

// 1289:49
[community_contribution_layer]
type=layer
x=15
y=45
width=240
height=351
xmode=abs_right
layer=progress_overview_layer
onvarctransmit=script19244
onvarctransmitlist=halloween24_ceremony_winner_week_1,halloween24_ceremony_winner_week_2,halloween24_ceremony_winner_week_3

// 1289:50
[community_contribution_background]
type=button
widthmode=minus
heightmode=minus
layer=community_contribution_layer
noclickthrough=yes
stylesheet=background_thin
onload=stylesheet_set(event_com)

// 1289:51
[community_contribution_header_text]
type=text
x=8
y=8
width=16
height=20
widthmode=minus
layer=community_contribution_layer
noclickthrough=yes
textfont=notosans_bold_14
text=Clan Competition
textalignv=1
onload=script10496(event_com, event_comsubid, 0)

// 1289:52
[community_contribution_week_1_layer]
type=layer
x=8
y=30
width=16
height=75
widthmode=minus
layer=community_contribution_layer

// 1289:53
[community_contribution_week_2_layer]
type=layer
x=8
y=110
width=16
height=75
widthmode=minus
layer=community_contribution_layer

// 1289:54
[community_contribution_week_3_layer]
type=layer
x=8
y=190
width=16
height=75
widthmode=minus
layer=community_contribution_layer

// 1289:55
[community_contribution_week_4_layer]
type=layer
x=8
y=270
width=16
height=75
widthmode=minus
layer=community_contribution_layer

// 1289:56
[personal_summary_maze_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=personal_summary_maze_layer
colour=0x000000
fill=yes
stylesheet=background_default
onload=stylesheet_set_rect(event_com, rect_light)

// 1289:57
[personal_summary_maze_header_text]
type=text
x=8
y=8
width=16
height=20
widthmode=minus
layer=personal_summary_maze_layer
noclickthrough=yes
textfont=notosans_bold_14
text=Maize Maze
onload=script10496(event_com, event_comsubid, 0)

// 1289:58
[personal_summary_maze_text]
type=text
x=8
y=32
width=16
height=37
widthmode=minus
heightmode=minus
layer=personal_summary_maze_layer
noclickthrough=yes
textfont=notosans_13

// 1289:59
[community_contribution_week_1_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=community_contribution_week_1_layer
colour=0x000000
fill=yes
onload=stylesheet_set_rect(event_com, rect_dark)

// 1289:60
[community_contribution_week_1_header_text]
type=text
x=8
y=8
width=208
height=15
layer=community_contribution_week_1_layer
noclickthrough=yes
textfont=notosans_bold_12
text=Week 1
onload=script10496(event_com, event_comsubid, 11837586)

// 1289:61
[community_contribution_week_1_text]
type=text
x=8
y=26
width=16
height=32
widthmode=minus
heightmode=minus
layer=community_contribution_week_1_layer
noclickthrough=yes
textfont=notosans_11
textlineheight=17

// 1289:62
[community_contribution_week_2_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=community_contribution_week_2_layer
colour=0x000000
fill=yes
onload=stylesheet_set_rect(event_com, rect_light)

// 1289:63
[community_contribution_week_2_header_text]
type=text
x=8
y=8
width=208
height=15
layer=community_contribution_week_2_layer
noclickthrough=yes
textfont=notosans_bold_12
text=Week 2
onload=script10496(event_com, event_comsubid, 11837586)

// 1289:64
[community_contribution_week_2_text]
type=text
x=8
y=26
width=16
height=32
widthmode=minus
heightmode=minus
layer=community_contribution_week_2_layer
noclickthrough=yes
textfont=notosans_11
textlineheight=17

// 1289:65
[community_contribution_week_3_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=community_contribution_week_3_layer
colour=0x000000
fill=yes
onload=stylesheet_set_rect(event_com, rect_dark)

// 1289:66
[community_contribution_week_3_header_text]
type=text
x=8
y=8
width=208
height=15
layer=community_contribution_week_3_layer
noclickthrough=yes
textfont=notosans_bold_12
text=Week 3
onload=script10496(event_com, event_comsubid, 11837586)

// 1289:67
[community_contribution_week_3_text]
type=text
x=8
y=26
width=16
height=32
widthmode=minus
heightmode=minus
layer=community_contribution_week_3_layer
noclickthrough=yes
textfont=notosans_11
textlineheight=17

// 1289:68
[community_contribution_week_4_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=community_contribution_week_4_layer
colour=0x000000
fill=yes
onload=stylesheet_set_rect(event_com, rect_light)

// 1289:69
[community_contribution_week_4_header_text]
type=text
x=8
y=8
width=208
height=15
layer=community_contribution_week_4_layer
noclickthrough=yes
textfont=notosans_bold_12
text=Week 4
onload=script10496(event_com, event_comsubid, 11837586)

// 1289:70
[community_contribution_week_4_text]
type=text
x=8
y=26
width=16
height=32
widthmode=minus
heightmode=minus
layer=community_contribution_week_4_layer
noclickthrough=yes
textfont=notosans_11
textlineheight=17

