// 1122:0
[reset_graphic]
type=graphic
width=24
height=24
xmode=abs_right
layer=reset_graphic_layer
graphic="rs3_btn_icon_24px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Reset Colours
onload=script13914(event_com, rs3tli_24px_icon_button_on)

// 1122:1
[reset_graphic_2]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=reset_graphic_layer
graphic="rs3_icon_stopwatch_reset,0"
colour=0x000000
clickmask=no

// 1122:2
[crest_content_build]
type=layer
widthmode=minus
heightmode=minus
layer=crest_content_layer

// 1122:3
[crest_content_click]
type=layer
widthmode=minus
heightmode=minus
layer=crest_content_layer

// 1122:4
[colour_button]
type=layer
x=20
y=5
width=120
height=27
ymode=abs_bottom
layer=tabs_content_main

// 1122:5
[crest_button]
type=layer
x=20
y=5
width=120
height=27
xmode=abs_right
ymode=abs_bottom
layer=tabs_content_main

// 1122:6
[tier_1]
type=layer
x=-90
y=16
width=60
height=60
xmode=abs_centre
layer=tabs_content_main

// 1122:7
[tier_2]
type=layer
y=16
width=60
height=60
xmode=abs_centre
layer=tabs_content_main

// 1122:8
[tier_3]
type=layer
x=90
y=16
width=60
height=60
xmode=abs_centre
layer=tabs_content_main

// 1122:9
[tier_4]
type=layer
x=-45
y=20
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=tabs_content_main

// 1122:10
[tier_5]
type=layer
x=45
y=20
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=tabs_content_main

// 1122:11
[com_11]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=colour3
colour=0xffffff
onload=script8194(event_com, rs3_rect_light)

// 1122:12
[com_12]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=colour2
colour=0xffffff
onload=script8194(event_com, rs3_rect_light)

// 1122:13
[com_13]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=colour1
colour=0xffffff
onload=script8194(event_com, rs3_rect_light)

// 1122:14
[com_14]
type=rectangle
widthmode=minus
heightmode=minus
layer=trim_disabled_container
colour=0x000000
fill=yes
trans=100

// 1122:15
[trim_colour_disabled]
type=graphic
widthmode=minus
heightmode=minus
layer=trim_disabled_container
graphic="rs3_locked_notifier_sprite,29"
colour=0xffffff
clickmask=no

// 1122:16
[picker_colour_left_3]
type=rectangle
x=10
width=24
height=15
ymode=abs_centre
layer=colour_popout3
colour=0xffffff
fill=yes
transmitop1=yes
op1=Copy Background Colour
onmouserepeat=script8799("Use the background colour.", event_com, event_comsubid)

// 1122:17
[com_17]
type=rectangle
x=10
width=24
height=15
ymode=abs_centre
layer=colour_popout3
colour=0x000000
onmouseover=text_colour_swapper(event_com, 16374697)
onmouseleave=text_colour_swapper(event_com, 0)

// 1122:18
[picker_colour_right_3]
type=rectangle
x=10
width=24
height=15
xmode=abs_right
ymode=abs_centre
layer=colour_popout3
colour=0xffffff
fill=yes
transmitop1=yes
op1=Copy Herald Colour
onmouserepeat=script8799("Use the herald colour.", event_com, event_comsubid)

// 1122:19
[com_19]
type=rectangle
x=10
width=24
height=15
xmode=abs_right
ymode=abs_centre
layer=colour_popout3
colour=0x000000
onmouseover=text_colour_swapper(event_com, 16374697)
onmouseleave=text_colour_swapper(event_com, 0)

// 1122:20
[rect_colour_trim]
type=rectangle
y=10
width=50
height=50
xmode=abs_centre
layer=colour3
colour=0xffffff
fill=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouserepeat=script8799("Choose a new custom colour.", event_com, event_comsubid)

// 1122:21
[com_21]
type=rectangle
y=10
width=50
height=50
xmode=abs_centre
layer=colour3
colour=0x000000
onmouseover=text_colour_swapper(event_com, 16374697)
onmouseleave=text_colour_swapper(event_com, 0)

// 1122:22
[rect_colour_icon]
type=rectangle
y=10
width=50
height=50
xmode=abs_centre
layer=colour2
colour=0xffffff
fill=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouserepeat=script8799("Choose a new custom colour.", event_com, event_comsubid)

// 1122:23
[com_23]
type=rectangle
y=10
width=50
height=50
xmode=abs_centre
layer=colour2
colour=0x000000
onmouseover=text_colour_swapper(event_com, 16374697)
onmouseleave=text_colour_swapper(event_com, 0)

// 1122:24
[rect_colour_background]
type=rectangle
y=10
width=50
height=50
xmode=abs_centre
layer=colour1
colour=0xffffff
fill=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouserepeat=script8799("Choose a new custom colour.", event_com, event_comsubid)

// 1122:25
[com_25]
type=rectangle
y=10
width=50
height=50
xmode=abs_centre
layer=colour1
colour=0x000000
onmouseover=text_colour_swapper(event_com, 16374697)
onmouseleave=text_colour_swapper(event_com, 0)

// 1122:26
[info_holder_active]
type=layer
width=275
height=150
xmode=abs_centre
ymode=abs_centre
layer=confirmation_box
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1122:27
[confirmation_text]
type=text
y=20
width=20
height=60
widthmode=minus
xmode=abs_centre
layer=confirmation_box
textfont=museo_sans_11pt_regular
text=Are you sure you want to reset all colours?
textlineheight=16
textalignh=1
textalignv=1
colour=0xebe0bc
onload=script10496(event_com, event_comsubid, 2)

// 1122:28
[confirm_button]
type=layer
x=10
y=10
width=100
height=27
xmode=abs_right
ymode=abs_bottom
layer=confirmation_box
onload=script13968(hcape_interface:confirm_build, hcape_interface:confirm_click, rs3tli_positive_button, "Yes")

// 1122:29
[decline_button]
type=layer
x=10
y=10
width=100
height=27
ymode=abs_bottom
layer=confirmation_box
onload=script13968(hcape_interface:decline_build, hcape_interface:decline_click, rs3tli_negative_button, "No")

// 1122:30
[com_30]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=goals_text_layer
colour=0xffffff
onload=script8194(event_com, rs3_rect_light)

// 1122:31
[goals_text]
type=text
x=2
y=2
width=22
height=4
widthmode=minus
heightmode=minus
layer=goals_text_layer
textfont=museo_sans_11pt_regular
text=Select a goal from the list above to view its details.
textlineheight=13
textshadow=yes
colour=0xebe0bc
onload=script10496(event_com, event_comsubid, 3)

// 1122:32
[goals_text_scrollbar]
type=layer
x=2
y=2
width=16
height=4
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=goals_text_layer

// 1122:33
[custom_tab]
type=layer
width=150
height=27
layer=tabs
onload=script13968(hcape_interface:custom_build, hcape_interface:custom_click, rs3tli_modal_tab, "Customise")

// 1122:34
[goals_tab]
type=layer
x=150
width=150
height=27
layer=tabs
onload=script13968(hcape_interface:goals_build, hcape_interface:goals_click, rs3tli_modal_tab, "Unlock Requirements")

// 1122:35
[tabs]
type=layer
height=27
widthmode=minus
layer=main_display

// 1122:36
[tier_layer]
type=layer
y=10
width=457
height=40
xmode=abs_centre
layer=mainmodal_window_content

// 1122:37
[main_display]
type=layer
x=10
y=50
width=20
height=50
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1122:38
[content]
type=layer
y=24
height=34
widthmode=minus
heightmode=minus
layer=main_display

// 1122:39
[com_39]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content
colour=0xffffff
onload=script8194(event_com, rs3_rect_light)

// 1122:40
[goals_layer]
type=layer
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content
hide=yes

// 1122:41
[customisation_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content

// 1122:42
[confirmation_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 1122:43
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(hcape_interface:mainmodal_window_background, hcape_interface:mainmodal_window_border, hcape_interface:mainmodal_window_content, hcape_interface:mainmodal_window_close_button, "Herald Capes", 21218, string_1007)

// 1122:44
[confirmation_dimmer]
type=rectangle
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=confirmation_layer
colour=0x010000
fill=yes
trans=100

// 1122:45
[tabs_content_colour]
type=layer
width=324
heightmode=minus
layer=scroller
onvartransmit=script5198
onvartransmitlist=hcape_interface_1,hcape_interface_1,hcape_interface_2

// 1122:46
[tabs_content_main]
type=layer
x=476
width=324
heightmode=minus
layer=scroller
onvartransmit=script14211
onvarctransmit=script14211
onvartransmitlist=hcape_interface_2
onvarctransmitlist=hcape_current_tier

// 1122:47
[tabs_content_crest]
type=layer
x=952
width=324
heightmode=minus
layer=scroller

// 1122:48
[back_button_crest]
type=layer
y=5
width=120
height=27
xmode=abs_centre
ymode=abs_bottom
layer=tabs_content_crest
onload=script13968(hcape_interface:back_build_crest, hcape_interface:back_click_crest, rs3tli_neutral_button, "Back")

// 1122:49
[com_49]
type=graphic
width=16384
height=13
widthmode=proportion
layer=tier_progress_layer
graphic="aif_progress_bar_txt_window,1"
colour=0xffffff
clickmask=no

// 1122:50
[tier_marker_1]
type=graphic
x=1
y=2
width=37
height=36
layer=tier_number_1
graphic="aif_display_number,1"
colour=0xffffff
clickmask=no

// 1122:51
[tier_highlight_1]
type=graphic
width=40
height=40
layer=tier_number_1
graphic=aif_display_number_highlight
colour=0xffffff
clickmask=no

// 1122:52
[goals_text_layer]
type=layer
x=5
y=5
width=10
height=110
widthmode=minus
ymode=abs_bottom
layer=goals_layer

// 1122:53
[goals_icons]
type=layer
x=5
y=5
width=10
height=60
widthmode=minus
layer=goals_layer

// 1122:54
[goals_scrollbar]
type=layer
x=5
y=65
width=10
height=16
widthmode=minus
layer=goals_layer

// 1122:55
[tier_progress_layer]
type=layer
x=20
width=40
height=13
widthmode=minus
ymode=abs_centre
layer=tier_layer

// 1122:56
[com_56]
type=graphic
y=9
width=41
height=4
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tier_layer
graphic=aif_innerwin_dropshadow_1
tiling=yes
colour=0xffffff
clickmask=no

// 1122:57
[progress_block_1]
type=graphic
y=2
width=104
height=9
layer=tier_progress_layer
graphic="aif_resources_progress_bar,6"
colour=0xffffff
clickmask=no

// 1122:58
[tier_number_1]
type=layer
width=40
height=40
layer=tier_layer

// 1122:59
[tier_text_1]
type=text
x=1
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=tier_number_1
textfont=verdana_11pt_regular
text=1
textalignh=1
textalignv=1
colour=0xb59d69

// 1122:60
[scroller]
type=layer
widthmode=minus
heightmode=minus
layer=customisation_layer
scrollwidth=1428

// 1122:61
[customisation_blocker]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=customisation_layer
noclickthrough=yes

// 1122:62
[cape_layer]
type=layer
width=152
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=customisation_layer

// 1122:63
[com_63]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=cape_layer
colour=0xffffff
onload=script8194(event_com, rs3_rect_light)

// 1122:64
[reset_graphic_layer]
type=layer
x=5
y=5
width=24
height=24
xmode=abs_right
layer=cape_layer
onmouseover=graphic_swapper(hcape_interface:reset_graphic_2, "rs3_icon_stopwatch_reset,1")
onmouseleave=graphic_swapper(hcape_interface:reset_graphic_2, "rs3_icon_stopwatch_reset,0")

// 1122:65
[com_65]
type=rectangle
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=customisation_blocker
colour=0xffffff
fill=yes
trans=255

// 1122:66
[cape_model]
type=model
y=11
width=79
height=187
xmode=abs_centre
layer=cape_layer
model=hcape_city_capes_male_t2
modelorigin_x=0
modelorigin_y=93
modelangle_x=0
modelangle_y=1024
modelangle_z=0
modelzoom=480
onvartransmit=script5201
onvartransmitlist=hcape_interface_1,hcape_interface_2,hcape_interface_1,hcape_interface_2,hcape_interface_2

// 1122:67
[finish_button]
type=layer
y=6
width=20
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=cape_layer
onload=script13968(hcape_interface:finish_build, hcape_interface:finish_click, rs3tli_positive_button, "Finish")

// 1122:68
[colour1]
type=layer
x=16
y=9
width=90
height=130
layer=tabs_content_colour

// 1122:69
[colour2]
type=layer
x=117
y=9
width=90
height=130
layer=tabs_content_colour

// 1122:70
[colour3]
type=layer
x=218
y=9
width=90
height=130
layer=tabs_content_colour

// 1122:71
[back_button]
type=layer
y=10
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=tabs_content_colour
onload=script13968(hcape_interface:back_build, hcape_interface:back_click, rs3tli_neutral_button, "Back")

// 1122:72
[crest_content_layer]
type=layer
x=9
y=9
width=34
height=45
widthmode=minus
heightmode=minus
layer=tabs_content_crest
onvartransmit=script5205
onvartransmitlist=hcape_interface_2

// 1122:73
[crest_content_scrollbar]
type=layer
x=9
y=9
width=16
height=45
heightmode=minus
xmode=abs_right
layer=tabs_content_crest

// 1122:74
[colour1_text]
type=text
y=6
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=colour1
textfont=museo_sans_11pt_regular
text=Background<br>Colour
textlineheight=12
textalignh=1
textalignv=2
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1122:75
[colour_default1]
type=layer
y=35
width=10
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=colour1

// 1122:76
[picker_colour_left_1]
type=rectangle
x=10
width=24
height=15
ymode=abs_centre
layer=colour_default1
colour=0xffffff
fill=yes
transmitop1=yes
op1=Copy Herald Colour
onmouserepeat=script8799("Use the herald colour.", event_com, event_comsubid)

// 1122:77
[confirmation_box]
type=layer
width=250
height=150
xmode=abs_centre
ymode=abs_centre
layer=confirmation_layer

// 1122:78
[tier_number_2]
type=layer
x=103
width=40
height=40
layer=tier_layer

// 1122:79
[tier_marker_2]
type=graphic
x=1
y=2
width=37
height=36
layer=tier_number_2
graphic="aif_display_number,2"
colour=0xffffff
clickmask=no

// 1122:80
[tier_highlight_2]
type=graphic
width=40
height=40
layer=tier_number_2
graphic=aif_display_number_highlight
colour=0xffffff
clickmask=no

// 1122:81
[tier_text_2]
type=text
x=1
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=tier_number_2
textfont=verdana_11pt_regular
text=2
textalignh=1
textalignv=1
colour=0xb59d69

// 1122:82
[tier_number_3]
type=layer
x=209
width=40
height=40
layer=tier_layer

// 1122:83
[tier_marker_3]
type=graphic
x=1
y=2
width=37
height=36
layer=tier_number_3
graphic="aif_display_number,2"
colour=0xffffff
clickmask=no

// 1122:84
[tier_highlight_3]
type=graphic
width=40
height=40
layer=tier_number_3
graphic=aif_display_number_highlight
colour=0xffffff
clickmask=no

// 1122:85
[tier_text_3]
type=text
x=1
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=tier_number_3
textfont=verdana_11pt_regular
text=3
textalignh=1
textalignv=1
colour=0xb59d69

// 1122:86
[tier_number_4]
type=layer
x=313
width=40
height=40
layer=tier_layer

// 1122:87
[tier_marker_4]
type=graphic
x=1
y=2
width=37
height=36
layer=tier_number_4
graphic="aif_display_number,2"
colour=0xffffff
clickmask=no

// 1122:88
[tier_highlight_4]
type=graphic
width=40
height=40
layer=tier_number_4
graphic=aif_display_number_highlight
colour=0xffffff
clickmask=no

// 1122:89
[tier_text_4]
type=text
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=tier_number_4
textfont=verdana_11pt_regular
text=4
textalignh=1
textalignv=1
colour=0xb59d69

// 1122:90
[tier_number_5]
type=layer
x=417
width=40
height=40
layer=tier_layer

// 1122:91
[tier_marker_5]
type=graphic
x=1
y=2
width=37
height=36
layer=tier_number_5
graphic="aif_display_number,2"
colour=0xffffff
clickmask=no

// 1122:92
[tier_highlight_5]
type=graphic
width=40
height=40
layer=tier_number_5
graphic=aif_display_number_highlight
colour=0xffffff
clickmask=no

// 1122:93
[tier_text_5]
type=text
x=1
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=tier_number_5
textfont=verdana_11pt_regular
text=5
textalignh=1
textalignv=1
colour=0xb59d69

// 1122:94
[progress_block_2]
type=graphic
x=103
y=2
width=104
height=9
layer=tier_progress_layer
graphic="aif_resources_progress_bar,6"
colour=0xffffff
clickmask=no

// 1122:95
[progress_block_3]
type=graphic
x=209
y=2
width=104
height=9
layer=tier_progress_layer
graphic="aif_resources_progress_bar,6"
colour=0xffffff
clickmask=no

// 1122:96
[progress_block_4]
type=graphic
x=313
y=2
width=104
height=9
layer=tier_progress_layer
graphic="aif_resources_progress_bar,6"
colour=0xffffff
clickmask=no

// 1122:97
[colour2_text]
type=text
y=6
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=colour2
textfont=museo_sans_11pt_regular
text=Herald<br>Colour
textlineheight=12
textalignh=1
textalignv=2
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1122:98
[colour_default2]
type=layer
y=35
width=10
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=colour2

// 1122:99
[picker_colour_left_2]
type=rectangle
x=10
width=24
height=15
ymode=abs_centre
layer=colour_default2
colour=0xffffff
fill=yes
transmitop1=yes
op1=Copy Background Colour
onmouserepeat=script8799("Use the background colour.", event_com, event_comsubid)

// 1122:100
[com_100]
type=rectangle
x=10
width=24
height=15
ymode=abs_centre
layer=colour_default2
colour=0x000000
onmouseover=text_colour_swapper(event_com, 16374697)
onmouseleave=text_colour_swapper(event_com, 0)

// 1122:101
[picker_colour_right_2]
type=rectangle
x=10
width=24
height=15
xmode=abs_right
ymode=abs_centre
layer=colour_default2
colour=0xffffff
fill=yes
transmitop1=yes
op1=Copy Trim Colour
onmouserepeat=script8799("Use the trim colour.", event_com, event_comsubid)

// 1122:102
[com_102]
type=rectangle
x=10
width=24
height=15
xmode=abs_right
ymode=abs_centre
layer=colour_default2
colour=0x000000
onmouseover=text_colour_swapper(event_com, 16374697)
onmouseleave=text_colour_swapper(event_com, 0)

// 1122:103
[colour3_text]
type=text
y=6
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=colour3
textfont=museo_sans_11pt_regular
text=Trim<br>Colour
textlineheight=12
textalignh=1
textalignv=2
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1122:104
[colour_popout3]
type=layer
y=35
width=10
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=colour3

// 1122:105
[trim_disabled_container]
type=layer
height=35
widthmode=minus
heightmode=minus
layer=colour3
noclickthrough=yes

// 1122:106
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1122:107
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script5184
onvarctransmit=script14206
onvarctransmitlist=hcape_tab

// 1122:108
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1122:109
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1122:110
[goals_build]
type=layer
widthmode=minus
heightmode=minus
layer=goals_tab

// 1122:111
[goals_click]
type=layer
widthmode=minus
heightmode=minus
layer=goals_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script5187

// 1122:112
[custom_build]
type=layer
widthmode=minus
heightmode=minus
layer=custom_tab

// 1122:113
[custom_click]
type=layer
widthmode=minus
heightmode=minus
layer=custom_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script5185

// 1122:114
[confirm_build]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_button

// 1122:115
[confirm_click]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1122:116
[decline_build]
type=layer
widthmode=minus
heightmode=minus
layer=decline_button

// 1122:117
[decline_click]
type=layer
widthmode=minus
heightmode=minus
layer=decline_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1122:118
[com_118]
type=rectangle
x=10
width=24
height=15
ymode=abs_centre
layer=colour_default1
colour=0x000000
onmouseover=text_colour_swapper(event_com, 16374697)
onmouseleave=text_colour_swapper(event_com, 0)

// 1122:119
[picker_colour_right_1]
type=rectangle
x=10
width=24
height=15
xmode=abs_right
ymode=abs_centre
layer=colour_default1
colour=0xffffff
fill=yes
transmitop1=yes
op1=Copy Trim Colour
onmouserepeat=script8799("Use the trim colour.", event_com, event_comsubid)

// 1122:120
[com_120]
type=rectangle
x=10
width=24
height=15
xmode=abs_right
ymode=abs_centre
layer=colour_default1
colour=0x000000
onmouseover=text_colour_swapper(event_com, 16374697)
onmouseleave=text_colour_swapper(event_com, 0)

// 1122:121
[back_build]
type=layer
widthmode=minus
heightmode=minus
layer=back_button

// 1122:122
[back_click]
type=layer
widthmode=minus
heightmode=minus
layer=back_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script5189(1, 1)

// 1122:123
[colour_build]
type=layer
widthmode=minus
heightmode=minus
layer=colour_button

// 1122:124
[colour_click]
type=layer
widthmode=minus
heightmode=minus
layer=colour_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script5189(0, 1)

// 1122:125
[crest_build]
type=layer
widthmode=minus
heightmode=minus
layer=crest_button

// 1122:126
[crest_click]
type=layer
widthmode=minus
heightmode=minus
layer=crest_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script5189(2, 1)

// 1122:127
[tier_build_1]
type=layer
widthmode=minus
heightmode=minus
layer=tier_1

// 1122:128
[tier_click_1]
type=layer
widthmode=minus
heightmode=minus
layer=tier_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14210(0)

// 1122:129
[com_129]
type=graphic
width=60
height=60
layer=tier_1
graphic="aif_herald_cape_icons,0"
colour=0xffffff
clickmask=no

// 1122:130
[tier_build_2]
type=layer
widthmode=minus
heightmode=minus
layer=tier_2

// 1122:131
[tier_click_2]
type=layer
widthmode=minus
heightmode=minus
layer=tier_2
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14210(1)

// 1122:132
[com_132]
type=graphic
width=60
height=60
layer=tier_2
graphic="aif_herald_cape_icons,1"
colour=0xffffff
clickmask=no

// 1122:133
[tier_build_3]
type=layer
widthmode=minus
heightmode=minus
layer=tier_3

// 1122:134
[tier_click_3]
type=layer
widthmode=minus
heightmode=minus
layer=tier_3
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14210(2)

// 1122:135
[com_135]
type=graphic
width=60
height=60
layer=tier_3
graphic="aif_herald_cape_icons,2"
colour=0xffffff
clickmask=no

// 1122:136
[tier_build_4]
type=layer
widthmode=minus
heightmode=minus
layer=tier_4

// 1122:137
[tier_click_4]
type=layer
widthmode=minus
heightmode=minus
layer=tier_4
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14210(3)

// 1122:138
[com_138]
type=graphic
width=60
height=60
layer=tier_4
graphic="aif_herald_cape_icons,3"
colour=0xffffff
clickmask=no

// 1122:139
[tier_build_5]
type=layer
widthmode=minus
heightmode=minus
layer=tier_5

// 1122:140
[tier_click_5]
type=layer
widthmode=minus
heightmode=minus
layer=tier_5
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14210(4)

// 1122:141
[com_141]
type=graphic
width=60
height=60
layer=tier_5
graphic="aif_herald_cape_icons,4"
colour=0xffffff
clickmask=no

// 1122:142
[back_build_crest]
type=layer
widthmode=minus
heightmode=minus
layer=back_button_crest

// 1122:143
[back_click_crest]
type=layer
widthmode=minus
heightmode=minus
layer=back_button_crest
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script5189(1, 1)

// 1122:144
[finish_build]
type=layer
widthmode=minus
heightmode=minus
layer=finish_button

// 1122:145
[finish_click]
type=layer
widthmode=minus
heightmode=minus
layer=finish_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

