// 1821:0
[button_icon_1]
type=graphic
x=10
width=26
height=26
ymode=abs_centre
layer=button_content_layer_1
graphic="hog_icon_rewards_status,0"
colour=0xffffff
clickmask=no

// 1821:1
[button_1]
type=layer
x=-164
y=185
width=160
height=46
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onmouseleave=script8805
onmouserepeat=script3876("Found within the memory of a long-dead world.", event_com, -1)

// 1821:2
[mainmodal_window]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
onload=script8420(hog_plinth:mainmodal_window_background, hog_plinth:mainmodal_window_border, hog_plinth:mainmodal_window_content, hog_plinth:mainmodal_window_close_button, "Echo Selection", 21218, null)

// 1821:3
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1821:4
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1821:5
[button_2]
type=layer
y=185
width=160
height=46
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onmouseleave=script8805
onmouserepeat=script3876("Found on the docks of an island devoid of pests.", event_com, -1)

// 1821:6
[button_3]
type=layer
x=164
y=185
width=160
height=46
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onmouseleave=script8805
onmouserepeat=script3876("Found where the Fairy Queen is seated.", event_com, -1)

// 1821:7
[button_4]
type=layer
x=-164
y=135
width=160
height=46
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onmouseleave=script8805
onmouserepeat=script3876("Found at a dead end in a maze of gnomes.", event_com, -1)

// 1821:8
[button_5]
type=layer
y=135
width=160
height=46
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onmouseleave=script8805
onmouserepeat=script3876("Found near the Gate on this world.", event_com, -1)

// 1821:9
[button_6]
type=layer
x=164
y=135
width=160
height=46
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onmouseleave=script8805
onmouserepeat=script3876("Found where you can mix cakes near a stone circle.", event_com, -1)

// 1821:10
[button_7]
type=layer
x=-164
y=85
width=160
height=46
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onmouseleave=script8805
onmouserepeat=script3876("Found where a bug guards the impact from a fist.", event_com, -1)

// 1821:11
[button_8]
type=layer
y=85
width=160
height=46
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onmouseleave=script8805
onmouserepeat=script3876("Found in a pen protected by 'The Thing'.", event_com, -1)

// 1821:12
[button_9]
type=layer
x=164
y=85
width=160
height=46
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onmouseleave=script8805
onmouserepeat=script3876("Found where an elven queen rests eternal.", event_com, -1)

// 1821:13
[button_10]
type=layer
x=-164
y=35
width=160
height=46
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onmouseleave=script8805
onmouserepeat=script3876("Found where a sharp reminder stands for all to see.", event_com, -1)

// 1821:14
[button_11]
type=layer
y=35
width=160
height=46
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onmouseleave=script8805
onmouserepeat=script3876("Found where stories hold back tears of loss.", event_com, -1)

// 1821:15
[button_12]
type=layer
x=164
y=35
width=160
height=46
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onmouseleave=script8805
onmouserepeat=script3876("Found among druidic standing stones.", event_com, -1)

// 1821:16
[button_cancel]
type=layer
x=-164
y=4
width=160
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onmouseleave=script8805
onmouserepeat=script3876("", event_com, -1)

// 1821:17
[hog_info]
type=text
y=4
width=488
height=38
xmode=abs_centre
layer=mainmodal_window_content
textfont=p11_full
text=Engrams must be charged and handed into Orla before you can display their echo on a plinth. Displaying echoes is not required for any passive beneficial effects.
textshadow=yes

// 1821:18
[hog_info_dynamic]
type=text
y=-96
width=488
height=23
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
textfont=p12_full
text=Select an echo to display here:
textshadow=yes

// 1821:19
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1821:20
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1821:21
[button_cancel_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_cancel
onload=script7275(event_com)

// 1821:22
[button_cancel_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_cancel
onload=script7276(event_com)

// 1821:23
[button_cancel_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_cancel
onload=script7277(event_com)

// 1821:24
[button_cancel_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_cancel
hide=yes
onload=script7445(event_com)

// 1821:25
[button_cancel_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=button_cancel
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1821:26
[button_cancel_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_cancel
hide=yes
onload=script7572(event_com)

// 1821:27
[button_cancel_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_cancel

// 1821:28
[button_cancel_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_cancel_text_layer
textfont=cinzel_13pt_bold
text=CANCEL
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 1821:29
[button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_1
onload=script1666(event_com, null)

// 1821:30
[button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_1
onload=script2317(event_com, null)

// 1821:31
[button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_1
onload=script2318(event_com, null)

// 1821:32
[button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_1
hide=yes
onload=script2678(event_com, null)

// 1821:33
[button_active_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=button_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1821:34
[button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_1
hide=yes
onload=script5831(event_com, null)
onmouseleave=script8805
onmouserepeat=script3876("Found within the memory of a long-dead world.", event_com, -1)

// 1821:35
[button_content_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_1

// 1821:36
[button_graphic_1]
type=graphic
x=2
height=16
ymode=abs_centre
layer=button_content_layer_1
colour=0xffffff
clickmask=no

// 1821:37
[button_text_1]
type=text
x=23
width=114
height=46
xmode=abs_centre
ymode=abs_centre
layer=button_content_layer_1
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script5836(event_com, rs3tli_windowmode_fixed_icons_hog)

// 1821:38
[button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_2
onload=script1666(event_com, null)

// 1821:39
[button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_2
onload=script2317(event_com, null)

// 1821:40
[button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_2
onload=script2318(event_com, null)

// 1821:41
[button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_2
hide=yes
onload=script2678(event_com, null)

// 1821:42
[button_active_layer_2]
type=layer
widthmode=minus
heightmode=minus
layer=button_2
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1821:43
[button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_2
hide=yes
onload=script5831(event_com, null)
onmouseleave=script8805
onmouserepeat=script3876("Found on the docks of an island devoid of pests.", event_com, -1)

// 1821:44
[button_content_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_2

// 1821:45
[button_icon_2]
type=graphic
x=10
width=26
height=26
ymode=abs_centre
layer=button_content_layer_2
graphic="hog_icon_rewards_status,0"
colour=0xffffff
clickmask=no

// 1821:46
[button_graphic_2]
type=graphic
x=2
height=16
ymode=abs_centre
layer=button_content_layer_2
colour=0xffffff
clickmask=no

// 1821:47
[button_text_2]
type=text
x=23
width=114
height=46
xmode=abs_centre
ymode=abs_centre
layer=button_content_layer_2
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script5836(event_com, rs3tli_windowmode_fixed_icons_hog)

// 1821:48
[button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_3
onload=script1666(event_com, null)

// 1821:49
[button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_3
onload=script2317(event_com, null)

// 1821:50
[button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_3
onload=script2318(event_com, null)

// 1821:51
[button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_3
hide=yes
onload=script2678(event_com, null)

// 1821:52
[button_active_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=button_3
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1821:53
[button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_3
hide=yes
onload=script5831(event_com, null)
onmouseleave=script8805
onmouserepeat=script3876("Found where the Fairy Queen is seated.", event_com, -1)

// 1821:54
[button_content_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_3

// 1821:55
[button_icon_3]
type=graphic
x=10
width=26
height=26
ymode=abs_centre
layer=button_content_layer_3
graphic="hog_icon_rewards_status,0"
colour=0xffffff
clickmask=no

// 1821:56
[button_graphic_3]
type=graphic
x=2
height=16
ymode=abs_centre
layer=button_content_layer_3
colour=0xffffff
clickmask=no

// 1821:57
[button_text_3]
type=text
x=23
width=114
height=46
xmode=abs_centre
ymode=abs_centre
layer=button_content_layer_3
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script5836(event_com, rs3tli_windowmode_fixed_icons_hog)

// 1821:58
[button_on_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_4
onload=script1666(event_com, null)

// 1821:59
[button_over_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_4
onload=script2317(event_com, null)

// 1821:60
[button_hit_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_4
onload=script2318(event_com, null)

// 1821:61
[button_selected_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_4
hide=yes
onload=script2678(event_com, null)

// 1821:62
[button_active_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=button_4
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1821:63
[button_disabled_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_4
hide=yes
onload=script5831(event_com, null)
onmouseleave=script8805
onmouserepeat=script3876("Found at a dead end in a maze of gnomes.", event_com, -1)

// 1821:64
[button_content_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_4

// 1821:65
[button_icon_4]
type=graphic
x=10
width=26
height=26
ymode=abs_centre
layer=button_content_layer_4
graphic="hog_icon_rewards_status,0"
colour=0xffffff
clickmask=no

// 1821:66
[button_graphic_4]
type=graphic
x=2
height=16
ymode=abs_centre
layer=button_content_layer_4
colour=0xffffff
clickmask=no

// 1821:67
[button_text_4]
type=text
x=23
width=114
height=46
xmode=abs_centre
ymode=abs_centre
layer=button_content_layer_4
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script5836(event_com, rs3tli_windowmode_fixed_icons_hog)

// 1821:68
[button_on_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_5
onload=script1666(event_com, null)

// 1821:69
[button_over_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_5
onload=script2317(event_com, null)

// 1821:70
[button_hit_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_5
onload=script2318(event_com, null)

// 1821:71
[button_selected_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_5
hide=yes
onload=script2678(event_com, null)

// 1821:72
[button_active_layer_5]
type=layer
widthmode=minus
heightmode=minus
layer=button_5
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1821:73
[button_disabled_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_5
hide=yes
onload=script5831(event_com, null)
onmouseleave=script8805
onmouserepeat=script3876("Found near the Gate on this world.", event_com, -1)

// 1821:74
[button_content_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_5

// 1821:75
[button_icon_5]
type=graphic
x=10
width=26
height=26
ymode=abs_centre
layer=button_content_layer_5
graphic="hog_icon_rewards_status,0"
colour=0xffffff
clickmask=no

// 1821:76
[button_graphic_5]
type=graphic
x=2
height=16
ymode=abs_centre
layer=button_content_layer_5
colour=0xffffff
clickmask=no

// 1821:77
[button_text_5]
type=text
x=23
width=114
height=46
xmode=abs_centre
ymode=abs_centre
layer=button_content_layer_5
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script5836(event_com, rs3tli_windowmode_fixed_icons_hog)

// 1821:78
[button_on_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_6
onload=script1666(event_com, null)

// 1821:79
[button_over_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_6
onload=script2317(event_com, null)

// 1821:80
[button_hit_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_6
onload=script2318(event_com, null)

// 1821:81
[button_selected_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_6
hide=yes
onload=script2678(event_com, null)

// 1821:82
[button_active_layer_6]
type=layer
widthmode=minus
heightmode=minus
layer=button_6
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1821:83
[button_disabled_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_6
hide=yes
onload=script5831(event_com, null)
onmouseleave=script8805
onmouserepeat=script3876("Found where you can mix cakes near a stone circle.", event_com, -1)

// 1821:84
[button_content_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_6

// 1821:85
[button_icon_6]
type=graphic
x=10
width=26
height=26
ymode=abs_centre
layer=button_content_layer_6
graphic="hog_icon_rewards_status,0"
colour=0xffffff
clickmask=no

// 1821:86
[button_graphic_6]
type=graphic
x=2
height=16
ymode=abs_centre
layer=button_content_layer_6
colour=0xffffff
clickmask=no

// 1821:87
[button_text_6]
type=text
x=23
width=114
height=46
xmode=abs_centre
ymode=abs_centre
layer=button_content_layer_6
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script5836(event_com, rs3tli_windowmode_fixed_icons_hog)

// 1821:88
[button_on_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_7
onload=script1666(event_com, null)

// 1821:89
[button_over_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_7
onload=script2317(event_com, null)

// 1821:90
[button_hit_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_7
onload=script2318(event_com, null)

// 1821:91
[button_selected_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_7
hide=yes
onload=script2678(event_com, null)

// 1821:92
[button_active_layer_7]
type=layer
widthmode=minus
heightmode=minus
layer=button_7
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1821:93
[button_disabled_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_7
hide=yes
onload=script5831(event_com, null)
onmouseleave=script8805
onmouserepeat=script3876("Found where a bug guards the impact from a fist.", event_com, -1)

// 1821:94
[button_content_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_7

// 1821:95
[button_icon_7]
type=graphic
x=10
width=26
height=26
ymode=abs_centre
layer=button_content_layer_7
graphic="hog_icon_rewards_status,0"
colour=0xffffff
clickmask=no

// 1821:96
[button_graphic_7]
type=graphic
x=2
height=16
ymode=abs_centre
layer=button_content_layer_7
colour=0xffffff
clickmask=no

// 1821:97
[button_text_7]
type=text
x=23
width=114
height=46
xmode=abs_centre
ymode=abs_centre
layer=button_content_layer_7
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script5836(event_com, rs3tli_windowmode_fixed_icons_hog)

// 1821:98
[button_on_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_8
onload=script1666(event_com, null)

// 1821:99
[button_over_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_8
onload=script2317(event_com, null)

// 1821:100
[button_hit_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_8
onload=script2318(event_com, null)

// 1821:101
[button_selected_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_8
hide=yes
onload=script2678(event_com, null)

// 1821:102
[button_active_layer_8]
type=layer
widthmode=minus
heightmode=minus
layer=button_8
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1821:103
[button_disabled_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_8
hide=yes
onload=script5831(event_com, null)
onmouseleave=script8805
onmouserepeat=script3876("Found in a pen protected by 'The Thing'.", event_com, -1)

// 1821:104
[button_content_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_8

// 1821:105
[button_icon_8]
type=graphic
x=10
width=26
height=26
ymode=abs_centre
layer=button_content_layer_8
graphic="hog_icon_rewards_status,0"
colour=0xffffff
clickmask=no

// 1821:106
[button_graphic_8]
type=graphic
x=2
height=16
ymode=abs_centre
layer=button_content_layer_8
colour=0xffffff
clickmask=no

// 1821:107
[button_text_8]
type=text
x=23
width=114
height=46
xmode=abs_centre
ymode=abs_centre
layer=button_content_layer_8
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script5836(event_com, rs3tli_windowmode_fixed_icons_hog)

// 1821:108
[button_on_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_9
onload=script1666(event_com, null)

// 1821:109
[button_over_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_9
onload=script2317(event_com, null)

// 1821:110
[button_hit_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_9
onload=script2318(event_com, null)

// 1821:111
[button_selected_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_9
hide=yes
onload=script2678(event_com, null)

// 1821:112
[button_active_layer_9]
type=layer
widthmode=minus
heightmode=minus
layer=button_9
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1821:113
[button_disabled_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_9
hide=yes
onload=script5831(event_com, null)
onmouseleave=script8805
onmouserepeat=script3876("Found where an elven queen rests eternal.", event_com, -1)

// 1821:114
[button_content_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_9

// 1821:115
[button_icon_9]
type=graphic
x=10
width=26
height=26
ymode=abs_centre
layer=button_content_layer_9
graphic="hog_icon_rewards_status,0"
colour=0xffffff
clickmask=no

// 1821:116
[button_graphic_9]
type=graphic
x=2
height=16
ymode=abs_centre
layer=button_content_layer_9
colour=0xffffff
clickmask=no

// 1821:117
[button_text_9]
type=text
x=23
width=114
height=46
xmode=abs_centre
ymode=abs_centre
layer=button_content_layer_9
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script5836(event_com, rs3tli_windowmode_fixed_icons_hog)

// 1821:118
[button_on_layer_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_10
onload=script1666(event_com, null)

// 1821:119
[button_over_layer_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_10
onload=script2317(event_com, null)

// 1821:120
[button_hit_layer_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_10
onload=script2318(event_com, null)

// 1821:121
[button_selected_layer_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_10
hide=yes
onload=script2678(event_com, null)

// 1821:122
[button_active_layer_10]
type=layer
widthmode=minus
heightmode=minus
layer=button_10
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1821:123
[button_disabled_layer_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_10
hide=yes
onload=script5831(event_com, null)
onmouseleave=script8805
onmouserepeat=script3876("Found where a sharp reminder stands for all to see.", event_com, -1)

// 1821:124
[button_content_layer_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_10

// 1821:125
[button_icon_10]
type=graphic
x=10
width=26
height=26
ymode=abs_centre
layer=button_content_layer_10
graphic="hog_icon_rewards_status,0"
colour=0xffffff
clickmask=no

// 1821:126
[button_graphic_10]
type=graphic
x=2
height=16
ymode=abs_centre
layer=button_content_layer_10
colour=0xffffff
clickmask=no

// 1821:127
[button_text_10]
type=text
x=23
width=114
height=46
xmode=abs_centre
ymode=abs_centre
layer=button_content_layer_10
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script5836(event_com, rs3tli_windowmode_fixed_icons_hog)

// 1821:128
[button_on_layer_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_11
onload=script1666(event_com, null)

// 1821:129
[button_over_layer_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_11
onload=script2317(event_com, null)

// 1821:130
[button_hit_layer_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_11
onload=script2318(event_com, null)

// 1821:131
[button_selected_layer_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_11
hide=yes
onload=script2678(event_com, null)

// 1821:132
[button_active_layer_11]
type=layer
widthmode=minus
heightmode=minus
layer=button_11
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1821:133
[button_disabled_layer_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_11
hide=yes
onload=script5831(event_com, null)
onmouseleave=script8805
onmouserepeat=script3876("Found where stories hold back tears of loss.", event_com, -1)

// 1821:134
[button_content_layer_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_11

// 1821:135
[button_icon_11]
type=graphic
x=10
width=26
height=26
ymode=abs_centre
layer=button_content_layer_11
graphic="hog_icon_rewards_status,0"
colour=0xffffff
clickmask=no

// 1821:136
[button_graphic_11]
type=graphic
x=2
height=16
ymode=abs_centre
layer=button_content_layer_11
colour=0xffffff
clickmask=no

// 1821:137
[button_text_11]
type=text
x=23
width=114
height=46
xmode=abs_centre
ymode=abs_centre
layer=button_content_layer_11
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script5836(event_com, rs3tli_windowmode_fixed_icons_hog)

// 1821:138
[button_on_layer_12]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_12
onload=script1666(event_com, null)

// 1821:139
[button_over_layer_12]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_12
onload=script2317(event_com, null)

// 1821:140
[button_hit_layer_12]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_12
onload=script2318(event_com, null)

// 1821:141
[button_selected_layer_12]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_12
hide=yes
onload=script2678(event_com, null)

// 1821:142
[button_active_layer_12]
type=layer
widthmode=minus
heightmode=minus
layer=button_12
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1821:143
[button_disabled_layer_12]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_12
hide=yes
onload=script5831(event_com, null)
onmouseleave=script8805
onmouserepeat=script3876("Found among druidic standing stones.", event_com, -1)

// 1821:144
[button_content_layer_12]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_12

// 1821:145
[button_icon_12]
type=graphic
x=10
width=26
height=26
ymode=abs_centre
layer=button_content_layer_12
graphic="hog_icon_rewards_status,0"
colour=0xffffff
clickmask=no

// 1821:146
[button_graphic_12]
type=graphic
x=2
height=16
ymode=abs_centre
layer=button_content_layer_12
colour=0xffffff
clickmask=no

// 1821:147
[button_text_12]
type=text
x=23
width=114
height=46
xmode=abs_centre
ymode=abs_centre
layer=button_content_layer_12
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script5836(event_com, rs3tli_windowmode_fixed_icons_hog)

