// 730:0
[com_0]
type=text
height=20
widthmode=minus
layer=game_time_window_content
textfont=museo_sans_11pt_regular
text=Time left:
textalignv=1
textshadow=yes
colour=0x7592a0

// 730:1
[charge]
type=text
x=10
y=4
width=61
height=20
layer=game_state_window_content
textfont=museo_sans_11pt_regular
text=Charge:
textalignv=1
textshadow=yes
colour=0x7592a0

// 730:2
[player_state]
type=text
x=10
y=30
width=78
height=16
layer=game_state_window_content
textfont=museo_sans_11pt_regular
text=Hunting:
textalignv=1
textshadow=yes
colour=0x7592a0

// 730:3
[target_name]
type=text
x=10
y=30
width=97
height=16
xmode=abs_right
layer=game_state_window_content
textfont=museo_sans_11pt_regular
text=Name
textalignh=2
textalignv=1
textshadow=yes
colour=0x7592a0
onvarcstrtransmit=script1582(event_com)
onvarcstrtransmitlist=varclientstring_2477

// 730:4
[layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
opbase=m
oninvtransmit=script955
oninvtransmitlist=inv

// 730:5
[game_state_window]
type=layer
x=10
y=10
width=200
height=60
layer=layer
onload=script8420(hvh_game:game_state_window_background, hvh_game:game_state_window_border, hvh_game:game_state_window_content, null, "", 21259, null)

// 730:6
[game_time_window]
type=layer
x=10
y=75
width=200
height=50
layer=layer
onload=script8420(hvh_game:game_time_window_background, hvh_game:game_time_window_border, hvh_game:game_time_window_content, null, "", 21259, null)

// 730:7
[pickup_stone]
type=text
x=10
y=130
width=200
height=20
layer=layer
textfont=museo_sans_13pt_regular
text=Please pick up a stone!
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 730:8
[game_state_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=game_state_window

// 730:9
[game_state_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=game_state_window

// 730:10
[game_state_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=game_state_window

// 730:11
[game_time_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=game_time_window

// 730:12
[game_time_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=game_time_window

// 730:13
[green_large_progress_layer]
type=layer
y=20
height=20
widthmode=minus
xmode=abs_centre
layer=game_time_window_content
onvartransmit=hvh_timer_bar
onvartransmitlist=hvh_temps_2

// 730:14
[game_time_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=game_time_window

// 730:15
[com_15]
type=graphic
width=12
heightmode=minus
ymode=abs_centre
layer=green_large_progress_layer
graphic="aif_progress_bar_frame_2,0"
colour=0xffffff
clickmask=no

// 730:16
[com_16]
type=graphic
width=12
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=green_large_progress_layer
graphic="aif_progress_bar_frame_2,0"
hflip=yes
colour=0xffffff
clickmask=no

// 730:17
[com_17]
type=graphic
width=12
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_layer
graphic="aif_progress_bar_frame_2,1"
colour=0xffffff
clickmask=no

// 730:18
[green_large_progress_value_bounds_layer]
type=layer
x=6
width=12
height=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=green_large_progress_layer

// 730:19
[green_large_progress_value_layer]
type=layer
width=180
height=10
ymode=abs_centre
layer=green_large_progress_value_bounds_layer

// 730:20
[left_colour]
type=graphic
width=6
heightmode=minus
ymode=abs_centre
layer=green_large_progress_value_layer
graphic="aif_progress_bar_green_fill_2,0"
colour=0xffffff
clickmask=no

// 730:21
[right_colour]
type=graphic
width=6
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=green_large_progress_value_layer
graphic="aif_progress_bar_green_fill_2,2"
colour=0xffffff
clickmask=no

// 730:22
[middle_colour]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_value_layer
graphic="aif_progress_bar_green_fill_2,1"
colour=0xffffff
clickmask=no

