// 1151:0
[note_random_4]
type=layer
x=144
y=87
width=205
height=142
layer=mainmodal_window_content

// 1151:1
[note_punchy]
type=layer
x=172
y=6
width=209
height=193
layer=mainmodal_window_content

// 1151:2
[note_random_2]
type=layer
x=3
y=12
width=177
height=80
layer=mainmodal_window_content

// 1151:3
[note_enigma]
type=layer
y=156
width=209
height=193
layer=mainmodal_window_content

// 1151:4
[note_random_1]
type=layer
x=154
y=166
width=180
height=127
layer=mainmodal_window_content

// 1151:5
[note_nigel_post]
type=layer
x=284
y=159
width=193
height=121
layer=mainmodal_window_content

// 1151:6
[note_infinity_post]
type=layer
x=364
y=17
width=120
height=111
layer=mainmodal_window_content

// 1151:7
[note_random_3]
type=layer
x=314
y=100
width=180
height=127
layer=mainmodal_window_content

// 1151:8
[note_infinity_pre]
type=layer
x=348
y=32
width=120
height=111
layer=mainmodal_window_content

// 1151:9
[note_fame]
type=layer
x=18
y=67
width=201
height=138
layer=mainmodal_window_content

// 1151:10
[note_death_pre]
type=layer
x=5
y=75
width=209
height=193
layer=mainmodal_window_content

// 1151:11
[note_beauty]
type=layer
x=164
y=28
width=194
height=147
layer=mainmodal_window_content

// 1151:12
[note_nigel_pre]
type=layer
x=293
y=135
width=194
height=147
layer=mainmodal_window_content

// 1151:13
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(hw11_noticeboard:mainmodal_window_background, hw11_noticeboard:mainmodal_window_border, hw11_noticeboard:mainmodal_window_content, hw11_noticeboard:mainmodal_window_close_button, "", 21218, string_1007)

// 1151:14
[tooltip_bg]
type=graphic
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=note_beauty
graphic="aif_notetabs,0"
colour=0xffffff
clickmask=no

// 1151:15
[notice_beauty_content]
type=text
x=30
y=26
width=132
height=48
layer=note_beauty
textfont=verdana_13pt_regular
text=Help needed setting up welcome portal statues, per favore.
textlineheight=15
textshadow=yes
colour=0xebe0bc

// 1151:16
[notice_beauty_tag]
type=text
x=25
y=85
width=131
height=48
layer=note_beauty
textfont=verdana_13pt_regular
text=-Beauty<br>xoxo
textlineheight=15
textalignh=2
textshadow=yes
colour=0xebe0bc

// 1151:17
[tooltip_1]
type=graphic
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=note_infinity_pre
graphic="aif_notetabs,1"
colour=0xffffff
clickmask=no

// 1151:18
[notice_infinity_content]
type=text
x=19
y=18
width=131
height=48
layer=note_infinity_pre
textfont=verdana_13pt_regular
text=Party room.<br>Dance floor.<br>Help.
textlineheight=15
textshadow=yes
colour=0xebe0bc

// 1151:19
[notice_infinity_tag]
type=text
x=-24
y=71
width=131
height=48
layer=note_infinity_pre
textfont=verdana_13pt_regular
text=-Infinity
textlineheight=15
textalignh=2
textshadow=yes
colour=0xebe0bc

// 1151:20
[tooltip_2]
type=graphic
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=note_nigel_pre
graphic="aif_notetabs,2"
colour=0xffffff
clickmask=no

// 1151:21
[notice_nigel_content]
type=text
x=31
y=23
width=131
height=48
layer=note_nigel_pre
textfont=verdana_13pt_regular
text=Could someone give me a hand with the fireworks, up on the roof?
textlineheight=15
textshadow=yes
colour=0xebe0bc

// 1151:22
[notice_nigel_tag]
type=text
x=38
y=106
width=131
height=48
layer=note_nigel_pre
textfont=verdana_13pt_regular
text=-Frank & Horses
textlineheight=15
textalignh=2
textshadow=yes
colour=0xebe0bc

// 1151:23
[tooltip_3]
type=graphic
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=note_death_pre
graphic="aif_notetabs,4"
colour=0xffffff
clickmask=no

// 1151:24
[notice_death_content]
type=text
x=31
y=30
width=131
height=48
layer=note_death_pre
textfont=verdana_13pt_regular
text=What: Special event<br><br>When: Saturday 29th October, ~2pm (BST)<br><br>Where: the theatre (on the roof)...
textlineheight=15
textshadow=yes
colour=0xebe0bc

// 1151:25
[notice_death_tag]
type=text
x=54
y=151
width=131
height=48
layer=note_death_pre
textfont=verdana_13pt_regular
text=-Death
textlineheight=15
textalignh=2
textshadow=yes
colour=0xebe0bc

// 1151:26
[tooltip_4]
type=graphic
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=note_infinity_post
graphic="aif_notetabs,4"
colour=0xffffff
clickmask=no

// 1151:27
[notice_infinity_content_1]
type=text
x=19
y=18
width=131
height=48
layer=note_infinity_post
textfont=verdana_13pt_regular
text=Party room.<br>After party!<br>Hot tunes.
textlineheight=15
textshadow=yes
colour=0xebe0bc

// 1151:28
[notice_infinity_tag_1]
type=text
x=-24
y=71
width=131
height=48
layer=note_infinity_post
textfont=verdana_13pt_regular
text=-Infinity
textlineheight=15
textalignh=2
textshadow=yes
colour=0xebe0bc

// 1151:29
[tooltip_5]
type=graphic
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=note_nigel_post
graphic="aif_notetabs,1"
colour=0xffffff
clickmask=no

// 1151:30
[notice_nigel_content_1]
type=text
x=31
y=23
width=131
height=48
layer=note_nigel_post
textfont=verdana_13pt_regular
text=Fireworks display! Come to the roof anytime!
textlineheight=15
textshadow=yes
colour=0xebe0bc

// 1151:31
[notice_nigel_tag_1]
type=text
x=39
y=81
width=131
height=48
layer=note_nigel_post
textfont=verdana_13pt_regular
text=-Frank & Horses
textlineheight=15
textalignh=2
textshadow=yes
colour=0xebe0bc

// 1151:32
[tooltip_6]
type=graphic
x=8
y=8
width=14752
height=14068
widthmode=proportion
heightmode=proportion
layer=note_random_1
graphic="aif_notetabs,1"
colour=0xffffff
clickmask=no

// 1151:33
[notice_beauty_content_1]
type=text
x=30
y=26
width=132
height=48
layer=note_random_1
textfont=verdana_13pt_regular
text=Could whoever keeps stealing my kills please stop?
textlineheight=15
textshadow=yes
colour=0xebe0bc

// 1151:34
[notice_beauty_tag_1]
type=text
x=25
y=85
width=131
height=48
layer=note_random_1
textfont=verdana_13pt_regular
text=-Death
textlineheight=15
textalignh=2
textshadow=yes
colour=0xebe0bc

// 1151:35
[tooltip_7]
type=graphic
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=note_random_2
graphic="aif_notetabs,0"
colour=0xffffff
clickmask=no

// 1151:36
[notice_infinity_content_2]
type=text
x=19
y=18
width=136
height=48
layer=note_random_2
textfont=verdana_13pt_regular
text=You'll never stop me!
textlineheight=15
textshadow=yes
colour=0xebe0bc

// 1151:37
[notice_infinity_tag_2]
type=text
x=21
y=45
width=131
height=48
layer=note_random_2
textfont=verdana_13pt_regular
text=-Bill Posters
textlineheight=15
textalignh=2
textshadow=yes
colour=0xebe0bc

// 1151:38
[tooltip_8]
type=graphic
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=note_fame
graphic="aif_notetabs,2"
colour=0xffffff
clickmask=no

// 1151:39
[notice_death_content_1]
type=text
x=31
y=23
width=131
height=48
layer=note_fame
textfont=verdana_13pt_regular
text=I'll be making a public appearance in the theatre, up on the keep roof.
textlineheight=15
textshadow=yes
colour=0xebe0bc

// 1151:40
[notice_death_tag_1]
type=text
x=42
y=100
width=131
height=48
layer=note_fame
textfont=verdana_13pt_regular
text=-Fame
textlineheight=15
textalignh=2
textshadow=yes
colour=0xebe0bc

// 1151:41
[tooltip_9]
type=graphic
x=1
y=3
width=15935
height=12004
widthmode=proportion
heightmode=proportion
layer=note_random_3
graphic="aif_notetabs,2"
colour=0xffffff
clickmask=no

// 1151:42
[notice_beauty_content_2]
type=text
x=24
y=20
width=132
height=48
layer=note_random_3
textfont=verdana_13pt_regular
text=Craggyteeth woz 'ere!
textlineheight=15
textshadow=yes
colour=0xebe0bc

// 1151:43
[notice_beauty_tag_2]
type=text
x=25
y=54
width=131
height=48
layer=note_random_3
textfont=verdana_13pt_regular
text=-Craggyteeth
textlineheight=15
textalignh=2
textshadow=yes
colour=0xebe0bc

// 1151:44
[tooltip_10]
type=graphic
x=2
y=8
width=13804
height=9175
widthmode=proportion
heightmode=proportion
layer=note_enigma
graphic="aif_notetabs,4"
colour=0xffffff
clickmask=no

// 1151:45
[notice_death_content_2]
type=text
x=31
y=30
width=131
height=48
layer=note_enigma
textfont=verdana_13pt_regular
text=23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23
textlineheight=15
textshadow=yes
colour=0xebe0bc

// 1151:46
[notice_death_tag_2]
type=text
x=17
y=75
width=131
height=48
layer=note_enigma
textfont=verdana_13pt_regular
text=-Burroughs
textlineheight=15
textalignh=2
textshadow=yes
colour=0xebe0bc

// 1151:47
[tooltip_11]
type=graphic
x=7
y=8
width=15371
height=10024
widthmode=proportion
heightmode=proportion
layer=note_punchy
graphic="aif_notetabs,3"
colour=0xffffff
clickmask=no

// 1151:48
[notice_death_content_3]
type=text
x=31
y=30
width=131
height=48
layer=note_punchy
textfont=verdana_13pt_regular
text=Would everyone please stop drinking my bath water!
textlineheight=15
textshadow=yes
colour=0xebe0bc

// 1151:49
[notice_death_tag_3]
type=text
x=12
y=84
width=173
height=35
layer=note_punchy
textfont=verdana_13pt_regular
text=-Punchy (the octopus)
textlineheight=15
textalignh=2
textshadow=yes
colour=0xebe0bc

// 1151:50
[tooltip_12]
type=graphic
x=1
y=-4
width=16550
height=13621
widthmode=proportion
heightmode=proportion
layer=note_random_4
graphic="aif_notetabs,0"
colour=0xffffff
clickmask=no

// 1151:51
[notice_infinity_content_3]
type=text
x=27
y=17
width=158
height=47
layer=note_random_4
textfont=verdana_13pt_regular
text=Lost human. Answers to the name of Unferth. If found, please return to Burthorpe.
textlineheight=15
textshadow=yes
colour=0xebe0bc

// 1151:52
[notice_infinity_tag_3]
type=text
x=50
y=82
width=131
height=48
layer=note_random_4
textfont=verdana_13pt_regular
text=-Bob the cat
textlineheight=15
textalignh=2
textshadow=yes
colour=0xebe0bc

// 1151:53
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1151:54
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1151:55
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1151:56
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

