// 1542:0
[proto_pack_fuel_icon]
type=graphic
width=24
height=32
ymode=abs_centre
layer=bespoke_window_content_1
graphic=rs3_halloween_2014_icon_proto_pack
colour=0xffffff
clickmask=no

// 1542:1
[hw14_fuel_timer]
type=text
x=1
width=32
height=32
xmode=abs_right
ymode=abs_centre
layer=bespoke_window_content_1
textfont=museo_sans_11pt_regular
text=0:00
textalignh=1
textalignv=1
textshadow=yes

// 1542:2
[bespoke_window_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=fuel_layer
onload=script8420(hw14_overlay:bespoke_window_background_1, hw14_overlay:bespoke_window_border_1, hw14_overlay:bespoke_window_content_1, null, "", 21259, null)

// 1542:3
[hw14_cm_scare]
type=graphic
x=10
y=10
width=32
height=32
layer=cm
graphic=clan_icon_skull
colour=0xffffff
clickmask=no
transmitop1=yes
targetmask=player
opbase=Scare
op1=Scare
onmouserepeat=script8799("Scare - Play the scared emote on all nearby players.", event_com, -1)

// 1542:4
[hw14_cm_transform]
type=graphic
x=45
y=10
width=32
height=32
layer=cm
graphic=clan_icon_skull
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Transform
op1=Transform
onmouserepeat=script8799("Transform - turn into an item of furniture and hide.", event_com, -1)

// 1542:5
[hw14_cm_dropstuff]
type=graphic
x=79
y=10
width=32
height=32
layer=cm
graphic=clan_icon_skull
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Drop Items
op1=Items
onmouserepeat=script8799("Drop items - put 10 fear-reducing items around your current location.", event_com, -1)

// 1542:6
[hw14_cm_ghosts]
type=graphic
x=113
y=10
width=32
height=32
layer=cm
graphic=clan_icon_skull
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Drop Items
op1=Ghosts
onmouserepeat=script8799("Ghosts - turn up to 3 people around you into ghosts for 5 seconds.", event_com, -1)

// 1542:7
[hw14_cm_lights]
type=graphic
x=147
y=10
width=32
height=32
layer=cm
graphic=clan_icon_skull
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Light on
op1=Toggle Light
onmouserepeat=script8799("Lights - Turn on a light that will reduce fear in players nearby.", event_com, -1)

// 1542:8
[hw14_cm_demons]
type=graphic
x=182
y=10
width=32
height=32
layer=cm
graphic=clan_icon_skull
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Dark On
op1=Spawn Demon
onmouserepeat=script8799("Summon Demon - causes a demonic ghost to appear nearby. Has a 1 minute cooldown.", event_com, -1)

// 1542:9
[com_9]
type=graphic
width=4
height=10
ymode=abs_centre
layer=progress
graphic="rs3_progress_bar_backing,0"
colour=0xffffff
clickmask=no

// 1542:10
[com_10]
type=graphic
width=4
height=10
xmode=abs_right
ymode=abs_centre
layer=progress
graphic="rs3_progress_bar_backing,2"
colour=0xffffff
clickmask=no

// 1542:11
[com_11]
type=graphic
width=8
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=progress
graphic="rs3_progress_bar_backing,1"
colour=0xffffff
clickmask=no

// 1542:12
[com_12]
type=graphic
width=112
height=120
xmode=abs_centre
ymode=abs_centre
layer=content
graphic=rs3_hud_window_content_tile
hflip=yes
colour=0xffffff
clickmask=no

// 1542:13
[com_13]
type=graphic
x=112
width=112
height=120
xmode=abs_centre
ymode=abs_centre
layer=content
graphic=rs3_hud_window_content_tile
hflip=yes
colour=0xffffff
clickmask=no

// 1542:14
[com_14]
type=graphic
x=224
width=112
height=120
xmode=abs_centre
ymode=abs_centre
layer=content
graphic=rs3_hud_window_content_tile
hflip=yes
colour=0xffffff
clickmask=no

// 1542:15
[com_15]
type=graphic
x=-112
width=112
height=120
xmode=abs_centre
ymode=abs_centre
layer=content
graphic=rs3_hud_window_content_tile
hflip=yes
colour=0xffffff
clickmask=no

// 1542:16
[com_16]
type=graphic
x=-224
width=112
height=120
xmode=abs_centre
ymode=abs_centre
layer=content
graphic=rs3_hud_window_content_tile
hflip=yes
colour=0xffffff
clickmask=no

// 1542:17
[com_17]
type=graphic
width=16
height=16
layer=content
graphic=rs3_info_display_top_corner
colour=0xffffff
clickmask=no

// 1542:18
[com_18]
type=graphic
width=16
height=16
xmode=abs_right
layer=content
graphic=rs3_info_display_top_corner
hflip=yes
colour=0xffffff
clickmask=no

// 1542:19
[com_19]
type=graphic
width=16
height=16
ymode=abs_bottom
layer=content
graphic=rs3_info_display_bottom_corner
colour=0xffffff
clickmask=no

// 1542:20
[com_20]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=content
graphic=rs3_info_display_bottom_corner
hflip=yes
colour=0xffffff
clickmask=no

// 1542:21
[com_21]
type=graphic
width=6
height=15
ymode=abs_centre
layer=content
graphic=rs3_info_display_side_tile
colour=0xffffff
clickmask=no

// 1542:22
[com_22]
type=graphic
width=6
height=15
xmode=abs_right
ymode=abs_centre
layer=content
graphic=rs3_info_display_side_tile
hflip=yes
colour=0xffffff
clickmask=no

// 1542:23
[com_23]
type=graphic
width=32
height=6
widthmode=minus
xmode=abs_centre
layer=content
graphic=rs3_info_display_top_tile
hflip=yes
colour=0xffffff
clickmask=no

// 1542:24
[com_24]
type=graphic
width=32
height=6
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=content
graphic=rs3_info_display_bottom_tile
hflip=yes
colour=0xffffff
clickmask=no

// 1542:25
[hw14_fear]
type=text
x=396
y=7
width=32
height=15
layer=content
textfont=museo_sans_11pt_regular
text=000%
textalignh=1
textalignv=1
textshadow=yes
onload=script10666
onvartransmit=script10666
onvartransmitlist=hw14_var

// 1542:26
[hw14_fear_flash]
type=text
x=396
y=7
width=32
height=15
layer=content
textfont=museo_sans_11pt_regular
text=000%
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000
trans=255
onload=script10666
onvartransmit=script10666
onvartransmitlist=hw14_var

// 1542:27
[progress]
type=layer
x=298
y=5
width=128
height=10
ymode=abs_centre
layer=content

// 1542:28
[bar]
type=layer
x=2
width=4
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=progress

// 1542:29
[bar_fill]
type=graphic
width=16391
height=6
widthmode=proportion
ymode=abs_centre
layer=bar
graphic=rs3_progress_bar_indigo
colour=0xffffff
clickmask=no

// 1542:30
[hw14_points]
type=text
x=43
y=8
width=45
height=16
ymode=abs_bottom
layer=content
textfont=museo_sans_11pt_regular
text=15000
textalignh=1
textalignv=1
textshadow=yes
onload=script10667
onvartransmit=script10667
onvartransmitlist=hw14_var

// 1542:31
[hw14_points_flash]
type=text
x=80
y=8
width=45
height=16
ymode=abs_bottom
layer=content
textfont=museo_sans_11pt_regular
text=+ 000
textalignh=1
textalignv=1
textshadow=yes
trans=255

// 1542:32
[hw14_bonus]
type=text
x=202
width=80
height=32
ymode=abs_bottom
layer=content
textfont=museo_sans_11pt_regular
text=0000 of 0000
textalignh=1
textalignv=1
textshadow=yes

// 1542:33
[com_33]
type=text
x=139
y=7
width=109
height=15
layer=content
textfont=museo_sans_11pt_regular
text=Daily  Bonus Points
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1542:34
[com_34]
type=text
x=120
width=100
height=32
ymode=abs_bottom
layer=content
textfont=museo_sans_11pt_regular
text=Collected:
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1542:35
[com_35]
type=text
x=298
y=7
width=32
height=15
layer=content
textfont=museo_sans_11pt_regular
text=Fear:
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10668
onvartransmit=script10668
onvartransmitlist=hw14_var

// 1542:36
[com_36]
type=text
x=15
y=7
width=100
height=15
layer=content
textfont=museo_sans_11pt_regular
text=Reward Points:
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1542:37
[content]
type=layer
width=572
height=46
xmode=abs_centre
layer=main
noclickthrough=yes

// 1542:38
[bonus_tooltip_layer]
type=layer
x=137
width=427
height=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=content
onmouserepeat=script8799("Every day you will be given 2000 bonus points in this event.<br>Every time you gain a point, if you have bonus points remaining, it will be doubled.<br>So, dismissing a ghost worth 10 points will get you 20, etc.", event_com, -1)

// 1542:39
[fuel_layer]
type=layer
x=-250
y=50
width=68
height=40
xmode=abs_centre
layer=main

// 1542:40
[button]
type=layer
x=18
width=96
height=22
xmode=abs_right
ymode=abs_centre
layer=content

// 1542:41
[main]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre

// 1542:42
[chest_layer]
type=layer
x=250
y=50
width=68
height=40
xmode=abs_centre
layer=main
hide=yes

// 1542:43
[bespoke_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chest_layer
onload=script8420(hw14_overlay:bespoke_window_background, hw14_overlay:bespoke_window_border, hw14_overlay:bespoke_window_content, null, "", 21259, null)

// 1542:44
[cm]
type=layer
y=50
width=226
height=66
xmode=abs_centre
layer=main
hide=yes

// 1542:45
[com_45]
type=text
x=11
y=42
width=32
height=16
layer=cm
textfont=p11_full
text=Scare
textalignh=1
textalignv=1
textshadow=yes

// 1542:46
[com_46]
type=text
x=44
y=45
width=32
height=16
layer=cm
textfont=p11_full
text=Trans<br>form
textalignh=1
textalignv=1
textshadow=yes

// 1542:47
[com_47]
type=text
x=77
y=46
width=32
height=16
layer=cm
textfont=p11_full
text=Drop<br>Items
textalignh=1
textalignv=1
textshadow=yes

// 1542:48
[com_48]
type=text
x=148
y=44
width=32
height=16
layer=cm
textfont=p11_full
text=Light
textalignh=1
textalignv=1
textshadow=yes

// 1542:49
[com_49]
type=text
x=182
y=44
width=32
height=16
layer=cm
textfont=p11_full
text=Demon
textalignh=1
textalignv=1
textshadow=yes

// 1542:50
[com_50]
type=text
x=112
y=44
width=32
height=16
layer=cm
textfont=p11_full
text=Ghost
textalignh=1
textalignv=1
textshadow=yes

// 1542:51
[resizable_3x3_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button
onload=script7699(event_com)

// 1542:52
[resizable_3x3_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button
onload=script7728(event_com)

// 1542:53
[resizable_3x3_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button
onload=script7729(event_com)

// 1542:54
[resizable_3x3_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button
hide=yes
onload=script8225(event_com)

// 1542:55
[button_click]
type=layer
widthmode=minus
heightmode=minus
layer=button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1542:56
[resizable_3x3_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button
hide=yes
onload=script8228(event_com)

// 1542:57
[resizable_3x3_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button

// 1542:58
[resizable_3x3_button_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Ghostpedia
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1542:59
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1542:60
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1542:61
[com_61]
type=graphic
width=54
height=40
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content
graphic=rs3_halloween_2014_icon_loot_chest
colour=0xffffff
clickmask=no
onmouserepeat=script8799("A loot chest is available in Death's house.<br>Grab it while you can!", event_com, -1)

// 1542:62
[tickbox]
type=graphic
width=30
height=30
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content
hide=yes
graphic="aif_tick_cross_icon,0"
colour=0xffffff
clickmask=no

// 1542:63
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1542:64
[bespoke_window_background_1]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window_1

// 1542:65
[bespoke_window_content_1]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window_1
onmouserepeat=script8799("When you have super-charged your proto pack you will do more damage to ghosts.<br>Look out for Active Ectoplasm when you dismiss ghosts or loot chests.", event_com, -1)

// 1542:66
[bespoke_window_border_1]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window_1

