// 1915:0
[content_layer]
type=layer
x=7
y=7
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=proportion_centre
ymode=proportion_centre

// 1915:1
[com_1]
type=model
x=7
y=2950
width=26695
height=28311
widthmode=proportion
heightmode=proportion
xmode=proportion_centre
ymode=proportion_centre
layer=content_layer
model=hw17_ghost_screen_interface
modelorigin_x=6
modelorigin_y=88
modelangle_x=1865
modelangle_y=2042
modelangle_z=0
modelzoom=212
modelobjwidth=834
modelobjheight=577

// 1915:2
[barrows_dharok]
type=model
x=-2233
y=2116
width=96
height=96
xmode=proportion_centre
ymode=proportion_centre
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000

// 1915:3
[barrows_guthan]
type=model
x=3079
y=-925
width=96
height=96
xmode=proportion_centre
ymode=proportion_centre
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000

// 1915:4
[barrows_ahrim]
type=model
x=-4953
y=-2053
width=96
height=96
xmode=proportion_centre
ymode=proportion_centre
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=2
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000

// 1915:5
[barrows_karil]
type=model
x=4135
y=2410
width=96
height=96
xmode=proportion_centre
ymode=proportion_centre
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000

// 1915:6
[barrows_torag]
type=model
x=5767
y=-483
width=96
height=96
xmode=proportion_centre
ymode=proportion_centre
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000

// 1915:7
[barrows_verac]
type=model
x=-3513
y=791
width=96
height=96
xmode=proportion_centre
ymode=proportion_centre
layer=content_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1000

