// 540:0
[ii_impling_trade10]
type=graphic
width=50
height=50
ymode=abs_centre
layer=exchange_jar
graphic="ii_impling_icons,5"
clickmask=no
onmouserepeat=script8799("Any impling", event_com, event_comsubid)

// 540:1
[com_1]
type=text
x=41
width=144
height=36
ymode=abs_bottom
layer=exchange_jar
textfont=museo_sans_13pt_bold
text=x1 of any impling type
textalignv=2
textshadow=yes

// 540:2
[ii_impling_trade7]
type=graphic
width=50
height=50
ymode=abs_centre
layer=exchange_generator
graphic="ii_impling_icons,8"
clickmask=no
onmouserepeat=script8799("Essence impling", event_com, event_comsubid)

// 540:3
[com_3]
type=text
x=42
width=20
height=16
ymode=abs_bottom
layer=exchange_generator
textfont=museo_sans_13pt_bold
text=x3
textshadow=yes

// 540:4
[ii_impling_trade8]
type=graphic
x=62
width=50
height=50
ymode=abs_centre
layer=exchange_generator
graphic="ii_impling_icons,4"
clickmask=no
onmouserepeat=script8799("Eclectic impling", event_com, event_comsubid)

// 540:5
[com_5]
type=text
x=104
width=20
height=16
ymode=abs_bottom
layer=exchange_generator
textfont=museo_sans_13pt_bold
text=x2
textshadow=yes

// 540:6
[ii_impling_trade9]
type=graphic
x=124
width=50
height=50
ymode=abs_centre
layer=exchange_generator
graphic="ii_impling_icons,3"
clickmask=no
onmouserepeat=script8799("Nature impling", event_com, event_comsubid)

// 540:7
[com_7]
type=text
x=166
width=20
height=16
ymode=abs_bottom
layer=exchange_generator
textfont=museo_sans_13pt_bold
text=x1
textshadow=yes

// 540:8
[ii_impling_trade4]
type=graphic
width=50
height=50
ymode=abs_centre
layer=exchange_net
graphic="ii_impling_icons,0"
clickmask=no
onmouserepeat=script8799("Gourmet impling", event_com, event_comsubid)

// 540:9
[com_9]
type=text
x=42
width=20
height=16
ymode=abs_bottom
layer=exchange_net
textfont=museo_sans_13pt_bold
text=x3
textshadow=yes

// 540:10
[ii_impling_trade5]
type=graphic
x=62
width=50
height=50
ymode=abs_centre
layer=exchange_net
graphic="ii_impling_icons,9"
clickmask=no
onmouserepeat=script8799("Earth impling", event_com, event_comsubid)

// 540:11
[com_11]
type=text
x=104
width=20
height=16
ymode=abs_bottom
layer=exchange_net
textfont=museo_sans_13pt_bold
text=x2
textshadow=yes

// 540:12
[ii_impling_trade6]
type=graphic
x=124
width=50
height=50
ymode=abs_centre
layer=exchange_net
graphic="ii_impling_icons,8"
clickmask=no
onmouserepeat=script8799("Essence impling", event_com, event_comsubid)

// 540:13
[com_13]
type=text
x=166
width=20
height=16
ymode=abs_bottom
layer=exchange_net
textfont=museo_sans_13pt_bold
text=x1
textshadow=yes

// 540:14
[ii_impling_trade1]
type=graphic
width=50
height=50
ymode=abs_centre
layer=exchange_repellent
graphic="ii_impling_icons,1"
clickmask=no
onmouserepeat=script8799("Baby impling", event_com, event_comsubid)

// 540:15
[com_15]
type=text
x=42
width=20
height=16
ymode=abs_bottom
layer=exchange_repellent
textfont=museo_sans_13pt_bold
text=x3
textshadow=yes

// 540:16
[ii_impling_trade2]
type=graphic
x=62
width=50
height=50
ymode=abs_centre
layer=exchange_repellent
graphic="ii_impling_icons,6"
clickmask=no
onmouserepeat=script8799("Young impling", event_com, event_comsubid)

// 540:17
[com_17]
type=text
x=104
width=20
height=16
ymode=abs_bottom
layer=exchange_repellent
textfont=museo_sans_13pt_bold
text=x2
textshadow=yes

// 540:18
[ii_impling_trade3]
type=graphic
x=124
width=50
height=50
ymode=abs_centre
layer=exchange_repellent
graphic="ii_impling_icons,0"
clickmask=no
onmouserepeat=script8799("Gourmet impling", event_com, event_comsubid)

// 540:19
[com_19]
type=text
x=166
width=20
height=16
ymode=abs_bottom
layer=exchange_repellent
textfont=museo_sans_13pt_bold
text=x1
textshadow=yes

// 540:20
[ii_reward1_2]
type=graphic
x=20
width=36
height=32
xmode=abs_right
ymode=abs_centre
layer=exchange_generator
clickmask=no

// 540:21
[com_21]
type=text
x=10
y=10
width=20
height=16
xmode=abs_right
ymode=abs_centre
layer=exchange_generator
textfont=museo_sans_13pt_bold
text=x1
textshadow=yes

// 540:22
[jar_generator_highlight]
type=rectangle
widthmode=minus
heightmode=minus
layer=exchange_generator
hide=yes
colour=0xffffcc

// 540:23
[jar_generator_fill]
type=rectangle
widthmode=minus
heightmode=minus
layer=exchange_generator
hide=yes
colour=0xffffcc
fill=yes
trans=225

// 540:24
[ii_reward1_3]
type=graphic
x=20
width=36
height=32
xmode=abs_right
ymode=abs_centre
layer=exchange_jar
clickmask=no

// 540:25
[com_25]
type=text
x=10
y=10
width=20
height=16
xmode=abs_right
ymode=abs_centre
layer=exchange_jar
textfont=museo_sans_13pt_bold
text=x3
textshadow=yes

// 540:26
[impling_jar_highlight]
type=rectangle
widthmode=minus
heightmode=minus
layer=exchange_jar
hide=yes
colour=0xffffcc

// 540:27
[impling_jar_fill]
type=rectangle
widthmode=minus
heightmode=minus
layer=exchange_jar
hide=yes
colour=0xffffcc
fill=yes
trans=225

// 540:28
[ii_reward1_1]
type=graphic
x=20
width=36
height=32
xmode=abs_right
ymode=abs_centre
layer=exchange_net
clickmask=no

// 540:29
[com_29]
type=text
x=10
y=10
width=20
height=16
xmode=abs_right
ymode=abs_centre
layer=exchange_net
textfont=museo_sans_13pt_bold
text=x1
textshadow=yes

// 540:30
[magic_net_highlight]
type=rectangle
widthmode=minus
heightmode=minus
layer=exchange_net
hide=yes
colour=0xffffcc

// 540:31
[magic_net_fill]
type=rectangle
widthmode=minus
heightmode=minus
layer=exchange_net
hide=yes
colour=0xffffcc
fill=yes
trans=225

// 540:32
[ii_reward1]
type=graphic
x=20
width=36
height=32
xmode=abs_right
ymode=abs_centre
layer=exchange_repellent
clickmask=no

// 540:33
[com_33]
type=text
x=10
y=10
width=20
height=16
xmode=abs_right
ymode=abs_centre
layer=exchange_repellent
textfont=museo_sans_13pt_bold
text=x1
textshadow=yes

// 540:34
[repellent_highlight]
type=rectangle
widthmode=minus
heightmode=minus
layer=exchange_repellent
hide=yes
colour=0xffffcc

// 540:35
[repellent_fill]
type=rectangle
widthmode=minus
heightmode=minus
layer=exchange_repellent
hide=yes
colour=0xffffcc
fill=yes
trans=225

// 540:36
[com_36]
type=text
height=15
widthmode=minus
xmode=abs_centre
layer=content_sublayer
textfont=cinzel_13pt_bold
text=Exchange jarred implings
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 540:37
[exchange_repellent]
type=layer
y=18
height=50
widthmode=minus
layer=content_sublayer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script2902(ii_elnocks_exchange:repellent_highlight, ii_elnocks_exchange:tooltiptext, 1)
onmouserepeat=script2901(ii_elnocks_exchange:repellent_highlight, ii_elnocks_exchange:tooltiptext, "Exchange Baby x 3, Young x 2, Gourmet x 1 for Imp repellent x 1.")
onclick=script2903(ii_elnocks_exchange:repellent_highlight, ii_elnocks_exchange:repellent_fill, ii_elnocks_exchange:magic_net_highlight, ii_elnocks_exchange:jar_generator_highlight, ii_elnocks_exchange:impling_jar_highlight, ii_elnocks_exchange:magic_net_fill, ii_elnocks_exchange:jar_generator_fill, ii_elnocks_exchange:impling_jar_fill, 1)

// 540:38
[exchange_net]
type=layer
y=68
height=50
widthmode=minus
layer=content_sublayer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script2902(ii_elnocks_exchange:magic_net_highlight, ii_elnocks_exchange:tooltiptext, 2)
onmouserepeat=script2901(ii_elnocks_exchange:magic_net_highlight, ii_elnocks_exchange:tooltiptext, "Exchange Gourmet x 3, Earth x 2, Essence x 1 for Magic Butterfly Net x 1.")
onclick=script2903(ii_elnocks_exchange:magic_net_highlight, ii_elnocks_exchange:magic_net_fill, ii_elnocks_exchange:repellent_highlight, ii_elnocks_exchange:jar_generator_highlight, ii_elnocks_exchange:impling_jar_highlight, ii_elnocks_exchange:repellent_fill, ii_elnocks_exchange:jar_generator_fill, ii_elnocks_exchange:impling_jar_fill, 2)

// 540:39
[exchange_generator]
type=layer
y=118
height=50
widthmode=minus
layer=content_sublayer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script2902(ii_elnocks_exchange:jar_generator_highlight, ii_elnocks_exchange:tooltiptext, 3)
onmouserepeat=script2901(ii_elnocks_exchange:jar_generator_highlight, ii_elnocks_exchange:tooltiptext, "Exchange Essence x 3, Eclectic x 2, Nature x 1 for Jar Generator x 1.")
onclick=script2903(ii_elnocks_exchange:jar_generator_highlight, ii_elnocks_exchange:jar_generator_fill, ii_elnocks_exchange:magic_net_highlight, ii_elnocks_exchange:repellent_highlight, ii_elnocks_exchange:impling_jar_highlight, ii_elnocks_exchange:magic_net_fill, ii_elnocks_exchange:repellent_fill, ii_elnocks_exchange:impling_jar_fill, 3)

// 540:40
[exchange_jar]
type=layer
y=168
height=50
widthmode=minus
layer=content_sublayer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script2902(ii_elnocks_exchange:impling_jar_highlight, ii_elnocks_exchange:tooltiptext, 4)
onmouserepeat=script2901(ii_elnocks_exchange:impling_jar_highlight, ii_elnocks_exchange:tooltiptext, "Exchange any jarred impling x 1 for Impling Jar x 3.")
onclick=script2903(ii_elnocks_exchange:impling_jar_highlight, ii_elnocks_exchange:impling_jar_fill, ii_elnocks_exchange:magic_net_highlight, ii_elnocks_exchange:jar_generator_highlight, ii_elnocks_exchange:repellent_highlight, ii_elnocks_exchange:magic_net_fill, ii_elnocks_exchange:jar_generator_fill, ii_elnocks_exchange:repellent_fill, 4)

// 540:41
[tooltipbox]
type=layer
y=220
height=30
widthmode=minus
xmode=abs_centre
layer=content_sublayer

// 540:42
[content_sublayer]
type=layer
y=5
width=20
height=250
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
onload=script2904(ii_elnocks_exchange:repellent_highlight, ii_elnocks_exchange:magic_net_highlight, ii_elnocks_exchange:jar_generator_highlight, ii_elnocks_exchange:impling_jar_highlight, ii_elnocks_exchange:repellent_fill, ii_elnocks_exchange:magic_net_fill, ii_elnocks_exchange:jar_generator_fill, ii_elnocks_exchange:impling_jar_fill)

// 540:43
[confirm_button]
type=layer
x=10
y=10
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content
onload=script13968(ii_elnocks_exchange:confirm_build, ii_elnocks_exchange:confirm_click, rs3tli_positive_button, "Confirm")

// 540:44
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(ii_elnocks_exchange:mainmodal_window_background, ii_elnocks_exchange:mainmodal_window_border, ii_elnocks_exchange:mainmodal_window_content, ii_elnocks_exchange:mainmodal_window_close_button, "Elnock's Exchange", 21218, string_1007)

// 540:45
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 540:46
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 540:47
[shop_button]
type=layer
x=10
y=10
width=150
height=27
ymode=abs_bottom
layer=mainmodal_window_content
onload=script13968(ii_elnocks_exchange:shop_build, ii_elnocks_exchange:shop_click, rs3tli_neutral_button, "Go To Shop")

// 540:48
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 540:49
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 540:50
[bg]
type=layer
widthmode=minus
heightmode=minus
layer=tooltipbox
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 540:51
[tooltiptext]
type=text
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tooltipbox
textfont=museo_sans_11pt_regular
textalignv=1
textshadow=yes

// 540:52
[confirm_build]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_button

// 540:53
[confirm_click]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 540:54
[shop_build]
type=layer
widthmode=minus
heightmode=minus
layer=shop_button

// 540:55
[shop_click]
type=layer
widthmode=minus
heightmode=minus
layer=shop_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

