// 169:0
[base_container]
type=layer
x=7
y=26
width=133
height=261

// 169:1
[container]
type=layer
width=133
height=261
xmode=abs_right
layer=base_container
transmitop10=yes
op10= 

// 169:2
[com_2]
type=rectangle
width=16384
height=301
widthmode=proportion
xmode=abs_centre
layer=container
colour=0x53533d
fill=yes
trans=180
transmitop10=yes
op10=  

// 169:3
[text_01]
type=text
x=89
y=20
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_1)
oninvtransmit=script1091(event_com, ii_captured_impling_1)
oninvtransmitlist=inv

// 169:4
[impling_01]
type=graphic
x=89
y=20
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,1"
clickmask=no
transmitop10=yes
op10=  

// 169:5
[text_02]
type=text
x=45
y=20
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_2)
oninvtransmit=script1091(event_com, ii_captured_impling_2)
oninvtransmitlist=inv

// 169:6
[impling_02]
type=graphic
x=45
y=20
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,6"
clickmask=no
transmitop10=yes
op10=   

// 169:7
[text_03]
type=text
x=1
y=20
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_3)
oninvtransmit=script1091(event_com, ii_captured_impling_3)
oninvtransmitlist=inv

// 169:8
[impling_03]
type=graphic
x=1
y=20
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,0"
clickmask=no
transmitop10=yes
op10=   

// 169:9
[text_04]
type=text
x=89
y=60
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_4)
oninvtransmit=script1091(event_com, ii_captured_impling_4)
oninvtransmitlist=inv

// 169:10
[impling_04]
type=graphic
x=89
y=60
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,9"
clickmask=no
transmitop10=yes
op10=    

// 169:11
[text_05]
type=text
x=45
y=60
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_5)
oninvtransmit=script1091(event_com, ii_captured_impling_5)
oninvtransmitlist=inv

// 169:12
[impling_05]
type=graphic
x=45
y=60
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,8"
clickmask=no
transmitop10=yes
op10=    

// 169:13
[text_06]
type=text
x=1
y=60
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_6)
oninvtransmit=script1091(event_com, ii_captured_impling_6)
oninvtransmitlist=inv

// 169:14
[impling_06]
type=graphic
x=1
y=60
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,4"
clickmask=no
transmitop10=yes
op10=    

// 169:15
[text_6a]
type=text
x=89
y=100
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_6a)
oninvtransmit=script1091(event_com, ii_captured_impling_6a)
oninvtransmitlist=inv

// 169:16
[impling_6a]
type=graphic
x=89
y=100
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,14"
clickmask=no
transmitop10=yes
op10=     

// 169:17
[text_07]
type=text
x=45
y=100
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_7)
oninvtransmit=script1091(event_com, ii_captured_impling_7)
oninvtransmitlist=inv

// 169:18
[impling_07]
type=graphic
x=45
y=100
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,3"
clickmask=no
transmitop10=yes
op10= 

// 169:19
[text_08]
type=text
x=1
y=100
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_8)
oninvtransmit=script1091(event_com, ii_captured_impling_8)
oninvtransmitlist=inv

// 169:20
[impling_08]
type=graphic
x=1
y=100
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,7"
clickmask=no
transmitop10=yes
op10=  

// 169:21
[text_09]
type=text
x=89
y=140
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_9)
oninvtransmit=script1091(event_com, ii_captured_impling_9)
oninvtransmitlist=inv

// 169:22
[impling_09]
type=graphic
x=89
y=140
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,10"
clickmask=no
transmitop10=yes
op10=  

// 169:23
[text_11]
type=text
x=45
y=140
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_11)
oninvtransmit=script1091(event_com, ii_captured_impling_11)
oninvtransmitlist=inv

// 169:24
[impling_11]
type=graphic
x=45
y=140
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,11"
clickmask=no
transmitop10=yes
op10=   

// 169:25
[text_14]
type=text
x=1
y=140
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
onload=script1091(event_com, ii_captured_impling_14)
oninvtransmit=script1091(event_com, ii_captured_impling_14)
oninvtransmitlist=inv

// 169:26
[impling_14]
type=graphic
x=1
y=140
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,15"
colour=0xffffff
clickmask=no

// 169:27
[text_10]
type=text
x=89
y=180
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_10)
oninvtransmit=script1091(event_com, ii_captured_impling_10)
oninvtransmitlist=inv

// 169:28
[impling_10]
type=graphic
x=89
y=180
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,2"
clickmask=no
transmitop10=yes
op10=   

// 169:29
[text_12]
type=text
x=45
y=180
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_12)
oninvtransmit=script1091(event_com, ii_captured_impling_12)
oninvtransmitlist=inv

// 169:30
[impling_12]
type=graphic
x=45
y=180
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,13"
clickmask=no
transmitop10=yes
op10=   

// 169:31
[text_13]
type=text
x=1
y=180
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
transmitop10=yes
op10= 
onload=script1091(event_com, ii_captured_impling_13)
oninvtransmit=script1091(event_com, ii_captured_impling_13)
oninvtransmitlist=inv

// 169:32
[impling_13]
type=graphic
x=1
y=180
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,12"
clickmask=no
transmitop10=yes
op10=    

// 169:33
[text_15]
type=text
x=89
y=220
width=43
height=40
xmode=abs_right
layer=container
textfont=p12_full
textalignh=2
textshadow=yes
colour=0xb5b54a
onload=script1091(event_com, ii_captured_impling_15)
oninvtransmit=script1091(event_com, ii_captured_impling_15)
oninvtransmitlist=inv

// 169:34
[impling_15]
type=graphic
x=89
y=220
width=43
height=40
xmode=abs_right
layer=container
graphic="ii_impling_icons,16"
colour=0xffffff
clickmask=no

// 169:35
[hide_text]
type=text
x=1
y=1
width=132
height=18
xmode=abs_right
layer=container
textfont=p11_full
text=Hide
textalignh=1
textalignv=1
textshadow=yes
colour=0xffff00
transmitop1=yes
op1=Hide
onvartransmit=script2910(ii_impling_overlay:container, event_com)
onvartransmitlist=prayerdrain

// 169:36
[fa_timer]
type=layer
x=143
y=26
width=106
height=36
onload=ii_timer_display(event_com)

// 169:37
[com_37]
type=rectangle
widthmode=minus
heightmode=minus
layer=fa_timer
colour=0x53533d
fill=yes
trans=180
transmitop10=yes
op10=  

// 169:38
[com_38]
type=text
width=49
height=13
xmode=abs_right
ymode=abs_bottom
layer=fa_timer
textfont=p11_full
text=30 min
textalignh=2
textalignv=1
textshadow=yes
colour=0xffff00
onvartransmit=ii_timer_update(ii_impling_overlay:fa_timer, event_com)
onvartransmitlist=ii_player

// 169:39
[time]
type=text
y=-2
height=26
widthmode=minus
xmode=abs_right
layer=fa_timer
textfont=p11_full
text=Farmer's affinity bonus left:
textalignh=2
textalignv=1
textshadow=yes
colour=0xffff00

