// 1177:0
[mainlayer]
type=layer
width=200
height=100

// 1177:1
[offset_line]
type=layer
x=50
y=97
width=3
height=200

// 1177:2
[line_vertical]
type=line
heightmode=minus
xmode=abs_centre
layer=offset_line
colour=0xffffff

// 1177:3
[line_end_top]
type=rectangle
width=3
height=3
layer=offset_line
colour=0xffffff

// 1177:4
[line_end_bot]
type=rectangle
width=3
height=3
ymode=abs_bottom
layer=offset_line
colour=0xffffff

