// 1248:0
[bonus_skill_1]
type=text
height=14
widthmode=minus
layer=bonus_xp_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xf7edb7

// 1248:1
[bonus_skill_2]
type=text
y=14
height=14
widthmode=minus
layer=bonus_xp_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xe6c27a

// 1248:2
[bonus_skill_3]
type=text
y=28
height=14
widthmode=minus
layer=bonus_xp_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xf7edb7

// 1248:3
[bonus_skill_4]
type=text
y=42
height=14
widthmode=minus
layer=bonus_xp_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xe6c27a

// 1248:4
[bonus_skill_5]
type=text
y=56
height=14
widthmode=minus
layer=bonus_xp_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xf7edb7

// 1248:5
[bonus_skill_6]
type=text
y=70
height=14
widthmode=minus
layer=bonus_xp_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xe6c27a

// 1248:6
[bonus_skill_7]
type=text
y=84
height=14
widthmode=minus
layer=bonus_xp_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xf7edb7

// 1248:7
[bonus_skill_8]
type=text
y=98
height=14
widthmode=minus
layer=bonus_xp_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xe6c27a

// 1248:8
[early_bird_holder]
type=layer
x=-8
y=-7
width=521
height=349

// 1248:9
[early_bird_content]
type=layer
x=230
y=55
width=276
height=240

// 1248:10
[bluebronze_tab_layer]
type=layer
x=112
y=130
width=125
height=26
xmode=abs_centre
ymode=abs_centre

// 1248:11
[more_info]
type=text
y=174
width=74
height=50
widthmode=minus
xmode=abs_centre
layer=early_bird_content
textfont=museo_sans_11pt_regular
textlineheight=12
textalignh=1
textshadow=yes
colour=0xf7edb7

// 1248:12
[description]
type=text
width=74
height=50
widthmode=minus
xmode=abs_centre
layer=early_bird_content
textfont=museo_sans_11pt_regular
textlineheight=12
textalignh=1
textshadow=yes
colour=0xe5b051

// 1248:13
[bonus_xp_layer]
type=layer
y=56
width=8
height=112
widthmode=minus
xmode=abs_centre
layer=early_bird_content

// 1248:14
[com_14]
type=graphic
width=174
height=174
layer=early_bird_holder
graphic="aif_early_bird_bonus_bg,0"
colour=0xffffff
clickmask=no

// 1248:15
[com_15]
type=graphic
x=174
width=174
height=174
layer=early_bird_holder
graphic="aif_early_bird_bonus_bg,1"
colour=0xffffff
clickmask=no

// 1248:16
[com_16]
type=graphic
x=348
width=174
height=174
layer=early_bird_holder
graphic="aif_early_bird_bonus_bg,2"
colour=0xffffff
clickmask=no

// 1248:17
[com_17]
type=graphic
y=174
width=174
height=174
layer=early_bird_holder
graphic="aif_early_bird_bonus_bg,3"
colour=0xffffff
clickmask=no

// 1248:18
[com_18]
type=graphic
x=174
y=174
width=174
height=174
layer=early_bird_holder
graphic="aif_early_bird_bonus_bg,4"
colour=0xffffff
clickmask=no

// 1248:19
[com_19]
type=graphic
x=348
y=174
width=174
height=174
layer=early_bird_holder
graphic="aif_early_bird_bonus_bg,5"
colour=0xffffff
clickmask=no

// 1248:20
[early_bird_title]
type=layer
x=236
width=286
height=64
layer=early_bird_holder

// 1248:21
[early_bird_title_graphic]
type=graphic
width=286
height=64
layer=early_bird_title
graphic=aif_early_bird_bonus_title_en
colour=0xffffff
clickmask=no

// 1248:22
[bluebronze_tab_on_layer]
type=layer
width=16391
height=26
widthmode=proportion
ymode=abs_centre
layer=bluebronze_tab_layer
onload=script5387(event_com, aif_bluebronze_tab_on)

// 1248:23
[bluebronze_tab_over_layer]
type=layer
width=16391
height=26
widthmode=proportion
ymode=abs_centre
layer=bluebronze_tab_layer
onload=script5387(event_com, aif_bluebronze_tab_over)

// 1248:24
[bluebronze_tab_selected_layer]
type=layer
width=16391
height=26
widthmode=proportion
ymode=abs_centre
layer=bluebronze_tab_layer
onload=script5387(event_com, aif_bluebronze_tab_selected)

// 1248:25
[bluebronze_tab_hit_layer]
type=layer
width=16391
height=26
widthmode=proportion
ymode=abs_centre
layer=bluebronze_tab_layer
onload=script5387(event_com, aif_bluebronze_tab_hit)

// 1248:26
[bluebronze_tab_active_layer]
type=layer
width=16391
height=26
widthmode=proportion
layer=bluebronze_tab_layer
transmitop1=yes
op1=Continue
onload=script4213(event_com)
onop=closebutton_click

// 1248:27
[bluebronze_tab_disabled_layer]
type=layer
width=16391
height=26
widthmode=proportion
ymode=abs_centre
layer=bluebronze_tab_layer
noclickthrough=yes
onload=script5387(event_com, aif_bluebronze_tab_disabled)

// 1248:28
[bluebronze_tab_text_layer]
type=layer
width=16391
height=22
widthmode=proportion
layer=bluebronze_tab_layer

// 1248:29
[bluebronze_tab_text]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=bluebronze_tab_text_layer
textfont=museo_sans_11pt_regular
text=Continue
textalignh=1
textalignv=1
colour=0xe3cccf
onload=script4210(event_com, verdana_11pt_regular, 0xe3cccf, 2564623)

