// 1899:0
[com_0]
type=graphic
widthmode=minus
heightmode=minus
layer=crystal_tool_siphon_inv_icon_wrapper
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 1899:1
[currently_stored_bg]
type=layer
widthmode=minus
heightmode=minus
layer=auto_siphon_currently_stored
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1899:2
[auto_siphon_current_storage_label]
type=text
width=253
height=40
xmode=abs_centre
layer=auto_siphon_currently_stored
textfont=museo_sans_13pt_regular
text=Current Siphon Storage
textalignv=1
textshadow=yes
colour=0xaed0cc
onload=script2732(event_com, -1, 2)

// 1899:3
[auto_siphon_level_label]
type=text
width=126
heightmode=minus
layer=auto_siphon_level_to_siphon
textfont=museo_sans_13pt_regular
text=Level to Siphon
textalignv=1
textshadow=yes
colour=0xaed0cc
maxlines=2
onload=script2732(event_com, -1, 2)

// 1899:4
[auto_siphon_base_layer]
type=layer
y=26
width=512
height=310
onload=script8420(invent_auto_siphon:auto_siphon_background, invent_auto_siphon:auto_siphon_border, invent_auto_siphon:auto_siphon_content, invent_auto_siphon:auto_siphon_close_button, "Mechanised Siphon", 21218, string_1040)
onvartransmit=script13656
onvartransmitlist=invent_auto_siphon

// 1899:5
[auto_siphon_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=auto_siphon_base_layer

// 1899:6
[auto_siphon_content]
type=layer
y=32
width=488
height=270
xmode=abs_centre
layer=auto_siphon_base_layer
onload=script13655

// 1899:7
[auto_siphon_object_configuration]
type=layer
x=4
y=4
width=211
height=262
layer=auto_siphon_content

// 1899:8
[object_configuration_bg]
type=layer
widthmode=minus
heightmode=minus
layer=auto_siphon_object_configuration
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1899:9
[auto_siphon_currently_stored]
type=layer
x=4
y=4
width=273
height=262
xmode=abs_right
layer=auto_siphon_content

// 1899:10
[object_types_title]
type=text
width=187
height=40
xmode=abs_centre
layer=auto_siphon_object_configuration
textfont=museo_sans_13pt_regular
text=Object Types to Siphon
textalignv=1
textshadow=yes
colour=0xaed0cc
maxlines=2
onload=script2732(event_com, -1, 2)

// 1899:11
[weapon_select_wrapper]
type=layer
y=39
width=187
height=36
xmode=abs_centre
layer=auto_siphon_object_configuration
onmouseleave=script8805
onmouserepeat=script8799("Select if the Mechanised siphon should work with weapons.", event_com, -1)

// 1899:12
[weapon_select_bg]
type=layer
widthmode=minus
heightmode=minus
layer=weapon_select_wrapper
onload=script15440(event_com, 187, 36, 0, 0, true, 0)

// 1899:13
[normal_siphon_wrapper]
type=layer
y=39
width=253
height=102
xmode=abs_centre
layer=auto_siphon_currently_stored

// 1899:14
[normal_siphon_bg]
type=layer
widthmode=minus
heightmode=minus
layer=normal_siphon_wrapper
onload=script15440(event_com, 253, 104, 0, 0, true, 1)

// 1899:15
[crystal_tool_siphon_wrapper]
type=layer
y=150
width=253
height=102
xmode=abs_centre
layer=auto_siphon_currently_stored

// 1899:16
[crystal_siphon_bg]
type=layer
widthmode=minus
heightmode=minus
layer=crystal_tool_siphon_wrapper
onload=script15440(event_com, 253, 104, 0, 0, true, 0)

// 1899:17
[tool_select_wrapper]
type=layer
y=83
width=187
height=36
xmode=abs_centre
layer=auto_siphon_object_configuration
onmouseleave=script8805
onmouserepeat=script8799("Select if the Mechanised siphon should work with tools.", event_com, -1)

// 1899:18
[tool_select_bg]
type=layer
widthmode=minus
heightmode=minus
layer=tool_select_wrapper
onload=script15440(event_com, 187, 36, 0, 0, true, 1)

// 1899:19
[armour_select_wrapper]
type=layer
y=127
width=187
height=36
xmode=abs_centre
layer=auto_siphon_object_configuration
onmouseleave=script8805
onmouserepeat=script8799("Select if the Mechanised siphon should work with armour.", event_com, -1)

// 1899:20
[armour_select_bg]
type=layer
widthmode=minus
heightmode=minus
layer=armour_select_wrapper
onload=script15440(event_com, 187, 36, 0, 0, true, 0)

// 1899:21
[shield_select_wrapper]
type=layer
y=171
width=187
height=36
xmode=abs_centre
layer=auto_siphon_object_configuration
onmouseleave=script8805
onmouserepeat=script8799("Select if the Mechanised siphon should work with shields.", event_com, -1)

// 1899:22
[shield_select_bg]
type=layer
widthmode=minus
heightmode=minus
layer=shield_select_wrapper
onload=script15440(event_com, 187, 36, 0, 0, true, 1)

// 1899:23
[crystal_tool_siphon_inv_icon_wrapper]
type=layer
x=8
y=8
width=39
height=36
layer=crystal_tool_siphon_wrapper

// 1899:24
[crystal_tool_siphon_label]
type=text
x=60
y=5
width=60
height=30
widthmode=minus
layer=crystal_tool_siphon_wrapper
textfont=museo_sans_13pt_regular
text=Crystal Siphon
textalignv=1
textshadow=yes
onload=script2732(event_com, -1, 2)

// 1899:25
[crystal_tool_siphon_button_wrapper]
type=layer
y=17
width=16
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=crystal_tool_siphon_wrapper

// 1899:26
[auto_siphon_level_to_siphon]
type=layer
y=215
width=187
height=39
xmode=abs_centre
layer=auto_siphon_object_configuration

// 1899:27
[normal_siphon_inv_icon_wrapper]
type=layer
x=8
y=8
width=39
height=36
layer=normal_siphon_wrapper

// 1899:28
[normal_siphon_label]
type=text
x=60
y=5
width=60
height=30
widthmode=minus
layer=normal_siphon_wrapper
textfont=museo_sans_13pt_regular
text=Normal Siphon
textalignv=1
textshadow=yes
onload=script2732(event_com, -1, 2)

// 1899:29
[normal_siphon_button_wrapper]
type=layer
y=17
width=16
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=normal_siphon_wrapper

// 1899:30
[normal_siphon_minus_all_button]
type=layer
width=52
height=24
layer=normal_siphon_button_wrapper
onload=script10896(invent_auto_siphon:normal_siphon_minus_all_button_build, invent_auto_siphon:normal_siphon_minus_all_button_click, rs3tli_3x3_icon_button)

// 1899:31
[normal_siphon_minus_one_button]
type=layer
x=57
width=29
height=24
layer=normal_siphon_button_wrapper
onload=script10896(invent_auto_siphon:normal_siphon_minus_one_button_build, invent_auto_siphon:normal_siphon_minus_one_button_click, rs3tli_3x3_icon_button)

// 1899:32
[normal_siphon_amount_button]
type=layer
width=55
height=24
xmode=abs_centre
ymode=abs_centre
layer=normal_siphon_button_wrapper
onload=script6233(invent_auto_siphon:normal_siphon_amount_button_build, invent_auto_siphon:normal_siphon_amount_button_click, rs3tli_3x3_button_2, "")

// 1899:33
[normal_siphon_plus_one_button]
type=layer
x=57
width=29
height=24
xmode=abs_right
layer=normal_siphon_button_wrapper
onload=script10896(invent_auto_siphon:normal_siphon_plus_one_button_build, invent_auto_siphon:normal_siphon_plus_one_button_click, rs3tli_3x3_icon_button)

// 1899:34
[normal_siphon_plus_all_button]
type=layer
width=52
height=24
xmode=abs_right
layer=normal_siphon_button_wrapper
onload=script10896(invent_auto_siphon:normal_siphon_plus_all_button_build, invent_auto_siphon:normal_siphon_plus_all_button_click, rs3tli_3x3_icon_button)

// 1899:35
[auto_siphon_level_dropdown]
type=layer
width=61
height=24
xmode=abs_right
ymode=abs_centre
layer=auto_siphon_level_to_siphon
onload=script13658

// 1899:36
[auto_siphon_border]
type=layer
widthmode=minus
heightmode=minus
layer=auto_siphon_base_layer

// 1899:37
[auto_siphon_close_button]
type=layer
x=3
widthmode=minus
heightmode=minus
layer=auto_siphon_base_layer
transmitop1=yes
op1=Close

// 1899:38
[weapon_select_icon]
type=graphic
width=30
height=30
ymode=abs_centre
layer=weapon_select_wrapper
graphic="rs3_icon_weapon_types,0"
colour=0xffffff
clickmask=no

// 1899:39
[weapon_select_label]
type=text
x=45
width=80
widthmode=minus
heightmode=minus
layer=weapon_select_wrapper
textfont=museo_sans_13pt_regular
text=Weapons
textalignv=1
textshadow=yes
colour=0x8e9ba2
onload=script2732(event_com, -1, 3)

// 1899:40
[weapon_select_checkbox]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=weapon_select_wrapper

// 1899:41
[weapon_select_icon_3]
type=graphic
x=4
width=24
height=24
ymode=abs_centre
layer=shield_select_wrapper
graphic="rs3_icon_weapon_types,9"
colour=0xffffff
clickmask=no

// 1899:42
[shield_select_label]
type=text
x=45
width=80
widthmode=minus
heightmode=minus
layer=shield_select_wrapper
textfont=museo_sans_13pt_regular
text=Shields
textalignv=1
textshadow=yes
colour=0x8e9ba2
onload=script2732(event_com, -1, 3)

// 1899:43
[shield_select_checkbox]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=shield_select_wrapper

// 1899:44
[weapon_select_icon_2]
type=graphic
x=4
width=24
height=24
ymode=abs_centre
layer=armour_select_wrapper
graphic="rs3_icon_wardrobe_item,8"
colour=0xffffff
clickmask=no

// 1899:45
[armour_select_label]
type=text
x=45
width=80
widthmode=minus
heightmode=minus
layer=armour_select_wrapper
textfont=museo_sans_13pt_regular
text=Armour
textalignv=1
textshadow=yes
colour=0x8e9ba2
onload=script2732(event_com, -1, 3)

// 1899:46
[armour_select_checkbox]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=armour_select_wrapper

// 1899:47
[weapon_select_icon_1]
type=graphic
x=4
width=24
height=24
ymode=abs_centre
layer=tool_select_wrapper
graphic="rs3_icon_weapon_types,17"
colour=0xffffff
clickmask=no

// 1899:48
[tool_select_label]
type=text
x=45
width=80
widthmode=minus
heightmode=minus
layer=tool_select_wrapper
textfont=museo_sans_13pt_regular
text=Tools
textalignv=1
textshadow=yes
colour=0x8e9ba2
onload=script2732(event_com, -1, 3)

// 1899:49
[tool_select_checkbox]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=tool_select_wrapper

// 1899:50
[auto_siphon_level_dropdown_build]
type=layer
widthmode=minus
heightmode=minus
layer=auto_siphon_level_dropdown

// 1899:51
[auto_siphon_level_dropdown_click]
type=layer
widthmode=minus
heightmode=minus
layer=auto_siphon_level_dropdown
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1899:52
[com_52]
type=graphic
widthmode=minus
heightmode=minus
layer=normal_siphon_inv_icon_wrapper
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 1899:53
[weapon_select_checkbox_build]
type=layer
x=6
width=20
height=20
xmode=abs_right
ymode=abs_centre
layer=weapon_select_checkbox
onvartransmit=script15441(event_com)
onvartransmitlist=invent_auto_siphon

// 1899:54
[weapon_select_checkbox_click]
type=layer
widthmode=minus
heightmode=minus
layer=weapon_select_checkbox
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1899:55
[tool_select_checkbox_build]
type=layer
x=6
width=20
height=20
xmode=abs_right
ymode=abs_centre
layer=tool_select_checkbox
onvartransmit=script15442(event_com)
onvartransmitlist=invent_auto_siphon

// 1899:56
[tool_select_checkbox_click]
type=layer
widthmode=minus
heightmode=minus
layer=tool_select_checkbox
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1899:57
[armour_select_checkbox_build]
type=layer
x=6
width=20
height=20
xmode=abs_right
ymode=abs_centre
layer=armour_select_checkbox
onvartransmit=script15443(event_com)
onvartransmitlist=invent_auto_siphon

// 1899:58
[armour_select_checkbox_click]
type=layer
widthmode=minus
heightmode=minus
layer=armour_select_checkbox
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1899:59
[shield_select_checkbox_build]
type=layer
x=6
width=20
height=20
xmode=abs_right
ymode=abs_centre
layer=shield_select_checkbox
onvartransmit=script15444(event_com)
onvartransmitlist=invent_auto_siphon

// 1899:60
[shield_select_checkbox_click]
type=layer
widthmode=minus
heightmode=minus
layer=shield_select_checkbox
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1899:61
[normal_siphon_plus_all_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=normal_siphon_plus_all_button

// 1899:62
[normal_siphon_plus_all_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=normal_siphon_plus_all_button
transmitop1=yes
op1=Add all

// 1899:63
[normal_siphon_plus_label_1]
type=text
x=2
width=16
height=16
ymode=abs_centre
layer=normal_siphon_plus_all_button
textfont=museo_sans_19pt_bold
text=+
textalignh=1
textalignv=1
textshadow=yes
onload=script2732(event_com, -1, 2)

// 1899:64
[normal_siphon_plus_all_label]
type=text
width=38
height=24
xmode=abs_right
ymode=abs_centre
layer=normal_siphon_plus_all_button
textfont=museo_sans_13pt_regular
text=All
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0cc
onload=script2732(event_com, -1, 2)

// 1899:65
[normal_siphon_minus_all_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=normal_siphon_minus_all_button

// 1899:66
[normal_siphon_minus_all_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=normal_siphon_minus_all_button
transmitop1=yes
op1=Remove all

// 1899:67
[normal_siphon_minus_label]
type=text
x=2
y=-4
width=16
heightmode=minus
ymode=abs_centre
layer=normal_siphon_minus_all_button
textfont=museo_sans_21pt_bold
text=-
textalignh=1
textalignv=1
textshadow=yes
onload=script2732(event_com, -1, 2)

// 1899:68
[normal_siphon_minus_all_label]
type=text
width=38
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=normal_siphon_minus_all_button
textfont=museo_sans_13pt_regular
text=All
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0cc
onload=script2732(event_com, -1, 2)

// 1899:69
[normal_siphon_minus_one_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=normal_siphon_minus_one_button

// 1899:70
[normal_siphon_minus_one_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=normal_siphon_minus_one_button
transmitop1=yes
op1=Remove one

// 1899:71
[normal_siphon_minus_label_1]
type=text
x=2
y=-4
width=16
heightmode=minus
ymode=abs_centre
layer=normal_siphon_minus_one_button
textfont=museo_sans_21pt_bold
text=-
textalignh=1
textalignv=1
textshadow=yes
onload=script2732(event_com, -1, 2)

// 1899:72
[normal_siphon_minus_one_label]
type=text
width=16
height=24
xmode=abs_right
ymode=abs_centre
layer=normal_siphon_minus_one_button
textfont=museo_sans_13pt_regular
text=1
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0cc
onload=script2732(event_com, -1, 2)

// 1899:73
[normal_siphon_plus_one_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=normal_siphon_plus_one_button

// 1899:74
[normal_siphon_plus_one_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=normal_siphon_plus_one_button
transmitop1=yes
op1=Add one

// 1899:75
[normal_siphon_plus_label]
type=text
x=2
width=16
height=16
ymode=abs_centre
layer=normal_siphon_plus_one_button
textfont=museo_sans_19pt_bold
text=+
textalignh=1
textalignv=1
textshadow=yes
onload=script2732(event_com, -1, 2)

// 1899:76
[normal_siphon_plus_one_label]
type=text
width=16
height=24
xmode=abs_right
ymode=abs_centre
layer=normal_siphon_plus_one_button
textfont=museo_sans_13pt_regular
text=1
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0cc
onload=script2732(event_com, -1, 2)

// 1899:77
[crystal_tool_siphon_minus_all_button]
type=layer
width=52
height=24
layer=crystal_tool_siphon_button_wrapper
onload=script10896(invent_auto_siphon:crystal_tool_siphon_minus_all_button_build, invent_auto_siphon:crystal_tool_siphon_minus_all_button_click, rs3tli_3x3_icon_button)

// 1899:78
[crystal_tool_siphon_minus_all_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=crystal_tool_siphon_minus_all_button

// 1899:79
[crystal_tool_siphon_minus_all_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=crystal_tool_siphon_minus_all_button
transmitop1=yes
op1=Remove all

// 1899:80
[crystal_tool_siphon_minus_label]
type=text
x=2
y=-4
width=16
heightmode=minus
ymode=abs_centre
layer=crystal_tool_siphon_minus_all_button
textfont=museo_sans_21pt_bold
text=-
textalignh=1
textalignv=1
textshadow=yes
onload=script2732(event_com, -1, 2)

// 1899:81
[crystal_tool_siphon_minus_all_label]
type=text
width=38
height=24
xmode=abs_right
ymode=abs_centre
layer=crystal_tool_siphon_minus_all_button
textfont=museo_sans_13pt_regular
text=All
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0cc
onload=script2732(event_com, -1, 2)

// 1899:82
[crystal_tool_siphon_minus_one_button]
type=layer
x=57
width=29
height=24
layer=crystal_tool_siphon_button_wrapper
onload=script10896(invent_auto_siphon:crystal_tool_siphon_minus_one_button_build, invent_auto_siphon:crystal_tool_siphon_minus_one_button_click, rs3tli_3x3_icon_button)

// 1899:83
[crystal_tool_siphon_minus_one_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=crystal_tool_siphon_minus_one_button

// 1899:84
[crystal_tool_siphon_minus_one_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=crystal_tool_siphon_minus_one_button
transmitop1=yes
op1=Remove one

// 1899:85
[crystal_tool_siphon_minus_label_1]
type=text
x=2
y=-4
width=16
heightmode=minus
ymode=abs_centre
layer=crystal_tool_siphon_minus_one_button
textfont=museo_sans_21pt_bold
text=-
textalignh=1
textalignv=1
textshadow=yes
onload=script2732(event_com, -1, 2)

// 1899:86
[crystal_tool_siphon_minus_one_label]
type=text
width=16
height=24
xmode=abs_right
ymode=abs_centre
layer=crystal_tool_siphon_minus_one_button
textfont=museo_sans_13pt_regular
text=1
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0cc
onload=script2732(event_com, -1, 2)

// 1899:87
[crystal_tool_siphon_amount_button]
type=layer
width=55
height=24
xmode=abs_centre
ymode=abs_centre
layer=crystal_tool_siphon_button_wrapper
onload=script6233(invent_auto_siphon:crystal_tool_siphon_amount_button_build, invent_auto_siphon:crystal_tool_siphon_amount_button_click, rs3tli_3x3_button_2, "")

// 1899:88
[crystal_tool_siphon_plus_one_button]
type=layer
x=57
width=29
height=24
xmode=abs_right
layer=crystal_tool_siphon_button_wrapper
onload=script10896(invent_auto_siphon:crystal_tool_siphon_plus_one_button_build, invent_auto_siphon:crystal_tool_siphon_plus_one_button_click, rs3tli_3x3_icon_button)

// 1899:89
[crystal_tool_siphon_plus_one_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=crystal_tool_siphon_plus_one_button

// 1899:90
[crystal_tool_siphon_plus_one_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=crystal_tool_siphon_plus_one_button
transmitop1=yes
op1=Add one

// 1899:91
[crystal_tool_siphon_plus_label]
type=text
x=2
width=16
height=16
ymode=abs_centre
layer=crystal_tool_siphon_plus_one_button
textfont=museo_sans_19pt_bold
text=+
textalignh=1
textalignv=1
textshadow=yes
onload=script2732(event_com, -1, 2)

// 1899:92
[crystal_tool_siphon_plus_one_label]
type=text
width=16
height=24
xmode=abs_right
ymode=abs_centre
layer=crystal_tool_siphon_plus_one_button
textfont=museo_sans_13pt_regular
text=1
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0cc
onload=script2732(event_com, -1, 2)

// 1899:93
[crystal_tool_siphon_plus_all_button]
type=layer
width=52
height=24
xmode=abs_right
layer=crystal_tool_siphon_button_wrapper
onload=script10896(invent_auto_siphon:crystal_tool_siphon_plus_all_button_build, invent_auto_siphon:crystal_tool_siphon_plus_all_button_click, rs3tli_3x3_icon_button)

// 1899:94
[crystal_tool_siphon_plus_all_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=crystal_tool_siphon_plus_all_button

// 1899:95
[crystal_tool_siphon_plus_all_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=crystal_tool_siphon_plus_all_button
transmitop1=yes
op1=Add all

// 1899:96
[crystal_tool_siphon_plus_label_1]
type=text
x=2
width=16
height=16
ymode=abs_centre
layer=crystal_tool_siphon_plus_all_button
textfont=museo_sans_19pt_bold
text=+
textalignh=1
textalignv=1
textshadow=yes
onload=script2732(event_com, -1, 2)

// 1899:97
[crystal_tool_siphon_plus_all_label]
type=text
width=38
height=24
xmode=abs_right
ymode=abs_centre
layer=crystal_tool_siphon_plus_all_button
textfont=museo_sans_13pt_regular
text=All
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0cc
onload=script2732(event_com, -1, 2)

// 1899:98
[normal_siphon_amount_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=normal_siphon_amount_button

// 1899:99
[normal_siphon_amount_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=normal_siphon_amount_button
transmitop1=yes
op1=Change amount

// 1899:100
[normal_siphon_amount_label]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=normal_siphon_amount_button
textfont=museo_sans_13pt_regular
text=?? / 50
textalignh=1
textalignv=1
textshadow=yes
onload=script2732(event_com, -1, 2)

// 1899:101
[crystal_tool_siphon_amount_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=crystal_tool_siphon_amount_button

// 1899:102
[crystal_tool_siphon_amount_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=crystal_tool_siphon_amount_button
transmitop1=yes
candrop=yes
op1=Change amount

// 1899:103
[crystal_tool_siphon_amount_label]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=crystal_tool_siphon_amount_button
textfont=museo_sans_13pt_regular
text=?? / 50
textalignh=1
textalignv=1
textshadow=yes
onload=script2732(event_com, -1, 2)

