// 1714:0
[gizmo_background_1]
type=layer
widthmode=minus
heightmode=minus
layer=gizmo_layer_1
onload=rs3_background_panel(event_com, rs3tli_content_panel_blue_stacked_on)

// 1714:1
[gizmo_icon_slot_1]
type=layer
x=5
y=5
width=40
height=40
layer=gizmo_layer_1
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1714:2
[gizmo_icon_slot_2]
type=layer
x=5
y=50
width=40
height=40
layer=gizmo_layer_1
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1714:3
[perk_icon_1]
type=graphic
x=9
y=9
width=32
height=32
layer=gizmo_layer_1
colour=0xffffff
clickmask=no

// 1714:4
[perk_icon_2]
type=graphic
x=9
y=54
width=32
height=32
layer=gizmo_layer_1
colour=0xffffff
clickmask=no

// 1714:5
[perk_icon_overlay_1]
type=graphic
x=9
y=9
width=32
height=32
layer=gizmo_layer_1
colour=0xffffff
clickmask=no

// 1714:6
[perk_icon_overlay_2]
type=graphic
x=9
y=54
width=32
height=32
layer=gizmo_layer_1
colour=0xffffff
clickmask=no

// 1714:7
[perk_name_1]
type=text
x=50
y=5
width=55
height=40
widthmode=minus
layer=gizmo_layer_1
textfont=museo_sans_11pt_regular
textalignv=1
textshadow=yes

// 1714:8
[perk_name_2]
type=text
x=50
y=50
width=55
height=40
widthmode=minus
layer=gizmo_layer_1
textfont=museo_sans_11pt_regular
textalignv=1
textshadow=yes

// 1714:9
[gizmo_overlay_1]
type=layer
widthmode=minus
heightmode=minus
layer=gizmo_layer_1

// 1714:10
[root_layer]
type=layer
width=361
height=228
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script8420(invent_select_gizmo:background_layer, invent_select_gizmo:frame_layer, invent_select_gizmo:content_layer, invent_select_gizmo:close_button_layer, "Select Gizmo", 21218, string_1007)

// 1714:11
[background_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root_layer

// 1714:12
[content_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root_layer
onload=invent_main_setup

// 1714:13
[main_panel]
type=layer
x=10
y=50
width=20
height=60
widthmode=minus
heightmode=minus
layer=content_layer

// 1714:14
[item_name]
type=text
x=50
y=10
width=60
height=32
widthmode=minus
layer=content_layer
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1714:15
[item_icon]
type=graphic
x=10
y=10
width=34
height=32
layer=content_layer
colour=0xffffff
clickmask=no

// 1714:16
[overlay_layer]
type=layer
x=-8
y=-32
width=512
height=334
layer=content_layer
hide=yes
noclickthrough=yes

// 1714:17
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
layer=root_layer

// 1714:18
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=root_layer
transmitop1=yes
op1=Close
onop=closebutton_click

// 1714:19
[bottom_panel_background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_panel
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1714:20
[gizmos_title]
type=text
x=5
y=5
width=463
height=11
layer=main_panel
textfont=museo_sans_11pt_regular
text=Select a gizmo to remove.
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1714:21
[gizmo_layer_1]
type=layer
x=-80
y=25
width=150
height=95
xmode=abs_centre
layer=main_panel
pausebutton=yes
pausetext=Select
onmouseleave=rs3_background_panel(invent_select_gizmo:gizmo_background_1, rs3tli_content_panel_blue_stacked_on)
onmouserepeat=rs3_background_panel(invent_select_gizmo:gizmo_background_1, rs3_content_container_selected)

// 1714:22
[gizmo_layer_2]
type=layer
x=80
y=25
width=150
height=95
xmode=abs_centre
layer=main_panel
pausebutton=yes
pausetext=Select
onmouseleave=rs3_background_panel(invent_select_gizmo:gizmo_background_2, rs3tli_content_panel_blue_stacked_on)
onmouserepeat=rs3_background_panel(invent_select_gizmo:gizmo_background_2, rs3_content_container_selected)

// 1714:23
[gizmo_background_2]
type=layer
widthmode=minus
heightmode=minus
layer=gizmo_layer_2
onload=rs3_background_panel(event_com, rs3tli_content_panel_blue_stacked_on)

// 1714:24
[gizmo_icon_slot_3]
type=layer
x=5
y=5
width=40
height=40
layer=gizmo_layer_2
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1714:25
[gizmo_icon_slot_4]
type=layer
x=5
y=50
width=40
height=40
layer=gizmo_layer_2
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1714:26
[perk_icon_3]
type=graphic
x=9
y=9
width=32
height=32
layer=gizmo_layer_2
colour=0xffffff
clickmask=no

// 1714:27
[perk_icon_4]
type=graphic
x=9
y=54
width=32
height=32
layer=gizmo_layer_2
colour=0xffffff
clickmask=no

// 1714:28
[perk_icon_overlay_3]
type=graphic
x=9
y=9
width=32
height=32
layer=gizmo_layer_2
colour=0xffffff
clickmask=no

// 1714:29
[perk_icon_overlay_4]
type=graphic
x=9
y=54
width=32
height=32
layer=gizmo_layer_2
colour=0xffffff
clickmask=no

// 1714:30
[perk_name_3]
type=text
x=50
y=5
width=55
height=40
widthmode=minus
layer=gizmo_layer_2
textfont=museo_sans_11pt_regular
textalignv=1
textshadow=yes

// 1714:31
[perk_name_4]
type=text
x=50
y=50
width=55
height=40
widthmode=minus
layer=gizmo_layer_2
textfont=museo_sans_11pt_regular
textalignv=1
textshadow=yes

// 1714:32
[gizmo_overlay_2]
type=layer
widthmode=minus
heightmode=minus
layer=gizmo_layer_2

