// 1713:0
[item_icon_layer]
type=layer
width=42
height=40
layer=top_panel

// 1713:1
[item_name]
type=text
x=44
width=44
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=top_panel
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1713:2
[item_icon]
type=graphic
x=1
width=34
height=32
xmode=abs_centre
ymode=abs_centre
layer=item_icon_layer
colour=0xffffff
clickmask=no

// 1713:3
[top_panel]
type=layer
x=10
y=10
width=20
height=40
widthmode=minus
layer=content_layer

// 1713:4
[root_layer]
type=layer
width=360
height=255
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script8420(invent_gizmo_examine:background_layer, invent_gizmo_examine:frame_layer, invent_gizmo_examine:content_layer, invent_gizmo_examine:close_button_layer, "Perks", 21218, string_1007)

// 1713:5
[background_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root_layer

// 1713:6
[content_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root_layer
onload=invent_main_setup

// 1713:7
[bottom_panel]
type=layer
y=10
width=20
height=65
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=content_layer

// 1713:8
[gizmo_background]
type=layer
widthmode=minus
heightmode=minus
layer=bottom_panel
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1713:9
[scrollbar_layer]
type=layer
width=16
height=8
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=bottom_panel

// 1713:10
[gizmo_info]
type=layer
x=4
width=8
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=bottom_panel

// 1713:11
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
layer=root_layer

// 1713:12
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=root_layer
transmitop1=yes
op1=Close
onop=closebutton_click

