// 1712:0
[work_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=work_container
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1712:1
[gizmo_background]
type=graphic
width=216
height=132
layer=work_container
graphic="invention_gizmo_assemble,1"
colour=0xffffff
clickmask=no
candrop=yes

// 1712:2
[remove_all_button]
type=graphic
x=4
y=4
width=20
height=20
xmode=abs_right
layer=work_container
graphic="rs3_icon_stopwatch_reset,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Remove all materials
onmouseleave=graphic_swapper(event_com, "rs3_icon_stopwatch_reset,0")
onop=invent_gizmo_remove_all
onmouserepeat=script12109("Remove all materials", event_com, null, string_14806)

// 1712:3
[work_layer]
type=layer
x=54
y=12
width=108
height=108
layer=work_container
candrop=yes

// 1712:4
[material_layer_container]
type=layer
x=5
y=5
width=232
height=10
widthmode=minus
heightmode=minus
layer=content_layer
candrop=yes

// 1712:5
[material_layer_background]
type=layer
widthmode=minus
heightmode=minus
layer=material_layer_container
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1712:6
[material_layer]
type=layer
width=16
widthmode=minus
heightmode=minus
layer=material_layer_container
candrop=yes

// 1712:7
[material_layer_scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=material_layer_container

// 1712:8
[root_layer]
type=layer
width=586
height=394
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes

// 1712:9
[background_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root_layer

// 1712:10
[content_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root_layer
onload=invent_main_setup

// 1712:11
[create_button_layer]
type=layer
x=5
y=5
width=216
height=27
xmode=abs_right
ymode=abs_bottom
layer=content_layer

// 1712:12
[predict_layer_container]
type=layer
x=5
y=145
width=216
height=172
xmode=abs_right
layer=content_layer
candrop=yes

// 1712:13
[work_container]
type=layer
x=5
y=6
width=216
height=132
xmode=abs_right
layer=content_layer

// 1712:14
[result_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer

// 1712:15
[result_noclick_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=result_layer
noclickthrough=yes

// 1712:16
[predict_layer_background]
type=layer
widthmode=minus
heightmode=minus
layer=predict_layer_container
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1712:17
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
layer=root_layer

// 1712:18
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=root_layer
transmitop1=yes
op1=Close
onop=closebutton_click

// 1712:19
[predict_layer]
type=layer
widthmode=minus
heightmode=minus
layer=predict_layer_container

// 1712:20
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=create_button_layer
onload=script7041(event_com)

// 1712:21
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=create_button_layer
onload=script7042(event_com)

// 1712:22
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=create_button_layer
onload=script7044(event_com)

// 1712:23
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=create_button_layer
hide=yes
onload=script7047(event_com)

// 1712:24
[create_button]
type=layer
widthmode=minus
heightmode=minus
layer=create_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script12194

// 1712:25
[create_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=create_button_layer
hide=yes
onload=script7060(event_com)

// 1712:26
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=create_button_layer

// 1712:27
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Create
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1712:28
[result_content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=result_layer

// 1712:29
[result_feedback_layer]
type=layer
x=5
y=5
width=232
height=10
widthmode=minus
heightmode=minus
layer=result_content_layer

// 1712:30
[result_feedback_background]
type=layer
widthmode=minus
heightmode=minus
layer=result_feedback_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1712:31
[result_feedback]
type=layer
x=4
width=20
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=result_feedback_layer

// 1712:32
[result_feedback_scrollbar]
type=layer
x=4
width=16
height=8
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=result_feedback_layer

// 1712:33
[repeat_layer_container]
type=layer
x=5
y=145
width=217
height=80
xmode=abs_right
layer=result_content_layer

// 1712:34
[restart_layer_container]
type=layer
x=5
y=230
width=217
height=80
xmode=abs_right
layer=result_content_layer

// 1712:35
[repeat_layer_background]
type=layer
widthmode=minus
heightmode=minus
layer=repeat_layer_container
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1712:36
[repeat_layer]
type=layer
height=37
widthmode=minus
heightmode=minus
layer=repeat_layer_container

// 1712:37
[repeat_button_layer]
type=layer
y=5
width=10
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=repeat_layer_container

// 1712:38
[positive_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=repeat_button_layer
onload=script7041(event_com)

// 1712:39
[positive_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=repeat_button_layer
onload=script7042(event_com)

// 1712:40
[positive_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=repeat_button_layer
onload=script7044(event_com)

// 1712:41
[positive_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=repeat_button_layer
hide=yes
onload=script7047(event_com)

// 1712:42
[repeat_button]
type=layer
widthmode=minus
heightmode=minus
layer=repeat_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script12194

// 1712:43
[repeat_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=repeat_button_layer
hide=yes
onload=script7060(event_com)

// 1712:44
[positive_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=repeat_button_layer

// 1712:45
[positive_button_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_1
textfont=cinzel_13pt_bold
text=Repeat
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1712:46
[close_window_button_layer]
type=layer
x=10
y=5
width=207
height=27
xmode=abs_right
ymode=abs_bottom
layer=result_content_layer

// 1712:47
[positive_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_window_button_layer
onload=script7062(event_com)

// 1712:48
[positive_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_window_button_layer
onload=script7063(event_com)

// 1712:49
[positive_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_window_button_layer
onload=script7065(event_com)

// 1712:50
[positive_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_window_button_layer
hide=yes
onload=script7068(event_com)

// 1712:51
[close_button]
type=layer
widthmode=minus
heightmode=minus
layer=close_window_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=closebutton_click

// 1712:52
[create_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_window_button_layer
hide=yes
onload=script7074(event_com)

// 1712:53
[positive_button_text_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_window_button_layer

// 1712:54
[positive_button_text_2]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_2
textfont=cinzel_13pt_bold
text=Close
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1712:55
[positive_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=restart_button_layer
onload=script7041(event_com)

// 1712:56
[positive_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=restart_button_layer
onload=script7042(event_com)

// 1712:57
[positive_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=restart_button_layer
onload=script7044(event_com)

// 1712:58
[positive_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=restart_button_layer
hide=yes
onload=script7047(event_com)

// 1712:59
[restart_button]
type=layer
widthmode=minus
heightmode=minus
layer=restart_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1712:60
[restart_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=restart_button_layer
hide=yes
onload=script7060(event_com)

// 1712:61
[positive_button_text_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=restart_button_layer

// 1712:62
[positive_button_text_3]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_3
textfont=cinzel_13pt_bold
text=Restart
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1712:63
[restart_layer_background]
type=layer
widthmode=minus
heightmode=minus
layer=restart_layer_container
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1712:64
[restart_layer]
type=layer
height=37
widthmode=minus
heightmode=minus
layer=restart_layer_container

// 1712:65
[restart_button_layer]
type=layer
x=5
y=5
width=10
height=27
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=restart_layer_container

