// 1902:0
[machine_desc]
type=text
y=9
width=370
height=28
xmode=abs_centre
layer=invent_machine_management_window_content
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textshadow=yes

// 1902:1
[simple_icon_button_layer]
type=layer
x=9
y=9
width=28
height=28
xmode=abs_right
layer=invent_machine_management_window_content

// 1902:2
[invent_machine_management_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=invent_machine_management_window

// 1902:3
[invent_machine_management_window_content]
type=layer
x=8
y=32
width=16
height=40
widthmode=minus
heightmode=minus
layer=invent_machine_management_window

// 1902:4
[invent_machine_management_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=invent_machine_management_window

// 1902:5
[invent_machine_management_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=invent_machine_management_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1902:6
[invent_machine_management_tutorial]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=invent_machine_management_window

// 1902:7
[input_generator_charge_bar_background]
type=layer
widthmode=minus
heightmode=minus
layer=input_generator_charge_bar_container
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1902:8
[input_secondary_2_background]
type=layer
widthmode=minus
heightmode=minus
layer=input_secondary_2_bar_container
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1902:9
[input_secondary_1_background]
type=layer
widthmode=minus
heightmode=minus
layer=input_secondary_1_bar_container
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1902:10
[input_secondary_1_bar]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=input_secondary_1_bar_container
onmouserepeat=script13675(event_com)

// 1902:11
[input_secondary_2_bar]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=input_secondary_2_bar_container
onmouserepeat=script13675(event_com)

// 1902:12
[input_generator_charge_bar]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=input_generator_charge_bar_container
onmouserepeat=script13675(event_com)

// 1902:13
[input_generator_charge_required]
type=rectangle
width=5
heightmode=minus
layer=input_generator_charge_bar_container
colour=0xff0000
fill=yes
onload=script13665(event_com, invent_machine_management:input_generator_charge_bar, invent_machine_management:input_generator_charge_bar_mask, -1)

// 1902:14
[input_secondary_icons]
type=layer
width=26
height=75
layer=input_bars

// 1902:15
[input_secondary_1_bar_container]
type=layer
x=30
width=30
height=20
widthmode=minus
layer=input_bars

// 1902:16
[input_secondary_1_required]
type=rectangle
width=5
heightmode=minus
layer=input_secondary_1_bar_container
colour=0xff0000
fill=yes
onload=script13665(event_com, invent_machine_management:input_secondary_1_bar, invent_machine_management:input_secondary_1_bar_mask, 0)

// 1902:17
[input_secondary_2_bar_container]
type=layer
x=30
y=27
width=30
height=20
widthmode=minus
layer=input_bars

// 1902:18
[input_secondary_2_required]
type=rectangle
width=5
heightmode=minus
layer=input_secondary_2_bar_container
colour=0xff0000
fill=yes
onload=script13665(event_com, invent_machine_management:input_secondary_2_bar, invent_machine_management:input_secondary_2_bar_mask, 1)

// 1902:19
[input_secondary_1_bar_mask]
type=layer
widthmode=minus
heightmode=minus
layer=input_secondary_1_bar

// 1902:20
[com_20]
type=graphic
widthmode=minus
heightmode=minus
layer=input_secondary_1_bar_mask
graphic="aif_resources_progress_bar,5"
colour=0xffffff
clickmask=no

// 1902:21
[input_secondary_2_bar_mask]
type=layer
widthmode=minus
heightmode=minus
layer=input_secondary_2_bar

// 1902:22
[com_22]
type=graphic
widthmode=minus
heightmode=minus
layer=input_secondary_2_bar_mask
graphic="aif_resources_progress_bar,5"
colour=0xffffff
clickmask=no

// 1902:23
[output_container_background]
type=layer
x=5
width=10
widthmode=minus
heightmode=minus
layer=output_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1902:24
[output_background]
type=layer
y=18
width=130
height=45
xmode=abs_centre
layer=output_content
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1902:25
[output_inv]
type=layer
y=23
width=120
height=35
xmode=abs_centre
layer=output_content

// 1902:26
[input_eta_text]
type=text
y=4
height=14
widthmode=minus
layer=output_content
textfont=museo_sans_11pt_regular
text=1 week 3 days 19 hours 45 minutes
textalignh=1
textshadow=yes
colour=0xffcb05
onvartransmit=script13663
onmouserepeat=script13676(event_com)
onvartransmitlist=invent_machine_amount_stored,invent_machine_parent_temp_3,invent_machine_parent_temp_2,invent_machine_parent_temp_2

// 1902:27
[invent_machine_management_window]
type=layer
width=475
height=380
xmode=abs_centre
ymode=abs_centre
onvartransmit=script13660
onvartransmitlist=invent_machine_parent_temp_1

// 1902:28
[invent_machine_management_machine_inv]
type=layer
x=5
y=5
width=259
height=10
heightmode=minus
layer=invent_machine_management_window_content

// 1902:29
[input_container_background]
type=layer
x=5
y=35
width=10
height=35
widthmode=minus
heightmode=minus
layer=input_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1902:30
[input_background]
type=layer
y=60
width=130
height=45
xmode=abs_centre
layer=input_content
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1902:31
[input_inv]
type=layer
y=65
width=120
height=35
xmode=abs_centre
layer=input_content

// 1902:32
[input_bars]
type=layer
x=10
y=109
width=25
height=75
widthmode=minus
layer=input_content

// 1902:33
[input_generator_charge_bar_container]
type=layer
x=30
y=54
width=30
height=20
widthmode=minus
layer=input_bars

// 1902:34
[input_generator_charge_bar_mask]
type=layer
widthmode=minus
heightmode=minus
layer=input_generator_charge_bar

// 1902:35
[com_35]
type=graphic
widthmode=minus
heightmode=minus
layer=input_generator_charge_bar_mask
graphic="aif_resources_progress_bar,7"
colour=0x1753dd
clickmask=no

// 1902:36
[com_36]
type=rectangle
x=63
y=63
width=39
height=39
layer=input_content
colour=0xffcb05

// 1902:37
[machine_capacity]
type=text
y=40
height=16
widthmode=minus
layer=input_content
textfont=museo_sans_11pt_regular
text=Capacity: 0/1000
textalignh=1
textalignv=1
textshadow=yes
onvartransmit=script13661
onvartransmitlist=invent_machine_parent_temp_1,invent_machine_amount_stored,invent_machine_parent_temp_3

// 1902:38
[invent_machine_management_player_inv]
type=layer
x=133
y=44
width=277
height=276
widthmode=minus
xmode=abs_centre
layer=invent_machine_management_window_content

// 1902:39
[withdraw_button_layer]
type=layer
width=200
height=27
xmode=abs_centre
ymode=abs_centre
layer=buttons

// 1902:40
[withdraw_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=withdraw_button_layer
onload=script7041(event_com)

// 1902:41
[withdraw_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=withdraw_button_layer
onload=script7042(event_com)

// 1902:42
[withdraw_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=withdraw_button_layer
onload=script7044(event_com)

// 1902:43
[withdraw_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=withdraw_button_layer
hide=yes
onload=script7047(event_com)

// 1902:44
[withdraw_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=withdraw_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1902:45
[withdraw_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=withdraw_button_layer
hide=yes
onload=script7060(event_com)

// 1902:46
[withdraw_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=withdraw_button_layer

// 1902:47
[withdraw_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=withdraw_button_text_layer
textfont=cinzel_13pt_bold
text=Withdraw Output
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1902:48
[invent_machine_management_player_inv_background]
type=layer
widthmode=minus
heightmode=minus
layer=invent_machine_management_player_inv
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1902:49
[invent_machine_management_player_inv_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=invent_machine_management_player_inv

// 1902:50
[inv_content]
type=layer
widthmode=minus
heightmode=minus
layer=invent_machine_management_player_inv_content

// 1902:51
[inv_inv]
type=layer
y=2
width=166
height=264
xmode=abs_centre
layer=inv_content
onvartransmit=script13668
onvartransmitlist=invent_machine_management_slots_to_grey

// 1902:52
[invent_machine_management_machine_inv_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=invent_machine_management_machine_inv

// 1902:53
[input_content]
type=layer
height=188
widthmode=minus
layer=invent_machine_management_machine_inv_content

// 1902:54
[output_content]
type=layer
y=214
height=68
widthmode=minus
layer=invent_machine_management_machine_inv_content

// 1902:55
[buttons]
type=layer
y=282
height=282
widthmode=minus
heightmode=minus
layer=invent_machine_management_machine_inv_content

// 1902:56
[com_56]
type=graphic
y=192
width=16
height=16
xmode=abs_centre
layer=invent_machine_management_machine_inv_content
graphic="catcon_catapult_arrows,1"
2dangle=16384
colour=0xffffff
clickmask=no

// 1902:57
[simple_icon_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=simple_icon_button_layer
onload=script9346(event_com, rs3tli_icon_info)

// 1902:58
[simple_icon_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=simple_icon_button_layer
onload=script9347(event_com, rs3tli_icon_info)

// 1902:59
[simple_icon_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=simple_icon_button_layer
onload=script9348(event_com, rs3tli_icon_info)

// 1902:60
[simple_icon_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=simple_icon_button_layer
hide=yes
onload=script9351(event_com, rs3tli_icon_info)

// 1902:61
[simple_icon_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=simple_icon_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1902:62
[simple_icon_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=simple_icon_button_layer
hide=yes
onload=script9354(event_com, rs3tli_icon_info)

