// 1708:0
[side_background]
type=layer
widthmode=minus
heightmode=minus
layer=invention_list
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1708:1
[side_scrollbar_layer]
type=layer
y=1
width=16
height=2
heightmode=minus
xmode=abs_right
layer=invention_list

// 1708:2
[side_content_layer]
type=layer
y=1
height=2
widthmode=minus
heightmode=minus
layer=invention_list

// 1708:3
[com_3]
type=model
x=126
y=19
width=556
height=515
xmode=abs_centre
ymode=abs_centre
layer=content_layer
model=invent_workbench_discovery
modelorthog=yes
modelorigin_x=-7
modelorigin_y=-55
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=420

// 1708:4
[track_score_text]
type=text
x=8
y=-1
width=231
height=39
ymode=abs_centre
layer=workspace_track_buttons
textfont=museo_sans_13pt_bold
textlineheight=18
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1708:5
[discover_button_layer]
type=layer
x=17
width=150
height=27
xmode=abs_right
ymode=abs_centre
layer=workspace_track_buttons

// 1708:6
[prototype_button_layer]
type=layer
width=150
height=27
xmode=abs_centre
ymode=abs_centre
layer=workspace_prototype_buttons

// 1708:7
[com_7]
type=graphic
y=93
width=360
height=72
xmode=abs_centre
ymode=abs_centre
layer=workbench_track_layer
graphic=invention_device_tracker
colour=0xffffff
clickmask=no

// 1708:8
[com_8]
type=graphic
x=-140
y=92
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=workbench_track_layer
graphic="invention_discovery_icon_select,0"
colour=0xffffff
clickmask=no

// 1708:9
[com_9]
type=graphic
x=-70
y=92
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=workbench_track_layer
graphic="invention_discovery_icon_select,0"
colour=0xffffff
clickmask=no

// 1708:10
[com_10]
type=graphic
y=92
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=workbench_track_layer
graphic="invention_discovery_icon_select,0"
colour=0xffffff
clickmask=no

// 1708:11
[com_11]
type=graphic
x=70
y=92
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=workbench_track_layer
graphic="invention_discovery_icon_select,0"
colour=0xffffff
clickmask=no

// 1708:12
[com_12]
type=graphic
x=140
y=92
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=workbench_track_layer
graphic="invention_discovery_icon_select,0"
colour=0xffffff
clickmask=no

// 1708:13
[track_select]
type=graphic
x=-140
y=92
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=workbench_track_layer
hide=yes
graphic="invention_discovery_icon_select,1"
colour=0xffffff
clickmask=no

// 1708:14
[track_icon_0]
type=graphic
x=-140
y=92
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_track_layer
graphic=invention_icon_magic_parts
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
candrop=yes
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:15
[track_icon_1]
type=graphic
x=-70
y=92
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_track_layer
graphic=invention_icon_organic_parts
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
candrop=yes
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:16
[track_icon_2]
type=graphic
y=92
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_track_layer
graphic=invention_icon_sharp_components
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
candrop=yes
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:17
[track_icon_3]
type=graphic
x=70
y=92
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_track_layer
graphic=invention_icon_blade_parts
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
candrop=yes
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:18
[track_icon_4]
type=graphic
x=140
y=92
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_track_layer
graphic=invention_icon_sharp_components
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
candrop=yes
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:19
[blueprint_layer]
type=layer
y=35
width=250
height=170
xmode=abs_centre
ymode=abs_centre
layer=workbench_layer
hide=yes

// 1708:20
[workbench_parts_layer]
type=layer
y=8
width=382
height=240
xmode=abs_centre
ymode=abs_centre
layer=workbench_layer

// 1708:21
[workbench_track_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=workbench_layer
hide=yes

// 1708:22
[com_22]
type=graphic
width=250
height=170
xmode=abs_centre
layer=blueprint_layer
graphic=invention_device_board
colour=0xffffff
clickmask=no

// 1708:23
[blueprint_icon_layer_0]
type=layer
x=-75
y=-29
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=blueprint_layer
transmitop1=yes
candrop=yes
op1=Remove

// 1708:24
[blueprint_icon_layer_1]
type=layer
y=-29
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=blueprint_layer
transmitop1=yes
candrop=yes
op1=Remove

// 1708:25
[blueprint_icon_layer_2]
type=layer
x=75
y=-29
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=blueprint_layer
transmitop1=yes
candrop=yes
op1=Remove

// 1708:26
[blueprint_icon_layer_3]
type=layer
x=-38
y=44
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=blueprint_layer
transmitop1=yes
candrop=yes
op1=Remove

// 1708:27
[blueprint_icon_layer_4]
type=layer
x=38
y=44
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=blueprint_layer
transmitop1=yes
candrop=yes
op1=Remove

// 1708:28
[blueprint_frame_0]
type=graphic
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=blueprint_icon_layer_0
graphic="invention_discovery_icon_select,0"
colour=0xffffff
clickmask=no

// 1708:29
[blueprint_icon_0]
type=graphic
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=blueprint_icon_layer_0
hide=yes
graphic=invention_icon_casing
colour=0xffffff
clickmask=no
dragdepth=3
dragdeadzone=5

// 1708:30
[subject_layer_background]
type=layer
widthmode=minus
heightmode=minus
layer=subject_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1708:31
[side_draw_layer]
type=layer
widthmode=minus
heightmode=minus
layer=side_content_layer

// 1708:32
[side_popup_layer]
type=layer
widthmode=minus
heightmode=minus
layer=side_content_layer

// 1708:33
[side_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=side_content_layer

// 1708:34
[root_layer]
type=layer
width=800
heightmode=minus
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script8420(invent_discovery:background_layer, invent_discovery:frame_layer, invent_discovery:content_layer, invent_discovery:close_button_layer, "Discovery", 21218, null)

// 1708:35
[background_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root_layer

// 1708:36
[content_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root_layer
onload=script12116

// 1708:37
[workspace_layer]
type=layer
width=220
widthmode=minus
heightmode=minus
xmode=abs_right
layer=content_layer

// 1708:38
[subject_layer]
type=layer
x=110
y=10
width=370
height=110
xmode=abs_centre
layer=content_layer

// 1708:39
[instructions_layer]
type=layer
y=125
width=100
height=30
widthmode=minus
xmode=abs_centre
layer=workspace_layer

// 1708:40
[instructions_layer_background]
type=layer
widthmode=minus
heightmode=minus
layer=instructions_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1708:41
[instructions_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=instructions_layer
textfont=museo_sans_11pt_regular_multiline
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1708:42
[workbench_layer]
type=layer
y=155
width=506
height=278
xmode=abs_centre
layer=workspace_layer
candrop=yes

// 1708:43
[part_icon_0]
type=graphic
x=-90
y=-87
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
graphic=invention_icon_basic_covers
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:44
[part_icon_1]
type=graphic
x=-30
y=-87
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
graphic=invention_icon_basic_cable
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:45
[part_icon_2]
type=graphic
x=30
y=-87
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
graphic=invention_icon_sprocket
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:46
[part_icon_3]
type=graphic
x=90
y=-87
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
graphic=invention_icon_casing
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:47
[part_icon_4]
type=graphic
x=-158
y=-30
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
graphic=invention_icon_container
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:48
[part_icon_5]
type=graphic
x=-158
y=30
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
graphic=invention_icon_bell_jar
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:49
[part_icon_6]
type=graphic
x=-158
y=90
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
graphic=invention_icon_pinion
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:50
[part_icon_7]
type=graphic
x=158
y=-30
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
graphic=invention_icon_gear
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:51
[part_icon_8]
type=graphic
x=158
y=30
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
graphic=invention_icon_assembly
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:52
[part_icon_9]
type=graphic
x=158
y=90
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
graphic=invention_icon_cog
colour=0xffffff
clickmask=no
transmitop1=yes
dragdepth=2
op1=Select
opcursor0=cursor_use
dragdeadzone=5

// 1708:53
[part_selected_0]
type=graphic
x=-90
y=-87
width=54
height=54
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
hide=yes
graphic=rs3_icon_slot_highlight
colour=0xffffff
clickmask=no

// 1708:54
[workspace_buttons_layer]
type=layer
y=4
width=114
height=50
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=workspace_layer

// 1708:55
[workbench_overlay]
type=layer
widthmode=minus
heightmode=minus
layer=workspace_layer
hide=yes
noclickthrough=yes

// 1708:56
[workspace_buttons_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=workspace_buttons_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1708:57
[workspace_track_buttons]
type=layer
widthmode=minus
heightmode=minus
layer=workspace_buttons_layer

// 1708:58
[workspace_prototype_buttons]
type=layer
widthmode=minus
heightmode=minus
layer=workspace_buttons_layer
hide=yes

// 1708:59
[subject_title]
type=text
x=10
width=120
height=48
widthmode=minus
xmode=abs_right
layer=subject_layer
textfont=cinzel_15pt_bold
text=Current Project 
textlineheight=16
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1708:60
[subject_extra_info]
type=text
x=10
y=50
width=120
height=47
widthmode=minus
xmode=abs_right
layer=subject_layer
textfont=museo_sans_11pt_regular_multiline
text=No current project
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1708:61
[subject_icon]
type=graphic
x=5
width=100
height=100
ymode=abs_centre
layer=subject_layer
graphic=invention_icon_no_blueprint
colour=0xffffff
clickmask=no

// 1708:62
[side_layer]
type=layer
x=5
y=5
width=220
height=10
heightmode=minus
layer=content_layer

// 1708:63
[inspiration_layer]
type=layer
height=36
widthmode=minus
layer=side_layer
hide=yes

// 1708:64
[invention_list]
type=layer
widthmode=minus
heightmode=minus
layer=side_layer

// 1708:65
[inspiration_background]
type=layer
width=800
height=600
layer=inspiration_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1708:66
[com_66]
type=text
x=10
width=181
heightmode=minus
layer=inspiration_layer
textfont=museo_sans_13pt_bold
text=Inspiration:
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1708:67
[inspiration_text]
type=text
x=10
width=100
heightmode=minus
xmode=abs_right
layer=inspiration_layer
textfont=museo_sans_13pt_bold
text=10000000
textalignh=2
textalignv=1
textshadow=yes

// 1708:68
[inspiration_icon]
type=graphic
x=69
y=5
width=21
height=21
xmode=abs_right
layer=inspiration_layer
graphic=invention_icon_inspiration
colour=0xffffff
clickmask=no

// 1708:69
[drag_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer

// 1708:70
[dialog_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer

// 1708:71
[dialog_container]
type=layer
widthmode=minus
heightmode=minus
layer=dialog_layer
hide=yes

// 1708:72
[dialog_buttons]
type=layer
widthmode=minus
heightmode=minus
layer=dialog_layer
hide=yes

// 1708:73
[overlay_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer

// 1708:74
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
layer=root_layer

// 1708:75
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=root_layer
transmitop1=yes
op1=Close
onop=closebutton_click

// 1708:76
[positive_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prototype_button_layer
onload=script7041(event_com)

// 1708:77
[positive_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prototype_button_layer
onload=script7042(event_com)

// 1708:78
[positive_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prototype_button_layer
onload=script7044(event_com)

// 1708:79
[positive_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prototype_button_layer
hide=yes
onload=script7047(event_com)

// 1708:80
[prototype_button]
type=layer
widthmode=minus
heightmode=minus
layer=prototype_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script12141

// 1708:81
[prototype_disable_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prototype_button_layer
hide=yes
onload=script7060(event_com)

// 1708:82
[positive_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prototype_button_layer

// 1708:83
[positive_button_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_1
textfont=cinzel_13pt_bold
text=Prototype
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1708:84
[part_selected_1]
type=graphic
x=-30
y=-87
width=54
height=54
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
hide=yes
graphic=rs3_icon_slot_highlight
colour=0xffffff
clickmask=no

// 1708:85
[part_selected_2]
type=graphic
x=30
y=-87
width=54
height=54
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
hide=yes
graphic=rs3_icon_slot_highlight
colour=0xffffff
clickmask=no

// 1708:86
[part_selected_3]
type=graphic
x=90
y=-87
width=54
height=54
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
hide=yes
graphic=rs3_icon_slot_highlight
colour=0xffffff
clickmask=no

// 1708:87
[part_selected_4]
type=graphic
x=-158
y=-30
width=54
height=54
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
hide=yes
graphic=rs3_icon_slot_highlight
colour=0xffffff
clickmask=no

// 1708:88
[part_selected_5]
type=graphic
x=-158
y=30
width=54
height=54
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
hide=yes
graphic=rs3_icon_slot_highlight
colour=0xffffff
clickmask=no

// 1708:89
[part_selected_6]
type=graphic
x=-158
y=90
width=54
height=54
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
hide=yes
graphic=rs3_icon_slot_highlight
colour=0xffffff
clickmask=no

// 1708:90
[part_selected_7]
type=graphic
x=158
y=-30
width=54
height=54
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
hide=yes
graphic=rs3_icon_slot_highlight
colour=0xffffff
clickmask=no

// 1708:91
[part_selected_8]
type=graphic
x=158
y=30
width=54
height=54
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
hide=yes
graphic=rs3_icon_slot_highlight
colour=0xffffff
clickmask=no

// 1708:92
[part_selected_9]
type=graphic
x=158
y=90
width=54
height=54
xmode=abs_centre
ymode=abs_centre
layer=workbench_parts_layer
hide=yes
graphic=rs3_icon_slot_highlight
colour=0xffffff
clickmask=no

// 1708:93
[com_93]
type=rectangle
widthmode=minus
heightmode=minus
layer=workbench_overlay
colour=0x000000

// 1708:94
[com_94]
type=rectangle
widthmode=minus
heightmode=minus
layer=workbench_overlay
colour=0x000000
fill=yes
trans=48

// 1708:95
[lightbulb_model]
type=model
x=2
y=172
width=91
height=154
xmode=abs_centre
layer=workbench_overlay
model=invent_discovery_lightbulb
modelnodepth=yes
modelorigin_x=0
modelorigin_y=75
modelangle_x=0
modelangle_y=512
modelangle_z=1911
modelzoom=1500

// 1708:96
[lightbulb_cracked_model]
type=model
y=172
width=91
height=153
xmode=abs_centre
layer=workbench_overlay
hide=yes
model=invent_discovery_lightbulb_cracked
modelnodepth=yes
modelorigin_x=0
modelorigin_y=75
modelangle_x=0
modelangle_y=512
modelangle_z=1905
modelzoom=1500

// 1708:97
[refine_continue_text]
type=text
y=107
width=48
height=60
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=workbench_overlay
textfont=cinzel_13pt_bold
text=Creating Prototype...
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes

// 1708:98
[refine_continue_button_layer]
type=layer
y=163
width=143
height=27
xmode=abs_centre
ymode=abs_centre
layer=workbench_overlay

// 1708:99
[positive_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=discover_button_layer
onload=script7041(event_com)

// 1708:100
[positive_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=discover_button_layer
onload=script7042(event_com)

// 1708:101
[positive_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=discover_button_layer
onload=script7044(event_com)

// 1708:102
[positive_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=discover_button_layer
hide=yes
onload=script7047(event_com)

// 1708:103
[discover_button]
type=layer
widthmode=minus
heightmode=minus
layer=discover_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1708:104
[discover_disable_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=discover_button_layer
hide=yes
onload=script7060(event_com)
onmouserepeat=script3876("You do not have enough inspiration.", event_com, -1)

// 1708:105
[positive_button_text_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=discover_button_layer

// 1708:106
[positive_button_text_2]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_2
textfont=cinzel_13pt_bold
text=Invent
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1708:107
[positive_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=refine_continue_button_layer
onload=script7041(event_com)

// 1708:108
[positive_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=refine_continue_button_layer
onload=script7042(event_com)

// 1708:109
[positive_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=refine_continue_button_layer
onload=script7044(event_com)

// 1708:110
[positive_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=refine_continue_button_layer
hide=yes
onload=script7047(event_com)

// 1708:111
[overlay_button]
type=layer
widthmode=minus
heightmode=minus
layer=refine_continue_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script12144

// 1708:112
[overlay_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=refine_continue_button_layer
hide=yes
onload=script7060(event_com)

// 1708:113
[positive_button_text_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=refine_continue_button_layer

// 1708:114
[positive_button_text_3]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_3
textfont=cinzel_13pt_bold
text=Continue
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1708:115
[blueprint_frame_1]
type=graphic
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=blueprint_icon_layer_1
graphic="invention_discovery_icon_select,0"
colour=0xffffff
clickmask=no

// 1708:116
[blueprint_icon_1]
type=graphic
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=blueprint_icon_layer_1
hide=yes
graphic=invention_icon_casing
colour=0xffffff
clickmask=no
dragdepth=3
dragdeadzone=5

// 1708:117
[blueprint_frame_2]
type=graphic
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=blueprint_icon_layer_2
graphic="invention_discovery_icon_select,0"
colour=0xffffff
clickmask=no

// 1708:118
[blueprint_icon_2]
type=graphic
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=blueprint_icon_layer_2
hide=yes
graphic=invention_icon_casing
colour=0xffffff
clickmask=no
dragdepth=3
dragdeadzone=5

// 1708:119
[blueprint_frame_3]
type=graphic
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=blueprint_icon_layer_3
graphic="invention_discovery_icon_select,0"
colour=0xffffff
clickmask=no

// 1708:120
[blueprint_icon_3]
type=graphic
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=blueprint_icon_layer_3
hide=yes
graphic=invention_icon_casing
colour=0xffffff
clickmask=no
dragdepth=3
dragdeadzone=5

// 1708:121
[blueprint_frame_4]
type=graphic
width=56
height=56
xmode=abs_centre
ymode=abs_centre
layer=blueprint_icon_layer_4
graphic="invention_discovery_icon_select,0"
colour=0xffffff
clickmask=no

// 1708:122
[blueprint_icon_4]
type=graphic
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=blueprint_icon_layer_4
hide=yes
graphic=invention_icon_casing
colour=0xffffff
clickmask=no
dragdepth=3
dragdeadzone=5

