// 1815:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(ironman_achievements:mainmodal_window_background, ironman_achievements:mainmodal_window_border, ironman_achievements:mainmodal_window_content, ironman_achievements:mainmodal_window_close_button, "Ironman Achievements", 21218, string_1007)

// 1815:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1815:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1815:3
[background_layer]
type=layer
x=5
y=23
width=10
height=29
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1815:4
[tabs]
type=layer
x=5
width=10
height=24
widthmode=minus
layer=mainmodal_window_content

// 1815:5
[skill_99_tab]
type=layer
width=5406
height=24
widthmode=proportion
ymode=abs_bottom
layer=tabs

// 1815:6
[skill_120_tab]
type=layer
width=5406
height=24
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=tabs

// 1815:7
[modal_tab_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill_99_tab
onload=script8103(event_com)

// 1815:8
[modal_tab_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill_99_tab
onload=script9645(event_com)

// 1815:9
[modal_tab_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill_99_tab
onload=script9646(event_com)

// 1815:10
[skill99_tab_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill_99_tab
hide=yes
onload=script9648(event_com)

// 1815:11
[skill99_tab]
type=layer
widthmode=minus
heightmode=minus
layer=skill_99_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onclick=script12964(1)

// 1815:12
[skill99_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill_99_tab

// 1815:13
[modal_tab_text_3]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill99_tab_text_layer
textfont=cinzel_13pt_bold
text=Skill 99s
textalignh=1
textalignv=1
colour=0x000000
onload=script9653(event_com)

// 1815:14
[misc_tab]
type=layer
width=5406
height=24
widthmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=tabs

// 1815:15
[modal_tab_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=misc_tab
onload=script8103(event_com)

// 1815:16
[modal_tab_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=misc_tab
onload=script9645(event_com)

// 1815:17
[modal_tab_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=misc_tab
onload=script9646(event_com)

// 1815:18
[misc_tab_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=misc_tab
hide=yes
onload=script9647(event_com)

// 1815:19
[misctab]
type=layer
widthmode=minus
heightmode=minus
layer=misc_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onclick=script12964(3)

// 1815:20
[misc_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=misc_tab

// 1815:21
[modal_tab_text_2]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=misc_tab_text_layer
textfont=cinzel_13pt_bold
text=Miscellaneous
textalignh=1
textalignv=1
colour=0x000000
onload=script9653(event_com)

// 1815:22
[text_layers]
type=layer
x=10
y=24
width=20
height=33
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onload=script12962

// 1815:23
[skill_99_layer]
type=layer
widthmode=minus
heightmode=minus
layer=text_layers

// 1815:24
[skill_99_scroll]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=skill_99_layer

// 1815:25
[skill_99_container]
type=layer
width=16
widthmode=minus
heightmode=minus
layer=skill_99_layer

// 1815:26
[skill_120_layer]
type=layer
widthmode=minus
heightmode=minus
layer=text_layers
hide=yes

// 1815:27
[skill_120_scroll]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=skill_120_layer

// 1815:28
[skill_120_container]
type=layer
width=16
widthmode=minus
heightmode=minus
layer=skill_120_layer

// 1815:29
[misc_layer]
type=layer
widthmode=minus
heightmode=minus
layer=text_layers
hide=yes

// 1815:30
[misc_scroll]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=misc_layer

// 1815:31
[misc_container]
type=layer
width=16
widthmode=minus
heightmode=minus
layer=misc_layer

// 1815:32
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1815:33
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1815:34
[modal_tab_on_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill_120_tab
onload=script8103(event_com)

// 1815:35
[modal_tab_over_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill_120_tab
onload=script9645(event_com)

// 1815:36
[modal_tab_hit_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill_120_tab
onload=script9646(event_com)

// 1815:37
[skill120_tab_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill_120_tab
hide=yes
onload=script9647(event_com)

// 1815:38
[skill120_tab]
type=layer
widthmode=minus
heightmode=minus
layer=skill_120_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onclick=script12964(2)

// 1815:39
[skill120_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill_120_tab

// 1815:40
[modal_tab_text_4]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill120_tab_text_layer
textfont=cinzel_13pt_bold
text=Skill 120s
textalignh=1
textalignv=1
colour=0x000000
onload=script9653(event_com)

