// 400:0
[bespoke_window]
type=layer
width=488
height=308
xmode=abs_centre
ymode=abs_centre
onload=script8420(itemlog_slayer_login:bespoke_window_background, itemlog_slayer_login:bespoke_window_border, itemlog_slayer_login:bespoke_window_content, itemlog_slayer_login:close_button_layer, "", 21259, string_1007)

// 400:1
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 400:2
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 400:3
[bg_graphic]
type=graphic
width=480
height=300
layer=bespoke_window_content
graphic=slayer_collections_popup_en
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script338(event_com, slayer_collections_popup_en, slayer_collections_popup_de, slayer_collections_popup_fr, slayer_collections_popup_pt)

// 400:4
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 400:5
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window
transmitop1=yes
op1=Close
onop=closebutton_click

