// 1409:0
[listeners]
type=layer
width=800
height=600
noclickthrough=yes

// 1409:1
[locality_highlight]
type=layer
width=800
height=600
layer=listeners
noclickthrough=yes

// 1409:2
[main]
type=layer
width=742
height=404
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script20193
onvartransmit=script20194
onvartransmitlist=league_locality_ui,league_task_progress,league_task_progress

// 1409:3
[progress_bar]
type=layer
height=52
widthmode=minus
layer=main
noclickthrough=yes
onload=script20243(event_com)

// 1409:4
[contents]
type=layer
height=62
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=main
noclickthrough=yes

// 1409:5
[area_list]
type=layer
width=188
heightmode=minus
layer=contents
noclickthrough=yes

// 1409:6
[map_area]
type=layer
width=542
height=342
xmode=abs_right
layer=contents
noclickthrough=yes

// 1409:7
[map]
type=layer
widthmode=minus
heightmode=minus
layer=map_area
noclickthrough=yes

// 1409:8
[sprite_base]
type=graphic
x=-165
width=542
height=342
layer=map
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1409:9
[asgarnia]
type=layer
x=-165
width=542
height=342
layer=map

// 1409:10
[desert]
type=layer
x=-165
width=542
height=342
layer=map

// 1409:11
[fremennik]
type=layer
x=-165
width=542
height=342
layer=map

// 1409:12
[kandarin]
type=layer
x=-165
width=542
height=342
layer=map

// 1409:13
[karamja]
type=layer
x=-165
width=542
height=342
layer=map

// 1409:14
[misthalin]
type=layer
x=-165
width=542
height=342
layer=map

// 1409:15
[morytania]
type=layer
x=-165
width=542
height=342
layer=map

// 1409:16
[tirannwn]
type=layer
x=-165
width=542
height=342
layer=map

// 1409:17
[wilderness]
type=layer
x=-165
width=542
height=342
layer=map

// 1409:18
[anachronia]
type=layer
width=140
height=112
xmode=abs_right
layer=map

// 1409:19
[bg_anachronia]
type=rectangle
widthmode=minus
heightmode=minus
layer=anachronia
colour=0x252125
fill=yes
trans=114

// 1409:20
[base_anachronia]
type=graphic
widthmode=minus
heightmode=minus
layer=anachronia
colour=0xffffff
clickmask=no

// 1409:21
[unlocked_asgarnia]
type=graphic
widthmode=minus
heightmode=minus
layer=asgarnia
hide=yes
colour=0x000000
clickmask=no

// 1409:22
[icon_asgarnia]
type=graphic
x=325
y=112
width=50
height=50
layer=asgarnia
noclickthrough=yes
graphic="rs3_icon_lodestone_insignia,2"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20196(event_com)
onmouserepeat=script20197(event_com)

// 1409:23
[map_overview]
type=layer
width=542
height=342
layer=map_area
hide=yes
noclickthrough=yes

// 1409:24
[base]
type=layer
widthmode=minus
heightmode=minus
layer=map_overview

// 1409:25
[area_scrolling]
type=panel
width=16
height=40
widthmode=minus
heightmode=minus
layer=area_list
noclickthrough=yes
isvertical=yes
childspacing=4

// 1409:26
[area_scrollbar]
type=layer
width=16
height=40
heightmode=minus
xmode=abs_right
layer=area_list
noclickthrough=yes

// 1409:27
[open_overview]
type=button
height=30
widthmode=minus
ymode=abs_bottom
layer=area_list
noclickthrough=yes
text.textfont=notosans_12
text.text=Overview
stylesheet=button_cornered_neutral
transmitop1=yes
op1=Open Overview
onload=stylesheet_set(event_com)
onbuttonpressed=script20202

// 1409:28
[info_icon]
type=graphic
width=32
height=32
ymode=abs_bottom
layer=area_list
noclickthrough=yes
graphic="rs3_icon_info_32px,0"
colour=0xffffff
clickmask=no

// 1409:29
[unlocked_wilderness]
type=graphic
widthmode=minus
heightmode=minus
layer=wilderness
hide=yes
colour=0xffffff
clickmask=no

// 1409:30
[icon_wilderness]
type=graphic
x=374
y=36
width=50
height=50
layer=wilderness
noclickthrough=yes
graphic="rs3_icon_lodestone_insignia,21"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20196(event_com)
onmouserepeat=script20197(event_com)

// 1409:31
[unlocked_tirannwn]
type=graphic
widthmode=minus
heightmode=minus
layer=tirannwn
hide=yes
colour=0xffffff
clickmask=no

// 1409:32
[icon_tirannwn]
type=graphic
x=178
y=167
width=50
height=50
layer=tirannwn
noclickthrough=yes
graphic="rs3_icon_lodestone_insignia,23"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20196(event_com)
onmouserepeat=script20197(event_com)

// 1409:33
[unlocked_morytania]
type=graphic
widthmode=minus
heightmode=minus
layer=morytania
hide=yes
colour=0xffffff
clickmask=no

// 1409:34
[icon_morytania]
type=graphic
x=445
y=131
width=50
height=50
layer=morytania
noclickthrough=yes
graphic="rs3_icon_lodestone_insignia,15"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20196(event_com)
onmouserepeat=script20197(event_com)

// 1409:35
[unlocked_misthalin]
type=graphic
widthmode=minus
heightmode=minus
layer=misthalin
hide=yes
colour=0xffffff
clickmask=no

// 1409:36
[icon_misthalin]
type=graphic
x=381
y=146
width=50
height=50
layer=misthalin
noclickthrough=yes
graphic="rs3_icon_lodestone_insignia,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20196(event_com)
onmouserepeat=script20197(event_com)

// 1409:37
[unlocked_karamja]
type=graphic
widthmode=minus
heightmode=minus
layer=karamja
hide=yes
colour=0xffffff
clickmask=no

// 1409:38
[icon_karamja]
type=graphic
x=307
y=226
width=50
height=50
layer=karamja
noclickthrough=yes
graphic="rs3_icon_lodestone_insignia,19"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20196(event_com)
onmouserepeat=script20197(event_com)

// 1409:39
[unlocked_kandarin]
type=graphic
widthmode=minus
heightmode=minus
layer=kandarin
hide=yes
colour=0xffffff
clickmask=no

// 1409:40
[icon_kandarin]
type=graphic
x=245
y=146
width=50
height=50
layer=kandarin
noclickthrough=yes
graphic="rs3_icon_lodestone_insignia,3"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20196(event_com)
onmouserepeat=script20197(event_com)

// 1409:41
[unlocked_fremennik]
type=graphic
widthmode=minus
heightmode=minus
layer=fremennik
hide=yes
colour=0xffffff
clickmask=no

// 1409:42
[icon_fremennik]
type=graphic
x=261
y=52
width=50
height=50
layer=fremennik
noclickthrough=yes
graphic="rs3_icon_lodestone_insignia,18"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20196(event_com)
onmouserepeat=script20197(event_com)

// 1409:43
[unlocked_desert]
type=graphic
widthmode=minus
heightmode=minus
layer=desert
hide=yes
colour=0xffffff
clickmask=no

// 1409:44
[icon_desert]
type=graphic
x=400
y=233
width=50
height=50
layer=desert
noclickthrough=yes
graphic="rs3_icon_lodestone_insignia,12"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20196(event_com)
onmouserepeat=script20197(event_com)

// 1409:45
[unlocked_anachronia]
type=graphic
widthmode=minus
heightmode=minus
layer=anachronia
hide=yes
colour=0xffffff
clickmask=no

// 1409:46
[icon_anachronia]
type=graphic
width=50
height=50
xmode=abs_centre
ymode=abs_centre
layer=anachronia
noclickthrough=yes
graphic="rs3_icon_lodestone_insignia,27"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20196(event_com)
onmouserepeat=script20197(event_com)

// 1409:47
[tab_background]
type=layer
x=52
width=56
widthmode=minus
heightmode=minus
layer=base

// 1409:48
[tab_title]
type=text
y=10
width=56
height=20
widthmode=minus
xmode=abs_right
layer=base
textfont=notosans_bold_18
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 1409:49
[top]
type=graphic
x=-4
height=4
widthmode=minus
layer=tab_background
graphic=rs3_parent_side_tab_top_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1409:50
[middle]
type=graphic
y=4
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=tab_background
graphic=rs3_parent_side_tab_content_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1409:51
[topright_corner]
type=graphic
width=4
height=4
xmode=abs_right
layer=tab_background
graphic=rs3_parent_side_tab_top_corner
hflip=yes
colour=0xffffff
clickmask=no

// 1409:52
[right]
type=graphic
y=4
width=4
height=8
heightmode=minus
xmode=abs_right
layer=tab_background
graphic=rs3_parent_side_tab_side_tile
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1409:53
[bottom]
type=graphic
x=4
width=8
height=4
widthmode=minus
ymode=abs_bottom
layer=tab_background
graphic=rs3_parent_side_tab_bottom_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1409:54
[bottomright_corner]
type=graphic
width=4
height=4
xmode=abs_right
ymode=abs_bottom
layer=tab_background
graphic=rs3_parent_side_tab_bottom_corner
colour=0xffffff
clickmask=no

// 1409:55
[bottomleft_corner]
type=graphic
width=4
height=4
ymode=abs_bottom
layer=tab_background
graphic=rs3_parent_side_tab_bottom_corner
hflip=yes
colour=0xffffff
clickmask=no

// 1409:56
[tab_side]
type=layer
width=56
heightmode=minus
layer=base

// 1409:57
[side_bar_extra]
type=graphic
y=216
width=4
height=216
heightmode=minus
xmode=abs_right
layer=tab_side
graphic=rs3_parent_side_tab_side_tile
colour=0xffffff
clickmask=no

// 1409:58
[tab_1]
type=layer
height=72
widthmode=minus
layer=tab_side
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20204(event_com)

// 1409:59
[tab_bg_1]
type=graphic
width=56
height=72
layer=tab_1
graphic=rs3_parent_side_tab_unselected
colour=0xffffff
clickmask=no

// 1409:60
[tab_icon_1]
type=graphic
y=-10
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=tab_1
graphic=rs3_icon_ironman_group_list_overview
colour=0xffffff
clickmask=no

// 1409:61
[tab_2]
type=layer
y=72
height=72
widthmode=minus
layer=tab_side
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20204(event_com)

// 1409:62
[tab_bg_2]
type=graphic
width=56
height=72
layer=tab_2
graphic=rs3_parent_side_tab_unselected
colour=0xffffff
clickmask=no

// 1409:63
[tab_icon_2]
type=graphic
y=-10
width=10
height=32
xmode=abs_centre
ymode=abs_centre
layer=tab_2
graphic=exclamation_mark
colour=0xffffff
clickmask=no

// 1409:64
[tab_3]
type=layer
y=144
height=72
widthmode=minus
layer=tab_side
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20204(event_com)

// 1409:65
[tab_4]
type=layer
y=216
height=72
widthmode=minus
layer=tab_side
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script20204(event_com)

// 1409:66
[tab_bg_3]
type=graphic
width=56
height=72
layer=tab_3
graphic=rs3_parent_side_tab_unselected
colour=0xffffff
clickmask=no

// 1409:67
[tab_icon_3]
type=graphic
y=-10
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=tab_3
graphic=invention_machine_icon_padlock_gold_36px
colour=0xffffff
clickmask=no

// 1409:68
[tab_contents_wrapper]
type=layer
x=8
y=40
width=70
height=100
widthmode=minus
heightmode=minus
xmode=abs_right
layer=base
onload=script19419
onvartransmit=script19420
onvartransmitlist=group_ironman_interface

// 1409:69
[tab_contents_shared]
type=layer
x=8
y=8
width=70
height=40
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=base
noclickthrough=yes

// 1409:70
[close_wrapper]
type=layer
width=175
heightmode=minus
layer=tab_contents_shared
noclickthrough=yes

// 1409:71
[unlock_wrapper]
type=layer
width=175
heightmode=minus
xmode=abs_right
layer=tab_contents_shared
noclickthrough=yes

// 1409:72
[close_overview]
type=button
height=30
widthmode=minus
ymode=abs_bottom
layer=close_wrapper
noclickthrough=yes
text.textfont=notosans_12
text.text=Back to Map
stylesheet=button_cornered_neutral
transmitop1=yes
op1=Close Overview
onload=stylesheet_set(event_com)
onbuttonpressed=script20203

// 1409:73
[tab_contents_1]
type=layer
widthmode=minus
heightmode=minus
layer=tab_contents_wrapper

// 1409:74
[com_74]
type=text
widthmode=minus
heightmode=minus
layer=tab_contents_1
noclickthrough=yes
textfont=notosans_12
text=I'm a placeholder overview
textalignh=1
textalignv=1

// 1409:75
[tab_contents_2]
type=layer
widthmode=minus
heightmode=minus
layer=tab_contents_wrapper

// 1409:76
[com_76]
type=text
widthmode=minus
heightmode=minus
layer=tab_contents_2
noclickthrough=yes
textfont=notosans_12
text=I'm a placeholder key information page
textalignh=1
textalignv=1

// 1409:77
[tab_contents_3]
type=layer
widthmode=minus
heightmode=minus
layer=tab_contents_wrapper

// 1409:78
[com_78]
type=text
widthmode=minus
heightmode=minus
layer=tab_contents_3
noclickthrough=yes
textfont=notosans_12
text=I'm a placeholder unlocks page
textalignh=1
textalignv=1

// 1409:79
[tab_contents_4]
type=layer
widthmode=minus
heightmode=minus
layer=tab_contents_wrapper

// 1409:80
[com_80]
type=text
widthmode=minus
heightmode=minus
layer=tab_contents_4
noclickthrough=yes
textfont=notosans_12
text=I'm a placeholder drops page
textalignh=1
textalignv=1

// 1409:81
[tab_bg_4]
type=graphic
width=56
height=72
layer=tab_4
graphic=rs3_parent_side_tab_unselected
colour=0xffffff
clickmask=no

// 1409:82
[tab_icon_4]
type=graphic
y=-10
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=tab_4
graphic=icon_dropped_default
colour=0xffffff
clickmask=no

// 1409:83
[back]
type=graphic
width=32
height=32
ymode=abs_bottom
layer=close_wrapper
noclickthrough=yes
graphic="rs3_icon_back_32px,0"
colour=0xffffff
clickmask=no

// 1409:84
[unlock]
type=button
height=30
widthmode=minus
ymode=abs_bottom
layer=unlock_wrapper
noclickthrough=yes
text.textfont=notosans_12
text.text=Unlock
stylesheet=button_cornered_neutral
transmitop1=yes
op1=Unlock
opcursor0=cursor_unlock
onload=stylesheet_set(event_com)

// 1409:85
[unlock_icon]
type=graphic
width=32
height=32
ymode=abs_bottom
layer=unlock_wrapper
noclickthrough=yes
graphic="rs3_icon_back_32px,0"
hflip=yes
colour=0xffffff
clickmask=no

