// 1424:0
[main]
type=layer
widthmode=minus
heightmode=minus
noclickthrough=yes

// 1424:1
[com_1]
type=text
widthmode=minus
heightmode=minus
layer=main
noclickthrough=yes
textfont=notosans_12
text=I'm a placeholder overview
textalignh=1
textalignv=1

// 1424:2
[progress_bar]
type=layer
height=52
widthmode=minus
layer=main
noclickthrough=yes
onload=script20243(event_com)

// 1424:3
[contents]
type=layer
height=62
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=main
noclickthrough=yes

