// 1396:0
[listeners_and_timers]
type=layer
width=800
height=600
noclickthrough=yes
onload=script20184

// 1396:1
[var_listener]
type=layer
width=800
height=600
layer=listeners_and_timers
noclickthrough=yes
onvartransmit=script20185
onvartransmitlist=league_temp,lobbyscreen_trial_expires,lobbyscreen_member_expires,lobbyscreen_current_minute

// 1396:2
[anim_listener]
type=layer
width=800
height=600
layer=listeners_and_timers
noclickthrough=yes

// 1396:3
[window_bg]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
colour=0x010101
fill=yes

// 1396:4
[logo_bg]
type=graphic
widthmode=minus
heightmode=minus
noclickthrough=yes
graphic=rs3_ui_game_mode_leagues_default_background
alpha=yes
colour=0xffffff
clickmask=no

// 1396:5
[window_size]
type=layer
width=800
height=600
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes

// 1396:6
[logo_wrapper]
type=layer
width=500
height=456
xmode=abs_centre
layer=window_size
noclickthrough=yes

// 1396:7
[panels_bg]
type=layer
y=10
width=680
height=400
xmode=abs_centre
ymode=abs_bottom
layer=window_size
onload=script10069(league_lobby_splash:bg, league_lobby_splash:border, null, null, "", 28782, null, null)

// 1396:8
[subheader]
type=layer
y=460
width=640
height=20
xmode=abs_centre
layer=window_size
noclickthrough=yes

// 1396:9
[contents]
type=layer
y=484
width=640
height=484
heightmode=minus
xmode=abs_centre
layer=window_size
noclickthrough=yes

// 1396:10
[subheader_text]
type=text
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subheader
noclickthrough=yes
textfont=notosans_12
textalignh=1
textalignv=1
textshadow=yes

// 1396:11
[contents_normal]
type=layer
width=300
height=40
heightmode=minus
layer=contents
noclickthrough=yes

// 1396:12
[normal_bg]
type=button
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contents_normal
noclickthrough=yes
sprite.graphic=background_default
text.textfont=notosans_12
stylesheet=background_default

// 1396:13
[contents_normal_scrolling]
type=layer
x=4
y=4
width=24
height=44
widthmode=minus
heightmode=minus
layer=contents_normal
noclickthrough=yes

// 1396:14
[contents_normal_scrollbar]
type=layer
x=4
y=4
width=16
height=44
heightmode=minus
xmode=abs_right
layer=contents_normal
noclickthrough=yes

// 1396:15
[play_normal]
type=button
y=4
width=200
height=30
xmode=abs_centre
ymode=abs_bottom
layer=contents_normal
noclickthrough=yes
sprite.graphic=button_action_positive
text.textfont=notosans_12
text.text=Play RuneScape
stylesheet=button_action_positive
transmitop1=yes
op1=Play RuneScape

// 1396:16
[contents_leagues]
type=layer
width=300
height=40
heightmode=minus
xmode=abs_right
layer=contents
noclickthrough=yes

// 1396:17
[league_bg]
type=button
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contents_leagues
noclickthrough=yes
sprite.graphic=background_default
text.textfont=notosans_12
stylesheet=background_default

// 1396:18
[logo]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=logo_wrapper
noclickthrough=yes
graphic=league_logo_500x456
colour=0xffffff
clickmask=no

// 1396:19
[flash]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=logo_wrapper
noclickthrough=yes
graphic=button_tli_modular_diamond_glow
colour=0xdab813
clickmask=no

// 1396:20
[contents_leagues_scrolling]
type=layer
x=4
y=4
width=24
height=44
widthmode=minus
heightmode=minus
layer=contents_leagues
noclickthrough=yes

// 1396:21
[contents_leagues_scrollbar]
type=layer
x=4
y=4
width=16
height=44
heightmode=minus
xmode=abs_right
layer=contents_leagues
noclickthrough=yes

// 1396:22
[play_normal_existing]
type=button
x=-150
y=4
width=200
height=30
xmode=abs_centre
ymode=abs_bottom
layer=contents_leagues
hide=yes
noclickthrough=yes
sprite.graphic=button_action_positive
text.textfont=notosans_12
text.text=Play RuneScape
stylesheet=button_action_positive
transmitop1=yes
op1=Play RuneScape

// 1396:23
[become_member]
type=button
y=40
width=200
height=30
xmode=abs_centre
ymode=abs_bottom
layer=contents_leagues
noclickthrough=yes
sprite.graphic=button_action_positive
text.textfont=notosans_12
text.text=Become a Member
stylesheet=button_action_positive
transmitop1=yes
op1=Become a Member

// 1396:24
[play_league]
type=button
y=4
width=200
height=30
xmode=abs_centre
ymode=abs_bottom
layer=contents_leagues
noclickthrough=yes
sprite.graphic=button_action_positive
text.textfont=notosans_12
text.text=Play Leagues
stylesheet=button_action_positive
transmitop1=yes
op1=Play League

// 1396:25
[bg]
type=layer
widthmode=minus
heightmode=minus
layer=panels_bg

// 1396:26
[border]
type=layer
widthmode=minus
heightmode=minus
layer=panels_bg

