// 1361:0
[listeners]
type=layer
widthmode=minus
heightmode=minus
noclickthrough=yes

// 1361:1
[quest_trigger]
type=layer
width=800
height=600
layer=listeners
noclickthrough=yes

// 1361:2
[skin_listener]
type=layer
widthmode=minus
heightmode=minus
layer=listeners
noclickthrough=yes
onvartransmit=script20280
onvartransmitlist=toplevel_v2_general_varp,toplevel_v2_general_varp

// 1361:3
[requirement_listener]
type=layer
widthmode=minus
heightmode=minus
layer=listeners
noclickthrough=yes
onvartransmit=script20319(event_com)
onvartransmitlist=qp,cheevo_runescore,lvl_data

// 1361:4
[animation_timer]
type=layer
widthmode=minus
heightmode=minus
layer=listeners
noclickthrough=yes

// 1361:5
[filter_deferred]
type=layer
width=217
height=364
layer=listeners
noclickthrough=yes

// 1361:6
[scrollbar_deferred]
type=layer
widthmode=minus
heightmode=minus
layer=listeners
noclickthrough=yes
onvartransmit=script20283
onvartransmitlist=league_current_locality

// 1361:7
[main]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script20279(event_com, league_child_tasks:header, league_child_tasks:contents)
onvartransmit=script20279(event_com, league_child_tasks:header, league_child_tasks:contents)
onstattransmit=script20279(event_com, league_child_tasks:header, league_child_tasks:contents)
onvartransmitlist=league_active_player

// 1361:8
[header]
type=layer
height=58
widthmode=minus
layer=main
noclickthrough=yes

// 1361:9
[progress_bar]
type=layer
height=52
widthmode=minus
layer=header
noclickthrough=yes
onload=script20244(event_com)
onvartransmit=script20244(event_com)
onvartransmitlist=league_task_progress,league_relic_cache_2

// 1361:10
[separator_3]
type=layer
height=2
widthmode=minus
ymode=abs_bottom
layer=header
onload=script349(event_com)

// 1361:11
[contents]
type=layer
y=35
height=97
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=main

// 1361:12
[tasks]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=contents
noclickthrough=yes

// 1361:13
[tasks_progress_popup]
type=layer
height=20
widthmode=minus
ymode=abs_bottom
layer=contents

// 1361:14
[tasks_progress_popup_bg]
type=rectangle
widthmode=minus
heightmode=minus
layer=tasks_progress_popup
colour=0x000000
fill=yes
trans=255

// 1361:15
[tasks_progress_popup_bg_outline]
type=rectangle
widthmode=minus
heightmode=minus
layer=tasks_progress_popup
colour=0x003652
trans=125
onload=stylesheet_set_rect(event_com, rect_outline)

// 1361:16
[tasks_progress_popup_icon]
type=graphic
x=4
width=32
height=32
ymode=abs_centre
layer=tasks_progress_popup
colour=0xffffff
clickmask=no

// 1361:17
[tasks_progress_popup_contents]
type=layer
x=4
width=40
height=8
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=tasks_progress_popup

// 1361:18
[footer]
type=layer
height=33
widthmode=minus
ymode=abs_bottom
layer=main

// 1361:19
[task_contents]
type=layer
widthmode=minus
heightmode=minus
layer=tasks
noclickthrough=yes

// 1361:20
[task_scrolling]
type=layer
width=16
widthmode=minus
heightmode=minus
layer=task_contents
noclickthrough=yes

// 1361:21
[task_panel]
type=panel
widthmode=minus
heightmode=minus
layer=task_scrolling
noclickthrough=yes
isvertical=yes
childspacing=4

// 1361:22
[task_scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=task_contents
noclickthrough=yes

// 1361:23
[separator_2]
type=layer
height=2
widthmode=minus
layer=footer
onload=script349(event_com)

// 1361:24
[button_layer]
type=layer
height=9
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=footer
onload=child_buttons_init(event_com, 100)

