// 1443:0
[main]
type=layer
width=742
height=404
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script20251
onvartransmit=script20252
onvartransmitlist=league_relic_temp_1,league_relic_temp_1,league_relic_choices,league_relic_effects_1,league_relic_effects_2,league_relic_effects_3

// 1443:1
[progress_bar]
type=layer
height=52
widthmode=minus
layer=main
noclickthrough=yes
onload=script20243(event_com)

// 1443:2
[relic_contents]
type=layer
y=20
height=100
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=main
noclickthrough=yes

// 1443:3
[relic_scrollbar]
type=layer
height=16
widthmode=minus
ymode=abs_bottom
layer=main
noclickthrough=yes

// 1443:4
[border_l]
type=layer
width=2
heightmode=minus
layer=relic_contents
noclickthrough=yes
onload=script11742(event_com)

// 1443:5
[border_r]
type=layer
width=2
heightmode=minus
xmode=abs_right
layer=relic_contents
noclickthrough=yes
onload=script11742(event_com)

// 1443:6
[relic_main_scrolling]
type=layer
width=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=relic_contents
noclickthrough=yes

// 1443:7
[relic_main_headers]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=relic_main_scrolling

// 1443:8
[relic_main]
type=layer
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=relic_main_scrolling

// 1443:9
[relic_info]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=main
noclickthrough=yes

// 1443:10
[detailed]
type=layer
width=450
heightmode=minus
layer=relic_info
noclickthrough=yes

// 1443:11
[bg_detailed]
type=button
widthmode=minus
heightmode=minus
layer=detailed
noclickthrough=yes
sprite.graphic=background_default
text.textfont=notosans_12
stylesheet=background_default
onload=stylesheet_set(event_com)

// 1443:12
[detailed_window_title]
type=text
y=2
height=20
widthmode=minus
layer=detailed
noclickthrough=yes
textfont=notosans_semibold_13
text=Relic Name
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script2732(event_com, event_comsubid, 0)

// 1443:13
[overview_navigation]
type=layer
y=25
height=100
widthmode=minus
layer=detailed
noclickthrough=yes

// 1443:14
[overview_contents]
type=layer
y=125
width=16
height=175
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=detailed
noclickthrough=yes

// 1443:15
[bg_contents]
type=button
widthmode=minus
heightmode=minus
layer=overview_contents
noclickthrough=yes
sprite.graphic=background_default
text.textfont=notosans_12
stylesheet=background_default
onload=stylesheet_set(event_com)

// 1443:16
[overview_fixed]
type=layer
y=8
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=detailed
noclickthrough=yes

// 1443:17
[overview_navigation_contents]
type=panel
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=overview_navigation
noclickthrough=yes
isvertical=no
childspacing=4

// 1443:18
[overview_scrolling]
type=layer
x=4
width=8
height=4
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=overview_contents
noclickthrough=yes

// 1443:19
[overview_scrolling_contents]
type=layer
widthmode=minus
heightmode=minus
layer=overview_scrolling

// 1443:20
[overview_scrolling_toggles]
type=layer
widthmode=minus
heightmode=minus
layer=overview_scrolling

// 1443:21
[overview_scrollbar]
type=layer
x=4
width=16
height=4
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=overview_contents
noclickthrough=yes

// 1443:22
[passive_info]
type=layer
width=460
widthmode=minus
heightmode=minus
xmode=abs_right
layer=relic_info
noclickthrough=yes

// 1443:23
[confirm_popup]
type=layer
width=460
widthmode=minus
heightmode=minus
xmode=abs_right
layer=relic_info
hide=yes
noclickthrough=yes

// 1443:24
[confirm_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_popup
noclickthrough=yes

// 1443:25
[bg_confirm_popup]
type=button
widthmode=minus
heightmode=minus
layer=confirm_window
noclickthrough=yes
sprite.graphic=background_default
text.textfont=notosans_12
stylesheet=background_default
onload=stylesheet_set(event_com)

// 1443:26
[bg_passive]
type=button
widthmode=minus
heightmode=minus
layer=passive_info
noclickthrough=yes
sprite.graphic=background_default
text.textfont=notosans_12
stylesheet=background_default
onload=stylesheet_set(event_com)

// 1443:27
[passives_relic_title]
type=text
y=2
height=20
widthmode=minus
layer=passive_info
noclickthrough=yes
textfont=notosans_semibold_13
text=Passive Effects
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script2732(event_com, event_comsubid, 0)

// 1443:28
[passive_info_scrolling]
type=layer
y=28
height=34
widthmode=minus
heightmode=minus
layer=passive_info
noclickthrough=yes

// 1443:29
[highlight_passive]
type=rectangle
y=100
width=8
height=100
widthmode=minus
xmode=abs_centre
layer=passive_info_scrolling
colour=0x003652
fill=yes
trans=125
onload=script2732(event_com, event_comsubid, 15)

// 1443:30
[passive_info_contents]
type=layer
x=4
width=24
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=passive_info_scrolling

// 1443:31
[passive_info_scrollbar]
type=layer
x=4
y=28
width=16
height=34
heightmode=minus
xmode=abs_right
layer=passive_info
noclickthrough=yes

// 1443:32
[wrapper_unlock]
type=layer
x=100
width=175
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=overview_fixed
noclickthrough=yes

// 1443:33
[wrapper_back]
type=layer
x=-100
width=175
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=overview_fixed
noclickthrough=yes

// 1443:34
[overview_unlock]
type=button
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=wrapper_unlock
noclickthrough=yes
sprite.graphic=button_action_positive
text.textfont=notosans_12
text.text=Activate Relic
stylesheet=button_action_positive
transmitop1=yes
op1=Unlock
opcursor0=cursor_unlock
onload=stylesheet_set(event_com)
onbuttonpressed=script20270

// 1443:35
[overview_back]
type=button
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=wrapper_back
noclickthrough=yes
sprite.graphic=button_action_neutral
text.textfont=notosans_12
text.text=Tier Selection
stylesheet=button_action_neutral
transmitop1=yes
op1=Go Back
onload=stylesheet_set(event_com)
onbuttonpressed=script20269

// 1443:36
[relic_display]
type=layer
y=150
width=140
height=76
xmode=abs_centre
layer=confirm_window
noclickthrough=yes

// 1443:37
[warning]
type=text
y=2
width=8
height=20
widthmode=minus
xmode=abs_centre
layer=confirm_window
noclickthrough=yes
textfont=notosans_semibold_13
text=Warning!
textalignh=1
textalignv=1
textshadow=yes
colour=0xeb2f2f
onload=script2732(event_com, event_comsubid, 6)

// 1443:38
[body_confirm]
type=text
y=24
width=8
height=120
widthmode=minus
xmode=abs_centre
layer=confirm_window
noclickthrough=yes
textfont=notosans_13
text=Relic choices are permanent.<br><br>This is your final chance to change your mind.<br><br>You are about to activate:
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script2732(event_com, event_comsubid, 3)

// 1443:39
[confirm_fixed]
type=layer
y=8
height=80
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=confirm_window
noclickthrough=yes

// 1443:40
[wrapper_confirm]
type=layer
width=175
height=30
xmode=abs_centre
layer=confirm_fixed
noclickthrough=yes

// 1443:41
[overview_confirm_unlock]
type=button
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=wrapper_confirm
noclickthrough=yes
sprite.graphic=button_action_positive
text.textfont=notosans_12
text.text=Activate Relic
stylesheet=button_action_positive
transmitop1=yes
op1=Activate
onload=stylesheet_set(event_com)

// 1443:42
[overview_confirm_unlock_spinner]
type=layer
x=6
width=24
height=24
ymode=abs_centre
layer=wrapper_confirm
noclickthrough=yes
onload=spinner_create(event_com, 4, -1)

// 1443:43
[wrapper_confirm_back]
type=layer
width=175
height=36
xmode=abs_centre
ymode=abs_bottom
layer=confirm_fixed
noclickthrough=yes

// 1443:44
[overview_confirm_back]
type=button
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=wrapper_confirm_back
noclickthrough=yes
sprite.graphic=button_action_neutral
text.textfont=notosans_12
text.text=Cancel
stylesheet=button_action_neutral
transmitop1=yes
op1=Go Back
onload=stylesheet_set(event_com)
onbuttonpressed=script20271

