// 1397:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(league_modal_ranks:mainmodal_window_background, league_modal_ranks:mainmodal_window_border, league_modal_ranks:mainmodal_window_content, league_modal_ranks:mainmodal_window_close_button, "League Ranks", 21218, string_1007)

// 1397:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1397:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script20250

// 1397:3
[panel_1]
type=panel
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
noclickthrough=yes
isvertical=yes
childspacing=4

// 1397:4
[layer_2]
type=layer
width=496
height=20
layer=panel_1
noclickthrough=yes

// 1397:5
[layer_7]
type=layer
height=40
widthmode=minus
layer=panel_1
noclickthrough=yes

// 1397:6
[layer_6]
type=layer
height=40
widthmode=minus
layer=panel_1
noclickthrough=yes

// 1397:7
[layer_5]
type=layer
height=40
widthmode=minus
layer=panel_1
noclickthrough=yes

// 1397:8
[layer_4]
type=layer
height=40
widthmode=minus
layer=panel_1
noclickthrough=yes

// 1397:9
[layer_3]
type=layer
height=40
widthmode=minus
layer=panel_1
noclickthrough=yes

// 1397:10
[com_10]
type=text
width=200
height=32
layer=layer_2
noclickthrough=yes
textfont=notosans_12
text=Reward Tier
textalignh=1

// 1397:11
[com_11]
type=text
x=200
width=160
height=32
layer=layer_2
noclickthrough=yes
textfont=notosans_12
text=Points
textalignh=1

// 1397:12
[layer_1]
type=layer
height=40
widthmode=minus
layer=panel_1
noclickthrough=yes

// 1397:13
[layer_8]
type=layer
height=40
widthmode=minus
layer=panel_1
noclickthrough=yes

// 1397:14
[com_14]
type=graphic
width=40
height=40
layer=layer_1
noclickthrough=yes
graphic=sgs_icon_comp_gems_trophy
colour=0xffffff
clickmask=no

// 1397:15
[com_15]
type=rectangle
widthmode=minus
heightmode=minus
layer=layer_1
noclickthrough=yes
colour=0xffffff
fill=yes
trans=220

// 1397:16
[com_16]
type=text
x=40
width=160
heightmode=minus
layer=layer_1
noclickthrough=yes
textfont=notosans_12
text=Iron
textalignh=1
textalignv=1

// 1397:17
[com_17]
type=text
x=200
width=160
heightmode=minus
layer=layer_1
noclickthrough=yes
textfont=notosans_12
text=4,000
textalignh=1
textalignv=1

// 1397:18
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1397:19
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1397:20
[com_20]
type=graphic
width=40
height=40
layer=layer_3
noclickthrough=yes
graphic=sgs_icon_comp_gems_trophy
colour=0xffffff
clickmask=no

// 1397:21
[com_21]
type=rectangle
widthmode=minus
heightmode=minus
layer=layer_3
noclickthrough=yes
colour=0xffffff
fill=yes
trans=220

// 1397:22
[com_22]
type=text
x=40
width=160
heightmode=minus
layer=layer_3
noclickthrough=yes
textfont=notosans_12
text=Steel
textalignh=1
textalignv=1

// 1397:23
[com_23]
type=text
x=200
width=160
heightmode=minus
layer=layer_3
noclickthrough=yes
textfont=notosans_12
text=10,000
textalignh=1
textalignv=1

// 1397:24
[com_24]
type=graphic
width=40
height=40
layer=layer_4
noclickthrough=yes
graphic=sgs_icon_comp_gems_trophy
colour=0xffffff
clickmask=no

// 1397:25
[com_25]
type=rectangle
widthmode=minus
heightmode=minus
layer=layer_4
noclickthrough=yes
colour=0xffffff
fill=yes
trans=220

// 1397:26
[com_26]
type=text
x=40
width=160
heightmode=minus
layer=layer_4
noclickthrough=yes
textfont=notosans_12
text=Mithril
textalignh=1
textalignv=1

// 1397:27
[com_27]
type=text
x=200
width=160
heightmode=minus
layer=layer_4
noclickthrough=yes
textfont=notosans_12
text=20,000
textalignh=1
textalignv=1

// 1397:28
[com_28]
type=graphic
width=40
height=40
layer=layer_5
noclickthrough=yes
graphic=sgs_icon_comp_gems_trophy
colour=0xffffff
clickmask=no

// 1397:29
[com_29]
type=rectangle
widthmode=minus
heightmode=minus
layer=layer_5
noclickthrough=yes
colour=0xffffff
fill=yes
trans=220

// 1397:30
[com_30]
type=text
x=40
width=160
heightmode=minus
layer=layer_5
noclickthrough=yes
textfont=notosans_12
text=Adamant
textalignh=1
textalignv=1

// 1397:31
[com_31]
type=text
x=200
width=160
heightmode=minus
layer=layer_5
noclickthrough=yes
textfont=notosans_12
text=30,000
textalignh=1
textalignv=1

// 1397:32
[com_32]
type=graphic
width=40
height=40
layer=layer_6
noclickthrough=yes
graphic=sgs_icon_comp_gems_trophy
colour=0xffffff
clickmask=no

// 1397:33
[com_33]
type=rectangle
widthmode=minus
heightmode=minus
layer=layer_6
noclickthrough=yes
colour=0xffffff
fill=yes
trans=220

// 1397:34
[com_34]
type=text
x=40
width=160
heightmode=minus
layer=layer_6
noclickthrough=yes
textfont=notosans_12
text=Rune
textalignh=1
textalignv=1

// 1397:35
[com_35]
type=text
x=200
width=160
heightmode=minus
layer=layer_6
noclickthrough=yes
textfont=notosans_12
text=45,000
textalignh=1
textalignv=1

// 1397:36
[com_36]
type=graphic
width=40
height=40
layer=layer_7
noclickthrough=yes
graphic=sgs_icon_comp_gems_trophy
colour=0xffffff
clickmask=no

// 1397:37
[com_37]
type=rectangle
widthmode=minus
heightmode=minus
layer=layer_7
noclickthrough=yes
colour=0xffffff
fill=yes
trans=220

// 1397:38
[com_38]
type=text
x=40
width=160
heightmode=minus
layer=layer_7
noclickthrough=yes
textfont=notosans_12
text=Dragon
textalignh=1
textalignv=1

// 1397:39
[com_39]
type=text
x=200
width=160
heightmode=minus
layer=layer_7
noclickthrough=yes
textfont=notosans_12
text=60,000
textalignh=1
textalignv=1

// 1397:40
[com_40]
type=graphic
width=40
height=40
layer=layer_8
noclickthrough=yes
graphic=sgs_icon_comp_gems_trophy
colour=0xffffff
clickmask=no

// 1397:41
[com_41]
type=rectangle
widthmode=minus
heightmode=minus
layer=layer_8
noclickthrough=yes
colour=0xffffff
fill=yes
trans=220

// 1397:42
[com_42]
type=text
x=40
width=160
heightmode=minus
layer=layer_8
noclickthrough=yes
textfont=notosans_12
text=Bronze
textalignh=1
textalignv=1

// 1397:43
[com_43]
type=text
x=200
width=160
heightmode=minus
layer=layer_8
noclickthrough=yes
textfont=notosans_12
text=2,000
textalignh=1
textalignv=1

