// 1216:0
[levelup_layer]
type=layer
y=-3
widthmode=minus
heightmode=minus
onvarctransmit=levelup_start
onvarctransmitlist=skillguide_levelup_stat_client

// 1216:1
[firework_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=levelup_layer

// 1216:2
[firework_effect]
type=model
x=1
y=-144
width=786
height=480
xmode=abs_centre
layer=firework_layer
hide=yes
model=level_up_fireworks_interface_gold
modelorigin_x=5
modelorigin_y=-45
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=800
modelanim=interface_fireworks_flare

// 1216:3
[max_firework]
type=model
x=-32
y=-1
width=353
height=161
xmode=abs_centre
layer=firework_layer
hide=yes
model=level_up_fireworks_interface_max
modelorigin_x=39
modelorigin_y=-60
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=800
modelanim=interface_fireworks_max

// 1216:4
[firework_effect_delayed]
type=model
x=3
y=-143
width=786
height=487
xmode=abs_centre
layer=firework_layer
hide=yes
model=level_up_fireworks_interface_gold
modelorigin_x=3
modelorigin_y=-49
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=800
modelanim=interface_fireworks_flare_delayed

// 1216:5
[info]
type=layer
height=180
widthmode=minus
xmode=abs_centre
layer=levelup_layer

// 1216:6
[unlocks_layer]
type=layer
height=120
widthmode=minus
ymode=abs_bottom
layer=info

// 1216:7
[levelup_bg]
type=graphic
y=-40
width=143
height=146
xmode=abs_centre
layer=info
graphic="aif_level_up_graphic_bkgd,0"
vflip=yes
colour=0xffffff
clickmask=no

// 1216:8
[wheel]
type=graphic
y=20
width=87
height=86
xmode=abs_centre
layer=info
graphic=aif_level_up_graphic_shine
2dangle=65353
colour=0xffffff
clickmask=no

// 1216:9
[text_layer]
type=layer
width=150
height=32
xmode=abs_centre
layer=info

// 1216:10
[trim_centre]
type=graphic
width=85
height=33
widthmode=minus
xmode=abs_centre
layer=text_layer
graphic="aif_level_up_text_box,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1216:11
[trim_left]
type=graphic
width=50
height=33
layer=text_layer
graphic="aif_level_up_text_box,0"
colour=0xffffff
clickmask=no

// 1216:12
[trim_right]
type=graphic
width=50
height=33
xmode=abs_right
layer=text_layer
graphic="aif_level_up_text_box,2"
colour=0xffffff
clickmask=no

// 1216:13
[levelup_text]
type=graphic
y=5
width=193
height=23
xmode=abs_centre
layer=text_layer
graphic="aif_level_up_text_language,3"
colour=0xffffff
clickmask=no

// 1216:14
[number_left]
type=graphic
x=-10
y=45
width=22
height=33
xmode=abs_centre
layer=info
hide=yes
graphic="aif_level_up_text_numbers,9"
colour=0xffffff
clickmask=no

// 1216:15
[number_centre]
type=graphic
y=45
width=22
height=33
xmode=abs_centre
layer=info
hide=yes
graphic="aif_level_up_text_numbers,2"
colour=0xffffff
clickmask=no

// 1216:16
[number_right]
type=graphic
x=10
y=45
width=22
height=33
xmode=abs_centre
layer=info
hide=yes
graphic="aif_level_up_text_numbers,9"
colour=0xffffff
clickmask=no

// 1216:17
[levelup_icon]
type=graphic
y=35
width=52
height=52
xmode=abs_centre
layer=info
graphic="staticons_high_res_clean,0"
colour=0xffffff
clickmask=no

