// 913:0
[com_0]
type=rectangle
widthmode=minus
heightmode=minus
colour=0x000000
fill=yes
trans=43

// 913:1
[mainmodal_window]
type=layer
width=450
height=250
xmode=abs_centre
ymode=abs_centre
onload=script10069(lobbyscreen_report_abuse_ignore:mainmodal_window_background, lobbyscreen_report_abuse_ignore:mainmodal_window_border, lobbyscreen_report_abuse_ignore:mainmodal_window_content, null, "Temporarily ignore player?", 28782, null, null)

// 913:2
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 913:3
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 913:4
[general_information_text]
type=text
y=10
width=20
height=65
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
textfont=notosans_11
text=Now that your report has been sent, you can choose whether or not to ignore the offender. This is a temporary measure, and will only last until you log out. To permanently ignore a player, make a note of their name and add them to your Ignore List once the 'Report' windows are closed.<br><br>You cannot ignore moderators or people on your Friends List.
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 913:5
[yes_ignore]
type=button
x=10
y=15
width=200
height=30
ymode=abs_bottom
layer=mainmodal_window_content
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Ignore them
stylesheet=button_action_neutral
transmitop1=yes
op1=Ignore Player
onbuttonpressed=script3207(1)

// 913:6
[no_dont_ignore]
type=button
x=10
y=15
width=200
height=30
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Don't ignore them
stylesheet=button_action_neutral
transmitop1=yes
op1=Don't Ignore Player
onbuttonpressed=script3207(0)

// 913:7
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

