// 589:0
[main]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 589:1
[friendschat_title]
type=text
height=34
widthmode=minus
layer=main
textfont=cinzel_25pt_bold_multiline
text=Friends Chat Channel
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 589:2
[friendschat]
type=layer
y=40
height=185
widthmode=minus
layer=main
transmitop10=yes
op10=   
onload=script10053

// 589:3
[banner_left]
type=graphic
x=30
width=104
height=185
layer=friendschat
graphic=rs3_lobby_anti_dragon_shield
colour=0xffffff
clickmask=no

// 589:4
[friendschat_upper]
type=layer
x=174
width=348
height=32
widthmode=minus
heightmode=minus
layer=friendschat

// 589:5
[friendschat_border]
type=layer
y=26
height=26
widthmode=minus
heightmode=minus
layer=friendschat_upper
transmitop10=yes
op10= 
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 589:6
[friendschat_content]
type=layer
y=26
height=26
widthmode=minus
heightmode=minus
layer=friendschat_upper

// 589:7
[friendschat_main]
type=layer
width=16
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=friendschat_content
transmitop10=yes
op10=  

// 589:8
[friendschat_bg]
type=layer
widthmode=minus
heightmode=minus
layer=friendschat_main
transmitop10=yes
op10=    

// 589:9
[friendschat_active_bg]
type=rectangle
height=15
widthmode=minus
layer=friendschat_main
hide=yes
colour=0x00527a
fill=yes
transmitop10=yes
op10=  

// 589:10
[friendschat_name]
type=layer
widthmode=minus
heightmode=minus
layer=friendschat_main
transmitop10=yes
op10=   

// 589:11
[friendschat_namechange]
type=layer
widthmode=minus
heightmode=minus
layer=friendschat_main
transmitop10=yes
op10=    

// 589:12
[friendschat_status]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=friendschat_main
transmitop10=yes
op10=    

// 589:13
[friendschat_vdiv]
type=rectangle
x=11017
width=2
heightmode=minus
xmode=proportion_left
layer=friendschat_main
colour=0x4b2e26
transmitop10=yes
op10=  

// 589:14
[friendschat_build_layer_scroll]
type=layer
width=16
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=friendschat_content
transmitop10=yes
op10=   

// 589:15
[friendschat_titles]
type=layer
height=26
widthmode=minus
layer=friendschat_upper
transmitop10=yes
op10=  

// 589:16
[friendschat_name_title]
type=text
x=2
width=10545
height=2
widthmode=proportion
heightmode=minus
layer=friendschat_titles
textfont=cinzel_15pt_bold
text=Name
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 0)

// 589:17
[friendschat_status_title]
type=text
width=5639
height=2
widthmode=proportion
heightmode=minus
xmode=abs_right
layer=friendschat_titles
textfont=cinzel_15pt_bold
text=Status
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 0)

// 589:18
[friendschat_lower]
type=layer
x=174
width=348
height=30
widthmode=minus
ymode=abs_bottom
layer=friendschat

// 589:19
[friendschat_join_button]
type=button
width=250
heightmode=minus
xmode=abs_centre
layer=friendschat_lower
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Join Friends Chat Channel
stylesheet=button_action_neutral
transmitop1=yes
op1=Join Friends Chat
onbuttonpressed=script4557

// 589:20
[friendschat_details]
type=layer
width=168
heightmode=minus
xmode=abs_right
layer=friendschat

// 589:21
[friendschat_detail_title]
type=text
x=2
width=4
height=24
widthmode=minus
layer=friendschat_details
textfont=cinzel_15pt_bold
text=Channel
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 589:22
[channel]
type=layer
y=26
width=168
height=70
layer=friendschat_details

// 589:23
[friendschat_detail_bg]
type=layer
widthmode=minus
heightmode=minus
layer=channel
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 589:24
[friendschat_detail_name_title]
type=text
x=4
y=4
width=4
height=14
widthmode=minus
layer=channel
textfont=notosans_11
text=Talking in: 
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 589:25
[friendschat_detail_name_text]
type=text
x=4
y=20
width=4
height=14
widthmode=minus
layer=channel
textfont=notosans_11
text=Not in chat
textshadow=yes
transmitop10=yes
op10= 

// 589:26
[friendschat_detail_owner_title]
type=text
x=4
y=38
width=4
height=14
widthmode=minus
layer=channel
textfont=notosans_11
text=Owner: 
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 2)

// 589:27
[friendschat_detail_owner_text]
type=text
x=4
y=52
width=4
height=14
widthmode=minus
layer=channel
textfont=notosans_11
text=None
textshadow=yes
transmitop10=yes
op10=  

// 589:28
[report_container]
type=layer
y=4
width=8
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=friendschat_details

// 589:29
[com_29]
type=button
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=report_container
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Report Abuse
stylesheet=button_action_neutral
transmitop1=yes
op1=Report
onbuttonpressed=script3176("", 0, string_1)

// 589:30
[kick_container]
type=layer
y=38
width=8
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=friendschat_details

// 589:31
[com_31]
type=button
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=kick_container
noclickthrough=yes
sprite.graphic=button_action_negative
text.text=Kick/Ban
stylesheet=button_action_negative
transmitop1=yes
op1=Kick/Ban
onmouserepeat=script8799("Here you can enter a user to temporarily kick/ban from the friendschat channel.", event_com, -1)
onbuttonpressed=script4575

// 589:32
[chat]
type=layer
height=233
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=main
onload=script10054(event_com, lobbyscreen_pane_friendschat:chat_build, lobbyscreen_pane_friendschat:chat_scroll)

// 589:33
[chat_border]
type=layer
widthmode=minus
heightmode=minus
layer=chat
onload=script10896(event_com, null, rs3tli_content_panel_trans_40)

// 589:34
[chat_content]
type=layer
y=4
width=8
height=32
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=chat

// 589:35
[chat_build]
type=layer
width=16
widthmode=minus
heightmode=minus
layer=chat_content

// 589:36
[chat_scroll]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=chat_content

// 589:37
[chat_input]
type=layer
height=24
widthmode=minus
ymode=abs_bottom
layer=chat

// 589:38
[chat_input_bg]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=chat_input
onload=script13964(event_com, null, rs3tli_text_entry_box)

// 589:39
[chat_input_text]
type=text
width=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chat_input
textfont=museo_sans_11pt_regular_multiline
textalignv=1
textshadow=yes

// 589:40
[input_caret]
type=rectangle
width=1
height=13
layer=chat_input
hide=yes
colour=0x999999
fill=yes

