// 811:0
[com_0]
type=rectangle
widthmode=minus
heightmode=minus
colour=0x000000
fill=yes
trans=25

// 811:1
[mainmodal_window]
type=layer
width=400
height=240
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script10069(lobbyscreen_logout_warning:mainmodal_window_background, lobbyscreen_logout_warning:mainmodal_window_border, lobbyscreen_logout_warning:mainmodal_window_content, null, "Log Out", 28782, null, null)

// 811:2
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 811:3
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 811:4
[com_4]
type=text
y=-50
width=6
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
textfont=notosans_13
text=Are you sure you wish to log out?
textlineheight=12
textalignh=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 811:5
[stay_logged_in]
type=button
y=-2
width=84
height=34
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Stay Logged In
stylesheet=button_action_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use
onbuttonpressed=script15632

// 811:6
[logout]
type=button
y=52
width=84
height=34
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Logout
stylesheet=button_action_neutral
transmitop1=yes
op1=Logout
onbuttonpressed=lobbyscreen_leavelobby

// 811:7
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

