// 821:0
[com_0]
type=rectangle
widthmode=minus
heightmode=minus
colour=0x000000
fill=yes
trans=43

// 821:1
[windowmode_confirm_window]
type=layer
width=500
height=300
xmode=abs_centre
ymode=abs_centre
onload=script10069(lobbyscreen_pvp_warning:windowmode_confirm_background, lobbyscreen_pvp_warning:windowmode_confirm_border, lobbyscreen_pvp_warning:windowmode_confirm_content, null, "Warning: High-risk Wilderness World", 28782, null, null)

// 821:2
[windowmode_confirm_background]
type=layer
widthmode=minus
heightmode=minus
layer=windowmode_confirm_window

// 821:3
[windowmode_confirm_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=windowmode_confirm_window

// 821:4
[main_layer]
type=layer
height=47
widthmode=minus
heightmode=minus
layer=windowmode_confirm_content

// 821:5
[pvp_warning_text_main]
type=text
width=140
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_layer
textfont=notosans_12
text=Warning: This is a High-Risk Wilderness world.<br><br>While you are in the Wilderness on this world, you will not be permitted to use the Protect Item prayer or curse, so you may lose ALL your items when you die.<br><br>You have been warned!
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 3)

// 821:6
[skull_left]
type=model
x=5
width=54
height=64
ymode=abs_centre
layer=main_layer
model=ditch_wilderness_sign_skull
modelorigin_x=1
modelorigin_y=3
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=2440

// 821:7
[skull_right]
type=model
x=5
width=55
height=64
xmode=abs_right
ymode=abs_centre
layer=main_layer
model=ditch_wilderness_sign_skull_mirror
modelorigin_x=0
modelorigin_y=3
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=2440

// 821:8
[windowmode_confirm_border]
type=layer
widthmode=minus
heightmode=minus
layer=windowmode_confirm_window

// 821:9
[button_layer]
type=layer
y=5
width=60
height=42
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=windowmode_confirm_content

// 821:10
[com_10]
type=button
x=5
y=5
width=150
height=32
ymode=abs_bottom
layer=button_layer
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Go Back
stylesheet=button_action_neutral
transmitop1=yes
op1=Go Back
onbuttonpressed=lobbyscreen_pvp_warning(0)

// 821:11
[com_11]
type=button
x=5
y=5
width=150
height=32
xmode=abs_right
ymode=abs_bottom
layer=button_layer
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Continue
stylesheet=button_action_neutral
transmitop1=yes
op1=Continue
onbuttonpressed=lobbyscreen_pvp_warning(1)

