// 724:0
[main]
type=layer
width=300
height=200
xmode=abs_centre

// 724:1
[contents]
type=layer
y=12
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main

// 724:2
[sso_login]
type=layer
widthmode=minus
heightmode=minus
layer=contents
hide=yes

// 724:3
[link_account]
type=layer
widthmode=minus
heightmode=minus
layer=contents

// 724:4
[welcome_link]
type=text
height=32
widthmode=minus
xmode=abs_centre
layer=link_account
textfont=cinzel_18pt_bold
text=Welcome To RuneScape
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 724:5
[link_buttons]
type=layer
y=40
height=40
widthmode=minus
heightmode=minus
layer=link_account
hide=yes

// 724:6
[link_new_confirm]
type=layer
y=35
height=40
widthmode=minus
heightmode=minus
layer=link_account
hide=yes

// 724:7
[confirm_prompt]
type=text
height=110
widthmode=minus
xmode=abs_centre
layer=link_new_confirm
textfont=notosans_15
text=A Steam account can only be linked to one Jagex account.<br><br>If you already play RuneScape you may wish to link an account instead.
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 724:8
[confirm]
type=layer
x=10
y=112
width=130
height=35
layer=link_new_confirm

// 724:9
[cancel]
type=layer
x=10
y=112
width=130
height=35
xmode=abs_right
layer=link_new_confirm

// 724:10
[link_external_login]
type=layer
y=40
height=40
widthmode=minus
heightmode=minus
layer=link_account
hide=yes

// 724:11
[button_prompt]
type=text
height=117
widthmode=minus
xmode=abs_centre
layer=link_external_login
textfont=notosans_15
text=Check your browser for a login page.<br><br>Once you have completed linking your account on the web page use the login button to continue into the game.
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 724:12
[login_button_external]
type=layer
y=115
width=300
height=40
xmode=abs_centre
layer=link_external_login
onmouseover=script7921(login_steam:login_button_small_hover_external)
onmouseleave=script7921(login_steam:login_button_small_external)

// 724:13
[reopen_page]
type=layer
y=165
width=200
height=35
xmode=abs_centre
layer=link_external_login

// 724:14
[cancel_link]
type=layer
y=210
width=200
height=35
xmode=abs_centre
layer=link_external_login

// 724:15
[link_prompt]
type=text
height=40
widthmode=minus
xmode=abs_centre
layer=link_buttons
textfont=notosans_16
text=Do you have an existing RuneScape account?
textlineheight=20
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 724:16
[button_yes]
type=layer
y=60
height=40
widthmode=minus
layer=link_buttons

// 724:17
[button_no]
type=layer
y=120
height=40
widthmode=minus
layer=link_buttons

// 724:18
[welcome_sso]
type=text
height=32
widthmode=minus
xmode=abs_centre
layer=sso_login
textfont=cinzel_18pt_bold
text=Welcome to RuneScape
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 724:19
[logged_in_user]
type=text
y=40
height=40
widthmode=minus
xmode=abs_centre
layer=sso_login
textfont=notosans_16
text=Logging in as:<br><col=ffffff>Username</col>
textlineheight=20
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 724:20
[login_button]
type=layer
y=100
width=300
height=40
xmode=abs_centre
layer=sso_login
onmouseover=script7921(login_steam:login_button_small_hover)
onmouseleave=script7921(login_steam:login_button_small)

// 724:21
[faq_link]
type=text
height=40
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=sso_login
textfont=notosans_14
text=Having trouble with your linked account?
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xba2d14
onmouseover=if_colour_swapper(event_com, ^white)
onmouseleave=if_colour_swapper(event_com, 0xba2d14)
onclick=script15228(1015)

// 724:22
[login_button_graphic]
type=layer
width=243
height=37
xmode=abs_centre
ymode=abs_centre
layer=login_button

// 724:23
[login_button_small_hover]
type=graphic
width=243
height=37
ymode=abs_centre
layer=login_button_graphic
graphic="rs3_login_button_small,1"
colour=0xffffff
clickmask=no

// 724:24
[login_button_small]
type=graphic
width=243
height=37
ymode=abs_centre
layer=login_button_graphic
graphic="rs3_login_button_small,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "rs3_login_button_small,1")
onmouseleave=graphic_swapper(event_com, "rs3_login_button_small,0")
onrelease=graphic_swapper(event_com, "rs3_login_button_small,1")
onhold=graphic_swapper(event_com, "rs3_login_button_small,2")

// 724:25
[login_button_text]
type=text
width=243
height=37
xmode=abs_centre
ymode=abs_centre
layer=login_button
textfont=cinzel_25pt_bold_multiline
text=Login
textalignh=1
textalignv=1
colour=0x000000

// 724:26
[login_button_graphic_external]
type=layer
width=243
height=37
xmode=abs_centre
ymode=abs_centre
layer=login_button_external

// 724:27
[login_button_small_hover_external]
type=graphic
width=243
height=37
ymode=abs_centre
layer=login_button_graphic_external
graphic="rs3_login_button_small,1"
colour=0xffffff
clickmask=no

// 724:28
[login_button_small_external]
type=graphic
width=243
height=37
ymode=abs_centre
layer=login_button_graphic_external
graphic="rs3_login_button_small,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "rs3_login_button_small,1")
onmouseleave=graphic_swapper(event_com, "rs3_login_button_small,0")
onrelease=graphic_swapper(event_com, "rs3_login_button_small,1")
onhold=graphic_swapper(event_com, "rs3_login_button_small,2")

// 724:29
[login_button_text_external]
type=text
width=243
height=37
xmode=abs_centre
ymode=abs_centre
layer=login_button_external
textfont=cinzel_25pt_bold_multiline
text=Login
textalignh=1
textalignv=1
colour=0x000000

