// 662:0
[content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onvartransmit=script12230
onvartransmitlist=lore_timer_var_2

// 662:1
[inventory_window]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer
hide=yes

// 662:2
[inventory_area]
type=layer
height=114
widthmode=minus
heightmode=minus
layer=inventory_window
onload=lore_side_onload
onvartransmit=lore_side_onload
onvartransmitlist=lore_npc_head

// 662:3
[inventory_scroll_layer]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_area

// 662:4
[inventory_slotlayer]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_scroll_layer

// 662:5
[inventory_invlayer]
type=layer
widthmode=minus
heightmode=minus
layer=inventory_scroll_layer

// 662:6
[inventory_scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=inventory_area
hide=yes

// 662:7
[fixed_area]
type=layer
height=114
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=inventory_window

// 662:8
[fixed_spell_points_holder]
type=layer
y=8
width=8192
height=26
widthmode=proportion
xmode=abs_right
layer=fixed_area

// 662:9
[fixed_health_holder]
type=layer
y=8
width=8192
height=26
widthmode=proportion
layer=fixed_area

// 662:10
[animal_fixed_time_left]
type=text
y=13
width=50
height=26
xmode=abs_centre
layer=fixed_area
textfont=museo_sans_13pt_regular
text=00:00
textalignh=1
textalignv=2
textshadow=yes
onvartransmit=script752
onvartransmitlist=lore_timer_var

// 662:11
[lore_fixed_expand_collapse]
type=layer
y=4
width=32
height=16
xmode=abs_centre
layer=fixed_area
onload=script13404
onvartransmit=lore_bob_collapse
onmouserepeat=script8799("Collapse", event_com, event_comsubid)
onvartransmitlist=lore_general_var_unprotected

// 662:12
[collapse_build]
type=layer
width=32
height=16
layer=lore_fixed_expand_collapse

// 662:13
[collapse_click]
type=layer
width=32
height=16
layer=lore_fixed_expand_collapse
transmitop1=yes
op1=Collapse
onop=lore_bob_collapse_client

// 662:14
[lore_fixed_expand_collapse_graphic]
type=graphic
width=18
height=18
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_expand_collapse
graphic="rs3_icon_expand_and_collapse,5"
colour=0xffffff
clickmask=no

// 662:15
[lore_fixed_give]
type=layer
x=-80
y=42
width=32
height=32
xmode=abs_centre
layer=fixed_area
transmitop1=yes
op1=Give BoB
onmouserepeat=script8799("Give Beast of Burden items.", event_com, event_comsubid)

// 662:16
[lore_fixed_dump]
type=layer
x=-40
y=42
width=32
height=32
xmode=abs_centre
layer=fixed_area
transmitop1=yes
op1=Take BoB
onmouserepeat=script8799("Take Beast of Burden items.", event_com, event_comsubid)

// 662:17
[lore_fixed_renew]
type=layer
y=42
width=32
height=32
xmode=abs_centre
layer=fixed_area
transmitop1=yes
op1=Renew Familiar
onmouserepeat=script8799("Renew familiar.", event_com, event_comsubid)

// 662:18
[lore_fixed_spell]
type=layer
x=40
y=42
width=32
height=32
xmode=abs_centre
layer=fixed_area
onmouserepeat=script8799("Cast your familiar scroll", event_com, event_comsubid)

// 662:19
[spell_fixed_auto_fire]
type=layer
x=80
y=42
width=32
height=32
xmode=abs_centre
layer=fixed_area
transmitop1=yes
op1=Set autofire rate
onmouserepeat=script8799("Set the auto fire rate of stored familiar scrolls", event_com, event_comsubid)

// 662:20
[lore_fixed_attack]
type=layer
x=-80
y=78
width=32
height=32
xmode=abs_centre
layer=fixed_area

// 662:21
[lore_fixed_call]
type=layer
x=-40
y=78
width=32
height=32
xmode=abs_centre
layer=fixed_area
transmitop1=yes
op1=Call Follower
onmouserepeat=script8799("Call familiar.", event_com, event_comsubid)

// 662:22
[lore_fixed_dismiss]
type=layer
y=78
width=32
height=32
xmode=abs_centre
layer=fixed_area
transmitop1=yes
transmitop2=yes
op1=Dismiss Familiar
op2=Dismiss Now
onmouserepeat=script8799("Dismiss familiar.", event_com, event_comsubid)

// 662:23
[fixed_settings]
type=layer
x=40
y=78
width=32
height=32
xmode=abs_centre
layer=fixed_area
transmitop1=yes
op1=Open Summoning settings

// 662:24
[com_24]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_call
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:25
[call_animal_button_graphic_1]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_call
graphic="rs3_icon_familiar_call,1"
colour=0xffffff
clickmask=no

// 662:26
[com_26]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_dump
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:27
[bobdump_graphic_1]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_dump
graphic="rs3_icon_familiar_take_from_beast,0"
colour=0xffffff
clickmask=no

// 662:28
[com_28]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_give
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:29
[bobgive_graphic_1]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_give
graphic="rs3_icon_familiar_give_to_beast,0"
colour=0xffffff
clickmask=no

// 662:30
[lore_fixed_switchmode]
type=layer
x=80
y=78
width=32
height=32
xmode=abs_centre
layer=fixed_area
transmitop1=yes
op1=Back
onop=lore_side_onop

// 662:31
[com_31]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_renew
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:32
[lore_renew_button_graphic_1]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_renew
graphic="rs3_icon_familiar_renew,1"
colour=0xffffff
clickmask=no

// 662:33
[com_33]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_dismiss
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:34
[dismiss_button_graphic_1]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_dismiss
graphic="rs3_icon_familiar_dismiss,1"
colour=0xffffff
clickmask=no

// 662:35
[com_35]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_attack
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:36
[attack_button_1]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_attack
graphic="rs3_icon_familiar_attack,1"
colour=0xffffff
clickmask=no
targetmask=npc,player
targetverb=Attack
ontargetleave=magic_leavetargetmode(event_com)
ontargetenter=magic_entertargetmode(event_com)
onmouserepeat=script8799("Order your familiar to attack a target.", event_com, event_comsubid)

// 662:37
[com_37]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_spell
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:38
[lore_spell_button_graphic_1]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_spell
graphic="rs3_icon_familiar_special,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Cast
onload=script211(event_com)
onvartransmit=script211(event_com)
onvarcstrtransmit=script211(event_com)
onvartransmitlist=follower_obj
onvarcstrtransmitlist=varclientstring_2517

// 662:39
[com_39]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_switchmode
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:40
[switchmode_graphic_1]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_fixed_switchmode
graphic="rs3_icon_back_32px,1"
colour=0xffffff
clickmask=no
targetmask=npc,player
onmouserepeat=script8799("Switch the display mode of your familiar window.<br>You can toggle between the default view and viewing your familiars inventory, if it carries items.", event_com, event_comsubid)

// 662:41
[lore_fixed_health_bar]
type=layer
x=8
width=32
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=fixed_health_holder
onload=script3707(event_com)
onvartransmit=script3708(event_com)
onvartransmitlist=lore_npc_health,lore_npc_health

// 662:42
[lore_fixed_spell_points]
type=layer
x=8
width=32
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=fixed_spell_points_holder
onload=diango_task_updatetext(event_com)
onvartransmit=script11684(event_com)
onvartransmitlist=lore_spell_points

// 662:43
[full_details_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 662:44
[lore_bounding_box]
type=layer
y=4
width=8
height=44
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=full_details_layer

// 662:45
[lore_bob]
type=layer
height=40
widthmode=minus
ymode=abs_bottom
layer=full_details_layer

// 662:46
[info_popup]
type=layer
y=34
width=28
height=4
widthmode=minus
xmode=abs_centre
layer=full_details_layer
noclickthrough=yes

// 662:47
[info_popup_bg]
type=layer
widthmode=minus
heightmode=minus
layer=info_popup

// 662:48
[info_popup_text]
type=layer
widthmode=minus
heightmode=minus
layer=info_popup

// 662:49
[info_popup_scrollbar]
type=layer
y=4
width=16
height=4
heightmode=minus
xmode=abs_right
layer=info_popup

// 662:50
[header_holder]
type=layer
y=14
width=28
height=24
widthmode=minus
xmode=abs_centre
layer=full_details_layer
transmitop1=yes
op1=View information
onop=script13497(lore_stats_side:info_popup)

// 662:51
[background]
type=layer
widthmode=minus
heightmode=minus
layer=lore_bounding_box
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 662:52
[lore_chathead]
type=model
y=-1279
width=78
height=86
xmode=abs_centre
ymode=proportion_centre
layer=lore_bounding_box
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=2033
modelangle_y=1833
modelangle_z=0
modelzoom=2168
dragdeadtime=19
onvartransmit=lore_head_update
onvartransmitlist=lore_npc_head,lore_incubators_var

// 662:53
[lore_renew_button]
type=layer
x=10
y=44
width=32
height=32
layer=lore_bounding_box
transmitop1=yes
transmitop10=yes
op1=Renew Familiar
op10= 
onmouserepeat=script8799("Renew familiar.", event_com, event_comsubid)

// 662:54
[call_animal_button]
type=layer
x=10
y=86
width=32
height=32
layer=lore_bounding_box
transmitop1=yes
op1=Call Follower
onmouserepeat=script10646(event_com, event_comsubid)

// 662:55
[time]
type=layer
y=44
width=70
height=20
xmode=abs_centre
layer=lore_bounding_box

// 662:56
[dismiss_button]
type=layer
x=10
y=44
width=32
height=32
xmode=abs_right
layer=lore_bounding_box
transmitop1=yes
transmitop2=yes
op1=Dismiss Familiar
op2=Dismiss Now
onmouserepeat=script10647(event_com, event_comsubid)

// 662:57
[com_57]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=header_holder
colour=0x1c3b40
fill=yes
onload=script10496(event_com, event_comsubid, 10)

// 662:58
[lore_name]
type=text
x=4
y=-2
width=30
widthmode=minus
heightmode=minus
layer=header_holder
textfont=cinzel_13pt_bold
text=Pack yak
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 11837586)

// 662:59
[familiar_info]
type=graphic
width=32
height=32
xmode=abs_right
ymode=abs_centre
layer=header_holder
graphic="rs3_icon_info_32px,0"
colour=0xffffff
clickmask=no

// 662:60
[com_60]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=call_animal_button
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:61
[call_animal_button_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=call_animal_button
graphic="rs3_icon_familiar_call,1"
colour=0xffffff
clickmask=no

// 662:62
[com_62]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=dismiss_button
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:63
[dismiss_button_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=dismiss_button
graphic="rs3_icon_familiar_dismiss,1"
colour=0xffffff
clickmask=no

// 662:64
[info_holder]
type=layer
height=130
widthmode=minus
ymode=abs_bottom
layer=lore_bounding_box

// 662:65
[lore_health_holder]
type=layer
y=98
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=info_holder

// 662:66
[lore_familiar_healthbar_button]
type=layer
x=8
width=100
height=26
widthmode=minus
ymode=abs_centre
layer=lore_health_holder
onload=script3707(event_com)
onvartransmit=script3708(event_com)
onvartransmitlist=lore_npc_health,lore_npc_health

// 662:67
[attack_layer]
type=layer
x=52
width=32
height=32
xmode=abs_right
ymode=abs_centre
layer=lore_health_holder

// 662:68
[settings]
type=layer
x=10
width=32
height=32
xmode=abs_right
ymode=abs_centre
layer=lore_health_holder
transmitop1=yes
op1=Open Summoning settings

// 662:69
[lore_spell_points_holder]
type=layer
y=56
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=info_holder

// 662:70
[lore_familiar_specbar_button]
type=layer
x=8
width=100
height=26
widthmode=minus
ymode=abs_centre
layer=lore_spell_points_holder
onload=diango_task_updatetext(event_com)
onvartransmit=script11684(event_com)
onvartransmitlist=lore_spell_points

// 662:71
[scroll_counter_holder_small]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=lore_familiar_specbar_button

// 662:72
[scroll_small]
type=layer
y=1
width=52
height=16
xmode=abs_right
layer=scroll_counter_holder_small
noclickthrough=yes

// 662:73
[spell_icon]
type=layer
x=52
width=32
height=32
xmode=abs_right
ymode=abs_centre
layer=lore_spell_points_holder
onmouserepeat=script8799("Cast your familiar special ability", event_com, event_comsubid)

// 662:74
[spell_auto_fire]
type=layer
x=10
width=32
height=32
xmode=abs_right
ymode=abs_centre
layer=lore_spell_points_holder
transmitop1=yes
op1=Set autofire rate
onmouserepeat=script8799("Set the auto fire rate of stored familiar scrolls", event_com, event_comsubid)

// 662:75
[scroll_background]
type=graphic
widthmode=minus
heightmode=minus
layer=scroll
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_inv_icon_slot)

// 662:76
[scroll_object]
type=graphic
x=2
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=scroll
colour=0xffffff
clickmask=no

// 662:77
[scroll_counter_holder]
type=layer
y=10
height=36
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=info_holder

// 662:78
[scroll]
type=layer
x=-74
width=40
height=36
xmode=abs_centre
ymode=abs_bottom
layer=scroll_counter_holder
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
op1=Store max scrolls
op2=Take all scrolls
op3=Store X scrolls
op4=Take X scrolls
onvartransmit=script16110
onvartransmitlist=powerburst_parent1,cape_operate_unlocks_parent

// 662:79
[scroll_inv]
type=layer
x=-9
width=70
height=32
xmode=abs_centre
ymode=abs_bottom
layer=scroll_counter_holder

// 662:80
[scroll_familiar]
type=layer
x=59
width=70
height=32
xmode=abs_centre
ymode=abs_bottom
layer=scroll_counter_holder

// 662:81
[com_81]
type=graphic
width=32
height=32
ymode=abs_centre
layer=scroll_inv
graphic=rs3_menu_icon_backpack_normal
colour=0xffffff
clickmask=no

// 662:82
[lore_scroll_counter_inv]
type=text
width=40
height=26
xmode=abs_right
ymode=abs_centre
layer=scroll_inv
textfont=museo_sans_13pt_regular
text=999
textalignh=1
textalignv=1
textshadow=yes
onvartransmit=lore_pouch_counter
oninvtransmit=lore_pouch_counter
onvartransmitlist=combatv2_summoning
oninvtransmitlist=inv

// 662:83
[com_83]
type=graphic
width=32
height=32
ymode=abs_centre
layer=scroll_familiar
graphic="rs3_familiar_summoning_icons,5"
colour=0xffffff
clickmask=no

// 662:84
[lore_scroll_counter_familiar]
type=text
width=40
height=26
xmode=abs_right
ymode=abs_centre
layer=scroll_familiar
textfont=museo_sans_13pt_regular
text=999
textalignh=1
textalignv=1
textshadow=yes
onvartransmit=lore_pouch_counter
oninvtransmit=lore_pouch_counter
onvartransmitlist=combatv2_summoning
oninvtransmitlist=inv

// 662:85
[switchmode_back]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=switchmode_button
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:86
[switchmode_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=switchmode_button
graphic="rs3_icon_familiar_beast_burden,0"
colour=0xffffff
clickmask=no
targetmask=npc,player
onmouserepeat=script8799("Switch the display mode of your familiar window.<br>You can toggle between the default view and viewing your familiars inventory, if it carries items.", event_com, event_comsubid)

// 662:87
[lore_pets]
type=layer
height=261
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=lore_bounding_box
hide=yes

// 662:88
[lore_pet_hunger_button]
type=layer
x=8
y=92
width=16
height=26
widthmode=minus
ymode=abs_bottom
layer=lore_pets
onload=script5644(event_com)
onvartransmit=script7217(event_com)
onvartransmitlist=lore_npc_stats

// 662:89
[lore_pet_growth_button]
type=layer
x=8
y=58
width=16
height=26
widthmode=minus
ymode=abs_bottom
layer=lore_pets
onload=script9724(event_com)
onvartransmit=script10194(event_com)
onvartransmitlist=lore_npc_stats

// 662:90
[pet_abilities]
type=layer
y=10
height=38
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=lore_pets
onload=script10648
onvartransmit=script10648
onvarctransmit=script10648
onvartransmitlist=follower_obj,mtx_familiar_override,mtx_familiar_override,mtx_familiar_override,mtx_pet_ability_cooldown,mtx_pet_ability_cooldown_2
onvarctransmitlist=mtx_pet_available_abilities

// 662:91
[pet_ability_1]
type=layer
x=-45
width=37
height=37
xmode=abs_centre
ymode=abs_centre
layer=pet_abilities
transmitop1=yes
op1=Activate

// 662:92
[pet_ability_graphic_3]
type=graphic
widthmode=minus
heightmode=minus
layer=pet_ability_3
colour=0xffffff
clickmask=no

// 662:93
[pet_ability_text_bg_3]
type=rectangle
height=16
widthmode=minus
ymode=abs_bottom
layer=pet_ability_3
colour=0x000000
fill=yes
trans=100

// 662:94
[pet_ability_text_3]
type=text
widthmode=minus
heightmode=minus
layer=pet_ability_3
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=2
textshadow=yes

// 662:95
[pet_ability_2]
type=layer
width=37
height=37
xmode=abs_centre
ymode=abs_centre
layer=pet_abilities
transmitop1=yes
op1=Activate

// 662:96
[pet_ability_3]
type=layer
x=45
width=37
height=37
xmode=abs_centre
ymode=abs_centre
layer=pet_abilities
transmitop1=yes
op1=Activate

// 662:97
[pet_ability_graphic_2]
type=graphic
widthmode=minus
heightmode=minus
layer=pet_ability_2
colour=0xffffff
clickmask=no

// 662:98
[pet_ability_text_bg_2]
type=rectangle
height=16
widthmode=minus
ymode=abs_bottom
layer=pet_ability_2
colour=0x000000
fill=yes
trans=100

// 662:99
[pet_ability_text_2]
type=text
widthmode=minus
heightmode=minus
layer=pet_ability_2
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=2
textshadow=yes

// 662:100
[pet_ability_graphic_1]
type=graphic
width=36
height=36
layer=pet_ability_1
colour=0xffffff
clickmask=no

// 662:101
[pet_ability_text_bg_1]
type=rectangle
height=16
widthmode=minus
ymode=abs_bottom
layer=pet_ability_1
colour=0x000000
fill=yes
trans=100

// 662:102
[pet_ability_text_1]
type=text
widthmode=minus
heightmode=minus
layer=pet_ability_1
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=2
textshadow=yes

// 662:103
[com_103]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=attack_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:104
[attack_button]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=attack_layer
graphic="rs3_icon_familiar_attack,1"
colour=0xffffff
clickmask=no
targetmask=npc,player
targetverb=Attack Target
ontargetleave=magic_leavetargetmode(event_com)
ontargetenter=magic_entertargetmode(event_com)
onmouserepeat=script8799("Order your familiar to attack a target.", event_com, event_comsubid)

// 662:105
[bobgive]
type=layer
x=-36
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_bob
transmitop1=yes
op1=Give BoB
onmouserepeat=script8799("Give Beast of Burden items.", event_com, event_comsubid)

// 662:106
[bobdump]
type=layer
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_bob
transmitop1=yes
op1=Take BoB
onmouserepeat=script8799("Take Beast of Burden items.", event_com, event_comsubid)

// 662:107
[com_107]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=bobdump
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:108
[bobdump_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=bobdump
graphic="rs3_icon_familiar_take_from_beast,0"
colour=0xffffff
clickmask=no

// 662:109
[switchmode_button]
type=layer
x=36
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_bob
transmitop1=yes
op1=View BoB inventory
onop=lore_side_onop

// 662:110
[com_110]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=bobgive
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:111
[bobgive_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=bobgive
graphic="rs3_icon_familiar_give_to_beast,0"
colour=0xffffff
clickmask=no

// 662:112
[com_112]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_renew_button
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:113
[lore_renew_button_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=lore_renew_button
graphic="rs3_icon_familiar_renew,1"
colour=0xffffff
clickmask=no

// 662:114
[time_icon]
type=graphic
width=20
height=20
ymode=abs_centre
layer=time
graphic=rs3_icon_sand_timer
colour=0xffffff
clickmask=no

// 662:115
[animal_time_left]
type=text
width=50
height=24
xmode=abs_right
ymode=abs_centre
layer=time
textfont=museo_sans_13pt_regular
text=00:00
textalignh=1
textalignv=1
textshadow=yes
onvartransmit=script752
onvartransmitlist=lore_timer_var

// 662:116
[com_116]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=spell_icon
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:117
[lore_spell_button_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=spell_icon
graphic="rs3_icon_familiar_special,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Cast
onload=script211(event_com)
onvartransmit=script211(event_com)
onvarcstrtransmit=script211(event_com)
onvartransmitlist=follower_obj
onvarcstrtransmitlist=varclientstring_2517

// 662:118
[com_118]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=settings
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:119
[settings_button_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=settings
graphic="rs3_icon_settings_32px,1"
colour=0xffffff
clickmask=no
targetmask=npc,player
onmouserepeat=script8799("Open the Summoning skill settings", event_com, event_comsubid)

// 662:120
[com_120]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=spell_auto_fire
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:121
[lore_auto_fire_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=spell_auto_fire
graphic="rs3_icon_familiar_special_settings,1"
colour=0xffffff
clickmask=no

// 662:122
[lore_scroll_counter_small]
type=text
width=35
height=26
xmode=abs_right
ymode=abs_centre
layer=scroll_small
textfont=museo_sans_13pt_regular
text=110M
textalignh=2
textalignv=1
textshadow=yes
onvartransmit=lore_pouch_counter
oninvtransmit=lore_pouch_counter
onvartransmitlist=combatv2_summoning
oninvtransmitlist=inv

// 662:123
[scroll_counter_graphic_small]
type=graphic
x=36
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=scroll_small
graphic=rs3_menu_icon_backpack_normal
colour=0xffffff
clickmask=no

// 662:124
[com_124]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=spell_fixed_auto_fire
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:125
[lore_auto_fire_graphic_fixed]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=spell_fixed_auto_fire
graphic="rs3_icon_familiar_special_settings,1"
colour=0xffffff
clickmask=no

// 662:126
[com_126]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=fixed_settings
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 662:127
[settings_button_graphic_1]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=fixed_settings
graphic="rs3_icon_settings_32px,1"
colour=0xffffff
clickmask=no
targetmask=npc,player
onmouserepeat=script8799("Open the Summoning skill settings", event_com, event_comsubid)

