// 668:0
[window]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(lore_buydog:background, lore_buydog:border, lore_buydog:content, lore_buydog:close, "Pick a Puppy", 23001, string_1006)

// 668:1
[bulldog]
type=model
x=120
y=30
width=39
height=37
layer=bounding_box
model=lore_bulldog_obj
modelorigin_x=3
modelorigin_y=1
modelangle_x=42
modelangle_y=1897
modelangle_z=0
modelzoom=325
transmitop1=yes
op1=Pick me
onmouseleave=script8805
onmouserepeat=script8799("Bulldog", event_com, event_comsubid)

// 668:2
[dalmation]
type=model
x=181
y=29
width=50
height=41
layer=bounding_box
model=lore_dalmation_obj
modelorigin_x=7
modelorigin_y=3
modelangle_x=75
modelangle_y=1885
modelangle_z=0
modelzoom=250
transmitop1=yes
op1=Pick me
onmouseleave=script8805
onmouserepeat=script8799("Dalmatian", event_com, event_comsubid)

// 668:3
[greyhound]
type=model
x=253
y=34
width=48
height=33
layer=bounding_box
model=lore_greyhound_obj
modelorigin_x=5
modelorigin_y=6
modelangle_x=45
modelangle_y=1879
modelangle_z=0
modelzoom=225
transmitop1=yes
op1=Pick me
onmouseleave=script8805
onmouserepeat=script8799("Greyhound", event_com, event_comsubid)

// 668:4
[terrier]
type=model
x=313
y=27
width=43
height=44
layer=bounding_box
model=lore_terrier_obj
modelorigin_x=0
modelorigin_y=1
modelangle_x=36
modelangle_y=1897
modelangle_z=0
modelzoom=400
transmitop1=yes
op1=Pick me
onmouseleave=script8805
onmouserepeat=script8799("Terrier", event_com, event_comsubid)

// 668:5
[sheepdog]
type=model
x=375
y=25
width=49
height=44
layer=bounding_box
model=lore_sheepdog_obj
modelorigin_x=9
modelorigin_y=1
modelangle_x=39
modelangle_y=1918
modelangle_z=0
modelzoom=400
transmitop1=yes
op1=Pick me
onmouseleave=script8805
onmouserepeat=script8799("Sheepdog", event_com, event_comsubid)

// 668:6
[labrador]
type=model
x=55
y=29
width=44
height=38
layer=bounding_box
model=lore_labrador_obj
modelorigin_x=7
modelorigin_y=3
modelangle_x=2041
modelangle_y=1885
modelangle_z=0
modelzoom=375
transmitop1=yes
op1=Pick me
onmouseleave=script8805
onmouserepeat=script8799("Labrador", event_com, event_comsubid)

// 668:7
[background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=window

// 668:8
[content]
type=layer
y=32
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=window

// 668:9
[bounding_box]
type=layer
width=506
height=98
xmode=abs_centre
ymode=abs_centre
layer=content

// 668:10
[border]
type=layer
widthmode=minus
heightmode=minus
layer=window

// 668:11
[close]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=window
transmitop1=yes
op1=Close
onop=closebutton_click

