// 663:0
[lore_chathead]
type=model
width=78
height=86
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content
model=null
modelorigin_x=4
modelorigin_y=4
modelangle_x=2033
modelangle_y=1833
modelangle_z=0
modelzoom=2168
onvartransmit=script819
onvartransmitlist=lore_npc_head

// 663:1
[contents]
type=layer
widthmode=minus
heightmode=minus
onvartransmit=script820
onvartransmitlist=lore_npc_stats

// 663:2
[bespoke_window]
type=layer
y=5
width=190
height=133
xmode=abs_centre
layer=contents
onload=script8420(lore_cats_side:bespoke_window_background, lore_cats_side:bespoke_window_border, lore_cats_side:bespoke_window_content, null, "", 21259, null)

// 663:3
[lore_name]
type=text
y=143
width=20
height=22
widthmode=minus
xmode=abs_centre
layer=contents
textfont=cinzel_13pt_bold
fontmono=no
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 663:4
[cat_bounding_box]
type=layer
y=170
height=90
widthmode=minus
layer=contents

// 663:5
[call]
type=layer
x=35
y=5
width=32
height=32
ymode=abs_bottom
layer=cat_bounding_box

// 663:6
[dismiss]
type=layer
x=35
y=5
width=32
height=32
xmode=abs_right
ymode=abs_bottom
layer=cat_bounding_box

// 663:7
[call_animal_button]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=call
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Call
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)
onmouserepeat=script8799("Call", event_com, event_comsubid)

// 663:8
[com_8]
type=graphic
width=25
height=25
xmode=abs_centre
ymode=abs_centre
layer=call
graphic="lore_icons,3"
colour=0xffffff
clickmask=no

// 663:9
[size_icon]
type=graphic
x=39
y=63
width=25
height=25
xmode=abs_right
ymode=abs_bottom
layer=cat_bounding_box
graphic="lore_icons,1"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Pet Size Percentage", event_com, event_comsubid)

// 663:10
[size_percentage]
type=text
x=32
y=46
width=32
height=15
xmode=abs_right
ymode=abs_bottom
layer=cat_bounding_box
textfont=museo_sans_11pt_regular
text=100%
textalignh=1
textalignv=1
textshadow=yes
onmouserepeat=script8799("Pet Size Percentage", event_com, event_comsubid)

// 663:11
[hunger_icon]
type=graphic
x=40
y=63
width=25
height=25
ymode=abs_bottom
layer=cat_bounding_box
graphic="lore_icons,0"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Pet Hunger Percentage", event_com, event_comsubid)

// 663:12
[hunger]
type=text
x=36
y=46
width=32
height=15
ymode=abs_bottom
layer=cat_bounding_box
textfont=museo_sans_11pt_regular
text=9999
textalignh=1
textalignv=1
textshadow=yes
onmouserepeat=script8799("Pet Hunger Percentage", event_com, event_comsubid)

// 663:13
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 663:14
[bespoke_window_content]
type=layer
x=4
y=4
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window

// 663:15
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window

// 663:16
[dismiss_button]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=dismiss
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
op1=Dismiss
op2=Dismiss Now
onload=script13914(event_com, rs3tli_32px_icon_button)
onmouserepeat=script8799("Dismiss", event_com, event_comsubid)

// 663:17
[com_17]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=dismiss
graphic="rs3_familiar_summoning_icons,1"
colour=0xffffff
clickmask=no

