// 990:0
[control]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=love_cutscenes(event_com, love_cutscenes:dummy_hud, love_cutscenes:instructions, love_cutscenes:text, love_cutscenes:clanwars)
onvarctransmit=love_cutscenes(event_com, love_cutscenes:dummy_hud, love_cutscenes:instructions, love_cutscenes:text, love_cutscenes:clanwars)
onvarctransmitlist=tutorial3_cutscene_tracker

// 990:1
[dummy_hud]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=control
hide=yes

// 990:2
[com_2]
type=model
width=20999
height=27969
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=dummy_hud
model=player_owned_houses_poh_portal_for_if
modelnodepth=yes
modelorigin_x=0
modelorigin_y=504
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=130
modelanim=love_scrying_interface
modelobjwidth=1025
modelobjheight=1024

// 990:3
[instructions]
type=layer
x=10
width=80
height=200
ymode=abs_centre
layer=dummy_hud

// 990:4
[clanwars]
type=layer
x=5
width=64
height=72
xmode=abs_right
ymode=abs_centre
layer=control
hide=yes
transmitop10=yes
op10= 

// 990:5
[clanwars_background]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clanwars
tiling=yes
trans=125
colour=0x000000
clickmask=no
transmitop10=yes
op10= 

// 990:6
[clanwars_icon]
type=graphic
y=15
width=32
height=32
xmode=abs_centre
layer=clanwars
graphic="options_icons,18"
colour=0x000000
clickmask=no
transmitop10=yes
op10= 

// 990:7
[clanwars_header]
type=text
y=3
height=13
widthmode=minus
layer=clanwars
textfont=p11_full
text=On death:
textalignh=1
textshadow=yes
colour=0x000000
transmitop10=yes
op10= 

// 990:8
[clanwars_text]
type=text
y=46
height=23
widthmode=minus
layer=clanwars
textfont=p11_full
textalignh=1
textshadow=yes
colour=0x000000
transmitop10=yes
op10= 

// 990:9
[bg]
type=layer
width=80
height=200
layer=instructions
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 990:10
[text]
type=text
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=instructions
textfont=museo_sans_11pt_regular
text=Click on the ground to move the dummy.<br><br>Click on doors and stairs to use them.
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

