// 1413:0
[bar_fill]
type=graphic
x=10
y=8
width=425
height=12
layer=progress_bar
graphic="combatv2_energy_level,0"
colour=0x2dff00
clickmask=no

// 1413:1
[bar]
type=graphic
x=10
y=8
width=425
height=12
layer=progressbar_layer
graphic="combatv2_energy_level,0"
colour=0x990000
clickmask=no

// 1413:2
[progress_bar]
type=layer
width=222
heightmode=minus
layer=progressbar_layer

// 1413:3
[bg]
type=graphic
width=445
height=24
xmode=abs_centre
layer=progressbar_layer
graphic=combatv2_bar_2
colour=0xffffff
clickmask=no

// 1413:4
[text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=progressbar_layer
textfont=verdana_11pt_bold
text=Bring him down!
textalignh=1
textalignv=1
textshadow=yes
colour=0xfff387
onload=script7726(lrc2:progress_bar)
ontimer=script7727(lrc2:progress_bar)

// 1413:5
[progressbar_layer]
type=layer
y=25
width=445
height=25
xmode=abs_centre

