// 1081:0
[button1]
type=layer
x=-50
y=-60
width=90
height=115
xmode=abs_centre
ymode=abs_centre
layer=base
transmitop1=yes
op1=Cure

// 1081:1
[bg1]
type=layer
widthmode=minus
heightmode=minus
layer=button1
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1081:2
[com_2]
type=text
y=5
height=12
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button1
textfont=museo_sans_13pt_regular
text=1.
textalignh=1
textalignv=1
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1081:3
[button2]
type=layer
x=50
y=-60
width=90
height=115
xmode=abs_centre
ymode=abs_centre
layer=base
transmitop1=yes
op1=Cure

// 1081:4
[bg2]
type=layer
widthmode=minus
heightmode=minus
layer=button2
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1081:5
[com_5]
type=text
y=5
height=12
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button2
textfont=museo_sans_13pt_regular
text=2.
textalignh=1
textalignv=1
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1081:6
[button3]
type=layer
x=-50
y=60
width=90
height=115
xmode=abs_centre
ymode=abs_centre
layer=base
transmitop1=yes
op1=Cure

// 1081:7
[bg3]
type=layer
widthmode=minus
heightmode=minus
layer=button3
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1081:8
[com_8]
type=text
y=5
height=12
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button3
textfont=museo_sans_13pt_regular
text=3.
textalignh=1
textalignv=1
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1081:9
[button4]
type=layer
x=50
y=60
width=90
height=115
xmode=abs_centre
ymode=abs_centre
layer=base
transmitop1=yes
op1=Cure

// 1081:10
[bg4]
type=layer
widthmode=minus
heightmode=minus
layer=button4
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1081:11
[com_11]
type=text
y=5
height=12
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button4
textfont=museo_sans_13pt_regular
text=4.
textalignh=1
textalignv=1
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1081:12
[title]
type=text
y=5
height=21
widthmode=minus
xmode=abs_centre
layer=base
textfont=museo_sans_13pt_regular
text=Identify the strain of livid:
textlineheight=21
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1081:13
[base]
type=layer
widthmode=minus
heightmode=minus
onload=script11038

// 1081:14
[unselected]
type=layer
widthmode=minus
heightmode=minus
layer=base
noclickthrough=yes

// 1081:15
[com_15]
type=rectangle
widthmode=minus
heightmode=minus
layer=unselected
colour=0x000000
fill=yes
trans=25

// 1081:16
[title_1]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=unselected
textfont=museo_sans_13pt_regular
text=No livid selected.
textlineheight=21
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1081:17
[plant4]
type=model
y=2
width=75
height=104
xmode=abs_centre
ymode=abs_bottom
layer=button4
model=lunarfm_patch_healthy_plant_type4
modelorigin_x=2
modelorigin_y=33
modelangle_x=170
modelangle_y=284
modelangle_z=0
modelzoom=1130
onload=set_spinner(0, 5, 0, event_com)

// 1081:18
[plant3]
type=model
y=6
width=71
height=104
xmode=abs_centre
ymode=abs_bottom
layer=button3
model=lunarfm_patch_healthy_plant_type3
modelorigin_x=0
modelorigin_y=33
modelangle_x=170
modelangle_y=284
modelangle_z=0
modelzoom=1120
onload=set_spinner(0, 5, 0, event_com)

// 1081:19
[plant2]
type=model
x=2
y=6
width=78
height=102
xmode=abs_centre
ymode=abs_bottom
layer=button2
model=lunarfm_patch_healthy_plant_type2
modelorigin_x=-1
modelorigin_y=30
modelangle_x=170
modelangle_y=284
modelangle_z=0
modelzoom=1020
onload=set_spinner(0, 5, 0, event_com)

// 1081:20
[plant1]
type=model
y=4
width=73
height=96
xmode=abs_centre
ymode=abs_bottom
layer=button1
model=lunarfm_patch_healthy_plant_type1
modelorigin_x=0
modelorigin_y=29
modelangle_x=170
modelangle_y=284
modelangle_z=0
modelzoom=1100
onload=set_spinner(0, 5, 0, event_com)

