// 623:0
[line_1]
type=layer
y=58
height=2
widthmode=minus
layer=mainmodal_window_content
onload=script349(event_com)

// 623:1
[sun_colour]
type=layer
width=15
height=25
widthmode=minus
layer=scroll_layer
onvartransmit=script2881
onvartransmitlist=machinima_custom_skybox_temp_1

// 623:2
[sun_ambient]
type=layer
y=30
width=15
height=25
widthmode=minus
layer=scroll_layer
onvartransmit=script2881
onvartransmitlist=machinima_custom_skybox_temp_2

// 623:3
[fog_colour]
type=layer
y=65
width=15
height=25
widthmode=minus
layer=scroll_layer
onvartransmit=script2881
onvartransmitlist=machinima_custom_skybox_temp_3

// 623:4
[fog_depth]
type=layer
y=95
width=15
height=25
widthmode=minus
layer=scroll_layer
onvartransmit=script2881
onvartransmitlist=machinima_custom_skybox_temp_4

// 623:5
[volumetric_colour]
type=layer
y=130
width=471
height=25
layer=scroll_layer

// 623:6
[volumetric_density]
type=layer
y=160
width=15
height=25
widthmode=minus
layer=scroll_layer

// 623:7
[skybox_base]
type=text
x=10
y=-2
width=216
height=24
widthmode=minus
layer=advanced_layer
textfont=museo_sans_11pt_regular_multiline
text=Test text
textalignv=1
textshadow=yes
onmouserepeat=script8799("You are editing the values of this skybox", event_com, event_comsubid)

// 623:8
[skybox_1]
type=text
y=22
height=22
widthmode=minus
layer=advanced_layer
textfont=museo_sans_11pt_regular
text=This is an advanced feature. You might get strange results.
textalignh=1
textalignv=1
textshadow=yes

// 623:9
[enable_advanced_checkbox_withlabel]
type=layer
x=5
width=200
height=27
xmode=abs_right
layer=advanced_layer

// 623:10
[values]
type=layer
y=40
width=6
height=80
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=advanced_layer

// 623:11
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=values
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 623:12
[scroll_bar]
type=layer
x=4
width=16
height=8
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=values

// 623:13
[scroll_layer]
type=layer
x=4
y=4
width=24
height=8
widthmode=minus
heightmode=minus
layer=values

// 623:14
[buttons]
type=layer
y=5
width=6
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=advanced_layer

// 623:15
[data_button]
type=layer
width=150
height=27
ymode=abs_centre
layer=buttons
onload=script6233(machinima_skybox_filter:data_build, machinima_skybox_filter:data_click, rs3tli_3x3_button, "Load default data")
onmouserepeat=script8799("Grab the values that are used in the selected skybox", event_com, event_comsubid)

// 623:16
[load_save_button]
type=layer
width=150
height=27
xmode=abs_centre
ymode=abs_centre
layer=buttons
onload=script6233(machinima_skybox_filter:load_save_build, machinima_skybox_filter:load_save_click, rs3tli_3x3_button, "Load save data")
onmouserepeat=script8799("Load saved values", event_com, event_comsubid)

// 623:17
[save_button]
type=layer
width=150
height=27
xmode=abs_right
ymode=abs_centre
layer=buttons
onload=script13968(machinima_skybox_filter:save_build, machinima_skybox_filter:save_click, rs3tli_positive_button, "Save")
onmouserepeat=script8799("Save the values chosen", event_com, event_comsubid)

// 623:18
[3x3_button_2]
type=layer
x=380
width=60
heightmode=minus
ymode=abs_centre
layer=sun_colour
onload=script10896(machinima_skybox_filter:sun_b_build, machinima_skybox_filter:sun_b_click, rs3tli_3x3_button)
onmouserepeat=script8799("Value 0-255", event_com, event_comsubid)

// 623:19
[3x3_button_1]
type=layer
x=280
width=60
heightmode=minus
ymode=abs_centre
layer=sun_colour
onload=script10896(machinima_skybox_filter:sun_g_build, machinima_skybox_filter:sun_g_click, rs3tli_3x3_button)
onmouserepeat=script8799("Value 0-255", event_com, event_comsubid)

// 623:20
[3x3_button]
type=layer
x=180
width=60
heightmode=minus
ymode=abs_centre
layer=sun_colour
onload=script10896(machinima_skybox_filter:sun_r_build, machinima_skybox_filter:sun_r_click, rs3tli_3x3_button)
onmouserepeat=script8799("Value 0-255", event_com, event_comsubid)

// 623:21
[com_21]
type=text
width=130
heightmode=minus
layer=sun_colour
textfont=museo_sans_11pt_regular
text=Sun colour
textalignv=1
textshadow=yes
onmouserepeat=script8799("The colour of the sun", event_com, event_comsubid)

// 623:22
[com_22]
type=text
x=145
width=30
heightmode=minus
layer=sun_colour
textfont=museo_sans_17pt_bold
text=R
textalignh=2
textalignv=1
textshadow=yes
colour=0xff0000

// 623:23
[com_23]
type=text
x=245
width=30
heightmode=minus
layer=sun_colour
textfont=museo_sans_17pt_bold
text=G
textalignh=2
textalignv=1
textshadow=yes
colour=0x00ff00

// 623:24
[com_24]
type=text
x=345
width=30
heightmode=minus
layer=sun_colour
textfont=museo_sans_17pt_bold
text=B
textalignh=2
textalignv=1
textshadow=yes
colour=0x0000ff

// 623:25
[advanced_tab]
type=layer
x=230
width=110
height=27
ymode=abs_bottom
layer=tab_layer
onload=script13968(machinima_skybox_filter:advanced_tab_build, machinima_skybox_filter:advanced_tab_click, rs3tli_modal_tab, "Advanced")

// 623:26
[filter_tab]
type=layer
x=115
width=110
height=27
ymode=abs_bottom
layer=tab_layer
onload=script13968(machinima_skybox_filter:filter_tab_build, machinima_skybox_filter:filter_tab_click, rs3tli_modal_tab, "Filters")

// 623:27
[skybox_tab]
type=layer
width=110
height=27
ymode=abs_bottom
layer=tab_layer
onload=script13968(machinima_skybox_filter:skybox_tab_build, machinima_skybox_filter:skybox_tab_click, rs3tli_modal_tab, "Skybox")

// 623:28
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(machinima_skybox_filter:mainmodal_window_background, machinima_skybox_filter:mainmodal_window_border, machinima_skybox_filter:mainmodal_window_content, machinima_skybox_filter:mainmodal_window_close_button, "Skybox and filters", 21218, string_1040)

// 623:29
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 623:30
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onvartransmit=machinima_draw_interface
onvartransmitlist=machinima_remember_selection

// 623:31
[advanced_layer]
type=layer
height=35
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=mainmodal_window_content
hide=yes

// 623:32
[tab_layer]
type=layer
height=32
widthmode=minus
layer=mainmodal_window_content
onload=machinima_update_tabs
onvartransmit=machinima_update_tabs
onvartransmitlist=machinima_remember_selection

// 623:33
[line]
type=layer
y=2
height=2
widthmode=minus
ymode=abs_bottom
layer=tab_layer
onload=script349(event_com)

// 623:34
[button_layer]
type=layer
x=5
y=35
width=10
height=30
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 623:35
[button_scroll_layer]
type=layer
y=27
height=243
widthmode=minus
layer=button_layer

// 623:36
[button_draw_layer]
type=layer
widthmode=minus
heightmode=minus
layer=button_scroll_layer

// 623:37
[button_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=button_scroll_layer

// 623:38
[scroll_bar_button]
type=layer
x=5
y=30
width=16
height=40
heightmode=minus
xmode=abs_right
layer=button_layer

// 623:39
[description]
type=text
x=4
y=-2
height=22
widthmode=minus
layer=button_layer
textfont=museo_sans_11pt_regular
text=Test text
textalignv=1
textshadow=yes

// 623:40
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 623:41
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
opkey1=0,13,0
op1=Close
onop=closebutton_click

// 623:42
[skybox_tab_build]
type=layer
widthmode=minus
heightmode=minus
layer=skybox_tab

// 623:43
[skybox_tab_click]
type=layer
widthmode=minus
heightmode=minus
layer=skybox_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:44
[filter_tab_build]
type=layer
widthmode=minus
heightmode=minus
layer=filter_tab

// 623:45
[filter_tab_click]
type=layer
widthmode=minus
heightmode=minus
layer=filter_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:46
[advanced_tab_build]
type=layer
widthmode=minus
heightmode=minus
layer=advanced_tab

// 623:47
[advanced_tab_click]
type=layer
widthmode=minus
heightmode=minus
layer=advanced_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:48
[save_build]
type=layer
widthmode=minus
heightmode=minus
layer=save_button

// 623:49
[save_click]
type=layer
widthmode=minus
heightmode=minus
layer=save_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:50
[sun_r_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button

// 623:51
[sun_r_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:52
[sun_ambient_colour_r]
type=text
widthmode=minus
heightmode=minus
layer=3x3_button
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 623:53
[sun_g_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_1

// 623:54
[sun_g_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_1
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:55
[sun_ambient_colour_g]
type=text
widthmode=minus
heightmode=minus
layer=3x3_button_1
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 623:56
[sun_b_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_2

// 623:57
[sun_b_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_2
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:58
[sun_ambient_colour_b]
type=text
widthmode=minus
heightmode=minus
layer=3x3_button_2
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 623:59
[3x3_button_5]
type=layer
x=180
width=60
heightmode=minus
ymode=abs_centre
layer=sun_ambient
onload=script10896(machinima_skybox_filter:sun_ambient_build, machinima_skybox_filter:sun_ambient_click, rs3tli_3x3_button)
onmouserepeat=script8799("Value 1-2056", event_com, event_comsubid)

// 623:60
[sun_ambient_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_5

// 623:61
[sun_ambient_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_5
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:62
[sun_ambient_text]
type=text
widthmode=minus
heightmode=minus
layer=3x3_button_5
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 623:63
[com_63]
type=text
width=130
heightmode=minus
layer=sun_ambient
textfont=museo_sans_11pt_regular
text=Sun ambient
textalignv=1
textshadow=yes
onmouserepeat=script8799("The brightness of the sun", event_com, event_comsubid)

// 623:64
[data_build]
type=layer
widthmode=minus
heightmode=minus
layer=data_button

// 623:65
[data_click]
type=layer
widthmode=minus
heightmode=minus
layer=data_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:66
[enable_advanced_build_withlabel]
type=layer
widthmode=minus
heightmode=minus
layer=enable_advanced_checkbox_withlabel

// 623:67
[enable_advanced_click_withlabel]
type=layer
widthmode=minus
heightmode=minus
layer=enable_advanced_checkbox_withlabel
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:68
[load_save_build]
type=layer
widthmode=minus
heightmode=minus
layer=load_save_button

// 623:69
[load_save_click]
type=layer
widthmode=minus
heightmode=minus
layer=load_save_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:70
[3x3_button_3]
type=layer
x=380
width=60
heightmode=minus
ymode=abs_centre
layer=fog_colour
onload=script10896(machinima_skybox_filter:fog_b_build, machinima_skybox_filter:fog_b_click, rs3tli_3x3_button)
onmouserepeat=script8799("Value 0-255", event_com, event_comsubid)

// 623:71
[fog_b_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_3

// 623:72
[fog_b_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_3
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:73
[fog_colour_b]
type=text
widthmode=minus
heightmode=minus
layer=3x3_button_3
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 623:74
[3x3_button_4]
type=layer
x=280
width=60
heightmode=minus
ymode=abs_centre
layer=fog_colour
onload=script10896(machinima_skybox_filter:fog_g_build, machinima_skybox_filter:fog_g_click, rs3tli_3x3_button)
onmouserepeat=script8799("Value 0-255", event_com, event_comsubid)

// 623:75
[fog_g_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_4

// 623:76
[fog_g_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_4
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:77
[fog_colour_g]
type=text
widthmode=minus
heightmode=minus
layer=3x3_button_4
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 623:78
[3x3_button_6]
type=layer
x=180
width=60
heightmode=minus
ymode=abs_centre
layer=fog_colour
onload=script10896(machinima_skybox_filter:fog_r_build, machinima_skybox_filter:fog_r_click, rs3tli_3x3_button)
onmouserepeat=script8799("Value 0-255", event_com, event_comsubid)

// 623:79
[fog_r_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_6

// 623:80
[fog_r_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_6
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:81
[fog_colour_r]
type=text
widthmode=minus
heightmode=minus
layer=3x3_button_6
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 623:82
[com_82]
type=text
width=130
heightmode=minus
layer=fog_colour
textfont=museo_sans_11pt_regular
text=Fog colour
textalignv=1
textshadow=yes
onmouserepeat=script8799("The colour of the fog", event_com, event_comsubid)

// 623:83
[com_83]
type=text
x=145
width=30
heightmode=minus
layer=fog_colour
textfont=museo_sans_17pt_bold
text=R
textalignh=2
textalignv=1
textshadow=yes
colour=0xff0000

// 623:84
[com_84]
type=text
x=245
width=30
heightmode=minus
layer=fog_colour
textfont=museo_sans_17pt_bold
text=G
textalignh=2
textalignv=1
textshadow=yes
colour=0x00ff00

// 623:85
[com_85]
type=text
x=345
width=30
heightmode=minus
layer=fog_colour
textfont=museo_sans_17pt_bold
text=B
textalignh=2
textalignv=1
textshadow=yes
colour=0x0000ff

// 623:86
[3x3_button_7]
type=layer
x=180
width=60
heightmode=minus
ymode=abs_centre
layer=fog_depth
onload=script10896(machinima_skybox_filter:fog_depth_build, machinima_skybox_filter:fog_depth_click, rs3tli_3x3_button)
onmouserepeat=script8799("Value 0-3000", event_com, event_comsubid)

// 623:87
[fog_depth_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_7

// 623:88
[fog_depth_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_7
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:89
[fog_depth_text]
type=text
widthmode=minus
heightmode=minus
layer=3x3_button_7
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 623:90
[com_90]
type=text
width=130
heightmode=minus
layer=fog_depth
textfont=museo_sans_11pt_regular
text=Fog depth
textalignv=1
textshadow=yes
onmouserepeat=script8799("The depth of the fog", event_com, event_comsubid)

// 623:91
[3x3_button_8]
type=layer
x=380
width=60
heightmode=minus
ymode=abs_centre
layer=volumetric_colour
onload=script10896(machinima_skybox_filter:volumetric_b_build, machinima_skybox_filter:volumetric_b_click, rs3tli_3x3_button)
onmouserepeat=script8799("Value 0-255", event_com, event_comsubid)

// 623:92
[volumetric_b_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_8

// 623:93
[volumetric_b_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_8
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:94
[volumetric_colour_b]
type=text
widthmode=minus
heightmode=minus
layer=3x3_button_8
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 623:95
[3x3_button_9]
type=layer
x=280
width=60
heightmode=minus
ymode=abs_centre
layer=volumetric_colour
onload=script10896(machinima_skybox_filter:volumetric_g_build, machinima_skybox_filter:volumetric_g_click, rs3tli_3x3_button)
onmouserepeat=script8799("Value 0-255", event_com, event_comsubid)

// 623:96
[volumetric_g_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_9

// 623:97
[volumetric_g_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_9
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:98
[volumetric_colour_g]
type=text
widthmode=minus
heightmode=minus
layer=3x3_button_9
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 623:99
[3x3_button_10]
type=layer
x=180
width=60
heightmode=minus
ymode=abs_centre
layer=volumetric_colour
onload=script10896(machinima_skybox_filter:volumetric_r_build, machinima_skybox_filter:volumetric_r_click, rs3tli_3x3_button)
onmouserepeat=script8799("Value 0-255", event_com, event_comsubid)

// 623:100
[volumetric_r_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_10

// 623:101
[volumetric_r_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_10
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:102
[volumetric_colour_r]
type=text
widthmode=minus
heightmode=minus
layer=3x3_button_10
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 623:103
[com_103]
type=text
width=130
heightmode=minus
layer=volumetric_colour
textfont=museo_sans_11pt_regular_multiline
text=Volumetric light colour
textalignv=1
textshadow=yes
onmouserepeat=script8799("The colour of the volumetric lighting", event_com, event_comsubid)

// 623:104
[com_104]
type=text
x=145
width=30
heightmode=minus
layer=volumetric_colour
textfont=museo_sans_17pt_bold
text=R
textalignh=2
textalignv=1
textshadow=yes
colour=0xff0000

// 623:105
[com_105]
type=text
x=245
width=30
heightmode=minus
layer=volumetric_colour
textfont=museo_sans_17pt_bold
text=G
textalignh=2
textalignv=1
textshadow=yes
colour=0x00ff00

// 623:106
[com_106]
type=text
x=345
width=30
heightmode=minus
layer=volumetric_colour
textfont=museo_sans_17pt_bold
text=B
textalignh=2
textalignv=1
textshadow=yes
colour=0x0000ff

// 623:107
[3x3_button_11]
type=layer
x=180
width=60
heightmode=minus
ymode=abs_centre
layer=volumetric_density
onload=script10896(machinima_skybox_filter:volumetric_density_build, machinima_skybox_filter:volumetric_density_click, rs3tli_3x3_button)
onmouserepeat=script8799("Value 0-1000", event_com, event_comsubid)

// 623:108
[volumetric_density_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_11

// 623:109
[volumetric_density_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x3_button_11
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 623:110
[volumetric_density_text]
type=text
widthmode=minus
heightmode=minus
layer=3x3_button_11
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 623:111
[com_111]
type=text
width=130
heightmode=minus
layer=volumetric_density
textfont=museo_sans_11pt_regular
text=Volumetric density
textalignv=1
textshadow=yes
onmouserepeat=script8799("How dense the volumetric lighting looks", event_com, event_comsubid)

