// 197:0
[com_0]
type=text
x=22
width=166
height=14
layer=layer_1
textfont=museo_sans_11pt_regular
text=Telekinetic Pizazz Points
textalignv=1
textshadow=yes
colour=0x5686c3

// 197:1
[com_1]
type=text
x=22
y=15
width=166
height=13
layer=layer_1
textfont=museo_sans_11pt_regular
text=Enchantment Pizazz Points
textalignv=1
textshadow=yes
colour=0x9e7144

// 197:2
[com_2]
type=text
x=232
y=15
width=178
height=13
layer=layer_1
textfont=museo_sans_11pt_regular
text=Graveyard Pizazz Points
textalignh=1
textalignv=1
textshadow=yes
colour=0x999999

// 197:3
[com_3]
type=text
x=232
width=178
height=13
layer=layer_1
textfont=museo_sans_11pt_regular
text=Alchemist Pizazz Points
textalignh=1
textalignv=1
textshadow=yes
colour=0x8ccc39

// 197:4
[magictraining_shop_telepts]
type=text
x=192
width=35
height=12
layer=layer_1
textfont=museo_sans_11pt_regular
text=99999
textshadow=yes
colour=0x66ccff

// 197:5
[magictraining_shop_enchanpts]
type=text
x=192
y=15
width=35
height=12
layer=layer_1
textfont=museo_sans_11pt_regular
text=99999
textshadow=yes
colour=0xcc6600

// 197:6
[magictraining_shop_alchempts]
type=text
x=416
width=35
height=12
layer=layer_1
textfont=museo_sans_11pt_regular
text=99999
textshadow=yes
colour=0x33cc00

// 197:7
[magictraining_shop_gravepts]
type=text
x=416
y=15
width=35
height=12
layer=layer_1
textfont=museo_sans_11pt_regular
text=99999
textshadow=yes
colour=0xcccccc

// 197:8
[magictraining_shop_upgrade1]
type=text
x=65
y=2
width=70
height=20
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular
text=(Upgrade)
textalignh=1
textalignv=1
textshadow=yes

// 197:9
[magictraining_shop_upgrade3]
type=text
x=130
y=2
width=70
height=20
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular
text=(Upgrade)
textalignh=1
textalignv=1
textshadow=yes

// 197:10
[magictraining_shop_upgrade2]
type=text
x=195
y=2
width=70
height=20
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular
text=(Upgrade)
textalignh=1
textalignv=1
textshadow=yes

// 197:11
[shop_items_layer]
type=layer
width=498
height=214
layer=mainmodal_window_content
onvartransmit=magictraining_shop_points
oninvtransmit=magictraining_shop
onvartransmitlist=magictraining
oninvtransmitlist=magictraining_inventory

// 197:12
[com_12]
type=rectangle
x=-8
y=-32
width=65520
height=65496
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
colour=0x000000

// 197:13
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(magictraining_shop:mainmodal_window_background, magictraining_shop:mainmodal_window_border, magictraining_shop:mainmodal_window_content, magictraining_shop:mainmodal_window_close_button, "Magic Training Area shop", 21218, string_1007)

// 197:14
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 197:15
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 197:16
[layer_1]
type=layer
x=-6
width=40
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 197:17
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 197:18
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

