// 196:0
[content_layer3]
type=layer
width=345
height=75

// 196:1
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer3
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 196:2
[title_text]
type=text
height=30
widthmode=minus
xmode=abs_centre
layer=content_layer3
textfont=cinzel_15pt_bold
text=Graveyard
textalignh=1
textalignv=1
textshadow=yes
colour=0x9e7144
onload=script10496(event_com, event_comsubid, 0)

// 196:3
[points]
type=text
x=5
y=40
width=99
height=23
layer=content_layer3
textfont=museo_sans_13pt_regular
text=Pizazz Points:
textalignh=1
textalignv=1
textshadow=yes

// 196:4
[magictrain_grave_pts]
type=text
x=109
y=40
width=60
height=23
layer=content_layer3
textfont=museo_sans_13pt_regular
text=9999
textalignv=1
textshadow=yes

// 196:5
[magictrain_grave_bones1]
type=model
x=5
y=30
width=38
height=26
xmode=abs_right
layer=content_layer3
model=area_mage_arena_inv_animals_bones1
modelorigin_x=1
modelorigin_y=4
modelangle_x=165
modelangle_y=0
modelangle_z=0
modelzoom=1484

// 196:6
[magictrain_grave_bones2]
type=model
x=50
y=23
width=28
height=33
xmode=abs_right
layer=content_layer3
model=area_mage_arena_inv_animals_bones2
modelorigin_x=1
modelorigin_y=6
modelangle_x=131
modelangle_y=1790
modelangle_z=0
modelzoom=993

// 196:7
[magictrain_grave_bones3]
type=model
x=90
y=30
width=37
height=23
xmode=abs_right
layer=content_layer3
model=area_mage_arena_inv_animals_bones3
modelorigin_x=3
modelorigin_y=8
modelangle_x=79
modelangle_y=1020
modelangle_z=0
modelzoom=1073

// 196:8
[magictrain_grave_bones4]
type=model
x=135
y=30
width=39
height=26
xmode=abs_right
layer=content_layer3
model=area_mage_arena_inv_animals_bones4
modelorigin_x=-3
modelorigin_y=1
modelangle_x=199
modelangle_y=1727
modelangle_z=0
modelzoom=1152

// 196:9
[magictrain_bone_type_4]
type=text
x=150
y=5
width=7
height=14
xmode=abs_right
ymode=abs_bottom
layer=content_layer3
textfont=museo_sans_15pt_bold
text=4
textshadow=yes

// 196:10
[magictrain_bone_type_2]
type=text
x=60
y=5
width=8
height=14
xmode=abs_right
ymode=abs_bottom
layer=content_layer3
textfont=museo_sans_15pt_bold
text=2
textshadow=yes

// 196:11
[magictrain_bone_type_3]
type=text
x=105
y=5
width=7
height=14
xmode=abs_right
ymode=abs_bottom
layer=content_layer3
textfont=museo_sans_15pt_bold
text=3
textshadow=yes

// 196:12
[magictrain_bone_type_1]
type=text
x=20
y=5
width=6
height=14
xmode=abs_right
ymode=abs_bottom
layer=content_layer3
textfont=museo_sans_15pt_bold
text=1
textshadow=yes

