// 555:0
[fliparrow]
type=graphic
x=264
y=28
width=32
height=32
layer=controls_layer
graphic="rs3_icon_lobby_refresh,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Flip
onload=script13914(event_com, rs3tli_lobby_refresh_icons)
onclick=script5286

// 555:1
[leftrotate]
type=graphic
x=297
y=28
width=32
height=32
layer=controls_layer
graphic="rs3_icon_rotate_left,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Rotate anticlockwise
onload=script13914(event_com, rs3tli_icon_rotate_left)
onclick=script5287

// 555:2
[rightrotate]
type=graphic
x=331
y=28
width=32
height=32
layer=controls_layer
graphic="rs3_icon_rotate_right,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Rotate clockwise
opcursor0=cursor_rotate_clockwise
onload=script13914(event_com, rs3tli_icon_rotate_right)
onclick=script5288

// 555:3
[up_button]
type=graphic
x=-72
y=9
width=32
height=32
xmode=abs_centre
layer=controls_layer
graphic="rs3_icon_direction_up_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Move-up
onload=script13914(event_com, rs3tli_icon_arrow_up)

// 555:4
[down_button]
type=graphic
x=-72
y=42
width=32
height=32
xmode=abs_centre
layer=controls_layer
graphic="rs3_icon_direction_down_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Move-down
onload=script13914(event_com, rs3tli_icon_arrow_down)

// 555:5
[left_button]
type=graphic
x=-100
y=25
width=32
height=32
xmode=abs_centre
layer=controls_layer
graphic="rs3_icon_direction_left_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Move-left
onload=script13914(event_com, rs3tli_icon_arrow_left)

// 555:6
[right_button]
type=graphic
x=-44
y=25
width=32
height=32
xmode=abs_centre
layer=controls_layer
graphic="rs3_icon_direction_right_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Move-right
onload=script13914(event_com, rs3tli_icon_arrow_right)

// 555:7
[puzzle_layer]
type=layer
width=410
height=220
xmode=abs_centre
layer=modal_dialog_window_content

// 555:8
[controls_layer]
type=layer
y=212
height=74
widthmode=minus
layer=modal_dialog_window_content

// 555:9
[modal_dialog_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(mah5_collarpuzzle:modal_dialog_window_background, mah5_collarpuzzle:modal_dialog_window_border, mah5_collarpuzzle:modal_dialog_window_content, mah5_collarpuzzle:modal_dialog_window_close_button, "Wall Design", 21217, string_1007)

// 555:10
[com_10]
type=graphic
x=11
y=10
width=60
height=200
layer=puzzle_layer
graphic="mh5_puzzel_board,0"
colour=0xffffff
clickmask=no

// 555:11
[com_11]
type=graphic
x=121
y=10
width=60
height=200
layer=puzzle_layer
graphic="mh5_puzzel_board,1"
colour=0xffffff
clickmask=no

// 555:12
[com_12]
type=graphic
x=231
y=10
width=60
height=200
layer=puzzle_layer
graphic="mh5_puzzel_board,2"
colour=0xffffff
clickmask=no

// 555:13
[com_13]
type=graphic
x=341
y=10
width=60
height=200
layer=puzzle_layer
graphic="mh5_puzzel_board,3"
colour=0xffffff
clickmask=no

// 555:14
[collar_bobside]
type=graphic
x=170
width=63
height=250
layer=puzzle_layer
hide=yes
graphic="mahjarrat_puzzel_collar,0"
2dangle=49152
colour=0xffffff
clickmask=no

// 555:15
[collar_diraksside]
type=graphic
x=170
width=63
height=250
layer=puzzle_layer
graphic="mahjarrat_puzzel_collar,1"
2dangle=49152
colour=0xffffff
clickmask=no

// 555:16
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 555:17
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 555:18
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 555:19
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

