// 1370:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(makex2012:mainmodal_window_background, makex2012:mainmodal_window_border, makex2012:mainmodal_window_content, makex2012:mainmodal_window_close_button, "Make-X", 21218, string_1007)

// 1370:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1370:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onvartransmit=script7145
onvartransmitlist=makex2012_active_recipe_list

// 1370:3
[category_layer]
type=layer
x=4
y=4
width=225
height=8
heightmode=minus
layer=mainmodal_window_content

// 1370:4
[info_layer]
type=layer
x=4
y=4
width=266
height=65
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content
onvartransmit=script7122
onvartransmitlist=makex2012_active_recipe,makex2012_active_recipe_list,makex2012_client_parent_1

// 1370:5
[info_overview]
type=layer
x=5
width=5
height=55
widthmode=minus
layer=info_layer

// 1370:6
[info_upgrade_container]
type=layer
x=2
width=41
height=41
xmode=abs_right
ymode=abs_centre
layer=info_overview

// 1370:7
[info_upgrade_2]
type=graphic
y=4
width=16
height=16
xmode=abs_centre
layer=info_upgrade_container
graphic="stat_star,0"
colour=0xffffff
clickmask=no

// 1370:8
[info_upgrade_1]
type=graphic
x=2
y=2
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=info_upgrade_container
graphic="stat_star,0"
colour=0xffffff
clickmask=no

// 1370:9
[info_upgrade_0]
type=graphic
x=2
y=2
width=16
height=16
ymode=abs_bottom
layer=info_upgrade_container
graphic="stat_star,0"
colour=0xffffff
clickmask=no

// 1370:10
[com_10]
type=rectangle
widthmode=minus
heightmode=minus
layer=info_overview
colour=0xffffff
onload=script8194(event_com, rs3_rect_light)

// 1370:11
[icon_background]
type=layer
x=2
width=41
height=41
ymode=abs_centre
layer=info_overview

// 1370:12
[info_icon]
type=graphic
x=5
y=5
width=36
height=32
layer=icon_background
colour=0xffffff
clickmask=no

// 1370:13
[info_name]
type=text
x=45
width=174
height=41
ymode=abs_centre
layer=info_overview
textfont=museo_sans_13pt_regular
textlineheight=16
textalignv=1
textshadow=yes

// 1370:14
[com_14]
type=rectangle
x=5
y=56
width=5
height=56
widthmode=minus
heightmode=minus
layer=info_layer
colour=0xffffff
onload=script8194(event_com, rs3_rect_light)

// 1370:15
[info_listing]
type=layer
x=10
y=57
width=28
height=55
widthmode=minus
heightmode=minus
layer=info_layer

// 1370:16
[info_value]
type=layer
width=16384
height=56
widthmode=proportion
layer=info_listing

// 1370:17
[info_value_header]
type=text
width=70
height=16
layer=info_value
textfont=museo_sans_13pt_regular
text=Value
textshadow=yes

// 1370:18
[com_18]
type=rectangle
x=6
y=25
width=12
height=12
widthmode=minus
layer=info_value
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1370:19
[info_requirements]
type=layer
y=57
height=50
widthmode=minus
layer=info_listing

// 1370:20
[info_requirements_header]
type=text
width=120
height=16
layer=info_requirements
textfont=museo_sans_13pt_regular
text=Requirements
textshadow=yes

// 1370:21
[info_materials]
type=layer
y=89
height=90
widthmode=minus
layer=info_listing

// 1370:22
[info_materials_header]
type=text
width=87
height=16
layer=info_materials
textfont=museo_sans_13pt_regular
text=Materials
textshadow=yes

// 1370:23
[info_scrollbar]
type=layer
x=1
y=57
width=16
height=58
heightmode=minus
xmode=abs_right
layer=info_layer

// 1370:24
[make_layer]
type=layer
x=4
y=-7
width=266
height=70
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content
onvartransmit=script7146
onvartransmitlist=makex2012_max,makex2012_requestednumber,makex2012_client_parent_1

// 1370:25
[make_top_rectangle]
type=layer
y=2
width=2
height=6326
widthmode=minus
heightmode=proportion
xmode=abs_centre
layer=make_layer

// 1370:26
[text_input]
type=layer
x=216
width=40
height=20
ymode=abs_centre
layer=make_top_rectangle

// 1370:27
[make_bottom_ractangle]
type=layer
y=13
width=5
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=make_layer

// 1370:28
[make_button]
type=layer
height=27
widthmode=minus
layer=make_bottom_ractangle
onload=script13976(makex2012:make_build, makex2012:make_click, rs3tli_positive_button, "Make")

// 1370:29
[make_build]
type=layer
widthmode=minus
heightmode=minus
layer=make_button

// 1370:30
[make_click]
type=layer
widthmode=minus
heightmode=minus
layer=make_button
pausebutton=yes
pausetext=Select
onmouserepeat=script10009("Create the selected item.", event_com, event_comsubid)

// 1370:31
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1370:32
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

