// 1359:0
[universe]
type=layer
widthmode=minus
heightmode=minus

// 1359:1
[drag_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1359:2
[floater_pos_layer]
type=layer
width=200
height=130
layer=drag_layer
noclickthrough=yes

// 1359:3
[container]
type=layer
x=14
y=26
width=160
height=90
layer=floater_pos_layer
transmitop1=yes
op1=Open
opcursor0=cursor_open

// 1359:4
[banner]
type=layer
x=5
y=20
width=145
height=31
layer=floater_pos_layer

// 1359:5
[close_button]
type=layer
x=154
y=12
width=33
height=33
layer=floater_pos_layer
transmitop1=yes
op1=Close

// 1359:6
[close_button_container]
type=graphic
width=33
height=33
xmode=abs_centre
ymode=abs_centre
layer=close_button
graphic=rs3_child_close_button_backing
colour=0xffffff
clickmask=no

// 1359:7
[banner_ribbon]
type=layer
height=31
widthmode=minus
layer=banner
noclickthrough=yes

// 1359:8
[banner_left]
type=graphic
x=10
width=50
height=31
widthmode=minus
layer=banner_ribbon
noclickthrough=yes
graphic=mtx_store_container_discount_banner_tile
colour=0xffffff
clickmask=no

// 1359:9
[banner_right]
type=graphic
width=40
height=31
xmode=abs_right
layer=banner_ribbon
noclickthrough=yes
graphic=mtx_store_container_discount_banner_left
hflip=yes
colour=0xffffff
clickmask=no

// 1359:10
[com_10]
type=graphic
x=-10
width=32
height=31
layer=banner_ribbon
noclickthrough=yes
graphic=mtx_store_container_discount_banner_right
hflip=yes
colour=0xffffff
clickmask=no

// 1359:11
[banner_text]
type=text
x=15
y=-3
width=32
height=20
widthmode=minus
ymode=abs_centre
layer=banner_ribbon
noclickthrough=yes
textfont=notosans_bold_12
text=NEW
textalignv=1

// 1359:12
[background_holder]
type=layer
width=15359
height=15290
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=container

// 1359:13
[banner_currency_icon]
type=graphic
width=29
height=29
layer=banner
hide=yes
noclickthrough=yes
graphic=mtx_store_icon_currency_runecoins_045px
colour=0xffffff
clickmask=no

// 1359:14
[background]
type=graphic
width=149
height=83
layer=background_holder
noclickthrough=yes
graphic=rs3_lobby_mtx_store_default
colour=0xffffff
clickmask=no

// 1359:15
[border]
type=layer
widthmode=minus
heightmode=minus
layer=container

// 1359:16
[border_top_left]
type=graphic
width=8192
height=8192
widthmode=proportion
heightmode=proportion
layer=border
noclickthrough=yes
graphic=marketplace_floater_border
vflip=yes
colour=0xffffff
clickmask=no

// 1359:17
[border_top_right]
type=graphic
width=8192
height=8192
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=border
noclickthrough=yes
graphic=marketplace_floater_border
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1359:18
[border_bottom_left]
type=graphic
width=8192
height=8192
widthmode=proportion
heightmode=proportion
ymode=abs_bottom
layer=border
noclickthrough=yes
graphic=marketplace_floater_border
colour=0xffffff
clickmask=no

// 1359:19
[border_bottom_right]
type=graphic
width=8192
height=8192
widthmode=proportion
heightmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=border
noclickthrough=yes
graphic=marketplace_floater_border
hflip=yes
colour=0xffffff
clickmask=no

// 1359:20
[close_button_icon]
type=graphic
x=1
width=22
height=22
xmode=abs_centre
ymode=abs_centre
layer=close_button
graphic=rs3_child_close_button
colour=0xffffff
clickmask=no
onload=script13914(event_com, ab_upsell_close_button)

