// 1491:0
[currency_layer]
type=layer
widthmode=minus
heightmode=minus

// 1491:1
[fakeops]
type=layer
width=512
height=334
noclickthrough=yes

// 1491:2
[marketplace_store_navigation_fakeop_layer]
type=layer
layer=fakeops
noclickthrough=yes

// 1491:3
[marketplace_tab_fakeop_layer]
type=layer
layer=fakeops
noclickthrough=yes

// 1491:4
[currency_background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=currency_layer

// 1491:5
[currency_content]
type=layer
widthmode=minus
heightmode=minus
layer=currency_layer
onload=script20587(marketplace_currency_banner:currency_content, marketplace_currency_banner:currency_background)

// 1491:6
[currency_buy_runecoins_button]
type=layer
layer=currency_content
hide=yes
transmitop1=yes
op1=Purchase Runecoins

// 1491:7
[currency_buy_bxp_boosters_button]
type=layer
layer=currency_content
hide=yes
transmitop1=yes
op1=Purchase Bonus XP Boosters

// 1491:8
[currency_buy_bonds_button]
type=layer
layer=currency_content
hide=yes
transmitop1=yes
op1=Buy Bonds

