// 1495:0
[universe]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes

// 1495:1
[preview_popup_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=preview_popup_window

// 1495:2
[background]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=universe
noclickthrough=yes
colour=0x000000
fill=yes
trans=50
transmitop1=yes
op1=Back

// 1495:3
[firework_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=universe
hide=yes

// 1495:4
[preview_window]
type=layer
width=592
height=354
xmode=abs_centre
ymode=abs_centre
layer=universe
onload=script8420(marketplace_preview:preview_window_background, marketplace_preview:preview_window_border, marketplace_preview:preview_window_content, marketplace_preview:preview_window_close_button, "", 1006, null)

// 1495:5
[block_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe
hide=yes
noclickthrough=yes

// 1495:6
[preview_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=preview_window

// 1495:7
[preview_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=preview_window

// 1495:8
[com_8]
type=rectangle
widthmode=minus
heightmode=minus
layer=preview_popup
noclickthrough=yes
colour=0x000000
fill=yes
trans=50

// 1495:9
[preview_popup_window]
type=layer
width=490
height=32
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_popup
noclickthrough=yes
onload=script8420(marketplace_preview:preview_popup_background, marketplace_preview:preview_popup_border, marketplace_preview:preview_popup_content, marketplace_preview:preview_popup_close_button, "Bonus XP Table", 1006, null)

// 1495:10
[preview_window_info_box_anchor]
type=layer
xmode=abs_centre
ymode=abs_centre
layer=preview_window_content

// 1495:11
[preview_panel]
type=layer
width=300
heightmode=minus
ymode=abs_centre
layer=preview_window_content

// 1495:12
[preview_background_wrapper]
type=layer
y=-35
width=300
height=319
xmode=abs_right
layer=preview_panel

// 1495:13
[preview_panel_main_layer]
type=layer
height=30
widthmode=minus
heightmode=minus
layer=preview_panel
noclickthrough=yes

// 1495:14
[preview_graphic]
type=graphic
y=30
width=170
height=170
xmode=abs_centre
ymode=abs_centre
layer=preview_panel_main_layer
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1495:15
[ragdoll_model]
type=model
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_panel_main_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
modelobjwidth=300
modelobjheight=276

// 1495:16
[pet_layer]
type=model
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_panel_main_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800
modelobjwidth=300
modelobjheight=276

// 1495:17
[preview_anim_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_panel_main_layer

// 1495:18
[preview_dragger]
type=layer
width=200
height=40
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_panel_main_layer

// 1495:19
[load_preview]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_panel_main_layer

// 1495:20
[preview_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=preview_window

// 1495:21
[preview_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=preview_window
transmitop1=yes
op1=Close

// 1495:22
[rotator_button_layer]
type=layer
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=preview_panel
hide=yes
noclickthrough=yes

// 1495:23
[popup_button]
type=button
y=8
width=150
height=32
xmode=abs_centre
ymode=abs_bottom
layer=preview_panel
hide=yes
noclickthrough=yes
text.textfont=notosans_12
text.text=Bonus XP Table
stylesheet=button_action_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onclick=script20610(1)

// 1495:24
[variant_buttons_layer]
type=panel
x=1
y=1
width=25
height=250
layer=preview_panel
hide=yes
isvertical=yes
childspacing=2

// 1495:25
[recolour_button_layer]
type=layer
x=1
y=1
width=32
height=32
layer=preview_panel
hide=yes
noclickthrough=yes

// 1495:26
[recolour_button]
type=button
widthmode=minus
heightmode=minus
layer=recolour_button_layer
noclickthrough=yes
text.textfont=notosans_12
stylesheet=button_default
transmitop1=yes
op1=Expand
onbuttonpressed=script19713

// 1495:27
[recolour_button_graphic]
type=graphic
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=recolour_button_layer
graphic=mtx_store_icon_colour
colour=0xffffff
clickmask=no

// 1495:28
[recolour_panel]
type=layer
x=1
y=35
width=64
height=236
layer=preview_panel
hide=yes
noclickthrough=yes

// 1495:29
[recolour_buttons_background]
type=layer
widthmode=minus
heightmode=minus
layer=recolour_panel
noclickthrough=yes
onload=script10896(event_com, null, rs3tli_content_panel)

// 1495:30
[recolour_buttons_inactive]
type=layer
widthmode=minus
heightmode=minus
layer=recolour_panel

// 1495:31
[recolour_buttons]
type=layer
widthmode=minus
heightmode=minus
layer=recolour_panel

// 1495:32
[preview_panel_item_name]
type=text
y=10
width=64
height=30
widthmode=minus
xmode=abs_centre
layer=preview_panel
hide=yes
noclickthrough=yes
textfont=notosans_11
textalignh=1
onload=script20490(event_com, text_body_default, 1, 0)

// 1495:33
[rotator_button_backwards]
type=graphic
x=-50
width=25
height=25
xmode=abs_centre
ymode=abs_centre
layer=rotator_button_layer
noclickthrough=yes
graphic="marketplace_icon_carousel_arrow_small,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Previous
onmouseover=graphic_swapper(event_com, "marketplace_icon_carousel_arrow_small,1")
onmouseleave=graphic_swapper(event_com, "marketplace_icon_carousel_arrow_small,0")

// 1495:34
[rotator_button_forwards]
type=graphic
x=50
width=25
height=25
xmode=abs_centre
ymode=abs_centre
layer=rotator_button_layer
noclickthrough=yes
graphic="marketplace_icon_carousel_arrow_small,2"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Next
onmouseover=graphic_swapper(event_com, "marketplace_icon_carousel_arrow_small,3")
onmouseleave=graphic_swapper(event_com, "marketplace_icon_carousel_arrow_small,2")

// 1495:35
[rotator_button_panel]
type=panel
width=61
height=13
xmode=abs_centre
ymode=abs_centre
layer=rotator_button_layer
noclickthrough=yes
isvertical=no
childspacing=3

// 1495:36
[right_panel_holder]
type=layer
width=300
widthmode=minus
heightmode=minus
xmode=abs_right
layer=preview_window_content
noclickthrough=yes

// 1495:37
[spinner_layer]
type=layer
widthmode=minus
heightmode=minus
layer=preview_window_content
hide=yes
noclickthrough=yes

// 1495:38
[preview_popup]
type=layer
widthmode=minus
heightmode=minus
layer=preview_window_content
hide=yes
noclickthrough=yes

// 1495:39
[spinner_blackout]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=spinner_layer
noclickthrough=yes
colour=0x000000
fill=yes
trans=50
transmitop1=yes
op1=Back

// 1495:40
[spinner_build_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=spinner_layer
noclickthrough=yes
onload=spinner_create(event_com, 3, -1)

// 1495:41
[description_panel]
type=layer
height=70
widthmode=minus
heightmode=minus
xmode=abs_right
layer=right_panel_holder
noclickthrough=yes

// 1495:42
[description_layer]
type=layer
x=10
y=10
width=20
height=20
widthmode=minus
heightmode=minus
layer=description_panel
noclickthrough=yes

// 1495:43
[description]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=description_layer
textfont=notosans_11
onload=stylesheet_set_text(event_com, text_body_paragraph)

// 1495:44
[scrollbar_layer]
type=layer
width=16
height=4
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=description_panel
noclickthrough=yes

// 1495:45
[com_45]
type=rectangle
y=2
width=30
height=1
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=description_panel
noclickthrough=yes
colour=0x4d3d26
fill=yes
stylesheet=rect_divider

// 1495:46
[purchase_panel]
type=layer
height=70
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=right_panel_holder
noclickthrough=yes

// 1495:47
[purchase_price_layer]
type=layer
y=3
width=185
height=25
xmode=abs_centre
layer=purchase_panel
noclickthrough=yes

// 1495:48
[currency_icon]
type=graphic
width=25
height=25
ymode=abs_centre
layer=purchase_price_layer
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1495:49
[price]
type=text
x=27
width=70
height=25
ymode=abs_centre
layer=purchase_price_layer
noclickthrough=yes
textfont=notosans_18
textalignv=1
colour=0x000000
onload=script20490(event_com, text_title_body, 1, 0)

// 1495:50
[conversion_price]
type=text
width=79
height=25
xmode=abs_right
layer=purchase_price_layer
textfont=notosans_11
textalignh=2
textalignv=1
onload=script20490(event_com, text_subtitle_body, 1, 0)

// 1495:51
[purchase_button_layer]
type=layer
y=8
width=150
height=32
xmode=abs_centre
ymode=abs_bottom
layer=purchase_panel
noclickthrough=yes

// 1495:52
[purchase_button]
type=button
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=purchase_button_layer
noclickthrough=yes
text.textfont=notosans_12
text.text=Buy
stylesheet=button_action_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1495:53
[com_53]
type=graphic
x=-65
y=120
width=130
height=25
xmode=abs_centre
ymode=abs_centre
layer=preview_background_wrapper
graphic=rs3_parent_loadout_spotlight_glow
trans=150
colour=0xffffff
clickmask=no

// 1495:54
[com_54]
type=graphic
x=65
y=120
width=130
height=25
xmode=abs_centre
ymode=abs_centre
layer=preview_background_wrapper
graphic=rs3_parent_loadout_spotlight_glow
trans=150
hflip=yes
colour=0xffffff
clickmask=no

// 1495:55
[com_55]
type=graphic
x=-65
y=145
width=130
height=25
xmode=abs_centre
ymode=abs_centre
layer=preview_background_wrapper
graphic=rs3_parent_loadout_spotlight_glow
trans=150
vflip=yes
colour=0xffffff
clickmask=no

// 1495:56
[com_56]
type=graphic
x=65
y=145
width=130
height=25
xmode=abs_centre
ymode=abs_centre
layer=preview_background_wrapper
graphic=rs3_parent_loadout_spotlight_glow
trans=150
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1495:57
[com_57]
type=graphic
x=-62
y=-74
width=124
height=148
xmode=abs_centre
ymode=abs_centre
layer=preview_background_wrapper
graphic=rs3_parent_loadout_backing_glow
trans=150
colour=0xffffff
clickmask=no

// 1495:58
[com_58]
type=graphic
x=62
y=-74
width=124
height=148
xmode=abs_centre
ymode=abs_centre
layer=preview_background_wrapper
graphic=rs3_parent_loadout_backing_glow
trans=150
hflip=yes
colour=0xffffff
clickmask=no

// 1495:59
[com_59]
type=graphic
x=-62
y=74
width=124
height=148
xmode=abs_centre
ymode=abs_centre
layer=preview_background_wrapper
graphic=rs3_parent_loadout_backing_glow
trans=150
vflip=yes
colour=0xffffff
clickmask=no

// 1495:60
[com_60]
type=graphic
x=62
y=74
width=124
height=148
xmode=abs_centre
ymode=abs_centre
layer=preview_background_wrapper
graphic=rs3_parent_loadout_backing_glow
trans=150
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1495:61
[preview_popup_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=preview_popup_window
noclickthrough=yes

// 1495:62
[bonus_xp_table]
type=layer
widthmode=minus
heightmode=minus
layer=preview_popup_content

// 1495:63
[popup_scrollbar_layer]
type=layer
x=460
width=30
heightmode=minus
layer=bonus_xp_table
noclickthrough=yes
onload=scrollbar_vertical(event_com, marketplace_preview:table_draw_layer)

// 1495:64
[table_draw_layer]
type=layer
width=460
heightmode=minus
layer=bonus_xp_table
scrollheight=568

// 1495:65
[com_65]
type=graphic
width=460
height=568
layer=table_draw_layer
graphic=marketplace_bxp_table_en
colour=0xffffff
clickmask=no
onload=script338(event_com, marketplace_bxp_table_en, marketplace_bxp_table_de, marketplace_bxp_table_fr, marketplace_bxp_table_pt)

// 1495:66
[preview_popup_border]
type=layer
widthmode=minus
heightmode=minus
layer=preview_popup_window

// 1495:67
[preview_popup_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=preview_popup_window
transmitop1=yes
op1=Close

// 1495:68
[fireworks_1]
type=model
x=20
y=25
width=153
height=144
layer=firework_layer
model=level_up_fireworks_interface_golder
modelorigin_x=-1
modelorigin_y=5
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=1600
modelanim=interface_fireworks

// 1495:69
[fireworks_2]
type=model
x=19
y=5
width=154
height=144
ymode=abs_centre
layer=firework_layer
model=level_up_fireworks_interface_pink
modelorigin_x=-2
modelorigin_y=5
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=1660
modelanim=interface_fireworks

// 1495:70
[fireworks_3]
type=model
x=20
y=15
width=153
height=144
ymode=abs_bottom
layer=firework_layer
model=level_up_fireworks_interface_gold
modelorigin_x=-1
modelorigin_y=5
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=1600
modelanim=interface_fireworks

// 1495:71
[fireworks_4]
type=model
x=-52
y=28
width=151
height=149
xmode=abs_centre
ymode=abs_bottom
layer=firework_layer
model=level_up_fireworks_interface_purple
modelorigin_x=-2
modelorigin_y=0
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1200
modelanim=interface_fireworks

// 1495:72
[fireworks_5]
type=model
x=49
y=14
width=154
height=144
xmode=abs_centre
ymode=abs_bottom
layer=firework_layer
model=level_up_fireworks_interface_pink
modelorigin_x=-2
modelorigin_y=5
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=1660
modelanim=interface_fireworks

// 1495:73
[fireworks_6]
type=model
x=20
y=14
width=153
height=144
xmode=abs_right
ymode=abs_bottom
layer=firework_layer
model=level_up_fireworks_interface_golder
modelorigin_x=-1
modelorigin_y=5
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=1600
modelanim=interface_fireworks

// 1495:74
[fireworks_7]
type=model
x=27
y=1
width=151
height=149
xmode=abs_right
ymode=abs_centre
layer=firework_layer
model=level_up_fireworks_interface_purple
modelorigin_x=-2
modelorigin_y=0
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1200
modelanim=interface_fireworks

// 1495:75
[fireworks_8]
type=model
x=20
y=24
width=153
height=144
xmode=abs_right
layer=firework_layer
model=level_up_fireworks_interface_gold
modelorigin_x=-1
modelorigin_y=5
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=1600
modelanim=interface_fireworks

// 1495:76
[fireworks_9]
type=model
x=48
y=31
width=151
height=149
xmode=abs_centre
layer=firework_layer
model=level_up_fireworks_interface_purple
modelorigin_x=-2
modelorigin_y=0
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1200
modelanim=interface_fireworks

// 1495:77
[fireworks_10]
type=model
x=-51
y=25
width=154
height=144
xmode=abs_centre
layer=firework_layer
model=level_up_fireworks_interface_pink
modelorigin_x=-2
modelorigin_y=5
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=1660
modelanim=interface_fireworks

