// 1872:0
[mainmodal_layer]
type=layer
width=801
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 1872:1
[content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_layer
onload=script12825
onvartransmit=script12897
onvartransmitlist=elr1_berryvar,elr1_berryvar2,elr1_berryvar,elr1_berryvar2

// 1872:2
[no_click_through_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer
noclickthrough=yes

// 1872:3
[tabs_type_layer]
type=layer
width=800
height=69
layer=content_layer

// 1872:4
[tab_layer_home]
type=layer
x=-14
width=45
height=69
ymode=abs_bottom
layer=tabs_type_layer
hide=yes
transmitop1=yes
op1=Open overview
onload=script12827(event_com)

// 1872:5
[tab_background_home]
type=graphic
width=45
height=69
layer=tab_layer_home
graphic="elr_journal_tab_overview,1"
colour=0xffffff
clickmask=no
onmouseleave=graphic_swapper(event_com, "elr_journal_tab_overview,1")
onmouserepeat=graphic_swapper(event_com, "elr_journal_tab_overview,0")

// 1872:6
[tab_type_layer_1]
type=layer
x=37
width=45
height=69
layer=tabs_type_layer
transmitop1=yes
op1=View discoverable insects
onload=script12827(event_com)

// 1872:7
[tab_type_background_1]
type=graphic
width=45
height=69
layer=tab_type_layer_1
graphic="menaphos_journal_tab_insect,1"
colour=0xffffff
clickmask=no
onmouseleave=graphic_swapper(event_com, "menaphos_journal_tab_insect,1")
onmouserepeat=graphic_swapper(event_com, "menaphos_journal_tab_insect,2")

// 1872:8
[tab_type_layer_2]
type=layer
x=88
width=45
height=69
layer=tabs_type_layer
transmitop1=yes
op1=View discoverable gems
onload=script12827(event_com)

// 1872:9
[tab_type_background_2]
type=graphic
width=45
height=69
layer=tab_type_layer_2
graphic="menaphos_journal_tab_gem,1"
colour=0xffffff
clickmask=no
onmouseleave=graphic_swapper(event_com, "menaphos_journal_tab_gem,1")
onmouserepeat=graphic_swapper(event_com, "menaphos_journal_tab_gem,2")

// 1872:10
[tab_type_layer_3]
type=layer
x=139
width=45
height=69
layer=tabs_type_layer
transmitop1=yes
op1=View discoverable cats
onload=script12827(event_com)

// 1872:11
[tab_type_background_3]
type=graphic
width=45
height=69
layer=tab_type_layer_3
graphic="menaphos_journal_tab_cat,1"
colour=0xffffff
clickmask=no
onmouseleave=graphic_swapper(event_com, "menaphos_journal_tab_cat,1")
onmouserepeat=graphic_swapper(event_com, "menaphos_journal_tab_cat,2")

// 1872:12
[tab_type_layer_4]
type=layer
x=190
width=45
height=69
layer=tabs_type_layer
hide=yes
transmitop1=yes
op1=View discoverable Kami Spirits
onload=script12827(event_com)

// 1872:13
[tab_type_background_4]
type=graphic
width=45
height=69
layer=tab_type_layer_4
graphic="elr_journal_tab_implings,1"
colour=0xffffff
clickmask=no
onmouseleave=graphic_swapper(event_com, "elr_journal_tab_implings,1")
onmouserepeat=graphic_swapper(event_com, "elr_journal_tab_implings,2")

// 1872:14
[tab_type_layer_5]
type=layer
x=241
width=45
height=69
ymode=abs_bottom
layer=tabs_type_layer
hide=yes
transmitop1=yes
op1=View castaways
onload=script12827(event_com)

// 1872:15
[tab_type_background_5]
type=graphic
width=45
height=69
layer=tab_type_layer_5
graphic="elr_journal_tab_castaways,1"
colour=0xffffff
clickmask=no
onmouseleave=graphic_swapper(event_com, "elr_journal_tab_castaways,1")
onmouserepeat=graphic_swapper(event_com, "elr_journal_tab_castaways,2")

// 1872:16
[tab_type_layer_6]
type=layer
x=292
width=45
height=69
layer=tabs_type_layer
hide=yes
transmitop1=yes
op1=View discoverable gemstones
onload=script12827(event_com)

// 1872:17
[tab_type_background_6]
type=graphic
width=45
height=69
layer=tab_type_layer_6
graphic="elr_journal_tab_gems,1"
colour=0xffffff
clickmask=no
onmouseleave=graphic_swapper(event_com, "elr_journal_tab_gems,1")
onmouserepeat=graphic_swapper(event_com, "elr_journal_tab_gems,2")

// 1872:18
[tab_type_layer_quests]
type=layer
x=343
width=45
height=69
xmode=abs_right
layer=tabs_type_layer
hide=yes
transmitop1=yes
op1=View miniquests
onload=script12827(event_com)

// 1872:19
[tab_type_background_quests]
type=graphic
width=45
height=69
layer=tab_type_layer_quests
graphic="elr_journal_tab_miniquests,1"
colour=0xffffff
clickmask=no
onmouseleave=graphic_swapper(event_com, "elr_journal_tab_miniquests,1")
onmouserepeat=graphic_swapper(event_com, "elr_journal_tab_miniquests,2")

// 1872:20
[tab_layer_guide]
type=layer
x=88
width=45
height=69
xmode=abs_right
ymode=abs_bottom
layer=tabs_type_layer
hide=yes
transmitop1=yes
op1=View tourist guide
onload=script12827(event_com)

// 1872:21
[tab_background_guide]
type=graphic
width=45
height=69
layer=tab_layer_guide
graphic="elr_journal_tab_info,1"
colour=0xffffff
clickmask=no
onmouseleave=graphic_swapper(event_com, "elr_journal_tab_info,1")
onmouserepeat=graphic_swapper(event_com, "elr_journal_tab_info,2")

// 1872:22
[tab_type_layer_close]
type=layer
x=37
width=45
height=69
xmode=abs_right
layer=tabs_type_layer
transmitop1=yes
op1=Close
onmouseleave=script8805
onmouserepeat=script3876("Close", event_com, -1)

// 1872:23
[tab_type_background_close]
type=graphic
width=45
height=69
layer=tab_type_layer_close
graphic="menaphos_journal_tab_close,0"
colour=0xffffff
clickmask=no
onmouseleave=graphic_swapper(event_com, "menaphos_journal_tab_close,0")
onmouserepeat=graphic_swapper(event_com, "menaphos_journal_tab_close,1")

// 1872:24
[book_layer]
type=layer
width=800
heightmode=minus
layer=content_layer

// 1872:25
[book_background_0]
type=graphic
width=200
height=5461
heightmode=proportion
layer=book_layer
graphic="menaphos_journal_background,0"
colour=0xffffff
clickmask=no

// 1872:26
[book_background_1]
type=graphic
x=200
width=200
height=5461
heightmode=proportion
layer=book_layer
graphic="menaphos_journal_background,1"
colour=0xffffff
clickmask=no

// 1872:27
[book_background_2]
type=graphic
width=200
height=5570
heightmode=proportion
ymode=abs_centre
layer=book_layer
graphic="menaphos_journal_background,2"
colour=0xffffff
clickmask=no

// 1872:28
[book_background_3]
type=graphic
x=200
width=200
height=5570
heightmode=proportion
ymode=abs_centre
layer=book_layer
graphic="menaphos_journal_background,3"
colour=0xffffff
clickmask=no

// 1872:29
[book_background_4]
type=graphic
width=200
height=5461
heightmode=proportion
ymode=abs_bottom
layer=book_layer
graphic="menaphos_journal_background,4"
colour=0xffffff
clickmask=no

// 1872:30
[book_background_5]
type=graphic
x=200
width=200
height=5461
heightmode=proportion
ymode=abs_bottom
layer=book_layer
graphic="menaphos_journal_background,5"
colour=0xffffff
clickmask=no

// 1872:31
[book_background_6]
type=graphic
x=200
width=200
height=5461
heightmode=proportion
xmode=abs_right
layer=book_layer
graphic="menaphos_journal_background,1"
hflip=yes
colour=0xffffff
clickmask=no

// 1872:32
[book_background_7]
type=graphic
width=200
height=5461
heightmode=proportion
xmode=abs_right
layer=book_layer
graphic="menaphos_journal_background,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1872:33
[book_background_8]
type=graphic
x=200
width=200
height=5570
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=book_layer
graphic="menaphos_journal_background,3"
hflip=yes
colour=0xffffff
clickmask=no

// 1872:34
[book_background_9]
type=graphic
width=200
height=5570
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=book_layer
graphic="menaphos_journal_background,2"
hflip=yes
colour=0xffffff
clickmask=no

// 1872:35
[book_background_10]
type=graphic
width=200
height=5461
heightmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=book_layer
graphic="menaphos_journal_background,4"
hflip=yes
colour=0xffffff
clickmask=no

// 1872:36
[book_background_11]
type=graphic
x=200
width=200
height=5461
heightmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=book_layer
graphic="menaphos_journal_background,5"
hflip=yes
colour=0xffffff
clickmask=no

// 1872:37
[home_layer]
type=layer
y=48
width=16391
height=530
widthmode=proportion
layer=book_layer
hide=yes

// 1872:38
[intro_text_layer]
type=layer
x=73
y=28
width=284
height=110
layer=home_layer

// 1872:39
[intro_text_header]
type=text
height=15
widthmode=minus
layer=intro_text_layer
textfont=cinzel_18pt_bold
text=HOME
textalignv=1
colour=0x000000

// 1872:40
[intro_text]
type=text
height=30
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=intro_text_layer
textfont=museo_sans_11pt_regular_multiline
text=The Arc Journal is your resource and guide for activities in the Arc Islands.<br><br>Use the bookmarks at the top to check your progress with the various items you can collect.
colour=0x000000

// 1872:41
[planter_layer]
type=layer
x=73
y=150
width=284
height=120
layer=home_layer

// 1872:42
[planter_text_header]
type=text
height=15
widthmode=minus
layer=planter_layer
textfont=cinzel_18pt_bold
text=PLANTERS
textalignv=1
colour=0x000000

// 1872:43
[planter_seed1_layer]
type=layer
y=30
height=30
widthmode=minus
layer=planter_layer

// 1872:44
[com_44]
type=graphic
width=22
height=22
ymode=abs_centre
layer=planter_seed1_layer
graphic="user_login_breadcrumb_numbers,0"
colour=0xffffff
clickmask=no

// 1872:45
[planter_seed1]
type=text
x=25
width=175
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=planter_seed1_layer
textfont=museo_sans_11pt_regular_multiline
text=Graine de roustiboisier
textalignv=1
colour=0x000000

// 1872:46
[planter_seed1_desc]
type=text
x=140
width=200
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=planter_seed1_layer
textfont=museo_sans_11pt_regular_multiline
text=Non plantée
textalignv=1
colour=0x000000

// 1872:47
[planter_seed1_time]
type=text
x=230
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=planter_seed1_layer
textfont=museo_sans_11pt_regular_multiline
text=99h 30m
textalignv=1
colour=0x000000

// 1872:48
[planter_seed2_layer]
type=layer
y=65
height=30
widthmode=minus
layer=planter_layer

// 1872:49
[com_49]
type=graphic
width=22
height=22
ymode=abs_centre
layer=planter_seed2_layer
graphic="user_login_breadcrumb_numbers,1"
colour=0xffffff
clickmask=no

// 1872:50
[planter_seed2]
type=text
x=25
width=175
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=planter_seed2_layer
textfont=museo_sans_11pt_regular_multiline
text=Glühbeeren-Samen
textalignv=1
colour=0x000000

// 1872:51
[planter_seed2_desc]
type=text
x=140
width=200
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=planter_seed2_layer
textfont=museo_sans_11pt_regular_multiline
text=À maturité
textalignv=1
colour=0x000000

// 1872:52
[planter_seed2_time]
type=text
x=230
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=planter_seed2_layer
textfont=museo_sans_11pt_regular_multiline
text=99h 30m
textalignv=1
colour=0x000000

// 1872:53
[contract_layer]
type=layer
x=73
y=25
width=284
height=222
ymode=abs_bottom
layer=home_layer

// 1872:54
[contract_title]
type=text
height=13
widthmode=minus
layer=contract_layer
textfont=cinzel_18pt_bold
text=Contracts
textalignv=1
colour=0x000000

// 1872:55
[contract_type]
type=text
y=25
height=15
widthmode=minus
layer=contract_layer
textfont=museo_sans_13pt_bold
text=Divination
colour=0x000000

// 1872:56
[contract_graphic_bg]
type=graphic
y=45
width=50
height=50
layer=contract_layer
colour=0xffffff
clickmask=no

// 1872:57
[contract_graphic]
type=graphic
y=45
width=50
height=50
layer=contract_layer
colour=0xffffff
clickmask=no

// 1872:58
[contract_reward_title]
type=text
y=141
height=15
widthmode=minus
layer=contract_layer
textfont=museo_sans_13pt_bold
text=Reward
colour=0x000000

// 1872:59
[contract_reward]
type=text
y=161
width=60
height=60
widthmode=minus
layer=contract_layer
textfont=museo_sans_11pt_regular_multiline
text=50 Chimes<br>11,310 Divination XP
colour=0x000000

// 1872:60
[contract_desc]
type=text
x=55
y=45
width=60
height=50
widthmode=minus
layer=contract_layer
textfont=museo_sans_11pt_regular_multiline
text=Something went wrong when trying to fetch information about your current contract. To make sure this information is up to date, please request contract information from the contract giver.
textalignh=1
textalignv=1
colour=0x000000

// 1872:61
[contract_progress_bar_bg]
type=layer
x=-1
y=90
height=21
widthmode=minus
ymode=abs_bottom
layer=contract_layer

// 1872:62
[contracts_bar_background_back_left]
type=graphic
width=8
height=19
layer=contract_progress_bar_bg
graphic="elr_journal_progress_bar_back,0"
colour=0xffffff
clickmask=no

// 1872:63
[contracts_bar_background_back_middle]
type=graphic
width=16
height=19
widthmode=minus
xmode=abs_centre
layer=contract_progress_bar_bg
graphic="elr_journal_progress_bar_back,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1872:64
[contracts_bar_background_back_right]
type=graphic
width=8
height=19
xmode=abs_right
layer=contract_progress_bar_bg
graphic="elr_journal_progress_bar_back,2"
colour=0xffffff
clickmask=no

// 1872:65
[contract_progress_bar]
type=layer
x=3
y=91
width=8
height=21
widthmode=minus
ymode=abs_bottom
layer=contract_layer

// 1872:66
[progress_bar_contracts_1]
type=graphic
width=4
height=11
ymode=abs_centre
layer=contract_progress_bar
graphic="elr_journal_progress_bar_bluewhite,0"
colour=0xffffff
clickmask=no

// 1872:67
[progress_bar_contracts_2]
type=graphic
width=8
height=11
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contract_progress_bar
graphic="elr_journal_progress_bar_bluewhite,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1872:68
[progress_bar_contracts_3]
type=graphic
width=4
height=11
xmode=abs_right
ymode=abs_centre
layer=contract_progress_bar
graphic="elr_journal_progress_bar_bluewhite,2"
colour=0xffffff
clickmask=no

// 1872:69
[contract_amount]
type=text
x=-1
y=76
height=11
widthmode=minus
ymode=abs_bottom
layer=contract_layer
textfont=museo_sans_11pt_regular
text=0/0
textalignh=2
textalignv=1
colour=0x000000

// 1872:70
[contract_contact_layer]
type=layer
y=161
width=60
height=60
xmode=abs_right
layer=contract_layer
onmouseleave=script8805
onmouserepeat=script8799("Summon your contract giver. You must be in the uncharted isles.", event_com, event_comsubid)

// 1872:71
[contract_contact_button_layer]
type=layer
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=contract_contact_layer

// 1872:72
[contract_contact_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contract_contact_button_layer
onload=script7699(event_com)

// 1872:73
[contract_contact_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contract_contact_button_layer
onload=script7728(event_com)

// 1872:74
[contract_contact_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contract_contact_button_layer
onload=script7729(event_com)

// 1872:75
[contract_contact_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contract_contact_button_layer
hide=yes
onload=script8225(event_com)

// 1872:76
[contract_contact_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=contract_contact_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1872:77
[contract_contact_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contract_contact_button_layer
hide=yes
onload=script8228(event_com)

// 1872:78
[contract_contact_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contract_contact_button_layer
hide=yes

// 1872:79
[contract_contact_qty]
type=text
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contract_contact_layer
textfont=museo_sans_11pt_regular
text=99
textalignh=2
textalignv=2
colour=0x000000
onload=script7993(event_com)

// 1872:80
[contract_contact_model]
type=model
x=1
y=-7
width=25
height=36
xmode=abs_centre
ymode=abs_centre
layer=contract_contact_layer
model=vkq2_whistle
modelorigin_x=-1
modelorigin_y=1
modelangle_x=303
modelangle_y=3
modelangle_z=0
modelzoom=601

// 1872:81
[overview]
type=text
x=73
y=28
width=284
height=13
xmode=abs_right
layer=home_layer
textfont=cinzel_18pt_bold
text=Overview
textalignv=1
colour=0x000000

// 1872:82
[progress_bars_layer]
type=layer
x=73
width=284
height=290
heightmode=minus
xmode=abs_right
layer=home_layer

// 1872:83
[miniquests_progress_layer]
type=layer
y=55
height=53
widthmode=minus
xmode=abs_centre
layer=progress_bars_layer

// 1872:84
[miniquests_bar_background_layer]
type=layer
width=284
height=19
xmode=abs_centre
ymode=abs_centre
layer=miniquests_progress_layer

// 1872:85
[miniquests_bar_background_back_1]
type=graphic
width=16
height=19
widthmode=minus
xmode=abs_centre
layer=miniquests_bar_background_layer
graphic="elr_journal_progress_bar_back,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1872:86
[miniquests_bar_background_back_left]
type=graphic
width=8
height=19
layer=miniquests_bar_background_layer
graphic="elr_journal_progress_bar_back,0"
colour=0xffffff
clickmask=no

// 1872:87
[miniquests_bar_background_back_right]
type=graphic
width=8
height=19
xmode=abs_right
layer=miniquests_bar_background_layer
graphic="elr_journal_progress_bar_back,2"
colour=0xffffff
clickmask=no

// 1872:88
[miniquests_progress_bar]
type=layer
x=4
width=276
height=11
ymode=abs_centre
layer=miniquests_progress_layer

// 1872:89
[miniquests_bar_collections_1]
type=graphic
width=4
height=11
ymode=abs_centre
layer=miniquests_progress_bar
graphic="elr_journal_progress_bar_bluewhite,0"
colour=0xffffff
clickmask=no

// 1872:90
[miniquests_bar_collections_2]
type=graphic
x=4
width=8
height=11
widthmode=minus
ymode=abs_centre
layer=miniquests_progress_bar
graphic="elr_journal_progress_bar_bluewhite,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1872:91
[miniquests_bar_collections_3]
type=graphic
width=4
height=11
xmode=abs_right
ymode=abs_centre
layer=miniquests_progress_bar
graphic="elr_journal_progress_bar_bluewhite,2"
colour=0xffffff
clickmask=no

// 1872:92
[miniquests_progress_title]
type=text
height=13
widthmode=minus
xmode=abs_centre
layer=miniquests_progress_layer
textfont=museo_sans_13pt_bold
text=Miniquests
textalignv=1
colour=0x000000

// 1872:93
[miniquests_progress_text]
type=text
height=12
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=miniquests_progress_layer
textfont=museo_sans_11pt_regular
text=0/0
textalignh=2
textalignv=1
colour=0x000000

// 1872:94
[tasks_progress_layer]
type=layer
y=116
height=53
widthmode=minus
xmode=abs_centre
layer=progress_bars_layer

// 1872:95
[castaways_bar_background_layer]
type=layer
y=16
height=19
widthmode=minus
xmode=abs_centre
layer=tasks_progress_layer

// 1872:96
[castaways_bar_background_back]
type=graphic
width=16
height=19
widthmode=minus
xmode=abs_centre
layer=castaways_bar_background_layer
graphic="elr_journal_progress_bar_back,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1872:97
[castaways_bar_background_back_left]
type=graphic
width=8
height=19
layer=castaways_bar_background_layer
graphic="elr_journal_progress_bar_back,0"
colour=0xffffff
clickmask=no

// 1872:98
[miniquests_bar_background_back_right_1]
type=graphic
width=8
height=19
xmode=abs_right
layer=castaways_bar_background_layer
graphic="elr_journal_progress_bar_back,2"
colour=0xffffff
clickmask=no

// 1872:99
[tasks_progress_bar]
type=layer
x=4
y=-1
width=276
height=11
ymode=abs_centre
layer=tasks_progress_layer

// 1872:100
[tasks_bar_collections_1]
type=graphic
width=4
height=11
ymode=abs_centre
layer=tasks_progress_bar
graphic="elr_journal_progress_bar_bluewhite,0"
colour=0xffffff
clickmask=no

// 1872:101
[tasks_bar_collections_2]
type=graphic
width=8
height=11
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tasks_progress_bar
graphic="elr_journal_progress_bar_bluewhite,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1872:102
[tasks_bar_collections_3]
type=graphic
width=4
height=11
xmode=abs_right
ymode=abs_centre
layer=tasks_progress_bar
graphic="elr_journal_progress_bar_bluewhite,2"
colour=0xffffff
clickmask=no

// 1872:103
[tasks_progress_title]
type=text
height=13
widthmode=minus
xmode=abs_centre
layer=tasks_progress_layer
textfont=museo_sans_13pt_bold
text=Castaways
textalignv=1
colour=0x000000

// 1872:104
[tasks_progress_text]
type=text
height=13
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=tasks_progress_layer
textfont=museo_sans_11pt_regular
text=0/0
textalignh=2
textalignv=1
colour=0x000000

// 1872:105
[collections_progress_layer]
type=layer
y=177
height=53
widthmode=minus
xmode=abs_centre
layer=progress_bars_layer

// 1872:106
[collections_bar_background_layer]
type=layer
y=16
width=284
height=19
xmode=abs_centre
layer=collections_progress_layer

// 1872:107
[collections_bar_background_back_1]
type=graphic
width=16
height=19
widthmode=minus
xmode=abs_centre
layer=collections_bar_background_layer
graphic="elr_journal_progress_bar_back,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1872:108
[collections_bar_background_back_left]
type=graphic
width=8
height=19
layer=collections_bar_background_layer
graphic="elr_journal_progress_bar_back,0"
colour=0xffffff
clickmask=no

// 1872:109
[collections_bar_background_back_right]
type=graphic
width=8
height=19
xmode=abs_right
layer=collections_bar_background_layer
graphic="elr_journal_progress_bar_back,2"
colour=0xffffff
clickmask=no

// 1872:110
[collections_progress_bar]
type=layer
x=4
y=-1
width=276
height=11
ymode=abs_centre
layer=collections_progress_layer

// 1872:111
[progress_bar_collections_0]
type=graphic
width=4
height=11
ymode=abs_centre
layer=collections_progress_bar
graphic="elr_journal_progress_bar_bluewhite,0"
colour=0xffffff
clickmask=no

// 1872:112
[progress_bar_collections_1]
type=graphic
width=8
height=11
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=collections_progress_bar
graphic="elr_journal_progress_bar_bluewhite,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1872:113
[progress_bar_collections_2]
type=graphic
width=4
height=11
xmode=abs_right
ymode=abs_centre
layer=collections_progress_bar
graphic="elr_journal_progress_bar_bluewhite,2"
colour=0xffffff
clickmask=no

// 1872:114
[collections_progress_title]
type=text
height=12
widthmode=minus
xmode=abs_centre
layer=collections_progress_layer
textfont=museo_sans_13pt_bold
text=Discoveries
textalignv=1
colour=0x000000

// 1872:115
[collections_progress_text]
type=text
y=40
height=15
widthmode=minus
xmode=abs_centre
layer=collections_progress_layer
textfont=museo_sans_11pt_regular
text=0/0
textalignh=2
textalignv=1
colour=0x000000

// 1872:116
[stamp_layer]
type=layer
x=73
y=20
width=284
height=255
xmode=abs_right
ymode=abs_bottom
layer=home_layer

// 1872:117
[stamp_layer_title]
type=text
height=15
widthmode=minus
layer=stamp_layer
textfont=cinzel_18pt_bold
text=Completion
colour=0x000000

// 1872:118
[bird_stamp]
type=graphic
y=25
width=84
height=84
layer=stamp_layer
graphic="elr_journal_icon_collections_birds,0"
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script3876("A stamp awarded to those that have discovered all the birds in the Arc.", event_com, -1)

// 1872:119
[mushroom_stamp]
type=graphic
y=25
width=84
height=84
xmode=abs_centre
layer=stamp_layer
graphic="elr_journal_icon_collections_mushrooms,0"
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script3876("A stamp awarded to those that have discovered all the mushrooms in the Arc.", event_com, -1)

// 1872:120
[berry_stamp]
type=graphic
y=25
width=84
height=84
xmode=abs_right
layer=stamp_layer
graphic="elr_journal_icon_collections_berries,0"
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script3876("A stamp awarded to those that have discovered all the berries in the Arc.", event_com, -1)

// 1872:121
[impling_stamp]
type=graphic
y=120
width=84
height=84
layer=stamp_layer
graphic="elr_journal_icon_collections_implings,0"
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script3876("A stamp awarded to those that have discovered all the kami spirits in the Arc.", event_com, -1)

// 1872:122
[castaway_stamp]
type=graphic
y=120
width=84
height=84
xmode=abs_centre
layer=stamp_layer
graphic="elr_journal_icon_collections_castaways,0"
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script3876("A stamp awarded to those that have visited all castaways on uncharted isles.", event_com, -1)

// 1872:123
[miniquest_stamp]
type=graphic
y=120
width=84
height=84
xmode=abs_right
layer=stamp_layer
graphic="elr_journal_icon_collections_miniquests,0"
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script3876("A stamp awarded to those that have completed all miniquests in the Arc.", event_com, -1)

// 1872:124
[dynamic_layer]
type=layer
y=48
width=60
height=530
widthmode=minus
xmode=abs_centre
layer=book_layer

// 1872:125
[guide_layer]
type=layer
y=48
width=60
height=530
widthmode=minus
xmode=abs_centre
layer=book_layer
hide=yes

// 1872:126
[guide_title]
type=text
x=20
y=25
width=330
height=17
layer=guide_layer
textfont=museo_sans_17pt_bold
text=The Arc: A Tourist's Guide
textalignh=1
textalignv=1
colour=0x000000

// 1872:127
[guide_intro]
type=text
x=40
y=80
width=290
height=11
layer=guide_layer
textfont=museo_sans_11pt_regular_multiline
text=Welcome to the Arc
textalignh=1
textalignv=1
colour=0x000000

// 1872:128
[guide_page_1_1]
type=text
x=40
y=127
width=290
height=340
layer=guide_layer
textfont=museo_sans_11pt_regular_multiline
colour=0x000000

// 1872:129
[guide_page_1_2]
type=text
x=40
y=379
width=290
height=75
layer=guide_layer
textfont=museo_sans_11pt_regular_multiline
colour=0x000000

// 1872:130
[guide_page_2]
type=text
x=40
y=67
width=290
height=455
xmode=abs_right
layer=guide_layer
textfont=museo_sans_11pt_regular_multiline
colour=0x000000

// 1872:131
[tab_active_tab]
type=layer
x=37
width=45
height=69
layer=content_layer

// 1872:132
[tab_active_tab_graphic]
type=graphic
width=45
height=69
layer=tab_active_tab
graphic="menaphos_journal_tab_insect,0"
colour=0xffffff
clickmask=no

