// 1453:0
[impling_1]
type=layer
y=24
width=158
height=25
layer=butterfly_layer

// 1453:1
[butterfly_title]
type=text
y=6
height=15
widthmode=minus
layer=butterfly_layer
textfont=museo_sans_13pt_regular
text=Guthix Butterfly
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 1453:2
[line_1]
type=layer
height=2
widthmode=minus
layer=implings_layer
onload=script11740(event_com)

// 1453:3
[impling_title]
type=text
y=5
height=15
widthmode=minus
layer=implings_layer
textfont=museo_sans_13pt_regular
text=Implings
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 1453:4
[impling_2]
type=layer
y=23
width=158
height=25
layer=implings_layer

// 1453:5
[impling_3]
type=layer
y=23
width=158
height=25
xmode=abs_centre
layer=implings_layer

// 1453:6
[impling_4]
type=layer
y=23
width=158
height=25
xmode=abs_right
layer=implings_layer

// 1453:7
[impling_5]
type=layer
y=50
width=158
height=25
layer=implings_layer

// 1453:8
[impling_6]
type=layer
y=50
width=158
height=25
xmode=abs_centre
layer=implings_layer

// 1453:9
[impling_7]
type=layer
y=50
width=158
height=25
xmode=abs_right
layer=implings_layer

// 1453:10
[impling_8]
type=layer
y=77
width=158
height=25
layer=implings_layer

// 1453:11
[impling_9]
type=layer
y=77
width=158
height=25
xmode=abs_centre
layer=implings_layer

// 1453:12
[impling_10]
type=layer
y=77
width=158
height=25
xmode=abs_right
layer=implings_layer

// 1453:13
[impling_11]
type=layer
y=104
width=158
height=25
layer=implings_layer

// 1453:14
[impling_12]
type=layer
y=104
width=158
height=25
xmode=abs_centre
layer=implings_layer

// 1453:15
[impling_13]
type=layer
y=104
width=158
height=25
xmode=abs_right
layer=implings_layer

// 1453:16
[impling_14]
type=layer
y=131
width=158
height=25
layer=implings_layer

// 1453:17
[impling_15]
type=layer
y=131
width=158
height=25
xmode=abs_centre
layer=implings_layer

// 1453:18
[impling_16]
type=layer
y=131
width=158
height=25
xmode=abs_right
layer=implings_layer

// 1453:19
[toggle_container]
type=layer
x=3
y=5
width=150
height=15
xmode=abs_right
layer=implings_layer

// 1453:20
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(menaphos_impling_toggle:mainmodal_window_background, menaphos_impling_toggle:mainmodal_window_border, menaphos_impling_toggle:mainmodal_window_content, menaphos_impling_toggle:mainmodal_window_close_button, "Gathering Settings", 21218, string_1007)

// 1453:21
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1453:22
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1453:23
[scrolling_layer]
type=layer
y=2
height=37
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
onvartransmit=script370
onvartransmitlist=menaphos_impling_toggle

// 1453:24
[butterfly_layer]
type=layer
x=5
y=-6
width=10
height=52
widthmode=minus
layer=scrolling_layer

// 1453:25
[implings_layer]
type=layer
x=5
y=45
width=10
height=159
widthmode=minus
layer=scrolling_layer

// 1453:26
[info_holder_active_2]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_1
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:27
[info_holder_active_1]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_2
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:28
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_3
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:29
[info_holder_active_3]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_4
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:30
[info_holder_active_4]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_5
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:31
[info_holder_active_5]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_6
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:32
[info_holder_active_6]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_7
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:33
[info_holder_active_7]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_8
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:34
[info_holder_active_8]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_9
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:35
[info_holder_active_9]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_10
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:36
[info_holder_active_10]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_11
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:37
[info_holder_active_11]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_12
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:38
[info_holder_active_13]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_13
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:39
[info_holder_active_12]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_14
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:40
[info_holder_active_14]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_15
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:41
[info_holder_active_15]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=impling_16
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:42
[impling_toggle_all]
type=layer
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=toggle_container
transmitop1=yes
op1=Toggle

// 1453:43
[checkbox_selected_layer]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_toggle_all
onload=script7755(event_com)

// 1453:44
[checkbox_selected_disabled_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_toggle_all
onload=script7757(event_com)

// 1453:45
[checkbox_deselected_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_toggle_all
onload=script7756(event_com)

// 1453:46
[checkbox_deselected_disabled_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_toggle_all
onload=script7758(event_com)

// 1453:47
[com_47]
type=text
x=20
widthmode=minus
heightmode=minus
xmode=abs_right
layer=toggle_container
textfont=museo_sans_11pt_regular
text=Toggle all:
textalignh=2
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1453:48
[info_holder_active_preview]
type=layer
x=5
y=5
width=10
height=30
widthmode=minus
ymode=abs_bottom
layer=mainmodal_window_content

// 1453:49
[info_holder_active_16]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=info_holder_active_preview
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1453:50
[com_50]
type=text
x=5
width=10
widthmode=minus
heightmode=minus
layer=info_holder_active_preview
textfont=museo_sans_11pt_regular
text=When toggled off, this butterfly or impling type will no longer spawn. You will not receive any reward in place of this.
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1453:51
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1453:52
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1453:53
[impling_button_1]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_1
transmitop1=yes
op1=Toggle

// 1453:54
[checkbox_selected_1]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_1
onload=script7755(event_com)

// 1453:55
[checkbox_selected_disabled_1]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_1
onload=script7757(event_com)

// 1453:56
[checkbox_deselected_1]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_1
onload=script7756(event_com)

// 1453:57
[checkbox_deselected_disabled_1]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_1
onload=script7758(event_com)

// 1453:58
[impling_text_1]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_1
textfont=museo_sans_11pt_regular
text=Guthix butterfly
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:59
[impling_button_2]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_2
transmitop1=yes
op1=Toggle

// 1453:60
[checkbox_selected_2]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_2
onload=script7755(event_com)

// 1453:61
[checkbox_selected_disabled_2]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_2
onload=script7757(event_com)

// 1453:62
[checkbox_deselected_2]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_2
onload=script7756(event_com)

// 1453:63
[checkbox_deselected_disabled_2]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_2
onload=script7758(event_com)

// 1453:64
[impling_text_2]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_2
textfont=museo_sans_11pt_regular
text=Baby (Level 17)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:65
[impling_button_3]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_3
transmitop1=yes
op1=Toggle

// 1453:66
[checkbox_selected_3]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_3
onload=script7755(event_com)

// 1453:67
[checkbox_selected_disabled_3]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_3
onload=script7757(event_com)

// 1453:68
[checkbox_deselected_3]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_3
onload=script7756(event_com)

// 1453:69
[checkbox_deselected_disabled_3]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_3
onload=script7758(event_com)

// 1453:70
[impling_text_3]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_3
textfont=museo_sans_11pt_regular
text=Young (Level 22)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:71
[impling_button_4]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_4
transmitop1=yes
op1=Toggle

// 1453:72
[checkbox_selected_4]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_4
onload=script7755(event_com)

// 1453:73
[checkbox_selected_disabled_4]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_4
onload=script7757(event_com)

// 1453:74
[checkbox_deselected_4]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_4
onload=script7756(event_com)

// 1453:75
[checkbox_deselected_disabled_4]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_4
onload=script7758(event_com)

// 1453:76
[impling_text_4]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_4
textfont=museo_sans_11pt_regular
text=Gourmet (Level 28)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:77
[impling_button_5]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_5
transmitop1=yes
op1=Toggle

// 1453:78
[checkbox_selected_5]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_5
onload=script7755(event_com)

// 1453:79
[checkbox_selected_disabled_5]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_5
onload=script7757(event_com)

// 1453:80
[checkbox_deselected_5]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_5
onload=script7756(event_com)

// 1453:81
[checkbox_deselected_disabled_5]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_5
onload=script7758(event_com)

// 1453:82
[impling_text_5]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_5
textfont=museo_sans_11pt_regular
text=Earth (Level 36)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:83
[impling_button_6]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_6
transmitop1=yes
op1=Toggle

// 1453:84
[checkbox_selected_6]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_6
onload=script7755(event_com)

// 1453:85
[checkbox_selected_disabled_6]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_6
onload=script7757(event_com)

// 1453:86
[checkbox_deselected_6]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_6
onload=script7756(event_com)

// 1453:87
[checkbox_deselected_disabled_6]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_6
onload=script7758(event_com)

// 1453:88
[impling_text_6]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_6
textfont=museo_sans_11pt_regular
text=Essence (Level 42)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:89
[impling_button_7]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_7
transmitop1=yes
op1=Toggle

// 1453:90
[checkbox_selected_7]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_7
onload=script7755(event_com)

// 1453:91
[checkbox_selected_disabled_7]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_7
onload=script7757(event_com)

// 1453:92
[checkbox_deselected_7]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_7
onload=script7756(event_com)

// 1453:93
[checkbox_deselected_disabled_7]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_7
onload=script7758(event_com)

// 1453:94
[impling_text_7]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_7
textfont=museo_sans_11pt_regular
text=Eclectic (Level 50)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:95
[impling_button_8]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_8
transmitop1=yes
op1=Toggle

// 1453:96
[checkbox_selected_8]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_8
onload=script7755(event_com)

// 1453:97
[checkbox_selected_disabled_8]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_8
onload=script7757(event_com)

// 1453:98
[checkbox_deselected_8]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_8
onload=script7756(event_com)

// 1453:99
[checkbox_deselected_disabled_8]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_8
onload=script7758(event_com)

// 1453:100
[impling_text_8]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_8
textfont=museo_sans_11pt_regular
text=Spirit (Level 54)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:101
[impling_button_9]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_9
transmitop1=yes
op1=Toggle

// 1453:102
[checkbox_selected_9]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_9
onload=script7755(event_com)

// 1453:103
[checkbox_selected_disabled_9]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_9
onload=script7757(event_com)

// 1453:104
[checkbox_deselected_9]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_9
onload=script7756(event_com)

// 1453:105
[checkbox_deselected_disabled_9]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_9
onload=script7758(event_com)

// 1453:106
[impling_text_9]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_9
textfont=museo_sans_11pt_regular
text=Nature (Level 58)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:107
[impling_button_10]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_10
transmitop1=yes
op1=Toggle

// 1453:108
[checkbox_selected_10]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_10
onload=script7755(event_com)

// 1453:109
[checkbox_selected_disabled_10]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_10
onload=script7757(event_com)

// 1453:110
[checkbox_deselected_10]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_10
onload=script7756(event_com)

// 1453:111
[checkbox_deselected_disabled_10]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_10
onload=script7758(event_com)

// 1453:112
[impling_text_10]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_10
textfont=museo_sans_11pt_regular
text=Magpie (Level 65)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:113
[impling_button_11]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_11
transmitop1=yes
op1=Toggle

// 1453:114
[checkbox_selected_11]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_11
onload=script7755(event_com)

// 1453:115
[checkbox_selected_disabled_11]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_11
onload=script7757(event_com)

// 1453:116
[checkbox_deselected_11]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_11
onload=script7756(event_com)

// 1453:117
[checkbox_deselected_disabled_11]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_11
onload=script7758(event_com)

// 1453:118
[impling_text_11]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_11
textfont=museo_sans_11pt_regular
text=Ninja (Level 74)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:119
[impling_button_12]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_12
transmitop1=yes
op1=Toggle

// 1453:120
[checkbox_selected_12]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_12
onload=script7755(event_com)

// 1453:121
[checkbox_selected_disabled_12]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_12
onload=script7757(event_com)

// 1453:122
[checkbox_deselected_12]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_12
onload=script7756(event_com)

// 1453:123
[checkbox_deselected_disabled_12]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_12
onload=script7758(event_com)

// 1453:124
[impling_text_12]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_12
textfont=museo_sans_11pt_regular
text=Pirate (Level 76)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:125
[impling_button_13]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_13
transmitop1=yes
op1=Toggle

// 1453:126
[checkbox_selected_13]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_13
onload=script7755(event_com)

// 1453:127
[checkbox_selected_disabled_13]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_13
onload=script7757(event_com)

// 1453:128
[checkbox_deselected_13]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_13
onload=script7756(event_com)

// 1453:129
[checkbox_deselected_disabled_13]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_13
onload=script7758(event_com)

// 1453:130
[impling_text_13]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_13
textfont=museo_sans_11pt_regular
text=Divine (Level 79)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:131
[impling_button_14]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_14
transmitop1=yes
op1=Toggle

// 1453:132
[checkbox_selected_14]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_14
onload=script7755(event_com)

// 1453:133
[checkbox_selected_disabled_14]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_14
onload=script7757(event_com)

// 1453:134
[checkbox_deselected_14]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_14
onload=script7756(event_com)

// 1453:135
[checkbox_deselected_disabled_14]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_14
onload=script7758(event_com)

// 1453:136
[impling_text_14]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_14
textfont=museo_sans_11pt_regular
text=Dragon (Level 83)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:137
[impling_button_15]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_15
transmitop1=yes
op1=Toggle

// 1453:138
[checkbox_selected_15]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_15
onload=script7755(event_com)

// 1453:139
[checkbox_selected_disabled_15]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_15
onload=script7757(event_com)

// 1453:140
[checkbox_deselected_15]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_15
onload=script7756(event_com)

// 1453:141
[checkbox_deselected_disabled_15]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_15
onload=script7758(event_com)

// 1453:142
[impling_text_15]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_15
textfont=museo_sans_11pt_regular
text=Zombie (Level 87)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1453:143
[impling_button_16]
type=layer
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=impling_16
transmitop1=yes
op1=Toggle

// 1453:144
[checkbox_selected_16]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=impling_button_16
onload=script7755(event_com)

// 1453:145
[checkbox_selected_disabled_16]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_16
onload=script7757(event_com)

// 1453:146
[checkbox_deselected_16]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_16
onload=script7756(event_com)

// 1453:147
[checkbox_deselected_disabled_16]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=impling_button_16
onload=script7758(event_com)

// 1453:148
[impling_text_16]
type=text
x=3
width=24
widthmode=minus
heightmode=minus
layer=impling_16
textfont=museo_sans_11pt_regular
text=Kingly (Level 91)
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

