// 1165:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(messagescroll_extended:mainmodal_window_background, messagescroll_extended:mainmodal_window_border, messagescroll_extended:mainmodal_window_content, messagescroll_extended:mainmodal_window_close_button, "Scroll", 21218, string_1007)

// 1165:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1165:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1165:3
[com_3]
type=graphic
width=496
height=293
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
graphic=rs3_parchment_scroll_background
colour=0xffffff
clickmask=no

// 1165:4
[content_layer]
type=layer
y=-10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 1165:5
[content_holding_layer]
type=layer
y=34
width=80
height=248
widthmode=minus
xmode=abs_centre
layer=content_layer

// 1165:6
[content_scrollbar_layer]
type=layer
x=23
y=34
width=16
height=248
xmode=abs_right
layer=content_layer
hide=yes

// 1165:7
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1165:8
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

