// 1769:0
[minimal_sprite_component]
type=graphic
x=-4
y=-4
width=32
height=32
layer=bespoke_window_content
colour=0xffffff
clickmask=no

// 1769:1
[invis_button]
type=layer
x=-4
y=-4
width=512
height=334
layer=bespoke_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1769:2
[universe]
type=layer
width=150
height=150
xmode=abs_centre
ymode=abs_centre
onload=script8420(minimal_popup:bespoke_window_background, minimal_popup:bespoke_window_border, minimal_popup:bespoke_window_content, minimal_popup:close_button_layer, "", 21259, null)
onvartransmit=script345
onvartransmitlist=minimal_popup_struct

// 1769:3
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=universe

// 1769:4
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=universe

// 1769:5
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1769:6
[close_button_layer]
type=layer
width=512
height=334
xmode=abs_right
layer=universe
transmitop1=yes
op1=Close
onop=closebutton_click

