// 844:0
[background_1]
type=layer
widthmode=minus
heightmode=minus
layer=other
onload=script10896(event_com, null, rs3tli_content_panel)

// 844:1
[ore_layer]
type=layer
height=148
widthmode=minus
layer=bounding

// 844:2
[wood_layer]
type=layer
height=148
widthmode=minus
layer=bounding
hide=yes

// 844:3
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(mob_locator:mainmodal_window_background, mob_locator:mainmodal_window_border, mob_locator:mainmodal_window_content, mob_locator:mainmodal_window_close_button, "Resource Locator", 21218, string_1007)

// 844:4
[herb1]
type=graphic
x=47
y=11
width=32
height=32
layer=other
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:5
[herbtext1]
type=text
x=13
y=45
width=94
height=32
layer=other
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:6
[herb2]
type=graphic
x=153
y=11
width=32
height=32
layer=other
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:7
[herbtext2]
type=text
x=123
y=45
width=94
height=32
layer=other
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:8
[fish1]
type=graphic
x=281
y=11
width=32
height=32
layer=other
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:9
[fishtext1]
type=text
x=251
y=45
width=94
height=32
layer=other
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:10
[fish2]
type=graphic
x=391
y=11
width=32
height=32
layer=other
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:11
[fishtext2]
type=text
x=363
y=45
width=94
height=32
layer=other
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:12
[wood1]
type=graphic
x=20
y=6
width=32
height=32
layer=wood_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:13
[wood2]
type=graphic
x=99
y=6
width=32
height=32
layer=wood_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:14
[wood3]
type=graphic
x=182
y=6
width=32
height=32
layer=wood_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:15
[wood4]
type=graphic
x=260
y=6
width=32
height=32
layer=wood_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:16
[wood5]
type=graphic
x=338
y=6
width=32
height=32
layer=wood_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:17
[wood6]
type=graphic
x=414
y=6
width=32
height=32
layer=wood_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:18
[wood7]
type=graphic
x=21
y=81
width=32
height=32
layer=wood_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:19
[wood8]
type=graphic
x=99
y=81
width=32
height=32
layer=wood_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:20
[woodtext1]
type=text
x=3
y=40
width=70
height=32
layer=wood_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:21
[woodtext2]
type=text
x=83
y=40
width=70
height=32
layer=wood_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:22
[woodtext3]
type=text
x=165
y=40
width=70
height=32
layer=wood_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:23
[woodtext4]
type=text
x=242
y=40
width=70
height=32
layer=wood_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:24
[woodtext5]
type=text
x=321
y=40
width=70
height=32
layer=wood_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:25
[woodtext6]
type=text
x=398
y=40
width=70
height=32
layer=wood_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:26
[woodtext7]
type=text
x=4
y=115
width=70
height=32
layer=wood_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:27
[woodtext8]
type=text
x=81
y=115
width=75
height=32
layer=wood_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:28
[ore1]
type=graphic
x=20
y=6
width=32
height=32
layer=ore_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:29
[ore2]
type=graphic
x=99
y=6
width=32
height=32
layer=ore_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:30
[ore3]
type=graphic
x=182
y=6
width=32
height=32
layer=ore_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:31
[ore4]
type=graphic
x=260
y=6
width=32
height=32
layer=ore_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:32
[ore5]
type=graphic
x=338
y=6
width=32
height=32
layer=ore_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:33
[ore6]
type=graphic
x=414
y=6
width=32
height=32
layer=ore_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:34
[ore7]
type=graphic
x=21
y=81
width=32
height=32
layer=ore_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:35
[ore8]
type=graphic
x=99
y=81
width=32
height=32
layer=ore_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:36
[ore9]
type=graphic
x=182
y=81
width=32
height=32
layer=ore_layer
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 844:37
[oretext1]
type=text
x=3
y=40
width=70
height=32
layer=ore_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:38
[oretext2]
type=text
x=83
y=40
width=70
height=32
layer=ore_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:39
[oretext3]
type=text
x=165
y=40
width=70
height=32
layer=ore_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:40
[oretext4]
type=text
x=242
y=40
width=70
height=32
layer=ore_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:41
[oretext5]
type=text
x=321
y=40
width=70
height=32
layer=ore_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:42
[oretext6]
type=text
x=398
y=40
width=70
height=32
layer=ore_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:43
[oretext7]
type=text
x=4
y=115
width=70
height=32
layer=ore_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:44
[oretext8]
type=text
x=81
y=115
width=70
height=32
layer=ore_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:45
[oretext9]
type=text
x=164
y=115
width=70
height=32
layer=ore_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 844:46
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 844:47
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 844:48
[content]
type=layer
y=23
height=160
widthmode=minus
layer=mainmodal_window_content
onload=mob_locator_onload
onvarctransmit=mob_locator_resource_setup
onvarctransmitlist=mob_locator_charges,mob_locator_type

// 844:49
[tabs]
type=layer
width=25
height=27
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 844:50
[charges]
type=text
x=10
width=200
height=23
xmode=abs_right
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=Charges left:
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 844:51
[other]
type=layer
y=15
width=10
height=90
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 844:52
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 844:53
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 844:54
[ore_tab]
type=layer
width=115
height=27
layer=tabs
onload=script9797(mob_locator:ore_build, mob_locator:ore_click, rs3tli_modal_tab, "Ores", string_1)

// 844:55
[ore_build]
type=layer
widthmode=minus
heightmode=minus
layer=ore_tab

// 844:56
[ore_click]
type=layer
widthmode=minus
heightmode=minus
layer=ore_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=mob_locator_switch_tab(1)

// 844:57
[logs_tab]
type=layer
x=115
width=115
height=27
layer=tabs
onload=script9797(mob_locator:logs_build, mob_locator:logs_click, rs3tli_modal_tab, "Logs", string_0)

// 844:58
[logs_build]
type=layer
widthmode=minus
heightmode=minus
layer=logs_tab

// 844:59
[logs_click]
type=layer
widthmode=minus
heightmode=minus
layer=logs_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=mob_locator_switch_tab(2)

// 844:60
[background]
type=layer
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content
onload=script10896(event_com, null, rs3tli_content_panel)

// 844:61
[bounding]
type=layer
y=5
width=20
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content

