// 842:0
[content]
type=layer
y=5
width=10
height=135
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content
onload=script2567
onvarctransmit=script2568
onvarctransmitlist=mob_client_queskit_item1

// 842:1
[com_1]
type=text
y=145
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular
text=If you complete a game of Mobilising Armies, your quest kit will replenish.
textalignh=1
textshadow=yes
colour=0xffcd05
onload=script10496(event_com, event_comsubid, 1)

// 842:2
[modal_dialog_window]
type=layer
width=150
height=90
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
onload=script8420(mob_rewards_quest_kit:modal_dialog_window_background, mob_rewards_quest_kit:modal_dialog_window_border, mob_rewards_quest_kit:modal_dialog_window_content, mob_rewards_quest_kit:modal_dialog_window_close_button, "Quest Kit", 21217, string_1007)

// 842:3
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 842:4
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 842:5
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 842:6
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

