// 1376:0
[mobile_minimap_icons]
type=layer
height=142
widthmode=minus
xmode=abs_right
onload=script9858

// 1376:1
[minimap_tween_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mobile_minimap_icons

// 1376:2
[blocking_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=minimap_tween_layer
noclickthrough=yes

// 1376:3
[bg]
type=layer
widthmode=minus
heightmode=minus
layer=minimap_tween_layer

// 1376:4
[panel]
type=graphic
width=57
height=26
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=bg
noclickthrough=yes
graphic=rs3_minimap_panel_background
colour=0xffffff
clickmask=no

// 1376:5
[corner_flair]
type=graphic
x=29
width=25
height=41
xmode=abs_right
layer=bg
noclickthrough=yes
graphic=rs3_minimap_btn_background
colour=0xffffff
clickmask=no

// 1376:6
[bg_main]
type=layer
width=50
widthmode=minus
heightmode=minus
layer=bg

// 1376:7
[minimap_button]
type=graphic
x=2
width=53
height=53
xmode=abs_right
layer=bg
noclickthrough=yes
graphic=rs3_minimap_btn_hide
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Toggle Minimap
onop=script9860(event_op)

// 1376:8
[inner_buttons]
type=layer
y=7
width=56
height=82
xmode=abs_right
ymode=abs_bottom
layer=bg

// 1376:9
[world_map_button]
type=graphic
width=40
height=40
xmode=abs_centre
layer=inner_buttons
graphic=btn_mobile_worldmap
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
op1=Open World Map
op2=Clear your marker
op3=Open World Select
op4=Skybox/Filters
op5=Toggle High Contrast Mode
onload=worldmap_button(event_com)
onvartransmit=worldmap_button(event_com)
onvartransmitlist=swansong_temp,playerdesign2_col,toplevel_v2_general_varp

// 1376:10
[home_teleport]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_bottom
layer=inner_buttons
graphic=btn_mobile_teleport
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
op1=Teleport
op2=Previous Destination
onvartransmit=script10905(event_com)
onvartransmitlist=thas_teleport_hubs_var1

// 1376:11
[minimap_window_mobile]
type=layer
x=4
y=8
width=12
height=12
widthmode=minus
heightmode=minus
layer=bg_main

// 1376:12
[tl]
type=graphic
width=13
height=16
layer=bg_main
noclickthrough=yes
graphic=rs3_minimap_top_left_corner
colour=0xffffff
clickmask=no

// 1376:13
[tm]
type=graphic
width=27
height=8
widthmode=minus
xmode=abs_centre
layer=bg_main
noclickthrough=yes
graphic=rs3_modal_window_3_top_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1376:14
[tr]
type=graphic
width=14
height=16
xmode=abs_right
layer=bg_main
noclickthrough=yes
graphic=rs3_minimap_top_right_corner
colour=0xffffff
clickmask=no

// 1376:15
[l]
type=graphic
x=-4
width=8
height=30
heightmode=minus
ymode=abs_centre
layer=bg_main
noclickthrough=yes
graphic=rs3_modal_window_3_side_left_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1376:16
[r]
type=graphic
width=8
height=24
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=bg_main
noclickthrough=yes
graphic=rs3_modal_window_3_side_right_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1376:17
[bl]
type=graphic
width=13
height=16
ymode=abs_bottom
layer=bg_main
noclickthrough=yes
graphic=rs3_minimap_bottom_left_corner
colour=0xffffff
clickmask=no

// 1376:18
[bm]
type=graphic
width=27
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bg_main
noclickthrough=yes
graphic=rs3_modal_window_3_bottom_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1376:19
[br]
type=graphic
width=14
height=16
xmode=abs_right
ymode=abs_bottom
layer=bg_main
noclickthrough=yes
graphic=rs3_minimap_bottom_right_corner
colour=0xffffff
clickmask=no

// 1376:20
[compass_layer]
type=layer
x=2
y=2
width=34
height=34
layer=bg_main

// 1376:21
[run_energy_layer]
type=layer
x=2
y=2
width=34
height=34
ymode=abs_bottom
layer=bg_main

// 1376:22
[minimap_layer]
type=layer
widthmode=minus
heightmode=minus
layer=minimap_window_mobile

