// 828:0
[universe]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes

// 828:1
[content]
type=layer
widthmode=minus
heightmode=minus
layer=universe
noclickthrough=yes
onload=mobile_shop_open

// 828:2
[fake_op_layer]
type=layer
width=1
height=1
layer=universe
hide=yes

// 828:3
[build_wrapper]
type=layer
widthmode=minus
heightmode=minus
layer=content

// 828:4
[tab_layer]
type=panel
width=160
heightmode=minus
layer=build_wrapper
noclickthrough=yes
isvertical=yes
childspacing=4

// 828:5
[right_build_panel]
type=layer
width=160
widthmode=minus
heightmode=minus
xmode=abs_right
layer=build_wrapper

// 828:6
[packages]
type=grid
y=-8
width=16
widthmode=minus
heightmode=minus
layer=right_build_panel
noclickthrough=yes
scrollheight=10000
childspacing=8
layoutparams_x=176
layoutparams_y=176
layoutparams_mode=yes

// 828:7
[scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=build_wrapper

// 828:8
[confirm_buy_container]
type=layer
widthmode=minus
heightmode=minus
layer=content
hide=yes

// 828:9
[one_tap_purchase_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content
hide=yes
noclickthrough=yes

// 828:10
[com_10]
type=rectangle
widthmode=minus
heightmode=minus
layer=one_tap_purchase_layer
colour=0x000000
fill=yes
trans=50

// 828:11
[spinner_builder]
type=layer
widthmode=minus
heightmode=minus
layer=one_tap_purchase_layer
onload=spinner_create(event_com, 3, -1)

// 828:12
[fake_op]
type=layer
width=1
height=1
layer=fake_op_layer

