// 709:0
[mainmodal_window]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(modal_choice_details:mainmodal_window_background, modal_choice_details:mainmodal_window_border, modal_choice_details:mainmodal_window_content, modal_choice_details:mainmodal_window_close_button, "Select an Option", 21218, string_1007)

// 709:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 709:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 709:3
[left]
type=layer
width=5734
widthmode=proportion
heightmode=minus
layer=mainmodal_window_content

// 709:4
[button_holder]
type=layer
x=4
y=4
width=6
height=8
widthmode=minus
heightmode=minus
layer=left
onvartransmit=script7832
onvartransmitlist=modal_general

// 709:5
[button_bg]
type=layer
widthmode=minus
heightmode=minus
layer=button_holder
onload=script7767(event_com, rs3_content_container_active, 0)

// 709:6
[right]
type=layer
width=10649
widthmode=proportion
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 709:7
[description_holder]
type=layer
x=4
y=4
width=6
height=8
widthmode=minus
heightmode=minus
xmode=abs_right
layer=right

// 709:8
[desc_bg]
type=layer
widthmode=minus
heightmode=minus
layer=description_holder
onload=script7767(event_com, rs3_content_container_active, 0)

// 709:9
[title]
type=text
x=4
y=4
width=8
height=15
widthmode=minus
layer=description_holder
textfont=cinzel_13pt_bold
textalignh=1
textalignv=1
textshadow=yes
maxlines=1
onload=script10496(event_com, -1, 0)

// 709:10
[desc_text_holder]
type=layer
x=4
y=25
width=8
height=60
widthmode=minus
heightmode=minus
layer=description_holder

// 709:11
[desc]
type=layer
widthmode=minus
heightmode=minus
layer=desc_text_holder

// 709:12
[desc_scrollbar]
type=layer
x=-1
width=16
heightmode=minus
xmode=abs_right
layer=desc_text_holder

// 709:13
[desc_text]
type=text
widthmode=minus
heightmode=minus
layer=desc
textfont=notosans_11
textshadow=yes
onload=script10496(event_com, -1, 3)

// 709:14
[activate_button_holder]
type=layer
y=4
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=description_holder

// 709:15
[activate_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=activate_button_holder
pausebutton=yes
pausetext=Select

// 709:16
[activate_button_blocker]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=activate_button_holder
hide=yes
noclickthrough=yes

// 709:17
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 709:18
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

