// 848:0
[blackout_layer]
type=layer
widthmode=minus
heightmode=minus
noclickthrough=yes

// 848:1
[com_1]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=blackout_layer
colour=0x000000
fill=yes
trans=100

// 848:2
[mainmodal_window]
type=layer
width=300
height=200
xmode=abs_centre
ymode=abs_centre
onload=script8420(modal_confirm_overlay:mainmodal_window_background, modal_confirm_overlay:mainmodal_window_border, modal_confirm_overlay:mainmodal_window_content, modal_confirm_overlay:mainmodal_window_close_button, "", 21218, string_1007)

// 848:3
[image_graphic]
type=graphic
width=35
height=35
xmode=abs_centre
ymode=abs_centre
layer=image_layer
colour=0xffffff
clickmask=no

// 848:4
[dont_ask_again_text]
type=text
width=28
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=dont_ask_again_layer
textfont=museo_sans_11pt_regular_multiline
text=Don't show this again
textalignh=2
textalignv=1
colour=0xcde1ff
onload=script10496(event_com, event_comsubid, 3)

// 848:5
[dont_show_again_checkbox]
type=graphic
x=4
width=18
height=18
xmode=abs_right
ymode=abs_centre
layer=dont_ask_again_layer
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
onload=script4213(event_com)
onmouseleave=graphic_swapper(event_com, "rs3_btn_checkbox,0")
onmouserepeat=graphic_swapper(event_com, "rs3_btn_checkbox,1")
onclick=script4167(event_com, modal_confirm_overlay:yes_button_checked_active_layer, modal_confirm_overlay:no_button_checked_active_layer)

// 848:6
[info_background]
type=layer
widthmode=minus
heightmode=minus
layer=info_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 848:7
[info_text_container]
type=layer
x=4
width=8
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=info_layer

// 848:8
[no_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_layer
onload=script7062(event_com)

// 848:9
[no_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_layer
onload=script7063(event_com)

// 848:10
[no_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_layer
onload=script7065(event_com)

// 848:11
[no_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_layer
hide=yes
onload=script7068(event_com)

// 848:12
[no_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=no_button_layer
pausebutton=yes
pausetext=Select
onload=script4213(event_com)

// 848:13
[no_button_checked_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=no_button_layer
hide=yes
noclickthrough=yes
pausebutton=yes
pausetext=Select

// 848:14
[no_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_layer
hide=yes
onload=script7074(event_com)

// 848:15
[no_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_layer

// 848:16
[no_button_text]
type=text
y=-1
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_text_layer
textfont=cinzel_13pt_bold
text=No
textlineheight=12
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 848:17
[yes_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_layer
onload=script7041(event_com)

// 848:18
[yes_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_layer
onload=script7042(event_com)

// 848:19
[yes_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_layer
onload=script7044(event_com)

// 848:20
[yes_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_layer
hide=yes
onload=script7047(event_com)

// 848:21
[yes_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=yes_button_layer
pausebutton=yes
pausetext=Select
onload=script4213(event_com)

// 848:22
[yes_button_checked_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=yes_button_layer
hide=yes
noclickthrough=yes
pausebutton=yes
pausetext=Select

// 848:23
[yes_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_layer
hide=yes
onload=script7060(event_com)

// 848:24
[yes_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_layer

// 848:25
[yes_button_text]
type=text
y=-1
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_text_layer
textfont=cinzel_13pt_bold
text=Yes
textlineheight=12
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 848:26
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 848:27
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 848:28
[dont_ask_again_layer]
type=layer
y=44
width=10
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 848:29
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 848:30
[image_layer]
type=layer
x=10
y=10
width=35
height=60
heightmode=minus
layer=mainmodal_window_content

// 848:31
[image2_graphic]
type=graphic
width=35
height=35
xmode=abs_centre
ymode=abs_centre
layer=image_layer
colour=0xffffff
clickmask=no

// 848:32
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 848:33
[info_layer]
type=layer
x=10
y=10
width=20
height=60
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 848:34
[info_scrollbar]
type=layer
x=4
width=16
height=8
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=info_layer
onload=scrollbar_vertical(event_com, modal_confirm_overlay:info_scrollbar)

// 848:35
[no_button_layer]
type=layer
x=10
y=10
width=130
height=27
ymode=abs_bottom
layer=mainmodal_window_content

// 848:36
[yes_button_layer]
type=layer
x=10
y=10
width=130
height=27
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content

// 848:37
[info_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_text_container
textfont=museo_sans_11pt_regular_multiline
textlineheight=13
textalignv=1
textshadow=yes
colour=0xcde1ff
onload=script10496(event_com, event_comsubid, 3)

