// 720:0
[option_build_1]
type=layer
widthmode=minus
heightmode=minus
layer=option_1

// 720:1
[option_click_1]
type=layer
widthmode=minus
heightmode=minus
layer=option_1

// 720:2
[modal_dialog_window]
type=layer
width=209
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(modal_choice:modal_dialog_window_background, modal_choice:modal_dialog_window_border, modal_choice:modal_dialog_window_content, modal_choice:modal_dialog_window_close_button, "Select an option", 21218, string_1007)

// 720:3
[title]
type=text
height=26
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular_multiline
text=This is what you are selecting. Why are you not wrapping?
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
maxlines=2
onload=script10496(event_com, event_comsubid, 1)

// 720:4
[option_1]
type=layer
y=28
width=10
height=23
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 720:5
[option_2]
type=layer
y=54
width=10
height=23
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 720:6
[option_3]
type=layer
y=80
width=10
height=23
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 720:7
[option_4]
type=layer
y=106
width=10
height=23
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 720:8
[option_5]
type=layer
y=132
width=10
height=23
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 720:9
[option_6]
type=layer
y=158
width=10
height=23
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 720:10
[option_7]
type=layer
y=184
width=10
height=23
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 720:11
[option_8]
type=layer
y=210
width=10
height=23
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 720:12
[option_9]
type=layer
y=236
width=10
height=23
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 720:13
[option_10]
type=layer
y=262
width=10
height=23
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 720:14
[option_text_1]
type=text
x=5
width=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=option_1
textfont=museo_sans_11pt_regular
text=1.
textalignv=1
textshadow=yes
maxlines=1

// 720:15
[modal_dialog_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 720:16
[modal_dialog_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window
onload=script10892

// 720:17
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 720:18
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 720:19
[option_build_2]
type=layer
widthmode=minus
heightmode=minus
layer=option_2

// 720:20
[option_click_2]
type=layer
widthmode=minus
heightmode=minus
layer=option_2

// 720:21
[option_text_2]
type=text
x=5
width=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=option_2
textfont=museo_sans_11pt_regular
text=2.
textalignv=1
textshadow=yes
maxlines=1

// 720:22
[option_build_3]
type=layer
widthmode=minus
heightmode=minus
layer=option_3

// 720:23
[option_click_3]
type=layer
widthmode=minus
heightmode=minus
layer=option_3

// 720:24
[option_text_3]
type=text
x=5
width=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=option_3
textfont=museo_sans_11pt_regular
text=3.
textalignv=1
textshadow=yes
maxlines=1

// 720:25
[option_build_4]
type=layer
widthmode=minus
heightmode=minus
layer=option_4

// 720:26
[option_click_4]
type=layer
widthmode=minus
heightmode=minus
layer=option_4

// 720:27
[option_text_4]
type=text
x=5
width=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=option_4
textfont=museo_sans_11pt_regular
text=4.
textalignv=1
textshadow=yes
maxlines=1

// 720:28
[option_build_5]
type=layer
widthmode=minus
heightmode=minus
layer=option_5

// 720:29
[option_click_5]
type=layer
widthmode=minus
heightmode=minus
layer=option_5

// 720:30
[option_text_5]
type=text
x=5
width=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=option_5
textfont=museo_sans_11pt_regular
text=5.
textalignv=1
textshadow=yes
maxlines=1

// 720:31
[option_build_6]
type=layer
widthmode=minus
heightmode=minus
layer=option_6

// 720:32
[option_click_6]
type=layer
widthmode=minus
heightmode=minus
layer=option_6

// 720:33
[option_text_6]
type=text
x=5
width=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=option_6
textfont=museo_sans_11pt_regular
text=6.
textalignv=1
textshadow=yes
maxlines=1

// 720:34
[option_build_7]
type=layer
widthmode=minus
heightmode=minus
layer=option_7

// 720:35
[option_click_7]
type=layer
widthmode=minus
heightmode=minus
layer=option_7

// 720:36
[option_text_7]
type=text
x=5
width=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=option_7
textfont=museo_sans_11pt_regular
text=7.
textalignv=1
textshadow=yes
maxlines=1

// 720:37
[option_build_8]
type=layer
widthmode=minus
heightmode=minus
layer=option_8

// 720:38
[option_click_8]
type=layer
widthmode=minus
heightmode=minus
layer=option_8

// 720:39
[option_text_8]
type=text
x=5
width=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=option_8
textfont=museo_sans_11pt_regular
text=8.
textalignv=1
textshadow=yes
maxlines=1

// 720:40
[option_build_9]
type=layer
widthmode=minus
heightmode=minus
layer=option_9

// 720:41
[option_click_9]
type=layer
widthmode=minus
heightmode=minus
layer=option_9

// 720:42
[option_text_9]
type=text
x=5
width=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=option_9
textfont=museo_sans_11pt_regular
text=9.
textalignv=1
textshadow=yes
maxlines=1

// 720:43
[option_build_10]
type=layer
widthmode=minus
heightmode=minus
layer=option_10

// 720:44
[option_click_10]
type=layer
widthmode=minus
heightmode=minus
layer=option_10

// 720:45
[option_text_10]
type=text
x=5
width=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=option_10
textfont=museo_sans_11pt_regular
text=10.
textalignv=1
textshadow=yes
maxlines=1

