// 595:0
[com_0]
type=text
x=65
y=238
width=178
height=13
layer=mainmodal_window_content
textfont=museo_sans_15pt_bold
text=Completion:
textalignh=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 595:1
[total_completion_no]
type=text
x=242
y=238
width=53
height=15
layer=mainmodal_window_content
textfont=museo_sans_15pt_bold
text=XXXX
textalignh=1
textshadow=yes

// 595:2
[name_pts]
type=text
x=85
y=37
width=80
height=26
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=Name:
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 595:3
[name_completion_no]
type=text
x=178
y=43
width=53
height=13
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=XXXX
textalignh=1
textshadow=yes

// 595:4
[com_4]
type=model
x=34
y=30
width=39
height=38
layer=mainmodal_window_content
model=rocko_paper_inv
modelorigin_x=1
modelorigin_y=1
modelangle_x=261
modelangle_y=2035
modelangle_z=0
modelzoom=535

// 595:5
[shadow:ts]
type=text
x=85
y=100
width=80
height=26
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=Shadow:
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 595:6
[shadow_completion_no]
type=text
x=178
y=106
width=53
height=13
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=XXXX
textalignh=1
textshadow=yes

// 595:7
[com_7]
type=model
x=23
y=94
width=55
height=32
layer=mainmodal_window_content
model=mom2_tumeken_shadow_remains
modelorigin_x=-1
modelorigin_y=5
modelangle_x=564
modelangle_y=2038
modelangle_z=0
modelzoom=1184

// 595:8
[body_pts]
type=text
x=85
y=163
width=80
height=26
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=Body:
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 595:9
[body_completion_no]
type=text
x=178
y=169
width=53
height=13
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=XXXX
textalignh=1
textshadow=yes

// 595:10
[com_10]
type=model
x=259
y=36
width=23
height=23
layer=mainmodal_window_content
model=mom2_grave_goods_grain
modelorigin_x=-3
modelorigin_y=11
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1056

// 595:11
[com_11]
type=model
x=41
y=151
width=23
height=50
layer=mainmodal_window_content
model=mom2_canopic1
modelorigin_x=0
modelorigin_y=24
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=906

// 595:12
[double_pts]
type=text
x=105
y=37
width=108
height=26
xmode=abs_right
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=Body Double:
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 595:13
[double_completion_no]
type=text
x=420
y=43
width=53
height=13
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=XXXX
textalignh=1
textshadow=yes

// 595:14
[com_14]
type=model
x=273
y=41
width=23
height=23
layer=mainmodal_window_content
model=mom2_grave_goods_wine
modelorigin_x=-1
modelorigin_y=11
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 595:15
[personality_pts]
type=text
x=105
y=100
width=100
height=26
xmode=abs_right
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=Personality:
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 595:16
[personality_completion_no]
type=text
x=420
y=106
width=53
height=13
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=XXXX
textalignh=1
textshadow=yes

// 595:17
[com_17]
type=model
x=256
y=95
width=43
height=34
layer=mainmodal_window_content
model=mom2_scroll_of_praises
modelorigin_x=0
modelorigin_y=-4
modelangle_x=429
modelangle_y=10
modelangle_z=0
modelzoom=1184

// 595:18
[spirit_pts]
type=text
x=105
y=163
width=80
height=26
xmode=abs_right
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=Spirit:
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 595:19
[spirit_completion_no]
type=text
x=420
y=169
width=53
height=13
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=XXXX
textalignh=1
textshadow=yes

// 595:20
[com_20]
type=model
x=256
y=160
width=46
height=33
layer=mainmodal_window_content
model=mom2_scroll_of_dead
modelorigin_x=0
modelorigin_y=-1
modelangle_x=513
modelangle_y=3
modelangle_z=0
modelzoom=800

// 595:21
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(mom2_completion:mainmodal_window_background, mom2_completion:mainmodal_window_border, mom2_completion:mainmodal_window_content, mom2_completion:mainmodal_window_close_button, "Rebuilding the Mummy", 21218, string_1007)

// 595:22
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 595:23
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 595:24
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 595:25
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

