// 227:0
[mourning_deathalter_item1]
type=text
x=8
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item1
colour=0x000000

// 227:1
[mourning_deathalter_item2]
type=text
x=8
y=20
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item2
colour=0x000000

// 227:2
[mourning_deathalter_item3]
type=text
x=8
y=40
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item3
colour=0x000000

// 227:3
[mourning_deathalter_item4]
type=text
x=8
y=60
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item4
colour=0x000000

// 227:4
[mourning_deathalter_item5]
type=text
x=8
y=80
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item5
colour=0x000000

// 227:5
[mourning_deathalter_item6]
type=text
x=8
y=100
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item6
colour=0x000000

// 227:6
[mourning_deathalter_item7]
type=text
x=8
y=120
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item7
colour=0x000000

// 227:7
[mourning_deathalter_item8]
type=text
x=8
y=140
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item8
colour=0x000000

// 227:8
[mourning_deathalter_item9]
type=text
x=8
y=160
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item9
colour=0x000000

// 227:9
[mourning_deathalter_item10]
type=text
x=8
y=180
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item10
colour=0x000000

// 227:10
[mourning_deathalter_item11]
type=text
x=8
y=200
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item11
colour=0x000000

// 227:11
[mourning_deathalter_item12]
type=text
x=8
y=220
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item12
colour=0x000000

// 227:12
[mourning_deathalter_item13]
type=text
x=8
y=240
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item13
colour=0x000000

// 227:13
[mourning_deathalter_item14]
type=text
x=8
y=260
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item14
colour=0x000000

// 227:14
[mourning_deathalter_item15]
type=text
x=8
y=280
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item15
colour=0x000000

// 227:15
[mourning_deathalter_item16]
type=text
x=8
y=300
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item16
colour=0x000000

// 227:16
[mourning_deathalter_item17]
type=text
x=8
y=320
width=20
height=15
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item17
colour=0x000000

// 227:17
[mourning_deathalter_item18]
type=text
x=8
y=340
width=20
height=15
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item18
colour=0x000000

// 227:18
[mourning_deathalter_item19]
type=text
x=8
y=360
width=20
height=15
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item19
colour=0x000000

// 227:19
[mourning_deathalter_item20]
type=text
x=8
y=380
width=20
height=15
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item20
colour=0x000000

// 227:20
[mourning_deathalter_item21]
type=text
x=8
y=400
width=20
height=15
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item21
colour=0x000000

// 227:21
[mourning_deathalter_item22]
type=text
x=8
y=420
width=20
height=15
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item22
colour=0x000000

// 227:22
[mourning_deathalter_item23]
type=text
x=8
y=440
width=20
height=15
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item23
colour=0x000000

// 227:23
[mourning_deathalter_item24]
type=text
x=8
y=460
width=20
height=15
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item24
colour=0x000000

// 227:24
[mourning_deathalter_item25]
type=text
x=8
y=480
width=20
height=15
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item25
colour=0x000000

// 227:25
[mourning_deathalter_item26]
type=text
x=8
y=500
width=20
height=15
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item26
colour=0x000000

// 227:26
[mourning_deathalter_item27]
type=text
x=8
y=520
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item27
colour=0x000000

// 227:27
[mourning_deathalter_item28]
type=text
x=8
y=540
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item28
colour=0x000000

// 227:28
[mourning_deathalter_item29]
type=text
x=8
y=560
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item29
colour=0x000000

// 227:29
[mourning_deathalter_item30]
type=text
x=8
y=580
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item30
colour=0x000000

// 227:30
[mourning_deathalter_item31]
type=text
x=8
y=600
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item31
colour=0x000000

// 227:31
[mourning_deathalter_item32]
type=text
x=8
y=620
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item32
colour=0x000000

// 227:32
[mourning_deathalter_item33]
type=text
x=8
y=640
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item33
colour=0x000000

// 227:33
[mourning_deathalter_item34]
type=text
x=8
y=660
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item34
colour=0x000000

// 227:34
[mourning_deathalter_item35]
type=text
x=8
y=680
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item35
colour=0x000000

// 227:35
[mourning_deathalter_item36]
type=text
x=8
y=700
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item36
colour=0x000000

// 227:36
[mourning_deathalter_item37]
type=text
x=8
y=720
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item37
colour=0x000000

// 227:37
[mourning_deathalter_item38]
type=text
x=7
y=740
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item38
colour=0x000000

// 227:38
[mourning_deathalter_item39]
type=text
x=8
y=760
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item39
colour=0x000000

// 227:39
[mourning_deathalter_item40]
type=text
x=8
y=780
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item40
colour=0x000000

// 227:40
[mourning_deathalter_item41]
type=text
x=8
y=800
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item41
colour=0x000000

// 227:41
[mourning_deathalter_item42]
type=text
x=8
y=820
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item42
colour=0x000000

// 227:42
[mourning_deathalter_item43]
type=text
x=8
y=840
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item43
colour=0x000000

// 227:43
[mourning_deathalter_item44]
type=text
x=8
y=860
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item44
colour=0x000000

// 227:44
[mourning_deathalter_item45]
type=text
x=8
y=880
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item45
colour=0x000000

// 227:45
[mourning_deathalter_item46]
type=text
x=8
y=900
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item46
colour=0x000000

// 227:46
[mourning_deathalter_item47]
type=text
x=8
y=920
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item47
colour=0x000000

// 227:47
[mourning_deathalter_item48]
type=text
x=8
y=940
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item48
colour=0x000000

// 227:48
[mourning_deathalter_item49]
type=text
x=8
y=960
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item49
colour=0x000000

// 227:49
[mourning_deathalter_item50]
type=text
x=8
y=980
width=20
height=14
widthmode=minus
layer=mourning_deathalter_layer
textfont=museo_sans_11pt_regular
text=mourning_deathalter_item50
colour=0x000000

// 227:50
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(mourning_deathalter_list:mainmodal_window_background, mourning_deathalter_list:mainmodal_window_border, mourning_deathalter_list:mainmodal_window_content, mourning_deathalter_list:mainmodal_window_close_button, "Item List", 21218, string_1007)

// 227:51
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 227:52
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 227:53
[com_53]
type=graphic
width=496
height=293
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
graphic=rs3_parchment_scroll_background
colour=0xffffff
clickmask=no

// 227:54
[mourning_deathalter_layer]
type=layer
x=20
y=18
width=90
height=215
widthmode=minus
ymode=abs_centre
layer=mainmodal_window_content
scrollheight=1000

// 227:55
[com_55]
type=text
x=20
y=20
width=40
height=17
widthmode=minus
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
text=List of needed items:
colour=0x000000

// 227:56
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 227:57
[scroller]
type=layer
x=30
y=19
width=16
height=213
xmode=abs_right
ymode=abs_centre
layer=mainmodal_window_content
onload=scrollbar_vertical_graphics(event_com, mourning_deathalter_list:mourning_deathalter_layer, "scrollbar_dragger_v2,3", "scrollbar_dragger_v2,0", "scrollbar_dragger_v2,1", "scrollbar_dragger_v2,2", "scrollbar_v2,0", "scrollbar_v2,1")

// 227:58
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

