// 37:0
[info_value]
type=layer
height=56
widthmode=minus
layer=info_ingredients_layer
onvarctransmit=script2597
onvarctransmitlist=makex2012_recipe_ge_price

// 37:1
[info_requirements]
type=layer
y=57
height=50
widthmode=minus
layer=info_ingredients_layer

// 37:2
[info_materials]
type=layer
y=89
height=90
widthmode=minus
layer=info_ingredients_layer

// 37:3
[help_button]
type=graphic
x=5
y=6
width=16
height=16
xmode=abs_right
layer=information_layer
graphic="rs3_btn_custom_modal,3"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Help
onmouseover=graphic_swapper(event_com, "rs3_btn_custom_modal,4")
onmouseleave=graphic_swapper(event_com, "rs3_btn_custom_modal,3")

// 37:4
[info_make_button]
type=layer
x=5
y=5
width=10
height=27
widthmode=minus
ymode=abs_bottom
layer=information_layer
onload=script13968(ms_smithing_makex:info_make_button_build, ms_smithing_makex:info_make_button_click, rs3tli_positive_button, "Begin Project")

// 37:5
[upgrade_button_wrapper]
type=layer
y=40
height=30
widthmode=minus
layer=information_layer

// 37:6
[info_upgrade_base_button]
type=layer
x=4
y=5
width=50
height=20
layer=upgrade_button_wrapper
onload=script6233(ms_smithing_makex:info_upgrade_base_build, ms_smithing_makex:info_upgrade_base_click, rs3tli_3x3_button, "Base")

// 37:7
[info_upgrade_1_button]
type=layer
x=58
y=5
width=30
height=20
layer=upgrade_button_wrapper
onload=script6233(ms_smithing_makex:info_upgrade_1_build, ms_smithing_makex:info_upgrade_1_click, rs3tli_3x3_button, "+1")

// 37:8
[info_upgrade_2_button]
type=layer
x=91
y=5
width=30
height=20
layer=upgrade_button_wrapper
onload=script6233(ms_smithing_makex:info_upgrade_2_build, ms_smithing_makex:info_upgrade_2_click, rs3tli_3x3_button, "+2")

// 37:9
[info_upgrade_3_button]
type=layer
x=125
y=5
width=30
height=20
layer=upgrade_button_wrapper
onload=script6233(ms_smithing_makex:info_upgrade_3_build, ms_smithing_makex:info_upgrade_3_click, rs3tli_3x3_button, "+3")

// 37:10
[info_upgrade_4_button]
type=layer
x=159
y=5
width=30
height=20
layer=upgrade_button_wrapper
onload=script6233(ms_smithing_makex:info_upgrade_4_build, ms_smithing_makex:info_upgrade_4_click, rs3tli_3x3_button, "+4")

// 37:11
[info_upgrade_5_button]
type=layer
x=193
y=5
width=30
height=20
layer=upgrade_button_wrapper
onload=script6233(ms_smithing_makex:info_upgrade_5_build, ms_smithing_makex:info_upgrade_5_click, rs3tli_3x3_button, "+5")

// 37:12
[info_upgrade_burial_button]
type=layer
x=227
y=5
width=50
height=20
layer=upgrade_button_wrapper
onload=script6233(ms_smithing_makex:info_upgrade_burial_build, ms_smithing_makex:info_upgrade_burial_click, rs3tli_3x3_button, "Burial")

// 37:13
[accordion_group_layer]
type=layer
height=50
widthmode=minus
layer=accordion_main_layer
hide=yes

// 37:14
[accordion_group_layer_1]
type=layer
y=50
height=50
widthmode=minus
layer=accordion_main_layer
hide=yes

// 37:15
[accordion_group_layer_2]
type=layer
y=100
height=50
widthmode=minus
layer=accordion_main_layer
hide=yes

// 37:16
[accordion_group_layer_3]
type=layer
y=150
height=50
widthmode=minus
layer=accordion_main_layer
hide=yes

// 37:17
[mainmodal_window]
type=layer
width=800
height=484
xmode=abs_centre
ymode=abs_centre

// 37:18
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 37:19
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 37:20
[ingredient_selection_layer]
type=layer
x=4
y=4
width=224
height=8
heightmode=minus
layer=mainmodal_window_content
oninvtransmit=smithing_re_draw_materials
oninvtransmitlist=metal_bank

// 37:21
[hopper_withdraw_parent]
type=layer
x=111
y=2
width=109
height=24
ymode=abs_bottom
layer=ingredient_selection_layer
onload=script10896(ms_smithing_makex:hopper_withdraw_build, ms_smithing_makex:hopper_withdraw_click, rs3tli_3x3_icon_button)
onmouserepeat=script8799("Withdraw all materials (noted)", event_com, event_comsubid)

// 37:22
[hopper_deposit_parent]
type=layer
x=2
y=2
width=109
height=24
ymode=abs_bottom
layer=ingredient_selection_layer
onload=script10896(ms_smithing_makex:hopper_deposit_build, ms_smithing_makex:hopper_deposit_click, rs3tli_3x3_icon_button)
onmouserepeat=script8799("Deposit all materials", event_com, event_comsubid)

// 37:23
[accordion_main_layer]
type=layer
height=28
widthmode=minus
heightmode=minus
layer=ingredient_selection_layer
onload=script9595(event_com, ms_smithing_makex:ing_sel_scrollbar)

// 37:24
[accordion_group_layer_4]
type=layer
y=200
height=50
widthmode=minus
layer=accordion_main_layer
hide=yes

// 37:25
[ing_sel_scrollbar]
type=layer
width=16
height=28
heightmode=minus
xmode=abs_right
layer=ingredient_selection_layer

// 37:26
[item_selection_layer]
type=layer
x=-28
y=4
width=224
height=8
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 37:27
[accordion_main_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=item_selection_layer
onload=script9595(event_com, ms_smithing_makex:ite_sel_scrollbar)

// 37:28
[ite_sel_scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=item_selection_layer

// 37:29
[information_layer]
type=layer
x=4
y=4
width=284
height=8
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 37:30
[ingredients_wrapper]
type=layer
y=69
height=264
widthmode=minus
layer=information_layer

// 37:31
[info_scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=ingredients_wrapper
onload=rs3_scrollbar_vertical(event_com, ms_smithing_makex:info_ingredients_layer)

// 37:32
[info_ingredients_layer]
type=layer
width=16
widthmode=minus
heightmode=minus
layer=ingredients_wrapper

// 37:33
[quantity_wrapper]
type=layer
y=350
height=30
widthmode=minus
layer=information_layer

// 37:34
[slider_build]
type=layer
height=30
widthmode=minus
layer=quantity_wrapper

// 37:35
[slider_click]
type=layer
height=30
widthmode=minus
layer=quantity_wrapper

// 37:36
[com_36]
type=rectangle
widthmode=minus
heightmode=minus
layer=quantity_wrapper
hide=yes
colour=0xffffff
fill=yes

// 37:37
[com_37]
type=text
widthmode=minus
heightmode=minus
layer=quantity_wrapper
hide=yes
textfont=museo_sans_15pt_bold
text=PH: QUANTITY SELECT
textalignh=1
textalignv=1
colour=0x010101

// 37:38
[info_object_icon]
type=layer
width=41
height=41
layer=information_layer

// 37:39
[info_object_object]
type=graphic
x=5
y=5
width=5
height=5
widthmode=minus
heightmode=minus
layer=info_object_icon
colour=0xffffff
clickmask=no

// 37:40
[info_object_name]
type=text
x=41
width=82
height=41
widthmode=minus
layer=information_layer
textfont=museo_sans_13pt_regular
text=OBJECT NAME
textlineheight=16
textalignh=1
textalignv=1
textshadow=yes

// 37:41
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 37:42
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 37:43
[accordion_button_layer]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer

// 37:44
[accordion_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer
onload=script9583(event_com)

// 37:45
[accordion_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer
onload=script9584(event_com)

// 37:46
[accordion_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer
onload=script9585(event_com)

// 37:47
[accordion_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer
onload=script9588(event_com)

// 37:48
[accordion_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 37:49
[accordion_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer
hide=yes
onload=script9591(event_com)

// 37:50
[accordion_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer

// 37:51
[accordion_button_text]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer
textfont=museo_sans_11pt_regular
text=Core Metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 37:52
[accordion_content_layer]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer

// 37:53
[accordion_button_layer_1]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_1

// 37:54
[accordion_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_1
onload=script9583(event_com)

// 37:55
[accordion_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_1
onload=script9584(event_com)

// 37:56
[accordion_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_1
onload=script9585(event_com)

// 37:57
[accordion_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_1
onload=script9588(event_com)

// 37:58
[accordion_button_active_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 37:59
[accordion_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_1
hide=yes
onload=script9591(event_com)

// 37:60
[accordion_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_1

// 37:61
[accordion_button_text_1]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_1
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 37:62
[accordion_content_layer_1]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_1

// 37:63
[accordion_button_layer_2]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_2

// 37:64
[accordion_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_2
onload=script9583(event_com)

// 37:65
[accordion_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_2
onload=script9584(event_com)

// 37:66
[accordion_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_2
onload=script9585(event_com)

// 37:67
[accordion_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_2
onload=script9588(event_com)

// 37:68
[accordion_button_active_layer_2]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_2
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 37:69
[accordion_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_2
hide=yes
onload=script9591(event_com)

// 37:70
[accordion_button_text_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_2

// 37:71
[accordion_button_text_2]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_2
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 37:72
[accordion_content_layer_2]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_2

// 37:73
[accordion_button_layer_3]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_3

// 37:74
[accordion_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_3
onload=script9583(event_com)

// 37:75
[accordion_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_3
onload=script9584(event_com)

// 37:76
[accordion_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_3
onload=script9585(event_com)

// 37:77
[accordion_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_3
onload=script9588(event_com)

// 37:78
[accordion_button_active_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_3
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 37:79
[accordion_button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_3
hide=yes
onload=script9591(event_com)

// 37:80
[accordion_button_text_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_3

// 37:81
[accordion_button_text_3]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_3
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 37:82
[accordion_content_layer_3]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_3

// 37:83
[accordion_button_layer_4]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_4

// 37:84
[accordion_button_on_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_4
onload=script9583(event_com)

// 37:85
[accordion_button_over_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_4
onload=script9584(event_com)

// 37:86
[accordion_button_hit_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_4
onload=script9585(event_com)

// 37:87
[accordion_button_selected_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_4
onload=script9588(event_com)

// 37:88
[accordion_button_active_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_4
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 37:89
[accordion_button_disabled_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_4
hide=yes
onload=script9591(event_com)

// 37:90
[accordion_button_text_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_4

// 37:91
[accordion_button_text_4]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_4
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 37:92
[accordion_content_layer_4]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_4

// 37:93
[accordion_group_layer_5]
type=layer
height=50
widthmode=minus
layer=accordion_main_layer_1
hide=yes

// 37:94
[accordion_button_layer_5]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_5

// 37:95
[accordion_button_on_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_5
onload=script9583(event_com)

// 37:96
[accordion_button_over_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_5
onload=script9584(event_com)

// 37:97
[accordion_button_hit_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_5
onload=script9585(event_com)

// 37:98
[accordion_button_selected_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_5
onload=script9588(event_com)

// 37:99
[accordion_button_active_layer_5]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_5
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 37:100
[accordion_button_disabled_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_5
hide=yes
onload=script9591(event_com)

// 37:101
[accordion_button_text_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_5

// 37:102
[accordion_button_text_5]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_5
textfont=museo_sans_11pt_regular
text=Core Metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 37:103
[accordion_content_layer_5]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_5

// 37:104
[accordion_group_layer_6]
type=layer
y=50
height=50
widthmode=minus
layer=accordion_main_layer_1
hide=yes

// 37:105
[accordion_button_layer_6]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_6

// 37:106
[accordion_button_on_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_6
onload=script9583(event_com)

// 37:107
[accordion_button_over_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_6
onload=script9584(event_com)

// 37:108
[accordion_button_hit_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_6
onload=script9585(event_com)

// 37:109
[accordion_button_selected_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_6
onload=script9588(event_com)

// 37:110
[accordion_button_active_layer_6]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_6
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 37:111
[accordion_button_disabled_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_6
hide=yes
onload=script9591(event_com)

// 37:112
[accordion_button_text_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_6

// 37:113
[accordion_button_text_6]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_6
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 37:114
[accordion_content_layer_6]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_6

// 37:115
[accordion_group_layer_7]
type=layer
y=100
height=50
widthmode=minus
layer=accordion_main_layer_1
hide=yes

// 37:116
[accordion_button_layer_7]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_7

// 37:117
[accordion_button_on_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_7
onload=script9583(event_com)

// 37:118
[accordion_button_over_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_7
onload=script9584(event_com)

// 37:119
[accordion_button_hit_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_7
onload=script9585(event_com)

// 37:120
[accordion_button_selected_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_7
onload=script9588(event_com)

// 37:121
[accordion_button_active_layer_7]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_7
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 37:122
[accordion_button_disabled_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_7
hide=yes
onload=script9591(event_com)

// 37:123
[accordion_button_text_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_7

// 37:124
[accordion_button_text_7]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_7
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 37:125
[accordion_content_layer_7]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_7

// 37:126
[accordion_group_layer_8]
type=layer
y=150
height=50
widthmode=minus
layer=accordion_main_layer_1
hide=yes

// 37:127
[accordion_button_layer_8]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_8

// 37:128
[accordion_button_on_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_8
onload=script9583(event_com)

// 37:129
[accordion_button_over_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_8
onload=script9584(event_com)

// 37:130
[accordion_button_hit_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_8
onload=script9585(event_com)

// 37:131
[accordion_button_selected_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_8
onload=script9588(event_com)

// 37:132
[accordion_button_active_layer_8]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_8
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 37:133
[accordion_button_disabled_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_8
hide=yes
onload=script9591(event_com)

// 37:134
[accordion_button_text_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_8

// 37:135
[accordion_button_text_8]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_8
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 37:136
[accordion_content_layer_8]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_8

// 37:137
[accordion_group_layer_9]
type=layer
y=200
height=50
widthmode=minus
layer=accordion_main_layer_1
hide=yes

// 37:138
[accordion_button_layer_9]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_9

// 37:139
[accordion_button_on_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_9
onload=script9583(event_com)

// 37:140
[accordion_button_over_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_9
onload=script9584(event_com)

// 37:141
[accordion_button_hit_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_9
onload=script9585(event_com)

// 37:142
[accordion_button_selected_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_9
onload=script9588(event_com)

// 37:143
[accordion_button_active_layer_9]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_9
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 37:144
[accordion_button_disabled_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_9
hide=yes
onload=script9591(event_com)

// 37:145
[accordion_button_text_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_9

// 37:146
[accordion_button_text_9]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_9
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 37:147
[accordion_content_layer_9]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_9

// 37:148
[info_upgrade_base_build]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_base_button

// 37:149
[info_upgrade_base_click]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_base_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script2606(0)

// 37:150
[info_upgrade_burial_build]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_burial_button

// 37:151
[info_upgrade_burial_click]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_burial_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script2606(50)

// 37:152
[info_upgrade_5_build]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_5_button

// 37:153
[info_upgrade_5_click]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_5_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script2606(5)

// 37:154
[info_upgrade_4_build]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_4_button

// 37:155
[info_upgrade_4_click]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_4_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script2606(4)

// 37:156
[info_upgrade_3_build]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_3_button

// 37:157
[info_upgrade_3_click]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_3_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script2606(3)

// 37:158
[info_upgrade_2_build]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_2_button

// 37:159
[info_upgrade_2_click]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_2_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script2606(2)

// 37:160
[info_upgrade_1_build]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_1_button

// 37:161
[info_upgrade_1_click]
type=layer
widthmode=minus
heightmode=minus
layer=info_upgrade_1_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script2606(1)

// 37:162
[info_make_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=info_make_button

// 37:163
[info_make_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=info_make_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 37:164
[info_requirements_header]
type=text
width=120
height=16
layer=info_requirements
textfont=museo_sans_13pt_regular
text=Requirements
textshadow=yes

// 37:165
[info_materials_header]
type=text
width=87
height=16
layer=info_materials
textfont=museo_sans_13pt_regular
text=Materials
textshadow=yes

// 37:166
[hopper_deposit_build]
type=layer
widthmode=minus
heightmode=minus
layer=hopper_deposit_parent

// 37:167
[hopper_deposit_click]
type=layer
widthmode=minus
heightmode=minus
layer=hopper_deposit_parent
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 37:168
[hopper_deposit_graphic]
type=graphic
width=29
height=21
xmode=abs_centre
ymode=abs_centre
layer=hopper_deposit_parent
graphic="bank_bob_button,1"
colour=0xffffff
clickmask=no

// 37:169
[hopper_withdraw_build]
type=layer
widthmode=minus
heightmode=minus
layer=hopper_withdraw_parent

// 37:170
[hopper_withdraw_click]
type=layer
widthmode=minus
heightmode=minus
layer=hopper_withdraw_parent
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 37:171
[hopper_withdraw_graphic]
type=graphic
width=29
height=21
xmode=abs_centre
ymode=abs_centre
layer=hopper_withdraw_parent
graphic="bank_bob_button,0"
colour=0xffffff
clickmask=no

// 37:172
[info_value_header]
type=text
width=70
height=16
layer=info_value
textfont=museo_sans_13pt_regular
text=Value
textshadow=yes

// 37:173
[com_173]
type=rectangle
x=6
y=25
width=12
height=12
widthmode=minus
layer=info_value
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

