// 1577:0
[updatehook]
type=layer
width=1
height=1
layer=mainmodal_window_content

// 1577:1
[content_bg]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1577:2
[dpm_column]
type=layer
width=265
widthmode=minus
heightmode=minus
xmode=abs_right
layer=data_layer

// 1577:3
[dmg_icon_layer]
type=layer
x=52
width=25
heightmode=minus
xmode=abs_centre
layer=data_layer

// 1577:4
[total_dmg_column]
type=layer
x=-15
width=285
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=data_layer

// 1577:5
[name_column]
type=layer
width=265
widthmode=minus
heightmode=minus
layer=data_layer

// 1577:6
[data_layer]
type=layer
y=24
width=10
height=29
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 1577:7
[com_7]
type=text
width=268
height=24
widthmode=minus
layer=content_bg
textfont=cinzel_18pt_bold
text=Name
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1577:8
[com_8]
type=text
width=268
height=24
widthmode=minus
xmode=abs_centre
layer=content_bg
textfont=cinzel_18pt_bold
text=Damage
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1577:9
[com_9]
type=text
width=268
height=24
widthmode=minus
xmode=abs_right
layer=content_bg
textfont=cinzel_18pt_bold
text=DPM
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("Damage Per Minute.", event_com, event_comsubid)

// 1577:10
[com_10]
type=rectangle
y=24
width=10
height=25
widthmode=minus
xmode=abs_centre
layer=content_bg
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1577:11
[mainmodal_window]
type=layer
width=94
height=5
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(mtx76_scoreboard:mainmodal_window_background, mtx76_scoreboard:mainmodal_window_border, mtx76_scoreboard:mainmodal_window_content, mtx76_scoreboard:mainmodal_window_close_button, "Scores", 21218, string_1007)

// 1577:12
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1577:13
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1577:14
[com_14]
type=rectangle
y=50
width=10
height=25
widthmode=minus
xmode=abs_centre
layer=content_bg
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1577:15
[com_15]
type=rectangle
y=76
width=10
height=25
widthmode=minus
xmode=abs_centre
layer=content_bg
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1577:16
[com_16]
type=rectangle
y=102
width=10
height=25
widthmode=minus
xmode=abs_centre
layer=content_bg
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1577:17
[com_17]
type=rectangle
y=128
width=10
height=25
widthmode=minus
xmode=abs_centre
layer=content_bg
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1577:18
[com_18]
type=rectangle
y=154
width=10
height=25
widthmode=minus
xmode=abs_centre
layer=content_bg
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1577:19
[com_19]
type=rectangle
y=180
width=10
height=25
widthmode=minus
xmode=abs_centre
layer=content_bg
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1577:20
[com_20]
type=rectangle
y=206
width=10
height=25
widthmode=minus
xmode=abs_centre
layer=content_bg
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1577:21
[com_21]
type=rectangle
y=232
width=10
height=25
widthmode=minus
xmode=abs_centre
layer=content_bg
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1577:22
[com_22]
type=rectangle
y=258
width=10
height=25
widthmode=minus
xmode=abs_centre
layer=content_bg
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1577:23
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1577:24
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

