// 1637:0
[com_0]
type=rectangle
widthmode=minus
heightmode=minus
layer=info_holder_active_3
colour=0x111e26
fill=yes
onload=script14112(event_com, event_comsubid, 12, 9, 6)

// 1637:1
[info_holder_active]
type=layer
y=30
width=42
height=31
widthmode=minus
xmode=abs_centre
layer=options_content_layer

// 1637:2
[info_holder_inactive]
type=layer
y=61
width=42
height=32
widthmode=minus
xmode=abs_centre
layer=options_content_layer

// 1637:3
[info_holder_active_1]
type=layer
y=93
width=42
height=32
widthmode=minus
xmode=abs_centre
layer=options_content_layer

// 1637:4
[info_holder_inactive_1]
type=layer
y=125
width=42
height=32
widthmode=minus
xmode=abs_centre
layer=options_content_layer

// 1637:5
[info_holder_active_2]
type=layer
y=157
width=42
height=32
widthmode=minus
xmode=abs_centre
layer=options_content_layer

// 1637:6
[info_holder_inactive_2]
type=layer
y=189
width=42
height=31
widthmode=minus
xmode=abs_centre
layer=options_content_layer

// 1637:7
[skilling_title]
type=text
y=5
height=25
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
textfont=cinzel_15pt_bold
text=Challenge Gem - Skilling Competition
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 0)

// 1637:8
[comp_details_button_layer]
type=layer
x=3
y=3
width=24
height=24
xmode=abs_right
layer=button_layer

// 1637:9
[wilderness]
type=text
x=32
y=200
width=135
height=13
layer=combat_options
textfont=museo_sans_11pt_regular
text=Wilderness only
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)
onmouserepeat=script8799("When toggled, only damage dealt in the Wilderness will count.", event_com, -1)

// 1637:10
[wilderness_checkbox]
type=graphic
x=198
y=197
width=18
height=18
layer=combat_options
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1637:11
[pvp_only]
type=text
x=272
y=200
width=135
height=13
layer=combat_options
textfont=museo_sans_11pt_regular
text=PvP only
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)
onmouserepeat=script8799("When toggled, only PvP damage dealt will count.", event_com, -1)

// 1637:12
[pvp_checkbox]
type=graphic
x=439
y=197
width=18
height=18
layer=combat_options
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no

// 1637:13
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(mtx91_entry:mainmodal_window_background, mtx91_entry:mainmodal_window_border, mtx91_entry:mainmodal_window_content, mtx91_entry:mainmodal_window_close_button, "Challenge Gem", 21218, string_1007)

// 1637:14
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1637:15
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1637:16
[details_layer]
type=layer
width=6
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
hide=yes

// 1637:17
[details_text]
type=text
height=65
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=details_layer
textfont=museo_sans_11pt_regular
textalignh=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1637:18
[options_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1637:19
[skilling_bg_layer]
type=layer
y=5
height=65496
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=options_layer
hide=yes

// 1637:20
[options_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=options_layer

// 1637:21
[info_holder_active_3]
type=layer
y=220
width=42
height=32
widthmode=minus
xmode=abs_centre
layer=options_content_layer

// 1637:22
[selected_skill_text]
type=text
x=32
y=40
width=150
height=13
layer=options_content_layer
textfont=museo_sans_11pt_regular
text=Skill
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1637:23
[selected_skill]
type=text
x=319
y=40
width=80
height=11
layer=options_content_layer
textfont=museo_sans_11pt_regular
text=Agility
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1637:24
[mob_min_level]
type=layer
x=78
y=27
width=450
height=40
widthmode=minus
xmode=abs_centre
layer=options_content_layer

// 1637:25
[border_mob_min_level]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mob_min_level
onload=rs3_background_panel(event_com, rs3_text_entry_box_active)

// 1637:26
[display_mob_min_level]
type=text
height=21
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mob_min_level
textfont=museo_sans_11pt_regular
text=1
textalignh=1
textalignv=1
textshadow=yes
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)
onvartransmit=script11592
onvartransmitlist=mtx91_challenge_setup_temp_3

// 1637:27
[mob_max_level]
type=layer
x=142
y=27
width=448
height=40
widthmode=minus
xmode=abs_centre
layer=options_content_layer

// 1637:28
[border_mob_max_level]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mob_max_level
onload=rs3_background_panel(event_com, rs3_text_entry_box_active)

// 1637:29
[display_mob_max_level]
type=text
height=21
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mob_max_level
textfont=museo_sans_11pt_regular
text=1000
textalignh=1
textalignv=1
textshadow=yes
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)
onvartransmit=script11593
onvartransmitlist=mtx91_challenge_setup_temp_3

// 1637:30
[skilling_level_range]
type=text
x=32
y=72
width=150
height=13
layer=options_content_layer
textfont=museo_sans_11pt_regular
text=Level range
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1637:31
[com_31]
type=text
x=319
y=72
width=80
height=11
layer=options_content_layer
textfont=museo_sans_11pt_regular
text=-
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1637:32
[box_min_level]
type=layer
x=78
y=59
width=450
height=40
widthmode=minus
xmode=abs_centre
layer=options_content_layer

// 1637:33
[border_min_level]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=box_min_level
onload=rs3_background_panel(event_com, rs3_text_entry_box_active)

// 1637:34
[display_min_level]
type=text
height=21
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=box_min_level
textfont=museo_sans_11pt_regular
text=1
textalignh=1
textalignv=1
textshadow=yes
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)
onvartransmit=script11590
onvartransmitlist=mtx91_challenge_setup_temp,mtx91_challenge_setup_temp_2

// 1637:35
[box_max_level]
type=layer
x=142
y=59
width=450
height=40
widthmode=minus
xmode=abs_centre
layer=options_content_layer

// 1637:36
[border_max_level]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=box_max_level
onload=rs3_background_panel(event_com, rs3_text_entry_box_active)

// 1637:37
[display_max_level]
type=text
height=21
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=box_max_level
textfont=museo_sans_11pt_regular
text=99
textalignh=1
textalignv=1
textshadow=yes
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)
onvartransmit=script11591
onvartransmitlist=mtx91_challenge_setup_temp,mtx91_challenge_setup_temp_2

// 1637:38
[entry_fee]
type=text
x=32
y=104
width=150
height=13
layer=options_content_layer
textfont=museo_sans_11pt_regular
text=Entry fee
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)
onmouserepeat=script8799("The amount of coins required to enter this competition.", event_com, -1)

// 1637:39
[selected_entry_fee]
type=text
x=319
y=104
width=70
height=11
layer=options_content_layer
textfont=museo_sans_11pt_regular
text=10,000
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1637:40
[time_limit]
type=text
x=32
y=137
width=150
height=13
layer=options_content_layer
textfont=museo_sans_11pt_regular
text=Time limit
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)
onmouserepeat=script8799("The length of the competition.", event_com, -1)

// 1637:41
[selected_time_limit]
type=text
x=319
y=137
width=70
height=11
layer=options_content_layer
textfont=museo_sans_11pt_regular
text=20 mins
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1637:42
[start_delay]
type=text
x=32
y=168
width=150
height=13
layer=options_content_layer
textfont=museo_sans_11pt_regular
text=Start delay
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)
onmouserepeat=script8799("The time before the competition begins.", event_com, -1)

// 1637:43
[selected_start_delay]
type=text
x=285
y=168
width=140
height=11
layer=options_content_layer
textfont=museo_sans_11pt_regular
text=3 mins
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1637:44
[combat_options]
type=layer
widthmode=minus
heightmode=minus
layer=options_content_layer

// 1637:45
[total_pot_layer]
type=layer
widthmode=minus
heightmode=minus
layer=options_content_layer

// 1637:46
[total_pot_text]
type=text
x=32
y=230
width=150
height=13
layer=total_pot_layer
textfont=museo_sans_11pt_regular
text=Current prize pool
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1637:47
[button_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1637:48
[start_button_layer]
type=layer
y=5
width=184
height=27
xmode=abs_centre
ymode=abs_bottom
layer=button_layer

// 1637:49
[start_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_button_layer
onload=script7041(event_com)

// 1637:50
[start_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_button_layer
onload=script7042(event_com)

// 1637:51
[start_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_button_layer
onload=script7044(event_com)

// 1637:52
[start_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_button_layer
hide=yes
onload=script7047(event_com)

// 1637:53
[start_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=start_button_layer
pausebutton=yes
onload=script4213(event_com)

// 1637:54
[start_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_button_layer
hide=yes
onload=script7060(event_com)

// 1637:55
[start_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_button_layer

// 1637:56
[start_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=start_button_text_layer
textfont=cinzel_13pt_bold
text=Enter Competition
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1637:57
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1637:58
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1637:59
[total_pot]
type=text
x=319
y=230
width=80
height=11
layer=total_pot_layer
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1637:60
[comp_details_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=comp_details_button_layer
onload=script9346(event_com, rs3tli_worldmap_info_icons)

// 1637:61
[comp_details_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=comp_details_button_layer
onload=script9347(event_com, rs3tli_worldmap_info_icons)

// 1637:62
[comp_details_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=comp_details_button_layer
onload=script9348(event_com, rs3tli_worldmap_info_icons)

// 1637:63
[comp_details_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=comp_details_button_layer
hide=yes
onload=script9351(event_com, rs3tli_worldmap_info_icons)

// 1637:64
[comp_details_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=comp_details_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script2614

// 1637:65
[comp_details_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=comp_details_button_layer
hide=yes
onload=script9354(event_com, rs3tli_worldmap_info_icons)

// 1637:66
[com_66]
type=rectangle
widthmode=minus
heightmode=minus
layer=info_holder_inactive
colour=0x1e2b34
fill=yes
onload=script14112(event_com, event_comsubid, 12, 9, 1)

// 1637:67
[com_67]
type=rectangle
widthmode=minus
heightmode=minus
layer=info_holder_active_1
colour=0x111e26
fill=yes
onload=script14112(event_com, event_comsubid, 12, 9, 2)

// 1637:68
[com_68]
type=rectangle
widthmode=minus
heightmode=minus
layer=info_holder_inactive_1
colour=0x1e2b34
fill=yes
onload=script14112(event_com, event_comsubid, 12, 9, 3)

// 1637:69
[com_69]
type=rectangle
widthmode=minus
heightmode=minus
layer=info_holder_active_2
colour=0x111e26
fill=yes
onload=script14112(event_com, event_comsubid, 12, 9, 4)

// 1637:70
[com_70]
type=rectangle
widthmode=minus
heightmode=minus
layer=info_holder_inactive_2
colour=0x1e2b34
fill=yes
onload=script14112(event_com, event_comsubid, 12, 9, 5)

// 1637:71
[com_71]
type=rectangle
widthmode=minus
heightmode=minus
layer=info_holder_active
colour=0x111e26
fill=yes
onload=script14112(event_com, event_comsubid, 12, 9, 0)

