// 855:0
[listeners_and_timers]
type=layer
width=1
height=1

// 855:1
[scroll_listener]
type=layer
width=1
height=1
layer=listeners_and_timers
onvartransmit=script4364
onvartransmitlist=mtx_spotlight_scroll_target

// 855:2
[ccrm_listener]
type=layer
width=1
height=1
layer=listeners_and_timers
onvartransmit=script4364
onvartransmitlist=mtx_spotlight_ccrm_active

// 855:3
[universe]
type=layer
width=1066
height=600
noclickthrough=yes
onload=script16207(56033283, mtx_front_end_spotlight:content, mtx_front_end_spotlight:banner, mtx_front_end_info, 0)

// 855:4
[content]
type=layer
width=1066
height=500
ymode=abs_bottom
layer=universe
onload=script15818

// 855:5
[main_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content
onvartransmit=script15819
onvartransmitlist=mtx_spotlight_load_check

// 855:6
[com_6]
type=graphic
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=main_layer
graphic=container_display_large
colour=0xffffff
clickmask=no

// 855:7
[set_var_fake_op]
type=layer
width=100
height=100
layer=main_layer
transmitop1=yes
transmitop2=yes
op1=Select
op2=Select
opcursor1=cursor_use
opcursor0=cursor_use

// 855:8
[crm_braze_container]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer
onvartransmit=script15819
onvartransmitlist=crm_braze_hotfix

// 855:9
[crm_braze]
type=layer
width=255
height=430
layer=crm_braze_container
onload=script18473

// 855:10
[ccrm]
type=layer
width=255
height=430
layer=main_layer
hide=yes

// 855:11
[ccrm_bg]
type=graphic
widthmode=minus
heightmode=minus
layer=ccrm
graphic=mtx_store_package_large_background
colour=0xffffff
clickmask=no

// 855:12
[ccrm_http_image]
type=graphic
widthmode=minus
heightmode=minus
layer=ccrm
graphic=mtx_store_package_art_pet_unicorn
colour=0xffffff
clickmask=no

// 855:13
[ccrm_border]
type=graphic
width=255
height=430
layer=ccrm
graphic=container_gold_large_crmsafe
colour=0xffffff
clickmask=no

// 855:14
[ccrm_overlay]
type=graphic
width=247
height=281
xmode=abs_centre
ymode=abs_bottom
layer=ccrm
graphic=container_overlay_large
colour=0xffffff
clickmask=no

// 855:15
[ccrm_text]
type=text
y=40
width=20
height=54
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=ccrm
noclickthrough=yes
textfont=cinzel_18pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xe0d471

// 855:16
[scrollbar]
type=layer
x=100
y=10
width=200
height=20
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=content

// 855:17
[control_layer]
type=layer
width=1066
height=500
xmode=abs_centre
ymode=abs_centre
layer=content

// 855:18
[confirm_buy_container]
type=layer
widthmode=minus
heightmode=minus
layer=content

// 855:19
[loading_layer]
type=layer
width=1066
height=499
layer=content

// 855:20
[loading]
type=graphic
width=1920
height=895
ymode=abs_bottom
layer=loading_layer
graphic=container_display_large
colour=0xffffff
clickmask=no

// 855:21
[spinner_layer]
type=layer
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=loading_layer
onload=spinner_create(event_com, 1, -1)

// 855:22
[banner]
type=layer
width=1066
height=112
layer=universe

// 855:23
[logout_warning_holder]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 855:24
[logout_warning_fake_op_layer]
type=layer
width=1066
height=600
layer=logout_warning_holder

// 855:25
[ccrm_bg_braze]
type=graphic
widthmode=minus
heightmode=minus
layer=crm_braze
graphic=mtx_store_package_large_background
colour=0xffffff
clickmask=no

// 855:26
[ccrm_data_braze]
type=layer
width=255
height=430
layer=crm_braze
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 855:27
[ccrm_border_braze]
type=graphic
width=255
height=430
layer=crm_braze
graphic=container_gold_large_crmsafe
colour=0xffffff
clickmask=no

// 855:28
[ccrm_overlay_braze]
type=graphic
width=247
height=281
xmode=abs_centre
ymode=abs_bottom
layer=crm_braze
graphic=container_overlay_large
colour=0xffffff
clickmask=no

// 855:29
[ccrm_text_braze]
type=text
y=40
width=20
height=54
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=crm_braze
noclickthrough=yes
textfont=cinzel_18pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xe0d471

