// 853:0
[universe]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script20549

// 853:1
[content]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 853:2
[tab_layer]
type=panel
width=160
heightmode=minus
layer=content
noclickthrough=yes
isvertical=yes
childspacing=4

// 853:3
[main_layer]
type=layer
x=160
width=160
widthmode=minus
heightmode=minus
layer=content

// 853:4
[scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=main_layer

// 853:5
[redeem_layer]
type=layer
width=16
widthmode=minus
heightmode=minus
layer=main_layer
noclickthrough=yes

// 853:6
[redeem]
type=grid
y=-8
widthmode=minus
heightmode=minus
layer=redeem_layer
noclickthrough=yes
scrollheight=10000
childspacing=8
layoutparams_x=176
layoutparams_y=176
layoutparams_mode=yes

// 853:7
[control_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content
hide=yes

// 853:8
[preview_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content

// 853:9
[bond_overlay_holder]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=universe
hide=yes

// 853:10
[fake_op_layer]
type=layer
width=1
height=1
layer=universe
hide=yes

// 853:11
[logout_warning_holder]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 853:12
[convert]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer
hide=yes

// 853:13
[manage_layer]
type=layer
x=12
y=1
width=7864
height=7
widthmode=proportion
heightmode=minus
layer=convert

// 853:14
[manage_panel_bg]
type=layer
widthmode=minus
heightmode=minus
layer=manage_layer
onload=rs3_background_panel_on(event_com)

// 853:15
[manage_panel_content]
type=layer
y=5
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=manage_layer

// 853:16
[manage_title]
type=text
width=10
height=32
widthmode=minus
xmode=abs_centre
layer=manage_panel_content
noclickthrough=yes
textfont=cinzel_18pt_bold
text=Manage Bonds
textalignv=1
colour=0xf0be79

// 853:17
[manage_graphic]
type=graphic
y=33
width=250
height=70
xmode=abs_centre
layer=manage_panel_content
graphic=mtx_store_banner_bonds_manage
colour=0xffffff
clickmask=no

// 853:18
[manage_info]
type=text
y=110
width=10
height=80
widthmode=minus
xmode=abs_centre
layer=manage_panel_content
textfont=museo_sans_11pt_regular
text=Bonds can be redeemed for various account services, such as membership or changing your name. Only tradeable bonds can be sold to other players.
textlineheight=13
textshadow=yes
colour=0xe3d7cf

// 853:19
[manage_bonds_layer]
type=layer
y=190
width=8
height=90
widthmode=minus
xmode=abs_centre
layer=manage_panel_content

// 853:20
[manage_coins_layer]
type=layer
y=290
width=8
height=40
widthmode=minus
xmode=abs_centre
layer=manage_panel_content

// 853:21
[buy_more_button]
type=button
y=7
width=150
height=32
xmode=abs_centre
ymode=abs_bottom
layer=manage_panel_content
noclickthrough=yes
text.textfont=notosans_12
text.text=Buy More
stylesheet=button_action_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 853:22
[manage_bonds_title]
type=text
x=42
width=143
height=40
widthmode=minus
layer=manage_bonds_layer
textfont=museo_sans_13pt_regular
text=Untradeable Bonds:
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 853:23
[com_23]
type=graphic
width=40
height=40
layer=manage_bonds_layer
graphic="rs3_bonds_icons_medium,11"
colour=0xffffff
clickmask=no

// 853:24
[manage_bonds_count]
type=text
x=2
width=100
height=40
xmode=abs_right
layer=manage_bonds_layer
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 853:25
[convert_layer]
type=layer
x=2
y=1
width=7864
height=7
widthmode=proportion
heightmode=minus
xmode=abs_right
layer=convert

// 853:26
[convert_panel_bg]
type=layer
widthmode=minus
heightmode=minus
layer=convert_layer
onload=rs3_background_panel_on(event_com)

// 853:27
[convert_panel_content]
type=layer
y=5
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=convert_layer

// 853:28
[convert_title]
type=text
width=10
height=32
widthmode=minus
xmode=abs_centre
layer=convert_panel_content
noclickthrough=yes
textfont=cinzel_18pt_bold
text=Convert Bonds
textalignv=1
colour=0xf0be79

// 853:29
[convert_graphic]
type=graphic
y=33
width=250
height=70
xmode=abs_centre
layer=convert_panel_content
graphic=mtx_store_banner_bonds_convert
colour=0xffffff
clickmask=no

// 853:30
[convert_info]
type=text
y=110
width=240
height=82
xmode=abs_centre
layer=convert_panel_content
textfont=museo_sans_11pt_regular
text=Bonds received from other players through trade or the Grand Exchange are bound to your account in an untradeable state. By paying 10% of their market value you can convert them back to a tradeable state.
textlineheight=13
textshadow=yes
colour=0xe3d7cf

// 853:31
[conversion_amount_layer]
type=layer
y=220
height=63
widthmode=minus
layer=convert_panel_content

// 853:32
[conversion_cost_layer]
type=layer
y=290
width=8
height=40
widthmode=minus
xmode=abs_centre
layer=convert_panel_content

// 853:33
[convert_button]
type=button
y=7
width=150
height=32
xmode=abs_centre
ymode=abs_bottom
layer=convert_panel_content
noclickthrough=yes
text.textfont=notosans_12
text.text=Convert
stylesheet=button_action_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 853:34
[conversion_controls]
type=layer
width=200
height=40
xmode=abs_centre
layer=conversion_amount_layer

// 853:35
[conversion_cost_each]
type=text
width=240
height=24
xmode=abs_centre
ymode=abs_bottom
layer=conversion_amount_layer
textfont=museo_sans_13pt_regular
text=Cost per bond: 
textalignh=1
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 853:36
[conversion_amount]
type=text
x=50
width=100
heightmode=minus
layer=conversion_controls
textfont=museo_sans_15pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 853:37
[manage_coins_title]
type=text
x=42
width=143
height=40
widthmode=minus
layer=manage_coins_layer
textfont=museo_sans_13pt_regular
text=Available Coins:
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 853:38
[com_38]
type=graphic
width=40
height=40
layer=manage_coins_layer
graphic=mtx_store_icon_currency_coins_040px
colour=0xffffff
clickmask=no

// 853:39
[manage_coins_count]
type=text
x=2
width=100
height=40
xmode=abs_right
layer=manage_coins_layer
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 853:40
[conversion_cost_title]
type=text
x=42
width=143
height=40
widthmode=minus
layer=conversion_cost_layer
textfont=museo_sans_13pt_regular
text=Conversion Cost:
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 853:41
[com_41]
type=graphic
width=40
height=40
layer=conversion_cost_layer
graphic=mtx_store_icon_currency_coins_040px
colour=0xffffff
clickmask=no

// 853:42
[conversion_cost]
type=text
x=2
width=100
height=40
xmode=abs_right
layer=conversion_cost_layer
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 853:43
[fake_op]
type=layer
width=1
height=1
layer=fake_op_layer

// 853:44
[manage_tradeable_bonds_title]
type=text
x=42
y=50
width=143
height=40
widthmode=minus
layer=manage_bonds_layer
textfont=museo_sans_13pt_regular
text=Tradeable Bonds:
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 853:45
[com_45]
type=graphic
y=50
width=40
height=40
layer=manage_bonds_layer
graphic="rs3_bonds_icons_medium,10"
colour=0xffffff
clickmask=no

// 853:46
[manage_tradeable_bonds_count]
type=text
x=2
y=50
width=100
height=40
xmode=abs_right
layer=manage_bonds_layer
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 853:47
[logout_warning_fake_op_layer]
type=layer
width=1066
height=600
layer=logout_warning_holder

// 853:48
[conversion_button_plus]
type=graphic
x=25
width=23
height=23
xmode=abs_right
ymode=abs_centre
layer=conversion_controls
graphic=rs3_btn_increase_active
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Increase
onload=script13914(event_com, rs3tli_increase_button_23px_on)

// 853:49
[conversion_button_minus]
type=graphic
x=25
width=23
height=23
ymode=abs_centre
layer=conversion_controls
graphic=rs3_btn_decrease_active
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Decrease
onload=script13914(event_com, rs3tli_decrease_button_23px_on)

// 853:50
[fade_top]
type=graphic
height=30
widthmode=minus
xmode=abs_centre
layer=redeem_layer
hide=yes
graphic=marketplace_scroll_gradient
vflip=yes
colour=0xffffff
clickmask=no

// 853:51
[fade_bottom]
type=graphic
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=redeem_layer
hide=yes
graphic=marketplace_scroll_gradient
colour=0xffffff
clickmask=no

