// 1644:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(mtxbeach15_tutorial:mainmodal_window_background, mtxbeach15_tutorial:mainmodal_window_border, mtxbeach15_tutorial:mainmodal_window_content, mtxbeach15_tutorial:mainmodal_window_close_button, "Beach ball Rolling", 21218, string_1007)

// 1644:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1644:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1644:3
[background]
type=layer
width=496
height=294
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1644:4
[beachball_tutorial]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1644:5
[tutorial_text_layer]
type=layer
x=179
y=15
width=305
height=230
layer=beachball_tutorial

// 1644:6
[com_6]
type=text
height=32
widthmode=minus
xmode=abs_centre
layer=tutorial_text_layer
textfont=museo_sans_15pt_bold
text=It's a frantic race!
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 1644:7
[com_7]
type=text
height=32
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=tutorial_text_layer
textfont=museo_sans_13pt_regular
text=Select any beach ball to start rolling it down the path, then cross the starting line to begin running at full speed!<br>Run along and grab what is rightfully yours!<br><br>Select either side of your character to move in that direction, dodging any of the obstacles on the course.<br><br>Try not to trip up in your quest to catch the beach ball!
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 1644:8
[beachball_tutuorial_checkbox_layer]
type=layer
x=10
y=10
width=250
height=18
xmode=abs_right
ymode=abs_bottom
layer=beachball_tutorial
onload=script11571(mtxbeach15_tutorial:beachball_checkbox_build, mtxbeach15_tutorial:beachball_checkbox_click)

// 1644:9
[beachball_checkbox_build]
type=layer
widthmode=minus
heightmode=minus
layer=beachball_tutuorial_checkbox_layer

// 1644:10
[beachball_checkbox_click]
type=layer
widthmode=minus
heightmode=minus
layer=beachball_tutuorial_checkbox_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1644:11
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1644:12
[mainmodal_window_close_button]
type=layer
x=4
y=4
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1644:13
[com_13]
type=model
x=20
y=-6
width=143
height=144
ymode=abs_centre
layer=beachball_tutorial
model=wof13_beachball
modelorigin_x=28
modelorigin_y=38
modelangle_x=369
modelangle_y=1382
modelangle_z=1391
modelzoom=200

