// 796:0
[main_layer]
type=layer
width=152
height=192
xmode=abs_centre
ymode=abs_centre
scrollwidth=174
scrollheight=552
onload=script10659
onvartransmit=script5949
onvartransmitlist=elfcity_perm8

// 796:1
[pose1_button_layer]
type=layer
width=75
height=95
layer=main_layer

// 796:2
[pose1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7699(event_com)

// 796:3
[pose1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7728(event_com)

// 796:4
[pose1_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7729(event_com)

// 796:5
[pose1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
hide=yes
onload=script8225(event_com)

// 796:6
[pose1_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose1_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 796:7
[pose1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
hide=yes
onload=script8228(event_com)

// 796:8
[pose1_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer

// 796:9
[com_9]
type=model
x=1
y=-3
width=38
height=73
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_text_layer
model=mtxbeach_bodybuilder_male01
modelorigin_x=-1
modelorigin_y=36
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1400
modelanim=mtxbeach_player_dumbell_curl

// 796:10
[com_10]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=1. Curl
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 796:11
[pose2_button_layer]
type=layer
x=77
width=75
height=95
layer=main_layer

// 796:12
[pose2_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7699(event_com)

// 796:13
[pose2_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7728(event_com)

// 796:14
[pose2_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7729(event_com)

// 796:15
[pose2_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
hide=yes
onload=script8225(event_com)

// 796:16
[pose2_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose2_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 796:17
[pose2_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
hide=yes
onload=script8228(event_com)

// 796:18
[pose2_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer

// 796:19
[com_19]
type=model
x=1
y=-4
width=35
height=73
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_text_layer
model=mtxbeach_bodybuilder_male01
modelorigin_x=-1
modelorigin_y=36
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1400
modelanim=mtxbeach_player_dumbell_lunges

// 796:20
[com_20]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=2. Lunge
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 796:21
[pose3_button_layer]
type=layer
y=97
width=75
height=95
layer=main_layer

// 796:22
[pose3_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7699(event_com)

// 796:23
[pose3_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7728(event_com)

// 796:24
[pose3_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7729(event_com)

// 796:25
[pose3_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
hide=yes
onload=script8225(event_com)

// 796:26
[pose3_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose3_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 796:27
[pose3_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
hide=yes
onload=script8228(event_com)

// 796:28
[pose3_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer

// 796:29
[com_29]
type=model
x=1
y=-3
width=70
height=74
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_text_layer
model=mtxbeach_bodybuilder_male01
modelorigin_x=-1
modelorigin_y=36
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1400
modelanim=mtxbeach_player_dumbell_flys

// 796:30
[com_30]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=3. Fly
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 796:31
[pose4_button_layer]
type=layer
x=77
y=97
width=75
height=95
layer=main_layer

// 796:32
[pose4_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7699(event_com)

// 796:33
[pose4_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7728(event_com)

// 796:34
[pose4_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7729(event_com)

// 796:35
[pose4_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
hide=yes
onload=script8225(event_com)

// 796:36
[pose4_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose4_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 796:37
[pose4_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
hide=yes
onload=script8228(event_com)

// 796:38
[pose4_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer

// 796:39
[com_39]
type=model
y=-9
width=44
height=86
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_text_layer
model=mtxbeach_bodybuilder_male01
modelorigin_x=0
modelorigin_y=42
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1400
modelanim=mtxbeach_player_dumbell_shoulder_raises

// 796:40
[com_40]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=4. Raise
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

