// 1911:0
[progress_bar_bg_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=progress_bar_layer

// 1911:1
[com_1]
type=graphic
widthmode=minus
heightmode=minus
layer=progress_bar_bg_layer
graphic=menaphos_progress_bar_back_global
colour=0xffffff
clickmask=no

// 1911:2
[happiness_layer]
type=layer
y=5
width=10
height=35
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=tapper_content_layer

// 1911:3
[progress_bar_layer]
type=layer
y=5
width=25
height=100
xmode=abs_centre
layer=happiness_layer
onvartransmit=script13723
onvartransmitlist=mtxfest17_tap_temp_varp1

// 1911:4
[progress_bar_bar_layer]
type=layer
x=2
y=-1
width=4
height=100
widthmode=minus
ymode=abs_bottom
layer=progress_bar_layer

// 1911:5
[com_5]
type=graphic
height=6
widthmode=minus
xmode=abs_centre
layer=progress_bar_bar_layer
graphic="menaphos_progress_global,0"
colour=0xffffff
clickmask=no

// 1911:6
[com_6]
type=graphic
height=12
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_bar_layer
graphic="menaphos_progress_global,1"
colour=0xffffff
clickmask=no

// 1911:7
[com_7]
type=graphic
y=2
height=6
widthmode=minus
ymode=abs_bottom
layer=progress_bar_bar_layer
graphic="menaphos_progress_global,2"
colour=0xffffff
clickmask=no

// 1911:8
[happinesslabel]
type=text
height=20
widthmode=minus
ymode=abs_bottom
layer=happiness_layer
textfont=museo_sans_13pt_regular
text=00/00
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcd00

// 1911:9
[scorelabel]
type=text
width=8199
height=20
widthmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=score_layer
textfont=museo_sans_11pt_regular_multiline
text=001
textalignh=2
textalignv=1
textshadow=yes
colour=0xfce400

// 1911:10
[score_layer]
type=layer
y=5
width=10
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=tapper_content_layer

// 1911:11
[com_11]
type=text
width=8192
widthmode=proportion
heightmode=minus
layer=score_layer
textfont=museo_sans_11pt_regular
text=Score : 
textalignv=1
textshadow=yes
colour=0xffcd05

// 1911:12
[tapper_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=overlay_layer

// 1911:13
[tapper_content_layer]
type=layer
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=overlay_layer
onvartransmit=script13722
onvartransmitlist=mtxfest17_tap_temp_varp1,mtxfest17_tap_temp_varp1

// 1911:14
[tapper_border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=overlay_layer

// 1911:15
[overlay_layer]
type=layer
width=100
height=180
onload=script11033(mtxfest17_tapper_overlay:tapper_background_layer, mtxfest17_tapper_overlay:tapper_border_layer, mtxfest17_tapper_overlay:tapper_content_layer, mtxfest17_tapper_overlay:tapper_closebutton_layer, "", 30498, struct_1005, string_33700)

// 1911:16
[tapper_closebutton_layer]
type=layer
widthmode=minus
heightmode=minus
layer=overlay_layer

