// 1907:0
[title_background]
type=graphic
width=162
height=26
xmode=abs_centre
layer=mainmodal_window_content
graphic=rs3_event_ui_overlay_banner_springfayre
colour=0xffffff
clickmask=no

// 1907:1
[mainmodal_window]
type=layer
width=172
height=35
xmode=abs_centre
onload=script11033(mtxfest17_overlay:mainmodal_window_background, mtxfest17_overlay:mainmodal_window_border, mtxfest17_overlay:mainmodal_window_content, mtxfest17_overlay:mainmodal_window_close_button, "", 30498, struct_1005, string_33700)

// 1907:2
[mainmodal_window_background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1907:3
[mainmodal_window_content]
type=layer
y=5
width=10
height=26
widthmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1907:4
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1907:5
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

