// 1909:0
[walk_button_layer]
type=layer
y=40
width=150
height=24
xmode=abs_centre
layer=main_layer

// 1909:1
[stop_button_layer]
type=layer
y=80
width=150
height=24
xmode=abs_centre
layer=main_layer

// 1909:2
[main_layer]
type=layer
widthmode=minus
heightmode=minus
onload=script13714

// 1909:3
[exit_button_layer]
type=layer
y=160
width=150
height=24
xmode=abs_centre
layer=main_layer

// 1909:4
[walk_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=walk_button_layer
onload=script7699(event_com)

// 1909:5
[walk_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=walk_button_layer
onload=script7728(event_com)

// 1909:6
[walk_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=walk_button_layer
onload=script7729(event_com)

// 1909:7
[walk_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=walk_button_layer
hide=yes
onload=script8225(event_com)

// 1909:8
[walk_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=walk_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1909:9
[walk_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=walk_button_layer
hide=yes
onload=script8228(event_com)

// 1909:10
[walk_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=walk_button_layer

// 1909:11
[walk_button_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=walk_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=1. Walk
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1909:12
[stop_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=stop_button_layer
onload=script7699(event_com)

// 1909:13
[stop_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=stop_button_layer
onload=script7728(event_com)

// 1909:14
[stop_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=stop_button_layer
onload=script7729(event_com)

// 1909:15
[stop_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=stop_button_layer
hide=yes
onload=script8225(event_com)

// 1909:16
[stop_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=stop_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1909:17
[stop_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=stop_button_layer
hide=yes
onload=script8228(event_com)

// 1909:18
[stop_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=stop_button_layer

// 1909:19
[stop_button_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=stop_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=2. Stop
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1909:20
[exit_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_layer
onload=script7699(event_com)

// 1909:21
[exit_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_layer
onload=script7728(event_com)

// 1909:22
[exit_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_layer
onload=script7729(event_com)

// 1909:23
[exit_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_layer
hide=yes
onload=script8225(event_com)

// 1909:24
[exit_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=exit_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1909:25
[exit_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_layer
hide=yes
onload=script8228(event_com)

// 1909:26
[exit_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_layer

// 1909:27
[exit_button_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=exit_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=3. Quit
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

