// 1859:0
[main_layer]
type=layer
width=152
height=192
xmode=abs_centre
ymode=abs_centre
onload=script4023

// 1859:1
[pose1_button_layer]
type=layer
width=75
height=95
layer=main_layer

// 1859:2
[pose1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7699(event_com)

// 1859:3
[pose1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7728(event_com)

// 1859:4
[pose1_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7729(event_com)

// 1859:5
[pose1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
hide=yes
onload=script8225(event_com)

// 1859:6
[pose1_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose1_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1859:7
[pose1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
hide=yes
onload=script8228(event_com)

// 1859:8
[pose1_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer

// 1859:9
[com_9]
type=model
x=-4
y=-4
width=65
height=83
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_text_layer
model=mtxfair17_traveller_musician_f_npc
modelorigin_x=3
modelorigin_y=40
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1400
modelanim=mtxfair17_player_dance_a

// 1859:10
[com_10]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=1. Step
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1859:11
[pose2_button_layer]
type=layer
x=77
width=75
height=95
layer=main_layer

// 1859:12
[pose2_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7699(event_com)

// 1859:13
[pose2_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7728(event_com)

// 1859:14
[pose2_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7729(event_com)

// 1859:15
[pose2_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
hide=yes
onload=script8225(event_com)

// 1859:16
[pose2_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose2_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1859:17
[pose2_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
hide=yes
onload=script8228(event_com)

// 1859:18
[pose2_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer

// 1859:19
[com_19]
type=model
x=-1
y=-4
width=57
height=83
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_text_layer
model=mtxfair17_traveller_musician_f_npc
modelorigin_x=0
modelorigin_y=40
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1400
modelanim=mtxfair17_player_dance_b

// 1859:20
[com_20]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=2. Samba
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1859:21
[pose3_button_layer]
type=layer
y=97
width=75
height=95
layer=main_layer

// 1859:22
[pose3_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7699(event_com)

// 1859:23
[pose3_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7728(event_com)

// 1859:24
[pose3_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7729(event_com)

// 1859:25
[pose3_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
hide=yes
onload=script8225(event_com)

// 1859:26
[pose3_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose3_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1859:27
[pose3_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
hide=yes
onload=script8228(event_com)

// 1859:28
[pose3_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer

// 1859:29
[com_29]
type=model
x=2
y=-4
width=35
height=83
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_text_layer
model=mtxfair17_traveller_musician_f_npc
modelorigin_x=-3
modelorigin_y=40
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1400
modelanim=mtxfair17_player_dance_c

// 1859:30
[com_30]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=3. Skip
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1859:31
[pose4_button_layer]
type=layer
x=77
y=97
width=75
height=95
layer=main_layer

// 1859:32
[pose4_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7699(event_com)

// 1859:33
[pose4_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7728(event_com)

// 1859:34
[pose4_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7729(event_com)

// 1859:35
[pose4_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
hide=yes
onload=script8225(event_com)

// 1859:36
[pose4_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose4_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1859:37
[pose4_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
hide=yes
onload=script8228(event_com)

// 1859:38
[pose4_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer

// 1859:39
[com_39]
type=model
x=4
y=3
width=57
height=84
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_text_layer
model=mtxfair17_traveller_musician_f_npc
modelorigin_x=-4
modelorigin_y=39
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1400
modelanim=mtxfair17_player_dance_d

// 1859:40
[com_40]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=4. Twirl
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

