// 1239:0
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_info_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1239:1
[com_1]
type=rectangle
widthmode=minus
heightmode=minus
layer=prize_claim_click_through_layer
colour=0x000000
fill=yes
trans=78

// 1239:2
[com_2]
type=text
y=20
width=20
height=32
widthmode=minus
xmode=abs_centre
layer=prize_claim_info_layer
textfont=museo_sans_13pt_regular
text=You have uncovered 
textalignh=1
textalignv=1
textshadow=yes

// 1239:3
[prize_name_and_amount]
type=text
y=60
width=20
height=32
widthmode=minus
xmode=abs_centre
layer=prize_claim_info_layer
textfont=museo_sans_13pt_regular
textalignh=1
textshadow=yes

// 1239:4
[prize_description]
type=text
y=120
width=20
height=100
widthmode=minus
xmode=abs_centre
layer=prize_claim_info_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes

// 1239:5
[claim_button_layer]
type=layer
y=20
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=prize_claim_info_layer

// 1239:6
[chinchompa_map]
type=layer
width=550
height=450
xmode=abs_centre
ymode=abs_centre
onload=script8420(mtxfair17_chinchompa:background_layer, mtxfair17_chinchompa:border_layer, mtxfair17_chinchompa:content_layer, mtxfair17_chinchompa:closebutton_layer, "Chinchompa Hunt", 21218, null)

// 1239:7
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=chinchompa_map

// 1239:8
[border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=chinchompa_map

// 1239:9
[content_layer]
type=layer
y=8
width=16
height=41
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=chinchompa_map
onload=script3987

// 1239:10
[background_graphic]
type=graphic
width=584
height=410
layer=content_layer
graphic=mtxfair17_chompahunt_bg
colour=0xffffff
clickmask=no

// 1239:11
[ticket_layer]
type=layer
x=10
width=300
height=50
layer=content_layer
onvartransmit=script3988
onvartransmitlist=mtxfair17_var5

// 1239:12
[daily_amount_text]
type=text
width=172
height=8192
heightmode=proportion
xmode=abs_centre
layer=ticket_layer
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000

// 1239:13
[outfit_pieces_text]
type=text
width=172
height=8192
heightmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=ticket_layer
textfont=museo_sans_13pt_regular
text=Outfit Pieces Collected : 
textalignh=1
textalignv=1
colour=0x000000

// 1239:14
[grid_layer]
type=layer
x=35
width=250
height=300
ymode=abs_centre
layer=content_layer
onvartransmit=script3991
onvartransmitlist=mtxfair17_chinchompa_var3,mtxfair17_var4

// 1239:15
[prize_info_layer]
type=layer
x=10
width=300
height=50
ymode=abs_bottom
layer=content_layer

// 1239:16
[bond_layer]
type=layer
x=20
width=195
heightmode=minus
xmode=abs_right
layer=content_layer

// 1239:17
[com_17]
type=graphic
x=25
y=3
width=24
height=24
xmode=abs_right
ymode=abs_bottom
layer=prize_info_layer
graphic=rs3_icon_info
colour=0xffffff
clickmask=no

// 1239:18
[prize_claim_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer
hide=yes

// 1239:19
[bond_layer_title]
type=text
height=60
widthmode=minus
xmode=abs_centre
layer=bond_layer
hide=yes
textfont=museo_sans_13pt_regular
text=Take part in the Chinchompa Hunt during the Spring Fayre!
textalignh=1
textalignv=1
colour=0x000000

// 1239:20
[bond_layer_text]
type=text
y=35
height=320
widthmode=minus
xmode=abs_centre
layer=bond_layer
hide=yes
textfont=museo_sans_11pt_regular
text=Each week, you'll be able to get your hand on one of four outfits by turning squares and revealing chinchompas.<br><br>Plan your hunt carefully and find each of the outfit pieces before the week is up.<br><br>Use one free go each day and 20 tokens per try after that. If you want to turn tiles without using tokens you can pay a Bond then open them all for free!<br><br>And don't worry too much should you miss an outfit, they'll be available to purchase with tickets via the Chinchompa map after the hunt period is over.
textalignh=1
textalignv=1
colour=0x000000

// 1239:21
[prize_text]
type=text
width=220
height=20
xmode=abs_centre
layer=prize_info_layer
textfont=museo_sans_13pt_regular
text=Current Outfit :
textalignh=1
textalignv=1
colour=0x000000

// 1239:22
[countdown_text]
type=text
y=5
width=120
height=20
xmode=abs_centre
ymode=abs_bottom
layer=prize_info_layer
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000

// 1239:23
[redeem_button_layer]
type=layer
y=15
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=bond_layer

// 1239:24
[buy_button_layer]
type=layer
y=50
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=bond_layer

// 1239:25
[prize_claim_click_through_layer]
type=layer
widthmode=minus
heightmode=minus
layer=prize_claim_layer
noclickthrough=yes

// 1239:26
[prize_claim_info_layer]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer

// 1239:27
[closebutton_layer]
type=layer
widthmode=minus
heightmode=minus
layer=chinchompa_map
transmitop1=yes
op1=Close

// 1239:28
[claim_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_button_layer
onload=script7041(event_com)

// 1239:29
[claim_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_button_layer
onload=script7042(event_com)

// 1239:30
[claim_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_button_layer
onload=script7044(event_com)

// 1239:31
[claim_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_button_layer
hide=yes
onload=script7047(event_com)

// 1239:32
[claim_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=claim_button_layer
transmitop1=yes
op1=Claim
onload=script4213(event_com)

// 1239:33
[claim_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_button_layer
hide=yes
onload=script7060(event_com)

// 1239:34
[claim_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_button_layer

// 1239:35
[claim_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_button_text_layer
textfont=cinzel_13pt_bold
text=Claim
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1239:36
[redeem_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=redeem_button_layer
onload=script7041(event_com)

// 1239:37
[redeem_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=redeem_button_layer
onload=script7042(event_com)

// 1239:38
[redeem_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=redeem_button_layer
onload=script7044(event_com)

// 1239:39
[redeem_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=redeem_button_layer
hide=yes
onload=script7047(event_com)

// 1239:40
[redeem_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=redeem_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1239:41
[redeem_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=redeem_button_layer
hide=yes
onload=script7060(event_com)

// 1239:42
[redeem_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=redeem_button_layer

// 1239:43
[redeem_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=redeem_button_text_layer
textfont=cinzel_13pt_bold
text=Redeem Bond
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1239:44
[buy_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_layer
onload=script7041(event_com)

// 1239:45
[buy_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_layer
onload=script7042(event_com)

// 1239:46
[buy_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_layer
onload=script7044(event_com)

// 1239:47
[buy_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_layer
hide=yes
onload=script7047(event_com)

// 1239:48
[buy_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=buy_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1239:49
[buy_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_layer
hide=yes
onload=script7060(event_com)

// 1239:50
[buy_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_layer

// 1239:51
[buy_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_button_text_layer
textfont=cinzel_13pt_bold
text=Buy a Bond
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

