// 1861:0
[mainmodal_window]
type=layer
width=172
height=88
xmode=abs_centre
onload=script11033(mtxfair17_overlay:mainmodal_window_background, mtxfair17_overlay:mainmodal_window_border, mtxfair17_overlay:mainmodal_window_content, mtxfair17_overlay:mainmodal_window_close_button, "", 30498, struct_1005, string_33700)

// 1861:1
[mainmodal_window_background]
type=layer
y=30
width=162
height=54
xmode=abs_centre
layer=mainmodal_window

// 1861:2
[mainmodal_window_content]
type=layer
y=30
width=162
height=54
xmode=abs_centre
layer=mainmodal_window

// 1861:3
[token]
type=model
x=2
y=29
width=25
height=23
ymode=abs_bottom
layer=mainmodal_window_content
model=mtxfair17_ride_token_inv
modelorigin_x=0
modelorigin_y=0
modelangle_x=350
modelangle_y=60
modelangle_z=0
modelzoom=450

// 1861:4
[ticket]
type=model
x=2
y=3
width=26
height=23
ymode=abs_bottom
layer=mainmodal_window_content
model=mtxfair17_prize_ticket_inv
modelorigin_x=-1
modelorigin_y=-1
modelangle_x=458
modelangle_y=296
modelangle_z=0
modelzoom=750

// 1861:5
[currency_info_tokens_text]
type=text
x=35
y=29
width=34
height=23
widthmode=minus
ymode=abs_bottom
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
text=Tokens : 00000
textalignv=1
textshadow=yes
onvartransmit=script4020
onvartransmitlist=mtxfair17_var8,mtxfair17_var8

// 1861:6
[currency_info_tickets_text]
type=text
x=35
y=3
width=34
height=23
widthmode=minus
ymode=abs_bottom
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
text=Tickets : 00000
textalignv=1
textshadow=yes
onvartransmit=script4020
onvartransmitlist=mtxfair17_var8,mtxfair17_var8

// 1861:7
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1861:8
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1861:9
[title_background]
type=graphic
y=4
width=162
height=26
xmode=abs_centre
layer=mainmodal_window
graphic=rs3_event_ui_overlay_banner_springfayre
colour=0xffffff
clickmask=no

