// 1237:0
[main_layer]
type=layer
width=170
height=192
xmode=abs_centre
ymode=abs_centre

// 1237:1
[current_direction_text]
type=text
height=30
widthmode=minus
layer=main_layer
textfont=museo_sans_13pt_regular
text=Current Direction : 
textalignv=1

// 1237:2
[left_button]
type=layer
x=5
y=30
width=8192
height=70
widthmode=proportion
layer=main_layer
transmitop1=yes
op1=Lean left

// 1237:3
[left_button_graphic]
type=graphic
width=72
height=72
layer=left_button
graphic="mtxfair17_yakaroo_uiarrows,2"
colour=0xffffff
clickmask=no
onmouseleave=script3998(event_com)
onmouserepeat=graphic_swapper(event_com, "mtxfair17_yakaroo_uiarrows,1")

// 1237:4
[right_button]
type=layer
y=30
width=8192
height=70
widthmode=proportion
xmode=abs_right
layer=main_layer
transmitop1=yes
op1=Lean right

// 1237:5
[right_button_graphic]
type=graphic
width=72
height=72
layer=right_button
graphic="mtxfair17_yakaroo_uiarrows,2"
hflip=yes
colour=0xffffff
clickmask=no
onmouseleave=script3998(event_com)
onmouserepeat=graphic_swapper(event_com, "mtxfair17_yakaroo_uiarrows,1")

// 1237:6
[quit_button_layer]
type=layer
y=30
width=150
height=27
xmode=abs_centre
ymode=abs_centre
layer=main_layer

// 1237:7
[quit_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=quit_button_layer
onload=script7275(event_com)

// 1237:8
[quit_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=quit_button_layer
onload=script7276(event_com)

// 1237:9
[quit_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=quit_button_layer
onload=script7277(event_com)

// 1237:10
[quit_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=quit_button_layer
hide=yes
onload=script7445(event_com)

// 1237:11
[quit_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=quit_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1237:12
[quit_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=quit_button_layer
hide=yes
onload=script7572(event_com)

// 1237:13
[quit_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=quit_button_layer

// 1237:14
[quit_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=quit_button_text_layer
textfont=cinzel_13pt_bold
text=Quit
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

