// 1562:0
[outfit_content_layer]
type=layer
y=2
height=4
widthmode=minus
heightmode=minus
layer=outfit_layer

// 1562:1
[outfit_scrollbar_layer]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=outfit_layer

// 1562:2
[header_layer]
type=layer
height=218
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1562:3
[outfit_layer]
type=layer
width=8199
height=218
widthmode=proportion
ymode=abs_bottom
layer=mainmodal_window_content

// 1562:4
[flow_layer]
type=layer
width=8199
height=218
widthmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content

// 1562:5
[outfit_border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=outfit_layer
onload=script10795(event_com)

// 1562:6
[currency_layer]
type=layer
widthmode=minus
heightmode=minus
layer=flow_layer

// 1562:7
[confirm_layer]
type=layer
widthmode=minus
heightmode=minus
layer=flow_layer
hide=yes

// 1562:8
[confirm_info_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_layer

// 1562:9
[confirm_cancel_button_layer]
type=layer
y=6
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_layer

// 1562:10
[confirm_runecoins_button_layer]
type=layer
y=37
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_layer
hide=yes

// 1562:11
[confirm_loyaltypoints_button_layer]
type=layer
y=37
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_layer
hide=yes

// 1562:12
[confirm_bonds_button_layer]
type=layer
y=37
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_layer
hide=yes

// 1562:13
[confirm_bonds_to_runecoins_button_layer]
type=layer
y=37
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_layer
hide=yes

// 1562:14
[loyaltypoints_button_layer]
type=layer
x=4
y=4
width=100
height=27
xmode=abs_right
ymode=abs_bottom
layer=loyaltypoints_content_layer

// 1562:15
[bonds_button_layer]
type=layer
x=4
y=4
width=100
height=27
xmode=abs_right
ymode=abs_bottom
layer=bonds_content_layer

// 1562:16
[buy_bonds_button_layer]
type=layer
x=4
y=4
width=100
height=27
xmode=abs_right
ymode=abs_bottom
layer=bonds_content_layer

// 1562:17
[runecoins_button_layer]
type=layer
x=4
y=4
width=100
height=27
xmode=abs_right
ymode=abs_bottom
layer=runecoins_content_layer

// 1562:18
[buy_runecoins_button_layer]
type=layer
x=4
y=4
width=100
height=27
xmode=abs_right
layer=runecoins_content_layer

// 1562:19
[loyaltypoints_bg_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=loyaltypoints_layer

// 1562:20
[loyaltypoints_content_layer]
type=layer
x=2
y=2
width=4
height=4
widthmode=minus
heightmode=minus
layer=loyaltypoints_layer

// 1562:21
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(mtxmgt_purchase:mainmodal_window_background, mtxmgt_purchase:mainmodal_window_border, mtxmgt_purchase:mainmodal_window_content, mtxmgt_purchase:mainmodal_window_close_button, "Purchase", 21218, string_1007)

// 1562:22
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1562:23
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script10799
onvartransmit=script10800
onvarctransmit=script10803
onvartransmitlist=mtxmgt_purchase_struct,mtxmgt_purchase_price_int0,mtxmgt_purchase_selected_currency,mtxmgt_purchase_event_dbrow,mtxmgt_purchase_event_struct
onvarctransmitlist=mtxmgt_purchase_state,mtxmgt_purchase_instant_response,mtxmgt_purchase_delayed_response

// 1562:24
[progress_layer]
type=layer
widthmode=minus
heightmode=minus
layer=flow_layer
hide=yes
onload=spinner_create(event_com, 1, -1)

// 1562:25
[response_layer]
type=layer
widthmode=minus
heightmode=minus
layer=flow_layer
hide=yes

// 1562:26
[response_back_button_layer]
type=layer
y=6
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=response_layer
hide=yes

// 1562:27
[response_continue_button_layer]
type=layer
y=6
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=response_layer

// 1562:28
[response_close_button_layer]
type=layer
y=6
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=response_layer

// 1562:29
[runecoins_layer]
type=layer
height=70
widthmode=minus
layer=currency_layer

// 1562:30
[loyaltypoints_layer]
type=layer
y=74
height=70
widthmode=minus
layer=currency_layer

// 1562:31
[bonds_layer]
type=layer
y=148
height=70
widthmode=minus
layer=currency_layer

// 1562:32
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1562:33
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close

// 1562:34
[loyaltypoints_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loyaltypoints_button_layer
onload=script7041(event_com)

// 1562:35
[loyaltypoints_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loyaltypoints_button_layer
onload=script7042(event_com)

// 1562:36
[loyaltypoints_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loyaltypoints_button_layer
onload=script7044(event_com)

// 1562:37
[loyaltypoints_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loyaltypoints_button_layer
hide=yes
onload=script7047(event_com)

// 1562:38
[loyaltypoints_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=loyaltypoints_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script10806(1)

// 1562:39
[loyaltypoints_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loyaltypoints_button_layer
hide=yes
onload=script7060(event_com)

// 1562:40
[loyaltypoints_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loyaltypoints_button_layer

// 1562:41
[loyaltypoints_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loyaltypoints_button_text_layer
textfont=cinzel_13pt_bold
text=Buy
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1562:42
[bonds_bg_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=bonds_layer

// 1562:43
[bonds_content_layer]
type=layer
x=2
y=2
width=4
height=4
widthmode=minus
heightmode=minus
layer=bonds_layer

// 1562:44
[ge_bonds_button_layer]
type=layer
x=4
y=4
width=100
height=27
xmode=abs_right
ymode=abs_bottom
layer=bonds_content_layer

// 1562:45
[bonds_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_button_layer
onload=script7041(event_com)

// 1562:46
[bonds_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_button_layer
onload=script7042(event_com)

// 1562:47
[bonds_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_button_layer
onload=script7044(event_com)

// 1562:48
[bonds_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_button_layer
hide=yes
onload=script7047(event_com)

// 1562:49
[bonds_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bonds_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script10806(2)

// 1562:50
[bonds_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_button_layer
hide=yes
onload=script7060(event_com)

// 1562:51
[bonds_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_button_layer

// 1562:52
[bonds_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_button_text_layer
textfont=cinzel_13pt_bold
text=Buy
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1562:53
[runecoins_bg_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=runecoins_layer

// 1562:54
[runecoins_content_layer]
type=layer
x=2
y=2
width=4
height=4
widthmode=minus
heightmode=minus
layer=runecoins_layer

// 1562:55
[bonds_to_runecoins_button_layer]
type=layer
x=4
y=4
width=100
height=27
xmode=abs_right
ymode=abs_bottom
layer=runecoins_content_layer

// 1562:56
[runecoins_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=runecoins_button_layer
onload=script7041(event_com)

// 1562:57
[runecoins_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=runecoins_button_layer
onload=script7042(event_com)

// 1562:58
[runecoins_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=runecoins_button_layer
onload=script7044(event_com)

// 1562:59
[runecoins_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=runecoins_button_layer
hide=yes
onload=script7047(event_com)

// 1562:60
[runecoins_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=runecoins_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script10806(0)

// 1562:61
[runecoins_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=runecoins_button_layer
hide=yes
onload=script7060(event_com)

// 1562:62
[runecoins_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=runecoins_button_layer

// 1562:63
[runecoins_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=runecoins_button_text_layer
textfont=cinzel_13pt_bold
text=Buy
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1562:64
[buy_runecoins_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_runecoins_button_layer
onload=script7041(event_com)

// 1562:65
[buy_runecoins_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_runecoins_button_layer
onload=script7042(event_com)

// 1562:66
[buy_runecoins_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_runecoins_button_layer
onload=script7044(event_com)

// 1562:67
[buy_runecoins_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_runecoins_button_layer
hide=yes
onload=script7047(event_com)

// 1562:68
[buy_runecoins_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=buy_runecoins_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1562:69
[buy_runecoins_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_runecoins_button_layer
hide=yes
onload=script7060(event_com)

// 1562:70
[buy_runecoins_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_runecoins_button_layer

// 1562:71
[buy_runecoins_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_runecoins_button_text_layer
textfont=cinzel_13pt_bold
text=Buy RC
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1562:72
[confirm_runecoins_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_runecoins_button_layer
onload=script7041(event_com)

// 1562:73
[confirm_runecoins_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_runecoins_button_layer
onload=script7042(event_com)

// 1562:74
[confirm_runecoins_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_runecoins_button_layer
onload=script7044(event_com)

// 1562:75
[confirm_runecoins_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_runecoins_button_layer
hide=yes
onload=script7047(event_com)

// 1562:76
[confirm_runecoins_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_runecoins_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script11660(1, 2)

// 1562:77
[confirm_runecoins_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_runecoins_button_layer
hide=yes
onload=script7060(event_com)

// 1562:78
[confirm_runecoins_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_runecoins_button_layer

// 1562:79
[confirm_runecoins_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_runecoins_button_text_layer
textfont=cinzel_13pt_bold
text=Confirm
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1562:80
[confirm_cancel_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_cancel_button_layer
onload=script7062(event_com)

// 1562:81
[confirm_cancel_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_cancel_button_layer
onload=script7063(event_com)

// 1562:82
[confirm_cancel_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_cancel_button_layer
onload=script7065(event_com)

// 1562:83
[confirm_cancel_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_cancel_button_layer
hide=yes
onload=script7068(event_com)

// 1562:84
[confirm_cancel_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_cancel_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1562:85
[confirm_cancel_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_cancel_button_layer
hide=yes
onload=script7074(event_com)

// 1562:86
[confirm_cancel_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_cancel_button_layer

// 1562:87
[confirm_cancel_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_cancel_button_text_layer
textfont=cinzel_13pt_bold
text=Cancel
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1562:88
[confirm_loyaltypoints_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_loyaltypoints_button_layer
onload=script7041(event_com)

// 1562:89
[confirm_loyaltypoints_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_loyaltypoints_button_layer
onload=script7042(event_com)

// 1562:90
[confirm_loyaltypoints_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_loyaltypoints_button_layer
onload=script7044(event_com)

// 1562:91
[confirm_loyaltypoints_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_loyaltypoints_button_layer
hide=yes
onload=script7047(event_com)

// 1562:92
[confirm_loyaltypoints_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_loyaltypoints_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script11660(1, 2)

// 1562:93
[confirm_loyaltypoints_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_loyaltypoints_button_layer
hide=yes
onload=script7060(event_com)

// 1562:94
[confirm_loyaltypoints_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_loyaltypoints_button_layer

// 1562:95
[confirm_loyaltypoints_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_loyaltypoints_button_text_layer
textfont=cinzel_13pt_bold
text=Confirm
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1562:96
[confirm_bonds_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_button_layer
onload=script7041(event_com)

// 1562:97
[confirm_bonds_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_button_layer
onload=script7042(event_com)

// 1562:98
[confirm_bonds_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_button_layer
onload=script7044(event_com)

// 1562:99
[confirm_bonds_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_button_layer
hide=yes
onload=script7047(event_com)

// 1562:100
[confirm_bonds_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_bonds_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script11660(1, 2)

// 1562:101
[confirm_bonds_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_button_layer
hide=yes
onload=script7060(event_com)

// 1562:102
[confirm_bonds_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_button_layer

// 1562:103
[confirm_bonds_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_button_text_layer
textfont=cinzel_13pt_bold
text=Confirm
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1562:104
[response_close_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_close_button_layer
onload=script7041(event_com)

// 1562:105
[response_close_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_close_button_layer
onload=script7042(event_com)

// 1562:106
[response_close_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_close_button_layer
onload=script7044(event_com)

// 1562:107
[response_close_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_close_button_layer
hide=yes
onload=script7047(event_com)

// 1562:108
[response_close_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=response_close_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1562:109
[response_close_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_close_button_layer
hide=yes
onload=script7060(event_com)

// 1562:110
[response_close_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_close_button_layer

// 1562:111
[response_close_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_close_button_text_layer
textfont=cinzel_13pt_bold
text=Done
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1562:112
[response_back_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_back_button_layer
onload=script7062(event_com)

// 1562:113
[response_back_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_back_button_layer
onload=script7063(event_com)

// 1562:114
[response_back_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_back_button_layer
onload=script7065(event_com)

// 1562:115
[response_back_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_back_button_layer
hide=yes
onload=script7068(event_com)

// 1562:116
[response_back_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=response_back_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script11660(3, 2)

// 1562:117
[response_back_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_back_button_layer
hide=yes
onload=script7074(event_com)

// 1562:118
[response_back_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_back_button_layer

// 1562:119
[response_back_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_back_button_text_layer
textfont=cinzel_13pt_bold
text=Back
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1562:120
[buy_bonds_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_bonds_button_layer
onload=script7041(event_com)

// 1562:121
[buy_bonds_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_bonds_button_layer
onload=script7042(event_com)

// 1562:122
[buy_bonds_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_bonds_button_layer
onload=script7044(event_com)

// 1562:123
[buy_bonds_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_bonds_button_layer
hide=yes
onload=script7047(event_com)

// 1562:124
[buy_bonds_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=buy_bonds_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1562:125
[buy_bonds_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_bonds_button_layer
hide=yes
onload=script7060(event_com)

// 1562:126
[buy_bonds_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_bonds_button_layer

// 1562:127
[buy_bonds_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buy_bonds_button_text_layer
textfont=cinzel_13pt_bold
text=Buy Bonds
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1562:128
[ge_bonds_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ge_bonds_button_layer
onload=script7041(event_com)

// 1562:129
[ge_bonds_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ge_bonds_button_layer
onload=script7042(event_com)

// 1562:130
[ge_bonds_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ge_bonds_button_layer
onload=script7044(event_com)

// 1562:131
[ge_bonds_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ge_bonds_button_layer
hide=yes
onload=script7047(event_com)

// 1562:132
[ge_bonds_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=ge_bonds_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1562:133
[ge_bonds_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ge_bonds_button_layer
hide=yes
onload=script7060(event_com)

// 1562:134
[ge_bonds_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ge_bonds_button_layer

// 1562:135
[ge_bonds_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ge_bonds_button_text_layer
textfont=cinzel_13pt_bold
text=GE Bonds
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1562:136
[confirm_bonds_to_runecoins_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_to_runecoins_button_layer
onload=script7041(event_com)

// 1562:137
[confirm_bonds_to_runecoins_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_to_runecoins_button_layer
onload=script7042(event_com)

// 1562:138
[confirm_bonds_to_runecoins_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_to_runecoins_button_layer
onload=script7044(event_com)

// 1562:139
[confirm_bonds_to_runecoins_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_to_runecoins_button_layer
hide=yes
onload=script7047(event_com)

// 1562:140
[confirm_bonds_to_runecoins_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_bonds_to_runecoins_button_layer
onload=script4213(event_com)

// 1562:141
[confirm_bonds_to_runecoins_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_to_runecoins_button_layer
hide=yes
onload=script7060(event_com)

// 1562:142
[confirm_bonds_to_runecoins_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_to_runecoins_button_layer

// 1562:143
[confirm_bonds_to_runecoins_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_bonds_to_runecoins_button_text_layer
textfont=cinzel_13pt_bold
text=Confirm
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1562:144
[bonds_to_runecoins_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_to_runecoins_button_layer
onload=script7041(event_com)

// 1562:145
[bonds_to_runecoins_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_to_runecoins_button_layer
onload=script7042(event_com)

// 1562:146
[bonds_to_runecoins_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_to_runecoins_button_layer
onload=script7044(event_com)

// 1562:147
[bonds_to_runecoins_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_to_runecoins_button_layer
hide=yes
onload=script7047(event_com)

// 1562:148
[bonds_to_runecoins_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bonds_to_runecoins_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script10806(3)
onmouserepeat=script8799("Redeem Bonds for RuneCoins", event_com, -1)

// 1562:149
[bonds_to_runecoins_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_to_runecoins_button_layer
hide=yes
onload=script7060(event_com)

// 1562:150
[bonds_to_runecoins_button_content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_to_runecoins_button_layer
onload=script11658(event_com)

// 1562:151
[bonds_to_runecoins_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonds_to_runecoins_button_content_layer
textfont=cinzel_13pt_bold
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1562:152
[response_continue_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_continue_button_layer
onload=script7041(event_com)

// 1562:153
[response_continue_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_continue_button_layer
onload=script7042(event_com)

// 1562:154
[response_continue_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_continue_button_layer
onload=script7044(event_com)

// 1562:155
[response_continue_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_continue_button_layer
hide=yes
onload=script7047(event_com)

// 1562:156
[response_continue_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=response_continue_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script11660(3, 2)

// 1562:157
[response_continue_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_continue_button_layer
hide=yes
onload=script7060(event_com)

// 1562:158
[response_continue_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_continue_button_layer

// 1562:159
[response_continue_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=response_continue_button_text_layer
textfont=cinzel_13pt_bold
text=Continue
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

