// 1844:0
[currency_buy_runecoins_button]
type=layer
layer=currency_content
hide=yes

// 1844:1
[currency_buy_keepsake_keys_button]
type=layer
layer=currency_content
hide=yes

// 1844:2
[currency_background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=currency_layer

// 1844:3
[currency_content]
type=layer
widthmode=minus
heightmode=minus
layer=currency_layer
onload=script13244(mtxmgt_store_banner_overlay:currency_content, mtxmgt_store_banner_overlay:currency_background)

// 1844:4
[currency_layer]
type=layer
widthmode=minus
heightmode=minus

