// 452:0
[myq3_painting]
type=layer
x=19
y=33
width=550
height=400
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content

// 452:1
[bespoke_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(myq3_statue_painting:bespoke_window_background, myq3_statue_painting:bespoke_window_border, myq3_statue_painting:bespoke_window_content, myq3_statue_painting:bespoke_window_close, "", 21259, string_1007)

// 452:2
[com_2]
type=model
width=863
height=542
xmode=abs_centre
ymode=abs_centre
layer=myq3_painting
model=myq3_interface_ghetto_wall
modelorigin_x=0
modelorigin_y=3
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=244

// 452:3
[myq3_frame]
type=model
x=184
y=12
width=176
height=364
layer=myq3_painting
model=if_myq3_painting_frame
modelorigin_x=0
modelorigin_y=181
modelangle_x=0
modelangle_y=507
modelangle_z=0
modelzoom=268

// 452:4
[myq3_statue]
type=model
x=199
y=32
width=145
height=275
layer=myq3_painting
model=area_sanguine_ghetto_myq3_fem_vamp_statue
modelorigin_x=0
modelorigin_y=137
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=455

// 452:5
[myq3_painting_key]
type=model
x=262
y=69
width=21
height=238
layer=myq3_painting
model=area_sanguine_ghetto_myq3_fem_vamp_statue_key
modelorigin_x=-1
modelorigin_y=118
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=455

// 452:6
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 452:7
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 452:8
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 452:9
[bespoke_window_close]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window
transmitop1=yes
op1=Close
onop=closebutton_click

