// 1130:0
[arrow_right]
type=graphic
width=39
height=39
layer=right
graphic="v2_book_arrows,4"
colour=0xffffff
clickmask=no

// 1130:1
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(myq5_letter:mainmodal_window_background, myq5_letter:mainmodal_window_border, myq5_letter:mainmodal_window_content, myq5_letter:mainmodal_window_close_button, "Letter", 21218, string_1007)

// 1130:2
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1130:3
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1130:4
[com_4]
type=graphic
width=496
height=293
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
graphic=rs3_parchment_scroll_background
colour=0xffffff
clickmask=no

// 1130:5
[subsection_title]
type=text
x=30
y=41
width=408
height=20
layer=mainmodal_window_content
textfont=quill_oblique_large
text=Safalaan Hallow,
colour=0x46320a

// 1130:6
[right]
type=layer
x=420
y=10
width=45
height=36
ymode=abs_bottom
layer=mainmodal_window_content
pausebutton=yes
pausetext=Turn over

// 1130:7
[text1]
type=text
x=30
y=87
width=430
height=73
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
text=I have desired to speak with you for so long. You may not know me, but I have been following you with great interest.
colour=0x46320a

// 1130:8
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1130:9
[text2]
type=text
x=30
y=147
width=430
height=68
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
text=I shall get straight to the point, for there is little time. I knew your parents, Safalaan. I was very close to them and to you as a child, centuries ago when this land was free. 
colour=0x46320a

// 1130:10
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
pausebutton=yes
pausetext=Close
onop=closebutton_click

// 1130:11
[text3]
type=text
x=30
y=222
width=430
height=69
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
text=I know you feel that you are different; that some part of your history is missing to you.
colour=0x46320a

