// 1676:0
[vial_layer]
type=layer
x=8
y=24
width=85
height=290
onload=script7059
onvartransmit=script7596
onvartransmitlist=myq6

// 1676:1
[vial_bg]
type=graphic
width=85
height=290
layer=vial_layer
graphic="aif_myreque5_blood_vile,1"
colour=0xffffff
clickmask=no

// 1676:2
[fill_layer]
type=layer
x=-2
y=18
width=493
height=1
ymode=abs_bottom
layer=vial_layer

// 1676:3
[vial_blood]
type=graphic
x=2
y=-18
width=85
height=287
ymode=abs_bottom
layer=fill_layer
graphic="aif_myreque5_blood_vile,0"
colour=0xffffff
clickmask=no

