// 76:0
[green_large_progress_layer]
type=layer
y=25
width=300
height=30
xmode=abs_centre

// 76:1
[com_1]
type=graphic
width=12
height=30
ymode=abs_centre
layer=green_large_progress_layer
graphic="aif_progress_bar_frame_2,0"
colour=0xffffff
clickmask=no

// 76:2
[com_2]
type=graphic
width=12
height=30
xmode=abs_right
ymode=abs_centre
layer=green_large_progress_layer
graphic="aif_progress_bar_frame_2,0"
hflip=yes
colour=0xffffff
clickmask=no

// 76:3
[com_3]
type=graphic
width=12
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_layer
graphic="aif_progress_bar_frame_2,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 76:4
[green_large_progress_value_bounds_layer]
type=layer
x=6
width=12
height=19
widthmode=minus
ymode=abs_centre
layer=green_large_progress_layer

// 76:5
[green_large_progress_value_layer]
type=layer
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=green_large_progress_value_bounds_layer

// 76:6
[com_6]
type=graphic
width=6
height=19
ymode=abs_centre
layer=green_large_progress_value_layer
graphic="aif_progress_bar_green_fill_2,0"
colour=0xffffff
clickmask=no

// 76:7
[com_7]
type=graphic
width=6
height=19
xmode=abs_right
ymode=abs_centre
layer=green_large_progress_value_layer
graphic="aif_progress_bar_green_fill_2,2"
colour=0xffffff
clickmask=no

// 76:8
[com_8]
type=graphic
width=12
height=19
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_value_layer
graphic="aif_progress_bar_green_fill_2,1"
tiling=yes
colour=0xffffff
clickmask=no

// 76:9
[green_large_progress_text_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_layer

// 76:10
[green_large_progress_text]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_text_layer
textfont=verdana_11pt_regular
text=0%
textalignh=1
textalignv=1
colour=0xd5d9d3
onload=script4210(event_com, museo_sans_11pt_regular, ^white, 0)

// 76:11
[title_layer]
type=layer
width=320
height=59
xmode=abs_centre
ontimer=script7985

// 76:12
[title]
type=text
width=16391
height=24
widthmode=proportion
xmode=abs_centre
layer=title_layer
textfont=museo_sans_11pt_regular
text=Barricade the windows!
textalignh=1
textalignv=1
textshadow=yes

