// 1225:0
[soul_attraction_layer]
type=layer
width=512
height=56
xmode=abs_centre
onload=script17763
onvartransmit=script17764
onvartransmitlist=necro_ritual_temp_4

// 1225:1
[soul_attraction]
type=layer
width=160
height=56
xmode=abs_centre
layer=soul_attraction_layer

// 1225:2
[soul_attraction_text]
type=text
height=24
widthmode=minus
xmode=abs_centre
layer=soul_attraction
noclickthrough=yes
textfont=notosans_14
text=Soul attraction: 0%
textalignh=1
textalignv=1
textshadow=yes

// 1225:3
[soul_attraction_low_graphic]
type=graphic
width=32
height=32
ymode=abs_bottom
layer=soul_attraction
noclickthrough=yes
graphic=ritual_icon_necromancy_soul_attraction_static_1
colour=0xffffff
clickmask=no

// 1225:4
[soul_attraction_medium_graphic]
type=graphic
x=32
width=32
height=32
ymode=abs_bottom
layer=soul_attraction
noclickthrough=yes
graphic=ritual_icon_necromancy_soul_attraction_static_2
colour=0xffffff
clickmask=no

// 1225:5
[soul_attraction_high_graphic]
type=graphic
x=64
width=32
height=32
ymode=abs_bottom
layer=soul_attraction
noclickthrough=yes
graphic=ritual_icon_necromancy_soul_attraction_static_3
colour=0xffffff
clickmask=no

// 1225:6
[soul_attraction_extreme_graphic]
type=graphic
x=32
width=32
height=32
xmode=abs_right
ymode=abs_bottom
layer=soul_attraction
noclickthrough=yes
graphic=ritual_icon_necromancy_soul_attraction_static_4
colour=0xffffff
clickmask=no

// 1225:7
[soul_attraction_dangerous_graphic]
type=graphic
width=32
height=32
xmode=abs_right
ymode=abs_bottom
layer=soul_attraction
noclickthrough=yes
graphic=ritual_icon_necromancy_soul_attraction_static_5
colour=0xffffff
clickmask=no

