// 1556:0
[shard_fishing]
type=layer
x=275
y=10
width=40
height=58
xmode=abs_right
layer=gatherers
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:1
[model_fishing]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_fishing
graphic=njcapes_shard_fishing
colour=0x3f3f3f
clickmask=no

// 1556:2
[skill_icon]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_fishing
graphic="staticons,14"
colour=0xffffff
clickmask=no

// 1556:3
[shard_woodcutting]
type=layer
x=230
y=10
width=40
height=58
xmode=abs_right
layer=gatherers
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:4
[model_woodcutting]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_woodcutting
graphic=njcapes_shard_woodcutting
colour=0x3f3f3f
clickmask=no

// 1556:5
[skill_1]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_woodcutting
graphic="staticons,17"
colour=0xffffff
clickmask=no

// 1556:6
[shard_mining]
type=layer
x=185
y=10
width=40
height=58
xmode=abs_right
layer=gatherers
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:7
[model_mining]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_mining
graphic=njcapes_shard_mining
colour=0x3f3f3f
clickmask=no

// 1556:8
[skill_2]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_mining
graphic="staticons,12"
colour=0xffffff
clickmask=no

// 1556:9
[shard_farming]
type=layer
x=140
y=10
width=40
height=58
xmode=abs_right
layer=gatherers
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:10
[model_farming]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_farming
graphic=njcapes_shard_farming
colour=0x3f3f3f
clickmask=no

// 1556:11
[skill_3]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_farming
graphic="staticons2,2"
colour=0xffffff
clickmask=no

// 1556:12
[shard_divination]
type=layer
x=95
y=10
width=40
height=58
xmode=abs_right
layer=gatherers
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:13
[model_divination]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_divination
graphic=njcapes_shard_divination
colour=0x3f3f3f
clickmask=no

// 1556:14
[skill_4]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_divination
graphic="staticons2,14"
colour=0xffffff
clickmask=no

// 1556:15
[shard_hunter]
type=layer
x=50
y=10
width=40
height=58
xmode=abs_right
layer=gatherers
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:16
[model_hunter]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_hunter
graphic=njcapes_shard_hunting
colour=0x3f3f3f
clickmask=no

// 1556:17
[skill_5]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_hunter
graphic="staticons2,5"
colour=0xffffff
clickmask=no

// 1556:18
[com_18]
type=rectangle
height=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=cape_unlocked
colour=0x000000
fill=yes
trans=150

// 1556:19
[text]
type=text
widthmode=minus
heightmode=minus
layer=cape_unlocked
textfont=cinzel_18pt_bold
text=Cape Unlocked
textalignh=1
textalignv=1
textshadow=yes

// 1556:20
[com_20]
type=rectangle
height=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=cape_unlocked_1
colour=0x000000
fill=yes
trans=150

// 1556:21
[text_1]
type=text
widthmode=minus
heightmode=minus
layer=cape_unlocked_1
textfont=cinzel_18pt_bold
text=Cape Unlocked
textalignh=1
textalignv=1
textshadow=yes

// 1556:22
[com_22]
type=rectangle
height=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=cape_unlocked_2
colour=0x000000
fill=yes
trans=150

// 1556:23
[text_2]
type=text
widthmode=minus
heightmode=minus
layer=cape_unlocked_2
textfont=cinzel_18pt_bold
text=Cape Unlocked
textalignh=1
textalignv=1
textshadow=yes

// 1556:24
[com_24]
type=rectangle
height=10
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=cape_unlocked_3
colour=0x000000
fill=yes
trans=150

// 1556:25
[text_3]
type=text
widthmode=minus
heightmode=minus
layer=cape_unlocked_3
textfont=cinzel_18pt_bold
text=Cape Unlocked
textalignh=1
textalignv=1
textshadow=yes

// 1556:26
[gatherers]
type=layer
height=221
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1556:27
[shard_archaeology]
type=layer
x=5
y=10
width=40
height=58
xmode=abs_right
layer=gatherers
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:28
[line]
type=layer
height=2
widthmode=minus
ymode=abs_bottom
layer=gatherers
onload=script349(event_com)

// 1556:29
[combat]
type=layer
y=73
height=221
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1556:30
[shard_attack]
type=layer
x=365
y=8
width=40
height=58
xmode=abs_right
layer=combat
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:31
[model_attack]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_attack
graphic=njcapes_shard_attack
colour=0x3f3f3f
clickmask=no

// 1556:32
[skill_6]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_attack
graphic="staticons,0"
colour=0xffffff
clickmask=no

// 1556:33
[shard_strength]
type=layer
x=320
y=8
width=40
height=58
xmode=abs_right
layer=combat
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:34
[model_strength]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_strength
graphic=njcapes_shard_strength
colour=0x3f3f3f
clickmask=no

// 1556:35
[skill_7]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_strength
graphic="staticons,1"
colour=0xffffff
clickmask=no

// 1556:36
[shard_defence]
type=layer
x=275
y=8
width=40
height=58
xmode=abs_right
layer=combat
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:37
[model_defence]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_defence
graphic=njcapes_shard_defence
colour=0x3f3f3f
clickmask=no

// 1556:38
[skill_8]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_defence
graphic="staticons,2"
colour=0xffffff
clickmask=no

// 1556:39
[shard_magic]
type=layer
x=230
y=8
width=40
height=58
xmode=abs_right
layer=combat
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:40
[model_magic]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_magic
graphic=njcapes_shard_magic
colour=0x3f3f3f
clickmask=no

// 1556:41
[skill_9]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_magic
graphic="staticons,5"
colour=0xffffff
clickmask=no

// 1556:42
[shard_ranged]
type=layer
x=185
y=8
width=40
height=58
xmode=abs_right
layer=combat
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:43
[model_ranged]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_ranged
graphic=njcapes_shard_ranged
colour=0x3f3f3f
clickmask=no

// 1556:44
[skill_10]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_ranged
graphic="staticons,3"
colour=0xffffff
clickmask=no

// 1556:45
[shard_constitution]
type=layer
x=140
y=8
width=40
height=58
xmode=abs_right
layer=combat
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:46
[model_constitution]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_constitution
graphic=njcapes_shard_constitution
colour=0x3f3f3f
clickmask=no

// 1556:47
[skill_11]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_constitution
graphic="staticons,6"
colour=0xffffff
clickmask=no

// 1556:48
[shard_prayer]
type=layer
x=95
y=8
width=40
height=58
xmode=abs_right
layer=combat
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:49
[model_prayer]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_prayer
graphic=njcapes_shard_prayer
colour=0x3f3f3f
clickmask=no

// 1556:50
[skill_12]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_prayer
graphic="staticons,4"
colour=0xffffff
clickmask=no

// 1556:51
[shard_summoning]
type=layer
x=50
y=8
width=40
height=58
xmode=abs_right
layer=combat
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:52
[model_summoning]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_summoning
graphic=njcapes_shard_summon
colour=0x3f3f3f
clickmask=no

// 1556:53
[skill_13]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_summoning
graphic="staticons2,7"
colour=0xffffff
clickmask=no

// 1556:54
[shard_necromancy]
type=layer
x=5
y=8
width=40
height=58
xmode=abs_right
layer=combat
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:55
[line_1]
type=layer
height=2
widthmode=minus
ymode=abs_bottom
layer=combat
onload=script349(event_com)

// 1556:56
[artisan]
type=layer
y=147
height=221
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1556:57
[shard_construction]
type=layer
x=320
y=8
width=40
height=58
xmode=abs_right
layer=artisan
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:58
[model_construction]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_construction
graphic=njcapes_shard_construction
colour=0x3f3f3f
clickmask=no

// 1556:59
[skill_14]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_construction
graphic="staticons2,6"
colour=0xffffff
clickmask=no

// 1556:60
[shard_smithing]
type=layer
x=275
y=8
width=40
height=58
xmode=abs_right
layer=artisan
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:61
[model_smithing]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_smithing
graphic=njcapes_shard_smithing
colour=0x3f3f3f
clickmask=no

// 1556:62
[skill_15]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_smithing
graphic="staticons,13"
colour=0xffffff
clickmask=no

// 1556:63
[shard_herblore]
type=layer
x=230
y=8
width=40
height=58
xmode=abs_right
layer=artisan
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:64
[model_herblore]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_herblore
graphic=njcapes_shard_herblore
colour=0x3f3f3f
clickmask=no

// 1556:65
[skill_16]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_herblore
graphic="staticons,8"
colour=0xffffff
clickmask=no

// 1556:66
[shard_crafting]
type=layer
x=185
y=8
width=40
height=58
xmode=abs_right
layer=artisan
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:67
[model_crafting]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_crafting
graphic=njcapes_shard_crafting
colour=0x3f3f3f
clickmask=no

// 1556:68
[skill_17]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_crafting
graphic="staticons,10"
colour=0xffffff
clickmask=no

// 1556:69
[shard_fletching]
type=layer
x=140
y=8
width=40
height=58
xmode=abs_right
layer=artisan
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:70
[model_fletching]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_fletching
graphic=njcapes_shard_fletching
colour=0x3f3f3f
clickmask=no

// 1556:71
[skill_18]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_fletching
graphic="staticons,11"
colour=0xffffff
clickmask=no

// 1556:72
[shard_runecrafting]
type=layer
x=95
y=8
width=40
height=58
xmode=abs_right
layer=artisan
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:73
[model_runecrafting]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_runecrafting
graphic=njcapes_shard_runecrafting
colour=0x3f3f3f
clickmask=no

// 1556:74
[skill_19]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_runecrafting
graphic="staticons2,0"
colour=0xffffff
clickmask=no

// 1556:75
[shard_cooking]
type=layer
x=50
y=8
width=40
height=58
xmode=abs_right
layer=artisan
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:76
[model_cooking]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_cooking
graphic=njcapes_shard_cooking
colour=0x3f3f3f
clickmask=no

// 1556:77
[skill_20]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_cooking
graphic="staticons,15"
colour=0xffffff
clickmask=no

// 1556:78
[shard_firemaking]
type=layer
x=5
y=8
width=40
height=58
xmode=abs_right
layer=artisan
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:79
[model_firemaking]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_firemaking
graphic=njcapes_shard_firemaking
colour=0x3f3f3f
clickmask=no

// 1556:80
[skill_21]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_firemaking
graphic="staticons,16"
colour=0xffffff
clickmask=no

// 1556:81
[line_2]
type=layer
height=2
widthmode=minus
ymode=abs_bottom
layer=artisan
onload=script349(event_com)

// 1556:82
[support]
type=layer
y=220
height=221
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1556:83
[cape_unlocked]
type=layer
height=71
widthmode=minus
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 1556:84
[cape_unlocked_1]
type=layer
y=73
height=71
widthmode=minus
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 1556:85
[cape_unlocked_2]
type=layer
y=147
height=71
widthmode=minus
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 1556:86
[shard_thieving]
type=layer
x=140
y=8
width=40
height=58
xmode=abs_right
layer=support
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:87
[cape_unlocked_3]
type=layer
y=220
height=71
widthmode=minus
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 1556:88
[title]
type=text
x=5
width=282
height=27
layer=mainmodal_window_content
textfont=cinzel_13pt_bold
text=Gatherer
textshadow=yes

// 1556:89
[title_1]
type=text
x=5
y=73
width=282
height=27
layer=mainmodal_window_content
textfont=cinzel_13pt_bold
text=Combat
textshadow=yes

// 1556:90
[title_2]
type=text
x=5
y=147
width=282
height=27
layer=mainmodal_window_content
textfont=cinzel_13pt_bold
text=Artisan
textshadow=yes

// 1556:91
[model_thieving]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_thieving
graphic=njcapes_shard_thieving
colour=0x3f3f3f
clickmask=no

// 1556:92
[title_3]
type=text
x=5
y=220
width=282
height=27
layer=mainmodal_window_content
textfont=cinzel_13pt_bold
text=Support
textshadow=yes

// 1556:93
[information_panel]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 1556:94
[skill_22]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_thieving
graphic="staticons,9"
colour=0xffffff
clickmask=no

// 1556:95
[shard_slayer]
type=layer
x=95
y=8
width=40
height=58
xmode=abs_right
layer=support
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:96
[model_slayer]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_slayer
graphic=njcapes_shard_slayer
colour=0x3f3f3f
clickmask=no

// 1556:97
[skill_23]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_slayer
graphic="staticons2,1"
colour=0xffffff
clickmask=no

// 1556:98
[shard_dungeoneering]
type=layer
x=50
y=8
width=40
height=58
xmode=abs_right
layer=support
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:99
[model_dungeoneering]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_dungeoneering
graphic=njcapes_shard_dungeoneering
colour=0x3f3f3f
clickmask=no

// 1556:100
[skill_24]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_dungeoneering
graphic="staticons2,13"
colour=0xffffff
clickmask=no

// 1556:101
[shard_agility]
type=layer
x=5
y=8
width=40
height=58
xmode=abs_right
layer=support
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script5711(event_com)
onmouserepeat=script10750(event_com)

// 1556:102
[model_agility]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_agility
graphic=njcapes_shard_agility
colour=0x3f3f3f
clickmask=no

// 1556:103
[skill_25]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_agility
graphic="staticons,7"
colour=0xffffff
clickmask=no

// 1556:104
[mainmodal_window]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
onload=script8420(njcapes_shard_bag:mainmodal_window_background, njcapes_shard_bag:mainmodal_window_border, njcapes_shard_bag:mainmodal_window_content, njcapes_shard_bag:mainmodal_window_close_button, "Shard bag", 21218, string_1007)

// 1556:105
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1556:106
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script2062

// 1556:107
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1556:108
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1556:109
[com_109]
type=rectangle
widthmode=minus
heightmode=minus
layer=information_panel
colour=0x000000
fill=yes
trans=128

// 1556:110
[information_frame]
type=layer
width=218
height=162
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=information_panel

// 1556:111
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=information_frame
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1556:112
[description_title]
type=text
height=30
widthmode=minus
layer=information_frame
textfont=cinzel_13pt_bold
text=Item level effects
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1556:113
[text_frame]
type=layer
y=30
width=20
height=70
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=information_frame

// 1556:114
[description]
type=text
widthmode=minus
heightmode=minus
layer=text_frame
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1556:115
[close_button]
type=layer
y=7
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=information_frame
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Close")
onop=script5710

// 1556:116
[model_archaeology]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_archaeology
graphic=njcapes_shard_archaeology
colour=0x3f3f3f
clickmask=no

// 1556:117
[skill_28]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_archaeology
graphic="skill_icon_archaeology_25px,0"
colour=0xffffff
clickmask=no

// 1556:118
[model_necromancy]
type=graphic
width=22
height=48
xmode=abs_centre
layer=shard_necromancy
graphic=njcapes_shard_necromancy
colour=0x3f3f3f
clickmask=no

// 1556:119
[skill_29]
type=graphic
width=22
height=22
ymode=abs_bottom
layer=shard_necromancy
graphic="skill_icon_necromancy_25px,0"
colour=0xffffff
clickmask=no

