// 1417:0
[content]
type=layer
height=32
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=wrapper

// 1417:1
[fixed_layer]
type=layer
height=33
widthmode=minus
ymode=abs_bottom
layer=wrapper

// 1417:2
[separator]
type=layer
height=2
widthmode=minus
layer=fixed_layer
onload=script11741(event_com)

// 1417:3
[wrapper]
type=layer
widthmode=minus
heightmode=minus

// 1417:4
[bg]
type=rectangle
widthmode=minus
heightmode=minus
layer=content
colour=0x000000
fill=yes
trans=150
transmitop10=yes
op10= 

// 1417:5
[loading_mes]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content
hide=yes
textfont=museo_sans_13pt_regular
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10= 

// 1417:6
[drag]
type=layer
x=4
width=24
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=content

// 1417:7
[scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=content

// 1417:8
[noclick]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=content
hide=yes
noclickthrough=yes

// 1417:9
[main]
type=layer
widthmode=minus
heightmode=minus
layer=drag
onload=notes_init(1417)

// 1417:10
[dragger]
type=rectangle
y=5
height=14
widthmode=minus
layer=drag
hide=yes
colour=0xffff00
fill=yes
trans=200

// 1417:11
[bottom]
type=layer
height=32
widthmode=minus
ymode=abs_bottom
layer=drag
hide=yes
candrop=yes

// 1417:12
[selected]
type=rectangle
y=5
height=14
widthmode=minus
layer=main
hide=yes
colour=0xffff00
fill=yes
trans=200
transmitop10=yes
op10= 

// 1417:13
[button_layer]
type=layer
height=9
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=fixed_layer
onload=child_buttons_init(event_com, 11)

