// 849:0
[bespoke_window]
type=layer
width=124
height=74
xmode=abs_centre
onload=script11033(npc_spawner_wave_overlay:bespoke_window_background, npc_spawner_wave_overlay:bespoke_window_border, npc_spawner_wave_overlay:bespoke_window_content, null, "", 21259, struct_1005, string_33700)

// 849:1
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 849:2
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 849:3
[wave_text]
type=text
x=10
y=3
width=55
height=24
layer=bespoke_window_content
textfont=museo_sans_17pt_bold
text=Wave:
textshadow=yes
onvartransmit=script2779

// 849:4
[wave_numbers]
type=text
x=76
y=3
width=34
height=24
layer=bespoke_window_content
textfont=museo_sans_17pt_bold
text=X/Y
textshadow=yes
onload=script2779
onvartransmit=script2779

// 849:5
[start_encounter_button]
type=layer
x=8
y=36
width=100
height=27
layer=bespoke_window_content
transmitop1=yes
op1=Start
onload=script13968(event_com, null, rs3tli_positive_button, "Start")

// 849:6
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

