// 1189:0
[background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 1189:1
[border]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(objbox_v2:background, objbox_v2:border, null, null, "", 23001, string_1006)

// 1189:2
[layer_1]
type=layer
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 1189:3
[objbox_text]
type=text
x=100
y=25
width=111
height=55
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=layer_1
textfont=notosans_12
text=You have just been handed this item!
textlineheight=14
textalignh=1
textalignv=1
colour=0x000000

// 1189:4
[single_obj_box]
type=layer
y=3
width=124
height=130
ymode=abs_centre
layer=layer_1

// 1189:5
[obj_background]
type=graphic
x=-15
y=14
width=128
height=128
layer=single_obj_box
graphic=rs3_ui_dialogue_inventory_ring_single
colour=0xffffff
clickmask=no

// 1189:6
[objbox_graphic_layer]
type=layer
x=17
y=46
width=64
height=64
layer=single_obj_box
noclickthrough=yes

// 1189:7
[objbox_graphic]
type=model
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=objbox_graphic_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400

// 1189:8
[graphic_box]
type=graphic
x=33
y=62
width=32
height=32
layer=single_obj_box
colour=0xffffff
clickmask=no

// 1189:9
[object_bounding]
type=layer
x=17
y=46
width=64
height=64
layer=single_obj_box

// 1189:10
[double_obj_box]
type=layer
y=3
width=125
height=130
ymode=abs_centre
layer=layer_1
hide=yes

// 1189:11
[doubleobj_background]
type=graphic
x=-15
y=-13
width=128
height=128
ymode=abs_bottom
layer=double_obj_box
noclickthrough=yes
graphic=rs3_ui_dialogue_inventory_ring_multiple
colour=0xffffff
clickmask=no

// 1189:12
[doubleobjbox_graphic_1]
type=model
x=12
y=38
width=64
height=64
layer=double_obj_box
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400

// 1189:13
[doubleobj_graphic_1]
type=graphic
x=18
y=55
width=32
height=32
layer=double_obj_box
colour=0xffffff
clickmask=no

// 1189:14
[doubleobjbox_graphic_2]
type=model
x=25
y=55
width=64
height=64
layer=double_obj_box
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400

// 1189:15
[doubleobj_graphic_2]
type=graphic
x=51
y=72
width=32
height=32
layer=double_obj_box
colour=0xffffff
clickmask=no

// 1189:16
[click_continue_button]
type=layer
width=80
height=20
xmode=abs_centre
ymode=abs_bottom
layer=layer_1
pausebutton=yes

// 1189:17
[click_continue_button_on]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 1)

// 1189:18
[click_continue_button_over]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 2)

// 1189:19
[click_continue_button_hit]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 3)

// 1189:20
[click_continue]
type=layer
widthmode=minus
heightmode=minus
layer=layer_1
pausebutton=yes
pausetext=Continue
onload=script5584(objbox_v2:click_continue_button, event_com)

