// 1179:0
[mainmodal_window]
type=layer
width=400
height=230
xmode=abs_centre
ymode=abs_centre
onload=script8420(object_choice:mainmodal_window_background, object_choice:mainmodal_window_border, object_choice:mainmodal_window_content, object_choice:mainmodal_window_close_button, "Choose a tool", 21218, string_1007)

// 1179:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1179:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script5527

// 1179:3
[title]
type=text
y=3
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes

// 1179:4
[menu_border]
type=layer
y=30
width=8
height=34
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 1179:5
[left]
type=graphic
width=32
height=32
ymode=abs_centre
layer=menu_border
graphic="rs3_icon_direction_left_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_icon_arrow_left)

// 1179:6
[right]
type=graphic
width=32
height=32
xmode=abs_right
ymode=abs_centre
layer=menu_border
graphic="rs3_icon_direction_right_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_icon_arrow_right)

// 1179:7
[item_layer]
type=layer
width=60
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=menu_border
onvarctransmit=script6945
onvarctransmitlist=object_choice_1,object_choice_2,object_choice_3,object_choice_4,object_choice_5,object_choice_6,object_choice_7,object_choice_8,object_choice_9

// 1179:8
[menu]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item_layer

// 1179:9
[button_1]
type=layer
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:10
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
layer=button_1
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:11
[button_title_1]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_1
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:12
[button_graphics_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_1
pausebutton=yes

// 1179:13
[button_xp_info_1]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_1

// 1179:14
[button_2]
type=layer
x=38
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:15
[content_panel_blue_1]
type=layer
widthmode=minus
heightmode=minus
layer=button_2
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:16
[button_title_2]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_2
textfont=museo_sans_11pt_regular_multiline
textshadow=yes

// 1179:17
[button_graphics_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_2
pausebutton=yes

// 1179:18
[button_xp_info_2]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_2

// 1179:19
[button_3]
type=layer
x=70
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:20
[content_panel_blue_2]
type=layer
widthmode=minus
heightmode=minus
layer=button_3
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:21
[button_title_3]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_3
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:22
[button_graphics_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_3
pausebutton=yes

// 1179:23
[button_xp_info_3]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_3

// 1179:24
[button_4]
type=layer
x=61
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:25
[content_panel_blue_3]
type=layer
widthmode=minus
heightmode=minus
layer=button_4
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:26
[button_title_4]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_4
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:27
[button_graphics_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_4
pausebutton=yes

// 1179:28
[button_xp_info_4]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_4

// 1179:29
[button_5]
type=layer
x=50
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:30
[content_panel_blue_4]
type=layer
widthmode=minus
heightmode=minus
layer=button_5
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:31
[button_title_5]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_5
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:32
[button_graphics_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_5
pausebutton=yes

// 1179:33
[button_xp_info_5]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_5

// 1179:34
[button_6]
type=layer
x=64
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:35
[content_panel_blue_5]
type=layer
widthmode=minus
heightmode=minus
layer=button_6
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:36
[button_title_6]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_6
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:37
[button_graphics_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_6
pausebutton=yes

// 1179:38
[button_xp_info_6]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_6

// 1179:39
[button_7]
type=layer
x=9
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:40
[content_panel_blue_6]
type=layer
widthmode=minus
heightmode=minus
layer=button_7
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:41
[button_title_7]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_7
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:42
[button_graphics_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_7
pausebutton=yes

// 1179:43
[button_xp_info_7]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_7

// 1179:44
[button_8]
type=layer
x=81
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:45
[content_panel_blue_7]
type=layer
widthmode=minus
heightmode=minus
layer=button_8
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:46
[button_title_8]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_8
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:47
[button_graphics_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_8
pausebutton=yes

// 1179:48
[button_xp_info_8]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_8

// 1179:49
[button_9]
type=layer
x=75
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:50
[content_panel_blue_8]
type=layer
widthmode=minus
heightmode=minus
layer=button_9
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:51
[button_title_9]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_9
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:52
[button_graphics_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_9
pausebutton=yes

// 1179:53
[button_xp_info_9]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_9

// 1179:54
[button_10]
type=layer
x=32
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:55
[content_panel_blue_9]
type=layer
widthmode=minus
heightmode=minus
layer=button_10
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:56
[button_title_10]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_10
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:57
[button_graphics_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_10
pausebutton=yes

// 1179:58
[button_xp_info_10]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_10

// 1179:59
[button_11]
type=layer
x=54
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:60
[content_panel_blue_10]
type=layer
widthmode=minus
heightmode=minus
layer=button_11
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:61
[button_title_11]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_11
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:62
[button_graphics_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_11
pausebutton=yes

// 1179:63
[button_xp_info_11]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_11

// 1179:64
[button_12]
type=layer
x=106
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:65
[content_panel_blue_11]
type=layer
widthmode=minus
heightmode=minus
layer=button_12
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:66
[button_title_12]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_12
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:67
[button_graphics_12]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_12
pausebutton=yes

// 1179:68
[button_xp_info_12]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_12

// 1179:69
[button_13]
type=layer
x=3
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:70
[content_panel_blue_12]
type=layer
widthmode=minus
heightmode=minus
layer=button_13
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:71
[button_title_13]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_13
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:72
[button_graphics_13]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_13
pausebutton=yes

// 1179:73
[button_xp_info_13]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_13

// 1179:74
[button_14]
type=layer
x=9
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:75
[content_panel_blue_13]
type=layer
widthmode=minus
heightmode=minus
layer=button_14
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:76
[button_title_14]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_14
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:77
[button_graphics_14]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_14
pausebutton=yes

// 1179:78
[button_xp_info_14]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_14

// 1179:79
[button_15]
type=layer
x=9
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:80
[content_panel_blue_14]
type=layer
widthmode=minus
heightmode=minus
layer=button_15
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:81
[button_title_15]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_15
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:82
[button_graphics_15]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_15
pausebutton=yes

// 1179:83
[button_xp_info_15]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_15

// 1179:84
[button_16]
type=layer
x=9
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:85
[content_panel_blue_15]
type=layer
widthmode=minus
heightmode=minus
layer=button_16
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:86
[button_title_16]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_16
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:87
[button_graphics_16]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_16
pausebutton=yes

// 1179:88
[button_xp_info_16]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_16

// 1179:89
[button_17]
type=layer
x=9
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:90
[content_panel_blue_16]
type=layer
widthmode=minus
heightmode=minus
layer=button_17
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:91
[button_title_17]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_17
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:92
[button_graphics_17]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_17
pausebutton=yes

// 1179:93
[button_xp_info_17]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_17

// 1179:94
[button_18]
type=layer
x=9
width=84
height=16391
heightmode=proportion
layer=menu
hide=yes

// 1179:95
[content_panel_blue_17]
type=layer
widthmode=minus
heightmode=minus
layer=button_18
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1179:96
[button_title_18]
type=text
width=16384
height=20
widthmode=proportion
xmode=abs_centre
layer=button_18
textfont=museo_sans_11pt_regular
textshadow=yes

// 1179:97
[button_graphics_18]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=button_18
pausebutton=yes

// 1179:98
[button_xp_info_18]
type=layer
width=16391
height=87
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=button_18

// 1179:99
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1179:100
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

