// 1360:0
[text_layer]
type=layer
width=465
heightmode=minus
layer=content_layer

// 1360:1
[scrollbar_layer]
type=layer
x=4
width=16
heightmode=minus
xmode=abs_right
layer=content_layer

// 1360:2
[tooltip_layer]
type=layer
x=25
y=25
width=75
height=50
widthmode=minus
heightmode=minus
layer=content_layer

// 1360:3
[gold_window_layer]
type=layer
widthmode=minus
heightmode=minus

// 1360:4
[gold_window_background_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_layer
onload=script4260(event_com)

// 1360:5
[content_layer]
type=layer
x=12
y=74
width=489
height=250
layer=gold_window_layer
onload=script6866
onvartransmit=script6866
onstattransmit=script6866
onvartransmitlist=oct_event_varp
onstattransmitlist=prayer

// 1360:6
[title_layer]
type=layer
x=12
y=33
width=489
height=40
layer=gold_window_layer

// 1360:7
[gold_window_frame_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_layer
onload=script4261(event_com)

// 1360:8
[gold_window_title_layer]
type=layer
y=4
width=8
height=23
widthmode=minus
xmode=abs_centre
layer=gold_window_layer

// 1360:9
[gold_window_title_text]
type=text
width=16391
height=4
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_title_layer
textfont=palatino_linotype_18pt_regular
text=Choose a person
textalignh=1
textalignv=1
colour=0xebe0bc
onload=script4262(event_com)

// 1360:10
[com_10]
type=text
x=320
width=130
height=40
layer=title_layer
textfont=palatino_linotype_18pt_regular
text=Requirements
textalignh=1
textalignv=1
textshadow=yes

// 1360:11
[com_11]
type=text
x=120
width=200
heightmode=minus
layer=title_layer
textfont=palatino_linotype_18pt_regular
text=Summary
textalignh=1
textalignv=1
textshadow=yes

// 1360:12
[com_12]
type=text
width=120
heightmode=minus
layer=title_layer
textfont=palatino_linotype_18pt_regular
text=Name
textalignh=1
textalignv=1
textshadow=yes

// 1360:13
[gold_window_close_button_layer]
type=layer
x=9
y=9
width=16
height=15
xmode=abs_right
layer=gold_window_layer
onload=script4256(event_com)

// 1360:14
[gold_window_close_button_on_graphic]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_close_button_layer
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onload=script4257(event_com)

// 1360:15
[gold_window_close_button_over_graphic]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_close_button_layer
colour=0xffffff
clickmask=no
onload=script4258(event_com)

