// 254:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(olaf2_treasuremap:mainmodal_window_background, olaf2_treasuremap:mainmodal_window_border, olaf2_treasuremap:mainmodal_window_content, olaf2_treasuremap:mainmodal_window_close_button, "Treasure Map", 21218, string_1007)

// 254:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 254:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 254:3
[olaf2_treasuremap]
type=model
x=-1
y=-1
width=315
height=273
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
model=olaf2_hintmap
modelorigin_x=-5
modelorigin_y=-5
modelangle_x=459
modelangle_y=2041
modelangle_z=0
modelzoom=1000

// 254:4
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 254:5
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

