// 445:0
[mestext]
type=text
widthmode=minus
heightmode=minus
layer=content
textfont=q8_full
textalignh=1
textalignv=1
colour=0x000000

// 445:1
[mesnext]
type=text
x=-129
y=3
width=252
height=17
xmode=abs_centre
ymode=abs_bottom
layer=content
textfont=q8_full
text=Click here to cancel
textalignh=1
colour=0x0000ff
pausebutton=yes
onmouseover=text_colour_swapper(event_com, 16777215)
onmouseleave=text_colour_swapper(event_com, 255)

// 445:2
[open]
type=text
x=123
y=3
width=252
height=17
xmode=abs_centre
ymode=abs_bottom
layer=content
textfont=q8_full
text=Visit the Website
textalignh=1
colour=0x0000ff
pausebutton=yes
onmouseover=text_colour_swapper(event_com, 16777215)
onmouseleave=text_colour_swapper(event_com, 255)

// 445:3
[all]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 445:4
[background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=all

// 445:5
[content]
type=layer
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=all

// 445:6
[border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=all
onload=script8420(openurl:background, openurl:border, null, null, "", 23001, string_1006)

