// 68:0
[aif_bronze_button_text]
type=text
width=8
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=aif_bronze_button_text_layer
textfont=verdana_13pt_regular
text=Claim All
textalignh=1
textalignv=1
colour=0xe1e1e1
onload=script4259(event_com)

// 68:1
[com_1]
type=rectangle
x=22
y=49
width=468
height=259
layer=info_box_container
colour=0x000000
fill=yes
trans=80

// 68:2
[shop_layer]
type=layer
y=3
width=2
height=259
widthmode=minus
layer=gold_window_content_layer

// 68:3
[gold_window_layer]
type=layer
x=10
y=13
width=493
height=307

// 68:4
[reward_torso_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=reward_torso_placementlayer
graphic=aif_olympics_reward_shop_unlock_silver_icon
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script8799("A cosmetic override for your torso.", event_com, event_comsubid)

// 68:5
[reward_boots_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=reward_boots_placementlayer
graphic=aif_olympics_reward_shop_unlock_silver_icon
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script8799("A cosmetic override for your feet.", event_com, event_comsubid)

// 68:6
[reward_legs_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=reward_legs_placementlayer
graphic=aif_olympics_reward_shop_unlock_silver_icon
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script8799("A cosmetic override for your legs.", event_com, event_comsubid)

// 68:7
[reward_head_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=reward_head_placementlayer
graphic=aif_olympics_reward_shop_unlock_silver_icon
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script8799("A cosmetic override for your head.", event_com, event_comsubid)

// 68:8
[reward_torso]
type=layer
x=43
y=12
width=170
height=69
layer=shop_content
onload=script811(1)
onvartransmit=script811(1)
onvartransmitlist=owen1_main3

// 68:9
[reward_legs]
type=layer
x=43
y=94
width=170
height=69
layer=shop_content
onload=script811(2)
onvartransmit=script811(2)
onvartransmitlist=owen1_main3

// 68:10
[reward_boots]
type=layer
x=43
y=177
width=170
height=69
layer=shop_content
onload=script811(4)
onvartransmit=script811(4)
onvartransmitlist=owen1_main3

// 68:11
[reward_head]
type=layer
x=43
y=12
width=170
height=69
xmode=abs_right
layer=shop_content
onload=script811(3)
onvartransmit=script811(3)
onvartransmitlist=owen1_main3

// 68:12
[reward_hands]
type=layer
x=43
y=94
width=170
height=69
xmode=abs_right
layer=shop_content
onload=script811(5)
onvartransmit=script811(5)
onvartransmitlist=owen1_main3

// 68:13
[shop_content]
type=layer
widthmode=minus
heightmode=minus
layer=shop_layer

// 68:14
[claim_all_button_layer]
type=layer
x=275
y=200
width=126
height=24
layer=shop_content

// 68:15
[reward_torso_background]
type=graphic
width=170
height=62
layer=reward_torso
graphic="aif_shop_buttons_1,0"
colour=0xffffff
clickmask=no

// 68:16
[reward_torso_buy]
type=graphic
x=74
y=47
width=90
height=23
layer=reward_torso
graphic="aif_buy_button_group_3,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Claim
onmouseover=graphic_swapper(event_com, "aif_buy_button_group_3,3")
onmouseleave=graphic_swapper(event_com, "aif_buy_button_group_3,0")
onrelease=graphic_swapper(event_com, "aif_buy_button_group_3,0")
onhold=graphic_swapper(event_com, "aif_buy_button_group_3,6")

// 68:17
[reward_torso_name]
type=text
x=60
y=11
width=98
height=40
layer=reward_torso
textfont=p11_full
text=Cuirass
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78

// 68:18
[reward_torso_price]
type=text
x=77
y=51
width=84
height=17
layer=reward_torso
textfont=p11_full
text=Claim
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78

// 68:19
[reward_torso_info_layer]
type=layer
width=26
height=26
xmode=abs_right
layer=reward_torso
transmitop1=yes
op1=Get-info
onmouseover=graphic_swapper(owen1_reward_shop:reward_torso_info_graphic, "aif_info_1,1")
onmouseleave=graphic_swapper(owen1_reward_shop:reward_torso_info_graphic, "aif_info_1,0")
onclick=graphic_swapper(owen1_reward_shop:reward_torso_info_graphic, "aif_info_1,2")
onrelease=graphic_swapper(owen1_reward_shop:reward_torso_info_graphic, "aif_info_1,1")

// 68:20
[reward_torso_placementlayer]
type=layer
x=7
y=7
width=50
height=50
layer=reward_torso

// 68:21
[reward_legs_background]
type=graphic
width=170
height=62
layer=reward_legs
graphic="aif_shop_buttons_1,0"
colour=0xffffff
clickmask=no

// 68:22
[reward_legs_buy]
type=graphic
x=74
y=47
width=90
height=23
layer=reward_legs
graphic="aif_buy_button_group_3,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Claim
onmouseover=graphic_swapper(event_com, "aif_buy_button_group_3,3")
onmouseleave=graphic_swapper(event_com, "aif_buy_button_group_3,0")
onrelease=graphic_swapper(event_com, "aif_buy_button_group_3,0")
onhold=graphic_swapper(event_com, "aif_buy_button_group_3,6")

// 68:23
[reward_legs_name]
type=text
x=60
y=11
width=98
height=40
layer=reward_legs
textfont=p11_full
text=Greaves
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78

// 68:24
[reward_legs_price]
type=text
x=77
y=51
width=84
height=17
layer=reward_legs
textfont=p11_full
text=Claim
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78

// 68:25
[reward_legs_info_layer]
type=layer
width=26
height=26
xmode=abs_right
layer=reward_legs
transmitop1=yes
op1=Get-info
onmouseover=graphic_swapper(owen1_reward_shop:reward_legs_info_graphic, "aif_info_1,1")
onmouseleave=graphic_swapper(owen1_reward_shop:reward_legs_info_graphic, "aif_info_1,0")
onclick=graphic_swapper(owen1_reward_shop:reward_legs_info_graphic, "aif_info_1,2")
onrelease=graphic_swapper(owen1_reward_shop:reward_legs_info_graphic, "aif_info_1,1")

// 68:26
[reward_legs_placementlayer]
type=layer
x=7
y=7
width=50
height=50
layer=reward_legs

// 68:27
[reward_head_background]
type=graphic
width=170
height=62
layer=reward_head
graphic="aif_shop_buttons_1,0"
colour=0xffffff
clickmask=no

// 68:28
[reward_head_buy]
type=graphic
x=74
y=47
width=90
height=23
layer=reward_head
graphic="aif_buy_button_group_3,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Claim
onmouseover=graphic_swapper(event_com, "aif_buy_button_group_3,3")
onmouseleave=graphic_swapper(event_com, "aif_buy_button_group_3,0")
onrelease=graphic_swapper(event_com, "aif_buy_button_group_3,0")
onhold=graphic_swapper(event_com, "aif_buy_button_group_3,6")

// 68:29
[reward_head_name]
type=text
x=60
y=11
width=98
height=40
layer=reward_head
textfont=p11_full
text=Helm
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78

// 68:30
[reward_head_price]
type=text
x=77
y=51
width=84
height=17
layer=reward_head
textfont=p11_full
text=Claim
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78

// 68:31
[reward_head_info_layer]
type=layer
width=26
height=26
xmode=abs_right
layer=reward_head
transmitop1=yes
op1=Get-info
onmouseover=graphic_swapper(owen1_reward_shop:reward_head_info_graphic, "aif_info_1,1")
onmouseleave=graphic_swapper(owen1_reward_shop:reward_head_info_graphic, "aif_info_1,0")
onclick=graphic_swapper(owen1_reward_shop:reward_head_info_graphic, "aif_info_1,2")
onrelease=graphic_swapper(owen1_reward_shop:reward_head_info_graphic, "aif_info_1,1")

// 68:32
[reward_head_placementlayer]
type=layer
x=7
y=7
width=50
height=50
layer=reward_head

// 68:33
[reward_hands_background]
type=graphic
width=170
height=62
layer=reward_hands
graphic="aif_shop_buttons_1,0"
colour=0xffffff
clickmask=no

// 68:34
[reward_hands_buy]
type=graphic
x=74
y=47
width=90
height=23
layer=reward_hands
graphic="aif_buy_button_group_3,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Claim
onmouseover=graphic_swapper(event_com, "aif_buy_button_group_3,3")
onmouseleave=graphic_swapper(event_com, "aif_buy_button_group_3,0")
onrelease=graphic_swapper(event_com, "aif_buy_button_group_3,0")
onhold=graphic_swapper(event_com, "aif_buy_button_group_3,6")

// 68:35
[reward_hands_name]
type=text
x=60
y=11
width=98
height=40
layer=reward_hands
textfont=p11_full
text=Gauntlets
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78

// 68:36
[reward_hands_price]
type=text
x=77
y=51
width=84
height=17
layer=reward_hands
textfont=p11_full
text=Claim
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78

// 68:37
[reward_hands_info_layer]
type=layer
width=26
height=26
xmode=abs_right
layer=reward_hands
transmitop1=yes
op1=Get-info
onmouseover=graphic_swapper(owen1_reward_shop:reward_hands_info_graphic, "aif_info_1,1")
onmouseleave=graphic_swapper(owen1_reward_shop:reward_hands_info_graphic, "aif_info_1,0")
onclick=graphic_swapper(owen1_reward_shop:reward_hands_info_graphic, "aif_info_1,2")
onrelease=graphic_swapper(owen1_reward_shop:reward_hands_info_graphic, "aif_info_1,1")

// 68:38
[reward_hands_placementlayer]
type=layer
x=7
y=7
width=50
height=50
layer=reward_hands

// 68:39
[tooltip_bounds]
type=layer
width=512
height=334

// 68:40
[info_box_container]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
hide=yes
noclickthrough=yes

// 68:41
[reward_boots_background]
type=graphic
width=170
height=62
layer=reward_boots
graphic="aif_shop_buttons_1,0"
colour=0xffffff
clickmask=no

// 68:42
[reward_boots_buy]
type=graphic
x=74
y=47
width=90
height=23
layer=reward_boots
graphic="aif_buy_button_group_3,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Claim
onmouseover=graphic_swapper(event_com, "aif_buy_button_group_3,3")
onmouseleave=graphic_swapper(event_com, "aif_buy_button_group_3,0")
onrelease=graphic_swapper(event_com, "aif_buy_button_group_3,0")
onhold=graphic_swapper(event_com, "aif_buy_button_group_3,6")

// 68:43
[reward_boots_name]
type=text
x=60
y=11
width=98
height=40
layer=reward_boots
textfont=p11_full
text=Boots
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78

// 68:44
[reward_boots_price]
type=text
x=77
y=51
width=84
height=17
layer=reward_boots
textfont=p11_full
text=Claim
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78

// 68:45
[reward_boots_info_layer]
type=layer
width=26
height=26
xmode=abs_right
layer=reward_boots
transmitop1=yes
op1=Get-info
onmouseover=graphic_swapper(owen1_reward_shop:reward_boots_info_graphic, "aif_info_1,1")
onmouseleave=graphic_swapper(owen1_reward_shop:reward_boots_info_graphic, "aif_info_1,0")
onclick=graphic_swapper(owen1_reward_shop:reward_boots_info_graphic, "aif_info_1,2")
onrelease=graphic_swapper(owen1_reward_shop:reward_boots_info_graphic, "aif_info_1,1")

// 68:46
[reward_boots_placementlayer]
type=layer
x=7
y=7
width=50
height=50
layer=reward_boots

// 68:47
[reward_hands_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=reward_hands_placementlayer
graphic=aif_olympics_reward_shop_unlock_silver_icon
colour=0xffffff
clickmask=no
onmouseleave=script8805
onmouserepeat=script8799("A cosmetic override for your hands.", event_com, event_comsubid)

// 68:48
[info_box]
type=layer
width=344
height=180
xmode=abs_centre
ymode=abs_centre
layer=info_box_container

// 68:49
[info_box_background]
type=layer
width=16343
height=15357
widthmode=proportion
heightmode=proportion
layer=info_box

// 68:50
[com_50]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=info_box_background
graphic=aif_window_texture_5
colour=0xffffff
clickmask=no

// 68:51
[com_51]
type=graphic
width=16384
height=27
widthmode=proportion
xmode=abs_centre
layer=info_box_background
graphic=aif_fill_flourish_3
tiling=yes
colour=0xffffff
clickmask=no

// 68:52
[com_52]
type=graphic
width=16384
height=27
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=info_box_background
graphic=aif_fill_flourish_3
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 68:53
[com_53]
type=graphic
width=16384
height=7
widthmode=proportion
xmode=abs_centre
layer=info_box_background
graphic=aif_fill_flourish_1
colour=0xffffff
clickmask=no

// 68:54
[com_54]
type=graphic
width=16384
height=7
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=info_box_background
graphic=aif_fill_flourish_1
vflip=yes
colour=0xffffff
clickmask=no

// 68:55
[com_55]
type=graphic
width=7
height=16384
heightmode=proportion
ymode=abs_centre
layer=info_box_background
graphic=aif_fill_flourish_2
hflip=yes
colour=0xffffff
clickmask=no

// 68:56
[com_56]
type=graphic
width=7
height=16384
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=info_box_background
graphic=aif_fill_flourish_2
colour=0xffffff
clickmask=no

// 68:57
[com_57]
type=graphic
width=38
height=38
xmode=abs_right
layer=info_box_background
graphic=aif_corner_flourish_1
colour=0xffffff
clickmask=no

// 68:58
[com_58]
type=graphic
width=38
height=38
xmode=abs_right
ymode=abs_bottom
layer=info_box_background
graphic=aif_corner_flourish_1
vflip=yes
colour=0xffffff
clickmask=no

// 68:59
[com_59]
type=graphic
width=38
height=38
ymode=abs_bottom
layer=info_box_background
graphic=aif_corner_flourish_1
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 68:60
[com_60]
type=graphic
width=38
height=38
layer=info_box_background
graphic=aif_corner_flourish_1
hflip=yes
colour=0xffffff
clickmask=no

// 68:61
[info_box_button]
type=layer
y=-3
width=100
height=36
xmode=abs_centre
ymode=abs_bottom
layer=info_box
transmitop1=yes
op1=Confirm
onmouseover=script1046
onmouseleave=script1048

// 68:62
[info_box_ok_left]
type=graphic
x=11
y=2
width=8
height=40
ymode=abs_centre
layer=info_box_button
graphic="aif_pop_green_button,0"
colour=0xffffff
clickmask=no

// 68:63
[info_box_ok_right]
type=graphic
x=11
y=2
width=8
height=40
xmode=abs_right
ymode=abs_centre
layer=info_box_button
graphic="aif_pop_green_button,2"
colour=0xffffff
clickmask=no

// 68:64
[info_box_ok_mid]
type=graphic
y=2
width=62
height=40
xmode=abs_centre
ymode=abs_centre
layer=info_box_button
graphic="aif_pop_green_button,1"
colour=0xffffff
clickmask=no

// 68:65
[com_65]
type=graphic
y=-6
width=13
height=12
ymode=abs_centre
layer=info_box_button
graphic=aif_pop_button_decoration
colour=0xffffff
clickmask=no

// 68:66
[com_66]
type=graphic
y=6
width=13
height=12
ymode=abs_centre
layer=info_box_button
graphic=aif_pop_button_decoration
vflip=yes
colour=0xffffff
clickmask=no

// 68:67
[com_67]
type=graphic
y=-6
width=13
height=12
xmode=abs_right
ymode=abs_centre
layer=info_box_button
graphic=aif_pop_button_decoration
hflip=yes
colour=0xffffff
clickmask=no

// 68:68
[com_68]
type=graphic
y=6
width=13
height=12
xmode=abs_right
ymode=abs_centre
layer=info_box_button
graphic=aif_pop_button_decoration
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 68:69
[com_69]
type=text
width=16391
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=info_box_button
textfont=p11_full
text=Ok
textalignh=1
textalignv=1
textshadow=yes

// 68:70
[info_box_details]
type=layer
y=-6
width=40
height=60
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_box

// 68:71
[info_box_text]
type=text
width=8
height=13
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_box_details
textfont=p11_full
text=Are you sure you want to claim this reward?
textalignh=1
textalignv=1
textshadow=yes

// 68:72
[aif_bronze_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
layer=claim_all_button_layer
onload=script4201(event_com, aif_bronze_button_on)

// 68:73
[aif_bronze_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
layer=claim_all_button_layer
onload=script4201(event_com, aif_bronze_button_over)

// 68:74
[aif_bronze_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
layer=claim_all_button_layer
onload=script4201(event_com, aif_bronze_button_hit)

// 68:75
[aif_bronze_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
layer=claim_all_button_layer
onload=script4201(event_com, aif_bronze_button_selected)

// 68:76
[claim_all_button]
type=layer
widthmode=minus
heightmode=minus
layer=claim_all_button_layer
transmitop1=yes
op1=Claim All
onload=script4213(event_com)

// 68:77
[aif_bronze_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
layer=claim_all_button_layer
hide=yes
noclickthrough=yes
onload=script4201(event_com, aif_bronze_button_disabled)

// 68:78
[aif_bronze_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=claim_all_button_layer

// 68:79
[gold_window_background_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_layer
onload=script4260(event_com)

// 68:80
[gold_window_content_layer]
type=layer
x=12
y=33
width=23
height=43
widthmode=minus
heightmode=minus
layer=gold_window_layer

// 68:81
[gold_window_frame_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_layer
onload=script4261(event_com)

// 68:82
[gold_window_title_layer]
type=layer
y=4
width=8
height=23
widthmode=minus
xmode=abs_centre
layer=gold_window_layer

// 68:83
[gold_window_title_text]
type=text
y=2
width=16391
height=4
widthmode=proportion
heightmode=minus
xmode=abs_centre
layer=gold_window_title_layer
textfont=palatino_linotype_18pt_regular
text=Templar Armour
textalignh=1
textalignv=1
colour=0xebe0bc
onload=script4262(event_com)

// 68:84
[gold_window_close_button_layer]
type=layer
x=9
y=9
width=16
height=15
xmode=abs_right
layer=gold_window_layer
onload=script4256(event_com)

// 68:85
[gold_window_close_button_on_graphic]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_close_button_layer
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onload=script4257(event_com)

// 68:86
[gold_window_close_button_over_graphic]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_close_button_layer
colour=0xffffff
clickmask=no
onload=script4258(event_com)

// 68:87
[reward_torso_info_graphic]
type=graphic
x=4
y=4
width=10719
height=10719
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=reward_torso_info_layer
graphic="aif_info_1,0"
colour=0xffffff
clickmask=no

// 68:88
[reward_legs_info_graphic]
type=graphic
x=4
y=4
width=10719
height=10719
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=reward_legs_info_layer
graphic="aif_info_1,0"
colour=0xffffff
clickmask=no

// 68:89
[reward_boots_info_graphic]
type=graphic
x=4
y=4
width=10719
height=10719
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=reward_boots_info_layer
graphic="aif_info_1,0"
colour=0xffffff
clickmask=no

// 68:90
[reward_head_info_graphic]
type=graphic
x=4
y=4
width=10719
height=10719
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=reward_head_info_layer
graphic="aif_info_1,0"
colour=0xffffff
clickmask=no

// 68:91
[reward_hands_info_graphic]
type=graphic
x=4
y=4
width=10719
height=10719
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=reward_hands_info_layer
graphic="aif_info_1,0"
colour=0xffffff
clickmask=no

