// 1354:0
[com_0]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=cover
colour=0x000000
fill=yes
trans=200

// 1354:1
[cover]
type=layer
width=27420
height=33361
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
hide=yes

// 1354:2
[sundial_face]
type=graphic
width=292
height=292
xmode=abs_centre
ymode=abs_centre
layer=background_layer
graphic=aif_ozan_sundial
colour=0xffffff
clickmask=no

// 1354:3
[button_01_a]
type=layer
x=-26
y=-134
width=47
height=28
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:4
[button_02_b]
type=layer
x=-72
y=-120
width=45
height=33
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:5
[button_03_c]
type=layer
x=-114
y=-79
width=47
height=49
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:6
[button_04_d]
type=layer
x=-135
y=-27
width=25
height=55
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:7
[button_05_e]
type=layer
x=-136
y=24
width=21
height=49
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:8
[button_06_f]
type=layer
x=-117
y=71
width=35
height=46
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:9
[button_07_h]
type=layer
x=-81
y=109
width=53
height=41
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:10
[button_08_i]
type=layer
x=-29
y=134
width=53
height=26
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:11
[button_09_k]
type=layer
x=25
y=134
width=48
height=21
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:12
[button_10_l]
type=layer
x=73
y=117
width=50
height=35
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:13
[button_11_m]
type=layer
x=111
y=78
width=43
height=51
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:14
[button_12_n]
type=layer
x=134
y=28
width=24
height=50
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:15
[button_13_p]
type=layer
x=134
y=-26
width=19
height=50
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:16
[button_14_r]
type=layer
x=116
y=-72
width=35
height=46
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:17
[button_15_s]
type=layer
x=80
y=-113
width=53
height=38
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:18
[button_16_t]
type=layer
x=28
y=-133
width=54
height=25
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
transmitop1=yes
op1=Rotate-gnomon
onmouseover=script6844(event_com)
onmouseleave=script6846(event_com)
onop=script6848(event_com)

// 1354:19
[button_01]
type=graphic
x=-26
y=-134
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_15,0"
colour=0xffffff
clickmask=no

// 1354:20
[button_02]
type=graphic
x=-72
y=-117
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_14,0"
colour=0xffffff
clickmask=no

// 1354:21
[button_03]
type=graphic
x=-110
y=-80
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_13,0"
colour=0xffffff
clickmask=no

// 1354:22
[button_04]
type=graphic
x=-132
y=-29
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_12,0"
colour=0xffffff
clickmask=no

// 1354:23
[button_05]
type=graphic
x=-134
y=25
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_11,0"
colour=0xffffff
clickmask=no

// 1354:24
[button_06]
type=graphic
x=-117
y=71
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_10,0"
colour=0xffffff
clickmask=no

// 1354:25
[button_07]
type=graphic
x=-81
y=110
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_09,0"
colour=0xffffff
clickmask=no

// 1354:26
[button_08]
type=graphic
x=-29
y=132
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_08,0"
colour=0xffffff
clickmask=no

// 1354:27
[button_09]
type=graphic
x=25
y=134
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_07,0"
colour=0xffffff
clickmask=no

// 1354:28
[button_10]
type=graphic
x=72
y=116
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_06,0"
colour=0xffffff
clickmask=no

// 1354:29
[button_11]
type=graphic
x=110
y=80
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_05,0"
colour=0xffffff
clickmask=no

// 1354:30
[button_12]
type=graphic
x=133
y=29
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_04,0"
colour=0xffffff
clickmask=no

// 1354:31
[button_13]
type=graphic
x=134
y=-26
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_03,0"
colour=0xffffff
clickmask=no

// 1354:32
[button_14]
type=graphic
x=117
y=-72
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_02,0"
colour=0xffffff
clickmask=no

// 1354:33
[button_15]
type=graphic
x=80
y=-110
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_01,0"
colour=0xffffff
clickmask=no

// 1354:34
[button_16]
type=graphic
x=28
y=-133
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic="aif_ozan_button_16,0"
colour=0xffffff
clickmask=no

// 1354:35
[gnomon]
type=graphic
width=18
height=282
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer
graphic=aif_ozan_gnomon_2a
2dangle=32768
colour=0xffffff
clickmask=no

// 1354:36
[close_button_layer]
type=layer
x=130
y=-130
width=16
height=15
xmode=abs_centre
ymode=abs_centre
layer=interactive_layer

// 1354:37
[background_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
onload=script6842

// 1354:38
[apmeken]
type=graphic
x=-52
y=72
width=84
height=84
xmode=abs_centre
ymode=abs_centre
layer=background_layer
hide=yes
graphic=aif_ozan_apmeken
colour=0xffffff
clickmask=no

// 1354:39
[crondis]
type=graphic
x=47
y=76
width=84
height=84
xmode=abs_centre
ymode=abs_centre
layer=background_layer
hide=yes
graphic=aif_ozan_crondis
colour=0xffffff
clickmask=no

// 1354:40
[het]
type=graphic
x=-87
y=-17
width=84
height=84
xmode=abs_centre
ymode=abs_centre
layer=background_layer
hide=yes
graphic=aif_ozan_het
colour=0xffffff
clickmask=no

// 1354:41
[scabaras]
type=graphic
x=90
y=-17
width=84
height=84
xmode=abs_centre
ymode=abs_centre
layer=background_layer
hide=yes
graphic=aif_ozan_scabaras
colour=0xffffff
clickmask=no

// 1354:42
[interactive_layer]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre

// 1354:43
[window_1_close_button]
type=graphic
width=16
height=15
xmode=abs_centre
ymode=abs_centre
layer=close_button_layer
graphic="aif_bronze_close_button_1,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onop=closebutton_click

// 1354:44
[window_1_close_button_over]
type=graphic
width=16
height=15
xmode=abs_centre
ymode=abs_centre
layer=close_button_layer
graphic="aif_bronze_close_button_1,1"
trans=255
colour=0xffffff
clickmask=no
onmouseover=script4209(event_com, 0)
onmouseleave=script4209(event_com, 1)

// 1354:45
[window_1_close_button_hit]
type=graphic
width=16
height=15
xmode=abs_centre
ymode=abs_centre
layer=close_button_layer
graphic="aif_bronze_close_button_1,2"
trans=255
colour=0xffffff
clickmask=no
onclick=script4207(event_com, 0)
onrelease=script4207(event_com, 1)

