// 264:0
[toad_gun_left]
type=text
x=377
y=225
width=35
height=58
layer=container
textfont=p12_full
textshadow=yes
colour=0xffff00
transmitop1=yes
op1=Left

// 264:1
[toad_gun_right]
type=text
x=471
y=224
width=35
height=58
layer=container
textfont=p12_full
textshadow=yes
colour=0xffff00
transmitop1=yes
op1=Right

// 264:2
[toad_gun_up]
type=text
x=410
y=192
width=63
height=45
layer=container
textfont=p12_full
textshadow=yes
colour=0xffff00
transmitop1=yes
op1=Up

// 264:3
[toad_gun_down]
type=text
x=412
y=270
width=61
height=45
layer=container
textfont=p12_full
textshadow=yes
colour=0xffff00
transmitop1=yes
op1=Down

// 264:4
[toad_gun_fire]
type=text
x=426
y=240
width=30
height=30
layer=container
textfont=p12_full
textshadow=yes
colour=0xffff00
transmitop1=yes
op1=Fire
opcursor0=cursor_crafting

// 264:5
[toad_gun_fire_alt]
type=layer
x=20
y=20
width=100
height=27
ymode=abs_bottom
layer=container
transmitop1=yes
op1=Fire
opcursor0=cursor_crafting
onload=script13968(event_com, null, rs3tli_positive_button, "Fire!")

// 264:6
[com_6]
type=rectangle
x=15
y=18
width=72
height=64
layer=container
colour=0x0f251a09
fill=yes

// 264:7
[colourbit]
type=rectangle
x=20
y=23
width=62
height=54
layer=container
colour=0x0f926c1a
fill=yes

// 264:8
[toad_gun_loaded]
type=model
x=26
y=32
width=50
height=38
layer=container
model=ogre_area_npc_chompy_toad
modelorigin_x=0
modelorigin_y=-1
modelangle_x=221
modelangle_y=0
modelangle_z=0
modelzoom=928
modelanim=paint_frog_travel
onload=script1123(event_com)
onvartransmit=script1123(event_com)
onvartransmitlist=mourning_quest_bits

// 264:9
[close_button]
type=graphic
width=66
height=36
xmode=abs_right
layer=container
graphic=btn_close_deafult
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Close
op10=         
onmouseover=graphic_swapper(event_com, btn_close_over)
onmouseleave=graphic_swapper(event_com, btn_close_deafult)

// 264:10
[clickout_blocker]
type=layer
widthmode=minus
heightmode=minus
noclickthrough=yes

// 264:11
[bg_left]
type=rectangle
heightmode=minus
layer=clickout_blocker
colour=0x000000
fill=yes

// 264:12
[bg_right]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_right
layer=clickout_blocker
colour=0x000000
fill=yes

// 264:13
[bg_top]
type=rectangle
widthmode=minus
xmode=abs_centre
layer=clickout_blocker
colour=0x000000
fill=yes

// 264:14
[bg_bot]
type=rectangle
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=clickout_blocker
colour=0x000000
fill=yes

// 264:15
[target_background]
type=model
width=1079
height=1050
xmode=abs_centre
ymode=abs_centre
model=if_paintball_aim
modelorigin_x=43
modelorigin_y=-1
modelangle_x=520
modelangle_y=504
modelangle_z=0
modelzoom=117

// 264:16
[container]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre

