// 1829:0
[window]
type=layer
width=300
height=334
xmode=abs_centre
ymode=abs_centre
onload=script8420(peng_bttf_mastermind:background, peng_bttf_mastermind:border, peng_bttf_mastermind:content, peng_bttf_mastermind:close_button, "Battery Control Station", 21218, string_1007)

// 1829:1
[background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=window

// 1829:2
[content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=window
onload=script13076

// 1829:3
[reset_button_layer]
type=layer
x=5
y=5
width=125
height=24
xmode=abs_right
layer=content

// 1829:4
[check_button_layer]
type=layer
x=5
y=5
width=125
height=24
xmode=abs_right
ymode=abs_bottom
layer=content

// 1829:5
[hints]
type=layer
y=25
width=145
height=55
heightmode=minus
xmode=abs_right
layer=content

// 1829:6
[selection]
type=layer
x=30
y=5
width=35
height=25
widthmode=minus
ymode=abs_bottom
layer=content

// 1829:7
[board]
type=layer
x=30
y=25
width=175
height=239
widthmode=minus
layer=content

// 1829:8
[row_index]
type=layer
y=25
width=30
height=234
layer=content

// 1829:9
[com_9]
type=text
y=6
width=30
height=20
ymode=abs_bottom
layer=row_index
textfont=museo_sans_11pt_regular
text=1: 
textalignh=2
textalignv=2
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1829:10
[com_10]
type=text
y=29
width=30
height=20
ymode=abs_bottom
layer=row_index
textfont=museo_sans_11pt_regular
text=2: 
textalignh=2
textalignv=2
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1829:11
[com_11]
type=text
y=52
width=30
height=20
ymode=abs_bottom
layer=row_index
textfont=museo_sans_11pt_regular
text=3: 
textalignh=2
textalignv=2
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1829:12
[com_12]
type=text
y=75
width=30
height=20
ymode=abs_bottom
layer=row_index
textfont=museo_sans_11pt_regular
text=4: 
textalignh=2
textalignv=2
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1829:13
[com_13]
type=text
y=98
width=30
height=20
ymode=abs_bottom
layer=row_index
textfont=museo_sans_11pt_regular
text=5: 
textalignh=2
textalignv=2
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1829:14
[com_14]
type=text
y=121
width=30
height=20
ymode=abs_bottom
layer=row_index
textfont=museo_sans_11pt_regular
text=6: 
textalignh=2
textalignv=2
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1829:15
[com_15]
type=text
y=144
width=30
height=20
ymode=abs_bottom
layer=row_index
textfont=museo_sans_11pt_regular
text=7: 
textalignh=2
textalignv=2
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1829:16
[com_16]
type=text
y=167
width=30
height=20
ymode=abs_bottom
layer=row_index
textfont=museo_sans_11pt_regular
text=8: 
textalignh=2
textalignv=2
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1829:17
[com_17]
type=text
y=190
width=30
height=20
ymode=abs_bottom
layer=row_index
textfont=museo_sans_11pt_regular
text=9: 
textalignh=2
textalignv=2
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1829:18
[com_18]
type=text
y=213
width=30
height=20
ymode=abs_bottom
layer=row_index
textfont=museo_sans_11pt_regular
text=10: 
textalignh=2
textalignv=2
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1829:19
[answer]
type=layer
x=30
y=5
width=175
height=25
widthmode=minus
layer=content

// 1829:20
[border]
type=layer
widthmode=minus
heightmode=minus
layer=window

// 1829:21
[help_button_layer]
type=layer
x=25
y=5
width=16
height=16
xmode=abs_right
layer=window
noclickthrough=yes

// 1829:22
[close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1829:23
[check_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=check_button_layer
onload=script7699(event_com)

// 1829:24
[check_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=check_button_layer
onload=script7728(event_com)

// 1829:25
[check_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=check_button_layer
onload=script7729(event_com)

// 1829:26
[check_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=check_button_layer
hide=yes
onload=script8225(event_com)

// 1829:27
[check_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=check_button_layer
transmitop1=yes
op1=Check Answer
onload=script4213(event_com)

// 1829:28
[check_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=check_button_layer
hide=yes
onload=script8228(event_com)

// 1829:29
[check_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=check_button_layer

// 1829:30
[check_button_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=check_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Check Answer
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1829:31
[reset_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_layer
onload=script7699(event_com)

// 1829:32
[reset_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_layer
onload=script7728(event_com)

// 1829:33
[reset_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_layer
onload=script7729(event_com)

// 1829:34
[reset_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_layer
hide=yes
onload=script8225(event_com)

// 1829:35
[reset_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reset_button_layer
transmitop1=yes
op1=Check Answer
onload=script4213(event_com)

// 1829:36
[reset_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_layer
hide=yes
onload=script8228(event_com)

// 1829:37
[reset_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_layer

// 1829:38
[reset_button_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Reset
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1829:39
[help_button]
type=graphic
width=16
height=16
xmode=abs_right
layer=help_button_layer
graphic="rs3_btn_custom_modal,3"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Help
onmouseover=graphic_swapper(event_com, "rs3_btn_custom_modal,4")
onmouseleave=graphic_swapper(event_com, "rs3_btn_custom_modal,3")

