// 1324:0
[modal_dialog_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(peng_pow_bfish_setup:modal_dialog_window_background, peng_pow_bfish_setup:modal_dialog_window_border, peng_pow_bfish_setup:modal_dialog_window_content, peng_pow_bfish_setup:modal_dialog_window_close_button, "Game Setup", 21217, string_1007)

// 1324:1
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1324:2
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1324:3
[freddie]
type=graphic
x=377
y=36
width=115
height=211
layer=modal_dialog_window_content
graphic=aif_penguin_freddy_cutout
colour=0xffffff
clickmask=no

// 1324:4
[instruction_text]
type=text
width=300
height=46
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular
text=Choose the starting position of your fleet by dragging and dropping them onto a square.
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 2)

// 1324:5
[accept]
type=layer
x=10
y=10
width=101
height=27
xmode=abs_right
ymode=abs_bottom
layer=modal_dialog_window_content
onload=script13968(peng_pow_bfish_setup:accept_build, peng_pow_bfish_setup:accept_button, rs3tli_positive_button, "Accept")

// 1324:6
[reset]
type=layer
x=140
y=10
width=101
height=27
xmode=abs_right
ymode=abs_bottom
layer=modal_dialog_window_content
onload=script13968(peng_pow_bfish_setup:reset_build, peng_pow_bfish_setup:reset_button, rs3tli_neutral_button, "Reset")

// 1324:7
[drag_zone]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window_content
onload=script6605(event_com)

// 1324:8
[rotate_layer]
type=layer
x=-8
y=-40
width=512
height=334
layer=modal_dialog_window_content

// 1324:9
[info_layer]
type=layer
x=-8
y=-40
width=65520
height=65488
widthmode=minus
heightmode=minus
layer=modal_dialog_window_content
hide=yes
noclickthrough=yes
transmitop1=yes
op1=Close

// 1324:10
[com_10]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_layer
colour=0x0a0000
fill=yes
trans=101

// 1324:11
[info_layer_gfx]
type=graphic
width=321
height=46
xmode=abs_centre
ymode=abs_centre
layer=info_layer
graphic=aif_penguin_message_popup
colour=0xffffff
clickmask=no

// 1324:12
[board]
type=graphic
x=19
y=50
width=226
height=225
layer=drag_zone
graphic=aif_penguin_setup_grid
colour=0xffffff
clickmask=no

// 1324:13
[board_dummy]
type=layer
x=33
y=63
width=211
height=211
layer=drag_zone

// 1324:14
[rot_arrow_south]
type=graphic
x=140
y=83
width=75
height=75
xmode=abs_centre
layer=rotate_layer
graphic="aif_penguin_rotate_button_right,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Rotate
opcursor0=cursor_acc_create_hover_small
onmouseover=graphic_swapper(event_com, "aif_penguin_rotate_button_right,1")
onmouseleave=graphic_swapper(event_com, "aif_penguin_rotate_button_right,0")
onop=script6610(2)
onclick=graphic_swapper(event_com, "aif_penguin_rotate_button_right,2")

// 1324:15
[rot_arrow_east]
type=graphic
x=140
y=83
width=75
height=75
xmode=abs_centre
layer=rotate_layer
hide=yes
graphic="aif_penguin_rotate_button_left,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Rotate
opcursor0=cursor_acc_create_hover_small
onmouseover=graphic_swapper(event_com, "aif_penguin_rotate_button_left,1")
onmouseleave=graphic_swapper(event_com, "aif_penguin_rotate_button_left,0")
onop=script6610(1)
onclick=graphic_swapper(event_com, "aif_penguin_rotate_button_left,2")

// 1324:16
[gamepiece_corral]
type=layer
x=255
y=50
width=170
height=183
layer=drag_zone
candrop=yes

// 1324:17
[highlight]
type=rectangle
x=34
y=34
width=32
height=32
layer=drag_zone
hide=yes
colour=0xffffff

// 1324:18
[info_layer_txt]
type=text
x=153
y=155
width=200
height=22
layer=info_layer
textfont=p11_full
text=Test warning.
textalignh=1
textalignv=1
textshadow=yes

// 1324:19
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 1324:20
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1324:21
[accept_build]
type=layer
widthmode=minus
heightmode=minus
layer=accept

// 1324:22
[accept_button]
type=layer
widthmode=minus
heightmode=minus
layer=accept
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1324:23
[reset_build]
type=layer
widthmode=minus
heightmode=minus
layer=reset

// 1324:24
[reset_button]
type=layer
widthmode=minus
heightmode=minus
layer=reset
transmitop1=yes
op1=Select
opcursor0=cursor_use

