// 765:0
[background]
type=model
x=-26
y=18
width=440
height=306
layer=bespoke_window_content
model=peng_rak_panel_backing
modelorthog=yes
modelorigin_x=17
modelorigin_y=152
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=566
onvarctransmit=script2419
onvarctransmitlist=peng_rak_eng_state

// 765:1
[bounding]
type=layer
y=-7
width=512
height=334
layer=bespoke_window_content
onload=script2414
onvarctransmit=script2415
onvarctransmitlist=peng_rak_eng_tools

// 765:2
[tools_bg]
type=layer
x=5
y=20
width=125
height=30
heightmode=minus
xmode=abs_right
layer=bounding
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 765:3
[bespoke_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(peng_rak_engine:bespoke_window_background, peng_rak_engine:bespoke_window_border, peng_rak_engine:bespoke_window_content, peng_rak_engine:bespoke_window_close, "", 21259, string_1007)

// 765:4
[normal_tools]
type=layer
x=-6
y=2
width=512
height=334
layer=bounding

// 765:5
[fish_tools]
type=layer
x=-3
width=512
height=334
layer=bounding
hide=yes

// 765:6
[wirebox]
type=model
x=19
y=68
width=143
height=231
layer=bounding
model=peng_rak_panel_wires
modelorigin_x=-1
modelorigin_y=-6
modelangle_x=2
modelangle_y=2008
modelangle_z=0
modelzoom=433
transmitop1=yes
opbase=Wirebox
op1=Inspect
onmouserepeat=script8799("Wirebox", event_com, event_comsubid)
onvarctransmit=script2416(event_com)
onvarctransmitlist=peng_rak_eng_tools

// 765:7
[bellows_demo]
type=model
x=151
y=221
width=52
height=95
layer=bounding
hide=yes
model=peng_rak_panel_belows_dark
modelorigin_x=0
modelorigin_y=5
modelangle_x=2008
modelangle_y=142
modelangle_z=0
modelzoom=348
transmitop1=yes
transmitop10=yes
opbase=Bellows
op1=Pump
op10=    
onmouserepeat=script8799("Bellows", event_com, event_comsubid)

// 765:8
[blowfish_demo]
type=model
x=162
y=232
width=38
height=45
layer=bounding
hide=yes
model=peng_rak_panel_puffer
modelorigin_x=-14
modelorigin_y=-15
modelangle_x=318
modelangle_y=648
modelangle_z=1359
modelzoom=544
transmitop1=yes
transmitop10=yes
opbase=Pufferfish
op1=Pump
op10=  
onmouserepeat=script8799("Pufferfish", event_com, event_comsubid)

// 765:9
[pipes]
type=model
x=167
y=102
width=39
height=146
layer=bounding
model=peng_rak_panel_pipe
modelorigin_x=-9
modelorigin_y=-8
modelangle_x=39
modelangle_y=2016
modelangle_z=2042
modelzoom=604
transmitop1=yes
opbase=Pipe
op1=Inspect
onmouserepeat=script8799("Pipe", event_com, event_comsubid)
onvarctransmit=script2417(event_com)
onvarctransmitlist=peng_rak_eng_tools

// 765:10
[valve_wheel]
type=model
x=202
y=164
width=109
height=102
layer=bounding
model=peng_rak_panel_wheel
modelorigin_x=2
modelorigin_y=4
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=509
transmitop1=yes
opbase=Valve wheel
op1=Turn
onmouserepeat=script8799("Valve wheel", event_com, event_comsubid)

// 765:11
[gauge]
type=model
x=210
y=53
width=138
height=107
layer=bounding
model=peng_rak_panel_dial
modelorigin_x=0
modelorigin_y=4
modelangle_x=2042
modelangle_y=20
modelangle_z=0
modelzoom=478
transmitop1=yes
transmitop10=yes
opbase=Pressure guage
op1=Read
op10= 
opcursor0=cursor_read
onmouserepeat=script8799("Pressure gauge", event_com, event_comsubid)

// 765:12
[wirebox_cover]
type=model
x=15
y=69
width=143
height=196
layer=bounding
model=peng_rak_panel_wires_cover
modelorigin_x=4
modelorigin_y=10
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
transmitop1=yes
opbase=Wirebox Cover
op1=Open
opcursor0=cursor_open

// 765:13
[wrench]
type=model
x=396
y=74
width=23
height=103
layer=normal_tools
model=peng_rak_panel_wrench_dark
modelorigin_x=0
modelorigin_y=-9
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=348
transmitop1=yes
transmitop10=yes
opbase=Wrench
op1=Select
op10=  
opcursor0=cursor_use
onop=model_swapper(event_com, peng_rak_panel_wrench)
onmouserepeat=script8799("Wrench", event_com, event_comsubid)

// 765:14
[sparewire]
type=model
x=478
y=80
width=25
height=77
layer=normal_tools
model=peng_rak_panel_spare_wire_dark
modelorigin_x=-1
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=348
transmitop1=yes
transmitop10=yes
opbase=Wire
op1=Select
op10=  
opcursor0=cursor_use
onop=model_swapper(event_com, peng_rak_panel_spare_wire)
onmouserepeat=script8799("Wire", event_com, event_comsubid)

// 765:15
[wirecutter]
type=model
x=436
y=60
width=31
height=108
layer=normal_tools
model=peng_rak_panel_wire_cutters_dark
modelorigin_x=1
modelorigin_y=-11
modelangle_x=0
modelangle_y=3
modelangle_z=0
modelzoom=348
transmitop1=yes
transmitop10=yes
opbase=Wire cutter
op1=Select
op10=  
opcursor0=cursor_use
onop=model_swapper(event_com, peng_rak_panel_wire_cutters)
onmouserepeat=script8799("Wire cutter", event_com, event_comsubid)

// 765:16
[tape]
type=model
x=394
y=205
width=41
height=33
layer=normal_tools
model=peng_rak_panel_tape_dark
modelorigin_x=-3
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=476
transmitop1=yes
transmitop10=yes
opbase=Tape
op1=Select
op10=   
opcursor0=cursor_use
onop=model_swapper(event_com, peng_rak_panel_tape)
onmouserepeat=script8799("Tape", event_com, event_comsubid)

// 765:17
[bellows]
type=model
x=446
y=190
width=49
height=100
layer=normal_tools
model=peng_rak_panel_belows_dark
modelorigin_x=1
modelorigin_y=3
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=348
transmitop1=yes
transmitop10=yes
opbase=Bellows
op1=Select
op10=   
opcursor0=cursor_use
onop=model_swapper(event_com, peng_rak_panel_belows)
onmouserepeat=script8799("Bellows", event_com, event_comsubid)

// 765:18
[lever_down]
type=model
x=317
y=162
width=64
height=130
layer=normal_tools
hide=yes
model=peng_rak_panel_lever_down
modelorigin_x=-9
modelorigin_y=-2
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=544
transmitop1=yes
transmitop10=yes
opbase=Lever
op1=Push
op10= 
opcursor0=cursor_push
onmouserepeat=script8799("Lever", event_com, event_comsubid)

// 765:19
[lever_up]
type=model
x=317
y=162
width=64
height=130
layer=normal_tools
model=peng_rak_panel_lever_up
modelorigin_x=-9
modelorigin_y=-2
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=544
transmitop1=yes
opbase=Lever
op1=Pull
onmouserepeat=script8799("Lever", event_com, event_comsubid)

// 765:20
[swordfish]
type=model
x=390
y=40
width=42
height=99
layer=fish_tools
model=peng_rak_panel_swordfish_dark
modelorigin_x=-3
modelorigin_y=3
modelangle_x=2044
modelangle_y=6
modelangle_z=0
modelzoom=544
transmitop1=yes
opbase=Swordfish
op1=Select
opcursor0=cursor_use
onop=model_swapper(event_com, peng_rak_panel_swordfish)
onmouserepeat=script8799("Swordfish", event_com, event_comsubid)

// 765:21
[crab]
type=model
x=432
y=37
width=31
height=66
layer=fish_tools
model=peng_rak_panel_crab_dark
modelorigin_x=3
modelorigin_y=-3
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=544
transmitop1=yes
transmitop10=yes
opbase=Crab claw
op1=Select
op10= 
opcursor0=cursor_use
onop=model_swapper(event_com, peng_rak_panel_crab)
onmouserepeat=script8799("Crab claw", event_com, event_comsubid)

// 765:22
[sharktooth]
type=model
x=462
y=89
width=39
height=36
layer=fish_tools
model=peng_rak_panel_tooth_dark
modelorigin_x=1
modelorigin_y=3
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=672
transmitop1=yes
transmitop10=yes
opbase=Shark tooth
op1=Select
op10= 
opcursor0=cursor_use
onop=model_swapper(event_com, peng_rak_panel_tooth)
onmouserepeat=script8799("Shark tooth", event_com, event_comsubid)

// 765:23
[eel]
type=model
x=470
y=136
width=29
height=91
layer=fish_tools
model=peng_rak_panel_eel_dark
modelorigin_x=0
modelorigin_y=-1
modelangle_x=0
modelangle_y=0
modelangle_z=1558
modelzoom=450
transmitop1=yes
transmitop10=yes
opbase=Eel
op1=Select
op10= 
opcursor0=cursor_use
onop=model_swapper(event_com, peng_rak_panel_eel)
onmouserepeat=script8799("Electric eel", event_com, event_comsubid)

// 765:24
[seaweed]
type=model
x=391
y=141
width=65
height=103
layer=fish_tools
model=peng_rak_panel_seaweed_dark
modelorigin_x=3
modelorigin_y=2
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=544
transmitop1=yes
transmitop10=yes
opbase=Seaweed
op1=Select
op10= 
opcursor0=cursor_use
onop=model_swapper(event_com, peng_rak_panel_seaweed)
onmouserepeat=script8799("Seaweed", event_com, event_comsubid)

// 765:25
[blowfish]
type=model
x=455
y=247
width=47
height=50
layer=fish_tools
model=peng_rak_panel_puffer_dark
modelorigin_x=0
modelorigin_y=21
modelangle_x=113
modelangle_y=0
modelangle_z=0
modelzoom=416
transmitop1=yes
transmitop10=yes
opbase=Pufferfish
op1=Select
op10= 
opcursor0=cursor_use
onop=model_swapper(event_com, peng_rak_panel_puffer)
onmouserepeat=script8799("Pufferfish", event_com, event_comsubid)

// 765:26
[octopus]
type=model
x=400
y=252
width=58
height=52
layer=fish_tools
model=peng_rak_panel_octopuss_dark
modelorigin_x=-2
modelorigin_y=-9
modelangle_x=25
modelangle_y=1945
modelangle_z=0
modelzoom=544
transmitop1=yes
transmitop10=yes
opbase=Octopus
op1=Select
op10= 
opcursor0=cursor_use
onop=model_swapper(event_com, peng_rak_panel_octopuss)
onmouserepeat=script8799("Octopus", event_com, event_comsubid)

// 765:27
[lever_down_fish]
type=model
x=314
y=164
width=69
height=130
layer=fish_tools
model=peng_rak_panel_swordfish_down
modelorigin_x=-11
modelorigin_y=-2
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=544
transmitop1=yes
transmitop10=yes
opbase=Lever
op1=Push
op10=  
opcursor0=cursor_push
onmouserepeat=script8799("Lever", event_com, event_comsubid)

// 765:28
[lever_up_fish]
type=model
x=314
y=164
width=69
height=130
layer=fish_tools
model=peng_rak_panel_swordfish_up
modelorigin_x=-11
modelorigin_y=-2
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=544
transmitop1=yes
transmitop10=yes
opbase=Lever
op1=Pull
op10= 
onmouserepeat=script8799("Lever", event_com, event_comsubid)

// 765:29
[no_lever]
type=model
x=314
y=164
width=52
height=130
layer=fish_tools
model=peng_rak_panel_no_lever
modelorigin_x=-3
modelorigin_y=-2
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=544
transmitop1=yes
transmitop10=yes
opbase=Lever box
op1=Inspect
op10= 
onmouserepeat=script8799("Lever", event_com, event_comsubid)
onvarctransmit=script2418(event_com)
onvarctransmitlist=peng_rak_eng_tools

// 765:30
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 765:31
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 765:32
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 765:33
[bespoke_window_close]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window
transmitop1=yes
op1=Close
onop=closebutton_click

