// 1327:0
[background]
type=model
x=-11
y=5
width=440
height=306
layer=bespoke_window_content
model=peng_rak_panel_backing
modelorthog=yes
modelorigin_x=17
modelorigin_y=152
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=566
onvartransmit=script6602
onvartransmitlist=peng_pow_temp

// 1327:1
[bounding]
type=layer
x=15
y=-20
width=512
height=334
layer=bespoke_window_content
onload=script2414
onvarctransmit=script2415
onvarctransmitlist=peng_rak_eng_tools

// 1327:2
[bg]
type=layer
x=5
y=10
width=120
height=306
xmode=abs_right
layer=bespoke_window_content
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 1327:3
[lever_box]
type=model
x=329
y=144
width=52
height=130
layer=bespoke_window_content
model=peng_pow_panel_lever_broken
modelorigin_x=-3
modelorigin_y=-2
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=544
transmitop1=yes
transmitop10=yes
opbase=Lever
op1=Repair
op10= 
opcursor0=cursor_construction
onmouserepeat=script8799("Lever", event_com, event_comsubid)

// 1327:4
[wirebox]
type=model
x=29
y=51
width=143
height=228
layer=bespoke_window_content
model=peng_rak_panel_wires_cut
modelorigin_x=4
modelorigin_y=-8
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=433
transmitop1=yes
opbase=Wirebox
op1=Repair
opcursor0=cursor_construction
onmouserepeat=script8799("Wirebox", event_com, event_comsubid)
onvarctransmit=script2416(event_com)
onvarctransmitlist=peng_rak_eng_tools

// 1327:5
[pipes]
type=model
x=177
y=80
width=39
height=141
layer=bespoke_window_content
model=peng_pow_panel_pipe_broken
modelorigin_x=-4
modelorigin_y=-3
modelangle_x=0
modelangle_y=0
modelangle_z=2042
modelzoom=604
transmitop1=yes
opbase=Pipe
op1=Repair
opcursor0=cursor_construction
onmouserepeat=script8799("Pipe", event_com, event_comsubid)
onvarctransmit=script2417(event_com)
onvarctransmitlist=peng_rak_eng_tools

// 1327:6
[valve_wheel]
type=model
x=237
y=158
width=37
height=110
layer=bespoke_window_content
model=peng_pow_panel_wheel_broken
modelorigin_x=18
modelorigin_y=-14
modelangle_x=158
modelangle_y=457
modelangle_z=0
modelzoom=509
transmitop1=yes
opbase=Valve wheel
op1=Repair
opcursor0=cursor_construction
onmouserepeat=script8799("Valve Wheel", event_com, event_comsubid)

// 1327:7
[gauge]
type=model
x=232
y=30
width=131
height=111
layer=bespoke_window_content
model=peng_pow_panel_dial_broken
modelorigin_x=-3
modelorigin_y=5
modelangle_x=2047
modelangle_y=1947
modelangle_z=0
modelzoom=478
transmitop1=yes
transmitop10=yes
opbase=Pressure guage
op1=Repair
op10= 
opcursor0=cursor_construction
onmouserepeat=script8799("Pressure gauge", event_com, event_comsubid)

// 1327:8
[final_setup]
type=layer
x=15
y=-20
width=512
height=334
layer=bespoke_window_content

// 1327:9
[supplies]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=bespoke_window_content

// 1327:10
[highlight]
type=layer
x=122
y=62
width=132
height=48
layer=bespoke_window_content
hide=yes

// 1327:11
[bespoke_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(peng_pow_engine:bespoke_window_background, peng_pow_engine:bespoke_window_border, peng_pow_engine:bespoke_window_content, peng_pow_engine:bespoke_window_close, "", 21259, string_1007)

// 1327:12
[highlight_2]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
layer=highlight
graphic="aif_examine_highlight_1,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1327:13
[highlight_4]
type=graphic
width=10
height=20
heightmode=minus
ymode=abs_centre
layer=highlight
graphic="aif_examine_highlight_1,3"
tiling=yes
colour=0xffffff
clickmask=no

// 1327:14
[highlight_5]
type=graphic
width=10
height=20
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=highlight
graphic="aif_examine_highlight_1,5"
tiling=yes
colour=0xffffff
clickmask=no

// 1327:15
[highlight_7]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=highlight
graphic="aif_examine_highlight_1,7"
tiling=yes
colour=0xffffff
clickmask=no

// 1327:16
[highlight_6]
type=graphic
width=10
height=10
ymode=abs_bottom
layer=highlight
graphic="aif_examine_highlight_1,6"
colour=0xffffff
clickmask=no

// 1327:17
[highlight_1]
type=graphic
width=10
height=10
layer=highlight
graphic="aif_examine_highlight_1,0"
colour=0xffffff
clickmask=no

// 1327:18
[highlight_3]
type=graphic
width=10
height=10
xmode=abs_right
layer=highlight
graphic="aif_examine_highlight_1,2"
colour=0xffffff
clickmask=no

// 1327:19
[highlight_8]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_bottom
layer=highlight
graphic="aif_examine_highlight_1,8"
colour=0xffffff
clickmask=no

// 1327:20
[balloon]
type=model
x=72
y=26
width=43
height=70
xmode=abs_right
layer=supplies
model=peng_pow_panel_balloon
modelorigin_x=0
modelorigin_y=34
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=776
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1327:21
[raw_wire]
type=model
x=80
y=185
width=40
height=48
xmode=abs_right
layer=supplies
model=peng_pow_panel_tightrope
modelorigin_x=-3
modelorigin_y=23
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1094
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1327:22
[hand]
type=model
x=9
y=87
width=27
height=58
xmode=abs_right
layer=supplies
model=peng_pow_panel_foam_finger
modelorigin_x=0
modelorigin_y=28
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1327:23
[dish]
type=model
x=12
y=211
width=57
height=63
xmode=abs_right
layer=supplies
model=peng_pow_panel_paper_plate
modelorigin_x=0
modelorigin_y=31
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=512
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1327:24
[hulahoop]
type=model
x=63
y=95
width=55
height=56
xmode=abs_right
layer=supplies
model=peng_pow_panel_hula_hoop
modelorigin_x=0
modelorigin_y=27
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1327:25
[fabric]
type=model
x=15
y=150
width=45
height=54
xmode=abs_right
layer=supplies
model=peng_pow_panel_handkerchief
modelorigin_x=-1
modelorigin_y=26
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1327:26
[assembled_wire]
type=model
x=404
y=42
width=20
height=61
layer=final_setup
hide=yes
model=peng_pow_panel_spare_wire_dark
modelorigin_x=-1
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=433
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1327:27
[bowlingpin_1]
type=model
x=326
y=139
width=72
height=67
layer=final_setup
hide=yes
model=peng_pow_panel_lever_fixed
modelorigin_x=-19
modelorigin_y=16
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=354

// 1327:28
[bowlingpin]
type=model
x=38
y=37
width=15
height=47
xmode=abs_right
layer=supplies
model=peng_pow_panel_bowling_pin
modelorigin_x=0
modelorigin_y=23
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1327:29
[fabric_1]
type=model
x=164
y=101
width=37
height=141
layer=final_setup
hide=yes
model=peng_pow_panel_pipe_fixed
modelorigin_x=-4
modelorigin_y=-3
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=604

// 1327:30
[dish_1]
type=model
x=261
y=78
width=59
height=66
layer=final_setup
hide=yes
model=peng_pow_panel_paper_plate
modelorigin_x=0
modelorigin_y=32
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=486

// 1327:31
[hand_1]
type=model
x=277
y=79
width=23
height=47
layer=final_setup
hide=yes
model=peng_pow_panel_foam_finger
modelorigin_x=0
modelorigin_y=23
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=988

// 1327:32
[hulahoop_1]
type=model
x=199
y=168
width=114
height=102
layer=final_setup
hide=yes
model=peng_pow_panel_wheel_fixed
modelorigin_x=1
modelorigin_y=1
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=486
transmitop1=yes
op1=Repair
opcursor0=cursor_construction

// 1327:33
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1327:34
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1327:35
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1327:36
[bespoke_window_close]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window
transmitop1=yes
op1=Close
onop=closebutton_click

