// 408:0
[pest_status_port4]
type=model
width=45
height=49
xmode=abs_right
layer=red_shield
model=game_pest_if_portal_4
modelorigin_x=0
modelorigin_y=24
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3000

// 408:1
[pest_status_port3]
type=model
width=45
height=49
xmode=abs_right
layer=yellow_shield
model=game_pest_if_portal_3
modelorigin_x=0
modelorigin_y=24
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3000

// 408:2
[pest_status_port2]
type=model
width=45
height=49
xmode=abs_right
layer=blue_shield
model=game_pest_if_portal_2
modelorigin_x=0
modelorigin_y=24
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3000

// 408:3
[pest_status_port1]
type=model
width=45
height=49
xmode=abs_right
layer=purple_shield
model=game_pest_if_portal_1
modelorigin_x=0
modelorigin_y=24
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3000

// 408:4
[portal_w]
type=layer
x=155
width=45
height=90
xmode=abs_right
layer=portals_layer

// 408:5
[pest_status_porttxt1]
type=text
y=8
width=45
height=12
xmode=abs_centre
layer=portal_w
textfont=p11_full
text=100
textalignh=1
textshadow=yes
colour=0xff00ff

// 408:6
[purple_shield]
type=layer
y=20
width=45
height=50
xmode=abs_centre
layer=portal_w
hide=yes

// 408:7
[pest_portal_shield_1]
type=model
y=20
width=45
height=49
xmode=abs_centre
layer=portal_w
model=pest_control14_if_void_closed
modelorigin_x=0
modelorigin_y=23
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3000

// 408:8
[pest_portal_destoryed_1]
type=graphic
y=20
width=45
height=45
xmode=abs_centre
layer=portal_w
hide=yes
graphic=aif_pc14_portal_destoryed
colour=0xffffff
clickmask=no

// 408:9
[com_9]
type=text
y=70
width=45
height=20
xmode=abs_centre
layer=portal_w
textfont=p12_full
text=W
textalignh=1
textshadow=yes
colour=0xff00ff

// 408:10
[portal_e]
type=layer
x=105
width=45
height=90
xmode=abs_right
layer=portals_layer

// 408:11
[portal_se]
type=layer
x=55
width=45
height=90
xmode=abs_right
layer=portals_layer

// 408:12
[portal_sw]
type=layer
x=5
width=45
height=90
xmode=abs_right
layer=portals_layer

// 408:13
[pest_status_porttxt4]
type=text
y=8
width=45
height=12
xmode=abs_centre
layer=portal_sw
textfont=p11_full
text=100
textalignh=1
textshadow=yes
colour=0xff3333

// 408:14
[red_shield]
type=layer
y=20
width=45
height=50
xmode=abs_centre
layer=portal_sw
hide=yes

// 408:15
[pest_status_porttxt3]
type=text
y=8
width=45
height=12
xmode=abs_centre
layer=portal_se
textfont=p11_full
text=100
textalignh=1
textshadow=yes
colour=0xffff00

// 408:16
[com_16]
type=text
y=70
width=45
height=20
xmode=abs_centre
layer=portal_sw
textfont=p12_full
text=SW
textalignh=1
textshadow=yes
colour=0xff3333

// 408:17
[pest_portal_shield_4]
type=model
y=20
width=45
height=49
xmode=abs_centre
layer=portal_sw
model=pest_control14_if_void_closed
modelorigin_x=0
modelorigin_y=23
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3000

// 408:18
[yellow_shield]
type=layer
y=20
width=45
height=50
xmode=abs_centre
layer=portal_se
hide=yes

// 408:19
[pest_portal_destoryed_4]
type=graphic
y=20
width=45
height=45
xmode=abs_centre
layer=portal_sw
hide=yes
graphic=aif_pc14_portal_destoryed
colour=0xffffff
clickmask=no

// 408:20
[pest_status_porttxt2]
type=text
y=8
width=45
height=12
xmode=abs_centre
layer=portal_e
textfont=p11_full
text=100
textalignh=1
textshadow=yes
colour=0x6666ff

// 408:21
[com_21]
type=text
y=70
width=45
height=20
xmode=abs_centre
layer=portal_se
textfont=p12_full
text=SE
textalignh=1
textshadow=yes
colour=0xffff00

// 408:22
[blue_shield]
type=layer
y=20
width=45
height=50
xmode=abs_centre
layer=portal_e
hide=yes

// 408:23
[pest_portal_shield_3]
type=model
y=20
width=45
height=49
xmode=abs_centre
layer=portal_se
model=pest_control14_if_void_closed
modelorigin_x=0
modelorigin_y=23
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3000

// 408:24
[com_24]
type=text
y=70
width=45
height=20
xmode=abs_centre
layer=portal_e
textfont=p12_full
text=E
textalignh=1
textshadow=yes
colour=0x6666ff

// 408:25
[pest_portal_destoryed_3]
type=graphic
y=20
width=45
height=45
xmode=abs_centre
layer=portal_se
hide=yes
graphic=aif_pc14_portal_destoryed
colour=0xffffff
clickmask=no

// 408:26
[pest_portal_shield_2]
type=model
y=20
width=45
height=49
xmode=abs_centre
layer=portal_e
model=pest_control14_if_void_closed
modelorigin_x=0
modelorigin_y=23
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3000

// 408:27
[pest_portal_destoryed_2]
type=graphic
y=20
width=45
height=45
xmode=abs_centre
layer=portal_e
hide=yes
graphic=aif_pc14_portal_destoryed
colour=0xffffff
clickmask=no

// 408:28
[game_info]
type=layer
width=512
height=334

// 408:29
[health_layer]
type=layer
width=65
height=37
layer=game_info

// 408:30
[com_30]
type=model
x=4
y=4
width=26
height=30
layer=dmg_layer
model=game_pest_if_damage
modelorigin_x=-1
modelorigin_y=-1
modelangle_x=579
modelangle_y=0
modelangle_z=0
modelzoom=2056

// 408:31
[pest_status_over_dam]
type=text
x=29
y=12
width=30
height=12
layer=dmg_layer
textfont=p11_full
text=0
textshadow=yes
colour=0x8b1313

// 408:32
[com_32]
type=model
x=4
y=4
width=25
height=69
layer=health_layer
model=game_pest_if_void
modelorigin_x=0
modelorigin_y=33
modelangle_x=3
modelangle_y=0
modelangle_z=0
modelzoom=1800

// 408:33
[pest_status_over_health]
type=text
x=30
y=12
width=30
height=12
layer=health_layer
textfont=p11_full
text=%100
textshadow=yes
colour=0x5ebb29

// 408:34
[portals_layer]
type=layer
x=68
width=205
height=95

// 408:35
[dmg_layer]
type=layer
y=37
width=65
height=37
layer=game_info

// 408:36
[pest_status_over_time]
type=text
x=5
y=78
width=60
height=13
layer=game_info
textfont=p11_full
text=%1 Min
textshadow=yes
colour=0xcccccc

