// 407:0
[difficultygradient_1]
type=rectangle
x=499
y=315
width=10
height=14
layer=diffgradlayer
colour=0x503800
fill=yes
trans=35

// 407:1
[banner]
type=model
x=32
y=42
width=45
height=111
layer=content_layer
model=game_pest_novice_banner
modelorigin_x=1
modelorigin_y=55
modelangle_x=1972
modelangle_y=132
modelangle_z=0
modelzoom=1296

// 407:2
[diffgradlayer]
type=layer
x=-397
y=-261
width=517
height=332
layer=content_layer

// 407:3
[pest_lander_over_level]
type=text
x=2
y=52
width=109
height=16
layer=content_layer
textfont=p12_full
text=eeeeeeeeeeeeee
textalignh=2
textshadow=yes
colour=0xff9966

// 407:4
[difficultygradient_2]
type=rectangle
x=489
y=315
width=10
height=14
layer=diffgradlayer
colour=0x503800
fill=yes
trans=50

// 407:5
[difficultygradient_3]
type=rectangle
x=479
y=315
width=10
height=14
layer=diffgradlayer
colour=0x503800
fill=yes
trans=75

// 407:6
[difficultygradient_4]
type=rectangle
x=469
y=315
width=10
height=14
layer=diffgradlayer
colour=0x503800
fill=yes
trans=90

// 407:7
[difficultygradient_5]
type=rectangle
x=459
y=315
width=10
height=14
layer=diffgradlayer
colour=0x503800
fill=yes
trans=105

// 407:8
[difficultygradient_6]
type=rectangle
x=449
y=315
width=10
height=14
layer=diffgradlayer
colour=0x503800
fill=yes
trans=120

// 407:9
[difficultygradient_7]
type=rectangle
x=439
y=315
width=10
height=14
layer=diffgradlayer
colour=0x503800
fill=yes
trans=135

// 407:10
[difficultygradient_8]
type=rectangle
x=429
y=315
width=10
height=14
layer=diffgradlayer
colour=0x503800
fill=yes
trans=150

// 407:11
[difficultygradient_9]
type=rectangle
x=419
y=315
width=10
height=14
layer=diffgradlayer
colour=0x503800
fill=yes
trans=165

// 407:12
[difficultygradient_10]
type=rectangle
x=409
y=315
width=10
height=14
layer=diffgradlayer
colour=0x503800
fill=yes
trans=180

// 407:13
[pest_lander_over_time]
type=text
x=14
y=23
width=251
height=17
textfont=p12_full
text=Next Departure: 5 min
textshadow=yes
colour=0xcccccc

// 407:14
[pest_lander_over_pl1]
type=text
x=14
y=40
width=251
height=16
textfont=p12_full
text=Players Ready: 5
textshadow=yes
colour=0x59d231

// 407:15
[pest_lander_over_pl2]
type=text
x=14
y=57
width=249
height=15
textfont=p12_full
text=(Need 5 to 25 players)
textshadow=yes
colour=0xded36a

// 407:16
[pest_lander_over_points]
type=text
x=14
y=73
width=249
height=15
textfont=p12_full
text=Points:pest_points
textshadow=yes
colour=0x99ffff

// 407:17
[content_layer]
type=layer
x=3
y=42
width=119
height=292

