// 1384:0
[com_0]
type=rectangle
widthmode=minus
heightmode=minus
layer=confirm_layer
colour=0x010101
fill=yes
trans=70

// 1384:1
[layer_3]
type=layer
width=333
height=189
xmode=abs_centre
ymode=abs_centre
layer=confirm_layer
noclickthrough=yes

// 1384:2
[gold_frame_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=layer_3
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1384:3
[gold_frame_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=layer_3

// 1384:4
[layer_2]
type=layer
y=5
width=10
height=137
widthmode=minus
xmode=abs_centre
layer=gold_frame_content_layer

// 1384:5
[3x1_neutral]
type=layer
x=10
y=10
width=150
height=27
ymode=abs_bottom
layer=gold_frame_content_layer
onload=script13968(pet_bank:neutral_build, pet_bank:neutral_click, rs3tli_neutral_button, "Cancel")

// 1384:6
[3x1_positive_1]
type=layer
x=10
y=10
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=gold_frame_content_layer
onload=script13968(pet_bank:positive_build_1, pet_bank:positive_click_1, rs3tli_positive_button, "Confirm")

// 1384:7
[com_7]
type=text
height=26
widthmode=minus
xmode=abs_centre
layer=layer_2
textfont=museo_sans_11pt_regular
text=Are you sure you wish to bank:
textalignh=1
textalignv=1
textshadow=yes
colour=0xe5b051
onload=script14111(event_com, -1, 1)

// 1384:8
[confirm_object]
type=graphic
x=10
y=32
width=36
height=32
layer=layer_2
colour=0xffffff
clickmask=no

// 1384:9
[confirm_text]
type=text
y=25
width=50
height=46
widthmode=minus
xmode=abs_right
layer=layer_2
textfont=museo_sans_13pt_regular
textlineheight=14
textalignv=1
textshadow=yes

// 1384:10
[com_10]
type=text
y=85
height=50
widthmode=minus
xmode=abs_centre
layer=layer_2
textfont=verdana_11pt_regular
text=You will have to wait 10 minutes to use the Pet Banking Service again.
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xe81b1b

// 1384:11
[com_11]
type=graphic
width=10
height=10
layer=select_reticule
graphic="aif_overlay_frame_gold_corner_4,4"
vflip=yes
colour=0xffffff
clickmask=no

// 1384:12
[com_12]
type=graphic
width=10
height=10
xmode=abs_right
layer=select_reticule
graphic="aif_overlay_frame_gold_corner_4,4"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1384:13
[com_13]
type=graphic
width=10
height=10
ymode=abs_bottom
layer=select_reticule
graphic="aif_overlay_frame_gold_corner_4,4"
colour=0xffffff
clickmask=no

// 1384:14
[com_14]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_bottom
layer=select_reticule
graphic="aif_overlay_frame_gold_corner_4,4"
hflip=yes
colour=0xffffff
clickmask=no

// 1384:15
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(pet_bank:mainmodal_window_background, pet_bank:mainmodal_window_border, pet_bank:mainmodal_window_content, pet_bank:mainmodal_window_close_button, "", 21218, string_1007)

// 1384:16
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1384:17
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=mtx_pet_bank_onload(pet_bank:mainmodal_window_background, pet_bank:mainmodal_window_border, event_com, toplevel_v2_default_main_modal_skin_data)

// 1384:18
[instruction_text]
type=text
height=25
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular
text=Select an item to send to your bank:
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78
onload=script14111(event_com, -1, 1)

// 1384:19
[pets_bank_area]
type=layer
y=25
width=375
height=225
xmode=abs_centre
layer=mainmodal_window_content
onvartransmit=mtx_pet_highlight_item
onvartransmitlist=mtx_pets_temp

// 1384:20
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1384:21
[3x1_positive]
type=layer
y=4
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onload=script13968(pet_bank:positive_build, pet_bank:positive_click, rs3tli_positive_button, "Select Item")

// 1384:22
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1384:23
[confirm_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window
hide=yes
noclickthrough=yes

// 1384:24
[select_reticule]
type=layer
width=36
height=38
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
hide=yes

// 1384:25
[positive_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_positive

// 1384:26
[positive_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1384:27
[neutral_build]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_neutral

// 1384:28
[neutral_click]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1384:29
[positive_build_1]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_positive_1

// 1384:30
[positive_click_1]
type=layer
widthmode=minus
heightmode=minus
layer=3x1_positive_1
transmitop1=yes
op1=Select
opcursor0=cursor_use

