// 502:0
[skulls_layer_7]
type=layer
y=360
width=290
height=59
layer=test_skulls

// 502:1
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=skulls_layer_7
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 502:2
[beachead_info]
type=text
width=128
widthmode=minus
heightmode=minus
xmode=abs_right
layer=skulls_layer_7
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 502:3
[skull_1_point_7]
type=graphic
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_7
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:4
[skull_2_point_7]
type=graphic
x=32
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_7
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:5
[skull_3_point_7]
type=graphic
x=64
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_7
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:6
[skull_4_point_7]
type=graphic
x=96
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_7
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:7
[text_point]
type=text
x=2
width=128
height=52
layer=skulls_layer_7
textfont=cinzel_18pt_bold_multiline
text=Beach Head
textshadow=yes
colour=0xffcb05

// 502:8
[background]
type=rectangle
width=200
height=210
layer=main_layer
colour=0x1c2c34
fill=yes
trans=75

// 502:9
[invasion_point_1]
type=layer
width=200
height=30
layer=main_layer

// 502:10
[invasion_point_2]
type=layer
y=30
width=200
height=30
layer=main_layer

// 502:11
[invasion_point_3]
type=layer
y=60
width=200
height=30
layer=main_layer

// 502:12
[invasion_point_4]
type=layer
y=90
width=200
height=30
layer=main_layer

// 502:13
[invasion_point_5]
type=layer
y=120
width=200
height=30
layer=main_layer

// 502:14
[invasion_point_6]
type=layer
y=150
width=200
height=30
layer=main_layer

// 502:15
[invasion_point_7]
type=layer
y=180
width=200
height=30
layer=main_layer

// 502:16
[invasion_point_percentage_7]
type=text
width=50
heightmode=minus
xmode=abs_right
layer=invasion_point_7
textfont=museo_sans_11pt_regular_multiline
text=20%
textalignh=1
textalignv=1
textshadow=yes

// 502:17
[main_layer]
type=layer
x=5
y=5
width=200
height=210
hide=yes
onvartransmit=script1287
onvartransmitlist=piratefinale_invasion_temp_storage_1

// 502:18
[test_map_layer]
type=layer
width=800
height=600
onvartransmit=script1287
onvartransmitlist=piratefinale_invasion_temp_storage_1

// 502:19
[test_skulls]
type=layer
width=800
height=600
layer=test_map_layer

// 502:20
[skulls_layer_6]
type=layer
y=300
width=290
height=59
layer=test_skulls

// 502:21
[info_holder_active_1]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=skulls_layer_6
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 502:22
[cropfield_info]
type=text
width=128
widthmode=minus
heightmode=minus
xmode=abs_right
layer=skulls_layer_6
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 502:23
[skulls_layer_5]
type=layer
y=240
width=290
height=59
layer=test_skulls

// 502:24
[info_holder_active_2]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=skulls_layer_5
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 502:25
[river_info]
type=text
width=128
widthmode=minus
heightmode=minus
xmode=abs_right
layer=skulls_layer_5
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 502:26
[skulls_layer_4]
type=layer
width=290
height=59
layer=test_skulls

// 502:27
[info_holder_active_3]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=skulls_layer_4
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 502:28
[maingate_info]
type=text
width=128
widthmode=minus
heightmode=minus
xmode=abs_right
layer=skulls_layer_4
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 502:29
[skulls_layer_3]
type=layer
y=60
width=290
height=59
layer=test_skulls

// 502:30
[info_holder_active_4]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=skulls_layer_3
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 502:31
[wall_info]
type=text
width=128
widthmode=minus
heightmode=minus
xmode=abs_right
layer=skulls_layer_3
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 502:32
[skulls_layer_2]
type=layer
y=120
width=290
height=59
layer=test_skulls

// 502:33
[info_holder_active_5]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=skulls_layer_2
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 502:34
[swcannon_info]
type=text
width=128
widthmode=minus
heightmode=minus
xmode=abs_right
layer=skulls_layer_2
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 502:35
[skulls_layer_1]
type=layer
y=180
width=290
height=59
layer=test_skulls

// 502:36
[info_holder_active_6]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=skulls_layer_1
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 502:37
[secannon_info]
type=text
width=128
widthmode=minus
heightmode=minus
xmode=abs_right
layer=skulls_layer_1
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 502:38
[invasion_point_title_7]
type=text
x=25
width=75
widthmode=minus
heightmode=minus
layer=invasion_point_7
textfont=museo_sans_11pt_regular_multiline
text=Northen beach head
textalignh=1
textalignv=1
textshadow=yes

// 502:39
[invasion_point_graphic_7]
type=graphic
width=25
heightmode=minus
layer=invasion_point_7
graphic="gnomeball_buttons,0"
colour=0xffffff
clickmask=no

// 502:40
[invasion_point_percentage_1]
type=text
width=50
heightmode=minus
xmode=abs_right
layer=invasion_point_1
textfont=museo_sans_11pt_regular_multiline
text=20%
textalignh=1
textalignv=1
textshadow=yes

// 502:41
[invasion_point_title_1]
type=text
x=25
width=75
widthmode=minus
heightmode=minus
layer=invasion_point_1
textfont=museo_sans_11pt_regular_multiline
text=South east cannons
textalignh=1
textalignv=1
textshadow=yes

// 502:42
[invasion_point_graphic_1]
type=graphic
width=25
heightmode=minus
layer=invasion_point_1
graphic="gnomeball_buttons,0"
colour=0xffffff
clickmask=no

// 502:43
[invasion_point_percentage_2]
type=text
width=50
heightmode=minus
xmode=abs_right
layer=invasion_point_2
textfont=museo_sans_11pt_regular_multiline
text=20%
textalignh=1
textalignv=1
textshadow=yes

// 502:44
[invasion_point_title_2]
type=text
x=25
width=75
widthmode=minus
heightmode=minus
layer=invasion_point_2
textfont=museo_sans_11pt_regular_multiline
text=South west cannons
textalignh=1
textalignv=1
textshadow=yes

// 502:45
[invasion_point_graphic_2]
type=graphic
width=25
heightmode=minus
layer=invasion_point_2
graphic="gnomeball_buttons,0"
colour=0xffffff
clickmask=no

// 502:46
[invasion_point_percentage_3]
type=text
width=50
heightmode=minus
xmode=abs_right
layer=invasion_point_3
textfont=museo_sans_11pt_regular_multiline
text=20%
textalignh=1
textalignv=1
textshadow=yes

// 502:47
[invasion_point_title_3]
type=text
x=25
width=75
widthmode=minus
heightmode=minus
layer=invasion_point_3
textfont=museo_sans_11pt_regular_multiline
text=West wall
textalignh=1
textalignv=1
textshadow=yes

// 502:48
[invasion_point_graphic_3]
type=graphic
width=25
heightmode=minus
layer=invasion_point_3
graphic="gnomeball_buttons,0"
colour=0xffffff
clickmask=no

// 502:49
[invasion_point_percentage_4]
type=text
width=50
heightmode=minus
xmode=abs_right
layer=invasion_point_4
textfont=museo_sans_11pt_regular_multiline
text=20%
textalignh=1
textalignv=1
textshadow=yes

// 502:50
[invasion_point_title_4]
type=text
x=25
width=75
widthmode=minus
heightmode=minus
layer=invasion_point_4
textfont=museo_sans_11pt_regular_multiline
text=Front gate
textalignh=1
textalignv=1
textshadow=yes

// 502:51
[invasion_point_graphic_4]
type=graphic
width=25
heightmode=minus
layer=invasion_point_4
graphic="gnomeball_buttons,0"
colour=0xffffff
clickmask=no

// 502:52
[invasion_point_percentage_5]
type=text
width=50
heightmode=minus
xmode=abs_right
layer=invasion_point_5
textfont=museo_sans_11pt_regular_multiline
text=20%
textalignh=1
textalignv=1
textshadow=yes

// 502:53
[invasion_point_title_5]
type=text
x=25
width=75
widthmode=minus
heightmode=minus
layer=invasion_point_5
textfont=museo_sans_11pt_regular_multiline
text=East river
textalignh=1
textalignv=1
textshadow=yes

// 502:54
[invasion_point_graphic_5]
type=graphic
width=25
heightmode=minus
layer=invasion_point_5
graphic="gnomeball_buttons,0"
colour=0xffffff
clickmask=no

// 502:55
[invasion_point_percentage_6]
type=text
width=50
heightmode=minus
xmode=abs_right
layer=invasion_point_6
textfont=museo_sans_11pt_regular_multiline
text=20%
textalignh=1
textalignv=1
textshadow=yes

// 502:56
[invasion_point_title_6]
type=text
x=25
width=75
widthmode=minus
heightmode=minus
layer=invasion_point_6
textfont=museo_sans_11pt_regular_multiline
text=Northern crop field
textalignh=1
textalignv=1
textshadow=yes

// 502:57
[invasion_point_graphic_6]
type=graphic
width=25
heightmode=minus
layer=invasion_point_6
graphic="gnomeball_buttons,0"
colour=0xffffff
clickmask=no

// 502:58
[skull_1_point_1]
type=graphic
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_1
graphic=rs3_icon_skull
colour=0x000000
clickmask=no

// 502:59
[skull_2_point_1]
type=graphic
x=32
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_1
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:60
[skull_3_point_1]
type=graphic
x=64
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_1
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:61
[skull_4_point_1]
type=graphic
x=96
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_1
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:62
[text_point_1]
type=text
x=2
width=128
height=52
layer=skulls_layer_1
textfont=cinzel_18pt_bold_multiline
text=SE Cannons
textshadow=yes
colour=0xffcb05

// 502:63
[skull_1_point_2]
type=graphic
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_2
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:64
[skull_2_point_2]
type=graphic
x=32
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_2
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:65
[skull_3_point_2]
type=graphic
x=64
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_2
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:66
[skull_4_point_2]
type=graphic
x=96
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_2
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:67
[text_point_2]
type=text
x=2
width=128
height=52
layer=skulls_layer_2
textfont=cinzel_18pt_bold_multiline
text=SW Cannons
textshadow=yes
colour=0xffcb05

// 502:68
[skull_1_point_3]
type=graphic
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_3
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:69
[skull_2_point_3]
type=graphic
x=32
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_3
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:70
[skull_3_point_3]
type=graphic
x=64
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_3
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:71
[skull_4_point_3]
type=graphic
x=96
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_3
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:72
[text_point_3]
type=text
x=2
width=128
height=52
layer=skulls_layer_3
textfont=cinzel_18pt_bold_multiline
text=West Wall
textshadow=yes
colour=0xffcb05

// 502:73
[skull_1_point_4]
type=graphic
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_4
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:74
[skull_2_point_4]
type=graphic
x=32
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_4
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:75
[skull_3_point_4]
type=graphic
x=64
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_4
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:76
[skull_4_point_4]
type=graphic
x=96
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_4
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:77
[text_point_4]
type=text
x=2
width=128
height=52
layer=skulls_layer_4
textfont=cinzel_18pt_bold_multiline
text=Main Gate
textshadow=yes
colour=0xffcb05

// 502:78
[skull_1_point_5]
type=graphic
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_5
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:79
[skull_2_point_5]
type=graphic
x=32
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_5
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:80
[skull_3_point_5]
type=graphic
x=64
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_5
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:81
[skull_4_point_5]
type=graphic
x=96
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_5
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:82
[text_point_5]
type=text
x=2
width=128
height=52
layer=skulls_layer_5
textfont=cinzel_18pt_bold_multiline
text=East River
textshadow=yes
colour=0xffcb05

// 502:83
[skull_1_point_6]
type=graphic
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_6
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:84
[skull_2_point_6]
type=graphic
x=32
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_6
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:85
[skull_3_point_6]
type=graphic
x=64
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_6
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:86
[skull_4_point_6]
type=graphic
x=96
y=3
width=32
height=32
ymode=abs_bottom
layer=skulls_layer_6
graphic=rs3_icon_skull
colour=0xffffff
clickmask=no

// 502:87
[text_point_6]
type=text
x=2
width=128
height=52
layer=skulls_layer_6
textfont=cinzel_18pt_bold_multiline
text=Crop Field
textshadow=yes
colour=0xffcb05

