// 1560:0
[left_ragdoll_tab_layer]
type=layer
width=48
height=24
ymode=abs_bottom
layer=left_panel_tabs_layer

// 1560:1
[left_social_tab_layer]
type=layer
x=48
width=48
height=24
ymode=abs_bottom
layer=left_panel_tabs_layer

// 1560:2
[left_combat_tab_layer]
type=layer
x=96
width=48
height=24
ymode=abs_bottom
layer=left_panel_tabs_layer

// 1560:3
[left_stats_tab_layer]
type=layer
x=144
width=48
height=24
ymode=abs_bottom
layer=left_panel_tabs_layer

// 1560:4
[main_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(player_inspect:background_layer, player_inspect:border_layer, player_inspect:content_layer, player_inspect:close_button_layer, "Inspect Player", 21217, string_1024)
onvarcstrtransmit=player_inspect_update_title(player_inspect:background_layer, player_inspect:border_layer, player_inspect:content_layer, toplevel_v2_default_modal_dialogue_skin_data)
onvarcstrtransmitlist=varclientstring_4669

// 1560:5
[background_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=main_layer

// 1560:6
[content_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=main_layer
onload=player_inspect_init

// 1560:7
[left_panel_bg_layer]
type=layer
height=28
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=content_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1560:8
[right_panel_bg_layer]
type=layer
height=28
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=content_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1560:9
[left_panel_tabs_layer]
type=layer
height=28
widthmode=minus
layer=content_layer

// 1560:10
[left_cheevo_tab_layer]
type=layer
x=192
width=48
height=24
ymode=abs_bottom
layer=left_panel_tabs_layer

// 1560:11
[refresh_button_layer]
type=layer
x=7
y=6
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=left_panel_tabs_layer
hide=yes

// 1560:12
[right_panel_tabs_layer]
type=layer
height=28
widthmode=minus
xmode=abs_right
layer=content_layer

// 1560:13
[right_social_tab_layer]
type=layer
width=48
height=24
ymode=abs_bottom
layer=right_panel_tabs_layer

// 1560:14
[right_combat_tab_layer]
type=layer
x=48
width=48
height=24
ymode=abs_bottom
layer=right_panel_tabs_layer

// 1560:15
[right_stats_tab_layer]
type=layer
x=96
width=48
height=24
ymode=abs_bottom
layer=right_panel_tabs_layer

// 1560:16
[right_cheevo_tab_layer]
type=layer
x=144
width=48
height=24
ymode=abs_bottom
layer=right_panel_tabs_layer

// 1560:17
[ragdoll_layer]
type=layer
height=28
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=content_layer
onload=script10793
onvartransmit=script10793
onvartransmitlist=player_inspect_target_privacy

// 1560:18
[combat_layer]
type=layer
height=28
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=content_layer

// 1560:19
[stats_layer]
type=layer
height=28
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=content_layer

// 1560:20
[social_layer]
type=layer
height=28
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=content_layer
onload=script10786
onvartransmit=script10786
onvarcstrtransmit=script10786
onvartransmitlist=player_inspect_social_int0,player_inspect_target_privacy
onvarcstrtransmitlist=varclientstring_4669,varclientstring_4672,varclientstring_4671

// 1560:21
[interface_sharing_button]
type=button
y=5
width=20
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=social_layer
noclickthrough=yes
text.textfont=notosans_12
text.text=Load Interface Layouts
stylesheet=button_cornered_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=stylesheet_set(event_com)

// 1560:22
[cheevo_layer]
type=layer
height=28
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=content_layer

// 1560:23
[border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 1560:24
[main_report_button_layer]
type=layer
x=15
y=15
width=16
height=16
layer=main_layer
onmouserepeat=script3876("Report this player.", event_com, event_comsubid)

// 1560:25
[expand_button_layer]
type=layer
x=40
y=15
width=16
height=16
layer=main_layer

// 1560:26
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=main_layer
transmitop1=yes
op1=Close

// 1560:27
[left_ragdoll_tab_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_ragdoll_tab_layer
onload=script8103(event_com)

// 1560:28
[left_ragdoll_tab_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_ragdoll_tab_layer
onload=script9645(event_com)

// 1560:29
[left_ragdoll_tab_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_ragdoll_tab_layer
onload=script9646(event_com)

// 1560:30
[left_ragdoll_tab_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_ragdoll_tab_layer
hide=yes
onload=script9647(event_com)

// 1560:31
[left_ragdoll_tab_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=left_ragdoll_tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=player_inspect_select_tab(0)
onmouserepeat=script3876("Worn Equipment", event_com, event_comsubid)

// 1560:32
[left_ragdoll_tab_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_ragdoll_tab_layer
hide=yes
onload=script9650(event_com)
onmouserepeat=script3876("Worn Equipment", event_com, event_comsubid)

// 1560:33
[left_ragdoll_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_ragdoll_tab_layer

// 1560:34
[com_34]
type=graphic
y=1
width=24
height=24
xmode=abs_centre
layer=left_ragdoll_tab_layer
graphic=child_tab_icon_worn
colour=0xffffff
clickmask=no

// 1560:35
[left_ragdoll_tab_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_ragdoll_tab_text_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1560:36
[left_combat_tab_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_combat_tab_layer
onload=script8103(event_com)

// 1560:37
[left_combat_tab_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_combat_tab_layer
onload=script9645(event_com)

// 1560:38
[left_combat_tab_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_combat_tab_layer
onload=script9646(event_com)

// 1560:39
[left_combat_tab_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_combat_tab_layer
hide=yes
onload=script9647(event_com)

// 1560:40
[left_combat_tab_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=left_combat_tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=player_inspect_select_tab(2)
onmouserepeat=script3876("Combat Stats", event_com, event_comsubid)

// 1560:41
[left_combat_tab_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_combat_tab_layer
hide=yes
onload=script9650(event_com)
onmouserepeat=script3876("This player has privacy mode activated, you can't view this information.", event_com, event_comsubid)

// 1560:42
[left_combat_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_combat_tab_layer

// 1560:43
[com_43]
type=graphic
y=1
width=24
height=24
xmode=abs_centre
layer=left_combat_tab_layer
graphic=rs3_icon_tab_loadout
colour=0xffffff
clickmask=no

// 1560:44
[left_combat_tab_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_combat_tab_text_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1560:45
[left_stats_tab_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_stats_tab_layer
onload=script8103(event_com)

// 1560:46
[left_stats_tab_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_stats_tab_layer
onload=script9645(event_com)

// 1560:47
[left_stats_tab_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_stats_tab_layer
onload=script9646(event_com)

// 1560:48
[left_stats_tab_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_stats_tab_layer
hide=yes
onload=script9647(event_com)

// 1560:49
[left_stats_tab_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=left_stats_tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=player_inspect_select_tab(3)
onmouserepeat=script3876("Skills", event_com, event_comsubid)

// 1560:50
[left_stats_tab_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_stats_tab_layer
hide=yes
onload=script9650(event_com)
onmouserepeat=script3876("This player has privacy mode activated, you can't view this information.", event_com, event_comsubid)

// 1560:51
[left_stats_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_stats_tab_layer

// 1560:52
[com_52]
type=graphic
y=1
width=24
height=24
xmode=abs_centre
layer=left_stats_tab_layer
graphic=rs3_icon_tab_skills
colour=0xffffff
clickmask=no

// 1560:53
[left_stats_tab_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_stats_tab_text_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1560:54
[left_social_tab_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_social_tab_layer
onload=script8103(event_com)

// 1560:55
[left_social_tab_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_social_tab_layer
onload=script9645(event_com)

// 1560:56
[left_social_tab_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_social_tab_layer
onload=script9646(event_com)

// 1560:57
[left_social_tab_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_social_tab_layer
hide=yes
onload=script9647(event_com)

// 1560:58
[left_social_tab_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=left_social_tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=player_inspect_select_tab(1)
onmouserepeat=script3876("Social", event_com, event_comsubid)

// 1560:59
[left_social_tab_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_social_tab_layer
hide=yes
onload=script9650(event_com)

// 1560:60
[left_social_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_social_tab_layer

// 1560:61
[com_61]
type=graphic
y=1
width=24
height=24
xmode=abs_centre
layer=left_social_tab_layer
graphic=rs3_icon_tab_social
colour=0xffffff
clickmask=no

// 1560:62
[left_social_tab_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_social_tab_text_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1560:63
[right_social_tab_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_social_tab_layer
onload=script8103(event_com)

// 1560:64
[right_social_tab_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_social_tab_layer
onload=script9645(event_com)

// 1560:65
[right_social_tab_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_social_tab_layer
onload=script9646(event_com)

// 1560:66
[right_social_tab_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_social_tab_layer
hide=yes
onload=script9647(event_com)

// 1560:67
[right_social_tab_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=right_social_tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=player_inspect_select_tab(5)
onmouserepeat=script3876("Social", event_com, event_comsubid)

// 1560:68
[right_social_tab_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_social_tab_layer
hide=yes
onload=script9650(event_com)

// 1560:69
[right_social_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_social_tab_layer

// 1560:70
[com_70]
type=graphic
y=1
width=24
height=24
xmode=abs_centre
layer=right_social_tab_layer
graphic=rs3_icon_tab_social
colour=0xffffff
clickmask=no

// 1560:71
[right_social_tab_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_social_tab_text_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1560:72
[right_stats_tab_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_stats_tab_layer
onload=script8103(event_com)

// 1560:73
[right_stats_tab_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_stats_tab_layer
onload=script9645(event_com)

// 1560:74
[right_stats_tab_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_stats_tab_layer
onload=script9646(event_com)

// 1560:75
[right_stats_tab_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_stats_tab_layer
hide=yes
onload=script9647(event_com)

// 1560:76
[right_stats_tab_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=right_stats_tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=player_inspect_select_tab(7)
onmouserepeat=script3876("Stats", event_com, event_comsubid)

// 1560:77
[right_stats_tab_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_stats_tab_layer
hide=yes
onload=script9650(event_com)
onmouserepeat=script3876("This player has privacy mode activated, you can't view this information.", event_com, event_comsubid)

// 1560:78
[right_stats_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_stats_tab_layer

// 1560:79
[com_79]
type=graphic
y=1
width=24
height=24
xmode=abs_centre
layer=right_stats_tab_layer
graphic=rs3_icon_tab_skills
colour=0xffffff
clickmask=no

// 1560:80
[right_stats_tab_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_stats_tab_text_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1560:81
[right_combat_tab_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_combat_tab_layer
onload=script8103(event_com)

// 1560:82
[right_combat_tab_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_combat_tab_layer
onload=script9645(event_com)

// 1560:83
[right_combat_tab_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_combat_tab_layer
onload=script9646(event_com)

// 1560:84
[right_combat_tab_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_combat_tab_layer
hide=yes
onload=script9647(event_com)

// 1560:85
[right_combat_tab_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=right_combat_tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=player_inspect_select_tab(6)
onmouserepeat=script3876("Combat Stats", event_com, event_comsubid)

// 1560:86
[right_combat_tab_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_combat_tab_layer
hide=yes
onload=script9650(event_com)
onmouserepeat=script3876("This player has privacy mode activated, you can't view this information.", event_com, event_comsubid)

// 1560:87
[right_combat_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_combat_tab_layer

// 1560:88
[com_88]
type=graphic
y=1
width=24
height=24
xmode=abs_centre
layer=right_combat_tab_layer
graphic=rs3_icon_tab_loadout
colour=0xffffff
clickmask=no

// 1560:89
[right_combat_tab_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_combat_tab_text_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1560:90
[expand_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=expand_button_layer
onload=script9346(event_com, rs3tli_expand_icons)

// 1560:91
[expand_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=expand_button_layer
onload=script9347(event_com, rs3tli_expand_icons)

// 1560:92
[expand_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=expand_button_layer
onload=script9348(event_com, rs3tli_expand_icons)

// 1560:93
[expand_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=expand_button_layer
hide=yes
onload=script9351(event_com, rs3tli_expand_icons)

// 1560:94
[expand_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=expand_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script10777

// 1560:95
[expand_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=expand_button_layer
hide=yes
onload=script9354(event_com, rs3tli_expand_icons)

// 1560:96
[refresh_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=refresh_button_layer
onload=script9346(event_com, rs3tli_refresh_icons)

// 1560:97
[refresh_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=refresh_button_layer
onload=script9347(event_com, rs3tli_refresh_icons)

// 1560:98
[refresh_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=refresh_button_layer
onload=script9348(event_com, rs3tli_refresh_icons)

// 1560:99
[refresh_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=refresh_button_layer
hide=yes
onload=script9351(event_com, rs3tli_refresh_icons)

// 1560:100
[refresh_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=refresh_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1560:101
[refresh_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=refresh_button_layer
hide=yes
onload=script9354(event_com, rs3tli_refresh_icons)

// 1560:102
[main_report_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_report_button_layer
onload=script9346(event_com, rs3tli_report_flag_16px_icons)

// 1560:103
[main_report_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_report_button_layer
onload=script9347(event_com, rs3tli_report_flag_16px_icons)

// 1560:104
[main_report_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_report_button_layer
onload=script9348(event_com, rs3tli_report_flag_16px_icons)

// 1560:105
[main_report_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_report_button_layer
hide=yes
onload=script9351(event_com, rs3tli_report_flag_16px_icons)

// 1560:106
[main_report_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_report_button_layer
transmitop1=yes
op1=Report
onload=script4213(event_com)
onop=player_inspect_report

// 1560:107
[main_report_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_report_button_layer
hide=yes
onload=script9354(event_com, rs3tli_report_flag_16px_icons)

// 1560:108
[left_cheevo_tab_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_cheevo_tab_layer
onload=script8103(event_com)

// 1560:109
[left_cheevo_tab_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_cheevo_tab_layer
onload=script9645(event_com)

// 1560:110
[left_cheevo_tab_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_cheevo_tab_layer
onload=script9646(event_com)

// 1560:111
[left_cheevo_tab_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_cheevo_tab_layer
hide=yes
onload=script9647(event_com)

// 1560:112
[left_cheevo_tab_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=left_cheevo_tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=player_inspect_select_tab(4)
onmouserepeat=script3876("Achievements", event_com, event_comsubid)

// 1560:113
[left_cheevo_tab_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_cheevo_tab_layer
hide=yes
onload=script9650(event_com)
onmouserepeat=script3876("This player has privacy mode activated, you can't view this information.", event_com, event_comsubid)

// 1560:114
[left_cheevo_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_cheevo_tab_layer

// 1560:115
[left_cheevo_tab_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=left_cheevo_tab_text_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1560:116
[com_116]
type=graphic
y=1
width=24
height=24
xmode=abs_centre
layer=left_cheevo_tab_layer
graphic="achievement_tab_icon_achievements,0"
colour=0xffffff
clickmask=no

// 1560:117
[right_cheevo_tab_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_cheevo_tab_layer
onload=script8103(event_com)

// 1560:118
[right_cheevo_tab_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_cheevo_tab_layer
onload=script9645(event_com)

// 1560:119
[right_cheevo_tab_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_cheevo_tab_layer
onload=script9646(event_com)

// 1560:120
[right_cheevo_tab_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_cheevo_tab_layer
hide=yes
onload=script9647(event_com)

// 1560:121
[right_cheevo_tab_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=right_cheevo_tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=player_inspect_select_tab(8)
onmouserepeat=script3876("Achievements", event_com, event_comsubid)

// 1560:122
[right_cheevo_tab_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_cheevo_tab_layer
hide=yes
onload=script9650(event_com)
onmouserepeat=script3876("This player has privacy mode activated, you can't view this information.", event_com, event_comsubid)

// 1560:123
[right_cheevo_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_cheevo_tab_layer

// 1560:124
[right_cheevo_tab_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_cheevo_tab_text_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1560:125
[com_125]
type=graphic
y=1
width=24
height=24
xmode=abs_centre
layer=right_cheevo_tab_layer
graphic="achievement_tab_icon_achievements,0"
colour=0xffffff
clickmask=no

