// 1561:0
[mainmodal_window]
type=layer
width=16391
height=14232
widthmode=proportion
heightmode=proportion
onload=script8420(player_inspect_settings:mainmodal_window_background, player_inspect_settings:mainmodal_window_border, player_inspect_settings:mainmodal_window_content, player_inspect_settings:mainmodal_window_close_button, "My Examine Settings", 21218, string_1007)

// 1561:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1561:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=player_inspect_status_onload(player_inspect_settings:dropdown_build, player_inspect_settings:dropdown_click, player_inspect_settings:privacy_dropdown_build, player_inspect_settings:privacy_dropdown_click)

// 1561:3
[com_3]
type=text
y=5
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular
text=Set your status and personal message for other players to see.
textalignh=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1561:4
[com_4]
type=text
x=5
y=35
width=150
height=15
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=Status:
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1561:5
[static_dropdown]
type=layer
x=5
y=55
width=266
height=24
widthmode=minus
layer=mainmodal_window_content

// 1561:6
[com_6]
type=text
x=5
y=85
width=150
height=15
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=Personal Message:
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1561:7
[current_personal_message]
type=text
y=105
width=10
height=40
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular
textshadow=yes
colour=0x7592a0
onload=script13150(player_inspect_settings:current_personal_message)
onvarcstrtransmit=script13150(player_inspect_settings:current_personal_message)
onvarcstrtransmitlist=varclientstring_4670

// 1561:8
[personal_message_input]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
layer=mainmodal_window_content

// 1561:9
[clear_button_layer]
type=layer
x=5
y=180
width=150
height=24
layer=mainmodal_window_content

// 1561:10
[ok_button_layer]
type=layer
y=5
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 1561:11
[com_11]
type=text
x=254
y=35
width=150
height=15
layer=mainmodal_window_content
textfont=museo_sans_13pt_bold
text=Privacy:
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1561:12
[privacy_dropdown]
type=layer
x=254
y=55
width=266
height=24
widthmode=minus
layer=mainmodal_window_content

// 1561:13
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1561:14
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=player_inspect_close_settings

// 1561:15
[text_input_clickout]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=personal_message_input
hide=yes
noclickthrough=yes

// 1561:16
[text_input_box]
type=layer
y=140
width=10
height=40
widthmode=minus
xmode=abs_centre
layer=personal_message_input

// 1561:17
[text_input_border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_box
onload=rs3_background_panel(event_com, rs3_text_entry_box_active)

// 1561:18
[text_input_listener]
type=layer
width=16391
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_box
noclickthrough=yes
onvarctransmit=script7202(event_com, player_inspect_settings:text_input_listen, player_inspect_settings:text_input_caret, player_inspect_settings:text_input_display, player_inspect_settings:text_input_clickout)
onvarctransmitlist=p_dialog_listener,p_dialog_mode

// 1561:19
[text_input_listen]
type=text
x=28
width=28
height=21
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=text_input_listener
hide=yes
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xfffefe

// 1561:20
[text_input_caret]
type=rectangle
width=2
height=14
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
colour=0xe2dede
fill=yes

// 1561:21
[text_input_display]
type=text
height=21
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
textfont=museo_sans_11pt_regular
text=Enter new personal message here.
textalignh=1
textalignv=1
textshadow=yes
transmitop1=yes
op1=Enter personal message
onmouseover=rs3_background_panel(player_inspect_settings:text_input_border, rs3_text_entry_box_over)
onmouseleave=rs3_background_panel(player_inspect_settings:text_input_border, rs3_text_entry_box_active)
onclick=script7203(player_inspect_settings:text_input_stop_click, player_inspect_settings:text_input_clickout)

// 1561:22
[text_input_stop_click]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
noclickthrough=yes

// 1561:23
[input_confirm_instructions]
type=layer
y=150
width=40
height=45
widthmode=minus
xmode=abs_centre
layer=personal_message_input
hide=yes

// 1561:24
[com_24]
type=text
width=160
height=20
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=input_confirm_instructions
textfont=museo_sans_11pt_regular
text=Press Enter to confirm
textalignh=2
textalignv=1
textshadow=yes
colour=0x7592a0

// 1561:25
[ok_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ok_button_layer
onload=script7041(event_com)

// 1561:26
[ok_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ok_button_layer
onload=script7042(event_com)

// 1561:27
[ok_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ok_button_layer
onload=script7044(event_com)

// 1561:28
[ok_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ok_button_layer
hide=yes
onload=script7047(event_com)

// 1561:29
[ok_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=ok_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=closebutton_click

// 1561:30
[ok_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ok_button_layer
hide=yes
onload=script7060(event_com)

// 1561:31
[ok_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ok_button_layer

// 1561:32
[ok_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ok_button_text_layer
textfont=cinzel_13pt_bold
text=Close
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1561:33
[dropdown_build]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown

// 1561:34
[dropdown_click]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1561:35
[clear_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clear_button_layer
onload=script7699(event_com)

// 1561:36
[clear_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clear_button_layer
onload=script7728(event_com)

// 1561:37
[clear_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clear_button_layer
onload=script7729(event_com)

// 1561:38
[clear_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clear_button_layer
hide=yes
onload=script8225(event_com)

// 1561:39
[clear_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=clear_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1561:40
[clear_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clear_button_layer
hide=yes
onload=script8228(event_com)

// 1561:41
[clear_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clear_button_layer

// 1561:42
[clear_button_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clear_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Clear personal message
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1561:43
[privacy_dropdown_build]
type=layer
widthmode=minus
heightmode=minus
layer=privacy_dropdown

// 1561:44
[privacy_dropdown_click]
type=layer
widthmode=minus
heightmode=minus
layer=privacy_dropdown
transmitop1=yes
op1=Select
opcursor0=cursor_use

