// 1842:0
[main_layer]
type=layer
widthmode=minus
heightmode=minus
onload=player_inspect_status_onload(player_inspect_settings_suboverlay:dropdown_build, player_inspect_settings_suboverlay:dropdown_click, player_inspect_settings_suboverlay:privacy_dropdown_build, player_inspect_settings_suboverlay:privacy_dropdown_click)

// 1842:1
[com_1]
type=text
y=5
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=main_layer
textfont=museo_sans_11pt_regular
text=Set your status and personal message for other players to see.
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1842:2
[com_2]
type=text
x=10
y=35
width=150
height=15
layer=main_layer
textfont=museo_sans_13pt_bold
text=Status:
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1842:3
[static_dropdown]
type=layer
y=55
width=40
height=24
widthmode=minus
xmode=abs_centre
layer=main_layer

// 1842:4
[com_4]
type=text
x=10
y=85
width=150
height=15
layer=main_layer
textfont=museo_sans_13pt_bold
text=Personal Message:
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1842:5
[current_personal_message]
type=text
y=105
width=40
height=40
widthmode=minus
xmode=abs_centre
layer=main_layer
textfont=museo_sans_11pt_regular
textshadow=yes
colour=0x7592a0
onload=script13150(player_inspect_settings_suboverlay:current_personal_message)
onvarcstrtransmit=script13150(player_inspect_settings_suboverlay:current_personal_message)
onvarcstrtransmitlist=varclientstring_4670

// 1842:6
[com_6]
type=text
x=10
y=214
width=150
height=15
layer=main_layer
textfont=museo_sans_13pt_bold
text=Privacy:
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1842:7
[privacy_dropdown]
type=layer
y=234
width=40
height=24
widthmode=minus
xmode=abs_centre
layer=main_layer

// 1842:8
[dropdown_build]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown

// 1842:9
[dropdown_click]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1842:10
[privacy_dropdown_build]
type=layer
widthmode=minus
heightmode=minus
layer=privacy_dropdown

// 1842:11
[privacy_dropdown_click]
type=layer
widthmode=minus
heightmode=minus
layer=privacy_dropdown
transmitop1=yes
op1=Select
opcursor0=cursor_use

