// 629:0
[gold_window_layer]
type=layer
y=5
width=392
height=77
xmode=abs_centre

// 629:1
[pnr_family_conflict_startbar]
type=graphic
x=1
y=2
width=12
height=30
layer=gold_window_content_layer
graphic="aif_progress_bar_frame_2,0"
colour=0xffffff
clickmask=no

// 629:2
[pnr_family_conflict_midbar]
type=graphic
x=13
y=2
width=340
height=30
layer=gold_window_content_layer
graphic="aif_progress_bar_frame_2,1"
colour=0xffffff
clickmask=no

// 629:3
[pnr_family_conflict_endbar]
type=graphic
x=353
y=2
width=12
height=30
layer=gold_window_content_layer
graphic="aif_progress_bar_frame_2,2"
colour=0xffffff
clickmask=no

// 629:4
[pnr_family_conflict_fillbar]
type=graphic
x=8
y=8
width=350
height=17
layer=gold_window_content_layer
graphic=aif_skill_pioneer_progress_bar
colour=0xffffff
clickmask=no

// 629:5
[pnr_family_conflict_progress1]
type=graphic
x=8
y=2
width=64
height=30
layer=gold_window_content_layer
graphic="aif_progress_bar_frame_2,1"
colour=0xffffff
clickmask=no

// 629:6
[pnr_family_conflict_progress2]
type=graphic
x=12
y=2
width=160
height=30
xmode=abs_right
layer=gold_window_content_layer
graphic="aif_progress_bar_frame_2,1"
colour=0xffffff
clickmask=no

// 629:7
[gold_window_background_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_layer
onload=script4260(event_com)

// 629:8
[gold_window_content_layer]
type=layer
x=12
y=33
width=23
height=43
widthmode=minus
heightmode=minus
layer=gold_window_layer
onvartransmit=script99
ontimer=script99
onvartransmitlist=pnr_quest_temp

// 629:9
[gold_window_frame_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_layer
onload=script6225(event_com)

// 629:10
[gold_window_title_layer]
type=layer
y=4
width=8
height=23
widthmode=minus
xmode=abs_centre
layer=gold_window_layer

// 629:11
[gold_window_title_text]
type=text
width=16391
height=4
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_title_layer
textfont=palatino_linotype_18pt_regular
text=Family Conflict
textalignh=1
textalignv=1
colour=0xebe0bc
onload=script4262(event_com)

