// 628:0
[32px_icon]
type=graphic
widthmode=minus
heightmode=minus
layer=pnr_key_open_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 628:1
[32px_info]
type=graphic
width=32
height=32
layer=pnr_key_open_layer
graphic="rs3_icon_info_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_icon_info)

// 628:2
[pnr_key_open_layer]
type=layer
x=15
y=5
width=32
height=32
xmode=abs_right
layer=pnr_key_layer
transmitop1=yes
op1=View Key
onop=script207

// 628:3
[map]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window_content

// 628:4
[pnr_key_layer]
type=layer
width=152
heightmode=minus
xmode=abs_right
layer=modal_dialog_window_content

// 628:5
[modal_dialog_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(pnr_map:modal_dialog_window_background, pnr_map:modal_dialog_window_border, pnr_map:modal_dialog_window_content, pnr_map:modal_dialog_window_close_button, "Mining Sites Map", 21217, string_1007)

// 628:6
[pnr_key_dropdown_layer]
type=layer
y=37
height=190
widthmode=minus
layer=pnr_key_layer
hide=yes

// 628:7
[bg]
type=layer
widthmode=minus
heightmode=minus
layer=pnr_key_dropdown_layer
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 628:8
[pnr_key_youarehere]
type=graphic
x=5
y=5
width=25
height=25
layer=pnr_key_dropdown_layer
graphic="aif_skill_pioneer_map_targets,4"
colour=0xffffff
clickmask=no

// 628:9
[pnr_key_youarehere_text]
type=text
x=35
y=5
width=40
height=25
widthmode=minus
layer=pnr_key_dropdown_layer
textfont=museo_sans_11pt_regular
text=You are here
textalignv=1
textshadow=yes

// 628:10
[pnr_key_visited]
type=graphic
x=5
y=35
width=25
height=25
layer=pnr_key_dropdown_layer
graphic="aif_skill_pioneer_map_targets,0"
colour=0xffffff
clickmask=no

// 628:11
[pnr_key_visited_text]
type=text
x=35
y=35
width=40
height=25
widthmode=minus
layer=pnr_key_dropdown_layer
textfont=museo_sans_11pt_regular
text=Completed mine
textalignv=1
textshadow=yes

// 628:12
[pnr_key_notvisited]
type=graphic
x=5
y=65
width=25
height=25
layer=pnr_key_dropdown_layer
graphic="aif_skill_pioneer_map_targets,1"
colour=0xffffff
clickmask=no

// 628:13
[pnr_key_notvisited_text]
type=text
x=35
y=65
width=40
height=25
widthmode=minus
layer=pnr_key_dropdown_layer
textfont=museo_sans_11pt_regular
text=Incomplete mine
textalignv=1
textshadow=yes

// 628:14
[pnr_key_smith]
type=graphic
x=10
y=100
width=15
height=15
layer=pnr_key_dropdown_layer
graphic="mapfunction_sep,10"
colour=0xffffff
clickmask=no

// 628:15
[pnr_key_smith_text]
type=text
x=35
y=95
width=40
height=22
widthmode=minus
layer=pnr_key_dropdown_layer
textfont=museo_sans_11pt_regular
text=Blacksmiths
textalignv=1
textshadow=yes

// 628:16
[pnr_key_lodestone]
type=graphic
x=10
y=130
width=15
height=15
layer=pnr_key_dropdown_layer
graphic="mapfunction_sep,116"
colour=0xffffff
clickmask=no

// 628:17
[pnr_key_lodestone_text]
type=text
x=35
y=125
width=40
height=21
widthmode=minus
layer=pnr_key_dropdown_layer
textfont=museo_sans_11pt_regular
text=Lodestone
textalignv=1
textshadow=yes

// 628:18
[pnr_key_falador_castle]
type=graphic
x=5
y=155
width=28
height=28
layer=pnr_key_dropdown_layer
graphic="rs3_icon_lodestone_insignia,2"
colour=0xffffff
clickmask=no

// 628:19
[pnr_key_falador_lodestone_text]
type=text
x=35
y=155
width=40
height=25
widthmode=minus
layer=pnr_key_dropdown_layer
textfont=museo_sans_11pt_regular
text=Falador Castle
textalignv=1
textshadow=yes

// 628:20
[pnr_map1]
type=graphic
width=163
height=145
layer=map
graphic="aif_skill_pioneer_map_489x291,0"
colour=0xffffff
clickmask=no

// 628:21
[pnr_map2]
type=graphic
x=163
width=163
height=145
layer=map
graphic="aif_skill_pioneer_map_489x291,1"
colour=0xffffff
clickmask=no

// 628:22
[pnr_map3]
type=graphic
x=326
width=163
height=145
layer=map
graphic="aif_skill_pioneer_map_489x291,2"
colour=0xffffff
clickmask=no

// 628:23
[pnr_map4]
type=graphic
y=145
width=163
height=145
layer=map
graphic="aif_skill_pioneer_map_489x291,3"
colour=0xffffff
clickmask=no

// 628:24
[pnr_map5]
type=graphic
x=163
y=145
width=163
height=145
layer=map
graphic="aif_skill_pioneer_map_489x291,4"
colour=0xffffff
clickmask=no

// 628:25
[pnr_map6]
type=graphic
x=326
y=145
width=163
height=145
layer=map
graphic="aif_skill_pioneer_map_489x291,5"
colour=0xffffff
clickmask=no

// 628:26
[pnr_text_varrock]
type=text
x=273
y=67
width=75
height=26
layer=map
textfont=museo_sans_17pt_bold
text=Varrock
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 628:27
[pnr_text_falador]
type=text
x=119
y=99
width=32
height=32
layer=map
textfont=verdana_15pt_regular
text=Falador
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 628:28
[pnr_text_lumbridge]
type=text
x=271
y=204
width=75
height=26
layer=map
textfont=verdana_15pt_regular
text=Lumbridge
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 628:29
[pnr_map_layer]
type=layer
widthmode=minus
heightmode=minus
layer=map
onload=script206

// 628:30
[pnr_tooltip_layer]
type=layer
width=17161
height=18812
widthmode=proportion
heightmode=proportion
layer=map

// 628:31
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 628:32
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 628:33
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 628:34
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

