// 41:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(pof_barn_main:mainmodal_window_background, pof_barn_main:mainmodal_window_border, pof_barn_main:mainmodal_window_content, pof_barn_main:mainmodal_window_close_button, "Storm barn", 21218, string_1007)

// 41:1
[pof_barn_dump]
type=graphic
width=29
height=21
xmode=abs_right
ymode=abs_centre
layer=pof_barn_icon_layer
graphic="bank_bob_button,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Take all
onmouserepeat=script8799("Take all barn animals.", event_com, event_comsubid)

// 41:2
[pof_barn_give]
type=graphic
width=29
height=21
ymode=abs_centre
layer=pof_barn_icon_layer
graphic="bank_bob_button,1"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Store all
onmouserepeat=script8799("Store all animals in the barn.", event_com, event_comsubid)

// 41:3
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 41:4
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 41:5
[pof_barn_icon_layer]
type=layer
x=5
y=5
width=70
height=21
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content

// 41:6
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 41:7
[capacity]
type=text
x=85
y=5
width=312
height=20
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
text=Animals: 30/30
textalignh=2
textalignv=1
textshadow=yes
onload=script5454
oninvtransmit=script5454
oninvtransmitlist=pof_barn

// 41:8
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 41:9
[background_frame_layer]
type=layer
y=5
width=10
height=35
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
dragdeadzone=49
dragdeadtime=1
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 41:10
[build_layer]
type=layer
y=7
width=14
height=39
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 41:11
[favourites_layer]
type=layer
y=7
width=14
height=39
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
oninvtransmit=script15453(pof_barn_main:favourites_layer, pof_barn, 10, 7)
oninvtransmitlist=pof_barn

