// 869:0
[mainmodal_window]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(pof_advertisement_noticeboard:mainmodal_window_background, pof_advertisement_noticeboard:mainmodal_window_border, pof_advertisement_noticeboard:mainmodal_window_content, pof_advertisement_noticeboard:mainmodal_window_close_button, "Noticeboard", 21218, string_1007)

// 869:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 869:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 869:3
[grid]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 869:4
[static_dropdown_small]
type=layer
x=12
y=20
width=196
height=24
xmode=abs_right
layer=mainmodal_window_content

// 869:5
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 869:6
[static_dropdown_med]
type=layer
x=12
y=116
width=196
height=24
xmode=abs_right
layer=mainmodal_window_content
onload=static_dropdown_create(pof_advertisement_noticeboard:dropdown_build_med, pof_advertisement_noticeboard:dropdown_click_med, group_rank_dropdown, "Select an option", string_0)

// 869:7
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 869:8
[static_dropdown_large]
type=layer
x=12
y=212
width=196
height=24
xmode=abs_right
layer=mainmodal_window_content
onload=static_dropdown_create(pof_advertisement_noticeboard:dropdown_build_large, pof_advertisement_noticeboard:dropdown_click_large, group_rank_dropdown, "Select an option", string_0)

// 869:9
[dropdown_build_large]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown_large

// 869:10
[dropdown_click_large]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown_large
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 869:11
[dropdown_build_med]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown_med

// 869:12
[dropdown_click_med]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown_med
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 869:13
[dropdown_build_small]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown_small

// 869:14
[dropdown_click_small]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown_small
transmitop1=yes
op1=Select
opcursor0=cursor_use

