// 609:0
[com_0]
type=rectangle
widthmode=minus
heightmode=minus
layer=universe
colour=0x000000
fill=yes

// 609:1
[com_1]
type=model
x=-40
y=-158
width=55751
height=52641
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=content_layer
model=pog_brick_wall
modelorigin_x=-9
modelorigin_y=536
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=150
modelobjwidth=1742
modelobjheight=1073

// 609:2
[com_2]
type=model
x=-121
y=178
width=8039
height=32873
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=content_layer
model=pog_bolrie_poster
modelorigin_x=-52
modelorigin_y=-186
modelangle_x=506
modelangle_y=0
modelangle_z=0
modelzoom=700
modelanim=pog_bolrie_poster_rip
modelobjwidth=251
modelobjheight=670

// 609:3
[com_3]
type=model
x=75
y=-4
width=6055
height=15557
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=content_layer
model=pog_arg_poster_rigged
modelorigin_x=-251
modelorigin_y=12
modelangle_x=506
modelangle_y=0
modelangle_z=0
modelzoom=700
modelanim=pog_arg_poster_static
modelobjwidth=189
modelobjheight=317

// 609:4
[com_4]
type=model
x=-69
y=142
width=6823
height=28703
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=content_layer
model=pog_poster_hand
modelorigin_x=-93
modelorigin_y=-108
modelangle_x=506
modelangle_y=0
modelangle_z=0
modelzoom=700
modelanim=pog_poster_hand_rip
modelobjwidth=213
modelobjheight=585

// 609:5
[universe]
type=layer
widthmode=minus
heightmode=minus

// 609:6
[content_layer]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
layer=universe

