// 618:0
[com_0]
type=rectangle
widthmode=minus
heightmode=minus
layer=universe
colour=0x000000
fill=yes

// 618:1
[com_1]
type=model
x=-655
y=-527
width=55751
height=52641
widthmode=proportion
heightmode=proportion
layer=content_layer
model=pog_brick_wall
modelorigin_x=-9
modelorigin_y=536
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=150
modelobjwidth=1742
modelobjheight=1073

// 618:2
[com_2]
type=model
x=237
y=5
width=6055
height=15557
widthmode=proportion
heightmode=proportion
layer=content_layer
model=pog_arg_poster_rigged
modelorigin_x=-251
modelorigin_y=12
modelangle_x=506
modelangle_y=0
modelangle_z=0
modelzoom=700
modelanim=pog_arg_poster_static
modelobjwidth=189
modelobjheight=317

// 618:3
[universe]
type=layer
widthmode=minus
heightmode=minus

// 618:4
[content_layer]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
layer=universe

