// 615:0
[content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=universe

// 615:1
[universe]
type=layer
widthmode=minus
heightmode=minus

// 615:2
[king_bolrie]
type=model
x=13
y=10
width=117
height=268
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
model=gnome_male_bolrie_crowned
modelorigin_x=0
modelorigin_y=131
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=300
modelanim=pog_bolrie_ready
onload=script515
ontimer=script516

// 615:3
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer

// 615:4
[foreground_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 615:5
[com_5]
type=rectangle
widthmode=minus
heightmode=minus
layer=background_layer
colour=0x000000
fill=yes

