// 87:0
[contents]
type=layer
x=5
y=5
width=26
height=34
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onload=poh_bookcase_build(poh_bookcase:contents, poh_bookcase:scrollbar)
oninvtransmit=poh_bookcase_build(poh_bookcase:contents, poh_bookcase:scrollbar)
onvarctransmit=poh_bookcase_build(poh_bookcase:contents, poh_bookcase:scrollbar)
onvarcstrtransmit=poh_bookcase_build(poh_bookcase:contents, poh_bookcase:scrollbar)
oninvtransmitlist=inv
onvarctransmitlist=poh_bookcase_menu_1,poh_bookcase_menu_2,poh_bookcase_menu_3,poh_bookcase_menu_4,poh_bookcase_menu_5,poh_bookcase_menu_6,poh_bookcase_menu_7,poh_bookcase_menu_8,poh_bookcase_menu_9
onvarcstrtransmitlist=varclientstring_5877

// 87:1
[search_bar_layer]
type=layer
x=7
y=3
width=14
height=24
widthmode=minus
ymode=abs_bottom
layer=mainmodal_window_content

// 87:2
[scrollbar]
type=layer
x=5
y=5
width=16
height=30
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content
noclickthrough=yes

// 87:3
[mainmodal_window]
type=layer
width=512
height=334
onload=script8420(poh_bookcase:mainmodal_window_background, poh_bookcase:mainmodal_window_border, poh_bookcase:mainmodal_window_content, poh_bookcase:mainmodal_window_close_button, "", 21218, string_1007)

// 87:4
[input_clickout]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
hide=yes
noclickthrough=yes

// 87:5
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 87:6
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 87:7
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 87:8
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 87:9
[com_9]
type=graphic
x=2
width=16
height=14
ymode=abs_centre
layer=search_bar_layer
graphic="grand_exchange_misc_graphics,4"
colour=0xffffff
clickmask=no

// 87:10
[search_input_box]
type=layer
x=22
width=40
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=search_bar_layer

// 87:11
[search_input_cancel]
type=graphic
width=15
height=15
xmode=abs_right
ymode=abs_centre
layer=search_bar_layer
graphic="aif_tick_cross_icon,1"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Cancel Search

// 87:12
[search_input_border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=search_input_box
onload=script13964(event_com, null, rs3tli_text_entry_box)

// 87:13
[search_input_listener]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=search_input_box
noclickthrough=yes
onvarctransmit=script7202(event_com, poh_bookcase:search_input_listen, poh_bookcase:search_input_caret, poh_bookcase:search_input_display, poh_bookcase:input_clickout)
onvarctransmitlist=p_dialog_listener,p_dialog_mode

// 87:14
[search_input_listen]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=search_input_listener
hide=yes
textfont=verdana_13pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xfffefe

// 87:15
[search_input_caret]
type=rectangle
width=2
height=14
xmode=abs_centre
ymode=abs_centre
layer=search_input_listener
hide=yes
colour=0xe2dede
fill=yes

// 87:16
[search_input_display]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=search_input_listener
textfont=museo_sans_13pt_regular
text=Interact here to search for a book
textalignh=1
textalignv=1
textshadow=yes
transmitop1=yes
op1=Enter Text
onclick=script7203(poh_bookcase:search_input_stop_click, poh_bookcase:input_clickout)

// 87:17
[search_input_stop_click]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=search_input_listener
hide=yes
noclickthrough=yes

