// 1621:0
[bank_button_layer]
type=layer
width=5
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bank_container

// 1621:1
[rebuild_listener]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1621:2
[info_holder_active_1]
type=layer
widthmode=minus
heightmode=minus
layer=set_area
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1621:3
[info_holder_active_2]
type=layer
widthmode=minus
heightmode=minus
layer=name_area
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1621:4
[name_text]
type=text
x=5
y=5
width=10
height=10
widthmode=minus
heightmode=minus
layer=name_area
textfont=cinzel_13pt_bold
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 1)

// 1621:5
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
layer=item_area
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1621:6
[scrolling_area]
type=layer
y=3
width=20
height=6
widthmode=minus
heightmode=minus
layer=item_area

// 1621:7
[scrollbar]
type=layer
width=20
heightmode=minus
xmode=abs_right
layer=item_area

// 1621:8
[item_area]
type=layer
x=5
y=5
width=235
height=10
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1621:9
[info_area]
type=layer
x=5
y=5
width=220
height=10
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content
onload=script14005
onvartransmit=script14005
onvartransmitlist=bank_temp

// 1621:10
[name_area]
type=layer
height=40
widthmode=minus
layer=info_area

// 1621:11
[set_area]
type=layer
y=50
height=85
widthmode=minus
heightmode=minus
layer=info_area

// 1621:12
[bank_container]
type=layer
y=32
height=54
widthmode=minus
ymode=abs_bottom
layer=info_area

// 1621:13
[deposit_button]
type=layer
width=5
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=info_area

// 1621:14
[static_dropdown]
type=layer
height=24
widthmode=minus
layer=bank_container
onload=script14006(poh_costume_room:dropdown_build, poh_costume_room:dropdown_click)
onvartransmit=script14006(poh_costume_room:dropdown_build, poh_costume_room:dropdown_click)
onvartransmitlist=poh_costume_room_menu

// 1621:15
[set_text]
type=text
x=5
y=5
width=10
height=60
widthmode=minus
heightmode=minus
layer=set_area
textfont=museo_sans_11pt_regular
text=The following items are part of this set:
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1621:16
[set_build_area]
type=layer
y=40
height=40
widthmode=minus
heightmode=minus
layer=set_area

// 1621:17
[loading_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes

// 1621:18
[com_18]
type=rectangle
widthmode=minus
heightmode=minus
layer=loading_layer
colour=0x000000
fill=yes
trans=25

// 1621:19
[com_19]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loading_layer
textfont=museo_sans_13pt_bold
text=Loading...
textalignh=1
textalignv=1
textshadow=yes

// 1621:20
[build_area]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_area

// 1621:21
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(poh_costume_room:mainmodal_window_background, poh_costume_room:mainmodal_window_border, poh_costume_room:mainmodal_window_content, poh_costume_room:mainmodal_window_close_button, "Costume Room Storage", 21218, string_1017)
onvartransmit=script14007(poh_costume_room:mainmodal_window_background, poh_costume_room:mainmodal_window_border, poh_costume_room:mainmodal_window_content, toplevel_v2_default_main_modal_skin_data)
onvartransmitlist=poh_costume_room_menu

// 1621:22
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1621:23
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script11388

// 1621:24
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1621:25
[click_area]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_area

// 1621:26
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1621:27
[neutral_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_button_layer
onload=script7062(event_com)

// 1621:28
[neutral_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_button_layer
onload=script7063(event_com)

// 1621:29
[neutral_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_button_layer
onload=script7065(event_com)

// 1621:30
[neutral_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_button_layer
hide=yes
onload=script7068(event_com)

// 1621:31
[bank_button]
type=layer
widthmode=minus
heightmode=minus
layer=bank_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1621:32
[neutral_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_button_layer
hide=yes
onload=script7074(event_com)

// 1621:33
[neutral_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_button_layer

// 1621:34
[neutral_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer
textfont=cinzel_13pt_bold
text=Return to bank
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1621:35
[dropdown_build]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown

// 1621:36
[dropdown_click]
type=layer
widthmode=minus
heightmode=minus
layer=static_dropdown
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1621:37
[deposit_build]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_button

// 1621:38
[deposit_click]
type=layer
widthmode=minus
heightmode=minus
layer=deposit_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

