// 1306:0
[mainmodal_window]
type=layer
width=480
height=325
xmode=abs_centre
ymode=abs_centre
onload=script8420(poh_furniture_create:mainmodal_window_background, poh_furniture_create:mainmodal_window_border, poh_furniture_create:mainmodal_window_content, poh_furniture_create:mainmodal_window_close_button, "Build furniture", 21218, string_1007)

// 1306:1
[item1_container]
type=layer
width=220
height=65
layer=content

// 1306:2
[item1_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item1_container
hide=yes

// 1306:3
[item1_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item1_container
hide=yes

// 1306:4
[item1_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item1_container
hide=yes

// 1306:5
[item1_info]
type=layer
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item1_container
hide=yes

// 1306:6
[item1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item1_container
onload=poh_furniture_create(1, event_com, poh_furniture_create:item1_on, poh_furniture_create:item1_over, poh_furniture_create:item1_hit, poh_furniture_create:item1_info, poh_furniture_create:item1_disabled)

// 1306:7
[item1_disabled]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item1_container
hide=yes
colour=0x000000
fill=yes
trans=150

// 1306:8
[item2_container]
type=layer
y=68
width=220
height=65
layer=content

// 1306:9
[item2_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item2_container
hide=yes

// 1306:10
[item2_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item2_container
hide=yes

// 1306:11
[item2_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item2_container
hide=yes

// 1306:12
[item2_info]
type=layer
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item2_container
hide=yes

// 1306:13
[item2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item2_container
onload=poh_furniture_create(2, event_com, poh_furniture_create:item2_on, poh_furniture_create:item2_over, poh_furniture_create:item2_hit, poh_furniture_create:item2_info, poh_furniture_create:item2_disabled)

// 1306:14
[item2_disabled]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item2_container
hide=yes
colour=0x000000
fill=yes
trans=150

// 1306:15
[item3_container]
type=layer
y=136
width=220
height=65
layer=content

// 1306:16
[item3_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item3_container
hide=yes

// 1306:17
[item3_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item3_container
hide=yes

// 1306:18
[item3_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item3_container
hide=yes

// 1306:19
[item3_info]
type=layer
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item3_container
hide=yes

// 1306:20
[item3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item3_container
onload=poh_furniture_create(3, event_com, poh_furniture_create:item3_on, poh_furniture_create:item3_over, poh_furniture_create:item3_hit, poh_furniture_create:item3_info, poh_furniture_create:item3_disabled)

// 1306:21
[item3_disabled]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item3_container
hide=yes
colour=0x000000
fill=yes
trans=150

// 1306:22
[item4_container]
type=layer
y=204
width=220
height=65
layer=content

// 1306:23
[item4_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item4_container
hide=yes

// 1306:24
[item4_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item4_container
hide=yes

// 1306:25
[item4_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item4_container
hide=yes

// 1306:26
[item4_info]
type=layer
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item4_container
hide=yes

// 1306:27
[item4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=item4_container
onload=poh_furniture_create(4, event_com, poh_furniture_create:item4_on, poh_furniture_create:item4_over, poh_furniture_create:item4_hit, poh_furniture_create:item4_info, poh_furniture_create:item4_disabled)

// 1306:28
[item4_disabled]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item4_container
hide=yes
colour=0x000000
fill=yes
trans=150

// 1306:29
[item5_container]
type=layer
width=220
height=65
xmode=abs_right
layer=content

// 1306:30
[item5_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item5_container
hide=yes

// 1306:31
[item5_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item5_container
hide=yes

// 1306:32
[item5_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item5_container
hide=yes

// 1306:33
[item5_info]
type=layer
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item5_container
hide=yes

// 1306:34
[item5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item5_container
onload=poh_furniture_create(5, event_com, poh_furniture_create:item5_on, poh_furniture_create:item5_over, poh_furniture_create:item5_hit, poh_furniture_create:item5_info, poh_furniture_create:item5_disabled)

// 1306:35
[item5_disabled]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item5_container
hide=yes
colour=0x000000
fill=yes
trans=150

// 1306:36
[item6_container]
type=layer
y=68
width=220
height=65
xmode=abs_right
layer=content

// 1306:37
[item6_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item6_container
hide=yes

// 1306:38
[item6_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item6_container
hide=yes

// 1306:39
[item6_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item6_container
hide=yes

// 1306:40
[item6_info]
type=layer
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item6_container
hide=yes

// 1306:41
[item6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item6_container
onload=poh_furniture_create(6, event_com, poh_furniture_create:item6_on, poh_furniture_create:item6_over, poh_furniture_create:item6_hit, poh_furniture_create:item6_info, poh_furniture_create:item6_disabled)

// 1306:42
[item6_disabled]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item6_container
hide=yes
colour=0x000000
fill=yes
trans=150

// 1306:43
[item7_container]
type=layer
y=136
width=220
height=65
xmode=abs_right
layer=content

// 1306:44
[item7_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item7_container
hide=yes

// 1306:45
[item7_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item7_container
hide=yes

// 1306:46
[item7_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item7_container
hide=yes

// 1306:47
[item7_info]
type=layer
width=6
height=6
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item7_container
hide=yes

// 1306:48
[item7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item7_container
onload=poh_furniture_create(7, event_com, poh_furniture_create:item7_on, poh_furniture_create:item7_over, poh_furniture_create:item7_hit, poh_furniture_create:item7_info, poh_furniture_create:item7_disabled)

// 1306:49
[item7_disabled]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item7_container
hide=yes
colour=0x000000
fill=yes
trans=150

// 1306:50
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1306:51
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=poh_furniture_menu_onload

// 1306:52
[content]
type=layer
y=5
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 1306:53
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1306:54
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onload=poh_furniture_create_closebutton(event_com)

