// 1029:0
[polls]
type=layer
width=742
heightmode=minus

// 1029:1
[polls_main_layer]
type=layer
x=2
width=2
widthmode=minus
heightmode=minus
layer=polls

// 1029:2
[polls_title_layer]
type=layer
height=80
widthmode=minus
layer=polls_main_layer

// 1029:3
[polls_title]
type=text
x=55
width=610
height=20
layer=polls_title_layer
textfont=cinzel_18pt_bold
text=Poll Title
textlineheight=15
textshadow=yes
colour=0xffcb05

// 1029:4
[polls_title_desc]
type=text
x=57
y=25
width=609
height=42
layer=polls_title_layer
textfont=museo_sans_11pt_regular
text=Poll Question
textlineheight=14
textshadow=yes

// 1029:5
[polls_poll_category_icon]
type=graphic
x=15
y=10
width=48
height=48
xmode=abs_right
layer=polls_title_layer
hide=yes
graphic=icon_polls_polls
colour=0xffffff
clickmask=no

// 1029:6
[back_button_layer]
type=layer
x=10
y=5
width=40
height=40
layer=polls_title_layer
hide=yes
onmouseleave=script8805
onmouserepeat=script8799("Back", event_com, event_comsubid)

// 1029:7
[polls_back_button]
type=graphic
width=40
height=40
layer=back_button_layer
graphic="rs3_icon_back_43px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Back
onmouseover=graphic_swapper(event_com, "rs3_icon_back_43px,1")
onmouseleave=graphic_swapper(event_com, "rs3_icon_back_43px,0")

// 1029:8
[polls_featured_layer]
type=layer
y=55
height=55
widthmode=minus
heightmode=minus
layer=polls_main_layer

// 1029:9
[polls_featured_gold]
type=layer
x=10
y=17
width=230
height=64
heightmode=minus
layer=polls_featured_layer
transmitop1=yes
op1=Visit
onclick=script9598(1)

// 1029:10
[info_holder_inactive]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=polls_featured_gold
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1029:11
[polls_featured_gold_title]
type=text
y=5
height=50
widthmode=minus
layer=polls_featured_gold
textfont=cinzel_13pt_bold
text=Gold poll
textlineheight=15
textalignh=1
textshadow=yes

// 1029:12
[polls_featured_gold_desc]
type=text
x=2
y=179
width=4
height=75
widthmode=minus
layer=polls_featured_gold
textfont=museo_sans_13pt_regular
textlineheight=19
textalignh=1
textshadow=yes

// 1029:13
[polls_featured_gold_image]
type=graphic
y=77
width=200
height=80
xmode=abs_centre
layer=polls_featured_gold
graphic=poll_feature_banner_generic
colour=0xffffff
clickmask=no

// 1029:14
[polls_featured_gold_background]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=polls_featured_gold
hide=yes
graphic="aif_pttp_feature_tab_gold_02,0"
colour=0xffffff
clickmask=no

// 1029:15
[polls_featured_gold_time_icon]
type=graphic
x=2
y=2
width=26
height=26
ymode=abs_bottom
layer=polls_featured_gold
graphic=aif_pttp_timer_icon
colour=0xffffff
clickmask=no

// 1029:16
[polls_featured_gold_status]
type=text
y=158
height=20
widthmode=minus
layer=polls_featured_gold
textfont=museo_sans_13pt_regular
text=VOTED
textlineheight=19
textalignh=1
textalignv=1
textshadow=yes

// 1029:17
[polls_featured_gold_time]
type=text
x=30
width=200
height=31
ymode=abs_bottom
layer=polls_featured_gold
textfont=museo_sans_13pt_regular
text=3 weeks, 4 days
textalignv=1
textshadow=yes

// 1029:18
[polls_featured_gold_category]
type=layer
y=44
height=100
widthmode=minus
layer=polls_featured_gold

// 1029:19
[featured_gold_category_graphic]
type=graphic
x=15
y=33
width=35
height=35
xmode=abs_right
layer=polls_featured_gold_category
graphic=icon_polls_ninja
colour=0xffffff
clickmask=no

// 1029:20
[featured_gold_category_text]
type=text
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=polls_featured_gold_category
textfont=museo_sans_11pt_regular
text=Test Test Test
textalignh=1
textalignv=1
textshadow=yes

// 1029:21
[polls_featured_silver]
type=layer
x=255
y=17
width=230
height=64
heightmode=minus
layer=polls_featured_layer
transmitop1=yes
op1=Visit
onclick=script9598(2)

// 1029:22
[info_holder_inactive_2]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=polls_featured_silver
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1029:23
[polls_featured_silver_title]
type=text
y=5
height=50
widthmode=minus
layer=polls_featured_silver
textfont=cinzel_13pt_bold
text=Silver Poll
textlineheight=15
textalignh=1
textshadow=yes

// 1029:24
[polls_featured_silver_desc]
type=text
x=2
y=179
width=4
height=75
widthmode=minus
layer=polls_featured_silver
textfont=museo_sans_13pt_regular
textlineheight=19
textalignh=1
textshadow=yes

// 1029:25
[polls_featured_silver_image]
type=graphic
y=77
width=200
height=80
xmode=abs_centre
layer=polls_featured_silver
graphic=poll_feature_banner_generic
colour=0xffffff
clickmask=no

// 1029:26
[polls_featured_silver_time_icon]
type=graphic
x=2
y=2
width=26
height=26
ymode=abs_bottom
layer=polls_featured_silver
graphic=aif_pttp_timer_icon
colour=0xffffff
clickmask=no

// 1029:27
[polls_featured_silver_status]
type=text
y=158
height=20
widthmode=minus
layer=polls_featured_silver
textfont=museo_sans_13pt_regular
text=VOTED
textlineheight=19
textalignh=1
textalignv=1
textshadow=yes

// 1029:28
[polls_featured_silver_time]
type=text
x=30
height=31
widthmode=minus
ymode=abs_bottom
layer=polls_featured_silver
textfont=museo_sans_13pt_regular
text=3 days, 2 hours
textalignv=1
textshadow=yes

// 1029:29
[polls_featured_silver_background]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=polls_featured_silver
hide=yes
graphic="aif_pttp_feature_tab_silver_02,0"
colour=0xffffff
clickmask=no

// 1029:30
[polls_featured_silver_category]
type=layer
y=44
height=100
widthmode=minus
layer=polls_featured_silver

// 1029:31
[featured_silver_category_graphic]
type=graphic
x=15
y=33
width=35
height=35
xmode=abs_right
layer=polls_featured_silver_category
graphic=icon_polls_ninja
colour=0xffffff
clickmask=no

// 1029:32
[featured_silver_category_text]
type=text
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=polls_featured_silver_category
textfont=museo_sans_11pt_regular
text=Test Test Test
textalignh=1
textalignv=1
textshadow=yes

// 1029:33
[polls_featured_bronze]
type=layer
x=500
y=17
width=230
height=64
heightmode=minus
layer=polls_featured_layer
transmitop1=yes
op1=Visit
onclick=script9598(3)

// 1029:34
[info_holder_inactive_1]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=polls_featured_bronze
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1029:35
[polls_featured_bronze_title]
type=text
y=5
height=50
widthmode=minus
layer=polls_featured_bronze
textfont=cinzel_13pt_bold
text=Bronze Poll
textlineheight=15
textalignh=1
textshadow=yes

// 1029:36
[polls_featured_bronze_desc]
type=text
x=2
y=179
width=4
height=75
widthmode=minus
layer=polls_featured_bronze
textfont=museo_sans_13pt_regular
textlineheight=19
textalignh=1
textshadow=yes

// 1029:37
[polls_featured_bronze_status]
type=text
y=158
height=20
widthmode=minus
layer=polls_featured_bronze
textfont=museo_sans_13pt_regular
text=VOTED
textlineheight=19
textalignh=1
textalignv=1
textshadow=yes

// 1029:38
[polls_featured_bronze_image]
type=graphic
y=77
width=200
height=80
xmode=abs_centre
layer=polls_featured_bronze
graphic=poll_feature_banner_generic
colour=0xffffff
clickmask=no

// 1029:39
[polls_featured_bronze_background]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=polls_featured_bronze
hide=yes
graphic="aif_pttp_feature_tab_bronze_02,0"
colour=0xffffff
clickmask=no

// 1029:40
[polls_featured_bronze_time_icon]
type=graphic
x=2
y=2
width=26
height=26
ymode=abs_bottom
layer=polls_featured_bronze
graphic=aif_pttp_timer_icon
colour=0xffffff
clickmask=no

// 1029:41
[polls_featured_bronze_time]
type=text
x=30
height=31
widthmode=minus
ymode=abs_bottom
layer=polls_featured_bronze
textfont=museo_sans_13pt_regular
text=23 hours, 3 minutes
textalignv=1
textshadow=yes

// 1029:42
[polls_featured_bronze_category]
type=layer
y=44
height=100
widthmode=minus
layer=polls_featured_bronze

// 1029:43
[featured_bronze_category_graphic]
type=graphic
x=15
y=33
width=35
height=35
xmode=abs_right
layer=polls_featured_bronze_category
graphic=icon_polls_polls
colour=0xffffff
clickmask=no

// 1029:44
[featured_bronze_category_text]
type=text
width=10
height=30
widthmode=minus
xmode=abs_centre
layer=polls_featured_bronze_category
textfont=museo_sans_11pt_regular
text=Test Test Test
textalignh=1
textalignv=1
textshadow=yes

// 1029:45
[polls_history_button]
type=layer
y=5
width=200
height=27
xmode=abs_centre
ymode=abs_bottom
layer=polls_featured_layer

// 1029:46
[polls_history_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=polls_history_button
onload=script7062(event_com)

// 1029:47
[polls_history_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=polls_history_button
onload=script7063(event_com)

// 1029:48
[polls_history_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_history_button
onload=script7066(event_com)

// 1029:49
[polls_history_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_history_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1029:50
[polls_history_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=polls_history_button
noclickthrough=yes
onload=script7069(event_com)

// 1029:51
[polls_history_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_history_button

// 1029:52
[polls_history_button_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=polls_history_button_text_layer
textfont=cinzel_12pt_bold
text=Poll Archive
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1029:53
[polls_forum_button]
type=layer
x=245
y=5
width=200
height=27
xmode=abs_centre
ymode=abs_bottom
layer=polls_featured_layer
hide=yes

// 1029:54
[polls_forum_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=polls_forum_button
onload=script7062(event_com)

// 1029:55
[polls_forum_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=polls_forum_button
onload=script7063(event_com)

// 1029:56
[polls_forum_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_forum_button
onload=script7066(event_com)

// 1029:57
[polls_forum_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_forum_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1029:58
[polls_forum_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=polls_forum_button
noclickthrough=yes
onload=script7069(event_com)

// 1029:59
[polls_forum_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_forum_button

// 1029:60
[polls_forum_button_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=polls_forum_button_text_layer
textfont=cinzel_12pt_bold
text=Poll suggestions
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1029:61
[polls_content_layer]
type=layer
y=5
height=39
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=polls_main_layer
hide=yes

// 1029:62
[polls_voting_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_content_layer
hide=yes

// 1029:63
[polls_survey_layer]
type=layer
y=35
height=70
widthmode=minus
heightmode=minus
layer=polls_voting_layer

// 1029:64
[polls_survey_options_layer]
type=layer
x=10
y=5
width=20
widthmode=minus
heightmode=minus
layer=polls_survey_layer

// 1029:65
[polls_survey_options_content]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_options_layer

// 1029:66
[polls_survey_options_bg_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_options_content

// 1029:67
[polls_survey_options_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_options_content

// 1029:68
[polls_survey_options_radio_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_options_content

// 1029:69
[polls_survey_options_line_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_options_content

// 1029:70
[polls_survey_options_question_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_options_content

// 1029:71
[polls_survey_results_layer]
type=layer
x=10
y=5
width=20
widthmode=minus
heightmode=minus
layer=polls_survey_layer

// 1029:72
[polls_survey_results_content]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_results_layer

// 1029:73
[polls_survey_results_question_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_results_content

// 1029:74
[polls_survey_results_bars]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_results_content

// 1029:75
[polls_survey_results_option_text]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_results_content

// 1029:76
[polls_survey_scroll_layer]
type=layer
x=5
y=5
width=20
height=5
heightmode=minus
xmode=abs_right
layer=polls_survey_layer

// 1029:77
[polls_survey_image_box]
type=layer
x=25
y=5
width=260
height=161
xmode=abs_right
layer=polls_survey_layer

// 1029:78
[polls_background]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_image_box
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1029:79
[polls_survey_image_graphic]
type=graphic
x=5
y=5
width=250
height=151
ymode=abs_bottom
layer=polls_survey_image_box
colour=0xffffff
clickmask=no

// 1029:80
[polls_victory_layer]
type=layer
x=10
width=381
height=27
widthmode=minus
ymode=abs_bottom
layer=polls_voting_layer

// 1029:81
[com_81]
type=graphic
x=8
width=24
height=24
ymode=abs_centre
layer=polls_victory_layer
graphic=rs3_icon_info
colour=0xffffff
clickmask=no

// 1029:82
[polls_victory_text]
type=text
x=40
width=40
widthmode=minus
heightmode=minus
layer=polls_victory_layer
textfont=museo_sans_11pt_regular
text=70% of the vote is required to win.
colour=0xaed0e0

// 1029:83
[polls_forum_button_specific]
type=layer
x=12
width=170
height=27
xmode=abs_right
ymode=abs_bottom
layer=polls_voting_layer

// 1029:84
[polls_forum_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=polls_forum_button_specific
onload=script7062(event_com)

// 1029:85
[polls_forum_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=polls_forum_button_specific
onload=script7063(event_com)

// 1029:86
[polls_forum_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=polls_forum_button_specific
onload=script7066(event_com)

// 1029:87
[polls_wiki_button_specific_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_forum_button_specific
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1029:88
[polls_forum_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=polls_forum_button_specific
noclickthrough=yes
onload=script7069(event_com)

// 1029:89
[polls_forum_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=polls_forum_button_specific

// 1029:90
[polls_forum_button_text_1]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=polls_forum_button_text_layer_1
textfont=cinzel_13pt_bold
text=Poll forum
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1029:91
[polls_survey_vote_button]
type=layer
x=192
width=170
height=27
xmode=abs_right
ymode=abs_bottom
layer=polls_voting_layer
hide=yes

// 1029:92
[polls_survey_vote_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=polls_survey_vote_button
onload=script7041(event_com)

// 1029:93
[polls_survey_vote_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=polls_survey_vote_button
onload=script7042(event_com)

// 1029:94
[polls_survey_vote_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_vote_button
onload=script7045(event_com)

// 1029:95
[polls_survey_vote_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_vote_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1029:96
[polls_survey_vote_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=polls_survey_vote_button
noclickthrough=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script7056(event_com)

// 1029:97
[polls_survey_vote_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_survey_vote_button

// 1029:98
[polls_survey_vote_button_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=polls_survey_vote_button_text_layer
textfont=cinzel_13pt_bold
text=Vote
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1029:99
[polls_loading_layer]
type=layer
widthmode=minus
heightmode=minus
layer=polls_main_layer
hide=yes

// 1029:100
[com_100]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=polls_loading_layer
colour=0x000000
fill=yes
trans=55

// 1029:101
[polls_loading_spinner]
type=layer
y=30
width=72
height=72
xmode=abs_centre
ymode=abs_centre
layer=polls_loading_layer
onload=spinner_create(event_com, 1, -1)

// 1029:102
[polls_desc_title_2]
type=text
y=-30
width=363
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=polls_loading_layer
textfont=cinzel_15pt_bold
text=Retrieving poll information
textalignh=1
textalignv=1

// 1029:103
[polls_timer_layer]
type=layer
width=50
height=44
ymode=abs_bottom
layer=polls

// 1029:104
[polls_timer_gold]
type=layer
y=10
width=10
height=10
xmode=abs_centre
layer=polls_timer_layer

// 1029:105
[polls_timer_silver]
type=layer
y=20
width=10
height=10
xmode=abs_centre
layer=polls_timer_layer

// 1029:106
[polls_timer_bronze]
type=layer
y=30
width=10
height=10
xmode=abs_centre
layer=polls_timer_layer

// 1029:107
[member_upsell]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=polls
hide=yes
noclickthrough=yes

// 1029:108
[com_108]
type=rectangle
widthmode=minus
heightmode=minus
layer=member_upsell
colour=0x000000
fill=yes
trans=50

// 1029:109
[modal_dialog_window]
type=layer
width=517
height=200
xmode=abs_centre
ymode=abs_centre
layer=member_upsell
onload=script8420(polls:modal_dialog_window_background, polls:modal_dialog_window_border, polls:modal_dialog_window_content, polls:modal_dialog_window_close_button, "", 21259, null)

// 1029:110
[modal_dialog_window_background]
type=layer
y=8
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1029:111
[modal_dialog_window_content]
type=layer
y=8
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1029:112
[com_112]
type=text
y=5
width=148
height=39
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_11pt_regular
text=Welcome to the Power to the Players polls!<br><br>These polls ask you to vote for your favourite updates.<br>The winning options then get put into the game!<br>You must be a member to vote in the majority of these polls.<br><br>Subscribe now and change the future of RuneScape. 
textalignh=1
textshadow=yes

// 1029:113
[com_113]
type=graphic
x=5
width=64
height=60
ymode=abs_centre
layer=modal_dialog_window_content
graphic=rs3_btn_membership_nml
colour=0xffffff
clickmask=no

// 1029:114
[com_114]
type=graphic
x=5
width=64
height=60
xmode=abs_right
ymode=abs_centre
layer=modal_dialog_window_content
graphic=rs3_btn_membership_nml
colour=0xffffff
clickmask=no

// 1029:115
[subscribe_button_layer]
type=layer
y=5
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content

// 1029:116
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_layer
onload=script7041(event_com)

// 1029:117
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_layer
onload=script7042(event_com)

// 1029:118
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_layer
onload=script7044(event_com)

// 1029:119
[subscribe_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_layer
hide=yes
onload=script7047(event_com)

// 1029:120
[positive_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=subscribe_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1029:121
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_layer
hide=yes
onload=script7060(event_com)

// 1029:122
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_layer

// 1029:123
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Subscribe
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1029:124
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 1029:125
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=script3935

