// 893:0
[mainmodal_window_content_main]
type=layer
x=-125
width=292
height=15
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 893:1
[mainmodal_window_content_side]
type=layer
x=125
width=292
height=15
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 893:2
[com_2]
type=line
height=280
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
colour=0x7592a0

// 893:3
[storage_title]
type=text
y=5
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content_main
textfont=cinzel_18pt_bold_multiline
text=Storage
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 893:4
[box]
type=layer
y=44
width=20
height=220
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content_main
candrop=yes

// 893:5
[border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=box
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 893:6
[fungalflakes_background]
type=graphic
x=-31
y=-56
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=box
colour=0xffffff
clickmask=no

// 893:7
[fungalflakes]
type=graphic
x=-29
y=-56
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op10=Examine
onload=farming_tools_main(event_com, polypore_storage:fungalflakes_background, fungal_flake, 1)
ondragcomplete=script9556(event_com, polypore_storage:fungalflakes_background, polypore_storage:fungalflakes_side, polypore_storage:fungalflakes_background_side, 58523665, event_com2)

// 893:8
[grifolicflakes_background]
type=graphic
x=31
y=-56
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=box
colour=0xffffff
clickmask=no

// 893:9
[grifolicflakes]
type=graphic
x=33
y=-56
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op10=Examine
onload=farming_tools_main(event_com, polypore_storage:grifolicflakes_background, grifolic_flake, 1)
ondragcomplete=script9556(event_com, polypore_storage:grifolicflakes_background, polypore_storage:grifolicflakes_side, polypore_storage:grifolicflakes_background_side, 58523665, event_com2)

// 893:10
[ganodermicflakes_background]
type=graphic
x=-31
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=box
colour=0xffffff
clickmask=no

// 893:11
[ganodermicflakes]
type=graphic
x=-29
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op10=Examine
onload=farming_tools_main(event_com, polypore_storage:ganodermicflakes_background, ganodermic_flake, 1)
ondragcomplete=script9556(event_com, polypore_storage:ganodermicflakes_background, polypore_storage:ganodermicflakes_side, polypore_storage:ganodermicflakes_background_side, 58523665, event_com2)

// 893:12
[polyporespores_background]
type=graphic
x=31
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=box
colour=0xffffff
clickmask=no

// 893:13
[polyporespores]
type=graphic
x=33
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Remove-1
op2=Remove-5
op3=Remove-All
op4=Remove-X
op10=Examine
onload=farming_tools_main(event_com, polypore_storage:polyporespores_background, polypore_spore, 1)
ondragcomplete=script9556(event_com, polypore_storage:polyporespores_background, polypore_storage:polyporespores_side, polypore_storage:polyporespores_background_side, 58523665, event_com2)

// 893:14
[neemoil_background]
type=graphic
y=56
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=box
colour=0xffffff
clickmask=no

// 893:15
[neemoil]
type=graphic
x=2
y=56
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=box
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Remove
op10=Examine
onload=farming_tools_main(event_com, polypore_storage:neemoil_background, polypore_neem_oil, 1)
ondragcomplete=script9556(event_com, polypore_storage:neemoil_background, polypore_storage:neemoil_side, polypore_storage:neemoil_background_side, 58523665, event_com2)

// 893:16
[inv_title]
type=text
y=5
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content_side
textfont=cinzel_18pt_bold_multiline
text=Inventory
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 893:17
[box_side]
type=layer
y=44
width=20
height=220
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content_side
candrop=yes

// 893:18
[border_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=box_side
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 893:19
[fungalflakes_background_side]
type=graphic
x=-31
y=-56
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=box_side
colour=0xffffff
clickmask=no

// 893:20
[fungalflakes_side]
type=graphic
x=-29
y=-56
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, polypore_storage:fungalflakes_background_side, fungal_flake, 1)
ondragcomplete=script9557(event_com, polypore_storage:fungalflakes_background_side, polypore_storage:fungalflakes, polypore_storage:fungalflakes_background, 58523652, event_com2)

// 893:21
[grifolicflakes_background_side]
type=graphic
x=31
y=-56
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=box_side
colour=0xffffff
clickmask=no

// 893:22
[grifolicflakes_side]
type=graphic
x=33
y=-56
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, polypore_storage:grifolicflakes_background_side, grifolic_flake, 1)
ondragcomplete=script9557(event_com, polypore_storage:grifolicflakes_background_side, polypore_storage:grifolicflakes, polypore_storage:grifolicflakes_background, 58523652, event_com2)

// 893:23
[ganodermicflakes_background_side]
type=graphic
x=-31
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=box_side
colour=0xffffff
clickmask=no

// 893:24
[ganodermicflakes_side]
type=graphic
x=-29
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, polypore_storage:ganodermicflakes_background_side, ganodermic_flake, 1)
ondragcomplete=script9557(event_com, polypore_storage:ganodermicflakes_background_side, polypore_storage:ganodermicflakes, polypore_storage:ganodermicflakes_background, 58523652, event_com2)

// 893:25
[polyporespores_background_side]
type=graphic
x=31
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=box_side
colour=0xffffff
clickmask=no

// 893:26
[polyporespores_side]
type=graphic
x=33
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop10=yes
op1=Store-1
op2=Store-5
op3=Store-All
op4=Store-X
op10=Examine
onload=farming_tools_side(event_com, polypore_storage:polyporespores_background_side, polypore_spore, 1)
ondragcomplete=script9557(event_com, polypore_storage:polyporespores_background_side, polypore_storage:polyporespores, polypore_storage:polyporespores_background, 58523652, event_com2)

// 893:27
[neemoil_background_side]
type=graphic
y=56
width=36
height=36
xmode=abs_centre
ymode=abs_centre
layer=box_side
colour=0xffffff
clickmask=no

// 893:28
[neemoil_side]
type=graphic
x=2
y=56
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=box_side
outline=1
graphicshadow=3153952
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Store
op10=Examine
onload=farming_tools_side(event_com, polypore_storage:neemoil_background_side, polypore_neem_oil, 1)
ondragcomplete=script9557(event_com, polypore_storage:neemoil_background_side, polypore_storage:neemoil, polypore_storage:neemoil_background, 58523652, event_com2)

// 893:29
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(polypore_storage:mainmodal_window_background, polypore_storage:mainmodal_window_border, polypore_storage:mainmodal_window_content, polypore_storage:mainmodal_window_close_button, "Fungal Storage", 21218, string_1007)

// 893:30
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 893:31
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 893:32
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 893:33
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

