// 952:0
[pop_minigame_layer]
type=layer
width=129
height=103

// 952:1
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
layer=pop_minigame_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 952:2
[pop2_re3_objpic]
type=graphic
y=5
width=36
height=32
xmode=abs_centre
layer=pop_minigame_layer
colour=0xffffff
clickmask=no

// 952:3
[pop_seasinger_itemsleft]
type=text
y=2
width=10
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pop_minigame_layer
textfont=museo_sans_13pt_regular
text=Items left: X
textalignh=1
textalignv=1
textshadow=yes

// 952:4
[exit]
type=layer
y=5
width=10
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=pop_minigame_layer
transmitop1=yes
op1=Exit
opcursor0=cursor_enter
onload=script13968(event_com, null, rs3tli_neutral_button, "Quit")

