// 446:0
[pop_minigame_layer]
type=layer
width=130
height=125

// 446:1
[content_panel_blue]
type=layer
height=75
widthmode=minus
layer=pop_minigame_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 446:2
[exit]
type=layer
y=40
width=10
height=27
widthmode=minus
xmode=abs_centre
layer=pop_minigame_layer
transmitop1=yes
op1=Exit
opcursor0=cursor_enter
onload=script13968(event_com, null, rs3tli_neutral_button, "Quit")

// 446:3
[minutes]
type=text
x=-30
y=10
width=32
height=24
xmode=abs_centre
layer=pop_minigame_layer
textfont=museo_sans_13pt_regular
text=99
textalignh=1
textalignv=1
textshadow=yes

// 446:4
[com_4]
type=text
y=10
width=32
height=32
xmode=abs_centre
layer=pop_minigame_layer
textfont=museo_sans_17pt_bold
text=:
textalignh=1
textshadow=yes

// 446:5
[seconds]
type=text
x=30
y=10
width=32
height=24
xmode=abs_centre
layer=pop_minigame_layer
textfont=museo_sans_13pt_regular
text=99
textalignh=1
textalignv=1
textshadow=yes

// 446:6
[beerglass_1]
type=model
x=-25
y=80
width=35
height=35
xmode=abs_centre
layer=pop_minigame_layer
hide=yes
model=human_weapons_beer
modelorigin_x=-84
modelorigin_y=-5
modelangle_x=1570
modelangle_y=0
modelangle_z=1228
modelzoom=459

// 446:7
[beerglass_2]
type=model
x=25
y=80
width=35
height=35
xmode=abs_centre
layer=pop_minigame_layer
hide=yes
model=human_weapons_beer
modelorigin_x=-84
modelorigin_y=-5
modelangle_x=1570
modelangle_y=0
modelangle_z=1228
modelzoom=459

