// 675:0
[com_0]
type=text
x=30
y=10
width=200
height=18
ymode=abs_bottom
layer=content
textfont=museo_sans_13pt_regular
text=Never show again
textalignv=1
textshadow=yes

// 675:1
[never_show_again]
type=layer
x=10
y=10
width=18
height=18
ymode=abs_bottom
layer=content
onload=script3006
onvartransmit=script3006
onvartransmitlist=pop_perm_storage_2,pop_perm_storage_2,pop_perm_storage_2

// 675:2
[assassin_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content
hide=yes

// 675:3
[assassin_tutorialinfo]
type=text
x=5
y=5
width=362
heightmode=minus
layer=assassin_layer
textfont=museo_sans_11pt_regular_multiline
text=Help the Black Marketeer work off his debt to the Death Lotus Assassins.<br><br>Find the assassins hidden in barrels around the port, each assassin will give you clues as to who their victim is. The victim is one of the <col=ffcc00>Wandering Strangers</col>. When you think you have found their victim, <col=ffcc00>Identify</col> the victim. <br><br>If you have selected the right person, the assassin will turn up to "remove" them from the port, otherwise the assassin will give you additional information to help you narrow down your search. <br><br>Help 3 assassins. There are 5 assassins in total.
textshadow=yes

// 675:4
[assassin]
type=model
x=394
y=5
width=68
height=174
ymode=abs_bottom
layer=assassin_layer
model=pop_additional_assassin_female
modelorigin_x=7
modelorigin_y=85
modelangle_x=45
modelangle_y=210
modelangle_z=0
modelzoom=609
modelanim=pop_assassin_hide_in_barrel

// 675:5
[barrel]
type=model
x=381
y=5
width=99
height=89
ymode=abs_bottom
layer=assassin_layer
model=pop_port_barrel_var3
modelorigin_x=9
modelorigin_y=44
modelangle_x=0
modelangle_y=28
modelangle_z=0
modelzoom=800

// 675:6
[barmaid_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content
hide=yes

// 675:7
[com_7]
type=text
x=5
y=5
width=335
heightmode=minus
layer=barmaid_layer
textfont=museo_sans_11pt_regular_multiline
text=Help Surula serve her rowdy bar patrons.<br><br>Surula, the barmaid, has a number of <col=ffcc00>Patrons</col> desperately in need of a nice cold pint of beer. Unfortunately she only has <col=ffcc00>two</col> hands. <br><br>Take control of Surula and serve all the <col=ffcc00>patrons</col> in as short a time as possible. Visit the <col=ffcc00>bar</col> where Surula normally stands, to stock up on delicious beer, then <col=ffcc00>serve</col> any <col=ffcc00>patrons</col> who are still waiting on their order. <br><br>There are <col=ffcc00>20 patrons</col> in total to <col=ffcc00>serve</col> and they are all over the bar and immediately outside. Once you have <col=ffcc00>served</col> a patron, the option to serve them again will vanish. <br><br>You must serve all patrons to complete the event.
textshadow=yes

// 675:8
[com_8]
type=model
x=353
y=5
width=138
height=122
ymode=abs_bottom
layer=barmaid_layer
model=pop_port_barrel_var1
modelorigin_x=6
modelorigin_y=60
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=596

// 675:9
[com_9]
type=model
x=353
y=5
width=46
height=36
ymode=abs_bottom
layer=barmaid_layer
model=human_weapons_beer_glass_empty
modelorigin_x=22
modelorigin_y=4
modelangle_x=1547
modelangle_y=0
modelangle_z=0
modelzoom=316

// 675:10
[com_10]
type=model
x=413
y=5
width=55
height=61
ymode=abs_bottom
layer=barmaid_layer
model=human_weapons_beer
modelorigin_x=-54
modelorigin_y=19
modelangle_x=1507
modelangle_y=0
modelangle_z=1024
modelzoom=316

// 675:11
[seasinger_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content
hide=yes

// 675:12
[seasinger_tutorialinfo]
type=text
x=5
y=5
width=335
heightmode=minus
layer=seasinger_layer
textfont=museo_sans_11pt_regular_multiline
text=Help Seasinger Umi earn her keep in Port.<br><br>Some mischievous person has messed up the storage room above the lodgings, and has scrambled the list of items needed for use round the port today! Speak to the <col=ffcc00>Warehouse Worker</col> to get your clue, then search the <col=ffcc00>barrels</col> and <col=ffcc00>crates</col> to find the item it describes. Present the item to the <col=ffcc00>Warehouse Worker</col> if you think it is the right one.<br><br>You have to locate 3 items in total.
textshadow=yes

// 675:13
[seasinger]
type=model
x=392
y=5
width=67
height=173
ymode=abs_bottom
layer=seasinger_layer
model=elr2_siren_umi_npc
modelorigin_x=-3
modelorigin_y=84
modelangle_x=45
modelangle_y=210
modelangle_z=0
modelzoom=609
modelanim=pop_siren_searching

// 675:14
[never_show_again_build]
type=layer
widthmode=minus
heightmode=minus
layer=never_show_again

// 675:15
[never_show_again_click]
type=layer
widthmode=minus
heightmode=minus
layer=never_show_again
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 675:16
[mainmodal_window]
type=layer
height=39
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(pop_randomevent_tutorial:mainmodal_window_background, pop_randomevent_tutorial:mainmodal_window_border, pop_randomevent_tutorial:mainmodal_window_content, pop_randomevent_tutorial:mainmodal_window_close_button, "Tutorial", 21218, string_1007)

// 675:17
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 675:18
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 675:19
[content]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 675:20
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 675:21
[mainmodal_window_close_button]
type=layer
width=1
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

