// 944:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(pop_log:mainmodal_window_background, pop_log:mainmodal_window_border, pop_log:mainmodal_window_content, pop_log:mainmodal_window_close_button, "Captian's Log", 21218, string_1007)

// 944:1
[resource_hook]
type=layer
width=1
height=1
layer=gold_window_content_layer
onvartransmit=script7354
onvartransmitlist=pop_port_goods_1,pop_port_resource_1,pop_port_resource_2,pop_port_resource_3,pop_port_resource_4,pop_port_resource_5,pop_port_resource_6,pop_port_resource_7

// 944:2
[ships_hook_1]
type=layer
width=1
height=1
layer=gold_window_content_layer
onvartransmit=script7350
onvartransmitlist=pop_ship_name_1,pop_ship_name_2,pop_ship_name_3,pop_ship_name_4

// 944:3
[ships_hook_2]
type=layer
width=1
height=1
layer=gold_window_content_layer
onvartransmit=script7352
onvartransmitlist=pop_voyages_1_2,pop_voyages_3_4,pop_voyages_asynch

// 944:4
[people_hook]
type=layer
width=1
height=1
layer=gold_window_content_layer
onvartransmit=script7356
onvartransmitlist=pop_adventurer_1,pop_adventurer_2,pop_adventurer_3,pop_adventurer_4,pop_adventurer_5,pop_adventurer_6,pop_captain_n_appearance,pop_perm_storage_2

// 944:5
[stats_hook]
type=layer
width=1
height=1
layer=gold_window_content_layer
onvartransmit=script7358
onvartransmitlist=pop_perm_storage_1,pop_perm_storage_2,pop_perm_storage_3

// 944:6
[next_layer]
type=layer
width=32
heightmode=minus
xmode=abs_right
layer=gold_window_content_layer
transmitop1=yes
op1=Next
onop=script7347

// 944:7
[32px_arrow_right]
type=graphic
width=32
height=32
ymode=abs_centre
layer=next_layer
graphic="rs3_icon_direction_right_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_icon_arrow_right)

// 944:8
[prev_layer]
type=layer
width=32
heightmode=minus
layer=gold_window_content_layer
transmitop1=yes
op1=Previous
onop=script7348

// 944:9
[32px_arrow_left_1]
type=graphic
width=32
height=32
ymode=abs_centre
layer=prev_layer
graphic="rs3_icon_direction_left_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_icon_arrow_left)

// 944:10
[ships_layer]
type=layer
width=60
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=gold_window_content_layer

// 944:11
[resource_layer]
type=layer
width=60
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=gold_window_content_layer
hide=yes

// 944:12
[com_12]
type=text
y=27
width=85
height=35
xmode=abs_right
layer=ships_layer
textfont=museo_sans_11pt_regular
text=Voyage list
textalignv=1
textshadow=yes

// 944:13
[com_13]
type=text
y=75
width=85
height=35
xmode=abs_right
layer=ships_layer
textfont=museo_sans_11pt_regular
text=Shipyard
textalignv=1
textshadow=yes

// 944:14
[com_14]
type=text
height=26
widthmode=minus
layer=resource_layer
textfont=cinzel_13pt_bold
text=Port Resources
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 944:15
[com_15]
type=text
x=5
y=25
width=225
height=18
widthmode=minus
layer=resource_layer
textfont=cinzel_13pt_bold
text=Port Resources
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 944:16
[com_16]
type=text
x=5
y=25
width=225
height=18
widthmode=minus
xmode=abs_right
layer=resource_layer
textfont=cinzel_13pt_bold
text=Trade Goods
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 944:17
[resources_box]
type=layer
x=-108
y=45
width=300
height=235
widthmode=minus
xmode=abs_centre
layer=resource_layer

// 944:18
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
layer=resources_box
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 944:19
[com_19]
type=graphic
x=5
y=5
width=25
height=25
layer=resources_box
graphic="aif_pop_exp_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Chimes", event_com, event_comsubid)

// 944:20
[resource_1]
type=text
x=5
y=5
width=50
height=25
widthmode=minus
xmode=abs_right
layer=resources_box
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
onmouserepeat=script8799("Chimes", event_com, event_comsubid)

// 944:21
[com_21]
type=graphic
x=5
y=30
width=25
height=25
layer=resources_box
graphic="aif_pop_exp_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Bamboo", event_com, event_comsubid)

// 944:22
[resource_2]
type=text
x=5
y=30
width=50
height=25
widthmode=minus
xmode=abs_right
layer=resources_box
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
onmouserepeat=script8799("Bamboo", event_com, event_comsubid)

// 944:23
[com_23]
type=graphic
x=5
y=55
width=25
height=25
layer=resources_box
graphic="aif_pop_exp_cargo_icons_34x34,4"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Gunpowder", event_com, event_comsubid)

// 944:24
[resource_3]
type=text
x=5
y=55
width=50
height=25
widthmode=minus
xmode=abs_right
layer=resources_box
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
onmouserepeat=script8799("Gunpowder", event_com, event_comsubid)

// 944:25
[com_25]
type=graphic
x=5
y=80
width=25
height=25
layer=resources_box
graphic="aif_pop_exp_cargo_icons_34x34,2"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Black Slate", event_com, event_comsubid)

// 944:26
[resource_4]
type=text
x=5
y=80
width=50
height=25
widthmode=minus
xmode=abs_right
layer=resources_box
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
onmouserepeat=script8799("Black Slate", event_com, event_comsubid)

// 944:27
[com_27]
type=graphic
x=5
y=105
width=25
height=25
layer=resources_box
graphic="aif_pop_exp_cargo_icons_34x34,5"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Cherrywood", event_com, event_comsubid)

// 944:28
[resource_5]
type=text
x=5
y=105
width=50
height=25
widthmode=minus
xmode=abs_right
layer=resources_box
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
onmouserepeat=script8799("Cherrywood", event_com, event_comsubid)

// 944:29
[com_29]
type=graphic
x=5
y=130
width=25
height=25
layer=resources_box
graphic="aif_pop_exp_cargo_icons_34x34,6"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Jade", event_com, event_comsubid)

// 944:30
[resource_6]
type=text
x=5
y=130
width=50
height=25
widthmode=minus
xmode=abs_right
layer=resources_box
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
onmouserepeat=script8799("Jade", event_com, event_comsubid)

// 944:31
[com_31]
type=graphic
x=5
y=155
width=25
height=25
layer=resources_box
graphic="aif_pop_exp_cargo_icons_34x34,3"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Stainless Steel", event_com, event_comsubid)

// 944:32
[resource_7]
type=text
x=5
y=155
width=50
height=25
widthmode=minus
xmode=abs_right
layer=resources_box
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
onmouserepeat=script8799("Stainless Steel", event_com, event_comsubid)

// 944:33
[com_33]
type=graphic
x=5
y=180
width=25
height=25
layer=resources_box
graphic="aif_pop_exp_cargo_icons_34x34,37"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Terracotta", event_com, event_comsubid)

// 944:34
[resource_8]
type=text
x=5
y=180
width=50
height=25
widthmode=minus
xmode=abs_right
layer=resources_box
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
onmouserepeat=script8799("Terracotta", event_com, event_comsubid)

// 944:35
[com_35]
type=graphic
x=5
y=205
width=25
height=25
layer=resources_box
graphic="aif_pop_exp_cargo_icons_34x34,38"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Azure", event_com, event_comsubid)

// 944:36
[resource_9]
type=text
x=5
y=205
width=50
height=25
widthmode=minus
xmode=abs_right
layer=resources_box
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
onmouserepeat=script8799("Azure", event_com, event_comsubid)

// 944:37
[goods_box]
type=layer
x=107
y=45
width=300
height=235
widthmode=minus
xmode=abs_centre
layer=resource_layer

// 944:38
[content_panel_blue_1]
type=layer
widthmode=minus
heightmode=minus
layer=goods_box
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 944:39
[com_39]
type=graphic
x=-20
y=5
width=25
height=25
xmode=abs_centre
layer=goods_box
graphic="aif_pop_exp_cargo_icons_34x34,7"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Ancient Bones", event_com, event_comsubid)

// 944:40
[reward_1]
type=text
x=5
y=5
width=80
height=25
widthmode=minus
xmode=abs_right
layer=goods_box
textfont=museo_sans_13pt_regular
text=XXX
textalignv=1
textshadow=yes
onmouserepeat=script8799("Ancient Bones", event_com, event_comsubid)

// 944:41
[com_41]
type=graphic
x=-20
y=30
width=25
height=25
xmode=abs_centre
layer=goods_box
graphic="aif_pop_exp_cargo_icons_34x34,8"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Plate", event_com, event_comsubid)

// 944:42
[reward_2]
type=text
x=5
y=30
width=80
height=25
widthmode=minus
xmode=abs_right
layer=goods_box
textfont=museo_sans_13pt_regular
text=XXX
textalignv=1
textshadow=yes
onmouserepeat=script8799("Plate", event_com, event_comsubid)

// 944:43
[com_43]
type=graphic
x=-20
y=55
width=25
height=25
xmode=abs_centre
layer=goods_box
graphic="aif_pop_exp_cargo_icons_34x34,9"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Spices", event_com, event_comsubid)

// 944:44
[reward_3]
type=text
x=5
y=55
width=80
height=25
widthmode=minus
xmode=abs_right
layer=goods_box
textfont=museo_sans_13pt_regular
text=XXX
textalignv=1
textshadow=yes
onmouserepeat=script8799("Spices", event_com, event_comsubid)

// 944:45
[com_45]
type=graphic
x=-20
y=80
width=25
height=25
xmode=abs_centre
layer=goods_box
graphic="aif_pop_exp_cargo_icons_34x34,10"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Lacquer", event_com, event_comsubid)

// 944:46
[reward_4]
type=text
x=5
y=80
width=80
height=25
widthmode=minus
xmode=abs_right
layer=goods_box
textfont=museo_sans_13pt_regular
text=XXX
textalignv=1
textshadow=yes
onmouserepeat=script8799("Lacquer", event_com, event_comsubid)

// 944:47
[com_47]
type=graphic
x=-20
y=105
width=25
height=25
xmode=abs_centre
layer=goods_box
graphic="aif_pop_exp_cargo_icons_34x34,11"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("  Chi  ", event_com, event_comsubid)

// 944:48
[reward_5]
type=text
x=5
y=105
width=80
height=25
widthmode=minus
xmode=abs_right
layer=goods_box
textfont=museo_sans_13pt_regular
text=XXX
textalignv=1
textshadow=yes
onmouserepeat=script8799("  Chi  ", event_com, event_comsubid)

// 944:49
[com_49]
type=graphic
x=-20
y=130
width=25
height=25
xmode=abs_centre
layer=goods_box
graphic="aif_pop_exp_cargo_icons_34x34,36"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Pearls", event_com, event_comsubid)

// 944:50
[reward_6]
type=text
x=5
y=130
width=80
height=25
widthmode=minus
xmode=abs_right
layer=goods_box
textfont=museo_sans_13pt_regular
text=XXX
textalignv=1
textshadow=yes
onmouserepeat=script8799("Pearls", event_com, event_comsubid)

// 944:51
[com_51]
type=graphic
x=-20
y=155
width=25
height=25
xmode=abs_centre
layer=goods_box
graphic="aif_pop_exp_cargo_icons_34x34,35"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Koi Scales", event_com, event_comsubid)

// 944:52
[reward_7]
type=text
x=5
y=155
width=80
height=25
widthmode=minus
xmode=abs_right
layer=goods_box
textfont=museo_sans_13pt_regular
text=XXX
textalignv=1
textshadow=yes
onmouserepeat=script8799("Koi Scales", event_com, event_comsubid)

// 944:53
[com_53]
type=text
height=26
widthmode=minus
layer=ships_layer
textfont=cinzel_13pt_bold
text=Ship Status
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 944:54
[ship_info_1]
type=layer
x=1
y=30
width=120
height=50
widthmode=minus
layer=ships_layer
transmitop1=yes
op1=View ship

// 944:55
[ship_icon_1]
type=graphic
x=4
width=50
height=50
ymode=abs_centre
layer=ship_info_1
graphic="aif_pop_ship_icons,0"
colour=0xffffff
clickmask=no

// 944:56
[ship_icon_gone_1]
type=graphic
x=4
y=1
width=50
height=50
ymode=abs_centre
layer=ship_info_1
hide=yes
graphic="aif_pop_ship_icons,3"
colour=0xffffff
clickmask=no

// 944:57
[ship_name_1]
type=text
x=55
y=1
width=55
height=20
widthmode=minus
layer=ship_info_1
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes

// 944:58
[ship_status_1]
type=text
x=55
y=22
width=55
height=20
widthmode=minus
layer=ship_info_1
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 944:59
[ship_info_2]
type=layer
x=1
y=90
width=120
height=50
widthmode=minus
layer=ships_layer
transmitop1=yes
op1=View ship

// 944:60
[ship_icon_2]
type=graphic
x=4
width=50
height=50
ymode=abs_centre
layer=ship_info_2
graphic="aif_pop_ship_icons,0"
colour=0xffffff
clickmask=no

// 944:61
[ship_icon_gone_2]
type=graphic
x=4
y=1
width=50
height=50
ymode=abs_centre
layer=ship_info_2
hide=yes
graphic="aif_pop_ship_icons,3"
colour=0xffffff
clickmask=no

// 944:62
[ship_name_2]
type=text
x=55
y=1
width=55
height=20
widthmode=minus
layer=ship_info_2
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes

// 944:63
[ship_status_2]
type=text
x=55
y=21
width=55
height=20
widthmode=minus
layer=ship_info_2
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 944:64
[ship_info_3]
type=layer
x=1
y=150
width=120
height=50
widthmode=minus
layer=ships_layer
transmitop1=yes
op1=View ship

// 944:65
[ship_icon_3]
type=graphic
x=4
width=50
height=50
ymode=abs_centre
layer=ship_info_3
graphic="aif_pop_ship_icons,0"
colour=0xffffff
clickmask=no

// 944:66
[ship_icon_gone_3]
type=graphic
x=4
y=1
width=50
height=50
ymode=abs_centre
layer=ship_info_3
hide=yes
graphic="aif_pop_ship_icons,3"
colour=0xffffff
clickmask=no

// 944:67
[ship_name_3]
type=text
x=55
y=1
width=55
height=20
widthmode=minus
layer=ship_info_3
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes

// 944:68
[ship_status_3]
type=text
x=55
y=21
width=55
height=20
widthmode=minus
layer=ship_info_3
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 944:69
[ship_info_4]
type=layer
x=1
y=210
width=120
height=50
widthmode=minus
layer=ships_layer
transmitop1=yes
op1=View ship

// 944:70
[ship_icon_4]
type=graphic
x=4
width=50
height=50
ymode=abs_centre
layer=ship_info_4
graphic="aif_pop_ship_icons,0"
colour=0xffffff
clickmask=no

// 944:71
[ship_icon_gone_4]
type=graphic
x=4
y=1
width=50
height=50
ymode=abs_centre
layer=ship_info_4
hide=yes
graphic="aif_pop_ship_icons,3"
colour=0xffffff
clickmask=no

// 944:72
[ship_name_4]
type=text
x=55
y=1
width=55
height=20
widthmode=minus
layer=ship_info_4
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes

// 944:73
[ship_status_4]
type=text
x=55
y=21
width=55
height=20
widthmode=minus
layer=ship_info_4
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 944:74
[voyages_button]
type=graphic
x=90
y=27
width=35
height=35
xmode=abs_right
layer=ships_layer
graphic="aif_pop_control_icons,15"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Open
opcursor0=cursor_open
onmouseover=graphic_swapper(event_com, "aif_pop_control_icons,16")
onmouseleave=graphic_swapper(event_com, "aif_pop_control_icons,15")
onmouserepeat=script8799("Voyages", event_com, event_comsubid)

// 944:75
[shipyard_button]
type=graphic
x=90
y=75
width=35
height=35
xmode=abs_right
layer=ships_layer
graphic="aif_pop_control_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Open
opcursor0=cursor_open
onmouseover=graphic_swapper(event_com, "aif_pop_control_icons,1")
onmouseleave=graphic_swapper(event_com, "aif_pop_control_icons,0")
onmouserepeat=script8799("Shipyard", event_com, event_comsubid)

// 944:76
[people_layer]
type=layer
width=60
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=gold_window_content_layer
hide=yes

// 944:77
[com_77]
type=text
height=26
widthmode=minus
layer=people_layer
textfont=cinzel_13pt_bold
text=Port Visitors
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 944:78
[adventurer_1_layer_missing]
type=layer
x=-105
y=110
width=205
height=70
xmode=abs_centre
layer=people_layer

// 944:79
[adventurer_1_layer]
type=layer
x=-105
y=110
width=205
height=70
xmode=abs_centre
layer=people_layer

// 944:80
[content_panel_blue_2]
type=layer
widthmode=minus
heightmode=minus
layer=adventurer_1_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 944:81
[adventurer_1_model]
type=model
x=-69
width=39
height=59
xmode=abs_centre
ymode=abs_centre
layer=adventurer_1_layer
model=chat_male_head_shorthair
modelorigin_x=0
modelorigin_y=1
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3223

// 944:82
[adventurer_1_name]
type=text
x=5
y=5
width=65
height=20
widthmode=minus
xmode=abs_right
layer=adventurer_1_layer
textfont=museo_sans_11pt_regular_multiline
textalignv=1
textshadow=yes

// 944:83
[adventurer_1_status]
type=text
x=5
y=5
width=65
height=20
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=adventurer_1_layer
textfont=museo_sans_11pt_regular_multiline
textalignv=1
textshadow=yes

// 944:84
[adventurer_2_layer_missing]
type=layer
x=105
y=110
width=205
height=70
xmode=abs_centre
layer=people_layer

// 944:85
[adventurer_2_layer]
type=layer
x=105
y=110
width=205
height=70
xmode=abs_centre
layer=people_layer

// 944:86
[content_panel_blue_3]
type=layer
widthmode=minus
heightmode=minus
layer=adventurer_2_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 944:87
[adventurer_2_model]
type=model
x=-69
width=39
height=59
xmode=abs_centre
ymode=abs_centre
layer=adventurer_2_layer
model=chat_male_head_shorthair
modelorigin_x=0
modelorigin_y=1
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3223

// 944:88
[adventurer_2_name]
type=text
x=5
y=5
width=65
height=20
widthmode=minus
xmode=abs_right
layer=adventurer_2_layer
textfont=museo_sans_11pt_regular_multiline
textalignv=1
textshadow=yes

// 944:89
[adventurer_2_status]
type=text
x=5
y=5
width=65
height=20
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=adventurer_2_layer
textfont=museo_sans_11pt_regular_multiline
textalignv=1
textshadow=yes

// 944:90
[captain_missing]
type=layer
x=-105
y=30
width=205
height=70
xmode=abs_centre
layer=people_layer

// 944:91
[captain_layer]
type=layer
x=-105
y=30
width=205
height=70
xmode=abs_centre
layer=people_layer

// 944:92
[content_panel_blue_4]
type=layer
widthmode=minus
heightmode=minus
layer=captain_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 944:93
[captain_model]
type=model
x=-69
width=39
height=59
xmode=abs_centre
ymode=abs_centre
layer=captain_layer
model=chat_male_head_shorthair
modelorigin_x=0
modelorigin_y=1
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3223

// 944:94
[com_94]
type=text
x=5
y=5
width=65
height=19
widthmode=minus
xmode=abs_right
layer=captain_layer
textfont=museo_sans_11pt_regular
text=Captain for Hire:
textalignv=1
textshadow=yes

// 944:95
[captain_name]
type=text
x=5
y=5
width=65
height=40
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=captain_layer
textfont=museo_sans_11pt_regular_multiline
textshadow=yes

// 944:96
[smuggler_missing]
type=layer
x=105
y=30
width=205
height=70
xmode=abs_centre
layer=people_layer

// 944:97
[smuggler_layer]
type=layer
x=105
y=30
width=205
height=70
xmode=abs_centre
layer=people_layer

// 944:98
[content_panel_blue_5]
type=layer
widthmode=minus
heightmode=minus
layer=smuggler_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 944:99
[smuggler_model]
type=model
x=-69
width=39
height=59
xmode=abs_centre
ymode=abs_centre
layer=smuggler_layer
model=chat_male_head_shorthair
modelorigin_x=0
modelorigin_y=1
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3223

// 944:100
[com_100]
type=text
x=5
y=5
width=65
height=20
widthmode=minus
xmode=abs_right
layer=smuggler_layer
textfont=museo_sans_11pt_regular
text=Black Market:
textalignv=1
textshadow=yes

// 944:101
[smuggler_goods]
type=text
x=79
y=23
width=112
height=20
layer=smuggler_layer
textfont=museo_sans_11pt_regular
text=####
textalignv=1
textshadow=yes

// 944:102
[smuggler_goods_icon]
type=graphic
x=60
y=25
width=17
height=17
layer=smuggler_layer
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 944:103
[smuggler_quantity]
type=text
x=5
y=5
width=67
height=19
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=smuggler_layer
textfont=museo_sans_11pt_regular
textalignv=1
textshadow=yes

// 944:104
[stats_layer]
type=layer
width=60
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=gold_window_content_layer
hide=yes

// 944:105
[com_105]
type=text
height=26
widthmode=minus
layer=stats_layer
textfont=cinzel_13pt_bold
text=Port Statistics
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 944:106
[main_information]
type=layer
x=5
y=30
width=212
height=186
layer=stats_layer

// 944:107
[content_panel_blue_8]
type=layer
widthmode=minus
heightmode=minus
layer=main_information
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 944:108
[adventurers_list]
type=text
x=5
y=35
width=70
height=35
heightmode=minus
layer=main_information
textfont=notosans_11
text=Architect<br>Assassin<br>Biologist<br>Convict<br>Exile<br>Chef<br>Missionary<br>Memory<br>Occultist<br>Whaler<br>Tengu<br>Trapper
textlineheight=12
textalignh=1
textshadow=yes

// 944:109
[missions_list]
type=text
x=5
y=35
width=65
height=35
heightmode=minus
xmode=abs_centre
layer=main_information
textfont=notosans_11
text=1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>
textlineheight=12
textalignh=1
textshadow=yes

// 944:110
[clues_list]
type=text
x=5
y=35
width=55
height=35
heightmode=minus
xmode=abs_right
layer=main_information
textfont=notosans_11
text=1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>
textlineheight=12
textalignh=1
textshadow=yes

// 944:111
[com_111]
type=text
x=5
y=5
width=70
height=30
layer=main_information
textfont=notosans_11
text=Adventurers met:
textalignh=1
textalignv=1
textshadow=yes

// 944:112
[com_112]
type=text
x=5
y=5
width=65
height=30
xmode=abs_centre
layer=main_information
textfont=notosans_11
text=Stories completed:
textalignh=1
textalignv=1
textshadow=yes

// 944:113
[com_113]
type=text
x=5
y=5
width=55
height=30
xmode=abs_right
layer=main_information
textfont=notosans_11
text=Clues<br>found:
textalignh=1
textalignv=1
textshadow=yes

// 944:114
[distance_traveled]
type=layer
x=5
y=30
width=205
height=145
xmode=abs_right
layer=stats_layer

// 944:115
[content_panel_blue_7]
type=layer
widthmode=minus
heightmode=minus
layer=distance_traveled
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 944:116
[clues_text]
type=text
x=5
y=125
width=75
height=20
xmode=abs_right
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=18
textalignh=2
textalignv=1
textshadow=yes

// 944:117
[com_117]
type=text
x=5
y=125
width=102
height=20
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=Clues found:
textalignv=1
textshadow=yes

// 944:118
[com_118]
type=text
x=5
y=65
width=102
height=20
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=Ship parts unlocked:
textalignv=1
textshadow=yes

// 944:119
[parts_text]
type=text
x=5
y=65
width=75
height=20
xmode=abs_right
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=40
textalignh=2
textalignv=1
textshadow=yes

// 944:120
[com_120]
type=text
x=5
y=85
width=102
height=20
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=Adventurers met:
textalignv=1
textshadow=yes

// 944:121
[adventurers_text]
type=text
x=5
y=85
width=75
height=20
xmode=abs_right
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=6
textalignh=2
textalignv=1
textshadow=yes

// 944:122
[com_122]
type=text
x=5
y=105
width=102
height=20
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=Stories completed:
textalignv=1
textshadow=yes

// 944:123
[missions_text]
type=text
x=5
y=105
width=75
height=20
xmode=abs_right
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=44
textalignh=2
textalignv=1
textshadow=yes

// 944:124
[upgrades_text]
type=text
x=5
y=45
width=75
height=20
xmode=abs_right
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=30
textalignh=2
textalignv=1
textshadow=yes

// 944:125
[com_125]
type=text
x=5
y=45
width=102
height=20
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=Port upgrades:
textalignv=1
textshadow=yes

// 944:126
[scrolls_text]
type=text
x=5
y=25
width=75
height=20
xmode=abs_right
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=150
textalignh=2
textalignv=1
textshadow=yes

// 944:127
[com_127]
type=text
x=5
y=25
width=102
height=20
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=Scroll pieces found:
textalignv=1
textshadow=yes

// 944:128
[distance_text]
type=text
x=5
y=5
width=75
height=20
xmode=abs_right
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=2,000,000
textalignh=2
textalignv=1
textshadow=yes

// 944:129
[com_129]
type=text
x=5
y=5
width=102
height=20
layer=distance_traveled
textfont=museo_sans_11pt_regular_multiline
text=Distance travelled:
textalignv=1
textshadow=yes

// 944:130
[port_rank]
type=layer
x=5
y=15
width=205
height=95
xmode=abs_right
ymode=abs_bottom
layer=stats_layer

// 944:131
[content_panel_blue_6]
type=layer
widthmode=minus
heightmode=minus
layer=port_rank
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 944:132
[com_132]
type=text
x=5
y=5
width=10
height=18
widthmode=minus
layer=port_rank
textfont=cinzel_12pt_bold
text=Port score
textalignh=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 944:133
[port_score_text]
type=text
x=5
y=45
width=10
height=20
widthmode=minus
ymode=abs_bottom
layer=port_rank
textfont=museo_sans_11pt_regular_multiline
text=2530
textalignh=1
textalignv=1
textshadow=yes

// 944:134
[com_134]
type=text
x=5
y=25
width=10
height=20
widthmode=minus
ymode=abs_bottom
layer=port_rank
textfont=museo_sans_11pt_regular_multiline
text=Rank
textalignh=1
textalignv=1
textshadow=yes

// 944:135
[port_rank_text]
type=text
x=5
y=5
width=10
height=20
widthmode=minus
ymode=abs_bottom
layer=port_rank
textfont=museo_sans_11pt_regular_multiline
text=Admiral of the Fleet
textalignh=1
textalignv=1
textshadow=yes

// 944:136
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 944:137
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script7349

// 944:138
[gold_window_content_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=mainmodal_window_content

// 944:139
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 944:140
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 944:141
[grey_back]
type=layer
widthmode=minus
heightmode=minus
layer=adventurer_1_layer_missing
onload=script10896(event_com, null, rs3tli_content_panel_dark_grey)

// 944:142
[adventurer_1_status_1]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=adventurer_1_layer_missing
textfont=museo_sans_15pt_bold
text=Currently no visitor
textalignh=1
textalignv=1
textshadow=yes

// 944:143
[grey_1]
type=layer
widthmode=minus
heightmode=minus
layer=adventurer_2_layer_missing
onload=script10896(event_com, null, rs3tli_content_panel_dark_grey)

// 944:144
[adventurer_1_status_2]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=adventurer_2_layer_missing
textfont=museo_sans_15pt_bold
text=Currently no visitor
textalignh=1
textalignv=1
textshadow=yes

// 944:145
[grey_2]
type=layer
widthmode=minus
heightmode=minus
layer=captain_missing
onload=script10896(event_com, null, rs3tli_content_panel_dark_grey)

// 944:146
[adventurer_1_status_3]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=captain_missing
textfont=museo_sans_15pt_bold
text=No captain for hire
textalignh=1
textalignv=1
textshadow=yes

// 944:147
[grey_3]
type=layer
widthmode=minus
heightmode=minus
layer=smuggler_missing
onload=script10896(event_com, null, rs3tli_content_panel_dark_grey)

// 944:148
[adventurer_1_status_4]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=smuggler_missing
textfont=museo_sans_15pt_bold
text=No Black Marketeer in port
textalignh=1
textalignv=1
textshadow=yes

