// 666:0
[pop_minigame_layer]
type=layer
width=130
height=40

// 666:1
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
layer=pop_minigame_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 666:2
[exit]
type=layer
width=10
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pop_minigame_layer
transmitop1=yes
op1=Exit
opcursor0=cursor_enter
onload=script13968(event_com, null, rs3tli_neutral_button, "Quit")

