// 1373:0
[building_13]
type=layer
height=86
widthmode=minus
layer=content_layer
hide=yes

// 1373:1
[button_13]
type=layer
widthmode=minus
heightmode=minus
layer=building_13
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 1373:2
[button_no_ops_13]
type=layer
widthmode=minus
heightmode=minus
layer=building_13
onload=script180(event_com, null, rs3tli_3x3_icon_button)

// 1373:3
[building_12]
type=layer
height=86
widthmode=minus
layer=content_layer
hide=yes

// 1373:4
[button_12]
type=layer
widthmode=minus
heightmode=minus
layer=building_12
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 1373:5
[button_no_ops_12]
type=layer
widthmode=minus
heightmode=minus
layer=building_12
onload=script180(event_com, null, rs3tli_3x3_icon_button)

// 1373:6
[building_11]
type=layer
height=86
widthmode=minus
layer=content_layer
hide=yes

// 1373:7
[button_11]
type=layer
widthmode=minus
heightmode=minus
layer=building_11
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 1373:8
[button_no_ops_11]
type=layer
widthmode=minus
heightmode=minus
layer=building_11
onload=script180(event_com, null, rs3tli_3x3_icon_button)

// 1373:9
[scrollbar_layer]
type=layer
x=5
y=45
width=16
height=210
xmode=abs_right
layer=master_layer

// 1373:10
[content_layer]
type=layer
x=5
y=45
width=35
height=210
widthmode=minus
layer=master_layer
onvartransmit=pop_update_buttons
onvartransmitlist=pop_port_temp_1

// 1373:11
[building_10]
type=layer
height=86
widthmode=minus
layer=content_layer
hide=yes

// 1373:12
[button_10]
type=layer
widthmode=minus
heightmode=minus
layer=building_10
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 1373:13
[button_no_ops_10]
type=layer
widthmode=minus
heightmode=minus
layer=building_10
onload=script180(event_com, null, rs3tli_3x3_icon_button)

// 1373:14
[building_9]
type=layer
height=86
widthmode=minus
layer=content_layer
hide=yes

// 1373:15
[button_9]
type=layer
widthmode=minus
heightmode=minus
layer=building_9
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 1373:16
[button_no_ops_9]
type=layer
widthmode=minus
heightmode=minus
layer=building_9
onload=script180(event_com, null, rs3tli_3x3_icon_button)

// 1373:17
[building_8]
type=layer
height=86
widthmode=minus
layer=content_layer
hide=yes

// 1373:18
[button_8]
type=layer
widthmode=minus
heightmode=minus
layer=building_8
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 1373:19
[button_no_ops_8]
type=layer
widthmode=minus
heightmode=minus
layer=building_8
onload=script180(event_com, null, rs3tli_3x3_icon_button)

// 1373:20
[building_7]
type=layer
height=86
widthmode=minus
layer=content_layer
hide=yes

// 1373:21
[button_7]
type=layer
widthmode=minus
heightmode=minus
layer=building_7
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 1373:22
[button_no_ops_7]
type=layer
widthmode=minus
heightmode=minus
layer=building_7
onload=script180(event_com, null, rs3tli_3x3_icon_button)

// 1373:23
[building_6]
type=layer
height=86
widthmode=minus
layer=content_layer
hide=yes

// 1373:24
[button_6]
type=layer
widthmode=minus
heightmode=minus
layer=building_6
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 1373:25
[button_no_ops_6]
type=layer
widthmode=minus
heightmode=minus
layer=building_6
onload=script180(event_com, null, rs3tli_3x3_icon_button)

// 1373:26
[building_5]
type=layer
height=86
widthmode=minus
layer=content_layer
hide=yes

// 1373:27
[button_5]
type=layer
widthmode=minus
heightmode=minus
layer=building_5
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 1373:28
[button_no_ops_5]
type=layer
widthmode=minus
heightmode=minus
layer=building_5
onload=script180(event_com, null, rs3tli_3x3_icon_button)

// 1373:29
[building_4]
type=layer
height=86
widthmode=minus
layer=content_layer
hide=yes

// 1373:30
[button_4]
type=layer
widthmode=minus
heightmode=minus
layer=building_4
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 1373:31
[button_no_ops_4]
type=layer
widthmode=minus
heightmode=minus
layer=building_4
onload=script180(event_com, null, rs3tli_3x3_icon_button)

// 1373:32
[building_3]
type=layer
height=86
widthmode=minus
layer=content_layer
hide=yes

// 1373:33
[button_3]
type=layer
widthmode=minus
heightmode=minus
layer=building_3
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 1373:34
[button_no_ops_3]
type=layer
widthmode=minus
heightmode=minus
layer=building_3
onload=script180(event_com, null, rs3tli_3x3_icon_button)

// 1373:35
[building_2]
type=layer
height=86
widthmode=minus
layer=content_layer
hide=yes

// 1373:36
[button_2]
type=layer
widthmode=minus
heightmode=minus
layer=building_2
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 1373:37
[button_no_ops_2]
type=layer
widthmode=minus
heightmode=minus
layer=building_2
onload=script180(event_com, null, rs3tli_3x3_icon_button)

// 1373:38
[building_1]
type=layer
height=86
widthmode=minus
layer=content_layer

// 1373:39
[button_1]
type=layer
widthmode=minus
heightmode=minus
layer=building_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 1373:40
[button_no_ops_1]
type=layer
widthmode=minus
heightmode=minus
layer=building_1
onload=script180(event_com, null, rs3tli_3x3_icon_button)

// 1373:41
[button_title_1]
type=text
y=8
height=14
widthmode=minus
xmode=abs_centre
layer=building_1
textfont=museo_sans_13pt_regular
text=Building 1
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:42
[button_description_1]
type=text
x=5
y=25
width=325
height=30
heightmode=minus
layer=building_1
textfont=museo_sans_11pt_regular_multiline
text=Bonus:<br>5% stuff and a bit of dialogue here.<br>Some more stuff here.<br>A bit more stuff here.<br>Can we fit a fourth line, yes we can. 
textshadow=yes

// 1373:43
[button_cost_title_1]
type=text
y=22
width=125
height=32
xmode=abs_right
layer=building_1
textfont=museo_sans_11pt_regular
text=Cost
textalignh=1
textshadow=yes

// 1373:44
[button_primary_cost_graphic_1]
type=graphic
x=80
y=35
width=34
height=34
xmode=abs_right
layer=building_1
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 1373:45
[button_primary_cost_1]
type=text
x=65
y=68
width=60
height=12
xmode=abs_right
layer=building_1
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1373:46
[button_secondary_cost_graphic_1]
type=graphic
x=15
y=35
width=34
height=34
xmode=abs_right
layer=building_1
graphic="aif_pop_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 1373:47
[button_secondary_cost_1]
type=text
y=68
width=60
height=12
xmode=abs_right
layer=building_1
textfont=museo_sans_11pt_regular
text=999,999
textalignh=1
textalignv=1
textshadow=yes

// 1373:48
[32px_arrow_left]
type=graphic
width=32
height=32
layer=left
graphic="rs3_icon_direction_left_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_icon_arrow_left)

// 1373:49
[com_49]
type=rectangle
widthmode=minus
heightmode=minus
layer=confirm_layer
colour=0x000000
fill=yes
trans=150

// 1373:50
[frame_layer_base]
type=layer
width=300
height=88
xmode=abs_centre
ymode=abs_centre
layer=confirm_layer

// 1373:51
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=frame_layer_base
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1373:52
[cancel]
type=layer
x=10
y=5
width=130
height=27
xmode=abs_right
ymode=abs_bottom
layer=frame_layer_base
transmitop1=yes
op1=Cancel
onload=script13968(event_com, null, rs3tli_neutral_button, "Cancel")

// 1373:53
[confirm_button]
type=layer
x=10
y=5
width=130
height=27
ymode=abs_bottom
layer=frame_layer_base
transmitop1=yes
op1=Confirm
onload=script13968(event_com, null, rs3tli_positive_button, "Confirm")

// 1373:54
[confirm_description]
type=text
height=30
widthmode=minus
layer=frame_layer_base
textfont=cinzel_15pt_bold
text=Are you sure?
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:55
[button_title_2]
type=text
y=8
height=14
widthmode=minus
xmode=abs_centre
layer=building_2
textfont=museo_sans_13pt_regular
text=Building 1
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:56
[button_description_2]
type=text
x=5
y=25
width=325
height=30
heightmode=minus
layer=building_2
textfont=museo_sans_11pt_regular_multiline
text=Bonus:<br>5% stuff and a bit of dialogue here.<br>Some more stuff here.<br>A bit more stuff here.<br>Can we fit a fourth line, yes we can.
textshadow=yes

// 1373:57
[button_cost_title_2]
type=text
y=22
width=125
height=32
xmode=abs_right
layer=building_2
textfont=museo_sans_11pt_regular
text=Cost
textalignh=1
textshadow=yes

// 1373:58
[button_primary_cost_graphic_2]
type=graphic
x=80
y=35
width=34
height=34
xmode=abs_right
layer=building_2
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 1373:59
[button_primary_cost_2]
type=text
x=65
y=68
width=60
height=12
xmode=abs_right
layer=building_2
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1373:60
[button_secondary_cost_graphic_2]
type=graphic
x=15
y=35
width=34
height=34
xmode=abs_right
layer=building_2
graphic="aif_pop_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 1373:61
[button_secondary_cost_2]
type=text
y=68
width=60
height=12
xmode=abs_right
layer=building_2
textfont=museo_sans_11pt_regular
text=999,999
textalignh=1
textalignv=1
textshadow=yes

// 1373:62
[button_title_3]
type=text
y=8
height=14
widthmode=minus
xmode=abs_centre
layer=building_3
textfont=museo_sans_13pt_regular
text=Building 1
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:63
[button_description_3]
type=text
x=5
y=25
width=325
height=30
heightmode=minus
layer=building_3
textfont=museo_sans_11pt_regular_multiline
text=Bonus:<br>5% stuff and a bit of dialogue here.<br>Some more stuff here.<br>A bit more stuff here.<br>Can we fit a fourth line, yes we can.
textshadow=yes

// 1373:64
[button_cost_title_3]
type=text
y=22
width=125
height=32
xmode=abs_right
layer=building_3
textfont=museo_sans_11pt_regular
text=Cost
textalignh=1
textshadow=yes

// 1373:65
[button_primary_cost_graphic_3]
type=graphic
x=80
y=35
width=34
height=34
xmode=abs_right
layer=building_3
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 1373:66
[button_primary_cost_3]
type=text
x=65
y=68
width=60
height=12
xmode=abs_right
layer=building_3
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1373:67
[button_secondary_cost_graphic_3]
type=graphic
x=15
y=35
width=34
height=34
xmode=abs_right
layer=building_3
graphic="aif_pop_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 1373:68
[button_secondary_cost_3]
type=text
y=68
width=60
height=12
xmode=abs_right
layer=building_3
textfont=museo_sans_11pt_regular
text=999,999
textalignh=1
textalignv=1
textshadow=yes

// 1373:69
[button_title_4]
type=text
y=8
height=14
widthmode=minus
xmode=abs_centre
layer=building_4
textfont=museo_sans_13pt_regular
text=Building 1
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:70
[button_description_4]
type=text
x=5
y=25
width=325
height=30
heightmode=minus
layer=building_4
textfont=museo_sans_11pt_regular_multiline
text=Bonus:<br>5% stuff and a bit of dialogue here.<br>Some more stuff here.<br>A bit more stuff here.<br>Can we fit a fourth line, yes we can.
textshadow=yes

// 1373:71
[button_cost_title_4]
type=text
y=22
width=125
height=32
xmode=abs_right
layer=building_4
textfont=museo_sans_11pt_regular
text=Cost
textalignh=1
textshadow=yes

// 1373:72
[button_primary_cost_graphic_4]
type=graphic
x=80
y=35
width=34
height=34
xmode=abs_right
layer=building_4
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 1373:73
[button_primary_cost_4]
type=text
x=65
y=68
width=60
height=12
xmode=abs_right
layer=building_4
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1373:74
[button_secondary_cost_graphic_4]
type=graphic
x=15
y=35
width=34
height=34
xmode=abs_right
layer=building_4
graphic="aif_pop_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 1373:75
[button_secondary_cost_4]
type=text
y=68
width=60
height=12
xmode=abs_right
layer=building_4
textfont=museo_sans_11pt_regular
text=999,999
textalignh=1
textalignv=1
textshadow=yes

// 1373:76
[button_title_5]
type=text
y=8
height=14
widthmode=minus
xmode=abs_centre
layer=building_5
textfont=museo_sans_13pt_regular
text=Building 1
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:77
[button_description_5]
type=text
x=5
y=25
width=325
height=30
heightmode=minus
layer=building_5
textfont=museo_sans_11pt_regular_multiline
text=Bonus:<br>5% stuff and a bit of dialogue here.<br>Some more stuff here.<br>A bit more stuff here.<br>Can we fit a fourth line, yes we can.
textshadow=yes

// 1373:78
[button_cost_title_5]
type=text
y=22
width=125
height=32
xmode=abs_right
layer=building_5
textfont=museo_sans_11pt_regular
text=Cost
textalignh=1
textshadow=yes

// 1373:79
[button_primary_cost_graphic_5]
type=graphic
x=80
y=35
width=34
height=34
xmode=abs_right
layer=building_5
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 1373:80
[button_primary_cost_5]
type=text
x=65
y=68
width=60
height=12
xmode=abs_right
layer=building_5
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1373:81
[button_secondary_cost_graphic_5]
type=graphic
x=15
y=35
width=34
height=34
xmode=abs_right
layer=building_5
graphic="aif_pop_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 1373:82
[button_secondary_cost_5]
type=text
y=68
width=60
height=12
xmode=abs_right
layer=building_5
textfont=museo_sans_11pt_regular
text=999,999
textalignh=1
textalignv=1
textshadow=yes

// 1373:83
[button_title_6]
type=text
y=8
height=14
widthmode=minus
xmode=abs_centre
layer=building_6
textfont=museo_sans_13pt_regular
text=Building 1
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:84
[button_description_6]
type=text
x=5
y=25
width=325
height=30
heightmode=minus
layer=building_6
textfont=museo_sans_11pt_regular_multiline
text=Bonus:<br>5% stuff and a bit of dialogue here.<br>Some more stuff here.<br>A bit more stuff here.<br>Can we fit a fourth line, yes we can.
textshadow=yes

// 1373:85
[button_cost_title_6]
type=text
y=22
width=125
height=32
xmode=abs_right
layer=building_6
textfont=museo_sans_11pt_regular
text=Cost
textalignh=1
textshadow=yes

// 1373:86
[button_primary_cost_graphic_6]
type=graphic
x=80
y=35
width=34
height=34
xmode=abs_right
layer=building_6
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 1373:87
[button_primary_cost_6]
type=text
x=65
y=68
width=60
height=12
xmode=abs_right
layer=building_6
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1373:88
[button_secondary_cost_graphic_6]
type=graphic
x=15
y=35
width=34
height=34
xmode=abs_right
layer=building_6
graphic="aif_pop_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 1373:89
[button_secondary_cost_6]
type=text
y=68
width=60
height=12
xmode=abs_right
layer=building_6
textfont=museo_sans_11pt_regular
text=999,999
textalignh=1
textalignv=1
textshadow=yes

// 1373:90
[button_title_7]
type=text
y=8
height=14
widthmode=minus
xmode=abs_centre
layer=building_7
textfont=museo_sans_13pt_regular
text=Building 1
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:91
[button_description_7]
type=text
x=5
y=25
width=325
height=30
heightmode=minus
layer=building_7
textfont=museo_sans_11pt_regular_multiline
text=Bonus:<br>5% stuff and a bit of dialogue here.<br>Some more stuff here.<br>A bit more stuff here.<br>Can we fit a fourth line, yes we can.
textshadow=yes

// 1373:92
[button_cost_title_7]
type=text
y=22
width=125
height=32
xmode=abs_right
layer=building_7
textfont=museo_sans_11pt_regular
text=Cost
textalignh=1
textshadow=yes

// 1373:93
[button_primary_cost_graphic_7]
type=graphic
x=80
y=35
width=34
height=34
xmode=abs_right
layer=building_7
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 1373:94
[button_primary_cost_7]
type=text
x=65
y=68
width=60
height=12
xmode=abs_right
layer=building_7
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1373:95
[button_secondary_cost_graphic_7]
type=graphic
x=15
y=35
width=34
height=34
xmode=abs_right
layer=building_7
graphic="aif_pop_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 1373:96
[button_secondary_cost_7]
type=text
y=68
width=60
height=12
xmode=abs_right
layer=building_7
textfont=museo_sans_11pt_regular
text=999,999
textalignh=1
textalignv=1
textshadow=yes

// 1373:97
[button_title_8]
type=text
y=8
height=14
widthmode=minus
xmode=abs_centre
layer=building_8
textfont=museo_sans_13pt_regular
text=Building 1
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:98
[button_description_8]
type=text
x=5
y=25
width=325
height=30
heightmode=minus
layer=building_8
textfont=museo_sans_11pt_regular_multiline
text=Bonus:<br>5% stuff and a bit of dialogue here.<br>Some more stuff here.<br>A bit more stuff here.<br>Can we fit a fourth line, yes we can.
textshadow=yes

// 1373:99
[button_cost_title_8]
type=text
y=22
width=125
height=32
xmode=abs_right
layer=building_8
textfont=museo_sans_11pt_regular
text=Cost
textalignh=1
textshadow=yes

// 1373:100
[button_primary_cost_graphic_8]
type=graphic
x=80
y=35
width=34
height=34
xmode=abs_right
layer=building_8
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 1373:101
[button_primary_cost_8]
type=text
x=65
y=68
width=60
height=12
xmode=abs_right
layer=building_8
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1373:102
[button_secondary_cost_graphic_8]
type=graphic
x=15
y=35
width=34
height=34
xmode=abs_right
layer=building_8
graphic="aif_pop_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 1373:103
[button_secondary_cost_8]
type=text
y=68
width=60
height=12
xmode=abs_right
layer=building_8
textfont=museo_sans_11pt_regular
text=999,999
textalignh=1
textalignv=1
textshadow=yes

// 1373:104
[button_title_9]
type=text
y=8
height=14
widthmode=minus
xmode=abs_centre
layer=building_9
textfont=museo_sans_13pt_regular
text=Building 1
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:105
[button_description_9]
type=text
x=5
y=25
width=325
height=30
heightmode=minus
layer=building_9
textfont=museo_sans_11pt_regular_multiline
text=Bonus:<br>5% stuff and a bit of dialogue here.<br>Some more stuff here.<br>A bit more stuff here.<br>Can we fit a fourth line, yes we can.
textshadow=yes

// 1373:106
[button_cost_title_9]
type=text
y=22
width=125
height=32
xmode=abs_right
layer=building_9
textfont=museo_sans_11pt_regular
text=Cost
textalignh=1
textshadow=yes

// 1373:107
[button_primary_cost_graphic_9]
type=graphic
x=80
y=35
width=34
height=34
xmode=abs_right
layer=building_9
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 1373:108
[button_primary_cost_9]
type=text
x=65
y=68
width=60
height=12
xmode=abs_right
layer=building_9
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1373:109
[button_secondary_cost_graphic_9]
type=graphic
x=15
y=35
width=34
height=34
xmode=abs_right
layer=building_9
graphic="aif_pop_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 1373:110
[button_secondary_cost_9]
type=text
y=68
width=60
height=12
xmode=abs_right
layer=building_9
textfont=museo_sans_11pt_regular
text=999,999
textalignh=1
textalignv=1
textshadow=yes

// 1373:111
[button_title_10]
type=text
y=8
height=14
widthmode=minus
xmode=abs_centre
layer=building_10
textfont=museo_sans_13pt_regular
text=Building 1
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:112
[button_description_10]
type=text
x=5
y=25
width=325
height=30
heightmode=minus
layer=building_10
textfont=museo_sans_11pt_regular_multiline
text=Bonus:<br>5% stuff and a bit of dialogue here.<br>Some more stuff here.<br>A bit more stuff here.<br>Can we fit a fourth line, yes we can.
textshadow=yes

// 1373:113
[button_cost_title_10]
type=text
y=22
width=125
height=32
xmode=abs_right
layer=building_10
textfont=museo_sans_11pt_regular
text=Cost
textalignh=1
textshadow=yes

// 1373:114
[button_primary_cost_graphic_10]
type=graphic
x=80
y=35
width=34
height=34
xmode=abs_right
layer=building_10
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 1373:115
[button_primary_cost_10]
type=text
x=65
y=68
width=60
height=12
xmode=abs_right
layer=building_10
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1373:116
[button_secondary_cost_graphic_10]
type=graphic
x=15
y=35
width=34
height=34
xmode=abs_right
layer=building_10
graphic="aif_pop_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 1373:117
[button_secondary_cost_10]
type=text
y=68
width=60
height=12
xmode=abs_right
layer=building_10
textfont=museo_sans_11pt_regular
text=999,999
textalignh=1
textalignv=1
textshadow=yes

// 1373:118
[button_title_11]
type=text
y=8
height=14
widthmode=minus
xmode=abs_centre
layer=building_11
textfont=museo_sans_13pt_regular
text=Building 1
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:119
[button_description_11]
type=text
x=5
y=25
width=325
height=30
heightmode=minus
layer=building_11
textfont=museo_sans_11pt_regular_multiline
text=Bonus:<br>5% stuff and a bit of dialogue here.<br>Some more stuff here.<br>A bit more stuff here.<br>Can we fit a fourth line, yes we can.
textshadow=yes

// 1373:120
[button_cost_title_11]
type=text
y=22
width=125
height=32
xmode=abs_right
layer=building_11
textfont=museo_sans_11pt_regular
text=Cost
textalignh=1
textshadow=yes

// 1373:121
[button_primary_cost_graphic_11]
type=graphic
x=80
y=35
width=34
height=34
xmode=abs_right
layer=building_11
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 1373:122
[button_primary_cost_11]
type=text
x=65
y=68
width=60
height=12
xmode=abs_right
layer=building_11
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1373:123
[button_secondary_cost_graphic_11]
type=graphic
x=15
y=35
width=34
height=34
xmode=abs_right
layer=building_11
graphic="aif_pop_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 1373:124
[button_secondary_cost_11]
type=text
y=68
width=60
height=12
xmode=abs_right
layer=building_11
textfont=museo_sans_11pt_regular
text=999,999
textalignh=1
textalignv=1
textshadow=yes

// 1373:125
[button_title_12]
type=text
y=8
height=14
widthmode=minus
xmode=abs_centre
layer=building_12
textfont=museo_sans_13pt_regular
text=Building 1
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:126
[button_description_12]
type=text
x=5
y=25
width=325
height=30
heightmode=minus
layer=building_12
textfont=museo_sans_11pt_regular_multiline
text=Bonus:<br>5% stuff and a bit of dialogue here.<br>Some more stuff here.<br>A bit more stuff here.<br>Can we fit a fourth line, yes we can.
textshadow=yes

// 1373:127
[button_cost_title_12]
type=text
y=22
width=125
height=32
xmode=abs_right
layer=building_12
textfont=museo_sans_11pt_regular
text=Cost
textalignh=1
textshadow=yes

// 1373:128
[button_primary_cost_graphic_12]
type=graphic
x=80
y=35
width=34
height=34
xmode=abs_right
layer=building_12
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 1373:129
[button_primary_cost_12]
type=text
x=65
y=68
width=60
height=12
xmode=abs_right
layer=building_12
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1373:130
[button_secondary_cost_graphic_12]
type=graphic
x=15
y=35
width=34
height=34
xmode=abs_right
layer=building_12
graphic="aif_pop_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 1373:131
[button_secondary_cost_12]
type=text
y=68
width=60
height=12
xmode=abs_right
layer=building_12
textfont=museo_sans_11pt_regular
text=999,999
textalignh=1
textalignv=1
textshadow=yes

// 1373:132
[button_title_13]
type=text
y=8
height=14
widthmode=minus
xmode=abs_centre
layer=building_13
textfont=museo_sans_13pt_regular
text=Building 1
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:133
[button_description_13]
type=text
x=5
y=25
width=325
height=30
heightmode=minus
layer=building_13
textfont=museo_sans_11pt_regular_multiline
text=Bonus:<br>5% stuff and a bit of dialogue here.<br>Some more stuff here.<br>A bit more stuff here.<br>Can we fit a fourth line, yes we can.
textshadow=yes

// 1373:134
[button_cost_title_13]
type=text
y=22
width=125
height=32
xmode=abs_right
layer=building_13
textfont=museo_sans_11pt_regular
text=Cost
textalignh=1
textshadow=yes

// 1373:135
[button_primary_cost_graphic_13]
type=graphic
x=80
y=35
width=34
height=34
xmode=abs_right
layer=building_13
graphic="aif_pop_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 1373:136
[button_primary_cost_13]
type=text
x=65
y=68
width=60
height=12
xmode=abs_right
layer=building_13
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1373:137
[button_secondary_cost_graphic_13]
type=graphic
x=15
y=35
width=34
height=34
xmode=abs_right
layer=building_13
graphic="aif_pop_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 1373:138
[button_secondary_cost_13]
type=text
y=68
width=60
height=12
xmode=abs_right
layer=building_13
textfont=museo_sans_11pt_regular
text=999,999
textalignh=1
textalignv=1
textshadow=yes

// 1373:139
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(pop_port_upgrade:mainmodal_window_background, pop_port_upgrade:mainmodal_window_border, pop_port_upgrade:mainmodal_window_content, pop_port_upgrade:mainmodal_window_close_button, "Upgrade Buildings", 21218, string_1007)

// 1373:140
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1373:141
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1373:142
[build_button]
type=layer
y=5
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Build")

// 1373:143
[build_button_grey]
type=layer
y=5
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
noclickthrough=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13970(event_com, null, rs3tli_positive_button, "Build", string_1)

// 1373:144
[left]
type=layer
x=10
y=5
width=32
height=32
layer=mainmodal_window_content
transmitop1=yes
op1=Previous-building

// 1373:145
[right]
type=layer
x=10
y=5
width=32
height=32
xmode=abs_right
layer=mainmodal_window_content
transmitop1=yes
op1=Next-building

// 1373:146
[32px_arrow_right]
type=graphic
width=32
height=32
layer=right
graphic="rs3_icon_direction_right_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_icon_arrow_right)

// 1373:147
[title]
type=text
y=5
width=100
height=28
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
textfont=cinzel_13pt_bold
text=Upgrade Bar
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1373:148
[master_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1373:149
[confirm_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 1373:150
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1373:151
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

