// 826:0
[base]
type=layer
height=38
widthmode=minus
onload=script15670
ontimer=script15674

// 826:1
[bar_text]
type=text
y=25
width=20
height=13
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=base
textfont=museo_sans_13pt_bold
text=Verifying Cache (0%)
textlineheight=13
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 826:2
[bar]
type=layer
y=4
width=10
height=18
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=base

// 826:3
[backing]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=bar

// 826:4
[frame_l]
type=graphic
width=23
heightmode=minus
layer=backing
graphic=progress_bar_frame
colour=0xffffff
clickmask=no

// 826:5
[frame_m]
type=graphic
width=46
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=backing
graphic=progress_bar_frame_mid
colour=0xffffff
clickmask=no

// 826:6
[frame_r]
type=graphic
width=23
heightmode=minus
xmode=abs_right
layer=backing
graphic=progress_bar_frame
hflip=yes
colour=0xffffff
clickmask=no

// 826:7
[frame_b]
type=graphic
width=14
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=backing
graphic=progress_bar_container
colour=0xffffff
clickmask=no

// 826:8
[bar_inner]
type=layer
width=14
height=1
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=backing

// 826:9
[bar_fill]
type=graphic
width=135
heightmode=minus
ymode=abs_centre
layer=bar_inner
graphic=progress_bar
colour=0x2ce35e
clickmask=no

