// 272:0
[com_0]
type=model
y=70
width=327
height=133
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
model=myq4_grave_monument_table
modelorthog=yes
modelorigin_x=-4
modelorigin_y=-3
modelangle_x=136
modelangle_y=2041
modelangle_z=0
modelzoom=222

// 272:1
[com_1]
type=model
y=-58
width=361
height=159
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
model=myq4_grave_monument_sign
modelorthog=yes
modelorigin_x=-2
modelorigin_y=-1
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=261

// 272:2
[monumentmodel]
type=model
y=42
width=77
height=63
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
model=inv_tinderbox
modelorigin_x=1
modelorigin_y=14
modelangle_x=153
modelangle_y=22
modelangle_z=0
modelzoom=266

// 272:3
[monumenttext]
type=text
y=-58
width=127
height=107
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
textfont=q8_full
text=Saradomin<br><br>lights my way<br><br>through<br><br>the darkness of life
textalignh=1
colour=0xcccccc

// 272:4
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(priestperil_gravemonument:mainmodal_window_background, priestperil_gravemonument:mainmodal_window_border, priestperil_gravemonument:mainmodal_window_content, priestperil_gravemonument:mainmodal_window_close_button, "Grave Monument", 21218, string_1007)

// 272:5
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 272:6
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 272:7
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 272:8
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

