// 273:0
[universe]
type=layer
widthmode=minus
heightmode=minus

// 273:1
[prison_bars]
type=model
x=-29
y=11
width=805
height=539
xmode=abs_centre
layer=universe
model=if_macroevents_prisonpete
modelorigin_x=35
modelorigin_y=17
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=272

// 273:2
[com_2]
type=text
y=40
width=404
height=16
xmode=abs_centre
ymode=abs_bottom
layer=universe
textfont=museo_sans_11pt_regular
text=Pop the correct balloon animal to find a key
textalignh=1
textshadow=yes
colour=0xffcb05

// 273:3
[balloon]
type=model
x=-11
y=-2
width=238
height=142
xmode=abs_centre
ymode=abs_centre
layer=universe
model=if_macroevents_prisonpete_balloon1
modelorigin_x=14
modelorigin_y=-9
modelangle_x=26
modelangle_y=412
modelangle_z=0
modelzoom=250
onload=script2113(event_com)

// 273:4
[com_4]
type=graphic
x=7
y=7
width=26
height=23
xmode=abs_right
layer=universe
graphic="close_buttons,4"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onmouseover=graphic_swapper(event_com, "close_buttons,5")
onmouseleave=graphic_swapper(event_com, "close_buttons,4")
onop=closebutton_click

