// 827:0
[tncs_popup_root]
type=layer
width=325
height=420
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes

// 827:1
[tncs_popup_background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=tncs_popup_root

// 827:2
[topleft]
type=graphic
width=167
height=62
layer=tncs_popup_background
hide=yes
graphic=panel_background_top_left_corner
colour=0xffffff
clickmask=no

// 827:3
[tncs_popup_content]
type=layer
y=50
width=36
height=44
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=tncs_popup_root

// 827:4
[terms]
type=button
y=30
width=208
height=50
xmode=abs_centre
layer=tncs_popup_content
noclickthrough=yes
sprite.graphic=button_cornered_neutral
text.text=Terms & Conditions
stylesheet=button_cornered_neutral
onbuttonpressed=script1015(0)

// 827:5
[privacy]
type=button
y=95
width=208
height=50
xmode=abs_centre
layer=tncs_popup_content
noclickthrough=yes
sprite.graphic=button_cornered_neutral
text.text=Privacy Policy
stylesheet=button_cornered_neutral
onbuttonpressed=script1015(1)

// 827:6
[dontselldata]
type=button
y=160
width=208
height=50
xmode=abs_centre
layer=tncs_popup_content
noclickthrough=yes
sprite.graphic=button_cornered_neutral
text.text=Do not sell or share my personal information
stylesheet=button_cornered_neutral
onmouserepeat=script3876("Jagex does not sell personal information as the term 'sell' is commonly understood. We do allow service providers to use your personal information for advertising, marketing, and analytics. Please select this link for more information on how to opt out in our Privacy Policy.", privacy_popup:dontselldata, -1)
onbuttonpressed=script1015(2)

// 827:7
[eula]
type=button
y=225
width=208
height=50
xmode=abs_centre
layer=tncs_popup_content
noclickthrough=yes
sprite.graphic=button_cornered_neutral
text.text=EULA
stylesheet=button_cornered_neutral
onbuttonpressed=script1015(3)

// 827:8
[software]
type=button
y=290
width=208
height=50
xmode=abs_centre
layer=tncs_popup_content
noclickthrough=yes
sprite.graphic=button_cornered_neutral
text.text=Software Licence
stylesheet=button_cornered_neutral
onbuttonpressed=script1015(4)

// 827:9
[tncs_popup_border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=tncs_popup_root

// 827:10
[top]
type=graphic
width=22
height=8
widthmode=minus
xmode=abs_centre
layer=tncs_popup_border
graphic=rs3_modal_window_1_bottom_tile
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 827:11
[bottom]
type=graphic
width=22
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=tncs_popup_border
graphic=rs3_modal_window_1_bottom_tile
tiling=yes
colour=0xffffff
clickmask=no

// 827:12
[left_border]
type=graphic
y=16
width=8
height=30
heightmode=minus
layer=tncs_popup_border
graphic=rs3_modal_window_1_side_tile
tiling=yes
colour=0xffffff
clickmask=no

// 827:13
[right_border]
type=graphic
y=16
width=8
height=30
heightmode=minus
xmode=abs_right
layer=tncs_popup_border
graphic=rs3_modal_window_1_side_tile
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 827:14
[left_top_flurish]
type=graphic
width=16
height=16
layer=tncs_popup_border
graphic=rs3_modal_window_1_bottom_corner
vflip=yes
colour=0xffffff
clickmask=no

// 827:15
[right_top_flurish]
type=graphic
width=16
height=16
xmode=abs_right
layer=tncs_popup_border
graphic=rs3_modal_window_1_bottom_corner
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 827:16
[left_bottom_flurish]
type=graphic
width=16
height=16
ymode=abs_bottom
layer=tncs_popup_border
graphic=rs3_modal_window_1_bottom_corner
colour=0xffffff
clickmask=no

// 827:17
[right_bottom_flurish]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=tncs_popup_border
graphic=rs3_modal_window_1_bottom_corner
hflip=yes
colour=0xffffff
clickmask=no

// 827:18
[tncs_popup_close]
type=layer
x=10
y=10
width=19
height=19
xmode=abs_right
layer=tncs_popup_root
onclick=script15695

// 827:19
[com_19]
type=graphic
x=1
y=-2
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=tncs_popup_close
graphic="rs3_button_close_child,0"
colour=0xffffff
clickmask=no

// 827:20
[topright]
type=graphic
x=30
width=81
height=62
xmode=abs_right
layer=tncs_popup_background
hide=yes
graphic=panel_background_top_right_corner
colour=0xffffff
clickmask=no

// 827:21
[bg]
type=graphic
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tncs_popup_background
graphic=rs3_modal_window_content_tile
tiling=yes
colour=0xffffff
clickmask=no

// 827:22
[com_22]
type=graphic
x=20
y=24
width=201
height=71
layer=tncs_popup_background
hide=yes
graphic=lobby_title_mid
tiling=yes
colour=0xffffff
clickmask=no

// 827:23
[com_23]
type=graphic
x=221
y=24
width=48
height=71
layer=tncs_popup_background
hide=yes
graphic=lobby_title_right_edge
colour=0xffffff
clickmask=no

// 827:24
[com_24]
type=text
y=15
width=221
height=30
xmode=abs_centre
layer=tncs_popup_background
textfont=cinzel_25pt_bold_multiline
text=Policies
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

