// 1539:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(psr_warning:mainmodal_window_background, psr_warning:mainmodal_window_border, psr_warning:mainmodal_window_content, psr_warning:mainmodal_window_close_button, "Skill Reset", 21218, string_1007)

// 1539:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1539:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1539:3
[confirmation_section]
type=layer
height=75
widthmode=minus
ymode=abs_bottom
layer=mainmodal_window_content

// 1539:4
[last_chance]
type=layer
widthmode=minus
heightmode=minus
layer=confirmation_section
hide=yes

// 1539:5
[seriously]
type=layer
widthmode=minus
heightmode=minus
layer=confirmation_section
hide=yes

// 1539:6
[are_you_sure]
type=layer
widthmode=minus
heightmode=minus
layer=confirmation_section

// 1539:7
[negative_button_layer]
type=layer
x=50
y=10
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=are_you_sure

// 1539:8
[positive_button_layer]
type=layer
x=50
y=10
width=150
height=27
ymode=abs_bottom
layer=are_you_sure

// 1539:9
[com_9]
type=text
height=25
widthmode=minus
xmode=abs_centre
layer=are_you_sure
textfont=museo_sans_15pt_bold
text=Reset your skills?
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 1)

// 1539:10
[warning_text]
type=layer
height=77
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1539:11
[warning]
type=text
y=7
height=32
widthmode=minus
layer=warning_text
textfont=museo_sans_27pt_bold
text=Warning
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000
onload=script10496(event_com, event_comsubid, 0)

// 1539:12
[explaination]
type=text
y=45
width=20
height=165
widthmode=minus
xmode=abs_centre
layer=warning_text
textfont=museo_sans_11pt_regular
text=This action will reset your chosen skills level to 1 (or 10 for constitution), removing all XP gained in those skills. This will also reset any quests that depend on, or provide XP in, those skills. Any quests that require completion of aforementioned quests will also be reset. All items and rewards from the reset quests and tasks will also be removed.<br>You will be removed and re-entered into the hiscores, which could affect your rank. Please read the FAQ on the runescape website for details.
textlineheight=24
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1539:13
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1539:14
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1539:15
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7041(event_com)

// 1539:16
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7042(event_com)

// 1539:17
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7044(event_com)

// 1539:18
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7047(event_com)

// 1539:19
[are_you_sure_yes]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer
onload=script4213(event_com)
onclick=comp_hide_show(psr_warning:are_you_sure, psr_warning:seriously)

// 1539:20
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7060(event_com)

// 1539:21
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer

// 1539:22
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Yes
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1539:23
[negative_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7275(event_com)

// 1539:24
[negative_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7276(event_com)

// 1539:25
[negative_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
onload=script7277(event_com)

// 1539:26
[negative_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
hide=yes
onload=script7445(event_com)

// 1539:27
[are_you_sure_no]
type=layer
widthmode=minus
heightmode=minus
layer=negative_button_layer
pausebutton=yes
onload=script4213(event_com)

// 1539:28
[negative_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer
hide=yes
onload=script7572(event_com)

// 1539:29
[negative_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer

// 1539:30
[negative_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_text_layer
textfont=cinzel_13pt_bold
text=No
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 1539:31
[negative_button_layer_1]
type=layer
x=50
y=10
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=seriously

// 1539:32
[negative_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_1
onload=script7275(event_com)

// 1539:33
[negative_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_1
onload=script7276(event_com)

// 1539:34
[negative_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_1
onload=script7277(event_com)

// 1539:35
[negative_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_1
hide=yes
onload=script7445(event_com)

// 1539:36
[seriously_no]
type=layer
widthmode=minus
heightmode=minus
layer=negative_button_layer_1
pausebutton=yes
onload=script4213(event_com)

// 1539:37
[negative_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_1
hide=yes
onload=script7572(event_com)

// 1539:38
[negative_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_1

// 1539:39
[negative_button_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_text_layer_1
textfont=cinzel_13pt_bold
text=No
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 1539:40
[positive_button_layer_1]
type=layer
x=50
y=10
width=150
height=27
ymode=abs_bottom
layer=seriously

// 1539:41
[positive_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_1
onload=script7041(event_com)

// 1539:42
[positive_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_1
onload=script7042(event_com)

// 1539:43
[positive_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_1
onload=script7044(event_com)

// 1539:44
[positive_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_1
hide=yes
onload=script7047(event_com)

// 1539:45
[seriously_yes]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer_1
onload=script4213(event_com)
onclick=comp_hide_show(psr_warning:seriously, psr_warning:last_chance)

// 1539:46
[positive_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_1
hide=yes
onload=script7060(event_com)

// 1539:47
[positive_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_1

// 1539:48
[positive_button_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_1
textfont=cinzel_13pt_bold
text=Yes
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1539:49
[com_49]
type=text
height=25
widthmode=minus
xmode=abs_centre
layer=seriously
textfont=museo_sans_15pt_bold
text=Are you sure that you wish to reset your skills?
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 1)

// 1539:50
[negative_button_layer_2]
type=layer
x=50
y=10
width=195
height=27
xmode=abs_right
ymode=abs_bottom
layer=last_chance

// 1539:51
[negative_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_2
onload=script7275(event_com)

// 1539:52
[negative_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_2
onload=script7276(event_com)

// 1539:53
[negative_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_2
onload=script7277(event_com)

// 1539:54
[negative_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_2
hide=yes
onload=script7445(event_com)

// 1539:55
[last_chance_no]
type=layer
widthmode=minus
heightmode=minus
layer=negative_button_layer_2
pausebutton=yes
onload=script4213(event_com)

// 1539:56
[negative_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_2
hide=yes
onload=script7572(event_com)

// 1539:57
[negative_button_text_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_layer_2

// 1539:58
[negative_button_text_2]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_text_layer_2
textfont=cinzel_13pt_bold
text=Don't reset my skills
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 1539:59
[positive_button_layer_2]
type=layer
x=50
y=10
width=195
height=27
ymode=abs_bottom
layer=last_chance

// 1539:60
[positive_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_2
onload=script7041(event_com)

// 1539:61
[positive_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_2
onload=script7042(event_com)

// 1539:62
[positive_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_2
onload=script7044(event_com)

// 1539:63
[positive_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_2
hide=yes
onload=script7047(event_com)

// 1539:64
[last_chance_yes]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer_2
pausebutton=yes
onload=script4213(event_com)

// 1539:65
[positive_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_2
hide=yes
onload=script7060(event_com)

// 1539:66
[positive_button_text_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_2

// 1539:67
[positive_button_text_2]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_2
textfont=cinzel_13pt_bold
text=Reset my skills
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1539:68
[com_68]
type=text
height=25
widthmode=minus
xmode=abs_centre
layer=last_chance
textfont=museo_sans_15pt_bold
text=This is your final warning. Reset your skills?
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 1)

