// 713:0
[dungeon_overlay]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
onvartransmit=script13473
onvartransmitlist=tomb_main,tomb_player_states,tomb_temp,tomb_main2

// 713:1
[objectives]
type=layer
x=5
y=5
width=119
height=85
layer=dungeon_overlay
noclickthrough=yes
onload=script8420(pyramid_plunder_overlay:objectives_overlay_background, pyramid_plunder_overlay:objectives_overlay_window_border, pyramid_plunder_overlay:objectives_overlay_content, null, "", 30498, string_1005)

// 713:2
[objectives_overlay_background]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=objectives

// 713:3
[objectives_overlay_content]
type=layer
x=2
y=1
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=objectives
onload=ntk_text(pyramid_plunder_overlay:room_text, pyramid_plunder_overlay:level_text)
onvartransmit=ntk_text(pyramid_plunder_overlay:room_text, pyramid_plunder_overlay:level_text)
onvartransmitlist=ntk_var_temp

// 713:4
[time_holder]
type=layer
x=1
y=12
height=20
widthmode=minus
layer=objectives_overlay_content
onload=script6483(pyramid_plunder_overlay:time_left, 30)
onmouserepeat=script8799("Time remaining inside the pyramid.", event_com, event_comsubid)

// 713:5
[room_holder]
type=layer
x=1
y=32
height=20
widthmode=minus
layer=objectives_overlay_content
onmouserepeat=script8799("The current room that you are in.", event_com, event_comsubid)

// 713:6
[room_text]
type=text
x=4
width=38
height=14
xmode=abs_right
layer=room_holder
textfont=notosans_12
text=1/8
textalignh=2
textalignv=1
textshadow=yes

// 713:7
[room_title_text]
type=text
x=4
width=50
height=14
layer=room_holder
textfont=notosans_12
text=Room:
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 3)

// 713:8
[time_left]
type=text
x=4
width=38
height=14
xmode=abs_right
layer=time_holder
textfont=notosans_12
text=5:00
textalignh=2
textalignv=1
textshadow=yes

// 713:9
[time_text]
type=text
x=4
width=50
height=14
layer=time_holder
textfont=notosans_12
text=Time:
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 3)

// 713:10
[level_holder]
type=layer
x=1
y=52
height=20
widthmode=minus
layer=objectives_overlay_content
onmouserepeat=script8799("The Thieving level required for the current room.", event_com, event_comsubid)

// 713:11
[level_title_text]
type=text
x=4
width=32
height=14
layer=level_holder
textfont=notosans_12
text=Level:
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 3)

// 713:12
[level_text]
type=text
x=4
width=32
height=14
xmode=abs_right
layer=level_holder
textfont=notosans_12
text=21
textalignh=2
textalignv=1
textshadow=yes

// 713:13
[objectives_overlay_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=objectives

// 713:14
[tooltip_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=objectives

