// 1595:0
[content_layer]
type=layer
x=7
y=7
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=proportion_centre
ymode=proportion_centre

// 1595:1
[com_1]
type=model
x=7
y=2949
width=26695
height=28311
widthmode=proportion
heightmode=proportion
xmode=proportion_centre
ymode=proportion_centre
layer=content_layer
model=q200_2014_scrying_pool_interface
modelorigin_x=6
modelorigin_y=88
modelangle_x=1865
modelangle_y=2042
modelangle_z=0
modelzoom=212
modelobjwidth=834
modelobjheight=577

