// 1264:0
[update_large_1_background]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=update_large_1
noclickthrough=yes
graphic=q4_awareness_2023_sign_default
alpha=yes
colour=0xffffff
clickmask=no

// 1264:1
[update_large_1_title]
type=text
y=819
width=13107
height=9830
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=proportion_centre
layer=update_large_1
noclickthrough=yes
textfont=cinzel_15pt_bold
text=Header
textalignh=1
textalignv=1
textshadow=yes

// 1264:2
[update_small_1_background]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=update_small_1
noclickthrough=yes
graphic=q4_awareness_2023_sign_default
alpha=yes
colour=0xffffff
clickmask=no

// 1264:3
[update_small_1_title]
type=text
y=5
width=13107
height=9830
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=update_small_1
noclickthrough=yes
textfont=cinzel_15pt_bold
text=Header
textalignh=1
textalignv=1
textshadow=yes

// 1264:4
[fade_overlay]
type=rectangle
width=1065
height=606
layer=info_overlay
colour=0x000000
fill=yes
trans=100
onclick=script2538

// 1264:5
[info_box]
type=layer
width=675
height=500
xmode=abs_centre
ymode=abs_centre
layer=info_overlay
noclickthrough=yes

// 1264:6
[info_box_description_scrollbar]
type=layer
width=16
height=16384
heightmode=proportion
xmode=abs_right
layer=info_box_description_container_layer

// 1264:7
[info_box_description_text_layer]
type=layer
x=1
y=2
width=534
height=16282
heightmode=proportion
layer=info_box_description_container_layer

// 1264:8
[info_box_description]
type=text
width=16384
height=17276
widthmode=proportion
heightmode=proportion
xmode=abs_centre
layer=info_box_description_text_layer
noclickthrough=yes
textfont=notosans_14
textshadow=yes

// 1264:9
[com_9]
type=graphic
width=675
widthmode=aspect
heightmode=minus
xmode=abs_centre
ymode=abs_centre
aspectwidth=540
aspectheight=400
layer=info_box
noclickthrough=yes
graphic=q4_awareness_2023_childwindow
alpha=yes
colour=0xffffff
clickmask=no

// 1264:10
[info_box_title]
type=text
y=64
width=13107
height=66
widthmode=proportion
xmode=abs_centre
layer=info_box
noclickthrough=yes
textfont=cinzel_18pt_bold
text=Header
textalignh=1
textalignv=1
textshadow=yes

// 1264:11
[info_box_release_date]
type=text
y=129
width=13107
height=31
widthmode=proportion
xmode=abs_centre
layer=info_box
noclickthrough=yes
textfont=notosans_16
text=Release Date
textalignh=1
textalignv=1
textshadow=yes
colour=0xf2ff1e

// 1264:12
[info_box_description_container_layer]
type=layer
x=78
y=166
width=13373
height=288
widthmode=proportion
layer=info_box

// 1264:13
[info_overlay_close_button_layer]
type=layer
x=25
y=19
width=40
height=40
xmode=abs_right
layer=info_box
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script18316(q4_awareness_2023:close_button_1, 1)
onmouseleave=script18316(q4_awareness_2023:close_button_1, 0)
onclick=script2538

// 1264:14
[update_large_2_background]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=update_large_2
noclickthrough=yes
graphic=q4_awareness_2023_sign_default
alpha=yes
colour=0xffffff
clickmask=no

// 1264:15
[update_large_2_title]
type=text
y=5
width=13107
height=10649
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=update_large_2
noclickthrough=yes
textfont=cinzel_15pt_bold
text=Header
textalignh=1
textalignv=1
textshadow=yes

// 1264:16
[update_large_3_background]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=update_large_3
noclickthrough=yes
graphic=q4_awareness_2023_sign_default
alpha=yes
colour=0xffffff
clickmask=no

// 1264:17
[update_large_3_title]
type=text
y=5
width=13107
height=9830
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=update_large_3
noclickthrough=yes
textfont=cinzel_15pt_bold
text=Header
textalignh=1
textalignv=1
textshadow=yes

// 1264:18
[update_small_2_background]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=update_small_2
noclickthrough=yes
graphic=q4_awareness_2023_sign_default
alpha=yes
colour=0xffffff
clickmask=no

// 1264:19
[update_small_2_title]
type=text
y=5
width=13107
height=9830
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=update_small_2
noclickthrough=yes
textfont=cinzel_15pt_bold
text=Header
textalignh=1
textalignv=1
textshadow=yes

// 1264:20
[update_small_3_background]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=update_small_3
noclickthrough=yes
graphic=q4_awareness_2023_sign_default
alpha=yes
colour=0xffffff
clickmask=no

// 1264:21
[update_small_3_title]
type=text
y=5
width=13107
height=9830
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=update_small_3
noclickthrough=yes
textfont=cinzel_15pt_bold
text=Header
textalignh=1
textalignv=1
textshadow=yes

// 1264:22
[update_small_4_background]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=update_small_4
noclickthrough=yes
graphic=q4_awareness_2023_sign_default
alpha=yes
colour=0xffffff
clickmask=no

// 1264:23
[update_small_4_title]
type=text
y=5
width=13107
height=9830
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=update_small_4
noclickthrough=yes
textfont=cinzel_15pt_bold
text=Header
textalignh=1
textalignv=1
textshadow=yes

// 1264:24
[close_button_1]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=info_overlay_close_button_layer
graphic="rs3_btn_close_24px,0"
colour=0xffffff
clickmask=no

// 1264:25
[mainmodal_window]
type=layer
width=1066
height=600
xmode=abs_centre
ymode=abs_centre
onload=script8420(q4_awareness_2023:mainmodal_window_background, q4_awareness_2023:mainmodal_window_border, q4_awareness_2023:mainmodal_window_content, q4_awareness_2023:mainmodal_window_close_button, "   Festive Releases   ", 21218, null)

// 1264:26
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1264:27
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script18312

// 1264:28
[background]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
graphic=q4_awareness_2023_background
colour=0xffffff
clickmask=no

// 1264:29
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1264:30
[update_large_1]
type=layer
x=8
y=200
width=220
height=115
layer=mainmodal_window_content
onmouseover=script18314(q4_awareness_2023_update_1, 1)
onmouseleave=script18314(q4_awareness_2023_update_1, 0)
onclick=script2537(q4_awareness_2023_update_1)

// 1264:31
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1264:32
[update_large_2]
type=layer
x=446
y=180
width=220
height=115
layer=mainmodal_window_content
onmouseover=script18314(q4_awareness_2023_update_2, 1)
onmouseleave=script18314(q4_awareness_2023_update_2, 0)
onclick=script2537(q4_awareness_2023_update_2)

// 1264:33
[update_large_3]
type=layer
x=8
y=170
width=220
height=115
xmode=abs_right
layer=mainmodal_window_content
onmouseover=script18314(q4_awareness_2023_update_3, 1)
onmouseleave=script18314(q4_awareness_2023_update_3, 0)
onclick=script2537(q4_awareness_2023_update_3)

// 1264:34
[panel_1]
type=panel
y=22
height=115
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
noclickthrough=yes
isvertical=no
childspacing=40

// 1264:35
[layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=panel_1

// 1264:36
[update_small_1]
type=layer
x=40
y=22
width=200
height=115
ymode=abs_bottom
layer=panel_1
onmouseover=script18314(q4_awareness_2023_update_4, 1)
onmouseleave=script18314(q4_awareness_2023_update_4, 0)
onclick=script2537(q4_awareness_2023_update_4)

// 1264:37
[update_small_2]
type=layer
x=287
y=22
width=200
height=115
ymode=abs_bottom
layer=panel_1
onmouseover=script18314(q4_awareness_2023_update_5, 1)
onmouseleave=script18314(q4_awareness_2023_update_5, 0)
onclick=script2537(q4_awareness_2023_update_5)

// 1264:38
[update_small_3]
type=layer
x=287
y=22
width=200
height=115
xmode=abs_right
ymode=abs_bottom
layer=panel_1
onmouseover=script18314(q4_awareness_2023_update_6, 1)
onmouseleave=script18314(q4_awareness_2023_update_6, 0)
onclick=script2537(q4_awareness_2023_update_6)

// 1264:39
[update_small_4]
type=layer
x=40
y=22
width=200
height=115
xmode=abs_right
ymode=abs_bottom
layer=panel_1
onmouseover=script18314(q4_awareness_2023_update_7, 1)
onmouseleave=script18314(q4_awareness_2023_update_7, 0)
onclick=script2537(q4_awareness_2023_update_7)

// 1264:40
[layer_2]
type=layer
widthmode=minus
heightmode=minus
layer=panel_1

// 1264:41
[info_overlay]
type=layer
width=1070
height=597
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

