// 1285:0
[layer_background]
type=layer
x=-7
y=-5
width=512
height=334
layer=layer_position

// 1285:1
[layer_artifacts]
type=layer
x=-7
y=-5
width=512
height=334
layer=layer_position
onvarctransmit=script6245
onvarctransmitlist=qbd2_artifacts_state

// 1285:2
[layer_bar_bounds]
type=layer
x=35
y=25
width=271
height=11
layer=layer_position

// 1285:3
[layer_front]
type=layer
x=-7
y=-5
width=512
height=334
layer=layer_position

// 1285:4
[layer_bar_green]
type=layer
width=16384
height=13
widthmode=proportion
layer=layer_bar_bounds
onvarctransmit=script6241
onvarctransmitlist=qbd2_phase_damage

// 1285:5
[bar_end_left]
type=graphic
x=-2
y=16
width=55
height=40
layer=layer_front
graphic=qbd_bar_end_1
colour=0xffffff
clickmask=no

// 1285:6
[bar_end_right]
type=graphic
x=302
y=16
width=55
height=40
layer=layer_front
graphic=qbd_bar_end_1
hflip=yes
colour=0xffffff
clickmask=no

// 1285:7
[artifact1_deactivated]
type=graphic
x=128
y=2
width=25
height=29
layer=layer_artifacts
graphic="qbd_artifact_1,1"
colour=0xffffff
clickmask=no

// 1285:8
[artifact2_deactivated]
type=graphic
x=152
y=2
width=25
height=29
layer=layer_artifacts
graphic="qbd_artifact_1,1"
colour=0xffffff
clickmask=no

// 1285:9
[artifact3_deactivated]
type=graphic
x=176
y=2
width=25
height=29
layer=layer_artifacts
graphic="qbd_artifact_1,1"
colour=0xffffff
clickmask=no

// 1285:10
[artifact4_deactivated]
type=graphic
x=200
y=2
width=25
height=29
layer=layer_artifacts
graphic="qbd_artifact_1,1"
colour=0xffffff
clickmask=no

// 1285:11
[artifact1_ready]
type=graphic
x=128
y=2
width=25
height=29
layer=layer_artifacts
hide=yes
graphic="qbd_artifact_1,2"
colour=0xffffff
clickmask=no

// 1285:12
[artifact2_ready]
type=graphic
x=152
y=2
width=25
height=29
layer=layer_artifacts
hide=yes
graphic="qbd_artifact_1,2"
colour=0xffffff
clickmask=no

// 1285:13
[artifact3_ready]
type=graphic
x=176
y=2
width=25
height=29
layer=layer_artifacts
hide=yes
graphic="qbd_artifact_1,2"
colour=0xffffff
clickmask=no

// 1285:14
[artifact4_ready]
type=graphic
x=200
y=2
width=25
height=29
layer=layer_artifacts
hide=yes
graphic="qbd_artifact_1,2"
colour=0xffffff
clickmask=no

// 1285:15
[artifact1_activated]
type=graphic
x=128
y=2
width=25
height=29
layer=layer_artifacts
hide=yes
graphic="qbd_artifact_1,0"
colour=0xffffff
clickmask=no

// 1285:16
[artifact2_activated]
type=graphic
x=152
y=2
width=25
height=29
layer=layer_artifacts
hide=yes
graphic="qbd_artifact_1,0"
colour=0xffffff
clickmask=no

// 1285:17
[artifact3_activated]
type=graphic
x=176
y=2
width=25
height=29
layer=layer_artifacts
hide=yes
graphic="qbd_artifact_1,0"
colour=0xffffff
clickmask=no

// 1285:18
[artifact4_activated]
type=graphic
x=200
y=2
width=25
height=29
layer=layer_artifacts
hide=yes
graphic="qbd_artifact_1,0"
colour=0xffffff
clickmask=no

// 1285:19
[bar_body_right]
type=graphic
x=177
y=5
width=136
height=46
layer=layer_background
graphic=qbd_bar_body_1
colour=0xffffff
clickmask=no

// 1285:20
[bar_body_left]
type=graphic
x=42
y=5
width=136
height=46
layer=layer_background
graphic=qbd_bar_body_1
hflip=yes
colour=0xffffff
clickmask=no

// 1285:21
[green_left]
type=graphic
width=10
height=13
layer=layer_bar_green
graphic="qbd_nrgbar_1,2"
hflip=yes
colour=0xffffff
clickmask=no

// 1285:22
[green_middle]
type=graphic
width=20
height=13
widthmode=minus
xmode=abs_centre
layer=layer_bar_green
graphic="qbd_nrgbar_1,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1285:23
[green_right]
type=graphic
width=10
height=13
xmode=abs_right
layer=layer_bar_green
graphic="qbd_nrgbar_1,2"
colour=0xffffff
clickmask=no

// 1285:24
[layer_bar_red]
type=layer
width=16391
height=13
widthmode=proportion
layer=layer_bar_bounds
hide=yes
onvarctransmit=script6241
onvarctransmitlist=qbd2_phase_damage

// 1285:25
[red_left]
type=graphic
width=10
height=13
layer=layer_bar_red
graphic="qbd_nrgbar_1,3"
colour=0xffffff
clickmask=no

// 1285:26
[red_middle]
type=graphic
width=20
height=13
widthmode=minus
xmode=abs_centre
layer=layer_bar_red
graphic="qbd_nrgbar_1,4"
tiling=yes
colour=0xffffff
clickmask=no

// 1285:27
[red_right]
type=graphic
width=10
height=13
xmode=abs_right
layer=layer_bar_red
graphic="qbd_nrgbar_1,5"
colour=0xffffff
clickmask=no

// 1285:28
[layer_position]
type=layer
width=345
height=75
xmode=abs_centre
onload=script6240
onvarctransmit=script6238
onvarctransmitlist=qbd2_show_timestop

// 1285:29
[layer_grey]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
hide=yes

// 1285:30
[timestop_overlay]
type=model
x=39
y=56
width=24519
height=37582
widthmode=proportion
heightmode=proportion
xmode=proportion_centre
ymode=proportion_centre
hide=yes
model=qbd2_frozen_overlay
modelnodepth=yes
modelorigin_x=-1
modelorigin_y=-17
modelangle_x=492
modelangle_y=3
modelangle_z=0
modelzoom=563
modelanim=smki_smoke_overlay
modelobjwidth=766
modelobjheight=766

// 1285:31
[noclickthru]
type=layer
widthmode=minus
heightmode=minus
hide=yes
noclickthrough=yes

// 1285:32
[layer_bar_text]
type=text
x=-3
y=22
width=8519
height=20
widthmode=proportion
xmode=abs_centre
textfont=cinzel_15pt_bold
text=25,000
textalignh=1
textshadow=yes

// 1285:33
[grey]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=layer_grey
colour=0x969696
fill=yes
trans=100

// 1285:34
[layer_black]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=qbd2_fadein_boss

// 1285:35
[black]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=layer_black
colour=0x000000
fill=yes

