// 104:0
[layer_1]
type=layer
width=512
height=334
xmode=proportion_centre
ymode=proportion_centre
layer=mainmodal_window_content

// 104:1
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(qip_obs_starchart:mainmodal_window_background, qip_obs_starchart:mainmodal_window_border, qip_obs_starchart:mainmodal_window_content, qip_obs_starchart:mainmodal_window_close_button, "Star Chart Viewer", 21218, string_1007)

// 104:2
[aquarius]
type=text
x=358
y=46
width=127
height=17
layer=layer_1
textfont=museo_sans_13pt_bold
text=Aquarius
textshadow=yes
colour=0xffcb05
transmitop1=yes
op1=View
onload=script10496(event_com, event_comsubid, 1)

// 104:3
[aries]
type=text
x=358
y=65
width=127
height=17
layer=layer_1
textfont=museo_sans_13pt_bold
text=Aries
textshadow=yes
colour=0xffcb05
transmitop1=yes
op1=View
onload=script10496(event_com, event_comsubid, 1)

// 104:4
[cancer]
type=text
x=358
y=84
width=127
height=17
layer=layer_1
textfont=museo_sans_13pt_bold
text=Cancer
textshadow=yes
colour=0xffcb05
transmitop1=yes
op1=View
onload=script10496(event_com, event_comsubid, 1)

// 104:5
[capricorn]
type=text
x=358
y=103
width=127
height=17
layer=layer_1
textfont=museo_sans_13pt_bold
text=Capricorn
textshadow=yes
colour=0xffcb05
transmitop1=yes
op1=View
onload=script10496(event_com, event_comsubid, 1)

// 104:6
[gemini]
type=text
x=358
y=122
width=127
height=17
layer=layer_1
textfont=museo_sans_13pt_bold
text=Gemini
textshadow=yes
colour=0xffcb05
transmitop1=yes
op1=View
onload=script10496(event_com, event_comsubid, 1)

// 104:7
[leo]
type=text
x=358
y=141
width=127
height=17
layer=layer_1
textfont=museo_sans_13pt_bold
text=Leo
textshadow=yes
colour=0xffcb05
transmitop1=yes
op1=View
onload=script10496(event_com, event_comsubid, 1)

// 104:8
[libra]
type=text
x=358
y=160
width=127
height=17
layer=layer_1
textfont=museo_sans_13pt_bold
text=Libra
textshadow=yes
colour=0xffcb05
transmitop1=yes
op1=View
onload=script10496(event_com, event_comsubid, 1)

// 104:9
[pisces]
type=text
x=358
y=179
width=127
height=17
layer=layer_1
textfont=museo_sans_13pt_bold
text=Pisces
textshadow=yes
colour=0xffcb05
transmitop1=yes
op1=View
onload=script10496(event_com, event_comsubid, 1)

// 104:10
[sagittarius]
type=text
x=358
y=198
width=127
height=17
layer=layer_1
textfont=museo_sans_13pt_bold
text=Sagittarius
textshadow=yes
colour=0xffcb05
transmitop1=yes
op1=View
onload=script10496(event_com, event_comsubid, 1)

// 104:11
[scorpio]
type=text
x=358
y=217
width=127
height=17
layer=layer_1
textfont=museo_sans_13pt_bold
text=Scorpio
textshadow=yes
colour=0xffcb05
transmitop1=yes
op1=View
onload=script10496(event_com, event_comsubid, 1)

// 104:12
[taurus]
type=text
x=358
y=236
width=127
height=17
layer=layer_1
textfont=museo_sans_13pt_bold
text=Taurus
textshadow=yes
colour=0xffcb05
transmitop1=yes
op1=View
onload=script10496(event_com, event_comsubid, 1)

// 104:13
[virgo]
type=text
x=358
y=255
width=127
height=17
layer=layer_1
textfont=museo_sans_13pt_bold
text=Virgo
textshadow=yes
colour=0xffcb05
transmitop1=yes
op1=View
onload=script10496(event_com, event_comsubid, 1)

// 104:14
[com_14]
type=rectangle
x=26
y=242
width=317
height=49
layer=layer_1
colour=0x1e2644
fill=yes

// 104:15
[com_15]
type=rectangle
x=26
y=183
width=317
height=59
layer=layer_1
colour=0x19213f
fill=yes

// 104:16
[com_16]
type=rectangle
x=26
y=121
width=317
height=64
layer=layer_1
colour=0x141c3a
fill=yes

// 104:17
[com_17]
type=rectangle
x=26
y=44
width=317
height=78
layer=layer_1
colour=0x0f1735
fill=yes

// 104:18
[com_18]
type=rectangle
x=33
y=53
width=4
height=231
layer=layer_1
colour=0x28304e
fill=yes

// 104:19
[com_19]
type=rectangle
x=35
y=280
width=300
height=4
layer=layer_1
colour=0x28304e
fill=yes

// 104:20
[com_20]
type=line
x=62
y=52
height=228
layer=layer_1
colour=0x28304e

// 104:21
[com_21]
type=line
x=95
y=52
height=228
layer=layer_1
colour=0x28304e

// 104:22
[com_22]
type=line
x=130
y=52
height=228
layer=layer_1
colour=0x28304e

// 104:23
[com_23]
type=line
x=164
y=52
height=228
layer=layer_1
colour=0x28304e

// 104:24
[com_24]
type=line
x=198
y=52
height=228
layer=layer_1
colour=0x28304e

// 104:25
[com_25]
type=line
x=232
y=52
height=228
layer=layer_1
colour=0x28304e

// 104:26
[com_26]
type=line
x=268
y=52
height=228
layer=layer_1
colour=0x28304e

// 104:27
[com_27]
type=line
x=303
y=52
height=228
layer=layer_1
colour=0x28304e

// 104:28
[com_28]
type=line
x=36
y=56
width=286
layer=layer_1
colour=0x28304e

// 104:29
[com_29]
type=line
x=36
y=86
width=286
layer=layer_1
colour=0x28304e

// 104:30
[com_30]
type=line
x=36
y=116
width=286
layer=layer_1
colour=0x28304e

// 104:31
[com_31]
type=line
x=36
y=146
width=286
layer=layer_1
colour=0x28304e

// 104:32
[com_32]
type=line
x=36
y=176
width=286
layer=layer_1
colour=0x28304e

// 104:33
[com_33]
type=line
x=36
y=206
width=286
layer=layer_1
colour=0x28304e

// 104:34
[com_34]
type=line
x=36
y=236
width=286
layer=layer_1
colour=0x28304e

// 104:35
[com_35]
type=line
x=36
y=266
width=286
layer=layer_1
colour=0x28304e

// 104:36
[stars]
type=model
x=63
y=75
width=239
height=175
layer=layer_1
model=qip_obs_stars_aquarius
modelorigin_x=1
modelorigin_y=2
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=820
modelanim=twinkling_stars

// 104:37
[com_37]
type=rectangle
x=29
y=265
width=175
height=24
layer=layer_1
colour=0x171717
fill=yes
trans=100

// 104:38
[chart_name]
type=text
x=34
y=267
width=169
height=20
layer=layer_1
textfont=museo_sans_13pt_bold
text=Aquarius
textalignh=1
textalignv=1
textshadow=yes

// 104:39
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 104:40
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 104:41
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 104:42
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

