// 530:0
[qip_soa_newspaper_model]
type=model
x=2
y=-5
width=509
height=347
layer=content_layer
model=qip_soa_arrav_varrock_herald_paper
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=450

// 530:1
[back_page_scroll_left]
type=layer
x=22
y=77
width=200
height=196
layer=content_layer

// 530:2
[scroll_left]
type=layer
x=227
y=77
width=16
height=196
layer=content_layer

// 530:3
[scroll_right]
type=layer
x=473
y=77
width=16
height=196
layer=content_layer

// 530:4
[back_page_scroll_right]
type=layer
x=268
y=77
width=200
height=196
layer=content_layer

// 530:5
[front_page]
type=layer
x=32
y=50
width=462
height=252
layer=content_layer
hide=yes

// 530:6
[com_6]
type=graphic
x=467
y=19
width=26
height=23
layer=content_layer
graphic="close_buttons,6"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onmouseover=graphic_swapper(event_com, "close_buttons,7")
onmouseleave=graphic_swapper(event_com, "close_buttons,6")
onop=closebutton_click

// 530:7
[front_page_text_left]
type=text
x=18
y=27
width=151
height=199
layer=front_page
textfont=q8_full
text=This is an interface type test.
colour=0x1b1b1b

// 530:8
[front_page_text_right]
type=text
x=287
y=27
width=151
height=199
layer=front_page
textfont=q8_full
text=This is an interface type test.
colour=0x1b1b1b

// 530:9
[content_layer]
type=layer
width=512
height=334
xmode=proportion_centre
ymode=proportion_centre

