// 267:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(qps:mainmodal_window_background, qps:mainmodal_window_border, qps:mainmodal_window_content, qps:mainmodal_window_close_button, "", 21218, null)

// 267:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 267:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 267:3
[tab_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 267:4
[confirmation_mask]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 267:5
[confirmation_mask_fill]
type=rectangle
widthmode=minus
heightmode=minus
layer=confirmation_mask
colour=0x000000
fill=yes
trans=80

// 267:6
[confirmation_window]
type=layer
width=300
height=180
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
hide=yes
onload=script8420(qps:confirmation_window_background, qps:confirmation_window_border, qps:confirmation_window_content, null, "Are you sure?", 21217, string_1007)

// 267:7
[claim_window]
type=layer
width=350
height=250
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
hide=yes
onload=script8420(qps:claim_window_background, qps:claim_window_border, qps:claim_window_content, null, "Claim Rewards", 21217, string_1007)

// 267:8
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 267:9
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 267:10
[tab_display]
type=layer
y=23
height=23
widthmode=minus
heightmode=minus
layer=tab_layer

// 267:11
[tab_background]
type=layer
widthmode=minus
heightmode=minus
layer=tab_display
onload=script10896(event_com, null, rs3tli_content_panel)

// 267:12
[tab_content]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tab_display

// 267:13
[tab1_content]
type=layer
widthmode=minus
heightmode=minus
layer=tab_content

// 267:14
[tab1_background]
type=graphic
widthmode=minus
heightmode=minus
layer=tab1_content
colour=0xffffff
clickmask=no

// 267:15
[tab1_header]
type=layer
height=45
widthmode=minus
layer=tab1_content

// 267:16
[tab1_header_progress]
type=layer
width=580
heightmode=minus
ymode=abs_centre
layer=tab1_header

// 267:17
[tab1_header_progress_low]
type=text
x=11
width=30
height=32
ymode=abs_centre
layer=tab1_header_progress
textfont=museo_sans_15pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 267:18
[tab1_header_progress_bar]
type=layer
x=50
width=110
height=10
widthmode=minus
ymode=abs_centre
layer=tab1_header_progress

// 267:19
[tab1_header_progress_high]
type=text
x=530
width=30
height=32
ymode=abs_centre
layer=tab1_header_progress
textfont=museo_sans_15pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 267:20
[tab1_header_progress_bar_background]
type=graphic
height=10
widthmode=minus
ymode=abs_centre
layer=tab1_header_progress_bar
graphic=decoration_fillbar_qps_inactive
colour=0xffffff
clickmask=no

// 267:21
[tab1_header_progress_bar_fill]
type=layer
height=10
widthmode=minus
ymode=abs_centre
layer=tab1_header_progress_bar

// 267:22
[com_22]
type=graphic
widthmode=minus
heightmode=minus
layer=tab1_header_progress_bar_fill
graphic=decoration_fillbar_qps_active
colour=0xffffff
clickmask=no

// 267:23
[tab1_header_info]
type=layer
x=30
width=150
height=10
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=tab1_header

// 267:24
[tab1_header_info_background]
type=graphic
widthmode=minus
heightmode=minus
layer=tab1_header_info
graphic=container_currency_qps
colour=0xffffff
clickmask=no

// 267:25
[tab1_header_info_icon]
type=graphic
x=8
y=2
width=30
height=30
ymode=abs_centre
layer=tab1_header_info
colour=0xffffff
clickmask=no

// 267:26
[tab1_header_info_text]
type=text
x=20
width=20
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=tab1_header_info
textfont=museo_sans_15pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 267:27
[tab1_track_layer]
type=layer
y=194
height=239
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=tab1_content

// 267:28
[tab1_track_title]
type=text
y=10
width=150
height=32
xmode=abs_centre
layer=tab1_track_layer
textfont=museo_sans_15pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 267:29
[tab1_track_left_button]
type=graphic
x=20
width=25
height=55
ymode=abs_centre
layer=tab1_track_layer
graphic=button_shelf_custom_qps_default
hflip=yes
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script1929(event_com, 0)
onmouserepeat=script1929(event_com, 1)

// 267:30
[tab1_track_centre_button]
type=layer
y=5
width=230
height=50
xmode=abs_centre
ymode=abs_bottom
layer=tab1_track_layer
onload=script13968(qps:tab1_track_centre_button_build, qps:tab1_track_centre_button_click, rs3tli_button_small, "Claim all rewards")

// 267:31
[tab1_track_centre_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=tab1_track_centre_button

// 267:32
[tab1_track_centre_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=tab1_track_centre_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 267:33
[tab1_track_right_button]
type=graphic
x=20
width=25
height=55
xmode=abs_right
ymode=abs_centre
layer=tab1_track_layer
graphic=button_arrow_next_qps_default
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script1929(event_com, 0)
onmouserepeat=script1929(event_com, 1)

// 267:34
[tab1_track]
type=layer
y=-35
width=680
height=160
xmode=abs_centre
ymode=abs_centre
layer=tab1_track_layer

// 267:35
[tab1_track_build]
type=layer
widthmode=minus
heightmode=minus
layer=tab1_track

// 267:36
[tab1_track_click]
type=layer
widthmode=minus
heightmode=minus
layer=tab1_track

// 267:37
[tab1_footer]
type=layer
height=194
widthmode=minus
ymode=abs_bottom
layer=tab1_content

// 267:38
[tab1_footer_bg]
type=layer
widthmode=minus
heightmode=minus
layer=tab1_footer

// 267:39
[tab1_footer_build]
type=layer
width=776
heightmode=minus
xmode=abs_centre
layer=tab1_footer

// 267:40
[tab1_footer_text]
type=text
y=5
width=200
height=32
xmode=abs_centre
layer=tab1_footer
textfont=museo_sans_15pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 267:41
[tab1_footer_click]
type=layer
width=776
heightmode=minus
xmode=abs_centre
layer=tab1_footer

// 267:42
[tab2_content]
type=layer
widthmode=minus
heightmode=minus
layer=tab_content

// 267:43
[info_panel]
type=layer
width=1
heightmode=minus
xmode=abs_right
layer=tab_content
hide=yes
noclickthrough=yes

// 267:44
[tab2_background]
type=graphic
widthmode=minus
heightmode=minus
layer=tab2_content
colour=0xffffff
clickmask=no

// 267:45
[tab2_topbar]
type=layer
width=776
height=50
layer=tab2_content

// 267:46
[tab2_topbar_currency]
type=layer
x=182
y=8
width=120
height=30
layer=tab2_topbar

// 267:47
[tab2_topbar_currency_background]
type=graphic
widthmode=minus
heightmode=minus
layer=tab2_topbar_currency
graphic=container_currency_qps
colour=0xffffff
clickmask=no

// 267:48
[tab2_topbar_currency_icon]
type=graphic
x=10
y=1
width=26
height=26
ymode=abs_centre
layer=tab2_topbar_currency
colour=0xffffff
clickmask=no

// 267:49
[tab2_topbar_currency_text]
type=text
x=20
width=20
widthmode=minus
heightmode=minus
layer=tab2_topbar_currency
textfont=museo_sans_15pt_bold
textalignh=1
textalignv=1
textshadow=yes
onvartransmit=script1916
onvartransmitlist=qps_general_use_var

// 267:50
[tab2_topbar_button]
type=layer
y=-3
width=190
height=50
layer=tab2_topbar
onload=script13968(qps:tab2_topbar_button_build, qps:tab2_topbar_button_click, rs3tli_button_small, "Reset Unlocks")

// 267:51
[tab2_topbar_info]
type=text
x=300
width=300
height=32
widthmode=minus
ymode=abs_centre
layer=tab2_topbar
textfont=museo_sans_13pt_bold
text=Allocate your quest points to unlock perks
textalignh=1
textalignv=1
textshadow=yes

// 267:52
[tab2_track_scrollbar]
type=layer
height=16
widthmode=minus
ymode=abs_bottom
layer=tab2_content

// 267:53
[tab2_track_layer]
type=layer
y=50
height=50
widthmode=minus
heightmode=minus
layer=tab2_content

// 267:54
[tab2_track_offset]
type=layer
height=447
widthmode=minus
ymode=abs_centre
layer=tab2_track_layer

// 267:55
[tab2_track_layer_build]
type=layer
widthmode=minus
heightmode=minus
layer=tab2_track_offset

// 267:56
[tab2_track_layer_click]
type=layer
widthmode=minus
heightmode=minus
layer=tab2_track_offset

// 267:57
[info_panel_build]
type=layer
widthmode=minus
heightmode=minus
layer=info_panel

// 267:58
[info_panel_click]
type=layer
widthmode=minus
heightmode=minus
layer=info_panel

// 267:59
[info_panel_close]
type=graphic
width=30
height=55
ymode=abs_centre
layer=info_panel
graphic=button_shelf_custom_qps_default
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script1929(event_com, 0)
onmouserepeat=script1929(event_com, 1)

// 267:60
[tab_buttons]
type=layer
width=8
height=24
widthmode=minus
xmode=abs_centre
layer=tab_layer
onload=script1862

// 267:61
[tab1_button]
type=layer
width=140
heightmode=minus
layer=tab_buttons
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1864(0)

// 267:62
[tab2_button]
type=layer
x=140
width=140
heightmode=minus
layer=tab_buttons
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script1864(1)

// 267:63
[confirmation_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirmation_window

// 267:64
[confirmation_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirmation_window

// 267:65
[confirmation_text]
type=text
y=10
width=60
height=70
widthmode=minus
xmode=abs_centre
layer=confirmation_window_content
textfont=museo_sans_13pt_regular
text=Do you wish to allocate X points to this track?
textalignh=1
textalignv=1
textshadow=yes

// 267:66
[confirmation_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=confirmation_window

// 267:67
[confirmation_accept]
type=layer
x=20
y=10
width=120
height=27
xmode=abs_right
ymode=abs_bottom
layer=confirmation_window_content
onload=script13968(qps:confirmation_accept_build, qps:confirmation_accept_click, rs3tli_positive_button, "Accept")

// 267:68
[confirmation_cancel]
type=layer
x=20
y=10
width=120
height=27
ymode=abs_bottom
layer=confirmation_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_negative_button, "Cancel")
onop=script1947

// 267:69
[confirmation_accept_build]
type=layer
widthmode=minus
heightmode=minus
layer=confirmation_accept

// 267:70
[confirmation_accept_click]
type=layer
widthmode=minus
heightmode=minus
layer=confirmation_accept
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 267:71
[tab2_topbar_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=tab2_topbar_button

// 267:72
[tab2_topbar_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=tab2_topbar_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 267:73
[claim_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=claim_window

// 267:74
[claim_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=claim_window

// 267:75
[claim_layer]
type=layer
x=20
y=10
width=40
height=100
widthmode=minus
heightmode=minus
layer=claim_window_content

// 267:76
[claim_layer_build]
type=layer
widthmode=minus
heightmode=minus
layer=claim_layer

// 267:77
[claim_scrollbar]
type=layer
y=70
width=40
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=claim_window_content

// 267:78
[claim_text]
type=text
y=-10
width=30
height=60
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_window_content
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 267:79
[claim_warning]
type=text
y=28
width=30
height=60
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=claim_window_content
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 267:80
[claim_accept]
type=layer
x=20
y=10
width=140
height=27
xmode=abs_right
ymode=abs_bottom
layer=claim_window_content
onload=script13968(qps:claim_accept_build, qps:claim_accept_click, rs3tli_positive_button, "Claim now")

// 267:81
[claim_accept_build]
type=layer
widthmode=minus
heightmode=minus
layer=claim_accept

// 267:82
[claim_accept_click]
type=layer
widthmode=minus
heightmode=minus
layer=claim_accept
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 267:83
[claim_cancel]
type=layer
x=20
y=10
width=140
height=27
ymode=abs_bottom
layer=claim_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_negative_button, "Cancel")
onop=script2243

// 267:84
[claim_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=claim_window

