// 1231:0
[powerup_choice_three]
type=layer
x=4
y=4
width=160
height=8
heightmode=minus
xmode=abs_right
layer=powerup_ui_content
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1231:1
[powerup_choice_two]
type=layer
y=4
width=160
height=8
heightmode=minus
xmode=abs_centre
layer=powerup_ui_content
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1231:2
[powerup_ui]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(quest_fort_zemo_powerup:powerup_ui_background, quest_fort_zemo_powerup:powerup_ui_border, quest_fort_zemo_powerup:powerup_ui_content, quest_fort_zemo_powerup:powerup_ui_close_button, "Choose a Power-up", 21218, string_1040)

// 1231:3
[powerup_ui_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=powerup_ui

// 1231:4
[powerup_ui_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=powerup_ui

// 1231:5
[powerup_choice_one]
type=layer
x=4
y=4
width=160
height=8
heightmode=minus
layer=powerup_ui_content
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1231:6
[powerup_ui_border]
type=layer
widthmode=minus
heightmode=minus
layer=powerup_ui

// 1231:7
[powerup_ui_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=powerup_ui
transmitop1=yes
opkey1=0,13,0
op1=Close
onop=closebutton_click

// 1231:8
[powerup_choice_one_background]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=powerup_choice_one
onload=rs3_background_panel(event_com, rs3_content_container_active)
onmouseover=rs3_background_panel_over(event_com)
onmouseleave=rs3_background_panel_on(event_com)

// 1231:9
[powerup_choice_one_description]
type=text
y=10
width=20
height=125
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=powerup_choice_one
textfont=museo_sans_11pt_regular_multiline
text=Power-up Description
textalignh=1
textshadow=yes

// 1231:10
[powerup_choice_one_title]
type=text
y=10
width=20
height=50
widthmode=minus
xmode=abs_centre
layer=powerup_choice_one
textfont=cinzel_15pt_bold
text=Power-up Name
textalignh=1
textshadow=yes
maxlines=2
onload=script10496(event_com, -1, 0)

// 1231:11
[powerup_choice_one_graphic]
type=graphic
y=70
width=72
height=72
xmode=abs_centre
layer=powerup_choice_one
graphic=transparency_placeholder
colour=0xffffff
clickmask=no

// 1231:12
[powerup_choice_two_background]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=powerup_choice_two
onload=rs3_background_panel(event_com, rs3_content_container_active)
onmouseover=rs3_background_panel_over(event_com)
onmouseleave=rs3_background_panel_on(event_com)

// 1231:13
[powerup_choice_two_description]
type=text
y=10
width=20
height=125
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=powerup_choice_two
textfont=museo_sans_11pt_regular_multiline
text=Power-up Description
textalignh=1
textshadow=yes
maxlines=6

// 1231:14
[powerup_choice_two_title]
type=text
y=10
width=20
height=50
widthmode=minus
xmode=abs_centre
layer=powerup_choice_two
textfont=cinzel_15pt_bold
text=Power-up Name
textalignh=1
textshadow=yes
maxlines=2
onload=script10496(event_com, -1, 0)

// 1231:15
[powerup_choice_two_graphic]
type=graphic
y=70
width=72
height=72
xmode=abs_centre
layer=powerup_choice_two
graphic=transparency_placeholder
colour=0xffffff
clickmask=no

// 1231:16
[powerup_choice_three_background]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=powerup_choice_three
onload=rs3_background_panel(event_com, rs3_content_container_active)
onmouseover=rs3_background_panel_over(event_com)
onmouseleave=rs3_background_panel_on(event_com)

// 1231:17
[powerup_choice_three_graphic]
type=graphic
y=70
width=72
height=72
xmode=abs_centre
layer=powerup_choice_three
graphic=transparency_placeholder
colour=0xffffff
clickmask=no

// 1231:18
[powerup_choice_three_title]
type=text
y=10
width=20
height=50
widthmode=minus
xmode=abs_centre
layer=powerup_choice_three
textfont=cinzel_15pt_bold
text=Power-up Name
textalignh=1
textshadow=yes
maxlines=2
onload=script10496(event_com, -1, 0)

// 1231:19
[powerup_choice_three_description]
type=text
y=10
width=20
height=125
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=powerup_choice_three
textfont=museo_sans_11pt_regular_multiline
text=Power-up Description
textalignh=1
textshadow=yes

