// 431:0
[lunar_galleon_map_scroll]
type=model
x=16
y=10
width=495
height=315
layer=content_layer
model=if_map_scroll
modelorigin_x=-20
modelorigin_y=-11
modelangle_x=366
modelangle_y=6
modelangle_z=0
modelzoom=899

// 431:1
[com_1]
type=text
x=290
y=184
width=81
height=50
layer=content_layer
textfont=museo_sans_13pt_bold
text=Pirates'<br> Cove
textalignh=1
textalignv=1
colour=0xffcb05

// 431:2
[com_2]
type=text
x=126
y=137
width=121
height=66
layer=content_layer
textfont=museo_sans_13pt_bold
text=Moonclan<br> Island
textalignh=1
textalignv=1
colour=0xffcb05

// 431:3
[lunar_galleon_map]
type=model
x=141
y=80
width=250
height=196
layer=content_layer
model=if_quest_lunar_galleon_map
modelorigin_x=0
modelorigin_y=-8
modelangle_x=338
modelangle_y=0
modelangle_z=0
modelzoom=1406

// 431:4
[com_4]
type=model
x=119
y=268
width=42
height=22
layer=content_layer
model=if_trail_waveicon
modelorigin_x=0
modelorigin_y=0
modelangle_x=304
modelangle_y=1885
modelangle_z=0
modelzoom=801

// 431:5
[com_5]
type=model
x=156
y=264
width=41
height=27
layer=content_layer
model=if_trail_waveicon
modelorigin_x=-1
modelorigin_y=-2
modelangle_x=370
modelangle_y=195
modelangle_z=0
modelzoom=801

// 431:6
[com_6]
type=model
x=333
y=139
width=40
height=17
layer=content_layer
model=if_trail_waveicon
modelorigin_x=0
modelorigin_y=0
modelangle_x=232
modelangle_y=1891
modelangle_z=0
modelzoom=815

// 431:7
[com_7]
type=model
x=371
y=136
width=45
height=20
layer=content_layer
model=if_trail_waveicon
modelorigin_x=-1
modelorigin_y=-4
modelangle_x=364
modelangle_y=111
modelangle_z=0
modelzoom=815

// 431:8
[com_8]
type=model
x=174
y=266
width=42
height=22
layer=content_layer
model=if_trail_waveicon
modelorigin_x=0
modelorigin_y=0
modelangle_x=304
modelangle_y=1885
modelangle_z=0
modelzoom=801

// 431:9
[com_9]
type=model
x=211
y=262
width=41
height=27
layer=content_layer
model=if_trail_waveicon
modelorigin_x=-1
modelorigin_y=-2
modelangle_x=370
modelangle_y=195
modelangle_z=0
modelzoom=801

// 431:10
[com_10]
type=model
x=140
y=75
width=31
height=13
layer=content_layer
model=if_trail_waveicon
modelorigin_x=0
modelorigin_y=0
modelangle_x=232
modelangle_y=1891
modelangle_z=0
modelzoom=1071

// 431:11
[com_11]
type=model
x=167
y=74
width=28
height=12
layer=content_layer
model=if_trail_waveicon
modelorigin_x=-1
modelorigin_y=-2
modelangle_x=364
modelangle_y=111
modelangle_z=0
modelzoom=1327

// 431:12
[lunar_galleon]
type=model
x=248
y=106
width=220
height=214
layer=content_layer
model=if_quest_lunar_galleon
modelorigin_x=-45
modelorigin_y=-14
modelangle_x=376
modelangle_y=0
modelangle_z=0
modelzoom=2406
modelanim=quest_lunar_set_sail_wrong

// 431:13
[content_layer]
type=layer
width=512
height=334
xmode=proportion_centre
ymode=proportion_centre

