// 1792:0
[base]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script12788

// 1792:1
[shade]
type=rectangle
widthmode=minus
heightmode=minus
layer=base
colour=0x000000
fill=yes
trans=200

// 1792:2
[text]
type=text
widthmode=minus
heightmode=minus
layer=base
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
trans=255

