// 489:0
[background_layer]
type=layer
width=512
height=334

// 489:1
[com_1]
type=graphic
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_2,0"
colour=0xffffff
clickmask=no

// 489:2
[com_2]
type=graphic
x=448
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_2,1"
colour=0xffffff
clickmask=no

// 489:3
[com_3]
type=graphic
x=64
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,0"
colour=0xffffff
clickmask=no

// 489:4
[com_4]
type=graphic
x=128
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,1"
colour=0xffffff
clickmask=no

// 489:5
[com_5]
type=graphic
x=192
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,2"
colour=0xffffff
clickmask=no

// 489:6
[com_6]
type=graphic
x=256
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,3"
colour=0xffffff
clickmask=no

// 489:7
[com_7]
type=graphic
x=320
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,4"
colour=0xffffff
clickmask=no

// 489:8
[com_8]
type=graphic
x=384
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,5"
colour=0xffffff
clickmask=no

// 489:9
[com_9]
type=graphic
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_2,2"
colour=0xffffff
clickmask=no

// 489:10
[com_10]
type=graphic
x=64
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,6"
colour=0xffffff
clickmask=no

// 489:11
[com_11]
type=graphic
x=128
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,7"
colour=0xffffff
clickmask=no

// 489:12
[com_12]
type=graphic
x=192
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,8"
colour=0xffffff
clickmask=no

// 489:13
[com_13]
type=graphic
x=256
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,9"
colour=0xffffff
clickmask=no

// 489:14
[com_14]
type=graphic
x=320
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,10"
colour=0xffffff
clickmask=no

// 489:15
[com_15]
type=graphic
x=384
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,11"
colour=0xffffff
clickmask=no

// 489:16
[com_16]
type=graphic
x=448
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_2,3"
colour=0xffffff
clickmask=no

// 489:17
[content_layer]
type=layer
width=512
height=334

// 489:18
[quest_icon]
type=graphic
x=1
y=55
width=50
height=50
xmode=abs_centre
layer=content_layer
graphic="quest_rating_icon,5"
colour=0xffffff
clickmask=no

// 489:19
[5th_age_icon]
type=graphic
x=1
y=55
width=50
height=50
xmode=abs_centre
layer=content_layer
hide=yes
graphic=aif_5th_age
colour=0xffffff
clickmask=no

// 489:20
[6th_age_icon]
type=graphic
x=1
y=55
width=50
height=50
xmode=abs_centre
layer=content_layer
hide=yes
graphic=aif_6th_age
colour=0xffffff
clickmask=no

// 489:21
[continue_button]
type=layer
y=270
width=135
height=26
xmode=abs_centre
layer=content_layer
noclickthrough=yes
transmitop1=yes
op1=Continue

// 489:22
[continue_button_standard]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=continue_button
onload=script5387(event_com, aif_bluebronze_tab_on)

// 489:23
[continue_button_mouseover]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=continue_button
onload=script5387(event_com, aif_bluebronze_tab_over)

// 489:24
[continue_button_clicked]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=continue_button
onload=script5387(event_com, aif_bluebronze_tab_hit)

// 489:25
[com_25]
type=text
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=continue_button
textfont=verdana_11pt_regular
text=Continue
textalignh=1
textalignv=1
textshadow=yes
colour=0xe3cccf

// 489:26
[quest_model_ver3]
type=model
x=50
y=237
width=44
height=45
layer=content_layer
model=lumbcat_reese_sword_inv
modelorigin_x=0
modelorigin_y=1
modelangle_x=256
modelangle_y=2033
modelangle_z=40
modelzoom=1151

// 489:27
[quest_title_ver3]
type=text
y=111
width=450
height=21
xmode=abs_centre
layer=content_layer
textfont=verdana_13pt_regular
textlineheight=16
textalignh=1
colour=0x213645

// 489:28
[you_are_awarded]
type=text
y=134
width=300
height=15
xmode=abs_centre
layer=content_layer
textfont=verdana_11pt_regular
text=You are awarded:
textlineheight=16
textalignh=1
colour=0x000000

// 489:29
[quest_points_text]
type=text
y=247
width=130
height=19
xmode=abs_centre
layer=content_layer
textfont=verdana_13pt_regular
textlineheight=16
textalignh=1
colour=0x213645

// 489:30
[rewards_area]
type=layer
x=1
y=150
width=284
height=97
xmode=abs_centre
layer=content_layer
onload=script4022(quest_complete_interface_fake:rewards_text, quest_complete_interface_fake:scrollbar)
onvarcstrtransmit=script4022(quest_complete_interface_fake:rewards_text, quest_complete_interface_fake:scrollbar)
onvarcstrtransmitlist=varclientstring_2554

// 489:31
[rewards_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=rewards_area

// 489:32
[rewards_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rewards_layer
textfont=verdana_11pt_regular
textlineheight=15
textalignh=1
colour=0x3c3c3c

// 489:33
[scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=rewards_area

// 489:34
[congratulations_graphic]
type=graphic
y=17
width=208
height=38
xmode=abs_centre
graphic=aif_quest_complete_title_en
colour=0xffffff
clickmask=no

