// 1819:0
[progress_bar_backing]
type=layer
width=394
height=33
xmode=abs_centre
layer=root

// 1819:1
[health_bar_red]
type=layer
x=22
y=8
width=350
height=17
layer=root
hide=yes

// 1819:2
[health_bar]
type=layer
x=22
width=350
height=33
layer=root

// 1819:3
[root]
type=layer
y=5
width=395
height=34
xmode=abs_centre
onvartransmit=script12998
onvartransmitlist=quest_endgame_phase1_portals_health

// 1819:4
[prog_bg_left]
type=graphic
width=44
height=33
layer=progress_bar_backing
graphic="gwd2_solo_boss_hitpoints_back,0"
colour=0xffffff
clickmask=no

// 1819:5
[prog_bg_mid]
type=graphic
width=88
height=33
widthmode=minus
xmode=abs_centre
layer=progress_bar_backing
graphic="gwd2_solo_boss_hitpoints_back,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1819:6
[prog_bg_right]
type=graphic
width=44
height=33
xmode=abs_right
layer=progress_bar_backing
graphic="gwd2_solo_boss_hitpoints_back,2"
colour=0xffffff
clickmask=no

// 1819:7
[health_diamond_right]
type=graphic
x=8
width=11
height=5
xmode=abs_right
ymode=abs_centre
layer=progress_bar_backing
graphic=gwd2_solo_boss_hitpoints_emerald
colour=0xffffff
clickmask=no

// 1819:8
[health_diamond_left]
type=graphic
x=8
width=11
height=5
ymode=abs_centre
layer=progress_bar_backing
graphic=gwd2_solo_boss_hitpoints_emerald
colour=0xffffff
clickmask=no

// 1819:9
[health_bar_fill]
type=graphic
width=375
height=16
heightmode=minus
ymode=abs_centre
layer=health_bar
graphic=rs3_tuska_progress_fill_white
colour=0x1ee100
clickmask=no

// 1819:10
[health_bar_end]
type=graphic
x=-5
width=14
height=32
xmode=abs_right
layer=health_bar
graphic=aif_progbar_divider
colour=0xffffff
clickmask=no

// 1819:11
[health_bar_fill_red]
type=graphic
width=375
height=17
xmode=abs_centre
layer=health_bar_red
graphic=rs3_tuska_progress_fill_red
tiling=yes
colour=0x5a3232
clickmask=no

// 1819:12
[red_wave_effect]
type=graphic
width=350
height=17
xmode=abs_centre
layer=health_bar_red
graphic=aif_progbar_wave
tiling=yes
colour=0xff8181
clickmask=no

