// 1244:0
[background_layer]
type=layer
width=512
height=334
noclickthrough=yes

// 1244:1
[com_1]
type=graphic
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_2,0"
colour=0xffffff
clickmask=no

// 1244:2
[com_2]
type=graphic
x=448
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_2,1"
colour=0xffffff
clickmask=no

// 1244:3
[com_3]
type=graphic
x=64
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,0"
colour=0xffffff
clickmask=no

// 1244:4
[com_4]
type=graphic
x=128
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,1"
colour=0xffffff
clickmask=no

// 1244:5
[com_5]
type=graphic
x=192
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,2"
colour=0xffffff
clickmask=no

// 1244:6
[com_6]
type=graphic
x=256
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,3"
colour=0xffffff
clickmask=no

// 1244:7
[com_7]
type=graphic
x=320
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,4"
colour=0xffffff
clickmask=no

// 1244:8
[com_8]
type=graphic
x=384
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,5"
colour=0xffffff
clickmask=no

// 1244:9
[com_9]
type=graphic
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_2,2"
colour=0xffffff
clickmask=no

// 1244:10
[com_10]
type=graphic
x=64
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,6"
colour=0xffffff
clickmask=no

// 1244:11
[com_11]
type=graphic
x=128
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,7"
colour=0xffffff
clickmask=no

// 1244:12
[com_12]
type=graphic
x=192
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,8"
colour=0xffffff
clickmask=no

// 1244:13
[com_13]
type=graphic
x=256
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,9"
colour=0xffffff
clickmask=no

// 1244:14
[com_14]
type=graphic
x=320
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,10"
colour=0xffffff
clickmask=no

// 1244:15
[com_15]
type=graphic
x=384
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_1,11"
colour=0xffffff
clickmask=no

// 1244:16
[com_16]
type=graphic
x=448
y=167
width=64
height=167
layer=background_layer
graphic="aif_quest_complete_window_2,3"
colour=0xffffff
clickmask=no

// 1244:17
[content_layer]
type=layer
width=512
height=334

// 1244:18
[quest_icon]
type=graphic
x=1
y=55
width=50
height=50
xmode=abs_centre
layer=content_layer
graphic="quest_rating_icon,5"
colour=0xffffff
clickmask=no

// 1244:19
[5th_age_icon]
type=graphic
x=1
y=55
width=50
height=50
xmode=abs_centre
layer=content_layer
hide=yes
graphic=aif_5th_age
colour=0xffffff
clickmask=no

// 1244:20
[continue_button]
type=button
y=268
width=135
height=32
xmode=abs_centre
layer=content_layer
noclickthrough=yes
sprite.graphic=button_action_neutral
text.textfont=notosans_12
text.text=Continue
stylesheet=button_action_neutral
transmitop1=yes
op1=Continue
onop=closebutton_click

// 1244:21
[6th_age_icon]
type=graphic
x=1
y=55
width=50
height=50
xmode=abs_centre
layer=content_layer
hide=yes
graphic=aif_6th_age
colour=0xffffff
clickmask=no

// 1244:22
[quest_model_ver3]
type=model
x=50
y=237
width=44
height=45
layer=content_layer
model=lumbcat_reese_sword_inv
modelorigin_x=0
modelorigin_y=1
modelangle_x=256
modelangle_y=2033
modelangle_z=40
modelzoom=1151

// 1244:23
[quest_title_ver3]
type=text
y=111
width=450
height=21
xmode=abs_centre
layer=content_layer
textfont=verdana_13pt_regular
textlineheight=16
textalignh=1
colour=0x213645

// 1244:24
[you_are_awarded]
type=text
y=134
width=300
height=15
xmode=abs_centre
layer=content_layer
textfont=verdana_11pt_regular
text=You are awarded:
textlineheight=16
textalignh=1
colour=0x000000

// 1244:25
[quest_points_text]
type=text
y=247
width=130
height=19
xmode=abs_centre
layer=content_layer
textfont=verdana_13pt_regular
textlineheight=16
textalignh=1
colour=0x213645

// 1244:26
[rewards_area]
type=layer
x=1
y=150
width=284
height=97
xmode=abs_centre
layer=content_layer
onload=script4022(quest_complete_interface_new:rewards_text, quest_complete_interface_new:scrollbar)
onvarcstrtransmit=script4022(quest_complete_interface_new:rewards_text, quest_complete_interface_new:scrollbar)
onvarcstrtransmitlist=varclientstring_2554

// 1244:27
[rewards_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=rewards_area

// 1244:28
[rewards_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rewards_layer
textfont=verdana_11pt_regular
textlineheight=15
textalignh=1
colour=0x3c3c3c

// 1244:29
[scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=rewards_area

// 1244:30
[congratulations_graphic]
type=graphic
y=17
width=208
height=38
xmode=abs_centre
graphic=aif_quest_complete_title_en
colour=0xffffff
clickmask=no

