// 1727:0
[health_background]
type=graphic
x=20
y=10
width=100
height=4
layer=health
graphic=rs3_hud_combat_progress_bar_health
colour=0xffffff
clickmask=no

// 1727:1
[universe]
type=layer
width=182
height=262
ontimer=script12265

// 1727:2
[stats]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1727:3
[sanity]
type=layer
y=180
width=120
height=20
xmode=abs_centre
layer=stats

// 1727:4
[com_4]
type=text
height=32
widthmode=minus
xmode=abs_centre
layer=sanity
textfont=p11_full
text=Sanity
textalignh=1
textshadow=yes

// 1727:5
[willpower]
type=layer
y=160
width=120
height=20
xmode=abs_centre
layer=stats

// 1727:6
[com_6]
type=text
height=32
widthmode=minus
xmode=abs_centre
layer=willpower
textfont=p11_full
text=Willpower
textalignh=1
textshadow=yes

// 1727:7
[willpower_background]
type=graphic
x=20
y=10
width=100
height=4
layer=willpower
graphic=rs3_hud_combat_progress_bar_health
colour=0xffffff
clickmask=no

// 1727:8
[willpower_graphic]
type=graphic
width=20
height=20
layer=willpower
graphic=rs3_hud_combat_bar_icon_health
colour=0x1fcafa
clickmask=no

// 1727:9
[health]
type=layer
y=140
width=120
height=20
xmode=abs_centre
layer=stats

// 1727:10
[com_10]
type=text
height=32
widthmode=minus
xmode=abs_centre
layer=health
textfont=p11_full
text=Health
textalignh=1
textshadow=yes

// 1727:11
[health_foreground]
type=graphic
x=20
y=10
width=100
height=4
layer=health
graphic=rs3_hud_combat_progress_bar_health
colour=0x00ff00
clickmask=no

// 1727:12
[health_graphic]
type=graphic
width=20
height=20
layer=health
graphic=rs3_hud_combat_bar_icon_health
colour=0xffffff
clickmask=no

// 1727:13
[image]
type=layer
width=134
height=157
xmode=abs_centre
layer=stats

// 1727:14
[com_14]
type=graphic
width=67
height=134
layer=image
graphic=rs3_ui_dialogue_chathead_background
colour=0xffffff
clickmask=no

// 1727:15
[com_15]
type=graphic
width=67
height=134
xmode=abs_right
layer=image
graphic=rs3_ui_dialogue_chathead_foreground
colour=0xffffff
clickmask=no

// 1727:16
[chathead]
type=model
y=-21
width=87
height=163
xmode=abs_centre
ymode=abs_centre
layer=image
model=asc_legiones_chat
modelorigin_x=0
modelorigin_y=21
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=2000
modelanim=human_update_chathead_neutral_idle

// 1727:17
[willpower_foreground]
type=graphic
x=20
y=10
width=100
height=4
layer=willpower
graphic=rs3_hud_combat_progress_bar_health
colour=0x00ff00
clickmask=no

// 1727:18
[sanity_background]
type=graphic
x=20
y=10
width=100
height=4
layer=sanity
graphic=rs3_hud_combat_progress_bar_health
colour=0xffffff
clickmask=no

// 1727:19
[sanity_graphic]
type=graphic
width=20
height=20
layer=sanity
graphic=rs3_hud_combat_bar_icon_health
colour=0x4e0055
clickmask=no

// 1727:20
[sanity_foreground]
type=graphic
x=20
y=10
width=100
height=4
layer=sanity
graphic=rs3_hud_combat_progress_bar_health
colour=0x00ff00
clickmask=no

