// 140:0
[plaque]
type=model
x=1
y=129
width=337
height=65
xmode=abs_centre
ymode=proportion_centre
layer=pos_layer
model=sops_if_plaque
modelorigin_x=0
modelorigin_y=0
modelangle_x=1980
modelangle_y=0
modelangle_z=0
modelzoom=375

// 140:1
[pos_layer]
type=layer
width=510
height=134
xmode=abs_centre
ymode=abs_centre
layer=content

// 140:2
[all]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 140:3
[background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=all

// 140:4
[content]
type=layer
width=12
height=12
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=all

// 140:5
[crest_1]
type=graphic
x=157
y=47
width=50
height=50
layer=all
graphic="rs3_icon_lodestone_insignia,0"
colour=0xffffff
clickmask=no

// 140:6
[crest_2]
type=graphic
x=213
y=47
width=50
height=50
layer=all
graphic="rs3_icon_lodestone_insignia,0"
colour=0xffffff
clickmask=no

// 140:7
[crest_3]
type=graphic
x=267
y=47
width=50
height=50
layer=all
graphic="rs3_icon_lodestone_insignia,0"
colour=0xffffff
clickmask=no

// 140:8
[crest_4]
type=graphic
x=322
y=47
width=50
height=50
layer=all
graphic="rs3_icon_lodestone_insignia,0"
colour=0xffffff
clickmask=no

// 140:9
[border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=all
onload=script8420(quest_charos_escape_room_plaque:background, quest_charos_escape_room_plaque:border, null, null, "", 40258, string_1006)

