// 1724:0
[background]
type=layer
widthmode=minus
heightmode=minus
noclickthrough=yes
ontimer=script12253

// 1724:1
[backgroundrect]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=background
colour=0xffffff
fill=yes
trans=254

// 1724:2
[background_model]
type=model
x=27
y=72
width=348
height=602
xmode=abs_centre
ymode=abs_centre
layer=background
hide=yes
model=deadly_chat_female_head_signature_hero_xenia
modelorigin_x=-32
modelorigin_y=-62
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=500
modelanim=human_update_chathead_neutral_idle

// 1724:3
[memory]
type=layer
widthmode=minus
heightmode=minus

// 1724:4
[close_button]
type=layer
x=218
y=-130
width=25
height=25
xmode=abs_centre
ymode=abs_centre
hide=yes
transmitop1=yes
op1=Close

// 1724:5
[com_5]
type=graphic
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=close_button
graphic="aif_close_1,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "aif_close_1,1")
onmouseleave=graphic_swapper(event_com, "aif_close_1,0")

// 1724:6
[blockoutface]
type=rectangle
widthmode=minus
heightmode=minus
layer=memory
hide=yes
colour=0xffffff
fill=yes

// 1724:7
[memory_text1]
type=text
width=462
height=284
xmode=abs_centre
ymode=abs_centre
layer=memory
textfont=museo_sans_11pt_regular_multiline
text=From far below came strains of gruff, tuneless humming. I rubbed my eyes, and peered down through the branches to see a stocky dwarf staggering towards the tree's roots. He leant against the trunk with one hand, chuckled to himself – as if at some private joke – and fumbled with his breeches. There was a trickling sound, and I grimaced. <br><br>Ugh…right. After this, I can sleep?<br><br>Silence. Good enough for me.<br><br>I clambered up into the high branches, and squinted around until I found a giant leaf, still welling with water from the night's rain. I flipped it with the end of my staff, and rainwater gushed down to the sound of dwarven curses. <br><br>I lay back in the morning sun and laughed, the boughs bobbing in time.
textalignh=1
textalignv=1
colour=0x191919
trans=255

// 1724:8
[memory_text2]
type=text
width=462
height=284
xmode=abs_centre
ymode=abs_centre
layer=memory
hide=yes
textfont=museo_sans_11pt_regular_multiline
text=From far below came strains of gruff, tuneless humming. I rubbed my eyes, and peered down through the branches to see a stocky dwarf staggering towards the tree's roots. He leant against the trunk with one hand, chuckled to himself – as if at some private joke – and fumbled with his breeches. There was a trickling sound, and I grimaced. <br><br>Ugh…right. After this, I can sleep?<br><br>Silence. Good enough for me.<br><br>I clambered up into the high branches, and squinted around until I found a giant leaf, still welling with water from the night's rain. I flipped it with the end of my staff, and rainwater gushed down to the sound of dwarven curses. <br><br>I lay back in the morning sun and laughed, the boughs bobbing in time.
textalignh=1
textalignv=1
colour=0x191919
trans=255

// 1724:9
[continue_button]
type=text
y=122
width=74
height=18
xmode=abs_centre
ymode=abs_centre
layer=memory
hide=yes
textfont=museo_sans_13pt_bold
text=[Continue]
textalignh=1
textalignv=1
colour=0x191919
transmitop1=yes
op1=Continue
onop=script12256(event_com)

