// 1764:0
[anticlick_layer]
type=layer
widthmode=minus
heightmode=minus
hide=yes
noclickthrough=yes

// 1764:1
[map]
type=layer
x=20
y=25
width=205
height=205
ontimer=script12050(event_com)

// 1764:2
[com_2]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=map
hide=yes
colour=0xffffff

// 1764:3
[com_3]
type=graphic
width=12
height=12
layer=map
graphic="aif_chat_window_frame_1,0"
colour=0xffffff
clickmask=no

// 1764:4
[com_4]
type=graphic
width=12
height=12
xmode=abs_right
layer=map
graphic="aif_chat_window_frame_1,2"
colour=0xffffff
clickmask=no

// 1764:5
[com_5]
type=graphic
width=12
height=24
heightmode=minus
ymode=abs_centre
layer=map
graphic="aif_chat_window_frame_1,3"
colour=0xffffff
clickmask=no

// 1764:6
[com_6]
type=graphic
width=24
height=12
widthmode=minus
xmode=abs_centre
layer=map
graphic="aif_chat_window_frame_1,1"
colour=0xffffff
clickmask=no

// 1764:7
[com_7]
type=graphic
width=12
height=12
ymode=abs_bottom
layer=map
graphic="aif_chat_window_frame_1,16"
colour=0xffffff
clickmask=no

// 1764:8
[com_8]
type=graphic
width=24
height=12
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=map
graphic="aif_chat_window_frame_1,17"
colour=0xffffff
clickmask=no

// 1764:9
[com_9]
type=graphic
width=12
height=12
xmode=abs_right
ymode=abs_bottom
layer=map
graphic="aif_chat_window_frame_1,18"
colour=0xffffff
clickmask=no

// 1764:10
[com_10]
type=graphic
width=12
height=24
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=map
graphic="aif_chat_window_frame_1,4"
colour=0xffffff
clickmask=no

// 1764:11
[layer_1]
type=layer
width=512
height=334
layer=map
hide=yes

// 1764:12
[com_12]
type=text
x=20
y=1
width=205
height=20
textfont=p12_full
text=Maze Map
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcd05

// 1764:13
[close_button_layer]
type=layer
x=20
y=227
width=205
height=30

// 1764:14
[positive_3x1_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_button_layer
onload=script7753(event_com, aif_3x1_positive_tab_on, 32)

// 1764:15
[positive_3x1_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=close_button_layer
onload=script7753(event_com, aif_3x1_positive_tab_over, 32)

// 1764:16
[positive_3x1_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=close_button_layer
onload=script7753(event_com, aif_3x1_positive_tab_hit, 32)

// 1764:17
[close_button]
type=layer
widthmode=minus
heightmode=minus
layer=close_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script8973

// 1764:18
[positive_3x1_button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=close_button_layer
onload=script7753(event_com, aif_3x1_positive_tab_disabled, 32)

// 1764:19
[positive_3x1_button_text_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=close_button_layer

// 1764:20
[positive_3x1_button_text_4]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_3x1_button_text_layer_3
textfont=cinzel_18pt_bold
text=Quit Maze
textalignh=1
textalignv=1
colour=0x000000
onload=script4210(event_com, verdana_13pt_bold, ^white, 0)

