// 157:0
[title]
type=text
x=5
y=5
width=10
height=20
widthmode=minus
layer=content_layer
textfont=cinzel_13pt_bold
textshadow=yes
colour=0xfdc645
onload=script10496(event_com, event_comsubid, 0)

// 157:1
[pagecontrols]
type=layer
x=5
y=5
width=208
height=33
ymode=abs_bottom
layer=content_layer
hide=yes

// 157:2
[main]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer
onload=quickchat_tutorial_init
onvartransmit=quickchat_tutorial_loadcontent
onvartransmitlist=gamearea_master

// 157:3
[text]
type=layer
x=5
y=30
width=25
height=70
widthmode=minus
heightmode=minus
layer=content_layer

// 157:4
[scrollbar]
type=layer
x=5
y=30
width=16
height=70
heightmode=minus
xmode=abs_right
layer=content_layer

// 157:5
[buttoncontrol]
type=layer
x=5
y=5
width=149
height=30
xmode=abs_right
ymode=abs_bottom
layer=content_layer
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script3710

// 157:6
[button_active]
type=layer
widthmode=minus
heightmode=minus
layer=buttoncontrol
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 157:7
[pagecount]
type=text
width=136
height=16
xmode=abs_centre
ymode=abs_centre
layer=pagecontrols
textfont=museo_sans_13pt_regular
text=Page 1 of 7
textalignh=1
textalignv=1
textshadow=yes

// 157:8
[button_next]
type=graphic
width=32
height=32
xmode=abs_right
layer=pagecontrols
graphic="rs3_icon_direction_right_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_icon_arrow_right)

// 157:9
[button_back]
type=graphic
width=32
height=32
layer=pagecontrols
graphic="rs3_icon_direction_left_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_icon_arrow_left)

// 157:10
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(quickchat_tutorial:mainmodal_window_background, quickchat_tutorial:mainmodal_window_border, quickchat_tutorial:mainmodal_window_content, quickchat_tutorial:mainmodal_window_close_button, "Quick Chat Help", 21218, string_1007)

// 157:11
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 157:12
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 157:13
[content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 157:14
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 157:15
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

