// 686:0
[build]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=items_container

// 686:1
[click]
type=layer
widthmode=minus
heightmode=minus
layer=items_container

// 686:2
[items_container]
type=layer
x=15
y=5
width=36
height=25
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onload=rabbit_shop_init
onvartransmit=rabbit_shop_pointsupdate
onstattransmit=rabbit_shop_pointsupdate
onvartransmitlist=rabbit_main
onstattransmitlist=farming

// 686:3
[items_scrollbar]
type=layer
x=5
y=5
width=16
height=25
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 686:4
[xp_container]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 686:5
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(rabbit_shop:mainmodal_window_background, rabbit_shop:mainmodal_window_border, rabbit_shop:mainmodal_window_content, rabbit_shop:mainmodal_window_close_button, "Mrs Winkin's World of Seeds", 21218, string_1007)

// 686:6
[com_6]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=xp_container
colour=0x000000
fill=yes
trans=100

// 686:7
[xp]
type=layer
width=200
height=150
xmode=abs_centre
ymode=abs_centre
layer=xp_container

// 686:8
[bg]
type=layer
widthmode=minus
heightmode=minus
layer=xp
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 686:9
[xp_message]
type=text
y=8
width=10
height=70
widthmode=minus
xmode=abs_centre
layer=xp
textfont=museo_sans_11pt_regular
textlineheight=20
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 686:10
[xp_confirm]
type=layer
y=40
width=20
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=xp
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Proceed")

// 686:11
[xp_cancel]
type=layer
y=8
width=20
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=xp
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_negative_button, "Cancel")

// 686:12
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 686:13
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 686:14
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 686:15
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

