// 688:0
[content_layer_1]
type=layer
width=512
height=334
xmode=proportion_centre
ymode=proportion_centre
layer=bespoke_window_content
transmitop10=yes
op10= 

// 688:1
[bespoke_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(rabbit_instructions_sign04:bespoke_window_background, rabbit_instructions_sign04:bespoke_window_border, rabbit_instructions_sign04:bespoke_window_content, rabbit_instructions_sign04:bespoke_window_close, "", 21259, string_1007)

// 688:2
[paragraph2]
type=text
x=208
y=24
width=286
height=169
layer=content_layer_1
textfont=museo_sans_11pt_regular
text=While you are in the area, you will be able to see your points total in the top-right corner of your screen. Your points are saved, so you can leave if you wish and return another time to pick up from where you left off.
colour=0xaed0e0
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 2)

// 688:3
[paragraph3]
type=text
x=19
y=230
width=286
height=169
layer=content_layer_1
textfont=museo_sans_11pt_regular
text=You can trade your points in for prizes or Farming experience by speaking to Mrs. Winkin in the Winkin shop.
colour=0xaed0e0
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 2)

// 688:4
[seed]
type=model
x=26
y=135
width=66
height=43
layer=content_layer_1
model=rabbit_bad_potatoes
modelorigin_x=1
modelorigin_y=8
modelangle_x=147
modelangle_y=1759
modelangle_z=0
modelzoom=400
transmitop10=yes
op10= 

// 688:5
[flag]
type=model
x=61
y=27
width=59
height=123
layer=content_layer_1
model=rabbit_flag
modelorigin_x=-15
modelorigin_y=56
modelangle_x=52
modelangle_y=1839
modelangle_z=2010
modelzoom=1000
transmitop10=yes
op10= 

// 688:6
[mrs_winkin]
type=model
x=322
y=176
width=89
height=134
layer=content_layer_1
model=rabbit_tutorial_winkin_wife
modelorigin_x=-9
modelorigin_y=61
modelangle_x=133
modelangle_y=1787
modelangle_z=0
modelzoom=550
transmitop10=yes
op10= 

// 688:7
[supercompost]
type=model
x=413
y=218
width=35
height=51
layer=content_layer_1
model=rabbit_inv_super_compost
modelorigin_x=0
modelorigin_y=14
modelangle_x=259
modelangle_y=0
modelangle_z=0
modelzoom=300
transmitop10=yes
op10= 

// 688:8
[acorn]
type=model
x=449
y=259
width=38
height=29
layer=content_layer_1
model=skill_farming_inv_acorns_5
modelorigin_x=-4
modelorigin_y=4
modelangle_x=259
modelangle_y=0
modelangle_z=0
modelzoom=1000
transmitop10=yes
op10= 

// 688:9
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 688:10
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 688:11
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 688:12
[bespoke_window_close]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window
transmitop1=yes
op1=Close
onop=closebutton_click

