// 1333:0
[container]
type=layer
width=512
height=334
onload=script19939
onvartransmit=script19940
onvartransmitlist=race_event_timer_race_time,race_event_timer_player_time

// 1333:1
[timer_layer]
type=layer
y=8
width=180
height=76
xmode=abs_centre
layer=container
noclickthrough=yes

// 1333:2
[background]
type=button
widthmode=minus
heightmode=minus
layer=timer_layer
noclickthrough=yes
text.textfont=notosans_12
stylesheet=background_thick_default
onload=stylesheet_set(event_com)

// 1333:3
[active_race_text]
type=text
width=8
height=32
widthmode=minus
xmode=abs_centre
layer=timer_layer
noclickthrough=yes
textfont=notosans_bold_12
text=Active race!
textalignh=1
textalignv=1
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 1333:4
[time_remaining_text]
type=text
y=32
width=70
height=16
widthmode=minus
layer=timer_layer
noclickthrough=yes
textfont=notosans_12
text=Time remaining:
textalignh=2
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1333:5
[time_remaining]
type=text
y=32
width=116
height=16
widthmode=minus
xmode=abs_right
layer=timer_layer
noclickthrough=yes
textfont=notosans_12
text=0m 0s

// 1333:6
[personal_time_text]
type=text
y=52
width=110
height=16
layer=timer_layer
noclickthrough=yes
textfont=notosans_12
text=Personal time:
textalignh=2
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1333:7
[personal_time]
type=text
y=52
width=116
height=16
widthmode=minus
xmode=abs_right
layer=timer_layer
noclickthrough=yes
textfont=notosans_12
text=0m 0s

