// 1654:0
[com_0]
type=graphic
x=-6
width=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=speech_bubble
graphic=lobby_msg_bubble_tile
hflip=yes
colour=0xffffff
clickmask=no

// 1654:1
[com_1]
type=graphic
width=17
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=speech_bubble
graphic=lobby_msg_bubble_end
hflip=yes
colour=0xffffff
clickmask=no

// 1654:2
[com_2]
type=graphic
width=6
heightmode=minus
ymode=abs_centre
layer=speech_bubble
graphic=lobby_msg_bubble_end2
hflip=yes
colour=0xffffff
clickmask=no

// 1654:3
[com_3]
type=model
y=-4
width=1324
height=63
layer=progress_bar
model=6awe3_game_safe_zone_barrier
modelorigin_x=-1
modelorigin_y=31
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=500

// 1654:4
[info_holder_inactive_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=unlocks_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1654:5
[overall_progress_back]
type=graphic
x=25
y=31
width=300
height=5
layer=unlocks_layer
graphic="progress_default_s,0"
colour=0xffffff
clickmask=no

// 1654:6
[overall_progress_front]
type=graphic
x=25
y=31
width=300
height=5
layer=unlocks_layer
graphic="progress_default_s,1"
colour=0xffffff
clickmask=no

// 1654:7
[reward_unlocked_1]
type=graphic
x=15
y=25
width=18
height=18
layer=unlocks_layer
graphic="login_lobby_tickcross,1"
colour=0xffffff
clickmask=no
onmouseover=script11721(1, 0, event_com)
onmouseleave=script11721(1, 1, event_com)

// 1654:8
[reward_unlocked_2]
type=graphic
x=45
y=25
width=18
height=18
layer=unlocks_layer
graphic="login_lobby_tickcross,1"
colour=0xffffff
clickmask=no
onmouseover=script11721(2, 0, event_com)
onmouseleave=script11721(2, 1, event_com)

// 1654:9
[reward_unlocked_3]
type=graphic
x=75
y=25
width=18
height=18
layer=unlocks_layer
graphic="login_lobby_tickcross,1"
colour=0xffffff
clickmask=no
onmouseover=script11721(3, 0, event_com)
onmouseleave=script11721(3, 1, event_com)

// 1654:10
[reward_unlocked_4]
type=graphic
x=105
y=25
width=18
height=18
layer=unlocks_layer
graphic="login_lobby_tickcross,1"
colour=0xffffff
clickmask=no
onmouseover=script11721(4, 0, event_com)
onmouseleave=script11721(4, 1, event_com)

// 1654:11
[reward_unlocked_5]
type=graphic
x=135
y=25
width=18
height=18
layer=unlocks_layer
graphic="login_lobby_tickcross,1"
colour=0xffffff
clickmask=no
onmouseover=script11721(5, 0, event_com)
onmouseleave=script11721(5, 1, event_com)

// 1654:12
[reward_unlocked_6]
type=graphic
x=165
y=25
width=18
height=18
layer=unlocks_layer
graphic="login_lobby_tickcross,1"
colour=0xffffff
clickmask=no
onmouseover=script11721(6, 0, event_com)
onmouseleave=script11721(6, 1, event_com)

// 1654:13
[reward_unlocked_7]
type=graphic
x=195
y=25
width=18
height=18
layer=unlocks_layer
graphic="login_lobby_tickcross,1"
colour=0xffffff
clickmask=no
onmouseover=script11721(7, 0, event_com)
onmouseleave=script11721(7, 1, event_com)

// 1654:14
[reward_unlocked_8]
type=graphic
x=225
y=25
width=18
height=18
layer=unlocks_layer
graphic="login_lobby_tickcross,1"
colour=0xffffff
clickmask=no
onmouseover=script11721(8, 0, event_com)
onmouseleave=script11721(8, 1, event_com)

// 1654:15
[reward_unlocked_9]
type=graphic
x=255
y=25
width=18
height=18
layer=unlocks_layer
graphic="login_lobby_tickcross,1"
colour=0xffffff
clickmask=no
onmouseover=script11721(9, 0, event_com)
onmouseleave=script11721(9, 1, event_com)

// 1654:16
[reward_unlocked_10]
type=graphic
x=285
y=25
width=18
height=18
layer=unlocks_layer
graphic="login_lobby_tickcross,1"
colour=0xffffff
clickmask=no
onmouseover=script11721(10, 0, event_com)
onmouseleave=script11721(10, 1, event_com)

// 1654:17
[reward_unlocked_11]
type=graphic
x=315
y=25
width=18
height=18
layer=unlocks_layer
graphic="login_lobby_tickcross,1"
colour=0xffffff
clickmask=no
onmouseover=script11721(11, 0, event_com)
onmouseleave=script11721(11, 1, event_com)

// 1654:18
[info_holder_inactive]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=next_unlock_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1654:19
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=universe
onload=script8420(raid1rep:mainmodal_window_background, raid1rep:mainmodal_window_border, raid1rep:mainmodal_window_content, raid1rep:mainmodal_window_close_button, "Goebie reputation unlocks", 21218, string_1007)

// 1654:20
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1654:21
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1654:22
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1654:23
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1654:24
[universe]
type=layer
width=512
height=275
ymode=abs_centre
onload=script11720

// 1654:25
[next_unlock_layer]
type=layer
x=20
y=55
width=350
height=90
layer=universe

// 1654:26
[next_unlock_text]
type=text
y=10
width=10
height=32
widthmode=minus
xmode=abs_centre
layer=next_unlock_layer
textfont=cinzel_15pt_bold
text=Next reward: ubersick reward
textalignh=1
textalignv=1
textshadow=yes
colour=0xf0dcb4

// 1654:27
[prog_bar_container]
type=layer
y=10
width=323
height=30
xmode=abs_centre
ymode=abs_bottom
layer=next_unlock_layer

// 1654:28
[com_28]
type=graphic
width=5
heightmode=minus
layer=prog_bar_container
graphic="rs3_progress_bar_backing_15px,0"
colour=0xffffff
clickmask=no

// 1654:29
[com_29]
type=graphic
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prog_bar_container
graphic="rs3_progress_bar_backing_15px,1"
colour=0xffffff
clickmask=no

// 1654:30
[com_30]
type=graphic
width=5
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=prog_bar_container
graphic="rs3_progress_bar_backing_15px,2"
colour=0xffffff
clickmask=no

// 1654:31
[com_31]
type=graphic
x=3
width=317
height=5
heightmode=minus
ymode=abs_centre
layer=prog_bar_container
graphic=rs3_tuska_progress_fill_red
colour=0x9f9f9f
clickmask=no

// 1654:32
[progress_bar]
type=layer
x=1
y=2
width=320
height=25
layer=prog_bar_container

// 1654:33
[unlocks_layer]
type=layer
x=20
y=168
width=350
height=81
layer=universe

// 1654:34
[rep_total_text]
type=text
y=10
width=20
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=unlocks_layer
textfont=museo_sans_13pt_bold
text=Current reputation: 0/30000
textalignh=1
textalignv=1
textshadow=yes
colour=0xf0dcb4

// 1654:35
[reward_graphic]
type=graphic
x=59
y=150
width=290
height=37
layer=universe
graphic="aif_make_x_rewards,0"
colour=0xffffff
clickmask=no

// 1654:36
[speech_bubble]
type=layer
x=145
y=62
width=300
height=105
xmode=abs_right
layer=universe
hide=yes

// 1654:37
[goebie_text]
type=text
width=30
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=speech_bubble
textfont=museo_sans_13pt_regular
text=Our sixth reward is another Goebie service - this one we'll deploy to the waterfall area to offer banking services if you wish to venture forth and need a restock.
textlineheight=15
textalignh=1
textalignv=1
colour=0x080808

// 1654:38
[com_38]
type=model
x=175
y=20
width=141
height=210
xmode=abs_centre
ymode=abs_centre
layer=universe
model=tuska_raids_goebie_chat
modelorigin_x=-9
modelorigin_y=-20
modelangle_x=113
modelangle_y=108
modelangle_z=0
modelzoom=1500
modelanim=lore_wolf_chathead_idle

