// 1650:0
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=universe
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1650:1
[content]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1650:2
[left_airut]
type=model
x=6
width=50
height=39
ymode=abs_centre
layer=content
model=hotm_tuska_harbinger
modelorigin_x=-5
modelorigin_y=18
modelangle_x=0
modelangle_y=1706
modelangle_z=0
modelzoom=2500
modelanim=hotm_tuska_harbinger_knuckles_idle

// 1650:3
[right_airut]
type=model
x=6
width=49
height=39
xmode=abs_right
ymode=abs_centre
layer=content
model=hotm_tuska_harbinger
modelorigin_x=5
modelorigin_y=18
modelangle_x=0
modelangle_y=398
modelangle_z=0
modelzoom=2500
modelanim=hotm_tuska_harbinger_knuckles_idle

// 1650:4
[raid1_beastmaster_required_kills]
type=text
y=32
width=70
height=22
xmode=abs_centre
layer=content
textfont=museo_sans_13pt_regular
text=Remaining
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, -1, 1)

// 1650:5
[raid1_beastmaster_current_kills]
type=text
y=9
width=35
height=22
xmode=abs_centre
layer=content
textfont=museo_sans_19pt_bold
text=100
textalignh=2
textalignv=1
textshadow=yes
onvartransmit=script11719(event_com)
onvartransmitlist=raid1_temp_unprotected_varp2

// 1650:6
[universe]
type=layer
width=200
height=60

