// 1649:0
[raid1_beastmaster_parent]
type=layer
width=128
height=32
xmode=abs_centre
ymode=abs_centre
onload=script11711
onvartransmit=script11717
onvartransmitlist=raid1_temp_unprotected_varp1,raid1_temp_unprotected_varp1,raid1_temp_unprotected_varp1,raid1_temp_unprotected_varp1

// 1649:1
[raid1_beastmaster_pet2_dead]
type=graphic
x=96
width=32
height=32
layer=raid1_beastmaster_parent
hide=yes
graphic="rs3_raid1_boss_icons,1"
hflip=yes
colour=0xffffff
clickmask=no
onvartransmit=script11713(event_com)
onmouserepeat=script8799("Krar is dead. Durzag will deal increased damage and use new abilities!", event_com, event_comsubid)
onvartransmitlist=raid1_temp_unprotected_varp1

// 1649:2
[raid1_beastmaster_pet1_dead]
type=graphic
x=64
width=32
height=32
layer=raid1_beastmaster_parent
hide=yes
graphic="rs3_raid1_boss_icons,0"
colour=0xffffff
clickmask=no
onvartransmit=script11713(event_com)
onmouserepeat=script8799("Tuz is dead. Durzag will deal increased damage and use new abilities!", event_com, event_comsubid)
onvartransmitlist=raid1_temp_unprotected_varp1

// 1649:3
[raid1_beastmaster_attackspeed]
type=graphic
x=33
width=30
height=30
ymode=abs_centre
layer=raid1_beastmaster_parent
hide=yes
graphic="aif_attrib_defence_icons_1,8"
colour=0xffffff
clickmask=no
onvartransmit=script11714(event_com)
onmouserepeat=script8799("Durzag has enraged and will attack much faster!.", event_com, event_comsubid)
onvartransmitlist=raid1_temp_unprotected_varp1

// 1649:4
[raid1_beastmaster_distance]
type=graphic
width=27
height=27
layer=raid1_beastmaster_parent
hide=yes
graphic="rs3_icon_skill_buff,0"
colour=0xffffff
clickmask=no
onvartransmit=script11715(event_com)
onmouserepeat=script11718(event_com, event_comsubid)
onvartransmitlist=raid1_temp_unprotected_varp1

// 1649:5
[raid1_beastmaster_distance_text]
type=text
width=32
height=32
layer=raid1_beastmaster_parent
hide=yes
textfont=museo_sans_11pt_regular
text=125
textalignh=2
textalignv=2
textshadow=yes
onvartransmit=script11716(event_com)
onvartransmitlist=raid1_temp_unprotected_varp1

