// 91:0
[reset_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=reset_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Reset")

// 91:1
[complexity_button]
type=layer
widthmode=minus
heightmode=minus
layer=complexity_button_layer
transmitop1=yes
op1=Change Complexity
onload=script6233(event_com, null, rs3tli_3x3_button, "Change")

// 91:2
[complexity_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
layer=complexity_button_layer
hide=yes
noclickthrough=yes

// 91:3
[floor_button]
type=layer
widthmode=minus
heightmode=minus
layer=floor_button_layer
transmitop1=yes
op1=Change Floor
onload=script6233(event_com, null, rs3tli_3x3_button, "Change")

// 91:4
[floor_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
layer=floor_button_layer
hide=yes
noclickthrough=yes

// 91:5
[universe_layer]
type=layer
widthmode=minus
heightmode=minus
onload=rand_party_side_onload
onvartransmit=rand_party_side_onload
onvartransmitlist=toplevel_v2_general_varp,toplevel_v2_general_varp

// 91:6
[party_layer]
type=layer
height=110
widthmode=minus
layer=universe_layer

// 91:7
[members_frame]
type=layer
x=2
y=2
width=4
height=8
widthmode=minus
heightmode=minus
layer=party_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 91:8
[devider]
type=layer
y=22
width=25
height=2
widthmode=minus
xmode=abs_centre
layer=party_layer
onload=script349(event_com)

// 91:9
[devider_1]
type=layer
y=42
width=25
height=2
widthmode=minus
xmode=abs_centre
layer=party_layer
onload=script349(event_com)

// 91:10
[devider_2]
type=layer
y=62
width=25
height=2
widthmode=minus
xmode=abs_centre
layer=party_layer
onload=script349(event_com)

// 91:11
[devider_3]
type=layer
y=82
width=25
height=2
widthmode=minus
xmode=abs_centre
layer=party_layer
onload=script349(event_com)

// 91:12
[options_layer]
type=layer
y=105
height=50
widthmode=minus
layer=universe_layer

// 91:13
[devider_5]
type=layer
height=2
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=options_layer
onload=script349(event_com)

// 91:14
[devider_4]
type=layer
height=2
widthmode=minus
xmode=abs_centre
layer=options_layer
onload=script349(event_com)

// 91:15
[misc_layer]
type=layer
y=150
height=60
widthmode=minus
layer=universe_layer

// 91:16
[floor_layer]
type=layer
y=220
height=84
widthmode=minus
xmode=abs_centre
layer=universe_layer

// 91:17
[leave_button]
type=layer
x=6
width=90
height=30
ymode=abs_centre
layer=options_layer
hide=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Leave Party")

// 91:18
[party_leader_icon]
type=graphic
x=10
y=6
width=16
height=16
layer=party_layer
graphic="staticons2,13"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("This player is the party leader.", event_com, event_comsubid)

// 91:19
[mem1_name]
type=text
x=30
y=6
width=60
height=20
widthmode=minus
layer=party_layer
hide=yes
textfont=museo_sans_11pt_regular
text=Party Leader
textalignh=1
textalignv=1
textshadow=yes
colour=0xd23500
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Inspect
op2=Kick
op3=Promote
onvarcstrtransmit=script3327
onvarcstrtransmitlist=varclientstring_2376

// 91:20
[mem2_name]
type=text
x=30
y=41
width=67
height=12
widthmode=minus
layer=party_layer
hide=yes
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x008985
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Inspect
op2=Kick
op3=Promote
onvarcstrtransmit=script3328
onvarcstrtransmitlist=varclientstring_2377

// 91:21
[mem3_name]
type=text
x=30
y=56
width=67
height=12
widthmode=minus
layer=party_layer
hide=yes
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x488100
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Inspect
op2=Kick
op3=Promote
onvarcstrtransmit=script3329
onvarcstrtransmitlist=varclientstring_2378

// 91:22
[mem4_name]
type=text
x=30
y=70
width=67
height=12
widthmode=minus
layer=party_layer
hide=yes
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x919600
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Inspect
op2=Kick
op3=Promote
onvarcstrtransmit=script3330
onvarcstrtransmitlist=varclientstring_2379

// 91:23
[mem5_name]
type=text
x=30
y=85
width=67
height=12
widthmode=minus
layer=party_layer
hide=yes
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x6d865f
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Inspect
op2=Kick
op3=Promote
onvarcstrtransmit=script3331
onvarcstrtransmitlist=varclientstring_2380

// 91:24
[leave_big_button]
type=layer
x=6
width=12
height=30
widthmode=minus
ymode=abs_centre
layer=options_layer
hide=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Leave Party")

// 91:25
[form_button]
type=layer
x=6
width=12
height=30
widthmode=minus
ymode=abs_centre
layer=options_layer
hide=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Form Party")

// 91:26
[invite_button]
type=layer
x=6
width=90
height=30
xmode=abs_right
ymode=abs_centre
layer=options_layer
hide=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Invite Player")

// 91:27
[party_floor_layer]
type=layer
height=30
widthmode=minus
xmode=abs_centre
layer=misc_layer

// 91:28
[floor_title]
type=text
x=3
y=1
width=63
height=17
heightmode=minus
ymode=abs_centre
layer=party_floor_layer
textfont=museo_sans_13pt_regular
text=Floor
textalignv=2
textshadow=yes
colour=0x000000
onload=script10496(event_com, event_comsubid, 1)

// 91:29
[floor_box]
type=layer
x=68
width=42
height=24
xmode=abs_right
ymode=abs_centre
layer=party_floor_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 91:30
[party_floor]
type=text
x=68
width=42
height=24
xmode=abs_right
ymode=abs_centre
layer=party_floor_layer
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=rand_party_update_floor
onvarctransmitlist=rand_party_floor

// 91:31
[floor_button_layer]
type=layer
x=4
width=60
height=4
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=party_floor_layer

// 91:32
[com_32]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=floor_button_disabled_layer
colour=0x000000
fill=yes
trans=100

// 91:33
[party_complexity_layer]
type=layer
y=30
height=30
widthmode=minus
xmode=abs_centre
layer=misc_layer

// 91:34
[complexity_title]
type=text
x=3
y=1
width=63
height=13
ymode=abs_centre
layer=party_complexity_layer
textfont=museo_sans_13pt_regular
text=Complexity
textalignv=2
textshadow=yes
colour=0x000000
onload=script10496(event_com, event_comsubid, 1)

// 91:35
[complexity_box]
type=layer
x=68
width=42
height=24
xmode=abs_right
ymode=abs_centre
layer=party_complexity_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 91:36
[party_complexity]
type=text
x=68
width=42
height=24
xmode=abs_right
ymode=abs_centre
layer=party_complexity_layer
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3333
onvarctransmitlist=rand_party_complexity

// 91:37
[complexity_button_layer]
type=layer
x=4
width=60
height=4
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=party_complexity_layer

// 91:38
[com_38]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=complexity_button_disabled_layer
colour=0x000000
fill=yes
trans=100

// 91:39
[progress_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=floor_layer

// 91:40
[devider_6]
type=layer
y=5
height=2
widthmode=minus
xmode=abs_centre
layer=progress_layer
onload=script349(event_com)

// 91:41
[progress_title]
type=text
x=3
y=8
width=122
height=20
layer=progress_layer
textfont=museo_sans_13pt_regular
text=Current Progress
textalignv=1
textshadow=yes
colour=0x000000
maxlines=1
onload=script10496(event_com, event_comsubid, 1)

// 91:42
[reset_title]
type=text
x=3
width=122
height=20
ymode=abs_centre
layer=progress_layer
textfont=museo_sans_13pt_regular
text=Previous Progress
textalignv=1
textshadow=yes
colour=0x000000
maxlines=1
onload=script10496(event_com, event_comsubid, 1)

// 91:43
[current_floor]
type=text
x=6
y=8
width=27
height=20
xmode=abs_right
layer=progress_layer
textfont=museo_sans_13pt_regular
text=99
textalignh=1
textalignv=1
textshadow=yes
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=rand_party_update_current
onvarctransmitlist=rand_party_current

// 91:44
[last_reset]
type=text
x=6
width=27
height=20
xmode=abs_right
ymode=abs_centre
layer=progress_layer
textfont=museo_sans_13pt_regular
text=99
textalignh=1
textalignv=1
textshadow=yes
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3335
onvarctransmitlist=rand_party_previous

// 91:45
[reset_button_layer]
type=layer
y=2
width=80
height=26
xmode=abs_centre
ymode=abs_bottom
layer=progress_layer

// 91:46
[info_button_layer]
type=layer
x=6
y=2
width=26
height=26
xmode=abs_right
ymode=abs_bottom
layer=progress_layer

// 91:47
[reset_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_layer
hide=yes
noclickthrough=yes

// 91:48
[com_48]
type=rectangle
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=reset_button_disabled_layer
colour=0x000000
fill=yes
trans=100

// 91:49
[info_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_button_layer
onload=script9346(event_com, rs3tli_worldmap_info_icons)

// 91:50
[info_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_button_layer
onload=script9347(event_com, rs3tli_worldmap_info_icons)

// 91:51
[info_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_button_layer
onload=script9348(event_com, rs3tli_worldmap_info_icons)

// 91:52
[info_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_button_layer
hide=yes
onload=script9351(event_com, rs3tli_worldmap_info_icons)

// 91:53
[info_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=info_button_layer
transmitop1=yes
op1=Help
onload=script4213(event_com)
onmouserepeat=script8799("Help", event_com, -1)

// 91:54
[info_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_button_layer
hide=yes
onload=script9354(event_com, rs3tli_worldmap_info_icons)

