// 949:0
[party_layer]
type=layer
y=7
width=10
height=201
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 949:1
[options_layer]
type=layer
y=5
width=10
height=70
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 949:2
[1minus2_divider_2]
type=line
y=124
widthmode=minus
xmode=abs_centre
layer=party_layer
colour=0xffffff
onload=script10496(event_com, event_comsubid, 7)

// 949:3
[1minus2_divider_1]
type=line
y=30
widthmode=minus
xmode=abs_centre
layer=party_layer
colour=0xffffff
onload=script10496(event_com, event_comsubid, 7)

// 949:4
[nameminuslevel_divider]
type=line
x=146
y=2
height=121
layer=party_layer
colour=0xffffff
onload=script10496(event_com, event_comsubid, 7)

// 949:5
[levelminuscombat_divider]
type=line
x=257
y=2
height=121
layer=party_layer
colour=0xffffff
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 7)

// 949:6
[combatminusskill_divider]
type=line
x=322
y=2
height=121
layer=party_layer
colour=0xffffff
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 7)

// 949:7
[skillminustotal_divider]
type=line
x=398
y=2
height=121
layer=party_layer
colour=0xffffff
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 7)

// 949:8
[com_8]
type=line
y=22
widthmode=minus
layer=options_layer
colour=0xffffff
onload=script10496(event_com, event_comsubid, 7)

// 949:9
[join_label]
type=text
width=351
height=26
xmode=abs_centre
layer=options_layer
textfont=museo_sans_13pt_bold
text=Do you accept the invitation?
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 949:10
[accept_layer]
type=layer
x=251
y=10
width=150
height=27
xmode=abs_right
ymode=abs_centre
layer=options_layer

// 949:11
[name_title]
type=text
y=-4
width=147
height=40
layer=party_layer
textfont=museo_sans_13pt_bold
text=Name
textlineheight=13
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 2)

// 949:12
[combat_title]
type=text
x=257
y=-4
width=65
height=40
layer=party_layer
textfont=museo_sans_13pt_bold
text=Combat<br>level
textlineheight=13
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 949:13
[dungeon_level]
type=text
x=150
y=-4
width=107
height=40
layer=party_layer
textfont=museo_sans_13pt_bold
text=Dungeoneering<br>level
textlineheight=13
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 2)

// 949:14
[best_title]
type=text
x=322
y=-4
width=76
height=40
layer=party_layer
textfont=museo_sans_13pt_bold
text=Highest<br>skill level
textlineheight=13
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 2)

// 949:15
[total_title]
type=text
x=403
y=-4
width=76
height=40
layer=party_layer
textfont=museo_sans_13pt_bold
text=Total<br>skill level
textlineheight=13
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 2)

// 949:16
[mem1_name]
type=text
x=3
y=32
width=135
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=1
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)
onvarcstrtransmit=script3300
onvarcstrtransmitlist=varclientstring_2371

// 949:17
[mem1_combat]
type=text
x=260
y=32
width=58
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=c1
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3305
onvarctransmitlist=rand_invite_mem1_combat

// 949:18
[mem1_dungeoneer]
type=text
x=152
y=32
width=103
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=d1
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3320
onvarctransmitlist=rand_invite_mem1_dungeoneer

// 949:19
[mem1_best]
type=text
x=329
y=32
width=64
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=b1
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3310
onvarctransmitlist=rand_invite_mem1_best

// 949:20
[mem1_total]
type=text
x=404
y=32
width=75
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=t1
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3315
onvarctransmitlist=rand_invite_mem1_total

// 949:21
[1minus2_divider]
type=line
y=49
widthmode=minus
xmode=abs_centre
layer=party_layer
colour=0xffffff
onload=script10496(event_com, event_comsubid, 7)

// 949:22
[mem2_name]
type=text
x=3
y=52
width=136
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=2
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)
onvarcstrtransmit=script3301
onvarcstrtransmitlist=varclientstring_2372

// 949:23
[mem2_combat]
type=text
x=260
y=52
width=58
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=c2
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3306
onvarctransmitlist=rand_invite_mem2_combat

// 949:24
[mem2_dungeoneer]
type=text
x=152
y=52
width=103
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=d2
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3321
onvarctransmitlist=rand_invite_mem2_dungeoneer

// 949:25
[mem2_best]
type=text
x=329
y=52
width=64
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=b2
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3311
onvarctransmitlist=rand_invite_mem2_best

// 949:26
[mem2_total]
type=text
x=404
y=52
width=75
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=t2
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=    
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3316
onvarctransmitlist=rand_invite_mem2_total

// 949:27
[2minus3_divider]
type=line
y=68
widthmode=minus
layer=party_layer
colour=0xffffff
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 7)

// 949:28
[mem3_name]
type=text
x=3
y=71
width=136
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=3
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)
onvarcstrtransmit=script3302
onvarcstrtransmitlist=varclientstring_2373

// 949:29
[mem3_combat]
type=text
x=260
y=71
width=58
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=c3
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3307
onvarctransmitlist=rand_invite_mem3_combat

// 949:30
[mem3_dungeoneer]
type=text
x=152
y=71
width=103
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=d3
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3322
onvarctransmitlist=rand_invite_mem3_dungeoneer

// 949:31
[mem3_best]
type=text
x=329
y=71
width=64
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=b3
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3312
onvarctransmitlist=rand_invite_mem3_best

// 949:32
[mem3_total]
type=text
x=404
y=71
width=75
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=t3
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=    
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3317
onvarctransmitlist=rand_invite_mem3_total

// 949:33
[3minus4_divider]
type=line
y=87
widthmode=minus
layer=party_layer
colour=0xffffff
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 7)

// 949:34
[mem4_name]
type=text
x=3
y=90
width=136
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=4
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)
onvarcstrtransmit=script3303
onvarcstrtransmitlist=varclientstring_2374

// 949:35
[mem4_combat]
type=text
x=260
y=90
width=58
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=c4
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3308
onvarctransmitlist=rand_invite_mem4_combat

// 949:36
[mem4_dungeoneer]
type=text
x=152
y=90
width=103
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=d4
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3323
onvarctransmitlist=rand_invite_mem4_dungeoneer

// 949:37
[mem4_best]
type=text
x=329
y=90
width=64
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=b4
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3313
onvarctransmitlist=rand_invite_mem4_best

// 949:38
[mem4_total]
type=text
x=404
y=90
width=75
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=t4
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=    
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3318
onvarctransmitlist=rand_invite_mem4_total

// 949:39
[4minus5_divider]
type=line
y=106
widthmode=minus
layer=party_layer
colour=0xffffff
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 7)

// 949:40
[mem5_name]
type=text
x=3
y=109
width=136
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=5
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)
onvarcstrtransmit=script3304
onvarcstrtransmitlist=varclientstring_2375

// 949:41
[mem5_combat]
type=text
x=260
y=109
width=58
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=c5
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3309
onvarctransmitlist=rand_invite_mem5_combat

// 949:42
[mem5_dungeoneer]
type=text
x=153
y=109
width=103
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=d5
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3324
onvarctransmitlist=rand_invite_mem5_dungeoneer

// 949:43
[mem5_best]
type=text
x=329
y=109
width=64
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=b5
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3314
onvarctransmitlist=rand_invite_mem5_best

// 949:44
[mem5_total]
type=text
x=404
y=109
width=75
height=15
layer=party_layer
textfont=museo_sans_11pt_regular
text=t5
textalignh=1
textalignv=1
colour=0x000000
transmitop10=yes
op10=    
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3319
onvarctransmitlist=rand_invite_mem5_total

// 949:45
[floor_layer]
type=layer
x=-26
y=124
width=217
height=50
xmode=abs_centre
layer=party_layer

// 949:46
[complexity_layer]
type=layer
x=-26
y=150
width=217
height=50
xmode=abs_centre
layer=party_layer
transmitop10=yes
op10= 

// 949:47
[complexity_box]
type=layer
x=12
y=11
width=54
height=24
xmode=abs_right
layer=complexity_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 949:48
[floor_box]
type=layer
x=12
y=11
width=54
height=24
xmode=abs_right
layer=floor_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 949:49
[complexity_title]
type=text
width=125
height=18
ymode=abs_centre
layer=complexity_layer
textfont=museo_sans_13pt_bold
text=Complexity
textalignh=2
textalignv=1
textshadow=yes
colour=0x000000
transmitop10=yes
op10=      
onload=script10496(event_com, event_comsubid, 2)

// 949:50
[party_complexity]
type=text
x=10
y=8
width=59
height=32
xmode=abs_right
layer=complexity_layer
textfont=museo_sans_13pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0x000000
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3326
onvarctransmitlist=rand_invite_complexity

// 949:51
[floor_title]
type=text
width=125
height=18
ymode=abs_centre
layer=floor_layer
textfont=museo_sans_13pt_bold
text=Floor
textalignh=2
textalignv=1
textshadow=yes
colour=0x000000
transmitop10=yes
op10=     
onload=script10496(event_com, event_comsubid, 2)

// 949:52
[party_floor]
type=text
x=10
y=8
width=59
height=32
xmode=abs_right
layer=floor_layer
textfont=museo_sans_13pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0x000000
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)
onvarctransmit=script3325
onvarctransmitlist=rand_invite_floor

// 949:53
[mainmodal_window]
type=layer
width=512
height=334
onload=script8420(rand_party_invite:mainmodal_window_background, rand_party_invite:mainmodal_window_border, rand_party_invite:mainmodal_window_content, rand_party_invite:mainmodal_window_close_button, "Dungeon Party Invite", 21218, string_1007)

// 949:54
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 949:55
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 949:56
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 949:57
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 949:58
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_layer
onload=script7041(event_com)

// 949:59
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_layer
onload=script7042(event_com)

// 949:60
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_layer
onload=script7044(event_com)

// 949:61
[accept]
type=layer
widthmode=minus
heightmode=minus
layer=accept_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 949:62
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_layer

// 949:63
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Accept
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 949:64
[decline_layer]
type=layer
x=251
y=10
width=150
height=27
ymode=abs_centre
layer=options_layer

// 949:65
[neutral_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_layer
onload=script7062(event_com)

// 949:66
[neutral_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_layer
onload=script7063(event_com)

// 949:67
[neutral_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_layer
onload=script7065(event_com)

// 949:68
[decline]
type=layer
widthmode=minus
heightmode=minus
layer=decline_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 949:69
[neutral_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=decline_layer

// 949:70
[neutral_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer
textfont=cinzel_13pt_bold
text=Decline
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

