// 993:0
[com_0]
type=rectangle
widthmode=minus
heightmode=minus
layer=confirm_upgrade_layer
colour=0x000000
fill=yes
trans=150

// 993:1
[confirm_upgrade_window]
type=layer
width=391
height=211
xmode=abs_centre
ymode=abs_centre
layer=confirm_upgrade_layer

// 993:2
[content_panel_blue_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=confirm_upgrade_window
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 993:3
[com_3]
type=rectangle
widthmode=minus
heightmode=minus
layer=reset_interface
colour=0x000000
fill=yes
trans=150

// 993:4
[reset_interface_window]
type=layer
y=-12
width=262
height=160
xmode=abs_centre
ymode=abs_centre
layer=reset_interface

// 993:5
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=reset_interface_window
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 993:6
[reset_cancel]
type=layer
x=65
y=5
width=110
height=27
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Cancel")

// 993:7
[reset_confirm]
type=layer
x=-65
y=5
width=110
height=27
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Confirm")

// 993:8
[reset_confirmed_disabled]
type=layer
x=-65
y=5
width=110
height=27
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content_1
hide=yes
noclickthrough=yes
onload=script13970(event_com, null, rs3tli_neutral_button, "Confirm", string_1)

// 993:9
[reset_confirm_text]
type=text
y=15
width=228
height=59
xmode=abs_centre
layer=modal_dialog_window_content_1
textfont=museo_sans_11pt_regular_multiline
text=Sorry, you have no remaining resets.
textalignh=1
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 993:10
[reset_confirm_count]
type=text
x=-114
y=50
width=174
height=20
xmode=abs_centre
layer=modal_dialog_window_content_1
textfont=museo_sans_11pt_regular_multiline
text=You have
textalignh=2
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 993:11
[reset_confirm_count_number]
type=text
x=-18
y=50
width=174
height=20
xmode=abs_centre
layer=modal_dialog_window_content_1
textfont=museo_sans_11pt_regular_multiline
text=0
textalignh=1
textshadow=yes
colour=0xfc4343

// 993:12
[reset_confirm_count_2]
type=text
x=120
y=50
width=115
height=20
layer=modal_dialog_window_content_1
textfont=museo_sans_11pt_regular_multiline
text=remaining reset(s)
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 993:13
[upgrade_cost_text]
type=text
y=4
height=22
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_13pt_regular
text=Upgrade cost:
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 0)

// 993:14
[scroll_layer]
type=layer
x=18
y=28
width=36
height=116
widthmode=minus
layer=modal_dialog_window_content
noclickthrough=yes

// 993:15
[confirm_details]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=scroll_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 993:16
[scrollbar_layer]
type=layer
y=28
width=16
height=116
xmode=abs_right
layer=modal_dialog_window_content
hide=yes

// 993:17
[token_layer]
type=layer
y=5
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content
transmitop10=yes
op10=  

// 993:18
[ring_c_panel]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=ring_c_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 993:19
[upgrade_ring_c_layer]
type=layer
x=5
width=130
height=30
xmode=abs_right
ymode=abs_centre
layer=ring_c_layer
transmitop1=yes
transmitop2=yes
op1=Upgrade
op2=Fully upgrade

// 993:20
[upgrade_ring_c_graphic]
type=layer
widthmode=minus
heightmode=minus
layer=upgrade_ring_c_layer
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 993:21
[ring_b_panel]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=ring_b_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 993:22
[upgrade_ring_b_layer]
type=layer
x=5
width=130
height=30
xmode=abs_right
ymode=abs_centre
layer=ring_b_layer
transmitop1=yes
transmitop2=yes
op1=Upgrade
op2=Fully upgrade

// 993:23
[upgrade_ring_b_graphic]
type=layer
widthmode=minus
heightmode=minus
layer=upgrade_ring_b_layer
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 993:24
[ring_a_layer]
type=layer
x=5
y=88
width=10
height=65
widthmode=minus
layer=mainmodal_window_content

// 993:25
[ring_a_panel]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=ring_a_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 993:26
[upgrade_ring_a_layer]
type=layer
x=5
width=130
height=30
xmode=abs_right
ymode=abs_centre
layer=ring_a_layer
transmitop1=yes
transmitop2=yes
op1=Upgrade
op2=Fully upgrade

// 993:27
[upgrade_ring_a_graphic]
type=layer
widthmode=minus
heightmode=minus
layer=upgrade_ring_a_layer
onload=script10896(event_com, null, rs3tli_3x3_icon_button)

// 993:28
[upgrade_ring_a]
type=text
x=35
width=40
height=32
widthmode=minus
layer=upgrade_ring_a_layer
textfont=museo_sans_13pt_regular
text=Upgrade
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 993:29
[upgrade_ring_a_arrow]
type=graphic
width=30
height=30
layer=upgrade_ring_a_layer
graphic="rs3_icon_direction_up_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_icon_arrow_up)

// 993:30
[ring_b_layer]
type=layer
x=5
y=154
width=10
height=65
widthmode=minus
layer=mainmodal_window_content
transmitop10=yes
op10= 

// 993:31
[ring_c_layer]
type=layer
x=5
y=220
width=10
height=65
widthmode=minus
layer=mainmodal_window_content
transmitop10=yes
op10=  

// 993:32
[melee_class_button]
type=layer
x=71
y=9
width=80
height=70
layer=mainmodal_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 993:33
[melee_button_graphic]
type=layer
widthmode=minus
heightmode=minus
layer=melee_class_button
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 993:34
[ranged_button_graphic]
type=layer
widthmode=minus
heightmode=minus
layer=ranged_class_button
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 993:35
[ranged_class_button]
type=layer
x=156
y=9
width=80
height=70
layer=mainmodal_window_content
transmitop1=yes
transmitop10=yes
op1=Select
op10= 
opcursor0=cursor_use

// 993:36
[magic_class_button]
type=layer
x=241
y=9
width=80
height=70
layer=mainmodal_window_content
transmitop1=yes
transmitop10=yes
op1=Select
op10=  
opcursor0=cursor_use

// 993:37
[magic_button_graphic]
type=layer
widthmode=minus
heightmode=minus
layer=magic_class_button
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 993:38
[necromancy_class_button]
type=layer
x=326
y=9
width=80
height=70
layer=mainmodal_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 993:39
[skiller_class_button]
type=layer
x=411
y=9
width=80
height=70
layer=mainmodal_window_content
transmitop1=yes
transmitop10=yes
op1=Select
op10=   
opcursor0=cursor_use

// 993:40
[skiller_button_graphic]
type=layer
widthmode=minus
heightmode=minus
layer=skiller_class_button
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 993:41
[reset_graphic]
type=layer
x=19
y=24
width=32
height=32
layer=mainmodal_window_content
transmitop1=yes
op1=Reset

// 993:42
[reset_button_non_click]
type=layer
width=32
height=32
layer=reset_graphic
onload=script10896(event_com, null, rs3tli_3x3_icon_button)
onmouserepeat=script8799("Reset upgrades", event_com, -1)

// 993:43
[reset_interface]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 993:44
[ring_b_name]
type=text
x=60
y=2
width=85
height=13
widthmode=minus
layer=ring_b_layer
textfont=cinzel_13pt_bold
text=Tactician
textalignv=1
textshadow=yes
colour=0xe1cb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 0)

// 993:45
[ring_b_description]
type=text
x=60
y=18
width=285
height=22
layer=ring_b_layer
textfont=museo_sans_11pt_regular_multiline
text=Increases chance of hitting in accurate stance.
textlineheight=11
textalignv=1
colour=0x7592a0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)

// 993:46
[ring_b]
type=graphic
x=3
width=55
height=54
ymode=abs_centre
layer=ring_b_layer
graphic="staticons_high_res2_clean,13"
clickmask=no
transmitop10=yes
op10= 

// 993:47
[ring_b_bar_container]
type=layer
x=60
y=6
width=260
height=17
ymode=abs_bottom
layer=ring_b_layer
transmitop10=yes
op10=  

// 993:48
[container_27]
type=graphic
width=5
height=5
layer=ring_b_bar_container
graphic="rand_sml_framea,0"
clickmask=no
transmitop10=yes
op10=    

// 993:49
[container_28]
type=graphic
x=255
width=5
height=5
layer=ring_b_bar_container
graphic="rand_sml_framea,0"
hflip=yes
clickmask=no
transmitop10=yes
op10=    

// 993:50
[container_29]
type=graphic
x=5
width=250
height=5
layer=ring_b_bar_container
graphic="rand_sml_framea,1"
clickmask=no
transmitop10=yes
op10=    

// 993:51
[container_30]
type=graphic
y=12
width=5
height=5
layer=ring_b_bar_container
graphic="rand_sml_framea,0"
vflip=yes
clickmask=no
transmitop10=yes
op10=    

// 993:52
[container_31]
type=graphic
x=255
y=12
width=5
height=5
layer=ring_b_bar_container
graphic="rand_sml_framea,0"
vflip=yes
hflip=yes
clickmask=no
transmitop10=yes
op10=    

// 993:53
[container_32]
type=graphic
x=5
y=12
width=250
height=5
layer=ring_b_bar_container
graphic="rand_sml_framea,1"
vflip=yes
clickmask=no
transmitop10=yes
op10=    

// 993:54
[container_33]
type=graphic
y=5
width=5
height=7
layer=ring_b_bar_container
graphic="rand_sml_framea,2"
tiling=yes
clickmask=no
transmitop10=yes
op10=    

// 993:55
[container_34]
type=graphic
x=255
y=5
width=5
height=7
layer=ring_b_bar_container
graphic="rand_sml_framea,2"
tiling=yes
hflip=yes
clickmask=no
transmitop10=yes
op10=    

// 993:56
[container_35]
type=rectangle
x=5
y=4
width=10
height=10
widthmode=minus
layer=ring_b_bar_container
colour=0x000000
fill=yes
transmitop10=yes
op10=   

// 993:57
[ring_b_bar]
type=layer
x=6
height=17
widthmode=minus
layer=ring_b_bar_container
transmitop10=yes
op10=  

// 993:58
[progress_bar_s_3]
type=graphic
x=2
y=1
width=7
height=14
layer=ring_b_bar_container
graphic="rand_grad_caps,0"
clickmask=no
transmitop10=yes
op10=  

// 993:59
[progress_13]
type=graphic
x=29
y=1
width=1
height=14
layer=ring_b_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=    

// 993:60
[progress_14]
type=graphic
x=54
y=1
width=1
height=14
layer=ring_b_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=     

// 993:61
[progress_15]
type=graphic
x=79
y=1
width=1
height=14
layer=ring_b_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=     

// 993:62
[progress_16]
type=graphic
x=103
y=1
width=1
height=14
layer=ring_b_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=     

// 993:63
[progress_17]
type=graphic
x=129
y=1
width=1
height=14
layer=ring_b_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=     

// 993:64
[progress_18]
type=graphic
x=154
y=1
width=1
height=14
layer=ring_b_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=     

// 993:65
[progress_19]
type=graphic
x=178
y=1
width=1
height=14
layer=ring_b_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=     

// 993:66
[progress_20]
type=graphic
x=203
y=1
width=1
height=14
layer=ring_b_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=     

// 993:67
[progress_21]
type=graphic
x=228
y=1
width=1
height=14
layer=ring_b_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=     

// 993:68
[ring_b_bar_actual]
type=layer
width=16384
height=16391
widthmode=proportion
heightmode=proportion
layer=ring_b_bar
transmitop10=yes
op10=  

// 993:69
[progress_12]
type=graphic
y=1
width=16384
height=14
widthmode=proportion
layer=ring_b_bar_actual
graphic=rand_grad_02
clickmask=no
transmitop10=yes
op10=   

// 993:70
[progress_bar_e_3]
type=graphic
y=1
width=7
height=14
xmode=abs_right
layer=ring_b_bar_actual
graphic="rand_grad_caps,1"
clickmask=no
transmitop10=yes
op10=   

// 993:71
[ring_c_name]
type=text
x=60
y=2
width=85
height=13
widthmode=minus
layer=ring_c_layer
textfont=cinzel_13pt_bold
text=Berserker
textalignv=1
textshadow=yes
colour=0xe1cb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 0)

// 993:72
[ring_c_description]
type=text
x=60
y=18
width=285
height=22
layer=ring_c_layer
textfont=museo_sans_11pt_regular_multiline
text=Increases damage when in aggressive stance.
textlineheight=11
textalignv=1
colour=0x7592a0
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 3)

// 993:73
[ring_c]
type=graphic
x=3
width=55
height=54
ymode=abs_centre
layer=ring_c_layer
graphic="staticons_high_res2_clean,13"
clickmask=no
transmitop10=yes
op10=  

// 993:74
[ring_c_bar_container]
type=layer
x=60
y=6
width=260
height=17
ymode=abs_bottom
layer=ring_c_layer
transmitop10=yes
op10=   

// 993:75
[container_36]
type=graphic
width=5
height=5
layer=ring_c_bar_container
graphic="rand_sml_framea,0"
clickmask=no
transmitop10=yes
op10=     

// 993:76
[container_37]
type=graphic
x=255
width=5
height=5
layer=ring_c_bar_container
graphic="rand_sml_framea,0"
hflip=yes
clickmask=no
transmitop10=yes
op10=     

// 993:77
[container_38]
type=graphic
x=5
width=250
height=5
layer=ring_c_bar_container
graphic="rand_sml_framea,1"
clickmask=no
transmitop10=yes
op10=     

// 993:78
[container_39]
type=graphic
y=12
width=5
height=5
layer=ring_c_bar_container
graphic="rand_sml_framea,0"
vflip=yes
clickmask=no
transmitop10=yes
op10=     

// 993:79
[container_40]
type=graphic
x=255
y=12
width=5
height=5
layer=ring_c_bar_container
graphic="rand_sml_framea,0"
vflip=yes
hflip=yes
clickmask=no
transmitop10=yes
op10=     

// 993:80
[container_41]
type=graphic
x=5
y=12
width=250
height=5
layer=ring_c_bar_container
graphic="rand_sml_framea,1"
vflip=yes
clickmask=no
transmitop10=yes
op10=     

// 993:81
[container_42]
type=graphic
y=5
width=5
height=7
layer=ring_c_bar_container
graphic="rand_sml_framea,2"
tiling=yes
clickmask=no
transmitop10=yes
op10=     

// 993:82
[container_43]
type=graphic
x=255
y=5
width=5
height=7
layer=ring_c_bar_container
graphic="rand_sml_framea,2"
tiling=yes
hflip=yes
clickmask=no
transmitop10=yes
op10=     

// 993:83
[container_44]
type=rectangle
x=5
y=4
width=10
height=10
widthmode=minus
layer=ring_c_bar_container
colour=0x000000
fill=yes
transmitop10=yes
op10=    

// 993:84
[ring_c_bar]
type=layer
x=6
height=17
widthmode=minus
layer=ring_c_bar_container
transmitop10=yes
op10=   

// 993:85
[progress_bar_s_4]
type=graphic
x=2
y=1
width=7
height=14
layer=ring_c_bar_container
graphic="rand_grad_caps,0"
clickmask=no
transmitop10=yes
op10=   

// 993:86
[progress_23]
type=graphic
x=29
y=1
width=1
height=14
layer=ring_c_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=     

// 993:87
[progress_24]
type=graphic
x=54
y=1
width=1
height=14
layer=ring_c_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=      

// 993:88
[progress_25]
type=graphic
x=79
y=1
width=1
height=14
layer=ring_c_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=      

// 993:89
[progress_26]
type=graphic
x=103
y=1
width=1
height=14
layer=ring_c_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=      

// 993:90
[progress_27]
type=graphic
x=129
y=1
width=1
height=14
layer=ring_c_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=      

// 993:91
[progress_28]
type=graphic
x=154
y=1
width=1
height=14
layer=ring_c_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=      

// 993:92
[progress_29]
type=graphic
x=178
y=1
width=1
height=14
layer=ring_c_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=      

// 993:93
[progress_30]
type=graphic
x=203
y=1
width=1
height=14
layer=ring_c_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=      

// 993:94
[progress_31]
type=graphic
x=228
y=1
width=1
height=14
layer=ring_c_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=      

// 993:95
[ring_c_bar_actual]
type=layer
width=16384
height=16391
widthmode=proportion
heightmode=proportion
layer=ring_c_bar
transmitop10=yes
op10=   

// 993:96
[progress_22]
type=graphic
y=1
width=16384
height=14
widthmode=proportion
layer=ring_c_bar_actual
graphic=rand_grad_02
clickmask=no
transmitop10=yes
op10=    

// 993:97
[progress_bar_e_4]
type=graphic
y=1
width=7
height=14
xmode=abs_right
layer=ring_c_bar_actual
graphic="rand_grad_caps,1"
clickmask=no
transmitop10=yes
op10=    

// 993:98
[ring_a_name]
type=text
x=60
y=2
width=85
height=13
widthmode=minus
layer=ring_a_layer
textfont=cinzel_13pt_bold
text=Tank
textalignv=1
textshadow=yes
colour=0xe1cb05
onload=script10496(event_com, event_comsubid, 0)

// 993:99
[ring_a_description]
type=text
x=60
y=18
width=285
height=22
layer=ring_a_layer
textfont=museo_sans_11pt_regular_multiline
text=Damage is reduced when wielding a shield.
textlineheight=11
textalignv=1
colour=0x7592a0
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)

// 993:100
[ring_a]
type=graphic
x=3
width=55
height=54
ymode=abs_centre
layer=ring_a_layer
graphic="staticons_high_res2_clean,13"
clickmask=no

// 993:101
[ring_a_bar_container]
type=layer
x=60
y=6
width=260
height=17
ymode=abs_bottom
layer=ring_a_layer
transmitop10=yes
op10= 

// 993:102
[container_18]
type=graphic
width=5
height=5
layer=ring_a_bar_container
graphic="rand_sml_framea,0"
clickmask=no
transmitop10=yes
op10=   

// 993:103
[container_19]
type=graphic
x=255
width=5
height=5
layer=ring_a_bar_container
graphic="rand_sml_framea,0"
hflip=yes
clickmask=no
transmitop10=yes
op10=   

// 993:104
[container_20]
type=graphic
x=5
width=250
height=5
layer=ring_a_bar_container
graphic="rand_sml_framea,1"
clickmask=no
transmitop10=yes
op10=   

// 993:105
[container_21]
type=graphic
y=12
width=5
height=5
layer=ring_a_bar_container
graphic="rand_sml_framea,0"
vflip=yes
clickmask=no
transmitop10=yes
op10=   

// 993:106
[container_22]
type=graphic
x=255
y=12
width=5
height=5
layer=ring_a_bar_container
graphic="rand_sml_framea,0"
vflip=yes
hflip=yes
clickmask=no
transmitop10=yes
op10=   

// 993:107
[container_23]
type=graphic
x=5
y=12
width=250
height=5
layer=ring_a_bar_container
graphic="rand_sml_framea,1"
vflip=yes
clickmask=no
transmitop10=yes
op10=   

// 993:108
[container_24]
type=graphic
y=5
width=5
height=7
layer=ring_a_bar_container
graphic="rand_sml_framea,2"
tiling=yes
clickmask=no
transmitop10=yes
op10=   

// 993:109
[container_25]
type=graphic
x=255
y=5
width=5
height=7
layer=ring_a_bar_container
graphic="rand_sml_framea,2"
tiling=yes
hflip=yes
clickmask=no
transmitop10=yes
op10=   

// 993:110
[container_26]
type=rectangle
x=5
y=4
width=10
height=10
widthmode=minus
layer=ring_a_bar_container
colour=0x000000
fill=yes
transmitop10=yes
op10=  

// 993:111
[ring_a_bar]
type=layer
x=6
height=17
widthmode=minus
layer=ring_a_bar_container
transmitop10=yes
op10= 

// 993:112
[progress_bar_s_2]
type=graphic
x=2
y=1
width=7
height=14
layer=ring_a_bar_container
graphic="rand_grad_caps,0"
clickmask=no
transmitop10=yes
op10= 

// 993:113
[progress_3]
type=graphic
x=29
y=1
width=1
height=14
layer=ring_a_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=   

// 993:114
[progress_4]
type=graphic
x=54
y=1
width=1
height=14
layer=ring_a_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=    

// 993:115
[progress_5]
type=graphic
x=79
y=1
width=1
height=14
layer=ring_a_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=    

// 993:116
[progress_6]
type=graphic
x=103
y=1
width=1
height=14
layer=ring_a_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=    

// 993:117
[progress_7]
type=graphic
x=129
y=1
width=1
height=14
layer=ring_a_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=    

// 993:118
[progress_8]
type=graphic
x=154
y=1
width=1
height=14
layer=ring_a_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=    

// 993:119
[progress_9]
type=graphic
x=178
y=1
width=1
height=14
layer=ring_a_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=    

// 993:120
[progress_10]
type=graphic
x=203
y=1
width=1
height=14
layer=ring_a_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=    

// 993:121
[progress_11]
type=graphic
x=228
y=1
width=1
height=14
layer=ring_a_bar_container
graphic=rand_grad_02
trans=100
clickmask=no
transmitop10=yes
op10=    

// 993:122
[ring_a_bar_actual]
type=layer
height=17
layer=ring_a_bar
transmitop10=yes
op10= 

// 993:123
[progress_2]
type=graphic
y=1
width=16384
height=14
widthmode=proportion
layer=ring_a_bar_actual
graphic=rand_grad_02
clickmask=no
transmitop10=yes
op10=  

// 993:124
[progress_bar_e_2]
type=graphic
y=1
width=7
height=14
xmode=abs_right
layer=ring_a_bar_actual
graphic="rand_grad_caps,1"
clickmask=no
transmitop10=yes
op10=  

// 993:125
[skiller_icon]
type=graphic
y=10
width=35
height=35
xmode=abs_centre
layer=skiller_class_button
graphic="staticons_high_res_clean,10"
clickmask=no
transmitop10=yes
op10=      

// 993:126
[skiller]
type=text
width=7
height=7
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skiller_class_button
textfont=museo_sans_11pt_regular
text=Skiller
textalignh=1
textalignv=2
colour=0xffcb05
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 0)

// 993:127
[magic_icon]
type=graphic
y=10
width=35
height=35
xmode=abs_centre
layer=magic_class_button
graphic="staticons_high_res_clean,5"
clickmask=no
transmitop10=yes
op10=  

// 993:128
[magic]
type=text
width=7
height=7
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=magic_class_button
textfont=museo_sans_11pt_regular
text=Magic
textalignh=1
textalignv=2
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 0)

// 993:129
[ranged_icon]
type=graphic
y=10
width=35
height=35
xmode=abs_centre
layer=ranged_class_button
graphic="staticons_high_res_clean,3"
clickmask=no
transmitop10=yes
op10= 

// 993:130
[ranged]
type=text
width=7
height=7
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ranged_class_button
textfont=museo_sans_11pt_regular
text=Ranged
textalignh=1
textalignv=2
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 0)

// 993:131
[melee_icon]
type=graphic
y=10
width=35
height=35
xmode=abs_centre
layer=melee_class_button
graphic="staticons_high_res_clean,0"
clickmask=no

// 993:132
[melee]
type=text
width=7
height=7
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=melee_class_button
textfont=museo_sans_11pt_regular
text=Melee
textalignh=1
textalignv=2
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 993:133
[your_points]
type=text
x=24
width=215
height=17
ymode=abs_centre
layer=token_layer
textfont=museo_sans_13pt_regular
text=Your Dungeoneering tokens: 
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 0)

// 993:134
[tokencount]
type=text
x=242
width=138
height=17
ymode=abs_centre
layer=token_layer
textfont=museo_sans_13pt_regular
text=0
textalignv=1
textshadow=yes
colour=0x7592a0
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)

// 993:135
[token_graphic]
type=graphic
x=9
width=12
height=12
ymode=abs_centre
layer=token_layer
graphic="km_shopitems,4"
clickmask=no
transmitop10=yes
op10= 
onload=text_colour_swapper(event_com, 13107200)

// 993:136
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(rand_ring_interface:mainmodal_window_background, rand_ring_interface:mainmodal_window_border, rand_ring_interface:mainmodal_window_content, rand_ring_interface:mainmodal_window_close_button, "Ring of Kinship", 21218, string_1007)

// 993:137
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 993:138
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onvartransmit=rand_ring_interface_init
onvartransmitlist=rand_general_temp_03

// 993:139
[confirm_upgrade_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 993:140
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 993:141
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 993:142
[modal_dialog_window_content]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirm_upgrade_window

// 993:143
[confirm_button]
type=layer
x=-75
y=36
width=130
height=27
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Confirm")

// 993:144
[cancel_button]
type=layer
x=75
y=36
width=130
height=27
xmode=abs_centre
ymode=abs_bottom
layer=modal_dialog_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Cancel")
onop=script4748

// 993:145
[modal_dialog_window_content_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=reset_interface_window

// 993:146
[reset_icon]
type=graphic
width=32
height=32
layer=reset_graphic
graphic="rs3_icon_lobby_refresh,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_lobby_refresh_icons)

// 993:147
[upgrade_ring_b]
type=text
x=35
width=40
height=32
widthmode=minus
layer=upgrade_ring_b_layer
textfont=museo_sans_13pt_regular
text=Upgrade
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 993:148
[upgrade_ring_b_arrow]
type=graphic
width=30
height=30
layer=upgrade_ring_b_layer
graphic="rs3_icon_direction_up_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_icon_arrow_up)

// 993:149
[upgrade_ring_c]
type=text
x=35
width=40
height=32
widthmode=minus
layer=upgrade_ring_c_layer
textfont=museo_sans_13pt_regular
text=Upgrade
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 993:150
[upgrade_ring_c_arrow]
type=graphic
width=30
height=30
layer=upgrade_ring_c_layer
graphic="rs3_icon_direction_up_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_icon_arrow_up)

// 993:151
[necromancy_button_graphic]
type=layer
widthmode=minus
heightmode=minus
layer=necromancy_class_button
onload=script6233(event_com, null, rs3tli_3x3_button, "")

// 993:152
[necromancy_icon]
type=graphic
y=10
width=35
height=35
xmode=abs_centre
layer=necromancy_class_button
graphic=skill_icon_necromancy_32px
colour=0xffffff
clickmask=no

// 993:153
[necromancy]
type=text
x=1
width=7
height=7
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=necromancy_class_button
textfont=museo_sans_11pt_regular
text=Necromancy
textalignh=1
textalignv=2
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

