// 942:0
[back_graphic]
type=rectangle
widthmode=minus
heightmode=minus
layer=wrapper
colour=0x000000
fill=yes
trans=50

// 942:1
[main_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wrapper
onload=script3421(event_com, -1, 1041)

// 942:2
[close_button]
type=layer
width=16
height=16
xmode=abs_right
layer=wrapper
transmitop1=yes
op1=Close

// 942:3
[wrapper]
type=layer
width=280
height=280
onload=rand_map_onload

// 942:4
[line]
type=rectangle
height=1
widthmode=minus
layer=main_layer
colour=0x998563
fill=yes
trans=150

// 942:5
[line_3]
type=rectangle
width=1
heightmode=minus
xmode=abs_right
layer=main_layer
colour=0x998563
fill=yes
trans=150

// 942:6
[line_1]
type=rectangle
height=1
widthmode=minus
ymode=abs_bottom
layer=main_layer
colour=0x998564
fill=yes
trans=150

// 942:7
[line_2]
type=rectangle
width=1
heightmode=minus
layer=main_layer
colour=0x998563
fill=yes
trans=150

// 942:8
[draw_layer]
type=layer
width=24
height=24
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_layer

// 942:9
[player_layer]
type=layer
width=256
height=256
xmode=abs_centre
ymode=abs_centre
layer=main_layer

// 942:10
[tooltip_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer
transmitop10=yes
op10=    

// 942:11
[com_11]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=close_button
graphic=rs3_btn_modal_window_1_close_nml
colour=0xffffff
clickmask=no

