// 292:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(rand_speedrun_board:mainmodal_window_background, rand_speedrun_board:mainmodal_window_border, rand_speedrun_board:mainmodal_window_content, rand_speedrun_board:mainmodal_window_close_button, "Daemonheim floor times", 21218, string_1007)

// 292:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 292:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=script7375
onvartransmit=script7383
onvartransmitlist=rand_speedrun_18

// 292:3
[tab_layer]
type=layer
height=24
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 292:4
[background_layer]
type=layer
y=24
height=24
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 292:5
[scrollbar_layer]
type=layer
width=16
height=24
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content

// 292:6
[content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 292:7
[personal_content_layer]
type=layer
y=24
height=24
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content_layer

// 292:8
[global_content_layer]
type=layer
y=24
height=24
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content_layer
hide=yes

// 292:9
[global_header_row]
type=layer
x=22
y=16
width=44
height=32
widthmode=minus
layer=global_content_layer

// 292:10
[global_player_1_row]
type=layer
x=22
y=56
width=44
height=32
widthmode=minus
layer=global_content_layer

// 292:11
[global_player_2_row]
type=layer
x=22
y=92
width=44
height=32
widthmode=minus
layer=global_content_layer

// 292:12
[global_player_3_row]
type=layer
x=22
y=128
width=44
height=32
widthmode=minus
layer=global_content_layer

// 292:13
[global_player_4_row]
type=layer
x=22
y=164
width=44
height=32
widthmode=minus
layer=global_content_layer

// 292:14
[global_player_5_row]
type=layer
x=22
y=200
width=44
height=32
widthmode=minus
layer=global_content_layer

// 292:15
[global_player_6_row]
type=layer
x=22
y=236
width=44
height=32
widthmode=minus
layer=global_content_layer

// 292:16
[global_player_7_row]
type=layer
x=22
y=262
width=44
height=32
widthmode=minus
layer=global_content_layer

// 292:17
[global_player_8_row]
type=layer
x=22
y=298
width=44
height=32
widthmode=minus
layer=global_content_layer

// 292:18
[personal_header_row]
type=layer
x=22
y=16
width=44
height=32
widthmode=minus
layer=personal_content_layer

// 292:19
[frozen_row]
type=layer
x=22
y=56
width=44
height=32
widthmode=minus
layer=personal_content_layer

// 292:20
[frozen_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=frozen_row
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 292:21
[frozen_solo_time_graphic]
type=graphic
x=274
width=18
height=18
ymode=abs_centre
layer=frozen_row
noclickthrough=yes
colour=0xffffff
clickmask=no

// 292:22
[frozen_group_time_graphic]
type=graphic
x=4
width=18
height=18
xmode=abs_right
ymode=abs_centre
layer=frozen_row
noclickthrough=yes
colour=0xffffff
clickmask=no

// 292:23
[frozen_text]
type=text
x=4
width=328
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=frozen_row
textfont=museo_sans_13pt_bold
text=Frozen
textalignh=2
textalignv=1
colour=0x000000

// 292:24
[frozen_solo_time_text]
type=text
x=158
width=336
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=frozen_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:25
[frozen_group_time_text]
type=text
x=22
width=336
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=frozen_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:26
[abandoned_1_row]
type=layer
x=22
y=92
width=44
height=32
widthmode=minus
layer=personal_content_layer

// 292:27
[furnished_row]
type=layer
x=22
y=128
width=44
height=32
widthmode=minus
layer=personal_content_layer

// 292:28
[abandoned_2_row]
type=layer
x=22
y=164
width=44
height=32
widthmode=minus
layer=personal_content_layer

// 292:29
[occult_row]
type=layer
x=22
y=200
width=44
height=32
widthmode=minus
layer=personal_content_layer

// 292:30
[warped_row]
type=layer
x=22
y=236
width=44
height=32
widthmode=minus
layer=personal_content_layer

// 292:31
[personal_horizontal_line]
type=line
x=22
y=52
width=44
widthmode=minus
layer=personal_content_layer
noclickthrough=yes
colour=0xffffff
onload=script10496(event_com, event_comsubid, 7)

// 292:32
[personal_vertical_line]
type=line
x=160
y=10
height=248
layer=personal_content_layer
noclickthrough=yes
colour=0xffffff
onload=script10496(event_com, event_comsubid, 7)

// 292:33
[floors_completed_text]
type=text
y=276
width=200
height=24
xmode=abs_centre
layer=personal_content_layer
noclickthrough=yes
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 0)

// 292:34
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 292:35
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 292:36
[info_button_layer]
type=layer
x=36
y=9
width=16
height=16
xmode=abs_right
layer=mainmodal_window

// 292:37
[personal_tab]
type=layer
width=120
heightmode=minus
layer=tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 292:38
[global_tab]
type=layer
x=120
width=120
heightmode=minus
layer=tab_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 292:39
[personal_header_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=personal_header_row
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 292:40
[personal_theme_text]
type=text
x=4
width=132
height=8
heightmode=minus
ymode=abs_centre
layer=personal_header_row
textfont=museo_sans_13pt_bold
text=Theme
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:41
[personal_solo_text]
type=text
x=140
width=300
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=personal_header_row
textfont=museo_sans_13pt_bold
text=Solo (1:1)
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:42
[personal_group_text]
type=text
x=4
width=300
height=8
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=personal_header_row
textfont=museo_sans_13pt_bold
text=Group (5:5)
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:43
[abandoned_1_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=abandoned_1_row
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 292:44
[abandoned_1_solo_time_graphic]
type=graphic
x=274
width=18
height=18
ymode=abs_centre
layer=abandoned_1_row
noclickthrough=yes
colour=0xffffff
clickmask=no

// 292:45
[abandoned_1_group_time_graphic]
type=graphic
x=4
width=18
height=18
xmode=abs_right
ymode=abs_centre
layer=abandoned_1_row
noclickthrough=yes
colour=0xffffff
clickmask=no

// 292:46
[abandoned_1_text]
type=text
x=4
width=328
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=abandoned_1_row
textfont=museo_sans_13pt_bold
text=Abandoned 1
textalignh=2
textalignv=1
colour=0x000000

// 292:47
[abandoned_1_solo_time_text]
type=text
x=158
width=336
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=abandoned_1_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:48
[abandoned_1_group_time_text]
type=text
x=22
width=336
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=abandoned_1_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:49
[furnished_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=furnished_row
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 292:50
[furnished_solo_time_graphic]
type=graphic
x=274
width=18
height=18
ymode=abs_centre
layer=furnished_row
noclickthrough=yes
colour=0xffffff
clickmask=no

// 292:51
[furnished_group_time_graphic]
type=graphic
x=4
width=18
height=18
xmode=abs_right
ymode=abs_centre
layer=furnished_row
noclickthrough=yes
colour=0xffffff
clickmask=no

// 292:52
[furnished_text]
type=text
x=4
width=328
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=furnished_row
textfont=museo_sans_13pt_bold
text=Furnished
textalignh=2
textalignv=1
colour=0x000000

// 292:53
[furnished_solo_time_text]
type=text
x=158
width=336
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=furnished_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:54
[furnished_group_time_text]
type=text
x=22
width=336
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=furnished_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:55
[abandoned_2_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=abandoned_2_row
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 292:56
[abandoned_2_solo_time_graphic]
type=graphic
x=274
width=18
height=18
ymode=abs_centre
layer=abandoned_2_row
noclickthrough=yes
colour=0xffffff
clickmask=no

// 292:57
[abandoned_2_group_time_graphic]
type=graphic
x=4
width=18
height=18
xmode=abs_right
ymode=abs_centre
layer=abandoned_2_row
noclickthrough=yes
colour=0xffffff
clickmask=no

// 292:58
[abandoned_2_text]
type=text
x=4
width=328
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=abandoned_2_row
textfont=museo_sans_13pt_bold
text=Abandoned 2
textalignh=2
textalignv=1
colour=0x000000

// 292:59
[abandoned_2_solo_time_text]
type=text
x=158
width=336
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=abandoned_2_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:60
[abandoned_2_group_time_text]
type=text
x=22
width=336
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=abandoned_2_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:61
[occult_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=occult_row
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 292:62
[occult_solo_time_graphic]
type=graphic
x=274
width=18
height=18
ymode=abs_centre
layer=occult_row
noclickthrough=yes
colour=0xffffff
clickmask=no

// 292:63
[occult_group_time_graphic]
type=graphic
x=4
width=18
height=18
xmode=abs_right
ymode=abs_centre
layer=occult_row
noclickthrough=yes
colour=0xffffff
clickmask=no

// 292:64
[occult_text]
type=text
x=4
width=328
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=occult_row
textfont=museo_sans_13pt_bold
text=Occult
textalignh=2
textalignv=1
colour=0x000000

// 292:65
[occult_solo_time_text]
type=text
x=158
width=336
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=occult_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:66
[occult_group_time_text]
type=text
x=22
width=336
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=occult_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:67
[warped_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=warped_row
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 292:68
[warped_solo_time_graphic]
type=graphic
x=274
width=18
height=18
ymode=abs_centre
layer=warped_row
noclickthrough=yes
colour=0xffffff
clickmask=no

// 292:69
[warped_group_time_graphic]
type=graphic
x=4
width=18
height=18
xmode=abs_right
ymode=abs_centre
layer=warped_row
noclickthrough=yes
colour=0xffffff
clickmask=no

// 292:70
[warped_text]
type=text
x=4
width=328
height=8
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=warped_row
textfont=museo_sans_13pt_bold
text=Warped
textalignh=2
textalignv=1
colour=0x000000

// 292:71
[warped_solo_time_text]
type=text
x=158
width=336
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=warped_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:72
[warped_group_time_text]
type=text
x=22
width=336
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=warped_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:73
[global_header_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=global_header_row
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 292:74
[global_solo_text]
type=text
x=32
width=246
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=global_header_row
textfont=museo_sans_13pt_bold
text=Solo (1:1)
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:75
[global_group_text]
type=text
x=4
width=246
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=global_header_row
textfont=museo_sans_13pt_bold
text=Group (5:5)
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:76
[global_player_9_row]
type=layer
x=22
y=334
width=44
height=32
widthmode=minus
layer=global_content_layer

// 292:77
[global_player_10_row]
type=layer
x=22
y=370
width=44
height=32
widthmode=minus
layer=global_content_layer

// 292:78
[global_player_1_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=global_player_1_row
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 292:79
[global_rank_1_text]
type=text
x=4
width=24
height=8
heightmode=minus
ymode=abs_centre
layer=global_player_1_row
textfont=museo_sans_13pt_bold
text=1
textalignh=2
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:80
[global_player_1_solo_text]
type=text
x=32
width=246
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=global_player_1_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:81
[global_player_1_group_text]
type=text
x=4
width=246
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=global_player_1_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:82
[global_horizontal_line]
type=line
x=22
y=52
width=44
widthmode=minus
layer=global_content_layer
noclickthrough=yes
colour=0xffffff
onload=script10496(event_com, event_comsubid, 7)

// 292:83
[global_player_9_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=global_player_9_row
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 292:84
[global_rank_9_text]
type=text
x=4
width=24
height=8
heightmode=minus
ymode=abs_centre
layer=global_player_9_row
textfont=museo_sans_13pt_bold
text=9
textalignh=2
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:85
[global_player_9_solo_text]
type=text
x=32
width=246
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=global_player_9_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:86
[global_player_9_group_text]
type=text
x=4
width=246
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=global_player_9_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:87
[global_player_8_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=global_player_8_row
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 292:88
[global_rank_8_text]
type=text
x=4
width=24
height=8
heightmode=minus
ymode=abs_centre
layer=global_player_8_row
textfont=museo_sans_13pt_bold
text=8
textalignh=2
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:89
[global_player_8_solo_text]
type=text
x=32
width=246
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=global_player_8_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:90
[global_player_8_group_text]
type=text
x=4
width=246
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=global_player_8_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:91
[global_player_7_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=global_player_7_row
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 292:92
[global_rank_7_text]
type=text
x=4
width=24
height=8
heightmode=minus
ymode=abs_centre
layer=global_player_7_row
textfont=museo_sans_13pt_bold
text=7
textalignh=2
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:93
[global_player_7_solo_text]
type=text
x=32
width=246
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=global_player_7_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:94
[global_player_7_group_text]
type=text
x=4
width=246
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=global_player_7_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:95
[global_player_6_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=global_player_6_row
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 292:96
[global_rank_6_text]
type=text
x=4
width=24
height=8
heightmode=minus
ymode=abs_centre
layer=global_player_6_row
textfont=museo_sans_13pt_bold
text=6
textalignh=2
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:97
[global_player_6_solo_text]
type=text
x=32
width=246
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=global_player_6_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:98
[global_player_6_group_text]
type=text
x=4
width=246
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=global_player_6_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:99
[global_player_5_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=global_player_5_row
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 292:100
[global_rank_5_text]
type=text
x=4
width=24
height=8
heightmode=minus
ymode=abs_centre
layer=global_player_5_row
textfont=museo_sans_13pt_bold
text=5
textalignh=2
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:101
[global_player_5_solo_text]
type=text
x=32
width=246
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=global_player_5_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:102
[global_player_5_group_text]
type=text
x=4
width=246
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=global_player_5_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:103
[global_player_4_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=global_player_4_row
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 292:104
[global_rank_4_text]
type=text
x=4
width=24
height=8
heightmode=minus
ymode=abs_centre
layer=global_player_4_row
textfont=museo_sans_13pt_bold
text=4
textalignh=2
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:105
[global_player_4_solo_text]
type=text
x=32
width=246
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=global_player_4_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:106
[global_player_4_group_text]
type=text
x=4
width=246
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=global_player_4_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:107
[global_player_3_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=global_player_3_row
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 292:108
[global_rank_3_text]
type=text
x=4
width=24
height=8
heightmode=minus
ymode=abs_centre
layer=global_player_3_row
textfont=museo_sans_13pt_bold
text=3
textalignh=2
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:109
[global_player_3_solo_text]
type=text
x=32
width=246
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=global_player_3_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:110
[global_player_3_group_text]
type=text
x=4
width=246
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=global_player_3_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:111
[global_player_2_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=global_player_2_row
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 292:112
[global_rank_2_text]
type=text
x=4
width=24
height=8
heightmode=minus
ymode=abs_centre
layer=global_player_2_row
textfont=museo_sans_13pt_bold
text=2
textalignh=2
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:113
[global_player_2_solo_text]
type=text
x=32
width=246
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=global_player_2_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:114
[global_player_2_group_text]
type=text
x=4
width=246
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=global_player_2_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:115
[global_player_10_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=global_player_10_row
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 292:116
[global_rank_10_text]
type=text
x=4
width=24
height=8
heightmode=minus
ymode=abs_centre
layer=global_player_10_row
textfont=museo_sans_13pt_bold
text=10
textalignh=2
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 292:117
[global_player_10_solo_text]
type=text
x=32
width=246
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=global_player_10_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:118
[global_player_10_group_text]
type=text
x=4
width=246
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=global_player_10_row
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 3)

// 292:119
[info_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_button_layer
onload=script9346(event_com, rs3tli_worldmap_info_icons)
onmouseover=graphic_swapper(event_com, rs3_worldmap_icon_info_key_ovr)
onmouserepeat=script8799("Solo requirements: 1:1 party size:difficulty, large dungeon, high complexity, 100% explored<br>Group requirements: 5:5 party size:difficulty, large dungeon, high complexity, 100% explored", event_com, -1)

