// 995:0
[skillcape]
type=model
x=24
width=37
height=75
ymode=abs_centre
layer=resizable_3x3_button_text_layer_5
model=rand_furn_stand_dungeoneering_skillcape
modelorigin_x=0
modelorigin_y=31
modelangle_x=142
modelangle_y=1911
modelangle_z=0
modelzoom=1600
transmitop10=yes
op10= 

// 995:1
[skillcape_name]
type=text
x=6
y=6
width=144
height=16
xmode=abs_right
layer=resizable_3x3_button_text_layer_5
textfont=museo_sans_11pt_regular_multiline
text=Skillcape Stand
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 995:2
[skillcape_reqs]
type=text
x=6
y=24
width=144
height=48
xmode=abs_right
layer=resizable_3x3_button_text_layer_5
textfont=notosans_11
text=1 x Tangle gum branch
textshadow=yes
colour=0x7592a0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)

// 995:3
[skillcape_level]
type=text
x=6
y=6
width=144
height=16
xmode=abs_right
ymode=abs_bottom
layer=resizable_3x3_button_text_layer_5
textfont=museo_sans_11pt_regular_multiline
text=Level 99 Dungeoneering
textalignv=2
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 21)

// 995:4
[altar]
type=model
x=-6
y=-2
width=96
height=63
ymode=abs_centre
layer=resizable_3x3_button_text_layer_4
model=rand_abnd_prayer_altar_wall_3x2
modelorigin_x=1
modelorigin_y=28
modelangle_x=17
modelangle_y=1234
modelangle_z=5
modelzoom=2300
transmitop10=yes
op10=  

// 995:5
[altar_name]
type=text
x=6
y=6
width=144
height=16
xmode=abs_right
layer=resizable_3x3_button_text_layer_4
textfont=museo_sans_11pt_regular_multiline
text=Prayer Altar
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 995:6
[altar_reqs]
type=text
x=6
y=24
width=144
height=48
xmode=abs_right
layer=resizable_3x3_button_text_layer_4
textfont=notosans_11
text=5 x Bovistrangler branches<br>5 x Zephyrium bars
textshadow=yes
colour=0x7592a0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)

// 995:7
[altar_level]
type=text
x=6
y=6
width=144
height=16
xmode=abs_right
ymode=abs_bottom
layer=resizable_3x3_button_text_layer_4
textfont=museo_sans_11pt_regular_multiline
text=Level 75 Construction
textalignv=2
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 21)

// 995:8
[range]
type=model
x=7
width=73
height=82
ymode=abs_centre
layer=resizable_3x3_button_text_layer_3
model=rand_furn_furn_kitchen_unit_oven_2x2
modelorigin_x=-2
modelorigin_y=30
modelangle_x=113
modelangle_y=1962
modelangle_z=0
modelzoom=2200
transmitop10=yes
op10= 

// 995:9
[range_name]
type=text
x=6
y=6
width=144
height=16
xmode=abs_right
layer=resizable_3x3_button_text_layer_3
textfont=museo_sans_11pt_regular_multiline
text=Cooking Range
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 995:10
[range_reqs]
type=text
x=6
y=24
width=144
height=48
xmode=abs_right
layer=resizable_3x3_button_text_layer_3
textfont=notosans_11
text=5 x Utuku branches<br>5 x Kratonite bars
textshadow=yes
colour=0x7592a0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)

// 995:11
[range_level]
type=text
x=6
y=6
width=144
height=16
xmode=abs_right
ymode=abs_bottom
layer=resizable_3x3_button_text_layer_3
textfont=museo_sans_11pt_regular_multiline
text=Level 50 Construction
textalignv=2
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 21)

// 995:12
[photo_booth]
type=model
x=27
y=-1
width=43
height=81
ymode=abs_centre
layer=resizable_3x3_button_text_layer_1
model=rand_abnd_photobooth_1
modelorigin_x=8
modelorigin_y=40
modelangle_x=142
modelangle_y=341
modelangle_z=0
modelzoom=1500
transmitop10=yes
op10= 

// 995:13
[photo_booth_name]
type=text
x=6
y=6
width=144
height=16
xmode=abs_right
layer=resizable_3x3_button_text_layer_1
textfont=museo_sans_11pt_regular_multiline
text=Photo Booth
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 995:14
[photo_booth_reqs]
type=text
x=6
y=24
width=144
height=48
xmode=abs_right
layer=resizable_3x3_button_text_layer_1
textfont=notosans_11
text=No materials required
textshadow=yes
colour=0x7592a0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)

// 995:15
[photo_booth_level]
type=text
x=6
y=6
width=144
height=16
xmode=abs_right
ymode=abs_bottom
layer=resizable_3x3_button_text_layer_1
textfont=museo_sans_11pt_regular_multiline
text=No level req.
textalignv=2
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 21)

// 995:16
[portal]
type=model
x=5
y=-2
width=80
height=61
ymode=abs_centre
layer=resizable_3x3_button_text_layer
model=rand_furn_startroom_portal
modelorigin_x=0
modelorigin_y=24
modelangle_x=79
modelangle_y=1900
modelangle_z=0
modelzoom=2600

// 995:17
[portal_level]
type=text
x=6
y=6
width=144
height=16
xmode=abs_right
ymode=abs_bottom
layer=resizable_3x3_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=No level req.
textalignv=2
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 21)

// 995:18
[portal_reqs]
type=text
x=6
y=24
width=144
height=48
xmode=abs_right
layer=resizable_3x3_button_text_layer
textfont=notosans_11
text=No materials required
colour=0x7592a0
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)

// 995:19
[portal_name]
type=text
x=6
y=6
width=144
height=16
xmode=abs_right
layer=resizable_3x3_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Group Gatestone Portal
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 995:20
[portal_layer]
type=layer
x=-122
y=-99
width=258
height=90
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 995:21
[photo_booth_layer]
type=layer
x=-122
width=258
height=90
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 995:22
[farming_layer]
type=layer
x=-122
y=99
width=258
height=90
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 995:23
[range_layer]
type=layer
x=122
y=-99
width=258
height=90
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 995:24
[altar_layer]
type=layer
x=122
width=258
height=90
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 995:25
[skillcape_layer]
type=layer
x=122
y=99
width=258
height=90
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 995:26
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(rand_start_room_construction:mainmodal_window_background, rand_start_room_construction:mainmodal_window_border, rand_start_room_construction:mainmodal_window_content, rand_start_room_construction:mainmodal_window_close_button, "Start Room Modifications", 21218, string_1007)

// 995:27
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 995:28
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 995:29
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 995:30
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 995:31
[resizable_3x3_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=portal_layer
onload=script7699(event_com)

// 995:32
[resizable_3x3_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=portal_layer
onload=script7728(event_com)

// 995:33
[resizable_3x3_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=portal_layer
onload=script7729(event_com)

// 995:34
[resizable_3x3_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=portal_layer
hide=yes
onload=script8225(event_com)

// 995:35
[portal_button]
type=layer
widthmode=minus
heightmode=minus
layer=portal_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 995:36
[resizable_3x3_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=portal_layer
hide=yes
onload=script8228(event_com)

// 995:37
[resizable_3x3_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=portal_layer

// 995:38
[resizable_3x3_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=photo_booth_layer
onload=script7699(event_com)

// 995:39
[resizable_3x3_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=photo_booth_layer
onload=script7728(event_com)

// 995:40
[resizable_3x3_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=photo_booth_layer
onload=script7729(event_com)

// 995:41
[resizable_3x3_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=photo_booth_layer
hide=yes
onload=script8225(event_com)

// 995:42
[photo_booth_button]
type=layer
widthmode=minus
heightmode=minus
layer=photo_booth_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 995:43
[resizable_3x3_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=photo_booth_layer
hide=yes
onload=script8228(event_com)

// 995:44
[resizable_3x3_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=photo_booth_layer

// 995:45
[resizable_3x3_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=farming_layer
onload=script7699(event_com)

// 995:46
[resizable_3x3_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=farming_layer
onload=script7728(event_com)

// 995:47
[resizable_3x3_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=farming_layer
onload=script7729(event_com)

// 995:48
[resizable_3x3_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=farming_layer
hide=yes
onload=script8225(event_com)

// 995:49
[farming_button]
type=layer
widthmode=minus
heightmode=minus
layer=farming_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 995:50
[resizable_3x3_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=farming_layer
hide=yes
onload=script8228(event_com)

// 995:51
[resizable_3x3_button_text_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=farming_layer

// 995:52
[farming_patch]
type=model
x=14
y=-1
width=72
height=65
ymode=abs_centre
layer=resizable_3x3_button_text_layer_2
model=rand_furn_planter_grown_herb01
modelorigin_x=1
modelorigin_y=14
modelangle_x=176
modelangle_y=1809
modelangle_z=0
modelzoom=1800
transmitop10=yes
op10= 

// 995:53
[farming_patch_name]
type=text
x=6
y=6
width=144
height=16
xmode=abs_right
layer=resizable_3x3_button_text_layer_2
textfont=museo_sans_11pt_regular_multiline
text=Farming Patch
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 995:54
[farming_patch_reqs]
type=text
x=6
y=24
width=144
height=48
xmode=abs_right
layer=resizable_3x3_button_text_layer_2
textfont=notosans_11
text=5 x Seeping elm branches<br>5 x Bathus bars
textshadow=yes
colour=0x7592a0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)

// 995:55
[farming_patch_level]
type=text
x=6
y=6
width=144
height=16
xmode=abs_right
ymode=abs_bottom
layer=resizable_3x3_button_text_layer_2
textfont=museo_sans_11pt_regular_multiline
text=Level 25 Construction
textalignv=2
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 21)

// 995:56
[resizable_3x3_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=range_layer
onload=script7699(event_com)

// 995:57
[resizable_3x3_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=range_layer
onload=script7728(event_com)

// 995:58
[resizable_3x3_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=range_layer
onload=script7729(event_com)

// 995:59
[resizable_3x3_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=range_layer
hide=yes
onload=script8225(event_com)

// 995:60
[range_button]
type=layer
widthmode=minus
heightmode=minus
layer=range_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 995:61
[resizable_3x3_button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=range_layer
hide=yes
onload=script8228(event_com)

// 995:62
[resizable_3x3_button_text_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=range_layer

// 995:63
[resizable_3x3_button_on_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=altar_layer
onload=script7699(event_com)

// 995:64
[resizable_3x3_button_over_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=altar_layer
onload=script7728(event_com)

// 995:65
[resizable_3x3_button_hit_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=altar_layer
onload=script7729(event_com)

// 995:66
[resizable_3x3_button_selected_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=altar_layer
hide=yes
onload=script8225(event_com)

// 995:67
[altar_button]
type=layer
widthmode=minus
heightmode=minus
layer=altar_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 995:68
[resizable_3x3_button_disabled_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=altar_layer
hide=yes
onload=script8228(event_com)

// 995:69
[resizable_3x3_button_text_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=altar_layer

// 995:70
[resizable_3x3_button_on_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skillcape_layer
onload=script7699(event_com)

// 995:71
[resizable_3x3_button_over_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skillcape_layer
onload=script7728(event_com)

// 995:72
[resizable_3x3_button_hit_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skillcape_layer
onload=script7729(event_com)

// 995:73
[resizable_3x3_button_selected_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skillcape_layer
hide=yes
onload=script8225(event_com)

// 995:74
[skillcape_button]
type=layer
widthmode=minus
heightmode=minus
layer=skillcape_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 995:75
[resizable_3x3_button_disabled_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skillcape_layer
hide=yes
onload=script8228(event_com)

// 995:76
[resizable_3x3_button_text_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skillcape_layer

