// 1390:0
[players_ready]
type=layer
x=5
y=18
width=158
height=87

// 1390:1
[card_tutorial]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
hide=yes
onload=script7502

// 1390:2
[gold_frame_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=players_ready
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1390:3
[gold_frame_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=players_ready

// 1390:4
[com_4]
type=text
x=4
y=5
width=91
height=19
layer=gold_frame_content_layer
textfont=p11_full
text=Players Ready:
textalignv=1
textshadow=yes
onmouseleave=script8805
onmouserepeat=script8799("Players currently ready to start a sinkhole.", event_com, event_comsubid)

// 1390:5
[ready_num]
type=text
x=105
y=5
width=17
height=19
layer=gold_frame_content_layer
textfont=p11_full
text=0
textalignv=1
textshadow=yes
colour=0xff0000
onmouseleave=script8805
onmouserepeat=script8799("Players currently ready to start a sinkhole.", event_com, event_comsubid)

// 1390:6
[com_6]
type=text
x=4
y=25
width=91
height=19
layer=gold_frame_content_layer
textfont=p11_full
text=Total players:
textalignv=1
textshadow=yes
onmouseleave=script8805
onmouserepeat=script8799("Players currently in the lobby.", event_com, event_comsubid)

// 1390:7
[total_num]
type=text
x=105
y=25
width=17
height=19
layer=gold_frame_content_layer
textfont=p11_full
text=0
textalignv=1
textshadow=yes
colour=0xff0000
onmouseleave=script8805
onmouserepeat=script8799("Players currently in the lobby.", event_com, event_comsubid)

// 1390:8
[com_8]
type=text
x=4
y=45
width=91
height=19
layer=gold_frame_content_layer
textfont=p11_full
text=Your state:
textalignv=1
textshadow=yes
onmouseleave=script8805
onmouserepeat=script8799("Are you ready to enter a sinkhole?", event_com, event_comsubid)

// 1390:9
[player_state]
type=text
x=102
y=45
width=52
height=19
layer=gold_frame_content_layer
textfont=p11_full
text=Not ready
textalignv=1
textshadow=yes
colour=0xff0000
onmouseleave=script8805
onmouserepeat=script8799("Are you ready to enter a sinkhole?", event_com, event_comsubid)

// 1390:10
[com_10]
type=text
x=4
y=65
width=102
height=19
layer=gold_frame_content_layer
textfont=p11_full
text=Sinkhole collapse:
textalignv=1
textshadow=yes
onmouseleave=script8805
onmouserepeat=script8799("Time remaining until the dungeon collapses.", event_com, event_comsubid)

// 1390:11
[time_left]
type=text
x=105
y=65
width=41
height=19
layer=gold_frame_content_layer
textfont=p11_full
text=-
textalignv=1
textshadow=yes
onmouseleave=script8805
onmouserepeat=script8799("Time remaining until the dungeon collapses.", event_com, event_comsubid)

// 1390:12
[tooltips]
type=layer
width=177
height=160
layer=gold_frame_content_layer

// 1390:13
[gold_window_background_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=card_tutorial
onload=script4260(event_com)

// 1390:14
[gold_window_content_layer]
type=layer
x=12
y=33
width=23
height=43
widthmode=minus
heightmode=minus
layer=card_tutorial

// 1390:15
[background]
type=graphic
width=16424
height=16447
widthmode=proportion
heightmode=proportion
layer=gold_window_content_layer
graphic=aif_buried_treasure_bg
colour=0xffffff
clickmask=no

// 1390:16
[rand_dnd_buttons_layer]
type=layer
width=16424
height=18755
widthmode=proportion
heightmode=proportion
layer=gold_window_content_layer

// 1390:17
[rand_dnd_skip_button]
type=layer
x=342
y=267
width=125
height=20
layer=rand_dnd_buttons_layer

// 1390:18
[stone_tab_on_layer_1]
type=layer
width=16391
height=20
widthmode=proportion
ymode=abs_centre
layer=rand_dnd_skip_button
onload=script4203(event_com, aif_stone_tab_on)

// 1390:19
[stone_tab_over_layer_1]
type=layer
width=16391
height=20
widthmode=proportion
ymode=abs_centre
layer=rand_dnd_skip_button
onload=script4203(event_com, aif_stone_tab_over)

// 1390:20
[stone_tab_hit_layer_1]
type=layer
width=16391
height=20
widthmode=proportion
ymode=abs_centre
layer=rand_dnd_skip_button
onload=script4203(event_com, aif_stone_tab_hit)

// 1390:21
[stone_tab_selected_layer_1]
type=layer
width=16391
height=20
widthmode=proportion
ymode=abs_centre
layer=rand_dnd_skip_button
onload=script4203(event_com, aif_stone_tab_selected)

// 1390:22
[stone_tab_active_layer_1]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=rand_dnd_skip_button
onload=script4213(event_com)

// 1390:23
[stone_tab_disabled_layer_1]
type=layer
width=16391
height=20
widthmode=proportion
ymode=abs_centre
layer=rand_dnd_skip_button
onload=script4203(event_com, aif_stone_tab_disabled)

// 1390:24
[stone_tab_text_layer_1]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=rand_dnd_skip_button

// 1390:25
[stone_tab_text_1]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=stone_tab_text_layer_1
textfont=verdana_11pt_regular
text=Skip turn
textalignh=1
textalignv=1
colour=0xe3cccf
onload=script4210(event_com, verdana_11pt_regular, 0xe3cccf, 2564623)

// 1390:26
[rand_dnd_select_button]
type=layer
y=267
width=125
height=20
xmode=abs_centre
layer=rand_dnd_buttons_layer

// 1390:27
[stone_tab_on_layer]
type=layer
width=16391
height=20
widthmode=proportion
ymode=abs_centre
layer=rand_dnd_select_button
onload=script4203(event_com, aif_stone_tab_on)

// 1390:28
[stone_tab_over_layer]
type=layer
width=16391
height=20
widthmode=proportion
ymode=abs_centre
layer=rand_dnd_select_button
onload=script4203(event_com, aif_stone_tab_over)

// 1390:29
[stone_tab_hit_layer]
type=layer
width=16391
height=20
widthmode=proportion
ymode=abs_centre
layer=rand_dnd_select_button
onload=script4203(event_com, aif_stone_tab_hit)

// 1390:30
[stone_tab_selected_layer]
type=layer
width=16391
height=20
widthmode=proportion
ymode=abs_centre
layer=rand_dnd_select_button
onload=script4203(event_com, aif_stone_tab_selected)

// 1390:31
[stone_tab_active_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=rand_dnd_select_button
onload=script4213(event_com)

// 1390:32
[stone_tab_disabled_layer]
type=layer
width=16391
height=20
widthmode=proportion
ymode=abs_centre
layer=rand_dnd_select_button
onload=script4203(event_com, aif_stone_tab_disabled)

// 1390:33
[stone_tab_text_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=rand_dnd_select_button

// 1390:34
[stone_tab_text]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=stone_tab_text_layer
textfont=verdana_11pt_regular
text=Select
textalignh=1
textalignv=1
colour=0xe3cccf
onload=script4210(event_com, verdana_11pt_regular, 0xe3cccf, 2564623)

// 1390:35
[rand_dnd_left_button]
type=graphic
x=-133
y=1
width=35
height=35
xmode=abs_centre
layer=rand_dnd_buttons_layer
hide=yes
graphic="aif_arrow_btn_left_tga,2"
colour=0xffffff
clickmask=no

// 1390:36
[rand_dnd_right_button]
type=graphic
x=359
y=1
width=35
height=35
layer=rand_dnd_buttons_layer
hide=yes
graphic="aif_arrow_btn_right_tga,0"
colour=0xffffff
clickmask=no

// 1390:37
[rand_dnd_progress_bar_layer]
type=layer
x=-156
y=267
width=154
height=20
xmode=abs_centre
layer=gold_window_content_layer

// 1390:38
[rand_dnd_progress_bar_left]
type=graphic
width=12
height=20
layer=rand_dnd_progress_bar_layer
graphic="aif_progress_bar_frame_4,0"
colour=0xffffff
clickmask=no

// 1390:39
[rand_dnd_progress_bar_centre]
type=graphic
x=12
width=130
height=20
layer=rand_dnd_progress_bar_layer
graphic="aif_progress_bar_frame_4,1"
colour=0xffffff
clickmask=no

// 1390:40
[rand_dnd_progress_bar_right]
type=graphic
x=142
width=12
height=20
layer=rand_dnd_progress_bar_layer
graphic="aif_progress_bar_frame_4,2"
colour=0xffffff
clickmask=no

// 1390:41
[rand_dnd_progress_bar_fill]
type=graphic
x=5
y=3
width=144
height=14
layer=rand_dnd_progress_bar_layer
graphic=aif_progbar_bluebar_1
colour=0xffffff
clickmask=no

// 1390:42
[rand_dnd_time_text]
type=text
width=32
height=21
xmode=abs_centre
ymode=abs_centre
layer=rand_dnd_progress_bar_layer
textfont=verdana_11pt_bold
text=15
textalignh=1
textshadow=yes

// 1390:43
[rand_dnd_cards_perm_layer]
type=layer
y=44
width=16384
height=9634
widthmode=proportion
heightmode=proportion
layer=gold_window_content_layer

// 1390:44
[rand_dnd_scrolling_cards_layer]
type=layer
y=13
width=491
height=141
layer=rand_dnd_cards_perm_layer

// 1390:45
[rand_dnd_card_1]
type=graphic
x=-200
y=6
width=87
height=127
xmode=abs_centre
layer=rand_dnd_scrolling_cards_layer
graphic=aif_meerkat_card_sml
colour=0xffffff
clickmask=no
onop=script7510(1)

// 1390:46
[rand_dnd_card_2]
type=graphic
x=-100
y=6
width=87
height=127
xmode=abs_centre
layer=rand_dnd_scrolling_cards_layer
graphic=aif_yak_card_sml
colour=0xffffff
clickmask=no
onop=script7510(2)

// 1390:47
[rand_dnd_card_3]
type=graphic
y=6
width=87
height=127
xmode=abs_centre
layer=rand_dnd_scrolling_cards_layer
graphic=aif_mantis_card_sml
colour=0xffffff
clickmask=no
onop=script7510(3)

// 1390:48
[rand_dnd_card_4]
type=graphic
x=100
y=6
width=87
height=127
xmode=abs_centre
layer=rand_dnd_scrolling_cards_layer
graphic=aif_steel_titan_card_sml
colour=0xffffff
clickmask=no
onop=script7510(4)

// 1390:49
[rand_dnd_card_5]
type=graphic
x=200
y=6
width=87
height=127
xmode=abs_centre
layer=rand_dnd_scrolling_cards_layer
graphic=aif_phoenix_card_sml
colour=0xffffff
clickmask=no
onop=script7510(5)

// 1390:50
[rand_dnd_card_name_background]
type=graphic
y=-3
width=221
height=40
xmode=abs_centre
layer=gold_window_content_layer
graphic=aif_buried_treasure_title
colour=0xffffff
clickmask=no

// 1390:51
[rand_dnd_card_name_text]
type=text
y=5
width=131
height=24
xmode=abs_centre
layer=gold_window_content_layer
textfont=verdana_11pt_bold
text=Trading Mantis
textalignh=1
textalignv=1
textshadow=yes

// 1390:52
[rand_dnd_chosen_card]
type=graphic
y=38
width=125
height=182
xmode=abs_centre
layer=gold_window_content_layer
graphic=aif_mantis_card_lrg_select
colour=0xffffff
clickmask=no

// 1390:53
[rand_dnd_tooltip_layer]
type=layer
y=45
width=465
height=165
xmode=abs_centre
layer=gold_window_content_layer

// 1390:54
[card_info]
type=layer
y=204
width=16391
height=58
widthmode=proportion
xmode=abs_centre
layer=gold_window_content_layer

// 1390:55
[info_background]
type=graphic
y=4
width=359
height=56
xmode=abs_centre
layer=card_info
graphic=aif_buried_treasure_title
colour=0xffffff
clickmask=no

// 1390:56
[info_text]
type=text
x=109
y=15
width=270
height=32
layer=card_info
textfont=p11_full
text=The praying mantis will allow you to trade your chest with the next ranked player.
textalignh=1
textalignv=1
textshadow=yes

// 1390:57
[gold_window_frame_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=card_tutorial
onload=script4261(event_com)

// 1390:58
[gold_window_title_layer]
type=layer
y=4
width=8
height=23
widthmode=minus
xmode=abs_centre
layer=card_tutorial

// 1390:59
[gold_window_title_text]
type=text
width=16391
height=4
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_title_layer
textfont=palatino_linotype_18pt_regular
text=Select a Card
textalignh=1
textalignv=1
colour=0xebe0bc
onload=script4262(event_com)

// 1390:60
[gold_window_close_button_layer]
type=layer
x=9
y=9
width=16
height=15
xmode=abs_right
layer=card_tutorial
onload=script4256(event_com)

// 1390:61
[gold_window_close_button_on_graphic]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_close_button_layer
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onload=script4257(event_com)

// 1390:62
[gold_window_close_button_over_graphic]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_close_button_layer
colour=0xffffff
clickmask=no
onload=script4258(event_com)

