// 780:0
[main_layer]
type=layer
y=-20
width=500
height=300
xmode=abs_centre
layer=modal_dialog_window_content
onload=script728

// 780:1
[modal_dialog_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(rcguild_map:modal_dialog_window_background, rcguild_map:modal_dialog_window_border, rcguild_map:modal_dialog_window_content, rcguild_map:modal_dialog_window_close_button, "Runecrafting Altars", 21217, string_1007)

// 780:2
[you_are_here]
type=text
x=35
y=103
width=70
height=46
xmode=abs_centre
ymode=abs_centre
layer=text_and_icons_layer
textfont=museo_sans_13pt_bold
text=You are here
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
colour=0xebe0bc
onload=script10496(event_com, event_comsubid, 1)

// 780:3
[you_are_here_graphic]
type=graphic
x=259
y=194
width=40
height=40
layer=text_and_icons_layer
graphic=rs3_icon_lodestone_tower
colour=0xffffff
clickmask=no

// 780:4
[asgarnia]
type=text
x=29
y=36
width=64
height=21
xmode=abs_centre
ymode=abs_centre
layer=text_and_icons_layer
textfont=museo_sans_13pt_bold
text=Asgarnia
textalignh=1
textalignv=1
textshadow=yes
colour=0xebe0bc
onload=script10496(event_com, event_comsubid, 1)

// 780:5
[misthalin]
type=text
x=84
y=132
width=64
height=21
xmode=abs_centre
layer=text_and_icons_layer
textfont=museo_sans_13pt_bold
text=Misthalin
textalignh=1
textalignv=1
textshadow=yes
colour=0xebe0bc
onload=script10496(event_com, event_comsubid, 1)

// 780:6
[karamaja]
type=text
x=-29
y=70
width=64
height=21
xmode=abs_centre
ymode=abs_centre
layer=text_and_icons_layer
textfont=museo_sans_13pt_bold
text=Karamja
textalignh=1
textalignv=1
textshadow=yes
colour=0xebe0bc
onload=script10496(event_com, event_comsubid, 1)

// 780:7
[kandarin]
type=text
x=-47
y=1
width=64
height=21
xmode=abs_centre
ymode=abs_centre
layer=text_and_icons_layer
textfont=museo_sans_13pt_bold
text=Kandarin
textalignh=1
textalignv=1
textshadow=yes
colour=0xebe0bc
onload=script10496(event_com, event_comsubid, 1)

// 780:8
[tirannwn]
type=text
x=-140
y=37
width=64
height=21
xmode=abs_centre
ymode=abs_centre
layer=text_and_icons_layer
textfont=museo_sans_13pt_bold
text=Tirannwn
textalignh=1
textalignv=1
textshadow=yes
colour=0xebe0bc
onload=script10496(event_com, event_comsubid, 1)

// 780:9
[feldip_hills]
type=text
x=-98
y=253
width=64
height=32
xmode=abs_centre
layer=text_and_icons_layer
textfont=museo_sans_13pt_bold
text=Feldip Hills
textalignh=1
textalignv=1
textshadow=yes
colour=0xebe0bc
onload=script10496(event_com, event_comsubid, 1)

// 780:10
[morytania]
type=text
x=158
y=12
width=86
height=20
xmode=abs_centre
ymode=abs_centre
layer=text_and_icons_layer
textfont=museo_sans_13pt_bold
text=Morytania
textalignh=1
textalignv=1
textshadow=yes
colour=0xebe0bc
onload=script10496(event_com, event_comsubid, 1)

// 780:11
[wilderness]
type=text
x=262
y=-74
width=86
height=21
ymode=abs_centre
layer=text_and_icons_layer
textfont=museo_sans_13pt_bold
text=Wilderness
textalignh=1
textalignv=1
textshadow=yes
colour=0xebe0bc
onload=script10496(event_com, event_comsubid, 1)

// 780:12
[boundingbox]
type=layer
width=500
height=300
xmode=abs_centre
ymode=abs_centre
layer=text_and_icons_layer

// 780:13
[lay_info]
type=layer
x=-120
y=-75
width=231
height=77
xmode=abs_centre
ymode=abs_centre
layer=text_and_icons_layer

// 780:14
[background]
type=layer
widthmode=minus
heightmode=minus
layer=lay_info
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 780:15
[world_map]
type=layer
y=34
width=512
height=384
xmode=abs_centre
ymode=abs_centre
layer=main_layer

// 780:16
[text_and_icons_layer]
type=layer
width=500
height=300
xmode=abs_centre
ymode=abs_centre
layer=main_layer

// 780:17
[air]
type=model
x=212
y=133
width=41
height=37
layer=lay_air
model=rcguild_air_rune
modelorigin_x=0
modelorigin_y=0
modelangle_x=368
modelangle_y=0
modelangle_z=0
modelzoom=784
modelanim=rcguild_interface_runes

// 780:18
[mind]
type=model
x=196
y=78
width=41
height=37
layer=lay_mind
model=rcguild_mind_rune
modelorigin_x=0
modelorigin_y=0
modelangle_x=368
modelangle_y=0
modelangle_z=0
modelzoom=784
modelanim=rcguild_interface_runes

// 780:19
[water]
type=model
x=262
y=166
width=41
height=37
layer=lay_water
model=rcguild_water_rune
modelorigin_x=0
modelorigin_y=0
modelangle_x=368
modelangle_y=0
modelangle_z=0
modelzoom=784
modelanim=rcguild_interface_runes

// 780:20
[earth]
type=model
x=308
y=96
width=41
height=37
layer=lay_earth
model=rcguild_earth_rune
modelorigin_x=0
modelorigin_y=0
modelangle_x=368
modelangle_y=0
modelangle_z=0
modelzoom=784
modelanim=rcguild_interface_runes

// 780:21
[fire]
type=model
x=336
y=172
width=41
height=37
layer=lay_fire
model=rcguild_fire_rune
modelorigin_x=0
modelorigin_y=0
modelangle_x=368
modelangle_y=0
modelangle_z=0
modelzoom=784
modelanim=rcguild_interface_runes

// 780:22
[body]
type=model
x=227
y=102
width=41
height=37
layer=lay_body
model=rcguild_body_rune
modelorigin_x=0
modelorigin_y=0
modelangle_x=368
modelangle_y=0
modelangle_z=0
modelzoom=784
modelanim=rcguild_interface_runes

// 780:23
[chaos]
type=model
x=224
y=48
width=41
height=37
layer=lay_chaos
model=rcguild_chaos_rune
modelorigin_x=0
modelorigin_y=0
modelangle_x=368
modelangle_y=0
modelangle_z=0
modelzoom=784
modelanim=rcguild_interface_runes

// 780:24
[nature]
type=model
x=167
y=223
width=41
height=37
layer=lay_nature
model=rcguild_nature_rune
modelorigin_x=0
modelorigin_y=0
modelangle_x=368
modelangle_y=0
modelangle_z=0
modelzoom=784
modelanim=rcguild_interface_runes

// 780:25
[law]
type=model
x=174
y=127
width=41
height=37
layer=lay_law
model=rcguild_law_rune
modelorigin_x=0
modelorigin_y=0
modelangle_x=368
modelangle_y=0
modelangle_z=0
modelzoom=784
modelanim=rcguild_interface_runes

// 780:26
[blood]
type=model
x=414
y=149
width=41
height=37
layer=lay_blood
model=rcguild_blood_rune
modelorigin_x=0
modelorigin_y=0
modelangle_x=368
modelangle_y=0
modelangle_z=0
modelzoom=784
modelanim=rcguild_interface_runes

// 780:27
[death]
type=model
x=50
y=165
width=41
height=37
layer=lay_death
model=rcguild_death_rune
modelorigin_x=0
modelorigin_y=0
modelangle_x=368
modelangle_y=0
modelangle_z=0
modelzoom=784
modelanim=rcguild_interface_runes

// 780:28
[cosmic]
type=model
x=283
y=182
width=41
height=37
layer=lay_cosmic
model=rcguild_cosmic_rune
modelorigin_x=0
modelorigin_y=0
modelangle_x=368
modelangle_y=0
modelangle_z=0
modelzoom=784
modelanim=rcguild_interface_runes

// 780:29
[tooltip]
type=layer
width=500
height=300
xmode=abs_centre
ymode=abs_centre
layer=boundingbox

// 780:30
[lay_air]
type=layer
x=80
y=18
width=512
height=334
layer=boundingbox

// 780:31
[lay_body]
type=layer
x=31
y=45
width=512
height=334
layer=boundingbox

// 780:32
[lay_mind]
type=layer
x=37
y=49
width=512
height=334
layer=boundingbox

// 780:33
[lay_earth]
type=layer
x=18
y=46
width=512
height=334
layer=boundingbox

// 780:34
[lay_water]
type=layer
x=20
y=38
width=512
height=334
layer=boundingbox

// 780:35
[lay_fire]
type=layer
x=3
y=20
width=512
height=334
layer=boundingbox

// 780:36
[lay_chaos]
type=layer
x=45
y=48
width=512
height=334
layer=boundingbox

// 780:37
[lay_law]
type=layer
x=30
y=35
width=512
height=334
layer=boundingbox

// 780:38
[lay_blood]
type=layer
x=-14
y=20
width=512
height=334
layer=boundingbox

// 780:39
[lay_nature]
type=layer
x=36
y=9
width=512
height=334
layer=boundingbox

// 780:40
[lay_ourania]
type=layer
width=512
height=334
layer=boundingbox

// 780:41
[lay_astral]
type=layer
width=512
height=334
layer=boundingbox

// 780:42
[lay_death]
type=layer
x=51
y=30
width=512
height=334
layer=boundingbox

// 780:43
[lay_cosmic]
type=layer
x=21
y=22
width=512
height=334
layer=boundingbox

// 780:44
[lay_soul]
type=layer
x=27
y=80
width=512
height=334
layer=boundingbox

// 780:45
[info_txt]
type=text
x=10
y=10
width=20
height=20
widthmode=minus
heightmode=minus
layer=lay_info
textfont=museo_sans_11pt_regular
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 780:46
[com_46]
type=graphic
width=8199
height=5468
widthmode=proportion
heightmode=proportion
layer=world_map
graphic="thas_gielinor_map,0"
colour=0xffffff
clickmask=no

// 780:47
[com_47]
type=graphic
width=8199
height=5468
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=world_map
graphic="thas_gielinor_map,1"
colour=0xffffff
clickmask=no

// 780:48
[com_48]
type=graphic
width=8192
height=5468
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=world_map
graphic="thas_gielinor_map,2"
colour=0xffffff
clickmask=no

// 780:49
[com_49]
type=graphic
width=8192
height=5468
widthmode=proportion
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=world_map
graphic="thas_gielinor_map,3"
colour=0xffffff
clickmask=no

// 780:50
[com_50]
type=graphic
width=8192
height=5468
widthmode=proportion
heightmode=proportion
ymode=abs_bottom
layer=world_map
graphic="thas_gielinor_map,4"
colour=0xffffff
clickmask=no

// 780:51
[com_51]
type=graphic
width=8192
height=5468
widthmode=proportion
heightmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=world_map
graphic="thas_gielinor_map,5"
colour=0xffffff
clickmask=no

// 780:52
[soul]
type=model
x=326
y=190
width=21
height=21
layer=lay_soul
model=inv_soulrune
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=1024
modelangle_z=0
modelzoom=950
modelanim=rcguild_interface_runes

// 780:53
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 780:54
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 780:55
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 780:56
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

