// 779:0
[content_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_builder_wrapper

// 779:1
[content_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_builder_wrapper

// 779:2
[rcguild_rewards]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(rcguild_rewards:rcguild_rewards_background, rcguild_rewards:rcguild_rewards_border, rcguild_rewards:rcguild_rewards_content, rcguild_rewards:rcguild_rewards_close_button, "Runecrafting Guild Rewards", 21218, string_1007)

// 779:3
[rcguild_rewards_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=rcguild_rewards

// 779:4
[rcguild_rewards_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=rcguild_rewards
onload=rcguild_shop_onload

// 779:5
[tab_layer]
type=layer
width=496
height=25
layer=rcguild_rewards_content

// 779:6
[rcguild_rewards_talismans_layer]
type=layer
width=124
heightmode=minus
ymode=abs_centre
layer=tab_layer

// 779:7
[rcguild_rewards_talismans_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_talismans_layer
onload=script8103(event_com)

// 779:8
[rcguild_rewards_talismans_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_talismans_layer
onload=script9645(event_com)

// 779:9
[rcguild_rewards_talismans_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_talismans_layer
onload=script9646(event_com)

// 779:10
[rcguild_rewards_talismans_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_talismans_layer
hide=yes
onload=script9647(event_com)

// 779:11
[rcguild_rewards_talismans_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=rcguild_rewards_talismans_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 779:12
[rcguild_rewards_talismans_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_talismans_layer
hide=yes
onload=script9650(event_com)

// 779:13
[rcguild_rewards_talismans_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_talismans_layer

// 779:14
[rcguild_rewards_talismans_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_talismans_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Talismans
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 779:15
[rcguild_rewards_outfits_layer]
type=layer
x=124
width=124
heightmode=minus
ymode=abs_centre
layer=tab_layer

// 779:16
[rcguild_rewards_outfits_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_outfits_layer
onload=script8103(event_com)

// 779:17
[rcguild_rewards_outfits_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_outfits_layer
onload=script9645(event_com)

// 779:18
[rcguild_rewards_outfits_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_outfits_layer
onload=script9646(event_com)

// 779:19
[rcguild_rewards_outfits_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_outfits_layer
hide=yes
onload=script9647(event_com)

// 779:20
[rcguild_rewards_outfits_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=rcguild_rewards_outfits_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 779:21
[rcguild_rewards_outfits_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_outfits_layer
hide=yes
onload=script9650(event_com)

// 779:22
[rcguild_rewards_outfits_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_outfits_layer

// 779:23
[rcguild_rewards_outfits_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_outfits_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Runecrafting Outfits
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 779:24
[rcguild_rewards_teles_layer]
type=layer
x=248
width=124
heightmode=minus
ymode=abs_centre
layer=tab_layer

// 779:25
[rcguild_rewards_teles_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_teles_layer
onload=script8103(event_com)

// 779:26
[rcguild_rewards_teles_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_teles_layer
onload=script9645(event_com)

// 779:27
[rcguild_rewards_teles_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_teles_layer
onload=script9646(event_com)

// 779:28
[rcguild_rewards_teles_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_teles_layer
hide=yes
onload=script9647(event_com)

// 779:29
[rcguild_rewards_teles_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=rcguild_rewards_teles_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 779:30
[rcguild_rewards_teles_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_teles_layer
hide=yes
onload=script9650(event_com)

// 779:31
[rcguild_rewards_teles_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_teles_layer

// 779:32
[rcguild_rewards_teles_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_teles_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Tablets of Teleportation
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 779:33
[rcguild_rewards_misc_layer]
type=layer
x=372
width=124
heightmode=minus
ymode=abs_centre
layer=tab_layer

// 779:34
[rcguild_rewards_misc_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_misc_layer
onload=script8103(event_com)

// 779:35
[rcguild_rewards_misc_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_misc_layer
onload=script9645(event_com)

// 779:36
[rcguild_rewards_misc_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_misc_layer
onload=script9646(event_com)

// 779:37
[rcguild_rewards_misc_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_misc_layer
hide=yes
onload=script9647(event_com)

// 779:38
[rcguild_rewards_misc_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=rcguild_rewards_misc_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 779:39
[rcguild_rewards_misc_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_misc_layer
hide=yes
onload=script9650(event_com)

// 779:40
[rcguild_rewards_misc_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_misc_layer

// 779:41
[rcguild_rewards_misc_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rcguild_rewards_misc_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Miscellaneous
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 779:42
[content_layer]
type=layer
y=25
height=49
widthmode=minus
heightmode=minus
layer=rcguild_rewards_content

// 779:43
[content_builder_wrapper]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer

// 779:44
[scroll_bar_layer]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=content_layer

// 779:45
[token_layer]
type=layer
height=24
widthmode=minus
ymode=abs_bottom
layer=rcguild_rewards_content

// 779:46
[rcguild_tokens]
type=text
width=4096
widthmode=proportion
heightmode=minus
layer=token_layer
textfont=museo_sans_11pt_regular
text=Tokens: 0
textalignh=1
textalignv=1
textshadow=yes

// 779:47
[rc_guild_confirm]
type=text
width=12295
widthmode=proportion
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=token_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 779:48
[rcguild_rewards_border]
type=layer
widthmode=minus
heightmode=minus
layer=rcguild_rewards

// 779:49
[rcguild_rewards_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=rcguild_rewards
transmitop1=yes
op1=Close
onop=closebutton_click

