// 1273:0
[com_0]
type=graphic
width=301
height=210
layer=confirm_layer
graphic=aif_loyalty_popup_window_sml_1
colour=0xffffff
clickmask=no

// 1273:1
[buying]
type=text
y=23
width=43
height=32
xmode=abs_centre
layer=confirm_layer
textfont=verdana_15pt_regular
text=You  are buying
textalignh=1
colour=0x502828

// 1273:2
[confirm_item_name]
type=text
y=46
width=202
height=25
xmode=abs_centre
layer=confirm_layer
textfont=palatino_linotype_14pt_regular
text=10000000 x Greater Runic Staff
textalignh=1
colour=0x502828

// 1273:3
[for]
type=text
y=68
width=32
height=32
xmode=abs_centre
layer=confirm_layer
textfont=verdana_15pt_regular
text=for
textalignh=1
colour=0x502828

// 1273:4
[confirm_item_price]
type=text
y=93
width=152
height=22
xmode=abs_centre
layer=confirm_layer
textfont=palatino_linotype_14pt_regular
text=10000000 Points
textalignh=1
colour=0x502828

// 1273:5
[com_5]
type=rectangle
y=116
width=200
height=1
xmode=abs_centre
layer=confirm_layer
colour=0x502828

// 1273:6
[confirm_sure]
type=text
y=117
width=109
height=30
xmode=abs_centre
layer=confirm_layer
textfont=verdana_15pt_regular
text=Are you sure?
textalignh=1
colour=0x502828

// 1273:7
[make_purchase_button_layer]
type=layer
x=22
y=161
width=120
height=30
layer=confirm_layer
transmitop1=yes
op1=Buy

// 1273:8
[cancel_purchase_button_layer]
type=layer
x=22
y=161
width=120
height=30
xmode=abs_right
layer=confirm_layer
transmitop1=yes
op1=Cancel

// 1273:9
[diabled_rect]
type=rectangle
y=3
width=68
height=18
xmode=abs_centre
ymode=abs_centre
layer=buy_button_disabled_layer
colour=0x000000
fill=yes
trans=128

// 1273:10
[universe_layer]
type=layer
width=765
height=503
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script6160

// 1273:11
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe_layer

// 1273:12
[main_content_layer]
type=layer
x=195
y=76
width=555
height=375
layer=universe_layer

// 1273:13
[buy_op_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_content_layer

// 1273:14
[items_buy_op_layer]
type=layer
widthmode=minus
heightmode=minus
layer=buy_op_layer

// 1273:15
[esteem_buy_op_layer]
type=layer
widthmode=minus
heightmode=minus
layer=buy_op_layer

// 1273:16
[recolour_buy_op_layer]
type=layer
widthmode=minus
heightmode=minus
layer=buy_op_layer
hide=yes

// 1273:17
[item_hilight_rect]
type=graphic
width=84
height=78
layer=buy_op_layer
hide=yes
graphic="aif_runecrafting_bkgrd_button2,0"
colour=0xffffff
clickmask=no

// 1273:18
[items_tooltip_layer]
type=layer
width=182
height=100
xmode=abs_centre
ymode=abs_centre
layer=buy_op_layer

// 1273:19
[recolour_buy_ops_background_layer]
type=layer
width=555
height=375
layer=recolour_buy_op_layer

// 1273:20
[recolour_buy_op_wicked_set]
type=layer
x=34
y=63
width=208
height=338
layer=recolour_buy_op_layer

// 1273:21
[recolour_buy_op_wicked_set_hood]
type=model
x=34
y=34
width=32
height=32
layer=recolour_buy_op_wicked_set
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1273:22
[recolour_buy_op_wicked_set_cape]
type=model
x=106
y=106
width=32
height=32
layer=recolour_buy_op_wicked_set
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1273:23
[recolour_buy_op_wicked_set_torso]
type=model
x=58
y=58
width=32
height=32
layer=recolour_buy_op_wicked_set
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1273:24
[recolour_buy_op_wicked_set_legs]
type=model
x=82
y=82
width=32
height=32
layer=recolour_buy_op_wicked_set
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1273:25
[recolour_buy_op_colour_pane]
type=layer
x=25
width=240
height=312
xmode=abs_right
ymode=abs_centre
layer=recolour_buy_op_layer

// 1273:26
[recolour_buy_op_colour_pane_background_layer]
type=layer
width=240
height=312
layer=recolour_buy_op_colour_pane

// 1273:27
[how_many_points_layer]
type=layer
x=18
y=457
width=167
height=34
layer=universe_layer

// 1273:28
[cost_layer]
type=layer
x=205
y=458
width=443
height=34
layer=universe_layer

// 1273:29
[buy_button_layer]
type=layer
x=655
y=459
width=90
height=31
layer=universe_layer
transmitop1=yes
op1=Buy

// 1273:30
[buy_button_disabled_layer]
type=layer
x=655
y=459
width=90
height=31
layer=universe_layer
hide=yes
noclickthrough=yes
onmouserepeat=script8799("Only members can purchase items in the shop.", event_com, event_comsubid)

// 1273:31
[buy_button_graphic]
type=graphic
x=8
y=2
width=74
height=23
xmode=abs_right
ymode=abs_centre
layer=buy_button_layer
graphic="aif_buy_button_group_1,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "aif_buy_button_group_1,3")
onmouseleave=graphic_swapper(event_com, "aif_buy_button_group_1,0")

// 1273:32
[buy_button_text]
type=text
y=1
width=79
height=32
xmode=abs_centre
ymode=abs_centre
layer=buy_button_layer
textfont=verdana_13pt_regular
text=Buy
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78

// 1273:33
[items_button_layer]
type=layer
x=11
y=78
width=182
height=43
layer=universe_layer
transmitop1=yes
op1=Items
onop=script6163(0)
onmouserepeat=script8799("Buy runecrafting related rewards.", event_com, event_comsubid)

// 1273:34
[esteem_button_layer]
type=layer
x=11
y=116
width=182
height=43
layer=universe_layer
transmitop1=yes
op1=Esteem
onop=script6163(1)
onmouserepeat=script8799("Show off your achievements in the runespan with an esteem icon for your wicked robes.", event_com, event_comsubid)

// 1273:35
[recolour_button_layer]
type=layer
x=11
y=154
width=182
height=43
layer=universe_layer
transmitop1=yes
op1=Re-colour
onop=script6163(2)
onmouserepeat=script8799("Change the colour of your wicked robes.", event_com, event_comsubid)

// 1273:36
[confirm_layer_layer]
type=layer
width=735
height=503
ymode=abs_bottom
layer=universe_layer
hide=yes
noclickthrough=yes

// 1273:37
[confirm_layer]
type=layer
x=232
y=147
width=301
height=210
ymode=abs_bottom
layer=confirm_layer_layer

// 1273:38
[border_rect]
type=rectangle
widthmode=minus
heightmode=minus
layer=background_layer
colour=0x000000
fill=yes

// 1273:39
[background_colour]
type=rectangle
x=8
y=6
width=16
height=11
widthmode=minus
heightmode=minus
layer=background_layer
colour=0x0b1114
fill=yes

// 1273:40
[top_colour]
type=graphic
x=14
y=13
width=737
height=57
layer=background_layer
graphic="aif_runecrafting_pyramid_title,0"
colour=0xffffff
clickmask=no

// 1273:41
[bottom_pattern]
type=graphic
x=14
y=454
width=28
height=464
widthmode=minus
heightmode=minus
layer=background_layer
graphic=aif_fill_flourish_6
tiling=yes
colour=0xffffff
clickmask=no

// 1273:42
[corner_top_left]
type=graphic
x=8
y=6
width=38
height=38
layer=background_layer
graphic=aif_corner_flourish_1
2dangle=16384
colour=0xffffff
clickmask=no

// 1273:43
[corner_top_right]
type=graphic
x=8
y=6
width=38
height=38
xmode=abs_right
layer=background_layer
graphic=aif_corner_flourish_1
colour=0xffffff
clickmask=no

// 1273:44
[corner_bot_right]
type=graphic
x=8
y=4
width=38
height=38
xmode=abs_right
ymode=abs_bottom
layer=background_layer
graphic=aif_corner_flourish_1
2dangle=49152
colour=0xffffff
clickmask=no

// 1273:45
[corner_bot_left]
type=graphic
x=8
y=4
width=38
height=38
ymode=abs_bottom
layer=background_layer
graphic=aif_corner_flourish_1
2dangle=32768
colour=0xffffff
clickmask=no

// 1273:46
[edge_left]
type=graphic
x=8
y=44
width=7
height=417
layer=background_layer
graphic=aif_fill_flourish_2
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1273:47
[edge_left_trim]
type=graphic
x=189
y=71
width=7
height=427
layer=background_layer
graphic=aif_fill_flourish_2
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1273:48
[edge_right]
type=graphic
x=750
y=44
width=7
height=417
layer=background_layer
graphic=aif_fill_flourish_2
tiling=yes
colour=0xffffff
clickmask=no

// 1273:49
[edge_bot]
type=graphic
x=46
y=492
width=673
height=6
layer=background_layer
graphic=aif_fill_flourish_1
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 1273:50
[edge_top]
type=graphic
x=46
y=6
width=673
height=6
layer=background_layer
graphic=aif_fill_flourish_1
tiling=yes
colour=0xffffff
clickmask=no

// 1273:51
[edge_bot_trim]
type=graphic
x=14
y=450
width=737
height=6
layer=background_layer
graphic=aif_fill_flourish_1
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 1273:52
[edge_top_trim]
type=graphic
x=14
y=70
width=737
height=6
layer=background_layer
graphic=aif_fill_flourish_1
tiling=yes
vflip=yes
colour=0xffffff
clickmask=no

// 1273:53
[close_button_layer]
type=layer
x=10
y=10
width=19
height=17
xmode=abs_right
layer=background_layer
transmitop1=yes
op1=Close

// 1273:54
[window_1_close_button]
type=graphic
width=19
height=17
xmode=abs_right
layer=close_button_layer
graphic="intro_close_button,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "intro_close_button,1")
onmouseleave=graphic_swapper(event_com, "intro_close_button,0")

// 1273:55
[recolour_button_graphic]
type=graphic
width=182
height=43
layer=recolour_button_layer
graphic="aif_select_button_blue_1,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "aif_select_button_blue_1,1")
onmouseleave=graphic_swapper(event_com, "aif_select_button_blue_1,0")

// 1273:56
[recolour_button_icon]
type=graphic
x=4
width=42
height=42
layer=recolour_button_layer
graphic="aid_loyalty_catgry_icons,4"
colour=0xffffff
clickmask=no

// 1273:57
[recolour_button_text]
type=text
x=25
y=-1
width=25
widthmode=minus
heightmode=minus
xmode=abs_right
layer=recolour_button_layer
textfont=verdana_13pt_regular
text=Re-colour
textalignh=2
textalignv=1
textshadow=yes
colour=0xe6be78

// 1273:58
[esteem_button_graphic]
type=graphic
width=182
height=43
layer=esteem_button_layer
graphic="aif_select_button_blue_1,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "aif_select_button_blue_1,1")
onmouseleave=graphic_swapper(event_com, "aif_select_button_blue_1,0")

// 1273:59
[esteem_button_icon]
type=graphic
x=4
width=42
height=42
layer=esteem_button_layer
graphic="aif_runecrafting_prestige_icons_tga,9"
colour=0xffffff
clickmask=no

// 1273:60
[esteem_button_text]
type=text
x=25
y=-1
width=25
widthmode=minus
heightmode=minus
xmode=abs_right
layer=esteem_button_layer
textfont=verdana_13pt_regular
text=Esteem
textalignh=2
textalignv=1
textshadow=yes
colour=0xe6be78

// 1273:61
[items_button_graphic]
type=graphic
width=182
height=43
layer=items_button_layer
graphic="aif_select_button_blue_1,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "aif_select_button_blue_1,1")
onmouseleave=graphic_swapper(event_com, "aif_select_button_blue_1,0")

// 1273:62
[items_button_icon]
type=model
x=12
y=6
width=24
height=34
layer=items_button_layer
model=hooks3_magic_hood_inv
modelorigin_x=-1
modelorigin_y=16
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=614

// 1273:63
[items_button_text]
type=text
x=25
y=-1
width=25
widthmode=minus
heightmode=minus
xmode=abs_right
layer=items_button_layer
textfont=verdana_13pt_regular
text=Items
textalignh=2
textalignv=1
textshadow=yes
colour=0xe6be78

// 1273:64
[how_many_points_text]
type=text
x=2
width=67
height=32
layer=how_many_points_layer
textfont=verdana_13pt_regular
text=My Points:
textalignh=2
textalignv=1
textshadow=yes
colour=0xe6be78

// 1273:65
[how_many_points_number]
type=text
x=76
width=84
height=32
layer=how_many_points_layer
textfont=verdana_13pt_regular
text=2147000000
textalignv=1
textshadow=yes
colour=0xe6be78
onvarctransmit=script6161
onvarctransmitlist=rcsiphonxp_reward_points_client

// 1273:66
[cost_text]
type=text
x=3
width=39
height=32
layer=cost_layer
textfont=verdana_13pt_regular
text=Cost:
textalignh=2
textalignv=1
textshadow=yes
colour=0xe6be78

// 1273:67
[cost_number]
type=text
x=48
width=391
height=32
layer=cost_layer
textfont=verdana_13pt_regular
text=0
textalignv=1
textshadow=yes
colour=0xe6be78
onvartransmit=script6183
onvartransmitlist=rcsiphonxp_temp_shop_varp

// 1273:68
[recol_sel0]
type=layer
x=29
y=113
width=20
height=20
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 0)

// 1273:69
[recol_sel1]
type=layer
x=82
y=113
width=20
height=20
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 1)
onclick=script6182(event_com, 1)

// 1273:70
[recol_sel2]
type=layer
x=84
y=113
width=20
height=20
xmode=abs_right
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 2)

// 1273:71
[recol_sel3]
type=layer
x=31
y=113
width=20
height=20
xmode=abs_right
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 3)

// 1273:72
[recol_sel4]
type=layer
x=29
y=163
width=20
height=20
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 4)

// 1273:73
[recol_sel5]
type=layer
x=82
y=163
width=20
height=20
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 5)

// 1273:74
[recol_sel6]
type=layer
x=84
y=163
width=20
height=20
xmode=abs_right
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 6)

// 1273:75
[recol_sel7]
type=layer
x=31
y=163
width=20
height=20
xmode=abs_right
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 7)

// 1273:76
[recol_sel8]
type=layer
x=29
y=213
width=20
height=20
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 8)

// 1273:77
[recol_sel9]
type=layer
x=82
y=213
width=20
height=20
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 9)

// 1273:78
[recol_sel10]
type=layer
x=84
y=213
width=20
height=20
xmode=abs_right
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 10)

// 1273:79
[recol_sel11]
type=layer
x=31
y=213
width=20
height=20
xmode=abs_right
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 11)

// 1273:80
[recol_sel12]
type=layer
x=29
y=263
width=20
height=20
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 12)

// 1273:81
[recol_sel13]
type=layer
x=82
y=263
width=20
height=20
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 13)

// 1273:82
[recol_sel14]
type=layer
x=84
y=263
width=20
height=20
xmode=abs_right
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 14)

// 1273:83
[recol_sel15]
type=layer
x=31
y=263
width=20
height=20
xmode=abs_right
layer=recolour_buy_op_colour_pane
transmitop1=yes
op1=Select colour
onop=script6182(event_com, 15)

// 1273:84
[make_purchase_left]
type=graphic
width=40
height=30
layer=make_purchase_button_layer
graphic="aif_nav_button_3,0"
colour=0xffffff
clickmask=no

// 1273:85
[make_purchase_mid]
type=graphic
x=40
width=80
height=30
widthmode=minus
layer=make_purchase_button_layer
graphic="aif_nav_button_3,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1273:86
[make_purchase_right]
type=graphic
width=40
height=30
xmode=abs_right
layer=make_purchase_button_layer
graphic="aif_nav_button_3,2"
colour=0xffffff
clickmask=no

// 1273:87
[make_purchase_mouseover_layer]
type=layer
widthmode=minus
heightmode=minus
layer=make_purchase_button_layer
onmouseover=script5364(rcsiphonxp_shop:make_purchase_left_3, rcsiphonxp_shop:make_purchase_mid_3, rcsiphonxp_shop:make_purchase_right_3, 0)
onmouseleave=script5364(rcsiphonxp_shop:make_purchase_left_3, rcsiphonxp_shop:make_purchase_mid_3, rcsiphonxp_shop:make_purchase_right_3, 1)

// 1273:88
[make_purchase_left_3]
type=graphic
width=40
height=30
layer=make_purchase_mouseover_layer
graphic="aif_nav_button_3,3"
trans=255
colour=0xffffff
clickmask=no

// 1273:89
[make_purchase_mid_3]
type=graphic
x=40
width=80
height=30
widthmode=minus
layer=make_purchase_mouseover_layer
graphic="aif_nav_button_3,4"
tiling=yes
trans=255
colour=0xffffff
clickmask=no

// 1273:90
[make_purchase_right_3]
type=graphic
width=40
height=30
xmode=abs_right
layer=make_purchase_mouseover_layer
graphic="aif_nav_button_3,5"
trans=255
colour=0xffffff
clickmask=no

// 1273:91
[make_purchase_mouseclick_layer]
type=layer
widthmode=minus
heightmode=minus
layer=make_purchase_button_layer
onclick=script5361(rcsiphonxp_shop:make_purchase_left_4, rcsiphonxp_shop:make_purchase_mid_4, rcsiphonxp_shop:make_purchase_right_4, 0)
onrelease=script5361(rcsiphonxp_shop:make_purchase_left_4, rcsiphonxp_shop:make_purchase_mid_4, rcsiphonxp_shop:make_purchase_right_4, 1)

// 1273:92
[make_purchase_left_4]
type=graphic
width=40
height=30
layer=make_purchase_mouseclick_layer
graphic="aif_nav_button_3,6"
trans=255
colour=0xffffff
clickmask=no

// 1273:93
[make_purchase_mid_4]
type=graphic
x=40
width=80
height=30
widthmode=minus
layer=make_purchase_mouseclick_layer
graphic="aif_nav_button_3,7"
tiling=yes
trans=255
colour=0xffffff
clickmask=no

// 1273:94
[make_purchase_right_4]
type=graphic
width=40
height=30
xmode=abs_right
layer=make_purchase_mouseclick_layer
graphic="aif_nav_button_3,8"
trans=255
colour=0xffffff
clickmask=no

// 1273:95
[make_purchase_text]
type=text
widthmode=minus
heightmode=minus
layer=make_purchase_button_layer
textfont=verdana_13pt_regular
text=Buy
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78

// 1273:96
[cancel_purchase_left]
type=graphic
width=40
height=30
layer=cancel_purchase_button_layer
graphic="aif_nav_button_1,0"
colour=0xffffff
clickmask=no

// 1273:97
[cancel_purchase_mid]
type=graphic
x=40
width=80
height=30
widthmode=minus
layer=cancel_purchase_button_layer
graphic="aif_nav_button_1,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1273:98
[cancel_purchase_right]
type=graphic
width=40
height=30
xmode=abs_right
layer=cancel_purchase_button_layer
graphic="aif_nav_button_1,2"
colour=0xffffff
clickmask=no

// 1273:99
[cancel_purchase_mouseover_layer]
type=layer
widthmode=minus
heightmode=minus
layer=cancel_purchase_button_layer
onmouseover=script5364(rcsiphonxp_shop:cancel_purchase_left_2, rcsiphonxp_shop:cancel_purchase_mid_2, rcsiphonxp_shop:cancel_purchase_right_2, 0)
onmouseleave=script5364(rcsiphonxp_shop:cancel_purchase_left_2, rcsiphonxp_shop:cancel_purchase_mid_2, rcsiphonxp_shop:cancel_purchase_right_2, 1)

// 1273:100
[cancel_purchase_left_2]
type=graphic
width=40
height=30
layer=cancel_purchase_mouseover_layer
graphic="aif_nav_button_1,3"
trans=255
colour=0xffffff
clickmask=no

// 1273:101
[cancel_purchase_mid_2]
type=graphic
x=40
width=80
height=30
widthmode=minus
layer=cancel_purchase_mouseover_layer
graphic="aif_nav_button_1,4"
tiling=yes
trans=255
colour=0xffffff
clickmask=no

// 1273:102
[cancel_purchase_right_2]
type=graphic
width=40
height=30
xmode=abs_right
layer=cancel_purchase_mouseover_layer
graphic="aif_nav_button_1,5"
trans=255
colour=0xffffff
clickmask=no

// 1273:103
[cancel_purchase_mouseclick_layer]
type=layer
widthmode=minus
heightmode=minus
layer=cancel_purchase_button_layer
onclick=script5361(rcsiphonxp_shop:cancel_purchase_left_3, rcsiphonxp_shop:cancel_purchase_mid_3, rcsiphonxp_shop:cancel_purchase_right_3, 0)
onrelease=script5361(rcsiphonxp_shop:cancel_purchase_left_3, rcsiphonxp_shop:cancel_purchase_mid_3, rcsiphonxp_shop:cancel_purchase_right_3, 1)

// 1273:104
[cancel_purchase_left_3]
type=graphic
width=40
height=30
layer=cancel_purchase_mouseclick_layer
graphic="aif_nav_button_1,6"
trans=255
colour=0xffffff
clickmask=no

// 1273:105
[cancel_purchase_mid_3]
type=graphic
x=40
width=80
height=30
widthmode=minus
layer=cancel_purchase_mouseclick_layer
graphic="aif_nav_button_1,7"
tiling=yes
trans=255
colour=0xffffff
clickmask=no

// 1273:106
[cancel_purchase_right_3]
type=graphic
width=40
height=30
xmode=abs_right
layer=cancel_purchase_mouseclick_layer
graphic="aif_nav_button_1,8"
trans=255
colour=0xffffff
clickmask=no

// 1273:107
[cancel_purchase_text]
type=text
widthmode=minus
heightmode=minus
layer=cancel_purchase_button_layer
textfont=verdana_13pt_regular
text=Cancel
textalignh=1
textalignv=1
textshadow=yes
colour=0xe6be78

