// 1274:0
[points_layer]
type=layer
height=38
widthmode=minus
xmode=abs_right
layer=iconspace_layer

// 1274:1
[inventory_icon]
type=graphic
x=5
width=37
height=37
ymode=abs_centre
layer=inventory_layer
graphic="aif_runecrafting_overlay_icons,1"
colour=0xffffff
clickmask=no
onload=script2918("Points currently held in inventory.", event_com, event_comsubid)

// 1274:2
[inventory_points_amount]
type=text
width=100
height=32
xmode=abs_right
ymode=abs_centre
layer=inventory_layer
textfont=museo_sans_11pt_regular
text=33123456
textalignv=1
textshadow=yes

// 1274:3
[points_icon]
type=graphic
x=5
width=37
height=37
ymode=abs_centre
layer=points_layer
graphic="aif_runecrafting_overlay_icons,0"
colour=0xffffff
clickmask=no
onload=script2918("Current point total.", event_com, event_comsubid)

// 1274:4
[universe_layer]
type=layer
widthmode=minus
heightmode=minus

// 1274:5
[points_amount]
type=text
width=100
height=32
xmode=abs_right
ymode=abs_centre
layer=points_layer
textfont=museo_sans_11pt_regular
text=33123456
textalignv=1
textshadow=yes

// 1274:6
[iconspace_layer]
type=layer
y=5
width=150
height=200
layer=universe_layer
onload=script6158
onvarctransmit=script6158
onvarctransmitlist=rcsiphonxp_reward_points_client,rcsiphonxp_carried_points_client,rcsiphonxp_current_floor_client,rcsiphonxp_runesphere_active_client,rcsiphonxp_runesphere_type_client

// 1274:7
[inventory_layer]
type=layer
y=43
height=39
widthmode=minus
xmode=abs_right
layer=iconspace_layer

// 1274:8
[floor_icon_layer]
type=layer
x=5
y=82
width=37
height=37
layer=iconspace_layer
onload=script7684(event_com)

// 1274:9
[floor_icon]
type=graphic
width=37
height=37
layer=floor_icon_layer
graphic="aif_runecrafting_overlay_icons,3"
colour=0xffffff
clickmask=no

// 1274:10
[runesphere]
type=layer
x=5
y=120
width=37
height=37
layer=iconspace_layer
hide=yes
onload=script2918("Runesphere Active!", event_com, event_comsubid)

// 1274:11
[wizard_icon_layer]
type=layer
x=5
y=158
width=37
height=37
layer=iconspace_layer
hide=yes
onload=script2918("A wizard is calling you!", event_com, event_comsubid)

// 1274:12
[wizard_icon]
type=graphic
widthmode=minus
heightmode=minus
layer=wizard_icon_layer
graphic="aif_runecrafting_overlay_icons,7"
alpha=yes
outline=1
colour=0xffffff
clickmask=no

// 1274:13
[runesphere_icon]
type=graphic
width=37
height=37
layer=runesphere
graphic="aif_runecrafting_overlay_icons,2"
colour=0xffffff
clickmask=no

// 1274:14
[runesphere_type]
type=graphic
x=11
y=11
width=16
height=16
xmode=abs_right
layer=runesphere
alpha=yes
outline=1
colour=0xffffff
clickmask=no

