// 1875:0
[progress_value_graphic_layer]
type=layer
widthmode=minus
heightmode=minus
layer=progress_value_boundary_edges

// 1875:1
[progress_background_layer_1]
type=layer
y=50
height=50
widthmode=minus
heightmode=minus
layer=progress_layer_1

// 1875:2
[com_2]
type=graphic
widthmode=minus
heightmode=minus
layer=progress_1_text_layer
graphic=menaphos_global_reputation_title
colour=0xffffff
clickmask=no
onload=script11654(event_com, event_comsubid)

// 1875:3
[com_3]
type=graphic
width=24
heightmode=minus
xmode=abs_centre
layer=progress_background_layer_1
graphic=menaphos_progress_bar_back_global
colour=0xffffff
clickmask=no

// 1875:4
[com_4]
type=graphic
widthmode=minus
heightmode=minus
layer=side_graphic_layer
graphic=menaphos_parent_reputation_illustration
colour=0xffffff
clickmask=no

// 1875:5
[side_graphic_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=side_graphic_layer

// 1875:6
[backlight_imperial]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_imperial_graphic

// 1875:7
[backlight_worker]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker_graphic

// 1875:8
[backlight_worker_text]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker_graphic

// 1875:9
[backlight_merchant]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant_graphic

// 1875:10
[backlight_ports]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports_graphic

// 1875:11
[backlight_imperial_text]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_imperial_graphic

// 1875:12
[circular_bar_layer_imperial]
type=layer
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_imperial_graphic
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script13307(event_com, repmodal:q0_mask_layer_3, repmodal:q1_mask_layer_3, repmodal:q2_mask_layer_3, repmodal:q3_mask_layer_3, menaphos_progress_radial_imperial, 32, 24, 4000)
onmouserepeat=script3583(event_com, 2)

// 1875:13
[circular_bar_layer_imperial_favourite]
type=layer
x=3
y=3
width=25
height=25
xmode=abs_right
layer=circular_bar_layer_imperial_graphic
transmitop1=yes
op1=Change selected faction
onmouseover=cc_settrans(event_com, 0, 80)
onmouseleave=cc_settrans(event_com, 0, 0)
onmouserepeat=script3876("Change Selected Faction", event_com, -1)

// 1875:14
[circular_bar_layer_ports]
type=layer
width=128
height=128
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports_graphic
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script13307(event_com, repmodal:q0_mask_layer_2, repmodal:q1_mask_layer_2, repmodal:q2_mask_layer_2, repmodal:q3_mask_layer_2, menaphos_progress_radial_ports, 32, 23, 4000)
onmouserepeat=script3583(event_com, 4)

// 1875:15
[backlight_ports_text]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports_graphic

// 1875:16
[circular_bar_layer_ports_favourite]
type=layer
x=3
y=3
width=25
height=25
xmode=abs_right
layer=circular_bar_layer_ports_graphic
transmitop1=yes
op1=Change selected faction
onmouseover=cc_settrans(event_com, 0, 80)
onmouseleave=cc_settrans(event_com, 0, 0)
onmouserepeat=script3876("Change Selected Faction", event_com, -1)

// 1875:17
[circular_bar_layer_worker]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker_graphic
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script13307(event_com, repmodal:q0_mask_layer, repmodal:q1_mask_layer, repmodal:q2_mask_layer, repmodal:q3_mask_layer, menaphos_progress_radial_worker, 32, 22, 4000)
onmouserepeat=script3583(event_com, 1)

// 1875:18
[circular_bar_layer_worker_favourite]
type=layer
x=3
y=3
width=25
height=25
xmode=abs_right
layer=circular_bar_layer_worker_graphic
transmitop1=yes
op1=Change selected faction
onmouseover=cc_settrans(event_com, 0, 80)
onmouseleave=cc_settrans(event_com, 0, 0)
onmouserepeat=script3876("Change Selected Faction", event_com, -1)

// 1875:19
[circular_bar_layer_merchant]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant_graphic
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script13307(event_com, repmodal:q0_mask_layer_1, repmodal:q1_mask_layer_1, repmodal:q2_mask_layer_1, repmodal:q3_mask_layer_1, menaphos_progress_radial_merchant, 32, 25, 4000)
onmouserepeat=script3583(event_com, 3)

// 1875:20
[backlight_merchant_text]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant_graphic

// 1875:21
[circular_bar_layer_merchant_favourite]
type=layer
x=3
y=3
width=25
height=25
xmode=abs_right
layer=circular_bar_layer_merchant_graphic
transmitop1=yes
op1=Change selected faction
onmouseover=cc_settrans(event_com, 0, 80)
onmouseleave=cc_settrans(event_com, 0, 0)
onmouserepeat=script3876("Change Selected Faction", event_com, -1)

// 1875:22
[generic_info_layer]
type=layer
y=7
width=624
height=440
ymode=abs_centre
layer=mainmodal_window_content
onload=script13436(5)

// 1875:23
[royal_info_layer]
type=layer
y=7
width=622
height=441
ymode=abs_centre
layer=mainmodal_window_content
onload=script13436(2)

// 1875:24
[merchant_info_layer]
type=layer
y=7
width=662
height=440
ymode=abs_centre
layer=mainmodal_window_content
onload=script13436(3)

// 1875:25
[slave_info_layer]
type=layer
y=7
width=662
height=440
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
onload=script13436(1)

// 1875:26
[sailor_info_layer]
type=layer
y=5
width=662
height=436
ymode=abs_centre
layer=mainmodal_window_content
onload=script13436(4)

// 1875:27
[progress_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1875:28
[circular_bar_layer_imperial_graphic]
type=layer
x=16
width=160
height=240
layer=mainmodal_window_content

// 1875:29
[circular_bar_layer_ports_graphic]
type=layer
x=192
width=160
height=240
layer=mainmodal_window_content

// 1875:30
[com_30]
type=graphic
y=-20
width=47
height=47
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_imperial
graphic=menaphos_icon_faction_imperial_47px
colour=0xffffff
clickmask=no

// 1875:31
[circular_bar_layer_merchant_graphic]
type=layer
x=16
y=206
width=160
height=240
layer=mainmodal_window_content

// 1875:32
[circular_bar_layer_worker_graphic]
type=layer
x=192
y=206
width=160
height=240
layer=mainmodal_window_content

// 1875:33
[circular_bar_layer_imperial_graphic_secondary]
type=layer
x=16
width=160
height=250
layer=mainmodal_window_content

// 1875:34
[circular_bar_layer_ports_graphic_secondary]
type=layer
x=16
width=160
height=250
layer=mainmodal_window_content

// 1875:35
[circular_bar_layer_merchant_graphic_secondary]
type=layer
x=16
width=160
height=250
layer=mainmodal_window_content

// 1875:36
[circular_bar_layer_worker_graphic_secondary]
type=layer
x=16
width=160
height=250
layer=mainmodal_window_content

// 1875:37
[com_37]
type=graphic
y=-20
width=47
height=47
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports
graphic=menaphos_icon_faction_port_47px
colour=0xffffff
clickmask=no

// 1875:38
[com_38]
type=graphic
y=-20
width=47
height=47
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker
graphic=menaphos_icon_faction_worker_47px
colour=0xffffff
clickmask=no

// 1875:39
[com_39]
type=graphic
y=-20
width=47
height=47
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant
graphic=menaphos_icon_faction_merchant_47px
colour=0xffffff
clickmask=no

// 1875:40
[com_40]
type=graphic
y=-20
width=47
height=47
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_imperial_secondary
graphic=menaphos_icon_faction_imperial_47px
colour=0xffffff
clickmask=no

// 1875:41
[com_41]
type=graphic
y=-20
width=47
height=47
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports_secondary
graphic=menaphos_icon_faction_port_47px
colour=0xffffff
clickmask=no

// 1875:42
[com_42]
type=graphic
y=-18
width=47
height=47
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant_secondary
graphic=menaphos_icon_faction_merchant_47px
colour=0xffffff
clickmask=no

// 1875:43
[com_43]
type=graphic
y=-19
width=47
height=47
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker_secondary
graphic=menaphos_icon_faction_worker_47px
colour=0xffffff
clickmask=no

// 1875:44
[q0_mask_layer_secondary]
type=layer
x=32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker_secondary

// 1875:45
[q1_mask_layer_secondary]
type=layer
x=32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker_secondary

// 1875:46
[q2_mask_layer_secondary]
type=layer
x=-32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker_secondary

// 1875:47
[q3_mask_layer_secondary]
type=layer
x=-32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker_secondary

// 1875:48
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus

// 1875:49
[mainmodal_window_background]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1875:50
[mainmodal_window_content]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1875:51
[side_graphic_layer]
type=layer
x=366
width=197
heightmode=minus
layer=mainmodal_window_content

// 1875:52
[progress_layer_1]
type=layer
x=16
width=150
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 1875:53
[faction_favourite_layer]
type=layer
x=16
width=325
height=40
xmode=abs_right
layer=mainmodal_window_content
transmitop1=yes
op1=Change selected faction
onmouseover=cc_settrans(event_com, 1, 80)
onmouseleave=cc_settrans(event_com, 1, 0)

// 1875:54
[faction_reward_text]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1875:55
[faction_current_reputation_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1875:56
[faction_image_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1875:57
[faction_title_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1875:58
[faction_leader_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1875:59
[faction_description_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1875:60
[faction_description_text_scroll]
type=layer
widthmode=minus
heightmode=minus
layer=faction_description_layer

// 1875:61
[faction_description_text_scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=faction_description_layer

// 1875:62
[faction_description_text]
type=text
widthmode=minus
heightmode=minus
layer=faction_description_text_scroll
textfont=notosans_12
textshadow=yes

// 1875:63
[mobile_information_box]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
hide=yes

// 1875:64
[com_64]
type=rectangle
widthmode=minus
heightmode=minus
layer=mobile_information_box
colour=0x000000
fill=yes
trans=150
onclick=script8428

// 1875:65
[mobile_frame]
type=layer
width=365
height=300
xmode=abs_centre
ymode=abs_centre
layer=mobile_information_box

// 1875:66
[content_panel_tabbed]
type=layer
widthmode=minus
heightmode=minus
layer=mobile_frame
onload=script10896(event_com, null, rs3tli_content_panel)

// 1875:67
[close_button]
type=layer
y=5
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mobile_frame
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Close")
onop=script8428

// 1875:68
[mobile_info_name]
type=text
x=7
height=30
widthmode=minus
xmode=proportion_left
layer=mobile_frame
textfont=cinzel_13pt_bold
text=Object Text
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1875:69
[mobile_info_unlock1]
type=text
y=70
height=30
widthmode=minus
xmode=abs_centre
layer=mobile_frame
textfont=museo_sans_13pt_regular
text=Unlocked at : 
textalignh=1
textalignv=1
textshadow=yes

// 1875:70
[mobile_info_unlock2]
type=text
y=100
height=30
widthmode=minus
xmode=abs_centre
layer=mobile_frame
textfont=museo_sans_13pt_regular
text=Unlocked at :
textalignh=1
textalignv=1
textshadow=yes

// 1875:71
[mobile_info_text]
type=text
y=130
width=10
height=130
widthmode=minus
xmode=abs_centre
layer=mobile_frame
textfont=museo_sans_13pt_regular
text=Unlocked at :
textalignh=1
textalignv=1
textshadow=yes

// 1875:72
[mobile_info_object]
type=graphic
y=36
width=36
height=32
xmode=abs_centre
layer=mobile_frame
colour=0xffffff
clickmask=no

// 1875:73
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1875:74
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
hide=yes
transmitop1=yes
op1=Close
onop=closebutton_click

// 1875:75
[progress_background_layer]
type=layer
y=60
width=32
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=progress_layer

// 1875:76
[com_76]
type=graphic
height=25
widthmode=minus
ymode=abs_centre
layer=progress_background_layer
graphic=menaphos_progress_bar_back_faction
colour=0xffffff
clickmask=no

// 1875:77
[progress_layer_main]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=progress_layer

// 1875:78
[progress_join_layer]
type=layer
y=60
width=32
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=progress_layer_main

// 1875:79
[progress_rewards_layer]
type=layer
x=15
width=30
height=50
widthmode=minus
ymode=abs_bottom
layer=progress_layer_main

// 1875:80
[progress_text_layer]
type=layer
x=16
y=50
width=32
height=20
widthmode=minus
ymode=abs_bottom
layer=progress_layer_main

// 1875:81
[progress_value_bounds_layer]
type=layer
y=60
width=32
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=progress_layer_main

// 1875:82
[progress_value_boundary_edges]
type=layer
x=3
y=3
width=6
height=6
widthmode=minus
heightmode=minus
layer=progress_value_bounds_layer

// 1875:83
[progress_join_bar_layer]
type=layer
x=16
y=60
width=32
height=25
widthmode=minus
ymode=abs_bottom
layer=progress_layer_main
hide=yes

// 1875:84
[progress_bar_green_join_bottom_1]
type=graphic
x=64
width=3
height=30
layer=progress_join_bar_layer
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:85
[progress_bar_green_join_bottom_2]
type=graphic
x=124
width=3
height=30
layer=progress_join_bar_layer
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:86
[progress_bar_green_join_bottom_3]
type=graphic
x=184
width=3
height=30
layer=progress_join_bar_layer
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:87
[progress_bar_green_join_bottom_4]
type=graphic
x=244
width=3
height=30
layer=progress_join_bar_layer
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:88
[progress_bar_green_join_bottom_5]
type=graphic
x=304
width=3
height=30
layer=progress_join_bar_layer
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:89
[progress_bar_green_join_bottom_6]
type=graphic
x=364
width=3
height=30
layer=progress_join_bar_layer
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:90
[progress_bar_green_join_bottom_7]
type=graphic
x=424
width=3
height=30
layer=progress_join_bar_layer
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:91
[progress_bar_green_join_bottom_8]
type=graphic
x=484
width=3
height=30
layer=progress_join_bar_layer
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:92
[progress_bar_green_join_bottom_9]
type=graphic
x=544
width=3
height=30
layer=progress_join_bar_layer
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:93
[progress_bar_green_join_bottom_10]
type=graphic
x=604
width=3
height=30
layer=progress_join_bar_layer
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:94
[progress_layer_main_1]
type=layer
widthmode=minus
heightmode=minus
layer=progress_layer_1

// 1875:95
[progress_1_text_layer]
type=layer
height=38
widthmode=minus
layer=progress_layer_1

// 1875:96
[progress_rewards_layer_1]
type=layer
y=50
height=50
widthmode=minus
heightmode=minus
layer=progress_layer_main_1

// 1875:97
[progress_join_bar_layer_1]
type=layer
y=50
width=24
height=50
heightmode=minus
xmode=abs_centre
layer=progress_layer_main_1

// 1875:98
[progress_bar_green_join_bottom_11]
type=graphic
x=64
width=3
height=30
layer=progress_join_bar_layer_1
hide=yes
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:99
[progress_bar_green_join_bottom_12]
type=graphic
x=124
width=3
height=1
layer=progress_join_bar_layer_1
hide=yes
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:100
[progress_bar_green_join_bottom_13]
type=graphic
x=184
width=3
height=1
layer=progress_join_bar_layer_1
hide=yes
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:101
[progress_bar_green_join_bottom_14]
type=graphic
x=244
width=3
height=1
layer=progress_join_bar_layer_1
hide=yes
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:102
[progress_bar_green_join_bottom_15]
type=graphic
x=304
width=3
height=1
layer=progress_join_bar_layer_1
hide=yes
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:103
[progress_bar_green_join_bottom_16]
type=graphic
x=364
width=3
height=1
layer=progress_join_bar_layer_1
hide=yes
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:104
[progress_bar_green_join_bottom_17]
type=graphic
x=424
width=3
height=19
layer=progress_join_bar_layer_1
hide=yes
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:105
[progress_bar_green_join_bottom_18]
type=graphic
x=484
width=3
height=1
layer=progress_join_bar_layer_1
hide=yes
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:106
[progress_bar_green_join_bottom_19]
type=graphic
x=544
width=3
height=1
layer=progress_join_bar_layer_1
hide=yes
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:107
[progress_bar_green_join_bottom_20]
type=graphic
x=604
width=3
height=1
layer=progress_join_bar_layer_1
hide=yes
graphic="trh72_progress_bar_join,0"
colour=0xffffff
clickmask=no

// 1875:108
[progress_value_bounds_layer_1]
type=layer
y=50
width=24
height=50
heightmode=minus
xmode=abs_centre
layer=progress_layer_main_1

// 1875:109
[progress_join_layer_1]
type=layer
y=50
width=24
height=50
heightmode=minus
xmode=abs_centre
layer=progress_layer_main_1

// 1875:110
[progress_value_graphic_layer_1]
type=layer
x=3
y=3
width=6
height=6
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=progress_value_bounds_layer_1

// 1875:111
[q0_mask_layer]
type=layer
x=32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker

// 1875:112
[q1_mask_layer]
type=layer
x=32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker

// 1875:113
[q2_mask_layer]
type=layer
x=-32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker

// 1875:114
[q3_mask_layer]
type=layer
x=-32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker

// 1875:115
[q0_mask_layer_1]
type=layer
x=32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant

// 1875:116
[q1_mask_layer_1]
type=layer
x=32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant

// 1875:117
[q2_mask_layer_1]
type=layer
x=-32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant

// 1875:118
[q3_mask_layer_1]
type=layer
x=-32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant

// 1875:119
[q0_mask_layer_2]
type=layer
x=32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports

// 1875:120
[q1_mask_layer_2]
type=layer
x=32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports

// 1875:121
[q2_mask_layer_2]
type=layer
x=-32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports

// 1875:122
[q3_mask_layer_2]
type=layer
x=-32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports

// 1875:123
[q0_mask_layer_3]
type=layer
width=50
height=50
xmode=abs_right
layer=circular_bar_layer_imperial

// 1875:124
[q1_mask_layer_3]
type=layer
width=50
height=50
xmode=abs_right
ymode=abs_bottom
layer=circular_bar_layer_imperial

// 1875:125
[q2_mask_layer_3]
type=layer
width=50
height=50
ymode=abs_bottom
layer=circular_bar_layer_imperial

// 1875:126
[q3_mask_layer_3]
type=layer
width=50
height=50
layer=circular_bar_layer_imperial

// 1875:127
[q0_mask_layer_1_secondary]
type=layer
x=32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant_secondary

// 1875:128
[q1_mask_layer_1_secondary]
type=layer
x=32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant_secondary

// 1875:129
[q2_mask_layer_1_secondary]
type=layer
x=-32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant_secondary

// 1875:130
[q3_mask_layer_1_secondary]
type=layer
x=-32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant_secondary

// 1875:131
[q0_mask_layer_2_secondary]
type=layer
x=32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports_secondary

// 1875:132
[q1_mask_layer_2_secondary]
type=layer
x=32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports_secondary

// 1875:133
[q2_mask_layer_2_secondary]
type=layer
x=-32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports_secondary

// 1875:134
[q3_mask_layer_2_secondary]
type=layer
x=-32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports_secondary

// 1875:135
[q0_mask_layer_3_secondary]
type=layer
x=32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_imperial_secondary

// 1875:136
[q1_mask_layer_3_secondary]
type=layer
x=32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_imperial_secondary

// 1875:137
[q2_mask_layer_3_secondary]
type=layer
x=-32
y=32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_imperial_secondary

// 1875:138
[q3_mask_layer_3_secondary]
type=layer
x=-32
y=-32
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_imperial_secondary

// 1875:139
[backlight_worker_secondary]
type=layer
width=300
height=158
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker_graphic_secondary

// 1875:140
[backlight_worker_text_secondary]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker_graphic_secondary

// 1875:141
[circular_bar_layer_worker_secondary]
type=layer
width=128
height=128
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_worker_graphic_secondary
onload=script13307(event_com, repmodal:q0_mask_layer_secondary, repmodal:q1_mask_layer_secondary, repmodal:q2_mask_layer_secondary, repmodal:q3_mask_layer_secondary, menaphos_progress_radial_worker, 32, 22, 4000)
onmouserepeat=script3583(event_com, 1)

// 1875:142
[backlight_imperial_secondary]
type=layer
width=300
height=158
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_imperial_graphic_secondary

// 1875:143
[backlight_imperial_text_secondary]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_imperial_graphic_secondary

// 1875:144
[circular_bar_layer_imperial_secondary]
type=layer
width=128
height=128
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_imperial_graphic_secondary
onload=script13307(event_com, repmodal:q0_mask_layer_3_secondary, repmodal:q1_mask_layer_3_secondary, repmodal:q2_mask_layer_3_secondary, repmodal:q3_mask_layer_3_secondary, menaphos_progress_radial_imperial, 32, 24, 4000)
onmouserepeat=script3583(event_com, 2)

// 1875:145
[backlight_ports_secondary]
type=layer
width=300
height=158
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports_graphic_secondary

// 1875:146
[backlight_ports_text_secondary]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports_graphic_secondary

// 1875:147
[circular_bar_layer_ports_secondary]
type=layer
width=128
height=128
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_ports_graphic_secondary
onload=script13307(event_com, repmodal:q0_mask_layer_2_secondary, repmodal:q1_mask_layer_2_secondary, repmodal:q2_mask_layer_2_secondary, repmodal:q3_mask_layer_2_secondary, menaphos_progress_radial_ports, 32, 23, 4000)
onmouserepeat=script3583(event_com, 4)

// 1875:148
[backlight_merchant_secondary]
type=layer
width=300
height=158
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant_graphic_secondary

// 1875:149
[backlight_merchant_text_secondary]
type=layer
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant_graphic_secondary

// 1875:150
[circular_bar_layer_merchant_secondary]
type=layer
width=128
height=128
xmode=abs_centre
ymode=abs_centre
layer=circular_bar_layer_merchant_graphic_secondary
onload=script13307(event_com, repmodal:q0_mask_layer_1_secondary, repmodal:q1_mask_layer_1_secondary, repmodal:q2_mask_layer_1_secondary, repmodal:q3_mask_layer_1_secondary, menaphos_progress_radial_merchant, 32, 25, 4000)
onmouserepeat=script3583(event_com, 3)

