// 598:0
[reputation_overlay]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=rep_interface

// 598:1
[overlay_window_close_button]
type=layer
widthmode=minus
heightmode=minus
layer=reputation_overlay
hide=yes

// 598:2
[overlay_window_background]
type=layer
x=4
y=2
width=8
height=4
widthmode=minus
heightmode=minus
layer=reputation_overlay
onload=script11033(repoverlay_farming:overlay_window_background, repoverlay_farming:overlay_window_border, repoverlay_farming:overlay_window_content, null, "", 30498, struct_1005, string_33700)

// 598:3
[overlay_window_content]
type=layer
x=8
y=4
width=16
height=8
widthmode=minus
heightmode=minus
layer=reputation_overlay

// 598:4
[reputation_layer]
type=layer
widthmode=minus
heightmode=minus
layer=overlay_window_content

// 598:5
[rank_text]
type=text
x=48
y=18
width=48
height=38
widthmode=minus
layer=reputation_layer
textfont=museo_sans_13pt_regular
text=Amateur farmer 
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
onvartransmit=script3581(6, event_com)

// 598:6
[overlay_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=reputation_overlay

// 598:7
[overlay_drag_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reputation_overlay
hide=yes

// 598:8
[rep_interface]
type=layer
width=200
height=100

// 598:9
[drop_close_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rep_interface
hide=yes

// 598:10
[reputation_farming_click_layer]
type=layer
y=12
width=48
height=48
layer=reputation_layer
onmouserepeat=reputation_tooltip("Farming Guild", event_com, string_6)

// 598:11
[reputation_farming_icon]
type=graphic
y=10
width=48
height=48
layer=reputation_layer
graphic=skill_farming_silver
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Open Reputation Overview
onmouseleave=graphic_swapper(event_com, skill_farming_silver)
onmouserepeat=graphic_swapper(event_com, skill_farming)

// 598:12
[reputation_farming_progress_layer_4]
type=layer
x=48
y=12
width=136
height=10
layer=reputation_layer
onvartransmit=script3580(6, event_com, repoverlay_farming:reputation_farming_bar_mask_layer_4)
onmouserepeat=script3583(event_com, 6)
onvartransmitlist=farming_reputation

// 598:13
[reputation_progress_back_global_0]
type=graphic
width=10
height=10
ymode=abs_centre
layer=reputation_farming_progress_layer_4
graphic="menaphos_progress_bar_small_back,0"
colour=0xffffff
clickmask=no

// 598:14
[reputation_progress_back_global_2]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_centre
layer=reputation_farming_progress_layer_4
graphic="menaphos_progress_bar_small_back,2"
tiling=yes
colour=0xffffff
clickmask=no

// 598:15
[reputation_progress_back_global_1]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reputation_farming_progress_layer_4
graphic="menaphos_progress_bar_small_back,1"
tiling=yes
colour=0xffffff
clickmask=no

// 598:16
[reputation_farming_bar_mask_layer_4]
type=layer
x=2
width=132
height=4
heightmode=minus
ymode=abs_centre
layer=reputation_farming_progress_layer_4

// 598:17
[reputation_progress_bar_global_0]
type=graphic
width=6
height=6
ymode=abs_centre
layer=reputation_farming_bar_mask_layer_4
graphic="menaphos_progress_bar_small,0"
colour=0xffffff
clickmask=no

// 598:18
[reputation_progress_bar_global_1]
type=graphic
width=12
height=6
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reputation_farming_bar_mask_layer_4
graphic="menaphos_progress_bar_small,1"
tiling=yes
colour=0xffffff
clickmask=no

// 598:19
[reputation_progress_bar_global_2]
type=graphic
width=6
height=6
xmode=abs_right
ymode=abs_centre
layer=reputation_farming_bar_mask_layer_4
graphic="menaphos_progress_bar_small,2"
colour=0xffffff
clickmask=no

// 598:20
[request_button]
type=layer
y=2
width=160
height=24
xmode=abs_centre
ymode=abs_bottom
layer=overlay_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Farming Requests")

// 598:21
[resources_layer]
type=layer
y=80
width=8
height=80
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=overlay_window_content
hide=yes
noclickthrough=yes

// 598:22
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=resources_layer

// 598:23
[resources_drop_background]
type=layer
x=2
y=2
width=4
height=4
widthmode=minus
heightmode=minus
layer=content_panel_blue

// 598:24
[hard_section]
type=layer
y=175
height=85
widthmode=minus
layer=content_panel_blue

// 598:25
[med_section]
type=layer
y=90
height=85
widthmode=minus
layer=content_panel_blue

// 598:26
[easy_section]
type=layer
y=5
height=85
widthmode=minus
layer=content_panel_blue

// 598:27
[easy_reward]
type=graphic
x=5
width=36
height=32
xmode=abs_right
ymode=abs_centre
layer=easy_section
colour=0xffffff
clickmask=no

// 598:28
[easy_npc_chathead_layer]
type=layer
x=5
width=64
height=64
ymode=abs_centre
layer=easy_section

// 598:29
[easy_npc_chathead]
type=model
widthmode=minus
heightmode=minus
layer=easy_npc_chathead_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3200
modelobjwidth=64
modelobjheight=64

// 598:30
[com_30]
type=line
x=46
height=30
xmode=abs_right
ymode=abs_centre
layer=easy_section
colour=0xffffff

// 598:31
[easy_title]
type=text
width=154
height=18
xmode=abs_centre
layer=easy_section
textfont=cinzel_13pt_bold
text=Easy
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 598:32
[easy_seeds]
type=graphic
x=74
width=36
height=32
ymode=abs_centre
layer=easy_section
graphic="aif_pop_exp_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 598:33
[easy_animal]
type=graphic
x=120
width=36
height=32
ymode=abs_centre
layer=easy_section
graphic="aif_pop_exp_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 598:34
[easy_animal_text]
type=text
x=166
y=29
width=125
height=63
layer=easy_section
textfont=museo_sans_11pt_regular_multiline
text=A green chinchompa
textshadow=yes

// 598:35
[med_reward]
type=graphic
x=5
width=36
height=32
xmode=abs_right
ymode=abs_centre
layer=med_section
colour=0xffffff
clickmask=no

// 598:36
[med_npc_chathead_layer]
type=layer
x=5
width=64
height=64
ymode=abs_centre
layer=med_section

// 598:37
[med_npc_chathead]
type=model
widthmode=minus
heightmode=minus
layer=med_npc_chathead_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3200
modelobjwidth=64
modelobjheight=64

// 598:38
[com_38]
type=line
x=46
height=30
xmode=abs_right
ymode=abs_centre
layer=med_section
colour=0xffffff

// 598:39
[med_title]
type=text
width=154
height=18
xmode=abs_centre
layer=med_section
textfont=cinzel_13pt_bold
text=Medium
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 598:40
[med_seeds]
type=graphic
x=74
y=18
width=36
height=32
ymode=abs_centre
layer=med_section
graphic="aif_pop_exp_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 598:41
[med_produce]
type=graphic
x=74
y=-18
width=36
height=32
ymode=abs_centre
layer=med_section
graphic="aif_pop_exp_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 598:42
[med_animal]
type=graphic
x=120
width=36
height=32
ymode=abs_centre
layer=med_section
graphic="aif_pop_exp_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 598:43
[med_animal_text]
type=text
x=166
y=29
width=125
height=63
layer=med_section
textfont=museo_sans_11pt_regular_multiline
text=A green chinchompa
textshadow=yes

// 598:44
[hard_reward]
type=graphic
x=5
width=36
height=32
xmode=abs_right
ymode=abs_centre
layer=hard_section
colour=0xffffff
clickmask=no

// 598:45
[hard_npc_chathead_layer]
type=layer
x=5
width=64
height=64
ymode=abs_centre
layer=hard_section

// 598:46
[hard_npc_chathead]
type=model
widthmode=minus
heightmode=minus
layer=hard_npc_chathead_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3200
modelobjwidth=64
modelobjheight=64

// 598:47
[com_47]
type=line
x=46
height=30
xmode=abs_right
ymode=abs_centre
layer=hard_section
colour=0xffffff

// 598:48
[hard_title]
type=text
width=154
height=18
xmode=abs_centre
layer=hard_section
textfont=cinzel_13pt_bold
text=Hard
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 598:49
[hard_seeds]
type=graphic
x=74
y=18
width=36
height=32
ymode=abs_centre
layer=hard_section
graphic="aif_pop_exp_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 598:50
[hard_produce]
type=graphic
x=74
y=-18
width=36
height=32
ymode=abs_centre
layer=hard_section
graphic="aif_pop_exp_cargo_icons_34x34,0"
colour=0xffffff
clickmask=no

// 598:51
[hard_animal]
type=graphic
x=120
width=36
height=32
ymode=abs_centre
layer=hard_section
graphic="aif_pop_exp_cargo_icons_34x34,1"
colour=0xffffff
clickmask=no

// 598:52
[hard_animal_text]
type=text
x=166
y=29
width=125
height=63
layer=hard_section
textfont=museo_sans_11pt_regular_multiline
text=A green chinchompa
textshadow=yes

