// 583:0
[universe]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
onload=script8420(report_choices_category_v2:window_background, report_choices_category_v2:window_border, report_choices_category_v2:window_content, report_choices_category_v2:window_close_button, "Report", 21218, string_1040)

// 583:1
[window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=universe

// 583:2
[window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=universe

// 583:3
[close_bugreporter]
type=layer
x=5
width=32
height=32
layer=window_content
transmitop1=yes
opkey1=0,13,0
op1=Select
opcursor0=cursor_use

// 583:4
[com_4]
type=graphic
width=32
height=32
layer=close_bugreporter
graphic="rs3_icon_direction_left_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_icon_arrow_left)

// 583:5
[bug_report_top_issues]
type=layer
widthmode=minus
heightmode=minus
layer=window_content
hide=yes

// 583:6
[com_6]
type=text
y=10
width=20
height=18
widthmode=minus
xmode=abs_centre
layer=bug_report_top_issues
textfont=cinzel_15pt_bold
text=Top  Known  Issues
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 583:7
[text_container]
type=layer
y=35
width=20
height=210
widthmode=minus
xmode=abs_centre
layer=bug_report_top_issues

// 583:8
[text_bg]
type=layer
width=476
height=210
layer=text_container
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 583:9
[top_issue_text]
type=text
width=12
height=12
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_container
textfont=museo_sans_11pt_regular
textshadow=yes

// 583:10
[continue_2]
type=layer
x=35
y=10
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=bug_report_top_issues
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Continue")

// 583:11
[thank_you_2]
type=layer
x=38
y=10
width=150
height=27
ymode=abs_bottom
layer=bug_report_top_issues
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Already Known")

// 583:12
[bug_report_category_select_layer]
type=layer
widthmode=minus
heightmode=minus
layer=window_content

// 583:13
[com_13]
type=text
y=10
width=326
height=18
xmode=abs_centre
layer=bug_report_category_select_layer
textfont=cinzel_15pt_bold
text=Select a Category
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 583:14
[button_container]
type=layer
y=40
width=20
height=90
widthmode=minus
xmode=abs_centre
layer=bug_report_category_select_layer

// 583:15
[billing_issue]
type=layer
width=150
height=40
layer=button_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Billing Issue")
onop=script5901(event_com)

// 583:16
[text_audio]
type=layer
width=150
height=40
xmode=abs_centre
layer=button_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Text & Audio")
onop=script5901(event_com)

// 583:17
[technical]
type=layer
width=150
height=40
xmode=abs_right
layer=button_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Technical")
onop=script5901(event_com)

// 583:18
[lost_items]
type=layer
width=150
height=40
ymode=abs_bottom
layer=button_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Lost Items")
onop=script5901(event_com)

// 583:19
[graphical]
type=layer
width=150
height=40
xmode=abs_centre
ymode=abs_bottom
layer=button_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Graphical")
onop=script5901(event_com)

// 583:20
[gameplay]
type=layer
width=150
height=40
xmode=abs_right
ymode=abs_bottom
layer=button_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Gameplay")
onop=script5901(event_com)

// 583:21
[info_container]
type=layer
y=140
width=20
height=110
widthmode=minus
xmode=abs_centre
layer=bug_report_category_select_layer
onvartransmit=script2063
onvartransmitlist=bugtrack_temp_var

// 583:22
[content_panel_blue]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_container
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 583:23
[cat_button_desc]
type=text
width=12
height=12
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_container
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 583:24
[category_confirm]
type=layer
y=10
width=200
height=27
xmode=abs_centre
ymode=abs_bottom
layer=bug_report_category_select_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Continue")

// 583:25
[bug_report_intro_layer]
type=layer
widthmode=minus
heightmode=minus
layer=window_content
hide=yes

// 583:26
[intro_title]
type=text
y=10
width=20
height=18
widthmode=minus
xmode=abs_centre
layer=bug_report_intro_layer
textfont=cinzel_15pt_bold
text=Runescape Bug Reporter
textalignh=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 583:27
[com_27]
type=text
y=40
width=100
height=76
widthmode=minus
xmode=abs_centre
layer=bug_report_intro_layer
textfont=museo_sans_13pt_regular
text=Please select the button below to view the 'Already Known Issues' forum thread. Large volumes of duplicate reports take up a lot of our time, so please do not report something we already know about.
textlineheight=15
textalignh=1
textshadow=yes

// 583:28
[already_known_forum]
type=layer
y=10
width=280
height=44
xmode=abs_centre
ymode=abs_centre
layer=bug_report_intro_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "View 'Already Known Issues' forum thread")

// 583:29
[bug_report_buttons_layer]
type=layer
x=37
y=204
width=411
height=74
layer=bug_report_intro_layer

// 583:30
[com_30]
type=text
height=37
widthmode=minus
layer=bug_report_buttons_layer
textfont=museo_sans_11pt_regular
text=Please select continue only if your<br>issue was not in the forum thread
textalignh=1
textshadow=yes

// 583:31
[thank_you]
type=layer
x=7
y=7
width=150
height=27
ymode=abs_bottom
layer=bug_report_buttons_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Already Known")

// 583:32
[continue]
type=layer
x=7
y=7
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=bug_report_buttons_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Continue")

// 583:33
[block_report_buttons_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bug_report_buttons_layer
noclickthrough=yes

// 583:34
[com_34]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=block_report_buttons_layer
colour=0x000000
fill=yes
trans=128
onmouserepeat=script8799("Please view the 'Already Known Issues' thread before continuing.", event_com, event_comsubid)

// 583:35
[bug_report_ban_warning]
type=layer
width=496
height=294
layer=window_content
hide=yes
noclickthrough=yes

// 583:36
[com_36]
type=rectangle
widthmode=minus
heightmode=minus
layer=bug_report_ban_warning
colour=0x000000
fill=yes
trans=150

// 583:37
[pop_up_frame]
type=layer
width=300
height=140
xmode=abs_centre
ymode=abs_centre
layer=bug_report_ban_warning

// 583:38
[background]
type=layer
widthmode=minus
heightmode=minus
layer=pop_up_frame
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 583:39
[com_39]
type=text
y=10
width=20
height=80
widthmode=minus
xmode=abs_centre
layer=pop_up_frame
textfont=museo_sans_13pt_regular
text=Please only report bugs. Deliberate<br>mis-use of this system could result in offences being applied to your account.
textalignh=1
textalignv=1
textshadow=yes

// 583:40
[abuse_close_button]
type=layer
y=10
width=190
height=27
xmode=abs_centre
ymode=abs_bottom
layer=pop_up_frame
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "I Understand")

// 583:41
[window_border]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 583:42
[window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=universe
transmitop1=yes
op1=Close

