// 1353:0
[universe]
type=layer
width=641
height=424
xmode=abs_centre
ymode=abs_centre

// 1353:1
[mainmodal_preview]
type=layer
x=13
y=-2
width=620
height=419
layer=universe

// 1353:2
[content_showcase_image_layer]
type=layer
x=17
y=51
width=296
height=326
layer=content

// 1353:3
[content_graphic]
type=graphic
x=-263
y=-22
width=705
height=369
layer=content_showcase_image_layer
noclickthrough=yes
graphic=rs3_featured_update_necromancy
colour=0xffffff
clickmask=no

// 1353:4
[header_title]
type=text
x=150
y=71
width=359
height=372
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content
textfont=cinzel_25pt_bold_multiline
text=WELCOME BACK!
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1353:5
[header_sub]
type=text
x=150
y=109
width=366
height=385
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content
textfont=cinzel_15pt_bold
text=New Skill: Necromancy!
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script198(event_com)

// 1353:6
[body_text]
type=text
x=150
y=159
width=368
height=256
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content
textfont=notosans_14
text=Body Text
textalignh=1
textalignv=1
onload=script20071(event_com)

// 1353:7
[large_close]
type=layer
width=63
height=63
xmode=abs_right
layer=universe
hide=yes

// 1353:8
[fake_close]
type=layer
width=1
height=1
xmode=abs_right
layer=large_close
transmitop1=yes
op1=Close

// 1353:9
[close_button2]
type=layer
widthmode=minus
heightmode=minus
layer=large_close
noclickthrough=yes
transmitop1=yes
op1=Close

// 1353:10
[com_10]
type=graphic
width=63
height=63
layer=large_close
graphic=lobby_button_menu_container
colour=0xffffff
clickmask=no

// 1353:11
[com_11]
type=graphic
x=1
y=-2
width=38
height=38
xmode=abs_centre
ymode=abs_centre
layer=large_close
graphic=parent_close_button_normal
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, parent_close_button_over)
onmouseleave=graphic_swapper(event_com, parent_close_button_normal)
onclick=graphic_swapper(event_com, parent_close_button_normal)

// 1353:12
[bg_4]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_preview

// 1353:13
[com_13]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=bg_4
graphic=rs3_modal_window_content_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1353:14
[content]
type=layer
x=4
y=4
width=4
height=4
widthmode=minus
heightmode=minus
layer=mainmodal_preview
noclickthrough=yes

// 1353:15
[com_15]
type=line
x=330
y=151
width=255
layer=content
noclickthrough=yes
colour=0xffffff

// 1353:16
[start_button]
type=layer
x=150
y=328
width=211
height=27
xmode=abs_centre
layer=content
noclickthrough=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Teleport")

// 1353:17
[frame]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_preview

// 1353:18
[com_18]
type=graphic
y=32
width=8
height=48
heightmode=minus
layer=frame
graphic=rs3_modal_window_1_side_tile
colour=0xffffff
clickmask=no

// 1353:19
[com_19]
type=graphic
y=32
width=8
height=48
heightmode=minus
xmode=abs_right
layer=frame
graphic=rs3_modal_window_1_side_tile
hflip=yes
colour=0xffffff
clickmask=no

// 1353:20
[com_20]
type=graphic
width=28
height=32
layer=frame
graphic=rs3_modal_window_1_title_corner
tiling=yes
colour=0xffffff
clickmask=no

// 1353:21
[com_21]
type=graphic
x=28
width=295
height=32
layer=frame
graphic=rs3_modal_window_1_title_tile
colour=0xffffff
clickmask=no

// 1353:22
[com_22]
type=graphic
x=321
width=104
height=32
layer=frame
graphic=rs3_modal_window_1_title_end
tiling=yes
colour=0xffffff
clickmask=no

// 1353:23
[com_23]
type=graphic
x=64
width=139
height=32
xmode=abs_right
layer=frame
graphic=rs3_modal_window_1_top_tile
colour=0xffffff
clickmask=no

// 1353:24
[com_24]
type=graphic
width=64
height=32
xmode=abs_right
layer=frame
graphic=rs3_modal_window_1_close_corner
tiling=yes
colour=0xffffff
clickmask=no

// 1353:25
[com_25]
type=graphic
width=16
height=16
ymode=abs_bottom
layer=frame
graphic=rs3_modal_window_1_bottom_corner
tiling=yes
colour=0xffffff
clickmask=no

// 1353:26
[com_26]
type=graphic
width=32
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=frame
graphic=rs3_modal_window_1_bottom_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1353:27
[com_27]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=frame
graphic=rs3_modal_window_1_bottom_corner
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1353:28
[com_28]
type=text
x=32
y=-1
width=338
height=32
layer=frame
textfont=cinzel_13pt_bold
text=Welcome Back: Recommendation
textalignv=1
textshadow=yes
colour=0xffcb05

// 1353:29
[close_button]
type=layer
x=584
y=-12
width=48
height=48
layer=mainmodal_preview
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1353:30
[close_border]
type=graphic
width=33
height=33
xmode=abs_centre
ymode=abs_centre
layer=close_button
graphic=rs3_child_close_button_backing
colour=0xffffff
clickmask=no

// 1353:31
[close_button_graphic]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=close_button
graphic=rs3_child_close_button
colour=0xffffff
clickmask=no
onload=script13914(event_com, ab_upsell_close_button)

