// 1357:0
[container]
type=layer
widthmode=minus
heightmode=minus
onload=script20067

// 1357:1
[content_layer]
type=layer
y=79
width=174
height=80
xmode=abs_centre
ymode=abs_centre
layer=container
noclickthrough=yes
dragdeadzone=5
dragdeadtime=20
ondrag=script20068(event_mousex, event_mousey)

// 1357:2
[main_button_gfx]
type=graphic
y=20
width=151
height=33
layer=content_layer
graphic=trh_panel_keysleft
colour=0xffffff
clickmask=no

// 1357:3
[com_3]
type=text
x=2
y=21
width=151
height=29
layer=content_layer
noclickthrough=yes
textfont=cinzel_13pt_bold
text=Welcome Back
textalignh=1
textalignv=1

// 1357:4
[clickbox]
type=layer
y=20
width=151
height=36
layer=content_layer
transmitop1=yes
op1=Information
opcursor0=cursor_info
onmouserepeat=script8799("Welcome back! Click here to see content recommendations.", event_com, -1)

// 1357:5
[close_layer]
type=layer
x=127
y=-1
width=48
height=48
layer=content_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1357:6
[close_border]
type=graphic
width=33
height=33
xmode=abs_centre
ymode=abs_centre
layer=close_layer
graphic=rs3_child_close_button_backing
colour=0xffffff
clickmask=no

// 1357:7
[close_button]
type=graphic
width=22
height=22
xmode=abs_centre
ymode=abs_centre
layer=close_layer
graphic=rs3_child_close_button
colour=0xffffff
clickmask=no
onload=script13914(event_com, ab_upsell_close_button)

