// 168:0
[mainmodal_window]
type=layer
width=50
height=34
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(reward_chest:mainmodal_window_background, reward_chest:mainmodal_window_border, reward_chest:mainmodal_window_content, reward_chest:mainmodal_window_close_button, "Reward Chest", 21218, string_1007)

// 168:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 168:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onvartransmit=script6548
onvartransmitlist=reward_chest

// 168:3
[info_holder_active]
type=layer
x=5
y=5
width=10
height=180
widthmode=minus
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 168:4
[abandon_all_button_layer]
type=layer
x=145
y=223
width=140
height=27
xmode=abs_centre
layer=mainmodal_window_content

// 168:5
[abandon_all_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_layer
onload=script7275(event_com)

// 168:6
[abandon_all_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_layer
onload=script7276(event_com)

// 168:7
[abandon_all_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_layer
onload=script7277(event_com)

// 168:8
[abandon_all_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_layer
hide=yes
onload=script7445(event_com)

// 168:9
[abandon_all_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=abandon_all_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 168:10
[abandon_all_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_layer
hide=yes
onload=script7572(event_com)

// 168:11
[abandon_all_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_layer

// 168:12
[abandon_all_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abandon_all_button_text_layer
textfont=cinzel_13pt_bold
text=Abandon All
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 168:13
[take_all_button_layer]
type=layer
y=223
width=140
height=27
xmode=abs_centre
layer=mainmodal_window_content

// 168:14
[take_all_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_layer
onload=script7041(event_com)

// 168:15
[take_all_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_layer
onload=script7042(event_com)

// 168:16
[take_all_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_layer
onload=script7044(event_com)

// 168:17
[take_all_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_layer
hide=yes
onload=script7047(event_com)

// 168:18
[take_all_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=take_all_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 168:19
[take_all_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_layer
hide=yes
onload=script7060(event_com)

// 168:20
[take_all_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_layer

// 168:21
[take_all_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=take_all_button_text_layer
textfont=cinzel_13pt_bold
text=Take All
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 168:22
[bank_all_button_layer]
type=layer
x=-145
y=223
width=140
height=27
xmode=abs_centre
layer=mainmodal_window_content
hide=yes

// 168:23
[bank_all_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_layer
onload=script7041(event_com)

// 168:24
[bank_all_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_layer
onload=script7042(event_com)

// 168:25
[bank_all_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_layer
onload=script7044(event_com)

// 168:26
[bank_all_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_layer
hide=yes
onload=script7047(event_com)

// 168:27
[bank_all_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bank_all_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 168:28
[bank_all_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_layer
hide=yes
onload=script7060(event_com)

// 168:29
[bank_all_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_layer

// 168:30
[bank_all_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bank_all_button_text_layer
textfont=cinzel_13pt_bold
text=Bank All
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 168:31
[reroll_button_layer]
type=layer
y=10
width=140
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
hide=yes

// 168:32
[convert_button_layer]
type=layer
x=-145
y=10
width=140
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
hide=yes

// 168:33
[total_value]
type=text
y=192
width=384
height=27
xmode=abs_centre
layer=mainmodal_window_content
textfont=cinzel_13pt_bold
text=Current Reward Value: 0
textalignh=1
textalignv=1
textshadow=yes

// 168:34
[take_cert_button_layer]
type=layer
x=5
y=192
width=25
height=25
layer=mainmodal_window_content

// 168:35
[inventory_layer]
type=layer
x=10
y=10
width=36
height=170
widthmode=minus
layer=mainmodal_window_content

// 168:36
[scroll_layer]
type=layer
x=10
y=10
width=16
height=170
xmode=abs_right
layer=mainmodal_window_content

// 168:37
[abandon_confirm]
type=layer
y=5
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 168:38
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 168:39
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 168:40
[reroll_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reroll_button_layer
onload=script7062(event_com)

// 168:41
[reroll_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reroll_button_layer
onload=script7063(event_com)

// 168:42
[reroll_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reroll_button_layer
onload=script7065(event_com)

// 168:43
[reroll_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reroll_button_layer
hide=yes
onload=script7068(event_com)

// 168:44
[reroll_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reroll_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 168:45
[reroll_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reroll_button_layer
hide=yes
onload=script7074(event_com)

// 168:46
[reroll_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reroll_button_layer

// 168:47
[reroll_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reroll_button_text_layer
textfont=cinzel_13pt_bold
text=Reroll Loot
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 168:48
[gamble_layer_main]
type=layer
y=5
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 168:49
[com_49]
type=rectangle
widthmode=minus
heightmode=minus
layer=gamble_layer_main
colour=0x000000
fill=yes
trans=30

// 168:50
[gamble_layer]
type=layer
width=350
height=220
xmode=abs_centre
ymode=abs_centre
layer=gamble_layer_main
onload=script8420(reward_chest:gamble_layer_background, reward_chest:gamble_layer_border, reward_chest:gamble_layer_content, null, "", 21259, null)

// 168:51
[gamble_layer_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=gamble_layer

// 168:52
[gamble_layer_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=gamble_layer

// 168:53
[gamble_cancel]
type=layer
x=15
y=10
width=150
height=27
ymode=abs_bottom
layer=gamble_layer_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Cancel")

// 168:54
[gamble_roll]
type=layer
x=15
y=10
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=gamble_layer_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Roll")

// 168:55
[gamble_layer_border]
type=layer
widthmode=minus
heightmode=minus
layer=gamble_layer

// 168:56
[info_text]
type=text
y=10
width=30
height=30
widthmode=minus
xmode=abs_centre
layer=gamble_layer_content
textfont=museo_sans_11pt_regular

// 168:57
[warning_text]
type=text
y=50
width=30
height=30
widthmode=minus
xmode=abs_centre
layer=gamble_layer_content
textfont=museo_sans_11pt_regular
textshadow=yes
colour=0xff3c3c

// 168:58
[pet_odds_text]
type=text
y=85
width=157
height=20
widthmode=minus
xmode=abs_centre
layer=gamble_layer_content
textfont=museo_sans_15pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 168:59
[com_59]
type=text
y=110
width=157
height=20
widthmode=minus
xmode=abs_centre
layer=gamble_layer_content
textfont=museo_sans_13pt_bold
text=Roll a 0 to win!
textalignh=1
textalignv=1
textshadow=yes

// 168:60
[pet_number_rolled]
type=text
y=135
width=157
height=20
widthmode=minus
xmode=abs_centre
layer=gamble_layer_content
textfont=museo_sans_19pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 168:61
[results_text]
type=text
y=10
width=20
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=gamble_layer_content
hide=yes
textfont=cinzel_15pt_bold
text=Better luck next time!
textalignh=1
textalignv=1
textshadow=yes
colour=0xff3c3c

// 168:62
[convert_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=convert_button_layer
onload=script7062(event_com)

// 168:63
[convert_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=convert_button_layer
onload=script7063(event_com)

// 168:64
[convert_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=convert_button_layer
onload=script7065(event_com)

// 168:65
[convert_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=convert_button_layer
hide=yes
onload=script7068(event_com)

// 168:66
[convert_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=convert_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 168:67
[convert_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=convert_button_layer
hide=yes
onload=script7074(event_com)

// 168:68
[convert_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=convert_button_layer

// 168:69
[convert_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=convert_button_text_layer
textfont=cinzel_13pt_bold
text=Convert Items
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 168:70
[take_cert_button]
type=graphic
widthmode=minus
heightmode=minus
layer=take_cert_button_layer
graphic=button_30px_on
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Toggle item/note withdrawl
onload=script15105
onvartransmit=script15105
onop=script15104
onmouserepeat=script10009("Toggle between taking items as normal or as notes", event_com, event_comsubid)
onvartransmitlist=reward_chest_var

// 168:71
[take_cert_icon]
type=graphic
width=35
height=35
xmode=abs_centre
ymode=abs_centre
layer=take_cert_button_layer
graphic="bank_buttons_new1,4"
colour=0xffffff
clickmask=no

