// 166:0
[com_0]
type=model
width=28199
height=22964
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=layer_1
model=rocko_travelling_canball
modelorthog=yes
modelorigin_x=-2
modelorigin_y=87
modelangle_x=12
modelangle_y=1024
modelangle_z=0
modelzoom=244
modelanim=rocko_travelling_canball
modelobjwidth=6610
modelobjheight=3027

// 166:1
[com_1]
type=rectangle
widthmode=minus
heightmode=minus
colour=0xa7effa
fill=yes

// 166:2
[layer_1]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
xmode=proportion_centre
ymode=proportion_centre

