// 27:0
[com_0]
type=graphic
y=-8
width=30
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content
graphic=tradebacking
tiling=yes
clickmask=no

// 27:1
[com_1]
type=graphic
x=5
y=13
width=37
height=38
layer=bespoke_window_content
graphic=runefest_ban_square
clickmask=no

// 27:2
[com_2]
type=graphic
x=42
y=13
width=87
height=38
layer=bespoke_window_content
graphic=runefest_ban_top
clickmask=no
transmitop10=yes
op10= 

// 27:3
[com_3]
type=graphic
x=129
y=13
width=87
height=38
layer=bespoke_window_content
graphic=runefest_ban_top
hflip=yes
clickmask=no
transmitop10=yes
op10=  

// 27:4
[com_4]
type=graphic
x=42
y=281
width=87
height=38
layer=bespoke_window_content
graphic=runefest_ban_top
vflip=yes
clickmask=no
transmitop10=yes
op10=  

// 27:5
[com_5]
type=graphic
x=129
y=281
width=87
height=38
layer=bespoke_window_content
graphic=runefest_ban_top
vflip=yes
hflip=yes
clickmask=no
transmitop10=yes
op10=   

// 27:6
[com_6]
type=graphic
x=-1
y=13
width=67
height=70
xmode=abs_centre
layer=bespoke_window_content
graphic=runefest_logo_1
clickmask=no

// 27:7
[com_7]
type=graphic
x=5
y=281
width=37
height=38
layer=bespoke_window_content
graphic=runefest_ban_square
vflip=yes
clickmask=no
transmitop10=yes
op10= 

// 27:8
[com_8]
type=graphic
x=5
y=51
width=37
height=116
layer=bespoke_window_content
graphic=runefest_ban_side
clickmask=no
transmitop10=yes
op10= 

// 27:9
[com_9]
type=graphic
x=5
y=167
width=37
height=116
layer=bespoke_window_content
graphic=runefest_ban_side
vflip=yes
clickmask=no
transmitop10=yes
op10=  

// 27:10
[com_10]
type=graphic
x=8
y=13
width=37
height=38
xmode=abs_right
layer=bespoke_window_content
graphic=runefest_ban_square
hflip=yes
clickmask=no
transmitop10=yes
op10= 

// 27:11
[com_11]
type=graphic
x=8
y=281
width=37
height=38
xmode=abs_right
layer=bespoke_window_content
graphic=runefest_ban_square
vflip=yes
hflip=yes
clickmask=no
transmitop10=yes
op10=  

// 27:12
[com_12]
type=graphic
x=8
y=51
width=37
height=116
xmode=abs_right
layer=bespoke_window_content
graphic=runefest_ban_side
hflip=yes
clickmask=no
transmitop10=yes
op10=  

// 27:13
[com_13]
type=graphic
x=8
y=167
width=37
height=116
xmode=abs_right
layer=bespoke_window_content
graphic=runefest_ban_side
vflip=yes
hflip=yes
clickmask=no
transmitop10=yes
op10=   

// 27:14
[runeleft]
type=graphic
x=-94
y=83
width=62
height=84
xmode=abs_centre
layer=bespoke_window_content
graphic=runefest_logo_2
clickmask=no
transmitop10=yes
op10= 

// 27:15
[runeleft_1]
type=graphic
x=-32
y=83
width=62
height=84
xmode=abs_centre
layer=bespoke_window_content
graphic=runefest_logo_3
clickmask=no
transmitop10=yes
op10=  

// 27:16
[runeleft_2]
type=graphic
x=30
y=83
width=62
height=84
xmode=abs_centre
layer=bespoke_window_content
graphic=runefest_logo_4
clickmask=no
transmitop10=yes
op10=   

// 27:17
[runeleft_3]
type=graphic
x=91
y=83
width=61
height=84
xmode=abs_centre
layer=bespoke_window_content
graphic=runefest_logo_5
clickmask=no
transmitop10=yes
op10=    

// 27:18
[date_shadow_txt]
type=text
y=211
width=16391
height=39
widthmode=proportion
xmode=abs_centre
layer=bespoke_window_content
textfont=welcome_font_small
text=Summer 2010
textalignh=1
textalignv=1
textshadow=yes
colour=0x000000
transmitop10=yes
op10=  

// 27:19
[date_txt]
type=text
x=-1
y=210
width=16391
height=39
widthmode=proportion
xmode=abs_centre
layer=bespoke_window_content
textfont=welcome_font_small
text=Summer 2010
textalignh=1
textalignv=1
textshadow=yes
colour=0xebebeb
transmitop10=yes
op10= 

// 27:20
[runefest_shadow_txt]
type=text
x=1
y=187
width=16391
height=39
widthmode=proportion
xmode=abs_centre
layer=bespoke_window_content
textfont=welcome_font_small
text=Runefest
textalignh=1
textalignv=1
textshadow=yes
colour=0x000000
transmitop10=yes
op10=   

// 27:21
[runefest_txt]
type=text
y=186
width=16391
height=39
widthmode=proportion
xmode=abs_centre
layer=bespoke_window_content
textfont=welcome_font_small
text=Runefest
textalignh=1
textalignv=1
textshadow=yes
colour=0xebebeb
transmitop10=yes
op10=  

// 27:22
[planter]
type=text
x=-1
y=270
width=212
height=19
xmode=abs_centre
layer=bespoke_window_content
textfont=p12_full
textalignh=1
textshadow=yes
transmitop10=yes
op10=  

// 27:23
[bespoke_window]
type=layer
width=264
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(runefest_banner:bespoke_window_background, runefest_banner:bespoke_window_border, runefest_banner:bespoke_window_content, runefest_banner:bespoke_window_close, "", 21259, string_1007)

// 27:24
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 27:25
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 27:26
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 27:27
[bespoke_window_close]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window
transmitop1=yes
op1=Close
onop=closebutton_click

