// 1532:0
[tries_label]
type=text
x=-185
y=75
width=80
height=15
xmode=abs_centre
ymode=abs_centre
layer=experiment_container
textfont=museo_sans_13pt_regular
text=Tries: 0
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10564(event_com)
onmouserepeat=script8799("As you try more combinations of runes, the cost of combining will increase.", event_com, event_comsubid)

// 1532:1
[combine_button_layer_1]
type=layer
x=-55
y=75
width=135
height=27
xmode=abs_centre
ymode=abs_centre
layer=experiment_container

// 1532:2
[trial_button_layer]
type=layer
x=-190
y=75
width=125
height=27
xmode=abs_centre
ymode=abs_centre
layer=experiment_container
hide=yes

// 1532:3
[slot1_quantity]
type=text
x=100
y=55
width=160
height=32
layer=experiment_container
textfont=museo_sans_11pt_regular
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, -1, 3)

// 1532:4
[slot2_quantity]
type=text
x=100
y=115
width=160
height=32
layer=experiment_container
textfont=museo_sans_11pt_regular
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, -1, 3)

// 1532:5
[slot3_quantity]
type=text
x=100
y=175
width=160
height=32
layer=experiment_container
textfont=museo_sans_11pt_regular
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, -1, 3)

// 1532:6
[score_bar_layer_1]
type=layer
x=65
y=-140
width=150
height=30
ymode=abs_centre
layer=experiment_container
onload=script10550
onvartransmit=script10551
ontimer=script10553
onmouserepeat=script8799("The amount of vis wax this combination would produce.", event_com, event_comsubid)
onvartransmitlist=runemach_temp_1

// 1532:7
[mainmodal_window]
type=layer
width=475
height=300
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script8420(runemach_dnd:mainmodal_window_background, runemach_dnd:mainmodal_window_border, runemach_dnd:mainmodal_window_content, runemach_dnd:mainmodal_window_close_button, "Rune Goldberg machine", 21218, string_1007)

// 1532:8
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1532:9
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1532:10
[runes_container]
type=layer
x=5
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1532:11
[info_holder_bg]
type=layer
x=280
y=35
width=165
height=190
layer=runes_container
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1532:12
[com_12]
type=text
x=285
y=6
width=160
height=26
layer=runes_container
textfont=museo_sans_13pt_regular
text=Available runes
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, -1, 0)
onmouserepeat=script8799("This lists the total number of runes in your bank and inventory combined.", event_com, event_comsubid)

// 1532:13
[runes_layer]
type=layer
x=285
y=40
width=170
height=190
layer=runes_container
onload=script10555(event_com)
onvartransmit=script10561(event_com)
oninvtransmit=script10555(event_com)
onvartransmitlist=runemach_temp_1,runemach_temp_1,runemach_temp_1
oninvtransmitlist=inv,bank

// 1532:14
[com_14]
type=line
x=274
y=10
height=245
layer=mainmodal_window_content
colour=0x363e41

// 1532:15
[experiment_container]
type=layer
width=512
height=334
layer=mainmodal_window_content
onvartransmit=script10564(runemach_dnd:tries_label)
onvartransmitlist=runemach_parent_1

// 1532:16
[com_16]
type=line
x=275
y=10
height=245
layer=mainmodal_window_content
colour=0x0b1113

// 1532:17
[slot1_container]
type=layer
x=35
y=-95
width=50
height=50
ymode=abs_centre
layer=experiment_container
candrop=yes
cantarget=yes
onload=script10557(event_com)
onvartransmit=script10562(event_com, 1)
onmouserepeat=script8799("This slot represents the many. Someone else might know the best rune in this slot today.", event_com, event_comsubid)
onvartransmitlist=runemach_temp_1

// 1532:18
[slot1_bg]
type=layer
widthmode=minus
heightmode=minus
layer=slot1_container
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1532:19
[slot2_container]
type=layer
x=35
y=-35
width=50
height=50
ymode=abs_centre
layer=experiment_container
candrop=yes
cantarget=yes
onload=script10557(event_com)
onvartransmit=script10562(event_com, 2)
onmouserepeat=script8799("This slot represents the few. Others can help you narrow down the best rune in this slot today.", event_com, event_comsubid)
onvartransmitlist=runemach_temp_1

// 1532:20
[slot2_bg]
type=layer
widthmode=minus
heightmode=minus
layer=slot2_container
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1532:21
[slot3_container]
type=layer
x=35
y=25
width=50
height=50
ymode=abs_centre
layer=experiment_container
candrop=yes
cantarget=yes
onload=script10557(event_com)
onvartransmit=script10562(event_com, 3)
onmouserepeat=script8799("This slot represents the one. Only you can determine the best rune in this slot today.", event_com, event_comsubid)
onvartransmitlist=runemach_temp_1

// 1532:22
[slot1_light]
type=graphic
x=15
y=-95
width=15
height=15
ymode=abs_centre
layer=experiment_container
graphic="aif_runes_progress_keys,0"
colour=0xffffff
clickmask=no
onmouserepeat=script10850(event_com, event_comsubid)

// 1532:23
[slot2_light]
type=graphic
x=15
y=-35
width=15
height=15
ymode=abs_centre
layer=experiment_container
graphic="aif_runes_progress_keys,1"
colour=0xffffff
clickmask=no
onmouserepeat=script10850(event_com, event_comsubid)

// 1532:24
[slot3_light]
type=graphic
x=15
y=25
width=15
height=15
ymode=abs_centre
layer=experiment_container
graphic="aif_runes_progress_keys,2"
colour=0xffffff
clickmask=no
onmouserepeat=script10850(event_com, event_comsubid)

// 1532:25
[slot3_bg]
type=layer
widthmode=minus
heightmode=minus
layer=slot3_container
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1532:26
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1532:27
[mainmodal_window_close_button]
type=layer
width=65492
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1532:28
[com_28]
type=graphic
width=12
height=30
ymode=abs_centre
layer=score_bar_layer_1
graphic="aif_progress_bar_frame_2,0"
colour=0xffffff
clickmask=no

// 1532:29
[com_29]
type=graphic
width=12
height=30
xmode=abs_right
ymode=abs_centre
layer=score_bar_layer_1
graphic="aif_progress_bar_frame_2,0"
hflip=yes
colour=0xffffff
clickmask=no

// 1532:30
[com_30]
type=graphic
width=12
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=score_bar_layer_1
graphic="aif_progress_bar_frame_2,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1532:31
[green_large_progress_value_bounds_layer_1]
type=layer
x=6
width=12
height=19
widthmode=minus
ymode=abs_centre
layer=score_bar_layer_1

// 1532:32
[green_large_progress_value_layer_1]
type=layer
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=green_large_progress_value_bounds_layer_1

// 1532:33
[com_33]
type=graphic
width=6
height=19
ymode=abs_centre
layer=green_large_progress_value_layer_1
graphic="aif_progress_bar_green_fill_2,0"
colour=0xffffff
clickmask=no

// 1532:34
[com_34]
type=graphic
width=6
height=19
xmode=abs_right
ymode=abs_centre
layer=green_large_progress_value_layer_1
graphic="aif_progress_bar_green_fill_2,2"
colour=0xffffff
clickmask=no

// 1532:35
[com_35]
type=graphic
width=12
height=19
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_value_layer_1
graphic="aif_progress_bar_green_fill_2,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1532:36
[green_large_progress_text_layer_1]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=score_bar_layer_1

// 1532:37
[green_large_progress_text_1]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=green_large_progress_text_layer_1
textfont=verdana_11pt_regular
text=0%
textalignh=1
textalignv=1
colour=0xd5d9d3
onload=script4210(event_com, museo_sans_11pt_regular, ^white, 0)

// 1532:38
[positive_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combine_button_layer_1
onload=script7041(event_com)

// 1532:39
[positive_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combine_button_layer_1
onload=script7042(event_com)

// 1532:40
[positive_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combine_button_layer_1
onload=script7044(event_com)

// 1532:41
[positive_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combine_button_layer_1
hide=yes
onload=script7047(event_com)

// 1532:42
[combine_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=combine_button_layer_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onmouserepeat=script8799("Consume a moderate amount of runes to create vis wax.", event_com, event_comsubid)

// 1532:43
[combine_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combine_button_layer_1
hide=yes
onload=script7060(event_com)
onmouserepeat=script8799("You can only perform one combination a day.", event_com, event_comsubid)

// 1532:44
[positive_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combine_button_layer_1

// 1532:45
[positive_button_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_1
textfont=cinzel_13pt_bold
text=Combine
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1532:46
[neutral_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trial_button_layer
onload=script7062(event_com)

// 1532:47
[neutral_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trial_button_layer
onload=script7063(event_com)

// 1532:48
[neutral_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trial_button_layer
onload=script7065(event_com)

// 1532:49
[neutral_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trial_button_layer
hide=yes
onload=script7068(event_com)

// 1532:50
[trial_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=trial_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onmouserepeat=script8799("Consume a small amount fo runes to find out how much wax they'd produce.", event_com, event_comsubid)

// 1532:51
[neutral_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trial_button_layer
hide=yes
onload=script7074(event_com)

// 1532:52
[neutral_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trial_button_layer

// 1532:53
[neutral_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer
textfont=cinzel_13pt_bold
text=Trial
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

