// 894:0
[0]
type=graphic
x=-284
y=-170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,0"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 0)

// 894:1
[1]
type=graphic
x=-142
y=-170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,1"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 1)

// 894:2
[2]
type=graphic
y=-170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,2"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 2)

// 894:3
[3]
type=graphic
x=142
y=-170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,3"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 3)

// 894:4
[4]
type=graphic
x=284
y=-170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,4"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 4)

// 894:5
[5]
type=graphic
x=-284
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,5"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 5)

// 894:6
[6]
type=graphic
x=-142
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,6"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 6)

// 894:7
[7]
type=graphic
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,7"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 7)

// 894:8
[8]
type=graphic
x=142
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,8"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 8)

// 894:9
[9]
type=graphic
x=284
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,9"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 9)

// 894:10
[10]
type=graphic
x=-284
y=170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,10"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 10)

// 894:11
[11]
type=graphic
x=-142
y=170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,11"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 11)

// 894:12
[12]
type=graphic
y=170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,12"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 12)

// 894:13
[13]
type=graphic
x=142
y=170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,13"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 13)

// 894:14
[14]
type=graphic
x=284
y=170
width=142
height=170
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_background_stage_1
graphic="bot_off_stage_1_background,14"
colour=0xffffff
clickmask=no
onload=script9569(event_com, 14)

// 894:15
[busted_warning_window_background]
type=layer
width=12
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_layer

// 894:16
[busted_warning_window_content]
type=layer
width=12
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_layer

// 894:17
[busted_warning_background_stage_1]
type=layer
widthmode=minus
heightmode=minus
layer=busted_warning_window_content

// 894:18
[botoff_warning_text_stage_2]
type=layer
width=710
height=510
xmode=abs_centre
ymode=abs_centre
layer=busted_warning_window_content

// 894:19
[main_layer]
type=layer
width=722
height=518
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=script8420(rwt_busted_warning:busted_warning_window_background, rwt_busted_warning:busted_warning_window_border, rwt_busted_warning:busted_warning_window_content, null, "", 30498, string_1005)

// 894:20
[busted_warning_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 894:21
[close_layer]
type=layer
x=8
y=8
width=142
height=27
xmode=abs_right
ymode=abs_bottom
layer=busted_warning_window_content
onmouseover=script6884(rwt_busted_warning:btn_graphic_neutral_3, rwt_busted_warning:btn_graphic_neutral_4, rwt_busted_warning:btn_graphic_neutral_5)
onmouseleave=script6886(rwt_busted_warning:btn_graphic_neutral_3, rwt_busted_warning:btn_graphic_neutral_4, rwt_busted_warning:btn_graphic_neutral_5)

// 894:22
[btn_graphic_neutral_0]
type=graphic
width=25
height=27
layer=close_layer
graphic="rs3_btn_main_neutral,0"
colour=0xffffff
clickmask=no

// 894:23
[btn_graphic_neutral_1]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
layer=close_layer
graphic="rs3_btn_main_neutral,1"
tiling=yes
colour=0xffffff
clickmask=no

// 894:24
[btn_graphic_neutral_2]
type=graphic
width=25
height=27
xmode=abs_right
layer=close_layer
graphic="rs3_btn_main_neutral,2"
colour=0xffffff
clickmask=no

// 894:25
[btn_graphic_neutral_3]
type=graphic
width=25
height=27
layer=close_layer
graphic="rs3_btn_main_neutral,1"
trans=255
colour=0xffffff
clickmask=no

// 894:26
[btn_graphic_neutral_4]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
layer=close_layer
graphic="rs3_btn_main_neutral,4"
tiling=yes
trans=255
colour=0xffffff
clickmask=no

// 894:27
[btn_graphic_neutral_5]
type=graphic
width=25
height=27
xmode=abs_right
layer=close_layer
graphic="rs3_btn_main_neutral,5"
trans=255
colour=0xffffff
clickmask=no

// 894:28
[close_button]
type=layer
widthmode=minus
heightmode=minus
layer=close_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 894:29
[com_29]
type=text
widthmode=minus
heightmode=minus
layer=close_button
textfont=cinzel_13pt_bold
text=Close
textalignh=1
textalignv=1
colour=0x000000

// 894:30
[close_disabled]
type=layer
x=8
y=8
width=142
height=27
xmode=abs_right
ymode=abs_bottom
layer=busted_warning_window_content
hide=yes

// 894:31
[btn_graphic_neutral_disabled_0]
type=graphic
width=25
height=27
layer=close_disabled
graphic="rs3_btn_main_neutral,12"
colour=0xffffff
clickmask=no

// 894:32
[btn_graphic_neutral_disabled_1]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
layer=close_disabled
graphic="rs3_btn_main_neutral,13"
tiling=yes
colour=0xffffff
clickmask=no

// 894:33
[btn_graphic_neutral_disabled_2]
type=graphic
width=25
height=27
xmode=abs_right
layer=close_disabled
graphic="rs3_btn_main_neutral,14"
colour=0xffffff
clickmask=no

// 894:34
[close_button_1]
type=layer
widthmode=minus
heightmode=minus
layer=close_disabled

// 894:35
[com_35]
type=text
widthmode=minus
heightmode=minus
layer=close_button_1
textfont=cinzel_13pt_bold
text=Close
textalignh=1
textalignv=1
colour=0x000000

// 894:36
[rules_layer]
type=layer
x=158
y=8
width=142
height=27
xmode=abs_right
ymode=abs_bottom
layer=busted_warning_window_content
onmouseover=script6884(rwt_busted_warning:rs3_btn_main_positive_3, rwt_busted_warning:rs3_btn_main_positive_4, rwt_busted_warning:rs3_btn_main_positive_5)
onmouseleave=script6886(rwt_busted_warning:rs3_btn_main_positive_3, rwt_busted_warning:rs3_btn_main_positive_4, rwt_busted_warning:rs3_btn_main_positive_5)

// 894:37
[rs3_btn_main_positive_0]
type=graphic
width=25
height=27
layer=rules_layer
graphic="rs3_btn_main_positive,0"
colour=0xffffff
clickmask=no

// 894:38
[rs3_btn_main_positive_1]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
layer=rules_layer
graphic="rs3_btn_main_positive,1"
tiling=yes
colour=0xffffff
clickmask=no

// 894:39
[rs3_btn_main_positive_2]
type=graphic
width=25
height=27
xmode=abs_right
layer=rules_layer
graphic="rs3_btn_main_positive,2"
colour=0xffffff
clickmask=no

// 894:40
[rs3_btn_main_positive_3]
type=graphic
width=25
height=27
layer=rules_layer
graphic="rs3_btn_main_positive,3"
trans=255
colour=0xffffff
clickmask=no

// 894:41
[rs3_btn_main_positive_4]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
layer=rules_layer
graphic="rs3_btn_main_positive,4"
trans=255
colour=0xffffff
clickmask=no

// 894:42
[rs3_btn_main_positive_5]
type=graphic
width=25
height=27
xmode=abs_right
layer=rules_layer
graphic="rs3_btn_main_positive,5"
trans=255
colour=0xffffff
clickmask=no

// 894:43
[rules_button]
type=layer
widthmode=minus
heightmode=minus
layer=rules_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 894:44
[com_44]
type=text
widthmode=minus
heightmode=minus
layer=rules_button
textfont=cinzel_13pt_bold
text=Read Rules
textalignh=1
textalignv=1
colour=0x000000

// 894:45
[gold_window_title_layer]
type=layer
y=13
width=16
height=23
widthmode=minus
xmode=abs_centre
layer=busted_warning_window_content

// 894:46
[gold_window_title_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_title_layer
textfont=museo_sans_15pt_bold
text=Real World Trading Detected
textalignh=1
textalignv=1
colour=0xffcb05

// 894:47
[gold_window_title_layer_red]
type=layer
y=13
width=16
height=23
widthmode=minus
xmode=abs_centre
layer=busted_warning_window_content
ontimer=script4006(rwt_busted_warning:gold_window_title_text_red)

// 894:48
[gold_window_title_text_red]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_title_layer_red
hide=yes
textfont=museo_sans_15pt_bold
text=Real World Trading Detected
textalignh=1
textalignv=1
colour=0xff0000

// 894:49
[botoff_warning_text_stage_2_body]
type=text
x=257
y=62
width=410
height=400
layer=botoff_warning_text_stage_2
textfont=museo_sans_11pt_regular
text=Our advanced anti-cheating detection system has flagged that this account has been using third party software which directly violates our Terms of Service. As a result of this flag, your account was checked manually by the anti-cheating team who have now confirmed the offence is correct. As this offence has already been manually reviewed, you are unable to request a further review by means of an appeal.   <br> <br> We take cheating seriously, and as such the following sanctions have been applied to your account: <br> <br> (CURRENT SANCTIONS) <br> <br> These sanctions apply whilst your account is logged in to a RuneScape game world. Logging out will cause the timer to stop and will only begin counting down again once you log back in. For more information please read our banned account FAQ [https://support.runescape.com/hc/en-gb/articles/206797919]. 
textlineheight=17
textshadow=yes

// 894:50
[botoff_warning_text_stage_2_title]
type=text
x=257
y=38
width=410
height=23
layer=botoff_warning_text_stage_2
textfont=museo_sans_19pt_bold
text=Warning!
textalignh=1
textshadow=yes

