// 813:0
[tier_title]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=tier_layer
textfont=museo_sans_11pt_regular
text=Clay Quality
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 813:1
[clay_t1]
type=layer
y=20
height=20
widthmode=minus
layer=tier_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=sc_processing_tier_onop(1)

// 813:2
[clay_t2]
type=layer
y=44
height=20
widthmode=minus
layer=tier_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=sc_processing_tier_onop(2)

// 813:3
[clay_t3]
type=layer
y=68
height=20
widthmode=minus
layer=tier_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=sc_processing_tier_onop(3)

// 813:4
[clay_t4]
type=layer
y=92
height=20
widthmode=minus
layer=tier_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=sc_processing_tier_onop(4)

// 813:5
[clay_t5]
type=layer
y=116
height=20
widthmode=minus
layer=tier_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=sc_processing_tier_onop(5)

// 813:6
[bg]
type=layer
widthmode=minus
heightmode=minus
layer=type_selection
onload=script10896(event_com, null, rs3tli_content_panel)

// 813:7
[title_1]
type=text
y=8
width=16
height=50
widthmode=minus
xmode=abs_centre
layer=type_selection
textfont=museo_sans_13pt_bold
text=Select a category to create.
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 813:8
[weapon_button]
type=layer
y=65
width=16
height=30
widthmode=minus
xmode=abs_centre
layer=type_selection
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=sc_processing_category(0)

// 813:9
[armour_button]
type=layer
y=100
width=16
height=30
widthmode=minus
xmode=abs_centre
layer=type_selection
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=sc_processing_category(1)

// 813:10
[supplies_button]
type=layer
y=135
width=16
height=30
widthmode=minus
xmode=abs_centre
layer=type_selection
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=sc_processing_category(2)

// 813:11
[potions_button]
type=layer
y=170
width=16
height=30
widthmode=minus
xmode=abs_centre
layer=type_selection
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=sc_processing_category(3)

// 813:12
[com_12]
type=model
x=36
y=10
width=83
height=114
xmode=abs_right
layer=mainmodal_window_content
model=sc_clay_station
modelorigin_x=0
modelorigin_y=33
modelangle_x=199
modelangle_y=261
modelangle_z=0
modelzoom=1953

// 813:13
[type_selection]
type=layer
x=10
y=10
width=130
height=20
heightmode=minus
layer=mainmodal_window_content
onload=sc_processing_init
onvartransmit=script14299
onvartransmitlist=sc_temp

// 813:14
[item_selection]
type=layer
x=-3
y=10
width=190
height=20
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 813:15
[bg2]
type=layer
widthmode=minus
heightmode=minus
layer=item_selection
onload=script10896(event_com, null, rs3tli_content_panel)

// 813:16
[item_contents]
type=layer
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=item_selection

// 813:17
[item_build]
type=layer
widthmode=minus
heightmode=minus
layer=item_contents

// 813:18
[item_click]
type=layer
widthmode=minus
heightmode=minus
layer=item_contents

// 813:19
[clay_selection]
type=layer
x=10
y=10
width=136
height=155
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content

// 813:20
[bg3]
type=layer
widthmode=minus
heightmode=minus
layer=clay_selection
onload=script10896(event_com, null, rs3tli_content_panel)

// 813:21
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(sc_processing:mainmodal_window_background, sc_processing:mainmodal_window_border, sc_processing:mainmodal_window_content, sc_processing:mainmodal_window_close_button, "Creation Kiln", 21218, string_1007)

// 813:22
[tier_layer]
type=layer
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=clay_selection
onvartransmit=script14303
onvarctransmit=script14303
onvartransmitlist=sc_temp
onvarctransmitlist=sc_client_tier1_total,sc_client_tier2_total,sc_client_tier3_total,sc_client_tier4_total,sc_client_tier5_total

// 813:23
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 813:24
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 813:25
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 813:26
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

