// 810:0
[content]
type=layer
y=24
height=34
widthmode=minus
heightmode=minus
layer=main_display

// 810:1
[bg]
type=layer
widthmode=minus
heightmode=minus
layer=content
onload=script10896(event_com, null, rs3tli_content_panel)

// 810:2
[titles]
type=layer
height=20
widthmode=minus
layer=tab_awards

// 810:3
[com_3]
type=text
x=300
width=176
heightmode=minus
xmode=abs_right
layer=titles
textfont=cinzel_13pt_bold
text=Award
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 810:4
[com_4]
type=text
x=195
width=105
heightmode=minus
xmode=abs_right
layer=titles
textfont=cinzel_13pt_bold
text=Player
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 810:5
[com_5]
type=text
x=115
width=80
heightmode=minus
xmode=abs_right
layer=titles
textfont=cinzel_13pt_bold
text=Team
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 810:6
[com_6]
type=text
width=115
heightmode=minus
xmode=abs_right
layer=titles
textfont=cinzel_13pt_bold
text=Score
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 810:7
[com_7]
type=rectangle
widthmode=minus
heightmode=minus
layer=theirs
colour=0x08202c
fill=yes
onload=script1340(event_com, rs3_rect_light)

// 810:8
[com_8]
type=rectangle
widthmode=minus
heightmode=minus
layer=yours
colour=0x071820
fill=yes
onload=script1340(event_com, rs3_rect_dark)

// 810:9
[com_9]
type=rectangle
widthmode=minus
heightmode=minus
layer=kills
colour=0x071820
fill=yes
onload=script1340(event_com, rs3_rect_dark)

// 810:10
[com_10]
type=rectangle
widthmode=minus
heightmode=minus
layer=bonus
colour=0x071820
fill=yes
onload=script1340(event_com, rs3_rect_dark)

// 810:11
[com_11]
type=rectangle
widthmode=minus
heightmode=minus
layer=depositing
colour=0x071820
fill=yes
onload=script1340(event_com, rs3_rect_dark)

// 810:12
[com_12]
type=rectangle
widthmode=minus
heightmode=minus
layer=gathering
colour=0x071820
fill=yes
onload=script1340(event_com, rs3_rect_dark)

// 810:13
[com_13]
type=rectangle
widthmode=minus
heightmode=minus
layer=deaths
colour=0x08202c
fill=yes
onload=script1340(event_com, rs3_rect_light)

// 810:14
[com_14]
type=rectangle
widthmode=minus
heightmode=minus
layer=damaging
colour=0x08202c
fill=yes
onload=script1340(event_com, rs3_rect_light)

// 810:15
[com_15]
type=rectangle
widthmode=minus
heightmode=minus
layer=processing
colour=0x08202c
fill=yes
onload=script1340(event_com, rs3_rect_light)

// 810:16
[com_16]
type=rectangle
widthmode=minus
heightmode=minus
layer=total
colour=0x08202c
fill=yes
onload=script1340(event_com, rs3_rect_light)

// 810:17
[com_17]
type=rectangle
widthmode=minus
heightmode=minus
layer=total
colour=0xffffff

// 810:18
[com_18]
type=text
width=133
heightmode=minus
layer=deaths
textfont=museo_sans_11pt_regular
text=Number of deaths
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 810:19
[died_score_text]
type=text
width=112
heightmode=minus
xmode=abs_right
layer=deaths
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10= 

// 810:20
[com_20]
type=text
width=133
heightmode=minus
layer=kills
textfont=museo_sans_11pt_regular
text=Player kills
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 810:21
[killed_score_text]
type=text
width=112
heightmode=minus
xmode=abs_right
layer=kills
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 810:22
[com_22]
type=text
width=131
heightmode=minus
layer=total
textfont=museo_sans_13pt_bold
text=Total score
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 810:23
[total_score_text]
type=text
width=112
heightmode=minus
xmode=abs_right
layer=total
textfont=museo_sans_15pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 810:24
[com_24]
type=text
width=131
heightmode=minus
layer=bonus
textfont=museo_sans_11pt_regular
text=Bonus
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 810:25
[bonus_score_text]
type=text
width=112
heightmode=minus
xmode=abs_right
layer=bonus
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 810:26
[com_26]
type=text
width=131
heightmode=minus
layer=damaging
textfont=museo_sans_11pt_regular
text=Damaging players
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 810:27
[damaged_score_text]
type=text
width=112
heightmode=minus
xmode=abs_right
layer=damaging
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 810:28
[com_28]
type=text
width=131
heightmode=minus
layer=depositing
textfont=museo_sans_11pt_regular
text=Depositing in base
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 810:29
[deposited_score_text]
type=text
width=112
heightmode=minus
xmode=abs_right
layer=depositing
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 810:30
[com_30]
type=text
width=131
heightmode=minus
layer=processing
textfont=museo_sans_11pt_regular
text=Processing clay
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 810:31
[processed_score_text]
type=text
width=112
heightmode=minus
xmode=abs_right
layer=processing
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 810:32
[com_32]
type=text
width=131
height=22
layer=gathering
textfont=museo_sans_11pt_regular
text=Gathering clay
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 810:33
[gathered_score_text]
type=text
width=112
height=22
xmode=abs_right
layer=gathering
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 810:34
[com_34]
type=text
width=101
heightmode=minus
layer=theirs
textfont=museo_sans_11pt_regular
text=Enemy team
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 810:35
[enemy_team_score_text]
type=text
width=99
heightmode=minus
xmode=abs_right
layer=theirs
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 810:36
[com_36]
type=text
width=101
heightmode=minus
layer=yours
textfont=museo_sans_11pt_regular
text=Your team
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 810:37
[your_team_score_text]
type=text
width=99
heightmode=minus
xmode=abs_right
layer=yours
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 810:38
[individual_score_title]
type=text
width=271
height=20
xmode=abs_centre
layer=scores_personal
textfont=cinzel_18pt_bold
text=Personal Score
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 810:39
[activity_title]
type=text
y=20
width=131
height=15
layer=scores_personal
textfont=cinzel_12pt_bold
text=Activity
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 810:40
[score_title]
type=text
y=20
width=112
height=15
xmode=abs_right
layer=scores_personal
textfont=cinzel_12pt_bold
text=Score
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 810:41
[gathering]
type=layer
y=35
height=20
widthmode=minus
layer=scores_personal

// 810:42
[processing]
type=layer
y=55
height=20
widthmode=minus
layer=scores_personal

// 810:43
[depositing]
type=layer
y=75
height=20
widthmode=minus
layer=scores_personal

// 810:44
[damaging]
type=layer
y=95
height=20
widthmode=minus
layer=scores_personal

// 810:45
[bonus]
type=layer
y=115
height=20
widthmode=minus
layer=scores_personal

// 810:46
[total]
type=layer
y=140
height=20
widthmode=minus
layer=scores_personal

// 810:47
[kills]
type=layer
y=165
height=20
widthmode=minus
layer=scores_personal

// 810:48
[deaths]
type=layer
y=185
height=20
widthmode=minus
layer=scores_personal

// 810:49
[team_score_title]
type=text
width=171
height=20
xmode=abs_centre
layer=scores_team
textfont=cinzel_18pt_bold
text=Team Scores
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 

// 810:50
[yours]
type=layer
y=20
height=20
widthmode=minus
layer=scores_team

// 810:51
[tab_scores]
type=layer
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content

// 810:52
[scores_team]
type=layer
width=200
heightmode=minus
layer=tab_scores

// 810:53
[theirs]
type=layer
y=40
height=20
widthmode=minus
layer=scores_team

// 810:54
[result_description_text]
type=text
y=60
height=85
widthmode=minus
heightmode=minus
layer=scores_team
textfont=museo_sans_11pt_regular_multiline
text=  
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 810:55
[scores_personal]
type=layer
width=250
heightmode=minus
xmode=abs_right
layer=tab_scores

// 810:56
[victory_text]
type=text
height=25
widthmode=minus
ymode=abs_bottom
layer=tab_scores
textfont=museo_sans_15pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 810:57
[tab_awards]
type=layer
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content
hide=yes

// 810:58
[award_gathering]
type=layer
y=20
height=20
widthmode=minus
layer=tab_awards

// 810:59
[com_59]
type=rectangle
widthmode=minus
heightmode=minus
layer=award_gathering
colour=0x071820
fill=yes
onload=script1340(event_com, rs3_rect_dark)

// 810:60
[gather_award]
type=text
x=300
width=176
heightmode=minus
xmode=abs_right
layer=award_gathering
textfont=museo_sans_11pt_regular
text=Most clay gathered
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 810:61
[gather_award_pl]
type=text
x=195
width=105
heightmode=minus
xmode=abs_right
layer=award_gathering
textfont=museo_sans_11pt_regular
text=None
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:62
[gather_award_t]
type=text
x=115
width=80
heightmode=minus
xmode=abs_right
layer=award_gathering
textfont=museo_sans_11pt_regular
text=---
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:63
[gather_award_sc]
type=text
width=115
heightmode=minus
xmode=abs_right
layer=award_gathering
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10= 

// 810:64
[award_processing]
type=layer
y=40
height=20
widthmode=minus
layer=tab_awards

// 810:65
[com_65]
type=rectangle
widthmode=minus
heightmode=minus
layer=award_processing
colour=0x08202c
fill=yes
onload=script1340(event_com, rs3_rect_light)

// 810:66
[process_award]
type=text
x=300
width=176
heightmode=minus
xmode=abs_right
layer=award_processing
textfont=museo_sans_11pt_regular
text=Most clay processed
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 810:67
[process_award_pl]
type=text
x=195
width=105
heightmode=minus
xmode=abs_right
layer=award_processing
textfont=museo_sans_11pt_regular
text=None
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:68
[process_award_t]
type=text
x=115
width=80
heightmode=minus
xmode=abs_right
layer=award_processing
textfont=museo_sans_11pt_regular
text=---
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:69
[process_award_sc]
type=text
width=115
heightmode=minus
xmode=abs_right
layer=award_processing
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10= 

// 810:70
[award_depositing]
type=layer
y=60
height=20
widthmode=minus
layer=tab_awards

// 810:71
[com_71]
type=rectangle
widthmode=minus
heightmode=minus
layer=award_depositing
colour=0x071820
fill=yes
onload=script1340(event_com, rs3_rect_dark)

// 810:72
[deposit_award]
type=text
x=300
width=176
heightmode=minus
xmode=abs_right
layer=award_depositing
textfont=museo_sans_11pt_regular
text=Most clay deposited
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 810:73
[deposit_award_pl]
type=text
x=195
width=105
heightmode=minus
xmode=abs_right
layer=award_depositing
textfont=museo_sans_11pt_regular
text=None
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:74
[deposit_award_t]
type=text
x=115
width=80
heightmode=minus
xmode=abs_right
layer=award_depositing
textfont=museo_sans_11pt_regular
text=---
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:75
[deposit_award_sc]
type=text
width=115
heightmode=minus
xmode=abs_right
layer=award_depositing
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10= 

// 810:76
[award_damage]
type=layer
y=80
height=20
widthmode=minus
layer=tab_awards

// 810:77
[com_77]
type=rectangle
widthmode=minus
heightmode=minus
layer=award_damage
colour=0x08202c
fill=yes
onload=script1340(event_com, rs3_rect_light)

// 810:78
[damage_award]
type=text
x=300
width=176
heightmode=minus
xmode=abs_right
layer=award_damage
textfont=museo_sans_11pt_regular
text=Most damage done
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 810:79
[damage_award_pl]
type=text
x=195
width=105
heightmode=minus
xmode=abs_right
layer=award_damage
textfont=museo_sans_11pt_regular
text=None
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:80
[damage_award_t]
type=text
x=115
width=80
heightmode=minus
xmode=abs_right
layer=award_damage
textfont=museo_sans_11pt_regular
text=---
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:81
[damage_award_sc]
type=text
width=115
heightmode=minus
xmode=abs_right
layer=award_damage
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10= 

// 810:82
[award_kill]
type=layer
y=100
height=20
widthmode=minus
layer=tab_awards

// 810:83
[com_83]
type=rectangle
widthmode=minus
heightmode=minus
layer=award_kill
colour=0x071820
fill=yes
onload=script1340(event_com, rs3_rect_dark)

// 810:84
[kill_award]
type=text
x=300
width=176
heightmode=minus
xmode=abs_right
layer=award_kill
textfont=museo_sans_11pt_regular
text=Most players killed
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 810:85
[kill_award_pl]
type=text
x=195
width=105
heightmode=minus
xmode=abs_right
layer=award_kill
textfont=museo_sans_11pt_regular
text=None
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:86
[kill_award_t]
type=text
x=115
width=80
heightmode=minus
xmode=abs_right
layer=award_kill
textfont=museo_sans_11pt_regular
text=---
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:87
[kill_award_sc]
type=text
width=115
heightmode=minus
xmode=abs_right
layer=award_kill
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10= 

// 810:88
[award_death]
type=layer
y=120
height=20
widthmode=minus
layer=tab_awards

// 810:89
[com_89]
type=rectangle
widthmode=minus
heightmode=minus
layer=award_death
colour=0x08202c
fill=yes
onload=script1340(event_com, rs3_rect_light)

// 810:90
[death_award]
type=text
x=300
width=176
heightmode=minus
xmode=abs_right
layer=award_death
textfont=museo_sans_11pt_regular
text=Most deaths
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 810:91
[death_award_pl]
type=text
x=195
width=105
heightmode=minus
xmode=abs_right
layer=award_death
textfont=museo_sans_11pt_regular
text=None
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:92
[death_award_t]
type=text
x=115
width=80
heightmode=minus
xmode=abs_right
layer=award_death
textfont=museo_sans_11pt_regular
text=---
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:93
[death_award_sc]
type=text
width=115
heightmode=minus
xmode=abs_right
layer=award_death
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10= 

// 810:94
[award_best]
type=layer
y=140
height=20
widthmode=minus
layer=tab_awards

// 810:95
[com_95]
type=rectangle
widthmode=minus
heightmode=minus
layer=award_best
colour=0x071820
fill=yes
onload=script1340(event_com, rs3_rect_dark)

// 810:96
[best_award]
type=text
x=300
width=176
heightmode=minus
xmode=abs_right
layer=award_best
textfont=museo_sans_11pt_regular
text=Highest personal score
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 810:97
[best_award_pl]
type=text
x=195
width=105
heightmode=minus
xmode=abs_right
layer=award_best
textfont=museo_sans_11pt_regular
text=None
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:98
[best_award_t]
type=text
x=115
width=80
heightmode=minus
xmode=abs_right
layer=award_best
textfont=museo_sans_11pt_regular
text=---
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 2)

// 810:99
[best_award_sc]
type=text
width=115
heightmode=minus
xmode=abs_right
layer=award_best
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10= 

// 810:100
[award_useless]
type=layer
y=160
height=20
widthmode=minus
layer=tab_awards

// 810:101
[com_101]
type=rectangle
widthmode=minus
heightmode=minus
layer=award_useless
colour=0x08202c
fill=yes
onload=script1340(event_com, rs3_rect_light)

// 810:102
[useless_award]
type=text
x=300
width=176
heightmode=minus
xmode=abs_right
layer=award_useless
textfont=museo_sans_11pt_regular
text=Lowest personal score
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 810:103
[useless_award_pl]
type=text
x=195
width=105
heightmode=minus
xmode=abs_right
layer=award_useless
textfont=museo_sans_11pt_regular
text=None
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 2)

// 810:104
[useless_award_t]
type=text
x=115
width=80
heightmode=minus
xmode=abs_right
layer=award_useless
textfont=museo_sans_11pt_regular
text=---
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop10=yes
op10=   
onload=script10496(event_com, event_comsubid, 2)

// 810:105
[useless_award_sc]
type=text
width=115
heightmode=minus
xmode=abs_right
layer=award_useless
textfont=museo_sans_13pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop10=yes
op10=  

// 810:106
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(sc_scores:mainmodal_window_background, sc_scores:mainmodal_window_border, sc_scores:mainmodal_window_content, sc_scores:mainmodal_window_close_button, "Game Summary", 21218, string_1007)

// 810:107
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 810:108
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 810:109
[main_display]
type=layer
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
onload=script14305
onvarctransmit=script1946
onvarctransmitlist=sc_client_gathered_score,sc_client_processed_score,sc_client_deposited_score,sc_client_damaged_score,sc_client_killed_score,sc_client_player_team,sc_client_winning_team,sc_client_final_score,sc_client_team1_score,sc_client_team2_score

// 810:110
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 810:111
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 810:112
[tabs]
type=layer
height=27
widthmode=minus
layer=main_display

// 810:113
[score_tab]
type=layer
width=120
height=27
layer=tabs

// 810:114
[score_build]
type=layer
widthmode=minus
heightmode=minus
layer=score_tab

// 810:115
[score_click]
type=layer
widthmode=minus
heightmode=minus
layer=score_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14306(event_com, 1)

// 810:116
[awards_tab]
type=layer
x=120
width=120
height=27
layer=tabs

// 810:117
[awards_build]
type=layer
widthmode=minus
heightmode=minus
layer=awards_tab

// 810:118
[awards_click]
type=layer
widthmode=minus
heightmode=minus
layer=awards_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script14306(event_com, 2)

