// 802:0
[bg_1]
type=layer
widthmode=minus
heightmode=minus
layer=title_layer
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 802:1
[bg]
type=layer
width=100
height=40
layer=score_container
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 802:2
[score]
type=text
y=8
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=score_container
textfont=museo_sans_11pt_regular
text=Score:<br>12345
textalignh=1
textalignv=1
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)
ontimer=script1945

// 802:3
[score_container]
type=layer
x=10
y=1
width=100
height=40
layer=main_layer

// 802:4
[main_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
onload=script1944
onvarctransmit=script1944
onvarcstrtransmit=script1943
onvarctransmitlist=sc_tutorial_title_visible
onvarcstrtransmitlist=varclientstring_2455

// 802:5
[title_text]
type=text
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=title_layer
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 1)

// 802:6
[title_layer]
type=layer
y=50
width=456
height=45
xmode=abs_centre
layer=main_layer
hide=yes
onvarcstrtransmit=script1945
onvarcstrtransmitlist=varclientstring_2455

