// 269:0
[content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content

// 269:1
[bespoke_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(scab_rune_game:bespoke_window_background, scab_rune_game:bespoke_window_border, scab_rune_game:bespoke_window_content, scab_rune_game:bespoke_window_close, "", 21259, string_1007)

// 269:2
[com_2]
type=rectangle
x=-7
y=2
width=524
height=349
layer=content_layer
colour=0x251704
fill=yes
onload=script740
onvartransmit=script741
onvartransmitlist=scab_component_clicked

// 269:3
[com_3]
type=model
x=238
y=55
width=263
height=296
layer=content_layer
model=scab_workings
modelorigin_x=-113
modelorigin_y=-35
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=878
onvartransmit=script742
onvartransmitlist=scab_thief_clicked

// 269:4
[tool_1]
type=model
x=258
y=72
width=224
height=117
layer=content_layer
model=scab_tool_01_a
modelorigin_x=-114
modelorigin_y=38
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=878

// 269:5
[tool_2]
type=model
x=258
y=196
width=225
height=28
layer=content_layer
model=scab_tool_02_a
modelorigin_x=-114
modelorigin_y=-42
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=878

// 269:6
[tool_3]
type=model
x=258
y=227
width=224
height=69
layer=content_layer
model=scab_tool_03_a
modelorigin_x=-114
modelorigin_y=-93
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=878

// 269:7
[com_7]
type=model
x=-40
y=-2
width=597
height=373
layer=content_layer
model=scab_top
modelorigin_x=-2
modelorigin_y=-16
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=878

// 269:8
[com_8]
type=model
x=-36
y=3
width=293
height=362
layer=content_layer
model=scab_top_screws_01
modelorigin_x=146
modelorigin_y=-16
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=878

// 269:9
[com_9]
type=model
x=265
y=3
width=288
height=362
layer=content_layer
model=scab_top_screws_02
modelorigin_x=-153
modelorigin_y=-16
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=878

// 269:10
[scab_rune_1]
type=model
x=54
y=90
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:11
[scab_rune_2]
type=model
x=86
y=90
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:12
[scab_rune_3]
type=model
x=119
y=90
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:13
[scab_rune_4]
type=model
x=152
y=90
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:14
[scab_rune_5]
type=model
x=185
y=90
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:15
[scab_rune_6]
type=model
x=218
y=90
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:16
[scab_rune_7]
type=model
x=54
y=122
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:17
[scab_rune_8]
type=model
x=86
y=122
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:18
[scab_rune_9]
type=model
x=119
y=122
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:19
[scab_rune_10]
type=model
x=152
y=122
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:20
[scab_rune_11]
type=model
x=185
y=122
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:21
[scab_rune_12]
type=model
x=218
y=122
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:22
[scab_rune_13]
type=model
x=54
y=154
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:23
[scab_rune_14]
type=model
x=86
y=154
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:24
[scab_rune_15]
type=model
x=119
y=154
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:25
[scab_rune_16]
type=model
x=152
y=154
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:26
[scab_rune_17]
type=model
x=185
y=154
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:27
[scab_rune_18]
type=model
x=218
y=154
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:28
[scab_rune_19]
type=model
x=54
y=186
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:29
[scab_rune_20]
type=model
x=86
y=186
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:30
[scab_rune_21]
type=model
x=119
y=186
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:31
[scab_rune_22]
type=model
x=152
y=186
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:32
[scab_rune_23]
type=model
x=185
y=186
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:33
[scab_rune_24]
type=model
x=218
y=186
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:34
[scab_rune_25]
type=model
x=54
y=218
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:35
[scab_rune_26]
type=model
x=86
y=218
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:36
[scab_rune_27]
type=model
x=119
y=218
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:37
[scab_rune_28]
type=model
x=152
y=218
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:38
[scab_rune_29]
type=model
x=185
y=218
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:39
[scab_rune_30]
type=model
x=218
y=218
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:40
[scab_rune_31]
type=model
x=54
y=250
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:41
[scab_rune_32]
type=model
x=86
y=250
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:42
[scab_rune_33]
type=model
x=119
y=250
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:43
[scab_rune_34]
type=model
x=152
y=250
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:44
[scab_rune_35]
type=model
x=185
y=250
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:45
[scab_rune_36]
type=model
x=218
y=250
width=30
height=31
layer=content_layer
model=scab_blank_rune
modelorigin_x=-3
modelorigin_y=-18
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750
transmitop1=yes
op1=Press

// 269:46
[tool_01_helper]
type=layer
x=279
y=87
width=182
height=94
layer=content_layer
transmitop1=yes
op1=Manipulate cog

// 269:47
[tool_02_helper]
type=layer
x=278
y=182
width=182
height=44
layer=content_layer
transmitop1=yes
op1=Manipulate pinion

// 269:48
[tool_03_helper]
type=layer
x=278
y=227
width=182
height=48
layer=content_layer
transmitop1=yes
op1=Manipulate switch

// 269:49
[counter_01]
type=text
x=326
y=294
width=32
height=32
layer=content_layer
textfont=quill_oblique_large
textshadow=yes
colour=0xbf751d

// 269:50
[counter_02]
type=text
x=361
y=294
width=32
height=32
layer=content_layer
textfont=quill_oblique_large
textshadow=yes
colour=0xbf751d

// 269:51
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 269:52
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 269:53
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 269:54
[bespoke_window_close]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window
transmitop1=yes
op1=Close
onop=closebutton_click

