// 997:0
[mainmodal_window]
type=layer
width=800
height=390
xmode=abs_centre
ymode=abs_centre
onload=script8420(season2022_puzzle_box:mainmodal_window_background, season2022_puzzle_box:mainmodal_window_border, season2022_puzzle_box:mainmodal_window_content, season2022_puzzle_box:mainmodal_window_close_button, "Infernal Puzzle Box", 21218, string_1007)

// 997:1
[mainmodal_window_background]
type=layer
width=784
height=380
xmode=abs_centre
layer=mainmodal_window

// 997:2
[mainmodal_window_content]
type=layer
width=784
height=373
xmode=abs_centre
layer=mainmodal_window

// 997:3
[panel_1]
type=panel
width=768
height=357
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
noclickthrough=yes
isvertical=no
childspacing=10

// 997:4
[left_panel]
type=layer
width=165
heightmode=minus
layer=panel_1

// 997:5
[panel_2]
type=panel
widthmode=minus
heightmode=minus
layer=left_panel
noclickthrough=yes
isvertical=yes
childspacing=5

// 997:6
[top_layer]
type=layer
height=112
widthmode=minus
layer=panel_2

// 997:7
[object_image]
type=graphic
x=5
y=181
width=160
height=160
layer=panel_2
noclickthrough=yes
graphic=quest_doc_ui_cube_of_zamorak
colour=0xffffff
clickmask=no

// 997:8
[bottom_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=panel_2

// 997:9
[com_9]
type=graphic
y=7
width=25
height=25
xmode=abs_centre
layer=top_layer
noclickthrough=yes
graphic="rs3_icon_info_16px,3"
colour=0xffffff
clickmask=no

// 997:10
[info_text]
type=text
y=37
width=10
height=37
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=top_layer
noclickthrough=yes
textfont=notosans_14
text=Complete the listed tasks to unlock tiered benefits.
textalignh=1
textalignv=1
onload=script14111(event_com, -1, 14931919)

// 997:11
[tier_text]
type=text
width=20
height=25
widthmode=minus
xmode=abs_centre
layer=bottom_layer
noclickthrough=yes
textfont=notosans_18
text=Tier
textalignh=1
textalignv=1
onload=script14111(event_com, -1, 14931919)

// 997:12
[tier_number_text]
type=text
y=25
width=20
height=20
widthmode=minus
xmode=abs_centre
layer=bottom_layer
noclickthrough=yes
textfont=notosans_18
text=2
textalignh=1
textalignv=1
onload=script14111(event_com, -1, 14931919)
onvarctransmit=script16692(event_com)
onvarctransmitlist=season2022_tier_unlocked

// 997:13
[unlocked_text]
type=text
y=45
width=20
height=20
widthmode=minus
xmode=abs_centre
layer=bottom_layer
noclickthrough=yes
textfont=notosans_12
text=Unlocked
textalignh=1
textalignv=1
onload=script14111(event_com, -1, 14931919)

// 997:14
[right_panel]
type=layer
width=595
height=356
xmode=abs_right
layer=panel_1

// 997:15
[task_grid]
type=grid
widthmode=minus
heightmode=minus
layer=right_panel
noclickthrough=yes
childspacing=9
layoutparams_x=3
layoutparams_y=2
layoutparams_mode=no

// 997:16
[layer_6]
type=layer
y=2
width=193
height=170
layer=task_grid
onvarctransmit=script16693(event_com, 1)
onvarctransmitlist=season2022_tier_unlocked

// 997:17
[layer_5]
type=layer
y=2
width=193
height=170
xmode=abs_centre
layer=task_grid
onvarctransmit=script16693(event_com, 2)
onvarctransmitlist=season2022_tier_unlocked

// 997:18
[layer_4]
type=layer
y=2
width=193
height=170
xmode=abs_right
layer=task_grid
onvarctransmit=script16693(event_com, 3)
onvarctransmitlist=season2022_tier_unlocked

// 997:19
[layer_3]
type=layer
width=193
height=170
ymode=abs_bottom
layer=task_grid
onvarctransmit=script16693(event_com, 4)
onvarctransmitlist=season2022_tier_unlocked

// 997:20
[layer_2]
type=layer
width=193
height=170
xmode=abs_centre
ymode=abs_bottom
layer=task_grid
onvarctransmit=script16693(event_com, 5)
onvarctransmitlist=season2022_tier_unlocked

// 997:21
[layer_1]
type=layer
width=193
height=170
xmode=abs_right
ymode=abs_bottom
layer=task_grid
onvarctransmit=script16693(event_com, 6)
onvarctransmitlist=season2022_tier_unlocked

// 997:22
[mainmodal_window_border]
type=layer
width=800
height=373
layer=mainmodal_window

// 997:23
[mainmodal_window_close_button]
type=layer
width=800
height=400
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

