// 200:0
[com_0]
type=rectangle
y=40
width=30
height=60
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=todays_challenge_layer
colour=0x0d2e3e
fill=yes

// 200:1
[todays_title]
type=text
y=5
width=100
height=40
widthmode=minus
xmode=abs_centre
layer=todays_challenge_layer
textfont=cinzel_18pt_bold_multiline
textlineheight=20
textalignh=1
textalignv=1
colour=0xffcd0f

// 200:2
[com_2]
type=graphic
x=2
y=4
width=5
height=5
layer=progress_bar
graphic=rs3_slider_bar_end
colour=0xffffff
clickmask=no

// 200:3
[com_3]
type=graphic
x=2
y=4
width=5
height=5
xmode=abs_right
layer=progress_bar
graphic=rs3_slider_bar_end
hflip=yes
colour=0xffffff
clickmask=no

// 200:4
[com_4]
type=graphic
x=7
y=4
width=12
height=5
widthmode=minus
layer=progress_bar
graphic=rs3_slider_bar_tile
tiling=yes
colour=0xffffff
clickmask=no

// 200:5
[com_5]
type=graphic
width=6
height=13
layer=progress_background
graphic=rs3_slider_bar_backing_end
colour=0xffffff
clickmask=no

// 200:6
[com_6]
type=graphic
width=6
height=13
xmode=abs_right
layer=progress_background
graphic=rs3_slider_bar_backing_end
hflip=yes
colour=0xffffff
clickmask=no

// 200:7
[com_7]
type=graphic
width=12
height=13
widthmode=minus
xmode=abs_centre
layer=progress_background
graphic=rs3_slider_bar_backing_tile
tiling=yes
colour=0xffffff
clickmask=no

// 200:8
[progress_background]
type=layer
width=420
height=10
xmode=abs_centre
ymode=abs_centre
layer=progress_layer
onvarctransmit=script3953
onvarctransmitlist=sep2013_client_num_available

// 200:9
[title_text]
type=text
y=5
width=130
height=30
widthmode=minus
xmode=abs_centre
layer=top_layer
textfont=cinzel_18pt_bold_multiline
text=Rhino Awareness
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 200:10
[com_10]
type=line
y=34
width=30
widthmode=minus
xmode=abs_centre
layer=top_layer
linewid=2
colour=0x1c2c34

// 200:11
[com_11]
type=rectangle
y=60
width=30
height=52
widthmode=minus
xmode=abs_centre
layer=top_layer
colour=0x0d2e3e
fill=yes

// 200:12
[about_text]
type=text
y=40
width=50
height=30
widthmode=minus
xmode=abs_centre
layer=top_layer
textfont=museo_sans_13pt_regular
text=Are you ready for a new question?
textalignh=1
textshadow=yes
colour=0xffcd05

// 200:13
[com_13]
type=line
y=118
width=30
widthmode=minus
xmode=abs_centre
layer=top_layer
linewid=2
colour=0x1c2c34

// 200:14
[com_14]
type=line
y=160
width=30
widthmode=minus
xmode=abs_centre
layer=top_layer
linewid=2
colour=0x1c2c34

// 200:15
[completed_text]
type=text
y=60
width=200
height=40
xmode=abs_centre
layer=top_layer
textfont=museo_sans_13pt_regular
text=Challenges completed:  <col=ffffff>0/10
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e1

// 200:16
[todays_button]
type=layer
x=-110
y=120
width=210
height=39
xmode=abs_centre
layer=top_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script3951

// 200:17
[rewards_button]
type=layer
x=110
y=120
width=210
height=39
xmode=abs_centre
layer=top_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script3950

// 200:18
[progress_layer]
type=layer
y=95
width=420
height=13
xmode=abs_centre
layer=top_layer

// 200:19
[progress_bar]
type=layer
x=-153
y=-1
width=115
height=10
xmode=abs_centre
ymode=abs_centre
layer=progress_layer
onvarctransmit=script3958
onvarctransmitlist=sep2013_client_num_complete

// 200:20
[com_20]
type=line
widthmode=minus
layer=progress_layer
colour=0x162c34

// 200:21
[com_21]
type=line
y=1
widthmode=minus
ymode=abs_bottom
layer=progress_layer
colour=0x162c34

// 200:22
[top_layer]
type=layer
height=170
widthmode=minus
xmode=abs_centre
layer=root_layer

// 200:23
[com_23]
type=rectangle
y=28
width=40
height=30
widthmode=minus
xmode=abs_centre
layer=rewards_layer
colour=0x071820
fill=yes

// 200:24
[com_24]
type=rectangle
y=60
width=40
height=30
widthmode=minus
xmode=abs_centre
layer=rewards_layer
colour=0x1b2c34
fill=yes

// 200:25
[todays_description]
type=text
y=50
width=50
height=38
widthmode=minus
xmode=abs_centre
layer=todays_challenge_layer
textfont=museo_sans_11pt_regular
textlineheight=12
textalignh=1
colour=0xaed0e0

// 200:26
[todays_progress]
type=text
y=85
width=50
height=47
widthmode=minus
xmode=abs_centre
layer=todays_challenge_layer
hide=yes
textfont=museo_sans_11pt_regular
textlineheight=12
textalignh=1
colour=0x7592a0

// 200:27
[todays_hints_title]
type=text
y=123
width=50
height=30
widthmode=minus
xmode=abs_centre
layer=todays_challenge_layer
hide=yes
textfont=cinzel_15pt_bold
text=Hints
textalignh=1
textalignv=1
colour=0xffcd0f

// 200:28
[todays_challenge_layer]
type=layer
widthmode=minus
heightmode=minus
layer=subwindow_layer

// 200:29
[todays_hints]
type=text
y=150
width=50
height=64
widthmode=minus
xmode=abs_centre
layer=todays_challenge_layer
hide=yes
textfont=museo_sans_11pt_regular
textlineheight=12
textalignh=1
colour=0x7592a0

// 200:30
[united_for_wildlife_text]
type=text
x=-50
y=50
width=160
height=32
xmode=abs_centre
ymode=abs_centre
layer=todays_challenge_layer
textfont=museo_sans_11pt_regular
text=In association with
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 200:31
[united_for_wildlife_logo]
type=graphic
x=70
y=50
width=82
height=60
xmode=abs_centre
ymode=abs_centre
layer=todays_challenge_layer
graphic=rs3_promo_united_for_wildlife
colour=0xffffff
clickmask=no

// 200:32
[answer_question_layer]
type=layer
y=-10
width=250
height=27
xmode=abs_centre
ymode=abs_centre
layer=todays_challenge_layer

// 200:33
[rewards_layer]
type=layer
widthmode=minus
heightmode=minus
layer=subwindow_layer
hide=yes

// 200:34
[com_34]
type=rectangle
y=92
width=40
height=30
widthmode=minus
xmode=abs_centre
layer=rewards_layer
colour=0x071820
fill=yes

// 200:35
[com_35]
type=rectangle
y=124
width=40
height=30
widthmode=minus
xmode=abs_centre
layer=rewards_layer
colour=0x1b2c34
fill=yes

// 200:36
[com_36]
type=rectangle
y=156
width=40
height=60
widthmode=minus
xmode=abs_centre
layer=rewards_layer
colour=0x071820
fill=yes

// 200:37
[com_37]
type=text
x=32
y=28
width=168
height=30
layer=rewards_layer
textfont=museo_sans_11pt_regular
text=5 Challenges complete: 
textlineheight=12
textalignv=1
colour=0x7592a0

// 200:38
[com_38]
type=text
x=32
y=60
width=168
height=30
layer=rewards_layer
textfont=museo_sans_11pt_regular
text=10 Challenges complete:
textlineheight=12
textalignv=1
colour=0x7592a0

// 200:39
[com_39]
type=text
x=32
y=92
width=168
height=30
layer=rewards_layer
textfont=museo_sans_11pt_regular
text=15 Challenges complete:
textlineheight=12
textalignv=1
colour=0x7592a0

// 200:40
[com_40]
type=text
x=32
y=124
width=168
height=30
layer=rewards_layer
textfont=museo_sans_11pt_regular
text=20 Challenges complete:
textlineheight=12
textalignv=1
colour=0x7592a0

// 200:41
[com_41]
type=text
x=32
y=156
width=168
height=60
layer=rewards_layer
textfont=museo_sans_11pt_regular
text=25 Challenges complete:
textlineheight=12
textalignv=1
colour=0x7592a0

// 200:42
[reward_description_1]
type=text
x=200
y=28
width=242
height=30
widthmode=minus
layer=rewards_layer
textfont=museo_sans_11pt_regular
text=Super hero costume
textlineheight=12
textalignv=1
colour=0x7592a0

// 200:43
[reward_description_2]
type=text
x=200
y=60
width=242
height=30
widthmode=minus
layer=rewards_layer
textfont=museo_sans_11pt_regular
text=Super and Supervillain titles, 5k loyalty points
textlineheight=12
textalignv=1
colour=0x7592a0

// 200:44
[reward_description_3]
type=text
x=200
y=92
width=242
height=30
widthmode=minus
layer=rewards_layer
textfont=museo_sans_11pt_regular
text=Super September emote, 10k loyalty points
textlineheight=12
textalignv=1
colour=0x7592a0

// 200:45
[reward_description_4]
type=text
x=200
y=124
width=242
height=30
widthmode=minus
layer=rewards_layer
textfont=museo_sans_11pt_regular
text=Super hero lightning override, 15k loyalty points
textlineheight=12
textalignv=1
colour=0x7592a0

// 200:46
[reward_description_5]
type=text
x=200
y=156
width=242
height=60
widthmode=minus
layer=rewards_layer
textfont=museo_sans_11pt_regular
text=Super hero claws and shield overrides, Superior hero costume, 60k loyalty points
textlineheight=12
textalignv=1
colour=0x7592a0

// 200:47
[reward_given_1]
type=graphic
x=24
y=34
width=18
height=18
xmode=abs_right
layer=rewards_layer
hide=yes
graphic="rs3_character_interface_register_ticks,1"
colour=0xffffff
clickmask=no

// 200:48
[reward_given_2]
type=graphic
x=24
y=66
width=18
height=18
xmode=abs_right
layer=rewards_layer
hide=yes
graphic="rs3_character_interface_register_ticks,1"
colour=0xffffff
clickmask=no

// 200:49
[reward_given_3]
type=graphic
x=24
y=98
width=18
height=18
xmode=abs_right
layer=rewards_layer
hide=yes
graphic="rs3_character_interface_register_ticks,1"
colour=0xffffff
clickmask=no

// 200:50
[reward_given_4]
type=graphic
x=24
y=130
width=18
height=18
xmode=abs_right
layer=rewards_layer
hide=yes
graphic="rs3_character_interface_register_ticks,1"
colour=0xffffff
clickmask=no

// 200:51
[reward_given_5]
type=graphic
x=24
y=177
width=18
height=18
xmode=abs_right
layer=rewards_layer
hide=yes
graphic="rs3_character_interface_register_ticks,1"
colour=0xffffff
clickmask=no

// 200:52
[rewards]
type=text
width=500
height=30
xmode=abs_centre
layer=rewards_layer
textfont=cinzel_18pt_bold_multiline
text=REWARDS
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcd0f

// 200:53
[root_layer]
type=layer
width=458
height=404

// 200:54
[subwindow_layer]
type=layer
y=164
height=170
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root_layer

// 200:55
[rewards_button_left]
type=graphic
width=25
height=27
ymode=abs_centre
layer=rewards_button
graphic="rs3_btn_main_positive,0"
tiling=yes
colour=0xffffff
clickmask=no

// 200:56
[rewards_button_centre]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rewards_button
graphic="rs3_btn_main_positive,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 200:57
[rewards_button_right]
type=graphic
width=25
height=27
xmode=abs_right
ymode=abs_centre
layer=rewards_button
graphic="rs3_btn_main_positive,2"
tiling=yes
colour=0xffffff
clickmask=no

// 200:58
[loginbutton_text]
type=text
y=9
width=610
height=20
xmode=abs_centre
layer=rewards_button
textfont=cinzel_13pt_bold
text=Rewards
textalignh=1
textalignv=1
colour=0x000000

// 200:59
[todays_button_left]
type=graphic
width=25
height=27
ymode=abs_centre
layer=todays_button
graphic="rs3_btn_main_positive,0"
tiling=yes
colour=0xffffff
clickmask=no

// 200:60
[todays_button_centre]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=todays_button
graphic="rs3_btn_main_positive,1"
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 200:61
[todays_button_right]
type=graphic
width=25
height=27
xmode=abs_right
ymode=abs_centre
layer=todays_button
graphic="rs3_btn_main_positive,2"
tiling=yes
colour=0xffffff
clickmask=no

// 200:62
[loginbutton_1]
type=text
y=9
width=610
height=20
xmode=abs_centre
layer=todays_button
textfont=cinzel_13pt_bold
text=Today's Challenge
textalignh=1
textalignv=1
colour=0x000000

// 200:63
[answer_question_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=answer_question_layer
onload=script7041(event_com)

// 200:64
[answer_question_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=answer_question_layer
onload=script7042(event_com)

// 200:65
[answer_question_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=answer_question_layer
onload=script7044(event_com)

// 200:66
[answer_question_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=answer_question_layer
hide=yes
onload=script7047(event_com)

// 200:67
[answer_question_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=answer_question_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 200:68
[answer_question_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=answer_question_layer
hide=yes
onload=script7060(event_com)

// 200:69
[answer_question_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=answer_question_layer

// 200:70
[answer_question_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=answer_question_text_layer
textfont=cinzel_13pt_bold
text=Answer Question
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

