// 1669:0
[pose1_button_layer]
type=layer
x=-50
y=-60
width=90
height=115
xmode=abs_centre
ymode=abs_centre

// 1669:1
[pose2_button_layer]
type=layer
x=50
y=-60
width=90
height=115
xmode=abs_centre
ymode=abs_centre

// 1669:2
[pose3_button_layer]
type=layer
x=-50
y=60
width=90
height=115
xmode=abs_centre
ymode=abs_centre

// 1669:3
[pose4_button_layer]
type=layer
x=50
y=60
width=90
height=115
xmode=abs_centre
ymode=abs_centre

// 1669:4
[main_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
scrollwidth=174
scrollheight=552
onload=script5908
onvartransmit=script5949
onvartransmitlist=elfcity_perm8

// 1669:5
[title]
type=text
y=5
height=21
widthmode=minus
xmode=abs_centre
textfont=museo_sans_13pt_regular
text=Select a pose:
textlineheight=21
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1669:6
[pose1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7699(event_com)

// 1669:7
[pose1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7728(event_com)

// 1669:8
[pose1_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
onload=script7729(event_com)

// 1669:9
[pose1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
hide=yes
onload=script8225(event_com)

// 1669:10
[pose1_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose1_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1669:11
[pose1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer
hide=yes
onload=script8228(event_com)

// 1669:12
[pose1_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_layer

// 1669:13
[com_13]
type=model
y=-3
width=61
height=74
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_text_layer
model=elf_lady_hefin
modelorigin_x=0
modelorigin_y=36
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1400
modelanim=elf_2014_player_crane_idle

// 1669:14
[com_14]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose1_button_text_layer
textfont=museo_sans_13pt_regular
text=1. Crane
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1669:15
[pose2_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7699(event_com)

// 1669:16
[pose2_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7728(event_com)

// 1669:17
[pose2_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
onload=script7729(event_com)

// 1669:18
[pose2_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
hide=yes
onload=script8225(event_com)

// 1669:19
[pose2_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose2_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1669:20
[pose2_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer
hide=yes
onload=script8228(event_com)

// 1669:21
[pose2_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_layer

// 1669:22
[com_22]
type=model
y=-3
width=34
height=74
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_text_layer
model=elf_lady_hefin
modelorigin_x=-2
modelorigin_y=36
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1400
modelanim=elf_2014_player_bow_idle

// 1669:23
[com_23]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose2_button_text_layer
textfont=museo_sans_13pt_regular
text=2. Bow
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1669:24
[pose3_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7699(event_com)

// 1669:25
[pose3_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7728(event_com)

// 1669:26
[pose3_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
onload=script7729(event_com)

// 1669:27
[pose3_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
hide=yes
onload=script8225(event_com)

// 1669:28
[pose3_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose3_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1669:29
[pose3_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer
hide=yes
onload=script8228(event_com)

// 1669:30
[pose3_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_layer

// 1669:31
[com_31]
type=model
y=-3
width=35
height=74
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_text_layer
model=elf_lady_hefin
modelorigin_x=2
modelorigin_y=36
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1400
modelanim=elf_2014_player_lotus_idle

// 1669:32
[com_32]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose3_button_text_layer
textfont=museo_sans_13pt_regular
text=3. Lotus
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

// 1669:33
[pose4_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7699(event_com)

// 1669:34
[pose4_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7728(event_com)

// 1669:35
[pose4_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
onload=script7729(event_com)

// 1669:36
[pose4_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
hide=yes
onload=script8225(event_com)

// 1669:37
[pose4_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pose4_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1669:38
[pose4_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer
hide=yes
onload=script8228(event_com)

// 1669:39
[pose4_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_layer

// 1669:40
[com_40]
type=model
y=-3
width=51
height=81
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_text_layer
model=elf_lady_hefin
modelorigin_x=-10
modelorigin_y=40
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1400
modelanim=elf_2014_player_ward_idle

// 1669:41
[com_41]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pose4_button_text_layer
textfont=museo_sans_13pt_regular
text=4. Ward
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script4242(event_com, event_comsubid, museo_sans_11pt_regular, museo_sans_13pt_regular, 3)

