// 838:0
[universe]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=sidebook_build(event_com, sidebook:titlelayer, sidebook:textlayer)
onvarctransmit=sidebook_build(sidebook:universe, sidebook:titlelayer, sidebook:textlayer)
onvarctransmitlist=sidebook_currentpage

// 838:1
[titlelayer]
type=layer
height=28
widthmode=minus
xmode=abs_centre
layer=universe

// 838:2
[textlayer]
type=layer
y=28
height=44
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=universe

// 838:3
[title]
type=text
width=20
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=titlelayer
textfont=cinzel_12pt_bold
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 838:4
[close]
type=graphic
x=3
width=16
height=16
xmode=abs_right
ymode=abs_centre
layer=titlelayer
graphic="rs3_btn_close_24px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close

// 838:5
[buttons]
type=layer
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=universe

// 838:6
[pageplus]
type=graphic
x=15
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=buttons
graphic="catcon_catapult_arrows,2"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Next page
onmouseover=graphic_swapper(event_com, "catcon_catapult_arrows,3")
onmouseleave=graphic_swapper(event_com, "catcon_catapult_arrows,2")
onop=script2066(event_op, sidebook:universe, sidebook:titlelayer, sidebook:textlayer)

// 838:7
[pageminus]
type=graphic
x=-15
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=buttons
graphic="catcon_catapult_arrows,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Previous page
onmouseover=graphic_swapper(event_com, "catcon_catapult_arrows,1")
onmouseleave=graphic_swapper(event_com, "catcon_catapult_arrows,0")
onop=script2067(event_op, sidebook:universe, sidebook:titlelayer, sidebook:textlayer)

// 838:8
[pageplusplus]
type=graphic
x=47
width=20
height=16
xmode=abs_centre
ymode=abs_centre
layer=buttons
graphic="gnome_copter_arrows,2"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Final page
onmouseover=graphic_swapper(event_com, "gnome_copter_arrows,3")
onmouseleave=graphic_swapper(event_com, "gnome_copter_arrows,2")
onop=script2069(event_op, sidebook:universe, sidebook:titlelayer, sidebook:textlayer)

// 838:9
[pageminusminus]
type=graphic
x=-47
width=20
height=16
xmode=abs_centre
ymode=abs_centre
layer=buttons
graphic="gnome_copter_arrows,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=First page
onmouseover=graphic_swapper(event_com, "gnome_copter_arrows,1")
onmouseleave=graphic_swapper(event_com, "gnome_copter_arrows,0")
onop=script2068(event_op, sidebook:universe, sidebook:titlelayer, sidebook:textlayer)

