// 1358:0
[dodging_death_graphic]
type=graphic
x=-6
y=-7
width=126
height=185
layer=dodging_death
graphic="aif_chs_ft_dodging_death_1,0"
colour=0xffffff
clickmask=no
onmouseover=script6863(event_com)
onmouseleave=script6862(event_com)
onrelease=graphic_swapper(event_com, "aif_chs_ft_dodging_death_1,3")
onhold=graphic_swapper(event_com, "aif_chs_ft_dodging_death_1,2")

// 1358:1
[healing_box_graphic]
type=graphic
x=-6
y=-7
width=126
height=185
layer=healing_box
graphic="aif_chs_ft_instaheal_1,0"
colour=0xffffff
clickmask=no
onmouseover=script6863(event_com)
onmouseleave=script6862(event_com)
onrelease=graphic_swapper(event_com, "aif_chs_ft_instaheal_1,3")
onhold=graphic_swapper(event_com, "aif_chs_ft_instaheal_1,2")

// 1358:2
[instakill_dart_graphic]
type=graphic
x=-6
y=-7
width=126
height=185
layer=instakill_dart
graphic="aif_chs_ft_instakilldart_1,0"
colour=0xffffff
clickmask=no
onmouseover=script6863(event_com)
onmouseleave=script6862(event_com)
onrelease=graphic_swapper(event_com, "aif_chs_ft_instakilldart_1,3")
onhold=graphic_swapper(event_com, "aif_chs_ft_instakilldart_1,2")

// 1358:3
[deposit_box_graphic]
type=graphic
x=-6
y=-7
width=126
height=185
layer=deposit_box
graphic="aif_chs_ft_remote_banking_1,0"
colour=0xffffff
clickmask=no
onmouseover=script6863(event_com)
onmouseleave=script6862(event_com)
onrelease=graphic_swapper(event_com, "aif_chs_ft_remote_banking_1,3")
onhold=graphic_swapper(event_com, "aif_chs_ft_remote_banking_1,2")

// 1358:4
[confirm_button_graphic]
type=graphic
width=179
height=30
xmode=abs_centre
ymode=abs_centre
layer=confirm_button
graphic="aif_sml_green_btn_1,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "aif_sml_green_btn_1,1")
onmouseleave=graphic_swapper(event_com, "aif_sml_green_btn_1,0")
onrelease=graphic_swapper(event_com, "aif_sml_green_btn_1,0")
onhold=graphic_swapper(event_com, "aif_sml_green_btn_1,2")

// 1358:5
[com_5]
type=graphic
x=1
y=1
width=160
height=100
layer=background_image
graphic="aif_choose_fate_bck_grd_1,0"
colour=0xffffff
clickmask=no

// 1358:6
[com_6]
type=graphic
x=160
y=1
width=160
height=100
layer=background_image
graphic="aif_choose_fate_bck_grd_1,1"
colour=0xffffff
clickmask=no

// 1358:7
[com_7]
type=graphic
x=320
y=1
width=160
height=100
layer=background_image
graphic="aif_choose_fate_bck_grd_1,2"
colour=0xffffff
clickmask=no

// 1358:8
[com_8]
type=graphic
x=2
y=101
width=160
height=100
layer=background_image
graphic="aif_choose_fate_bck_grd_1,3"
colour=0xffffff
clickmask=no

// 1358:9
[com_9]
type=graphic
x=162
y=101
width=160
height=100
layer=background_image
graphic="aif_choose_fate_bck_grd_1,4"
colour=0xffffff
clickmask=no

// 1358:10
[com_10]
type=graphic
x=321
y=101
width=160
height=100
layer=background_image
graphic="aif_choose_fate_bck_grd_1,5"
colour=0xffffff
clickmask=no

// 1358:11
[com_11]
type=graphic
x=2
y=201
width=160
height=100
layer=background_image
graphic="aif_choose_fate_bck_grd_1,6"
colour=0xffffff
clickmask=no

// 1358:12
[com_12]
type=graphic
x=162
y=201
width=160
height=100
layer=background_image
graphic="aif_choose_fate_bck_grd_1,7"
colour=0xffffff
clickmask=no

// 1358:13
[com_13]
type=graphic
x=322
y=201
width=160
height=100
layer=background_image
graphic="aif_choose_fate_bck_grd_1,8"
colour=0xffffff
clickmask=no

// 1358:14
[deposit_box]
type=layer
x=171
y=18
width=112
height=172
xmode=abs_centre
layer=main_layer
transmitop1=yes
op1=Claim - Portable Deposit Box
onop=script6864(1)

// 1358:15
[deposit_box_text]
type=graphic
x=9
y=10
width=95
height=50
layer=deposit_box
graphic="aif_choose_fate_cards_text_1,3"
colour=0xffffff
clickmask=no

// 1358:16
[instakill_dart]
type=layer
x=-57
y=18
width=112
height=172
xmode=abs_centre
layer=main_layer
transmitop1=yes
op1=Claim - Instakill Dart
onop=script6864(2)

// 1358:17
[instakill_dart_text]
type=graphic
x=9
y=9
width=95
height=50
layer=instakill_dart
graphic="aif_choose_fate_cards_text_1,1"
colour=0xffffff
clickmask=no

// 1358:18
[healing_box]
type=layer
x=57
y=18
width=112
height=172
xmode=abs_centre
layer=main_layer
transmitop1=yes
op1=Claim - Emergency Healing Box
onop=script6864(3)

// 1358:19
[healing_box_text]
type=graphic
x=8
y=10
width=95
height=50
layer=healing_box
graphic="aif_choose_fate_cards_text_1,2"
colour=0xffffff
clickmask=no

// 1358:20
[background_layer]
type=layer
width=512
height=334
xmode=abs_centre
hide=yes
onload=script6859

// 1358:21
[gold_window_no_title_layer]
type=layer
width=512
height=334
xmode=abs_centre

// 1358:22
[background_image]
type=layer
x=14
y=17
width=484
height=305

// 1358:23
[main_layer]
type=layer
x=14
y=12
width=484
height=308
ontimer=script6239

// 1358:24
[gold_window_no_title_close_button_layer]
type=layer
x=9
y=9
width=16
height=15
xmode=abs_right
onload=script4256(event_com)

// 1358:25
[dodging_death]
type=layer
x=-171
y=18
width=112
height=172
xmode=abs_centre
layer=main_layer
transmitop1=yes
op1=Claim - Dodging Death
onop=script6864(4)

// 1358:26
[dodging_death_text]
type=graphic
x=10
y=9
width=95
height=50
layer=dodging_death
graphic="aif_choose_fate_cards_text_1,0"
colour=0xffffff
clickmask=no

// 1358:27
[tokens_layer]
type=layer
x=44
y=268
width=111
height=24
layer=main_layer

// 1358:28
[com_28]
type=text
width=9583
height=16391
widthmode=proportion
heightmode=proportion
layer=tokens_layer
textfont=b12_full
text=Tokens:
textalignh=1
textalignv=1
textshadow=yes

// 1358:29
[tokens_remaining]
type=text
x=63
y=2
width=27
height=21
layer=tokens_layer
textfont=b12_full
text=4
textalignh=1
textalignv=1
textshadow=yes
onload=script6858(event_com)
onvartransmit=script6858(event_com)
onvartransmitlist=sizzling_perm

// 1358:30
[confirm_button]
type=layer
y=122
width=179
height=30
xmode=abs_centre
ymode=abs_centre
layer=main_layer
transmitop1=yes
op1=Confirm

// 1358:31
[button_text]
type=text
width=148
height=20
xmode=abs_centre
ymode=abs_centre
layer=confirm_button
textfont=b12_full
text=Confirm Selection
textalignh=1
textalignv=1
textshadow=yes

// 1358:32
[description_layer]
type=layer
x=35
y=204
width=413
height=93
layer=main_layer

// 1358:33
[description]
type=text
y=-21
width=395
height=62
xmode=abs_centre
ymode=abs_centre
layer=description_layer
textfont=p11_full
textalignh=1
textalignv=1
textshadow=yes

// 1358:34
[gold_window_background_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=background_layer
onload=script4260(event_com)

// 1358:35
[gold_window_content_layer]
type=layer
x=12
y=33
width=23
height=43
widthmode=minus
heightmode=minus
layer=background_layer

// 1358:36
[gold_window_frame_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=background_layer
onload=script4261(event_com)

// 1358:37
[gold_window_title_layer]
type=layer
y=4
width=8
height=23
widthmode=minus
xmode=abs_centre
layer=background_layer

// 1358:38
[gold_window_title_text]
type=text
width=16391
height=4
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_title_layer
textfont=palatino_linotype_18pt_regular
text=Choose Your Fate
textalignh=1
textalignv=1
colour=0xebe0bc
onload=script4262(event_com)

// 1358:39
[gold_window_close_button_layer]
type=layer
x=9
y=9
width=16
height=15
xmode=abs_right
layer=background_layer
onload=script4256(event_com)

// 1358:40
[close_button]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_close_button_layer
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onload=script4257(event_com)

// 1358:41
[gold_window_close_button_over_graphic]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_close_button_layer
colour=0xffffff
clickmask=no
onload=script4258(event_com)

// 1358:42
[gold_window_not_title_background_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_no_title_layer
onload=script4758(event_com)

// 1358:43
[com_43]
type=graphic
x=2
y=8
width=509
height=34
layer=gold_window_no_title_layer
hide=yes
graphic="aif_window3_titlebar,1"
colour=0xffffff
clickmask=no

// 1358:44
[gold_window_no_title_content_layer]
type=layer
x=12
y=10
width=23
height=20
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=gold_window_no_title_layer

// 1358:45
[gold_window_no_title_frame_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_window_no_title_layer
onload=script4759(event_com)

// 1358:46
[close_button_1]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_no_title_close_button_layer
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onload=script4257(event_com)

// 1358:47
[gold_window_no_title_close_button_over_graphic]
type=graphic
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=gold_window_no_title_close_button_layer
colour=0xffffff
clickmask=no
onload=script4258(event_com)

