// 1394:0
[contents]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
onload=script7532(slayer_contracts_menu:list, slayer_contracts_menu:scrollbar)

// 1394:1
[mainmodal_window]
type=layer
width=430
height=316
xmode=abs_centre
ymode=abs_centre
onload=script8420(slayer_contracts_menu:mainmodal_window_background, slayer_contracts_menu:mainmodal_window_border, slayer_contracts_menu:mainmodal_window_content, slayer_contracts_menu:mainmodal_window_close_button, "Slayer Contracts", 21218, string_1007)

// 1394:2
[list]
type=layer
x=1
width=18
height=2
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=contents

// 1394:3
[scrollbar]
type=layer
x=1
width=16
height=2
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=contents

// 1394:4
[confirm_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contents
hide=yes
noclickthrough=yes

// 1394:5
[com_5]
type=rectangle
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_layer
colour=0x000000
fill=yes
trans=150

// 1394:6
[confirm_container]
type=layer
width=15
height=274
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_layer

// 1394:7
[info_holder_inactive]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=confirm_container
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1394:8
[confirm_model]
type=model
x=5
width=70
height=70
xmode=abs_right
ymode=abs_centre
layer=confirm_container
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1394:9
[confirm_dismiss]
type=layer
x=4
y=4
width=19
height=19
xmode=abs_right
layer=confirm_container

// 1394:10
[com_10]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_dismiss
graphic="aif_close_1,0"
colour=0xffffff
clickmask=no

// 1394:11
[com_11]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_dismiss
graphic="aif_close_1,1"
trans=255
colour=0xffffff
clickmask=no
onmouseover=script4209(event_com, 0)
onmouseleave=script4209(event_com, 1)

// 1394:12
[confirm_text]
type=text
x=5
y=5
width=85
height=44
widthmode=minus
heightmode=minus
layer=confirm_container
textfont=museo_sans_11pt_regular
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcd6c
onload=script10496(event_com, event_comsubid, 3)

// 1394:13
[confirm_button]
type=layer
y=5
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_container

// 1394:14
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1394:15
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1394:16
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1394:17
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1394:18
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button
onload=script7041(event_com)

// 1394:19
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button
onload=script7042(event_com)

// 1394:20
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button
onload=script7044(event_com)

// 1394:21
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button
hide=yes
onload=script7047(event_com)

// 1394:22
[positive_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1394:23
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button
hide=yes
onload=script7060(event_com)

// 1394:24
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button

// 1394:25
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Confirm
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

