// 1593:0
[sliske2_vault_door_shadow_fill_graphic]
type=graphic
width=25
height=58
ymode=abs_bottom
layer=sliske2_vault_door_shadow_fill
graphic="sliske2_quest_vault_puzzle_bars,1"
colour=0xffffff
clickmask=no

// 1593:1
[sliske2_vault_door_light_fill_graphic]
type=graphic
width=25
height=58
ymode=abs_bottom
layer=sliske2_vault_door_light_fill
graphic="sliske2_quest_vault_puzzle_bars,0"
colour=0xffffff
clickmask=no

// 1593:2
[sliske2_vault_door_light_fill_bak]
type=rectangle
height=8192
widthmode=minus
heightmode=proportion
ymode=abs_bottom
layer=sliske2_vault_door_light
hide=yes
colour=0xffffff
fill=yes

// 1593:3
[sliske2_vault_door_shadow_fill_bak]
type=rectangle
height=8192
widthmode=minus
heightmode=proportion
ymode=abs_bottom
layer=sliske2_vault_door_shadow
hide=yes
colour=0x000000
fill=yes

// 1593:4
[sliske2_vault_door_bak]
type=layer
width=126
height=126
xmode=abs_centre
hide=yes

// 1593:5
[sliske2_vault_door]
type=layer
y=4
width=116
height=116
xmode=abs_centre
onload=script8420(sliske2_vault_door:bespoke_window_background, sliske2_vault_door:bespoke_window_border, sliske2_vault_door:bespoke_window_content, null, "", 30498, string_1005)

// 1593:6
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=sliske2_vault_door

// 1593:7
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=sliske2_vault_door

// 1593:8
[sliske2_vault_door_balance_backing]
type=graphic
y=4
width=68
height=68
xmode=abs_centre
ymode=abs_bottom
layer=bespoke_window_content
graphic=sliske2_quest_vault_puzzle_backing
colour=0xffffff
clickmask=no

// 1593:9
[sliske2_vault_door_light]
type=layer
x=-16
y=9
width=25
height=58
xmode=abs_centre
ymode=abs_bottom
layer=bespoke_window_content

// 1593:10
[sliske2_vault_door_light_fill]
type=layer
height=8192
widthmode=minus
heightmode=proportion
ymode=abs_bottom
layer=sliske2_vault_door_light

// 1593:11
[sliske2_vault_door_shadow]
type=layer
x=17
y=9
width=25
height=58
xmode=abs_centre
ymode=abs_bottom
layer=bespoke_window_content

// 1593:12
[sliske2_vault_door_shadow_fill]
type=layer
height=8192
widthmode=minus
heightmode=proportion
ymode=abs_bottom
layer=sliske2_vault_door_shadow

// 1593:13
[bespoke_window_text]
type=text
y=4
width=8
height=28
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content
textfont=museo_sans_11pt_regular
text=Light & Shadow Balance
textalignh=1
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1593:14
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=sliske2_vault_door

