// 241:0
[sliske1_turn_page_right]
type=graphic
x=109
y=147
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=sliske1_underworld_content
graphic="rs3_notebook_buttons,5"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "rs3_notebook_buttons,4")
onmouseleave=graphic_swapper(event_com, "rs3_notebook_buttons,5")
onclick=script6383

// 241:1
[sliske1_turn_page_left]
type=graphic
x=-110
y=147
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=sliske1_underworld_content
graphic="rs3_notebook_buttons,2"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "rs3_notebook_buttons,1")
onmouseleave=graphic_swapper(event_com, "rs3_notebook_buttons,2")
onclick=script6384

// 241:2
[sliske1_notebook_close]
type=graphic
x=225
y=-140
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=sliske1_underworld_content
graphic=rs3_child_close_button
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onmouseover=graphic_swapper(event_com, rs3_child_close_button_over)
onmouseleave=graphic_swapper(event_com, rs3_child_close_button)

// 241:3
[sliske1_underworld_bg]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
layer=sliske1_underworld

// 241:4
[sliske1_underworld_content]
type=layer
width=512
height=334
layer=sliske1_underworld

// 241:5
[sliske1_underworld_pg1]
type=text
x=50
y=61
width=185
height=222
layer=sliske1_underworld_content
textfont=museo_sans_11pt_regular_multiline
text=An excerpt taken from the memoirs of Thaerisk Cemphier of the Crux Eqal: <br><br>“In my time working with the Guardians of Guthix I have been lucky enough to share many conversations with Death. I have learned much of the afterlife that I believe no mortal will have ever learned before, this is my understanding. Death (also known as The Grim Reaper) was tasked with the reaping of souls. This seems to quite literally mean severing the link between
textlineheight=14
colour=0x000000

// 241:6
[sliske1_underworld_pg2]
type=text
x=50
y=61
width=185
height=222
xmode=abs_right
layer=sliske1_underworld_content
textfont=museo_sans_11pt_regular_multiline
text=the soul and the body, its tether to the physical world. He then brings the souls he has harvested deep beneath the surface of Gielinor, to the only crossing of an endless river which separates the realms of the living and the dead; the River Noumenon. It is a cold, dark place where a thick veil of fog hangs in the air. This is where Death says he leaves the souls to cross the long, stone bridge over the River Noumenon into the Realm of the Dead.
textlineheight=14
colour=0x000000

// 241:7
[sliske1_underworld_pg3]
type=text
x=50
y=61
width=185
height=222
layer=sliske1_underworld_content
hide=yes
textfont=museo_sans_11pt_regular_multiline
text=But that is not where their journey ends. As far as I can tell the Realm of the Dead is separated into three regions. On the far bank of the river are the gates of the Underworld, past the gates is the Underworld itself and beyond the Underworld is the afterlife (which many would describe as ‘heaven’). The gates of the Underworld are where Icthlarin stands guard. He is more concerned with looking after the dead; the Underworld is a terrifying place filled with all
textlineheight=14
colour=0x000000

// 241:8
[sliske1_underworld_pg4]
type=text
x=50
y=61
width=185
height=222
xmode=abs_right
layer=sliske1_underworld_content
hide=yes
textfont=museo_sans_11pt_regular_multiline
text=manner of horrible creatures. Icthlarin shepherds the souls through a gauntlet of devourer beasts of his sister - Amascut's - creation, which roam the Underworld in packs relentlessly searching for souls to consume. According to Death, Icthlarin protects them until they reach the afterlife and can be released; guiding them through the darkness with his blazing, green torch. He then dutifully returns to his post. Death tells me that inevitably some souls are devoured and lost forever. 
textlineheight=14
colour=0x000000

// 241:9
[sliske1_underworld_pg5]
type=text
x=50
y=61
width=185
height=222
layer=sliske1_underworld_content
hide=yes
textfont=museo_sans_11pt_regular_multiline
text=Perhaps unfairly, Icthlarin takes responsibility for this and bears the weight on his shoulders. I believe Death rarely goes to the Realm of the Dead, as he showed particular disinterest in describing it.<br><br>Thousands of years ago - before she became The Devourer - Amascut would stand opposite Icthlarin beside the gates of the Underworld, both atop separate pulpits.  Amascut would offer the most worthy a choice to be reincarnated or continue to the
textlineheight=14
colour=0x000000

// 241:10
[sliske1_underworld_pg6]
type=text
x=50
y=61
width=185
height=222
xmode=abs_right
layer=sliske1_underworld_content
hide=yes
textfont=museo_sans_11pt_regular_multiline
text=afterlife. Death claims she would ascend to the surface world with those who accepted and return them to life. As her mind has become warped she is no longer the God of Rebirth, instead hell bent on devouring any souls she can before they reach the afterlife. Now the pulpits stand in ruin over the banks of the River Noumenon.<br><br>It has also come to my attention that this is only the Underworld for Gielinor; there are separate ones for each world. Most
textlineheight=14
colour=0x000000

// 241:11
[sliske1_underworld_pg7]
type=text
x=50
y=61
width=185
height=222
layer=sliske1_underworld_content
hide=yes
textfont=museo_sans_11pt_regular_multiline
text=people considering Gielinor as their home will pass on to this Underworld, but some with different home worlds may go on to their own. This explains the different races beliefs of the afterlife, as many will return to the Underworld of their home.<br><br>Although he is unwilling to shed much light on the subject, I believe that Death is sometimes unable to completely sever a soul's tie to the physical world. It seems this is due to an overpowering will to stay or
textlineheight=14
colour=0x000000

// 241:12
[sliske1_underworld_pg8]
type=text
x=50
y=61
width=185
height=222
xmode=abs_right
layer=sliske1_underworld_content
hide=yes
textfont=museo_sans_11pt_regular_multiline
text=‘unfinished business’. This is why there are ghosts in the surface world; they still remain attached to the realm of the living. In some cases a person's fate may hold great importance to the future of Gielinor; Death has been tasked to return these chosen few to life.<br><br>For some reason Death was reluctant to discuss what happens when a god dies. He did, however, detail that a god gives up the right to an afterlife when they ascend.
textlineheight=14
colour=0x000000

// 241:13
[sliske1_underworld_pg9]
type=text
x=50
y=61
width=185
height=222
layer=sliske1_underworld_content
hide=yes
textfont=museo_sans_11pt_regular_multiline
text=Instead their energy is transferred back into the world upon death.
textlineheight=14
colour=0x000000

// 241:14
[sliske1_underworld]
type=layer
width=512
height=334
noclickthrough=yes
onload=script6382

// 241:15
[com_15]
type=graphic
x=-192
y=-84
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_underworld_bg
graphic="rs3_notebook_bckgrd_graphic,0"
colour=0xffffff
clickmask=no

// 241:16
[com_16]
type=graphic
x=-64
y=-84
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_underworld_bg
graphic="rs3_notebook_bckgrd_graphic,1"
colour=0xffffff
clickmask=no

// 241:17
[com_17]
type=graphic
x=64
y=-84
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_underworld_bg
graphic="rs3_notebook_bckgrd_graphic,2"
colour=0xffffff
clickmask=no

// 241:18
[com_18]
type=graphic
x=192
y=-84
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_underworld_bg
graphic="rs3_notebook_bckgrd_graphic,3"
colour=0xffffff
clickmask=no

// 241:19
[com_19]
type=graphic
x=-192
y=83
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_underworld_bg
graphic="rs3_notebook_bckgrd_graphic,4"
colour=0xffffff
clickmask=no

// 241:20
[com_20]
type=graphic
x=-64
y=83
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_underworld_bg
graphic="rs3_notebook_bckgrd_graphic,5"
colour=0xffffff
clickmask=no

// 241:21
[com_21]
type=graphic
x=64
y=83
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_underworld_bg
graphic="rs3_notebook_bckgrd_graphic,6"
colour=0xffffff
clickmask=no

// 241:22
[com_22]
type=graphic
x=192
y=83
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_underworld_bg
graphic="rs3_notebook_bckgrd_graphic,7"
colour=0xffffff
clickmask=no

// 241:23
[sliske1_notebook_title]
type=text
y=-145
width=220
height=26
xmode=abs_centre
ymode=abs_centre
layer=sliske1_underworld_bg
textfont=cinzel_15pt_bold
text=Book of the Underworld
textalignh=1
textalignv=1
colour=0xffd33f

