// 237:0
[layer_1]
type=layer
width=512
height=334
onload=script6295
onvartransmit=script6350
onvartransmitlist=sliske1_riddle

// 237:1
[sliske1_riddle_text]
type=text
x=7
y=5079
width=96
height=24
xmode=proportion_centre
ymode=proportion_top
layer=layer_1
textfont=b12_full
textalignh=1
textshadow=yes

// 237:2
[gold_frame_2_lightback_layer]
type=layer
y=-15
width=301
height=2116
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=layer_1

// 237:3
[gold_frame_2_lightback_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=gold_frame_2_lightback_layer

// 237:4
[com_4]
type=graphic
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_frame_2_lightback_background_layer
graphic=window_texture_1
tiling=yes
colour=0xffffff
clickmask=no

// 237:5
[com_5]
type=graphic
width=10
height=10
layer=gold_frame_2_lightback_background_layer
graphic="aif_overlay_frame_gold_corner_2,1"
hflip=yes
colour=0xffffff
clickmask=no

// 237:6
[com_6]
type=graphic
width=10
height=10
xmode=abs_right
layer=gold_frame_2_lightback_background_layer
graphic="aif_overlay_frame_gold_corner_2,1"
colour=0xffffff
clickmask=no

// 237:7
[com_7]
type=graphic
width=10
height=10
ymode=abs_bottom
layer=gold_frame_2_lightback_background_layer
graphic="aif_overlay_frame_gold_corner_2,1"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 237:8
[com_8]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_bottom
layer=gold_frame_2_lightback_background_layer
graphic="aif_overlay_frame_gold_corner_2,1"
vflip=yes
colour=0xffffff
clickmask=no

// 237:9
[com_9]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=gold_frame_2_lightback_background_layer
graphic="aif_overlay_frame_gold_corner_2,0"
tiling=yes
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 237:10
[com_10]
type=graphic
width=20
height=10
widthmode=minus
xmode=abs_centre
layer=gold_frame_2_lightback_background_layer
graphic="aif_overlay_frame_gold_corner_2,0"
colour=0xffffff
clickmask=no

// 237:11
[com_11]
type=graphic
width=10
height=20
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=gold_frame_2_lightback_background_layer
graphic="aif_overlay_frame_gold_corner_2,2"
tiling=yes
colour=0xffffff
clickmask=no

// 237:12
[com_12]
type=graphic
width=10
height=20
heightmode=minus
ymode=abs_centre
layer=gold_frame_2_lightback_background_layer
graphic="aif_overlay_frame_gold_corner_2,2"
hflip=yes
colour=0xffffff
clickmask=no

// 237:13
[gold_frame_2_lightback_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=gold_frame_2_lightback_layer

// 237:14
[sliske1_shadow_button]
type=graphic
x=6
width=32
height=32
ymode=abs_centre
layer=gold_frame_2_lightback_content_layer
graphic="close_buttons,4"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 237:15
[sliske1_sand_button]
type=graphic
x=43
width=32
height=32
ymode=abs_centre
layer=gold_frame_2_lightback_content_layer
graphic="close_buttons,4"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 237:16
[sliske1_fire_button]
type=graphic
x=78
width=32
height=32
ymode=abs_centre
layer=gold_frame_2_lightback_content_layer
graphic="close_buttons,4"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 237:17
[sliske1_time_button]
type=graphic
x=115
width=32
height=32
ymode=abs_centre
layer=gold_frame_2_lightback_content_layer
graphic="close_buttons,4"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 237:18
[sliske1_water_button]
type=graphic
x=152
width=32
height=32
ymode=abs_centre
layer=gold_frame_2_lightback_content_layer
graphic="close_buttons,4"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 237:19
[sliske1_life_button]
type=graphic
x=189
width=32
height=32
ymode=abs_centre
layer=gold_frame_2_lightback_content_layer
graphic="close_buttons,4"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 237:20
[sliske1_death_button]
type=graphic
x=226
width=32
height=32
ymode=abs_centre
layer=gold_frame_2_lightback_content_layer
graphic="close_buttons,4"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 237:21
[sliske1_light_button]
type=graphic
x=263
width=32
height=32
ymode=abs_centre
layer=gold_frame_2_lightback_content_layer
graphic="close_buttons,4"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 237:22
[close_button_layer]
type=layer
x=406
y=105
width=24
height=26
layer=layer_1

// 237:23
[close_button_graphic]
type=graphic
width=24
height=24
layer=close_button_layer
graphic="close_buttons,5"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onmouseover=graphic_swapper(event_com, "close_buttons,6")
onmouseleave=graphic_swapper(event_com, "close_buttons,5")

// 237:24
[aif_gold_button_layer]
type=layer
y=30
width=126
height=24
xmode=abs_centre
ymode=abs_centre
layer=layer_1

// 237:25
[aif_gold_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
layer=aif_gold_button_layer
onload=script4201(event_com, aif_gold_button_on)

// 237:26
[aif_gold_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
layer=aif_gold_button_layer
onload=script4201(event_com, aif_gold_button_over)

// 237:27
[aif_gold_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
layer=aif_gold_button_layer
onload=script4201(event_com, aif_gold_button_hit)

// 237:28
[aif_gold_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
layer=aif_gold_button_layer
onload=script4201(event_com, aif_gold_button_selected)

// 237:29
[sliske1_riddle_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=aif_gold_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 237:30
[aif_gold_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
layer=aif_gold_button_layer
hide=yes
noclickthrough=yes
onload=script4201(event_com, aif_gold_button_disabled)

// 237:31
[aif_gold_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=aif_gold_button_layer

// 237:32
[aif_gold_button_text]
type=text
width=8
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=aif_gold_button_text_layer
textfont=verdana_13pt_regular
text=Place Object
textalignh=1
textalignv=1
colour=0xe1e1e1
onload=script4151(event_com)

