// 434:0
[sliske2_breaking_in_tunnel_ne_off]
type=graphic
width=28
height=28
layer=sliske2_breaking_in_tunnel_ne
graphic="sliske2_quest_btn_portal,0"
colour=0xffffff
clickmask=no
onmouseover=script1957(event_com)
onmouseleave=script1958(event_com)

// 434:1
[sliske2_breaking_in_tunnel_sw_off]
type=graphic
width=28
height=28
layer=sliske2_breaking_in_tunnel_sw
graphic="sliske2_quest_btn_portal,0"
colour=0xffffff
clickmask=no
onmouseover=script1957(event_com)
onmouseleave=script1958(event_com)

// 434:2
[sliske2_breaking_in_tunnel_se_off]
type=graphic
width=28
height=28
layer=sliske2_breaking_in_tunnel_se
graphic="sliske2_quest_btn_portal,0"
colour=0xffffff
clickmask=no
onmouseover=script1957(event_com)
onmouseleave=script1958(event_com)

// 434:3
[sliske2_breaking_in_tunnel_nw_off]
type=graphic
width=28
height=28
layer=sliske2_breaking_in_tunnel_nw
graphic="sliske2_quest_btn_portal,0"
colour=0xffffff
clickmask=no
onmouseover=script1957(event_com)
onmouseleave=script1958(event_com)

// 434:4
[sliske2_breaking_in_map]
type=graphic
x=8
y=32
width=328
height=220
layer=mainmodal_window_content
graphic=sliske2_quest_outer_vault_map
colour=0xffffff
clickmask=no

// 434:5
[sliske2_breaking_in_compass]
type=graphic
y=8
width=59
height=59
xmode=abs_right
layer=mainmodal_window_content
graphic=sliske2_quest_outer_vault_map_compass
colour=0xffffff
clickmask=no

// 434:6
[sliske2_breaking_in_text]
type=text
x=6
y=2
width=50
height=22
widthmode=minus
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular
text=Select the tunnels for Zemouregal's next portals.
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, -1, 3)

// 434:7
[sliske2_breaking_in_accept]
type=layer
y=8
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 434:8
[sliske2_breaking_in_portals]
type=layer
width=360
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(sliske2_breaking_in_portals:mainmodal_window_background, sliske2_breaking_in_portals:mainmodal_window_border, sliske2_breaking_in_portals:mainmodal_window_content, sliske2_breaking_in_portals:mainmodal_window_close_button, "Position Portals", 21218, string_1007)

// 434:9
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sliske2_breaking_in_portals

// 434:10
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sliske2_breaking_in_portals

// 434:11
[sliske2_breaking_in_tunnel_nw]
type=layer
x=42
y=188
width=28
height=28
xmode=abs_right
layer=mainmodal_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 434:12
[sliske2_breaking_in_tunnel_nw_on]
type=graphic
width=28
height=28
layer=sliske2_breaking_in_tunnel_nw
hide=yes
graphic="sliske2_quest_btn_portal,2"
colour=0xffffff
clickmask=no
onmouseover=script1959(event_com)
onmouseleave=script1961(event_com)

// 434:13
[sliske2_breaking_in_tunnel_se]
type=layer
x=42
y=83
width=28
height=28
layer=mainmodal_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 434:14
[sliske2_breaking_in_tunnel_se_on]
type=graphic
width=28
height=28
layer=sliske2_breaking_in_tunnel_se
hide=yes
graphic="sliske2_quest_btn_portal,2"
colour=0xffffff
clickmask=no
onmouseover=script1959(event_com)
onmouseleave=script1961(event_com)

// 434:15
[sliske2_breaking_in_tunnel_sw]
type=layer
x=42
y=83
width=28
height=28
xmode=abs_right
layer=mainmodal_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 434:16
[sliske2_breaking_in_tunnel_sw_on]
type=graphic
width=28
height=28
layer=sliske2_breaking_in_tunnel_sw
hide=yes
graphic="sliske2_quest_btn_portal,2"
colour=0xffffff
clickmask=no
onmouseover=script1959(event_com)
onmouseleave=script1961(event_com)

// 434:17
[sliske2_breaking_in_tunnel_ne]
type=layer
x=42
y=188
width=28
height=28
layer=mainmodal_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 434:18
[sliske2_breaking_in_tunnel_ne_on]
type=graphic
width=28
height=28
layer=sliske2_breaking_in_tunnel_ne
hide=yes
graphic="sliske2_quest_btn_portal,2"
colour=0xffffff
clickmask=no
onmouseover=script1959(event_com)
onmouseleave=script1961(event_com)

// 434:19
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=sliske2_breaking_in_portals

// 434:20
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=sliske2_breaking_in_portals
transmitop1=yes
op1=Close
onop=closebutton_click

// 434:21
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sliske2_breaking_in_accept
onload=script7041(event_com)

// 434:22
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sliske2_breaking_in_accept
onload=script7042(event_com)

// 434:23
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sliske2_breaking_in_accept
onload=script7044(event_com)

// 434:24
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sliske2_breaking_in_accept
hide=yes
onload=script7047(event_com)

// 434:25
[sliske2_breaking_in_accept_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=sliske2_breaking_in_accept
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 434:26
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sliske2_breaking_in_accept
hide=yes
onload=script7060(event_com)

// 434:27
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sliske2_breaking_in_accept

// 434:28
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Accept
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

