// 243:0
[sliske1_notebook_bg]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_all

// 243:1
[com_1]
type=graphic
x=-192
y=-84
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_bg
graphic="rs3_notebook_bckgrd_graphic,0"
colour=0xffffff
clickmask=no

// 243:2
[com_2]
type=graphic
x=-64
y=-84
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_bg
graphic="rs3_notebook_bckgrd_graphic,1"
colour=0xffffff
clickmask=no

// 243:3
[com_3]
type=graphic
x=64
y=-84
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_bg
graphic="rs3_notebook_bckgrd_graphic,2"
colour=0xffffff
clickmask=no

// 243:4
[com_4]
type=graphic
x=192
y=-84
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_bg
graphic="rs3_notebook_bckgrd_graphic,3"
colour=0xffffff
clickmask=no

// 243:5
[com_5]
type=graphic
x=-192
y=83
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_bg
graphic="rs3_notebook_bckgrd_graphic,4"
colour=0xffffff
clickmask=no

// 243:6
[com_6]
type=graphic
x=-64
y=83
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_bg
graphic="rs3_notebook_bckgrd_graphic,5"
colour=0xffffff
clickmask=no

// 243:7
[com_7]
type=graphic
x=64
y=83
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_bg
graphic="rs3_notebook_bckgrd_graphic,6"
colour=0xffffff
clickmask=no

// 243:8
[com_8]
type=graphic
x=192
y=83
width=128
height=167
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_bg
graphic="rs3_notebook_bckgrd_graphic,7"
colour=0xffffff
clickmask=no

// 243:9
[sliske1_notebook_title]
type=text
y=-147
width=220
height=26
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_bg
textfont=cinzel_15pt_bold
text=investigator's notebook
textalignh=1
textalignv=1
colour=0xffd33f

// 243:10
[sliske1_notebook_content]
type=layer
width=704
height=462
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_all

// 243:11
[sliske1_turn_page_right]
type=graphic
x=109
y=150
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_content
graphic="rs3_notebook_buttons,5"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Turn page
onmouseover=graphic_swapper(event_com, "rs3_notebook_buttons,4")
onmouseleave=graphic_swapper(event_com, "rs3_notebook_buttons,5")
onop=script6916
onrelease=graphic_swapper(event_com, "rs3_notebook_buttons,5")
onhold=graphic_swapper(event_com, "rs3_notebook_buttons,3")

// 243:12
[sliske1_turn_page_left]
type=graphic
x=-108
y=150
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_content
graphic="rs3_notebook_buttons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Turn page
onmouseover=graphic_swapper(event_com, "rs3_notebook_buttons,1")
onmouseleave=graphic_swapper(event_com, "rs3_notebook_buttons,2")
onop=script6741
onrelease=graphic_swapper(event_com, "rs3_notebook_buttons,2")
onhold=graphic_swapper(event_com, "rs3_notebook_buttons,0")

// 243:13
[sliske1_notebook_close]
type=graphic
x=225
y=-140
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_content
graphic=rs3_child_close_button
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onmouseover=graphic_swapper(event_com, rs3_child_close_button_over)
onmouseleave=graphic_swapper(event_com, rs3_child_close_button)
onrelease=graphic_swapper(event_com, rs3_child_close_button)
onhold=graphic_swapper(event_com, rs3_child_close_button_over)

// 243:14
[sliske1_notebook_contents]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_content
onload=script6459

// 243:15
[com_15]
type=graphic
x=69
y=95
width=155
height=155
layer=sliske1_notebook_contents
graphic=rs3_notebook_saradomin_star
colour=0xffffff
clickmask=no

// 243:16
[sliske1_notebook_contents_title]
type=text
x=106
y=-92
width=71
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_contents
textfont=cinzel_12pt_bold
text=CONTENTS
colour=0x000000

// 243:17
[sliske1_notebook_contents_monks]
type=text
x=106
y=-69
width=131
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_contents
textfont=cinzel_12pt_bold
text=Crime Scene: Monks
colour=0x000000

// 243:18
[sliske1_notebook_contents_monks_core]
type=text
x=106
y=-47
width=79
height=16
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_contents
textfont=museo_sans_11pt_regular_multiline
text=Core Clues
textalignh=1
colour=0x0031ff
transmitop1=yes
op1=Read
opcursor0=cursor_read
onmouseover=text_colour_swapper(event_com, 16777215)
onmouseleave=text_colour_swapper(event_com, 12799)
onop=script6463
onclick=script6463

// 243:19
[sliske1_notebook_contents_monks_additional]
type=text
x=106
y=-26
width=127
height=16
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_contents
textfont=museo_sans_11pt_regular_multiline
text=Additional Clues
textalignh=1
colour=0x0031ff
transmitop1=yes
op1=Read
opcursor0=cursor_read
onmouseover=text_colour_swapper(event_com, 16777215)
onmouseleave=text_colour_swapper(event_com, 12799)
onop=script6464
onclick=script6464

// 243:20
[sliske1_notebook_contents_monks_interrogations]
type=text
x=107
y=-4
width=97
height=16
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_contents
textfont=museo_sans_11pt_regular_multiline
text=Questioning
textalignh=1
colour=0x0031ff
transmitop1=yes
op1=Read
opcursor0=cursor_read
onmouseover=text_colour_swapper(event_com, 16777215)
onmouseleave=text_colour_swapper(event_com, 12799)
onop=script6467
onclick=script6467

// 243:21
[sliske1_notebook_contents_elf]
type=text
x=106
y=16
width=103
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_contents
textfont=cinzel_12pt_bold
text=Crime Scene: Elf
colour=0x000000

// 243:22
[sliske1_notebook_contents_elf_core]
type=text
x=106
y=38
width=79
height=16
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_contents
textfont=museo_sans_11pt_regular_multiline
text=Core Clues
textalignh=1
colour=0x0031ff
transmitop1=yes
op1=Read
opcursor0=cursor_read
onmouseover=text_colour_swapper(event_com, 16777215)
onmouseleave=text_colour_swapper(event_com, 12799)
onop=script6477
onclick=script6477

// 243:23
[sliske1_notebook_contents_elf_additional]
type=text
x=106
y=58
width=127
height=16
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_contents
textfont=museo_sans_11pt_regular_multiline
text=Additional Clues
textalignh=1
colour=0x0031ff
transmitop1=yes
op1=Read
opcursor0=cursor_read
onmouseover=text_colour_swapper(event_com, 16777215)
onmouseleave=text_colour_swapper(event_com, 12799)
onop=script6584
onclick=script6584

// 243:24
[sliske1_notebook_contents_elf_interrogations]
type=text
x=106
y=80
width=93
height=16
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_contents
textfont=museo_sans_11pt_regular_multiline
text=Questioning
textalignh=1
colour=0x0031ff
transmitop1=yes
op1=Read
opcursor0=cursor_read
onmouseover=text_colour_swapper(event_com, 16777215)
onmouseleave=text_colour_swapper(event_com, 12799)
onop=script6669
onclick=script6669

// 243:25
[sliske1_notebook_contents_valina]
type=text
x=107
y=102
width=117
height=16
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_contents
textfont=museo_sans_11pt_regular_multiline
text=Valina's information
textalignh=1
colour=0x0031ff
transmitop1=yes
op1=Read
opcursor0=cursor_read
onmouseover=text_colour_swapper(event_com, 16777215)
onmouseleave=text_colour_swapper(event_com, 12799)
onop=script6674
onclick=script6674

// 243:26
[sliske1_notebook_monks_core]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_content
hide=yes

// 243:27
[sliske1_notebook_monks_core_title1]
type=text
x=-107
y=-92
width=137
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_monks_core
textfont=cinzel_12pt_bold
text=Crime Scene: Monks
textalignh=1
colour=0x000000

// 243:28
[sliske1_notebook_monks_core_title2]
type=text
x=-160
y=-67
width=85
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_monks_core
textfont=cinzel_12pt_bold
text=Core Clues
colour=0x000000

// 243:29
[sliske1_notebook_monks_core_clue1]
type=text
x=-109
y=-36
width=187
height=27
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_monks_core
textfont=museo_sans_11pt_regular_multiline
text=Crystals: One of the monks was impaled with multiple crystals.
colour=0x000000

// 243:30
[sliske1_notebook_monks_core_clue2]
type=text
x=-109
y=9
width=187
height=51
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_monks_core
textfont=museo_sans_11pt_regular_multiline
text=Ring: I found a ring underneath a plant at the crimescene; someone must have dropped it here.
colour=0x000000

// 243:31
[sliske1_notebook_monks_core_clue3]
type=text
x=-109
y=67
width=187
height=52
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_monks_core
textfont=museo_sans_11pt_regular_multiline
text=Arrow: There's an arrow lodged firmly in one of the trees. It has been expertly crafted with a sharp, crystal tip.
colour=0x000000

// 243:32
[sliske1_notebook_monks_core_return]
type=text
x=107
y=-85
width=187
height=28
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_monks_core
textfont=museo_sans_11pt_regular_multiline
text=I now  have enough clues to return to Brother Samwell.
colour=0x000000

// 243:33
[sliske1_notebook_monks_additional]
type=layer
width=765
height=503
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_content
hide=yes

// 243:34
[sliske1_notebook_monks_additional_title1]
type=text
x=-107
y=-92
width=137
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_monks_additional
textfont=cinzel_12pt_bold
text=Crime Scene: Monks
textalignh=1
colour=0x000000

// 243:35
[sliske1_notebook_monks_additional_title2]
type=text
x=-138
y=-67
width=129
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_monks_additional
textfont=cinzel_12pt_bold
text=Additional Clues
colour=0x000000

// 243:36
[sliske1_notebook_monks_additional_clue]
type=text
x=-109
y=10
width=187
height=117
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_monks_additional
textfont=museo_sans_11pt_regular_multiline
text=Attacker: I was able to listen to the monks' souls. One mentioned the attacker had a masked face.
colour=0x000000

// 243:37
[sliske1_notebook_monks_additional_title3]
type=text
x=107
y=-91
width=187
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_monks_additional
textfont=cinzel_12pt_bold
text=Questioning
colour=0x000000

// 243:38
[sliske1_notebook_monks_interrogations]
type=text
x=107
y=-25
width=187
height=95
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_monks_additional
textfont=museo_sans_11pt_regular_multiline
text=I found a witness known as the odd old man. He saw a tall, hooded figure escaping to the east.
colour=0x000000

// 243:39
[sliske1_notebook_elf_core]
type=layer
width=765
height=503
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_content
hide=yes

// 243:40
[sliske1_notebook_elf_core_title1]
type=text
x=-107
y=-92
width=137
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_elf_core
textfont=cinzel_12pt_bold
text=Crime Scene: Elf
textalignh=1
colour=0x000000

// 243:41
[sliske1_notebook_elf_core_title2]
type=text
x=-160
y=-67
width=85
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_elf_core
textfont=cinzel_12pt_bold
text=Core Clues
colour=0x000000

// 243:42
[sliske1_notebook_elf_core_clue1]
type=text
x=-109
y=-30
width=187
height=39
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_elf_core
textfont=museo_sans_11pt_regular_multiline
text=Necklace: I found a necklace with a symbol on the pendant; someone must have dropped it.
colour=0x000000

// 243:43
[sliske1_notebook_elf_core_clue2]
type=text
x=-109
y=21
width=187
height=51
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_elf_core
textfont=museo_sans_11pt_regular_multiline
text=Ripped cloth: There was a piece of blue cloth caught on the fence. It looks like it was torn from a plain, linen robe.
colour=0x000000

// 243:44
[sliske1_notebook_elf_core_clue3]
type=text
x=-109
y=72
width=187
height=39
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_elf_core
textfont=museo_sans_11pt_regular_multiline
text=Branded: Saradomin's symbol had been branded into the palms of the elf's hands.
colour=0x000000

// 243:45
[sliske1_notebook_elf_core_return]
type=text
x=107
y=-85
width=187
height=27
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_elf_core
textfont=museo_sans_11pt_regular_multiline
text=I have enough clues to go to Brother Samwell.
colour=0x000000

// 243:46
[sliske1_notebook_elf_additional]
type=layer
width=765
height=503
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_content
hide=yes

// 243:47
[sliske1_notebook_valina]
type=layer
width=765
height=503
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_content
hide=yes

// 243:48
[sliske1_notebook_elf_additional_title1]
type=text
x=-107
y=-92
width=137
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_elf_additional
textfont=cinzel_12pt_bold
text=Crime Scene: Elf
textalignh=1
colour=0x000000

// 243:49
[sliske1_notebook_elf_additional_title2]
type=text
x=-138
y=-67
width=129
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_elf_additional
textfont=cinzel_12pt_bold
text=Additional Clues
colour=0x000000

// 243:50
[sliske1_notebook_elf_additional_clue1]
type=text
x=-109
y=-30
width=187
height=38
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_elf_additional
textfont=museo_sans_11pt_regular_multiline
text=Attacker: The elf's soul also mentioned a 'figure', 'shadows' and 'came out of nowhere'.
colour=0x000000

// 243:51
[sliske1_notebook_elf_additional_clue2]
type=text
x=-109
y=9
width=187
height=27
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_elf_additional
textfont=museo_sans_11pt_regular_multiline
text=Note: It referred to some orders and was signed with a large 'S'.
colour=0x000000

// 243:52
[sliske1_notebook_elf_additional_title3]
type=text
x=107
y=-91
width=187
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_elf_additional
textfont=cinzel_12pt_bold
text=Questioning
colour=0x000000

// 243:53
[sliske1_notebook_elf_interrogations]
type=text
x=107
y=-2
width=187
height=145
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_elf_additional
textfont=museo_sans_11pt_regular_multiline
text=I spoke to Blaze Sharpeye. He said the killer vanished by creating a rift that seemed to absorb light from the area.
colour=0x000000

// 243:54
[sliske1_notebook_all]
type=layer
widthmode=minus
heightmode=minus

// 243:55
[sliske1_notebook_valina_title]
type=text
x=-107
y=-92
width=137
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_valina
textfont=cinzel_12pt_bold
text=Wizard Valina
textalignh=1
colour=0x000000

// 243:56
[sliske1_notebook_valina_title2]
type=text
x=-138
y=-67
width=129
height=23
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_valina
textfont=cinzel_12pt_bold
text=Information
colour=0x000000

// 243:57
[sliske1_notebook_valina_information1]
type=text
x=-109
y=-12
width=187
height=74
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_valina
textfont=museo_sans_11pt_regular_multiline
text=The crystal clues don't seem to match Valina's research of the elves. Also, the crystals are extremely precious, so it would be strange for an elf to leave them behind.
colour=0x000000

// 243:58
[sliske1_notebook_valina_information2]
type=text
x=-109
y=44
width=187
height=27
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_valina
textfont=museo_sans_11pt_regular_multiline
text=The stab wound and torn cloth suggest the killer wasn't a wizard.
colour=0x000000

// 243:59
[sliske1_notebook_valina_information3]
type=text
x=-109
y=89
width=187
height=51
xmode=abs_centre
ymode=abs_centre
layer=sliske1_notebook_valina
textfont=museo_sans_11pt_regular_multiline
text=Teleports emit light instead of absorbing it. It's more likely that the killer opened a rift to another realm or dimension.
colour=0x000000

