// 460:0
[universe]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window_content

// 460:1
[bespoke_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(slug2_ressembling_torn_paper:bespoke_window_background, slug2_ressembling_torn_paper:bespoke_window_border, slug2_ressembling_torn_paper:bespoke_window_content, slug2_ressembling_torn_paper:bespoke_window_close, "", 21259, string_1007)

// 460:2
[slug2_whole_paper]
type=layer
width=512
height=334
layer=universe
hide=yes

// 460:3
[slug2_whole_paper_model]
type=model
x=155
y=32
width=213
height=276
layer=slug2_whole_paper
model=slug2_fourth_page
modelorigin_x=-3
modelorigin_y=18
modelangle_x=568
modelangle_y=0
modelangle_z=0
modelzoom=800

// 460:4
[slug2_torn_page_one]
type=layer
width=512
height=334
layer=universe
hide=yes

// 460:5
[slug2_torn_page_one_model]
type=model
x=171
y=40
width=212
height=184
layer=slug2_torn_page_one
model=slug2_fourth_page_piece_one
modelorigin_x=-4
modelorigin_y=54
modelangle_x=568
modelangle_y=0
modelangle_z=0
modelzoom=800

// 460:6
[slug2_border_one]
type=layer
width=512
height=334
layer=universe
hide=yes

// 460:7
[slug2_border_one_model]
type=model
x=162
y=33
width=228
height=196
layer=slug2_border_one
model=slug2_fourth_page_piece_one_border
modelorigin_x=-3
modelorigin_y=55
modelangle_x=568
modelangle_y=0
modelangle_z=0
modelzoom=800

// 460:8
[slug2_torn_page_two]
type=layer
width=512
height=334
layer=universe
hide=yes

// 460:9
[slug2_torn_page_two_model]
type=model
x=267
y=149
width=110
height=98
layer=slug2_torn_page_two
model=slug2_fourth_page_piece_two
modelorigin_x=-49
modelorigin_y=-12
modelangle_x=568
modelangle_y=0
modelangle_z=0
modelzoom=800

// 460:10
[slug2_border_two]
type=layer
width=512
height=334
layer=universe
hide=yes

// 460:11
[slug2_border_two_model]
type=model
x=265
y=143
width=118
height=108
layer=slug2_border_two
model=slug2_fourth_page_piece_two_border
modelorigin_x=-51
modelorigin_y=-11
modelangle_x=568
modelangle_y=0
modelangle_z=0
modelzoom=800

// 460:12
[slug2_torn_page_three]
type=layer
width=512
height=334
layer=universe
hide=yes

// 460:13
[slug2_torn_page_three_model]
type=model
x=171
y=95
width=203
height=219
layer=slug2_torn_page_three
model=slug2_fourth_page_piece_three
modelorigin_x=1
modelorigin_y=-18
modelangle_x=568
modelangle_y=0
modelangle_z=0
modelzoom=800

// 460:14
[slug2_border_three]
type=layer
width=512
height=334
layer=universe
hide=yes

// 460:15
[slug2_border_three_model]
type=model
x=166
y=88
width=212
height=230
layer=slug2_border_three
model=slug2_fourth_page_piece_three_border
modelorigin_x=1
modelorigin_y=-17
modelangle_x=568
modelangle_y=0
modelangle_z=0
modelzoom=800

// 460:16
[slug2_congrat_layer]
type=layer
y=46
width=512
height=27
layer=universe
hide=yes

// 460:17
[slug2_congrat_text]
type=text
y=5
width=218
height=14
layer=slug2_congrat_layer
textfont=b12_full
text=That's it, it all makes sense now! 
textalignh=1
textshadow=yes
colour=0xffff00

// 460:18
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 460:19
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 460:20
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 460:21
[bespoke_window_close]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window
transmitop1=yes
op1=Close
onop=closebutton_click

