// 487:0
[mainmodal_window]
type=layer
width=500
height=475
xmode=abs_centre
ymode=abs_centre
onload=script8420(smithing_hopper_readonly:mainmodal_window_background, smithing_hopper_readonly:mainmodal_window_border, smithing_hopper_readonly:mainmodal_window_content, smithing_hopper_readonly:mainmodal_window_close_button, "Metal Bank", 21218, null)

// 487:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 487:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 487:3
[ingredient_selection_layer]
type=layer
x=4
y=4
width=224
height=8
heightmode=minus
layer=mainmodal_window_content

// 487:4
[accordion_main_layer]
type=layer
widthmode=minus
heightmode=minus
layer=ingredient_selection_layer
onload=script9595(event_com, smithing_hopper_readonly:ing_sel_scrollbar)

// 487:5
[ing_sel_scrollbar]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=ingredient_selection_layer

// 487:6
[accordion_group_layer]
type=layer
height=50
widthmode=minus
layer=accordion_main_layer
hide=yes

// 487:7
[accordion_button_layer]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer

// 487:8
[accordion_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer
onload=script9583(event_com)

// 487:9
[accordion_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer
onload=script9584(event_com)

// 487:10
[accordion_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer
onload=script9585(event_com)

// 487:11
[accordion_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer
onload=script9588(event_com)

// 487:12
[accordion_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 487:13
[accordion_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer
hide=yes
onload=script9591(event_com)

// 487:14
[accordion_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer

// 487:15
[accordion_button_text]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer
textfont=museo_sans_11pt_regular
text=Core Metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 487:16
[accordion_content_layer]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer

// 487:17
[accordion_group_layer_1]
type=layer
y=50
height=50
widthmode=minus
layer=accordion_main_layer
hide=yes

// 487:18
[accordion_button_layer_1]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_1

// 487:19
[accordion_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_1
onload=script9583(event_com)

// 487:20
[accordion_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_1
onload=script9584(event_com)

// 487:21
[accordion_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_1
onload=script9585(event_com)

// 487:22
[accordion_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_1
onload=script9588(event_com)

// 487:23
[accordion_button_active_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 487:24
[accordion_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_1
hide=yes
onload=script9591(event_com)

// 487:25
[accordion_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_1

// 487:26
[accordion_button_text_1]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_1
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 487:27
[accordion_content_layer_1]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_1

// 487:28
[accordion_group_layer_2]
type=layer
y=100
height=50
widthmode=minus
layer=accordion_main_layer
hide=yes

// 487:29
[accordion_button_layer_2]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_2

// 487:30
[accordion_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_2
onload=script9583(event_com)

// 487:31
[accordion_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_2
onload=script9584(event_com)

// 487:32
[accordion_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_2
onload=script9585(event_com)

// 487:33
[accordion_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_2
onload=script9588(event_com)

// 487:34
[accordion_button_active_layer_2]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_2
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 487:35
[accordion_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_2
hide=yes
onload=script9591(event_com)

// 487:36
[accordion_button_text_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_2

// 487:37
[accordion_button_text_2]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_2
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 487:38
[accordion_content_layer_2]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_2

// 487:39
[accordion_group_layer_3]
type=layer
y=150
height=50
widthmode=minus
layer=accordion_main_layer
hide=yes

// 487:40
[accordion_button_layer_3]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_3

// 487:41
[accordion_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_3
onload=script9583(event_com)

// 487:42
[accordion_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_3
onload=script9584(event_com)

// 487:43
[accordion_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_3
onload=script9585(event_com)

// 487:44
[accordion_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_3
onload=script9588(event_com)

// 487:45
[accordion_button_active_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_3
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 487:46
[accordion_button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_3
hide=yes
onload=script9591(event_com)

// 487:47
[accordion_button_text_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_3

// 487:48
[accordion_button_text_3]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_3
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 487:49
[accordion_content_layer_3]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_3

// 487:50
[accordion_group_layer_4]
type=layer
y=200
height=50
widthmode=minus
layer=accordion_main_layer
hide=yes

// 487:51
[accordion_button_layer_4]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_4

// 487:52
[accordion_button_on_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_4
onload=script9583(event_com)

// 487:53
[accordion_button_over_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_4
onload=script9584(event_com)

// 487:54
[accordion_button_hit_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_4
onload=script9585(event_com)

// 487:55
[accordion_button_selected_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_4
onload=script9588(event_com)

// 487:56
[accordion_button_active_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_4
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 487:57
[accordion_button_disabled_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_4
hide=yes
onload=script9591(event_com)

// 487:58
[accordion_button_text_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_4

// 487:59
[accordion_button_text_4]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_4
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 487:60
[accordion_content_layer_4]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_4

// 487:61
[item_selection_layer]
type=layer
x=4
y=4
width=224
height=8
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 487:62
[accordion_main_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=item_selection_layer
onload=script9595(event_com, smithing_hopper_readonly:ite_sel_scrollbar)

// 487:63
[ite_sel_scrollbar]
type=layer
width=16
height=28
heightmode=minus
xmode=abs_right
layer=item_selection_layer

// 487:64
[bank_button_layer]
type=layer
x=4
y=4
width=165
height=27
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content

// 487:65
[accordion_group_layer_5]
type=layer
height=50
widthmode=minus
layer=accordion_main_layer_1
hide=yes

// 487:66
[accordion_button_layer_5]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_5

// 487:67
[accordion_button_on_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_5
onload=script9583(event_com)

// 487:68
[accordion_button_over_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_5
onload=script9584(event_com)

// 487:69
[accordion_button_hit_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_5
onload=script9585(event_com)

// 487:70
[accordion_button_selected_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_5
onload=script9588(event_com)

// 487:71
[accordion_button_active_layer_5]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_5
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 487:72
[accordion_button_disabled_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_5
hide=yes
onload=script9591(event_com)

// 487:73
[accordion_button_text_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_5

// 487:74
[accordion_button_text_5]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_5
textfont=museo_sans_11pt_regular
text=Core Metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 487:75
[accordion_content_layer_5]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_5

// 487:76
[accordion_group_layer_6]
type=layer
y=50
height=50
widthmode=minus
layer=accordion_main_layer_1
hide=yes

// 487:77
[accordion_button_layer_6]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_6

// 487:78
[accordion_button_on_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_6
onload=script9583(event_com)

// 487:79
[accordion_button_over_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_6
onload=script9584(event_com)

// 487:80
[accordion_button_hit_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_6
onload=script9585(event_com)

// 487:81
[accordion_button_selected_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_6
onload=script9588(event_com)

// 487:82
[accordion_button_active_layer_6]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_6
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 487:83
[accordion_button_disabled_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_6
hide=yes
onload=script9591(event_com)

// 487:84
[accordion_button_text_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_6

// 487:85
[accordion_button_text_6]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_6
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 487:86
[accordion_content_layer_6]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_6

// 487:87
[accordion_group_layer_7]
type=layer
y=100
height=50
widthmode=minus
layer=accordion_main_layer_1
hide=yes

// 487:88
[accordion_button_layer_7]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_7

// 487:89
[accordion_button_on_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_7
onload=script9583(event_com)

// 487:90
[accordion_button_over_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_7
onload=script9584(event_com)

// 487:91
[accordion_button_hit_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_7
onload=script9585(event_com)

// 487:92
[accordion_button_selected_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_7
onload=script9588(event_com)

// 487:93
[accordion_button_active_layer_7]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_7
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 487:94
[accordion_button_disabled_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_7
hide=yes
onload=script9591(event_com)

// 487:95
[accordion_button_text_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_7

// 487:96
[accordion_button_text_7]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_7
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 487:97
[accordion_content_layer_7]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_7

// 487:98
[accordion_group_layer_8]
type=layer
y=150
height=50
widthmode=minus
layer=accordion_main_layer_1
hide=yes

// 487:99
[accordion_button_layer_8]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_8

// 487:100
[accordion_button_on_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_8
onload=script9583(event_com)

// 487:101
[accordion_button_over_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_8
onload=script9584(event_com)

// 487:102
[accordion_button_hit_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_8
onload=script9585(event_com)

// 487:103
[accordion_button_selected_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_8
onload=script9588(event_com)

// 487:104
[accordion_button_active_layer_8]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_8
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 487:105
[accordion_button_disabled_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_8
hide=yes
onload=script9591(event_com)

// 487:106
[accordion_button_text_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_8

// 487:107
[accordion_button_text_8]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_8
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 487:108
[accordion_content_layer_8]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_8

// 487:109
[accordion_group_layer_9]
type=layer
y=200
height=50
widthmode=minus
layer=accordion_main_layer_1
hide=yes

// 487:110
[accordion_button_layer_9]
type=layer
height=20
widthmode=minus
layer=accordion_group_layer_9

// 487:111
[accordion_button_on_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_9
onload=script9583(event_com)

// 487:112
[accordion_button_over_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_9
onload=script9584(event_com)

// 487:113
[accordion_button_hit_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_9
onload=script9585(event_com)

// 487:114
[accordion_button_selected_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_9
onload=script9588(event_com)

// 487:115
[accordion_button_active_layer_9]
type=layer
widthmode=minus
heightmode=minus
layer=accordion_button_layer_9
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script9593(event_com)

// 487:116
[accordion_button_disabled_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_9
hide=yes
onload=script9591(event_com)

// 487:117
[accordion_button_text_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accordion_button_layer_9

// 487:118
[accordion_button_text_9]
type=text
x=10
width=37
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=accordion_button_text_layer_9
textfont=museo_sans_11pt_regular
text=Other metals
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script9592(event_com)

// 487:119
[accordion_content_layer_9]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=accordion_group_layer_9

// 487:120
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 487:121
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 487:122
[bank_button]
type=layer
widthmode=minus
heightmode=minus
layer=bank_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_neutral_button, "Return to Bank")

