// 594:0
[control_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
hide=yes
noclickthrough=yes
onload=snapshot_main_load

// 594:1
[name_list_layer]
type=layer
width=512
height=334
hide=yes
noclickthrough=yes
transmitop10=yes
op10= 

// 594:2
[name_list_window_layer]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
layer=name_list_layer
onload=script8420(snapshot_main_v2:name_list_window_background_layer, snapshot_main_v2:name_list_window_frame_layer, snapshot_main_v2:name_list_window_content_layer, snapshot_main_v2:name_list_window_close_button_layer, "Report: Select Player", 21218, string_1040)

// 594:3
[name_list_window_background_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=name_list_window_layer

// 594:4
[name_list_window_frame_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=name_list_window_layer

// 594:5
[name_list_window_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=name_list_window_layer

// 594:6
[scroll_layer]
type=layer
x=466
y=75
width=16
height=167
layer=name_list_window_content_layer
transmitop10=yes
op10= 

// 594:7
[list_layer]
type=layer
x=11
y=74
width=456
height=170
layer=name_list_window_content_layer
transmitop10=yes
op10=  

// 594:8
[list_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=list_layer
onload=script10896(event_com, null, rs3tli_content_panel_dark_grey)

// 594:9
[scrolled_layer]
type=layer
width=456
height=170
layer=list_layer

// 594:10
[selected_name_layer]
type=layer
x=1
width=451
height=22925
heightmode=proportion
layer=scrolled_layer

// 594:11
[highlight_name_layer]
type=layer
x=1
width=451
height=22925
heightmode=proportion
layer=scrolled_layer

// 594:12
[build_layer]
type=layer
x=1
width=449
height=16391
heightmode=proportion
layer=scrolled_layer
transmitop10=yes
op10= 

// 594:13
[mute_layer]
type=layer
x=-114
y=245
width=246
height=20
xmode=abs_centre
layer=name_list_window_content_layer
transmitop10=yes
op10= 

// 594:14
[name_list_mute_checkbox]
type=layer
x=3
y=1
width=18
height=18
xmode=abs_right
layer=mute_layer
onload=script5578

// 594:15
[name_list_mute_checkbox_build]
type=layer
widthmode=minus
heightmode=minus
layer=name_list_mute_checkbox

// 594:16
[name_list_mute_checkbox_click]
type=layer
widthmode=minus
heightmode=minus
layer=name_list_mute_checkbox
transmitop1=yes
op1=Toggle mute

// 594:17
[mutetoggle]
type=text
x=5
y=3
width=214
height=14
layer=mute_layer
textfont=museo_sans_11pt_regular
text=Suggest to temporarily mute this player
textalignh=2
textalignv=1
textshadow=yes
colour=0xde8e14
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)

// 594:18
[select_player_layer]
type=layer
x=115
y=268
width=188
height=16
layer=name_list_window_content_layer
hide=yes
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 594:19
[name_list_next_button_layer]
type=layer
x=393
y=249
width=75
height=27
layer=name_list_window_content_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6233(event_com, null, rs3tli_3x3_button, "Next")
onop=script219

// 594:20
[help_button_1]
type=graphic
x=472
y=5
width=16
height=16
layer=name_list_window_content_layer
graphic=rs3_worldmap_icon_info_key_nml
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Open-help
op10=  
onop=script225

// 594:21
[com_21]
type=graphic
x=11
y=48
width=25
height=25
layer=name_list_window_content_layer
graphic=aif_bug_reporting_hourglass
colour=0xffffff
clickmask=no

// 594:22
[namelist_desc_txt]
type=text
x=6
y=6
width=459
height=34
layer=name_list_window_content_layer
textfont=museo_sans_11pt_regular
text=Click on a line of text to choose the player you are reporting, then click the 'Next' button. Silent offenders (bots/bug abuse) can be reported by right-clicking them and selecting the 'Examine' option, then clicking the report button in the top left.
textlineheight=12
textalignh=3
textalignv=1
textshadow=yes
colour=0xf2aa3e
onload=script18284(event_com)

// 594:23
[select_player]
type=text
x=14
y=265
width=469
height=24
layer=name_list_window_content_layer
textfont=museo_sans_13pt_bold
text=Selected player:
textlineheight=12
textalignv=1
colour=0xde8e14
onload=script10496(event_com, event_comsubid, 2)

// 594:24
[selected_name]
type=text
x=120
y=265
width=183
height=24
layer=name_list_window_content_layer
textfont=museo_sans_13pt_bold
text=No Player Selected
textalignv=1
colour=0xde8e14
onload=script10496(event_com, event_comsubid, 2)

// 594:25
[namelist_desc_txt_1]
type=text
x=41
y=45
width=428
height=27
layer=name_list_window_content_layer
textfont=museo_sans_11pt_regular
text=A report sends us the last 60 seconds of chat. Older chat may not be reportable.
textlineheight=13
textalignv=3
textshadow=yes
colour=0xf2aa3e
onload=script10496(event_com, event_comsubid, 3)

// 594:26
[page_1]
type=text
x=470
y=276
width=49
height=16
layer=name_list_window_content_layer
textfont=museo_sans_11pt_regular
text=1/2
textshadow=yes
colour=0xde8e14
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)

// 594:27
[name_list_window_close_button_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=name_list_window_layer
transmitop1=yes
opkey1=0,13,0
op1=Close

// 594:28
[offence_layer]
type=layer
width=512
height=334
opbase=  

// 594:29
[offence_window_layer]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
layer=offence_layer
onload=script8420(snapshot_main_v2:offence_window_background_layer, snapshot_main_v2:offence_window_frame_layer, snapshot_main_v2:offence_window_content_layer, snapshot_main_v2:offence_window_close_button_layer, "Report: Choose Offence", 21218, string_1040)

// 594:30
[offence_window_background_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=offence_window_layer

// 594:31
[offence_window_content_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=offence_window_layer

// 594:32
[report_abuse_title_txt]
type=text
x=31
y=4
width=200
height=14
layer=offence_window_content_layer
textfont=museo_sans_13pt_bold
text=Reporting
textalignv=1
textshadow=yes
colour=0xf2aa3e
onload=script10496(event_com, event_comsubid, 2)

// 594:33
[select_player_button_layer]
type=layer
x=10
y=24
width=105
height=22
layer=offence_window_content_layer
transmitop1=yes
transmitop10=yes
op1=Select-player
op10=  
onload=script6233(event_com, null, rs3tli_3x3_button, "Change Player")
onop=script215

// 594:34
[cancel_button_layer]
type=layer
x=125
y=24
width=105
height=22
layer=offence_window_content_layer
transmitop1=yes
transmitop10=yes
op1=Cancel-report
op10=   
onload=script6233(event_com, null, rs3tli_3x3_button, "Cancel Report")

// 594:35
[law_breaking_content]
type=layer
x=10
y=4
width=200
height=42
xmode=abs_right
layer=offence_window_content_layer
transmitop1=yes
op1=Report law-breaking content
onload=script6233(event_com, null, rs3tli_3x3_button, "Report law-breaking<br>content")

// 594:36
[divider_horizontal]
type=graphic
y=50
height=4
widthmode=minus
layer=offence_window_content_layer
noclickthrough=yes
graphic=rs3_child_frame_bottom_tile
tiling=yes
colour=0xffffff
clickmask=no
onload=script9900(event_com)

// 594:37
[offence_desc_txt]
type=text
x=1
y=55
width=204
height=36
widthmode=minus
layer=offence_window_content_layer
textfont=museo_sans_13pt_regular
text=Select the rule this player has broken to send a report to our Player Support team.
textlineheight=12
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 1)

// 594:38
[view_rules_button]
type=layer
y=55
width=200
height=36
xmode=abs_right
layer=offence_window_content_layer
transmitop1=yes
op1=Cancel-report
onload=script6233(event_com, null, rs3tli_3x3_button, "View RuneScape rules")
onop=script15228(1501)

// 594:39
[offence_scrollbar_layer]
type=layer
y=95
width=16
height=122
heightmode=minus
xmode=abs_right
layer=offence_window_content_layer

// 594:40
[offence_scroll_layer]
type=layer
x=2
y=95
width=20
height=122
widthmode=minus
heightmode=minus
layer=offence_window_content_layer

// 594:41
[advertising_website]
type=layer
width=156
height=30
layer=offence_scroll_layer
transmitop1=yes
transmitop10=yes
op1=Send-report
op10= 
onload=script6233(event_com, null, rs3tli_3x3_button, "Advertising websites")
onop=snapshot_report(12)

// 594:42
[asking_personal_details]
type=layer
width=156
height=30
xmode=abs_centre
layer=offence_scroll_layer
transmitop1=yes
transmitop10=yes
op1=Send-report
op10= 
onload=script6233(event_com, null, rs3tli_3x3_button, "Asking for or providing<br>contact information")
onop=snapshot_report(14)

// 594:43
[buying_account]
type=layer
width=156
height=30
xmode=abs_right
layer=offence_scroll_layer
transmitop1=yes
transmitop10=yes
op1=Send-report
op10= 
onload=script6233(event_com, null, rs3tli_3x3_button, "Buying or selling<br>an account")
onop=snapshot_report(7)

// 594:44
[disruptive_behaviour]
type=layer
y=33
width=156
height=30
layer=offence_scroll_layer
transmitop1=yes
transmitop10=yes
op1=Send-report
op10= 
onload=script6233(event_com, null, rs3tli_3x3_button, "Disruptive behaviour")
onop=snapshot_report(19)

// 594:45
[encouraging_rule_breaking]
type=layer
y=33
width=156
height=30
xmode=abs_centre
layer=offence_scroll_layer
transmitop1=yes
transmitop10=yes
op1=Send-report
op10=  
onload=script6233(event_com, null, rs3tli_3x3_button, "Encouraging rule breaking")
onop=snapshot_report(10)

// 594:46
[exploiting_a_bug]
type=layer
y=33
width=156
height=30
xmode=abs_right
layer=offence_scroll_layer
transmitop1=yes
transmitop10=yes
op1=Send-report
op10= 
onload=script6233(event_com, null, rs3tli_3x3_button, "Exploiting a bug")
onop=snapshot_report(5)

// 594:47
[macroing_or_bots]
type=layer
y=66
width=156
height=30
layer=offence_scroll_layer
transmitop1=yes
transmitop10=yes
op1=Send-report
op10= 
onload=script6233(event_com, null, rs3tli_3x3_button, "Macroing or use of bots")
onop=snapshot_report(8)

// 594:48
[offensive_account_name]
type=layer
y=66
width=156
height=30
xmode=abs_centre
layer=offence_scroll_layer
transmitop1=yes
transmitop10=yes
op1=Send-report
op10= 
onload=script6233(event_com, null, rs3tli_3x3_button, "Offensive account name")
onop=snapshot_report(20)

// 594:49
[offensive_examine_info]
type=layer
y=66
width=156
height=30
xmode=abs_right
layer=offence_scroll_layer
onload=script1134(snapshot_main_v2:offensive_examine_info_click, snapshot_main_v2:offensive_examine_info_click, rs3tli_3x3_button, "Offensive examine<br>information", string_0)

// 594:50
[offensive_examine_info_click]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=offensive_examine_info
transmitop1=yes
op1=Send-report

// 594:51
[player_run_gambling]
type=layer
y=99
width=156
height=30
layer=offence_scroll_layer
transmitop1=yes
op1=Send-report
onload=script6233(event_com, null, rs3tli_3x3_button, "Player-run games<br>of chance")
onop=snapshot_report(23)

// 594:52
[real_life_threats]
type=layer
y=99
width=156
height=30
xmode=abs_centre
layer=offence_scroll_layer
transmitop1=yes
transmitop10=yes
op1=Send-report
op10= 
onload=script6233(event_com, null, rs3tli_3x3_button, "Real-life threats")
onop=snapshot_report(21)

// 594:53
[scamming]
type=layer
y=99
width=156
height=30
xmode=abs_right
layer=offence_scroll_layer
transmitop1=yes
op1=Send-report
onload=script6233(event_com, null, rs3tli_3x3_button, "Scamming")
onop=snapshot_report(16)

// 594:54
[seriously_offensive_language]
type=layer
y=132
width=156
height=30
layer=offence_scroll_layer
transmitop1=yes
transmitop10=yes
op1=Send-report
op10= 
onload=script6233(event_com, null, rs3tli_3x3_button, "Seriously offensive<br>language")
onop=snapshot_report(17)

// 594:55
[solicitation]
type=layer
y=132
width=156
height=30
xmode=abs_centre
layer=offence_scroll_layer
transmitop1=yes
transmitop10=yes
op1=Send-report
op10= 
onload=script6233(event_com, null, rs3tli_3x3_button, "Solicitation")
onop=snapshot_report(18)

// 594:56
[staff_impersonation]
type=layer
y=132
width=156
height=30
xmode=abs_right
layer=offence_scroll_layer
transmitop1=yes
transmitop10=yes
op1=Send-report
op10= 
onload=script6233(event_com, null, rs3tli_3x3_button, "Staff impersonation")
onop=snapshot_report(6)

// 594:57
[offensive_clan_name]
type=layer
y=165
width=156
height=30
layer=offence_scroll_layer
onload=script1134(snapshot_main_v2:offensive_clan_name, snapshot_main_v2:offensive_clan_name_click, rs3tli_3x3_button, "Offensive clan name", string_0)

// 594:58
[offensive_clan_name_click]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=offensive_clan_name
transmitop1=yes
op1=Send-report

// 594:59
[offensive_group_name]
type=layer
y=165
width=156
height=30
xmode=abs_centre
layer=offence_scroll_layer
onload=script1134(snapshot_main_v2:offensive_group_name, snapshot_main_v2:offensive_group_name_click, rs3tli_3x3_button, "Offensive group name", string_0)

// 594:60
[offensive_group_name_click]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=offensive_group_name
transmitop1=yes
op1=Send-report

// 594:61
[mute_layer_offence]
type=layer
x=35
y=4
width=246
height=20
xmode=abs_right
ymode=abs_bottom
layer=offence_window_content_layer
transmitop10=yes
op10=  

// 594:62
[offence_mute_checkbox]
type=layer
x=1
y=1
width=18
height=18
xmode=abs_right
layer=mute_layer_offence
onload=script7685

// 594:63
[offence_mute_checkbox_build]
type=layer
widthmode=minus
heightmode=minus
layer=offence_mute_checkbox

// 594:64
[offence_mute_checkbox_click]
type=layer
widthmode=minus
heightmode=minus
layer=offence_mute_checkbox
transmitop1=yes
op1=Toggle mute

// 594:65
[mutetoggle_offence]
type=text
x=8
y=4
width=214
height=14
layer=mute_layer_offence
textfont=museo_sans_11pt_regular
text=Suggest to mute this player for 48 hours
textalignh=2
textalignv=1
textshadow=yes
colour=0xf2aa3e
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)

// 594:66
[help_button]
type=graphic
x=8
y=3
width=16
height=16
layer=offence_window_content_layer
graphic=rs3_worldmap_icon_info_key_nml
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Help
onop=script226

// 594:67
[page_2]
type=text
x=6
y=6
width=22
height=16
xmode=abs_right
ymode=abs_bottom
layer=offence_window_content_layer
textfont=museo_sans_11pt_regular
text=2/2
textshadow=yes
colour=0xde8e14
transmitop10=yes
op10=  
onload=script10496(event_com, event_comsubid, 3)

// 594:68
[offence_window_frame_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=offence_window_layer

// 594:69
[offence_window_close_button_layer]
type=layer
x=8
y=9
width=16
height=15
xmode=abs_right
layer=offence_window_layer
transmitop1=yes
opkey1=0,13,0
op1=Close

// 594:70
[ignore_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
hide=yes
transmitop10=yes
op10=   

// 594:71
[ignore_window_layer]
type=layer
y=102
width=360
height=116
xmode=abs_centre
layer=ignore_layer
onload=script8420(snapshot_main_v2:ignore_window_background_layer, snapshot_main_v2:ignore_window_frame_layer, snapshot_main_v2:ignore_window_content_layer, snapshot_main_v2:ignore_window_close_button_layer, "Temporarily ignore player?", 21218, string_1040)

// 594:72
[ignore_window_background_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=ignore_window_layer

// 594:73
[ignore_window_content_layer]
type=layer
x=12
y=33
width=23
height=43
widthmode=minus
heightmode=minus
layer=ignore_window_layer

// 594:74
[ignore_yes_button_layer]
type=layer
x=73
y=18
width=200
height=25
layer=ignore_window_content_layer
transmitop1=yes
op1=Yes
onload=script6233(event_com, null, rs3tli_3x3_button, "Yes, ignore until I log out.")
onop=snapshot_ignore_yes

// 594:75
[ignore_no_button_layer]
type=layer
x=73
y=44
width=200
height=25
layer=ignore_window_content_layer
transmitop1=yes
op1=No
onload=script6233(event_com, null, rs3tli_3x3_button, "No, don't ignore them.")
onop=snapshot_ignore_no

// 594:76
[ignore_player_name_txt]
type=text
x=41
y=-2
width=264
height=24
layer=ignore_window_content_layer
textfont=museo_sans_11pt_regular
text=Ignore?
textalignh=1
textalignv=1
textshadow=yes
colour=0xde8e14
onload=script10496(event_com, event_comsubid, 3)

// 594:77
[help_button_2]
type=graphic
x=328
y=4
width=16
height=16
layer=ignore_window_content_layer
graphic=rs3_worldmap_icon_info_key_nml
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Help
onop=script230

// 594:78
[ignore_window_frame_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ignore_window_layer

// 594:79
[ignore_window_close_button_layer]
type=layer
x=8
y=9
width=16
height=15
xmode=abs_right
layer=ignore_window_layer
transmitop1=yes
opkey1=0,13,0
op1=Close

// 594:80
[namelist_help_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
hide=yes
noclickthrough=yes
transmitop10=yes
op10= 

// 594:81
[com_81]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=namelist_help_layer
colour=0x808080
fill=yes
trans=80

// 594:82
[name_list_help_window_layer]
type=layer
width=469
height=209
xmode=abs_centre
ymode=abs_centre
layer=namelist_help_layer
onload=script8420(snapshot_main_v2:name_list_help_window_background_layer, snapshot_main_v2:name_list_help_window_frame_layer, snapshot_main_v2:name_list_help_window_content_layer, snapshot_main_v2:name_list_help_window_close_button_layer, "Help - selecting a player to report", 21217, string_1040)

// 594:83
[name_list_help_window_background_layer]
type=layer
width=469
height=209
xmode=abs_centre
ymode=abs_centre
layer=name_list_help_window_layer

// 594:84
[name_list_help_window_content_layer]
type=layer
x=12
y=33
width=446
height=166
layer=name_list_help_window_layer

// 594:85
[namelist_help_txt]
type=text
x=4
width=432
height=166
layer=name_list_help_window_content_layer
textfont=museo_sans_11pt_regular
text=You can select a player to report from the chat list shown.<br><br>Chat from other players appears in white, while your chat is grey. You can't select your own chat.<br><br>To report a player, click on any line of their chat and click the 'Next' button to continue. You will then be shown a list of offences: choose the offence you are reporting the player for.<br><br>The list of offences has a 'Change player' button, so you can choose again if you select the wrong player.<br><br>Don't delay; once chat leaves the chat box, it can no longer be reported.
textshadow=yes
colour=0xde8e14
onload=script18285(event_com)

// 594:86
[name_list_help_window_frame_layer]
type=layer
width=469
height=209
xmode=abs_centre
ymode=abs_centre
layer=name_list_help_window_layer

// 594:87
[name_list_help_window_close_button_layer]
type=layer
x=8
y=9
width=16
height=15
xmode=abs_right
layer=name_list_help_window_layer
transmitop1=yes
op1=Close
onop=snapshot_help_close

// 594:88
[offence_help_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
hide=yes
noclickthrough=yes
transmitop10=yes
op10=  

// 594:89
[offence_help_window_layer]
type=layer
width=469
height=209
xmode=abs_centre
ymode=abs_centre
layer=offence_help_layer
onload=script8420(snapshot_main_v2:offence_help_window_background_layer, snapshot_main_v2:offence_help_window_frame_layer, snapshot_main_v2:offence_help_window_content_layer, snapshot_main_v2:offence_help_window_close_button_layer, "Help - selecting an offence", 21217, string_1040)

// 594:90
[offence_help_window_background_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=offence_help_window_layer

// 594:91
[offence_help_window_content_layer]
type=layer
x=12
y=33
width=23
height=43
widthmode=minus
heightmode=minus
layer=offence_help_window_layer

// 594:92
[offence_help_txt]
type=text
x=8
y=2
width=432
height=156
layer=offence_help_window_content_layer
textfont=museo_sans_11pt_regular
text=Here you can select the offence that you believe the player has committed.<br><br>Clicking one of the offence buttons will send recent chat to Player Support for investigation. You should act quickly to report the player, particularly in areas where there is a lot of chat, such as at the Grand Exchange.<br><br>If you have selected the wrong player, you can use the 'Select Player' button to return to the chat list and choose again.<br><br>You can only report players who have spoken recently.<br><br>Once your report has been sent, you'll be asked if you want to temporarily add the offender to your Ignore List.
textshadow=yes
colour=0xde8e14
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)

// 594:93
[offence_help_window_frame_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=offence_help_window_layer

// 594:94
[offence_help_window_close_button_layer]
type=layer
x=8
y=9
width=16
height=15
xmode=abs_right
layer=offence_help_window_layer
transmitop1=yes
op1=Close
onop=snapshot_help_close

// 594:95
[ignore_help_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
hide=yes
noclickthrough=yes
transmitop10=yes
op10=  

// 594:96
[ignore_help_window_layer]
type=layer
width=469
height=210
xmode=abs_centre
ymode=abs_centre
layer=ignore_help_layer
onload=script8420(snapshot_main_v2:ignore_help_window_background_layer, snapshot_main_v2:ignore_help_window_frame_layer, snapshot_main_v2:ignore_help_window_content_layer, snapshot_main_v2:ignore_help_window_close_button_layer, "Help - ignoring a player temporarily", 21217, string_1040)

// 594:97
[ignore_help_window_background_layer]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=ignore_help_window_layer

// 594:98
[ignore_help_window_content_layer]
type=layer
x=12
y=33
width=23
height=43
widthmode=minus
heightmode=minus
layer=ignore_help_window_layer

// 594:99
[ignore_help_txt]
type=text
y=2
width=436
height=151
xmode=abs_centre
layer=ignore_help_window_content_layer
textfont=museo_sans_11pt_regular
text=Now that your report has been sent, you can choose whether or not to ignore the offender. This is a temporary measure, and will only last until you log out. To permanently ignore a player, make a note of their name and add them to your Ignore List once the 'Report' windows are closed.<br><br>You cannot ignore moderators or people on your Friends List.
textlineheight=13
textshadow=yes
colour=0xde8e14
transmitop10=yes
op10= 
onload=script10496(event_com, event_comsubid, 3)

// 594:100
[ignore_help_window_frame_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ignore_help_window_layer

// 594:101
[ignore_help_window_close_button_layer]
type=layer
x=8
y=9
width=16
height=15
xmode=abs_right
layer=ignore_help_window_layer
transmitop1=yes
op1=Close
onop=snapshot_help_close

