// 837:0
[bg]
type=layer
widthmode=minus
heightmode=minus
layer=contents
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 837:1
[text_title]
type=text
height=15
widthmode=minus
xmode=abs_centre
layer=snp_text_layer
textfont=museo_sans_11pt_regular
text=Players needed
textalignh=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 837:2
[snp_text_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=contents
onvarctransmit=script2074
onvarctransmitlist=snp_game_in_progress_client

// 837:3
[contents]
type=layer
x=5
y=5
width=120
height=85
xmode=abs_right
onvarctransmit=script2077
onvarctransmitlist=snp_game_duration_client

// 837:4
[text_blueteam]
type=text
x=10
y=18
width=40
height=15
layer=snp_text_layer
textfont=museo_sans_13pt_bold
text=Blue:
textalignh=2
textshadow=yes
colour=0x3366ff

// 837:5
[text_blueteam_count]
type=text
x=10
y=18
width=50
height=15
xmode=abs_right
layer=snp_text_layer
textfont=museo_sans_13pt_bold
text=-
textshadow=yes
colour=0x3366ff
onvarctransmit=script2075
onvarctransmitlist=snp_blue_players_waiting_client

// 837:6
[text_redteam]
type=text
x=10
y=33
width=40
height=15
layer=snp_text_layer
textfont=museo_sans_13pt_bold
text=Red:
textalignh=2
textshadow=yes
colour=0xe12323

// 837:7
[text_redteam_count]
type=text
x=10
y=33
width=50
height=15
xmode=abs_right
layer=snp_text_layer
textfont=museo_sans_13pt_bold
text=-
textshadow=yes
colour=0xe12323
onvarctransmit=script2076
onvarctransmitlist=snp_red_players_waiting_client

// 837:8
[text_next_game_count]
type=text
y=50
height=24
widthmode=minus
xmode=abs_centre
layer=snp_text_layer
textfont=museo_sans_11pt_regular
text=New game:<br>- mins
textalignh=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

