// 835:0
[all]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 835:1
[background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=all

// 835:2
[content]
type=layer
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=all

// 835:3
[click_continue_button]
type=layer
width=80
height=20
xmode=abs_centre
ymode=abs_bottom
layer=content
pausebutton=yes

// 835:4
[click_continue_button_on]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 1)

// 835:5
[click_continue_button_over]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 2)

// 835:6
[click_continue_button_hit]
type=layer
widthmode=minus
heightmode=minus
layer=click_continue_button
onload=script11645(event_com, chatv2_continue_button, 3)

// 835:7
[body_text]
type=text
y=33
width=56
height=55
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content
textfont=tutorial_font
textalignh=1
textalignv=1
colour=0x000000

// 835:8
[click_continue]
type=layer
widthmode=minus
heightmode=minus
layer=content
pausebutton=yes
pausetext=Continue
onload=script5584(snp_tutorial_mesbox:click_continue_button, event_com)

// 835:9
[border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=all
onload=script8420(snp_tutorial_mesbox:background, snp_tutorial_mesbox:border, null, null, "", 23001, string_1006)

