// 6:0
[com_0]
type=rectangle
widthmode=minus
heightmode=minus
layer=a2
colour=0x071820
fill=yes
onload=script1340(event_com, rs3_rect_dark)

// 6:1
[com_1]
type=rectangle
widthmode=minus
heightmode=minus
layer=a3
colour=0x08202c
fill=yes
onload=script1340(event_com, rs3_rect_light)

// 6:2
[com_2]
type=rectangle
widthmode=minus
heightmode=minus
layer=a1
colour=0x08202c
fill=yes
onload=script1340(event_com, rs3_rect_light)

// 6:3
[com_3]
type=text
width=20
heightmode=minus
layer=a2
textfont=museo_sans_15pt_bold
text=2.
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 6:4
[com_4]
type=text
width=20
heightmode=minus
layer=a3
textfont=museo_sans_15pt_bold
text=3.
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 6:5
[com_5]
type=text
width=20
heightmode=minus
layer=a1
textfont=museo_sans_15pt_bold
text=1.
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 6:6
[answer3]
type=text
width=25
height=40
widthmode=minus
xmode=abs_right
layer=a3
textfont=museo_sans_11pt_regular
textalignv=1
colour=0xaed0e0
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10496(event_com, event_comsubid, 2)

// 6:7
[answer2]
type=text
width=25
widthmode=minus
heightmode=minus
xmode=abs_right
layer=a2
textfont=museo_sans_11pt_regular
textalignv=1
colour=0xaed0e0
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10496(event_com, event_comsubid, 2)

// 6:8
[answer1]
type=text
width=25
widthmode=minus
heightmode=minus
xmode=abs_right
layer=a1
textfont=museo_sans_11pt_regular
textalignv=1
colour=0xaed0e0
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10496(event_com, event_comsubid, 2)

// 6:9
[modal_dialog_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(sops_exampaper:modal_dialog_window_background, sops_exampaper:modal_dialog_window_border, sops_exampaper:modal_dialog_window_content, sops_exampaper:modal_dialog_window_close_button, "Player Safety Test", 21217, string_1007)

// 6:10
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 6:11
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 6:12
[question]
type=text
y=10
width=20
height=42
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content
textfont=museo_sans_13pt_bold
textlineheight=14
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 6:13
[a1]
type=layer
y=70
width=40
height=40
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 6:14
[a2]
type=layer
y=110
width=40
height=40
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 6:15
[a3]
type=layer
y=150
width=40
height=40
widthmode=minus
xmode=abs_centre
layer=modal_dialog_window_content

// 6:16
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 6:17
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 6:18
[info]
type=layer
width=20
height=200
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=modal_dialog_window_content
hide=yes
noclickthrough=yes

// 6:19
[bg]
type=layer
widthmode=minus
heightmode=minus
layer=info
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 6:20
[correct]
type=text
y=8
width=16
height=18
widthmode=minus
xmode=abs_centre
layer=info
textfont=cinzel_18pt_bold_multiline
text=Correct!
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 6:21
[answer_info]
type=text
y=23
width=16
height=61
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=info
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 6:22
[next_button]
type=layer
y=8
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=info
onload=script13968(sops_exampaper:neutral_build, sops_exampaper:neutral_click, rs3tli_neutral_button, "Next Question")

// 6:23
[neutral_build]
type=layer
widthmode=minus
heightmode=minus
layer=next_button

// 6:24
[neutral_click]
type=layer
widthmode=minus
heightmode=minus
layer=next_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

