// 1145:0
[village]
type=graphic
x=95
y=200
width=30
height=30
layer=hubs_layer
graphic="aif_clan_skill_plot_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Teleport

// 1145:1
[spirittree_window]
type=layer
width=356
height=334
xmode=abs_centre
ymode=abs_centre
onload=script8420(spirittree2:spirittree_window_background, spirittree2:spirittree_window_border, spirittree2:spirittree_window_content, spirittree2:spirittree_window_close_button, "Spirit Trees", 21218, null)

// 1145:2
[spirittree_window_background]
type=layer
widthmode=minus
heightmode=minus
layer=spirittree_window

// 1145:3
[spirittree_window_content]
type=layer
y=30
width=356
height=294
xmode=abs_centre
layer=spirittree_window

// 1145:4
[world_map]
type=layer
width=4
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=spirittree_window_content

// 1145:5
[com_5]
type=graphic
x=-37
y=-30
width=256
height=128
layer=world_map
graphic="thas_gielinor_map,0"
colour=0xffffff
clickmask=no

// 1145:6
[com_6]
type=graphic
x=219
y=-31
width=256
height=128
layer=world_map
graphic="thas_gielinor_map,1"
colour=0xffffff
clickmask=no

// 1145:7
[com_7]
type=graphic
x=-37
y=98
width=256
height=128
layer=world_map
graphic="thas_gielinor_map,2"
colour=0xffffff
clickmask=no

// 1145:8
[com_8]
type=graphic
x=219
y=97
width=256
height=128
layer=world_map
graphic="thas_gielinor_map,3"
colour=0xffffff
clickmask=no

// 1145:9
[com_9]
type=graphic
x=-37
y=226
width=256
height=128
layer=world_map
graphic="thas_gielinor_map,4"
colour=0xffffff
clickmask=no

// 1145:10
[com_10]
type=graphic
x=219
y=225
width=256
height=128
layer=world_map
graphic="thas_gielinor_map,5"
colour=0xffffff
clickmask=no

// 1145:11
[hubs_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=spirittree_window_content
onload=script9760
onvartransmit=script9760
onvartransmitlist=spirittree_coord

// 1145:12
[com_12]
type=text
x=126
y=200
width=32
height=32
layer=hubs_layer
textfont=museo_sans_19pt_bold
text=1
textshadow=yes
colour=0xffcb05

// 1145:13
[stronghold]
type=graphic
x=84
y=139
width=32
height=32
layer=hubs_layer
graphic="aif_clan_skill_plot_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Teleport

// 1145:14
[com_14]
type=text
x=116
y=139
width=32
height=32
layer=hubs_layer
textfont=museo_sans_19pt_bold
text=2
textshadow=yes
colour=0xffcb05

// 1145:15
[ourania]
type=graphic
x=113
y=169
width=32
height=32
layer=hubs_layer
graphic="aif_clan_skill_plot_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Teleport

// 1145:16
[com_16]
type=text
x=145
y=169
width=32
height=32
layer=hubs_layer
textfont=museo_sans_19pt_bold
text=3
textshadow=yes
colour=0xffcb05

// 1145:17
[grandexchange]
type=graphic
x=283
y=119
width=32
height=32
layer=hubs_layer
graphic="aif_clan_skill_plot_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Teleport

// 1145:18
[com_18]
type=text
x=314
y=119
width=32
height=32
layer=hubs_layer
textfont=museo_sans_19pt_bold
text=4
textshadow=yes
colour=0xffcb05

// 1145:19
[mobilisingarmies]
type=graphic
x=79
y=254
width=32
height=32
layer=hubs_layer
graphic="aif_clan_skill_plot_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Teleport

// 1145:20
[com_20]
type=text
x=110
y=254
width=32
height=32
layer=hubs_layer
textfont=museo_sans_19pt_bold
text=5
textshadow=yes
colour=0xffcb05

// 1145:21
[portsarim]
type=graphic
x=229
y=170
width=32
height=32
layer=hubs_layer
graphic="aif_clan_skill_plot_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Teleport

// 1145:22
[com_22]
type=text
x=261
y=170
width=32
height=32
layer=hubs_layer
textfont=museo_sans_19pt_bold
text=6
textshadow=yes
colour=0xffcb05

// 1145:23
[etceteria]
type=graphic
x=116
y=33
width=32
height=32
layer=hubs_layer
graphic="aif_clan_skill_plot_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Teleport

// 1145:24
[com_24]
type=text
x=147
y=33
width=32
height=32
layer=hubs_layer
textfont=museo_sans_19pt_bold
text=7
textshadow=yes
colour=0xffcb05

// 1145:25
[brimhaven]
type=graphic
x=169
y=190
width=32
height=32
layer=hubs_layer
graphic="aif_clan_skill_plot_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Teleport

// 1145:26
[com_26]
type=text
x=200
y=193
width=32
height=32
layer=hubs_layer
textfont=museo_sans_19pt_bold
text=8
textshadow=yes
colour=0xffcb05

// 1145:27
[poisonwaste]
type=graphic
x=44
y=210
width=32
height=32
layer=hubs_layer
graphic="aif_clan_skill_plot_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Teleport

// 1145:28
[com_28]
type=text
x=74
y=210
width=32
height=32
layer=hubs_layer
textfont=museo_sans_19pt_bold
text=9
textshadow=yes
colour=0xffcb05

// 1145:29
[elfcity]
type=graphic
x=30
y=160
width=32
height=32
layer=hubs_layer
graphic="aif_clan_skill_plot_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Teleport

// 1145:30
[spirittree_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=spirittree_window

// 1145:31
[spirittree_window_close_button]
type=layer
widthmode=minus
heightmode=minus
layer=spirittree_window
transmitop1=yes
op1=Close
onop=script9764

// 1145:32
[close_button_keybind_layer]
type=layer
widthmode=minus
heightmode=minus
layer=spirittree_window_close_button

// 1145:33
[elfcity_text]
type=text
x=61
y=160
width=32
height=32
layer=hubs_layer
textfont=museo_sans_19pt_bold
text=0
textshadow=yes
colour=0xffcb05

// 1145:34
[manor_farm]
type=graphic
x=137
y=139
width=32
height=32
layer=hubs_layer
graphic="aif_clan_skill_plot_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Teleport

// 1145:35
[manor_farm_text]
type=text
x=168
y=139
width=32
height=32
layer=hubs_layer
textfont=museo_sans_19pt_bold
text=M
textshadow=yes
colour=0xffcb05

// 1145:36
[poh]
type=graphic
x=7
y=250
width=32
height=32
layer=hubs_layer
graphic="aif_clan_skill_plot_icons,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Teleport

// 1145:37
[poh_text]
type=text
x=39
y=252
width=32
height=32
layer=hubs_layer
textfont=museo_sans_19pt_bold
text=H
textshadow=yes
colour=0xffcb05

