// 787:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(star_noticeboard:mainmodal_window_background, star_noticeboard:mainmodal_window_border, star_noticeboard:mainmodal_window_content, star_noticeboard:mainmodal_window_close_button, "Shooting Star noticeboard", 21218, string_1007)

// 787:1
[star_landing_time]
type=text
x=32
y=12
width=200
height=40
layer=content
textfont=cinzel_15pt_bold
text=Landing time
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 0)

// 787:2
[star_time_1]
type=layer
x=32
y=60
width=200
height=32
layer=content

// 787:3
[star_time_1_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=star_time_1
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 787:4
[star_time_1_text]
type=text
widthmode=minus
heightmode=minus
layer=star_time_1
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 787:5
[star_time_2]
type=layer
x=32
y=100
width=200
height=32
layer=content

// 787:6
[star_time_2_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=star_time_2
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 787:7
[star_time_2_text]
type=text
widthmode=minus
heightmode=minus
layer=star_time_2
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 787:8
[star_time_3]
type=layer
x=32
y=140
width=200
height=32
layer=content

// 787:9
[star_time_3_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=star_time_3
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 787:10
[star_time_3_text]
type=text
widthmode=minus
heightmode=minus
layer=star_time_3
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
stylesheet=background_default
onload=script10496(event_com, event_comsubid, 2)

// 787:11
[star_time_4]
type=layer
x=32
y=180
width=200
height=32
layer=content

// 787:12
[star_time_4_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=star_time_4
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 787:13
[star_time_4_text]
type=text
widthmode=minus
heightmode=minus
layer=star_time_4
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 787:14
[star_time_5]
type=layer
x=32
y=220
width=200
height=32
layer=content

// 787:15
[star_time_5_background]
type=rectangle
widthmode=minus
heightmode=minus
layer=star_time_5
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 787:16
[star_time_5_text]
type=text
widthmode=minus
heightmode=minus
layer=star_time_5
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 787:17
[star_discovered_by]
type=text
x=32
y=14
width=200
height=40
xmode=abs_right
layer=content
textfont=cinzel_15pt_bold
text=Discovered by
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 0)

// 787:18
[star_finder_1]
type=layer
x=32
y=60
width=200
height=32
xmode=abs_right
layer=content

// 787:19
[star_finder_1_background]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_right
layer=star_finder_1
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 787:20
[star_finder_1_text]
type=text
widthmode=minus
heightmode=minus
layer=star_finder_1
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 787:21
[star_finder_2]
type=layer
x=32
y=100
width=200
height=32
xmode=abs_right
layer=content

// 787:22
[star_finder_2_background]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_right
layer=star_finder_2
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 787:23
[star_finder_2_text]
type=text
widthmode=minus
heightmode=minus
layer=star_finder_2
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 787:24
[star_finder_3]
type=layer
x=32
y=140
width=200
height=32
xmode=abs_right
layer=content

// 787:25
[star_finder_3_background]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_right
layer=star_finder_3
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 787:26
[star_finder_3_text]
type=text
widthmode=minus
heightmode=minus
layer=star_finder_3
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 787:27
[star_finder_4]
type=layer
x=32
y=180
width=200
height=32
xmode=abs_right
layer=content

// 787:28
[star_finder_4_background]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_right
layer=star_finder_4
colour=0x000000
fill=yes
stylesheet=rect_dark
onload=stylesheet_set_rect(event_com, rect_dark)

// 787:29
[star_finder_4_text]
type=text
widthmode=minus
heightmode=minus
layer=star_finder_4
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 787:30
[star_finder_5]
type=layer
x=32
y=220
width=200
height=32
xmode=abs_right
layer=content

// 787:31
[star_finder_5_background]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_right
layer=star_finder_5
colour=0x000000
fill=yes
stylesheet=rect_light
onload=stylesheet_set_rect(event_com, rect_light)

// 787:32
[star_finder_5_text]
type=text
widthmode=minus
heightmode=minus
layer=star_finder_5
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
colour=0x000000
onload=script10496(event_com, event_comsubid, 2)

// 787:33
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 787:34
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 787:35
[content]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 787:36
[stars_mined]
type=text
y=8
width=200
height=24
xmode=abs_centre
ymode=abs_bottom
layer=content
noclickthrough=yes
textfont=museo_sans_13pt_regular
textalignh=1
textalignv=1
onload=script10496(event_com, event_comsubid, 0)

// 787:37
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 787:38
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

