// 782:0
[mainmodal_window]
type=layer
width=52
widthmode=minus
heightmode=minus
xmode=abs_centre
onload=script8420(star_telescope_meteor:mainmodal_window_background, star_telescope_meteor:mainmodal_window_border, star_telescope_meteor:mainmodal_window_content, star_telescope_meteor:mainmodal_window_close_button, "Telescope", 21218, string_1007)

// 782:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 782:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 782:3
[stars]
type=layer
height=65496
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 782:4
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 782:5
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 782:6
[com_6]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=stars
colour=0x000000
fill=yes

// 782:7
[com_7]
type=model
width=638
height=609
xmode=abs_right
ymode=abs_centre
layer=stars
model=telescope_meteor_interface
modelnodepth=yes
modelorigin_x=16
modelorigin_y=-6
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=767
modelanim=game_star_meteor

