// 1007:0
[gold_tab]
type=layer
x=130
width=120
height=24
ymode=abs_bottom
layer=tabs_layer

// 1007:1
[tabs_layer]
type=layer
height=25
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 1007:2
[info_holder_active]
type=layer
x=5
y=25
width=10
height=30
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1007:3
[grey_tab]
type=layer
x=10
width=120
height=24
ymode=abs_bottom
layer=tabs_layer

// 1007:4
[content_layer]
type=layer
x=10
y=30
width=20
height=20
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onload=statue_bag_init(event_com, statue_bag:text_layer, statue_bag:icon_layer, statue_bag:tick_layer)
onvarctransmit=statue_bag_init(event_com, statue_bag:text_layer, statue_bag:icon_layer, statue_bag:tick_layer)
onvarctransmitlist=statue_bag_client

// 1007:5
[icon_layer]
type=layer
x=10
y=30
width=20
height=20
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1007:6
[text_layer]
type=layer
x=10
y=30
width=20
height=20
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1007:7
[tick_layer]
type=layer
x=10
y=30
width=20
height=20
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1007:8
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(statue_bag:mainmodal_window_background, statue_bag:mainmodal_window_border, statue_bag:mainmodal_window_content, statue_bag:mainmodal_window_close_button, "Statue Collection Bag", 21218, string_1040)

// 1007:9
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1007:10
[mainmodal_window_content]
type=layer
y=32
width=10
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1007:11
[info_layer]
type=layer
width=14745
height=35
widthmode=proportion
ymode=abs_bottom
layer=mainmodal_window_content

// 1007:12
[golden_content_layer]
type=layer
x=10
y=30
width=20
height=20
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes
onload=script10601(event_com, statue_bag:golden_text_layer, statue_bag:golden_icon_layer, statue_bag:golden_tick_layer)
onvarctransmit=script10601(event_com, statue_bag:golden_text_layer, statue_bag:golden_icon_layer, statue_bag:golden_tick_layer)
onvarctransmitlist=statue_bag_golden_client

// 1007:13
[golden_icon_layer]
type=layer
x=10
y=30
width=20
height=20
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes

// 1007:14
[golden_text_layer]
type=layer
x=10
y=30
width=20
height=20
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes

// 1007:15
[golden_tick_layer]
type=layer
x=10
y=30
width=20
height=20
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes

// 1007:16
[golden_info_layer]
type=layer
width=14739
height=35
widthmode=proportion
ymode=abs_bottom
layer=mainmodal_window_content
hide=yes

// 1007:17
[ine]
type=layer
y=25
width=2
height=31
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content
onload=script11742(event_com)

// 1007:18
[info_text]
type=text
x=5
y=5
width=10
height=10
widthmode=minus
heightmode=minus
layer=info_layer
textfont=museo_sans_11pt_regular
textalignv=1
colour=0x7592a0

// 1007:19
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1007:20
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
opkey1=0,13,0
op1=Close
onop=closebutton_click

// 1007:21
[golden_info_text]
type=text
x=5
y=5
width=10
height=10
widthmode=minus
heightmode=minus
layer=golden_info_layer
textfont=museo_sans_11pt_regular
textalignv=1
colour=0x7592a0

// 1007:22
[grey_tab_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=grey_tab
onload=script8103(event_com)

// 1007:23
[grey_tab_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=grey_tab
onload=script9645(event_com)

// 1007:24
[grey_tab_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=grey_tab
onload=script9646(event_com)

// 1007:25
[grey_tab_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=grey_tab
hide=yes
onload=script9649(event_com)

// 1007:26
[grey_tab_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=grey_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script3291

// 1007:27
[grey_tab_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=grey_tab
hide=yes
onload=script9650(event_com)

// 1007:28
[grey_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=grey_tab

// 1007:29
[grey_tab_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=grey_tab_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Strange rocks
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1007:30
[grey_tab_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_tab
onload=script8103(event_com)

// 1007:31
[grey_tab_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_tab
onload=script9645(event_com)

// 1007:32
[grey_tab_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_tab
onload=script9646(event_com)

// 1007:33
[gold_tab_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_tab
hide=yes
onload=script9649(event_com)

// 1007:34
[gold_tab_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=gold_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script3292

// 1007:35
[grey_tab_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_tab
hide=yes
onload=script9650(event_com)

// 1007:36
[grey_tab_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_tab

// 1007:37
[grey_tab_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=grey_tab_text_layer_1
textfont=museo_sans_11pt_regular_multiline
text=Golden rocks
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

