// 1611:0
[skills_backgrounds]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skills_container

// 1611:1
[skills_grid]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skills_container

// 1611:2
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(stat_select:mainmodal_window_background, stat_select:mainmodal_window_border, stat_select:mainmodal_window_content, stat_select:mainmodal_window_close_button, "Select Skill", 21218, string_1007)

// 1611:3
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1611:4
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1611:5
[title]
type=text
x=10
width=20
height=30
widthmode=minus
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular
textalignv=1
colour=0x7592a0
onload=script11279(event_com)
onvarcstrtransmit=script11279(event_com)
onvarcstrtransmitlist=varclientstring_4763

// 1611:6
[neutral_button_layer]
type=layer
x=100
y=7
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 1611:7
[positive_button_layer]
type=layer
x=-100
y=7
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content

// 1611:8
[skills_container]
type=layer
x=10
y=30
width=20
height=70
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onload=stat_select_onload(stat_select:skills_grid, stat_select:skills_backgrounds)
onvartransmit=stat_select_ontransmit(stat_select:skills_grid, stat_select:skills_backgrounds)
onvartransmitlist=stat_select_filter

// 1611:9
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1611:10
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1611:11
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7041(event_com)

// 1611:12
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7042(event_com)

// 1611:13
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7044(event_com)

// 1611:14
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7047(event_com)

// 1611:15
[confirm_bottom]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=stat_select_confirm

// 1611:16
[confirm_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7060(event_com)

// 1611:17
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer

// 1611:18
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Confirm
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1611:19
[neutral_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
onload=script7062(event_com)

// 1611:20
[neutral_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
onload=script7063(event_com)

// 1611:21
[neutral_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
onload=script7065(event_com)

// 1611:22
[neutral_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
hide=yes
onload=script7068(event_com)

// 1611:23
[cancel_button]
type=layer
widthmode=minus
heightmode=minus
layer=neutral_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=stat_select_cancel

// 1611:24
[neutral_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
hide=yes
onload=script7074(event_com)

// 1611:25
[neutral_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer

// 1611:26
[neutral_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer
textfont=cinzel_13pt_bold
text=Cancel
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

