// 1557:0
[canvas]
type=layer
widthmode=minus
heightmode=minus
onvartransmit=script8488(102039552, stats_inspect:tooltip, stats_inspect:list, stats_inspect:scrollbar, stats_inspect:background, stats_inspect:icon, stats_inspect:stat, stats_inspect:stat_base, stats_inspect:vanityicon, stats_inspect:button, stats_inspect:skilltotal, stats_inspect:combat_level, stats_inspect:qp_layer)
onvartransmitlist=player_inspect_stat_int0,player_inspect_stat_int1,player_inspect_stat_int2,player_inspect_stat_int3,player_inspect_stat_int4,player_inspect_stat_int5,player_inspect_stat_int6,player_inspect_stat_int7,player_inspect_stat_int8,player_inspect_stat_int9,player_inspect_stat_int10,player_inspect_stat_int11,player_inspect_stat_int12,notes_varp,notes_varp,notes_varp2,notes_varp2,option_toggle01

// 1557:1
[list]
type=layer
height=33
widthmode=minus
heightmode=minus
layer=canvas

// 1557:2
[background]
type=layer
widthmode=minus
heightmode=minus
layer=list

// 1557:3
[icon]
type=layer
widthmode=minus
heightmode=minus
layer=list

// 1557:4
[stat]
type=layer
widthmode=minus
heightmode=minus
layer=list

// 1557:5
[stat_base]
type=layer
widthmode=minus
heightmode=minus
layer=list

// 1557:6
[vanityicon]
type=layer
widthmode=minus
heightmode=minus
layer=list

// 1557:7
[button]
type=layer
widthmode=minus
heightmode=minus
layer=list

// 1557:8
[scrollbar]
type=layer
width=16
height=33
heightmode=minus
xmode=abs_right
layer=canvas

// 1557:9
[fixed_area]
type=layer
height=33
widthmode=minus
ymode=abs_bottom
layer=canvas

// 1557:10
[skills_line]
type=layer
height=2
widthmode=minus
layer=fixed_area
onload=script11741(event_com)

// 1557:11
[skilltotal]
type=layer
width=5383
widthmode=proportion
heightmode=minus
ymode=abs_bottom
layer=fixed_area

// 1557:12
[combat_level]
type=layer
width=5383
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=fixed_area

// 1557:13
[qp_layer]
type=layer
width=5383
widthmode=proportion
heightmode=minus
xmode=abs_right
layer=fixed_area

// 1557:14
[tooltip]
type=layer
widthmode=minus
heightmode=minus
layer=canvas

