// 651:0
[send_to_inv_layer]
type=layer
width=8
height=27
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content

// 651:1
[send_to_bank_layer]
type=layer
y=4
width=8
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bespoke_window_content

// 651:2
[send_to_inv_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_layer
onload=script7041(event_com)

// 651:3
[send_to_inv_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_layer
onload=script7042(event_com)

// 651:4
[send_to_inv_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_layer
onload=script7044(event_com)

// 651:5
[send_to_inv_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_layer
hide=yes
onload=script7047(event_com)

// 651:6
[send_to_inv_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=send_to_inv_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onmouserepeat=script10009("", event_com, event_comsubid)

// 651:7
[send_to_inv_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_layer
hide=yes
onload=script7060(event_com)

// 651:8
[send_to_inv_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_layer

// 651:9
[send_to_inv_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_text_layer
textfont=cinzel_13pt_bold
text=To inventory
textalignh=1
textalignv=1
colour=0x000000

// 651:10
[send_to_bank_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_layer
onload=script7062(event_com)

// 651:11
[send_to_bank_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_layer
onload=script7063(event_com)

// 651:12
[send_to_bank_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_layer
onload=script7065(event_com)

// 651:13
[send_to_bank_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_layer
hide=yes
onload=script7068(event_com)

// 651:14
[send_to_bank_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=send_to_bank_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onmouserepeat=script10009("", event_com, event_comsubid)

// 651:15
[send_to_bank_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_layer
hide=yes
onload=script7074(event_com)

// 651:16
[send_to_bank_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_layer

// 651:17
[send_to_bank_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_text_layer
textfont=cinzel_13pt_bold
text=To bank
textalignh=1
textalignv=1
colour=0x000000

// 651:18
[bespoke_window]
type=layer
widthmode=minus
heightmode=minus
onload=script8420(stockmarket_collectall:bespoke_window_background, stockmarket_collectall:bespoke_window_border, stockmarket_collectall:bespoke_window_content, null, "Collect All", 21259, null)

// 651:19
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 651:20
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 651:21
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

