// 707:0
[favourites]
type=layer
widthmode=minus
heightmode=minus
candrop=yes
onvartransmit=stockmarket_onvartransmit
onvartransmitlist=stock_offeritem,stock_offerslot,stock_offerprice,stock_offercount,stock_offertype

// 707:1
[search_layer]
type=layer
height=5
widthmode=minus
ymode=abs_bottom
layer=favourites

// 707:2
[favourites_bg]
type=layer
widthmode=minus
heightmode=minus
layer=favourites
onload=script8420(event_com, stock_favourites:favourites_frame, stock_favourites:favourites_content, null, "", 21259, null)

// 707:3
[favourites_content]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=favourites

// 707:4
[draw]
type=layer
widthmode=minus
heightmode=minus
layer=favourites_content

// 707:5
[click]
type=layer
widthmode=minus
heightmode=minus
layer=favourites_content

// 707:6
[favourites_frame]
type=layer
widthmode=minus
heightmode=minus
layer=favourites

// 707:7
[search_bg]
type=layer
widthmode=minus
heightmode=minus
layer=search_layer
noclickthrough=yes
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 707:8
[search_bar_layer]
type=layer
y=4
width=4
height=24
widthmode=minus
layer=search_layer

// 707:9
[com_9]
type=graphic
x=2
width=16
height=14
ymode=abs_centre
layer=search_bar_layer
graphic="grand_exchange_misc_graphics,4"
colour=0xffffff
clickmask=no

// 707:10
[search_input_box]
type=layer
x=22
width=22
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=search_bar_layer

// 707:11
[search_input_border]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=search_input_box
onload=script13964(event_com, null, rs3tli_text_entry_box)

// 707:12
[search_input_listener]
type=layer
width=22
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=search_input_box
noclickthrough=yes
onvarctransmit=script15056(event_com, stock_favourites:search_input_listen, stock_favourites:search_input_caret, stock_favourites:search_input_display, stock_favourites:search_input_clickout, 1, 0)
onvarctransmitlist=p_dialog_listener,p_dialog_mode

// 707:13
[search_input_listen]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=search_input_listener
hide=yes
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xfffefe

// 707:14
[search_input_caret]
type=rectangle
width=2
height=14
xmode=abs_centre
ymode=abs_centre
layer=search_input_listener
hide=yes
colour=0xe2dede
fill=yes

// 707:15
[search_input_display]
type=text
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=search_input_listener
textfont=museo_sans_13pt_bold
text=Click edit or 'Add a new favourite' to search for an item to favourite.
textalignh=1
textalignv=1
textshadow=yes
onmouserepeat=script10009("", event_com, event_comsubid)
onclick=script7203(stock_favourites:search_input_stop_click, stock_favourites:search_input_clickout)

// 707:16
[search_input_stop_click]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=search_input_listener
hide=yes

// 707:17
[search_input_clickout]
type=layer
x=5
width=22
height=22
xmode=abs_right
ymode=abs_centre
layer=search_input_box
hide=yes

// 707:18
[com_18]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=search_input_clickout
graphic=rs3_contextual_input_error
trans=50
colour=0xffffff
clickmask=no

// 707:19
[com_19]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=search_input_clickout
graphic=rs3_contextual_input_error
trans=255
colour=0xffffff
clickmask=no
onmouseover=script4209(event_com, 0)
onmouseleave=script4209(event_com, 1)

// 707:20
[search_scrolling]
type=layer
y=30
width=16
height=34
widthmode=minus
heightmode=minus
layer=search_layer

// 707:21
[search_obj_select_no_search_box_focus]
type=layer
layer=search_scrolling
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 707:22
[search_build]
type=layer
widthmode=minus
heightmode=minus
layer=search_scrolling

// 707:23
[search_obj]
type=layer
widthmode=minus
heightmode=minus
layer=search_scrolling

// 707:24
[search_build_scrollbar]
type=layer
x=2
y=30
width=16
height=34
heightmode=minus
xmode=abs_right
layer=search_layer

// 707:25
[search_warning_layer]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=search_layer

// 707:26
[com_26]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=search_warning_layer
textfont=museo_sans_13pt_regular
text=Grand Exchange Favourite Item Search<br><br>To search for an item, start by typing part of its name.<br>Then simply select the item you want from the results on display.
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

