// 109:0
[offerbutton5]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton5_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 109:1
[offersummary5]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton5_layer

// 109:2
[offerbutton5_hide]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton5_layer

// 109:3
[offerbutton4]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton4_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 109:4
[offersummary4]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton4_layer

// 109:5
[offerbutton4_hide]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton4_layer

// 109:6
[offerbutton3]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton3_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 109:7
[offersummary3]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton3_layer

// 109:8
[offerbutton3_hide]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton3_layer

// 109:9
[offerbutton2]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton2_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 109:10
[offersummary2]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton2_layer

// 109:11
[offerbutton1]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton1_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 109:12
[offersummary1]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton1_layer

// 109:13
[offerbutton0]
type=layer
width=106
height=80
layer=offerbutton0_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 109:14
[offersummary0]
type=layer
width=106
height=80
layer=offerbutton0_layer

// 109:15
[offerbutton0_layer]
type=layer
x=6
y=7
width=106
height=80
layer=mainmodal_window_content

// 109:16
[lending_container_bg]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=lending_container
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 109:17
[lending_title]
type=text
y=4
height=20
widthmode=minus
xmode=abs_centre
layer=lending_container
textfont=museo_sans_13pt_regular
text=Lent Items
textalignh=1
textshadow=yes
colour=0xff981f

// 109:18
[lending_item_bg]
type=graphic
width=40
height=36
xmode=abs_centre
ymode=abs_centre
layer=lending_container
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 109:19
[lending_item]
type=graphic
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=lending_container
outline=1
graphicshadow=3355443
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop10=yes
op1=*
op10=Examine

// 109:20
[lending_indicator]
type=text
y=4
height=12
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=lending_container
textfont=museo_sans_11pt_regular
text=Available
textalignh=1
textalignv=1
textshadow=yes

// 109:21
[offerbutton1_layer]
type=layer
x=118
y=7
width=106
height=80
layer=mainmodal_window_content

// 109:22
[offerbutton2_layer]
type=layer
x=118
y=7
width=106
height=80
xmode=abs_right
layer=mainmodal_window_content

// 109:23
[offerbutton3_layer]
type=layer
x=6
y=7
width=106
height=80
xmode=abs_right
layer=mainmodal_window_content

// 109:24
[offerbutton4_layer]
type=layer
x=6
y=5
width=106
height=80
ymode=abs_centre
layer=mainmodal_window_content

// 109:25
[offerbutton5_layer]
type=layer
x=118
y=5
width=106
height=80
ymode=abs_centre
layer=mainmodal_window_content

// 109:26
[offerbutton6_layer]
type=layer
x=118
y=5
width=106
height=80
xmode=abs_right
ymode=abs_centre
layer=mainmodal_window_content

// 109:27
[offerbutton7_layer]
type=layer
x=6
y=5
width=106
height=80
xmode=abs_right
ymode=abs_centre
layer=mainmodal_window_content

// 109:28
[lending_container]
type=layer
x=6
y=4
width=106
height=73
ymode=abs_bottom
layer=mainmodal_window_content

// 109:29
[lending_layer_hide]
type=layer
widthmode=minus
heightmode=minus
layer=lending_container
noclickthrough=yes

// 109:30
[send_to_bank_layer]
type=layer
x=6
y=8
width=222
height=27
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content

// 109:31
[com_31]
type=rectangle
widthmode=minus
heightmode=minus
layer=offerbutton3_hide
colour=0x808080
fill=yes
trans=160

// 109:32
[com_32]
type=graphic
widthmode=minus
heightmode=minus
layer=offerbutton3_hide
graphic=mesh
tiling=yes
colour=0xffffff
clickmask=no

// 109:33
[com_33]
type=rectangle
widthmode=minus
heightmode=minus
layer=offerbutton4_hide
colour=0x808080
fill=yes
trans=160

// 109:34
[com_34]
type=graphic
widthmode=minus
heightmode=minus
layer=offerbutton4_hide
graphic=mesh
tiling=yes
colour=0xffffff
clickmask=no

// 109:35
[com_35]
type=rectangle
widthmode=minus
heightmode=minus
layer=offerbutton5_hide
colour=0x808080
fill=yes
trans=160

// 109:36
[com_36]
type=graphic
widthmode=minus
heightmode=minus
layer=offerbutton5_hide
graphic=mesh
tiling=yes
colour=0xffffff
clickmask=no

// 109:37
[contents]
type=layer
width=470
height=302
xmode=abs_centre
ymode=abs_centre
onload=script8420(stockcollect:mainmodal_window_background, stockcollect:mainmodal_window_border, stockcollect:mainmodal_window_content, stockcollect:closebutton, "Collection Box", 21218, string_1007)

// 109:38
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=contents

// 109:39
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=contents
onload=stockcollect_onload

// 109:40
[send_to_inv_layer]
type=layer
x=6
y=45
width=222
height=27
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content

// 109:41
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=contents

// 109:42
[closebutton]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=contents
transmitop1=yes
op1=Close
onop=closebutton_click

// 109:43
[send_to_bank_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_layer
onload=script7041(event_com)

// 109:44
[send_to_bank_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_layer
onload=script7042(event_com)

// 109:45
[send_to_bank_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_layer
onload=script7044(event_com)

// 109:46
[send_to_bank_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_layer
hide=yes
onload=script7047(event_com)

// 109:47
[send_to_bank_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=send_to_bank_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 109:48
[send_to_bank_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_layer
hide=yes
onload=script7060(event_com)

// 109:49
[send_to_bank_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_layer

// 109:50
[send_to_bank_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_bank_text_layer
textfont=cinzel_13pt_bold
text=Collect all to bank
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 109:51
[send_to_inv_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_layer
onload=script7041(event_com)

// 109:52
[send_to_inv_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_layer
onload=script7042(event_com)

// 109:53
[send_to_inv_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_layer
onload=script7044(event_com)

// 109:54
[send_to_inv_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_layer
hide=yes
onload=script7047(event_com)

// 109:55
[send_to_inv_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=send_to_inv_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 109:56
[send_to_inv_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_layer
hide=yes
onload=script7060(event_com)

// 109:57
[send_to_inv_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_layer

// 109:58
[send_to_inv_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=send_to_inv_text_layer
textfont=cinzel_13pt_bold
text=Collect all to inventory
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 109:59
[com_59]
type=rectangle
widthmode=minus
heightmode=minus
layer=lending_layer_hide
colour=0x808080
fill=yes
trans=160

// 109:60
[com_60]
type=graphic
widthmode=minus
heightmode=minus
layer=lending_layer_hide
graphic=mesh
tiling=yes
colour=0xffffff
clickmask=no

// 109:61
[offerbutton6]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton6_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 109:62
[offersummary6]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton6_layer

// 109:63
[offerbutton6_hide]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton6_layer

// 109:64
[com_64]
type=rectangle
widthmode=minus
heightmode=minus
layer=offerbutton6_hide
colour=0x808080
fill=yes
trans=160

// 109:65
[com_65]
type=graphic
widthmode=minus
heightmode=minus
layer=offerbutton6_hide
graphic=mesh
tiling=yes
colour=0xffffff
clickmask=no

// 109:66
[offerbutton7]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton7_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 109:67
[offersummary7]
type=layer
widthmode=minus
heightmode=minus
layer=offerbutton7_layer

// 109:68
[offerbutton7_hide]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=offerbutton7_layer

// 109:69
[com_69]
type=rectangle
widthmode=minus
heightmode=minus
layer=offerbutton7_hide
colour=0x808080
fill=yes
trans=160

// 109:70
[com_70]
type=graphic
widthmode=minus
heightmode=minus
layer=offerbutton7_hide
graphic=mesh
tiling=yes
colour=0xffffff
clickmask=no

