// 249:0
[lj_title]
type=text
x=43
y=18
width=329
height=17
layer=lj_layer1
textfont=surok_font
text=Surok Magis,
colour=0x000000

// 249:1
[lj1]
type=text
x=43
y=42
width=297
height=136
layer=lj_layer1
textfont=surok_font
text=Your actions are being watched. We know what you are trying to do and the VPSG will stop you! Do not attempt to leave the palace or you will be arrested on sight. We will not hesitate to kill you if you disobey King Roald's orders.                                                                                            Rat Burgiss
colour=0x000000

// 249:2
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(surok_letter1:mainmodal_window_background, surok_letter1:mainmodal_window_border, surok_letter1:mainmodal_window_content, surok_letter1:mainmodal_window_close_button, "Letter", 21218, string_1007)

// 249:3
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 249:4
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 249:5
[com_5]
type=graphic
width=496
height=293
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
graphic=rs3_parchment_scroll_background
colour=0xffffff
clickmask=no

// 249:6
[lj_layer1]
type=layer
width=358
height=225
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 249:7
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 249:8
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

