// 1866:0
[background_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_1_graphic_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:1
[sworld_hud_mutator_1_graphic_layer]
type=layer
width=32
height=32
layer=sworld_hud_mutator_layer_expanded

// 1866:2
[mutator_graphic_layer_1]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_1_graphic_layer

// 1866:3
[sworld_hud_mutator_2_graphic_layer]
type=layer
x=34
width=32
height=32
layer=sworld_hud_mutator_layer_expanded

// 1866:4
[background_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_2_graphic_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:5
[sworld_hud_mutator_3_graphic_layer]
type=layer
x=68
width=32
height=32
layer=sworld_hud_mutator_layer_expanded

// 1866:6
[background_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_3_graphic_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:7
[sworld_hud_mutator_4_graphic_layer]
type=layer
x=102
width=32
height=32
layer=sworld_hud_mutator_layer_expanded

// 1866:8
[background_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_4_graphic_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:9
[sworld_hud_mutator_5_graphic_layer]
type=layer
x=136
width=32
height=32
layer=sworld_hud_mutator_layer_expanded

// 1866:10
[background_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_5_graphic_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:11
[sworld_hud_mutator_6_graphic_layer]
type=layer
x=170
width=32
height=32
layer=sworld_hud_mutator_layer_expanded

// 1866:12
[background_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_6_graphic_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:13
[sworld_hud_mutator_7_graphic_layer]
type=layer
x=204
width=32
height=32
layer=sworld_hud_mutator_layer_expanded

// 1866:14
[background_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_7_graphic_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:15
[sworld_hud_mutator_8_graphic_layer]
type=layer
x=238
width=32
height=32
layer=sworld_hud_mutator_layer_expanded

// 1866:16
[background_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_8_graphic_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:17
[sworld_hud_mutator_9_graphic_layer]
type=layer
x=272
width=32
height=32
layer=sworld_hud_mutator_layer_expanded

// 1866:18
[background_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_9_graphic_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:19
[sworld_hud_mutator_10_graphic_layer]
type=layer
x=306
width=32
height=32
layer=sworld_hud_mutator_layer_expanded

// 1866:20
[background_layer_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_10_graphic_layer
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:21
[sworld_hud_prog_fill_rect]
type=rectangle
width=348
heightmode=minus
xmode=abs_right
layer=sworld_hud_prog_mask
colour=0xbc111c
fill=yes
onvartransmit=script8279(event_com)
onvartransmitlist=sworlds_varp_13

// 1866:22
[sworld_hud_prog_bg]
type=rectangle
widthmode=minus
heightmode=minus
layer=sworld_hud_prog_layer
colour=0x000000
fill=yes

// 1866:23
[sworld_hud_prog_fill]
type=layer
widthmode=minus
heightmode=minus
layer=sworld_hud_prog_layer
onload=script13309(event_com, sworld_hud:sworld_hud_prog_mask, 21, 4000)

// 1866:24
[sworld_hud_prog_mask]
type=layer
widthmode=minus
heightmode=minus
layer=sworld_hud_prog_fill

// 1866:25
[sworld_hud_prog_layer]
type=layer
x=7
y=4
width=14
height=6
widthmode=minus
heightmode=minus
layer=sworld_hud_objective_layer_expanded

// 1866:26
[sworld_hud_prog_bg_outline]
type=rectangle
widthmode=minus
heightmode=minus
layer=sworld_hud_prog_layer
colour=0xffffff

// 1866:27
[sworld_hud_objective_text]
type=text
width=8
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_prog_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes

// 1866:28
[sworld_hud_world_text_reduced]
type=text
widthmode=minus
heightmode=minus
xmode=abs_right
layer=sworld_hud_world_layer_reduced
textfont=museo_sans_11pt_regular
text=9999
textalignh=1
textalignv=1
textshadow=yes
onvartransmit=sworlds_update_world
onvartransmitlist=sworlds_varp_2

// 1866:29
[com_29]
type=line
x=4
y=2
width=8
widthmode=minus
layer=sworld_hud_objective_layer_expanded
colour=0x1c2c34

// 1866:30
[sworld_hud_anima_layer_expanded]
type=layer
width=110
heightmode=minus
layer=top_bar_expanded_layer
onload=sworlds_anima_tooltip(event_com, event_comsubid)

// 1866:31
[sworld_hud_world_text_layer]
type=layer
width=80
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=top_bar_expanded_layer
onload=sworlds_world_tooltip(event_com, event_comsubid)

// 1866:32
[sworld_hud_time_layer_expanded]
type=layer
x=1
width=99
heightmode=minus
xmode=abs_right
layer=top_bar_expanded_layer
onload=sworlds_time_tooltip(event_com, event_comsubid)

// 1866:33
[com_33]
type=graphic
x=5
width=28
height=28
ymode=abs_centre
layer=sworld_hud_time_layer_expanded
graphic=sworlds_icon_timer_28px
colour=0xffffff
clickmask=no

// 1866:34
[com_34]
type=line
x=111
heightmode=minus
layer=top_bar_expanded_layer
colour=0x1c2c34

// 1866:35
[com_35]
type=line
x=111
heightmode=minus
xmode=abs_right
layer=top_bar_expanded_layer
colour=0x1c2c34

// 1866:36
[sworld_hud_window_reduced]
type=layer
height=61
widthmode=minus
layer=sworld_hud_window_reduced_layer
onload=script11033(sworld_hud:sworld_hud_window_background_reduced, sworld_hud:sworld_hud_window_border_reduced, sworld_hud:sworld_hud_window_content_reduced, null, "", 39928, struct_1005, string_21302)

// 1866:37
[sworld_hud_anima_graphic_layer_reduced]
type=layer
x=2
width=32
heightmode=minus
ymode=abs_centre
layer=sworld_hud_anima_layer_reduced

// 1866:38
[sworld_hud_anima_text_layer_reduced]
type=layer
x=35
width=38
widthmode=minus
heightmode=minus
layer=sworld_hud_anima_layer_reduced

// 1866:39
[sworld_hud_window_background_reduced]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=sworld_hud_window_reduced

// 1866:40
[sworld_hud_window_content_reduced]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=sworld_hud_window_reduced

// 1866:41
[main_holder_reduced]
type=layer
height=34
widthmode=minus
layer=sworld_hud_window_content_reduced

// 1866:42
[sworld_hud_anima_layer_reduced]
type=layer
width=76
heightmode=minus
layer=main_holder_reduced
onload=sworlds_anima_tooltip(event_com, event_comsubid)

// 1866:43
[sworld_hud_mutator_layer_reduced]
type=layer
x=78
width=168
heightmode=minus
layer=main_holder_reduced

// 1866:44
[sworld_hud_world_layer_reduced]
type=layer
x=2
width=32
heightmode=minus
xmode=abs_right
layer=main_holder_reduced
onload=sworlds_world_tooltip(event_com, event_comsubid)

// 1866:45
[bar_holder_reduced]
type=layer
y=34
height=34
widthmode=minus
heightmode=minus
layer=sworld_hud_window_content_reduced

// 1866:46
[sworld_hud_prog_layer_1]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=bar_holder_reduced

// 1866:47
[sworld_hud_anima_text_reduced]
type=text
width=2
widthmode=minus
heightmode=minus
layer=sworld_hud_anima_text_layer_reduced
textfont=museo_sans_11pt_regular
text=0
textalignh=2
textalignv=1
textshadow=yes
onvartransmit=sworlds_update_anima(event_com)
onvartransmitlist=sworlds_reward_basevar6

// 1866:48
[sworld_hud_anima_graphic_reduced]
type=graphic
width=28
height=28
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_anima_graphic_layer_reduced
hide=yes
graphic=sworlds_icon_anima_28px
colour=0xffffff
clickmask=no

// 1866:49
[com_49]
type=model
width=24
height=25
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_anima_graphic_layer_reduced
model=sworlds_anima_pet_currency_inv
modelorigin_x=0
modelorigin_y=0
modelangle_x=500
modelangle_y=2000
modelangle_z=0
modelzoom=1000

// 1866:50
[sworld_hud_mutator_1_graphic_layer_reduced]
type=layer
width=32
height=32
layer=sworld_hud_mutator_layer_reduced

// 1866:51
[sworld_hud_mutator_2_graphic_layer_reduced]
type=layer
x=34
width=32
height=32
layer=sworld_hud_mutator_layer_reduced

// 1866:52
[sworld_hud_mutator_3_graphic_layer_reduced]
type=layer
x=68
width=32
height=32
layer=sworld_hud_mutator_layer_reduced

// 1866:53
[sworld_hud_mutator_4_graphic_layer_reduced]
type=layer
x=102
width=32
height=32
layer=sworld_hud_mutator_layer_reduced

// 1866:54
[sworld_hud_mutator_5_graphic_layer_reduced]
type=layer
x=136
width=32
height=32
layer=sworld_hud_mutator_layer_reduced

// 1866:55
[sworld_hud_window_border_reduced]
type=layer
widthmode=minus
heightmode=minus
layer=sworld_hud_window_reduced

// 1866:56
[expand]
type=graphic
width=15
height=15
xmode=abs_right
layer=sworld_hud_window_reduced
graphic="rs3_btn_minimise,3"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Expand
onmouseover=script1093(event_com, "rs3_btn_minimise,4")
onmouseleave=script1093(event_com, "rs3_btn_minimise,3")

// 1866:57
[sworld_hud_window_expanded_layer]
type=layer
width=370
height=100
onload=script5765

// 1866:58
[sworld_hud_window_reduced_layer]
type=layer
width=290
height=61

// 1866:59
[sworld_hud_window_expanded]
type=layer
width=370
height=100
layer=sworld_hud_window_expanded_layer
onload=script11033(sworld_hud:sworld_hud_window_background_expanded, sworld_hud:sworld_hud_window_border_expanded, sworld_hud:sworld_hud_window_content_expanded, null, "", 39928, struct_1005, string_21302)

// 1866:60
[sworld_hud_window_background_expanded]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=sworld_hud_window_expanded

// 1866:61
[sworld_hud_window_content_expanded]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=sworld_hud_window_expanded

// 1866:62
[com_62]
type=line
x=4
y=56
width=8
widthmode=minus
layer=sworld_hud_window_content_expanded
colour=0x1c2c34

// 1866:63
[top_bar_expanded_layer]
type=layer
height=34
widthmode=minus
layer=sworld_hud_window_content_expanded

// 1866:64
[sworld_hud_world_text_label]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sworld_hud_world_text_layer
textfont=museo_sans_13pt_bold
text=World 9999
textalignh=1
textalignv=1
textshadow=yes
onvartransmit=sworlds_update_world
onvartransmitlist=sworlds_varp_2

// 1866:65
[sworld_hud_anima_graphic_layer_expanded]
type=layer
x=5
width=32
heightmode=minus
ymode=abs_centre
layer=sworld_hud_anima_layer_expanded

// 1866:66
[sworld_hud_anima_graphic_expanded]
type=graphic
width=28
height=28
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_anima_graphic_layer_expanded
hide=yes
graphic=sworlds_icon_anima_28px
colour=0xffffff
clickmask=no

// 1866:67
[com_67]
type=model
y=-1
width=24
height=25
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_anima_graphic_layer_expanded
model=sworlds_anima_pet_currency_inv
modelorigin_x=0
modelorigin_y=0
modelangle_x=500
modelangle_y=2000
modelangle_z=0
modelzoom=1000

// 1866:68
[sworld_hud_anima_text_layer_expanded]
type=layer
width=38
widthmode=minus
heightmode=minus
xmode=abs_right
layer=sworld_hud_anima_layer_expanded

// 1866:69
[sworld_hud_anima_text_expanded]
type=text
width=2
widthmode=minus
heightmode=minus
layer=sworld_hud_anima_text_layer_expanded
textfont=museo_sans_11pt_regular
text=999,999,999
textalignh=2
textalignv=1
textshadow=yes
onvartransmit=script5806(event_com)
onvartransmitlist=sworlds_reward_basevar6

// 1866:70
[sworld_hud_objective_layer_expanded]
type=layer
y=32
height=25
widthmode=minus
layer=sworld_hud_window_content_expanded

// 1866:71
[sworld_hud_mutator_layer_expanded]
type=layer
x=7
y=57
width=14
height=57
widthmode=minus
heightmode=minus
layer=sworld_hud_window_content_expanded

// 1866:72
[sworld_hud_time_text_expanded]
type=text
width=13
widthmode=minus
heightmode=minus
layer=sworld_hud_time_layer_expanded
textfont=museo_sans_11pt_regular
text=00:00:00
textalignh=2
textalignv=1
textshadow=yes

// 1866:73
[sworld_hud_window_border_expanded]
type=layer
widthmode=minus
heightmode=minus
layer=sworld_hud_window_expanded

// 1866:74
[collapse]
type=graphic
width=15
height=15
xmode=abs_right
layer=sworld_hud_window_expanded
graphic="rs3_btn_minimise,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Minimise
onmouseover=script1093(event_com, "rs3_btn_minimise,1")
onmouseleave=script1093(event_com, "rs3_btn_minimise,0")

// 1866:75
[sworld_hud_prog_bg_1]
type=rectangle
widthmode=minus
heightmode=minus
layer=sworld_hud_prog_layer_1
colour=0x000000
fill=yes

// 1866:76
[sworld_hud_prog_fill_1]
type=layer
widthmode=minus
heightmode=minus
layer=sworld_hud_prog_layer_1
onload=script13309(event_com, sworld_hud:sworld_hud_prog_mask_1, 21, 4000)

// 1866:77
[sworld_hud_prog_mask_1]
type=layer
widthmode=minus
heightmode=minus
layer=sworld_hud_prog_fill_1

// 1866:78
[sworld_hud_prog_fill_rect_1]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_right
layer=sworld_hud_prog_mask_1
colour=0xbc111c
fill=yes
onvartransmit=script8279(event_com)
onvartransmitlist=sworlds_varp_13

// 1866:79
[sworld_hud_prog_bg_outline_1]
type=rectangle
widthmode=minus
heightmode=minus
layer=sworld_hud_prog_layer_1
colour=0xffffff

// 1866:80
[sworld_hud_objective_text_1]
type=text
width=8
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_prog_layer_1
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes

// 1866:81
[mutator_graphic_layer_2]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_2_graphic_layer

// 1866:82
[mutator_graphic_layer_3]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_3_graphic_layer

// 1866:83
[mutator_graphic_layer_4]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_4_graphic_layer

// 1866:84
[mutator_graphic_layer_5]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_5_graphic_layer

// 1866:85
[mutator_graphic_layer_6]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_6_graphic_layer

// 1866:86
[mutator_graphic_layer_7]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_7_graphic_layer

// 1866:87
[mutator_graphic_layer_8]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_8_graphic_layer

// 1866:88
[mutator_graphic_layer_9]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_9_graphic_layer

// 1866:89
[mutator_graphic_layer_10]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_10_graphic_layer

// 1866:90
[background_layer_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_1_graphic_layer_reduced
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:91
[mutator_graphic_layer_reduced_1]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_1_graphic_layer_reduced

// 1866:92
[background_layer_12]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_5_graphic_layer_reduced
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:93
[mutator_graphic_layer_reduced_5]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_5_graphic_layer_reduced

// 1866:94
[background_layer_13]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_4_graphic_layer_reduced
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:95
[mutator_graphic_layer_reduced_4]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_4_graphic_layer_reduced

// 1866:96
[background_layer_14]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_3_graphic_layer_reduced
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:97
[mutator_graphic_layer_reduced_3]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_3_graphic_layer_reduced

// 1866:98
[background_layer_15]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_2_graphic_layer_reduced
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1866:99
[mutator_graphic_layer_reduced_2]
type=layer
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sworld_hud_mutator_2_graphic_layer_reduced

