// 908:0
[mainmodal_window]
type=layer
width=512
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(teleport_list:mainmodal_window_background, teleport_list:mainmodal_window_border, teleport_list:mainmodal_window_content, teleport_list:close_button, "Teleport List", 21218, string_1007)

// 908:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 908:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 908:3
[scrollbar_layer]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content
noclickthrough=yes

// 908:4
[button_layer]
type=layer
width=16
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 908:5
[category_title_layer]
type=layer
widthmode=minus
heightmode=minus
layer=button_layer

// 908:6
[category_obj_layer]
type=layer
widthmode=minus
heightmode=minus
layer=button_layer

// 908:7
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 908:8
[close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

