// 328:0
[com_0]
type=rectangle
widthmode=minus
heightmode=minus
layer=temple_layer
colour=0x000000
fill=yes
trans=150

// 328:1
[com_1]
type=graphic
y=20
height=1
widthmode=minus
xmode=abs_centre
layer=temple_layer
graphic=icon_divider_runepass
colour=0xffffff
clickmask=no

// 328:2
[title]
type=text
width=1
height=16
widthmode=minus
xmode=abs_centre
layer=temple_layer
textfont=museo_sans_15pt_bold
text=Temple Repair
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 328:3
[repair_text]
type=text
y=25
width=118
height=15
layer=temple_layer
textfont=museo_sans_13pt_bold
text=Repair State :
textalignh=2
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 328:4
[temple_repaired_state]
type=text
y=25
width=38
height=15
xmode=abs_right
layer=temple_layer
textfont=museo_sans_13pt_bold
text=****
textshadow=yes
onvartransmit=script1254
onvartransmitlist=temple_repaired_p,temple_resources_p,temple_sanctity_p

// 328:5
[resource_text]
type=text
y=40
width=118
height=15
layer=temple_layer
textfont=museo_sans_13pt_bold
text=Resources :
textalignh=2
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 328:6
[mat_resource_pool]
type=text
y=40
width=38
height=15
xmode=abs_right
layer=temple_layer
textfont=museo_sans_13pt_bold
text=****
textshadow=yes

// 328:7
[matresoucetext]
type=text
y=55
width=118
height=15
layer=temple_layer
textfont=museo_sans_13pt_bold
text=Sanctity:
textalignh=2
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 328:8
[cont_effort]
type=text
y=55
width=38
height=15
xmode=abs_right
layer=temple_layer
textfont=museo_sans_13pt_bold
text=****
textshadow=yes

// 328:9
[temple_layer]
type=layer
width=160
height=75

