// 332:0
[info_holder_active]
type=layer
width=105
height=80
layer=thormac_waterstaff_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 332:1
[info_holder_active_3]
type=layer
widthmode=minus
heightmode=minus
layer=thormac_firestaff_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 332:2
[thormac_firestaff]
type=model
y=-7
width=46
height=58
xmode=abs_centre
ymode=abs_centre
layer=thormac_firestaff_layer
model=inv_staffplusorb
modelorigin_x=-2
modelorigin_y=3
modelangle_x=148
modelangle_y=1400
modelangle_z=0
modelzoom=750

// 332:3
[com_3]
type=text
y=2
height=14
widthmode=minus
ymode=abs_bottom
layer=thormac_firestaff_layer
textfont=museo_sans_11pt_regular
text=Fire Battlestaff
textalignh=1
textalignv=1
onload=script7723(event_com, fire_battlestaff)

// 332:4
[thormac_waterstaff]
type=model
y=-7
width=46
height=58
xmode=abs_centre
ymode=abs_centre
layer=thormac_waterstaff_layer
model=inv_staffplusorb
modelorigin_x=-2
modelorigin_y=3
modelangle_x=148
modelangle_y=1400
modelangle_z=0
modelzoom=750

// 332:5
[com_5]
type=text
y=2
height=14
widthmode=minus
ymode=abs_bottom
layer=thormac_waterstaff_layer
textfont=museo_sans_11pt_regular
text=Water Battlestaff
textalignh=1
textalignv=1
onload=script7723(event_com, water_battlestaff)

// 332:6
[info_holder_active_2]
type=layer
widthmode=minus
heightmode=minus
layer=thormac_earthstaff_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 332:7
[thormac_earthstaff]
type=model
y=-7
width=46
height=58
xmode=abs_centre
ymode=abs_centre
layer=thormac_earthstaff_layer
model=inv_staffplusorb
modelorigin_x=-2
modelorigin_y=3
modelangle_x=148
modelangle_y=1400
modelangle_z=0
modelzoom=750

// 332:8
[com_8]
type=text
y=2
height=14
widthmode=minus
ymode=abs_bottom
layer=thormac_earthstaff_layer
textfont=museo_sans_11pt_regular
text=Earth Battlestaff
textalignh=1
textalignv=1
onload=script7723(event_com, earth_battlestaff)

// 332:9
[info_holder_active_4]
type=layer
widthmode=minus
heightmode=minus
layer=thormac_lavastaff_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 332:10
[thormac_lavastaff]
type=model
y=-7
width=46
height=58
xmode=abs_centre
ymode=abs_centre
layer=thormac_lavastaff_layer
model=inv_staffplusorb
modelorigin_x=-2
modelorigin_y=3
modelangle_x=148
modelangle_y=1400
modelangle_z=0
modelzoom=750

// 332:11
[com_11]
type=text
y=2
height=14
widthmode=minus
ymode=abs_bottom
layer=thormac_lavastaff_layer
textfont=museo_sans_11pt_regular
text=Lava Battlestaff
textalignh=1
textalignv=1
onload=script7723(event_com, lava_battlestaff)

// 332:12
[info_holder_active_6]
type=layer
widthmode=minus
heightmode=minus
layer=thormac_steamstaff_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 332:13
[thormac_steamstaff]
type=model
y=-7
width=46
height=58
xmode=abs_centre
ymode=abs_centre
layer=thormac_steamstaff_layer
model=inv_staffplusorb
modelorigin_x=-2
modelorigin_y=3
modelangle_x=148
modelangle_y=1400
modelangle_z=0
modelzoom=750

// 332:14
[com_14]
type=text
y=2
height=14
widthmode=minus
ymode=abs_bottom
layer=thormac_steamstaff_layer
textfont=museo_sans_11pt_regular
text=Steam Battlestaff
textalignh=1
textalignv=1
onload=script7723(event_com, godwars_steam_battlestaff)

// 332:15
[info_holder_active_5]
type=layer
widthmode=minus
heightmode=minus
layer=thormac_mudstaff_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 332:16
[thormac_mudstaff]
type=model
y=-7
width=46
height=58
xmode=abs_centre
ymode=abs_centre
layer=thormac_mudstaff_layer
model=inv_staffplusorb
modelorigin_x=-2
modelorigin_y=3
modelangle_x=148
modelangle_y=1400
modelangle_z=0
modelzoom=750

// 332:17
[com_17]
type=text
y=2
height=14
widthmode=minus
ymode=abs_bottom
layer=thormac_mudstaff_layer
textfont=museo_sans_11pt_regular
text=Mud Battlestaff
textalignh=1
textalignv=1
onload=script7723(event_com, mud_battlestaff)

// 332:18
[info_holder_active_1]
type=layer
widthmode=minus
heightmode=minus
layer=thormac_airstaff_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 332:19
[thormac_airstaff]
type=model
y=-7
width=46
height=58
xmode=abs_centre
ymode=abs_centre
layer=thormac_airstaff_layer
model=inv_staffplusorb
modelorigin_x=-2
modelorigin_y=3
modelangle_x=148
modelangle_y=1400
modelangle_z=0
modelzoom=750

// 332:20
[com_20]
type=text
y=2
height=14
widthmode=minus
ymode=abs_bottom
layer=thormac_airstaff_layer
textfont=museo_sans_11pt_regular
text=Air Battlestaff
textalignh=1
textalignv=1
onload=script7723(event_com, air_battlestaff)

// 332:21
[com_21]
type=text
height=30
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
textfont=museo_sans_13pt_regular
text=What would you like to enchant?
textalignh=1
textalignv=1
textshadow=yes
colour=0xff981f
onload=script10496(event_com, event_comsubid, 3)

// 332:22
[thormac_airstaff_layer]
type=layer
x=5
y=30
width=105
height=80
layer=mainmodal_window_content
transmitop1=yes
transmitop2=yes
op1=Enchant
op2=Enchant All

// 332:23
[thormac_mudstaff_layer]
type=layer
x=225
y=115
width=105
height=80
layer=mainmodal_window_content
transmitop1=yes
transmitop2=yes
op1=Enchant
op2=Enchant All

// 332:24
[thormac_steamstaff_layer]
type=layer
x=115
y=115
width=105
height=80
layer=mainmodal_window_content
transmitop1=yes
transmitop2=yes
op1=Enchant
op2=Enchant All

// 332:25
[thormac_lavastaff_layer]
type=layer
x=5
y=115
width=105
height=80
layer=mainmodal_window_content
transmitop1=yes
transmitop2=yes
op1=Enchant
op2=Enchant All

// 332:26
[thormac_earthstaff_layer]
type=layer
x=225
y=30
width=105
height=80
layer=mainmodal_window_content
transmitop1=yes
transmitop2=yes
op1=Enchant
op2=Enchant All

// 332:27
[mainmodal_window]
type=layer
width=52
height=92
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(thormac:mainmodal_window_background, thormac:mainmodal_window_border, thormac:mainmodal_window_content, thormac:mainmodal_window_close_button, "Thormac's Battlestaves", 21218, string_1007)

// 332:28
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 332:29
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 332:30
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 332:31
[thormac_waterstaff_layer]
type=layer
x=115
y=30
width=105
height=80
layer=mainmodal_window_content
transmitop1=yes
transmitop2=yes
op1=Enchant
op2=Enchant All

// 332:32
[thormac_firestaff_layer]
type=layer
x=335
y=30
width=105
height=80
layer=mainmodal_window_content
transmitop1=yes
transmitop2=yes
op1=Enchant
op2=Enchant All

// 332:33
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

