// 1080:0
[main]
type=layer
height=261
widthmode=minus

// 1080:1
[background]
type=layer
widthmode=minus
heightmode=minus
layer=main

// 1080:2
[background_button]
type=button
widthmode=minus
heightmode=minus
layer=background
noclickthrough=yes
enabled=no
stylesheet=background_default
onload=stylesheet_set(event_com)

// 1080:3
[content]
type=layer
x=12
y=12
width=24
height=24
widthmode=minus
heightmode=minus
layer=main

// 1080:4
[event_title]
type=text
height=40
widthmode=minus
layer=content
noclickthrough=yes
textfont=notosans_bold_14
text=Event Title - This is the title of the event
textalignh=1
textalignv=1
colour=0x9fbfce
stylesheet=background_default

// 1080:5
[time_remaining_layer]
type=layer
y=40
height=40
widthmode=minus
layer=content

// 1080:6
[player_progress_layer]
type=layer
y=80
height=45
widthmode=minus
layer=content

// 1080:7
[event_progress_layer]
type=layer
y=125
height=60
widthmode=minus
layer=content

// 1080:8
[description_layer]
type=layer
height=55
widthmode=minus
ymode=abs_bottom
layer=content

// 1080:9
[event_description]
type=text
widthmode=minus
heightmode=minus
layer=description_layer
noclickthrough=yes
textfont=notosans_14
text=This is a short explanation of the event. It can be three lines long.
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1080:10
[event_progress_bar]
type=layer
y=45
height=15
widthmode=minus
layer=event_progress_layer

// 1080:11
[event_progress_bar_background_left]
type=graphic
width=5
height=15
layer=event_progress_bar
noclickthrough=yes
graphic="rs3_progress_bar_backing_15px,0"
colour=0xffffff
clickmask=no

// 1080:12
[event_progress_bar_background_mid]
type=graphic
width=10
height=15
widthmode=minus
xmode=abs_centre
layer=event_progress_bar
noclickthrough=yes
graphic="rs3_progress_bar_backing_15px,1"
colour=0xffffff
clickmask=no

// 1080:13
[event_progress_bar_background_right]
type=graphic
width=5
height=15
xmode=abs_right
layer=event_progress_bar
noclickthrough=yes
graphic="rs3_progress_bar_backing_15px,2"
colour=0xffffff
clickmask=no

// 1080:14
[event_progress_bar_fill]
type=graphic
x=1
y=1
width=2
height=13
widthmode=minus
layer=event_progress_bar
noclickthrough=yes
graphic=rs3_progress_bar_yellow_9px_tile
colour=0xffffff
clickmask=no

// 1080:15
[time_remaining_left]
type=text
width=63
widthmode=minus
heightmode=minus
layer=time_remaining_layer
noclickthrough=yes
textfont=notosans_14
text=Time Remaining:
textalignv=1
colour=0x6b8693

// 1080:16
[time_remaining_right]
type=text
width=130
widthmode=minus
heightmode=minus
xmode=abs_right
layer=time_remaining_layer
noclickthrough=yes
textfont=notosans_14
text=23:59:59
textalignh=2
textalignv=1

// 1080:17
[player_progress_left]
type=text
width=63
widthmode=minus
heightmode=minus
layer=player_progress_layer
noclickthrough=yes
textfont=notosans_14
text=Player Progress:
textalignv=1
colour=0x6b8693

// 1080:18
[player_progress_right]
type=text
width=130
widthmode=minus
heightmode=minus
xmode=abs_right
layer=player_progress_layer
noclickthrough=yes
textfont=notosans_14
text=1000K / 1000K
textalignh=2
textalignv=1

// 1080:19
[event_progress_left]
type=text
width=63
height=15
widthmode=minus
heightmode=minus
layer=event_progress_layer
noclickthrough=yes
textfont=notosans_14
text=Event Progress:
textalignv=1
colour=0x6b8693

// 1080:20
[event_progress_right]
type=text
width=130
height=15
widthmode=minus
heightmode=minus
xmode=abs_right
layer=event_progress_layer
noclickthrough=yes
textfont=notosans_14
text=1000K / 1000K
textalignh=2
textalignv=1

