// 1051:0
[r3npc1]
type=layer
x=156
y=146
width=67
height=34
layer=r3inprogress

// 1051:1
[r3npc2]
type=layer
x=156
y=145
width=67
height=34
xmode=abs_right
layer=r3inprogress

// 1051:2
[r2_npc78_dead]
type=graphic
x=334
y=207
width=67
height=34
layer=r3inprogress
hide=yes
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no

// 1051:3
[r2_npc56_dead]
type=graphic
x=334
y=84
width=67
height=34
layer=r3inprogress
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Much chaos ensued but Graardor won out when his opponent Bork-ed under the pressure.", event_com, event_comsubid)

// 1051:4
[r2_npc34_dead]
type=graphic
x=95
y=207
width=67
height=34
layer=r3inprogress
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Lol didn't have much to laugh about after you were done trolling him.", event_com, event_comsubid)

// 1051:5
[r2_npc12_dead]
type=graphic
x=95
y=84
width=67
height=34
layer=r3inprogress
hide=yes
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no

// 1051:6
[r1fightresult_1]
type=text
x=95
y=84
width=67
height=34
layer=r1unknown
textfont=museo_sans_11pt_regular_multiline
text=?
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1051:7
[r1fightresult_2]
type=text
x=95
y=207
width=67
height=34
layer=r1unknown
textfont=museo_sans_11pt_regular_multiline
text=?
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1051:8
[r1fightresult_3]
type=text
x=95
y=84
width=67
height=34
xmode=abs_right
layer=r1unknown
textfont=museo_sans_11pt_regular_multiline
text=?
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1051:9
[r1fightresult_4]
type=text
x=95
y=207
width=67
height=34
xmode=abs_right
layer=r1unknown
textfont=museo_sans_11pt_regular_multiline
text=?
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1051:10
[scoreboard_background]
type=graphic
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
graphic=aif_bandos_quest_scoreboard
colour=0xffffff
clickmask=no

// 1051:11
[r1inprogress]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1051:12
[r2inprogress]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes

// 1051:13
[r3inprogress]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes

// 1051:14
[r3win]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes

// 1051:15
[r3_npc1234_dead]
type=graphic
x=156
y=146
width=67
height=34
layer=r3win
hide=yes
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no

// 1051:16
[r3_npc5678_dead]
type=graphic
x=156
y=146
width=67
height=34
xmode=abs_right
layer=r3win
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no
onmouserepeat=script8799("You showed him the Graar-door.", event_com, event_comsubid)

// 1051:17
[r1unknown]
type=layer
widthmode=minus
heightmode=minus
layer=r1inprogress

// 1051:18
[r2unknown]
type=layer
widthmode=minus
heightmode=minus
layer=r2inprogress

// 1051:19
[r2_npc1]
type=text
width=67
height=34
layer=r2npc1
textfont=museo_sans_11pt_regular_multiline
text=name
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("Human, acting champion of the Dorgeshuun.", event_com, event_comsubid)

// 1051:20
[r1_npc8_dead]
type=graphic
x=415
y=238
width=67
height=34
layer=r2inprogress
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no
onmouserepeat=script8799("General Graardor definitely took the biscuit in that fight.", event_com, event_comsubid)

// 1051:21
[r1_npc7_dead]
type=graphic
x=415
y=176
width=67
height=34
layer=r2inprogress
hide=yes
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no

// 1051:22
[r1_npc6_dead]
type=graphic
x=415
y=115
width=67
height=34
layer=r2inprogress
hide=yes
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no

// 1051:23
[r1_npc5_dead]
type=graphic
x=415
y=53
width=67
height=34
layer=r2inprogress
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Farkle was no match for Bork, who's performance sure rocked.", event_com, event_comsubid)

// 1051:24
[r1_npc4_dead]
type=graphic
x=14
y=238
width=67
height=34
layer=r2inprogress
hide=yes
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no

// 1051:25
[r1_npc3_dead]
type=graphic
x=14
y=176
width=67
height=34
layer=r2inprogress
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Mono was knocked out with a blow to his blind spot, to be fair it's a pretty big spot!", event_com, event_comsubid)

// 1051:26
[r1_npc2_dead]
type=graphic
x=14
y=115
width=67
height=34
layer=r2inprogress
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Yelps' luck finally ran out, I guess you wheely gave it to him.", event_com, event_comsubid)

// 1051:27
[r1_npc1_dead]
type=graphic
x=14
y=53
width=67
height=34
layer=r2inprogress
hide=yes
graphic=aif_bandos_quest_cross
colour=0xffffff
clickmask=no

// 1051:28
[r2npc1]
type=layer
x=95
y=84
width=67
height=34
layer=r2inprogress

// 1051:29
[r2npc2]
type=layer
x=95
y=207
width=67
height=34
layer=r2inprogress

// 1051:30
[r2npc3]
type=layer
x=95
y=84
width=67
height=34
xmode=abs_right
layer=r2inprogress

// 1051:31
[r2npc4]
type=layer
x=95
y=207
width=67
height=34
xmode=abs_right
layer=r2inprogress

// 1051:32
[r1npc1]
type=layer
x=14
y=53
width=67
height=34
layer=r1inprogress

// 1051:33
[r1npc2]
type=layer
x=14
y=115
width=67
height=34
layer=r1inprogress

// 1051:34
[r1npc3]
type=layer
x=14
y=176
width=67
height=34
layer=r1inprogress

// 1051:35
[r1npc4]
type=layer
x=14
y=238
width=67
height=34
layer=r1inprogress

// 1051:36
[r1npc5]
type=layer
x=14
y=53
width=67
height=34
xmode=abs_right
layer=r1inprogress

// 1051:37
[r1npc6]
type=layer
x=14
y=115
width=67
height=34
xmode=abs_right
layer=r1inprogress

// 1051:38
[r1npc7]
type=layer
x=14
y=176
width=67
height=34
xmode=abs_right
layer=r1inprogress

// 1051:39
[r1npc8]
type=layer
x=14
y=238
width=67
height=34
xmode=abs_right
layer=r1inprogress

// 1051:40
[r1_npc1]
type=text
width=67
height=34
layer=r1npc1
textfont=museo_sans_11pt_regular_multiline
text=name
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("Human, acting champion of the Dorgeshuun.", event_com, event_comsubid)

// 1051:41
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(tmf_scoreboard:mainmodal_window_background, tmf_scoreboard:mainmodal_window_border, tmf_scoreboard:mainmodal_window_content, tmf_scoreboard:mainmodal_window_close_button, "Tournament Board", 21218, string_1007)

// 1051:42
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1051:43
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1051:44
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1051:45
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1051:46
[r1_npc2]
type=text
width=67
height=34
layer=r1npc2
textfont=museo_sans_11pt_regular_multiline
text=Yelps
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("Yelps, chosen champion of the Goblins...somehow", event_com, event_comsubid)

// 1051:47
[r1_npc3]
type=text
width=67
height=34
layer=r1npc3
textfont=museo_sans_11pt_regular_multiline
text=Mono
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("Mono, chosen champion of the Cyclopes.", event_com, event_comsubid)

// 1051:48
[r1_npc4]
type=text
width=67
height=34
layer=r1npc4
textfont=museo_sans_11pt_regular_multiline
text=Lol
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("Lol, chosen champion of the Trolls.", event_com, event_comsubid)

// 1051:49
[r1_npc5]
type=text
width=67
height=34
layer=r1npc5
textfont=museo_sans_11pt_regular_multiline
text=Farkle
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("Farkle, chosen champion of the Ogres.", event_com, event_comsubid)

// 1051:50
[r1_npc6]
type=text
width=67
height=34
layer=r1npc6
textfont=museo_sans_11pt_regular_multiline
text=Bork
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("Bork, chosen champion of the Orks.", event_com, event_comsubid)

// 1051:51
[r1_npc7]
type=text
width=67
height=34
layer=r1npc7
textfont=museo_sans_11pt_regular_multiline
text=Graardor
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("General Graardor, chosen champion of the Ourgs.", event_com, event_comsubid)

// 1051:52
[r1_npc8]
type=text
width=67
height=34
layer=r1npc8
textfont=museo_sans_11pt_regular_multiline
text=Hobnob
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("Hobnob, chosen champion of the Hobgoblins.", event_com, event_comsubid)

// 1051:53
[r2_npc2]
type=text
width=67
height=34
layer=r2npc2
textfont=museo_sans_11pt_regular_multiline
text=Lol
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("Lol, chosen champion of the Trolls.", event_com, event_comsubid)

// 1051:54
[r2_npc3]
type=text
width=67
height=34
layer=r2npc3
textfont=museo_sans_11pt_regular_multiline
text=Bork
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("Bork, chosen champion of the Orks.", event_com, event_comsubid)

// 1051:55
[r2_npc4]
type=text
width=67
height=34
layer=r2npc4
textfont=museo_sans_11pt_regular_multiline
text=Graardor
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("General Graardor, chosen champion of the Ourgs.", event_com, event_comsubid)

// 1051:56
[r2fightresult_1]
type=text
x=156
y=146
width=67
height=34
layer=r2unknown
textfont=museo_sans_11pt_regular_multiline
text=?
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1051:57
[r2fightresult_2]
type=text
x=156
y=146
width=67
height=34
xmode=abs_right
layer=r2unknown
textfont=museo_sans_11pt_regular_multiline
text=?
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1051:58
[r3_npc1]
type=text
width=67
height=34
layer=r3npc1
textfont=museo_sans_11pt_regular_multiline
text=name
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("Human, acting champion of the Dorgeshuun.", event_com, event_comsubid)

// 1051:59
[r3_npc2]
type=text
width=67
height=34
layer=r3npc2
textfont=museo_sans_11pt_regular_multiline
text=Graardor
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onmouserepeat=script8799("General Graardor, chosen champion of the Ourgs.", event_com, event_comsubid)

