// 1923:0
[combat_toggle]
type=layer
width=130
height=70
ymode=abs_bottom
onload=script14158
onvartransmit=script14158
onvartransmitlist=combatv2_generic_base_var_3,com_mode,mobile_interface_mode

// 1923:1
[combat_mode_button_layer]
type=layer
width=70
height=70
ymode=abs_bottom
layer=combat_toggle
noclickthrough=yes
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Toggle Combat Mode
op2=Toggle Combat HUD
op3=Toggle Weapon Sheathing
onload=script11430(event_com)
onvartransmit=script15068(toplevel_v2_combat_bar_mobile:combat_settings_icon)
onop=script1695(event_com, event_op)
onvartransmitlist=combatv2_generic_base_var_1

// 1923:2
[combat_mode_button_icon]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=combat_mode_button_layer
graphic=btn_mobile_combat
colour=0xffffff
clickmask=no

// 1923:3
[combat_settings_button_layer]
type=layer
x=70
y=5
width=60
height=60
ymode=abs_bottom
layer=combat_toggle
noclickthrough=yes
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
op1=Setup Action Bars
op2=Combat Settings
op3=Action Bar Settings
op4=Toggle Action Bar Lock
op5=Auto-Setup Revolution Action Bar
onvartransmit=script3086(event_com)
onvartransmitlist=tut6

// 1923:4
[combat_settings_icon]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=combat_settings_button_layer
graphic=btn_mobile_combatsettings
colour=0xffffff
clickmask=no

// 1923:5
[stat_globes]
type=layer
width=398
height=52
xmode=abs_centre
ymode=abs_bottom
noclickthrough=yes
onload=script2482
onvartransmit=script2482
onvartransmitlist=mobile_interface_mode,com_mode

// 1923:6
[setup_prayer_ops]
type=layer
widthmode=minus
heightmode=minus
layer=stat_globes
onload=script8050(toplevel_v2_combat_bar_mobile:prayer_orb)
onvartransmit=script8050(toplevel_v2_combat_bar_mobile:prayer_orb)
onvartransmitlist=prayer_quick_system_0,prayer_quick_system_1,prayer_quick_system_2,prayer_quick_system_3

// 1923:7
[base_graphic]
type=graphic
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=stat_globes
graphic=container_hud_playerstats
trans=125
colour=0xffffff
clickmask=no

// 1923:8
[legacy_listener]
type=layer
width=1
height=1
layer=stat_globes
onload=script13902
onvartransmit=script13902
onvartransmitlist=toplevel_v2_general_varp,easter09

// 1923:9
[hitpoints_icon]
type=graphic
x=25
y=2
width=20
height=20
layer=stat_globes
graphic=rs3_hud_combat_bar_icon_health
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop2=yes
op1=Regenerate
op2=Cure Poison
onload=script4602(event_com)
onvartransmit=script4602(event_com)
onvartransmitlist=combatv2_poisoned

// 1923:10
[health_button_anim_layer]
type=layer
x=25
y=2
width=20
height=20
layer=stat_globes
onclick=script10584(event_com, 3, -1)

// 1923:11
[adrenaline_button]
type=layer
x=14
y=3
width=20
height=20
ymode=abs_bottom
layer=stat_globes

// 1923:12
[adrenaline_icon]
type=graphic
widthmode=minus
heightmode=minus
layer=adrenaline_button
graphic=icon_adrenaline2_hud
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Toggle Auto Retaliate
onload=script13896(event_com)
onvartransmit=script13896(event_com)
onvartransmitlist=option_nodef

// 1923:13
[summoning_orb]
type=layer
x=332
width=52
height=52
layer=stat_globes
onload=mobile_lore_bar(toplevel_v2_combat_bar_mobile:summoning_marker, toplevel_v2_combat_bar_mobile:summoning_text, toplevel_v2_combat_bar_mobile:summoning_orb)
onvartransmit=mobile_lore_bar(toplevel_v2_combat_bar_mobile:summoning_marker, toplevel_v2_combat_bar_mobile:summoning_text, toplevel_v2_combat_bar_mobile:summoning_orb)
onstattransmit=mobile_lore_bar(toplevel_v2_combat_bar_mobile:summoning_marker, toplevel_v2_combat_bar_mobile:summoning_text, toplevel_v2_combat_bar_mobile:summoning_orb)
onvartransmitlist=lore_spell_points,lore_points_var,toplevel_v2_general_varp_2
onstattransmitlist=summoning

// 1923:14
[summoning_marker]
type=layer
x=2
y=2
width=48
height=48
ymode=abs_bottom
layer=summoning_orb
onvartransmit=script3545
onvartransmitlist=follower_obj

// 1923:15
[summoning_masked_graphic]
type=graphic
width=48
height=48
ymode=abs_bottom
layer=summoning_marker
graphic=fillbar_hud_circle_white
trans=100
colour=0x00b58b
clickmask=no

// 1923:16
[com_16]
type=graphic
width=48
height=48
ymode=abs_bottom
layer=summoning_marker
graphic=fillbar_hud_circle_gradient
colour=0xffffff
clickmask=no

// 1923:17
[summoning_highlight_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=summoning_orb
hide=yes
graphic=container_hud_playerstats_highlight
colour=0xffffff
clickmask=no

// 1923:18
[summoning_text]
type=text
y=9
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=summoning_orb
textfont=cinzel_18pt_bold
text=60
textalignh=1
textalignv=1
textshadow=yes

// 1923:19
[summoning_shine]
type=graphic
x=2
y=2
width=48
height=48
layer=summoning_orb
graphic=fillbar_hud_circle_white_shine
colour=0xffffff
clickmask=no

// 1923:20
[icon_skill_summoning_mobile]
type=graphic
width=28
height=28
xmode=abs_centre
layer=summoning_orb
noclickthrough=yes
graphic=icon_skill_summoning_mobile
colour=0xffffff
clickmask=no

// 1923:21
[familiar_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=summoning_orb
onvartransmit=lore_head_update
onvartransmitlist=lore_npc_head,follower_obj,hati2014_base

// 1923:22
[restore_points_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_button
hide=yes
transmitop1=yes
op1=Restore Points

// 1923:23
[restore_points_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_button
transmitop6=yes
op6=Restore Points

// 1923:24
[summoning_icon]
type=graphic
layer=familiar_button
colour=0xffffff
clickmask=no

// 1923:25
[select_leftclick_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=familiar_button
transmitop10=yes
op10=Settings
onvartransmit=lore_head_update
onvartransmitlist=lore_general_varp_1

// 1923:26
[main_ops]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=familiar_button
hide=yes

// 1923:27
[familiar_ops]
type=layer
widthmode=minus
heightmode=minus
layer=main_ops

// 1923:28
[bob_take_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
transmitop6=yes
op6=Take BoB

// 1923:29
[bob_give_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
transmitop6=yes
op6=Give BoB

// 1923:30
[renew_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
transmitop6=yes
op6=Renew Familiar

// 1923:31
[attack_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
targetmask=npc,player
targetverb=Attack
ontargetleave=magic_leavetargetmode(toplevel_v2_combat_bar_mobile:summoning_icon)
ontargetenter=magic_entertargetmode(toplevel_v2_combat_bar_mobile:summoning_icon)

// 1923:32
[interact_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
transmitop6=yes
op6=Interact

// 1923:33
[spell_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops

// 1923:34
[nullspell]
type=layer
widthmode=minus
heightmode=minus
layer=spell_layer
hide=yes

// 1923:35
[lore_nullspell]
type=graphic
widthmode=minus
heightmode=minus
layer=nullspell
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Spell
op1=Cast

// 1923:36
[spell_icon]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
onload=script211(null)
onvartransmit=script211(null)
onvarcstrtransmit=script211(null)
onvartransmitlist=follower_obj
onvarcstrtransmitlist=varclientstring_2517

// 1923:37
[spell_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
transmitop1=yes
op1=Cast

// 1923:38
[bob_take_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
transmitop1=yes
op1=Take BoB

// 1923:39
[bob_give_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
transmitop1=yes
op1=Give BoB

// 1923:40
[renew_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
transmitop1=yes
op1=Renew Familiar

// 1923:41
[attack_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
targetmask=npc,player
targetverb=Attack
ontargetleave=magic_leavetargetmode(toplevel_v2_combat_bar_mobile:summoning_icon)
ontargetenter=magic_entertargetmode(toplevel_v2_combat_bar_mobile:summoning_icon)

// 1923:42
[interact_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
transmitop1=yes
op1=Interact

// 1923:43
[details_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
transmitop6=yes
op6=Follower Details
onop=script1229

// 1923:44
[details_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
transmitop1=yes
op1=Follower Details
onop=script1229

// 1923:45
[common_ops]
type=layer
widthmode=minus
heightmode=minus
layer=main_ops

// 1923:46
[call_layer]
type=layer
widthmode=minus
heightmode=minus
layer=common_ops
transmitop6=yes
op6=Call Follower

// 1923:47
[dismiss_layer]
type=layer
widthmode=minus
heightmode=minus
layer=common_ops
transmitop6=yes
op6=Dismiss

// 1923:48
[call_op1]
type=layer
widthmode=minus
heightmode=minus
layer=common_ops
hide=yes
transmitop1=yes
op1=Call Follower

// 1923:49
[dismiss_op1]
type=layer
widthmode=minus
heightmode=minus
layer=common_ops
hide=yes
transmitop1=yes
op1=Dismiss

// 1923:50
[open_pet_interface]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=familiar_button
transmitop9=yes
op9=Open Pet Interface

// 1923:51
[summon_pet]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=familiar_button
transmitop7=yes
op7=Summon Pet

// 1923:52
[call_pet]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=familiar_button
hide=yes
transmitop9=yes
op9=Call Pet

// 1923:53
[prayer_orb]
type=layer
x=273
width=52
height=52
layer=stat_globes
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
transmitop6=yes
transmitop7=yes
transmitop8=yes
transmitop9=yes
transmitop10=yes
op1=Turn Quick Prayers On
op2=Select Quick Prayers
op3=QP0
op4=QP1
op5=QP2
op6=QP3
op7=QP4
op8=QP5
op9=QP6
op10=QP7
onload=mobile_prayer_bar(toplevel_v2_combat_bar_mobile:prayer_marker, event_com)
onvartransmit=mobile_prayer_bar(toplevel_v2_combat_bar_mobile:prayer_marker, event_com)
onstattransmit=mobile_prayer_bar(toplevel_v2_combat_bar_mobile:prayer_marker, event_com)
onvarctransmit=mobile_prayer_bar_highlight
onvartransmitlist=prayer_points_var
onvarctransmitlist=topstat_prayer_button_client

// 1923:54
[prayer_marker]
type=layer
x=2
y=2
width=48
height=48
ymode=abs_bottom
layer=prayer_orb

// 1923:55
[prayer_masked_graphic]
type=graphic
width=48
height=48
ymode=abs_bottom
layer=prayer_marker
graphic=fillbar_hud_circle_white
trans=100
colour=0x6e22e1
clickmask=no

// 1923:56
[com_56]
type=graphic
width=48
height=48
ymode=abs_bottom
layer=prayer_marker
graphic=fillbar_hud_circle_gradient
colour=0xffffff
clickmask=no

// 1923:57
[prayer_highlight_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=prayer_orb
hide=yes
graphic=container_hud_playerstats_highlight
colour=0xffffff
clickmask=no

// 1923:58
[prayer_text]
type=text
y=9
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=prayer_orb
textfont=cinzel_18pt_bold
text=999
textalignh=1
textalignv=1
textshadow=yes
onload=mobile_prayer_bar(toplevel_v2_combat_bar_mobile:prayer_marker, toplevel_v2_combat_bar_mobile:prayer_orb)
onvartransmit=script13906(event_com)
onvartransmitlist=prayer_points_var

// 1923:59
[prayer_shine]
type=graphic
x=2
y=2
width=48
height=48
layer=prayer_orb
graphic=fillbar_hud_circle_white_shine
colour=0xffffff
clickmask=no

// 1923:60
[icon_skill_prayer_mobile]
type=graphic
width=28
height=28
xmode=abs_centre
layer=prayer_orb
noclickthrough=yes
graphic=icon_skill_prayer_mobile
colour=0xffffff
clickmask=no

// 1923:61
[health_bar_wrapper]
type=layer
x=46
y=4
width=214
height=16
layer=stat_globes
onvartransmit=script10590(toplevel_v2_combat_bar_mobile:health_button_anim_layer)
onvartransmitlist=easter09,easter09

// 1923:62
[health_bar]
type=layer
x=52
width=50
height=16
widthmode=minus
layer=health_bar_wrapper
onvartransmit=script4594(toplevel_v2_combat_bar_mobile:health_mask_layer)
onstattransmit=script4594(toplevel_v2_combat_bar_mobile:health_mask_layer)
onvartransmitlist=area_ardougne_login,toplevel_v2_general_varp
onstattransmitlist=hitpoints

// 1923:63
[health_mask_layer]
type=layer
widthmode=minus
heightmode=minus
layer=health_bar

// 1923:64
[health_bar_graphic]
type=graphic
width=164
height=16
layer=health_mask_layer
graphic=fillbar_hud_health
colour=0xffffff
clickmask=no

// 1923:65
[hitpoints_text]
type=text
width=50
heightmode=minus
layer=health_bar_wrapper
textfont=museo_sans_13pt_regular
text=50000
textalignh=2
textalignv=1
textshadow=yes
onload=script2481(event_com)
onvartransmit=script2481(event_com)
onvartransmitlist=area_ardougne_login,toplevel_v2_general_varp

// 1923:66
[hitpoints_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=health_bar_wrapper
transmitop1=yes
transmitop2=yes
op1=Regenerate
op2=Cure Poison

// 1923:67
[combat_bar_wrapper]
type=layer
x=36
y=33
width=213
height=13
layer=stat_globes
onload=script4580(toplevel_v2_combat_bar_mobile:combat_mask_layer, toplevel_v2_combat_bar_mobile:combat_over_mask_layer)
onvartransmit=script4580(toplevel_v2_combat_bar_mobile:combat_mask_layer, toplevel_v2_combat_bar_mobile:combat_over_mask_layer)
onvartransmitlist=sa_energy

// 1923:68
[combat_bar]
type=layer
x=42
width=40
height=13
widthmode=minus
layer=combat_bar_wrapper

// 1923:69
[combat_mask_layer]
type=layer
widthmode=minus
heightmode=minus
layer=combat_bar

// 1923:70
[combat_bar_graphic]
type=graphic
width=173
height=13
layer=combat_mask_layer
graphic=fillbar_hud_adrenaline
colour=0x000000
clickmask=no

// 1923:71
[combat_over_mask_layer]
type=layer
width=1
heightmode=minus
layer=combat_bar

// 1923:72
[combat_bar_over_graphic]
type=graphic
width=173
height=13
layer=combat_over_mask_layer
graphic=fillbar_hud_over_adrenaline
colour=0x000000
clickmask=no

// 1923:73
[adrenaline_percentage]
type=text
width=40
heightmode=minus
layer=combat_bar_wrapper
textfont=museo_sans_13pt_regular
text=100%
textalignh=2
textalignv=1
textshadow=yes
onload=script11344(event_com)
onvartransmit=script11344(event_com)
onvartransmitlist=sa_energy

// 1923:74
[combat_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=combat_bar_wrapper
transmitop1=yes
op1=Toggle Auto Retaliate

