// 1221:0
[slot_border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_layer

// 1221:1
[abilities_layer]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_layer

// 1221:2
[cooldown_layer]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_layer

// 1221:3
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 1221:4
[content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 1221:5
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 1221:6
[main_layer]
type=layer
widthmode=minus
heightmode=minus
onload=script8422(toplevel_v2_window_ability_book_necromancy_spells:category_buttons_layer, toplevel_v2_window_ability_book_necromancy_spells:scrolling_layer, toplevel_v2_window_ability_book_necromancy_spells:scrollbar_layer, 15)

// 1221:7
[category_buttons_layer]
type=layer
width=190
height=32
layer=content_layer

// 1221:8
[scrolling_layer]
type=layer
width=16
height=32
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=content_layer

// 1221:9
[cooldown_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_layer

// 1221:10
[ability_flash_layer]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_layer

// 1221:11
[scrollbar_layer]
type=layer
width=16
height=32
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=content_layer

