// 568:0
[all]
type=layer
widthmode=minus
heightmode=minus

// 568:1
[background]
type=layer
widthmode=minus
heightmode=minus
layer=all

// 568:2
[content]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=all
noclickthrough=yes

// 568:3
[window_holder]
type=layer
widthmode=minus
heightmode=minus
layer=content
onload=script13834(toplevel_v2_ribbon_extra:window_build, toplevel_v2_ribbon_extra:window_click)
onvartransmit=script13834(toplevel_v2_ribbon_extra:window_build, toplevel_v2_ribbon_extra:window_click)
onvartransmitlist=toplevel_v2_general_varp,toplevel_v2_skins_varp,toplevel_v2_parent_lock,toplevel_v2_parent_lock_2,seasonal_main

// 568:4
[border]
type=layer
widthmode=minus
heightmode=minus
layer=all

// 568:5
[window_build]
type=layer
widthmode=minus
heightmode=minus
layer=window_holder

// 568:6
[window_click]
type=layer
widthmode=minus
heightmode=minus
layer=window_holder

