// 1559:0
[effective_melee_layer]
type=layer
x=-84
width=52
height=29
xmode=abs_centre
ymode=abs_centre
layer=effective_armour_values

// 1559:1
[effective_melee_background_graphic]
type=layer
height=1
widthmode=minus
heightmode=minus
layer=effective_melee_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1559:2
[effective_melee_background_graphic_3]
type=layer
x=3
y=3
widthmode=minus
heightmode=minus
layer=effective_melee_background_graphic
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1559:3
[effective_ranged_layer]
type=layer
x=-28
width=52
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=effective_armour_values

// 1559:4
[effective_melee_background_graphic_1]
type=layer
height=1
widthmode=minus
heightmode=minus
layer=effective_ranged_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1559:5
[stats_box_bg]
type=layer
widthmode=minus
heightmode=minus
layer=stats_box
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1559:6
[prayer_background_graphic]
type=layer
widthmode=minus
heightmode=minus
layer=prayer_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1559:7
[prayer_bar_bounds_layer]
type=layer
x=4
y=9
width=70
height=8
xmode=abs_right
layer=prayer_layer

// 1559:8
[prayer_title_text]
type=text
x=5
width=50
height=18
ymode=abs_bottom
layer=prayer_layer
textfont=museo_sans_11pt_regular
text=Prayer
textshadow=yes
colour=0xaed0e0

// 1559:9
[health_background_graphic]
type=layer
widthmode=minus
heightmode=minus
layer=health_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1559:10
[health_bar_bounds_layer]
type=layer
x=4
y=9
width=70
height=8
xmode=abs_right
layer=health_layer

// 1559:11
[prayer_bar_graphic]
type=graphic
width=100
height=8
layer=prayer_bar_layer
graphic=rs3_progress_bar_prayerpoints
colour=0xffffff
clickmask=no

// 1559:12
[health_bar_layer]
type=layer
height=8
widthmode=proportion
layer=health_bar_bounds_layer

// 1559:13
[health_bar_graphic]
type=graphic
width=100
height=8
layer=health_bar_layer
graphic=rs3_progress_bar_hitpoints
colour=0xffffff
clickmask=no

// 1559:14
[com_14]
type=text
height=13
widthmode=minus
xmode=abs_centre
layer=weapon_stats
textfont=cinzel_13pt_bold
text=Offensive Stats
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0

// 1559:15
[com_15]
type=text
height=18
widthmode=minus
xmode=abs_centre
layer=defensive_stats
textfont=cinzel_13pt_bold
text=Defensive Stats
textalignh=1
textshadow=yes
colour=0xaed0e0

// 1559:16
[equip_info_layer]
type=layer
width=4
height=405
widthmode=minus
xmode=abs_centre
layer=main_layer

// 1559:17
[player_name_text]
type=text
y=10
height=16
widthmode=minus
xmode=abs_centre
layer=equip_info_layer
textfont=cinzel_13pt_bold
text=Name
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1559:18
[health_title_text]
type=text
x=5
width=60
height=18
ymode=abs_bottom
layer=health_layer
textfont=museo_sans_11pt_regular
text=Life Points
textshadow=yes
colour=0xaed0e0

// 1559:19
[health_value_text]
type=text
x=7
width=55
height=18
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=health_layer
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textshadow=yes

// 1559:20
[prayer_value_text]
type=text
x=7
width=64
height=18
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=prayer_layer
textfont=museo_sans_11pt_regular
text=0
textalignh=1
textshadow=yes

// 1559:21
[health_layer]
type=layer
y=323
width=8079
height=50
widthmode=proportion
ymode=abs_bottom
layer=equip_info_layer

// 1559:22
[life_bonus_icon_1]
type=graphic
x=4
y=1
width=24
height=24
layer=health_layer
graphic=rs3_icon_skill_hitpoints_24px
colour=0xffffff
clickmask=no

// 1559:23
[prayer_layer]
type=layer
y=323
width=8079
height=50
widthmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=equip_info_layer

// 1559:24
[prayer_bonus_icon_1]
type=graphic
x=4
y=1
width=24
height=24
layer=prayer_layer
graphic=rs3_icon_skill_prayer_24px
colour=0xffffff
clickmask=no

// 1559:25
[main_layer]
type=layer
height=404
widthmode=minus
onload=script8451(event_com)

// 1559:26
[weapon_stats]
type=layer
y=203
height=109
widthmode=minus
ymode=abs_bottom
layer=equip_info_layer

// 1559:27
[defensive_stats]
type=layer
y=52
height=153
widthmode=minus
ymode=abs_bottom
layer=equip_info_layer

// 1559:28
[stats_box]
type=layer
y=17
height=133
widthmode=minus
layer=defensive_stats

// 1559:29
[prayer_bonus_box_bg]
type=rectangle
x=4
y=4
width=8
height=15
widthmode=minus
layer=stats_box
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1559:30
[prayer_bonus_box]
type=layer
y=2
width=111
height=18
layer=stats_box

// 1559:31
[main_weapon_button_box]
type=layer
y=14
width=5406
height=24
widthmode=proportion
layer=weapon_stats

// 1559:32
[off_weapon_button_box]
type=layer
y=14
width=5387
height=24
widthmode=proportion
xmode=abs_centre
layer=weapon_stats

// 1559:33
[abilities_weapon_button_box]
type=layer
y=14
width=5406
height=24
widthmode=proportion
xmode=abs_right
layer=weapon_stats

// 1559:34
[main_weapon_stats]
type=layer
y=25
height=83
widthmode=minus
layer=weapon_stats

// 1559:35
[main_weapon_stats_bg]
type=layer
height=73
widthmode=minus
ymode=abs_bottom
layer=main_weapon_stats
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1559:36
[main_damage_bg]
type=rectangle
x=4
y=13
width=8
height=15
widthmode=minus
layer=main_weapon_stats
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1559:37
[main_damage_box]
type=layer
y=10
width=111
height=18
layer=main_weapon_stats

// 1559:38
[com_38]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_damage_box
textfont=museo_sans_11pt_regular
text=Damage
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:39
[main_damage_value_box]
type=layer
y=10
width=111
height=18
widthmode=minus
xmode=abs_right
layer=main_weapon_stats

// 1559:40
[main_accuracy_bg]
type=rectangle
x=4
y=30
width=8
height=15
widthmode=minus
layer=main_weapon_stats
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1559:41
[main_damage_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_damage_value_box
textfont=museo_sans_11pt_regular
text=9999
textalignh=2
textalignv=1
textshadow=yes

// 1559:42
[main_accuracy_box]
type=layer
y=28
width=111
height=18
layer=main_weapon_stats

// 1559:43
[com_43]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_accuracy_box
textfont=museo_sans_11pt_regular
text=Accuracy
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:44
[main_accuracy_value_box]
type=layer
y=28
width=111
height=18
widthmode=minus
xmode=abs_right
layer=main_weapon_stats

// 1559:45
[main_type_bg]
type=rectangle
x=4
y=48
width=8
height=15
widthmode=minus
layer=main_weapon_stats
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1559:46
[main_accuracy_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_accuracy_value_box
textfont=museo_sans_11pt_regular
text=2000
textalignh=2
textalignv=1
textshadow=yes

// 1559:47
[main_type_box]
type=layer
y=46
width=111
height=18
layer=main_weapon_stats

// 1559:48
[com_48]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_type_box
textfont=museo_sans_11pt_regular
text=Type
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:49
[main_type_value_box]
type=layer
y=46
width=111
height=18
widthmode=minus
xmode=abs_right
layer=main_weapon_stats

// 1559:50
[main_speed_bg]
type=rectangle
x=4
y=65
width=8
height=15
widthmode=minus
layer=main_weapon_stats
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1559:51
[main_type_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_type_value_box
textfont=museo_sans_11pt_regular
text=Stabbing
textalignh=2
textalignv=1
textshadow=yes

// 1559:52
[main_speed_box]
type=layer
y=64
width=111
height=18
layer=main_weapon_stats

// 1559:53
[com_53]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_speed_box
textfont=museo_sans_11pt_regular
text=Speed
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:54
[main_speed_value_box]
type=layer
y=64
width=111
height=18
widthmode=minus
xmode=abs_right
layer=main_weapon_stats

// 1559:55
[main_speed_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_speed_value_box
textfont=museo_sans_11pt_regular
text=Fastest
textalignh=2
textalignv=1
textshadow=yes

// 1559:56
[off_weapon_stats]
type=layer
y=25
height=83
widthmode=minus
layer=weapon_stats
hide=yes

// 1559:57
[off_weapon_stats_bg]
type=layer
height=73
widthmode=minus
ymode=abs_bottom
layer=off_weapon_stats
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1559:58
[off_damage_bg]
type=rectangle
x=4
y=13
width=8
height=15
widthmode=minus
layer=off_weapon_stats
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1559:59
[off_damage_box]
type=layer
y=10
width=111
height=18
layer=off_weapon_stats

// 1559:60
[off_damage_text]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_damage_box
textfont=museo_sans_11pt_regular
text=Damage
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:61
[off_damage_value_box]
type=layer
y=10
width=111
height=18
widthmode=minus
xmode=abs_right
layer=off_weapon_stats

// 1559:62
[off_accuracy_bg]
type=rectangle
x=4
y=30
width=8
height=15
widthmode=minus
layer=off_weapon_stats
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1559:63
[off_damage_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_damage_value_box
textfont=museo_sans_11pt_regular
text=9999
textalignh=2
textalignv=1
textshadow=yes

// 1559:64
[off_accuracy_box]
type=layer
y=28
width=111
height=18
layer=off_weapon_stats

// 1559:65
[com_65]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_accuracy_box
textfont=museo_sans_11pt_regular
text=Accuracy
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:66
[off_accuracy_value_box]
type=layer
y=28
width=111
height=18
widthmode=minus
xmode=abs_right
layer=off_weapon_stats

// 1559:67
[off_type_bg]
type=rectangle
x=4
y=48
width=8
height=15
widthmode=minus
layer=off_weapon_stats
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1559:68
[off_accuracy_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_accuracy_value_box
textfont=museo_sans_11pt_regular
text=2000
textalignh=2
textalignv=1
textshadow=yes

// 1559:69
[off_type_box]
type=layer
y=46
width=111
height=18
layer=off_weapon_stats

// 1559:70
[com_70]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_type_box
textfont=museo_sans_11pt_regular
text=Type
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:71
[off_type_value_box]
type=layer
y=46
width=111
height=18
widthmode=minus
xmode=abs_right
layer=off_weapon_stats

// 1559:72
[off_speed_bg]
type=rectangle
x=4
y=65
width=8
height=15
widthmode=minus
layer=off_weapon_stats
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1559:73
[off_type_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_type_value_box
textfont=museo_sans_11pt_regular
text=Stabbing
textalignh=2
textalignv=1
textshadow=yes

// 1559:74
[off_speed_box]
type=layer
y=64
width=111
height=18
layer=off_weapon_stats

// 1559:75
[com_75]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_speed_box
textfont=museo_sans_11pt_regular
text=Speed
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:76
[off_speed_value_box]
type=layer
y=64
width=111
height=18
widthmode=minus
xmode=abs_right
layer=off_weapon_stats

// 1559:77
[off_speed_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_speed_value_box
textfont=museo_sans_11pt_regular
text=Fastest
textalignh=2
textalignv=1
textshadow=yes

// 1559:78
[prayer_bar_layer]
type=layer
height=8
widthmode=proportion
layer=prayer_bar_bounds_layer

// 1559:79
[damage_reduction_pve_text]
type=text
width=51
height=18
widthmode=minus
layer=damage_reduction_pve_layer
textfont=museo_sans_11pt_regular
text=Damage reduction (PvE)
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:80
[damage_reduction_pve]
type=text
width=51
height=18
xmode=abs_right
layer=damage_reduction_pve_layer
textfont=museo_sans_11pt_regular
text=0%
textalignh=2
textalignv=1
textshadow=yes

// 1559:81
[damage_reduction_pvp_text]
type=text
width=51
height=18
widthmode=minus
layer=damage_reduction_pvp_layer
textfont=museo_sans_11pt_regular
text=Damage reduction (PvP)
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:82
[damage_reduction_pvp]
type=text
width=51
height=18
xmode=abs_right
layer=damage_reduction_pvp_layer
textfont=museo_sans_11pt_regular
text=0%
textalignh=2
textalignv=1
textshadow=yes

// 1559:83
[main_weapon_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_weapon_button_box
onload=script8103(event_com)

// 1559:84
[main_weapon_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_weapon_button_box
onload=script9645(event_com)

// 1559:85
[main_weapon_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_weapon_button_box
onload=script9646(event_com)

// 1559:86
[main_weapon_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_weapon_button_box
hide=yes
onload=script9647(event_com)

// 1559:87
[main_weapon_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_weapon_button_box
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script8466(toplevel_v2_inspect_worn_stats:main_layer, 0)

// 1559:88
[main_weapon_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_weapon_button_box
hide=yes
onload=script9650(event_com)

// 1559:89
[main_weapon_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_weapon_button_box

// 1559:90
[main_weapon_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_weapon_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Main Hand
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1559:91
[off_weapon_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_weapon_button_box
onload=script8103(event_com)

// 1559:92
[off_weapon_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_weapon_button_box
onload=script9645(event_com)

// 1559:93
[off_weapon_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_weapon_button_box
onload=script9646(event_com)

// 1559:94
[off_weapon_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_weapon_button_box
hide=yes
onload=script9647(event_com)

// 1559:95
[off_weapon_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=off_weapon_button_box
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script8466(toplevel_v2_inspect_worn_stats:main_layer, 1)

// 1559:96
[off_weapon_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_weapon_button_box
hide=yes
onload=script9650(event_com)

// 1559:97
[off_weapon_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_weapon_button_box

// 1559:98
[off_weapon_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=off_weapon_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Off Hand
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1559:99
[com_99]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prayer_bonus_box
textfont=museo_sans_11pt_regular
text=Prayer Bonus
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:100
[prayer_bonus_value_box]
type=layer
y=2
width=111
height=18
widthmode=minus
xmode=abs_right
layer=stats_box

// 1559:101
[prayer_bonus_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prayer_bonus_value_box
textfont=museo_sans_11pt_regular
text=9999
textalignh=2
textalignv=1
textshadow=yes

// 1559:102
[armour_box_bg]
type=rectangle
x=4
y=22
width=8
height=15
widthmode=minus
layer=stats_box
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1559:103
[armour_box]
type=layer
y=20
width=111
height=18
layer=stats_box

// 1559:104
[com_104]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=armour_box
textfont=museo_sans_11pt_regular
text=Total Armour
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:105
[armour_value_box]
type=layer
y=20
width=111
height=18
widthmode=minus
xmode=abs_right
layer=stats_box

// 1559:106
[effective_box_bg]
type=rectangle
x=4
y=40
width=8
height=45
widthmode=minus
layer=stats_box
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1559:107
[effective_armour_box]
type=layer
y=38
width=111
height=18
layer=stats_box

// 1559:108
[effective_armour_values]
type=layer
y=55
height=29
widthmode=minus
xmode=abs_centre
layer=stats_box

// 1559:109
[damage_reduction_pve_bg]
type=rectangle
x=4
y=88
width=8
height=15
widthmode=minus
layer=stats_box
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1559:110
[effective_magic_layer]
type=layer
x=28
width=52
height=1
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=effective_armour_values

// 1559:111
[effective_necromancy_layer]
type=layer
x=84
width=52
height=28
xmode=abs_centre
ymode=abs_centre
layer=effective_armour_values

// 1559:112
[effective_melee_background_graphic_2]
type=layer
widthmode=minus
heightmode=minus
layer=effective_magic_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1559:113
[damage_reduction_pve_layer]
type=layer
y=85
width=30
height=18
widthmode=minus
xmode=abs_centre
layer=stats_box

// 1559:114
[damage_reduction_pvp_bg]
type=rectangle
x=4
y=105
width=8
height=15
widthmode=minus
layer=stats_box
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1559:115
[damage_reduction_pvp_layer]
type=layer
y=103
width=30
height=18
widthmode=minus
xmode=abs_centre
layer=stats_box

// 1559:116
[effective_melee_armour_icon]
type=graphic
x=2
width=22
height=22
ymode=abs_centre
layer=effective_melee_layer
graphic=hitmark_icon_melee_other
colour=0xffffff
clickmask=no

// 1559:117
[effective_melee_armour_value]
type=text
x=2
width=26
height=8
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=effective_melee_layer
textfont=museo_sans_11pt_regular
text=9999
textalignv=1
textshadow=yes

// 1559:118
[effective_ranged_armour_icon]
type=graphic
x=2
width=22
height=22
ymode=abs_centre
layer=effective_ranged_layer
graphic=hitmark_icon_ranged_other
colour=0xffffff
clickmask=no

// 1559:119
[armour_rating_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=armour_value_box
textfont=museo_sans_11pt_regular
text=2000
textalignh=2
textalignv=1
textshadow=yes

// 1559:120
[com_120]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=effective_armour_box
textfont=museo_sans_11pt_regular
text=Style Bonus
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:121
[effective_ranged_armour_value]
type=text
x=2
width=26
height=8
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=effective_ranged_layer
textfont=museo_sans_11pt_regular
text=9999
textalignv=1
textshadow=yes

// 1559:122
[effective_magic_armour_icon]
type=graphic
x=2
width=22
height=22
ymode=abs_centre
layer=effective_magic_layer
graphic=hitmark_icon_magic_other
colour=0xffffff
clickmask=no

// 1559:123
[effective_magic_armour_value]
type=text
x=2
width=26
height=8
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=effective_magic_layer
textfont=museo_sans_11pt_regular
text=9999
textalignv=1
textshadow=yes

// 1559:124
[abilities_weapon_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abilities_weapon_button_box
onload=script8103(event_com)

// 1559:125
[abilities_weapon_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abilities_weapon_button_box
onload=script9645(event_com)

// 1559:126
[abilities_weapon_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abilities_weapon_button_box
onload=script9646(event_com)

// 1559:127
[abilities_weapon_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abilities_weapon_button_box
hide=yes
onload=script9647(event_com)

// 1559:128
[abilities_weapon_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=abilities_weapon_button_box
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script8466(toplevel_v2_inspect_worn_stats:main_layer, 2)

// 1559:129
[abilities_weapon_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abilities_weapon_button_box
hide=yes
onload=script9650(event_com)

// 1559:130
[abilities_weapon_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abilities_weapon_button_box

// 1559:131
[abilities_weapon_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=abilities_weapon_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Abilities
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1559:132
[abilities_weapon_stats]
type=layer
y=25
height=83
widthmode=minus
layer=weapon_stats
hide=yes

// 1559:133
[abilities_weapon_stats_bg]
type=layer
height=73
widthmode=minus
ymode=abs_bottom
layer=abilities_weapon_stats
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1559:134
[abilities_damage_bg]
type=rectangle
x=4
y=13
width=8
height=15
widthmode=minus
layer=abilities_weapon_stats
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1559:135
[ab_damage_box]
type=layer
y=10
width=111
height=18
layer=abilities_weapon_stats

// 1559:136
[com_136]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ab_damage_box
textfont=museo_sans_11pt_regular
text=Damage
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:137
[ab_damage_value_box]
type=layer
y=10
width=111
height=18
widthmode=minus
xmode=abs_right
layer=abilities_weapon_stats

// 1559:138
[ab_damage_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ab_damage_value_box
textfont=museo_sans_11pt_regular
text=9999
textalignh=2
textalignv=1
textshadow=yes

// 1559:139
[abilities_accuracy_bg]
type=rectangle
x=4
y=30
width=8
height=15
widthmode=minus
layer=abilities_weapon_stats
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1559:140
[ab_accuracy_box]
type=layer
y=28
width=111
height=18
layer=abilities_weapon_stats

// 1559:141
[com_141]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ab_accuracy_box
textfont=museo_sans_11pt_regular
text=Accuracy
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:142
[ab_accuracy_value_box]
type=layer
y=28
width=111
height=18
widthmode=minus
xmode=abs_right
layer=abilities_weapon_stats

// 1559:143
[ab_accuracy_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ab_accuracy_value_box
textfont=museo_sans_11pt_regular
text=2000
textalignh=2
textalignv=1
textshadow=yes

// 1559:144
[abilities_type_bg]
type=rectangle
x=4
y=48
width=8
height=15
widthmode=minus
layer=abilities_weapon_stats
colour=0x1c2c34
fill=yes
onload=script8194(event_com, rs3_rect_light)

// 1559:145
[ab_type_box]
type=layer
y=46
width=111
height=18
layer=abilities_weapon_stats

// 1559:146
[com_146]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ab_type_box
textfont=museo_sans_11pt_regular
text=Type
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:147
[ab_type_value_box]
type=layer
y=46
width=111
height=18
widthmode=minus
xmode=abs_right
layer=abilities_weapon_stats

// 1559:148
[ab_type_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ab_type_value_box
textfont=museo_sans_11pt_regular
text=Stabbing
textalignh=2
textalignv=1
textshadow=yes

// 1559:149
[abilities_speed_bg]
type=rectangle
x=4
y=65
width=8
height=15
widthmode=minus
layer=abilities_weapon_stats
colour=0x071820
fill=yes
onload=script8194(event_com, rs3_rect_dark)

// 1559:150
[ab_speed_box]
type=layer
y=64
width=111
height=18
layer=abilities_weapon_stats

// 1559:151
[com_151]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ab_speed_box
textfont=museo_sans_11pt_regular
text=Speed
textalignv=1
textshadow=yes
colour=0x7592a0

// 1559:152
[ab_speed_value_box]
type=layer
y=64
width=111
height=18
widthmode=minus
xmode=abs_right
layer=abilities_weapon_stats

// 1559:153
[ab_speed_value]
type=text
width=30
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ab_speed_value_box
textfont=museo_sans_11pt_regular
text=Fastest
textalignh=2
textalignv=1
textshadow=yes

// 1559:154
[effective_necromancy_background_graphic]
type=layer
widthmode=minus
heightmode=minus
layer=effective_necromancy_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1559:155
[effective_necromancy_armour_icon]
type=graphic
x=2
width=22
height=22
ymode=abs_centre
layer=effective_necromancy_layer
graphic=skill_icon_necromancy_24px
colour=0xffffff
clickmask=no

// 1559:156
[effective_necromancy_armour_value]
type=text
x=2
width=26
height=8
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=effective_necromancy_layer
textfont=museo_sans_11pt_regular
text=9999
textalignv=1
textshadow=yes

