// 1946:0
[com_0]
type=rectangle
widthmode=minus
heightmode=minus
layer=combat_bar_root
colour=0xffffff
fill=yes
onload=script10496(event_com, event_comsubid, 12)

// 1946:1
[revo_icon]
type=graphic
x=10
width=40
height=40
ymode=abs_centre
layer=combat_bar_root
graphic=rs3_icon_combat_mode_revolution
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Change Combat Mode
onload=script8940
onvartransmit=script8940
onop=script2648
onvartransmitlist=com_mode,toplevel_v2_general_varp

// 1946:2
[actionbar_layer]
type=layer
width=625
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=combat_bar_root
onload=script6986(1946)
onvartransmit=script11810(1946)
onvartransmitlist=combatv2_actionbar_current_bar_base_var_2,combatv2_generic_base_var_2,com_mode

// 1946:3
[combat_bar_root]
type=layer
width=754
height=50
xmode=abs_centre
ymode=abs_bottom
onload=script8109(1044)

// 1946:4
[button_holder_1]
type=layer
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:5
[button_holder_bg_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_1
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:6
[prayer_bg_1]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_1
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:7
[button_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_1
candrop=yes

// 1946:8
[graphic_1]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_1
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:9
[cooldown_1]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_1
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:10
[white_flash_rect_1]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_1
colour=0xffffff
fill=yes
trans=255

// 1946:11
[text_1_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_1
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:12
[button_target_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_1

// 1946:13
[button_highlight_1]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_1
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

// 1946:14
[button_holder_2]
type=layer
x=45
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:15
[button_holder_bg_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_2
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:16
[prayer_bg_2]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_2
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:17
[button_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_2
candrop=yes

// 1946:18
[graphic_2]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_2
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:19
[cooldown_2]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_2
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:20
[white_flash_rect_2]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_2
colour=0xffffff
fill=yes
trans=255

// 1946:21
[text_2_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_2
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:22
[button_target_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_2

// 1946:23
[button_highlight_2]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_2
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

// 1946:24
[button_holder_3]
type=layer
x=90
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:25
[button_holder_bg_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_3
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:26
[prayer_bg_3]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_3
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:27
[button_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_3
candrop=yes

// 1946:28
[graphic_3]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_3
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:29
[cooldown_3]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_3
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:30
[white_flash_rect_3]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_3
colour=0xffffff
fill=yes
trans=255

// 1946:31
[text_3_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_3
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:32
[button_target_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_3

// 1946:33
[button_highlight_3]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_3
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

// 1946:34
[button_holder_4]
type=layer
x=135
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:35
[button_holder_bg_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_4
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:36
[prayer_bg_4]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_4
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:37
[button_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_4
candrop=yes

// 1946:38
[graphic_4]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_4
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:39
[cooldown_4]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_4
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:40
[white_flash_rect_4]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_4
colour=0xffffff
fill=yes
trans=255

// 1946:41
[text_4_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_4
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:42
[button_target_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_4

// 1946:43
[button_highlight_4]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_4
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

// 1946:44
[button_holder_5]
type=layer
x=180
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:45
[button_holder_bg_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_5
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:46
[prayer_bg_5]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_5
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:47
[button_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_5
candrop=yes

// 1946:48
[graphic_5]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_5
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:49
[cooldown_5]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_5
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:50
[white_flash_rect_5]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_5
colour=0xffffff
fill=yes
trans=255

// 1946:51
[text_5_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_5
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:52
[button_target_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_5

// 1946:53
[button_highlight_5]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_5
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

// 1946:54
[button_holder_6]
type=layer
x=225
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:55
[button_holder_bg_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_6
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:56
[prayer_bg_6]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_6
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:57
[button_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_6
candrop=yes

// 1946:58
[graphic_6]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_6
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:59
[cooldown_6]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_6
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:60
[white_flash_rect_6]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_6
colour=0xffffff
fill=yes
trans=255

// 1946:61
[text_6_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_6
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:62
[button_target_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_6

// 1946:63
[button_highlight_6]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_6
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

// 1946:64
[button_holder_7]
type=layer
x=270
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:65
[button_holder_bg_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_7
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:66
[prayer_bg_7]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_7
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:67
[button_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_7
candrop=yes

// 1946:68
[graphic_7]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_7
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:69
[cooldown_7]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_7
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:70
[white_flash_rect_7]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_7
colour=0xffffff
fill=yes
trans=255

// 1946:71
[text_7_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_7
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:72
[button_target_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_7

// 1946:73
[button_highlight_7]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_7
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

// 1946:74
[button_holder_8]
type=layer
x=315
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:75
[button_holder_bg_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_8
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:76
[prayer_bg_8]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_8
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:77
[button_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_8
candrop=yes

// 1946:78
[graphic_8]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_8
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:79
[cooldown_8]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_8
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:80
[white_flash_rect_8]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_8
colour=0xffffff
fill=yes
trans=255

// 1946:81
[text_8_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_8
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:82
[button_target_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_8

// 1946:83
[button_highlight_8]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_8
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

// 1946:84
[button_holder_9]
type=layer
x=360
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:85
[button_holder_bg_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_9
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:86
[prayer_bg_9]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_9
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:87
[button_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_9
candrop=yes

// 1946:88
[graphic_9]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_9
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:89
[cooldown_9]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_9
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:90
[white_flash_rect_9]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_9
colour=0xffffff
fill=yes
trans=255

// 1946:91
[text_9_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_9
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:92
[button_target_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_9

// 1946:93
[button_highlight_9]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_9
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

// 1946:94
[button_holder_10]
type=layer
x=405
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:95
[button_holder_bg_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_10
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:96
[prayer_bg_10]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_10
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:97
[button_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_10
candrop=yes

// 1946:98
[graphic_10]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_10
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:99
[cooldown_10]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_10
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:100
[white_flash_rect_10]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_10
colour=0xffffff
fill=yes
trans=255

// 1946:101
[text_10_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_10
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:102
[button_target_layer_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_10

// 1946:103
[button_highlight_10]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_10
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

// 1946:104
[button_holder_11]
type=layer
x=450
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:105
[button_holder_bg_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_11
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:106
[prayer_bg_11]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_11
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:107
[button_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_11
candrop=yes

// 1946:108
[graphic_11]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_11
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:109
[cooldown_11]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_11
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:110
[white_flash_rect_11]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_11
colour=0xffffff
fill=yes
trans=255

// 1946:111
[text_11_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_11
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:112
[button_target_layer_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_11

// 1946:113
[button_highlight_11]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_11
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

// 1946:114
[button_holder_12]
type=layer
x=495
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:115
[button_holder_bg_12]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_12
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:116
[prayer_bg_12]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_12
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:117
[button_12]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_12
candrop=yes

// 1946:118
[graphic_12]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_12
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:119
[cooldown_12]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_12
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:120
[white_flash_rect_12]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_12
colour=0xffffff
fill=yes
trans=255

// 1946:121
[text_12_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_12
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:122
[button_target_layer_12]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_12

// 1946:123
[button_highlight_12]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_12
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

// 1946:124
[button_holder_13]
type=layer
x=540
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:125
[button_holder_bg_13]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_13
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:126
[prayer_bg_13]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_13
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:127
[button_13]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_13
candrop=yes

// 1946:128
[graphic_13]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_13
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:129
[cooldown_13]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_13
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:130
[white_flash_rect_13]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_13
colour=0xffffff
fill=yes
trans=255

// 1946:131
[text_13_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_13
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:132
[button_target_layer_13]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_13

// 1946:133
[button_highlight_13]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_13
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

// 1946:134
[button_holder_14]
type=layer
x=585
width=40
height=40
ymode=abs_centre
layer=actionbar_layer

// 1946:135
[button_holder_bg_14]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_14
onload=rs3_background_panel(event_com, rs3_icon_holder)

// 1946:136
[prayer_bg_14]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_14
graphic=combatv2_prayerglow
trans=255
colour=0xffffff
clickmask=no

// 1946:137
[button_14]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_14
candrop=yes

// 1946:138
[graphic_14]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_14
graphic=combatv2_blank_ability
colour=0xffffff
clickmask=no
transmitop1=yes
candrop=yes
op1=Use
opcursor0=cursor_use
ondragcomplete=script7001(event_com, event_comsubid, event_com2)

// 1946:139
[cooldown_14]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_14
hide=yes
graphic="combatv2_cooldown_animation,0"
trans=45
colour=0x010101
clickmask=no

// 1946:140
[white_flash_rect_14]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_14
colour=0xffffff
fill=yes
trans=255

// 1946:141
[text_14_cooldown]
type=text
widthmode=minus
heightmode=minus
layer=button_14
textfont=museo_sans_17pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 1946:142
[button_target_layer_14]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_14

// 1946:143
[button_highlight_14]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_holder_14
colour=0xc8c8c8
trans=255
onmouseover=script7016(event_com, 1)
onmouseleave=script7016(event_com, 0)

