// 1740:0
[upsell_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 1740:1
[web_layer]
type=layer
width=493
height=393
ymode=abs_centre
layer=upsell_layer

// 1740:2
[subscribe_button_layer]
type=layer
y=41
height=27
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=subscription_layer
onload=script5642(event_com)

// 1740:3
[rent_w_bonds_button_layer]
type=layer
height=27
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=subscription_layer
onload=script5643(event_com)

// 1740:4
[subscription_layer]
type=layer
width=223
heightmode=minus
xmode=abs_right
layer=main_layer

// 1740:5
[main_layer]
type=layer
x=5
y=5
width=10
height=10
widthmode=minus
heightmode=minus
onload=script12338(toplevel_v2_parent_suboverlay_welcome:subscription_layer, toplevel_v2_parent_suboverlay_welcome:subscribe_button_text, toplevel_v2_parent_suboverlay_welcome:subscribe_button_disabled_layer, toplevel_v2_parent_suboverlay_welcome:rent_w_bonds_button_text, toplevel_v2_parent_suboverlay_welcome:rent_w_bonds_button_disabled_layer, 114032640, toplevel_v2_parent_suboverlay_welcome:web_layer, toplevel_v2_parent_suboverlay_welcome:web_graphic, toplevel_v2_parent_suboverlay_welcome:web_overlay_layer, 114032665)

// 1740:6
[subscribe_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_layer
onload=script7041(event_com)

// 1740:7
[subscribe_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_layer
onload=script7042(event_com)

// 1740:8
[subscribe_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_layer
onload=script7044(event_com)

// 1740:9
[subscribe_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_layer
hide=yes
onload=script7047(event_com)

// 1740:10
[subscribe_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=subscribe_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1740:11
[subscribe_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_layer
hide=yes
onload=script7060(event_com)

// 1740:12
[subscribe_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_layer

// 1740:13
[subscribe_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_text_layer
textfont=cinzel_13pt_bold
text=Subscribe
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1740:14
[rent_w_bonds_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rent_w_bonds_button_layer
onload=script7041(event_com)

// 1740:15
[rent_w_bonds_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rent_w_bonds_button_layer
onload=script7042(event_com)

// 1740:16
[rent_w_bonds_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rent_w_bonds_button_layer
onload=script7044(event_com)

// 1740:17
[rent_w_bonds_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rent_w_bonds_button_layer
hide=yes
onload=script7047(event_com)

// 1740:18
[rent_w_bonds_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=rent_w_bonds_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1740:19
[rent_w_bonds_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rent_w_bonds_button_layer
hide=yes
onload=script7060(event_com)

// 1740:20
[rent_w_bonds_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rent_w_bonds_button_layer

// 1740:21
[rent_w_bonds_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=rent_w_bonds_button_text_layer
textfont=cinzel_13pt_bold
text=Rent with Bonds
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1740:22
[web_graphic_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=web_layer

// 1740:23
[web_graphic]
type=graphic
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=web_graphic_layer
colour=0xffffff
clickmask=no

// 1740:24
[web_overlay_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=web_layer

// 1740:25
[web_highlight_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=web_layer
onload=script10048(event_com)

