// 1441:0
[main_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right

// 1441:1
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer
onload=script8410(14)

// 1441:2
[content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 1441:3
[com_3]
type=rectangle
y=30
height=60
widthmode=minus
heightmode=minus
layer=content_layer
colour=0x000000
fill=yes
trans=150

// 1441:4
[friends_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer
onload=friend_init(toplevel_v2_parent_suboverlay_friends:friends_layer)
onvartransmit=script1265(toplevel_v2_parent_suboverlay_friends:friends_layer)
onvarctransmit=friend_transmit(event_com)
onvartransmitlist=option_toggle1
onvarctransmitlist=share_in_progress

// 1441:5
[friend_scrolling_layer]
type=layer
y=30
width=16
height=60
widthmode=minus
heightmode=minus
layer=friends_layer

// 1441:6
[friend_rectangles]
type=layer
widthmode=minus
heightmode=minus
layer=friend_scrolling_layer
hide=yes

// 1441:7
[friend_world_icon_layer]
type=layer
width=171
heightmode=minus
xmode=abs_right
layer=friend_scrolling_layer

// 1441:8
[friend_world_layer]
type=layer
width=3
widthmode=minus
heightmode=minus
xmode=abs_right
layer=friend_scrolling_layer

// 1441:9
[friend_name_layer]
type=layer
x=3
width=3
widthmode=minus
heightmode=minus
layer=friend_scrolling_layer

// 1441:10
[friend_name_change_icon_layer]
type=layer
width=3
widthmode=minus
heightmode=minus
layer=friend_scrolling_layer

// 1441:11
[friend_scrollbar_layer]
type=layer
y=30
width=16
height=60
heightmode=minus
xmode=abs_right
layer=friends_layer

// 1441:12
[friend_fixed_layer]
type=layer
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=friends_layer

// 1441:13
[friends_info]
type=text
x=113
width=155
height=30
widthmode=minus
ymode=abs_centre
layer=friend_fixed_layer
textfont=museo_sans_11pt_regular_multiline
textlineheight=15
textalignv=1
textshadow=yes

// 1441:14
[friends_buttons_layer]
type=layer
widthmode=minus
heightmode=minus
layer=friend_fixed_layer
noclickthrough=yes

// 1441:15
[add_friend_button_layer]
type=layer
x=5
y=3
width=24
height=24
ymode=abs_bottom
layer=friends_buttons_layer

// 1441:16
[1x1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_friend_button_layer
onload=script9992(event_com)

// 1441:17
[1x1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_friend_button_layer
onload=script9993(event_com)

// 1441:18
[1x1_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_friend_button_layer
onload=script9994(event_com)

// 1441:19
[1x1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_friend_button_layer
hide=yes
onload=script9996(event_com)

// 1441:20
[add_friend_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=add_friend_button_layer
transmitop1=yes
op1=Add friend
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Add friend", event_com, event_comsubid)

// 1441:21
[clan_invite_button_gfx_5]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=add_friend_button_active_layer
graphic="aif_clanchat_icons,2"
colour=0xffffff
clickmask=no

// 1441:22
[1x1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_friend_button_layer
hide=yes
onload=script9998(event_com)

// 1441:23
[remove_friend_button_layer]
type=layer
x=32
y=3
width=24
height=24
ymode=abs_bottom
layer=friends_buttons_layer

// 1441:24
[1x1_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_friend_button_layer
onload=script9992(event_com)

// 1441:25
[1x1_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_friend_button_layer
onload=script9993(event_com)

// 1441:26
[1x1_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_friend_button_layer
onload=script9994(event_com)

// 1441:27
[1x1_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_friend_button_layer
hide=yes
onload=script9996(event_com)

// 1441:28
[remove_friend_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=remove_friend_button_layer
transmitop1=yes
op1=Remove friend
onload=script4213(event_com)
onmouseleave=script8805
onmouserepeat=script8799("Remove friend", event_com, event_comsubid)

// 1441:29
[clan_invite_button_gfx_6]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=remove_friend_button_active_layer
graphic="aif_clanchat_icons,3"
colour=0xffffff
clickmask=no

// 1441:30
[1x1_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_friend_button_layer
hide=yes
onload=script9998(event_com)

// 1441:31
[sort_mode_button_layer]
type=layer
x=59
y=3
width=24
height=24
ymode=abs_bottom
layer=friends_buttons_layer

// 1441:32
[1x1_button_on_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sort_mode_button_layer
onload=script9992(event_com)

// 1441:33
[1x1_button_over_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sort_mode_button_layer
onload=script9993(event_com)

// 1441:34
[1x1_button_hit_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sort_mode_button_layer
onload=script9994(event_com)

// 1441:35
[1x1_button_selected_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sort_mode_button_layer
hide=yes
onload=script9996(event_com)

// 1441:36
[sort_mode_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=sort_mode_button_layer
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
op1=Toggle sort
op2=Set default
op3=Set A to Z
op4=Set Z to A
op5=Search
opcursor4=cursor_search
onload=script4213(event_com)
onmouseleave=script8805
onvartransmit=script2964(event_com)
onop=script2467(toplevel_v2_parent_suboverlay_friends:friends_layer, event_op)
onmouserepeat=script8799("Change the way your friends list is sorted.", event_com, event_comsubid)
onvartransmitlist=option_temp

// 1441:37
[sort_graphic]
type=graphic
width=15
height=15
xmode=abs_centre
ymode=abs_centre
layer=sort_mode_button_active_layer
graphic="rs3_icon_sort,0"
colour=0xffffff
clickmask=no

// 1441:38
[1x1_button_disabled_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sort_mode_button_layer
hide=yes
onload=script9998(event_com)

// 1441:39
[friendbox_drag]
type=layer
x=31
y=30
width=75
height=60
widthmode=minus
heightmode=minus
layer=friends_layer

// 1441:40
[drag_layer]
type=layer
x=74
width=4
heightmode=minus
ymode=abs_centre
layer=friendbox_drag
hide=yes
dragdepth=1
dragrenderbehaviour=1
ondragcomplete=friend_update(event_mousex, toplevel_v2_parent_suboverlay_friends:friends_layer)

// 1441:41
[sep]
type=graphic
width=2
heightmode=minus
xmode=abs_centre
layer=drag_layer
graphic=friends_line
tiling=yes
trans=100
colour=0xffffff
clickmask=no

// 1441:42
[friends_title]
type=text
height=30
widthmode=minus
xmode=abs_centre
layer=friends_layer
textfont=museo_sans_11pt_regular
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xff9b00

// 1441:43
[ignore_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer
hide=yes
onload=ignore_init(toplevel_v2_parent_suboverlay_friends:ignore_layer)
onvartransmit=script12031(toplevel_v2_parent_suboverlay_friends:ignore_layer)
onvartransmitlist=option_toggle2

// 1441:44
[ignorebox_scrolling_layer]
type=layer
y=30
width=16
height=60
widthmode=minus
heightmode=minus
layer=ignore_layer

// 1441:45
[ignorebox_nameicon]
type=layer
widthmode=minus
heightmode=minus
layer=ignorebox_scrolling_layer

// 1441:46
[ignorebox]
type=layer
x=6
width=6
widthmode=minus
heightmode=minus
layer=ignorebox_scrolling_layer
scrollwidth=158
scrollheight=195

// 1441:47
[ignorescroll]
type=layer
y=30
width=16
height=60
heightmode=minus
xmode=abs_right
layer=ignore_layer

// 1441:48
[ignore_fixed_layer]
type=layer
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=ignore_layer

// 1441:49
[ignore_button_layer]
type=layer
widthmode=minus
heightmode=minus
layer=ignore_fixed_layer

// 1441:50
[add_ignore_button_layer]
type=layer
x=5
y=3
width=24
height=24
ymode=abs_bottom
layer=ignore_button_layer

// 1441:51
[1x1_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_ignore_button_layer
onload=script9992(event_com)

// 1441:52
[1x1_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_ignore_button_layer
onload=script9993(event_com)

// 1441:53
[1x1_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_ignore_button_layer
onload=script9994(event_com)

// 1441:54
[1x1_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_ignore_button_layer
hide=yes
onload=script9996(event_com)

// 1441:55
[add_ignore_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=add_ignore_button_layer
transmitop1=yes
op1=Add ignore
onload=script4213(event_com)
onmouserepeat=script8799("Add ignore", event_com, event_comsubid)

// 1441:56
[clan_invite_button_gfx_2]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=add_ignore_button_active_layer
graphic="aif_clanchat_icons,6"
colour=0xffffff
clickmask=no

// 1441:57
[1x1_button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=add_ignore_button_layer
hide=yes
onload=script9998(event_com)

// 1441:58
[remove_ignore_button_layer]
type=layer
x=32
y=3
width=24
height=24
ymode=abs_bottom
layer=ignore_button_layer

// 1441:59
[1x1_button_on_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_ignore_button_layer
onload=script9992(event_com)

// 1441:60
[1x1_button_over_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_ignore_button_layer
onload=script9993(event_com)

// 1441:61
[1x1_button_hit_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_ignore_button_layer
onload=script9994(event_com)

// 1441:62
[1x1_button_selected_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_ignore_button_layer
hide=yes
onload=script9996(event_com)

// 1441:63
[remove_ignore_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=remove_ignore_button_layer
transmitop1=yes
op1=Remove ignore
onload=script4213(event_com)
onmouserepeat=script8799("Remove ignore", event_com, event_comsubid)

// 1441:64
[clan_invite_button_gfx_3]
type=graphic
width=17
height=17
xmode=abs_centre
ymode=abs_centre
layer=remove_ignore_button_active_layer
graphic="aif_clanchat_icons,5"
colour=0xffffff
clickmask=no

// 1441:65
[1x1_button_disabled_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=remove_ignore_button_layer
hide=yes
onload=script9998(event_com)

// 1441:66
[sort_mode_button_layer_1]
type=layer
x=59
y=3
width=24
height=24
ymode=abs_bottom
layer=ignore_button_layer

// 1441:67
[1x1_button_on_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sort_mode_button_layer_1
onload=script9992(event_com)

// 1441:68
[1x1_button_over_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sort_mode_button_layer_1
onload=script9993(event_com)

// 1441:69
[1x1_button_hit_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sort_mode_button_layer_1
onload=script9994(event_com)

// 1441:70
[1x1_button_selected_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sort_mode_button_layer_1
hide=yes
onload=script9996(event_com)

// 1441:71
[sort_mode_button_active_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=sort_mode_button_layer_1
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
op1=Toggle sort
op2=Set default
op3=Set A to Z
op4=Set Z to A
op5=Search
opcursor4=cursor_search
onload=script4213(event_com)
onmouseleave=script8805
onvartransmit=script2964(event_com)
onop=script12033(toplevel_v2_parent_suboverlay_friends:ignore_layer, event_op)
onmouserepeat=script8799("Change the way your ignore list is sorted.", event_com, event_comsubid)
onvartransmitlist=option_temp

// 1441:72
[sort_graphic_1]
type=graphic
width=15
height=15
xmode=abs_centre
ymode=abs_centre
layer=sort_mode_button_active_layer_1
graphic="rs3_icon_sort,0"
colour=0xffffff
clickmask=no

// 1441:73
[1x1_button_disabled_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=sort_mode_button_layer_1
hide=yes
onload=script9998(event_com)

// 1441:74
[ignore_info]
type=text
x=86
width=128
height=30
widthmode=minus
ymode=abs_centre
layer=ignore_fixed_layer
textfont=museo_sans_11pt_regular_multiline
textlineheight=15
textalignv=1
textshadow=yes

// 1441:75
[ignore_title]
type=text
height=30
widthmode=minus
xmode=abs_centre
layer=ignore_layer
textfont=museo_sans_11pt_regular
text=Ignore List
textalignh=1
textalignv=1
textshadow=yes
colour=0xff9933

// 1441:76
[loadingmes]
type=text
y=30
height=60
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=content_layer
hide=yes
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes

// 1441:77
[friends_button]
type=graphic
x=22
y=7
width=17
height=17
xmode=abs_right
ymode=abs_bottom
layer=content_layer
graphic="aif_chat_navigation_btn,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Show friends
onmouseleave=script8805
onop=friends2_switchmode(0, toplevel_v2_parent_suboverlay_friends:friends_layer, toplevel_v2_parent_suboverlay_friends:friends_button_selected, toplevel_v2_parent_suboverlay_friends:ignore_layer, toplevel_v2_parent_suboverlay_friends:ignore_button_selected)
onmouserepeat=script8799("Friends list", event_com, event_comsubid)

// 1441:78
[friends_button_selected]
type=graphic
x=22
y=7
width=17
height=17
xmode=abs_right
ymode=abs_bottom
layer=content_layer
graphic="aif_chat_navigation_btn,6"
colour=0xffffff
clickmask=no

// 1441:79
[ignore_button]
type=graphic
x=2
y=7
width=17
height=17
xmode=abs_right
ymode=abs_bottom
layer=content_layer
graphic="aif_chat_navigation_btn,2"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Show ignore
onmouseleave=script8805
onop=friends2_switchmode(1, toplevel_v2_parent_suboverlay_friends:friends_layer, toplevel_v2_parent_suboverlay_friends:friends_button_selected, toplevel_v2_parent_suboverlay_friends:ignore_layer, toplevel_v2_parent_suboverlay_friends:ignore_button_selected)
onmouserepeat=script8799("Ignore list", event_com, event_comsubid)

// 1441:80
[ignore_button_selected]
type=graphic
x=2
y=7
width=17
height=17
xmode=abs_right
ymode=abs_bottom
layer=content_layer
hide=yes
graphic="aif_chat_navigation_btn,8"
colour=0xffffff
clickmask=no

// 1441:81
[top_line]
type=layer
y=30
height=2
widthmode=minus
xmode=abs_centre
layer=content_layer
onload=script349(event_com)

// 1441:82
[bottom_line]
type=layer
y=30
height=2
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=content_layer
onload=script349(event_com)

// 1441:83
[frame_layer]
type=layer
x=2
y=-1
widthmode=minus
heightmode=minus
layer=main_layer

