// 1419:0
[com_0]
type=text
width=150
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_table_poll_succeeded
textfont=cinzel_13pt_bold
text=Waiting for hiscores to be calculated.
textalignh=1
textalignv=1
textshadow=yes

// 1419:1
[toplevel_v2_parent_suboverlay_summer16_col1_layer]
type=layer
x=12
width=315
heightmode=minus
layer=toplevel_v2_parent_suboverlay_summer16_content_layer

// 1419:2
[toplevel_v2_parent_suboverlay_summer16_col2_layer]
type=layer
x=339
width=315
heightmode=minus
layer=toplevel_v2_parent_suboverlay_summer16_content_layer

// 1419:3
[toplevel_v2_parent_suboverlay_title_layer]
type=layer
height=25
widthmode=minus
layer=toplevel_v2_parent_suboverlay_hiscore_content_layer

// 1419:4
[toplevel_v2_parent_suboverlay_scroll_bar]
type=layer
x=3
y=25
width=16
height=25
heightmode=minus
xmode=abs_right
layer=toplevel_v2_parent_suboverlay_hiscore_content_layer
hide=yes

// 1419:5
[toplevel_v2_parent_suboverlay_table_layer]
type=layer
y=25
width=24
height=25
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_hiscore_content_layer

// 1419:6
[toplevel_v2_parent_suboverlay_table_request_failed]
type=layer
x=18
y=-23
height=65461
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_table_layer

// 1419:7
[toplevel_v2_parent_suboverlay_table_request_failed_text]
type=text
width=150
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_table_request_failed
textfont=cinzel_13pt_bold
text=Something has gone wrong. Please try again later.
textalignh=1
textalignv=1
textshadow=yes

// 1419:8
[toplevel_v2_parent_suboverlay_table_poll_failed]
type=layer
x=18
y=-23
height=65461
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_table_layer

// 1419:9
[toplevel_v2_parent_suboverlay_table_poll_succeeded]
type=layer
x=18
y=-23
height=65461
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_table_layer

// 1419:10
[toplevel_v2_parent_suboverlay_hiscore_content_3_col]
type=layer
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_table_layer

// 1419:11
[toplevel_v2_parent_suboverlay_hiscore_content_2_col]
type=layer
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_table_layer

// 1419:12
[toplevel_v2_parent_suboverlay_hiscore_content_summer16]
type=layer
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_table_layer
hide=yes

// 1419:13
[toplevel_v2_parent_suboverlay_hiscore_content_summer16_disabled]
type=layer
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_table_layer
hide=yes

// 1419:14
[com_14]
type=graphic
y=5
width=650
height=360
xmode=abs_right
layer=toplevel_v2_parent_suboverlay_hiscore_content_summer16_disabled
graphic=temp_hiscore_summer16_splash
colour=0xffffff
clickmask=no

// 1419:15
[toplevel_v2_parent_suboverlay_summer16_button]
type=layer
x=25
y=35
width=376
height=263
widthmode=minus
heightmode=minus
xmode=abs_right
layer=toplevel_v2_parent_suboverlay_hiscore_content_summer16_disabled

// 1419:16
[toplevel_v2_parent_suboverlay_header_layer]
type=layer
height=20
widthmode=minus
layer=toplevel_v2_parent_suboverlay_hiscore_content_3_col

// 1419:17
[toplevel_v2_parent_suboverlay_rank_layer]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_hiscore_content_3_col

// 1419:18
[3col3_header_title]
type=text
x=7
width=103
widthmode=minus
heightmode=minus
layer=layer_6
textfont=museo_sans_13pt_regular
text=Skill
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 2)

// 1419:19
[com_19]
type=text
width=103
widthmode=minus
heightmode=minus
xmode=abs_right
layer=layer_6
textfont=museo_sans_13pt_regular
text=Rank
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 2)

// 1419:20
[3col2_header_title]
type=text
x=7
width=103
widthmode=minus
heightmode=minus
layer=layer_5
textfont=museo_sans_13pt_regular
text=Skill
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 2)

// 1419:21
[com_21]
type=text
width=103
widthmode=minus
heightmode=minus
xmode=abs_right
layer=layer_5
textfont=museo_sans_13pt_regular
text=Rank
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 2)

// 1419:22
[3col1_header_title]
type=text
x=7
width=103
widthmode=minus
heightmode=minus
layer=layer_4
textfont=museo_sans_13pt_regular
text=Skill
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 2)

// 1419:23
[com_23]
type=text
width=103
widthmode=minus
heightmode=minus
xmode=abs_right
layer=layer_4
textfont=museo_sans_13pt_regular
text=Rank
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 2)

// 1419:24
[toplevel_v2_parent_suboverlay_high_scores_main_layer]
type=layer
width=742
heightmode=minus

// 1419:25
[toplevel_v2_parent_suboverlay_hiscore_content_bg]
type=layer
x=52
width=56
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_high_scores_main_layer

// 1419:26
[toplevel_v2_parent_suboverlay_hiscore_navigation_panel]
type=layer
y=4
width=56
height=4
heightmode=minus
layer=toplevel_v2_parent_suboverlay_high_scores_main_layer
onload=script13409(1)

// 1419:27
[toplevel_v2_parent_suboverlay_hiscore_seasonal_button]
type=layer
height=72
widthmode=minus
layer=toplevel_v2_parent_suboverlay_hiscore_navigation_panel
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script7824(0)
onmouserepeat=script8799("Seasonal Hiscores", event_com, -1)

// 1419:28
[seasonal_bg]
type=graphic
width=56
height=72
layer=toplevel_v2_parent_suboverlay_hiscore_seasonal_button
graphic=rs3_parent_side_tab_current
colour=0xffffff
clickmask=no

// 1419:29
[seasonal_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_hiscore_seasonal_button
graphic=rs3_highscores_sidetab_seasonal_icon
colour=0xffffff
clickmask=no

// 1419:30
[toplevel_v2_parent_suboverlay_hiscore_content]
type=layer
x=56
width=56
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_high_scores_main_layer

// 1419:31
[toplevel_v2_parent_suboverlay_hiscore_content_layer]
type=layer
height=58
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_hiscore_content

// 1419:32
[top]
type=graphic
width=8
height=4
widthmode=minus
xmode=abs_centre
layer=toplevel_v2_parent_suboverlay_hiscore_content_bg
graphic=rs3_parent_side_tab_top_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1419:33
[middle]
type=graphic
y=4
width=4
height=8
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_hiscore_content_bg
graphic=rs3_parent_side_tab_content_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1419:34
[left]
type=graphic
width=4
height=8
heightmode=minus
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_hiscore_content_bg
graphic=rs3_parent_side_tab_side_tile
colour=0xffffff
clickmask=no

// 1419:35
[topleft_corner]
type=graphic
width=4
height=4
layer=toplevel_v2_parent_suboverlay_hiscore_content_bg
graphic=rs3_parent_side_tab_top_corner
colour=0xffffff
clickmask=no

// 1419:36
[topright_corner]
type=graphic
width=4
height=4
xmode=abs_right
layer=toplevel_v2_parent_suboverlay_hiscore_content_bg
graphic=rs3_parent_side_tab_top_corner
hflip=yes
colour=0xffffff
clickmask=no

// 1419:37
[right]
type=graphic
y=4
width=4
height=8
heightmode=minus
xmode=abs_right
layer=toplevel_v2_parent_suboverlay_hiscore_content_bg
graphic=rs3_parent_side_tab_side_tile
hflip=yes
colour=0xffffff
clickmask=no

// 1419:38
[bottom]
type=graphic
width=8
height=4
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=toplevel_v2_parent_suboverlay_hiscore_content_bg
graphic=rs3_parent_side_tab_bottom_tile
tiling=yes
colour=0xffffff
clickmask=no

// 1419:39
[bottomright_corner]
type=graphic
width=4
height=4
xmode=abs_right
ymode=abs_bottom
layer=toplevel_v2_parent_suboverlay_hiscore_content_bg
graphic=rs3_parent_side_tab_bottom_corner
hflip=yes
colour=0xffffff
clickmask=no

// 1419:40
[hiscore_title]
type=text
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_title_layer
textfont=cinzel_15pt_bold
text=Skills
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 0)

// 1419:41
[toplevel_v2_parent_suboverlay_2_col1_layer]
type=layer
x=12
width=315
heightmode=minus
layer=toplevel_v2_parent_suboverlay_hiscore_content_2_col

// 1419:42
[toplevel_v2_parent_suboverlay_2_col2_layer]
type=layer
x=339
width=315
heightmode=minus
layer=toplevel_v2_parent_suboverlay_hiscore_content_2_col

// 1419:43
[toplevel_v2_parent_suboverlay_header_col1_layer]
type=layer
x=12
width=206
heightmode=minus
layer=toplevel_v2_parent_suboverlay_header_layer

// 1419:44
[layer_4]
type=layer
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=toplevel_v2_parent_suboverlay_header_col1_layer

// 1419:45
[toplevel_v2_parent_suboverlay_header_col2_layer]
type=layer
x=230
width=206
heightmode=minus
layer=toplevel_v2_parent_suboverlay_header_layer

// 1419:46
[layer_5]
type=layer
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_header_col2_layer

// 1419:47
[toplevel_v2_parent_suboverlay_header_col3_layer]
type=layer
x=448
width=206
heightmode=minus
layer=toplevel_v2_parent_suboverlay_header_layer

// 1419:48
[layer_6]
type=layer
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_header_col3_layer

// 1419:49
[toplevel_v2_parent_suboverlay_3_col1_layer]
type=layer
x=12
width=206
heightmode=minus
layer=toplevel_v2_parent_suboverlay_rank_layer

// 1419:50
[toplevel_v2_parent_suboverlay_3_col2_layer]
type=layer
x=230
width=206
heightmode=minus
layer=toplevel_v2_parent_suboverlay_rank_layer

// 1419:51
[toplevel_v2_parent_suboverlay_3_col3_layer]
type=layer
x=448
width=206
heightmode=minus
layer=toplevel_v2_parent_suboverlay_rank_layer

// 1419:52
[toplevel_v2_parent_suboverlay_footer_layer]
type=layer
y=5
height=55
widthmode=minus
ymode=abs_bottom
layer=toplevel_v2_parent_suboverlay_hiscore_content

// 1419:53
[toplevel_v2_parent_suboverlay_footer_info_layer]
type=layer
x=10
width=300
height=20
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_footer_layer

// 1419:54
[toplevel_v2_parent_suboverlay_footer_button_layer]
type=layer
width=400
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_footer_layer

// 1419:55
[positive_3x1_button]
type=layer
width=50
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_footer_button_layer

// 1419:56
[com_56]
type=graphic
x=8
width=24
height=24
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_footer_info_layer
graphic=rs3_icon_info
colour=0xffffff
clickmask=no

// 1419:57
[info_text]
type=text
x=40
width=40
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_footer_info_layer
textfont=museo_sans_11pt_regular
text=All Hiscores will be updated on log-in.
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1419:58
[toplevel_v2_parent_suboverlay_hiscore_skill_button]
type=layer
y=72
height=72
widthmode=minus
layer=toplevel_v2_parent_suboverlay_hiscore_navigation_panel
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script7824(1)
onmouserepeat=script8799("Skill Hiscores", event_com, -1)

// 1419:59
[skill_bg]
type=graphic
width=56
height=72
layer=toplevel_v2_parent_suboverlay_hiscore_skill_button
graphic=rs3_parent_side_tab_unselected
colour=0xffffff
clickmask=no

// 1419:60
[com_60]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_hiscore_skill_button
graphic=rs3_highscores_sidetab_skills_icon
colour=0xffffff
clickmask=no

// 1419:61
[toplevel_v2_parent_suboverlay_hiscore_activity_button]
type=layer
y=144
height=72
widthmode=minus
layer=toplevel_v2_parent_suboverlay_hiscore_navigation_panel
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script8805
onop=script7824(2)
onmouserepeat=script8799("Activities Hiscores", event_com, -1)

// 1419:62
[activity_bg]
type=graphic
width=56
height=72
layer=toplevel_v2_parent_suboverlay_hiscore_activity_button
graphic=rs3_parent_side_tab_unselected
colour=0xffffff
clickmask=no

// 1419:63
[com_63]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_hiscore_activity_button
graphic=rs3_highscores_sidetab_activity_icon
colour=0xffffff
clickmask=no

// 1419:64
[positive_3x1_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_3x1_button
onload=script7062(event_com)

// 1419:65
[positive_3x1_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=positive_3x1_button
onload=script7063(event_com)

// 1419:66
[positive_3x1_button_text_1]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_3x1_button_text_layer
textfont=cinzel_13pt_bold
text=View Hiscores Webpage
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script7232(event_com)

// 1419:67
[positive_3x1_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
layer=positive_3x1_button
onload=script7066(event_com)

// 1419:68
[positive_3x1_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=positive_3x1_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1419:69
[positive_3x1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=positive_3x1_button
onload=script7069(event_com)

// 1419:70
[positive_3x1_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
layer=positive_3x1_button

// 1419:71
[com_71]
type=text
width=150
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_table_poll_failed
textfont=cinzel_13pt_bold
text=Hiscores are being calculated. Please be patient.
textalignh=1
textalignv=1
textshadow=yes

// 1419:72
[toplevel_v2_parent_suboverlay_summer16_header_layer]
type=layer
height=20
widthmode=minus
layer=toplevel_v2_parent_suboverlay_hiscore_content_summer16

// 1419:73
[toplevel_v2_parent_suboverlay_summer16_header_col1_layer]
type=layer
x=12
width=315
heightmode=minus
layer=toplevel_v2_parent_suboverlay_summer16_header_layer

// 1419:74
[toplevel_v2_parent_suboverlay_summer16_header_col2_layer]
type=layer
x=339
width=315
heightmode=minus
layer=toplevel_v2_parent_suboverlay_summer16_header_layer

// 1419:75
[toplevel_v2_parent_suboverlay_summer16_content_layer]
type=layer
y=20
height=20
widthmode=minus
heightmode=minus
layer=toplevel_v2_parent_suboverlay_hiscore_content_summer16

// 1419:76
[com_76]
type=text
x=12
width=60
heightmode=minus
layer=toplevel_v2_parent_suboverlay_summer16_header_col1_layer
textfont=museo_sans_13pt_regular
text=Skill
textalignv=1
textshadow=yes
colour=0xffcb05

// 1419:77
[com_77]
type=text
x=72
width=100
heightmode=minus
layer=toplevel_v2_parent_suboverlay_summer16_header_col1_layer
textfont=museo_sans_13pt_regular
text=Rank
textalignv=1
textshadow=yes
colour=0xffcb05

// 1419:78
[com_78]
type=text
x=5
width=132
heightmode=minus
xmode=abs_right
layer=toplevel_v2_parent_suboverlay_summer16_header_col1_layer
textfont=museo_sans_13pt_regular
text=XP
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05

// 1419:79
[com_79]
type=text
x=12
width=60
heightmode=minus
layer=toplevel_v2_parent_suboverlay_summer16_header_col2_layer
textfont=museo_sans_13pt_regular
text=Skill
textalignv=1
textshadow=yes
colour=0xffcb05

// 1419:80
[com_80]
type=text
x=72
width=100
heightmode=minus
layer=toplevel_v2_parent_suboverlay_summer16_header_col2_layer
textfont=museo_sans_13pt_regular
text=Rank
textalignv=1
textshadow=yes
colour=0xffcb05

// 1419:81
[com_81]
type=text
x=5
width=132
heightmode=minus
xmode=abs_right
layer=toplevel_v2_parent_suboverlay_summer16_header_col2_layer
textfont=museo_sans_13pt_regular
text=XP
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05

// 1419:82
[positive_3x1_button_1]
type=layer
y=-3
width=50
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=toplevel_v2_parent_suboverlay_summer16_button

// 1419:83
[positive_3x1_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_3x1_button_1
onload=script7062(event_com)

// 1419:84
[positive_3x1_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=positive_3x1_button_1
onload=script7063(event_com)

// 1419:85
[positive_3x1_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=positive_3x1_button_1
onload=script7066(event_com)

// 1419:86
[positive_3x1_button_active_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=positive_3x1_button_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1419:87
[positive_3x1_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=positive_3x1_button_1
onload=script7069(event_com)

// 1419:88
[positive_3x1_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=positive_3x1_button_1

// 1419:89
[positive_3x1_button_text_2]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_3x1_button_text_layer_1
textfont=cinzel_13pt_bold
text=View Summer Hiscores
textalignh=1
textalignv=1
colour=0xaed0e0
onload=script7232(event_com)

// 1419:90
[bottomleft_corner]
type=graphic
width=4
height=4
ymode=abs_bottom
layer=toplevel_v2_parent_suboverlay_hiscore_content_bg
graphic=rs3_parent_side_tab_bottom_corner
colour=0xffffff
clickmask=no

