// 1458:0
[mouseoverlayer]
type=layer
widthmode=minus
heightmode=minus
layer=prayer_and_glow_layer

// 1458:1
[listeners_and_timers]
type=layer
width=1
height=1

// 1458:2
[button_listener]
type=layer
width=1
height=1
layer=listeners_and_timers
onvartransmit=script11996(toplevel_v2_prayer:prayer_filter_layer, toplevel_v2_prayer:prayer_filter_button_build_icon, toplevel_v2_prayer:prayer_filter_button_click_icon, prayer_draw_prayers_normal)
onvartransmitlist=prayer_perm1,prayer_perm1

// 1458:3
[redraw_listener]
type=layer
width=1
height=1
layer=listeners_and_timers
onvartransmit=prayer_load_buttons(toplevel_v2_prayer:prayer_buttons)
onvartransmitlist=prayer_perm1

// 1458:4
[main_layer]
type=layer
widthmode=minus
heightmode=minus
onvarctransmit=prayer_load_buttons(toplevel_v2_prayer:prayer_buttons)
onvarctransmitlist=prayer_custom_view_client

// 1458:5
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 1458:6
[content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 1458:7
[prayer_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 1458:8
[prayer_and_glow_layer]
type=layer
widthmode=minus
layer=content_layer

// 1458:9
[stats_layer]
type=layer
y=97
height=11
widthmode=minus
layer=content_layer
hide=yes
onload=script5802(event_com)
onvartransmit=script5802(event_com)
onvartransmitlist=combatv2_prayer_melee_attack_modifier,combatv2_prayer_melee_strength_modifier,combatv2_prayer_range_attack_modifier,combatv2_prayer_range_strength_modifier,combatv2_prayer_magic_attack_modifier,combatv2_prayer_magic_strength_modifier,combatv2_prayer_defence_modifier,combatv2_player_effects_5

// 1458:10
[stats_info_layer]
type=layer
widthmode=minus
heightmode=minus
layer=stats_layer

// 1458:11
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
layer=stats_info_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1458:12
[stats_no_info_layer]
type=layer
widthmode=minus
heightmode=minus
layer=stats_info_layer

// 1458:13
[stats_info_title_layer]
type=layer
x=4
y=4
width=9830
widthmode=proportion
heightmode=minus
layer=stats_info_layer

// 1458:14
[stats_info_info_layer]
type=layer
x=4
y=4
width=4915
widthmode=proportion
heightmode=minus
xmode=abs_right
layer=stats_info_layer

// 1458:15
[stats_divider]
type=line
x=2457
heightmode=minus
xmode=proportion_centre
layer=stats_info_layer
colour=0x41555f

// 1458:16
[active_only_layer]
type=layer
y=48
height=48
widthmode=minus
xmode=abs_centre
layer=content_layer

// 1458:17
[auxiliary_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=active_only_layer

// 1458:18
[auxiliary_button_layer]
type=layer
widthmode=minus
heightmode=minus
layer=auxiliary_layer
onload=script12081(event_com, 95551505, toplevel_v2_prayer:auxiliary_button, 37670, toplevel_v2_prayer:auxiliary_title_text)

// 1458:19
[auxiliary_button]
type=button
widthmode=minus
heightmode=minus
layer=auxiliary_button_layer
noclickthrough=yes
stylesheet=button_cornered_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=stylesheet_set(event_com)

// 1458:20
[scrollbar_layer]
type=layer
y=2
width=16
height=24
heightmode=minus
xmode=abs_right
layer=content_layer

// 1458:21
[bottom_filter_quick_prayers_layer]
type=layer
height=48
widthmode=minus
ymode=abs_bottom
layer=content_layer

// 1458:22
[bottom_blue_fill]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=bottom_filter_quick_prayers_layer
hide=yes
colour=0x1d2b32
fill=yes
trans=25

// 1458:23
[bottom_background_panel_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bottom_filter_quick_prayers_layer
hide=yes
onload=script7767(event_com, rs3_content_container_active, 255)

// 1458:24
[quick_prayer_layer]
type=layer
x=4
y=4
width=105
height=8
heightmode=minus
ymode=abs_bottom
layer=bottom_filter_quick_prayers_layer

// 1458:25
[quick_prayer_button_layer]
type=layer
widthmode=minus
heightmode=minus
layer=quick_prayer_layer
onload=script11996(toplevel_v2_prayer:quick_prayer_layer, toplevel_v2_prayer:quick_prayer_button_build_layer, toplevel_v2_prayer:quick_prayer_button_click_layer, prayer_draw_prayers_normal)
onvartransmit=script11990(event_com)
onvartransmitlist=prayer_perm1

// 1458:26
[quick_prayer_button_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=quick_prayer_button_layer

// 1458:27
[quick_prayer_button_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=quick_prayer_button_layer
transmitop2=yes
op2=Select quick-prayers

// 1458:28
[quick_prayer_button_title]
type=text
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=quick_prayer_button_layer
textfont=museo_sans_11pt_regular
text=Quick Prayers
textalignh=1
textalignv=1
textshadow=yes

// 1458:29
[quick_prayer_icon]
type=graphic
x=4
width=20
height=20
ymode=abs_centre
layer=quick_prayer_button_layer
graphic=rs3_hud_combat_bar_icon_prayer
colour=0xffffff
clickmask=no

// 1458:30
[prayer_filter_layer]
type=layer
x=4
y=4
width=105
height=8
heightmode=minus
xmode=abs_right
layer=bottom_filter_quick_prayers_layer

// 1458:31
[prayer_filter_button_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prayer_filter_layer
onload=script11996(toplevel_v2_prayer:prayer_filter_layer, toplevel_v2_prayer:prayer_filter_button_build_icon, toplevel_v2_prayer:prayer_filter_button_click_icon, prayer_draw_prayers_normal)

// 1458:32
[prayer_filter_button_build_icon]
type=layer
widthmode=minus
heightmode=minus
layer=prayer_filter_button_layer

// 1458:33
[prayer_filter_button_click_icon]
type=layer
widthmode=minus
heightmode=minus
layer=prayer_filter_button_layer
transmitop1=yes
op1=Filter
onop=script11995(95551520, toplevel_v2_prayer:prayer_filter_button_click_icon)

// 1458:34
[filter_button_title]
type=text
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=prayer_filter_button_layer
textfont=museo_sans_11pt_regular
text=Filter
textalignh=1
textalignv=1
textshadow=yes
onload=script12000(toplevel_v2_prayer:filter_button_title, toplevel_v2_prayer:filter_icon, toplevel_v2_prayer:prayer_filter_layer, 0)

// 1458:35
[filter_icon]
type=graphic
width=24
height=24
ymode=abs_centre
layer=prayer_filter_button_layer
graphic="rs3_icon_wardrobe_filter_24px,3"
alpha=yes
colour=0xffffff
clickmask=no

// 1458:36
[header_layer]
type=layer
height=48
widthmode=minus
layer=content_layer

// 1458:37
[prayer_none_active]
type=layer
width=217
layer=content_layer

// 1458:38
[tooltips]
type=layer
width=1
height=1
layer=content_layer

// 1458:39
[glow]
type=layer
widthmode=minus
heightmode=minus
layer=prayer_and_glow_layer

// 1458:40
[prayer_buttons]
type=layer
widthmode=minus
heightmode=minus
layer=prayer_and_glow_layer
onvartransmit=prayer_load_buttons(toplevel_v2_prayer:prayer_buttons)
ontimer=script1712
onvartransmitlist=prayer_perm1,prayer_perm1

// 1458:41
[customise]
type=layer
widthmode=minus
heightmode=minus
layer=prayer_and_glow_layer
hide=yes

// 1458:42
[header_button_layer]
type=layer
widthmode=minus
heightmode=minus
layer=header_layer
onload=script12008(event_com, toplevel_v2_prayer:header_layer, toplevel_v2_prayer:header_build_layer, toplevel_v2_prayer:header_click_layer, prayer_draw_prayers_normal)
onvartransmit=script12008(event_com, toplevel_v2_prayer:header_layer, toplevel_v2_prayer:header_build_layer, toplevel_v2_prayer:header_click_layer, prayer_draw_prayers_normal)
onvartransmitlist=prayer_perm1,prayer_perm1

// 1458:43
[header_blue_fill]
type=rectangle
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=header_button_layer
hide=yes
colour=0x1d2b32
fill=yes
trans=25

// 1458:44
[prayer_header_icon]
type=graphic
x=5
width=32
height=32
ymode=abs_centre
layer=header_graphic_layer
graphic="aif_topstat_icon,1"
colour=0xffffff
clickmask=no

// 1458:45
[header_tooltip]
type=layer
width=36
height=48
widthmode=minus
layer=header_button_layer

// 1458:46
[ticker_tooltip]
type=layer
width=37
heightmode=minus
xmode=abs_right
layer=header_button_layer

// 1458:47
[header_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=header_button_layer

// 1458:48
[header_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=header_button_layer
transmitop1=yes
op1=Show Active-Only
onop=script6495(event_com, toplevel_v2_prayer:stats_layer, toplevel_v2_prayer:stats_info_layer)

// 1458:49
[header_graphic_layer]
type=layer
width=37
heightmode=minus
layer=header_button_layer

// 1458:50
[header_title_text]
type=text
width=74
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=header_button_layer
textfont=cinzel_13pt_bold
text=Prayers
textalignh=1
textalignv=1
textshadow=yes

// 1458:51
[ticker_layer]
type=layer
width=37
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=header_button_layer

// 1458:52
[prayer_ticker]
type=text
width=6
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ticker_layer
textfont=museo_sans_11pt_regular
text=999/999
textlineheight=20
textalignh=1
textalignv=1
textshadow=yes
onvartransmit=prayer_ticker(event_com, 0)
onstattransmit=prayer_ticker(event_com, 0)
onvartransmitlist=prayer_points_var,combatv2_player_effects_5
onstattransmitlist=prayer

// 1458:53
[auxiliary_title_text]
type=text
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=auxiliary_button_layer
textfont=notosans_14
text=Activate Quick Prayers
textalignh=1
textalignv=1
textshadow=yes

