// 1679:0
[droplog_build_layer]
type=layer
height=33
widthmode=minus
heightmode=minus
layer=content_layer

// 1679:1
[main_layer]
type=layer
widthmode=minus
heightmode=minus

// 1679:2
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer
onload=script8410(29)

// 1679:3
[content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=main_layer
onload=script9884(1)
onvartransmit=script9884(1)
oninvtransmit=script9884(1)
onvartransmitlist=telemetry_setup
oninvtransmitlist=droplog

// 1679:4
[droplog_options_layer]
type=layer
height=33
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=content_layer

// 1679:5
[separator]
type=layer
height=2
widthmode=minus
layer=droplog_options_layer
onload=script11741(event_com)

// 1679:6
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 1679:7
[build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=droplog_build_layer

// 1679:8
[scrollbar_layer]
type=layer
width=16
heightmode=minus
xmode=abs_right
layer=droplog_build_layer
hide=yes

// 1679:9
[reset_button]
type=layer
x=4
y=4
width=24
height=24
xmode=abs_right
ymode=abs_bottom
layer=droplog_options_layer
noclickthrough=yes
onmouserepeat=script3876("Clear log", event_com, event_comsubid)

// 1679:10
[reset_button_click]
type=button
widthmode=minus
heightmode=minus
layer=reset_button
noclickthrough=yes
sprite.graphic=button_icon_negative
stylesheet=button_icon_negative
transmitop1=yes
op1=Reset
onload=stylesheet_set(event_com)

// 1679:11
[reset_button_graphic]
type=graphic
width=20
height=20
xmode=abs_centre
ymode=abs_centre
layer=reset_button
graphic="rs3_icon_stopwatch_reset,0"
colour=0xffffff
clickmask=no

