// 1735:0
[main_layer]
type=layer
widthmode=minus
heightmode=minus
onload=script12336(event_com)

// 1735:1
[dropdown_holder_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer

// 1735:2
[dropdown_build_layer]
type=layer
widthmode=minus
heightmode=minus
layer=dropdown_holder_layer

// 1735:3
[dropdown_click_layer]
type=layer
widthmode=minus
heightmode=minus
layer=dropdown_holder_layer

