// 1451:0
[header_layer]
type=layer
y=4
width=8
height=40
widthmode=minus
xmode=abs_centre
layer=content_layer

// 1451:1
[name_text]
type=text
x=44
width=118
height=20
widthmode=minus
layer=header_layer
textfont=notosans_14
text=Name
textalignv=1
textshadow=yes
colour=0xf0be79

// 1451:2
[type_text]
type=text
x=44
width=168
height=20
widthmode=minus
ymode=abs_bottom
layer=header_layer
textfont=notosans_12
text=Type
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 1451:3
[cooldown_text]
type=text
x=24
width=46
height=20
xmode=abs_right
layer=header_layer
textfont=notosans_14
text=1.8s
textlineheight=14
textalignh=2
textalignv=1
textshadow=yes
colour=0xf0be79

// 1451:4
[target_type_text]
type=text
x=24
width=96
height=20
xmode=abs_right
ymode=abs_bottom
layer=header_layer
textfont=notosans_12
text=Target Type
textlineheight=14
textalignh=2
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 1451:5
[cooldown_background]
type=rectangle
x=1
y=1
width=18
height=18
xmode=abs_right
layer=header_layer
hide=yes
colour=0xffffff
fill=yes

// 1451:6
[cooldown_graphic]
type=graphic
width=20
height=20
xmode=abs_right
layer=header_layer
noclickthrough=yes
graphic=rs3_icon_sand_timer
colour=0xffffff
clickmask=no

// 1451:7
[target_type_graphic]
type=graphic
width=20
height=20
xmode=abs_right
ymode=abs_bottom
layer=header_layer
noclickthrough=yes
graphic=ability_icon_tooltip_target_single
colour=0xffffff
clickmask=no

// 1451:8
[icon]
type=graphic
width=40
height=40
ymode=abs_centre
layer=header_layer
colour=0xffffff
clickmask=no

// 1451:9
[body_layer]
type=layer
y=54
width=8
height=46
widthmode=minus
xmode=abs_centre
layer=content_layer

// 1451:10
[desc_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=body_layer
noclickthrough=yes
textfont=notosans_12
textshadow=yes
colour=0xe3d7cf

// 1451:11
[separator_1]
type=graphic
y=48
width=8
height=2
widthmode=minus
xmode=abs_centre
layer=content_layer
noclickthrough=yes
graphic=aif_overlay_frame_thin_separator
tiling=yes
colour=0xffffff
clickmask=no

// 1451:12
[tooltip_layer]
type=layer
y=25
height=25
widthmode=minus
heightmode=minus
layer=main_layer

// 1451:13
[background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tooltip_layer

// 1451:14
[com_14]
type=graphic
width=10
height=10
xmode=abs_right
layer=background_layer
graphic="aif_overlay_frame_gold_corner_1,1"
colour=0xffffff
clickmask=no

// 1451:15
[footer_layer]
type=layer
y=3
width=8
height=50
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=content_layer

// 1451:16
[req_layer_1]
type=layer
x=-6553
width=50
height=50
xmode=proportion_centre
ymode=abs_bottom
layer=footer_layer

// 1451:17
[req_layer_2]
type=layer
x=-3276
width=50
height=50
xmode=proportion_centre
ymode=abs_bottom
layer=footer_layer

// 1451:18
[req_layer_3]
type=layer
width=50
height=50
xmode=abs_centre
ymode=abs_bottom
layer=footer_layer

// 1451:19
[req_layer_4]
type=layer
x=3276
width=50
height=50
xmode=proportion_centre
ymode=abs_bottom
layer=footer_layer

// 1451:20
[req_layer_5]
type=layer
x=6553
width=50
height=50
xmode=proportion_centre
ymode=abs_bottom
layer=footer_layer

// 1451:21
[separator_2]
type=graphic
y=45
height=2
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=footer_layer
noclickthrough=yes
graphic=aif_overlay_frame_thin_separator
tiling=yes
colour=0xffffff
clickmask=no

// 1451:22
[com_22]
type=graphic
width=10
height=20
heightmode=minus
ymode=abs_centre
layer=background_layer
graphic="aif_overlay_frame_gold_corner_1,2"
hflip=yes
colour=0xffffff
clickmask=no

// 1451:23
[com_23]
type=graphic
width=10
height=10
ymode=abs_bottom
layer=background_layer
graphic="aif_overlay_frame_gold_corner_1,1"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1451:24
[com_24]
type=graphic
width=18
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=background_layer
graphic="aif_overlay_frame_gold_corner_1,0"
vflip=yes
colour=0xffffff
clickmask=no

// 1451:25
[com_25]
type=graphic
width=10
height=10
layer=background_layer
graphic="aif_overlay_frame_gold_corner_1,1"
hflip=yes
colour=0xffffff
clickmask=no

// 1451:26
[com_26]
type=graphic
width=18
height=10
widthmode=minus
xmode=abs_centre
layer=background_layer
graphic="aif_overlay_frame_gold_corner_1,0"
colour=0xffffff
clickmask=no

// 1451:27
[on_actionbar_layer]
type=layer
width=2
height=25
widthmode=minus
layer=main_layer
hide=yes

// 1451:28
[com_28]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_bottom
layer=background_layer
graphic="aif_overlay_frame_gold_corner_1,1"
vflip=yes
colour=0xffffff
clickmask=no

// 1451:29
[tooltip_background]
type=rectangle
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=on_actionbar_layer
colour=0x000000
fill=yes
trans=50

// 1451:30
[com_30]
type=graphic
width=10
height=20
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=background_layer
graphic="aif_overlay_frame_gold_corner_1,2"
colour=0xffffff
clickmask=no

// 1451:31
[background_rect]
type=rectangle
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tooltip_layer
colour=0x0f0e0c
fill=yes

// 1451:32
[content_layer]
type=layer
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tooltip_layer

// 1451:33
[main_layer]
type=layer
width=342
height=190

// 1451:34
[actionbar_text]
type=text
width=5
height=5
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=on_actionbar_layer
textfont=p11_full
text=This ability is on your action bar.
textalignh=1
textalignv=1
textshadow=yes
colour=0xb37a2f

// 1451:35
[req_box_1]
type=rectangle
width=21
height=21
xmode=abs_centre
ymode=abs_centre
layer=req_layer_1
colour=0x959595

// 1451:36
[req_gradient_1]
type=graphic
width=21
height=21
xmode=abs_centre
ymode=abs_centre
layer=req_layer_1
graphic=rand_framea_centre_gradient_alpha
alpha=yes
trans=50
colour=0xffffff
clickmask=no

// 1451:37
[req_icon_1]
type=graphic
width=25
height=25
xmode=abs_centre
ymode=abs_centre
layer=req_layer_1
colour=0xffffff
clickmask=no

// 1451:38
[req_text_1]
type=text
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=req_layer_1
textfont=notosans_12
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 1451:39
[req_box_2]
type=rectangle
width=21
height=21
xmode=abs_centre
ymode=abs_centre
layer=req_layer_2
colour=0x959595

// 1451:40
[req_gradient_2]
type=graphic
width=21
height=21
xmode=abs_centre
ymode=abs_centre
layer=req_layer_2
graphic=rand_framea_centre_gradient_alpha
alpha=yes
trans=50
colour=0xffffff
clickmask=no

// 1451:41
[req_icon_2]
type=graphic
width=25
height=25
xmode=abs_centre
ymode=abs_centre
layer=req_layer_2
colour=0xffffff
clickmask=no

// 1451:42
[req_text_2]
type=text
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=req_layer_2
textfont=notosans_12
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 1451:43
[req_box_3]
type=rectangle
width=21
height=21
xmode=abs_centre
ymode=abs_centre
layer=req_layer_3
colour=0x959595

// 1451:44
[req_gradient_3]
type=graphic
width=21
height=21
xmode=abs_centre
ymode=abs_centre
layer=req_layer_3
graphic=rand_framea_centre_gradient_alpha
alpha=yes
trans=50
colour=0xffffff
clickmask=no

// 1451:45
[req_icon_3]
type=graphic
width=25
height=25
xmode=abs_centre
ymode=abs_centre
layer=req_layer_3
colour=0xffffff
clickmask=no

// 1451:46
[req_text_3]
type=text
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=req_layer_3
textfont=notosans_12
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 1451:47
[req_box_4]
type=rectangle
width=21
height=21
xmode=abs_centre
ymode=abs_centre
layer=req_layer_4
colour=0x959595

// 1451:48
[req_gradient_4]
type=graphic
width=21
height=21
xmode=abs_centre
ymode=abs_centre
layer=req_layer_4
graphic=rand_framea_centre_gradient_alpha
alpha=yes
trans=50
colour=0xffffff
clickmask=no

// 1451:49
[req_icon_4]
type=graphic
width=25
height=25
xmode=abs_centre
ymode=abs_centre
layer=req_layer_4
colour=0xffffff
clickmask=no

// 1451:50
[req_text_4]
type=text
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=req_layer_4
textfont=notosans_12
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 1451:51
[req_box_5]
type=rectangle
width=21
height=21
xmode=abs_centre
ymode=abs_centre
layer=req_layer_5
colour=0x959595

// 1451:52
[req_gradient_5]
type=graphic
width=21
height=21
xmode=abs_centre
ymode=abs_centre
layer=req_layer_5
graphic=rand_framea_centre_gradient_alpha
alpha=yes
trans=50
colour=0xffffff
clickmask=no

// 1451:53
[req_icon_5]
type=graphic
width=25
height=25
xmode=abs_centre
ymode=abs_centre
layer=req_layer_5
colour=0xffffff
clickmask=no

// 1451:54
[req_text_5]
type=text
height=15
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=req_layer_5
textfont=notosans_12
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xe3d7cf

// 1451:55
[com_55]
type=graphic
width=10
height=10
xmode=abs_right
layer=on_actionbar_layer
graphic="aif_overlay_frame_gold_corner_1,1"
colour=0xffffff
clickmask=no

// 1451:56
[com_56]
type=graphic
width=10
height=10
layer=on_actionbar_layer
graphic="aif_overlay_frame_gold_corner_1,1"
hflip=yes
colour=0xffffff
clickmask=no

// 1451:57
[com_57]
type=graphic
width=10
height=10
ymode=abs_bottom
layer=on_actionbar_layer
graphic="aif_overlay_frame_gold_corner_1,1"
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1451:58
[com_58]
type=graphic
width=10
height=10
xmode=abs_right
ymode=abs_bottom
layer=on_actionbar_layer
graphic="aif_overlay_frame_gold_corner_1,1"
vflip=yes
colour=0xffffff
clickmask=no

// 1451:59
[com_59]
type=graphic
width=18
height=10
widthmode=minus
xmode=abs_centre
layer=on_actionbar_layer
graphic="aif_overlay_frame_gold_corner_1,0"
colour=0xffffff
clickmask=no

// 1451:60
[com_60]
type=graphic
width=18
height=10
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=on_actionbar_layer
graphic="aif_overlay_frame_gold_corner_1,0"
vflip=yes
colour=0xffffff
clickmask=no

// 1451:61
[com_61]
type=graphic
width=10
height=20
heightmode=minus
ymode=abs_centre
layer=on_actionbar_layer
graphic="aif_overlay_frame_gold_corner_1,2"
hflip=yes
colour=0xffffff
clickmask=no

// 1451:62
[com_62]
type=graphic
width=10
height=20
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=on_actionbar_layer
graphic="aif_overlay_frame_gold_corner_1,2"
colour=0xffffff
clickmask=no

