// 1837:0
[ragdoll_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ragdoll_layer
onload=script32(toplevel_v2_ragdoll_store_5:ragdoll_layer, toplevel_v2_ragdoll_store_5:ragdoll_backing_layer, toplevel_v2_ragdoll_store_5:ragdoll_spotlight_layer)

// 1837:1
[ragdoll_backing_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ragdoll_background_layer

// 1837:2
[ragdoll_spotlight_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ragdoll_background_layer

// 1837:3
[ragdoll_layer]
type=layer
widthmode=minus
heightmode=minus

// 1837:4
[ragdoll_loading_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=ragdoll_layer
onload=spinner_create(event_com, 2, -1)

// 1837:5
[ragdoll_model]
type=model
width=166
height=291
xmode=abs_centre
ymode=abs_centre
layer=ragdoll_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1837:6
[ragdoll_drag_layer]
type=layer
width=166
height=291
xmode=abs_centre
ymode=abs_centre
layer=ragdoll_layer
dragdepth=1
onload=script10769(event_com, toplevel_v2_ragdoll_store_5:ragdoll_model)

