// 1490:0
[swipe_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe
hide=yes
noclickthrough=yes

// 1490:1
[buff_0]
type=layer
width=20
height=20
layer=size_wrapper

// 1490:2
[buff_1]
type=layer
x=22
width=20
height=20
layer=size_wrapper

// 1490:3
[buff_2]
type=layer
x=44
width=20
height=20
layer=size_wrapper

// 1490:4
[buff_3]
type=layer
x=66
width=20
height=20
layer=size_wrapper

// 1490:5
[buff_4]
type=layer
x=88
width=20
height=20
layer=size_wrapper

// 1490:6
[buff_5]
type=layer
x=110
width=20
height=20
layer=size_wrapper

// 1490:7
[buff_6]
type=layer
y=22
width=20
height=20
layer=size_wrapper

// 1490:8
[buff_7]
type=layer
x=22
y=22
width=20
height=20
layer=size_wrapper

// 1490:9
[buff_8]
type=layer
x=44
y=22
width=20
height=20
layer=size_wrapper

// 1490:10
[buff_9]
type=layer
x=66
y=22
width=20
height=20
layer=size_wrapper

// 1490:11
[buff_10]
type=layer
x=88
y=22
width=20
height=20
layer=size_wrapper

// 1490:12
[buff_11]
type=layer
x=110
y=22
width=20
height=20
layer=size_wrapper

// 1490:13
[universe]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script12010
onvartransmit=script12010
onvartransmitlist=toplevel_v2_general_varp

// 1490:14
[visible_info]
type=layer
height=92
widthmode=minus
layer=universe
onvartransmit=script85
onvartransmitlist=combatv2_target_effects_trigger

// 1490:15
[ops]
type=layer
widthmode=minus
heightmode=minus
layer=swipe_layer
transmitop1=yes
transmitop2=yes
op1=Cycle Target Forwards
op2=Cycle Target Backwards

// 1490:16
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=npc_level_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1490:17
[level]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=npc_level_layer
textfont=museo_sans_11pt_regular
text=N/A
textalignh=1
textalignv=1
colour=0x6ec265
onload=script14459("Combat Level", event_com, event_comsubid)

// 1490:18
[info_holder_active_1]
type=layer
x=1
y=1
width=2
height=2
widthmode=minus
heightmode=minus
layer=target_health_bar_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1490:19
[background_layer]
type=layer
y=5
height=33
widthmode=minus
layer=visible_info

// 1490:20
[contents]
type=layer
widthmode=minus
heightmode=minus
layer=visible_info

// 1490:21
[name]
type=text
x=18
y=7
width=90
height=17
widthmode=minus
layer=contents
textfont=museo_sans_11pt_regular
text=Tap to find target
textalignh=1
textalignv=1
textshadow=yes
maxlines=1

// 1490:22
[weakness_container]
type=layer
x=38
y=7
width=20
height=20
xmode=abs_right
layer=contents

// 1490:23
[npc_level_layer]
type=layer
width=34
height=20
xmode=abs_right
layer=contents

// 1490:24
[probar_actual_health_layer]
type=layer
width=16384
widthmode=proportion
heightmode=minus
layer=probar_fake_layer

// 1490:25
[background]
type=layer
widthmode=minus
heightmode=minus
layer=background_layer

// 1490:26
[border]
type=layer
widthmode=minus
heightmode=minus
layer=background_layer

// 1490:27
[weakness]
type=graphic
widthmode=minus
heightmode=minus
layer=weakness_container
graphic=aif_combat_icon
colour=0xffffff
clickmask=no

// 1490:28
[hitchance_layer]
type=layer
y=23
width=34
height=20
xmode=abs_right
layer=contents

// 1490:29
[docking_padlock]
type=graphic
width=16
height=16
layer=contents
graphic=hud_combat_btn_locked
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Combat Target
op1=Undock
onmouseover=script3286(event_com)
onmouseleave=script3363(event_com)
onvartransmit=script376(event_com, toplevel_v2_target_info:universe)
onop=script375
onvartransmitlist=toplevel_v2_general_varp

// 1490:30
[target_health_bar_layer]
type=layer
y=30
width=128
height=15
xmode=abs_centre
layer=contents

// 1490:31
[buffs]
type=layer
y=46
height=44
widthmode=minus
xmode=abs_centre
layer=contents

// 1490:32
[size_wrapper]
type=layer
width=130
heightmode=minus
xmode=abs_centre
layer=buffs

// 1490:33
[probar_fake_layer]
type=layer
x=3
y=3
width=6
height=8
widthmode=minus
layer=target_health_bar_layer

// 1490:34
[entity_health_left]
type=text
y=-1
widthmode=minus
heightmode=minus
layer=target_health_bar_layer
textfont=museo_sans_11pt_regular
text=N/A
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1490:35
[com_35]
type=graphic
height=8
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=probar_actual_health_layer
graphic="aif_probar_green_target_frnt_1,1"
colour=0xffffff
clickmask=no

// 1490:36
[com_36]
type=graphic
width=5
height=8
ymode=abs_centre
layer=probar_actual_health_layer
graphic="aif_probar_green_target_frnt_1,0"
colour=0xffffff
clickmask=no

// 1490:37
[com_37]
type=graphic
width=5
height=8
xmode=abs_right
ymode=abs_centre
layer=probar_actual_health_layer
graphic="aif_probar_green_target_frnt_1,2"
colour=0xffffff
clickmask=no

// 1490:38
[graphic_0]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_0
hide=yes
colour=0xffffff
clickmask=no

// 1490:39
[text_0]
type=text
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_0
textfont=notosans_11
textalignv=2
textshadow=yes

// 1490:40
[rect_0]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_0
hide=yes
colour=0x5a9619

// 1490:41
[graphic_1]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_1
hide=yes
colour=0xffffff
clickmask=no

// 1490:42
[text_1]
type=text
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_1
textfont=notosans_11
textalignv=2
textshadow=yes

// 1490:43
[rect_1]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_1
hide=yes
colour=0x5a9619

// 1490:44
[graphic_2]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_2
hide=yes
colour=0xffffff
clickmask=no

// 1490:45
[text_2]
type=text
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_2
textfont=notosans_11
textalignv=2
textshadow=yes

// 1490:46
[rect_2]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_2
hide=yes
colour=0x5a9619

// 1490:47
[graphic_3]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_3
hide=yes
colour=0xffffff
clickmask=no

// 1490:48
[text_3]
type=text
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_3
textfont=notosans_11
textalignv=2
textshadow=yes

// 1490:49
[rect_3]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_3
hide=yes
colour=0x5a9619

// 1490:50
[graphic_4]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_4
hide=yes
colour=0xffffff
clickmask=no

// 1490:51
[text_4]
type=text
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_4
textfont=notosans_11
textalignv=2
textshadow=yes

// 1490:52
[rect_4]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_4
hide=yes
colour=0x5a9619

// 1490:53
[graphic_5]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_5
hide=yes
colour=0xffffff
clickmask=no

// 1490:54
[text_5]
type=text
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_5
textfont=notosans_11
textalignv=2
textshadow=yes

// 1490:55
[rect_5]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_5
hide=yes
colour=0x5a9619

// 1490:56
[graphic_6]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_6
hide=yes
colour=0xffffff
clickmask=no

// 1490:57
[text_6]
type=text
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_6
textfont=notosans_11
textalignv=2
textshadow=yes

// 1490:58
[rect_6]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_6
hide=yes
colour=0x5a9619

// 1490:59
[graphic_7]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_7
hide=yes
colour=0xffffff
clickmask=no

// 1490:60
[text_7]
type=text
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_7
textfont=notosans_11
textalignv=2
textshadow=yes

// 1490:61
[rect_7]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_7
hide=yes
colour=0x5a9619

// 1490:62
[graphic_8]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_8
hide=yes
colour=0xffffff
clickmask=no

// 1490:63
[text_8]
type=text
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_8
textfont=notosans_11
textalignv=2
textshadow=yes

// 1490:64
[rect_8]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_8
hide=yes
colour=0x5a9619

// 1490:65
[graphic_9]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_9
hide=yes
colour=0xffffff
clickmask=no

// 1490:66
[text_9]
type=text
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_9
textfont=notosans_11
textalignv=2
textshadow=yes

// 1490:67
[rect_9]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_9
hide=yes
colour=0x5a9619

// 1490:68
[graphic_10]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_10
hide=yes
colour=0xffffff
clickmask=no

// 1490:69
[text_10]
type=text
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_10
textfont=notosans_11
textalignv=2
textshadow=yes

// 1490:70
[rect_10]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_10
hide=yes
colour=0x5a9619

// 1490:71
[graphic_11]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_11
hide=yes
colour=0xffffff
clickmask=no

// 1490:72
[text_11]
type=text
width=2
height=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_11
textfont=notosans_11
textalignv=2
textshadow=yes

// 1490:73
[rect_11]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buff_11
hide=yes
colour=0x5a9619

// 1490:74
[hitchance_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=hitchance_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1490:75
[hitchance_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hitchance_layer
textfont=museo_sans_11pt_regular
text=100%
textalignh=1
textalignv=1

