// 1488:0
[universe]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 1488:1
[info]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1488:2
[hover]
type=layer
width=765
height=503
layer=universe

// 1488:3
[hover_info]
type=layer
width=774
height=551
layer=universe

// 1488:4
[target]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=universe

