// 567:0
[buttons]
type=layer
widthmode=minus
heightmode=minus
layer=button_controls

// 567:1
[default_button_layer]
type=layer
width=150
heightmode=minus
ymode=abs_centre
layer=buttons

// 567:2
[reset_button_layer]
type=layer
width=150
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=buttons

// 567:3
[mode]
type=layer
width=150
heightmode=minus
xmode=abs_right
layer=button_controls

// 567:4
[checkbox_build]
type=layer
height=18
widthmode=minus
ymode=abs_centre
layer=mode

// 567:5
[checkbox_click]
type=layer
widthmode=minus
heightmode=minus
layer=mode
transmitop1=yes
op1=Toggle

// 567:6
[layer]
type=layer
y=5
width=742
heightmode=minus
xmode=abs_centre
onload=script9827

// 567:7
[showing_list]
type=layer
y=230
width=70
height=284
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=layer
candrop=yes

// 567:8
[ribbon_bar_title]
type=text
x=4
y=2
width=8
height=16
widthmode=minus
layer=showing_list
textfont=museo_sans_13pt_regular
text=Ribbon Bar
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 567:9
[com_9]
type=rectangle
width=1
widthmode=minus
heightmode=minus
layer=showing_list
colour=0x47525b
onload=stylesheet_set_rect(event_com, rect_outline)

// 567:10
[showing_list_content]
type=layer
y=21
width=16
height=22
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=showing_list
scrollheight=760
onload=script13839(toplevel_v2_ribbon_select:showing_build, toplevel_v2_ribbon_select:showing_click)
onvartransmit=script13839(toplevel_v2_ribbon_select:showing_build, toplevel_v2_ribbon_select:showing_click)
onvartransmitlist=toplevel_v2_general_varp,toplevel_v2_skins_varp

// 567:11
[size_display_1]
type=rectangle
width=650
height=37
layer=showing_list_content
colour=0x403c39
fill=yes
onload=stylesheet_set_rect(event_com, rect_highlight)

// 567:12
[size_display_2]
type=rectangle
y=37
width=327
height=35
layer=showing_list_content
colour=0x403c39
fill=yes
onload=stylesheet_set_rect(event_com, rect_highlight)

// 567:13
[size_display_3]
type=rectangle
y=72
width=327
height=35
layer=showing_list_content
colour=0x403c39
fill=yes
onload=stylesheet_set_rect(event_com, rect_highlight)

// 567:14
[showing_build]
type=layer
widthmode=minus
heightmode=minus
layer=showing_list_content

// 567:15
[showing_click]
type=layer
widthmode=minus
heightmode=minus
layer=showing_list_content

// 567:16
[hidden_list]
type=layer
width=70
height=220
widthmode=minus
xmode=abs_centre
layer=layer
candrop=yes

// 567:17
[button_controls]
type=layer
y=5
width=70
height=35
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=layer

// 567:18
[child_wrapper]
type=layer
height=70
widthmode=minus
heightmode=minus
layer=hidden_list

// 567:19
[parent_wrapper]
type=layer
height=60
widthmode=minus
ymode=abs_bottom
layer=hidden_list

// 567:20
[com_20]
type=rectangle
widthmode=minus
heightmode=minus
layer=child_wrapper
colour=0x47525b
onload=stylesheet_set_rect(event_com, rect_outline)

// 567:21
[action_windows_text]
type=text
x=4
y=2
width=8
height=16
widthmode=minus
layer=child_wrapper
textfont=museo_sans_13pt_regular
text=Action Windows
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 567:22
[child_layer]
type=layer
y=21
width=16
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=child_wrapper
onload=script13838(toplevel_v2_ribbon_select:child_build, toplevel_v2_ribbon_select:child_click)
onvartransmit=script13838(toplevel_v2_ribbon_select:child_build, toplevel_v2_ribbon_select:child_click)
onvartransmitlist=toplevel_v2_general_varp,toplevel_v2_skins_varp

// 567:23
[parent_build]
type=layer
widthmode=minus
heightmode=minus
layer=parent_layer

// 567:24
[parent_click]
type=layer
widthmode=minus
heightmode=minus
layer=parent_layer

// 567:25
[management_windows_text]
type=text
x=4
y=2
width=8
height=16
widthmode=minus
layer=parent_wrapper
textfont=museo_sans_13pt_regular
text=Management Windows
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 567:26
[com_26]
type=rectangle
widthmode=minus
heightmode=minus
layer=parent_wrapper
colour=0x47525b
onload=stylesheet_set_rect(event_com, rect_outline)

// 567:27
[parent_layer]
type=layer
y=21
width=16
height=21
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=parent_wrapper
onload=script13837(toplevel_v2_ribbon_select:parent_build, toplevel_v2_ribbon_select:parent_click)
onvartransmit=script13837(toplevel_v2_ribbon_select:parent_build, toplevel_v2_ribbon_select:parent_click)
onvartransmitlist=toplevel_v2_general_varp,toplevel_v2_skins_varp

// 567:28
[child_build]
type=layer
widthmode=minus
heightmode=minus
layer=child_layer

// 567:29
[default_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_button_layer
onload=script7699(event_com)

// 567:30
[child_click]
type=layer
widthmode=minus
heightmode=minus
layer=child_layer

// 567:31
[default_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_button_layer
onload=script7728(event_com)

// 567:32
[default_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_button_layer
onload=script7729(event_com)

// 567:33
[default_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_button_layer
hide=yes
onload=script8225(event_com)

// 567:34
[default_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=default_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script13861

// 567:35
[default_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_button_layer
hide=yes
onload=script8228(event_com)

// 567:36
[default_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_button_layer

// 567:37
[default_button_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=default_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Set Default Windows
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 567:38
[reset_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_layer
onload=script7699(event_com)

// 567:39
[reset_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_layer
onload=script7728(event_com)

// 567:40
[reset_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_layer
onload=script7729(event_com)

// 567:41
[reset_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_layer
hide=yes
onload=script8225(event_com)

// 567:42
[reset_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reset_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script13860

// 567:43
[reset_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_layer
hide=yes
onload=script8228(event_com)

// 567:44
[reset_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_layer

// 567:45
[reset_button_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Clear All
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

