// 70:0
[com_0]
type=graphic
width=125
height=117
layer=gold_window_content_layer
graphic="aif_player_retention_art_1,0"
colour=0xffffff
clickmask=no

// 70:1
[com_1]
type=graphic
x=-63
width=125
height=117
xmode=abs_centre
layer=gold_window_content_layer
graphic="aif_player_retention_art_1,1"
colour=0xffffff
clickmask=no

// 70:2
[com_2]
type=graphic
x=62
width=125
height=117
xmode=abs_centre
layer=gold_window_content_layer
graphic="aif_player_retention_art_1,2"
colour=0xffffff
clickmask=no

// 70:3
[com_3]
type=graphic
width=125
height=117
xmode=abs_right
layer=gold_window_content_layer
graphic="aif_player_retention_art_1,3"
colour=0xffffff
clickmask=no

// 70:4
[com_4]
type=graphic
y=117
width=125
height=117
layer=gold_window_content_layer
graphic="aif_player_retention_art_1,4"
colour=0xffffff
clickmask=no

// 70:5
[com_5]
type=graphic
x=-63
y=117
width=125
height=117
xmode=abs_centre
layer=gold_window_content_layer
graphic="aif_player_retention_art_1,5"
colour=0xffffff
clickmask=no

// 70:6
[com_6]
type=graphic
x=62
y=117
width=125
height=117
xmode=abs_centre
layer=gold_window_content_layer
graphic="aif_player_retention_art_1,6"
colour=0xffffff
clickmask=no

// 70:7
[com_7]
type=graphic
y=117
width=125
height=117
xmode=abs_right
layer=gold_window_content_layer
graphic="aif_player_retention_art_1,7"
colour=0xffffff
clickmask=no

// 70:8
[line2]
type=text
x=5
width=250
height=51
ymode=abs_bottom
layer=gold_window_content_layer
textfont=museo_sans_11pt_regular_multiline
text=Become a member today, and we'll give you ...
textalignh=1
textalignv=1
textshadow=yes

// 70:9
[line1_rect_clickable]
type=rectangle
y=180
height=41
widthmode=minus
xmode=abs_centre
layer=gold_window_content_layer
colour=0x000000
fill=yes

// 70:10
[line1]
type=text
y=176
width=480
height=32
xmode=abs_centre
layer=gold_window_content_layer
textfont=museo_sans_15pt_bold
text=?% Discount on ? Month Subscription
textalignh=1
textalignv=1
textshadow=yes
colour=0xc4c4c4

// 70:11
[expiry]
type=text
y=193
width=480
height=32
xmode=abs_centre
layer=gold_window_content_layer
textfont=museo_sans_11pt_regular_multiline
text=Offer Expires: 
textalignh=1
textalignv=1
textshadow=yes
colour=0xc4c4c4

// 70:12
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
onload=script8420(topopup_main:mainmodal_window_background, topopup_main:mainmodal_window_border, topopup_main:mainmodal_window_content, topopup_main:mainmodal_window_close_button, "Special Offer", 21218, string_1007)

// 70:13
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 70:14
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 70:15
[gold_window_content_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 70:16
[accept_button]
type=layer
x=40
y=15
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=gold_window_content_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Claim Offer")

// 70:17
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 70:18
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

