// 1506:0
[topstat_graphic_lore]
type=graphic
x=6
y=6
width=20
height=20
xmode=abs_right
layer=familiar_button
graphic="topstat_icon,3"
clickmask=no

// 1506:1
[topstat_circle_lore]
type=graphic
x=1
width=31
height=31
xmode=abs_right
ymode=abs_bottom
layer=globe_layer
graphic="aif_topstat_fill_full,3"
tiling=yes
clickmask=no
onvartransmit=script9934(event_com)
onvartransmitlist=follower_obj

// 1506:2
[topstat_lore]
type=layer
width=67
height=34
noclickthrough=yes

// 1506:3
[topstat_background_lore]
type=graphic
width=67
height=34
layer=topstat_lore
graphic=topstat_slot_full_lrg
hflip=yes
clickmask=no
onmouseover=graphic_swapper(event_com, topstat_slot_roll_empty_lrg)
onmouseleave=graphic_swapper(event_com, topstat_slot_full_lrg)

// 1506:4
[globe_layer]
type=layer
y=1
height=31
widthmode=minus
xmode=abs_right
layer=topstat_lore
onload=script9891(event_com)
onvartransmit=script8120(event_com)
onstattransmit=script8120(event_com)
onvartransmitlist=lore_points_var
onstattransmitlist=summoning

// 1506:5
[familiar_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=topstat_lore
onvartransmit=lore_head_update
onvartransmitlist=lore_npc_head,follower_obj,hati2014_base

// 1506:6
[select_leftclick_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=familiar_button
transmitop10=yes
op10=Settings
onvartransmit=lore_head_update
onvartransmitlist=lore_general_varp_1

// 1506:7
[main_ops]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=familiar_button
hide=yes

// 1506:8
[familiar_ops]
type=layer
widthmode=minus
heightmode=minus
layer=main_ops

// 1506:9
[restore_points_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
transmitop6=yes
op6=Restore Points

// 1506:10
[bob_take_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
transmitop6=yes
op6=Take BoB

// 1506:11
[bob_give_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
transmitop6=yes
op6=Give BoB

// 1506:12
[renew_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
transmitop6=yes
op6=Renew Familiar

// 1506:13
[attack_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
targetmask=npc,player
targetverb=Attack
ontargetleave=magic_leavetargetmode(topstat_lore:topstat_graphic_lore)
ontargetenter=magic_entertargetmode(topstat_lore:topstat_graphic_lore)

// 1506:14
[interact_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
transmitop6=yes
op6=Interact

// 1506:15
[spell_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops

// 1506:16
[nullspell]
type=layer
widthmode=minus
heightmode=minus
layer=spell_layer
hide=yes

// 1506:17
[lore_nullspell]
type=graphic
widthmode=minus
heightmode=minus
layer=nullspell
colour=0xffffff
clickmask=no
transmitop1=yes
opbase=Spell
op1=Cast

// 1506:18
[spell_icon]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
onload=script211(null)
onvartransmit=script211(null)
onvarcstrtransmit=script211(null)
onvartransmitlist=follower_obj
onvarcstrtransmitlist=varclientstring_2517

// 1506:19
[spell_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
transmitop1=yes
op1=Cast

// 1506:20
[bob_take_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
transmitop1=yes
op1=Take BoB

// 1506:21
[bob_give_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
transmitop1=yes
op1=Give BoB

// 1506:22
[restore_points_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
transmitop1=yes
op1=Restore Points

// 1506:23
[renew_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
transmitop1=yes
op1=Renew Familiar

// 1506:24
[attack_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
targetmask=npc,player
targetverb=Attack
ontargetleave=magic_leavetargetmode(topstat_lore:topstat_graphic_lore)
ontargetenter=magic_entertargetmode(topstat_lore:topstat_graphic_lore)

// 1506:25
[interact_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
transmitop1=yes
op1=Interact

// 1506:26
[details_layer]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
transmitop6=yes
op6=Follower Details
onop=script8310(12)

// 1506:27
[details_op1]
type=layer
widthmode=minus
heightmode=minus
layer=familiar_ops
hide=yes
transmitop1=yes
op1=Follower Details
onop=script1229

// 1506:28
[common_ops]
type=layer
widthmode=minus
heightmode=minus
layer=main_ops

// 1506:29
[call_layer]
type=layer
widthmode=minus
heightmode=minus
layer=common_ops
transmitop6=yes
op6=Call Follower

// 1506:30
[dismiss_layer]
type=layer
widthmode=minus
heightmode=minus
layer=common_ops
transmitop6=yes
op6=Dismiss

// 1506:31
[call_op1]
type=layer
widthmode=minus
heightmode=minus
layer=common_ops
hide=yes
transmitop1=yes
op1=Call Follower

// 1506:32
[dismiss_op1]
type=layer
widthmode=minus
heightmode=minus
layer=common_ops
hide=yes
transmitop1=yes
op1=Dismiss

// 1506:33
[open_pet_interface]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=familiar_button
transmitop9=yes
op9=Open Pet Interface

// 1506:34
[summon_pet]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=familiar_button
transmitop7=yes
op7=Summon Pet

// 1506:35
[call_pet]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=familiar_button
hide=yes
transmitop9=yes
op9=Call Pet

