// 1041:0
[player_3]
type=layer
width=250
height=120
layer=mainmodal_window_content
transmitop1=yes
op1=Close

// 1041:1
[player_5]
type=layer
width=250
height=120
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content
transmitop1=yes
op1=Close

// 1041:2
[mainmodal_window]
type=layer
width=450
height=300
xmode=abs_centre
ymode=abs_centre
onload=script8420(town_noticeboard:mainmodal_window_background, town_noticeboard:mainmodal_window_border, town_noticeboard:mainmodal_window_content, town_noticeboard:mainmodal_window_close_button, "Wanted noticeboard", 21218, string_1007)

// 1041:3
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1041:4
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1041:5
[player_1]
type=layer
x=25
y=70
width=150
height=150
xmode=abs_centre
layer=mainmodal_window_content
transmitop1=yes
op1=Close

// 1041:6
[player_2]
type=layer
x=-110
y=95
width=170
height=160
xmode=abs_centre
layer=mainmodal_window_content
transmitop1=yes
op1=Close

// 1041:7
[player_4]
type=layer
x=143
y=-1
width=170
height=160
xmode=abs_centre
layer=mainmodal_window_content
transmitop1=yes
op1=Close

// 1041:8
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1041:9
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1041:10
[background]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=player_1
graphic=aif_parchement_zach
colour=0xffffff
clickmask=no

// 1041:11
[ring_background]
type=graphic
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=player_1
graphic=rs3_ui_dialogue_large_ring_background
colour=0xffffff
clickmask=no

// 1041:12
[ring_foreground]
type=graphic
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=player_1
graphic=rs3_ui_dialogue_large_ring_foreground
colour=0xffffff
clickmask=no

// 1041:13
[wanted]
type=text
y=20
width=12295
height=170
widthmode=proportion
heightmode=minus
xmode=abs_centre
layer=player_1
textfont=museo_sans_15pt_regular
text=WANTED
textlineheight=10
textalignh=1
textalignv=1
colour=0xf9e186

// 1041:14
[name_1]
type=text
y=10
width=165
height=20
xmode=abs_centre
ymode=abs_bottom
layer=player_1
textfont=museo_sans_15pt_regular
text=Player1
textlineheight=10
textalignh=1
textalignv=1
colour=0xfdc4c4

// 1041:15
[chathead_p1]
type=model
x=2
y=1
width=46
height=68
xmode=abs_centre
ymode=abs_centre
layer=player_1
model=luc2_chat_slayer_master_5_lapalok
modelorigin_x=5
modelorigin_y=1
modelangle_x=40
modelangle_y=1882
modelangle_z=0
modelzoom=2750

// 1041:16
[background_1]
type=graphic
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=player_2
graphic=aif_parchement_dean
2dangle=13107
colour=0xffffff
clickmask=no

// 1041:17
[ring_background_2]
type=graphic
width=110
height=110
xmode=abs_centre
ymode=abs_centre
layer=player_2
graphic=rs3_ui_dialogue_large_ring_background
colour=0xffffff
clickmask=no

// 1041:18
[ring_foreground_1]
type=graphic
width=110
height=110
xmode=abs_centre
ymode=abs_centre
layer=player_2
graphic=rs3_ui_dialogue_large_ring_foreground
colour=0xffffff
clickmask=no

// 1041:19
[wanted_1]
type=text
y=20
width=12295
height=170
widthmode=proportion
heightmode=minus
xmode=abs_centre
layer=player_2
textfont=museo_sans_15pt_regular
text=WANTED
textlineheight=10
textalignh=1
textalignv=1
colour=0xf9e186

// 1041:20
[name_2]
type=text
y=10
width=165
height=20
xmode=abs_centre
ymode=abs_bottom
layer=player_2
textfont=museo_sans_15pt_regular
text=Player2
textlineheight=10
textalignh=1
textalignv=1
colour=0xfdc4c4

// 1041:21
[chathead_p2]
type=model
x=2
y=1
width=46
height=68
xmode=abs_centre
ymode=abs_centre
layer=player_2
model=luc2_chat_slayer_master_5_lapalok
modelorigin_x=5
modelorigin_y=1
modelangle_x=40
modelangle_y=1882
modelangle_z=0
modelzoom=2750

// 1041:22
[background_2]
type=graphic
width=90
height=20
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=player_3
graphic=aif_parchement_rolayne
colour=0xffffff
clickmask=no

// 1041:23
[background_3]
type=graphic
width=148
height=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=player_3
graphic=aif_parchement_rolayne
colour=0xffffff
clickmask=no

// 1041:24
[ring_background_4]
type=graphic
x=13
width=80
height=80
xmode=abs_right
ymode=abs_centre
layer=player_3
graphic=rs3_ui_dialogue_large_ring_background
colour=0xffffff
clickmask=no

// 1041:25
[ring_foreground_2]
type=graphic
x=13
width=80
height=80
xmode=abs_right
ymode=abs_centre
layer=player_3
graphic=rs3_ui_dialogue_large_ring_foreground
colour=0xffffff
clickmask=no

// 1041:26
[wanted_2]
type=text
y=30
width=165
height=120
heightmode=minus
layer=player_3
textfont=museo_sans_15pt_regular
text=WANTED
textlineheight=10
textalignh=1
textalignv=1
colour=0xf9e186

// 1041:27
[name_3]
type=text
y=20
width=165
height=20
ymode=abs_bottom
layer=player_3
textfont=museo_sans_15pt_regular
text=Player3
textlineheight=10
textalignh=1
textalignv=1
colour=0xfdc4c4

// 1041:28
[chathead_p3]
type=model
x=30
width=41
height=63
xmode=abs_right
ymode=abs_centre
layer=player_3
model=luc2_chat_slayer_master_5_lapalok
modelorigin_x=-4
modelorigin_y=2
modelangle_x=51
modelangle_y=91
modelangle_z=0
modelzoom=3000

// 1041:29
[background_4]
type=graphic
width=20
height=111
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=player_4
graphic=aif_parchement_jayene
2dangle=18204
colour=0xffffff
clickmask=no

// 1041:30
[ring_background_6]
type=graphic
y=3
width=80
height=80
xmode=abs_centre
ymode=abs_centre
layer=player_4
graphic=rs3_ui_dialogue_large_ring_background
colour=0xffffff
clickmask=no

// 1041:31
[ring_foreground_3]
type=graphic
y=3
width=80
height=80
xmode=abs_centre
ymode=abs_centre
layer=player_4
graphic=rs3_ui_dialogue_large_ring_foreground
colour=0xffffff
clickmask=no

// 1041:32
[wanted_3]
type=text
y=35
width=12295
height=170
widthmode=proportion
heightmode=minus
xmode=abs_centre
layer=player_4
textfont=museo_sans_15pt_regular
text=WANTED
textlineheight=10
textalignh=1
textalignv=1
colour=0xf9e186

// 1041:33
[name_4]
type=text
y=20
width=150
height=20
xmode=abs_centre
ymode=abs_bottom
layer=player_4
textfont=museo_sans_15pt_regular
text=Player4
textlineheight=10
textalignh=1
textalignv=1
colour=0xfdc4c4

// 1041:34
[chathead_p4]
type=model
y=4
width=41
height=62
xmode=abs_centre
ymode=abs_centre
layer=player_4
model=luc2_chat_slayer_master_5_lapalok
modelorigin_x=-5
modelorigin_y=1
modelangle_x=40
modelangle_y=130
modelangle_z=0
modelzoom=3000

// 1041:35
[background_5]
type=graphic
width=90
height=20
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=player_5
graphic=aif_parchement_rolayne
colour=0xffffff
clickmask=no

// 1041:36
[background_6]
type=graphic
width=148
height=20
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=player_5
graphic=aif_parchement_rolayne
colour=0xffffff
clickmask=no

// 1041:37
[ring_background_8]
type=graphic
x=13
width=80
height=80
xmode=abs_right
ymode=abs_centre
layer=player_5
graphic=rs3_ui_dialogue_large_ring_background
colour=0xffffff
clickmask=no

// 1041:38
[ring_foreground_4]
type=graphic
x=13
width=80
height=80
xmode=abs_right
ymode=abs_centre
layer=player_5
graphic=rs3_ui_dialogue_large_ring_foreground
colour=0xffffff
clickmask=no

// 1041:39
[wanted_4]
type=text
y=30
width=165
height=120
heightmode=minus
layer=player_5
textfont=museo_sans_15pt_regular
text=WANTED
textlineheight=10
textalignh=1
textalignv=1
colour=0xf9e186

// 1041:40
[name_5]
type=text
y=20
width=165
height=20
ymode=abs_bottom
layer=player_5
textfont=museo_sans_15pt_regular
text=Player5
textlineheight=10
textalignh=1
textalignv=1
colour=0xfdc4c4

// 1041:41
[chathead_p5]
type=model
x=30
width=41
height=63
xmode=abs_right
ymode=abs_centre
layer=player_5
model=luc2_chat_slayer_master_5_lapalok
modelorigin_x=-4
modelorigin_y=2
modelangle_x=51
modelangle_y=91
modelangle_z=0
modelzoom=3000

