// 1038:0
[mainmodal_window]
type=layer
width=50
height=100
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(town_winterface:mainmodal_window_background, town_winterface:mainmodal_window_border, town_winterface:mainmodal_window_content, town_winterface:mainmodal_window_close_button, "Game Over!", 21218, string_1007)

// 1038:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1038:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1038:3
[com_3]
type=rectangle
y=-29
width=10
height=1
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
colour=0x000000
trans=68

// 1038:4
[com_4]
type=rectangle
y=-28
width=10
height=1
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
colour=0xaed0e0
trans=25

// 1038:5
[score_layer]
type=layer
y=34
width=10
height=79
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 1038:6
[com_6]
type=graphic
x=5
y=5
width=52
height=52
xmode=abs_right
layer=score_layer
graphic=shield_crest_falador
colour=0xffffff
clickmask=no

// 1038:7
[com_7]
type=graphic
x=5
y=5
width=52
height=52
layer=score_layer
graphic="staticons_high_res_clean,9"
colour=0xffffff
clickmask=no

// 1038:8
[score_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=score_layer
textfont=museo_sans_11pt_regular
text=The robbers team won!<br><br>You recieve 99 win point and 99 reward points for participating.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 1038:9
[team_win_layer]
type=layer
y=-62
width=10
height=60
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content

// 1038:10
[win_title_text]
type=text
height=60
widthmode=minus
xmode=abs_centre
layer=team_win_layer
textfont=museo_sans_13pt_regular
text=The game ended too quickly,<br>so neither team receives any points.
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 1038:11
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1038:12
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

