// 1036:0
[main_container]
type=layer
widthmode=minus
heightmode=minus

// 1036:1
[box_container]
type=layer
width=350
height=200
layer=main_container
noclickthrough=yes

// 1036:2
[background_layer]
type=layer
y=10
height=10
widthmode=minus
heightmode=minus
layer=box_container

// 1036:3
[bg_1]
type=graphic
x=12
y=12
width=24
height=24
widthmode=minus
heightmode=minus
layer=background_layer
graphic=rs3_hud_window_content_tile
tiling=yes
alpha=yes
colour=0xffffff
clickmask=no

// 1036:4
[bg_2]
type=graphic
width=32
height=32
layer=background_layer
graphic=rs3_info_display_top_corner
alpha=yes
colour=0xffffff
clickmask=no

// 1036:5
[bg_3]
type=graphic
width=32
height=32
xmode=abs_right
layer=background_layer
graphic=rs3_info_display_top_corner
alpha=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1036:6
[bg_4]
type=graphic
width=32
height=32
ymode=abs_bottom
layer=background_layer
graphic=rs3_info_display_bottom_corner
alpha=yes
colour=0xffffff
clickmask=no

// 1036:7
[bg_5]
type=graphic
width=32
height=32
xmode=abs_right
ymode=abs_bottom
layer=background_layer
graphic=rs3_info_display_bottom_corner
alpha=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1036:8
[bg_6]
type=graphic
width=64
height=12
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=background_layer
graphic=rs3_info_display_bottom_tile
tiling=yes
alpha=yes
colour=0xffffff
clickmask=no

// 1036:9
[bg_7]
type=graphic
width=64
height=12
widthmode=minus
xmode=abs_centre
layer=background_layer
graphic=rs3_info_display_top_tile
alpha=yes
colour=0xffffff
clickmask=no

// 1036:10
[bg_8]
type=graphic
width=12
height=64
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=background_layer
graphic=rs3_info_display_side_tile
tiling=yes
alpha=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1036:11
[bg_9]
type=graphic
width=12
height=64
heightmode=minus
ymode=abs_centre
layer=background_layer
graphic=rs3_info_display_side_tile
tiling=yes
alpha=yes
colour=0xffffff
clickmask=no

// 1036:12
[build_layer]
type=layer
x=20
y=32
width=40
height=75
widthmode=minus
heightmode=minus
layer=background_layer

// 1036:13
[tut_text]
type=text
widthmode=minus
heightmode=minus
layer=build_layer
textfont=museo_sans_11pt_regular
text=Tutorial
textlineheight=15
onvartransmit=town_tutorial(town_tutorial:box_container, event_com)
onvartransmitlist=town_temp_varp1

// 1036:14
[next_arrow]
type=layer
y=15
width=100
height=27
xmode=abs_centre
ymode=abs_bottom
layer=background_layer
transmitop1=yes
op1=Next
onload=script13968(event_com, null, rs3tli_positive_button, "OK")

// 1036:15
[info_icon_layer]
type=layer
width=41
height=41
xmode=abs_centre
layer=box_container

// 1036:16
[flashy_icon]
type=graphic
width=41
height=41
xmode=abs_centre
layer=info_icon_layer
graphic=rs3_info_display_symbol_1
colour=0xffffff
clickmask=no

// 1036:17
[title_text]
type=text
x=30
width=30
widthmode=minus
heightmode=minus
layer=info_icon_layer
textfont=museo_sans_13pt_regular
textalignv=1
textshadow=yes
colour=0xffcb05

