// 1857:0
[root]
type=layer
width=742
heightmode=minus

// 1857:1
[wrapper]
type=layer
x=5
y=5
width=335
height=10
heightmode=minus
layer=root

// 1857:2
[checkboxes_wrapper]
type=layer
x=340
width=340
height=274
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=root

// 1857:3
[lightweight_checkbox]
type=layer
x=5
y=5
width=200
height=20
layer=checkboxes_wrapper
onload=cheevo_checkbox_load(tracker_sub:lightweight_checkbox_build, tracker_sub:lightweight_checkbox_click)

// 1857:4
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wrapper
hide=yes
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1857:5
[favourite_wrapper]
type=layer
height=80
widthmode=minus
layer=wrapper

// 1857:6
[comp_cape_wrapper]
type=layer
y=3326
height=305
widthmode=minus
ymode=proportion_top
layer=wrapper

// 1857:7
[com_7]
type=text
x=5
width=10
height=16
widthmode=minus
layer=comp_cape_wrapper
textfont=museo_sans_11pt_regular_multiline
text=Completionist Capes
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1857:8
[120_all_layer]
type=layer
x=42
y=165
width=80
height=140
layer=comp_cape_wrapper
transmitop1=yes
op1=Go To
onload=script13623(event_com, tracker_sub:120_all_progress_layer, tracker_sub:120_all_progress_bitmask_layer)

// 1857:9
[120_all_comp_layer]
type=layer
y=165
width=80
height=140
xmode=abs_centre
layer=comp_cape_wrapper
transmitop1=yes
op1=Go To
onload=script13623(event_com, tracker_sub:120_all_comp_progress_layer, tracker_sub:120_all_comp_progress_bitmask_layer)

// 1857:10
[120_all_comp_t_layer]
type=layer
x=213
y=165
width=80
height=140
layer=comp_cape_wrapper
transmitop1=yes
op1=Go To
onload=script13623(event_com, tracker_sub:120_all_comp_t_progress_layer, tracker_sub:120_all_comp_t_progress_bitmask_layer)

// 1857:11
[mqc_layer]
type=layer
x=6
y=20
width=70
height=140
layer=comp_cape_wrapper
transmitop1=yes
op1=Go To
onload=script13623(event_com, tracker_sub:mqc_progress_layer, tracker_sub:mqc_progress_bitmask_layer)

// 1857:12
[com_12]
type=rectangle
widthmode=minus
heightmode=minus
layer=mqc_layer
colour=0xffffff
fill=yes
onload=cheevo_background_onload(event_com)

// 1857:13
[com_13]
type=rectangle
x=2
y=2
width=20
height=29
widthmode=minus
heightmode=minus
layer=mqc_layer
colour=0xffffff
fill=yes
onload=script10496(event_com, -1, 12)

// 1857:14
[com_14]
type=text
height=25
widthmode=minus
ymode=abs_bottom
layer=mqc_layer
textfont=museo_sans_13pt_regular
text=Quest (M)
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1857:15
[com_15]
type=model
x=7
y=-13
width=41
height=99
ymode=abs_centre
layer=mqc_layer
model=skillcapes_quest_man
modelorigin_x=0
modelorigin_y=49
modelangle_x=0
modelangle_y=1024
modelangle_z=0
modelzoom=900

// 1857:16
[mqc_progress_wrapper]
type=layer
width=16
height=26
heightmode=minus
xmode=abs_right
layer=mqc_layer

// 1857:17
[com_17]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_bottom
layer=mqc_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,2"
colour=0xffffff
clickmask=no

// 1857:18
[max_layer]
type=layer
x=89
y=20
width=70
height=140
layer=comp_cape_wrapper
transmitop1=yes
op1=Go To
onload=script13623(event_com, tracker_sub:max_progress_layer, tracker_sub:max_progress_bitmask_layer)

// 1857:19
[com_19]
type=rectangle
widthmode=minus
heightmode=minus
layer=max_layer
colour=0xffffff
fill=yes
onload=cheevo_background_onload(event_com)

// 1857:20
[com_20]
type=rectangle
x=2
y=2
width=20
height=29
widthmode=minus
heightmode=minus
layer=max_layer
colour=0xffffff
fill=yes
onload=script10496(event_com, -1, 12)

// 1857:21
[com_21]
type=text
height=25
widthmode=minus
ymode=abs_bottom
layer=max_layer
textfont=museo_sans_13pt_regular
text=Max
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1857:22
[com_22]
type=model
x=3
y=-13
width=48
height=99
ymode=abs_centre
layer=max_layer
model=cod_max_cape_male
modelorigin_x=0
modelorigin_y=49
modelangle_x=0
modelangle_y=1024
modelangle_z=0
modelzoom=900

// 1857:23
[max_progress_wrapper]
type=layer
width=16
height=26
heightmode=minus
xmode=abs_right
layer=max_layer

// 1857:24
[com_24]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_bottom
layer=max_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,2"
colour=0xffffff
clickmask=no

// 1857:25
[comp_layer]
type=layer
x=172
y=20
width=70
height=140
layer=comp_cape_wrapper
transmitop1=yes
op1=Go To
onload=script13623(event_com, tracker_sub:comp_progress_layer, tracker_sub:comp_progress_bitmask_layer)

// 1857:26
[com_26]
type=rectangle
widthmode=minus
heightmode=minus
layer=comp_layer
colour=0xffffff
fill=yes
onload=cheevo_background_onload(event_com)

// 1857:27
[com_27]
type=rectangle
x=2
y=2
width=20
height=29
widthmode=minus
heightmode=minus
layer=comp_layer
colour=0xffffff
fill=yes
onload=script10496(event_com, -1, 12)

// 1857:28
[com_28]
type=text
height=25
widthmode=minus
ymode=abs_bottom
layer=comp_layer
textfont=museo_sans_13pt_regular
text=Comp
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1857:29
[com_29]
type=model
x=3
y=-13
width=49
height=99
ymode=abs_centre
layer=comp_layer
model=cod_completionist_cape_male
modelorigin_x=0
modelorigin_y=49
modelangle_x=0
modelangle_y=1024
modelangle_z=0
modelzoom=900

// 1857:30
[comp_progress_wrapper]
type=layer
width=16
height=26
heightmode=minus
xmode=abs_right
layer=comp_layer

// 1857:31
[com_31]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_bottom
layer=comp_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,2"
colour=0xffffff
clickmask=no

// 1857:32
[comp_t_layer]
type=layer
x=255
y=20
width=70
height=140
layer=comp_cape_wrapper
transmitop1=yes
op1=Go To
onload=script13623(event_com, tracker_sub:comp_t_progress_layer, tracker_sub:comp_t_progress_bitmask_layer)

// 1857:33
[com_33]
type=rectangle
widthmode=minus
heightmode=minus
layer=comp_t_layer
colour=0xffffff
fill=yes
onload=cheevo_background_onload(event_com)

// 1857:34
[com_34]
type=rectangle
x=2
y=2
width=20
height=29
widthmode=minus
heightmode=minus
layer=comp_t_layer
colour=0xffffff
fill=yes
onload=script10496(event_com, -1, 12)

// 1857:35
[com_35]
type=text
height=25
widthmode=minus
ymode=abs_bottom
layer=comp_t_layer
textfont=museo_sans_13pt_regular
text=Comp (T)
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1857:36
[com_36]
type=model
x=3
y=-13
width=47
height=99
ymode=abs_centre
layer=comp_t_layer
model=cod_completionist_trim_cape_male
modelorigin_x=0
modelorigin_y=49
modelangle_x=0
modelangle_y=1024
modelangle_z=0
modelzoom=900

// 1857:37
[comp_t_progress_wrapper]
type=layer
width=16
height=26
heightmode=minus
xmode=abs_right
layer=comp_t_layer

// 1857:38
[com_38]
type=text
x=5
y=3
width=10
height=15
widthmode=minus
layer=favourite_wrapper
textfont=museo_sans_11pt_regular_multiline
text=Favourited Achievements
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 2)

// 1857:39
[fav_1]
type=layer
x=14
y=20
width=55
height=55
layer=favourite_wrapper
transmitop1=yes
transmitop2=yes
op1=Go To
op2=Unfavourite
onload=script13620(event_com, tracker_sub:fav_1_icon)
onvartransmit=script13620(event_com, tracker_sub:fav_1_icon)
onvartransmitlist=cheevo_fav_1

// 1857:40
[com_40]
type=graphic
width=46
height=46
ymode=abs_bottom
layer=fav_1
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 1857:41
[fav_1_icon]
type=graphic
width=46
height=46
ymode=abs_bottom
layer=fav_1
colour=0xffffff
clickmask=no

// 1857:42
[fav_1_star]
type=graphic
width=20
height=20
xmode=abs_right
layer=fav_1
graphic="stat_star,0"
colour=0xffffff
clickmask=no

// 1857:43
[fav_2]
type=layer
x=97
y=20
width=55
height=55
layer=favourite_wrapper
transmitop1=yes
transmitop2=yes
op1=Go To
op2=Unfavourite
onload=script13620(event_com, tracker_sub:fav_2_icon)
onvartransmit=script13620(event_com, tracker_sub:fav_2_icon)
onvartransmitlist=cheevo_fav_2

// 1857:44
[com_44]
type=graphic
width=46
height=46
ymode=abs_bottom
layer=fav_2
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 1857:45
[fav_2_icon]
type=graphic
width=46
height=46
ymode=abs_bottom
layer=fav_2
colour=0xffffff
clickmask=no

// 1857:46
[fav_2_star]
type=graphic
width=20
height=20
xmode=abs_right
layer=fav_2
graphic="stat_star,0"
colour=0xffffff
clickmask=no

// 1857:47
[fav_3]
type=layer
x=180
y=20
width=55
height=55
layer=favourite_wrapper
transmitop1=yes
transmitop2=yes
op1=Go To
op2=Unfavourite
onload=script13620(event_com, tracker_sub:fav_3_icon)
onvartransmit=script13620(event_com, tracker_sub:fav_3_icon)
onvartransmitlist=cheevo_fav_3

// 1857:48
[com_48]
type=graphic
width=46
height=46
ymode=abs_bottom
layer=fav_3
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 1857:49
[fav_3_icon]
type=graphic
width=46
height=46
ymode=abs_bottom
layer=fav_3
colour=0xffffff
clickmask=no

// 1857:50
[fav_3_star]
type=graphic
width=20
height=20
xmode=abs_right
layer=fav_3
graphic="stat_star,0"
colour=0xffffff
clickmask=no

// 1857:51
[fav_4]
type=layer
x=263
y=20
width=55
height=55
layer=favourite_wrapper
transmitop1=yes
transmitop2=yes
op1=Go To
op2=Unfavourite
onload=script13620(event_com, tracker_sub:fav_4_icon)
onvartransmit=script13620(event_com, tracker_sub:fav_4_icon)
onvartransmitlist=cheevo_fav_4

// 1857:52
[com_52]
type=graphic
width=46
height=46
ymode=abs_bottom
layer=fav_4
graphic=rs3_inventory_slot
colour=0xffffff
clickmask=no

// 1857:53
[fav_4_icon]
type=graphic
width=46
height=46
ymode=abs_bottom
layer=fav_4
colour=0xffffff
clickmask=no

// 1857:54
[fav_4_star]
type=graphic
width=20
height=20
xmode=abs_right
layer=fav_4
graphic="stat_star,0"
colour=0xffffff
clickmask=no

// 1857:55
[mqc_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=mqc_progress_layer

// 1857:56
[com_56]
type=graphic
width=12
height=12
xmode=abs_centre
layer=mqc_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,0"
colour=0xffffff
clickmask=no

// 1857:57
[max_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=max_progress_layer

// 1857:58
[com_58]
type=graphic
width=8
height=8
xmode=abs_centre
layer=max_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,0"
colour=0xffffff
clickmask=no

// 1857:59
[comp_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=comp_progress_layer

// 1857:60
[com_60]
type=graphic
width=8
height=8
xmode=abs_centre
layer=comp_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,0"
colour=0xffffff
clickmask=no

// 1857:61
[com_61]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_bottom
layer=comp_t_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,2"
colour=0xffffff
clickmask=no

// 1857:62
[com_62]
type=graphic
width=16
height=32
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=comp_t_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,1"
colour=0xffffff
clickmask=no

// 1857:63
[com_63]
type=graphic
width=16
height=16
xmode=abs_centre
layer=comp_t_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,0"
colour=0xffffff
clickmask=no

// 1857:64
[comp_t_progress_layer]
type=layer
x=4
width=8
height=6
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=comp_t_progress_wrapper

// 1857:65
[comp_t_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=comp_t_progress_layer

// 1857:66
[com_66]
type=graphic
width=8
height=8
xmode=abs_centre
layer=comp_t_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,0"
colour=0xffffff
clickmask=no

// 1857:67
[com_67]
type=graphic
width=8
height=16
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=comp_t_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,1"
colour=0xffffff
clickmask=no

// 1857:68
[com_68]
type=graphic
width=8
height=8
xmode=abs_centre
ymode=abs_bottom
layer=comp_t_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,2"
colour=0xffffff
clickmask=no

// 1857:69
[com_69]
type=graphic
width=16
height=32
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=comp_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,1"
colour=0xffffff
clickmask=no

// 1857:70
[com_70]
type=graphic
width=16
height=16
xmode=abs_centre
layer=comp_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,0"
colour=0xffffff
clickmask=no

// 1857:71
[comp_progress_layer]
type=layer
x=4
width=8
height=6
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=comp_progress_wrapper

// 1857:72
[com_72]
type=graphic
width=16
height=32
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=max_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,1"
colour=0xffffff
clickmask=no

// 1857:73
[com_73]
type=graphic
width=16
height=16
xmode=abs_centre
layer=max_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,0"
colour=0xffffff
clickmask=no

// 1857:74
[max_progress_layer]
type=layer
x=4
width=8
height=6
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=max_progress_wrapper

// 1857:75
[com_75]
type=graphic
width=16
height=32
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mqc_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,1"
colour=0xffffff
clickmask=no

// 1857:76
[com_76]
type=graphic
width=16
height=16
xmode=abs_centre
layer=mqc_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,0"
colour=0xffffff
clickmask=no

// 1857:77
[mqc_progress_layer]
type=layer
x=4
width=8
height=6
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=mqc_progress_wrapper

// 1857:78
[com_78]
type=graphic
width=8
height=16
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=comp_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,1"
colour=0xffffff
clickmask=no

// 1857:79
[com_79]
type=graphic
width=8
height=8
xmode=abs_centre
ymode=abs_bottom
layer=comp_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,2"
colour=0xffffff
clickmask=no

// 1857:80
[com_80]
type=graphic
width=8
height=16
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=max_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,1"
colour=0xffffff
clickmask=no

// 1857:81
[com_81]
type=graphic
width=8
height=8
xmode=abs_centre
ymode=abs_bottom
layer=max_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,2"
colour=0xffffff
clickmask=no

// 1857:82
[com_82]
type=graphic
width=8
height=16
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mqc_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,1"
colour=0xffffff
clickmask=no

// 1857:83
[com_83]
type=graphic
width=8
height=8
xmode=abs_centre
ymode=abs_bottom
layer=mqc_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,2"
colour=0xffffff
clickmask=no

// 1857:84
[lightweight_checkbox_build]
type=layer
widthmode=minus
heightmode=minus
layer=lightweight_checkbox

// 1857:85
[lightweight_checkbox_click]
type=layer
widthmode=minus
heightmode=minus
layer=lightweight_checkbox
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1857:86
[com_86]
type=rectangle
widthmode=minus
heightmode=minus
layer=120_all_layer
colour=0xffffff
fill=yes
onload=cheevo_background_onload(event_com)

// 1857:87
[com_87]
type=rectangle
x=2
y=2
width=20
height=29
widthmode=minus
heightmode=minus
layer=120_all_layer
colour=0xffffff
fill=yes
onload=script10496(event_com, -1, 12)

// 1857:88
[com_88]
type=text
height=28
widthmode=minus
ymode=abs_bottom
layer=120_all_layer
textfont=notosans_11
text=Master Max
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1857:89
[com_89]
type=model
x=4
y=-12
width=47
height=99
ymode=abs_centre
layer=120_all_layer
model=human_accessory_cape_max_120
modelorigin_x=0
modelorigin_y=48
modelangle_x=0
modelangle_y=1024
modelangle_z=0
modelzoom=900

// 1857:90
[120_all_progress_wrapper]
type=layer
width=16
height=26
heightmode=minus
xmode=abs_right
layer=120_all_layer

// 1857:91
[com_91]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_bottom
layer=120_all_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,2"
colour=0xffffff
clickmask=no

// 1857:92
[com_92]
type=graphic
width=16
height=32
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=120_all_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,1"
colour=0xffffff
clickmask=no

// 1857:93
[com_93]
type=graphic
width=16
height=16
xmode=abs_centre
layer=120_all_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,0"
colour=0xffffff
clickmask=no

// 1857:94
[120_all_progress_layer]
type=layer
x=4
width=8
height=6
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=120_all_progress_wrapper

// 1857:95
[120_all_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=120_all_progress_layer

// 1857:96
[com_96]
type=graphic
width=12
height=12
xmode=abs_centre
layer=120_all_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,0"
colour=0xffffff
clickmask=no

// 1857:97
[com_97]
type=graphic
width=8
height=16
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=120_all_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,1"
colour=0xffffff
clickmask=no

// 1857:98
[com_98]
type=graphic
width=8
height=8
xmode=abs_centre
ymode=abs_bottom
layer=120_all_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,2"
colour=0xffffff
clickmask=no

// 1857:99
[com_99]
type=rectangle
widthmode=minus
heightmode=minus
layer=120_all_comp_layer
colour=0xffffff
fill=yes
onload=cheevo_background_onload(event_com)

// 1857:100
[com_100]
type=rectangle
x=2
y=2
width=20
height=29
widthmode=minus
heightmode=minus
layer=120_all_comp_layer
colour=0xffffff
fill=yes
onload=script10496(event_com, -1, 12)

// 1857:101
[com_101]
type=text
x=-1
height=28
widthmode=minus
ymode=abs_bottom
layer=120_all_comp_layer
textfont=notosans_11
text=Master Comp
textalignh=1
textalignv=1
textshadow=yes
maxlines=2
onload=script10496(event_com, -1, 0)

// 1857:102
[com_102]
type=model
x=4
y=-12
width=47
height=99
ymode=abs_centre
layer=120_all_comp_layer
model=human_accessory_cape_completionist_120
modelorigin_x=0
modelorigin_y=48
modelangle_x=0
modelangle_y=1024
modelangle_z=0
modelzoom=900

// 1857:103
[120_all_comp_progress_wrapper]
type=layer
width=16
height=26
heightmode=minus
xmode=abs_right
layer=120_all_comp_layer

// 1857:104
[com_104]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_bottom
layer=120_all_comp_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,2"
colour=0xffffff
clickmask=no

// 1857:105
[com_105]
type=graphic
width=16
height=32
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=120_all_comp_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,1"
colour=0xffffff
clickmask=no

// 1857:106
[com_106]
type=graphic
width=16
height=16
xmode=abs_centre
layer=120_all_comp_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,0"
colour=0xffffff
clickmask=no

// 1857:107
[120_all_comp_progress_layer]
type=layer
x=4
width=8
height=6
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=120_all_comp_progress_wrapper

// 1857:108
[120_all_comp_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=120_all_comp_progress_layer

// 1857:109
[com_109]
type=graphic
width=12
height=12
xmode=abs_centre
layer=120_all_comp_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,0"
colour=0xffffff
clickmask=no

// 1857:110
[com_110]
type=graphic
width=8
height=16
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=120_all_comp_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,1"
colour=0xffffff
clickmask=no

// 1857:111
[com_111]
type=graphic
width=8
height=8
xmode=abs_centre
ymode=abs_bottom
layer=120_all_comp_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,2"
colour=0xffffff
clickmask=no

// 1857:112
[com_112]
type=rectangle
widthmode=minus
heightmode=minus
layer=120_all_comp_t_layer
colour=0xffffff
fill=yes
onload=cheevo_background_onload(event_com)

// 1857:113
[com_113]
type=rectangle
x=2
y=2
width=20
height=29
widthmode=minus
heightmode=minus
layer=120_all_comp_t_layer
colour=0xffffff
fill=yes
onload=script10496(event_com, -1, 12)

// 1857:114
[com_114]
type=text
height=28
widthmode=minus
ymode=abs_bottom
layer=120_all_comp_t_layer
textfont=notosans_11
text=Master Comp (T)
textalignh=1
textalignv=1
textshadow=yes
maxlines=2
onload=script10496(event_com, -1, 0)

// 1857:115
[com_115]
type=model
x=4
y=-12
width=47
height=99
ymode=abs_centre
layer=120_all_comp_t_layer
model=human_accessory_cape_completionist_trim_120
modelorigin_x=0
modelorigin_y=48
modelangle_x=0
modelangle_y=1024
modelangle_z=0
modelzoom=900

// 1857:116
[120_all_comp_t_progress_wrapper]
type=layer
width=16
height=26
heightmode=minus
xmode=abs_right
layer=120_all_comp_t_layer

// 1857:117
[com_117]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_bottom
layer=120_all_comp_t_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,2"
colour=0xffffff
clickmask=no

// 1857:118
[com_118]
type=graphic
width=16
height=32
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=120_all_comp_t_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,1"
colour=0xffffff
clickmask=no

// 1857:119
[com_119]
type=graphic
width=16
height=16
xmode=abs_centre
layer=120_all_comp_t_progress_wrapper
graphic="rs3_progress_bar_backing_vertical_22px,0"
colour=0xffffff
clickmask=no

// 1857:120
[120_all_comp_t_progress_layer]
type=layer
x=4
width=8
height=6
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=120_all_comp_t_progress_wrapper

// 1857:121
[120_all_comp_t_progress_bitmask_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=120_all_comp_t_progress_layer

// 1857:122
[com_122]
type=graphic
width=12
height=12
xmode=abs_centre
layer=120_all_comp_t_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,0"
colour=0xffffff
clickmask=no

// 1857:123
[com_123]
type=graphic
width=8
height=16
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=120_all_comp_t_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,1"
colour=0xffffff
clickmask=no

// 1857:124
[com_124]
type=graphic
width=8
height=8
xmode=abs_centre
ymode=abs_bottom
layer=120_all_comp_t_progress_bitmask_layer
graphic="rs3_progress_bar_green_vertical_12px,2"
colour=0xffffff
clickmask=no

