// 335:0
[bg]
type=layer
widthmode=minus
heightmode=minus
layer=other_player_info_layer
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 335:1
[free_space_text]
type=text
y=8
width=16
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=other_player_info_layer
textfont=notosans_11
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 335:2
[free_space_name]
type=text
y=8
width=16
height=15
widthmode=minus
xmode=abs_centre
layer=other_player_info_layer
textfont=notosans_11
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)
onvarcstrtransmit=script1571(event_com)
onvarcstrtransmitlist=varclientstring_2519

// 335:3
[background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=root_layer

// 335:4
[content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=root_layer

// 335:5
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=root_layer

// 335:6
[close_button_layer]
type=layer
width=512
height=334
layer=root_layer
transmitop1=yes
op1=Close
onop=closebutton_click

// 335:7
[root_layer]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
onload=script8420(trademain:background_layer, trademain:frame_layer, null, trademain:close_button_layer, "Trading with: xxxxxxxxxxxx", 21218, string_1007)

// 335:8
[com_8]
type=rectangle
x=6
y=301
width=499
height=26
layer=content_layer
colour=0x000000
fill=yes
trans=200

// 335:9
[your_offer_bg]
type=layer
x=-156
y=38
width=181
height=225
xmode=abs_centre
layer=content_layer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 335:10
[other_offer_bg]
type=layer
x=156
y=38
width=181
height=225
xmode=abs_centre
layer=content_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 335:11
[accept_button_layer]
type=layer
y=-45
width=100
height=27
xmode=abs_centre
ymode=abs_centre
layer=content_layer
onload=script13968(trademain:accept_build, trademain:accept_button, rs3tli_positive_button, "Accept")

// 335:12
[decline_button_layer]
type=layer
y=-7
width=100
height=27
xmode=abs_centre
ymode=abs_centre
layer=content_layer
onload=script13968(trademain:decline_build, trademain:decline_button, rs3tli_negative_button, "Decline")

// 335:13
[other_player_info_layer]
type=layer
y=-95
width=126
height=60
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 335:14
[your_offer_layer]
type=layer
x=14
y=40
width=177
height=223
layer=content_layer

// 335:15
[your_offer_layer_flashy]
type=layer
x=14
y=40
width=177
height=223
layer=content_layer

// 335:16
[other_offer_layer_back]
type=layer
x=324
y=40
width=177
height=223
layer=content_layer
onload=script937

// 335:17
[other_offer_layer]
type=layer
x=324
y=40
width=177
height=223
layer=content_layer

// 335:18
[other_offer_layer_flashy]
type=layer
x=324
y=40
width=177
height=223
layer=content_layer

// 335:19
[com_19]
type=text
x=10
y=267
width=100
height=28
xmode=abs_right
layer=content_layer
textfont=museo_sans_11pt_regular
text=Trader's Offer
textalignh=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 335:20
[com_20]
type=text
x=10
y=267
width=65
height=28
layer=content_layer
textfont=museo_sans_11pt_regular
text=Your Offer
textshadow=yes
colour=0xe6cb05
onload=script10496(event_com, event_comsubid, 1)

// 335:21
[tradestatus]
type=text
y=267
width=218
height=33
xmode=abs_centre
layer=content_layer
textfont=museo_sans_11pt_regular
text=You already have the offered Gorajan Trailblazer outfit piece.
textlineheight=11
textalignh=1
textalignv=1
textshadow=yes

// 335:22
[trade_removed_warning_left]
type=text
x=10
y=12
width=88
height=16
layer=content_layer
hide=yes
textfont=museo_sans_11pt_regular
text=Trade modified
textalignh=1
textshadow=yes
colour=0xff0000
onload=script10496(event_com, event_comsubid, 6)

// 335:23
[trade_removed_warning_right]
type=text
x=395
y=12
width=88
height=16
layer=content_layer
hide=yes
textfont=museo_sans_11pt_regular
text=Trade modified
textalignh=1
textshadow=yes
colour=0xff0000
onload=script10496(event_com, event_comsubid, 6)

// 335:24
[trade_balance_indicator]
type=layer
y=6
width=20
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=content_layer
onload=script4105(trademain:myvalue, trademain:theirvalue, trademain:balance, trademain:arrow, trademain:header)
onvartransmit=script4105(trademain:myvalue, trademain:theirvalue, trademain:balance, trademain:arrow, trademain:header)
onvartransmitlist=trade_value_myoffer,trade_value_theiroffer

// 335:25
[your_loan_offer_layer]
type=layer
x=-33
y=185
width=60
height=76
xmode=abs_centre
layer=content_layer
onload=script507(trademain:your_loan_offer_layer, trademain:your_loan_offer_item, trademain:your_loan_offer_duration, 21954602, trademain:other_loan_offer_layer, trademain:other_loan_offer_item, trademain:other_loan_offer_duration)

// 335:26
[other_loan_offer_layer]
type=layer
x=33
y=185
width=60
height=76
xmode=abs_centre
layer=content_layer

// 335:27
[offer_inv_button]
type=layer
x=80
y=39
width=32
height=28
ymode=abs_bottom
layer=content_layer
transmitop1=yes
op1=Offer All
onmouserepeat=script8799("Offer everything that can be traded from your backpack.", event_com, event_comsubid)

// 335:28
[32px_icon]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=offer_inv_button
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 335:29
[money_pouch_add_button]
type=layer
x=115
y=39
width=32
height=28
ymode=abs_bottom
layer=content_layer
transmitop1=yes
op1=Add from pouch
onmouserepeat=script8799("Allows you to offer a user-entered amount of coins from your money pouch.", event_com, event_comsubid)

// 335:30
[32px_icon_2]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=money_pouch_add_button
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
onload=script13914(event_com, rs3tli_32px_icon_button)

// 335:31
[myvalue_tooltip_trigger]
type=layer
width=400
widthmode=minus
heightmode=minus
layer=trade_balance_indicator

// 335:32
[theirvalue_tooltip_trigger]
type=layer
width=400
widthmode=minus
heightmode=minus
xmode=abs_right
layer=trade_balance_indicator

// 335:33
[header]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=trade_balance_indicator
textfont=museo_sans_11pt_regular
text=Wealth transfer:
textalignh=1
textshadow=yes
colour=0xbebe5e

// 335:34
[myvalue]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trade_balance_indicator
textfont=museo_sans_11pt_regular
text=9,223,372,028,264,841,218 coins
textshadow=yes
colour=0xff981f

// 335:35
[theirvalue]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trade_balance_indicator
textfont=museo_sans_11pt_regular
text=9,223,372,028,264,841,218 coins
textalignh=2
textshadow=yes
colour=0xff981f

// 335:36
[balance]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=trade_balance_indicator
textfont=museo_sans_11pt_regular
text=1,234,567
textalignh=1
textalignv=2
textshadow=yes
colour=0xff981f

// 335:37
[arrow]
type=graphic
width=24
height=24
xmode=abs_centre
ymode=abs_centre
layer=trade_balance_indicator
hide=yes
graphic="rs3_icon_calendar_navigation_24px,0"
colour=0xffffff
clickmask=no

// 335:38
[com_38]
type=text
height=16
widthmode=minus
layer=other_loan_offer_layer
textfont=museo_sans_11pt_regular
text=Loan:
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 335:39
[other_loan_offer_item]
type=graphic
y=14
width=36
height=32
xmode=abs_centre
layer=other_loan_offer_layer
clickmask=no

// 335:40
[other_loan_offer_duration]
type=text
height=30
widthmode=minus
ymode=abs_bottom
layer=other_loan_offer_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 335:41
[com_41]
type=text
height=16
widthmode=minus
layer=your_loan_offer_layer
textfont=museo_sans_11pt_regular
text=Loan:
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 335:42
[your_loan_offer_fakebutton]
type=layer
y=2
width=4
height=28
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=your_loan_offer_layer

// 335:43
[your_loan_offer_item]
type=graphic
y=14
width=36
height=32
xmode=abs_centre
layer=your_loan_offer_layer
clickmask=no

// 335:44
[your_loan_offer_duration]
type=text
y=1
height=30
widthmode=minus
ymode=abs_bottom
layer=your_loan_offer_layer
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 335:45
[offer_inv_icon]
type=graphic
x=2
y=3
width=29
height=21
ymode=abs_bottom
layer=offer_inv_button
graphic="bank_bob_button,1"
colour=0xffffff
clickmask=no

// 335:46
[bank_pouch_icon]
type=graphic
x=2
y=3
width=29
height=21
ymode=abs_bottom
layer=money_pouch_add_button
graphic="bank_bob_button,4"
colour=0xffffff
clickmask=no

// 335:47
[accept_build]
type=layer
widthmode=minus
heightmode=minus
layer=accept_button_layer

// 335:48
[accept_button]
type=layer
widthmode=minus
heightmode=minus
layer=accept_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 335:49
[decline_build]
type=layer
widthmode=minus
heightmode=minus
layer=decline_button_layer

// 335:50
[decline_button]
type=layer
widthmode=minus
heightmode=minus
layer=decline_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

