// 1752:0
[dig_icon]
type=model
width=54
height=51
xmode=abs_centre
ymode=abs_centre
layer=dig_icon_layer
model=skill_farming_inv_spade
modelorigin_x=0
modelorigin_y=0
modelangle_x=396
modelangle_y=1532
modelangle_z=0
modelzoom=1030
onmouserepeat=script8799("You can dig at this location.", event_com, event_comsubid)

// 1752:1
[com_1]
type=model
y=1
width=337
height=320
xmode=abs_centre
ymode=abs_centre
hide=yes
model=if_trail_scroll
modelorigin_x=-16
modelorigin_y=14
modelangle_x=520
modelangle_y=1
modelangle_z=0
modelzoom=580

// 1752:2
[com_2]
type=model
width=200
height=302
xmode=abs_centre
ymode=abs_centre
model=if_trail_scroll_mini
modelorigin_x=-11
modelorigin_y=13
modelangle_x=521
modelangle_y=2044
modelangle_z=0
modelzoom=590

// 1752:3
[scan_data]
type=text
width=160
height=214
xmode=abs_centre
ymode=abs_centre
textfont=museo_sans_11pt_regular
text=Scanning...
textalignh=1
textalignv=1
textshadow=yes
onload=script13511(event_com)

// 1752:4
[found_text]
type=text
y=-35
width=160
height=214
xmode=abs_centre
ymode=abs_centre
hide=yes
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes

// 1752:5
[dig_icon_layer]
type=layer
y=95
width=54
height=51
xmode=abs_centre
ymode=abs_centre
hide=yes
transmitop1=yes
op1=Dig

