// 362:0
[com_0]
type=graphic
y=-1
width=496
height=293
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
graphic=rs3_parchment_scroll_background
colour=0xffffff
clickmask=no

// 362:1
[com_1]
type=model
x=307
y=227
width=33
height=18
layer=mainmodal_window_content
model=if_trail_mapcoastborder
modelorigin_x=1
modelorigin_y=-3
modelangle_x=589
modelangle_y=612
modelangle_z=0
modelzoom=1351

// 362:2
[com_2]
type=model
x=206
y=145
width=15
height=32
layer=mainmodal_window_content
model=if_trail_mapcoastborder
modelorigin_x=3
modelorigin_y=0
modelangle_x=589
modelangle_y=1086
modelangle_z=0
modelzoom=1351

// 362:3
[com_3]
type=model
x=208
y=173
width=18
height=33
layer=mainmodal_window_content
model=if_trail_mapcoastborder
modelorigin_x=2
modelorigin_y=-1
modelangle_x=589
modelangle_y=932
modelangle_z=0
modelzoom=1351

// 362:4
[com_4]
type=model
x=169
y=39
width=33
height=18
layer=mainmodal_window_content
model=if_trail_mapcoastborder
modelorigin_x=1
modelorigin_y=-3
modelangle_x=589
modelangle_y=612
modelangle_z=0
modelzoom=1351

// 362:5
[com_5]
type=model
x=222
y=202
width=33
height=18
layer=mainmodal_window_content
model=if_trail_mapcoastborder
modelorigin_x=1
modelorigin_y=-3
modelangle_x=589
modelangle_y=612
modelangle_z=0
modelzoom=1351

// 362:6
[com_6]
type=model
x=198
y=57
width=27
height=31
layer=mainmodal_window_content
model=if_trail_mapcoastborder
modelorigin_x=2
modelorigin_y=-2
modelangle_x=471
modelangle_y=810
modelangle_z=0
modelzoom=1351

// 362:7
[com_7]
type=model
x=345
y=250
width=14
height=13
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=1
modelorigin_y=-3
modelangle_x=515
modelangle_y=659
modelangle_z=0
modelzoom=1351

// 362:8
[com_8]
type=model
x=223
y=119
width=14
height=14
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=1
modelorigin_y=2
modelangle_x=489
modelangle_y=1330
modelangle_z=0
modelzoom=1351

// 362:9
[com_9]
type=model
x=252
y=168
width=23
height=4
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=751

// 362:10
[com_10]
type=model
x=252
y=188
width=23
height=4
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=751

// 362:11
[com_11]
type=model
x=270
y=188
width=23
height=4
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=751

// 362:12
[com_12]
type=model
x=286
y=188
width=23
height=4
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=751

// 362:13
[com_13]
type=model
x=250
y=169
width=4
height=23
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=1
modelorigin_y=0
modelangle_x=512
modelangle_y=2036
modelangle_z=0
modelzoom=786

// 362:14
[com_14]
type=model
x=272
y=148
width=4
height=23
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=1
modelorigin_y=0
modelangle_x=512
modelangle_y=2036
modelangle_z=0
modelzoom=786

// 362:15
[com_15]
type=model
x=250
y=149
width=4
height=23
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=1
modelorigin_y=0
modelangle_x=512
modelangle_y=2036
modelangle_z=0
modelzoom=786

// 362:16
[com_16]
type=model
x=250
y=129
width=4
height=23
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=1
modelorigin_y=0
modelangle_x=512
modelangle_y=2036
modelangle_z=0
modelzoom=786

// 362:17
[com_17]
type=model
x=219
y=229
width=23
height=11
layer=mainmodal_window_content
model=if_trail_waveicon
modelorigin_x=0
modelorigin_y=-2
modelangle_x=554
modelangle_y=105
modelangle_z=0
modelzoom=1615

// 362:18
[com_18]
type=model
x=150
y=129
width=21
height=12
layer=mainmodal_window_content
model=if_trail_waveicon
modelorigin_x=0
modelorigin_y=-1
modelangle_x=464
modelangle_y=1919
modelangle_z=0
modelzoom=1639

// 362:19
[com_19]
type=model
x=169
y=131
width=24
height=11
layer=mainmodal_window_content
model=if_trail_waveicon
modelorigin_x=-1
modelorigin_y=-2
modelangle_x=537
modelangle_y=97
modelangle_z=0
modelzoom=1585

// 362:20
[com_20]
type=model
x=305
y=188
width=23
height=4
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=751

// 362:21
[com_21]
type=model
x=274
y=146
width=23
height=4
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=751

// 362:22
[com_22]
type=model
x=251
y=129
width=23
height=4
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=751

// 362:23
[com_23]
type=model
x=347
y=146
width=4
height=23
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=1
modelorigin_y=0
modelangle_x=512
modelangle_y=2036
modelangle_z=0
modelzoom=786

// 362:24
[com_24]
type=model
x=347
y=167
width=4
height=23
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=1
modelorigin_y=0
modelangle_x=512
modelangle_y=2036
modelangle_z=0
modelzoom=786

// 362:25
[com_25]
type=model
x=294
y=146
width=23
height=4
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=751

// 362:26
[com_26]
type=model
x=304
y=146
width=23
height=4
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=751

// 362:27
[com_27]
type=model
x=325
y=146
width=23
height=4
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=751

// 362:28
[com_28]
type=model
x=322
y=167
width=17
height=3
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=1012

// 362:29
[com_29]
type=model
x=332
y=167
width=17
height=3
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=1012

// 362:30
[com_30]
type=model
x=321
y=188
width=23
height=4
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=751

// 362:31
[com_31]
type=model
x=326
y=188
width=23
height=4
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=530
modelangle_y=502
modelangle_z=0
modelzoom=751

// 362:32
[com_32]
type=model
x=347
y=174
width=3
height=13
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=-1
modelorigin_y=0
modelangle_x=512
modelangle_y=1017
modelangle_z=0
modelzoom=1254

// 362:33
[com_33]
type=model
x=275
y=218
width=13
height=12
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=1
modelorigin_y=-3
modelangle_x=544
modelangle_y=605
modelangle_z=0
modelzoom=1351

// 362:34
[com_34]
type=model
x=249
y=85
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2023

// 362:35
[com_35]
type=model
x=229
y=109
width=12
height=13
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=2
modelorigin_y=1
modelangle_x=519
modelangle_y=1107
modelangle_z=0
modelzoom=1351

// 362:36
[com_36]
type=model
x=254
y=212
width=13
height=12
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=1
modelorigin_y=-3
modelangle_x=567
modelangle_y=632
modelangle_z=0
modelzoom=1351

// 362:37
[com_37]
type=model
x=229
y=102
width=12
height=13
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=2
modelorigin_y=-1
modelangle_x=530
modelangle_y=951
modelangle_z=0
modelzoom=1351

// 362:38
[com_38]
type=model
x=224
y=93
width=14
height=14
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=2
modelorigin_y=-2
modelangle_x=531
modelangle_y=861
modelangle_z=0
modelzoom=1351

// 362:39
[com_39]
type=model
x=221
y=87
width=14
height=14
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=2
modelorigin_y=-2
modelangle_x=531
modelangle_y=861
modelangle_z=0
modelzoom=1351

// 362:40
[com_40]
type=model
x=216
y=80
width=14
height=14
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=2
modelorigin_y=-2
modelangle_x=532
modelangle_y=834
modelangle_z=0
modelzoom=1351

// 362:41
[com_41]
type=model
x=196
y=52
width=13
height=14
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=2
modelorigin_y=-2
modelangle_x=537
modelangle_y=888
modelangle_z=0
modelzoom=1351

// 362:42
[com_42]
type=model
x=232
y=161
width=26
height=25
layer=mainmodal_window_content
model=if_trail_xmark
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=1778
modelangle_z=0
modelzoom=1215

// 362:43
[com_43]
type=model
x=195
y=49
width=13
height=14
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=2
modelorigin_y=-2
modelangle_x=537
modelangle_y=888
modelangle_z=0
modelzoom=1351

// 362:44
[com_44]
type=model
x=248
y=210
width=14
height=13
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=1
modelorigin_y=-3
modelangle_x=552
modelangle_y=650
modelangle_z=0
modelzoom=1351

// 362:45
[com_45]
type=model
x=227
y=116
width=12
height=13
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=2
modelorigin_y=1
modelangle_x=512
modelangle_y=1110
modelangle_z=0
modelzoom=1351

// 362:46
[com_46]
type=model
x=217
y=129
width=12
height=13
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=2
modelorigin_y=1
modelangle_x=512
modelangle_y=1110
modelangle_z=0
modelzoom=1351

// 362:47
[com_47]
type=model
x=212
y=140
width=13
height=14
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=2
modelorigin_y=1
modelangle_x=512
modelangle_y=1171
modelangle_z=0
modelzoom=1351

// 362:48
[com_48]
type=model
x=215
y=135
width=12
height=13
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=2
modelorigin_y=1
modelangle_x=512
modelangle_y=1110
modelangle_z=0
modelzoom=1351

// 362:49
[com_49]
type=model
x=258
y=214
width=14
height=13
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=1
modelorigin_y=-3
modelangle_x=552
modelangle_y=650
modelangle_z=0
modelzoom=1351

// 362:50
[com_50]
type=model
x=267
y=216
width=13
height=12
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=1
modelorigin_y=-3
modelangle_x=552
modelangle_y=624
modelangle_z=0
modelzoom=1351

// 362:51
[com_51]
type=model
x=285
y=219
width=12
height=10
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=0
modelorigin_y=-3
modelangle_x=579
modelangle_y=545
modelangle_z=0
modelzoom=1351

// 362:52
[com_52]
type=model
x=291
y=220
width=14
height=12
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=1
modelorigin_y=-3
modelangle_x=621
modelangle_y=654
modelangle_z=0
modelzoom=1351

// 362:53
[com_53]
type=model
x=298
y=223
width=14
height=13
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=1
modelorigin_y=-2
modelangle_x=641
modelangle_y=712
modelangle_z=0
modelzoom=1351

// 362:54
[com_54]
type=model
x=333
y=235
width=14
height=13
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=1
modelorigin_y=-2
modelangle_x=652
modelangle_y=743
modelangle_z=0
modelzoom=1351

// 362:55
[com_55]
type=model
x=340
y=245
width=14
height=12
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=2
modelorigin_y=-2
modelangle_x=670
modelangle_y=825
modelangle_z=0
modelzoom=1351

// 362:56
[com_56]
type=model
x=189
y=184
width=24
height=11
layer=mainmodal_window_content
model=if_trail_waveicon
modelorigin_x=-1
modelorigin_y=-2
modelangle_x=537
modelangle_y=97
modelangle_z=0
modelzoom=1585

// 362:57
[com_57]
type=model
x=150
y=184
width=21
height=12
layer=mainmodal_window_content
model=if_trail_waveicon
modelorigin_x=0
modelorigin_y=-1
modelangle_x=464
modelangle_y=1919
modelangle_z=0
modelzoom=1639

// 362:58
[com_58]
type=model
x=169
y=183
width=23
height=9
layer=mainmodal_window_content
model=if_trail_waveicon
modelorigin_x=0
modelorigin_y=-2
modelangle_x=556
modelangle_y=2007
modelangle_z=0
modelzoom=1615

// 362:59
[com_59]
type=model
x=272
y=82
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2023

// 362:60
[com_60]
type=model
x=261
y=67
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2023

// 362:61
[com_61]
type=model
x=251
y=49
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2023

// 362:62
[com_62]
type=model
x=234
y=54
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2023

// 362:63
[com_63]
type=model
x=340
y=215
width=15
height=21
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=2097

// 362:64
[com_64]
type=model
x=200
y=227
width=21
height=12
layer=mainmodal_window_content
model=if_trail_waveicon
modelorigin_x=0
modelorigin_y=-1
modelangle_x=464
modelangle_y=1919
modelangle_z=0
modelzoom=1639

// 362:65
[com_65]
type=model
x=337
y=240
width=14
height=12
layer=mainmodal_window_content
model=if_trail_mapcoastborder_small
modelorigin_x=2
modelorigin_y=-2
modelangle_x=686
modelangle_y=863
modelangle_z=0
modelzoom=1351

// 362:66
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(trail_map17:mainmodal_window_background, trail_map17:mainmodal_window_border, trail_map17:mainmodal_window_content, trail_map17:mainmodal_window_close_button, "Treasure Map", 21218, string_1007)

// 362:67
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 362:68
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 362:69
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 362:70
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

