// 349:0
[map04fence01]
type=model
y=11
width=26
height=27
layer=map04layer
model=if_trail_mapfenceborder
modelorigin_x=0
modelorigin_y=-1
modelangle_x=297
modelangle_y=1833
modelangle_z=0
modelzoom=1079

// 349:1
[map04fence02]
type=model
x=-1
y=24
width=26
height=27
layer=map04layer
model=if_trail_mapfenceborder
modelorigin_x=0
modelorigin_y=-1
modelangle_x=297
modelangle_y=1833
modelangle_z=0
modelzoom=1079

// 349:2
[map04fence03]
type=model
x=30
y=102
width=28
height=28
layer=map04layer
model=if_trail_mapfenceborder
modelorigin_x=1
modelorigin_y=0
modelangle_x=359
modelangle_y=230
modelangle_z=0
modelzoom=1079

// 349:3
[map04fence04]
type=model
x=22
y=47
width=26
height=27
layer=map04layer
model=if_trail_mapfenceborder
modelorigin_x=0
modelorigin_y=-1
modelangle_x=297
modelangle_y=1833
modelangle_z=0
modelzoom=1079

// 349:4
[map04fence05]
type=model
x=55
y=69
width=3
height=36
layer=map04layer
model=if_trail_mapfenceborder
modelorigin_x=1
modelorigin_y=-1
modelangle_x=368
modelangle_y=4
modelangle_z=0
modelzoom=1079

// 349:5
[map04fence06]
type=model
x=16
y=102
width=28
height=28
layer=map04layer
model=if_trail_mapfenceborder
modelorigin_x=1
modelorigin_y=0
modelangle_x=359
modelangle_y=230
modelangle_z=0
modelzoom=1079

// 349:6
[map04fence07]
type=model
x=32
y=43
width=26
height=27
layer=map04layer
model=if_trail_mapfenceborder
modelorigin_x=0
modelorigin_y=-1
modelangle_x=297
modelangle_y=1833
modelangle_z=0
modelzoom=1079

// 349:7
[map04fence08]
type=model
x=13
y=83
width=26
height=26
layer=map04layer
model=if_trail_mapfenceborder
modelorigin_x=0
modelorigin_y=-2
modelangle_x=297
modelangle_y=1833
modelangle_z=0
modelzoom=1101

// 349:8
[map04fence09]
type=model
x=-2
y=83
width=16
height=16
layer=map04layer
model=if_trail_mapfenceborder
modelorigin_x=-1
modelorigin_y=-1
modelangle_x=377
modelangle_y=1265
modelangle_z=0
modelzoom=1900

// 349:9
[map04fence10]
type=model
x=-5
y=137
width=28
height=28
layer=map04layer
model=if_trail_mapfenceborder
modelorigin_x=1
modelorigin_y=0
modelangle_x=359
modelangle_y=230
modelangle_z=0
modelzoom=1079

// 349:10
[map04fence11]
type=model
x=-5
y=123
width=28
height=28
layer=map04layer
model=if_trail_mapfenceborder
modelorigin_x=1
modelorigin_y=0
modelangle_x=359
modelangle_y=230
modelangle_z=0
modelzoom=1079

// 349:11
[map04fence12]
type=model
x=24
y=35
width=26
height=27
layer=map04layer
model=if_trail_mapfenceborder
modelorigin_x=0
modelorigin_y=-1
modelangle_x=297
modelangle_y=1833
modelangle_z=0
modelzoom=1079

// 349:12
[map04fence13]
type=model
x=20
y=112
width=28
height=28
layer=map04layer
model=if_trail_mapfenceborder
modelorigin_x=1
modelorigin_y=0
modelangle_x=359
modelangle_y=230
modelangle_z=0
modelzoom=1079

// 349:13
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(trail_map04:mainmodal_window_background, trail_map04:mainmodal_window_border, trail_map04:mainmodal_window_content, trail_map04:mainmodal_window_close_button, "Treasure Map", 21218, string_1007)

// 349:14
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 349:15
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 349:16
[com_16]
type=graphic
width=496
height=293
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
graphic=rs3_parchment_scroll_background
colour=0xffffff
clickmask=no

// 349:17
[map04xmark]
type=model
x=323
y=116
width=24
height=23
layer=mainmodal_window_content
model=if_trail_xmark
modelorigin_x=0
modelorigin_y=0
modelangle_x=474
modelangle_y=1775
modelangle_z=0
modelzoom=1349

// 349:18
[map04bigtreeicon]
type=model
x=258
y=180
width=39
height=46
layer=mainmodal_window_content
model=if_trail_bigtreeicon
modelorigin_x=0
modelorigin_y=-4
modelangle_x=475
modelangle_y=0
modelangle_z=0
modelzoom=1875

// 349:19
[map04layer]
type=layer
x=148
y=49
width=200
height=210
layer=mainmodal_window_content

// 349:20
[map04fencesmall01]
type=model
x=170
y=132
width=3
height=11
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=1
modelorigin_y=0
modelangle_x=416
modelangle_y=2029
modelangle_z=0
modelzoom=1513

// 349:21
[map04fencesmall02]
type=model
x=170
y=124
width=9
height=10
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=1
modelorigin_y=0
modelangle_x=421
modelangle_y=239
modelangle_z=0
modelzoom=1429

// 349:22
[map04fencesmall03]
type=model
x=188
y=141
width=9
height=9
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=1
modelorigin_y=1
modelangle_x=421
modelangle_y=239
modelangle_z=0
modelzoom=1533

// 349:23
[mao04fencesmall04]
type=model
x=187
y=123
width=9
height=10
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=1
modelorigin_y=-1
modelangle_x=444
modelangle_y=1812
modelangle_z=0
modelzoom=1441

// 349:24
[map04fencesmall05]
type=model
x=194
y=132
width=3
height=11
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=1
modelorigin_y=0
modelangle_x=416
modelangle_y=2029
modelangle_z=0
modelzoom=1513

// 349:25
[map04fencesmall06]
type=model
x=177
y=123
width=13
height=3
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=470
modelangle_y=482
modelangle_z=0
modelzoom=1436

// 349:26
[map04fencesmall07]
type=model
x=177
y=148
width=13
height=3
layer=mainmodal_window_content
model=if_trail_mapfenceborder_short
modelorigin_x=0
modelorigin_y=1
modelangle_x=470
modelangle_y=482
modelangle_z=0
modelzoom=1436

// 349:27
[map04trail_footsteps01]
type=model
x=296
y=191
width=7
height=3
layer=mainmodal_window_content
model=if_trail_footsteps
modelorigin_x=-1
modelorigin_y=1
modelangle_x=526
modelangle_y=2046
modelangle_z=0
modelzoom=1713

// 349:28
[map04trail_footsteps02]
type=model
x=306
y=191
width=7
height=3
layer=mainmodal_window_content
model=if_trail_footsteps
modelorigin_x=-1
modelorigin_y=1
modelangle_x=526
modelangle_y=2046
modelangle_z=0
modelzoom=1713

// 349:29
[map04trail_footsteps04]
type=model
x=316
y=191
width=7
height=3
layer=mainmodal_window_content
model=if_trail_footsteps
modelorigin_x=-1
modelorigin_y=1
modelangle_x=526
modelangle_y=2046
modelangle_z=0
modelzoom=1713

// 349:30
[map04trail_footsteps05]
type=model
x=324
y=182
width=3
height=7
layer=mainmodal_window_content
model=if_trail_footsteps
modelorigin_x=-1
modelorigin_y=-1
modelangle_x=600
modelangle_y=482
modelangle_z=0
modelzoom=1713

// 349:31
[map04trail_footsteps06]
type=model
x=324
y=173
width=3
height=7
layer=mainmodal_window_content
model=if_trail_footsteps
modelorigin_x=-1
modelorigin_y=-1
modelangle_x=600
modelangle_y=482
modelangle_z=0
modelzoom=1713

// 349:32
[map04trail_footsteps07]
type=model
x=324
y=163
width=3
height=7
layer=mainmodal_window_content
model=if_trail_footsteps
modelorigin_x=-1
modelorigin_y=-1
modelangle_x=600
modelangle_y=482
modelangle_z=0
modelzoom=1713

// 349:33
[map04trail_footsteps08]
type=model
x=326
y=157
width=7
height=3
layer=mainmodal_window_content
model=if_trail_footsteps
modelorigin_x=-1
modelorigin_y=1
modelangle_x=526
modelangle_y=2046
modelangle_z=0
modelzoom=1713

// 349:34
[map04trail_footsteps09]
type=model
x=334
y=149
width=3
height=7
layer=mainmodal_window_content
model=if_trail_footsteps
modelorigin_x=-1
modelorigin_y=-1
modelangle_x=600
modelangle_y=482
modelangle_z=0
modelzoom=1713

// 349:35
[map04trail_footsteps10]
type=model
x=334
y=140
width=3
height=7
layer=mainmodal_window_content
model=if_trail_footsteps
modelorigin_x=-1
modelorigin_y=-1
modelangle_x=600
modelangle_y=482
modelangle_z=0
modelzoom=1713

// 349:36
[map04paces01]
type=text
x=301
y=178
width=11
height=11
layer=mainmodal_window_content
textfont=p11_full
text=3E
colour=0x4c3d26

// 349:37
[map04paces02]
type=text
x=328
y=169
width=13
height=11
layer=mainmodal_window_content
textfont=p11_full
text=3N
colour=0x4c3d26

// 349:38
[map04paces03]
type=text
x=318
y=146
width=9
height=11
layer=mainmodal_window_content
textfont=p11_full
text=1E
colour=0x4c3d26

// 349:39
[map04paces04]
type=text
x=338
y=140
width=14
height=11
layer=mainmodal_window_content
textfont=p11_full
text=2N
colour=0x4c3d26

// 349:40
[map04treeicon01]
type=model
x=304
y=116
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:41
[map04treeicon02]
type=model
x=236
y=165
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:42
[map04treeicon03]
type=model
x=230
y=127
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:43
[map04treeicon04]
type=model
x=249
y=123
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:44
[map04treeicon05]
type=model
x=271
y=109
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:45
[map04treeicon06]
type=model
x=244
y=95
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:46
[map04treeicon07]
type=model
x=192
y=49
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:47
[map04treeicon08]
type=model
x=285
y=85
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:48
[map04treeicon09]
type=model
x=273
y=62
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:49
[map04treeicon10]
type=model
x=256
y=51
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:50
[map04treeicon11]
type=model
x=237
y=70
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:51
[map04treeicon12]
type=model
x=198
y=194
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:52
[map04treeicon13]
type=model
x=187
y=225
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:53
[map04treeicon14]
type=model
x=241
y=225
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:54
[map04treeicon15]
type=model
x=280
y=235
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:55
[map04treeicon16]
type=model
x=324
y=230
width=17
height=23
layer=mainmodal_window_content
model=if_trail_treeicon
modelorigin_x=1
modelorigin_y=1
modelangle_x=467
modelangle_y=2031
modelangle_z=0
modelzoom=1943

// 349:56
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 349:57
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

