// 347:0
[map02trail_footsteps2]
type=model
x=89
y=139
width=9
height=3
layer=trail
model=if_trail_footsteps
modelorigin_x=-1
modelorigin_y=1
modelangle_x=437
modelangle_y=2030
modelangle_z=0
modelzoom=1416

// 347:1
[map02trail_footsteps3]
type=model
x=86
y=127
width=4
height=9
layer=trail
model=if_trail_footsteps
modelorigin_x=-2
modelorigin_y=-1
modelangle_x=514
modelangle_y=481
modelangle_z=0
modelzoom=1416

// 347:2
[map02trail_footsteps01]
type=model
x=102
y=139
width=9
height=3
layer=trail
model=if_trail_footsteps
modelorigin_x=-1
modelorigin_y=1
modelangle_x=437
modelangle_y=2030
modelangle_z=0
modelzoom=1416

// 347:3
[map02trail_footsteps4]
type=model
x=86
y=115
width=4
height=9
layer=trail
model=if_trail_footsteps
modelorigin_x=-2
modelorigin_y=-1
modelangle_x=514
modelangle_y=481
modelangle_z=0
modelzoom=1416

// 347:4
[map02trail_footsteps5]
type=model
x=86
y=104
width=4
height=9
layer=trail
model=if_trail_footsteps
modelorigin_x=-2
modelorigin_y=-1
modelangle_x=514
modelangle_y=481
modelangle_z=0
modelzoom=1416

// 347:5
[map02trail_footsteps6]
type=model
x=86
y=93
width=4
height=9
layer=trail
model=if_trail_footsteps
modelorigin_x=-2
modelorigin_y=-1
modelangle_x=514
modelangle_y=481
modelangle_z=0
modelzoom=1416

// 347:6
[map02trail_footsteps7]
type=model
x=86
y=82
width=4
height=9
layer=trail
model=if_trail_footsteps
modelorigin_x=-2
modelorigin_y=-1
modelangle_x=514
modelangle_y=481
modelangle_z=0
modelzoom=1416

// 347:7
[map02xmark]
type=model
x=146
y=33
width=24
height=23
layer=trail
model=if_trail_xmark
modelorigin_x=0
modelorigin_y=0
modelangle_x=474
modelangle_y=1775
modelangle_z=0
modelzoom=1349

// 347:8
[map02trail_footsteps8]
type=model
x=86
y=71
width=4
height=9
layer=trail
model=if_trail_footsteps
modelorigin_x=-2
modelorigin_y=-1
modelangle_x=514
modelangle_y=481
modelangle_z=0
modelzoom=1416

// 347:9
[map02trail_footsteps9]
type=model
x=90
y=67
width=9
height=4
layer=trail
model=if_trail_footsteps
modelorigin_x=1
modelorigin_y=-2
modelangle_x=548
modelangle_y=970
modelangle_z=0
modelzoom=1416

// 347:10
[map02trail_footsteps10]
type=model
x=101
y=67
width=9
height=4
layer=trail
model=if_trail_footsteps
modelorigin_x=1
modelorigin_y=-2
modelangle_x=548
modelangle_y=970
modelangle_z=0
modelzoom=1416

// 347:11
[map02trail_footsteps11]
type=model
x=113
y=67
width=9
height=4
layer=trail
model=if_trail_footsteps
modelorigin_x=1
modelorigin_y=-2
modelangle_x=548
modelangle_y=970
modelangle_z=0
modelzoom=1416

// 347:12
[map02trail_footsteps12]
type=model
x=125
y=67
width=9
height=4
layer=trail
model=if_trail_footsteps
modelorigin_x=1
modelorigin_y=-2
modelangle_x=548
modelangle_y=970
modelangle_z=0
modelzoom=1416

// 347:13
[map02trail_footsteps13]
type=model
x=137
y=67
width=9
height=4
layer=trail
model=if_trail_footsteps
modelorigin_x=1
modelorigin_y=-2
modelangle_x=548
modelangle_y=970
modelangle_z=0
modelzoom=1416

// 347:14
[map02trail_footsteps14]
type=model
x=148
y=67
width=9
height=4
layer=trail
model=if_trail_footsteps
modelorigin_x=1
modelorigin_y=-2
modelangle_x=548
modelangle_y=970
modelangle_z=0
modelzoom=1416

// 347:15
[map02trail_footsteps15]
type=model
x=157
y=58
width=3
height=8
layer=trail
model=if_trail_footsteps
modelorigin_x=-1
modelorigin_y=-2
modelangle_x=551
modelangle_y=517
modelangle_z=0
modelzoom=1416

// 347:16
[com_16]
type=text
x=122
y=139
width=11
height=11
layer=trail
textfont=p11_full
text=1N
colour=0x4c3d26

// 347:17
[map01paces2]
type=text
x=104
y=74
width=12
height=11
layer=trail
textfont=p11_full
text=6E
colour=0x4c3d26

// 347:18
[map01paces4]
type=text
x=95
y=128
width=16
height=11
layer=trail
textfont=p11_full
text=2W
colour=0x4c3d26

// 347:19
[map01paces3]
type=text
x=66
y=102
width=14
height=11
layer=trail
textfont=p11_full
text=6N
colour=0x4c3d26

// 347:20
[map02fence01]
type=model
x=155
y=20
width=4
height=45
layer=fence
model=if_trail_mapfenceborder
modelorigin_x=1
modelorigin_y=-1
modelangle_x=387
modelangle_y=3
modelangle_z=0
modelzoom=900

// 347:21
[map02fence02]
type=model
x=35
y=26
width=4
height=51
layer=fence
model=if_trail_mapfenceborder
modelorigin_x=1
modelorigin_y=-1
modelangle_x=387
modelangle_y=3
modelangle_z=0
modelzoom=800

// 347:22
[map02fence04]
type=model
x=37
y=76
width=3
height=44
layer=fence
model=if_trail_mapfenceborder
modelorigin_x=0
modelorigin_y=-1
modelangle_x=513
modelangle_y=0
modelangle_z=0
modelzoom=1000

// 347:23
[map02fence05]
type=model
x=36
y=118
width=35
height=37
layer=fence
model=if_trail_mapfenceborder
modelorigin_x=0
modelorigin_y=-2
modelangle_x=453
modelangle_y=1801
modelangle_z=0
modelzoom=900

// 347:24
[map02fence06]
type=model
x=68
y=149
width=54
height=4
layer=fence
model=if_trail_mapfenceborder
modelorigin_x=-1
modelorigin_y=-2
modelangle_x=513
modelangle_y=1533
modelangle_z=0
modelzoom=800

// 347:25
[map02fence08]
type=model
x=123
y=150
width=62
height=4
layer=fence
model=if_trail_mapfenceborder
modelorigin_x=-1
modelorigin_y=-3
modelangle_x=513
modelangle_y=1539
modelangle_z=0
modelzoom=700

// 347:26
[map02fence13]
type=model
x=157
y=64
width=26
height=27
layer=fence
model=if_trail_mapfenceborder
modelorigin_x=-1
modelorigin_y=0
modelangle_x=418
modelangle_y=778
modelangle_z=0
modelzoom=1200

// 347:27
[com_27]
type=model
x=117
y=143
width=4
height=8
layer=trail
model=if_trail_footsteps
modelorigin_x=-2
modelorigin_y=-2
modelangle_x=608
modelangle_y=490
modelangle_z=0
modelzoom=1416

// 347:28
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(trail_map02:mainmodal_window_background, trail_map02:mainmodal_window_border, trail_map02:mainmodal_window_content, trail_map02:mainmodal_window_close_button, "Treasure Map", 21218, string_1007)

// 347:29
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 347:30
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 347:31
[com_31]
type=graphic
width=496
height=293
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
graphic=rs3_parchment_scroll_background
colour=0xffffff
clickmask=no

// 347:32
[trail]
type=layer
x=133
y=5
width=229
height=225
layer=mainmodal_window_content

// 347:33
[fence]
type=layer
x=150
y=79
width=201
height=172
layer=mainmodal_window_content

// 347:34
[map02fence3]
type=model
x=181
y=89
width=4
height=63
layer=fence
model=if_trail_mapfenceborder
modelorigin_x=1
modelorigin_y=-1
modelangle_x=513
modelangle_y=3
modelangle_z=0
modelzoom=700

// 347:35
[com_35]
type=model
x=246
y=171
width=9
height=6
layer=mainmodal_window_content
model=if_trail_rockicon2
modelorigin_x=-1
modelorigin_y=-3
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2322

// 347:36
[com_36]
type=model
x=286
y=189
width=9
height=6
layer=mainmodal_window_content
model=if_trail_rockicon2
modelorigin_x=-1
modelorigin_y=-3
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2321

// 347:37
[com_37]
type=model
x=279
y=214
width=22
height=14
layer=mainmodal_window_content
model=if_trail_rockicon
modelorigin_x=-1
modelorigin_y=-2
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2087

// 347:38
[com_38]
type=model
x=298
y=197
width=22
height=14
layer=mainmodal_window_content
model=if_trail_rockicon
modelorigin_x=-1
modelorigin_y=-2
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2087

// 347:39
[com_39]
type=model
x=304
y=219
width=9
height=6
layer=mainmodal_window_content
model=if_trail_rockicon2
modelorigin_x=-1
modelorigin_y=-3
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2321

// 347:40
[com_40]
type=model
x=260
y=150
width=22
height=14
layer=mainmodal_window_content
model=if_trail_rockicon
modelorigin_x=-1
modelorigin_y=-2
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2087

// 347:41
[com_41]
type=model
x=263
y=112
width=22
height=14
layer=mainmodal_window_content
model=if_trail_rockicon
modelorigin_x=-1
modelorigin_y=-2
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2087

// 347:42
[com_42]
type=model
x=252
y=101
width=9
height=6
layer=mainmodal_window_content
model=if_trail_rockicon2
modelorigin_x=-1
modelorigin_y=-3
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2220

// 347:43
[com_43]
type=model
x=225
y=184
width=19
height=11
layer=mainmodal_window_content
model=if_trail_rockicon
modelorigin_x=-1
modelorigin_y=-1
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2419

// 347:44
[com_44]
type=model
x=192
y=139
width=19
height=11
layer=mainmodal_window_content
model=if_trail_rockicon
modelorigin_x=-1
modelorigin_y=-1
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2419

// 347:45
[com_45]
type=model
x=196
y=128
width=8
height=6
layer=mainmodal_window_content
model=if_trail_rockicon2
modelorigin_x=-1
modelorigin_y=-3
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2581

// 347:46
[com_46]
type=model
x=225
y=99
width=22
height=14
layer=mainmodal_window_content
model=if_trail_rockicon
modelorigin_x=-1
modelorigin_y=-2
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2087

// 347:47
[com_47]
type=model
x=232
y=120
width=9
height=6
layer=mainmodal_window_content
model=if_trail_rockicon2
modelorigin_x=-1
modelorigin_y=-3
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2220

// 347:48
[com_48]
type=model
x=217
y=163
width=19
height=11
layer=mainmodal_window_content
model=if_trail_rockicon
modelorigin_x=-1
modelorigin_y=-1
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2419

// 347:49
[com_49]
type=model
x=204
y=154
width=8
height=6
layer=mainmodal_window_content
model=if_trail_rockicon2
modelorigin_x=-1
modelorigin_y=-3
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2581

// 347:50
[com_50]
type=model
x=233
y=176
width=8
height=6
layer=mainmodal_window_content
model=if_trail_rockicon2
modelorigin_x=-1
modelorigin_y=-3
modelangle_x=500
modelangle_y=0
modelangle_z=0
modelzoom=2581

// 347:51
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 347:52
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

