// 368:0
[bailing_bucket_icon]
type=model
x=8
width=34
height=49
ymode=abs_centre
layer=bucket
model=inv_bucketminusfull
modelorigin_x=-1
modelorigin_y=18
modelangle_x=148
modelangle_y=1752
modelangle_z=0
modelzoom=618

// 368:1
[bailing_bucket_text]
type=text
width=70
widthmode=minus
heightmode=minus
xmode=abs_right
layer=bucket
textfont=museo_sans_11pt_regular
text=If the Trawler starts to fill with water, you can use bailing buckets to reduce the water level.
textlineheight=20
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 368:2
[swamp_paste_text]
type=text
width=70
widthmode=minus
heightmode=minus
xmode=abs_right
layer=paste
textfont=museo_sans_11pt_regular
text=If the Trawler springs a leak, you can use swamp paste to fix the hole.
textlineheight=20
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 368:3
[swamp_paste_icon]
type=model
width=54
height=42
ymode=abs_centre
layer=paste
model=inv_tarminusbaked
modelorigin_x=0
modelorigin_y=-2
modelangle_x=218
modelangle_y=115
modelangle_z=0
modelzoom=385

// 368:4
[rope_icon]
type=model
width=58
height=37
ymode=abs_centre
layer=rope
model=ship_pileofrope2
modelorigin_x=-5
modelorigin_y=7
modelangle_x=155
modelangle_y=2037
modelangle_z=0
modelzoom=591

// 368:5
[rope_text]
type=text
width=70
widthmode=minus
heightmode=minus
xmode=abs_right
layer=rope
textfont=museo_sans_11pt_regular
text=If the Trawler's nets break, you can use rope to repair them.
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 368:6
[water_title]
type=text
width=70
height=12
xmode=abs_centre
layer=water_bar
textfont=museo_sans_11pt_regular
text=Water
textalignh=1
textshadow=yes
colour=0x3366ff
transmitop10=yes
op10=  

// 368:7
[water_bar_fill]
type=rectangle
y=37
width=18
height=58
xmode=abs_centre
layer=water_bar
colour=0x0033cc
fill=yes
transmitop10=yes
op10= 

// 368:8
[water_bar_border]
type=rectangle
y=16
width=20
height=80
xmode=abs_centre
layer=water_bar
colour=0x3366ff
transmitop10=yes
op10= 

// 368:9
[activity_title]
type=text
height=13
widthmode=minus
xmode=abs_centre
layer=activity_bar
textfont=museo_sans_11pt_regular
text=Activity
textalignh=1
textshadow=yes
colour=0x009900
transmitop10=yes
op10=  

// 368:10
[activity_bar_fill]
type=rectangle
y=52
width=18
height=43
xmode=abs_centre
layer=activity_bar
colour=0x006600
fill=yes
transmitop10=yes
op10= 

// 368:11
[activity_bar_border]
type=rectangle
y=16
width=20
height=80
xmode=abs_centre
layer=activity_bar
colour=0x009900
transmitop10=yes
op10= 

// 368:12
[activity_bar]
type=layer
width=60
heightmode=minus
xmode=abs_right
layer=bars

// 368:13
[water_bar]
type=layer
x=60
width=60
heightmode=minus
xmode=abs_right
layer=bars

// 368:14
[water_bar_info_text]
type=text
width=120
height=40
widthmode=minus
layer=bars
textfont=museo_sans_11pt_regular
text=The blue "Water" bar shows much water the Trawler has taken on. Watch out! If the bar completely fills up you will sink!
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 368:15
[activity_bar_info_text]
type=text
width=120
height=68
widthmode=minus
ymode=abs_bottom
layer=bars
textfont=museo_sans_11pt_regular
text=The green "Activity" bar shows much you have contributed to this Trawler trip. If the bar ever becomes empty, you will be removed from the Trawler. You can fill the bar up by performing the following actions:
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 368:16
[bars]
type=layer
y=10
width=20
height=100
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 368:17
[rope]
type=layer
y=120
width=20
height=40
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 368:18
[paste]
type=layer
y=170
width=20
height=50
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 368:19
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(trawler_start:mainmodal_window_background, trawler_start:mainmodal_window_border, trawler_start:mainmodal_window_content, trawler_start:mainmodal_window_close_button, "Trawler: How To Play", 21218, string_1007)

// 368:20
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 368:21
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 368:22
[bucket]
type=layer
y=225
width=20
height=50
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 368:23
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 368:24
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

