// 19:0
[universe]
type=layer
width=758
height=356
xmode=abs_centre
onload=trh154_setup

// 19:1
[chest_1]
type=layer
x=-250
width=345
heightmode=minus
xmode=abs_centre
layer=universe

// 19:2
[chest_1_model]
type=model
width=345
height=224
xmode=abs_centre
ymode=abs_centre
layer=chest_1
model=trh154_sunkentreasure_chest
modelorigin_x=8
modelorigin_y=60
modelangle_x=114
modelangle_y=1967
modelangle_z=0
modelzoom=600
modelanim=trh_chest_closed_idle

// 19:3
[chest_1_click]
type=layer
x=10
width=220
height=224
xmode=abs_centre
ymode=abs_centre
layer=chest_1
transmitop1=yes
op1=Open
opcursor0=cursor_open
onop=trh154_chest_click(0)

// 19:4
[chest_2]
type=layer
x=20
y=72
width=345
height=300
xmode=abs_centre
ymode=abs_bottom
layer=universe

// 19:5
[chest_3]
type=layer
x=240
width=345
heightmode=minus
xmode=abs_centre
layer=universe

// 19:6
[keybind_layer]
type=layer
layer=universe
transmitop1=yes
op1=Open
opcursor0=cursor_open
onop=trh154_chest_click(3)

// 19:7
[chest_2_model]
type=model
y=9
width=349
height=206
xmode=abs_centre
ymode=abs_centre
layer=chest_2
model=trh154_sunkentreasure_chest
modelorigin_x=-7
modelorigin_y=68
modelangle_x=114
modelangle_y=85
modelangle_z=0
modelzoom=600
modelanim=trh_chest_closed_idle

// 19:8
[chest_2_click]
type=layer
x=-10
width=220
height=224
xmode=abs_centre
ymode=abs_centre
layer=chest_2
transmitop1=yes
op1=Open
opcursor0=cursor_open
onop=trh154_chest_click(1)

// 19:9
[chest_3_model]
type=model
width=337
height=208
xmode=abs_centre
ymode=abs_centre
layer=chest_3
model=trh154_sunkentreasure_chest
modelorigin_x=-9
modelorigin_y=68
modelangle_x=114
modelangle_y=136
modelangle_z=0
modelzoom=600
modelanim=trh_chest_closed_idle

// 19:10
[chest_3_click]
type=layer
x=-10
width=220
height=224
xmode=abs_centre
ymode=abs_centre
layer=chest_3
transmitop1=yes
op1=Open
opcursor0=cursor_open
onop=trh154_chest_click(2)

