// 485:0
[universe]
type=layer
y=8
width=758
height=356
xmode=abs_centre
onload=trh181_on_load

// 485:1
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 485:2
[com_2]
type=graphic
width=800
height=600
xmode=abs_centre
ymode=abs_centre
layer=background_layer
hide=yes
noclickthrough=yes
graphic=trh181_background
colour=0xffffff
clickmask=no

// 485:3
[dragon_head]
type=graphic
y=-15
width=229
height=182
layer=background_layer
hide=yes
noclickthrough=yes
graphic=trh181_background_dragon_head
colour=0xffffff
clickmask=no

// 485:4
[dragon_tail]
type=graphic
x=420
y=200
width=285
height=133
layer=background_layer
hide=yes
noclickthrough=yes
graphic=trh181_background_dragon_tail
colour=0xffffff
clickmask=no

// 485:5
[main_layer]
type=layer
width=758
height=356
layer=universe

// 485:6
[promo_prize_button]
type=button
x=16
y=18
width=147
height=32
layer=main_layer
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=New Rewards
stylesheet=button_action_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use
onbuttonpressed=script17164(trh181_promo, false)

// 485:7
[gem_falling_layer]
type=layer
width=300
height=356
xmode=abs_centre
layer=universe

// 485:8
[probability_layer]
type=layer
width=758
height=356
layer=universe
hide=yes
noclickthrough=yes

// 485:9
[gemfall_layer]
type=layer
width=758
height=356
layer=universe
hide=yes

// 485:10
[com_10]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gemfall_layer
colour=0x000000
fill=yes
trans=100

// 485:11
[gemfall_timer]
type=layer
width=758
height=356
layer=universe

// 485:12
[progress_bar_layer]
type=layer
x=100
y=-15
width=200
height=154
widthmode=minus
ymode=abs_bottom
layer=main_layer
onload=trh181_progress_onload
onvartransmit=script16751
onvartransmitlist=trh_promos_var35

// 485:13
[gem_layer]
type=layer
width=300
heightmode=minus
xmode=abs_centre
layer=main_layer

// 485:14
[minimum_rarity_layer]
type=layer
width=300
height=90
xmode=abs_centre
ymode=abs_bottom
layer=main_layer
hide=yes

// 485:15
[info_holder]
type=layer
y=27
width=229
height=264
xmode=abs_right
layer=main_layer
hide=yes

// 485:16
[reroll_confirmation_layer]
type=layer
width=758
height=356
xmode=abs_centre
ymode=abs_centre
layer=main_layer
hide=yes
noclickthrough=yes

// 485:17
[com_17]
type=rectangle
widthmode=minus
heightmode=minus
layer=reroll_confirmation_layer
noclickthrough=yes
colour=0x000000
fill=yes
trans=44

// 485:18
[reroll_confirmation_dialogue]
type=layer
width=306
height=200
xmode=abs_centre
ymode=abs_centre
layer=reroll_confirmation_layer

// 485:19
[reroll_confirmation_bg]
type=layer
widthmode=minus
heightmode=minus
layer=reroll_confirmation_dialogue
onload=rs3_background_panel_on(event_com)

// 485:20
[reroll_confirmation_title]
type=text
y=10
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=reroll_confirmation_dialogue
noclickthrough=yes
textfont=notosans_18
text=Continue?
textalignh=1
textalignv=1

// 485:21
[reroll_confirmation_desc]
type=text
y=50
width=40
height=76
widthmode=minus
xmode=abs_centre
layer=reroll_confirmation_dialogue
noclickthrough=yes
textfont=notosans_14
text=This will change your current active modifier. Do you want to continue?<br><br>This will cost <col=^trh_highlight_colour>500 Oddments</col>.

// 485:22
[reroll_confirmation_dont_ask_again_layer]
type=layer
x=25
y=45
width=50
height=20
widthmode=minus
xmode=abs_right
ymode=abs_bottom
layer=reroll_confirmation_dialogue

// 485:23
[reroll_confirmation_back_button]
type=button
x=25
y=10
width=120
height=32
ymode=abs_bottom
layer=reroll_confirmation_dialogue
noclickthrough=yes
sprite.graphic=button_action_negative
text.text=Back
stylesheet=button_action_negative
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 485:24
[trh181_gemfall_title]
type=graphic
x=14
width=563
height=127
xmode=abs_centre
layer=gemfall_layer
noclickthrough=yes
graphic=trh181_gemfallplus_title_en
colour=0xffffff
clickmask=no

// 485:25
[reroll_confirmation_continue_button]
type=button
x=25
y=10
width=120
height=32
xmode=abs_right
ymode=abs_bottom
layer=reroll_confirmation_dialogue
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Continue
stylesheet=button_action_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=trh_overlay_op(4, -1)

// 485:26
[gemfall_glow_container]
type=layer
width=758
height=18
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gemfall_layer

// 485:27
[gemfall_glow_layer_1]
type=layer
x=-300
y=5
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_container
hide=yes

// 485:28
[gemfall_glow_layer_2]
type=layer
x=-175
y=5
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_container
hide=yes

// 485:29
[gemfall_glow_2]
type=graphic
width=196
height=190
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_layer_2
noclickthrough=yes
graphic=trh178_glow
colour=0xff6d00
clickmask=no

// 485:30
[gemfall_flare_2]
type=graphic
width=260
height=265
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_layer_2
colour=0x8c00ff
clickmask=no
ontimer=script16497(event_com, 1, 0, 100)

// 485:31
[gemfall_glow_layer_3]
type=layer
x=173
y=5
width=300
height=300
ymode=abs_centre
layer=gemfall_glow_container
hide=yes

// 485:32
[gemfall_glow_3]
type=graphic
width=196
height=190
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_layer_3
noclickthrough=yes
graphic=trh178_glow
colour=0xff6d00
clickmask=no

// 485:33
[gemfall_flare_3]
type=graphic
width=260
height=265
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_layer_3
colour=0x8c00ff
clickmask=no
ontimer=script16497(event_com, 1, 0, 100)

// 485:34
[gemfall_glow_layer_4]
type=layer
x=290
y=5
width=300
height=300
ymode=abs_centre
layer=gemfall_glow_container
hide=yes

// 485:35
[gemfall_glow_4]
type=graphic
width=196
height=190
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_layer_4
noclickthrough=yes
graphic=trh178_glow
colour=0xff6d00
clickmask=no

// 485:36
[gemfall_flare_4]
type=graphic
width=260
height=265
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_layer_4
colour=0x8c00ff
clickmask=no
ontimer=script16497(event_com, 1, 0, 100)

// 485:37
[gemfall_glow_layer_5]
type=layer
x=410
y=5
width=300
height=300
ymode=abs_centre
layer=gemfall_glow_container
hide=yes

// 485:38
[gemfall_glow_5]
type=graphic
width=196
height=190
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_layer_5
noclickthrough=yes
graphic=trh178_glow
colour=0xff6d00
clickmask=no

// 485:39
[gemfall_flare_5]
type=graphic
width=260
height=265
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_layer_5
colour=0x8c00ff
clickmask=no
ontimer=script16497(event_com, 1, 0, 100)

// 485:40
[gemfall_glow_layer_6]
type=layer
x=530
y=5
width=300
height=300
ymode=abs_centre
layer=gemfall_glow_container
hide=yes

// 485:41
[gemfall_glow_6]
type=graphic
width=196
height=190
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_layer_6
noclickthrough=yes
graphic=trh178_glow
colour=0xff6d00
clickmask=no

// 485:42
[gemfall_flare_6]
type=graphic
width=260
height=265
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_layer_6
colour=0x8c00ff
clickmask=no
ontimer=script16497(event_com, 1, 0, 100)

// 485:43
[gemfall_glow_1]
type=graphic
width=196
height=190
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_layer_1
noclickthrough=yes
graphic=trh178_glow
colour=0xff6d00
clickmask=no

// 485:44
[gemfall_container]
type=layer
width=736
height=18
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gemfall_layer

// 485:45
[gemfall_info]
type=text
y=90
height=32
widthmode=minus
xmode=abs_centre
layer=gemfall_container
noclickthrough=yes
textfont=notosans_bold_14
text=3 Prizes Remaining
textalignh=1
textalignv=1
onvartransmit=script16241
onvartransmitlist=trh_promos_var12

// 485:46
[gemfall_layer_1]
type=layer
x=-300
y=30
width=110
height=150
xmode=abs_centre
ymode=abs_centre
layer=gemfall_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=trh_overlay_op(1, 1)

// 485:47
[gemfall_layer_2]
type=layer
x=-180
y=30
width=110
height=150
xmode=abs_centre
ymode=abs_centre
layer=gemfall_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=trh_overlay_op(1, 2)

// 485:48
[gemfall_layer_3]
type=layer
x=-60
y=30
width=110
height=150
xmode=abs_centre
ymode=abs_centre
layer=gemfall_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=trh_overlay_op(1, 3)

// 485:49
[gemfall_layer_4]
type=layer
x=60
y=30
width=110
height=150
xmode=abs_centre
ymode=abs_centre
layer=gemfall_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=trh_overlay_op(1, 4)

// 485:50
[gemfall_layer_5]
type=layer
x=180
y=30
width=110
height=150
xmode=abs_centre
ymode=abs_centre
layer=gemfall_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=trh_overlay_op(1, 5)

// 485:51
[gemfall_layer_6]
type=layer
x=300
y=30
width=110
height=150
xmode=abs_centre
ymode=abs_centre
layer=gemfall_container
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=trh_overlay_op(1, 6)

// 485:52
[gemfall_gem_1]
type=graphic
width=82
height=100
xmode=abs_centre
layer=gemfall_layer_1
noclickthrough=yes
graphic="trh181_all_gem,2"
colour=0xffffff
clickmask=no

// 485:53
[gemfall_obj_1]
type=graphic
y=35
width=36
height=32
xmode=abs_centre
layer=gemfall_layer_1
noclickthrough=yes
colour=0xffffff
clickmask=no

// 485:54
[gemfall_prize_text_1]
type=text
height=60
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=gemfall_layer_1
noclickthrough=yes
textfont=notosans_12
textalignh=1

// 485:55
[gem_grid]
type=grid
width=300
height=113
xmode=abs_centre
layer=gem_layer
noclickthrough=yes
childspacing=0
layoutparams_x=3
layoutparams_y=1
layoutparams_mode=no

// 485:56
[com_56]
type=text
y=10
height=25
widthmode=minus
xmode=abs_centre
layer=minimum_rarity_layer
noclickthrough=yes
textfont=notosans_15
text=Available Rarity
textalignh=1
textalignv=1

// 485:57
[available_rarity_grid]
type=grid
width=70
height=25
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=minimum_rarity_layer
noclickthrough=yes
childspacing=0
layoutparams_x=5
layoutparams_y=1
layoutparams_mode=no

// 485:58
[gemfall_gem_2]
type=graphic
x=1
width=82
height=100
xmode=abs_centre
layer=gemfall_layer_2
noclickthrough=yes
graphic="trh181_all_gem,0"
colour=0xffffff
clickmask=no

// 485:59
[gemfall_obj_2]
type=graphic
x=2
y=35
width=36
height=32
xmode=abs_centre
layer=gemfall_layer_2
noclickthrough=yes
colour=0xffffff
clickmask=no

// 485:60
[gemfall_prize_text_2]
type=text
height=60
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=gemfall_layer_2
noclickthrough=yes
textfont=notosans_12
textalignh=1

// 485:61
[gemfall_gem_3]
type=graphic
x=1
width=82
height=100
xmode=abs_centre
layer=gemfall_layer_3
noclickthrough=yes
graphic="trh181_all_gem,0"
colour=0xffffff
clickmask=no

// 485:62
[gemfall_obj_3]
type=graphic
x=2
y=35
width=36
height=32
xmode=abs_centre
layer=gemfall_layer_3
noclickthrough=yes
colour=0xffffff
clickmask=no

// 485:63
[gemfall_prize_text_3]
type=text
height=60
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=gemfall_layer_3
noclickthrough=yes
textfont=notosans_12
textalignh=1

// 485:64
[gemfall_gem_4]
type=graphic
x=1
width=82
height=100
xmode=abs_centre
layer=gemfall_layer_4
noclickthrough=yes
graphic="trh181_all_gem,0"
colour=0xffffff
clickmask=no

// 485:65
[gemfall_obj_4]
type=graphic
x=2
y=35
width=36
height=32
xmode=abs_centre
layer=gemfall_layer_4
noclickthrough=yes
colour=0xffffff
clickmask=no

// 485:66
[gemfall_prize_text_4]
type=text
height=60
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=gemfall_layer_4
noclickthrough=yes
textfont=notosans_12
text= 
textalignh=1

// 485:67
[gemfall_gem_5]
type=graphic
x=1
width=82
height=100
xmode=abs_centre
layer=gemfall_layer_5
noclickthrough=yes
graphic="trh181_all_gem,0"
colour=0xffffff
clickmask=no

// 485:68
[gemfall_obj_5]
type=graphic
x=2
y=35
width=36
height=32
xmode=abs_centre
layer=gemfall_layer_5
noclickthrough=yes
colour=0xffffff
clickmask=no

// 485:69
[gemfall_prize_text_5]
type=text
height=60
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=gemfall_layer_5
noclickthrough=yes
textfont=notosans_12
textalignh=1

// 485:70
[gemfall_gem_6]
type=graphic
x=1
width=82
height=100
xmode=abs_centre
layer=gemfall_layer_6
noclickthrough=yes
graphic="trh181_all_gem,0"
colour=0xffffff
clickmask=no

// 485:71
[gemfall_obj_6]
type=graphic
x=2
y=35
width=36
height=32
xmode=abs_centre
layer=gemfall_layer_6
noclickthrough=yes
colour=0xffffff
clickmask=no

// 485:72
[gemfall_prize_text_6]
type=text
height=60
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=gemfall_layer_6
noclickthrough=yes
textfont=notosans_12
textalignh=1

// 485:73
[info_holder_background]
type=layer
widthmode=minus
heightmode=minus
layer=info_holder

// 485:74
[com_74]
type=graphic
width=229
height=264
xmode=abs_centre
ymode=abs_centre
layer=info_holder_background
noclickthrough=yes
graphic=trh181_panel
colour=0xffffff
clickmask=no

// 485:75
[info_layer]
type=layer
y=20
width=189
height=210
xmode=abs_centre
layer=info_holder

// 485:76
[gem_break_chance_layer]
type=layer
y=150
width=189
height=50
layer=info_layer

// 485:77
[gem_break_title]
type=text
width=20
height=25
widthmode=minus
xmode=abs_centre
layer=gem_break_chance_layer
noclickthrough=yes
textfont=notosans_bold_14
text=Gem Break Chance :
textalignh=1
textalignv=1

// 485:78
[gem_break_chance]
type=text
width=20
height=25
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=gem_break_chance_layer
noclickthrough=yes
textfont=notosans_14
text=%
textalignh=1
textalignv=1
onvartransmit=script17440
onvartransmitlist=trh_promos_var13,trh_promos_var12

// 485:79
[com_79]
type=rectangle
widthmode=minus
heightmode=minus
layer=probability_layer
noclickthrough=yes
colour=0x000000
fill=yes
trans=25

// 485:80
[gemfall_chance_layer]
type=layer
y=8
width=189
height=150
layer=info_layer

// 485:81
[gemfall_chance_title]
type=text
width=20
height=40
widthmode=minus
xmode=abs_centre
layer=gemfall_chance_layer
noclickthrough=yes
textfont=notosans_bold_14
text=Gemfall Progress :
textalignh=1
textalignv=1

// 485:82
[progress_container]
type=layer
y=41
width=150
height=24
xmode=abs_centre
layer=gemfall_chance_layer
onvartransmit=trh_update_bar(3451, event_com, trh181_overlay:progress_layer, 32, 0, 15, trh181_overlay:progress_text)
onvartransmitlist=trh_promos_var13

// 485:83
[gemfall_chance_info]
type=text
y=5
width=20
height=85
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=gemfall_chance_layer
noclickthrough=yes
textfont=notosans_14
textalignh=1
textalignv=1
onvartransmit=script17438
onvartransmitlist=trh_promos_var13

// 485:84
[gemfall_probabilities]
type=layer
width=573
height=356
xmode=abs_right
layer=probability_layer

// 485:85
[gemfall_probability_scroll_bar]
type=layer
x=-2
y=18
width=21
height=28
heightmode=minus
xmode=abs_right
layer=gemfall_probabilities

// 485:86
[gemfall_probability_scroll_layer]
type=layer
y=16
width=22
height=16
widthmode=minus
heightmode=minus
layer=gemfall_probabilities

// 485:87
[gemfall_probability_content]
type=layer
width=22
height=356
widthmode=minus
layer=gemfall_probabilities

// 485:88
[gemfall_preview_layer]
type=layer
width=186
heightmode=minus
layer=probability_layer

// 485:89
[gemfall_preview_object_model]
type=model
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=gemfall_preview_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=552
modelangle_y=1644
modelangle_z=0
modelzoom=800
ontimer=script16015(event_com, -1)

// 485:90
[gemfall_preview_ragdoll_container]
type=layer
y=-10
width=166
height=230
xmode=abs_centre
ymode=abs_centre
layer=gemfall_preview_layer

// 485:91
[gemfall_preview_ragdoll_model]
type=model
y=-10
width=166
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gemfall_preview_ragdoll_container
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=552
modelangle_y=1644
modelangle_z=0
modelzoom=400
modelobjheight=230

// 485:92
[gemfall_preview_object]
type=graphic
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=gemfall_preview_layer
noclickthrough=yes
colour=0xffffff
clickmask=no
ontimer=script16015(event_com, -1)

// 485:93
[gemfall_preview_anim_layer]
type=layer
height=283
widthmode=minus
layer=gemfall_preview_layer

// 485:94
[gemfall_preview_dragger]
type=layer
y=-20
width=166
height=108
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gemfall_preview_layer

// 485:95
[gemfall_preview_load]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gemfall_preview_layer

// 485:96
[gemfall_preview_item]
type=text
y=290
width=10
height=28
widthmode=minus
xmode=abs_centre
layer=gemfall_preview_layer
noclickthrough=yes
textfont=notosans_12
text=PRIZE NAME
textalignh=1
textalignv=1

// 485:97
[gemfall_preview_price]
type=text
y=318
width=10
height=28
widthmode=minus
xmode=abs_centre
layer=gemfall_preview_layer
noclickthrough=yes
textfont=notosans_12
textalignh=1
textalignv=1

// 485:98
[gemfall_pet_layer]
type=model
y=73
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=gemfall_preview_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=552
modelangle_y=1644
modelangle_z=0
modelzoom=800

// 485:99
[gemfall_probability_back]
type=button
x=16
y=18
width=147
height=32
layer=gemfall_preview_layer
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Back
stylesheet=button_action_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onbuttonpressed=script17164(trh181_promo, true)

// 485:100
[gemfall_flare_1]
type=graphic
width=260
height=265
xmode=abs_centre
ymode=abs_centre
layer=gemfall_glow_layer_1
colour=0x8c00ff
clickmask=no
ontimer=script16497(event_com, 1, 0, 100)

// 485:101
[com_101]
type=graphic
width=150
height=24
xmode=abs_centre
layer=progress_container
graphic="trh178_progress_bar,0"
colour=0xffffff
clickmask=no

// 485:102
[progress_layer]
type=layer
width=150
height=24
ymode=abs_centre
layer=progress_container

// 485:103
[progress_bar_graphic]
type=graphic
width=210
height=24
ymode=abs_centre
layer=progress_layer
graphic="trh178_progress_bar,3"
colour=0xffffff
clickmask=no

// 485:104
[progress_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=progress_container
noclickthrough=yes
textfont=notosans_15
textalignh=1
textalignv=1

// 485:105
[progress_background_layer]
type=layer
x=19
y=54
width=43
height=25
widthmode=minus
layer=progress_bar_layer

// 485:106
[progress_layer_main]
type=layer
x=19
width=24
height=100
widthmode=minus
ymode=abs_bottom
layer=progress_bar_layer

// 485:107
[progress_join_layer]
type=layer
x=7
y=24
width=23
height=20
widthmode=minus
layer=progress_layer_main

// 485:108
[progress_join_bar_layer]
type=layer
x=7
y=22
width=23
height=20
widthmode=minus
layer=progress_layer_main

// 485:109
[progress_rewards_layer]
type=layer
x=7
y=28
width=10
height=55
widthmode=minus
layer=progress_layer_main

// 485:110
[progress_value_bounds_layer]
type=layer
x=7
y=3
width=30
height=19
widthmode=minus
layer=progress_layer_main
onmouserepeat=script16753(event_com)

// 485:111
[progress_value_graphic_layer]
type=layer
width=163
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=progress_value_bounds_layer

