// 300:0
[universe]
type=layer
y=8
widthmode=minus
heightmode=minus
xmode=abs_centre
onload=trh155_overlay_onload
onvartransmit=trh155_update_glow
onvartransmitlist=trh_promos_var12

// 300:1
[bonus_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 300:2
[bonus_panel]
type=layer
x=15
y=15
width=202
height=105
layer=bonus_layer
onvartransmit=trh155_update_bonus
onvartransmitlist=trh_promos_var12

// 300:3
[com_3]
type=graphic
width=202
height=105
layer=bonus_panel
noclickthrough=yes
graphic=trh155_bonus_panel
colour=0xffffff
clickmask=no

// 300:4
[bonus_remaining]
type=text
y=28
width=35
height=28
widthmode=minus
layer=bonus_panel
noclickthrough=yes
textfont=cinzel_13pt_bold
text=6 remaining
textalignh=1
textshadow=yes
colour=0xe9f623

// 300:5
[bonus_title]
type=text
y=6
width=35
height=28
widthmode=minus
layer=bonus_panel
noclickthrough=yes
textfont=cinzel_13pt_bold
text=Bonus Active
textalignh=1
textshadow=yes
colour=0xe9f623

// 300:6
[highlight_layer]
type=layer
width=176
height=64
layer=bonus_panel

// 300:7
[com_7]
type=graphic
width=82
height=100
layer=phoenix_lamp_large
noclickthrough=yes
graphic="trh_rarity_gems,3"
colour=0xffffff
clickmask=no

// 300:8
[phoenix_lamp_large_graphic]
type=graphic
x=2
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=phoenix_lamp_large
outline=1
colour=0xffffff
clickmask=no

// 300:9
[com_9]
type=graphic
width=82
height=100
layer=phoenix_lamp_huge
noclickthrough=yes
graphic="trh_rarity_gems,4"
colour=0xffffff
clickmask=no

// 300:10
[phoenix_lamp_huge_graphic]
type=graphic
x=2
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=phoenix_lamp_huge
outline=1
colour=0xffffff
clickmask=no

// 300:11
[com_11]
type=graphic
width=82
height=100
layer=phoenix_lamp_giant
noclickthrough=yes
graphic="trh_rarity_gems,5"
colour=0xffffff
clickmask=no

// 300:12
[phoenix_lamp_giant_graphic]
type=graphic
x=2
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=phoenix_lamp_giant
outline=1
colour=0xffffff
clickmask=no

// 300:13
[ticker_layer]
type=layer
width=7
height=309
widthmode=minus
layer=bonus_layer

// 300:14
[grid_1]
type=grid
width=85
height=303
xmode=abs_right
layer=ticker_layer
noclickthrough=yes
childspacing=0
layoutparams_x=1
layoutparams_y=3
layoutparams_mode=no

// 300:15
[phoenix_lamp_giant]
type=layer
width=80
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=grid_1
transmitop1=yes
op1=Information
opcursor0=cursor_info

// 300:16
[phoenix_lamp_huge]
type=layer
width=80
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=grid_1
transmitop1=yes
op1=Information
opcursor0=cursor_info

// 300:17
[phoenix_lamp_large]
type=layer
width=80
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=grid_1
transmitop1=yes
op1=Information
opcursor0=cursor_info

// 300:18
[header_layer]
type=layer
y=20
width=344
height=88
xmode=abs_centre
ymode=abs_bottom
layer=universe

// 300:19
[header_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=header_layer

// 300:20
[bonus_bar_background]
type=graphic
width=344
height=88
xmode=abs_centre
ymode=abs_centre
layer=header_background_layer
noclickthrough=yes
graphic=trh155_bar_panel
colour=0xffffff
clickmask=no

// 300:21
[bonus_progress_bar_layer]
type=layer
y=22
width=248
height=22
xmode=abs_centre
ymode=abs_bottom
layer=header_background_layer
onload=script14459("Fill the bar to claim a bonus.", event_com, null)

// 300:22
[bonus_progress_bar_title]
type=text
y=24
width=4
height=17
widthmode=minus
xmode=abs_centre
layer=header_layer
noclickthrough=yes
textfont=cinzel_13pt_bold
text=Phoenix bonus
textalignh=1
textalignv=2
textshadow=yes
colour=0xe9f623

// 300:23
[bonus_progress_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_progress_bar_layer

// 300:24
[bonus_progress_mask_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=bonus_progress_layer

// 300:25
[com_25]
type=graphic
width=248
height=22
layer=bonus_progress_mask_layer
noclickthrough=yes
graphic=trh155_bar_progress
colour=0xffffff
clickmask=no

// 300:26
[bonus_progress_bar_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_progress_bar_layer
textfont=cinzel_12pt_bold
textalignh=1
textalignv=1
textshadow=yes

