// 886:0
[splash_screen]
type=layer
width=760
height=356
xmode=abs_centre
hide=yes
noclickthrough=yes
onload=script19259

// 886:1
[universe]
type=layer
y=8
width=758
height=356
xmode=abs_centre
onload=trh175_overlay_onload

// 886:2
[main_layer]
type=layer
width=758
height=356
layer=universe

// 886:3
[promo_prize_button]
type=button
x=16
y=6
width=147
height=32
xmode=abs_right
layer=main_layer
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Promo Prizes
stylesheet=button_action_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use
onbuttonpressed=script17164(trh175_promo, false)

// 886:4
[probability_layer]
type=layer
width=758
height=356
hide=yes
noclickthrough=yes

// 886:5
[header_layer]
type=layer
y=2
width=262
height=42
xmode=abs_centre
layer=universe

// 886:6
[header_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=header_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 886:7
[bonus_progress_bar_title]
type=text
y=2
width=4
height=17
widthmode=minus
xmode=abs_centre
layer=header_layer
noclickthrough=yes
textfont=cinzel_13pt_bold
text=Harvest Bonus
textalignh=1
textalignv=2
textshadow=yes
colour=0xda8f23

// 886:8
[bonus_progress_bar_layer]
type=layer
y=2
width=4
height=22
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=header_layer
onload=script14459("Fill the bar to claim a bonus.", event_com, null)

// 886:9
[bonus_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=universe
hide=yes
noclickthrough=yes

// 886:10
[bonus_window]
type=layer
width=332
height=220
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_layer
noclickthrough=yes
onload=script8420(trh175_overlay:bonus_window_background, trh175_overlay:bonus_window_frame, trh175_overlay:bonus_window_content, null, "", 21259, null)

// 886:11
[bonus_window_background]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_window

// 886:12
[bonus_window_content]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_window

// 886:13
[bonus_window_frame]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_window

// 886:14
[bonus_title_layer]
type=layer
height=24
widthmode=minus
xmode=abs_centre
layer=bonus_window_content

// 886:15
[bonus_title]
type=text
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_title_layer
noclickthrough=yes
textfont=cinzel_15pt_bold
text=Select a bonus
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 886:16
[bonus_option_layer]
type=layer
height=188
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_window_content

// 886:17
[bonus_option_1_layer]
type=layer
x=-104
width=200
height=10
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script11767(1)
onop=trh175_overlay_op(1, 1)
onvartransmitlist=trh_promos_var8

// 886:18
[bonus_option_1_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_1_layer
onload=script10896(event_com, null, rs3tli_content_container)

// 886:19
[bonus_option_2_layer]
type=layer
x=104
width=200
height=10
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script11767(2)
onop=trh175_overlay_op(1, 2)
onvartransmitlist=trh_promos_var8

// 886:20
[bonus_option_2_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_2_layer
onload=script10896(event_com, null, rs3tli_content_container)

// 886:21
[bonus_option_1_content_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_1_layer

// 886:22
[bonus_option_1_build_layer]
type=layer
y=16
width=170
height=110
xmode=abs_centre
layer=bonus_option_1_content_layer

// 886:23
[bonus_option_1_title_text]
type=text
height=16
widthmode=minus
xmode=abs_centre
layer=bonus_option_1_content_layer
noclickthrough=yes
textfont=cinzel_15pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xda8f23

// 886:24
[bonus_option_1_info_text]
type=text
height=40
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_option_1_content_layer
noclickthrough=yes
textfont=museo_sans_11pt_regular
textlineheight=13
textalignh=1
textshadow=yes

// 886:25
[bonus_option_2_content_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_2_layer

// 886:26
[bonus_option_2_build_layer]
type=layer
y=16
width=170
height=110
xmode=abs_centre
layer=bonus_option_2_content_layer

// 886:27
[bonus_option_2_title_text]
type=text
height=16
widthmode=minus
xmode=abs_centre
layer=bonus_option_2_content_layer
noclickthrough=yes
textfont=cinzel_15pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xda8f23

// 886:28
[bonus_option_2_info_text]
type=text
height=40
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_option_2_content_layer
noclickthrough=yes
textfont=museo_sans_11pt_regular
textlineheight=13
textalignh=1
textshadow=yes

// 886:29
[bonus_progress_back_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bonus_progress_bar_layer

// 886:30
[back_right]
type=graphic
y=6
width=8
height=12
heightmode=minus
xmode=abs_right
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,5"
colour=0xffffff
clickmask=no

// 886:31
[back_rightbot]
type=graphic
width=8
height=6
xmode=abs_right
ymode=abs_bottom
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,8"
colour=0xffffff
clickmask=no

// 886:32
[back_righttop]
type=graphic
width=8
height=6
xmode=abs_right
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,2"
colour=0xffffff
clickmask=no

// 886:33
[back_mid]
type=graphic
width=16
height=12
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,4"
colour=0xffffff
clickmask=no

// 886:34
[back_bot]
type=graphic
width=12
height=6
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,7"
colour=0xffffff
clickmask=no

// 886:35
[back_lefttop]
type=graphic
width=8
height=6
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,0"
colour=0xffffff
clickmask=no

// 886:36
[back_left]
type=graphic
width=8
height=12
heightmode=minus
ymode=abs_centre
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,3"
colour=0xffffff
clickmask=no

// 886:37
[back_leftbot]
type=graphic
width=8
height=6
ymode=abs_bottom
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,6"
colour=0xffffff
clickmask=no

// 886:38
[back_top]
type=graphic
width=12
height=6
widthmode=minus
xmode=abs_centre
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,1"
colour=0xffffff
clickmask=no

// 886:39
[bonus_progress_border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bonus_progress_bar_layer

// 886:40
[frame_rightbot]
type=graphic
width=8
height=6
xmode=abs_right
ymode=abs_bottom
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,8"
colour=0xffffff
clickmask=no

// 886:41
[frame_righttop]
type=graphic
width=8
height=6
xmode=abs_right
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,2"
colour=0xffffff
clickmask=no

// 886:42
[frame_top]
type=graphic
width=12
height=6
widthmode=minus
xmode=abs_centre
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,1"
colour=0xffffff
clickmask=no

// 886:43
[frame_lefttop]
type=graphic
width=8
height=6
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,0"
colour=0xffffff
clickmask=no

// 886:44
[frame_left]
type=graphic
width=8
height=8
heightmode=minus
ymode=abs_centre
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,3"
colour=0xffffff
clickmask=no

// 886:45
[frame_leftbot]
type=graphic
width=8
height=6
ymode=abs_bottom
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,6"
colour=0xffffff
clickmask=no

// 886:46
[frame_bot]
type=graphic
width=10
height=6
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,7"
colour=0xffffff
clickmask=no

// 886:47
[frame_right]
type=graphic
width=8
height=8
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,5"
colour=0xffffff
clickmask=no

// 886:48
[bonus_progress_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_progress_bar_layer

// 886:49
[bonus_progress_mask_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=bonus_progress_layer

// 886:50
[progress_start]
type=graphic
width=7
heightmode=minus
layer=bonus_progress_mask_layer
graphic="trh89_progress_bar_summoning,0"
colour=0x78c165
clickmask=no

// 886:51
[progress_mid]
type=graphic
x=7
width=14
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=bonus_progress_mask_layer
graphic="trh89_progress_bar_summoning,1"
colour=0x78c165
clickmask=no

// 886:52
[progress_end]
type=graphic
width=7
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=bonus_progress_mask_layer
graphic="trh89_progress_bar_summoning,2"
colour=0x78c165
clickmask=no

// 886:53
[bonus_progress_bar_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_progress_bar_layer
textfont=cinzel_12pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 886:54
[com_54]
type=rectangle
widthmode=minus
heightmode=minus
layer=probability_layer
noclickthrough=yes
colour=0x000000
fill=yes
trans=25

// 886:55
[probabilities_table]
type=layer
width=573
height=356
xmode=abs_right
layer=probability_layer

// 886:56
[probability_scroll_bar]
type=layer
x=-2
y=18
width=21
height=28
heightmode=minus
xmode=abs_right
layer=probabilities_table

// 886:57
[probability_scroll_layer]
type=layer
y=16
width=22
height=16
widthmode=minus
heightmode=minus
layer=probabilities_table

// 886:58
[probability_content]
type=layer
width=22
height=356
widthmode=minus
layer=probabilities_table

// 886:59
[preview_layer]
type=layer
width=184
heightmode=minus
layer=probability_layer

// 886:60
[preview_object_model]
type=model
y=4
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=preview_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800
ontimer=script16015(event_com, -1)

// 886:61
[preview_ragdoll_container]
type=layer
width=166
height=234
xmode=abs_centre
ymode=abs_centre
layer=preview_layer

// 886:62
[preview_ragdoll_model]
type=model
y=-10
width=166
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_ragdoll_container
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
modelobjheight=234

// 886:63
[preview_object]
type=graphic
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=preview_layer
noclickthrough=yes
colour=0xffffff
clickmask=no
ontimer=script16015(event_com, -1)

// 886:64
[preview_anim_layer]
type=layer
height=285
widthmode=minus
ymode=abs_centre
layer=preview_layer

// 886:65
[preview_dragger]
type=layer
y=-20
width=166
height=108
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_layer

// 886:66
[preview_load]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_layer

// 886:67
[preview_item]
type=text
y=295
width=10
height=56
widthmode=minus
xmode=abs_centre
layer=preview_layer
noclickthrough=yes
textfont=notosans_12
text=PRIZE NAME
textalignh=1

// 886:68
[pet_layer]
type=model
y=73
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=preview_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 886:69
[probability_back]
type=button
x=16
y=18
width=147
height=32
layer=preview_layer
noclickthrough=yes
sprite.graphic=button_action_neutral
text.text=Back
stylesheet=button_action_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onbuttonpressed=script17164(trh175_promo, true)

// 886:70
[splash_screen_bg_graphic]
type=graphic
x=-21
y=-145
width=800
height=600
layer=splash_screen
noclickthrough=yes
graphic=trh175_halloween25_background_yellow
colour=0xffffff
clickmask=no

// 886:71
[com_71]
type=rectangle
x=-10
width=780
heightmode=minus
layer=splash_screen
colour=0x000000
fill=yes
trans=75

// 886:72
[splash_title]
type=graphic
y=15
width=478
height=38
xmode=abs_centre
layer=splash_screen
noclickthrough=yes
graphic=trh175_title_en
colour=0xffffff
clickmask=no

// 886:73
[splash_preview]
type=layer
x=-220
y=-6
width=186
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=splash_screen

// 886:74
[splash_preview_ragdoll_container]
type=layer
width=166
height=234
xmode=abs_centre
ymode=abs_centre
layer=splash_preview

// 886:75
[splash_preview_ragdoll_model]
type=model
y=-10
width=166
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=splash_preview_ragdoll_container
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
modelobjheight=234

// 886:76
[splash_preview_dragger]
type=layer
y=-20
width=166
height=108
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=splash_preview

// 886:77
[splash_preview_load]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=splash_preview

// 886:78
[additional_npc_layer]
type=layer
y=-10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=splash_screen

// 886:79
[mask_obj_o]
type=model
x=366
y=78
width=32
height=32
layer=splash_screen
noclickthrough=yes
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 886:80
[mask_obj]
type=graphic
x=-66
y=92
width=108
height=96
xmode=abs_centre
layer=splash_screen
noclickthrough=yes
colour=0xffffff
clickmask=no

// 886:81
[dye_obj]
type=graphic
y=177
width=108
height=96
xmode=abs_centre
layer=splash_screen
noclickthrough=yes
colour=0xffffff
clickmask=no

// 886:82
[hoddments_obj]
type=graphic
x=66
y=94
width=108
height=96
xmode=abs_centre
layer=splash_screen
noclickthrough=yes
colour=0xffffff
clickmask=no

// 886:83
[splash_preview_title]
type=text
y=55
width=552
height=32
xmode=abs_centre
layer=splash_screen
noclickthrough=yes
textfont=notosans_bold_20
textalignh=1
textshadow=yes

// 886:84
[splash_preview_desc]
type=text
y=110
width=600
height=45
xmode=abs_centre
ymode=abs_centre
layer=splash_screen
noclickthrough=yes
textfont=notosans_bold_16
textalignh=1
textalignv=1
textshadow=yes

// 886:85
[splash_close]
type=button
y=10
width=200
height=32
xmode=abs_centre
ymode=abs_bottom
layer=splash_screen
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Play Now
stylesheet=button_action_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use
onbuttonpressed=script19257

// 886:86
[npc_model_1]
type=model
x=548
y=30
width=32
height=32
ymode=abs_bottom
layer=additional_npc_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 886:87
[npc_model_1_spotanim_1]
type=model
x=303
y=19
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=additional_npc_layer
model=null
modelorigin_x=0
modelorigin_y=9
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 886:88
[npc_model_1_spotanim_2]
type=model
y=18
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=additional_npc_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 886:89
[npc_model_2]
type=model
x=245
y=20
width=32
height=32
xmode=abs_right
ymode=abs_bottom
layer=additional_npc_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 886:90
[splash_text_1_backing]
type=graphic
width=464
height=80
xmode=abs_centre
ymode=abs_bottom
layer=additional_npc_layer
noclickthrough=yes
graphic=trh190_text_shadow
colour=0x000000
clickmask=no

