// 1913:0
[costume_revenant]
type=layer
x=10
y=37
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:1
[costume_spirit_hunter]
type=layer
x=115
y=37
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:2
[costume_reaver]
type=layer
x=220
y=37
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:3
[costume_chicken]
type=layer
x=325
y=37
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:4
[costume_builder]
type=layer
x=430
y=37
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:5
[costume_ringmaster]
type=layer
x=10
y=141
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:6
[costume_lederhosen]
type=layer
x=220
y=141
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:7
[costume_clown]
type=layer
x=115
y=141
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:8
[costume_jester]
type=layer
x=325
y=141
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:9
[info_top_panel_background]
type=layer
widthmode=minus
heightmode=minus
layer=info_top_panel
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:10
[info_top_title]
type=text
x=5
y=5
width=10
height=16
widthmode=minus
xmode=abs_centre
layer=info_top_panel
textfont=museo_sans_13pt_bold
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:11
[info_top_panel]
type=layer
x=10
width=20
height=95
widthmode=minus
layer=info_layer

// 1913:12
[com_12]
type=graphic
width=8192
height=8192
widthmode=proportion
heightmode=proportion
layer=spotlight_layer
graphic=rs3_parent_loadout_spotlight_glow
colour=0xffffff
clickmask=no

// 1913:13
[com_13]
type=graphic
width=8192
height=8192
widthmode=proportion
heightmode=proportion
ymode=abs_bottom
layer=spotlight_layer
graphic=rs3_parent_loadout_spotlight_glow
vflip=yes
colour=0xffffff
clickmask=no

// 1913:14
[com_14]
type=graphic
width=8192
height=8192
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=spotlight_layer
graphic=rs3_parent_loadout_spotlight_glow
hflip=yes
colour=0xffffff
clickmask=no

// 1913:15
[com_15]
type=graphic
width=8192
height=8192
widthmode=proportion
heightmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=spotlight_layer
graphic=rs3_parent_loadout_spotlight_glow
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1913:16
[preview_info_background]
type=layer
widthmode=minus
heightmode=minus
layer=preview_info
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:17
[preview_title]
type=text
y=10
height=32
widthmode=minus
xmode=abs_centre
layer=preview_info
textfont=museo_sans_17pt_bold
text=Ghostly Druid
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:18
[preview_text]
type=text
y=56
width=30
height=58
widthmode=minus
xmode=abs_centre
layer=preview_info
textfont=museo_sans_11pt_regular_multiline
text=Cost 1000<br>Allows 25 sweets, 7 per day.
textalignh=1
textalignv=1
textshadow=yes

// 1913:19
[make_layer]
type=layer
y=127
width=150
height=27
xmode=abs_centre
layer=preview_info

// 1913:20
[close_layer]
type=layer
y=164
width=150
height=27
xmode=abs_centre
layer=preview_info

// 1913:21
[spotlight_layer]
type=layer
x=40
y=45
width=136
height=230
layer=preview_layer

// 1913:22
[footlight_layer]
type=layer
x=40
y=266
width=136
height=40
layer=preview_layer

// 1913:23
[costume_fisher]
type=layer
x=430
y=141
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:24
[costume_guard]
type=layer
x=10
y=245
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:25
[costume_princess]
type=layer
x=115
y=245
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:26
[costume_druid]
type=layer
x=220
y=245
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:27
[costume_fremennik]
type=layer
x=325
y=245
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:28
[costume_farmer]
type=layer
x=430
y=245
width=100
height=100
layer=main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:29
[mainmodal_window]
type=layer
width=555
height=411
xmode=abs_centre
ymode=abs_centre
onload=script8420(trh131_costume:mainmodal_window_background, trh131_costume:mainmodal_window_border, trh131_costume:mainmodal_window_content, trh131_costume:mainmodal_window_close_button, "Make Costumes", 21218, string_1007)

// 1913:30
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1913:31
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=trh131_setup_costumes

// 1913:32
[main_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes

// 1913:33
[com_33]
type=text
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=main_layer
textfont=museo_sans_11pt_regular
text=Select a costume to preview it.
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 3)

// 1913:34
[preview_layer]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes

// 1913:35
[top_panel]
type=layer
y=9
width=200
height=20
xmode=abs_centre
layer=mainmodal_window_content

// 1913:36
[info_layer]
type=layer
x=10
y=35
width=20
height=45
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1913:37
[info_bottom_panel]
type=layer
x=10
y=200
width=20
height=110
widthmode=minus
layer=info_layer

// 1913:38
[help_button]
type=graphic
x=20
y=8
width=16
height=16
xmode=abs_right
layer=mainmodal_window_content
hide=yes
graphic="rs3_btn_custom_modal,3"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Help
onload=script4213(event_com)
onmouseover=graphic_swapper(event_com, "rs3_btn_custom_modal,4")
onmouseleave=graphic_swapper(event_com, "rs3_btn_custom_modal,3")

// 1913:39
[preview_model]
type=model
x=64
y=7
width=77
height=208
ymode=abs_centre
layer=preview_layer
model=oge_2014_druid_male1
modelorthog=yes
modelnodepth=yes
modelorigin_x=0
modelorigin_y=103
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=500

// 1913:40
[preview_info]
type=layer
x=85
y=10
width=220
height=148
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_layer

// 1913:41
[panel_background_1]
type=layer
widthmode=minus
heightmode=minus
layer=costume_princess
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:42
[princess_female]
type=model
y=-22
width=63
height=110
xmode=abs_centre
ymode=abs_centre
layer=costume_princess
hide=yes
model=ghosttrh_princess_f_head_chat
modelorthog=yes
modelorigin_x=-10
modelorigin_y=23
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:43
[panel_background_2]
type=layer
widthmode=minus
heightmode=minus
layer=costume_guard
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:44
[guard_female]
type=model
y=-4
width=49
height=65
xmode=abs_centre
ymode=abs_centre
layer=costume_guard
model=ghosttrh_guard_f_head01_chat
modelorigin_x=-6
modelorigin_y=1
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000

// 1913:45
[guard_male]
type=model
y=-4
width=41
height=65
xmode=abs_centre
ymode=abs_centre
layer=costume_guard
hide=yes
model=ghosttrh_guard_m_head01_chat
modelorigin_x=-5
modelorigin_y=1
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000

// 1913:46
[com_46]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_guard
textfont=museo_sans_13pt_bold
text=Guard
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:47
[panel_background_3]
type=layer
widthmode=minus
heightmode=minus
layer=costume_fremennik
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:48
[fremennik_female]
type=model
x=1
y=-4
width=56
height=75
xmode=abs_centre
ymode=abs_centre
layer=costume_fremennik
hide=yes
model=ghosttrh_fremennik_f_head01_chat
modelorigin_x=-5
modelorigin_y=6
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000

// 1913:49
[fremennik_male]
type=model
x=1
y=-4
width=56
height=75
xmode=abs_centre
ymode=abs_centre
layer=costume_fremennik
model=ghosttrh_fremennik_m_head01_chat
modelorigin_x=-5
modelorigin_y=6
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000

// 1913:50
[com_50]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_fremennik
textfont=museo_sans_13pt_bold
text=Fremennik
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:51
[costume_cost_fremennik]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_fremennik
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:52
[panel_background_4]
type=layer
widthmode=minus
heightmode=minus
layer=costume_druid
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:53
[druid_male]
type=model
y=-4
width=41
height=63
xmode=abs_centre
ymode=abs_centre
layer=costume_druid
hide=yes
model=ghosttrh_druid_m_head01_chat
modelorigin_x=-5
modelorigin_y=0
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000

// 1913:54
[druid_female]
type=model
y=-4
width=48
height=66
xmode=abs_centre
ymode=abs_centre
layer=costume_druid
model=ghosttrh_druid_f_head01_chat
modelorigin_x=-5
modelorigin_y=1
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000

// 1913:55
[com_55]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_druid
textfont=museo_sans_13pt_bold
text=Druid
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:56
[costume_cost_druid]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_druid
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:57
[panel_background_5]
type=layer
widthmode=minus
heightmode=minus
layer=costume_fisher
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:58
[fisher_male]
type=model
x=1
y=-4
width=78
height=79
xmode=abs_centre
ymode=abs_centre
layer=costume_fisher
model=ghosttrh_fisherman_m_head_chat
modelorigin_x=-8
modelorigin_y=5
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000

// 1913:59
[fisher_female]
type=model
x=2
y=-4
width=78
height=76
xmode=abs_centre
ymode=abs_centre
layer=costume_fisher
model=ghosttrh_fisherman_f_head_chat
modelorigin_x=-9
modelorigin_y=6
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000

// 1913:60
[com_60]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_fisher
textfont=museo_sans_13pt_bold
text=Fisher
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:61
[costume_cost_fisher]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_fisher
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:62
[panel_background_6]
type=layer
widthmode=minus
heightmode=minus
layer=costume_farmer
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:63
[farmer_male]
type=model
x=1
y=-4
width=48
height=68
xmode=abs_centre
ymode=abs_centre
layer=costume_farmer
hide=yes
model=ghosttrh_farmer_m_head01_chat
modelorigin_x=-5
modelorigin_y=2
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000

// 1913:64
[farmer_female]
type=model
y=-4
width=65
height=66
xmode=abs_centre
ymode=abs_centre
layer=costume_farmer
model=ghosttrh_farmer_f_head01_chat
modelorigin_x=-7
modelorigin_y=2
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000

// 1913:65
[com_65]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_farmer
textfont=museo_sans_13pt_bold
text=Farmer
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:66
[costume_cost_farmer]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_farmer
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:67
[princess_male]
type=model
y=-22
width=63
height=110
xmode=abs_centre
ymode=abs_centre
layer=costume_princess
model=ghosttrh_princess_m_head_chat
modelorthog=yes
modelorigin_x=-10
modelorigin_y=23
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:68
[com_68]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_princess
textfont=museo_sans_13pt_bold
text=Princess
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:69
[costume_cost_princess]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_princess
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:70
[costume_cost_guard]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_guard
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:71
[top_panel_background]
type=layer
widthmode=minus
heightmode=minus
layer=top_panel
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:72
[com_72]
type=text
x=10
widthmode=minus
heightmode=minus
layer=top_panel
textfont=museo_sans_11pt_regular_multiline
text=Ghostweave
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 3)

// 1913:73
[total_cloth]
type=text
x=10
widthmode=minus
heightmode=minus
xmode=abs_right
layer=top_panel
textfont=museo_sans_11pt_regular_multiline
textalignh=2
textalignv=1
textshadow=yes

// 1913:74
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1913:75
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1913:76
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_layer
onload=script7275(event_com)

// 1913:77
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_layer
onload=script7276(event_com)

// 1913:78
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_layer
onload=script7277(event_com)

// 1913:79
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_layer
hide=yes
onload=script7445(event_com)

// 1913:80
[close_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=close_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=trh131_setup_costumes

// 1913:81
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_layer
hide=yes
onload=script7572(event_com)

// 1913:82
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close_layer

// 1913:83
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Back
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 1913:84
[positive_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=make_layer
onload=script7041(event_com)

// 1913:85
[positive_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=make_layer
onload=script7042(event_com)

// 1913:86
[positive_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=make_layer
onload=script7044(event_com)

// 1913:87
[positive_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=make_layer
hide=yes
onload=script7047(event_com)

// 1913:88
[make_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=make_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1913:89
[make_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=make_layer
hide=yes
onload=script7060(event_com)

// 1913:90
[positive_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=make_layer

// 1913:91
[make_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_1
textfont=cinzel_13pt_bold
text=Make
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1913:92
[com_92]
type=graphic
width=8192
height=8192
widthmode=proportion
heightmode=proportion
layer=footlight_layer
graphic=rs3_parent_loadout_spotlight_glow
colour=0xffffff
clickmask=no

// 1913:93
[com_93]
type=graphic
width=8192
height=8192
widthmode=proportion
heightmode=proportion
ymode=abs_bottom
layer=footlight_layer
graphic=rs3_parent_loadout_spotlight_glow
vflip=yes
colour=0xffffff
clickmask=no

// 1913:94
[com_94]
type=graphic
width=8192
height=8192
widthmode=proportion
heightmode=proportion
xmode=abs_right
layer=footlight_layer
graphic=rs3_parent_loadout_spotlight_glow
hflip=yes
colour=0xffffff
clickmask=no

// 1913:95
[com_95]
type=graphic
width=8192
height=8192
widthmode=proportion
heightmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=footlight_layer
graphic=rs3_parent_loadout_spotlight_glow
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 1913:96
[info_bottom_panel_background]
type=layer
widthmode=minus
heightmode=minus
layer=info_bottom_panel
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:97
[info_bottom_title]
type=text
x=5
y=5
width=10
height=16
widthmode=minus
xmode=abs_centre
layer=info_bottom_panel
textfont=museo_sans_13pt_bold
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:98
[panel_background_7]
type=layer
widthmode=minus
heightmode=minus
layer=costume_lederhosen
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:99
[lederhosen_female]
type=model
x=-6
y=-5
width=75
height=72
xmode=abs_centre
ymode=abs_centre
layer=costume_lederhosen
hide=yes
model=trh131_ghost_laderhosen_f_head_chat
modelorthog=yes
modelorigin_x=-4
modelorigin_y=6
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:100
[lederhosen]
type=model
x=-6
y=-4
width=75
height=74
xmode=abs_centre
ymode=abs_centre
layer=costume_lederhosen
model=trh131_ghost_laderhosen_m_head_chat
modelorthog=yes
modelorigin_x=-4
modelorigin_y=5
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:101
[com_101]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_lederhosen
textfont=museo_sans_13pt_bold
text=Lederhosen
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:102
[costume_cost_lederhosen]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_lederhosen
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:103
[panel_background_8]
type=layer
widthmode=minus
heightmode=minus
layer=costume_builder
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:104
[builder_female]
type=model
x=-6
y=-5
width=60
height=72
xmode=abs_centre
ymode=abs_centre
layer=costume_builder
hide=yes
model=trh131_ghost_builder_f_head_chat
modelorthog=yes
modelorigin_x=-4
modelorigin_y=6
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:105
[builder]
type=model
x=-4
y=-5
width=61
height=76
xmode=abs_centre
ymode=abs_centre
layer=costume_builder
model=trh131_ghost_builder_m_head_chat
modelorthog=yes
modelorigin_x=-6
modelorigin_y=6
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:106
[com_106]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_builder
textfont=museo_sans_13pt_bold
text=Builder
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:107
[costume_cost_builder]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_builder
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:108
[panel_background_9]
type=layer
widthmode=minus
heightmode=minus
layer=costume_clown
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:109
[clown_female]
type=model
x=-2
y=-22
width=46
height=108
xmode=abs_centre
ymode=abs_centre
layer=costume_clown
hide=yes
model=trh131_ghost_clown_f_head_chat
modelorthog=yes
modelorigin_x=-8
modelorigin_y=23
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:110
[clown]
type=model
x=-2
y=-22
width=46
height=109
xmode=abs_centre
ymode=abs_centre
layer=costume_clown
model=trh131_ghost_clown_m_head_chat
modelorthog=yes
modelorigin_x=-8
modelorigin_y=23
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:111
[com_111]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_clown
textfont=museo_sans_13pt_bold
text=Clown
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:112
[costume_cost_clown]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_clown
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:113
[panel_background_10]
type=layer
widthmode=minus
heightmode=minus
layer=costume_ringmaster
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:114
[ringmaster_female]
type=model
x=-2
y=-26
width=84
height=113
xmode=abs_centre
ymode=abs_centre
layer=costume_ringmaster
hide=yes
model=trh131_ghost_ringmaster_f_head_chat
modelorthog=yes
modelorigin_x=-8
modelorigin_y=27
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:115
[ringmaster]
type=model
y=-24
width=78
height=114
xmode=abs_centre
ymode=abs_centre
layer=costume_ringmaster
model=trh131_ghost_ringmaster_m_head_chat
modelorthog=yes
modelorigin_x=-10
modelorigin_y=25
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:116
[com_116]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_ringmaster
textfont=museo_sans_13pt_bold
text=Ringmaster
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:117
[costume_cost_ringmaster]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_ringmaster
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:118
[panel_background_11]
type=layer
widthmode=minus
heightmode=minus
layer=costume_chicken
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:119
[chicken_female]
type=model
x=-4
y=-25
width=53
height=117
xmode=abs_centre
ymode=abs_centre
layer=costume_chicken
hide=yes
model=trh131_ghost_chicken_f_head_chat
modelorthog=yes
modelorigin_x=-6
modelorigin_y=26
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:120
[chicken]
type=model
x=-3
y=-20
width=52
height=108
xmode=abs_centre
ymode=abs_centre
layer=costume_chicken
model=trh131_ghost_chicken_m_head_chat
modelorthog=yes
modelorigin_x=-7
modelorigin_y=21
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:121
[com_121]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_chicken
textfont=museo_sans_13pt_bold
text=Chicken
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:122
[costume_cost_chicken]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_chicken
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:123
[panel_background_12]
type=layer
widthmode=minus
heightmode=minus
layer=costume_jester
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:124
[jester_female]
type=model
x=-8
y=-17
width=87
height=96
xmode=abs_centre
ymode=abs_centre
layer=costume_jester
hide=yes
model=trh131_ghost_jester_f_head_chat
modelorthog=yes
modelorigin_x=-2
modelorigin_y=18
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:125
[jester]
type=model
x=-8
y=-16
width=87
height=98
xmode=abs_centre
ymode=abs_centre
layer=costume_jester
model=trh131_ghost_jester_m_head_chat
modelorthog=yes
modelorigin_x=-2
modelorigin_y=17
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:126
[com_126]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_jester
textfont=museo_sans_13pt_bold
text=Jester
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:127
[costume_cost_jester]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_jester
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:128
[panel_background_13]
type=layer
widthmode=minus
heightmode=minus
layer=costume_revenant
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:129
[revenant_female]
type=model
x=-17
y=-18
width=119
height=102
xmode=abs_centre
ymode=abs_centre
layer=costume_revenant
hide=yes
model=trh131_ghost_revenant_m_head_chat
modelorthog=yes
modelorigin_x=7
modelorigin_y=14
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:130
[revenant]
type=model
x=-17
y=-17
width=119
height=102
xmode=abs_centre
ymode=abs_centre
layer=costume_revenant
model=trh131_ghost_revenant_m_head_chat
modelorthog=yes
modelorigin_x=7
modelorigin_y=14
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:131
[com_131]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_revenant
textfont=museo_sans_13pt_bold
text=Revenant
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:132
[costume_cost_revenant]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_revenant
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:133
[panel_background_14]
type=layer
widthmode=minus
heightmode=minus
layer=costume_spirit_hunter
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:134
[spirit_hunter_female]
type=model
x=-1
y=-39
width=76
height=134
xmode=abs_centre
ymode=abs_centre
layer=costume_spirit_hunter
hide=yes
model=trh131_ghost_hunter_f_head_chat
modelorthog=yes
modelorigin_x=-9
modelorigin_y=35
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:135
[spirit_hunter]
type=model
x=-1
y=-41
width=80
height=139
xmode=abs_centre
ymode=abs_centre
layer=costume_spirit_hunter
model=trh131_ghost_hunter_m_head_chat
modelorthog=yes
modelorigin_x=-9
modelorigin_y=38
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:136
[com_136]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_spirit_hunter
textfont=museo_sans_13pt_bold
text=Spirit Hunter
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:137
[costume_cost_spirit_hunter]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_spirit_hunter
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

// 1913:138
[panel_background_15]
type=layer
widthmode=minus
heightmode=minus
layer=costume_reaver
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1913:139
[reaver_female]
type=model
x=-3
y=-9
width=56
height=72
xmode=abs_centre
ymode=abs_centre
layer=costume_reaver
hide=yes
model=trh131_ghost_grimreaper_chat
modelorthog=yes
modelorigin_x=-7
modelorigin_y=5
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:140
[reaver]
type=model
x=-3
y=-8
width=56
height=72
xmode=abs_centre
ymode=abs_centre
layer=costume_reaver
model=trh131_ghost_grimreaper_chat
modelorthog=yes
modelorigin_x=-7
modelorigin_y=5
modelangle_x=0
modelangle_y=147
modelangle_z=0
modelzoom=3000
modelanim=chatcon1

// 1913:141
[com_141]
type=text
height=20
widthmode=minus
xmode=abs_centre
layer=costume_reaver
textfont=museo_sans_13pt_bold
text=Reaver
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, -1, 0)

// 1913:142
[costume_cost_reaver]
type=text
y=2
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=costume_reaver
textfont=museo_sans_11pt_regular_multiline
text=Cost: 1000
textalignh=1
textalignv=1
textshadow=yes

