// 1068:0
[ingredient_1_info_layer]
type=layer
x=65
width=230
height=99
xmode=abs_right
layer=ingredients
transmitop1=yes
op1=Information
opcursor0=cursor_info

// 1068:1
[ingredient_1_layer]
type=layer
height=99
widthmode=minus
layer=ingredients
onvartransmit=trh188_update_slot(1)
onvartransmitlist=trh188_var_1,trh188_var_1,trh188_var_1

// 1068:2
[ingredient_1_bg]
type=graphic
width=329
height=99
layer=ingredient_1_layer
noclickthrough=yes
graphic=trh188_bottle_bg
colour=0xffffff
clickmask=no

// 1068:3
[ingredient_1_potion_graphic]
type=graphic
x=50
width=82
widthmode=aspect
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=ingredient_1_layer
noclickthrough=yes
graphic=trh188_bottle_default
colour=0xffffff
clickmask=no

// 1068:4
[ingredient_2_info_layer]
type=layer
x=65
width=230
height=99
xmode=abs_right
ymode=abs_centre
layer=ingredients
transmitop1=yes
op1=Information
opcursor0=cursor_info

// 1068:5
[ingredient_2_layer]
type=layer
height=99
widthmode=minus
ymode=abs_centre
layer=ingredients
onvartransmit=trh188_update_slot(2)
onvartransmitlist=trh188_var_1,trh188_var_1,trh188_var_1

// 1068:6
[ingredient_2_bg]
type=graphic
widthmode=minus
heightmode=minus
layer=ingredient_2_layer
noclickthrough=yes
graphic=trh188_bottle_bg
colour=0xffffff
clickmask=no

// 1068:7
[ingredient_3_info_layer]
type=layer
x=65
width=230
height=99
xmode=abs_right
ymode=abs_bottom
layer=ingredients
transmitop1=yes
op1=Information
opcursor0=cursor_info

// 1068:8
[ingredient_3_layer]
type=layer
height=99
widthmode=minus
ymode=abs_bottom
layer=ingredients
onvartransmit=trh188_update_slot(3)
onvartransmitlist=trh188_var_1,trh188_var_1,trh188_var_2

// 1068:9
[ingredient_3_bg]
type=graphic
widthmode=minus
heightmode=minus
layer=ingredient_3_layer
noclickthrough=yes
graphic=trh188_bottle_bg
colour=0xffffff
clickmask=no

// 1068:10
[ingredient_3_potion_graphic]
type=graphic
x=50
width=99
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=ingredient_3_layer
noclickthrough=yes
graphic=trh188_bottle_default
colour=0xffffff
clickmask=no

// 1068:11
[ingredient_1_buff_graphic]
type=graphic
x=75
y=5
width=80
height=80
xmode=abs_right
ymode=abs_centre
layer=ingredient_1_layer
graphic=trh_multiplier_x2
colour=0xffffff
clickmask=no

// 1068:12
[ingredient_1_potion_disabled_graphic]
type=graphic
x=65
width=100
height=100
xmode=abs_right
layer=ingredient_1_layer
hide=yes
noclickthrough=yes
graphic=trh188_bottle_disabled
colour=0xffffff
clickmask=no

// 1068:13
[ingredient_1_countdown_bg]
type=graphic
x=230
y=9
width=32
height=32
layer=ingredient_1_layer
hide=yes
noclickthrough=yes
graphic=trh188_countdown_bg_active
colour=0xffffff
clickmask=no

// 1068:14
[ingredient_1_countdown_text]
type=text
x=73
y=14
width=20
height=20
xmode=abs_right
layer=ingredient_1_layer
hide=yes
noclickthrough=yes
textfont=notosans_18
text=3
textalignh=1
textalignv=1
textshadow=yes

// 1068:15
[ingredient_1_status]
type=text
x=30
y=10
width=152
height=32
layer=ingredient_1_layer
noclickthrough=yes
textfont=notosans_15
text=In the pot!
textalignh=1
textalignv=1
colour=0x392727

// 1068:16
[ingredient_1_active_icon]
type=graphic
x=65
y=13
width=31
height=31
ymode=abs_centre
layer=ingredient_1_layer
noclickthrough=yes
graphic=trh188_icon_key
colour=0xffffff
clickmask=no

// 1068:17
[ingredient_1_active_duration]
type=text
x=65
y=42
width=20
height=18
layer=ingredient_1_layer
noclickthrough=yes
textfont=notosans_17
text=2
textshadow=yes

// 1068:18
[ingredient_1_cooldown_icon]
type=graphic
x=113
y=13
width=31
height=31
ymode=abs_centre
layer=ingredient_1_layer
noclickthrough=yes
graphic=trh188_icon_time
colour=0xffffff
clickmask=no

// 1068:19
[ingredient_1_cooldown_duration]
type=text
x=114
y=42
width=20
height=18
layer=ingredient_1_layer
noclickthrough=yes
textfont=notosans_17
text=2
textshadow=yes

// 1068:20
[ingredient_1_op_layer]
type=layer
x=24
width=240
heightmode=minus
layer=ingredient_1_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script16974(-1, 1)

// 1068:21
[ingredient_3_buff_model]
type=model
x=96
y=28
width=48
height=44
xmode=abs_right
layer=ingredient_3_layer
model=object_astral_star_prismatic_large
modelorigin_x=6
modelorigin_y=5
modelangle_x=539
modelangle_y=0
modelangle_z=0
modelzoom=956

// 1068:22
[universe]
type=layer
y=8
width=760
height=363
xmode=abs_centre

// 1068:23
[cauldron]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=universe

// 1068:24
[cauldron_model]
type=model
y=30
width=187
height=173
xmode=abs_centre
ymode=abs_bottom
layer=cauldron
model=human_furniture_cauldron_ornate_cat
modelorigin_x=0
modelorigin_y=69
modelangle_x=162
modelangle_y=43
modelangle_z=0
modelzoom=300
modelanim=trh_chest_closed_idle
transmitop1=yes
op1=Stir Cauldron
onmouseover=script16972
onmouseleave=script16973
onop=script16974(-1, 5)

// 1068:25
[com_25]
type=rectangle
widthmode=minus
heightmode=minus
layer=reward_claim
colour=0x000000
fill=yes
trans=125

// 1068:26
[reward_claim_window]
type=layer
width=429
height=292
xmode=abs_centre
ymode=abs_centre
layer=reward_claim
noclickthrough=yes

// 1068:27
[reward_claim_bg]
type=graphic
width=429
height=292
xmode=abs_centre
ymode=abs_centre
layer=reward_claim_window
noclickthrough=yes
graphic=trh188_reward_claim_bg
colour=0xffffff
clickmask=no

// 1068:28
[reward_claim_title_layer]
type=layer
y=20
width=94
height=24
widthmode=minus
xmode=abs_centre
layer=reward_claim_window

// 1068:29
[reward_claim_prize_layer]
type=layer
y=45
width=94
height=114
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=reward_claim_window

// 1068:30
[bonus_reward_claim_button]
type=button
y=33
width=130
height=32
xmode=abs_centre
ymode=abs_bottom
layer=reward_claim_window
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Continue
stylesheet=button_action_positive
transmitop1=yes
op1=Continue
onop=script16974(-1, 4)

// 1068:31
[reward_claim_title]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reward_claim_title_layer
noclickthrough=yes
textfont=cinzel_18pt_bold
text=You have unlocked:
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 1068:32
[reward_claim_prize_1_background_layer]
type=layer
x=-63
width=294
height=294
ymode=abs_centre
layer=reward_claim_prize_layer

// 1068:33
[reward_claim_prize_1_layer]
type=layer
width=8192
widthmode=proportion
heightmode=minus
ymode=abs_centre
layer=reward_claim_prize_layer

// 1068:34
[com_34]
type=graphic
y=-15
width=294
height=294
xmode=abs_centre
ymode=abs_centre
layer=reward_claim_prize_1_background_layer
noclickthrough=yes
graphic=trh188_reward_claim_glow
colour=0xffffff
clickmask=no

// 1068:35
[com_35]
type=graphic
y=-15
width=294
height=294
xmode=abs_centre
ymode=abs_centre
layer=reward_claim_prize_1_background_layer
noclickthrough=yes
graphic=trh188_reward_claim_light
colour=0xffffff
clickmask=no

// 1068:36
[reward_claim_prize_1_content_layer]
type=layer
width=167
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reward_claim_prize_1_layer

// 1068:37
[reward_claim_prize_1_graphic]
type=graphic
y=-15
width=46
height=50
xmode=abs_centre
ymode=abs_centre
layer=reward_claim_prize_1_content_layer
noclickthrough=yes
graphic=trh188_icon_refill
colour=0xffffff
clickmask=no

// 1068:38
[reward_claim_prize_1_title_text]
type=text
height=34
widthmode=minus
xmode=abs_centre
layer=reward_claim_prize_1_content_layer
noclickthrough=yes
textfont=notosans_bold_13
textalignh=1
textalignv=1
textshadow=yes

// 1068:39
[reward_claim_prize_1_info_text]
type=text
width=15
height=72
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=reward_claim_prize_1_content_layer
noclickthrough=yes
textfont=notosans_12
textlineheight=15
textalignh=1

// 1068:40
[reward_claim_prize_1_amount_text]
type=text
x=52
y=41
width=32
height=32
layer=reward_claim_prize_1_content_layer
noclickthrough=yes
textfont=notosans_18
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xffff00

// 1068:41
[reward_claim_prize_2_background_layer]
type=layer
x=-63
width=294
height=294
xmode=abs_right
ymode=abs_centre
layer=reward_claim_prize_layer

// 1068:42
[reward_claim_prize_2_layer]
type=layer
width=8192
widthmode=proportion
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=reward_claim_prize_layer

// 1068:43
[com_43]
type=graphic
y=-15
width=294
height=294
xmode=abs_centre
ymode=abs_centre
layer=reward_claim_prize_2_background_layer
noclickthrough=yes
graphic=trh188_reward_claim_glow
colour=0xffffff
clickmask=no

// 1068:44
[reward_claim_prize_2_content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=reward_claim_prize_2_layer

// 1068:45
[reward_claim_prize_2_graphic]
type=graphic
y=-15
width=46
height=50
xmode=abs_centre
ymode=abs_centre
layer=reward_claim_prize_2_content_layer
noclickthrough=yes
graphic=trh188_icon_refill
colour=0xffffff
clickmask=no

// 1068:46
[reward_claim_prize_2_title_text]
type=text
height=34
widthmode=minus
xmode=abs_centre
layer=reward_claim_prize_2_content_layer
noclickthrough=yes
textfont=notosans_bold_13
textalignh=1
textalignv=1
textshadow=yes

// 1068:47
[reward_claim_prize_2_info_text]
type=text
width=15
height=71
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=reward_claim_prize_2_content_layer
noclickthrough=yes
textfont=notosans_12
textlineheight=15
textalignh=1

// 1068:48
[reward_claim_prize_2_amount_text]
type=text
x=52
y=41
width=32
height=32
layer=reward_claim_prize_2_content_layer
noclickthrough=yes
textfont=notosans_18
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xffff00

// 1068:49
[ingredients]
type=layer
x=-20
width=329
height=297
ymode=abs_centre
layer=universe
onload=trh188_interface_setup
onvartransmit=script16975
onvartransmitlist=trh188_var_3

// 1068:50
[spells]
type=layer
x=20
width=218
height=245
xmode=abs_right
ymode=abs_centre
layer=universe

// 1068:51
[spell_1]
type=layer
height=131
widthmode=minus
layer=spells

// 1068:52
[spell_1_bg]
type=graphic
widthmode=minus
heightmode=minus
layer=spell_1
noclickthrough=yes
graphic=trh188_spell_panel
colour=0xffffff
clickmask=no

// 1068:53
[spell_1_bg_disabled]
type=graphic
widthmode=minus
heightmode=minus
layer=spell_1
hide=yes
noclickthrough=yes
graphic=trh188_spell_panel_disabled
colour=0xffffff
clickmask=no

// 1068:54
[spell_1_title]
type=text
x=25
y=10
width=45
height=32
widthmode=minus
layer=spell_1
noclickthrough=yes
textfont=notosans_15
text=Refill the ingredient?
textshadow=yes

// 1068:55
[spell_1_button]
type=button
y=47
width=100
height=32
xmode=abs_centre
layer=spell_1
noclickthrough=yes
cantoggle=yes
sprite.graphic=button_action_neutral
text.text=Use
stylesheet=button_action_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script16987(1)
onvartransmitlist=trh188_var_2,trh44_valentines15_temp,trh188_var_1,trh188_var_1,trh188_var_1

// 1068:56
[spell_1_icon]
type=graphic
x=31
y=35
width=41
height=46
layer=spell_1
noclickthrough=yes
graphic=trh188_icon_refill
colour=0xffffff
clickmask=no

// 1068:57
[spell_2]
type=layer
height=131
widthmode=minus
ymode=abs_bottom
layer=spells

// 1068:58
[spell_1_amount]
type=text
x=21
y=29
width=32
height=32
layer=spell_1
noclickthrough=yes
textfont=notosans_18
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xffff00

// 1068:59
[spell_2_bg]
type=graphic
width=217
height=131
layer=spell_2
noclickthrough=yes
graphic=trh188_spell_panel
colour=0xffffff
clickmask=no

// 1068:60
[spell_2_bg_disabled]
type=graphic
widthmode=minus
heightmode=minus
layer=spell_2
hide=yes
noclickthrough=yes
graphic=trh188_spell_panel_disabled
colour=0xffffff
clickmask=no

// 1068:61
[spell_2_title]
type=text
x=25
y=10
width=45
height=32
widthmode=minus
layer=spell_2
noclickthrough=yes
textfont=notosans_15
text=Remix the ingredient?
textshadow=yes

// 1068:62
[spell_2_button]
type=button
y=47
width=100
height=32
xmode=abs_centre
layer=spell_2
noclickthrough=yes
cantoggle=yes
sprite.graphic=button_action_neutral
text.text=Use
stylesheet=button_action_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script16987(2)
onvartransmitlist=trh188_var_3,trh44_valentines15_temp,trh188_var_1,trh188_var_1,trh188_var_1

// 1068:63
[progress_bar]
type=layer
x=20
y=20
width=340
height=52
xmode=abs_right
ymode=abs_bottom
layer=universe
onvartransmit=script16981
onvartransmitlist=trh188_var_2

// 1068:64
[reward_claim]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=universe
hide=yes
noclickthrough=yes

// 1068:65
[progress_bar_container]
type=layer
x=38
width=199
height=28
ymode=abs_centre
layer=progress_bar
onvartransmit=trh_update_bar(46483, event_com, trh188:progress_bar_layer, 24, 0, 0, trh188:progress_bar_text)
onvartransmitlist=trh188_var_2

// 1068:66
[com_66]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_container
graphic="trh178_progress_bar,0"
colour=0xffffff
clickmask=no

// 1068:67
[progress_bar_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=progress_bar_container

// 1068:68
[progress_bar_graphic]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_layer
graphic="trh178_progress_bar,3"
colour=0xffffff
clickmask=no

// 1068:69
[progress_bar_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=progress_bar_container
noclickthrough=yes
textfont=notosans_15
text=0/4
textalignh=1
textalignv=1

// 1068:70
[com_70]
type=graphic
width=70
height=70
ymode=abs_centre
layer=progress_bar
noclickthrough=yes
graphic=trh178_keys
colour=0xffffff
clickmask=no

// 1068:71
[progress_bar_rewards]
type=layer
width=104
height=52
xmode=abs_right
ymode=abs_centre
layer=progress_bar

// 1068:72
[progress_bar_reward_1]
type=layer
width=52
height=52
ymode=abs_centre
layer=progress_bar_rewards

// 1068:73
[progress_bar_reward_1_bg]
type=graphic
width=52
height=52
layer=progress_bar_reward_1
noclickthrough=yes
graphic=trh188_progress_bar_reward_background
colour=0xffffff
clickmask=no

// 1068:74
[progress_bar_reward_1_graphic]
type=graphic
width=13
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_reward_1
noclickthrough=yes
graphic=trh188_icon_refill
colour=0xffffff
clickmask=no

// 1068:75
[progress_bar_reward_1_amount]
type=text
x=2
y=3
width=20
height=20
layer=progress_bar_reward_1
noclickthrough=yes
textfont=notosans_18
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xffff00

// 1068:76
[progress_bar_reward_2]
type=layer
width=52
height=52
xmode=abs_right
ymode=abs_centre
layer=progress_bar_rewards

// 1068:77
[progress_bar_reward_2_bg]
type=graphic
width=52
height=52
ymode=abs_centre
layer=progress_bar_reward_2
noclickthrough=yes
graphic=trh188_progress_bar_reward_background
colour=0xffffff
clickmask=no

// 1068:78
[progress_bar_reward_2_graphic]
type=graphic
width=13
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_reward_2
noclickthrough=yes
graphic=trh188_icon_refill
colour=0xffffff
clickmask=no

// 1068:79
[progress_bar_reward_2_amount]
type=text
x=2
y=3
width=20
height=20
layer=progress_bar_reward_2
noclickthrough=yes
textfont=notosans_18
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xffff00

// 1068:80
[ingredient_2_potion_graphic]
type=graphic
x=50
width=82
widthmode=aspect
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=ingredient_2_layer
noclickthrough=yes
graphic=trh188_bottle_default
colour=0xffffff
clickmask=no

// 1068:81
[ingredient_2_buff_graphic]
type=graphic
x=88
y=6
width=54
height=62
xmode=abs_right
ymode=abs_centre
layer=ingredient_2_layer
graphic="trh181_all_gem_shine,0"
colour=0xffffff
clickmask=no

// 1068:82
[ingredient_2_buff_graphic_2]
type=graphic
x=60
y=28
width=25
height=25
xmode=abs_centre
layer=ingredient_2_layer
noclickthrough=yes
graphic=trh187_rarity_plus
colour=0xffffff
clickmask=no

// 1068:83
[ingredient_2_potion_disabled_graphic]
type=graphic
x=65
width=100
height=100
xmode=abs_right
layer=ingredient_2_layer
hide=yes
noclickthrough=yes
graphic=trh188_bottle_disabled
colour=0xffffff
clickmask=no

// 1068:84
[ingredient_2_countdown_bg]
type=graphic
x=230
y=9
width=32
height=32
layer=ingredient_2_layer
hide=yes
noclickthrough=yes
graphic=trh188_countdown_bg_active
colour=0xffffff
clickmask=no

// 1068:85
[ingredient_2_countdown_text]
type=text
x=73
y=14
width=20
height=20
xmode=abs_right
layer=ingredient_2_layer
hide=yes
noclickthrough=yes
textfont=notosans_18
text=3
textalignh=1
textalignv=1
textshadow=yes

// 1068:86
[ingredient_2_status]
type=text
x=30
y=10
width=152
height=32
layer=ingredient_2_layer
noclickthrough=yes
textfont=notosans_15
text=In the pot!
textalignh=1
textalignv=1
colour=0x392727

// 1068:87
[ingredient_3_potion_disabled_graphic]
type=graphic
x=65
width=100
height=100
xmode=abs_right
layer=ingredient_3_layer
hide=yes
noclickthrough=yes
graphic=trh188_bottle_disabled
colour=0xffffff
clickmask=no

// 1068:88
[ingredient_2_active_icon]
type=graphic
x=65
y=13
width=31
height=31
ymode=abs_centre
layer=ingredient_2_layer
noclickthrough=yes
graphic=trh188_icon_key
colour=0xffffff
clickmask=no

// 1068:89
[ingredient_2_active_duration]
type=text
x=65
y=42
width=20
height=18
layer=ingredient_2_layer
noclickthrough=yes
textfont=notosans_17
text=2
textshadow=yes

// 1068:90
[ingredient_2_cooldown_icon]
type=graphic
x=113
y=13
width=31
height=31
ymode=abs_centre
layer=ingredient_2_layer
noclickthrough=yes
graphic=trh188_icon_time
colour=0xffffff
clickmask=no

// 1068:91
[ingredient_2_cooldown_duration]
type=text
x=114
y=42
width=20
height=18
layer=ingredient_2_layer
noclickthrough=yes
textfont=notosans_17
text=2
textshadow=yes

// 1068:92
[ingredient_2_op_layer]
type=layer
x=24
width=240
heightmode=minus
layer=ingredient_2_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script16974(-1, 2)

// 1068:93
[ingredient_3_countdown_bg]
type=graphic
x=230
y=9
width=32
height=32
layer=ingredient_3_layer
hide=yes
noclickthrough=yes
graphic=trh188_countdown_bg_active
colour=0xffffff
clickmask=no

// 1068:94
[ingredient_3_countdown_text]
type=text
x=73
y=14
width=20
height=20
xmode=abs_right
layer=ingredient_3_layer
hide=yes
noclickthrough=yes
textfont=notosans_18
text=3
textalignh=1
textalignv=1
textshadow=yes

// 1068:95
[ingredient_3_amount]
type=text
x=182
y=22
width=32
height=32
layer=ingredient_3_layer
noclickthrough=yes
textfont=notosans_18
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xffff00

// 1068:96
[ingredient_3_status]
type=text
x=30
y=10
width=152
height=32
layer=ingredient_3_layer
noclickthrough=yes
textfont=notosans_15
text=In the pot!
textalignh=1
textalignv=1
colour=0x392727

// 1068:97
[ingredient_3_active_icon]
type=graphic
x=65
y=13
width=31
height=31
ymode=abs_centre
layer=ingredient_3_layer
noclickthrough=yes
graphic=trh188_icon_key
colour=0xffffff
clickmask=no

// 1068:98
[ingredient_3_active_duration]
type=text
x=65
y=42
width=20
height=18
layer=ingredient_3_layer
noclickthrough=yes
textfont=notosans_17
text=2
textshadow=yes

// 1068:99
[ingredient_3_cooldown_icon]
type=graphic
x=113
y=13
width=31
height=31
ymode=abs_centre
layer=ingredient_3_layer
noclickthrough=yes
graphic=trh188_icon_time
colour=0xffffff
clickmask=no

// 1068:100
[ingredient_3_cooldown_duration]
type=text
x=114
y=42
width=20
height=18
layer=ingredient_3_layer
noclickthrough=yes
textfont=notosans_17
text=2
textshadow=yes

// 1068:101
[ingredient_3_op_layer]
type=layer
x=24
width=240
heightmode=minus
layer=ingredient_3_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script16974(-1, 3)

// 1068:102
[spell_2_icon]
type=graphic
x=31
y=35
width=41
height=46
layer=spell_2
noclickthrough=yes
graphic=trh188_icon_reroll
colour=0xffffff
clickmask=no

// 1068:103
[spell_2_amount]
type=text
x=21
y=29
width=32
height=32
layer=spell_2
noclickthrough=yes
textfont=notosans_18
text=0
textalignh=1
textalignv=1
textshadow=yes
colour=0xffff00

// 1068:104
[com_104]
type=graphic
y=-15
width=294
height=294
xmode=abs_centre
ymode=abs_centre
layer=reward_claim_prize_2_background_layer
noclickthrough=yes
graphic=trh188_reward_claim_light
colour=0xffffff
clickmask=no

