// 696:0
[trh169]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
onvartransmit=trh169_interface_init
onvartransmitlist=trh169_var,trh169_var,wof_trh_earned_thp,wof_trh_bought_thp,wof_main_5

// 696:1
[trh169_keybind_slay]
type=layer
x=-10
y=-10
layer=trh169_main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:2
[trh169_keybind_key]
type=layer
x=-10
y=-10
layer=trh169_main_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:3
[com_3]
type=graphic
y=-150
width=800
height=600
layer=trh169_main_layer
hide=yes
graphic=trh169_background
colour=0xffffff
clickmask=no

// 696:4
[trh169_slime_model_layer]
type=layer
y=40
width=230
height=230
xmode=abs_centre
layer=trh169_main_layer

// 696:5
[trh169_slime_model]
type=model
x=2
y=57
width=84
height=92
xmode=abs_centre
ymode=abs_centre
layer=trh169_slime_model_layer
model=mtxnov18_king_slime
modelorigin_x=-1
modelorigin_y=44
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3800
modelanim=mtxnov18_king_slime_idle

// 696:6
[trh169_slime_slay_layer]
type=layer
y=302
width=225
height=50
xmode=abs_centre
layer=trh169_main_layer

// 696:7
[trh169_slime_slay_button_click]
type=layer
width=175
height=27
xmode=abs_centre
ymode=abs_centre
layer=trh169_slime_slay_layer
transmitop1=yes
op1=Slay
onmouserepeat=trh169_tooltip(event_com)

// 696:8
[trh169_multiplier_display]
type=layer
x=240
y=166
width=220
height=60
xmode=abs_centre
layer=trh169_main_layer

// 696:9
[trh169_multiplier_slot_1]
type=text
x=30
width=50
height=10
heightmode=minus
ymode=abs_centre
layer=trh169_multiplier_display
textfont=museo_sans_15pt_bold
textalignh=1
textalignv=1
colour=0x151724

// 696:10
[trh169_multiplier_slot_2]
type=text
x=85
width=50
height=10
heightmode=minus
ymode=abs_centre
layer=trh169_multiplier_display
textfont=museo_sans_19pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xe0d471

// 696:11
[trh169_multiplier_slot_3]
type=text
x=140
width=50
height=10
heightmode=minus
ymode=abs_centre
layer=trh169_multiplier_display
textfont=museo_sans_15pt_bold
textalignh=1
textalignv=1
colour=0x151724

// 696:12
[trh169_key_layer]
type=layer
x=235
y=302
width=225
height=50
xmode=abs_centre
layer=trh169_main_layer

// 696:13
[trh169_feed_key_click]
type=layer
width=175
height=27
xmode=abs_centre
ymode=abs_centre
layer=trh169_key_layer
transmitop1=yes
op1=Unlock
opcursor0=cursor_unlock
onmouserepeat=trh169_tooltip(event_com)

// 696:14
[trh169_heart_layer]
type=layer
x=-235
y=302
width=225
height=50
xmode=abs_centre
layer=trh169_main_layer

// 696:15
[trh169_feed_hearts_click]
type=layer
width=175
height=27
xmode=abs_centre
ymode=abs_centre
layer=trh169_heart_layer
transmitop1=yes
op1=Feed
onmouserepeat=trh169_tooltip(event_com)

// 696:16
[trh169_chance_display]
type=layer
x=-225
y=147
width=248
height=95
xmode=abs_centre
layer=trh169_main_layer

// 696:17
[trh169_main_layer]
type=layer
widthmode=minus
heightmode=minus
layer=trh169

// 696:18
[trh169_title]
type=text
y=4
width=250
height=25
xmode=abs_centre
layer=trh169_main_layer
textfont=cinzel_15pt_bold
text=Feed The Slime
textalignh=1
textalignv=1
colour=0xe0d471

// 696:19
[trh169_main_desc]
type=text
y=25
width=750
height=32
xmode=abs_centre
layer=trh169_main_layer
textfont=museo_sans_13pt_regular
text=Feed your slime to grow it and increase the reward potential when you slay it.
textalignh=1
textalignv=1
colour=0x80969f

// 696:20
[trh169_prize_chances_title]
type=text
x=-240
y=63
width=252
height=25
xmode=abs_centre
layer=trh169_main_layer
textfont=cinzel_15pt_bold
text=Prize Chances
textalignh=1
textalignv=1
colour=0xe0d471

// 696:21
[trh169_prize_chances_desc]
type=text
x=-240
y=100
width=230
height=50
xmode=abs_centre
layer=trh169_main_layer
textfont=museo_sans_13pt_regular
text=Feed Hearts to increase your chance of a rare prize.
textlineheight=15
textalignh=1
colour=0x80969f

// 696:22
[trh169_slay_multiplier_title]
type=text
x=240
y=63
width=252
height=25
xmode=abs_centre
layer=trh169_main_layer
textfont=cinzel_15pt_bold
text=Slay Multiplier
textalignh=1
textalignv=1
colour=0xe0d471

// 696:23
[trh169_slay_multiplier_desc]
type=text
x=240
y=100
width=225
height=50
xmode=abs_centre
layer=trh169_main_layer
textfont=museo_sans_13pt_regular
text=Spend a key to unlock a prize and increase your slay multiplier.
textlineheight=15
textalignh=1
colour=0x80969f

// 696:24
[warning_confirm_block_layer]
type=layer
width=800
height=600
layer=trh169_main_layer
hide=yes
noclickthrough=yes

// 696:25
[heart_warning_confirm_layer]
type=layer
width=300
height=180
xmode=abs_centre
ymode=abs_centre
layer=trh169_main_layer
hide=yes

// 696:26
[first_heart_warning_confirm_layer]
type=layer
width=300
height=150
xmode=abs_centre
ymode=abs_centre
layer=trh169_main_layer
hide=yes

// 696:27
[slay_warning_confirm_layer]
type=layer
width=300
height=180
xmode=abs_centre
ymode=abs_centre
layer=trh169_main_layer
hide=yes

// 696:28
[key_warning_confirm_layer]
type=layer
width=300
height=180
xmode=abs_centre
ymode=abs_centre
layer=trh169_main_layer
hide=yes

// 696:29
[tutorial_layer]
type=layer
y=-20
width=555
height=392
xmode=abs_centre
ymode=abs_centre
layer=trh169_main_layer
hide=yes

// 696:30
[warning_confirm_block_layer_fade]
type=rectangle
y=5
widthmode=minus
heightmode=minus
layer=warning_confirm_block_layer
colour=0x000000
fill=yes
trans=75

// 696:31
[trh169_rarity_chance_1_text]
type=text
x=47
y=11
width=45
height=20
layer=trh169_chance_display
textfont=cinzel_13pt_bold
textalignv=1
textshadow=yes

// 696:32
[trh169_rarity_chance_2_text]
type=text
x=47
y=37
width=45
height=20
layer=trh169_chance_display
textfont=cinzel_13pt_bold
textalignv=1
textshadow=yes

// 696:33
[trh169_rarity_chance_3_text]
type=text
x=47
y=63
width=45
height=20
layer=trh169_chance_display
textfont=cinzel_13pt_bold
textalignv=1
textshadow=yes

// 696:34
[trh169_rarity_chance_4_text]
type=text
x=152
y=12
width=45
height=20
layer=trh169_chance_display
textfont=cinzel_13pt_bold
textalignv=1
textshadow=yes

// 696:35
[trh169_rarity_chance_5_text]
type=text
x=152
y=38
width=45
height=20
layer=trh169_chance_display
textfont=cinzel_13pt_bold
textalignv=1
textshadow=yes

// 696:36
[heart_warning_confirm_content]
type=layer
width=300
height=160
xmode=abs_centre
ymode=abs_centre
layer=heart_warning_confirm_layer
onload=script8420(trh169_overlay:heart_warning_confirm_background, trh169_overlay:heart_warning_confirm_border, trh169_overlay:heart_warning_confirm_content, null, "", 21259, null)

// 696:37
[heart_warning_confirm_background]
type=layer
widthmode=minus
heightmode=minus
layer=heart_warning_confirm_content

// 696:38
[heart_warning_confirm_border]
type=layer
widthmode=minus
heightmode=minus
layer=heart_warning_confirm_content

// 696:39
[heart_warning_confirm_info]
type=layer
widthmode=minus
heightmode=minus
layer=heart_warning_confirm_content

// 696:40
[heart_warning_text_layer]
type=text
y=10
width=40
height=84
widthmode=minus
xmode=abs_centre
layer=heart_warning_confirm_info
textfont=museo_sans_11pt_regular_multiline
text=You have not yet fed your slime any hearts of ice. Feeding your slime hearts increases the chance of all prizes being rarer.
textalignh=1
textalignv=1
textshadow=yes

// 696:41
[heart_warning_confirm]
type=layer
x=15
y=103
width=130
height=27
xmode=abs_right
layer=heart_warning_confirm_info
onload=script13968(trh169_overlay:heart_warning_confirm_build, trh169_overlay:heart_warning_confirm_click, rs3tli_positive_button, "Continue")

// 696:42
[heart_warning_confirm_build]
type=layer
widthmode=minus
heightmode=minus
layer=heart_warning_confirm

// 696:43
[heart_warning_confirm_click]
type=layer
widthmode=minus
heightmode=minus
layer=heart_warning_confirm
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:44
[heart_warning_cancel]
type=layer
x=15
y=103
width=130
height=27
layer=heart_warning_confirm_info
onload=script13968(trh169_overlay:heart_warning_cancel_build, trh169_overlay:heart_warning_cancel_click, rs3tli_negative_button, "Cancel")

// 696:45
[heart_warning_cancel_build]
type=layer
widthmode=minus
heightmode=minus
layer=heart_warning_cancel

// 696:46
[heart_warning_cancel_click]
type=layer
widthmode=minus
heightmode=minus
layer=heart_warning_cancel
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:47
[heart_warning_checkbox]
type=layer
y=8
width=200
height=20
xmode=abs_centre
ymode=abs_bottom
layer=heart_warning_confirm_info
onload=script7224
onvartransmit=script7224
onvartransmitlist=trh169_var

// 696:48
[heart_warning_checkbox_build]
type=layer
widthmode=minus
heightmode=minus
layer=heart_warning_checkbox

// 696:49
[heart_warning_checkbox_click]
type=layer
widthmode=minus
heightmode=minus
layer=heart_warning_checkbox
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:50
[tutorial_graphic]
type=graphic
y=20
width=548
height=350
xmode=abs_centre
ymode=abs_centre
layer=tutorial_layer
graphic=trh169_tutorial_panel_1
colour=0xffffff
clickmask=no

// 696:51
[tutorial_button_left]
type=graphic
y=12
width=110
height=110
ymode=abs_centre
layer=tutorial_layer
graphic=runepass_left
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:52
[tutorial_button_right]
type=graphic
x=5
y=12
width=110
height=110
xmode=abs_right
ymode=abs_centre
layer=tutorial_layer
graphic=runepass_right
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:53
[tutorial_text]
type=text
y=71
width=288
height=40
xmode=abs_centre
layer=tutorial_layer
textfont=museo_sans_11pt_regular_multiline
text=Your goal is to SLAY the slime to win prizes.
textalignh=1
textalignv=1
colour=0xe2da90

// 696:54
[trh169_feed_key_graphic_1]
type=graphic
width=25
height=27
ymode=abs_centre
layer=trh169_feed_key_click
graphic="rs3_btn_main_positive_mobile,0"
colour=0xffffff
clickmask=no

// 696:55
[trh169_feed_key_graphic_2]
type=graphic
width=25
height=27
xmode=abs_right
ymode=abs_centre
layer=trh169_feed_key_click
graphic="rs3_btn_main_positive_mobile,2"
tiling=yes
colour=0xffffff
clickmask=no

// 696:56
[trh169_feed_key_graphic_3]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trh169_feed_key_click
graphic="rs3_btn_main_positive_mobile,1"
tiling=yes
colour=0xffffff
clickmask=no

// 696:57
[trh169_feed_key_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trh169_feed_key_click
textfont=cinzel_13pt_bold
text=Unlock
textalignh=1
textalignv=1
colour=0x000000

// 696:58
[trh169_feed_hearts_graphic_1]
type=graphic
width=25
height=27
ymode=abs_centre
layer=trh169_feed_hearts_click
graphic="rs3_btn_main_positive_mobile,0"
colour=0xffffff
clickmask=no

// 696:59
[trh169_feed_hearts_graphic_2]
type=graphic
width=25
height=27
xmode=abs_right
ymode=abs_centre
layer=trh169_feed_hearts_click
graphic="rs3_btn_main_positive_mobile,2"
tiling=yes
colour=0xffffff
clickmask=no

// 696:60
[trh169_feed_hearts_graphic_3]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trh169_feed_hearts_click
graphic="rs3_btn_main_positive_mobile,1"
tiling=yes
colour=0xffffff
clickmask=no

// 696:61
[trh169_feed_hearts_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trh169_feed_hearts_click
textfont=cinzel_13pt_bold
text=Feed X
textalignh=1
textalignv=1
colour=0x000000

// 696:62
[com_62]
type=graphic
width=25
height=27
ymode=abs_centre
layer=trh169_slime_slay_button_click
graphic="rs3_btn_main_neutral_mobile,0"
colour=0xffffff
clickmask=no

// 696:63
[com_63]
type=graphic
width=25
height=27
xmode=abs_right
ymode=abs_centre
layer=trh169_slime_slay_button_click
graphic="rs3_btn_main_neutral_mobile,2"
tiling=yes
colour=0xffffff
clickmask=no

// 696:64
[com_64]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trh169_slime_slay_button_click
graphic="rs3_btn_main_neutral_mobile,1"
tiling=yes
colour=0xffffff
clickmask=no

// 696:65
[trh169_slime_slay_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trh169_slime_slay_button_click
textfont=cinzel_13pt_bold
text=Slay
textalignh=1
textalignv=1
colour=0x000000

// 696:66
[key_warning_confirm_content]
type=layer
width=300
height=160
xmode=abs_centre
ymode=abs_centre
layer=key_warning_confirm_layer
onload=script8420(trh169_overlay:key_warning_confirm_background, trh169_overlay:key_warning_confirm_border, trh169_overlay:key_warning_confirm_content, null, "", 21259, null)

// 696:67
[key_warning_confirm_background]
type=layer
widthmode=minus
heightmode=minus
layer=key_warning_confirm_content

// 696:68
[key_warning_confirm_border]
type=layer
widthmode=minus
heightmode=minus
layer=key_warning_confirm_content

// 696:69
[key_warning_confirm_info]
type=layer
widthmode=minus
heightmode=minus
layer=key_warning_confirm_content

// 696:70
[key_warning_text_layer]
type=text
y=10
width=40
height=84
widthmode=minus
xmode=abs_centre
layer=key_warning_confirm_info
textfont=museo_sans_11pt_regular_multiline
text=You only have one key left, which could be used to slay your slime.
textalignh=1
textalignv=1
textshadow=yes

// 696:71
[key_warning_confirm]
type=layer
x=15
y=103
width=130
height=27
xmode=abs_right
layer=key_warning_confirm_info
onload=script13968(trh169_overlay:key_warning_confirm_build, trh169_overlay:key_warning_confirm_click, rs3tli_positive_button, "Continue")

// 696:72
[key_warning_confirm_build]
type=layer
widthmode=minus
heightmode=minus
layer=key_warning_confirm

// 696:73
[key_warning_confirm_click]
type=layer
widthmode=minus
heightmode=minus
layer=key_warning_confirm
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:74
[key_warning_cancel]
type=layer
x=15
y=103
width=130
height=27
layer=key_warning_confirm_info
onload=script13968(trh169_overlay:key_warning_cancel_build, trh169_overlay:key_warning_cancel_click, rs3tli_negative_button, "Cancel")

// 696:75
[key_warning_cancel_build]
type=layer
widthmode=minus
heightmode=minus
layer=key_warning_cancel

// 696:76
[key_warning_cancel_click]
type=layer
widthmode=minus
heightmode=minus
layer=key_warning_cancel
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:77
[key_warning_checkbox]
type=layer
y=8
width=200
height=20
xmode=abs_centre
ymode=abs_bottom
layer=key_warning_confirm_info
onload=script10462
onvartransmit=script10462
onvartransmitlist=trh169_var

// 696:78
[key_warning_checkbox_build]
type=layer
widthmode=minus
heightmode=minus
layer=key_warning_checkbox

// 696:79
[key_warning_checkbox_click]
type=layer
widthmode=minus
heightmode=minus
layer=key_warning_checkbox
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:80
[first_heart_warning_confirm_content]
type=layer
width=300
height=160
xmode=abs_centre
ymode=abs_centre
layer=first_heart_warning_confirm_layer
onload=script8420(trh169_overlay:first_heart_warning_confirm_background, trh169_overlay:first_heart_warning_confirm_border, trh169_overlay:first_heart_warning_confirm_content, null, "", 21259, null)

// 696:81
[first_heart_warning_confirm_background]
type=layer
widthmode=minus
heightmode=minus
layer=first_heart_warning_confirm_content

// 696:82
[first_heart_warning_confirm_border]
type=layer
widthmode=minus
heightmode=minus
layer=first_heart_warning_confirm_content

// 696:83
[first_heart_warning_confirm_info]
type=layer
widthmode=minus
heightmode=minus
layer=first_heart_warning_confirm_content

// 696:84
[first_heart_warning_text_layer]
type=text
y=10
width=40
height=84
widthmode=minus
xmode=abs_centre
layer=first_heart_warning_confirm_info
textfont=museo_sans_11pt_regular_multiline
text=You are about to feed Hearts of Ice to your slime. This will increase the rarity probabilities of ALL prizes.
textalignh=1
textalignv=1
textshadow=yes

// 696:85
[first_heart_warning_confirm]
type=layer
x=15
y=103
width=130
height=27
xmode=abs_right
layer=first_heart_warning_confirm_info
onload=script13968(trh169_overlay:first_heart_warning_confirm_build, trh169_overlay:first_heart_warning_confirm_click, rs3tli_positive_button, "Continue")

// 696:86
[first_heart_warning_confirm_build]
type=layer
widthmode=minus
heightmode=minus
layer=first_heart_warning_confirm

// 696:87
[first_heart_warning_confirm_click]
type=layer
widthmode=minus
heightmode=minus
layer=first_heart_warning_confirm
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:88
[first_heart_warning_cancel]
type=layer
x=15
y=103
width=130
height=27
layer=first_heart_warning_confirm_info
onload=script13968(trh169_overlay:first_heart_warning_cancel_build, trh169_overlay:first_heart_warning_cancel_click, rs3tli_negative_button, "Cancel")

// 696:89
[first_heart_warning_cancel_build]
type=layer
widthmode=minus
heightmode=minus
layer=first_heart_warning_cancel

// 696:90
[first_heart_warning_cancel_click]
type=layer
widthmode=minus
heightmode=minus
layer=first_heart_warning_cancel
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:91
[slay_warning_confirm_content]
type=layer
width=300
height=160
xmode=abs_centre
ymode=abs_centre
layer=slay_warning_confirm_layer
onload=script8420(trh169_overlay:slay_warning_confirm_background, trh169_overlay:slay_warning_confirm_border, trh169_overlay:slay_warning_confirm_content, null, "", 21259, null)

// 696:92
[slay_warning_confirm_background]
type=layer
widthmode=minus
heightmode=minus
layer=slay_warning_confirm_content

// 696:93
[slay_warning_confirm_border]
type=layer
widthmode=minus
heightmode=minus
layer=slay_warning_confirm_content

// 696:94
[slay_warning_confirm_info]
type=layer
widthmode=minus
heightmode=minus
layer=slay_warning_confirm_content

// 696:95
[slay_warning_text_layer]
type=text
y=10
width=40
height=84
widthmode=minus
xmode=abs_centre
layer=slay_warning_confirm_info
textfont=museo_sans_11pt_regular_multiline
text=You have not yet fed your slime any Hearts of Ice or keys. Doing so will increase the probability of receiving a rarer prize, and increase your slay multiplier.
textalignh=1
textalignv=1
textshadow=yes

// 696:96
[slay_warning_confirm]
type=layer
x=15
y=103
width=130
height=27
xmode=abs_right
layer=slay_warning_confirm_info
onload=script13968(trh169_overlay:slay_warning_confirm_build, trh169_overlay:slay_warning_confirm_click, rs3tli_positive_button, "Continue")

// 696:97
[slay_warning_confirm_build]
type=layer
widthmode=minus
heightmode=minus
layer=slay_warning_confirm

// 696:98
[slay_warning_confirm_click]
type=layer
widthmode=minus
heightmode=minus
layer=slay_warning_confirm
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:99
[slay_warning_cancel]
type=layer
x=15
y=103
width=130
height=27
layer=slay_warning_confirm_info
onload=script13968(trh169_overlay:slay_warning_cancel_build, trh169_overlay:slay_warning_cancel_click, rs3tli_negative_button, "Cancel")

// 696:100
[slay_warning_cancel_build]
type=layer
widthmode=minus
heightmode=minus
layer=slay_warning_cancel

// 696:101
[slay_warning_cancel_click]
type=layer
widthmode=minus
heightmode=minus
layer=slay_warning_cancel
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 696:102
[slay_warning_checkbox]
type=layer
y=8
width=200
height=20
xmode=abs_centre
ymode=abs_bottom
layer=slay_warning_confirm_info
onload=script10463
onvartransmit=script7224
onvartransmitlist=trh169_var

// 696:103
[slay_warning_checkbox_build]
type=layer
widthmode=minus
heightmode=minus
layer=slay_warning_checkbox

// 696:104
[slay_warning_checkbox_click]
type=layer
widthmode=minus
heightmode=minus
layer=slay_warning_checkbox
transmitop1=yes
op1=Select
opcursor0=cursor_use

