// 935:0
[universe]
type=layer
y=8
width=758
height=356
xmode=abs_centre
onload=trh176_overlay_onload
onvartransmit=script16358
onvartransmitlist=trh_promos_var8,trh_promos_var8,trh_promos_var9

// 935:1
[xmas23_progress_bar_layer]
type=layer
height=1
widthmode=minus
ymode=abs_bottom
layer=universe

// 935:2
[bonus_header_layer]
type=layer
y=-10
width=341
height=104
xmode=abs_centre
layer=universe

// 935:3
[chest_layer]
type=layer
y=10
width=500
height=220
xmode=abs_centre
ymode=abs_bottom
layer=universe

// 935:4
[multi_chest_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=chest_layer

// 935:5
[chest_1_layer]
type=layer
width=8192
widthmode=proportion
heightmode=minus
layer=multi_chest_layer

// 935:6
[chest_1_model]
type=model
y=70
width=134
height=119
xmode=abs_centre
layer=chest_1_layer
model=trh176_christmas_present_1
modelorigin_x=5
modelorigin_y=32
modelangle_x=119
modelangle_y=0
modelangle_z=0
modelzoom=380
modelanim=trh_chest_closed_idle
transmitop1=yes
op1=Open
opcursor0=cursor_open
onop=trh_overlay_op(1, 1)

// 935:7
[com_7]
type=graphic
y=-5
width=180
height=40
xmode=abs_centre
ymode=abs_bottom
layer=chest_1_layer
noclickthrough=yes
graphic=trh190_text_shadow
colour=0xffffff
clickmask=no

// 935:8
[chest_2_layer]
type=layer
width=8192
widthmode=proportion
heightmode=minus
xmode=abs_right
layer=multi_chest_layer

// 935:9
[chest_2_model]
type=model
y=70
width=134
height=119
xmode=abs_centre
layer=chest_2_layer
model=trh176_christmas_present_1
modelorigin_x=5
modelorigin_y=32
modelangle_x=119
modelangle_y=0
modelangle_z=0
modelzoom=380
modelanim=trh_chest_closed_idle
transmitop1=yes
op1=Open
opcursor0=cursor_open
onop=trh_overlay_op(1, 2)

// 935:10
[com_10]
type=graphic
y=-5
width=180
height=40
xmode=abs_centre
ymode=abs_bottom
layer=chest_2_layer
noclickthrough=yes
graphic=trh190_text_shadow
colour=0xffffff
clickmask=no

// 935:11
[bonus_chest_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chest_layer
hide=yes

// 935:12
[chest_3_layer]
type=layer
width=8192
widthmode=proportion
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_chest_layer

// 935:13
[chest_3_model]
type=model
x=-1
y=55
width=150
height=133
xmode=abs_centre
layer=chest_3_layer
model=trh176_christmas_present_1
modelorigin_x=6
modelorigin_y=36
modelangle_x=119
modelangle_y=0
modelangle_z=0
modelzoom=340
modelanim=trh_chest_closed_idle
transmitop1=yes
op1=Open
opcursor0=cursor_open
onop=trh_overlay_op(1, 3)

// 935:14
[com_14]
type=graphic
y=-5
width=180
height=40
xmode=abs_centre
ymode=abs_bottom
layer=chest_3_layer
noclickthrough=yes
graphic=trh190_text_shadow
colour=0xffffff
clickmask=no

// 935:15
[chest_3_rarity]
type=text
width=150
height=40
xmode=abs_centre
ymode=abs_bottom
layer=chest_3_layer
noclickthrough=yes
textfont=museo_sans_11pt_regular
text=Uncommon
textalignh=1
textalignv=1
textshadow=yes

// 935:16
[bonus_droptable_reward_preview_layer]
type=layer
x=565
y=-6
width=216
height=183
layer=universe
hide=yes
noclickthrough=yes

// 935:17
[keybind_layer]
type=layer
layer=universe
transmitop1=yes
op1=Open
opcursor0=cursor_open
onop=trh_overlay_op(1, 0)

// 935:18
[bonus_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=universe
hide=yes
noclickthrough=yes

// 935:19
[bonus_header_background_layer]
type=layer
y=6
width=341
height=104
xmode=abs_centre
layer=bonus_header_layer

// 935:20
[bonus_progress_bar_bg]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=bonus_header_background_layer
noclickthrough=yes
graphic=trh176_progressbar
colour=0xffffff
clickmask=no

// 935:21
[bonus_progress_bar_title]
type=text
y=-18
width=4
height=87
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_header_layer
noclickthrough=yes
textfont=cinzel_13pt_bold
text=Festive Bonus
textalignh=1
textalignv=2
textshadow=yes
colour=0xfcf05f

// 935:22
[bonus_progress_bar_layer]
type=layer
y=1
width=83
height=82
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_header_layer
onload=script14459("Fill the bar to claim a bonus.", event_com, null)

// 935:23
[bonus_progress_back_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bonus_progress_bar_layer

// 935:24
[back_right]
type=graphic
y=6
width=8
height=12
heightmode=minus
xmode=abs_right
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,5"
colour=0xffffff
clickmask=no

// 935:25
[back_rightbot]
type=graphic
width=8
height=6
xmode=abs_right
ymode=abs_bottom
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,8"
colour=0xffffff
clickmask=no

// 935:26
[back_righttop]
type=graphic
width=8
height=6
xmode=abs_right
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,2"
colour=0xffffff
clickmask=no

// 935:27
[back_mid]
type=graphic
width=16
height=12
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,4"
colour=0xffffff
clickmask=no

// 935:28
[back_bot]
type=graphic
width=12
height=6
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,7"
colour=0xffffff
clickmask=no

// 935:29
[back_lefttop]
type=graphic
width=8
height=6
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,0"
colour=0xffffff
clickmask=no

// 935:30
[back_left]
type=graphic
width=8
height=12
heightmode=minus
ymode=abs_centre
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,3"
colour=0xffffff
clickmask=no

// 935:31
[back_leftbot]
type=graphic
width=8
height=6
ymode=abs_bottom
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,6"
colour=0xffffff
clickmask=no

// 935:32
[back_top]
type=graphic
width=12
height=6
widthmode=minus
xmode=abs_centre
layer=bonus_progress_back_layer
graphic="trh_progress_back_dark,1"
colour=0xffffff
clickmask=no

// 935:33
[bonus_progress_border_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bonus_progress_bar_layer
hide=yes

// 935:34
[frame_rightbot]
type=graphic
width=8
height=6
xmode=abs_right
ymode=abs_bottom
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,8"
colour=0xffffff
clickmask=no

// 935:35
[frame_righttop]
type=graphic
width=8
height=6
xmode=abs_right
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,2"
colour=0xffffff
clickmask=no

// 935:36
[frame_top]
type=graphic
width=12
height=6
widthmode=minus
xmode=abs_centre
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,1"
colour=0xffffff
clickmask=no

// 935:37
[frame_lefttop]
type=graphic
width=8
height=6
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,0"
colour=0xffffff
clickmask=no

// 935:38
[frame_left]
type=graphic
width=8
height=8
heightmode=minus
ymode=abs_centre
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,3"
colour=0xffffff
clickmask=no

// 935:39
[frame_leftbot]
type=graphic
width=8
height=6
ymode=abs_bottom
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,6"
colour=0xffffff
clickmask=no

// 935:40
[frame_bot]
type=graphic
width=10
height=6
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,7"
colour=0xffffff
clickmask=no

// 935:41
[frame_right]
type=graphic
width=8
height=8
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=bonus_progress_border_layer
graphic="trh_progress_frame_silver,5"
colour=0xffffff
clickmask=no

// 935:42
[bonus_progress_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_progress_bar_layer

// 935:43
[bonus_progress_mask_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=bonus_progress_layer

// 935:44
[progress_start]
type=graphic
width=7
heightmode=minus
layer=bonus_progress_mask_layer
graphic="trh89_progress_bar_summoning,0"
colour=0xff0000
clickmask=no

// 935:45
[progress_mid]
type=graphic
x=7
width=14
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=bonus_progress_mask_layer
graphic="trh89_progress_bar_summoning,1"
colour=0xff0000
clickmask=no

// 935:46
[progress_end]
type=graphic
width=7
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=bonus_progress_mask_layer
graphic="trh89_progress_bar_summoning,2"
colour=0xff0000
clickmask=no

// 935:47
[bonus_progress_bar_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_progress_bar_layer
textfont=cinzel_12pt_bold
textalignh=1
textalignv=1
textshadow=yes

// 935:48
[chest_1_rarity]
type=text
width=150
height=40
xmode=abs_centre
ymode=abs_bottom
layer=chest_1_layer
noclickthrough=yes
textfont=museo_sans_11pt_regular
text=Uncommon
textalignh=1
textalignv=1
textshadow=yes

// 935:49
[chest_2_rarity]
type=text
width=150
height=40
xmode=abs_centre
ymode=abs_bottom
layer=chest_2_layer
noclickthrough=yes
textfont=museo_sans_11pt_regular
text=Uncommon
textalignh=1
textalignv=1
textshadow=yes

// 935:50
[bonus_window]
type=layer
width=480
height=230
xmode=abs_centre
ymode=abs_centre
layer=bonus_layer
noclickthrough=yes
onload=script8420(trh176_overlay:bonus_window_background, trh176_overlay:bonus_window_frame, trh176_overlay:bonus_window_content, null, "", 21259, null)

// 935:51
[bonus_window_background]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_window

// 935:52
[bonus_window_content]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_window

// 935:53
[bonus_title_layer]
type=layer
height=24
widthmode=minus
xmode=abs_centre
layer=bonus_window_content

// 935:54
[bonus_title]
type=text
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_title_layer
noclickthrough=yes
textfont=cinzel_15pt_bold
text=Select a bonus
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 0)

// 935:55
[bonus_option_layer]
type=layer
height=24
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_window_content

// 935:56
[bonus_option_1_layer]
type=layer
x=5
width=150
height=10
heightmode=minus
ymode=abs_centre
layer=bonus_option_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script16363(1)
onop=trh_overlay_op(2, 1)
onvartransmitlist=trh_promos_var9

// 935:57
[bonus_option_2_layer]
type=layer
width=150
height=10
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script16363(2)
onop=trh_overlay_op(2, 2)
onvartransmitlist=trh_promos_var9

// 935:58
[bonus_option_3_layer]
type=layer
x=5
width=150
height=10
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=bonus_option_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script16363(3)
onop=trh_overlay_op(2, 3)
onvartransmitlist=trh_promos_var9

// 935:59
[bonus_option_1_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_1_layer
onload=script10896(event_com, null, rs3tli_content_container)

// 935:60
[bonus_option_1_content_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_1_layer

// 935:61
[bonus_option_1_build_layer]
type=layer
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=bonus_option_1_content_layer

// 935:62
[com_62]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_1_build_layer
noclickthrough=yes
graphic=trh176_promo_bonus_option_window
colour=0xffffff
clickmask=no

// 935:63
[bonus_option_1_title_text]
type=text
height=18
widthmode=minus
xmode=abs_centre
layer=bonus_option_1_content_layer
noclickthrough=yes
textfont=cinzel_13pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xdea73e

// 935:64
[bonus_option_1_info_text]
type=text
height=48
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_option_1_content_layer
noclickthrough=yes
textfont=museo_sans_11pt_regular
textlineheight=13
textalignh=1
textshadow=yes

// 935:65
[bonus_window_frame]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_window

// 935:66
[bonus_option_2_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_2_layer
onload=script10896(event_com, null, rs3tli_content_container)

// 935:67
[bonus_option_2_content_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_2_layer

// 935:68
[bonus_option_2_build_layer]
type=layer
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=bonus_option_2_content_layer

// 935:69
[com_69]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_2_build_layer
noclickthrough=yes
graphic=trh176_promo_bonus_option_window
colour=0xffffff
clickmask=no

// 935:70
[bonus_option_2_title_text]
type=text
height=18
widthmode=minus
xmode=abs_centre
layer=bonus_option_2_content_layer
noclickthrough=yes
textfont=cinzel_13pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xdea73e

// 935:71
[bonus_option_2_info_text]
type=text
height=48
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_option_2_content_layer
noclickthrough=yes
textfont=museo_sans_11pt_regular
textlineheight=13
textalignh=1
textshadow=yes

// 935:72
[bonus_option_3_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_3_layer
onload=script10896(event_com, null, rs3tli_content_container)

// 935:73
[bonus_option_3_content_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_3_layer

// 935:74
[bonus_option_3_build_layer]
type=layer
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=bonus_option_3_content_layer

// 935:75
[com_75]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_option_3_build_layer
noclickthrough=yes
graphic=trh176_promo_bonus_option_window
colour=0xffffff
clickmask=no

// 935:76
[bonus_option_3_title_text]
type=text
height=18
widthmode=minus
xmode=abs_centre
layer=bonus_option_3_content_layer
noclickthrough=yes
textfont=cinzel_13pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xdea73e

// 935:77
[bonus_option_3_info_text]
type=text
height=48
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_option_3_content_layer
noclickthrough=yes
textfont=museo_sans_11pt_regular
textlineheight=13
textalignh=1
textshadow=yes

// 935:78
[bonus_droptable_reward_preview_background]
type=graphic
height=180
widthmode=minus
xmode=abs_right
layer=bonus_droptable_reward_preview_layer
noclickthrough=yes
graphic=trh176_bonus_reward_panel
colour=0xffffff
clickmask=no

// 935:79
[bonus_droptable_reward_preview_object_model]
type=model
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=bonus_droptable_reward_preview_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1500
ontimer=script16015(event_com, -1)

// 935:80
[bonus_droptable_reward_preview_ragdoll_container]
type=layer
y=-4
width=27
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=bonus_droptable_reward_preview_layer

// 935:81
[bonus_droptable_reward_preview_ragdoll_model]
type=model
y=-10
width=166
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_droptable_reward_preview_ragdoll_container
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1500
modelobjheight=133

// 935:82
[npc_preview]
type=model
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=bonus_droptable_reward_preview_ragdoll_container
hide=yes
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 935:83
[bonus_droptable_reward_preview_object]
type=graphic
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=bonus_droptable_reward_preview_layer
noclickthrough=yes
colour=0xffffff
clickmask=no
ontimer=script16015(event_com, -1)

// 935:84
[bonus_droptable_reward_pet_layer]
type=model
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=bonus_droptable_reward_preview_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=10

// 935:85
[bonus_droptable_reward_preview_anim_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bonus_droptable_reward_preview_layer

// 935:86
[bonus_droptable_reward_preview_dragger]
type=layer
y=-20
width=166
height=108
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_droptable_reward_preview_layer
hide=yes

// 935:87
[bonus_droptable_reward_preview_load]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_droptable_reward_preview_layer

// 935:88
[bonus_droptable_reward_preview_item]
type=text
y=8
width=40
height=34
widthmode=minus
xmode=abs_centre
layer=bonus_droptable_reward_preview_layer
noclickthrough=yes
textfont=notosans_bold_10
text=PRIZE NAME
textalignh=1
textalignv=1
textshadow=yes
colour=0xfcf05f

// 935:89
[bonus_droptable_reward_preview_price]
type=text
width=10
height=128
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_droptable_reward_preview_layer
hide=yes
noclickthrough=yes
textfont=notosans_12
textalignh=1
textalignv=1

// 935:90
[bonus_droptable_reward_preview_countdown]
type=text
y=32
width=30
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bonus_droptable_reward_preview_layer
noclickthrough=yes
textfont=notosans_bold_11
text=00:00:00
textalignh=1
textalignv=1
textshadow=yes

// 935:91
[bonus_droptable_reward_preview_back]
type=button
x=24
y=16
width=147
height=32
layer=bonus_droptable_reward_preview_layer
hide=yes
noclickthrough=yes
text.text=Back
stylesheet=button_action_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onbuttonpressed=script18504

// 935:92
[bonus_droptable_reward_frame]
type=layer
widthmode=minus
heightmode=minus
layer=bonus_droptable_reward_preview_layer

