// 271:0
[universe]
type=layer
width=758
height=356
xmode=abs_centre
onload=trh171_init

// 271:1
[claim_button]
type=layer
x=116
y=-4
width=300
height=50
xmode=abs_centre
ymode=abs_bottom
layer=universe

// 271:2
[modifier_icon_gfx]
type=graphic
width=88
height=88
xmode=abs_centre
ymode=abs_centre
layer=modifier_icon_wrapper
colour=0xffffff
clickmask=no

// 271:3
[modifier_icon_obj]
type=graphic
width=36
height=34
xmode=abs_centre
ymode=abs_centre
layer=modifier_icon_wrapper
colour=0xffffff
clickmask=no

// 271:4
[modifier_icon_text]
type=text
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=modifier_icon_wrapper
textfont=cinzel_25pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes

// 271:5
[prize_name]
type=text
x=345
y=38
width=299
height=32
ymode=abs_bottom
layer=universe
textfont=cinzel_15pt_bold
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xfff000
onload=script10496(event_com, event_comsubid, 0)

// 271:6
[modifier_icon_wrapper]
type=layer
x=257
y=31
width=90
height=90
layer=universe

// 271:7
[com_7]
type=text
x=631
y=91
width=110
height=32
layer=universe
textfont=cinzel_15pt_bold
text=Next<br>Prize
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0x1d1c1c

// 271:8
[reward_next_prize_layer]
type=layer
x=631
y=106
width=110
height=140
layer=universe
onvartransmit=script15299
onvartransmitlist=trh171_var2,trh171_next_prize,trh171_next_prize_count

// 271:9
[reward_current_prize_wrapper]
type=layer
x=437
y=105
width=110
height=140
layer=universe
onvartransmit=script15298
onvartransmitlist=trh171_var,trh171_current_prize,trh171_current_prize_count,trh171_var

// 271:10
[current_item_random]
type=graphic
width=88
height=87
xmode=abs_centre
ymode=abs_centre
layer=reward_current_prize_wrapper
hide=yes
graphic=trh171_modifier_icon_random
colour=0xffffff
clickmask=no

// 271:11
[reward_current_prize_layer]
type=layer
width=110
height=140
xmode=abs_centre
ymode=abs_centre
layer=reward_current_prize_wrapper

// 271:12
[modifier_list_layer]
type=layer
x=8
width=203
height=268
ymode=abs_centre
layer=universe
onvartransmit=script15294
onvartransmitlist=trh171_var,trh171_var2,trh171_current_prize

// 271:13
[probabilities_layer]
type=layer
widthmode=minus
heightmode=minus
hide=yes
noclickthrough=yes

// 271:14
[com_14]
type=rectangle
widthmode=minus
heightmode=minus
layer=probabilities_layer
colour=0x000000
fill=yes
trans=100

// 271:15
[probabilities_wrapper]
type=layer
width=294
height=180
xmode=abs_centre
ymode=abs_centre
layer=probabilities_layer
onload=script8420(trh171_overlay:probabilities_bg, trh171_overlay:probabilities_border, trh171_overlay:probabilities_content, null, "Probabilities", 21218, null)

// 271:16
[probabilities_bg]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=probabilities_wrapper

// 271:17
[probabilities_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=probabilities_wrapper

// 271:18
[com_18]
type=text
y=51
width=4
height=57
widthmode=minus
xmode=abs_centre
layer=probabilities_content
textfont=museo_sans_11pt_regular_multiline
text=These percentages represent the base rarity probabilities. Antique, Experience, Protean, and Skilling chests are a guaranteed red prize!
textalignh=1
textalignv=1
textshadow=yes

// 271:19
[gems_wrapper]
type=layer
width=4
height=56
widthmode=minus
xmode=abs_centre
layer=probabilities_content

// 271:20
[prob_white_gem]
type=layer
width=3276
height=58
widthmode=proportion
layer=gems_wrapper

// 271:21
[com_21]
type=graphic
width=30
height=46
xmode=abs_centre
layer=prob_white_gem
graphic="th_gem_stones_all,0"
colour=0xffffff
clickmask=no

// 271:22
[white_gem_prob_text]
type=text
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=prob_white_gem
textfont=museo_sans_11pt_regular
text=58.68%
textalignh=1
textalignv=1
textshadow=yes

// 271:23
[prob_yellow_gem]
type=layer
x=3276
width=3276
height=58
widthmode=proportion
xmode=proportion_left
layer=gems_wrapper

// 271:24
[com_24]
type=graphic
width=30
height=46
xmode=abs_centre
layer=prob_yellow_gem
graphic="th_gem_stones_all,1"
colour=0xffffff
clickmask=no

// 271:25
[yellow_gem_prob_text]
type=text
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=prob_yellow_gem
textfont=museo_sans_11pt_regular
text=24.56%
textalignh=1
textalignv=1
textshadow=yes

// 271:26
[prob_orange_gem]
type=layer
width=3276
height=58
widthmode=proportion
xmode=abs_centre
layer=gems_wrapper

// 271:27
[com_27]
type=graphic
width=30
height=46
xmode=abs_centre
layer=prob_orange_gem
graphic="th_gem_stones_all,2"
colour=0xffffff
clickmask=no

// 271:28
[orange_gem_prob_text]
type=text
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=prob_orange_gem
textfont=museo_sans_11pt_regular
text=10.36%
textalignh=1
textalignv=1
textshadow=yes

// 271:29
[prob_red_gem]
type=layer
x=9830
width=3276
height=58
widthmode=proportion
xmode=proportion_left
layer=gems_wrapper

// 271:30
[com_30]
type=graphic
width=30
height=46
xmode=abs_centre
layer=prob_red_gem
graphic="th_gem_stones_all,3"
colour=0xffffff
clickmask=no

// 271:31
[red_gem_prob_text]
type=text
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=prob_red_gem
textfont=museo_sans_11pt_regular
text=6.23%
textalignh=1
textalignv=1
textshadow=yes

// 271:32
[prob_purple_gem]
type=layer
width=3276
height=58
widthmode=proportion
xmode=abs_right
layer=gems_wrapper

// 271:33
[com_33]
type=graphic
width=30
height=46
xmode=abs_centre
layer=prob_purple_gem
graphic="th_gem_stones_all,4"
colour=0xffffff
clickmask=no

// 271:34
[purple_gem_prob_text]
type=text
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=prob_purple_gem
textfont=museo_sans_11pt_regular
text=0.15%
textalignh=1
textalignv=1
textshadow=yes

// 271:35
[prob_close]
type=layer
y=5
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=probabilities_content
onload=script13968(trh171_overlay:prob_close_build, trh171_overlay:prob_close_click, rs3tli_positive_button, "Close")

// 271:36
[prob_close_build]
type=layer
widthmode=minus
heightmode=minus
layer=prob_close

// 271:37
[prob_close_click]
type=layer
widthmode=minus
heightmode=minus
layer=prob_close
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 271:38
[probabilities_border]
type=layer
widthmode=minus
heightmode=minus
layer=probabilities_wrapper

// 271:39
[modifier_list_background]
type=layer
widthmode=minus
heightmode=minus
layer=modifier_list_layer
onload=script10896(event_com, null, rs3tli_mobile_content_panel_blue)

// 271:40
[modifier_list_content]
type=layer
y=37
width=4
height=42
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modifier_list_layer
scrollheight=1000

// 271:41
[modifier_list_panels]
type=layer
widthmode=minus
heightmode=minus
layer=modifier_list_content

// 271:42
[modifier_selected]
type=rectangle
width=4
height=32
widthmode=minus
layer=modifier_list_content
hide=yes
colour=0xe6d74a

// 271:43
[com_43]
type=text
width=20
height=34
widthmode=minus
xmode=abs_centre
layer=modifier_list_layer
textfont=cinzel_15pt_bold
text=Modifiers
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 271:44
[com_44]
type=line
y=34
width=40
widthmode=minus
xmode=abs_centre
layer=modifier_list_layer
colour=0xaed0e0

// 271:45
[claim_button_click]
type=layer
width=253
height=40
xmode=abs_centre
ymode=abs_centre
layer=claim_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script15297(0, 2)
onclick=runepass_sound_click

// 271:46
[claim_graphic]
type=graphic
width=282
height=58
xmode=abs_centre
ymode=abs_centre
layer=claim_button
graphic=runepass_autocomplete_button
colour=0xffffff
clickmask=no
onload=cc_if_colour_swapper(event_com, -1, 15329769)
onmouseover=cc_if_colour_swapper(event_com, -1, 0)
onmouseleave=cc_if_colour_swapper(event_com, -1, 15329769)
onclick=cc_if_colour_swapper(event_com, -1, 0)

// 271:47
[claim_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_button
textfont=cinzel_18pt_bold_multiline
text=claim prize
textalignh=1
textalignv=1
colour=0x672d05

