// 1804:0
[r]
type=graphic
x=-300
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
graphic="trh109_icons,8"
colour=0xffffff
clickmask=no

// 1804:1
[o]
type=graphic
x=-200
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
graphic="trh109_icons,9"
colour=0xffffff
clickmask=no

// 1804:2
[y]
type=graphic
x=-100
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
graphic="trh109_icons,10"
colour=0xffffff
clickmask=no

// 1804:3
[g]
type=graphic
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
graphic="trh109_icons,11"
colour=0xffffff
clickmask=no

// 1804:4
[b]
type=graphic
x=100
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
graphic="trh109_icons,12"
colour=0xffffff
clickmask=no

// 1804:5
[i]
type=graphic
x=200
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
graphic="trh109_icons,13"
colour=0xffffff
clickmask=no

// 1804:6
[v]
type=graphic
x=300
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
graphic="trh109_icons,14"
colour=0xffffff
clickmask=no

// 1804:7
[highlight1]
type=graphic
x=-300
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
graphic="trh109_icons,16"
colour=0xffffff
clickmask=no
onload=script12907(event_com)

// 1804:8
[highlight2]
type=graphic
x=-200
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
hide=yes
graphic="trh109_icons,16"
colour=0xffffff
clickmask=no
onload=script12907(event_com)

// 1804:9
[highlight3]
type=graphic
x=-100
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
hide=yes
graphic="trh109_icons,16"
colour=0xffffff
clickmask=no
onload=script12907(event_com)

// 1804:10
[highlight4]
type=graphic
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
hide=yes
graphic="trh109_icons,16"
colour=0xffffff
clickmask=no
onload=script12907(event_com)

// 1804:11
[highlight5]
type=graphic
x=100
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
hide=yes
graphic="trh109_icons,16"
colour=0xffffff
clickmask=no
onload=script12907(event_com)

// 1804:12
[highlight6]
type=graphic
x=200
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
hide=yes
graphic="trh109_icons,16"
colour=0xffffff
clickmask=no
onload=script12907(event_com)

// 1804:13
[highlight7]
type=graphic
x=300
width=100
height=100
xmode=abs_centre
ymode=abs_centre
layer=foreground_layer
hide=yes
graphic="trh109_icons,16"
colour=0xffffff
clickmask=no
onload=script12907(event_com)

// 1804:14
[rainbow_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer
onload=trh109_update_ui(event_com)

// 1804:15
[content_layer]
type=layer
width=760
height=352
onvartransmit=trh109_update_ui(event_com)
onvartransmitlist=trh109_var,trh_prize_data

// 1804:16
[ultra_rare_layer]
type=layer
x=499
y=-7
width=275
height=170
layer=content_layer

// 1804:17
[com_17]
type=graphic
width=275
height=170
layer=ultra_rare_layer
noclickthrough=yes
graphic=trh184_bonus_background_2
colour=0xffffff
clickmask=no

// 1804:18
[ultra_rare_grid]
type=grid
x=30
y=60
width=217
height=84
layer=ultra_rare_layer
noclickthrough=yes
childspacing=0
layoutparams_x=1
layoutparams_y=2
layoutparams_mode=no

// 1804:19
[ultra_rare_prize_1]
type=layer
width=217
height=39
layer=ultra_rare_grid

// 1804:20
[ultra_rare_prize_2]
type=layer
width=217
height=39
layer=ultra_rare_grid

// 1804:21
[ultra_rare_object_1]
type=graphic
x=6
width=36
height=34
ymode=abs_centre
layer=ultra_rare_prize_1
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1804:22
[ultra_rare_name_1]
type=text
x=46
width=163
height=32
ymode=abs_centre
layer=ultra_rare_prize_1
noclickthrough=yes
textfont=notosans_12
textalignv=1

// 1804:23
[ultra_rare_prizes]
type=text
y=37
width=60
height=24
widthmode=minus
xmode=abs_centre
layer=ultra_rare_layer
noclickthrough=yes
textfont=cinzel_15pt_bold
text=Ultra Rare Prizes
textalignh=1
textalignv=1
textshadow=yes

// 1804:24
[background]
type=graphic
widthmode=minus
heightmode=minus
layer=rainbow_layer
colour=0xffffff
clickmask=no

// 1804:25
[foreground_layer]
type=layer
height=90
widthmode=minus
ymode=abs_bottom
layer=rainbow_layer

// 1804:26
[ultra_rare_object_2]
type=graphic
x=6
width=36
height=34
ymode=abs_centre
layer=ultra_rare_prize_2
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1804:27
[ultra_rare_name_2]
type=text
x=46
width=163
height=32
ymode=abs_centre
layer=ultra_rare_prize_2
noclickthrough=yes
textfont=notosans_12
textalignv=1

