// 1824:0
[heart_balloon_item]
type=model
x=15
y=13
width=38
height=125
layer=layer_1
model=valentines17_balloon
modelorigin_x=17
modelorigin_y=62
modelangle_x=1767
modelangle_y=2033
modelangle_z=0
modelzoom=762

// 1824:1
[darkness]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 1824:2
[staff_of_devotion_button]
type=layer
x=5
y=50
width=235
height=80
layer=buttons
onvartransmit=script11610
onmouserepeat=trh116_tooltips(event_com)
onvartransmitlist=trh116_var1

// 1824:3
[sections]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 1824:4
[currency_information]
type=layer
widthmode=minus
heightmode=minus
layer=sections

// 1824:5
[com_5]
type=graphic
x=4
y=302
width=476
height=84
layer=currency_information
graphic=trh116_valshop_ifbase
colour=0xffffff
clickmask=no

// 1824:6
[com_6]
type=graphic
x=4
y=2
width=476
height=44
layer=currency_information
graphic=trh116_valshop_ifhead
colour=0xffffff
clickmask=no

// 1824:7
[reputation_count]
type=text
x=284
y=19
width=100
height=20
layer=currency_information
textfont=museo_sans_13pt_bold
text=00
textshadow=yes

// 1824:8
[layer_2]
type=layer
width=800
height=600
layer=currency_information

// 1824:9
[reputation_text]
type=text
x=90
y=19
width=151
height=20
layer=currency_information
textfont=museo_sans_13pt_bold
text=Reputation:
textalignh=2
textshadow=yes

// 1824:10
[buttons]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 1824:11
[heart_balloon_button]
type=layer
x=5
y=134
width=235
height=80
layer=buttons
onvartransmit=script11610
onmouserepeat=trh116_tooltips(event_com)
onvartransmitlist=trh116_var1

// 1824:12
[loved_up_rest_button]
type=layer
x=5
y=218
width=235
height=80
layer=buttons
onvartransmit=script11610
onmouserepeat=trh116_tooltips(event_com)
onvartransmitlist=mtxmgt_unlock_bitset_7

// 1824:13
[loved_up_walk_button]
type=layer
x=5
y=50
width=235
height=80
xmode=abs_right
layer=buttons
onvartransmit=script11610
onmouserepeat=trh116_tooltips(event_com)
onvartransmitlist=mtxmgt_unlock_bitset_7

// 1824:14
[loved_up_loot_button]
type=layer
x=5
y=134
width=235
height=80
xmode=abs_right
layer=buttons
onvartransmit=script11610
onmouserepeat=trh116_tooltips(event_com)
onvartransmitlist=trh116_var1

// 1824:15
[bunch_of_flowers_button]
type=layer
x=5
y=218
width=235
height=80
xmode=abs_right
layer=buttons
onvartransmit=script11610
onmouserepeat=trh116_tooltips(event_com)
onvartransmitlist=trh116_var1

// 1824:16
[prismatic_star_button]
type=layer
y=304
width=235
height=80
xmode=abs_centre
layer=buttons
onmouserepeat=trh116_tooltips(event_com)

// 1824:17
[mainmodal_window_background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=valentines

// 1824:18
[valentines]
type=layer
width=500
height=430
xmode=abs_centre
ymode=abs_centre
onload=script8420(trh116_valentines_shop:mainmodal_window_background, trh116_valentines_shop:mainmodal_window_border, trh116_valentines_shop:mainmodal_window_content, trh116_valentines_shop:mainmodal_window_close_button, "Valentine's Rewards", 21218, null)

// 1824:19
[mainmodal_window_content]
type=layer
widthmode=minus
heightmode=minus
layer=valentines
onload=script11610
onvartransmit=script4715
onvartransmitlist=trh116_var2

// 1824:20
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=valentines

// 1824:21
[confirm_purchase]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 1824:22
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=valentines
transmitop1=yes
op1=Close
onop=closebutton_click

// 1824:23
[background_gfx]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_background
graphic=rs3_hud_window_content_tile
colour=0xffffff
clickmask=no

// 1824:24
[staff_of_devotion_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=staff_of_devotion_button
onload=script7699(event_com)

// 1824:25
[staff_of_devotion_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=staff_of_devotion_button
onload=script7728(event_com)

// 1824:26
[staff_of_devotion_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=staff_of_devotion_button
onload=script7729(event_com)

// 1824:27
[staff_of_devotion_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=staff_of_devotion_button
hide=yes
onload=script8225(event_com)

// 1824:28
[staff_of_devotion_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=staff_of_devotion_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script4714(event_com)

// 1824:29
[staff_of_devotion_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=staff_of_devotion_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh116_tooltips(event_com)
onclick=script4714(event_com)

// 1824:30
[staff_of_devotion_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=staff_of_devotion_button

// 1824:31
[tilebackground_1]
type=graphic
x=5
y=5
width=70
height=70
layer=staff_of_devotion_button_text
graphic=trh116_icontile
colour=0xffffff
clickmask=no

// 1824:32
[staff_of_devotion_item]
type=model
x=11
y=13
width=58
height=56
layer=staff_of_devotion_button_text
model=trh116_devotion_staff
modelorigin_x=8
modelorigin_y=13
modelangle_x=1746
modelangle_y=226
modelangle_z=0
modelzoom=1336

// 1824:33
[staff_of_devotion_price]
type=text
x=22
y=43
width=80
height=25
xmode=abs_right
layer=staff_of_devotion_button_text
textfont=museo_sans_11pt_regular
text=Rep: 200
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05

// 1824:34
[staff_of_devotion_text]
type=text
x=23
y=7
width=132
height=32
xmode=abs_right
layer=staff_of_devotion_button_text
textfont=museo_sans_11pt_regular_multiline
text=Staff of devotion
textalignh=2
textalignv=1
textshadow=yes

// 1824:35
[darkness_graphic]
type=rectangle
width=11762
height=14479
widthmode=proportion
heightmode=proportion
layer=darkness
colour=0x000000
fill=yes
trans=100

// 1824:36
[com_36]
type=rectangle
widthmode=minus
heightmode=minus
layer=confirm_purchase
colour=0x000000
fill=yes
trans=80

// 1824:37
[confirm_purchase_window]
type=layer
width=238
height=128
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase
onload=script8420(trh116_valentines_shop:confirm_purchase_window_background, trh116_valentines_shop:confirm_purchase_window_border, trh116_valentines_shop:confirm_purchase_window_content, null, "", 21259, null)

// 1824:38
[confirm_purchase_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=confirm_purchase_window

// 1824:39
[confirm_purchase_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=confirm_purchase_window

// 1824:40
[confirm_purchase_text]
type=text
y=10
width=213
height=66
xmode=abs_centre
layer=confirm_purchase_window_content
textfont=museo_sans_11pt_regular
text=Are you sure you want to purchase this item?
textalignh=1
textalignv=1
textshadow=yes

// 1824:41
[confirm_purchase_button_layer]
type=layer
x=-55
y=8
width=100
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_purchase_window_content

// 1824:42
[confirm_purchase_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase_button_layer
onload=script7041(event_com)

// 1824:43
[confirm_purchase_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase_button_layer
onload=script7042(event_com)

// 1824:44
[confirm_purchase_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase_button_layer
onload=script7044(event_com)

// 1824:45
[confirm_purchase_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase_button_layer
hide=yes
onload=script7047(event_com)

// 1824:46
[confirm_purchase_button]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_purchase_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1824:47
[confirm_purchase_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase_button_layer

// 1824:48
[confirm_ow_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase_button_text_layer
textfont=cinzel_13pt_bold
text=Yes
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1824:49
[reject_purchase_button_layer]
type=layer
x=55
y=8
width=100
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_purchase_window_content

// 1824:50
[reject_purchase_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reject_purchase_button_layer
onload=script7275(event_com)

// 1824:51
[reject_purchase_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reject_purchase_button_layer
onload=script7276(event_com)

// 1824:52
[reject_purchase_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reject_purchase_button_layer
onload=script7277(event_com)

// 1824:53
[reject_purchase_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reject_purchase_button_layer
hide=yes
onload=script7445(event_com)

// 1824:54
[reject_purchase_button]
type=layer
widthmode=minus
heightmode=minus
layer=reject_purchase_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1824:55
[reject_purchase_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reject_purchase_button_layer

// 1824:56
[reject_ow_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reject_purchase_button_text_layer
textfont=cinzel_13pt_bold
text=NO
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 1824:57
[confirm_purchase_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_purchase_window

// 1824:58
[loved_up_walk_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_walk_button
onload=script7699(event_com)

// 1824:59
[loved_up_walk_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_walk_button
onload=script7728(event_com)

// 1824:60
[loved_up_walk_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_walk_button
onload=script7729(event_com)

// 1824:61
[loved_up_walk_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_walk_button
hide=yes
onload=script8225(event_com)

// 1824:62
[loved_up_walk_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=loved_up_walk_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script4714(event_com)

// 1824:63
[loved_up_walk_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_walk_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh116_tooltips(event_com)
onclick=script4714(event_com)

// 1824:64
[loved_up_walk_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_walk_button

// 1824:65
[tilebackground_2]
type=graphic
x=5
y=5
width=70
height=70
layer=loved_up_walk_button_text
graphic=trh116_icontile
colour=0xffffff
clickmask=no

// 1824:66
[loved_up_walk_item]
type=graphic
x=8
y=8
width=64
height=64
layer=loved_up_walk_button_text
graphic="trh116_icon_val17,0"
colour=0xffffff
clickmask=no

// 1824:67
[loved_up_walk_price]
type=text
x=22
y=43
width=80
height=25
xmode=abs_right
layer=loved_up_walk_button_text
textfont=museo_sans_11pt_regular
text=Rep: 200
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05

// 1824:68
[loved_up_walk_text]
type=text
x=20
y=7
width=132
height=32
xmode=abs_right
layer=loved_up_walk_button_text
textfont=museo_sans_11pt_regular_multiline
text=Loved up walk override
textalignh=2
textalignv=1
textshadow=yes

// 1824:69
[heart_balloon_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=heart_balloon_button
onload=script7699(event_com)

// 1824:70
[heart_balloon_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=heart_balloon_button
onload=script7728(event_com)

// 1824:71
[heart_balloon_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=heart_balloon_button
onload=script7729(event_com)

// 1824:72
[heart_balloon_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=heart_balloon_button
hide=yes
onload=script8225(event_com)

// 1824:73
[heart_balloon_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=heart_balloon_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script4714(event_com)

// 1824:74
[heart_balloon_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=heart_balloon_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh116_tooltips(event_com)
onclick=script4714(event_com)

// 1824:75
[heart_balloon_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=heart_balloon_button

// 1824:76
[tilebackground_3]
type=graphic
x=5
y=5
width=70
height=70
layer=heart_balloon_button_text
graphic=trh116_icontile
colour=0xffffff
clickmask=no

// 1824:77
[layer_1]
type=layer
x=5
y=5
width=70
height=70
layer=heart_balloon_button_text

// 1824:78
[heart_balloon_price]
type=text
x=22
y=43
width=80
height=25
xmode=abs_right
layer=heart_balloon_button_text
textfont=museo_sans_11pt_regular
text=Rep: 100
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05

// 1824:79
[heart_balloon_text]
type=text
x=23
y=7
width=132
height=32
xmode=abs_right
layer=heart_balloon_button_text
textfont=museo_sans_11pt_regular_multiline
text=Heart balloon
textalignh=2
textalignv=1
textshadow=yes

// 1824:80
[loved_up_loot_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_loot_button
onload=script7699(event_com)

// 1824:81
[loved_up_loot_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_loot_button
onload=script7728(event_com)

// 1824:82
[loved_up_loot_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_loot_button
onload=script7729(event_com)

// 1824:83
[loved_up_loot_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_loot_button
hide=yes
onload=script8225(event_com)

// 1824:84
[loved_up_loot_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=loved_up_loot_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script4714(event_com)

// 1824:85
[loved_up_loot_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_loot_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh116_tooltips(event_com)
onclick=script4714(event_com)

// 1824:86
[loved_up_loot_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_loot_button

// 1824:87
[tilebackground_4]
type=graphic
x=5
y=5
width=70
height=70
layer=loved_up_loot_button_text
graphic=trh116_icontile
colour=0xffffff
clickmask=no

// 1824:88
[loved_up_loot_item]
type=graphic
x=8
y=8
width=64
height=64
layer=loved_up_loot_button_text
graphic="trh116_icon_val17,1"
colour=0xffffff
clickmask=no

// 1824:89
[loved_up_loot_price]
type=text
x=22
y=43
width=80
height=25
xmode=abs_right
layer=loved_up_loot_button_text
textfont=museo_sans_11pt_regular
text=Rep: 150
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05

// 1824:90
[loved_up_loot_text]
type=text
x=20
y=7
width=132
height=32
xmode=abs_right
layer=loved_up_loot_button_text
textfont=museo_sans_11pt_regular_multiline
text=Loved up loot beam
textalignh=2
textalignv=1
textshadow=yes

// 1824:91
[loved_up_rest_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_rest_button
onload=script7699(event_com)

// 1824:92
[loved_up_rest_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_rest_button
onload=script7728(event_com)

// 1824:93
[loved_up_rest_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_rest_button
onload=script7729(event_com)

// 1824:94
[loved_up_rest_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_rest_button
hide=yes
onload=script8225(event_com)

// 1824:95
[loved_up_rest_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=loved_up_rest_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script4714(event_com)

// 1824:96
[loved_up_rest_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_rest_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh116_tooltips(event_com)
onclick=script4714(event_com)

// 1824:97
[loved_up_rest_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=loved_up_rest_button

// 1824:98
[tilebackground_5]
type=graphic
x=5
y=5
width=70
height=70
layer=loved_up_rest_button_text
graphic=trh116_icontile
colour=0xffffff
clickmask=no

// 1824:99
[loved_up_rest_item]
type=graphic
x=8
y=8
width=64
height=64
layer=loved_up_rest_button_text
graphic="trh116_icon_val17,2"
colour=0xffffff
clickmask=no

// 1824:100
[loved_up_rest_price]
type=text
x=22
y=43
width=80
height=25
xmode=abs_right
layer=loved_up_rest_button_text
textfont=museo_sans_11pt_regular
text=Rep: 150
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05

// 1824:101
[loved_up_rest_text]
type=text
x=23
y=7
width=132
height=32
xmode=abs_right
layer=loved_up_rest_button_text
textfont=museo_sans_11pt_regular_multiline
text=Loved up resting animation
textalignh=2
textalignv=1
textshadow=yes

// 1824:102
[bunch_of_flowers_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bunch_of_flowers_button
onload=script7699(event_com)

// 1824:103
[bunch_of_flowers_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bunch_of_flowers_button
onload=script7728(event_com)

// 1824:104
[bunch_of_flowers_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bunch_of_flowers_button
onload=script7729(event_com)

// 1824:105
[bunch_of_flowers_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bunch_of_flowers_button
hide=yes
onload=script8225(event_com)

// 1824:106
[bunch_of_flowers_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=bunch_of_flowers_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script4714(event_com)

// 1824:107
[bunch_of_flowers_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bunch_of_flowers_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh116_tooltips(event_com)
onclick=script4714(event_com)

// 1824:108
[bunch_of_flowers_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bunch_of_flowers_button

// 1824:109
[tilebackground_6]
type=graphic
x=5
y=5
width=70
height=70
layer=bunch_of_flowers_button_text
graphic=trh116_icontile
colour=0xffffff
clickmask=no

// 1824:110
[bunch_of_flowers_item]
type=model
x=17
y=14
width=48
height=56
layer=bunch_of_flowers_button_text
model=valentines17_flowers
modelorigin_x=-24
modelorigin_y=24
modelangle_x=536
modelangle_y=821
modelangle_z=0
modelzoom=500

// 1824:111
[bunch_of_flowers_price]
type=text
x=22
y=43
width=80
height=25
xmode=abs_right
layer=bunch_of_flowers_button_text
textfont=museo_sans_11pt_regular_multiline
text=Rep: 100
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05

// 1824:112
[bunch_of_flowers_text]
type=text
x=20
y=7
width=132
height=32
xmode=abs_right
layer=bunch_of_flowers_button_text
textfont=museo_sans_11pt_regular
text=Bunch of flowers
textalignh=2
textalignv=1
textshadow=yes

// 1824:113
[prismatic_star_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prismatic_star_button
onload=script7699(event_com)

// 1824:114
[prismatic_star_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prismatic_star_button
onload=script7728(event_com)

// 1824:115
[prismatic_star_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prismatic_star_button
onload=script7729(event_com)

// 1824:116
[prismatic_star_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prismatic_star_button
hide=yes
onload=script8225(event_com)

// 1824:117
[prismatic_star_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=prismatic_star_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script4714(event_com)

// 1824:118
[prismatic_star_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prismatic_star_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh116_tooltips(event_com)
onclick=script4714(event_com)

// 1824:119
[prismatic_star_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prismatic_star_button

// 1824:120
[tilebackground_7]
type=graphic
x=5
y=5
width=70
height=70
layer=prismatic_star_button_text
graphic=trh116_icontile
colour=0xffffff
clickmask=no

// 1824:121
[prismatic_star_item]
type=model
x=7
y=24
width=65
height=36
layer=prismatic_star_button_text
model=wof55_shooting_star_tiny_inv
modelorigin_x=0
modelorigin_y=6
modelangle_x=200
modelangle_y=1616
modelangle_z=0
modelzoom=225

// 1824:122
[prismatic_star_price]
type=text
x=22
y=43
width=123
height=25
xmode=abs_right
layer=prismatic_star_button_text
textfont=museo_sans_11pt_regular
text=Rep: 50
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05

// 1824:123
[prismatic_star_text]
type=text
x=20
y=7
width=132
height=32
xmode=abs_right
layer=prismatic_star_button_text
textfont=museo_sans_11pt_regular_multiline
text=Medium prismatic star
textalignh=2
textalignv=1
textshadow=yes

