// 557:0
[com_0]
type=rectangle
y=10
width=800
height=472
layer=tutorial_overlay
colour=0x000000
fill=yes
trans=120

// 557:1
[com_1]
type=graphic
x=160
y=48
width=482
height=256
layer=tutorial_overlay
graphic=pop_up_trh_catwalk
colour=0xffffff
clickmask=no

// 557:2
[com_2]
type=text
x=345
y=56
width=128
height=32
layer=tutorial_overlay
textfont=cinzel_25pt_bold_multiline
text=Catwalk
textalignh=1
colour=0xfcf4c6

// 557:3
[com_3]
type=text
x=176
y=112
width=248
height=40
layer=tutorial_overlay
textfont=cinzel_18pt_bold_multiline
text=Claim your free cat pet!
textlineheight=14
textalignh=3
colour=0xfcf4c6

// 557:4
[com_4]
type=text
x=176
y=155
width=248
height=43
layer=tutorial_overlay
textfont=cinzel_15pt_bold
text=Win armour to dress him up by opening chests.
textlineheight=20
textalignh=3
colour=0xfcf4c6

// 557:5
[button]
type=layer
x=302
y=301
width=170
height=51
xmode=abs_right
ymode=abs_bottom
layer=tutorial_overlay
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_button_small, "Claim")
onclick=script3502

// 557:6
[universe]
type=layer
width=758
height=356
xmode=abs_centre

// 557:7
[progress_bar_layer]
type=layer
x=459
y=297
width=236
height=306
heightmode=minus
layer=universe

// 557:8
[keybind_layer]
type=layer
layer=universe
transmitop1=yes
op1=Open
opcursor0=cursor_open
onop=trh147_chest_click(2)

// 557:9
[progress_bar_background]
type=rectangle
y=14
width=240
height=24
layer=progress_bar_layer
colour=0x0d0f22
trans=255

// 557:10
[progress_bar_fill]
type=rectangle
x=2
y=16
width=240
height=20
layer=progress_bar_layer
colour=0x318447
fill=yes

// 557:11
[top_right_tooltip]
type=layer
x=24
width=112
height=72
onmouserepeat=script8799("Unlock all seven armour pieces to win new fur options!", event_com, -1)

// 557:12
[guaranteed_armour_glow]
type=graphic
x=660
y=242
width=113
height=114
hide=yes
graphic=icon_glow_orange
colour=0xffffff
clickmask=no

// 557:13
[com_13]
type=graphic
x=685
y=292
width=61
height=61
graphic=icon_armour_trh_catwalk
colour=0xffffff
clickmask=no

// 557:14
[progress_bar_title]
type=text
x=496
y=283
width=208
height=32
textfont=cinzel_15pt_bold
text=GUARANTEED ARMOUR
colour=0xfcf4c6

// 557:15
[progress_bar_number]
type=text
x=480
y=311
width=224
height=21
textfont=cinzel_13pt_bold
text=0%
textalignh=1
textalignv=1
colour=0xfcf4c6

// 557:16
[armour_count]
type=text
x=75
y=26
width=40
height=24
textfont=cinzel_18pt_bold
text=0 / 7

// 557:17
[armour_pieces]
type=layer
x=-8
width=800
height=600

// 557:18
[scarf_text]
type=text
x=113
y=111
width=48
height=32
layer=armour_pieces
textfont=cinzel_12pt_bold
text=Bow
colour=0x191919

// 557:19
[hat_text]
type=text
x=300
y=39
width=32
height=32
layer=armour_pieces
textfont=cinzel_12pt_bold
text=Helmet
colour=0x262626

// 557:20
[tunic_text]
type=text
x=296
y=104
width=48
height=32
layer=armour_pieces
textfont=cinzel_12pt_bold
text=Breastplate
colour=0x262626

// 557:21
[trousers_text]
type=text
x=333
y=192
width=72
height=32
layer=armour_pieces
textfont=cinzel_12pt_bold
text=Faulds
colour=0x262626

// 557:22
[boots_text]
type=text
x=331
y=273
width=48
height=32
layer=armour_pieces
textfont=cinzel_12pt_bold
text=Tabi
colour=0x353535

// 557:23
[gloves_text]
type=text
x=69
y=168
width=56
height=32
layer=armour_pieces
textfont=cinzel_12pt_bold
text=Gauntlets
colour=0x191919

// 557:24
[rapier_text]
type=text
x=88
y=263
width=56
height=32
layer=armour_pieces
textfont=cinzel_12pt_bold
text=Cata-nya
colour=0x1b1b1b

// 557:25
[legs]
type=graphic
x=168
y=189
width=161
height=107
layer=armour_pieces
hide=yes
graphic=reward_legs_trh_catwalk_sameowrai
colour=0xffffff
clickmask=no

// 557:26
[body]
type=graphic
x=172
y=135
width=113
height=61
layer=armour_pieces
hide=yes
graphic=reward_body_trh_catwalk_sameowrai
colour=0xffffff
clickmask=no

// 557:27
[head]
type=graphic
x=183
y=37
width=93
height=100
layer=armour_pieces
hide=yes
graphic=reward_head_trh_catwalk_sameowrai
colour=0xffffff
clickmask=no

// 557:28
[cloak]
type=graphic
x=200
y=129
width=59
height=34
layer=armour_pieces
hide=yes
graphic=reward_cloak_trh_catwalk_sameowrai
colour=0xffffff
clickmask=no

// 557:29
[boots]
type=graphic
x=166
y=283
width=127
height=31
layer=armour_pieces
hide=yes
graphic=reward_boots_trh_catwalk_sameowrai
colour=0xffffff
clickmask=no

// 557:30
[gloves]
type=graphic
x=161
y=178
width=136
height=48
layer=armour_pieces
hide=yes
graphic=reward_gloves_trh_catwalk_sameowrai
colour=0xffffff
clickmask=no

// 557:31
[sword]
type=graphic
x=22
y=129
width=38
height=174
layer=armour_pieces
hide=yes
graphic=reward_weapon_trh_catwalk_sameowrai
colour=0xffffff
clickmask=no

// 557:32
[tutorial_overlay]
type=layer
width=800
height=600
hide=yes
noclickthrough=yes
onload=script2998
onvartransmit=script2998
onvartransmitlist=mtxmgt_unlock_bitset_21

