// 746:0
[boost]
type=text
width=80
height=32
layer=boost_layer
textfont=museo_sans_15pt_bold
text=BOOST:
textalignh=2
textalignv=1
textshadow=yes
colour=0xffcb05

// 746:1
[boost_multiplier]
type=text
x=40
width=40
height=32
xmode=abs_right
layer=boost_layer
textfont=museo_sans_15pt_bold
text=1.0
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 746:2
[x]
type=text
width=40
height=32
xmode=abs_right
layer=boost_layer
textfont=museo_sans_15pt_bold
text=X
textalignv=1
textshadow=yes
colour=0xffcb05

// 746:3
[botr_disabled]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=botr_dis
colour=0x000000
fill=yes
trans=127

// 746:4
[botl_disabled]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=botl_dis
colour=0x000000
fill=yes
trans=127

// 746:5
[topr_disabled]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=topr_dis
colour=0x000000
fill=yes
trans=127

// 746:6
[topl_disabled]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=topl_dis
colour=0x000000
fill=yes
trans=127

// 746:7
[boosted_skill]
type=layer
width=45
height=45
xmode=abs_centre
ymode=abs_centre
layer=corner_layer

// 746:8
[universe]
type=layer
width=634
height=430
xmode=abs_centre
ymode=abs_centre
onload=script8420(trh143_lucky_strike:background_layer, trh143_lucky_strike:frame_layer, trh143_lucky_strike:content_layer, trh143_lucky_strike:close_button_layer, "Chainlink", 21218, null)

// 746:9
[background_layer]
type=layer
height=430
widthmode=minus
layer=universe

// 746:10
[content_layer]
type=layer
y=30
height=400
widthmode=minus
layer=universe

// 746:11
[info]
type=text
x=15
y=193
width=445
height=42
layer=content_layer
textfont=museo_sans_11pt_regular_multiline
text=Choose any skill, the randomly boosted skill, or chain together skills in a column, corner or row for increased rewards from your locks or chains!
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 746:12
[highlight_row]
type=graphic
y=-5
width=465
height=65
xmode=abs_centre
layer=highlight_layer
hide=yes
graphic=trh143_lucky_strike_row_445x55
colour=0xffffff
clickmask=no

// 746:13
[highlight_col]
type=graphic
y=-5
width=65
height=165
layer=highlight_layer
hide=yes
graphic=trh143_lucky_strike_column_55x155
colour=0xffffff
clickmask=no

// 746:14
[highlight_rect]
type=graphic
y=-5
width=115
height=115
layer=highlight_layer
hide=yes
graphic=trh143_lucky_strike_corner_115x115
colour=0xffffff
clickmask=no

// 746:15
[highlight_skill]
type=graphic
x=5
width=55
height=55
layer=highlight_layer
hide=yes
graphic=menu_icon_over_highlight
colour=0xfaff00
clickmask=no

// 746:16
[titlebox]
type=layer
x=15
y=8
width=445
height=25
layer=content_layer

// 746:17
[title]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titlebox
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
colour=0xcde1ff
onload=script3742(event_com, 1)

// 746:18
[skills]
type=layer
x=15
y=40
width=445
height=195
layer=content_layer

// 746:19
[attack]
type=layer
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(attack, event_com, trh143_lucky_strike:background_1, trh143_lucky_strike:confirm)

// 746:20
[background_1]
type=layer
widthmode=minus
heightmode=minus
layer=attack

// 746:21
[constitution]
type=layer
x=50
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(hitpoints, event_com, trh143_lucky_strike:background_22, trh143_lucky_strike:confirm)

// 746:22
[background_22]
type=layer
widthmode=minus
heightmode=minus
layer=constitution

// 746:23
[mining]
type=layer
x=100
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(mining, event_com, trh143_lucky_strike:background_3, trh143_lucky_strike:confirm)

// 746:24
[background_3]
type=layer
widthmode=minus
heightmode=minus
layer=mining

// 746:25
[strength]
type=layer
x=150
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(strength, event_com, trh143_lucky_strike:background_8, trh143_lucky_strike:confirm)

// 746:26
[background_8]
type=layer
widthmode=minus
heightmode=minus
layer=strength

// 746:27
[agility]
type=layer
x=200
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(agility, event_com, trh143_lucky_strike:background_5, trh143_lucky_strike:confirm)

// 746:28
[background_5]
type=layer
widthmode=minus
heightmode=minus
layer=agility

// 746:29
[smithing]
type=layer
x=250
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(smithing, event_com, trh143_lucky_strike:background_10, trh143_lucky_strike:confirm)

// 746:30
[background_10]
type=layer
widthmode=minus
heightmode=minus
layer=smithing

// 746:31
[defence]
type=layer
x=300
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(defence, event_com, trh143_lucky_strike:background_15, trh143_lucky_strike:confirm)

// 746:32
[background_15]
type=layer
widthmode=minus
heightmode=minus
layer=defence

// 746:33
[herblore]
type=layer
x=350
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(herblore, event_com, trh143_lucky_strike:background_12, trh143_lucky_strike:confirm)

// 746:34
[background_12]
type=layer
widthmode=minus
heightmode=minus
layer=herblore

// 746:35
[fishing]
type=layer
x=400
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(fishing, event_com, trh143_lucky_strike:background_17, trh143_lucky_strike:confirm)

// 746:36
[background_17]
type=layer
widthmode=minus
heightmode=minus
layer=fishing

// 746:37
[ranged]
type=layer
y=50
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(ranged, event_com, trh143_lucky_strike:background_9, trh143_lucky_strike:confirm)

// 746:38
[background_9]
type=layer
widthmode=minus
heightmode=minus
layer=ranged

// 746:39
[thieving]
type=layer
x=50
y=50
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(thieving, event_com, trh143_lucky_strike:background_7, trh143_lucky_strike:confirm)

// 746:40
[background_7]
type=layer
widthmode=minus
heightmode=minus
layer=thieving

// 746:41
[cooking]
type=layer
x=100
y=50
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(cooking, event_com, trh143_lucky_strike:background_24, trh143_lucky_strike:confirm)

// 746:42
[background_24]
type=layer
widthmode=minus
heightmode=minus
layer=cooking

// 746:43
[prayer]
type=layer
x=150
y=50
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(prayer, event_com, trh143_lucky_strike:background_16, trh143_lucky_strike:confirm)

// 746:44
[background_16]
type=layer
widthmode=minus
heightmode=minus
layer=prayer

// 746:45
[crafting]
type=layer
x=200
y=50
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(crafting, event_com, trh143_lucky_strike:background_18, trh143_lucky_strike:confirm)

// 746:46
[background_18]
type=layer
widthmode=minus
heightmode=minus
layer=crafting

// 746:47
[firemaking]
type=layer
x=250
y=50
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(firemaking, event_com, trh143_lucky_strike:background_11, trh143_lucky_strike:confirm)

// 746:48
[background_11]
type=layer
widthmode=minus
heightmode=minus
layer=firemaking

// 746:49
[magic]
type=layer
x=300
y=50
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(magic, event_com, trh143_lucky_strike:background_2, trh143_lucky_strike:confirm)

// 746:50
[background_2]
type=layer
widthmode=minus
heightmode=minus
layer=magic

// 746:51
[fletching]
type=layer
x=350
y=50
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(fletching, event_com, trh143_lucky_strike:background_6, trh143_lucky_strike:confirm)

// 746:52
[background_6]
type=layer
widthmode=minus
heightmode=minus
layer=fletching

// 746:53
[woodcutting]
type=layer
x=400
y=50
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(woodcutting, event_com, trh143_lucky_strike:background_4, trh143_lucky_strike:confirm)

// 746:54
[background_4]
type=layer
widthmode=minus
heightmode=minus
layer=woodcutting

// 746:55
[runecraft]
type=layer
y=100
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(runecraft, event_com, trh143_lucky_strike:background_25, trh143_lucky_strike:confirm)

// 746:56
[background_25]
type=layer
widthmode=minus
heightmode=minus
layer=runecraft

// 746:57
[slayer]
type=layer
x=50
y=100
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(slayer, event_com, trh143_lucky_strike:background_13, trh143_lucky_strike:confirm)

// 746:58
[background_13]
type=layer
widthmode=minus
heightmode=minus
layer=slayer

// 746:59
[farming]
type=layer
x=100
y=100
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(farming, event_com, trh143_lucky_strike:background_19, trh143_lucky_strike:confirm)

// 746:60
[background_19]
type=layer
widthmode=minus
heightmode=minus
layer=farming

// 746:61
[construction]
type=layer
x=150
y=100
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(construction, event_com, trh143_lucky_strike:background_14, trh143_lucky_strike:confirm)

// 746:62
[background_14]
type=layer
widthmode=minus
heightmode=minus
layer=construction

// 746:63
[hunter]
type=layer
x=200
y=100
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(hunter, event_com, trh143_lucky_strike:background_20, trh143_lucky_strike:confirm)

// 746:64
[background_20]
type=layer
widthmode=minus
heightmode=minus
layer=hunter

// 746:65
[summoning]
type=layer
x=250
y=100
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(summoning, event_com, trh143_lucky_strike:background_21, trh143_lucky_strike:confirm)

// 746:66
[background_21]
type=layer
widthmode=minus
heightmode=minus
layer=summoning

// 746:67
[dungeoneering]
type=layer
x=300
y=100
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(dungeoneering, event_com, trh143_lucky_strike:background_23, trh143_lucky_strike:confirm)

// 746:68
[background_23]
type=layer
widthmode=minus
heightmode=minus
layer=dungeoneering

// 746:69
[divination]
type=layer
x=350
y=100
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(divination, event_com, trh143_lucky_strike:background_26, trh143_lucky_strike:confirm)

// 746:70
[background_26]
type=layer
widthmode=minus
heightmode=minus
layer=divination

// 746:71
[invention]
type=layer
x=400
y=100
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script3295(invention, event_com, trh143_lucky_strike:background_27, trh143_lucky_strike:confirm)

// 746:72
[background_27]
type=layer
widthmode=minus
heightmode=minus
layer=invention

// 746:73
[outputbox]
type=layer
x=67
y=325
width=340
height=25
layer=content_layer

// 746:74
[output_background]
type=layer
widthmode=minus
heightmode=minus
layer=outputbox
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 746:75
[output]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=outputbox
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1

// 746:76
[confirm]
type=layer
x=272
y=360
width=150
height=27
layer=content_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script3738(event_com, trh143_lucky_strike:confirm_button_disabled_layer, trh143_lucky_strike:output)

// 746:77
[later]
type=layer
x=52
y=360
width=150
height=27
layer=content_layer
pausebutton=yes
pausetext=Cancel

// 746:78
[column_layer]
type=layer
x=15
y=240
width=444
height=80
layer=content_layer

// 746:79
[column_checks]
type=layer
x=15
y=240
width=444
height=80
layer=content_layer

// 746:80
[row_layer]
type=layer
width=160
height=240
xmode=abs_right
layer=content_layer

// 746:81
[boost_layer]
type=layer
width=160
height=32
layer=row_layer
onmouserepeat=script8799("Shows the amount of XP or Bonus XP you'll receive compared to a normal lamp or star which will be spread across the skill(s) selected, and more if it's in the boosted skill!", event_com, -1)

// 746:82
[row_checks]
type=layer
width=160
height=240
xmode=abs_right
layer=content_layer

// 746:83
[corner_layer]
type=layer
width=160
height=160
xmode=abs_right
ymode=abs_bottom
layer=content_layer

// 746:84
[corner_checks]
type=layer
width=160
height=160
xmode=abs_right
ymode=abs_bottom
layer=content_layer

// 746:85
[row_1]
type=graphic
y=45
width=35
height=35
xmode=abs_centre
layer=row_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:86
[row_2]
type=graphic
y=95
width=35
height=35
xmode=abs_centre
layer=row_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:87
[row_3]
type=graphic
y=145
width=35
height=35
xmode=abs_centre
layer=row_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:88
[row_4]
type=graphic
y=195
width=35
height=35
xmode=abs_centre
layer=row_layer
hide=yes
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:89
[highlight_layer]
type=layer
x=5
y=35
width=465
height=205
layer=content_layer

// 746:90
[topl]
type=graphic
x=-40
y=-40
width=35
height=35
xmode=abs_centre
ymode=abs_centre
layer=corner_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:91
[topr]
type=graphic
x=40
y=-40
width=35
height=35
xmode=abs_centre
ymode=abs_centre
layer=corner_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:92
[botl]
type=graphic
x=-40
y=40
width=35
height=35
xmode=abs_centre
ymode=abs_centre
layer=corner_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:93
[botr]
type=graphic
x=40
y=40
width=35
height=35
xmode=abs_centre
ymode=abs_centre
layer=corner_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:94
[topl_dis]
type=layer
x=-40
y=-40
width=35
height=35
xmode=abs_centre
ymode=abs_centre
layer=corner_layer
hide=yes
noclickthrough=yes

// 746:95
[topr_dis]
type=layer
x=40
y=-40
width=35
height=35
xmode=abs_centre
ymode=abs_centre
layer=corner_layer
hide=yes
noclickthrough=yes

// 746:96
[botl_dis]
type=layer
x=-40
y=40
width=35
height=35
xmode=abs_centre
ymode=abs_centre
layer=corner_layer
hide=yes
noclickthrough=yes

// 746:97
[botr_dis]
type=layer
x=40
y=40
width=35
height=35
xmode=abs_centre
ymode=abs_centre
layer=corner_layer
hide=yes
noclickthrough=yes

// 746:98
[highlight_skill_corner]
type=graphic
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=corner_layer
graphic=menu_icon_over_highlight
colour=0xfaff00
clickmask=no

// 746:99
[highlight_topl]
type=graphic
x=-40
y=-40
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=corner_layer
graphic=menu_icon_over_highlight
trans=127
colour=0x21d81d
clickmask=no

// 746:100
[highlight_topr]
type=graphic
x=40
y=-40
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=corner_layer
graphic=menu_icon_over_highlight
trans=127
colour=0x21d81d
clickmask=no

// 746:101
[highlight_botl]
type=graphic
x=-40
y=40
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=corner_layer
graphic=menu_icon_over_highlight
trans=127
colour=0x21d81d
clickmask=no

// 746:102
[highlight_botr]
type=graphic
x=40
y=40
width=60
height=60
xmode=abs_centre
ymode=abs_centre
layer=corner_layer
graphic=menu_icon_over_highlight
trans=127
colour=0x21d81d
clickmask=no

// 746:103
[column_1]
type=graphic
x=5
width=35
height=35
ymode=abs_centre
layer=column_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:104
[column_2]
type=graphic
x=55
width=35
height=35
ymode=abs_centre
layer=column_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:105
[column_3]
type=graphic
x=105
width=35
height=35
ymode=abs_centre
layer=column_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:106
[column_4]
type=graphic
x=155
width=35
height=35
ymode=abs_centre
layer=column_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:107
[column_5]
type=graphic
x=205
width=35
height=35
ymode=abs_centre
layer=column_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:108
[column_6]
type=graphic
x=255
width=35
height=35
ymode=abs_centre
layer=column_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:109
[column_7]
type=graphic
x=305
width=35
height=35
ymode=abs_centre
layer=column_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:110
[column_8]
type=graphic
x=355
width=35
height=35
ymode=abs_centre
layer=column_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:111
[column_9]
type=graphic
x=405
width=35
height=35
ymode=abs_centre
layer=column_layer
graphic="rs3_btn_icon_32px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_32px_icon_button)

// 746:112
[confirm_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm
onload=script7041(event_com)

// 746:113
[confirm_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm
onload=script7042(event_com)

// 746:114
[confirm_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm
onload=script7044(event_com)

// 746:115
[confirm_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm
onload=script4213(event_com)

// 746:116
[confirm_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm
hide=yes
onload=script7060(event_com)

// 746:117
[confirm_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm

// 746:118
[confirm_button_text]
type=text
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_text_layer
textfont=cinzel_13pt_bold
text=Confirm
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 746:119
[cancel_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later
onload=script7275(event_com)

// 746:120
[cancel_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later
onload=script7276(event_com)

// 746:121
[cancel_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later
onload=script7277(event_com)

// 746:122
[cancel_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=later
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 746:123
[cancel_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later
hide=yes
onload=script7572(event_com)

// 746:124
[cancel_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later

// 746:125
[cancel_button_text]
type=text
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_text_layer
textfont=cinzel_13pt_bold
text=Cancel
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 746:126
[frame_layer]
type=layer
height=430
widthmode=minus
layer=universe

// 746:127
[close_button_layer]
type=layer
height=430
widthmode=minus
layer=universe
transmitop1=yes
op1=Close
onop=closebutton_click

// 746:128
[background_boosted_skill]
type=layer
widthmode=minus
heightmode=minus
layer=boosted_skill

// 746:129
[row_2_check]
type=graphic
y=96
width=33
height=33
xmode=abs_centre
layer=row_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:130
[row_3_check]
type=graphic
y=146
width=33
height=33
xmode=abs_centre
layer=row_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:131
[row_4_check]
type=graphic
y=196
width=33
height=33
xmode=abs_centre
layer=row_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:132
[row_1_check]
type=graphic
y=46
width=33
height=33
xmode=abs_centre
layer=row_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:133
[topl_check]
type=graphic
x=-40
y=-40
width=33
height=33
xmode=abs_centre
ymode=abs_centre
layer=corner_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:134
[topr_check]
type=graphic
x=40
y=-40
width=33
height=33
xmode=abs_centre
ymode=abs_centre
layer=corner_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:135
[botl_check]
type=graphic
x=-40
y=40
width=33
height=33
xmode=abs_centre
ymode=abs_centre
layer=corner_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:136
[botr_check]
type=graphic
x=40
y=40
width=33
height=33
xmode=abs_centre
ymode=abs_centre
layer=corner_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:137
[column_9_check]
type=graphic
x=406
width=33
height=33
ymode=abs_centre
layer=column_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:138
[column_8_check]
type=graphic
x=356
width=33
height=33
ymode=abs_centre
layer=column_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:139
[column_7_check]
type=graphic
x=306
width=33
height=33
ymode=abs_centre
layer=column_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:140
[column_6_check]
type=graphic
x=256
width=33
height=33
ymode=abs_centre
layer=column_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:141
[column_5_check]
type=graphic
x=206
width=33
height=33
ymode=abs_centre
layer=column_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:142
[column_4_check]
type=graphic
x=156
width=33
height=33
ymode=abs_centre
layer=column_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:143
[column_3_check]
type=graphic
x=106
width=33
height=33
ymode=abs_centre
layer=column_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:144
[column_2_check]
type=graphic
x=56
width=33
height=33
ymode=abs_centre
layer=column_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

// 746:145
[column_1_check]
type=graphic
x=6
width=33
height=33
ymode=abs_centre
layer=column_checks
hide=yes
graphic=login_tick
colour=0xffffff
clickmask=no

