// 1271:0
[splash_screen]
type=layer
y=8
width=760
height=356
xmode=abs_centre
hide=yes

// 1271:1
[com_1]
type=rectangle
widthmode=minus
heightmode=minus
layer=splash_screen
colour=0x000000
fill=yes
trans=130

// 1271:2
[title]
type=graphic
y=2
width=446
height=38
xmode=abs_centre
layer=splash_screen
noclickthrough=yes
graphic=trh195_promo_title_en
colour=0xffffff
clickmask=no

// 1271:3
[npc_layer]
type=layer
y=-10
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=splash_screen

// 1271:4
[npc_model_1]
type=model
x=245
y=20
width=32
height=32
ymode=abs_bottom
layer=npc_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1271:5
[npc_model_1_spotanim_1]
type=model
y=18
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=npc_layer
model=null
modelorigin_x=0
modelorigin_y=9
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1271:6
[npc_model_1_spotanim_2]
type=model
y=18
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=npc_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1271:7
[npc_model_2]
type=model
x=245
y=20
width=32
height=32
xmode=abs_right
ymode=abs_bottom
layer=npc_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1271:8
[splash_text_1_backing]
type=graphic
width=464
height=80
xmode=abs_centre
ymode=abs_bottom
layer=npc_layer
noclickthrough=yes
graphic=trh190_text_shadow
colour=0x000000
clickmask=no

// 1271:9
[splash_text_1]
type=text
y=32
width=468
height=40
xmode=abs_centre
ymode=abs_bottom
layer=npc_layer
noclickthrough=yes
textfont=notosans_12
text=The Springbloom Witch outfit and staff, and the Witch's Ride walk override
textalignh=1
textalignv=1

// 1271:10
[splash_desc_backing]
type=graphic
y=33
width=667
height=41
xmode=abs_centre
layer=splash_screen
noclickthrough=yes
graphic=trh190_text_shadow
colour=0xffffff
clickmask=no

// 1271:11
[splash_desc]
type=text
y=33
width=692
height=33
xmode=abs_centre
layer=splash_screen
noclickthrough=yes
textfont=notosans_bold_14
text=Win all these rewards from the Witch's Cauldron!
textalignh=1
textalignv=1

// 1271:12
[splash_screen_close_btn]
type=button
y=12
width=200
height=32
xmode=abs_centre
ymode=abs_bottom
layer=splash_screen
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Play Now
stylesheet=button_action_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=trh_overlay_op(5, 1)

// 1271:13
[universe]
type=layer
y=8
width=758
height=356
xmode=abs_centre
onload=trh195_overlay_setup

// 1271:14
[potion_layer]
type=layer
width=525
heightmode=minus
layer=universe
onvartransmit=trh195_overlay_update
onvartransmitlist=trh_promos_var29,trh_promos_var29,trh_promos_var29

// 1271:15
[potion_container]
type=layer
y=45
width=525
height=45
heightmode=minus
layer=potion_layer

// 1271:16
[potion_layer_1]
type=layer
x=-12
width=200
heightmode=minus
ymode=abs_bottom
layer=potion_container

// 1271:17
[potion_text_panel_1]
type=graphic
y=8
width=180
height=41
xmode=abs_centre
ymode=abs_bottom
layer=potion_layer_1
noclickthrough=yes
graphic=trh195_image_panel_bottom_summer
colour=0xffffff
clickmask=no

// 1271:18
[potion_name_1]
type=text
y=10
width=40
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=potion_layer_1
noclickthrough=yes
textfont=notosans_12
text=Common
textalignh=1
textalignv=1
textshadow=yes

// 1271:19
[modifier_layer_1]
type=layer
x=20
y=15
width=62
height=75
xmode=abs_centre
layer=potion_layer_1

// 1271:20
[potion_gem_1_shadow]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modifier_layer_1
noclickthrough=yes
graphic=trh_gem_shadow
colour=0xffffff
clickmask=no

// 1271:21
[gem_plus_1]
type=graphic
width=20
height=20
xmode=abs_right
layer=modifier_layer_1
noclickthrough=yes
graphic=trh187_rarity_plus
colour=0xffffff
clickmask=no

// 1271:22
[potion_gem_1]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modifier_layer_1
noclickthrough=yes
graphic="trh181_all_gem_shine,3"
colour=0xffffff
clickmask=no

// 1271:23
[potion_multiplier_1]
type=graphic
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=modifier_layer_1
noclickthrough=yes
graphic=trh_multiplier_x2
colour=0xffffff

// 1271:24
[potion_graphic_1]
type=graphic
x=20
width=123
height=166
xmode=abs_centre
ymode=abs_centre
layer=potion_layer_1
noclickthrough=yes
graphic=trh195_image_potion_red
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Pick
opcursor0=cursor_take
onop=script18343(1, event_com)

// 1271:25
[potion_layer_2]
type=layer
width=200
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=potion_container

// 1271:26
[potion_text_panel_2]
type=graphic
y=8
width=180
height=41
xmode=abs_centre
ymode=abs_bottom
layer=potion_layer_2
noclickthrough=yes
graphic=trh195_image_panel_bottom_summer
colour=0xffffff
clickmask=no

// 1271:27
[potion_name_2]
type=text
y=10
width=40
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=potion_layer_2
noclickthrough=yes
textfont=notosans_12
text=Common
textalignh=1
textalignv=1
textshadow=yes

// 1271:28
[modifier_layer_2]
type=layer
y=15
width=62
height=75
xmode=abs_centre
layer=potion_layer_2

// 1271:29
[potion_gem_2_shadow]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modifier_layer_2
noclickthrough=yes
graphic=trh_gem_shadow
colour=0xffffff
clickmask=no

// 1271:30
[gem_plus_2]
type=graphic
width=20
height=20
xmode=abs_right
layer=modifier_layer_2
noclickthrough=yes
graphic=trh187_rarity_plus
colour=0xffffff
clickmask=no

// 1271:31
[potion_gem_2]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=modifier_layer_2
noclickthrough=yes
graphic="trh181_all_gem_shine,1"
colour=0xffffff
clickmask=no

// 1271:32
[potion_multiplier_2]
type=graphic
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=modifier_layer_2
noclickthrough=yes
graphic=trh_multiplier_x2
colour=0xffffff

// 1271:33
[potion_graphic_2]
type=graphic
width=123
height=166
xmode=abs_centre
ymode=abs_centre
layer=potion_layer_2
noclickthrough=yes
graphic=trh195_image_potion_yellow
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Pick
opcursor0=cursor_take
onop=script18343(2, event_com)

// 1271:34
[potion_layer_3]
type=layer
x=-12
width=200
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=potion_container

// 1271:35
[potion_text_panel_3]
type=graphic
y=8
width=180
height=41
xmode=abs_centre
ymode=abs_bottom
layer=potion_layer_3
noclickthrough=yes
graphic=trh195_image_panel_bottom_summer
colour=0xffffff
clickmask=no

// 1271:36
[potion_name_3]
type=text
y=10
width=40
height=32
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=potion_layer_3
noclickthrough=yes
textfont=notosans_12
text=Common
textalignh=1
textalignv=1
textshadow=yes

// 1271:37
[modifier_layer_3]
type=layer
x=-20
y=15
width=62
height=75
xmode=abs_centre
layer=potion_layer_3

// 1271:38
[potion_gem_3_shadow]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modifier_layer_3
noclickthrough=yes
graphic=trh_gem_shadow
colour=0xffffff
clickmask=no

// 1271:39
[gem_plus_3]
type=graphic
width=20
height=20
xmode=abs_right
layer=modifier_layer_3
noclickthrough=yes
graphic=trh187_rarity_plus
colour=0xffffff
clickmask=no

// 1271:40
[potion_gem_3]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modifier_layer_3
noclickthrough=yes
graphic="trh181_all_gem_shine,1"
colour=0xffffff
clickmask=no

// 1271:41
[potion_multiplier_3]
type=graphic
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=modifier_layer_3
noclickthrough=yes
graphic=trh_multiplier_x2
colour=0xffffff

// 1271:42
[potion_graphic_3]
type=graphic
x=-20
width=123
height=166
xmode=abs_centre
ymode=abs_centre
layer=potion_layer_3
noclickthrough=yes
graphic=trh195_image_potion_yellow
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Pick
opcursor0=cursor_take
onop=script18343(3, event_com)

// 1271:43
[recipe_layer]
type=layer
width=250
height=354
xmode=abs_right
layer=universe
onvartransmit=script15682
onvartransmitlist=trh_promos_var17,trh_promos_var17,trh_promos_var17,trh_promos_var17

// 1271:44
[recipe_list_1]
type=layer
y=24
width=217
height=131
xmode=abs_centre
layer=recipe_layer

// 1271:45
[recipe_tooltip_1]
type=layer
width=217
height=90
layer=recipe_list_1

// 1271:46
[recipe_bg_1]
type=graphic
width=213
height=100
layer=recipe_list_1
noclickthrough=yes
graphic=trh195_image_panel_right
colour=0xffffff
clickmask=no

// 1271:47
[recipe_title_1]
type=text
x=16
y=6
width=30
height=32
widthmode=minus
layer=recipe_list_1
noclickthrough=yes
textfont=cinzel_12pt_bold
text=Collect Potions
textalignh=1

// 1271:48
[ingredient_list_1]
type=layer
y=25
width=125
height=62
layer=recipe_list_1

// 1271:49
[recipe_amount_text_1]
type=text
x=72
width=40
height=40
ymode=abs_centre
layer=ingredient_list_1
noclickthrough=yes
textfont=cinzel_25pt_bold_multiline
text=x5
textalignh=1
textalignv=1

// 1271:50
[recipe_potion_graphic_1]
type=graphic
x=10
y=-6
width=57
height=77
ymode=abs_centre
layer=ingredient_list_1
graphic=trh195_image_potion_yellow
trans=81
colour=0xffffff
clickmask=no

// 1271:51
[result_1]
type=layer
x=10
y=30
width=57
height=50
xmode=abs_right
layer=recipe_list_1

// 1271:52
[recipe_reward_graphic_1]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=result_1
noclickthrough=yes
graphic=icon_multiplier_x2
trans=80
colour=0xffffff
clickmask=no

// 1271:53
[equals_graphic_1]
type=graphic
x=22
y=40
width=184
height=32
widthmode=minus
xmode=abs_centre
layer=recipe_list_1
noclickthrough=yes
graphic=trhmar18_select_arrow_active
trans=80
hflip=yes
colour=0xffffff
clickmask=no

// 1271:54
[recipe_list_2]
type=layer
y=24
width=217
height=131
xmode=abs_centre
ymode=abs_centre
layer=recipe_layer

// 1271:55
[recipe_tooltip_2]
type=layer
width=217
height=90
layer=recipe_list_2

// 1271:56
[recipe_bg_2]
type=graphic
width=213
height=100
layer=recipe_list_2
noclickthrough=yes
graphic=trh195_image_panel_right
colour=0xffffff
clickmask=no

// 1271:57
[recipe_title_2]
type=text
x=16
y=6
width=30
height=32
widthmode=minus
layer=recipe_list_2
noclickthrough=yes
textfont=cinzel_12pt_bold
text=Collect Potions
textalignh=1

// 1271:58
[ingredient_list_2]
type=layer
y=25
width=125
height=62
layer=recipe_list_2

// 1271:59
[recipe_amount_text_2]
type=text
x=72
width=40
height=40
ymode=abs_centre
layer=ingredient_list_2
noclickthrough=yes
textfont=cinzel_25pt_bold_multiline
text=x5
textalignh=1
textalignv=1

// 1271:60
[recipe_potion_graphic_2]
type=graphic
x=10
y=-6
width=57
height=77
ymode=abs_centre
layer=ingredient_list_2
graphic=trh195_image_potion_orange
trans=81
colour=0xffffff
clickmask=no

// 1271:61
[result_2]
type=layer
x=10
y=30
width=57
height=50
xmode=abs_right
layer=recipe_list_2

// 1271:62
[recipe_reward_graphic_2]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=result_2
noclickthrough=yes
graphic=icon_multiplier_x3
trans=80
colour=0xffffff
clickmask=no

// 1271:63
[equals_graphic_2]
type=graphic
x=22
y=40
width=184
height=32
widthmode=minus
xmode=abs_centre
layer=recipe_list_2
noclickthrough=yes
graphic=trhmar18_select_arrow_active
trans=80
hflip=yes
colour=0xffffff
clickmask=no

// 1271:64
[recipe_list_3]
type=layer
y=-24
width=217
height=131
xmode=abs_centre
ymode=abs_bottom
layer=recipe_layer

// 1271:65
[recipe_tooltip_3]
type=layer
width=217
height=90
layer=recipe_list_3

// 1271:66
[recipe_bg_3]
type=graphic
width=213
height=100
layer=recipe_list_3
noclickthrough=yes
graphic=trh195_image_panel_right
colour=0xffffff
clickmask=no

// 1271:67
[recipe_title_3]
type=text
x=16
y=6
width=30
height=32
widthmode=minus
layer=recipe_list_3
noclickthrough=yes
textfont=cinzel_12pt_bold
text=Complete Collections
textalignh=1

// 1271:68
[ingredient_list_3]
type=layer
y=25
width=125
height=62
layer=recipe_list_3

// 1271:69
[recipie_list_graphic_3]
type=graphic
x=12
width=64
height=64
ymode=abs_centre
layer=ingredient_list_3
graphic=trh195_icon_potion_collection
colour=0xffffff
clickmask=no

// 1271:70
[recipe_count_text]
type=text
x=72
width=40
height=40
ymode=abs_centre
layer=ingredient_list_3
noclickthrough=yes
textfont=cinzel_25pt_bold_multiline
text=x5
textalignh=1
textalignv=1
textshadow=yes
colour=0x00f253

// 1271:71
[result_3]
type=layer
x=-10
y=-10
width=100
height=100
xmode=abs_right
layer=recipe_list_3

// 1271:72
[com_72]
type=model
x=-1
y=43
width=50
height=47
xmode=abs_centre
layer=result_3
model=human_furniture_cauldron_ornate_cat
modelorigin_x=-1
modelorigin_y=20
modelangle_x=119
modelangle_y=119
modelangle_z=0
modelzoom=1000

// 1271:73
[equals_graphic_3]
type=graphic
x=22
y=40
width=184
height=32
widthmode=minus
xmode=abs_centre
layer=recipe_list_3
noclickthrough=yes
graphic=trhmar18_select_arrow_active
trans=80
hflip=yes
colour=0x00f253
clickmask=no

// 1271:74
[smoke_layer]
type=layer
width=758
height=356
layer=universe

// 1271:75
[potion_smokepuff_1]
type=model
x=60
y=-45
width=244
height=250
xmode=abs_right
layer=smoke_layer
hide=yes
model=smokepuff_update_imp_champion_follower3
modelorigin_x=-1
modelorigin_y=0
modelangle_x=513
modelangle_y=0
modelangle_z=0
modelzoom=800
modelanim=smokepuff

// 1271:76
[potion_smokepuff_2]
type=model
x=60
y=70
width=244
height=250
xmode=abs_right
layer=smoke_layer
hide=yes
model=smokepuff_update_imp_champion_follower3
modelorigin_x=-1
modelorigin_y=0
modelangle_x=513
modelangle_y=0
modelangle_z=0
modelzoom=800
modelanim=smokepuff

// 1271:77
[potion_smokepuff_3]
type=model
x=60
y=180
width=244
height=250
xmode=abs_right
layer=smoke_layer
hide=yes
model=smokepuff_update_imp_champion_follower3
modelorigin_x=-1
modelorigin_y=0
modelangle_x=513
modelangle_y=0
modelangle_z=0
modelzoom=800
modelanim=smokepuff

// 1271:78
[bonus_chest_layer]
type=layer
width=515
heightmode=minus
layer=universe
hide=yes

// 1271:79
[bonus_chest]
type=layer
y=10
width=300
height=300
xmode=abs_centre
ymode=abs_bottom
layer=bonus_chest_layer
transmitop1=yes
opbase=Assassin Chest
op1=Open
opcursor0=cursor_open

// 1271:80
[bonus_chest_model]
type=model
y=3
width=137
height=128
xmode=abs_centre
ymode=abs_centre
layer=bonus_chest
model=human_furniture_cauldron_ornate_cat
modelorigin_x=0
modelorigin_y=52
modelangle_x=162
modelangle_y=43
modelangle_z=0
modelzoom=400
modelanim=trh_chest_closed_idle

// 1271:81
[prize_claim_overlay]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bonus_chest_layer
noclickthrough=yes

// 1271:82
[com_82]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_overlay
noclickthrough=yes
colour=0x000000
fill=yes
trans=200

// 1271:83
[prize_claim_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_overlay
onvartransmit=script18353
onvartransmitlist=trh195_prize_obj

// 1271:84
[glow]
type=graphic
y=-70
width=392
height=380
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer
noclickthrough=yes
graphic=trh178_glow
colour=0xffffff
clickmask=no

// 1271:85
[light_flare]
type=graphic
y=-70
width=730
height=783
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer
graphic=trh178_light
colour=0xffffff
clickmask=no
ontimer=script16497(event_com, 1, 0, 100)

// 1271:86
[ragdoll_layer]
type=layer
x=54
width=407
height=258
layer=prize_claim_layer

// 1271:87
[ragdoll_model]
type=model
width=166
heightmode=minus
xmode=abs_centre
layer=ragdoll_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
modelobjheight=258

// 1271:88
[prize_claim_floating_object]
type=layer
y=-70
width=300
height=300
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer

// 1271:89
[prize_claim_object_model]
type=model
y=59
width=742
height=417
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_floating_object
model=human_novelty_witch_stylish_m_hat
modelorigin_x=-1
modelorigin_y=90
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=600
modelobjwidth=65094
modelobjheight=65419
ontimer=script16015(event_com, -1)

// 1271:90
[prize_claim_object]
type=graphic
width=128
height=128
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_floating_object
noclickthrough=yes
colour=0xffffff
clickmask=no
ontimer=script16015(event_com, -1)

// 1271:91
[prize_claim_anim_layer]
type=layer
y=-80
width=300
height=280
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer

// 1271:92
[prize_claim_dragger]
type=layer
y=-80
width=166
height=60
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer

// 1271:93
[load_preview]
type=layer
y=-80
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer
hide=yes

// 1271:94
[pet_layer]
type=model
y=90
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1271:95
[prize_claim_button]
type=button
y=20
width=150
height=32
xmode=abs_centre
ymode=abs_bottom
layer=prize_claim_layer
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Claim
stylesheet=button_action_positive
transmitop1=yes
op1=Claim
onbuttonpressed=trh_overlay_op(2, 1)

// 1271:96
[prize_claim_title]
type=text
y=16
height=32
widthmode=minus
layer=prize_claim_layer
hide=yes
noclickthrough=yes
textfont=notosans_21
text=You open your Emerald Chest and receive
textalignh=1
textalignv=1
colour=0xc6ac0e
stylesheet=background_default

// 1271:97
[prize_claim_item_text]
type=text
y=50
height=32
widthmode=minus
ymode=abs_bottom
layer=prize_claim_layer
noclickthrough=yes
textfont=notosans_15
text=Smouldering Lamp
textalignh=1
textalignv=1

// 1271:98
[keybind_layer]
type=layer
layer=universe
transmitop1=yes
op1=Open
opcursor0=cursor_open
onop=script18343(0, event_com)

// 1271:99
[probability_layer]
type=layer
width=758
height=356
layer=universe
hide=yes
noclickthrough=yes

// 1271:100
[com_100]
type=rectangle
widthmode=minus
heightmode=minus
layer=probability_layer
noclickthrough=yes
colour=0x000000
fill=yes
trans=25

// 1271:101
[witch_chest_probabilities]
type=layer
width=573
height=356
xmode=abs_right
layer=probability_layer

// 1271:102
[witch_chest_probability_scroll_bar]
type=layer
x=-2
y=18
width=21
height=28
heightmode=minus
xmode=abs_right
layer=witch_chest_probabilities

// 1271:103
[witch_chest_probability_scroll_layer]
type=layer
y=16
width=22
height=16
widthmode=minus
heightmode=minus
layer=witch_chest_probabilities

// 1271:104
[witch_chest_probability_content]
type=layer
width=22
height=356
widthmode=minus
layer=witch_chest_probabilities

// 1271:105
[witch_chest_preview_layer]
type=layer
width=186
heightmode=minus
layer=probability_layer

// 1271:106
[witch_chest_preview_object_model]
type=model
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=witch_chest_preview_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800
ontimer=script16015(event_com, -1)

// 1271:107
[witch_chest_preview_ragdoll_container]
type=layer
y=-10
width=166
height=230
xmode=abs_centre
ymode=abs_centre
layer=witch_chest_preview_layer

// 1271:108
[witch_chest_preview_ragdoll_model]
type=model
y=-10
width=166
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=witch_chest_preview_ragdoll_container
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
modelobjheight=230

// 1271:109
[witch_chest_preview_object]
type=graphic
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=witch_chest_preview_layer
noclickthrough=yes
colour=0xffffff
clickmask=no
ontimer=script16015(event_com, -1)

// 1271:110
[witch_chest_pet_layer]
type=model
y=-3
width=2187
height=1749
xmode=abs_centre
ymode=abs_bottom
layer=witch_chest_preview_layer
model=null
modelorigin_x=0
modelorigin_y=873
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=100

// 1271:111
[witch_chest_preview_anim_layer]
type=layer
height=283
widthmode=minus
layer=witch_chest_preview_layer

// 1271:112
[witch_chest_preview_dragger]
type=layer
y=-20
width=166
height=108
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=witch_chest_preview_layer

// 1271:113
[witch_chest_preview_load]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=witch_chest_preview_layer

// 1271:114
[witch_chest_preview_item]
type=text
y=284
width=40
height=34
widthmode=minus
xmode=abs_centre
layer=witch_chest_preview_layer
noclickthrough=yes
textfont=notosans_12
text=PRIZE NAME
textalignh=1
textalignv=1

// 1271:115
[witch_chest_preview_price]
type=text
y=318
width=10
height=28
widthmode=minus
xmode=abs_centre
layer=witch_chest_preview_layer
noclickthrough=yes
textfont=notosans_12
textalignh=1
textalignv=1

// 1271:116
[witch_chest_probability_back]
type=button
x=16
y=18
width=147
height=32
layer=witch_chest_preview_layer
noclickthrough=yes
text.text=Back
stylesheet=button_icon_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onbuttonpressed=script17164(trh195_promo, true)

// 1271:117
[promo_prize_button]
type=button
x=16
y=18
width=147
height=32
layer=universe
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Promo Prizes
stylesheet=button_action_positive
transmitop1=yes
op1=Select
opcursor0=cursor_use
onbuttonpressed=script17164(trh195_promo, false)

