// 1828:0
[perk_2_right_cooldown]
type=graphic
width=58
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_2_cooldown_right_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
colour=0x010101
clickmask=no

// 1828:1
[perk_2_left_cooldown]
type=graphic
width=58
height=58
ymode=abs_centre
layer=perk_2_cooldown_left_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
hflip=yes
colour=0x010101
clickmask=no

// 1828:2
[gem_layer_1]
type=layer
x=246
y=160
width=50
height=71
layer=clairvoyance_layer
hide=yes

// 1828:3
[gem_layer_2]
type=layer
x=416
y=174
width=50
height=71
layer=clairvoyance_layer
hide=yes

// 1828:4
[gem_layer_3]
type=layer
x=592
y=169
width=50
height=71
layer=clairvoyance_layer
hide=yes

// 1828:5
[gem_layer_4]
type=layer
x=316
y=65
width=50
height=71
layer=clairvoyance_layer
hide=yes

// 1828:6
[gem_layer_5]
type=layer
x=514
y=73
width=50
height=71
layer=clairvoyance_layer
hide=yes

// 1828:7
[content_layer]
type=layer
height=480
widthmode=minus
onload=trh115_setup
onvartransmit=script12549
onvartransmitlist=trh99_var

// 1828:8
[perk_1]
type=layer
x=2
y=2
width=58
height=58
layer=perks_layer
hide=yes
transmitop1=yes
op1=Activate
onvartransmit=script13067(1)
onop=script13073(1)
onvartransmitlist=trh115_cooldowns,trh115_main,trh115_main

// 1828:9
[perk_1_graphic]
type=graphic
width=58
height=58
xmode=abs_centre
ymode=abs_centre
layer=perk_1
colour=0xffffff
clickmask=no

// 1828:10
[perk_1_cooldown_right_layer]
type=layer
width=29
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_1

// 1828:11
[perk_1_cooldown_left_layer]
type=layer
width=29
height=58
ymode=abs_centre
layer=perk_1

// 1828:12
[perk_1_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=perk_1
textfont=cinzel_25pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes

// 1828:13
[perk_2]
type=layer
x=2
y=62
width=58
height=58
layer=perks_layer
hide=yes
transmitop1=yes
op1=Activate
onvartransmit=script13067(2)
onop=script13073(2)
onvartransmitlist=trh115_cooldowns,trh115_main,trh115_main

// 1828:14
[perk_2_graphic]
type=graphic
width=58
height=58
xmode=abs_centre
ymode=abs_centre
layer=perk_2
colour=0xffffff
clickmask=no

// 1828:15
[perk_2_cooldown_right_layer]
type=layer
width=29
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_2

// 1828:16
[perk_2_cooldown_left_layer]
type=layer
width=29
height=58
ymode=abs_centre
layer=perk_2

// 1828:17
[perk_2_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=perk_2
textfont=cinzel_25pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes

// 1828:18
[perk_3]
type=layer
x=2
y=122
width=58
height=58
layer=perks_layer
hide=yes
transmitop1=yes
op1=Activate
onvartransmit=script13067(3)
onop=script13073(3)
onvartransmitlist=trh115_cooldowns,trh115_main,trh115_main

// 1828:19
[perk_3_graphic]
type=graphic
width=58
height=58
xmode=abs_centre
ymode=abs_centre
layer=perk_3
colour=0xffffff
clickmask=no

// 1828:20
[perk_3_cooldown_right_layer]
type=layer
width=29
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_3

// 1828:21
[perk_3_cooldown_left_layer]
type=layer
width=29
height=58
ymode=abs_centre
layer=perk_3

// 1828:22
[perk_3_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=perk_3
textfont=cinzel_25pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes

// 1828:23
[perk_4]
type=layer
x=2
y=182
width=58
height=58
layer=perks_layer
hide=yes
transmitop1=yes
op1=Activate
onvartransmit=script13067(4)
onop=script13073(4)
onvartransmitlist=trh115_cooldowns,trh115_main,trh115_main

// 1828:24
[perk_4_graphic]
type=graphic
width=58
height=58
xmode=abs_centre
ymode=abs_centre
layer=perk_4
colour=0xffffff
clickmask=no

// 1828:25
[perk_4_cooldown_right_layer]
type=layer
width=29
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_4

// 1828:26
[perk_4_cooldown_left_layer]
type=layer
width=29
height=58
ymode=abs_centre
layer=perk_4

// 1828:27
[perk_4_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=perk_4
textfont=cinzel_25pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes

// 1828:28
[perk_5]
type=layer
x=62
y=2
width=58
height=58
layer=perks_layer
hide=yes
transmitop1=yes
op1=Activate
onvartransmit=script13067(5)
onop=script13073(5)
onvartransmitlist=trh115_cooldowns,trh115_main,trh115_main

// 1828:29
[perk_6]
type=layer
x=62
y=62
width=58
height=58
layer=perks_layer
hide=yes
transmitop1=yes
op1=Activate
onvartransmit=script13067(6)
onop=script13073(6)
onvartransmitlist=trh115_cooldowns_2,trh115_main,trh115_main

// 1828:30
[perk_7]
type=layer
x=62
y=122
width=58
height=58
layer=perks_layer
hide=yes
transmitop1=yes
op1=Activate
onvartransmit=script13067(7)
onop=script13073(7)
onvartransmitlist=trh115_cooldowns_2,trh115_main,trh115_main

// 1828:31
[perk_5_graphic]
type=graphic
width=58
height=58
xmode=abs_centre
ymode=abs_centre
layer=perk_5
colour=0xffffff
clickmask=no

// 1828:32
[perk_5_cooldown_right_layer]
type=layer
width=29
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_5

// 1828:33
[perk_5_cooldown_left_layer]
type=layer
width=29
height=58
ymode=abs_centre
layer=perk_5

// 1828:34
[perk_5_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=perk_5
textfont=cinzel_25pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes

// 1828:35
[perks_layer]
type=layer
x=20
y=10
width=122
height=242
layer=content_layer

// 1828:36
[perk_8]
type=layer
x=62
y=182
width=58
height=58
layer=perks_layer
hide=yes
transmitop1=yes
op1=Activate
onvartransmit=script13067(8)
onop=script13073(8)
onvartransmitlist=trh115_cooldowns_2,trh115_main,trh115_main

// 1828:37
[gem_graphic_2]
type=graphic
widthmode=minus
heightmode=minus
layer=gem_layer_2
graphic="th_gem_stones_all,0"
colour=0xffffff
clickmask=no

// 1828:38
[prize_graphic_2]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=gem_layer_2
colour=0xffffff
clickmask=no

// 1828:39
[gem_graphic_3]
type=graphic
widthmode=minus
heightmode=minus
layer=gem_layer_3
graphic="th_gem_stones_all,0"
colour=0xffffff
clickmask=no

// 1828:40
[prize_graphic_3]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=gem_layer_3
colour=0xffffff
clickmask=no

// 1828:41
[gem_graphic_4]
type=graphic
widthmode=minus
heightmode=minus
layer=gem_layer_4
graphic="th_gem_stones_all,0"
colour=0xffffff
clickmask=no

// 1828:42
[prize_graphic_4]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=gem_layer_4
colour=0xffffff
clickmask=no

// 1828:43
[clairvoyance_layer]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer

// 1828:44
[gem_graphic_5]
type=graphic
widthmode=minus
heightmode=minus
layer=gem_layer_5
graphic="th_gem_stones_all,0"
colour=0xffffff
clickmask=no

// 1828:45
[prize_graphic_5]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=gem_layer_5
colour=0xffffff
clickmask=no

// 1828:46
[gem_graphic_1]
type=graphic
widthmode=minus
heightmode=minus
layer=gem_layer_1
graphic="th_gem_stones_all,0"
colour=0xffffff
clickmask=no

// 1828:47
[prize_graphic_1]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=gem_layer_1
colour=0xffffff
clickmask=no

// 1828:48
[perk_1_right_cooldown]
type=graphic
width=58
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_1_cooldown_right_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
colour=0x010101
clickmask=no

// 1828:49
[perk_1_left_cooldown]
type=graphic
width=58
height=58
ymode=abs_centre
layer=perk_1_cooldown_left_layer
graphic=trh115_perk_cooldown
2dangle=32768
alpha=yes
trans=85
graphicshadow=65536
hflip=yes
colour=0x010101
clickmask=no

// 1828:50
[perk_3_right_cooldown]
type=graphic
width=58
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_3_cooldown_right_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
colour=0x010101
clickmask=no

// 1828:51
[perk_3_left_cooldown]
type=graphic
width=58
height=58
ymode=abs_centre
layer=perk_3_cooldown_left_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
hflip=yes
colour=0x010101
clickmask=no

// 1828:52
[perk_4_right_cooldown]
type=graphic
width=58
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_4_cooldown_right_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
colour=0x010101
clickmask=no

// 1828:53
[perk_4_left_cooldown]
type=graphic
width=58
height=58
ymode=abs_centre
layer=perk_4_cooldown_left_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
hflip=yes
colour=0x010101
clickmask=no

// 1828:54
[perk_5_right_cooldown]
type=graphic
width=58
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_5_cooldown_right_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
colour=0x010101
clickmask=no

// 1828:55
[perk_5_left_cooldown]
type=graphic
width=58
height=58
ymode=abs_centre
layer=perk_5_cooldown_left_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
hflip=yes
colour=0x010101
clickmask=no

// 1828:56
[perk_6_graphic]
type=graphic
width=58
height=58
xmode=abs_centre
ymode=abs_centre
layer=perk_6
colour=0xffffff
clickmask=no

// 1828:57
[perk_6_cooldown_right_layer]
type=layer
width=29
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_6

// 1828:58
[perk_6_right_cooldown]
type=graphic
width=58
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_6_cooldown_right_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
colour=0x010101
clickmask=no

// 1828:59
[perk_6_cooldown_left_layer]
type=layer
width=29
height=58
ymode=abs_centre
layer=perk_6

// 1828:60
[perk_6_left_cooldown]
type=graphic
width=58
height=58
ymode=abs_centre
layer=perk_6_cooldown_left_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
hflip=yes
colour=0x010101
clickmask=no

// 1828:61
[perk_6_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=perk_6
textfont=cinzel_25pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes

// 1828:62
[perk_7_graphic]
type=graphic
width=58
height=58
xmode=abs_centre
ymode=abs_centre
layer=perk_7
colour=0xffffff
clickmask=no

// 1828:63
[perk_7_cooldown_right_layer]
type=layer
width=29
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_7

// 1828:64
[perk_7_right_cooldown]
type=graphic
width=58
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_7_cooldown_right_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
colour=0x010101
clickmask=no

// 1828:65
[perk_7_cooldown_left_layer]
type=layer
width=29
height=58
ymode=abs_centre
layer=perk_7

// 1828:66
[perk_7_left_cooldown]
type=graphic
width=58
height=58
ymode=abs_centre
layer=perk_7_cooldown_left_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
hflip=yes
colour=0x010101
clickmask=no

// 1828:67
[perk_7_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=perk_7
textfont=cinzel_25pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes

// 1828:68
[perk_8_graphic]
type=graphic
width=58
height=58
xmode=abs_centre
ymode=abs_centre
layer=perk_8
colour=0xffffff
clickmask=no

// 1828:69
[perk_8_cooldown_right_layer]
type=layer
width=29
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_8

// 1828:70
[perk_8_right_cooldown]
type=graphic
width=58
height=58
xmode=abs_right
ymode=abs_centre
layer=perk_8_cooldown_right_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
colour=0x010101
clickmask=no

// 1828:71
[perk_8_cooldown_left_layer]
type=layer
width=29
height=58
ymode=abs_centre
layer=perk_8

// 1828:72
[perk_8_left_cooldown]
type=graphic
width=58
height=58
ymode=abs_centre
layer=perk_8_cooldown_left_layer
graphic=trh115_perk_cooldown
2dangle=32768
trans=85
graphicshadow=65536
hflip=yes
colour=0x010101
clickmask=no

// 1828:73
[perk_8_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=perk_8
textfont=cinzel_25pt_bold_multiline
textalignh=1
textalignv=1
textshadow=yes

