// 1278:0
[universe]
type=layer
width=758
height=356
xmode=abs_centre
onload=trh204_overlay_setup

// 1278:1
[main_layer]
type=layer
width=758
height=356
layer=universe

// 1278:2
[preload_background]
type=graphic
x=680
y=45
width=1
height=1
ymode=abs_bottom
layer=main_layer
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1278:3
[tutorial_layer]
type=layer
y=50
width=600
height=260
xmode=abs_centre
layer=main_layer

// 1278:4
[chest_layer]
type=layer
width=758
height=356
xmode=abs_centre
ymode=abs_centre
layer=main_layer
noclickthrough=yes

// 1278:5
[chest_1_layer]
type=layer
x=-220
width=300
height=310
xmode=abs_centre
ymode=abs_centre
layer=chest_layer
onvartransmit=trh204_overlay_update(1)
onvartransmitlist=trh204_main_5,trh204_main_6,trh204_chest_1_prize_obj,trh204_chest_1_prize_amount,trh204_chest_1_prize_rarity

// 1278:6
[chest_3_layer]
type=layer
width=300
height=310
xmode=abs_centre
ymode=abs_centre
layer=chest_layer
onvartransmit=trh204_overlay_update(3)
onvartransmitlist=trh204_main_5,trh204_main_6,trh204_chest_2_prize_obj,trh204_chest_2_prize_amount,trh204_chest_2_prize_rarity

// 1278:7
[chest_3_background_glow]
type=graphic
width=260
height=310
xmode=abs_centre
ymode=abs_centre
layer=chest_3_layer
hide=yes
trans=255
colour=0xffffff
clickmask=no

// 1278:8
[chest_2_layer]
type=layer
x=220
width=300
height=310
xmode=abs_centre
ymode=abs_centre
layer=chest_layer
onvartransmit=trh204_overlay_update(2)
onvartransmitlist=trh204_main_5,trh204_main_6,trh204_chest_2_prize_obj,trh204_chest_2_prize_amount,trh204_chest_2_prize_rarity

// 1278:9
[chest_2_background_glow]
type=graphic
width=260
height=310
xmode=abs_centre
ymode=abs_centre
layer=chest_2_layer
hide=yes
trans=255
colour=0xffffff
clickmask=no

// 1278:10
[chest_1_background_glow]
type=graphic
width=260
height=310
xmode=abs_centre
ymode=abs_centre
layer=chest_1_layer
hide=yes
trans=255
colour=0xffffff
clickmask=no

// 1278:11
[chest_2_background]
type=graphic
width=200
height=260
xmode=abs_centre
ymode=abs_centre
layer=chest_2_layer
colour=0xffffff
clickmask=no

// 1278:12
[treasure_room_preview]
type=layer
x=20
y=-1
width=160
height=350
xmode=abs_right
ymode=abs_bottom
layer=main_layer
hide=yes

// 1278:13
[treasure_room_full]
type=layer
y=-1
width=758
height=356
layer=universe
hide=yes

// 1278:14
[treasure_room_desc]
type=text
y=3
width=401
height=60
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_full
noclickthrough=yes
textfont=notosans_bold_16
text=You can claim X more free chests.
textalignh=1
textalignv=1
textshadow=yes

// 1278:15
[treasure_room_chest_full_7]
type=layer
x=320
y=100
width=118
height=154
layer=treasure_room_full
onvartransmit=script19733(7)
onvartransmitlist=trh204_main_2

// 1278:16
[shadow_7]
type=graphic
x=-1
y=2
width=125
height=163
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_7
noclickthrough=yes
graphic=trh204_card_shadow
colour=0xffffff
clickmask=no

// 1278:17
[treasure_room_chest_full_6]
type=layer
x=320
y=100
width=118
height=154
layer=treasure_room_full
onvartransmit=script19733(6)
onvartransmitlist=trh204_main_2

// 1278:18
[shadow_6]
type=graphic
x=-1
y=2
width=125
height=163
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_6
noclickthrough=yes
graphic=trh204_card_shadow
colour=0xffffff
clickmask=no

// 1278:19
[treasure_room_chest_full_5]
type=layer
x=320
y=100
width=118
height=154
layer=treasure_room_full
onvartransmit=script19733(5)
onvartransmitlist=trh204_main_2

// 1278:20
[shadow_5]
type=graphic
x=-1
y=2
width=125
height=163
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_5
noclickthrough=yes
graphic=trh204_card_shadow
colour=0xffffff
clickmask=no

// 1278:21
[treasure_room_chest_full_4]
type=layer
x=320
y=100
width=118
height=154
layer=treasure_room_full
onvartransmit=script19733(4)
onvartransmitlist=trh204_main_2

// 1278:22
[shadow_4]
type=graphic
x=-1
y=2
width=125
height=163
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_4
noclickthrough=yes
graphic=trh204_card_shadow
colour=0xffffff
clickmask=no

// 1278:23
[treasure_room_chest_full_3]
type=layer
x=320
y=100
width=118
height=154
layer=treasure_room_full
onvartransmit=script19733(3)
onvartransmitlist=trh204_main_2

// 1278:24
[shadow_3]
type=graphic
x=-1
y=2
width=125
height=163
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_3
noclickthrough=yes
graphic=trh204_card_shadow
colour=0xffffff
clickmask=no

// 1278:25
[treasure_room_chest_full_2]
type=layer
x=320
y=100
width=118
height=154
layer=treasure_room_full
onvartransmit=script19733(2)
onvartransmitlist=trh204_main_2

// 1278:26
[shadow_2]
type=graphic
x=-1
y=2
width=125
height=163
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_2
noclickthrough=yes
graphic=trh204_card_shadow
colour=0xffffff
clickmask=no

// 1278:27
[treasure_room_chest_full_1]
type=layer
x=320
y=100
width=118
height=154
layer=treasure_room_full
onvartransmit=script19733(1)
onvartransmitlist=trh204_main_2

// 1278:28
[shadow_1]
type=graphic
x=-1
y=2
width=125
height=163
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_1
noclickthrough=yes
graphic=trh204_card_shadow
colour=0xffffff
clickmask=no

// 1278:29
[treasure_room_chest_full_0]
type=layer
x=320
y=100
width=118
height=154
layer=treasure_room_full
onvartransmit=script19733(0)
onvartransmitlist=trh204_main_2

// 1278:30
[smoke_layer]
type=layer
widthmode=minus
heightmode=minus
layer=treasure_room_full

// 1278:31
[shadow_0]
type=graphic
x=-1
y=2
width=125
height=163
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_0
noclickthrough=yes
graphic=trh204_card_shadow
colour=0xffffff
clickmask=no

// 1278:32
[treasure_room_chest_full_bg_0]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_0
noclickthrough=yes
graphic=trh190_chest_stand_large_empty
colour=0xffffff
clickmask=no

// 1278:33
[treasure_room_chest_text_panel_0]
type=graphic
y=4
width=100
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_0
noclickthrough=yes
graphic=trh204_card_text_panel
colour=0xffffff
clickmask=no

// 1278:34
[chest_text_0]
type=text
y=6
width=98
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_0
noclickthrough=yes
textfont=notosans_bold_11
textalignh=1
textalignv=1
colour=0x462410

// 1278:35
[gem_holder_0]
type=graphic
y=4
width=71
height=95
xmode=abs_centre
layer=treasure_room_chest_full_0
noclickthrough=yes
graphic=trh204_card_gem_slot
colour=0xffffff
clickmask=no

// 1278:36
[prize_layer_0]
type=layer
x=-1
y=-3
height=45
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=treasure_room_chest_full_0

// 1278:37
[chest_clickbox_0]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_0
onop=trh_overlay_op(3, 0)

// 1278:38
[preview_title]
type=text
height=25
widthmode=minus
xmode=abs_centre
layer=treasure_room_preview
noclickthrough=yes
textfont=notosans_bold_16
text=Your Deck
textalignh=1
textalignv=1

// 1278:39
[treasure_grid]
type=grid
y=2
width=160
height=312
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_preview
noclickthrough=yes
childspacing=0
layoutparams_x=2
layoutparams_y=4
layoutparams_mode=no

// 1278:40
[treasure_room_chest_0]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=treasure_grid
onvartransmit=script19738(0)
onvartransmitlist=trh204_main

// 1278:41
[treasure_room_chest_background_0]
type=graphic
width=72
height=72
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_0
hide=yes
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1278:42
[treasure_room_chest_1]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=treasure_grid
onvartransmit=script19738(1)
onvartransmitlist=trh204_main

// 1278:43
[treasure_room_chest_background_1]
type=graphic
width=72
height=72
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_1
hide=yes
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1278:44
[treasure_room_chest_2]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=treasure_grid
onvartransmit=script19738(2)
onvartransmitlist=trh204_main

// 1278:45
[treasure_room_chest_background_2]
type=graphic
width=72
height=72
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_2
hide=yes
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1278:46
[treasure_room_chest_3]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=treasure_grid
onvartransmit=script19738(3)
onvartransmitlist=trh204_main_2

// 1278:47
[treasure_room_chest_background_3]
type=graphic
width=72
height=72
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_3
hide=yes
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1278:48
[treasure_room_chest_4]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=treasure_grid
onvartransmit=script19738(4)
onvartransmitlist=trh204_main_2

// 1278:49
[treasure_room_chest_background_4]
type=graphic
width=72
height=72
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_4
hide=yes
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1278:50
[treasure_room_chest_5]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=treasure_grid
onvartransmit=script19738(5)
onvartransmitlist=trh204_main_2

// 1278:51
[treasure_room_chest_background_5]
type=graphic
width=72
height=72
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_5
hide=yes
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1278:52
[treasure_room_chest_6]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=treasure_grid
onvartransmit=script19738(6)
onvartransmitlist=trh204_main_5

// 1278:53
[treasure_room_chest_background_6]
type=graphic
y=1
width=72
height=72
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_6
hide=yes
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1278:54
[treasure_room_chest_7]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=treasure_grid
onvartransmit=script19738(7)
onvartransmitlist=trh204_main_5

// 1278:55
[treasure_room_chest_background_7]
type=graphic
y=1
width=72
height=72
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_7
hide=yes
noclickthrough=yes
colour=0xffffff
clickmask=no

// 1278:56
[treasure_room_chest_prize_layer_1]
type=layer
x=-1
y=1
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_1
hide=yes
noclickthrough=yes

// 1278:57
[chest_1_background]
type=graphic
width=200
height=260
xmode=abs_centre
ymode=abs_centre
layer=chest_1_layer
colour=0xffffff
clickmask=no

// 1278:58
[chest_1_info_layer]
type=layer
y=87
width=266
height=121
xmode=abs_centre
ymode=abs_centre
layer=chest_1_layer

// 1278:59
[chest_1_prize_layer]
type=layer
x=-1
y=-41
width=150
height=150
xmode=abs_centre
ymode=abs_centre
layer=chest_1_layer

// 1278:60
[chest_1_rarity_corner_graphic]
type=graphic
x=53
y=26
width=37
height=43
layer=chest_1_layer
hide=yes
noclickthrough=yes
graphic=trh204_rarity_white_corner
colour=0xffffff
clickmask=no

// 1278:61
[chest_1_shake_layer]
type=layer
width=180
height=250
xmode=abs_centre
ymode=abs_centre
layer=chest_1_layer
onmouseleave=script19985(trh204_overlay:chest_1_layer, -220, 0)
onmouserepeat=script19984(trh204_overlay:chest_1_layer)

// 1278:62
[chest_1_click_layer]
type=layer
width=180
height=250
xmode=abs_centre
ymode=abs_centre
layer=chest_1_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script19924(trh204_overlay:chest_1_background_glow)
onop=trh204_chest_click(1)
onmouserepeat=script19923(trh204_overlay:chest_1_background_glow)

// 1278:63
[chest_1_description]
type=text
y=13
width=110
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=chest_1_info_layer
textfont=notosans_bold_15
text=A treasure chest.
textalignh=1
textalignv=1
colour=0x462410

// 1278:64
[chest_2_info_layer]
type=layer
y=87
width=266
height=121
xmode=abs_centre
ymode=abs_centre
layer=chest_2_layer

// 1278:65
[chest_2_prize_layer]
type=layer
x=-1
y=-41
width=150
height=150
xmode=abs_centre
ymode=abs_centre
layer=chest_2_layer

// 1278:66
[chest_2_rarity_corner_graphic]
type=graphic
x=53
y=26
width=37
height=43
layer=chest_2_layer
hide=yes
noclickthrough=yes
graphic=trh204_rarity_white_corner
colour=0xffffff
clickmask=no

// 1278:67
[chest_2_shake_layer]
type=layer
width=180
height=250
xmode=abs_centre
ymode=abs_centre
layer=chest_2_layer
onmouseleave=script19985(trh204_overlay:chest_2_layer, 220, 0)
onmouserepeat=script19984(trh204_overlay:chest_2_layer)

// 1278:68
[chest_2_click_layer]
type=layer
width=180
height=250
xmode=abs_centre
ymode=abs_centre
layer=chest_2_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script19924(trh204_overlay:chest_2_background_glow)
onop=trh204_chest_click(2)
onmouserepeat=script19923(trh204_overlay:chest_2_background_glow)

// 1278:69
[chest_2_description]
type=text
y=13
width=110
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=chest_2_info_layer
textfont=notosans_bold_15
text=A treasure chest.
textalignh=1
textalignv=1
colour=0x462410

// 1278:70
[keybind_layer]
type=layer
layer=universe
transmitop1=yes
op1=Open
opcursor0=cursor_open
onop=trh204_chest_click(0)

// 1278:71
[treasure_room_chest_prize_layer_2]
type=layer
x=-1
y=1
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_2
hide=yes
noclickthrough=yes

// 1278:72
[treasure_room_chest_prize_layer_3]
type=layer
x=-1
y=1
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_3
hide=yes
noclickthrough=yes

// 1278:73
[treasure_room_chest_prize_layer_4]
type=layer
x=-1
y=1
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_4
hide=yes
noclickthrough=yes

// 1278:74
[treasure_room_chest_prize_layer_5]
type=layer
x=-1
y=1
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_5
hide=yes
noclickthrough=yes

// 1278:75
[treasure_room_chest_prize_layer_0]
type=layer
x=-1
y=1
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_0
hide=yes
noclickthrough=yes

// 1278:76
[treasure_room_chest_prize_layer_6]
type=layer
x=-1
y=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_6
hide=yes
noclickthrough=yes

// 1278:77
[treasure_room_chest_prize_layer_7]
type=layer
x=-1
y=2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_7
hide=yes
noclickthrough=yes

// 1278:78
[treasure_room_chest_full_bg_1]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_1
noclickthrough=yes
graphic=trh190_chest_stand_large_empty
colour=0xffffff
clickmask=no

// 1278:79
[treasure_room_chest_text_panel_1]
type=graphic
y=4
width=100
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_1
noclickthrough=yes
graphic=trh204_card_text_panel
colour=0xffffff
clickmask=no

// 1278:80
[chest_text_1]
type=text
y=6
width=95
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_1
noclickthrough=yes
textfont=notosans_bold_11
textalignh=1
textalignv=1
colour=0x462410

// 1278:81
[gem_holder_1]
type=graphic
y=4
width=71
height=95
xmode=abs_centre
layer=treasure_room_chest_full_1
noclickthrough=yes
graphic=trh204_card_gem_slot
colour=0xffffff
clickmask=no

// 1278:82
[prize_layer_1]
type=layer
x=-1
y=-3
height=45
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=treasure_room_chest_full_1

// 1278:83
[chest_clickbox_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_1
onop=trh_overlay_op(3, 1)

// 1278:84
[treasure_room_chest_full_bg_2]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_2
noclickthrough=yes
graphic=trh190_chest_stand_large_empty
colour=0xffffff
clickmask=no

// 1278:85
[treasure_room_chest_text_panel_2]
type=graphic
y=4
width=100
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_2
noclickthrough=yes
graphic=trh204_card_text_panel
colour=0xffffff
clickmask=no

// 1278:86
[chest_text_2]
type=text
y=6
width=95
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_2
noclickthrough=yes
textfont=notosans_bold_11
textalignh=1
textalignv=1
colour=0x462410

// 1278:87
[gem_holder_2]
type=graphic
y=4
width=71
height=95
xmode=abs_centre
layer=treasure_room_chest_full_2
noclickthrough=yes
graphic=trh204_card_gem_slot
colour=0xffffff
clickmask=no

// 1278:88
[prize_layer_2]
type=layer
x=-1
y=-3
height=45
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=treasure_room_chest_full_2

// 1278:89
[chest_clickbox_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_2
onop=trh_overlay_op(3, 2)

// 1278:90
[treasure_room_chest_full_bg_3]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_3
noclickthrough=yes
graphic=trh190_chest_stand_large_empty
colour=0xffffff
clickmask=no

// 1278:91
[treasure_room_chest_text_panel_3]
type=graphic
y=4
width=100
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_3
noclickthrough=yes
graphic=trh204_card_text_panel
colour=0xffffff
clickmask=no

// 1278:92
[chest_text_3]
type=text
y=6
width=95
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_3
noclickthrough=yes
textfont=notosans_bold_11
textalignh=1
textalignv=1
colour=0x462410

// 1278:93
[gem_holder_3]
type=graphic
y=4
width=71
height=95
xmode=abs_centre
layer=treasure_room_chest_full_3
noclickthrough=yes
graphic=trh204_card_gem_slot
colour=0xffffff
clickmask=no

// 1278:94
[prize_layer_3]
type=layer
x=-1
y=-3
height=45
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=treasure_room_chest_full_3

// 1278:95
[chest_clickbox_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_3
onop=trh_overlay_op(3, 3)

// 1278:96
[treasure_room_chest_full_bg_4]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_4
noclickthrough=yes
graphic=trh190_chest_stand_large_empty
colour=0xffffff
clickmask=no

// 1278:97
[treasure_room_chest_text_panel_4]
type=graphic
y=4
width=100
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_4
noclickthrough=yes
graphic=trh204_card_text_panel
colour=0xffffff
clickmask=no

// 1278:98
[chest_text_4]
type=text
y=6
width=95
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_4
noclickthrough=yes
textfont=notosans_bold_11
textalignh=1
textalignv=1
colour=0x462410

// 1278:99
[gem_holder_4]
type=graphic
y=4
width=71
height=95
xmode=abs_centre
layer=treasure_room_chest_full_4
noclickthrough=yes
graphic=trh204_card_gem_slot
colour=0xffffff
clickmask=no

// 1278:100
[prize_layer_4]
type=layer
x=-1
y=-3
height=45
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=treasure_room_chest_full_4

// 1278:101
[chest_clickbox_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_4
onop=trh_overlay_op(3, 4)

// 1278:102
[treasure_room_chest_full_bg_5]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_5
noclickthrough=yes
graphic=trh190_chest_stand_large_empty
colour=0xffffff
clickmask=no

// 1278:103
[treasure_room_chest_text_panel_5]
type=graphic
y=4
width=100
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_5
noclickthrough=yes
graphic=trh204_card_text_panel
colour=0xffffff
clickmask=no

// 1278:104
[chest_text_5]
type=text
y=6
width=95
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_5
noclickthrough=yes
textfont=notosans_bold_11
textalignh=1
textalignv=1
colour=0x462410

// 1278:105
[gem_holder_5]
type=graphic
y=4
width=71
height=95
xmode=abs_centre
layer=treasure_room_chest_full_5
noclickthrough=yes
graphic=trh204_card_gem_slot
colour=0xffffff
clickmask=no

// 1278:106
[prize_layer_5]
type=layer
x=-1
y=-3
height=45
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=treasure_room_chest_full_5

// 1278:107
[chest_clickbox_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_5
onop=trh_overlay_op(3, 5)

// 1278:108
[treasure_room_chest_full_bg_6]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_6
noclickthrough=yes
graphic=trh190_chest_stand_large_empty
colour=0xffffff
clickmask=no

// 1278:109
[treasure_room_chest_text_panel_6]
type=graphic
y=4
width=100
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_6
noclickthrough=yes
graphic=trh204_card_text_panel
colour=0xffffff
clickmask=no

// 1278:110
[chest_text_6]
type=text
y=6
width=95
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_6
noclickthrough=yes
textfont=notosans_bold_11
textalignh=1
textalignv=1
colour=0x462410

// 1278:111
[gem_holder_6]
type=graphic
y=4
width=71
height=95
xmode=abs_centre
layer=treasure_room_chest_full_6
noclickthrough=yes
graphic=trh204_card_gem_slot
colour=0xffffff
clickmask=no

// 1278:112
[prize_layer_6]
type=layer
x=-1
y=-3
height=45
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=treasure_room_chest_full_6

// 1278:113
[chest_clickbox_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_6
onop=trh_overlay_op(3, 6)

// 1278:114
[treasure_room_chest_full_bg_7]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_7
noclickthrough=yes
graphic=trh190_chest_stand_large_empty
colour=0xffffff
clickmask=no

// 1278:115
[treasure_room_chest_text_panel_7]
type=graphic
y=4
width=100
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_7
noclickthrough=yes
graphic=trh204_card_text_panel
colour=0xffffff
clickmask=no

// 1278:116
[chest_text_7]
type=text
y=6
width=95
height=57
xmode=abs_centre
ymode=abs_bottom
layer=treasure_room_chest_full_7
noclickthrough=yes
textfont=notosans_bold_11
textalignh=1
textalignv=1
colour=0x462410

// 1278:117
[gem_holder_7]
type=graphic
y=4
width=71
height=95
xmode=abs_centre
layer=treasure_room_chest_full_7
noclickthrough=yes
graphic=trh204_card_gem_slot
colour=0xffffff
clickmask=no

// 1278:118
[prize_layer_7]
type=layer
x=-1
y=-3
height=45
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=treasure_room_chest_full_7

// 1278:119
[chest_clickbox_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_room_chest_full_7
onop=trh_overlay_op(3, 7)

// 1278:120
[chest_3_background]
type=graphic
width=200
height=260
xmode=abs_centre
ymode=abs_centre
layer=chest_3_layer
colour=0xffffff
clickmask=no

// 1278:121
[chest_3_info_layer]
type=layer
y=87
width=266
height=121
xmode=abs_centre
ymode=abs_centre
layer=chest_3_layer

// 1278:122
[chest_3_description]
type=text
y=13
width=110
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=chest_3_info_layer
textfont=notosans_bold_15
text=A treasure chest.
textalignh=1
textalignv=1
colour=0x462410

// 1278:123
[chest_3_rarity_layer]
type=layer
x=-1
y=-41
width=150
height=150
xmode=abs_centre
ymode=abs_centre
layer=chest_3_layer

// 1278:124
[chest_3_prize_layer]
type=layer
x=-1
y=-41
width=150
height=150
xmode=abs_centre
ymode=abs_centre
layer=chest_3_layer

// 1278:125
[chest_3_rarity_corner_graphic]
type=graphic
x=53
y=26
width=37
height=43
layer=chest_3_layer
hide=yes
noclickthrough=yes
graphic=trh204_rarity_white_corner
colour=0xffffff
clickmask=no

// 1278:126
[chest_3_rarity_corner_graphic_flipped]
type=graphic
x=53
y=26
width=37
height=43
xmode=abs_right
layer=chest_3_layer
noclickthrough=yes
graphic=trh204_rarity_white_corner
hflip=yes
colour=0xffffff
clickmask=no

// 1278:127
[chest_3_shake_layer]
type=layer
width=180
height=250
xmode=abs_centre
ymode=abs_centre
layer=chest_3_layer
onmouseleave=script19985(trh204_overlay:chest_3_layer, 0, 0)
onmouserepeat=script19984(trh204_overlay:chest_3_layer)

// 1278:128
[chest_3_click_layer]
type=layer
width=180
height=250
xmode=abs_centre
ymode=abs_centre
layer=chest_3_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseleave=script19924(trh204_overlay:chest_3_background_glow)
onop=trh204_chest_click(3)
onmouserepeat=script19923(trh204_overlay:chest_3_background_glow)

