// 1533:0
[pirate_sheep_button]
type=layer
x=-32
y=-166
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
onmouserepeat=script8799("A pirate sheep companion pet, who keeps calm even when things get woolly out at sea", event_com, event_comsubid)

// 1533:1
[emote_button]
type=layer
x=32
y=-175
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
onmouserepeat=script8799("Be made to walk the plank by an enraged pirate in this emote", event_com, event_comsubid)

// 1533:2
[jolly_roger_button]
type=layer
x=57
y=-117
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
onmouserepeat=script8799("A cape fashioned from a Jolly Roger flag. (No combat stats)", event_com, event_comsubid)

// 1533:3
[pirate_sheep_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_2
graphic=trh29_pirate_icon_sheep
colour=0xffffff
clickmask=no

// 1533:4
[popup_background]
type=graphic
x=-1
y=-7
width=454
height=480
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
graphic="trh29_pirate_treasure_chest,1"
colour=0xffffff
clickmask=no

// 1533:5
[popup_icon]
type=graphic
x=53
y=-126
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
graphic=trh29_pirate_icon_sheep
colour=0xffffff
clickmask=no

// 1533:6
[trh29_pirate_coins_shop]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
onload=script10565
onvartransmit=script10566
onvartransmitlist=trh1_varp,trh2_varp

// 1533:7
[background_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=trh29_pirate_coins_shop
noclickthrough=yes

// 1533:8
[background_chest]
type=graphic
width=454
height=480
xmode=abs_centre
ymode=abs_centre
layer=background_layer
graphic="trh29_pirate_treasure_chest,0"
colour=0xffffff
clickmask=no

// 1533:9
[doubloons_text]
type=text
x=-101
y=-40
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_13pt_regular
text=9999999
textalignh=1
textalignv=1
textshadow=yes
colour=0xfdce7e

// 1533:10
[pirate_sheep_cost]
type=text
x=-74
y=-162
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=3000
textshadow=yes
colour=0xffcb05

// 1533:11
[emote_cost]
type=text
x=73
y=-171
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=3000
textshadow=yes
colour=0xffcb05

// 1533:12
[jolly_roger_cost]
type=text
x=100
y=-110
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=2000
textshadow=yes
colour=0xffcb05

// 1533:13
[wheel_shield_cost]
type=text
x=-65
y=49
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=1500
textshadow=yes
colour=0xffcb05

// 1533:14
[peglegs_cost]
type=text
x=38
y=34
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=1000
textshadow=yes
colour=0xffcb05

// 1533:15
[titles1_cost]
type=text
x=-94
y=109
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=500
textshadow=yes
colour=0xffcb05

// 1533:16
[titles2_cost]
type=text
x=4
y=93
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=500
textshadow=yes
colour=0xffcb05

// 1533:17
[beards_cost]
type=text
x=137
y=16
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=500
textshadow=yes
colour=0xffcb05

// 1533:18
[swordfish_cost]
type=text
x=-47
y=-99
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=1500
textshadow=yes
colour=0xffcb05

// 1533:19
[biscuit_cost]
type=text
x=102
y=76
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=100
textshadow=yes
colour=0xffcb05

// 1533:20
[title]
type=text
x=-98
y=-62
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=Doubloons:
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1533:21
[content_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=trh29_pirate_coins_shop

// 1533:22
[wheel_shield_button]
type=layer
x=-103
y=43
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
onmouserepeat=script8799("Defend yourself with this wheel, pulled straight from a pirate ship. (Shield with level 1 and level 40 versions)", event_com, event_comsubid)

// 1533:23
[peglegs_button]
type=layer
x=-2
y=27
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
onmouserepeat=script8799("A set of peg legs (left, right and both legs) to help your pirate look", event_com, event_comsubid)

// 1533:24
[titles1_button]
type=layer
x=-60
y=104
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
onmouserepeat=script8799("Pirate titles: Peg Leg, Cutthroat, Swashbuckler, One-Eyed and Dread Pirate", event_com, event_comsubid)

// 1533:25
[titles2_button]
type=layer
x=37
y=86
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
onmouserepeat=script8799("Pirate titles: Red-Hand, Blackbeard, Runebeard, the Rum Thief and Pirate King/Queen", event_com, event_comsubid)

// 1533:26
[beards_button]
type=layer
x=96
y=9
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
onmouserepeat=script8799("A set of fake pirate beards, wearable by men and women", event_com, event_comsubid)

// 1533:27
[swordfish_button]
type=layer
x=-5
y=-107
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
onmouserepeat=script8799("Slay your enemies with this stuffed hunter of the seas. (Two-handed sword with level 1 and level 40 versions)", event_com, event_comsubid)

// 1533:28
[biscuit_button]
type=layer
x=134
y=68
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
onmouserepeat=script8799("Good old-fashioned pirate food. Eat for healing and a random stat boost. (+2 stat boost. Heals the same as a mackerel)", event_com, event_comsubid)

// 1533:29
[popup_layer]
type=layer
x=2
y=7
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=trh29_pirate_coins_shop
noclickthrough=yes

// 1533:30
[accept]
type=layer
x=-23
y=106
width=80
height=26
xmode=abs_centre
ymode=abs_centre
layer=popup_layer

// 1533:31
[cancel]
type=layer
x=68
y=106
width=80
height=26
xmode=abs_centre
ymode=abs_centre
layer=popup_layer

// 1533:32
[close_button_layer]
type=layer
x=109
y=-231
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=trh29_pirate_coins_shop

// 1533:33
[popup_description]
type=text
x=-36
y=-127
width=100
height=120
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
textfont=museo_sans_11pt_regular
text=Emote (free/members).
textlineheight=16
textalignv=1
textshadow=yes
colour=0xffc805

// 1533:34
[popup_question]
type=text
x=22
y=53
width=173
height=44
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
textfont=verdana_11pt_regular
text=Are you sure you wish to claim this reward?
textlineheight=16
textalignh=1
textshadow=yes
colour=0xffc405

// 1533:35
[window_1_close_button]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=close_button_layer
graphic=rs3_btn_modal_window_1_close_ovr
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onop=closebutton_click

// 1533:36
[window_1_close_button_over]
type=graphic
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=close_button_layer
graphic="aif_close_1,1"
trans=255
colour=0xffffff
clickmask=no
onmouseover=script4209(event_com, 0)
onmouseleave=script4209(event_com, 1)

// 1533:37
[window_1_close_button_hit]
type=graphic
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=close_button_layer
graphic="aif_close_1,2"
trans=255
colour=0xffffff
clickmask=no
onclick=script4207(event_com, 0)
onrelease=script4207(event_com, 1)

// 1533:38
[resizable_3x3_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept
onload=script7699(event_com)

// 1533:39
[resizable_3x3_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept
onload=script7728(event_com)

// 1533:40
[resizable_3x3_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept
onload=script7729(event_com)

// 1533:41
[resizable_3x3_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept
hide=yes
onload=script8225(event_com)

// 1533:42
[confirm_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=accept
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1533:43
[resizable_3x3_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept
hide=yes
onload=script8228(event_com)

// 1533:44
[resizable_3x3_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept

// 1533:45
[resizable_3x3_button_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Accept
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1533:46
[resizable_3x3_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel
onload=script7699(event_com)

// 1533:47
[resizable_3x3_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel
onload=script7728(event_com)

// 1533:48
[resizable_3x3_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel
onload=script7729(event_com)

// 1533:49
[resizable_3x3_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel
hide=yes
onload=script8225(event_com)

// 1533:50
[cancel_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=cancel
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1533:51
[resizable_3x3_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel
hide=yes
onload=script8228(event_com)

// 1533:52
[resizable_3x3_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel

// 1533:53
[resizable_3x3_button_text_1]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_1
textfont=museo_sans_11pt_regular_multiline
text=Cancel
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1533:54
[resizable_3x3_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pirate_sheep_button
onload=script7699(event_com)

// 1533:55
[resizable_3x3_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pirate_sheep_button
onload=script7728(event_com)

// 1533:56
[resizable_3x3_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pirate_sheep_button
onload=script7729(event_com)

// 1533:57
[resizable_3x3_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pirate_sheep_button
hide=yes
onload=script8225(event_com)

// 1533:58
[pirate_sheep_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=pirate_sheep_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1533:59
[pirate_sheep_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pirate_sheep_button
hide=yes
onload=script8228(event_com)

// 1533:60
[resizable_3x3_button_text_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=pirate_sheep_button

// 1533:61
[resizable_3x3_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=emote_button
onload=script7699(event_com)

// 1533:62
[resizable_3x3_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=emote_button
onload=script7728(event_com)

// 1533:63
[resizable_3x3_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=emote_button
onload=script7729(event_com)

// 1533:64
[resizable_3x3_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=emote_button
hide=yes
onload=script8225(event_com)

// 1533:65
[emote_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=emote_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1533:66
[emote_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=emote_button
hide=yes
onload=script8228(event_com)

// 1533:67
[resizable_3x3_button_text_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=emote_button

// 1533:68
[emote_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_3
graphic=trh29_pirate_icon_emote
colour=0xffffff
clickmask=no

// 1533:69
[resizable_3x3_button_on_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=jolly_roger_button
onload=script7699(event_com)

// 1533:70
[resizable_3x3_button_over_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=jolly_roger_button
onload=script7728(event_com)

// 1533:71
[resizable_3x3_button_hit_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=jolly_roger_button
onload=script7729(event_com)

// 1533:72
[resizable_3x3_button_selected_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=jolly_roger_button
hide=yes
onload=script8225(event_com)

// 1533:73
[jolly_roger_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=jolly_roger_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script10569

// 1533:74
[jolly_roger_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=jolly_roger_button
hide=yes
onload=script8228(event_com)

// 1533:75
[resizable_3x3_button_text_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=jolly_roger_button

// 1533:76
[jolly_roger_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_4
graphic=trh29_pirate_icon_cape
colour=0xffffff
clickmask=no

// 1533:77
[resizable_3x3_button_on_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=peglegs_button
onload=script7699(event_com)

// 1533:78
[resizable_3x3_button_over_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=peglegs_button
onload=script7728(event_com)

// 1533:79
[resizable_3x3_button_hit_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=peglegs_button
onload=script7729(event_com)

// 1533:80
[resizable_3x3_button_selected_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=peglegs_button
hide=yes
onload=script8225(event_com)

// 1533:81
[peglegs_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=peglegs_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=peglegs_onclick

// 1533:82
[peglegs_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=peglegs_button
hide=yes
onload=script8228(event_com)

// 1533:83
[resizable_3x3_button_text_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=peglegs_button

// 1533:84
[peglegs_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_5
graphic=trh29_pirate_icon_pegleg
colour=0xffffff
clickmask=no

// 1533:85
[resizable_3x3_button_on_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=swordfish_button
onload=script7699(event_com)

// 1533:86
[resizable_3x3_button_over_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=swordfish_button
onload=script7728(event_com)

// 1533:87
[resizable_3x3_button_hit_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=swordfish_button
onload=script7729(event_com)

// 1533:88
[resizable_3x3_button_selected_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=swordfish_button
hide=yes
onload=script8225(event_com)

// 1533:89
[swordfish_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=swordfish_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=swordfish_onclick

// 1533:90
[swordfish_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=swordfish_button
hide=yes
onload=script8228(event_com)

// 1533:91
[resizable_3x3_button_text_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=swordfish_button

// 1533:92
[swordfish_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_6
graphic=trh29_pirate_icon_swordfish
colour=0xffffff
clickmask=no

// 1533:93
[resizable_3x3_button_on_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wheel_shield_button
onload=script7699(event_com)

// 1533:94
[resizable_3x3_button_over_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wheel_shield_button
onload=script7728(event_com)

// 1533:95
[resizable_3x3_button_hit_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wheel_shield_button
onload=script7729(event_com)

// 1533:96
[resizable_3x3_button_selected_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wheel_shield_button
hide=yes
onload=script8225(event_com)

// 1533:97
[wheel_shield_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=wheel_shield_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script10570

// 1533:98
[wheel_shield_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wheel_shield_button
hide=yes
onload=script8228(event_com)

// 1533:99
[resizable_3x3_button_text_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wheel_shield_button

// 1533:100
[wheel_shield_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_7
graphic=trh29_pirate_icon_shield
colour=0xffffff
clickmask=no

// 1533:101
[resizable_3x3_button_on_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titles1_button
onload=script7699(event_com)

// 1533:102
[resizable_3x3_button_over_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titles1_button
onload=script7728(event_com)

// 1533:103
[resizable_3x3_button_hit_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titles1_button
onload=script7729(event_com)

// 1533:104
[resizable_3x3_button_selected_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titles1_button
hide=yes
onload=script8225(event_com)

// 1533:105
[titles1_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=titles1_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=titles1_onclick

// 1533:106
[titles1_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titles1_button
hide=yes
onload=script8228(event_com)

// 1533:107
[resizable_3x3_button_text_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titles1_button

// 1533:108
[titles1_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_8
graphic=trh29_pirate_icon_title_1
colour=0xffffff
clickmask=no

// 1533:109
[resizable_3x3_button_on_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titles2_button
onload=script7699(event_com)

// 1533:110
[resizable_3x3_button_over_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titles2_button
onload=script7728(event_com)

// 1533:111
[resizable_3x3_button_hit_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titles2_button
onload=script7729(event_com)

// 1533:112
[resizable_3x3_button_selected_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titles2_button
hide=yes
onload=script8225(event_com)

// 1533:113
[titles2_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=titles2_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=titles2_onclick

// 1533:114
[titles2_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titles2_button
hide=yes
onload=script8228(event_com)

// 1533:115
[resizable_3x3_button_text_layer_9]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titles2_button

// 1533:116
[titles2_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_9
graphic=trh29_pirate_icon_title_2
colour=0xffffff
clickmask=no

// 1533:117
[resizable_3x3_button_on_layer_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=beards_button
onload=script7699(event_com)

// 1533:118
[resizable_3x3_button_over_layer_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=beards_button
onload=script7728(event_com)

// 1533:119
[resizable_3x3_button_hit_layer_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=beards_button
onload=script7729(event_com)

// 1533:120
[resizable_3x3_button_selected_layer_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=beards_button
hide=yes
onload=script8225(event_com)

// 1533:121
[beards_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=beards_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=beards_onclick

// 1533:122
[beards_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=beards_button
hide=yes
onload=script8228(event_com)

// 1533:123
[resizable_3x3_button_text_layer_10]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=beards_button

// 1533:124
[beards_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_10
graphic=trh29_pirate_icon_beard
colour=0xffffff
clickmask=no

// 1533:125
[resizable_3x3_button_on_layer_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=biscuit_button
onload=script7699(event_com)

// 1533:126
[resizable_3x3_button_over_layer_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=biscuit_button
onload=script7728(event_com)

// 1533:127
[resizable_3x3_button_hit_layer_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=biscuit_button
onload=script7729(event_com)

// 1533:128
[resizable_3x3_button_selected_layer_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=biscuit_button
hide=yes
onload=script8225(event_com)

// 1533:129
[biscuit_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=biscuit_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script10576

// 1533:130
[biscuit_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=biscuit_button
hide=yes
onload=script8228(event_com)

// 1533:131
[resizable_3x3_button_text_layer_11]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=biscuit_button

// 1533:132
[biscuit_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_11
graphic=trh29_pirate_icon_biscuit
colour=0xffffff
clickmask=no

