// 1537:0
[root_layer]
type=layer
width=336
height=258
xmode=abs_centre
ymode=abs_centre

// 1537:1
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=root_layer
onload=script8420(trh30_select_credit:background_layer, trh30_select_credit:frame_layer, trh30_select_credit:content_layer, trh30_select_credit:close_button_layer, "Credits", 21218, null)

// 1537:2
[content_layer]
type=layer
y=34
width=16
height=37
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=root_layer

// 1537:3
[image_layer]
type=layer
x=10
y=10
width=58
height=60
heightmode=minus
layer=content_layer

// 1537:4
[image_graphic]
type=graphic
width=52
height=52
xmode=abs_centre
ymode=abs_centre
layer=image_layer
colour=0xffffff
clickmask=no

// 1537:5
[info_layer]
type=layer
x=8
y=7
width=85
height=53
widthmode=minus
heightmode=minus
xmode=abs_right
layer=content_layer

// 1537:6
[info_background]
type=layer
widthmode=minus
heightmode=minus
layer=info_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1537:7
[info_text]
type=text
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_layer
textfont=museo_sans_11pt_regular_multiline
textlineheight=13
textalignh=1
textshadow=yes
colour=0xcde1ff

// 1537:8
[trh30_show_cost]
type=text
y=5
width=10
height=20
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=info_layer
textfont=museo_sans_11pt_regular_multiline
textlineheight=13
textalignh=1
textshadow=yes
colour=0xcde1ff
onvartransmit=script10614
onvartransmitlist=trh30_main_temp

// 1537:9
[text_input_clickout]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=info_layer
hide=yes
noclickthrough=yes

// 1537:10
[text_input_box]
type=layer
y=36
width=43
height=24
xmode=abs_centre
ymode=abs_bottom
layer=info_layer

// 1537:11
[text_input_background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_box
onload=script13964(event_com, null, rs3tli_text_entry_box)

// 1537:12
[text_input_listener]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=text_input_box
noclickthrough=yes
onvarctransmit=script7202(event_com, trh30_select_credit:text_input_listen, trh30_select_credit:text_input_caret, trh30_select_credit:text_input_display, trh30_select_credit:text_input_clickout)
onvarctransmitlist=p_dialog_listener,p_dialog_mode

// 1537:13
[text_input_listen]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
textfont=verdana_13pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0xfffefe

// 1537:14
[text_input_caret]
type=rectangle
width=2
height=14
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
colour=0xe2dede
fill=yes

// 1537:15
[text_input_display]
type=text
width=16384
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
textfont=verdana_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes
transmitop1=yes
op1=Enter Number
onclick=script7203(trh30_select_credit:text_input_stop_click, trh30_select_credit:text_input_clickout)

// 1537:16
[text_input_stop_click]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=text_input_listener
hide=yes
noclickthrough=yes

// 1537:17
[no_button_layer]
type=layer
x=10
y=10
width=130
height=27
ymode=abs_bottom
layer=content_layer

// 1537:18
[no_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_layer
onload=script7275(event_com)

// 1537:19
[no_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_layer
onload=script7276(event_com)

// 1537:20
[no_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_layer
onload=script7277(event_com)

// 1537:21
[no_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_layer
hide=yes
onload=script7445(event_com)

// 1537:22
[no_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=no_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1537:23
[no_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_layer
hide=yes
onload=script7572(event_com)

// 1537:24
[no_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_layer

// 1537:25
[no_button_text]
type=text
y=-1
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button_text_layer
textfont=cinzel_13pt_bold
text=Cancel
textlineheight=12
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 1537:26
[yes_button_layer]
type=layer
x=10
y=10
width=130
height=27
xmode=abs_right
ymode=abs_bottom
layer=content_layer

// 1537:27
[yes_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_layer
onload=script7041(event_com)

// 1537:28
[yes_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_layer
onload=script7042(event_com)

// 1537:29
[yes_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_layer
onload=script7044(event_com)

// 1537:30
[yes_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_layer
hide=yes
onload=script7047(event_com)

// 1537:31
[yes_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=yes_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1537:32
[yes_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_layer
onload=script7060(event_com)

// 1537:33
[yes_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_layer

// 1537:34
[yes_button_text]
type=text
y=-1
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button_text_layer
textfont=cinzel_13pt_bold
text=Next
textlineheight=12
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1537:35
[frame_layer]
type=layer
x=-150
y=-122
width=800
height=600
layer=root_layer

// 1537:36
[close_button_layer]
type=layer
layer=root_layer
transmitop1=yes
op1=Close
onop=closebutton_click

