// 1585:0
[crate_graphics_2]
type=layer
x=26
y=13
width=80
height=113
xmode=abs_centre
layer=crate_graphics_layer

// 1585:1
[crate_graphics_3]
type=layer
x=3
y=13
width=80
height=113
xmode=abs_centre
layer=crate_graphics_layer

// 1585:2
[crate_graphics]
type=layer
x=-20
y=13
width=80
height=113
xmode=abs_centre
layer=crate_graphics_layer

// 1585:3
[trh45_chest_rarity]
type=graphic
width=72
height=102
xmode=abs_centre
ymode=abs_centre
layer=crate_graphics
graphic="th_gem_stones_all,0"
colour=0xffffff
clickmask=no

// 1585:4
[trh45_chest_contents]
type=graphic
x=2
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=crate_graphics
outline=1
colour=0xffffff
clickmask=no

// 1585:5
[trh45_chest_frozen]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=crate_graphics
hide=yes
graphic=trh_gem_stone_ice
colour=0xffffff
clickmask=no

// 1585:6
[chest_model_6]
type=model
x=41
y=-123
width=420
height=217
xmode=abs_centre
ymode=abs_centre
layer=midground_chests_rear
model=trh_chest_easter
modelorigin_x=-1
modelorigin_y=108
modelangle_x=28
modelangle_y=5
modelangle_z=2030
modelzoom=500
modelanim=trh_chest_invisible

// 1585:7
[wheel_spin_button_layer_6]
type=layer
x=48
y=-63
width=144
height=97
xmode=abs_centre
ymode=abs_centre
layer=midground_chests_rear

// 1585:8
[midground_layer]
type=layer
x=20
y=50
width=760
height=424

// 1585:9
[midground_chests_rear]
type=layer
y=-25
width=800
height=474
xmode=abs_centre
ymode=abs_centre
layer=midground_layer

// 1585:10
[chest_model_5]
type=model
x=242
y=-112
width=300
height=154
xmode=abs_centre
ymode=abs_centre
layer=midground_chests_rear
model=trh_chest
modelorigin_x=-6
modelorigin_y=76
modelangle_x=51
modelangle_y=56
modelangle_z=2025
modelzoom=690
modelanim=trh_chest_invisible

// 1585:11
[wheel_spin_button_layer_5]
type=layer
x=239
y=-85
width=144
height=97
xmode=abs_centre
ymode=abs_centre
layer=midground_chests_rear

// 1585:12
[wheel_spin_button_active_layer_5]
type=layer
widthmode=minus
heightmode=minus
layer=wheel_spin_button_layer_5
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script4406(event_com, 1, wof_trh_key_cursor)
onop=wof_stop_button

// 1585:13
[wheel_spin_button_disabled_layer_5]
type=layer
widthmode=minus
heightmode=minus
layer=wheel_spin_button_layer_5
hide=yes
noclickthrough=yes
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script4406(event_com, 1, wof_trh_key_cursor)

// 1585:14
[chest_model_4]
type=model
x=-181
y=-122
width=294
height=154
xmode=abs_centre
ymode=abs_centre
layer=midground_chests_rear
model=trh_chest
modelorigin_x=4
modelorigin_y=72
modelangle_x=62
modelangle_y=2013
modelangle_z=0
modelzoom=690
modelanim=trh_chest_invisible

// 1585:15
[wheel_spin_button_layer_4]
type=layer
x=-191
y=-93
width=150
height=98
xmode=abs_centre
ymode=abs_centre
layer=midground_chests_rear

// 1585:16
[crate_graphics_layer]
type=layer
x=355
y=120
width=636
height=355
widthmode=minus
heightmode=minus
layer=midground_chests_rear

// 1585:17
[wheel_spin_button_active_layer_4]
type=layer
x=11
widthmode=minus
heightmode=minus
layer=wheel_spin_button_layer_4
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script4406(event_com, 1, wof_trh_key_cursor)
onop=wof_stop_button

// 1585:18
[wheel_spin_button_disabled_layer_4]
type=layer
widthmode=minus
heightmode=minus
layer=wheel_spin_button_layer_4
hide=yes
noclickthrough=yes
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script4406(event_com, 1, wof_trh_key_cursor)

// 1585:19
[midground_chests_mid]
type=layer
y=-25
width=800
height=474
xmode=abs_centre
ymode=abs_centre
layer=midground_layer

// 1585:20
[chest_model_1]
type=model
x=-135
y=-12
width=280
height=177
xmode=abs_centre
ymode=abs_centre
layer=midground_chests_mid
model=trh_chest
modelorigin_x=15
modelorigin_y=66
modelangle_x=79
modelangle_y=1934
modelangle_z=22
modelzoom=690
modelanim=trh_chest_invisible

// 1585:21
[wheel_spin_button_layer_1]
type=layer
x=-116
y=29
width=165
height=106
xmode=abs_centre
ymode=abs_centre
layer=midground_chests_mid

// 1585:22
[wheel_spin_button_active_layer_1]
type=layer
x=-18
y=-27
widthmode=minus
heightmode=minus
layer=wheel_spin_button_layer_1
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script4406(event_com, 1, wof_trh_key_cursor)
onop=wof_stop_button

// 1585:23
[wheel_spin_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=wheel_spin_button_layer_1
hide=yes
noclickthrough=yes
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script4406(event_com, 1, wof_trh_key_cursor)

// 1585:24
[chest_model_3]
type=model
x=239
y=-10
width=291
height=151
xmode=abs_centre
ymode=abs_centre
layer=midground_chests_mid
model=trh_chest
modelorigin_x=-7
modelorigin_y=75
modelangle_x=62
modelangle_y=113
modelangle_z=2030
modelzoom=690
modelanim=trh_chest_invisible

// 1585:25
[wheel_spin_button_layer_3]
type=layer
x=242
y=17
width=167
height=105
xmode=abs_centre
ymode=abs_centre
layer=midground_chests_mid

// 1585:26
[wheel_spin_button_active_layer_3]
type=layer
x=-10
y=6
widthmode=minus
heightmode=minus
layer=wheel_spin_button_layer_3
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script4406(event_com, 1, wof_trh_key_cursor)
onop=wof_stop_button

// 1585:27
[wheel_spin_button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
layer=wheel_spin_button_layer_3
hide=yes
noclickthrough=yes
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script4406(event_com, 1, wof_trh_key_cursor)

// 1585:28
[midground_chests_front]
type=layer
y=-25
width=800
height=474
xmode=abs_centre
ymode=abs_centre
layer=midground_layer

// 1585:29
[chest_model_2]
type=model
x=41
y=10
width=292
height=158
xmode=abs_centre
ymode=abs_centre
layer=midground_chests_front
model=trh_chest
modelorigin_x=3
modelorigin_y=74
modelangle_x=62
modelangle_y=17
modelangle_z=11
modelzoom=690
modelanim=trh_chest_invisible

// 1585:30
[wheel_spin_button_layer_2]
type=layer
x=34
y=42
width=162
height=101
xmode=abs_centre
ymode=abs_centre
layer=midground_chests_front

// 1585:31
[wheel_spin_button_active_layer_2]
type=layer
widthmode=minus
heightmode=minus
layer=wheel_spin_button_layer_2
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script4406(event_com, 1, wof_trh_key_cursor)
onop=wof_stop_button

// 1585:32
[wheel_spin_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
layer=wheel_spin_button_layer_2
hide=yes
noclickthrough=yes
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script4406(event_com, 1, wof_trh_key_cursor)

// 1585:33
[wheel_spin_button_active_layer_6]
type=layer
widthmode=minus
heightmode=minus
layer=wheel_spin_button_layer_6
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script4406(event_com, 1, wof_trh_key_cursor)
onop=wof_stop_button

// 1585:34
[wheel_spin_button_disabled_layer_6]
type=layer
widthmode=minus
heightmode=minus
layer=wheel_spin_button_layer_6
hide=yes
noclickthrough=yes
transmitop1=yes
op1=Open
opcursor0=cursor_open
onload=script4406(event_com, 1, wof_trh_key_cursor)

// 1585:35
[trh45_chest_rarity_2]
type=graphic
width=72
height=102
xmode=abs_centre
ymode=abs_centre
layer=crate_graphics_2
graphic="th_gem_stones_all,0"
colour=0xffffff
clickmask=no

// 1585:36
[trh45_chest_contents_2]
type=graphic
x=2
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=crate_graphics_2
outline=1
colour=0xffffff
clickmask=no

// 1585:37
[trh45_chest_frozen_2]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=crate_graphics_2
hide=yes
graphic=trh_gem_stone_ice
colour=0xffffff
clickmask=no

// 1585:38
[trh45_chest_rarity_3]
type=graphic
width=72
height=102
xmode=abs_centre
ymode=abs_centre
layer=crate_graphics_3
graphic="th_gem_stones_all,0"
colour=0xffffff
clickmask=no

// 1585:39
[trh45_chest_contents_3]
type=graphic
x=2
width=36
height=32
xmode=abs_centre
ymode=abs_centre
layer=crate_graphics_3
outline=1
colour=0xffffff
clickmask=no

// 1585:40
[trh45_chest_frozen_3]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=crate_graphics_3
hide=yes
graphic=trh_gem_stone_ice
colour=0xffffff
clickmask=no

