// 1750:0
[mainmodal_window]
type=layer
width=352
height=285
xmode=abs_centre
ymode=abs_centre
onload=script8420(trh56_dragon_pendant_abilities:mainmodal_window_background, trh56_dragon_pendant_abilities:mainmodal_window_border, trh56_dragon_pendant_abilities:mainmodal_window_content, trh56_dragon_pendant_abilities:mainmodal_window_close_button, "Dragon Trinket Abilities", 21218, string_1007)

// 1750:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1750:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window
onload=trh56_interface_init

// 1750:3
[info_holder_active]
type=layer
y=4
width=8
height=5
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1750:4
[ability1]
type=layer
y=5
height=55
widthmode=minus
layer=mainmodal_window_content
transmitop1=yes
op1=Toggle

// 1750:5
[ability4]
type=layer
y=65
height=55
widthmode=minus
layer=mainmodal_window_content
transmitop1=yes
op1=Toggle

// 1750:6
[ability_icon1]
type=graphic
x=10
width=40
height=40
ymode=abs_centre
layer=ability1
graphic="trh56_icon_autoloot_dragon_bones,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "trh56_icon_autoloot_dragon_bones,1")
onmouseleave=trh56_graphic_leave(event_com)
onvartransmit=trh56_graphic_leave(event_com)
onvartransmitlist=trh50_varp,trh50_varp

// 1750:7
[ability_name1]
type=text
x=60
width=200
height=16
layer=ability1
textfont=museo_sans_13pt_bold
text=Auto Loot Bones
textshadow=yes

// 1750:8
[ability_desc1]
type=text
x=60
width=270
height=40
ymode=abs_bottom
layer=ability1
textfont=museo_sans_11pt_regular
text=Automatically loot and note dragon, reinforced dragon and hardened dragon bones that are dropped from metallic dragon kills.
textshadow=yes
onvartransmit=trh56_interface_init
onvartransmitlist=trh50_varp

// 1750:9
[ability2]
type=layer
y=65
height=55
widthmode=minus
ymode=abs_bottom
layer=mainmodal_window_content
transmitop1=yes
op1=Toggle

// 1750:10
[ability_icon2]
type=graphic
x=10
width=40
height=40
ymode=abs_centre
layer=ability2
graphic="trh56_icon_slayer_xp,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "trh56_icon_slayer_xp,1")
onmouseleave=trh56_graphic_leave(event_com)
onvartransmit=trh56_graphic_leave(event_com)
onvartransmitlist=trh50_varp

// 1750:11
[ability_name2]
type=text
x=60
width=200
height=16
layer=ability2
textfont=museo_sans_13pt_bold
text=Slayer XP
textshadow=yes

// 1750:12
[ability_desc2]
type=text
x=60
width=270
height=40
ymode=abs_bottom
layer=ability2
textfont=museo_sans_11pt_regular
text=Receive slayer xp upon killing a dragon, even when not on task.
textshadow=yes

// 1750:13
[ability3]
type=layer
y=5
height=55
widthmode=minus
ymode=abs_bottom
layer=mainmodal_window_content
transmitop1=yes
op1=Toggle

// 1750:14
[ability_icon3]
type=graphic
x=10
width=40
height=40
ymode=abs_centre
layer=ability3
graphic="trh56_icon_instakill_dragon,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "trh56_icon_instakill_dragon,1")
onmouseleave=trh56_graphic_leave(event_com)
onvartransmit=trh56_graphic_leave(event_com)
onvartransmitlist=trh50_varp

// 1750:15
[ability_name3]
type=text
x=60
width=200
height=16
layer=ability3
textfont=museo_sans_13pt_bold
text=Insta-Kill
textshadow=yes

// 1750:16
[ability_desc3]
type=text
x=60
width=270
height=40
ymode=abs_bottom
layer=ability3
textfont=museo_sans_11pt_regular
text=Have a chance to kill a dragon almost instantly.
textshadow=yes

// 1750:17
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1750:18
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1750:19
[ability_icon4]
type=graphic
x=10
width=40
height=40
ymode=abs_centre
layer=ability4
graphic="trh56_icon_autoloot_dragon_hide,0"
colour=0xffffff
clickmask=no
onmouseover=trh56_graphic_over(event_com)
onmouseleave=trh56_graphic_leave(event_com)
onvartransmit=trh56_graphic_leave(event_com)
onvartransmitlist=trh50_varp,trh50_varp

// 1750:20
[ability_name4]
type=text
x=60
width=200
height=16
layer=ability4
textfont=museo_sans_13pt_bold
text=Auto Loot Hides/Bars
textshadow=yes

// 1750:21
[ability_desc4]
type=text
x=60
width=270
height=40
ymode=abs_bottom
layer=ability4
textfont=museo_sans_11pt_regular
text=Automatically loot and note metal bars that are dropped from metallic dragon kills.
textshadow=yes
onvartransmit=trh56_interface_init
onvartransmitlist=trh50_varp

