// 1632:0
[universe]
type=layer
width=475
height=320
xmode=abs_centre
ymode=abs_centre
onload=script3541(trh50_skill_toggle:background_layer, trh50_skill_toggle:frame_layer, trh50_skill_toggle:content_layer, trh50_skill_toggle:close_button_layer)
onvartransmit=script3540(trh50_skill_toggle:background_layer, trh50_skill_toggle:frame_layer, trh50_skill_toggle:content_layer)
onvartransmitlist=trh165_var

// 1632:1
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1632:2
[content_layer]
type=layer
y=8
width=460
height=34
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=universe

// 1632:3
[content_layer_text]
type=text
y=10
width=435
height=38
xmode=abs_centre
layer=content_layer
textfont=museo_sans_11pt_regular_multiline
text=Click the skills to toggle whether or not you will use your pulse core XP charges when training these skills.
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1632:4
[skills]
type=layer
y=56
width=445
height=186
xmode=abs_centre
layer=content_layer

// 1632:5
[attack]
type=layer
width=45
height=45
layer=skills
onload=trh50_skill_init(attack, event_com)
onvartransmit=trh50_skill_init(attack, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:6
[cancel_button_layer]
type=layer
x=-140
y=10
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=content_layer

// 1632:7
[negative_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
onload=script7275(event_com)

// 1632:8
[negative_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
onload=script7276(event_com)

// 1632:9
[negative_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
onload=script7277(event_com)

// 1632:10
[negative_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
hide=yes
onload=script7445(event_com)

// 1632:11
[cancel_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=cancel_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1632:12
[negative_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer
hide=yes
onload=script7572(event_com)

// 1632:13
[negative_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_layer

// 1632:14
[negative_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=negative_button_text_layer
textfont=cinzel_13pt_bold
text=Cancel
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 1632:15
[confirm_button_layer]
type=layer
x=140
y=10
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=content_layer

// 1632:16
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_layer
onload=script7041(event_com)

// 1632:17
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_layer
onload=script7042(event_com)

// 1632:18
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_layer
onload=script7044(event_com)

// 1632:19
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_layer
hide=yes
onload=script7047(event_com)

// 1632:20
[confirm_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1632:21
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_layer
hide=yes
onload=script7060(event_com)

// 1632:22
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_layer

// 1632:23
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Confirm
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1632:24
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1632:25
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=closebutton_click

// 1632:26
[constitution]
type=layer
x=50
width=45
height=45
layer=skills
onload=trh50_skill_init(hitpoints, event_com)
onvartransmit=trh50_skill_init(hitpoints, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:27
[mining]
type=layer
x=100
width=45
height=45
layer=skills
onload=trh50_skill_init(mining, event_com)
onvartransmit=trh50_skill_init(mining, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:28
[strength]
type=layer
x=150
width=45
height=45
layer=skills
onload=trh50_skill_init(strength, event_com)
onvartransmit=trh50_skill_init(strength, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:29
[agility]
type=layer
x=200
width=45
height=45
layer=skills
onload=trh50_skill_init(agility, event_com)
onvartransmit=trh50_skill_init(agility, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:30
[smithing]
type=layer
x=250
width=45
height=45
layer=skills
onload=trh50_skill_init(smithing, event_com)
onvartransmit=trh50_skill_init(smithing, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:31
[defence]
type=layer
x=300
width=45
height=45
layer=skills
onload=trh50_skill_init(defence, event_com)
onvartransmit=trh50_skill_init(defence, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:32
[herblore]
type=layer
x=350
width=45
height=45
layer=skills
onload=trh50_skill_init(herblore, event_com)
onvartransmit=trh50_skill_init(herblore, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:33
[fishing]
type=layer
x=400
width=45
height=45
layer=skills
onload=trh50_skill_init(fishing, event_com)
onvartransmit=trh50_skill_init(fishing, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:34
[ranged]
type=layer
y=47
width=45
height=45
layer=skills
onload=trh50_skill_init(ranged, event_com)
onvartransmit=trh50_skill_init(ranged, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:35
[thieving]
type=layer
x=50
y=47
width=45
height=45
layer=skills
onload=trh50_skill_init(thieving, event_com)
onvartransmit=trh50_skill_init(thieving, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:36
[cooking]
type=layer
x=100
y=47
width=45
height=45
layer=skills
onload=trh50_skill_init(cooking, event_com)
onvartransmit=trh50_skill_init(cooking, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:37
[prayer]
type=layer
x=150
y=47
width=45
height=45
layer=skills
onload=trh50_skill_init(prayer, event_com)
onvartransmit=trh50_skill_init(prayer, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:38
[crafting]
type=layer
x=200
y=47
width=45
height=45
layer=skills
onload=trh50_skill_init(crafting, event_com)
onvartransmit=trh50_skill_init(crafting, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:39
[firemaking]
type=layer
x=250
y=47
width=45
height=45
layer=skills
onload=trh50_skill_init(firemaking, event_com)
onvartransmit=trh50_skill_init(firemaking, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:40
[magic]
type=layer
x=300
y=47
width=45
height=45
layer=skills
onload=trh50_skill_init(magic, event_com)
onvartransmit=trh50_skill_init(magic, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:41
[fletching]
type=layer
x=350
y=47
width=45
height=45
layer=skills
onload=trh50_skill_init(fletching, event_com)
onvartransmit=trh50_skill_init(fletching, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:42
[woodcutting]
type=layer
x=400
y=47
width=45
height=45
layer=skills
onload=trh50_skill_init(woodcutting, event_com)
onvartransmit=trh50_skill_init(woodcutting, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:43
[runecraft]
type=layer
y=94
width=45
height=45
layer=skills
onload=trh50_skill_init(runecraft, event_com)
onvartransmit=trh50_skill_init(runecraft, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:44
[slayer]
type=layer
x=50
y=94
width=45
height=45
layer=skills
onload=trh50_skill_init(slayer, event_com)
onvartransmit=trh50_skill_init(slayer, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:45
[farming]
type=layer
x=100
y=94
width=45
height=45
layer=skills
onload=trh50_skill_init(farming, event_com)
onvartransmit=trh50_skill_init(farming, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:46
[construction]
type=layer
x=150
y=94
width=45
height=45
layer=skills
onload=trh50_skill_init(construction, event_com)
onvartransmit=trh50_skill_init(construction, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:47
[hunter]
type=layer
x=200
y=94
width=45
height=45
layer=skills
onload=trh50_skill_init(hunter, event_com)
onvartransmit=trh50_skill_init(hunter, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:48
[summoning]
type=layer
x=250
y=94
width=45
height=45
layer=skills
onload=trh50_skill_init(summoning, event_com)
onvartransmit=trh50_skill_init(summoning, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:49
[dungeoneering]
type=layer
x=300
y=94
width=45
height=45
layer=skills
onload=trh50_skill_init(dungeoneering, event_com)
onvartransmit=trh50_skill_init(dungeoneering, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:50
[divination]
type=layer
x=350
y=94
width=45
height=45
layer=skills
onload=trh50_skill_init(divination, event_com)
onvartransmit=trh50_skill_init(divination, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:51
[invention]
type=layer
x=400
y=94
width=45
height=45
layer=skills
onload=trh50_skill_init(invention, event_com)
onvartransmit=trh50_skill_init(invention, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:52
[archaeology]
type=layer
x=-25
y=141
width=45
height=45
xmode=abs_centre
layer=skills
onload=trh50_skill_init(archaeology, event_com)
onvartransmit=trh50_skill_init(archaeology, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:53
[necromancy]
type=layer
x=25
y=141
width=45
height=45
xmode=abs_centre
layer=skills
onload=trh50_skill_init(necromancy, event_com)
onvartransmit=trh50_skill_init(necromancy, event_com)
onvartransmitlist=uaui_skill_select_temp

// 1632:54
[invention_no_click]
type=rectangle
widthmode=minus
heightmode=minus
layer=invention
hide=yes
noclickthrough=yes
colour=0x000000
fill=yes
trans=81

// 1632:55
[archaeology_no_click]
type=rectangle
widthmode=minus
heightmode=minus
layer=archaeology
hide=yes
noclickthrough=yes
colour=0x000000
fill=yes
trans=81

// 1632:56
[necromancy_no_click]
type=rectangle
widthmode=minus
heightmode=minus
layer=necromancy
hide=yes
noclickthrough=yes
colour=0x000000
fill=yes
trans=81

