// 705:0
[trh62]
type=layer
widthmode=minus
heightmode=minus
onvartransmit=trh62_interface_update
onvartransmitlist=trh62_chest_info,trh_prize_data

// 705:1
[progress_layer]
type=layer
x=100
y=-15
width=200
height=154
widthmode=minus
ymode=abs_bottom
layer=trh62
onload=trh62_progress_onload
onvartransmit=script2602
onmouserepeat=script4737(event_com)
onvartransmitlist=trh62_event

// 705:2
[multiplier_single_x2_glow]
type=graphic
x=-251
y=-6
width=144
height=144
xmode=abs_centre
layer=trh62
hide=yes
graphic=easter2015_distraction_fireball
colour=0xffffff
clickmask=no
ontimer=script17208(event_com, 1, 0, 100)

// 705:3
[multiplier_single_x2]
type=graphic
x=-251
y=19
width=95
height=95
xmode=abs_centre
layer=trh62
graphic=trh62_multiplier_single_x2_inactive
colour=0xffffff
clickmask=no

// 705:4
[multiplier_single_x3_glow]
type=graphic
x=-166
y=-6
width=144
height=144
xmode=abs_centre
layer=trh62
hide=yes
graphic=easter2015_distraction_fireball
colour=0xffffff
clickmask=no
ontimer=script17208(event_com, 1, 0, 100)

// 705:5
[multiplier_single_x3]
type=graphic
x=-166
y=19
width=95
height=95
xmode=abs_centre
layer=trh62
graphic=trh62_multiplier_single_x3_inactive
colour=0xffffff
clickmask=no

// 705:6
[multiplier_single_x4_glow]
type=graphic
x=-81
y=-6
width=144
height=144
xmode=abs_centre
layer=trh62
hide=yes
graphic=easter2015_distraction_fireball
colour=0xffffff
clickmask=no
ontimer=script17208(event_com, 1, 0, 100)

// 705:7
[multiplier_single_x4]
type=graphic
x=-81
y=19
width=95
height=95
xmode=abs_centre
layer=trh62
graphic=trh62_multiplier_single_x4_inactive
colour=0xffffff
clickmask=no

// 705:8
[multiplier_single_x5_glow]
type=graphic
x=4
y=-6
width=144
height=144
xmode=abs_centre
layer=trh62
hide=yes
graphic=easter2015_distraction_fireball
colour=0xffffff
clickmask=no
ontimer=script17208(event_com, 1, 0, 100)

// 705:9
[multiplier_single_x5]
type=graphic
x=4
y=19
width=95
height=95
xmode=abs_centre
layer=trh62
graphic=trh62_multiplier_single_x5_inactive
colour=0xffffff
clickmask=no

// 705:10
[multiplier_double_x6_glow]
type=graphic
x=89
y=-6
width=144
height=144
xmode=abs_centre
layer=trh62
hide=yes
graphic=easter2015_distraction_fireball
colour=0xffffff
clickmask=no
ontimer=script17208(event_com, 1, 0, 100)

// 705:11
[multiplier_double_x6]
type=graphic
x=89
y=19
width=95
height=95
xmode=abs_centre
layer=trh62
graphic=trh62_multiplier_double_x6_inactive
colour=0xffffff
clickmask=no

// 705:12
[multiplier_double_x8_glow]
type=graphic
x=174
y=-6
width=144
height=144
xmode=abs_centre
layer=trh62
hide=yes
graphic=easter2015_distraction_fireball
colour=0xffffff
clickmask=no
ontimer=script17208(event_com, 1, 0, 100)

// 705:13
[multiplier_double_x8]
type=graphic
x=174
y=19
width=95
height=95
xmode=abs_centre
layer=trh62
graphic=trh62_multiplier_double_x8_inactive
colour=0xffffff
clickmask=no

// 705:14
[multiplier_double_x10_glow]
type=graphic
x=259
y=-6
width=144
height=144
xmode=abs_centre
layer=trh62
hide=yes
graphic=easter2015_distraction_fireball
colour=0xffffff
clickmask=no
ontimer=script17208(event_com, 1, 0, 100)

// 705:15
[multiplier_double_x10]
type=graphic
x=259
y=19
width=95
height=95
xmode=abs_centre
layer=trh62
graphic=trh62_multiplier_double_x10_inactive
colour=0xffffff
clickmask=no

// 705:16
[progress_background_layer]
type=layer
x=19
y=54
width=43
height=25
widthmode=minus
layer=progress_layer

// 705:17
[progress_layer_main]
type=layer
x=19
width=24
height=100
widthmode=minus
ymode=abs_bottom
layer=progress_layer

// 705:18
[progress_join_layer]
type=layer
x=7
y=24
width=23
height=20
widthmode=minus
layer=progress_layer_main

// 705:19
[progress_rewards_layer]
type=layer
x=7
y=33
width=10
height=50
widthmode=minus
layer=progress_layer_main

// 705:20
[progress_join_bar_layer]
type=layer
x=7
y=22
width=23
height=20
widthmode=minus
layer=progress_layer_main

// 705:21
[progress_value_bounds_layer]
type=layer
x=7
y=3
width=30
height=19
widthmode=minus
layer=progress_layer_main

// 705:22
[progress_value_graphic_layer]
type=layer
width=163
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=progress_value_bounds_layer

