// 1683:0
[content_layer]
type=layer
width=800
height=600

// 1683:1
[progress_bar_layer]
type=layer
y=1
width=504
height=75
xmode=abs_centre
layer=content_layer
onload=trh70_overlay_onload

// 1683:2
[progress_bar_background]
type=graphic
width=502
height=75
xmode=abs_centre
layer=progress_bar_layer
graphic=trh70_corrupt_chargebar_back
tiling=yes
colour=0xffffff
clickmask=no

// 1683:3
[progress_bar_border]
type=graphic
width=502
height=75
layer=progress_bar_layer
hide=yes
colour=0xffffff
clickmask=no

// 1683:4
[progress_bar_foreground_layer]
type=layer
width=400
height=17
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_layer

// 1683:5
[progress_bar]
type=layer
width=1
heightmode=minus
layer=progress_bar_foreground_layer

// 1683:6
[chargebar_progress]
type=graphic
width=400
height=17
ymode=abs_centre
layer=progress_bar
graphic=trh70_corrupt_chargebar_progress
colour=0xffffff
clickmask=no

// 1683:7
[reward_1]
type=graphic
x=115
width=31
height=73
ymode=abs_centre
layer=progress_bar_layer
graphic="trh70_corrupt_chargebar_marker_01,0"
colour=0xffffff
clickmask=no

// 1683:8
[reward_2]
type=graphic
x=230
width=44
height=73
ymode=abs_centre
layer=progress_bar_layer
graphic="trh70_corrupt_chargebar_marker_02,0"
colour=0xffffff
clickmask=no

// 1683:9
[red_gem]
type=graphic
width=75
height=75
xmode=abs_right
ymode=abs_centre
layer=progress_bar_layer
graphic="trh70_corrupt_chargebar_marker_03,0"
colour=0xffffff
clickmask=no

