// 1715:0
[helmet_date_locked_cover]
type=rectangle
widthmode=minus
heightmode=minus
layer=helmet_date_locked
colour=0x323232
fill=yes
trans=42

// 1715:1
[helmet_date_locked_text]
type=text
widthmode=minus
heightmode=minus
layer=helmet_date_locked
textfont=museo_sans_15pt_bold
text=Unlocked<br>tomorrow
textalignh=1
textalignv=1
textshadow=yes
colour=0xff1400

// 1715:2
[darkness]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_content
hide=yes
noclickthrough=yes
onop=script10950

// 1715:3
[helmet_button]
type=layer
x=8
y=8
width=140
height=80
layer=buttons
onvartransmit=script12204
onmouserepeat=trh80_tooltips(event_com)
onvartransmitlist=trh80_grotesque

// 1715:4
[chestplate_button]
type=layer
x=158
y=8
width=140
height=80
layer=buttons
onvartransmit=script12204
onmouserepeat=trh80_tooltips(event_com)
onvartransmitlist=trh80_grotesque

// 1715:5
[legplates_button]
type=layer
x=308
y=8
width=140
height=80
layer=buttons
onvartransmit=script12204
onmouserepeat=trh80_tooltips(event_com)
onvartransmitlist=trh80_grotesque

// 1715:6
[gauntlets_button]
type=layer
x=458
y=8
width=140
height=80
layer=buttons
onvartransmit=script12204
onmouserepeat=trh80_tooltips(event_com)
onvartransmitlist=trh80_grotesque

// 1715:7
[boots_button]
type=layer
x=8
y=91
width=140
height=80
layer=buttons
onvartransmit=script12204
onmouserepeat=trh80_tooltips(event_com)
onvartransmitlist=trh80_grotesque

// 1715:8
[cape_button]
type=layer
x=158
y=91
width=140
height=80
layer=buttons
onvartransmit=script12204
onmouserepeat=trh80_tooltips(event_com)
onvartransmitlist=trh80_grotesque

// 1715:9
[wings_button]
type=layer
x=308
y=91
width=140
height=80
layer=buttons
onvartransmit=script12204
onmouserepeat=trh80_tooltips(event_com)
onvartransmitlist=trh80_grotesque

// 1715:10
[soulgem_button]
type=layer
x=458
y=91
width=140
height=80
layer=buttons
onmouserepeat=trh80_tooltips(event_com)

// 1715:11
[column_1_background]
type=layer
x=5
y=5
width=146
height=170
layer=sections
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1715:12
[column_2_background]
type=layer
x=155
y=5
width=146
height=170
layer=sections
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1715:13
[column_3_background]
type=layer
x=305
y=5
width=146
height=170
layer=sections
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1715:14
[sections]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 1715:15
[column_4_background]
type=layer
x=455
y=5
width=146
height=170
layer=sections
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1715:16
[column_5_background]
type=layer
x=5
y=178
width=296
height=170
layer=sections
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1715:17
[column_6_background]
type=layer
x=305
y=178
width=296
height=170
layer=sections
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1715:18
[currency_information]
type=layer
width=800
height=600
layer=sections

// 1715:19
[soul_model]
type=model
x=40
y=208
width=59
height=54
layer=currency_information
model=rcsiphonxp_living_soul_icon
modelorigin_x=-2
modelorigin_y=0
modelangle_x=728
modelangle_y=1046
modelangle_z=0
modelzoom=1100

// 1715:20
[soulgem_model]
type=model
x=48
y=264
width=45
height=54
layer=currency_information
model=trh80_soul_gem
modelorigin_x=1
modelorigin_y=0
modelangle_x=147
modelangle_y=1014
modelangle_z=0
modelzoom=600

// 1715:21
[soul_count]
type=text
x=122
y=234
width=100
height=20
layer=currency_information
textfont=museo_sans_13pt_bold
text=000
textshadow=yes

// 1715:22
[soulgem_count]
type=text
x=122
y=293
width=100
height=20
layer=currency_information
textfont=museo_sans_13pt_bold
text=000
textshadow=yes

// 1715:23
[soulgem_info_text]
type=text
x=122
y=268
width=100
height=20
layer=currency_information
textfont=museo_sans_13pt_bold
text=Soul Gems:
textshadow=yes

// 1715:24
[soul_info_text]
type=text
x=122
y=210
width=150
height=20
layer=currency_information
textfont=museo_sans_13pt_bold
text=Grotesque Souls:
textshadow=yes

// 1715:25
[basic_information]
type=text
x=310
y=183
width=290
height=164
layer=sections
textfont=museo_sans_13pt_regular
text=Unlock Grotesque Armour with Grotesque Souls, which can also be converted into Soul Gems. <br><br>Soul Gems can be used to further mutate your Grotesque Armour. You can also do this by slaying various creatures with your armour equipped.
textshadow=yes
colour=0xffcb05

// 1715:26
[buttons]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window_content

// 1715:27
[mainmodal_window_background]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=corrupt

// 1715:28
[corrupt]
type=layer
width=623
height=393
xmode=abs_centre
ymode=abs_centre
onload=script8420(trh80_corrupt:mainmodal_window_background, trh80_corrupt:mainmodal_window_border, trh80_corrupt:mainmodal_window_content, trh80_corrupt:mainmodal_window_close_button, "Grotesque Armour", 21218, null)

// 1715:29
[mainmodal_window_content]
type=layer
width=606
height=354
layer=corrupt
onload=script12204

// 1715:30
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=corrupt

// 1715:31
[confirm_purchase]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes
noclickthrough=yes

// 1715:32
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=corrupt
transmitop1=yes
op1=Close
onop=closebutton_click

// 1715:33
[background_gfx]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mainmodal_window_background
graphic=rs3_hud_window_content_tile
colour=0xffffff
clickmask=no

// 1715:34
[gauntlets_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gauntlets_button
onload=script7699(event_com)

// 1715:35
[gauntlets_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gauntlets_button
onload=script7728(event_com)

// 1715:36
[gauntlets_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gauntlets_button
onload=script7729(event_com)

// 1715:37
[gauntlets_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gauntlets_button
hide=yes
onload=script8225(event_com)

// 1715:38
[gauntlets_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=gauntlets_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script12206(event_com)

// 1715:39
[gauntlets_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gauntlets_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh80_tooltips(event_com)
onclick=script12206(event_com)

// 1715:40
[gauntlets_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gauntlets_button

// 1715:41
[gauntlets_item]
type=model
x=7
y=9
width=46
height=169
layer=gauntlets_button_text
model=mtxjan_corrupted_m_hands_v1
modelorigin_x=-1
modelorigin_y=84
modelangle_x=161
modelangle_y=1595
modelangle_z=0
modelzoom=350

// 1715:42
[gauntlets_price]
type=text
x=5
y=43
width=80
height=25
xmode=abs_right
layer=gauntlets_button_text
textfont=museo_sans_13pt_bold
text=4,000
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1715:43
[gauntlets_text]
type=text
x=5
y=10
width=80
height=25
xmode=abs_right
layer=gauntlets_button_text
textfont=museo_sans_13pt_bold
text=Gloves
textalignh=1
textalignv=1
textshadow=yes

// 1715:44
[boots_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=boots_button
onload=script7699(event_com)

// 1715:45
[boots_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=boots_button
onload=script7728(event_com)

// 1715:46
[boots_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=boots_button
onload=script7729(event_com)

// 1715:47
[boots_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=boots_button
hide=yes
onload=script8225(event_com)

// 1715:48
[boots_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=boots_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script12206(event_com)

// 1715:49
[boots_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=boots_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh80_tooltips(event_com)
onclick=script12206(event_com)

// 1715:50
[boots_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=boots_button

// 1715:51
[boots_item]
type=model
x=3
y=15
width=50
height=47
layer=boots_button_text
model=mtxjan_corrupted_m_feet_v1
modelorigin_x=7
modelorigin_y=0
modelangle_x=266
modelangle_y=260
modelangle_z=0
modelzoom=450

// 1715:52
[boots_price]
type=text
x=5
y=43
width=80
height=25
xmode=abs_right
layer=boots_button_text
textfont=museo_sans_13pt_bold
text=4,000
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1715:53
[boots_text]
type=text
x=5
y=10
width=80
height=25
xmode=abs_right
layer=boots_button_text
textfont=museo_sans_13pt_bold
text=Boots
textalignh=1
textalignv=1
textshadow=yes

// 1715:54
[helmet_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=helmet_button
onload=script7699(event_com)

// 1715:55
[helmet_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=helmet_button
onload=script7728(event_com)

// 1715:56
[helmet_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=helmet_button
onload=script7729(event_com)

// 1715:57
[helmet_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=helmet_button
hide=yes
onload=script8225(event_com)

// 1715:58
[helmet_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=helmet_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script12206(event_com)

// 1715:59
[helmet_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=helmet_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh80_tooltips(event_com)
onclick=script12206(event_com)

// 1715:60
[helmet_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=helmet_button

// 1715:61
[helmet_date_locked]
type=layer
widthmode=minus
heightmode=minus
layer=helmet_button
hide=yes
noclickthrough=yes

// 1715:62
[helmet_price]
type=text
x=5
y=43
width=80
height=25
xmode=abs_right
layer=helmet_button_text
textfont=museo_sans_13pt_bold
text=8,000
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1715:63
[helmet_item]
type=model
x=8
y=3
width=41
height=249
layer=helmet_button_text
model=mtxjan_corrupted_m_helmet_v1
modelorigin_x=-1
modelorigin_y=124
modelangle_x=150
modelangle_y=106
modelangle_z=0
modelzoom=500

// 1715:64
[helmet_text]
type=text
x=5
y=10
width=80
height=25
xmode=abs_right
layer=helmet_button_text
textfont=museo_sans_13pt_bold
text=Helm
textalignh=1
textalignv=1
textshadow=yes

// 1715:65
[legplates_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=legplates_button
onload=script7699(event_com)

// 1715:66
[legplates_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=legplates_button
onload=script7728(event_com)

// 1715:67
[legplates_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=legplates_button
onload=script7729(event_com)

// 1715:68
[legplates_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=legplates_button
hide=yes
onload=script8225(event_com)

// 1715:69
[legplates_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=legplates_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script12206(event_com)

// 1715:70
[legplates_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=legplates_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh80_tooltips(event_com)
onclick=script12206(event_com)

// 1715:71
[legplates_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=legplates_button

// 1715:72
[legplates_date_locked]
type=layer
widthmode=minus
heightmode=minus
layer=legplates_button
hide=yes
noclickthrough=yes

// 1715:73
[legplates_item]
type=model
x=16
y=9
width=29
height=76
layer=legplates_button_text
model=mtxjan_corrupted_m_legs_v1
modelorigin_x=0
modelorigin_y=37
modelangle_x=62
modelangle_y=103
modelangle_z=0
modelzoom=800

// 1715:74
[legplates_price]
type=text
x=5
y=43
width=80
height=25
xmode=abs_right
layer=legplates_button_text
textfont=museo_sans_13pt_bold
text=8,000
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1715:75
[legplates_text]
type=text
x=5
y=10
width=80
height=25
xmode=abs_right
layer=legplates_button_text
textfont=museo_sans_13pt_bold
text=Legs
textalignh=1
textalignv=1
textshadow=yes

// 1715:76
[chestplate_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chestplate_button
onload=script7699(event_com)

// 1715:77
[chestplate_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chestplate_button
onload=script7728(event_com)

// 1715:78
[chestplate_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chestplate_button
onload=script7729(event_com)

// 1715:79
[chestplate_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chestplate_button
hide=yes
onload=script8225(event_com)

// 1715:80
[chestplate_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=chestplate_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script12206(event_com)

// 1715:81
[chestplate_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chestplate_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh80_tooltips(event_com)
onclick=script12206(event_com)

// 1715:82
[chestplate_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chestplate_button

// 1715:83
[chestplate_date_locked]
type=layer
widthmode=minus
heightmode=minus
layer=chestplate_button
hide=yes
noclickthrough=yes

// 1715:84
[chestplate_price]
type=text
x=5
y=43
width=80
height=25
xmode=abs_right
layer=chestplate_button_text
textfont=museo_sans_13pt_bold
text=10,000
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1715:85
[chestplate_item]
type=model
x=7
y=15
width=48
height=114
layer=chestplate_button_text
model=mtxjan_corrupted_m_torso_v1
modelorigin_x=-2
modelorigin_y=56
modelangle_x=0
modelangle_y=200
modelangle_z=0
modelzoom=850

// 1715:86
[chestplate_text]
type=text
x=5
y=10
width=80
height=25
xmode=abs_right
layer=chestplate_button_text
textfont=museo_sans_13pt_bold
text=Torso
textalignh=1
textalignv=1
textshadow=yes
colour=0xffffe1

// 1715:87
[wings_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wings_button
onload=script7699(event_com)

// 1715:88
[wings_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wings_button
onload=script7728(event_com)

// 1715:89
[wings_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wings_button
onload=script7729(event_com)

// 1715:90
[wings_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wings_button
hide=yes
onload=script8225(event_com)

// 1715:91
[wings_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=wings_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script12206(event_com)

// 1715:92
[wings_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wings_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh80_tooltips(event_com)
onclick=script12206(event_com)

// 1715:93
[wings_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wings_button

// 1715:94
[wings_item]
type=model
x=3
y=12
width=52
height=54
layer=wings_button_text
model=mtxjan_corrupted_wings_v1
modelorigin_x=-39
modelorigin_y=5
modelangle_x=242
modelangle_y=1101
modelangle_z=297
modelzoom=1250

// 1715:95
[wings_price]
type=text
x=5
y=43
width=80
height=25
xmode=abs_right
layer=wings_button_text
textfont=museo_sans_13pt_bold
text=8,000
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1715:96
[wings_text]
type=text
x=5
y=10
width=80
height=25
xmode=abs_right
layer=wings_button_text
textfont=museo_sans_13pt_bold
text=Wings
textalignh=1
textalignv=1
textshadow=yes

// 1715:97
[soulgem_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=soulgem_button
onload=script7699(event_com)

// 1715:98
[soulgem_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=soulgem_button
onload=script7728(event_com)

// 1715:99
[soulgem_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=soulgem_button
onload=script7729(event_com)

// 1715:100
[soulgem_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=soulgem_button
hide=yes
onload=script8225(event_com)

// 1715:101
[soulgem_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=soulgem_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script12206(event_com)

// 1715:102
[soulgem_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=soulgem_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh80_tooltips(event_com)

// 1715:103
[soulgem_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=soulgem_button

// 1715:104
[soulgem_item]
type=model
x=6
y=13
width=45
height=54
layer=soulgem_button_text
model=trh80_soul_gem
modelorigin_x=1
modelorigin_y=0
modelangle_x=147
modelangle_y=1014
modelangle_z=0
modelzoom=600

// 1715:105
[soulgem_price]
type=text
x=5
y=43
width=80
height=25
xmode=abs_right
layer=soulgem_button_text
textfont=museo_sans_13pt_bold
text=500
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1715:106
[soulgem_text]
type=text
x=5
y=10
width=80
height=25
xmode=abs_right
layer=soulgem_button_text
textfont=museo_sans_13pt_bold
text=Soul Gem
textalignh=1
textalignv=1
textshadow=yes

// 1715:107
[cape_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cape_button
onload=script7699(event_com)

// 1715:108
[cape_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cape_button
onload=script7728(event_com)

// 1715:109
[cape_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cape_button
onload=script7729(event_com)

// 1715:110
[cape_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cape_button
hide=yes
onload=script8225(event_com)

// 1715:111
[cape_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=cape_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script12206(event_com)

// 1715:112
[cape_button_disabled]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cape_button
hide=yes
onload=script8228(event_com)
onmouserepeat=trh80_tooltips(event_com)
onclick=script12206(event_com)

// 1715:113
[cape_button_text]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cape_button

// 1715:114
[cape_date_locked]
type=layer
widthmode=minus
heightmode=minus
layer=cape_button
hide=yes
noclickthrough=yes

// 1715:115
[cape_item]
type=model
x=19
y=5
width=22
height=88
layer=cape_button_text
model=mtxjan_corrupted_cape_v1
modelorigin_x=0
modelorigin_y=43
modelangle_x=27
modelangle_y=1063
modelangle_z=0
modelzoom=1050

// 1715:116
[cape_price]
type=text
x=5
y=43
width=80
height=25
xmode=abs_right
layer=cape_button_text
textfont=museo_sans_13pt_bold
text=6,000
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1715:117
[cape_text]
type=text
x=5
y=10
width=80
height=25
xmode=abs_right
layer=cape_button_text
textfont=museo_sans_13pt_bold
text=Cape
textalignh=1
textalignv=1
textshadow=yes
colour=0xffffe0

// 1715:118
[darkness_graphic]
type=rectangle
widthmode=minus
heightmode=minus
layer=darkness
colour=0x000000
fill=yes
trans=100

// 1715:119
[com_119]
type=rectangle
widthmode=minus
heightmode=minus
layer=confirm_purchase
colour=0x000000
fill=yes
trans=80

// 1715:120
[confirm_purchase_window]
type=layer
width=238
height=128
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase
onload=script8420(trh80_corrupt:confirm_purchase_window_background, trh80_corrupt:confirm_purchase_window_border, trh80_corrupt:confirm_purchase_window_content, null, "", 21259, null)

// 1715:121
[confirm_purchase_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=confirm_purchase_window

// 1715:122
[confirm_purchase_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=confirm_purchase_window

// 1715:123
[confirm_purchase_text]
type=text
y=10
width=213
height=66
xmode=abs_centre
layer=confirm_purchase_window_content
textfont=museo_sans_11pt_regular
text=Are you sure you want to purchase this item?
textalignh=1
textalignv=1
textshadow=yes

// 1715:124
[confirm_purchase_button_layer]
type=layer
x=-55
y=8
width=100
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_purchase_window_content

// 1715:125
[confirm_purchase_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase_button_layer
onload=script7041(event_com)

// 1715:126
[confirm_purchase_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase_button_layer
onload=script7042(event_com)

// 1715:127
[confirm_purchase_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase_button_layer
onload=script7044(event_com)

// 1715:128
[confirm_purchase_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase_button_layer
hide=yes
onload=script7047(event_com)

// 1715:129
[confirm_purchase_button]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_purchase_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1715:130
[confirm_purchase_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase_button_layer

// 1715:131
[confirm_ow_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_purchase_button_text_layer
textfont=cinzel_13pt_bold
text=Yes
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1715:132
[reject_purchase_button_layer]
type=layer
x=55
y=8
width=100
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_purchase_window_content

// 1715:133
[reject_purchase_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reject_purchase_button_layer
onload=script7275(event_com)

// 1715:134
[reject_purchase_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reject_purchase_button_layer
onload=script7276(event_com)

// 1715:135
[reject_purchase_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reject_purchase_button_layer
onload=script7277(event_com)

// 1715:136
[reject_purchase_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reject_purchase_button_layer
hide=yes
onload=script7445(event_com)

// 1715:137
[reject_purchase_button]
type=layer
widthmode=minus
heightmode=minus
layer=reject_purchase_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1715:138
[reject_purchase_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reject_purchase_button_layer

// 1715:139
[reject_ow_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reject_purchase_button_text_layer
textfont=cinzel_13pt_bold
text=NO
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 1715:140
[confirm_purchase_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_purchase_window

// 1715:141
[legplates_date_locked_cover]
type=rectangle
widthmode=minus
heightmode=minus
layer=legplates_date_locked
colour=0x323232
fill=yes
trans=42

// 1715:142
[legplates_date_locked_text]
type=text
widthmode=minus
heightmode=minus
layer=legplates_date_locked
textfont=museo_sans_15pt_bold
text=Unlocked<br>tomorrow
textalignh=1
textalignv=1
textshadow=yes
colour=0xff1400

// 1715:143
[chestplate_date_locked_cover]
type=rectangle
widthmode=minus
heightmode=minus
layer=chestplate_date_locked
colour=0x323232
fill=yes
trans=42

// 1715:144
[chestplate_date_locked_text]
type=text
widthmode=minus
heightmode=minus
layer=chestplate_date_locked
textfont=museo_sans_15pt_bold
text=Unlocked<br>tomorrow
textalignh=1
textalignv=1
textshadow=yes
colour=0xff1400

// 1715:145
[cape_date_locked_cover]
type=rectangle
widthmode=minus
heightmode=minus
layer=cape_date_locked
colour=0x323232
fill=yes
trans=42

// 1715:146
[cape_date_locked_text]
type=text
widthmode=minus
heightmode=minus
layer=cape_date_locked
textfont=museo_sans_15pt_bold
text=Unlocked<br>tomorrow
textalignh=1
textalignv=1
textshadow=yes
colour=0xff1400

