// 725:0
[progress_layer]
type=layer
y=20
width=654
height=110
xmode=abs_centre
onload=trh97_progress_onload
onvartransmit=script15395
onvartransmitlist=trh97_event

// 725:1
[progress_background_layer]
type=layer
x=21
y=82
width=614
height=25
xmode=abs_right
ymode=abs_bottom
layer=progress_layer

// 725:2
[progress_layer_main]
type=layer
x=5
y=7
width=630
height=100
xmode=abs_right
ymode=abs_bottom
layer=progress_layer

// 725:3
[progress_join_layer]
type=layer
x=7
y=24
width=607
height=20
layer=progress_layer_main

// 725:4
[progress_rewards_layer]
type=layer
x=7
y=43
width=620
height=50
layer=progress_layer_main

// 725:5
[progress_join_bar_layer]
type=layer
x=7
y=22
width=607
height=20
layer=progress_layer_main

// 725:6
[progress_value_bounds_layer]
type=layer
x=7
y=3
width=600
height=19
layer=progress_layer_main

// 725:7
[progress_value_graphic_layer]
type=layer
width=163
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
layer=progress_value_bounds_layer

