// 1778:0
[progress_bar_fill_graphic]
type=graphic
width=41
height=210
xmode=abs_centre
ymode=abs_bottom
layer=progress_bar_fill
graphic=trh93_bonus_xp_bar
colour=0xffffff
clickmask=no

// 1778:1
[progress_bar_back]
type=graphic
width=64
height=256
layer=progress_bar_layer
graphic=trh93_bonus_xp_bar_back
colour=0xffffff
clickmask=no

// 1778:2
[progress_bar_layer]
type=layer
x=72
width=64
height=256
layer=progress_bar

// 1778:3
[progress_bar_fill]
type=layer
x=11
y=23
width=41
height=1
ymode=abs_bottom
layer=progress_bar_layer

// 1778:4
[markers]
type=layer
width=512
height=256
layer=progress_bar

// 1778:5
[universe]
type=layer
width=188
heightmode=minus

// 1778:6
[progress_bar]
type=layer
y=5
height=10
widthmode=minus
heightmode=minus
layer=universe
onload=trh93_overlay_onload

// 1778:7
[marker_5]
type=graphic
y=200
width=89
height=47
ymode=abs_bottom
layer=markers
graphic="trh93_bonus_xp_bar_marker_5,0"
colour=0xffffff
clickmask=no
onmouserepeat=script12665(event_com)

// 1778:8
[marker_4]
type=graphic
x=29
y=124
width=70
height=37
ymode=abs_bottom
layer=markers
graphic="trh93_bonus_xp_bar_marker_4,0"
colour=0xffffff
clickmask=no
onmouserepeat=script12665(event_com)

// 1778:9
[marker_3]
type=graphic
x=46
y=74
width=59
height=32
ymode=abs_bottom
layer=markers
graphic="trh93_bonus_xp_bar_marker_3,0"
colour=0xffffff
clickmask=no
onmouserepeat=script12665(event_com)

// 1778:10
[marker_2]
type=graphic
x=59
y=36
width=51
height=26
ymode=abs_bottom
layer=markers
graphic="trh93_bonus_xp_bar_marker_2,0"
colour=0xffffff
clickmask=no
onmouserepeat=script12665(event_com)

// 1778:11
[marker_1]
type=graphic
x=69
y=20
width=44
height=20
ymode=abs_bottom
layer=markers
graphic="trh93_bonus_xp_bar_marker_1,0"
colour=0xffffff
clickmask=no
onmouserepeat=script12665(event_com)

