// 984:0
[prize_claim_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_overlay
onvartransmit=script16661
onvartransmitlist=trh_generic_jackpot_claim_prize_obj

// 984:1
[com_1]
type=graphic
y=22
width=800
height=700
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer
noclickthrough=yes
graphic=trh178_dark_background
trans=100
colour=0xffffff
clickmask=no

// 984:2
[glow]
type=graphic
y=-70
width=392
height=380
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer
noclickthrough=yes
graphic=trh178_glow
colour=0xffffff
clickmask=no

// 984:3
[light_flare]
type=graphic
y=-70
width=730
height=783
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer
graphic=trh178_light
colour=0xffffff
clickmask=no
ontimer=script16497(event_com, 1, 0, 100)

// 984:4
[light_flare_2]
type=graphic
y=-70
width=730
height=783
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer
graphic=trh178_light
colour=0xffffff
clickmask=no
ontimer=script16497(event_com, 1, 0, 90)

// 984:5
[ragdoll_model]
type=model
y=-80
width=166
height=60
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
modelobjheight=296

// 984:6
[pet_layer]
type=model
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 984:7
[prize_claim_floating_object]
type=layer
y=-60
width=200
height=200
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer

// 984:8
[prize_claim_object_model]
type=model
width=64
height=64
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_floating_object
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800
ontimer=script16015(event_com, -1)

// 984:9
[prize_claim_object]
type=graphic
width=128
height=128
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_floating_object
noclickthrough=yes
colour=0xffffff
clickmask=no
ontimer=script16015(event_com, -1)

// 984:10
[prize_claim_anim_layer]
type=layer
height=80
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=prize_claim_layer

// 984:11
[prize_claim_dragger]
type=layer
y=-80
width=166
height=60
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer

// 984:12
[load_preview]
type=layer
y=-80
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=prize_claim_layer
hide=yes

// 984:13
[prize_claim_button]
type=button
y=44
width=150
height=32
xmode=abs_centre
ymode=abs_bottom
layer=prize_claim_layer
noclickthrough=yes
sprite.graphic=button_action_positive
text.text=Claim
stylesheet=button_action_positive
transmitop1=yes
op1=Claim

// 984:14
[prize_claim_title]
type=text
y=16
height=32
widthmode=minus
layer=prize_claim_layer
noclickthrough=yes
textfont=notosans_21
text=You open your Emerald Chest and receive
textalignh=1
textalignv=1
colour=0xc6ac0e

// 984:15
[prize_claim_item_text]
type=text
y=88
height=32
widthmode=minus
ymode=abs_bottom
layer=prize_claim_layer
noclickthrough=yes
textfont=notosans_15
text=Smouldering Lamp
textalignh=1
textalignv=1

// 984:16
[universe]
type=layer
y=8
width=758
height=356
xmode=abs_centre
onload=script16660

// 984:17
[prize_claim_overlay]
type=layer
width=758
height=356
layer=universe
hide=yes
noclickthrough=yes

