// 1891:0
[skill1_frame_right]
type=graphic
y=5
width=8
height=18
xmode=abs_right
layer=skill1_progress_border
graphic="trh_progress_frame_silver,5"
colour=0xffffff
clickmask=no

// 1891:1
[skill1_frame_rightbot]
type=graphic
width=8
height=6
xmode=abs_right
ymode=abs_bottom
layer=skill1_progress_border
graphic="trh_progress_frame_silver,8"
colour=0xffffff
clickmask=no

// 1891:2
[skill1_frame_righttop]
type=graphic
width=8
height=6
xmode=abs_right
layer=skill1_progress_border
graphic="trh_progress_frame_silver,2"
colour=0xffffff
clickmask=no

// 1891:3
[skill1_frame_top]
type=graphic
x=8
width=12
height=6
widthmode=minus
layer=skill1_progress_border
graphic="trh_progress_frame_silver,1"
colour=0xffffff
clickmask=no

// 1891:4
[skill1_frame_bot]
type=graphic
x=8
width=12
height=6
widthmode=minus
ymode=abs_bottom
layer=skill1_progress_border
graphic="trh_progress_frame_silver,7"
colour=0xffffff
clickmask=no

// 1891:5
[skill1_frame_lefttop]
type=graphic
width=8
height=6
layer=skill1_progress_border
graphic="trh_progress_frame_silver,0"
colour=0xffffff
clickmask=no

// 1891:6
[skill1_frame_left]
type=graphic
y=5
width=8
height=18
layer=skill1_progress_border
graphic="trh_progress_frame_silver,3"
colour=0xffffff
clickmask=no

// 1891:7
[skill1_frame_leftbot]
type=graphic
width=8
height=6
ymode=abs_bottom
layer=skill1_progress_border
graphic="trh_progress_frame_silver,6"
colour=0xffffff
clickmask=no

// 1891:8
[skill1_progress]
type=layer
x=2
y=47
width=354
height=29
layer=progress_layer

// 1891:9
[skill1_progress_back]
type=layer
widthmode=minus
heightmode=minus
layer=skill1_progress

// 1891:10
[skill1_back_rightbot]
type=graphic
width=8
height=6
xmode=abs_right
ymode=abs_bottom
layer=skill1_progress_back
graphic="trh_progress_back_dark,8"
colour=0xffffff
clickmask=no

// 1891:11
[skill1_back_right]
type=graphic
y=6
width=8
height=12
heightmode=minus
xmode=abs_right
layer=skill1_progress_back
graphic="trh_progress_back_dark,5"
colour=0xffffff
clickmask=no

// 1891:12
[skill1_back_righttop]
type=graphic
width=8
height=6
xmode=abs_right
layer=skill1_progress_back
graphic="trh_progress_back_dark,2"
colour=0xffffff
clickmask=no

// 1891:13
[skill1_back_fill]
type=graphic
x=8
y=6
width=16
height=8
widthmode=minus
heightmode=minus
layer=skill1_progress_back
graphic="trh_progress_back_dark,4"
colour=0xffffff
clickmask=no

// 1891:14
[skill1_back_bot]
type=graphic
x=8
width=12
height=6
widthmode=minus
ymode=abs_bottom
layer=skill1_progress_back
graphic="trh_progress_back_dark,7"
colour=0xffffff
clickmask=no

// 1891:15
[skill1_back_lefttop]
type=graphic
width=8
height=6
layer=skill1_progress_back
graphic="trh_progress_back_dark,0"
colour=0xffffff
clickmask=no

// 1891:16
[skill1_back_left]
type=graphic
y=6
width=8
height=12
heightmode=minus
layer=skill1_progress_back
graphic="trh_progress_back_dark,3"
colour=0xffffff
clickmask=no

// 1891:17
[skill1_back_leftbot]
type=graphic
width=8
height=6
ymode=abs_bottom
layer=skill1_progress_back
graphic="trh_progress_back_dark,6"
colour=0xffffff
clickmask=no

// 1891:18
[skill1_back_top]
type=graphic
x=8
width=12
height=6
widthmode=minus
layer=skill1_progress_back
graphic="trh_progress_back_dark,1"
colour=0xffffff
clickmask=no

// 1891:19
[skill1_progress_border]
type=layer
widthmode=minus
heightmode=minus
layer=skill1_progress

// 1891:20
[skill2_prize_graphic]
type=graphic
width=106
height=80
layer=skill2_prize
colour=0xffffff
clickmask=no
onload=script11654(event_com, event_comsubid)

// 1891:21
[mainmodal_layer]
type=layer
width=500
height=228
xmode=abs_centre
ymode=abs_centre
onload=script8420(trh_rifts:background_layer, trh_rifts:border_layer, trh_rifts:content_layer, trh_rifts:close_button_layer, "Reward Progress", 21218, null)

// 1891:22
[background_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=mainmodal_layer

// 1891:23
[border_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=mainmodal_layer

// 1891:24
[content_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=mainmodal_layer
onload=script8578

// 1891:25
[progress_layer]
type=layer
y=4
width=10
height=180
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=content_layer

// 1891:26
[skill2_progress]
type=layer
x=2
y=14
width=354
height=29
ymode=abs_bottom
layer=progress_layer

// 1891:27
[skill2_progress_back]
type=layer
widthmode=minus
heightmode=minus
layer=skill2_progress

// 1891:28
[skill1_progress_bar]
type=layer
x=10
y=4
width=14
height=21
widthmode=minus
ymode=abs_bottom
layer=skill1_progress

// 1891:29
[skill1_progress_start]
type=graphic
x=3
y=4
width=7
height=21
layer=skill1_progress
graphic="trh89_progress_bar_summoning,0"
colour=0xb4ebc8
clickmask=no

// 1891:30
[skill1_progress_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill1_progress
textfont=museo_sans_13pt_bold
text=0000/0000
textalignh=1
textalignv=1
textshadow=yes

// 1891:31
[skill1_prize]
type=layer
y=95
width=106
height=80
xmode=abs_right
ymode=abs_bottom
layer=progress_layer

// 1891:32
[skill2_prize]
type=layer
y=5
width=106
height=80
xmode=abs_right
ymode=abs_bottom
layer=progress_layer

// 1891:33
[skill1_progress_mask]
type=layer
height=21
widthmode=minus
layer=skill1_progress_bar

// 1891:34
[skill2_progress_mask]
type=layer
widthmode=minus
heightmode=minus
layer=skill2_progress_bar

// 1891:35
[skill2_progress_mid]
type=graphic
x=7
height=21
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=skill2_progress_mask
graphic="trh89_progress_bar_summoning,1"
colour=0xb4ebc8
clickmask=no

// 1891:36
[skill2_progress_end]
type=graphic
width=7
height=21
xmode=abs_right
ymode=abs_centre
layer=skill2_progress_mask
graphic="trh89_progress_bar_summoning,2"
colour=0xb4ebc8
clickmask=no

// 1891:37
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=mainmodal_layer
transmitop1=yes
op1=Close
onop=closebutton_click

// 1891:38
[skill2_progress_mid_1]
type=graphic
x=7
height=21
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=skill1_progress_mask
graphic="trh89_progress_bar_summoning,1"
colour=0xb4ebc8
clickmask=no

// 1891:39
[skill2_progress_end_1]
type=graphic
width=7
height=21
xmode=abs_right
ymode=abs_centre
layer=skill1_progress_mask
graphic="trh89_progress_bar_summoning,2"
colour=0xb4ebc8
clickmask=no

// 1891:40
[skill1_prize_graphic]
type=graphic
width=106
height=80
layer=skill1_prize
colour=0xffffff
clickmask=no
onload=script11654(event_com, event_comsubid)

// 1891:41
[skill1_prize_lock]
type=graphic
x=6
y=6
width=22
height=27
ymode=abs_bottom
layer=skill1_prize
hide=yes
graphic=trh123_icon_lock_silver
colour=0xffffff
clickmask=no

// 1891:42
[skill2_prize_lock]
type=graphic
x=6
y=6
width=22
height=27
ymode=abs_bottom
layer=skill2_prize
hide=yes
graphic=trh123_icon_lock_silver
colour=0xffffff
clickmask=no

// 1891:43
[skill2_back_rightbot]
type=graphic
width=8
height=6
xmode=abs_right
ymode=abs_bottom
layer=skill2_progress_back
graphic="trh_progress_back_dark,8"
colour=0xffffff
clickmask=no

// 1891:44
[skill2_back_right]
type=graphic
y=6
width=8
height=12
heightmode=minus
xmode=abs_right
layer=skill2_progress_back
graphic="trh_progress_back_dark,5"
colour=0xffffff
clickmask=no

// 1891:45
[skill2_back_righttop]
type=graphic
width=8
height=6
xmode=abs_right
layer=skill2_progress_back
graphic="trh_progress_back_dark,2"
colour=0xffffff
clickmask=no

// 1891:46
[skill2_back_fill]
type=graphic
x=8
y=6
width=16
height=8
widthmode=minus
heightmode=minus
layer=skill2_progress_back
graphic="trh_progress_back_dark,4"
colour=0xffffff
clickmask=no

// 1891:47
[skill2_back_bot]
type=graphic
x=8
width=12
height=6
widthmode=minus
ymode=abs_bottom
layer=skill2_progress_back
graphic="trh_progress_back_dark,7"
colour=0xffffff
clickmask=no

// 1891:48
[skill2_back_lefttop]
type=graphic
width=8
height=6
layer=skill2_progress_back
graphic="trh_progress_back_dark,0"
colour=0xffffff
clickmask=no

// 1891:49
[skill2_back_left]
type=graphic
y=6
width=8
height=12
heightmode=minus
layer=skill2_progress_back
graphic="trh_progress_back_dark,3"
colour=0xffffff
clickmask=no

// 1891:50
[skill2_back_leftbot]
type=graphic
width=8
height=6
ymode=abs_bottom
layer=skill2_progress_back
graphic="trh_progress_back_dark,6"
colour=0xffffff
clickmask=no

// 1891:51
[skill2_back_top]
type=graphic
x=8
width=12
height=6
widthmode=minus
layer=skill2_progress_back
graphic="trh_progress_back_dark,1"
colour=0xffffff
clickmask=no

// 1891:52
[skill2_progress_border]
type=layer
widthmode=minus
heightmode=minus
layer=skill2_progress

// 1891:53
[skill2_progress_bar]
type=layer
x=10
y=4
width=14
height=21
widthmode=minus
ymode=abs_bottom
layer=skill2_progress

// 1891:54
[skill2_progress_start]
type=graphic
x=3
y=4
width=7
height=21
layer=skill2_progress
graphic="trh89_progress_bar_summoning,0"
colour=0xb4ebc8
clickmask=no

// 1891:55
[skill2_progress_text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=skill2_progress
textfont=museo_sans_13pt_bold
text=0000/0000
textalignh=1
textalignv=1
textshadow=yes

// 1891:56
[skill2_frame_right]
type=graphic
y=5
width=8
height=18
xmode=abs_right
layer=skill2_progress_border
graphic="trh_progress_frame_silver,5"
colour=0xffffff
clickmask=no

// 1891:57
[skill2_frame_rightbot]
type=graphic
width=8
height=6
xmode=abs_right
ymode=abs_bottom
layer=skill2_progress_border
graphic="trh_progress_frame_silver,8"
colour=0xffffff
clickmask=no

// 1891:58
[skill2_frame_righttop]
type=graphic
width=8
height=6
xmode=abs_right
layer=skill2_progress_border
graphic="trh_progress_frame_silver,2"
colour=0xffffff
clickmask=no

// 1891:59
[skill2_frame_top]
type=graphic
x=8
width=12
height=6
widthmode=minus
layer=skill2_progress_border
graphic="trh_progress_frame_silver,1"
colour=0xffffff
clickmask=no

// 1891:60
[skill2_frame_bot]
type=graphic
x=8
width=12
height=6
widthmode=minus
ymode=abs_bottom
layer=skill2_progress_border
graphic="trh_progress_frame_silver,7"
colour=0xffffff
clickmask=no

// 1891:61
[skill2_frame_lefttop]
type=graphic
width=8
height=6
layer=skill2_progress_border
graphic="trh_progress_frame_silver,0"
colour=0xffffff
clickmask=no

// 1891:62
[skill2_frame_left]
type=graphic
y=5
width=8
height=18
layer=skill2_progress_border
graphic="trh_progress_frame_silver,3"
colour=0xffffff
clickmask=no

// 1891:63
[skill2_frame_leftbot]
type=graphic
width=8
height=6
ymode=abs_bottom
layer=skill2_progress_border
graphic="trh_progress_frame_silver,6"
colour=0xffffff
clickmask=no

