// 1399:0
[gold_frame_layer]
type=layer
width=336
height=29
noclickthrough=yes

// 1399:1
[gold_frame_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=gold_frame_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 1399:2
[gold_frame_content_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_frame_layer
onload=script7688

// 1399:3
[close_button]
type=graphic
width=25
height=25
layer=gold_frame_content_layer
graphic="rs3_btn_close_24px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_24px_close_button)

