// 164:0
[no_clickthru]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=gold_frame_content_layer
noclickthrough=yes

// 164:1
[gold_frame_layer]
type=layer
width=512
height=198
xmode=abs_centre

// 164:2
[wing1_drag_target]
type=layer
x=12
y=5
width=98
height=103
layer=drag_layer
candrop=yes

// 164:3
[wing2_drag_target]
type=layer
x=127
y=3
width=98
height=103
layer=drag_layer
candrop=yes

// 164:4
[wing3_drag_target]
type=layer
x=239
y=4
width=98
height=103
layer=drag_layer
candrop=yes

// 164:5
[wing4_drag_target]
type=layer
x=351
y=3
width=98
height=103
layer=drag_layer
candrop=yes

// 164:6
[unassign_drag_target]
type=layer
x=4
y=118
width=452
height=67
layer=drag_layer
candrop=yes

// 164:7
[wings_graphic]
type=graphic
width=452
height=115
xmode=abs_centre
layer=drag_layer
graphic=aif_sleeping_dog_guthix_wings
colour=0xffffff
clickmask=no

// 164:8
[death_icon_grey]
type=graphic
x=35
y=130
width=53
height=42
layer=drag_layer
graphic="aif_sleeping_dog_guthix_death,2"
colour=0xffffff
clickmask=no

// 164:9
[thaerisk_icon_grey]
type=graphic
x=148
y=130
width=53
height=42
layer=drag_layer
graphic="aif_sleeping_dog_guthix_chaeldar_thaerisk,2"
colour=0xffffff
clickmask=no

// 164:10
[valluta_icon_grey]
type=graphic
x=261
y=130
width=53
height=42
layer=drag_layer
graphic="aif_sleeping_dog_guthix_fiara_valluta,2"
colour=0xffffff
clickmask=no

// 164:11
[cres_icon_grey]
type=graphic
x=374
y=130
width=53
height=42
layer=drag_layer
graphic="aif_sleeping_dog_guthix_cres,2"
colour=0xffffff
clickmask=no

// 164:12
[death_drag_icon]
type=layer
x=35
y=130
width=53
height=42
layer=drag_layer
dragdepth=1
dragdeadzone=5
dragdeadtime=5
onmouseover=graphic_swapper(tsd_assigning_overlay:death_icon, "aif_sleeping_dog_guthix_death,1")
onmouseleave=script7587(tsd_assigning_overlay:death_icon)
ondragcomplete=script7583(event_com, event_com2)

// 164:13
[thaerisk_drag_icon]
type=layer
x=148
y=130
width=53
height=42
layer=drag_layer
dragdepth=1
dragdeadzone=5
dragdeadtime=5
onmouseover=graphic_swapper(tsd_assigning_overlay:thaerisk_icon, "aif_sleeping_dog_guthix_chaeldar_thaerisk,1")
onmouseleave=script7587(tsd_assigning_overlay:thaerisk_icon)
ondragcomplete=script7583(event_com, event_com2)

// 164:14
[valluta_drag_icon]
type=layer
x=261
y=130
width=53
height=42
layer=drag_layer
dragdepth=1
dragdeadzone=5
dragdeadtime=5
onmouseover=graphic_swapper(tsd_assigning_overlay:valluta_icon, "aif_sleeping_dog_guthix_fiara_valluta,1")
onmouseleave=script7587(tsd_assigning_overlay:valluta_icon)
ondragcomplete=script7583(event_com, event_com2)

// 164:15
[cres_drag_icon]
type=layer
x=374
y=130
width=53
height=42
layer=drag_layer
dragdepth=1
dragdeadzone=5
dragdeadtime=5
onmouseover=graphic_swapper(tsd_assigning_overlay:cres_icon, "aif_sleeping_dog_guthix_cres,1")
onmouseleave=script7587(tsd_assigning_overlay:cres_icon)
ondragcomplete=script7583(event_com, event_com2)

// 164:16
[wing1_tooltip]
type=layer
x=18
y=5
width=86
height=41
layer=drag_layer

// 164:17
[wing2_tooltip]
type=layer
x=131
y=5
width=86
height=41
layer=drag_layer

// 164:18
[wing3_tooltip]
type=layer
x=246
y=5
width=86
height=41
layer=drag_layer

// 164:19
[wing4_tooltip]
type=layer
x=359
y=5
width=86
height=41
layer=drag_layer

// 164:20
[wing1_disable]
type=layer
x=5
y=48
width=115
height=65
layer=drag_layer
hide=yes
noclickthrough=yes

// 164:21
[wing2_disable]
type=layer
x=119
y=48
width=115
height=65
layer=drag_layer
hide=yes
noclickthrough=yes

// 164:22
[wing3_disable]
type=layer
x=230
y=50
width=115
height=65
layer=drag_layer
hide=yes
noclickthrough=yes

// 164:23
[wing4_disable]
type=layer
x=344
y=50
width=115
height=65
layer=drag_layer
hide=yes
noclickthrough=yes

// 164:24
[drag_layer]
type=layer
x=10
y=7
width=462
height=180
layer=gold_frame_content_layer

// 164:25
[death_icon]
type=graphic
width=53
height=42
layer=death_drag_icon
graphic="aif_sleeping_dog_guthix_death,0"
colour=0xffffff
clickmask=no

// 164:26
[thaerisk_icon]
type=graphic
width=53
height=42
layer=thaerisk_drag_icon
graphic="aif_sleeping_dog_guthix_chaeldar_thaerisk,0"
colour=0xffffff
clickmask=no

// 164:27
[valluta_icon]
type=graphic
width=53
height=42
layer=valluta_drag_icon
graphic="aif_sleeping_dog_guthix_fiara_valluta,0"
colour=0xffffff
clickmask=no

// 164:28
[cres_icon]
type=graphic
width=53
height=42
layer=cres_drag_icon
graphic="aif_sleeping_dog_guthix_cres,0"
colour=0xffffff
clickmask=no

// 164:29
[gold_frame_background_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=gold_frame_layer
onload=rs3_background_panel(event_com, rs3_content_container_inactive)

// 164:30
[gold_frame_content_layer]
type=layer
height=190
widthmode=minus
ymode=abs_centre
layer=gold_frame_layer
onload=script7581

// 164:31
[close_button]
type=layer
width=40
height=40
xmode=abs_right
layer=gold_frame_content_layer
transmitop1=yes
op1=Close
onmouseover=graphic_swapper(tsd_assigning_overlay:close_graphic, "rs3_btn_close_24px,1")
onmouseleave=graphic_swapper(tsd_assigning_overlay:close_graphic, "rs3_btn_close_24px,0")
onclick=graphic_swapper(tsd_assigning_overlay:close_graphic, "rs3_btn_close_24px,3")

// 164:32
[close_graphic]
type=graphic
width=24
height=24
xmode=abs_centre
ymode=abs_centre
layer=close_button
graphic="rs3_btn_close_24px,0"
colour=0xffffff
clickmask=no

