// 1123:0
[reward_name]
type=text
y=5
height=20
widthmode=minus
layer=details_layer
textfont=cinzel_15pt_bold
text=Rewards
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1123:1
[reward_description]
type=text
y=25
width=10
height=60
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=details_layer
textfont=notosans_11
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 1123:2
[confirm_button]
type=layer
y=5
width=10
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=details_layer
onload=script13968(tt2_rewards:confirm_build, tt2_rewards:confirm_click, rs3tli_positive_button, "Confirm")

// 1123:3
[reward_selection_layer]
type=layer
x=10
width=170
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1123:4
[right_panel]
type=layer
x=10
y=10
width=350
height=20
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content

// 1123:5
[bg9]
type=layer
widthmode=minus
heightmode=minus
layer=right_panel
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 1123:6
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(tt2_rewards:mainmodal_window_background, tt2_rewards:mainmodal_window_border, tt2_rewards:mainmodal_window_content, tt2_rewards:mainmodal_window_close_button, "Temple Trekking Rewards", 21218, string_1007)

// 1123:7
[start_text]
type=text
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_panel
textfont=museo_sans_13pt_bold
text=Select a reward on the left for more information.
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1123:8
[details_layer]
type=layer
x=5
y=5
width=10
height=10
widthmode=minus
heightmode=minus
layer=right_panel
hide=yes

// 1123:9
[item_1]
type=layer
x=-120
y=-50
width=70
height=70
xmode=abs_centre
ymode=abs_centre
layer=reward_selection_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1123:10
[bg1]
type=layer
widthmode=minus
heightmode=minus
layer=item_1
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1123:11
[com_11]
type=rectangle
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=item_1
colour=0x646464

// 1123:12
[blankrune_high]
type=model
width=41
height=41
xmode=abs_centre
ymode=abs_centre
layer=item_1
model=inv_blankrune
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=500

// 1123:13
[item_2]
type=layer
x=-40
y=-50
width=70
height=70
xmode=abs_centre
ymode=abs_centre
layer=reward_selection_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1123:14
[bg2]
type=layer
widthmode=minus
heightmode=minus
layer=item_2
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1123:15
[bow_string]
type=model
width=40
height=43
xmode=abs_centre
ymode=abs_centre
layer=item_2
model=inv_bowminusstring
modelorigin_x=-3
modelorigin_y=-3
modelangle_x=512
modelangle_y=1024
modelangle_z=0
modelzoom=600

// 1123:16
[item_3]
type=layer
x=40
y=-50
width=70
height=70
xmode=abs_centre
ymode=abs_centre
layer=reward_selection_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1123:17
[bg3]
type=layer
widthmode=minus
heightmode=minus
layer=item_3
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1123:18
[silver_bar]
type=model
width=38
height=26
xmode=abs_centre
ymode=abs_centre
layer=item_3
model=inv_orebar
modelorigin_x=0
modelorigin_y=3
modelangle_x=142
modelangle_y=170
modelangle_z=0
modelzoom=600

// 1123:19
[item_4]
type=layer
x=120
y=-50
width=70
height=70
xmode=abs_centre
ymode=abs_centre
layer=reward_selection_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1123:20
[bg4]
type=layer
widthmode=minus
heightmode=minus
layer=item_4
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1123:21
[unid_herb]
type=model
width=45
height=38
xmode=abs_centre
ymode=abs_centre
layer=item_4
model=inv_herb
modelorigin_x=-2
modelorigin_y=8
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=500

// 1123:22
[item_5]
type=layer
x=-120
y=50
width=70
height=70
xmode=abs_centre
ymode=abs_centre
layer=reward_selection_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1123:23
[bg5]
type=layer
widthmode=minus
heightmode=minus
layer=item_5
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1123:24
[coal_iron_ore]
type=model
width=43
height=36
xmode=abs_centre
ymode=abs_centre
layer=item_5
model=inv_ore
modelorigin_x=0
modelorigin_y=2
modelangle_x=204
modelangle_y=335
modelangle_z=0
modelzoom=900

// 1123:25
[item_6]
type=layer
x=-40
y=50
width=70
height=70
xmode=abs_centre
ymode=abs_centre
layer=reward_selection_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1123:26
[bg6]
type=layer
widthmode=minus
heightmode=minus
layer=item_6
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1123:27
[watermelon_seed]
type=model
width=55
height=55
xmode=abs_centre
ymode=abs_centre
layer=item_6
model=skill_farming_inv_watermelon_seeds_5
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=600

// 1123:28
[item_7]
type=layer
x=40
y=50
width=70
height=70
xmode=abs_centre
ymode=abs_centre
layer=reward_selection_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1123:29
[bg7]
type=layer
widthmode=minus
heightmode=minus
layer=item_7
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1123:30
[raw_lobster]
type=model
width=35
height=43
xmode=abs_centre
ymode=abs_centre
layer=item_7
model=inv_shark
modelorigin_x=1
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=1500

// 1123:31
[item_8]
type=layer
x=120
y=50
width=70
height=70
xmode=abs_centre
ymode=abs_centre
layer=reward_selection_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1123:32
[bg8]
type=layer
widthmode=minus
heightmode=minus
layer=item_8
onload=script10896(event_com, null, rs3tli_3x3_button)

// 1123:33
[xp_tome]
type=model
width=40
height=34
xmode=abs_centre
ymode=abs_centre
layer=item_8
model=game_templetrek_inv_tome_learning_book_woodcutting
modelorigin_x=0
modelorigin_y=3
modelangle_x=221
modelangle_y=193
modelangle_z=0
modelzoom=600

// 1123:34
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1123:35
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1123:36
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1123:37
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1123:38
[confirm_build]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_button

// 1123:39
[confirm_click]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

