// 17:0
[com_0]
type=graphic
x=20
y=30
width=375
height=26
layer=top_panel
graphic=rs3_tuska_progress_bg
colour=0xffffff
clickmask=no

// 17:1
[main_progress_bar]
type=layer
x=26
y=30
height=24
layer=top_panel
onmouseover=script746(1)
onmouseleave=script746(2)

// 17:2
[saradomin_progress_bar]
type=layer
heightmode=minus
layer=main_progress_bar
onmouserepeat=script8799("Saradomin's Contribution", event_com, event_comsubid)

// 17:3
[godless_progress_bar]
type=layer
heightmode=minus
layer=main_progress_bar
onmouserepeat=script8799("Godless Contribution", event_com, event_comsubid)

// 17:4
[armadyl_progress_bar]
type=layer
heightmode=minus
layer=main_progress_bar
onmouserepeat=script8799("Armadyl's Contribution", event_com, event_comsubid)

// 17:5
[zamorak_progress_bar]
type=layer
heightmode=minus
layer=main_progress_bar
onmouserepeat=script8799("Zamorak's Contribution", event_com, event_comsubid)

// 17:6
[com_6]
type=graphic
x=-2
y=-5
width=452
height=95
layer=top_panel
graphic=rs3_tuska_hud_sml
colour=0xffffff
clickmask=no

// 17:7
[time_panel]
type=layer
y=35
width=180
height=30
xmode=abs_centre
layer=universe
hide=yes

// 17:8
[com_8]
type=graphic
width=113
height=35
xmode=abs_centre
layer=time_panel
graphic=rs3_tuska_timer
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Time until next event.", event_com, event_comsubid)

// 17:9
[time_text]
type=text
y=5
width=125
height=25
xmode=abs_centre
layer=time_panel
textfont=museo_sans_15pt_bold
text=00:00
textalignh=1
textalignv=1
textshadow=yes
colour=0xdcd2b4

// 17:10
[prog1_m]
type=graphic
widthmode=minus
heightmode=minus
layer=main_progress_bar
graphic=rs3_tuska_progress_fill
colour=0xffffff
clickmask=no

// 17:11
[universe]
type=layer
widthmode=minus
heightmode=minus

// 17:12
[top_panel]
type=layer
y=5
width=450
height=95
xmode=abs_centre
layer=universe
onvarctransmit=script59(1)
onvarctransmitlist=tuska_armadyl_score,tuska_godless_score,tuska_saradomin_score,tuska_zamorak_score

// 17:13
[com_13]
type=graphic
width=113
height=35
ymode=abs_bottom
layer=top_panel
graphic=rs3_tuska_timer
colour=0xffffff
clickmask=no

// 17:14
[currency]
type=text
x=5
y=5
width=100
height=20
ymode=abs_bottom
layer=top_panel
textfont=museo_sans_11pt_regular
text=5000
textalignh=1
textalignv=1
textshadow=yes
colour=0xdcd2b4
onvartransmit=script743(event_com)
onmouserepeat=script8799("Your reward currency.", event_com, event_comsubid)
onvartransmitlist=tuska_varp4

// 17:15
[prog2]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=zamorak_progress_bar
graphic=rs3_tuska_progress_fill_red
colour=0xff0808
clickmask=no

// 17:16
[com_16]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=armadyl_progress_bar
graphic=rs3_tuska_progress_fill_white
colour=0xffffff
clickmask=no

// 17:17
[com_17]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=godless_progress_bar
graphic=rs3_tuska_progress_fill_orange
colour=0xffffff
clickmask=no

// 17:18
[com_18]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=saradomin_progress_bar
graphic=rs3_tuska_progress_fill_blue
colour=0xffffff
clickmask=no

