// 1625:0
[tuska_face_bl]
type=graphic
x=-84
y=83
width=167
height=167
xmode=abs_centre
ymode=abs_centre
layer=tuska_face
graphic=tuska_head_half_bottom
trans=255
colour=0xffffff
clickmask=no

// 1625:1
[tuska_face_br]
type=graphic
x=83
y=83
width=167
height=167
xmode=abs_centre
ymode=abs_centre
layer=tuska_face
graphic=tuska_head_half_bottom
trans=255
hflip=yes
colour=0xffffff
clickmask=no

// 1625:2
[tuska_face_tr]
type=graphic
x=83
y=-84
width=167
height=167
xmode=abs_centre
ymode=abs_centre
layer=tuska_face
graphic=tuska_head_half_top
trans=255
hflip=yes
colour=0xffffff
clickmask=no

// 1625:3
[tuska_face_tl]
type=graphic
x=-84
y=-84
width=167
height=167
xmode=abs_centre
ymode=abs_centre
layer=tuska_face
graphic=tuska_head_half_top
trans=255
colour=0xffffff
clickmask=no

// 1625:4
[universe]
type=layer
widthmode=minus
heightmode=minus

// 1625:5
[blur_component]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=universe
graphic=dungeon_blur_white
trans=255
colour=0xffffff
clickmask=no
onload=script729(event_com)

// 1625:6
[ghost_effect]
type=model
x=7
y=2950
width=31239
height=47981
widthmode=proportion
heightmode=proportion
xmode=proportion_centre
ymode=proportion_centre
layer=universe
hide=yes
model=tuska_island_souls_spirit_vision_mesh
modelorigin_x=-3
modelorigin_y=302
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=220
modelobjwidth=976
modelobjheight=978

// 1625:7
[tuska_face]
type=layer
width=178
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=universe

