// 846:0
[bounds]
type=layer
width=250
height=200
layer=container
onload=script15797

// 846:1
[container]
type=layer
widthmode=minus
heightmode=minus

// 846:2
[window]
type=layer
widthmode=minus
heightmode=minus
layer=bounds
onload=script3938(tut7_sandbox_goal:window_background, tut7_sandbox_goal:window_border, tut7_sandbox_goal:window_content, null, "", 30498, null)

// 846:3
[floater]
type=text
height=70
widthmode=minus
heightmode=minus
layer=bounds
textfont=verdana_15pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x00ff00

// 846:4
[window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=window

// 846:5
[window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=window

// 846:6
[desc_layer]
type=layer
widthmode=minus
heightmode=minus
layer=window_content

// 846:7
[window_border]
type=layer
widthmode=minus
heightmode=minus
layer=window

