// 860:0
[base_layer]
type=layer
widthmode=minus
heightmode=minus
onload=script14240

// 860:1
[screen_overlay_layer]
type=layer
width=300
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=base_layer

// 860:2
[com_2]
type=rectangle
widthmode=minus
heightmode=minus
layer=screen_overlay_layer
colour=0x000000
fill=yes
trans=200

// 860:3
[tut_options_clickout_layer]
type=layer
widthmode=minus
heightmode=minus
layer=screen_overlay_layer
noclickthrough=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 860:4
[skip_confirm_layer]
type=layer
widthmode=minus
heightmode=minus
layer=screen_overlay_layer
hide=yes
noclickthrough=yes

// 860:5
[skip_confirm_clickout_layer]
type=layer
widthmode=minus
heightmode=minus
layer=skip_confirm_layer
onclick=script15877

// 860:6
[skip_confirm_popup]
type=layer
width=472
height=264
xmode=abs_centre
ymode=abs_centre
layer=skip_confirm_layer

// 860:7
[bg]
type=layer
x=16
y=32
width=33
height=40
widthmode=minus
heightmode=minus
xmode=abs_right
layer=skip_confirm_popup

// 860:8
[com_8]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bg
graphic=rs3_modal_window_content_tile
tiling=yes
colour=0xffffff
clickmask=no

// 860:9
[content]
type=layer
y=56
width=20
height=64
widthmode=minus
heightmode=minus
xmode=abs_right
layer=skip_confirm_popup

// 860:10
[continue_button]
type=layer
x=-96
y=150
width=160
height=43
xmode=abs_centre
layer=content
onload=script15493(tut_options:continue_build, tut_options:continue_click, rs3tli_3x3_icon_button, "Keep playing", ^settextalign_centre, quill_oblique_large, string_210)

// 860:11
[continue_build]
type=layer
widthmode=minus
heightmode=minus
layer=continue_button

// 860:12
[continue_click]
type=layer
widthmode=minus
heightmode=minus
layer=continue_button
transmitop1=yes
op1=Continue

// 860:13
[skip_confirm_button]
type=layer
x=75
y=150
width=160
height=43
xmode=abs_centre
layer=content
onload=script15493(tut_options:skip_confirm_build, tut_options:skip_confirm_click, rs3tli_3x3_red_button, "Skip tutorial", ^settextalign_centre, quill_oblique_large, string_210)

// 860:14
[skip_confirm_build]
type=layer
widthmode=minus
heightmode=minus
layer=skip_confirm_button

// 860:15
[skip_confirm_click]
type=layer
widthmode=minus
heightmode=minus
layer=skip_confirm_button
transmitop1=yes
op1=Continue

// 860:16
[com_16]
type=text
y=10
width=393
height=135
xmode=abs_centre
layer=content
textfont=notosans_16
text=This tutorial will show you basic controls, and how to get started in the world.<br>If you are new to RuneScape, we recommend you complete it.<br><br>Are you sure you want to skip it?
textshadow=yes

// 860:17
[frame]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=skip_confirm_popup

// 860:18
[borders]
type=layer
x=8
y=28
width=12
height=28
widthmode=minus
heightmode=minus
xmode=abs_right
layer=frame

// 860:19
[com_19]
type=graphic
x=6
y=16
width=8
height=22
heightmode=minus
layer=borders
graphic=rs3_modal_window_1_side_tile
colour=0xffffff
clickmask=no

// 860:20
[com_20]
type=graphic
x=6
y=3
width=16
height=16
ymode=abs_bottom
layer=borders
graphic=rs3_modal_window_1_bottom_corner
tiling=yes
colour=0xffffff
clickmask=no

// 860:21
[com_21]
type=graphic
x=16
width=32
height=8
widthmode=minus
ymode=abs_bottom
layer=borders
graphic=rs3_modal_window_1_bottom_tile
tiling=yes
colour=0xffffff
clickmask=no

// 860:22
[com_22]
type=graphic
width=16
height=16
xmode=abs_right
ymode=abs_bottom
layer=borders
graphic=rs3_modal_window_1_bottom_corner
tiling=yes
hflip=yes
colour=0xffffff
clickmask=no

// 860:23
[com_23]
type=graphic
y=-16
width=8
heightmode=minus
xmode=abs_right
layer=borders
graphic=rs3_modal_window_1_side_tile
hflip=yes
colour=0xffffff
clickmask=no

// 860:24
[header]
type=layer
height=60
widthmode=minus
xmode=abs_centre
layer=frame

// 860:25
[header_left]
type=graphic
width=66
widthmode=aspect
heightmode=minus
aspectwidth=66
aspectheight=71
layer=header
graphic=character_title_left_edge
colour=0xffffff
clickmask=no

// 860:26
[header_middle]
type=graphic
x=55
width=243
height=60
layer=header
graphic=character_title
tiling=yes
colour=0xffffff
clickmask=no

// 860:27
[header_right]
type=graphic
x=298
width=94
widthmode=aspect
heightmode=minus
aspectwidth=94
aspectheight=71
layer=header
graphic=character_title_right_edge
colour=0xffffff
clickmask=no

// 860:28
[com_28]
type=graphic
x=56
y=25
width=72
height=18
xmode=abs_right
layer=header
graphic=character_title_line
tiling=yes
colour=0xffffff
clickmask=no

// 860:29
[com_29]
type=text
x=50
width=140
height=40
widthmode=minus
ymode=abs_centre
layer=header
textfont=cinzel_25pt_bold_multiline
text=Skip Tutorial?
textalignv=1
textshadow=yes
colour=0xffcb05

// 860:30
[close]
type=layer
width=63
height=63
xmode=abs_right
layer=skip_confirm_popup

// 860:31
[close_button]
type=layer
widthmode=minus
heightmode=minus
layer=close
transmitop1=yes
opkey1=0,13,0
op1=Close

// 860:32
[com_32]
type=graphic
width=63
height=63
layer=close
graphic=lobby_button_menu_container
colour=0xffffff
clickmask=no

// 860:33
[com_33]
type=graphic
x=1
y=-2
width=25
height=26
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=close
graphic="aif_close_1,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "aif_close_1,1")
onmouseleave=graphic_swapper(event_com, "aif_close_1,0")
onclick=graphic_swapper(event_com, "aif_close_1,2")

// 860:34
[options_layer]
type=layer
width=300
heightmode=minus
layer=base_layer

// 860:35
[background_images]
type=layer
widthmode=minus
heightmode=minus
layer=options_layer
noclickthrough=yes

// 860:36
[com_36]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=background_images
graphic=rs3_modal_window_content_tile
tiling=yes
colour=0xffffff
clickmask=no

// 860:37
[com_37]
type=graphic
width=6
heightmode=minus
xmode=abs_right
layer=background_images
graphic=rs3_character_interface_tab_strip_vertical
tiling=yes
colour=0xffffff
clickmask=no

// 860:38
[options_layer_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=options_layer

// 860:39
[volume_layer]
type=layer
x=28
y=35
width=184
height=42
xmode=abs_right
layer=options_layer_content

// 860:40
[mobile_mute_button]
type=layer
width=32
height=32
ymode=abs_centre
layer=volume_layer
onclick=script15711

// 860:41
[mobile_mute_audio_graphic]
type=graphic
width=32
height=32
ymode=abs_centre
layer=mobile_mute_button
graphic="options_icons,2"
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Mute", event_com, event_comsubid)

// 860:42
[mobile_mute_audio_cross]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=mobile_mute_button
graphic="mtxbeach16_map_icons,1"
outline=1
colour=0xffffff
clickmask=no
onmouserepeat=script8799("Unmute", event_com, event_comsubid)

// 860:43
[mobile_vol_layer]
type=layer
width=38
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=volume_layer
onload=script15850(tut_options:mobile_audio_build, tut_options:mobile_audio_click)

// 860:44
[mobile_audio_build]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mobile_vol_layer

// 860:45
[mobile_audio_click]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=mobile_vol_layer
onmouserepeat=script8799("Change volume", event_com, event_comsubid)

// 860:46
[settings_button]
type=button
x=28
y=85
width=184
height=42
xmode=abs_right
layer=options_layer_content
noclickthrough=yes
sprite.graphic=button_cornered_neutral
text.text=Settings
stylesheet=button_cornered_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 860:47
[controls_button]
type=button
x=28
y=135
width=184
height=42
xmode=abs_right
layer=options_layer_content
noclickthrough=yes
sprite.graphic=button_cornered_neutral
text.text=Controls
stylesheet=button_cornered_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 860:48
[report_button]
type=button
x=28
y=185
width=184
height=42
xmode=abs_right
layer=options_layer_content
noclickthrough=yes
sprite.graphic=button_cornered_neutral
text.text=Report Issue
stylesheet=button_cornered_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 860:49
[skip_tutorial_button]
type=button
x=28
y=235
width=184
height=42
xmode=abs_right
layer=options_layer_content
noclickthrough=yes
sprite.graphic=button_cornered_neutral
text.text=Skip Tutorial
stylesheet=button_cornered_neutral
transmitop1=yes
op1=Select
opcursor0=cursor_use
onclick=script15878

// 860:50
[logout_button]
type=button
x=28
y=35
width=184
height=42
xmode=abs_right
ymode=abs_bottom
layer=options_layer_content
noclickthrough=yes
sprite.graphic=button_action_negative
text.text=Sign Out
stylesheet=button_action_negative
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 860:51
[close_layer]
type=layer
layer=base_layer
transmitop1=yes
op1=Close

