// 1705:0
[bespoke_window_3]
type=layer
y=5
width=120
height=40
widthmode=minus
xmode=abs_centre
layer=main
onload=script8420(tutisland_lev:bespoke_window_background_3, tutisland_lev:bespoke_window_border_3, tutisland_lev:bespoke_window_content_3, null, "", 21259, null)

// 1705:1
[table_layer]
type=layer
y=50
width=120
height=200
widthmode=minus
xmode=abs_centre
layer=main

// 1705:2
[positive_button_layer]
type=layer
y=5
width=120
height=27
xmode=abs_centre
ymode=abs_bottom
layer=main

// 1705:3
[bespoke_window]
type=layer
x=-110
y=255
width=100
height=40
xmode=abs_centre
layer=main
onload=script8420(tutisland_lev:bespoke_window_background, tutisland_lev:bespoke_window_border, tutisland_lev:bespoke_window_content, null, "", 21259, null)

// 1705:4
[bespoke_window_1]
type=layer
y=255
width=100
height=40
xmode=abs_centre
layer=main
onload=script8420(tutisland_lev:bespoke_window_background_1, tutisland_lev:bespoke_window_border_1, tutisland_lev:bespoke_window_content_1, null, "", 21259, null)

// 1705:5
[bespoke_window_2]
type=layer
x=110
y=255
width=100
height=40
xmode=abs_centre
layer=main
onload=script8420(tutisland_lev:bespoke_window_background_2, tutisland_lev:bespoke_window_border_2, tutisland_lev:bespoke_window_content_2, null, "", 21259, null)

// 1705:6
[seaweed1_model]
type=model
width=209
height=150
ymode=abs_centre
layer=sushi_layer
model=poh_aquarium_seaweed_cut
modelorigin_x=16
modelorigin_y=74
modelangle_x=0
modelangle_y=142
modelangle_z=0
modelzoom=260

// 1705:7
[seaweed2_model]
type=model
width=211
height=150
xmode=abs_right
ymode=abs_centre
layer=sushi_layer
model=poh_aquarium_seaweed_cut
modelorigin_x=11
modelorigin_y=74
modelangle_x=0
modelangle_y=187
modelangle_z=0
modelzoom=260

// 1705:8
[fish1_model]
type=model
x=-111
y=11
width=72
height=89
xmode=abs_centre
ymode=abs_centre
layer=sushi_layer
model=farming_snape_grass_seed_5_inv
modelorigin_x=-2
modelorigin_y=0
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=300
onvartransmit=script11960(event_com)
onvartransmitlist=tutisland_temp2

// 1705:9
[table_bg]
type=graphic
width=18
height=18
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=table_layer
graphic=hp_wood_grain_medium
tiling=yes
colour=0xffffff
clickmask=no

// 1705:10
[table_tl]
type=graphic
width=9
height=9
layer=table_layer
graphic="bronze_border,0"
colour=0xffffff
clickmask=no

// 1705:11
[table_tm]
type=graphic
width=18
height=9
widthmode=minus
xmode=abs_centre
layer=table_layer
graphic="bronze_border,1"
tiling=yes
colour=0xffffff
clickmask=no

// 1705:12
[table_tr]
type=graphic
width=9
height=9
xmode=abs_right
layer=table_layer
graphic="bronze_border,0"
2dangle=49152
colour=0xffffff
clickmask=no

// 1705:13
[table_rm]
type=graphic
width=9
height=18
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=table_layer
graphic="bronze_border,2"
tiling=yes
colour=0xffffff
clickmask=no

// 1705:14
[table_br]
type=graphic
width=9
height=9
xmode=abs_right
ymode=abs_bottom
layer=table_layer
graphic="bronze_border,0"
2dangle=32768
colour=0xffffff
clickmask=no

// 1705:15
[table_bm]
type=graphic
width=18
height=9
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=table_layer
graphic="bronze_border,3"
tiling=yes
colour=0xffffff
clickmask=no

// 1705:16
[table_bl]
type=graphic
width=9
height=9
ymode=abs_bottom
layer=table_layer
graphic="bronze_border,0"
2dangle=16384
colour=0xffffff
clickmask=no

// 1705:17
[table_lm]
type=graphic
width=9
height=18
heightmode=minus
ymode=abs_centre
layer=table_layer
graphic="bronze_border,4"
tiling=yes
colour=0xffffff
clickmask=no

// 1705:18
[close_button]
type=graphic
y=1
width=16
height=15
xmode=abs_right
layer=table_layer
graphic="aif_bronze_close_button_1,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onclick=closebutton_click

// 1705:19
[sushi_layer]
type=layer
y=-5
width=10
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=table_layer

// 1705:20
[fish1_next]
type=graphic
x=-110
y=15
width=19
height=19
xmode=abs_centre
layer=table_layer
graphic="rs3_btn_directional,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Next

// 1705:21
[fish1_prev]
type=graphic
x=-110
y=15
width=19
height=19
xmode=abs_centre
ymode=abs_bottom
layer=table_layer
graphic="rs3_btn_directional,4"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Previous

// 1705:22
[fish2_next]
type=graphic
y=15
width=19
height=19
xmode=abs_centre
layer=table_layer
graphic="rs3_btn_directional,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Next

// 1705:23
[fish2_prev]
type=graphic
y=15
width=19
height=19
xmode=abs_centre
ymode=abs_bottom
layer=table_layer
graphic="rs3_btn_directional,4"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Previous

// 1705:24
[fish3_next]
type=graphic
x=110
y=15
width=19
height=19
xmode=abs_centre
layer=table_layer
graphic="rs3_btn_directional,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Next

// 1705:25
[fish3_prev]
type=graphic
x=110
y=15
width=19
height=19
xmode=abs_centre
ymode=abs_bottom
layer=table_layer
graphic="rs3_btn_directional,4"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Previous

// 1705:26
[main]
type=layer
width=512
height=334

// 1705:27
[fish2_model]
type=model
x=-6
y=15
width=67
height=58
xmode=abs_centre
ymode=abs_centre
layer=sushi_layer
model=elf_crystal_bole_seed_5_inv
modelorigin_x=2
modelorigin_y=-1
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=300
onvartransmit=script11960(event_com)
onvartransmitlist=tutisland_temp2

// 1705:28
[fish3_model]
type=model
x=105
width=64
height=55
xmode=abs_centre
ymode=abs_centre
layer=sushi_layer
model=farming_potato_cactus_seed_5_inv
modelorigin_x=2
modelorigin_y=12
modelangle_x=512
modelangle_y=0
modelangle_z=0
modelzoom=300
onvartransmit=script11960(event_com)
onvartransmitlist=tutisland_temp2

// 1705:29
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7041(event_com)

// 1705:30
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7042(event_com)

// 1705:31
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7044(event_com)

// 1705:32
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7047(event_com)

// 1705:33
[accept_button]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1705:34
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7060(event_com)

// 1705:35
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer

// 1705:36
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Check
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1705:37
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1705:38
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1705:39
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1705:40
[fish1_type]
type=text
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window
textfont=museo_sans_15pt_bold
text=Sweet
textalignh=1
textalignv=1
textshadow=yes

// 1705:41
[bespoke_window_background_1]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window_1

// 1705:42
[bespoke_window_content_1]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window_1

// 1705:43
[bespoke_window_border_1]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window_1

// 1705:44
[fish2_type]
type=text
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_1
textfont=museo_sans_15pt_bold
text=Sour
textalignh=1
textalignv=1
textshadow=yes

// 1705:45
[bespoke_window_background_2]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window_2

// 1705:46
[bespoke_window_content_2]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window_2

// 1705:47
[fish3_type]
type=text
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_2
textfont=museo_sans_15pt_bold
text=Spicy
textalignh=1
textalignv=1
textshadow=yes

// 1705:48
[bespoke_window_border_2]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window_2

// 1705:49
[bespoke_window_background_3]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window_3

// 1705:50
[bespoke_window_content_3]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window_3

// 1705:51
[bespoke_window_border_3]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window_3

// 1705:52
[info_text]
type=text
width=20
height=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_3
textfont=p12_full
text="Something mellow yet sour with some bitter undertones."
textalignh=1
textalignv=1
textshadow=yes

