// 1703:0
[com_0]
type=graphic
width=311
height=311
xmode=abs_centre
ymode=abs_centre
layer=main
graphic=aif_loyalty_scroll_bckgrd_1
colour=0xffffff
clickmask=no

// 1703:1
[title]
type=text
y=40
width=200
height=32
xmode=abs_centre
layer=main
textfont=quill_oblique_large
text=Brace's Friend List
textalignh=1
textalignv=1
colour=0x000000

// 1703:2
[close_button]
type=graphic
x=5
y=5
width=16
height=15
xmode=abs_right
layer=main
graphic="aif_bronze_close_button_1,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onclick=closebutton_click

// 1703:3
[main]
type=layer
width=311
height=311
xmode=abs_centre
ymode=abs_centre

// 1703:4
[fish1_model]
type=model
x=40
y=80
width=72
height=62
layer=main
model=poh_aqua_rainbowfish
modelorigin_x=3
modelorigin_y=16
modelangle_x=0
modelangle_y=512
modelangle_z=0
modelzoom=750

// 1703:5
[fish1_name]
type=text
x=120
y=90
width=150
height=32
layer=main
textfont=quill_oblique_large
text=Fish 1 Name
textalignv=1
colour=0x000000

// 1703:6
[fish2_model]
type=model
x=40
y=145
width=72
height=62
layer=main
model=poh_aqua_rainbowfish
modelorigin_x=3
modelorigin_y=16
modelangle_x=0
modelangle_y=512
modelangle_z=0
modelzoom=750

// 1703:7
[fish2_name]
type=text
x=120
y=155
width=150
height=32
layer=main
textfont=quill_oblique_large
text=Fish 2 Name
textalignv=1
colour=0x000000

// 1703:8
[fish3_model]
type=model
x=40
y=210
width=72
height=62
layer=main
model=poh_aqua_rainbowfish
modelorigin_x=3
modelorigin_y=16
modelangle_x=0
modelangle_y=512
modelangle_z=0
modelzoom=750

// 1703:9
[fish3_name]
type=text
x=120
y=220
width=150
height=32
layer=main
textfont=quill_oblique_large
text=Fish 3 Name
textalignv=1
colour=0x000000

