// 1706:0
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=layer_1
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1706:1
[entered_code_text]
type=text
width=10
height=5
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=layer_1
textfont=museo_sans_15pt_bold
text=Code : _ _ _
textalignh=1
textalignv=1
textshadow=yes
onvartransmit=script11973(event_com)
onvartransmitlist=tutisland_temp,tutisland_temp,tutisland_temp

// 1706:2
[instructions_text]
type=text
y=20
width=5
height=100
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content
textfont=museo_sans_11pt_regular_multiline
text=Use your arrow keys or the buttons below to rotate the vault.
textalignh=1
textalignv=1
textshadow=yes

// 1706:3
[mouse_click]
type=layer
y=130
height=32
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content

// 1706:4
[arrow_right_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=click_right
graphic="rs3_icon_rotate_left,0"
hflip=yes
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "rs3_icon_rotate_left,1")
onmouseleave=graphic_swapper(event_com, "rs3_icon_rotate_left,0")

// 1706:5
[arrow_left_graphic]
type=graphic
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=click_left
graphic="rs3_icon_rotate_left,0"
colour=0xffffff
clickmask=no
onmouseover=graphic_swapper(event_com, "rs3_icon_rotate_left,1")
onmouseleave=graphic_swapper(event_com, "rs3_icon_rotate_left,0")

// 1706:6
[door]
type=model
width=318
height=301
xmode=abs_centre
ymode=abs_centre
layer=models
model=tutisland_vault_interface_frame
modelorigin_x=13
modelorigin_y=0
modelangle_x=0
modelangle_y=1024
modelangle_z=0
modelzoom=400

// 1706:7
[vault_wheel]
type=model
x=12
width=115
height=114
xmode=abs_centre
ymode=abs_centre
layer=models
model=tutisland_vault_interface_dial
modelorigin_x=0
modelorigin_y=-4
modelangle_x=2020
modelangle_y=1024
modelangle_z=0
modelzoom=400
ontimer=script11972(event_com)

// 1706:8
[content]
type=layer
width=512
height=334
onload=script11968

// 1706:9
[bespoke_window]
type=layer
y=16
width=96
height=32
heightmode=minus
xmode=abs_right
layer=content
onload=script8420(tutisland_vault:bespoke_window_background, tutisland_vault:bespoke_window_border, tutisland_vault:bespoke_window_content, null, "", 21259, null)

// 1706:10
[models]
type=layer
widthmode=minus
heightmode=minus
layer=content

// 1706:11
[numbers]
type=layer
widthmode=minus
heightmode=minus
layer=content

// 1706:12
[9]
type=text
x=-15
y=-75
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=numbers
textfont=museo_sans_17pt_bold
text=9
textalignh=1
textalignv=1
textshadow=yes

// 1706:13
[8]
type=text
x=-55
y=-50
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=numbers
textfont=museo_sans_17pt_bold
text=8
textalignh=1
textalignv=1
textshadow=yes

// 1706:14
[7]
type=text
x=-65
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=numbers
textfont=museo_sans_17pt_bold
text=7
textalignh=1
textalignv=1
textshadow=yes

// 1706:15
[6]
type=text
x=-55
y=50
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=numbers
textfont=museo_sans_17pt_bold
text=6
textalignh=1
textalignv=1
textshadow=yes

// 1706:16
[5]
type=text
x=-15
y=75
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=numbers
textfont=museo_sans_17pt_bold
text=5
textalignh=1
textalignv=1
textshadow=yes

// 1706:17
[4]
type=text
x=40
y=75
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=numbers
textfont=museo_sans_17pt_bold
text=4
textalignh=1
textalignv=1
textshadow=yes

// 1706:18
[3]
type=text
x=80
y=50
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=numbers
textfont=museo_sans_17pt_bold
text=3
textalignh=1
textalignv=1
textshadow=yes

// 1706:19
[2]
type=text
x=90
width=30
height=32
xmode=abs_centre
ymode=abs_centre
layer=numbers
textfont=museo_sans_17pt_bold
text=2
textalignh=1
textalignv=1
textshadow=yes

// 1706:20
[1]
type=text
x=80
y=-50
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=numbers
textfont=museo_sans_17pt_bold
text=1
textalignh=1
textalignv=1
textshadow=yes

// 1706:21
[0]
type=text
x=40
y=-75
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=numbers
textfont=museo_sans_17pt_bold
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1706:22
[keyboard_input]
type=layer
width=512
height=334
layer=content

// 1706:23
[layer_1]
type=layer
y=120
width=150
height=30
xmode=abs_centre
ymode=abs_centre
layer=content

// 1706:24
[click_left]
type=layer
x=-20
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=mouse_click
transmitop1=yes
op1=Rotate anticlockwise
onclickrepeat=script11971(event_com)

// 1706:25
[click_right]
type=layer
x=20
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=mouse_click
transmitop1=yes
op1=Rotate clockwise
opcursor0=cursor_rotate_clockwise
onclickrepeat=script11971(event_com)

// 1706:26
[input_right]
type=layer
layer=keyboard_input
transmitop1=yes
op1=Turn left

// 1706:27
[input_left]
type=layer
layer=keyboard_input
transmitop1=yes
op1=Turn right

// 1706:28
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1706:29
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1706:30
[enter_code_button]
type=layer
x=1
y=170
width=2
height=27
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content

// 1706:31
[reset_button]
type=layer
x=1
y=210
width=2
height=27
widthmode=minus
xmode=abs_centre
layer=bespoke_window_content

// 1706:32
[close_button]
type=graphic
width=16
height=16
xmode=abs_right
layer=bespoke_window_content
graphic="rs3_btn_custom_modal,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onmouseover=graphic_swapper(event_com, "rs3_btn_custom_modal,1")
onmouseleave=graphic_swapper(event_com, "rs3_btn_custom_modal,0")
onop=closebutton_click
onclick=graphic_swapper(event_com, "rs3_btn_custom_modal,2")
onrelease=graphic_swapper(event_com, "rs3_btn_custom_modal,1")

// 1706:33
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1706:34
[positive_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=enter_code_button
onload=script7041(event_com)

// 1706:35
[positive_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=enter_code_button
onload=script7042(event_com)

// 1706:36
[positive_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=enter_code_button
onload=script7044(event_com)

// 1706:37
[positive_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=enter_code_button
hide=yes
onload=script7047(event_com)

// 1706:38
[enter_code_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=enter_code_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1706:39
[positive_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=enter_code_button

// 1706:40
[postive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_1
textfont=cinzel_13pt_bold
text=Enter
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1706:41
[neutral_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button
onload=script7062(event_com)

// 1706:42
[neutral_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button
onload=script7063(event_com)

// 1706:43
[neutral_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button
onload=script7065(event_com)

// 1706:44
[neutral_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button
hide=yes
onload=script7068(event_com)

// 1706:45
[reset_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=reset_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1706:46
[neutral_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reset_button

// 1706:47
[neutral_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer
textfont=cinzel_13pt_bold
text=Reset
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

