// 372:0
[tut2_title]
type=text
x=2
y=5
width=500
height=17
layer=tut2_layer
textfont=q8_full
text=Title
textalignh=1
colour=0x0000ff

// 372:1
[tut2_a]
type=text
x=2
y=24
width=500
height=17
layer=tut2_layer
textfont=q8_full
text=Line1
textalignh=1
colour=0x000000

// 372:2
[tut2_b]
type=text
x=2
y=40
width=500
height=17
layer=tut2_layer
textfont=q8_full
text=Line2
textalignh=1
colour=0x000000

// 372:3
[tut2_c]
type=text
x=2
y=56
width=500
height=17
layer=tut2_layer
textfont=q8_full
text=Line3
textalignh=1
colour=0x000000

// 372:4
[tut2_d]
type=text
x=2
y=72
width=500
height=17
layer=tut2_layer
textfont=q8_full
text=Line4
textalignh=1
colour=0x000000

// 372:5
[tut2_e]
type=text
x=2
y=88
width=500
height=17
layer=tut2_layer
textfont=q8_full
text=Line5
textalignh=1
colour=0x000000

// 372:6
[tut2_f]
type=text
x=2
y=104
width=500
height=17
layer=tut2_layer
textfont=q8_full
text=Line6
textalignh=1
colour=0x000000

// 372:7
[tut2_layer]
type=layer
width=16
height=16
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

