// 16:0
[info_layer_bg]
type=layer
height=30
widthmode=minus
layer=info_layer
hide=yes
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 16:1
[key_count_background_bg]
type=layer
widthmode=minus
heightmode=minus
layer=key_count_layer
hide=yes
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 16:2
[key_count_text]
type=text
x=55
width=55
widthmode=minus
heightmode=minus
layer=key_count_layer
textfont=museo_sans_15pt_bold
text=x 1,000
textalignv=1
textshadow=yes

// 16:3
[key_count_graphic]
type=graphic
width=43
height=33
layer=key_count_layer
graphic=trh_twitchprime_chest_icon
colour=0xffffff
clickmask=no

// 16:4
[background_graphic]
type=graphic
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=chest_layer
graphic=trh_twitchprime_background
colour=0xffffff
clickmask=no

// 16:5
[background_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=twitch_jun18

// 16:6
[border_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=twitch_jun18

// 16:7
[content_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=twitch_jun18

// 16:8
[chest_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 16:9
[key_count_layer]
type=layer
x=18
y=16
width=152
height=33
layer=chest_layer

// 16:10
[chest]
type=model
x=4
y=45
width=147
height=94
xmode=abs_centre
ymode=abs_centre
layer=chest_layer
model=twitch_chest
modelorigin_x=0
modelorigin_y=32
modelangle_x=113
modelangle_y=0
modelangle_z=0
modelzoom=500
modelanim=twitch_jun18_chest_idle
onmouseover=script98
onmouseleave=script100

// 16:11
[chest_click_layer]
type=layer
y=28
width=255
height=135
xmode=abs_centre
ymode=abs_centre
layer=chest_layer
transmitop1=yes
op1=Open Chest
onload=script4406(event_com, 1, wof_trh_key_cursor)

// 16:12
[info_layer]
type=layer
y=2
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=chest_layer

// 16:13
[info_layer_text]
type=text
y=2
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=chest_layer
textfont=museo_sans_13pt_regular
text=Open the chest for a reward!
textalignh=1
textalignv=1

// 16:14
[anim_skip_layer]
type=layer
widthmode=minus
heightmode=minus
layer=chest_layer
hide=yes
noclickthrough=yes
transmitop1=yes
op1=Skip anim

// 16:15
[reward_claim_container]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=content_layer
hide=yes

// 16:16
[no_click_through_layer]
type=layer
widthmode=minus
heightmode=minus
layer=reward_claim_container
noclickthrough=yes

// 16:17
[reward_claim]
type=layer
y=-10
width=80
height=224
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reward_claim_container

// 16:18
[reward_title_label]
type=text
x=5
y=-26
width=85
height=24
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=reward_claim
textfont=museo_sans_13pt_bold
text=You open the chest and find
textalignh=1
textalignv=1
textshadow=yes

// 16:19
[reward_name_label]
type=text
x=5
width=85
height=32
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=reward_claim
textfont=museo_sans_17pt_bold
text=I am the name of a reward
textalignh=1
textalignv=1
textshadow=yes

// 16:20
[reward_rarity_graphic]
type=graphic
x=5
y=10
width=68
height=73
ymode=abs_centre
layer=reward_claim
graphic=trh_twitchprime_token_icon
colour=0xffffff
clickmask=no

// 16:21
[reward_rarity_prize_model]
type=graphic
x=20
y=10
width=36
height=32
ymode=abs_centre
layer=reward_claim
colour=0xffffff
clickmask=no

// 16:22
[reward_description_label]
type=text
x=5
y=39
width=85
height=46
widthmode=minus
xmode=abs_right
ymode=abs_centre
layer=reward_claim
textfont=museo_sans_11pt_regular
text=I am the description of what the prize will be.
textalignh=1
textshadow=yes

// 16:23
[reward_claim_button]
type=layer
y=15
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=reward_claim
onload=script13968(twitch_jun18:reward_claim_button_build, twitch_jun18:reward_claim_button_click, rs3tli_positive_button, "Claim Reward")

// 16:24
[com_24]
type=rectangle
widthmode=minus
heightmode=minus
layer=no_click_through_layer
colour=0x000000
fill=yes
trans=125

// 16:25
[twitch_jun18]
type=layer
width=511
height=306
xmode=abs_centre
ymode=abs_centre
onload=script8420(twitch_jun18:background_layer, twitch_jun18:border_layer, twitch_jun18:content_layer, twitch_jun18:closebutton_layer, "Umbral Chests", 21218, null)

// 16:26
[closebutton_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=twitch_jun18
transmitop1=yes
op1=Close

// 16:27
[reward_claim_button_build]
type=layer
widthmode=minus
heightmode=minus
layer=reward_claim_button

// 16:28
[reward_claim_button_click]
type=layer
widthmode=minus
heightmode=minus
layer=reward_claim_button
transmitop1=yes
op1=Claim

