// 231:0
[quality_warning]
type=graphic
y=35
width=15
height=13
xmode=abs_centre
ymode=abs_bottom
layer=quality_listener_layer
hide=yes
graphic="rs3_icon_twitch_alert,0"
colour=0xffffff
clickmask=no

// 231:1
[quality_error]
type=graphic
y=35
width=15
height=13
xmode=abs_centre
ymode=abs_bottom
layer=quality_listener_layer
hide=yes
graphic="rs3_icon_twitch_alert,1"
colour=0xffffff
clickmask=no

// 231:2
[com_2]
type=rectangle
widthmode=minus
heightmode=minus
layer=main_layer
colour=0x000000
fill=yes

// 231:3
[webcam_build]
type=layer
height=50
widthmode=minus
heightmode=minus
layer=main_layer

// 231:4
[webcam_buttons]
type=layer
height=60
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=main_layer

// 231:5
[live_status]
type=graphic
x=15
y=10
width=32
height=16
xmode=abs_right
layer=main_layer
hide=yes
graphic=rs3_icon_twitch_live
colour=0xffffff
clickmask=no

// 231:6
[countdown_text]
type=text
x=15
y=7
width=36
height=27
xmode=abs_right
layer=main_layer
hide=yes
textfont=museo_sans_13pt_bold
text=10
textalignh=2
textalignv=1
textshadow=yes
colour=0xff0000

// 231:7
[quality_listener_layer]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=main_layer

// 231:8
[modal_dialog_window]
type=layer
widthmode=minus
heightmode=minus

// 231:9
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 231:10
[main_layer]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 231:11
[twitch_player_name]
type=text
x=10
y=5
width=129
height=21
layer=webcam_buttons
textfont=museo_sans_13pt_regular
text=RsPlayer
textshadow=yes
onload=script10133

// 231:12
[viewers]
type=text
y=5
width=80
height=19
xmode=abs_right
layer=webcam_buttons
textfont=museo_sans_13pt_regular
text=Viewers
textshadow=yes
colour=0xaed0e0

// 231:13
[viewer_count]
type=text
x=83
y=5
width=80
height=19
xmode=abs_right
layer=webcam_buttons
textfont=museo_sans_13pt_regular
textalignh=2
textshadow=yes
colour=0xaed0e0

// 231:14
[twitch_logout]
type=graphic
x=15
y=10
width=21
height=21
ymode=abs_bottom
layer=webcam_buttons
graphic="rs3_btn_twitch_logout,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Logout
onmouseover=graphic_swapper(event_com, "rs3_btn_twitch_logout,1")
onmouseleave=graphic_swapper(event_com, "rs3_btn_twitch_logout,0")
onop=twitch_logout
onmouserepeat=script8799("Twitch logout", event_com, -1)

// 231:15
[stream_status]
type=graphic
y=10
width=21
height=21
xmode=abs_centre
ymode=abs_bottom
layer=webcam_buttons
graphic="rs3_btn_twitch_stop,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Start/Stop Broadcast
onload=script10156
onmouseover=script10155
onmouseleave=script10156
onop=script10151
onmouserepeat=script8799("Start/Stop Broadcast", event_com, -1)

// 231:16
[maximise_button]
type=graphic
x=15
y=10
width=21
height=21
xmode=abs_right
ymode=abs_bottom
layer=webcam_buttons
graphic="rs3_btn_minimise_21px,3"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Maximise
onmouseover=graphic_swapper(event_com, "rs3_btn_minimise_21px,4")
onmouseleave=graphic_swapper(event_com, "rs3_btn_minimise_21px,3")
onop=script10157(0)
onmouserepeat=script8799("Maximise", event_com, -1)

// 231:17
[minimise_button]
type=graphic
x=15
y=10
width=21
height=21
xmode=abs_right
ymode=abs_bottom
layer=webcam_buttons
hide=yes
graphic="rs3_btn_minimise_21px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Minimise
onmouseover=graphic_swapper(event_com, "rs3_btn_minimise_21px,1")
onmouseleave=graphic_swapper(event_com, "rs3_btn_minimise_21px,0")
onop=script10157(1)
onmouserepeat=script8799("Minimise", event_com, -1)

// 231:18
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 231:19
[webcam_icon]
type=graphic
x=7
y=5
width=32
height=32
layer=modal_dialog_window
colour=0xffffff
clickmask=no

