// 375:0
[button_layer]
type=layer
width=190
height=261
xmode=abs_centre
ymode=abs_centre

// 375:1
[icon]
type=graphic
y=35
width=123
height=129
xmode=abs_centre
layer=button_layer
graphic="unmorph_icons,0"
alpha=yes
colour=0xffffff
clickmask=no
onload=script5568(event_com)
onvarctransmit=script5568(event_com)
onvarctransmitlist=unmorph_icon_varc

// 375:2
[button]
type=layer
y=184
width=127
height=34
xmode=abs_centre
layer=button_layer
onload=script6233(tzhaar_unmorph:build, tzhaar_unmorph:click, rs3tli_3x3_button, "Unmorph")

// 375:3
[build]
type=layer
widthmode=minus
heightmode=minus
layer=button

// 375:4
[click]
type=layer
widthmode=minus
heightmode=minus
layer=button
transmitop1=yes
op1=Unmorph

