// 432:0
[main_layer]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre

// 432:1
[com_1]
type=model
x=154
y=6
width=206
height=319
layer=main_layer
model=dillo_tzhaar_shopping_list_if
modelorigin_x=-2
modelorigin_y=-44
modelangle_x=0
modelangle_y=0
modelangle_z=1024
modelzoom=1040

// 432:2
[ket_heading]
type=text
x=183
y=34
width=60
height=23
layer=main_layer
textfont=verdana_15pt_regular
text=Ket =
textlineheight=15
textshadow=yes
colour=0xbf751d

// 432:3
[ket_text]
type=text
x=185
y=56
width=151
height=48
layer=main_layer
textfont=verdana_13pt_bold
text=Blunt / Defender / Guard / Large
textlineheight=15
textalignh=1
textshadow=yes
colour=0xbf751d

// 432:4
[xil_heading]
type=text
x=183
y=103
width=60
height=23
layer=main_layer
textfont=verdana_15pt_regular
text=Xil = 
textlineheight=15
textshadow=yes
colour=0xbf751d

// 432:5
[xil_text]
type=text
x=186
y=125
width=147
height=48
layer=main_layer
textfont=verdana_13pt_bold
text=Sharp / Hunter / Killer / Dangerous
textlineheight=15
textalignh=1
textshadow=yes
colour=0xbf751d

// 432:6
[mej_heading]
type=text
x=183
y=172
width=60
height=23
layer=main_layer
textfont=verdana_15pt_regular
text=Mej =
textlineheight=15
textshadow=yes
colour=0xbf7515

// 432:7
[mej_text]
type=text
x=190
y=194
width=141
height=48
layer=main_layer
textfont=verdana_13pt_bold
text=Magic / Mage / Priest / Parent
textlineheight=15
textalignh=1
textshadow=yes
colour=0xbf7515

// 432:8
[hur_heading]
type=text
x=183
y=241
width=60
height=23
layer=main_layer
textfont=verdana_15pt_regular
text=Hur =
textlineheight=15
textshadow=yes
colour=0xbf7515

// 432:9
[hur_text]
type=text
x=178
y=263
width=158
height=48
layer=main_layer
textfont=verdana_13pt_bold
text=Small / Crafter / Builder / Sculptor
textlineheight=15
textalignh=1
textshadow=yes
colour=0xbf7515

// 432:10
[com_10]
type=graphic
x=320
y=14
width=26
height=23
layer=main_layer
graphic="close_buttons,4"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onmouseover=graphic_swapper(event_com, "close_buttons,5")
onmouseleave=graphic_swapper(event_com, "close_buttons,4")
onop=closebutton_click

