// 895:0
[layer_1]
type=layer
y=-6
width=350
height=30
xmode=abs_centre
ymode=abs_centre
layer=layer_2

// 895:1
[number_1]
type=text
width=50
height=30
layer=layer_1
textfont=tzhaar_numbers
textalignh=1

// 895:2
[number_2]
type=text
x=100
width=50
height=30
layer=layer_1
textfont=tzhaar_numbers
textalignh=1

// 895:3
[number_3]
type=text
x=200
width=50
height=30
layer=layer_1
textfont=tzhaar_numbers
textalignh=1

// 895:4
[number_4]
type=text
x=300
width=50
height=30
layer=layer_1
textfont=tzhaar_numbers
textalignh=1

// 895:5
[sign_1]
type=text
x=50
width=50
height=30
layer=layer_1
textfont=museo_sans_11pt_regular
textalignh=1

// 895:6
[sign_2]
type=text
x=150
width=50
height=30
layer=layer_1
textfont=museo_sans_11pt_regular
textalignh=1

// 895:7
[sign_3]
type=text
x=250
width=50
height=30
layer=layer_1
textfont=museo_sans_11pt_regular
textalignh=1

// 895:8
[mainmodal_window]
type=layer
width=384
height=150
xmode=abs_centre
ymode=abs_centre
onload=script8420(tzhaar2_scales:mainmodal_window_background, tzhaar2_scales:mainmodal_window_border, tzhaar2_scales:mainmodal_window_content, tzhaar2_scales:mainmodal_window_close_button, "Ancient Scales", 21218, string_1007)

// 895:9
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 895:10
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 895:11
[aif_silver_button_active_layer]
type=layer
y=5
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13968(event_com, null, rs3tli_positive_button, "Place Tokkul")

// 895:12
[layer_2]
type=layer
width=415
height=125
xmode=proportion_centre
ymode=proportion_centre
layer=mainmodal_window_content

// 895:13
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 895:14
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

