// 1230:0
[content_panel_blue]
type=layer
y=4
width=34
height=40
widthmode=minus
xmode=abs_centre
layer=content_layer
onload=script10896(event_com, null, rs3tli_content_panel_blue)

// 1230:1
[com_1]
type=text
y=4
width=34
height=38
widthmode=minus
xmode=abs_centre
layer=content_layer
textfont=notosans_12
text=Select your maxed skills to toggle whether or not you will receive Daily Challenges for them.
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1230:2
[skills]
type=layer
y=47
width=327
height=186
xmode=abs_centre
layer=content_layer

// 1230:3
[universe]
type=layer
width=100
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(uaui_skill_selector:background_layer, uaui_skill_selector:frame_layer, uaui_skill_selector:content_layer, uaui_skill_selector:close_button_layer, "Select Challenge Skills", 21218, string_1007)

// 1230:4
[background_layer]
type=layer
width=512
height=334
layer=universe

// 1230:5
[content_layer]
type=layer
y=32
width=15
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=universe

// 1230:6
[combat_toggle_layer]
type=layer
x=35
y=233
width=320
height=30
layer=content_layer
onload=script18267

// 1230:7
[combat_toggle_checkbox]
type=graphic
width=18
height=12
heightmode=minus
ymode=abs_centre
layer=combat_toggle_layer
graphic="rs3_btn_checkbox,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1230:8
[combat_toggle_text]
type=text
x=25
y=-1
width=288
heightmode=minus
ymode=abs_centre
layer=combat_toggle_layer
noclickthrough=yes
textfont=notosans_12
text=Block challenges in all combat skills
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1230:9
[confirm_button_layer]
type=layer
y=5
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=content_layer

// 1230:10
[1]
type=layer
width=45
height=45
layer=skills
onload=script18264(event_com, attack)
onvartransmit=script18264(event_com, attack)
onvartransmitlist=uaui_skill_select_temp

// 1230:11
[7]
type=layer
x=282
width=45
height=45
layer=skills
onload=script18264(event_com, prayer)
onvartransmit=script18264(event_com, prayer)
onvartransmitlist=uaui_skill_select_temp

// 1230:12
[8]
type=layer
y=47
width=45
height=45
layer=skills
onload=script18264(event_com, agility)
onvartransmit=script18264(event_com, agility)
onvartransmitlist=uaui_skill_select_temp

// 1230:13
[9]
type=layer
x=47
y=47
width=45
height=45
layer=skills
onload=script18264(event_com, herblore)
onvartransmit=script18264(event_com, herblore)
onvartransmitlist=uaui_skill_select_temp

// 1230:14
[10]
type=layer
x=94
y=47
width=45
height=45
layer=skills
onload=script18264(event_com, thieving)
onvartransmit=script18264(event_com, thieving)
onvartransmitlist=uaui_skill_select_temp

// 1230:15
[11]
type=layer
x=141
y=47
width=45
height=45
layer=skills
onload=script18264(event_com, crafting)
onvartransmit=script18264(event_com, crafting)
onvartransmitlist=uaui_skill_select_temp

// 1230:16
[12]
type=layer
x=188
y=47
width=45
height=45
layer=skills
onload=script18264(event_com, runecraft)
onvartransmit=script18264(event_com, runecraft)
onvartransmitlist=uaui_skill_select_temp

// 1230:17
[13]
type=layer
x=235
y=47
width=45
height=45
layer=skills
onload=script18264(event_com, mining)
onvartransmit=script18264(event_com, mining)
onvartransmitlist=uaui_skill_select_temp

// 1230:18
[14]
type=layer
x=282
y=47
width=45
height=45
layer=skills
onload=script18264(event_com, smithing)
onvartransmit=script18264(event_com, smithing)
onvartransmitlist=uaui_skill_select_temp

// 1230:19
[15]
type=layer
y=94
width=45
height=45
layer=skills
onload=script18264(event_com, fishing)
onvartransmit=script18264(event_com, fishing)
onvartransmitlist=uaui_skill_select_temp

// 1230:20
[16]
type=layer
x=47
y=94
width=45
height=45
layer=skills
onload=script18264(event_com, cooking)
onvartransmit=script18264(event_com, cooking)
onvartransmitlist=uaui_skill_select_temp

// 1230:21
[17]
type=layer
x=94
y=94
width=45
height=45
layer=skills
onload=script18264(event_com, firemaking)
onvartransmit=script18264(event_com, firemaking)
onvartransmitlist=uaui_skill_select_temp

// 1230:22
[18]
type=layer
x=141
y=94
width=45
height=45
layer=skills
onload=script18264(event_com, woodcutting)
onvartransmit=script18264(event_com, woodcutting)
onvartransmitlist=uaui_skill_select_temp

// 1230:23
[19]
type=layer
x=188
y=94
width=45
height=45
layer=skills
onload=script18264(event_com, fletching)
onvartransmit=script18264(event_com, fletching)
onvartransmitlist=uaui_skill_select_temp

// 1230:24
[20]
type=layer
x=235
y=94
width=45
height=45
layer=skills
onload=script18264(event_com, slayer)
onvartransmit=script18264(event_com, slayer)
onvartransmitlist=uaui_skill_select_temp

// 1230:25
[21]
type=layer
x=235
width=45
height=45
layer=skills
onload=script18264(event_com, farming)
onvartransmit=script18264(event_com, farming)
onvartransmitlist=uaui_skill_select_temp

// 1230:26
[22]
type=layer
x=47
width=45
height=45
layer=skills
onload=script18264(event_com, construction)
onvartransmit=script18264(event_com, construction)
onvartransmitlist=uaui_skill_select_temp

// 1230:27
[23]
type=layer
x=94
width=45
height=45
layer=skills
onload=script18264(event_com, hunter)
onvartransmit=script18264(event_com, hunter)
onvartransmitlist=uaui_skill_select_temp

// 1230:28
[24]
type=layer
x=141
width=45
height=45
layer=skills
onload=script18264(event_com, summoning)
onvartransmit=script18264(event_com, summoning)
onvartransmitlist=uaui_skill_select_temp

// 1230:29
[25]
type=layer
x=188
width=45
height=45
layer=skills
onload=script18264(event_com, dungeoneering)
onvartransmit=script18264(event_com, dungeoneering)
onvartransmitlist=uaui_skill_select_temp

// 1230:30
[26]
type=layer
x=282
y=94
width=45
height=45
layer=skills
onload=script18264(event_com, divination)
onvartransmit=script18264(event_com, divination)
onvartransmitlist=uaui_skill_select_temp

// 1230:31
[28]
type=layer
y=141
width=45
height=45
xmode=abs_centre
layer=skills
onload=script18264(event_com, archaeology)
onvartransmit=script18264(event_com, archaeology)
onvartransmitlist=uaui_skill_select_temp

// 1230:32
[frame_layer]
type=layer
width=512
height=334
layer=universe

// 1230:33
[close_button_layer]
type=layer
width=512
height=334
layer=universe
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=closebutton_click

// 1230:34
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_layer
onload=script7041(event_com)

// 1230:35
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_layer
onload=script7042(event_com)

// 1230:36
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_layer
onload=script7044(event_com)

// 1230:37
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_layer
hide=yes
onload=script7047(event_com)

// 1230:38
[confirm_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1230:39
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_layer
hide=yes
onload=script7060(event_com)

// 1230:40
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_layer

// 1230:41
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Confirm
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

