// 561:0
[com_0]
type=graphic
x=76
y=298
width=380
height=47
xmode=abs_right
layer=background
graphic=aif_scroll_bottom_border
colour=0xffffff
clickmask=no

// 561:1
[com_1]
type=graphic
x=52
y=33
width=399
height=267
layer=background
graphic=aif_scroll_window_texture_1
tiling=yes
colour=0xffffff
clickmask=no

// 561:2
[com_2]
type=graphic
x=6
y=41
width=50
height=304
layer=background
graphic=aif_scroll_left_border
colour=0xffffff
clickmask=no

// 561:3
[com_3]
type=graphic
x=6
y=-10
width=50
height=140
layer=background
graphic=aif_scroll_left_border
tiling=yes
colour=0xffffff
clickmask=no

// 561:4
[com_4]
type=graphic
x=56
y=-10
width=379
height=47
layer=background
graphic=aif_scroll_top_border
colour=0xffffff
clickmask=no

// 561:5
[com_5]
type=graphic
x=436
y=41
width=53
height=304
layer=background
graphic=aif_scroll_right_border
colour=0xffffff
clickmask=no

// 561:6
[com_6]
type=graphic
x=435
y=-10
width=53
height=143
layer=background
graphic=aif_scroll_right_border
tiling=yes
colour=0xffffff
clickmask=no

// 561:7
[universe]
type=layer
width=512
height=334
xmode=abs_centre
ymode=abs_centre
noclickthrough=yes
onload=valentine_setup(valentine:container, valentine:text, valentine:scrollbar)
onvarcstrtransmit=valentine_setup(valentine:container, valentine:text, valentine:scrollbar)
onvarcstrtransmitlist=varclientstring_2551,varclientstring_7154

// 561:8
[background]
type=layer
x=9
y=1
width=512
height=334
layer=universe

// 561:9
[com_9]
type=graphic
x=56
y=27
width=16
height=15
xmode=abs_right
layer=universe
graphic="aif_bronze_close_button_1,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onmouseleave=graphic_swapper(event_com, "aif_bronze_close_button_1,0")
onop=closebutton_click
onmouserepeat=graphic_swapper(event_com, "aif_bronze_close_button_1,1")

// 561:10
[com_10]
type=text
y=28
width=120
height=20
widthmode=minus
xmode=abs_centre
layer=universe
textfont=cinzel_18pt_bold_multiline
text=Recent Wilderness Kills
textalignh=1
textalignv=1
colour=0x46320a

// 561:11
[container]
type=layer
x=74
y=33
width=374
height=240
xmode=abs_right
ymode=abs_bottom
layer=universe

// 561:12
[text]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=container
textfont=notosans_12
fontmono=no
textalignh=1
textalignv=1
colour=0x46320a

// 561:13
[scrollbar]
type=layer
x=58
y=33
width=16
height=240
xmode=abs_right
ymode=abs_bottom
layer=universe

// 561:14
[com_14]
type=graphic
x=190
y=66
width=124
height=176
graphic=atwild_skull
trans=225
colour=0x835032
clickmask=no

