// 762:0
[violet_christmas_picture]
type=graphic
width=860
height=540
xmode=abs_centre
ymode=abs_centre
graphic=vib2_house_scene
colour=0xffffff
clickmask=no

