// 1054:0
[reset]
type=layer
x=10
y=10
width=150
height=27
ymode=abs_bottom
layer=balances
transmitop1=yes
op1=Reset
onload=script13968(event_com, null, rs3tli_negative_button, "Reset")
onop=script2367

// 1054:1
[try]
type=layer
x=190
y=10
width=150
height=27
ymode=abs_bottom
layer=balances
transmitop1=yes
op1=Activate
onload=script13968(event_com, null, rs3tli_positive_button, "Activate")

// 1054:2
[balances]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window_content

// 1054:3
[background_info]
type=layer
width=267
height=199
xmode=abs_centre
ymode=abs_centre
layer=modal_dialog_window_content
transmitop1=yes
op1=Close
onop=script2360

// 1054:4
[bg]
type=layer
widthmode=minus
heightmode=minus
layer=background_info
onload=script10896(event_com, null, rs3tli_content_panel_black)

// 1054:5
[title_1]
type=text
y=4
width=20
height=24
widthmode=minus
xmode=abs_centre
layer=background_info
textfont=cinzel_12pt_bold
text=Instructions (click to close)
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1054:6
[instructions_1]
type=text
y=23
width=20
height=40
widthmode=minus
xmode=abs_centre
layer=background_info
textfont=museo_sans_11pt_regular
text=Click on a slot to select it, and click on a weight to place it in that slot. Click 'Activate' to try your solution.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1054:7
[modal_dialog_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(vkq3_weightpuzzle:modal_dialog_window_background, vkq3_weightpuzzle:modal_dialog_window_border, vkq3_weightpuzzle:modal_dialog_window_content, vkq3_weightpuzzle:modal_dialog_window_close_button, "Weight Distribution", 21217, string_1007)

// 1054:8
[weight2_label]
type=text
x=60
width=80
height=52
xmode=abs_right
layer=balances
textfont=cinzel_13pt_bold
text=Weight 2
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1054:9
[weight3_label]
type=text
x=60
y=54
width=80
height=52
xmode=abs_right
layer=balances
textfont=cinzel_13pt_bold
text=Weight 3
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1054:10
[weight4_label]
type=text
x=60
y=108
width=80
height=52
xmode=abs_right
layer=balances
textfont=cinzel_13pt_bold
text=Weight 4
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1054:11
[weight5_label]
type=text
x=60
y=162
width=80
height=52
xmode=abs_right
layer=balances
textfont=cinzel_13pt_bold
text=Weight 5
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1054:12
[weight6_label]
type=text
x=60
y=216
width=80
height=52
xmode=abs_right
layer=balances
textfont=cinzel_13pt_bold
text=Weight 6
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 1)

// 1054:13
[weight2]
type=model
width=59
height=51
xmode=abs_right
layer=balances
model=vkq3_storeroom_block_puzzle_w2
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1150
transmitop1=yes
op1=Place

// 1054:14
[weight3]
type=model
y=54
width=59
height=51
xmode=abs_right
layer=balances
model=vkq3_storeroom_block_puzzle_w3
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1150
transmitop1=yes
op1=Place

// 1054:15
[weight4]
type=model
y=108
width=59
height=51
xmode=abs_right
layer=balances
model=vkq3_storeroom_block_puzzle_w4
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1150
transmitop1=yes
op1=Place

// 1054:16
[weight5]
type=model
y=162
width=59
height=51
xmode=abs_right
layer=balances
model=vkq3_storeroom_block_puzzle_w5
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1150
transmitop1=yes
op1=Place

// 1054:17
[weight6]
type=model
y=216
width=59
height=51
xmode=abs_right
layer=balances
model=vkq3_storeroom_block_puzzle_w6
modelorigin_x=0
modelorigin_y=0
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1150
transmitop1=yes
op1=Place

// 1054:18
[backdrop_model]
type=model
x=2
y=2
width=333
height=233
layer=balances
model=vkq3_storeroom_block_puzzle_background
modelorigin_x=0
modelorigin_y=1
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1200

// 1054:19
[block1a]
type=model
x=17
y=16
width=75
height=67
layer=balances
model=null
modelorigin_x=0
modelorigin_y=4
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1200
transmitop2=yes
opbase=block
op2=Reset

// 1054:20
[block1b]
type=model
x=79
y=16
width=75
height=67
layer=balances
model=null
modelorigin_x=0
modelorigin_y=4
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1200
transmitop2=yes
opbase=block
op2=Reset

// 1054:21
[block1c]
type=model
x=182
y=16
width=75
height=67
layer=balances
model=null
modelorigin_x=0
modelorigin_y=4
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1200
transmitop2=yes
opbase=block
op2=Reset

// 1054:22
[block1d]
type=model
x=245
y=16
width=75
height=67
layer=balances
model=null
modelorigin_x=0
modelorigin_y=4
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1200
transmitop2=yes
opbase=block
op2=Reset

// 1054:23
[block2a]
type=model
x=241
y=148
width=75
height=67
layer=balances
model=null
modelorigin_x=0
modelorigin_y=4
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1200
transmitop2=yes
opbase=block
op2=Reset

// 1054:24
[block2b]
type=model
x=167
y=148
width=75
height=67
layer=balances
model=null
modelorigin_x=0
modelorigin_y=4
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1200
transmitop2=yes
opbase=block
op2=Reset

// 1054:25
[block2c]
type=model
x=95
y=148
width=75
height=67
layer=balances
model=null
modelorigin_x=0
modelorigin_y=4
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1200
transmitop2=yes
opbase=block
op2=Reset

// 1054:26
[block2d]
type=model
x=21
y=148
width=75
height=67
layer=balances
model=null
modelorigin_x=0
modelorigin_y=4
modelangle_x=512
modelangle_y=512
modelangle_z=0
modelzoom=1200
transmitop2=yes
opbase=block
op2=Reset

// 1054:27
[1a_select]
type=layer
x=24
y=27
width=60
height=52
layer=balances
transmitop1=yes
opbase=slot
op1=Select
opcursor0=cursor_use

// 1054:28
[1b_select]
type=layer
x=86
y=27
width=60
height=52
layer=balances
transmitop1=yes
opbase=slot
op1=Select
opcursor0=cursor_use

// 1054:29
[1c_select]
type=layer
x=190
y=27
width=60
height=52
layer=balances
transmitop1=yes
opbase=slot
op1=Select
opcursor0=cursor_use

// 1054:30
[1d_select]
type=layer
x=252
y=27
width=60
height=52
layer=balances
transmitop1=yes
opbase=slot
op1=Select
opcursor0=cursor_use

// 1054:31
[2a_select]
type=layer
x=248
y=159
width=60
height=52
layer=balances
transmitop1=yes
opbase=slot
op1=Select
opcursor0=cursor_use

// 1054:32
[2b_select]
type=layer
x=174
y=159
width=60
height=52
layer=balances
transmitop1=yes
opbase=slot
op1=Select
opcursor0=cursor_use

// 1054:33
[2c_select]
type=layer
x=102
y=159
width=60
height=52
layer=balances
transmitop1=yes
opbase=slot
op1=Select
opcursor0=cursor_use

// 1054:34
[2d_select]
type=layer
x=28
y=159
width=60
height=52
layer=balances
transmitop1=yes
opbase=slot
op1=Select
opcursor0=cursor_use

// 1054:35
[border1a]
type=rectangle
x=26
y=29
width=57
height=49
layer=balances
hide=yes
colour=0xbf7f23

// 1054:36
[border1b]
type=rectangle
x=88
y=29
width=57
height=49
layer=balances
hide=yes
colour=0xbf7f23

// 1054:37
[border1c]
type=rectangle
x=191
y=28
width=57
height=50
layer=balances
hide=yes
colour=0xbf7f23

// 1054:38
[border1d]
type=rectangle
x=253
y=28
width=58
height=50
layer=balances
hide=yes
colour=0xbf7f23

// 1054:39
[border2a]
type=rectangle
x=249
y=160
width=58
height=50
layer=balances
hide=yes
colour=0xbf7f23

// 1054:40
[border2b]
type=rectangle
x=176
y=160
width=57
height=50
layer=balances
hide=yes
colour=0xbf7f23

// 1054:41
[border2c]
type=rectangle
x=103
y=160
width=57
height=50
layer=balances
hide=yes
colour=0xbf7f23

// 1054:42
[border2d]
type=rectangle
x=29
y=160
width=58
height=50
layer=balances
hide=yes
colour=0xbf7f23

// 1054:43
[instructions_2]
type=text
y=65
width=20
height=43
widthmode=minus
xmode=abs_centre
layer=background_info
textfont=museo_sans_11pt_regular
text=You may freely overwrite weights in a slot by simply selecting another.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1054:44
[instructions_3]
type=text
y=112
width=20
height=50
widthmode=minus
xmode=abs_centre
layer=background_info
textfont=museo_sans_11pt_regular
text=To return a piece from the pivot, right-click on it and select "Reset", or "Select" to pick it up again.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1054:45
[instructions_4]
type=text
y=163
width=20
height=28
widthmode=minus
xmode=abs_centre
layer=background_info
textfont=museo_sans_11pt_regular
text=The 'Reset'' button clears the grid.
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 3)

// 1054:46
[modal_dialog_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1054:47
[modal_dialog_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=modal_dialog_window

// 1054:48
[modal_dialog_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=modal_dialog_window

// 1054:49
[modal_dialog_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=modal_dialog_window
transmitop1=yes
op1=Close
onop=closebutton_click

