// 81:0
[vm_level_basement_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window_content
transmitop10=yes
op10= 

// 81:1
[com_1]
type=rectangle
x=101
y=8
width=294
height=67
layer=vm_level_basement_layer
colour=0x6b6a6a
fill=yes

// 81:2
[com_2]
type=rectangle
x=170
y=11
width=153
height=113
layer=vm_level_basement_layer
colour=0x6b6a6a
fill=yes

// 81:3
[com_3]
type=rectangle
x=54
y=80
width=109
height=171
layer=vm_level_basement_layer
colour=0x6b6a6a
fill=yes

// 81:4
[com_4]
type=rectangle
x=333
y=79
width=109
height=171
layer=vm_level_basement_layer
colour=0x6b6a6a
fill=yes

// 81:5
[com_5]
type=rectangle
x=76
y=129
width=132
height=71
layer=vm_level_basement_layer
colour=0x6b6a6a
fill=yes

// 81:6
[com_6]
type=rectangle
x=288
y=130
width=132
height=71
layer=vm_level_basement_layer
colour=0x6b6a6a
fill=yes

// 81:7
[com_7]
type=rectangle
x=171
y=207
width=152
height=73
layer=vm_level_basement_layer
colour=0x6b6a6a
fill=yes

// 81:8
[com_8]
type=rectangle
x=150
y=257
width=192
height=62
layer=vm_level_basement_layer
colour=0x6b6a6a
fill=yes

// 81:9
[bespoke_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(vm_map_basement:bespoke_window_background, vm_map_basement:bespoke_window_border, vm_map_basement:bespoke_window_content, vm_map_basement:bespoke_window_close, "", 21259, string_1007)

// 81:10
[vm_museum_map_level_basement]
type=model
x=50
y=8
width=395
height=316
layer=vm_level_basement_layer
model=vm_museum_map_basement
modelorigin_x=0
modelorigin_y=39
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=1039
transmitop10=yes
op10= 

// 81:11
[vm_map_terror_bird]
type=model
x=185
y=260
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Terror Bird display", event_com, event_comsubid)

// 81:12
[vm_map_kalphite_queen]
type=model
x=278
y=260
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Kalphite Queen display", event_com, event_comsubid)

// 81:13
[vm_map_mole]
type=model
x=64
y=197
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Mole display", event_com, event_comsubid)

// 81:14
[vm_map_penguin]
type=model
x=119
y=197
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Penguin display", event_com, event_comsubid)

// 81:15
[vm_map_camel]
type=model
x=64
y=90
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Camel display", event_com, event_comsubid)

// 81:16
[vm_map_leech]
type=model
x=119
y=90
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Leech display", event_com, event_comsubid)

// 81:17
[vm_map_monkey]
type=model
x=341
y=197
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Monkey display", event_com, event_comsubid)

// 81:18
[vm_map_seaslug]
type=model
x=396
y=197
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Seaslug display", event_com, event_comsubid)

// 81:19
[vm_map_snail]
type=model
x=341
y=90
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Snail display", event_com, event_comsubid)

// 81:20
[vm_map_snake]
type=model
x=396
y=90
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Snake display", event_com, event_comsubid)

// 81:21
[vm_map_lizard]
type=model
x=115
y=20
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Lizard display", event_com, event_comsubid)

// 81:22
[vm_map_battle_tortoise]
type=model
x=188
y=20
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Battle Tortoise display", event_com, event_comsubid)

// 81:23
[vm_map_dragon]
type=model
x=279
y=20
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Dragon display", event_com, event_comsubid)

// 81:24
[vm_map_battle_wyvern]
type=model
x=347
y=20
width=35
height=44
layer=vm_level_basement_layer
model=vm_map_displaycase
modelorigin_x=0
modelorigin_y=-1
modelangle_x=80
modelangle_y=1807
modelangle_z=0
modelzoom=2660
transmitop10=yes
op10= 
onmouserepeat=script8799("Wyvern display", event_com, event_comsubid)

// 81:25
[levelup_button]
type=layer
x=5
y=5
width=120
height=27
xmode=abs_right
ymode=abs_bottom
layer=vm_level_basement_layer
onload=script13968(vm_map_basement:levelup_build, vm_map_basement:levelup_click, rs3tli_positive_button, "Level Up")

// 81:26
[basement_level_up_1_1]
type=text
x=204
y=139
width=91
height=49
layer=vm_level_basement_layer
textfont=museo_sans_13pt_bold
text=Stairs to<br>Dig Site<br>exhibit
textlineheight=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
transmitop1=yes
transmitop10=yes
op1=Stairs to Dig Site exhibit
op10= 
onload=script10496(event_com, event_comsubid, 1)

// 81:27
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 81:28
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 81:29
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 81:30
[bespoke_window_close]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 81:31
[levelup_build]
type=layer
widthmode=minus
heightmode=minus
layer=levelup_button

// 81:32
[levelup_click]
type=layer
widthmode=minus
heightmode=minus
layer=levelup_button
transmitop1=yes
op1=Select
opcursor0=cursor_use

