// 7:0
[vos_weekend]
type=layer
width=240
height=45
transmitop1=yes
op1=Information
opcursor0=cursor_info

// 7:1
[active_voice_layer]
type=layer
x=15
width=50
height=45
ymode=abs_centre
layer=vos_weekend

// 7:2
[active_voice_name]
type=text
width=80
heightmode=minus
ymode=abs_bottom
layer=vos_weekend
textfont=museo_sans_13pt_bold
text=Gathering
textalignh=1
textalignv=2
textshadow=yes

// 7:3
[active_voice_graphic]
type=graphic
width=50
height=45
xmode=abs_centre
ymode=abs_centre
layer=active_voice_layer
graphic=icon_seren_artisan_trh158
colour=0xffffff
clickmask=no

// 7:4
[active_voice_timer_layer]
type=layer
width=160
heightmode=minus
xmode=abs_right
layer=vos_weekend

// 7:5
[active_voice_countdown]
type=text
widthmode=minus
heightmode=minus
layer=active_voice_timer_layer
textfont=museo_sans_21pt_bold
text=00:00:00
textalignv=1
textshadow=yes

