// 750:0
[anti_clickthrough_layer]
type=layer
width=742
height=405
xmode=abs_centre
ymode=abs_centre
layer=main
noclickthrough=yes

// 750:1
[normal_1]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_1
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:2
[main]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 750:3
[com_3]
type=text
x=265
y=-63
width=140
height=15
xmode=abs_centre
ymode=abs_centre
layer=main
textfont=museo_sans_11pt_regular
text=City
colour=0x411800

// 750:4
[com_4]
type=text
x=265
y=-31
width=140
height=15
xmode=abs_centre
ymode=abs_centre
layer=main
textfont=museo_sans_11pt_regular
text=Neutral site
colour=0x411800

// 750:5
[com_5]
type=text
x=265
y=-1
width=140
height=15
xmode=abs_centre
ymode=abs_centre
layer=main
textfont=museo_sans_11pt_regular
text=Bandosian site
colour=0x411800

// 750:6
[com_6]
type=text
x=265
y=29
width=140
height=15
xmode=abs_centre
ymode=abs_centre
layer=main
textfont=museo_sans_11pt_regular
text=Armadylean site
colour=0x411800

// 750:7
[com_7]
type=text
x=265
y=65
width=140
height=15
xmode=abs_centre
ymode=abs_centre
layer=main
textfont=museo_sans_11pt_regular
text=Convoy present
colour=0x411800

// 750:8
[com_8]
type=text
x=-118
y=-140
width=69
height=15
xmode=abs_centre
ymode=abs_centre
layer=main
textfont=museo_sans_11pt_regular
text=Edgeville
textalignh=1
textalignv=1
colour=0x411800

// 750:9
[com_9]
type=text
x=6
y=-101
width=69
height=15
xmode=abs_centre
ymode=abs_centre
layer=main
textfont=museo_sans_11pt_regular
text=Varrock
textalignh=1
textalignv=1
colour=0x411800

// 750:10
[com_10]
type=text
x=-176
y=-53
width=69
height=30
xmode=abs_centre
ymode=abs_centre
layer=main
textfont=museo_sans_11pt_regular_multiline
text=Barbarian Village
textalignh=1
textalignv=1
colour=0x411800

// 750:11
[com_11]
type=text
x=-277
y=23
width=69
height=15
xmode=abs_centre
ymode=abs_centre
layer=main
textfont=museo_sans_11pt_regular
text=Falador
textalignh=1
textalignv=1
colour=0x411800

// 750:12
[com_12]
type=text
x=63
y=165
width=69
height=15
xmode=abs_centre
ymode=abs_centre
layer=main
textfont=museo_sans_11pt_regular
text=Lumbridge
textalignh=1
textalignv=1
colour=0x411800

// 750:13
[com_13]
type=text
x=-113
y=39
width=69
height=30
xmode=abs_centre
ymode=abs_centre
layer=main
textfont=museo_sans_11pt_regular_multiline
text=Draynor Manor
textalignh=1
textalignv=1
colour=0x411800

// 750:14
[com_14]
type=text
x=-81
y=129
width=69
height=30
xmode=abs_centre
ymode=abs_centre
layer=main
textfont=museo_sans_11pt_regular_multiline
text=Draynor Village
textalignh=1
textalignv=1
colour=0x411800

// 750:15
[node_1]
type=layer
x=-139
y=-160
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_1, war_map:over_1, 1, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_1)
onmouseleave=mtxjul17_beach_read_out(war_map:over_1)
onvartransmit=script9520(war_map:normal_1, war_map:over_1, 1, event_com)
onvartransmitlist=6awe2_war_map_var_1

// 750:16
[node_2]
type=layer
x=-279
y=-103
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_2, war_map:over_2, 2, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_2)
onmouseleave=mtxjul17_beach_read_out(war_map:over_2)
onvartransmit=script9520(war_map:normal_2, war_map:over_2, 2, event_com)
onvartransmitlist=6awe2_war_map_var_1

// 750:17
[node_3]
type=layer
x=-240
y=-52
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_3, war_map:over_3, 3, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_3)
onmouseleave=mtxjul17_beach_read_out(war_map:over_3)
onvartransmit=script9520(war_map:normal_3, war_map:over_3, 3, event_com)
onvartransmitlist=6awe2_war_map_var_1

// 750:18
[node_4]
type=layer
x=-182
y=-76
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_4, war_map:over_4, 4, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_4)
onmouseleave=mtxjul17_beach_read_out(war_map:over_4)
onvartransmit=script9520(war_map:normal_4, war_map:over_4, 4, event_com)
onvartransmitlist=6awe2_war_map_var_1

// 750:19
[node_5]
type=layer
x=-86
y=-89
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_5, war_map:over_5, 5, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_5)
onmouseleave=mtxjul17_beach_read_out(war_map:over_5)
onvartransmit=script9520(war_map:normal_5, war_map:over_5, 5, event_com)
onvartransmitlist=6awe2_war_map_var_1

// 750:20
[node_6]
type=layer
x=15
y=-73
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_6, war_map:over_6, 6, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_6)
onmouseleave=mtxjul17_beach_read_out(war_map:over_6)
onvartransmit=script9520(war_map:normal_6, war_map:over_6, 6, event_com)
onvartransmitlist=6awe2_war_map_var_1

// 750:21
[node_7]
type=layer
x=-125
y=-35
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_7, war_map:over_7, 7, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_7)
onmouseleave=mtxjul17_beach_read_out(war_map:over_7)
onvartransmit=script9520(war_map:normal_7, war_map:over_7, 7, event_com)
onvartransmitlist=6awe2_war_map_var_2

// 750:22
[node_8]
type=layer
x=-41
y=-22
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_8, war_map:over_8, 8, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_8)
onmouseleave=mtxjul17_beach_read_out(war_map:over_8)
onvartransmit=script9520(war_map:normal_8, war_map:over_8, 8, event_com)
onvartransmitlist=6awe2_war_map_var_2

// 750:23
[node_9]
type=layer
x=-240
y=7
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_9, war_map:over_9, 9, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_9)
onmouseleave=mtxjul17_beach_read_out(war_map:over_9)
onvartransmit=script9520(war_map:normal_9, war_map:over_9, 9, event_com)
onvartransmitlist=6awe2_war_map_var_2

// 750:24
[node_10]
type=layer
x=-157
y=15
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_10, war_map:over_10, 10, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_10)
onmouseleave=mtxjul17_beach_read_out(war_map:over_10)
onvartransmit=script9520(war_map:normal_10, war_map:over_10, 10, event_com)
onvartransmitlist=6awe2_war_map_var_2

// 750:25
[node_11]
type=layer
x=-73
y=9
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_11, war_map:over_11, 11, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_11)
onmouseleave=mtxjul17_beach_read_out(war_map:over_11)
onvartransmit=script9520(war_map:normal_11, war_map:over_11, 11, event_com)
onvartransmitlist=6awe2_war_map_var_2

// 750:26
[node_12]
type=layer
x=65
y=-2
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_12, war_map:over_12, 12, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_12)
onmouseleave=mtxjul17_beach_read_out(war_map:over_12)
onvartransmit=script9520(war_map:normal_12, war_map:over_12, 12, event_com)
onvartransmitlist=6awe2_war_map_var_2

// 750:27
[node_13]
type=layer
x=-187
y=57
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_13, war_map:over_13, 13, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_13)
onmouseleave=mtxjul17_beach_read_out(war_map:over_13)
onvartransmit=script9520(war_map:normal_13, war_map:over_13, 13, event_com)
onvartransmitlist=6awe2_war_map_var_3

// 750:28
[node_14]
type=layer
x=-108
y=66
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_14, war_map:over_14, 14, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_14)
onmouseleave=mtxjul17_beach_read_out(war_map:over_14)
onvartransmit=script9520(war_map:normal_14, war_map:over_14, 14, event_com)
onvartransmitlist=6awe2_war_map_var_3

// 750:29
[node_15]
type=layer
x=-14
y=51
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_15, war_map:over_15, 15, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_15)
onmouseleave=mtxjul17_beach_read_out(war_map:over_15)
onvartransmit=script9520(war_map:normal_15, war_map:over_15, 15, event_com)
onvartransmitlist=6awe2_war_map_var_3

// 750:30
[node_16]
type=layer
x=-198
y=116
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_16, war_map:over_16, 16, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_16)
onmouseleave=mtxjul17_beach_read_out(war_map:over_16)
onvartransmit=script9520(war_map:normal_16, war_map:over_16, 16, event_com)
onvartransmitlist=6awe2_war_map_var_3

// 750:31
[node_17]
type=layer
x=-129
y=131
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_17, war_map:over_17, 17, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_17)
onmouseleave=mtxjul17_beach_read_out(war_map:over_17)
onvartransmit=script9520(war_map:normal_17, war_map:over_17, 17, event_com)
onvartransmitlist=6awe2_war_map_var_3

// 750:32
[node_18]
type=layer
x=-37
y=142
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Teleport
onload=script9520(war_map:normal_18, war_map:over_18, 18, event_com)
onmouseover=mtxjul17_beach_read_in(war_map:over_18)
onmouseleave=mtxjul17_beach_read_out(war_map:over_18)
onvartransmit=script9520(war_map:normal_18, war_map:over_18, 18, event_com)
onvartransmitlist=6awe2_war_map_var_3

// 750:33
[tooltip_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main

// 750:34
[button_full]
type=layer
x=259
y=158
width=120
height=35
xmode=abs_centre
ymode=abs_centre
layer=main
hide=yes
transmitop1=yes
op1=Confirm
onmouseover=script9522
onmouseleave=script9523

// 750:35
[button_1]
type=graphic
width=50
height=27
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_full
graphic="rs3_btn_main_positive,1"
colour=0xffffff
clickmask=no

// 750:36
[button_2]
type=graphic
width=25
height=27
xmode=abs_right
ymode=abs_centre
layer=button_full
graphic="rs3_btn_main_positive,2"
colour=0xffffff
clickmask=no

// 750:37
[button_3]
type=graphic
width=25
height=27
ymode=abs_centre
layer=button_full
graphic="rs3_btn_main_positive,0"
colour=0xffffff
clickmask=no

// 750:38
[com_38]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=button_full
textfont=cinzel_13pt_bold
text=Take Copy
textalignh=1
textalignv=1
colour=0x000000

// 750:39
[over_1]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_1
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:40
[close]
type=layer
x=344
y=-176
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=main
transmitop1=yes
op1=Close
onmouseover=mtxjul17_beach_read_in(war_map:fade)
onmouseleave=mtxjul17_beach_read_out(war_map:fade)

// 750:41
[com_41]
type=graphic
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=close
graphic="aif_close_1,0"
colour=0xffffff
clickmask=no

// 750:42
[fade]
type=graphic
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=close
graphic="aif_close_1,1"
trans=255
colour=0xffffff
clickmask=no

// 750:43
[normal_2]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_2
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:44
[over_2]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_2
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:45
[normal_3]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_3
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:46
[over_3]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_3
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:47
[normal_4]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_4
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:48
[over_4]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_4
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:49
[normal_5]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_5
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:50
[over_5]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_5
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:51
[normal_6]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_6
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:52
[over_6]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_6
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:53
[normal_7]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_7
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:54
[over_7]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_7
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:55
[normal_8]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_8
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:56
[over_8]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_8
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:57
[normal_9]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_9
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:58
[over_9]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_9
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:59
[normal_10]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_10
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:60
[over_10]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_10
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:61
[normal_11]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_11
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:62
[over_11]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_11
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:63
[normal_12]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_12
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:64
[over_12]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_12
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:65
[normal_13]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_13
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:66
[over_13]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_13
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:67
[normal_14]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_14
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:68
[over_14]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_14
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:69
[normal_15]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_15
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:70
[over_15]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_15
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:71
[normal_16]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_16
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:72
[over_16]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_16
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:73
[normal_17]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_17
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:74
[over_17]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_17
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

// 750:75
[normal_18]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_18
graphic="aif_6awe2_tactical_map_nodes,2"
colour=0xffffff
clickmask=no

// 750:76
[over_18]
type=graphic
width=26
height=26
xmode=abs_centre
ymode=abs_centre
layer=node_18
graphic="aif_6awe2_tactical_map_nodes,8"
trans=255
colour=0xffffff
clickmask=no

