// 902:0
[sawmill_workbench_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(wc_update09_sawmill_workbench:sawmill_workbench_window_background, wc_update09_sawmill_workbench:sawmill_workbench_window_border, wc_update09_sawmill_workbench:sawmill_workbench_window_content, wc_update09_sawmill_workbench:sawmill_workbench_window_close_button, "Which cuts would you like to make?", 21218, string_1007)

// 902:1
[sawmill_workbench_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sawmill_workbench_window

// 902:2
[sawmill_workbench_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sawmill_workbench_window

// 902:3
[curve_cut_button_layer]
type=layer
x=10
y=10
width=268
height=167
widthmode=minus
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=sawmill_workbench_window_content

// 902:4
[tandgcut_button_layer]
type=layer
x=10
y=10
width=268
height=167
widthmode=minus
heightmode=minus
ymode=abs_bottom
layer=sawmill_workbench_window_content

// 902:5
[diagonal_cut_button_layer]
type=layer
x=10
y=10
width=268
height=167
widthmode=minus
heightmode=minus
xmode=abs_right
layer=sawmill_workbench_window_content

// 902:6
[straight_cut_button_layer]
type=layer
x=10
y=10
width=268
height=167
widthmode=minus
heightmode=minus
layer=sawmill_workbench_window_content

// 902:7
[sawmill_workbench_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=sawmill_workbench_window

// 902:8
[sawmill_workbench_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=sawmill_workbench_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 902:9
[straight_cut_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=straight_cut_button_layer
onload=script7699(event_com)

// 902:10
[straight_cut_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=straight_cut_button_layer
onload=script7728(event_com)

// 902:11
[straight_cut_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=straight_cut_button_layer
onload=script7729(event_com)

// 902:12
[straight_cut_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=straight_cut_button_layer
hide=yes
onload=script8225(event_com)

// 902:13
[straight_cut_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=straight_cut_button_layer
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
op1=Make 1
op2=Make 5
op3=Make 10
op4=Make X
op5=Make All
onload=script4213(event_com)

// 902:14
[straight_cut_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=straight_cut_button_layer
hide=yes
onload=script8228(event_com)

// 902:15
[straight_cut_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=straight_cut_button_layer

// 902:16
[straight_cut_button_text_graphic]
type=graphic
x=10
width=32
height=32
ymode=abs_centre
layer=straight_cut_button_text_layer
graphic="km_woodicons,0"
colour=0xffffff
clickmask=no

// 902:17
[straight_cut_button_text_title]
type=text
x=27
y=25
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=straight_cut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Straight Cut
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 902:18
[straight_cut_button_text_difficulty]
type=text
x=27
y=45
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=straight_cut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Level of Difficulty: Simple
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 902:19
[straight_cut_button_text_return_1]
type=text
x=27
y=65
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=straight_cut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=1x Short Plank
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 902:20
[straight_cut_button_text_return_2]
type=text
x=27
y=85
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=straight_cut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=1x Long Plank
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0

// 902:21
[diagonal_cut_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=diagonal_cut_button_layer
onload=script7699(event_com)

// 902:22
[diagonal_cut_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=diagonal_cut_button_layer
onload=script7728(event_com)

// 902:23
[diagonal_cut_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=diagonal_cut_button_layer
onload=script7729(event_com)

// 902:24
[diagonal_cut_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=diagonal_cut_button_layer
hide=yes
onload=script8225(event_com)

// 902:25
[diagonal_cut_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=diagonal_cut_button_layer
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
op1=Make 1
op2=Make 5
op3=Make 10
op4=Make X
op5=Make All
onload=script4213(event_com)

// 902:26
[diagonal_cut_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=diagonal_cut_button_layer
hide=yes
onload=script8228(event_com)

// 902:27
[diagonal_cut_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=diagonal_cut_button_layer

// 902:28
[com_28]
type=graphic
x=10
width=32
height=32
ymode=abs_centre
layer=diagonal_cut_button_text_layer
graphic="km_woodicons,2"
colour=0xffffff
clickmask=no

// 902:29
[diagonal_cut_button_text_title]
type=text
x=28
y=25
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=diagonal_cut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Diagonal Cut
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 902:30
[diagonal_cut_button_text_difficulty]
type=text
x=28
y=45
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=diagonal_cut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Level of Difficulty: Medium
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 902:31
[diagonal_cut_button_text_return]
type=text
x=28
y=65
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=diagonal_cut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=2x Diagonal-Cut Plank
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 902:32
[tandgcut_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tandgcut_button_layer
onload=script7699(event_com)

// 902:33
[tandgcut_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tandgcut_button_layer
onload=script7728(event_com)

// 902:34
[tandgcut_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tandgcut_button_layer
onload=script7729(event_com)

// 902:35
[tandgcut_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tandgcut_button_layer
hide=yes
onload=script8225(event_com)

// 902:36
[tandgcut_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=tandgcut_button_layer
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
op1=Make 1
op2=Make 5
op3=Make 10
op4=Make X
op5=Make All
onload=script4213(event_com)

// 902:37
[tandgcut_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tandgcut_button_layer
hide=yes
onload=script8228(event_com)

// 902:38
[tandgcut_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=tandgcut_button_layer

// 902:39
[com_39]
type=graphic
x=10
width=32
height=32
ymode=abs_centre
layer=tandgcut_button_text_layer
graphic="km_woodicons,3"
colour=0xffffff
clickmask=no

// 902:40
[tandgcut_button_text_title]
type=text
x=28
y=25
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=tandgcut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Tooth & Groove Cut
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 902:41
[tandgcut_button_text_difficulty]
type=text
x=28
y=45
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=tandgcut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Level of Difficulty: V. Hard
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 902:42
[tandgcut_button_text_return_1]
type=text
x=28
y=65
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=tandgcut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=1x Tooth-Cut Plank
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 902:43
[tandgcut_button_text_return_2]
type=text
x=28
y=85
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=tandgcut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=1x Groove-Cut Plank
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 902:44
[curve_cut_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=curve_cut_button_layer
onload=script7699(event_com)

// 902:45
[curve_cut_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=curve_cut_button_layer
onload=script7728(event_com)

// 902:46
[curve_cut_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=curve_cut_button_layer
onload=script7729(event_com)

// 902:47
[curve_cut_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=curve_cut_button_layer
hide=yes
onload=script8225(event_com)

// 902:48
[curve_cut_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=curve_cut_button_layer
transmitop1=yes
transmitop2=yes
transmitop3=yes
transmitop4=yes
transmitop5=yes
op1=Make 1
op2=Make 5
op3=Make 10
op4=Make X
op5=Make All
onload=script4213(event_com)

// 902:49
[curve_cut_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=curve_cut_button_layer
hide=yes
onload=script8228(event_com)

// 902:50
[curve_cut_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=curve_cut_button_layer

// 902:51
[com_51]
type=graphic
x=10
width=32
height=32
ymode=abs_centre
layer=curve_cut_button_text_layer
graphic="km_woodicons,1"
colour=0xffffff
clickmask=no

// 902:52
[curve_cut_button_text_title]
type=text
x=28
y=25
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=curve_cut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Curve Cut
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 902:53
[curve_cut_button_text_difficulty]
type=text
x=28
y=45
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=curve_cut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Level of Difficulty: Hard
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 902:54
[curve_cut_button_text_return]
type=text
x=28
y=65
width=68
height=20
widthmode=minus
xmode=abs_centre
layer=curve_cut_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=1 x Curved Plank
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

