// 766:0
[bespoke_window]
type=layer
y=10
width=130
height=127
onload=script8420(wc_update09_sawmill_overlay:bespoke_window_background, wc_update09_sawmill_overlay:bespoke_window_border, wc_update09_sawmill_overlay:bespoke_window_content, null, "", 21259, null)

// 766:1
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 766:2
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window
onload=script1477
onvartransmit=script1477
onvartransmitlist=wc_update09_varp1,wc_update09_varp2,wc_update09_varp3

// 766:3
[short_cut_layer]
type=layer
y=-39
width=20
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content

// 766:4
[com_4]
type=graphic
width=20
height=8
ymode=abs_centre
layer=short_cut_layer
graphic="km_woodiconssmall2,0"
colour=0xffffff
clickmask=no

// 766:5
[short_cut_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
layer=short_cut_layer
textfont=museo_sans_11pt_regular
text=100 / 100
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 766:6
[long_cut_layer]
type=layer
y=-23
width=20
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content

// 766:7
[com_7]
type=graphic
width=20
height=8
ymode=abs_centre
layer=long_cut_layer
graphic="km_woodiconssmall2,1"
colour=0xffffff
clickmask=no

// 766:8
[long_cut_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
layer=long_cut_layer
textfont=museo_sans_11pt_regular
text=100 / 100
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 766:9
[diagonal_cut_layer]
type=layer
y=-7
width=20
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content

// 766:10
[com_10]
type=graphic
width=20
height=8
ymode=abs_centre
layer=diagonal_cut_layer
graphic="km_woodiconssmall2,2"
colour=0xffffff
clickmask=no

// 766:11
[diagonal_cut_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
layer=diagonal_cut_layer
textfont=museo_sans_11pt_regular
text=100 / 100
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 766:12
[tooth_cut_layer]
type=layer
y=9
width=20
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content

// 766:13
[com_13]
type=graphic
width=20
height=8
ymode=abs_centre
layer=tooth_cut_layer
graphic="km_woodiconssmall2,3"
colour=0xffffff
clickmask=no

// 766:14
[tooth_cut_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
layer=tooth_cut_layer
textfont=museo_sans_11pt_regular
text=100 / 100
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 766:15
[groove_cut_layer]
type=layer
y=25
width=20
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content

// 766:16
[com_16]
type=graphic
width=20
height=8
ymode=abs_centre
layer=groove_cut_layer
graphic="km_woodiconssmall2,4"
colour=0xffffff
clickmask=no

// 766:17
[groove_cut_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
layer=groove_cut_layer
textfont=museo_sans_11pt_regular
text=100 / 100
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 766:18
[curved_cut_layer]
type=layer
y=41
width=20
height=16
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_content

// 766:19
[com_19]
type=graphic
width=20
height=8
ymode=abs_centre
layer=curved_cut_layer
graphic="km_woodiconssmall2,5"
colour=0xffffff
clickmask=no

// 766:20
[curved_cut_text]
type=text
width=20
widthmode=minus
heightmode=minus
xmode=abs_right
layer=curved_cut_layer
textfont=museo_sans_11pt_regular
text=100 / 100
textalignh=1
textalignv=1
textshadow=yes
colour=0x7592a0

// 766:21
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

