// 901:0
[normal_list]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=layer_1
textfont=museo_sans_11pt_regular
text=15 x Short Plank<br>15 x Long Plank<br>20 x Diagonal Plank<br>5 x Tooth Plank<br>8 x Groove Plank<br>5 x Curved Plank
textlineheight=14
textalignh=1
textshadow=yes
colour=0xff9900

// 901:1
[normal_hide]
type=rectangle
widthmode=minus
heightmode=minus
layer=layer_1
hide=yes
colour=0x6d6d6d
fill=yes
trans=128

// 901:2
[difficult_list]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=difficult_work_load_layer
textfont=museo_sans_11pt_regular
text=30 x Short Plank<br>45 x Long Plank<br>25 x Diagonal Plank<br>30 x Tooth Plank<br>30 x Groove Plank<br>15 x Curved Plank
textlineheight=14
textalignh=1
textshadow=yes
colour=0xff9900

// 901:3
[difficult_hide]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=difficult_work_load_layer
hide=yes
colour=0x6d6d6d
fill=yes
trans=128

// 901:4
[sawmill_normal_job_window]
type=layer
x=15
width=232
height=244
ymode=abs_centre
layer=sawmill_job_board_window_content
onload=script8420(wc_update09_sawmill_job_board:sawmill_normal_job_window_background, wc_update09_sawmill_job_board:sawmill_normal_job_window_border, wc_update09_sawmill_job_board:sawmill_normal_job_window_content, null, "Quick Jobs:", 21217, string_1007)

// 901:5
[sawmill_difficultl_job_window]
type=layer
x=15
width=223
height=242
xmode=abs_right
ymode=abs_centre
layer=sawmill_job_board_window_content
onload=script8420(wc_update09_sawmill_job_board:sawmill_difficultl_job_window_background, wc_update09_sawmill_job_board:sawmill_difficultl_job_window_border, wc_update09_sawmill_job_board:sawmill_difficultl_job_window_content, null, "Large Jobs:", 21217, string_1007)

// 901:6
[sawmill_job_board_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(wc_update09_sawmill_job_board:sawmill_job_board_window_background, wc_update09_sawmill_job_board:sawmill_job_board_window_border, wc_update09_sawmill_job_board:sawmill_job_board_window_content, wc_update09_sawmill_job_board:sawmill_job_board_window_close_button, "~ Sawmill Job Board ~", 21218, string_1007)

// 901:7
[sawmill_job_board_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sawmill_job_board_window

// 901:8
[sawmill_job_board_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sawmill_job_board_window
onload=script9759

// 901:9
[sawmill_job_board_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=sawmill_job_board_window

// 901:10
[sawmill_job_board_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=sawmill_job_board_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 901:11
[sawmill_normal_job_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sawmill_normal_job_window

// 901:12
[sawmill_normal_job_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sawmill_normal_job_window

// 901:13
[layer_1]
type=layer
y=10
width=21
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sawmill_normal_job_window_content

// 901:14
[accept_quick_job_layer]
type=layer
y=10
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=sawmill_normal_job_window_content

// 901:15
[sawmill_normal_job_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=sawmill_normal_job_window

// 901:16
[sawmill_difficultl_job_window_background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sawmill_difficultl_job_window

// 901:17
[sawmill_difficultl_job_window_content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sawmill_difficultl_job_window

// 901:18
[difficult_work_load_layer]
type=layer
y=10
width=21
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=sawmill_difficultl_job_window_content

// 901:19
[accept_difficult_job_layer]
type=layer
y=10
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=sawmill_difficultl_job_window_content

// 901:20
[sawmill_difficultl_job_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=sawmill_difficultl_job_window

// 901:21
[accept_quick_job_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_quick_job_layer
onload=script7041(event_com)

// 901:22
[accept_quick_job_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_quick_job_layer
onload=script7042(event_com)

// 901:23
[accept_quick_job_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_quick_job_layer
onload=script7044(event_com)

// 901:24
[accept_quick_job_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_quick_job_layer
hide=yes
onload=script7047(event_com)

// 901:25
[accept_quick_job_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=accept_quick_job_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 901:26
[accept_quick_job_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_quick_job_layer
hide=yes
onload=script7060(event_com)

// 901:27
[accept_quick_job_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_quick_job_layer

// 901:28
[accept_quick_job_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_quick_job_text_layer
textfont=cinzel_13pt_bold
text=Accept Job
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 901:29
[accept_difficult_job_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_difficult_job_layer
onload=script7041(event_com)

// 901:30
[accept_difficult_job_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_difficult_job_layer
onload=script7042(event_com)

// 901:31
[accept_difficult_job_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_difficult_job_layer
onload=script7044(event_com)

// 901:32
[accept_difficult_job_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_difficult_job_layer
hide=yes
onload=script7047(event_com)

// 901:33
[accept_difficult_job_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=accept_difficult_job_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 901:34
[accept_difficult_job_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_difficult_job_layer
hide=yes
onload=script7060(event_com)

// 901:35
[accept_difficult_job_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_difficult_job_layer

// 901:36
[accept_difficult_job_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept_difficult_job_text_layer
textfont=cinzel_13pt_bold
text=Accept Job
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

