// 1587:0
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(whop:mainmodal_window_background, whop:mainmodal_window_border, whop:mainmodal_window_content, whop:mainmodal_window_close_button, "World Select", 21218, string_1047)

// 1587:1
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1587:2
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1587:3
[switch_mode]
type=layer
y=5
height=30
widthmode=minus
layer=mainmodal_window_content
noclickthrough=yes

// 1587:4
[frozen_area]
type=layer
y=30
height=1
widthmode=minus
layer=mainmodal_window_content

// 1587:5
[frozen_build_area]
type=layer
y=4
height=1
widthmode=minus
heightmode=minus
layer=frozen_area

// 1587:6
[frozen_click_area]
type=layer
y=4
height=1
widthmode=minus
heightmode=minus
layer=frozen_area

// 1587:7
[title_seperator_1]
type=line
y=1
widthmode=minus
ymode=abs_bottom
layer=frozen_area
colour=0xffffff
onload=script10496(event_com, event_comsubid, 2)

// 1587:8
[scrolling_area]
type=layer
y=30
width=20
height=65
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
onload=script7414(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area)
onvartransmit=script7415(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area)
onvartransmitlist=whop_perm1

// 1587:9
[build_area]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_area

// 1587:10
[click_area]
type=layer
widthmode=minus
heightmode=minus
layer=scrolling_area

// 1587:11
[scrollbar]
type=layer
y=40
width=20
height=74
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content

// 1587:12
[static_panel]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content

// 1587:13
[header_area]
type=layer
height=35
widthmode=minus
heightmode=minus
layer=static_panel

// 1587:14
[title_seperator]
type=line
y=26
widthmode=minus
layer=header_area
colour=0xffffff
onload=script10496(event_com, event_comsubid, 2)

// 1587:15
[title_favourite]
type=layer
width=25
heightmode=minus
layer=header_area

// 1587:16
[title_favourite_seperator]
type=rectangle
y=1
width=2
height=32
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=title_favourite
colour=0x000000
fill=yes

// 1587:17
[title_world]
type=layer
x=30
width=70
heightmode=minus
layer=header_area

// 1587:18
[title_world_container]
type=layer
height=30
widthmode=minus
layer=title_world

// 1587:19
[com_19]
type=text
height=18
widthmode=minus
ymode=abs_centre
layer=title_world_container
textfont=museo_sans_13pt_regular
text=World
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6342(event_com, event_comsubid)
onop=script11020(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area, whop:graphic_world)

// 1587:20
[button_sort_world]
type=layer
x=2
width=15
height=15
xmode=abs_right
ymode=abs_centre
layer=title_world_container
onload=script10896(whop:build_world, whop:click_world, rs3tli_3x3_button)

// 1587:21
[title_world_seperator]
type=rectangle
y=1
width=2
height=32
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=title_world
colour=0x000000
fill=yes

// 1587:22
[build_world]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_world

// 1587:23
[click_world]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_world
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script11020(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area, whop:graphic_world)

// 1587:24
[graphic_world]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_world
onload=script11019(event_com)
onvarctransmit=script11019(event_com)
onvarctransmitlist=worldselect_1stsort,worldselect_2ndsort

// 1587:25
[title_players]
type=layer
x=105
width=70
heightmode=minus
layer=header_area

// 1587:26
[title_players_container]
type=layer
height=30
widthmode=minus
layer=title_players

// 1587:27
[button_sort_players]
type=layer
x=2
width=15
height=15
xmode=abs_right
ymode=abs_centre
layer=title_players_container
onload=script10896(whop:build_players, whop:click_players, rs3tli_3x3_button)

// 1587:28
[com_28]
type=text
height=18
widthmode=minus
ymode=abs_centre
layer=title_players_container
textfont=museo_sans_13pt_regular
text=Players
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6342(event_com, event_comsubid)
onop=script11020(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area, whop:graphic_players)

// 1587:29
[build_players]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_players

// 1587:30
[click_players]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_players
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script11020(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area, whop:graphic_players)

// 1587:31
[graphic_players]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_players
onload=script11019(event_com)
onvarctransmit=script11019(event_com)
onvarctransmitlist=worldselect_1stsort,worldselect_2ndsort

// 1587:32
[title_players_seperator]
type=rectangle
y=1
width=2
height=32
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=title_players
colour=0x000000
fill=yes

// 1587:33
[title_activity]
type=layer
x=180
width=225
heightmode=minus
layer=header_area

// 1587:34
[title_activity_container]
type=layer
height=30
widthmode=minus
layer=title_activity

// 1587:35
[button_sort_activity]
type=layer
x=2
width=15
height=15
xmode=abs_right
ymode=abs_centre
layer=title_activity_container
onload=script10896(whop:build_activity, whop:click_activity, rs3tli_3x3_button)

// 1587:36
[com_36]
type=text
height=18
widthmode=minus
ymode=abs_centre
layer=title_activity_container
textfont=museo_sans_13pt_regular
text=Activity
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6342(event_com, event_comsubid)
onop=script11020(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area, whop:graphic_activity)

// 1587:37
[build_activity]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_activity

// 1587:38
[click_activity]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_activity
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script11020(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area, whop:graphic_activity)

// 1587:39
[graphic_activity]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_activity
onload=script11019(event_com)
onvarctransmit=script11019(event_com)
onvarctransmitlist=worldselect_1stsort,worldselect_2ndsort

// 1587:40
[title_activity_seperator]
type=rectangle
y=1
width=2
height=32
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=title_activity
colour=0x000000
fill=yes

// 1587:41
[title_location]
type=layer
x=410
width=240
heightmode=minus
layer=header_area

// 1587:42
[title_location_container]
type=layer
height=30
widthmode=minus
layer=title_location

// 1587:43
[button_sort_location]
type=layer
x=2
width=15
height=15
xmode=abs_right
ymode=abs_centre
layer=title_location_container
onload=script10896(whop:build_location, whop:click_location, rs3tli_3x3_button)

// 1587:44
[com_44]
type=text
height=18
widthmode=minus
ymode=abs_centre
layer=title_location_container
textfont=museo_sans_13pt_regular
text=Location
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6342(event_com, event_comsubid)
onop=script11020(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area, whop:graphic_location)

// 1587:45
[build_location]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_location

// 1587:46
[click_location]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_location
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script11020(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area, whop:graphic_location)

// 1587:47
[graphic_location]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_location
onload=script11019(event_com)
onvarctransmit=script11019(event_com)
onvarctransmitlist=worldselect_1stsort,worldselect_2ndsort

// 1587:48
[title_location_seperator]
type=rectangle
y=1
width=2
height=32
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=title_location
colour=0x000000
fill=yes

// 1587:49
[title_type]
type=layer
x=655
width=65
heightmode=minus
layer=header_area

// 1587:50
[title_type_container]
type=layer
height=30
widthmode=minus
layer=title_type

// 1587:51
[button_sort_type]
type=layer
x=2
width=15
height=15
xmode=abs_right
ymode=abs_centre
layer=title_type_container
onload=script10896(whop:build_type, whop:click_type, rs3tli_3x3_button)

// 1587:52
[com_52]
type=text
height=18
widthmode=minus
ymode=abs_centre
layer=title_type_container
textfont=museo_sans_13pt_regular
text=Type
textalignv=1
textshadow=yes
colour=0xaed0e0
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script6342(event_com, event_comsubid)
onop=script11020(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area, whop:graphic_type)

// 1587:53
[build_type]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_type

// 1587:54
[click_type]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_type
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script11020(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area, whop:graphic_type)

// 1587:55
[graphic_type]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_type
onload=script11019(event_com)
onvarctransmit=script11019(event_com)
onvarctransmitlist=worldselect_1stsort,worldselect_2ndsort

// 1587:56
[title_type_seperator]
type=rectangle
y=1
width=2
height=32
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=title_type
colour=0x000000
fill=yes

// 1587:57
[title_loot]
type=layer
x=725
width=41
heightmode=minus
layer=header_area

// 1587:58
[title_loot_container]
type=layer
height=30
widthmode=minus
layer=title_loot

// 1587:59
[button_sort_loot]
type=layer
x=2
width=15
height=15
xmode=abs_right
ymode=abs_centre
layer=title_loot_container
onload=script10896(whop:build_loot, whop:click_loot, rs3tli_3x3_button)

// 1587:60
[com_60]
type=graphic
width=20
height=20
ymode=abs_centre
layer=title_loot_container
graphic="rs3_icon_lobby_loot_share,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script11020(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area, whop:graphic_loot)

// 1587:61
[build_loot]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_loot

// 1587:62
[click_loot]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_loot
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script11020(whop:scrolling_area, whop:build_area, whop:click_area, whop:scrollbar, whop:frozen_area, whop:frozen_build_area, whop:frozen_click_area, whop:hidden_area, whop:graphic_loot)

// 1587:63
[graphic_loot]
type=layer
widthmode=minus
heightmode=minus
layer=button_sort_loot
onload=script11019(event_com)
onvarctransmit=script11019(event_com)
onvarctransmitlist=worldselect_1stsort,worldselect_2ndsort

// 1587:64
[title_loot_seperator]
type=rectangle
y=1
width=2
height=32
heightmode=minus
xmode=abs_right
ymode=abs_bottom
layer=title_loot
colour=0x000000
fill=yes

// 1587:65
[footer_seperator]
type=line
y=1
widthmode=minus
ymode=abs_bottom
layer=header_area
colour=0xffffff
onload=script10496(event_com, event_comsubid, 2)

// 1587:66
[refresh_button]
type=layer
x=10
y=5
width=110
height=25
xmode=abs_right
ymode=abs_bottom
layer=static_panel
onload=script6233(whop:refresh_build, whop:refresh_click, rs3tli_3x3_button, "Refresh")

// 1587:67
[smarthop_quietworld_button]
type=button
x=130
y=5
width=110
height=25
xmode=abs_right
ymode=abs_bottom
layer=static_panel
noclickthrough=yes
enabled=no
sprite.graphic=button_cornered_neutral
text.textfont=museo_sans_11pt_regular
text.text=Auto: Quiet world
stylesheet=button_cornered_neutral
transmitop1=yes
op1=Quiet world
onload=stylesheet_set(event_com)
onbuttonpressed=script3087(true, whop:hidden_area)

// 1587:68
[refresh_build]
type=layer
widthmode=minus
heightmode=minus
layer=refresh_button

// 1587:69
[refresh_click]
type=layer
widthmode=minus
heightmode=minus
layer=refresh_button
transmitop1=yes
op1=Refresh

// 1587:70
[info_holder_active]
type=layer
x=10
y=5
width=110
height=25
ymode=abs_bottom
layer=static_panel
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1587:71
[current_world]
type=text
x=10
y=5
width=110
height=25
ymode=abs_bottom
layer=static_panel
textfont=museo_sans_13pt_regular
text=World 123
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script11018(event_com)

// 1587:72
[panel_holder]
type=layer
y=5
width=8192
height=280
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=static_panel
onload=script11016(whop:panel_click_area, whop:panel_build_area, whop:panel_button_active, whop:panel_holder, whop:panel_moving_area, whop:panel_button, whop:panel_content, whop:panel_scrollbar, whop:left_arrow, whop:right_arrow)
onvartransmit=script6309(whop:panel_click_area, whop:panel_build_area, whop:panel_button_active, whop:panel_holder, whop:panel_moving_area, whop:panel_button, whop:panel_content, whop:panel_scrollbar, whop:left_arrow, whop:right_arrow)
onvartransmitlist=whop_perm1

// 1587:73
[panel_moving_area]
type=layer
height=25
widthmode=minus
heightmode=minus
layer=panel_holder
noclickthrough=yes

// 1587:74
[panel_background]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=panel_moving_area
onload=script10475(event_com)

// 1587:75
[panel_content]
type=layer
x=5
width=25
widthmode=minus
heightmode=minus
layer=panel_moving_area

// 1587:76
[panel_build_area]
type=layer
widthmode=minus
heightmode=minus
layer=panel_content

// 1587:77
[panel_click_area]
type=layer
widthmode=minus
heightmode=minus
layer=panel_content

// 1587:78
[panel_scrollbar]
type=layer
width=20
heightmode=minus
xmode=abs_right
layer=panel_moving_area

// 1587:79
[panel_button]
type=layer
width=285
height=25
xmode=abs_centre
ymode=abs_bottom
layer=panel_holder

// 1587:80
[panel_button_on]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=panel_button
onload=script7699(event_com)

// 1587:81
[panel_button_over]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=panel_button
onload=script7728(event_com)

// 1587:82
[panel_button_hit]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=panel_button
onload=script7729(event_com)

// 1587:83
[panel_button_selected]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=panel_button
hide=yes
onload=script8225(event_com)

// 1587:84
[panel_button_active]
type=layer
widthmode=minus
heightmode=minus
layer=panel_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script10457(whop:panel_holder, whop:panel_moving_area, whop:panel_button, whop:panel_content, whop:panel_scrollbar, whop:left_arrow, whop:right_arrow)

// 1587:85
[panel_button_text]
type=text
width=34
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=panel_button
textfont=museo_sans_11pt_regular_multiline
text=Settings
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1587:86
[left_arrow]
type=graphic
x=2
width=12
height=12
ymode=abs_centre
layer=panel_button
graphic="aif_group_sys_arrows,0"
colour=0xffffff
clickmask=no

// 1587:87
[right_arrow]
type=graphic
x=2
width=12
height=12
xmode=abs_right
ymode=abs_centre
layer=panel_button
graphic="aif_group_sys_arrows,0"
colour=0xffffff
clickmask=no

// 1587:88
[confirm_panel]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
hide=yes

// 1587:89
[confirm_blocker]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_panel
noclickthrough=yes

// 1587:90
[com_90]
type=rectangle
widthmode=minus
heightmode=minus
layer=confirm_blocker
colour=0x000000
fill=yes
trans=125

// 1587:91
[confirm_holder]
type=layer
width=400
height=200
xmode=abs_centre
ymode=abs_centre
layer=confirm_panel

// 1587:92
[confirm_background]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_holder
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1587:93
[yes_button]
type=layer
x=20
y=20
width=150
height=27
ymode=abs_bottom
layer=confirm_holder

// 1587:94
[positive_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button
onload=script7041(event_com)

// 1587:95
[positive_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button
onload=script7042(event_com)

// 1587:96
[positive_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button
onload=script7044(event_com)

// 1587:97
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button
hide=yes
onload=script7047(event_com)

// 1587:98
[yes]
type=layer
widthmode=minus
heightmode=minus
layer=yes_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1587:99
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button
hide=yes
onload=script7060(event_com)

// 1587:100
[positive_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=yes_button

// 1587:101
[positive_button_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_1
textfont=cinzel_13pt_bold
text=Yes
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1587:102
[no_button]
type=layer
x=20
y=20
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=confirm_holder

// 1587:103
[neutral_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button
onload=script7062(event_com)

// 1587:104
[neutral_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button
onload=script7063(event_com)

// 1587:105
[neutral_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button
onload=script7065(event_com)

// 1587:106
[neutral_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button
hide=yes
onload=script7068(event_com)

// 1587:107
[no]
type=layer
widthmode=minus
heightmode=minus
layer=no_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1587:108
[neutral_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button
hide=yes
onload=script7074(event_com)

// 1587:109
[neutral_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=no_button

// 1587:110
[neutral_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer
textfont=cinzel_13pt_bold
text=No
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

// 1587:111
[text_container]
type=layer
x=10
y=10
width=20
height=65
widthmode=minus
heightmode=minus
layer=confirm_holder

// 1587:112
[confirm_text]
type=text
widthmode=minus
heightmode=minus
layer=text_container
textfont=museo_sans_13pt_regular
textlineheight=13
textalignh=1
textalignv=1
textshadow=yes
onload=script10496(event_com, event_comsubid, 3)

// 1587:113
[hidden_area]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window_content
noclickthrough=yes

// 1587:114
[com_114]
type=rectangle
widthmode=minus
heightmode=minus
layer=hidden_area
colour=0x000000
fill=yes
trans=150

// 1587:115
[com_115]
type=text
width=396
height=50
xmode=abs_centre
ymode=abs_centre
layer=hidden_area
textfont=cinzel_13pt_bold
text=Loading, please wait...
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, event_comsubid, 0)

// 1587:116
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1587:117
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1587:118
[normal_worlds]
type=button
x=-150
width=200
heightmode=minus
xmode=abs_centre
layer=switch_mode
noclickthrough=yes
cantoggle=yes
sprite.graphic=button_cornered_neutral
text.textfont=notosans_12
text.text=Regular Worlds
stylesheet=button_cornered_neutral
transmitop1=yes
op1=Normal Worlds
onload=stylesheet_set(event_com)
onbuttonpressed=script20330

// 1587:119
[com_119]
type=graphic
x=-230
width=32
height=32
xmode=abs_centre
layer=switch_mode
noclickthrough=yes
graphic=rs3_icon_calendar_global_time
colour=0xffffff
clickmask=no

// 1587:120
[league_worlds]
type=button
x=150
width=200
heightmode=minus
xmode=abs_centre
layer=switch_mode
noclickthrough=yes
cantoggle=yes
sprite.graphic=button_cornered_neutral
text.textfont=notosans_12
text.text=League Worlds
stylesheet=button_cornered_neutral
transmitop1=yes
op1=League Worlds
onload=stylesheet_set(event_com)
onbuttonpressed=script20331

// 1587:121
[com_121]
type=graphic
x=70
y=2
width=24
height=24
xmode=abs_centre
layer=switch_mode
noclickthrough=yes
graphic=rs3_icon_menu_leagues_32px
colour=0xffffff
clickmask=no

