// 1502:0
[layer_1]
type=layer
widthmode=minus
heightmode=minus

// 1502:1
[positive_button_layer]
type=layer
x=10
y=10
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=layer_1

// 1502:2
[positive_button_layer_1]
type=layer
x=9
y=103
width=150
height=28
xmode=abs_right
ymode=abs_bottom
layer=layer_1

// 1502:3
[positive_button_layer_2]
type=layer
x=10
y=42
width=150
height=27
xmode=abs_right
ymode=abs_bottom
layer=layer_1

// 1502:4
[positive_button_layer_3]
type=layer
x=10
y=72
width=150
height=28
xmode=abs_right
ymode=abs_bottom
layer=layer_1

// 1502:5
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7041(event_com)

// 1502:6
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7042(event_com)

// 1502:7
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7044(event_com)

// 1502:8
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7047(event_com)

// 1502:9
[release_camera]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1502:10
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7060(event_com)

// 1502:11
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer

// 1502:12
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Release Camera
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1502:13
[positive_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_1
onload=script7041(event_com)

// 1502:14
[positive_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_1
onload=script7042(event_com)

// 1502:15
[positive_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_1
onload=script7044(event_com)

// 1502:16
[positive_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_1
hide=yes
onload=script7047(event_com)

// 1502:17
[camera_high]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1502:18
[positive_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_1
hide=yes
onload=script7060(event_com)

// 1502:19
[positive_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_1

// 1502:20
[positive_button_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_1
textfont=cinzel_13pt_bold
text=Camera High
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1502:21
[positive_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_2
onload=script7041(event_com)

// 1502:22
[positive_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_2
onload=script7042(event_com)

// 1502:23
[positive_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_2
onload=script7044(event_com)

// 1502:24
[positive_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_2
hide=yes
onload=script7047(event_com)

// 1502:25
[camera_low]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer_2
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1502:26
[positive_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_2
hide=yes
onload=script7060(event_com)

// 1502:27
[positive_button_text_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_2

// 1502:28
[positive_button_text_2]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_2
textfont=cinzel_13pt_bold
text=Camera Low
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1502:29
[positive_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_3
onload=script7041(event_com)

// 1502:30
[positive_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_3
onload=script7042(event_com)

// 1502:31
[positive_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_3
onload=script7044(event_com)

// 1502:32
[positive_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_3
hide=yes
onload=script7047(event_com)

// 1502:33
[camera_mid]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer_3
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1502:34
[positive_button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_3
hide=yes
onload=script7060(event_com)

// 1502:35
[positive_button_text_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer_3

// 1502:36
[positive_button_text_3]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer_3
textfont=cinzel_13pt_bold
text=Camera Mid
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

