// 382:0
[warn3]
type=text
width=275
height=15
xmode=abs_right
ymode=abs_centre
layer=cws_warning_layer
textfont=museo_sans_11pt_regular
text=Don't warn me about this for the rest of the day
textalignv=1
textshadow=yes

// 382:1
[wildy_pvp_toggle_button]
type=graphic
x=3
width=19
height=19
ymode=abs_centre
layer=cws_warning_layer
graphic="warning_icons,1"
colour=0xffffff
clickmask=no

// 382:2
[com_2]
type=model
x=2
y=8
width=38
height=44
layer=mainmodal_window_content
model=ditch_wilderness_sign_skull
modelorthog=yes
modelorigin_x=1
modelorigin_y=2
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3500

// 382:3
[com_3]
type=model
x=2
y=8
width=39
height=44
xmode=abs_right
layer=mainmodal_window_content
model=ditch_wilderness_sign_skull_mirror
modelorthog=yes
modelorigin_x=1
modelorigin_y=2
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3500

// 382:4
[com_4]
type=model
x=2
y=2
width=37
height=43
ymode=abs_bottom
layer=mainmodal_window_content
model=ditch_wilderness_sign_skull
modelorigin_x=1
modelorigin_y=2
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3588

// 382:5
[com_5]
type=model
x=2
y=2
width=39
height=44
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content
model=ditch_wilderness_sign_skull_mirror
modelorigin_x=1
modelorigin_y=2
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=3500

// 382:6
[resizable_3x3_button_layer_1]
type=layer
x=66
y=11
width=111
height=60
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content

// 382:7
[resizable_3x3_button_layer]
type=layer
x=70
y=11
width=111
height=60
ymode=abs_bottom
layer=mainmodal_window_content

// 382:8
[enter_button]
type=graphic
x=72
y=13
width=107
height=56
ymode=abs_bottom
layer=mainmodal_window_content
colour=0xffffff
clickmask=no
pausebutton=yes
pausetext=Proceed

// 382:9
[cancel_button]
type=graphic
x=68
y=13
width=107
height=56
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content
colour=0xffffff
clickmask=no
pausebutton=yes
pausetext=Cancel
onclick=closebutton_click

// 382:10
[enter]
type=text
x=72
y=13
width=107
height=56
ymode=abs_bottom
layer=mainmodal_window_content
textfont=cinzel_12pt_bold
text=Enter Wilderness
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

// 382:11
[com_11]
type=text
y=6
width=84
height=125
widthmode=minus
xmode=abs_centre
layer=mainmodal_window_content
textfont=museo_sans_11pt_regular
fontmono=no
text=If you proceed, you will enter the Wilderness.<br><br>In the Wilderness:<br><col=ff0000>Other players can attack you.</col><br>If you drop items, other players may take them immediately.<br>You will leave no gravestone behind if you die.<br><br>You can opt-out of PvP by speaking to Vala in Edgeville.
textlineheight=15
textalignh=1
textalignv=1
textshadow=yes

// 382:12
[exit]
type=text
x=70
y=13
width=103
height=56
xmode=abs_right
ymode=abs_bottom
layer=mainmodal_window_content
textfont=cinzel_12pt_bold
text=Don't Enter
textalignh=1
textalignv=1
textshadow=yes
colour=0x4fff00

// 382:13
[cws_warning_layer]
type=layer
y=80
width=300
height=20
xmode=abs_centre
ymode=abs_bottom
layer=mainmodal_window_content
hide=yes
pausebutton=yes
pausetext=Toggle

// 382:14
[content_layer]
type=layer
width=440
height=275
xmode=abs_centre
ymode=abs_centre
onvartransmit=script16801(wilderness_warning:cws_warning_layer, wilderness_warning:wildy_pvp_toggle_button)
onvartransmitlist=wilderness_perm

// 382:15
[mainmodal_window]
type=layer
widthmode=minus
heightmode=minus
layer=content_layer
onload=script8420(wilderness_warning:mainmodal_window_background, wilderness_warning:mainmodal_window_border, wilderness_warning:mainmodal_window_content, wilderness_warning:mainmodal_window_close_button, "Warning !", 21218, string_1007)

// 382:16
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 382:17
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 382:18
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 382:19
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 382:20
[resizable_3x3_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_layer
onload=script7699(event_com)

// 382:21
[resizable_3x3_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_layer
onload=script7728(event_com)

// 382:22
[resizable_3x3_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_layer
onload=script7729(event_com)

// 382:23
[resizable_3x3_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_layer
hide=yes
onload=script8225(event_com)

// 382:24
[resizable_3x3_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=resizable_3x3_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 382:25
[resizable_3x3_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_layer
hide=yes
onload=script8228(event_com)

// 382:26
[resizable_3x3_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_layer_1
onload=script7699(event_com)

// 382:27
[resizable_3x3_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_layer_1
onload=script7728(event_com)

// 382:28
[resizable_3x3_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_layer_1
onload=script7729(event_com)

// 382:29
[resizable_3x3_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_layer_1
hide=yes
onload=script8225(event_com)

// 382:30
[resizable_3x3_button_active_layer_1]
type=layer
widthmode=minus
heightmode=minus
layer=resizable_3x3_button_layer_1
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 382:31
[resizable_3x3_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_layer_1
hide=yes
onload=script8228(event_com)

