// 381:0
[wilderness_layer]
type=layer
x=8
y=7
width=58
height=53
xmode=abs_right

// 381:1
[wilderness_layer_bounty]
type=layer
x=221
y=6
width=58
height=53
xmode=abs_right
hide=yes

// 381:2
[com_2]
type=graphic
width=25
height=25
xmode=abs_centre
layer=wilderness_layer_bounty
graphic="headicons_pk_interface,7"
trans=100
clickmask=no

// 381:3
[wilderness_level_text_1]
type=text
y=26
height=13
widthmode=minus
xmode=abs_centre
layer=wilderness_layer_bounty
textfont=p12_full
textalignh=1
textshadow=yes
colour=0xe1981d
ontimer=wilderness_level_update(event_com)

// 381:4
[pvpwild_bounty_hunter_layer_suboverlay]
type=layer
width=220
height=333
xmode=abs_right
hide=yes

// 381:5
[com_5]
type=graphic
width=25
height=25
xmode=abs_centre
layer=wilderness_layer
graphic="headicons_pk_interface,7"
alpha=yes
trans=100
colour=0xffffff
clickmask=no

// 381:6
[wilderness_level_text]
type=text
x=1
y=26
height=13
widthmode=minus
layer=wilderness_layer
textfont=p12_full
textalignh=1
textshadow=yes
colour=0xe1981d
ontimer=wilderness_level_update(event_com)

