// 383:0
[com_0]
type=rectangle
width=541
height=373
colour=0x53340c
fill=yes
trans=24

// 383:1
[win05_paintbench]
type=model
x=-35
y=154
width=575
height=248
model=player_owned_houses_poh_workbench_carpentry_wooden
modelorigin_x=0
modelorigin_y=57
modelangle_x=249
modelangle_y=0
modelangle_z=0
modelzoom=340

// 383:2
[win05_redpaint]
type=model
x=240
y=124
width=40
height=212
model=holiday_events_wintumber_2005_if_win05_red_paint
modelorigin_x=-8
modelorigin_y=105
modelangle_x=249
modelangle_y=0
modelangle_z=0
modelzoom=340

// 383:3
[win05_redpaint_hi]
type=model
x=11
y=10
width=40
height=212
layer=win05_red
model=holiday_events_wintumber_2005_if_win05_red_paint_hi
modelorigin_x=-8
modelorigin_y=105
modelangle_x=249
modelangle_y=0
modelangle_z=0
modelzoom=340

// 383:4
[win05_brushes]
type=model
x=304
y=122
width=144
height=214
model=holiday_events_wintumber_2005_if_win05_paint_brushes
modelorigin_x=-124
modelorigin_y=106
modelangle_x=249
modelangle_y=0
modelangle_z=0
modelzoom=340

// 383:5
[win05_bauble]
type=model
x=293
y=203
width=41
height=44
model=holiday_events_wintumber_2005_if_win05_bauble
modelorigin_x=0
modelorigin_y=8
modelangle_x=228
modelangle_y=2047
modelangle_z=0
modelzoom=400

// 383:6
[win05_red]
type=layer
x=229
y=114
width=123
height=279
hide=yes

// 383:7
[win05_yellowpaint]
type=model
x=154
y=118
width=99
height=218
model=holiday_events_wintumber_2005_if_win05_yellow_paint
modelorigin_x=49
modelorigin_y=108
modelangle_x=249
modelangle_y=0
modelangle_z=0
modelzoom=340

// 383:8
[win05_yellowpaint_hi]
type=model
x=8
y=11
width=99
height=218
layer=win05_yellow
model=holiday_events_wintumber_2005_if_win05_yellow_paint_hi
modelorigin_x=49
modelorigin_y=108
modelangle_x=249
modelangle_y=0
modelangle_z=0
modelzoom=340

// 383:9
[win05_yellow]
type=layer
x=146
y=107
width=206
height=341
hide=yes

// 383:10
[win05_greenpaint]
type=model
x=65
y=131
width=188
height=205
model=holiday_events_wintumber_2005_if_win05_green_paint
modelorigin_x=93
modelorigin_y=102
modelangle_x=249
modelangle_y=0
modelangle_z=0
modelzoom=340

// 383:11
[win05_greenpaint_hi]
type=model
x=7
y=13
width=188
height=205
layer=win05_green
model=holiday_events_wintumber_2005_if_win05_green_paint_hi
modelorigin_x=93
modelorigin_y=102
modelangle_x=249
modelangle_y=0
modelangle_z=0
modelzoom=340

// 383:12
[win05_green]
type=layer
x=58
y=118
width=294
height=288
hide=yes

// 383:13
[win05_pinkpaint]
type=model
x=48
y=184
width=205
height=152
model=holiday_events_wintumber_2005_if_win05_pink_paint
modelorigin_x=102
modelorigin_y=75
modelangle_x=249
modelangle_y=0
modelangle_z=0
modelzoom=340

// 383:14
[win05_pinkpaint_hi]
type=model
x=6
y=10
width=205
height=152
layer=win05_pink
model=holiday_events_wintumber_2005_if_win05_pink_paint_hi
modelorigin_x=102
modelorigin_y=75
modelangle_x=249
modelangle_y=0
modelangle_z=0
modelzoom=340

// 383:15
[win05_pink]
type=layer
x=42
y=174
width=310
height=267
hide=yes

// 383:16
[win05_bluepaint]
type=model
x=130
y=171
width=123
height=165
model=holiday_events_wintumber_2005_if_win05_blue_paint
modelorigin_x=61
modelorigin_y=82
modelangle_x=249
modelangle_y=0
modelangle_z=0
modelzoom=340

// 383:17
[win05_bluepaint_hi]
type=model
x=13
y=16
width=123
height=165
layer=win05_blue
model=holiday_events_wintumber_2005_if_win05_blue_paint_hi
modelorigin_x=61
modelorigin_y=82
modelangle_x=249
modelangle_y=0
modelangle_z=0
modelzoom=340

// 383:18
[win05_blue]
type=layer
x=117
y=155
width=235
height=266
hide=yes

// 383:19
[win05_y_hotspot1]
type=rectangle
x=154
y=115
width=65
height=56
colour=0xffff00
trans=255
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Paint Yellow
op2=Paint Yellow x2
op3=Paint Yellow x4

// 383:20
[win05_y_hotspot2]
type=rectangle
x=188
y=171
width=31
height=31
colour=0xffff00
trans=255
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Paint Yellow
op2=Paint Yellow x2
op3=Paint Yellow x4

// 383:21
[win05_r_hotspot]
type=rectangle
x=236
y=118
width=45
height=68
colour=0xff0000
trans=255
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Paint Red
op2=Paint Red x2
op3=Paint Red x4

// 383:22
[win05_g_hotspot]
type=rectangle
x=65
y=125
width=62
height=54
colour=0x00ff00
trans=255
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Paint Green
op2=Paint Green x2
op3=Paint Green x4

// 383:23
[win05_p_hotspot]
type=rectangle
x=71
y=181
width=46
height=52
colour=0xff00ff
trans=255
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Paint Pink
op2=Paint Pink x2
op3=Paint Pink x4

// 383:24
[win05_o_hotspot]
type=rectangle
x=127
y=175
width=61
height=49
colour=0x0000ff
trans=255
transmitop1=yes
transmitop2=yes
transmitop3=yes
op1=Paint Blue
op2=Paint Blue x2
op3=Paint Blue x4

// 383:25
[com_25]
type=model
x=135
y=38
width=231
height=67
model=if_rat_catcher_scroll
modelorigin_x=0
modelorigin_y=-8
modelangle_x=524
modelangle_y=0
modelangle_z=0
modelzoom=656

// 383:26
[win05_instructions]
type=text
x=189
y=54
width=122
height=19
textfont=q8_full
text=Pick a colour
textalignh=1
colour=0xffff00

// 383:27
[win05_bauble_red]
type=model
x=64
y=89
width=41
height=44
layer=win05_red
model=holiday_events_wintumber_2005_if_win05_bauble_red
modelorigin_x=0
modelorigin_y=8
modelangle_x=228
modelangle_y=2047
modelangle_z=0
modelzoom=400

// 383:28
[win05_bauble_yellow]
type=model
x=147
y=96
width=41
height=44
layer=win05_yellow
model=holiday_events_wintumber_2005_if_win05_bauble_yellow
modelorigin_x=0
modelorigin_y=8
modelangle_x=228
modelangle_y=2047
modelangle_z=0
modelzoom=400

// 383:29
[win05_bauble_green]
type=model
x=235
y=85
width=41
height=44
layer=win05_green
model=holiday_events_wintumber_2005_if_win05_bauble_green
modelorigin_x=0
modelorigin_y=8
modelangle_x=228
modelangle_y=2047
modelangle_z=0
modelzoom=400

// 383:30
[win05_bauble_pink]
type=model
x=251
y=29
width=41
height=44
layer=win05_pink
model=holiday_events_wintumber_2005_if_win05_bauble_pink
modelorigin_x=0
modelorigin_y=8
modelangle_x=228
modelangle_y=2047
modelangle_z=0
modelzoom=400

// 383:31
[win05_bauble_blue]
type=model
x=176
y=48
width=41
height=44
layer=win05_blue
model=holiday_events_wintumber_2005_if_win05_bauble_blue
modelorigin_x=0
modelorigin_y=8
modelangle_x=228
modelangle_y=2047
modelangle_z=0
modelzoom=400

// 383:32
[close_button]
type=graphic
x=475
y=15
width=26
height=23
graphic="close_buttons,2"
colour=0xffffff
clickmask=no
transmitop1=yes
transmitop10=yes
op1=Close
op10=        
onmouseover=graphic_swapper(event_com, "close_buttons,3")
onmouseleave=graphic_swapper(event_com, "close_buttons,2")
onop=closebutton_click

