// 851:0
[bespoke_window]
type=layer
width=800
height=450
xmode=abs_centre
ymode=abs_centre
onload=script8420(wish_splash:bespoke_window_background, wish_splash:bespoke_window_border, wish_splash:bespoke_window_content, wish_splash:bespoke_window_close_button, "", 21259, null)

// 851:1
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 851:2
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 851:3
[bg]
type=graphic
width=792
height=442
layer=bespoke_window_content
graphic=rs3_guardians_gift_ui_background
colour=0xffffff
clickmask=no

// 851:4
[title]
type=text
x=20
y=20
width=300
height=25
layer=bespoke_window_content
textfont=cinzel_25pt_bold_multiline
text=Guardian's Gift
textalignv=2
textshadow=yes
colour=0xffcb05
onload=script10496(event_com, -1, 0)

// 851:5
[body]
type=text
x=20
y=58
width=300
height=70
heightmode=minus
layer=bespoke_window_content
textfont=museo_sans_13pt_regular
text=This <col=0xffffff>Guardian's Gift</col> is our heartfelt thank you for your patience during the recent login lockouts.<br><br>It'll grant you <col=0xffffff>Wishes</col> worthy of Gielinor's greatest hero. Each Wish costs a portion of the Charge held in the Guardian's Gift, so take your time and decide what would benefit you most.<br><br>Without you, there would be no RuneScape, so thank you - once again - for your support.<br><br>Now, get back out there!<br>Gielinor needs its Guardian.
textshadow=yes
colour=0xaebfc8
onload=script10496(event_com, -1, 4)

// 851:6
[button]
type=layer
x=20
y=19
width=200
height=27
xmode=abs_right
ymode=abs_bottom
layer=bespoke_window_content
transmitop1=yes
op1=View Wishes
onload=script13968(event_com, null, rs3tli_positive_button, "View Wishes")

// 851:7
[button_faq]
type=layer
x=20
y=56
width=200
height=27
xmode=abs_right
ymode=abs_bottom
layer=bespoke_window_content
transmitop1=yes
op1=FAQ
onload=script13968(event_com, null, rs3tli_positive_button, "FAQ")

// 851:8
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 851:9
[bespoke_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=bespoke_window
transmitop1=yes
op1=Close
onop=closebutton_click

