// 222:0
[com_0]
type=graphic
width=14
height=46
ymode=abs_centre
layer=le_resting
graphic="aif_bronze_icon_button_5,0"
colour=0xffffff
clickmask=no

// 222:1
[love_emote_button]
type=layer
x=-144
y=-64
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=content_layer
transmitop1=yes
op1=Buy Love at First Sight
onmouseover=script7549(event_com)
onmouseleave=script7550(event_com)
onmouserepeat=script1095(event_com, "Love at First Sight", "This emote will see your heart beating out of your chest (free and members).")

// 222:2
[le_resting]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=love_emote_button

// 222:3
[com_3]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=le_resting
graphic="aif_bronze_icon_button_5,2"
colour=0xffffff
clickmask=no

// 222:4
[com_4]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=le_resting
graphic="aif_bronze_icon_button_5,1"
colour=0xffffff
clickmask=no

// 222:5
[love_weapon_button]
type=layer
x=-104
y=-6
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
transmitop1=yes
op1=Buy Cupid bow
onmouseover=script7549(event_com)
onmouseleave=script7550(event_com)
onmouserepeat=script1095(event_com, "Cupid bow", "A shortbow that fires Cupid arrows and makes your foes smitten (members).")

// 222:6
[love_pendant_button]
type=layer
x=-58
y=44
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
transmitop1=yes
op1=Buy lovestruck pendant
onmouseover=script7549(event_com)
onmouseleave=script7550(event_com)
onmouserepeat=script1095(event_com, "Lovestruck pendant", "This pendant boosts XP in one of your five highest skills (members).")

// 222:7
[hate_emote_button]
type=layer
x=143
y=-64
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
transmitop1=yes
op1=Buy Jealous Rage
onmouseover=script7549(event_com)
onmouseleave=script7550(event_com)
onmouserepeat=script1095(event_com, "Jealous Rage", "This emote will see you ripping your jealous heart to shreds (free and members).")

// 222:8
[hate_weapon_button]
type=layer
x=102
y=-6
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
transmitop1=yes
op1=Buy rosethorn wand
onmouseover=script7549(event_com)
onmouseleave=script7550(event_com)
onmouserepeat=script1095(event_com, "Rosethorn wand<br>& beating heart", "<br>A wand and offhand Magic weapon that displays your passion (members).")

// 222:9
[hate_pendant_button]
type=layer
x=56
y=44
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
transmitop1=yes
op1=Buy heartbreak pendant
onmouseover=script7549(event_com)
onmouseleave=script7550(event_com)
onmouserepeat=script1095(event_com, "Heartbreak pendant", "This pendant boosts XP in one of your five lowest skills (members).")

// 222:10
[random_choccy_button]
type=layer
x=-1
y=83
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer
transmitop1=yes
op1=Buy chocolate (random)
onmouseover=script7549(event_com)
onmouseleave=script7550(event_com)
onmouserepeat=script1095(event_com, "Chocolate (random)", "One random chocolate that gives a temporary +2 skill boost (free and members).")

// 222:11
[lp_resting]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=love_pendant_button

// 222:12
[lp_rollover]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=love_pendant_button
hide=yes

// 222:13
[love_pendant_icon]
type=graphic
width=36
height=40
xmode=abs_centre
ymode=abs_centre
layer=love_pendant_button
graphic="aif_valentine_shop_icons,3"
colour=0xffffff
clickmask=no

// 222:14
[wof33_valentines_shop]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
onload=script7546

// 222:15
[background_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=wof33_valentines_shop

// 222:16
[background_heart]
type=graphic
width=370
height=315
xmode=abs_centre
ymode=abs_centre
layer=background_layer
graphic=aif_valentine_shop_bg_en
colour=0xffffff
clickmask=no

// 222:17
[hearts_text]
type=text
y=-33
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=palatino_linotype_18pt_regular
text=9999999
textalignh=1
textalignv=1
textshadow=yes
colour=0xfdce7e

// 222:18
[love_emote_cost]
type=text
x=-137
y=-95
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=p11_full
text=1,750
textshadow=yes
colour=0xfdce7e

// 222:19
[hate_emote_cost]
type=text
x=137
y=-95
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=p11_full
text=1,750
textshadow=yes
colour=0xfdce7e

// 222:20
[love_weapon_cost]
type=text
x=-99
y=-37
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=p11_full
text=1,000
textshadow=yes
colour=0xfdce7e

// 222:21
[hate_weapon_cost]
type=text
x=95
y=-37
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=p11_full
text=1,000
textshadow=yes
colour=0xfdce7e

// 222:22
[love_pendant_cost]
type=text
x=-44
y=13
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=p11_full
text=750
textshadow=yes
colour=0xfdce7e

// 222:23
[hate_pendant_cost]
type=text
x=50
y=13
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=p11_full
text=750
textshadow=yes
colour=0xfdce7e

// 222:24
[random_choccy_cost]
type=text
x=6
y=52
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=p11_full
text=50
textshadow=yes
colour=0xfdce7e

// 222:25
[com_25]
type=text
y=-56
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=p11_full
text=Valentine hearts:
textalignh=1
textalignv=1
textshadow=yes
colour=0xfdce7e

// 222:26
[content_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=wof33_valentines_shop

// 222:27
[tooltip_box]
type=layer
x=-1
y=-45
width=158
height=106
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 222:28
[popup_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wof33_valentines_shop
hide=yes
noclickthrough=yes

// 222:29
[close_button_layer]
type=layer
x=153
y=-122
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=wof33_valentines_shop

// 222:30
[popup_background]
type=graphic
x=-1
y=-7
width=320
height=250
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
graphic=aif_valentine_shop_inlay
colour=0xffffff
clickmask=no

// 222:31
[popup_icon]
type=graphic
x=-103
y=-47
width=36
height=40
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
graphic="aif_valentine_shop_icons,1"
colour=0xffffff
clickmask=no

// 222:32
[popup_description]
type=text
x=33
y=-60
width=210
height=60
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
textfont=p11_full
text=Emote (free/members).
textlineheight=16
textalignv=1
textshadow=yes
colour=0xfdce7e

// 222:33
[popup_question]
type=text
y=8
width=267
height=44
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
textfont=verdana_11pt_regular
text=Are you sure you wish to claim this reward?
textlineheight=16
textalignh=1
textshadow=yes
colour=0xfdce7e

// 222:34
[confirm_button]
type=layer
x=-53
y=25
width=100
height=28
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
transmitop1=yes
op1=Confirm
onmouseover=script7549(event_com)
onmouseleave=script7550(event_com)

// 222:35
[confirm_resting]
type=layer
width=100
height=28
ymode=abs_centre
layer=confirm_button

// 222:36
[com_36]
type=graphic
width=26
height=28
ymode=abs_centre
layer=confirm_resting
graphic="wof_btn_brown_1,0"
colour=0xffffff
clickmask=no

// 222:37
[com_37]
type=graphic
width=26
height=28
xmode=abs_right
ymode=abs_centre
layer=confirm_resting
graphic="wof_btn_brown_1,2"
colour=0xffffff
clickmask=no

// 222:38
[com_38]
type=graphic
width=48
height=28
xmode=abs_centre
ymode=abs_centre
layer=confirm_resting
graphic="wof_btn_brown_1,1"
colour=0xffffff
clickmask=no

// 222:39
[confirm_rollover]
type=layer
width=16391
height=26
widthmode=proportion
ymode=abs_centre
layer=confirm_button
hide=yes

// 222:40
[com_40]
type=graphic
width=26
height=28
ymode=abs_centre
layer=confirm_rollover
graphic="wof_btn_brown_1,3"
colour=0xffffff
clickmask=no

// 222:41
[com_41]
type=graphic
width=26
height=28
xmode=abs_right
ymode=abs_centre
layer=confirm_rollover
graphic="wof_btn_brown_1,5"
colour=0xffffff
clickmask=no

// 222:42
[com_42]
type=graphic
width=48
height=28
xmode=abs_centre
ymode=abs_centre
layer=confirm_rollover
graphic="wof_btn_brown_1,4"
colour=0xffffff
clickmask=no

// 222:43
[confirm_hit]
type=layer
width=16391
height=26
widthmode=proportion
ymode=abs_centre
layer=confirm_button
hide=yes

// 222:44
[com_44]
type=graphic
width=26
height=28
ymode=abs_centre
layer=confirm_hit
graphic="wof_btn_brown_1,6"
colour=0xffffff
clickmask=no

// 222:45
[com_45]
type=graphic
width=26
height=28
xmode=abs_right
ymode=abs_centre
layer=confirm_hit
graphic="wof_btn_brown_1,8"
colour=0xffffff
clickmask=no

// 222:46
[com_46]
type=graphic
width=48
height=28
xmode=abs_centre
ymode=abs_centre
layer=confirm_hit
graphic="wof_btn_brown_1,7"
colour=0xffffff
clickmask=no

// 222:47
[confirm_text]
type=text
y=-2
width=16391
height=13870
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=confirm_button
textfont=verdana_11pt_regular
text=Confirm
textalignh=1
textalignv=1
colour=0xfdce7e

// 222:48
[cancel_button]
type=layer
x=53
y=25
width=100
height=26
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
transmitop1=yes
op1=Cancel
onmouseover=script7549(event_com)
onmouseleave=script7550(event_com)

// 222:49
[cancel_resting]
type=layer
width=100
height=26
xmode=abs_centre
ymode=abs_centre
layer=cancel_button

// 222:50
[com_50]
type=graphic
width=26
height=28
ymode=abs_centre
layer=cancel_resting
graphic="wof_btn_brown_1,0"
colour=0xffffff
clickmask=no

// 222:51
[com_51]
type=graphic
width=26
height=28
xmode=abs_right
ymode=abs_centre
layer=cancel_resting
graphic="wof_btn_brown_1,2"
colour=0xffffff
clickmask=no

// 222:52
[com_52]
type=graphic
width=48
height=28
xmode=abs_centre
ymode=abs_centre
layer=cancel_resting
graphic="wof_btn_brown_1,1"
colour=0xffffff
clickmask=no

// 222:53
[cancel_rollover]
type=layer
width=16391
height=26
widthmode=proportion
ymode=abs_centre
layer=cancel_button
hide=yes

// 222:54
[com_54]
type=graphic
width=26
height=28
ymode=abs_centre
layer=cancel_rollover
graphic="wof_btn_brown_1,3"
colour=0xffffff
clickmask=no

// 222:55
[com_55]
type=graphic
width=26
height=28
xmode=abs_right
ymode=abs_centre
layer=cancel_rollover
graphic="wof_btn_brown_1,5"
colour=0xffffff
clickmask=no

// 222:56
[com_56]
type=graphic
width=48
height=28
xmode=abs_centre
ymode=abs_centre
layer=cancel_rollover
graphic="wof_btn_brown_1,4"
colour=0xffffff
clickmask=no

// 222:57
[cancel_hit]
type=layer
width=100
height=26
ymode=abs_centre
layer=cancel_button
hide=yes

// 222:58
[com_58]
type=graphic
width=26
height=28
ymode=abs_centre
layer=cancel_hit
graphic="wof_btn_brown_1,6"
colour=0xffffff
clickmask=no

// 222:59
[com_59]
type=graphic
width=26
height=28
xmode=abs_right
ymode=abs_centre
layer=cancel_hit
graphic="wof_btn_brown_1,8"
colour=0xffffff
clickmask=no

// 222:60
[com_60]
type=graphic
width=48
height=28
xmode=abs_centre
ymode=abs_centre
layer=cancel_hit
graphic="wof_btn_brown_1,7"
colour=0xffffff
clickmask=no

// 222:61
[cancel_text]
type=text
y=-2
width=16391
height=14500
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=cancel_button
textfont=verdana_11pt_regular
text=Cancel
textalignh=1
textalignv=1
colour=0xfdce7e

// 222:62
[rc_resting]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=random_choccy_button

// 222:63
[rc_rollover]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=random_choccy_button
hide=yes

// 222:64
[random_choccy_icon]
type=graphic
width=36
height=40
xmode=abs_centre
ymode=abs_centre
layer=random_choccy_button
graphic="aif_valentine_shop_icons,6"
colour=0xffffff
clickmask=no

// 222:65
[he_resting]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=hate_emote_button

// 222:66
[he_rollover]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=hate_emote_button
hide=yes

// 222:67
[hate_emote_icon]
type=graphic
width=36
height=40
xmode=abs_centre
ymode=abs_centre
layer=hate_emote_button
graphic="aif_valentine_shop_icons,1"
colour=0xffffff
clickmask=no

// 222:68
[hw_resting]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=hate_weapon_button

// 222:69
[hw_rollover]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=hate_weapon_button
hide=yes

// 222:70
[hate_weapon_icon]
type=graphic
width=36
height=40
xmode=abs_centre
ymode=abs_centre
layer=hate_weapon_button
graphic="aif_valentine_shop_icons,5"
colour=0xffffff
clickmask=no

// 222:71
[hp_resting]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=hate_pendant_button

// 222:72
[hp_rollover]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=hate_pendant_button
hide=yes

// 222:73
[hate_pendant_icon]
type=graphic
width=36
height=40
xmode=abs_centre
ymode=abs_centre
layer=hate_pendant_button
graphic="aif_valentine_shop_icons,4"
colour=0xffffff
clickmask=no

// 222:74
[le_rollover]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=love_emote_button
hide=yes

// 222:75
[love_emote_icon]
type=graphic
width=36
height=40
xmode=abs_centre
ymode=abs_centre
layer=love_emote_button
graphic="aif_valentine_shop_icons,0"
colour=0xffffff
clickmask=no

// 222:76
[lw_resting]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=love_weapon_button

// 222:77
[lw_rollover]
type=layer
width=42
height=46
xmode=abs_centre
ymode=abs_centre
layer=love_weapon_button
hide=yes

// 222:78
[love_weapon_icon]
type=graphic
width=36
height=40
xmode=abs_centre
ymode=abs_centre
layer=love_weapon_button
graphic="aif_valentine_shop_icons,2"
colour=0xffffff
clickmask=no

// 222:79
[com_79]
type=graphic
width=14
height=46
ymode=abs_centre
layer=le_rollover
graphic="aif_bronze_icon_button_5,3"
colour=0xffffff
clickmask=no

// 222:80
[com_80]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=le_rollover
graphic="aif_bronze_icon_button_5,5"
colour=0xffffff
clickmask=no

// 222:81
[com_81]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=le_rollover
graphic="aif_bronze_icon_button_5,4"
colour=0xffffff
clickmask=no

// 222:82
[com_82]
type=graphic
width=14
height=46
ymode=abs_centre
layer=lw_resting
graphic="aif_bronze_icon_button_5,0"
colour=0xffffff
clickmask=no

// 222:83
[com_83]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=lw_resting
graphic="aif_bronze_icon_button_5,2"
colour=0xffffff
clickmask=no

// 222:84
[com_84]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=lw_resting
graphic="aif_bronze_icon_button_5,1"
colour=0xffffff
clickmask=no

// 222:85
[com_85]
type=graphic
width=14
height=46
ymode=abs_centre
layer=lw_rollover
graphic="aif_bronze_icon_button_5,3"
colour=0xffffff
clickmask=no

// 222:86
[com_86]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=lw_rollover
graphic="aif_bronze_icon_button_5,5"
colour=0xffffff
clickmask=no

// 222:87
[com_87]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=lw_rollover
graphic="aif_bronze_icon_button_5,4"
colour=0xffffff
clickmask=no

// 222:88
[com_88]
type=graphic
width=14
height=46
ymode=abs_centre
layer=lp_resting
graphic="aif_bronze_icon_button_5,0"
colour=0xffffff
clickmask=no

// 222:89
[com_89]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=lp_resting
graphic="aif_bronze_icon_button_5,2"
colour=0xffffff
clickmask=no

// 222:90
[com_90]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=lp_resting
graphic="aif_bronze_icon_button_5,1"
colour=0xffffff
clickmask=no

// 222:91
[com_91]
type=graphic
width=14
height=46
ymode=abs_centre
layer=lp_rollover
graphic="aif_bronze_icon_button_5,3"
colour=0xffffff
clickmask=no

// 222:92
[com_92]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=lp_rollover
graphic="aif_bronze_icon_button_5,5"
colour=0xffffff
clickmask=no

// 222:93
[com_93]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=lp_rollover
graphic="aif_bronze_icon_button_5,4"
colour=0xffffff
clickmask=no

// 222:94
[com_94]
type=graphic
width=14
height=46
ymode=abs_centre
layer=he_resting
graphic="aif_bronze_icon_button_5,0"
colour=0xffffff
clickmask=no

// 222:95
[com_95]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=he_resting
graphic="aif_bronze_icon_button_5,2"
colour=0xffffff
clickmask=no

// 222:96
[com_96]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=he_resting
graphic="aif_bronze_icon_button_5,1"
colour=0xffffff
clickmask=no

// 222:97
[com_97]
type=graphic
width=14
height=46
ymode=abs_centre
layer=he_rollover
graphic="aif_bronze_icon_button_5,3"
colour=0xffffff
clickmask=no

// 222:98
[com_98]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=he_rollover
graphic="aif_bronze_icon_button_5,5"
colour=0xffffff
clickmask=no

// 222:99
[com_99]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=he_rollover
graphic="aif_bronze_icon_button_5,4"
colour=0xffffff
clickmask=no

// 222:100
[com_100]
type=graphic
width=14
height=46
ymode=abs_centre
layer=hw_resting
graphic="aif_bronze_icon_button_5,0"
colour=0xffffff
clickmask=no

// 222:101
[com_101]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=hw_resting
graphic="aif_bronze_icon_button_5,2"
colour=0xffffff
clickmask=no

// 222:102
[com_102]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=hw_resting
graphic="aif_bronze_icon_button_5,1"
colour=0xffffff
clickmask=no

// 222:103
[com_103]
type=graphic
width=14
height=46
ymode=abs_centre
layer=hw_rollover
graphic="aif_bronze_icon_button_5,3"
colour=0xffffff
clickmask=no

// 222:104
[com_104]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=hw_rollover
graphic="aif_bronze_icon_button_5,5"
colour=0xffffff
clickmask=no

// 222:105
[com_105]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=hw_rollover
graphic="aif_bronze_icon_button_5,4"
colour=0xffffff
clickmask=no

// 222:106
[com_106]
type=graphic
width=14
height=46
ymode=abs_centre
layer=hp_resting
graphic="aif_bronze_icon_button_5,0"
colour=0xffffff
clickmask=no

// 222:107
[com_107]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=hp_resting
graphic="aif_bronze_icon_button_5,2"
colour=0xffffff
clickmask=no

// 222:108
[com_108]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=hp_resting
graphic="aif_bronze_icon_button_5,1"
colour=0xffffff
clickmask=no

// 222:109
[com_109]
type=graphic
width=14
height=46
ymode=abs_centre
layer=hp_rollover
graphic="aif_bronze_icon_button_5,3"
colour=0xffffff
clickmask=no

// 222:110
[com_110]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=hp_rollover
graphic="aif_bronze_icon_button_5,5"
colour=0xffffff
clickmask=no

// 222:111
[com_111]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=hp_rollover
graphic="aif_bronze_icon_button_5,4"
colour=0xffffff
clickmask=no

// 222:112
[com_112]
type=graphic
width=14
height=46
ymode=abs_centre
layer=rc_resting
graphic="aif_bronze_icon_button_5,0"
colour=0xffffff
clickmask=no

// 222:113
[com_113]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=rc_resting
graphic="aif_bronze_icon_button_5,2"
colour=0xffffff
clickmask=no

// 222:114
[com_114]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=rc_resting
graphic="aif_bronze_icon_button_5,1"
colour=0xffffff
clickmask=no

// 222:115
[com_115]
type=graphic
width=14
height=46
ymode=abs_centre
layer=rc_rollover
graphic="aif_bronze_icon_button_5,3"
colour=0xffffff
clickmask=no

// 222:116
[com_116]
type=graphic
width=14
height=46
xmode=abs_right
ymode=abs_centre
layer=rc_rollover
graphic="aif_bronze_icon_button_5,5"
colour=0xffffff
clickmask=no

// 222:117
[com_117]
type=graphic
width=14
height=46
xmode=abs_centre
ymode=abs_centre
layer=rc_rollover
graphic="aif_bronze_icon_button_5,4"
colour=0xffffff
clickmask=no

// 222:118
[window_1_close_button]
type=graphic
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=close_button_layer
graphic="aif_close_1,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onop=closebutton_click

// 222:119
[window_1_close_button_over]
type=graphic
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=close_button_layer
graphic="aif_close_1,1"
trans=255
colour=0xffffff
clickmask=no
onmouseover=script4209(event_com, 0)
onmouseleave=script4209(event_com, 1)

// 222:120
[window_1_close_button_hit]
type=graphic
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=close_button_layer
graphic="aif_close_1,2"
trans=255
colour=0xffffff
clickmask=no
onclick=script4207(event_com, 0)
onrelease=script4207(event_com, 1)

// 222:121
[com_121]
type=graphic
width=155
height=99
xmode=abs_centre
ymode=abs_centre
layer=tooltip_box
graphic=window_texture_1
colour=0xffffff
clickmask=no

// 222:122
[com_122]
type=graphic
x=-2
y=-2
width=12
height=11
xmode=abs_right
layer=tooltip_box
graphic="aif_overlay_frame_gold_corner_1_shadow,0"
outline=1
colour=0xffffff
clickmask=no

// 222:123
[com_123]
type=graphic
x=-2
y=-2
width=12
height=11
layer=tooltip_box
graphic="aif_overlay_frame_gold_corner_1_shadow,0"
outline=1
hflip=yes
colour=0xffffff
clickmask=no

// 222:124
[com_124]
type=graphic
x=-2
y=-2
width=12
height=11
xmode=abs_right
ymode=abs_bottom
layer=tooltip_box
graphic="aif_overlay_frame_gold_corner_1_shadow,0"
outline=1
vflip=yes
colour=0xffffff
clickmask=no

// 222:125
[com_125]
type=graphic
x=-2
y=-2
width=12
height=11
ymode=abs_bottom
layer=tooltip_box
graphic="aif_overlay_frame_gold_corner_1_shadow,0"
outline=1
vflip=yes
hflip=yes
colour=0xffffff
clickmask=no

// 222:126
[com_126]
type=graphic
x=-5
y=9
width=12
height=88
layer=tooltip_box
graphic="aif_overlay_frame_gold_corner_1_shadow,1"
colour=0xffffff
clickmask=no

// 222:127
[com_127]
type=graphic
x=-2
y=9
width=12
height=88
xmode=abs_right
layer=tooltip_box
graphic="aif_overlay_frame_gold_corner_1_shadow,1"
colour=0xffffff
clickmask=no

// 222:128
[com_128]
type=graphic
x=10
y=-2
width=230
height=11
layer=tooltip_box
graphic="aif_overlay_frame_gold_corner_1_shadow,2"
colour=0xffffff
clickmask=no

// 222:129
[com_129]
type=graphic
x=10
y=-4
width=230
height=11
ymode=abs_bottom
layer=tooltip_box
graphic="aif_overlay_frame_gold_corner_1_shadow,2"
colour=0xffffff
clickmask=no

// 222:130
[tooltip_title]
type=text
y=-35
width=150
height=20
xmode=abs_centre
ymode=abs_centre
layer=tooltip_box
textfont=verdana_13pt_bold
text=Placeholder title
textlineheight=14
textalignh=1
textshadow=yes
colour=0xebe0bc

// 222:131
[tooltip_content]
type=text
y=12
width=150
height=80
xmode=abs_centre
ymode=abs_centre
layer=tooltip_box
textfont=p12_full
text=Placeholder description
textalignh=1
textshadow=yes
colour=0xebe0bc

