// 1034:0
[love_emote_button]
type=layer
x=-144
y=-64
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 1034:1
[love_weapon_button]
type=layer
x=-104
y=-6
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 1034:2
[love_crown_button]
type=layer
x=-58
y=44
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 1034:3
[love_emote_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_2
graphic="aif_valentine_shop_icons_2014,11"
colour=0xffffff
clickmask=no

// 1034:4
[popup_background]
type=graphic
x=-1
y=-7
width=320
height=250
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
graphic=aif_valentine_shop_inlay_2014
colour=0xffffff
clickmask=no

// 1034:5
[popup_icon]
type=graphic
x=-103
y=-47
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
graphic="aif_valentine_shop_icons_2014,10"
colour=0xffffff
clickmask=no

// 1034:6
[wof65_valentines_shop]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
onload=script1643

// 1034:7
[background_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=wof65_valentines_shop

// 1034:8
[background_heart]
type=graphic
width=370
height=315
xmode=abs_centre
ymode=abs_centre
layer=background_layer
graphic=aif_valentine_shop_bg_2014_en
colour=0xffffff
clickmask=no

// 1034:9
[notes_text]
type=text
y=-33
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_13pt_regular
text=9999999
textalignh=1
textalignv=1
textshadow=yes
colour=0xfdce7e

// 1034:10
[love_emote_cost]
type=text
x=-137
y=-95
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=1,750
textshadow=yes
colour=0xffcb05

// 1034:11
[hate_emote_cost]
type=text
x=137
y=-95
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=1,750
textshadow=yes
colour=0xffcb05

// 1034:12
[love_weapon_cost]
type=text
x=-99
y=-37
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=1,000
textshadow=yes
colour=0xffcb05

// 1034:13
[hate_weapon_cost]
type=text
x=95
y=-37
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=1,000
textshadow=yes
colour=0xffcb05

// 1034:14
[love_crown_cost]
type=text
x=-44
y=13
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=800
textshadow=yes
colour=0xffcb05

// 1034:15
[hate_crown_cost]
type=text
x=50
y=13
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=800
textshadow=yes
colour=0xffcb05

// 1034:16
[random_chocolate_cost]
type=text
x=6
y=52
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=50
textshadow=yes
colour=0xffcb05

// 1034:17
[title]
type=text
y=-56
width=28
height=11
xmode=abs_centre
ymode=abs_centre
layer=background_layer
textfont=museo_sans_11pt_regular
text=Valentine notes:
textalignh=1
textalignv=1
textshadow=yes
colour=0xffcb05

// 1034:18
[content_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=wof65_valentines_shop

// 1034:19
[hate_emote_button]
type=layer
x=143
y=-64
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 1034:20
[hate_weapon_button]
type=layer
x=102
y=-6
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 1034:21
[hate_crown_button]
type=layer
x=56
y=44
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 1034:22
[random_chocolate_button]
type=layer
x=-1
y=83
width=48
height=52
xmode=abs_centre
ymode=abs_centre
layer=content_layer

// 1034:23
[popup_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=wof65_valentines_shop
hide=yes
noclickthrough=yes

// 1034:24
[accept]
type=layer
x=-55
y=25
width=100
height=26
xmode=abs_centre
ymode=abs_centre
layer=popup_layer

// 1034:25
[cancel]
type=layer
x=50
y=25
width=100
height=26
xmode=abs_centre
ymode=abs_centre
layer=popup_layer

// 1034:26
[close_button_layer]
type=layer
x=153
y=-122
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=wof65_valentines_shop

// 1034:27
[popup_description]
type=text
x=33
y=-60
width=200
height=60
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
textfont=museo_sans_11pt_regular
text=Emote (free/members).
textlineheight=16
textalignv=1
textshadow=yes
colour=0x7592a0

// 1034:28
[popup_question]
type=text
y=8
width=267
height=44
xmode=abs_centre
ymode=abs_centre
layer=popup_layer
textfont=verdana_11pt_regular
text=Are you sure you wish to claim this reward?
textlineheight=16
textalignh=1
textshadow=yes
colour=0xfdce7e

// 1034:29
[window_1_close_button]
type=graphic
width=16
height=16
xmode=abs_centre
ymode=abs_centre
layer=close_button_layer
graphic=rs3_btn_modal_window_1_close_ovr
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Close
onop=closebutton_click

// 1034:30
[window_1_close_button_over]
type=graphic
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=close_button_layer
graphic="aif_close_1,1"
trans=255
colour=0xffffff
clickmask=no
onmouseover=script4209(event_com, 0)
onmouseleave=script4209(event_com, 1)

// 1034:31
[window_1_close_button_hit]
type=graphic
width=19
height=19
xmode=abs_centre
ymode=abs_centre
layer=close_button_layer
graphic="aif_close_1,2"
trans=255
colour=0xffffff
clickmask=no
onclick=script4207(event_com, 0)
onrelease=script4207(event_com, 1)

// 1034:32
[resizable_3x3_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept
onload=script7699(event_com)

// 1034:33
[resizable_3x3_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept
onload=script7728(event_com)

// 1034:34
[resizable_3x3_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept
onload=script7729(event_com)

// 1034:35
[resizable_3x3_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept
hide=yes
onload=script8225(event_com)

// 1034:36
[confirm_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=accept
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1034:37
[resizable_3x3_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept
hide=yes
onload=script8228(event_com)

// 1034:38
[resizable_3x3_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=accept

// 1034:39
[resizable_3x3_button_text]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Accept
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1034:40
[resizable_3x3_button_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel
onload=script7699(event_com)

// 1034:41
[resizable_3x3_button_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel
onload=script7728(event_com)

// 1034:42
[resizable_3x3_button_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel
onload=script7729(event_com)

// 1034:43
[resizable_3x3_button_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel
hide=yes
onload=script8225(event_com)

// 1034:44
[cancel_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=cancel
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1034:45
[resizable_3x3_button_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel
hide=yes
onload=script8228(event_com)

// 1034:46
[resizable_3x3_button_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel

// 1034:47
[resizable_3x3_button_text_1]
type=text
width=4
height=4
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_1
textfont=museo_sans_11pt_regular_multiline
text=Cancel
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script7993(event_com)

// 1034:48
[resizable_3x3_button_on_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_emote_button
onload=script7699(event_com)

// 1034:49
[resizable_3x3_button_over_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_emote_button
onload=script7728(event_com)

// 1034:50
[resizable_3x3_button_hit_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_emote_button
onload=script7729(event_com)

// 1034:51
[resizable_3x3_button_selected_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_emote_button
hide=yes
onload=script8225(event_com)

// 1034:52
[love_emote_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=love_emote_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1034:53
[resizable_3x3_button_disabled_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_emote_button
hide=yes
onload=script8228(event_com)

// 1034:54
[resizable_3x3_button_text_layer_2]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_emote_button

// 1034:55
[resizable_3x3_button_on_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_weapon_button
onload=script7699(event_com)

// 1034:56
[resizable_3x3_button_over_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_weapon_button
onload=script7728(event_com)

// 1034:57
[resizable_3x3_button_hit_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_weapon_button
onload=script7729(event_com)

// 1034:58
[resizable_3x3_button_selected_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_weapon_button
hide=yes
onload=script8225(event_com)

// 1034:59
[love_weapon_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=love_weapon_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1034:60
[resizable_3x3_button_disabled_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_weapon_button
hide=yes
onload=script8228(event_com)

// 1034:61
[resizable_3x3_button_text_layer_3]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_weapon_button

// 1034:62
[love_weapon_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_3
graphic="aif_valentine_shop_icons_2014,6"
colour=0xffffff
clickmask=no

// 1034:63
[resizable_3x3_button_on_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_crown_button
onload=script7699(event_com)

// 1034:64
[resizable_3x3_button_over_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_crown_button
onload=script7728(event_com)

// 1034:65
[resizable_3x3_button_hit_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_crown_button
onload=script7729(event_com)

// 1034:66
[resizable_3x3_button_selected_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_crown_button
hide=yes
onload=script8225(event_com)

// 1034:67
[love_crown_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=love_crown_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1034:68
[resizable_3x3_button_disabled_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_crown_button
hide=yes
onload=script8228(event_com)

// 1034:69
[resizable_3x3_button_text_layer_4]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=love_crown_button

// 1034:70
[love_crown_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_4
graphic="aif_valentine_shop_icons_2014,9"
colour=0xffffff
clickmask=no

// 1034:71
[resizable_3x3_button_on_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_crown_button
onload=script7699(event_com)

// 1034:72
[resizable_3x3_button_over_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_crown_button
onload=script7728(event_com)

// 1034:73
[resizable_3x3_button_hit_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_crown_button
onload=script7729(event_com)

// 1034:74
[resizable_3x3_button_selected_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_crown_button
hide=yes
onload=script8225(event_com)

// 1034:75
[hate_crown_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=hate_crown_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1034:76
[resizable_3x3_button_disabled_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_crown_button
hide=yes
onload=script8228(event_com)

// 1034:77
[resizable_3x3_button_text_layer_5]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_crown_button

// 1034:78
[hate_crown_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_5
graphic="aif_valentine_shop_icons_2014,8"
colour=0xffffff
clickmask=no

// 1034:79
[resizable_3x3_button_on_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_weapon_button
onload=script7699(event_com)

// 1034:80
[resizable_3x3_button_over_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_weapon_button
onload=script7728(event_com)

// 1034:81
[resizable_3x3_button_hit_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_weapon_button
onload=script7729(event_com)

// 1034:82
[resizable_3x3_button_selected_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_weapon_button
hide=yes
onload=script8225(event_com)

// 1034:83
[hate_weapon_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=hate_weapon_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1034:84
[resizable_3x3_button_disabled_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_weapon_button
hide=yes
onload=script8228(event_com)

// 1034:85
[resizable_3x3_button_text_layer_6]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_weapon_button

// 1034:86
[hate_weapon_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_6
graphic="aif_valentine_shop_icons_2014,7"
colour=0xffffff
clickmask=no

// 1034:87
[resizable_3x3_button_on_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_emote_button
onload=script7699(event_com)

// 1034:88
[resizable_3x3_button_over_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_emote_button
onload=script7728(event_com)

// 1034:89
[resizable_3x3_button_hit_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_emote_button
onload=script7729(event_com)

// 1034:90
[resizable_3x3_button_selected_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_emote_button
hide=yes
onload=script8225(event_com)

// 1034:91
[hate_emote_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=hate_emote_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1034:92
[resizable_3x3_button_disabled_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_emote_button
hide=yes
onload=script8228(event_com)

// 1034:93
[resizable_3x3_button_text_layer_7]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=hate_emote_button

// 1034:94
[hate_emote_icon]
type=graphic
width=40
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_7
graphic="aif_valentine_shop_icons_2014,10"
colour=0xffffff
clickmask=no

// 1034:95
[resizable_3x3_button_on_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=random_chocolate_button
onload=script7699(event_com)

// 1034:96
[resizable_3x3_button_over_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=random_chocolate_button
onload=script7728(event_com)

// 1034:97
[resizable_3x3_button_hit_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=random_chocolate_button
onload=script7729(event_com)

// 1034:98
[resizable_3x3_button_selected_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=random_chocolate_button
hide=yes
onload=script8225(event_com)

// 1034:99
[random_chocolate_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=random_chocolate_button
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1034:100
[resizable_3x3_button_disabled_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=random_chocolate_button
hide=yes
onload=script8228(event_com)

// 1034:101
[resizable_3x3_button_text_layer_8]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=random_chocolate_button

// 1034:102
[chocolate_icon]
type=graphic
width=36
height=40
xmode=abs_centre
ymode=abs_centre
layer=resizable_3x3_button_text_layer_8
graphic="aif_valentine_shop_icons,6"
colour=0xffffff
clickmask=no

