// 1316:0
[bg1]
type=graphic
width=480
height=300
layer=bespoke_window_content
graphic=nxt_beta_popup_en
colour=0xffffff
clickmask=no

// 1316:1
[bg2]
type=graphic
width=240
height=150
xmode=abs_right
layer=bespoke_window_content
colour=0xffffff
clickmask=no

// 1316:2
[bg3]
type=graphic
width=240
height=150
ymode=abs_bottom
layer=bespoke_window_content
colour=0xffffff
clickmask=no

// 1316:3
[bg4]
type=graphic
width=240
height=150
xmode=abs_right
ymode=abs_bottom
layer=bespoke_window_content
colour=0xffffff
clickmask=no

// 1316:4
[extra_btn]
type=graphic
width=146
height=55
xmode=abs_centre
ymode=abs_bottom
layer=extra_btn_layer
noclickthrough=yes
graphic=button_select_default
colour=0xffffff
clickmask=no

// 1316:5
[extra_btn_text]
type=text
y=-2
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=extra_btn_layer
noclickthrough=yes
textfont=cinzel_13pt_bold
text=Teleport
textalignh=1
textalignv=1
colour=0x272626

// 1316:6
[active_layer_primary]
type=layer
x=240
y=14
width=140
height=40
ymode=abs_bottom
layer=bespoke_window_content
hide=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1316:7
[extra_btn_layer]
type=layer
width=130
height=50
xmode=abs_centre
ymode=abs_centre
layer=active_layer_primary
hide=yes

// 1316:8
[active_layer_secondary]
type=layer
x=240
y=14
width=140
height=40
xmode=abs_right
ymode=abs_bottom
layer=bespoke_window_content
hide=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1316:9
[active_layer_tertiary]
type=layer
x=170
y=200
width=140
height=40
layer=bespoke_window_content
hide=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 1316:10
[tickbox_layer]
type=layer
height=30
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bespoke_window_content
noclickthrough=yes
transmitop1=yes
op1=Toggle

// 1316:11
[bespoke_window]
type=layer
width=488
height=308
xmode=abs_centre
ymode=abs_centre
onload=script8420(wof_login_popup:bespoke_window_background, wof_login_popup:bespoke_window_border, wof_login_popup:bespoke_window_content, null, "", 21259, null)

// 1316:12
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1316:13
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1316:14
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1316:15
[close_button_layer]
type=graphic
width=32
height=32
xmode=abs_right
layer=bespoke_window
graphic="rs3_btn_close_24px,0"
colour=0xffffff
clickmask=no
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13914(event_com, rs3tli_24px_close_button)
onop=closebutton_click

// 1316:16
[checkbox_layer]
type=layer
x=4
y=4
width=16
height=16
ymode=abs_bottom
layer=tickbox_layer

// 1316:17
[do_not_show_text]
type=text
x=24
y=4
width=271
height=16
ymode=abs_bottom
layer=tickbox_layer
textfont=museo_sans_13pt_regular
text=Don't show this again
textalignv=1
textshadow=yes

// 1316:18
[checkbox_selected_layer]
type=layer
width=16391
height=16384
widthmode=proportion
heightmode=proportion
layer=checkbox_layer
onload=script4519(event_com)

// 1316:19
[checkbox_deselected_layer]
type=layer
width=16391
height=16391
widthmode=proportion
heightmode=proportion
layer=checkbox_layer
onload=script4520(event_com)

