// 1612:0
[positive_button_layer]
type=layer
x=-75
y=15
width=100
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_window_content

// 1612:1
[confirm_window]
type=layer
width=360
height=200
xmode=abs_centre
ymode=abs_centre
hide=yes
noclickthrough=yes
onload=script10069(worldmap_v2_confirm:confirm_window_background, worldmap_v2_confirm:confirm_window_border, worldmap_v2_confirm:confirm_window_content, worldmap_v2_confirm:confirm_window_close_button, "Confirmation", 28782, null, string_21401)

// 1612:2
[confirm_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirm_window

// 1612:3
[confirm_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=confirm_window

// 1612:4
[neutral_button_layer]
type=layer
x=75
y=15
width=100
height=27
xmode=abs_centre
ymode=abs_bottom
layer=confirm_window_content

// 1612:5
[confirm_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=confirm_window

// 1612:6
[confirm_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=confirm_window
transmitop1=yes
op1=Close
onop=script10090

// 1612:7
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7041(event_com)

// 1612:8
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7042(event_com)

// 1612:9
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7044(event_com)

// 1612:10
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7047(event_com)

// 1612:11
[positive_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1612:12
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7060(event_com)

// 1612:13
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer

// 1612:14
[positive_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Positive
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1612:15
[neutral_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
onload=script7062(event_com)

// 1612:16
[neutral_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
onload=script7063(event_com)

// 1612:17
[neutral_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
onload=script7065(event_com)

// 1612:18
[neutral_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
hide=yes
onload=script7068(event_com)

// 1612:19
[neutral_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=neutral_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1612:20
[neutral_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer
hide=yes
onload=script7074(event_com)

// 1612:21
[neutral_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_layer

// 1612:22
[neutral_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=neutral_button_text_layer
textfont=cinzel_13pt_bold
text=Neutral
textalignh=1
textalignv=1
colour=0x000000
onload=script7232(event_com)

