// 698:0
[upsell_window]
type=layer
width=552
height=366
xmode=abs_centre
ymode=abs_centre
hide=yes
noclickthrough=yes
onload=script8420(worldmap_v2_upsell:upsell_window_background, worldmap_v2_upsell:upsell_window_border, worldmap_v2_upsell:upsell_window_content, worldmap_v2_upsell:upsell_window_close_button, "Upsell", 21218, null)

// 698:1
[upsell_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=upsell_window
noclickthrough=yes

// 698:2
[upsell_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=upsell_window

// 698:3
[teleport_button_layer]
type=layer
y=3
width=200
height=27
xmode=abs_centre
ymode=abs_bottom
layer=upsell_window_content
hide=yes

// 698:4
[subsribe_button_layer]
type=layer
y=3
width=200
height=27
xmode=abs_centre
ymode=abs_bottom
layer=upsell_window_content

// 698:5
[upsell_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=upsell_window

// 698:6
[upsell_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=upsell_window
transmitop1=yes
op1=Close
onop=script10090

// 698:7
[subscribe_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subsribe_button_layer
onload=script7041(event_com)

// 698:8
[subscribe_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subsribe_button_layer
onload=script7042(event_com)

// 698:9
[subscribe_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subsribe_button_layer
onload=script7044(event_com)

// 698:10
[subscribe_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subsribe_button_layer
hide=yes
onload=script7047(event_com)

// 698:11
[subscribe_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=subsribe_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 698:12
[subscribe_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subsribe_button_layer
hide=yes
onload=script7060(event_com)

// 698:13
[subscribe_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subsribe_button_layer

// 698:14
[subscribe_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=subscribe_button_text_layer
textfont=notosans_bold_13
text=Become a Member
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 698:15
[teleport_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=teleport_button_layer
onload=script7041(event_com)

// 698:16
[teleport_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=teleport_button_layer
onload=script7042(event_com)

// 698:17
[teleport_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=teleport_button_layer
onload=script7044(event_com)

// 698:18
[teleport_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=teleport_button_layer
hide=yes
onload=script7047(event_com)

// 698:19
[teleport_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=teleport_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 698:20
[teleport_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=teleport_button_layer
hide=yes
onload=script7060(event_com)

// 698:21
[teleport_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=teleport_button_layer

// 698:22
[teleport_button_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=teleport_button_text_layer
textfont=notosans_bold_13
text=Teleport
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

