// 890:0
[base]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
onload=script8420(xmas13_list_nice:background, xmas13_list_nice:border, xmas13_list_nice:content, xmas13_list_nice:close_button, "Santa's Nice List", 21217, string_1007)

// 890:1
[background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=base

// 890:2
[content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=base
onload=script9559

// 890:3
[com_3]
type=graphic
width=8192
height=125
widthmode=proportion
layer=content
graphic="aif_scroll_bkgrd_graphic_1,0"
colour=0xffffff
clickmask=no

// 890:4
[com_4]
type=graphic
width=8192
height=125
widthmode=proportion
xmode=abs_right
layer=content
graphic="aif_scroll_bkgrd_graphic_1,1"
colour=0xffffff
clickmask=no

// 890:5
[com_5]
type=graphic
width=8192
height=125
widthmode=proportion
ymode=abs_bottom
layer=content
graphic="aif_scroll_bkgrd_graphic_1,4"
colour=0xffffff
clickmask=no

// 890:6
[border]
type=layer
widthmode=minus
heightmode=minus
layer=base

// 890:7
[close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=base
transmitop1=yes
op1=Close
onop=closebutton_click

// 890:8
[com_8]
type=graphic
width=8192
height=125
widthmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=content
graphic="aif_scroll_bkgrd_graphic_1,5"
colour=0xffffff
clickmask=no

// 890:9
[com_9]
type=graphic
width=8192
height=120
widthmode=proportion
ymode=abs_centre
layer=content
graphic="aif_scroll_bkgrd_graphic_1,2"
colour=0xffffff
clickmask=no

// 890:10
[com_10]
type=graphic
width=8192
height=120
widthmode=proportion
xmode=abs_right
ymode=abs_centre
layer=content
graphic="aif_scroll_bkgrd_graphic_1,3"
colour=0xffffff
clickmask=no

// 890:11
[com_11]
type=graphic
x=418
y=204
width=63
height=63
layer=content
graphic="aif_xmas_present_box_91px,0"
2dangle=2548
colour=0xffffff
clickmask=no

// 890:12
[com_12]
type=graphic
x=410
y=235
width=32
height=32
layer=content
graphic="aif_xmas_present_box_32px,1"
colour=0xffffff
clickmask=no

// 890:13
[com_13]
type=graphic
x=20
y=217
width=60
height=60
layer=content
graphic="aif_xmas_present_box_91px,1"
2dangle=61348
colour=0xffffff
clickmask=no

// 890:14
[com_14]
type=text
x=59
y=50
width=32
height=32
layer=content
textfont=cinzel_25pt_bold_multiline
text=1.
textalignv=1
colour=0x1a1a1a

// 890:15
[com_15]
type=text
x=59
y=86
width=32
height=32
layer=content
textfont=cinzel_25pt_bold_multiline
text=2.
textalignv=1
colour=0x1a1a1a

// 890:16
[com_16]
type=text
x=59
y=122
width=32
height=32
layer=content
textfont=cinzel_25pt_bold_multiline
text=3.
textalignv=1
colour=0x1a1a1a

// 890:17
[com_17]
type=text
x=59
y=158
width=32
height=32
layer=content
textfont=cinzel_25pt_bold_multiline
text=4.
textalignv=1
colour=0x1a1a1a

// 890:18
[com_18]
type=text
x=59
y=194
width=32
height=32
layer=content
textfont=cinzel_25pt_bold_multiline
text=5.
textalignv=1
colour=0x1a1a1a

// 890:19
[name1]
type=text
x=91
y=49
width=220
height=37
layer=content
textfont=cinzel_18pt_bold
text=Player name
textalignv=1
colour=0x4e1414

// 890:20
[name2]
type=text
x=91
y=85
width=220
height=37
layer=content
textfont=cinzel_18pt_bold
text=Player name
textalignv=1
colour=0x4e1414

// 890:21
[name3]
type=text
x=91
y=121
width=220
height=37
layer=content
textfont=cinzel_18pt_bold
text=Player name
textalignv=1
colour=0x4e1414

// 890:22
[name4]
type=text
x=91
y=157
width=220
height=37
layer=content
textfont=cinzel_18pt_bold
text=Player name
textalignv=1
colour=0x4e1414

// 890:23
[name5]
type=text
x=91
y=193
width=220
height=37
layer=content
textfont=cinzel_18pt_bold
text=Player name
textalignv=1
colour=0x4e1414

// 890:24
[score1]
type=text
x=341
y=49
width=74
height=33
layer=content
textfont=cinzel_15pt_bold
text=2147483647
textalignv=1
colour=0x5b5b5b

// 890:25
[score2]
type=text
x=341
y=85
width=74
height=33
layer=content
textfont=cinzel_15pt_bold
text=2147483647
textalignv=1
colour=0x5b5b5b

// 890:26
[score3]
type=text
x=341
y=121
width=74
height=33
layer=content
textfont=cinzel_15pt_bold
text=2147483647
textalignv=1
colour=0x5b5b5b

// 890:27
[score4]
type=text
x=341
y=157
width=74
height=33
layer=content
textfont=cinzel_15pt_bold
text=2147483647
textalignv=1
colour=0x5b5b5b

// 890:28
[score5]
type=text
x=341
y=193
width=74
height=33
layer=content
textfont=cinzel_15pt_bold
text=2147483647
textalignv=1
colour=0x5b5b5b

