// 125:0
[base]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
ymode=abs_centre
onload=script8420(xmas13_list_naughty:background, xmas13_list_naughty:border, xmas13_list_naughty:content, xmas13_list_naughty:close_button, "Santa's Naughty List", 21217, string_1007)

// 125:1
[background]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=base

// 125:2
[content]
type=layer
y=40
width=16
height=48
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=base
onload=script9560

// 125:3
[com_3]
type=graphic
width=8192
height=125
widthmode=proportion
layer=content
graphic="aif_scroll_bkgrd_graphic_1,0"
colour=0xffffff
clickmask=no

// 125:4
[com_4]
type=graphic
width=8192
height=125
widthmode=proportion
xmode=abs_right
layer=content
graphic="aif_scroll_bkgrd_graphic_1,1"
colour=0xffffff
clickmask=no

// 125:5
[com_5]
type=graphic
width=8192
height=125
widthmode=proportion
ymode=abs_bottom
layer=content
graphic="aif_scroll_bkgrd_graphic_1,4"
colour=0xffffff
clickmask=no

// 125:6
[border]
type=layer
widthmode=minus
heightmode=minus
layer=base

// 125:7
[close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=base
transmitop1=yes
op1=Close
onop=closebutton_click

// 125:8
[com_8]
type=graphic
width=8192
height=125
widthmode=proportion
xmode=abs_right
ymode=abs_bottom
layer=content
graphic="aif_scroll_bkgrd_graphic_1,5"
colour=0xffffff
clickmask=no

// 125:9
[com_9]
type=graphic
width=8192
height=120
widthmode=proportion
ymode=abs_centre
layer=content
graphic="aif_scroll_bkgrd_graphic_1,2"
colour=0xffffff
clickmask=no

// 125:10
[com_10]
type=graphic
width=8192
height=120
widthmode=proportion
xmode=abs_right
ymode=abs_centre
layer=content
graphic="aif_scroll_bkgrd_graphic_1,3"
colour=0xffffff
clickmask=no

// 125:11
[com_11]
type=model
x=446
y=221
width=32
height=32
layer=content
model=xmas13_weapon_snowball_evil
modelorigin_x=2
modelorigin_y=9
modelangle_x=273
modelangle_y=1879
modelangle_z=0
modelzoom=570

// 125:12
[com_12]
type=model
x=416
y=231
width=33
height=32
layer=content
model=xmas13_weapon_snowball_evil
modelorigin_x=-3
modelorigin_y=5
modelangle_x=414
modelangle_y=213
modelangle_z=0
modelzoom=592

// 125:13
[com_13]
type=model
x=427
y=208
width=31
height=30
layer=content
model=xmas13_weapon_snowball_evil
modelorigin_x=2
modelorigin_y=5
modelangle_x=420
modelangle_y=1912
modelangle_z=0
modelzoom=609

// 125:14
[com_14]
type=model
x=361
y=232
width=31
height=30
layer=content
model=xmas13_weapon_snowball_evil
modelorigin_x=2
modelorigin_y=5
modelangle_x=420
modelangle_y=1912
modelangle_z=0
modelzoom=620

// 125:15
[com_15]
type=model
x=17
y=216
width=53
height=49
layer=content
model=smithing_ore_coal
modelorigin_x=2
modelorigin_y=-1
modelangle_x=378
modelangle_y=6
modelangle_z=0
modelzoom=800

// 125:16
[com_16]
type=text
x=59
y=50
width=32
height=32
layer=content
textfont=cinzel_25pt_bold_multiline
text=1.
textalignv=1
colour=0x1a1a1a

// 125:17
[com_17]
type=text
x=59
y=86
width=32
height=32
layer=content
textfont=cinzel_25pt_bold_multiline
text=2.
textalignv=1
colour=0x1a1a1a

// 125:18
[com_18]
type=text
x=59
y=122
width=32
height=32
layer=content
textfont=cinzel_25pt_bold_multiline
text=3.
textalignv=1
colour=0x1a1a1a

// 125:19
[com_19]
type=text
x=59
y=158
width=32
height=32
layer=content
textfont=cinzel_25pt_bold_multiline
text=4.
textalignv=1
colour=0x1a1a1a

// 125:20
[com_20]
type=text
x=59
y=194
width=32
height=32
layer=content
textfont=cinzel_25pt_bold_multiline
text=5.
textalignv=1
colour=0x1a1a1a

// 125:21
[name1]
type=text
x=91
y=49
width=220
height=37
layer=content
textfont=cinzel_18pt_bold
text=Player name
textalignv=1
colour=0x4e1414

// 125:22
[name2]
type=text
x=91
y=85
width=220
height=37
layer=content
textfont=cinzel_18pt_bold
text=Player name
textalignv=1
colour=0x4e1414

// 125:23
[name3]
type=text
x=91
y=121
width=220
height=37
layer=content
textfont=cinzel_18pt_bold
text=Player name
textalignv=1
colour=0x4e1414

// 125:24
[name4]
type=text
x=91
y=157
width=220
height=37
layer=content
textfont=cinzel_18pt_bold
text=Player name
textalignv=1
colour=0x4e1414

// 125:25
[name5]
type=text
x=91
y=193
width=220
height=37
layer=content
textfont=cinzel_18pt_bold
text=Player name
textalignv=1
colour=0x4e1414

// 125:26
[score1]
type=text
x=341
y=49
width=74
height=33
layer=content
textfont=cinzel_15pt_bold
text=2147483647
textalignv=1
colour=0x5b5b5b

// 125:27
[score2]
type=text
x=341
y=85
width=74
height=33
layer=content
textfont=cinzel_15pt_bold
text=2147483647
textalignv=1
colour=0x5b5b5b

// 125:28
[score3]
type=text
x=341
y=121
width=74
height=33
layer=content
textfont=cinzel_15pt_bold
text=2147483647
textalignv=1
colour=0x5b5b5b

// 125:29
[score4]
type=text
x=341
y=157
width=74
height=33
layer=content
textfont=cinzel_15pt_bold
text=2147483647
textalignv=1
colour=0x5b5b5b

// 125:30
[score5]
type=text
x=341
y=193
width=74
height=33
layer=content
textfont=cinzel_15pt_bold
text=2147483647
textalignv=1
colour=0x5b5b5b

