// 1694:0
[bespoke_window]
type=layer
y=51
width=178
height=74
xmode=abs_centre
onload=script8420(xmas15_bake_off:bespoke_window_background, xmas15_bake_off:bespoke_window_border, xmas15_bake_off:bespoke_window_content, null, "", 21259, null)

// 1694:1
[bespoke_window_background]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1694:2
[bespoke_window_content]
type=layer
x=4
y=4
width=8
height=8
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1694:3
[bespoke_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window

// 1694:4
[content]
type=layer
y=55
width=170
height=66
xmode=abs_centre

// 1694:5
[com_5]
type=text
x=34
width=16391
height=17
widthmode=proportion
xmode=abs_centre
layer=content
textfont=museo_sans_11pt_regular
text=Food to cook:
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1694:6
[correct_cook]
type=text
x=34
y=12
width=16391
height=20
widthmode=proportion
xmode=abs_centre
layer=content
textfont=museo_sans_13pt_bold
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 2)
onmouseleave=script8805
onmouserepeat=script8799("Cook this food to receive the most Cooking XP.", event_com, event_comsubid)

// 1694:7
[com_7]
type=text
x=34
y=31
width=16391
height=17
widthmode=proportion
xmode=abs_centre
layer=content
textfont=museo_sans_11pt_regular
text=Food to taste:
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 3)

// 1694:8
[correct_taste]
type=text
x=34
y=43
width=16391
height=20
widthmode=proportion
xmode=abs_centre
layer=content
textfont=museo_sans_13pt_bold
textalignv=1
textshadow=yes
colour=0x7592a0
onload=script10496(event_com, event_comsubid, 2)
onmouseleave=script8805
onmouserepeat=script8799("Taste this food to receive the most Defence XP.", event_com, event_comsubid)

// 1694:9
[cooking_icon]
type=graphic
x=3
y=3
width=25
height=25
layer=content
graphic="staticons,15"
colour=0xffffff
clickmask=no

// 1694:10
[defence_icon]
type=graphic
x=3
y=35
width=25
height=25
layer=content
graphic="staticons,2"
colour=0xffffff
clickmask=no

