// 658:0
[bow]
type=layer
width=80
height=80
layer=weapons_layer
onload=script10896(xmas07_hat:bow_build, xmas07_hat:bow_click, rs3tli_3x3_button)

// 658:1
[staff]
type=layer
width=80
height=80
xmode=abs_centre
layer=weapons_layer
onload=script10896(xmas07_hat:staff_build, xmas07_hat:staff_click, rs3tli_3x3_button)

// 658:2
[sword]
type=layer
width=80
height=80
xmode=abs_right
layer=weapons_layer
onload=script10896(xmas07_hat:sword_build, xmas07_hat:sword_click, rs3tli_3x3_button)

// 658:3
[barbarian]
type=layer
x=10
y=10
width=80
height=80
layer=mainmodal_window_content
onload=script10896(xmas07_hat:barb_build, xmas07_hat:barb_click, rs3tli_3x3_button)

// 658:4
[dragon]
type=layer
x=100
y=10
width=80
height=80
layer=mainmodal_window_content
onload=script10896(xmas07_hat:dragon_build, xmas07_hat:dragon_click, rs3tli_3x3_button)

// 658:5
[dwarf]
type=layer
x=190
y=10
width=80
height=80
layer=mainmodal_window_content
onload=script10896(xmas07_hat:dwarf_build, xmas07_hat:dwarf_click, rs3tli_3x3_button)

// 658:6
[pirate]
type=layer
x=280
y=10
width=80
height=80
layer=mainmodal_window_content
onload=script10896(xmas07_hat:pirate_build, xmas07_hat:pirate_click, rs3tli_3x3_button)

// 658:7
[mainmodal_window]
type=layer
width=35
height=100
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(xmas07_hat:mainmodal_window_background, xmas07_hat:mainmodal_window_border, xmas07_hat:mainmodal_window_content, xmas07_hat:mainmodal_window_close_button, "Select Snowman Equipment", 21218, string_1007)

// 658:8
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 658:9
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 658:10
[tophat]
type=layer
x=370
y=10
width=80
height=80
layer=mainmodal_window_content
onload=script10896(xmas07_hat:tophat_build, xmas07_hat:tophat_click, rs3tli_3x3_button)

// 658:11
[weapons_layer]
type=layer
y=100
width=260
height=80
xmode=abs_centre
layer=mainmodal_window_content
hide=yes

// 658:12
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 658:13
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 658:14
[barb_build]
type=layer
widthmode=minus
heightmode=minus
layer=barbarian

// 658:15
[com_15]
type=model
y=5
width=40
height=37
xmode=abs_centre
layer=barbarian
model=xmas07_hat_barbarian
modelorigin_x=-3
modelorigin_y=14
modelangle_x=150
modelangle_y=2041
modelangle_z=0
modelzoom=912

// 658:16
[barbarian_hat]
type=text
y=4
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=barbarian
textfont=museo_sans_11pt_regular
text= Barbarian hat
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 658:17
[barb_click]
type=layer
widthmode=minus
heightmode=minus
layer=barbarian
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 658:18
[dragon_build]
type=layer
widthmode=minus
heightmode=minus
layer=dragon

// 658:19
[dragon_hat]
type=text
y=4
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=dragon
textfont=museo_sans_11pt_regular
text=Dragon hat
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 658:20
[com_20]
type=model
y=5
width=49
height=35
xmode=abs_centre
layer=dragon
model=xmas07_hat_dragon
modelorigin_x=3
modelorigin_y=16
modelangle_x=33
modelangle_y=3
modelangle_z=0
modelzoom=1168

// 658:21
[dragon_click]
type=layer
widthmode=minus
heightmode=minus
layer=dragon
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 658:22
[dwarf_build]
type=layer
widthmode=minus
heightmode=minus
layer=dwarf

// 658:23
[dwarf_hat]
type=text
y=4
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=dwarf
textfont=museo_sans_11pt_regular
text=Dwarf hat
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
opbase= 
onload=script10496(event_com, event_comsubid, 2)

// 658:24
[com_24]
type=model
y=5
width=37
height=28
xmode=abs_centre
layer=dwarf
model=xmas07_hat_dwarf
modelorigin_x=2
modelorigin_y=13
modelangle_x=15
modelangle_y=1936
modelangle_z=0
modelzoom=1040

// 658:25
[dwarf_click]
type=layer
widthmode=minus
heightmode=minus
layer=dwarf
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 658:26
[pirate_build]
type=layer
widthmode=minus
heightmode=minus
layer=pirate

// 658:27
[pirate_hat]
type=text
y=4
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=pirate
textfont=museo_sans_11pt_regular
text=Pirate hat
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 658:28
[com_28]
type=model
y=5
width=43
height=29
xmode=abs_centre
layer=pirate
model=xmas07_hat_pirate
modelorigin_x=3
modelorigin_y=8
modelangle_x=231
modelangle_y=48
modelangle_z=0
modelzoom=1040

// 658:29
[pirate_click]
type=layer
widthmode=minus
heightmode=minus
layer=pirate
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 658:30
[tophat_build]
type=layer
widthmode=minus
heightmode=minus
layer=tophat

// 658:31
[top_hat]
type=text
y=4
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=tophat
textfont=museo_sans_11pt_regular
text=Top hat
textalignh=1
textalignv=2
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 658:32
[com_32]
type=model
y=5
width=41
height=33
xmode=abs_centre
layer=tophat
model=xmas07_hat_tophat
modelorigin_x=0
modelorigin_y=12
modelangle_x=150
modelangle_y=2038
modelangle_z=0
modelzoom=1168

// 658:33
[tophat_click]
type=layer
widthmode=minus
heightmode=minus
layer=tophat
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 658:34
[bow_build]
type=layer
widthmode=minus
heightmode=minus
layer=bow

// 658:35
[com_35]
type=model
y=5
width=41
height=48
xmode=abs_centre
layer=bow
model=xmas07_weapon_bow
modelorigin_x=0
modelorigin_y=7
modelangle_x=210
modelangle_y=129
modelangle_z=0
modelzoom=1168

// 658:36
[com_36]
type=text
y=4
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=bow
textfont=museo_sans_11pt_regular
text=Holly Bow
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 658:37
[bow_click]
type=layer
widthmode=minus
heightmode=minus
layer=bow
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 658:38
[staff_build]
type=layer
widthmode=minus
heightmode=minus
layer=staff

// 658:39
[com_39]
type=model
y=5
width=49
height=54
xmode=abs_centre
layer=staff
model=xmas07_weapon_staff
modelorigin_x=2
modelorigin_y=3
modelangle_x=1687
modelangle_y=2032
modelangle_z=0
modelzoom=1168

// 658:40
[com_40]
type=text
y=4
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=staff
textfont=museo_sans_11pt_regular
text=Winter Staff
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 658:41
[staff_click]
type=layer
widthmode=minus
heightmode=minus
layer=staff
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 658:42
[sword_build]
type=layer
widthmode=minus
heightmode=minus
layer=sword

// 658:43
[com_43]
type=model
y=5
width=46
height=47
xmode=abs_centre
layer=sword
model=xmas07_weapon_sword
modelorigin_x=2
modelorigin_y=0
modelangle_x=381
modelangle_y=2041
modelangle_z=0
modelzoom=1296

// 658:44
[com_44]
type=text
y=4
height=24
widthmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=sword
textfont=museo_sans_11pt_regular
text=Ice Sword
textalignh=1
textshadow=yes
colour=0xaed0e0
onload=script10496(event_com, event_comsubid, 2)

// 658:45
[sword_click]
type=layer
widthmode=minus
heightmode=minus
layer=sword
transmitop1=yes
op1=Select
opcursor0=cursor_use

