// 641:0
[bespoke_window_layer]
type=layer
width=1067
height=600
xmode=abs_centre
ymode=abs_centre
onload=script8420(xmas2019_advent:bespoke_background_layer, xmas2019_advent:bespoke_border_layer, xmas2019_advent:main_layer, null, "", 21259, null)

// 641:1
[close_listener]
type=layer
x=-1
y=-1
width=1
height=1
layer=bespoke_window_layer
transmitop1=yes
op1=Close

// 641:2
[bespoke_border_layer]
type=layer
width=1075
height=608
layer=bespoke_window_layer

// 641:3
[bespoke_background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=bespoke_window_layer

// 641:4
[main_layer]
type=layer
width=8
height=8
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=bespoke_window_layer
noclickthrough=yes
onload=script3805

// 641:5
[com_5]
type=rectangle
widthmode=minus
heightmode=minus
layer=preview_layer
hide=yes
noclickthrough=yes
colour=0x02013f
fill=yes
trans=80

// 641:6
[calendar_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=main_layer
onload=script9814(event_com, null)

// 641:7
[free_key_bg]
type=graphic
widthmode=minus
heightmode=minus
layer=free_key_panel
graphic=xmas2019_advent_key_panel
colour=0xffffff
clickmask=no

// 641:8
[background]
type=graphic
widthmode=minus
heightmode=minus
layer=calendar_layer
graphic=christmas_hub_advent_background
colour=0xffffff
clickmask=no

// 641:9
[free_key_panel]
type=layer
x=282
y=252
width=472
height=75
xmode=abs_centre
ymode=abs_centre
layer=calendar_layer
hide=yes

// 641:10
[free_key_text]
type=text
x=149
y=15
width=267
height=32
layer=free_key_panel
textfont=cinzel_18pt_bold_multiline
text=Free key available
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d
onvartransmit=script3807
onvartransmitlist=trh_promos_var5

// 641:11
[progress_bar_full_container]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=calendar_layer

// 641:12
[progress_preview_fake_op]
type=layer
x=-200
width=1
height=1
layer=progress_bar_full_container
transmitop1=yes
transmitop2=yes
op1=Select
op2=Select
opcursor1=cursor_use
opcursor0=cursor_use

// 641:13
[progress_container]
type=layer
x=-17
y=245
width=457
height=32
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_full_container
onvartransmit=trh_update_bar(40619, event_com, xmas2019_advent:progress_layer, 32, 0, 15, xmas2019_advent:progress_text)
onvartransmitlist=trh_promos_var5

// 641:14
[progress_f2p_present]
type=graphic
x=211
y=236
width=93
height=82
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_full_container
graphic=xmas_advent_streak_present_default
colour=0xffffff
clickmask=no

// 641:15
[progress_members_present]
type=graphic
x=292
y=236
width=93
height=82
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_full_container
graphic=xmas_advent_streak_present_default
colour=0xffffff
clickmask=no

// 641:16
[member_icon]
type=graphic
x=292
y=250
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_full_container
graphic="rs3_icon_members_32px,0"
colour=0xffffff
clickmask=no

// 641:17
[f2p_icon]
type=graphic
x=211
y=250
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_full_container
graphic="rs3_icon_non_members_32px,0"
colour=0xffffff
clickmask=no

// 641:18
[progress_f2p_tick]
type=graphic
x=212
y=249
width=48
height=48
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_full_container
hide=yes
graphic=xmas_advent_tick
colour=0xffffff
clickmask=no

// 641:19
[progress_members_tick]
type=graphic
x=292
y=249
width=48
height=48
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_full_container
hide=yes
graphic=xmas_advent_tick
colour=0xffffff
clickmask=no

// 641:20
[com_20]
type=text
x=-1
y=277
width=489
height=32
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_full_container
textfont=cinzel_18pt_bold_multiline
text=Opened on the day
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d
onvartransmit=script3807
onvartransmitlist=trh_promos_var5

// 641:21
[progress_text]
type=text
y=244
width=53
height=22
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_full_container
textfont=cinzel_18pt_bold_multiline
text=0/15
textalignh=1
textalignv=1
textshadow=yes
colour=0xa4bbbb

// 641:22
[reward_mouseover_layer_f2p]
type=layer
x=212
y=234
width=78
height=74
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_full_container
transmitop1=yes
op1=Details
onmouseover=script19644
onmouseleave=script19645
onvartransmit=script19650
onvartransmitlist=trh_promos_var35

// 641:23
[reward_mouseover_layer_members]
type=layer
x=292
y=233
width=78
height=74
xmode=abs_centre
ymode=abs_centre
layer=progress_bar_full_container
transmitop1=yes
op1=Details
onmouseover=script19646
onmouseleave=script19647
onvartransmit=script19650
onvartransmitlist=trh_promos_var35

// 641:24
[com_24]
type=graphic
widthmode=minus
heightmode=minus
layer=progress_container
graphic=xmas2019_advent_bar_bg
colour=0xffffff
clickmask=no

// 641:25
[progress_layer]
type=layer
width=170
height=32
layer=progress_container

// 641:26
[com_26]
type=graphic
x=7
width=443
height=22
ymode=abs_centre
layer=progress_layer
graphic=xmas2019_advent_bar
colour=0xffffff
clickmask=no

// 641:27
[door_layer]
type=layer
width=1067
height=600
xmode=abs_centre
ymode=abs_centre
layer=calendar_layer

// 641:28
[open_door_layer]
type=layer
widthmode=minus
heightmode=minus
layer=main_layer
hide=yes
noclickthrough=yes

// 641:29
[top_bar]
type=layer
height=1524
widthmode=minus
heightmode=proportion
layer=main_layer
noclickthrough=yes

// 641:30
[preview_layer]
type=layer
x=-20
y=80
width=240
height=200
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=main_layer
hide=yes

// 641:31
[com_31]
type=graphic
height=264
widthmode=minus
heightmode=minus
layer=preview_layer
noclickthrough=yes
graphic=xmas_snowflake
trans=60
graphicshadow=131612
hflip=yes
colour=0x3f3f3f
clickmask=no

// 641:32
[com_32]
type=graphic
y=128
height=264
widthmode=minus
heightmode=minus
layer=preview_layer
noclickthrough=yes
graphic=xmas_snowflake
trans=60
graphicshadow=131612
hflip=yes
colour=0x3f3f3f
clickmask=no

// 641:33
[com_33]
type=graphic
y=256
height=264
widthmode=minus
heightmode=minus
layer=preview_layer
noclickthrough=yes
graphic=xmas_snowflake
trans=60
graphicshadow=131612
hflip=yes
colour=0x3f3f3f
clickmask=no

// 641:34
[top_rect]
type=graphic
widthmode=minus
heightmode=minus
layer=top_bar
graphic=container_topbar_mainmenu
colour=0xffffff
clickmask=no

// 641:35
[back]
type=layer
width=100
heightmode=minus
layer=top_bar
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 641:36
[present_layer]
type=layer
widthmode=minus
heightmode=minus
layer=open_door_layer

// 641:37
[blackout_layer]
type=layer
widthmode=minus
heightmode=minus
layer=present_layer
transmitop1=yes
op1=Close

// 641:38
[com_38]
type=rectangle
widthmode=minus
heightmode=minus
layer=blackout_layer
colour=0x000000
fill=yes
trans=100

// 641:39
[claim_panel]
type=layer
width=583
height=441
xmode=abs_centre
ymode=abs_centre
layer=present_layer
noclickthrough=yes

// 641:40
[left_arrow]
type=layer
x=-277
width=123
height=123
xmode=abs_centre
ymode=abs_centre
layer=present_layer
noclickthrough=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 641:41
[right_arrow]
type=layer
x=260
width=123
height=123
xmode=abs_centre
ymode=abs_centre
layer=present_layer
noclickthrough=yes
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 641:42
[com_42]
type=graphic
widthmode=minus
heightmode=minus
layer=right_arrow
graphic=xmas2019_advent_arrow_right
colour=0xffffff
clickmask=no

// 641:43
[com_43]
type=graphic
width=583
height=441
layer=claim_panel
graphic=xmas2021_advent_claim_panel
colour=0xffffff
clickmask=no

// 641:44
[chest]
type=model
y=45
width=253
height=150
xmode=abs_centre
ymode=abs_centre
layer=claim_panel
model=twitch_chest
modelorigin_x=0
modelorigin_y=49
modelangle_x=113
modelangle_y=0
modelangle_z=0
modelzoom=310
modelanim=twitch_jun18_chest_idle
onload=script3821(event_com)
onmouseover=script98
onmouseleave=script100

// 641:45
[claim_layer]
type=layer
y=50
width=258
height=144
xmode=abs_centre
ymode=abs_centre
layer=claim_panel
transmitop1=yes
op1=Select
opcursor0=cursor_use

// 641:46
[treasure_hunter_button_layer]
type=layer
y=65
width=300
height=110
xmode=abs_centre
ymode=abs_bottom
layer=claim_panel
hide=yes
noclickthrough=yes

// 641:47
[claim_now_button_layer]
type=layer
y=100
width=300
height=110
xmode=abs_centre
ymode=abs_centre
layer=claim_panel
hide=yes
noclickthrough=yes

// 641:48
[claim_text]
type=text
x=20
y=349
width=543
height=73
layer=claim_panel
textfont=cinzel_13pt_bold
text=Click on the chest to redeem today's prize!
textalignh=1
textalignv=1
textshadow=yes

// 641:49
[date_text]
type=text
x=20
y=20
width=543
height=74
layer=claim_panel
textfont=cinzel_35pt_bold
text=1st December 2019
textlineheight=10
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:50
[door_17]
type=layer
x=926
y=382
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8680)
onvartransmitlist=trh78_var,trh78_var_1

// 641:51
[door_9]
type=layer
x=926
y=254
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8688)
onvartransmitlist=trh78_var,trh78_var_1

// 641:52
[door_8]
type=layer
x=926
y=127
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8687)
onvartransmitlist=trh78_var,trh78_var_1

// 641:53
[door_7]
type=layer
x=798
y=127
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8699)
onvartransmitlist=trh78_var,trh78_var_2

// 641:54
[door_7_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_7
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:55
[door_text_7]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_7
textfont=cinzel_35pt_bold
text=22
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:56
[door_6]
type=layer
x=670
y=127
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8695)
onvartransmitlist=trh78_var,trh78_var_1

// 641:57
[door_6_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_6
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:58
[door_text_6]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_6
textfont=cinzel_35pt_bold
text=18
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:59
[door_5]
type=layer
x=542
y=127
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8692)
onvartransmitlist=trh78_var,trh78_var_1

// 641:60
[door_5_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_5
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:61
[door_text_5]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_5
textfont=cinzel_35pt_bold
text=15
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:62
[door_4]
type=layer
x=414
y=127
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8696)
onvartransmitlist=trh78_var,trh78_var_1

// 641:63
[door_4_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_4
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:64
[door_text_4]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_4
textfont=cinzel_35pt_bold
text=19
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:65
[door_3]
type=layer
x=286
y=127
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8700)
onvartransmitlist=trh78_var,trh78_var_2

// 641:66
[door_3_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_3
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:67
[door_text_3]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_3
textfont=cinzel_35pt_bold
text=23
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:68
[door_2]
type=layer
x=158
y=127
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8689)
onvartransmitlist=trh78_var,trh78_var_1

// 641:69
[door_2_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_2
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:70
[door_text_2]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_2
textfont=cinzel_35pt_bold
text=12
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:71
[door_1]
type=layer
x=30
y=127
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8694)
onvartransmitlist=trh78_var,trh78_var_1

// 641:72
[door_1_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_1
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:73
[door_text_1]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_1
textfont=cinzel_35pt_bold
text=17
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:74
[door_8_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_8
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:75
[door_text_8]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_8
textfont=cinzel_35pt_bold
text=10
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:76
[door_9_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_9
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:77
[door_text_9]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_9
textfont=cinzel_35pt_bold
text=11
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:78
[door_10]
type=layer
x=798
y=254
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8679)
onvartransmitlist=trh78_var,trh78_var_1

// 641:79
[door_10_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_10
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:80
[door_text_10]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_10
textfont=cinzel_35pt_bold
text=2
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:81
[door_11]
type=layer
x=670
y=254
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8684)
onvartransmitlist=trh78_var,trh78_var_1

// 641:82
[door_11_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_11
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:83
[door_text_11]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_11
textfont=cinzel_35pt_bold
text=7
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:84
[door_12]
type=layer
x=542
y=254
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8686)
onvartransmitlist=trh78_var,trh78_var_1

// 641:85
[door_12_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_12
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:86
[door_text_12]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_12
textfont=cinzel_35pt_bold
text=9
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:87
[door_13]
type=layer
x=414
y=254
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8690)
onvartransmitlist=trh78_var,trh78_var_1

// 641:88
[door_13_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_13
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:89
[door_text_13]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_13
textfont=cinzel_35pt_bold
text=13
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:90
[door_14]
type=layer
x=286
y=254
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8697)
onvartransmitlist=trh78_var,trh78_var_2

// 641:91
[door_14_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_14
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:92
[door_text_14]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_14
textfont=cinzel_35pt_bold
text=20
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:93
[door_15]
type=layer
x=158
y=254
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8685)
onvartransmitlist=trh78_var,trh78_var_1

// 641:94
[door_15_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_15
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:95
[door_text_15]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_15
textfont=cinzel_35pt_bold
text=8
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:96
[door_16]
type=layer
x=30
y=254
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8678)
onvartransmitlist=trh78_var,trh78_var_1

// 641:97
[door_16_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_16
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:98
[door_text_16]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_16
textfont=cinzel_35pt_bold
text=1
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:99
[door_17_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_17
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:100
[door_text_17]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_17
textfont=cinzel_35pt_bold
text=3
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:101
[door_18]
type=layer
x=798
y=382
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8682)
onvartransmitlist=trh78_var,trh78_var_1

// 641:102
[door_18_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_18
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:103
[door_text_18]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_18
textfont=cinzel_35pt_bold
text=5
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:104
[door_19]
type=layer
x=670
y=382
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8698)
onvartransmitlist=trh78_var,trh78_var_2

// 641:105
[door_19_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_19
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:106
[door_text_19]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_19
textfont=cinzel_35pt_bold
text=21
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:107
[door_20]
type=layer
x=542
y=382
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8693)
onvartransmitlist=trh78_var,trh78_var_1

// 641:108
[door_20_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_20
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:109
[door_text_20]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_20
textfont=cinzel_35pt_bold
text=16
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:110
[door_21]
type=layer
x=414
y=382
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8683)
onvartransmitlist=trh78_var,trh78_var_1

// 641:111
[door_21_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_21
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:112
[door_text_21]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_21
textfont=cinzel_35pt_bold
text=6
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:113
[door_22]
type=layer
x=286
y=382
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8681)
onvartransmitlist=trh78_var,trh78_var_1

// 641:114
[door_22_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_22
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:115
[door_text_22]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_22
textfont=cinzel_35pt_bold
text=4
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:116
[door_23]
type=layer
x=158
y=382
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8691)
onvartransmitlist=trh78_var,trh78_var_1

// 641:117
[door_23_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_23
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:118
[door_text_23]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_23
textfont=cinzel_35pt_bold
text=14
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:119
[door_24]
type=layer
x=30
y=382
width=112
height=112
layer=door_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onvartransmit=script3806(8701)
onvartransmitlist=trh78_var,trh78_var_2

// 641:120
[door_24_graphic]
type=graphic
widthmode=minus
heightmode=minus
layer=door_24
graphic=xmas2019_advent_door_unopened
colour=0xffffff
clickmask=no

// 641:121
[door_text_24]
type=text
x=1
width=50
height=50
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=door_24
textfont=cinzel_35pt_bold
text=24
textalignh=1
textalignv=1
textshadow=yes
colour=0xcaad6d

// 641:122
[com_122]
type=graphic
widthmode=minus
heightmode=minus
layer=left_arrow
graphic=xmas2019_advent_arrow_left
colour=0xffffff
clickmask=no

// 641:123
[claim_now_button_click]
type=layer
width=233
height=38
xmode=abs_centre
ymode=abs_centre
layer=claim_now_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script3811(xmas2019_advent:claim_now_graphic)
onmouseleave=script3816(xmas2019_advent:claim_now_graphic)
onclick=script3817(xmas2019_advent:claim_now_graphic)
onrelease=script3820(xmas2019_advent:claim_now_graphic)

// 641:124
[claim_now_graphic]
type=graphic
width=292
height=100
xmode=abs_centre
ymode=abs_centre
layer=claim_now_button_layer
graphic=xmas2019_advent_button
colour=0xffffff
clickmask=no

// 641:125
[com_125]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=claim_now_button_layer
textfont=cinzel_18pt_bold_multiline
text=Claim Now
textalignh=1
textalignv=1
colour=0x6e3408

// 641:126
[treasure_hunter_button_click]
type=layer
width=233
height=38
xmode=abs_centre
ymode=abs_centre
layer=treasure_hunter_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onmouseover=script3811(xmas2019_advent:claim_now_graphic)
onmouseleave=script3816(xmas2019_advent:claim_now_graphic)
onclick=script3817(xmas2019_advent:claim_now_graphic)
onrelease=script3820(xmas2019_advent:claim_now_graphic)

// 641:127
[treasure_hunter_button_graphic]
type=graphic
width=292
height=100
xmode=abs_centre
ymode=abs_centre
layer=treasure_hunter_button_layer
graphic=xmas2019_advent_button
colour=0xffffff
clickmask=no

// 641:128
[com_128]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=treasure_hunter_button_layer
textfont=cinzel_18pt_bold_multiline
text=Use Keys
textalignh=1
textalignv=1
colour=0x6e3408

// 641:129
[top_safe]
type=layer
widthmode=minus
heightmode=minus
layer=top_bar

// 641:130
[title_text]
type=text
x=100
width=968
height=55
layer=top_safe
textfont=cinzel_35pt_bold
text=ADVENT  CALENDAR
textshadow=yes
colour=0xcaad6d

// 641:131
[back_arrow_bounding]
type=layer
width=84
height=55
layer=top_safe
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script3828

// 641:132
[close_button_desktop_layer]
type=layer
width=1543
widthmode=proportion
heightmode=minus
xmode=abs_right
layer=top_bar
transmitop1=yes
op1=Select
opcursor0=cursor_use
onop=script3828

// 641:133
[right_top_graphic]
type=graphic
width=99
height=1
heightmode=minus
xmode=abs_right
layer=close_button_desktop_layer
graphic=button_back_mainmenu
hflip=yes
colour=0xffffff
clickmask=no
onmouseover=cc_if_colour_swapper(event_com, -1, 0)
onmouseleave=cc_if_colour_swapper(event_com, -1, 15066597)
onclick=cc_if_colour_swapper(event_com, -1, 0)

// 641:134
[close_button]
type=graphic
x=16
y=8
width=32
height=32
xmode=abs_right
layer=close_button_desktop_layer
graphic=button_close_mobile
colour=0xffffff
clickmask=no

// 641:135
[back_button_arrow]
type=graphic
width=84
widthmode=aspect
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=back_arrow_bounding
graphic=icon_back_mainmenu
colour=0xffffff
clickmask=no
onload=script9813(event_com, null)

// 641:136
[back_button_bg]
type=graphic
widthmode=minus
heightmode=minus
layer=back
graphic=button_back_mainmenu
colour=0xffffff
clickmask=no
onload=cc_if_colour_swapper(event_com, -1, 15329769)
onmouseover=cc_if_colour_swapper(event_com, -1, 0)
onmouseleave=cc_if_colour_swapper(event_com, -1, 15329769)
onclick=cc_if_colour_swapper(event_com, -1, 0)

// 641:137
[preview_object_model]
type=model
y=4
width=190
height=190
xmode=abs_centre
ymode=abs_centre
layer=preview_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=750

// 641:138
[preview_ragdoll_container]
type=layer
width=166
height=110
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_layer

// 641:139
[preview_ragdoll_model]
type=model
y=-10
width=166
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_ragdoll_container
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=400
modelobjheight=282

// 641:140
[preview_object]
type=graphic
width=190
height=190
xmode=abs_centre
ymode=abs_centre
layer=preview_layer
noclickthrough=yes
colour=0xffffff
clickmask=no

// 641:141
[preview_anim_layer]
type=layer
height=110
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=preview_layer

// 641:142
[preview_dragger]
type=layer
y=-20
width=166
height=108
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_layer

// 641:143
[preview_load]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=preview_layer

// 641:144
[preview_item]
type=text
y=20
width=10
height=50
widthmode=minus
xmode=abs_centre
layer=preview_layer
noclickthrough=yes
textfont=cinzel_15pt_bold
textlineheight=16
textalignh=1
textalignv=1
colour=0xcaad6d
maxlines=2

// 641:145
[preview_details]
type=text
y=20
width=20
height=350
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_bottom
layer=preview_layer
noclickthrough=yes
textfont=notosans_12
textalignh=1
textalignv=1
colour=0xcaad6d

// 641:146
[pet_layer]
type=model
y=73
width=32
height=32
xmode=abs_centre
ymode=abs_bottom
layer=preview_layer
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

