// 1568:0
[com_0]
type=rectangle
y=20
height=3
widthmode=minus
xmode=abs_centre
ymode=abs_centre
layer=progress_bar
colour=0xb79108
fill=yes

// 1568:1
[sparkler]
type=model
x=-9
y=45
width=31
height=69
layer=progress_bar
model=mtx33_player_holding_sparkler_spotanim
modelorigin_x=15
modelorigin_y=34
modelangle_x=0
modelangle_y=0
modelangle_z=0
modelzoom=800

// 1568:2
[cracker_model]
type=model
y=6
width=293
height=74
xmode=abs_centre
ymode=abs_centre
layer=cracker_progress
model=xmas2014_cracker_stage_100_1a
modelorigin_x=0
modelorigin_y=24
modelangle_x=108
modelangle_y=0
modelangle_z=0
modelzoom=3500

// 1568:3
[cracker_container]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre

// 1568:4
[cracker_progress]
type=layer
y=10
width=270
height=65
xmode=abs_centre
layer=cracker_container

// 1568:5
[progress_bar_rect]
type=rectangle
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cracker_progress
colour=0x000000
fill=yes
trans=200

// 1568:6
[progress_bar]
type=layer
width=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cracker_progress

// 1568:7
[progress_text]
type=text
y=3
height=25
widthmode=minus
xmode=abs_centre
layer=cracker_progress
hide=yes
textfont=museo_sans_11pt_regular
text=0%
textalignh=1
textalignv=1
textshadow=yes
colour=0xdcd2b4

// 1568:8
[side_1]
type=text
x=15
width=40
height=32
ymode=abs_centre
layer=cracker_progress
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1568:9
[side_2]
type=text
x=15
width=40
height=32
xmode=abs_right
ymode=abs_centre
layer=cracker_progress
textfont=museo_sans_13pt_regular
text=0
textalignh=1
textalignv=1
textshadow=yes

// 1568:10
[balance]
type=text
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=cracker_progress
textfont=museo_sans_13pt_regular
text=0%
textalignh=1
textalignv=1
textshadow=yes
colour=0xff0000

