// 126:0
[turkey_mid]
type=graphic
width=9799
height=11379
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=turkey_drumstick
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 126:1
[turkey_right]
type=graphic
width=18
height=11379
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=turkey_drumstick
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 126:2
[com_2]
type=graphic
x=50
width=4667
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
layer=order_info
graphic="aif_npc_chat_scroll_1,2"
colour=0xffffff
clickmask=no

// 126:3
[com_3]
type=graphic
x=-35
width=4885
height=16391
widthmode=proportion
heightmode=proportion
xmode=abs_centre
layer=order_info
graphic="aif_npc_chat_scroll_1,1"
colour=0xffffff
clickmask=no

// 126:4
[com_4]
type=graphic
width=128
height=16391
heightmode=proportion
layer=order_info
graphic="aif_npc_chat_scroll_1,0"
colour=0xffffff
clickmask=no

// 126:5
[com_5]
type=graphic
width=128
height=16391
heightmode=proportion
xmode=abs_right
layer=order_info
graphic="aif_npc_chat_scroll_1,3"
colour=0xffffff
clickmask=no

// 126:6
[wizard]
type=text
width=16384
height=11444
widthmode=proportion
heightmode=proportion
xmode=abs_centre
layer=order_info
textfont=cinzel_15pt_bold
text=Wizard Traiborn's order: 
textalignh=1
textalignv=1
colour=0x1e1717

// 126:7
[order]
type=text
width=16391
height=9830
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=order_info
textfont=cinzel_12pt_bold
text=Christmas Pudding
textalignh=1
textalignv=1
colour=0x750a0a

// 126:8
[order_info]
type=layer
y=10
width=450
height=53
xmode=abs_centre
layer=content

// 126:9
[turkey_drumstick]
type=layer
x=10
y=75
width=87
height=85
layer=content
pausebutton=yes
pausetext=Serve
onmouseleave=script8805
onmouserepeat=script8799("Serve this wizard a turkey drumstick (rewards nice points if the wizard ordered this)", event_com, -1)

// 126:10
[turkey_drumstick_disabled]
type=layer
x=10
y=75
width=91
height=85
layer=content
hide=yes
noclickthrough=yes

// 126:11
[yule_log]
type=layer
x=105
y=75
width=87
height=85
layer=content
pausebutton=yes
pausetext=Serve
onmouseleave=script8805
onmouserepeat=script8799("Serve this wizard yule log (rewards nice points if the wizard ordered this)", event_com, -1)

// 126:12
[yule_log_disabled]
type=layer
x=105
y=75
width=91
height=85
layer=content
hide=yes
noclickthrough=yes

// 126:13
[christmas_pudding]
type=layer
y=75
width=87
height=85
xmode=abs_centre
layer=content
pausebutton=yes
pausetext=Serve
onmouseleave=script8805
onmouserepeat=script8799("Serve this wizard Christmas pudding (rewards nice points if the wizard ordered this)", event_com, -1)

// 126:14
[christmas_pudding_disabled]
type=layer
y=75
width=91
height=85
xmode=abs_centre
layer=content
hide=yes
noclickthrough=yes

// 126:15
[roast_potatoes]
type=layer
x=105
y=75
width=87
height=85
xmode=abs_right
layer=content
pausebutton=yes
pausetext=Serve
onmouseleave=script8805
onmouserepeat=script8799("Serve this wizard roast potatoes (rewards nice points if the wizard ordered this)", event_com, -1)

// 126:16
[roast_potatoes_disabled]
type=layer
x=105
y=75
width=91
height=85
xmode=abs_right
layer=content
hide=yes
noclickthrough=yes

// 126:17
[mulled_wine]
type=layer
x=10
y=75
width=87
height=85
xmode=abs_right
layer=content
pausebutton=yes
pausetext=Serve
onmouseleave=script8805
onmouserepeat=script8799("Serve this wizard mulled wine (rewards nice points if the wizard ordered this)", event_com, -1)

// 126:18
[mulled_wine_disabled]
type=layer
x=10
y=75
width=91
height=85
xmode=abs_right
layer=content
hide=yes
noclickthrough=yes

// 126:19
[turkey_left]
type=graphic
width=18
height=11468
heightmode=proportion
ymode=abs_centre
layer=turkey_drumstick
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 126:20
[base]
type=layer
width=512
height=334
onload=script8420(xmas13_food:background, xmas13_food:border, xmas13_food:content, xmas13_food:close_button, "What do you want to serve?", 21217, string_1007)

// 126:21
[background]
type=layer
width=16384
height=16384
widthmode=proportion
heightmode=proportion
layer=base

// 126:22
[content]
type=layer
width=472
height=262
xmode=abs_centre
ymode=abs_centre
layer=base
onload=xmas13_banquet_setup

// 126:23
[rubber_drumstick]
type=layer
x=10
y=25
width=87
height=85
ymode=abs_bottom
layer=content
pausebutton=yes
pausetext=Serve
onmouseleave=script8805
onmouserepeat=script8799("Serve this wizard a rubber drumstick (rewards naughty points if the wizard ordered a turkey drumstick)", event_com, -1)

// 126:24
[rubber_drumstick_disabled]
type=layer
x=10
y=25
width=91
height=85
ymode=abs_bottom
layer=content
hide=yes
noclickthrough=yes

// 126:25
[turkey_topleft]
type=graphic
width=18
height=16
layer=turkey_drumstick
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 126:26
[turkey_topmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
layer=turkey_drumstick
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 126:27
[turkey_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=turkey_drumstick
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 126:28
[border]
type=layer
widthmode=minus
heightmode=minus
layer=base

// 126:29
[close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=base
pausebutton=yes
pausetext=Close
onop=closebutton_click

// 126:30
[turkey_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=turkey_drumstick
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 126:31
[turkey_botmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=turkey_drumstick
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 126:32
[turkey_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=turkey_drumstick
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 126:33
[turkey_text]
type=text
y=5
width=13107
height=30
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=turkey_drumstick
textfont=museo_sans_11pt_regular_multiline
text=Turkey Drumstick
textalignh=1
textalignv=1

// 126:34
[com_34]
type=model
y=18
width=34
height=28
xmode=abs_centre
layer=turkey_drumstick
model=xmas13_turkey_drumsticks_inv
modelorigin_x=1
modelorigin_y=-1
modelangle_x=528
modelangle_y=726
modelangle_z=0
modelzoom=1185

// 126:35
[yule_left]
type=graphic
width=18
height=11468
heightmode=proportion
ymode=abs_centre
layer=yule_log
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 126:36
[yule_right]
type=graphic
width=18
height=11468
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=yule_log
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 126:37
[yule_mid]
type=graphic
width=9830
height=11468
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=yule_log
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 126:38
[yule_topleft]
type=graphic
width=18
height=16
layer=yule_log
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 126:39
[yule_topmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
layer=yule_log
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 126:40
[yule_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=yule_log
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 126:41
[yule_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=yule_log
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 126:42
[yule_botmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=yule_log
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 126:43
[yule_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=yule_log
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 126:44
[yule_text]
type=text
y=5
width=13107
height=30
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=yule_log
textfont=museo_sans_11pt_regular_multiline
text=Yule Log
textalignh=1
textalignv=1

// 126:45
[com_45]
type=model
y=18
width=27
height=30
xmode=abs_centre
layer=yule_log
model=xmas13_yule_log_0
modelorigin_x=-1
modelorigin_y=0
modelangle_x=348
modelangle_y=1029
modelangle_z=0
modelzoom=766

// 126:46
[pud_left]
type=graphic
width=18
height=11468
heightmode=proportion
ymode=abs_centre
layer=christmas_pudding
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 126:47
[pud_mid]
type=graphic
width=9830
height=11468
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=christmas_pudding
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 126:48
[pud_right]
type=graphic
width=18
height=11468
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=christmas_pudding
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 126:49
[pud_topleft]
type=graphic
width=18
height=16
layer=christmas_pudding
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 126:50
[pud_topmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
layer=christmas_pudding
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 126:51
[pud_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=christmas_pudding
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 126:52
[pud_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=christmas_pudding
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 126:53
[pud_botmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=christmas_pudding
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 126:54
[pud_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=christmas_pudding
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 126:55
[pud_text]
type=text
y=5
width=13107
height=30
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=christmas_pudding
textfont=museo_sans_11pt_regular_multiline
text=Christmas Pudding
textalignh=1
textalignv=1

// 126:56
[com_56]
type=model
y=15
width=21
height=31
xmode=abs_centre
layer=christmas_pudding
model=xmas11_pudding
modelorigin_x=-1
modelorigin_y=11
modelangle_x=285
modelangle_y=162
modelangle_z=0
modelzoom=1633

// 126:57
[roast_left]
type=graphic
width=18
height=11468
heightmode=proportion
ymode=abs_centre
layer=roast_potatoes
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 126:58
[roast_mid]
type=graphic
width=9830
height=11468
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=roast_potatoes
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 126:59
[roast_right]
type=graphic
width=18
height=11379
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=roast_potatoes
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 126:60
[roast_topleft]
type=graphic
width=18
height=16
layer=roast_potatoes
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 126:61
[roast_topmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
layer=roast_potatoes
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 126:62
[roast_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=roast_potatoes
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 126:63
[roast_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=roast_potatoes
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 126:64
[roast_botmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=roast_potatoes
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 126:65
[roast_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=roast_potatoes
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 126:66
[roast_text]
type=text
y=5
width=13107
height=30
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=roast_potatoes
textfont=museo_sans_11pt_regular_multiline
text=Roast Potatoes
textalignh=1
textalignv=1

// 126:67
[com_67]
type=model
x=1
y=22
width=26
height=21
xmode=abs_centre
layer=roast_potatoes
model=xmas13_roast_potatoes_inv
modelorigin_x=-13
modelorigin_y=7
modelangle_x=528
modelangle_y=726
modelangle_z=0
modelzoom=586

// 126:68
[mulled_left]
type=graphic
width=18
height=11468
heightmode=proportion
ymode=abs_centre
layer=mulled_wine
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 126:69
[mulled_mid]
type=graphic
width=9830
height=11468
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=mulled_wine
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 126:70
[mulled_right]
type=graphic
width=18
height=11468
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=mulled_wine
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 126:71
[mulled_topleft]
type=graphic
width=18
height=16
layer=mulled_wine
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 126:72
[mulled_topmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
layer=mulled_wine
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 126:73
[mulled_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=mulled_wine
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 126:74
[mulled_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=mulled_wine
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 126:75
[mulled_botmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=mulled_wine
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 126:76
[mulled_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=mulled_wine
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 126:77
[mulled_text]
type=text
y=5
width=13107
height=30
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=mulled_wine
textfont=museo_sans_11pt_regular_multiline
text=Mulled Wine
textalignh=1
textalignv=1

// 126:78
[com_78]
type=model
y=18
width=15
height=25
xmode=abs_centre
layer=mulled_wine
model=xmas13_wine_inv
modelorigin_x=-2
modelorigin_y=10
modelangle_x=162
modelangle_y=465
modelangle_z=0
modelzoom=1006

// 126:79
[rubber_left]
type=graphic
width=18
height=11468
heightmode=proportion
ymode=abs_centre
layer=rubber_drumstick
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 126:80
[rubber_mid]
type=graphic
width=9830
height=11468
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=rubber_drumstick
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 126:81
[rubber_right]
type=graphic
width=18
height=11468
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=rubber_drumstick
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 126:82
[rubber_topleft]
type=graphic
width=18
height=16
layer=rubber_drumstick
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 126:83
[rubber_topmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
layer=rubber_drumstick
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 126:84
[rubber_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=rubber_drumstick
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 126:85
[rubber_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=rubber_drumstick
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 126:86
[rubber_botmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=rubber_drumstick
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 126:87
[rubber_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=rubber_drumstick
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 126:88
[rubber_text]
type=text
y=5
width=13107
height=30
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=rubber_drumstick
textfont=museo_sans_11pt_regular_multiline
text=Rubber Drumstick
textalignh=1
textalignv=1

// 126:89
[com_89]
type=model
y=18
width=30
height=32
xmode=abs_centre
layer=rubber_drumstick
model=xmas13_rubber_drumsticks_inv
modelorigin_x=-5
modelorigin_y=1
modelangle_x=528
modelangle_y=726
modelangle_z=0
modelzoom=1185

// 126:90
[log]
type=layer
x=105
y=25
width=87
height=85
ymode=abs_bottom
layer=content
pausebutton=yes
pausetext=Serve
onmouseleave=script8805
onmouserepeat=script8799("Serve this wizard a log (rewards naughty points if the wizard ordered Yule log)", event_com, -1)

// 126:91
[log_disabled]
type=layer
x=105
y=25
width=91
height=85
ymode=abs_bottom
layer=content
hide=yes
noclickthrough=yes

// 126:92
[log_left]
type=graphic
width=18
height=11468
heightmode=proportion
ymode=abs_centre
layer=log
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 126:93
[log_mid]
type=graphic
width=9830
height=11468
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=log
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 126:94
[log_right]
type=graphic
width=18
height=11468
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=log
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 126:95
[log_topleft]
type=graphic
width=18
height=16
layer=log
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 126:96
[log_topmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
layer=log
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 126:97
[log_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=log
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 126:98
[log_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=log
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 126:99
[log_botmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=log
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 126:100
[log_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=log
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 126:101
[log_text]
type=text
y=5
width=13107
height=30
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=log
textfont=museo_sans_11pt_regular_multiline
text=Log
textalignh=1
textalignv=1

// 126:102
[com_102]
type=model
y=20
width=27
height=29
xmode=abs_centre
layer=log
model=xmas13_log_inv
modelorigin_x=-1
modelorigin_y=3
modelangle_x=348
modelangle_y=1029
modelangle_z=0
modelzoom=766

// 126:103
[cannonball_surprise]
type=layer
y=25
width=87
height=85
xmode=abs_centre
ymode=abs_bottom
layer=content
pausebutton=yes
pausetext=Serve
onmouseleave=script8805
onmouserepeat=script8799("Serve this wizard Cannonball Surprise (rewards naughty points if the wizard ordered Christmas pudding)", event_com, -1)

// 126:104
[cannonball_surprise_disabled]
type=layer
y=25
width=91
height=85
xmode=abs_centre
ymode=abs_bottom
layer=content
hide=yes
noclickthrough=yes

// 126:105
[cannon_left]
type=graphic
width=18
height=11468
heightmode=proportion
ymode=abs_centre
layer=cannonball_surprise
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 126:106
[cannon_mid]
type=graphic
width=9830
height=11468
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=cannonball_surprise
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 126:107
[cannon_right]
type=graphic
width=18
height=11468
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=cannonball_surprise
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 126:108
[cannon_topleft]
type=graphic
width=18
height=16
layer=cannonball_surprise
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 126:109
[cannon_topmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
layer=cannonball_surprise
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 126:110
[cannon_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=cannonball_surprise
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 126:111
[cannon_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=cannonball_surprise
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 126:112
[cannon_botmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=cannonball_surprise
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 126:113
[cannon_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=cannonball_surprise
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 126:114
[cannon_text]
type=text
y=5
width=13107
height=30
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=cannonball_surprise
textfont=museo_sans_11pt_regular_multiline
text=Cannonball Surprise
textalignh=1
textalignv=1

// 126:115
[com_115]
type=model
y=6
width=36
height=39
xmode=abs_centre
layer=cannonball_surprise
model=xmas13_cannonball_surprise_inv
modelorigin_x=-1
modelorigin_y=13
modelangle_x=240
modelangle_y=120
modelangle_z=0
modelzoom=950

// 126:116
[rocks]
type=layer
x=105
y=25
width=87
height=85
xmode=abs_right
ymode=abs_bottom
layer=content
pausebutton=yes
pausetext=Serve
onmouseleave=script8805
onmouserepeat=script8799("Serve this wizard overcooked rocks (rewards naughty points if the wizard ordered roast potatoes)", event_com, -1)

// 126:117
[rocks_disabled]
type=layer
x=105
y=25
width=91
height=85
xmode=abs_right
ymode=abs_bottom
layer=content
hide=yes
noclickthrough=yes

// 126:118
[vinegar]
type=layer
x=10
y=25
width=87
height=85
xmode=abs_right
ymode=abs_bottom
layer=content
pausebutton=yes
pausetext=Serve
onmouseleave=script8805
onmouserepeat=script8799("Serve this wizard vinegar (rewards naughty points if the wizard ordered mulled wine)", event_com, -1)

// 126:119
[vinegar_disabled]
type=layer
x=10
y=25
width=91
height=85
xmode=abs_right
ymode=abs_bottom
layer=content
hide=yes
noclickthrough=yes

// 126:120
[rocks_left]
type=graphic
width=18
height=11468
heightmode=proportion
ymode=abs_centre
layer=rocks
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 126:121
[rocks_mid]
type=graphic
width=9830
height=11468
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=rocks
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 126:122
[rocks_right]
type=graphic
width=18
height=11379
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=rocks
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 126:123
[rocks_topleft]
type=graphic
width=18
height=16
layer=rocks
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 126:124
[rocks_topmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
layer=rocks
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 126:125
[rocks_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=rocks
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 126:126
[rocks_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=rocks
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 126:127
[rocks_botmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=rocks
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 126:128
[rocks_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=rocks
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 126:129
[rocks_text]
type=text
y=5
width=13107
height=30
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=rocks
textfont=museo_sans_11pt_regular_multiline
text=Rocks
textalignh=1
textalignv=1

// 126:130
[com_130]
type=model
x=-1
y=20
width=23
height=27
xmode=abs_centre
layer=rocks
model=xmas13_soggy_potatoes_inv
modelorigin_x=0
modelorigin_y=3
modelangle_x=453
modelangle_y=747
modelangle_z=0
modelzoom=586

// 126:131
[vinegar_left]
type=graphic
width=18
height=11468
heightmode=proportion
ymode=abs_centre
layer=vinegar
graphic="aif_chunky_button_blue,15"
colour=0xffffff
clickmask=no

// 126:132
[vinegar_mid]
type=graphic
width=9830
height=11468
widthmode=proportion
heightmode=proportion
xmode=abs_centre
ymode=abs_centre
layer=vinegar
graphic="aif_chunky_button_blue,16"
colour=0xffffff
clickmask=no

// 126:133
[vinegar_right]
type=graphic
width=18
height=11379
heightmode=proportion
xmode=abs_right
ymode=abs_centre
layer=vinegar
graphic="aif_chunky_button_blue,17"
colour=0xffffff
clickmask=no

// 126:134
[vinegar_topleft]
type=graphic
width=18
height=16
layer=vinegar
graphic="aif_chunky_button_blue,0"
colour=0xffffff
clickmask=no

// 126:135
[vinegar_topmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
layer=vinegar
graphic="aif_chunky_button_blue,1"
colour=0xffffff
clickmask=no

// 126:136
[vinegar_topright]
type=graphic
width=18
height=16
xmode=abs_right
layer=vinegar
graphic="aif_chunky_button_blue,2"
colour=0xffffff
clickmask=no

// 126:137
[vinegar_botleft]
type=graphic
width=18
height=16
ymode=abs_bottom
layer=vinegar
graphic="aif_chunky_button_blue,30"
colour=0xffffff
clickmask=no

// 126:138
[vinegar_botmid]
type=graphic
width=9830
height=16
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=vinegar
graphic="aif_chunky_button_blue,31"
colour=0xffffff
clickmask=no

// 126:139
[vinegar_botright]
type=graphic
width=18
height=16
xmode=abs_right
ymode=abs_bottom
layer=vinegar
graphic="aif_chunky_button_blue,32"
colour=0xffffff
clickmask=no

// 126:140
[vinegar_text]
type=text
y=5
width=13107
height=30
widthmode=proportion
xmode=abs_centre
ymode=abs_bottom
layer=vinegar
textfont=museo_sans_11pt_regular_multiline
text=Vinegar
textalignh=1
textalignv=1

// 126:141
[com_141]
type=model
y=18
width=15
height=25
xmode=abs_centre
layer=vinegar
model=xmas13_corked_wine_inv
modelorigin_x=-2
modelorigin_y=10
modelangle_x=162
modelangle_y=465
modelangle_z=0
modelzoom=1006

