// 1567:0
[info_holder_active_1]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=left_panel
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1567:1
[info_holder_active]
type=layer
widthmode=minus
heightmode=minus
ymode=abs_centre
layer=right_panel
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1567:2
[npc_model]
type=model
width=32
height=32
xmode=abs_centre
ymode=abs_centre
layer=right_panel_delivery
model=null
modelorigin_x=-8
modelorigin_y=128
modelangle_x=56
modelangle_y=56
modelangle_z=0
modelzoom=2500

// 1567:3
[positive_button_layer]
type=layer
y=20
width=210
height=27
xmode=abs_centre
ymode=abs_bottom
layer=right_panel_delivery

// 1567:4
[delivery_description]
type=text
y=160
width=210
height=75
xmode=abs_centre
layer=right_panel_delivery
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
textshadow=yes
colour=0xffdcb4

// 1567:5
[mainmodal_window]
type=layer
width=502
height=324
xmode=abs_centre
ymode=abs_centre
onload=script8420(xmas2014:mainmodal_window_background, xmas2014:mainmodal_window_border, xmas2014:mainmodal_window_content, xmas2014:mainmodal_window_close_button, "The list...", 21218, string_1007)

// 1567:6
[mainmodal_window_background]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1567:7
[mainmodal_window_content]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=mainmodal_window

// 1567:8
[npc_tab]
type=layer
y=11
width=125
height=24
layer=mainmodal_window_content

// 1567:9
[reward_tab]
type=layer
x=125
y=11
width=125
height=24
layer=mainmodal_window_content

// 1567:10
[left_panel]
type=layer
width=250
height=250
ymode=abs_bottom
layer=mainmodal_window_content

// 1567:11
[left_panel_presents]
type=layer
widthmode=minus
heightmode=minus
layer=left_panel

// 1567:12
[npc0]
type=model
x=10
y=10
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(0, event_com)
onmouseover=script10830(0, event_com, 0)
onmouseleave=script10830(0, event_com, 1)

// 1567:13
[npc1]
type=model
x=70
y=10
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(1, event_com)
onmouseover=script10830(1, event_com, 0)
onmouseleave=script10830(1, event_com, 1)

// 1567:14
[npc2]
type=model
x=130
y=10
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(2, event_com)
onmouseover=script10830(2, event_com, 0)
onmouseleave=script10830(2, event_com, 1)

// 1567:15
[npc3]
type=model
x=190
y=10
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(3, event_com)
onmouseover=script10830(3, event_com, 0)
onmouseleave=script10830(3, event_com, 1)

// 1567:16
[npc4]
type=model
x=10
y=70
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(4, event_com)
onmouseover=script10830(4, event_com, 0)
onmouseleave=script10830(4, event_com, 1)

// 1567:17
[npc5]
type=model
x=70
y=70
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(5, event_com)
onmouseover=script10830(5, event_com, 0)
onmouseleave=script10830(5, event_com, 1)

// 1567:18
[npc6]
type=model
x=130
y=70
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(6, event_com)
onmouseover=script10830(6, event_com, 0)
onmouseleave=script10830(6, event_com, 1)

// 1567:19
[npc7]
type=model
x=190
y=70
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(7, event_com)
onmouseover=script10830(7, event_com, 0)
onmouseleave=script10830(7, event_com, 1)

// 1567:20
[npc8]
type=model
x=10
y=130
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(8, event_com)
onmouseover=script10830(8, event_com, 0)
onmouseleave=script10830(8, event_com, 1)

// 1567:21
[npc9]
type=model
x=70
y=130
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(9, event_com)
onmouseover=script10830(9, event_com, 0)
onmouseleave=script10830(9, event_com, 1)

// 1567:22
[npc10]
type=model
x=130
y=130
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(10, event_com)
onmouseover=script10830(10, event_com, 0)
onmouseleave=script10830(10, event_com, 1)

// 1567:23
[npc11]
type=model
x=190
y=130
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(11, event_com)
onmouseover=script10830(11, event_com, 0)
onmouseleave=script10830(11, event_com, 1)

// 1567:24
[npc12]
type=model
x=10
y=190
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(12, event_com)
onmouseover=script10830(12, event_com, 0)
onmouseleave=script10830(12, event_com, 1)

// 1567:25
[left_panel_rewards]
type=layer
widthmode=minus
heightmode=minus
layer=left_panel
hide=yes

// 1567:26
[presents_delivered_text]
type=text
y=10
width=20
height=20
widthmode=minus
xmode=abs_centre
layer=left_panel_rewards
textfont=museo_sans_15pt_bold
text=Presents left to deliver: 16
textalignh=1
textalignv=1
textshadow=yes
colour=0xffdcb4

// 1567:27
[presents_reward1]
type=text
x=50
y=40
width=190
height=35
layer=left_panel_rewards
textfont=museo_sans_11pt_regular
text=25: Snowman head
textalignv=1
textshadow=yes
colour=0xffdcb4
onload=script10831(event_com)

// 1567:28
[presents_reward2]
type=text
x=50
y=80
width=190
height=35
layer=left_panel_rewards
textfont=museo_sans_11pt_regular
text=125: Snowman body
textalignv=1
textshadow=yes
colour=0xffdcb4
onload=script10831(event_com)

// 1567:29
[presents_reward3]
type=text
x=50
y=120
width=190
height=35
layer=left_panel_rewards
textfont=museo_sans_11pt_regular
text=250: Snowman legs
textalignv=1
textshadow=yes
colour=0xffdcb4
onload=script10831(event_com)

// 1567:30
[presents_reward4]
type=text
x=50
y=160
width=190
height=35
layer=left_panel_rewards
textfont=museo_sans_11pt_regular
text=375: Snowstormer
textalignv=1
textshadow=yes
colour=0xffdcb4
onload=script10831(event_com)

// 1567:31
[presents_reward5]
type=text
x=50
y=200
width=190
height=35
layer=left_panel_rewards
textfont=museo_sans_11pt_regular
text=500: Ice-sickle
textalignv=1
textshadow=yes
colour=0xffdcb4
onload=script10831(event_com)

// 1567:32
[reward_graphic_bg1]
type=graphic
x=10
y=40
width=35
height=35
layer=left_panel_rewards
graphic="task_icons_60_72,4"
colour=0xffffff
clickmask=no

// 1567:33
[reward_graphic_bg2]
type=graphic
x=10
y=80
width=35
height=35
layer=left_panel_rewards
graphic="task_icons_60_72,4"
colour=0xffffff
clickmask=no

// 1567:34
[reward_graphic_bg3]
type=graphic
x=10
y=120
width=35
height=35
layer=left_panel_rewards
graphic="task_icons_60_72,4"
colour=0xffffff
clickmask=no

// 1567:35
[reward_graphic_bg4]
type=graphic
x=10
y=160
width=35
height=35
layer=left_panel_rewards
graphic="task_icons_60_72,4"
colour=0xffffff
clickmask=no

// 1567:36
[reward_graphic_bg5]
type=graphic
x=10
y=200
width=35
height=35
layer=left_panel_rewards
graphic="task_icons_60_72,4"
colour=0xffffff
clickmask=no

// 1567:37
[reward_object1]
type=graphic
x=10
y=40
width=35
height=35
layer=left_panel_rewards
colour=0xffffff
clickmask=no
onload=script10836(event_com, xmas2014_snowman_head)

// 1567:38
[reward_object2]
type=graphic
x=10
y=80
width=35
height=35
layer=left_panel_rewards
colour=0xffffff
clickmask=no
onload=script10836(event_com, xmas2014_snowman_body)

// 1567:39
[reward_object3]
type=graphic
x=10
y=120
width=35
height=35
layer=left_panel_rewards
colour=0xffffff
clickmask=no
onload=script10836(event_com, xmas2014_snowman_legs)

// 1567:40
[reward_object4]
type=graphic
x=10
y=160
width=35
height=35
layer=left_panel_rewards
colour=0xffffff
clickmask=no
onload=script10836(event_com, xmas2014_snowman_cape)

// 1567:41
[reward_object5]
type=graphic
x=10
y=200
width=35
height=35
layer=left_panel_rewards
colour=0xffffff
clickmask=no
onload=script10836(event_com, xmas2014_snowman_weapon)

// 1567:42
[right_panel]
type=layer
width=230
heightmode=minus
xmode=abs_right
layer=mainmodal_window_content
onload=script10833
onvartransmit=script10834
onvartransmitlist=xmas2014_temp_varp

// 1567:43
[right_panel_delivery]
type=layer
widthmode=minus
heightmode=minus
layer=right_panel
hide=yes

// 1567:44
[npc_name_text]
type=text
y=10
width=20
height=30
widthmode=minus
xmode=abs_centre
layer=right_panel_delivery
textfont=museo_sans_19pt_bold
textalignh=1
textalignv=1
textshadow=yes
colour=0xffdcb4

// 1567:45
[right_panel_default]
type=layer
widthmode=minus
heightmode=minus
layer=right_panel

// 1567:46
[right_panel_default_text]
type=text
width=20
height=20
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=right_panel_default
textfont=museo_sans_19pt_bold
text=Hover over a delivery target in the left panel for more information.
textalignh=1
textalignv=1
textshadow=yes
colour=0xffdcb4

// 1567:47
[mainmodal_window_border]
type=layer
widthmode=minus
heightmode=minus
layer=mainmodal_window

// 1567:48
[mainmodal_window_close_button]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=mainmodal_window
transmitop1=yes
op1=Close
onop=closebutton_click

// 1567:49
[modal_tab_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=npc_tab
onload=script8103(event_com)

// 1567:50
[modal_tab_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=npc_tab
onload=script9645(event_com)

// 1567:51
[modal_tab_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=npc_tab
onload=script9646(event_com)

// 1567:52
[modal_tab_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=npc_tab
hide=yes
onload=script9647(event_com)

// 1567:53
[npc_tab_button]
type=layer
widthmode=minus
heightmode=minus
layer=npc_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script10832(0)

// 1567:54
[modal_tab_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=npc_tab
hide=yes
onload=script9650(event_com)

// 1567:55
[modal_tab_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=npc_tab

// 1567:56
[modal_tab_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=modal_tab_text_layer
textfont=museo_sans_11pt_regular_multiline
text=Presents
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1567:57
[modal_tab_on_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reward_tab
onload=script8103(event_com)

// 1567:58
[modal_tab_over_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reward_tab
onload=script9645(event_com)

// 1567:59
[modal_tab_hit_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reward_tab
onload=script9646(event_com)

// 1567:60
[modal_tab_selected_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reward_tab
hide=yes
onload=script9647(event_com)

// 1567:61
[reward_tab_button]
type=layer
widthmode=minus
heightmode=minus
layer=reward_tab
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)
onop=script10832(1)

// 1567:62
[modal_tab_disabled_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reward_tab
hide=yes
onload=script9650(event_com)

// 1567:63
[modal_tab_text_layer_1]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=reward_tab

// 1567:64
[modal_tab_text_1]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=modal_tab_text_layer_1
textfont=museo_sans_11pt_regular_multiline
text=Rewards
textalignh=1
textalignv=1
textshadow=yes
colour=0xaed0e0
onload=script9653(event_com)

// 1567:65
[positive_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7041(event_com)

// 1567:66
[positive_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7042(event_com)

// 1567:67
[positive_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
onload=script7044(event_com)

// 1567:68
[positive_button_selected_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7047(event_com)

// 1567:69
[delivery_button]
type=layer
widthmode=minus
heightmode=minus
layer=positive_button_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1567:70
[positive_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer
hide=yes
onload=script7060(event_com)

// 1567:71
[positive_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_layer

// 1567:72
[deliver_text]
type=text
width=21
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=positive_button_text_layer
textfont=cinzel_13pt_bold
text=Set for delivery
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1567:73
[npc13]
type=model
x=70
y=190
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(13, event_com)
onmouseover=script10830(13, event_com, 0)
onmouseleave=script10830(13, event_com, 1)

// 1567:74
[npc14]
type=model
x=130
y=190
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(14, event_com)
onmouseover=script10830(14, event_com, 0)
onmouseleave=script10830(14, event_com, 1)

// 1567:75
[npc15]
type=model
x=190
y=190
width=50
height=50
layer=left_panel_presents
model=null
modelorigin_x=0
modelorigin_y=0
modelangle_x=56
modelangle_y=1934
modelangle_z=0
modelzoom=3500
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script10791(15, event_com)
onmouseover=script10830(15, event_com, 0)
onmouseleave=script10830(15, event_com, 1)

