// 1573:0
[com_0]
type=graphic
x=50
width=35
height=34
xmode=abs_centre
ymode=abs_centre
layer=balance_layer
graphic=rs3_info_display_panel_pointer
2dangle=16384
colour=0xffffff
clickmask=no

// 1573:1
[com_1]
type=graphic
x=-50
width=35
height=34
xmode=abs_centre
ymode=abs_centre
layer=balance_layer
graphic=rs3_info_display_panel_pointer
2dangle=49152
colour=0xffffff
clickmask=no

// 1573:2
[com_2]
type=graphic
width=90
height=90
xmode=abs_centre
ymode=abs_centre
layer=balance_layer
graphic=rs3_ui_dialogue_large_ring_background
colour=0xffffff
clickmask=no

// 1573:3
[balance_pointer]
type=graphic
y=25
width=36
height=94
xmode=abs_centre
layer=balance_layer
graphic=nep_wheel_pointer_1
2dangle=32768
colour=0x925895
clickmask=no
ontimer=script2389

// 1573:4
[com_4]
type=line
x=-1
y=5
height=15
xmode=abs_centre
layer=balance_layer
linewid=2
colour=0xffffff

// 1573:5
[container]
type=layer
y=90
widthmode=minus
heightmode=minus

// 1573:6
[balance_layer]
type=layer
width=190
height=90
xmode=abs_centre
layer=container

// 1573:7
[balance_left]
type=graphic
x=-60
width=41
height=54
xmode=abs_centre
ymode=abs_centre
layer=balance_layer
graphic=rs3_info_display_pointer
2dangle=49152
colour=0xffffff
clickmask=no
transmitop1=yes
opkey1=0,96,0
op1=Shift-Weight
onmouseover=script10872(event_com, 0)
onmouseleave=script10872(event_com, 1)

// 1573:8
[balance_right]
type=graphic
x=60
width=41
height=54
xmode=abs_centre
ymode=abs_centre
layer=balance_layer
graphic=rs3_info_display_pointer
2dangle=16384
hflip=yes
colour=0xffffff
clickmask=no
transmitop1=yes
opkey1=0,97,0
op1=Shift-Weight
onmouseover=script10872(event_com, 0)
onmouseleave=script10872(event_com, 1)

// 1573:9
[balance_border_ring]
type=graphic
width=90
height=90
xmode=abs_centre
ymode=abs_centre
layer=balance_layer
graphic=rs3_ui_dialogue_large_ring_foreground
colour=0xffffff
clickmask=no

