// 1826:0
[background_2]
type=layer
widthmode=minus
heightmode=minus
layer=magic

// 1826:1
[titlebox]
type=layer
y=8
width=34
height=25
widthmode=minus
xmode=abs_centre
layer=content_layer

// 1826:2
[skills]
type=layer
y=45
width=421
height=186
xmode=abs_centre
layer=content_layer

// 1826:3
[outputbox]
type=layer
y=35
width=340
height=25
xmode=abs_centre
ymode=abs_bottom
layer=content_layer

// 1826:4
[output_background]
type=layer
widthmode=minus
heightmode=minus
layer=outputbox
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1826:5
[confirm]
type=layer
x=110
y=4
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=content_layer
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script13057(event_com, xp_reward_multi2:confirm_button_disabled_layer, xp_reward_multi2:output)

// 1826:6
[later]
type=layer
x=-110
y=4
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=content_layer
pausebutton=yes
pausetext=Cancel

// 1826:7
[universe]
type=layer
width=66
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(xp_reward_multi2:background_layer, xp_reward_multi2:frame_layer, xp_reward_multi2:content_layer, xp_reward_multi2:close_button_layer, "Skill Selection", 21218, null)

// 1826:8
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1826:9
[content_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=universe

// 1826:10
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=universe

// 1826:11
[close_button_layer]
type=layer
width=512
height=334
layer=universe
transmitop1=yes
op1=Close
onop=closebutton_click

// 1826:12
[title]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titlebox
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
colour=0xcde1ff
onload=script13060(event_com, 1)

// 1826:13
[output]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=outputbox
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1

// 1826:14
[attack]
type=layer
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(attack, event_com, xp_reward_multi2:background_1, xp_reward_multi2:confirm)

// 1826:15
[constitution]
type=layer
x=47
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(hitpoints, event_com, xp_reward_multi2:background_22, xp_reward_multi2:confirm)

// 1826:16
[mining]
type=layer
x=94
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(mining, event_com, xp_reward_multi2:background_3, xp_reward_multi2:confirm)

// 1826:17
[strength]
type=layer
x=141
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(strength, event_com, xp_reward_multi2:background_8, xp_reward_multi2:confirm)

// 1826:18
[agility]
type=layer
x=188
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(agility, event_com, xp_reward_multi2:background_5, xp_reward_multi2:confirm)

// 1826:19
[smithing]
type=layer
x=235
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(smithing, event_com, xp_reward_multi2:background_10, xp_reward_multi2:confirm)

// 1826:20
[defence]
type=layer
x=282
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(defence, event_com, xp_reward_multi2:background_15, xp_reward_multi2:confirm)

// 1826:21
[herblore]
type=layer
x=329
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(herblore, event_com, xp_reward_multi2:background_12, xp_reward_multi2:confirm)

// 1826:22
[fishing]
type=layer
x=376
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(fishing, event_com, xp_reward_multi2:background_17, xp_reward_multi2:confirm)

// 1826:23
[ranged]
type=layer
y=47
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(ranged, event_com, xp_reward_multi2:background_9, xp_reward_multi2:confirm)

// 1826:24
[thieving]
type=layer
x=47
y=47
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(thieving, event_com, xp_reward_multi2:background_7, xp_reward_multi2:confirm)

// 1826:25
[cooking]
type=layer
x=94
y=47
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(cooking, event_com, xp_reward_multi2:background_24, xp_reward_multi2:confirm)

// 1826:26
[prayer]
type=layer
x=141
y=47
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(prayer, event_com, xp_reward_multi2:background_16, xp_reward_multi2:confirm)

// 1826:27
[crafting]
type=layer
x=188
y=47
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(crafting, event_com, xp_reward_multi2:background_18, xp_reward_multi2:confirm)

// 1826:28
[firemaking]
type=layer
x=235
y=47
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(firemaking, event_com, xp_reward_multi2:background_11, xp_reward_multi2:confirm)

// 1826:29
[magic]
type=layer
x=282
y=47
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(magic, event_com, xp_reward_multi2:background_2, xp_reward_multi2:confirm)

// 1826:30
[fletching]
type=layer
x=329
y=47
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(fletching, event_com, xp_reward_multi2:background_6, xp_reward_multi2:confirm)

// 1826:31
[woodcutting]
type=layer
x=376
y=47
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(woodcutting, event_com, xp_reward_multi2:background_4, xp_reward_multi2:confirm)

// 1826:32
[runecraft]
type=layer
y=94
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(runecraft, event_com, xp_reward_multi2:background_25, xp_reward_multi2:confirm)

// 1826:33
[background_1]
type=layer
widthmode=minus
heightmode=minus
layer=attack

// 1826:34
[background_3]
type=layer
widthmode=minus
heightmode=minus
layer=mining

// 1826:35
[background_4]
type=layer
widthmode=minus
heightmode=minus
layer=woodcutting

// 1826:36
[background_5]
type=layer
widthmode=minus
heightmode=minus
layer=agility

// 1826:37
[background_6]
type=layer
widthmode=minus
heightmode=minus
layer=fletching

// 1826:38
[background_7]
type=layer
widthmode=minus
heightmode=minus
layer=thieving

// 1826:39
[background_8]
type=layer
widthmode=minus
heightmode=minus
layer=strength

// 1826:40
[background_9]
type=layer
widthmode=minus
heightmode=minus
layer=ranged

// 1826:41
[background_10]
type=layer
widthmode=minus
heightmode=minus
layer=smithing

// 1826:42
[background_11]
type=layer
widthmode=minus
heightmode=minus
layer=firemaking

// 1826:43
[background_12]
type=layer
widthmode=minus
heightmode=minus
layer=herblore

// 1826:44
[slayer]
type=layer
x=47
y=94
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(slayer, event_com, xp_reward_multi2:background_13, xp_reward_multi2:confirm)

// 1826:45
[farming]
type=layer
x=94
y=94
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(farming, event_com, xp_reward_multi2:background_19, xp_reward_multi2:confirm)

// 1826:46
[background_13]
type=layer
widthmode=minus
heightmode=minus
layer=slayer

// 1826:47
[construction]
type=layer
x=141
y=94
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(construction, event_com, xp_reward_multi2:background_14, xp_reward_multi2:confirm)

// 1826:48
[background_14]
type=layer
widthmode=minus
heightmode=minus
layer=construction

// 1826:49
[background_15]
type=layer
widthmode=minus
heightmode=minus
layer=defence

// 1826:50
[background_16]
type=layer
widthmode=minus
heightmode=minus
layer=prayer

// 1826:51
[background_17]
type=layer
widthmode=minus
heightmode=minus
layer=fishing

// 1826:52
[background_18]
type=layer
widthmode=minus
heightmode=minus
layer=crafting

// 1826:53
[background_19]
type=layer
widthmode=minus
heightmode=minus
layer=farming

// 1826:54
[hunter]
type=layer
x=188
y=94
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(hunter, event_com, xp_reward_multi2:background_20, xp_reward_multi2:confirm)

// 1826:55
[background_20]
type=layer
widthmode=minus
heightmode=minus
layer=hunter

// 1826:56
[summoning]
type=layer
x=235
y=94
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(summoning, event_com, xp_reward_multi2:background_21, xp_reward_multi2:confirm)

// 1826:57
[background_21]
type=layer
widthmode=minus
heightmode=minus
layer=summoning

// 1826:58
[background_22]
type=layer
widthmode=minus
heightmode=minus
layer=constitution

// 1826:59
[dungeoneering]
type=layer
x=282
y=94
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(dungeoneering, event_com, xp_reward_multi2:background_23, xp_reward_multi2:confirm)

// 1826:60
[background_23]
type=layer
widthmode=minus
heightmode=minus
layer=dungeoneering

// 1826:61
[background_24]
type=layer
widthmode=minus
heightmode=minus
layer=cooking

// 1826:62
[background_25]
type=layer
widthmode=minus
heightmode=minus
layer=runecraft

// 1826:63
[divination]
type=layer
x=329
y=94
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(divination, event_com, xp_reward_multi2:background_26, xp_reward_multi2:confirm)

// 1826:64
[invention]
type=layer
x=376
y=94
width=45
height=45
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(invention, event_com, xp_reward_multi2:background_27, xp_reward_multi2:confirm)

// 1826:65
[archaeology]
type=layer
x=-24
y=141
width=45
height=45
xmode=abs_centre
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(archaeology, event_com, xp_reward_multi2:background_28, xp_reward_multi2:confirm)

// 1826:66
[necromancy]
type=layer
x=24
y=141
width=45
height=45
xmode=abs_centre
layer=skills
transmitop1=yes
op1=Choose
onload=script13052(necromancy, event_com, xp_reward_multi2:background_29, xp_reward_multi2:confirm)

// 1826:67
[background_27]
type=layer
widthmode=minus
heightmode=minus
layer=invention

// 1826:68
[background_26]
type=layer
widthmode=minus
heightmode=minus
layer=divination

// 1826:69
[confirm_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm
onload=script7041(event_com)

// 1826:70
[confirm_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm
onload=script7042(event_com)

// 1826:71
[confirm_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm
onload=script7044(event_com)

// 1826:72
[confirm_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm
onload=script4213(event_com)

// 1826:73
[confirm_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm
hide=yes
onload=script7060(event_com)

// 1826:74
[confirm_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm

// 1826:75
[confirm_button_text]
type=text
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_text_layer
textfont=cinzel_13pt_bold
text=Confirm
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1826:76
[cancel_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later
onload=script7275(event_com)

// 1826:77
[cancel_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later
onload=script7276(event_com)

// 1826:78
[cancel_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later
onload=script7277(event_com)

// 1826:79
[cancel_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=later
transmitop1=yes
op1=Select
opcursor0=cursor_use
onload=script4213(event_com)

// 1826:80
[cancel_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later
hide=yes
onload=script7572(event_com)

// 1826:81
[cancel_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later

// 1826:82
[cancel_button_text]
type=text
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_text_layer
textfont=cinzel_13pt_bold
text=Cancel
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 1826:83
[background_28]
type=layer
widthmode=minus
heightmode=minus
layer=archaeology

// 1826:84
[background_29]
type=layer
widthmode=minus
heightmode=minus
layer=necromancy

