// 1263:0
[universe]
type=layer
width=66
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
onload=script8420(xp_reward:background_layer, xp_reward:frame_layer, xp_reward:content_layer, xp_reward:close_button_layer, "Skill Selection", 21218, null)

// 1263:1
[background_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1263:2
[content_layer]
type=layer
y=32
width=16
height=40
widthmode=minus
heightmode=minus
xmode=abs_centre
layer=universe

// 1263:3
[titlebox]
type=layer
y=5
width=25
height=35
widthmode=minus
xmode=abs_centre
layer=content_layer
hide=yes

// 1263:4
[title]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=titlebox
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1
colour=0xcde1ff
onload=xp_reward_title(event_com, 1)

// 1263:5
[xp_type_choice]
type=layer
y=8
width=34
height=25
widthmode=minus
xmode=abs_centre
layer=content_layer
hide=yes

// 1263:6
[xp_type_title]
type=text
width=8192
widthmode=proportion
heightmode=minus
layer=xp_type_choice
textfont=museo_sans_11pt_regular
text=What sort of XP would you like?
textalignh=1
textalignv=1
textshadow=yes

// 1263:7
[xp_type_1_button]
type=graphic
x=15
width=18
height=18
xmode=abs_centre
ymode=abs_centre
layer=xp_type_choice
graphic=rs3_btn_radio_off
colour=0xffffff
clickmask=no
pausebutton=yes

// 1263:8
[xp_type_1]
type=text
x=43
width=30
heightmode=minus
xmode=abs_centre
layer=xp_type_choice
textfont=museo_sans_11pt_regular
text=XP
textalignv=1
textshadow=yes

// 1263:9
[xp_type_1_modifier]
type=text
x=65
width=50
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=xp_type_choice
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x00ff00

// 1263:10
[xp_type_2_button]
type=graphic
x=105
width=18
height=18
xmode=abs_right
ymode=abs_centre
layer=xp_type_choice
graphic=rs3_btn_radio_off
colour=0xffffff
clickmask=no
pausebutton=yes

// 1263:11
[xp_type_2]
type=text
x=20
width=80
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=xp_type_choice
textfont=museo_sans_11pt_regular
text=Bonus XP
textalignv=1
textshadow=yes

// 1263:12
[xp_type_2_modifier]
type=text
width=50
heightmode=minus
xmode=abs_right
ymode=abs_centre
layer=xp_type_choice
textfont=museo_sans_11pt_regular
textalignh=1
textalignv=1
textshadow=yes
colour=0x00ff00

// 1263:13
[skills]
type=layer
y=45
width=421
height=186
xmode=abs_centre
layer=content_layer

// 1263:14
[attack]
type=layer
width=45
height=45
layer=skills
onload=xp_reward_init(attack, event_com, xp_reward:background_1, xp_reward:confirm)

// 1263:15
[background_1]
type=layer
widthmode=minus
heightmode=minus
layer=attack

// 1263:16
[constitution]
type=layer
x=47
width=45
height=45
layer=skills
onload=xp_reward_init(hitpoints, event_com, xp_reward:background_22, xp_reward:confirm)

// 1263:17
[background_22]
type=layer
widthmode=minus
heightmode=minus
layer=constitution

// 1263:18
[mining]
type=layer
x=94
width=45
height=45
layer=skills
onload=xp_reward_init(mining, event_com, xp_reward:background_3, xp_reward:confirm)

// 1263:19
[background_3]
type=layer
widthmode=minus
heightmode=minus
layer=mining

// 1263:20
[strength]
type=layer
x=141
width=45
height=45
layer=skills
onload=xp_reward_init(strength, event_com, xp_reward:background_8, xp_reward:confirm)

// 1263:21
[background_8]
type=layer
widthmode=minus
heightmode=minus
layer=strength

// 1263:22
[agility]
type=layer
x=188
width=45
height=45
layer=skills
onload=xp_reward_init(agility, event_com, xp_reward:background_5, xp_reward:confirm)

// 1263:23
[background_5]
type=layer
widthmode=minus
heightmode=minus
layer=agility

// 1263:24
[smithing]
type=layer
x=235
width=45
height=45
layer=skills
onload=xp_reward_init(smithing, event_com, xp_reward:background_10, xp_reward:confirm)

// 1263:25
[background_10]
type=layer
widthmode=minus
heightmode=minus
layer=smithing

// 1263:26
[defence]
type=layer
x=282
width=45
height=45
layer=skills
onload=xp_reward_init(defence, event_com, xp_reward:background_15, xp_reward:confirm)

// 1263:27
[background_15]
type=layer
widthmode=minus
heightmode=minus
layer=defence

// 1263:28
[herblore]
type=layer
x=329
width=45
height=45
layer=skills
onload=xp_reward_init(herblore, event_com, xp_reward:background_12, xp_reward:confirm)

// 1263:29
[background_12]
type=layer
widthmode=minus
heightmode=minus
layer=herblore

// 1263:30
[fishing]
type=layer
x=376
width=45
height=45
layer=skills
onload=xp_reward_init(fishing, event_com, xp_reward:background_17, xp_reward:confirm)

// 1263:31
[background_17]
type=layer
widthmode=minus
heightmode=minus
layer=fishing

// 1263:32
[ranged]
type=layer
y=47
width=45
height=45
layer=skills
onload=xp_reward_init(ranged, event_com, xp_reward:background_9, xp_reward:confirm)

// 1263:33
[background_9]
type=layer
widthmode=minus
heightmode=minus
layer=ranged

// 1263:34
[thieving]
type=layer
x=47
y=47
width=45
height=45
layer=skills
onload=xp_reward_init(thieving, event_com, xp_reward:background_7, xp_reward:confirm)

// 1263:35
[background_7]
type=layer
widthmode=minus
heightmode=minus
layer=thieving

// 1263:36
[cooking]
type=layer
x=94
y=47
width=45
height=45
layer=skills
onload=xp_reward_init(cooking, event_com, xp_reward:background_24, xp_reward:confirm)

// 1263:37
[background_24]
type=layer
widthmode=minus
heightmode=minus
layer=cooking

// 1263:38
[prayer]
type=layer
x=141
y=47
width=45
height=45
layer=skills
onload=xp_reward_init(prayer, event_com, xp_reward:background_16, xp_reward:confirm)

// 1263:39
[background_16]
type=layer
widthmode=minus
heightmode=minus
layer=prayer

// 1263:40
[crafting]
type=layer
x=188
y=47
width=45
height=45
layer=skills
onload=xp_reward_init(crafting, event_com, xp_reward:background_18, xp_reward:confirm)

// 1263:41
[background_18]
type=layer
widthmode=minus
heightmode=minus
layer=crafting

// 1263:42
[firemaking]
type=layer
x=235
y=47
width=45
height=45
layer=skills
onload=xp_reward_init(firemaking, event_com, xp_reward:background_11, xp_reward:confirm)

// 1263:43
[background_11]
type=layer
widthmode=minus
heightmode=minus
layer=firemaking

// 1263:44
[magic]
type=layer
x=282
y=47
width=45
height=45
layer=skills
onload=xp_reward_init(magic, event_com, xp_reward:background_2, xp_reward:confirm)

// 1263:45
[background_2]
type=layer
widthmode=minus
heightmode=minus
layer=magic

// 1263:46
[fletching]
type=layer
x=329
y=47
width=45
height=45
layer=skills
onload=xp_reward_init(fletching, event_com, xp_reward:background_6, xp_reward:confirm)

// 1263:47
[background_6]
type=layer
widthmode=minus
heightmode=minus
layer=fletching

// 1263:48
[woodcutting]
type=layer
x=376
y=47
width=45
height=45
layer=skills
onload=xp_reward_init(woodcutting, event_com, xp_reward:background_4, xp_reward:confirm)

// 1263:49
[background_4]
type=layer
widthmode=minus
heightmode=minus
layer=woodcutting

// 1263:50
[runecraft]
type=layer
y=94
width=45
height=45
layer=skills
onload=xp_reward_init(runecraft, event_com, xp_reward:background_25, xp_reward:confirm)

// 1263:51
[background_25]
type=layer
widthmode=minus
heightmode=minus
layer=runecraft

// 1263:52
[slayer]
type=layer
x=47
y=94
width=45
height=45
layer=skills
onload=xp_reward_init(slayer, event_com, xp_reward:background_13, xp_reward:confirm)

// 1263:53
[background_13]
type=layer
widthmode=minus
heightmode=minus
layer=slayer

// 1263:54
[farming]
type=layer
x=94
y=94
width=45
height=45
layer=skills
onload=xp_reward_init(farming, event_com, xp_reward:background_19, xp_reward:confirm)

// 1263:55
[background_19]
type=layer
widthmode=minus
heightmode=minus
layer=farming

// 1263:56
[construction]
type=layer
x=141
y=94
width=45
height=45
layer=skills
onload=xp_reward_init(construction, event_com, xp_reward:background_14, xp_reward:confirm)

// 1263:57
[background_14]
type=layer
widthmode=minus
heightmode=minus
layer=construction

// 1263:58
[hunter]
type=layer
x=188
y=94
width=45
height=45
layer=skills
onload=xp_reward_init(hunter, event_com, xp_reward:background_20, xp_reward:confirm)

// 1263:59
[background_20]
type=layer
widthmode=minus
heightmode=minus
layer=hunter

// 1263:60
[summoning]
type=layer
x=235
y=94
width=45
height=45
layer=skills
onload=xp_reward_init(summoning, event_com, xp_reward:background_21, xp_reward:confirm)

// 1263:61
[background_21]
type=layer
widthmode=minus
heightmode=minus
layer=summoning

// 1263:62
[dungeoneering]
type=layer
x=282
y=94
width=45
height=45
layer=skills
onload=xp_reward_init(dungeoneering, event_com, xp_reward:background_23, xp_reward:confirm)

// 1263:63
[background_23]
type=layer
widthmode=minus
heightmode=minus
layer=dungeoneering

// 1263:64
[divination]
type=layer
x=329
y=94
width=45
height=45
layer=skills
onload=xp_reward_init(divination, event_com, xp_reward:background_26, xp_reward:confirm)

// 1263:65
[background_26]
type=layer
widthmode=minus
heightmode=minus
layer=divination

// 1263:66
[invention]
type=layer
x=376
y=94
width=45
height=45
layer=skills
onload=xp_reward_init(invention, event_com, xp_reward:background_27, xp_reward:confirm)

// 1263:67
[background_27]
type=layer
widthmode=minus
heightmode=minus
layer=invention

// 1263:68
[archaeology]
type=layer
x=-24
y=141
width=45
height=45
xmode=abs_centre
layer=skills
onload=xp_reward_init(archaeology, event_com, xp_reward:background_28, xp_reward:confirm)

// 1263:69
[necromancy]
type=layer
x=24
y=141
width=45
height=45
xmode=abs_centre
layer=skills
onload=xp_reward_init(necromancy, event_com, xp_reward:background_29, xp_reward:confirm)

// 1263:70
[background_28]
type=layer
widthmode=minus
heightmode=minus
layer=archaeology

// 1263:71
[outputbox]
type=layer
y=35
width=340
height=25
xmode=abs_centre
ymode=abs_bottom
layer=content_layer

// 1263:72
[output_background]
type=layer
widthmode=minus
heightmode=minus
layer=outputbox
onload=rs3_background_panel(event_com, rs3_content_container_active)

// 1263:73
[output]
type=text
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=outputbox
textfont=museo_sans_11pt_regular_multiline
textalignh=1
textalignv=1

// 1263:74
[confirm]
type=layer
x=110
y=4
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=content_layer
onload=xp_reward_confirm_init(event_com, xp_reward:confirm_button_disabled_layer, xp_reward:output)

// 1263:75
[confirm_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm
onload=script7041(event_com)

// 1263:76
[confirm_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm
onload=script7042(event_com)

// 1263:77
[confirm_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm
onload=script7044(event_com)

// 1263:78
[confirm_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=confirm
onload=script4213(event_com)

// 1263:79
[confirm_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm
hide=yes
onload=script7060(event_com)

// 1263:80
[confirm_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm

// 1263:81
[confirm_button_text]
type=text
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=confirm_button_text_layer
textfont=cinzel_13pt_bold
text=Confirm
textalignh=1
textalignv=1
colour=0x000000
onload=script7061(event_com)

// 1263:82
[later]
type=layer
x=-110
y=4
width=150
height=27
xmode=abs_centre
ymode=abs_bottom
layer=content_layer
pausebutton=yes
pausetext=Cancel

// 1263:83
[cancel_button_on_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later
onload=script7275(event_com)

// 1263:84
[cancel_button_over_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later
onload=script7276(event_com)

// 1263:85
[cancel_button_hit_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later
onload=script7277(event_com)

// 1263:86
[cancel_button_active_layer]
type=layer
widthmode=minus
heightmode=minus
layer=later
onload=script4213(event_com)

// 1263:87
[cancel_button_disabled_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later
hide=yes
onload=script7572(event_com)

// 1263:88
[cancel_button_text_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=later

// 1263:89
[cancel_button_text]
type=text
width=10
widthmode=minus
heightmode=minus
xmode=abs_centre
ymode=abs_centre
layer=cancel_button_text_layer
textfont=cinzel_13pt_bold
text=Cancel
textalignh=1
textalignv=1
colour=0x000000
onload=script7601(event_com)

// 1263:90
[frame_layer]
type=layer
widthmode=minus
heightmode=minus
layer=universe

// 1263:91
[close_button_layer]
type=layer
widthmode=minus
heightmode=minus
xmode=abs_right
layer=universe
transmitop1=yes
op1=Close
onop=closebutton_click

// 1263:92
[background_29]
type=layer
widthmode=minus
heightmode=minus
layer=necromancy

